


@{ViewBag.Title = "Extra police to help keep Night Tube passengers safe";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Extra police to help keep Night Tube passengers safe</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Extra police to help keep Night Tube passengers safe</h1>
        <div class="content-page-press-release">
        15 August 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">

    <div class="article-teaser">
        Mayor is investing an extra &pound;3.4 million in police funding, and all stations will be fully staffed
    </div>



<div class="pull-quote">
        <div class="quote-body">"Passengers on the Night Tube must be able to travel with the same confidence they are used to during the day. That's why we're investing &pound;3.4 million to ensure that dedicated officers are on hand to offer the support and visible reassurance Londoners expect"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>British Transport Police (BTP) officers will be patrolling on stations and trains when Night Tube services begin on the Central and Victoria lines this weekend, TfL has confirmed.</p>
<p>The deployment will help customers travel with confidence, and is part of an investment by TfL of an extra &pound;3.4 million towards policing for the Night Tube.</p>
<p>This will see around 100 officers out on the network when full services are underway, with at least as many officers out during the night as would be seen during the day.</p>
<h2>Rapid-repsonse</h2>
<p>A state-of-the-art BTP Control Centre is co-located with London Underground's Control Centre, both of which operate 24-hours a day, meaning that any incident can be spotted and responded to quickly.</p>
<p>Officers will be supported by BTP rapid-response vehicles spread across London and by more than 12,000 CCTV cameras across the network.</p>
<p>All stations will be staffed throughout the night, ensuring passengers always have someone to speak to should they have any questions or need assistance.</p>
<p>Officers from the Metropolitan Police Service, responsible for policing beyond the Tube stations, will also be at key hubs and bus stations assisting passengers where necessary.</p>
<h2>Crime rates have fallen</h2>
<p>Crime on London's transport network is low, with crime rates having fallen by more than 20% over the last five years. Evidence from 24-hour metros around the world also suggests that crime levels at night are no greater than during the day.</p>
<p>The first two Tube lines, Victoria and Central, start operating Night Tube services at 51 stations on Friday and Saturday nights from this weekend (19 and 20 August).</p>
<p>Mayor of London, Sadiq Khan, said: 'The opening of the Night Tube marks the start of an exciting new chapter in London's life. It will unlock the full potential of London's night time economy and support the thousands of Londoners who travel to or from work at night.</p>
<p>'Keeping Londoners safe is my number-one priority. The extra investment in British Transport Police officers will ensure that all Londoners using the Night Tube feel safe, whether getting back from work or going out at the weekend with friends.</p>
<p>'Passengers on the Night Tube must be able to travel with the same confidence they are used to during the day. That's why we're investing &pound;3.4 million to ensure that dedicated officers are on hand to offer the support and visible reassurance Londoners expect.'</p>
<h2>Quick, reliable and affordable</h2>
<p>Inspecting preparations for Night Tube service, Mark Wild, TfL's Managing Director for London Underground, said: 'The Night Tube is going to be great for London, with quick, reliable and affordable night time journeys making life easier for Londoners.</p>
<p>'Along with the police we looked at 24-hour metro services all over the world and found that crime is no greater during the night than it is in the day.</p>
<p>'But we want to make sure all of our customers can travel with confidence. That's why we are investing in this highly visible presence of officers who, alongside our staff at every station, will be on hand to assist customers and ensure they get around safely.'</p>
<h2>Visible uniformed presence</h2>
<p>British Transport Police, Chief Superintendent Martin Fry, said: 'We have recruited extra police officers in order to ensure there is a visible uniformed presence across the network on Friday and Saturday nights.</p>
<p>'Station staff and passengers will see a presence at key stations, and mobile teams who will travel the lengths of the Central and Victoria lines throughout the night and the Northern, Piccadilly and Jubilee lines, once they are open.</p>
<p>'A network of BTP rapid-response vehicles across London will also be in place to ensure police will be ready to attend any incident quickly.</p>
<p>'Police presence will be backed up by CCTV cameras across the network, supported by the London Underground Control Centre, which operates 24-hours a day, seven days a week, working closely with the police to respond to any incidents that may occur.</p>
<p>'Night Tube will be of great benefit to the whole of London &#45; and British Transport Police is working with Transport for London, the Metropolitan Police Service, London Ambulance Service and London Fire Brigade to ensure the Underground remains a safe environment.'</p>
<h2>Safe and secure environment</h2>
<p>Chief Inspector Colin Carswell, of the Roads and Transport Policing Command (RTPC), which leads the Metropolitan Police Service's response to the implementation of the Night Tube, said: 'The Night Tube is a great welcome to London's 24-hour economy.</p>
<p>'The RTPC will continue working with TfL and policing colleagues from BTP to keep the transport network a safe and secure environment.'</p>
<p>City of London Police, Superintendent Paul Clements, said: 'We already have a robust, visible policing strategy across the City throughout Friday and Saturday nights, and we are confident we will be prepared and ready to attend all incidents quickly.</p>
<p>'However, we are not complacent and we are aware that extra Tube services are likely to mean greater footfall in the area, allowing people to visit licensed premises for longer, or to vary their working hours within the City, for instance.</p>
<p>'We're determined to ensure The City of London remains a low-crime environment, and we are working closely with our colleagues from Transport for London, Metropolitan Police and British Transport Police to ensure everyone gets to and from their destinations in a safe and secure manner when the new services start.'</p>
<p>Although the Night Tube will provide a safe and easy environment to make their journeys, passengers should make sure their last mile home is also a safe one by either using a Night Bus, black cabs or pre-booked minicab with a licensed operator.</p>
<p>Minicabs can either be booked in person at a minicab office, over the telephone or via a cab booking app. Any minicab driver who picks up an unbooked passenger off the street is acting illegally.</p>
<p>&nbsp;</p>
<hr />
<p><strong>Notes to Editors:</strong></p>
<ul>
    <li>Night Tube is set to transform night time journeys across London with journey times on the Victoria and Circle line cut by an average of 20 minutes, with some reduced by more than an hour</li>
    <li>It will support around 2,000 permanent jobs and boost London's economy by &pound;360m</li>
    <li>Further information on the Night Tube can be found at: tfl.gov.uk/nighttube</li>
    <li>To view the 'Safety on the Night Tube' video, visit: <a href="https://www.youtube.com/watch?v=EQdmRhl-NJo">youtube.com/watch?v=EQdmRhl-NJo</a></li>
    <li>Crime or any anti-social behaviour on the Night Tube can be reported to BTP via the discreet text messages service 61016. In an emergency always call 999</li>
    <li>For test night photos, email <a href="mailto:pressoffice&#64;tfl.gov.uk">pressoffice&#64;tfl.gov.uk</a></li>
    <li>Below are two case studies, one of an Operations Manager at the London Underground Control Centre and the other of a BTP PC which can be used in publications. For photos of Karl Walker and PC Harry Knott email <a href="mailto:pressoffice&#64;tfl.gov.uk">pressoffice&#64;tfl.gov.uk</a></li>
</ul>
<h3>Karl Walker, 32, Network Operations Manager</h3>
<p>Working in the London Underground Control Centre my job involves keeping the Tube network operating no matter what's happening on the tracks or in the stations.</p>
<p>We already operate 24 hours a day, seven days a week and our office works shifts so passengers can be assured there's always a team keeping a watchful eye. We also have our own dedicated response teams on standby who will also be available when Night Tube launches, so it'll be very much business as usual.<br />
We work extremely closely with the emergency services and it's my job to contact them immediately if there is ever a problem.</p>
<p>The British Transport Police actually has an office within our Control Centre, which means that if there's anything happening we can speak to them instantly.</p>
<p>Another aspect to my role is ensuring that if there's ever a problem on the line such as a broken down train, it doesn't have a knock-on effect on other Tube lines and stations, grinding the whole network to a halt!</p>
<p>What I enjoy most is knowing the actions I take have an effect on peoples' days, sometimes when they don't even realise it.</p>
<p>When Night Tube launches I think it will make a big difference to passengers. There won't be a rush of people trying to catch the last train home so it should make for a more relaxing experience not just for passengers, but also staff.</p>
<p>I'm actually on shift during the first night of THE Night Tube and will be working hard to make sure your journey home or to work is a pleasant one.</p>
<h3>PC Harry Knott, 25, British Transport Police</h3>
<p>Every day is different when you're an officer patrolling the Tube, although every shift starts with a briefing, you have no idea where the day will take you. One minute you could be on routine patrol, the next dealing with an antisocial behaviour problem or major incident.</p>
<p>I work really closely with Transport for London's station staff and enjoy building rapports with passengers, ensuring that people are not only safe but also feel safe whilst travelling. I'm not only there to prevent crime, but also the fear of crime.</p>
<p>Like during the day, when Night Tube launches at the weekend you can approach any officer to ask for advice, support or report a crime. Above all, we want to make sure you get home safely and securely.</p>
<p>Night Tube will benefit so many people from all works of life and it'll make it easier for people like me to get home after a shift.</p>
<p>I expect policing the Night Tube to have its own quirks, but what's important is that officers will be there to ensure that people can get home safely and securely.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-August-Extra police to help keep Night Tube passengers safe -->

 
 


 