


@{ViewBag.Title = "First signals turn green for the upgrade of the Tube network";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">First signals turn green for the upgrade of the Tube network</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>First signals turn green for the upgrade of the Tube network</h1>
        <div class="content-page-press-release">
        07 June 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">

    <div class="article-teaser">
        Circle, District, Hammersmith & City and Metropolitan lines &#45; 40% of the Tube network &#45; are set for radical modernisation
    </div>



<div class="pull-quote">
        <div class="quote-body">"The use of this newer, more sophisticated signalling system will mean more frequent, more reliable and less crowded journeys and will help us meet rapidly growing customer demand"</div>
        <div class="quote-footer">
            <div class="quotee-name">Andrew Pollins</div>
            <div class="quotee-job-title">Managing Director of London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL today announced that the first milestone in its vital modernisation programme of the next four London Underground lines has been met.</p>
<p>Installation of new signalling equipment has begun on track between Edgware Road and Hammersmith &#45; the first of a complete overhaul of the signalling and control systems across the Circle, District, Hammersmith &amp; City and Metropolitan lines.</p>
<p>The new signalling will allow London Underground (LU) to run more trains, more quickly, providing a 33% increase in capacity across the four lines by the early 2020s.</p>
<h2>Performance and reliability have improved</h2>
<p>The new signalling is being provided by Thales &#45; the global transportation systems provider &#45; and is similar to the systems now successfully being used on the Jubilee and Northern lines, where performance and reliability have improved and journey times have been cut.</p>
<p>The new signalling system will be installed in sections across the four lines between now and 2021 with the main benefits being delivered by 2022, when the frequency of trains running during peak periods will increase to 32 trains per hour in central London &#45; a train every two minutes &#45; with frequency increases at other times as well.</p>
<h2>Sophisticated signalling system</h2>
<p>Andrew Pollins, Managing Director of London Underground, said: 'This is a major step in delivering this vital upgrade for millions of our customers. The signalling system on these lines is some of the oldest in use anywhere in the world, with parts of it dating back to the 1930s.</p>
<p>'The use of this newer, more sophisticated signalling system will mean more frequent, more reliable and less crowded journeys and will help us meet rapidly growing customer demand.'</p>
<p>Alistair McPhee, Vice President of the Ground Transportation Systems business at Thales, said: 'The achievement of this major milestone on the Four Lines Modernisation project is a great testament to the continuing success of our 'One Team' approach &#45; Thales and London Underground delivering a better service to passengers together.</p>
<p>'Getting installation underway takes us another step forward on our journey to provide the capacity on the network that London needs'.</p>
<h2>Millions of passengers</h2>
<p>This next major phase of the Tube's modernisation will bring faster, more frequent and more reliable journeys to millions of passengers who use the Circle, District, Hammersmith &amp; City and Metropolitan lines.</p>
<p>As a result, up to 1,100 jobs and 60 apprenticeships will be sustained or created, both in London and across the UK.</p>
<p>Customers are already seeing improved services on the four lines as TfL completes the introduction of the new air-conditioned trains on the entire network in 2016.</p>
<h2>Increase capacity</h2>
<p>Further benefits will include a train control system, which will increase capacity further starting with services in central London from late 2021, with additional frequent services at peak times. Throughout 2022 and due for completion by 2023, further improvements to peak and off peak services will take place.</p>
<p>Once these four lines have been completed, LU will then move on to introducing new trains and control systems for the Piccadilly, Central, Bakerloo, and Waterloo &amp; City lines.</p>
<p>&nbsp;</p>
<hr />
<p><strong>Notes to Editors</strong></p>
<ul>
    <li>The Circle, District, Hammersmith &amp; City and Metropolitan lines together make up nearly 40% of the network and include the oldest part of the network built in 1863.  As well as circling central London, the lines reach out to suburbs to the West, North West and East of the Capital.  Between them the four lines carry around 1.3 million passengers a day &#45; more than many European countries carry on their entire rail networks</li>
    <li>Some of the current signalling system belongs in a museum, having been operating safely, but in a very basic way, since the early years of the last century. It is not capable of running trains close enough together to give Londoners the type of high-frequency service they need. Once completed there will be trains every 2 minutes across much of this part of the network in Central London.</li>
</ul>
<p><strong>About Thales</strong><br />
Thales is a global technology leader for the Aerospace, Transport, Defence and Security markets. With 61,000 employees in 56 countries, Thales reported sales of &euro;13 billion in 2014. With over 20,000 engineers and researchers, Thales has a unique capability to design and deploy equipment, systems and services to meet the most complex security requirements. Its unique international footprint allows it to work closely with its customers all over the world. Thales UK employs 7,500 staff based at 35 locations.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-June-First signals turn green for the upgrade of the Tube network -->

 
 


 