


@{ViewBag.Title = "First section of brand new Tube signalling goes live";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">First section of brand new Tube signalling goes live</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>First section of brand new Tube signalling goes live</h1>
        <div class="content-page-press-release">
        20 March 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Signalling upgrade will mean quicker, more frequent services on Circle, District, Hammersmith & City and Metropolitan lines from 2021
        
    </div>



 <div class="on-this-page">
<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The first section of brand-new signalling set to transform nearly half of the Tube network has begun operation, Transport for London (TfL) has announced. The new Thales signalling system, which will boost capacity on four Tube lines, is now operating between Hammersmith and Latimer Road, the first part of the network to benefit from the improvements.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The new signalling system will allow trains to run closer together on the Circle, District, Hammersmith &amp; City and Metropolitan lines, meaning the train frequency will increase in central London from 28 to 32 per hour when complete. It will also improve the reliability of these lines. The frequency increases will be introduced from 2021, with the project targeted for completion in 2023. This&nbsp;will lead to a capacity increase of a third on the four lines, equivalent to the space for an extra 36,500 customers during peak times.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">This modernisation programme will eventually transform the oldest parts of the Tube network into one of the most modern railways in the world, providing better customer information and making journeys quicker and more comfortable. The new, state-of-the-art signal control centre at Hammersmith is already operational, and the new S-stock Tube trains have been running exclusively on the four lines since 2017.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Stuart Harvey, TfL's Director of Major Projects, said:</strong> `The modernisation of these four lines will make a massive difference to hundreds of thousands of customers every day by making journeys quicker and more comfortable. It will also make customer information more accurate and improve reliability in the long-term. The introduction of the first section of new signalling is a really exciting step for the Tube, and for everyone who uses these lines.'</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Shaun Jones, VP, Ground Transportation Systems, Thales, commented:</strong> `The successful introduction of this section is a significant step on the journey to upgrade the signalling system of this highly complex railway. This further demonstrates the capabilities of Thales technology, leading to a reliable railway that enables capacity improvements for people travelling throughout London. Thales is proud of our longstanding partnership with TfL, as we continue to work together to modernise the London Underground.'</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Although there is a chance of some short delays on the Circle and Hammersmith &amp; City lines as the new system gets underway, so far it has been working well. TfL has worked hard to make the system as reliable as possible, and plans have been put into place to ensure that any potential delays are kept to an absolute minimum.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The modernisation of the four lines will mean that some of the oldest equipment on the Tube network will be replaced. This includes signal boxes across the network, including one at Edgware Road that was built in 1926. The lines carry a combined 1.3 million customers per day, all of whom are already benefitting from the new, walk-through, air-conditioned trains that were introduced for the first time in 2010.</span></span></p>

<p><span style="font-size:12.0pt">The programme will play a key part in encouraging more people to use public transport, contributing to the Mayor's target of 80 per cent of journeys made by public transport, cycling or walking by 2041. Other projects, like the improvement of timetables and provision of better accessibility across the network, will also play an important role.</span></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-March-First section of brand new Tube signalling goes live -->

 
 
        
        
            @{ViewBag.Description = "First section of brand new Tube signalling goes live";}
        
        


 