


@{ViewBag.Title = "Get set and plan ahead for the 2016 Virgin Money London Marathon";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Get set and plan ahead for the 2016 Virgin Money London Marathon</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Get set and plan ahead for the 2016 Virgin Money London Marathon</h1>
        <div class="content-page-press-release">
        11 April 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">



 <div class="on-this-page">
<p>The Capital will play host to the 2016 Virgin Money London Marathon on Sunday 24 April. Transport for London (TfL) is urging runners, spectators, passengers and motorists to plan their journeys in advance and find out where to expect crowds and road closures.</p>
<p>The London Marathon is one of the largest mass-participation events in the world, with this year's expected to be the biggest on record. There will be some road closures, with central London particularly affected, as well as several changes to bus services. Many stations are expected to be busier than usual with hundreds of thousands of spectators expected to turn out to support over 35,000 people, including world class athletes, celebrities and eager runners, raising millions of pounds for charities.</p>
<p>Participants and visitors are advised to check out the dedicated TfL travel information guide at tfl.gov.uk/marathon for detailed travel advice. Real time travel information will also be provided through TfL's social media channels throughout the day at <a href="http://tfl.gov.uk/socialmedia">tfl.gov.uk/socialmedia</a>.</p>
<p>TfL Travel Ambassadors in their magenta uniforms will be out on marathon day at Tube stations along the Virgin Money London Marathon route, providing travel information and assistance to customers.</p>
<p>London's Transport Commissioner, Mike Brown MVO, said: `The London Marathon is a sporting institution in the Capital which attracts thousands of runners and spectators every year. We have TfL employees who are taking part in the race, raising money for causes close to their hearts and I wish them, and all the other participants, the very best of luck.'</p>
<p>'Public transport is the easiest way to get around on the day and I encourage anyone travelling around south east and central London to plan their journey in advance.'</p>
<p>The most convenient way to travel to and from the race will be by London Underground, Docklands Light Railway (DLR), bus or London Overground.</p>
<p>From 07:00, there will be a number of road closures in south east and central London, from Greenwich Park to St James's Park. Central and City closures will include all approaches to Upper Thames Street, Tower Hill and Victoria Embankment. Rotherhithe Tunnel, Tower, Southwark and Westminster Bridges will also be closed.</p>
<p>Motorists are advised to plan ahead and avoid driving near the affected areas, or travel at a different time if possible, and allow more time for their journey. There will be a phased reopening of the roads from around midday with all roads expected to be fully reopened by 19:00.</p>
<p>The route will take runners past some of London's most famous and historic landmarks. All visitors are advised to plan their day carefully and to avoid busy areas, in particular Greenwich town centre, Cutty Sark and Tower Bridge. Spectators can choose the best place to watch here: route map.</p>
<p>TfL's services will continue to keep London moving throughout the event and all runners, race officials and on-duty St John Ambulance volunteers will be able to travel for free from early morning until 18:30 on London Underground, London Buses, London Overground, DLR and Tram by showing their race number, officials' course pass or tabard.</p>
<p>On the weekend of 23 and 24 April, another event will be taking place along the Southbank to celebrate the works of William Shakespeare. A series of 37 screens showing famous plays will show footage on a loop from 10:00 &#45; 20:00 and will be located along the pedestrian walkway between Westminster and Tower Bridges. More information can be found on The Globe Website. As a result, Waterloo, London Bridge and Southwark stations will be especially busy on marathon day.</p>
<p>Ends</p>
<p>Notes to Editors:</p>
<ul>
    <li>For detailed travel advice please visit https://tfl.gov.uk/marathon</li>
    <li>The course of the 2016 Virgin Money London Marathon is 26.2 miles long, virtually the same as running the entire length of the Victoria line (13.25 miles) twice or the entire length of the Waterloo and City line (1.47 miles) around 18 times.</li>
</ul>
<p>•	Stations located close to the London Marathon Route include:</p>
<ul>
    <li>Cutty Sark DLR (Mile 6+7)</li>
    <li>Canada Water (Mile 9)</li>
    <li>London Bridge (Mile 12)</li>
    <li>Tower Hill/ Tower Gateway (Mile 13)</li>
    <li>Shadwell DLR (Mile 13+22)</li>
    <li>Canary Wharf (Between Mile 14+15)</li>
    <li>Limehouse (Mile 14)</li>
    <li>Crossharbour DLR (Mile 18)</li>
    <li>Monument (Mile 23)</li>
    <li>Mansion House (Mile 23+24)</li>
    <li>Temple (Mile 23+24)</li>
    <li>Charing Cross (Mile 24)</li>
    <li>Embankment (Mile 25)</li>
    <li>Green Park / St James's Park (Finish Line)</li>
</ul>
<ul>
    <li>Work on the East-West Cycle Superhighway along the route will be substantially complete ahead of the Marathon, with the traffic management and closures removed to facilitate the event.</li>
    <li>To allow third parties to understand the extent, scope and timing of the road closures, a data set has been created of all the road closures that will be in place for this year's London Marathon. This has been produced using an industry data exchange standard called DATEX II. This is part of a pilot TfL is trialing of a different approach to releasing data, with the intention of helping developers make great products for drivers. Read about data usage for the Virgin Money London Marathon on the TfL Digital Blog.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-April-Get set and plan ahead for the 2016 Virgin Money London Marathon -->

 
 


 