


@{ViewBag.Title = "GLA - Councils unite to call for Crossrail 2 backing";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Councils unite to call for Crossrail 2 backing</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Councils unite to call for Crossrail 2 backing</h1>
        <div class="content-page-press-release">
        13 April 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Councils from across London and the South East call for government support for Crossrail 2
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The support of local councils from Cambridge through to Portsmouth shows just how important Crossrail 2 is, not just to London but to the entire South East"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p><span style="text-decoration: underline;"><em><strong>This press release, issued by the Mayor of London, was first published <a href="https://www.london.gov.uk/press-releases/mayoral/councils-call-on-government-for-crossrail-backing">here</a></strong></em></span></p>
<p>&nbsp;</p>
<ul>
    <li>Rail link is vital to avoid further overcrowding on commuter lines</li>
    <li>Crossrail 2 would grow the UK economy by up to &pound;150billion, support 200,000 new homes and 200,000 jobs</li>
</ul>
<p >Councils from across London and the South East have today (April 13) joined together to pledge their support for Crossrail 2 and urge the government to give the scheme its full backing.</p>
<p>Councils stretching from Cambridge to Portsmouth, and London Councils, which represents London's 32 borough councils and the City of London, have written to the Chancellor, Philip Hammond, and Transport Secretary, Chris Grayling, to highlight the project's importance to them, and to stress that the benefits of the railway would be felt nationwide.</p>
<p>Crossrail 2 will transform journey times and connectivity from the Solent to the Wash. It will relieve congestion on the overcrowded key rail lines from Portsmouth to Cambridge, and link with HS2 at Euston. It will also relieve pressure on the Underground, as the population of the South East region continues to grow rapidly.</p>
<p>With the overcrowded rail network threatening to stunt economic growth, the dangers of delaying the project are clear. For commuters travelling into London, overcrowding is already intolerable and, without the much needed additional capacity Crossrail 2 provides, stations including Waterloo, Clapham Junction and Euston will simply buckle under the strain of chronic overcrowding, while the London Underground will face more regular closures and some of the benefits of HS2 will be lost in chaotic transport connections.</p>
<p>Today's letter has also highlighted that the new railway will bring economic benefits across the UK, boosting the country's economy by up to &pound;150bn. It will support some 200,000 new homes and 200,000 jobs, and generate 60,000 supply chain jobs across the UK, including 18,000 apprentices. It will open up areas for growth and new jobs, including in the Cambridge-Stansted corridor and in the south west of London, and local businesses will also benefit from improved capacity across the region.</p>
<p>The letter is the latest in a series of support for Crossrail 2, following backing from more than 70 business leaders as well more than 60 leading figures from the property industry and housing associations.</p>
<p>London has already committed to meeting half the cost &#45; unlike other nationally significant projects that do not receive such levels of local funding. But now the project needs a commitment from ministers.</p>
<p>Cllr Claire Kober, Chair of London Councils, said: </p>
<p>'London Councils fully supports Crossrail 2 and it is crucial that government now demonstrates its commitment to the scheme.  The project will provide a much-needed boost to business across the UK in an uncertain economic environment, and is vital to relieve pressure on London's essential transport network, which is impacted by population growth. We look forward to seeing the plans given full backing by ministers.'</p>
<p>Cllr Linda Haysey, Leader of East Herts Council, said: </p>
<p>'At East Herts, we believe that Crossrail 2 is vital for driving and supporting growth in the district and in the wider South East, and would be welcomed by residents and businesses. With current overcrowding on trains and increased traffic in and around the district, there is a huge demand for better train services. Crossrail 2 will not only help residents who commute on a regular basis, but it will also encourage new residents, workers and visitors into East Herts.'</p>
<p>Cllr Donna Jones, Leader of Portsmouth City Council, said: </p>
<p>'Many commuters from Portsmouth and the wider south east rely on a quick and efficient rail service into London, but with rising passenger numbers demand is outstripping capacity. Crossrail 2 would provide much needed capacity at London Waterloo, enabling extra, long-distance trains to operate more reliably to and from key cities such as ours.  We urge Government to back these plans as a priority.'</p>
<p>The Mayor of London, Sadiq Khan, said: </p>
<p>'The support of local councils from Cambridge through to Portsmouth shows just how important Crossrail 2 is, not just to London but to the entire South East. It will provide much-needed relief for commuters who are forced to travel on overcrowded rail lines every single day, and unlock thousands of homes and jobs across the region. But Crossrail 2 is not just vital to the South East, its economic boost is vital to the whole of the UK. That's why it's so important that the government gives us its backing to proceed as soon as possible.'</p>
<p>TfL has submitted an updated business case and funding plan to the Transport Secretary‎, who is due to make a decision in the spring on further Government support. Construction could start in the early 2020s and the railway could be operational by 2033.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>Crossrail 2 will connect National Rail networks in Surrey and Hertfordshire with an underground tunnel beneath central London between Wimbledon and Tottenham Hale and New Southgate.</li>
    <li>Benefits to the economy, jobs and housing calculated by analysis from Crossrail 2.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/46653">May</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-April-GLA - Councils unite to call for Crossrail 2 backing -->

 
 
        
        
            @{ViewBag.Description = "Councils unite to call on government for Crossrail 2 backing";}
        
        


 