


@{ViewBag.Title = "GLA - Mayor's Action Plan to get more Londoners cycling";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Mayor's Action Plan to get more Londoners cycling</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Mayor's Action Plan to get more Londoners cycling</h1>
        <div class="content-page-press-release">
        17 December 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New quality standards will ensure cycle routes are welcoming for all Londoners to use
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Getting more Londoners cycling is essential for our city's future health and prosperity, and our new Action Plan launched today shows how we're going to go further than ever before to make this a reality"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>This press release, issued by the Mayor of London, was first published on <a href="[ioID]#https://www.london.gov.uk/press-releases/mayoral/action-plan-to-get-more-londoners-cycling">london.gov.uk</a></p>

<ul>
	<li>&nbsp;Work on a number of major new routes to begin in 2019</li>
	<li>World's first Cycling Infrastructure database will make more information available for app-based journey planning</li>
	<li>Action Plan outlines largest funded investment in improved cycling infrastructure of any city in the UK</li>
</ul>

<p>The Mayor of London and Transport for London (TfL) have unveiled an ambitious plan to create a unified, London-wide cycle network across London, with new quality standards for the building of new cycling infrastructure.</p>

<p>The Cycling Action Plan sets out how TfL and the London boroughs will use cycling to help address poor air quality and congestion, while improving infrastructure to make cycling even easier safer and more accessible for everyone.</p>

<p>The Mayor wants to increase the proportion of people walking, cycling and taking public transport to 80 per cent of journeys by 2041, from 63 per cent now. The plan will see cycling journeys double over the next six years, through measures such as:</p>

<ul>
	<li>Work on routes between Tottenham Hale and Camden, and Hackney and the Isle of Dogs, is due to begin next year following consultations, as well as construction of a number of other major cycle routes across the capital including Cycle Superhighways 4 (Tower Bridge to Greenwich) and 9 (Olympia to Brentford)</li>
	<li>Ensuring that all new routes in the capital meet strict new quality standards, based on the latest evidence, with a focus on traffic volumes and speeds.</li>
	<li>Launching the world's first Cycling Infrastructure Database, a comprehensive digital record of all cycling facilities on the streets of the capital, which will lead to a step-change in the accuracy and quality of cycling data in London. The CID will be made available to everyone, free of charge, through our open-data platform. The data will have a range of applications including personalised journey planning and information about on-street cycle parking. &nbsp;</li>
	<li>Significantly increasing the number of schools engaged with TfL's free cycle training and active travel programme STARS, as well as doubling the number of adults who receive free cycle training each year</li>
</ul>

<p>In 2019, TfL will begin using a single brand for all cycle routes, merging the two existing Cycle Superhighway and Quietway brands into a single system where a Pan-London network is delivered in line with new quality criteria, supported by simple, easy-to-use signs. This comes after clear feedback from Londoners on the current brands, which can be misleading &#45; especially for those new to cycling &#45; and is in line with best practice from the world's top cities for cycling. The identity for the new network will be revealed in early 2019.</p>

<p>The new standards will include six quality criteria to shape the design of cycling infrastructure and to make it clear to boroughs what we will and will not fund. These will include volumes and speed of motor traffic, numbers of HGVs and collision risk at junctions. The detailed criteria will be included as an update to the London Cycle Design Standards in 2019, and will be regularly reviewed as part of the continuing development of cycling infrastructure design. The aim is that, where traffic levels are high, cycle routes will either need to reduce traffic below the new acceptable threshold, or provide segregation.</p>

<p>The Mayor of London, Sadiq Khan, said:</p>

<p>'Getting more Londoners cycling is essential for our city's future health and prosperity, and our new Action Plan launched today shows how we're going to go further than ever before to make this a reality.</p>

<p>'The evidence is clear - where we've built new high-quality cycling infrastructure, the routes have been hugely successful in getting more people on their bikes. Despite this, too many Londoners still don't have the high-quality cycle routes they need in their local neighbourhood.</p>

<p>'I'm delighted to be announcing some of the major new work that will start on cycle routes across London next year, and in introducing new quality standards for cycle routes, I'm determined to ensure every Londoner feels comfortable and safe getting on a bike, whatever their age, experience or background.'<br />
&nbsp;<br />
Construction work on several major new cycle routes is set to begin in 2019. Following a public consultation next spring, TfL will work with boroughs and local partners to build a route between Camden and Tottenham Hale. The route will link together communities and businesses in north London, tackling huge barriers to cycling along a number of the area's most intimidating roads.</p>

<p>Another new route between Hackney and the Isle of Dogs will also be consulted on next year and will be London's first major orbital cycle route, providing connections to key routes on the capital's emerging cycling network and linking communities along the route with employment hubs, town centres, parks and waterways. Following the consultations, work is currently planned to start on both routes next year.</p>

<p>Construction work with Southwark, Lewisham and Greenwich Councils on a major new cycle route between Tower Bridge and Greenwich is set to begin next summer, which will create a new two-way segregated cycle track connecting central and south east London. The extension of this route from Greenwich to Woolwich, downgraded by the previous administration, has been re-prioritised and is funded in TfL's new Business Plan. TfL continues to work with Hammersmith &amp; Fulham and Hounslow Councils on plans for a major route between Kensington and Brentford.</p>

<p>New cycle routes are just a small part of TfL's plans to make cycling in London safer and more appealing &#45; and reducing road danger at junctions is critical to this. Improvement schemes will have transformed more than 40 junctions across London by spring 2020. Work is also underway to remove the outdated roundabouts at Highbury Corner and Old Street to create transformed environments, which are safer for cycling and walking.&nbsp;</p>

<p>Lilli Matson, TfL's Director of Transport Strategy, said:</p>

<p>'Cycling will be fundamental to London's success over the coming years, as the capital deals with the challenges that a growing population presents. By building and upgrading infrastructure across London and tackling some of the biggest barriers to cycling, our aim is to double the number of cycle journeys over the next six years, reducing congestion, improving health and making a real difference to the capital's poor air quality.'</p>

<p>Dr Ashok Sinha, CEO, London Cycling Campaign, said:</p>

<p>'The Mayor promised the London Cycling Campaign and our supporters he would triple high quality, protected space for cycling on London's main roads by the end of this mayoralty. We welcome this Cycling Action Plan which sets out how this will be achieved and how the Mayor will make London a 'byword for cycling'.</p>

<p>'The introduction of quality conditions for funding cycling infrastructure is particularly important in this plan. LCC has long campaigned for this, to help ensure that only those cycling projects that exhibit international standards of safety and comfort are funded.'</p>

<p>Matt Winfield, London Director of Sustrans, said:</p>

<p>'Sustrans welcomes the publication of the Mayor's Cycling Action Plan and its ambition to make London the world's best big city for cycling. Making short trips by bike should be an easy option for everyone. Bringing high quality cycle routes closer to the homes of more Londoners, while focusing on those who do not currently ride, will help achieve this.</p>

<p>'The Action Plan is essential for the development of our city and excellent news for Londoners, who suffer from poor air quality, congestion and a health crisis caused by inactivity. But it will need a huge effort from London boroughs and others to ensure the target to double the number of trips made by bike becomes a reality.'</p>

<p>The world's first Cycling Infrastructure Database will be the most comprehensive database of cycling infrastructure ever collected in London. Over the past 18 months, TfL has amassed data on every street in London, cataloguing almost 146,000 cycle parking spaces, 2,000 km of cycle lanes and more than 58,000 cycle signs and street markings. This information will be released as open data alongside a new digital map of cycle routes, will make journey planning and cycle parking much easier, as well as offering valuable information to TfL and the boroughs for planning future investment in cycling.</p>

<p>Cycle parking will also be boosted by the Cycle Parking Strategy for London, due to be published in 2019, which will focus on increasing parking where demand and potential are greatest.</p>

<p>TfL has also conducted a considerable amount of research into cycling in recent years, which has played a vital role in helping to develop effective schemes that address the most pressing barriers to cycling. The plan sets out how TfL will double the number of adults receiving free cycle training, as well as doubling the number of Londoners engaged through the Cycling Grants London scheme.</p>

<p>Cllr Julian Bell, Chair of London Councils' Transport and Environment Committee, said:</p>

<p>'Cycling plays an important role in reducing congestion on our streets, making our city's air cleaner and improving health and wellbeing. We welcome Transport for London's Cycling Action Plan as it addresses some of the barriers that stop people taking up cycling as well as proposing ways of enhancing the benefits and making it safer.</p>

<p>'The plan rightly recognises the essential role of boroughs in delivering and improving cycling facilities. Although London's local services face funding pressures, boroughs are committed to working with TfL and the Mayor to make London a safe, inclusive and modern cycling capital.'</p>

<p>The Cycling Action Plan also includes developing the record-breaking Santander Cycles scheme, to give more people across London access to a bike. The scheme is vital in getting more people on bikes and more than half of Cycle Hire users started cycling in London because of the scheme. Santander Cycles is on target for another record-breaking year, following five of the scheme's best ever months and more than 10 million hires this year to date.</p>

<p>This follows on from TfL's funding to Enfield, Kingston and Waltham Forest to create a network of cycle routes and improve streets and public areas, which are nearing completion. These schemes are driving significant increases in cycling in outer London, whilst improving health and local air quality. Segregated cycle lanes on the A105 Green Lanes in Enfield have seen a 52 per cent increase in cycling and research from Waltham Forest has shown that five year olds are predicted to live an extra six weeks longer, thanks to improvements in air quality.</p>

<p>Enfield Council's Leader, Cllr Nesil Caliskan, said:</p>

<p>'We want to make transport easier, more sustainable and safer for everyone as part of our plan to make our town centres more vibrant and creating a great place for people to live, work and socialise. The Mayor's Cycling Action Plan complements and supports Enfield Council's plans to transform and regenerate our town centres by making them more attractive to our residents by reducing pollution and making them more accessible.'</p>

<p>The Cycling Action Plan follows a number of recently opened additions to London's cycle network. In September, a major extension to a cycle route through the heart of the capital opened, connecting Elephant &amp; Castle to King's Cross through key destinations in central London. Other recently opened routes include a 12 km connection between Walthamstow and Bloomsbury, along with a route connecting Blackfriars and Tower Bridge Road in central London.</p>

<p>Earlier this year, London's first Walking Action Plan set out how London will become a city where walking, for those that can, is the most obvious, enjoyable and attractive means of travel for all short trips. The plan, which is supported by Public Health England (PHE), has an ambitious vision to make London the most walkable city in the world, with a million extra walking trips taking place each day by 2024.</p>

<hr />
<p>Notes to editors</p>

<ul>
	<li>TfL's plans for cycling, walking and Vision Zero are available on the TfL website</li>
</ul>

<p><br />
&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/48606">2019</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-December-GLA - Mayor's Action Plan to get more Londoners cycling -->

 
 
        
        
            @{ViewBag.Description = "Mayor launches major Action Plan to get more Londoners cycling ";}
        
        


 