


@{ViewBag.Title = "GLA - Top 'hop spots' on anniversary of Hopper bus fare";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Top 'hop spots' on anniversary of Hopper bus fare</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Top 'hop spots' on anniversary of Hopper bus fare</h1>
        <div class="content-page-press-release">
        12 September 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        With more than 220M Hopper journeys now taken, the Mayor and TfL have mapped the most popular 'hop spots' across London
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Together with my TfL fare freeze, it's making a real difference in making travel affordable right across our city"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
This press release, issued by the Mayor of London, was first published on <a href="https://www.london.gov.uk/press-releases/mayoral/new-data-reveals-top-hop-spots-across-london-1">london.gov.uk</a>
<ul>
    <li>Brixton station stop leads the way with more than 7,800 Hopper journeys a week.</li>
    <li>Other popular bus stops for 'hops' include those outside Elephant &amp; Castle, Marble Arch and Woolwich Arsenal stations.</li>
</ul>
<p>New data from the Mayor and Transport for London (TfL) has revealed that bus stop P outside Brixton station is now the most popular location for people to use the Mayor's Hopper fare, with over 7,800 Hopper journeys made a week.</p>
<p>Other popular locations include two bus stops outside Elephant &amp; Castle station - which see 7,750 and 7,400 journeys per week respectively - and outside the DLR and Marble Arch station, which sees 6,600 journeys a week. The previous most popular bus stop, at Brent Cross Shopping Centre, is now the fifth most popular.</p>
<p>The Hopper fare, which became operational two years ago on 12 September 2016, allows passengers to make as many journeys as they like on London's bus and tram network for &pound;1.50 within one hour of starting their journey. Bus fares for a single journey have been frozen at &pound;1.50 since Sadiq became Mayor. This is automatically applied to the journeys of anyone who uses pay as you go with a contactless payment or Oyster card, meaning cheaper travel and real savings for millions of Londoners.</p>
<p>More than 220 million Hopper journeys have been made since the fare was launched in September 2016 with more than 400,000 bus and tram journeys made every weekday using the Hopper fare. In terms of popularity, Route 18 remains the most popular bus route to 'hop' onto, with customers making around 4,200 'hops' along the route every day.</p>
<p>It also means that anyone can change bus routes as part of their journey and not pay an additional fare, opening up more affordable journey options across London. More than 220 million journeys have been made using the Hopper fare, almost four million of which involved travelling on a tram as part of the journey.</p>
<p>Following the Hopper's success, the Mayor also confirmed today that TfL is now in the final testing stages for introducing Monday to Friday Weekly Capping onto the Oyster system. This major upgrade will mean that anyone who uses Oyster will have their weekly travel capped at the cost of an equivalent 7-day Travelcard. It is anticipated that the upgrade will go live by the end of the year.</p>
<p>Mayor of London, Sadiq Khan, said: </p>
<p>'I'm absolutely delighted that tens of thousands of Londoners are benefiting from my Hopper fare every single day. The Hopper has helped more than 220m journeys in the past two years and the unlimited fare is helping even more Londoners save money. Together with my TfL fare freeze, it's making a real difference in making travel affordable right across our city.'</p>
<p>Claire Mann, Director of Bus Operations at TfL, said: </p>
<p>'The Hopper fare is helping to open up bus and tram travel across London for millions of people while making it more attractive and affordable. We're delighted the difference this fare has already made to so many Londoners, and remain committed to ensuring public transport in London remains accessible and convenient for all.'</p>
<p>Michael Smith, Managing Director of Brixton BID, said: </p>
<p>'Another first for Brixton. Proud to celebrate being the most popular &quot;hop-stop&quot; in London on the 2nd anniversary of the Hopper Fare. We welcome Transport for London making it easier for visitors to see our vibrant and distinctive 24-hour destination, with our world-class markets, international food and drink venues, and thriving local economy.'</p>
<p>The Hopper fare is part of a range of measures to encourage people across London to switch from their cars to public transport &#45; supporting the Mayor's work to clean up London's toxic air and make the city's roads safer places for everyone. This work also involves making the bus fleet much greener. Out of the current fleet of 9,000 buses across London more than 3,100 are already hybrid or zero emission. By next year, TfL aims to have 240 electric buses running on the network and has mandated that all new double-deck buses must be zero-emission or hybrid, with every single-deck bus in central London on track to be zero-emission by the following year. By 2037 all buses in London will be zero-emission.</p>
<p>Last month, TfL launched its new campaign to encourage people to &quot;Tap into the Wonderful World of Off-Peak&quot; and explore the wide range attractions, hidden gems and unknown curios across London. Customers using buses can also download TfL's existing leisure guides at <a href="http://www.tfl.gov.uk/visitinglondon">www.tfl.gov.uk/visitinglondon</a>, which cover a range of routes to help the whole family visit London's top attractions or explore the heritage of the capital along a single route.</p>
<p>For more information about the Hopper fare, please visit <a href="http://www.tfl.gov.uk/hopper">www.tfl.gov.uk/hopper</a></p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>Based on the latest data, the Top 20 Hopper bus stops in London are:</li>
</ul>
<p>&nbsp;</p>
<div class="table-container"><table>
    <tbody>
        <tr>
            <td>Position&nbsp;	<br />
            </td>
            <td>Location&nbsp;	<br />
            </td>
            <td>Bus Stop&nbsp;	<br />
            </td>
            <td>Average 'Hops' per week <br />
            </td>
            <td>&nbsp;Borough</td>
        </tr>
        <tr>
            <td>&nbsp;1</td>
            <td>&nbsp;Brixton station	 </td>
            <td>&nbsp;P	</td>
            <td>&nbsp;7800	</td>
            <td>&nbsp;Lambeth</td>
        </tr>
        <tr>
            <td>&nbsp;2</td>
            <td>&nbsp;Elephant &amp; Castle</td>
            <td>&nbsp;E	</td>
            <td>&nbsp;7750</td>
            <td>&nbsp;Southwark</td>
        </tr>
        <tr>
            <td>&nbsp;3</td>
            <td>&nbsp;Elephant &amp; Castle station</td>
            <td>&nbsp;R	</td>
            <td>&nbsp;7400	</td>
            <td>&nbsp;Southwark</td>
        </tr>
        <tr>
            <td>&nbsp;4</td>
            <td>&nbsp;Marble Arch station</td>
            <td>&nbsp;R	</td>
            <td>&nbsp;6600	</td>
            <td>&nbsp;Westminster</td>
        </tr>
        <tr>
            <td>&nbsp;5</td>
            <td>&nbsp;Brent Cross Shopping Centre</td>
            <td>&nbsp;C	</td>
            <td>&nbsp;6200	</td>
            <td>&nbsp;Barnet</td>
        </tr>
        <tr>
            <td>&nbsp;6</td>
            <td>&nbsp;Woolwich Arsenal station	</td>
            <td>&nbsp;N	</td>
            <td>&nbsp;5800	</td>
            <td>&nbsp;Greenwich</td>
        </tr>
        <tr>
            <td>&nbsp;7</td>
            <td>&nbsp;Hammersmith Bus station	</td>
            <td>&nbsp;F	</td>
            <td>&nbsp;5600	</td>
            <td>&nbsp;Hammersmith &amp; Fulham</td>
        </tr>
        <tr>
            <td>&nbsp;8</td>
            <td>&nbsp;Grosvenor Gardens, Victoria</td>
            <td>&nbsp;Q	</td>
            <td>&nbsp;5500	</td>
            <td>&nbsp;Westminster</td>
        </tr>
        <tr>
            <td>&nbsp;9</td>
            <td>&nbsp;Wood Green station</td>
            <td>&nbsp;H	</td>
            <td>&nbsp;5500	</td>
            <td>&nbsp;Haringey</td>
        </tr>
        <tr>
            <td>&nbsp;10</td>
            <td>&nbsp;Angel station	</td>
            <td>&nbsp;X	</td>
            <td>&nbsp;5400</td>
            <td>&nbsp;Camden</td>
        </tr>
        <tr>
            <td>&nbsp;11</td>
            <td>&nbsp;Hammersmith Bus station	</td>
            <td>&nbsp;C	</td>
            <td>&nbsp;5300		</td>
            <td>&nbsp;Hammersmith &amp; Fulham<br />
            </td>
        </tr>
        <tr>
            <td>&nbsp;12</td>
            <td>&nbsp;Clapham Junction	</td>
            <td>&nbsp;T	</td>
            <td>&nbsp;5200	</td>
            <td>&nbsp;Lambeth</td>
        </tr>
        <tr>
            <td>&nbsp;13</td>
            <td>&nbsp;Elephant &amp; Castle</td>
            <td>&nbsp;A</td>
            <td>&nbsp;5200	</td>
            <td>&nbsp;Southwark</td>
        </tr>
        <tr>
            <td>&nbsp;14</td>
            <td>&nbsp;Clapham Junction station	</td>
            <td>&nbsp;M	</td>
            <td>&nbsp;5100	</td>
            <td>&nbsp;Lambeth</td>
        </tr>
        <tr>
            <td>&nbsp;15<br />
            </td>
            <td>&nbsp;Stratford Bus station	</td>
            <td>&nbsp;A	</td>
            <td>&nbsp;4900	</td>
            <td>&nbsp;Newham</td>
        </tr>
        <tr>
            <td>&nbsp;16</td>
            <td>&nbsp;Angel station	</td>
            <td>&nbsp;F	</td>
            <td>&nbsp;4700	</td>
            <td>&nbsp;Camden</td>
        </tr>
        <tr>
            <td>&nbsp;17</td>
            <td>&nbsp;Brixton station	</td>
            <td>&nbsp;T	</td>
            <td>&nbsp;4700	</td>
            <td>&nbsp;Lambeth</td>
        </tr>
        <tr>
            <td>&nbsp;18</td>
            <td>&nbsp;Stratford Centre	</td>
            <td>&nbsp;E	</td>
            <td>&nbsp;4600	</td>
            <td>&nbsp;Newham</td>
        </tr>
        <tr>
            <td>&nbsp;19</td>
            <td>&nbsp;&nbsp;Denmark Hill / Camberwell Green	</td>
            <td>Q	</td>
            <td>&nbsp;4600	</td>
            <td>&nbsp;Lewisham</td>
        </tr>
        <tr>
            <td>&nbsp;20</td>
            <td>&nbsp;London Bridge	</td>
            <td>&nbsp;M	</td>
            <td>&nbsp;4500	</td>
            <td>&nbsp;Southwark</td>
        </tr>
    </tbody>
</table></div>
<ul>
    <li>The Hopper fare also applies to customers who pay discounted pay as you go fares (Bus &amp; Tram Discount, Jobcentre Plus Travel Discount, Young Visitor discount and some Zip Oyster photocards).</li>
    <li>Last year, TfL launched a new app which allows Oyster card users to check their pay-as-you-go balance and top up their card with just a few quick taps on their smartphone. They can then be added after 30 minutes by simply touching the Oyster card on the yellow card reader at any bus, Tube or rail station, tram stop or River Bus pier as part of a journey. Contactless customers can also view their journey history through the app. To download the TfL app onto your mobile:</li>
</ul>
<ul>
    <li>For Apple products &#45; https://itunes.apple.com/gb/app/tfl-oyster/id1179420088</li>
</ul>
<p>For Android products &#45; https://play.google.com/store/apps/details?id=uk.gov.tfl.oystercontactless</p>
<ul>
    <li>Contactless bank payment cards have been accepted for pay as you go on London buses since December 2012, with the technology expanded to cover Tube, tram, DLR, London Overground, and most National Rail services on 16 September 2014.</li>
    <li>Throughout 2018 and 2019, further improvements to the Oyster and Contactless system will also be introduced, including:</li>
</ul>
<ul>
    <li>Adding the ability for people with concession Oyster cards, such as Zip cards or Student cards, to view journey history and top up their cards through the TfL app;</li>
    <li>Introducing pay as you go on the Elizabeth line, which, once fully open, will see services running from Reading and Heathrow in the west to Shenfield and Abbey Wood in the east;</li>
</ul>
<p>In partnership with Time Out, TfL has also expanded its range of cultural maps, which suggest everything from museums to parks and farms that you can visit all within a short walk or bus ride from Tube or London Overground stations: <a href="https://www.timeout.com/culturaltflmap">https://www.timeout.com/culturaltflmap</a></p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-September-GLA - Top 'hop spots' on anniversary of Hopper bus fare -->

 
 
        
        
            @{ViewBag.Description = "On second anniversary of the Mayor’s Hopper fare, new data reveals top ‘hop spots’ across the capital";}
        
        


 