


@{ViewBag.Title = "GLA - Crossrail 2 vital to fixing housing crisis";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Crossrail 2 vital to fixing housing crisis</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Crossrail 2 vital to fixing housing crisis</h1>
        <div class="content-page-press-release">
        03 April 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than 60 homebuilding and property industry leaders highlight the importance of Crossrail 2
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It's no secret that London and the South East need new homes, and the government can clearly show its long-term commitment to tackling the housing crisis by backing Crossrail 2
"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p><span style="text-decoration: underline;"><em><strong>This press release, issued by the Mayor of London, was first published <a href="https://www.london.gov.uk/press-releases/mayoral/crossrail-2-is-vital-to-fixing-housing-crisis">here</a></strong></em></span></p>
<ul>
    <li>Crossrail 2 will help deliver 200,000 homes in London and across the South East, from Hampshire to Cambridgeshire</li>
    <li>Housebuilders tell Chancellor they are ready to seize the opportunity and boost efforts to tackle the housing crisis</li>
</ul>
<p >Leading figures from homebuilding, property industries and housing associations have today (April 3) urged the Government to give its firm backing to Crossrail 2 and provide a key boost in tackling London's housing crisis.</p>
<p>Building on the economic case outlined by senior business figures last week, 66 homebuilding and property industry leaders, including Taylor Wimpey, British Land and all of the g15, London's largest housing associations, have written to the Chancellor, Transport Secretary and Communities Secretary to show how vital Crossrail 2 is to unlock new, good-quality homes and commercial space.</p>
<p>The industry leaders say the new railway would transform transport capacity and connectivity for underdeveloped areas of the capital, such as the Upper Lea Valley. This will give housebuilders the certainty they need to accelerate the development of up to 200,000 new homes urgently needed to help address the housing shortage across London and the South East.</p>
<p>The benefits will be felt right across the South East with 30 per cent of the new homes delivered outside London, supporting regional growth corridors between Cambridge and Stansted, and south west towards Portsmouth.</p>
<p>The signatories urge the Government to give the green light to the scheme without delay, so they can seize the opportunities to develop housing and commercial space in areas opened up by improved transport capacity.</p>
<p>For example, Angel Road station in the Upper Lea Valley is currently London's least-used station, and offers no services at all into Liverpool St between 10am and 3.30pm. Crossrail 2 would give the area up to 12 trains per hour, transforming its viability for development.</p>
<p>The letter comes on the same day that the Westminster Property Association (WPA) called on the Government to back Crossrail 2 with the publication of a report setting out how private sector investment could be maximised to help recoup the project's costs.</p>
<p>Tony Pidgley CBE, Chairman, Berkeley Group, said: </p>
<p>'Crossrail 2 is a fantastic opportunity to improve London and the South East's infrastructure, and will help us build the homes this region desperately needs. It will unlock areas of huge potential, such as the Upper Lea Valley, and we will look to these areas to meet the demand for housing. Crossrail 2 is the only scheme that can make a significant difference to the South East's housing stock and the Government must not delay.'</p>
<p>Stephen Howlett, Peabody Chief Executive, said: </p>
<p>'The right transport infrastructure is essential if we are to boost the supply of desperately needed new homes in the capital. Crossrail 1 and the extension of the Docklands Light Railway will unlock 20,000 new homes at Thamesmead in South-East London and Crossrail 2 would have a similarly transformative effect across London. As well as boosting housing supply, Crossrail 2 will create jobs and drive London's economy. We hope the project will get the go ahead in the very near future.'</p>
<p>Craig McWilliam, Chief Executive of Grosvenor Britain &amp; Ireland, said: </p>
<p>'Grosvenor is in the heart of the West End, transforming its London estate. The West End needs to work harder for its communities and all Londoners with new investment. The case for Crossrail 2 is strong, the benefits are national and the opportunity should be taken. With it, private-sector investment would follow, delivering new homes, new jobs and the best public spaces.'</p>
<p>Melanie Leech, Chief Executive of the British Property Federation, said: </p>
<p>'Crossrail 2 will stimulate regeneration up and down its route from the Solent to the Wash, opening sites for new housing and employment. A swift decision from Government on Crossrail 2 would provide a vote of confidence for our industry as we support most, if not all, UK economic activity, through our provision of homes, offices and commercial space.'</p>
<p>The Mayor of London, Sadiq Khan, said: </p>
<p>'It's no secret that London and the South East need new homes, and the government can clearly show its long-term commitment to tackling the housing crisis by backing Crossrail 2. Key homebuilding and property leaders are clear that this vital project will unlock areas across the region and bring up to 200,000 new homes where they are desperately needed. It's time for the government to take note of the huge transport, economic and housing benefits, and give us the go ahead to progress.'</p>
<p>Last month, more than 70 business leaders, including at EY, Deloitte, Aviva Group, Gatwick Airport, Heathrow Airport, Canary Wharf Group, FSB Surrey &amp; West Sussex, and Surrey, Essex, Hertfordshire, Hampshire, and Cambridgeshire Chambers of Commerce, hailed the infrastructure project as being of national importance. It will support 200,000 jobs, and generate 60,000 supply chain jobs across the UK, including 18,000 apprentices, boosting the national economy by economy by up to &pound;150bn.</p>
<p>Crossrail 2 would transform journey times and connectivity from the Solent to the Wash. It would relieve congestion on the overcrowded key National Rail lines from Hampshire to Cambridgeshire, and link with HS2 at Euston. It would also relieve pressure on the Underground as the population of London and the South East grows. Without the additional capacity Crossrail 2 will provide, mainline stations will face ever-greater overcrowding and delays.</p>
<p>London has already committed to meeting half the cost &#45; unlike other nationally significant projects that do not receive such levels of local funding. But now the project needs a commitment from ministers.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>TfL has submitted an updated business case and funding plan to the Transport Secretary‎, who is due to make a decision in the spring on further Government support. Construction could start in the early 2020s and the railway could be operational by 2033</li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-April-GLA - Crossrail 2 vital to fixing housing crisis -->

 
 
        
        
            @{ViewBag.Description = "Homebuilders say Crossrail 2 is vital to fixing London’s housing crisis";}
        
        


 