


@{ViewBag.Title = "GLA - Mayor sets out bold transport vision";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Mayor sets out bold transport vision</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Mayor sets out bold transport vision</h1>
        <div class="content-page-press-release">
        21 June 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Delivering a fairer, greener, healthier and more prosperous city
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London is the greatest city in the world and as it continues to grow it is vital that we take a bold approach to ensure our transport network works for all"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p><em><span style="text-decoration: underline;"><strong>This press release, issued by the Mayor of London, was first published on <a href="https://www.london.gov.uk/press-releases/mayoral/fairer-greener-healthier-more-prosperous-city">london.gov.uk</a><br />
</strong></span></em></p>
<ul>
    <li>Improvements to the Tube, DLR, rail, tram and bus services will tackle chronic overcrowding and transform the experience of passengers</li>
    <li>Healthy Streets Approach essential to reduce car reliance and help Londoners choose active and sustainable travel</li>
    <li>London's entire transport system to be zero emission by 2050</li>
    <li>New public transport services will be vital in creating the 1.2 million new jobs and more than one million new homes the city needs by 2041</li>
</ul>
<p>The Mayor of London, Sadiq Khan, has today unveiled his long-term ambition to transform the capital's transport network and deliver a fairer, greener, healthier and more prosperous city for all Londoners.</p>
<p>Investment in new and improved services for passengers, an unprecedented focus on walking and cycling and a pledge to make the entire transport system zero emission by 2050 are central to the Mayor's first draft Transport Strategy, which has been published today.</p>
<p>There will be new Tube trains offering more reliable services, the opening of the Elizabeth line, extensions to the Tube, DLR and Overground, new green buses and taxis, new river crossings, and the transformation of London's streets to make walking, cycling and public transport the most appealing and practical choices for Londoners right across the capital. The draft strategy also outlines how vital Crossrail 2 and a transformed suburban rail metro service are essential for the capital's future economy, jobs and homes.</p>
<p>The capital's population is expected to rise to 10.5m people by 2041 &#45; creating five million additional journeys every day. It is vital that action is taken to avoid growing congestion, overcrowding, pollution, and ill health.</p>
<p>That's why the Mayor has set out wide-ranging plans that will transform the capital's streets, public places and deliver future growth. Proposals in the draft strategy include:</p>
<ul>
    <li><strong>Delivering more frequent Tube services to achieve a fast, accessible, affordable and reliable network across the whole of London.</strong> Major investment across the entire Tube network will see the completion of new signalling and more frequent services on the Metropolitan, District, Circle and Hammersmith &amp; City lines, while further improvements on the Jubilee, Northern and Victoria lines will see them offer one of the most frequent services in the world by 2023. The modernisation of the Piccadilly, Central, Bakerloo and Waterloo &amp; City lines will also begin by the mid-2020s and see new trains and more frequent services delivered to increase capacity and improve reliability.</li>
</ul>
<ul>
    <li><strong>Expanding the transport network, helping to improve journeys and unlock housing developments and create thousands of jobs across London.</strong> The Elizabeth line, set to open next year, will make cross-London travel easier and more accessible, and increase rail capacity in central London by 10 per cent. TfL will also take forward extensions to the Bakerloo line to Lewisham and beyond, which will provide extra capacity on the Tube for 65,000 journeys during the morning and evening peak, as well as extending the London Overground to Barking Riverside, the Northern line to Battersea and the DLR across the Thames to Thamesmead. New river crossings in east London, such as the public transport focused Silvertown Tunnel and the Rotherhithe to Canary Wharf pedestrian and cycle crossing, will also deliver significant boosts to the capital.</li>
</ul>
<ul>
    <li><strong>Forging ahead with Crossrail 2, which is vital to the success of the wider UK economy by creating 1.2 million new jobs and more than one million new homes.</strong> To ensure that London and the wider south east can cope with future demand, the Government must immediately give the go-ahead for Crossrail 2. Once delivered the new rail line would relieve pressure on the transport network across the south of England, enabling 270,000 more people to travel into and across central London every morning at peak time, and will drive the development of 200,000 homes and 200,000 new jobs across the south east.</li>
</ul>
<ul>
    <li><strong>Transform London's streets and cut car journeys by three million each day. </strong>A major focus on helping Londoners reduce their reliance on cars aims to increase the proportion of people walking, cycling and taking public transport to 80 per cent of journeys by 2041. The Healthy Streets Approach will change the face of London's streets, making them better places to walk and cycle, cleaner, safer and quieter. There will be a record investment in walking and cycling, Liveable Neighbourhoods, and building developments designed around walking, cycling and public transport as the Mayor aims for all Londoners to do at least the 20 minutes of active travel they need to stay healthy each day.</li>
</ul>
<ul>
    <li><strong>Working to ensure London's entire transport system is zero emission by 2050.</strong> To help support the Mayor's wider ambition to radically improve air quality across London and make London a zero emission city. TfL will work to make London's entire road transport system zero emission by 2050 at the latest. This will be delivered through a phased approach, following wide-spread public consultation and building on the forthcoming introduction of the Ultra Low Emission Zone and the T-charge. This includes delivering central London and town centre zero emission zones from 2025, creating a zero emission zone in inner London by 2040 and a London-wide zone by 2050. TfL will lead by example, with the aim that all taxis and PHVs will be zero emission capable by 2033 and buses will be zero emission by 2037. It will also require the Government to incentivise the uptake of zero emission vehicles and provide funding to ensure sufficient and appropriate charging and refuelling infrastructure both in London and across the UK.</li>
</ul>
<ul>
    <li><strong>Maintain investment in London's extensive bus network to keep it one of the finest in the world and fully zero emission by 2037.</strong> Buses can move 70 people in the same amount of space taken up by about three cars. As well as making it easier for passengers to plan their journeys, bus routes in central London are being changed to give more reliable journeys. Excess capacity will be used to serve new opportunity areas in inner and outer London where they will support new housing and jobs. Improved driver training, easier access to journey data and additional bus priority measures will also be introduced to improve the experience of using buses. From next year, all new double-deck buses will be hybrid, electric or hydrogen. This constant focus on only buying the greenest, cleanest buses. In central London, all double-deck buses will be hybrid by 2019 and all single-deck buses will emit zero exhaust emissions by 2020. By2037 at the latest, all 9,200 buses across London would be zero emission.</li>
</ul>
<ul>
    <li><strong>Creating a London suburban rail metro service to radically improve rail travel in outer London. </strong>The Mayor and TfL are making the case to Government for devolution of stopping suburban rail services from mainline central London stations, while continuing to work with Train Operating Companies within the capital to deliver a better suburban rail network. By the late 2020s journey times could improve by 15 per cent and peak period capacity from south London to central London could be increased by up to 124,000.</li>
</ul>
<ul>
    <li><strong>Delivering a 'Vision Zero' approach in London to make its streets safer for all.</strong> Minimising road danger is fundamental to the creation of streets where everyone feels safe walking, cycling and using public transport. This radical change to how London approaches road danger will aim for no one to be killed in or by a London bus by 2030, and for all deaths and serious injuries from road collisions to be eliminated from London's streets by 2041.</li>
</ul>
<ul>
    <li><strong>Improving accessibility across London to enable all Londoners, including disabled and older people, to travel spontaneously and independently. </strong>The Mayor and TfL will work hard to halve the additional journey time required by those using step-free network only, so that journey times on the step-free network become comparable to those on the wider transport network. This work will see more Tube and rail stations made fully accessible, while improvements to the DLR and London Tram, both of which are already 100 per cent fully accessible, will make it easier for people with a disability to just turn-up-and-go.</li>
</ul>
<ul>
    <li><strong>Take advantage of the latest innovations to improve passenger experiences.</strong> Innovations are essential to attracting Londoners to public transport, walking and cycling and TfL will make the most of new technology and innovations in customer service. This includes improving staff service by ensuring they have the latest real-time information to hand, improving training, providing a more consistent level of service across all transport modes, and delivering 4G mobile communications to the London Underground &#45; one of the most high profile 'not spots' in the country.</li>
</ul>
<ul>
    <li><strong>Securing new revenue sources to support the delivery of vital transport infrastructure across the capital.</strong> From 2018, TfL will no longer get a revenue grant from Government and rely more heavily on fares and income from advertising and commercial development. To ensure future transport schemes, such as Crossrail 2, go ahead and deliver the homes and jobs the region needs, the Government equally needs to allow greater use of Business Rate Retention, as well as approving additional powers, including Vehicle Excise Duty in London, to create a fairer way of funding transport schemes. Failure to do so could lead to London losing its place as a world-leading capital city and risk businesses opting to relocate as a result.</li>
</ul>
<p>The Mayor of London, Sadiq Khan, said: </p>
<p>'It has been an incredibly difficult few weeks for London, but we must carry on as a city and that means pushing forward our work to keep Londoners moving around our city. London is the greatest city in the world and as it continues to grow it is vital that we take a bold approach to ensure our transport network works for all. We simply cannot afford to take the same old approach to travel as our growing population puts increasing pressure on our network.</p>
<p>'That's why today I'm setting out a new long-term vision for our capital &#45; one that puts walking, cycling and zero-emission public transport right at the heart of our day-to-day lives. So while we are delivering affordable, reliable and accessible transport through the improved services and new infrastructure that we need, we're also changing the whole way we look at transport as a whole.</p>
<p>'Only by focusing on active travel, providing efficient zero-emission transport and reducing our dependency on cars, can we improve the health of Londoners, support economic growth, deliver homes and jobs, and make our city an even better place to live.'</p>
<p>London's Transport Commissioner, Mike Brown MVO, said:  </p>
<p>'This ambitious strategy for the next 25 years sets out how we will invest in modernising and improving our services so that people have excellent transport connections no matter where they are in the city. A key focus of the strategy is the Mayor's Healthy Streets Approach, creating a fairer, greener, healthier and more prosperous city, where Londoners are encouraged to do at least 20 minutes of active travel each day that they need to stay healthy.</p>
<p>'We will also make sure that our network impacts our environment much less, with plans in place to reduce and then eliminate emissions from the transport fleet. Through this, and with help from the government, we can support growth, jobs, homes and make London an even better place.'</p>
<p>Jasmine Whitbread, the Chief Executive of London First, said: </p>
<p>'As London faces up to the consequences of Brexit, it is vital for our continued competitiveness as a world city that we address longstanding problems of congested roads, overcrowded trains and dirty air. City Mayors are best placed to lead in forging solutions and must now be given greater powers by government, including more financial freedom. To demonstrate confidence in the long-term future of the capital as a leading global business hub, government must now give the green light to Crossrail 2.'</p>
<p>Paul Morozzo, clean air campaigner at Greenpeace said: </p>
<p>'This ambitious, well-thought-through long term vision for the London transport system is very welcome. Investing in public transport, walking and cycling is crucial to solving the air pollution problem effectively. We also look forward to the Mayor's initiatives in the short term which will improve air quality by helping to phase out the diesel vehicles responsible for much of the roadside pollution blighting our city and expanding the ultra-low emissions zone. London is a city at the cutting-edge of so many fields - let's turn it into a clean transport leader too.'</p>
<p>Janet Cooke, Chief Executive of London TravelWatch, said: </p>
<p>'We welcome the proposal for greater priority for the bus on London's streets and for measures to reduce congestion, particularly a commitment to investigate roads charging to reduce traffic volumes. Improving local pedestrian and cycling environments will also enable more Londoners to include active travel into their daily lives either for their whole journey or as part of a public transport journey.'</p>
<p>Dr Yvonne Doyle, Director for London, Public Health England and Statutory Health Advisor to the Mayor of London, said: </p>
<p>'Taking the Healthy Streets Approach is essential to tackling the health challenges London faces today, and it is encouraging to see that the Mayor recognises that this focus on improving health must be applied across the whole transport system. As well as providing many wider health, social and environmental benefits, travelling actively is the easiest way to keep physically active, so the Mayor's commitment to ensuring that all Londoners can walk or cycle every day is vital to the future of the city.'</p>
<p>Ben Still, of the Urban Transport Group, said: </p>
<p>'Making streets into safer and more attractive places that people want to spend time in and which promote healthier and more active lifestyles is the right way forward for cities. Successful cities know that they need to be places that people actively want to live in, work in, invest in and visit.  London's Healthy Streets Approach is something which we are now looking to take forward as a wider group of transport authorities for the nation's largest urban areas.'</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<p>The draft Mayor's Transport Strategy is open to public consultation until 2 October 2017 and can be accessed by visiting <a href="http://www.tfl.gov.uk/mayors-transport-strategy">tfl.gov.uk/mayors-transport-strategy</a></p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-June-GLA - Mayor sets out bold transport vision -->

 
 
        
        
            @{ViewBag.Description = "Mayor sets out bold transport vision to deliver a fairer, greener, healthier and more prosperous city ";}
        
        


 