


@{ViewBag.Title = "GLA - Mayor unveils new cleaner vehicle checker scheme";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Mayor unveils new cleaner vehicle checker scheme</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Mayor unveils new cleaner vehicle checker scheme</h1>
        <div class="content-page-press-release">
        29 March 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Emissions scoring tool will test new cars on real life roads to help purchasers identify worst polluting vehicles
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"My scheme will put an end to the smoke and mirrors that have been employed in official emissions tests
"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p><span style="text-decoration: underline;"><em><strong>This press release, issued by the Mayor of London, was first published <a href="https://www.london.gov.uk/press-releases/mayoral/mayor-unveils-polluting-vehicle-checker-scheme">here</a></strong></em></span></p>
<ul>
    <li>Twin schemes to be launched in London and Paris</li>
</ul>
<p>Motorists will be able to identify and avoid buying the dirtiest diesel and most polluting petrol cars and vans with a new emissions scoring scheme unveiled today by the Mayor of London, Sadiq Khan.</p>
<p>The new online 'cleaner vehicle checker' will include test results for new car and van models on the market. It will clearly and more accurately detail the emissions they produce on London's roads. This will free purchasers from having to rely on official testing - which can be unrealistic.</p>
<p>The scheme will help restore public confidence following 'Dieselgate', where many motorists bought 'cleaner' cars in good faith but later found out they had dirty polluting engines because of manufacturers using 'cheat devices' or flaws in the official testing process.</p>
<p>Currently, cars only have to pass Euro Standards emissions testing, which is limited to laboratory tests and had been proven to be unrealistic.</p>
<p>The scheme, the world's first, will see purchasers able to check nearly all new car and most new van models on a special website, will launch this autumn. Vehicles included on the website will be given a 'score' based on their emissions.</p>
<p>The move forms part of Sadiq's hard-hitting plans to tackle London's toxic air quality. Today he welcomed the support of the Mayor of Paris, Anne Hidalgo, as they met with representatives from major car manufacturers to discuss the need for tougher Euro standard testing and a switch to zero and ultra-low emission vehicles.</p>
<p>Mayor Hidalgo is set to introduce a complementary car-scoring scheme in Paris, while other international cities are working with C40, a coalition of leading world cities focussed on tackling climate change, on adopting similar schemes.</p>
<p>The Mayor of London, Sadiq Khan, said: </p>
<p>'My scheme will put an end to the smoke and mirrors that have been employed in official emissions tests.</p>
<p>'It will provide Londoners with an honest, accurate and independent evaluation of the emissions of most new cars and vans on our roads and on the showroom forecourt. By having 'on the road' testing I believe we will help Londoners make an informed choice and incentivise manufacturers to build cleaner vehicles sooner.</p>
<p>'This scheme is also a fantastic example of how big cities around the world can pool their expertise and their influence to encourage big industry to clean up its act. The toxicity of the air in London and many other big cities is an outrage, and schemes of the type we are introducing in London and Paris have the potential to make a massive difference to the quality of the air we all breathe.'</p>
<p>The vehicle checker will see robust and independent 'on the road and real-world' emissions testing provided by Emissions Analytics and the International Council of Clean Transportation (ICCT).</p>
<p>Emissions Analytics is a well-respected independent vehicle testing company, which has which has developed the EQUA Index database of 'real world' emissions based on urban driving environments for the majority of new cars sold in the UK, France and other European countries. It has conducted extensive 'real world testing' on around 900 models of vehicles in Europe.</p>
<p>ICCT was the organisation that revealed that Volkswagen had used so-called 'defeat devices' to pass official emissions tests. It is recognised as an international leader in vehicle emissions testing.</p>
<p>Mayor of Paris and Chair of C40 Cities, Anne Hidalgo said: </p>
<p>'For too long, some vehicle manufacturers have been able to hide behind inconsistent regulation and consumer uncertainty about the damage their cars are causing. This announcement is a wake-up call to car companies that they need to act now. Citizens of Paris and cities around the world demand clean air to breathe and this new scoring scheme will be key to helping achieve that.'</p>
<p>Dr Penny Woods, Chief Executive of the British Lung Foundation, said: </p>
<p>'Helping motorists choose the least polluting vehicles by giving them real world information on emissions is a positive step in the battle to clean up the air we breathe. Air pollution is an invisible danger that hits hardest people with a lung condition and children whose lungs are still developing.'</p>
<p>Kay Boycott, Chief Executive at Asthma UK, says: </p>
<p>'Our research tells us that two thirds of people with asthma find that air pollution makes their asthma worse, putting them at increased risk of a potentially life-threatening asthma attack. Three people die of an asthma attack every day, and two of these deaths are preventable with better basic care. When people with asthma are in areas where air pollution levels are high it's vital they check air pollution forecasts; carry their reliever inhaler with them at all times; and have an up to date written asthma action plan so they know what to do if their symptoms worsen.'</p>
<p>Nick Molden, Chief Executive Officer of Emissions Analytics, said: </p>
<p>'Emissions Analytics is pleased to be working with the cities of London and Paris on an important initiative in solving the air quality problem. Over five years of real on-road testing have allowed the creation of the EQUA Index ratings, which can be used to identify the genuinely cleanest cars on the market. The need to clean up the air is urgent, faster than regulations can deliver, and so cities must go further and faster. The lead being shown by London and Paris can form a template for other cities around the world.'</p>
<p>Sheila Watson, Deputy Director of the FIA Foundation, said: </p>
<p>'FIA Foundation is delighted to be supporting such important work. Good policy and good consumer choices depend on good evidence, and this project will provide that. We would like to see other cities follow London and Paris's lead and work with us and our Real Urban Emissions Initiative (TRUE) to get a better picture of the vehicles on their streets too.'</p>
<p>Drew Kodjak, executive director of the International Council on Clean Transportation (ICCT), said: </p>
<p>'The ICCT looks forward to working with Mayor Hidalgo and Mayor Khan to improve air quality in their cities by better informing the public about actual air pollution levels from passenger vehicles," said "We strongly believe that data transparency coupled with policy is the most effective way of encouraging auto companies to build vehicles with durable emission controls. The ICCT is an international research organization dedicated to supporting government action to improve the environmental performance and energy efficiency of road, marine, and air transportation, in order to benefit public health and mitigate climate change.'</p>
<p>The new scheme will help people prepare for the Mayor's plans for the T-charge in central London (starting from October 2017) and for the commencement of the Ultra-Low Emission Zone (starting in central London in 2019, subject to consultation, and which could be extended to the North and South Circular roads).</p>
<p>When up and running the scheme will:</p>
<ul>
    <li>Help people make an informed choice and minimise the number of 'more polluting' vehicles being bought and used in London</li>
    <li>Help consumers recognise the environmental benefits of switching to zero or ultra-low emission vehicles and encourage their purchase</li>
    <li>Encourage manufacturers to produce vehicles that conform to the EU's full 'real-world driving emissions' standards much sooner than when legally required by 2021</li>
    <li>Provide a free 'health check' service to London fleet operators to understand how their current fleet performs and where significant improvements could be made, and</li>
    <li>Create a tool to allow the Greater London Authority Group and local authorities to lead by example and only buy or lease the cleanest vehicles.</li>
</ul>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>C40 is a network of the world's megacities committed to addressing climate change. C40 supports cities to collaborate effectively, share knowledge and drive meaningful, measurable and sustainable action on climate change.</li>
    <li>The new Cleaner Vehicle Checker will be available online from the Autumn. Consumers will be able to type in the model of the new car or van they are considering buying and find out more about ITS actual 'on the road' emissions. A marketing campaign will promote the new website.</li>
    <li>The European Union is introducing 'real-world driving emissions' (RDE) testing to help improve Euro standards &#45; but these still include significant flexibility with manufacturers allowed to emit up to 1.5 times the legal limits even once the new requirements are fully introduced in 2021, which is still four years away. Consumers cannot currently rely on Euro standards alone with confidence and improvements would take a number of years to take effect.</li>
    <li>While Sadiq Khan wants to work in partnership with the car industry to bring about a transition to new zero and ultra-low emission technologies, it is also important to ensure that the 'on the road' performance of cars and vans currently being sold actually reflect the legally required standards in real world driving conditions. The new emissions scoring system, the Cleaner Vehicle Checker, will ensure transparency after Dieselgate and hold manufacturers to account for the performance of their vehicles</li>
    <li>Anne Hidalgo is backing the creation of a scoring scheme in Paris as part of a range of hard-hitting measures both Mayors have delivered and proposed in their cities to tackle air pollution from motor vehicles. Other cities will also be using the same scoring scheme approach as part of an effort led by the C40 Cities Climate Leadership Group.</li>
    <li>Anyone who is concerned about how pollution may affect their asthma can Asthma UK Helpline on 0800 121 62 44 or visit <a href="http://www.asthma.org.uk">www.asthma.org.uk</a>.‎</li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-March-GLA - Mayor unveils new cleaner vehicle checker scheme -->

 
 
        
        
            @{ViewBag.Description = "Mayor unveils new cleaner vehicle checker scheme to identify worst polluting vehicles ";}
        
        


 