


@{ViewBag.Title = "GLA - Night Overground to launch Friday 15 December";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Night Overground to launch Friday 15 December</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Night Overground to launch Friday 15 December</h1>
        <div class="content-page-press-release">
        20 November 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Friday and Saturday night services will run between New Cross Gate and Dalston Junction
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Night Tube has proven such a success with Londoners, I know the Night Overground will help thousands more who are working through the night or out enjoying our capital's nightlife"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>This press release, issued by the Mayor of London, was first published on <a href="https://www.london.gov.uk/media-centre">london.gov.uk</a></p>
<ul>
    <li>Announcement comes as the London Overground celebrates a decade of successful service</li>
</ul>
<p>The Mayor of London, Sadiq Khan, has today announced that Night Overground services will begin in east London on Friday 15 December, making travelling at night even easier for thousands of Londoners.</p>
<p>The 24-hour services will operate on Friday and Saturday nights on the London Overground between New Cross Gate and Dalston Junction, extending to Highbury &amp; Islington next year. This will help Londoners working through the night as well as those enjoying east London's thriving nightlife.</p>
<p>The launch follows the success of the Night Tube which has seen more than nine million journeys and contributed more than &pound;170 million to London's economy in its first year.</p>
<p>The announcement comes as London Overground celebrates 10 years of successful service. Since its launch in November 2007, London Overground has grown to be the third largest rail operator in the UK, providing a vital transport link for millions of Londoners, creating an orbital route around inner London and serving 23 of the Capital's boroughs, as well as southern Hertfordshire.</p>
<p><strong>The Mayor of London, Sadiq Khan, said</strong>: &quot;The Overground has transformed travel across the capital in the last 10 years, opening up areas of London and setting a new standard for quality of service on the rail network. We continue to improve the service every year and I'm delighted that we can bring night services to the East London line for the first time ever next month. The Night Tube has proven such a success with Londoners, I know the Night Overground will help thousands more who are working through the night or out enjoying our capital's nightlife.&quot;</p>
<p>The London Overground launched in 2007 by taking over from Silverlink Metro services. In the last 10 years TfL has expanded the network taking on three further lines, increased the frequency and capacity of trains, reduced delays, ensured all stations are staffed, improved accessibility, introduced Oyster and contactless, and opened six new stations. This has seen passenger numbers rise from 33 million in 2008/09 to more than 189 million in 2016/17.</p>
<p>Further improvements in the coming years include an extension of the Gospel Oak to Barking line to the Barking Riverside development, electrification of the Gospel Oak to Barking line, the introduction of 45 new air-conditioned walk-through trains on West Anglia lines, and the upgrade of ticket machines across the network.</p>
<p><strong>Nadia Wyse, Venue Director of Printworks London, said</strong>: &quot;For London to be successful as a cultural capital, and attract the best events and talent from around the world, it needs a vibrant night time economy supported by its transport networks. TfL's announcement that all night London Overground services will pass through Canada Water is fantastic news for people visiting our events.&quot;</p>
<p><strong>Mehmet Ergen, Artistic Director of Arcola Theatre, said</strong>: &quot;The Night Overground will make it so much easier, cheaper and faster for our visitors and staff to get to Dalston and home again, as we stay open until 3am on weekends. It will make new journeys and experiences possible each and every week.&quot;</p>
<p><strong>Matthew Moffat, Old Street District Partnership Chairman, said</strong>: &quot;The Old Street District Partnership are delighted that Night Overground is coming to east London. The economic impact of this will only be a positive one, benefiting businesses, staff and visitors as people will have the added security of now being able to get home safely much later. We very much look forward to Night Overground extending to Highbury and Islington next year.&quot;</p>
<p><strong>Sarah Nelson, Project Director, from regeneration specialists Primera, said</strong>: &quot;We are delighted that London Overground will be running 24 hour services through east London. The improvement in transport links will play a major role in helping to regenerate an area of huge potential in our Capital by offering a safe, reliable and affordable way of travelling around the city.&quot;</p>
<p><strong>Jen Bartle, Director of Marketing, Rich Mix, East London's Independent Arts Centre, said</strong>: &quot;Rich Mix has benefitted enormously from the London Overground's East London line extension. It has enabled us to better connect with audiences, creative people and businesses across the capital as well as the local communities we serve. The launch of London Overground night services will enable more people to experience our programme of activities and will help support a responsible approach to the development of the night-time economy.&quot;</p>
<p><strong>Will Rogers, Managing Director of Arriva Rail London, which operates the London Overground on behalf of TfL, said</strong>: &quot;We're looking forward to working with TfL to launch night services on London Overground from 15 December. Our teams in stations and on trains work tirelessly to transform the service for our customers and communities. We are proud to be delivering 24hr weekend services to the benefit of our customers who work during the night, and those that will be able to enjoy east London's vibrant social scene with an easier route home.&quot;</p>
<p><strong>Jonathan Fox, TfL's Director of London Rail and Sponsored Services, said</strong>: &quot;The East London line, from New Cross Gate to Dalston Junction,  is one of the most popular parts of London Overground, with the railway having contributed hugely to the regeneration of large parts of London over recent years. All night services, on Fridays and Saturday nights, from 15 December will make it easier for our customers to explore east London and enjoy the area's thriving night life and other attractions. It will also help support thousands of people working in night time jobs and boost the local and wider economy.&quot;</p>
<p>&nbsp;</p>
<hr />
<p> </p>
<p><strong>Notes to Editors:</strong></p>
<ul>
    <li>All stations along the route will be staffed at all times while trains are running, with CCTV, modern lighting and help points throughout</li>
    <li>Due to Crossrail work taking place at Whitechapel station, London Overground night services will initially not call at the station until works are complete. Services are expected to call at the station from summer 2018.</li>
    <li>The Night Overground will connect with the Night Tube network at Canada Water on the Jubilee line and, from next year, Highbury &amp; Islington on the Victoria line</li>
    <li>For more information visit: <a href="http://www.tfl.gov.uk/night-overground">www.tfl.gov.uk/night-overground</a></li>
</ul>
<p>&nbsp;</p>
<p>The Night Tube runs on the following lines on Friday and Saturday nights and the early hours of Saturday and Sunday mornings:</p>
<ul>
    <li>Central line: trains are running between Ealing Broadway and Loughton / Hainault</li>
    <li>Victoria line: trains are running on the entire line</li>
    <li>Jubilee line: trains are running on the entire line</li>
    <li>Northern line: trains are running from High Barnet and Edgware to Morden via the Charing Cross branch</li>
    <li>Piccadilly line: trains are running between Cockfosters and Heathrow Terminal five</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-November-GLA - Night Overground to launch Friday 15 December -->

 
 
        
        
            @{ViewBag.Description = "GLA - Night Overground to launch Friday 15 December";}
        
        


 