


@{ViewBag.Title = "GLA - Mayor launches ULEZ expansion consultation ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Mayor launches ULEZ expansion consultation </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Mayor launches ULEZ expansion consultation </h1>
        <div class="content-page-press-release">
        30 November 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor proposes expansion of Ultra-Low Emission Zone up to North and South circular roads for all vehicles from 25 October 2021
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I am determined to take the bold action needed to protect the public from London's poisonous, deadly air"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>This press release, issued by the Mayor of London, was first published on <a href="https://tfl.gov.uk/info-for/media/press-releases/2017/november/gla---consultation-on-major-transformation-of-oxford-street">london.gov.uk</a></p>
<ul>
    <li>Mayor proposes ULEZ standards would also apply Londonwide to buses, coaches and lorries from 26 October 2020</li>
    <li>Mayor wants public's views on these actions to lower toxic polluting emissions</li>
</ul>
<p>The Mayor of London today launched a new public consultation on the next phase of his hard-hitting plans to tackle London's toxic air, reduce filthy emissions and protect the public from harmful pollution by expanding the Ultra-Low Emission Zone (ULEZ).</p>
<p>The ULEZ standards would be applied Londonwide for buses, coaches and lorries from 26 October 2020 and for cars, vans and motorbikes (with limited exemptions) up to the North and South circular roads from 25 October 2021.</p>
<p>The Mayor is determined to help thousands more Londoners breathe cleaner air and is delivering a series of measures to protect public health and dramatically reduce car emissions from older more polluting vehicles.</p>
<p>The Mayor recently delivered the first phase of these plans by introducing the new weekday (7am &#45; 6pm Monday -Friday) &pound;10 Toxicity Charge (T-Charge) in central London for the oldest vehicles. This runs alongside and on top of the &pound;11.50 Congestion Charge (C-Charge).</p>
<p>From 8th April 2019, the Mayor is introducing the second phase of his plans - ULEZ, 17 months earlier than planned. It will replace the T-Charge and cover the same central area, alongside and on top of the congestion charge, but it will operate 24 hours a day, seven days a week, 365 days a year. The daily charge for non-compliant vehicles will increase from &pound;10 to &pound;12.50 (for cars, vans and motorbikes) and &pound;100 (for buses, coaches and lorries).<br />Now the Mayor has set out his ambitious plans for the third phase that will deliver the health benefits of ULEZ to millions more Londoners by extending the Ultra-Low Emission Zone in 2021. This could affect 100,000 cars a day, 35,000 vans a day and 3,000 lorries a day. Drivers of non-compliant cars, vans and motorbikes would pay the same &pound;12.50 daily fee as the central London ULEZ seven days a week. Drivers of non-compliant lorries, coaches and buses would pay &pound;100 a day. Diesel vehicles that do not meet the Euro 6 standard and most petrol vehicles that do not meet the Euro 4 standard will have to take action or pay, making the ULEZ the tightest emission standard adopted in any major world city.<br />The area covered by the expanded ULEZ would include all roads up to a limit of the North and South circular roads, but not the North and South circular roads themselves.</p>
<p>The benefits of the expanded ULEZ include:</p>
<ul>
    <li>Approximately 100,000 people will no longer live in areas exceeding legal limits, which is a reduction of nearly 80 per cent in 2021</li>
    <li>43 per cent fewer road kilometres would exceed legal pollution limits in 2020 and 64 per cent fewer in 2021</li>
    <li>71 per cent reduction in schools in high pollution areas in 2021 &#45; reducing exposure of school children to harmful emissions that can reduce their lung development</li>
    <li>In outer London there would be a 28 per cent reduction in NOx road transport emissions, and in inner London there would be around a 31 per cent reduction in NOx road transport emissions in 2021.</li>
</ul>
<p>Sadiq has already strengthened the ULEZ standards to include a particulate matter standard after recent health data revealed that every part of London exceeds recommended World Health Organisation air quality guidelines for PM2.5. This follows the publication of his draft London Environment Strategy which sets out ambitious plans to meet these guidelines by 2030.</p>
<p>The Mayor is doing everything in his power to tackle London's toxic air, including cleaning up the bus fleet, creating 12 Low Emission Bus Zones, phasing out diesel taxis, funding 50 schools air quality audits, setting tighter standards for construction machinery and introducing air quality alerts. He has also created a Cleaner Vehicle Checker so Londoners can check the real-world emissions of cars and vans before buying them.</p>
<p>The Mayor now needs the Government to step up and match his ambition by putting in place a national vehicle scrappage fund to help people replace vehicles affected by the proposals, or to switch to cleaner alternatives.</p>
<p>The Mayor of London, Sadiq Khan said: </p>
<p>'I am determined to take the bold action needed to protect the public from London's poisonous, deadly air.  I can't ignore the shameful fact that London's air is so toxic it harms children's lungs, exacerbates chronic illness and contributes to thousands of premature deaths each year.</p>
<p>'Following the successful introduction of the T-Charge, and confirmation of the central London ULEZ, I am moving ahead with the next stage of my plan to expand the Ultra-Low Emission Zone up to the busy north and south circular roads.</p>
<p>'I want Londoners to let me know what they think about my plans to clean up our lethal air.</p>
<p>'I'm doing everything in my power to turn around air pollution in London but I urgently need the Government to wake up to the scale of the challenge.  Instead of blocking London from accessing the new National Clean Air Fund, they should be delivering a diesel scrappage scheme to get the filthiest cars off our roads. The Government's own data shows that roughly 40 per cent of the UK's roads exceeding legal pollution limits are located in the capital. Drivers need help switching to cleaner vehicles and greener alternatives and the whole of London needs a government which takes responsibility for this toxic air quality crisis.'</p>
<p>Alex Williams, TfL, Director of City Planning, said: </p>
<p>'The Mayor has set out his vision for how harmful emissions will be dramatically reduced in the capital and we are working full speed to deliver his ambitious agenda. The successful introduction of the T-Charge, the greening of the bus fleet and the bringing forward of the date for the central London ULEZ to April 2019 are all clear demonstrations of our intent to clean up London's dangerously polluted air. The plan to expand the ULEZ up to the North and South circular is the next step change needed towards bringing the city's air within legal limits. We look forward to Londoners helping us shape these proposals through the consultation.'</p>
<p>Bridget Fox, Sustainable Transport Campaigner, Campaign for Better Transport said: </p>
<p>'This is a welcome move by the Mayor. This consultation takes us closer to a comprehensive expanded Ultra-Low Emission Zone. For too long, Londoners have endured lethal and illegal levels of air pollution, much of it from diesel vehicles. We believe all Londoners deserve clean air at the earliest opportunity and we urge the Mayor to continue implementing measures that will benefit millions of people.</p>
<p>'Restrictions on the most polluting vehicles are only part of the solution though. We need fewer cars not just newer cars. That means continued investment in a comprehensive network of high quality public transport across the capital, and better cycling and walking facilities. This will help deliver a healthy, prosperous future for all Londoners.'</p>
<p><hr /></p>
<ol>
    <li>To view the consultation visit: <a href="http://tfl.gov.uk/airquality-consultation">tfl.gov.uk/airquality-consultation</a> It closes on 28th Feb 2018.</li>
    <li>For an image of the new ULEZ sign please email <a href="mailto:economicdesk&#64;london.gov.uk">economicdesk&#64;london.gov.uk</a></li>
    <li>TFL's ULEZ vehicle compliance checker is available at: <a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone">https://tfl.gov.uk/modes/driving/ultra-low-emission-zone</a></li>
</ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-November-GLA - Mayor launches ULEZ expansion consultation  -->

 
 
        
        
            @{ViewBag.Description = "Mayor launches Ultra-Low Emission Zone expansion consultation - North & South circular";}
        
        


 