


@{ViewBag.Title = "GLA - Ultra-Low Emission Zone will start in 2019";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Ultra-Low Emission Zone will start in 2019</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Ultra-Low Emission Zone will start in 2019</h1>
        <div class="content-page-press-release">
        03 November 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        World's first Ultra-Low Emission Zone (ULEZ) to tackle toxic air pollution will operate from 8 April 2019 in Central London
        
    </div>



 <div class="on-this-page">
<p>This press release, issued by the Mayor of London, was first published on <a href="https://www.london.gov.uk/press-releases/mayoral/ulez-will-start-in-2019-to-tackle-toxic-air">london.gov.uk</a>&nbsp;</p>
<ul>
    <li>More than 100,000 people across London will no longer live in areas exceeding the NO2 limits thanks to early introduction</li>
    <li>24-hour ULEZ will replace the T-Charge, tightening standards and affecting up to 60,000 vehicles a day</li>
    <li>NOx road transport emissions in central London estimated to fall by an additional 20 per cent in 2019</li>
</ul>
<p>The Mayor of London today announced plans for the next major stage of his hard-hitting measures to help tackle London's lethal air pollution and dramatically reduce harmful emissions from up to 60,000 vehicles daily &#45; with the early introduction of the Ultra-Low Emission Zone (ULEZ) in central London from 8th April 2019.</p>
<p>Last month Sadiq introduced the new Toxicity Charge (T-Charge) in central London to help deter the use of older more polluting vehicles, and encourage walking or cycling, or using public transport, in the build up to the ULEZ.<br />
From April 2019 the ULEZ will replace the T-Charge and operate in the same area, alongside the congestion charge but (unlike the T-Charge and Congestion Charge, which are only in place on weekdays) it will operate 24 hours a days, seven days a week, 365 days a year.</p>
<p>There will also be two ULEZ charge levels: &pound;12.50 a day for cars, vans and motorbikes and &pound;100 a day for lorries, buses and coaches.  These charges will be in addition to the Congestion Charge (C-Charge), so the more polluting cars and vans would pay &pound;24 per day and lorries would pay &pound;111.50 during C-Charge hours.</p>
<p>All revenue raised will be used by Transport for London to help maintain a greener transport fleet and reduce pollution across the transport network.</p>
<p>ULEZ will also affect thousands more vehicles, up to 60,000 every day, compared to the estimated 6,500 a day affected by the T-Charge.  Diesel vehicles that do not meet the Euro 6 standards and most petrol vehicles that do not meet the Euro 4 standard will have to take action or pay.</p>
<p>Broadly, a four-year-old or newer diesel car will meet the requirement in 2019 when the scheme comes into force, making the ULEZ the tightest emission standard adopted in the world.</p>
<p>The Mayor is doing everything in his power to clean up London's filthy air and as well as bringing in the ULEZ a year earlier than previously planned, Sadiq has expanded the ULEZ standards to include a particulate matter standard after recent health data revealed that every part of London exceeds World Health Organization recommended air quality guidelines for PM2.5.</p>
<p>He has also decided that TfL buses &#45; especially the New Routemaster bus &#45; should meet the same Euro 6 requirement as other heavy vehicles and private buses from April 2019.</p>
<p>Road transport emissions in central London are expected to reduce by an additional 20 per cent in 2019 as a result of the early introduction of the ULEZ. This includes:</p>
<ul>
    <li>NOx emissions from HGVs are expected to reduce by nearly 50 per cent.</li>
    <li>Coach and non-TfL bus emissions will reduce by more than a third.</li>
    <li>Emissions from cars and vans are expected to reduce by eight and 12 per cent respectively (it should be noted that while the reduction in emissions is smaller than for larger vehicles, their savings make up nearly one-third of the emissions reductions in central London).</li>
    <li>More than 30,000 people in central London (a 40 per cent reduction), and 100,000 people across London, will no longer live in areas exceeding the NO2 limits.</li>
    <li>19 schools in central London and 42 schools across London will no longer be in areas exceeding legal limits in 2019 as a result.</li>
    <li>The ULEZ benefits should be even greater by 2020 with an estimated 45 per cent reduction in road transport emissions.</li>
</ul>
<p>More than 18,000 Londoners responded to the Mayor's public consultation on ULEZ, with nearly 60 per cent (11,041) strongly supporting the principle of ULEZ, and 63 per cent (11,383) supporting or strongly supporting earlier implementation.</p>
<p>The Mayor of London, Sadiq Khan said: </p>
<p>'London's lethal air is one of the biggest health challenges of this generation. We can't continue breathing in air so toxic it harms children's lung development and causes chronic illness and premature death. I am determined to take the bold action needed to address this scourge once and for all.</p>
<p>'So I am pleased to confirm that from 8th April 2019 &#45; 17 months earlier than planned &#45; stricter standards for diesel vehicles will apply 24/7 across central London. This builds on the success of the T-Charge and is part of my comprehensive plan to clean London's air.</p>
<p>'I've taken the bold action we need to protect our children, but we now urgently need the Government to step up and provide the support to Londoners and businesses required to help them meet these crucial standards.'</p>
<p>It is anticipated that behaviour change, similar to that seen following the T-Charge announcement where the number of motorists with older vehicles driving into the zone dropped significantly after the Mayor announced his plans, will mean some motorists will decide over the next 18 months to replace their vehicles with less polluting models which are not liable for the charge. Alternatively, they may decide to walk, cycle or use public transport.</p>
<p>Chief Executive of the British Lung Foundation, Dr Penny Woods, said: </p>
<p>'Air pollution on many of London's roads is at illegal and harmful levels. This is why we strongly support the early implementation of the ULEZ. Air pollution leaves people coughing, breathless and at risk of long term health concerns. For those with lung conditions it could leave them completely housebound to avoid the worsening of their health.</p>
<p>'Early implementation of the ULEZ could dramatically improve people's quality of life and reduce the burden on health services. However, further and faster action from the government is still needed. Traffic is the major cause of filthy air. A targeted scrappage scheme is needed to help people move to cleaner vehicles. This must prioritise people on low incomes and those with health conditions who find it hardest to get around.'</p>
<p>The ULEZ and T-Charge are just some of the ambitious hard-hitting measures the Mayor is introducing to improve London's toxic air quality &#45; he is developing proposals for a London-wide Euro 6 standard for buses, coaches and lorries in 2020 and expanding the area of the ULEZ for all vehicles (including, cars, vans and motorcycles) up to the North/South Circular roads in 2021. A consultation will start later this year.</p>
<p>TfL's Director for City Planning, Alex Williams, said: &quot;We are moving quickly to implement the Mayor's bold proposals to improve air quality in the Capital. Bringing forward the introduction of the central London ULEZ was popular with the public in the consultation and will be pivotal in dramatically reducing harmful emissions. It also gives drivers and businesses the certainty they need when deciding to buy new vehicles, as well as being a catalyst for people to make more sustainable travel choices.</p>
<p>Greenpeace Clean Air Campaigner, Rosie Rogers, said: </p>
<p>'Following the introduction of the T-Charge last month, it's good to see the Mayor pushing forward with the next step of his plan to restrict diesel cars in central London. It will make a big difference to air pollution, which contributes to serious health problems for so many people in the capital.</p>
<p>'Now diesel is being rejected not only by consumers, with sales dropping for six consecutive months, but by cities too. When will car companies embrace the fact that investing in electric vehicles is the only way forward and the only responsible thing to do? Continuing to invest in diesel is outdated and dangerous. It needs to stop now.'</p>
<p>The Mayor has also called on the Government to put in place a national vehicle scrappage scheme to help people replace vehicles affected by the proposals or switch to cleaner alternatives. There was overwhelming support for this in the first round of his consultation. He also wants fiscal incentives, like vehicle excise duty, to be reformed so they support his proposals and encourage people to own and use the cleanest vehicles.</p>
<p>&nbsp;</p>
<hr />
Notes to Editors:<br />
<ul>
    <li>TfL's ULEZ vehicle compliance checker is available at: <a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone">https://tfl.gov.uk/modes/driving/ultra-low-emission-zone</a>.</li>
    <li>To view TfL's consultation results and report, see: <a href="http://tfl.gov.uk/airquality-consultation">tfl.gov.uk/airquality-consultation</a>.</li>
</ul>
1. How does the ULEZ differ from the T-charge?
<p> 	</p>
<div class="table-container"><table>
    <tbody>
        <tr>
            <td>&nbsp;</td>
            <td><strong>&nbsp;T-Charge<br />
            </strong></td>
            <td><strong>ULEZ&nbsp;</strong></td>
        </tr>
        <tr>
            <td><strong>Start date&nbsp;</strong></td>
            <td>23 October 2017 (confirmed)</td>
            <td>8 April 2019 (confirmed)</td>
        </tr>
        <tr>
            <td><strong>Area</strong></td>
            <td>Central London Congestion Charge zone (CCZ)</td>
            <td>Initially central London CCZ, and then in future years expanding to inner London for all vehicles and London-wide for buses, coaches and lorries (subject to consultation)</td>
        </tr>
        <tr>
            <td><strong>Emission standards</strong></td>
            <td>Minimum Euro 4 for both petrol and diesel (roughly more than ten years old)</td>
            <td>Minimum Euro 6 for diesel vehicles (roughly more than four years old in 2019); Euro 4 for petrol (roughly more than 12 years old in 2019)</td>
        </tr>
        <tr>
            <td><strong>Hours of operation</strong></td>
            <td>Monday to Friday, 7am-6pm (excludes Bank Holidays and the period between Christmas Day and New Year's Day inclusive)</td>
            <td>24 hours a day, 7 days a week, 365 days a year</td>
        </tr>
        <tr>
            <td><strong>Charges&nbsp;</strong></td>
            <td>&pound;10 a day for any non-compliant vehicles</td>
            <td>&pound;12.50 a day for non-compliant cars, vans and motorbikes and &pound;100 a day for non-compliant buses, coaches and lorries&nbsp;</td>
        </tr>
        <tr>
            <td><strong>Discounts and exemptions</strong></td>
            <td>90 per cent discount for residents; 100 per cent discount for blue badge holders; and exemptions for emergency service vehicles, NHS vehicles and motorbikes<br />
            (see Note 2 regarding residents of the CCZ)&nbsp;</td>
            <td>&nbsp;There will be a 'sunset period' for residents of the CCZ and all vehicles adapted for disability needs before the emission standards come into effect</td>
        </tr>
    </tbody>
</table></div>
<br />
2. Which vehicles are affected and what emission standards do they have to meet?<br />
<br />
<div class="table-container"><table>
    <tbody>
        <tr>
            <td><strong>Vehicle type <br />
            Includes hybrid vehicles<br />
            </strong></td>
            <td><strong>Minimum emission standards&nbsp;</strong></td>
            <td><strong>Charge if vehicle does not meet the ULEZ standards. This is payable in addition to any applicable LEZ or CCZ charges&nbsp;</strong></td>
            <td><strong>Penalty charge if vehicle does not meet ULEZ standards and daily charge not paid. This is in addition to any LEZ or CC penalty charges.</strong></td>
        </tr>
        <tr>
            <td>Motorcycles, mopeds, motorised tricycles and quadricycles (L category)</td>
            <td>Euro 3</td>
            <td>&pound;12.50</td>
            <td>&pound;130 (reduced to &pound;65 if paid within 14 days)&nbsp;</td>
        </tr>
        <tr>
            <td><strong></strong>
            <p>Cars, and small vans (not exceeding 1,205kg unladen weight)</p>
            <p>Larger vans, 4x4 light utility vehicles, motorised horseboxes, pickups (exceeding 1,205kg unladen and not exceeding 3,500kg GVW)</p>
            <p>Ambulances and motorcaravans (2,500kg to 3,500 kg GVW)</p>
            <p>Minibuses (more than eight passenger seats, not exceeding 5,000kg GVW)</p>
            </td>
            <td>Euro 4 (petrol)/Euro 6 (diesel)<br />
            </td>
            <td>&pound;12.50</td>
            <td>&pound;130 (reduced to &pound;65 if paid within 14 days)</td>
        </tr>
        <tr>
            <td>
            <p>Lorries, motorised horse boxes, breakdown and recovery vehicles, snow ploughs, gritters, refuse collection vehicles, road sweepers, concrete mixers, fire engines, tippers, removals lorries (exceeding 3,500kg GVW)</p>
            <p>Buses and coaches (more than eight passenger seats, exceeding 5,000kg GVW)</p>
            <strong></strong></td>
            <td>Euro 6<br />
            </td>
            <td>&pound;100</td>
            <td>&pound;1,000 (reduced to &pound;500 if paid within 14 days)</td>
        </tr>
    </tbody>
</table></div>
<br />
<p>The Penalty Charge Notice for the T-Charge is the same for all vehicle types: &pound;130 (reduced to &pound;65 if paid within 14 days).</p>
<p>3. The ULEZ will replace the T-charge except for a small number of residents of the congestion charging area eligible for a three year sunset period. If their vehicle does not meet the T-charge standards (minimum Euro 4 for both petrol and diesel) they would still be expected to pay the &pound;10 T-charge (discounted by 90 per cent).</p>
<p>4. The Mayor has confirmed a variation order &#45; the Greater London Low Emission Zone Charging (Variation and Transitional Provisions) Order 2017 &#45; to make changes to the 2006 Scheme Order that establishes the ULEZ.  His confirmation approves the above proposals, which were subject of a public and stakeholder consultation.  The Mayor also modified the variation order to provide that TfL buses are subject to the same Euro 6 requirement as other buses from April 2019, as well allowing TfL to specify accepted payment channels by any acceptable means and making a minor change concerning the purchase of  the ULEZ charge in advance.</p>
<p>5. The Mayor wants to work with the government to help tackle dangerous air pollution once and for all. Government actions should include:</p>
<ul>
    <li>Setting up a diesel scrappage fund: the Mayor has called on government to implement his new proposals for a national 'dirty' vehicle scrappage fund that financially compensates motorists and enables government to get a grip on killer toxic air. Proposals include: &pound;3,500 for up to 70,000 polluting London van and minibus drivers to buy cleaner vehicles; a &pound;2,000 credit scheme to help low-income London families scrap up to 130,000 cars; and &pound;1,000 to help scrap London's oldest taxis &#45; with additional support by the Mayor.</li>
    <li>Producing a 21st century Clean Air Act: new legislation would provide the overarching framework for action, dragging the law up to date to cope with the massive air quality challenges we face today. This would provide a legally enforceable right to clean air &#45; standards currently enforced by the European Union and the Government should introduce new powers to better regulate all sources of emissions, not just road transport, and give powers to local authorities.</li>
    <li>Vehicle Excise Duty (VED) and other fiscal reforms: it is essential that national policy is pulling people in the right direction. Unfortunately VED continues to make the purchase of diesel cars more attractive.</li>
    <li>Devolving additional powers: London needs additional powers to manage toxic emissions such as pollution from construction sites and river traffic. For example additional powers to implement construction and river low emission zones similar to those used for road vehicles.</li>
    <li>Greater funding for City Hall and boroughs: Government should recognise that London's air quality challenges are linked to a national problem and provide additional support. This should include a share of Londoners' VED revenues to fund improvements of nationally important roads.</li>
</ul>
<p>6. London's emergency services are showing leadership in cleaning up their fleets and are determined to take bold steps towards becoming cleaner and greener, rather than asking for a blanket exemption. In line with Government guidance, the Mayor supports some flexibility and recognises  &#45; unlike for most fleets &#45; it is not always possible to predict when emergency vehicles will be required. Therefore, the Mayor intends to work closely with each service on a specific memorandum of understanding that will outline how they intend to comply with the ULEZ, taking into account their unique circumstances. It is expected that the arrangements will be time limited akin to the sunset period offered to residents and disabled vehicles and will apply to specialist and emergency response vehicles. However, all general purpose vehicles and most vehicles stationed in the zone will be expected to comply by the start of the scheme.</p>
<p>&nbsp; <br />
&nbsp; <br />
&nbsp;&nbsp;&nbsp; <br />
&nbsp;&nbsp; </p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-November-GLA - Ultra-Low Emission Zone will start in 2019 -->

 
 
        
        
            @{ViewBag.Description = "Mayor: Ultra-Low Emission Zone will start in 2019 to tackle toxic air pollution";}
        
        


 