


@{ViewBag.Title = "GLA - Mayor opens &pound;23m van 'scrap for cash' fund";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Mayor opens £23m van ‘scrap for cash’ fund</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Mayor opens £23m van ‘scrap for cash’ fund</h1>
        <div class="content-page-press-release">
        22 February 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        &pound;23 million scheme opens today to help London's microbusinesses and charities scrap older, polluting vans and minibuses
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Motorists need our help and support to take positive action, and I am proud to today open this &pound;23 million scrappage scheme today to help enable microbusinesses and charities to scrap polluting vans and minibuses, and switch to cleaner vehicles"</div>
        <div class="quote-footer">
            <div class="quotee-name"> Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>This press release, issued by the Mayor of London, was first published on <a href="[ioID]#https://www.london.gov.uk/press-releases/mayoral/mayor-opens-23m-van-scrappage-fund">london.gov.uk</a></p>

<ul>
	<li>Option to receive &pound;6,000 towards scrapping and using towards running costs of a new electric model or &pound;3,500 to scrap and fund cleaner transport alternatives</li>
	<li>Fund aims to help microbusinesses and charities prepare for the 24-hour, seven-days-a week ULEZ in central London from 8th April</li>
</ul>

<p>With six weeks to go until the 24-hour, seven-days-a week Ultra Low Emission Zone begins in central London, the Mayor has today opened his scrappage fund to help microbusinesses and charities scrap their older, more polluting vans and minibuses and switch to cleaner vehicles.</p>

<p>The &pound;23 million scrappage fund is one of the Mayor's hard-hitting measures to tackle toxic air pollution which leads to 40,000 premature deaths annually across the UK and increases the risk of asthma, cancer and dementia.</p>

<p>With polluting vehicles accounting for around 50 per cent of London's toxic NOx air emissions, air pollution costs the UK economy &pound;20 billion every year.</p>

<p>From today, microbusinesses and charities can choose from a range of 'scrap for cash' options and apply for the scheme online at www.tfl.gov.uk/scrappage-scheme.</p>

<p>The Government already offer grants to cover the capital cost of electric vans. These grants reduce the cost of an electric van by up to 20 per cent or a maximum of &pound;8,000. The Mayor's scheme has been designed to be complementary to this support and aims to help microbusinesses &#45; defined as those with 10 or fewer employees &#45; and registered charities who have vans and minibuses that do not comply with the new ULEZ standards. Businesses and charities will have to be registered in London or have been frequently observed driving in the Congestion Charging Zone.</p>

<p>Options include:</p>

<ul>
	<li>A payment of &pound;6,000 to scrap a non-compliant van or minibus and help with running costs of a new electric vehicle</li>
	<li>A payment of &pound;3,500 to scrap a non-compliant van or minibus which can be used to:
	<ul>
		<li>purchase a newer ULEZ compliant Euro 6 vehicle;</li>
		<li>access third party offers from rental and sharing services across London, including Zipcar, Northgate Hire, Enterprise and Europcar*;</li>
		<li>support ongoing business operations*</li>
	</ul>
	</li>
</ul>

<p>The Mayor recently announced a further &pound;25 million to support low-income Londoners scrapping older cars, with further details to be announced later this year. This brings the total funding the Mayor has made available for his scrappage fund to &pound;48 million.</p>

<p>Last week Sadiq hosted a national air quality summit with city leaders from across the UK as they called on Environment Secretary, Michael Gove MP, and the Health Secretary, Matthew Hancock MP, to prioritise action to reduce road transport emissions, and fund a national scrappage scheme.</p>

<p>Ministers could match fund the Mayor's &pound;48 million scheme through the Government's &pound;220 million National Clean Air Fund or Highways England's &pound;75 million air quality fund. Londoners pay hundreds of millions of pounds in Vehicle Exercise Duty every year but only a fraction of this money is then spent in the capital.</p>

<p>The Mayor of London, Sadiq Khan, said:</p>

<p>'To get a grip on London's lethal air and protect public health we need to rid our streets of the most polluting vehicles. With six weeks to go until the Ultra Low Emission Zone starts in central London many Londoners are looking at ways to change to cleaner transport options.</p>

<p>'Motorists need our help and support to take positive action, and I am proud to today open this &pound;23 million scrappage scheme today to help enable microbusinesses and charities to scrap polluting vans and minibuses, and switch to cleaner vehicles. The van scrappage scheme will be followed later this year with a &pound;25 million fund to help lower-income households scrap polluting cars.</p>

<p>'Air pollution is now widely recognised as a national health crisis that is stunting the lung development of our children and leading to thousands of premature deaths.&nbsp; We need government ministers to help fund a national scrappage scheme targeted at cities across the UK that will support all motorists to ditch their polluting cars, and help clean our filthy air once and for all.'</p>

<p>Alex Williams, Transport for London's Director of City Planning, said:</p>

<p>'London's toxic air affects everyone, especially the most vulnerable people such as children and the elderly. This is why today's launch of a &pound;23 million diesel scrappage scheme to help micro-businesses and charities switch away from polluting vans and play their part in tackling air pollution is so important.'</p>

<p>Bridget Long, General Manager, Enterprise Rent-A-Car London &amp; South East, said:</p>

<p>'We are delighted to play our part in supporting the London Mayor's strategy for cleaner air in the city. Enterprise operates one of the newest and cleanest fleets available in the rental sector and will provide Euro 6-compliant vehicles to all businesses participating in the London van scrappage scheme. Whether it's a van for a few hours or a refrigerated articulated lorry for two years, we will create the right solution to meet the needs of businesses operating within the Ultra Low Emission Zone.'</p>

<p>Kathleen Whittam, Head of Strategic Accounts, Northgate PLC, said:</p>

<p>'Having cleaner air in our cities is of paramount importance for all our futures. For London-based businesses, we also understand the impact that ULEZ could have on running costs. We're delighted to be supporting the ground-breaking scrappage scheme designed to help businesses run compliant vehicles, through offering an exclusive 'scrappage scheme discount' on our van hire solutions, alongside offers on our Euro 6 vans available for purchase. This will enable eligible businesses to keep moving forwards without downtime.'</p>

<p>Jonathan Hampson, General Manager, Zipcar UK, said:</p>

<p>'Zipcar UK supports the roll-out of the ULEZ, it's exactly the type of bold solution needed to tackle London's twin challenges of chronic congestion and poor air quality. We're delighted to announce that we're working with the GLA and TfL, to support the Mayor's diesel van scrappage scheme with a financial support package for businesses . Zipcar UK can support the transition to ULEZ by giving businesses access to fully compliant vehicles without needing to purchase new vans.'</p>

<p>Gerry Keaney, Chief Executive of British Vehicle Rental &amp; Leasing Association (BVRLA), said:</p>

<p>'The vehicle rental, leasing and car club industry will play a vital role in delivering the transition to cleaner urban transport and we are delighted to see some of our members stepping-up to pledge their own support for the Mayor's scrappage scheme.</p>

<p>'This initiative will provide vital and timely assistance for SME's that need to upgrade their vans ahead of the London ULEZ being introduced on 8th April. London has set an ambitious timeline for its clean air zone and the Mayor has recognised the fact that some businesses will need financial support in upgrading their vehicles. We welcome the leadership he has shown in calling for a national scrappage fund that can be used to help urban businesses and residents switch to cleaner vehicles or other modes of transport.'</p>

<p>Sue Terpilowski OBE, London Policy Chair for the Federation of Small Businesses, said:</p>

<p>'We welcome this initiative to support micro businesses with a diesel scrappage scheme.&nbsp; FSB London have long argued of the need to help businesses struggling with the cost of doing business.</p>

<p>'The scheme will support many businesses and we hope the Mayor can work with Government to call for extra matched-funding, and, for an all-encompassing retrofit scheme to help those with essential&nbsp; business vehicles that will not be eligible for this scheme'</p>

<p>With road transport responsible for around half of air pollutants, the Central London ULEZ aims to reduce toxic emissions in central London by around 45 per cent by 2020, together with measures to clean up taxis and buses. The ULEZ is an essential part of a series of bold measures the Mayor is taking to tackle London's filthy air, from cleaning up the bus fleet and taxi fleet to introducing 12 Low Emission Bus Zones in some of the capital's worst air quality hotspots and rolling out rapid charging infrastructure.</p>

<p>Together these measures will ensure that by 2025 there will be no London primary and secondary schools in areas of toxic pollution &#45; there are currently 453.</p>

<hr />
<p>Notes to Editors:</p>

<ol>
	<li>To apply for the scheme visit here: www.tfl.gov.uk/scrappage-scheme. Organisations eligible for the &pound;23 million scheme need to be either a microbusiness or charity as defined below:
	<ol>
		<li>Microbusinesses must have:</li>
		<li>10 or fewer employees;</li>
		<li>Up to &pound;632,000 turnover or &pound;316,000 balance sheet total up to current financial year; and</li>
		<li>Companies House registration as an active company or VAT registered.</li>
		<li>Charities must be registered with The Charity Commission.</li>
	</ol>
	</li>
	<li>Those applying for the top payment of &pound;6,000 to scrap the vehicle and use towards the running costs of an electric vehicle will be eligible for a maximum three month 'rebate' from the ULEZ to account for the longer lead-in time to purchase an electric model. The three month rebate period will start from either the date of application or launch of the ULEZ, depending which is later.</li>
	<li>The Government already offer grants to cover the capital cost of electric vans. These grants reduce the cost of an electric van by up to 20 per cent or a maximum of &pound;8,000. The Mayor's scheme has been designed to be complementary to this support and helps covers running costs.</li>
	<li>A report by the Royal College of Physicians found the health problems resulting from exposure to air pollution have a high cost to people who suffer from illness and premature death, to our health services and to business. In the UK, these costs add up to more than &pound;20 billion every year (https://www.rcplondon.ac.uk/projects/outputs/every-breath-we-take-lifelong-impact-air-pollution).</li>
	<li>TfL have an online tool to help people check whether their vehicle meets the ULEZ standards, which has been used almost 2.5 million times: www.tfl.gov.uk/ulez.</li>
</ol>

<p>*Only applies to vehicles that have been driven in the Congestion Charge zone at least 52 times during the past six months.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-February-GLA - Mayor opens £23m van ‘scrap for cash’ fund -->

 
 
        
        
            @{ViewBag.Description = "Mayor opens £23m van ‘scrap for cash’ fund for microbusinesses and charities";}
        
        


 