


@{ViewBag.Title = "GLA - Mayor calls for infrastructure investment increase ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Mayor calls for infrastructure investment increase </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Mayor calls for infrastructure investment increase </h1>
        <div class="content-page-press-release">
        09 July 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New report reveals impact major schemes would have in London
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This report highlights how the Government should invest in infrastructure around the country in order to stimulate new jobs, new homes and prosperity. It also proves that increasing infrastructure investment in the short term will reap enormous benefits in the long term"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>This press release, issued by the Mayor of London, was first published on <a href="https://www.london.gov.uk/press-releases/mayoral/report-calls-for-increase-in-infrastructure-spend">london.gov.uk</a>&nbsp;</p>
<ul>
    <li>Boost for jobs, housing and business</li>
    <li>Tax receipts generated would pay for schemes on their own</li>
    <li>Investment now will secure 'enormous benefits' in future - Sadiq</li>
</ul>
<p>The Mayor of London, Sadiq Khan, today calls on the Government to increase national infrastructure spending, as a new report reveals that investment in some of the biggest schemes in the capital would lead to the creation of nearly 400,000 new jobs and a similar number of new homes.</p>
<p>The report shows that major public investment in these schemes would generate &pound;33bn extra for the economy per year by the middle of the century, adding an extra &pound;10bn per year in tax receipts &#45; enough to pay for all of them.<br />
Prepared by Greenwood Strategic Advisors, the report looks at how the whole of London responds to public investments, as well as the long-term socioeconomic cost of not making such investments. Schemes that it analyses are:</p>
<ul>
    <li>The extension of the Elizabeth Line to Ebbsfleet in Kent.</li>
    <li>Crossrail 2 &#45; the new south west &#45; north east connection that will transform journey times and connectivity from the Solent to the Wash.</li>
    <li>An extension of the Croydon tram network towards Sutton.</li>
    <li>Extending the Bakerloo line to Lewisham via the Old Kent Road and New Cross Gate.</li>
    <li>Continued investment in the Royal Docks as a distinctive location for business and culture.</li>
</ul>
<p>To reach conclusions in the report, entitled, 'Mind the Gap: Funding and Financing City Investments in the 21st Century', Greenwood and the Mayor's Office have devised a state-of-the-art computer model called the Greater London Simulator that can analyse how London responds to investments and other policy options. It reveals that Government investment in these schemes would lead to:</p>
<p>&nbsp;</p>
<ul>
    <li>365,000 new homes, enabling additional population growth of 640,000</li>
    <li>379,000 new jobs</li>
    <li>913,000 m2 of new London business space</li>
    <li>&pound;33.8bn added to the economy per year</li>
    <li>&pound;9.8bn additional Treasury tax take per year</li>
</ul>
<p>Sadiq believes that infrastructure investment should not be seen as a 'zero-sum game', where one region of the UK loses out to another. He believes that all parts of the UK need to see an increase in transport and infrastructure investment from the government in order to support future growth and job creation as Britain exits the European Union.</p>
<p>This report has been published just one day before the National Infrastructure Commission, chaired by Sir John Armitt is expected to publish its assessment of the UK's infrastructure needs for the next 30 years.</p>
<p>The Mayor of London, Sadiq Khan, said:&nbsp;</p>
<p>'This report highlights how the Government should invest in infrastructure around the country in order to stimulate new jobs, new homes and prosperity. It also proves that increasing infrastructure investment in the short term will reap enormous benefits in the long term.</p>
<p>'As a country, we need to move from a system of underinvestment, low growth, reduced tax take and constrained public funding toward a new philosophy of sensible investment in high-growth schemes that deliver economic prosperity, more homes and higher tax revenues.</p>
<p>'Good quality, modern infrastructure, including new roads and railways is crucial if this country is to remain a global economic powerhouse &#45; so it is vital that we see increased investment across the country and not just here in London. I am confident that the National Infrastructure Commission will convey the need for a substantial increase in investment when it publishes its assessment of the country's requirements.'</p>
<p>Without the additional housing units that these schemes would lead to, London's total housing will grow by 12 per cent to 2050, but the city's population will swell by over 17 per cent to 9.9 million people, putting more pressure on housing.</p>
<p>Because of the absence of housing that these investments would make possible, London's total job growth to 2050 will be 16 per cent lower and economic growth will be down by 10 per cent. As a result, the Treasury's real annual London tax revenues will be almost 12 per cent lower in 2050 than they would be with these five investments.</p>
<p>The analysis also reveals that investments is these schemes would be largely insensitive to the potential negative impacts of Brexit. It also reveals the critical importance of decarbonisation programmes, without which London's growth would cause carbon dioxide and other emissions to grow.</p>
<p>Craig Stephens, Deputy Chief Executive, GreenwoodStrategic Advisors, said: </p>
<p>'Public infrastructure investments are stuck in a 'vicious cycle'. Funding constraints delay or prevent such investments and the public benefits and tax revenues they bring. This perpetuates the funding constraints that are limiting investment.</p>
<p>'Breaking free from this pattern requires dynamic analysis that enables private financing for public investments. Greenwood developed the Greater London Simulator to meet this need. Pension funds and other investors are seeking such investments. Engaging with them can relieve public budgets and energise a 'virtuous circle' in which new infrastructure brings socioeconomic benefits and increased tax revenues for local authorities and the nation.'</p>
<p>Lucinda Turner, Director of Spatial Planning at Transport for London, said: </p>
<p>'It's absolutely vital that we plan and invest in the next major transport infrastructure projects such as Crossrail 2 and the Bakerloo line extension to ensure we can support London's continued growth.</p>
<p>'We are working to develop these schemes so that they deliver better connectivity for customers and for the areas which they serve. By investing in these schemes, we can help unlock housing and create new jobs which will deliver major local, regional and national benefits and support the wider UK economy.'</p>
<p>Jasmine Whitbread, chief executive of London First, said: </p>
<p>'Investing in infrastructure is proven to generate economic growth, creating jobs and unlocking new housing. Money is tight for the Chancellor but London can help bridge the gap, as we'll do for Crossrail 2 by matching central government investment pound for pound. The problem isn't that government has over-invested in London, it's underinvested across the UK.'</p>
<hr />
<p>Notes to Editors:</p>
<p>'Mind the Gap: Funding and Financing City Investments in the 21st Century' can be accessed at <a href="https://www.london.gov.uk/what-we-do/business-and-economy/better-infrastructure/london-simulator">https://www.london.gov.uk/what-we-do/business-and-economy/better-infrastructure/london-simulator</a></p>
<p>The Greater London Simulator provides a neutral test bed for assessing the dynamic effects of investment decisions and other policy choices. It uses 'system dynamics', an approach to computer modelling invented in the 1950s at the Massachusetts Institute of Technology and recently applied by Greenwood Strategic Advisors to urban areas. The model is created independently of, but calibrated against, many historic datasets to reflect London as a complex socio-economic system. With modifications, the simulator could be used to gain insights into the potential long-term consequences of other investment decisions and policy choices. Like all computer models, the Greater London Simulator has various limitations which are acknowledged in the report and the results should continue to be treated with caution as a result.&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/48574">August</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-July-GLA - Mayor calls for infrastructure investment increase  -->

 
 
        
        
            @{ViewBag.Description = "Mayor calls for increase in national infrastructure investment as new report reveals impact major schemes would have in London";}
        
        


 