


@{ViewBag.Title = "GLA - Mayor calls for improved lorry safety across Europe ahead of key vote ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Mayor calls for improved lorry safety across Europe ahead of key vote </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Mayor calls for improved lorry safety across Europe ahead of key vote </h1>
        <div class="content-page-press-release">
        15 February 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        'Once-in-a-decade' opportunity to improve lorry safety
        
    </div>



 <div class="on-this-page">
<p>This press release, issued by the Mayor of London, was first published on <a href="[ioID]#https://www.london.gov.uk/press-releases/mayoral/mayor-calls-for-improved-lorry-safety-in-europe">london.gov.uk</a></p>

<p>The Mayor of London, Sadiq Khan, today brought together leading politicians and road safety policy makers ahead of a 'once-in-a-decade' opportunity to improve lorry safety across Europe.</p>

<p>London's first HGV Safety Permits will be issued in October &#45; the initial stage of our city's world-leading Direct Vision Standard (DVS) which will see the most unsafe lorries banned from next year. The European Commission has signalled that it will follow London's lead by including direct vision in the updated version of its General Safety Regulation (GSR), the leading piece of EU road safety legislation, but it now faces key votes in the European Parliament.</p>

<p>The Mayor today met with Roza von Thun und Hohenstein, the MEP leading the European Parliament's work on the GSR, and city leaders from Amsterdam and Bruges, and reiterated that road safety 'must not end at London's outskirts'.</p>

<p>The Mayor is urging the EU to ensure it includes direct vision for all trucks in its revised road safety regulations and make HGVs safer across Europe. According to the EU's impact assessment, this would save an estimated 550 lives per year.</p>

<p>The Direct Vision Standard categorises HGVs depending on the level of a driver's direct vision from a cab. Restrictions in an HGV driver's field of vision, or 'blind spots' have been identified as a significant contributory factor in collisions.</p>

<p>TfL research shows that between 2015 and 2017 HGVs were disproportionately involved in fatal collisions in London, including 63 per cent of those involving cyclists and 25 per cent of those involving pedestrians. This is despite HGVs making up only four per cent of the overall miles driven in the capital.</p>

<p>The London scheme will provide a star rating from zero (poor) to five (excellent) based on how much a driver can see of vulnerable road users. From October 2020, 'zero star' HGVs will be banned from London's roads unless they can demonstrate they have a Safe System, a series of vehicle safety measures which aim to improve the overall safety of an HGV.&nbsp; Only those vehicles rated 'three-star' and above, or which have a comprehensive safe system, will be able to operate in London from 2024.</p>

<p>A European Parliament committee will first vote on the proposed GSR changes on 21st February, ahead of the final European Parliament vote later this year. This will be the first GSR reform since 2009, making it a once-in-a-decade opportunity to get direct vision included.</p>

<p>The Mayor of London, Sadiq Khan, said:</p>

<p>'I'm delighted that the European Commission is following our lead and proposing to incorporate direct vision into its revised road safety regulations. This is a once-in-a-decade opportunity to reduce road danger &#45; and would be a major step forward in making all HGVs safer across the UK and Europe, saving hundreds of lives every year.</p>

<p>'Brexit or no Brexit, it is vital that improved HGV safety standards are rolled out across Europe as road safety and supply chains don't stop at London's outskirts. It is simply too urgent for us to wait.'<br />
&nbsp;<br />
Ria Hilhorst, Amsterdam's cycling policy advisor, said:</p>

<p>'London's HGV Safety Permits scheme is a great opportunity to stress the importance of direct vision for truck safety. The Direct Vision Standard would reduce casualties in cyclists and pedestrians and similar standards will hopefully be included in the EU's revised General Safety Regulation.'</p>

<p>Steve Hails, Tideway's Director of Health, Safety and Wellbeing, said:</p>

<p>'As one of the biggest infrastructure projects in London, Tideway is committed to supporting work to make London safer for all road users. As well as our goal to transport 90% of excavated material by river, we've invested in a fleet of low entry cab HGVs, which offer greater visibility for drivers, and we will continue to work closely with City Hall, TfL and other organisations to make London's roads safer.'</p>

<p>London Cycling Campaign Chief Executive, Ashok Sinha, said:</p>

<p>'It is pleasing to see the Mayor is bringing together key policy makers in what will be an important year for lorry safety. This year will see London's world-leading HGV Safety Permits become available in October and LCC welcomes the European Commission's proposal to improve direct vision in lorries, and remove blind spots, as part of the revised General Safety Regulations.'</p>

<p>Stephen Edwards, Director of Policy and Communications at Living Streets said: &quot;More needs to be done to better protect pedestrians from delivery vehicles incidents. Any death on the road is unacceptable and HGVs pose a particular threat.</p>

<p>&quot;We want a vision zero approach to road deaths throughout the UK and fully support the work London's Mayor is doing to address HGV safety. Vehicle design to improve driver visibility can dramatically increase the protection of pedestrians and cyclists by reducing blind spots and should be prioritised. Pedestrian and cyclist safety should also be a compulsory part of driver training.&quot;</p>

<p>A public consultation on TfL's HGV Permit Scheme is currently underway and closes on Monday 18th February 2019.</p>

<p>&nbsp;</p>

<hr />
<p>&nbsp;<br />
Notes to Editors:</p>

<p>The timeline for DVS is as follows:<br />
&nbsp;</p>

<ul>
	<li>October 2019: The first permits will be issued. Trucks rated 0* will need to upgrade to a Safe System in order to get a permit</li>
	<li>2020: Enforcement begins</li>
	<li>2024: The minimum DVS star rating increases from one to three star or a progressive Safe System</li>
</ul>

<p>TfL has now completed two rounds of consultation, firstly on the principles of a DVS and then on the specific proposal for an HGV safety permit scheme. The scheme has been developed following feedback from these consultations and close work with industry, vulnerable road user groups and other stakeholders.</p>

<p>The DVS forms a key part of the Mayor's Vision Zero approach to eliminating all deaths and serious injuries from London's roads by 2041. The HGV Safety Permit is a holistic approach which aims to improve the overall safety of HGVs through blind spot elimination and minimisation, warning of intended manoeuvre, minimising the physical impact of a hazard and recommending driver safety training.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-February-GLA - Mayor calls for improved lorry safety across Europe ahead of key vote  -->

 
 
        
        
            @{ViewBag.Description = "Mayor calls for improved lorry safety across Europe ahead of key vote ";}
        
        


 