


@{ViewBag.Title = "GLA - Unlimited Hopper fare launches this month ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Unlimited Hopper fare launches this month </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Unlimited Hopper fare launches this month </h1>
        <div class="content-page-press-release">
        02 January 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor confirms new unlimited one-hour Hopper fare will be live by the end of January, with weekly capping on Oyster introduced during the year
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"My TfL fares freeze is helping millions of Londoners every single day while we maintain a much better service, and I'm delighted that they'll save even more when the popular Hopper fare goes unlimited from the end of the month"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>This press release, issued by the Mayor of London, was first published on <a href="http://This press release, issued by the Mayor of London, was first published on london.gov.uk">london.gov.uk</a></p>
<p><a href="http://This press release, issued by the Mayor of London, was first published on london.gov.uk"></a></p>
<ul>
    <li>Fares on TfL services frozen until 2020 - encouraging millions more journeys by public transport in London</li>
    <li>Mayor hits out at another year of eye-watering fare hikes by poor performing private rail companies</li>
</ul>
<p>Rail commuters across the UK return to work today to find the cost of their fares increasing by an average of 3.4 per cent, but across London millions of passengers are benefiting from Sadiq Khan's fares freeze on TfL services.</p>
<p>Average fares on suburban rail services have risen by around 5.5 per cent in the last two years but TfL fares have not risen by a penny, helping millions of Londoners as the cost of living across the UK continues to rise.</p>
<p>Fares increased by more than 42 per cent in the eight years before Sadiq became Mayor, but thanks to his freeze around four million journeys a day across London are the same price as they were in 2016. By 2020, this will have saved the average London household around &pound;200.</p>
<p>The Mayor has now challenged the Government and private train operating companies to follow his example after another year of fare increases and poor service for suburban rail passengers. In a letter to Paul Plummer, chief executive of the Rail Delivery Group, Sadiq expressed his disappointment at this year's 3.4 per cent increase in fares and challenged them to do better for the good of all rail passengers.</p>
<p>The Mayor's letter comes after a recent YouGov poll showed that 76 per cent of Londoners backed his decision to freeze fares, while 73 per cent believe the Government have made the wrong decision in allowing another hike in fares.</p>
<p>As well as the fares freeze, the Mayor has delivered the Hopper fare, helping millions of passengers make two bus or tram journeys within an hour for the price of one. Since September 2016 more than 140 million journeys have benefitted from the fare, and today the Mayor confirmed that by the end of January passengers will be able to take unlimited bus and tram transfers within one hour.</p>
<p>The upgrade will also allow passengers to make unlimited bus and tram journeys even if they travel on tube or rail services in between 'hops', helping even more passengers benefit. Once delivered, TfL will focus on delivering the major software changes required to allow Oyster users to benefit from weekly capping during 2018, bringing it in line with contactless ticketing.</p>
<p>The Mayor of London, Sadiq Khan, said: </p>
<p>'It is simply not right that millions of rail passengers face eye-watering fare hikes today after suffering 12 months of delays, cancellations and disruption. Commuters have been hit with fare increases of around 5.5 per cent in the last two years while their cost of living also continues to rise. It's time for the government and private rail companies to step up and give the passengers the service they deserve at a price they deserve. We've shown them it can be done &#45; my TfL fares freeze is helping millions of Londoners every single day while we maintain a much better service, and I'm delighted that they'll save even more when the popular Hopper fare goes unlimited from the end of the month.'</p>
<p>The freeze on TfL fares means that everyone buying a bus or tram ticket in London does not pay a penny more than they did in 2016. Pay as you go journeys on the Tube, DLR, Emirates Air Line and rail services, where TfL fares apply, are all frozen, as well as Santander Cycles. All TfL travel concessions are also maintained, ensuring that children, 16+ and 18+ photocard holders, those over 60, veterans, apprentices and those on Job Seeker's Allowance continue to benefit from free or discounted travel.</p>
<p>Passengers on TfL Rail and London Overground have also enjoyed better service than those on suburban rail lines, with the latest official figures from Network Rail showing that these services significantly outperformed the largest rail companies. For public performance measure &#45; the standard for measuring punctuality and reliability &#45; London Overground scored 93.1 and TfL Rail scored 92.0, far ahead of Govia Thameslink Railway on 76.1, Greater Anglia on 86.3, London Midland on 82.6, Southeastern on 84.8 and South Western on 84.5.</p>
<p>The Mayor believes that the devolution of suburban routes to TfL is the only viable long-term solution to ensure fewer delays, improved services and more affordable fares on suburban rail routes. The DfT's recent Rail Strategy stated that it will work with TfL to explore options for transferring selected services such as the West London line to TfL, and the Mayor will continue to work with the Department of Transport to identify further suitable routes for devolved services.</p>
<p>Jace Tyrrell, Chief Executive of New West End Company that represents 600 businesses in the West End said: </p>
<p>'London's West End offers an unsurpassed mix of shops, restaurants and entertainment welcoming 200 million visits a year. Our businesses have long been campaigning for a hopper ticket to allow our customers and employees to move around the West End easily and economically. We welcome the Mayor's announcement as a solid commitment of business and City Hall working together to deliver economic growth and reducing traffic in our district.'</p>
<p>Kay Buxton, Chief Executive of Paddington Now and Marble Arch BID, said: </p>
<p>'It's great news for London that the Mayor has committed to a second year of the fares freeze and has introduced the universal hopper fare. The new and advanced fare structure has dramatically improved accessibility and has meant that people can move around London more freely, whether commuting or for leisure. The fares freeze and the hopper fare have already helped thousands of people who live, work and visit Marble Arch and Paddington. Continuing to keep public transport affordable is vital to maintaining London as an attractive place to do business.'</p>
<p>Shashi Verma, Chief Technology Officer at Transport for London, said: </p>
<p>'Freezing fares on TfL services is already helping millions of Londoners who use our services every day save money. We're committed to making travel across London as convenient and affordable as possible. The forthcoming improvements to the Hopper fare, as well as the introduction of Weekly capping on Oyster later this year, will help even more people use public transport to regularly get around London.'</p>
<p>Ends</p>
<p>Notes to Editors:</p>
<ul>
    <li>The Mayoral Decision for the 2018 fares package is available here &#45; <a href="https://www.london.gov.uk/decisions/md2189-january-2018-transport-london-fare-changes">https://www.london.gov.uk/decisions/md2189-january-2018-transport-london-fare-changes</a></li>
    <li>The fares freeze is being fully paid for through TfL's efficiencies programme, which are outlined in its Business Plan and is delivering a year-on-year reduction in operating costs - <a href="https://tfl.gov.uk/info-for/media/press-releases/2017/november/benefits-of-tfl-fares-freeze-confirmed-as-new-business-plan-sees-record-investment-in-transport">https://tfl.gov.uk/info-for/media/press-releases/2017/november/benefits-of-tfl-fares-freeze-confirmed-as-new-business-plan-sees-record-investment-in-transport</a></li>
    <li>The polling was completed by YouGov Plc. Total sample size was 1,087 adults for fieldwork undertaken between and 18th &#45; 21st December 2017.  The survey was carried out online.</li>
    <li>The figures have been weighted and are representative of all London adults (aged 18+). See full results - <a href="https://londondatastore-upload.s3.amazonaws.com/GLA%20rail%20results%20December%20poll.pdf">https://londondatastore-upload.s3.amazonaws.com/GLA%20rail%20results%20December%20poll.pdf</a></li>
    <li>Network Rail's public performance measure (PPM) shows the percentage of trains which arrive at their terminating station within five minutes in London and South East. The latest figures cover period nine for 2017/18 <a href="https://www.networkrail.co.uk/who-we-are/how-we-work/performance/public-performance-measure/">https://www.networkrail.co.uk/who-we-are/how-we-work/performance/public-performance-measure/</a></li>
    <li>The Mayor only has the power to set fares on TfL services. Travelcards, and the associated daily and weekly caps, are set in agreement with the private train operating companies (TOCs) under fares regulations set by the Government, which permit regulated fares to increase in line with RPI inflation if no agreement is made. The TOCs have decided to raise their fares in line with this, with the increases in January reflecting the RPI level from July this year. This increase is close to the maximum permitted by the guidance from the Secretary of State for Transport. By January 2018, the overall increase in Travelcard fares will be more than 5.5 per cent</li>
    <li>Some tickets have gone up by far higher rates. These include:</li>
</ul>
<ol>
    <li>Single pay as you go fares on Southern services between Carshalton Beeches and London Victoria increased by 10p in both the peak and off-peak, rising from &pound;5.10 to &pound;5.20 at peak times and &pound;3.30 to &pound;3.40 off-peak.</li>
    <li>A cash single fare on Thameslink services through Central London from East Croydon to Kentish Town increased by 20p, rising from &pound;6.20 to &pound;6.40.</li>
    <li>A cash day return on South Western Railway services from Ewell West to Waterloo increased by 30p from &pound;13.90 to &pound;14.20.</li>
</ol>
<ul>
    <li>Fares will also be frozen on c2c services from Grays to Fenchurch Street and on Chiltern Railways from Amersham to Marylebone and West Ruislip to Marylebone as these fares are set by TfL.</li>
    <li>Beyond Zone 6, most PAYG fares are frozen. There are 10p and 20p increases in a number of fares involving Shenfield and Brentwood, reflecting TfL commitments to keep TfL fares aligned with those applying on the adjacent mainline rail services operated by the TOCs and to avoid creating split ticketing anomalies.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-January-GLA - Unlimited Hopper fare launches this month  -->

 
 
        
        
            @{ViewBag.Description = "Unlimited Hopper fare launches this month as second year of Mayor’s fares freeze delivered on TfL services ";}
        
        


 