


@{ViewBag.Title = "Highbury Corner proposals backed";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Highbury Corner proposals backed</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Highbury Corner proposals backed</h1>
        <div class="content-page-press-release">
        10 August 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">

    <div class="article-teaser">
        Majority felt proposals would improve conditions for pedestrians, cyclists and Tube and rail passengers
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are now carefully reviewing all the issues raised to ensure that any proposed improvements work for everyone and can create a better environment for all those who live in, work in or visit the area"</div>
        <div class="quote-footer">
            <div class="quotee-name">Alan Bristow</div>
            <div class="quotee-job-title">Director of Road Space Management at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL has published the results of a joint consultation with Islington Council on improving cycle and pedestrian facilities at Highbury Corner. The majority of respondents supported proposals to remove the western side of the roundabout and replace it with a new public space.</p>
<p>Under the proposals, changes to Highbury Corner would include:</p>
<ul>
    <li>Closing the western side of the roundabout to create two linked public spaces and include a new square in front of the station</li>
    <li>Improved pedestrian facilities to allow more people to move around Highbury Corner, including widened crossings at the junctions of Holloway Road, Canonbury Road and Upper Street</li>
    <li>New segregated cycle lanes and cycle-specific signals on all three remaining sides of the road layout</li>
    <li>Changing the current one-way gyratory into a two-way traffic system</li>
</ul>
<h2>Improve conditions</h2>
<p>Of the 2,823 respondents, 71% thought the changes would improve conditions for pedestrians, 67% thought they would improve conditions for cyclists and 59% thought they would improve conditions for Tube and Rail users.</p>
<p>Concerns were raised by around a third of respondents about the changes to bus routes that would be necessary while 28% felt that the changes would have a negative impact on traffic.</p>
<p>TfL and Islington Council will now carefully consider all responses to the proposals before setting out the next steps.</p>
<p>Alan Bristow, Director of Road Space Management at TfL, said: 'We're pleased that so many people have fed back on our proposals to improve Highbury Corner.</p>
<p>'We are now carefully reviewing all the issues raised to ensure that any proposed improvements work for everyone and can create a better environment for all those who live in, work in or visit the area.'</p>
<h2>Ambitious plans</h2>
<p>Cllr Claudia Webbe, Islington Council's Executive Member for Environment and Transport, said: 'I am pleased that so many people gave their views during this joint consultation.</p>
<p>'It is encouraging that the majority agree that these ambitious plans will improve Highbury Corner, which is badly congested, difficult for pedestrians and cyclists, and leaves green space stranded on a traffic island.</p>
<p>'We look forward to continuing to work with TfL on our vision for transforming the gyratory and its surroundings into an attractive, pleasant environment for everyone.</p>
<p>'The next step is to carefully consider all the responses and look at how best to minimise the effect of changes to bus routes, before publishing our response, which will outline a way forward.</p>
<p>'If proposals do go ahead, we will work with TfL to minimise the gap between the end of the current bridge work at Highbury Corner and the start of improvement work.'</p>
<p>TfL is currently replacing the 100-year-old Highbury Corner Bridge, which carries Holloway Road over the railways, to safeguard this vital arterial road for the future.</p>
<p>The new bridge is set to be in place in 2017 and will be safer and minimise the need for ongoing maintenance.</p>
<p>The proposed improvements at Highbury Corner roundabout would not start until 2018, after the bridge has been replaced, to minimise the impact to road users.</p>
<p>&nbsp;</p>
<hr />
<p><strong>Notes to Editors:</strong></p>
<ul>
    <li>The consultation ran between 5 February and 20 March 2016 and received 2,823 responses. The full breakdown of respondents can be found here &#45; <a href="https://consultations.tfl.gov.uk/roads/highbury-corner-roundabout?cid=highbury-corner-roundabout">http://tfl.gov.uk/highbury-corner-roundabout</a></li>
    <li>The proposed changes to route 277 were raised as a concern by 32% of those who replied</li>
    <li>TfL and Islington Council will analyse and consider all of the comments received and publish a response in autumn 2016. Subject to the outcome of this consultation, consideration of competing priorities for resources elsewhere on London's main road network and further relevant approvals, construction could start in 2018</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-August-Highbury Corner proposals backed -->

 
 


 