


@{ViewBag.Title = "Huge transformation of Tube network a step closer";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Huge transformation of Tube network a step closer</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Huge transformation of Tube network a step closer</h1>
        <div class="content-page-press-release">
        19 February 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Biggest test of new signalling system so far completed this weekend
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are investing billions of pounds to make real improvement for customers including making journeys quicker and less crowded
"</div>
        <div class="quote-footer">
            <div class="quotee-name">Stuart Harvey</div>
            <div class="quotee-job-title">Director of Major Projects, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Customers will begin to see reliability benefits from the summer</li>
    <li>World's oldest metro being transformed into one of the most modern</li>
</ul>
<p>Another weekend of testing has been completed on the brand-new signalling system set to transform the Circle, District, Hammersmith &amp; City and Metropolitan lines, Transport for London (TfL) has announced. More trains were run between Hammersmith and Edgware Road this weekend than had been run in any other weekend of testing. This represents another step forward for the programme before the first trains operate under the new system this summer.</p>
<p>The new system, provided by Thales, will improve reliability and boost capacity on 40 per cent of the Tube network and has undergone significant testing since October. It will transform one of the oldest parts of the Tube network into one of the most modern. The section between Hammersmith and Edgware Road will be the first to go live on the new system, which will provide better, more accurate real-time customer information and improve reliability.</p>
<p>The new system will be introduced progressively over 14 sections across the network, each one improving reliability as it is introduced. Customers will benefit from quicker, more frequent services from 2021, with all four lines using the new system by 2023. The new, modern signalling will allow trains to run closer together, which will increase the frequency of train services across these lines with 32 trains per hour set to operate in the central London section. This will boost capacity by a third across all four lines &#45; equivalent to space for an extra 36,500 customers during the busiest times of day.</p>
<p>The new, state-of-the-art control centre for all four lines at Hammersmith is also nearing completion. This will bring all the aspects of managing the lines under one roof, helping ensure a smooth, integrated service and more accurate and up-to-date information for customers. The fleet of 192 new S-stock trains are now being fitted with the technology needed to operate the new system and train operators are undergoing training.</p>
<p>Stuart Harvey, TfL's Director of Major Projects, said: </p>
<p>'This work on the Circle, District, Hammersmith &amp; City and Metropolitan lines will transform one of the oldest parts of the network into one of the most modern and revolutionise journeys on 40 per cent of the Underground. We are investing billions of pounds to make real improvement for customers including making journeys quicker and less crowded. The team are working around the clock so that customers can start to experience some of the benefits from this summer.'</p>
<p>Shaun Jones, Vice-President, Transport at Thales in the UK, said: </p>
<p>'Thanks to the ongoing hard work of our people, we are creating a world-class transport system for London that will start to deliver benefits this summer.  Our proven technology will deliver better, more reliable journeys on some of the oldest and most complex parts of the underground network, and we continue to make great progress on this vital upgrade to 40% of the Tube.'</p>
<p>The Four Lines Modernisation project will finish in 2023, when all four lines are operating under the new Thales system. Services will begin to increase in frequency from 2021, when the central London section of the network has been modernised. The sub-surface lines carry over 1.3 million customers per day. Customers are already benefitting from more comfortable journeys thanks to the introduction of the S-stock fleet from Bombardier, which feature more spacious, walk-through carriages, wider doors and air conditioning.</p>
<p>Other projects, such as the new Northern and Jubilee line timetables and the opening of the Elizabeth line later this year, will also play their part in enabling more people to use public transport in order to reach the Mayor's target of 80 per cent of journeys made by public transport, cycling or walking by 2041.</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-February-Huge transformation of Tube network a step closer -->

 
 
        
        
            @{ViewBag.Description = "Successful signal testing brings huge transformation of Tube network even closer";}
        
        


 