


@{ViewBag.Title = "Innovative new fan chiller to help customers beat the heat";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Innovative new fan chiller to help customers beat the heat</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Innovative new fan chiller to help customers beat the heat</h1>
        <div class="content-page-press-release">
        16 August 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">



 <div class="on-this-page">
<p>Customers travelling on the northern part of the Victoria line will benefit from more comfortable temperatures on their journey after a new chiller system was installed between Blackhorse Road and Walthamstow Central.</p>
<p>The fan system works by drawing in fresh air from the street through coils which have chilled water flowing through them.</p>
<p>The cooling fan is capable of moving the equivalent of 33 double-decker buses full of cold air every minute. Chilled air is sent into a mid-tunnel shaft between Walthamstow Central and Blackhorse Road Tube stations, reducing temperatures on the platforms and in the tunnel by up to 3 degrees.</p>
<p>Walthamstow is currently one of the warmest stations on the Victoria line, so the breakthrough will help customers during the warm weather. Two of London's busiest Tube stations on the Victoria line are Green Park and Oxford Circus, which were upgraded in 2012 with the installation of air cooling units that reduce temperatures at platform level. The Victoria line train fleet has also been replaced, with the new trains' ventilation systems circulating cool air from ground level into the carriage.</p>
<p>Mark Evers, Director of Customer Strategy, London Underground, said: `We understand that it can get uncomfortable for customers during the summer months, which is why we are always looking for new ways to help customers beat the heat. Projects like the installation of this fan system demonstrates how we are using innovation to develop new ways to cool the Tube and make customers' journeys better.'</p>
<p>Other measures currently being taken to cool the Tube include:</p>
<ul>
    <li>New air conditioned trains on the Circle, District, Hammersmith &amp; City and Metropolitan lines, with 40 per cent of the network covered by  the end of the year</li>
    <li>The capacity of the station ventilation fan network has been doubled and 83 fans restored</li>
    <li>Portable fans installed within ticket and concourse areas, to increase air circulation at a number of stations</li>
</ul>
<p>Ends</p>
<p>Notes to Editors:</p>
<ul>
    <li>New air conditioned trains have been introduced on the Metropolitan, Circle and Hammersmith &amp; City lines and are currently being introduced on the District line. The 191 new trains will cover 40 per cent of the Tube network by 2016.</li>
    <li>In 2008 portable fans were installed within ticket and concourse areas, to increase air circulation at a number of stations. A further six fans have been installed this year to expand this successful scheme.</li>
    <li>LU is establishing an Innovative development project to explore new efficient and environmentally friendly methods to Cool the Tube. The ground-breaking research undertaken at this centre, which will be supported by world leading academics from London South Bank University (LSBU), will assist LU in delivering its &pound;300 million programme of investment in cooling infrastructure over the next 10 years.</li>
    <li>LU is working to upgrade the existing station ventilation fan network. 83 ventilation fans have now been restored, more than doubling the capacity of the fan network. It is also in the process of introducing a network-wide cooling control system to remotely monitor the performance of cooling assets. This system will drive increasing availability of its cooling systems, in turn reducing temperatures on the network.</li>
    <li>Mechanical chiller units, which provide cooling to customers and staff in the ticket hall area, have now been installed at Oxford Circus and Euston Tube stations.</li>
    <li>Two of London's busiest Tube stations, Green Park and Oxford Circus, were upgraded in 2012 with the installation of air cooling units that reduce temperatures at platform level. At Green Park, the air cooling units use cool water extracted via boreholes from the aquifer deep below Green Park.</li>
    <li>At Oxford Circus station the successful air cooling scheme was expanded to include all platforms (Bakerloo, Central and Victoria lines). The new platform cooling units use cool water provided by chiller units that have been installed adjacent to the station.</li>
    <li>LU has installed high speed ceiling mounted impulse fans on Bakerloo line platforms at Marylebone and Lambeth North Tube stations.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-August-Innovative new fan chiller to help customers beat the heat -->

 
 


 