


@{ViewBag.Title = "Lambeth North re-opens following installation of new lifts";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Lambeth North re-opens following installation of new lifts</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Lambeth North re-opens following installation of new lifts</h1>
        <div class="content-page-press-release">
        13 February 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passengers using Lambeth North London Underground station are set to benefit from easier journeys as the station re-opened with new lifts today (Monday 13 February)
    </div>



<div class="pull-quote">
        <div class="quote-body">"The re-opening of the station with more reliable new lifts will improve transport connections in the area, benefiting local people, businesses and visitors alike"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mark Wild</div>
            <div class="quotee-job-title">Managing Director, London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<p>The new lifts have replaced nearly 30 year old lifts that were failing regularly and causing disruption to customers. While this work has been taking place, TfL has taken the opportunity to install new ticket gates to reduce congestion at busy times. Lighting has also been replaced and the ticket hall and passageways have been repainted, creating a more welcoming environment.</p>
<p>Mark Wild, Managing Director of London Underground, said: </p>
<p>'I would like to thank customers and local businesses for their patience throughout the lift replacement work, which we have carried out as swiftly as possible. The re-opening of the station with more reliable new lifts will improve transport connections in the area, benefitting local people, businesses and visitors alike.'</p>
<p>Closing the station in July 2016 allowed the work to be completed as quickly and efficiently as possible, more than halving the time it would have taken to install the lifts had the station remained open during the refurbishment.</p>
<p>Ben Stephenson, Chief Executive of WeAreWaterloo Business Improvement District, said:</p>
<p>'We have been working with TfL to try to ensure the lift replacement works at Lambeth North are completed as soon as possible.  We are very glad to see these works completed on schedule and would urge everyone to support the many local businesses in the area. They will be very pleased to see you!'</p>
<p>The improvements made to the station will also improve visitor access to local attractions.</p>
<p>A spokesperson for the Imperial War Museum London said: </p>
<p>'We welcome the re-opening of Lambeth North following essential upgrades at the station. The re-opening of Lambeth North is well-timed, as IWM welcomes visitors to mark its Centenary in early March.'</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>One local attraction set to benefit is the Imperial War Museum, a 5 minute walk from Lambeth North. The Museum is holding an event, 'LGBT lives in the British Armed Forces and Merchant Navy', on Saturday 18 February. More information can be found here: <a href="http://www.iwm.org.uk/events/iwm-london/lgbt-lives-in-the-british-armed-forces-and-merchant-navy">http://www.iwm.org.uk/events/iwm-london/lgbt-lives-in-the-british-armed-forces-and-merchant-navy</a></li>
    <li>Information about how TfL replaces lifts can be found here: <a href="http://www.tfl.gov.uk/campaign/tube-improvements/behind-the-scenes/escalator-refurbishment?intcmp=14562">http://www.tfl.gov.uk/campaign/tube-improvements/behind-the-scenes/escalator-refurbishment?intcmp=14562</a></li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-February-Lambeth North re-opens following installation of new lifts -->

 
 


 