


@{ViewBag.Title = "Latest Bakerloo line extension consultation shows continued strong public support";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Latest Bakerloo line extension consultation shows continued strong public support</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Latest Bakerloo line extension consultation shows continued strong public support</h1>
        <div class="content-page-press-release">
        31 July 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Work is continuing on proposals to extend the Bakerloo line beyond Elephant &amp; Castle after Transport for London (TfL) today published the results of its latest consultation.</p>
<p>The Bakerloo line extension is vital to meeting the needs of the capital's growing population, which is expected to increase from 8.7 million today to more than 10 million by 2030.  It will support new homes and jobs in south east London, improve connectivity and capacity and reduce journey times for tens of thousands of people.</p>
<p>At least 25,000 new homes and 5,000 new jobs could be supported as a result of the Bakerloo line extension, with extra capacity on London Underground for 65,000 journeys in the morning and evening peak, helping relieve congestion on local bus and National Rail services.</p>
<p>The consultation, held earlier this year, attracted over 4,800 responses and asked for feedback on the location of four new stations and three ventilation shafts needed for the extension. It set out proposals for stations at Lewisham, New Cross Gate and two stations along Old Kent Road, as well as ventilation shafts between Elephant &amp; Castle and Old Kent Road, between New Cross Gate and Lewisham and at the end of the line in Lewisham.</p>
<p>Around two thirds of respondents expressed support for the scheme overall.</p>
<p>Some of the key points made by respondents included:</p>
<ul>
    <li>At Elephant &amp; Castle, a new Bakerloo line station is preferred near to the existing Northern line entrance and Elephant &amp; Castle Shopping Centre, providing an easy interchange with the Northern line and National Rail services.</li>
    <li>The preferred location for the first station along Old Kent Road was near the junction of Old Kent Road with Dunton Road, as it is close to existing transport links and could have less impact on existing local residents during construction.</li>
    <li>The preferred location for the second station along Old Kent Road was near the junction of Asylum Road with Old Kent Road, as it was felt that a station here would provide better distancing between stations.</li>
    <li>The proposed Underground stations at New Cross Gate and Lewisham were both supported as they could provide good interchanges with existing transport services including local buses, London Overground, Docklands Light Railway and National Rail Services.</li>
    <li>The Bricklayers Arms junction was the preferred location for the ventilation shaft between Elephant &amp; Castle and Old Kent Road.  The most common reason for supporting this location was that it would cause less local disruption during construction.  Some residents and businesses also suggested an additional station could be provided at this location.</li>
    <li>A ventilation shaft between New Cross Gate and Lewisham stations was supported although there was some concern on how the construction may impact local residents, businesses and traffic congestion.</li>
    <li>The majority of respondents supported the location of the ventilation shaft at the end of the line in Lewisham.</li>
</ul>
<p>Responses from this consultation will be carefully considered. TfL's response to issues that were raised during this consultation will be published as a separate report later this year. The results will also help TfL develop the extension plans further. Once a decision has been made on the preferred locations of the stations and ventilation shafts, more work will be done to finalise the tunnelled route.  A further public consultation is expected in 2018.</p>
<p>The Bakerloo line extension to Lewisham is an important part of the Mayor's draft Transport Strategy, which was published last month and details plans to create a fairer, greener, healthier and more prosperous city by improving public transport and encouraging active travel.</p>
<p>Val Shawcross, Deputy Mayor for Transport , said: `I'm delighted that so many people have given their views on this vital project. The Bakerloo Line extension will improve life for thousands of Londoners, providing a new direct route into the heart of central London, and creating thousands of new homes and jobs.</p>
<p>`This is an important next step in delivering the project, and every response to the consultation will now be carefully considered. We want to ensure that important issues like plans for the proposed new stations are the very best they can be, providing maximum benefits for local people.&quot;</p>
<p>Alex Williams, Transport for London's Director of City Planning, said: `The Bakerloo line extension is vital to support the redevelopment of south east London, helping to deliver over 25,000 new homes and 5,000 new jobs.  We will consider the results of this consultation and use them to help us shape our plans for the extension which should be delivered by 2028/29.'</p>
<p>Cllr Peter John, Leader of Southwark Council, said:<br />
`We have been campaigning for an extension for the Bakerloo Line for many years which is desperately needed in our part of London.  We will now need to look carefully at the outcome of the public consultation and work with TfL to get the best scheme we can, but I am thrilled that we are now one step closer to making this long held dream a reality.'</p>
<p>ENDS</p>
<p>Notes to editors.</p>
<ul>
    <li>Results published here - <a href="http://www.tfl.gov.uk/bakerloo-extension">www.tfl.gov.uk/bakerloo-extension</a></li>
    <li>As announced in the TfL Business Plan, the updated plans bring the completion date of the extension forward by two years to 2028/29, to align with the timetable for the upgrade of the Bakerloo line.</li>
    <li>The Mayor and TfL remain committed to delivering a second phase of the extension beyond Lewisham, and work is continuing to build a case for a second phase.</li>
    <li>An image of the proposed route is available here -  <a href="https://www.flickr.com/photos/tflpress/albums/72157647760499349">https://www.flickr.com/photos/tflpress/albums/72157647760499349</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-July-Latest Bakerloo line extension consultation shows continued strong public support -->

 
 
        
        
            @{ViewBag.Description = "Latest Bakerloo line extension consultation shows continued strong public support";}
        
        


 