


@{ViewBag.Title = "London Overground's West Hampstead station becomes step-free";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London Overground’s West Hampstead station becomes step-free</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London Overground’s West Hampstead station becomes step-free</h1>
        <div class="content-page-press-release">
        11 October 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New lifts from street to platform provide step-free access for the first time
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"As part of building a modern and affordable transport system, we're determined to make sure that every Londoner can get around London safely and easily"</div>
        <div class="quote-footer">
            <div class="quotee-name">Heidi Alexander</div>
            <div class="quotee-job-title">Deputy Mayor for Transport</div>
        </div>
</div>

 <div class="on-this-page">
<p>From today customers using the London Overground station at West Hampstead will benefit from easier and more accessible journeys as TfL opened new lifts providing step-free access from street to platform for the first time.</p>

<p>Both platforms are now served by the two new lifts helping ensure the station is accessible to all customers, including disabled or older customers, parents or carers with buggies and people with heavy luggage.</p>

<p>West Hampstead is joining the growing number of accessible TfL stations and supports the Mayor's Transport Strategy of making the transport network more accessible and inclusive.</p>

<h2>Obstacle free, accessible routes</h2>

<p>Their introduction was made possible with the help of the Department of Transport (DfT) Access for All scheme.</p>

<p>It provided &pound;3m worth of funding and has been the largest project to date to benefit from this programme which aims to provide obstacle free, accessible routes from station entrances to platform.</p>

<p>Rory O'Neill, TfL's General Manager for London Overground, said: 'The London Overground station at West Hampstead has been completely transformed for customers.</p>

<p>'At the heart of these improvements are new lifts which have opened today, helping to provide easier and more accessible journeys for all those using this station.'</p>

<p>Heidi Alexander, Deputy Mayor for Transport, said: 'The Mayor and TfL continue to invest in making London's transport genuinely accessible for all Londoners.</p>

<p>'The new lifts and transformed station at West Hampstead will make people's journeys easier and more convenient and will make a particular difference for people with disabilities, parents with young children and many older people who use the station.</p>

<p>'As part of building a modern and affordable transport system, we're determined to make sure that every Londoner can get around London safely and easily.'</p>

<p>Nusrat Ghani, DfT's Accessibility Minister, said: 'We are determined that disabled people should have equal access to our rail network, which is why it is fantastic to see West Hampstead passengers benefitting from our Access for All programme.</p>

<p>'So far, we have provided step-free, accessible routes at more than 200 stations, and more than 90 are at various stages of design or development.</p>

<p>'We have also recently opened a &pound;20 million fund for further improvements at railway stations across the country to benefit even more passengers.'</p>

<h2>Completely transformed the station</h2>

<p>The new lifts form part of a wider multi-million-pound redevelopment taking place at West Hampstead that has completely transformed the station for customers.</p>

<p>The new station building now includes a bright and airy entrance along with a new gateline providing double the number of ticket gates allowing quicker access for customers.</p>

<p>A new concourse links to a more centrally located footbridge that provides customers easier access to the whole length of the platform, making it quicker and easier for customers to board and disembark.</p>

<p>Work on widening the platforms is due to be complete by the end of the year and will provide customers with more space to wait reducing crowding.</p>

<p>This work at West Hampstead forms part of TfL's continued investment in the London Overground network which includes station upgrades, the delivery of new state-of-the-art electric trains and extending the network to Barking Riverside.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-October-London Overground’s West Hampstead station becomes step-free -->

 
 
        
        
            @{ViewBag.Description = "London Overground’s West Hampstead station becomes step-free";}
        
        


 