


@{ViewBag.Title = "London's bus network to meet new world-leading Bus Safety Standard";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London’s bus network to meet new world-leading Bus Safety Standard</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London’s bus network to meet new world-leading Bus Safety Standard</h1>
        <div class="content-page-press-release">
        16 October 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Plans form a key part of achieving TfL's vision of no deaths or serious injuries on London's roads
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We've set ambitious targets to improve road safety, and Londoners will see noticeable and practical improvements to buses from next year, including better mirrors, audible alerts for pedestrians, and innovative designs to the inside of buses"</div>
        <div class="quote-footer">
            <div class="quotee-name">Heidi Alexander</div>
            <div class="quotee-job-title">Deputy Mayor for Transport</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL has published its plans to make buses in London the safest in the world. The new Bus Safety Standard, which was unveiled today at a special Bus Safety Summit, will help deliver the Mayor's target of no-one being killed on or by a London bus by 2030.</p>
<p>The standard, which details the bus safety requirements all bus operators will need to adopt up to 2024, will also reduce road danger in the shorter term with a range of safety features required from next year.</p>
<p>London's buses carry 6.5 million passengers every day and are a particularly important service for younger people, older people, people with disabilities and people on lower incomes.</p>
<p>From next year, all new London buses must include the following safety measures:</p>
<ul>
    <li>Technology that automatically limits the speed at which buses are able to travel</li>
    <li>An audible alert for pedestrians and other road users of the presence of buses</li>
    <li>Slip reduction measures inside buses such as high-grip flooring</li>
    <li>More blindspot mirrors and reversing cameras</li>
    <li>Special warning pedal indicators for drivers</li>
</ul>
<h2>Innovative safety measures</h2>
<p>These innovative safety measures have been thoroughly tested by the independent Transport Research Laboratory (TRL).</p>
<p>Their leading engineers and technical specialists worked with TfL, bus manufacturers and operators to fully test and trial the technology to ensure it could be introduced on London's buses as quickly as possible.</p>
<p>Ensuring the standard will deliver swift and real road danger reduction has been made possible due to close working and collaboration of bus operators and manufacturers.</p>
<p>In the longer term, the standard will require London's bus operators to incorporate new features such as advanced emergency braking, pedal confusion interventions and specially redesigned bus fronts that reduce the impact of any collisions &#45; all being implemented by 2024.</p>
<p>Heidi Alexander, Deputy Mayor for Transport, said: 'Our buses are an essential part of life in London, and the most commonly used form of public transport with 6.5m journeys made by Londoners every day.</p>
<p>'Although progress has been made making our buses safer, every single death or serious injury on our roads is unacceptable, and I'm delighted that London is leading the way across the world using technology to make buses safer for everyone on our roads.</p>
<p>'We've set ambitious targets to improve road safety, and Londoners will see noticeable and practical improvements to buses from next year, including better mirrors, audible alerts for pedestrians, and innovative designs to the inside of buses.'</p>
<h2>Vision Zero</h2>
<p>The evidence-led Bus Safety Standard is a key part of the recently published Vision Zero action plan, and will build on the recent improvements in bus safety in London.</p>
<p>Over the past decade the number of people killed or seriously injured as a result of a collision involving a bus or coach has decreased by 54%, but the Mayor and TfL recognise that much more needs to be done in order to eliminate fatalities altogether.</p>
<p>Setting out a roadmap for the future requirements of buses in London will stimulate the industry to deliver safety features that do not yet exist commercially, but which testing shows would address known safety issues.</p>
<p>TfL is pushing this further, issuing a challenge for the industry to deliver novel safety ideas. The use of safety features before they are officially required will also demonstrate operators' commitment to safety during the tendering process for new contracts.</p>
<p>Claire Mann, Director of Bus Operations at TfL, said: 'Safety is at the very heart of everything we do. While the safety of the bus network has improved, no death involving a bus is inevitable or acceptable.</p>
<p>'That's why we have worked with the industry to create an innovative evidence-led Bus Safety Standard. The enhanced safety features it will require will make London's buses the safest in the world and will save lives.</p>
<p>'We know that technology and innovation have the potential to further improve safety in the future so our standard evolves and tightens over time, requiring features that aren't yet available commercially but which will be with the industry's energy and investment.'</p>
<p>Alix Edwards, Vehicle Safety &amp; Technology Consultant for TRL, said: 'Following the specification of the safety measures of interest by TfL, we reviewed the regulations and existing bus technologies on the market, and have worked closely with all parties to understand the technical feasibility of every safety measure.</p>
<p>'This has included partnering with operators and manufacturers to create prototype solutions, which were used in the development of the test procedures, as well as increasing the overall understanding of the effectiveness of each safety measure.</p>
<p>'The resulting procedures are outcome based, rather than specifying a particular system or supplier, so that each is future proof and supports further innovation.'</p>
<p>Tony Wilson, Managing Director at Abellio London Bus, said: 'We welcome the introduction of the Bus Safety Standard to help further improve safety for bus passengers, pedestrians and other road users.</p>
<p>'As one of the operators who has been trialling innovative solutions as part of the project, we have seen that technology can help to reduce incidents and improve the safety and quality provided on London's Buses.</p>
<p>'We look forward to working with Transport for London to implement the new standard on our fleet&quot;.</p>
<p><hr /></p>
<p><strong>Notes to editors:</strong></p>
<p>The Bus Safety Standard is one part of the Bus Safety Programme. The programme includes nine other key work streams:</p>
<ul>
    <li>Increased emphasis on safety in the award and management of bus contracts</li>
    <li>New safety training focused on vulnerable road users for all London's 25,000 bus drivers</li>
    <li>Improved quality, consistency and analysis of bus collision investigations</li>
    <li>Greater transparency on bus collision data and investigations</li>
    <li>Reduced slips, trips and falls on buses</li>
    <li>Managed risk of fatigue among bus drivers</li>
    <li>Support for bus operators trials of new ideas to improve safety</li>
    <li>Collaborative safety improvements, including operators, the Met Police and the Confidential Incident Reporting Analysis System for Transport</li>
    <li>Continued use of the Sarah Hope Line, the UK's first Incident Support Service for those affected by fatal or serious injuries on the transport network</li>
</ul>
<p>In July the Mayor and TfL launched a bold Vision Zero action plan to end the toll of deaths and serious injuries on London's streets. The plan includes the introduction of lower speed limits on TfL's road network, the transformation of dangerous junctions and joint work between TfL and the police to enhance enforcement activity. It also features a new focus on the most dangerous drivers.</p>
<p><span style="text-decoration: underline;">About TRL:</span></p>
<ul>
    <li>TRL is a global centre for innovation in transport and mobility. It provides world-leading research, technology and software solutions for surface transport modes and related markets engaged in intelligent, new mobility innovations</li>
    <li>Independent from government, industry and academia, TRL helps organisations create global transport systems that are safe, clean, affordable, liveable and efficient</li>
    <li>Established in 1933 within the British Government as the UK's Transport Research Laboratory, TRL was subsequently privatised in 1996. Today, TRL has more than 1,000 clients across 145 countries, driving positive societal and economic benefit worldwide</li>
    <li>Core areas of expertise include: infrastructure asset management &amp; asset technologies; intelligent transport systems &amp; traffic operations; sustainability &amp; healthy mobility; vehicle safety engineering &amp; technology research; major incident investigations; human factors safety &amp; behavioural science</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/48586">November</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-October-London’s bus network to meet new world-leading Bus Safety Standard -->

 
 
        
        
            @{ViewBag.Description = "London’s bus network to meet new world-leading Bus Safety Standard";}
        
        


 