


@{ViewBag.Title = "Lost Property Office to move to new home in South Kensington";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Lost Property Office to move to new home in South Kensington</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Lost Property Office to move to new home in South Kensington</h1>
        <div class="content-page-press-release">
        09 September 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New premises in Pelham Street, South Kensington, enables a more efficient service with more space for the processing and storage of lost items
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our new location in South Kensington will allow us to continue helping people who have mislaid their items

 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Paul Cowan</div>
            <div class="quotee-job-title">Manager of the Lost Property Office, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Relocation to South Kensington will begin at the end of September</li>
	<li>Baker Street office will remain open for the retrieval of lost items until 21 October</li>
</ul>

<p>Transport for London's (TfL) Lost Property Office will be moving to new premises in Pelham Street in South Kensington in October. Its new home offers more space for the processing and storage of found items, allowing the department to deal with increased demand as London's population continues to grow, with more and more people using public transport.</p>

<p>More than 900 items of lost property are found every day on London's transport network and the current premises at 200 Baker Street &#45; which first became home to the Lost Property Office in 1933 &#45; are no longer suitable for the efficient running of the service.</p>

<p>The relocation will take place over several weeks, with the processing of found items commencing from the new site in September. The full relocation is expected to be complete by 21 October and the office at Baker Street will remain open to customers until then for the collection of their property.</p>

<p><strong>Paul Cowan, Manager of the Lost Property Office at Transport for London, said:</strong></p>

<p>'Baker Street has been our home for nearly 86 years and, much like the great character Sherlock Holmes &#45; whose residence was just up the road &#45; we have enjoyed playing detective and have helped solve the mysteries of millions of items that have passed through our store.</p>

<p>'It's now time for the next chapter. Our new location in South Kensington will allow us to continue helping people who have mislaid their items - although we urge customers to keep close care of their property while travelling, so they hopefully won't need our services in the first place.'</p>

<p>Customers are advised that they should enquire about lost items at the relevant station or bus garage in the first instance and then log a claim for their property via the TfL website if the item is still lost. To avoid unnecessary journeys, TfL advises customers that they should wait for confirmation that their items have been found and are ready for collection, when arrangements will be made for them to visit the Lost Property Office. It can take up to a week for property to be sent to the office and processed. Customers will be unable to make a walk-in enquiry at Pelham St without prior arrangement. Nearly 85 per cent of enquiries for lost items are made online, with assistance in logging a claim also available via the customer services telephone line.</p>

<p>The Lost Property Office keeps items for up to three months and tries to reunite them with owners through contact information found on the property or by matching them to customer enquiries. After three months, unclaimed items have personal data removed and securely destroyed before they are either donated to charities including The Salvation Army, The British Red Cross and Scope, or recycled, sold or disposed of. Any revenue generated from unclaimed items contributes towards the cost of running the Lost Property Office.</p>

<p>Customers are reminded to take extra care of their belongings when using London's transport network and are encouraged to report any suspicious items or behaviour to a member of staff or a police officer.</p>

<hr />
<p>Notes to Editors:</p>

<ul>
	<li>TfL will begin relocating the Lost Property Office from September 2019. Property may be held across multiple sites during the move, so customers will need to confirm the readiness of their items for collection before visiting the office.</li>
	<li>The offices at Baker Street will cease to be accessible to customers from 21 October 2019.</li>
	<li>The contact hours for the Lost Property Office will continue to be: Monday - Friday 08:30-16:00 (excluding Bank Holidays).</li>
	<li>While the relocation is taking place, the specific location and collection hours of the Lost Property Office will be given to customers at the time their claim has been verified.</li>
	<li>For information about the Lost Property Office and how to enquire about a lost item, please visit: <a href="[ioID]#https://tfl.gov.uk/lostproperty">https://tfl.gov.uk/lostproperty</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-September-Lost Property Office to move to new home in South Kensington -->

 
 
        
        
            @{ViewBag.Description = "TfL’s Lost Property Office to move to new home in South Kensington next month";}
        
        


 