


@{ViewBag.Title = "Make the most of Christmas by walking, cycling and using public transport";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Make the most of Christmas by walking, cycling and using public transport</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Make the most of Christmas by walking, cycling and using public transport</h1>
        <div class="content-page-press-release">
        20 December 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL services will continue to run between Sunday 23 December 2018 and Tuesday 1 January 2019, excluding Christmas Day for most services
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London's transport network will be open over Christmas and New Year and public transport, walking and cycling will be the best way to get around the city to enjoy the many events that are taking place at this time of year"</div>
        <div class="quote-footer">
            <div class="quotee-name">Emily Herreras-Griffiths</div>
            <div class="quotee-job-title">Travel Demand Management Programme Director, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Planned industrial action by members of the RMT union on the Bakerloo, Central and Waterloo &amp; City lines has been called off</li>
	<li>There will be some service changes and planned work on parts of the public transport and the roads with full travel advice available at tfl.gov.uk/christmas-travel</li>
	<li>Off-peak Tube, DLR and London Overground fares in zones 2-6 start at &pound;1.50 with fares for central London for shopping and festive events starting at &pound;2.40. Unlimited bus and tram journeys in one hour are &pound;1.50</li>
	<li>Santander Cycles, Victoria Coach Station and Dial-a-Ride will be open and available on Christmas Day</li>
</ul>

<p>Transport for London (TfL) is encouraging Londoners to enjoy the best that Christmas in the capital has to offer, with the transport network open during the festive season. Public transport, walking and cycling are the best ways to get around London. Off-peak fares including Zone 1 start at &pound;2.40 and off-peak adult Tube, DLR and London Overground fares within Zones 2-6 are just &pound;1.50. Unlimited bus and tram journeys in one hour are also &pound;1.50.</p>

<p>On New Year's Eve, as in previous years, travel will be free on TfL services from 23:45 until 04:30 on New Year's Day to help Londoners celebrate the start of 2019. Most TfL services will run to different timetables and some will run through the night to ensure that millions of party-goers can get home safely. Whether attending the Mayor of London's ticketed fireworks event or joining in one of the many other exciting ways to welcome the New Year, customers are advised to check their travel options. Full details are available at tfl.gov.uk/nye and <a href="[ioID]#london.gov.uk/nye">london.gov.uk/nye</a>.</p>

<p>Over Christmas and New Year, the vast majority of TfL services will be running and most roadworks will be suspended. Planned industrial action by members of the RMT union on the Bakerloo, Central and Waterloo &amp; City lines has been called off. There will be planned works on TfL Rail and some London Overground, DLR, Tube and road routes and services will run to different timetables on some days. TfL Rail services to and from Heathrow Airport will be affected with no TfL Rail services between Heathrow and London Paddington from 23 to 26 December and on 30 December. Full travel advice is available at <a href="[ioID]#tfl.gov.uk/christmas-travel">tfl.gov.uk/christmas-travel</a>.</p>

<p>Santander Cycles will be available throughout the Christmas season for Londoners wishing to get around the capital on two wheels, including on Christmas Day. Covering 100km of London, the Santander Cycles scheme is the largest in Europe. The scheme has had five record-breaking months this year and last month it became even quicker and easier to hire a Santander Cycle when the scheme was upgraded to accept contactless bank cards. &nbsp;</p>

<p>London's bus services will also be running throughout Christmas and the New Year, with the exception of Christmas Day. Victoria Coach Station will remain open to serve coach passengers on Christmas Day. Thanks to the Mayor's Hopper fare, customers can make as many journeys as they want on the buses or trams within an hour for just &pound;1.50. On 17 December, 'Monday to Sunday' (weekly) capping on Oyster was introduced for adult bus and tram passengers, meaning that anyone who only uses the bus or tram will never need to purchase a 7 Day Bus &amp; Tram Pass, which costs &pound;21.20, again as their travel will be automatically capped when their fares reach this amount. 'Weekly' capping on Tube and rail services will then be introduced for Oyster customers in Spring 2019, offering them the same benefits as contactless customers.</p>

<p>Emily Herreras-Griffiths, TfL's Travel Demand Management Programme Director, said:</p>

<p>'London's transport network will be open over Christmas and New Year and public transport, walking and cycling will be the best way to get around the city to enjoy the many events that are taking place at this time of year. There will be some changes to services and customers are encouraged to use our Christmas travel website to help plan journeys in advance.'</p>

<p>Dan Johnson, Director of Placemaking at New West End Company said:</p>

<p>'There's no better way to discover the much-loved architecture, galleries, shops, bars and restaurants in London's West End than by walking. Not only are three of the top shopping streets in the country here &#45; Bond, Oxford and Regent Street &#45; but there also are eight garden squares to enjoy and many festive experiences to take part in throughout the area over the Christmas period.'</p>

<p>Ruth Duston OBE OC, Chief Executive of Victoria and Northbank Business Improvement Districts, said:</p>

<p>'London is a fantastic place to visit any time of year, and it looks particularly inviting at Christmas time.&nbsp; Having a range of good, reliable public transport options is vital for visitors to be able to get around the city conveniently. Retailers, hospitality venues and cultural destinations are all keen to entice visitors in the coming days and therefore it's great that TfL makes it as easy as possible for people to travel over the festive period. We would encourage anyone visiting London for Christmas to explore this wonderful city - the iconic locations and the hidden gems - and take advantage of the diverse public transport options available.'</p>

<p>Earlier this year, TfL also launched a range of cultural maps, in partnership with Time Out magazine, that suggest everything from museums to parks and farms that Londoners can visit all within a short walk or bus ride from Tube or London Overground stations. These maps, which cover ten Tube lines, London Overground and the Docklands Light Railway, can be downloaded from https://www.timeout.com/london/things-to-do/the-cultural-tfl-map</p>

<p>A partnership between TfL and Merlin offers Londoners a 30 per cent discount at Merlin attractions over the festive break. This offer is available to customers who travel on public transport during the off-peak and use the TfL Oyster and contactless app. You can book up to 6 days in advance via londoneye.com/tfl or just show proof of travel using the App when you arrive at the attraction to benefit from the discount.</p>

<p>TfL recently partnered with walking app, Go Jauntly, to bring the Walking Tube Map to people's phones. TfL walking routes, The Capital Ring and The Jubilee Walkway, are also now included on the app, allowing Londoners and visitors to enjoy one of a number of winter walks over Christmas and New Year, with step-by-step instructions.</p>

<hr />
<p>Notes to editors</p>

<ul>
	<li>There will be no service on Christmas Day on London buses, DLR, Emirates Air Line, London Overground, London rivers, trams, TfL Rail or the Tube.</li>
	<li>The Go Jauntly app is available on the iTunes App Store, searching for Go Jauntly. More information on Go Jauntly can be found here: <a href="[ioID]#gojauntly.com">gojauntly.com</a></li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/48606">2019</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-December-Make the most of Christmas by walking, cycling and using public transport -->

 
 
        
        
            @{ViewBag.Description = "Make the most of Christmas by walking, cycling and using public transport";}
        
        


 