


@{ViewBag.Title = "Make the most of London this festive season by planning ahead";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Make the most of London this festive season by planning ahead</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Make the most of London this festive season by planning ahead</h1>
        <div class="content-page-press-release">
        15 December 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">



 <div class="on-this-page">
<p>Transport for London (TfL) is encouraging Londoners and visitors to the Capital to make the most of the city over the Christmas and New Year period by planning their journeys ahead.</p>
<p>Festive travel advice is available at TfL's website, tfl.gov.uk/festive-travel, and contains daily travel information about all forms of public transport over the festive period, as well as the Victoria Coach Station and the Congestion Charge.</p>
<p>Once again, TfL will be providing free travel for everyone celebrating New Year's Eve so that millions of party goers can get home safely. Free travel will be available from 23:45 on 31 December to 04:30 on 1 January on buses, Tube, tram, DLR, TfL Rail and London Overground.  Some London Overground and TfL Rail services may finish earlier. Visit <a href="http://tfl.gov.uk/nye">tfl.gov.uk/nye</a> for more information.</p>
<p>TfL will be using the traditionally less busy Christmas period to carry out essential improvement work, with thousands of engineers working on tracks, roads, signalling and rebuilding key stations. Whilst most of the network will continue to operate, some local closures will be necessary to allow the work to be carried out.</p>
<p>Christmas Day is the only day of the year when no Tube or rail services operate. More than 1,000 people will be working on the day and engineering trains will continue to travel on the network and between train depots, all of which remain staffed throughout the festive period.</p>
<p>London's Transport Commissioner, Mike Brown MVO, said: `We need to use the quieter Christmas period to carry out vital work across our network and to prepare for Elizabeth line services that will start serving the Capital from December 2018. Customers travelling in and around London during this time are encouraged to use our festive travel website to help plan journeys in advance so that they can enjoy the many events that are taking place across the Capital over the Christmas and New Year period.'</p>
<p>On the Tube network hundreds of metres of track will be replaced in the Earl's Court area which will improve reliability for customers travelling on the District line.  This will mean no District line service between Gloucester Road and Acton Town, Richmond and Wimbledon, Edgware Road and Wimbledon, and to and from Kensington (Olympia). The Piccadilly line will be open throughout these works (except on Christmas Day) and will additionally serve Ravenscourt Park and Turnham Green in both directions and Stamford Brook westbound only.  There is further work taking place on other parts of the District, Circle and Bakerloo lines and customers can get further details at <a href="http://tfl.gov.uk/festive-travel">tfl.gov.uk/festive-travel</a>.</p>
<p>Network Rail will be carrying out Crossrail construction work in readiness for the Elizabeth line in the Paddington area, which will include changes to track, signalling and overhead wiring, and will mean that Paddington mainline station will be closed for six days from 24 through to 29 December and mainline services will instead start and terminate at Ealing Broadway. Paddington Tube station will stay open as usual.  Heathrow Express and Connect services will not be operating during this period and customers wishing to travel to Heathrow are advised to use the Piccadilly line. For train times and detailed information on how National Rail services could be impacted by Christmas engineering work, please go to <a href="http://www.nationalrail.co.uk/.">http://www.nationalrail.co.uk/.</a></p>
<p>Network Rail will also be carrying out engineering works that will affect some London Overground and TfL Rail services. Crossrail construction work in the Shenfield area will affect TfL Rail services in and out of Liverpool Street. And ongoing work to electrify London Overground's Gospel Oak to Barking line will continue ahead of new four car trains that will start operating in 2018.  Full details on London Overground and TfL Rail services can be found at <a href="http://tfl.gov.uk/festive-travel">tfl.gov.uk/festive-travel</a>.</p>
<p>Services will finish earlier than usual on Christmas Eve on the Tube, DLR, TfL Rail, buses and London Overground, and Night Tube and night buses will not run. On Boxing Day, most National Rail services will not run, nor will TfL Rail or London Overground as they share tracks with national rail services. There will be services running on the Tube, DLR, buses and Trams.</p>
<p>A full list of TfL's social media channels is available at <a href="http://tfl.gov.uk/socialmedia">tfl.gov.uk/socialmedia</a>  which includes details of the Twitter feeds for each of the 11 different London Underground lines, buses, the DLR, Trams, London Overground, TfL Rail, Santander Cycles, Emirates Air Line cable car and live traffic news for updates during the festive period.</p>
<p>Ends</p>
<p>Notes to editors:</p>
<ul>
    <li>Santander Cycles will be available to hire on Christmas Day</li>
    <li>Please note that some of the travel information could be subject to change and customers are advised to check before they travel. The latest festive travel information, including maps, is available online at <a href="http://tfl.gov.uk/festive-travel">tfl.gov.uk/festive-travel</a>.</li>
    <li>There will be no TfL Rail services between Brentwood and Shenfield from Tuesday 3 January 2017 until late May 2017 due to Network Rail work to remodel track and provide an extra platform at Shenfield for future Elizabeth line services. A frequent rail replacement bus service will run between the two stations.</li>
    <li>More information about the Gospel Oak &#45; Barking closure can be found at <a href="http://tfl.gov.uk/london-overground-closure">tfl.gov.uk/london-overground-closure</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-December-Make the most of London this festive season by planning ahead -->

 
 


 