


@{ViewBag.Title = "Maps celebrate ten years of exploring London on foot";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Maps celebrate ten years of exploring London on foot</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Maps celebrate ten years of exploring London on foot</h1>
        <div class="content-page-press-release">
        18 September 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New special edition Legible London maps cover Brixton, Old Street and North Bank
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Legible London helps people find out for themselves how easy and fun it can be getting around and exploring London on foot
"</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>There are now over 1700 pedestrian wayfinding signs across London helping people navigate their way around London</li>
    <li>Will Norman reiterates importance of walking to improving Londoners' health</li>
</ul>
<p>Special anniversary Legible London maps of Brixton, Old Street and North Bank have been launched today to help people living, working and visiting London to walk regularly around the Capital. The maps have been launched a month after Public Health England (PHE) released new statistics showing how millions of people across the UK still don't walk the recommended amount each month.</p>
<p>The maps, in the same style as the popular Legible London wayfinding signs dotted around the city, have been produced by Transport for London (TfL) in partnership with illustrator Matt Blease, and business partnerships in Brixton, Old Street and North Bank. There are now over 1,700 Legible London signs across the city and, in line with the draft Mayor's Transport Strategy, TfL is working with boroughs, businesses and other partners to install new signs.</p>
<p>PHE recently said that 41 per cent of the 15.3 million English adults aged 40 to 60 walk less than 10 minutes continuously each month at a brisk pace of at least 3mph. And GLA analysis shows that if every Londoner walked or cycled for 20 minutes a day, it would save the NHS &pound;1.7bn in treatment costs over the next 25 years.</p>
<p>The Mayor's ambitious draft Transport Strategy includes the aim of increasing the proportion of people walking, cycling and taking public transport to 80 per cent of journeys by 2041, compared to 64 per cent now, meaning an average of 3 million fewer car journeys in London each day. London's Walking and Cycling Commissioner Will Norman today reiterated the importance of getting more Londoners both cycling and walking across all parts of the city.</p>
<p>To mark ten years of the Legible London signs, Illustrator Matt Blease has created an eye-catching design for the covers of the new maps using the Legible London colours. The covers bring walking to each part of London in a playful visual pun placing feet on the letters of each area.</p>
<p>The maps are packed with fun facts about walking and the local areas and include a scale to work out distances that can be walked in five minutes. They will be handy for anyone heading to one of the popular events around the City, whether it's for the Brixton Design festival, London Fashion Week at Somerset House, the Last Days of Shoreditch or other events.</p>
<p>Will Norman, Walking and Cycling Commissioner, said: </p>
<p>'We want our city to be a world leader in creating healthy streets &#45; where walking and cycling is an easy and obvious choice for everyone. Recent figures have once again shown the extent of the inactivity crisis across the UK. The bold ambition set out in our Transport Strategy is for people to walk 20 minutes each day, and the health benefits to Londoners achieving this would be substantial.</p>
<p>'Legible London helps people find out for themselves how easy and fun it can be getting around and exploring London on foot. And by helping Londoners find their way around, encourages more people to make walking a part of their everyday lives.'</p>
<p>Matt Blease, illustrator, said: </p>
<p>'I've been really concerned about air quality in London for a while. When I found out about the project I jumped at the opportunity to get involved. Walking is the ultimate way to explore London and helps us all breathe a little easier.'</p>
<p>Michael Smith, Chief Executive of Brixton Business Improvement District, said: </p>
<p>'It is a wonderful Legible London map of Brixton to celebrate the 10th anniversary. This new map will point the way and encourage more people to walk to Brixton destinations, knowing how long their walk will take. Brixton BID is happy to partner with TfL and its citywide wayfinding system, encouraging walking in Brixton and all over London.'</p>
<p>Ruth Duston Chief Executive, Northbank BID said </p>
<p>'We are thrilled to be partnering with TfL to celebrate the 10th anniversary of Legible London with this limited edition map.  Northbank is a wonderful area to walk through with fascinating history and beautiful parks Embankment Gardens. We want to encourage people to explore the area on foot and see all of the great things the Northbank has to offer.'</p>
<p>Austin Casey, Chief Executive, The Old Street Partnership </p>
<p>'The new maps celebrating 10 years of Legible London will help encourage more people to walk around the Old Street area. There are so many hidden gems to explore from beautiful architecture to pop up food stalls. We are delighted to partner with TfL on these new creative maps.'</p>
<p>Early this year TfL launched new versions of the Walking Tube map covering zones 1 to 3 and including National Rail stations. The maps show distances between stations and times on the same line. For more information about walking in London and to download the Walking Tube map visit <a href="http://www.tfl.gov.uk/walking">www.tfl.gov.uk/walking</a></p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<p>•	Pick up a copy of the maps from Brixton, Old Street, Embankment, Temple and Charing Cross Tube stations.<br />
•	Images are available here: <a href="https://www.flickr.com/gp/tflpress/Wtv3x5">https://www.flickr.com/gp/tflpress/Wtv3x5</a><br />
•	When using the attached image please mark as &copy; Oliver Grange<br />
•	For more information on Matt Blease visit <a href="http://www.mattblease.com">www.mattblease.com</a><br />
•	Legible London is a system of street signs and maps to help people find their way easily. The  signs can be found in bus shelters, on cycle hire docking stations, Tube and rail stations and across streets in the Capital<br />
•	The Mayor wants London to become a city that is easier and more pleasurable to enjoy on foot, with many improvements being made such as creating more public spaces and enhancing existing ones; improving walking routes and expanding pedestrian wayfinding through Legible London to give people the confidence to walk and explore London;<br />
•	TfL and London Boroughs are delivering pedestrian improvements across London that make walking easier, more convenient and enjoyable;<br />
•	See how popular Legible London signs are here: <a href="https://www.youtube.com/watch?v=f2klFaDjcO0">https://www.youtube.com/watch?v=f2klFaDjcO0</a><br />
•	PHE's new One You physical activity campaign is encouraging adults to build 10 minutes continuous brisk walking into their day as a simple way to improve their health. The 'Active 10' app has been developed to show how much brisk walking a person is doing each day and how to incorporate more of it into their lifestyles. You can download the free Active10 app here: <a href="https://www.nhs.uk/oneyou/active10/home#VFQ6fuQGcOFe8t8l.97">https://www.nhs.uk/oneyou/active10/home#VFQ6fuQGcOFe8t8l.97</a></p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-September-Maps celebrate ten years of exploring London on foot -->

 
 
        
        
            @{ViewBag.Description = "Special edition Legible London maps celebrate ten years of exploring London on foot";}
        
        


 