


@{ViewBag.Title = "Mayor's new &pound;42 million fund to help cabbies ditch the dirtiest diesel taxis";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mayor’s new £42 million fund to help cabbies ditch the dirtiest diesel taxis</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mayor’s new £42 million fund to help cabbies ditch the dirtiest diesel taxis</h1>
        <div class="content-page-press-release">
        28 July 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Up to &pound;5,000 available to cabbies to remove oldest taxis from the Capital's streets
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I hope this fund helps deliver a new generation of zero-emission taxis on our roads and paves the way for the Government to offer a diesel scrappage scheme so all London motorists can ditch their dirty diesels"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>In the latest in a series of hard-hitting measures to clean up London's toxic air, the Mayor of London, Sadiq Khan, and TfL have launched a &pound;42m fund to encourage the owners of the oldest, most polluting diesel black cabs to retire them from the Capital's fleet.</p>
<p>Taxis are a significant contributor to London's toxic air quality, and are responsible for 16% of NOx and 26% of Particulate Matter (PM) road transport emissions in central London.</p>
<p>From today, the owners of black cabs which are between 10 and 15 years old can check whether they are eligible for TfL's 'delicensing' scheme and then apply for a grant of up to &pound;5,000 in exchange for retiring their taxi.</p>
<p>For example, the owner of a 10-year-old taxi would receive the highest amount of &pound;5,000, scaling down to &pound;1,200 for a vehicle aged between 14 and 15 years old.</p>
<h2>Zero-carbon city</h2>
<p>The three-year scheme aims to speed up the process of tackling London's filthy air, greening the Capital's taxi fleet, and working towards the goal of making London a zero-carbon city by 2050.</p>
<p>No more new diesel taxis will be licensed in London from 1 January 2018, and a number of manufacturers are prioritising delivering new greener, state-of-the-art Zero Emission Capable (ZEC) taxis.</p>
<p>The London Electric Vehicle Company are the first to confirm the opening of their order book, expected in August.</p>
<p>The Government's Plug-in Taxi Grant, part-funded by the Mayor, will also give cabbies purchasing new ZEC taxis up to &pound;7,500 towards the purchase of a new vehicle.</p>
<h2>Greener fleet</h2>
<p>When combined with a delicensing payment, drivers could have up to &pound;12,500 towards the purchase of a brand new ZEC taxi.</p>
<p>A greener fleet could reduce harmful NOx emissions from taxis by 45% in central London by 2020, making a major contribution to cleaning up the city's toxic air and preparing for the introduction of zero emission zones from 2025.</p>
<h2>Urgent action</h2>
<p>The Mayor of London, Sadiq Khan, said: 'London's filthy air is a health crisis that needs urgent action. The plans announced by the Government this week go nowhere near the action needed.</p>
<p>'Cleaning up London's taxi fleet will play a significant part in our toxic air battle and there will be no new diesel taxis licensed in London by the end of this year. However, it is important we financially support drivers to help them retire their oldest vehicles and upgrade to greener models.</p>
<p>'I hope this fund helps deliver a new generation of zero-emission taxis on our roads and paves the way for the Government to offer a diesel scrappage scheme so all London motorists can ditch their dirty diesels.'</p>
<p>Helen Chapman, TfL's General Manager of Taxi and Private Hire, said: 'Diesel taxis contribute significantly to London's poor air quality and the financial assistance we have made available will encourage take-up and assist taxi drivers in making the transition to cleaner taxis.'</p>
<hr />
<p><strong>Notes to editors:</strong></p>
<p>1. Taxi drivers wanting to take advantage of the scheme should apply at the following link: <a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone/cleaner-greener-taxis">tfl.gov.uk/modes/driving/ultra-low-emission-zone/taxi-and-private-hire-requirements</a></p>
<p>2. The criteria for the delicensing scheme is:</p>
<ul>
    <li>You must own a TfL licensed taxi that is 10 years or older but less than 15 years of age</li>
    <li>You will need to be listed as the registered keeper of the licensed taxi in the V5 log book and registered on TfL's records</li>
    <li>You must not be in the process of selling the taxi</li>
    <li>Your taxi must also be licensed, in a roadworthy state and have a current MOT</li>
</ul>
3. A maximum 15 year taxi age limit remains in place.  From 1 January 2018, in advance of the introduction of the Ultra Low Emission Zone, first time taxi vehicle licences will no longer be granted to a diesel taxi.  All new taxis presented for licensing for the first time will need to be ZEC.  This means having CO2 emissions of no more than 50g/km and a minimum 30 mile zero emission range.  ZEC taxis with petrol engines must meet the latest emissions standards (currently Euro 6)
<p>4. Information on the Government's Plug-in Taxi Grant can be found here: <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/601894/plugin-taxi-information-sheet.pdf">https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/601894/plugin-taxi-information-sheet.pdf</a></p>
<p>5. The payments made through the TfL delicensing scheme are as follows:</p>
<div class="table-container"><table>
    <tbody>
        <tr>
            <td align="left">&nbsp;<strong>Age from DVLA first registration<br />
            </strong></td>
            <td><strong>Payment</strong> <br />
            </td>
        </tr>
        <tr>
            <td align="left">&nbsp;10 years ≥ Taxi Age &lt; 11 years<br />
            </td>
            <td>&nbsp;&pound;5,000</td>
        </tr>
        <tr>
            <td align="left">&nbsp;11 years ≥ Taxi Age &lt; 12 years<br />
            </td>
            <td>&pound;3,800 <br />
            </td>
        </tr>
        <tr>
            <td>&nbsp;12 years ≥ Taxi Age &lt; 13 years<br />
            </td>
            <td>&nbsp;&pound;2,800</td>
        </tr>
        <tr>
            <td>&nbsp;13 years ≥ Taxi Age &lt; 14 years<br />
            </td>
            <td>&pound;1,900 <br />
            </td>
        </tr>
        <tr>
            <td>&nbsp;14 years ≥ Taxi Age &lt; 15 years (age limit for taxi's in London)<br />
            </td>
            <td>&nbsp;&pound;1,200</td>
        </tr>
    </tbody>
</table></div>
<p>&nbsp;</p>
<p>6. The Mayor's draft Transport Strategy sets out a long-term ambition to transform the capital's transport network and deliver a fairer, greener, healthier and more prosperous city for all Londoners. This includes investment in new and improved services for passengers, an unprecedented focus on walking and cycling and a pledge to make the entire transport system zero emission by 2050.  Further information can be found here: <a href="https://tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/the-mayors-transport-strategy">tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/the-mayors-transport-strategy</a></p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-July-Mayor’s new £42 million fund to help cabbies ditch the dirtiest diesel taxis -->

 
 
        
        
            @{ViewBag.Description = "Mayor’s new £42 million fund to help cabbies ditch the dirtiest diesel taxis";}
        
        


 