


@{ViewBag.Title = "Mayor unlocks Blackhorse Road land for housing";}
@{ViewBag.Description = "Mayor of London unlocks Blackhorse Road land for housing, with target of 50 per cent affordable";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mayor unlocks Blackhorse Road land for housing</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mayor unlocks Blackhorse Road land for housing</h1>
        <div class="content-page-press-release">
        02 March 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor announces plans for TfL to build homes on car park site in northeast London, with target of 50 per cent affordable
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are delighted to have the opportunity to transform this site with a joint venture partner into hundreds of new homes for Londoners and vital revenues to reinvest in transport"</div>
        <div class="quote-footer">
            <div class="quotee-name">Graeme Craig</div>
            <div class="quotee-job-title">Director of Commercial Development, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>TfL seeks partner for 1.8 acre development near Blackhorse Road Tube station</li>
    <li>Site could deliver approximately 350 homes by 2022</li>
</ul>
<p>The Mayor of London, Sadiq Khan, today announced his plans to unlock a fourth location for development by Transport for London (TfL). The site, located on Forest Road, in northeast London, could deliver approximately 350 new homes by 2022, with the aim of making 50 per cent of them affordable.</p>
<p>The 1.8 acre site is part of the Mayor of London's Blackhorse Lane and Northern Olympic Park Housing Zone, located in the London Borough of Waltham Forest and conveniently located opposite the Blackhorse Road station, which is served by the Victoria line and London Overground. The site is currently used as a car park and is surrounded by former industrial spaces which are being redeveloped to provide around 1,700 new homes, as well as retail, commercial and leisure spaces and improved pedestrian connectivity for the local area.</p>
<p>Following the Mayor's announcement today, TfL issued a tender document seeking bids from interested members of the TfL Property Partnership Framework. TfL expects to announce a preferred bidder later this year to form a joint venture partnership which will develop the site. Subject to permissions, works could start on site in 2019 with new homes ready in 2022.</p>
<p>James Murray, Deputy Mayor for Housing and Residential Development, said: </p>
<p>'The Mayor is committed to making sure TfL land is fast-tracked for development, helping to raise revenue and build new homes. This site at Blackhorse Road gives us a great chance to build hundreds of homes right near a Tube station, including the genuinely affordable homes Londoners so urgently need.'</p>
<p>Graeme Craig, Director of Commercial Development for TfL, said: </p>
<p>'We are delighted to have the opportunity to transform this site with a joint venture partner into hundreds of new homes for Londoners and vital revenues to reinvest in transport. This site is uniquely located at the centre of what is quickly becoming a hub of new residential, leisure, retail and work spaces, expanding pedestrian connectivity and vibrant community activity in the area.'</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>As part of the local regeneration of the area, this scheme will support improved pedestrian connectivity and use of public transport to improve public health and air quality.</li>
    <li>The Blackhorse Road site is currently used as a car park with approximately 280 parking bays, including six disabled bays. An Equality Impact Assessment will be completed as part of any planning process, to ensure the appropriate number of disabled bays are made available during construction and as part of the new scheme.</li>
    <li>A car park user survey carried out by TfL indicated that approximately 90 per cent are travelling to this car park from locations that are closer to another TfL or Network Rail station.</li>
    <li>Last year, TfL launched the Property Partnership Framework. Following a competitive tender process, TfL approved the appointment of 13 leading property development companies and consortiums that it could work with to develop its sites. This provides a ready pool of partners eligible to bid to work with TfL in joint ventures as sites become available. This will ensure thousands of homes, offices and retail spaces across London can be delivered more efficiently and quickly.</li>
    <li>In August, TfL announced its first site for development at Kidbrooke in the Royal Borough of Greenwich, followed by Landmark Court in the London Borough of Southwark and Fenwick in the London Borough of Lambeth in November.</li>
    <li>An image of the site and a map with the location can be found here: <a href="https://www.flickr.com/photos/tflpress/albums/72157680915265955">https://www.flickr.com/photos/tflpress/albums/72157680915265955</a></li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-March-Mayor unlocks Blackhorse Road land for housing -->

 
 


 