


@{ViewBag.Title = "Mayor and TfL launch three new Low Emission Bus Zones to tackle London's toxic air";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mayor and TfL launch three new Low Emission Bus Zones to tackle London’s toxic air</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mayor and TfL launch three new Low Emission Bus Zones to tackle London’s toxic air</h1>
        <div class="content-page-press-release">
        24 April 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Buses are now clean and green in 10 Low Emission Bus Zones across the city, with two more to be completed ahead of schedule later this year
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These zones complement the introduction of the world's first Ultra Low Emission Zone in central London earlier this month. Experts estimate that without action it would take 193 years to bring London's air quality to within legal levels - but with the action we're taking we can hope to achieve this goal in just six years"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>Just two weeks after the launch of the Ultra Low Emission Zone (ULEZ) in central London, the Mayor and TfL have taken further measures to reduce toxic air in the capital's most polluted areas by introducing three new Low Emission Bus Zones (LEBZ).</p>

<p>The three zones, in Lewisham, Stratford and Edmonton, cover more than 1,330 buses across 79 different bus routes.</p>

<p>Only buses that meet the cleanest emission standards operate within the new LEBZs, which have been delivered through a combination of new and retrofitted vehicles.</p>

<p>This takes the total number of clean buses introduced as a result of the LEBZ to more than 3,000.</p>

<p>The Mayor has pledged to work towards the entire London bus fleet being made up of zero emission vehicles.</p>

<p>In working towards this goal&nbsp;TfL has committed to ensuring the entire bus fleet uses the cleanest Euro VI vehicles as a minimum and has already upgraded more than three quarters of its buses to meet or exceed this standard, with all buses due to meet this standard by October 2020.</p>

<p>This will mean that next year the entire city will become a Low Emission Bus Zone.</p>

<h2>Cleanest in the world</h2>

<p>London's bus fleet is already one of the cleanest in the world with all buses operating in central London meeting or exceeding tough new ULEZ admissions standards.</p>

<p>Under Sadiq's leadership, London now has&nbsp;Europe's largest zero emission&nbsp;bus fleet, with 68 new&nbsp;electric double deck&nbsp;buses to be in place by summer 2019.</p>

<p>TfL is only buying zero emission or hybrid double deck buses, as well as retrofitting older buses to reduce NOx emissions by&nbsp;up to 90%.</p>

<p>In addition, all new single deck buses will be zero emission from 2020. The entire fleet of around 9,000 buses will be zero emission by 2037 at the latest.</p>

<p>There are now ten LEBZs across London, reducing NOx emissions from buses by up to 90% along some of the capital's most polluted roads.</p>

<p>In the Putney High Street LEBZ hourly exceedances of nitrogen dioxide (NO2) have been reduced by up to 99% and annual concentrations by nearly 50%.</p>

<p>In Brixton the LEBZ reduced hourly exceedances of NO2 by up to 85% and annual concentrations by nearly 20%.</p>

<p>With the completion of these three new zones, TfL will reduce toxic air pollution for more than 40 schools, nurseries and academies along the routes and surrounding roads.</p>

<p>The Mayor of London, Sadiq Khan, said: 'London is facing an air quality emergency, with pollution from vehicles, including buses, responsible for over half the harmful emissions we breathe.</p>

<p>'Our existing Low Emission Bus Zones have dramatically reduced pollution and improved the health of thousands of Londoners who live or work along&nbsp;the routes &#45; I'm delighted we can now bring the benefits&nbsp;to Lewisham, Stratford and Edmonton.</p>

<p>'These zones complement the introduction of the world's first Ultra Low Emission Zone in central London earlier this month.</p>

<p>'Experts estimate that without action it would take 193 years to bring London's air quality to within legal levels - but with the action we're taking we can hope to achieve this goal in just six years.'</p>

<h2>Improve air quality</h2>

<p>Claire Mann, Director of Bus Operations at TfL, said: 'Clean buses play a key role in tackling London's toxic air and we're pleased to launch three more Low Emission Bus Zones that will improve air quality along some of the most polluted roads in the capital.</p>

<p>'We have already seen real improvements to local air quality through the introduction of the previous Low Emission Bus Zones, as well as across London, with more than 75% of our fleet now at Euro VI standard.'</p>

<p>The three new Low Emission Bus Zones are:</p>

<ul>
	<li>Lewisham to Catford from Bromley Road (at the junction with Whitefoot Lane and Southend Lane), along Rushey Green, Lewis Grove and Lewisham High Street to Lewisham Road (to the junction with Blackheath Road), cleaning up more than 470 buses, operating 31 bus routes</li>
	<li>Stratford from Mile End Road (at Mile End Station) to Romford Road (up to Lugg Approach), cleaning up more than 360 buses, operating 25 bus routes</li>
	<li>Edmonton to Seven Sisters from Ponders End High Street (by Nags Head Road) via Fore Street to Seven Sisters Road (by Blackstock Road), cleaning up more than 500 buses, operating 23 bus routes</li>
</ul>

<p>Unmesh Desai, London Assembly Member &#45; City and East, said: 'Local residents across Tower Hamlets are having their health jeopardised by the dangerously toxic air in our capital.</p>

<p>'So, I'm delighted to see the Mayor and TfL push through this programme to clean up the hundreds of buses that pass through our borough.</p>

<p>'It's important that these Low Emissions Bus Zones have been delivered swiftly and on schedule. In taking this urgent action now, we can start to make significant progress in cleaning up London's air.'</p>

<h2>Highest priority</h2>

<p>Damien Egan, Mayor of Lewisham, said: 'Having campaigned for more low emission buses across Lewisham we are delighted with today's news. Improving air quality is one of our highest priorities in Lewisham.</p>

<p>This is the second Low Emission Bus Zone launched within the last six months and is an essential part of our strategy to clean up the air in the borough.'</p>

<p>Councillor James Asser, Newham Cabinet Assistant for Sustainable Transport and Environment said: 'We know that air quality has a direct impact on quality of life and can be attributed to lowering life expectancy. That is unacceptable and Newham is committed to tackling pollution.</p>

<p>'This month the council declared a &quot;Climate Emergency&quot; and announced and a raft of environmental measures to tackle poor air quality and to make Newham greener.</p>

<p>'Working with our partners at TfL is important and I very much welcome the Low Emission Bus Zone &#45; which is another important step in improving the air quality in the borough.'</p>

<p>Stephen McDonnell, Haringey Council's Director of Environment and Neighbourhoods, said: 'We warmly welcome this initiative from Transport for London and are very much looking forward to the introduction of 68 new double deck electric buses on routes 43 and 134 this summer.</p>

<p>'Haringey has declared a climate emergency and we are due to consult with residents on our draft Air Quality Action Plan. We have also recently rolled out 38 new Electric Vehicle Charging Points.'</p>

<p>The Mayor launched the central London Ultra Low Emission Zone on 8 April 2019. It replaced the T-Charge and is in addition to the Congestion Charge.</p>

<p>For cars entering the zone that don't meet strict new emission standards there are two ULEZ charge levels: &pound;12.50 a day for cars, vans and motorbikes and &pound;100 a day for lorries, buses and coaches.</p>

<p>TfL is working with boroughs to identify locations for bus priority within Low Emission Bus Zones, to ensure traffic flows quicker and reduce emissions even further.</p>

<hr />
<p><strong>Notes to editors</strong></p>

<p>The locations of all the planned or completed Low Emission Bus Zones:</p>

<ol>
	<li><strong>Putney High Street </strong>from Putney High Street (from Putney Station) to Putney Bridge Road</li>
	<li><strong>Brixton to Streatham </strong>from Brixton Road (from Camberwell New Road/Kennington Church), along Brixton Hill, Streatham Hill and Streatham High Road (to the junction with Gleneldon Road)</li>
	<li><strong>A12 Eastern Avenue </strong>from Homerton High Street (from Sutton Place) via Homerton Road, Warren Road, Gainsborough Road, Cambridge Park Road to Eastern Avenue (by Redbridge Lane West)</li>
	<li><strong>Lewisham to Catford </strong>from Bromley Road (junction with Whitefoot Lane and Southend Lane), along Lewisham High Street to Lewisham Road (to the junction with Blackheath Road)</li>
	<li><strong>Stratford </strong>from Mile End Road (from Mile End Station) to Romford Road (up to Lugg Approach)</li>
	<li><strong>Haringey </strong>from Green Lanes (from Aldermans Hill), along High Road to Green Lanes (to Manor House Station)</li>
	<li><strong>Camberwell to New Cross </strong>from Camberwell New Road (from the junction with Brixton Road), along Peckham High Street to Deptford Bridge Station</li>
	<li><strong>Wandsworth to St John's Hill </strong>from Wandsworth Road (by Nine Elms/ Parry Street), along Lavender Hill to St John's Hill (to junction of Harbut Road)</li>
	<li><strong>Edgware Road (Staples Corner to Maida Vale)</strong> from Edgware Road , along Circlewood Broadway via Shoot-Up Hill to Maida Vale (junction with Elgin Avenue and Abercorn Place)</li>
	<li><strong>Edmonton to Seven Sisters </strong>from Ponders High Street (by Nags Head Road) via Fore Street to Seven Sisters Road (by Blackstock Road)</li>
	<li><strong>Uxbridge Road to Shepherds Bush </strong>from Uxbridge Road (by Ossie Garvin Roundabout) via Broadway, The Vale to Uxbridge Road (by Shepherd's Bush Station)</li>
	<li><strong>Chiswick High Road to Kensington </strong>from Chiswick High Road (by Cambridge Road) via Hammersmith Broadway to Kensington High Street (to High Street Kensington Station)</li>
</ol>

<p>Low Emission Bus Zones use new buses with top-of-the-range engines or retrofit mid-life buses with special exhaust control systems that meet or exceed the cleanest Euro VI emissions standard. The zones have been prioritized in the worst air quality hotspots outside central London where buses contribute significantly to road transport emissions. To see the City Hall evaluation report‎ assessing the effectiveness of the first seven Low Emission Bus Zones visit <a href="https://www.london.gov.uk/WHAT-WE-DO/environment/environment-publications/low-emission-bus-zones-evaluation-first-seven-zones">www.london.gov.uk/lebz</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-April-Mayor and TfL launch three new Low Emission Bus Zones to tackle London’s toxic air -->

 
 
        
        
            @{ViewBag.Description = "Mayor and TfL launch three new Low Emission Bus Zones to tackle London’s toxic air";}
        
        


 