


@{ViewBag.Title = "GLA - Mayor hails launch of unlimited bus 'Hopper' fare";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Mayor hails launch of unlimited bus ‘Hopper’ fare</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Mayor hails launch of unlimited bus ‘Hopper’ fare</h1>
        <div class="content-page-press-release">
        31 January 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Londoners can now make unlimited bus and tram journeys within an hour for the price of one &#45; making travel even more affordable and convenient
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Alongside my TfL fares freeze, the expanded 'Hopper' is a key part of my commitment to make London a more affordable place to live and work"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>This press release, issued by the Mayor of London, was first published on <a href="http://This press release, issued by the Mayor of London, was first published on london.gov.uk ">london.gov.uk</a>&nbsp;</p>
<ul>
    <li>Over 140 million 'Hopper' journeys already made since it launched in September 2016</li>
    <li>Around 13,000 additional passengers to now benefit from the unlimited 'Hopper' every day.</li>
</ul>
<p>From today, bus users across London can make as many journeys as they want within an hour for the price of one, thanks to the extension of Sadiq Khan's landmark 'Hopper' fare.</p>
<p>Originally launched in September 2016, the 'Hopper' fare has already helped millions of passengers make affordable bus or tram journeys across London. From today, anyone using pay as you go can now make unlimited bus and tram journeys within one hour, fulfilling a key manifesto pledge of the Mayor.</p>
<p>The upgrade allows passengers to travel on Tube or rail services in between their bus journeys, which wasn't possible before, helping even more people save money. It is estimated by Transport for London (TfL) that around 13,000 additional passengers will now benefit from the unlimited 'Hopper' fare every single day.</p>
<p>More than 140 million journeys have been made using the 'Hopper' fare since it was launched by Sadiq, of which around three million involved traveling on a tram as part of the journey. The latest figures from TfL show that around 350,000 journeys are being made every weekday using the 'Hopper' fare.</p>
<p>The Mayor of London, Sadiq Khan, said: </p>
<p>'I'm delighted that from today thousands more Londoners will be able to benefit from our landmark Hopper Fare.</p>
<p>'The Hopper has been a huge success so far with over 140 million journeys, and from today Londoners will be able to change buses as many times as they want in an hour &#45; whether commuting to work, or popping to the shops and back.</p>
<p>'The previous Mayor said it couldn't be done, but alongside my TfL fares freeze, the expanded 'Hopper' is a key part of my commitment to make London a more affordable place to live and work.'</p>
<p>Janet Cooke, Chief Executive of London TravelWatch said: </p>
<p>'The move to make the hopper fare unlimited will make bus and tram travel even more affordable for passengers. This will particularly benefit people on lower incomes, including those living in outer London that our recent research has shown often have to make long or complex journeys to work as they cannot afford to live in central London.'</p>
<p>Helen Clark Bell, Chief Executive, Love Wimbledon BID, said: </p>
<p>'Love Wimbledon BID are delighted to hear of these improvements to the Hopper fare. They will have a really positive benefit for the thousands of workers and visitors coming to Wimbledon town centre using different modes of transport. This is particularly pertinent to Wimbledon given the uniqueness of our transport connections. Offering tube, train, tram and comprehensive bus services, many businesses are attracted to the town for our transport links and this initiative will cut commuting costs for a lot of their employees.'</p>
<p>Shashi Verma, Chief Technology Officer at Transport for London said: </p>
<p>'The Hopper fare has already helped millions of people travel for less, and thanks to these latest improvements to our ticketing system, we can now offer even more affordable journeys to customers. This is one of the many ways that we are trying to make life in London easier and encourage people to leave their cars at home in favour of less polluting public transport.'</p>
<p>Stephen Joseph, Chief Executive of the Campaign for Better Transport, said: </p>
<p>'This is great news for Londoners, who can now enjoy even more flexible journeys. This new Hopper fare will be especially welcome for those on low incomes and will help encourage even more people to switch to public transport. London leads the way in flexible, smart ticketing and this latest addition makes public transport a no brainer for Londoners.'</p>
<p>The continuing success of the 'Hopper' will help encourage people across London to switch from their cars to public transport &#45; supporting the Mayor's wider work to clean up London's air and improve the local environment. The 'Hopper' is of particular benefit to Londoners on lower incomes, who rely on bus services more to get around, as well as those with pushchairs and small children.</p>
<p>The introduction of the 'Hopper' fare forms a key part of the Mayor's wider fares package to make life easier for Londoners, including a four-year fares freeze on all TfL services until 2020.</p>
<p>Last year, TfL launched its new app which allows Oyster card users to check their pay as you go balance, purchase travelcards and top up their card with just a few quick taps on their smartphone. They can then be added after 30 minutes by simply touching the Oyster card on the yellow card reader on any of London's 9,000 buses or at any Tube or rail station, tram stop or River Bus pier as part of a journey.</p>
<p>Throughout 2018, further improvements to the Oyster and Contactless system will also be introduced, including:</p>
<ul>
    <li>Adding the ability to view journey history for Contactless pay as you go journeys in the TfL app;</li>
    <li>Introducing pay as you go on the Elizabeth line, which, once fully open, will see services running from Reading and Heathrow in the west to Shenfield and Abbey Wood in the east by December 2019;</li>
    <li>Introducing weekly capping on Oyster to bring it in line with Contactless.</li>
</ul>
<p>For more information about the 'Hopper' fare, please visit <a href="http://www.tfl.gov.uk/hopper">www.tfl.gov.uk/hopper</a></p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>To download the TfL app onto your mobile:</li>
</ul>
<ul>
    <li>For Apple products &#45; <a href="https://itunes.apple.com/gb/app/tfl-oyster/id1179420088">https://itunes.apple.com/gb/app/tfl-oyster/id1179420088</a></li>
    <li>For Android products &#45; <a href="https://play.google.com/store/apps/details?id=uk.gov.tfl.oystercontactless">https://play.google.com/store/apps/details?id=uk.gov.tfl.oystercontactless</a></li>
</ul>
<ul>
    <li>Thanks to the new unlimited Hopper fare you can now take unlimited bus and tram transfers within one hour for &pound;1.50. The fare also now works if there is a tube or rail ride in between hops. You simply tap in with your Oyster card and the system does the rest.</li>
    <li>The 'Hopper' fare is currently not available for passengers on the Heritage Routemaster buses (Route 15H). Any customers who feel they should have benefitted from the Hopper fare can contact TfL customers services for a refund.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-January-GLA - Mayor hails launch of unlimited bus ‘Hopper’ fare -->

 
 
        
        
            @{ViewBag.Description = "Mayor hails launch of unlimited ‘Hopper’ fare for bus journeys across London";}
        
        


 