


@{ViewBag.Title = "Mayor, TfL and the Met launch plan to eliminate deaths and serious injuries on London's roads ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mayor, TfL and the Met launch plan to eliminate deaths and serious injuries on London’s roads </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mayor, TfL and the Met launch plan to eliminate deaths and serious injuries on London’s roads </h1>
        <div class="content-page-press-release">
        24 July 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Bold 'Vision Zero' approach will see a new 20mph speed limit introduced on all TfL roads within the Congestion Charging Zone
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our bold and far-reaching plans being announced today are some of most ambitious in the world, and start from the basis that no death or serious injury on London's roads should be treated as acceptable or inevitable"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>The Mayor of London, TfL and the Metropolitan Police Service (MPS) have today published London's first 'Vision Zero' action plan, which sets out bold and ambitious plans to eliminate deaths and serious injuries from London's transport network.</p>
<p>Each year more than 2,000 people are killed or seriously injured on London's streets, taking a devastating toll on the people involved, their families and communities across the capital.</p>
<p>Working with the Met Police and London boroughs, TfL's radical 'Vision Zero' approach starts from the premise that no death or serious injury on London's roads is acceptable or inevitable.</p>
<p>It is a bold approach that includes the introduction of lower speed limits on TfL's road network, the transformation of dangerous junctions, tough safety standards for the design of HGVs and a comprehensive bus safety programme, which includes speed-limiting technology, and a new innovative training course for all drivers.</p>
<h2>Challenging interim targets</h2>
<p>To get us closer to our Vision Zero ambition, the Mayor has set TfL a number of challenging interim targets.</p>
<p>By 2022, the aim is to reduce the number of people killed or seriously injured on London's roads by 65% with no-one being killed on or by a bus by 2030, on the road to Vision Zero in 2041.</p>
<p>At the heart of the Mayor and TfL's plans is reducing the speed of vehicles on London's streets, as a key way to reduce road danger.</p>
<p>TfL is now proposing to make 20mph the new general speed limit on all TfL roads within the Congestion Charging Zone (CCZ) by 2020, prioritising the part of the capital with a high volume of vulnerable road users including people who walk, cycle or use a motorcycle. 8.9km of new roads within the CCZ will now become 20mph by the end of the Mayoral term to fulfil this ambition.</p>
<h2>Improve road safety</h2>
<p>The likelihood of a collision, and resulting death or serious injury increases substantially as vehicle speed increases.</p>
<p>If someone who is walking is hit by a vehicle at 20mph, they are five times less likely to be killed than if they were hit at 30mph.</p>
<p>If someone is hit by a car doing 30 mph they have a 40% chance of being killed; if someone is hit at 20mph they have a 90% chance of surviving. For each 1 mph reduction in speed there is an associated 6%reduction in collisions in urban areas.</p>
<p>TfL is also proposing the introduction of 20mph speed limits on its road network in many of London's other town centres and high-risk locations across London by 2024, to reduce road danger in these locations.</p>
<p>Many London boroughs have 20mph speed limits on their local residential streets, and the Mayor and TfL will work with boroughs to deliver consistent and uniform 20 mph speed limits where it will improve road safety.</p>
<h2>Intensify police focus</h2>
<p>Overall TfL are aiming for 150km of new lower speed limits to be introduced on the totality of their road network.</p>
<p>The police are responding to Vision Zero with a new approach, which will intensify police focus on the most dangerous drivers and amplify the deterrent effect through widespread high visibility roadside operations and patrols.</p>
<p>At the same time TfL is committed to the next round of major work to make the most dangerous junctions in London safer.</p>
<p>They have already identified 73 junctions with the worst safety record and are proceeding with a major 'Safer Junctions' programme that will see significant safety improvements made at these locations to reduce road danger for people walking and cycling.</p>
<p>Progress has already been made in London in recent years. Improvements on the network, including building segregated cycle lanes and improving dangerous junctions, have led to a 45% reduction* in the number of deaths on London's roads over the past eight years.</p>
<h2>Better compliance</h2>
<p>The most dramatic reduction is car occupants, with better compliance around drink driving, seat belts, speed limits and new car technology playing a part.</p>
<p>Other road users, especially pedestrians, cyclists and motorcyclists, now make up 80% of all deaths and serious injuries on London's roads.</p>
<p>As part of his plans to improve air quality, tackle congestion and improve Londoners' health, the Mayor wants to increase the proportion of people walking, cycling and taking public transport to 80% of journeys by 2041, from 63% now.</p>
<p>And the Mayor is investing a record &pound;2.2bn in streets across London to make them safer for walking and cycling, and improve the environment for everyone.</p>
<p>The Mayor of London, Sadiq Khan, said: 'I don't accept that deaths and serious injuries on London's roads are something we just have to put up with.</p>
<p>'Every single death or serious injury results in heartache and tragedy for those affected, and their loved ones.</p>
<p>'Our bold and far-reaching plans being announced today are some of most ambitious in the world, and start from the basis that no death or serious injury on London's roads should be treated as acceptable or inevitable.</p>
<p>'At the heart of our plans is reducing the dangers of speeding vehicles across London, which is why we're proposing a new general speed limit of 20mph on TfL roads within the Congestion Charging Zone - protecting cyclists, pedestrians and all road users in the busiest part of the capital.</p>
<p>'The design of vehicles on London's road is also crucial. That's why we're using the latest safety technologies to transform London's buses and bringing in a world-leading safety standard for lorries, alongside investing record amounts in building new infrastructure to make walking and cycling a safe option in every part of the capital.'</p>
<h2>First of its kind</h2>
<p>TfL's 'Direct Vision Standard' for Heavy Goods Vehicles will be the first initiative of its kind in the world to categorise HGVs depending on the level of a driver's direct vision from a cab.</p>
<p>This scheme is due to be introduced in 2020 to improve vehicle safety and increase visibility of vulnerable road users.</p>
<p>HGVs will be given a rating between 'zero-star' (lowest) and 'five-star' (highest), with only those vehicles rated 'three-star' and above, or which have comprehensive safety systems, able to operate in London from 2024.</p>
<p>A world-leading Bus Safety Standard is also being developed for London's buses that will identify the latest safety technologies and features to significantly reduce casualties on the bus network.</p>
<p>This could include improved vision for drivers and autonomous emergency braking, as well as redesigned buses both inside and outside.</p>
<p>This Bus Safety Standard will be written into all new bus operator contracts from the end of 2018. The Vision Zero action plan also includes education campaigns with ‎local communities and schools and safety training for motorcycle and moped riders and cyclists.</p>
<p>Mike Brown, London's Transport Commissioner, said: 'This new approach to reducing road danger sees us working in coalition with many partners across the city, including the Metropolitan Police, to enforce new 20mph limits, transform dangerous junctions and raise awareness of the risks on the roads and street network.</p>
<p>'Safety is at the core of this and we are committed to making sure everyone gets home safely every day. The bold actions outlined in the Vision Zero plan will set London on the path to eliminating death and serious injuries on our transport network by 2041.'</p>
<p>Chief Superintendent Colin Wingrove, from the Met's Road and Transport Policing Command, said: 'The Met is working hard to reduce collisions and the number of people killed or seriously injured on London's roads.</p>
<p>'We will contribute towards Vision Zero by intensifying our focus on the most dangerous drivers through the enforcement of road traffic legislation; the use of intelligence-led activity in problem locations; and we will conduct highly visible roadside operations and police patrols throughout London to amplify the deterrent effect.</p>
<p>'We want to remind all road users of the importance of keeping themselves safe while driving. Excess speed is an undisputed contributor to road collisions in London, and the consequences of these collisions can be devastating for those involved, their families, and communities.'</p>
<h2>Educate and encourage</h2>
<p>Inspector Paul Doyle, of the City of London Police's Transport and Highways Operations Group, said: 'We work closely with our partner organisations to educate and encourage all road users to protect themselves and use the roads safely.</p>
<p>'Whilst road fatalities are rare in the City, even one death is one too many. We are a committed member of the Road Danger Reduction Partnership and fully support the pan-London Vision Zero Action Plan.'</p>
<p>Dr Gareth Grier, Lead Clinician at London's Air Ambulance, said: 'At London's Air Ambulance our doctor-paramedic teams deal with the most seriously injured patients in London.</p>
<p>'We are inspired by what Vision Zero sets out to achieve. This initiative combined with our focus on ending preventable deaths from injury in London could have a huge impact. We are also fortunate to work within the London Major Trauma System, all aspiring to achieve a common goal.'</p>
<p>Ian Johns, Assistant Director for Operations at London Ambulance Service, said: 'Every year, my colleagues in London Ambulance Service treat many people who are injured on London's roads.</p>
<p>'Even one injury or death is one too many, so we are delighted to show our support for initiatives to improve road safety.'</p>
<p>Nick Simmons, Chief Executive Officer of RoadPeace, said: 'We see every day the devastation that road collisions cause.</p>
<p>'Whilst we exist to provide support to victims of road danger we want to see the suffering it causes eliminated, and are delighted to see TfL committing to Vision Zero.'</p>
<p>Jeremy Leech, London Campaign Coordinator at 20s Plenty, said: 'Many cities around the world have embraced the idea of a Vision Zero approach but this Action Plan from the Mayor of London and TfL is the first to focus singularly on the actions that are really needed to deliver the long-term goal of no deaths and serious injuries on our roads.</p>
<p>'The focus of the plan on speed is very welcome. At present, many people are put off walking and cycling from the danger and intimidation that comes from vehicles being driven above the internationally recognised limit of 20mph where they mix with pedestrians and cyclists.</p>
<p>'The combination of lower 20mph speed limits, improved road and junction design and better crossing facilities, effective police enforcement and the use of the new technology that ensures vehicles stick to the speed limit will go a long way to delivering the fall in road casualties that the plan requires.'</p>
<p>Cllr Julian Bell, Chair of London Councils' Transport and Environment Committee, said: 'London boroughs are responsible for 95% of London's roads and we will play a key role in the delivery of the rightly ambitious Vision Zero plan.</p>
<p>'We will work closely with the Mayor, TfL and other partners, utilising our established relationships with local schools and community groups, to help eliminate the dangers that cause death and injury and prevent people choosing more sustainable travel modes.'</p>
<p>London Fire Brigade Assistant Deputy Commissioner Lee Drawbridge said: 'London Fire Brigade attended 4,073 crashes and roadside emergencies in 2017 &#45; that's more than 11 every day.</p>
<p>'Firefighters are often called to the worst road traffic collisions and witness first-hand the devastating scenes that can be happen on London's roads. We are proud to support London's first Vision Zero Action Plan to help reduce deaths and serious injuries.'</p>
<p><hr /></p>
<p><strong>Notes to editors:</strong></p>
<p><em>*Compared to the 2005-9 baseline.</em></p>
<p>The Vision Zero action plan is available here: <a href="https://tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/the-mayors-transport-strategy">https://tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/the-mayors-transport-strategy</a></p>
<ul>
    <li>TfL's Casualties in Greater London During 2016 report is available here: <a href="https://tfl.gov.uk/corporate/publications-and-reports/road-safety">https://tfl.gov.uk/corporate/publications-and-reports/road-safety</a></li>
    <li>In 2016 alone, 116 people lost their lives and 2,385 were seriously injured, taking a devastating toll on victims, their families and communities across the capital</li>
    <li>The Mayor's Transport Strategy is available here: <a href="https://tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/the-mayors-transport-strategy">https://tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/the-mayors-transport-strategy</a></li>
</ul>
<p>TfL has been working in collaboration with the EU on their proposals for a Direct Vision Standard for HGVs in London. The EU has now included direct vision in its own General Safety Review, which could mean that HGVs across Europe will also be designed with improved direct vision to make pedestrians and cyclists safer on our streets. TfL does not have to wait for EU legislation in order to implement plans for 'Direct Vision' in London, but the UK Government must notify the scheme to the European Commission.</p>
<p><strong>A new 20MPH speed limit will be introduced on roads within the Congestion Charging Zone. These include:</strong></p>
<ul>
    <li>Victoria Embankment</li>
    <li>Upper Thames Street Underpass</li>
    <li>Thames Street</li>
    <li>Tower Hill</li>
    <li>Millbank / Lambeth Bridge</li>
    <li>Albert Embankment</li>
    <li>Blackfriars Road</li>
</ul>
<p>Subject to discussions with the boroughs, speed limits will also be reduced on TfL roads in 32 town centres.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-July-Mayor, TfL and the Met launch plan to eliminate deaths and serious injuries on London’s roads  -->

 
 
        
        
            @{ViewBag.Description = "Mayor, TfL and the Met launch the boldest ever plan to eliminate deaths and serious injuries on London’s roads";}
        
        


 