


@{ViewBag.Title = "Mayor launches Night Overground services";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mayor launches Night Overground services</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mayor launches Night Overground services</h1>
        <div class="content-page-press-release">
        15 December 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        All-night services will run on Fridays and Saturdays between Dalston Junction to New Cross Gate, extending to Highbury & Islington next year
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It's absolutely fantastic that we have got the Night Overground up and running in East London, building on the huge success of the Night Tube. Londoners and visitors alike will be able to use the service to help them enjoy everything that this buzzing part of the city has to offer as well as providing a significant boost to the night-time economy"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>The Mayor of London, Sadiq Khan, has welcomed the launch of 24-hour Night Overground services to the capital for the first time.</p>
<p>Tonight (Friday 15 December) 24-hour weekend services will begin on the London Overground between Dalston Junction and New Cross Gate, making it faster and easier for thousands of Londoners working late hours or enjoying nights out, to get around.</p>
<p>The launch follows the huge success of the Night Tube which has seen more than nine million journeys, helped cut late night journey times by an average of 20 minutes, created more than 3,600 jobs and contributed more than &pound;170 million to London's economy in its first year.</p>
<h2>Fairer, greener, healthier</h2>
<p>Night Overground will help more people enjoy this diverse and buzzing area of east London, rich with museums, galleries, restaurants, bars and nightspots. Enhancing transport options throughout the weekend will help those working shifts or in the service sector, providing safer journeys and reduced journey times.</p>
<p>The Night Overground is part of the Mayor's draft Transport Strategy, which aims to create a fairer, greener, healthier and more prosperous city by improving public transport.</p>
<p>Many other night shift workers, including hospital staff and those who work for the emergency services, will also benefit from Night Overground with frequent and reliable services helping them to travel around east London more easily.</p>
<p>Connecting with the Night Tube network at Canada Water on the Jubilee line and, from next year, Highbury and Islington on the Victoria line, the Night Overground will transform journeys and open up London at night for thousands of people.</p>
<h2>Much shorter journey times</h2>
<p>Passengers using Night Overground will benefit from much shorter journey times than currently available at night. Journey time savings include:</p>
<ul>
    <li>Up to 29 minutes between Hoxton and Surrey Quays</li>
    <li>Up to 36 minutes between Rotherhithe and Dalston Junction</li>
    <li>Up to 43 minutes between Shadwell and New Cross Gate</li>
</ul>
<p>Sadiq Khan, Mayor of London, said: 'It's absolutely fantastic that we have got the Night Overground up and running in East London, building on the huge success of the Night Tube.</p>
<p>'Londoners and visitors alike will be able to use the service to help them enjoy everything that this buzzing part of the city has to offer as well as providing a significant boost to the night-time economy.'</p>
<h2>World-renowned</h2>
<p>Amy Lam&eacute;, Night Czar, said: 'From Dalston to New Cross, the 'ginger' line is world-renowned for its incredible night life and diverse culture.</p>
<p>'Ensuring London thrives as a 24-hour city is a top priority for the Mayor, so I'm delighted the Night Overground is joining the Night Tube in providing a safe and efficient service to thousands of passengers &#45; whether they're partying all night, or working to keep the city ticking around the clock.</p>
<p>'Tonight, I'll be using the service during a night surgery in East London. I look forward to meeting travellers and speaking to them about how the service will benefit them.'</p>
<p>Leon Daniels, TfL's Managing Director Surface Transport, said: 'The launch of Night Overground promises quicker and easier journeys for our customers.</p>
<p>'So whether you are off to enjoy the vibrant night life in east London, or one of the Capital's many shift workers, Night Overground will help you get there safely.</p>
<p>'Launching night services on this key part of London Overground builds on the success of the Night Tube, which has already provided a boost to London's economy and helped support thousands of jobs.'</p>
<h2>Special moment</h2>
<p>Martin Fry, British Transport Police Chief Superintendent, said: 'The launch of the Night Tube was a very special moment in London's history and it's great to see the service being expanded today to London Overground in east London, enabling more people to enjoy the city late into the night or to get to or from home and work.</p>
<p>'We have a policing plan in place to cater specifically for Night Overground with the safety and security of passengers and staff foremost in our minds and we will continue to work with partners to deliver the exceptional service that people of London have come to expect.</p>
<p>'We will have police officers deployed each night, providing a high visibility presence for all those who travel and work on the system and are committed to ensuring that travel on London's public transport network is a safe and pleasant experience at all times of the day and night.'</p>
<h2>Thriving night economy</h2>
<p>Stella Rogers, Customer Experience Director for Arriva Rail London, said: 'It is because of the passion and dedication of our exceptional people who work day and night to ensure that our customers have a safe, comfortable and reliable service that we are able to run Night Overground.</p>
<p>'We are all incredibly proud to play such a fundamental part in supporting London's thriving night economy.'</p>
<p>Jonny Woo, co-owner of The Glory, said: 'The Glory is placed right on the London Overground and as a late night venue, the new 24hr opening of the line will make us more accessible to LGBT people across London, not just locally.</p>
<p>'It will make travel safer late at night, which is a priority to our diverse clientele. The all-night running will increase the profitability of the late night economy as well as facilitate the movement of people in and importantly out of the area, which is of benefit to local residents.'</p>
<h2>Unlock creativity</h2>
<p>Philippine Nguyen, Co-founder and Director of Unlimited Productions, said: 'At our all-night arts festival, Art Night, supported by the Mayor, this year 75,000 people enjoyed free art across 70 sites in east London, and half of our visitors used the Night Tube to get there.</p>
<p>'We're delighted to welcome the Night Overground, providing more opportunities to unlock creativity at night and realise the benefits of a 24hr city.'</p>
<p>David Lutton, Executive Director of Policy at London First, said: 'The Night Tube has been a tremendous boost to London's night time economy.</p>
<p>'It's extension to the Overground will create new opportunities for businesses outside of the central business district by making more of London's world class night life available to tourists and visitors.'</p>
<h2>Huge potential </h2>
<p>Sarah Nelson, Project Director, from regeneration specialists Primera, said: 'We are delighted that London Overground will be running 24 hour services through east London.</p>
<p>'The improvement in transport links will play a major role in helping to regenerate an area of huge potential in our Capital by offering a safe, reliable and affordable way of travelling around the city.'</p>
<p>Alan D Miller, Chairman of The Night Time Industries Association, said: 'It is such fantastic news that Night Overground services will join the weekend 24 hour Night Tube.</p>
<p>'The London Overground is used by so many people and has helped be part of the success story of south and east London.</p>
<p>'Having a reliable, efficient and affordable service that is 24 hours at the weekend is so important for workers, tourists and of course residents to get around and participate in the best of what London has to offer.'</p>
<h2>Get home safely</h2>
<p>Jonathan Downey, Co-founder of London Union and Street Feast, said:  'The Overground has transformed east London living for me and helped make Hackney one of the most vibrant places on the planet.</p>
<p>'I'm especially pleased that the Night Overground will benefit the lives of many late night hospitality workers living in east and south east London, making it quicker and easier for them to get home safely and comfortably after a long day looking after others.'</p>
<p>Safety and security of passengers remains the top priority and all stations along the route will continue to be staffed at all times while the trains are running , with CCTV, modern lighting and help points available across the network to assist customers as required. </p>
<p>Specially trained Travel Safe Officers will also travel throughout the night across the London Overground network alongside TfL funded British Transport Police officers who work across the London Overground and Tube networks.</p>
<p><hr /></p>
<p><strong>Notes to Editors:</strong></p>
<ul>
    <li>Video of Amy Lam&eacute;, Night Czar, welcoming Night Overground &#45; <a href="https://www.youtube.com/watch?v=V1XGErpK-08&amp;feature=youtu.be">https://www.youtube.com/watch?v=V1XGErpK-08&amp;feature=youtu.be</a></li>
    <li>Night Overground images are available on Flickr - <a href="https://www.flickr.com/photos/tflpress/albums/72157685813428895">https://www.flickr.com/photos/tflpress/albums/72157685813428895</a></li>
    <li>The Night Overground will complement the five existing Night Tube lines connecting with the Jubilee line at Canada Water and the Victoria line from next year when services are extended to Highbury and Islington</li>
    <li>Due to Crossrail works taking place at Whitechapel station, Night Overground services will not initially call at the station until the works complete in Summer 2018</li>
    <li>In the future, the Night Tube will be extended to parts of the Metropolitan, Circle, District, and Hammersmith &amp; City lines once the &pound;5.4bn modernisation programme is completed in 2023</li>
    <li>This year marks the 10th anniversary of the London Overground. Since TfL took over suburban rail routes from Silverlink in 2007, passenger numbers on the routes have increased six fold and the network has become one of the most popular and reliable railways anywhere in the country</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-December-Mayor launches Night Overground services -->

 
 
        
        
            @{ViewBag.Description = "Mayor launches Night Overground services ";}
        
        


 