


@{ViewBag.Title = "Minimising disruption during essential Tower Bridge closure";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Minimising disruption during essential Tower Bridge closure</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Minimising disruption during essential Tower Bridge closure</h1>
        <div class="content-page-press-release">
        19 September 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">

    <div class="article-teaser">
        City of London's vital refurbishment will avoid the risk of unplanned and protracted emergency closures
    </div>



<div class="pull-quote">
        <div class="quote-body">"We've been working closely with the City of London to minimise the impact of this vital refurbishment and to ensure that Londoners have the travel advice they need."</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">Managing Director of Surface Transport, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Road users are advised to use alternative routes and leave more time for journeys</li>
    <li>Drivers will not incur the Congestion Charge on the signed diversion routes</li>
    <li>Bridge open to pedestrians on all but three weekends</li>
</ul>
<p>Transport for London (TfL) has set out plans to help reduce disruption during the City of London's vital maintenance work on Tower Bridge. The three-month closure, which starts on 1 October, will mean vehicles will be unable to use the bridge. TfL is advising road users of disruption to the surrounding area and has announced a ban of all non-emergency roadworks on surrounding roads to help reduce the impact. Additionally TfL has also put in place plans to swiftly remove any vehicles blocking key surrounding routes to help reduce disruption.</p>
<p>During the closure of the bridge, drivers, cyclists and bus users will need to use an alternative route and should allow extra time for their journey. A signed diversion will be in place taking drivers northbound over London Bridge and southbound over Southwark Bridge. As Tower Bridge is outside of the Congestion Charge zone, drivers will not be liable for the Congestion Charge if they do not deviate from the signed alternative routes.</p>
<p>Three London Bus routes that use Tower Bridge (42, 78 and RV1) will be affected. Signed alternative routes for cyclists will also be in place and pedestrians will still be able to cross the bridge, although there will be three weekends when the bridge is closed entirely and pedestrians will be required to use alternative routes.</p>
<p>To help support the City of London, TfL has carried out a range of activity to alert local residents, businesses and road users of this closure. More than 900,000 emails have been sent out to road, bus and other public transport users about the work, ensuring local people, businesses and those making deliveries in the surrounding areas are aware of the closure. Signage is in place on Tower Bridge and the approaching roads to warn of the closure.</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: </p>
<p>'The City of London's decision to close Tower Bridge for this work will avoid the risk of any further unplanned closures for emergency repairs. We've been working closely with the City of London to minimise the impact of this vital refurbishment and to ensure that Londoners have the travel advice they need. We have also banned local roadworks during the closure to reduce the impact further.</p>
<p>'We do understand concerns about this taking place at the same time as Network Rail's work on Tooley Street. However, our analysis has shown that combining the works will make only a small difference in disruption, whereas to do both separately would see road users face disruption continuously until late 2018.</p>
<p>'Our advice to those travelling in the area is to check before they travel and to plan an alternative route or allow more time for their journeys as roads in the area will be busier than usual. Our website shows all the closures and available diversions.'</p>
<p>The 122-year-old Tower Bridge was last refurbished in the 1970s and the iconic structure now requires major maintenance, including re-decking of the lifting bascules, new expansion joints, waterproofing of the viaduct arches and resurfacing.</p>
<p>Chris Hayward, Chairman of the Planning and Transport Committee at the City of London Corporation, said: </p>
<p>'This decision to close Tower Bridge to vehicles has not been taken lightly. This course of action has been taken after years of extensive consultation and planning in conjunction with numerous stakeholders. We will use this time to repair, refurbish, and upgrade London's most iconic bridge, which has gone without significant engineering works for more than thirty-five years.</p>
<p>'We will be working hard to minimise disruption to both pedestrians and motor vehicles. The bridge will remain open to pedestrians for the entirety of the works, apart from three weekends. We recognise that these works may cause some frustration to residents and commuters, but these vital works really do need to take place.'</p>
<p>Variable messaging signs are now in place, advising drivers of the closure, and TfL will be providing up-to-date information through the <a href="http://www.twitter.com/tfltrafficnews">&#64;tfltrafficnews</a> Twitter feed and helping those who normally use the bridge plan their journey with the webpage- <a href="http://tfl.gov.uk/tower-bridge-closure">tfl.gov.uk/tower-bridge-closure</a>.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>The pedestrian closures of the bridge will be between 08:00 &#45; 22:00 on the weekends of 26-27 November, 3-4 December, 10-11 December</li>
    <li>The Tower Bridge exhibition will remain open at all times</li>
    <li>Tower Bridge opens for river traffic at 24 hours' notice around 1,000 times a year and this will be maintained</li>
    <li>Images from within the bridge are available at request of the TfL Press Office</li>
</ul>
<p>About the City of London Corporation:<br />
The City of London Corporation provides local government and policing services for the financial and commercial heart of Britain, the 'Square Mile'. In addition, the City Corporation has three roles:</p>
<ul>
    <li>We support London's communities by working in partnership with neighbouring boroughs on economic regeneration, education and skills projects. In addition, the City of London Corporation's charity City Bridge Trust makes grants of around &pound;20 million annually to charitable projects across London and we also support education with three independent schools, three City Academies, a primary school and the world-renowned Guildhall School of Music and Drama.</li>
    <li>We also help look after key London's heritage and green spaces including Tower Bridge, Museum of London, Barbican Arts Centre, City gardens, Hampstead Heath, Epping Forest, Burnham Beeches, and important 'commons' in south London.</li>
    <li>We also support and promote the 'City' as a world-leading financial and business hub, with outward and inward business delegations, high-profile civic events and research-driven policies all reflecting a long-term approach.</li>
</ul>
<p>See <a href="http://www.cityoflondon.gov.uk">www.cityoflondon.gov.uk</a> for more details.</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-September-Minimising disruption during essential Tower Bridge closure -->

 
 


 