


@{ViewBag.Title = " Most TfL services will be operating this late May bank holiday, but check before you travel";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb"> Most TfL services will be operating this late May bank holiday, but check before you travel</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1> Most TfL services will be operating this late May bank holiday, but check before you travel</h1>
        <div class="content-page-press-release">
        20 May 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"Whether you are going away with the family or enjoying some of London's exciting attractions please check before you travel this bank holiday"</div>
        <div class="quote-footer">
            <div class="quotee-name">Nigel Holness</div>
            <div class="quotee-job-title">TfL's Managing Director for London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Over the late May bank holiday weekend (Saturday 25, Saturday 26 and Monday 27 May) there will be some service changes and essential improvement works on some parts of London's transport network. Some journeys will be affected, including travel to or from Heathrow Airport.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The closures have been planned over the traditionally quieter bank holiday to minimise disruption to customers as much as possible.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Most TfL services will continue to run throughout the bank holiday weekend as normal. The main service changes will be closures to the Piccadilly line between Hammersmith and Heathrow/Uxbridge and on the District line between Turnham Green and Ealing Broadway all weekend (from 00:01 Saturday 25, and all day on Sunday 26 and Monday 27 May).</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Customers for Heathrow airport should use the non-stop coaches that will be running between Hammersmith station and Heathrow airport via the motorway every 3-8 minutes. There are porters and lifts at both Hammersmith and Heathrow, and extra space for luggage and buggies. For an wheelchair accessible route to the airport customers should use TfL Rail, which runs every 30 minutes. TfL Rail will be busier than usual and customers should use the non-stop coaches wherever possible.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Nigel Holness, TfL's Managing Director for London Underground, said: `</strong>Whether you are going away with the family or enjoying some of London's exciting attractions please check before you travel this bank holiday. Most TfL services will be operating allowing customers to make the most of what London has to offer but there are some temporary changes to be aware of.'</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">There is no better way to explore London than by walking, cycling and taking public transport, with off-peak fares, daily fare capping and convenient payment with Oyster or contactless. The Bus Hopper fare also provides unlimited bus and tram journeys in one hour for just &pound;1.50. This bank holiday a Routemaster will operate during the day on the route 15 between Tower Hill and Trafalgar Square, giving customers a chance to take a ride on an iconic part of London's transport history.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Santander Cycles will be available throughout the bank holiday weekend for Londoners and visitors wishing to get around the capital on two wheels. Covering 100km of London, the Santander Cycles scheme is the largest in Europe, with almost 12,000 cycles and 770 docking stations. Bikes can be hired from as little as &pound;2 for a 24 hour period.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>London's Streets</strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Drivers are reminded that there will be no Congestion Charge (CC) on Saturday 25, Sunday 26 and Monday 27 May.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Since Monday 8 April 2019, the Ultra Low Emission Zone (ULEZ) operates in the same area as the CC and, unlike the CC, remains in operation 24/7 throughout the bank holiday weekend.<br />
<br />
Old Street roundabout will change to two-way traffic over the bank holiday weekend. City Road (south) and Old Street (west) will be temporarily closed to prepare for the switch to two-way traffic from 21:30 on Friday 24 May to 00:01 on Monday 27 May.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Increases in journey time are expected after the switch-over and TfL is advising people to take extra care in the area as traffic gets used to the new two-way system. Buses will run on their normal line of route in the new two-way layout and TfL is encouraging drivers to consider walking or cycling for local journeys. &nbsp;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">People walking are advised to check both ways for traffic when crossing the road and should make use of a number of pedestrian crossings along the road.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Essential Improvement on the Tube</strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">There will be no Piccadilly line trains between Hammersmith and Heathrow/Uxbridge from midnight on Friday night / Saturday 25 until the end of service on Monday 27 May. A reduced service will run on the rest of the line, with trains approximately every four minutes.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Those travelling to Heathrow are advised to use the non-stop coaches which will run via the motorway to all terminals every 3-8 minutes. The non-stop coaches will have extra space for luggage and buggies and will have porters available to help transport luggage. Lifts are also available at Hammersmith station and Heathrow Airport for those with buggies; however, the coaches are not wheelchair accessible.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">For an accessible route to the airport, customers are advised to use the Hammersmith &amp; City line to Paddington and TfL Rail to Terminals 2, 3 &amp; 4. For Terminal 5, go to Terminal 2 &amp; 3 and use the free inter-terminal transfer.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">There will also be all-stations replacement buses running between Gunnersbury and Heathrow and Rayners Lane. These extend to Hammersmith and Terminal 5 during Night Tube.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">There will be no District line trains between Turnham Green and Ealing Broadway on Saturday 25, Sunday 26 and Monday 27 May due to track works being completed.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Closures are subject to change. For the latest information, Check your travel at <a href="http://tfl.gov.uk/may-travel" style="text-decoration: none;">tfl.gov.uk/may-travel</a> or follow us on Twitter.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Customers can find their nearest Santander Cycles docking station here: <a href="https://tfl.gov.uk/modes/cycling/santander-cycles" style="text-decoration: none;">tfl.gov.uk/modes/cycling/santander-cycles</a>&nbsp;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Suggestions of walks in London can be found here: <a href="https://tfl.gov.uk/modes/walking/" style="text-decoration: none;">tfl.gov.uk/modes/walking/</a></span></span></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-May- Most TfL services will be operating this late May bank holiday, but check before you travel -->

 
 
        
        
            @{ViewBag.Description = " Most TfL services will be operating this late May bank holiday, but check before you travel";}
        
        


 