


@{ViewBag.Title = "Most TfL services are operating this Easter, but check before you travel";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Most TfL services are operating this Easter, but check before you travel</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Most TfL services are operating this Easter, but check before you travel</h1>
        <div class="content-page-press-release">
        15 April 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The closures have been planned over the traditionally quieter Easter weekend to minimise disruption to customers as much as possible
        
    </div>



 <div class="on-this-page">
<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">TfL is encouraging Londoners and visitors to the capital to make the most of the Easter bank holiday weekend by planning their journeys from Friday 19 until Monday 22 April in advance to check for any planned work or service changes on the transport network.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">There is no better way to explore London than by public transport, with off-peak fares, daily fare capping and convenient payment with Oyster or contactless. The Bus Hopper fare also provides unlimited bus and tram journeys in one hour for just &pound;1.50.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Most TfL services, including TfL Rail services, and Friday and Saturday Night Tube and Night Overground services, will continue to run throughout the Easter bank holiday weekend, some with amended timetables on Good Friday and Easter Monday.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Gareth Powell, TfL's Managing Director for Surface Transport, said</strong>: 'Most TfL services will be operating this bank holiday weekend allowing customers to make the most of what London has to offer.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">'So whether you are off to see family or friends, or visiting one of the many attractions, please check before you travel.'</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">TfL Rail services will be open and a normal service will run between Paddington and Heathrow with Saturday timetables between Liverpool Street and Shenfield on Good Friday and Easter Monday.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Drivers are reminded that there will be no Congestion Charge (CC) from Friday 19 to Monday 22 April.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Since Monday 8 April 2019, the Ultra Low Emission Zone (ULEZ) operates in the same area as the Congestion Charge and, unlike CC, remains in operation 24/7 throughout the Easter bank holiday weekend.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">As part of TfL's plans to transform this dangerous junction, Highbury Corner roundabout will be removed and replaced with two-way roads overnight between 00:01 and 07:00 on Monday 22 April 2019.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">St Paul's Road and Canonbury will be temporarily closed during the work. People walking, cycling and driving in the area are encouraged to take extra care after the switchover is completed because traffic may be coming from a different direction.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">On Saturday 20 April, Tottenham Court Road will also be changing to two-way traffic, as part of a Camden scheme.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Pedestrians are being advised to check both ways for traffic when crossing the road and should make use of a number of pedestrian crossings along the road.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Bus routes serving Gower Street/Bloomsbury Street will move to Tottenham Court Road as part of the change.</span></span></p>

<h2 style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Essential rail improvement</span></span></h2>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The majority of TfL services will be running throughout the Easter bank holiday providing ways to get around London, however engineers will be working across the traditionally quieter period to carry out essential improvements to tracks, signalling and roads at some locations.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">A section of the London Trams network will be closed while essential track renewal is carried out in the Blackhorse Lane and Woodside area, and planned bridge replacement work takes place at Blackhorse Lane.<strong>&nbsp;</strong></span></span></p>

<h2 style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Alternative travel options</span></span></h2>

<p><span style="font-size:12.0pt">Where work is taking place, alternative travel options will be available. More information can be found on TfL's website at <a href="https://tfl.gov.uk/status-updates/major-works-and-events/easter-travel-2019?cid=easter-travel" style="text-decoration: none;">tfl.gov.uk/easter-travel</a></span></p>

<hr />
<p style="margin-left:0cm; margin-right:0cm"><strong><span style="font-size:12pt"><span style="line-height:21pt">Notes to editors</span></span></strong></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">There are some planned closures on Tube, London Overground, London Trams and DLR:</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>London Underground</strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Due to essential track renewal work some services will be suspended:</span></span></p>

<ul>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">No Hammersmith &amp; City line between Aldgate East and Barking &#45; Friday and Monday</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">No Hammersmith &amp; City line between Liverpool Street to Barking &#45; Saturday and Sunday</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">No Circle line between Edgware Road and Aldgate (via Victoria) &#45; Friday and Monday only</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">No District line service between Hammersmith and Barking, and between Edgware Road and Wimbledon/Kensington (Olympia) &#45; Friday and Monday only</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">No District line service between Earl's Court and Wimbledon and between Aldgate East and Barking &#45; Saturday and Sunday only</span></span></span></li>
</ul>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">London Euston and London Fenchurch Street stations will also be affected by National Rail planned works. Bakerloo line services will be enhanced from Harrow &amp; Wealdstone to assist affected rail customers.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>London Overground</strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">There will be no service between the following London Overground stations:</span></span></p>

<ul>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Euston and Kilburn High Road &#45; all weekend</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Liverpool Street and Enfield Town, Cheshunt (via Seven Sisters) and Chingford on Sunday until 10:15</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Hackney Downs and Enfield Town / Cheshunt (via Seven Sisters) after 22:30 on Monday only</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Willesden Junction and Clapham Junction - Saturday and Sunday only</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Sydenham and Crystal Palace - Sunday only</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Gospel Oak and Barking all weekend</span></span></span></li>
</ul>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">In addition, there will be no service between Sydenham and West Croydon after 22:15 each evening from Monday 15 until Wednesday 17 April.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">London Overground trains will also not stop at Whitechapel station all bank holiday weekend.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Trams</strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Some services will be suspended due to essential track renewal work between Blackhorse Lane and Woodside, and planned bridge replacement work at Blackhorse Lane. There will be no service between:</span></span></p>

<ul>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Addiscombe and Elmers End / Birkbeck &#45;&nbsp; from Monday 15 until Sunday 21 April</span></span></span></li>
</ul>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">In addition, there will be no service between Sandilands and Elmers End / Birkbeck on weekends of 13/14 and 27/28 April</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>DLR</strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Due to Network Rail bridge work services will be suspended:</span></span></p>

<ul>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">No service between Bank/Tower Gateway and Poplar/West India Quay &#45; all weekend</span></span></span></li>
</ul>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">&nbsp;</span></span></p>

<ul>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Travel information is subject to change and customers are advised to check before they travel</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Travel alternatives are available, including replacement buses on some routes</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">For updates during the Easter weekend, a full list of TfL's social media channels is also available at <a href="https://tfl.gov.uk/status-updates/travel-tools" style="text-decoration: none;">tfl.gov.uk/travel-information/social-media-and-email-updates/</a>, which includes details of the Twitter feeds for all public transport and live traffic news.</span></span></span></li>
</ul>

<p><span style="font-size:12.0pt">For more information visit <a href="http://www.nationalrail.co.uk/easter" style="text-decoration: none;">www.nationalrail.co.uk/easter</a></span></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-April-Most TfL services are operating this Easter, but check before you travel -->

 
 
        
        
            @{ViewBag.Description = "Most TfL services are operating this Easter, but check before you travel";}
        
        


 