


@{ViewBag.Title = "New entrance opens as Bond Street station upgrade is complete ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New entrance opens as Bond Street station upgrade is complete </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New entrance opens as Bond Street station upgrade is complete </h1>
        <div class="content-page-press-release">
        17 November 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Entrance on north side of Oxford Street provides step-free access for the first time at this key West End location
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The new, modernised Bond Street station will make journeys quicker and easier for the hundreds of thousands of people who travel through it every day"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mark Wild</div>
            <div class="quotee-job-title">Managing Director of London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Upgrade part of wider plans to transform Oxford Street and surrounding area and prepare for the Elizabeth line</li>
    <li>Both ends of Oxford Street now served by step-free stations</li>
    <li>Images of the new ticket hall are available on <a href="https://www.flickr.com/photos/tflpress/albums/72157666466833989">Flickr</a></li>
</ul>
<p>TfL has today unveiled the completed &pound;300 million upgrade of Bond Street Tube station, a key West End location and one of the busiest stations in central London.</p>
<p>Shoppers, workers and visitors to the Capital will enjoy quicker, easier and more comfortable journeys through the station thanks to a 30 per cent increase in the capacity of the station following the opening of the new entrance and ticket hall on the north side of Oxford Street at Marylebone Lane.</p>
<p>The new entrance also provides step-free access for the first time at the station, making Bond Street the 72nd Tube station to become step-free and moving the Underground closer to the Mayor's target for 40 per cent of the network to be step-free by 2022. Both ends of Oxford Street are now served by step-free stations following the installation of new lifts at Tottenham Court Road station earlier this year. The four new lifts at Bond Street will make life easier for people with accessibility needs or those with luggage or heavy shopping.</p>
<p>Preparatory work to build a step-free interchange to the Elizabeth line has also been completed ahead of services calling at Bond Street station in December 2018, when it is expected that passenger numbers will increase to around 225,000 per day. The Elizabeth line station will also help ease crowding pressure at Oxford Circus Underground station, being located just 150m away.</p>
<p>Other benefits of the station upgrade at Bond Street Underground station include:</p>
<ul>
    <li>A&nbsp;new, spacious ticket hall with five new ticket gates;</li>
    <li>Two new escalators, which will make it easier to exit the station which currently becomes congested at peak times;</li>
    <li>Two new interchange tunnels to further ease congestion.</li>
</ul>
<p>Val Shawcross, Deputy Mayor for Transport, said: &quot;The Mayor is committed to making London's transport network more modern, affordable and accessible. It's vital that all Londoners can get around our capital safely and easily and that's why we're so pleased that Bond Street has today become the 72nd step-free tube station. The upgrade of the station is going to make a real difference for passengers and marks another key stage in the development of the area, with the Elizabeth line due to open next year and our plans for the transformation of Oxford Street progressing well.&quot;</p>
<p>Mark Wild, Managing Director of London Underground, said: &quot;The new, modernised Bond Street station will make journeys quicker and easier for the hundreds of thousands of people who travel through it every day. It's fantastic to open the station in time for the Christmas shopping period, making Oxford Street more accessible to all of our customers as well as boosting businesses in the area. The expansion of the station is another step in the investment we are making in Oxford Street and the surrounding area, with the Elizabeth line opening next year and plans progressing on making Oxford Street one of the world's finest public spaces.&quot;</p>
<p>Jace Tyrrell, Chief Executive of New West End Company, said:<br />
&quot;The opening of the refurbished Bond Street Tube station is a significant milestone at a time of great change and massive investment in the West End. It's great news that the station will be open for the festive period &#45; West End retailers are expecting a busy Christmas period this year, as international shoppers make the most of the exchange rates and domestic shoppers come looking for festive treats.</p>
<p>&quot;The West End is the world's top shopping district and a major part of London's economy, with more than 200 million visits every year and over &pound;9 billion spent in the area's shops hotels and restaurants. This new station is one more major improvement which, along with the imminent opening of the Elizabeth line, the removal of traffic from Oxford Street and the new public realm on Bond Street, will make the West End an even better place to work and visit.&quot;</p>
<p>Alan Benson, Chair of Transport for All, said: &quot;The Underground is the fastest, most efficient way to move around London but much of it remains inaccessible to many disabled people. This is especially true of the oldest, central parts of the network.</p>
<p>&quot;That is why the ongoing programme of improvements across the network is so important. At Transport for All we warmly welcome this work at Bond Street which opens up the hugely important Oxford Street area. This will make it much easier for disabled and older people, as well as parents, to access the businesses and cultural opportunities in this part of the Capital.&quot;</p>
<p>Bond Street station is one of the busiest stations in central London, serving nearly 40 million customer journeys last year. It is a key link to Oxford Street, the busiest shopping street in Europe and a key commercial centre for the London and UK economies. It is also central London's only interchange between the Central and Jubilee lines, two of the three busiest lines on the Underground network.</p>
<p>Oxford Street will continue to see huge improvements in the coming years, with Elizabeth line services set to re-define journeys across the Capital by boosting rail capacity in central London by 10%. This change provides a once-in-a-generation opportunity to tackle the challenges of poor air quality and congestion across the West End. TfL is now working with the Mayor and Westminster City Council to transform Oxford Street into one of the world's finest public places with less road traffic and a far more pedestrian-friendly environment.</p>
<p>&nbsp;</p>
<p>TfL Press Office<br />
0845 604 4141</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-November-New entrance opens as Bond Street station upgrade is complete  -->

 
 
        
        
            @{ViewBag.Description = "New entrance opens as Bond Street station upgrade is complete ";}
        
        


 