


@{ViewBag.Title = "New cameras to enforce vital safety restrictions in the Rotherhithe Tunnel";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New cameras to enforce vital safety restrictions in the Rotherhithe Tunnel</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New cameras to enforce vital safety restrictions in the Rotherhithe Tunnel</h1>
        <div class="content-page-press-release">
        16 January 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Cameras to be introduced in early February to enforce vehicle restrictions around the clock
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Safety is our top priority and these restrictions are absolutely essential to ensure that people can continue to use the tunnel safely"</div>
        <div class="quote-footer">
            <div class="quotee-name">Glynn Barton</div>
            <div class="quotee-job-title">TfL's Director of Network Management</div>
        </div>
</div>

 <div class="on-this-page">
<p>New cameras are being introduced in the Rotherhithe Tunnel to increase safety and deter vehicles that don't meet the safety restrictions from using the route.</p>

<p>Vehicles that are more than two metres (six foot six inches) wide or two metres high, or goods vehicles weighing more than 2 tonnes, are not safe to travel through the tunnel.</p>

<p>From early February, enforcement will be carried out by the new cameras and people driving vehicles through the tunnel that do not comply with the restrictions could be fined up to &pound;130.</p>

<p>The tunnel, which was built in 1908, was not designed to cope with modern levels of traffic. Safety is TfL's top priority and in September 2018 it carried out detailed analysis of the tunnel's ventilation system, which would be used to extract smoke and other dangerous fumes in the event of a fire.</p>

<p>This showed that new restrictions were vital to ensure road users could continue to use the tunnel safely, whilst TfL works on plans for the tunnel's future. By not complying with restrictions at the tunnel, drivers are putting themselves and others at risk.</p>

<h2>Assist drivers</h2>

<p>Enforcement officers have been present at both approaches to the tunnel since the new restrictions were introduced to assist drivers and prevent vehicles entering the tunnel that do not comply.</p>

<p>Officers have turned away an average of 600 vehicles a day since September.</p>

<p>Drivers whose vehicles do not meet the restrictions are advised to use nearby Tower Bridge or the Blackwall Tunnel to cross the Thames. The congestion charge does not apply to either crossing.</p>

<p><strong>Glynn Barton, TfL's Director of Network Management, said</strong>: 'Safety is our top priority and these restrictions are absolutely essential to ensure that people can continue to use the tunnel safely.</p>

<p>'People driving vehicles through the tunnel that do not meet the restrictions are putting both themselves and others at risk.</p>

<p>'I would encourage all users of the tunnel to check that their vehicle is below two metres in height and width, and that goods vehicles are less than two tonnes in weight, so that they are compliant when the new cameras are switched on.'</p>

<h2>Mayor's Vision Zero</h2>

<p>Reducing danger on London's roads is key to the Mayor's Vision Zero goal of eliminating death and serious injury from the transport network.</p>

<p>The bold approach will also include the introduction of lower speed limits on the road network, the transformation of dangerous junctions, tough safety standards for the design of HGVs and a comprehensive bus safety programme, which includes speed-limiting technology and a new innovative training course for all drivers.</p>

<hr />
<p><strong>Notes to editors:</strong></p>

<ul>
	<li>TfL will issue warning letters rather than fines to drivers for two weeks after the cameras are introduced</li>
	<li>More information will be available at <a href="https://tfl.gov.uk/modes/driving/rotherhithe-tunnel-restrictions?cid=rotherhithe-tunnel">tfl.gov.uk/Rotherhithe-tunnel</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-January-New cameras to enforce vital safety restrictions in the Rotherhithe Tunnel -->

 
 
        
        
            @{ViewBag.Description = "New cameras to enforce vital safety restrictions in the Rotherhithe Tunnel";}
        
        


 