


@{ViewBag.Title = "New London Overground trains enter service on routes into London Liverpool Street";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020">2020</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New London Overground trains enter service on routes into London Liverpool Street</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New London Overground trains enter service on routes into London Liverpool Street</h1>
        <div class="content-page-press-release">
        03 March 2020
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The walk-through, air-conditioned trains with USB points and real-time information screens will deliver a capacity boost
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These state-of-the-art trains will improve reliability, boost capacity and deliver a range of additional benefits to passengers including free Wi-Fi and real-time information screens"</div>
        <div class="quote-footer">
            <div class="quotee-name">Heidi Alexander</div>
            <div class="quotee-job-title">Deputy Mayor for Transport</div>
        </div>
</div>

 <div class="on-this-page">
<p>Customers using London Overground routes from Cheshunt, Chingford and Enfield Town into London Liverpool Street began to benefit from a boost in capacity today, as the first of the new state-of-the-art trains were introduced.</p>

<p>The new walk-through electric trains will increase capacity by around 10%&nbsp;and have a host of customer benefits including air-conditioning, free Wi-Fi, real-time information screens, USB charging points and more wheelchair spaces making accessible travel easier.</p>

<h2>More reliable service</h2>

<p>The new electric trains, built by Bombardier Transportation in Derby, will replace the oldest rolling stock operating on the London Overground ensuring customers receive a more reliable service as well as the additional features.</p>

<p>They will run as four-car trains and at peak times will have the option to be connected and operate as longer eight-car units. This is to help provide increased capacity during the morning and evening peak to better meet customer demand.</p>

<p><strong>Heidi Alexander, Deputy Mayor for Transport, said:</strong>&nbsp;'I'm delighted that London Overground services into London Liverpool Street are now being served by new electric trains.</p>

<p>'These state-of-the-art trains will improve reliability, boost capacity and deliver a range of additional benefits to passengers including free Wi-Fi and real-time information screens.'</p>

<p><strong>Rory O'Neill, TfL's General Manager for London Overground, said:</strong>&nbsp;'Customers will start to notice new trains being introduced onto their routes from today providing a boost in capacity, especially at peak times.</p>

<p>'They will also benefit from walk-through carriages, air-conditioning, free Wi-Fi, real-time information screens and USB charging points.'</p>

<h2>State-of-the-art</h2>

<p><strong>Joanne McCartney, London Assembly Member for Enfield &amp; Haringey, said:</strong>&nbsp;'I am very pleased to see the first new Class 710 train launch on the commuter lines out of Liverpool Street.</p>

<p>'These trains have already been rolled out in other parts of London and it is good to see them coming to our area.</p>

<p>'The long-awaited replacement of the old and antiquated trains with a new, state-of-the-art electric fleet will provide greater capacity, a more comfortable journey and increase the number of wheelchair spaces.</p>

<p>'This will greatly benefit travellers across Enfield &amp; Haringey.'</p>

<p>New trains will be introduced on a phased basis on these routes to ensure there is a smooth transition for customers and make sure they are operating reliably. It is expected all the new trains will be in service by the end of June.</p>

<hr />
<p><strong>Notes to editors:</strong></p>

<ul>
	<li>The first new 710s were introduced on in May 2019 on the Gospel Oak to Barking route</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/march">March</a></div>
                                                <ul>
                                                    
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2020-March-New London Overground trains enter service on routes into London Liverpool Street -->

 
 
        
        
            @{ViewBag.Description = "New London Overground trains enter service on routes into London Liverpool Street";}
        
        


 