


@{ViewBag.Title = "New London Overground electric trains enter service ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New London Overground electric trains enter service </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New London Overground electric trains enter service </h1>
        <div class="content-page-press-release">
        22 May 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New four-car Class 710 electric trains are now approved for passenger service on the Gospel Oak to Barking line
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I am pleased that the first two new trains will be in operation from tomorrow, and the full timetable will be restored as soon as possible
 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Heidi Alexander</div>
            <div class="quotee-job-title">Deputy Mayor for Transport</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Two trains will be brought into service on Thursday 23 May with more to follow in the coming weeks</li>
	<li>The walk-through, air-conditioned trains with USB points and real-time information screens will deliver a much needed capacity boost</li>
	<li>Customers on the line will be offered a month's free travel in September</li>
</ul>

<p>Transport for London (TfL) has today confirmed that the new four-car Class 710 electric trains will enter passenger service on London Overground's Gospel Oak to Barking line from Thursday 23 May. This is the first step in returning the service on this busy north London line, operated by Arriva Rail London (ARL), to four trains per hour, boosting capacity and delivering greater reliability. The new electric trains, built by Bombardier in Derby, can carry nearly 700 people. This is double the capacity of the old diesel trains that had been operating on the line. The new trains will be much better for air quality and the environment.</p>

<p>Issues with software development on the brand new trains resulted in them being delivered late, but they have now been approved by the rail regulator for passenger service on this line. Two of the new trains will start on the line this week, enhancing the service provided by modified electric trains on the line.</p>

<p>More trains will be put into service over time and it is expected the regular 15 minute / four trains per hour frequency will be restored later in the summer. A month of free travel will be given to customers on the line from September. TfL will be in contact with passengers in the next few weeks to provide more detail on this.</p>

<p>Heidi Alexander, Deputy Mayor for Transport, said:</p>

<p>'When I wrote to Bombardier earlier this year I made our frustrations at the delay clear, so I am pleased that the first two new trains will be in operation from tomorrow, and the full timetable will be restored as soon as possible. The month's free travel, which was requested by the Mayor, is a well-deserved thank you to passengers for their patience.'</p>

<p>Jon Fox, TfL's Director of Rail, said:</p>

<p>'It is good news that these London Overground trains are finally here and will make their inaugural passenger run this week. This is the first step in returning to the regular timetable and delivering the much-needed capacity on the Gospel Oak to Barking line. We know this has been a long time coming and we will be offering a month of free travel for customers. I am pleased we will now make a real difference to their journeys.'</p>

<p>Alicia Andrews, Arriva Rail London, said:</p>

<p>'We are delighted to see the first new London Overground train in service on the Gospel Oak to Barking line. The team at Arriva Rail London have been working hard to reach this important milestone safely.'</p>

<p>Phil Hufton, President, UK, Bombardier Transportation said: '</p>

<p>This is an important milestone for which our teams in the UK, in close cooperation with TfL and Arriva Rail London, have worked very hard to achieve. We are committed to ensuring our British-designed and -built AVENTRA trains are introduced quickly. We appreciate people have waited patiently for these trains.'</p>

<p>Eight of the 54 state-of-the-art trains on order from Bombardier will be put into use on the London Overground Gospel Oak to Barking line. The remaining will be used on the Watford Junction to Euston route and on London Overground services out of Liverpool Street to Cheshunt, Chingford and Enfield Town, from later this year. They will also be used on the extension to Barking Riverside when it is completed in 2021.</p>

<hr />
<p>Notes to editors</p>

<ul>
	<li>Around a third of the drivers on the Gospel Oak to Barking line have now completed driver training.&nbsp; This is sufficient to start operating the new trains and it will continue in parallel until all drivers have completed the course.</li>
	<li>The Mayor secured the one month's free travel for customers after speaking directly to Bombardier.&nbsp; This is being funded by train manufacturer and will be offered to customers on the line in September.</li>
	<li>The new features of the Class 710 trains include the latest intelligent lighting and temperature control for more comfortable journeys, as well as Wi-Fi, USB charging points and digital information screens giving customers higher quality real time travel information while on board.</li>
	<li>Operated by Arriva Rail London (ARL), on behalf of TfL, the new trains will debut a new colour scheme and unique seat moquette. The trains are constructed from strong but lightweight material, making them much more energy efficient to operate, and feature walk-through carriages for greater capacity and improved accessibility with more wheelchair spaces.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-May-New London Overground electric trains enter service  -->

 
 
        
        
            @{ViewBag.Description = "New London Overground electric trains enter service on the Gospel Oak to Barking line";}
        
        


 