


@{ViewBag.Title = "New generation of DLR trains en route";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New generation of DLR trains en route</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New generation of DLR trains en route</h1>
        <div class="content-page-press-release">
        17 November 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Forty-three new walk-through air-conditioned trains to start serving the Capital from 2022
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These new trains will enable us to increase capacity on the network by up to 30 per cent, significantly improving the comfort, reliability and quality of our service for customers
"</div>
        <div class="quote-footer">
            <div class="quotee-name">Jonathan Fox</div>
            <div class="quotee-job-title">Director of Rail and Sponsored Services, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>New trains will feature on-board real time information and have mobile charging points</li>
    <li>Four bidders invited to the next stage of the procurement process</li>
    <li>New trains part of TfL's multi-billion pound programme of major investment to support London's growth</li>
</ul>
<p>Transport for London (TfL) took a significant step today in its search for a manufacturer to design and build a new generation of trains for the Docklands Light Railway (DLR), by issuing an Invitation to Negotiate.</p>
<p>Four pre-qualified bidders &#45; Alstom Transport UK Ltd, Bombardier Transportation,  Construcciones y Auxiliar de Ferrocarriles, S.A. and a consortium, consisting of Siemens PLC, Stadler Bussang AG and Stadler Rail Valencia SAU &#45; can now proceed to the next stage of the formal procurement process for the new trains, which will come into service from 2022.</p>
<p>The new trains are part of TfL's continued multi-billion pound programme of major investment in new and better public transport to support London's growth and the creation of new homes and jobs.</p>
<p>The order will include 43 new walk-through trains to increase capacity on the DLR by up to 30 per cent, which is needed to support the increased popularity of the railway and the continuing redevelopment of the Docklands area. The new trains will replace rolling stock some of which is nearly 25 years old. They will feature on-board real- time information, air-conditioning and mobile device charging points for the first time, providing customers with better and more efficient journeys.</p>
<p>The contract to build the new trains will be awarded in autumn 2018.</p>
<p>Jonathan Fox, TfL's Director of Rail and Sponsored Services, said: </p>
<p>'This important step in the procurement process brings us closer to delivering the new trains needed to support the continued passenger growth on the DLR, which currently carries 122 million customers a year. These new trains will enable us to increase capacity on the network by up to 30 per cent, significantly improving the comfort, reliability and quality of our service for customers. They will also support the creation of further jobs and homes in the Docklands area.'</p>
<p>The DLR will provide several interchanges with Elizabeth line services between central London, Shenfield and Abbey Wood from 2018.  These interchange stations include Canary Wharf, West India Quay, Stratford and Custom House.</p>
<p>The new trains also support the Mayor of London's draft Transport Strategy, which plans to create a fairer, greener, healthier and more prosperous city by improving public transport. London's population growth will place increasing demand on the rail network and the need to create new capacity and unlock access to new homes and jobs is vital to London's success. The higher capacity DLR trains are a key investment in TfL's long term plans to develop infrastructure and assets to meet this demand.</p>
<p>In August the DLR celebrated 30 years of serving east London and to mark the anniversary a '30 things to do by DLR' travel guide and an easier to read line map have been released.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>TfL placed a notice in the Official Journal of the European Union (OJEU) in May 2017 seeking expressions of interest to build the trains for the DLR. From this a shortlist of four bidders has now been issued with the ITN.</li>
    <li>The DLR is entirely step free and currently has 45 stations, 38km of track and 56 trains.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-November-New generation of DLR trains en route -->

 
 
        
        
            @{ViewBag.Description = "New generation of DLR trains en route to support London’s growth";}
        
        


 