


@{ViewBag.Title = "New Tube map launched to help get Londoners walking ";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New Tube map launched to help get Londoners walking </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New Tube map launched to help get Londoners walking </h1>
        <div class="content-page-press-release">
        29 August 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has launched a new version of the iconic Tube map, which shows how many steps it takes to walk between stations in zones 1 and 2.</p>
<p>The new map is the first official version in the world to show the number of steps between stations. It follows TfL's very popular Walking Tube map, which launched last year and shows the walking times between stations. The new steps Tube map shows how to save time on everyday journeys. It will also help the increasing number of Londoners who set themselves a daily target of steps to take as part of daily exercise and getting fit.</p>
<p>Londoners and visitors can easily download the Walking Steps Tube map when they're out and about by visiting &#45; <a href="http://tfl.gov.uk/walking">tfl.gov.uk/walking</a></p>
<p>Sadiq Khan says the map will be a fun and practical way to help busy Londoners who want to make walking a part of their everyday lives.</p>
<p>The Mayor has put a new focus on making it easier and more enjoyable  to walk around London and is in the process of appointing a new Walking and Cycling Commissioner in City Hall.</p>
<p>With TfL's maps now showing the number of steps and walking times, Londoners and visitors can see how easy it can be to walk between popular central London stations. For example, Leicester Square to Covent Garden only takes 400 steps and 4 minutes, and Kings Cross to Euston takes 1,200 steps and 12 minutes.</p>
<p>Short journeys between stations on different lines in zones 1 and 2 are also presented to complement the two maps, which have been launched as part of the commitment by the Mayor of London and TfL to make London one of the most walkable cities in the world.</p>
<p>Through Legible London, the Capital's wayfinding system, walking in London has never been easier &#45; there are over 1,500 Legible London signs across the Capital to help people find their way. A wide range of improvements to London's streets, junctions and public spaces is also underway, improving the experience of walking around the city.</p>
<p>The Mayor of London Sadiq Khan, said: `We need to make it easier and more enjoyable to walk around London. We all hop on the Tube to take short journeys around central London, whether for work or when we're out in the evening.  The new steps map will encourage more of us to walk these short journeys instead &#45; it's good for our health and it will help support London's small businesses. We've made clear our commitment to tackle air pollution and get more walking and cycling in London, and this is a fun and practical way to help busy Londoners who want to walk more as part of their everyday lives.'</p>
<p>Ben Plowden, Director of Surface Strategy and Planning at TfL, said: `People often use the Tube map to navigate the city, but many don't realise just how close some stations are to each other and that they could save time as well as build more physical activity into their daily routine. We hope that the new steps version of the Tube map will inspire people to try new routes and discover that places in central London are closer than they might think.'</p>
<p>Rachel Lee, Policy and Research Coordinator, Living Streets, said: `Long commutes, busy schedules and desk jobs can make healthy choices difficult. However, inactivity is making people unhealthy and unhappy. Many of us need to find ways to fit more activity into our day and skipping a stop on the Tube and choosing to walk instead is a great place to start.</p>
<p>`Walking reduces the risk of heart disease, diabetes, certain cancers, stroke and depression. Just a 20 minute walk every day can provide noticeable health benefits.  I hope the new steps map inspires Londoners to travel and experience more of the city on foot. We'll be rewarded with improvements to our health, economy and the environment around us.'</p>
<p>Ends</p>
<p>Notes to editors</p>
<ul>
    <li>Approximate steps are based on a moderate walking speed of 100 steps per minute</li>
    <li>TfL has also doubled the number of pedestrian crossings with 'countdown' technology from 400 in September last year to 800 this year, making crossing London's roads safer than ever</li>
    <li>TfL has an ambition to increase the proportion of Londoners who report having walked or cycled for 20 minutes on the previous day (in periods of ten minutes or more).  Currently 35% of adults in London achieve this level of activity, which is enough to stay in good health; TfL is aiming to double this to 70% of adults achieving this goal by 2050</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-August-New Tube map launched to help get Londoners walking  -->

 
 


 