


@{ViewBag.Title = "New advertising contract to raise &pound;13m for reinvestment";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New advertising contract to raise £13m for reinvestment</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New advertising contract to raise £13m for reinvestment</h1>
        <div class="content-page-press-release">
        11 October 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">

    <div class="article-teaser">
        TfL advertising contract with Outdoor Plus to generate &pound;13m for reinvestment in transport network
    </div>



<div class="pull-quote">
        <div class="quote-body">"It is another example of our wider commercial approach to generate &pound;3.4bn in non-fare revenue, which will be reinvested in the transport network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Graeme Craig</div>
            <div class="quotee-job-title">Director of Commercial Development, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>TfL awards contract to Outdoor Plus for up to nine roadside locations across London</li>
    <li>Deal will generate at least &pound;13m to reinvest in London's transport network</li>
    <li>New digital screens will provide tailored, dynamic advertising</li>
    <li>Part of wider plan to generate &pound;3.4bn by 2023/24</li>
</ul>
<p>Transport for London (TfL) has appointed Outdoor Plus as its advertising partner to bring digital advertising screens to road underpasses across the Capital. The selection follows a competitive tender and will see the network of roadside screens generate at least &pound;13m to reinvest in modernising the transport network over ten years.</p>
<p>The new contract will see Outdoor Plus introduce these new screens at six road underpass locations along main arterial routes including the A3 Kingston, the A40 in Ealing and the northern ring road at Wembley Way. These six sites will be viewed by an estimated half a million road users a day. Subject to planning permission, a further three sites could be added.</p>
<p>Graeme Craig, TfL Director of Commercial Development, said: </p>
<p>'Expanding our work with Outdoor Plus will provide tailored, dynamic advertising at nine locations across the Capital. It is another example of our wider commercial approach to generate &pound;3.4bn in non-fare revenue, which will be reinvested in the transport network.'</p>
<p>Jonathan Lewis, Managing Director of Outdoor Plus said: </p>
<p>'Outdoor Plus is delighted to have been awarded Transport for London's prestigious London Landscape digital advertising contract. We recognise the importance of London as the most valuable market for advertisers in the UK and globally. This partnership will further enhance London's digital footprint by adding new and unique locations and extend Outdoor Plus' iconic digital reach to over 40 million people per fortnight. The London Landscape will complement our existing iconic portfolio and we are excited to be working with TfL to bring this project to fruition.'</p>
<p>The TfL advertising estate is one of the largest in the world, making up 20 per cent of all out-of-home advertising in the UK and 40 per cent of the London market. Making the best use of this estate is part of TfL's wider commercial approach, ensuring TfL can deliver a modern and affordable public transport network. Through work with advertising partners like Outdoor Plus, TfL is revitalising the estate with new advertising assets, giving the TfL advertising portfolio both reach and relevance in a continually changing market.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>TfL launched a competitive tender for an advertising contract for the TfL underpass estate in May 2015</li>
    <li>Indicative image of what the new digital screens will look like can be found here: <a href="https://www.flickr.com/photos/tflpress/albums/72157673215545121">https://www.flickr.com/photos/tflpress/albums/72157673215545121</a></li>
    <li>The contract can be found here: <a href="https://www.contractsfinder.service.gov.uk/Notice/f7cc4f21-54ca-429a-8fe5-cafa0187088b">https://www.contractsfinder.service.gov.uk/Notice/f7cc4f21-54ca-429a-8fe5-cafa0187088b</a></li>
    <li>The six sites which currently have planning permission are:</li>
</ul>
<div style="text-align: left;">
<ol>
    <li>Malden Way, Kingston</li>
    <li>Argyle Road / Western Avenue, Ealing</li>
    <li>Harrow Road / North Circular Road, Brent</li>
    <li>A2, Greenwich</li>
    <li>A312/Uxbridge Road, Hillingdon</li>
    <li>A12, Leytonstone, Waltham Forest</li>
</ol>
<ul>
    <li>A planning application for Abbey Road / North Circular Road in Brent has been submitted and is awaiting determination. We plan to confirm the final two sites in the coming months</li>
    <li>Currently, Outdoor Plus sells advertising for TfL at the Euston Underpass</li>
</ul>
</div>
<p>About Outdoor Plus:<br />
Outdoor Plus is an independent, British company now well established as a market leader in the premium Out-of-Home [OOH] sector with a 30 per cent share of iconic roadside Digital OOH. Outdoor Plus's state-of-the art digital screens are located in some of the most iconic locations in and around London and deliver an audience of over 25 million people per fortnight. Every site is hand selected, concentrating on areas of media scarcity, to deliver the very best iconic digital out of home advertising in London.</p>
<p>Outdoor Plus's iconic digital portfolio currently comprises 18 screens across 22 landmark London locations, including Euston Underpass, Vauxhall Cross Island, Cheyne Walk, City of London Gateway and the Eye Holborn. The addition of TfL's London Landscape will bring Outdoor Plus's premium iconic digital portfolio to a total of 39 screens across 28 landmark London locations.</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-October-New advertising contract to raise £13m for reinvestment -->

 
 


 