


@{ViewBag.Title = "New Santander Cycles docking station opens at Victoria Park to boost capacity";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New Santander Cycles docking station opens at Victoria Park to boost capacity</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New Santander Cycles docking station opens at Victoria Park to boost capacity</h1>
        <div class="content-page-press-release">
        07 August 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New docking station at the Bonner Gate entrance of Victoria Park
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'm delighted that this new docking station will make it even more convenient to explore one of London's most popular parks and beyond by bike. By enabling even more Londoners to cycle, we will also help clean up our toxic air"</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL and Tower Hamlets Council have unveiled a new Santander Cycles docking station in Victoria Park. The station is at the Bonner Gate entrance and has space for 21 cycles &#45; allowing even more people to enjoy Victoria Park on two wheels.</p>

<p>Victoria Park is one of the most visited parks in London, with around 9 million visits per year.</p>

<p>This is the first time that Santander Cycles will be available at the gates to the park and both TfL and Tower Hamlets are hoping that this new docking station will encourage people to explore the area by bike, in line with their ambition to increase the number of people cycling across London.</p>

<p>The new docking station opened last Thursday (1 August) and was already one of the top performing Santander Cycles locations over the weekend.</p>

<p>From Victoria Park, Santander Cycles customers can easily access the Queen Elizabeth Olympic Park, which has nine docking stations, as well as the surrounding areas of Hackney, Hoxton, Haggerston, Shoreditch and Whitechapel.</p>

<h2>Fun and easy</h2>

<p>Will Norman, London's Walking and Cycling Commissioner, said: 'Santander Cycles are such a fun and easy way to get around London, and have contributed to our record cycling figures.</p>

<p>'I'm delighted that this new docking station will make it even more convenient to explore one of London's most popular parks and beyond by bike. By enabling even more Londoners to cycle, we will also help clean up our toxic air.'</p>

<p>TfL recently consulted on plans for a new Cycleway connecting Hackney to the Isle of Dogs, which includes a section through Victoria Park.</p>

<p>Tower Hamlets is consulting residents on its draft transport strategy with the overall aim of increasing sustainable transport (walking, cycling and public transport) to 90% of all trips by 2041.</p>

<p>Cllr David Edgar, Cabinet member for the environment &#45; Tower Hamlets, said: 'We're delighted to welcome another Santander Cycles docking station to the borough and expand the opportunities for people to enjoy cycling.</p>

<p>'Victoria Park is one our 12 Green Flag award-winning green spaces and it's great that more people will be able to stay active and travel using this popular service, which has more than 100 stations in Tower Hamlets.</p>

<p>We want to encourage more walking and cycling to improve health and air quality, and make our neighbourhoods quieter, cleaner and safer.'</p>

<p>The Santander Cycles scheme continues to grow in popularity and there have been more than 83 million hires since the scheme was launched in 2010.</p>

<p>Last year, a record 10.5m journeys were made using the scheme, which is the biggest in Europe. There are now 119 docking stations in Tower Hamlets alone.</p>

<h2>People getting active</h2>

<p>David Eddington, Head of Cycle Hire at TfL, said: 'We know that many people use our bikes to cycle around parks and that there is demand for more bikes at these locations.</p>

<p>'Victoria Park is a perfect example of this and we're pleased to be able to boost the amount of bikes available to hire and dock around the park.</p>

<p>'We look forward to seeing even more people getting active and exploring this beautiful park on Santander Cycles.'</p>

<p>Cycle to Work Day takes place on Thursday 8 August. To encourage everyone to take part, TfL is offering free hires using code CTWD2019.</p>

<p>This code gives a free 24 hour access period on the day and can be redeemed through the Santander Cycles app.</p>

<p>Last year saw the biggest increase in the amount of cycling in London since records began, with a daily average of 4 million kilometres cycled in 2018, which is 5% higher than in 2017.</p>

<p>Santander Cycles is helping to encourage the capital's cycling revolution by making sure that Londoners have access to bikes at the busiest times and locations, as well as encouraging those who don't own bikes to give cycling a go.</p>

<p>Santander Cycles has been able to meet increased demand by providing additional focus on the most popular stations in and around parks during weekends and providing more cycles at peak commute times.</p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>Find your nearest Santander Cycles docking station here: <a href="https://tfl.gov.uk/modes/cycling/santander-cycles/find-a-docking-station">https://tfl.gov.uk/modes/cycling/santander-cycles/find-a-docking-station</a></li>
	<li>The Tower Hamlets consultation is available here: <a href="http://www.towerhamlets.gov.uk/transport2019">www.towerhamlets.gov.uk/transport2019</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/49467">September</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-August-New Santander Cycles docking station opens at Victoria Park to boost capacity -->

 
 
        
        
            @{ViewBag.Description = "New Santander Cycles docking station opens at Victoria Park to boost capacity";}
        
        


 