


@{ViewBag.Title = "New freight initiative to reduce harmful emissions";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New freight initiative to reduce harmful emissions</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New freight initiative to reduce harmful emissions</h1>
        <div class="content-page-press-release">
        26 May 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">

    <div class="article-teaser">
        Research published at first annual conference identifies some key barriers of the use of low emission vehicles
    </div>



<div class="pull-quote">
        <div class="quote-body">"I am confident that LoCITY can substantially improve London's air quality and most importantly, help save lives.&quot;"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown MVO</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>LoCITY is a freight industry-led programme which will help reduce logistics' emissions and save lives</li>
</ul>
<p>The LoCITY programme has taken its first steps to improve air quality in the Capital by publishing data to help increase the availability and uptake of low emission vans and lorries. Representatives from across the industry came together yesterday for the first annual conference, as research from the programme's initial four months was published.</p>
<p>LoCITY is an industry-led programme helping the freight and fleet industry reduce its impact on air quality by increasing the use of Ultra Low Emission Vehicles (ULEVs). Transport for London (TfL) is part funding and monitoring LoCITY to ensure it is a success. More than 600 organisations from across the commercial vehicle industry, government and academia are already working together on the programme to make the widespread use of low emission commercial vehicles a reality.</p>
<p>Research published today demonstrates that to reduce freight's impact on London's air quality the use of low emission commercial vehicles must be increased. It has also revealed some of the key barriers that are holding back the use of low emission vehicles. One area highlighted is a lack of information about the capabilities, benefits and requirements of ULEVs. </p>
<p>Without this information operators can find it hard to justify the purchase of low emission vehicles. A lack of impartial information on alternative fuels and infrastructure has been identified as a further problem. LoCITY aims to become the trusted source of advice and guidance for fleet operators to make informed purchasing decisions on low emission vehicles.</p>
<p>Mike Brown MVO, London's Transport Commissioner, said: </p>
<p>'The industry has an important role to play in saving lives by improving our air quality, and over the next five years LoCITY will play an important role in helping increase the take up of low emission commercial vehicles.</p>
<p>'The freight sector is by its nature dynamic, so it's key that anything we do in London is aligned to initiatives across the UK &#45; LoCITY takes this approach. The scheme will allow operators of commercial vehicles to make informed decisions with a useable, independent and jargon-free source of information on alternative fuels and vehicles. Every year thousands of Londoners die because of poor air quality and by supporting the freight sector &#45; which is vital to our city &#45; we will make a real impact. I am confident that LoCITY can substantially improve London's air quality and most importantly, help save lives.'</p>
<p>LoCITY will create new environmental operating standards and contractual clauses which will help anyone buying goods or services to specify the use of low emission vehicles.</p>
<p>It will also investigate, through research and trials, the impact of cleaner vehicles on business operations, to bust myths and give confidence to operators who may be considering adding low emission vehicles to their fleets.</p>
<p>LoCITY will help TfL deliver cleaner air for Londoners - by increasing the supply and uptake of vehicles beyond the ULEZ requirements and greatly reducing the air quality impact of the freight industry.  LoCITY will also work to ensure that all operators comply with ULEZ requirements as soon as possible to have an immediate impact on air quality. </p>
<p>In addition to reducing the emissions of freight vehicles, TfL has been helping to improve the overall efficiency of freight operations. TfL has offered guidance to offices, business districts and developers to reduce the overall impact of freight vehicles, including retiming deliveries and consolidation options.</p>
<p>For more information about the LoCITY programme, go to <a href="http://LoCITY.org.uk">LoCITY.org.uk</a>.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>Images of the conference are available at the request of the TfL Press Office</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-May-New freight initiative to reduce harmful emissions -->

 
 


 