


@{ViewBag.Title = "New technology trials to transform bus safety in London ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New technology trials to transform bus safety in London </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New technology trials to transform bus safety in London </h1>
        <div class="content-page-press-release">
        16 August 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London has announced plans to test new safety technology on London buses. Automatic braking and audible warning systems will be trialled alongside measures including new mirrors to improve the driver's vision.</p>
<p>Earlier this year the Mayor of London, Sadiq Khan, set out a 'Vision Zero' approach to road danger in his draft transport strategy. It aims for no one to be killed in or by a London bus by 2030, and for deaths and serious injuries from road collisions to be eliminated from London's streets by 2041.</p>
<p>All of the new technology will receive a completely independent trial at the Transport Research Laboratory. Their leading engineers and technical specialists have been appointed to work with TfL, bus manufacturers and operators to trial a range of innovative safety measures including:</p>
<ul>
    <li>Autonomous Emergency Braking Systems that allow the vehicle to detect its surroundings and automatically apply the brakes</li>
    <li>Features to alert pedestrians and other road users of the presence of buses, such as lights or audible warnings</li>
    <li>A re-design of the front of buses, which could reduce the impact of a collision</li>
    <li>Changes to bus interiors to improve passenger safety, such as higher-grip flooring and softening sharp corners</li>
    <li>Improvements to vision for drivers, including improved mirror design</li>
</ul>
<p>The results of the trials will feed into a new Bus Safety Standard that will be incorporated into bus operator contracts from the end of 2018. Transport for London has also published a report on Intelligent Speed Assistance today (16 August) following a successful trial in 2016. Bus operators are required to fit the technology, which limits the speed at which buses are able to travel, from later this year.</p>
<p>London's Deputy Mayor for Transport, Val Shawcross, said: `Nothing is more important to the Mayor than the safety of Londoners.  We are doing our utmost to make the streets of the capital safer and these measures can potentially make big improvements to bus safety.'</p>
<p>Sarah Hope, victim of a collision in 2007 in which her mother died and she and her daughter were seriously injured, said: `I am delighted about the announcement from TfL regarding the new safety technology which is part of the Bus Safety Programme.  It is vital that TfL remain committed to reducing the number of collisions and incidents caused by buses in London that result in serious injury and death.  I hope the new safety technology will help TfL achieve this.'</p>
<p>Cynthia Barlow, Chair of RoadPeace, said: `RoadPeace welcomes the news that an independent contractor has been engaged to lead on the bus safety trials. Safer buses, including redesign and additional safety features, are key to delivering the Mayor's stated aim of eliminating death and serious injury involving a bus in London by 2030.  TfL's bus safety programme is a good example of tackling danger at source.'</p>
<p>Tim Bellenger, London TravelWatch's Director of Policy and Investigation, said: `We welcome the appointment of a lead contractor to trial new safety initiatives for buses in London. Anything that improves safety for passengers and other road users is a welcome step forward and we look forward to hearing the results once this work has been carried out.'</p>
<p>TfL's Managing Director of Surface Transport, Leon Daniels, said: &quot;We are determined to drive down the unacceptable number of people injured or killed on London's roads and make streets safe for pedestrians and cyclists. Not a day is being wasted in working towards Vision Zero, and this trial is part of our comprehensive programme to make road deaths caused by London buses a thing of the past.&quot;</p>
<p>- Ends -</p>
<p>Notes to Editors:</p>
<p ><br />
The Bus Safety Programme will contribute towards new bus specific road safety targets proposed in the draft Mayor's Transport Strategy
</p>
<ul>
    <li>An operational target to achieve zero people killed in or by a London bus by 2030</li>
    <li>An operational target of a 70 per cent reduction in the number of people killed or seriously injured in or by a bus, by 2021/22 from the 2005-09 baseline (using STATS19 data)</li>
</ul>
<p>Full details of TfL's Bus Safety Programme can be found at <a href="http://tfl.gov.uk/corporate/safety-and-security/road-safety/bus-safety">tfl.gov.uk/corporate/safety-and-security/road-safety/bus-safety</a></p>
<p>In the run up to 2016, TfL commissioned a trial of ISA technology on two bus routes. All buses fitted with ISA remained within the speed limit 97-99 per cent of the time, proving its effectiveness. The extremely rare incidents of excess speeds were seen on downhill sections of road. The full trial report is available online at <a href="http://tfl.gov.uk/intelligent-speed-assistance-on-london-buses.pdf">tfl.gov.uk/intelligent-speed-assistance-on-london-buses.pdf</a>
</p>
<p>TfL began publishing bus safety statistics on its website in June 2014, as part of a commitment to further improving transparency for customers and stakeholders. Bus safety statistics are published quarterly at: <a href="http://tfl.gov.uk/corporate/publications-and-reports/bus-safety-data">tfl.gov.uk/corporate/publications-and-reports/bus-safety-data</a></p>
<p>Anyone affected by serious incidents on the TfL network can contact the Sarah Hope Line. The service is run by dedicated TfL staff to provide practical, financial and emotional help and can also make referrals for counselling and specialised support. The contact details for the Sarah Hope Line are 0343 222 5678 or <a href="mailto:incidentsupport&#64;tfl.gov.uk">incidentsupport&#64;tfl.gov.uk</a>
</p>
<p>Sarah Hope is the joint founder of Elizabeth's Legacy of Hope, a charity that aims to bring hope and opportunity to child amputees around the world.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-August-New technology trials to transform bus safety in London  -->

 
 
        
        
            @{ViewBag.Description = "New technology trials to transform bus safety in London ";}
        
        


 