


@{ViewBag.Title = "New life for Paolozzi mosaics as London Underground completes restoration work ";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New life for Paolozzi mosaics as London Underground completes restoration work </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New life for Paolozzi mosaics as London Underground completes restoration work </h1>
        <div class="content-page-press-release">
        01 February 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">



 <div class="on-this-page">
<p>London Underground (LU) today announced that work to restore the iconic mosaics at Tottenham Court Road station has been completed.</p>
<p>Around 95 percent of the mosaics have been retained at the station while it underwent a huge expansion to prepare for the introduction of the Elizabeth line and meet the needs of London's rapidly growing population. Restoration and repair work has now taken place on the Northern and Central line platforms, and in the rotunda space. Wherever possible the original tiles have been reused, and where new tiles have been required they have been closely colour-matched using the same process as the originals.</p>
<p>One of the final and most complex aspects of the project was the relocation of the striking mosaic panel from the former Oxford Street entrance. Following intensive planning and consultation with conservation experts, the artwork was carefully removed from the wall in one piece and lowered down a lift shaft to begin its new life at platform level.</p>
<p>Sections of the arches that could not be relocated within the station were transported to the world-renowned Edinburgh College of Art, based in the city where Eduardo Paolozzi studied in 1943 and later became a visiting professor. They are currently being used in teaching a new undergraduate programme, 'Edinburgh Collections', and in February the University will hold a forum of students and conservation specialists to decide how best to reconstruct the mosaics into a new piece of public art.</p>
<p>Eduardo Paolozzi was a leading figure in the Pop Art movement, and his mosaics at Tottenham Court Road, completed in 1986, are widely considered to be one of the most spectacular examples of post-war public art. The vibrant designs, that cover 950 square metres in total, contain references to London's entertainment culture, rushing commuters, and urban economy, reflecting their location in a major station in one of the busiest cities in the world.</p>
<p>Paolozzi's public art can be seen at a number of locations around the city, including next to Pimlico station and the piazza of the British Library. Art on the Underground has partnered with the Whitechapel Gallery to create a map of the artist's work around the Capital, and a major retrospective of the artist will run at the Whitechapel Gallery in February.</p>
<p>Mark Wild, Managing Director of London Underground, said: `The modernisation of Tottenham Court Road was essential to ensure that the station will be able to support London's growing population, but as we prepare for the future we are taking care not to forget our history. Paolozzi's work is an important part of the station's heritage, and we have worked hard to retain and restore the mosaics at Tottenham Court Road so they can continue to be enjoyed by customers.'</p>
<p>Eleanor Pinfield, Head of Art on the Underground, said: `The restoration process has been a painstaking one, but today we can see the expansive beauty of the work once again. The rotunda has been enhanced with new lighting, and throughout the station the repair and cleaning of the mosaics allows the full breadth, scale and ambition of the work to be enjoyed by a new generation of Underground customers.</p>
<p>`The former Oxford Street panel is a key part of Paolozzi's vision for the station, drawing together many of the themes seen in the wider station artwork, and I am delighted to see it back on public view.`</p>
<p>Around 150,000 people currently use Tottenham Court Road station every day, and this is expected to rise to 200,000 when Elizabeth line services begin in 2018. In order to support this demand, LU has recently completed its transformation of the station, with customers benefitting from new entrances, more spacious ticket halls, and eight new escalators. The Tube station will also be part of the same complex as the new Elizabeth line station.</p>
<p>Public art will be prominent in these newly combined stations. As the modernisation works near completion, Paolozzi's pieces are being joined by work by Daniel Buren, one of the most significant contributors to the conceptual art movement. Large scale works of art will also be integrated into the Elizabeth line station by the Crossrail Art Foundation.</p>
<p>Toby Treves, Trustee of the Paolozzi Foundation, said: `The Paolozzi Foundation is delighted that TfL has successfully completed the restoration of the Tottenham Court Road mosaics. Eduardo Paolozzi made them to intrigue, amuse, and give pleasure to the millions of passengers who pass through the station &#45; long may they do so.`</p>
<p>Roger Bowdler, Director of Listing at Historic England, said: `Tottenham Court Road station has been transformed of late, and it's great to have the Paolozzi mosaics back in view. Historic England is committed to working closely with Transport for London &#45; the heritage of the Underground adds to everyone's quality of life, and TfL has worked hard to return these one-off mosaics to public enjoyment.`</p>
<p>Daniel F. Herrmann, Eisler Curator and Head of Curatorial Studies at the Whitechapel Gallery, said: `Eduardo Paolozzi's Tottenham Court Road Station mosaics are among the most visited and beloved public works of art in London. With their images of popular culture from Jazz to Science Fiction, they celebrate everyday life and art for all. Paolozzi was one of the most important artists from Britain &#45; and we are delighted to invite visitors to see his masterpieces at his retrospective exhibition at the Whitechapel Gallery this spring.`</p>
<p>Notes to editors:</p>
<ul>
    <li>A 22-minute video following the full restoration of the Paolozzi mosaics can be found here: <a href="https://youtu.be/QO01t40h8ns">https://youtu.be/QO01t40h8ns</a></li>
    <li>For images of the Paolozzi restoration at Tottenham Court Road visit <a href="https://www.flickr.com/gp/tflpress/2kX94T">https://www.flickr.com/gp/tflpress/2kX94T</a></li>
    <li>Art on the Underground commissions high-calibre contemporary artworks for London Underground. Launched in 2000, Art on the Underground works with leading artists to promote the Tube as a cultural and social environment, and enrich customers' journeys today and into the future</li>
    <li>The Paolozzi art map will be available at Zone 1 stations from 17 February 2017</li>
    <li>The Whitechapel Gallery is hosting an Eduardo Paolozzi exhibition from 16 February to 14 May 2017.</li>
    <li>The Elizabeth line will open in stages between December 2018 and December 2019. It will link the West End to Canary Wharf in 12 minutes, Stratford in 13 minutes and Heathrow in less than 30 minutes</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-February-New life for Paolozzi mosaics as London Underground completes restoration work  -->

 
 


 