


@{ViewBag.Title = "New figures show popularity of the Mayor's Bus Hopper fare since launch";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New figures show popularity of the Mayor’s Bus Hopper fare since launch</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New figures show popularity of the Mayor’s Bus Hopper fare since launch</h1>
        <div class="content-page-press-release">
        12 September 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        368 million Hopper journeys have been made since its launch &#45; with more than 450,000 'Hops' now being made each day
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London's buses remain the most relied upon form of transport in the capital. With people in other parts of the country being unfairly burdened with hikes in bus fares while their services deteriorate, the Government must do far more to ensure that taking the bus and public transport more generally remains the most affordable and convenient option for everyone, no matter where people live in the country"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>Three years since it launched in September 2016, new figures from TfL show that more than 368 million journeys have now been made using the Mayor's Hopper fare.</p>

<p>The Hopper fare allows passengers to make unlimited journeys on London's bus and tram network for &pound;1.50 within one hour of touching in.</p>

<p>Along with the freeze on fares set by TfL, The Hopper continues to make bus travel across the capital more affordable and accessible to everyone.</p>

<p>Fares for a single bus or tram journey have also been frozen at &pound;1.50 since Sadiq became Mayor, and the Hopper is one of a range of measures that the Mayor has introduced to encourage people across London to switch from their cars to public transport.</p>

<p>Latest figures show that more than 450,000 bus and tram journeys are made every day using the Hopper fare. In terms of popularity, Route 18 is the most popular bus route to 'hop' onto, with around 4,600 'hops' made every day. (Sudbury &amp; Harrow Road station to Euston station via Kensal Green and Baker Street).</p>

<p>TfL analysis of Hopper journeys shows that Southwark is the most popular borough to begin a 'Hopper' journey. There are around a million and a half journeys taking place there over an average eight-week period.</p>

<h2>Accessible to everyone</h2>

<p>Across the whole of London, eight boroughs saw more than a million 'hops' made during the same eight-week period.</p>

<p>London's devolved integrated bus service puts customers at the heart in terms of price, quality of service and convenience. Whichever bus operator people use, they pay the same fare and use the same ticket.</p>

<p>Both TfL and the Mayor support wider calls by metro Mayors for regional bus services to be devolved, giving more local control over route planning, fares policies and improving the quality and value of services for customers.</p>

<p>Mayor of London, Sadiq Khan, said: 'I promised to introduce the Hopper fare in my manifesto, so I am delighted that it continues to be such a huge success, with nearly half a million journeys now benefitting every single day.</p>

<p>'On top of the TfL fares freeze, since I became Mayor the Hopper is making a real difference making travel more affordable all across the capital.</p>

<p>'London's buses remain the most relied upon form of transport in the capital.</p>

<p>'With people in other parts of the country being unfairly burdened with hikes in bus fares while their services deteriorate, the Government must do far more to ensure that taking the bus and public transport more generally remains the most affordable and convenient option for everyone, no matter where people live in the country.'</p>

<p>Claire Mann, Director of Bus Operations at TfL, said: 'The Hopper fare is helping to open up bus and tram travel across London for millions of people.</p>

<p>'We're delighted the difference this fare has already made to so many who live, work and visit London, and remain committed to ensuring public transport in London remains accessible and convenient for all.'</p>

<p>Cllr Peter John, Leader of Southwark Council, said: 'The Hopper has made a real difference to Londoners, especially those on lower incomes, and I'm really pleased to see Southwark residents are making good use of it.</p>

<p>'But with growing pressure on the public transport network, we need alternatives to buses too. That's why we're calling on the government to support the Bakerloo Line extension, which will make travelling around Southwark, and London, even easier.'</p>

<h2>Path to zero emissions</h2>

<p>Darren Shirley, Chief Executive of Campaign for Better Transport, said:&nbsp;'We know that cost is one of the barriers to more people using public transport, so initiatives like the Hooper fare make it more affordable and convenient to use the bus.</p>

<p>'London's buses are a success story that people in other cities and towns across the country deserve in their communities too.</p>

<p>'The Government should develop a National Bus Strategy with the right policy initiatives and funding to assist local authorities, devolved bodies and bus operators in other parts of England to improve bus services, reduce costs to passengers and set a path to zero emissions for public transport.'</p>

<p>TfL and the Mayor are currently introducing seven new bus routes for residents across outer-London - the biggest investment in over a decade.</p>

<p>The 335 will better connect new homes in Kidbrooke to the key transport hub in North Greenwich. This builds on the recent introduction of the route 301, which launched in June, improving journeys between Bexleyheath and Abbey Wood.</p>

<p>TfL also intends to introduce these five new routes in&nbsp;outer London before the end of the year:</p>

<ul>
	<li>the 218 from Hammersmith to North Acton</li>
	<li>the 278 from Ruislip to Heathrow</li>
	<li>the 306 from Acton&nbsp;to Sands End</li>
	<li>the 497 from Harold Wood&nbsp;to Harold Hill</li>
	<li>the X140 from Harrow&nbsp;to Heathrow.</li>
</ul>

<p>These seven new routes will make sustainable travel easier for outer London residents, helping to achieve the Mayor's ambition of 80% of trips made by bicycle, on foot or by public transport by 2041.</p>

<p>The Mayor and TfL are also working to making the capital's bus fleet much greener. Out of the current fleet of 9,000 buses across London more than 80% are now Euro VI &#45; meaning harmful NOx emissions are dramatically reduced.</p>

<p>In addition, around 4,000 are already hybrid or zero-emission and just last week TfL introduced more double-deck electric buses onto the network - further boosting Europe's largest electric bus fleet.</p>

<p>All new double-deck buses must be zero-emission or hybrid, and TfL is on track to make every single-deck bus in central London zero-emission by 2020. By 2037 all buses in London will be zero-emission.</p>

<p>The Hopper is automatically applied to the journeys of anyone who uses the same card or mobile device to pay as you go with a contactless payment or Oyster card, meaning real savings for millions of people who live or work in or visit the Capital.</p>

<p>Pay as you go Weekly Capping for buses was also introduced on Oyster in December 2018. This major upgrade meant that anyone who uses Oyster will have their travel from Monday to Sunday capped, so they never pay more than the cost of the equivalent 7-Day Bus and Tram Pass.</p>

<p>On average, around 17,000 customers across London benefit specifically from the weekly cap on buses.</p>

<p>For more information about the Hopper fare, visit <a href="http://www.tfl.gov.uk/hopper">tfl.gov.uk/hopper</a></p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>A table of the figures associated with the graph of Hopper journeys by borough is available from the TfL Press Office</li>
	<li>The Hopper fare also applies to customers who pay discounted pay as you go fares (Bus &amp; Tram Discount, Jobcentre Plus Travel Discount, Young Visitor discount and some Zip Oyster photocards)</li>
	<li>Customers can download the TfL Oyster and contactless app here:</li>
</ul>

<p>For Apple products -&nbsp;<a href="https://itunes.apple.com/gb/app/tfl-oyster/id1179420088">https://itunes.apple.com/gb/app/tfl-oyster/id1179420088</a></p>

<p>For Android products -&nbsp;<a href="https://play.google.com/store/apps/details?id=uk.gov.tfl.oystercontactless">https://play.google.com/store/apps/details?id=uk.gov.tfl.oystercontactless</a></p>

<ul>
	<li>Contactless payment cards have been accepted for pay as you go on London buses since December 2012, and on Tube, tram, DLR, London Overground, TfL Rail, Thames Clippers River Buses and most National Rail services since 16 September 2014</li>
	<li>In partnership with Time Out, TfL has also expanded its range of cultural maps, which suggest everything from museums to parks and farms that you can visit all within a short walk or bus ride from Tube or London Overground stations: <a href="https://www.timeout.com/culturaltflmap">https://www.timeout.com/culturaltflmap</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/49471">October</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-September-New figures show popularity of the Mayor’s Bus Hopper fare since launch -->

 
 
        
        
            @{ViewBag.Description = "New figures show popularity of the Mayor’s Bus Hopper fare three years since launch";}
        
        


 