


@{ViewBag.Title = "New figures show huge success of 'Please Offer Me a Seat' badge    ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New figures show huge success of ‘Please Offer Me a Seat’ badge    </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New figures show huge success of ‘Please Offer Me a Seat’ badge    </h1>
        <div class="content-page-press-release">
        20 December 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Over 26,000 blue 'Please Offer Me a Seat' badges and complimentary cards have been issued to disabled passengers and those with invisible conditions, a year since the new scheme was announced.</p>
<p>Plans for the new badge, specially designed to make travelling easier for people who find it difficult to stand, were announced by Transport for London (TfL) a year ago, and the badge launched in April this year. It helps customers who otherwise struggle to get a seat on public transport as their need is not immediately obvious.</p>
<p>Working in a similar way as the famous 'Baby on Board' badge, the 'Please Offer Me a Seat' badge means that vulnerable passengers are able to travel in comfort without being put in the position of having to explain why they need to sit down.</p>
<p>A survey of badge users carried out last month found more than 78 per cent of users found it easier to get a seat as a result of the badge and 95 per cent of users are likely to recommend the scheme to someone who needs it. The free badge and card is available through the TfL website - <a href="http://www.tfl.gov.uk/accessibility">www.tfl.gov.uk/accessibility</a>.</p>
<p>The importance of TfL's scheme has been recognised widely, with similar badges being introduced elsewhere in the UK and internationally in the past few months.</p>
<p>Val Shawcross, Deputy Mayor for Transport, said: `I'm delighted the scheme has been such a huge success so far. The 'Please Offer Me a Seat' badges are helping thousands of people get around our city more easily and comfortably, and helping raise awareness of the responsibility we all have to look out for people with hidden disabilities and conditions. In building a world-class transport system in London, it must be accessible for everyone, and on top of our record investment in step-free access, we continue to work to ensure 'Please Offer Me a Seat' makes life better for everyone who needs it.`</p>
<p>Mark Evers, Chief Customer Officer London Underground said: `The 'Please Offer Me a Seat' badges have made a real difference to passengers who need a seat but may not have felt confident enough to ask for one. The take-up has been great, with over 26,000 badges issued so far, and the feedback has been very positive.</p>
<p>`At this point, it is important we continue to raise awareness and understanding of the scheme among all our customers, so that more and more of us look out for the blue badges and offer our seats to fellow passengers with a greater need.`</p>
<p>James McNaught, who had previously developed a 'cancer on board' badge and later took part in the TfL trial, said: &quot;Many Londoners have got the message about hidden disabilities, and since the badge was launched I have regularly been offered a seat on my daily commute. This makes such a difference, especially in the evenings, as my energy levels can fall very low later on in the day. Having the badge means that I can concentrate fully on my job, rather than worrying about my journey home.`</p>
<p>Alan Benson, Chair Transport for All, said: `The 'Please Offer Me a Seat' badge has made a massive difference to the daily lives of many people who simply cannot stand on their journeys. This simple idea has effectively broken down the barriers and not only enabled people to ask for a seat but has prompted the generosity of other travellers to offer up theirs.</p>
<p>`Support from the travelling public is essential to its ongoing success and at Transport for All we're delighted that TfL continue to promote the badge. We hope this will continue to raise awareness of the importance of a seat for some people, with those need who them increasingly getting the access they need.`</p>
<p>ENDS</p>
<ul>
    <li>Notes to Editors<br />
    • 84 per cent of users have an invisible condition<br />
    • 78 per cent of users find it easier to get a seat with the badge or card<br />
    • 75 per cent of users are offered a seat with the badge or card<br />
    • 95 per cent of users are likely to recommend the scheme to a friend<br />
    </li>
    <li>For more information on TfL's accessibility services visit <a href="http://www.tfl.gov.uk/accessibility">www.tfl.gov.uk/accessibility</a><br />
    TfL does not ask customers requesting the badge or card for their medical history or supporting evidence from a doctor.</li>
    <li>The badge and card can be used on all TfL services &#45; London Underground, London Overground, TfL Rail, London Buses Docklands Light Railway, Tramlink and River Services &#45; as well as on station platforms or waiting areas.</li>
    <li>Research found that in order to reduce stress levels and increase the chance of obtaining a seat, people who are in need of a seat often use a number of personal strategies, such as travelling at off-peak times and taking a longer route to avoid stressful situations.</li>
    <li>Since its launch, a 'Please Offer Me a Seat' badge has been introduced on the New York subway and by Greater Anglia Trains.</li>
    <li>Since 2012, TfL's Travel Support card has helped disabled and older customers communicate with staff by allowing them to write down what help they need, as well as things like their emergency contact number.</li>
    <li>TfL's Baby on Board badge launched in 2005 to help pregnant women get a seat on public transport and TfL now issue around 130,000 Baby on Board badges a year.</li>
    <li>The Mayor of London Sadiq Khan has already announced that he will instigate the biggest boost to step-free access on the Underground in the network's 153 year history, by investing an additional &pound;200m over five years. As part of its draft Business Plan, Transport for London (TfL) has committed to making over 30 additional Tube stations step-free by 2021/22. The move will bring the total number of stations with step-free access to all platforms to more than 100, representing over 40 per cent of the Underground network and significantly increasing the proportion from the current level of 27 per cent.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-December-New figures show huge success of ‘Please Offer Me a Seat’ badge     -->

 
 
        
        
            @{ViewBag.Description = "New figures show huge success of ‘Please Offer Me a Seat’ badge    ";}
        
        


 