


@{ViewBag.Title = "New map to help people with claustrophobia and anxiety";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New map to help people with claustrophobia and anxiety</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New map to help people with claustrophobia and anxiety</h1>
        <div class="content-page-press-release">
        05 July 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        People with claustrophobia or other anxiety conditions could find their journeys less stressful as TfL today launched a new map that shows which stations and sections of the TfL network are underground.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This new map is just one of the tools we have created in response to feedback from our customers on how we can make the transport network more accessible, making travelling easier and more comfortable for all our customers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mark Evers</div>
            <div class="quotee-job-title">Director of Customer Strategy for TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p>The new addition to TfL's broad selection of downloadable Tube maps will help a range of customers navigate the network more comfortably by showing them routes they can take to avoid areas with large stretches of tunnels.</p>
<p>There are 270 stations on the Tube network, but more than half are actually above ground, with the Victoria and Waterloo and City lines being the only lines that are wholly underground. In the new design, parts of the lines on Harry Beck's iconic map have been given a grey overlay to illustrate which stations or sections of track are underground. The new map also shows which London Overground, DLR and TfL Rail services are in tunnels.</p>
<p>The tunnels map has been created following suggestions from customers living with claustrophobia or anxiety conditions who find it difficult using the Tube, and has been welcomed by charities. It is one of the many ways that TfL is working to improve the travel experiences of customers using public transport in London. Earlier this year, TfL launched the new 'Please Offer Me a Seat' badge to help disabled customers and those with hidden conditions, illnesses and injuries, find a seat on public transport more easily.</p>
<p>Nicky Lidbetter, Chief Executive from Anxiety UK, said: &quot;For those with anxiety conditions such as panic attacks and claustrophobia, we know that travel by the underground can be problematic and challenging.  This new map is an excellent resource for those wishing to avoid journeys where there are tunnels; serving as a great pre-journey planning aid and increasing access to public transport.  I sincerely hope that the map will encourage those with claustrophobia and/or panic attacks who have previously avoided this form of public transport out of fear, to re-consider their use of the Tube&quot;.</p>
<p>Mark Evers, Director of Customer Strategy for TfL, said: &quot;Making the Tube network accessible for everyone is one of our top priorities. This new map is just one of the tools we have created in response to feedback from our customers on how we can make the transport network more accessible, making travelling easier and more comfortable for all our customers.&quot;</p>
<p>The map can be downloaded here - <a href="http://www.tfl.gov.uk/tubetunnelmap">https://tfl.gov.uk/tubetunnelmap</a></p>
<p>Visit <a href="http://www.tfl.gov.uk/accessibility">www.tfl.gov.uk/accessibility</a> and follow <a href="http://www.twitter.com/tflaccess">&#64;TfLAccess</a> on Twitter for information about TfL's accessibility initiatives.</p>
<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>
<p >Notes to Editors</p>
<ul>
    <li>TfL provides a number of maps to help people get around London.  These can all be downloaded online &#45; <a href="http://www.tfl.gov.uk/forms/12387.aspx">https://tfl.gov.uk/forms/12387.aspx</a></li>
</ul>
<p >Tube facts</p>
<ul>
    <li>45% of the underground is in tunnels</li>
    <li>The deepest station is Hampstead on the Northern Line. It is 58.5 metres at its deepest point. The westbound Jubilee platform Waterloo is 26 metres below sea level.</li>
    <li>The Central Line has the most Tube stations with no surface buildings (Bank, Bethnal Green, Chancery Lane, Gants Hill and Notting Hill Gate)</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-July-New map to help people with claustrophobia and anxiety -->

 
 
        
        
            @{ViewBag.Description = "New map to help people with claustrophobia and anxiety";}
        
        


 