


@{ViewBag.Title = "Next six Underground stations to go step-free";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Next six Underground stations to go step-free</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Next six Underground stations to go step-free</h1>
        <div class="content-page-press-release">
        29 June 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Step-free access confirmed for Amersham, Buckhurst Hill, Cockfosters, Mill Hill East, Osterley and South Woodford stations
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Improving accessibility across London to enable all Londoners and visitors to the city to travel spontaneously and independently is one of our top priorities"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mark Wild</div>
            <div class="quotee-job-title">Managing Director of London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>They join two other outer London stations - Newbury Park and Harrow-on-the-Hill - confirmed last year</li>
    <li>Part of Mayor's &pound;200m investment in improving step-free access on the London Underground over the next five years</li>
</ul>
<p>TfL today announced the next six London Underground stations to be made step-free as part of the Mayor of London, Sadiq Khan's, &pound;200m boost to make Tube travel more accessible over the next five years.</p>
<p>The next stations to benefit from step-free access will be Amersham, Buckhurst Hill, Cockfosters, Mill Hill East, Osterley and South Woodford. Together they see 15.5 million journeys each year.</p>
<p>Work will begin at Buckhurst Hill on the Central line this year, with work on the other stations starting next year. Step-free access is scheduled to be completed at all of these stations by 2020.</p>
<p>The Mayor's &pound;200m investment, the biggest in the Tube's 153-year old history, will bring the total number of Underground stations with step-free access to all platforms to more than 100. This represents more than 40% of the network and will significantly increase the proportion from the current level of 26%.</p>
<p>It will substantially improve the accessibility of the Tube, making life easier for older and disabled people. It will also give a greater choice of travel options for everyone, and directly benefit parents and carers with children and buggies.</p>
<p>As part of the Tube accessibility programme, TfL is taking a market-led approach whereby suppliers will be asked to devise step-free solutions that can be replicated across many different stations. This will deliver better value for money, encourage greater use of new technologies, and increase competition between companies bidding for the work, while ensuring TfL delivers the best possible solutions.</p>
<p>TfL has already brought forward the much-needed delivery of step-free access at outer London stations at Harrow-on-the-Hill and Newbury Park, with work beginning at both stations this summer. This is in addition to major stations such as Bond Street, Tottenham Court Road and Victoria becoming step-free this year.</p>
<p>Step-free access has also been introduced at major Tube stations such as Tower Hill and Vauxhall, and work to make Bromley-by-Bow step-free is well underway. Work is also progressing at vital interchanges including Bank and Finsbury Park.</p>
<p>The full opening of the Elizabeth line in 2019 will also be a huge moment for the accessibility of London's transport network, with every station being step-free. The line will provide a key new east-west link across the Capital, serving step-free stations at the heart of London, with all platforms and trains accessible and step-free.</p>
<p>The Mayor of London, Sadiq Khan, said: &quot;I'm delighted that I can today announce that we will be bringing step-free access to these stations. It's absolutely vital that we make our transport network accessible to all, and by investing more in step-free access than ever before, we're doing what we can to help people right across the Capital.&quot;</p>
<p>Mark Wild, London Underground's Managing Director, said: &quot;Improving accessibility across London to enable all Londoners and visitors to the city to travel spontaneously and independently is one of our top priorities. We have made good progress but we're determined to accelerate the pace so that this vision becomes a reality for the millions of people who use our network every day. We are investing more than ever before and I'm delighted that we're now in a position to confirm the next tranche of stations to benefit from this unprecedented investment.&quot;</p>
<p>Gordon Deuchars, Policy and Campaigns Manager, Age UK London, said: &quot;An accessible Tube network is vital for older people. It means they can see friends and family, have a more active social life, and make the most of everything London has to offer. Age UK London are delighted that customers who struggle to currently access Amersham, Buckhurst Hill, Cockfosters, Mill Hill East, Osterley and South Woodford stations are going to benefit from major improvements to these stations, and we look forward to TfL's continued efforts in making the whole network step-free and accessible.&quot;</p>
<p>Sal Lalji, Director of Communications at Muscular Dystrophy UK, said: &quot;We're delighted that TfL has announced that six more Tube stations are set to have step-free access. Journeys on the London Underground can often take longer for disabled people who have to navigate an accessible route across London. These new step-free stations will have a positive impact in making our capital city fully accessible. Young disabled people want to be able to travel easily and spontaneously across London just like everyone else, and we welcome TfL's continued commitment to making this happen. This is another step forward to full equality but there's still more to be done. Journeys are still taking five times longer for disabled people to travel the same distance as non-disabled people.&quot;</p>
<p>Catherine Smith, Campaigns and Outreach Officer, Transport for All, said: &quot;This is great news for disabled and older people. With only one out of five Tube stations step-free, there aren't many accessible travel options for us on the London Underground. Step-free access at these stations will open up the Tube network to disabled people especially from outer London, helping us to travel with freedom and independence.&quot;</p>
<p>As well as improvements to accessibility on the Tube, TfL has the most accessible bus fleet in the world, with all 9,000 buses low-floor wheelchair accessible and fitted with ramps, which are checked daily to ensure they are working. Work has also been carried out with London's boroughs to improve bus stop accessibility with almost all bus stops now wheelchair accessible.</p>
<p>All 22,000 of London's taxis are fitted with wheelchair ramps and TfL has begun work to enhance access at taxi ranks.</p>
<hr />
<p>&nbsp;</p>
<p>Notes to Editors:</p>
<ul>
    <li>To help decide which stations to select for step-free access, a set of prioritisation criteria was developed which includes the Mayor's Transport Strategy 'strategic importance' prioritisation tool. Other selection criteria include deliverability, cost and benefits</li>
    <li>The next six stations to get funding to go step-free are: Amersham (Metropolitan line, 2.36m journeys per year), Buckhurst Hill (Central line, 2.19m journeys per year), Cockfosters (Piccadilly line, 2.04m journeys per year), Mill Hill East (Northern line, 1.34m journeys per year), Osterley (Piccadilly line, 2.32m journeys per year) and South Woodford (Central line, 5.25m journeys per year). These are in addition to Newbury Park (Central line, 5.43m journeys per year) and Harrow-on-the-Hill (Metropolitan line, 10.67m journeys per year). Works will be subject to obtaining the necessary consents from the local planning authority</li>
    <li>All London River Service piers have step-free access. Newer river boats have dedicated spaces for wheelchair users and accessible toilet facilities</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-June-Next six Underground stations to go step-free -->

 
 
        
        
            @{ViewBag.Description = "Next six Underground stations to go step-free";}
        
        


 