


@{ViewBag.Title = "Northwest London set to benefit from improved bus links";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Northwest London set to benefit from improved bus links</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Northwest London set to benefit from improved bus links</h1>
        <div class="content-page-press-release">
        10 December 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Four new bus routes and three route extensions are among the changes made to the outer London bus network
        
    </div>



 <div class="on-this-page">
<p style="margin-bottom:10pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">Residents of west and northwest London are benefitting from improved transport links as changes to routes in outer London were implemented on Saturday (7 December).</span></span></span></span></p>

<p style="margin-bottom:10pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">Four new bus routes have been introduced including two improved links between Heathrow, Hillingdon and Harrow (278 and X140), with the remaining two additional routes between Acton, Hammersmith and Fulham (218 and 306). Three other routes have been extended, with the H9 and H10 now serving more parts of Northwick Park Hospital and the 440 extended to Wembley Eastern Lands and rerouted between Acton and North Acton. Nine further routes, including the 140, 224, 226 and 391 have had changes associated with the introduction of the new bus services. &nbsp;</span></span></span></span></p>

<p style="margin-bottom:10pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">The changes follow a consultation undertaken by TfL in 2017, improving transport connections in outer London by creating faster connections, better coverage and more direct, frequent services in outer London.&nbsp;&nbsp;</span></span></span></span></p>

<p style="margin-bottom:10pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%"><strong>Geoff Hobbs, Director of Public Service Planning at TfL, said: </strong>&quot;We are pleased to implement these changes to improve the bus network in outer London, with new bus routes and extensions to existing routes making bus services a convenient option for even more Londoners. The changes to the bus network will improve access for thousands of commuters to Tube and TfL Rail Services, and improve links to key services like local hospitals.&quot;</span></span></span></span></p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:12pt"><span style="line-height:150%"><strong><u>Notes to Editors:</u></strong></span></span></p>

<ul>
	<li style="margin-bottom:.0001pt; margin:0cm 0cm 10pt"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">For&nbsp;more information visit <u style="text-decoration-line:underline"><a href="https://consultations.tfl.gov.uk/buses/elizabeth-line/" style="text-decoration-line: underline; text-decoration-color: initial;">https://consultations.tfl.gov.uk/buses/elizabeth-line/</a></u> </span></span></span></span></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-December-Northwest London set to benefit from improved bus links -->

 
 
        
        
            @{ViewBag.Description = " Northwest London set to benefit from improved bus links ";}
        
        


 