


@{ViewBag.Title = "North-South Cycle Superhighway given the green light";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">North-South Cycle Superhighway given the green light</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>North-South Cycle Superhighway given the green light</h1>
        <div class="content-page-press-release">
        01 September 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">

    <div class="article-teaser">
        Mayor and TfL to press ahead with new cycling route to King's Cross after majority support in public consultation
    </div>



<div class="pull-quote">
        <div class="quote-body">"The extension of the North-South Cycle Superhighway will make a big difference joining up existing and planned safe cycle routes in this part of London, and make cycling a safe and practical option for thousands more Londoners"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London </div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>North-South Cycle Superhighway will run 5km between Elephant and Castle and King's Cross</li>
    <li>Construction to begin in spring 2017</li>
    <li>Route will provide major benefits for pedestrians as well as cyclists</li>
</ul>
<p>The Mayor of London, Sadiq Khan, and Transport for London (TfL) today confirmed their intent to proceed with the North-South Cycle Superhighway to King's Cross as TfL published its response to the recent consultation. The plans, which will also benefit pedestrians with wider pavements and more crossing points, were supported by 70 per cent of the public when consulted on earlier this year.</p>
<p>Once complete the full North-South route, also known as Cycle Superhighway 6 (CS6), will provide a safe and direct route for cyclists across central London between Elephant and Castle and King's Cross. 5km in total, the route will be either fully separated from traffic, or on quiet back streets. At its northern end, the route will connect both with the planned Quietway 2, and Central London Grid routes, allowing cyclists to travel safely to Hackney, Walthamstow, Camden and Swiss Cottage and opening up the city to cycling.</p>
<p>TfL has closely considered all of the responses received in the consultation for this scheme and incorporated several changes to the original plan to address the concerns of local residents and stakeholders. A detailed design will now be developed and, subject to approval from Camden Council and Islington Council, construction will begin in spring 2017.</p>
<p>Mayor of London Sadiq Khan said: </p>
<p>'We must make it safer and easier for all Londoners to cycle. It can have major benefits for our health, and making cycling part of people's everyday lives will also help clean up London's toxic air.</p>
<p>'The extension of the North-South Cycle Superhighway will make a big difference joining up existing and planned safe cycle routes in this part of London, and make cycling a safe and practical option for thousands more Londoners.</p>
<p>'We're determined to learn all the lessons from previous superhighway schemes, and we've listened carefully to everyone who responded to the consultation. This includes incorporating wider pavements and more crossing points to ensure pedestrians properly benefit from the new scheme too.'</p>
<p>The new, safe and attractive route is expected to be as popular as the first section, which opened in April between Elephant and Castle, across Blackfriars Bridge to Stonecutter Street, unlocking huge latent demand for safe cycling routes. On Blackfriars Bridge 70 per cent of all vehicles during the busiest times are now cyclists.</p>
<p>Pedestrians will also benefit from the plans with 1,600sq metres of new footway along the route as well as 14 new or upgraded signalised pedestrian crossings with tactile paving and pedestrian countdown technology. It will also provide a much improved pedestrian crossing at Farringdon Road for the many thousands of Thameslink passengers who use Farringdon station each day, and for those who will use the new Crossrail station in two years' time.</p>
<p>Alan Bristow, TfL's Director of Road Space Management, said: </p>
<p>'The first part of the North-South Cycle Superhighway has been a great success and is already being used by thousands of Londoners daily. We're now keen to complete the route to enable even more cycling journeys, but will be planning the project carefully to minimise disruption to other road users.'</p>
<p>Councillor Claudia Webbe, Islington Council's Executive Member for Environment and Transport, said: </p>
<p>'This is an exciting opportunity to add to Islington's cycling network, improving access and safety.</p>
<p>'Since the public expressed their overwhelming support, we have been working hard behind the scenes with TfL and Camden Council to make sure we get every aspect right so that all can enjoy it and no community is left behind or adversely affected.</p>
<p>'As we proceed to deliver this historic change, it is important that the work is carried out with the minimum of disruption. I look forward to seeing the clear benefits of the scheme finally come to pass &#45; from safer cycling in an integrated network to a better environment for pedestrians and residents, as well as improvements to Islington's air quality.'</p>
<p>TfL will ensure that plans for construction take on board lessons learned from the previous routes. This includes a construction timetable that is fully coordinated with other roadworks and the potential for more night time working to complete the work faster.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>The report on the North-South Cycle Superhighway - Stonecutter Street to King's Cross, which was consulted on between 8 February and 20 March 2016 in partnership with Camden and Islington councils, can be found here: <a href="http://consultations.tfl.gov.uk/cycling/northsouth">consultations.tfl.gov.uk/cycling/northsouth</a></li>
    <li>As part of the consultation on North-South Cycle Superhighway - Stonecutter Street to King's Cross, leaflets were delivered to 80,000 properties along the proposed route and emails sent to one million road users alongside press advertisements, news coverage and public exhibitions for people to ask questions and get more information</li>
    <li>The consultation received 1,391 responses, with 53 per cent fully supporting the proposals, rising to 70 per cent including those who partially supported the proposals.</li>
    <li>TfL will continue to work closely with the RNIB to address their concerns about the route running along Judd Street near their headquarters. TfL has now confirmed that the signalised crossing outside their offices will remain as it is now. TfL will continue to work with RNIB to ensure that vulnerable pedestrians are not adversely impacted.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-September-North-South Cycle Superhighway given the green light -->

 
 


 