


@{ViewBag.Title = "One-month countdown begins as capital gets ready for central London ULEZ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">One-month countdown begins as capital gets ready for central London ULEZ</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>One-month countdown begins as capital gets ready for central London ULEZ</h1>
        <div class="content-page-press-release">
        08 March 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Central London ULEZ begins on 8 April 2019 and will introduce the toughest emission standards of any world city
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The introduction of the Ultra Low Emission Zone is now just around the corner and it is great to see that so many individuals and businesses are gearing up to help tackle London's toxic air and protect the health of Londoners"</div>
        <div class="quote-footer">
            <div class="quotee-name">Alex Williams</div>
            <div class="quotee-job-title">Transport for London's Director of City Planning</div>
        </div>
</div>

 <div class="on-this-page">
<p>The central London Ultra Low Emission Zone (ULEZ) starts in one month and TfL is reminding drivers to check their vehicles online and get ready for the scheme which will help clean up London's toxic air.</p>

<p>Air pollution in London is responsible for thousands of premature deaths every year, affecting vulnerable people the most. The central London ULEZ &#45; in operation 24 hours a day, seven days a week across the current Congestion Charge Zone - will help take the most polluting vehicles off London's streets.</p>

<p>It is a central part of the Mayor's far-reaching work to protect London's health from harmful air pollution and will see harmful NOx (Nitrogen Oxides) road transport emissions reduce by 45% in its first year.</p>

<p>Over the last year, TfL has worked with the DVLA to send more than 600,000 letters to owners of non-compliant vehicles spotted in the Congestion Charge Zone. It is continuing to raise awareness of the ULEZ to motorists and businesses, including through:</p>

<ul>
	<li>Posters and digital displays across the whole TfL network, alongside print, radio, online adverts and email newsletters</li>
	<li>Providing advice and support to more than 6,000 registered fleet customers and more than 1,000 other stakeholders, such as small businesses, charities and health services</li>
	<li>Installing more than 300 road signs warning drivers at all entry points to the ULEZ and on a number of key approach routes of the zone</li>
</ul>

<h2>Cleanest vehicles</h2>

<p>The Mayor and TfL are providing help for Londoners who still need to get ULEZ-ready with nearly &pound;50m set aside to encourage the scrappage of polluting vehicles.</p>

<p>Small businesses and charities can access support to upgrade to the cleanest vehicles through the Mayor's &pound;23m diesel scrappage scheme. The scheme offers up to &pound;6,000 of funding to help scrap vehicles and help with running costs of cleaner options.</p>

<p>A separate scrappage scheme aimed at low-income Londoners will launch later this year. It will enable those on low wages to dispose of old and polluting vehicles and replace them with modern cleaner alternatives or to encourage walking, cycling or the use of public transport.</p>

<p>Deputy Mayor for Environment and Energy, Shirley Rodrigues said: 'London's filthy air is a public health crisis that causes thousands of premature deaths, harms lung development in children and requires urgent, bold action.</p>

<p>'We are leading the world in delivering the central London Ultra Low Emission Zone, which is set to reduce polluting emissions by 45%.</p>

<p>'Londoners want to breathe cleaner air and with one month to go before ULEZ I'm pleased that millions of motorists have already checked if their vehicles are compliant and thousands of businesses are cleaning up their fleets.'</p>

<p>Alex Williams, Transport for London's Director of City Planning, said: 'The introduction of the Ultra Low Emission Zone is now just around the corner and it is great to see that so many individuals and businesses are gearing up to help tackle London's toxic air and protect the health of Londoners.</p>

<p>'We have been working hard to ensure that drivers are aware that their vehicle needs to be compliant if they are to avoid paying the charge. We have also been supporting businesses in their preparations - with many already making the move to comply.</p>

<p>'We have engaged with more than 6,000 fleet businesses to advise them of their options and have worked with London's business groups to reach thousands more.</p>

<p>'This, along with the &pound;23m diesel van scrappage scheme, will help businesses replace their polluting vans with new cleaner ones and help create a cleaner city to the benefit of everyone.'</p>

<h2>Supporting businesses</h2>

<p>TfL has also worked closely with Waze, the world's largest community-based traffic and navigation app, to provide more information to drivers who might enter the zone.</p>

<p>The app will alert drivers if their planned route takes them into the zone or if they head towards it. It will also provide a link to the TfL's vehicle checker to allow drivers to check compliance if they choose to continue into the zone.</p>

<p>Finlay Clark, UK General Manager at Waze, said:&nbsp;'With over 3 million drivers in London, tackling air pollution is not the responsibility of one group, it needs to be tackled through a collective effort.</p>

<p>'Working in partnership with TfL, Waze will be the only navigation app that supports all ULEZ routing considerations.'</p>

<p>David Gold, Director of Public Affairs &amp; Policy at Royal Mail Group, said: 'Royal Mail takes its environmental responsibility very seriously. We have invested in new, lower emission vehicles as part of the London ULEZ programme, and continue to deploy a growing number of electric vehicles.</p>

<p>'We also have the UK's largest feet-on-the-street network of postmen and postwomen who make door-to-door deliveries six days a week.'</p>

<p>Bruce Bratley CEO&nbsp;at First Mile LTD, said: 'We service over 25,000 businesses in London and operate a fleet of 70 vehicles, most of which are HGVs.</p>

<p>'As an environmental, purpose led business, it makes sense to operate with the lowest possible impact on air quality &#45; it would be futile to solve one environmental issue (low recycling rates) at the expense of another (air quality). As such, we electrified our delivery fleet and invested &pound;3million to make sure we were ULEZ ready.</p>

<p>'We have been working in partnership Business Improvement Districts and landlords across London to consolidate waste collections as a way of reducing vehicle movements.</p>

<p>'For example, in partnership with the landlord Grosvenor, we now deliver sacks on a cargo bike and have consolidated waste collections across their Mayfair and Belgravia estate.</p>

<p>'This has considerably reduced HGV movements in the area and delivered the added benefit of keeping the streets clear of rubbish and recycling bags.'</p>

<p>John Maingay, Director of Policy and Public Affairs at the British Heart Foundation, said: 'Air pollution is a major threat to the UK's health.</p>

<p>'BHF-funded research has shown that tiny particles emitted from diesel vehicles enter our lungs, pass into bloodstream and remain present for months afterwards, silently damaging our heart and circulatory systems.</p>

<p>'Breathing in these particles significantly increases the risk of a devastating heart attack or stroke in vulnerable groups, such as those living with heart failure, as they affect the functioning of blood vessels and put the heart under additional stress.</p>

<p>'The introduction of the ULEZ next month will provide a much needed, bold measure that will help deliver the sustained shift away from diesel vehicles that we desperately need to protect the nation's heart health.'</p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>TfL has worked with the DVLA to write to owners of non-compliant vehicles it has seen in the zone and has provided detailed information on the TfL website, which can be found here: <a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone">https://tfl.gov.uk/modes/driving/ultra-low-emission-zone</a></li>
	<li>Microbusinesses and charities can choose from a range of 'scrap for cash' options and apply for the scheme online at <a href="http://www.tfl.gov.uk/scrappage-scheme">www.tfl.gov.uk/scrappage-scheme</a></li>
	<li>Drivers can check their vehicle's compliance here: <a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone/vrm-checker-ulez">https://tfl.gov.uk/modes/driving/ultra-low-emission-zone/vrm-checker-ulez</a></li>
</ul>

<p>Drivers can pay the ULEZ daily charge from 8 April 2019, through TfL's website:</p>

<ul>
	<li>The charge is &pound;12.50 for most vehicle types, including cars, motorcycles and</li>
	<li>vans (up to and including 3.5 tonnes) and &pound;100 for heavier vehicles, including</li>
	<li>lorries (over 3.5 tonnes) and buses/coaches (over 5 tonnes)</li>
</ul>

<ul>
	<li>The Mayor is also set to announce the details of a scrappage scheme to help Londoners on lower incomes become ULEZ compliant later this year</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-March-One-month countdown begins as capital gets ready for central London ULEZ -->

 
 
        
        
            @{ViewBag.Description = "One-month countdown begins as capital gets ready for Central London ULEZ";}
        
        


 