


@{ViewBag.Title = "One billion journeys made by contactless payment on London's transport network";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">One billion journeys made by contactless payment on London’s transport network</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>One billion journeys made by contactless payment on London’s transport network</h1>
        <div class="content-page-press-release">
        06 July 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Latest figures show that 40% of all pay as you go journeys are now made using contactless payment &#45; up from around 25% a year ago
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London continues to lead the way in terms of contactless payment around the world, and the money we make selling TfL's innovation and expertise to other major global cities will allow us to put further money into improving London's own transport network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>London's transport network has now seen more than one billion pay as you go journeys made by contactless payment cards &#45; as the new payment option has substantially changed the way customers pay for their travel around the city.</p>
<p>The landmark figures, published today by TfL, show that, on average, two million journeys are now made using contactless every day.</p>
<p>In total, 40% of all pay as you go journeys are now made using contactless. This is up from 25% in early 2016.</p>
<p>Of these, almost one in 10 contactless transactions are now made using mobile devices, with more than 31 million journeys made specifically using mobile phones in London in the last 12 months.</p>
<h2>Best value fare</h2>
<p>TfL's contactless payment system was first launched on London's buses in December 2012 and expanded to cover Tube and rail services in London in September 2014.</p>
<p>The system automatically calculates the best value fare based on the customer's specific journey history and then charges them at the end of the day &#45; ensuring they always pay the lowest fare in the easiest and most convenient way.</p>
<p>This means that customers could save money compared to buying a Travelcard, helping them to travel around London more affordably.</p>
<h2>Elizabeth line</h2>
<p>In the future, contactless will also be expanded to cover the Elizabeth line, which will see services running from Reading and Heathrow in the west to Shenfield and Abbey Wood in the east by December 2019.</p>
<p>Last year, TfL signed a deal worth up to &pound;15m with Cubic Transportation Systems (CTS) allowing them to adapt the Capital's contactless ticketing system worldwide.</p>
<p>It is the first of a number of planned agreements to sell TfL's expertise both at home and abroad &#45; a key manifesto commitment for the Mayor.</p>
<p>Since then, CTS has progressed discussions with a number of world cities, including Sydney and Miami, to introduce contactless ticketing technology to their transport networks in the future.</p>
<h2>Make life easier</h2>
<p>Customers from more than 100 countries have now used contactless payment cards and mobile devices to make journeys on the Capital's public transport network, with more than 20 new countries, including Estonia, Morocco and Peru, having been seen for the first time in the last year.</p>
<p>Contactless is one of a range of improvements to make life easier and cheaper for customers.</p>
<p>Since it launched last September, more than 25 million 'Hopper' journeys, which allow customers to have a second bus or tram journey for free if made within one hour, have been specifically made using contactless - helping save Londoners even more money.</p>
<p>Sadiq Khan, Mayor of London, said: 'I'm delighted that we've hit one billion contactless journeys in London.</p>
<p>'The dramatic increase in the use of contactless over the last year shows the real progress we've made making journeys easier and more convenient for busy Londoners and also visitors to our city.</p>
<p>'London continues to lead the way in terms of contactless payment around the world, and the money we make selling TfL's innovation and expertise to other major global cities will allow us to put further money into improving London's own transport network.'</p>
<h2>Even more convenient</h2>
<p>Shashi Verma, Chief Technology Officer at Transport for London, said: 'Contactless payments have completely transformed the way people pay for travel in London and it's great to see more than 1 billion journeys now made across the Capital's transport network.</p>
<p>'Our contactless technology is now making it easier for people to travel around the city, whether it's for work, leisure or to visit friends and family. We're committed to continue developing and expanding the system where we can to make it even more convenient for anyone visiting London.'</p>
<p>Roger Crow, Executive Vice President and Managing Director of Europe at Cubic Transportation Systems, said: 'Our partnership with TfL has helped put London at centre stage among the world's most technologically advanced payment systems.</p>
<p>'We take pride in both the contactless experience leading to the billionth pay as you go transaction as well as our collaboration with TfL to take the technology to other leading systems worldwide.'</p>
<p>Richard Koch, Head of Cards at UK Finance, said: 'With nearly a third of card payments now contactless, reaching this milestone is a huge endorsement of this quick 'touch' payment technology.</p>
<p>'Londoners and visitors to the capital have embraced contactless payments as an enabler of convenient, friction-free travel. We are working with the transit industry to bring the benefits TfL has delivered to its customers to the rest of the country.'</p>
<p>&nbsp;</p>
<hr />
<p><strong>Notes to Editors:</strong></p>
<p>&nbsp;</p>
<ul>
    <li>Other facts and figures released today include:</li>
</ul>
<ul>
    <li>Journeys made using pay as you go with contactless now make up around a quarter of all fares revenue for London Underground. In total, almost &pound;2 billion has been spent by customers using pay as you go with contactless since it was introduced</li>
    <li>Since early 2016, the proportion of pay as you go journeys made using contactless rose from 25% to more than 40% today. At around 80 stations across London, including Clapham North Underground station, Shoreditch High Street rail station and Gatwick Airport, the proportion is even higher - regularly hitting over half of all pay as you go journeys</li>
    <li>Around 720,000 bus and tram journeys are made using pay as you go with contactless every day in London. Of these, around 30% are made using cards that have reached the daily or weekly cap, meaning the journey is free</li>
</ul>
<ul>
    <li>Copies of graphs showing the growth of contactless since it launched, as well as a map illustrating the countries seen on the TfL ticketing network are available from the TfL Press Office</li>
    <li>Customers are encouraged to sign up for an online account and add their contactless payment card. As well as being able to view 12 months of journey and payment history, customers can also get email alerts if there's an issue with their card which might stop them from using it to travel as well as obtain refunds for incomplete journeys &#45; <a href="https://account.tfl.gov.uk/">https://account.tfl.gov.uk</a></li>
    <li>Last year, Southeastern announced that passenger journeys on High Speed One services between St Pancras International and Stratford International increased by 72% following the introduction of pay as you go with Oyster and contactless in July 2015. The high-speed service now sees 12,000 journeys a week made using pay as you go, more than half of them regularly made using contactless payment cards</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-July-One billion journeys made by contactless payment on London’s transport network -->

 
 
        
        
            @{ViewBag.Description = "One billion journeys made by contactless payment on London’s transport network";}
        
        


 