


@{ViewBag.Title = "Overwhelming support for extension of North-South Cycle Superhighway";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Overwhelming support for extension of North-South Cycle Superhighway</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Overwhelming support for extension of North-South Cycle Superhighway</h1>
        <div class="content-page-press-release">
        29 July 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">

    <div class="article-teaser">
        Mayor wants to see scheme proceed and asks TfL to work with boroughs, community groups and other stakeholders to resolve issues raised
    </div>



<div class="pull-quote">
        <div class="quote-body">"The extension of North-South Cycle Superhighway to King's Cross will make a big difference joining up existing and planned safe cycle routes in this part of London
"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London </div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL has today published the results of its consultation on the detailed proposals for the North-South Cycle Superhighway (CS6) between the junction of Stonecutter Street/Farringdon Street and King's Cross.</p>
<p>The new section would link with the first section of this Superhighway, which opened in April running from Elephant and Castle and crossing Blackfriars Bridge. The full length of the substantially segregated cycle route will be five kilometres from end to end.</p>
<p>In the King's Cross area, the route will connect with the Central London Grid, which will provide high quality cycle connections to Camden Town and Swiss Cottage, and to Quietway 2 to Waltham Forest via Islington and Hackney.</p>
<h2>Continued public support</h2>
<p>More than two-thirds (70%) of the responses to the consultation fully or partially supported the proposals, signalling continued public support for new, safer cycling infrastructure in the Capital.</p>
<p>Pedestrians will also benefit from the plans with 1,665sqm of new footway along the route to make walking easier and more attractive, as well as 14 new and upgraded signalised pedestrian crossings with tactile paving and pedestrian countdown.</p>
<p>The number of people cycling in London is continuing to grow, particularly where new safer routes have been built. On Vauxhall Bridge, over which Cycle Superhighway 5 runs, there has been a 73% increase year on year in the number of cyclists during rush hour.</p>
<h2>Cycling numbers have increased</h2>
<p>On the section of the North-South Cycle Superhighway on Blackfriars Bridge, cyclist numbers have increased by 55% and 70% of all vehicles on the bridge are now cyclists at the busiest times.</p>
<p>Mayor of London Sadiq Khan, said: 'I want to make London a by-word for cycling around the world. Encouraging more Londoners to cycle by making it safer and easier benefits all of us &#45; helping cleaning up London's toxic air pollution, improving our health, and helping to tackle congestion on our roads.</p>
<p>'The extension of North-South Cycle Superhighway to King's Cross will make a big difference joining up existing and planned safe cycle routes in this part of London. It will provide thousands more Londoners with an easier and safer cycling route in central London.</p>
<p>'Of course, there are lessons to be learned from how previous routes were delivered, including reducing the impact of construction on all road users. I have therefore asked TfL to look very carefully at issues raised by the public to make sure they are properly considered during the process.'</p>
<h2>Great success</h2>
<p>Alan Bristow, TfL's Director of Road Space Management, said: 'The first section of the North-South Cycle Superhighway has been a great success, with cyclists making up 70% of traffic going over Blackfriars Bridge in the busiest times.</p>
<p>'We're keen to move forward with the next section to King's Cross, linking in with other cycling routes in central London, and will continue to work with the boroughs, community groups and other stakeholders to address the issues raised during the consultation ahead of setting out our next steps.'</p>
<p>The Mayor has personally written to the Chief Executive of the Royal National Institute of the Blind (RNIB) following concerns raised during the consultation about changes to pedestrian crossings and the impact on visually impaired people.</p>
<p>He confirmed that the signal-controlled crossing outside the RNIB headquarters on Judd Street near Euston Road will not be changed.</p>
<h2>Better coordinated</h2>
<p>The Mayor has asked TfL to continue progressing the plans and speaking with stakeholders to address any outstanding issues, particularly about the impact on local traffic. He has also asked TfL to ensure any plans for construction take on board lessons learned from the previous routes.</p>
<p>This includes a construction timetable that is better coordinated and the potential for more night time working to complete roadworks faster.</p>
<p>TfL will now prepare detailed responses to the issues raised during the consultation and continue to engage with local stakeholders and Islington and Camden councils to progress work on the scheme.</p>
<h2>Important addition</h2>
<p>Councillor Claudia Webbe, Islington Council's Executive Member for Environment and Transport, said: 'This will be a welcome and important addition to Islington's cycling network, connecting the borough to the rest of London on segregated safe routes &#45; something we have spent a long time pushing for.</p>
<p>'I am glad that the majority of people are in favour of the plans, which will also benefit pedestrians, improve Islington's overall air quality and encourage more people to cycle, with all the health and environmental gains that brings.</p>
<p>'We fully support the route and given the huge success of the consultation, it is worth taking the extra time with Camden, TfL and the Mayor of London to get it right.'</p>
<h2>High quality cycle routes</h2>
<p>Councillor Phil Jones, Cabinet Member for Regeneration, Transport &amp; Planning at Camden Council, said: 'It's crucial that we provide new high quality cycle routes to give more people the option to cycle safely.</p>
<p>'Not only is this a healthy and low cost choice for individuals but it also helps tackle London's air pollution and reduce overcrowding on public transport.</p>
<p>'I welcome the strong public support for the North-South Cycle Superhighway and we will work with TfL and the local community to get the plans right.'</p>
<p>Work is also ongoing to review all of the responses received as part of the consultations on Cycle Superhighway 11, from Swiss Cottage to the West End, and the extension of the East-West Cycle Superhighway towards Acton in west London.</p>
<hr />
<strong>Notes to Editors:</strong><br />
<ol>
    <li>The North-South Cycle Superhighway - Stonecutter Street to King's Cross consultation report can be found here: <a href="https://consultations.tfl.gov.uk/cycling/northsouth">consultations.tfl.gov.uk/cycling/northsouth</a></li>
    <li>As part of the consultation on North-South Cycle Superhighway from Stonecutter Street to King's Cross, leaflets were delivered to 80,000 properties along the proposed route and emails sent to one million road users alongside press advertisements, news coverage and public exhibitions for people to ask questions and get more information</li>
    <li>The pedestrian improvements in the North-South Cycle Superhighway plans include:</li>
</ol>
<ul>
    <li>New signalised pedestrian crossings on all four sides of the Charterhouse Street junction and on three sides of the Ray Street/Farringdon Road junction</li>
    <li>Upgraded pedestrian crossings to make them formal signalised facilities at Clerkenwell Road/Farringdon Road (all four sides of the junction) and Saffron Hill/Herbal Hill, with the crossings on Greville Street and Stonecutter Street also made wider to safely accommodate more pedestrians</li>
    <li>The current informal crossing on Calthorpe Street will also be upgraded to a zebra crossing</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-July-Overwhelming support for extension of North-South Cycle Superhighway -->

 
 


 