


@{ViewBag.Title = "Overwhelming support for Holborn Tube station expansion plans";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Overwhelming support for Holborn Tube station expansion plans</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Overwhelming support for Holborn Tube station expansion plans</h1>
        <div class="content-page-press-release">
        05 July 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Consultation on proposals to expand Holborn Tube station strongly endorsed by the public and local community
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This long-term investment will enable us to support new jobs, homes and growth in the capital and will contribute to the Mayor's aim of encouraging greater use of public transport, reducing reliance on the car and making London a healthier, cleaner place"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mark Wild</div>
            <div class="quotee-job-title">Managing Director of London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL has announced today (Thursday 5 July) that proposals to substantially boost the capacity of Holborn Tube station have received strong backing from the public and local community.</p>
<p>A consultation found that 98% of respondents agreed with the need to upgrade the station and 96% supported TfL's proposals.</p>
<p>Holborn is one of the busiest Underground stations, with around 56 million customers using it each year.  Everyone who uses the station currently has to pass through a single point at the bottom of the main escalators, which causes overcrowding and makes it necessary to hold people outside the ticket gates.</p>
<p>The capacity upgrade aims to reduce congestion and relieve pressure on the existing Kingsway entrance as well as support future plans to increase the number of trains on the Central and Piccadilly lines.</p>
<h2>56 million customers</h2>
<p>The proposals would see the construction of a new second station entrance and exit at the southern end of Procter Street.</p>
<p>The installation of eight new escalators and three lifts would enable step-free access from street to trains, which would significantly improve accessibility for older and disabled people, as well as parents or carers with buggies.</p>
<p>The proposals also include turning a disused Aldwych line platform into a new concourse for Piccadilly line customers - creating more space and making journeys more comfortable.</p>
<p>Mark Wild, Managing Director of London Underground, said: 'The expansion of Holborn Tube station will make life better for the tens of thousands of customers who use it every day.</p>
<p>'It is an important station, serving a broad range of local institutions and businesses, but it is clearly increasingly not fit for purpose. The consultation showed people are fully behind our proposals to transform the station.</p>
<p>'This long-term investment will enable us to support new jobs, homes and growth in the capital and will contribute to the Mayor's aim of encouraging greater use of public transport, reducing reliance on the car and making London a healthier, cleaner place.'</p>
<h2>Essential improvement</h2>
<p>Tass Mavrogordato, BEE Midtown Chief Executive said: 'This essential improvement to support the area's rapid growth and connectivity is something BEE Midtown has supported since day one.</p>
<p>'Midtown is London's most dynamic business district and an increasingly popular tourist destination, being home to world class hotels and the British Museum, so these much-needed, ambitious plans for Holborn Tube station are welcomed by all who work in and visit the area.'</p>
<p>TfL plan a further consultation in 2020 on how the proposed new station entrance will be built and how it will manage the impacts of construction for passengers.</p>
<p>The continued modernisation of London Underground is a key part of the Mayor's Transport Strategy to make London a greener, more accessible place.</p>
<p>The investment in improving public transport will help reduce reliance on the car and contribute to the Mayor's target of 80% of journeys made by public transport, cycling or walking by 2041.</p>
<p><hr /></p>
<p><strong>Notes to editors</strong></p>
<ul>
    <li>The consultation ran from 18 September to 17 November 2017. TfL received nearly 1,000 responses. 98% of respondents agreed with the need to upgrade the station (86% strongly agreed, 12% agreed). 96% of respondents supported our proposals (84% strongly supported, 13% partially supported, figures rounded)</li>
    <li>In order to gain the necessary planning consent to deliver the proposed scheme, TfL has to apply to the Secretary of State for Transport for a Transport and Works Act Order (TWAO) under the Transport and Works Act 1992</li>
    <li>The full consultation report and our response to the issues raised is available at <a href="https://consultations.tfl.gov.uk/tube/holborn-station-upgrade/">tfl.gov.uk/holborn-station-upgrade</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-July-Overwhelming support for Holborn Tube station expansion plans -->

 
 
        
        
            @{ViewBag.Description = "Overwhelming support for Holborn Tube station expansion plans";}
        
        


 