


@{ViewBag.Title = "Over 100 London schools ditch the car on World Car Free Day to improve the Capital's air";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Over 100 London schools ditch the car on World Car Free Day to improve the Capital’s air</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Over 100 London schools ditch the car on World Car Free Day to improve the Capital’s air</h1>
        <div class="content-page-press-release">
        22 September 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Over 44,000 pupils are participating to make a greener journey for a greener London
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Walking and cycling to school is a great way to get active and tackle London's toxic air crisis. On this World Car Free Day, and beyond, I would encourage as many Londoners as possible to give up four wheels in favour of going by foot or by bike"</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<p>Over 100 schools from 18 boroughs will be marking World Car Free Day today by encouraging parents and carers to substitute their car journeys to school with walking or cycling as part of TfL's sustainable travel to school programme, STARS, to improve air quality in the Capital.</p>
<p>A number of schools across London have set up 'car-free zones' near their school gates, while others have 'park and stride' spots where parents park a distance from the school gate and walk the rest of the way.</p>
<p>There will also be 'walking buses' where children join an organised walk to school, picking up 'passengers' on the way as they learn about looking after the environment.</p>
<p>According to the Mayor of London's research into the health impacts of cars in London, air pollution is a significant health issue with some of the worst pollution hotspots being around schools located on busy and congested roads.</p>
<h2>Ambitious</h2>
<p>Today's event follows concerns around the increase in air pollution and congestion on London's roads. The school run is a major source of traffic and air pollution with school journeys accounting for half the traffic in London between 8:00 and 9:00am during school terms.</p>
<p>The Mayor's ambitious draft Transport Strategy sets out plans for improving air quality in London by reducing emissions from buses so that all double-deckers operating in the central Ultra Low Emission Zone comply with Euro VI Standard by 2019, ensuring no diesel taxis are granted a first time license in London from 1 January 2018, working to make London's entire road transport system zero emission by 2050 at the latest and reducing car use on the journey to school.</p>
<p>The Mayor is also launching the toughest emission standard of any city in the world when the T-charge begins on 23rd October. The vast majority of pre-2006 vehicles will need to pay an additional &pound;10 Emissions Surcharge to travel in the central London Congestion Charge zone.</p>
<h2>Important first step</h2>
<p>This is an important first step to implementing the Ultra Low Emission Zone, which will affect many more vehicles and is expected to reduce NOx emissions by around 50%.</p>
<p>TfL's STARS programme has been hugely successful in helping primary and secondary school children adopt safe and sustainable ways of travelling, such as cycling, walking and public transport.</p>
<p>Now in its tenth year, the scheme has grown from 180 schools in 2007 to 1,430 in 2017, achieving an average of a 6% decrease in car use.</p>
<p>Just two ten minute walks a day can improve health and wellbeing and reduce the dangers of developing a range of health problems, including Type 2 diabetes, heart disease, some cancers, depression and Alzheimer's disease.</p>
<h2>Great way to get active</h2>
<p>Will Norman, Walking and Cycling Commissioner, said: 'Walking and cycling to school is a great way to get active and tackle London's toxic air crisis.</p>
<p>'On this World Car Free Day, and beyond, I would encourage as many Londoners as possible to give up four wheels in favour of going by foot or by bike.'</p>
<p>Leon Daniels, TfL's Managing Director of Surface Transport, said: 'Together with the Mayor and working with boroughs we are reducing congestion and improving air quality. </p>
<p>'It's great to see our future generations using our STARS programme and World Car Free Day to make the school run green.'</p>
<h2>Safer and easier</h2>
<p>Tompion Platt, Head of Policy and Communications, Living Streets, said: 'Making it safer and easier for more families to walk to school is critical to improving air quality around the school gate. </p>
<p>'Creating safe walking routes, introducing walk to school initiatives and closing school streets to traffic during drop off and pick up times are some of the ways we're helping schools and parents to ditch the car and choose to walk.'</p>
<p>For further details on the STARS accreditation scheme and the full range of programmes TfL offers to schools and young people, visit <a href="https://stars.tfl.gov.uk/?cid=stars">tfl.gov.uk/stars</a> or <a href="https://tfl.gov.uk/info-for/schools-and-young-people/?cid=younglondon">tfl.gov.uk/younglondon</a>.</p>
<p>&nbsp;</p>
<hr />
<p><strong>Notes to Editors:</strong></p>
<ul>
    <li>World Car Free Day is celebrated every 22 September in cities around the world and encourages motorists to give up their cars for a day</li>
    <li>Images are available here: <a href="https://www.flickr.com/gp/tflpress/m4T7M7">https://www.flickr.com/gp/tflpress/m4T7M7</a></li>
    <li>STARS accreditation scheme: in conjunction with the London boroughs, TfL supports primary and secondary schools (with over 49% currently participating) with school travel plan activities that help young people and the whole school community adopt safer and more active travel behaviour on the school journey</li>
</ul>
<ul>
    <li>The scheme has three levels &#45; bronze, silver and gold</li>
    <li>The more initiatives a school delivers and the greater the changes in behaviour, the higher the STARS Accreditation award</li>
    <li>Participating Schools will have a STARS banner  displayed outside the school gate</li>
</ul>
<ul>
    <li>Mayor of London research shows that the majority of Londoners' car trips could be walked or cycled if the circumstances were right. <a href="https://www.london.gov.uk/sites/default/files/health_impact_of_cars_in_london-sept_2015_final.pdf">https://www.london.gov.uk/sites/default/files/health_impact_of_cars_in_london-sept_2015_final.pdf</a></li>
    <li>The Mayor has doubled funding spent on tackling air quality to &pound;875 million over the next five years. Plans include:</li>
</ul>
<ul>
    <li>Introducing an Emissions Surcharge (dubbed the 'T-Charge) on top of the Congestion Charge, which will remove older polluting vehicles from central London this year (starting 23 October 2017)</li>
    <li>Launching the world's first Ultra Low Emission Zone (ULEZ), which puts in place minimum emission standards for all vehicles (excluding taxis, whose emissions are addressed through separate licensing requirements). The Mayor proposes (subject to consultation) to apply these standards in central London from 8 April 2019, which has been brought forward from September 2020. They will then apply, in outer London for buses, coaches and lorries by 2020 and in inner London for all vehicles except taxis by 2021</li>
    <li>Spending more than &pound;300 million transforming London's bus fleet by retrofitting thousands of vehicles and a commitment to purchase only hybrid or zero-emission double decker buses from 2018 and with all buses meeting the Euro VI standard by 2020</li>
    <li>Making sure TfL no longer licence new diesel taxis from 2018, maintaining the maximum vehicle age limit and &pound;65 million in support to the trade to help upgrade taxis to much cleaner, 'zero-emission capable' vehicles</li>
    <li>Introducing Five Low Emission Neighbourhoods (LENs) spanning eight boroughs and involving a range of local organisations, with funding for a further five business-led LENs. This is in addition to continuing the Mayor's Air Quality Fund and together these targeted actions will tackle some of the worst pollution hotspots across London, with TfL contributing &pound;14 million</li>
    <li>Providing alerts to Londoners during high and very high pollution episodes by issuing information on 2,500 bus countdown signs, at 140 roadside variable message signs and at 170 tube stations</li>
    <li>Establishing a Cleaner Vehicle Checker, enabling Londoners to check the real-world emissions from a vehicle they may be considering buying</li>
</ul>
<ul>
    <li>The Mayor's draft Environment Strategy consultation is available to view on <a href="https://www.london.gov.uk/what-we-do/environment">www.london.gov.uk/environmen</a>t and runs until 17 November. Its main objectives for London include:</li>
</ul>
<ul>
    <li><strong>Greener</strong>: All Londoners should be able to enjoy the very best parks, trees and wildlife. Creating a greener city is good for everyone &#45; it will improve people's health and quality of life, support the success of businesses and attract more visitors to London</li>
    <li><strong>Cleaner</strong>: Londoners want their city to be clean, attractive and healthy &#45; living in a big city does not mean they should accept a dirty and polluted environment. The Mayor will clean up London's air, water and energy in a way that is fair, protects the health of Londoners, and contributes to the fight against climate change</li>
    <li><strong>Ready for the future</strong>: Water, energy and raw materials for the products we consume will be less readily available in the future, and climate change will mean higher temperatures, more intense rainfall and water shortages. The Mayor will make sure the city does not waste valuable resources, is prepared for the future and is safeguarded for future generations.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-September-Over 100 London schools ditch the car on World Car Free Day to improve the Capital’s air -->

 
 
        
        
            @{ViewBag.Description = "Over 100 London schools ditch the car on World Car Free Day to improve the Capital’s air";}
        
        


 