


@{ViewBag.Title = "Plan ahead to make the most of the Capital over Christmas and New Year";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Plan ahead to make the most of the Capital over Christmas and New Year</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Plan ahead to make the most of the Capital over Christmas and New Year</h1>
        <div class="content-page-press-release">
        30 November 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The majority of TfL services will be running throughout the festive period. From Saturday 23 December 2017 to Monday 1 January 2018 there will be service changes and essential improvement work on the transport and road network as people make their way home on New Year's Eve.
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) is encouraging both Londoners and visitors to the Capital to make the most of the city over the Christmas and New Year period by planning their journeys in advance. The majority of TfL services will continue to run, with some service changes necessary to allow essential improvement work to be carried out.<br />
</p>
<p>Festive travel information and advice is available on TfL's website, tfl.gov.uk/Christmas-travel and contains daily travel information about all forms of public transport, as well as Victoria Coach Station and the Congestion Charge.<br />
</p>
<p>Once again, TfL will be providing free travel for everyone celebrating New Year's Eve so that millions of revellers can get home safely. Free travel will be available from 23:45 on 31 December 2017 to 04:30 on 1 January 2018 on London buses, Tube, tram, DLR and London Overground.<br />
</p>
<p>London's Transport Commissioner, Mike Brown MVO, said: "The Christmas and New Year period in London is a fantastic time with lots to enjoy around our great city. The majority of our services will be operating as normal, but &#45; as in previous years - we need to use the quieter period to carry out essential improvements to transport at some locations. I encourage all customers travelling around London over the holiday period to use our festive travel website to plan their journey in advance so that they can enjoy everything the Capital has to offer."<br />
</p>
<p>Thousands of engineers will be working across the traditionally quieter festive period to carry out essential improvement work on tracks, roads and signalling. Network Rail will also be carrying out engineering work that will affect some TfL services. Key closures during the period include:<br />
</p>
<ul>
    <li>No service on the Circle line between Aldgate and Edgware Road via Victoria or on the District line between South Kensington and Edgware Road/Ealing Broadway/Richmond/Wimbledon/Kensington (Olympia) from Sunday 24 to Saturday 30 December 2017.</li>
    <li>No service on London Overground between Romford and Upminster from Saturday 23 December 2017 to Monday 1 January 2018.</li>
    <li>Also no service on London Overground<br />
    o Between Highbury &amp; Islington and Dalston Junction and between Camden Road and Stratford from Saturday 23 to Saturday 30 December 2017<br />
    o Between Edmonton Green and Cheshunt from Wednesday 27 December 2017 to Monday 1 January 2018<br />
    o Between Gospel Oak and Barking Saturday 18 November 2017 to Sunday 14 January 2018.</li>
    <li>No service on TfL Rail on the entire line from Liverpool Street to Shenfield from Saturday 23 December 2017 to Monday 1 January 2018. Replacement buses will call at all stations except Maryland, connecting with the Central line at Newbury Park and Stratford stations.</li>
    <li>No National Rail services to Heathrow airport from Sunday 24 to Wednesday 27 December 2017. The Piccadilly line will continue to operate throughout this period (except on Christmas Day).</li>
    <li>A1 Holloway Road closed between Digswell Street and Highbury Corner roundabout from Monday 18 December 2017 to Monday 8 January 2018 to allow the aging bridge to be replaced. For further details visit <a href="https://tfl.gov.uk/travel-information/improvements-and-projects/highbury-and-islington">https://tfl.gov.uk/travel-information/improvements-and-projects/highbury-and-islington</a>.</li>
    <li>Services will finish earlier than usual on Christmas Eve and will start running again on buses, Tube, tram and DLR on Boxing Day.</li>
</ul>
<p>A small number of bus routes will also be affected by planned roadworks taking place during the Christmas period. On New Year's Eve, buses in and around central London will start to be diverted, or terminate earlier than usual, from around 14:00.<br />
</p>
<p>A full list of TfL's social media channels is available at <a href="https://tfl.gov.uk/travel-information/social-media-and-email-updates/">https://tfl.gov.uk/travel-information/social-media-and-email-updates/</a>.<br />
</p>
<p>Ends<br />
Notes to editors:<br />
</p>
<ul>
    <li>Please note that some of the travel information could be subject to change and customers are advised to check before they travel. The latest Christmas travel information, is available online at <a href="http://tfl.gov.uk/Christmas-travel">tfl.gov.uk/Christmas-travel</a></li>
    <li>Newbury Park station car park will be closed between Saturday 23 December and Monday 1 January. The main car park, adjacent to the bus shelter, will be closed to allow replacement bus services for TfL Rail and Greater Anglia to run. Vehicles must be removed by 23:00 on Friday 22 December. Alternative car parking facilities will be available at Redbridge, Leytonstone or Hainault.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-November-Plan ahead to make the most of the Capital over Christmas and New Year -->

 
 
        
        
            @{ViewBag.Description = "Plan ahead to make the most of the Capital over Christmas and New Year";}
        
        


 