


@{ViewBag.Title = "Plans for 20mph speed limit in central London given the green light";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Plans for 20mph speed limit in central London given the green light</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Plans for 20mph speed limit in central London given the green light</h1>
        <div class="content-page-press-release">
        06 September 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL publishes consultation report showing public support for lower speeds in central London
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Every single death on London's streets is one too many so I'm really pleased that Londoners have backed our plans to introduce a 20mph speed limit on TfL roads within the Congestion Charge Zone and at Aldgate Gyratory
 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Work will begin later this year to make 8.9km of TfL roads 20mph</li>
	<li>Part of the Vision Zero commitment to eliminate death and serious injury from London's roads</li>
	<li>TfL will begin working with boroughs and local communities on next phase of lower speeds for outer London</li>
</ul>

<p>Transport for London (TfL) has today announced that proposals to lower speed limits on TfL roads across central London will go ahead, following a positive response to its public consultation earlier in the year.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p>TfL will introduce 20mph speed limits on all its roads in the Congestion Charge Zone by early 2020 - mirroring the lower speed limits already in place on the majority of borough roads in the central London area.</p>

<p>The lower speed limit will be supported by new 20mph signage and road markings, as well as raised pedestrian crossings in seven locations where a high number of people walk, including near Embankment and Tower Hill Tube stations and outside the Tate Britain. TfL will recalibrate all speed cameras in central London and use mobile speed cameras to ensure that drivers are complying with the new safer speed limit. TfL aims to complete work overnight to minimise the impact on road users and will use single lane closures, avoiding any roads being fully closed, subject to permits.</p>

<p>There were nearly 2,000 responses to the public consultation, with half of respondents saying the plans would have a positive impact on walking and 31 per cent saying that many more people would choose to walk. Almost two-thirds thought that the proposals would lead to more people cycling (59 per cent) and four in ten thought that the proposals would have a positive impact on public transport.</p>

<p>Additional comments were in support of making the streets safer, as well as more pleasant and welcoming, and encouraging more people out of their cars to walk, cycle and use public transport. There were also suggestions to roll out lower speeds as quickly as possible and to raise awareness of the new 20mph speed limit and improve driver behaviour.</p>

<p>The move is a key part of the Mayor's Vision Zero ambition to eliminate death and serious injury from London's transport network and will see 20mph limits introduced on 8.9km of main roads including Millbank, Albert Embankment, Victoria Embankment and Borough High Street. More than a third (39 per cent) of streets in London now have a 20mph speed limit and the Mayor and TfL are hoping this will continue to reduce road danger and provide consistency for drivers.</p>

<p>Following public support for the plans, TfL is now accelerating proposals to bring safer speeds to some of the most high-risk areas in outer London. This includes proposals to lower speeds on Commercial Street and Whitechapel Road, where local communities are calling for safer speeds to make their neighbourhood a better and safer place to walk, cycle and enjoy.</p>

<p><strong>The Mayor of London, Sadiq Khan, said: </strong></p>

<p>'Every single death on London's streets is one too many so I'm really pleased that Londoners have backed our plans to introduce a 20mph speed limit on TfL roads within the Congestion Charge Zone and at Aldgate Gyratory. By also bringing forward plans to lower speed limits in other parts London, we will help protect more people walking and cycling across our city.'</p>

<p><strong>Penny Rees, Head of Network Sponsorship at TfL, said: </strong></p>

<p>'We know that lower speeds save lives, it's that simple. As more and more people choose to walk and cycle around London we must reduce the risk of them being killed or seriously injured. It's clear people agree that making our roads safer will encourage Londoners to travel in more active and sustainable ways.'</p>

<p>Figures from 2016, 2017 and 2018 suggest 131 people were killed in speed-related collisions on London's streets. &nbsp;A further 2,256 people were reported as seriously injured in collisions where speed was recorded as a contributory factor. Cutting speeds from 30mph to 20mph significantly reduces the likelihood and severities of these collisions. People walking are particularly vulnerable to speeding vehicles and 52 pedestrians have already tragically died this year, compared to 56 in the whole of 2018. Lower speeds as well as safer junctions will help to address this.</p>

<p><strong>Jeremy Leach, London Campaign Co-ordinator for 20's Plenty for Us, said:</strong></p>

<p>'This result shows how swiftly London is becoming a 20mph city. Londoners understand just how important it is to reduce the maximum speeds of vehicles if we are going to bring down road casualties and encourage more people to walk, cycle and use public transport. Most encouraging is the green light for lower speed limits on Red Route roads right across the capital and TfL's commitment to make sure that as many drivers as possible stick to the 20mph limit.'</p>

<p><strong>Victoria Lebrec, crash victim and Campaign Coordinator for RoadPeace, the national charity for road crash victims, said:</strong></p>

<p>'Speed not only makes a crash more serious, it also makes it much more likely to happen. At RoadPeace we see the devastating consequences of preventable crashes, and welcome TfL's commitment to introducing 20mph speed limits on so many roads.'</p>

<p><strong>Joshua Harris, director of campaigns for Brake, the road safety charity, said: </strong></p>

<p>'The go-ahead for rollout of 20mph speed limits, widely accepted as the safest speed for places where people live, work and play, is fantastic news. Londoners have made it clear that they want to be able to move around in safe and healthy ways and reducing vehicle speeds is a simple, but effective, way of achieving this. We hope other authorities, including central government, follow London's lead and make 20mph the default for urban areas.'</p>

<p>Over the next five years, TfL will work with boroughs and the public to introduce lower speed limits on its road network, reducing road danger and the number of people being killed and seriously injured in speed-related collisions. TfL aims to introduce safer speed limits across 150km of its road network, focusing high-risk sections of road, town centres where people walk and cycle, and ambitious local speed reduction programmes led by London boroughs.</p>

<p>To support this, TfL has today published a Lower Speeds Toolkit, which is designed to help engineers and designers make London's streets more welcoming and safe for everyone. The toolkit gives practical advice on the measures available to lower speed limits and ensure people comply, such as installing chicanes and virtual speed humps, reallocating space for walking and cycling and urban realm improvements.</p>

<hr />
<p>Notes to Editors:</p>

<ul>
	<li>Consultation report is here - <a href="https://consultations.tfl.gov.uk/streets/20/">https://consultations.tfl.gov.uk/streets/20/</a></li>
	<li>TfL's Lower Speeds Toolkit is here - <a href="[ioID]#http://content.tfl.gov.uk/achieving-lower-speeds-toolkit.pdf">http://content.tfl.gov.uk/achieving-lower-speeds-toolkit.pdf</a></li>
	<li>The Vision Zero Action Plan is here - <a href="[ioID]#http://content.tfl.gov.uk/vision-zero-action-plan.pdf">http://content.tfl.gov.uk/vision-zero-action-plan.pdf</a></li>
	<li>TfL is planning to make 20mph the new general speed limit on TfL roads within central London by May 2020, prioritising the part of the capital with a high volume of vulnerable road users including pedestrians, cyclists and motorcyclists. This is TfL roads within the Congestion Charge Zone, as follows:</li>
	<li>Albert Embankment</li>
	<li>Lambeth Palace Road, Lambeth Bridge</li>
	<li>Millbank</li>
	<li>Victoria Embankment</li>
	<li>Upper Thames Street, Lower Thames Street, Tower Hill</li>
	<li>Borough High Street, Great Dover Street</li>
	<li>Blackfriars Road</li>
	<li>Part of Druid Street (between Tower Bridge Road and Crucifix Lane), Crucifix Lane, part of Bermondsey Street (between Crucifix Lane and Tooley Street</li>
	<li>A 20mph limit will also be introduced at Aldgate Gyratory, including Leman Street, Prescot Street, Mansell Street, Minories and Goodman's Yard, which is on the boundary of the CCZ rather than within it&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</li>
	<li>Proposals for a 20mph speed limit on Tooley Street were consulted on separately as part of the Tooley Street Healthy Streets project. The 20mph speed limit part of this project will be delivered at the same time as the roads in this consultation, to provide value for money</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-September-Plans for 20mph speed limit in central London given the green light -->

 
 
        
        
            @{ViewBag.Description = "TfL’s plans for 20mph speed limit in central London given the green light to reduce road danger";}
        
        


 