


@{ViewBag.Title = "Plans to make streets safer for walking and cycling in Barking";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Plans to make streets safer for walking and cycling in Barking</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Plans to make streets safer for walking and cycling in Barking</h1>
        <div class="content-page-press-release">
        24 June 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Proposed 7km Cycleway would connect the growing neighbourhoods of Barking and Barking Riverside
        
    </div>



 <div class="on-this-page">
<ul>
	<li>The plans would make it easier and safer to cross busy roads and improve access to the Barking Riverside development</li>
	<li>Route is part of wider proposals connecting to llford Town Centre &nbsp;</li>
</ul>

<p>TfL is inviting people to have their say on plans to transform the growing neighbourhoods of Barking and Barking Riverside, creating safer streets that are less dominated by motor traffic and are instead much more welcoming to people walking, cycling and using public transport.</p>

<p>The proposed 7km Cycleway is the second new cycling route to be consulted on following TfL's Strategic Cycling Analysis, which used data to identify 25 areas which showed the best potential for growing cycling numbers. The route would connect the development at Barking Riverside, where more than 10,000 new homes are being built, with Barking Town Centre. It is part of wider proposals to connect with Ilford Town Centre, where an Elizabeth line station is due to open. The new route will also connect with Cycle Superhighway 3 at Mayesbrook Bridge, which provides a direct link to Canary Wharf and Central London.</p>

<p>New 'continuous' pedestrian crossings in the area will give priority to people moving on foot and a new walking and cycling footbridge over Mayes Brook will make journeys between Barking and Barking Riverside safer, faster and more direct.<br />
The proposed upgrades include:</p>

<ul>
	<li>A new 7km high-quality cycle route including a new stepped cycling track on Wakering Road providing two-way cycle access</li>
	<li>A new wider pedestrian and cycle footbridge over Mayes Brook. Lighting and green space improvements will be included as part of this bridge upgrade</li>
	<li>An upgraded walking and cycling crossing on Bastable Avenue will provide safer and easier access to Thames View Junior and Infant School and local businesses</li>
	<li>New 'continuous' pedestrian crossings at junction of St Awdrys and Eldred Road</li>
	<li>Links to both existing and proposed cycling routes including Cycle Superhighway 3 (Barking to Tower Gateway) and the proposed walking and cycling improvements at Ripple Greenway in Barking Riverside &nbsp;</li>
</ul>

<p>The consultation is now open for people to have their say at tfl.gov.uk/Ilford-barking until Monday 5 August. TfL will consult on its proposals for Station Parade, Renwick Road, and the connection to Ilford Town Centre at a later date.</p>

<p><strong>Will Norman, London's Walking and Cycling Commissioner, said: </strong></p>

<p>'These plans will enable many more people to walk and cycle as part of their everyday routine. By reducing road danger and cutting air pollution, we will make our streets much better for everyone. I encourage everyone who lives or works in Barking or Barking Riverside to have their say during the consultation.'</p>

<p><strong>Penny Rees, Head of Network Sponsorship at TfL, said: </strong></p>

<p><strong>'</strong>We are committed to reducing road danger across the capital and know that there is a real need for this in Barking and Barking Riverside, as well as high demand for walking and cycling, but that many people are put off by the amount of motor traffic and the lack of safe, clear routes. Our plans for the area would provide a real boost to communities in the area and make neighbourhoods safer, greener and cleaner. I'd encourage everybody to get involved in our consultation and to make sure their voice is heard.'</p>

<p><strong>The Leader of Redbridge Council, Cllr Jas Athwal, said:</strong></p>

<p>'This consultation is a fantastic opportunity for residents to have their say on exciting plans to develop a new Cycleway and improve pedestrian access between Ilford and Barking.</p>

<p>'These improvements will help reduce pollution and benefit residents' health by making it easier for everyone to walk and cycle rather than drive. I'm looking forward to hearing everyone's thoughts on the proposals.'</p>

<p><strong>Cllr Cameron Geddes, Cabinet Member for Housing and Regeneration for Barking and Dagenham Council, said: </strong></p>

<p>'The proposed Cycleway will be opening up a whole new world and opportunities for cyclists in east London and our borough. It will connect Barking Riverside to the river and to Barking Town Centre and even to central London via a segregated cycle route. I urge people to get involved and help shape the future of cycling.'</p>

<p><strong>Nick Davies, Transport Manager for Be First, Barking and Dagenham Council's regeneration company, said: </strong></p>

<p>'TfL and the Mayor are committed to expanding the capital's cycle network at pace and increasing the proportion of Londoners who live within 400 metres of the cycling network to 28 per cent by 2024, up from nine per cent. TfL has doubled the amount of protected space for cyclists since 2016 and is on course to triple this by 2020.'</p>

<p>Construction work on two major new routes, between Tower Bridge Road and Greenwich and Brentford and Olympia is set to begin later this year.</p>

<p>In 2018, the Mayor's Vision Zero, Walking and Cycling Action Plans set out ambitious targets for eliminating death and serious injury from London's roads and becoming the best city in the world for walking and the best big city for cycling. These plans will ensure safer streets and a high standard for walking and cycling routes, which will significantly increase the number of people walking and cycling as well as reduce road danger, congestion and air pollution.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-June-Plans to make streets safer for walking and cycling in Barking -->

 
 
        
        
            @{ViewBag.Description = "TfL sets out plans to make streets safer for walking and cycling in Barking and Barking Riverside";}
        
        


 