


@{ViewBag.Title = "Plans unveiled to improve Nine Elms Lane and Battersea Park Road";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Plans unveiled to improve Nine Elms Lane and Battersea Park Road</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Plans unveiled to improve Nine Elms Lane and Battersea Park Road</h1>
        <div class="content-page-press-release">
        04 July 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has published proposals to improve the streets of Nine Elms to support regeneration in the area and make it better for pedestrians, cyclists and bus passengers. The 2.5km stretch of Nine Elms Lane and Battersea Park Road would be completely redesigned to make more attractive, accessible and people-friendly streets.</p>
<p>The plans, which are open for consultation until Sunday 20 August, include:</p>
<ul>
    <li>A new substantially segregated cycle route of more than 2km</li>
    <li>Signals and junctions designed to separate cyclists and motor vehicles by time or space</li>
    <li>New wider pavements</li>
    <li>23 new or improved pedestrian crossings</li>
    <li>Extended or improved bus lanes</li>
    <li>A greener environment, with more trees and shade</li>
</ul>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: `The transformation of Nine Elms is a huge project that will bring new homes, jobs, shops and parks to the area. We have been working with the council and developers on temporary measures to ensure the safety of everyone while construction takes place and now we are setting out our proposals for longer-term improvements in the area. These will create a much better environment and real improvements for pedestrians, cyclists and public transport users, supporting the regeneration taking place and making the area better for everyone.'</p>
<p>Will Norman, London's Walking and Cycling Commissioner, said: `We have ambitious plans to make walking and cycling safer and easier across London, and our proposed improvements at Nine Elms will improve the lives of thousands of people based in the area over the coming years. With a new substantially segregated cycle route, newly designed junctions and transformed public spaces, the plans will ensure that encouraging walking, cycling and public transport is at the heart of this major project.</p>
<p>`As our city continues to grow, it is imperative that we continue to get more Londoners walking and cycling as part of their everyday lives, and whether you're commuting into central London from home or taking small journeys around Nine Elms, the plans will make a real difference improving people's quality of life.'</p>
<p>As part of his draft Transport Strategy the Mayor recently announced his intention to increase the proportion of people walking, cycling and taking public transport to 80 per cent of journeys by 2041. The strategy sets out a long-term ambition to transform the Capital's transport network and deliver a fairer, greener, healthier and more prosperous city for all Londoners.</p>
<p>The proposals are funded by local developer contributions. In total, more than &pound;1bn of new transport and social infrastructure is being delivered across Nine Elms on the South Bank as it transforms from a largely light industrial area into a vibrant new central London district.</p>
<p>These proposals come after TfL and Wandsworth Council confirmed they would install temporary upgrades to cycling and pedestrian infrastructure to protect vulnerable road users during the major development of the area. Subject to the outcome of this consultation, construction permanent improvements would begin in 2020.</p>
<p>The proposals are in line with the Mayor of London's and TfL's Healthy Streets Approach to make more attractive, accessible and people-friendly streets.</p>
<p>To respond to the consultation go to <a href="http://tfl.gov.uk/nine-elms-lane">tfl.gov.uk/nine-elms-lane</a></p>
<p>- Ends -</p>
<p>Notes to Editors:</p>
<ul>
    <li>Last month, the Mayor used his draft Transport Strategy to set out bold plans to reduce the Capital's dependency on the car - transforming the experience of walking, cycling and public transport in London over the coming decades</li>
    <li>The Mayor has set out a target to increase the proportion of people walking, cycling and taking public transport to 80 per cent of journeys by 2041, compared to 64 per cent now, meaning an average of 3 million fewer car journeys in London each day</li>
    <li>A key focus of this is the Mayor's &pound;2.1bn Healthy Streets Approach. This aims to create more attractive, accessible and people-friendly streets, where everybody can enjoy spending time and being physically active by making walking and cycling easier and safer across London</li>
    <li>Currently, more than 40 per cent of Londoners do not achieve the recommended 150 minutes of activity a week, and 28 per cent do less than 30 minutes a week. GLA analysis shows that if every Londoner walked or cycled for 20 minutes a day, it would save the NHS &pound;1.7bn in treatment costs over the next 25 years</li>
    <li>Earlier this year, London Walking and Cycling Commissioner Will Norman named the 73 junctions in the Capital with the worst safety records as he unveiled a new approach to delivering improvements for pedestrians and cyclists. New analysis uses the last three years of casualty figures on the TfL road network to identify the junctions with the poorest safety records so that they can be targeted for work. This analysis will now continue each year as part of a new approach that will see work continually monitored and the junctions with the most incidents prioritised</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-July-Plans unveiled to improve Nine Elms Lane and Battersea Park Road -->

 
 
        
        
            @{ViewBag.Description = "Plans unveiled to improve Nine Elms Lane and Battersea Park Road";}
        
        


 