


@{ViewBag.Title = "Modernising customer service on London Overground ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Modernising customer service on London Overground </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Modernising customer service on London Overground </h1>
        <div class="content-page-press-release">
        18 September 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Focus on improving service and utilising technology that best meets modern customer needs
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The London Overground network has improved enormously over the last decade. We want to continue that trend and make sure that we are continuing to provide a first-class service that meets the needs of today's customers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Jonathan Fox</div>
            <div class="quotee-job-title">Director of London Rail, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Plans will aim to increase number of directly employed staff and reduce reliance on agencies</li>
    <li>Proposals will not compromise safety and all stations will remain staffed at all times</li>
</ul>
<p>Transport for London (TfL) and Arriva Rail London (ARL), which operates London Overground, have announced plans to review and modernise customer service on London Overground.</p>
<p>TfL is delivering an ambitious programme of improvements on the Overground network, which includes Night Overground services from December this year and a new fleet of trains on many lines next year.</p>
<p>To further improve customer service, ARL will begin meeting with its staff and trade unions to discuss a range of initiatives, including making London Overground staff more visible and available at stations, providing assistance and information where it is most needed, and modernising the process for selling tickets to reflect changes in how people are paying for their travel.</p>
<p>As part of the programme ARL is considering increasing the number of staff it directly employs in permanent roles, and reducing reliance on agencies to cover customer service positions. The proposed new positions would be multifunctional so that staff are skilled to work in different areas of customer service, such as to help vulnerable people on their journeys, with a comprehensive package of training and development provided. All stations will continue to be staffed at all times while trains are running.</p>
<p>Other areas that ARL will work with staff and stakeholders to consider, include:</p>
<ul>
    <li>Customer information: upgrades to how customer information is provided, both by staff and also through technology such as digital screens in ticket halls and at station entrances and exits;</li>
    <li>Station operations: a review of how and where staff are deployed at stations, in particular making them more visible and accessible to better serve customers. This will include looking at what technology staff should be equipped with to enable them to most effectively serve customers while on the move;</li>
    <li>Ticketing: responding to the growth of Oyster and contactless ticketing, a review of the role of ticket offices on a station-by-station basis and upgrading ticket machine functionality across the network.</li>
</ul>
<p>ARL will also be consulting with London Travel Watch, the independent statutory watchdog for transport users in London, and the Department for Transport (DfT) on the emerging plans. The plans are being developed so that there will not be a need for compulsory redundancies.  Following the consultations, customers can expect to see improvements to their journey experience, with more staff visible and accessible, from next year.</p>
<p>In addition, the number of staff employed in permanent mobile revenue protection and security roles across the London Overground network is planned to be trebled by early 2019. They will act as a deterrent to crime and anti-social behaviour and assist customers once on their journeys.</p>
<p>Jonathan Fox, TfL's Director of London Rail, said: </p>
<p>'The London Overground network has improved enormously over the last decade. We want to continue that trend and make sure that we are continuing to provide a first-class service that meets the needs of today's customers. Over the years we have seen significant changes to how customers use stations and pay for travel and this exercise will enable ARL to consider how best to respond to these and make sure the Overground retains its position as one of the best train services in the UK.'</p>
<p>Will Rogers, Arriva Rail London's managing director, said: </p>
<p>'As the London Overground network has grown, our staff have been instrumental in adapting to customer trends, new technology and ways of working that benefit customers, communities and employees. There is no doubt that TfL's vision for the Overground is both strong and ambitious, and so we will work closely with them to achieve a joint goal of meeting the ever-changing needs of our customers and communities. Our programme aims to create a stronger London Overground, with a secure and skilled future for our employees.'</p>
<p>TfL and ARL have carefully reviewed the previous Fit for Future Stations programme on London Underground and are ensuring that all lessons learned are incorporated into the proposals. The proposals also take on board recommendations from the London Travel Watch's review into the London Underground programme published last year.</p>
<p>Since TfL launched London Overground in 2007 the frequency and reliability of trains have significantly improved and customer numbers have risen from 33 million in 2008/09 to more than 189 million a year today. There have been five separate extensions to the network to include 57 new stations, sixty-five new trains have come into service to provide greater capacity, and every London Overground station has been fully refurbished, many with enhanced accessibility. More than half of all stations now have step-free access from street to platform.</p>
<p>Future improvements for London Overground that are already confirmed include the introduction of a 24 hour night service for the very first time this December, following on from the successful Night Tube that launched in 2016. Services will run all night on Fridays and Saturdays between New Cross Gate and Dalston Junction, extending to Highbury &amp; Islington in the new year. Next year 45 new air-conditioned walk-through trains will also be introduced on the soon-to-be fully electrified Gospel Oak to Barking line, as well as the lines between Liverpool Street and Chingford, Enfield Town and Cheshunt, replacing rolling stock in many cases over thirty years old.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>Since TfL launched London Overground in 2007 it has grown to become the third largest operator in the United Kingdom in terms of passengers carried.  Initially operating 400 trains per day it now operates nearly 1,500 trains per day.</li>
    <li>London Overground is one of the best performing services in the UK, regularly in the top 3 of all train operating companies in terms of punctuality and reliability, with performance measures consistently at around 95 per cent. This is published by Network Rail, here: <a href="https://www.networkrail.co.uk/who-we-are/how-we-work/performance/public-performance-measure/">https://www.networkrail.co.uk/who-we-are/how-we-work/performance/public-performance-measure/</a></li>
    <li>Oyster and contactless payments using bank cards or other mobile devices have transformed ticket retailing and are the most popular ways for paying for transport in London. Today, more than 90 per cent of journeys on Tube, Rail and buses are paid for this way.</li>
    <li>Link to London Travel Watch (LTW) report on London Underground Fit for Future Stations. <a href="http://www.londontravelwatch.org.uk/ticketofficereview">http://www.londontravelwatch.org.uk/ticketofficereview</a></li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-September-Modernising customer service on London Overground  -->

 
 
        
        
            @{ViewBag.Description = "Plans to modernise customer service on London Overground ";}
        
        


 