


@{ViewBag.Title = "Pride celebrated across the Transport for London network";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Pride celebrated across the Transport for London network</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Pride celebrated across the Transport for London network</h1>
        <div class="content-page-press-release">
        03 July 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Pride and new trans roundels are featured at stations across the transport network
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"In London we celebrate our differences and Pride is the perfect opportunity for us to come together and honour the fantastic contribution our LGBT+ community makes to our city"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Shoreditch London Overground Station is transformed with rainbow and trans-inspired benches</li>
    <li>Transport for London launches LGBT+ Allies Network Group</li>
</ul>
<p>The Mayor of London, Sadiq Khan, and Transport for London (TfL) are getting in the spirit for Pride by transforming the transport network with the colours of the Pride and Trans flags.</p>
<p>Stations across London are being adorned with striking new roundels to show celebrate the LGBT+ community ahead of Pride in London on Saturday 7 July.</p>
<p>Rainbow roundels, which were very popular with customers last year, have been updated with the new hashtag #EveryLoveMatters, which encourages everyone to be proud of themselves, and love who they are as well as others. For the first ever time, a brand-new roundel in pink, blue and white, inspired by the trans flag, has been created as well. The roundels will be at a number of locations across the network, including Tottenham Court Road Underground station, Vauxhall Underground station, Romford TfL Rail, and Embankment Pier.&nbsp;</p>
<p>Shoreditch High Street Overground station has also been transformed with rainbow and trans-inspired benches, while City Hall and TfL's 55 Broadway office are proudly flying the rainbow flag all week to celebrate the capital's diversity.</p>
<p>Anyone hiring a Santander Cycle has the chance to ride on one of the limited-edition cycles that have been decorated with rainbow livery on their rear mudguards.</p>
<p>TfL is also launching a LGBT+ Allies group later this year for members of staff who would like to learn more about LGBT+ issues and support the LGBT+ community. This group will increase awareness and provides employees with a forum to ask questions and share advice, which will lead to a more inclusive environment for our staff and customers. The group will work with OUTbound, TfL's LGBT+ staff network group, which offers LGBT+ colleagues the opportunity to meet with other like-minded people in the organisation, who they might not usually get the chance to talk to, and discuss their experiences.</p>
<p>The Mayor of London, Sadiq Khan, said: </p>
<p>'I'm proud to raise the Pride flag at City Hall. For the first time this year London will celebrate our LGBT+ community with both rainbow and trans colours across the transport network. In London we celebrate our differences and Pride is the perfect opportunity for us to come together and honour the fantastic contribution our LGBT+ community makes to our city.'</p>
<p>London's Night Czar Amy Lam&eacute; said: </p>
<p>'I'm delighted that for the first time the trans flag will join the rainbow flag on roundels across London. Our capital's strength is in our diversity and we're once again showing that London is open for everyone, regardless of race, gender, sexual orientation, religion, ability or background.'</p>
<p>Staynton Brown, Director of Diversity and Inclusion, said: </p>
<p>'It is a pleasure to be supporting Pride and the LGBT+ community, celebrating the diversity of the capital and telling the world that, whatever your sexual orientation or gender identity, you are welcome in London. People travelling in the city will be able to spot our eye-catching designs at Shoreditch Overground station and at a variety of locations across inner and outer London.'</p>
<p>Stella Rogers, Arriva Rail London Customer Experience Director, said: </p>
<p>'The London Overground is renowned for connecting diverse and unique communities around London, and our team who work on the railway take immense pride in celebrating and reflecting the communities we serve. This is why we are proud to stand alongside Transport for London in support of the LGBT+ community at Shoreditch High Street station. Our team will give everyone a warm welcome.'</p>
<p>Susan Allen, Head of Customer Interactions at Santander, said: </p>
<p>'We are really excited to be a part of the celebrations here in London, one of the world's most diverse cities. Our ambition at Santander is to help people to prosper, so reflecting and celebrating diversity is something that is really important to us. Our rainbow Santander Cycles is just one of the ways we are supporting Pride this summer. We are also taking part in Pride marches in various cities across the UK and decorating local branches and ATMs with the rainbow livery, all demonstrating our strong commitment to the LGBT+ community.'</p>
<p>This year's initiatives build on TfL's strong legacy of promoting Pride, including the wrapping of Tottenham Court Road station, installation of diversity traffic signals and a range of rainbow-wrapped vehicles, including a London bus, black taxi and DLR train.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<hr />
<br />
Notes to Editors:<br />
<br />
The roundels, which begin to appear on the network from today, can be seen at:<br />
<ul>
    <li>Shoreditch High Street Overground station</li>
    <li>Tottenham Court Road Tube Station</li>
    <li>Earls Court Tube Station</li>
    <li>Charing Cross Tube Station</li>
    <li>Vauxhall Tube Station</li>
    <li>Romford Station</li>
    <li>Embankment Pier</li>
</ul>
Please find additional photos here: <a href="https://www.flickr.com/photos/tflpress/albums/72157692854464610">https://www.flickr.com/photos/tflpress/albums/72157692854464610</a><br />
<br />
<br />

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-July-Pride celebrated across the Transport for London network -->

 
 
        
        
            @{ViewBag.Description = "Pride celebrated across the Transport for London network";}
        
        


 