


@{ViewBag.Title = "Proposed changes to bus routes to improve reliability and reduce congestion";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Proposed changes to bus routes to improve reliability and reduce congestion</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Proposed changes to bus routes to improve reliability and reduce congestion</h1>
        <div class="content-page-press-release">
        25 November 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">

    <div class="article-teaser">
        The Elizabeth line and a switch to other forms of travel prompt fresh thinking on a number of bus routes in central London
    </div>



<div class="pull-quote">
        <div class="quote-body">"These proposals respond to the changing way people travel across central London and will do in the future"</div>
        <div class="quote-footer">
            <div class="quotee-name">Gareth Powell</div>
            <div class="quotee-job-title">TfL's Director of Strategy and Contracted Services</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL has today launched a consultation on proposed changes to 23 central London bus routes to better match bus services with demand from passengers.</p>
<p>The changes would improve the reliability of a number of bus routes that currently get caught up in congestion along Oxford Street, and improve air quality and safety on the street.</p>
<p>TfL wants to match bus services with demand in London in a smarter way.  As it does so in central London, additional services will be provided to support residential growth areas across the Capital, particularly in outer London.</p>
<h2>Travel patterns have changed</h2>
<p>The forthcoming Business Plan &#45; subject to sign-off by the TfL Board &#45; will see total bus mileage maintained across the Capital over the five year life of the plan.</p>
<p>As Londoners' travel patterns have changed, passenger journeys on bus routes outside zone 1 have increased by 23% over the last 10 years.</p>
<p>Overall, bus journeys entering zone 1 have increased at a much slower rate of just over 6%t.  On some central London routes passenger numbers have fallen.</p>
<p>A number of other factors are being considered, including a faster and more reliable Tube, with the Victoria and Northern lines now among the highest frequency services in Europe with a train every two minutes.</p>
<p>Bus route 73, which closely follows the route of the Victoria Line, has seen up to eleven per cent fewer customers this year compared to 2011‎ as customers choose the Tube and other forms of travel.</p>
<h2>New travel options</h2>
<p>The Night Tube is also providing new travel options to and from the West End, and the opening of the Elizabeth line in late 2018 is significant as it will transform how people travel across central London.</p>
<p>When fully open, the Elizabeth line will boost rail capacity in central London by 10% and provide a key new east-west link across the Capital, with 24 trains per hour in each direction serving step-free stations at the heart of London.  Many people will choose to use these services rather than taking a bus.</p>
<p>The Elizabeth line will have two new stations at Tottenham Court Road and Bond Street and will therefore play a particular role reducing bus demand on Oxford Street.</p>
<p>The Mayor is already working with City of Westminster to make Oxford Street more pedestrian friendly and the proposals for changes to bus services in central London are designed to start reducing the number of buses running along Oxford Street.</p>
<p>The proposals in the consultation would reduce the number of buses going along Oxford Street by around 40%.</p>
<h2>New Hopper fare</h2>
<p>A small number of customers would need to change buses to complete their journeys, but the new Hopper fare, introduced by the Mayor of London, Sadiq Khan, means that the second journey would be free.</p>
<p>All buses are fully accessible and the proposals would ensure that, where possible, customers can change buses at the same stop to complete their journey.</p>
<p>Gareth Powell, TfL's Director of Strategy and Contracted Services, said: 'These proposals ‎respond to the changing way people travel across central London and will do in the future.</p>
<p>'When the Elizabeth line services begin many more people will choose rail rather than road to get to and through the West End.</p>
<p>'By making these changes to bus services we can provide the right level of service and in the process we can make Oxford Street a safer and healthier place.'</p>
<h2>Reduce congestion</h2>
<p>Jace Tyrrell, CEO of New West End Company, said: 'We welcome Transport for London's proposal to reduce the number of buses across the West End, which will greatly help reduce congestion and improve air quality in London's retail heartland.</p>
<p>'Ahead of the arrival of the Elizabeth line in 2018, which is expected to bring 60 million visits to the West End annually, it is essential that there is genuine traffic reduction to ensure the West End retains its position as a world class retail destination.'</p>
<p>TfL's proposals would see more bus routes ‎starting and finishing at Park Lane, Trafalgar Square and Tottenham Court Road rather than moving at very low speed along Oxford Street, one of the country's most important retail hubs.  Examples of the changes include:</p>
<ul>
    <li>On route 137 &#45; it is proposed that buses would be re-routed to run between Streatham Hill (Telford Avenue) and the Marble Arch / Park Lane area, and not continue on to Oxford Circus.  The termination of the route at Marble Arch would mean a more reliable service on the rest of the route</li>
    <li>On route 390 &#45; it is proposed that buses would be re-routed to run to and from Victoria instead of Notting Hill Gate.  The frequency of this route would be increased so that buses run every six minutes instead of every eight, during the day Monday to Saturday</li>
    <li>On route 3 &#45; it is proposed that services would be re-routed to Russell Square, serving Charing Cross Road and Great Russell Street.  This would make it easier to travel between  Millbank, the British Museum and the Russell Square area.  It would also improve travel between Millbank and Tottenham Court Road station for passengers wishing to access Tube and Elizabeth line services</li>
</ul>
<p>For further information on the proposals and to respond to the consultation, please go to <a href="https://consultations.tfl.gov.uk/buses/west-end-bus-changes/?cid=west-end-bus-changes">www.tfl.gov.uk/west-end-bus-changes</a> or alternatively email <a href="mailto:consultations&#64;tfl.gov.uk">consultations&#64;tfl.gov.uk</a> or write to FREEPOST TFL CONSULTATIONS.</p>
<p>The consultation closes on 29 January 2017.</p>
<p>If a decision is taken to proceed with the changes to bus services, they would start to be introduced from summer 2017.</p>
<hr />
<p><strong>Notes to editors:</strong><br />
The bus routes affected by the proposed changes are: 3, 6, 8, 15, 22, 23, 25, 46, 73, 137, 172, 242, 332, 390, 425, 452, C2, N2, N3, N8, N15, N22 and N73.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-November-Proposed changes to bus routes to improve reliability and reduce congestion -->

 
 


 