


@{ViewBag.Title = "Prudential RideLondon in London and Surrey this weekend";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Prudential RideLondon in London and Surrey this weekend</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Prudential RideLondon in London and Surrey this weekend</h1>
        <div class="content-page-press-release">
        25 July 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The world's greatest festival of cycling returns to the Capital
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are asking everyone to plan their travel to ensure they can get around and make the most of the weekend.'"</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels, Managing Director of Surface Transport at TfL, said:</div>
            <div class="quotee-job-title">Managing Director of Surface Transport, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Roads and bridges will be closed across London on Saturday 29 and Sunday 30 July</li>
    <li>Road users are advised to plan ahead and change their route where possible to avoid disruption</li>
    <li>Tube, rail, walking and cycling will be the best ways to get around and enjoy the Prudential RideLondon weekend</li>
</ul>
<p>With the return of mass-participation and elite cycling to the Capital this weekend, Transport for London (TfL) is urging London's road users to plan ahead of essential road closures.</p>
<p>The multi-award winning Prudential RideLondon, now in its fifth year, has grown to be the world's largest mass participation cycling festival. This year the event begins at the Lee Valley Velopark in Queen Elizabeth Olympic Park. This is followed by a host of events over the weekend including FreeCycle - a free, family-friendly, mass-participation bike ride in traffic-free central London - sportives and elite races. The Prudential RideLondon-Surrey Classic is a UCI WorldTour event for the first time this year. In 2016 Prudential RideLondon inspired more than 50,000 people to cycle more.</p>
<p>On Saturday 29 July some roads in central London will be closed from 05:00 to 18:00 for Prudential RideLondon FreeCycle and Classique, as well as the Brompton World Championship Final. Waterloo Bridge will be the only closed bridge.</p>
<p>On Sunday 30 July roads throughout parts of east, central, west and southwest London and Surrey will be closed from 04:00 for the Prudential RideLondon-Surrey 46 and 100 sportives and Prudential RideLondon-Surrey Classic. They will begin to open once the events have passed and it is safe to do so, with the majority of roads reopened by 18:00. All roads are expected to be fully open by 20:00. Thirteen river crossings will be closed for part of the day, including Westminster Bridge, Tower Bridge and Battersea Bridge but the Blackwall Tunnel will remain open.</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: </p>
<p>'Prudential RideLondon is an established highlight of the Capital's calendar. Traffic-free roads and elite riders really will help to encourage more people to start using a healthy and sustainable way of getting about London.</p>
<p>'Road closures are necessary for this great traffic-free event so we are asking everyone to plan their travel to ensure they can get around and make the most of the weekend.'</p>
<p>Drivers are advised, wherever possible, to avoid areas near the routes and to ensure more time for journeys. Buses around the events will be on diversion or will finish early due to road closures.</p>
<p>Tube, rail, walking and cycling will be the best ways to get around London to enjoy the weekend although some stations, close to where events are taking place, will be busier than usual. Most of the network will be running as normal but some essential work between Uxbridge and Harrow will be taking place.</p>
<p>An extensive community awareness and engagement programme is underway to help residents plan ahead of the event. This includes posters across the transport network, customer information emails and a leaflet drop to more than one million residents and businesses along the route.</p>
<p>Variable messaging signs are in place around London advising drivers of the closures, and TfL will be providing up-to-date information through the &#64;TfLtrafficnews and &#64;TfLbusalerts Twitter feeds and on the TfL website to help drivers and bus users.</p>
<p>For more travel advice, please visit <a href="http://tfl.gov.uk/ridelondon">tfl.gov.uk/ridelondon</a> and <a href="http://PrudentialRideLondon.co.uk/road-closures">PrudentialRideLondon.co.uk/road-closures</a>.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>Prudential RideLondon is a world-class weekend cycling festival, developed by the Mayor of London, Transport for London and London &amp; Partners, in partnership with Surrey County Council. It is sponsored by Prudential. The event is managed by the London &amp; Surrey Cycling Partnership</li>
    <li>A full list of bridge closures can be found here &#45; <a href="http://ridelondon.co.uk/road-closures">ridelondon.co.uk/road-closures</a></li>
    <li>The following bridges will remain fully open: Twickenham Bridge, Richmond Bridge, Kew Bridge, Hammersmith Bridge, Blackfriars Bridge, Waterloo Bridge and London Bridge. The Blackwall Tunnel will also remain open</li>
    <li>Pedestrian access to properties will be maintained at all times, as will emergency access</li>
    <li>Prudential RideLondon helps to promote cycling and encourage more people to cycle safely and more often. The festival combines the fun of a traffic-free family ride through central London with the excitement of watching the world's best professional cyclists. Amateurs and professional cyclists will ride on the same closed roads passing some of the Capital's most iconic landmarks</li>
    <li>Four months after Prudential RideLondon 2016, the event was still influencing more than 50,000 people (participants and spectators) to cycle more</li>
    <li>Prudential RideLondon has won a total of 11 major awards to date:</li>
</ul>
<ul>
    <li>European Sport Tourism Event of the Year (2014)</li>
    <li>London Cycling Awards Event of the Year (2014)</li>
    <li>BT Sport Industry Awards: Participation Event of the Year (2013 and 2014)</li>
    <li>UK Event Awards: Large Event of the Year (2013) and Sports Event of the Year (2013 and 2014)</li>
    <li>2013 Cyclosport Industry Award, given for an outstanding contribution to the cycling industry</li>
    <li>Most Innovative Cycling Event and Favourite British Cyclo-Sportive in the Cycling Weekly readers' annual poll</li>
    <li>UK Cycling Event of the Year in the Total Women's Cycling readers' awards</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-July-Prudential RideLondon in London and Surrey this weekend -->

 
 
        
        
            @{ViewBag.Description = "Get ready for the return of Prudential RideLondon in London and Surrey this weekend";}
        
        


 