


@{ViewBag.Title = "Public support London's world-leading Direct Vision Standard ahead of October launch";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Public support London’s world-leading Direct Vision Standard ahead of October launch</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Public support London’s world-leading Direct Vision Standard ahead of October launch</h1>
        <div class="content-page-press-release">
        26 April 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Direct Vision Standard will increase the safety of Heavy Goods Vehicles from October, as part of the Mayor and TfL's Vision Zero commitment
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'm delighted by the support that the public has shown for our world-leading plans to remove the most unsafe lorries from our streets. In just a few months' time London will become the first city in the world to introduce safety permits for lorries, reducing the chances of further heartbreak and tragedy on our roads"</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL has today published the positive public response to a consultation on its world-first proposal to revolutionise the safety of Heavy Goods Vehicles (HGVs) on London's streets, which is due to come into effect in October.</p>

<p>The majority of consultation respondents were supportive of the final scheme proposals, including the permit application process, Safe System requirements and enforcement of the scheme.</p>

<p>The Direct Vision Standard will tackle road danger at its source by minimising HGVs' blind spots, which contribute to many tragic deaths and life-changing injuries.</p>

<p>This world-leading improvement, which will now be included in future European road safety regulation, will have safety benefits for people walking, cycling and riding motorcycles, who are more vulnerable on London's roads.</p>

<h2>World-leading improvement</h2>

<p>Restrictions in an HGV driver's field of vision, or 'blind spots' have been identified as a significant&nbsp;contributory factor in collisions.</p>

<p>Research shows that between 2015 and 2017, HGVs were disproportionately involved in fatal collisions with people cycling (63%) and walking (25%) on London's streets,&nbsp;despite only making up four per cent of the miles driven in the capital.</p>

<p>To overcome this, HGVs will be categorised depending on the level of a driver's direct vision from a cab, and will then be given a rating between 'zero-star' (lowest) and 'five-star' (highest).</p>

<p>Only those vehicles rated 'one-star' and above, or those that have comprehensive safety systems, will be able to operate in London from 2020. From 2024, the minimum requirement will be 'three-star' or a Progressive Safe System.</p>

<p>HGVs that do not meet the required Direct Vision Standard star rating will need to improve the overall safety through Safe System mitigating measures such as cameras, sensors and audible warnings.</p>

<p>Will Norman, London's Walking and Cycling Commissioner, said: 'I'm delighted by the support that the public has shown for our world-leading plans to remove the most unsafe lorries from our streets.</p>

<p>'In just a few months' time London will become the first city in the world to introduce safety permits for lorries, reducing the chances of further heartbreak and tragedy on our roads.</p>

<p>'Improving HGV safety standards will dramatically reduce danger for both cyclists and pedestrians. This will enable more people to cycle and walk as part of their everyday routine &#45; improving their health and helping tackle London's toxic air.'</p>

<h2>Save hundreds of lives</h2>

<p>TfL has today published the Response to Issues Raised document and results from the consultation earlier this year, showing the majority of respondents support the proposals.</p>

<p>Following comments submitted through the consultation, TfL has made changes to clarify the process, taking on board feedback from the freight industry and other respondents.</p>

<p>As the minimum requirement for HGVs increases from 'one-star' to 'three-star' in 2024, TfL has committed to consulting on the progressive Safe System requirements in 2022.</p>

<p>The Safe System is a series of vehicle safety measures for HGVs that don't meet the minimum standard of direct vision, including a camera monitoring system and sensors.</p>

<p>This will be reviewed ahead of 2024, becoming a Progressive Safe System, to take into account any additional technology or safety equipment not currently available. People will be able to have their say on proposals in 2022, as suggested by the freight industry.</p>

<p>Alex Williams, Director of City Planning at TfL, said: 'Our plan to reduce road danger around HGVs is a world first and will save hundreds of lives.</p>

<p>'By working with the freight industry and listening to their views, we are creating a scheme that works for everyone. We are delighted that the European Commission has included direct vision in their recent safety review and hope that it encourages other cities and countries to prioritise safety in freight.'</p>

<p>The majority of the 280 respondents are in favour of the proposals presented for the final scheme, including:</p>

<ul>
	<li>61% of the total respondents either agreed or strongly agreed with the proposed process for obtaining a vehicle star rating</li>
	<li>60% of the total respondents stated either they strongly agreed or agreed with the proposals for the permit application process</li>
	<li>67% of the total respondents stated they either strongly agree or agree with the proposed safe system mitigating measures (including cameras and mirrors)</li>
	<li>57% of respondents strongly agreed or agreed with the plans for how to enforce the scheme and deal with appeals</li>
</ul>

<h2>More ambitious</h2>

<p>TfL has provided clearer guidance on the requirements for the Safe System mitigating measures and enforcement, as well as additional details on the appeals process regarding any Penalty Charge Notice issued as part of the scheme.</p>

<p>It has also responded to questions around the Safe System, driver training and the application process for the HGV Safety Permit.</p>

<p>TfL is also inviting the public to have their say on the final consultation, which opens today. The consultation presents the final scheme proposals and gives people the opportunity to feed back on the proposed traffic regulation order required to implement the scheme.</p>

<p>This further consultation follows three rounds of consultation in 2016, 2018 and 2019, firstly on the principles of a Direct Vision Standard and then a proposal for an HGV safety permit scheme.</p>

<p>Last month, the European Commission, the Council of Europe and the European Parliament agreed on a&nbsp;final direct vision requirement, which is set to become a legal necessity for all lorries manufactured in Europe.</p>

<p>TfL and the Mayor have worked with road safety campaigners and other European cities, to successfully shorten the implementation timescales for this and encourage more ambitious requirements for categories of vehicles typically used in the city environment to be considered.</p>

<p>This is a major step in reducing road danger and will help make all HGVs safer across Europe.</p>

<p>The Mayor of London, Sadiq Khan, brought leading politicians and road safety policy makers together in London in February ahead of the vote to urge them to improve lorry safety across Europe.</p>

<p>The Direct Vision Standard forms a key part of the Mayor's Vision Zero approach to eliminating all deaths and serious injuries from London's roads by 2041.</p>

<h2>Improve lorry safety</h2>

<p>Natalie Chapman, Head of Urban Policy, Freight Transport Association (FTA), said: 'FTA, the largest business group in the logistics sector, supports the Mayor's ambition for zero harm by vehicles on London's streets.</p>

<p>'The freight industry takes road safety extremely seriously and FTA has been working closely with TfL throughout the development of the Direct Vision Standard.</p>

<p>'It is good to see that many of our practical concerns about the scheme have been taken on board. However, the future of road safety will be delivered through technological development and new vehicle design standards which will be best set at an international level.'</p>

<p>Susie Morrow, Vice Chair at London Living Streets, said: 'London Living Streets is delighted to see the broad public support for TfL's Direct Vision Standard, the third consultation stage for which has been announced today.</p>

<p>'More than a quarter of pedestrian road deaths in London involve a lorry, and the majority of these occur when lorries are moving off from a stationary position.</p>

<p>'Minimising the blind spot in front of lorry cabs will greatly reduce the danger that lorries pose to people walking and our other most vulnerable road users.</p>

<p>'London Living Streets Group has worked closely with TfL and with other stakeholders in developing the Direct Vision Standard and we look forward to continuing to work together towards our shared aim of achieving Vision Zero on London's streets.'</p>

<p>The timeline for the Direct Vision Standard is as follows:</p>

<ul>
	<li><strong>October 2019</strong>: The first permits will be issued. Trucks rated 0* will need to upgrade to a Safe System in order to get a permit</li>
	<li><strong>2020</strong>: Enforcement begins</li>
	<li><strong>2022</strong>: Consultation on the progressive Safe System</li>
	<li><strong>2024</strong>: The minimum Direct Vision Standard star rating increases from one to three star or a progressive Safe System</li>
</ul>

<hr />
<p><strong>Notes to editors:</strong></p>

<ul>
	<li>The Phase 2c consultation and the Phase 2b Response to Issues Raised document can be found here: <a href="https://consultations.tfl.gov.uk/roads/direct-vision-standard-phase2c/?cid=direct-vision-standard">consultations.tfl.gov.uk/roads/direct-vision-standard-phase2c/?cid=direct-vision-standard</a></li>
	<li>Following careful consideration of the consultation responses, TfL has made changes and updates to the proposals which will be taken forward for further consultation:
	<ul>
		<li><strong>Safe System </strong>&#45; TfL has provided clearer guidance on the requirements for the safe system mitigating measures, here: consultations.<a href="https://consultations.tfl.gov.uk/++preview++/roads/direct-vision-standard-phase2c/user_uploads/appendix-2-hgv-safety-permit-guidance-for-operators-april-2019.pdf">tfl.gov.uk/++preview++/roads/direct-vision-standard-phase2c/user_uploads/appendix-2-hgv-safety-permit-guidance-for-operators-april-2019.pdf</a></li>
		<li><strong>Progressive Safe System </strong>&#45; TfL has committed to consulting on the progressive safe system in 2022 ahead of its introduction in 2024. The Safe System is a series of vehicle safety measures for HGVs that don't meet the minimum standard of direct vision, including a camera monitoring system and additional mirrors. This will be reviewed ahead of 2024 to take into account any additional technology or safety equipment not currently available</li>
		<li><strong>Driver Training </strong>&#45; TfL has clarified that driver training, while highly recommended is not a mandatory requirement for obtaining a permit. A list of providers of will be included on the permit application portal</li>
		<li><strong>HGV Safety Permit </strong>&#45; For HGVs that meet the minimum DVS star rating (one star in 2020,) permits will be issued automatically once the online application has been completed. During the pre-compliance year (October 2019 &#45;October 2020) permits for HGVs that are required to fit the safe system will be issued within 28 days following approval of the safe system evidence pack. Once enforcement of the scheme begins in October 2020, the turn-around period will be shortened and a system put in place for expedited applications. Further details on this will be communicated later this year. TfL has also provided details on the appeals process where a permit application is refused</li>
		<li><strong>Enforcement</strong> &#45; TfL has provided further guidance on the enforcement process for the scheme</li>
		<li><strong>Appeals Process </strong>&#45; TfL has provided details on the appeals process regarding any Penalty Charge Notice issued under the Scheme</li>
	</ul>
	</li>
	<li>TfL's Vision Zero Action Plan is available here: <a href="https://tfl.gov.uk/corporate/safety-and-security/road-safety/vision-zero-for-london">tfl.gov.uk/corporate/safety-and-security/road-safety/vision-zero-for-london</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-April-Public support London’s world-leading Direct Vision Standard ahead of October launch -->

 
 
        
        
            @{ViewBag.Description = "Another step forward for London’s world-leading Direct Vision Standard and safer roads for vulnerable road users, as public give their support ahead of October launch";}
        
        


 