


@{ViewBag.Title = "Real-time traffic updates to be displayed on buses";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Real-time traffic updates to be displayed on buses</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Real-time traffic updates to be displayed on buses</h1>
        <div class="content-page-press-release">
        10 August 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">

    <div class="article-teaser">
        Part of TfL's commitment to inform drivers and improve journey reliability on London's roads
    </div>



<div class="pull-quote">
        <div class="quote-body">"We're focused on keeping London moving and on giving drivers real-time information through a range of channels to help them avoid congested roads and reduce wasted time and needless pollution from idling car"</div>
        <div class="quote-footer">
            <div class="quotee-name">Garrett Emmerson</div>
            <div class="quotee-job-title">TfL's Chief Operating Officer for Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<p>The iconic London bus is now helping to improve traffic in the Capital as TfL starts a trial of displaying live traffic information on the back of buses. A number of buses on route 344 are displaying real-time traffic information using digital information boards in a world first.</p>
<p>This innovative technology is being trialled on buses between Clapham Junction and Liverpool Street to provide London's drivers with a new source of information to help avoid congestion and improve their journeys and the reliability and efficiency of the roads.</p>
<p>The buses have been fitted with electronic boards by Equitech IT Solutions, which use GPS technology to give accurate and up-to-date traffic information. The information is taken from the TfL Variable Message Sign network, which is fed by TfL's 24-hour traffic control centre.</p>
<p>If successful, this could be expanded across London.</p>
<h2>Most iconic feature</h2>
<p>Garrett Emmerson, TfL's Chief Operating Officer for Surface Transport, said: 'This innovative use of one of the Capital's most iconic features &#45; the London bus &#45; will help all road users.</p>
<p>'We're focused on keeping London moving and on giving drivers real-time information through a range of channels to help them avoid congested roads and reduce wasted time and needless pollution from idling cars.'</p>
<p>This ground-breaking approach will be used on a further bus route &#45; route 415 between Tulse Hill and Liverpool Street &#45; in the autumn.</p>
<p>This follows the successful trial of live traffic information displayed on taxi advertising boards by Brightmove Media Limited, which proved the concept of real-time traffic information delivered in this form.</p>
<h2>Keep traffic moving</h2>
<p>Craig Holloway, Chief Executive of Equitech IT Solutions, said: 'We are delighted to be partnering with TfL to trial this new technology.</p>
<p>'We know how beneficial having real-time traffic information can be for road users, and the technology we have developed will hopefully make life for Londoners easier by having up-to-date information provided to them when travelling on the Capital's roads.'</p>
<p>Tony Wilson, Managing Director of Abellio London, said: 'At Abellio we aim to take travel 'beyond a-to-b' and believe that this innovation can help achieve that goal. Initiatives which help keep traffic moving will also help those travelling by bus.'</p>
<p>TfL is constantly monitoring and analysing the road network to find ways to improve its reliability. This latest initiative supports other measures such as the use of intelligent traffic signals - Split Cycle Offset Optimisation Technique &#45; which reduce delays by up to 12%.</p>
<hr />
<p><strong>Notes to Editors:</strong></p>
<ul>
    <li>Route 344 runs between Clapham Junction and Liverpool Street railway station</li>
    <li>Route 415 runs between Tulse Hill and Old Kent Road</li>
    <li>Each route will run the pilot for six months</li>
    <li>Buses are vital to London &#45; carrying around 2.4 billion passengers a year and contributing to the &pound;169.5m raised in advertising revenue, which is reinvested in the network. The digital information boards &#45; which do not carry advertisements - have been installed without reducing the advertising potential of the buses</li>
    <li>The information taken from the TfL Variable Message Sign network is available free of charge at api.tfl.gov.uk. This forms part of TfL's commitment to make real time travel information openly available to help developers create better products and services for customers</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-August-Real-time traffic updates to be displayed on buses -->

 
 


 