


@{ViewBag.Title = "Reminder: Works at Camden Town Tube station to boost reliability";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Reminder: Works at Camden Town Tube station to boost reliability</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Reminder: Works at Camden Town Tube station to boost reliability</h1>
        <div class="content-page-press-release">
        27 July 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">

    <div class="article-teaser">
        Changes to northbound Northern line services over five working days, from Monday &#45; Friday
    </div>



<div class="pull-quote">
        <div class="quote-body">"While Camden Town is one of the busiest junctions on the Tube network, it still relies on decades-old infrastructure. Replacing the tracks will improve reliability for our customers and will ensure we're prepared for the future"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Hughes</div>
            <div class="quotee-job-title">Director of Strategy and Service Development, London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Customers are advised to plan ahead, start their journey on the correct branch and avoid changing at Camden Town or Euston</li>
    <li>Work also planned for this weekend, and over 6 &#45; 7 and 20 &#45; 21 August</li>
    <li>Live travel information is available at  <a href="http:// tfl.gov.uk/northern-line-works">tfl.gov.uk/northern-line-works</a> and through Twitter via <a href="http://tfl.gov.uk/twitter-alerts">tfl.gov.uk/twitter-alerts</a> and &#64;TfLTravelAlerts</li>
</ul>
<p>Transport for London (TfL) is set to carry out essential track replacement work at Camden Town Tube station starting on Saturday. The modernisation work will improve journey times and ensure a more reliable service in the coming years, as the Tube carries ever more passengers.</p>
<p>The nature of the work means that there will need to be changes to northbound Northern line services over five working days. Between Monday and Friday next week, northbound Northern line trains will run as follows:</p>
<ul>
    <li>Charing Cross branch trains will only go to High Barnet / Mill Hill East</li>
    <li>Bank branch trains will only go to Edgware</li>
</ul>
<p>While the work takes place, Tube customers are advised to start their journeys on the correct branch of the Northern line, and avoid changing at Camden Town or Euston during the evening peak as the stations will be extremely busy, particularly between 17:30 &#45; 18:30.</p>
<p>Between Monday and Friday next week, Camden Town station will be exit-only between 16:00 &#45; 19:00 and if the station gets too busy, trains may not stop there. Customers will be guided to use nearby Mornington Crescent or Chalk Farm Tube stations.</p>
<p>The track replacement work will also require changes to Northern line services over the following three weekends, when there will be no service between Hampstead / High Barnet / Mill Hill East and Charing Cross / Moorgate:</p>
<ul>
    <li>Saturday 30 and Sunday 31 July</li>
    <li>Saturday 6 and Sunday 7 August</li>
    <li>Saturday 20 and Sunday 21 August</li>
</ul>
<p>During the planned weekend closures, there will be replacement bus services along the route.</p>
<p>David Hughes, London Underground's Director of Strategy and Service Development, said: </p>
<p>'While Camden Town is one of the busiest junctions on the Tube network, it still relies on decades-old infrastructure. Replacing the tracks will improve reliability for our customers and will ensure we're prepared for the future.</p>
<p>'Though we try to carry out as much of our improvement work as possible when the Tube is closed, we need to make service changes this time to enable us to carry on behind the scenes. We're working hard to keep disruption to a minimum and we thank our customers for their patience while this vital upgrade is carried out.'</p>
<p>The work has been planned for August to coincide with the quieter summer period. For more weekday information and travel advice, customers are advised to visit <a href="http://tfl.gov.uk/northern-line-works">tfl.gov.uk/northern-line-works</a> and to follow &#64;TfLTravelAlerts for live travel updates. Customers following &#64;northernline can also get direct disruption alerts straight to their mobile device by visiting tfl.gov.uk/twitter-alerts as part of TfL's world-first pilot with Twitter.</p>
<p>&nbsp;</p>
<hr />
<p >Notes to Editors:</p>
<ul>
    <li>TfL's world-first trial with Twitter allows customers to opt-in to be automatically alerted of severe delays on all 14 London Underground and TfL rail services as soon as they occur. Users can also choose to receive alerts for certain times of day, creating an even more personalised service.</li>
    <li>Replacement buses will operate during the weekend closures and some may be affected by traffic displaced by the Prudential Ride London event road closures on Saturday 30 and Sunday 31 July.  This event will take place on traffic-free roads in London and Surrey.</li>
    <li>The organisers of the event are working with TfL to help residents and businesses along the route plan ahead. To avoid delays drivers are advised to avoid areas near the event routes. More information and advice will be available on <a href="http://tfl.gov.uk/ridelondon">tfl.gov.uk/ridelondon</a>. TfL has also worked closely with the event organisers to ensure that the impact of the planned London Underground closures on the event is minimal.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-July-Reminder: Works at Camden Town Tube station to boost reliability -->

 
 


 