


@{ViewBag.Title = "REMINDER: Full weekend closures of Staples Corner Flyover ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">REMINDER: Full weekend closures of Staples Corner Flyover </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>REMINDER: Full weekend closures of Staples Corner Flyover </h1>
        <div class="content-page-press-release">
        29 August 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) is reminding London's road users that the Staples Corner Flyover on the North Circular (A406) will be closed for three weekends in September for essential refurbishment.</p>
<p>During the closures all main and local roads in the surrounding area will be extremely busy, so road users are advised to allow more time for journeys and use alternative routes where possible.</p>
<p>The closures are to allow a 40-strong workforce to replace two 22-metre long steel expansion joints. The joints, which are vital to allow the flyover to cope with temperature change, were repaired 11 years ago, but are now in a poor condition and need replacing to avoid long-term disruption to motorists.</p>
<p>TfL considered every alternative to the full closure of the flyover, however to do this essential work using part-closures would have taken nearly 50 days and would have affected many more road users.</p>
<p>The flyover will be fully closed in both directions between the following times:</p>
<ul>
    <li>22:00 Friday 1 September - 05:00 Monday 4 September</li>
    <li>22:00 Friday 8 September - 05:00 Monday 11 September</li>
    <li>00:01 &#45; 23:59 Sunday 17 September</li>
</ul>
<p>In addition to the three full weekend closures, preparation and resurfacing work will also affect traffic at other times:</p>
<ul>
    <li>The flyover is being reduced to one lane in each direction for four consecutive nights between 22:00 and 05:00 from Monday 28 August to Thursday 31 August</li>
    <li>The flyover will be closed eastbound from 22:00 Monday 18 September to 05:00 Tuesday 19 September, and westbound from 22:00 Tuesday 19 September to 05:00 Wednesday 20 September</li>
</ul>
Leon Daniels, Managing Director of Surface Transport at TfL, said: `We're sorry for the disruption this vital refurbishment of the Staples Corner Flyover will cause. We will be working as fast as we can to replace the expansion joints, which is essential to extend the life span of the flyover. During the closures road users in the area should allow more time for their journeys and, where possible, consider alternative routes.'
<p>TfL has a number of measures in place to help reduce the impact of the closure, including:</p>
<ul>
    <li>Rapid response units placed around the area on standby to clear any incidents or accidents on surrounding roads</li>
    <li>Messaging advising drivers of the closures</li>
    <li>Re-phasing of traffic signals in the area to reduce disruption as much as possible and ease displaced traffic</li>
    <li>Cancellation of any non-urgent roadworks in the local area</li>
</ul>
<p>An extensive awareness campaign has begun to help road users plan for the closures. This includes letters to nearly 20,000 homes and properties in the area, direct emails to nearly 500,000 road users and stakeholders as well as TfL's usual real-time social media alerts.</p>
<p>TfL will be providing up-to-date information through the &#64;TfLTrafficNews and &#64;TfLBusAlerts Twitter feeds and on <a href="http://tfl.gov.uk/trafficnews">tfl.gov.uk/trafficnews</a> to help drivers and bus users. More information about the project can be found here: <a href="http://tfl.gov.uk/northwest-london-major-roadworks">tfl.gov.uk/northwest-london-major-roadworks</a>.</p>
<p>TfL is committed to reducing unnecessary disruption on London's roads and will use this closure to perform a number of other routine maintenance tasks &#45; lessening future disruption for road users in the area. Carrying out this maintenance at the same time as replacing the joints will save at least six nights of additional disruption.</p>
<p>Ends</p>
<p>Notes to Editors:</p>
<ul>
    <li>Maps showing the expected impacted area are available at <a href="http://tfl.gov.uk/northwest-london-major-roadworks">tfl.gov.uk/northwest-london-major-roadworks</a></li>
    <li>The expansion joints can expand and contract by up to nearly 80 cm</li>
    <li>Without the joints replacement the flyover would likely require speed restriction or late-notice closures</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-August-REMINDER: Full weekend closures of Staples Corner Flyover  -->

 
 
        
        
            @{ViewBag.Description = "REMINDER: Full weekend closures of Staples Corner Flyover ";}
        
        


 