


@{ViewBag.Title = "Reminder: Lambeth North customers to benefit from new lifts";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Reminder: Lambeth North customers to benefit from new lifts</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Reminder: Lambeth North customers to benefit from new lifts</h1>
        <div class="content-page-press-release">
        11 July 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">

    <div class="article-teaser">
        Essential lift replacement work to begin this Wednesday
    </div>



<div class="pull-quote">
        <div class="quote-body">"Closing the station is the quickest and most efficient way to replace the lifts &#45; the decision has not been taken lightly and we will work hard to complete this vital upgrade as quickly as possible, keeping customers and local businesses up to date as the work progresses"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mark Wild</div>
            <div class="quotee-job-title">Managing Director of London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<p>London Underground (LU) is advising customers who use Lambeth North Tube station that vital work to replace the station's two lifts will begin this Wednesday.</p>
<p>The current lifts are nearly 30 years old and need to be replaced to ensure they work reliably &#45; the current lifts fail regularly causing travel disruption to customers.</p>
<p>The complex nature of the work means that the station will be closed while this essential lift replacement is carried out.</p>
<h2>Quickly as possible</h2>
The work will be carried out as quickly as possible to allow the station to re-open in mid-February 2017.
<p>LU explored in detail the option of replacing the lifts one at a time while keeping the station open.</p>
<p>However, it found that leaving one lift in operation would lead to larger volumes of customers using it, putting the lift under greater stress and increasing the likelihood of it failing.</p>
<p>This would mean more unplanned station closures and more disruption for customers.</p>
<p>Additionally, the total time to complete the work on both lifts would increase from 30 weeks to 64 weeks if the lifts were replaced one at a time while keeping the station open.</p>
<h2>More reliable</h2>
<p>The adjacent spiral stairs cannot be used as the sole means of access between the ticket hall and platforms as there are around 100 steps, which are too narrow for a two-way flow of customers.</p>
<p>Mark Wild, Managing Director of London Underground, said: 'I'm sorry for the disruption that the lift work will cause our customers, but the new lifts will be more reliable with fewer delays when the work is complete.</p>
<p>'Closing the station is the quickest and most efficient way to replace the lifts &#45; the decision has not been taken lightly and we will work hard to complete this vital upgrade as quickly as possible, keeping customers and local businesses up to date as the work progresses.'</p>
<h2>Lengthy process</h2>
<p>Lift replacement in Tube stations is a lengthy process due primarily to the restricted working space and the complexity of working underground in cramped lift shafts.</p>
<p>Because of this, replacing lifts at a station like Lambeth North &#45; with a single lift shaft that continues deep underground &#45; takes some months.</p>
<p>During the period when the station is closed, customers are advised to use neighbouring stations &#45; Waterloo, Elephant &amp; Castle, and Southwark.</p>
<p>Lambeth North is also well served by 10 different bus routes connecting passengers to a number of locations, including alternative London Underground stations.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<p>Information including a video on how we replace lifts on our network can be found here: <a href="http://www.tfl.gov.uk/campaign/tube-improvements/behind-the-scenes/escalator-refurbishment?intcmp=14562">http://www.tfl.gov.uk/campaign/tube-improvements/behind-the-scenes/escalator-refurbishment?intcmp=14562</a></p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-July-Reminder: Lambeth North customers to benefit from new lifts -->

 
 


 