


@{ViewBag.Title = "Resurfacing required for Blackwall Tunnel following significant fuel and hydraulic fluid spillage ";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Resurfacing required for Blackwall Tunnel following significant fuel and hydraulic fluid spillage </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Resurfacing required for Blackwall Tunnel following significant fuel and hydraulic fluid spillage </h1>
        <div class="content-page-press-release">
        24 May 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">



 <div class="on-this-page">
<p>The Blackwall Tunnel is closed northbound following a large spillage of fuel and hydraulic fluid this morning stretching three-quarters of the length of the tunnel (1.1km). Damage caused by the spillage means that carriageway resurfacing is required immediately to repair the surface and make it safe for drivers. Contractors have been on-site all morning cleaning the fluid and preparing the road for resurfacing, which is likely to mean the northbound tunnel is closed for the remainder of the day. Drivers are advised to avoid the area while resurfacing takes place and motorists affected by the congestion are being moved where possible using adjacent slip roads.</p>
<p>Garrett Emmerson, TfL's Chief Operating Officer, Surface Transport, said: `We apologise to drivers and bus passengers who have been affected by today's closure of the northbound Blackwall Tunnel and we are working hard to resurface the road as quickly as possible. A major fuel and hydraulic fluid spillage &#45; three quarters of the length of the tunnel - was discovered shortly before 07:00 this morning, making the tunnel unsafe. Contractors on-site have cleared the road and now need to repair the road surface and the adjacent slip roads are being used where possible to help move vehicles away from the area. We have seen on CCTV footage that the spillage was caused by a crane being carried on a lorry and will be investigating further.'</p>
<p>Spillages of this nature can cause significant damage to the road surface and render it unsafe. As the highway authority for the Blackwall Tunnel, Transport for London (TfL) is responsible for ensuring the safety of all road users and will not re-open the northbound tunnel until it is safe to do so. CCTV footage has shown the hydraulic fluid to have come from a mobile crane and an investigation will be carried out.</p>
<p>All other planned non-essential road works have been suspended wherever possible across east and south-east London to reduce the impact that the Blackwall Tunnel closure is causing. Eight bus routes have been diverted while the northbound tunnel remains closed and bus passengers are able to use their tickets on local DLR and London Underground services.</p>
<p>Road users are advised to follow the TfL Traffic News twitter account - &#64;TfLTrafficNews - for updates and to get live information to plan an alternative journey using at <a href="http://www.tfl.gov.uk/trafficnews">www.tfl.gov.uk/trafficnews</a>.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-May-Resurfacing required for Blackwall Tunnel following significant fuel and hydraulic fluid spillage  -->

 
 


 