


@{ViewBag.Title = "Retail Innovation winner offers retail space by the hour";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Retail Innovation winner offers retail space by the hour</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Retail Innovation winner offers retail space by the hour</h1>
        <div class="content-page-press-release">
        24 September 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Sook announced as the winner of TfL's retail innovation competition
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Sook's concept shone through and we're thrilled to be supporting them as they launch their first store in the capital"</div>
        <div class="quote-footer">
            <div class="quotee-name">Candice Lemaitre</div>
            <div class="quotee-job-title">Commercial Development - Innovation Lead, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>The company offers brands the chance to have a physical retail presence as and when they need it</li>
	<li>By using digital interior displays for branding, multiple businesses can use the single space throughout the course of the day</li>
	<li>TfL will provide free retail space to Sook for one year in London, their first store in the capital</li>
</ul>

<p>Transport for London (TfL) has announced that Sook is the winner of its first retail innovation competition, which it launched in May to encourage new and innovative methods of using retail space across its estate.&nbsp; Sook uses technology to offer adaptive retail space. It enables businesses and individuals to have a physical space as and when they need it &#45; with time slots for as short as one hour. It also enables them to tailor the space by encouraging them to create their own digital interior to display their branding.</p>

<p>TfL launched the competition because, as the needs of customers change, the retail industry is adapting and rethinking what it can offer in order for their brands to stay attractive and relevant. Physical retail locations are often becoming destinations in themselves. At the heart of these changes are technology and innovation, which is why TfL's competition encouraged businesses to consider how they can utilise technology and create a novel concept to meet the needs of TfL's customers and push the boundaries of retail.</p>

<p>As the winner of the competition, Sook embodies this ethos and will now have the opportunity to launch its concept in London. For the first time, TfL is providing the company with free retail space on its estate as part of the prize for twelve months. While the exact location is still being finalised, through this competition, Sook will be expanding to London for the first time.</p>

<p>The space will provide something for all types of businesses from established brands to small and independent businesses. By offering flexible time slots &#45; in terms of both length and timing &#45; businesses can choose to occupy the space in the most effective way for their organisation. For example, businesses can book recurring short slots if they don't require a permanent space, such as for evening yoga classes or fundraising events. They can also choose to book the space as a one-off to launch a product, test out a location before setting up a permanent store or host an exhibition. It is not just businesses which can book the space. Individuals can book it too, whether somebody is looking for a meeting space or an area to host an event.</p>

<p>By choosing Sook as the winner, TfL is enabling its estate to be used in an innovative way to help support even more young and small businesses to thrive and grow in London. TfL's retail estate has a variety of spaces - with a range of sizes, locations and types &#45; that offer young businesses a fantastic platform to test out their concepts and develop, as shown with 86 per cent of TfL's current tenants being small and medium-sized businesses. Sook enables TfL's customers and those living, travelling and working in London the opportunity to experience a wide variety of different experiences and businesses.</p>

<p><strong>John Hoyle, Founder of Sook, said: </strong></p>

<p>'We are delighted to have won TfL's first ever retail innovation competition. Sook represents the future of retail and we thank TfL for believing in our concept, which embraces a different way of using physical spaces in our urban centres. We are really looking forward to working with them and using our vibrant and inclusive approach as one of the newest additions to TfL's estate to bring more opportunities to brands and customers alike.'</p>

<p><strong>Candice Lemaitre, who coordinated the retail innovation competition as the Commercial Development - Innovation Lead at TfL, said: </strong></p>

<p>'Congratulations to Sook for winning our first ever retail innovation competition. Amongst a fantastic shortlist, Sook's concept shone through and we're thrilled to be supporting them as they launch their first store in the capital. Our estate offers businesses of all sizes the opportunity to thrive and we are glad to see that Sook's concept will support other organisations to do this also.'</p>

<p><strong>Rikesh Shah, Head of Commercial Innovation at TfL and one of the competition's judges, said: </strong></p>

<p>'Sook's offering of a creative and flexible use of TfL's retail space, bringing in more businesses to provide an improved offering for our customers throughout the whole day, was what made them stand out and win. Technological advancements are encouraging the retail sector to keep on its toes and constantly adapt to deliver innovative techniques and products to enhance customer experiences on our network. The shortlisted companies show that there are a range of exciting opportunities just waiting to be taken forward and we're pleased to be at the forefront of change, building on our history of working with innovative companies.'</p>

<p>Sook was chosen as the winner following stiff competition from the other shortlisted organisations. The volume and quality of the concepts presented as part of the competition was of an extremely high calibre, having initially received 29 entries from a range of exciting and innovative companies. TfL is now seeking to work with many of the shortlisted companies, so that they can realise the potential that the TfL retail estate can offer them and their business as they look to grow.</p>

<p>Following the competition's launch in May, the entries were evaluated against a range of criteria, including innovation and approach, deliverability, team management, financial resources and the scalability of their concept. It challenged businesses, including start-up brands, to come up with an innovative and technological concept that will reimagine the use of physical space in retail and deliver a unique experience for customers who travel using the transport network every day.</p>

<hr />
<p>Notes to editors:</p>

<p>Competition Background</p>

<ul>
	<li>Sook will now receive free retail space on TfL's estate, subject to contracts.</li>
	<li>For more details of the competition, including the full terms and conditions, please visit: <a href="[ioID]#https://madeby.tfl.gov.uk/2019/05/13/connected-retail-london/">https://madeby.tfl.gov.uk/2019/05/13/connected-retail-london/</a></li>
	<li>The prize being offered is subject to a number of terms and conditions, which can be found using the above link. As part of these terms and conditions, a turnover rent will be payable by the winner at 10 per cent of business revenue, net of capital costs, attributable to the winner's use of the space(s) (excluding VAT only). The prize will not include and the winner will remain responsible for: utilities supplies, business rates, equipment, furniture, and props to be used in the space(s) and all costs relating to the same.</li>
</ul>

<p>The shortlisted companies and their concepts were:</p>

<ul>
	<li>MakersCAFE: It is a place where people can 'make' things by using innovative state-of-the-art technologies, such as 3D printing and laser-cutting, while also being in a social interactive cafe environment.</li>
	<li>Nayad: Nayad's concept offers customers the chance to purchase mineral water exactly to their tastes by offering it as either still or sparkling, at a range of temperatures and with optional healthy additions, while getting rid of the need for disposable bottles.</li>
	<li>Petit Pli: Petit Pli uld use the retail location as an experiential shop, working research lab and interactive wo exhibition for their company, which designs clothes that grow through seven different sizes, fitting children between 9 months and 4 years.</li>
	<li>Popertee: Go-London powered by Popertee will enable international brands to create an experiential retail presence for the first time in the UK across TfL's estate. The permanent "pop-up" space will be powered by data, enabling smarter measurement of the campaign.</li>
	<li>PopSquare: PopSquare is an AI-enabled marketplace which offers mobile, automated pop-up stores that support the launch of new products or brands in a more automated and cost-effective way by combining online and offline experiences and using big data.</li>
	<li>Pop &amp; Rest: Their concept offers people in large cities the chance to book a single occupancy sleep and meditation pod. Booked by the hour via app, users are able to personalise their experience through music, lighting and aroma.</li>
	<li>Sook Retail: Sook fits out empty shops with a digital wallpaper, which allows multiple tenants to occupy a space during the same day. A tenant can turn up and digitally brand the space exactly as they want it at the touch of a button.</li>
	<li>Vastari: Vastari matches content with venues for experiences worldwide. The company's proposal is to manage a rolling schedule of temporary, ticketed exhibitions at the retail location, imported from around the world.</li>
	<li>Sensei: Sensei offers to make retail autonomous and checkout-free, by using an integrated system of cameras and AI algorithms so that all products picked by each customer are registered automatically for further billing when they leave the store.</li>
	<li>Texel: Texel uses computer vision and state-of-the-art machine learning algorithms to provide shoppers with digital avatars and personal recommendations, which are used to try out different outfits, so they have confidence when shopping for clothes online.</li>
</ul>

<p>Background about TfL and its estate</p>

<ul>
	<li>Being one of London's largest landowners with more than 2,000 commercial units across its estate, including around 800 commercial railway arches and meanwhile spaces, TfL takes pride in being able to support a range of vibrant businesses. The majority of TfL's tenants are small businesses and TfL offers a diversity of opportunities for all retailers, whether that's a pop up space, a unit for a big brand or the first 'bricks and mortar' opening for a small business.</li>
</ul>

<p>Background about TfL and Innovation</p>

<ul>
	<li>The competition is one of a number of new approaches to innovation we are taking in TfL to access the value and creativity from innovative companies in London. Other initiatives include the pioneering London RoadLab initiative, which includes quickly developing products that could have a positive and widespread impact right across the capital's road network, and our Open Innovation pilot with Bosch.</li>
	<li>In March 2019, Bosch opened its London Connectory, a Shoreditch-based co-innovation space to develop smart mobility solutions for London. For this, Bosch has partnered with Nitrous, a platform facilitating projects between the private sector, start-ups and government. The first partner to sign up was TfL, which has begun an 18-month collaboration with Bosch to explore how the goals set out in the Mayor's Transport Strategy can be addressed.</li>
	<li>TfL has recently set out how money raised from utility company companies for digging up London's roads is being invested in tackling congestion and minimising the impact of roadworks, such as through an innovation challenge, named London RoadLab, which is being run in partnership with Plexal, an innovation centre based in London's Olympic Park, along with London Councils and utility companies. Innovators recently embarked on a programme to develop products that could have a positive impact right across the capital by making roadworks safer, smarter and more inclusive for people's travel needs.</li>
</ul>

<p>Background about Sook</p>

<ul>
	<li>Sook was born out of Zinc (www.zinc.vc) ventures builder programme, as part of its second mission, which focused on the impact of automation and globalisation.</li>
	<li>Sook will be expanding its business outside of Cambridge for the first time, having launched its first space there in June and with a second one due to open in November this year.</li>
	<li>For more information about Sook, please visit: www.sook.space The business featured in Sook and illustrated in the image is Small and Green. For more information, please visit: <a href="[ioID]#https://www.smallandgreen.com/">https://www.smallandgreen.com/</a></li>
</ul>

<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-September-Retail Innovation winner offers retail space by the hour -->

 
 
        
        
            @{ViewBag.Description = "Winner of TfL’s Retail Innovation competition offers businesses retail space by the hour";}
        
        


 