


@{ViewBag.Title = "Riverlinx named as preferred bidder for Silvertown Tunnel";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Riverlinx named as preferred bidder for Silvertown Tunnel</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Riverlinx named as preferred bidder for Silvertown Tunnel</h1>
        <div class="content-page-press-release">
        30 May 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL nominates consortium as preferred bidder to design, build, finance and maintain Silvertown Tunnel
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Silvertown Tunnel, which is vital to support London's economy, has been designed to resolve the existing congestion problem around Blackwall, improve overall air quality and enable new cross-river bus routes to be introduced
 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Alex Williams</div>
            <div class="quotee-job-title">Director of City Planning, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>New twin-bore tunnel, within the extended Ultra Low Emission zone, will effectively eliminate congestion and the problem of 'standstill' traffic and will provide several new cross-river bus routes in east London.</li>
	<li>&pound;1bn project will be procured through a Design, Build, Finance and Maintain contract, meaning the financial risk for construction and an initial maintenance period will sit with the private sector rather than TfL</li>
	<li>Contract with the Riverlinx consortium commits to ensuring construction is carried out with minimal disruption to local residents and businesses, with a range of measures to reduce environmental impacts</li>
	<li>Work to begin later this year, with tunnel set to be open in 2025 with around 37 buses an hour operating in both directions.</li>
</ul>

<p>Transport for London (TfL) has today confirmed that the Riverlinx consortium, comprising of Aberdeen Standard Investments, BAM PPP PGGM, Cintra, Macquarie Capital and SK Engineering &amp; Construction (SK E&amp;C), has been nominated as the preferred bidder to build the Silvertown Tunnel &#45; a new river crossing under the Thames in east London.</p>

<p>The tunnel, which is set to be open in 2025, will link the Greenwich Peninsula and the Royal Docks together and effectively eliminate the serious congestion and reduce the associated environmental impacts caused by miles of standing traffic around the Blackwall Tunnel area. It will remove barriers for people in east London needing to cross the river for work or leisure as well as improve the reliability and resilience of the road network for local residents, commuters and businesses. It is also the first permanent road crossing to be constructed across the River Thames east of Tower Bridge since the QE2 Bridge at Dartford opened in October 1991.</p>

<p>The Blackwall Tunnel is the least reliable of London's crossings and was closed more than 700 times in 2017/18. The lack of alternative crossings east of Tower Bridge has resulted in almost constant congestion and the approach roads having some of the highest levels of air pollution in London.</p>

<p>By effectively eliminating congestion, the new tunnel will deliver an overall improvement in air quality. A user charge at both the new tunnel and the existing Blackwall tunnel will ensure overall traffic volumes and associated carbon emissions do not increase. At locations where TfL's air quality modelling showed that there may be a small localised impact, mitigation will be delivered further to ensure any increase is minimised. Both tunnels and the surrounding area will also fall within the expanded Ultra Low Emission Zone which will do more to improve air quality across all of inner London ahead of the new tunnel opening in 2025.</p>

<p>The tunnel will also significantly improve cross-river public transport connections, with around 37 buses an hour in each direction using the tunnel, including the current six single-decker buses per hour which run through the Blackwall Tunnel. All of the new double-decker buses that use the Silvertown Tunnel are expected to be zero-emission from launch. These routes will link places such as Stratford and Canary Wharf to Eltham, Grove Park and Charlton for the first time, unlocking new journey options and supporting wider regeneration across the Greenwich Peninsula and Royal Docks. Across London, 75 per cent of buses across are already Euro VI emission standard or higher, and from 2020, all new single-deck buses will be zero-emission from 2020. The entire fleet of around 9,000 buses will be zero-emission by 2037 at the latest.</p>

<p>As well as improved access across the river, the project will also deliver a range of improvements in the areas around the tunnel on both sides of the river. These include additional noise barriers along the approach roads, new green spaces around the tunnel entrances and walking and cycling upgrades to Boord Street and Tunnel Avenue in the south and Silvertown Way, Tidal Basin Roundabout and its approach roads in the north. This has been designed to improve access to key development sites on either side of the river, particularly in the Royal Docks area, and unlock major regeneration across Newham and Greenwich.</p>

<p>Following an extensive tender process, the Riverlinx consortium have now been nominated as preferred bidder to complete detailed design and build the Silvertown Tunnel. The project will be procured through a Design, Build, Finance and Maintain contract, with payments by TfL starting only once the tunnel is open and available for use. TfL will also be able to reduce payments should the tunnel not meet certain key standards, such as availability for use by traffic and physical condition. Over the last 20 years TfL has developed significant experience in how to manage similar contracts, which have successfully helped deliver extensions to the Docklands Light Railway. Funding the project this way not only shifts financial risks onto the private sector, but also incentivises them to deliver the scheme as efficiently as possible. It also reflects the fact that TfL receives no ongoing investment for roads from the Government &#45; and that from 2021, the &pound;500m Vehicle Excise Duty paid by Londoners and collected by central Government will nearly all be invested in roads outside the capital. This, along with the fact that TfL's funding arrangements with Government are currently only certain until March 2021, means it has no dedicated income stream to pay for capital roads projects like this.</p>

<p>Throughout the Summer, the consortium will work to confirm financial arrangements with lenders in respect to the project and set up the supply chain. Only once these are all agreed will TfL award them the contract for the project. Construction and maintenance costs will be covered via a user charge on both the new tunnel and the existing Blackwall Tunnel, which will also help to manage traffic demand and journey reliability and ensure predicted air quality improvements are delivered. This user charge is a legal requirement as part of the planning approvals and therefore will need to be implemented when the tunnel opens. The exact charge levels for various types of vehicles using the tunnel will be decided closer to the opening date.</p>

<p>Alex Williams, Director of City Planning at TfL said:</p>

<p>'The need for more river crossings in East London, to unlock growth and give residents and businesses better access to jobs and services, has been clear for decades. The Silvertown Tunnel, which is vital to support London's economy, has been designed to resolve the existing congestion problem around Blackwall, improve overall air quality and enable new cross-river bus routes to be introduced.<br />
&nbsp;<br />
'We are absolutely committed to ensuring that the project is delivered with minimal impact to local residents. We will closely monitor noise and air quality during construction and traffic levels and emissions once the tunnel is complete.'</p>

<p>For more information about the Silvertown Tunnel project, please visit <a href="[ioID]#www.tfl.gov.uk/silvertown-tunnel">www.tfl.gov.uk/silvertown-tunnel</a><br />
&nbsp;</p>

<hr />
<p>Notes to editors:</p>

<ul>
	<li>With congestion and air quality around the Blackwall Tunnel predicted to get worse in the coming years as London's population grows, the Silvertown Tunnel, along with the extended Ultra Low Emission Zone, are vital to provide a more reliable crossing, as well as ensuring goods and services can continue to move around London.&nbsp; Population and traffic growth will be particularly notable in this area of London, owing to the major developments underway and planned on Greenwich Peninsula and at the Royal Docks, Stratford and Barking Riverside.</li>
	<li>During construction, both the consortium and TfL are committed to ensuring that the majority of construction material is transported by river, that all on-site construction machinery at least meets the Mayor's Non-Road Mobile Machinery Low Emission Zone Standards, and that any vehicles working on the scheme are Euro VI and comply with the Mayor's new Direct Vision Standard.</li>
	<li>All contractors working for the Riverlinx consortium will also be required to deliver a range of measures to help reduce construction impacts, including:</li>
</ul>

<ol>
	<li>Developing an extensive Community Engagement Plan, describing how it will keep the local community informed prior to and throughout the works;</li>
	<li>Creating local apprenticeships, job starts and educational opportunities throughout the length of the construction;</li>
	<li>A target to have at least 25 per cent of the construction team working on the crossing recruited locally.</li>
</ol>

<ul>
	<li>As part of the wider Development Consent Order process, TfL is also legally committed to deliver a wide range of improvements and measures to reduce the impact of the new tunnel and support the wider local area. These include:</li>
</ul>

<ol>
	<li>&pound;1m worth of support to local businesses will also be provided to help them adapt to the user charge when the Silvertown Tunnel is operational. This could include helping businesses with staff travel planning and delivery support, or funding potential infrastructure such as cycle racks and electric vehicle charging points.</li>
	<li>Extensive monitoring, particularly around air quality, will be undertaken both before and after the opening of the tunnel. Regular reports will be published online and if readings suggest impacts are worse than originally anticipated, TfL will review what further actions could be implemented to address them.</li>
	<li>A user-charging discount to specifically help low-income working residents in the host boroughs of Greenwich, Newham and Tower Hamlets. This would take a similar form to the existing TfL Bus &amp; Tram Travelcard, which offers a 50 per cent discount on public transport for those in receipt of certain state benefits. Offering this discount would mean that users pay a reduced rate to use the tunnel, helping to encourage use of public transport wherever possible, while still reducing the impact to low-income households.</li>
	<li>Free account registration for the road user charge for local residents in the host boroughs for the first year. Residents and businesses who register as account holders would pay the lowest charges possible for all journeys, and would be protected from the risk of inadvertently incurring penalty charges through forgetting to pay the relevant charge.</li>
	<li>&pound;2m in bus concessions for local residents to help promote the new cross-river bus services which will run through the tunnel, as well as supporting local behavioural change away from unnecessary private car use. TfL will also enhance river crossing facilities for cyclists and pedestrians across the local area.</li>
</ol>

<ul>
	<li>Since permission for the tunnel was officially granted last year, TfL has worked with landowners to agree details of land acquisitions and has now begun discussions with local boroughs and stakeholders on construction logistics plans and access requirements for residents, visitors and local businesses. These will continue ahead of initial construction starting later this year and both the consortium and TfL will look to regularly update on construction progress and mitigation throughout the delivery of the project. The Mayor has also asked TfL to engage with local residents and stakeholders to further explain the range of measures being taken to mitigate environmental impact.</li>
	<li>The delivery of the Silvertown Tunnel was included in the Mayor's Transport Strategy and forms part of the Mayor's wider plans for sustainable river crossings across the Thames - <a href="[ioID]#https://tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/new-river-crossings-for-london">https://tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/new-river-crossings-for-london</a></li>
	<li>In May 2018, the Department for Transport granted the Silvertown Tunnel project a Development Consent Order (DCO), which is the formal process by which the Government gives the green light to any development categorised as a Nationally Significant Infrastructure Project (NSIP). More information on the public examination into the Silvertown Tunnel can be found here - <a href="[ioID]#https://infrastructure.planninginspectorate.gov.uk/projects/london/silvertown-tunnel/">https://infrastructure.planninginspectorate.gov.uk/projects/london/silvertown-tunnel/</a></li>
	<li>Due to the construction of the Silvertown Tunnel being privately funded, the scheme is not competing for funding with other transport priorities, such as the investment that is taking place across London to encourage walking and cycling.</li>
	<li>Images of what the Silvertown Tunnel will look like once completed can be found here - <a href="[ioID]#www.tfl.gov.uk/silvertown-tunnel">www.tfl.gov.uk/silvertown-tunnel</a></li>
	<li>In 2018, TfL reviewed its previously provided air quality impact assessment data in view of the UK Air Quality Plan and confirmed to the DfT and planning inspectorate that the Government's new air quality plan does not change the conclusions of the air quality assessment supporting the application. Furthermore, TfL's assessment on air quality was designed to be conservative, meaning that predicted air quality levels are likely to be better than those previously modelled - <a href="[ioID]#https://infrastructure.planninginspectorate.gov.uk/wp-content/ipc/uploads/projects/TR010021/TR010021-002203-Applicant%20Response%20-%20Updated%20Air%20Quality%20Assessment.pdf">https://infrastructure.planninginspectorate.gov.uk/wp-content/ipc/uploads/projects/TR010021/TR010021-002203-Applicant%20Response%20-%20Updated%20Air%20Quality%20Assessment.pdf</a></li>
	<li>The footnotes to the 2018 Autumn Budget Statement regarding Private Finance (PF2) disapplied new rules to devolved administrations, such as Transport for London, and therefore has no implications for the Silvertown Tunnel proposals.</li>
	<li>A decision on the level of charge for using the Silvertown Tunnel, which would also cover the Blackwall Tunnel, will be made at a nearer time to the opening of the tunnel.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-May-Riverlinx named as preferred bidder for Silvertown Tunnel -->

 
 
        
        
            @{ViewBag.Description = "TfL nominates the Riverlinx consortium as preferred bidder to design, build, finance and maintain Silvertown Tunnel";}
        
        


 