


@{ViewBag.Title = "Round two of TfL's 'Cycling Grants London' launches";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Round two of TfL’s ‘Cycling Grants London’ launches</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Round two of TfL’s ‘Cycling Grants London’ launches</h1>
        <div class="content-page-press-release">
        21 July 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">

    <div class="article-teaser">
        Community groups across London can apply for up to &pound;10,000 to fund cycling projects over a three year period
    </div>



<div class="pull-quote">
        <div class="quote-body">"Through community cycling, more people from all walks of life are likely to be encouraged to take up cycling and we're pleased that by the end of this summer, our cycling grants will benefit over 3,000 people with new cycling skills"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ben Plowden</div>
            <div class="quotee-job-title">Director of Surface Strategy and Planning, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Funding applications open from 1 August and close on 19 September 2016</li>
    <li>Over &pound;180,000 available in grants this year</li>
</ul>
<p>Transport for London (TfL) is calling all community groups and not-for-profit organisations to apply for cycling grants, which will equip them to help more people cycle. The next funding round opens on 1 August and closes on 19 September 2016.</p>
<p>Cycling Grants London (CGL) helps to fund cycling initiatives such as cycle training, bike maintenance courses and guided rides. The programme is funded by Transport for London (TfL) and managed by the environmental regeneration charity, Groundwork London.</p>
<p>In its second year, the programme has already provided funding to 31 organisations who have taught new skills to over 1,000 people who are new to cycling.</p>
<p>Up to 24 new projects run by organisations such as resident's associations, charities and youth groups will receive funding in this round. Organisations can apply for up to &pound;10,000 over a three year period for projects that encourage people of all ages and backgrounds to cycle more often, more safely.</p>
<p>Ben Plowden, TfL's Director of Surface Strategy and Planning, said: </p>
<p>'Through community cycling, more people from all walks of life are likely to be encouraged to take up cycling and we're pleased that by the end of this summer, our cycling grants will benefit over 3,000 people with new cycling skills.'</p>
<p>Lindy Kelly, Executive Director of Groundwork London, said: </p>
<p>'We're excited to be launching the 2016 round of Cycling Grants London with TfL. Last year we funded 31 inspirational community cycling projects in the Capital, including all three of the projects nominated for Community Project of the Year at the London Cycling Awards 2016. Cycling Grants London offers community groups more than simply funding, successful applicants also receive on-going support and benefit from a programme of free training workshops, in topics including project management, bid writing and marketing and communications.</p>
<p>'We look forward to meeting and supporting many more community groups this year, to help more Londoners of all backgrounds, ages and abilities to discover the benefits of cycling.'</p>
<p>Brothers on Bikes scooped the 2016 London Cycling Campaign (LCC) Community Project of the Year with This Girl Can BMX and Core Arts were runners up, all projects funded via Cycling Grants London.</p>
<p>Other projects which have seen great success include; Wheels for Wellbeing, teaching the partially sighted to cycle, The Connection at St. Martin's, reaching out to the homeless to instil new skills and Summer of Cycling, helping women aged 18 and over with physical and learning difficulties how to cycle.</p>
<p>Elsewhere, TfL has a major investment programme of improvements to transform cycling in London including; the easy-to-use Santander Cycles scheme, free Cycle Skills sessions in all London boroughs and a specific fund to create cycle hubs in cycling boroughs. TfL also offers organisations without cycling facilities up to &pound;10,000 worth of cycling products and services to help encourage employees cycle to work through Cycling Workplaces.</p>
<p>TfL has also recently launched the first Quietway route, which is a continuous sign-posted route of quieter backstreets linking Greenwich and Waterloo. Now open, those new to cycling can explore the joys of two wheels on this calmer route.</p>
<p>More information on Cycling Grants London and how to apply is available at <a href="http://www.cyclinggrants.london">www.cyclinggrants.london</a></p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ol>
    <li>
    Projects are expected to help build the confidence of infrequent or new cyclists from all backgrounds and increase the uptake of cycling by those under represented in cycling at present, such as women, children and young people, who may be limited by income, equipment, health, ability, skills or information.</li>
    <li>The grants were previously known as 'Community Cycling Funds for London' (CCfL) and were administered by the London Cycling Campaign (LCC).</li>
    <li>TfL has funded over 300 community based cycling activities since 2003.</li>
    <li>In addition to Cycling Grants London, TfL offers organisations without cycling facilities up to &pound;10,000 worth of cycling products and services to help encourage employees cycle to work. Visit tfl.gov.uk/cyclingworkplaces for more details.</li>
    <li>A map of Quietway 1 and more information about the Quietway programme can be found here:  <a href="http://www.tfl.gov.uk/Quietways">www.tfl.gov.uk/Quietways</a></li>
    <li>Images of projects are available on request</li>
</ol>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-July-Round two of TfL’s ‘Cycling Grants London’ launches -->

 
 


 