


@{ViewBag.Title = "Samsung Pay accepted for pay as you go travel in London";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Samsung Pay accepted for pay as you go travel in London</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Samsung Pay accepted for pay as you go travel in London</h1>
        <div class="content-page-press-release">
        16 May 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">
<p>Customers can now use Samsung Pay on their mobile phone to travel on Londons transport network as part of its wider UK launch this morning.</p>
<p>The new payment app, which can be downloaded from the Samsung Galaxy Apps store, supports MasterCard and Visa credit and debit cards from major UK financial institutions. It can be used for pay as you go journeys by bus, Tube, tram, DLR, London Overground, TfL Rail, Emirates Air Line, River Bus and most National Rail services in London.</p>
<p>To help make it easier for customers, Samsung has worked with TfL to allow users to set a payment card specifically as a transport card to use on all TfL services and most National Rail services in London. Customers just need to add their payment card to the app and nominate it as a transport card. Once registered, the phone screen does not have to be on - users simply touch the middle of their phone on the yellow card reader in the same way they use their Oyster or contactless payment card to pay as you go.</p>
<p>When customers pay as you go using contactless, TfL apply a daily or weekly (Monday to Sunday) cap where appropriate to ensure customers get best value and don't get charged for further journeys in the same travel zones for the rest of the day / week.</p>
<p>Shashi Verma, Chief Technology Officer at TfL said: `Its great to see another mobile ticketing option introduced into the market. More than 900 million contactless journeys have already been made in London and the ability to nominate a specific transport card with Samsung Pay will significantly benefit customers using this simple and secure mobile payment solution.'</p>
<p>Conor Pierce, Vice President, IT &amp; Mobile Division, Samsung Electronics UK &amp; Ireland, said: `Following the launch of the Galaxy S8 and S8+ earlier this year, we are thrilled to be introducing another innovative service to our latest flagship devices, reinforcing our commitment to making peoples lives easier.</p>
<p>`We hope the UK launch of Samsung Pay will transform the way our customers pay for day-to-day items, giving consumers a safer, smarter mobile wallet.'</p>
<p>TfL was the first public transport provider to accept contactless payments with around 40 per cent of all pay as you go journeys made in London now made using them. Of these, almost one in ten transactions (nine per cent) are now made using mobile devices, with more than 31 million journeys made using mobile phones in London in the last 12 months.</p>
<p>Customers can find more information about using Samsung Pay by visiting <a href="http://tfl.gov.uk/samsungpay">tfl.gov.uk/samsungpay</a>.<br />
Ends</p>
<p>Notes to Editors:</p>
<p>Samsung Pay is available at launch on the Galaxy S8/S8+, S7/S7 edge, S6/S6 edge (subject to a software update) and will become available on additional Samsung devices in the coming months.</p>
<p>       Contactless payments were launched on London's buses in December 2012 and on Tube and rail services in September 2014. Since launching, more than 900m journeys have been made by contactless cards/devices from more than 100 countries across the world - https://tfl.gov.uk/contactless</p>
<p>•	Customers are encouraged to sign up for an online account and register their contactless payment card. As well as being able to view 12 months of journey and payment history, customers can also get email alerts if there's an issue with their card which might stop them from using it to travel as well as apply for refunds for incomplete journeys <a href="https://account.tfl.gov.uk">https://account.tfl.gov.uk</a></p>
<br />

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       


            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-May-Samsung Pay accepted for pay as you go travel in London -->

 
 
        
        
            @{ViewBag.Description = "Samsung Pay accepted for pay as you go travel in London";}
        
        


 