


@{ViewBag.Title = "Santander Cycles achieves a record breaking year";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Santander Cycles achieves a record breaking year</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Santander Cycles achieves a record breaking year</h1>
        <div class="content-page-press-release">
        28 December 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        For the first time more than 10.5m journeys were made using Santander Cycles in a calendar year
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Santander Cycles are such a fun and easy way to get around London so I'm delighted that more and more people are choosing to hire them all year round &#45; breaking records in the process
 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>More than 35,000 hires were made on Christmas Day alone</li>
	<li>Customers cycled the equivalent of 65 return trips to the moon in 2018</li>
	<li>Brixton expansion and contactless upgrade contributed to the best ever year</li>
</ul>

<p>London's cycle hire scheme has achieved a hat-trick record-breaking year with more than 10.5m journeys made using Santander Cycles in 2018. There has been an average of 29,500 hires each day this year, the highest daily average since the scheme started in 2010. Christmas Day saw more than 35,000 hires as thousands of Londoners and visitors enjoyed a festive cycle ride.</p>

<p>Five of the 11 months so far have beaten year-on-year records for the number of journeys made. There were five consecutive months this year where Transport for London's (TfL's) scheme achieved more than one million hires. In total there have been more than 77m journeys since the scheme was launched in July 2010.</p>

<p>Improvements to the scheme this year include an expansion to Brixton in February, with seven new docking stations and 200 new bikes contributing 43,500 hires to the scheme. The new docking stations mean that the scheme's reach now spreads from Brixton in the south to Camden in the north, and Hammersmith in the west to Queen Elizabeth Olympic Park in the east.</p>

<p>In November, the process of hiring a bike was made quicker and easier with the introduction of new technology, allowing customers to pay with contactless bank cards. The upgrade also removed five stages of the payment process at all 775 terminals across London.</p>

<p>Will Norman, London's Walking and Cycling Commissioner, said:</p>

<p>'Santander Cycles are such a fun and easy way to get around London so I'm delighted that more and more people are choosing to hire them all year round &#45; breaking records in the process.</p>

<p>'Encouraging more Londoners to cycle as part of their everyday routine is crucial for Londoners' health and to help tackle congestion and air pollution.'</p>

<p>David Eddington, Head of Cycle Hire at TfL, said:</p>

<p>'Despite the Beast from the East, Londoners and visitors continued pedalling to help us reach our best year ever. We've seen a huge increase in the numbers of people choosing to cycle in London, with a 35 per cent increase since our cycle hire scheme was introduced, and hope that number will continue to rise.'</p>

<p>The Santander Cycles app grew in popularity in 2018, with a 26 per cent increase in hires made through the app compared to 2017. It is expected the 1.4m hires made through the app in 2018 will continue to grow, with further app improvements expected next year.</p>

<p>The development of the Santander Cycles scheme is an example of the Mayor of London's commitment to cycling, which has seen record levels of funding allocated to deliver high quality cycle routes across London. Construction work on several major new cycle routes is set to begin in 2019, including between Tower Bridge and Greenwich next summer. Following a public consultation next spring, TfL will work with boroughs and local partners to also build new routes between Camden and Tottenham Hale and Hackney and the Isle of Dogs.</p>

<p>Keith Moor, Chief Marketing Officer at Santander said:</p>

<p>'We're delighted that the third full year of our partnership has seen Santander Cycles complete a hat-trick of record breaking years. Since beginning the partnership we've worked hard with TfL to bring innovation to the scheme, including by adding new smart technologies to the Cycles and creating a top-rated app. It's brilliant to see more people than ever are choosing to use Santander Cycles to get around London and here's to breaking more records in 2019!'</p>

<p>Encouraging people to cycle is one of the key components of the Mayor's Transport Strategy to help Londoners lead healthier and more active lives. Part of this ambition is providing a world class cycle hire scheme, which will help Londoners get about quickly, while benefiting their health and improving air quality.</p>

<p>The Cycling Action Plan, published earlier this month, includes a commitment to continue to develop the Santander Cycles scheme, to give more people across London access to a bike. The scheme is vital in getting more people on bikes and more than half of Cycle Hire users started cycling in London because of the scheme.<br />
&nbsp;<br />
To find your nearest Santander Cycles docking station, visit <a href="https://tfl.gov.uk/modes/cycling/santander-cycles">https://tfl.gov.uk/modes/cycling/santander-cycles</a></p>

<hr />
<p>Notes to editors:</p>

<p>In 2018:</p>

<ul>
	<li>More than 820,000 different customers used the scheme</li>
	<li>One customer used the scheme 2,786 times, an average of eight times a day</li>
	<li>Customers cycled a total distance of 49,803,578km this year &#45; equivalent to around 65 return trips to the moon</li>
	<li>The most popular trip in the scheme is a round trip starting and ending at Hyde Park Corner. This was made 22,000 times</li>
	<li>The most popular A to B trip was one starting at Hyde Park Corner and ending at Albert Gate, Hyde Park. This was made 4,570 times</li>
	<li>The most popular docking station used was Waterloo Station which saw 329,000 journeys either start or finish there</li>
	<li>One customer cycled from East Village, Queen Elizabeth Olympic Park to Disraeli Road, Putney, a distance of 22 km, one of the longest in the scheme</li>
	<li>One customer has used the same docking station 1,551times this year (New Road, Whitechapel)</li>
	<li>Santander Cycles now covers 100 square kilometres of London, making it the largest cycle hire scheme in Europe</li>
	<li>Since launching in July 2010, more than 77 million journeys have been made</li>
	<li>Around 1.4m hires have now been made using the Santander Cycles app in 2018. The app was launched in May 2015 to make it easier to find and hire bikes</li>
	<li>The free app is available on the iTunes and Android App Stores, searching for Santander Cycles</li>
	<li>Santander Cycles can be hired from as little as &pound;2 a day for an unlimited number of 30 minute journeys</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-December-Santander Cycles achieves a record breaking year -->

 
 
        
        
            @{ViewBag.Description = "The festive celebrations continue as Santander Cycles achieves a record breaking year";}
        
        


 