


@{ViewBag.Title = "Santander Cycles marks birthday with series of free led rides";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Santander Cycles marks birthday with series of free led rides</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Santander Cycles marks birthday with series of free led rides</h1>
        <div class="content-page-press-release">
        29 July 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Cycle hire celebrates ninth birthday - people can sign up for the rides on Sundays throughout August and into September from 10am tomorrow
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London's cycle hire scheme has become an essential part of our city since launching nine years ago

 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>More than 83 million trips made since cycle hire scheme opened in July 2010</li>
	<li>Santander Cycles can be hired from as little as &pound;2 a day for an unlimited number of 30 minute journeys</li>
</ul>

<p>Transport for London's (TfL's) record breaking cycle hire scheme is today marking its ninth anniversary by offering free guided Santander Cycles rides on Sundays throughout August and September as part of TfL's Summer of Cycleways campaign.</p>

<p>The free tours will give people a chance to see the sights of London, including the Houses of Parliament, Hyde Park and London Eye, while using TfL's segregated cycle lanes.</p>

<p>The series of led cycle rides follows the route of a new Santander Cycles map, which gives people step-by-step directions to cycle the sights of London. The map can be downloaded online or accessed via the Santander Cycles app, which allows customers to find and hire cycles easily. The route is split into three loops, a Thames Loop between Blackfriars and Westminster, a Royal Loop around St James' Park and Green Park, and a Hyde Park Loop.</p>

<p>Santander Cycles is offering people using the new map 20 per cent off their first ride. More information can be found here: <a href="tfl.gov.uk/cyclethesights">tfl.gov.uk/cyclethesights</a></p>

<p>Last year, a record 10.5m journeys were made using the Santander Cycles scheme, which has grown in popularity since the first 12 months of the scheme, which saw 6.2m hires from July 2010.</p>

<p>Will Norman, London's Walking and Cycling Commissioner, said:</p>

<p>'London's cycle hire scheme has become an essential part of our city since launching nine years ago. I'm delighted that our free led rides are returning this summer, enabling even more Londoners to discover that Santander Cycles are a fun and easy way to get around.'</p>

<p>David Eddington, Head of Cycle Hire at TfL, said:</p>

<p>'In the last nine years, London's flagship cycle hire scheme has gone from strength to strength, helping millions of people commute to work, explore the capital and get active. We hope that the free led rides will be a great opportunity for people to build their cycling confidence and give Santander Cycles a try.'</p>

<p>TfL is committed to improving and developing the cycle hire scheme, and a new docking station will be installed in Victoria Park in the coming week. The station, at the Bonner Gate entrance, has space for 27 cycles, and will allow people to bike around Victoria Park, as well as accessing nearby areas. TfL recently announced plans to work with boroughs and Network Rail to bring Santander Cycles to rail stations with high cycling potential across London, starting with London Bridge and Liverpool Street stations.</p>

<p>In areas where demand is high, such as the City of London during the week and parks at weekends, Santander Cycles is ensuring that there is extra capacity, to ensure that all customers are able to hire and dock cycles.</p>

<p>Dan Sherwood, Interim Chief Marketing Officer, Santander UK, said:</p>

<p>'It's quite something to realise that nine years have passed since the scheme launched. An improved cycle infrastructure, a new app, an enhanced bike and the iconic Beryl laser lights are just some of the developments that have helped ensure Santander Cycles offers a simpler, safer experience for all. We hope to build on the hat-trick of record breaking years we've had since 2016 and initiatives like the led rides make it possible for even more people to realise the benefits of cycling.'</p>

<p>To encourage people to cycle more, a range of badges has recently launched on the Santander Cycles app, allowing customers to unlock rewards for achievements including the number of hires made, the distance travelled and the number of consecutive days they hire on.</p>

<p>Around 4.6m hires have now been made using the Santander Cycles app. The app was launched in May 2015 to make it easier to find and hire bikes and has been downloaded 860,000 times. The free app is available on the iTunes and Android App Stores, by searching for Santander Cycles.</p>

<p>TfL's Summer of Cycleways campaign is running until World Car Free Day on 22 September and includes a series of events such as led cycle rides, Play Streets and cycling festivals taking place across the summer. More than 100,000 cyclists will take part in Prudential RideLondon events on the 3 and 4 August. On Saturday, Londoners will be able to cycle and walk around central London on traffic-free streets, while on Sunday spectators can enjoy a range of professional races and mass participation rides.</p>

<p>The free Santander Cycle led rides will run between Hyde Park and Southwark on 11, 18, 25 August and 1 September. Twenty places are available for each ride, and people can sign up for a place tomorrow (30 July) from 10am here: <a href="https://cvent.me/53Z7a">https://cvent.me/53Z7a</a></p>

<hr />
<p>Notes to editors</p>

<ul>
	<li>Journalists are invited to attend an exclusive guided cycle ride on 6 August at 14:00. They must sign up by 2 August by emailing clairejermany&#64;tfl.gov.uk and requesting a slot</li>
	<li>The Santander Cycles sightseeing map is available here: <a href="tfl.gov.uk/cyclethesights">tfl.gov.uk/cyclethesights</a></li>
	<li>Further information about how businesses and organisations can get unlimited access to the cycle hire scheme is available here: <a href="tfl.gov.uk/business-accounts">tfl.gov.uk/business-accounts</a></li>
	<li>Around 1.4m hires were made using the Santander Cycles app last year</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-July-Santander Cycles marks birthday with series of free led rides -->

 
 
        
        
            @{ViewBag.Description = "Cycle hire celebrates ninth birthday with a series of free led Santander Cycle rides to get people cycling";}
        
        


 