


@{ViewBag.Title = "Second on-demand bus trial begins today";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Second on-demand bus trial begins today</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Second on-demand bus trial begins today</h1>
        <div class="content-page-press-release">
        13 November 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        12-month trial of Slide Ealing service now operating
        
    </div>



 <div class="on-this-page">
<p>Today (13 November) Slide Ealing, the on-demand bus service provided by TfL, bus company RATP and German technology firm MOIA, has started picking up passengers in the west London borough. This follows a public consultation earlier in the year.</p>

<p>It will operate seven days a week, 0600-0100, and cover an area from Southall in the west to the North Circular, and from the A40 down to Boston Manor in the south of Ealing. The service will be available for the next 12 months.</p>

<h2>Flexible stops</h2>

<p>Passengers can book a ride using the app, or on the phone. The service does not follow a fixed route, picking people up from flexible stops, creating a more personalised service.</p>

<p>Once a ride has been secured, users will wait no longer than around 10 minutes for a bus.</p>

<p>Fares for the on-demand bus will start at a flat rate of &pound;3.50, with passengers being able to benefit from weekly and monthly capping. Every tenth journey will be free.</p>

<p>The 12-month service will be socially inclusive, with Freedom Passes and the English National Concessionary pass accepted. The new buses can accommodate wheelchair users and are fully accessible.</p>

<h2>Socially inclusive</h2>

<p>Ealing has been chosen for the second research trial because there are relatively high numbers of private vehicles in the borough.</p>

<p>Figures show that 40% of people living in the area use cars &#45; be they private or for hire &#45; to get to work, and TfL believes an on-demand service could encourage people to switch to a more sustainable way of travelling.</p>

<p>The trial will also look to encourage Ealing residents to use public transport for the whole of their journey, linking locals with the proposed launch area's 29 bus routes and 10 Tube and rail stations.</p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>The service will run using up to 10 new TGE MAN L4H3 Euro VI mini-buses</li>
	<li>All vehicles are Euro 6 and meet the tough ULEZ standards</li>
	<li>The operators for the trials in both Sutton and Ealing were chosen after a competitive procurement process</li>
	<li>All drivers on the service will be established bus drivers who have completed enhanced customer training. Drivers will continue to receive the same terms and benefits as when driving a traditional London bus, including the London Bus Driver Minimum Wage and the guarantee of a pay grade equivalent to their level of service and experience if they change operator</li>
	<li>The service will not be available to unaccompanied children under the age of 13</li>
	<li>This is a limited 12-month research trial, so the service will not be integrated with the Oyster card payment system</li>
	<li>A map of the service area can be viewed here: <a href="https://www.slideealing.com/">https://www.slideealing.com/</a></li>
	<li>To download the app, search 'Slide Ealing' in the App Store or in Google Play</li>
	<li>MOIA is a subsidiary of the Volkswagen Group. Based in Berlin and Hamburg, the company develops mobility services and works in partnership with cities and local public transport operators. MOIA has been offering its ridesharing service in Hanover since the summer of 2018, which was then followed by Hamburg on 15 April 2019</li>
	<li>Founded in 2002, RATP Dev operates and maintains urban transportation systems in 12 countries on four continents. More than 1.5 billion passengers travel on its networks every year</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/49479">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-November-Second on-demand bus trial begins today -->

 
 
        
        
            @{ViewBag.Description = "Second on-demand bus trial begins today";}
        
        


 