


@{ViewBag.Title = "Second on-demand bus trial to be launched in Ealing";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Second on-demand bus trial to be launched in Ealing</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Second on-demand bus trial to be launched in Ealing</h1>
        <div class="content-page-press-release">
        19 July 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Trial aims to reduce number of residents commuting by car
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"On-demand buses could encourage more people to swap their cars for more sustainable ways of getting around, especially in areas of outer London
 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Heidi Alexander</div>
            <div class="quotee-job-title"> Deputy Mayor for Transport</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Passengers will be able to book a seat on the bus using an app &nbsp;</li>
</ul>

<p>A four-week consultation on plans to trial an on-demand bus service in Ealing has been launched. The new service follows the start of a similar year-long trial in Sutton in May.</p>

<p>Customers travelling on the new buses will be able to book a seat in real-time using an app or over the phone. The vehicles provide real-time journey information onboard and will not follow a fixed route, with users instead able to board a bus at flexible stops within a certain area. The buses will be fully accessible and green &#45; meeting the Mayor's tough environmental standards used for the Ultra Low Emission Zone &#45; and will be available between 0600 and 0100, seven days a week.</p>

<p>The consultation is asking Londoners for their views of the service, and the area and destinations it will cover.&nbsp;</p>

<p>Ealing has been chosen for the second trial, which will last a year, because there are relatively high numbers of private vehicles in the borough. Figures show that 40 per cent of residents use cars &#45; be they private or for hire - to get to work in the area, and TfL believes the service could encourage people to switch to a more sustainable way of travelling.</p>

<p>Running from Hanger Lane in the east to Southall in the west, the on-demand bus would provide a convenient alternative that is tailored to the needs of individual passengers. It will give people direct routes that are difficult to serve with existing public transport, while complementing the bus network in the area.</p>

<p>The trial will also look to encourage Ealing residents to use public transport for the whole of their journey, linking locals with the proposed launch area's 29 bus routes and 10 Tube and rail stations.</p>

<p>TfL will use the lessons learnt from the two trials and different operating environments in Sutton and Ealing to understand the benefits and viability of introducing an on-demand service in the long term.</p>

<p>Michael Hurwitz, TfL's Director of Transport Innovation, said:</p>

<p>'We are always looking at new ways to help us meet the Mayor's Transport Strategy goal to have, by 2041, 80 per cent of trips to be walking, cycling and by public transport. These trials will help us to understand if a more flexible, on-demand offering will tempt people out of their cars to try more sustainable alternatives.</p>

<p>'Having trials in two different locations in outer London with a variety of travel patterns will give us a good understanding of whether it is possible to complement the existing bus network in areas that have been traditionally difficult to serve with conventional public transport.'</p>

<p>Heidi Alexander, Deputy Mayor for Transport, said:</p>

<p>'On-demand buses could encourage more people to swap their cars for more sustainable ways of getting around, especially in areas of outer London.</p>

<p>'I encourage anyone who lives or works in Ealing to have their say during the consultation.'</p>

<p>Technology and mobility company MOIA and bus operator RATP Dev will run this trial, tapping into their years of experience in the sector.</p>

<p>All drivers on the service will be established bus drivers who have completed enhanced customer training. Drivers will continue to receive the same terms and benefits as when driving a traditional London bus, including the London Bus Driver Minimum Wage and the guarantee of a pay grade equivalent to their level of service and experience if they change operator.&nbsp;</p>

<p>Fares will start at a flat &pound;3.50, reflecting the unique nature of the service. The Freedom Pass will be accepted, ensuring that the trial is socially inclusive.</p>

<p>Sascha Meyer, Chief Product Officer at MOIA, said:</p>

<p>'London is a significant project for us in many ways. With this project MOIA is commencing its first international operation. As in Germany, working closely with local transport authorities like TfL is very important to us.</p>

<p>We are launching an on-demand bus service for the first time with a public transport operator. In RATP Dev we have an industry heavyweight at our side and see this partnership as a way of gaining insights for future collaborations.'</p>

<p>Coralie Triadou, Microtransit Director at RATP Dev, said:</p>

<p>'As we move into a digital age, on-demand bus services are changing the way we think about travel. Technology is enabling buses to be more personalised and convenient, while also remaining affordable. RATP Dev is applying the latest innovations to make London easier, cleaner and simpler to get around.</p>

<p>'We think demand-responsive transport services have a huge role to play in the future of transport. As well as adding convenience, on-demand buses can complement public transport and benefit the environment, helping move more people from A to B while reducing the number of vehicles on the road. We are proud to be working with TfL, MOIA, and Ealing Council on such an exciting project.'</p>

<p>Cllr Julian Bell, Leader of Ealing Council, said:</p>

<p>'We are delighted that Ealing has been chosen to host the second on-demand bus trial.</p>

<p>'We are committed to improving our environment and encouraging people in our borough to use sustainable travel alternatives like cycling, walking and using public transport where possible and we are very pleased to be working with TfL to trial this new service.&quot;<br />
&nbsp;</p>

<hr />
<p>&nbsp;<br />
Notes to Editors:</p>

<ul>
	<li>The service will run using up to 10 new TGE MAN L4H3 Euro VI mini-buses.</li>
	<li>The operators for the trials in both Sutton and Ealing were chosen after a competitive procurement process</li>
	<li>The consultation, which runs from 19 July to 18 August, can be found here: <a href="https://consultations.tfl.gov.uk/buses/demand-responsive-buses">https://consultations.tfl.gov.uk/buses/demand-responsive-buses/</a></li>
	<li>The service will not be available to unaccompanied children under the age of 13</li>
	<li>This is a limited 12-month research trial, so the service will not be integrated with the Oyster card payment system</li>
	<li>MOIA is a subsidiary of the Volkswagen Group. Based in Berlin and Hamburg, the company develops mobility services and works in partnership with cities and local public transport operators. MOIA has been offering its ridesharing service in Hanover since the summer of 2018, which was then followed by Hamburg on 15 April 2019</li>
	<li>Founded in 2002, RATP Dev operates and maintains urban transportation systems in 12 countries on four continents (United Kingdom, France, Italy, Switzerland, Algeria, Morocco, South Africa, Saudi Arabia, Qatar, China, the Philippines, and the United States of America). More than 1.5 billion passengers travel on its networks every year</li>
</ul>

<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-July-Second on-demand bus trial to be launched in Ealing -->

 
 
        
        
            @{ViewBag.Description = "Second on-demand bus trial to be launched in Ealing";}
        
        


 