


@{ViewBag.Title = "Sixty per cent support for new cycle route from Swiss Cottage to the West End";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Sixty per cent support for new cycle route from Swiss Cottage to the West End</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Sixty per cent support for new cycle route from Swiss Cottage to the West End</h1>
        <div class="content-page-press-release">
        03 August 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">

    <div class="article-teaser">
        Cycle Superhighway 11 would provide a continuous route for cyclists travelling between north-west and central London
    </div>



<div class="pull-quote">
        <div class="quote-body">"Cycle Superhighway 11 will play an important role improving the quality of our toxic air, improving Londoners' health, and make thousands more people feel comfortable cycling"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL has today published the results of its consultation on Cycle Superhighway 11, held earlier this year. The new cycling route would provide a direct and continuous way for cyclists to travel between Swiss Cottage and the West End, improving safety and reducing conflict with motor vehicles.</p>
<p>More than 6,000 responses were received on the proposals, with 60% supporting or partially supporting them.</p>
<p>Cycle Superhighway 11 would link with the Central London Grid and other cycling routes across London and was developed in close collaboration with the London Borough of Camden, Westminster City Council and The Royal Parks.</p>
<h2>Encourage more active travel</h2>
<p>The proposed changes to road layouts and junctions would make them safer for pedestrians as well as cyclists and encourage more active travel for people living, working or passing through the area.</p>
<p>Part of the proposals include changing the Swiss Cottage one-way system, as part of TfL's ongoing review and upgrade of the Capital's most dangerous and intimidating gyratories and many other junctions along the route would also be improved with new traffic signals, better pedestrian crossings and improved traffic flows.</p>
<p>The Mayor has asked TfL to continue progressing the plans and continue to speak with stakeholders to address any outstanding issues, particularly about the impact on motorists and local traffic.</p>
<p>He has also asked TfL to ensure any plans for construction take on board all lessons learned from the previous routes in terms of minimising disruption.</p>
<h2>Improving Londoners' health</h2>
<p>The Mayor of London, Sadiq Khan, said: 'Making cycling easier and safer benefits all of us. Cycle Superhighway 11 will play an important role improving the quality of our toxic air, improving Londoners' health, and make thousands more people feel comfortable cycling.</p>
<p>'It will link cycling routes in central London to North West London through Camden, making it safer for local people of all ages and backgrounds to make cycling a part of their everyday lives.</p>
<p>'I am determined to learn the lessons from previous cycle superhighway schemes and I've asked TfL to continue to work closely with the local councils and stakeholders to ensure we minimise any disruption to motorists and other road users, both during the construction of the scheme and after it's completed.</p>
<p>'This includes ensuring changes around Swiss Cottage gyratory benefit car-users who use that busy junction every day. Improving junctions along the busy route will also make the area substantially safer for pedestrians, and we want to continue to work closely with residents as the scheme moves forward.'</p>
<h2>New infrastructure</h2>
<p>Alan Bristow, TfL's Director of Road Space Management, said: 'Along with the Mayor we are committed to delivering new infrastructure that encourages more people to cycle and walk and become more active in their daily lives.</p>
<p>'Our consultation on a continuous cycle route between Swiss Cottage and the West End, which incorporates improved pedestrian crossings and safer junctions, was supported by 60% of respondents.</p>
<p>'We will now work with the boroughs, The Royal Parks and other stakeholders to address outstanding issues as we progress work on the scheme.'</p>
<h2>Safe, healthy streets for all</h2>
<p>The Mayor has made it clear he is committed to making London a by-word for cycling around the world and today the Deputy Mayor for Transport, Val Shawcross, joined policy makers, borough representatives and design and planning experts at the annual New London Architecture (NLA) Cycling Summit.</p>
<p>Speaking at the summit she set out her vision for the future of cycling, and active travel in London and how the new approach should deliver safe, healthy streets for all, including making walking more attractive and inspiring Londoners to be more active.</p>
<p>Cycling is now a major mode of transport in London with 645,000 journeys a day being made by bike, a 10% increase from 2013. Cycling during the morning rush hour in London has more than trebled since 2000.</p>
<hr />
<p><strong>Notes to Editors:</strong></p>
<ul>
    <li>The Cycle Superhighway 11 consultation report can be found here: <a href="https://consultations.tfl.gov.uk/cycling/cs-11/user_uploads/cs11-consultation-report-final.pdf-1">consultations.tfl.gov.uk/cycling/cs-11/user_uploads/cs11-consultation-report-final.pdf-1</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-August-Sixty per cent support for new cycle route from Swiss Cottage to the West End -->

 
 


 