


@{ViewBag.Title = "Staff who go the extra mile recognised at London Bus Awards";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Staff who go the extra mile recognised at London Bus Awards</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Staff who go the extra mile recognised at London Bus Awards</h1>
        <div class="content-page-press-release">
        18 July 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">



 <div class="on-this-page">
<p>Putting customers at the heart of the job, exceeding expectations and understanding the difficulties faced by disabled and older customers, were just some of the staff qualities recognised at the London Bus Awards .</p>
<p>The London Bus Awards celebrate everyday successes and achievements, as well as the actions taken calmly and bravely by staff in some very difficult situations.  It acknowledges that the work taking place every day has helped make London's bus network one of the best, most accessible and extensive in the world.</p>
<p>Leon Daniels, TfL's Managing Director of Surface Transport, who hosted the event in Southwark, said: `The Capital's red buses are the life blood of the city and play a significant role in keeping it working and growing.</p>
<p>`It is thanks to the day-in day-out pride and hard work of our staff, both in the driver's seat and those in the garages whom the public don't see, that we meet this challenge.`</p>
<p>The awards were presented by Val Shawcross, the Deputy Mayor for Transport, Caroline Pidgeon, Chair of the London Assembly Transport Committee, Mike Brown, Transport Commissioner and Gareth Powell, Transport for London's Director of Strategy and Contracted Services.</p>
<p>The winners at this year's London Bus Awards were:</p>
<p>Actions above and beyond the call of duty &#45; James Rossi, Arriva London (Watford Garage)</p>
<p>A 17-year-old boy suffering a severe allergic reaction approached bus driver James to say he urgently needed to get his EpiPen from home.  Calling for medical assistance would have taken too long, so James used his PA system to explain the situation to his passengers and took the teenager directly to a bus stop close to his home.  A few weeks later, the teenager's mother called the garage, and said her son would have died without James's help.</p>
<p>Inspirational role model to colleagues in the bus industry &#45; Patience Okezie, Arriva London (Brixton Garage)</p>
<p>Patience is a shining example of someone committed to excellence.  She joined Brixton Garage in 1994 and, even this early in her career, it was apparent that Patience was special, offering advice and guidance to colleagues.  It wasn't long before she was affectionately referred to as 'Mother P' or simply 'P'.  Her career has gone from strength to strength. She became a driver, Garage Supervisor and is now Senior Garage Supervisor, and is still renowned for her demeanour, passion and commitment.  She is often seen having a quiet chat with a driver, offering them advice, support and morale-boosting encouragement.</p>
<p>Outstanding newcomer &#45; James Barlow, Go-Ahead London (Bexleyheath Garage)</p>
<p>A new, young manager with a great head for business and a 'one-team' approach, James has proven himself to be adaptable and open-minded when looking at ways to solve problems.  Through informative, helpful and timely communication, he has changed how the engineers understand both his role and decisions by helping them to see the reasons behind changes.  By working as one team to get to the root cause of issues and develop solutions, performance has improved.  James knows systems and procedures well and can communicate with audiences at every level.  He will undoubtedly have a very bright future in our industry.</p>
<p>Environmental Campaign Champion &#45; Stagecoach London</p>
<p>As part of their continuing environmental commitment, colleagues at Stagecoach London decided to do something a little different to recognise World Environment Day last June.  Green depot champions led initiatives such as a 'big switch off', which has led to a 30 per cent long-term energy reduction since 2012.  They also saved more than 60 per cent of their daily water use by not washing the vehicles for one night.  Other initiatives involved painting a bus green, wearing green and providing staff with free 'green' lunches.</p>
<p>Outstanding Customer Service Champion &#45; Nadine Allen, CT Plus (Ash Grove Garage)</p>
<p>Nadine received this award for her ability to make customers feel welcome, combining great service with outstanding driving quality.  Nadine believes communication with customers is important and uses her iBus and PA systems to keep them informed during their journeys.</p>
<p>Nadine said: &quot;I always remember that I am the first point of contact between people and their bus service.  As a driver, you're in a great position to help people.&quot;</p>
<p>Accessibility and Safety Champion &#45; Claude Parchment, Go-Ahead London (Stockwell Garage)</p>
As Stockwell Bus Garage's customer experience champion, Claude has hosted several events with drivers, user groups and a school, aimed at showing how best to communicate with drivers and how to use ramps, as well as lots of fun activities.  Claude regularly represents drivers at different discussions and forums, demonstrating his commitment to providing an accessible bus network.
<p>Safety Champion &#45; Brendan Fleury, Go-Ahead London (Northumberland Park Garage)</p>
<p>With a keen interest in the accident rates at his garage, Brendan has spent a lot of his own time with the Accident Prevention Manager working on ideas to reduce accident rates for new drivers.  He has also worked with the management team to devise a refresher accident prevention training programme for drivers involved in incidents in their first year in the role.</p>
<p>On-the-road Support &#45; Sian Davies, Network Operations Manager, Transport for London</p>
<p>Sian has been a vocal advocate of the Bus Driver Garage Forums and the Rough Sleeper operations, which encourage drivers to highlight and discuss the issues affecting them and provide the opportunity to ask TfL, local police and crime support teams questions.</p>
<p>Best Vehicle Care &#45; Stamford Brook Garage, RATP Dev London</p>
<p>Stamford Brook Garage's rise from 14th to fifth place in Mystery Traveller Surveys for vehicle care is down to drivers understanding that the responsibility for vehicle presentation starts with them.  With engineers regularly meeting to review performance data and check how well they are meeting targets, Stamford Brook's team has its eyes firmly fixed on being the number one team in the city.</p>
<p>Ends<br />
Notes to Editors</p>
<p>Photographs of the winners are available on request.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-July-Staff who go the extra mile recognised at London Bus Awards -->

 
 


 