


@{ViewBag.Title = "Step-free access at more stations as the Elizabeth line moves closer";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Step-free access at more stations as the Elizabeth line moves closer</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Step-free access at more stations as the Elizabeth line moves closer</h1>
        <div class="content-page-press-release">
        08 December 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Contracts awarded for new lifts at Hanwell, Iver, Langley and Taplow stations on the west of the Elizabeth line route
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Elizabeth line is going to transform travel across the capital and it's only right that every station will have step-free access. It's vital that our transport network is accessible to all and that's why we're investing more in making our stations step-free than ever before"</div>
        <div class="quote-footer">
            <div class="quotee-name">Val Shawcross</div>
            <div class="quotee-job-title">Deputy Mayor for Transport</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL has awarded a contract to deliver step-free access and station improvements at four future Elizabeth line stations in west London and Buckinghamshire to J. Murphy &amp; Sons Limited.</p>
<p>Hanwell, Iver, Langley and Taplow will become accessible, opening up journey options between west London, Berkshire and Buckinghamshire and central London.</p>
<p>All 41 stations on the Elizabeth line will have step-free access when the new railway is fully open in December 2019. This is in addition to the Mayor's target for 40% of the London Underground network to be step-free by 2022.</p>
<h2>More accessible</h2>
<p>Making public transport more accessible will also help meet some of the aims of the draft Mayor's Transport Strategy, which seeks to reduce reliance on the car, tackle air pollution and change the face of travel in London so that 80% of journeys are made by public transport, cycling or walking by 2041.</p>
<p>The station improvements will include new lifts and footbridges to Elizabeth line platforms. TfL will also be constructing a brand new station building at Iver, replacing the current structure that dates back to the 1920s.</p>
<p>The new building and ticket hall will include new ticket machines and information screens for an improved customer experience.</p>
<h2>Transform travel</h2>
<p>Val Shawcross, Deputy Mayor for Transport, said: 'I'm delighted that four more stations are becoming step-free for the first time.'</p>
<p>'The Elizabeth line is going to transform travel across the capital and it's only right that every station will have step-free access. It's vital that our transport network is accessible to all and that's why we're investing more in making our stations step-free than ever before.'</p>
<p>Paul Maynard, rail and accessibility minister, said: 'Transport for London is making excellent progress to ensure all stations are step-free as part of our investment to revolutionise London's transport network and improve access for millions of passengers.</p>
<p>'Through the Accessibility Action Plan we are committed to further improving the travel experience for people with disabilities, giving them the right to travel independently and with confidence.'</p>
<h2>Transform lives</h2>
<p>Howard Smith, Operations Director for the Elizabeth line, said: 'As part of work to deliver upgrades across the Elizabeth line route, we will be providing step-free access at Iver, Taplow, Langley and Hanwell stations which have never been accessible for some passengers.</p>
<p>'The Elizabeth line will transform the lives of local customers for years to come connecting them to new destinations in London and beyond.'</p>
<p>Full improvements by station:</p>
<p><strong>Hanwell</strong></p>
<ul>
    <li>Two new lifts to provide step-free access to the platforms</li>
    <li>Refurbished entrances and subway</li>
</ul>
<p><strong>Iver</strong></p>
<ul>
    <li>Three new lifts providing step-free access to the platforms</li>
    <li>New entrance including new ticket hall, ticket machines and information screens</li>
</ul>
<p><strong>Langley</strong></p>
<ul>
    <li>Three new lifts and a new footbridge providing step-free access to the platforms</li>
    <li>Refurbished ticket hall including new ticket gates and information screens</li>
</ul>
<p><strong>Taplow</strong></p>
<ul>
    <li>Two new lifts and a footbridge providing step-free access to platforms</li>
    <li>Refurbished ticket hall and information screens</li>
    <li>Refurbished waiting rooms and toilets</li>
</ul>
<h2>Improve stations</h2>
<p>TfL will take over the running of 11 stations between Acton Main Line and Taplow (excluding Slough station) from Sunday 10 December. From then, stations will be staffed from first to last train between Acton Main Line and Hayes &amp; Harlington.</p>
<p>TfL will ensure all stations are deep-cleaned ahead of other improvements such as refurbished waiting rooms and toilets and the installation of new ticket machines and ticket gates. Work will begin in 2018 and is due to be complete by late 2019.</p>
<p>These upgrades are part of TfL's work to improve stations on the western section of the Elizabeth line route by the end of 2019 when the new railway will be fully operational linking Berkshire, Buckinghamshire and west London with the West End, east London and Essex.</p>
<p>Network Rail is also working to deliver step-free access and upgrades at six stations in the west between West Drayton and Acton Main Line.</p>
<p>Once fully open in December 2019, customers from Reading and Heathrow will be able to travel through central London to the West End and the City without needing to change trains. Customers will benefit from brand new, longer trains with walk-through air-conditioned carriages, live travel information and wi-fi.</p>
<p><hr /></p>
<p><strong>Notes to Editors</strong></p>
<ul>
    <li>TfL is working closely with Ealing Council on improvements at Hanwell as the station, with platform canopies and ironwork dating back to 1838 has English Heritage Grade II Listed Building status</li>
    <li>From May 2018, TfL Rail will run stopping services between Paddington and Heathrow taking over from Heathrow Connect and part of the Great Western inner suburban service</li>
    <li>TfL Rail and Elizabeth line services will be operated by MTR Crossrail on behalf of TfL</li>
    <li>Existing station staff working at stations between Acton Main Line and Taplow (excluding Slough) will transfer from Great Western Railway (GWR) to MTR Crossrail. Current staffing arrangements will remain at stations from West Drayton through to Taplow until the Elizabeth line serves those stations in December 2019</li>
    <li>The Elizabeth line will open from December 2018, operating initially as three separate services:<br />o	Paddington to Abbey Wood<br />o	Paddington to Heathrow<br />o	Liverpool Street to Shenfield</li>
    <li>All platforms and trains across the Elizabeth line will be accessible with step-free access and manual boarding ramps at stations where it is not possible to provide level boarding</li>
    <li>TfL is undertaking a major programme of investment to improve accessibility at stations across the network. The ability for everyone to travel spontaneously and independently is at the heart of this approach. The new Mayor's Transport Strategy will look beyond physical infrastructure and address overcrowding, safety and affordability. More information is available here: <a href="https://tfl.gov.uk/transport-accessibility/#_blank">https://tfl.gov.uk/transport-accessibility/</a></li>
    <li>London has one of the most accessible transport networks in the world.  All of London's buses, taxis, trams, DLR, the Emirates Air Line, many boats and some private hire vehicles are fully accessible, and a huge range of improvements have already been made to infrastructure and services to transform transport accessibility across the Capital. This includes:<br />o	The introduction of manual boarding ramps, a turn-up-and-go service, wide aisle gates, tactile paving and raised platform sections to give level access to the train on both the London Overground and London Underground network.<br />o	Travel Support cards to help disabled and older customers communicate with staff by allowing them to write down what help they need, as well as information such as their emergency contact number<br />o	A free travel mentoring service to help people start using public transport with confidence and become independent travellers.<br />o	The introduction of a new &quot;Please Offer Me A Seat&quot; badge to help people with invisible impairments.<br /></li>
    <li>There are now 72 London Underground stations and 57 London Overground stations with step-free access. All DLR stations are step-free</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-December-Step-free access at more stations as the Elizabeth line moves closer -->

 
 
        
        
            @{ViewBag.Description = "Step-free access at more stations as the Elizabeth line moves closer";}
        
        


 