


@{ViewBag.Title = "Step-free access arrives at four eastern TfL Rail stations";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Step-free access arrives at four eastern TfL Rail stations</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Step-free access arrives at four eastern TfL Rail stations</h1>
        <div class="content-page-press-release">
        05 March 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Vital accessibility improvements delivered at Maryland, Manor Park, Seven Kings and Forest Gate
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These new lifts are a first for these stations and will significantly improve the journeys of thousands of customers. I would like to thank customers for their patience while this work has taken place and hope that making these stations more accessible will make life easier, with new journey options for many people"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Smith</div>
            <div class="quotee-job-title">TfL Rail Director of Operations</div>
        </div>
</div>

 <div class="on-this-page">
<p>Thousands of TfL Rail customers will benefit from easier journeys as lifts serving all platforms opened at Maryland, Manor Park, Seven Kings and Forest Gate stations.</p>

<p>The work to make the stations step-free is part of a wider programme of accessibility improvements across the TfL Rail network.</p>

<p>At Manor Park the main station entrance has re-opened, providing direct access to Station Road.</p>

<p>Other station improvements include a refurbished ticket hall with a new accessible ticket window, new ticket machines, automatic ticket gates and improved customer information screens displaying live travel information.</p>

<p>Customers will notice similar improvements at Maryland, where the ticket hall has also been refurbished. Minor work such as decorating and small repairs will continue at both Manor Park and Maryland stations, including work to improve platform furniture and canopies.</p>

<p>Customers at Seven Kings will also benefit from new live customer information boards, a refurbished waiting room and a new retail unit that will start trading in the coming months.</p>

<h2>Street to platform</h2>

<p>New lifts and a ticket hall have recently opened at Forest Gate station. New lifts at Gidea Park are also due to come into service in the coming months, along with a new accessible toilet.</p>

<p>Customers who need assistance boarding a train, already benefit from the same turn up and go service currently provided on the Tube and London Overground, with all stations staffed from first to last train.</p>

<p>Once fully complete, all 41 stations on the Elizabeth line will have lifts providing step-free access from street to platform.</p>

<p>Level boarding could not be provided for the Elizabeth line trains at these stations due to the different types of trains, including freight trains, that already run along the western and eastern section stations.</p>

<p>To alleviate this we have station staff on hand whenever trains are running to deploy boarding ramps between the platform and train.</p>

<p>Howard Smith, TfL Rail Director of Operations, said: 'These new lifts are a first for these stations and will significantly improve the journeys of thousands of customers.</p>

<p>'I would like to thank customers for their patience while this work has taken place and hope that making these stations more accessible will make life easier, with new journey options for many people.</p>

<p>'Meanwhile, accessibility and other improvements continue at all TfL Rail stations that will be part of the new transformative Elizabeth line.'</p>

<p>Alan Benson, Chair of Transport for All, said: 'I'm delighted these stations have become step-free, particularly as an accessible Elizabeth line is something we campaigned strongly for.</p>

<p>'These improvements will transform how disabled people can travel in and across the city, and make a huge difference to those who currently struggle to use London's public transport network.'</p>

<h2>Transform travel</h2>

<p>Cllr John Howard, Redbridge Cabinet Member for Civic Pride, said: 'The new step-free access at Seven Kings station is brilliant news for our residents and visitors to the borough.</p>

<p>'It is rewarding to have improvements at local train stations that create easier travel for commuters with accessibility needs.</p>

<p>'It is important that everyone can access public transport and we look forward to welcoming more improvements ahead of the Elizabeth line.'</p>

<p>TfL Rail customers at some stations are already benefitting from new shelters, new platform seating and improved customer information screens.</p>

<p>Further improvements are now underway at Brentwood, Harold Wood, Gidea Park and Romford TfL Rail stations.&nbsp; Customers at these stations will notice newly-painted canopies, light columns and platform buildings later this summer.</p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>On the western side of the Elizabeth line route, Hanwell, Iver, Langley and Taplow stations will have lifts installed with a new entrance and ticket hall being built at Iver station</li>
	<li>Network Rail has also installed steelwork for new footbridges and lifts at Ealing Broadway, West Ealing and Acton Main Line, with Ealing Broadway having also opened up a new double width staircase for passengers in January</li>
	<li>There are now more than 200 step-free stations across the TfL network. These include: 77 Tube stations, 58 Overground stations, ten TfL Rail stations and all DLR stations and Tram stops</li>
	<li>When the Elizabeth line fully opens all 41 stations will be step-free from street to platform, with level access from street to train at all of the new central section London stations and at Heathrow and Abbey WoodfL's station improvement schemes are jointly funded by Transport for London and the Department for Transport (DfT)</li>
	<li>TfL has also recommended that 21 London Overground and National Rail stations across London receive Access for All funding from Government, to improve connectivity for customers with accessibility needs</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-March-Step-free access arrives at four eastern TfL Rail stations -->

 
 
        
        
            @{ViewBag.Description = "Step-free access arrives at four eastern TfL Rail stations";}
        
        


 