


@{ViewBag.Title = "Stricter enforcement of Rotherhithe Tunnel's vital safety restrictions";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Stricter enforcement of Rotherhithe Tunnel’s vital safety restrictions</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Stricter enforcement of Rotherhithe Tunnel’s vital safety restrictions</h1>
        <div class="content-page-press-release">
        22 November 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Vehicles that are more than two metres wide or two metres high, or goods vehicles weighing more than two tonnes* have been banned from the Rotherhithe Tunnel since September 2018
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Safety is our top priority and these restrictions are absolutely essential to ensure that people can continue to use the Rotherhithe Tunnel safely"</div>
        <div class="quote-footer">
            <div class="quotee-name">Glynn Barton</div>
            <div class="quotee-job-title">TfL's Director of Network Management</div>
        </div>
</div>

 <div class="on-this-page">
<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">TfL&nbsp;is making enforcement of vital safety restrictions in the Rotherhithe Tunnel stricter to stop vehicles that are more than two metres (six foot six inches) wide or two metres high, or goods vehicles weighing more than two tonnes, from endangering other road users by entering the tunnel.</span></span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">Since February, enforcement of the weight restriction has been carried out by cameras and people driving prohibited vehicles through the tunnel have been fined up to &pound;130 per day.</span></span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">To give people the chance to get used to the new restrictions, for the first two weeks, TfL sent letters to drivers caught breaking the rules rather than issuing fines. Since then, TfL has used its discretion to limit prohibited vehicles to one fine per day.</span></span></span></span></p>

<h2 style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span><span style="font-size:12.0pt"><span>Keep people in the tunnel safe</span></span></span></span></h2>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">However, TfL has continued to see a number of repeat offences by prohibited vehicles.</span></span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">To keep people in the tunnel safe, from 2 December, drivers of prohibited vehicles will now receive a fine for each journey through the tunnel.</span></span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">TfL is also writing to vehicle rental companies to ask them to remind their customers of the safety restrictions in place at the tunnel.</span></span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><strong><span style="font-size:12.0pt"><span style="line-height:150%">Glynn Barton, TfL's Director of Network Management, said</span></span></strong><span style="font-size:12.0pt"><span style="line-height:150%">: 'Safety is our top priority and these restrictions are absolutely essential to ensure that people can continue to use the Rotherhithe Tunnel safely.</span></span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">'People driving vehicles through the tunnel that do not meet the restrictions are putting both themselves and others at risk.</span></span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">'I would encourage all users of the tunnel to check that their vehicle is below two metres in height and width, and that goods vehicles are less than two tonnes in weight, so that they are compliant with the new penalties.'</span></span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">TfL is working on proposals to physically prevent vehicles higher than two metres entering the tunnel.</span></span></span></span></p>

<h2 style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span><span style="font-size:12.0pt"><span>Top priority</span></span></span></span></h2>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">The tunnel, which was built in 1908, was not designed to cope with modern levels of traffic.</span></span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">Safety is TfL's top priority and in September 2018 it carried out detailed analysis of the tunnel's ventilation system, which would be used to extract smoke and other dangerous fumes in the event of a fire.</span></span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">This showed that the tunnel's ventilation system would be not be able to cope when dealing with fires involving larger and heavier vehicles.</span></span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">New restrictions were therefore vital to ensure road users could continue to use the tunnel safely, whilst TfL works on plans for the tunnel's future.</span></span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">By not complying with restrictions at the tunnel, drivers are putting themselves and others at risk.</span></span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">TfL is due to set out its plans for the future of the Rotherhithe Tunnel this autumn as part of its annual Business Plan.</span></span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">The plan will set out how TfL intends to finance the repairs necessary to secure the tunnel's long-term future as a vital road link under the Thames in east London.</span></span></span></span><span style="font-size:11pt"><span style="line-height:150%">&nbsp;</span></span></p>

<hr />
<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><u><span style="font-size:12.0pt"><span style="line-height:150%">Notes to editors</span></span></u></span></span></p>

<ul>
	<li style="margin: 0cm 0cm 8pt;"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">*Two tonnes gross vehicle weight</span></span></span></span></li>
	<li style="margin: 0cm 0cm 8pt;"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">More information about the tunnel and the restrictions is available at <a href="https://tfl.gov.uk/modes/driving/rotherhithe-tunnel-restrictions?cid=rotherhithe-tunnel" style="text-decoration-line: underline; text-decoration-color: initial;">tfl.gov.uk/rotherhithe-tunnel</a></span></span></span></span></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/49479">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-November-Stricter enforcement of Rotherhithe Tunnel’s vital safety restrictions -->

 
 
        
        
            @{ViewBag.Description = "Stricter enforcement of Rotherhithe Tunnel’s vital safety restrictions set to prevent drivers endangering themselves and others";}
        
        


 