


@{ViewBag.Title = "Summer of Cycleway events across London launch in Southwark Park";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Summer of Cycleway events across London launch in Southwark Park</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Summer of Cycleway events across London launch in Southwark Park</h1>
        <div class="content-page-press-release">
        04 June 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL's Summer of Cycleways will see cycling events along cycle routes across the capital
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'm really excited to launch our fantastic programme of Summer of Cycleway events in Southwark Park with a wide range of activities no matter what your age or ability"</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL and Southwark Council will host a day of cycling themed activities in Southwark Park on Sunday 9 June, to encourage Londoners to take to two wheels.</p>

<p>The Cycleways Festival will bring together the local community and people from across London interested in cycling for a day of cycling activities, ahead of work starting on a new route between Tower Bridge and Greenwich this summer, Cycleway 4.</p>

<p>The event will provide people with the opportunity to find out more about Cycleway 4 and to try cycling with children's activities, cycle hire and cycle training all available.</p>

<h2>Encourage Londoners</h2>

<p>The event around Southwark Park's main bandstand will include:</p>

<ul>
	<li>Santander Cycles pop up docking station on both Saturday 8 and Sunday 9 June, allowing people to hire bikes in Southwark Park for the first time</li>
	<li>Children's cycling games hosted by Sustrans</li>
	<li>A smoothie bike - to make a fruity drink using pedal power</li>
	<li>BikeRegister &#45; people can get their bikes marked and registered for free</li>
	<li>London Cycling Campaign's Dr Bike - experienced cyclists and mechanics will check everything on bikes for free from wheels, brakes, gears and tyre pressure to lights, racks, pedals, saddles and more</li>
	<li>Demonstrations from Cycling without Age and Kids on Wheels, both community cycling projects based in Southwark and funded through TfL's Cycling Grants London programme</li>
	<li>Virtual Reality headsets &#45; people can experience the view from a HGV driver's perspective - seeing what a driver can and can't see from the cab, as well as viewing scenes from a cyclist's perspective. Virtual reality footage of TfL's new cycling infrastructure will also be available</li>
	<li>Food and drink</li>
</ul>

<p>Will Norman, London's Walking and Cycling Commissioner, said: 'Cycling is a great way to explore London all year round, but the better weather makes the summer the perfect time to take to two wheels.</p>

<p>'I'm really excited to launch our fantastic programme of Summer of Cycleway events in Southwark Park with a wide range of activities no matter what your age or ability.'</p>

<p>Cllr Richard Livingstone, Cabinet Member for Environment, Transport and the Climate Emergency at Southwark Council, said: 'We are delighted to be hosting the launch of TfL's Summer of Cycleways celebrations in Southwark Park.</p>

<p>'We are keen for even more people in Southwark to walk and cycle more, in a move to improve their health and wellbeing, along with road safety and air quality.</p>

<p>I hope to see lots of local people enjoying the park, having fun with friends and family and being inspired to try out a bike on one of our growing network of excellent cycle routes.'</p>

<p>Millie Quickenden, Marketing Manager for BikeRegister, said: 'We are delighted to be supporting the Summer of Cycleways events in London this summer.</p>

<p>'Free Cycle Marking will be available at the Cycleways Festival on Sunday 9 June, and we encourage as many cyclists as possible to come along and get their bike marked and registered for free on BikeRegister - the UK's national cycle database.'</p>

<h2>Summer of cycling</h2>

<p>TfL is planning a summer of cycling themed events to encourage people to take up cycling and to spread awareness of cycle routes across London, which will be branded Cycleways if they meet TfL's new strict Cycling Quality Criteria.</p>

<p>London's growing cycling network will be gradually rebranded as Cycleways over the coming months following clear feedback from Londoners that the current brands can be misleading &#45; especially for those new to cycling.</p>

<p>Alongside the rebrand, a number of high quality Cycleways will also be opening across London.</p>

<p>The Summer of Cycleways events will include Santander Cycles guided cycle rides on Sundays throughout August and early September between Lancaster Gate and Blackfriars.</p>

<p>The free rides will take 20 people on a tour of many of London's main sites, such as Hyde Park, the Houses of Parliament and Buckingham Palace.</p>

<h2>Spread awareness</h2>

<p>There will be a range of cycling events across London this summer, such as led cycle rides, Prudential Ride London and Dr Bike sessions where experienced cyclists and mechanics check and repair&nbsp;bikes.</p>

<p>Events this summer include:</p>

<ul>
	<li><strong><a href="https://www.cyclinguk.org/bikeweek">Bike Week</a></strong> &#45; 8 -16 June &#45; Cycling events across London during Bike Week include led rides organised by the <a href="https://www.royalgreenwich.gov.uk/bikeweek2019">Royal borough of Greenwich </a>along the Thames Path Cycleway and between Greenwich and Bexleyheath and a week-long programme of cycling events in <a href="https://www.hounslow.gov.uk/CycleHounslow">Hounslow</a></li>
	<li><strong><a href="https://www.eventbrite.co.uk/e/are-cargo-bikes-the-solution-to-the-click-and-deliver-society-tickets-58986334715">Are cargo bikes the solution to the &quot;click-and-deliver&quot; society?</a></strong> &#45; 12 June &#45; Come to an event hosted by Better Bankside to hear from businesses small and large that have implemented sustainable delivery solutions and understand more about the benefits and challenges of using cargo/e-cargo bikes for deliveries</li>
	<li><strong><a href="https://www.haringey.gov.uk/events/34696-saddle-and-sole">Saddle and Sole - Festival of Walking and Cycling </a></strong>&#45; 16 June &#45; The family-friendly festival, hosted by Haringey, Hackney and Islington Councils in Finsbury Park, will offer a number of free activities such as cycling skills, guided cycle rides, Dr Bike maintenance checks and a showcase of vintage bikes to celebrate 150 years of Finsbury Park</li>
	<li><strong><a href="https://www.eventbrite.com/e/family-cycling-fun-day-tickets-61861934712">Family Cycling Fun Day in Walthamstow </a></strong>- Sunday 30 June. The free event at Thomas Gamuel Park from 2pm-5pm, includes cycling games for children, bike maintenance workshops, opportunities to try family cycling equipment including cargo bikes and trailers, Dr Bike checks, stalls with information about led rides and local cycling projects, as well as a virtual reality bike ride through the borough with Waltham Forest Council's Enjoy Waltham Forest team</li>
	<li><strong><a href="http://www.nationalparkcity.london/festival">National Park City Festival </a></strong>- 20-28 July - The Mayor of London is celebrating making London the world's first National Park City, with a free week-long festival. The Festival will celebrate London's green spaces and aims to help a wide range of Londoners discover new environmental, cultural, sporting and community activities</li>
	<li><a href="https://lcc.org.uk/events"><strong>Local cycling events </strong></a>&#45; find something in your local area this summer, from an Illuminated Ride, Women on Wheels to Summer Evening Rides</li>
	<li><a href="https://www.prudentialridelondon.co.uk/"><strong>Prudential Ride London </strong></a>&#45; 3-4 August - The world's largest mass participation festival of cycling, will return to London and Surrey this August and Londoners are encouraged to make the most of traffic free streets with a wide range of events taking place across both Saturday and Sunday</li>
	<li><strong>Santander Cycles guided rides </strong>&#45; 11, 18, 25 August and 1 September &#45; free guided cycle rides between Lancaster Gate and Blackfriars</li>
	<li><a href="https://www.sustrans.org.uk/cycletoworkday"><strong>Cycle to Work Day </strong></a>- 8 August - The UK's biggest one-day celebration of cycling to work, where thousands of people are encouraged to commute to work by bike</li>
	<li><a href="https://www.haringey.gov.uk/libraries-sport-and-leisure/parks-and-open-spaces/z-parks-and-open-spaces/finsbury-park#150"><strong>Finsbury Park's 150 Year Anniversary </strong></a>- 10 August - A cycle ride from Lordship Recreational grounds to Finsbury Park to celebrate the park's 150th anniversary</li>
	<li><a href="https://www.londonplay.org.uk/content/45518/our_work/recent_work/car_free_day_2019/car_free_day_2019"><strong>World Car Free Day </strong></a>&#45; 22 September - At least 200 streets across the capital will be transformed into temporary play spaces to celebrate World Car Free Day</li>
</ul>

<p>Cllr Julian Bell - Chair of London Councils' Transport and Environment Committee, said: 'As an avid cyclist myself, I am thrilled to see the Summer of Cycleways bring cycling-themed activities and events to London.</p>

<p>'The Summer of Cycleways will not only celebrate the new cycle route between Tower Bridge and Greenwich, but also highlight the wide-ranging benefits of cycling to get around the city.</p>

<p>'These range from combatting emissions to increasing the amount of exercise people can fit into their busy schedules. The programme is a fantastic way to get people on a bicycle.'</p>

<h2>Perfect time</h2>

<p>Matt Winfield, London Director for Sustrans, the national charity making it easier for people to walk and cycle, said: 'It's the perfect time for us Londoners to enjoy the warmer days on our bikes.</p>

<p>'If you haven't been on your bike for a while, why not go on a pedal-powered mini adventure and try some of the fun activities in the Summer of Cycleways.</p>

<p>'For all Londoners to have the chance to cycle, we want to see more high quality cycleways across Greater London.</p>

<p>'Boroughs must get serious about delivering a wide range of measures, including ambitious street design, pocket parks, planters and cycleways. It is also imperative that the new quality standards are rigorously applied.'</p>

<p>Simon Munk, Infrastructure Lead at London Cycling Campaign, said: 'We're joining with the Mayor, TfL and Londoners to celebrate more and a wider range of people than ever cycling in London this summer.</p>

<p>'Hundreds of LCC volunteers will be supporting cycling through the summer across the city with fun rides, exciting events and community support programmes for those just starting to cycle, while we continue to work with the Mayor and his team on tripling the mileage of protected space on main roads via the Cycleways programme, ensuring Londoners get the high-quality protected space they need and the Mayor promised to our members and supporters.'</p>

<p>This summer, work is proposed to begin on Cycleway 4, a high quality segregated cycle route on Tooley Street, Jamaica Road, Evelyn Street and Creek Road.</p>

<p>The new Cycleway is part of the Mayor's plans to create Healthy Streets across the capital, which enable people to walk, cycle and use public transport more often, benefitting people's health, improving air quality and reducing road danger.</p>

<p>Construction of the route, which includes 4km of segregated cycle track, is proposed to begin next month along Tooley Street and at Rotherhithe Roundabout.</p>

<p>People are advised to plan ahead, travel outside peak periods, and allow more time for journeys once the work starts. Full travel advice will be available on the TfL website.</p>

<p>Cllr Brenda Dacres, Cabinet Member for Environment and Transport (job share) at Lewisham Council, said: 'I am thrilled that work on Cycleway 4 is set to begin this summer, fulfilling a promise to our residents.</p>

<p>'Healthy Streets are a key part of our local transport plan and Cycleway 4 will not only encourage people to ditch their cars and pick up their bikes, but will make walking more pleasant too.</p>

<p>'This will have a wide range of benefits for Lewisham including improving air quality, which remains one of our key priorities, as well as making Deptford a more pleasant place to live, work and shop.</p>

<p>'We are delighted to be working with the Mayor of London and TfL on this project that will transform our cycling infrastructure in Lewisham.'</p>

<p>Since 2016, TfL and the Mayor have doubled the amount of protected cycling infrastructure built in the capital, with 116km of protected cycle lanes now complete or under construction in London.</p>

<p>For more information about the Cycleways Festival and cycling events across London visit TfL's Experience London blog - <a href="https://londonblog.tfl.gov.uk/category/cycling/">londonblog.tfl.gov.uk/content/cycling</a></p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>The Cycleways Festival will be held around the bandstand in Southwark Park on Sunday 9 June, between 10am and 4pm</li>
	<li>There will be speeches and media interview opportunities at middaywith Will Norman, London's Walking and Commissioner, Neil Coyle the MP for Bermondsey and Old Southwark and Cllr Richard Livingstone, Cabinet Member for Environment, Transport and the Climate Emergency</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-June-Summer of Cycleway events across London launch in Southwark Park -->

 
 
        
        
            @{ViewBag.Description = "Summer of Cycleway events across London launch in Southwark Park";}
        
        


 