


@{ViewBag.Title = "Team effort to keep London moving during winter weather";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Team effort to keep London moving during winter weather</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Team effort to keep London moving during winter weather</h1>
        <div class="content-page-press-release">
        25 February 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"We're working with all the London Boroughs and the emergency services to develop in-depth plans and keep the Capital moving. We would encourage customers to check before they travel, using our website or our Twitter feeds"</div>
        <div class="quote-footer">
            <div class="quotee-name">Gareth Powell</div>
            <div class="quotee-job-title">Managing Director of Surface Transport at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p>As the Capital prepares for wintry weather, Transport for London (TfL), all of London's boroughs and the City of London are again joining forces to develop coordinated plans to keep London moving.</p>
<p>In case of any severe winter weather, TfL will keep the rail and strategic road networks open and running, including key arterial roads, cycle routes and footways around bus and railway stations, hospitals and police, fire and ambulance stations across London.</p>
<p>Between TfL and the London boroughs, more than 100,000 tonnes of salt are available at key locations across the Capital for quick and easy access.</p>
<h2>Keep roads and pavements clear</h2>
<p>TfL is responsible for the maintenance of all of London's Red Routes, a network of 580km of key roads, and has a fleet of 39 road gritters, all of which are low emission and can be fitted with ploughs, as well as gritting quad-bikes and flatbed trucks to keep the roads and pavements clear.</p>
<p>TfL and London's boroughs will also ensure that cycling routes remain safe, using the dedicated Cycle Superhighways grit spreader.</p>
<p>Across London, all transport agencies will be working around the clock to minimise any disruption on the Tube, bus, rail and road networks.</p>
<h2>Well rehearsed plans</h2>
<p>On London Underground there are well rehearsed plans that include running de-icing trains overnight, keeping tracks as clear as possible and treating platforms to keep them safe for customers.</p>
<p>On the DLR, points heaters are in operation and teams of staff are ready to grit station platforms. On London Overground, trains that are fitted with de-icing tanks will be operating across the network to ensure conductor rails are free of ice.</p>
<p>Stations will also be gritted and conductor rail heating has been installed at key parts of the network.</p>
<p>Londoners and visitors to the city are reminded to check before they travel during any severe cold weather period, and to allow extra journey time where necessary.</p>
<p>Passengers can check before travelling by visiting tfl.gov.uk or following &#64;TfLTravelAlerts, &#64;TfLTrafficNews and &#64;TfLBusAlerts on Twitter.</p>
<h2>Keep the Capital moving</h2>
<p>Gareth Powell, Managing Director of Surface Transport at TfL, said: 'Once again we have done everything possible to ensure that we have well-rehearsed procedures in place to minimise the consequences of any wintry weather.</p>
<p>'We're working with all London Boroughs  and the emergency services to develop in-depth plans and keep the Capital moving. We would encourage customers to check before they travel, using our website or our Twitter feeds.'</p>
<p>Cllr Julian Bell, Chair of London Councils' Transport and Environment Committee, said: 'London boroughs will continue to play their part in keeping transport running smoothly and safely as the Capital braces itself for an icy winter.</p>
<p>'London boroughs are responsible for 95% of the Capital's roads and are working with TfL and other partners to keep key routes open and minimise disruption. Boroughs are implementing their carefully prepared plans to ensure key routes are salted and cleared when necessary.</p>
<p>'Please take care when travelling in adverse conditions and check the latest travel advice and information on what is happening in your area.'</p>
<hr />
<p><strong>Notes to editors</strong></p>
<ul>
    <li>TfL, the 32 boroughs and City of London have more than 100,000 tonnes of grit available to use between them. Priority routes for gritting are published on borough websites and include main roads, bus routes and roads leading to fire stations and hospitals. Many boroughs will also be gritting pavements in busy areas to help pedestrians and support local businesses</li>
    <li>The winter operations plan agreed by TfL and its partner agencies also means that the Santander Cycles scheme will remain operational through all weather conditions. Additional detailed plans are also in place to ensure Dial-a-Ride, London River Services and Victoria Coach Station are not significantly disrupted during severe winter weather. The Emirates Air Line is designed to operate throughout the year in most weather conditions. However as with any mode of transport there are operational limitations and cable cars are not designed to operate during very strong gusts of wind or when there is a threat of lightning in the immediate area</li>
    <li>Londoners can also report any road defects at the TfL website via <a href="http://reportit.tfl.gov.uk/">reportit.tfl.gov</a>.uk or call TfL on 0343 222 1234, who can redirect enquiries to the relevant local authority if necessary</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-February-Team effort to keep London moving during winter weather -->

 
 
        
        
            @{ViewBag.Description = "Team effort to keep London moving during winter weather";}
        
        


 