


@{ViewBag.Title = "Telecoms giant fined for mismanaging streetworks for second time in four months ";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Telecoms giant fined for mismanaging streetworks for second time in four months </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Telecoms giant fined for mismanaging streetworks for second time in four months </h1>
        <div class="content-page-press-release">
        03 October 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has successfully prosecuted telecommunications company Vodafone for the second time this year as part of its commitment to ensure that road works cause as little disruption as possible to road users.</p>
<p>Vodafone's offences, which took place between February and March this year, include working without a permit in Borough High Street and failing to serve the required streetworks notices before starting work at St Thomas Street in Southwark, Loampit Vale in Lewisham and Bishopsgate in the City of London. Vodafone failed to pay the Fixed Penalty Notices issued by TfL in response to these offences.</p>
<p>Ahead of a hearing at Westminster Magistrates Court on 28 September, Vodafone pleaded guilty to the offences and the company was fined a total of &pound;3,500 and ordered to pay prosecution costs of &pound;3,020.</p>
<p>Garrett Emmerson, TfL's Chief Operating Officer for Surface Transport, said: `These offences prevent us from coordinating streetworks effectively and we will continue to push for the toughest penalties possible against telecommunications and other companies caught acting unlawfully. We are committed to keeping London's roads as clear as possible to prevent unnecessary disruption to journeys and to help us tackle poor air quality.'</p>
<p>Since January 2015 TfL has prosecuted Vodafone on three occasions and issued the company with 78 Fixed Penalty Notices, 33 of which were within the last year.</p>
<p>In June Vodafone was prosecuted for failing to serve a required statutory Streetworks notice for work in Tooting Bec on 7 and 8 January 2016.</p>
<p>Including this latest offence, the company has been ordered to pay a total of &pound;12,706 in fines for mismanaging streetworks since 2015.</p>
<p>Ends</p>
<p>Notes to Editor:</p>
<ul>
    <li>Further information regarding the previous Vodafone prosecution this year go to: <a href="http://tfl.gov.uk/info-for/media/press-releases/2016/july/tfl-successfully-prosecutes-second-utility-company-in-seven-days-for-mismanaging-streetwor">tfl.gov.uk/info-for/media/press-releases/2016/july/tfl-successfully-prosecutes-second-utility-company-in-seven-days-for-mismanaging-streetwor</a></li>
    <li>Londoners can report disruptive or badly managed roadworks, as well as road defects such as potholes and damaged footpaths, by visiting <a href="http://reportit.tfl.gov.uk">reportit.tfl.gov.uk</a>. Any enquiries received will be sent directly to the relevant Highway Authority (TfL or a London borough) responsible, ensuring that direct and fast action can be taken</li>
    <li>For more information about the wider work TfL is carrying out to keep London moving, please visit <a href="http://tfl.gov.uk/roads">tfl.gov.uk/roads</a> </li>
    <li>The below table sets out the number of times TfL has prosecuted utility companies since 2010:</li>
</ul>
<div class="table-container"><table>
    <thead>
    </thead>
    <tbody>
        <tr>
            <td>Company</td>
            <td>Number of prosecutions</td>
            <td>Percentage of total prosecutions</td>
        </tr>
        <tr>
            <td style="text-align: left; vertical-align: top;">
            <p>British Telecom</p>
            </td>
            <td valign="top">38<br />
            </td>
            <td valign="top">35%<br />
            </td>
        </tr>
        <tr>
            <td>Thames Water</td>
            <td>13</td>
            <td>12%</td>
        </tr>
        <tr>
            <td>Infocus<br />
            </td>
            <td>11<br />
            </td>
            <td>10%</td>
        </tr>
        <tr>
            <td>Virgin Media<br />
            </td>
            <td>10</td>
            <td>9%</td>
        </tr>
        <tr>
            <td>Fulcrum<br />
            </td>
            <td>9</td>
            <td>8%</td>
        </tr>
        <tr>
            <td>UK Power Networks/London Power Networks <br />
            </td>
            <td>9</td>
            <td>8%</td>
        </tr>
        <tr>
            <td>Vodafone <br />
            </td>
            <td>7</td>
            <td>6%</td>
        </tr>
        <tr>
            <td>National Grid Gas<br />
            </td>
            <td>5</td>
            <td>5%</td>
        </tr>
        <tr>
            <td>Cable &amp; Wireless<br />
            </td>
            <td>3</td>
            <td>3%</td>
        </tr>
        <tr>
            <td>Abovenet<br />
            </td>
            <td>2</td>
            <td>2%</td>
        </tr>
        <tr>
            <td>McNicholas (on behalf of Virgin Media)<br />
            </td>
            <td>1</td>
            <td>1%</td>
        </tr>
        <tr>
            <td>O2 <br />
            </td>
            <td>1</td>
            <td>1%</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>109<br />
            </td>
            <td>100%</td>
        </tr>
    </tbody>
</table></div>
<p>&nbsp;</p>
<ul>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-October-Telecoms giant fined for mismanaging streetworks for second time in four months  -->

 
 


 