


@{ViewBag.Title = "Ten years of TfL's iBus has given greater independence to customers with hearing or visual impairments";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Ten years of TfL’s iBus has given greater independence to customers with hearing or visual impairments</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Ten years of TfL’s iBus has given greater independence to customers with hearing or visual impairments</h1>
        <div class="content-page-press-release">
        30 April 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Transport for London (TfL) is marking 10 years of the iBus system that has improved service reliability and information provision, making journeys easier and more accessible for all.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The iBus automatic vehicle location and radio system provides real-time journey information for customers and has made the bus network easier to use, particularly for people with hearing or visual impairments and those unfamiliar with specific bus routes, and has boosted bus reliability to record levels.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The system was introduced to all buses in 2009, providing audio-visual route, destination and next stop information to customers for the first time.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The introduction of iBus has particularly benefited passengers with hearing or visual impairments, who previously may have had to rely on familiarity of a route or assistance from the bus driver to ensure they didn't miss their stop. iBus also allows TfL to warn customers of planned disruption such as major events, to encourage them to plan their travel in advance.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The reliability of the bus network is at an all-time high, and this is in part due to the additional benefits of iBus. Through a combination of technologies, including GPS, the exact location of buses can be pinpointed at any time, helping bus controllers to improve performance and reliability.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The provision of this information freely and openly to developers has enabled customers to plan journeys more accurately using apps with real-time information and advice on how to adjust their routes. This provides greater certainty on when the next bus/Tube will arrive and saves time - estimated at between &pound;70m and &pound;90m per year in time saved across all TfL services.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The system has seen a number of improvements since being introduced, with changes to improve the timing of the audio and visual messages between stops and additional 'alight here for' messages. An on-board clock was introduced in 2014 and&nbsp;last month the system was updated so that when the bus driver is about to make an announcement a chime sounds and an &quot;announcement in progress&quot; notification appears on the screen. This helps customers to differentiate between normal 'next stop' announcements and important information from the bus driver.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Guide Dogs London Engagement Officer, Dave Kent said:</strong> `The rollout of the iBus across the London bus network has revolutionised the way blind and vision impaired people travel around the capital.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">`The on-board audio information means that a greater number of blind people are able to travel independently and orientate themselves throughout their journey. Therefore increasing confidence and achieving a real sense of inclusivity.'</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Transport for All Chair, Alan Benson said: </strong>`Since its introduction the iBus system has become fundamental to travelling in London. It's ubiquitous. It's embedded in the daily travel experience of millions of passengers. We don't realise how important it is, how much we all rely on it, until we leave London and use a bus that doesn't have it. This system intended to aid disabled people makes London buses easier and more accessible for everyone. iBus is the perfect example of the benefits of inclusivity.'</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>TfL's Head of Technology and Data, Simon Reed said:</strong> `In London we have the largest accessible bus fleet in the world, which plays an integral role in ensuring Londoners can get around and make the most of all that the city has to offer. The iBus system has transformed our customers' journeys, and particularly helped people with visual or hearing impairments, by making it easier to navigate London, by reassuring customers that they are on the right vehicle and by giving them plenty of notice of their destination stop. It is just one example of our commitment to make journeys easier and more accessible for everyone.'</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The iBus platform is a versatile tool and has enabled many other on-board services including &quot;Get Ahead of the Games&quot; messaging leading up to the 2012 Olympic Games advising customers on their travel plans and has also been used to for safety messages and announcing major fundraising appeals.</span></span></p>

<p><span style="font-size:12pt"><span style="line-height:21pt">In 2009, London was the first city in the UK to integrate audio-visual announcements across its entire fleet of buses with others including Nottingham, Reading, Edinburgh all following suit.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">TfL has invested &pound;18m to ensure that 95 per cent of London's bus stops are now accessible &#45; tripling the number in the capital since 2008. London's entire fleet of 9,300 buses are low floor, wheelchair accessible and fitted with ramps.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">TfL continues to invest significantly in improving the accessibility of its transport network for the benefit of all Londoners.&nbsp; TfL is also working to deliver more step-free stations including Cockfosters, Mill Hill East, Boston Manor and Ruislip and by Spring 2024 at least 35 per cent of the Tube network will be step-free.</span></span></p>

<p><span style="font-size:12.0pt">In addition to being the most accessible form of public transport in London, buses are one of the most affordable. Customers can change buses unlimited times within an hour for just &pound;1.50 due to the Mayor's Hopper Fare. Since it launched more than 300 million hops have been made.</span></p>

<ul>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">iBus allows buses to manage their service and to improve reliability. Service Controllers at bus garages are able to view on screen the real-time progress of buses along routes, and can manage these buses more effectively through changing traffic conditions.</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Live Bus Arrival information for bus stops across London is available via Countdown signs on street, mobile apps, SMS, the web service and Digital Signs; enabling our customers to know when their bus is expected to arrive at a bus stop. The data that feeds these services is taken from the iBus system.</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">In addition to showing the order in which buses will reach a stop, the system shows their destinations and the number of minutes until their expected arrival. Live bus arrivals also display special messages about service disruption conditions.</span></span></span></li>
</ul>

<p><span style="font-size:12.0pt">Attached is a video marking the 10 year anniversary of iBus on all London buses and highlighting the system's benefits.</span></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-April-Ten years of TfL’s iBus has given greater independence to customers with hearing or visual impairments -->

 
 
        
        
            @{ViewBag.Description = "Ten years of TfL's iBus has given greater independence to customers with hearing or visual impairments";}
        
        


 