


@{ViewBag.Title = "TfL confirms changes to private hire operator licence fees ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL confirms changes to private hire operator licence fees </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL confirms changes to private hire operator licence fees </h1>
        <div class="content-page-press-release">
        18 September 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Changes see operators paying a fee which reflects the increased costs of licensing and enforcement
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The safety of Londoners is TfL's top priority, and the changes to fees will help us fund additional compliance officers who do a crucial job cracking down on illegal and dangerous activity"</div>
        <div class="quote-footer">
            <div class="quotee-name">Helen Chapman</div>
            <div class="quotee-job-title">General Manager of Taxi & Private Hire, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Increased fees fund commitments in the Mayor's Taxi and Private Hire Action Plan that will drive up industry standards</li>
    <li>Private hire operator licence fees have not increased since April 2013</li>
</ul>
<p>Transport for London (TfL) has confirmed that changes will be made to the fees private hire operators are charged for the cost of licensing, compliance and enforcement activity.  The new fees more accurately reflect the resources required to regulate firms, based on the size of their operations.</p>
<p>The Capital's private hire industry has grown dramatically, from 65,000 licensed drivers in 2013/14, to more than 116,000 today.  The number of vehicles has increased from 50,000 to 88,000 over the same period.  With this growth, there has been a substantial increase in the cost of ensuring private hire operators fulfil their licensing obligations and in tackling illegal activity to keep passengers safe.  It is estimated that over the next five years enforcement costs alone will reach &pound;30 million, up from a previous estimate of &pound;4m.</p>
<p>The total projected cost for licensing, enforcement and compliance for the taxi and private hire trades over the next five years is &pound;209m.</p>
<p>The law allows the recovery of costs incurred for licensing, regulatory and enforcement activity through the licence fee process.  All money generated through the process has to be spent on such activity.</p>
<p>As set out in the Mayor's Taxi and Private Hire Action Plan, income from operator licensing fees will be used to contribute to funding an extra 250 Compliance Officers, with most now in post.  The team plays a pivotal role in keeping Londoners safe.  They also provide reassurance to those travelling at night through a highly visible, uniformed presence in the West End, City and other areas across London.</p>
<p>Previously a 'small' operator, with no more than two vehicles, would pay &pound;1,488 and a 'standard' operator &#45; those with more than two vehicles, regardless of the size of its fleet - would pay &pound;2,826 for a licence lasting five years.</p>
<p>The new fee structure, approved by the TfL Finance Committee, will replace the existing two 'tiers' with eight; with charges ranging from &pound;2,000 for a five year licence for those with 10 vehicles or fewer, to &pound;464,000 per year for the largest operator.  This would ensure the licence fee structure for private hire operators reflects the costs of compliance activity according to the scale of each operator.</p>
<p>TfL recently consulted on the changes and has listened to feedback, which identified that the original proposals penalised small and medium-sized operators and has now created additional charging bands.  To further support successful businesses, TfL has also included provision allowing operators in the largest six categories to pay fees in annual instalments.</p>
<p>There are around 2,400 private hire operators in the Capital.  Close to half have 10 vehicles or fewer, with just five per cent of companies in charge of fleets of over 100 vehicles.</p>
<p>Helen Chapman, General Manager of Taxi &amp; Private Hire, said: </p>
<p>'There has been a huge growth in the industry in recent years and it is only fair that the licence fee reflects the costs of regulation and enforcement.</p>
<p>'The safety of Londoners is TfL's top priority, and the changes to fees will help us fund additional compliance officers who do a crucial job cracking down on illegal and dangerous activity.</p>
<p>'We have listened to the views of stakeholders in the consultation and have amended the fees structure to give small and medium-sized operators more flexibility in how they manage the size of their fleets.'</p>
<p>The Finance Committee also approved changes to licence fees for taxi drivers, taxis, private hire drivers and private hire vehicles.  These fees were all frozen last year (2016/17).</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<p><strong><span style="text-decoration: underline;">Operator fees</span></strong></p>
<p><strong><span style="text-decoration: underline;"></span></strong></p>
<div class="table-container"><table style="width: 531px; height: 309px;">
    <thead>
    </thead>
    <tbody>
        <tr>
            <td style="vertical-align: middle;">&nbsp;Number of Vehicles<br />
            </td>
            <td style="vertical-align: middle;">
            <p><strong>Current Fee(&pound;)</strong></p>
            <p><strong>(Total) </strong></p>
            </td>
            <td style="vertical-align: middle;"><br />
            </td>
            <td style="vertical-align: middle;">&nbsp;<strong>Proposed 5 year fee(&pound;) </strong></td>
            <td style="vertical-align: middle;">&nbsp;</td>
            <td style="vertical-align: middle;">Proposed Fee as an average annual cost (&pound;) <br />
            </td>
        </tr>
        <tr>
            <td style="vertical-align: middle;">&nbsp;</td>
            <td style="vertical-align: middle;">&nbsp;</td>
            <td style="vertical-align: middle;">&nbsp;Application</td>
            <td style="vertical-align: middle;">&nbsp;Grant of licence<br />
            </td>
            <td style="vertical-align: middle;"><strong>Total&nbsp;</strong> <br />
            </td>
            <td style="vertical-align: middle;">&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;0-10</td>
            <td>&nbsp;1,488</td>
            <td style="vertical-align: middle;">&nbsp;400</td>
            <td>&nbsp;1,600</td>
            <td style="vertical-align: middle;"><strong>&nbsp;2,000</strong></td>
            <td style="vertical-align: middle;">&nbsp;N/A</td>
        </tr>
        <tr>
            <td>&nbsp;11-20</td>
            <td>&nbsp;2,826</td>
            <td style="vertical-align: middle;">&nbsp;1,200</td>
            <td>&nbsp;4,800</td>
            <td style="vertical-align: middle;"><strong>&nbsp;6,000</strong></td>
            <td style="vertical-align: middle;">&nbsp;N/A</td>
        </tr>
        <tr>
            <td>&nbsp;21-50</td>
            <td>&nbsp;2,826</td>
            <td style="vertical-align: middle;">&nbsp;3,800</td>
            <td>&nbsp;15,200</td>
            <td style="vertical-align: middle;"><strong>&nbsp;19,000</strong></td>
            <td style="vertical-align: middle;">&nbsp;3,040</td>
        </tr>
        <tr>
            <td>&nbsp;51-100</td>
            <td>&nbsp;2,826</td>
            <td style="vertical-align: middle;">&nbsp;6,000</td>
            <td>&nbsp;24,000</td>
            <td style="vertical-align: middle;"><strong>&nbsp;30,000</strong></td>
            <td style="vertical-align: middle;">&nbsp;4,800</td>
        </tr>
        <tr>
            <td>&nbsp;101-500</td>
            <td>&nbsp;2,826</td>
            <td style="vertical-align: middle;">&nbsp;30,000</td>
            <td>&nbsp;120,000</td>
            <td style="vertical-align: middle;"><strong>&nbsp;150,000</strong></td>
            <td style="vertical-align: middle;">&nbsp;24,000</td>
        </tr>
        <tr>
            <td>&nbsp;501-1,000</td>
            <td>&nbsp;2,826</td>
            <td style="vertical-align: middle;">&nbsp;70,000</td>
            <td>&nbsp;280,000</td>
            <td style="vertical-align: middle;"><strong>&nbsp;350,000</strong></td>
            <td style="vertical-align: middle;">&nbsp;56,000</td>
        </tr>
        <tr>
            <td>&nbsp;1,001-10,000</td>
            <td>&nbsp;2,826</td>
            <td style="vertical-align: middle;">&nbsp;140,000</td>
            <td>&nbsp;560,000</td>
            <td style="vertical-align: middle;"><strong>&nbsp;700,000</strong></td>
            <td style="vertical-align: middle;">&nbsp;112,000</td>
        </tr>
        <tr>
            <td>&nbsp;10,001+</td>
            <td>&nbsp;2,826</td>
            <td style="vertical-align: middle;">&nbsp;580,000</td>
            <td>&nbsp;2,320,000</td>
            <td style="vertical-align: middle;"><strong>&nbsp;2,900,000</strong></td>
            <td style="vertical-align: middle;">&nbsp;464,000</td>
        </tr>
    </tbody>
</table></div>
<p><span style="text-decoration: underline;"><strong>Driver and Vehicle Fees</strong></span></p>
<div class="table-container"><table>
    <thead>
    </thead>
    <tbody>
        <tr>
            <td>&nbsp;Fee Type<br />
            </td>
            <td>&nbsp;</td>
            <td>Current Fee (&pound;)<br />
            </td>
            <td>Proposed Fee (&pound;) <br />
            </td>
        </tr>
        <tr>
            <td>&nbsp;<strong>Taxi vehicle</strong><br />
            </td>
            <td>&nbsp;Application Fee<br />
            </td>
            <td style="vertical-align: middle;">&nbsp;65</td>
            <td style="vertical-align: middle;">&nbsp;66</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;Licence Fee<br />
            </td>
            <td style="vertical-align: middle;">&nbsp;33</td>
            <td style="vertical-align: middle;">&nbsp;44</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><strong>&nbsp;Total</strong></td>
            <td style="vertical-align: middle;"><strong>&nbsp;98</strong></td>
            <td style="vertical-align: middle;"><strong>&nbsp;110</strong></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;Digital Taxi Top<br />
            &nbsp;Application Fee</td>
            <td style="vertical-align: middle;">&nbsp;133</td>
            <td style="vertical-align: middle;">&nbsp;No change<br />
            </td>
        </tr>
        <tr>
            <td>&nbsp;<br />
            </td>
            <td>&nbsp;Digital Taxi Top<br />
            &nbsp;Licence Fee</td>
            <td style="vertical-align: middle;">&nbsp;33</td>
            <td style="vertical-align: middle;">&nbsp;No change<br />
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><strong>&nbsp;Total</strong></td>
            <td style="vertical-align: middle;"><strong>&nbsp;166</strong></td>
            <td style="vertical-align: middle;"><strong>&nbsp;No change<br />
            </strong></td>
        </tr>
        <tr>
            <td>&nbsp;Taxi Driver<br />
            </td>
            <td>&nbsp;Application Fee<br />
            </td>
            <td style="vertical-align: middle;">80 <br />
            </td>
            <td style="vertical-align: middle;">120 <br />
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;Licence Fee<br />
            </td>
            <td style="vertical-align: middle;">&nbsp;192</td>
            <td style="vertical-align: middle;">180 <br />
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><strong>&nbsp;Total</strong></td>
            <td style="vertical-align: middle;"><strong>272 <br />
            </strong></td>
            <td style="vertical-align: middle;"><strong>&nbsp;300</strong></td>
        </tr>
        <tr>
            <td>&nbsp;<strong>Knowledge of London</strong><br />
            </td>
            <td>&nbsp;Appearance Fee<br />
            </td>
            <td style="vertical-align: middle;">400 <br />
            </td>
            <td style="vertical-align: middle;">No change&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;Written Test Fee<br />
            </td>
            <td style="vertical-align: middle;">&nbsp;200</td>
            <td style="vertical-align: middle;">&nbsp;No change</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><strong>&nbsp;Total</strong></td>
            <td style="vertical-align: middle;"><strong>&nbsp;600</strong></td>
            <td style="vertical-align: middle;"><strong>No change&nbsp;</strong></td>
        </tr>
        <tr>
            <td><strong>&nbsp;Private Hire Drivers</strong><br />
            </td>
            <td>&nbsp;Application Fee<br />
            </td>
            <td style="vertical-align: middle;">&nbsp;150</td>
            <td style="vertical-align: middle;">124 <br />
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;Licence Fee<br />
            </td>
            <td style="vertical-align: middle;">100 <br />
            </td>
            <td style="vertical-align: middle;">&nbsp;186</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><strong>&nbsp;Total</strong></td>
            <td style="vertical-align: middle;"><strong>&nbsp;250</strong></td>
            <td style="vertical-align: middle;"><strong>310 <br />
            </strong></td>
        </tr>
        <tr>
            <td>&nbsp;<strong>Private Hire Vehicles</strong><br />
            </td>
            <td>&nbsp;Application Fee<br />
            </td>
            <td style="vertical-align: middle;">&nbsp;65</td>
            <td style="vertical-align: middle;">84 <br />
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;Licence Fee<br />
            </td>
            <td style="vertical-align: middle;">35 <br />
            </td>
            <td style="vertical-align: middle;">&nbsp;56</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><strong>&nbsp;Total</strong></td>
            <td style="vertical-align: middle;"><strong>100 <br />
            </strong></td>
            <td style="vertical-align: middle;"><strong>&nbsp;140</strong></td>
        </tr>
    </tbody>
</table></div>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-September-TfL confirms changes to private hire operator licence fees  -->

 
 
        
        
            @{ViewBag.Description = "TfL confirms changes to private hire operator licence fees ";}
        
        


 