


@{ViewBag.Title = "TfL completes contract with Riverlinx consortium to design, build, finance and maintain Silvertown Tunnel";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL completes contract with Riverlinx consortium to design, build, finance and maintain Silvertown Tunnel</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL completes contract with Riverlinx consortium to design, build, finance and maintain Silvertown Tunnel</h1>
        <div class="content-page-press-release">
        25 November 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has completed the contract for the Riverlinx consortium, comprising of Aberdeen Standard Investments, BAM PPP PGGM, Cintra, Macquarie Capital and SK E&amp;C, to build the Silvertown Tunnel &#45; a new river crossing under the Thames in east London.</p>

<p>In May 2018, following a six-month public enquiry, the Department for Transport granted the Silvertown Tunnel project a Development Consent Order (DCO). This is the formal process by which the Government gives approval of a development categorised as a Nationally Significant Infrastructure Project (NSIP).</p>

<p>Following a competitive procurement process, the consortium have been awarded a Design, Build, Finance and Maintain contract for the construction and maintenance of the tunnel, which is set to be open in 2025. Payments from TfL to the consortium will only start once the tunnel is open and available for use. TfL will also be able to reduce payments should the tunnel not meet certain key standards, such as availability for use by traffic and physical condition.</p>

<p>Once the Silvertown Tunnel opens, vehicles will be required to pay a user charge for using either the Blackwall or the Silvertown Tunnel. This user charge, which will be used to pay for the construction and maintenance of the tunnel, is a legal requirement as part of the planning approvals and therefore will need to be implemented when the tunnel opens. Any surplus from the revenue generated via the user charge will be reinvested into public transport across London. The exact charge levels for various types of vehicles using the tunnel will be decided closer to the opening date.</p>

<p>The planned user charge at both the new tunnel and the existing Blackwall tunnel will ensure overall traffic volumes and associated carbon emissions do not increase. At locations where TfL's air quality modelling showed that there may be a small localised impact, mitigation will be delivered further to ensure any increase is minimised. Both tunnels and the surrounding area will also fall within the Ultra Low Emission Zone from October 2021. In line with the commitments enshrined in the DCO, TfL will also undertake further modelling, monitoring and, if required, appropriate mitigation of the effects of the scheme to ensure the outcomes are not materially worse than we forecast in our Environmental Statement.</p>

<p><strong>Stuart Harvey, Director of Major Projects at Transport for London said:</strong> &quot;Following detailed discussions, we have now completed the contract for the Riverlinx consortium to design, build, finance and maintain the Silvertown Tunnel. Once open in 2025, the tunnel will provide new cross-river bus routes in east London and during its construction we will work tirelessly to ensure that any disruption to local residents or businesses is kept to an absolute minimum.&quot;</p>

<p>During construction, both the consortium and TfL are committed to ensuring that the majority of construction material is transported by river, that all on-site construction machinery meets the Mayor's Non-Road Mobile Machinery Low Emission Zone Standards, and that any vehicles working on the scheme are Euro VI and comply with the Mayor's Direct Vision Standard. TfL is also legally committed, as part of the wider DCO process, to deliver a wide range of improvements and measures to reduce the impact of the new tunnel and support the wider local area. These include:</p>

<ul>
	<li>&pound;1m worth of support to local businesses will be provided to help them adapt to the user charge when the Silvertown Tunnel is operational. This could include helping businesses with staff travel planning and delivery support, or funding potential infrastructure such as cycle racks and electric vehicle charging points.</li>
	<li>Extensive monitoring, particularly around air quality, will be undertaken both before and after the opening of the tunnel. Regular reports will be published online and if readings suggest impacts are worse than originally anticipated, TfL will review what further actions could be implemented to address them.</li>
	<li>A user-charging discount to specifically help low-income working residents in the host boroughs of Greenwich, Newham and Tower Hamlets. This would take a similar form to the existing TfL Bus &amp; Tram Travelcard, which offers a 50 per cent discount on public transport for those in receipt of certain state benefits. Free account registration for the road user charge for local residents in the host boroughs for the first year. Residents and businesses who register as account holders would pay the lowest charges possible for all journeys, and would be protected from the risk of inadvertently incurring penalty charges through forgetting to pay the relevant charge.</li>
	<li>&pound;2m in bus concessions for local residents to help promote the new cross-river bus services which will run through the tunnel, as well as supporting local behavioural change away from unnecessary private car use. TfL will also enhance river crossing facilities for cyclists and pedestrians across the local area.</li>
	<li>The tunnel will also improve cross-river public transport connections, with around 37 buses an hour during peak periods in each direction using the tunnel, including the current six single-decker buses per hour which run through the Blackwall Tunnel. All of the new double-decker buses that use the Silvertown Tunnel are expected to be zero-emission from launch. These routes will link places such as Stratford and Canary Wharf to Eltham, Grove Park and Charlton, unlocking new journey options and supporting wider regeneration across the Greenwich Peninsula and Royal Docks.</li>
	<li>The project will also deliver a range of improvements in the areas around the tunnel on both sides of the river, including additional noise barriers along the approach roads and new green spaces around the tunnel entrances which will deliver a net increase in biodiversity throughout the area. Walking and cycling upgrades will also be delivered in close consultation with local residents and active travel campaigners.</li>
	<li>For more information about the Silvertown Tunnel project, please visit www.tfl.gov.uk/silvertown-tunnel</li>
</ul>

<p><strong>Notes to editors</strong></p>

<p>Images of what the Silvertown Tunnel will look like once completed can be found here: <a href="http://www.tfl.gov.uk/silvertown-tunnel">www.tfl.gov.uk/silvertown-tunnel</a></p>

<p>Ahead of the six month public enquiry as part of the planning process for the Silvertown Tunnel, three public consultations were carried out into the proposed crossing.</p>

<p>As part of the planning permission to construct the Silvertown Tunnel, TfL provided evidence on the various assessments that had been carried out on options to reduce congestion, improve air quality and enhance public transport in the area. These included just introducing a user charge to the Blackwall Tunnel, alternative designs for the tunnel and whether a bridge or alternative crossing was preferable &#45; <a href="https://infrastructure.planninginspectorate.gov.uk/wp-content/ipc/uploads/projects/TR010021/TR010021-001609-TfL%208.119%20Applicants%20Response%20on%20Option%20Appraisal%20(Five%20Case)%20from%20ISH%2028%20March%202017.pdf">https://infrastructure.planninginspectorate.gov.uk/wp-content/ipc/uploads/projects/TR010021/TR010021-001609-TfL%208.119%20Applicants%20Response%20on%20Option%20Appraisal%20(Five%20Case)%20from%20ISH%2028%20March%202017.pdf</a>&nbsp;</p>

<p>In May 2018, the Department for Transport granted the Silvertown Tunnel project a Development Consent Order (DCO), which is the formal process by which the Government approves a development categorised as a Nationally Significant Infrastructure Project (NSIP). More information on the public examination into the Silvertown Tunnel can be found here -<a href="https://infrastructure.planninginspectorate.gov.uk/projects/london/silvertown-tunnel/">https://infrastructure.planninginspectorate.gov.uk/projects/london/silvertown-tunnel/</a></p>

<p>Over the last 20 years, TfL has developed significant experience in how to manage similar contracts, which have successfully helped deliver extensions to the Docklands Light Railway. Funding the project this way not only shifts financial risks onto the private sector, but also incentivises them to deliver the scheme as efficiently as possible. It also reflects the fact that TfL receives no ongoing investment for roads from the Government &#45; and that from 2021, the &pound;500m Vehicle Excise Duty paid by Londoners and collected by central Government will nearly all be invested in roads outside the capital. This, along with the fact that TfL's funding arrangements with Government are currently only certain until March 2021, means it has no dedicated income stream to pay for capital roads projects like this.</p>

<p>With congestion and air quality around the Blackwall Tunnel predicted to get worse in the coming years as London's population grows, the Silvertown Tunnel, along with the extended Ultra Low Emission Zone, are vital to provide a more reliable crossing, as well as ensuring goods and services can continue to move around London. Population and traffic growth will be particularly notable in this area of London, owing to the major developments underway and planned on Greenwich Peninsula and at the Royal Docks, Stratford and Barking Riverside.</p>

<p>All contractors working for the Riverlinx consortium will also be required to deliver a range of measures to help reduce construction impacts, including:</p>

<ul>
	<li>Developing an extensive Community Engagement Plan, describing how it will keep the local community informed prior to and throughout the works;</li>
	<li>Creating local apprenticeships, job starts and educational opportunities throughout the length of the construction;</li>
	<li>A target to have at least 25 per cent of the construction team working on the crossing recruited locally.</li>
</ul>

<p>Since permission for the tunnel was officially granted last year, TfL has worked with landowners to agree details of land acquisitions and has now begun discussions with local boroughs and stakeholders on construction logistics plans and access requirements for residents, visitors and local businesses. These will continue ahead of initial construction starting later this year and both the consortium and TfL will look to regularly update on construction progress and mitigation throughout the delivery of the project. TfL will also engage with local residents and stakeholders to further explain the range of measures being taken to mitigate environmental impact</p>

<p>The delivery of the Silvertown Tunnel is included in the Mayor's Transport Strategy and forms part of the Mayor's wider plans for sustainable river crossings across the Thames - <a href="https://tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/new-river-crossings-for-london">https://tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/new-river-crossings-for-london</a></p>

<p>In 2018, TfL reviewed its previously provided air quality impact assessment data in view of the UK Air Quality Plan and confirmed to the DfT and planning inspectorate that the Government's new air quality plan does not change the conclusions of the air quality assessment supporting the application. Furthermore, TfL's assessment on air quality was designed to be conservative, meaning that predicted air quality levels are likely to be better than those previously modelled - <a href="https://infrastructure.planninginspectorate.gov.uk/wp-content/ipc/uploads/projects/TR010021/TR010021-002203-Applicant%20Response%20-%20Updated%20Air%20Quality%20Assessment.pdf">https://infrastructure.planninginspectorate.gov.uk/wp-content/ipc/uploads/projects/TR010021/TR010021-002203-Applicant%20Response%20-%20Updated%20Air%20Quality%20Assessment.pdf</a></p>

<p>The footnotes to the 2018 Autumn Budget Statement regarding Private Finance (PF2) disapplied new rules to devolved administrations, such as Transport for London, and therefore has no implications for the Silvertown Tunnel proposals.</p>

<p>TfL is defending a legal challenge by Silver Thames Connect (STC), the reserve bidder for the Silvertown Tunnel project, in relation to the procurement process.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-November-TfL completes contract with Riverlinx consortium to design, build, finance and maintain Silvertown Tunnel -->

 
 
        
        
            @{ViewBag.Description = "TfL completes contract with Riverlinx consortium to design, build, finance and maintain Silvertown Tunne";}
        
        


 