


@{ViewBag.Title = "TfL working with schools to inspire more women & young people to work in transport";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL working with schools to inspire more women & young people to work in transport</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL working with schools to inspire more women & young people to work in transport</h1>
        <div class="content-page-press-release">
        13 June 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">



 <div class="on-this-page">
<p>Some 12,500 volunteers from Transport for London (TfL) and other transport bodies, through the industrywide Women in Transport programme (formerly 100 Years of Women in Transport), have signed up to help inspire and motivate the next generation &#45; particularly young women - to consider a career in transport.</p>
<p>The group, from over 270 organisations, represent a huge array of roles in the industry and have volunteered their time to visit schools, provide work experience placements and present at careers fairs.</p>
<p>A new schools toolkit aimed at 11-16 year olds has also been launched to help inspire young people to choose transport as a career. 'Inspiring a generation' includes two short films, which set out the crucial role the transport industry has in society - building and supporting cities and opening up opportunities for millions of people. It also features a suite of online supporting materials showcasing the wide variety of roles that are available within the industry &#45; from communications and legal through to engineering and operational roles.</p>
<p>The Toolkit, which will be promoted through TfL's school engagement programme as well as through social media channels, forms a key part of TfL's 100 Years of Women in Transport legacy campaign, which was created to encourage more women to explore careers in transport and improve diversity in the industry.  There has already been some progress, with 23 per cent of TfL made up of women compared with 18 per cent in the transport industry across the EU, but more work needs to be done.</p>
<p>The campaign, which launched in May, will continue to address the gender balance by identifying and tackling key barriers to women taking up transport roles, as well as continuing with a full programme of events to further inspire women currently working within the industry as well as future generations.</p>
<p>Mike Brown MVO, TfL's Commissioner, said `There has never been a more exciting time, especially for young women, to work in the transport industry and I hope that we can help to encourage even more young people to consider a career in transport and help inform them about the vast number of different roles on offer.</p>
<p>`The transport industry offers a wealth of opportunities, with large scale projects like Crossrail and High Speed 2 supporting thousands of jobs and homes and boosting the country's economy.'</p>
<p>Val Shawcross CBE, Deputy Mayor for Transport, said: `Women have always played an integral part in London's transport industry, and it is vital that this is not only recognised but also built upon. For the capital to thrive it is essential that we continue to invest in transport to meet growing demand and I would encourage women and young people to consider a career in transport at this very crucial time for the industry.'</p>
<p>Ends<br />
Notes to editors:</p>
<ul>
    <li>The toolkit can be found at <a href="http://www.inspiringageneration.tumblr.com">www.inspiringageneration.tumblr.com</a> </li>
    <li>The toolkit has been supported by eight sponsors: Ashurst, Bircham Dyson Bell, LoHAC, Siemens, Cubic, Novacroft, Go Ahead and Tower Transit.</li>
    <li>For more information about the programme visit: TfL.gov.uk/YOWIT and follow &#64;transportwmn on Twitter.</li>
    <li>A number of initiatives have been launched to improve TfL's engagement with young people, these have included a Bring your Daughter to work day and a nationwide schools debating competition, in which around 30 schools took part. The top four performing teams were awarded a once in a lifetime opportunity to debate at the House of Lords where a team from St. Marylebone School won.</li>
    <li>The Women in Transport campaign has been positively acknowledged within the industry and has been successful in a number of awards including the Consultancy and Engineering Awards where TfL's Sharon Fasanya won Best Woman in Construction Planning, Melanie Ogden won Best Young Woman in Construction and Romany O'Dell was a finalist in the young woman engineer category.  At the Everywoman Transport &amp; Logistics Awards TfL's Jo Field was named 'Industry Champion' for her efforts to attract and retain women in the sector.</li>
    <li>TfL joined forces with Crossrail, the Department for Transport, Network Rail, the Women's Transportation Seminar and Women's Engineering Society as well as others in the transport industry to celebrate 100 Years of Women in Transport. This is being used as an opportunity to showcase the role of women in transport; share best practice from across the industry and tackle the challenges that remain. The work will continue under the Women in Transport banner.</li>
    <li>The 100 Years of Women in Transport campaign began in November 2014 to celebrate 100 years since the start of the First World War, where men enlisted for military service leaving women to take on the responsibilities of male transport staff. It has been an opportunity to celebrate key historical moments and figures as well as look to the future and how to inspire more women into the industry.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-June-TfL working with schools to inspire more women & young people to work in transport -->

 
 


 