


@{ViewBag.Title = "TfL to enhance frequency on the Elizabeth line";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL to enhance frequency on the Elizabeth line</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL to enhance frequency on the Elizabeth line</h1>
        <div class="content-page-press-release">
        13 July 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"The Elizabeth line will transform travel across London, with new state-of-the-art trains moving passengers quickly across key parts of London and the South East. I am delighted that we can today announce that Elizabeth line services will be more frequent than originally planned, making journeys even more convenient for people travelling in and out of London, and helping ease pressure on other parts of our busy transport network. With more regular services connecting central London with key locations like Heathrow Airport, the benefits will be felt directly by millions of commuters, tourists, and businesses every year."</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>Services on the Elizabeth line are set to be even more extensive and frequent than originally planned when the line becomes fully operational in December 2019, Transport for London (TfL) announced today.</p>
<p>Off-peak services between Paddington and Whitechapel will be increased from 16 trains as previously planned, to 20 trains per hour - a 25 per cent increase. An additional two trains per hour will run between Paddington and Shenfield and a further two trains per hour between Paddington and Abbey Wood will also be introduced in the off-peak.</p>
<p>Peak services to destinations west of Paddington will be boosted significantly, with services from Reading doubled from 2 trains per hour to 4 trains per hour, and services to Maidenhead increased from 4 trains per hour to 6 trains per hour.</p>
<p>The improved frequency of trains has been announced following collaboration with the DfT, Network Rail and the train operating companies on a final timetable for services.</p>
<p>Trains will now also call at Heathrow Terminal 5 &#45; meaning all Heathrow Terminals will be served by the Elizabeth line. A total of six Elizabeth line trains per hour will serve Heathrow Terminals from December 2019. Four will go to Terminals 2, 3 and 4 and two will go to Terminals 2, 3 and 5. This will also increase services to Ealing Broadway, Southall and Hayes &amp; Harlington.</p>
<p>These improvements will provide additional capacity and help ease pressure on other public transport services.</p>
<p>To enable the additional services, TfL will be increasing the number of trains that will operate on the Elizabeth line from 66 to 70 trains.</p>
<p>The Mayor of London, Sadiq Khan, said: `The Elizabeth line will transform travel across London, with new state-of-the-art trains moving passengers quickly across key parts of London and the South East. I am delighted that we can today announce that Elizabeth line services will be more frequent than originally planned, making journeys even more convenient for people travelling in and out of London, and helping ease pressure on other parts of our busy transport network. With more regular services connecting central London with key locations like Heathrow Airport, the benefits will be felt directly by millions of commuters, tourists, and businesses every year.'</p>
<p>Transport Secretary Chris Grayling, said: `It's great news there will be more services on the Elizabeth line, meaning more passengers can travel with greater convenience across London and beyond on trains which are an example of British engineering at its best. The Elizabeth line will transform the way people travel across London and beyond, bringing better and faster journeys, while boosting jobs and driving economic growth.'</p>
<p>Mike Brown MVO, London's Transport Commissioner, said: `We want to deliver the very best service for customers from day one of the Elizabeth line. The timetable improvements that we have been developing ahead of full opening of the line in December 2019 will see additional services to destinations west of Paddington, including Reading, Maidenhead and Heathrow Terminal 5, as well as increased off-peak frequencies in central London. This will make journeys on the new accessible line even easier and more convenient for the hundreds of thousands of people expected to use it each day.'</p>
<p>TfL and the Department for Transport, the joint sponsors of the Crossrail project, have been working closely with Network Rail to ensure the best use of the shared railway infrastructure in west London and beyond. Five Great Western Railway services will be replaced with Elizabeth line services. This will provide the same or greater, frequency and the same journey times for the majority of passengers, with the added benefit of being able to continue directly into central London on the Elizabeth line.</p>
<p>From May 2018, new ticket readers will be installed at Heathrow, meaning passengers using Heathrow Express and TfL Rail between Paddington and Heathrow will be able to use pay as you go Oyster or a contactless device.</p>
<p>Stretching from Reading and Heathrow in the west across to Shenfield and Abbey Wood in the east, the Elizabeth line will change the way people travel around London and the South East and add much needed new capacity to London's transport infrastructure. A fleet of brand new 200 metre long trains will run on the Elizabeth line, featuring nine walk-through carriages, air conditioning, CCTV and real-time travel information.</p>
<p>The line will boost central London's rail-based capacity by 10 per cent, connecting Reading and Heathrow in the west and Shenfield and Abbey Wood in the east. It will connect people and places, providing faster journey times with up to 24 trains per hour between Paddington and Whitechapel during the peak and 20 trains per hour off-peak.</p>
<p>&nbsp;Notes to editors:</p>
<ul>
    <li>The new map showing Elizabeth line services from December 2019 is available to download <a href="https://www.flickr.com/photos/tflpress/sets/72157683765721231">here</a>.</li>
    <li>The Elizabeth line will deliver a direct connection between all of London's main employment centres, linking Heathrow with Paddington, the West End, the City and Canary Wharf. The Elizabeth line will open in December 2018 when services commence through central London.</li>
    <li>A joint feasibility study is also underway to look at delivering a further two Elizabeth line trains per hour to Terminal 5 meaning eight Elizabeth line trains per hour serving Heathrow, as well as additional work on developing western rail access to Heathrow.</li>
</ul>
<ul>
    <li>Trains will start operating in five phases:</li>
    <li>Liverpool Street to Shenfield &#45; June 2017 (TfL Rail)</li>
    <li>Heathrow to Paddington (mainline platforms) &#45; May 2018  (TfL Rail)</li>
    <li>Paddington (Elizabeth line platforms) to Abbey Wood, through the new central tunnels &#45; December 2018</li>
    <li>Paddington (Elizabeth line platforms) to Shenfield &#45; May 2019</li>
    <li>Full through service (including Elizabeth line services to Reading) &#45; December 2019</li>
</ul>
<ul>
    <li>The Crossrail project is being delivered by Crossrail Limited, a wholly owned subsidiary of TfL, and is jointly sponsored by the Department for Transport and TfL.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-July-TfL to enhance frequency on the Elizabeth line -->

 
 
        
        
            @{ViewBag.Description = "TfL to enhance frequency on the Elizabeth line";}
        
        


 