


@{ViewBag.Title = "TfL urges Londoners to offer up their seats as research shows it still makes one in four people 'feel awkward'";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL urges Londoners to offer up their seats as research shows it still makes one in four people ‘feel awkward’</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL urges Londoners to offer up their seats as research shows it still makes one in four people ‘feel awkward’</h1>
        <div class="content-page-press-release">
        23 April 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Distinctive new priority seat designs launched on Jubilee Line
        
    </div>



 <div class="on-this-page">
<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">At the start of Transport for London's (TfL's) Priority Seating Week, new research has revealed that around one in four passengers feels awkward about offering their seat to someone who might need it more. A survey of 1,000 customers also found that almost a third of passengers only believe that they should offer their seat if they are in a 'priority seat'.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">TfL's Priority Seating Week aims to address these issues by raising awareness of how to make travelling easier for everyone, particularly those who may be in need of a seat. From this week, customers will also start to notice brand new designs on the fabric covering priority seats on the Jubilee line. Seats that feature six different messages, including 'please offer this seat' and 'someone may need this seat more', will be introduced across the whole Jubilee line over the coming months.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Posters featuring staff will be running across the network and video clips with customers talking about their journeys will be shared on social media. These will be encouraging people to look up and offer their seat to someone who may need it more, whether they are in a priority seat or not. The week will also highlight some of the initiatives that TfL has in place to make travelling easier for everyone.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Priority Seating Week also marks the second year anniversary of the free 'Please Offer Me a Seat' badge. Specially designed to make travelling easier for people with a range of conditions that make it difficult to stand, more than 44,000&nbsp;badges have been issued to disabled customers and those with invisible conditions since it was launched in 2017.&nbsp; The badge has since been adopted by a number of travel networks in the UK and across the world including Greater Anglia Trains and the New York Transport Authority. &nbsp;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">TfL has worked with a wide range of charities on the campaign, including Transport for All, Anxiety UK and Meniere's Society.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Heidi Alexander, Deputy Mayor for Transport, said: </strong>&quot;It's vital that we make our transport network accessible to all Londoners and visitors, so I'm really pleased that distinctive new priority seats are being rolled out on the Jubilee line. I hope that they will build on the success of our 'Please Offer Me a Seat' badges to encourage even more people to offer their seat to those who need them.&quot;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Mark Evers, Transport for London's Chief Customer Officer, said:</strong> &quot;Priority Seating Week is an opportunity to raise awareness of how we can make travelling easier, to remind us all that not all conditions are visible, and to offer our seat to those who may need it more. </span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">&quot;We understand that some people may feel uncomfortable offering their seats. Customers may also not have the confidence to ask for a seat if they need it.&nbsp; Our 'Please Offer Me a Seat' and 'Baby on Board' badges go some way to addressing this but we would encourage customers to have a quick look up when other people get on board, otherwise you might not see that someone is struggling in front of you. While priority seats are highlighted as they are within close proximity to the doors and have assistance poles, we would encourage customers to give up any seat if someone needs it more.&quot;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Alan Benson, Chair Transport for All, said:</strong>&nbsp; "For many people having a seat when travelling can make the difference between being able to travel, to work, to socialise or being stuck at home. This is particularly true for those with invisible disabilities who may have pain or issues that are not obvious. The simple act of giving a seat to someone who needs it, someone who may or may not be wearing the 'Please Offer Me a Seat' badge, can make a huge difference to their day. At Transport for All we're proud to support the efforts of TfL and Priority Seating Week."</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Nicky Lidbetter, Chief Executive Anxiety UK, said:</strong> &quot;We very much welcome this second Priority Seating Week and the ongoing work by TfL to ensure all hidden conditions receive parity of esteem with physical health conditions for customers using public transport in London.&nbsp; Anxiety disorders often cause those living with these conditions huge challenges around travel so is it is extremely pleasing to see TfL making this an important&nbsp;priority for its customers.&quot;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Natasha Harrington-Benton, Director Meniere's Society, said: </strong>&quot;The severe, unpredictable vertigo and associated symptoms experienced by people with M&eacute;ni&egrave;re's disease and related vestibular (inner ear) disorders can be debilitating and disorientating for those affected; particularly when travelling. Using public transport can be extremely stressful when you are experiencing the symptoms of these conditions. The TfL 'Please Offer Me a Seat' badge is great for people with invisible conditions like these &#45; because they appear well on the outside they may lack confidence to ask for a seat when they need it. Wearing the badge would lessen their anxiety and help them feel reassured when they travel.&quot;</span></span></p>

<p><span style="font-size:12.0pt">For more information on TfL's accessibility services visit <a href="http://www.tfl.gov.uk/accessibility" style="text-decoration: none;">www.tfl.gov.uk/accessibility</a></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">All buses, Tubes, trains and trams have clearly marked priority seats for anyone who needs them. Customers can also apply for a 'Please Offer Me a Seat' badge and card or a 'Baby on Board' badge to help you get a seat if you need one. <a href="https://tfl.gov.uk/transport-accessibility/please-offer-me-a-seat" style="text-decoration: none;">https://tfl.gov.uk/transport-accessibility/please-offer-me-a-seat</a> <a href="https://tfl.gov.uk/transport-accessibility/baby-on-board" style="text-decoration: none;">https://tfl.gov.uk/transport-accessibility/baby-on-board</a> &nbsp;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Customer Survey</strong></span></span></p>

<ul>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">TfL's March 2019 Customer Survey included questions to find out more about how passengers felt about priority seating.</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">The total annual sample size was 15,000.</span></span></span></li>
</ul>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>How much do you agree or disagree with the following statements</strong></span></span></p>

<ul>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">I feel awkward offering my seat on public transport &#45; 23 per cent agree, 57 per cent disagree</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">I am willing to offer my seat to someone who might need it more than me &#45; 87 per cent agree, 3 per cent disagree</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">People only need to offer their seat to others if they are sitting in a priority seat &#45; 29 per cent agree, 55 per cent disagree</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">I know the difference between priority and non-priority seats &#45; 88 per cent agree, 3 per cent disagree</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">It's fine to use priority seat if they are empty &#45; 75 per cent agree, 9 per cent disagree</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">I often need a seat on public transport &#45; 41 per cent agree, 31 per cent disagree</span></span></span></li>
</ul>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>'Please Offer Me a Seat' badge</strong></span></span></p>

<ul>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">The 'Please Offer Me a Seat' badge was launched in April 2017 to help people with invisible impairments (ranging from hidden disabilities, conditions or illness) following a successful trial in autumn 2016.</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Currently more than 44,000 badges have issued</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">TfL does not ask customers requesting the badge or card for their medical history or supporting evidence from a doctor.</span></span></span></li>
</ul>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>'Baby on Board' badge</strong></span></span></p>

<ul>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">The badges can be used on all TfL services &#45; London Underground, London Overground, TfL Rail, London Buses, Docklands Light Railway, Tramlink and River Services &#45; as well as on station platforms &amp; waiting areas.</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Approximately 130,000 badges are issued every year.</span></span></span></li>
</ul>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Priority Seat designs</strong></span></span></p>

<ul>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Priority seats on Jubilee Line trains are being recovered in new moquette fabric bearing one of the following messages.</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Please offer this seat</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Be prepared to offer this seat</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Not all disabilities are visible</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Someone may need this seat more</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">This is a priority seat</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Please give up this seat</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Work is expected to be completed in summer 2019.</span></span></span></li>
</ul>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Look Up</strong></span></span></p>

<ul>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">The #LookUp campaign was started in 2018 by customer Corey Shaw who is disabled. Asking travelling passengers to look up to see if someone is in greater need of their seat, the campaign caught the attention of the Mayor of London and Transport for London.</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Posters advising customers to 'look up' while travelling were displayed in all Underground stations.</span></span></span></li>
</ul>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Travel support card</strong></span></span></p>

<ul>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">TfL's Travel Support card helps disabled and older customers communicate with staff by allowing them to write down what help they need, as well as information such as their emergency contact number</span></span></span></li>
</ul>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Guide Dogs</strong></span></span></p>

<ul>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Assistance dogs are accepted on all TfL services, and for a number of years TfL has been working with Guide Dogs to provide a training package so that guide dogs can use escalators.</span></span></span></li>
</ul>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Braille &nbsp;</strong></span></span></p>

<ul>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">TfL supply a range of information for people with visual impairments. This includes a large print colour version of the Tube Map, a large print black and white version of the Tube Map and an audio Tube Map.</span></span></span></li>
</ul>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Travel Mentors</strong></span></span></p>

<ul>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">TfL's travel mentors can offer advice on planning a journey using an accessible route. They can also provide a mentor to accompany any disabled customer for their first few journeys to help them gain confidence and become an independent traveler. Mentoring is free and can be provided Monday to Friday from 08:00-18:00.</span></span></span></li>
</ul>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Step-free access</strong></span></span></p>

<ul>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">There are now more than 200 step-free stations across TfL's network. These include: 77 Tube stations, 58 Overground stations, 6 TfL Rail stations and all DLR stations and Tram stops.</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Work is also progressing at vital interchanges including Bank, while further outer London stations such as Cockfosters, Mill Hill East and Harrow-on-the-Hill will be made step-free by 2020. This will mean that more than a third of the Tube network will be step-free by 2020.</span></span></span></li>
</ul>

<p><span style="font-size:12.0pt">TfL is also working to deliver further step-free stations including Boston Manor, Ruislip, North Ealing, Snaresbrook, Park Royal and Rickmansworth.</span></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-April-TfL urges Londoners to offer up their seats as research shows it still makes one in four people ‘feel awkward’ -->

 
 
        
        
            @{ViewBag.Description = "TfL urges Londoners to offer up their seats as research shows it still makes one in four people ‘feel awkward’";}
        
        


 