


@{ViewBag.Title = "TfL Rail to operate services to Reading from 15 December";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL Rail to operate services to Reading from 15 December</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL Rail to operate services to Reading from 15 December</h1>
        <div class="content-page-press-release">
        26 September 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New service is the next step in the delivery of the Elizabeth line
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Customers will see staff at every station, and improvements being made to stations along the route including the installation of lifts to provide step-free access, they will also be able to enjoy the convenience of pay as you go contactless payments all the way to Reading

 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Smith</div>
            <div class="quotee-job-title">, Operations Director, TfL Rail </div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Pay as you go using contactless to be accepted between Paddington mainline and Reading from January 2020</li>
	<li>Work to make stations more accessible to customers well underway with Iver, Langley and Taplow stations all to become step-free by March 2020</li>
</ul>

<p>From Sunday 15 December Transport for London (TfL) will start running the stopping services between Paddington mainline and Reading ahead of the service becoming part of the Elizabeth line.</p>

<p>These services (currently operated by GWR) will be operated as TfL Rail, which will become the Elizabeth line when the line opens through central London, transforming travel with quicker, easier and more accessible journeys for customers.</p>

<p>Under TfL Rail, the current service frequency of four stopping trains an hour in the peak between Paddington mainline and Reading will be maintained using the new Elizabeth line trains. Two trains an hour will run during the off-peak, as is currently the case. The service replaces part of the Great Western inner suburban route, some fast services will continue to be operated by GWR from Reading, Twyford, Maidenhead and Slough to Paddington.</p>

<p>TfL zones do not apply to stations beyond West Drayton, but for the first time, customers will be able to use pay as you go with contactless across the route all the way from Paddington mainline to Reading. To ensure that it is introduced smoothly to customers, contactless ticketing will come into effect in line with the annual fares revision on 2 January 2020. Between 15 December 2019 and 2 January 2020, existing ticketing arrangements will apply and TfL Rail fares will remain at the same price as the current GWR fares. However, in line with TfL's wider policies, children under 11 who are accompanied by an adult, as well as customers who are eligible for the Freedom Pass, will be able to travel for free to Reading on the new TfL service.</p>

<p>Once introduced, adult pay as you go fares to/from stations between Iver and Reading are anticipated to be cheaper or in line with standard single and return fares along the line. All fares will be set in line with Department for Transport policy and confirmed nearer the time.</p>

<p>Pay as you go with Oyster will not be extended to services beyond West Drayton, due to limitations with the system, which is now more than 15 years old. Millions of journeys in and around London are already being made using contactless every day; with 60 per cent of rail pay as you go journeys made using contactless.</p>

<p>Station improvement work is being delivered by TfL and Network Rail at all stations between Paddington mainline and Reading including lifts providing step-free access, new station entrances, improved customer information systems, signage and waiting rooms. At Langley and Taplow stations, new passenger bridges across the tracks have been put in place, and, at Iver, all three lift shafts have now been installed, with the station on course to become step-free by March 2020.In the build up to taking over services platform lengths have also been extended along the line to cater for the new trains that will serve the line.</p>

<p><strong>Howard Smith, Operations Director for TfL Rail, said: </strong></p>

<p>'Starting TfL Rail services to Reading is another step towards opening London's new railway, the Elizabeth line. Customers will see staff at every station, and improvements being made to stations along the route including the installation of lifts to provide step-free access, they will also be able to enjoy the convenience of pay as you go contactless payments all the way to Reading.'</p>

<p>Network Rail will be undertaking some Christmas engineering work between Tuesday 24 December and Friday 27 December, a reduced service will run on the Tuesday and Friday with replacement buses between Slough and Hillingdon. There will be no service on the entire line on Christmas Day and Boxing Day.</p>

<hr />
<p>Notes to editors:</p>

<p>TfL Rail stopping pattern December 2019:</p>

<ul>
	<li>During the peak, four trains per hour will run between Paddington mainline and Reading. Trains will call at all stations between Reading and Hayes &amp; Harlington, Southall, Ealing Broadway and Paddington.</li>
	<li>During the off-peak, two trains per hour will run between Paddington mainline and Reading. Trains will call at all stations between Reading and Hayes &amp; Harlington, Southall, Ealing Broadway and Paddington.</li>
	<li>Services from Reading will not call at West Ealing, Hanwell and Acton Main Line.</li>
	<li>TfL expects that GWR will also offer pay as you go with contactless on their services from 2 January 2020.</li>
	<li>Since contactless payments on Tube and rail services in London launched in September 2014, TfL has seen contactless cards from more than 130 countries from around the world used on the system.</li>
	<li>Customers who are eligible for the Freedom Pass will be able to use this travel on TfL Rail services. Customers who are over 60 will also be able to benefit from a Senior Railcard, which costs just &pound;30 and saves customers 1/3 on rail fares throughout Great Britain for a whole year.</li>
	<li>Pay as you go journeys between Paddington mainline and West Drayton have been set at the TfL zonal rate since it was introduced in September 2008.</li>
</ul>

<p>Current single cash fares from Reading to:</p>

<div class="table-container"><table border="1" cellpadding="1" cellspacing="1" style="height:416px; width:500px">
	<tbody>
		<tr>
			<td style="width:289px">&nbsp;</td>
			<td style="width:99px"><strong>Off-Peak</strong></td>
			<td style="width:94px"><strong>Peak</strong></td>
		</tr>
		<tr>
			<td style="width:289px"><strong>Twyford</strong></td>
			<td style="width:99px">&pound;3.90&nbsp;&nbsp; &nbsp;</td>
			<td style="width:94px">&pound;4.40</td>
		</tr>
		<tr>
			<td style="width:289px"><strong>Maidenhead</strong></td>
			<td style="width:99px">&pound;6.70&nbsp;&nbsp;</td>
			<td style="width:94px">&pound;7.30</td>
		</tr>
		<tr>
			<td style="width:289px"><strong>Taplow</strong></td>
			<td style="width:99px">&pound;7.20&nbsp;</td>
			<td style="width:94px">&pound;8.30</td>
		</tr>
		<tr>
			<td style="width:289px"><strong>Burnham</strong></td>
			<td style="width:99px">&pound;8.30&nbsp;&nbsp;</td>
			<td style="width:99px">&pound;9.00</td>
		</tr>
		<tr>
			<td style="width:289px"><strong>Slough</strong></td>
			<td style="width:99px">&pound;9.40&nbsp;&nbsp; &nbsp;</td>
			<td style="width:94px">&pound;9.60</td>
		</tr>
		<tr>
			<td style="width:289px"><strong>Langley</strong></td>
			<td style="width:99px">&pound;10.90&nbsp;&nbsp; &nbsp;</td>
			<td style="width:94px">&pound;11.90</td>
		</tr>
		<tr>
			<td style="width:289px"><strong>Iver</strong></td>
			<td style="width:99px">&pound;11.40&nbsp;&nbsp; &nbsp;</td>
			<td style="width:94px">&pound;13.80</td>
		</tr>
		<tr>
			<td style="width:289px"><strong>West Drayton*</strong></td>
			<td style="width:99px">&pound;12.40&nbsp;&nbsp; &nbsp;</td>
			<td style="width:94px">&pound;14.20</td>
		</tr>
		<tr>
			<td style="width:289px"><strong>Hayes &amp; Harlington*</strong></td>
			<td style="width:99px">&pound;13.70&nbsp;&nbsp;</td>
			<td style="width:94px">&pound;14.90</td>
		</tr>
		<tr>
			<td style="width:289px"><strong>Southall*</strong></td>
			<td style="width:99px">&pound;13.70&nbsp;&nbsp; &nbsp;</td>
			<td style="width:94px">&pound;16.10</td>
		</tr>
		<tr>
			<td style="width:289px"><strong>Hanwell*</strong></td>
			<td style="width:99px">&pound;15.30&nbsp;&nbsp; &nbsp;</td>
			<td style="width:94px">&pound;17.50</td>
		</tr>
		<tr>
			<td style="width:289px"><strong>West Ealing*</strong></td>
			<td style="width:99px">&pound;15.70&nbsp;&nbsp; &nbsp;</td>
			<td style="width:94px">&pound;18.10</td>
		</tr>
		<tr>
			<td style="width:289px"><strong>Ealing Broadway*</strong></td>
			<td style="width:99px">&pound;16.70&nbsp;&nbsp;</td>
			<td style="width:99px">&pound;18.40</td>
		</tr>
		<tr>
			<td style="width:289px"><strong>Acton Main Line*</strong></td>
			<td style="width:99px">&pound;16.70&nbsp;&nbsp;</td>
			<td style="width:94px">&pound;18.70</td>
		</tr>
		<tr>
			<td style="width:289px"><strong>Paddington mainline*</strong></td>
			<td style="width:99px">&pound;20.60&nbsp;&nbsp; &nbsp;</td>
			<td style="width:94px">&pound;25.10</td>
		</tr>
	</tbody>
</table></div>

<p>* Pay as you go already available and available separately see fares at <a href="[ioID]#https://tfl.gov.uk/fares/find-fares/tube-and-rail-fares/single-fare-finder">https://tfl.gov.uk/fares/find-fares/tube-and-rail-fares/single-fare-finder</a></p>

<ul>
	<li>Pay as you go will not be valid on South Western services between London Waterloo and Reading via Virginia Water</li>
	<li>Testing continues to enable TfL to introduce the new Elizabeth line trains on services to Heathrow airport.</li>
	<li>The new railway, jointly sponsored by the Department for Transport (DfT) and TfL with support from London's business community, will connect stations such as Paddington Elizabeth line station to Canary Wharf in only 17 minutes, transforming how Londoners and visitors move across the capital.</li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-September-TfL Rail to operate services to Reading from 15 December -->

 
 
        
        
            @{ViewBag.Description = "TfL Rail to operate services to Reading from 15 December";}
        
        


 