


@{ViewBag.Title = "TfL's free open data boosts London's economy";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL’s free open data boosts London's economy</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL’s free open data boosts London's economy</h1>
        <div class="content-page-press-release">
        13 October 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Research by Deloitte shows that the release of open data by TfL is generating annual economic benefits and savings of up to &pound;130m a year
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This new research from Deloitte backs our strong belief that providing data in an open, transparent and free-to-access way can be massively beneficial for both London and the wider economy"</div>
        <div class="quote-footer">
            <div class="quotee-name">Vernon Everitt</div>
            <div class="quotee-job-title">Managing Director of Customers, Communication and Technology at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p>&nbsp;</p>
<ul>
    <li>Customers, road users, London and TfL itself all benefit</li>
    <li>More than 80 data feeds now available for developers through the free unified API, which ensures accurate real-time data is available from one system for over 13,000 developers</li>
</ul>
<p>The provision of free, accurate and real-time open data by TfL is helping London's economy by up to &pound;130m a year, new research reveals.</p>
<p>The research, commissioned by TfL and conducted by Deloitte, shows that by providing open data to developers, TfL is improving journeys, saving people time, supporting innovation and creating jobs.</p>
<p>For almost ten years, TfL has been releasing a significant amount of data &#45; timetables, service status and disruption information &#45; in an open format for anyone to use, free of charge. This allows developers and partners to bring new products and services to market more quickly, and therefore extend the reach of TfL's own information channels within stations, at bus stops and online.</p>
<p>TfL has worked with a wide range of professional and amateur developers, ranging from start-ups to global innovators, to deliver new products in the form that customers want. This has led to more than 600 apps now being powered specifically using TfL's open data feeds, used by 42 per cent of Londoners.</p>
<p>The report found that TfL's data provides the following benefits:</p>
<ul>
    <li><strong>Saved time for passengers</strong>. TfL's open data allows customers to plan journeys more accurately using apps with real-time information and advice on how to adjust their routes. This provides greater certainty on when the next bus/Tube will arrive and saves time &#45; estimated at between &pound;70m and &pound;90m per year.</li>
</ul>
<ul>
    <li><strong>Better information to plan journeys, travel more easily and take more journeys</strong>.  Customers can use apps to better plan journeys, enabling them to use TfL services more regularly and access other services. Conservatively, the value of these journeys is estimated at up to &pound;20m per year.</li>
</ul>
<ul>
    <li><strong>Creating commercial opportunities for third party developers</strong>. A wide range of companies now use TfL's open data commercially to help generate revenue, many of whom are based in London. Having free and up-to-date access to this data increases the 'Gross Value Add' (analogous to GDP) that these companies contribute to the London economy, both directly and across the supply chain and wider economy, of between &pound;12m and &pound;15m per year.</li>
</ul>
<ul>
    <li><strong>Leveraging value and savings from partnerships with major customer facing technology platform owners</strong>. TfL receives back significant data on areas it does not itself collect data (e.g. crowdsourced traffic data). This allows TfL to get an even better understanding of journeys in London and improve its operations.</li>
</ul>
<p>London's Chief Digital Officer, Theo Blackwell, said: &quot;This research shows the full power of open data and how it can be embraced to improve our city to meet the needs of Londoners. The Mayor and I will set out a vision to put all forms of technological innovation at the heart of making our capital a better place to live, work and visit.</p>
<p>&quot;I am looking forward to working with Transport for London and our other public services so that London is at the forefront of making the best use of data.&quot;</p>
<p>Vernon Everitt, Managing Director of Customers, Communication and Technology at TfL, said &quot;With over 31 million journeys made in London every day, it is vital that people have the right travel information readily available to help them travel around the city. This new research from Deloitte backs our strong belief that providing data in an open, transparent and free-to-access way can be massively beneficial for both London and the wider economy.</p>
<p>Simon Dixon, Global Transportation Leader at Deloitte, said: &quot;Deloitte works with cities across the UK and globally, and open data has become a priority issue to unlock the potential of the future mobility ecosystem. Opening up data enables cities to keep pace with rapid urbanisation and population growth, enable innovation, and transform the urban environment."</p>
<p>Jeni Tennison, CEO at the Open Data Institute said: &quot;Open data is changing our everyday lives and how organisations like TfL work. In fact, data is becoming as important as other types of infrastructure, such as roads and electricity, which means building strong data infrastructure is vital to economic growth and wellbeing.</p>
<p>&quot;The rewards can be enormous. For example, it's been estimated that by using open data effectively, 629 million hours of unnecessary waiting time could be saved on the EU's roads and energy consumption could be reduced by 16 per cent. It's great to see detailed in today's report how, by investing in the provision of real-time open data, TfL has been able to save people time, support innovation across the UK, and provide a wider range of services than they could on their own.&quot;</p>
<p>The provision of open data forms a key part of TfL's wider customer information strategy of providing more helpful, real-time information using new technology and innovation, to improve journeys. Other initiatives already in place include using Twitter travel alerts for service updates, the new 'TravelBot' Facebook Messenger tool that provides direct answers to travel queries on Tube, rail and bus services, and equipping staff with smart phones and tablets to help customers with their journeys.</p>
<p>Earlier this year, TfL also hosted a digital accessibility summit to bring together digital innovators and accessibility stakeholders to discuss how technology can help our customers get around. The summit has led to a number of developers now working proactively with TfL to improve how accessibility information, such as step-free access at stations and whether bus stops are correctly reflected as accessible or inaccessible to wheelchair users, is made available through apps and on websites.</p>
<p>For more information on TfL's open data policy, please visit <a href="http://www.tfl.gov.uk/open-data">tfl.gov.uk/open-data</a></p>
<p><a href="http://www.tfl.gov.uk/open-data"></a></p>
<hr />
<p>&nbsp;</p>
<p>Notes to editors:</p>
<p>•	A copy of the report is available here: <a href="http://www.tfl.gov.uk/info-for/open-data-users/open-data-policy">https://tfl.gov.uk/info-for/open-data-users/open-data-policy</a><br />
•	TfL takes customers privacy extremely seriously and works to ensure that it complies with existing data protection legislation and best practice. It has no plans to ‎sell personal customer data ‎to third parties.</p>
<p>TfL Press Office<br />
0845 604 4141</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-October-TfL’s free open data boosts London's economy -->

 
 
        
        
            @{ViewBag.Description = "TfL’s free open data boosts London's economy";}
        
        


 