


@{ViewBag.Title = "TfL completes 'sale and leaseback' of Elizabeth line trains to 345 Rail Leasing Consortium";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL completes ‘sale and leaseback’ of Elizabeth line trains to 345 Rail Leasing Consortium</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL completes ‘sale and leaseback’ of Elizabeth line trains to 345 Rail Leasing Consortium</h1>
        <div class="content-page-press-release">
        22 March 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Deal releases approximately &pound;1bn of capital to reinvest into London's transport network, whilst allowing TfL to retain control and operate new Class 345 trains across the Elizabeth line
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is a positive deal for London, releasing almost a billion pounds of funding for TfL which can be immediately reinvested into delivering transport improvements, while still allowing us to operate these trains on our network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Simon Kilonback</div>
            <div class="quotee-job-title">Chief Financial Officer at Transport for London </div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL has completed a sale and leaseback deal for the new Class 345 'Elizabeth line' trains to 345 Rail Leasing &#45; a consortium comprising Equitix Investment Management Ltd, NatWest and SMBC Leasing.</p>

<p>The deal, which was approved by TfL's Finance Committee in December, will release approximately &pound;1bn to TfL. This will be reinvested in infrastructure across London's transport network, including delivering a fleet of new Piccadilly line trains, the first of which will appear in London from 2023.</p>

<p>Rolling stock leasing is standard practice across the rail industry, with rolling stock leasing companies owning the vast majority of the UK rail fleet, which they lease to train operating and freight operating companies.</p>

<p>Similar leasing deals have previously enabled TfL to introduce new trains onto London Overground since it began running services in November 2007.</p>

<p>Due to their unique nature, leasing options are currently not suitable for the procurement of new rolling stock on the London Underground network. This is why TfL has pursued the sale and leaseback with the Elizabeth line train fleet.</p>

<h2>Secures TfL savings</h2>

<p>Following a rigorous finance competition, the consortium was selected as the lessor for the Elizabeth line fleet. The 20-year deal will release approximately &pound;1bn of capital for TfL, in line with its expectations.</p>

<p>The final deal also secures TfL savings across its current five-year Business Plan, as the cost of the lease will be less than that assumed in that plan.</p>

<p>In addition, the deal includes an option for TfL to purchase the fleet back at the end of the initial lease term if it wishes to do so. As with all leaseback contracts entered into by TfL, all other financial details are commercially sensitive.</p>

<p>The completion of the sale and leaseback deal will have no impact on the operation or maintenance of the Elizabeth line fleet, which will remain with TfL and MTR Crossrail, who currently operate TfL Rail services.</p>

<p>Simon Kilonback, Chief Financial Officer at Transport for London said: 'As is standard practice across the rail industry, we have been looking to sell and lease back our Elizabeth line rolling stock.</p>

<p>'This will help us purchase new trains on London Underground's Piccadilly line, where there is a clear need for a modern fleet.</p>

<p>'This is a positive deal for London, releasing almost a billion pounds of funding for TfL which can be immediately reinvested into delivering transport improvements, while still allowing us to operate these trains on our network.</p>

<p>'We look forward to working with the 345 Rail Leasing consortium as we progress towards delivering the Elizabeth line, which once open will support the capital's growing economy.'</p>

<p>Hugh Crossley, Chief Investment Officer for Equitix, said:&nbsp;'Equitix and its consortium partners are very pleased to be the new&nbsp;owners and lessors for the new fleet of Class 345 trains due to run rail services on the Elizabeth line.</p>

<p>'We have a strong history of being long-term owners and managers of core infrastructure and look forward to working with TfL as they establish the Elizabeth line as a leading presence within the UK's transport network.</p>

<p>'We are especially mindful of its important role as a source of reliable transportation for London, and will support TfL as it delivers this new rail line for both its long-standing customers and the communities it serves.'</p>

<h2>A great deal for London</h2>

<p>Andrew Blincoe, Head of Structured Finance at NatWest said: 'This is a great deal for London and one we are delighted to have been able to support. To be able to back an infrastructure project of this nature is very exciting and we are looking forward to seeing the benefits of the new service being delivered in the near future.'</p>

<p>Since June 2017, the new Class 345 trains, which have been built by Bombardier Transportation in Derby, have been gradually introduced on TfL Rail services between Liverpool Street and Shenfield, as well as between Paddington and Hayes &amp; Harlington since May 2018.</p>

<p>Crossrail Limited is now carrying out Dynamic Testing of the Elizabeth line to make sure all the railway's systems are safe and reliable.</p>

<p>Train testing is now being carried out through the new tunnels in central London using the new Class 345 trains. Test trains have also recently been running out to Reading station as part of TfL's wider work, along with the DfT, to operate Reading to Paddington services ahead of the completion of the Elizabeth line.</p>

<p>For more information about the Elizabeth line, please visit <a href="https://tfl.gov.uk/travel-information/improvements-and-projects/elizabeth-line">www.tfl.gov.uk/elizabethline</a></p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>The new Class 345 trains have been specifically designed to serve the Elizabeth line when it launches. The new, high-capacity trains have fully interconnected, walk-through carriages which provide more standing room and a mixture of seating types. So far, 57 of the full fleet of 70 trains for the Elizabeth line have been built</li>
	<li>The trains are fully air-conditioned and each carriage has detailed information on next stops for customers as well as four dedicated wheelchair spaces as well as separate multi-use spaces which can also be used for buggies, luggage and bicycles, Intelligent lighting and temperature control on the driver-operated trains help to regenerate electricity back into the supply when braking and use up to 30% less energy</li>
	<li>They are being built at Bombardier Transportation's UK site, helping to support 760 UK jobs and 80 apprenticeships in Derby</li>
	<li>In January 2018, TfL announced that it was looking at whether it could sell and lease back the Elizabeth line rolling stock, to support the delivery for new Piccadilly line trains. Following two rounds of bids throughout 2018, the transaction was discussed and approved by TfL's Finance Committee on 13 December 2018 &#45; <a href="http://content.tfl.gov.uk/fc-20181213-agenda-and-papers-public.pdf">https://tfl.gov.uk/cdn/static/cms/documents/fc-20181213-agenda-and-papers-public.pdf</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-March-TfL completes ‘sale and leaseback’ of Elizabeth line trains to 345 Rail Leasing Consortium -->

 
 
        
        
            @{ViewBag.Description = "Transport for London completes ‘sale and leaseback’ of Elizabeth line trains to 345 Rail Leasing Consortium";}
        
        


 