


@{ViewBag.Title = "TfL partnership to deliver 400 new homes in Kidbrooke";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL partnership to deliver 400 new homes in Kidbrooke</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL partnership to deliver 400 new homes in Kidbrooke</h1>
        <div class="content-page-press-release">
        06 March 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL announces preferred bidder for joint venture to develop site in Kidbrooke, south-east London
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Mayor is determined to fast-track more public land for development and to ensure at least half the new homes across TfL's portfolio of sites will be genuinely affordable"</div>
        <div class="quote-footer">
            <div class="quotee-name">James Murray</div>
            <div class="quotee-job-title">Deputy Mayor for Housing and Residential Development</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>400 new homes will be delivered from 2020, 50 per cent of which will be affordable</li>
    <li>Development will secure income to reinvest in transport</li>
</ul>
<p>Transport for London (TfL) today announced its preferred bidder for a joint venture to deliver 400 new homes &#45; half of which will be affordable &#45; at a TfL-owned site in Kidbrooke.</p>
<p>TfL and preferred bidder Triangle London Developments plan to establish a joint venture partnership to develop the vacant site with hundreds of new homes, commercial, retail and office space, as well as an improved transport hub, and village square.</p>
<p>The four-acre site, in the Royal Borough of Greenwich, benefits from its proximity to the Zone 3 Kidbrooke national rail station and the Henley Cross bus station.</p>
<p>Subject to final approval by the TfL Finance Committee and contract completion, the new joint venture will consult with Londoners to develop concept designs in order to seek planning permissions and start on site in 2018, aiming to have the first homes available to buy and rent by 2020.</p>
<p>Kidbrooke was the first in a series of TfL sites to be released for development last year to support the Mayor of London's manifesto pledge to unlock public land to build thousands of affordable homes for Londoners. Other sites announced by the Mayor, Sadiq Khan, include Landmark Court in Southwark, which has the potential to deliver a mixed use scheme with 35 per cent affordable housing, and Fenwick South in Lambeth, which will provide 55 homes, which will all be social housing.</p>
<p>TfL has ambitious plans to develop hundreds of acres of its land, building thousands of homes - half of which will be affordable to Londoners - generating hundreds of millions of pounds to reinvest in transport.</p>
<p>James Murray, Deputy Mayor for Housing and Residential Development, said: </p>
<p>'The Mayor is determined to fast-track more public land for development and to ensure at least half the new homes across TfL's portfolio of sites will be genuinely affordable. Kidbrooke is a site that has sat unused for the last eight years, so I welcome this joint venture and I look forward to seeing work gather pace to deliver new affordable homes for Londoners to buy and rent.'</p>
<p>Graeme Craig, Commercial Development Director for TfL said: </p>
<p>'Naming our preferred bidder is an important step forward in transforming this long-vacant site. We were delighted with the quality of design proposed by Triangle London Developments, and are excited about working with them to create a thriving, vibrant place to live and work. This is the first of dozens of sites across London that we expect to bring forward in joint venture using our Property Partnerships Framework, and it is a great place to start.'</p>
<p>Kate Davies, from Triangle London Developments said, </p>
<p>'It is a great honour for Triangle London to be selected as TfL's preferred partner for Kidbrooke, the first site awarded through the Property Partnerships Framework. The framework is a fantastic way of addressing the desperate need for more homes in London, and we are looking forward to partnering with TfL to deliver a great new community with much needed affordable housing.'</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>The contract award is subject to a 10-day standstill period and final approval by the TfL Finance Committee on 13 March.</li>
    <li>Network Rail currently owns approximately 26 per cent of the land on the site in Kidbrooke and has agreed Heads of Terms with TfL for this land to be used by the new joint venture to enable an improved transport hub.</li>
    <li>The site was previously part of an RAF base and was then used as operational land during the construction of the A2. It has since been largely unoccupied, apart from Henley Cross bus stop.</li>
    <li>Triangle London Developments is a consortium of Notting Hill Housing and U+I and is one of the partners on the TfL Property Partnership Framework.</li>
    <li>Last year, TfL launched the Property Partnership Framework. Following a competitive tender process, TfL approved the appointment of 13 leading property development companies and consortiums that it could work with to develop its sites. This provides a ready pool of partners eligible to bid to work with TfL in joint ventures as sites become available. This will ensure thousands of homes, offices and retail spaces across London can be delivered more efficiently and quickly.</li>
    <li>An indicative image of the potential development can be found here: <a href="https://www.flickr.com/photos/tflpress/albums/72157679341355750">https://www.flickr.com/photos/tflpress/albums/72157679341355750</a></li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-March-TfL partnership to deliver 400 new homes in Kidbrooke -->

 
 
        
        
            @{ViewBag.Description = "TfL names partner in delivery of 400 new homes in Kidbrooke";}
        
        


 