


@{ViewBag.Title = "TfL seeks views on development in Camden Town";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL seeks views on development in Camden Town</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL seeks views on development in Camden Town</h1>
        <div class="content-page-press-release">
        11 January 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">

    <div class="article-teaser">
        TfL opens public consultation on bringing new homes, commercial and retail space to Camden Town
    </div>



<div class="pull-quote">
        <div class="quote-body">"Providing development above and around the station to include up to 70 new homes and commercial and retail space, will enable us to support the thriving local area while generating vital, non-fare revenue to reinvest in transport"</div>
        <div class="quote-footer">
            <div class="quotee-name">Graeme Craig</div>
            <div class="quotee-job-title">Director of Commercial Development, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Development could include around 60-70 new homes</li>
    <li>Construction could start once the station has been upgraded, including with step-free access from street to train</li>
</ul>
<p>Transport for London (TfL) has launched a public consultation seeking feedback on proposals to build above a new Camden Town Tube station entrance on Buck Street.</p>
<p>Camden Town Tube station is one of the busiest interchange stations on the London Underground. With increasing customer numbers on the Northern line, which now includes a 24-hour service on Fridays and Saturdays, the 85,000 people who use the station each day is set to increase by 42 per cent in the evening peak alone over the next five years.</p>
<p>TfL plans to modernise Camden Town Tube station by making it more spacious and accessible and creating a new entrance on Buck Street to meet the growing demand of customers and support the local economy.</p>
<p>Last year, TfL held the first phase of public consultation to find out what people thought about upgrading the Tube station, including introducing the new entrance. Over 1,700 people responded and 95 per cent supported the need to improve the capacity of the station.</p>
<p>TfL also has plans to develop above the new station entrance to provide up to 60-70 new homes, while working with Camden Council to provide improvements to the public realm around the new proposed entrance. It is expected that 35 per cent or more of the homes will be affordable housing, as part of TfL's overall target for 50 per cent affordable housing across its sites. TfL will seek planning permission to build above the proposed new station entrance from Camden Council next year, and there will be further opportunity for people to comment formally as part of the planning application process.</p>
<p>Graeme Craig, Director of Commercial Development for TfL said: </p>
<p>'Many of our stations, like Camden Town Tube station, are at the heart of London's neighbourhoods. Providing development above and around the station to include up to 70 new homes and commercial and retail space, will enable us to support the thriving local area while generating vital, non-fare revenue to reinvest in transport.'</p>
<p>Mark Wild, Managing Director of London Underground said: </p>
<p>'Modernising Camden Town Tube station will make it easier for the tens of thousands who use this station every day by creating a more spacious station and introducing much needed step-free access from street to train. It will also enable us to continue to meet the growing demand of customers in the area for years to come.'</p>
<p>TfL is working closely with Camden Council on these proposals. Subject to funding and permissions, work on the station and potential development could start in the early 2020s.</p>
<p>TfL has previously announced that it is seeking to build 10,000 new homes at 75 sites over 300 acres across London. As well as working with traditional larger developers, additional sites will be developed in conjunction with small and medium size enterprises and Community Land Trusts &#45; helping to diversify the pool of people and businesses that benefit from London's growth.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>The public consultation will run from 11 January - 8 February 2017. Please visit <a href="http://tfl.gov.uk/camden-town-development">tfl.gov.uk/camden-town-development</a> to tell TfL what you think.</li>
    <li>TfL will also be holding a public exhibition at Arlington House, 220 Arlington Road, NW1 7HE on the following dates:</li>
</ul>
<ol>
    <li>Thursday 19 January 16:00 to 20:00</li>
    <li>Friday 20 January 10:00 to 14:00</li>
    <li>Saturday 21 January 11:00 to 15:00</li>
</ol>
<ul>
    <li>For those unable to attend the public exhibition, images and further detail of the proposal can be found here: <a href="http://tfl.gov.uk/camden-town-development">tfl.gov.uk/camden-town-development</a></li>
    <li>TfL worked with Landolt + Brown Architects, to produce the materials for this consultation</li>
    <li>TfL also anticipate a further round of consultation in 2017 on the station capacity upgrade, prior to an application for permission to carry out the capacity upgrade through a Transport and Works Act Order (TWAO)</li>
    <li>The proposals for the new Camden Town Tube station entrance on Buck Street include three new escalators and two new lifts providing step-free access from street to train</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-January-TfL seeks views on development in Camden Town -->

 
 


 