


@{ViewBag.Title = "TfL appoints preferred Build to Rent Partner";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL appoints preferred Build to Rent Partner</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL appoints preferred Build to Rent Partner</h1>
        <div class="content-page-press-release">
        01 April 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London announces Grainger plc as preferred bidder to be its Build to Rent Partner
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We're thrilled at the prospect of working with Grainger plc to build the homes that our city desperately needs. This long-term partnership provides us with an unrivalled opportunity to deliver affordable, high quality homes at pace while also generating significant ongoing revenue to reinvest back into the transport network
 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Dan Lovatt</div>
            <div class="quotee-job-title">Head of Build to Rent, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>The programme has the potential to deliver in excess of 3,000 homes</li>
	<li>All new planning consents submitted will include a minimum of 40 per cent affordable housing</li>
</ul>

<p>Transport for London (TfL) has announced that it intends to appoint Grainger plc as its investment partner for its Build to Rent programme.</p>

<p>The programme will deliver 3,000 homes, with a minimum of 40 per cent affordable on all new planning consents. This will significantly contribute towards TfL's affordable housing provision across its entire portfolio, which also includes sites that will be mostly or entirely affordable, and means TFL is on track to deliver 50 per cent affordable housing across its estate.</p>

<p>TfL has identified the first phase of sites at some of London's most well connected locations, such as Canning Town in the east and Southall in the west. Each site will be considered individually and TfL and Grainger plc will work with the local borough to identify the needs of the area.</p>

<p>TfL is committed to working with Grainger plc to offer the best service for its tenants - whether that's 24/7 staff, or tenancies of three years or more. In line with Grainger's current Build to Rent offering, TfL will also look to provide useful facilities for tenants, such as high speed Wi-Fi, shared work space, communal areas, gyms and bike storage. It will work with the local communities too to create places and neighbourhoods where people want to live - the sustainable locations of the future.</p>

<p>Working with Grainger plc, TfL's Build to Rent programme is a fantastic opportunity to deliver affordable, high quality homes at pace, while also generating significant ongoing revenue to reinvest back into the transport network.</p>

<p>Grainger plc's strong record in the Build to Rent market as the UK's largest listed residential landlord, owning and managing more than 8,000 rental homes, will help ensure that the programme succeeds in meeting London's critical need for new homes.</p>

<p>Dan Lovatt, Head of Build to Rent at TfL, said:</p>

<p>'Build to Rent is a really exciting programme and we're thrilled at the prospect of working with Grainger plc to build the homes that our city desperately needs. This long-term partnership provides us with an unrivalled opportunity to deliver affordable, high quality homes at pace while also generating significant ongoing revenue to reinvest back into the transport network.</p>

<p>'Great customer service will always be at the heart of our partnership and, together with Grainger plc, we will be providing thousands of Londoners with well-designed homes, in places where they want to live.'</p>

<p>James Murray, Deputy Mayor for Housing &amp; Residential Development said:</p>

<p>'This is an important and significant new opportunity to unlock well-connected TfL sites for new rented homes for thousands of Londoners. By offering genuinely affordable homes, alongside the right to longer tenancies for all, we want these new developments to help set the standard for 'Build to Rent' housing in London.'</p>

<p>Helen Gordon, Chief Executive, Grainger PLC said:</p>

<p>'We are delighted to be selected by TfL to work with them to deliver over 3,000 homes for Londoners. Through this long-term partnership we will provide much needed quality, purpose-built rental homes in attractive locations with great transport connections across the city. Future residents will benefit from Grainger's experience and expertise, dedicated onsite management, and commitment to delivering great rental homes.</p>

<p>'This partnership reaffirms Grainger's position as a leading partner for development schemes in London, and further strengthens our existing presence in the capital.'</p>

<p>John Dickie, director of policy and strategy at business group, London First, said:</p>

<p>'This partnership between TfL and Grainger is important, as it will lead to thousands of new homes being built across London.</p>

<p>'Build to rent is a vital part of meeting London's housing need, bringing in investment and increasing the pace of delivery of new homes. It gives a broad range of people, from the professionals London needs to stay globally competitive to the essential workers our capital depends upon, a place to call home.'</p>

<p>TfL expects the partnership to deliver thousands of Build to Rent homes over a first phase of sites, which are anticipated to include:</p>

<ul>
	<li>Limmo Peninsula, Canning Town, Newham - with the potential for up to 1,500 homes</li>
	<li>Southall Sidings , Ealing &#45; with the potential for up to 400 homes</li>
	<li>Nine Elms Tube station, Lambeth - with the potential for up to 400 homes</li>
	<li>Armourers Court, Woolwich, Greenwich - with the potential for up to 400 homes</li>
	<li>Hounslow West Tube station, Hounslow - with the potential for up to 350 homes</li>
	<li>Cockfosters Tube station, Enfield - with the potential for up to 300 homes</li>
	<li>Arnos Grove Tube station, Enfield - with the potential for up to 100 homes</li>
	<li>Montford Place, Kennington, Lambeth - with the potential for up to 100 homes</li>
</ul>

<p>Build to Rent is one aspect of TfL's wider programme to provide a long-term development pipeline, delivering an initial 10,000 homes across 320 acres, with a target to start on the sites that will deliver these 10,000 homes by 2021. TfL has already submitted planning applications for more than 4,200 homes and, since May 2016, 50 per cent of its sites have been affordable. As well as providing homes, TfL sites are opening up new spaces, creating thousands of jobs and delivering improvements to the transport network, such as step-free access.</p>

<hr />
<p>Notes to Editors:</p>

<ul>
	<li>The proportions of the equity joint venture structure are 49:51 (TfL:Grainger plc).</li>
</ul>

<p>Other TfL sites are being brought to market through a number of different routes including through TfL's Property Partnership Framework, the GLA's 'London Development Panel', as well in partnership with neighbouring landowners and through the GLA's 'Small Sites, Small Builders' programme. In many areas, TfL sites will play a key role in unlocking development and regeneration opening up new spaces, creating jobs and stimulating economic growth.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-April-TfL appoints preferred Build to Rent Partner -->

 
 
        
        
            @{ViewBag.Description = "TfL appoints Grainger plc as preferred bidder to be its Build to Rent Partner for 3,000 homes across the capital";}
        
        


 