


@{ViewBag.Title = "TfL innovation challenge finds new ways of tackling congestion on London's roads";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL innovation challenge finds new ways of tackling congestion on London’s roads</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL innovation challenge finds new ways of tackling congestion on London’s roads</h1>
        <div class="content-page-press-release">
        14 June 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Pioneering London RoadLab programme set out to find safer and smarter ways of doing roadworks
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We're working closely with partners across London to make the capital one of the world's smartest cities and these projects all have the potential to make a real difference to the safety and efficiency of roadworks in London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Michael Hurwitz</div>
            <div class="quotee-job-title">TfL's Director of Transport Innovation</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL has today announced the winners of London RoadLab, an innovation challenge to develop new technology that could help to make London's roads safer and smarter during roadworks.</p>

<p>Working in partnership with Plexal, the innovation centre based at Here East and utility companies, suppliers were invited to pitch ideas for tackling some of the biggest problems caused by roadworks last year. Nine innovative solutions were shortlisted and awarded &pound;20,000 each.</p>

<p>They joined a ten week programme and worked closely with subject matter experts across TfL, London Councils and the utilities to further develop products that could have a positive impact right across the capital.</p>

<p>Following the ten week programme, four products have been chosen to be taken through to the contract negotiations stage with a total value of up to &pound;2m. These include:</p>

<ul>
	<li><strong>Immense Simulations </strong>&#45; Developing an automated way of modelling the impacts of roadworks before they are done, which will improve the flow of traffic and reduce disruption. This modelling is traditionally a very time-consuming process</li>
	<li><strong>Mobilized Construction and Route Reports </strong>- Two different solutions that fit internet enabled devices to TfL buses and Dial-a-Ride vehicles and collect data on road quality. This would allow TfL to identify where the road surface is wearing out in real-time and would make it much easier to predict where maintenance will be needed ahead of time. This data could also help the London Boroughs with their highway maintenance activity</li>
	<li><strong>SAM </strong>&#45; Using artificial intelligence (AI) to monitor social media to identify incidents and emergency events on the roads. This could make it easier for TfL to respond to incidents more quickly</li>
</ul>

<p>The other five solutions were also of interest and TfL will continue discussions with Oxford Plastics who produced road barriers that could improve safety on the road, and RSK who demonstrated an innovative solution to detect water leakages underground prior to any digging takes place.</p>

<p>The programme was funded by TfL's Lane Rental programme, which charges utility companies to 'rent' road space whilst digging up the roads for maintenance.</p>

<p>This money is then invested in tackling congestion and minimising the impact of roadworks and has saved &pound;100m in lost travel time since the scheme started.</p>

<p>The London RoadLab programme is the first time TfL has used an innovation partnership procedure, a new way of working with the private sector which allows TfL to find ways of tackling some of the biggest challenges facing the capital.</p>

<p>This procedure has been developed to make it easier for the public sector to encourage innovation from start-ups or large companies without hampering competition or transparency.</p>

<p>The announcement comes during London Tech Week, which is running until the 16 June with events taking place across the capital.</p>

<p><strong>Michael Hurwitz, TfL's Director of Transport Innovation, said:</strong> 'We're working closely with partners across London to make the capital one of the world's smartest cities and these projects all have the potential to make a real difference to the safety and efficiency of roadworks in London.</p>

<p>'London RoadLab is a completely new way of procuring for TfL and we're excited to see these products in action on the capital's streets, helping to tackle congestion and making our roads safer, and smarter.'</p>

<p>Since Lane Rental was introduced in 2012, there has been a 65% increase in companies working at the same site, at the same time, and a 30% rise in planned utility works at night.</p>

<p>Almost 73 schemes, such as mapping below-ground utility services, robotic technology and training to promote efficiency in on-site working practices have already received a share of &pound;19m in Lane Rental funding allocated to date.</p>

<p><strong>Steve Spencer, Thames Water's chief operating officer, said:</strong> 'We always aim to keep disruption to a minimum, but with most of our pipes buried under London's busiest roads it's important to always look for new and innovative solutions to completing essential works.</p>

<p>'This Roadlab challenge has been fantastic in introducing new ideas and we look forward to see them put into practice to benefit Londoners.'</p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><strong>Cllr. Julian Bell, Chair of London Councils' Transport and Environment Committee, said: </strong>&quot;London's boroughs are responsible for managing 95 per cent of London's streets, helping millions of people to make safe and reliable journeys every single day. Boroughs work hard to plan and coordinate roadworks as efficiently as possible but urgent repairs and incidents are unpredictable and cause delays and disruption that eat up time and resources.</p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">&nbsp;</p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">&quot;The winners of the London RoadLab challenge will offer boroughs the opportunity to try out new tools and techniques built on innovative modelling technologies and data-driven prediction. This will help authorities plan and manage their networks more efficiently, helping Londoners move around more seamlessly in an increasingly smart city.</p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">&nbsp;</p>

<p>&quot;The RoadLab project has been an excellent example how revenue raised from charges for carrying out works on some of busiest streets is being reinvested to improve the lives of London's residents and businesses. It is fitting that the winners are being announced during London Tech Week, which highlights how collaboration and technological innovation can enrich our city.&quot;</p>

<p>More details on London RoadLab, TfL's open innovation challenge, can be found at <a href="https://www.plexal.com/london-roadlab/">https://www.plexal.com/london-roadlab/</a></p>

<hr />
<p><strong>Notes to editors</strong></p>

<p><em>About Plexal:</em></p>

<p>Plexal is an innovation centre and coworking space located in the fast-growing Here East digital and creative campus in London's Queen Elizabeth Olympic Park.</p>

<p>Collaboration is at the heart of Plexal's approach to innovation. Its innovation team delivers bespoke programmes for clients like Innovate UK and Transport for London, and specialises in forging connections between industry, academia, investors, startups and scaleups to tackle some of biggest challenges facing society while getting ideas market-ready. The innovation team's areas of focus are mobility, cybersecurity and social inclusion.</p>

<p>Plexal has also been appointed by the Department for Digital, Culture, Media &amp; Sport to deliver the London Office for Rapid Cybersecurity Advancement (LORCA): a three-year innovation programme aimed at scaling cybersecurity solutions that are needed most by industry.</p>

<p>Designed as a 'mini-city' (it has its own indoor park, high street and prototyping workshop), startup and scaleup members of Plexal's workspace benefit from a comprehensive programme of events and in-house professional services. Members work in areas like AI, healthtech, cybersecurity, fintech, the Internet of Things, AR, VR and more.</p>

<p>Plexal was launched in 2017 and was founded by clients of specialist real estate investment advisory company Delancey.</p>

<p>For more information visit: <a href="https://www.plexal.com/">plexal.com</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-June-TfL innovation challenge finds new ways of tackling congestion on London’s roads -->

 
 
        
        
            @{ViewBag.Description = "TfL innovation challenge finds new ways of tackling congestion on London’s roads";}
        
        


 