


@{ViewBag.Title = "TfL and police increase support of National Hate Crime Awareness Week";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL and police increase support of National Hate Crime Awareness Week</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL and police increase support of National Hate Crime Awareness Week</h1>
        <div class="content-page-press-release">
        16 October 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than 250 joint engagement events across London as part of National Hate Crime Awareness Week, TfL and the capital's police are running a series of joint events across London this week, in support of National Hate Crime Awareness Week
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Public transport must be a place where everyone feels safe and we all stand up against bigotry and for minority communities who may fear victimisation. This is why we are working closely with the police to tackle hate crime and support offenders being caught and brought to justice"</div>
        <div class="quote-footer">
            <div class="quotee-name">Siwan Hayward</div>
            <div class="quotee-job-title">Director of Compliance, Policing and On-Street Operations at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p>Alongside the British Transport Police (BTP), Metropolitan Police (MPS) and City of London Police (COLP), TfL will join forces for a series of more than 250 community engagement events across London.</p>
<p>The engagement activity is now underway, with police officers and TfL staff visiting locations, including Camden People First Disability Group, St John's Wood United Synagogue and Victoria Station, throughout the week to raise awareness of hate crime and encourage people to come forward and report so action can be taken against offenders.</p>
<p>There will also be BTP patrols on trains to raise awareness of this issue and the importance of reporting it to police.</p>
<h2>Low-crime environment</h2>
<p>London's network remains a safe, low-crime environment, but reports of hate crime offences have increased as more people feel confident to speak out about incidents. Between 2016/17 and 2017/18, reports of hate crime on public transport increased by 2%.</p>
<p>As part of this activity, TfL and the police aim to reassure the travelling public and improve victim confidence to report hate crime to the police so that incidents can be investigated and action taken against those that commit these crimes. During the week, the police will carry out operations to identify and deal with offenders.</p>
<p>In 2016, TfL, BTP, MPS and COLP launched Operation Safer Travel for All and the #WeStandTogether campaign, which aims to reassure the travelling public that the network is safe and to encourage anyone who experiences this type of behaviour to report it, so action can be taken against offenders.</p>
<p>Siwan Hayward, Director of Compliance, Policing and On-Street Operations at TfL, said: 'Hate crime has absolutely no place in the capital. We encourage all passengers to stand together and report any hate crime that they witness or experience.</p>
<p>'Public transport must be a place where everyone feels safe and we all stand up against bigotry and for minority communities who may fear victimisation. This is why we are working closely with the police to tackle hate crime and support offenders being caught and brought to justice.'</p>
<h2>Tackling hate crime</h2>
<p>Chief Superintendent Colin Wingrove, from the MPS Roads and Transport Policing Command, said: 'The RTPC, together with TfL and its policing partners, is committed to tackling hate crime in all its forms on the transport network.</p>
<p>'Met Safer Transport officers will be carrying out eight days of engagement across London in support of National Hate Crime Awareness week. Officers will be engaging with local communities and highlighting hate crime and how to report it.</p>
<p>'We will not tolerate any form of hate crime on London's road and transport network and we encourage victims and witnesses to come forward and report any such incidents to the police.</p>
<p>'We are acutely aware that hate crime is still under reported and we are working hard with communities and our partners to address this.</p>
<p>'If you have been a victim of such a crime, or you know someone who is, you can be assured that you will be taken seriously. Any allegation will be robustly investigated.'</p>
<p>Detective Inspector, Lisa Jones from BTP, said: 'As part of our We Stand Together campaign we are actively encouraging people to come forward to report hate crime to us.</p>
<p>'Being victimised because of who you are or who people think you are is fundamentally wrong. There is never any excuse for these types of crime. </p>
<p>'If you are a victim of hate crime, or if you witness an incident that makes you feel uncomfortable, please do not suffer in silence &#45; report it to us and we will do everything we can to help.'</p>
<p>Inspector John Peacock from the City of London Police's Community Policing team, said: 'These days of engagement are extremely valuable for us to reach out to our communities, hear about their experiences and offer reassurance, advice and support.</p>
<p>'We believe these crimes are under-reported and it's really important to us that everyone feels safe and secure in London whether working, commuting, or simply going about their daily lives.</p>
<p>'Our message is very clear - there is never any excuse for abuse, racism, or hate crime of any kind, and we take our responsibility to investigate any offences of this type very seriously.'</p>
<p>People can report an incident discreetly by texting 61016 from a mobile phone (for Tube and rail incidents) or by calling 101. In an emergency they should call 999.</p>
<p>For anyone who feels uncomfortable speaking to the police about a Hate Crime incident, they can visit <a href="http://report-it.org.uk/home">report-it.org.uk</a> where reports can be submitted anonymously.</p>
<p>Anti-Muslim incidents can also be reported at: Tell MAMA on 0800 456 1226, WhatsApp ‎0734 184 6086 or at <a href="https://tellmamauk.org/">tellmamauk.org</a>.</p>
<p>For Anti-Semitic incidents, CST can be called on 0208 457 9999 or reported at <a href="https://cst.org.uk/">cst.org.uk</a>.</p>
<p><hr /></p>
<p>Notes to editors</p>
<ul>
    <li>For TfL's annual crime bulletin, visit: <a href="https://tfl.gov.uk/corporate/publications-and-reports/crime-and-incident-bulletins">https://tfl.gov.uk/corporate/publications-and-reports/crime-and-incident-bulletins</a></li>
    <li>TfL funds over 3,000 police and police community support officers dedicated to policing the transport network. These officers work in partnership with thousands of frontline transport staff to help keep passengers and staff safe</li>
    <li>The increase in reports of hate crime was anticipated following the launch of Operation Safer Travel for All and #WeStandTogether alongside the capital's police in July 2016, which has given people the confidence to report these crimes. The increase reflects national and London-wide trends in reports of hate crime</li>
    <li>The MPS Roads and Transport Policing Command (RTPC) devote one day per month specifically aimed at linking in with community groups affected by hate crime. They now look to include days of action/enforcement aimed at arrest enquires of outstanding Hate Crime Offenders. The RTPC has a responsibility to ensure the surface transport network is safe and engagement is carried out at transport hubs, on the buses and at bus stops. However, they also attend community centres and places of faith and worship to ensure they maximise engagement across London</li>
    <li>Officers from the City of London Police Community Policing team and Public Protection Unit (PPU) will be running hubs in busy areas to support National Hate Crime Awareness Week 2018. The hubs will be run between 11am and 2pm from Monday (15 October) to Friday (19 October). The hubs will be located at one of the following locations on each day &#45; Aldgate, Moorgate j/w London Wall, One New Change, Paternoster Square, and Liverpool Street. Follow &#64;CityPolice on Twitter for specific locations on each day. There will also be hubs within the Guildhall on both Tuesday and Thursday hosted by staff from the City of London Police and City of London Corporation</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-October-TfL and police increase support of National Hate Crime Awareness Week -->

 
 
        
        
            @{ViewBag.Description = "TfL and police step up engagement activities in support of National Hate Crime Awareness Week";}
        
        


 