


@{ViewBag.Title = "TfL moves forward with plans for major new cycle route in west London";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL moves forward with plans for major new cycle route in west London</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL moves forward with plans for major new cycle route in west London</h1>
        <div class="content-page-press-release">
        30 January 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL is inviting the public to have their say on proposed improvements to the design at two locations along the route
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'm really pleased that the improved plans will deliver further improvements for walking and cycling, helping to reduce car use which is crucial to cleaning up London's toxic air"</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL is moving forward with plans to start construction of a major new 7km cycle route later this year, which will transform roads between Kensington Olympia, Hammersmith and Brentford Town Centre - making walking and cycling safer and easier and making the local environment more attractive for residents and visitors.</p>

<p>A consultation on Cycle Superhighway 9 (CS9) in 2017 received more than 5,000 responses, with nearly 60% of respondents either supporting or strongly supporting the proposals and many saying the scheme would have a positive impact on cycling and walking in the area, as well as improving provision for buses.</p>

<p>Recent TfL research has highlighted the economic benefits of walking and cycling to town centres, with infrastructure improvements such as new cycle routes leading to increased retail spending of up to 30%. TfL has now published a report with its responses to issues raised during the consultation on CS9.</p>

<h2>New designs</h2>

<p>In response to this feedback, TfL has developed new designs along sections of the route, which address comments raised during the consultation. TfL is inviting people to have their say on new designs in two sections between:</p>

<ul>
	<li>Kew Bridge/ Kew Bridge Road (High Street Brentford to Wellesley Road)</li>
	<li>Duke Road and Duke's Avenue on Chiswick High Road</li>
</ul>

<p>At Kew Bridge and throughout Kew Bridge Road, the improved designs would provide two-way segregated cycle lanes on the south side of Kew Bridge Road and South Circular Road, rather than the partially segregated cycle tracks on both sides of the road that were proposed in the earlier consultation designs.</p>

<p>This change will ensure that people cycling are fully segregated from traffic throughout this section and it also removes the requirement for two bus stop bypasses on the north side of Kew Bridge Road.</p>

<p>The change also addresses concerns raised about cycle safety at Kew Bridge junction, Green Dragon Lane and Lionel Road South.</p>

<p>The new consultation will also propose a second southbound traffic lane on Kew Bridge to improve the efficiency of the Kew Bridge junction. In addition, the changes will make crossings wider and easier to use, with cyclists signalled separately from conflicting traffic at the Kew Bridge junction.</p>

<h2>Benefits for cyclists</h2>

<p>Along Chiswick High Road, the existing space for pedestrians on Duke's Avenue outside Our Lady of Grace and St Edward Church has been retained, whilst maintaining the proposed benefits for cyclists and the fully segregated cycle track, by removing the right turn lane into Duke's Avenue.</p>

<p>Banning the right turn for vehicles will also reduce the likelihood of collisions at this junction.</p>

<p>TfL continues to work with both Hounslow and Hammersmith and Fulham Councils to improve facilities for people walking and cycling across the boroughs.</p>

<p>In Hounslow, TfL is supporting the council in developing a range of measures to improve the local community, including improving pedestrian routes under Kew Bridge and improving air quality on Chiswick High Road through the Mayor's Low Emissions Bus Zone initiative.</p>

<p>TfL and Hammersmith and Fulham Council have also agreed to look into an opportunity to enable more people to cycle and walk safely along the A4, between Hammersmith Town Hall and the Hammersmith gyratory.</p>

<p>This is in addition to creating a new segregated two-way cycle route along the A315 and the improvements along the A4 represent additional investment and provide connections for people on bikes or on foot south of the gyratory and to Hammersmith Bridge.</p>

<p>TfL will continue to work with Hammersmith and Fulham on this opportunity to improve the local community for people walking and cycling.</p>

<p>Will Norman, London's Walking and Cycling Commissioner, said: 'I'm delighted that construction on this high-quality route will start later this year. We know there is a high demand for cycling in the area and these plans will make it safer and easier, opening it up to even more budding riders.</p>

<p>'I'm really pleased that the improved plans will deliver further improvements for walking and cycling, helping to reduce car use which is crucial to cleaning up London's toxic air.'</p>

<h2>Growing cycle network</h2>

<p>Ben Plowden, TfL's Director of Strategy and Network Development, said:&nbsp;'This new route between Olympia, Hammersmith and Brentford is a hugely important addition to London's growing cycle network as part of the Mayor's Healthy Streets programme.</p>

<p>'The route will encourage even more people in west London to cycle and walk and help us to achieve the Mayor's Vision Zero goal of no deaths or serious injuries on the capital's streets.</p>

<p>'We will continue to work towards starting construction later this year&nbsp;to build on both boroughs' efforts to&nbsp;create healthy streets in this part of London.'</p>

<p>Councillor Steve Curran, Leader of Hounslow Council, said: 'Hounslow Council is committed to improving facilities for cyclists between our town centres which will help reduce collisions, improve air quality and encourage more physical activity which assists in reducing a number of health issues related to inactivity.</p>

<p>'This new cycle route could help us achieve that goal.&nbsp; We are encouraged that TfL has worked so hard to try and address issues with the original scheme raised by our residents in the first consultation.&nbsp;</p>

<p>'We urge people to engage again with this new consultation, the results from which the council will consider later in the year when we take a decision on this first phase of the route.'</p>

<p>Councillor Stephen Cowan, Leader of Hammersmith and Fulham Council, said: 'We listened to residents and cyclists and have since worked very closely with TfL on their behalf to agree a safer cycle route along King Street for riders of all abilities.</p>

<p>'We also asked the borough's resident-led Independent Disabled People's Commission to review this scheme so it works for all. The improved cycle facilities alongside the A4 will be a much better fit for those riders who simply want to get from A to B as quickly and safely as possible.'</p>

<p>Michael Robinson, Co-ordinator, Hounslow Cycling Campaign, said: 'We welcome the new plans for this vital cycle route and are pleased that TfL has listened to local responses.</p>

<p>'The changes will help link the town centres of Chiswick and Brentford and rebalance their high streets away from motor vehicle traffic in favour of people walking and cycling.</p>

<p>'This will enhance the environment and improve safety for all. &nbsp;We hope that TfL and the London Boroughs of Hounslow, and Hammersmith and Fulham will proceed with these plans as soon as possible.</p>

<p>'We look forward to local people of all ages being able to benefit from healthier streets once this long overdue project is completed.'</p>

<h2>Benefit the community</h2>

<p>Fr Michael Dunne, Parish Priest at Our Lady of Grace and St Edward's Church in Chiswick, said: 'I can now endorse the TfL consultation process.</p>

<p>'TfL has listened to the church community and in their revising proposals for the cycle route made very significant changes conscientiously and adequately addressing concerns both for the safety of church-goers and other pedestrians and the impeding of the practice of the faith.</p>

<p>'If the cycle lane cannot be re-routed away from Chiswick High Road altogether, TfL has proved to me that engaging in the consultation brings changes which benefit the community.'</p>

<p>The consultation on the revised designs for two sections of the route is now open and will run until 26 February 2019. Responses can be submitted online at tfl.gov.uk/kew-duke, by post or by e-mail.</p>

<p>All responses to the improved designs will be listened to and responded to whilst TfL continues working towards construction on the rest of the cycle route.</p>

<p>Construction on the route is planned to start later in the year, subject to formal approvals by Hounslow and Hammersmith and Fulham councils, with the route expected to be complete in 2021.</p>

<h2>Mayor's Cycle Action Plan</h2>

<p>Construction work on another cycle route, between Tower Bridge and Greenwich, is set to begin this summer whilst construction work on routes between Camden and Tottenham Hale, and Hackney and the Isle of Dogs could also begin later in the year, subject to consultation.</p>

<p>In December 2018, the Mayor's Cycle Action Plan set out ambitious targets for bringing the capital's cycling network to even more Londoners and significantly increasing the number of cycle journeys made.</p>

<p>TfL and the Mayor committed to expanding the capital's cycle network at pace and increasing the proportion of Londoners who live within 400 metres of the cycling network to 28% by 2024, up from 9%.</p>

<p>By 2024, the plan aims for 1.3 million trips to be made by bike every day, up from 0.7 million in 2017. The Mayor's Transport Strategy target is for 80% of journeys to be made by walking, cycling and public transport by 2041.</p>

<p>Following the Mayor's Cycle Action Plan, TfL will begin using a single brand for all cycle routes from later this year, merging the two existing Cycle Superhighway and Quietway brands into a single system where a Pan-London network is delivered in line with new quality criteria, supported by simple, easy-to-use signs.</p>

<p>This comes after clear feedback from Londoners on the current brands, which can be misleading &#45; especially for those new to cycling &#45; and is in line with best practice from the world's top cities for cycling. The identity for the new network will be revealed over the coming months.</p>

<h2>Liveable Neighbourhoods programme</h2>

<p>TfL's plans for new routes follow a number of recently opened additions to London's cycle network. In September 2018, a major extension to a cycle route through the heart of the capital opened, connecting Elephant and Castle to King's Cross through key destinations in central London.</p>

<p>Other recently opened routes include a 12 km connection between Walthamstow and Bloomsbury, along with a route connecting Blackfriars and Tower Bridge Road in central London.</p>

<p>TfL is working with the boroughs to encourage walking, cycling and the use of public transport through its Liveable Neighbourhoods programme, which provides funding for a wide range of community-supported projects.</p>

<p>These could include the creation of green spaces, new cycling infrastructure, redesigned junctions and the widening of walking routes to improve access to local shops, businesses and public transport.</p>

<p>This follows on from TfL's funding to Enfield, Kingston and Waltham Forest to create a network of cycle routes and improve streets and public areas, which are nearing completion.</p>

<p>These schemes are driving significant increases in cycling in outer London, whilst improving health and local air quality.</p>

<p>Segregated cycle lanes on the A105 Green Lanes in Enfield have seen a 52% increase in cycling and research from Waltham Forest has shown that five year olds are predicted to live an extra six weeks longer, thanks to improvements in air quality.</p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>TfL intends to proceed with its proposals subject to formal approvals by the London Boroughs of Hounslow and Hammersmith and Fulham</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-January-TfL moves forward with plans for major new cycle route in west London -->

 
 
        
        
            @{ViewBag.Description = "TfL moves forward with plans for major new cycle route in west London";}
        
        


 