


@{ViewBag.Title = "TfL's Michael Barratt recognised in New Year's Honours";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL’s Michael Barratt recognised in New Year’s Honours</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL’s Michael Barratt recognised in New Year’s Honours</h1>
        <div class="content-page-press-release">
        29 December 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Michael Barratt has been recognised as a Member of the British Empire (MBE) in the New Year's Honours for services to transport in London.</p>
<p>Already awarded the National Cycling Champion of the Year 2016 at the Cycle Planning Awards, Michael, from Woodford, east London works passionately to make London safer and accessible for all Londoners, while working with developers and construction companies simultaneously, to ensure they can still deliver what they need to efficiently.</p>
<p>Michael is a driver of innovation at Transport for London (TfL), where he works as a Development Impact Assessment Lead, frequently going above and beyond what is expected. A key example of this is the monthly road safety patrols, which he runs before the working day has even begun, and were recognised at the Chartered Institution of Highways and Transportation's 2017 awards.</p>
<p>By bringing different types of road users, including cyclists and people with disabilities, together with the police, borough officers, construction companies and logistics experts, Michael enables immediate action to be taken to improve London's roads for vulnerable road users. He takes the groups around areas where there is construction taking place, encouraging everyone to see how improvements can be made, such as changing roadworks, traffic management layouts, signage and barriers.</p>
<p>Michael was also responsible for creating Construction Management Guidance in 2014, the first of its kind, which shares best practice across London, in addition to developing and delivering his own, free training to construction site marshals. By working intensively with construction sites, he has helped them to reduce the amount that lorries circle around sites by identifying suitable waiting bays, consequently making the areas safer for cyclists and pedestrians. He also supports these organisations in decreasing the pollution they create by encouraging them to recycle waste materials on site.</p>
<p>Another key part of his work is coordinating the different roadworks that take place across the city, so as to minimise their impact. He regularly comes up with innovative ways to reduce disruption and introduces methods that allow cyclists and pedestrians to continue their journeys with minimal impact.</p>
<p>Michael Barratt, Development Impact Assessment Lead at TfL, said: `It's a pleasant surprise to be recognised in the New Year's Honours and I cannot think of a better way to start off 2018. London is such an exciting city to work in and visit and I am passionate that everybody should be able to enjoy travelling around the Capital safely, whether they get about by cycling, walking or using public transport.&quot;</p>
<p>The Mayor of London, Sadiq Khan, said: `I'm delighted that Michael's dedication to making our transport network safer and more accessible has been recognised. His hard work and innovation has significantly helped vulnerable road users across the capital and really changed London's roads for the better.'</p>
<p>London's Transport Commissioner, Mike Brown MVO, said: `We're proud to have Michael as part of our team at TfL and my congratulations go to him for all of his hard work making our city safer. His enthusiasm and track record for going above and beyond mean that he is truly worthy of receiving this award, acting as an inspiration for those inside and outside of the organisation.'</p>
<p>Additional Information<br />•         Please contact the TfL Press Office for an image of Michael Barratt.<br />•         Michael has worked at TfL for 18 years.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-December-TfL’s Michael Barratt recognised in New Year’s Honours -->

 
 
        
        
            @{ViewBag.Description = "TfL’s Michael Barratt recognised in New Year’s Honours";}
        
        


 