


@{ViewBag.Title = "TfL and local boroughs work together to improve six local high streets";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020">2020</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL and local boroughs work together to improve six local high streets</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL and local boroughs work together to improve six local high streets</h1>
        <div class="content-page-press-release">
        24 January 2020
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Improvements include decluttering, planting trees and new cycle parking, as well as using art and creative signage to reflect the identity of the local area
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"High streets are the lifeblood of local communities and we want to do everything we can to ensure they thrive"</div>
        <div class="quote-footer">
            <div class="quotee-name">Carl Eddleston</div>
            <div class="quotee-job-title">TfL's Head of Asset Operations</div>
        </div>
</div>

 <div class="on-this-page">
<p>Transport for London (TfL) is working with borough council partners to enhance high streets in six locations across London, as part of its commitment to create healthy streets across the capital.</p>

<p>TfL and the boroughs are using creative low-cost ideas from local communities to improve busy high streets in Barnet, Croydon, Islington, Southwark, Tower Hamlets and Wandsworth, with the aim of creating better environments for the local areas.</p>

<p>Improvements include refreshing road markings, repainting and planting new trees. Some areas will also receive new cycle parking, water fountains and pavements will be cleared of clutter.</p>

<p>TfL and boroughs are also working with local communities in each area to give the high streets local branding and identity. This includes welcome signage, wayfinding to local points of interest such as markets and artwork championing subjects of local significance.</p>

<p>The first six locations to receive Healthy High Streets funding are:</p>

<ul>
	<li>Hendon Central (Barnet) - New decorative 'Welcome to Hendon' signage will be installed along with additional cycling parking, new trees and refreshed planters around Hendon Central Tube station</li>
	<li>Thornton Heath (Croydon) - New trees have been planted and street furniture painted and in addition TfL and Croydon Council are working together on local branding for the area</li>
	<li>Nags Head, Holloway Road &#45; (Islington) - TfL and Islington Council will work together closely on ideas from residents and businesses to improve the area around Nags Head. TfL also plans to paint street furniture such as electrical cabinets to promote links with the local area</li>
	<li>Peckham High Street (Southwark) - The high street will be cleared of clutter and new trees and planters will be added to help green the local area. These improvements are in addition to proposed measures to reduce road danger along Peckham High Street, which include wider pavements, improved pedestrian crossings and reduced speed limits and TfL will consult on these measures later this month</li>
	<li>Whitechapel High Street (Tower Hamlets) - The market area will be improved with better lighting, new stall coverings, wayfinding signs, enhanced seating and TfL will investigate repairing the existing water fountain</li>
	<li>Tooting High Street (Wandsworth) - New wayfinding will be installed to help people find both local markets and street furniture such as electrical cabinets will be painted to promote links with the local area. Work on a scheme to introduce a 20mph speed limit to Tooting Town Centre is set to begin in May, whilst improvements to pedestrian crossings in the area will start in the autumn</li>
</ul>

<p><strong>Carl Eddleston, TfL's Head of Asset Operations, said: </strong></p>

<p>'High streets are the lifeblood of local communities and we want to do everything we can to ensure they thrive. These improvements to six vital high streets show that through creativity and local support we can make areas more welcoming and attractive for everyone. This work will create better places to live, work and enjoy - helping to improve people's lives across the city. We hope to make improvements to more high streets across London over the coming years.'</p>

<p><strong>Councillor Dean Cohen, Chair of the Barnet Council Environment Committee, said: </strong></p>

<p>'We very much welcome this investment. The new signage will really brighten up the area, and the new trees will improve the air quality in what is a very heavily congested part of the borough. We hope that the additional cycle parking will encourage people to consider using more sustainable methods of transport. All in all, this is very positive news, and we are very grateful for this investment.'</p>

<p><strong>Councillor Stuart King, cabinet lead for environment and transport at Croydon Council, said: </strong></p>

<p>'I'm delighted to see our work to improve Thornton Heath Pond is progressing well. With the help of Transport for London we've seen trees planted and other small changes that collectively make a big difference, making the space more welcoming.'</p>

<p><strong>Cllr Asima Shaikh, Islington Council's executive member for economic development, said: </strong></p>

<p>'This is a tough time for local shops particularly as more people do their shopping online. I, therefore, warmly welcome this investment in supporting local businesses on Holloway Road. I also look forward to working with the Mayor of London and TfL to deliver a joint plan to make Holloway Road more attractive to shoppers, pedestrians and cyclists.'</p>

<p><strong>Cllr Richard Livingstone, Cabinet Member for Environment, Transport and the Climate Emergency for Southwark Council, said: </strong></p>

<p>'We welcome TfL's investment in Peckham High Street and look forward to being part of the consultation process to swiftly bring about much needed safety measures in the area.'</p>

<p><strong>John Biggs, Mayor of Tower Hamlets Council, said: </strong></p>

<p>'We welcome TfL's investment in Whitechapel to improve the look and feel of the area for residents, businesses and visitors.'</p>

<p><strong>Wandsworth Council's cabinet member for transport Cllr Paul Ellis, said: </strong></p>

<p>'We welcome this investment in Tooting Town Centre. Improving the local environment and introducing some quirky and colourful features will only add to its character and provide a boost to local businesses. We also look forward to the soon-to-arrive traffic measures to slow vehicle speeds and make this busy and vibrant town centre safer and more welcoming.'</p>

<p>The Mayor's Transport Strategy aims to reduce reliance on car use and grow sustainable travel to improve quality of life, aiming for 80 per cent of journeys to be made by walking, cycling or public transport. TfL's investment in delivering healthy streets contributes to this by creating streets where people choose to travel actively, connecting communities, improving air quality and reducing road danger and noise.</p>

<p>These improvements to local high streets are in addition to the Mayor's Liveable Neighbourhoods grants of between &pound;1m and &pound;10m for boroughs to transform local neighbourhoods.</p>

<p>TfL research shows that improvements to make it more appealing to walk and cycle in London's town centres and high streets lead to an increase in retail rental values, more retail space being filled and a 93 per cent increase in people walking. The research has also found that people walking, cycling and using public transport spend the most in local shops, spending 40 per cent more each month than car drivers.</p>

<p><strong>Stephen Edwards, Director of Policy and Communications at Living Streets, said: </strong></p>

<p>'By making boroughs more walkable and reducing the number of cars, we can create healthier, less polluted and more investable communities - what's not to love?</p>

<p>'Successfully implemented, these six boroughs will become the blueprint of how all our capital's boroughs could &#45; and should - look.'</p>

<p>TfL is working to create healthy streets across London. Several major transformational schemes are underway across the capital to make our streets safer and encourage more people to walk and cycle. Construction on major new Cycleways between Acton and Wood Lane, Brentford and Olympia and Tower Bridge Road and Greenwich are currently underway. TfL is also transforming other outdated and intimidating gyratory systems across London, with construction complete at Highbury Corner and ongoing at Old Street.</p>

<hr />
<p>Notes to editors</p>

<ul>
	<li>Work is underway in Thornton Heath, Croydon and Hendon Central, Barnet and will be complete by March</li>
	<li>Key repainting and decluttering expected to take place in the other four areas later this year</li>
	<li>The Economic Benefits of Walking and Cycling online hub is available here: <a href="[ioID]#gov.uk/corporate/publications-and-reports/economic-benefits-of-walking-and-cycling">gov.uk/corporate/publications-and-reports/economic-benefits-of-walking-and-cycling</a></li>
	<li>Healthy Streets for London can be found here: <a href="[ioID]#tfl.gov.uk/healthy-streets-for-london.pdf">tfl.gov.uk/healthy-streets-for-london.pdf</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/february">February</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2020-January-TfL and local boroughs work together to improve six local high streets -->

 
 
        
        
            @{ViewBag.Description = "TfL and local boroughs work together to improve six local high streets";}
        
        


 