


@{ViewBag.Title = "TfL response to RAIB report into Croydon tram tragedy";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL response to RAIB report into Croydon tram tragedy</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL response to RAIB report into Croydon tram tragedy</h1>
        <div class="content-page-press-release">
        07 December 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Statement by Mike Brown MVO, London's Transport Commissioner
        
    </div>



 <div class="on-this-page">
<p>'Our thoughts remain with those who lost their lives or were injured in the tragedy at Sandilands, and we continue to do all we can to support everyone affected.</p>
<p>'We welcome this report from the Rail Accident Investigation Branch and will continue to work alongside them, the Office of Rail and Road and First Group, who operate the tram network, to ensure all of the recommendations outlined are met. We will also be publishing our own investigation report in the new year.</p>
<p>'Since the incident we have introduced a wide range of additional safety measures to make sure such a tragedy can never happen again. These include new signage and warning systems for drivers, additional speed restrictions, enhanced speed monitoring and an upgrade of the CCTV recording system.</p>
<p>'An in-cab driver protection device has been trialled and is now fitted to every tram, meaning that any sign of driver distraction or fatigue results in the driver being alerted immediately. Work to install a system to automatically reduce tram speeds if required is also underway.</p>
<p>'We have enhanced the customer complaints process so that all reports are now managed by one dedicated TfL team and any that relate to safety are prioritised for immediate investigation. And the TfL Sarah Hope line remains available to all those affected and continues to provide help with counselling and other support to anyone who needs it.</p>
<p>'We also continue to work with the wider tram industry to ensure that lessons are learned from this incident and that we introduce any further measures that could improve the safety of trams across the UK.'</p>
<p>
<hr /></p>
<p>Additional information:</p>
<ul>
    <li>So far TfL has completed a number of safety improvements to the tram network, including:<br />
    -	Additional speed restrictions and associated signage installed near Sandilands and at three other locations on the tram network.<br />
    -	A permanent speed reduction implemented across the London tram network, meaning the maximum speed trams can travel is now 70kpm (previously 80kph).<br />
    -	The installation of enhanced chevron signs at the four sites with significant bends to provide an additional visual cue for drivers. The number of speed signs has been increased and additional lineside digital signage will provide added speed warnings to drivers.<br />
    -	An in-cab driver protection device has been trialled and is now fitted to all trams to protect against fatigue and distraction.<br />
    -	Replacing and upgrading the CCTV recording system.<br />
    -	Working with safety experts to test various options to improve the containment provided by tram windows and doors.<br />
    -	Exploring options to improve and upgrade tram emergency lighting so it cannot be unintentionally disconnected.<br />
    -	Work on developing an in-cab driver alert system for monitoring and managing tram speed is underway.<br />
    -	Reviewing procedures for the emergency evacuation from trams so that the speed of evacuation is improved.<br />
    - Reviewing and revising risk assessments, alongside First Group, to ensure all scenarios are adequately planned for.</li>
    <li>The Sarah Hope Line, run by specially trained TfL staff, provides practical and financial help and can make referrals for counselling and specialised support to those who need it. The contact details for the Sarah Hope Line are 0343 222 5678, or <a href="mailto:SHL&#64;tfl.gov.uk">SHL&#64;tfl.gov.uk</a>.</li>
    <li>To date, more than &pound;1.2 million has been paid for counselling, rehabilitation, compensation and other activities to support those affected. Specialists are proactively staying in contact with all those affected to provide continued support and offering any further help needed.</li>
    <li>TfL and its insurers are dealing with all formal claims as quickly as possible, including making settlements, interim payments and providing access to counselling and other medical support. Anyone who feels that they need additional support are advised to get in contact via the Sarah Hope Line so that help can be given.</li>
    <li>Tram Operations Limited (TOL), a subsidiary of First Group, operate London's tram network on behalf of TfL.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-December-TfL response to RAIB report into Croydon tram tragedy -->

 
 
        
        
            @{ViewBag.Description = "TfL response to RAIB report into Croydon tram tragedy";}
        
        


 