


@{ViewBag.Title = "TfL seeks partner to develop South Kensington Tube";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL seeks partner to develop South Kensington Tube</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL seeks partner to develop South Kensington Tube</h1>
        <div class="content-page-press-release">
        28 March 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL launches search for property partner for South Kensington restoration and development
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We want to find a long-term partner with whom we can work to create a station that reflects its historic legacy and unique setting, whilst generating vital revenue to reinvest in transport and provide step-free access for millions of journeys"</div>
        <div class="quote-footer">
            <div class="quotee-name">Graeme Craig</div>
            <div class="quotee-job-title">Director of Commercial Development, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Improvements to commercial and retail units will restore and enhance the heritage of this iconic destination</li>
    <li>Development will deliver revenue to reinvest in transport and unlock millions of journeys with step-free access</li>
</ul>
<p>Transport for London (TfL) is welcoming bids from the open market to create a joint venture partnership to sensitively restore and develop South Kensington Tube station. The Tube station is an iconic gateway to one of London's most beloved cultural quarters and the future development will be respectful to the character of the local area. This scheme will provide vital funds to provide step-free access to the District and Circle line via a new station entrance on Thurloe Street. The scheme will also deliver step-free access to the pedestrian subway leading to local destinations including the Science Museum, Imperial College, the Natural History Museum and the Victoria and Albert Museum.</p>
<p>South Kensington Tube station, located in the Royal Borough of Kensington and Chelsea, welcomes over 34 million District and Circle and Piccadilly line customers a year to London's museum quarter.</p>
<p>TfL plans to improve the commercial and retail units of the station and refurbish the four storey buildings at 20-34 Thurloe Street, with the potential to place a single storey on the distinctive Bullnose building and create new opportunities along TfL's stretch of land on Pelham Street. The site also includes the main station entrances through the Grade II listed shopping arcade, which will be restored to its original state, and a second entrance via a Grade II listed pedestrian subway.</p>
<p>TfL is aiming to identify a partner later this year. TfL and the chosen partner will then form a joint venture to develop proposals for the site in consultation with the local community and seek planning permission to develop the site. Subject to planning, the development including step-free access to the District and Circle line and the pedestrian subway could be complete in 2022.</p>
<p>Separately, TfL is continuing to progress plans to rebuild a disused platform for eastbound District and Circle line services. The ticket hall and gate line will be expanded and a new emergency exit to the road bridge leading onto Thurloe Square bridge will be opened. Subject to planning permission, works could start early next year.</p>
<p>Graeme Craig, Director of Commercial Development Director at Transport for London said: </p>
<p>'South Kensington Tube station is one of our busiest stations and also the gateway to some of the most important and treasured cultural institutions anywhere in the world. We want to find a long-term partner with whom we can work to create a station that reflects its historic legacy and unique setting, whilst generating vital revenue to reinvest in transport and provide step-free access for millions of journeys.'</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>The notice to tender this property was issued in the Official Journal of the European Union on 28 March 2017</li>
    <li>TfL is open to interested, qualified bidders, including those who may not be on the TfL Property Partnership Framework</li>
    <li>Interested bidders should contact Oliver Fursdon, Director on +44 (0) 20 7409 5900 or at ofursdon&#64;savills.com or Jemma Aitken-Quack, Associate Director on +44 (0) 207 409 5974 or at jaquack&#64;savills.com</li>
    <li>Step-free access as part of this scheme will be provided from street to the District and Circle line platforms</li>
    <li>Subject to funding and permissions, step-free access as part of the wider TfL station modernisation plans could provide step-free access from street to the Piccadilly line platforms by 2025</li>
    <li>Images of the South Kensington Tube station and its location can be found here: <a href="https://www.flickr.com/photos/tflpress/albums/72157680032499220">https://www.flickr.com/photos/tflpress/albums/72157680032499220</a></li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-March-TfL seeks partner to develop South Kensington Tube -->

 
 
        
        
            @{ViewBag.Description = "TfL seeks long-term partner to restore and develop South Kensington Tube station and deliver vital step-free access";}
        
        


 