


@{ViewBag.Title = "TfL launches new social media 'TravelBot' ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL launches new social media ‘TravelBot’ </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL launches new social media ‘TravelBot’ </h1>
        <div class="content-page-press-release">
        13 June 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has launched the next generation in customer service technology with its first ever 'TravelBot'.</p>
<p>The new social media tool, which is powered by artificial intelligence, can &quot;chat&quot; with customers using Messenger and instantly tell them when their bus is due to arrive, provide service updates and Tube maps. The TravelBot can also link direct to a customer service agent, making customer service queries easier than ever.</p>
<p>TfL already deals with a huge number of queries every day through its two Facebook pages. The new technology makes it even easier for customers to get information on the Messenger platform in a way that's fast and straightforward. Features of the new service include:</p>
<ul>
    <li>Bus arrivals: customers can check when their bus is due to arrive by simply sharing their location or providing the bus stop code available at every bus stop.  This will be particularly beneficial for customers at bus stops that don't display 'countdown' information</li>
    <li>Bus route status: customers can ask for bus service updates, including information on bus route diversions</li>
    <li>Service updates: customers can ask for the latest service updates for the Tube, TfL Rail, London Overground, DLR and London Trams</li>
    <li>Maps: the TravelBot can provide Tube, Night Tube and rail maps</li>
    <li>Message an agent: the TravelBot can refer customers to a customer service agent</li>
</ul>
<p>As people use the service, it will &quot;learn&quot; and become even more precise. TfL will explore the possibility of further features in the future including providing journey planning information and status alerts.</p>
<p>Shashi Verma, TfL's Director of Customer Experience, said: `Millions of people already use our Journey Planner and social media channels to help them get around London, and we are constantly seeking new ways to make the process even easier.  This TravelBot will make it simpler for people using Messenger to get the information they need as they move around the city. We think that this initial version will be a major step forward in how we provide travel information to our customers and we look forward to their feedback to help us improve the product over time.'</p>
<p>TfL works closely with technology companies around the world to support innovation that could improve transport in London.</p>
<p>Chatbots are digital assistants that can quickly chat to customers. Powered by artificial intelligence, they provide instant information via messaging apps, where research <sup>(1)</sup> suggests people increasingly prefer to spend their online time.  By using a chatbot, people can move seamlessly between chatting with their friends and looking up information without having to exit an app and switch to a browser.</p>
<p>To access the TfL TravelBot, search for 'TfL TravelBot' on Facebook or visit <a href="http://facebook.com/tfltravelbot/">facebook.com/tfltravelbot/</a> on a desktop computer.</p>
<p>Ends</p>
<p>Further information:</p>
<ul>
    <li><sup>(1)</sup> Mindshare UK 2016, 'Humanity in the Machine' <a href="http://mindshareworld.com/uk/about/ai-report">mindshareworld.com/uk/about/ai-report</a></li>
    <li>TfL has been driving innovation through making its data open and accessible beyond TfL. With over 12,000 developers, over 600 apps are now powered by TfL data. Further information is available on line at <a href="http://tfl.gov.uk/open-data">tfl.gov.uk/open-data</a></li>
    <li>
    More than 250 London Underground stations &#45; 97 per cent of the network &#45; offer free Wifi, in ticket halls and walkways, and on platforms <a href="http://tfl.gov.uk/campaign/station-wif">tfl.gov.uk/campaign/station-wif</a>i</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-June-TfL launches new social media ‘TravelBot’  -->

 
 
        
        
            @{ViewBag.Description = "TfL launches new social media ‘TravelBot’ ";}
        
        


 