


@{ViewBag.Title = "TfL publishes latest bus safety statistics";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL publishes latest bus safety statistics</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL publishes latest bus safety statistics</h1>
        <div class="content-page-press-release">
        27 June 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has published new bus safety statistics for the Capital and confirmed details of its comprehensive Bus Safety Programme, which brings together the very latest technology, improved driver training and contract incentives for bus operators.</p>
<p>The latest bus safety statistics, for January to March 2016, show that 1,399 people were injured in incidents involving buses.  That represents a six per cent reduction on the previous quarter (September to December 2015) when 1,488 injuries were recorded.  Eighty-seven per cent of the injuries in the first quarter of this year were classified as minor and of those 74 per cent of people did not require hospital treatment.</p>
<p>As part of Transport for London's Bus Safety Programme, the Sarah Hope Line was launched in April to offer comprehensive support to anyone injured or affected by an incident involving TfL services.  In addition, the Bus Safety Programme will also:</p>
<ul>
    <li>Develop a world leading bus safety standard for London &#45; The latest safety technologies and products are being developed and tested by manufacturers on London Buses throughout 2016/17 and incorporated into new buses to help avoid and mitigate the impact of collisions involving buses</li>
    <li>Update TfL's bus contracts to include new safety incentives &#45; TfL is working to update its bus contracts and developing incentives to encourage bus operators to have an even greater focus on safety</li>
    <li>Publish additional bus collision data and making it more accessible &#45; TfL began publishing bus safety statistics on its website in June 2014 to further improve transparency for customers and other stakeholders. It is committed to publishing additional data analysing the most serious collisions by road user group</li>
    <li>Provide greater transparency on bus collision investigations &#45; TfL has set out how fatal and serious injury collisions on the bus network are investigated and the processes that are followed by it, the bus operators and the police</li>
    <li>Deliver a new safety training module to all 24,700 drivers &#45; TfL continues to invest in the most stringent bus driver training in the UK. By the end of this year bespoke 'In the Zone' training will have been delivered to all 24,700 bus drivers in the Capital. &quot;In the Zone&quot; raises drivers' awareness of the risks that road users take, whether that be as a driver of a vehicle, or as a vulnerable road user such as a pedestrian, cyclist or motorcyclist</li>
</ul>
<p>The overall trend for collisions involving a bus or coach where someone has been killed or seriously injured has reduced by 48 per cent over the last decade.</p>
<p>Mike Weston, TfL's Director of Buses, said: `Whilst a reduction in injuries in the early part of this year is welcome, we are committed to working in partnership with bus operators to deliver the Bus Safety Programme to further improve safety.  The Sarah Hope Line will offer a comprehensive support service to anyone affected by an incident involving our services and more work will be undertaken this year on other aspects of the programme.  The continued publication of these statistics demonstrate our commitment to transparency and achieving this goal."</p>
<p>Ends</p>
<p>Notes to Editors:</p>
<ol>
    <li>During a three month period around 600 million journeys will be made on the Capital's bus network and buses will travel more than 100 million kilometres in passenger service.</li>
    <li>Further information on the Bus Safety Programme can be found here: tfl.gov.uk/corporate/safety-and-security/road-safety/bus-safety</li>
    <li>The Sarah Hope Line can be called on 0343 222 5678, from Monday to Friday, 8am to 6pm.</li>
    <li>There are almost 9,200 buses in the Capital's fleet and around 6.5 million bus journeys are made every day across 700 different bus routes. Bus safety data is available at: <a href="http://tfl.gov.uk/corporate/publications-and-reports/bus-safety-data">tfl.gov.uk/corporate/publications-and-reports/bus-safety-data</a></li>
    <li>The data is not considered to offer a reliable means of comparing individual bus routes or bus operating companies in relation to safety; this is because key factors such as frequency, traffic volumes and bus types used vary between routes and operators</li>
</ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-June-TfL publishes latest bus safety statistics -->

 
 


 