


@{ViewBag.Title = "TfL drives forward &pound;18 million electric vehicle scheme";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL drives forward £18 million electric vehicle scheme</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL drives forward £18 million electric vehicle scheme</h1>
        <div class="content-page-press-release">
        26 April 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Rapid charge points that power vehicles in 30 minutes to be installed in coming months
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"An extensive rapid charging network is fundamental in helping drivers make the shift from fossil fuels to electric"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ben Plowden</div>
            <div class="quotee-job-title">Director of Surface Strategy and Planning, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Dedicated points for taxis to help iconic black cabs go green</li>
    <li>Plans will encourage drivers to ditch the most polluting vehicles and go electric to help clean up London's filthy air</li>
    <li>Customer friendly scheme means drivers can pay as they go using a credit or debit card, without having to sign up to membership</li>
</ul>
<p>Transport for London (TfL) has appointed the suppliers who will provide the rapid charging points that the capital needs to make it easier than ever before to use electric vehicles. After a competitive bidding process, the Centrica Consortium, BluepointLondon, Chargemaster, Electricity Supply Board (ESB) and Fastned were successful. They will fund, maintain, operate and install the network.</p>
<p>The operators will move quickly to install the charge points, with the first being operational within a matter of months. They will power vehicles in close to 30 minutes, compared with the three to four hours when using a standard unit. The initial aim is to see 75 charging points in the ground by the end of this year, with the network growing to 150 by the end of 2018 and 300 fully functioning by 2020.</p>
<p>TfL is working with the boroughs and investing &pound;18million to unlock potential sites, including upgrading the power supply. Strategic hubs are also being evaluated on arterial roads, owned and maintained by TfL, and on private land, including Heathrow Airport and multiple Shell service stations. These are off-road locations that have potential to house a number of rapid charge points.</p>
<p>New taxis licensed after 1 January 2018 will need to be zero-emission capable, to help clean up London's dirty air. This charging network will be vital in assisting the greening of London's iconic black cab fleet, with many charging points dedicated exclusively to their use by the end of next year.</p>
<p>Ben Plowden, TfL's Director of Surface Strategy and Planning, said: </p>
<p>'Urgent action needs to be taken to clean up London's toxic air and rid the Capital of the most polluting vehicles. An extensive rapid charging network is fundamental in helping drivers make the shift from fossil fuels to electric. This is particularly important for the taxi and private hire trades and the fleet and freight sector, which over the next few years will be looking to dramatically increase the number of journeys made with zero-exhaust emissions.'</p>
<p>The creation of a competitive market is aimed at keeping prices low and a maximum rate will be guaranteed for pay-as-you-go users for the first two years. The contract is set up to create the best possible experience for customers. Drivers will be able to pay at the charge point using a credit or debit card and it will not be compulsory to sign up to a membership or subscription scheme. The integrated network means drivers can use all five suppliers at no additional cost, making it easier to do business when using a zero-emission vehicle.</p>
<p>Customers will be supported by 24-hour, seven-day-a-week call centres and have the latest information at their fingertips, such as the location and availability of charging points, both on the web and through apps. The location data will be made available, tapping into the creativity of the app-developing community.</p>
<p>Shirley Rodrigues, Deputy Mayor for Environment, said: </p>
<p>'This investment in London's infrastructure is great news for the Capital. It will help to shape a new competitive market for rapid charging points, preparing for new taxis as we look to phase out diesel and make the move towards ultra-low emission vehicles to help clean up London's toxic air.'</p>
<p>Cllr Julian Bell, Chair of London Councils' Transport and Environment Committee said: </p>
<p>'We welcome this next step to provide rapid electric vehicle charging points in the capital, which play an important role for business users of electric vehicles in particular. We look forward to seeing these rolled out across all boroughs in the coming months and years.'</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>Prices will be published by the suppliers closer to the charge points going live</li>
    <li>Office for Low Emission Vehicles and TfL support will give taxi drivers up to &pound;7,500 off the cost of a new zero emission capable black cab</li>
    <li>TfL will introduce a voluntary decommissioning scheme from mid-2017 until 2020 to remove the oldest taxis from the fleet. Owners of taxis over 10 years old will be able to claim a payment of up to &pound;5,000, depending on the age of the vehicle.</li>
    <li>About the successful bidders:</li>
</ul>
<ul>
    <li>The Centrica Consortium will involve Centrica's electric vehicle services team, which is part of its Distributed Energy &amp; Power business, working alongside two other partners, Evolt (powered by APT Technologies) and ChargePoint Services, on all framework activity. Centrica will work as the principal contractor and principal designer. Evolt will be responsible for supplying charging equipment and service and maintenance. ChargePoint Services, with its GeniePoint charger network operation, will provide a wide range of support, including infrastructure financing, 24/7 customer service desk and customer billing. Centrica itself established its electric vehicle business in 2012 and has been working with Evolt and ChargePoint Services since 2015.</li>
    <li>ESB is Ireland's foremost energy company and the country's largest supplier of renewable electricity. In the UK, where it has invested &pound;2bn in the past six years, ESB is a leading independent power generator and electricity networks owner, with a diverse portfolio of almost 1.9 GW of both thermal and renewable assets. As an energy innovator, ESB is at the forefront of delivering the full end-to-end value chain and all aspects of management of electric vehicle charging networks, currently owning and operating interoperable networks consisting of 1,200 public fast and rapid (22 kW and 50 kW) charge points across  both the Republic of Ireland and Northern Ireland.</li>
    <li>Chargemaster Plc is the largest manufacturer and operator of charging points in the UK. From its base in Luton it manufacturers a full range of products from domestic charging units for charging at home, 7 kW fast units for charging at the workplace or in public locations on streets and in car parks and its own rapid charger called Ultracharge. Ultracharge is the only rapid charger unit built in the UK and is the most advanced and compact unit on the market. The company is the Official Charging Infrastructure supplier to the FIA Formula E racing series.  Chargemaster produces all its charging points at its factory in Luton which has a capacity of 2,000 charging points a month.</li>
    <li>Bluepointlondon Ltd (&quot;Bluepointlondon&quot;) has been operating Source London since September 2014. It is committed to maintain, expand and manage London's largest network of electric vehicles charge points powered by 100% renewable energy. Its mission is to deliver a smart and sustainable infrastructure encouraging EV uptake across London. Bluepointlondon is a division of BlueSolutions, a Bollor&eacute; Group company, managing over 20,000 charge points in cities in Europe, the United States and Asia.</li>
    <li>Fastned is building a European network of fast-charging stations where all electric cars can charge. It is building stations at high traffic locations along the highway and in cities, where electric cars can charge in 30 minutes. This will provide freedom for electric cars to drive everywhere throughout Europe. As of today, Fastned has 61 stations operational in The Netherlands and is working on expanding its fast charging network to the rest of Europe. Fastned is listed on the Nxchange stock exchange.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-April-TfL drives forward £18 million electric vehicle scheme -->

 
 
        
        
            @{ViewBag.Description = "TfL drives forward £18 million electric vehicle scheme to run London’s rapid charging network ";}
        
        


 