


@{ViewBag.Title = "TfL's Pat Thomas recognised in Birthday Honours for her work with communities";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL's Pat Thomas recognised in Birthday Honours for her work with communities</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL's Pat Thomas recognised in Birthday Honours for her work with communities</h1>
        <div class="content-page-press-release">
        16 June 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Pat Thomas has been recognised as a Member of the British Empire (MBE) in the Queen's Birthday Honours for services to transport in London and the community.</p>
<p>Pat, from Barnehurst, Kent, who works in the Human Resources team, has been an inspirational driving force in her professional and public life, working to foster great understanding between diverse groups of people with different faiths.</p>
<p>Pat was the Chair of TfL's Faith and Wellbeing Staff Network Group for six years. Her passion and creativity led to the membership of the group tripling in size and she now uses this experience to mentor other TfL staff who chair staff network groups or who are looking to improve their leadership skills.</p>
<p>Under Pat's influence, the Staff Network Group became more inclusive, encouraging dialogue between staff with different beliefs and welcoming those who had no particular faith. By encouraging members of the group to talk to each other and discuss their feelings, she helped them to increase awareness and understanding of each other's views.</p>
<p>Pat has brought together staff and Muslim and Christian leaders following recent terror attacks around Europe and has ensured that TfL has been able to give advice and reassurance to colleagues and customers who might have been anxious.</p>
<p>London's Transport Commissioner, Mike Brown MVO, said: `My congratulations go to Pat for having her inspirational warmth and hard work recognised in the Queen's Birthday Honours. She is a role model inside and outside of TfL and brings about positive change to the lives of those around her.'</p>
<p>Pat Thomas said: `I am over the moon to have been recognised in the Queen's Birthday Honours, which has taken me completely by surprise. I am passionate about bringing together different faith communities, so that everyone can be confident in celebrating both their similarities and differences.</p>
<p>`It has been a privilege to chair the Faith and Wellbeing Staff Network Group and I am happy that it has had a positive impact on both my colleagues and our customers.'</p>
<p>Additional Information</p>
<ul>
    <li>An image of Pat Thomas can be found here: <a href="http://www.flickr.com/photos/tflpress/35342456715/in/album-72157685027299846/">www.flickr.com/photos/tflpress/35342456715/in/album-72157685027299846/</a></li>
    <li>Pat Thomas has worked at TfL for over thirteen years.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-June-TfL's Pat Thomas recognised in Birthday Honours for her work with communities -->

 
 
        
        
            @{ViewBag.Description = "TfL's Pat Thomas recognised in Birthday Honours for her work with communities";}
        
        


 