


@{ViewBag.Title = "TfL to make works on the capital's road network safer and less disruptive";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL to make works on the capital’s road network safer and less disruptive</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL to make works on the capital’s road network safer and less disruptive</h1>
        <div class="content-page-press-release">
        08 October 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL's Lane Rental scheme discourages companies from digging up the busiest sections of London's roads by charging them a daily fee
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We're working very closely with the industry on schemes such as Lane Rental and our Roadworks Charter to reduce the impact of roadworks and to keep people moving safely around the capital"</div>
        <div class="quote-footer">
            <div class="quotee-name">Glynn Barton</div>
            <div class="quotee-job-title">TfL's Director of Network Management</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL has set out plans to make works on the capital's road network safer and less disruptive, by making changes to its pioneering Lane Rental scheme and introducing a new Roadworks Charter for utility companies.</p>

<p>The Lane Rental scheme, which has saved &pound;100 million of lost travel time since its introduction in 2012, allows TfL to charge utility companies a daily fee for digging up the busiest sections of London's roads at the busiest times.</p>

<p>This encourages companies to plan the works they need to carry out outside of the most sensitive times.&nbsp;</p>

<p>All money raised from the scheme is reinvested in initiatives and innovations designed to reduce disruption caused by roadworks across the capital.</p>

<p>In 2018/19, TfL invested &pound;6.1m in London's road network using funding raised through the scheme on a number of projects.</p>

<p>These range from trials of a new low-noise, rapid pot hole repair system, to a technology innovation challenge where new products were developed capable of making roadworks smarter and safer.</p>

<h2>Smarter and safer</h2>

<p>TfL's proposed changes to the scheme are intended to better reflect how London's roads are being used, with more Cycleways and some of London's busiest footways being subject to charges.</p>

<p>To support the Mayor's Vision Zero aim to eliminate death and serious injury from London's roads, TfL propose to offer discounts to those who demonstrate high safety standards.</p>

<p>Reductions are also offered where utility companies are improving and extending their assets to ensure that London's infrastructure continues to support the capital's growth.</p>

<p>The proposals include:</p>

<ul>
	<li>Increasing the extent of the Lane Rental network so that charges would apply across 72% of the TfL Road Network*</li>
	<li>Introducing a charge of &pound;350 per day for works that impact on the busiest sections of pavement, mostly outside major transport hubs</li>
	<li>Reducing the number of locations where the highest charges occur by 10%</li>
	<li>Reducing the number of hours when charges would apply &#45; incentivising work at quieter times, such as during the evening</li>
	<li>Offering discounts where companies meet strict safety standards</li>
</ul>

<p>The consultation is available on the TfL website at <a href="https://consultations.tfl.gov.uk/roads/lane-rental/">consultations.tfl.gov.uk/roads/lane-rental/</a> and is open until 8 November.</p>

<h2>Improving safety</h2>

<p>TfL has also worked closely with the largest utility companies in London on a new Roadworks Charter, which sets out targets for both TfL and other companies carrying out works on London's road network to make roadworks safer and less disruptive by 2021.</p>

<p>Measures include sharing plans for works with each other in advance to see if they can be done at the same time, targets for improving safety performance and committing to reduce obstacles around works for vulnerable road users.</p>

<p>Five companies, Thames Water, UK Power Networks, SGN, Cadent Gas and BT, have signed up to the charter.</p>

<p>Glynn Barton, TfL's Director of Network Management, said: 'Roadworks are a vital and unavoidable part of keeping the capital's complex utilities in working order, but we're fully aware that they can be a pain for people using the roads, as well as a cause of danger, congestion and toxic air.</p>

<p>'We're working very closely with the industry on schemes such as Lane Rental and our Roadworks Charter to reduce the impact of roadworks and to keep people moving safely around the capital.'</p>

<p>Since Lane Rental was introduced in 2012, there has been a 65% increase in companies working at the same site, at the same time, and a 30% rise in planned utility works at night.</p>

<p>Almost 73 schemes, such as mapping below-ground utility services, robotic technology and training to promote efficiency in on-site working practices have already received a share of &pound;19m in Lane Rental funding allocated to date.</p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>*Lane rental charges currently apply at locations making up 56% of the Transport for London Road Network</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-October-TfL to make works on the capital’s road network safer and less disruptive -->

 
 
        
        
            @{ViewBag.Description = "TfL sets out plans to make works on the capital’s busy road network safer and less disruptive";}
        
        


 