


@{ViewBag.Title = "TfL commences consultation on cashless trams in Croydon";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL commences consultation on cashless trams in Croydon</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL commences consultation on cashless trams in Croydon</h1>
        <div class="content-page-press-release">
        04 September 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has begun an eight-week public consultation on plans to make trams in London 'cashless'.</p>
<p>The proposal would see existing cash ticket machines, which only sell a small number of the more expensive paper tickets every week and do not allow customers to top-up their Oyster card, removed from the Tram network.</p>
<p>As the ticket machines, which were installed when the tram system opened in 2000, have such low usage and have now reached the end of their useful life, it is no longer cost effective for TfL to maintain them or have them replaced.</p>
<p>It is, therefore, proposed that TfL remove the machines and ask any customers who still buy paper tickets to switch to Oyster or contactless. Customers will be able to top up their Oyster cards at Oyster Ticket Stops along the route, at ticket machines at National Rail stations or via the TfL website and forthcoming TfL Ticketing app.</p>
<p>Due to the convenience and value for money of payment using Oyster and contactless bank payment cards, only 0.3 per cent of single tram journeys are paid for with a ticket bought from a tram stop ticket machine. This is fewer than 250 tickets per day, with more than half of these sold from 10 tram stops.</p>
<p>A paper ticket bought from a ticket machine costs &pound;2.60 whereas the equivalent pay as you go single fare with Oyster or a contactless bank card is &pound;1.50. Customers using pay as you go also have access to the Mayor's Hopper fare, which gives a second tram or bus journey for free within one hour of touching in on the first tram or bus journey.</p>
<p>Subject to the results of the consultation, a final decision on whether to remove the machines will be made early next year.</p>
<p>Rory O'Neill, Director of London Trams, said: `Most tram customers use pay as you go with Oyster or contactless to travel, which is cheaper than paper tickets and also allows customers to use the Mayor's new 'Hopper' fare to make two bus or tram journeys within an hour for the price of one. As very few ticket sales are made using ticket machines, we are asking local people and stakeholders if they think cash ticket machines should be removed altogether.'</p>
<p>The consultation runs until Sunday 29 October. To find out more, see details of our public drop-in sessions and to have your say visit  <a href="http://www.tfl.gov.uk/cashless-trams">www.tfl.gov.uk/cashless-trams</a></p>
<p>Ends</p>
<p>Notes to editors</p>
<ul>
    <li>To get an Oyster card, customers need to pay a &pound;5 deposit, and then add pay as you go credit or a season ticket before you can travel. These can be bought from almost 4,000 local shops in London known as Oyster Ticket Stops, the Tramlink shop, Tube, London Overground and TfL Rail stations, some National Rail stations, Visitor Centres and Oyster online if you live in the UK - <a href="http://oyster.tfl.gov.uk">http://oyster.tfl.gov.uk</a></li>
    <li>Since the introduction of the Mayor of London's 'Hopper' fare in September last year, passengers can change onto another bus or tram for free within one hour of touching in. From next year this will be extended to unlimited bus journeys within an hour</li>
    <li>Since the Oyster card was introduced in July 2003, the number of journeys being made on the Tram network every year has grown from 20 million to around 29 million in 2016/17.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-September-TfL commences consultation on cashless trams in Croydon -->

 
 
        
        
            @{ViewBag.Description = "TfL commences consultation on cashless trams in Croydon";}
        
        


 