


@{ViewBag.Title = "TfL consults on two potential new London Overground stations at Old Oak";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL consults on two potential new London Overground stations at Old Oak</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL consults on two potential new London Overground stations at Old Oak</h1>
        <div class="content-page-press-release">
        16 October 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has today begun a five week consultation on plans for two potential new London Overground stations that would provide a link to the Elizabeth line and High Speed 2 (HS2) and support the regeneration at Old Oak and Park Royal in west London.</p>
<p>Old Oak and Park Royal represents one of London's largest Opportunity Areas and one of the UK's biggest development sites. It is being managed by Old Oak and Park Royal Development Corporation (OPDC), with the potential to deliver 25,500 new homes and 65,000 jobs. At the centre of these plans is a new station at Old Oak on the HS2 route providing connections between London, the Midlands and the North.</p>
<p>Improved local transport infrastructure, including connections to the London Overground network, would help support this level of regeneration and bring up to 250,000 more people and 150,000 additional jobs within an hour's journey of Old Oak. The potential new London Overground stations would improve local rail connections and provide links to the future Elizabeth line and HS2 services.</p>
<p>Alex Williams, TfL's Director for City Planning, said: `These two potential new London Overground stations would improve connectivity to HS2 and support the regeneration at Old Oak and Park Royal.  Delivering these would further build on the regeneration benefits of HS2 and the Elizabeth line and would help support new homes, jobs and opportunities for thousands of Londoners.'</p>
<p>Following on from the 2014 consultation, working with Network Rail and the OPDC and co-funded by the European Commission (EC), TfL has undertaken work to develop an initial design for potential stations at Hythe Road and Old Oak Common Lane.</p>
<p>TfL is now seeking views on these two potential new London Overground stations:</p>
<p>Hythe Road station &#45; This potential new station would be situated about 700 metres from the HS2 and Elizabeth line station within one of the largest development sites called Old Oak Park within the OPDC area.</p>
<p>Old Oak Common Lane station &#45; This potential new station would be situated about 350 metres to the west of HS2 and Elizabeth line station between Old Oak Common and Midland Terrace.</p>
<p>Further information about the station designs and details of how to respond to the consultation, which closes on 17 November, are available here <a href="http://www.tfl.gov.uk/old-oak-common">http://www.tfl.gov.uk/old-oak-common</a></p>
<p>The outcome of this consultation will help determine the next steps for the potential stations. Responses will be considered alongside the overall business case, supplementary feasibility studies, the availability of funding and determining operational requirements.</p>
<p>Should these potential stations be taken forward, powers to deliver them would need to be secured through a Transport &amp; Works Act Order (TWAO).  Further consultation would be carried out on the proposals prior to any TWAO submission.</p>
<p>Ends</p>
<p>Notes to Editors:</p>
<ul>
    <li>Visualisations of the stations are available here &#45; <a href="https://www.flickr.com/photos/tflpress/albums/72157686858838121">https://www.flickr.com/photos/tflpress/albums/72157686858838121</a></li>
    <li>Details of the previous consultation are available here - <a href="https://consultations.tfl.gov.uk/london-overground/old-oak-common-2014/">https://consultations.tfl.gov.uk/london-overground/old-oak-common-2014/</a></li>
    <li>TfL is also holding drop-in sessions to answer questions and provide more information to the public. These will be taking place at;</li>
</ul>
<p>The Nadi Park Royal<br />
260 Old Oak Common Lane<br />
White City, London NW10 6DX<br />
Monday 30 October 12:30 &#45; 19:30<br />
Saturday 4 November 10:30 &#45; 16:00<br />
Monday 6 November 12:30 &#45; 19:30</p>
<ul>
    <li>The current design stage (GRIP 3) has been co-financed by the European Union &#45; Connecting Europe Facility.</li>
    <li>Fereday Pollard Architects are working on the GRIP 3 design work on behalf of Arcadis Consulting Ltd.</li>
    <li>Opportunity Areas are London's major sites of brownfield land which have significant capacity for development &#45; such as housing or commercial use - and existing or potentially improved public transport access.  Typically they can accommodate at least 5,000 jobs, 2,500 new homes or a combination of the two, along with other supporting facilities and infrastructure.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-October-TfL consults on two potential new London Overground stations at Old Oak -->

 
 
        
        
            @{ViewBag.Description = "TfL consults on two potential new London Overground stations at Old Oak";}
        
        


 