


@{ViewBag.Title = "TfL and A2Dominion announce plans for hundreds of new affordable homes in Hounslow";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020">2020</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL and A2Dominion announce plans for hundreds of new affordable homes in Hounslow</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL and A2Dominion announce plans for hundreds of new affordable homes in Hounslow</h1>
        <div class="content-page-press-release">
        27 February 2020
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New scheme located close to Hounslow West Tube station will deliver around 400 new affordable homes
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We're looking forward to engaging with the local community on our plans, which also include a variety of improvements for the local area, including a new public square and gardens and cycle parking"</div>
        <div class="quote-footer">
            <div class="quotee-name">Jonathan Cornelius</div>
            <div class="quotee-job-title">Head of Property Development, at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL&nbsp;has announced that it is working with A2Dominion to bring forward plans to deliver around 400 new affordable homes in Hounslow, details of which will be shared with the public later this week.</p>

<p>The proposals, which cover a 1.48 hectare site, have been designed by HKR architects and include the delivery of around 400 new affordable homes across four buildings. The homes will consist of 1, 2, 3 and 4 bedroom properties.</p>

<p>They will be a mixture of both shared ownership, which offers an affordable route into homeownership, and London Affordable Rent, which provides low-cost rented homes to support low-income households.</p>

<p>The rent levels for London Affordable Rent are set by the Mayor of London and are substantially below open market rents. The site is being designed with a sustainable focus and includes the planting of new trees and a range of biodiverse planting across the development.</p>

<h2>Improved pedestrian and cycling facilities</h2>

<p>The development will provide a range of benefits for the local community, including improved pedestrian and cycling facilities, such as cycle parking.</p>

<p>There will also be a new public square and gardens for the local community and around 1,400 sqm of retail space created, which will help support the wider local economy.</p>

<p>Being located directly next to Hounslow West Underground station, which is on the Piccadilly line, as well as a number of bus routes, the development will also enable new residents to easily travel across the capital using public transport.</p>

<p>The designs will ensure that the station's Grade II-listed ticket hall is preserved and kept at the centre of the proposals. The new station concourse, which will be built as part of the development, will also allow for improved step-free access via lifts to be provided in the future.</p>

<p><strong>Jonathan Cornelius, Head of Property Development, at TfL, said</strong>: 'We're excited to share our initial proposals to deliver hundreds of new affordable homes in Hounslow, working with A2Dominion.</p>

<p>'We're looking forward to engaging with the local community on our plans, which also include a variety of improvements for the local area, including a new public square and gardens and cycle parking.'</p>

<h2>TfL's housing programme</h2>

<p><strong>Danny Lynch, Director of Land and Director, A2Dominion, said</strong>: 'This scheme brings high-quality affordable housing to Hounslow West. It also retains the listed station building and provides new public streets and spaces.</p>

<p>'Hounslow is a very important borough for us, having provided homes in the area for over 70 years we have developed a very strong relationship with the council. Through schemes like this, we expect that relationship to strengthen further in the future.'</p>

<p>These proposals form part of TfL's housing programme, which will provide 10,000 homes across the capital as well as a commitment to deliver 50%&nbsp;affordable housing across all sites brought to the market since May 2016.</p>

<p>Work has already started on more than 1,300 homes in the capital, as the programme continues to build momentum.</p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>For more information about the plans, members of the public are invited to come to one of TfL's exhibition events. These will be hosted at Kingsway Banqueting Hall, 270-272 Bath Road, Hounslow, TW4 7DF (close by Hounslow West station). The dates and times are:&nbsp;
	<ul>
		<li>Thursday 27 February from 4pm to 8pm</li>
		<li>Saturday 29 February from 10am to 1pm at:</li>
		<li>More information about the project can be found by emailing by visiting the website: <a href="http://www.hounslowwestrenewal.co.uk/">hounslowwestrenewal.co.uk</a></li>
	</ul>
	</li>
	<li>The site incorporates a car park that consists of 420 publicly accessible parking spaces, as well as 10 spaces for blue badge holders. The proposals currently incorporate around 100 publicly accessible car parking spaces, including the re-provision of blue badge parking spaces</li>
	<li>A2Dominion has been selected to bring the sites forward using the Greater London Authority's 'London Development Panel 2' (LDP2)</li>
	<li>LDP2 enables TfL to bring forward sites forward with a partner who has a proven track record of delivering housing on public sector land. The GLA has contracted with 29 organisations who make up the LDP2:&nbsp;
	<ul>
		<li>A2Dominion; Be Living; Bellway; Berkeley Group; Barratt; Catalyst; Countryside Durkan; Engie Consortium (Engie, HUB and Delancey); Galliford Try; Hadley Property Group; Higgins; Hill; Hyde; Lendlease; London and Quadrant Housing Trust; Morgan Sindall Consortium (Morgan Sindall, Muse and Lovell); Native Land; Notting Hill Genesis; Optivo; Peabody; Pinnacle Group; Prospect House Consortium (Stanhope, Network Homes and Laing O'Rourke); Quintain; Redrow; Swan Igloo Consortium (Swan Housing Association and Igloo); Telford Homes; U+I; United Living</li>
	</ul>
	</li>
	<li>LDP2 replaces the first London Development Panel which expired in 2017. The panel will run for a period of four years, with the potential to extend by one year</li>
	<li>A2Dominion is a housing provider that is committed to improving people's lives through high quality homes and services. For more than 50 years, A2Dominion has played a role in helping communities by providing new homes and jobs. Providing affordable housing is at the heart of what they do &#45; 80 per cent of the 38,000 homes they manage are rented or shared-ownership</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/march">March</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2020-February-TfL and A2Dominion announce plans for hundreds of new affordable homes in Hounslow -->

 
 
        
        
            @{ViewBag.Description = "TfL and A2Dominion announce plans for hundreds of new affordable homes in Hounslow";}
        
        


 