


@{ViewBag.Title = "TfL to increase Penalty Charge Notice to help tackle congestion";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL to increase Penalty Charge Notice to help tackle congestion</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL to increase Penalty Charge Notice to help tackle congestion</h1>
        <div class="content-page-press-release">
        15 December 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL reinvests all income back into improving London's transport network
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We want to make London's street safer and healthier places that are less dominated by the car"</div>
        <div class="quote-footer">
            <div class="quotee-name">Paul Cowperthwaite</div>
            <div class="quotee-job-title">TfL's General Manager for Road User Charging</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL has confirmed plans to increase the Congestion Charge Penalty Charge Notice (PCN) from 2 January 2018, with a proposed rise for offences on TfL's road network to follow later in the year, subject to Secretary of State review.</p>
<p>The Congestion Charge has played an important role in reducing the number of vehicles in central London, and fines for not paying this charge encourage drivers to be compliant.</p>
<p>But in the past five years there has been a 12% increase in the number of motorists being issued with Congestion Charge PCNs.</p>
<h2>Encourage greater compliance</h2>
<p>The rise from around 1.3 million in 2011/12 to around 1.5 million in 2016/17 is a clear indicator that the effectiveness of the current PCN fine has reduced over time.</p>
<p>The increase, from &pound;65 to &pound;80 or &pound;130 to &pound;160 for late payment, follows a public consultation that received more than 7,400 responses. It is expected to encourage greater compliance and help to improve traffic.</p>
<p>Later this year, and subject to the required Secretary of State review, TfL is also proposing to increase PCNs for offences which take place on their road network.</p>
<p>More than a third of all London's traffic uses TfL's road network, often referred to as red routes, and vehicles that block roads, drive in bus lanes, park incorrectly or make banned turns, not only cause inconvenience to road users, but create hazards, particularly for pedestrians and cyclists.</p>
<p>By keeping these main routes clear, road danger, congestion, vehicle emissions and delays to bus passengers are reduced, ensuring that London remains an efficient, well-functioning global city.</p>
<h2>Improving London's transport network</h2>
<p>TfL reinvests all income received from PCNs back into improving London's transport network. This includes investing in maintenance, reducing danger on the road and transforming the Capital's streets into more attractive, accessible and welcoming places, in line with the Mayor's draft Transport Strategy.</p>
<p>TfL is also making it easier to pay the Congestion Charge with the new official TfL Congestion Charge app. The app, which launched this week, allows motorists to pay using a mobile device for the first time.</p>
<p>Users can pay the Congestion Charge and T-Charge much quicker than paying by phone or online, save vehicles and payment cards to their app and see if a postcode is in the Congestion Charge zone.</p>
<h2>Safer and healthier</h2>
<p>Paul Cowperthwaite, TfL's General Manager for Road User Charging, said: 'We want to make London's streets safer and healthier places that are less dominated by the car.</p>
<p>'Although the Congestion Charge has been effective in reducing the number of cars entering central London, weve seen a 12% increase in the number of motorists being issued with PCNs in the last five years.</p>
<p>This shows that the deterrent factor of the existing PCN has reduced over time. The new PCN level will help improve compliance and also encourage people to consider cheaper and more active alternative forms of travel.'</p>
<p><hr /></p>
<p><strong>Notes to Editors:</strong></p>
<ul>
    <li>The consultation ran from Monday 4 September to 10 November and the report is available: <a href="https://tfl.gov.uk/corporate/publications-and-reports/congestion-charge#_blank">tfl.gov.uk/corporate/publications-and-reports/congestion-charge</a></li>
    <li>The procedure for any highway authority to change the level of a PCN issued for contravening the rules of the road are covered in schedule 9 of the Traffic Management Act 2004. Once notified of the proposals, the Secretary of State has 28 days to object to the proposal</li>
    <li>Further information on how to pay the Congestion Charge: <a href="https://tfl.gov.uk/modes/driving/congestion-charge/auto-pay#_blank">tfl.gov.uk/modes/driving/congestion-charge/auto-pay</a></li>
    <li>The new TfL Congestion Charge app is available to download <a href="https://play.google.com/store/apps/details?id=tflonline.CongestionCharge...">here</a> for Android: and <a href="https://itunes.apple.com/us/app/tfl-congestion-charge/id1115214764?ls=1&amp;...">here</a> for iOS</li>
    <li>To review the Mayor's draft Transport Strategy: <a href="https://www.london.gov.uk/what-we-do/transport/our-vision-transport/draft-mayors-transport-strategy-2017#_blank">london.gov.uk/what-we-do/transport/our-vision-transport/draft-mayors-transport-strategy-2017</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-December-TfL to increase Penalty Charge Notice to help tackle congestion -->

 
 
        
        
            @{ViewBag.Description = "TfL to increase Penalty Charge Notice to help tackle congestion";}
        
        


 