


@{ViewBag.Title = "TfL Business Plan: investing to keep London moving";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL Business Plan: investing to keep London moving</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL Business Plan: investing to keep London moving</h1>
        <div class="content-page-press-release">
        13 December 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Five-year plan means continued investment to encourage greater use of public transport, walking and cycling and significantly improving the environment and air quality
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Alongside our continuing modernisation of the Tube, TfL fares will be frozen again this January, and we continue to take some of the boldest action of any city in the world greening up our transport network and improving air quality across the capital

 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Firm financial management keeps TfL on track to deliver an operating surplus by 2022/23 with net annual cost of operations reduced by more than &pound;1bn since 2015/16</li>
	<li>Delay to the opening of the Elizabeth line and a subdued economy means a cautious approach necessary to revenue forecasts&nbsp;</li>
	<li>Sustained Government funding needed to support the safe and reliable operation of the current transport network and to accommodate the city's growth</li>
</ul>

<p>Transport for London (TfL) has today published its draft five-year Business Plan covering the period from 2020/21 to 2024/25.</p>

<p>Alongside the Mayor's Transport Strategy, the draft plan will be considered by TfL's Finance Committee on 18 December. It sets out how transport will support sustainable growth, making the city a safer, greener and better place to live, work and visit.</p>

<p>Despite continued uncertainty in the economy, the plan shows very strong progress in reducing the net cost of TfL's operations. However, it is essential for there to be long-term certainty around Government investment in existing and new transport assets to ensure that services support the growing city. TfL's finances continue to be subject to substantial pressures as a result of the average &pound;700m a year reduction in Government funding for its day-to-day operations.</p>

<p>While passenger numbers on public transport have been slightly higher overall compared to last year, recent weeks have seen a notable softening in demand which could be linked to wider economic uncertainty. This affects long-term passenger trends and commercial income, meaning that revenue forecasts must remain cautious across the plan period.</p>

<p>Since last year's plan, Crossrail Limited has confirmed on 8 November 2019 that it needs further time to complete software development for the railway's signalling and train systems and for overall safety approvals on the line. As a result, the opening of the central section of the Elizabeth line will not occur in 2020 but will be as soon as practically possible in 2021. This has created significant additional capital investment and revenue pressures.</p>

<p>As announced at its Board meeting in November, between &pound;500m and &pound;750m in lost revenue needs to be absorbed in addition to the &pound;600m highlighted in last year's plan. This revenue shortfall is spread across the next four financial years and will be managed through further savings and by encouraging more people to use public transport.</p>

<p>TfL has gripped its costs, both in its own operations and through the supply chain. This has reduced the net annual cost of operations by more than &pound;1bn since 2015/16, while a range of improvements have continued to be delivered.</p>

<p>In the last year alone, the world-leading Ultra Low Emission Zone (ULEZ) was introduced in central London, peak-hour services were extended on the Victoria line and train frequencies increased on some London Overground lines. These improvements are contributing to operating income being forecast to be almost &pound;6bn in 2019/20, with passenger numbers expected to reach a record 4.37bn journeys a year by the end of the plan period.</p>

<p>TfL remains on track to generate an operating surplus by 2022/23, meaning that it will cover the cost of financing, maintaining, operating and renewing its transport network. This will help ensure it can manage debt and reduce borrowing levels. Throughout the plan period, significant investment will continue providing better, more frequent and accessible transport options. This investment includes:</p>

<ul>
	<li>Completing the signalling upgrade and increasing capacity by 33 per cent on the Circle, Hammersmith &amp; City, Metropolitan and District lines, delivering refurbished trains on the Central line and new, spacious state-of-the-art trains on the Piccadilly line. TfL will also continue to make the case for Government investment to replace the life-expired signalling system on the Piccadilly line, which it had to pause last year owing to a lack of certainty around Government funding. It remains TfL's intention to press ahead with this essential work as soon as funding is confirmed.</li>
	<li>Continuing the electrification of London buses, already the largest electric fleet in Europe, with more than 2,000 zero-emission buses by end of 2024/25. TfL will also work with bus operators to implement its world-leading Bus Safety Standard, including all new buses purchased from August 2019 having Intelligent Speed Assistance as standard.</li>
	<li>Reducing TfL's environmental impact through installing new solar panels on selected London Underground, DLR and tram depots to deliver more than 1.1 megawatts of power, and the continued retrofitting of lighting across the network to energy-efficient LEDs. TfL will also be increasing the amount of low-carbon energy supplied to its infrastructure which comes from renewable energy sources with an aim for its rail services to be 100 per cent carbon-free by 2030.</li>
	<li>Maintaining and upgrading existing core assets across the transport network to provide safe and reliable journeys. This includes replacing rails to offer customers a smoother, quieter ride, and maintaining lifts and escalators. New walk-through trains on the DLR will be delivered, increasing capacity on the lines and providing more frequent, direct services. Following a two-year pause, proactive renewal of roads and paving will also recommence with a focus on improving the experience for those walking, cycling or taking public transport.</li>
	<li>Supporting Crossrail Limited in the remaining and complex technical work necessary to allow the Elizabeth line to open. From Sunday 15 December this year, TfL Rail will begin running services to Reading from Paddington, with direct services between Heathrow from Paddington beginning in spring 2020. Construction continues around the clock in stations and tunnels on the rest of the Elizabeth line, with safety-critical systems now being installed and tested. The central section of the Elizabeth line will in 2020 undergo extensive trial running and testing to ensure it is safe and reliable and will open as soon as practically possible in 2021.</li>
	<li>Helping further to clean up London's toxic air by tightening the Low Emission Zone standards in October 2020 and, in October 2021, expanding the successful central London ULEZ - the toughest air quality standard of any city in the world - to cover the area within the North and South Circular Roads.</li>
	<li>Working with boroughs, investing in new high-quality cycle routes across London and working with local communities to improve high streets, making them safer and accessible to everyone. Delivering these schemes forms part of TfL's commitment to Vision Zero, which aims to eliminate death and serious injury from London's roads by 2041.</li>
	<li>Delivering 10,000 homes and two million sq. ft of commercial floor space across London, with 50 per cent of the homes being affordable.</li>
	<li>Introducing new services on the Northern line extension to Battersea and the Barking Riverside extension on the London Overground.</li>
</ul>

<p>TfL will also continue to make the case for future transport infrastructure to support the growth of London and support the wider South East region and the UK overall, such as Crossrail 2 and the Bakerloo line extension. Delivering these schemes would unlock hundreds of thousands of new homes and lead to cleaner air, better health, a more prosperous economy and real progress towards carbon neutrality, as well as better transport links.</p>

<p>While London has benefited from additional third-party funding for transport projects, such as being successful in bids from the Government's Housing Infrastructure Fund, TfL did not see any commitment in the 2019 Government spending round. This is now materially limiting long-term investment in the transport network.</p>

<p>Following the General Election, the Mayor and London's Transport Commissioner will be writing to the new Government to press the need to confirm the steady and sustained funding London needs to the benefit of the UK as a whole.</p>

<p>Mayor of London, Sadiq Khan, said:</p>

<p>'I am hugely proud of what we have achieved improving transport across London &#45; this is despite the ongoing economic uncertainty and the average reduction of &pound;700m per year in TfL's funding from central Government. Alongside our continuing modernisation of the Tube, TfL fares will be frozen again this January, and we continue to take some of the boldest action of any city in the world greening up our transport network and improving air quality across the capital.</p>

<p>'But London also needs a Government that recognises the importance of continued investment in new infrastructure for the future of our economy, and it is essential the new Government commits to working with us to deliver vital projects such as Crossrail 2 and the Bakerloo Line extension.'</p>

<p>London's Transport Commissioner, Mike Brown MVO, said:</p>

<p>'Since our formation in 2000, there has been enormous commitment and sustained investment to revitalise our transport network, supporting our city's economic growth. In this time of uncertainty, this Business Plan is focused on running safe and reliable services while investing to improve travel. But cities can only thrive if they benefit from steady, sustained funding in existing and new infrastructure. We are working urgently to secure this, and I will be writing to the Government to seek this investment to keep London and the country moving.'</p>

<p>A copy of the draft TfL Business Plan will be available to download here: <a href="https://tfl.gov.uk/corporate/publications-and-reports/finance-committee">https://tfl.gov.uk/corporate/publications-and-reports/finance-committee</a></p>

<hr />
<p>Notes to editors:</p>

<ul>
	<li>In November 2019, the TfL Board approved revised targets for 2019/20, which more closely aligned to the Quarter 2 forecasts for TfL's year-end position. These new targets have been reflected in the Business Plan and mean that TfL's net cost of operations is now forecast to be &pound;434m better than those previously forecast in its annual budget.<br />
	&nbsp;</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-December-TfL Business Plan: investing to keep London moving -->

 
 
        
        
            @{ViewBag.Description = "TfL Business Plan: investing to keep London moving";}
        
        


 