


@{ViewBag.Title = "TfL successfully prosecutes second utility company in seven days for mismanaging streetworks ";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL successfully prosecutes second utility company in seven days for mismanaging streetworks </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL successfully prosecutes second utility company in seven days for mismanaging streetworks </h1>
        <div class="content-page-press-release">
        01 July 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has successfully prosecuted telecommunications company Vodafone as part of its commitment to ensure road works are completed on time.</p>
<p>It is the 100th prosecution of a utility company since 2010 and is the second time in seven days TfL has successfully prosecuted a telecommunications company. British Telecom (BT) was ordered to pay more than &pound;8,000 for dangerous and disruptive roadworks on 22 June.</p>
<p>Vodafone's offence, which followed the completion of work in Tooting Bec on 7 and 8 January 2016, was for failing to serve a required statutory Streetworks notice.</p>
<p>The company also failed to pay a Fixed Penalty Notice issued by TfL after the stop notice was not served.</p>
<p>Vodafone pleaded guilty to the offence before Westminster Magistrates' Court on 29 June, and the company was fined &pound;1,250 and ordered to pay &pound;1,386.50 in prosecution costs.</p>
<p>Vodafone did not attend the hearing but in a letter to the court stated: &quot;We wish to further express our apologies for failings in this case. The company accepts that on this occasion it has not met the standard required of it and has therefore pleaded guilty at the first opportunity.&quot;</p>
<p>In passing sentence, the Judge said: `Vodafone has clearly recognised the issue in this case but I am aware TfL prosecuted the company only last year for offences similar in nature to the one in issue today. I take note of the early plea but nonetheless the fine must reflect Vodafone's overall conduct in this matter.'</p>
<p>Garrett Emmerson, TfL's Chief Operating Officer for Surface Transport, said: `This is the second time in 18 months Vodafone has been prosecuted for failing to provide required Streetworks notices. Not providing these notices in a timely manner impacts on our ability to successfully coordinate street works. We are committed to keeping London's roads as clear as possible preventing unnecessary traffic build up, which disrupts people's daily commute and worsens air quality. We will continue to push for the toughest penalties possible for utility companies caught acting unlawfully and are pleased that Vodafone themselves have recognised the need to improve.'</p>
<p>Vodafone was previously prosecuted for two similar offences on 28 January 2015 and ordered to pay a total of &pound;3,424.50.</p>
<p>Ends</p>
<p>Notes to Editors:</p>
<ul>
    <li>TfL has prosecuted Vodafone for two previous offences since 2015 and issued 73 Fixed Penalty Notices of which 33 were issued within the last year</li>
    <li>Since 2015, Vodafone has been ordered to pay a total of &pound;6,186 for failing to serve Streetworks notices</li>
    <li>Further information regarding the BT prosecution can be found here <a href="http://tfl.gov.uk/info-for/media/press-releases">tfl.gov.uk/info-for/media/press-releases</a></li>
    <li>Londoners can report disruptive or badly managed roadworks, as well as road defects such as potholes and damaged footpaths, by visiting reportit.tfl.gov.uk. Any enquiries received will be sent directly to the relevant Highway Authority (TfL or a London borough) responsible, ensuring that direct and fast action can be taken</li>
    <li>For more information about the wider work TfL is carrying out to keep London moving, please visit <a href="http://tfl.gov.uk/roads">tfl.gov.uk/roads.</a></li>
</ul>
<p>The below table sets out the number of times TfL has successfully prosecuted utility companies since 2010:</p>
<table>
    <thead>
    </thead>
    <tbody>
        <tr>
            <td style="vertical-align: top;">Company </td>
            <td style="vertical-align: top;">Number of prosecutions </td>
            <td>
            <p>Percentage of total prosecutions</p>
            </td>
        </tr>
        <tr>
            <td>British  Telecom</td>
            <td>37 </td>
            <td>37% </td>
        </tr>
        <tr>
            <td>Thames Water</td>
            <td>13</td>
            <td>13%</td>
        </tr>
        <tr>
            <td>Infocus</td>
            <td>11</td>
            <td>11%</td>
        </tr>
        <tr>
            <td>Virgin Media</td>
            <td>10</td>
            <td>10%</td>
        </tr>
        <tr>
            <td>Fulcrum</td>
            <td>9</td>
            <td>9%</td>
        </tr>
        <tr>
            <td>UK Power Network</td>
            <td>5</td>
            <td>5%</td>
        </tr>
        <tr>
            <td>National Grid Gas</td>
            <td>5</td>
            <td>5%</td>
        </tr>
        <tr>
            <td>Cable &amp; Wireless</td>
            <td>3</td>
            <td>3%</td>
        </tr>
        <tr>
            <td>Vodafone</td>
            <td>3 </td>
            <td>3% </td>
        </tr>
        <tr>
            <td>Abovenet</td>
            <td>2</td>
            <td>2% </td>
        </tr>
        <tr>
            <td>McNicholas (on behalf of Virgin Media)</td>
            <td>1</td>
            <td>1.1%</td>
        </tr>
        <tr>
            <td> O2</td>
            <td>1</td>
            <td>1.1%</td>
        </tr>
        <tr>
            <td> </td>
            <td>100</td>
            <td> </td>
        </tr>
    </tbody>
</table>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-July-TfL successfully prosecutes second utility company in seven days for mismanaging streetworks  -->

 
 


 