


@{ViewBag.Title = "TfL introduces new Friday and Saturday night bus services to support Night Tube";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL introduces new Friday and Saturday night bus services to support Night Tube</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL introduces new Friday and Saturday night bus services to support Night Tube</h1>
        <div class="content-page-press-release">
        17 August 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">

    <div class="article-teaser">
        Eight new services introduced to link with Night Tube
    </div>



<div class="pull-quote">
        <div class="quote-body">"The routes will go hand-in-hand with the Night Tube to help Londoners get to and from their front door throughout the night. It's another key step in helping everyone travel quickly and safely at night, and another boost to unlocking the full potential of our night time economy"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>Onward bus connections for Night Tube customers will be boosted when the new services launch on 19 August after TfL announced eight new 24-hour bus services.</p>
<p>The new 24-hour bus services will run on Friday and Saturday nights to complement the Night Tube and ensure customers travelling in the early hours of the morning have easy options to get home.</p>
<p>Night Tube services begin on the Central and Victoria lines on Friday and Saturday nights from 19 August, and at the same time the following bus routes will have 24-hour services for the first time:</p>
<ul>
    <li>
    34 (Barnet Church to Walthamstow Central)</li>
    <li>123 (Ilford High Road to Wood Green)</li>
    <li>145 (Leytonstone to Dagenham)</li>
    <li>158 (Stratford to Chingford Mount)</li>
    <li>296 (Ilford Broadway to Romford)</li>
    <li>E1 (Greenford Broadway to Ealing Broadway)</li>
    <li>W3 (Finsbury Park to Northumberland Park)</li>
    <li>W7 (Finsbury Park to Muswell Hill Broadway).</li>
</ul>
<h2>Transform our city</h2>
<p>The Mayor of London, Sadiq Khan, said: 'The Night Tube is going to transform our city as for the first time tube passengers will be able to travel swiftly across the Capital throughout the night.</p>
<p>'The safety and security of Londoners is vital, and it's why we've invested in new police officers on the Tube and it's why we're bringing in these brand new 24-hour bus services.</p>
<p>'The routes will go hand-in-hand with the Night Tube to help Londoners get to and from their front door throughout the night.</p>
<p>'It's another key step in helping everyone travel quickly and safely at night, and another boost to unlocking the full potential of our night time economy.'</p>
<h2>Make it easier</h2>
<p>The new services will run every 30 minutes throughout Friday and Saturday nights, other than the W7, which will run every 20 minutes. The enhancements follow the introduction of seven new night bus services already made in anticipation of the introduction of the Night Tube.</p>
<p>Mike Weston, TfL's Director of Buses, said: 'These additional 24-hour bus services will enhance our London-wide, night time bus network and complement the Night Tube, making it easier for our customers to get home in the early hours of the morning.</p>
<p>'This will enable customers to make the most of London at night and will in turn help to boost the Capital's vibrant and growing night-time economy.'</p>
<p>There are a total of 123 bus routes that operate overnight, of which 73 are 24-hour services and 50 are night bus routes.</p>
<h2>2.4 billion passengers</h2>
<p>The number of night bus services has increased significantly in recent years with passenger numbers more than doubling since 2000.  More than half the users are people travelling to or from work.</p>
<p>Ridership levels on all night bus services will be monitored to see how demand changes following the introduction of the Night Tube.</p>
<p>London has one of the most extensive and accessible bus networks anywhere in the world.  TfL's bus network comprises around 700 routes across Greater London, operated by 7,900 buses at peak times, carrying almost 2.4 billion passengers every year, which equates to half of all bus journeys made in England.</p>
<p>Since TfL was formed in 2000 it has invested strongly in London's bus network &#45; resulting in a 69% increase in passenger numbers.</p>
<hr />
<p><strong>Notes to Editors:</strong></p>
<ul>
    <li>
    London's night-time economy will open up to a host of new opportunities, with the Night Tube supporting around 2,000 permanent jobs and boosting the economy by &pound;360m</li>
    <li>From Friday 19 August Night Tube services will operate on the Victoria line with trains running on average every 10 minutes across the entire lines</li>
    <li>From this date services will also operate on the Central line with trains running approximately every 10 minutes between White City and Leytonstone and approximately every 20 minutes between Ealing Broadway to White City and Leytonstone to Loughton/ Hainault.  There will be no service between North Acton and West Ruislip, Loughton and Epping and Woodford and Hainault</li>
    <li>Previous improvements to night bus services that have been made in anticipation of the Night Tube are:</li>
</ul>
<ul>
    <li>A 24-hour service introduced on bus route 47 on all nights</li>
    <li>The re-routeing of the N1 via Evelyn St on all nights</li>
    <li>A new service introduced on the N199 on all nights</li>
    <li>Re-routeing the night service of the 188 via Canada Water Bus Station on all nights</li>
    <li>Re-routeing the N381 via Canada Water Bus Station on all nights</li>
    <li>The extension of the N133 (Liverpool Street to Streatham) to Morden Station.</li>
    <li>All-week, 24-hour services on the 222 (Hounslow to Uxbridge) and 238 (Stratford to Barking</li>
    <li>Weekend-only, 24-hour services on the 132 (North Greenwich to Bexleyheath), 154 (West Croydon to Morden), 486 (North Greenwich to Bexleyheath) and H37 (Hounslow to Richmond).</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-August-TfL introduces new Friday and Saturday night bus services to support Night Tube -->

 
 


 