


@{ViewBag.Title = "TfL to give customers better  information about their Tube journeys";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL to give customers better  information about their Tube journeys</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL to give customers better  information about their Tube journeys</h1>
        <div class="content-page-press-release">
        22 May 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Innovative pilot of collecting depersonalised Wi-Fi data in 2016 demonstrated how technology could be used to reduce crowding and prioritise transport investment
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The benefits this new depersonalised dataset could unlock across our network—from providing customers with better alerts about overcrowding to helping station staff have a better understanding of the network in near-real time — are enormous
 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Lauren Sager Weinstein</div>
            <div class="quotee-job-title">Chief Data Officer, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Secure, privacy-protected data collection will begin on 8 July 2019, with first customer benefits &#45; such as better alerts about delays and congestion within stations - expected later in the year</li>
	<li>Individual customer data will never be shared and customers will not be personally identified from the data collected by TfL</li>
	<li>TfL worked closely with the Information Commissioner's Office to ensure privacy concerns and transparency were actively considered and addressed</li>
</ul>

<p>Depersonalised Wi-Fi connection data will soon be used to help Transport for London (TfL) improve the information it provides to its customers on London Underground.</p>

<p>The depersonalised data collection, which will begin from 8 July 2019, will look to harness existing Wi-Fi connection data from more than 260 Wi-Fi enabled London Underground stations to understand how people navigate the network. This will then be used by TfL to provide better, more targeted information to its customers as they move around London, helping them better plan their route to avoid congestion and delays. The system, which has been developed in-house by TfL, will automatically depersonalise data, with no browsing or historical data collected from any devices.</p>

<p>Currently, TfL uses data from its ticketing system to understand how journeys are made across the network. While this is accurate for people entering and exiting the stations, this data cannot show the flow of movement through a station. Using depersonalised Wi-Fi data, will give a more accurate, almost real-time, understanding of the flow of people through stations or interchanging between services.</p>

<p>In 2016, TfL held a four-week long pilot to test Wi-Fi data collection technology across 54 stations within Zones 1-4. When a device has Wi-Fi enabled, it will continually search for a Wi-Fi network by sending out a unique identifier - known as a Media Access Control address &#45; to nearby routers as customers pass through stations. This trial collected these Wi-Fi connection requests, which were automatically depersonalised, and were then analysed by TfL's in-house analytics team to help understand where customers were at particular points of their journeys. More than 509 million depersonalised pieces of data, were collected from 5.6 million mobile devices making around 42 million journeys which revealed a number of results to TfL that could not have been detected from ticketing data or paper-based surveys. For example, analysis showed that customers travelling between King's Cross St Pancras and Waterloo take at least 18 different routes, with around 40 per cent of customers not taking one of the two most popular routes.</p>

<p>Since the pilot, TfL has been working to understand how this data could be usefully used to provide customers with new, more tailored information about their journeys &#45; both before they begin and while they are travelling. TfL also worked closely with key stakeholders and the Information Commissioner's Office to ensure privacy concerns and transparency were actively considered and addressed. Detailed digital mapping of all London Underground stations has also been undertaken to allow TfL to identify where Wi-Fi routers are located and to allow TfL to understand in detail how people move across the network and through stations.</p>

<p>Later this year, customers and TfL staff will begin to see the first benefits from this data, which could include:</p>

<ul>
	<li>Providing crowding data via the TfL website to help customers better plan their route across London;</li>
	<li>Incorporating crowding data into TfL's free open-data API, which could allow app developers, academics and businesses to further utilise the data for new products and services;</li>
	<li>Early warning via the TfL website and social media channels about congestion at ticket halls or platforms, which will allow customers to alter their route;</li>
	<li>Helping TfL station staff have the latest information to hand when they are giving customers assistance (particularly those with small children or with accessibility needs) as well as advising them about travel conditions on other parts of the network.</li>
</ul>

<p>As well as providing benefits to customers and staff, the data will also allow TfL to better understand customer flows throughout stations, highlighting the effectiveness and accountability of its advertising estate based on actual customer volumes. Being able to reliably demonstrate this should improve commercial revenue, which can then be reinvested back into the transport network.</p>

<p>Clear signage, based on TfL's signs on CCTV across the network, will shortly be installed across the London Underground network, ahead of the start of data collection, to inform customers and direct them to a web page with more information, including how data collected through this technology will be automatically depersonalised and securely stored. Following the start of collection on 8 July 2019, any customers who do not wish for their Wi-Fi connection data to be collected will need to turn Wi-Fi off on their devices in order to opt out.</p>

<p>Lauren Sager Weinstein, Chief Data Officer at Transport for London said:</p>

<p>'The benefits this new depersonalised dataset could unlock across our network—from providing customers with better alerts about overcrowding to helping station staff have a better understanding of the network in near-real time — are enormous. By better understanding overall patterns and flows, we can provide better information to our customers and help us plan and operate our transport network more effectively for all.</p>

<p>'While I am excited about the potential of this new dataset, I am equally mindful of the responsibility that comes with it. We take our customers' privacy extremely seriously and will not identify individuals from the Wi-Fi data collected. Transparency, privacy and ethics need to be at the forefront of data work in society and we recognise the trust that our customers place in us, and safeguarding our customers' data is absolutely fundamental.'</p>

<p>London's Chief Digital Officer, Theo Blackwell, said:</p>

<p>'TfL is a world leader in the use of data to improve services. Today nearly half of all Londoners use an app derived from TfL's open data feeds. Greater insight into how people use the Tube helps better transport planning but also enables the development of new apps to give customers further advance information about their planned journey in order to plan their best, and least congested route.'</p>

<p>Sue Daley, Associate Director Technology &amp; Innovation techUK, said:</p>

<p>'Using Wi-Fi technology to gain real-time insights into how we are traveling around London's transport system brings to life how data collection and analysis can make a real difference to people's everyday lives. It is also a great example of how different technologies, such as Wi-Fi, data analytics and sensors, can work together to help reduce overcrowding, increase service efficiency and provide customised information for travellers that will make our journeys and lives that little bit easier. &nbsp;</p>

<p>'The transparency shown by TfL around the data collection taking place and the steps taken to make customers aware of its purpose is welcome and should be seen as an example for others. If we are to realise the full potential and value of real-time data, it is vital that we bring the public on this journey and build a culture of data trust and confidence.'</p>

<p>For more information, please visit <a href="[ioID]#https://tfl.gov.uk/wifi-data-collection">https://tfl.gov.uk/wifi-data-collection</a>. To download the report from the 2016 pilot, please visit <a href="[ioID]#https://tfl.gov.uk/corporate/publications-and-reports/wifi-data-collection">https://tfl.gov.uk/corporate/publications-and-reports/wifi-data-collection</a></p>

<hr />
<p>Notes to editors:</p>

<ul>
	<li>Having proven the concept using the pilot data, TfL will shortly be undertaking connectivity systems testing prior to commencing data collection, to ensure the infrastructure connections will work when it starts collecting data. No analysis of data will be undertaken during this connectivity testing phase and no data will be retained.</li>
	<li>Further work will also be required once data collection begins to ensure the solutions work on the whole network and at the pace that would make it most useful for our customers, in near real time.</li>
	<li>Information about the four-week pilot, including the list of London Underground stations covered by the pilot, is available at <a href="[ioID]#https://tfl.gov.uk/corporate/publications-and-reports/wifi-data-collection">https://tfl.gov.uk/corporate/publications-and-reports/wifi-data-collection</a></li>
	<li>In October 2017, analysis by Deloitte showed that the provision of free open data by TfL, which powers over 675 apps and is accessed by thousands of developers, is helping London's economy by up to &pound;130m a year - <a href="[ioID]#https://tfl.gov.uk/info-for/media/press-releases/2017/october/tfl-s-free-open-data-boosts-london-s-economy">https://tfl.gov.uk/info-for/media/press-releases/2017/october/tfl-s-free-open-data-boosts-london-s-economy</a></li>
	<li>Graphics from the pilot report are available from TfL Press Office, please contact 0343 222 4141</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-May-TfL to give customers better  information about their Tube journeys -->

 
 
        
        
            @{ViewBag.Description = "TfL to use depersonalised Wi-Fi data collection technology to give customers better, more accurate information about their Tube journeys";}
        
        


 