


@{ViewBag.Title = "TfL names new Managing Director of London Underground";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL names new Managing Director of London Underground</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL names new Managing Director of London Underground</h1>
        <div class="content-page-press-release">
        19 April 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">

    <div class="article-teaser">
        The former leader of the public transport network in the Australian state of Victoria has been named as the new Managing Director of London Underground.
    </div>



<div class="pull-quote">
        <div class="quote-body">"We look forward to welcoming Mark Wild, who will help us continue the vital modernisation of London's transport network"</div>
        <div class="quote-footer">
            <div class="quotee-name"> Mike Brown MVO</div>
            <div class="quotee-job-title">London's Transport Commissioner,</div>
        </div>
</div>

 <div class="on-this-page">
<p>Mark Wild will join Transport for London (TfL) in June, leaving his current role as Special Advisor to the Minister and Secretary of The State Government of Victoria. Until recently he has been the Chief Executive of Public Transport Victoria, the integrated transport authority based in Melbourne serving a population of some 6 million people.</p>
<p>His near 30 year career in transport has included running the world's biggest tram network and large suburban railway and bus services.  He has also successfully managed large capital and maintenance programmes, vastly improved customer satisfaction and implemented a complex new ticketing system. He also formerly worked on a number of major projects in London, including the introduction of modern signalling on the Jubilee and Victoria lines.</p>
<p>London's Transport Commissioner, Mike Brown MVO, said: </p>
<p>'We look forward to welcoming Mark Wild, who will help us continue the vital modernisation of London's transport network. With our city's population rising sharply we need to continue to drive forward change and deliver new and better services so that we can support London's new homes, jobs and economic growth.</p>
<p>'I would also like to pay tribute to Nick Brown, our departing interim Managing Director. He has made a remarkable contribution to London Underground at a crucial time. Operational performance and customer service have been significantly improved, and he has led a fundamentally different and positive approach to engaging staff, stakeholders and trade unions to bring about real change. We wish him well in his next role.'</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>London Underground's Finance Director, Andrew Pollins, will act as interim Managing Director of London Underground until Mark Wild starts his role at TfL in June.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-April-TfL names new Managing Director of London Underground -->

 
 


 