


@{ViewBag.Title = "TfL sets out next steps for walking and cycling improvements between Wood Lane and Notting Hill Gate";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL sets out next steps for walking and cycling improvements between Wood Lane and Notting Hill Gate</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL sets out next steps for walking and cycling improvements between Wood Lane and Notting Hill Gate</h1>
        <div class="content-page-press-release">
        05 November 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Proposals to add protected cycle space, new pedestrian crossings and upgraded public spaces would create a safer and more appealing street environment
        
    </div>



 <div class="on-this-page">
<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">TfL has set out the next steps for improvements in west London between Wood Lane and Notting Hill Gate, which would make the area a more pleasant place to be and make it much easier and safer for people to get around on foot and by bike.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">In May, TfL invited people to have their say on the proposals. They included:</span></span></p>

<ul>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">New and upgraded pedestrian crossings</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Public space improvements along the route to create more welcoming streets for people and communities to enjoy</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Safe two-way segregated cycle track throughout</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Some changes to bus stops and safe new bus stop bypasses for cyclists at all stops</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Making some side roads entry or exit only to help the safe and timely movement of traffic</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Removal of some trees in Notting Hill Gate and two trees on Holland Park Avenue to accommodate the facilities with new trees planted nearby</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Changes to parking and loading bays and hours of operation</span></span></span></li>
</ul>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">More than 5,000 people responded to the consultation. Of those who provided a view, over 70 per cent thought that the proposals would enable more people to walk, with 58 per cent saying the same about cycling. A majority of people responding also believed that the changes would reduce the number of private car journeys in the area.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The proposals are a vital part of the Mayor's Transport Strategy, which aims to clean up toxic air and boost Londoners' health by enabling more people to walk, cycle and use public transport. They would also add vital new cycling infrastructure to the area allowing people to travel safely, as part of the Mayor's Vision Zero goal of eliminating death and serious injury on London's transport network.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">TfL has published a consultation report which sets out its response to issues raised during the consultation.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The London Borough of Hammersmith &amp; Fulham has made it clear that they support the proposals, and TfL is now working with the borough to finalise its plans for this part of the scheme.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The Royal Borough of Kensington &amp; Chelsea responded to the consultation with a statement which explained they could not support the proposals in their current form, highlighting several areas of concern. The borough also made clear that there were several aspects of the proposals that it potentially would support and would be open to discussing the scheme further with TfL.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">TfL has developed a series of potential improvements that could be made to its proposals in Kensington &amp; Chelsea, which it believes would satisfy the concerns raised in consultation and these proposed revised designs would protect the majority of the trees along the route. TfL has carried out some high-level design work showing how 20 of the 25 trees that were originally proposed to be removed could be retained.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">TfL has had initial discussions with the borough regarding these potential improvements and will now widen the discussions to include local residents' groups, businesses and other organisations. TfL will set out its proposed way forward for the scheme within the borough after these discussions.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Will Norman, London's Walking and Cycling Commissioner, said: </strong>&quot;There has been a fatality and a number of serious injuries on this stretch of road over recent years, so these proposals are about keeping Londoners safe and saving lives. I'm really pleased that the consultation has shown such strong support for the plans, with a clear majority of people understanding the difference they will make enabling more walking and cycling, and making the area safer for everyone.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">&quot;TfL is continuing to work with Kensington and Chelsea on the details of the plans to ensure they are the very best they can be, and they will continue to ensure the views of all residents are taken on board.&quot;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Gareth Powell, TfL's Managing Director of Surface Transport, said:</strong> &quot;Our proposals between Wood Lane and Notting Hill Gate would make a real difference to everybody in the area, making streets much safer, more pleasant and more welcoming place to be. We'll continue speaking to local people about our proposed changes and I look forward to agreeing a scheme which works for everyone.&quot;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Clare Rogers, Community Outreach Worker for central London at London Cycling Campaign, said</strong>: &quot;The route along Wood Lane to Notting Hill has long been a hot spot for fatalities and serious injury to pedestrians and cyclists. These new proposals are a much needed safety improvement for everyone already using the route, and will make it easier and safer for many more people to walk and cycle and to leave their cars at home - cutting air pollution, congestion and carbon emissions.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">&quot;The results of this consultation demonstrate that Londoners agree the proposals will improve conditions for walking and cycling. With amendments now proposed to the plans, to take into account concerns raised, we look forward to Kensington &amp; Chelsea's councillors, businesses and residents working with TfL to deliver these vital cycle safety improvements.&quot;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">TfL and the Mayor are committed to expanding the capital's cycle network at pace and significantly increasing the proportion of Londoners who live within 400 metres of it. TfL has doubled the amount of protected space for cyclists since 2016 and is on course to triple this by May 2020.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">In 2018, the Mayor's Vision Zero, Walking and Cycling Action Plans set out ambitious targets for eliminating death and serious injury from London's roads and becoming the best city in the world for walking and the best big city for cycling. These plans will ensure safer streets and a high standard for walking and cycling routes, which will significantly increase the number of people walking and cycling as well as reduce road danger, congestion and air pollution.</span></span></p>

<p><span style="font-size:12.0pt">The expansion of London's walking and cycling network continues to enable millions more journeys to be cycled or made on foot every week. New 2018 data shows that cycling in London is at record levels with the average daily total distance cycled exceeding 4million kilometres for the first time. Construction on major new routes between Tower Bridge Road and Greenwich and Acton and Wood Lane is underway. TfL is also currently inviting people to have their say on another route between Lea Bridge and Dalston and work will commence on a new Cycleway between Kensington Olympia and Brentford later this year.</span></p>

<p><span style="font-size:12.0pt">The full consultation report is available on the TfL website at <a href="https://consultations.tfl.gov.uk/roads/wood-lane-notting-hill/" style="text-decoration: none;">https://consultations.tfl.gov.uk/roads/wood-lane-notting-hill/</a></span></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-November-TfL sets out next steps for walking and cycling improvements between Wood Lane and Notting Hill Gate -->

 
 
        
        
            @{ViewBag.Description = "TfL sets out next steps for walking and cycling improvements between Wood Lane and Notting Hill Gate";}
        
        


 