


@{ViewBag.Title = "TfL announces new walking and cycling improvements in west London";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL announces new walking and cycling improvements in west London</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL announces new walking and cycling improvements in west London</h1>
        <div class="content-page-press-release">
        25 July 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL's plans would see neighbourhoods between Brentford and Kensington Olympia connected by a safer walking and cycling route
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It was absolutely right that TfL took the time to work with the councils to ensure everyone's response to the consultation were looked at properly, ensuring the proposed scheme is the very best it can be. I'm delighted that we are on course for work to begin on the route later this year"</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL has set out the next steps for walking and cycling improvements in West London, which include a new 7km cycle route and new pedestrian crossings.</p>

<p>These changes will transform safety for people walking and cycling and enable thousands more people to make every day journeys on foot and by bike.</p>

<p>The plans, which would connect neighbourhoods between Kensington Olympia and Brentford Town Centre, were supported by a majority of people responding to the consultation.</p>

<p>In response to issues raised during this consultation, in January 2019 TfL invited people to have their say on&nbsp;improvements to the design at two locations along the route.</p>

<p>This feedback has been used to make further changes to the design at the Duke Road and Duke's Avenue junctions with Chiswick High Road, including:</p>

<ul>
	<li>Keeping the eastbound approach to the junction of Duke's Avenue at two lanes, rather than reducing this to one</li>
	<li>Reducing the cycle track width from 3m to 2.5m outside Our Lady of Grace and St Edward's church to provide space for two traffic lanes on the eastbound approach to the junction of Duke's Avenue. This would improve traffic capacity at this junction, whilst maintaining pavement&nbsp;space outside the Church</li>
	<li>Introducing weight restrictions on the exit movement from Duke's Avenue to Chiswick High Road, rather than making the road entry only, and introducing weight restrictions on the access to Duke's Avenue from the A4.&nbsp;This is in response to concerns raised during consultation about&nbsp;rat running through local roads. Space constraints on the exit of Duke's Avenue mean that large vehicles will not be able to make the turn onto Chiswick High Road safely</li>
</ul>

<p>TfL will be moving forward with the designs for Kew Bridge and Kew Bridge Road to Wellesley Road as proposed during consultation.</p>

<p>Construction work is proposed to begin later in 2019*. TfL is also working with Hammersmith and Fulham Council on their proposals for a new cycle route along part of the A4.</p>

<p>London's Walking and Cycling Commissioner, Will Norman, said: 'Getting more people walking and cycling as part of their everyday routine has huge benefits for our health and wellbeing, and we know there is a high demand for more cycling in this part of west London.</p>

<p>'It was absolutely right that TfL took the time to work with the councils to ensure everyone's response to the consultation were looked at properly, ensuring the proposed scheme is the very best it can be. I'm delighted that we are on course for work to begin on the route later this year.'</p>

<p>David Hughes, TfL's Director of Investment Delivery Planning, said: 'We know that there are many people across west London who would love to improve their health and do their bit for the environment by walking and cycling more often, but are put off by intimidating roads which don't protect people on foot or bike.</p>

<p>'Our plans will create safer and healthier streets, as well as improving the environment and making it more attractive for residents and visitors. I'd like to thank everybody who took part in our consultation for their feedback on our proposals to reduce road danger in the area.'</p>

<p>Cllr Stephen Cowan, Leader of the London Borough of Hammersmith &amp; Fulham, said:&nbsp;'We listened to residents, and will be working with TfL and a residents' advisory group to introduce a Safer Cycle Pathway that will&nbsp;complement the streetscape along King Street and&nbsp;Hammersmith Road.</p>

<p>'We've also secured initial funding to investigate a Cycle Highway that could run along the A4 and be more suitable for the faster cycle&nbsp;commuter. This is an important investment from the Mayor of London.</p>

<p>'Together, we're determined to improve our streetscape and deliver healthier streets that are better for pedestrians and cyclists of all ages and abilities. This is an&nbsp;important part of our&nbsp;approach to improving&nbsp;our environment for all.'</p>

<p>Councillor Hanif Khan, Cabinet Lead for Transport at Hounslow Council, said: 'The council is supportive of improvements to cycle facilities between our town centres and central London.&nbsp;This specific proposal is to be considered at the meeting of the council's Cabinet on 3 September.'</p>

<p>Hammersmith Mums for Lungs group, said: 'Mums for Lungs is pleased to see TfL leading on redesigning our streets in favour of walking, cycling and scooting. It is sending a clear message that car journeys are impacting on the health of our children, and should be reduced.'</p>

<p>Recent TfL research has highlighted the economic benefits of walking and cycling to town centres, with infrastructure improvements such as new cycle routes leading to increased retail spending of up to 30%.</p>

<p>The new route would also enable more people across west London to choose walking, cycling and public transport for their journeys, as TfL and the Mayor work to tackle the health problems caused by the capital's toxic air.</p>

<p>TfL and the Mayor are committed to expanding the capital's cycle network at pace and increasing the proportion of Londoners who live within 400 metres of the cycling network to 28% by 2024, up from 9%.</p>

<p>TfL has doubled the amount of protected space for cyclists since 2016 and is on course to triple this by 2020.</p>

<p>Jeremy Leach, Chair London Living Streets, said: 'London Living Streets is pleased to see these plans continuing to move forward.</p>

<p>'Where high-quality cycling infrastructure has been created in London, there have also been big wins for people on foot through less car dominated streets, lower vehicle speeds and improved crossing facilities and more public space.</p>

<p>'Cycleway 9 is a vital new link in west London and we are looking forward to it creating safe routes for cycling and improved facilities for people on foot.'</p>

<p>In 2018, the Mayor's Vision Zero and Walking and Cycling Action Plans set out ambitious targets for eliminating death and serious injury from London's roads and becoming the best city in the world for walking and the best big city for cycling.</p>

<p>These plans will ensure safer streets and a high standard for walking and cycling routes, which will significantly increase the number of people walking and cycling as well as reduce road danger, congestion and air pollution.</p>

<p>One year on from the launch of the Vision Zero Action Plan victims of road collisions are speaking out about the devastation they have experienced, to coincide with Vision Zero Week which runs until the 28 July.</p>

<p>Vision Zero Week is also highlighting the work underway by TfL, the Met and City of London Police to achieve Vision Zero, as well as the commitment of many other delivery partners, including London's boroughs, campaign groups, bus operators and industry groups.</p>

<p>The expansion of London's walking and cycling network continues to enable millions more journeys to be cycled or made on foot every week.</p>

<p>New 2018 data shows that cycling in London is at record levels with the average daily total distance cycled exceeding four million kilometres for the first time.</p>

<p>Construction on major new routes between Tower Bridge Road and Greenwich and Acton and Wood Lane is underway and TfL is also currently inviting people to have their say on another route between Dalston and Clapton.</p>

<hr />
<p>Notes to editors</p>

<ul>
	<li>*Subject to the remaining stages of decision-making process, construction work on the route could now begin later in 2019</li>
	<li>The consultation report is available on the TfL website at tfl.gov.uk/consultations</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/49463">August</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-July-TfL announces new walking and cycling improvements in west London -->

 
 
        
        
            @{ViewBag.Description = "TfL announces next steps for new walking and cycling improvements in west London";}
        
        


 