


@{ViewBag.Title = "TfL works with Ordnance Survey to reduce disruption from vehicles striking bridges ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL works with Ordnance Survey to reduce disruption from vehicles striking bridges </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL works with Ordnance Survey to reduce disruption from vehicles striking bridges </h1>
        <div class="content-page-press-release">
        09 October 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Verified, free to use, data on height restrictions of tunnels and bridges now available to enhance safety and help vehicles avoid unnecessary collisions that impact drivers and rail passengers
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I encourage all freight operators to use this data to ensure their systems are consistently accurate, helping drivers and their vehicles avoid unnecessary collisions, which can impact both drivers and rail passengers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Emily Herreras-Griffiths</div>
            <div class="quotee-job-title">Travel Demand Management Interim Programme Director at Transport for London</div>
        </div>
</div>

 <div class="on-this-page">
<p>Freight and fleet operators can now access better information about height restrictions for tunnels and bridges across London, thanks to Ordnance Survey permitting TfL to release a new free to use dataset.</p>

<p>The free to use dataset, available to access via <a href="https://tfl.gov.uk/info-for/open-data-users/our-open-data#_blank">https://tfl.gov.uk/info-for/open-data-users/our-open-data</a>, will provide freight and delivery operators, as well as developers and academics, more detailed information about height restrictions on low bridges, tunnels and barriers across London roads.</p>

<p>The data will cover all bridge structures within the Greater London boundary / M25 and will see structures grouped into five specific groups. These bridges can suffer from strikes by oversized vehicles, such as HGVs or cranes, despite signage on the approaches.</p>

<p>Releasing the data will allow fleet operators to ensure that vehicles of certain heights are not diverted under the structures incorrectly, potentially causing significant structural damage and delays. Analysis by TfL suggests that, on average, there are at least two bridge strikes a month across London.</p>

<p>Bridge strikes can be dangerous and not only cause delays to road users, but also to people traveling on Tube or rail services which often run across them.</p>

<p>On 7 August this year, TfL was alerted to a vehicle strike on a 4.8m rail bridge in Old Street, which carries the East London line.</p>

<p>While the road was only closed for around 20 minutes while the structure was assessed by engineers for damage, London Overground services were impacted for around two and a half hours.</p>

<p>This led to additional and unnecessary disruption for thousands of commuters which could have been easily avoided.</p>

<p>Both TfL and Ordnance Survey hope that the new free to use data will enable freight operators in London and across the UK to better route high vehicles away from these structures across the capital, reducing the chances of impact and saving money in avoidable structural repairs.</p>

<p>The release of data forms part of TfL's continuing work to keep the capital moving and make the city's roads safer places for everyone and complements previous data releases.</p>

<p>These include average traffic speeds and expected journey times along key traffic corridors, as well as information on the London Lorry Control Scheme and real-time road incidents and planed disruption due to roadworks or events.</p>

<h2>Mayor's Smart London Board</h2>

<p>The release of data supports the wider work of the Mayor's Smart London Board, which advises the Mayor on implementing new digital technologies across London's infrastructure, utilities and public services, as well as shapes the vision for London's smart cities agenda.</p>

<p>Emily Herreras-Griffiths, Travel Demand Management Interim Programme Director at Transport for London, said: 'Every day, millions of road freight deliveries are made across London, and yet, in this digitally connected age, it is still alarming how often bridge strikes can occur.</p>

<p>'Our Vision Zero policy means that we are determined to reduce road and rail danger wherever it occurs. For many years, we have brought together the road freight industry to tackle many issues and I'm delighted that we have been able to work with Ordnance Survey to provide a 'single source of data' for bridge heights across London.</p>

<p>'I encourage all freight operators to use this data to ensure their systems are consistently accurate, helping drivers and their vehicles avoid unnecessary collisions, which can impact both drivers and rail passengers.'</p>

<p>John Kimmance, Ordnance Survey Director of Government and Partner Engagement, said: 'Every day the public and private sector are using OS MasterMap Highways data to make better decisions about Britain's road network.</p>

<p>'From reducing carbon emissions and fuel costs through route optimisation, to improving road safety and congestion levels, Ordnance Survey data is an essential source information when maintaining a safe and efficient transport infrastructure.</p>

<p>'We are excited to see how the height data, being released by Transport for London, will be used to further improve road safety levels and minimise disruption across London's roads and rail network.'</p>

<h2>Supporting the wider economy</h2>

<p>Every day, millions of freight deliveries are made across London, supporting the wider economy of the city and carrying everything from office and building supplies to groceries and deliveries to retail across the city.</p>

<p>The increase in online shopping in recent years has meant that lorries and vans currently account for around one fifth of road traffic in London, and about a third of road traffic in central London during the morning peak.</p>

<p>To allow London's businesses to continue to receive the goods and services they need to flourish, while ensuring that London's streets become better places for people, all aspects of freight and servicing must be actively managed in an integrated way.</p>

<p>The Mayor's Transport Strategy, published in March 2018, looks for TfL, local borough and the freight and servicing industry to limit the adverse impact of deliveries and reduce the number of lorries and vans entering central London in the morning peak by 10% by 2026.</p>

<p>Guidance and toolkits to help businesses better plan and retime their deliveries to avoid the busiest periods in London are available online at <a href="https://tfl.gov.uk/freight#_blank">https://tfl.gov.uk/freight</a>. Last year, TfL also published Cycle Freight Guidance, which will provide boroughs with best practice recommendations and ways to overcome the barriers to cycle freight. TfL also recently announced the winners of its inaugural competition to find the best cargo bikes for sustainable business deliveries and family trips.</p>

<p>For more information about how TfL is working to improve freight deliveries across London, visit <a href="https://tfl.gov.uk/freight#_blank">www.tfl.gov.uk/freight</a></p>

<hr />
<p><strong>Notes to editors</strong></p>

<p>The full range of Freight and servicing toolkits available to businesses includes:</p>

<ul>
	<li>TfL's Personal Deliveries and Waste Consolidation Toolkits which can help businesses reduce the deliveries and servicing trips</li>
	<li>TfL's Retiming Toolkit, which encourages businesses to think about retiming their deliveries and servicing trips. So far, the award winning toolkit has removed more than 160,000 deliveries annually from peak times to less congested times, as well as establishing a retiming deliveries consortium with prominent industry partners</li>
	<li>The Water Freight Toolkit highlights the options for transporting freight by boat, showing wharves and jetties along the Thames and London's canal system which are suitable for freight</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-October-TfL works with Ordnance Survey to reduce disruption from vehicles striking bridges  -->

 
 
        
        
            @{ViewBag.Description = "TfL works with Ordnance Survey to help reduce unnecessary traffic disruption from vehicles striking bridges across London";}
        
        


 