


@{ViewBag.Title = "TfL and the police join forces to combat hate crime";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL and the police join forces to combat hate crime</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL and the police join forces to combat hate crime</h1>
        <div class="content-page-press-release">
        16 October 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL and the police launch over 200 joint events across London as part of National Hate Crime Awareness Week
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It's great that Transport for London and the police are joining forces and reaching out to communities around the capital during National Hate Crime Awareness Week, working to ensure everyone feels safe travelling on our transport network."</div>
        <div class="quote-footer">
            <div class="quotee-name">Sophie Linden</div>
            <div class="quotee-job-title">Deputy Mayor for Policing And Crime</div>
        </div>
</div>

 <div class="on-this-page">
<p>Transport for London (TfL) and the Capital's police will join forces for a series of over 200 community engagement events across London in support of National Hate Crime Awareness Week.</p>
<p>The activity will begin on Monday 16 October with police officers, TfL staff and representatives from TellMAMA, a reporting service for victims of anti-Muslim hate crime.</p>
<p>Officers will visit communities in East London to stress the importance of reporting hate crime and to reassure them that London's public transport system is safe and welcoming for all. Officers will also pay individual visits to the East London Mosque, Stratford bus station and travel on a route 25 bus between Whitechapel and Stratford.</p>
<p>London's network remains a safe low-crime environment, but reports of hate crime offences have increased as more people feel confident to speak out about incidents. Between April and June 2017, reports of hate crime on increased by 25 per cent compared with the same period last year (822 reports compared to 655).</p>
<p>Last year, TfL, British Transport Police (BTP), Metropolitan Police (MPS) and City of London Police (COLP) launched Operation Safer Travel for All and the #WeStandTogether campaign, which aims to reassure the travelling public that the network is safe and to encourage anyone who experiences this type of behaviour to report it, so action can be taken against offenders.</p>
<p>Sophie Linden, Deputy Mayor for Policing And Crime said: </p>
<p>'Hate crime of any kind has no place in London, and the Mayor has been clear that the Met police should take a zero-tolerance approach to it. We all need to work together to tackle these awful crimes, so its great that Transport for London and the police are joining forces and reaching out to communities around the capital during National Hate Crime Awareness Week, working to ensure everyone feels safe travelling on our transport network.</p>
<p>'We continue to work with the Met, communities, schools and local authorities to drive down these crimes, and are investing in improved services for victims of hate crime. I encourage Londoner's to get involved in National Hate Crime Awareness Week, and urge anyone who witnesses or suffers this abusive behaviour both online and in person to report it so we can take action, support victims and bring perpetrators to justice.'</p>
<p>Steve Burton, Director of Enforcement and On-Street Operations, said: </p>
<p>'Hate crime has no place in the Capital, and public transport is no exception. By speaking to local communities we want to reassure people that public transport is safe and welcoming for all. Every report of hate crime will be taken seriously and fully investigated.'</p>
<p>Detective Superintendent Adnan Qureshi from the Met's Roads and Transport Policing Command, said: </p>
<p>'We are committed to tackling hate crime in all its forms, whether it is on the streets, in the community or on the transport network. Hate crime remains largely under reported and we stand together with policing partners, colleagues and groups to investigate all hate crime allegations, support victims and their families and bring perpetrators to justice.'</p>
<p>Nozmul Hussain, Chief Executive Officer of the East London Mosque Trust, said: </p>
<p>'Every so often, a member of our congregation can find themselves being abused on London's transport network, and we want to send a clear message, that you do not have to be afraid and that you can report incidents discreetly to the police. The Mosque and Centre is also a third party hate crime reporting site working in partnership with Tower Hamlets council, if somebody wants to report hate crime, he or she can do so through us.</p>
<p>'London represents one of the most diverse capital cities in the world, and we will never tolerate those that seek to divide us through hatred and bigotry we will always stand united.'</p>
<p>People can report an incident discreetly by texting 61016 from a mobile phone (for Tube and rail incidents) or by calling 101. In an emergency they should call 999.</p>
<p>For anyone who feels uncomfortable speaking to the police about a Hate Crime incident, they can visit <a href="http://report-it.org.uk">report-it.org.uk</a> where reports can be submitted anonymously.</p>
<p>Anti-Muslim incidents can also be reported at: Tell MAMA on 0800 456 1226, WhatsApp 0734 184 6086 or at <a href="http://tellmamauk.org">tellmamauk.org</a>.</p>
<p>For Anti-Semitic incidents, CST can be called on 0208 457 9999 or reported at <a href="http://cst.org.uk">cst.org.uk</a></p>
<hr />
<p>Additional information:</p>
<ul>
    <li>Media are welcome to join for the community day of action on Monday 16 October at the following locations:</li>
</ul>
<ul>
    <li><strong>East London Mosque &amp; London Muslim Centre</strong> (82-92 Whitechapel Rd, London E1 1JQ) 12:00-12:30. A spokesperson from the Mosque will be available for interviews.</li>
    <li><strong>Route 25 bus</strong> (from Whitechapel to Stratford Bus Station) 12:30-13:00. Travel and engagement on the bus with BTP and MPS officers.</li>
    <li><strong>Stratford Bus Station</strong> (Great Eastern Road, Newham E15 1BB) 13:00-14:00. Spokespeople from TfL, Met Police and BTP will be available for interviews.</li>
</ul>
<ul>
    <li>More National Hate Crime Awareness Week (NHCAW) events can be found on the <a href="https://www.google.com/maps/d/viewer?mid=1spn_XxFVsZ7u-PnRpwaifcAkDkw&amp;ll=55.56591408140889%2C-2.9568404500000724&amp;z=6">NHCAW events map</a></li>
    <li>Photos from the community day of action will be available from <a href="https://www.flickr.com/photos/tflpress/">TfLs Flickr page</a></li>
    <li>For TfLs annual crime bulletin, visit: <a href="https://tfl.gov.uk/corporate/publications-and-reports/crime-and-incident-bulletins">https://tfl.gov.uk/corporate/publications-and-reports/crime-and-incident-bulletins</a></li>
    <li>TfL funds over 3,000 police and police community support officers dedicated to policing the transport network. These officers work in partnership with thousands of frontline transport staff to help keep passengers and staff safe.</li>
    <li>The increase in reports of hate crime was anticipated following the launch of Operation Safer Travel for All and #WeStandTogether alongside the Capitals police in July 2016, which has given people the confidence to report these crimes. The increase reflects national and London-wide trends in reports of hate crime.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-October-TfL and the police join forces to combat hate crime -->

 
 
        
        
            @{ViewBag.Description = "TfL and the police join forces to combat hate crime on London transport";}
        
        


 