


@{ViewBag.Title = "TfL sets out measures to tackle bus driver fatigue";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL sets out measures to tackle bus driver fatigue</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL sets out measures to tackle bus driver fatigue</h1>
        <div class="content-page-press-release">
        28 August 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL sets out measures to tackle bus driver fatigue as it publishes world-first research into the issue
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"With the co-operation of bus operators and drivers, we can make London's bus network ever better and safer than it is today
"</div>
        <div class="quote-footer">
            <div class="quotee-name">Heidi Alexander</div>
            <div class="quotee-job-title">Deputy Mayor for Transport</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>TfL will create a new &pound;500,000 fund for bus operators to initiate a range of pioneering solutions</li>
	<li>Publication of groundbreaking research confirms Unite the Union's concerns about fatigue and allows industry to deliver evidence-led response</li>
	<li>Latest step in a series of improvements for bus drivers delivered by the Mayor over the past three years</li>
</ul>

<p>Tough measures have been unveiled by Transport for London (TfL) to improve road safety by tackling bus driver fatigue. World-first research, published today, provides more information for the industry to act to achieve TfL's ambition of no deaths or serious injuries on London's roads.</p>

<p>The study was commissioned by TfL in response to Unite the Union's work to highlight the complex issue, and conducted by Loughborough University and the Swedish National Road and Transport Research Institute (VTI). Key measures announced as a result include commitments that:</p>

<ul>
	<li>Rigorous fatigue risk management systems will be required for any company to operate London buses under new contracts next year</li>
	<li>TfL will ensure that all managers in bus garages have undertaken fatigue training</li>
	<li>TfL will make &pound;500,000 available to help operators undertake further work to establish the most effective interventions to reduce fatigue</li>
	<li>All rosters will be reviewed by operators against best practice to reduce the risk of fatigue</li>
	<li>TfL and operators will ensure driver representatives are given the opportunity to be trained in fatigue</li>
	<li>There will be a greater focus on the health and wellbeing of drivers</li>
	<li>TfL will foster a more open and honest culture across the industry</li>
</ul>

<p>The Mayor has delivered a series of improvements for bus drivers over the past three years. In December 2016 Sadiq announced a package of improvements including a new starter minimum wage of &pound;23,000 for drivers working across all of London's bus companies. Last year he introduced the 'Licence for London', which allows drivers to fairly move between bus companies at a pay grade equivalent to their level of service and experience. He has also allocated &pound;6m of funding to deliver permanent toilets for the capital's bus drivers along routes which currently only have facilities with limited access or opening hours.</p>

<p>The new report provides more evidence for TfL's Bus Safety Programme, which has targeted issues identified by collision data and aims to deliver immediate improvements to road safety. This study provides new information to help address the risk of collisions. Although the report authors have not suggested that there is a single solution, they did conclude that better partnership working between TfL, bus operators and bus drivers will deliver an even safer bus network.</p>

<p>Claire Mann, Director of Bus Operations at TfL, said:</p>

<p>'We launched our Bus Safety Programme to eliminate death or serious injury involving buses from our roads. Collision data has so far helped us deliver a safety-focused training course for all drivers and newly designed safer buses.</p>

<p>'This report builds on the issues that Unite the Union raised, and allows the whole industry to go one step further. With the evidence from this study, we will require bus operators to have fatigue risk management systems and more formal fatigue training for managers. We're also working with the bus operators and Unite to create a programme to gather ideas for how we can further respond to the report. It is through working together across the industry that we can address this vital issue and make our buses lead the way when it comes to reducing risk on the roads.'</p>

<p>The required fatigue risk management systems will assess fatigue and provide processes for managing and reporting it if it occurs, with the ultimate goal of fatigue reduction. These systems will help to develop an open and honest culture and make it easier for future improvements to be made. TfL, the operators and Unite will work together to identify the best possible system.</p>

<p>The new &pound;500,000 fund will be open for applications from bus operators shortly. This fund is intended not just for trialling new technology but to come up with innovative solutions to change the safety culture within bus garages and increase the focus on driver health and wellbeing.</p>

<p>Heidi Alexander, Deputy Mayor for Transport, said:</p>

<p>'Unite was entirely right to push for this research and I am pleased that TfL was the first organisation in the world to commission this type of study. The actions set out by TfL today in response to the research are the start and not the end of the work that they will do to address bus driver fatigue and I am confident that, with the co-operation of bus operators and drivers, we can make London's bus network ever better and safer than it is today.'</p>

<p>The report highlights that drivers' health and wellbeing is key and that adequate welfare facilities reduce stress, which in turn reduces the risk of fatigue. TfL will require operators to confirm that all drivers have access to suitable welfare facilities in all future contracts. This builds on TfL's commitment to improve driver welfare, for example by ensuring that all routes have driver toilets available throughout operational hours. Additionally a 'health bus' will be launched in September, which will visit all bus garages to provide health and wellbeing advice and support for all bus staff.</p>

<p>TfL will ensure that all managers in bus garages are trained in an appropriate fatigue management course, and that this is a training requirement for new managers moving forward.</p>

<p>All operators will assess the risk of fatigue associated with their rosters by reviewing them against best practice, using automated systems. This will allow the whole industry to minimise fatigue at source rather than simply monitoring it.</p>

<p>The study is the first in the world to assess drivers while they are driving in-service buses and combine this data with detailed sleep diaries. It also included group discussions with drivers and discussions with managers. A voluntary survey of drivers found that one in five of those drivers who responded reported having fatigue-related issues more than once a week while driving. This research is helping ensure the measures to tackle it are evidence-led.</p>

<p>Dr Ashleigh Filtness, Lecturer in Transport Safety at Loughborough University, said:</p>

<p>'In this work we used a number of different methods, including survey, discussion groups, interviews and the first ever fatigue on-road study conducted on a live bus route, to try and understand fatigue for London bus drivers. Approximately one fifth of survey respondents reported fatigue, which is similar to what has previously been observed in Sweden, recognising that fatigue is an important issue for bus drivers. Overall, a variety of both work and home-life factors were found to contribute towards fatigue. Some potential solutions for inclusion in a holistic approach, emphasising shared responsibility across the industry, have been proposed.'</p>

<p>TfL hopes this pioneering evidence will spark discussions at a national level. It has shared the report with stakeholders who have a key role to play in addressing road safety, such as the Department for Transport, the Traffic Commissioner, the Health and Safety Executive, the Confederation of Passenger Transport and the Urban Transport Group.</p>

<hr />
<p>Notes to Editors:</p>

<ul>
	<li>The Bus Driver Fatigue Report can be found here: <a href="[ioID]#https://tfl.gov.uk/corporate/publications-and-reports/bus-safety-data">https://tfl.gov.uk/corporate/publications-and-reports/bus-safety-data</a></li>
</ul>

<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/49467">September</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-August-TfL sets out measures to tackle bus driver fatigue -->

 
 
        
        
            @{ViewBag.Description = "TfL sets out measures to tackle bus driver fatigue as it publishes world-first research into the issue";}
        
        


 