


@{ViewBag.Title = "TfL brings rhythm to the night with new Night Tube guitar in conjunction with Fender&reg;";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL brings rhythm to the night with new Night Tube guitar in conjunction with Fender®</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL brings rhythm to the night with new Night Tube guitar in conjunction with Fender®</h1>
        <div class="content-page-press-release">
        02 December 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">



 <div class="on-this-page">
<p>London's 24 hour Tube services are to be celebrated in musical style, with the Night Tube map featuring on 15 limited edition Fender Stratocaster&reg; guitars.</p>
<p>The American Standard guitar displays the map of the Night Tube's five lines against a dark blue starry sky background. They will be on sale at London Transport Museum from early December, just in time for the start of Night Tube services on the Piccadilly line on December 16.</p>
<p>The collection of guitars includes an extra special version signed by Rolling Stones legend, Ronnie Wood. The guitar will be auctioned later this month, with proceeds going to The Railway Children - a charity that works to help children alone and at risk on the streets, across the UK, India and East Africa.</p>
<p>To celebrate the release of The Rolling Stones' first studio album in over a decade, 'Blue &amp; Lonesome', Londoners were treated today to a morning of blues music. Young and aspiring musicians from ELAM (East London Arts &amp; Music) College took  over busking spots to perform blues music at five stations; King's Cross, Leicester Square, Piccadilly Circus, Green Park and Knightsbridge.</p>
<p>The collaboration between TfL and Fender underlines the important role that music and the night economy play in London and the way in which transport supports the music industry. The Night Tube serves some of the UK's most iconic music venues including, the O2, the 100 Club, Camden Roundhouse and Wembley Stadium.</p>
<p>Fender EMEA Managing Director, Graeme Mathieson said: `The Stratocaster&reg; and the London Tube map are both iconic symbols of London's cultural heritage, so we are proud to be collaborating with Transport for London in bringing these two design classics together.`</p>
<p>Mark Wild, Managing Director of London Underground, said: `It is really great to see that TfL designs continue to be used in new and intriguing ways by companies like Fender. The Night Tube guitar collaboration, and the fact that music giants The Rolling Stones used our network to launch their new album, underlines the connection between the Underground and London's important music scene. The Night Tube will deepen this connection, helping many thousands of people each weekend get back from gigs, boosting London's night time economy.'</p>
<p>The Night Tube guitars priced at &pound;1,499 inc. VAT will be available to order and buy at London Transport Museum, visit -  <a href="http://www.ltmuseumshop.co.uk">www.ltmuseumshop.co.uk</a></p>
<p>Notes to Editors</p>
<ul>
    <li>Last year Fender&reg; created a set of limited edition guitars to honour the iconic Tube map, designed by Harry Beck in the 1930s.</li>
    <li>To download pictures of the special edition Stratocaster&reg; guitar visit - <a href="https://www.flickr.com/photos/tflpress/albums/72157673341988324/with/30563308893/">https://www.flickr.com/photos/tflpress/albums/72157673341988324/with/30563308893/</a></li>
    <li>An instrument at the very heart of Fender, the American Standard Stratocaster is built with the very essence of great Stratocaster tone, phenomenal feel and peerless performance. The U.S.-made flagship of the Stratocaster line-up is as beautiful as it is functional. This is the go-to Strat model—the latest iteration of a time-honoured classic crafted for those who appreciate and aspire to pure Fender style and quality.</li>
    <li>More information on the auction will be available soon at https://www.railwaychildren.org.uk</li>
    <li>Blue &amp; Lonesome' will be released by Polydor on Friday 2nd December and features The Stones' interpretation of twelve blues songs. </li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-December-TfL brings rhythm to the night with new Night Tube guitar in conjunction with Fender® -->

 
 


 