


@{ViewBag.Title = "TfL and Barratt announce plans for hundreds of new affordable homes in Wembley Park";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020">2020</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL and Barratt announce plans for hundreds of new affordable homes in Wembley Park</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL and Barratt announce plans for hundreds of new affordable homes in Wembley Park</h1>
        <div class="content-page-press-release">
        28 January 2020
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL will work with Barratt London to deliver around 450 new homes, with 50% affordable housing, in Wembley Park
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Following our very positive experience working with Barratt London on Blackhorse View in Waltham Forest, we look forward to engaging with people in Brent and hearing their feedback on our plans to help tackle the housing crisis and provide improvements for the local community"</div>
        <div class="quote-footer">
            <div class="quotee-name">Jonathan Cornelius</div>
            <div class="quotee-job-title">Head of Property Development</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL&nbsp;has established a joint venture partnership with Barratt London and will be sharing their proposals this week to deliver around 450 new homes, with 50%&nbsp;affordable housing, in Wembley Park.</p>

<p>The proposals, which cover a 1.6-acre site, have been designed by TateHindle architects and include the delivery of around 450 new homes across five buildings. The homes will be a mixture of studio, one, two and three-bedroom properties.</p>

<p>The affordable homes will be offered as a combination of shared ownership and rented property to households on low income with prices based on social rent levels.</p>

<p>The proposals will also provide new commercial space and public realm improvements for the local community. The site is located within the Wembley Growth Area, which seeks to provide at least 11,500 new homes and approximately 10,000 new jobs by 2026.</p>

<h2>Sustainable transport</h2>

<p>The development's location will enable new residents to travel across the capital easily using public transport as it is situated next to Wembley Park London Underground station, which is serviced by both the Jubilee and Metropolitan lines, as well as a number of bus routes.</p>

<p>The proposals will also include the provision of cycle parking to support travel by more sustainable modes of transport.</p>

<p><strong>Jonathan Cornelius, Head of Property Development, at TfL, said:</strong>&nbsp;'It is fantastic to be working with Barratt London on this opportunity to deliver hundreds of high-quality new homes in Wembley, with 50%&nbsp;affordable housing, as well as providing a range of improvements to the area for the local community.</p>

<p>'Following our very positive experience working with Barratt London on Blackhorse View in Waltham Forest, we look forward to engaging with people in Brent and hearing their feedback on our plans to help tackle the housing crisis and provide improvements for the local community.'</p>

<h2>Fantastic enhancement</h2>

<p><strong>Matt Calladine, Regional Land and Development Director, Barratt London, said:</strong>&nbsp;'The site at Wembley Park station is an important development site in the context of the wider Wembley regeneration area.</p>

<p>'We are looking forward to working closely with TfL, the London Borough of Brent and local stakeholders to ensure the delivery of high-quality homes and mixed-use accommodation, that will be a fantastic enhancement to the local area.'</p>

<p>These proposals form part of TfL's housing programme, which will provide 10,000 homes across the capital as well as a commitment to deliver 50%&nbsp;affordable housing across all sites brought to the market since May 2016.</p>

<p>Construction has already started on more than 740 homes in the capital and will start imminently in Kidbrooke which will provide more than 600 further homes, as the programme continues to build momentum.</p>

<hr />
<p><strong>Additional Information</strong></p>

<ul>
	<li style="margin:0cm 0cm 0.0001pt">
	<p><span style="font-size:12px">For more information about the plans, members of the public are invited to come to one of TfL's exhibition events. These will be hosted at Burrows House, NCP Wembley Park, Underground Station, Car Park, Brook Avenue, Wembley HA9 9AA. The dates and times are: </span></p>

	<ul style="list-style-type:circle">
		<li style="margin:0cm 0cm 0.0001pt">
		<p><span style="font-size:12px">Wednesday 29 January - 4.00pm to 9.00pm</span></p>
		</li>
		<li style="margin:0cm 0cm 0.0001pt">
		<p><span style="font-size:12px">Thursday 30 January - 4.00pm to 8.00pm</span></p>
		</li>
		<li class="CxSpMiddle">
		<p><span style="font-size:12px">More information about the project can be found by emailing <u style="text-decoration:underline"><a href="mailto:brookavenue&#64;fourcommunications.com" style="text-decoration: underline;">brookavenue&#64;fourcommunications.com</a></u>, by calling 020 3907 8994 or by visiting the website (including images) that will go live at the time of the first exhibition: <u style="text-decoration:underline"><a href="http://www.brookavenuedevelopment.com/" style="text-decoration: underline;">http://www.brookavenuedevelopment.com/</a></u> </span></p>
		</li>
	</ul>
	</li>
	<li class="CxSpMiddle">
	<p><span style="font-size:12px">The level of affordable housing is calculated by habitable room.</span></p>
	</li>
	<li class="CxSpMiddle">
	<p><span style="font-size:12px">The site incorporates a car park that consists of 80 publicly accessible car parking spaces, including two motorcycle spaces, as well as twelve spaces for blue badge holders. Blue badge parking spaces will be re-provided as part of the proposals.</span></p>
	</li>
	<li class="CxSpMiddle">
	<p><span style="font-size:12px">The proposals also continue to provide space for TfL frontline staff, which is required to keep the transport network moving.</span></p>
	</li>
	<li class="CxSpMiddle">
	<p><span style="font-size:12px">TfL appointed Barratt London through its Property Partnership Framework. TfL launched the Property Partnership Framework in 2016. This provides a ready pool of partners eligible to bid to work with TfL in joint ventures as sites become available. You can find out more by visiting: <u style="text-decoration-line:underline"><a href="https://clicktime.symantec.com/3YFLu2iZzXBqQzT85ifB8BQ6H2?u=https%3A%2F%2Ftfl.gov.uk%2Finfo-for%2Fbusiness-and-commercial%2Fproperty-development" style="text-decoration-line: underline; text-decoration-color: initial;">https://tfl.gov.uk/info-for/business-and-commercial/property-development</a></u></span></p>
	</li>
	<li class="CxSpMiddle">
	<p><span style="font-size:12px">Barratt London is the market-leading residential developer in the capital. They design, build and sell large, complex residential-led developments tailored to the needs of their customers and stakeholders, as well as local boroughs and communities. They are committed to delivering an exceptional quality development that creates real benefits for the local community. Barratt London is part of Barratt Developments PLC, the UK's largest housebuilder. For more information, visit <u style="text-decoration-line:underline"><a href="https://clicktime.symantec.com/3MRSsy8GdsaXw6Bqx1jZHoC6H2?u=http%3A%2F%2Fwww.barrattlondon.com" style="text-decoration-line: underline; text-decoration-color: initial;">www.barrattlondon.com</a></u></span></p>
	</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/february">February</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2020-January-TfL and Barratt announce plans for hundreds of new affordable homes in Wembley Park -->

 
 
        
        
            @{ViewBag.Description = "TfL and Barratt announce plans for hundreds of new affordable homes in Wembley Park";}
        
        


 