


@{ViewBag.Title = "TfL offers weekend of free Santander Cycles access to celebrate sixth anniversary";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL offers weekend of free Santander Cycles access to celebrate sixth anniversary</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL offers weekend of free Santander Cycles access to celebrate sixth anniversary</h1>
        <div class="content-page-press-release">
        09 August 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">

    <div class="article-teaser">
        Using code 'FREE2016' Londoners will get unlimited journeys up to 30 minutes free of charge
    </div>



<div class="pull-quote">
        <div class="quote-body">"I hope that this free weekend of cycling gets even more people enjoying cycling, encouraging Londoners to make it part of their everyday lives"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan </div>
            <div class="quotee-job-title">Mayor of London </div>
        </div>
</div>

 <div class="on-this-page">
<p>To celebrate six years of helping people discover London by bike TfL and Santander are making Santander Cycles free to use for the weekend of August 13 and 14.</p>
<p>For the first time a shareable code will be publicised which, when entered into the Santander Cycles app or docking station terminal, will provide free access to the cycles with all journeys up to 30 minutes completely free.</p>
<p>The code will be valid from 00:00 on Saturday August 13 to 23:59 on Sunday August 14.</p>
<h2>Quick, easy and healthy</h2>
<p>Since the launch of London's cycle hire scheme in July 2010 more than 52 million journeys have been made on the cycles, which give Londoners and visitors a quick, easy and healthy way to get around the Capital.</p>
<p>The scheme has grown from 6,000 bikes to 11,500 bikes and there are now more than 785 docking stations with 21,083 docking points across London &#45; covering from Camden Town in the north to Battersea in the south and from Stratford in the east to Shepherd's Bush in the west.</p>
<p>The sixth anniversary comes as Santander Cycles celebrates both a record-breaking weekend and month for hires. The weekend of July 30 and 31, when Prudential RideLondon was held, saw an unprecedented 92,527 hires, beating the previous record from May this year of 89,833.</p>
<p>July saw a record 1,188,428 bikes hired, beating the previously highest month of July 2014 when 1,183,182 bikes were hired.</p>
<h2>Huge success</h2>
<p>Mayor of London Sadiq Khan said: 'Our cycle hire scheme here in London has been a huge success, with record numbers now using the bikes.</p>
<p>'The scheme has played an important role in encouraging people of all ages and backgrounds to cycle and it has allowed Londoners and tourists to get around the Capital and see new parts of our great city.</p>
<p>'I hope that this free weekend of cycling gets even more people enjoying cycling, encouraging Londoners to make it part of their everyday lives.'</p>
<p>Paul Cowperthwaite, TfL's General Manager of Santander Cycles, said: 'For six years, London's cycle hire scheme has been making life easier for Londoners and visitors wanting to get around the city.</p>
<p>'It has also encouraged many people to take up cycling for the first time. To mark this, we're pleased to be able to offer a free weekend and encourage new users to try out the scheme.</p>
<p>'Santander Cycles is one of the easiest ways to make short journeys around London and its popularity continues to grow with a record 92,000 hires on the last weekend of July.</p>
<p>'We are committed to growing the scheme further and making it even easier for Londoners and visitors to jump on a bike and explore London.'</p>
<h2>Very special</h2>
<p>Keith Moor, Chief Marketing Officer, Santander UK, said: 'There really is something very special about exploring London on a Santander Cycle and for this weekend, it's also free!</p>
<p>'It's another example of the excitement we have brought to the scheme and gives people the opportunity to see and experience London in a different light.'</p>
<p>The official Santander Cycles app, which was updated last month to improve customer experience, has also made the scheme more accessible. It has been downloaded 235,000 times and currently 8% of all Santander Cycles hires are made through the app.</p>
<p>To find your nearest Santander Cycles docking station or to become a member, visit <a href="https://tfl.gov.uk/modes/cycling/santander-cycles?cid=santandercycles">www.tfl.gov.uk/santandercycles</a></p>
<hr />
<p><strong>Notes to Editors:</strong></p>
<ul>
    <li>The shareable code for the Santander Cycles Free Weekend will be usable for the weekend of August 13 and 14 only</li>
    <li>Any journey over 30 minutes will continue to be charged at normal rates, and a debit or credit card will be needed unless the user is a registered customer</li>
    <li>In an additional promotion, between 12-21 August 2016, customers who post a photo of themselves to Twitter or Instagram wearing sunglasses with, or on, a Santander Cycles with the hashtag #SantanderCycles will be automatically entered into a prize draw for the chance to win one of 66 fantastic prizes, including a stay at the award-winning Shangri La at The Shard, a Michelin star dinner or lunch and a helicopter over London. Full terms and conditions will be published at <a href="http://www.santander-products.co.uk/cycles/">www.santander.co.uk/cycles</a> from 12 August</li>
    <li>Santander Cycles has been hosting spinning classes across the Capital this summer, putting an extra twist on cycling for leisure. The final series of classes will be held at The Scoop at London Bridge Festival from 17-20 August. No registration is required and classes are free. For more information visit <a href="http://www.santander-products.co.uk/cycles/">www.santander.co.uk/cycles</a></li>
    <li>Santander Cycles can be hired from as little as 2 a day for unlimited number of 30 minute journeys. Regular users can register for annual membership, which equates to 25p per day and get the same unlimited number of journeys up to 30 minutes each without paying anything more</li>
    <li>The Santander Cycles app is available for both IOS and Android devices, from the Apple Store and Google Play</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-August-TfL offers weekend of free Santander Cycles access to celebrate sixth anniversary -->

 
 


 