


@{ViewBag.Title = "TfL and the Mayor announce more fully-electric bus routes to cut toxic emissions";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL and the Mayor announce more fully-electric bus routes to cut toxic emissions</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL and the Mayor announce more fully-electric bus routes to cut toxic emissions</h1>
        <div class="content-page-press-release">
        05 July 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Routes 46, 153 and 214 will be converting to electric from next year, boosting London's extensive network of clean buses &#45; the largest of any major world city
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These three new fully electric bus routes will make a real difference cleaning up the air in busy parts of central London, and are another step along the way to fulfilling my ambition of making all London's buses zero emission by 2037"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL and the Mayor of London, Sadiq Khan, have announced three more electric-only bus routes &#45; the latest in a series of bold measures to tackle London's toxic air.  The routes being converted to fully electric buses are:</p>
<ul>
    <li>Route 46: Paddington to St. Bartholomew's Hospital via King's Cross</li>
    <li>Route 153: Finsbury Park to Moorgate via Angel</li>
    <li>Route 214: Highgate Village to Moorgate via Camden</li>
</ul>
<p>The 56 new buses will be built in the UK in a partnership between British manufacturer ADL and Chinese company BYD, and the routes will be fully electric by mid-2019.</p>
<h2>Largest electric bus fleet in Europe</h2>
<p>London already boasts the largest electric bus fleet in Europe with more than  2,500 hybrid electric buses running across the Capital.</p>
<p>The addition of new fully electric buses on routes 46, 153 and 214 will bring the total number of electric buses in London to over 170.</p>
<p>This includes route 360, which will convert to fully electric buses later this year, and routes 70 and C1 are set to follow in spring 2018.</p>
<p>Just last week, the Mayor announced a new &pound;86.1m programme to cut harmful emissions from London's existing bus fleet.</p>
<h2>Cutting pollution</h2>
<p>Around 5,000 buses &#45; more than half of the fleet &#45; are set to be upgraded to meet the latest ultra-low Euro VI emissions standard, cutting pollution by up to 95%.</p>
<p>The Mayor also set out in his draft Transport Strategy that by 2037 at the latest, all 9,200 buses across London will be zero emission.</p>
<p>The electric routes are part of a major transformation the Mayor has asked TfL to deliver to reduce emissions from London's bus fleet.</p>
<p>Other innovative measures to clean up the capital's bus fleet include the phasing out of diesel-only buses and a commitment to purchase only hybrid or zero-emission double-decker buses from 2018.</p>
<h2>Determined to improve air quality</h2>
<p>Mayor of London, Sadiq Khan, said: 'London's buses have been one of the biggest contributors to harmful pollution coming from our transport network, and I'm proud that we continue to take some of the boldest action of any city in the world to clean up our bus fleet.</p>
<p>'These three new fully electric bus routes will make a real difference cleaning up the air in busy parts of central London, and are another step along the way to fulfilling my ambition of making all London's buses zero emission by 2037.</p>
<p>'We've already opened the first of our 12 Low Emission Bus Zones, and we'll only be procuring hybrid or zero-emission double-decker buses from 2018.</p>
<p>'London's air quality is a direct cause of illness and premature death across our city, and TfL will continue to lead the way tackling our air pollution crisis head-on.'</p>
<p>Christine Lovett, Chief Executive of the Angel Business Improvement District, said: 'Electric buses fit perfectly with our cleaner air agenda at Angel &#45; we are determined to improve air quality for everyone who lives and works here.</p>
<p>'Route 153 goes right through the heart of Angel and we all appreciate TfL's efforts to tackle toxic air.'</p>
<h2>Great step forward</h2>
<p>Kay Buxton, Executive Director at The Paddington Partnership, said: 'Paddington is synonymous with transport heritage, the first Underground and bus journeys began here, Brunel and now Crossrail have continued that innovation.</p>
<p>'The Mayor of London's announcement that Route 46, one of the Paddington's most cherished bus routes, will be fully-electric reinforces the ethos of the area.</p>
<p>'Improving air quality and reducing pollution are cornerstones to future-proofing Paddington and we are proud that Route 46 will play a role in achieving this.'</p>
<p>Simon Pitkeathley, Camden Town Unlimited Chief Executive, said: &quot;We're delighted to see the Mayor's brave efforts to tackle air quality issues further. I take the 214 bus regularly myself, and it's significant to see it transferred to electric-only. At Camden Town Unlimited, we are acutely aware of the effects of pollution and the need for drastic measures. This is a great step forward for London.&quot;</p>
<p>TfL's Managing Director of Surface Transport, Leon Daniels, said: 'Electric buses produce zero exhaust pipe emissions and with less noise and fewer vibrations, they offer a more comfortable ride for our customers.</p>
<p>'We're looking forward to introducing more of them across London and will continue to do all we can to improve air quality in our city.'</p>
<h2>Mayor's commitment</h2>
<p>Colin Robertson, CEO of Alexander Dennis Limited (ADL), said: 'The ADL/BYD partnership goes from strength to strength.</p>
<p>'We're pleased to be delivering vehicles which not only respond to the stringent operational requirements set by TfL, but improve air quality and passengers' on-board experience.'</p>
<p>Isbrand Ho, Managing Director at BYD Europe, said: `We are delighted with the Mayor's decision to convert three more routes to pure electric buses. This is a real vote of confidence in the strength of the BYD/ADL partnership. The first fleet we supplied in London has performed well and now Londoners will benefit from more of our zero pollution and cost effective electric buses.'</p>
<p>In 2016, routes 507 and 521 became central London's first fully electric routes, part of the Mayor's commitment to have 300 zero-emission single-decker buses serving the centre of London by 2020.</p>
<p>Other measures to green the Capital's bus fleet include:</p>
<ul>
    <li>Making sure all double-decker buses operating in the central Ultra Low Emission Zone comply a year earlier by 2019, meaning each of the 3,100 double-deck buses operating in the zone will be Euro VI Standard</li>
    <li>Expanding the ULEZ retrofit programme to up to 3,000 buses outside the central zone by 2020 (up from 800) and to 4,200 by 2020 (more than 5,000 in total)</li>
    <li>Procuring only hybrid or zero-emission double-decker buses from 2018</li>
    <li>The introduction of 12 Low Emission Bus Zones, operational by 2020, that will see NOx emissions along particular routes fall by more than 80%</li>
</ul>
<p>In March, TfL opened the first of 12 Low Emission Bus Zones on Putney High Street, where only buses meeting the toughest emission standards are permitted to run.</p>
<p>With the addition of even greener buses to the fleet, bus customers can help to reduce emissions while reducing congestion on London's roads.</p>
<p>Travelling on buses in London represents very good value for money, with a single fare costing &pound;1.50. Since the introduction of the 'Hopper' fare in September last year, passengers can change onto another bus or tram for free within one hour of touching in.</p>
<p>&nbsp;</p>
<hr />
<p><strong>Notes to editors</strong></p>
<ul>
    <li>Routes 46, 153 and 214 will become the seventh, eighth and ninth electric bus routes in London, following the conversion of routes 312, 507, 521, 360, 70 and C1</li>
    <li>Route 46 is operated by Metroline from Holloway Bus Garage. Routes 153 and 214 will be operated by Go-Ahead from Northumberland Park Garage</li>
    <li>London currently has more than 2,500 hybrid electric buses, representing around 25% of the fleet</li>
    <li>In addition, there are eight zero-emission hydrogen buses operating on route RV1 (Covent Garden to Tower Gateway) and TfL is trialling inductive charging technology which enables diesel-electric hybrid buses to charge their batteries wirelessly while they wait at bus terminals</li>
    <li>TfL has also accelerated the introduction of ultra-low emission Euro VI buses with more than 1,500 in service</li>
</ul>
<p>A poll of 1,000 Londoners found that 88% think air pollution is a big problem, with 66% citing air quality as bad in their local area and 72% calling on ministers to do more. Top line results and data tables are available on London Datastore: <a href="https://data.london.gov.uk/dataset/gla-poll-results/resource/b4d39130-e74f-4d2c-99d8-620cd24b3510/download">https://data.london.gov.uk/dataset/gla-poll-results/resource/b4d39130-e74f-4d2c-99d8-620cd24b3510/download</a></p>
<p>British bus and coach builder Alexander Dennis Limited (ADL) is at the forefront of pioneering low and zero emission technologies, from the most modern and cleanest diesel solutions, to hybrid, CNG powered biogas and full electric.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-July-TfL and the Mayor announce more fully-electric bus routes to cut toxic emissions -->

 
 
        
        
            @{ViewBag.Description = "TfL and the Mayor announce more fully-electric bus routes to cut toxic emissions";}
        
        


 