


@{ViewBag.Title = "The world's greatest festival of cycling returns to the capital this weekend";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">The world’s greatest festival of cycling returns to the capital this weekend</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>The world’s greatest festival of cycling returns to the capital this weekend</h1>
        <div class="content-page-press-release">
        23 July 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Prudential RideLondon, the world's largest mass participation festival of cycling, will return to London and Surrey this weekend and Transport for London (TfL) is encouraging Londoners to make the most of traffic-free streets.</p>
<p>Prudential RideLondon is now in its sixth year and there will be a wide range of events taking place across both Saturday and Sunday. The FreeCycle event on Saturday will see a family-friendly eight-mile traffic-free circuit, passing iconic London landmarks such as Buckingham Palace and St. Paul's Cathedral, open to cyclists of all ages and abilities. Free festival zones with music and entertainment will be open at seven locations along the route and bike doctors will be on hand in case of any technical problems. Rides led by an experienced cycle guide will be travelling to the event from every London borough, making it even easier to get to central London to take part. Last year, more than 70,000 people cycled along the FreeCycle circuit.</p>
<p>On Saturday 28 July from 05:00 to 19:30, TfL is making central roads London traffic-free for FreeCycle and the UCI Women's WorldTour Prudential RideLondon Classique, as well as the Brompton World Championship Final and Prudential RideLondon Handcycle Grand Prix. Waterloo Bridge will be the only closed bridge.</p>
<p>On Sunday, thousands of amateur cyclists will be raising money for charity by taking part in the Prudential RideLondon-Surrey 100, 46 and 19 sportive events. Prudential RideLondon has raised more than &pound;53million for charity since 2013. The 19 mile event, which is new for 2018, is open to cyclists aged 12 upwards and has been created to encourage the next generation of London and Surrey's cyclists. The UCI WorldTour Prudential RideLondon-Surrey Classic event on the same day will see 150 of the world's best male cyclists take part in a 183km race through London and Surrey and there will be a variety of opportunities for spectators to cheer on the riders along the route.</p>
<p>From 04:00 roads throughout parts of east, central, west and southwest London and Surrey will be closed. Roads will begin to open once the events have passed and it is safe to do so, with the majority reopened by 18:00. All roads are expected to be fully open by 20:00. Thirteen river crossings will be closed for part of the day, including Westminster Bridge, Tower Bridge and Battersea Bridge but the Blackwall Tunnel will remain open. If you must drive, please ensure you allow plenty of time and prepare to take a longer route than usual. Tube and Rail will be the best way to travel during the event weekend. More information is available on the TfL website at tfl.gov.uk/ridelondon.</p>
<p><strong>Will Norman, London's Walking and Cycling Commissioner, said:</strong> &quot;Every year RideLondon showcases the fun and freedom of cycling in the capital, attracting 100,000 people of all ages and abilities. The family-friendly FreeCycle is an amazing opportunity for Londoners to enjoy cycling through the very heart of the city on car-free streets.</p>
<p>'The new 19-mile ride aimed at younger and newer riders is a great addition to the world's greatest celebration of cycling.</p>
<p>'Events like these help introduce young people to cycling and encourage others to get back on their bikes or cycle more &#45; both of which are essential to our vision for a city where more people make cycling part of their everyday lives.'</p>
<p><strong>Gareth Powell, TfL's Managing Director of Surface Transport, said:</strong> `Prudential RideLondon is one of the highlights of the city's calendar and is a fantastic opportunity for Londoners to come together to celebrate cycling and enjoy the capital. Cyclists of all ages and abilities will be catered for and traffic-free roads will help to encourage more people to try out cycling in London for the first time.</p>
<p>`Some roads will be closed as a result so we are asking Londoners to plan ahead and check before they travel.'</p>
<p>TfL is committed to investing in cycling across London to tackle the capital's toxic air and reduce road danger, in line with the Mayor's vision of Healthy Streets that encourages walking, cycling and public transport use. A new route through central London, Cycle Superhighway 6, will be opening in the autumn and almost 100km of Quietways have been built so far, with further significant sections due to open later in 2018 across the city.</p>
<p>TfL also funds a range of cycle skills training courses for all abilities to build skills, gain confidence or refresh their cycling technique</p>
<p><strong>Notes for Editors</strong></p>
<ul>
    <li>Prudential RideLondon is the world's greatest festival of cycling with more than 100,000 riders expected to participate in different events for all ages and abilities over the weekend of 28-29 July 2018. Find out more at <a href="http://www.prudentialridelondon.co.uk">www.prudentialridelondon.co.uk</a></li>
    <li>Prudential RideLondon features two UCI WorldTour events: the Prudential RideLondon-Surrey Classic for men and the Prudential RideLondon Classique for women. These two races are the richest one day races on the pro cycling calendar and the first in the world to offer equal prize money for men and women</li>
    <li>Prudential RideLondon was developed by the Mayor of London, Transport for London and London &amp; Partners in partnership with Surrey County Council and is sponsored by Prudential. The event is managed by the London &amp; Surrey Cycling Partnership</li>
    <li>Full details on changes to travel can be found at <a href="http://www.tfl.gov.uk/ridelondon">www.tfl.gov.uk/ridelondon</a>  </li>
    <li>Further details on cycle skills courses can be found at <a href="https://tfl.gov.uk/modes/cycling/cycling-in-london/cycle-skills">https://tfl.gov.uk/modes/cycling/cycling-in-london/cycle-skills</a> </li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-July-The world’s greatest festival of cycling returns to the capital this weekend -->

 
 
        
        
            @{ViewBag.Description = "The world’s greatest festival of cycling returns to the capital this weekend";}
        
        


 