


@{ViewBag.Title = "Three months until the first phase of Direct Vision Standard";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Three months until the first phase of Direct Vision Standard</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Three months until the first phase of Direct Vision Standard</h1>
        <div class="content-page-press-release">
        26 July 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Freight operators can contact their vehicle manufacturers to ensure they are prepared for the Safety Permit scheme to open
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are just three months away from the first permits being issued and encourage all operators to check the star rating of their vehicle, so they are prepared and compliant

 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Christina Calderato</div>
            <div class="quotee-job-title">Head of Transport Strategy and Planning, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Heavy Goods Vehicle (HGV) Safety Permits will be available from 28 October this year</li>
	<li>Operators of non-compliant HGVs face &pound;550 fine</li>
</ul>

<p>With just three months to go until HGV Safety Permits become available, Transport for London (TfL) is encouraging operators to prepare their fleet for the world-leading Direct Vision Standard, which will tackle road danger at its source by minimising HGVs' blind spots, which contribute to many tragic deaths and life-changing injuries.</p>

<p>The Direct Vision Standard uses a star system to rate HGVs over 12 tonnes from 0 (lowest) to 5 (highest), based on how much a driver can see directly through their cab windows. Those vehicles rated 0* will need to improve the overall safety of their vehicle by fitting Safe System mitigating measures, including a camera monitoring system, an audible left-turn vehicle manoeuvring warning and sensors before October 2020. Fitting the Safe System will not change a vehicle's DVS star rating but will bring the safety standard of the vehicle up, allowing a Safety Permit to be granted.</p>

<p>All HGVs over 12 tonnes, including those rated between 1 and 5*, can apply for a free Safety Permit from 28 October in order to operate in London. Operators can contact their vehicle manufacturers to check the star rating of their fleet. The Direct Vision Standard will operate 24 hours a day, seven days a week and will be enforced on all roads within the Greater London Boundary from October 2020.</p>

<p>Vehicles rated between 1 and 5* will be compliant until 2024, when vehicles 2* and below will require a Progressive Safe System in order to operate in London.<br />
&nbsp;</p>

<p>Permits will be electronic and enforced by Automatic Number Plate Recognition cameras, and non-compliant HGVs will be issued with a Penalty Charge Notice of &pound;550 per day, which will be reduced by 50 per cent if paid within 14 days.</p>

<p>TfL has already seen a number of companies such as Tideway, CEMEX and Tarmac investing in 5* vehicles, with low entry cabs, which boast the highest levels of direct vision. These HGVs are more appropriate for the built-up urban environment and the benefits include a quicker reaction time for drivers, as well as improved safety for road users.</p>

<p>Christina Calderato, Head of Transport Strategy and Planning at TfL, said:</p>

<p>'Our Direct Vision Standard and its associated HGV Safety Permit is vital for saving lives on London's streets and achieving Vision Zero. We thank the freight industry for their input and support throughout the stages of development. We are just three months away from the first permits being issued and encourage all operators to check the star rating of their vehicle, so they are prepared and compliant.'</p>

<p>The timeline for the Direct Vision Standard and HGV Safety Permit is as follows:</p>

<ul>
	<li>28 October 2019: The first permits will be issued. Trucks rated 0* will need to upgrade to a Safe System in order to get a permit and all vehicles will require a permit to operate in London</li>
	<li>26 October 2020: Enforcement begins</li>
	<li>2022: Consultation on the progressive Safe System</li>
	<li>2024: The minimum Direct Vision Standard star rating increases from 1* to 3* or a progressive Safe System</li>
</ul>

<p>Permits will be issued from 28 October this year with enforcement beginning a year later on 26 October 2020, the same date that London's Low Emission Zone will be strengthened for heavy vehicles. Operators will be able to apply for a permit via an online application portal on TfL's website. There will be a function to apply for multiple vehicle permits under a single application, making it easier for operators with larger fleets.</p>

<p>Natalie Chapman, Head of South of England and Urban Policy at the FTA, said:</p>

<p>'The logistics industry is fully supportive of the Mayor of London's ambition to achieve zero vehicular harm by 2041; reducing road danger has always been its highest priority. Achieving this goal will require a comprehensive approach to road safety, which includes the use of new technology, changes to vehicle design, implementing smarter road design, and retiming deliveries to quieter periods. FTA is encouraging our members to obtain star ratings for their vehicles from manufacturers now and to apply for permits as soon as the application process opens in October to minimise a surge in demand when enforcement starts next year.'</p>

<p>Alongside London's HGV safety permit scheme, TfL and the Mayor of London continue to support the inclusion of direct vision at a European Union level under the revisions to the General Safety Regulation (GSR). This would mean design and manufacture of safer HGVs right across Europe.</p>

<p>The Direct Vision Standard and Safety Permit is part of TfL's Vision Zero commitment to tackle the number of people being killed and seriously injured on London's roads. TfL research shows that between 2015 and 2017, HGVs were disproportionately involved in fatal collisions, with 63 per cent of those involving people cycling and 25 per cent of those involving people walking.</p>

<p>This week TfL has marked the first year anniversary of its Vision Zero commitment to raise awareness of the devastation caused by road trauma. TfL has launched a new campaign, 'Know My Name', which shares the stories of five victims of road trauma to communicate the impact it has on people's lives and demonstrate that even one death or serious injury is one too many. Official casualty figures were also published yesterday (Thursday 25 July), showing a reduction in deaths on London's roads but an increase in serious injuries.</p>

<p>As part of the Vision Zero approach, TfL is working with the Police to reduce road danger across London, with education and enforcement targeted at all road user groups. TfL and the Police offer regular Exchanging Places sessions, where people who walk and cycle can sit in an HGV or a bus to understand the driver's viewpoint. Police officers are also engaging with cyclists every day about dangerous behaviours and TfL offers free cycle training in every borough to equip people cycling with the information and education they need to travel on London's roads.</p>

<p>Operators can find contact details for vehicle manufacturers here: <a href="[ioID]#tfl.gov.uk/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles">tfl.gov.uk/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles</a></p>

<hr />
<p>Notes to editors</p>

<ul>
	<li>TfL's Direct Vision Standard for Heavy Goods Vehicles will be the first initiative of its kind in the world to categorise HGVs depending on the level of a driver's direct vision from a cab. This scheme is due to be introduced in 2020 to improve vehicle safety and increase visibility of vulnerable road users. HGVs will be given a rating between 0* (lowest) and 5* (highest), with only those vehicles rated 3* and above, or which have comprehensive safety systems, able to operate in London from 2024</li>
	<li>More information about the Direct Vision Standard is available here: <a href="[ioID]#tfl.gov.uk/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles">tfl.gov.uk/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles</a></li>
	<li>The Vision Zero Action Plan is available here: <a href="[ioID]#tfl.gov.uk/corporate/safety-and-security/road-safety/vision-zero-for-london">tfl.gov.uk/corporate/safety-and-security/road-safety/vision-zero-for-london</a></li>
	<li>A full list of exemptions and partial exemptions can be found here</li>
	<li>Permit duration: All permits granted between October 2019 and October 2020 will have a commencement date of October 2020. The duration of the permit will depend on the following factors:</li>
	<li>0* or un-rated vehicles with an approved safe system will be granted a permit until 26 October 2024 (when the progressive safe system will be required for vehicles rated 2* or below)</li>
	<li>1* and 2* vehicles will be granted permits until 26 October 2024 (when the progressive safe system will be required)</li>
	<li>3*, 4* and 5* vehicles will be granted a 10 year permit</li>
	<li>TfL will be introducing a vehicle checker from October, allowing operators to check that their vehicles are compliant with Direct Vision Standard and the tighter Low Emission Zone, which comes into force in 2020</li>
</ul>

<p><br />
&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-July-Three months until the first phase of Direct Vision Standard -->

 
 
        
        
            @{ViewBag.Description = "Three months to go until the first phase of the Mayor’s Direct Vision Standard for HGVs";}
        
        


 