


@{ViewBag.Title = "Tottenham Court Road Elizabeth line station nearing completion ahead of launch";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Tottenham Court Road Elizabeth line station nearing completion ahead of launch</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Tottenham Court Road Elizabeth line station nearing completion ahead of launch</h1>
        <div class="content-page-press-release">
        10 July 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"At Tottenham Court Road, our staff are busy preparing for a 50 per cent increase in passengers each day, which has been made possible through extraordinary feats of civil engineering and an impressive supply chain that stretches from Inverness to the Isle of Wight"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mark Wild</div>
            <div class="quotee-job-title">London Underground & Elizabeth line Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li><a href="https://crossrail.assetbank-server.com/assetbank-crossrail/action/viewDownloadSharedAsset?download=656b694264634e797539586442676f425175497970673d3d">Click here to download ima</a>ges highlighting the contribution of UK suppliers and latest construction progress</li>
</ul>
<p>New images showing progress at Tottenham Court Road have been released, highlighting the critical role played by businesses across the UK in the delivery of the Elizabeth line.</p>
<p>Tottenham Court Road station will be at the centre of London's first new underground railway in a generation, which will run from Berkshire and Heathrow in the west to south east London and Essex in the east.</p>
<p>The Elizabeth line will redefine transport in London with quicker, easier and more accessible journeys. The large-scale infrastructure project is now in its final phases, with the new Elizabeth line trains being tested in the tunnels and the stations being fitted out with architectural finishes.</p>
<p>The line will open in stages from December with new state-of-the-art stations &#45; all step-free.</p>
<h2>Challenging and complex</h2>
<p>Constructing the railway has been one of the most challenging and complex infrastructure projects ever undertaken in the country.</p>
<p>It has needed the very best UK materials and expertise in civil engineering, design, manufacture and systems technology.</p>
<p>Ninety-six per cent of contracts for the Elizabeth line have been awarded to companies based within the UK, supporting the equivalent of 55,000 full-time jobs, 62% of which are outside of London.</p>
<p>The station showcases the contribution of UK suppliers in the delivery of the Elizabeth line with work carried out by firms from across the UK including:</p>
<ul>
    <li>Independent Glass, based in Glasgow, who have manufactured Tottenham Court Road's bespoke architectural glass panels</li>
    <li>GRC, based in Doncaster, who have produced the innovative concrete platform cladding that will soon become synonymous with the Elizabeth line</li>
    <li>Protec, based in Burnley, who have built and installed the station's fire suppression systems</li>
    <li>Northern Ireland firm Environmental Fabrications, based in Dromore, have manufactured the structural steel during construction of the new station</li>
    <li>Express Reinforcements, from Neath in Wales, provided all the steel reinforcement for the station</li>
    <li>AJ Wells &amp; Sons, based on the Isle of Wight, who have manufactured the station's iconic signage and Elizabeth line roundels</li>
</ul>
<h2>Dramatic transformation</h2>
<p>Tottenham Court Road station now stretches nearly a kilometre, from a new plaza with striking asymmetrical glass-and-steel canopy entrances in front of the Grade II listed Centre Point tower westwards towards Dean Street in Soho.</p>
<p>It has seen a dramatic transformation from its cramped Victorian origins; in recent years, the existing ticket hall has been enlarged to six times its original size.</p>
<p>Meanwhile, the new Elizabeth line station has seen the construction of 234m long platforms, banks of escalators and a dedicated entrance at Dean Street which will serve the 200,000 customers who are expected to use the station every day.</p>
<p>Mark Wild, London Underground &amp; Elizabeth line Managing Director, said: 'The Elizabeth line will redefine our city for a new generation.</p>
<p>'At Tottenham Court Road, our staff are busy preparing for a 50% increase in passengers each day, which has been made possible through extraordinary feats of civil engineering and an impressive supply chain that stretches from Inverness to the Isle of Wight.'</p>
<p>Sir Terry Morgan, Crossrail Chairman, said: 'The construction of the Elizabeth line through the heart of London is one of the largest and most complex infrastructure projects ever undertaken in Europe.</p>
<p>'It has been made possible thanks to the skill and dedication of suppliers from every corner of the UK, who are not only using their expertise to deliver this project, but also other projects here in the UK and abroad.'</p>
<p>David Shillito, Operations Director, GRC UK, said: 'Everyone at GRC was delighted to play such a pivotal role in the delivery of this major transport infrastructure project, whose legacy will be felt for years to come.</p>
<p>'The Crossrail project required specialist cladding across five of the central London stations, with each element modelled in a 3D environment and laser-scanned.</p>
<p>'To succeed we've had to innovate, developing this form of digital manufacturing capability which has been both a fantastic and rewarding challenge for us as a supply-chain partner.</p>
<p>'The panels will be a distinct, recognisable feature of the Elizabeth line, so it's been a great privilege to be involved.'</p>
<h2>Significant work continues</h2>
<p>The Crossrail project is jointly sponsored by the Department for Transport and TfL. Vital support has also been provided by London's business community including financial contributions.</p>
<p>Construction of the Elizabeth line is now in its final stages. Significant work continues to complete the stations and to bring together the complicated interfaces such as track, power, signalling and trains.</p>
<p>Later this year, the first completed infrastructure will be handed over to Transport for London, who will lead the trial operations phase ahead of the opening of the Elizabeth line in December.</p>
<p><hr /></p>
<p><strong>Notes to editors</strong></p>
<p>Laing O'Rourke is the principal contractor for Tottenham Court Road Elizabeth line station. Taylor Woodrow and BAM Nuttall (TWBN) were the principal contractors for the major redevelopment of Tottenham Court Road Tube station.</p>
<p>Key suppliers for Tottenham Court Road Elizabeth line station include:</p>
<ul>
    <li>Knorr Bremse (Wolverton): platform screen doors</li>
    <li>GRC UK (Doncaster): architectural panels</li>
    <li>Celsa Steel (Cardiff): structural steel</li>
    <li>Environmental Fabrications (Dromore): structural steel</li>
    <li>Express Reinforcements (Neath): steel reinforcement</li>
    <li>Independent Glass (Glasgow): architectural glass</li>
    <li>Protec (Burnley): fire protection/fire suppression</li>
    <li>Logic (Liverpool): electrical installations</li>
    <li>CBL (Hartlepool): cable installations</li>
    <li>Redpath (Chatham): lightning protection</li>
    <li>Design Plan/Whitecroft (Ashton-under-Lyne): luminaires</li>
    <li>Gilberts (Blackpool): station grilles</li>
</ul>
<p>The Elizabeth line will increase central London's rail capacity by 10%. It will bring an extra 1.5 million people to within 45 minutes of central London and more than 200 million passengers are expected to use it every year.</p>
<p>The new railway is expected to support 90,000 new homes along the route by 2021, doubling to 180,000 by 2026. Over 360,000 new jobs are predicted by 2021, boosting the UK economy by &pound;42 billion. All 41 stations on the Elizabeth line will have step-free access. This includes the new stations in central London and existing stations in east and west London that will become part of the line.</p>
<p>The Elizabeth line will open in phases:</p>
<p><strong>December 2018</strong></p>
<p>Services through central London begin, three separate services will operate:</p>
<ul>
    <li>Paddington to Abbey Wood</li>
    <li>Paddington (main line station) to Heathrow Terminals 2 &amp; 3 and 4</li>
    <li>Liverpool Street (main line station) to Shenfield</li>
</ul>
<p><strong>May 2019</strong></p>
<ul>
    <li>Direct services will operate from Paddington to Shenfield and Paddington to Abbey Wood. Services from Paddington to Heathrow will continue to start and terminate in the main line station.</li>
</ul>
<p><strong>December 2019</strong></p>
<ul>
    <li>The Elizabeth line will fully open, with services running from Reading and Heathrow in the west (including Terminal 5) through the central tunnels to Shenfield and Abbey Wood in the east.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/48574">August</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-July-Tottenham Court Road Elizabeth line station nearing completion ahead of launch -->

 
 
        
        
            @{ViewBag.Description = "Tottenham Court Road Elizabeth line station nearing completion ahead of launch of London’s transformational new railway";}
        
        


 