


@{ViewBag.Title = "Transport for London spreads Christmas spirit by donating lost toys";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Transport for London spreads Christmas spirit by donating lost toys</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London spreads Christmas spirit by donating lost toys</h1>
        <div class="content-page-press-release">
        13 December 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        For the twelfth year running, Transport for London's (TfL) Lost Property Office has sparked a little festive joy by donating hundreds of toys and games for children as part of The Salvation Army's Christmas Present Appeal.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Each year, we are left with thousands of unclaimed items, including toys and games, which have been found across the TfL network. Many of these are new and unused and Christmas provides us with the perfect opportunity to find them a new home, where they will bring joy to families from all backgrounds who might not otherwise receive anything."</div>
        <div class="quote-footer">
            <div class="quotee-name">Paul Cowan</div>
            <div class="quotee-job-title">Manager of the Lost Property Office</div>
        </div>
</div>

 <div class="on-this-page">
<p>The Salvation Army Hoxton Community and Wellbeing Centre will work with local care services, school family support teams and London-based families who are known to be in need this Christmas time to ensure that many disadvantaged children will have a gift to unwrap and enjoy this Christmas when they might not otherwise receive any presents.</p>

<p><strong>Paul Cowan, Manager of the Lost Property Office, said:</strong> &quot;Each year, we are left with thousands of unclaimed items, including toys and games, which have been found across the TfL network. Many of these are new and unused and Christmas provides us with the perfect opportunity to find them a new home, where they will bring joy to families from all backgrounds who might not otherwise receive anything. We are very proud to have supported The Salvation Army Christmas Toy Appeal for 12 years.&quot;</p>

<p><strong>Major Sally Spry, Commanding Officer and Centre Manager at the Salvation Army Hoxton Community and Wellbeing Centre, said: </strong>"The Salvation Army provides a range of community based services across the UK, throughout the year. At Christmas time, The Salvation Army provides many toys and parcels to those families and children who would otherwise go without. Across London our churches and centres work with local councils and care providers to ensure that the toys get to where they are most needed. This is made possible through the generosity of the general public and with the partnerships that we have with larger providers, including Transport for London. The Salvation Army is very grateful for the support they offer each year."</p>

<p>Over the past year, more than 340,000 items of Lost Property have been found on TfL's services with more than a fifth (22 per cent) reunited with their owners. The Lost Property Office keeps all items for three months and tries to reunite them with their owners through contact information found on the property or through matching an item to a customer enquiry about a lost item.&nbsp; After three months, any unclaimed items have any personal data removed and securely destroyed before they are either donated to charities including The Salvation Army, The British Red Cross and Scope, or recycled, sold or disposed of. Any revenue generated from unclaimed items contributes towards the cost of running the Lost Property Office.</p>

<p>Customers are reminded to take extra care of their belongings when using London's transport network and are encouraged to report any suspicious items or behaviour to a member of staff or a police officer.</p>

<p>&nbsp;</p>

<hr />
<p>&nbsp;</p>

<p><strong>Notes to editors</strong></p>

<ul>
	<li>For more information about the Lost Property Office or how customers can enquire about their missing items, please go to <a href="http://www.tfl.gov.uk/lostproperty">tfl.gov.uk/lostproperty</a></li>
	<li>Toys that are used or not in a new condition are still donated to the Lost Property's Office charities continually throughout the year.</li>
	<li>TfL's Lost Property Office homes items found on TfL's services, including London Buses, London Underground, Docklands Light Railway, London Overground, TfL Rail, Licensed Taxis, Emirates Air Line and Victoria Coach station. More than half of these items have been found on London buses.</li>
	<li>The Salvation Army is a registered charity that works in 128 countries worldwide, offering friendship, practical help and support for people at all levels of need. In the UK and Republic of Ireland this work includes more than 800 community churches and social centers. For more than 150 years, The Salvation Army has been transforming lives and continues to do so today in communities across the UK and throughout the world.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/48606">2019</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-December-Transport for London spreads Christmas spirit by donating lost toys -->

 
 
        
        
            @{ViewBag.Description = "Transport for London spreads Christmas spirit by donating lost toys";}
        
        


 