


@{ViewBag.Title = "Transport for London begins search for supplier to build new generation of DLR trains ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Transport for London begins search for supplier to build new generation of DLR trains </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London begins search for supplier to build new generation of DLR trains </h1>
        <div class="content-page-press-release">
        17 May 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Customers on the Docklands Light Railway (DLR) are set to benefit from new walk-through air-conditioned trains from 2022.</p>
<p>The new trains, which will increase capacity by over 30%, will be more reliable and provide customers with real time information, air-conditioning and mobile device charging points.</p>
<p>Significant redevelopment is taking place in and around the Docklands area which the DLR serves; in the Royal Docks alone, up to 36,500 jobs and 7,000 homes are being created. To support this growth, TfL will replace two thirds of the existing trains, some of which are 25 years old, and order an additional ten new trains to provide even more capacity.</p>
<p>Danny Price, TfL's Director of DLR, said: 'These new trains will enable us to increase capacity on the DLR by 30 %, significantly improving the comfort, reliability and quality of our service for customers. Ordering them now ensures that we get the best value for money in the long term and can support continuing growth in east London. We intend to go out to tender later this year with the new trains entering service from 2022.'</p>
<p>Passenger use is set to continue to grow when the DLR network interchanges with the Elizabeth line from 2018. Services between central London, Shenfield and Abbey Wood will interchange with the DLR at several stations &#45; Canary Wharf, West India Quay, Stratford and Custom House - where new platforms, a new ticket hall and entrance are being constructed.</p>
<p>TfL has published a notice in the Official Journal of the European Union (OJEU) seeking expressions of interest from the train manufacturing industry to build the new trains with improved performance and reliability.  A formal Invitation to Tender is expected to be issued in later this year and a contract awarded in Summer 2018.</p>
<p>The DLR will be celebrating its 30th anniversary later this year. It began operating on 31 August 1987, initially running with just 11 trains serving 15 stations. In its first year of operation it carried 6.7m people. Today, the railway &#45; which is entirely step-free - has 45 stations, 38km of track and 56 trains and carries 122 million passengers a year.<br />
Ends</p>
<p>
Notes to Editors</p>
<ul>
    <li>TfL intend to order 43 new 87 metre long trains, 33 of which will replace the existing older trains.</li>
    <li>Docklands Light Railway Limited (DLRL) and operator KeolisAmey Docklands achieved certification to BS11000, the British Standard for Collaborative Business Relationships in November 2016.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-May-Transport for London begins search for supplier to build new generation of DLR trains  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London begins search for supplier to build new generation of DLR trains ";}
        
        


 