


@{ViewBag.Title = "Transport for London gears up to inspire more people into engineering";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Transport for London gears up to inspire more people into engineering</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London gears up to inspire more people into engineering</h1>
        <div class="content-page-press-release">
        17 January 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>TfL has announced its support for the Year of Engineering campaign, which is taking place over the course of 2018, and aims to debunk some of the myths around the profession and inspire the next generation of engineers. The campaign, led by the Department for Transport, will achieve this in a number of ways, including showcasing and celebrating the contributions that engineering makes to society.</p>
<p>There are a number of exciting projects taking place in the transport industry, from designing new river crossings, more accessible stations and building cycling infrastructure to the opening of the Elizabeth line. It's an interesting sector for young people to work in and a career in transport offers the opportunity for young people to see the impact of their work every day. Transport not only has the power to get people from A to B, it shapes cities and regions, develops economies and supports new homes and jobs.</p>
<p>However, the transport industry is currently facing a skills gap, which is why the Year of Engineering campaign is vital to attract new talent into a profession that they might not otherwise consider. While it is anticipated that there will be a shortfall of more than 55,000 people equipped to work in transport infrastructure by 2020, it is not just about numbers*. In order to ensure innovation and creativity, the engineering sector needs to make sure it reflects the diversity of the people that it delivers the projects for &#45; this is as true for London as it is any other city or region. Currently, only one in eight engineering professionals are female and representation of people from BAME backgrounds is low *&sup2;.</p>
<p>This is why TfL, along with London Transport Museum, is proud to be supporting the campaign and will be offering a range of activities and opportunities across the year, building on the work that it already does to encourage young people into the sector. As well as offering new opportunities for engineering apprenticeships, this will include:</p>
<ul>
    <li> Growing its Science, Technology, Engineering and Mathematics (STEM) ambassador programme - TfL currently has more than 200 employees, who volunteer and proactively engage with schools and young people to explain what careers in STEM look like, providing accessible role models. This builds on the work of TfL's Early Careers team, which works with schools and colleges, to show what transport apprenticeships have to offer.</li>
    <li>Innovate TfL in association with Cleshar &#45; This project-based competition is open to Year 12 and Year 13 students at school, college or as part of a youth organisation. They are presented with the real life 'Innovation Challenges' facing TfL and its customers, which they then come up with solutions for. TfL and Cleshar will be shortlisting the entries soon with the final taking place during National Apprenticeship Week in March. All of the finalists are then offered the opportunity to undertake work placements at TfL and experience what a career in transport could be like.</li>
    <li>London Transport Museum's Employment to Enjoyment programme &#45; The Museum is working with TfL and other industry partners to turn childhood enthusiasm into adult achievement. The formative programme reaches children and young people at key points throughout their learning and development through a range of different activities, including Inspire Engineering, which allows children to get involved in experiments and interview real-life engineers.</li>
    <li>TfL has a dedicated Supplier Skills programme, which works with TfL's suppliers to facilitate the creation of skills and employment opportunities, such as apprenticeships for new or existing employees. As part of this, it runs a range of different schemes, working with partners such as Gingerbread and Women into Construction, to encourage people, especially women and those from BAME communities, to find a career that works for them in the transport industry.</li>
    <li>TfL's Tunnelling and Underground Construction Academy in Ilford, which it runs with Prospects College of Advanced Technology, continues to train the engineers of the future and enables students to learn the technical skills required to build infrastructure projects across the country. It will be hosting an open day on 25 January, giving prospective apprentices the opportunity to see its state-of-the-art facilities, which include spaces to practise sprayed concrete lining in specially designed tunnel openings, a laboratory to study tunnelling material and a tunnel mock-up where evacuation simulations take place.</li>
    <li>London Transport Museum is bringing the Year of Engineering to life with two new permanent galleries and a jam-packed programme of events and activities for families, adults and young visitors throughout the year. The Digging Deeper gallery launching on 23 March will explore the history of tunnelling from Brunel to Crossrail, while the new Future Engineers gallery opening on 13 July will showcase a new state of the art train driving experience. The Museum will also host a new temporary exhibition about Crossrail, Europe's biggest infrastructure project, a hands-on Easter and Summer Family Fun series of activities and an engineering-themed Open Weekend at its popular Museum Depot in Acton, west London.</li>
</ul>
<p>George Clark, Director of Engineering at TfL, said: `We are proud to be supporting the Year of Engineering campaign with a whole range of activities going on throughout 2018 that will undoubtedly inspire the next generation of engineers. By reaching children and young adults, we will be able to show them how they can channel their passions into a rewarding career in the future that will enable them to make a real difference to life in London.'</p>
<p>Joanna Ho, Lead Design Engineer at TfL, said: `As a traffic design engineer, I've been able to work on a range of different projects, from walking and cycling schemes to bus reliability improvements. My career at TfL has allowed me to achieve my goal of working in a challenging role, helping to provide Londoners with more sustainable transport choices. I really enjoy the balance of office work and site visits, and engaging with those who have an interest in our projects. People often think being an engineer is about working on site in a hard hat, so this campaign is a great opportunity to highlight the variety that an engineering career can offer.'</p>
<p>Jessica Ellis, a third year Fleet apprentice at TfL, said: `I love being an engineering apprentice at TfL and the reaction I get when I tell people that my job involves maintaining the Tube trains. They find it really interesting, particularly as they don't expect a woman to be in the role. It's so rewarding seeing the impact of my work every day, knowing that what I do is vital to keep London moving. I am really excited about this campaign as it will break down misconceptions and help young people realise all of the different opportunities that they could enjoy in engineering.'</p>
<p>Notes to Editors</p>
<ul>
    <li>For more information about our schools programme, please visit: https://tfl.gov.uk/info-for/schools-and-young-people/ and <a href="https://tfl.gov.uk/innovate">https://tfl.gov.uk/innovate</a></li>
    <li>For more information about the careers on offer at TfL, with applications for apprenticeships opening soon, please visit: <a href="https://tfl.gov.uk/corporate/careers/">https://tfl.gov.uk/corporate/careers/</a></li>
    <li>For more information about TfL's Supplier Skills programme, please visit <a href="https://tfl.gov.uk/info-for/suppliers-and-contractors/supplier-relations/supplier-skills">https://tfl.gov.uk/info-for/suppliers-and-contractors/supplier-relations/supplier-skills</a></li>
    <li>London Transport Museum tickets allow unlimited daytime entry to all Museum galleries and temporary exhibitions for a whole year. For more information about London Transport Museum and the Year of Engineering, please visit: <a href="https://www.ltmuseum.co.uk/whats-on/year-of-engineering">https://www.ltmuseum.co.uk/whats-on/year-of-engineering</a></li>
    <li>For more information about the Museum's Enjoyment to Employment programme, please visit: <a href="https://www.ltmuseum.co.uk/support-us/enjoyment-to-employment">https://www.ltmuseum.co.uk/support-us/enjoyment-to-employment</a></li>
    <li>For more information about TUCA, please visit: www.tuca.ac.uk<br />Images related to TfL and engineering can be requested from the TfL Press Office.</li>
    <li>*This information has been sourced from the Department for Transport's Infrastructure Skills Strategy. A link to the report can be found here: <a href="https://www.gov.uk/government/publications/transport-infrastructure-skills-strategy-building-sustainable-skills">https://www.gov.uk/government/publications/transport-infrastructure-skills-strategy-building-sustainable-skills</a></li>
    <li>*&sup2;This information has been sourced from Engineering UK's report, The State of Engineering 2017, which can be found here: <a href="http://www.engineeringuk.com/Account/ReturnReport">http://www.engineeringuk.com/Account/ReturnReport</a> </li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-January-Transport for London gears up to inspire more people into engineering -->

 
 
        
        
            @{ViewBag.Description = "Transport for London gears up to inspire more people into engineering";}
        
        


 