


@{ViewBag.Title = "Transport for London wins international road safety award";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Transport for London wins international road safety award</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London wins international road safety award</h1>
        <div class="content-page-press-release">
        15 December 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has been recognised internationally for its work to improve the safety of cyclists, pedestrians and motorcyclists in London.</p>
<p>At a ceremony on Tuesday (13 December), Prince Michael of Kent awarded TfL the International Road Safety Award for its ground-breaking work and promising results for reducing death and serious injury.</p>
<p>Analysis of police collision and travel demand data led TfL to put in place a range of initiatives which contributed to a three per cent drop in the number of people killed and seriously injured on London's streets (2,092) in 2015, its lowest ever level.</p>
<p>Projects included the launch of the Safer Lorry Scheme, the installation of special sensors at pedestrian crossings which adjust crossing times when large groups of people are detected as well as the trialling of 20mph limits and average speed cameras on key routes.</p>
<p>TfL is now looking to go further and is working to deliver London Mayor Sadiq Khan's plans to remove the most dangerous Heavy Goods Vehicles from the Capital's roads by 2020 through the Direct Vision Standard. This is the first scheme of its kind in the world, directly addressing the issue of lethal driver blind-spots.</p>
<p>Other measures include expanding the use of 20mph limits, introducing motorcycle and pedal cycle skills courses as well as developing a world leading bus safety standard which includes the latest safety technologies to help avoid and reduce the impact of collisions involving buses.</p>
<p>Leon Daniels, TfL's Managing Director of Surface Transport, said: `We are delighted to receive this award which recognises the hard work our teams have put in to reduce casualties on London's roads, however any death or serious injury is a tragedy, and our priority is to eradicate such incidents. Last year saw the lowest level since records began, but there is much more to be done.</p>
<p>`We are working to reduce collisions involving all road users by creating more attractive, accessible and people-friendly streets, making walking and cycling safer, working with London boroughs to introduce more 20mph limits, looking to remove the most dangerous Heavy Goods Vehicles from the Capital's roads by 2020 and continuing our road safety education and enforcement programmes.'</p>
<p>Adrian Walsh, Director of the Prince's awards scheme, said: `The judges thought that it was a first class programme of action, well planned, adequately funded, and well organised with promising results.'</p>
<p>Ends</p>
<p>Notes to Editors</p>
<ul>
    <li>For nearly thirty years HRH Prince Michael of Kent has played a leading role in supporting improved road safety both in the United Kingdom and around the world. His Prince Michael International Road Safety Awards recognize achievement and innovation in road safety worldwide. Each year the most outstanding examples of international road safety initiatives are given public recognition through the scheme.</li>
    <li>Approximately 80 per cent of all those killed or seriously injured on London's roads are vulnerable road users - cyclists, pedestrians and motorcyclists.</li>
    <li>Further information regarding the Direct Vision Standard can be found here: <a href="http://london.gov.uk/press-releases/mayoral/new-measures-to-rid-london-of-dangerous-lorries">london.gov.uk/press-releases/mayoral/new-measures-to-rid-london-of-dangerous-lorries</a></li>
    <li>TfL's Road Collision Annual Report for 2015 can be found here: <a href="http://content.tfl.gov.uk/collisions-and-casulaties-on-londons-roads-annual-report-2015.pdf">content.tfl.gov.uk/collisions-and-casulaties-on-londons-roads-annual-report-2015.pdf</a></li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-December-Transport for London wins international road safety award -->

 
 


 