


@{ViewBag.Title = "Transport for London brews up opportunities for small businesses with StreetDots";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Transport for London brews up opportunities for small businesses with StreetDots</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London brews up opportunities for small businesses with StreetDots</h1>
        <div class="content-page-press-release">
        02 October 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL is giving small businesses the opportunity to trade at transport hubs across the capital through a new partnership with online street trading platform StreetDots
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It is another great example of how we are supporting small businesses alongside generating vital revenue to reinvest in the transport network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Graeme Craig</div>
            <div class="quotee-job-title">Director of Commercial Development at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p>The project enables customers to buy street food and coffee and will later offer them the opportunity to purchase gifts, flowers, and grab-and-go fresh produce from mobile retailers.</p>
<p>Pitches or 'dots' are open at several locations, including North Greenwich and Hammersmith. The stalls at the </p>
<p>dots take many forms from simple tables, to customised vans, trucks, carts and bikes.</p>
<p>The partnership aims to liberate traders from the hassle involved in finding a pitch, while introducing customers to new brands. Traders use a smartphone app to choose a 'dot' for a few hours at a time.</p>
<p>For example, a coffee truck might book a morning slot outside of a Tube station during peak commuting hours. In turn, customers passing the same 'dot' regularly get the chance to discover new businesses and products each day.</p>
<h2>Flourishing businesses</h2>
<p>Caf&eacute; Bueno is one of the flourishing businesses that have been taking advantage of Londoners' thirst for coffee, working from a variety of locations including North Greenwich bus station.</p>
<p>Sean O'Riordan and Patricia Arnone set up their business using the money they had saved for their first property to buy a vintage Tuk-Tuk and convert it into a mobile coffee shop.</p>
<p>Sean O'Riordan said: 'We love selling our coffee at North Greenwich and meeting new customers; Londoners like to support the small guys.</p>
<p>'When we started our business, we just worked at weekend events, but our coffee was becoming so popular that I gave up my day job and used StreetDots to start selling it in the week.'</p>
<p>Another business trialling TfL dots is Zip and Zing Juices, which sells organic smoothies and slow-pressed juices.</p>
<p>Owner Antony Cervantes decided to turn his interest in juicing into a business in 2016 following voluntary redundancy. A custom-made juice trike was the obvious vehicle of choice for the keen cyclist.</p>
<p>Antony Cervantes said: 'There are so many good things about having a mobile stall. I love cycling to events or pitches and it's fun to hear pedestrians shout my company name as I ride past.</p>
<p>'It is a great idea for TfL to work with StreetDots as it will mean commuters and tourists have more choice and also gives mobile traders greater opportunities.'</p>
<h2>Generating vital revenue</h2>
<p>Graeme Craig, Director of Commercial Development at TfL, said: 'More than 90% of our tenants are small or independent businesses. Working with StreetDots, we will be giving more people the opportunity to try out their new business ideas in a simple and cost-effective way at locations across London.</p>
<p>'It is another great example of how we are supporting small businesses alongside generating vital revenue to reinvest in the transport network.'</p>
<p>Atholl Milton, StreetDots co-founder, said: 'Since we opened our first dot in 2014, the StreetDots network has helped over 300 street food traders tour their trucks, vans and stalls around London, collecting new customers in each new area they visit.</p>
<p>'The partnership with TfL means we can give these mobile businesses an even wider choice of locations, while introducing the millions of commuters that pass through TfL stations every day to new brands selling original products &#45; something new at every journey.'</p>
<p><hr /></p>
<p><strong>Notes to editors</strong></p>
<ul>
    <li>The full list of TfL locations where traders can book includes:<br />
    •	Canada Water Bus Station<br />
    •	Stockwell Tube Station<br />
    •	North Greenwich Bus Station<br />
    •	Hammersmith Bus Station<br />
    •	Hammersmith Tube Station<br />
    •	Aldgate Bus Station<br />
    •	Golders Green Bus Station<br />
    •	Kingston Bus Station<br />
    •	Waterloo Bus Station<br />
    •	Colindale Tube Station</li>
</ul>
<ul>
    <li>TfL has more than 2,000 commercial units, including 1,000 retail units, 800 commercial railway arches and meanwhile spaces, which it leases out for a huge range of uses. More than 90 per cent of its tenants are small businesses</li>
    <li>StreetDots was founded in 2014 by food entrepreneur, Atholl Milton, and retail designer, Darren Callcott, to modernise the antiquated street trading sector with a single platform connecting traders, space and communities. Today, StreetDots is used by over 300 independent brands as a hassle free platform to grow their businesses and reach new customers with more than 40 'dots' across London</li>
    <li>Street traders who would like to join the StreetDots network should visit <a href="http://www.streetdots.co.uk/traders/">www.streetdots.co.uk/traders/</a></li>
    <li>Customers who would like to see what street traders are selling in their area should download the StreetDots app on Apple or Android:<br />
    <a href="https://itunes.apple.com/gb/app/streetdots/id1122168644?mt=8">https://itunes.apple.com/gb/app/streetdots/id1122168644?mt=8</a><br />
    <a href="https://play.google.com/store/apps/details?id=com.streetdots.app">https://play.google.com/store/apps/details?id=com.streetdots.app</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-October-Transport for London brews up opportunities for small businesses with StreetDots -->

 
 
        
        
            @{ViewBag.Description = "Transport for London brews up opportunities for small businesses with StreetDots";}
        
        


 