


@{ViewBag.Title = "Transport for London gives lost toys a new home for Christmas";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Transport for London gives lost toys a new home for Christmas</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London gives lost toys a new home for Christmas</h1>
        <div class="content-page-press-release">
        02 December 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">



 <div class="on-this-page">
<p>TfL's Lost Property Office has given around 500 children's toys and games new homes this December by donating them to The Salvation Army's Christmas Present Appeal.</p>
<p>For the past decade, TfL has been sharing the festive cheer so that disadvantaged children have something to unwrap at Christmas. This is the tenth consecutive donation from TfL's Lost Property Office. It includes children's toys and games that have been lost on the network and have remained unclaimed for over three months.</p>
<p>The Salvation Army will work with local care services in south London, including those from Lewisham Council, to distribute the toys among families and children who otherwise might not have anything under the tree this Christmas.</p>
<p>Paul Cowan, Manager of the Lost Property Office, said: `Whilst over 20,000 items were reclaimed from the office last year, sadly many remained on our shelves, including hundreds of new toys and games. We are delighted to be able to find these gifts a new home at a time of year when it means so much to so many children and their families.</p>
<p>`The team here work exceptionally hard to reunite customers with their belongings all year round. It is uplifting to know that we have helped bring joy and smiles to thousands of children in London over our ten years of supporting The Salvation Army's Christmas Present Appeal.'</p>
<p>Captain Kevin Stanbury, Divisional Mission Enabler at The Salvation Army, said, `For some of the families and children that The Salvation Army works with, Christmas can be a particularly difficult time. The generous donation from TfL means that children who would have otherwise gone without have presents to open and toys to play with on Christmas Day. This brings so much joy to the both the children and parents alike.'</p>
<p>Last year, over 300,000 items of lost property were found on TfL's transport services, including London Buses, London Underground, Docklands Light Railway, London Overground, TfL Rail, Licensed Taxis, Emirates Air Line and Victoria Coach station. TfL successfully reunited around a fifth of these items (21%) with their owners, with the majority of them being left on London Buses.</p>
<p>Items that have not been matched to an enquiry or claimed within three months from the date of loss become the property of TfL. The Lost Property Office removes and securely destroys any personal data before either donating the items to charities including The Salvation Army, The British Red Cross and Scope, or recycling, disposing of, or selling them. Any revenue generated from unclaimed items contributes towards the cost of running the Lost Property Office.</p>
<p>As the excitement of the festive period takes hold, customers are reminded to take extra care of their belongings when using TfL services and to report any suspicious items or behaviour to a member of staff or a police officer.</p>
<p>For more information about the Lost Property Office and how customers can enquire about their items, please visit <a href="http://tfl.gov.uk/lostproperty">tfl.gov.uk/lostproperty</a></p>
<p>Ends.</p>
<p>Additional information</p>
<ul>
    <li>Photos of the donation are available <a href="https://flic.kr/s/aHskPSNGz8">here</a></li>
    <li>The top ten items received by the Lost Property Office between April 2015 and March 2016 were:</li>
</ul>
<ol>
    <li>Clothing</li>
    <li>Bags</li>
    <li>Travel cards</li>
    <li>Wallets and Purses</li>
    <li>Phones</li>
    <li>Books and Documents</li>
    <li>Bank cards</li>
    <li>Miscellaneous</li>
    <li>Glasses</li>
    <li>Keys</li>
</ol>
<ul>
    <li>Toys that are used or not in a new condition are still donated to the Lost Property Office's charities throughout the year</li>
    <li>The Salvation Army is a registered charity that works in 128 countries worldwide, offering friendship, practical help and support for people at all levels of need. In the UK and Republic of Ireland this work includes more than 800 community churches and social centres. For more than 150 years The Salvation Army has been transforming lives and continues to do so today in communities across the UK and throughout the world</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-December-Transport for London gives lost toys a new home for Christmas -->

 
 


 