


@{ViewBag.Title = "Transport for London awards new cleaning contract to ABM UK";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Transport for London awards new cleaning contract to ABM UK</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London awards new cleaning contract to ABM UK</h1>
        <div class="content-page-press-release">
        14 August 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has today announced that it has awarded a five-year contract for the provision of cleaning and associated services to ABM UK &#45; guaranteeing 2,800 people will receive the London Living Wage.</p>
<p>The contract includes the cleaning of Tube stations and trains, bus depots, head office buildings and the London Transport Museum.</p>
<p>It is one of six facilities management contracts that have been consolidated from 50 as part of TfL's work to deliver the Mayor's plans to improve public transport whilst reducing day-to-day operating costs and delivering the best possible value for money.</p>
<p>The new contract includes a commitment to pay employees the London Living Wage as well as a reduction in the number of agency workers throughout the lifetime of the contract. This will result in 95 per cent of staff being directly employed by ABM UK.</p>
<p>As part of the procurement process, all of the bidders were required to submit an Equality and Diversity plan and ABM UK will be tracked on the delivery of their plan throughout the contract. They will create 150 apprenticeship positions, offering people the chance to earn while they learn, and will also provide opportunities to support people who may encounter barriers when trying to gain employment and once they're in the workplace.</p>
<p>David Wylie, Chief Procurement Officer at TfL, said: `By consolidating TfL contracts we will be operating in the most efficient way and ensuring better value for money. The contract with ABM UK will see our high standards of cleanliness on the transport network maintained and enhanced and, by creating much-needed apprenticeships and supporting our schemes to help those who might otherwise find it hard to get a job, this contract will also open up opportunities for hundreds of Londoners.'</p>
<p>Andy Donnell, ABM UK Group Managing Director, said: `ABM UK has a great track record of looking after some of London's most iconic sites. The buses, trains and Tubes are a defining feature of daily life in the Capital.</p>
<p>`We are proud and honoured to be working alongside TfL and look forward to playing our small but important part in helping to keep the city moving, working and growing.</p>
<p>`Importantly, and as a former apprentice acutely aware of a growing skills gap in the industry, I'm pleased that creating apprenticeships is at the heart of our agreement with TfL. We've committed to creating 150 apprenticeships for new and existing employees throughout the life of the contract.'</p>
<p>Notes to Editors:</p>
<ul>
    <li>The new contract goes live on 17 September 2017 with three phases to implementation.</li>
    <li>TfL has a dedicated Supplier Skill programme, which works with TfL's suppliers to facilitate the creation of skills and employment opportunities, such as apprenticeships for new or existing employees. Since 2009, TfL, its suppliers, Crossrail and the London Transport Museum, have employed more than 7,600 apprentices. For more information visit <a href="http://tfl.gov.uk/info-for-suppliers-and-contractors/supplier-relations/supplier-skills">tfl.gov.uk/info-for-suppliers-and-contractors/supplier-relations/supplier-skills</a> .<br />About ABM UK</li>
    <li>ABM UK employs just over 5,500 people with offices in London, Leeds, Glasgow, Dublin, Luton and Stevenage, and current customers include major international banks and law firms, retail and leisure venues, concert halls, public buildings, transportation centres and airports.</li>
    <li>For more information, please visit <a href="http://www.abm.co.uk">www.abm.co.uk</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-August-Transport for London awards new cleaning contract to ABM UK -->

 
 
        
        
            @{ViewBag.Description = "Transport for London awards new cleaning contract to ABM UK";}
        
        


 