


@{ViewBag.Title = "Transport for London publishes detailed final cost of the undelivered Garden Bridge project";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Transport for London publishes detailed final cost of the undelivered Garden Bridge project</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London publishes detailed final cost of the undelivered Garden Bridge project</h1>
        <div class="content-page-press-release">
        13 February 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Full, substantially unredacted documents relating to underwriting agreement now published online as part of TfL's continued commitment to transparency
        
    </div>



 <div class="on-this-page">
<p>TfL has today confirmed the final public sector cost of the Garden Bridge project, following the conclusion of its review of the underwriting request from the Garden Bridge Trust.</p>

<p>In August 2017, the Garden Bridge Trust, which since November 2015 was fully responsible for the construction and management of the project, confirmed to TfL and the Mayor of London that the project would no longer be progressing.</p>

<p>TfL has now published a detailed breakdown of the Trust's final expenditure on the project, which shows a total of almost &pound;53.5m was spent on the project.</p>

<p>As confirmed in July 2015 under the previous Mayor of London, up to &pound;60m of public funding was made available to the Trust, apportioned as &pound;30m each from TfL and the Department for Transport (DfT).</p>

<p>Approximately &pound;37m of this funding was paid to the Trust in a series of grant payments tied to specific funding conditions.</p>

<p>In May 2016, the Secretary of State for Transport at the time agreed that for a limited period of four months up to &pound;15m of the remaining balance of public funding would be available to fund expenditure linked to the closure of the project, should it not proceed.</p>

<p>The Government subsequently extended this underwrite, but reduced it to a maximum of &pound;9m. Any payments related to this would come from the DfT's part of the funding, after the current Mayor stated TfL would not contribute towards the underwriting from its funding allocation, or allocate further funds under his control to the project.</p>

<p>As financial administrator for the public sector funding, TfL has spent the last year reviewing the Trust's request for payment under the underwriting agreement, to ensure that the final cost from any part of the public purse is kept to a minimum.</p>

<p>The review has assessed the request in detail to ensure that any payment to a third party under the agreement is fully justified.</p>

<p>TfL has now concluded its review and confirmed that the final amount payable to the Trust is &pound;5.5m &#45; this will come from DfT funding, and include around &pound;500k for future liabilities and contingency associated with the formal wind-up of the Trust in accordance with Charity Commission requirements.</p>

<p>It is around 40 per cent lower than it could have been. This also means the final public sector spend will be around &pound;43m &#45; split between &pound;24m from TfL and &pound;19m from the DfT.</p>

<p>The Trust now has 120 days to request additional funding from the &pound;500k Government funded contingency, and TfL will continue to review any request that is made by the Trust during this time.</p>

<p>Following the 120 days, any contingency funds remaining will be returned to the DfT, and any future requests rising from additional financial liability will only be considered if they arise from events outside of the Trust's control.</p>

<p>All documents and assessments relating to the review of the underwriting have today been published online, as part of TfL's continuing commitment to transparency.</p>

<p>These documents include a full line-by-line breakdown of all expenditure on the project and the final breakdown of what the underwriting will be used for. TfL has also written to the Trust to confirm that it has formally ended its involvement with the project.</p>

<p>As part of the review of the assessment, TfL also sought independent legal advice from a leading QC, following concerns raised about whether the Trustees of the Garden Bridge Trust may have breached their legal duties.</p>

<p>This legal advice found that there is no reasonable prospect of TfL (or DfT) being legally able to either withhold future payments, or recover past payments, and this too has been published online as part of TfL's wider transparency commitment.</p>

<p>TfL also described the assessment process to its external auditors EY and has taken them through the evidence in detail.</p>

<p>Alex Williams, Director of City Planning at Transport for London (TfL) said: 'As part of our continuing commitment to transparency, we have published the final financial breakdown for the Garden Bridge project, on behalf of the Trust, as well as all evidence sought as part of this review.</p>

<p>'We worked to ensure that the cost to the public sector has been kept to a minimum, and having carefully reviewed the Garden Bridge Trust's request, we have now confirmed the final payment legally required under the terms of the underwriting agreement made by the Government.</p>

<p>'This formally ends our involvement with the project.'</p>

<p>All documents published by TfL relating to the Garden Bridge Trust project can be found at <a href="https://tfl.gov.uk/corporate/publications-and-reports/temple-footbridge">https://tfl.gov.uk/corporate/publications-and-reports/temple-footbridge</a></p>

<hr />
<p><strong>Notes to editors:</strong></p>

<ul>
	<li>The final breakdown of public sector funding is below:</li>
</ul>

<div class="table-container"><table align="left" border="2" cellpadding="1" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
			<td style="vertical-align:middle; width:61px">TfL</td>
			<td style="text-align:left; vertical-align:middle; width:313px">
			<p>Services in kind, covered under the funding agreement (primarily on securing planning permission, legal fees and TfL internal staff costs) prior to the Trust taking control of the project in November 2015</p>
			</td>
			<td style="vertical-align:middle; width:112px">
			<p>&pound;10.67m</p>
			</td>
		</tr>
		<tr>
			<td style="text-align:left; vertical-align:middle; width:61px">&nbsp;</td>
			<td style="text-align:left; vertical-align:middle; width:313px">
			<p>Grant payments as per schedule in the funding agreement</p>
			</td>
			<td style="vertical-align:middle; width:112px">
			<p>&pound;13.25m</p>
			</td>
		</tr>
		<tr>
			<td style="text-align:left; vertical-align:middle; width:61px">&nbsp;</td>
			<td style="text-align:left; vertical-align:middle; width:313px">
			<p><strong>TOTAL</strong></p>
			</td>
			<td style="vertical-align:middle; width:112px">
			<p><strong>&pound;23.92m</strong></p>
			</td>
		</tr>
		<tr>
			<td style="text-align:left; vertical-align:middle; width:61px">&nbsp;</td>
			<td style="text-align:left; vertical-align:middle; width:313px">&nbsp;</td>
			<td style="text-align:left; vertical-align:middle; width:112px">&nbsp;</td>
		</tr>
		<tr>
			<td style="vertical-align:middle; width:61px">DfT</td>
			<td style="text-align:left; vertical-align:middle; width:313px">
			<p>Grant payments as per schedule in the funding agreement</p>
			</td>
			<td style="vertical-align:middle; width:112px">&pound;13.45m</td>
		</tr>
		<tr>
			<td style="text-align:left; vertical-align:middle; width:61px">&nbsp;</td>
			<td style="text-align:left; vertical-align:middle; width:313px">
			<p>Underwriting agreement (Agreed payment)</p>
			</td>
			<td style="vertical-align:middle; width:112px">
			<p>&pound;5.00m</p>
			</td>
		</tr>
		<tr>
			<td style="text-align:left; vertical-align:middle; width:61px">&nbsp;</td>
			<td style="text-align:left; vertical-align:middle; width:313px">
			<p>Underwriting agreement (Contingency)</p>
			</td>
			<td style="vertical-align:middle; width:112px">
			<p>&pound;0.49m</p>
			</td>
		</tr>
		<tr>
			<td style="text-align:left; vertical-align:middle; width:61px">&nbsp;</td>
			<td style="text-align:left; vertical-align:middle; width:313px"><strong>TOTAL</strong></td>
			<td style="vertical-align:middle; width:112px">
			<p><strong>&pound;18.94m</strong></p>
			</td>
		</tr>
		<tr>
			<td style="text-align:left; vertical-align:middle; width:61px">&nbsp;</td>
			<td style="text-align:left; vertical-align:middle; width:313px">&nbsp;</td>
			<td style="text-align:left; vertical-align:middle; width:112px">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:left; vertical-align:middle; width:61px">&nbsp;</td>
			<td style="text-align:left; vertical-align:middle; width:313px">
			<p><strong>TOTAL PUBLIC SECTOR FUNDING</strong></p>
			</td>
			<td style="vertical-align:middle; width:112px">
			<p><strong>&pound;42.86m</strong></p>
			</td>
		</tr>
	</tbody>
</table></div>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<ul>
	<li>A&nbsp;timeline of TfL's involvement with the project is below:</li>
</ul>

<div class="table-container"><table align="left" border="1" cellpadding="1" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
			<td>
			<p>TfL prepares a briefing note for the then Mayor of London</p>
			</td>
			<td>
			<p>January 2013</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>Invitation to Tender for new pedestrian crossing between Temple and Southbank</p>
			</td>
			<td>
			<p>February 2013</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>Mini-competition for initial design concepts and consultancy services</p>
			</td>
			<td>
			<p>April 2013</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>Mayoral direction on Temple to Southbank footbridge development proposals <a href="https://www.london.gov.uk/decisions/md1248-temple-south-bank-footbridge-development-proposals#_blank">https://www.london.gov.uk/decisions/md1248-temple-south-bank-footbridge-development-proposals</a></p>
			</td>
			<td>
			<p>September 2013</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>Public consultation on proposals for a Garden bridge <a href="https://consultations.tfl.gov.uk/rivercrossings/garden-bridge/#_blank">https://consultations.tfl.gov.uk/rivercrossings/garden-bridge/</a></p>
			</td>
			<td>
			<p>November 2013</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>Planning permission sought</p>
			</td>
			<td>
			<p>May 2014</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>Mayoral direction on Garden Bridge proposals <a href="https://www.london.gov.uk/decisions/md1355-garden-bridge-development-proposals#_blank">https://www.london.gov.uk/decisions/md1355-garden-bridge-development-proposals</a></p>
			</td>
			<td>
			<p>June 2014</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>Planning permission secured</p>
			</td>
			<td>
			<p>December 2014</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>Mayoral Direction on Garden Bridge Guarantees <a href="https://www.london.gov.uk/decisions/md1472-garden-bridge-guarantees#_blank">https://www.london.gov.uk/decisions/md1472-garden-bridge-guarantees</a></p>
			</td>
			<td>
			<p>June 2015</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>Funding agreement between TfL, Garden Bridge Trust and DfT agreed. Project management transfers to Garden Bridge Trust (TfL to act as financial administrator for public sector funding)</p>
			</td>
			<td>
			<p>July 2015</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>Internal audit of TfL procurement processes in relation to the project.</p>
			</td>
			<td>
			<p>August 2015</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>Garden Bridge Trust award construction contract to Bouygues / Cimolai Joint Venture and inform TfL of their decision (resulting in additional payments as per funding agreement)</p>
			</td>
			<td>
			<p>February 2016</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>Report by the GLA Oversight Committee on the Garden bridge design procurement <a href="https://tfl.gov.uk/cdn/static/cms/documents/gla-oversight-garden-bridge-report.pdf#_blank">https://tfl.gov.uk/cdn/static/cms/documents/gla-oversight-garden-bridge-report.pdf</a></p>
			</td>
			<td>
			<p>March 2016 (TfL response published May 2016 <a href="https://tfl.gov.uk/cdn/static/cms/documents/commissioner-response-gla-oversight-report.pdf#_blank">https://tfl.gov.uk/cdn/static/cms/documents/commissioner-response-gla-oversight-report.pdf)</a></p>
			</td>
		</tr>
		<tr>
			<td>
			<p>Further Mayoral Direction on Garden Bridge Guarantees <a href="https://www.london.gov.uk/decisions/md1647-garden-bridge-guarantees#_blank">https://www.london.gov.uk/decisions/md1647-garden-bridge-guarantees</a></p>
			</td>
			<td>
			<p>April 2016</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>Underwriting agreement agreed by DfT to cover potential cancellation costs <a href="https://www.gov.uk/government/publications/garden-bridge-ministerial-direction#_blank">https://www.gov.uk/government/publications/garden-bridge-ministerial-direction</a></p>
			</td>
			<td>
			<p>May 2016</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>Mayor of London announces independent review of Garden Bridge project <a href="https://www.london.gov.uk/press-releases/mayoral/review-to-be-conducted-into-garden-bridge-project#_blank">https://www.london.gov.uk/press-releases/mayoral/review-to-be-conducted-into-garden-bridge-project</a></p>
			</td>
			<td>
			<p>September 2016</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>NAO publish report into investigation of DfT funding of the Garden Bridge project <a href="https://www.nao.org.uk/wp-content/uploads/2016/10/Investigation-the-Department-for-Transports-funding-of-the-Garden-Bridge.pdf#_blank">https://www.nao.org.uk/wp-content/uploads/2016/10/Investigation-the-Department-for-Transports-funding-of-the-Garden-Bridge.pdf</a></p>
			</td>
			<td>
			<p>October 2016</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>Margaret Hodge review publishes findings of independent review into the Garden Bridge project <a href="https://www.london.gov.uk/press-releases/mayoral/publication-of-garden-bridge-review#_blank">https://www.london.gov.uk/press-releases/mayoral/publication-of-garden-bridge-review&nbsp;</a></p>
			</td>
			<td>
			<p>April 2017 (TfL response published in July 2017 - <a href="https://tfl.gov.uk/corporate/publications-and-reports/board-papers/2017-board-papers#_blank">https://tfl.gov.uk/corporate/publications-and-reports/board-papers/2017-board-papers )</a></p>
			</td>
		</tr>
		<tr>
			<td>
			<p>Mayoral Direction revoking of approvals in respect of the Garden bridge project <a href="https://www.london.gov.uk/decisions/md2120-revoking-approvals-respect-garden-bridge-project#_blank">https://www.london.gov.uk/decisions/md2120-revoking-approvals-respect-garden-bridge-project</a></p>
			</td>
			<td>
			<p>May 2017</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>Garden Bridge Trust confirm project is now no longer proceeding <a href="https://web.archive.org/web/20171008160342/https:/www.gardenbridge.london/news/article/garden-bridge-trust-announces-the-closure-of-the-project">https://web.archive.org/web/20171008160342/<br />
			https:/www.gardenbridge.london/news/article/garden-bridge-trust-announces-the-closure-of-the-project</a></p>
			</td>
			<td>
			<p>August 2017</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>TfL completes review of Garden Bridge trusts request for underwriting and confirms final costs towards project</p>
			</td>
			<td>
			<p>February 2019</p>
			</td>
		</tr>
	</tbody>
</table></div>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-February-Transport for London publishes detailed final cost of the undelivered Garden Bridge project -->

 
 
        
        
            @{ViewBag.Description = "Transport for London publishes detailed final cost of the undelivered Garden Bridge project";}
        
        


 