


@{ViewBag.Title = "Travel advice ahead of Croydon tram strike on 28 March";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Travel advice ahead of Croydon tram strike on 28 March</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Travel advice ahead of Croydon tram strike on 28 March</h1>
        <div class="content-page-press-release">
        25 March 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Dispute is between operator Tram Operations Limited (TOL) and ASLEF union
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We urge ASLEF and TOL to continue discussions and settle their dispute without disrupting customers' journeys. If this strike goes ahead, we are planning to run a limited service between Wimbledon and East Croydon, and will ensure customers have all the information they need to re-plan their journeys"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mark Davis</div>
            <div class="quotee-job-title"> General Manager for London Trams, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Contingency plan in place to operate a limited service between Wimbledon and East Croydon only, with first trams of the day running through to New Addington to support early shift workers</li>
	<li>Customers advised to check before they travel at tfl.gov.uk/tram-strike, using &#64;LondonTram, &#64;TravelAlerts, &#64;TfLTrafficNews and &#64;TfLBusAlerts and to allow extra time for their journeys</li>
</ul>

<p>Services on the London Tram network will be affected by a strike called by the ASLEF trade union on Thursday 28 March. The union are in dispute with Tram Operations Limited (TOL), a subsidiary of FirstGroup, which operates the tram network and directly employs the drivers.</p>

<p>From 00.01 to 23.59 on Thursday, services will be reduced with a contingency plan in place to operate at roughly eight minute intervals between 07:00 and 20:00 between Wimbledon and East Croydon only. In the early morning and after 20:00, the service will operate at around 15 minute intervals between these stops. The first two trams of the day will, however, run from Therapia Lane to New Addington and back to Wimbledon to support early shift workers in the area Services will resume as normal from Friday morning.</p>

<p>Customers are advised to check before they travel and leave extra time for their journeys. Information on services and alternative travel options will be published on the TfL website at <a href="[ioID]#www.tfl.gov.uk/tram-strike">www.tfl.gov.uk/tram-strike</a>. Extra buses will run along selected routes and TfL Travel Ambassadors will be on hand at key locations to provide information and advice to customers.</p>

<p>Mark Davis, TfL's General Manager for London Trams, said:</p>

<p>'We urge ASLEF and TOL to continue discussions and settle their dispute without disrupting customers' journeys. If this strike goes ahead, we are planning to run a limited service between Wimbledon and East Croydon, and will ensure customers have all the information they need to re-plan their journeys.'</p>

<p>Customers can keep up-to-date on the status of their services in a range of ways, including:</p>

<ul>
	<li>Up-to-date information on the TfL website at <a href="[ioID]#www.tfl.gov.uk/tram-strike">www.tfl.gov.uk/tram-strike</a></li>
	<li>Travel alerts through Twitter on &#64;LondonTram, &#64;TfLTravelAlerts, &#64;TfLTrafficNews and &#64;TfLBusAlerts, and through the TfL Travelbot on Facebook messenger</li>
</ul>

<p>&nbsp;</p>

<hr />
<p>Notes to Editors:</p>

<ul>
	<li>The London Tram network is operated by Tram Operations Limited (TOL), a subsidiary of transport operator FirstGroup, on behalf of Transport for London.</li>
	<li>The first two services of the day will start from Therapia Lane (departing 04.11 and 04.26) and travel through to New Addington (arriving 04.49 and 05.04), before travelling back to Wimbledon (departing 04.56 and 5.11).</li>
	<li>No services will run between East Croydon and Beckenham Junction, Elmers End, Addington Village and New Addington (apart from the first two early morning services to New Addington).</li>
</ul>

<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-March-Travel advice ahead of Croydon tram strike on 28 March -->

 
 
        
        
            @{ViewBag.Description = "Travel advice ahead of Croydon tram strike on Thursday 28 March";}
        
        


 