


@{ViewBag.Title = "Travel advice for customers ahead of planned Tube strike by RMT and TSSA unions";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Travel advice for customers ahead of planned Tube strike by RMT and TSSA unions</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Travel advice for customers ahead of planned Tube strike by RMT and TSSA unions</h1>
        <div class="content-page-press-release">
        05 January 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">



 <div class="on-this-page">
<p>Transport for London (TfL) is advising customers that there will be a severely reduced service across the network on Sunday evening and all day on Monday should strike action currently planned by the RMT and TSSA unions go ahead.</p>
<p>Station staff who are members of the unions are currently planning to strike from 18.00 on Sunday 8 January for 24 hours. This would mean severely reduced services on Monday. TfL will try to run as many services as possible, but customers are advised to complete their journeys by 18.00 on Sunday, and that most Zone 1 stations are likely to be closed throughout the action.</p>
<p>Although National Rail services would not be affected by the strike there would be no Underground services from key interchange stations such as Victoria, King's Cross, Waterloo, Paddington, Euston, Bank and London Bridge.</p>
<p>Piccadilly line services would still run between Hammersmith and Heathrow Terminals 1, 2 and 3, but there would be no service to Terminals 4 or 5.  There would be no service at all on the Victoria or Waterloo &amp; City lines, and all other lines would be severely affected with limited services in outer London.</p>
<p>For customers travelling to Canary Wharf from central London, Docklands Light Railway (DLR) services will be running, however they will be busier than usual. River services will also link central London and Canary Wharf.</p>
<p>Customers using the DLR are being advised that there may be changes to services towards Bank, with trains instead terminating at Shadwell or Tower Gateway.</p>
<p>Should the strike go ahead, buses, roads and rail services are expected to be much busier than usual, particularly those bus routes serving major interchange stations. TfL will be deploying Travel Ambassadors in order to help customers get around the city, over 100 extra buses will be deployed to enhance existing routes and river services will also be enhanced.</p>
<p>There will be posters, digital boards and announcements in stations to keep people informed of the latest level of service and all customers are advised to check before they travel at <a href="http://tfl.gov.uk/tube-strike">tfl.gov.uk/tube-strike</a> and use the live update services &#64;TfLTravelAlerts, &#64;TfLTrafficNews and &#64;TfLBusAlerts on Twitter.</p>
<p>TfL remains in constructive discussions with both unions in order to try to resolve the dispute, which centres around the ticket office closure programme that was completed in early 2016.</p>
<p>A recent independent review of the programme by London TravelWatch, commissioned by the Mayor of London, Sadiq Khan, found that steps need to be taken to ensure that customers continue to receive the service and support that they need. TfL has committed to addressing the recommendations in the report by London Travelwatch and has started this process, working with the unions to review the staffing model and put more station staff roles back in where needed.</p>
<p>Steve Griffiths, London Underground's Chief Operating Officer, said: `We have always committed to reviewing our new staffing model with our trade unions during its first year, and following the review by London TravelWatch we established a joint working group to undertake that review and make any changes necessary.</p>
<p>`It is clear that some more staff for stations are needed. We have started to recruit them and will continue to work with the unions to implement the recommendations made in the review.  We believe that this will help us to provide a better service for our customers and ensure that they continue to feel safe, secure and able to access the right help while using our network.</p>
<p>`We encourage the trade unions to continue working with us in order to resolve this dispute and deliver the customer service our customers expect.'</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-January-Travel advice for customers ahead of planned Tube strike by RMT and TSSA unions -->

 
 


 