


@{ViewBag.Title = "Travel advice for customers ahead of planned strikes by RMT union";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Travel advice for customers ahead of planned strikes by RMT union</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Travel advice for customers ahead of planned strikes by RMT union</h1>
        <div class="content-page-press-release">
        02 December 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">

    <div class="article-teaser">
        Strike action planned on the Circle, Hammersmith & City and Piccadilly lines from late evening on Tuesday 6 and all day Wednesday 7 December
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) is advising customers that strike action may take place on the Circle, Hammersmith &amp; City and Piccadilly lines on Tuesday evening and all day Wednesday next week.</p>
<p>Some drivers on these lines who are RMT union members are planning to strike from 21:30 on Tuesday 6 December. TfL will run as many services as possible, depending on how many employees are available. However, customers are advised to plan      for no Piccadilly line service and a significantly reduced service on the Circle and Hammersmith &amp; City lines until the end of the day on Wednesday 7 December.</p>
<p>For customers travelling between Heathrow Airport and central London, Heathrow Connect and Heathrow Express services will be available to and from London Paddington station. Enhanced bus services will run to help Londoners get around, including a shuttle bus service between Hammersmith and Heathrow Airport. All other TfL services will be operating as normal.</p>
<p>London Underground (LU) is currently in discussion with the RMT union regarding both disputes. The vote for strike action from members for both disputes was extremely low &#45; on the Piccadilly line only 168 drivers out of 408 voted for strike action, and on the Circle and Hammersmith &amp; City lines only 43 out of 265 drivers voted for of strike action.</p>
<p>In response to the RMT's concerns about local-level issues on the Piccadilly line, LU has already reached a number of agreements with the RMT to resolve the dispute, meaning that there is no need for the RMT to disrupt customers.</p>
<p>The dispute with the RMT on the Circle and Hammersmith &amp; City lines centres around a minority of drivers, who are taking breaks of an hour or more and calling them &quot;toilet breaks&quot;. This leads to the cancellation of some trains, which has a direct and unfair impact on Tube customers. TfL is still waiting for the RMT's response to its proposals in order to end that dispute, making strike action premature.</p>
<p>Steve Griffiths, London Underground's Chief Operating Officer, said: `We urge the RMT leadership to work with us constructively on the issues it has raised rather than disrupt our customers with strikes. We will continue to speak to the RMT union to try to resolve the issues, but if the strike does go ahead our customers are advised to check our website and social media feeds for the latest information. All other Tube lines and other TfL services will be operating as normal and we'll be making sure that everyone has the information they need to plan ahead.'</p>
<p>If the strikes go ahead, customers are advised to complete their journeys on the affected lines by 19:00 on Tuesday, and to travel earlier if possible. On Wednesday, customers are advised to seek alternative routes and allow plenty of time for their journeys, especially if travelling to and from Heathrow Airport.</p>
<p>Customers are being advised to plan for no service on the Piccadilly line throughout the strike. However, there will be a significantly reduced service on the Circle and Hammersmith &amp; City lines between Hammersmith and Moorgate; first trains will start later and last trains will leave earlier. The Circle and Hammersmith &amp; City lines are expected to be extremely busy, especially at peak times, and may be subject to short-notice cancellations. Customers travelling between Hammersmith and Edgware Road via Shepherd's Bush Market are strongly advised to take alternative Tube, bus or cycle routes.</p>
<p>Interchange stations and lines &#45; the District line and Finsbury Park, Victoria and Westminster stations in particular &#45; will be much busier than usual. Services on other Tube and rail lines, the bus network and river will run as normal but are expected to be busy as passengers seek alternative routes.</p>
<p>Roads in west, central and east London will be busier than usual, in particular the A4 and M4 to Heathrow and A11, A13 and A12. There may also be delays along Victoria Embankment due to urgent National Grid repairs.</p>
<p>Enhanced bus services will run to help Londoners get around, including a shuttle bus service between Hammersmith and Heathrow Airport. Buses do not accept cash, so customers will need to use their contactless debit or credit card, Oyster or bus &amp; tram pass to continue their journeys.</p>
<p>Southern Railway will also be impacted by industrial action on Tuesday 6 December. However, the strike is expected to have a minimal impact on TfL services.</p>
<p>TfL will be deploying Travel Ambassadors to help customers get around, and there will be posters and announcements at stations keeping people informed of the latest levels of service. TfL is advising all customers to check before they travel at <a href="http://tfl.gov.uk/tube-strike">tfl.gov.uk/tube-strike</a> and follow &#64;TfLTravelAlerts, &#64;TfLTrafficNews and &#64;TfLBusAlerts on Twitter.</p>
<p>ENDS</p>
<p>Notes to Editors:</p>
<p>Piccadilly line</p>
<ul>
    <li>Only 168 drivers out of 408 polled voted for strike action.</li>
    <li>Ballot closed with a 49 per cent turn out; 41 per cent of those polled voted in favour of industrial action and 43 per cent of those polled voted in favour of action short of a strike.</li>
</ul>
<p>Hammersmith &amp; City line</p>
<ul>
    <li>Only 43 out of 265 drivers voted in favour of strike action.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-December-Travel advice for customers ahead of planned strikes by RMT union -->

 
 


 