


@{ViewBag.Title = "Victoria line celebrates 50 years of serving London";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Victoria line celebrates 50 years of serving London</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Victoria line celebrates 50 years of serving London</h1>
        <div class="content-page-press-release">
        30 August 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Anniversary of the first phase of the Victoria line, which ran from Walthamstow Central to Highbury & Islington
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Victoria line has been a key part of London's transport network for 50 years and it's amazing to think how many billions of journeys have been made in its history"</div>
        <div class="quote-footer">
            <div class="quotee-name">Frank Ibe</div>
            <div class="quotee-job-title">Head of Line Operations for the Victoria line</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>The line opened on Sunday 1 September 1968 with the first train leaving Walthamstow Central for Highbury &amp; Islington at around 06:30 am</li>
    <li>50th anniversary coincides with the renovation of Blackhorse Road station</li>
</ul>
<p>TfL will this week mark the date when the Victoria line first began service 50 years ago. The line, which was extended further south in the following two years before being completed at Pimlico in 1972, has been providing vital transport access to residents, visitors and businesses ever since.</p>
<p>At the time it opened, the Victoria line was London's first new line since the Central line in 1907. The construction of the line started in 1960 following Parliament approving the construction in 1955. Most of the tunnels had been finished by 1966, and the first stations opened in 1968.</p>
<p>An array of events celebrating the anniversary starts this weekend. Heritage displays and handouts will tell the story of the line's history, while Cultural Tube maps, highlighting a range of fun places to visit along the line, have also been placed at stations along the route. The handouts include details of the official opening of Victoria Tube station on 7 March 1969, when Queen Elizabeth II unveiled a commemorative plaque. She then took the Victoria line to Green Park, becoming the only reigning monarch to ever use the Tube.</p>
<p>The anniversary coincides with the completion of works at Blackhorse Road station, which serves 15 million customer journeys every year. The station has benefited from an &pound;900,000 investment from TfL and the London Borough of Waltham Forest, designed to improve the ambience of the rear entrance and ticket hall area.</p>
<p>Today, the Victoria line operates 36 trains per hour at the busiest times, with 100 seconds between trains. This means that over 250 million passengers each year are served by the most frequent train service in the UK and second most frequent in the world. Pay as you go fares along the line start from &pound;2.40 for journeys through Zone 1, and are just &pound;1.50 for journeys outside Zone 1 during off-peak hours. The Victoria line also operates Night Tube services on a Friday and Saturday, providing a quick and affordable way to travel across London at night.</p>
<p><strong>Frank Ibe, Head of Line Operations for the Victoria line said:</strong> &quot;The Victoria line has been a key part of London's transport network for 50 years and it's amazing to think how many billions of journeys have been made in its history. When it opened, the Victoria line was one of the most modern subways in the world and, thanks to the recent improvements, it still sets the standard for the rest of the world today.&quot;</p>
<p><strong>David Lammy, MP for Tottenham, said:</strong> &quot;The Victoria line has served as the beating vein between Tottenham, Haringey and the rest of London, ever since it opened 50 years ago. Throughout my life, it has allowed the people of our constituency to access work, education and culture across the capital. With the recent modernisation and the improvements still being made, I look forward to the Victoria line benefitting people in my constituency and across London for years to come.&quot;</p>
<p><strong>Leader of Waltham Forest Council, Clare Coghill said:</strong> &quot;We'd like to wish the Victoria line a very happy 50th birthday! The Victoria line has been instrumental in connecting Waltham Forest to central London. It has helped millions of residents get to work, helped local businesses thrive and opened the borough up to visitors from London and further afield. Next year it will be play a key role in helping Londoners visit us for the first Borough of Culture celebrations. We look forward to the next 50 years and beyond!&quot;</p>
<p>As well as improving frequency and reliability using the latest technology, the Mayor and TfL are determined to improve the accessibility of the Tube network. The Victoria line has been upgraded with a number of improvements in recent years, with platform humps being installed to provide level access at a number of stations. Vauxhall Tube station is now fully step-free, and improvements at Victoria Tube station will deliver step-free access there later this year.</p>
<p>The line upgrades are at the core of TfL's investment programme, which will deliver more than a 30% increase in capacity. The upgrade programme is being delivered over the coming years, with work on upgrades to the Circle, District, Hammersmith &amp; City and Metropolitan lines well underway.</p>
<p>On 21 September, the six original stations Walthamstow Central, Blackhorse Road, Tottenham Hale, Seven Sisters, Finsbury Park &amp; Highbury and Islington will be participating in Open House London. Tours, led by TfL staff were filled within hours of being publicised, and attendees will have a chance to learn about the architectural and operational heritage of the line.</p>
<p> </p>
<hr />
<p> </p>
<ul>
    <li><strong>Notes to editors</strong><br />
    Last month, TfL launched its new campaign to encourage people to &quot;Tap into the Wonderful World of Off-Peak&quot; and explore the wide range attractions, hidden gems and unknown curios across London &#45; <a href="https://tfl.gov.uk/info-for/media/press-releases/2018/august/londoners-encouraged-to-embrace-the-wonderful-world-of-off-peak-this-summer">https://tfl.gov.uk/info-for/media/press-releases/2018/august/londoners-encouraged-to-embrace-the-wonderful-world-of-off-peak-this-summer</a></li>
    <li>In partnership with Time Out, TfL has also expanded its range of cultural maps, which suggest everything from museums to parks and farms that you can visit all within a short walk or bus ride from Tube or London Overground stations - <a href="https://www.timeout.com/london/things-to-do/the-cultural-tfl-map">https://www.timeout.com/london/things-to-do/the-cultural-tfl-map</a></li>
    <li>Waltham Forest is the London Borough of Culture 2019</li>
    <li>Improvements to Blackhorse Road include new LED lighting and heritage posters which will add to the look and feel of the station for customers. Accessibility has also been improved with new external handrails to provide support for disabled customers and new external paving to ensure an even surface.</li>
    <li>The Victoria line was extended to Vauxhall, Stockwell and Brixton in July 1971, and finally to Pimlico Tube station a year later. </li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-August-Victoria line celebrates 50 years of serving London -->

 
 
        
        
            @{ViewBag.Description = "Victoria line celebrates 50 years of serving London";}
        
        


 