


@{ViewBag.Title = "Victims speak out during Vision Zero Week";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Victims speak out during Vision Zero Week</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Victims speak out during Vision Zero Week</h1>
        <div class="content-page-press-release">
        22 July 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        'Know My Name'campaign shares the stories of five victims of road trauma to communicate the impact it has on people's lives
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Too many lives and communities in London are blighted by road trauma. We must see this for the issue it is and do everything we can to prevent this devastation from happening"</div>
        <div class="quote-footer">
            <div class="quotee-name">Stuart Reid</div>
            <div class="quotee-job-title">Director of Vision Zero, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>In 2018, the number of people killed on London's roads fell to the lowest level on record from 131 in 2017 to 111 in 2018. While this decrease is welcomed, even one death or serious injury is one too many</li>
	<li>Vision Zero aims to eliminate death and serious injury on the transport network by 2041</li>
	<li>Since launching the Vision Zero Action Plan one year ago in London, TfL, the Met, City of London Police and many boroughs and organisations in London have been working towards helping to achieve the goal. However, much more needs to be done</li>
</ul>

<p>One year on from the launch of the Vision Zero Action Plan, which outlines how the Mayor of London, Transport for London (TfL) and the Metropolitan Police (the Met) are working to eliminate death and serious injury on London's streets, victims of road collisions are speaking out about the devastation they have experienced, to coincide with Vision Zero Week which runs from 22 &#45; 28 July.</p>

<p>In 2018, the number of people killed on London's roads fell to the lowest level on record, from 131 in 2017 to 111 in 2018. While this decrease is welcomed, a new campaign launching today, 'Know My Name', shares the stories of five victims of road trauma to communicate the impact it has on people's lives and our shared conviction that even one death or serious injury is one too many.</p>

<p>There is a culture that regards death and serious injury on our roads as inevitable. TfL and the Met refuse to accept that and instead are working to eliminate death and serious injury on the transport network by 2041.</p>

<p>Since launching the Vision Zero Action Plan one year ago in London, TfL, the Met, City of London Police and many boroughs and organisations in London have been working towards helping to achieve the goal. This includes transforming London's most dangerous junctions, increasing enforcement against reckless and dangerous motorists who put lives at risk, tackling rogue operators and developing a new standard that seeks to remove the most dangerous HGVs from London's roads, building protected cycle lanes, lowering speed limits and accelerating uptake of speed limiting technology and behaviour change initiatives including Junior Roadwatch, where children stop speeding motorists outside schools. However, much more needs to be done.</p>

<p>Stuart Reid, TfL's Director of Vision Zero said:</p>

<p>'Reducing the number of people dying or being seriously injured on our transport network to zero by 2041 is an ambitious target. However when you think about the people who make up these numbers &#45; someone's father, daughter, sister, husband or child &#45; how can we strive to achieve anything other than zero?</p>

<p>'Too many lives and communities in London are blighted by road trauma. We must see this for the issue it is and do everything we can to prevent this devastation from happening. So much work has gone into Vision Zero already this year, but we all have so much more to do and we won't stop until we achieve Vision Zero.'</p>

<p>While the number of people dying on our roads is down, those seriously injured is up from 3,750 in 2017 to 3954 in 2018. A disproportionate number of people walking (49 per cent), and riding motorcycles (20 per cent), are among those killed and TfL, the Met and City of London Police are focusing efforts on making the roads safer for these groups. Official collision statistics for London will be released on Thursday 25 July, in line with the publication of national statistics by the Department for Transport.</p>

<p>The 'Know My Name' campaign helps people understand that each statistic has a story. TfL will share the experiences of people whose lives have been devastated by road trauma and encourages the public to independently share their experiences on social media using #KnowMyName.</p>

<p>The five Vision Zero advocate stories captured on video include:</p>

<ul>
	<li>Jack, who was walking with his friends when a speeding car hit them, killing two of his friends and leaving Jack seriously injured and having to learn to walk and talk again</li>
	<li>Geoff, whose wife was killed when she was hit by a large goods vehicle while cycling six years ago</li>
	<li>Ronke, who was seriously injured and lost her leg, when an out of control driver careered onto the foot path and hit her while she was waiting to cross a road</li>
	<li>Sarah, whose mother died and two year old daughter lost her leg when they were hit by a bus</li>
	<li>A driver, who was involved in a collision which led to a person dying and the effect of this collision on their own life</li>
</ul>

<p>Vision Zero Week will also highlight the work underway by TfL, the Met and City of London Police to achieve Vision Zero, as well as the commitment of many other delivery partners, including London's boroughs, campaign groups, bus operators and industry groups.</p>

<p>Chief Superintendent Colin Wingrove, in charge of the Met's Road and Transport Policing Command, said:</p>

<p>'Every death and serious injury on London's roads is a tragedy that can be avoided. Everyday my officers attend the scenes of collisions where vehicles were travelling too fast, drivers were taking unnecessary risks, have taken drink or drugs, were distracted by using mobile phones, or where people were not wearing seat belts. In too many cases there is dangerous driving, a serious criminal offence, which is one of the most selfish crimes in our country leaving the families of victims devastated.</p>

<p>'One year on since the launch of Vision Zero, and the Met remains fully committed to enforcing the law and taking action to educate the public. Recent operations, working with TfL in locations around London such as the A10 and A12 have highlighted the risks some drivers pose to themselves and other road users in the speed and manner of driving. We have taken significant enforcement action, with public support, and will continue to do so here and elsewhere to make these roads safer.'</p>

<p>Victoria Lebrec, crash victim and RoadPeace's Campaign Coordinator, said:</p>

<p>'Giving victims a voice is so, so important. As a society we are complacent about the number of people killed and seriously injured on our roads. We think it could never happen to us &#45; but it's happening on a daily basis in London. Giving Londoners who have been affected by road danger a platform is the best way to remind us that the danger is very real.</p>

<p>'Transport for London should be commended for the work they have done in the first year since launching Vision Zero. There's a long way to go, but the commitment they have shown to eliminating all death and serious injury in London is amazing.'</p>

<p>Joshua Harris, Brake's Director of Campaigns, said:</p>

<p>'Every single death and serious injury on the road is a preventable tragedy, causing devastation to individuals, families and often whole communities. We have a duty to tell the stories of the victims and their suffering compels us to reach for zero. We are proud to be working alongside TfL to achieve Vision Zero and urge other regions, and the Government, to follow their lead.</p>

<p>'Road death and serious injury is sudden and traumatic, leaving victims in urgent need of emotional and practical support. Brake's confidential, freephone helpline - 0808 8000 401 &#45; is on hand to support all bereaved and seriously injured road victims through what is often the most difficult period of their life.'</p>

<p>Jeremy Leach, 20's Plenty for Us's London Campaign Co-ordinator, said:</p>

<p>'Speeding vehicles have huge impact on all of us. Speed is a factor in almost two-fifths of all serious and fatal road casualties. Reducing vehicle speeds to a maximum of 20mph in built-up areas helps bring casualties down by more than 40 per cent. It is vital that speed limiters are brought in on all new vehicles as soon as possible. These along with enforcement and better road design can play a major role in ensuring that London's roads and streets are free from the danger and intimidation speeding vehicles cause.'</p>

<p>Stephen Edwards, Living Streets' Director of Policy and Communications, said: &nbsp;</p>

<p>'A quarter of all trips in London are made by people on foot and yet they account for over half of the fatalities on our roads (56 per cent 2017 data).&nbsp; We need to see many more measures which protect people walking. &nbsp;</p>

<p>'20mph speed limits, streets free from parked cars and effective crossings will keep people walking safe and encourage others to choose this cleaner and healthier way to travel. &nbsp;</p>

<p>'A partnership approach is vital if this vision is to be realised, so it's encouraging to see the Mayor, TfL, boroughs and the Met continuing to work together to deliver this safe system approach.'</p>

<p>Christopher Snelling, Freight Transport Association's Head of UK Policy, said:</p>

<p>'FTA and its members fully support the Mayor of London's ambition to achieve zero vehicular harm by 2041; it is unacceptable that anyone should suffer serious injury or even death due to road trauma. The freight industry takes road safety extremely seriously, but it is important that all road users share the responsibility and play their part; a collaborative approach is essential. &nbsp;</p>

<p>'From FTA's point of view, there are three solutions that could help fast-track zero vehicular harm in the capital: advances in vehicle safety technology, implementing smarter road design, and retiming deliveries to quieter periods. We will work closely with TfL to help ensure individuals and their families &#45; including the drivers themselves &#45; will never have to suffer the devastating effects of road trauma.'</p>

<hr />
<p>Notes to editors:</p>

<p>Videos and other assets from the 'Know My Name' campaign, featuring the stories of five victims of road trauma are available upon request. Kindly contact us for permission and access.</p>

<p><strong>About Vision Zero</strong><br />
In July 2018 the Mayor, TfL and Metropolitan Police launched a bold Vision Zero Action Plan to end the toll of deaths and serious injuries on London's streets. Each year more than 4,000 people are killed or seriously injured on London's streets, taking a devastating toll on the people involved, their families and communities across the capital.</p>

<p>Working with the Met Police and London boroughs, TfL's radical 'Vision Zero' approach starts from the premise that no death or serious injury on London's roads is acceptable or inevitable. To get closer to our Vision Zero ambition, a number of challenging interim targets have been set. By 2022, the aim is to reduce the number of people killed or seriously injured on London's roads by 65 per cent with no-one being killed on or by a bus by 2030, on the road to Vision Zero in 2041.</p>

<p>Work to achieve Vision Zero includes:</p>

<ul>
	<li>Safer Junctions scheme &#45; TfL's Safer Junctions programme, is making life-saving changes to 73 junctions across the capital and work has been completed at 30 junctions already, resulting in a 26 per cent reduction in collisions so far. Consultations on six more opened in the last month, which TfL hopes to begin work on in the coming year. Around 75 per cent of collisions happen at junctions, which is why this scheme is so important</li>
	<li>Junior Roadwatch &#45; A road safety scheme, which sees speeding drivers questioned by schoolchildren, alongside the police, launched in early June with 32 motorists stopped for speeding in just 90 minutes. Further details available here: <a href="[ioID]#tfl.gov.uk/info-for/media/press-releases/2019/june/kids-take-action-on-speeding-drivers-as-part-of-child-safety-week">tfl.gov.uk/info-for/media/press-releases/2019/june/kids-take-action-on-speeding-drivers-as-part-of-child-safety-week</a></li>
	<li>Policing activity &#45; In the last year, the police have ramped up enforcement against drivers who cause risk on the road by speeding, driving while using a mobile phone, driving carelessly or in unsafe vehicles. This has resulted in hundreds of arrests and thousands of cars seized</li>
	<li>Direct Vision Standard &#45; TfL is working to remove the most dangerous lorries from London's roads. Direct Vision has been incorporated into the European Commission's General Safety Review, meaning it will be required across Europe. In three months' time, the first Safety Permits as part of the scheme, will become available</li>
	<li>Bus Safety Standard &#45; Buses with additional and enhanced safety requirements, such a safe speed-limiting technology and additional mirrors and cameras, will be entering London's fleet later this year as part of TfL's Bus Safety Standard</li>
	<li>Cycling infrastructure &#45; In just three years since 2016, TfL and the Mayor have doubled the amount of protected cycling infrastructure built in the capital, with 116 kilometres of protected cycle lanes now complete or under construction in London</li>
	<li>20mph &#45; TfL is planning to lower speeds on 8.9km of TfL roads in central London by next year and our consultation has closed with around 2,000 responses. Further details here: <a href="[ioID]#london.gov.uk/info-for/media/press-releases/2019/june/londoners-asked-for-views-on-plans-for-lower-speed-limits">london.gov.uk/info-for/media/press-releases/2019/june/londoners-asked-for-views-on-plans-for-lower-speed-limits</a></li>
</ul>

<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-July-Victims speak out during Vision Zero Week -->

 
 
        
        
            @{ViewBag.Description = "Victims speak out about devastation caused by road trauma during Vision Zero Week";}
        
        


 