


@{ViewBag.Title = "Victoria Tube station upgrade delivers quicker journeys";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Victoria Tube station upgrade delivers quicker journeys</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Victoria Tube station upgrade delivers quicker journeys</h1>
        <div class="content-page-press-release">
        25 January 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New Wilton Road entrance and bigger South ticket hall improve access
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This major project is significantly improving journeys for the tens of millions of Londoners and visitors who use the station every year, and is a great example of the work we are doing to improve our transport network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Val Shawcross</div>
            <div class="quotee-job-title">Deputy Mayor for Transport</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Tube's third busiest station will almost double in size once upgrade work is fully completed</li>
</ul>
<p>Transport for London (TfL) has opened a new entrance and revealed an enlarged south ticket hall at Victoria Tube Station as part of a project which will double the size of the station when finally completed this year.</p>
<p>The new entrance at Wilton Road will allow easier access into the south ticket hall and mean that Tube customers no longer have to enter via the busy Victoria mainline station. The ticket hall, which is approximately twice as large as before, will give customers less congested and more pleasant journeys through the station.</p>
<p>As well as doubling the size of the Tube's third busiest station, once complete these major works will also provide step-free access to the three lines which serve it, ease congestion and improve journeys for customers. More than 82 million customers use Victoria Tube station each year.</p>
<p>The improvements are part of the Mayor of London's commitment to modernising public transport and reducing dependency on the car, which will help make London a greener and healthier place.</p>
<p>Deputy Mayor for Transport Val Shawcross said: </p>
<p>'This opening of a new entrance and larger south ticket hall are key moments in a modernisation programme that is making Victoria Tube station easier to use and accessible to all.</p>
<p>This major project is significantly improving journeys for the tens of millions of Londoners and visitors who use the station every year, and is a great example of the work we are doing to improve our transport network.'</p>
<p>Mark Wild, Managing Director of London Underground, said: </p>
<p>'Tens of thousands of customers use Victoria Tube station each day and we know they have all been looking forward to the improved access and reduced congestion that this modernisation work will bring.</p>
<p>The much-improved station is another example of how we are encouraging more Londoners onto public transport by making it seamless and more convenient to use. We are now focussed on the next and final part of this huge modernisation programme, which will make the station completely accessible for everyone next year.'</p>
<p>Ruth Duston, CEO of Victoria BID said: </p>
<p>'As Victoria continues to grow and evolve into one of London's most exciting districts and economic centres, more pressure is put on the already busy transport infrastructure. This substantial investment and improvement programme at the underground station is therefore going to have a hugely positive impact on commuters and visitors.'</p>
<p>The complex &pound;700m modernisation project will be completed in summer 2018 when step-free access to the south ticket hall and the Circle and District lines is installed, and all of the new passageways linking the station together are finished.</p>
<p>This work will see Victoria become yet another central London station to be made step-free following on from Bond Street late last year and the seventy-third step-free station in total. Completion of the project will bring the Underground closer to the Mayor's target for 40 per cent of the network to be step-free by 2022.</p>
<p>As part of plans to modernise the Victoria line, TfL completed a multi-million pound signalling upgrade last year.  Since May 2017, Victoria line customers have been benefitting from a train arriving at platforms every 100 seconds during the busiest times - making the line one of the most intensive metro services anywhere in the world and increasing its capacity by an extra 3,000 customers an hour.</p>
<hr />
<br />
Notes to Editors:<br />
<ul>
    <li>To find out more about the Victoria Station upgrade, please visit <a href="https://tfl.gov.uk/travel-information/improvements-and-projects/victoria">https://tfl.gov.uk/travel-information/improvements-and-projects/victoria</a></li>
    <li>The five busiest Tube stations are: Waterloo, King's Cross St Pancras, Victoria and Oxford Circus and Liverpool Street.</li>
    <li>More photos are available here - <a href="https://www.flickr.com/photos/tflpress/albums/72157691882260144">https://www.flickr.com/photos/tflpress/albums/72157691882260144</a></li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-January-Victoria Tube station upgrade delivers quicker journeys -->

 
 
        
        
            @{ViewBag.Description = "Victoria Tube station upgrade delivers quicker journeys for customers";}
        
        


 