


@{ViewBag.Title = "Vital Northern Line Extension work means Bank branch trains will not stop at Kennington from May to September";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Vital Northern Line Extension work means Bank branch trains will not stop at Kennington from May to September</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Vital Northern Line Extension work means Bank branch trains will not stop at Kennington from May to September</h1>
        <div class="content-page-press-release">
        15 February 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Bank branch trains will not stop at Kennington station from Saturday 26 May until mid-September 2018
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Running Bank branch trains through Kennington without stopping will allow us to build the additional passageways we need in the quickest and least disruptive way possible, and are essential to enable customers to access the new Northern Line Extension when it opens"</div>
        <div class="quote-footer">
            <div class="quotee-name">Stuart Harvey</div>
            <div class="quotee-job-title">TfL's Director of Major Projects</div>
        </div>
</div>

 <div class="on-this-page">
<p>Northern line customers are advised that from Saturday 26 May until mid-September Bank branch trains will not stop at Kennington to allow four new customer passageways to be built as part of work on the Northern Line Extension.</p>
<p>Once complete, the passageways will make it quicker and easier for customers to change between different branches of the Northern line at Kennington, and will be essential for those using the new Northern Line Extension from Kennington to Battersea Power Station, which is due for completion in 2020.</p>
<h2>Vital new capacity</h2>
<p>The extension, from Battersea to Kennington, via Nine Elms, will add further vital new capacity to the Capital's transport network, bringing Battersea and surrounding areas to within 15 minutes of the City and the West End.</p>
<p>It will also enable the regeneration of the Vauxhall, Nine Elms and Battersea areas, spurring economic growth by supporting around 25,000 new jobs and more than 20,000 new homes. In addition, the construction of the extension is boosting the UK economy and supporting around 1,000 jobs, including around 50 apprenticeships.</p>
<p>The Victorian-era Bank branch platforms at Kennington are simply too narrow to enable TfL to safely complete this essential work behind hoardings while keeping the platforms open.</p>
<h2>More frequent, direct trains</h2>
<p>The non-stopping of Bank branch trains at Kennington, to enable the works to be completed, means there will be no interchange for Northern line customers between the Bank and Charing Cross branches during this period.</p>
<p>To help mitigate the impact, TfL will introduce a temporary timetable. This will mean more frequent, direct trains to and from Morden on the Charing Cross branch.</p>
<p>However, there will be a slightly reduced, and therefore busier, service on the Bank branch. The Victoria line will also be busier as customers seek alternative routes.</p>
<p>More detailed, tailored travel advice will be available well in advance of the work starting to help customers plan their journeys.</p>
<p>It will include posters and leaflets at affected stations, customer emails and information at <a href="https://tfl.gov.uk/">tfl.gov.uk</a>. Kennington station will remain open for the duration of the work, with customers able to board trains northbound, via the Charing Cross branch, or southbound to Morden.</p>
<h2>Least disruptive</h2>
<p>Stuart Harvey, TfL's Director of Major Projects, said: 'We apologise to Northern line customers and to local residents for the disruption this will cause to their journeys. The Bank branch platforms at Kennington are simply too narrow to allow us to safely carry out this vital work behind hoardings while keeping the platforms open.</p>
<p>'Running Bank branch trains through Kennington without stopping will allow us to build the additional passageways we need in the quickest and least disruptive way possible, and are essential to enable customers to access the new Northern Line Extension when it opens.'</p>
<p>Work on the new Northern Line Extension stations at Battersea and Nine Elms is progressing well. Major tunnelling finished in November 2017 and, over Christmas, the new and existing Northern line tunnels were connected for the first time.</p>
<p>The continued modernisation of the Tube is a key part of the Mayor's Transport Strategy to make London a greener, more accessible place. The investment in improving public transport will help reduce reliance on the car and contribute to the Mayor's target of 80% of journeys made by public transport, cycling or walking by 2041.</p>
<p>&nbsp;</p>
<hr />
<p><strong>Notes to editors</strong></p>
<ul>
    <li>To help customers during the non-stopping period, TfL will introduce more direct trains to/from Morden via the Charing Cross branch &#45; approximately every 10 minutes throughout the day. This means there will be a slightly reduced service on the Bank branch</li>
    <li>Northern line customers completed 294 million journeys last year, making it the busiest line on the Tube. It runs through Waterloo and King's Cross St. Pancras Tube stations, the two busiest stations on the network</li>
    <li>Last month, TfL introduced a new timetable on the Northern line which doubled the length of the highest frequency 'evening peak' services on the central London section of the line. Customers now benefit from 24 trains an hour on both central London branches of the Northern line and 30 trains an hour on the Kennington to Morden section between 5pm and 7pm. Previously this level of 'peak' service only ran for an hour, between 5.30pm and 6.30pm, in the evening. This higher frequency during the evening peak will remain in place throughout the work</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-February-Vital Northern Line Extension work means Bank branch trains will not stop at Kennington from May to September -->

 
 
        
        
            @{ViewBag.Description = "Vital Northern Line Extension work means Bank branch trains will not stop at Kennington from May to September";}
        
        


 