


@{ViewBag.Title = "Vodafone handed ninth fine in two years for mismanaging streetworks noticing";}
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Vodafone handed ninth fine in two years for mismanaging streetworks noticing</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Vodafone handed ninth fine in two years for mismanaging streetworks noticing</h1>
        <div class="content-page-press-release">
        22 January 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has successfully prosecuted telecommunications company Vodafone for the ninth time in two years, as part of its commitment to ensuring road works cause as little disruption as possible to road users.</p>
<p>In court on Wednesday 18 January, Vodafone was ordered to pay significant fines for failing to serve the required streetworks notices at the start and end of their work in Archway Road on 22 May last year. TfL subsequently issued the company Fixed Penalty Notices, which Vodafone failed to pay.</p>
<p>Submitting streetworks notices is essential so TfL can avoid multiple roadworks taking place at the same time in close proximity. This ensures that the same road is not dug up repeatedly and encourages utilities to collaborate, ultimately reducing congestion and disruption to road users.</p>
<p>Ahead of the hearing at Westminster Magistrates' Court, Vodafone pleaded guilty to the two offences and the company was fined a total of &pound;3,340 and ordered to pay prosecution costs of &pound;2,750. It is the third time Vodafone has been prosecuted for this particular offence since 2010.</p>
<p>Garrett Emmerson, TfL's Chief Operating Officer for Surface Transport, said: `These offences prevent us from coordinating streetworks effectively and we will continue to push for the toughest penalties possible against companies caught acting unlawfully. We are committed to keeping London's roads as clear as possible to prevent unnecessary disruption to journeys and to help us tackle congestion and poor air quality.'</p>
<p>In passing sentence the lead Judge commented: `I have taken into account TfL's submissions and reasons for prosecuting these offences and also mitigation provided by Vodafone. I also considered that Vodafone was only recently prosecuted by TfL for various other offences and it is for that reason that we feel compelled to impose a fine, which we feel should send a strong message to Vodafone that lessons should be learnt and to take their responsibilities more seriously.'</p>
<p>Since January 2015, TfL has prosecuted Vodafone on seven previous occasions for various offences including failure to serve statutory streetworks notices and for working without a permit.</p>
<p>TfL has also issued 84 Fixed Penalty Notices to the telecommunications giant since 2011, 25 of those within the last year.</p>
<p>Including this latest offence, the company has been fined by the courts a total of &pound;6,050 for various offences since 2010.</p>
<p>Ends</p>
<p>Notes to Editor:</p>
<ul>
    <li>Further information regarding a previous Vodafone prosecution can be found at: <a href="http://tfl.gov.uk/info-for/media/press-releases/2016/october/telecoms-giant-fined-for-mismanaging-streetworks-for-second-time-in-four-mont">tfl.gov.uk/info-for/media/press-releases/2016/october/telecoms-giant-fined-for-mismanaging-streetworks-for-second-time-in-four-mont</a></li>
    <li>Londoners can report disruptive or badly managed roadworks, as well as road defects such as potholes and damaged footpaths, by visiting reportit.tfl.gov.uk. Any enquiries received will be sent directly to the relevant Highway Authority (TfL or a London borough) responsible, ensuring that direct and fast action can be taken</li>
    <li>For more information about the wider work TfL is carrying out to keep London moving, please visit <a href="http://tfl.gov.uk/roads">tfl.gov.uk/roads</a></li>
    <li>The below table sets out the number of times TfL has prosecuted utility companies since 2010:</li>
</ul>
<p>&nbsp;</p>
<div class="table-container"><table style="width: 610px; height: 391px;">
    <thead>
    </thead>
    <tbody>
        <tr>
            <td style="vertical-align: top;">Company&nbsp;</td>
            <td style="vertical-align: top;">Number of prosecutions&nbsp;</td>
            <td style="vertical-align: top;">
            <p>&nbsp;Percentage of </p>
            <p>total prosecutions</p>
            </td>
        </tr>
        <tr>
            <td>&nbsp;BT Openreach<br />
            </td>
            <td>&nbsp;40</td>
            <td>&nbsp;35%</td>
        </tr>
        <tr>
            <td>&nbsp;Thames Water</td>
            <td>&nbsp;13</td>
            <td>&nbsp;12%</td>
        </tr>
        <tr>
            <td>&nbsp;Infocus</td>
            <td>&nbsp;11</td>
            <td>&nbsp;10%</td>
        </tr>
        <tr>
            <td>&nbsp;Virgin Media</td>
            <td>&nbsp;10</td>
            <td>&nbsp;9%</td>
        </tr>
        <tr>
            <td>&nbsp;Fulcrum</td>
            <td>&nbsp;9</td>
            <td>&nbsp;8%</td>
        </tr>
        <tr>
            <td>&nbsp;UK Power Networks/London Power Networks</td>
            <td>&nbsp;9</td>
            <td>&nbsp;8%</td>
        </tr>
        <tr>
            <td>&nbsp;Vodafone</td>
            <td>&nbsp;9</td>
            <td>&nbsp;8%</td>
        </tr>
        <tr>
            <td>&nbsp;National Grid Gas</td>
            <td>&nbsp;5</td>
            <td>&nbsp;4%</td>
        </tr>
        <tr>
            <td>&nbsp;Cable &amp; Wireless</td>
            <td>&nbsp;3</td>
            <td>&nbsp;2%</td>
        </tr>
        <tr>
            <td>&nbsp;Abovenet</td>
            <td>&nbsp;2</td>
            <td>&nbsp;2%</td>
        </tr>
        <tr>
            <td>&nbsp;McNicholas (on behalf of Virgin Media)</td>
            <td>&nbsp;1</td>
            <td>&nbsp;1%</td>
        </tr>
        <tr>
            <td>&nbsp;O2</td>
            <td>&nbsp;1</td>
            <td>&nbsp;1%</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;113</td>
            <td>&nbsp;100%</td>
        </tr>
    </tbody>
</table></div>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
                <a href="/info-for/media/index" class="heading">
                    <h2>Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-January-Vodafone handed ninth fine in two years for mismanaging streetworks noticing -->

 
 


 