


@{ViewBag.Title = "Waterloo's transformation to start in early 2020";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Waterloo’s transformation to start in early 2020</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Waterloo’s transformation to start in early 2020</h1>
        <div class="content-page-press-release">
        18 December 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Plans to transform Waterloo roundabout and Waterloo Road have been backed in a public consultation
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Projects like this can help create a better London less dependent on the car, where public health is improved, the creation of new homes and jobs are supported and where everyone can travel in a healthy, affordable and accessible way"</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">Managing Director of Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>The removal of the roundabout and creation of a new public space would reduce dominance of traffic in the Waterloo area</li>
    <li>Changes demonstrate Mayor's commitment to the Healthy Streets Approach and tackling junctions with the worst safety records</li>
</ul>
<p>The Mayor of London, Sadiq Khan, TfL and Lambeth Council have today announced that work to transform the Waterloo area will start in early 2020.</p>
<p>The work will improve the area for walking, cycling and public transport users through what is currently an intimidating and dangerous junction that cuts through the local community.  Waterloo Roundabout was identified earlier this year as among the 73 junctions in the Capital with the worst safety record for pedestrians, cyclists and motorcyclists in TfL's evidence-led Safer Junctions programme.</p>
<p>The dramatic changes to be delivered at the junction will include segregated cycle lanes, cycle-specific traffic lights, wider footpaths, a full redesign of the intimidating junction and vastly improved public spaces. The improvements will also open up new areas of London for safer cycling and will provide another valuable piece in London's growing network of safe cycle routes.</p>
<p>Concerns over safety are frequently cited as one of the key reasons people do not cycle in the Waterloo area. Overhauling this notorious junction will help the Mayor reach his aim for all deaths and serious injuries from road collisions to be eliminated from London's streets by 2041. Removing these barriers will help achieve the Mayor's ambitious target that 80 % of all trips are made on foot, by bike or public transport by 2041, which will help reduce congestion and improve air quality.</p>
<p>Will Norman, London's Walking and Cycling Commissioner, said: &quot;Waterloo roundabout is currently one of the most dangerous junctions in London, so it's great news that we can progress with our plans to improve it. We're going to transform this intimidating junction, making it safer and more pleasant for all those who use the area. By creating people-friendly streets, we can encourage many more Londoners to walk, cycle and use public transport, improving our health and air quality.&quot;</p>
<p>Leon Daniels, Managing Director of Surface Transport, said: &quot;I'm extremely pleased that by working with the local community and business groups we're able to confirm work will start in early 2020 at Waterloo Roundabout and Waterloo Road - but that we're also continuing to work with the community to ensure the work meets their needs. Projects like this can help create a better London less dependent on the car, where public health is improved, the creation of new homes and jobs are supported and where everyone can travel in a healthy, affordable and accessible way.&quot;</p>
<p>Cllr Matthew Bennett, Lambeth Cabinet Member for Planning, Regeneration &amp; Jobs, said: &quot;We are determined in Lambeth to make our streets safer, cleaner and easier for everyone to get around, particularly those who walk or cycle, so we're pleased to be working with TfL on such a major project, investing to improve the area around Waterloo roundabout and along Waterloo Road.  We want the area to be a more attractive place for people to spend time in, use local businesses and enjoy everything that is on offer.  I'm glad so many people took part in the consultation and I'm confident these plans will make Waterloo a much better, healthier and safer place to live, work, and visit for years to come. We are also committed to continuing to work with local residents in the area to reduce rat running and congestion in neighbouring residential roads.&quot;</p>
<p>Richard Shaw, BFI's Director of Marketing, Communications &amp; Audiences, said: &quot;We enthusiastically welcome the bold and imaginative plans announced today designed to transform the Waterloo area. Creating new public spaces and prioritising the tens of thousands of Londoners, commuters and visitors to London travelling through Waterloo by foot or on bike every day, will hugely benefit customers of BFI IMAX and BFI Southbank and the wider South Bank. Not only will this plan massively improve safety and access, but also enhance one of the most important and vibrant cultural spaces in the world.&quot;</p>
<p>The work at Waterloo will make the most effective use of limited road space, helping to support the ongoing regeneration and growth of Waterloo by encouraging sustainable and active travel. They were developed after close engagement with the local community and stakeholders. Following public feedback, TfL is working to retain more trees, improving the links of the scheme to the surrounding cycle network and will work with Lambeth Council to reduce any rat-running.</p>
<p>The area around Waterloo is currently overcrowded and unpleasant for pedestrians, cyclists and bus users. These changes will be made even more important by the expansion of the railway station and planned developments.</p>
<p>TfL and Lambeth Council's transformation of the Waterloo area will:</p>
<ul>
    <li>Create a new large public square by closing the south west corner of the roundabout</li>
    <li>Return safer two-way traffic around Waterloo Imax</li>
    <li>Introduce safer segregated cycle lanes around the Imax</li>
    <li>Widen footways and improve a pedestrian crossing</li>
    <li>Improve the bus station on Waterloo Road</li>
</ul>
<p>In addition to these changes, the area will be decluttered and there will be an overall increase in the area's greenery.</p>
<p>Cycling will be made easier and more appealing through dedicated space and signals to reduce collisions, while tackling this notorious junction removes a barrier to cycling in the wider area. Both pedestrians and bus users will benefit from a new signalised crossing, a new public square and wider footways.</p>
<p>&nbsp;</p>
<hr />
<p> </p>
<p>Notes to Editors:<br /></p>
<ul>
    <li>There were 1,628 responses of which 55% said they strongly agreed or agreed with the proposals</li>
    <li>For more information about the plans for the Waterloo area go to <a href="http://www.tfl.gov.uk/waterloo-roundabout">tfl.gov.uk/waterloo-roundabout</a></li>
    <li>Earlier this year the Mayor used his draft strategy to set out bold plans to reduce the Capital's dependency on the car - transforming the experience of walking, cycling and public transport in London over the coming decades</li>
    <li>The Mayor will set out a target to increase the proportion of people walking, cycling and taking public transport to 80% of journeys by 2041, compared to 64% now, meaning an average of 3 million fewer car journeys in London each day</li>
    <li>A key focus of this is the Mayor's &pound;2.1bn Healthy Streets approach. This aims to create more attractive, accessible and people-friendly streets, where everybody can enjoy spending time and being physically active by making walking and cycling easier and safer across London</li>
    <li>Currently, more than 40% of Londoners do not achieve the recommended 150 minutes of activity a week, and 28% do less than 30 minutes a week. GLA analysis shows that if every Londoner walked or cycled for 20 minutes a day, it would save the NHS &pound;1.7bn in treatment costs over the next 25 years</li>
    <li>Earlier this year, Will Norman named the 73 junctions in the Capital with the worst safety records as he unveiled a new approach to delivering improvements for pedestrians and cyclists. New analysis uses the last three years of casualty figures on the TfL road network to identify the junctions with the poorest safety records so that they can be targeted for work. This analysis will now continue each year as part of a new approach that will see work continually monitored and the junctions with the most incidents prioritised</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-December-Waterloo’s transformation to start in early 2020 -->

 
 
        
        
            @{ViewBag.Description = "Waterloo’s transformation to start in early 2020";}
        
        


 