


@{ViewBag.Title = "Wealth of disabled people's talent, creativity and knowledge can only be harnessed with good accessible transport, argues TfL";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Wealth of disabled people’s talent, creativity and knowledge can only be harnessed with good accessible transport, argues TfL</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Wealth of disabled people’s talent, creativity and knowledge can only be harnessed with good accessible transport, argues TfL</h1>
        <div class="content-page-press-release">
        19 March 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) brings customers together with leaders from the worlds of transport, business, culture and tech to discuss the future of accessible London and demonstrate latest transport innovations
        
    </div>



 <div class="on-this-page">
<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The huge wealth of disabled people's talent, creativity and knowledge can only be harnessed with good accessible transport, TfL set out at its second Access All Areas accessible transport event attended by around 2,000 members of the public today.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The exhibition showcased the latest accessible transport, design and services with the aim of making it easier for people to use the transport network and make the most of everything London has to offer, regardless of disability. The event featured Alan Benson, Chair of disabled people's charity Transport for All, and Deputy Chair of London Travel Watch; Joanna Wooten, Chair of TfL's Independent Disability Advisory Group; Mik Scarlet, Broadcaster, Journalist &amp; Equality Advisor and other prominent figures from across the charity, culture and tech sectors.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">TfL's Managing Director for Surface Transport, Gareth Powell, set out how TfL is working to make London a cleaner, safer and more accessible place through encouraging 80 per cent of journeys to be made by foot, cycle or public transport by 2041. A crucial part of this is working with, and for, the 15 per cent of Londoners who consider themselves to have a disability that impacts their day-to-day activities"</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">At the moment 84 per cent of disabled Londoners report that their disability limits their ability to travel, a figure that TfL is determined to reduce by embedding accessibility and inclusion at the heart of its planning.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Alan Benson, Chair of Transport for All said:</strong> `We know that Disabled and Older People face many barriers when travelling on public transport. Being confident and knowing what to expect goes a long way to overcoming those barriers. Access All Areas is an excellent initiative from TfL that gives passengers a relaxed and safe way to explore their travel options.&quot;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Gareth Powell said:</strong> `The provision of good accessible infrastructure and services is about equality and about social justice and building the city we all want to see. But it also makes economic sense.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">`UK-wide, between April and June 2017 the employment rate of disabled people was 49 per cent, significantly lower than the rate for non-disabled people &#45; 80 per cent. That means that there is a vast wealth of talent, creativity and knowledge that we are not harnessing. Inclusive and reliable transport is essential to opening up employment for disabled people and harnessing this potential.&quot;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The Mayor and TfL are investing record amounts in making the capital's public transport network more accessible to Londoners.&nbsp; Ninety-five per cent of bus stops are now accessible and, earlier this week, South Woodford became the 78<sup>th</sup> London Underground station to go step-free.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">There are now more than 200 step-free stations across TfL's network. These include: 58 Overground stations, six TfL Rail stations and all DLR stations and Tram stops. Eight more London Underground stations are on track to be step-free by March 2020, with work well under way across London at a further seven.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">When the Elizabeth line fully opens, all 41 stations will be step-free from street to platform, with level access from street to train at all of the new central section London stations and at Heathrow and Abbey Wood.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">TfL is also investing &pound;2.3bn over five years in a huge programme of work to create streets that are pleasant, safe and attractive, where noise, air pollution, accessibility and lack of seating and shelter are not barriers that prevent people, particularly older and disabled people, from getting around. This includes major transformation work at Highbury Corner, Old Street, Stoke Newington gyratory and other locations.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">TfL also continues to make improvements to its other services, including the bus network, which is the largest accessible bus network in the world. Ninety-five per cent of London's bus stops are now accessible, with that percentage having tripled since 2008, when the figure stood at 29 per cent.</span></span></p>

<p><span style="font-size:12pt"><span style="line-height:21pt">These improvements are being made despite TfL having experienced unprecedented cuts to its operational funding from the Government over the last five years. TfL has had to manage the impact of&nbsp;an average reduction of around &pound;700m per year in government grant. Since March 2018, TfL has become one of the only transport authorities in the world not to receive a direct Government operational grant for day-to-day running costs.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">In addition, there is currently no certainty of Government capital funding beyond this year. This clearly poses significant challenges for TfL when planning the pipeline of investment London requires to keep the city growing and succeeding.&nbsp;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The Access All Areas exhibition enabled people to discover the latest accessibility innovations demonstrated by transport providers, research groups and businesses. Amongst these were the latest electric bus and taxi, and a driverless car. Attendees met with TfL's Travel Mentors, who offer a free service to help disabled people get around on the network. There were also a number of 'behind the scenes' workshops which gave insights into staff training, and how TfL uses customer feedback to shape its services, including a look at how TfL created the Please Offer me a Seat badge and card.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">TfL's new Station Real Time Information App was one of the new tools showcased on the day to improve people's journeys.&nbsp; It enables London Underground station staff to quickly report station incidents that may affect passenger journeys. This may include a lift or escalator going out of service or a station being made exit only. It also allows staff to quickly record members of the public wishing to use TfL's Turn Up and Go service, which offers disabled customers assistance from staff in completing their journeys</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Dave Kent, Engagement Officer for Guide Dogs said:</strong> `In recent years blind and partially sighted people have truly benefitted from a transit system that continues to grow and mature.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">`Journeys made by bus, tube or suburban rail services all now feature audio visual information systems. TfL's commitment to improve the standard of travel experience for visually impaired passengers is reflected in its first class staff training to customer facing staff across all networks'</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Joanna Wootten, Chair of Independent Disability Advisory Group (IDAG) said:</strong> `Today has been a great opportunity to celebrate and share what's been done so far to make London's transport infrastructure more accessible and inclusive, and learn from AAA visitors what more needs to be done to that all disabled Londoners and visitors can easily travel.&nbsp; After all, disabled people, like everyone else, want to be able to work, rest and play in London, and we can't do that if we can't go places!'</span></span></p>

<p><strong><span style="font-size:12.0pt">Alan Benson, Chair of Transport for All said:</span></strong><span style="font-size:12.0pt"> `We know that Disabled and Older People face many barriers when travelling on public transport. Being confident and knowing what to expect goes a long way to overcoming those barriers. Access All Areas is an excellent initiative from TfL that gives passengers a relaxed and safe way to explore their travel options.'</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Visitors to AAA were given TfL's redesigned leaflet about accessible travel in London that puts all the accessibility services available to customers in one place, allowing them to plan their journeys easier.&nbsp; The new leaflet is available through the TfL website &#45; <a href="http://www.tfl.go.uk" style="text-decoration: none;">www.tfl.gov.uk</a></span></span></p>

<ul>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">There are now more than 200 step-free stations across TfL's network. These include: 78 Tubestations, 58 Overground stations, 6 TfL Rail stations and all DLR stations and Tram stops</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">TfL's Turn Up and Go service is available on the Tube, the London Overground and TfL Rail. It means customers don't need to pre-book assistance for when they arrive at a station. Members of staff are available to offer advice on completing accessible journeys as well as to guide customers on and off trains and to the right platform and/or exit.&nbsp; For wheelchair and scooter users, as well as those unable to navigate large gaps, members of staff are able to help them board and alight trains with a ramp.</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">The Real Time Information app is a tool utilised by staff at London Underground stations only. It currently doesn't allow for journeys on the Overground or TfL Rail &nbsp;</span></span></span></li>
</ul>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Participating charities, not for profits, groups and organisations in the event:</strong></span></span></p>

<ol>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Bikeworks</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">London TravelWatch</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Guide Dogs</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">RNIB</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">London Vision</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Transport for All</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Driving Mobility</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Royal Society for Blind Children</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Age UK</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">The Association of Leading Visitor Attractions and the Mayor of London's Ambassador for Cultural Tourism</span></span></span></li>
</ol>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Participating businesses, organisations, academics:</strong></span></span></p>

<ol>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">RDM Group &#45; displayed their driverless vehicle</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Urban Things &#45; presented their ticketless app</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Ethos Farm &#45; presented their Journey PAL</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Thames Clipper &#45; talked about their full accessible river bus services</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">National Express &#45; profiled their accessible coaches</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Ideas LTD &#45; presented their accessible counter</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12.0pt">UCL &#45; tested and discussed latest ideas from the PAMELA lab</span></li>
</ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-March-Wealth of disabled people’s talent, creativity and knowledge can only be harnessed with good accessible transport, argues TfL -->

 
 
        
        
            @{ViewBag.Description = "Wealth of disabled people's talent, creativity and knowledge can only be harnessed with good accessible transport, argues TfL";}
        
        


 