


@{ViewBag.Title = "Winners of TfL's first Best Cargo Bike competition";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Winners of TfL's first Best Cargo Bike competition</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Winners of TfL's first Best Cargo Bike competition</h1>
        <div class="content-page-press-release">
        08 August 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Sixteen cargo bike models were showcased at the competition held at London's Queen Elizabeth Olympic Park
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'm delighted that this competition has helped showcase how cargo bikes are a greener, cleaner and often faster alternative to polluting cars and vans

 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Transport for London (TfL) is working with parents and businesses to encourage more people to switch to cleaner, greener and more efficient alternatives</li>
	<li>Comfort, manoeuvrability and affordability among areas considered by the judges</li>
</ul>

<p>Transport for London (TfL) has announced the winners of its inaugural competition to find the best cargo bikes for sustainable business deliveries and family trips. The competition aims to raise the profile of cargo bikes, highlighting their benefits as a sustainable option for deliveries and an alternative to car journeys for families with young children.</p>

<p>TfL worked in partnership with manufacturers, distributors and stockists to host the competition, with awards handed out in two categories. Sixteen cargo bikes were put forward for judging by 10 manufacturers.</p>

<p>Eight judges - including London's Walking and Cycling Commissioner Will Norman and representatives from Mothercare, Sustrans, community cycling groups and family cycling bloggers - assessed each bike. Affordability, comfort, security, style, capacity and manoeuvrability were among the areas considered. Parents and children also assessed the bikes on a course at London's Queen Elizabeth Olympic Park.</p>

<p>Douze's G4e bike won the Best Cargo Bike &#45; Business category. Judges were particularly impressed with the model's manoeuvrability and comfort and the bike also scored highly across the other judging criteria. Bicicapace Pelican and Harry Vs Larry Bullitt were also highly regarded in this category.</p>

<p>The Bakfiets Long won the Best Cargo Bike &#45; Families category which assessed bikes which are suitable for carrying children. The bike scored highly for its affordability and judges were also impressed by the bike's ease of use. Bicicapace Justlong and Bakfiets Short were also highly regarded in this category.</p>

<p>The two winners will receive an official endorsement from TfL for their marketing purposes for 12 months.</p>

<p>Motorised vehicles are a major contributor to London's poor air quality and congestion, as well as the global climate crisis. The school run is a major source of traffic, congestion and air pollution, making up a quarter of weekday car trips in the morning peak. Meanwhile the number of freight vehicles on the capital's streets has increased by 20 per cent since 2010 as the freight industry works to meet the demand caused by population growth and the growth in online deliveries.</p>

<p>Will Norman, London's Walking and Cycling Commissioner, said:</p>

<p>'I'm delighted that this competition has helped showcase how cargo bikes are a greener, cleaner and often faster alternative to polluting cars and vans. We were really impressed with the standard of all the entries, and hope families and businesses will be encouraged to make the switch and help clean up London's toxic air.'</p>

<p>Christina Calderato, TfL's Head of Transport Strategy and Planning, said: &nbsp;<br />
'Switching trips from motorised vehicles to cargo bikes on London's roads is essential if we are to tackle some of the biggest challenges facing the capital. Anyone choosing to ride a cargo bike rather than going by car or van is directly contributing to cleaning up the air we breathe. There is also a huge range of other associated health, practical and economic benefits around choosing to travel in this way.</p>

<p>'The interest in this competition demonstrates just how much choice there is for businesses and families, who are thinking of making the switch to this greener and healthier way of moving goods and travelling around the capital.'</p>

<p>Hugh Salt, Bakfiets' UK importer and distributor, said:</p>

<p>'I am thrilled at this award has been given to the Bakfiets Long cargo bike and it's great that TfL are doing more to raise awareness of the benefits of these types of bikes through this project. Bakfiets, based in the Netherlands, has been making of bikes dedicated to carrying children for over 20 years. I'm really pleased to see London and Londoners catching on to how healthy, practical and fun cargo bikes can be for the whole family.'</p>

<p>Matt Winfield, London director at Sustrans, said:</p>

<p>'At Sustrans, we've always known that cargo bikes are a big win for Londoners. We've seen first-hand how they can work brilliantly for businesses, connecting them more with their customers while benefitting the environment and not compromising on economic performance. Cargo bikes are great for families too, enabling them to travel in a clean, green and active way. The more they are used, the better our air will be, making for a healthier, happier city for everyone.'</p>

<p>Alternative forms of freight, such as cycle freight, can be cleaner, greener and more efficient. There are many benefits for businesses, including staff health and motivation. Employees who are physically active take 27 per cent fewer sick days, for example. This is why TfL is working with industry and business to enable them to make the switch where possible.</p>

<p>A contractor working with TfL on its transformation of Highbury Corner recently used a cargo bike to deliver hydrogen gas for the first time. TfL's Healthy Streets for Business Fund awards funding to business groups to run projects enabling greater use of cycle freight, including recent schemes in Archway, London Bridge and Streatham.</p>

<p>Almost 9,500 Londoners die early due to long-term exposure to air pollution every year, and children are the most vulnerable to its harmful effects. Toxic air can harm their lungs, damage the development of their brains and stunt their growth. This could also leave them with lasting problems like asthma, badly affecting their futures. In London, 400,000 children live in areas which exceed current air pollution limits, and more than 450 state schools are in areas with dangerously high air pollution levels.</p>

<p>TfL's STARS programme, which encourages children to travel to walk, cycle or scoot to school, is helping reduce congestion and improve air quality. Families and parents have an important role to play in this by driving less. Cargo bikes provide a practical way to achieve this, as a healthy and environmentally-friendly alternative to the car.</p>

<hr />
<p>Notes to editors</p>

<p>The Cargo bikes participating in the competition were:</p>

<ul>
	<li>Bakfiets &#45; Cargo Bike Classic Smart e-assist (family)</li>
	<li>Bakfiets &#45; Cargobike Classic Long (family)</li>
	<li>Bakfiets &#45; Riskja (family)</li>
	<li>Urban Arrow - Family CX (family)</li>
	<li>Babboe &#45; Mountain Curve (family)</li>
	<li>Nihola &#45; Family (family</li>
	<li>Harry Vs Larry &#45; Miss Bullitt (family)</li>
	<li>Tern GSD S10 (family)</li>
	<li>Bicicapace - Justlong (family)</li>
	<li>Christiania Bikes &#45; Classic (family)</li>
	<li>Harry Vs Larry &#45; Bullitt (business)</li>
	<li>Ridgeback &#45; e-cargo (business)</li>
	<li>Douze - G4 (business)</li>
	<li>Tern GSD S00 (business)</li>
	<li>Bicicapace &#45; Pelican (Business)</li>
	<li>Urban Arrow - Cargo L Performance CX (business)</li>
</ul>

<p>TfL worked directly with manufacturers to source bikes, as well as stockists London Green Cycles, The School Run Centre and Fully Charged.</p>

<p>The panel of judges consisted of:</p>

<ol>
	<li>Will Norman, Walking and Cycling Commissioner (Business)</li>
	<li>Jeremy Tranter, Sustrans (Business)</li>
	<li>Lauren Preteceille, Head of National &amp; Regional Partnerships, Transport for London (Business)</li>
	<li>Elizabeth Day, Parenting Consultant, Mothercare (Family)</li>
	<li>Karen Gee, CEO, Bike Sprog (Family)&nbsp; &nbsp;</li>
	<li>Mebs Khankara, Brothers on Bikes Cycling Club (Family)</li>
	<li>Edie, 3, and her dad James (Family)</li>
	<li>Ruth-Anna, &#64;bikesandbabies, and son aged two (Family)</li>
</ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/49467">September</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-August-Winners of TfL's first Best Cargo Bike competition -->

 
 
        
        
            @{ViewBag.Description = "Winners announced in TfL's first Best Cargo Bike competition";}
        
        


 