


@{ViewBag.Title = "Work to improve stations and tracks on TfL Rail continues";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Work to improve stations and tracks on TfL Rail continues</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Work to improve stations and tracks on TfL Rail continues</h1>
        <div class="content-page-press-release">
        16 January 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Work to upgrade stations, track, and other parts of the TfL Rail route between Liverpool Street and Shenfield will continue at weekends in the first few months of 2018.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It's vital that this work is done to improve the railway and upgrade the stations to make them accessible for all. The Elizabeth line will make life much easier for people along the route and will transform travel across London

"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Smith</div>
            <div class="quotee-job-title">Operations Director, TfL Rail </div>
        </div>
</div>

 <div class="on-this-page">
<p>Over a series of ten weekends from late January to March, a number of essential weekend closures will allow improvement work to be carried out in advance of Elizabeth line services commencing later this year. While these are carried out, buses will replace trains along the route.</p>
<p>The Elizabeth line will transform transport in London with quicker, easier and more accessible journeys across the Capital once fully operational in December next year. It will also support thousands of new homes and jobs in London and the South East.<br />
A great deal of work has already taken place and customers going through Manor Park station will have seen the new footbridge and lift structure that has been installed as part of work to make the station accessible for everyone. Work will continue at the station during the weekend closures, including fitting the glazing and cladding to the footbridge and lifts.</p>
<p>Transport for London (TfL) will also continue working on the lifts and footbridges at Seven Kings and on the installation of new lifts at Maryland which are due to come into passenger use later this year. This will bring step-free access to these stations, and all Elizabeth line stations will be step-free, significantly improving the accessibility of the transport network. This complements the Mayor's plan for 40 per cent of the London Underground network to be step-free by 2022.</p>
<p>During these closures, platform canopies at Chadwell Heath, Goodmayes and Ilford will also be repaired and redecorated, which can only be done at times when trains are not running and overhead power lines are switched off.</p>
<p>Network Rail will also continue with their station improvements, installing structures that carry overhead wires and replacing a further eight kilometres of overhead wiring between Ilford and Manor Park during the weekend closures. They will complete the remodelling of the sidings and the signalling upgrade at Gidea Park as well as completing the link between the Elizabeth line central tunnels and the Great Eastern Main Line to Shenfield.</p>
<p>Howard Smith, Operations Director for TfL Rail, said: </p>
<p>'I'd like to thank customers for their patience while TfL and Network Rail continue to prepare for the Elizabeth line opening from December this year. I apologise for the disruption to regular weekend travel, but it's vital that this work is done to improve the railway and upgrade the stations to make them accessible for all. The Elizabeth line will make life much easier for people along the route and will transform travel across London.'</p>
<p>The introduction of the Elizabeth line is a central part of the Mayor's Transport Strategy, which seeks to reduce reliance on the car and tackle air pollution by encouraging greater use of public transport.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>Customers are advised to check before they travel at <a href="http://tfl.gov.uk">tfl.gov.uk</a>.</li>
    <li>Rail replacement buses will call at all affected stations each weekend except Liverpool Street and Maryland. Rail replacement buses will also call at Newbury Park (for the Central line).</li>
</ul>
<ul>
    <li>Weekend closures are as follows:</li>
    <li>Sunday 21 January - No service between Stratford and Shenfield.</li>
    <li>Sunday 28 January - No service between Stratford and Shenfield.</li>
    <li>Saturday 3 and Sunday 4 February - Full line closure. No service between Liverpool Street and Shenfield.</li>
    <li>Saturday 10 and Sunday 11 February - No service between Stratford and Shenfield.</li>
    <li>Saturday 17 and Sunday 18 February - No service between Stratford and Shenfield.</li>
    <li>Saturday 24 and Sunday 25 February - Full line closure. No service between Liverpool Street and Shenfield.</li>
    <li>Saturday 3 and Sunday 4 March - Full line closure. No service between Liverpool Street and Shenfield.</li>
    <li>Saturday 10 and Sunday 11 March - Full line closure. No service between Liverpool Street and Shenfield.</li>
    <li>Saturday 17 and Sunday 18 March -	Full line closure. No service between Liverpool Street and Shenfield.</li>
    <li>Saturday 24 and Sunday 25 March -	Full line closure. No service between Liverpool Street and Shenfield.</li>
</ul>
<ul>
    <li>There will also be a reduced service on the line on Saturdays in January between Chadwell Heath and Shenfield.</li>
</ul>
<ul>
    <li>The Elizabeth line will open from December 2018, operating initially as three separate services:</li>
    <li>Paddington to Abbey Wood</li>
    <li>Paddington to Heathrow</li>
    <li>Liverpool Street to Shenfield</li>
</ul>
<ul>
    <li>From May 2019, customers from Shenfield will be able to travel directly through central London to the West End and Paddington without needing to change trains.</li>
    <li>TfL is undertaking a major programme of investment to improve accessibility at stations across the network. The ability for everyone to travel spontaneously and independently is at the heart of this approach. The Mayor's Transport Strategy seeks to do more than just improve physical infrastructure but also address overcrowding, safety and affordability. More information is available here: <a href="https://tfl.gov.uk/transport-accessibility/">https://tfl.gov.uk/transport-accessibility/</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-January-Work to improve stations and tracks on TfL Rail continues -->

 
 
        
        
            @{ViewBag.Description = "Work to improve stations and tracks on TfL Rail continues ahead of Elizabeth line services commencing later this year";}
        
        


 