


@{ViewBag.Title = "Work moves ahead on transformation of Old Street Roundabout ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Work moves ahead on transformation of Old Street Roundabout </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Work moves ahead on transformation of Old Street Roundabout </h1>
        <div class="content-page-press-release">
        05 December 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The transformation of Old Street Roundabout will commence in late 2018
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This work is going to make a real difference to Old Street, making it a more pleasant and safer place for pedestrians and cyclists"</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Search is on for design ideas to create an exciting &quot;iconic gateway&quot; for Old Street, as part of the wider redevelopment of the area</li>
</ul>
<p>An open call for design ideas has been launched by Islington Council to create an exciting &quot;iconic gateway&quot; for Old Street, as TfL announced that work to transform the whole area will begin late next year.</p>
<p>The 1960s roundabout will undergo a major transformation as part of work by the Mayor of London and Transport for London (TfL), in partnership with Islington and Hackney Councils.</p>
<p>Islington Council is looking for innovative design concepts for the public space that encompass public art and embrace the spirit of "Tech City" - the technological, economic and cultural powerhouse around Old Street. Design ideas are being sought from different disciplines including architecture, urban planning, transport, art, Smart Cities and technology.</p>
<p>Multi-disciplinary ideas, such as those that make the most of public art and technology, are strongly encouraged. The creation of the work, which will be funded by Islington, will add to the transformative changes already planned for the roundabout.</p>
<p>As part of the wider transformation, the outdated and intimidating roundabout will be removed to create a safer, more pleasant layout, including segregated cycle lanes and traffic signals, and the reintroduction of two-way traffic in line with the Mayor's Healthy Streets Approach. The north-western "arm" of the roundabout will be permanently closed, creating an attractive new pedestrianised public space while new surface-level pedestrian crossings will be introduced.</p>
<p>The initial plans were backed by Londoners in a public consultation, which received strong support. Once the final design is completed by summer 2018 construction will follow later that year - with the majority of the construction work taking place throughout 2019.</p>
<p>London's Walking and Cycling Commissioner, Will Norman, said: </p>
<p>'This work is going to make a real difference to Old Street, making it a more pleasant and safer place for pedestrians and cyclists. It's exactly the type of improvements that we want to see happening right across the Capital as we encourage Londoners to travel actively for the good of their health and our air quality. The area is renowned for its innovation so I can't wait to see the range of creative ideas that will be sent to Islington to make the most of the new public space we are creating.'</p>
<p>Cllr Claudia Webbe, Islington Council's executive member for environment and transport, said: </p>
<p>'The transformation of Old Street will hugely improve the area for pedestrians, public transport users, cyclists and people who live and work nearby. Old Street is an iconic location known around the world, and a powerful symbol of what is also known as Tech City. This is a unique opportunity for an exciting, bold, iconic gateway &#45; we are looking for innovative and inspiring ideas, which tap into the pioneering spirit of creativity for which Old Street is so famous.'</p>
<p>Cllr Feryal Demirci, Hackney Council Cabinet Member for Neighbourhoods, Transport and Parks, said: </p>
<p>'Old Street is a busy and dangerous area for pedestrians and cyclists, and I'm looking forward to work starting so that the junction can be made safer for everyone.'</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: </p>
<p>'The radical redesign of Old Street roundabout will help achieve our shared objectives of improved air quality, reduced car dependency and more active travel. The open call for design ideas will ensure that vast array of creative talent that exists in London, especially in the Old Street area, can play a part in re-designing the area so that the local community, and people who work in or visit the area, benefit from a truly inspiring new public space.'</p>
<p>In response to the original consultation on the Old Street proposals, 87 per cent of respondents believed that the proposals would improve conditions for pedestrians and cyclists, and 63 per cent believed that bus and Tube passengers would also benefit.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>Information about the Old Street Roundabout transformation can be found here - <a href="http://tfl.gov.uk/old-street-roundabout">tfl.gov.uk/old-street-roundabout</a></li>
    <li>A current bird's-eye view image of the Old Street Roundabout is available at TfL's Flickr page - <a href="http://flickr.com/photos/tflpress/albums/72157689205607911">flickr.com/photos/tflpress/albums/72157689205607911</a></li>
    <li>Design ideas for the Old Street Iconic Gateway Open Call must be deliverable within a budget of around &pound;1 million. Proposals can exceed this budget, if design teams can show they have identified viable external funding to supplement the budget</li>
    <li>The deadline to submit an entry to the Open Call for Design Ideas is 29 January 2018. A public exhibition will be held in February 2018, and the best design ideas will be shortlisted in March</li>
    <li>To make an &quot;iconic Gateway&quot; or landmark for Old Street, designers are invited to develop innovative design ideas for the newly created public spaces. This includes working creatively with the planned new station entrances, station roof, tube ventilation shafts and advertising structures, to complement the highway improvements for pedestrians, public transport users and cyclists resulting from the wider transformation scheme</li>
    <li>Islington Council has allocated funds to run the open call for design ideas and cover the fees for the subsequent design commission. A funding programme for construction is currently being put together, and is expected to include developer contributions. Contributions will also be sought from the private sector</li>
    <li>For more details of the open call see <a href="http://islington.gov.uk/oldstreet ">islington.gov.uk/oldstreet</a> or email <a href="mailto:oldstreet&#64;islington.gov.uk">oldstreet&#64;islington.gov.uk</a>.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-December-Work moves ahead on transformation of Old Street Roundabout  -->

 
 
        
        
            @{ViewBag.Description = "Work moves ahead on transformation of Old Street Roundabout ";}
        
        


 