


@{ViewBag.Title = "World's largest female cycling race comes to London";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">World’s largest female cycling race comes to London</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>World’s largest female cycling race comes to London</h1>
        <div class="content-page-press-release">
        08 June 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Londoners and visitors can catch the finale of the OVO Energy Women's Tour on Sunday 11 June as it makes its way to the city for the first time. Global stars of women's cycling will compete in one of the world's largest female races while music and events for families and adults alike takes place in Trafalgar Square.</p>
<p>The OVO Energy Women's Tour is the UK's biggest professional women's cycle race and a part of the UCI Women's World Tour. The final stage of the five-day event will use the same iconic 6km circuit as last year's Tour of Britain, which proved hugely popular with thousands of spectators and competitors alike.</p>
<p>Currently only 13 per cent of women in London cycle. Transport for London (TfL) and the Mayor of London are hosting the Women's Tour as part of a range of activities to encourage and inspire more women and families to take up cycling. In 2016, more than 250,000 spectators watched the London stage of the Tour of Britain and large crowds are expected this year for the Women's Tour. Last year the Tour of Britain event led to 50,000 spectators being inspired to cycle more, according to TfL research, and the Women's Tour is expected to inspire thousands too.</p>
<p>The race starts at 15:30 and will see some of the best riders in the world complete 14 laps, starting and finishing on Regent Street and taking in Piccadilly Circus, Trafalgar Square, the Strand and Whitehall. Katie Archibald, who won Gold in the Team Pursuit at the Rio Olympics, and Lizzie Deignan, who won Silver in the London 2012 Road Race, will compete head-to-head with other global stars including Marianne Vos and Lisa Brennauer.</p>
<p>A &quot;celebration of cycling&quot; ride takes place ahead of the main event at 11:15, with 100 women from all over London, charity groups, women's cycling networks and representatives from London boroughs riding part of the course.</p>
<p>Shortly after there will be The Pink Ribbon Tour, hosted by the official charity Breast Cancer Care. This will start at 11:45 and involve 800 women cycling 25km to celebrate 25 years of the pink ribbon, the recognised symbol for breast cancer. One of those riding will be Olympic gold medallist and Breast Cancer Care Ambassador Denise Lewis OBE, who's taking part in the event after losing her grandmother to the disease.</p>
<p>From 10:00 to 17:00 there will be a range of activities in Trafalgar Square including The Bicycle Ballet Co, opportunities for children to try balance bikes with Wheely Tots, face painting at British Cycling's stall and roller racing with the London Cycling Campaign (LCC) and Rollapaluza. Music will be provided by DJ's Feel Good Smalls and Natti.</p>
<p>Those who are keen to start cycling or walking in London will be able to speak to TfL staff to get information on safe and pleasant routes and the Santander Cycles hire scheme, and there will be cycle maintenance tips from qualified mechanics.</p>
<p>Mick Bennett, Race Director of the OVO Energy Women's Tour, said: `We are so proud to be bringing the OVO Energy Women's Tour to central London for the final stage on 11 June. We are delighted that the Mayor of London, Sadiq Khan and Transport for London share our passion for promoting women's sport. It's going to be a fantastic day out for all and a fitting finale for this prestigious event.'</p>
<p>Ben Plowden, Director of Surface Strategy and Planning at TfL, said: `It is a boon for the Capital to welcome the Women's Tour for the first time. In addition to showcasing all London has to offer, the race and activities will encourage even more women to take up cycling across the Capital.'</p>
<p>Tube and rail will be the best way to get around the Capital and visitors and Londoners are advised to allow more time for journeys than normal and plan their travel ahead at <a href="http://tfl.gov.uk/womens-tour">tfl.gov.uk/womens-tour</a>. Tube stations near the event will be busier than normal while central London buses will be diverted or terminate earlier than usual. Roads in and around Westminster will be closed or busier than usual on Sunday and Waterloo Bridge will also be closed from 08:00 to 19:00.</p>
<p>ENDS<br />
Notes to Editors:<br />
•	For media accreditation to the OVO Energy Women's Tour please visit thetour.co.uk/press and complete the online form.</p>
<ul>
    <li>Stage 1 &#45; Wednesday 7 June &#45; Daventry to Kettering</li>
    <li>Stage 2 &#45; Thursday 8 June &#45; The Stoke-on-Trent Stage</li>
    <li>Stage 3 &#45; Friday 9 June &#45; Atherstone to Royal Leamington Spa</li>
    <li>Stage 4 &#45; Saturday 10 June &#45; Chesterfield to Chesterfield</li>
    <li>Stage 5 &#45; Sunday 11 June &#45; The London Stage</li>
</ul>
<p>The OVO Energy Women's Tour</p>
<ul>
    <li>Created by SweetSpot Group in 2014, The OVO Energy Women's Tour is the UK's first ever international stage-race for women, bringing the world's top riders to compete over five days in Great Britain as a part of the UCI Women's WorldTour</li>
    <li>SweetSpot are an event organiser and sports marketing company behind the organisation of the Tour of Britain, the UK's biggest professional cycle race and the country's largest free-to-watch sporting event, and the creation of the unique Tour Series town and city centre televised races</li>
    <li>The three editions to date, won by Marianne Vos in 2014, Lisa Brennauer in 2015 and Lizzie Deignan in 2016, have seen hundreds of thousands of spectators turn out at the roadside with many more around the UK watching the ITV4 highlights every evening</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/news-articles">News articles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-June-World’s largest female cycling race comes to London -->

 
 
        
        
            @{ViewBag.Description = "World’s largest female cycling race comes to London";}
        
        


 