


@{ViewBag.Title = "World's greatest cycling festival returns this weekend";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">World’s greatest cycling festival returns this weekend</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>World’s greatest cycling festival returns this weekend</h1>
        <div class="content-page-press-release">
        29 July 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than 100,000 people will take part in Prudential RideLondon events across the 3 and 4 August
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This year's Prudential RideLondon is set to be the biggest and best we've ever had

 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>On Saturday (3 August), Londoners will be able to cycle around central London on traffic-free streets, while on Sunday spectators can enjoy a range of professional races and mass participation rides</li>
	<li>Some roads and bridges will be closed in London on Saturday 3 and in London and Surrey on Sunday 4 August</li>
	<li>Road users are advised to check their journeys before they travel</li>
</ul>

<p>Prudential RideLondon, the world's greatest mass participation festival of cycling, will return to London and Surrey this weekend and Transport for London (TfL) is encouraging Londoners to make the most of traffic-free streets and join in with a number of events planned across the 3 and 4 August.</p>

<p>Prudential RideLondon is now in its seventh year and there will be a wide range of events taking place on both Saturday and Sunday including a 19-mile event, which is open to cyclists aged 12 upwards and aims to encourage the next generation of London and Surrey's cyclists.</p>

<p>The FreeCycle event on Saturday will see a seven-mile traffic-free circuit, passing London landmarks such as Buckingham Palace and St. Paul's Cathedral, open to cyclists of all ages and abilities. Rides led by an experienced cycle guide will be travelling to the event from every London borough, making it even easier to get to central London to take part. Last year, more than 70,000 people cycled along the FreeCycle circuit.<br />
&nbsp;</p>

<p>Free festival zones with music and entertainment will be open at six locations along the route and bike mechanics on hand in case of any technical problems. This year, the event will be free of single-use plastic water bottles for the first time, with participants encouraged to bring their own refillable bottle and there will Thames Water fountains at all the FreeCycle Festival sites.</p>

<p>On Saturday 3 August from 05:00 to 19:30, TfL is making central London roads traffic-free for FreeCycle and the UCI Women's WorldTour Prudential RideLondon Classique, as well as the Brompton World Championship Final.</p>

<p>On Sunday, thousands of amateur cyclists will be raising money for charity by taking part in the Prudential RideLondon-Surrey 100, 46 and 19 events. The UCI WorldTour Prudential RideLondon-Surrey Classic event on the same day will see 150 of the world's best male cyclists take part in a 169km race through London and Surrey and there will be a variety of opportunities for spectators to cheer on the riders along the route.</p>

<p>On Sunday 4 August, from 04:00, roads throughout parts of east, central, west and southwest London and Surrey will be closed. Roads will begin to open once the events have passed and it is safe to do so, with the majority reopened by 18:00. All roads are expected to be fully open by 20:00. Thirteen river crossings will be closed for part of the day, including Westminster Bridge, Tower Bridge and Battersea Bridge but the Blackwall Tunnel will remain open. Tube and Rail will be the best way to travel during the event weekend. If you must drive, please ensure you allow plenty of time and prepare to take a longer route than usual. More information is available on the TfL website at <a href="[ioID]#tfl.gov.uk/ridelondon">tfl.gov.uk/ridelondon</a></p>

<p>Will Norman, London's Walking and Cycling Commissioner, said:</p>

<p>'This year's Prudential RideLondon is set to be the biggest and best we've ever had, and what's so special about RideLondon is that there are exciting events open to cyclists of all ages and abilities. Whether you're new to cycling and want to enjoy traffic-free streets in central London or come along to cheer the world's best riders from the World Tour, Prudential RideLondon is a huge celebration of cycling where everyone can get involved.'</p>

<p>Gareth Powell, TfL's Managing Director of Surface Transport, said:</p>

<p>'Prudential RideLondon is one of the highlights of the capital's calendar and is a fantastic opportunity for Londoners to come together to celebrate cycling and enjoy traffic-free streets across central London on Saturday 3 August. Cyclists of all ages and abilities will be catered for and traffic-free roads will help to encourage more people to try out cycling in London for the first time.&nbsp; Some roads will be closed as a result, so we are asking Londoners to plan ahead and check before they travel.'</p>

<p>TfL and the Mayor are committed to expanding the capital's cycle network at pace and increasing the proportion of Londoners who live within 400 metres of the cycling network to 28 per cent by 2024, up from nine per cent. TfL has doubled the amount of protected space for cyclists since 2016 and is on course to triple this by 2020.</p>

<p>In 2018, the Mayor's Vision Zero plan and Walking and Cycling Action Plans set out ambitious targets for eliminating death and serious injury from London's roads and making London the best city in the world for walking and the best big city for cycling. These plans will ensure safer streets and a high standard for walking and cycling routes, which will significantly increase the number of people walking and cycling as well as reduce road danger, congestion and air pollution.</p>

<p>The expansion of London's walking and cycling network continues to enable millions more journeys to be cycled or made on foot every week. New 2018 data shows that cycling in London is at record levels with the average daily total distance cycled exceeding 4million kilometres for the first time. Construction on major new routes between Tower Bridge Road and Greenwich and Acton and Wood Lane is underway and TfL is also currently inviting people to have their say on another route between Dalston and Clapton.</p>

<hr />
<p>Notes to editors</p>

<ul>
	<li>Prudential RideLondon is the world's greatest festival of cycling with more than 100,000 riders expected to participate in different events for all ages and abilities over the weekend of 3-4 August 2019. Find out more at <a href="[ioID]#prudentialridelondon.co.uk">prudentialridelondon.co.uk</a></li>
	<li>Prudential RideLondon features two UCI WorldTour events: the Prudential RideLondon-Surrey Classic for men and the Prudential RideLondon Classique for women. These two races are the richest one day races on the pro cycling calendar</li>
	<li>Prudential RideLondon was developed by the Mayor of London, Transport for London and London &amp; Partners in partnership with Surrey County Council and is sponsored by Prudential</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-July-World’s greatest cycling festival returns this weekend -->

 
 
        
        
            @{ViewBag.Description = "The world’s greatest festival of cycling returns to the capital and Surrey this weekend";}
        
        


 