


@{ViewBag.Title = "World-first hydrogen double decker buses to help tackle London's toxic air";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">World-first hydrogen double decker buses to help tackle London’s toxic air</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>World-first hydrogen double decker buses to help tackle London’s toxic air</h1>
        <div class="content-page-press-release">
        10 May 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Twenty British-built zero-emission hydrogen buses will arrive next year
        
    </div>



 <div class="on-this-page">
<p>The world's first hydrogen double decker buses will be introduced on three London bus routes next year, helping tackle the capital's air quality crisis.</p>

<p>Transport for London (TfL) has today ordered 20 of these green buses &#45; which produce no pollution from their exhausts - as part of its drive to make London's transport zero-emission. It follows the introduction of the world's first Ultra Low Emission Zone last month. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p>The environment-friendly vehicles will be introduced on routes 245, 7 and N7, with people traveling to Wembley&nbsp;Stadium,&nbsp;or from west London to the West End, able to hop on the new green buses for a smoother and quieter journey. The new, modern buses will also enhance the customer experience, with on-board USB charging points making bus travel even more attractive.</p>

<p>TfL is investing &pound;12m in the new buses and the fuelling infrastructure. Wrightbus in Northern Ireland will manufacture them, creating new jobs in the region. More than &pound;5 million of&nbsp;funding is being provided by European bodies and &pound;1 million&nbsp;from the Office of Low Emission Vehicles.</p>

<p>To encourage the take-up of this trailblazing technology in other cities in the UK and Europe, TfL is&nbsp;leading procurement within the 'Joint Initiative for hydrogen Vehicles across Europe' (JIVE) project. JIVE aims to&nbsp;bring down the cost of the vehicles by buying in bulk with other authorities - helping put the price&nbsp;per bus on&nbsp;a par with the other cleanest fuels.</p>

<p><strong>Sadiq Khan, Mayor of London, said</strong>: `We all have a role to play in cleaning up London's toxic air and I've always said that TfL should lead from the front. Following the launch of the world-first Ultra Low Emission Zone last month I'm delighted that TfL has today signed a contract to bring 20 state-of-the-art, zero-emission hydrogen buses to London's streets. We are investing a record &pound;85m in cleaning up our bus fleet, and I am proud that London now has the largest zero-emission bus fleet in Europe.'</p>

<p>As part of the Mayor's Transport Strategy, TfL is committed to using only the cleanest buses in its fleet. Ten Low Emission Bus Zones have been introduced, reducing harmful NOx emissions by 90 per cent on some of the capital's busiest roads. All of the buses in the Ultra Low Emission Zone and seventy-five per cent of the entire bus fleet already meets these standards, with all buses set to be upgraded by October 2020. This will make the whole city a Low Emission Bus Zone.</p>

<p>Greening transport in the capital will require using a range of&nbsp;clean power sources. Hydrogen buses can store more energy on board than equivalent buses, meaning they can be deployed on longer routes. They only need to be refuelled once a day for five minutes, making them much quicker to power up when compared with conventional battery-electric buses.</p>

<p>The double decker hydrogen buses will&nbsp;expand TfL's growing number of zero-emission buses.&nbsp;There are currently a total of 165 zero emission buses, with a further 68 electric double&nbsp;deckers&nbsp;on the roads by the summer. &nbsp;TfL has also recently announced that the route 323 will become fully electric next year, along with two further routes, which will be announced later this month.</p>

<p><strong>Claire Mann, TfL's Director of Bus Operations, said:</strong> `London has the cleanest bus fleet in Europe, but we know we need to go further and faster to tackle the public health emergency caused by dirty air. Innovating and using hydrogen means we have flexibility in matching the right fuel with the operational requirements of the network.&nbsp;</p>

<p>`We are also pleased to be leading an initiative that brings down the cost of buying the greenest buses across the continent and within our own country, as we know pollution doesn't respect national or local boundaries.'</p>

<p><strong>Dr Penny Woods, Chief Executive of the British Lung Foundation, said:</strong> &quot;London's air is toxic, and it needs to change. We know air pollution is a threat to all our health, and children, the elderly and those with existing lung and heart problems are most at risk, so it's good to see the Mayor of London tackling the issue head on. This move to cleaner public transport, alongside the introduction of the ULEZ, shows London's leading the way in the fight to clean up the air we breathe and we look forward to seeing even more ambitious action from TfL.&quot;</p>

<p><strong>Darren Shirley, Chief Executive of Campaign for Better Transport, said:</strong> "Millions of people across the country live in areas which currently exceed legal limits for air pollution. Cities need to be doing more to improve their air quality, including investing in clean technologies as a matter of urgency. We welcome this move to clean up London's bus fleet and its polluted air.'</p>

<p>The bus network is central to Londoners breathing cleaner air. Buses are essential in reducing dependence on cars and are an efficient and affordable way of moving people round the capital's roads.</p>

<ul>
	<li>The European funding is provided by the Fuel Cells and Hydrogen Joint Undertaking (FCH JU), and the Innovation and Networks Executive Agency (INEA), an executive agency of the European Commission.</li>
	<li>About the FCH JU: The Fuel Cells and Hydrogen Joint Undertaking (FCH JU) is a unique public private partnership supporting research, technological development and demonstration (RTD) activities in fuel cell and hydrogen energy technologies in Europe. Its aim is to accelerate the market introduction of these technologies, realising their potential as an instrument in achieving a carbon-lean energy system. The three members of the FCH JU are the European Commission, fuel cell and hydrogen industries represented by Hydrogen Europe and the research community represented by&nbsp;the research grouping Hydrogen Europe Research.</li>
	<li>About JIVE: The JIVE (Joint Initiative for hydrogen Vehicles across Europe) project seeks to deploy 139 new zero-emission fuel cell buses and associated refuelling infrastructure across five countries. JIVE has received funding from the FCH JU (Fuel Cells and Hydrogen Joint Undertaking) under grant agreement No 735582. This Joint Undertaking receives support from the European Union's Horizon 2020 research and innovation programme, Hydrogen Europe Industry and Hydrogen Europe Research. This is the first out of two projects: The JIVE2 project started in January 2018. Combined, the JIVE projects will deploy nearly 300 fuel cell buses in 22 cities across Europe by the early 2020s &#45; the largest deployment in Europe to date</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-May-World-first hydrogen double decker buses to help tackle London’s toxic air -->

 
 
        
        
            @{ViewBag.Description = "World-first hydrogen double decker buses to help tackle London’s toxic air";}
        
        


 