


@{ViewBag.Title = "Four new Cycleways to launch, enabling more people to join the capital's cycling boom";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Four new Cycleways to launch, enabling more people to join the capital’s cycling boom</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Four new Cycleways to launch, enabling more people to join the capital’s cycling boom</h1>
        <div class="content-page-press-release">
        12 September 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New high-quality Cycleways will bring even more people within easy reach of London's rapidly expanding cycle network, adding 20km of protected space
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We're determined to make sure that all Londoners have access to safe Cycleways that enable them to make the switch to cycling for everyday journeys. We'll continue to work closely with boroughs right across the capital to create high-quality routes which work for people who live in, work in and visit London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Julie Lewington</div>
            <div class="quotee-job-title">TfL's Head of Projects and Programmes</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL has worked with the London Boroughs of Southwark, Enfield, Waltham Forest and Camden to launch four new Cycleways across the capital in the coming month &#45; making cycling safer and easier and enabling more people to walk and cycle more often.</p>

<p>The routes will be the first in London to be signed as Cycleways, which is the new name for London's network of high-quality cycle routes.</p>

<p>TfL and the Mayor are investing record amounts in walking and cycling, which are vital to tackle some of the biggest challenges the capital faces, including the climate emergency, toxic air, road danger reduction and obesity.</p>

<p>The new routes, which will add more than 20km of protected space to London's cycle network, include an extension of the popular Cycleway 6 route at King's Cross, which was officially opened today (12 September).</p>

<h2>Easier and safer</h2>

<p>Following a complete overhaul of the busy junction between Judd Street and Midland Road, which had one of the borough's worst safety records, people cycling can now safely cross Euston Road to reach King's Cross and St. Pancras stations.</p>

<p>Upgrades to the pedestrian crossing at the junction have also made walking easier and safer for the 46,000 people who cross them every day. The Cycleway has been extended north to Kentish Town via Pancras Road and Royal College Street, connecting neighbourhoods in north London to two of the country's busiest train stations.</p>

<p>Visitors arriving in London by train can also now cycle safely to the busy tourist hotspots in Camden Town, Southwark, the City and beyond.</p>

<p>Three new Cycleways are being completed in the coming month:</p>

<ul>
	<li>C20 between Enfield Town and Palmers Green &#45; This new route will add 10km of protected space to London's cycling network and is an important link in the TfL funded Cycle Enfield programme, which is transforming local streets for walking and cycling</li>
	<li>C17 between Elephant &amp; Castle and Burgess Park - A 2km route in the London Borough of Southwark, which connects neighbourhoods in SE17 to the Cycleway network. This route connects to Cycleway 6 via Quietway 1 in&nbsp; the borough, opening up a huge number of potential journeys for people in the area by bike</li>
	<li>C23 between Lea Bridge and Whipps Cross &#45; A new route in the London Borough of Waltham Forest which adds 8km of protected space to the network, including a complete overhaul of the intimidating Whipps Cross roundabout. The new route is part of the transformative Enjoy Waltham Forest programme, which has been shown to increase children's life expectancy through improved local air quality</li>
</ul>

<h2>Vital for London's future</h2>

<p>Will Norman, London's Walking and Cycling Commissioner, said: 'These four new high-quality Cycleways will make it easier and safer to cycle - enabling many more Londoners to cycle across our city.</p>

<p>'Our new Cycleways branding will help people to navigate our network of routes confidently for everyday journeys, helping clean up our toxic air.'</p>

<p>Julie Lewington, TfL's Head of Projects and Programmes, said: 'Getting more people to walk and cycle is vital for London's future success as its population continues to grow.</p>

<p>'We're determined to make sure that all Londoners have access to safe Cycleways that enable them to make the switch to cycling for everyday journeys.</p>

<p>'We'll continue to work closely with boroughs right across the capital to create high-quality routes which work for people who live in, work in and visit London.'</p>

<p>Councillor Adam Harrison, Cabinet Member for a Sustainable Camden said: 'The heart of our new Camden Transport Strategy is to encourage healthy, active travel and provide better access around the borough and beyond.</p>

<p>'Our aim is to increase the level of walking, cycling and public transport use and also reduce car dependency in order to address the urgent problems of congestion, road danger, poor air quality, carbon emissions and climate change, through a 'Healthy Streets' approach.</p>

<p>'The extension to Cycleway 6, including Midland Road, is a good example of the strategy in practice and also the benefits of our joint working with Transport for London.'</p>

<p>Cllr Richard Livingstone, Southwark Council Cabinet Member for Environment, Transport and the Climate Emergency, said: 'As a council we are committed to making it easier for our residents to lead healthier lifestyles as well as improve the sustainability of our travel network in the borough.</p>

<p>'I am proud that Southwark is such a cycling-friendly borough making it easy for people to take to two wheels &#45; last year we opened almost 8km of new cycle routes in Southwark.</p>

<p>'I am pleased to see that this new Cycleway is opening up even more of the borough and making it easier to get around and enjoy all that Southwark has to offer. I look forward to seeing our residents making use of the new Cycleway.'</p>

<p>Enfield Council's Cabinet Member for Environment &amp; Sustainability, Cllr Guney Dogan, said: 'There is clear evidence that Cycle Enfield is beginning to enable change.</p>

<p>'Data from our cycle counters showing an average increase of cycling levels of 52% along the C20 route when comparing figures from 2016 and 2018 and a significant 11,866 trips through Palmers Green in July 2019 alone.</p>

<p>'With the support of TfL and Enfield Council's Healthy Streets team, we are building a sustainable transport network to support and connect our town centres, encouraging people to adopt healthy and accessible forms of travel into their everyday lives.'</p>

<p>Councillor Clyde Loakes, deputy leader of Waltham Forest Council and Cabinet Member for the environment, said: 'Lea Bridge Road is the flagship route of our &pound;27million TfL funded Enjoy Waltham Forest programme, which is making it safer and easier for our residents to make their journeys by bike, whether they're heading to the local shops or commuting into central London.</p>

<p>'On C23 we have created 8km of high quality segregated cycle track, as well as improved more than 60 crossings for pedestrians and cyclists, created a new pocket park and planted almost 200 new trees.</p>

<p>'Whipps Cross is no longer an accident waiting to happen, the new interchange is much safer for all road users with dedicated crossings for pedestrians and cyclists as well as segregated cycle lanes and a bus interchange which is ready for further expansion of services, making it easier for people to get to the hospital, Epping Forest or head off elsewhere.'</p>

<h2>Safe, high-quality</h2>

<p>Following clear feedback from Londoners that the current brands can be misleading, London's growing cycling network will be gradually rebranded as Cycleways.</p>

<p>All new and existing routes must meet TfL's strict new Cycling Quality Criteria to be signed as Cycleways, which means that people using them can be confident of a safe, high-quality route.</p>

<p>Cycling in London is at record levels with the average daily total distance cycled exceeding 4 million kilometres for the first time last year.</p>

<p>The Mayor's Cycling Action Plan, published last December, set out how TfL would work to double the number of cycle journeys over the next six years. Building a London-wide network of high-quality Cycleways is vital to achieving this.</p>

<p>Construction on a number of major new Cycleways is either under way or set to begin this year. Work on Cycleway 4 between Tower Bridge and Greenwich began in June, whilst work on Cycleway 9 between Brentford and Olympia is planned to start later this year.</p>

<p>Construction work also continues on Cycleway 34 between North Acton and Wood Lane.</p>

<p>TfL is also transforming a number of outdated and intimidating junctions across London to make them much safer for people walking and cycling, with construction under way at Old Street and almost complete at Highbury Corner.</p>

<hr />
<p><strong>Notes to editors</strong></p>

<p>TfL has recently published a digital cycle map, which shows open and proposed cycle routes as well as Santander Cycles docking stations across London. View it here - <a href="https://tfl.gov.uk/maps/cycle?intcmp=40402">https://tfl.gov.uk/maps/cycle?intcmp=40402</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-September-Four new Cycleways to launch, enabling more people to join the capital’s cycling boom -->

 
 
        
        
            @{ViewBag.Description = "Four new Cycleways set to launch across London in the next month, enabling even more people to join the capital’s cycling boom";}
        
        


 