


@{ViewBag.Title = "LB Hammersmith and Fulham - Work begins to repair Hammersmith Bridge";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">LB Hammersmith and Fulham - Work begins to repair Hammersmith Bridge</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>LB Hammersmith and Fulham - Work begins to repair Hammersmith Bridge</h1>
        <div class="content-page-press-release">
        03 September 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:16px"><span style="line-height:150%">Following detailed investigation by a team of world-leading specialist engineers, Transport for London and Hammersmith &amp; Fulham Council have agreed the works needed to repair Hammersmith Bridge. The first stage of the work has now begun and TfL has provided &pound;25million to pay for it.</span></span></p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm">&nbsp;</p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:16px"><span style="line-height:150%">TfL and H&amp;F Council are continuing to explore the most appropriate funding for the next phase of construction, ahead of the planned award of a contract for the next stage of the works next spring. The work is expected to take approximately three years.</span></span></p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm">&nbsp;</p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:16px">&quot;Hammersmith Bridge is not only a beautiful example of innovative 19-century British engineering, it's also a vital 21st-century river-crossing,&quot; s<strong>aid Cllr Stephen Cowan, Leader of the London Borough of Hammersmith &amp; Fulham.</strong> &quot;It can be made fit for purpose for generations to come. That's what we're doing and we're focussed on getting the bridge reopened to cars and buses as quickly as possible.&quot;</span></p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">&nbsp;</p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:16px">&quot;This comprehensive structural review was the first in decades. It has revealed corrosion and significant failings throughout the 132-year-old suspension structure that, had they been allowed to continue unchecked, would have been a threat to public safety.</span></p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">&nbsp;</p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:16px">&quot;I am grateful to Transport for London and the Mayor of London for their help with designing this scheme, and for working closely with us to get the bridge fully and quickly restored.</span></p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">&nbsp;</p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:16px">&quot;I'm also grateful to Cllr Gareth Roberts, the Leader of Richmond Council, and his team, for their constructive approach to getting the bridge re-opened as quickly as possible. Working together we are doing everything we can for local residents and businesses on both sides of the river to minimise disruption.&quot;</span></p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">&nbsp;</p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:150%">Early stage estimates indicate the work could cost &pound;120m, although as this is purely early estimates it includes a contingency due to the unknowns, complexities and challenges inherent in repairing such an aged, Historic England listed structure. Engineers will continue to refine this estimate as the project progresses. TfL and H&amp;F Council are continuing to explore the most appropriate funding route for the main construction.</span></span></p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm">&nbsp;</p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:150%"><strong>Garry Sterritt, TfL's Head of Asset Investment, said:</strong> "This bridge is not only a historic and iconic structure in west London, but an important transport link - connecting people across the river and supporting local economies. We're committed to supporting the next stages of the project, and will work with Hammersmith &amp; Fulham Council to identify the best way to pay for the later stages of the refurbishment."</span></span></p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:150%">&nbsp;</span></span></p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:150%"><strong>Cllr Gareth Roberts, Leader of Richmond Council, added:</strong> "We now know that Hammersmith Bridge needs serious restoration work following many years of heavy traffic usage. And I am pleased that Hammersmith &amp; Fulham Council and TfL have found a way forward in funding part of the repair work. Over 2,000 local people and businesses from Richmond upon Thames told us in a recent survey that they are keen for the bridge to be repaired and reopened as soon as possible and whilst people will have to bear with the situation for a little while longer, the works will ensure that the bridge is future-proofed for many more decades.</span></span></p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:150%">&nbsp;</span></span></p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:150%">"We will continue to ensure that local people are updated regularly on the work, including the continued commitment from TfL to reviewing the local transport network, to ensuring that any impacts on our borough is mitigated."</span></span></p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:150%">&nbsp;</span></span></p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:150%"><strong>Repair plan agreed</strong></span></span></p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:150%">Once completed, the refurbishment will enable cars and buses (including the heavier electric single-deckers) to cross the bridge. But to prevent future damage, TfL will continue to limit the flow of buses on and off the bridge.</span></span></p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:150%">&nbsp;</span></span></p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:150%">More details about Hammersmith Bridge:<a href="http://www.lbhf.gov.uk/bridge" style="text-decoration: underline;">www.lbhf.gov.uk/bridge</a></span></span></p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:150%">&nbsp;</span></span></p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:150%"><strong>Notes to editors</strong></span></span></p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:150%">&nbsp;</span></span></p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:150%"><strong>Why was the bridge closed?</strong></span></span></p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:150%">In April, several hairline micro-fractures were discovered in the cast iron casing around the pedestals that have held the suspension chains in place since 1887.</span></span></p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:150%">&nbsp;</span></span></p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:150%">They were only discovered because of the comprehensive structural integrity review and on-going safety checks commissioned by H&amp;F Council in 2015.</span></span></p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:150%">&nbsp;</span></span></p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:150%">Cast iron can shatter - one reason why this is the only bridge of its kind in the world - so the micro-fractures were a huge worry. The council immediately closed the bridge for safety reasons.</span></span></p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:150%">&nbsp;</span></span></p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:150%"><strong>State of the City</strong></span></span></p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:150%">The 'State of the City Report' produced by London Councils and the London Technical Advisers Group, shows that the condition of highway assets in London is declining - <a href="https://www.lotag.co.uk/project-3" style="text-decoration: underline;">https://www.lotag.co.uk/project-3</a></span></span></p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:150%">&nbsp;</span></span></p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:150%"><span style="background:white">Keeping local authority infrastructure, such as Hammersmith Bridge in good condition is essential to reducing congestion. This ensures the wider road network keeps moving safely and productively, efficiently connecting people and communities to goods and services. However, without the certainty of steady, sustained and long-term funding to allow London to cover the cost of all of its own infrastructure maintenance, weight and traffic restrictions could be required in other locations until sustained funding can be found. &nbsp;</span></span></span></p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:150%"><strong>&nbsp;</strong></span></span></p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:150%"><strong><span style="background:white">Mitigating the impact of the closure</span></strong></span></span></p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:150%">TfL has reorganised buses in the area to ensure that residents still have a well-connected public transport network while the bridge remains closed.</span></span></p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:150%">&nbsp;</span></span></p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:150%">It will also enhance its Dial-a-Ride services to provide another option for people with impaired mobility whose journeys might have been affected by the closure.</span></span></p>

<p class="x" style="margin-bottom:.0001pt; margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:150%">&nbsp;</span></span></p>

<p><span style="font-size:12.0pt"><span style="background:white">TfL has changed traffic signals in the area to reduce the impact of the closure, and will continue to monitor how traffic responds.</span></span></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-September-LB Hammersmith and Fulham - Work begins to repair Hammersmith Bridge -->

 
 
        
        
            @{ViewBag.Description = "LB Hammersmith and Fulham - Work begins to repair Hammersmith Bridge";}
        
        


 