


@{ViewBag.Title = "#LondonIsOpen greets Canary Wharf passengers on largest ever Tube advertising screens ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">#LondonIsOpen greets Canary Wharf passengers on largest ever Tube advertising screens </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>#LondonIsOpen greets Canary Wharf passengers on largest ever Tube advertising screens </h1>
        <div class="content-page-press-release">
        28 October 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>&nbsp;As part of a strategy to generate vital new revenue for the modernisation of London's transport system, Transport for London (TfL) and Exterion Media today launched two 7.2m x 4m, double-sided screens inside Canary Wharf Tube station.</p>
<p>The screens, which went live with an artwork by Mark Titchner as part of the Mayor's #LondonIsOpen campaign, are the first example of what the new media partnership between TfL and Exterion Media will be delivering across TfL's Tube and rail network.</p>
<p>Designed in collaboration with the original Canary Wharf station architects Foster and Partners, the screens &#45; which support full motion video &#45; suspend from the ceiling in the main ticket hall providing the opportunity for advertisers to connect with more than one million people who pass through each week.</p>
<p>London Is Open imagery will run on the screens until 30 October. From 31 October, the screens will feature six, ten-second slots for commercial advertising.</p>
<p>Known as Hello London, the eight-year media partnership between TfL and Exterion Media aims to excite and engage the customers that make more than a billion journeys on TfL's Underground and rail services each year. Hello London will be bringing investment and innovation to the outdoor media market, installing improved digital screens and offering brands new opportunities in sponsorship, pop-up retail and experiential marketing. The partnership is expected to generate &pound;1.1bn in revenue to reinvest in the transport system.</p>
<p>The Mayor of London Sadiq Khan said: ‎`These new screens are a key part of an innovative media contract that will not only be a great opportunity for advertisers, but will help us to generate more than a billion pounds to reinvest into our transport network. I'm delighted that they've chosen to mark this exciting new partnership by screening our message that London ‎is Open, and we hope these screens will soon be sought after.'</p>
<p>Graeme Craig, Director of Commercial Development at TfL, said: `Hello London will change the face of advertising in Underground and Overground stations, giving advertisers new and dynamic ways of interacting with our customers.</p>
<p>`The screens in Canary Wharf will enable advertisers to reach more than 54 million people every year and are the first of a number of new digital assets to be introduced. Making the best use of our advertising estate is part of a wider commercial approach to generate &pound;3.4bn of non-fare revenue by 2023/24, ensuring we can help the Mayor deliver a modern and affordable transport network.'</p>
<p>Shaun Gregory, CEO of Exterion said: `We've launched a new way of engaging consumers in the Capital through our new media proposition, Hello London. We've put the consumer at the centre of our thinking. Working as one team with TfL we're upgrading all digital displays across the network and introducing our new Hello London Icons programme, which starts with today's unveiling of these high-impact screens at Canary Wharf. The launch of the Canary Wharf screens marks the latest stage in our drive to enhance the customer experience through delivering a truly world class estate.'</p>
<p>Additional information:</p>
<ul>
    <li>Canary Wharf Tube station opened in 1999 as part of the Jubilee line extension. It is one of the Capital's busiest stations, with 54.4 million customers passing through annually.</li>
    <li>The screens were installed during engineering hours from July to October 2016.</li>
    <li>An image of the new screens can be found <a href="https://www.flickr.com/photos/tflpress/sets/72157675771539515">here</a></li>
    <li>A short video of the screens can be found <a href="https://www.youtube.com/watch?v=j6S9x21aSIE&amp;feature=youtu.be">here</a></li>
</ul>
<p>Screen specifications are as follows:</p>
<ul>
    <li>There are four 7.2m x 4m LED screens (two double-sided screens) suspended from the ceiling in the main ticket hall at Canary Wharf. These screens stream full-motion digital advertising on a large visual format, allowing for highly impactful campaigns</li>
    <li>Each advertiser has a 10 second spot within a 60-second loop, ensuring each ad is played every minute</li>
    <li>The screens are intended to run full motion video, animation and live content, allowing for a smooth integration into TV and digital campaigns</li>
    <li>All screens have dynamic capabilities, allowing for tailored content playout based on real-time information such as weather conditions and current events</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-October-#LondonIsOpen greets Canary Wharf passengers on largest ever Tube advertising screens  -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 