


@{ViewBag.Title = "Deputy Mayor for Transport officially opens new West Croydon bus station";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Deputy Mayor for Transport officially opens new West Croydon bus station</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Deputy Mayor for Transport officially opens new West Croydon bus station</h1>
        <div class="content-page-press-release">
        12 October 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        &pound;4.5m new bus station delivers more accessible and efficient journeys
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This new safe and accessible station will be a real boost to the town centre, improving journeys for tens of thousands of passengers every single day continuing the regeneration of the area"</div>
        <div class="quote-footer">
            <div class="quotee-name">Val Shawcross</div>
            <div class="quotee-job-title">Deputy Mayor for Transport</div>
        </div>
</div>

 <div class="on-this-page">
<p>London's Deputy Mayor for Transport, Val Shawcross, today officially opened a new bus station in West Croydon.</p>
<p>The station, which cost &pound;4.5m, has been completely rebuilt with an open, pedestrian-friendly layout, and 21% increased capacity.</p>
<p>The station will serve 25 bus routes and 150 buses per hour at peak times, with 23,000 passengers able to use it every day.</p>
<p>Situated on the site of the previous station, it will provide close links to the London Overground station and Tram station.</p>
<h2>Real boost</h2>
<p>Val Shawcross, Deputy Mayor for Transport, said: 'I'm delighted that West Croydon has a new bus station to be proud of.</p>
<p>'This new safe and accessible station will be a real boost to the town centre, improving journeys for tens of thousands of passengers every single day continuing the regeneration of the area.'</p>
<p>Gareth Powell, TfL's Director of Strategy and Contracted Services, Surface Transport, said: 'The new bus station will provide customers with a safer, more accessible and congenial environment and play a key part in the redevelopment of Croydon town centre.</p>
<p>'With its greater capacity to meet increasing numbers of bus passengers both now and in the future and sited so conveniently alongside the London Overground station, and tram, it will provide a transport hub which will help regenerate this part of Croydon.'</p>
<h2>Re-built and modernised</h2>
<p>Councillor Stuart King, cabinet member for transport and environment, said: 'It's fantastic to see West Croydon bus station re-built, modernised and given the makeover it deserves.</p>
<p>'West Croydon is hugely significant to us as a major transport hub and gateway to our town centre, so this is a really important regeneration milestone for Croydon.</p>
<p>'We are revitalising and transforming the streets and public realm around the West Croydon transport interchange with a &pound;6m package of improvements and the new bus station is right at the heart of this.'</p>
<h2>Significant and positive</h2>
<p>The new bus station was designed by TfL's in-house team. They ensured the new low-rise building will make a significant and positive contribution to both the immediate environment and the wider Croydon town centre.</p>
<p>The new facilities include:</p>
<ul>
    <li>A large sheltered waiting area</li>
    <li>Real time travel information</li>
    <li>A modern public address system</li>
    <li>State-of-the-art CCTV and improved lighting</li>
    <li>Accessibility improvements</li>
    <li>18% more seating</li>
    <li>A retail outlet</li>
    <li>A fully accessible public toilet</li>
    <li>Fifteen solar panels on the roof of the building</li>
</ul>
<hr />
<p><strong>Notes to Editors:</strong></p>
<ul>
    <li>The reopening of West Croydon bus station comes one month after the launch of the new Hopper fare &#45; which allows passengers to switch from bus to tram, tram to bus or tram to tram for free within an hour. The new fare has already been a huge success and many more people will benefit thanks to the easy interchange between buses and trams at this site</li>
    <li>The West Croydon London Overground station is also within a minute's walk of the bus and tram stations and completes this site's value as key transport hub and interchange for TfL customers</li>
    <li>Photographs of the new station are available on request</li>
    <li>Croydon topped the list of 173 areas as the fastest growing UK region with an annual growth rate of 9.3% in gross value added (GVA), according to a survey in August 2016 accountancy group UHY Hacker Young</li>
    <li>The bus station design aligns with Croydon Council's West Croydon Masterplan</li>
    <li>The Connected Croydon programme is a &pound;50m project of high street, public space and transport improvements that will transform the town centre by creating a more attractive environment to walk, live, work, socialise and do business.</li>
    <li>Croydon Council is delivering the Connected Croydon programme in partnership with Transport for London and the Greater London Authority, supported by an &pound;18m investment from the Mayor of London and additional TfL funding</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-October-Deputy Mayor for Transport officially opens new West Croydon bus station -->

 
 
        
        
            @{ViewBag.Description = "£4.5m new bus station delivers more accessible and efficient journeys";}
        
        


 