


@{ViewBag.Title = "Santander Cycles light the way for Jessica Ennis-Hill and London's cyclists";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Santander Cycles light the way for Jessica Ennis-Hill and London’s cyclists</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Santander Cycles light the way for Jessica Ennis-Hill and London’s cyclists</h1>
        <div class="content-page-press-release">
        25 October 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>The Mayor of London, Transport for London (TfL) and Santander today announced that 4,000 Santander Cycles have been fitted with innovative Blaze Laserlights to make riders more visible and increase their confidence on the roads. Over the next nine months the lights will be fitted to the rest of the fleet of 11,500 bicycles.</p>
<p>With the clocks going back this weekend, and evenings become darker earlier, Santander ambassador and Olympian, Jessica Ennis-Hill, will join women from London on a cycle ride along the East-West Cycle Superhighway this evening with the Blaze Laserlights guiding their way. The group of women following Jessica Ennis-Hill are all new to cycling and with safer infrastructure and improved Santander Cycles they can feel more confident on the roads.</p>
<p>Jessica Ennis-Hill said: `I'm really excited to lead this group of new cyclists along the East-West Cycle Superhighway. Cycling in London can be a great and efficient way to get around and riding Santander Cycles with the new Blaze Laserlights leading the way makes us feel confident and safe enough to get out on our bikes in the future.'</p>
<p>Blaze Laserlights project the symbol of a bicycle six metres in front of the cycle, onto the ground, making the cyclist more visible to those around them. Over the winter months the number of rides each day falls below the warmer seasons, but with the lights the aim is to encourage more people to keep up the cycling habit.</p>
<p>After a successful trial with overwhelmingly positive feedback and strong independent test results, the lights will provide a bigger, brighter presence on the road and early warning of a cyclist's approach.</p>
<p>In September 2015, 250 Santander Cycles were fitted with the technology. An on-street survey of cyclists riding them revealed that around three-quarters felt more confident.</p>
<p>Almost half also said they would be more likely to use Santander Cycles at night with the Laserlight fitted.</p>
<p>The light alerts drivers and pedestrians to the approach of a bicycle and helps them to be seen when otherwise they might be invisible, for example when they are in a vehicle's blind spot. The intelligent Laserlights will only come on only when it is dark to save energy.</p>
<p>Paul Cowperthwaite, TfL's General Manager of Santander Cycles, said: `The Blaze Laserlights will make Santander Cycles even more usable in the darker mornings and evenings over winter and help to make our customers feel more confident on the roads.'</p>
<p>Keith Moor, Chief Marketing Officer, Santander said: `We hope the introduction of Blaze Laserlight will ease the concerns of many London cyclists at this time of year. We've had a hugely successful trial and feel that this latest innovation from Santander Cycles will contribute to improving the lives of Londoners by reducing fear, increasing visibility and safety whilst promoting an active lifestyle.'</p>
<p>Last month, the Mayor of London announced that TfL had signed a new five year contract with Serco to maintain and distribute Santander Cycles. As part of that contract a next-generation Santander Cycle will be provided, built by Pashley Cycles at its factory in Stratford-upon-Avon.</p>
<p>Pashley is England's longest established bicycle manufacturer and celebrated its 90th anniversary this year. The new bikes will retain the popular features of the existing model but will be lighter and more manoeuvrable. Around 500 new bikes will be provided each year under the new contract and all will be fitted with Blaze Laserlights from new.</p>
<p>To promote the roll out, Santander has created a short Halloween-themed film called 'The Blaze Witch Project' featuring Jessica Ennis-Hill and Formula 1 World Champion Jenson Button to highlighting the benefits of the Blaze Laserlight™. The film can be seen at <a href="http://bit.ly/SantanderCyclesBlaze">http://bit.ly/SantanderCyclesBlaze</a></p>
<p>ENDS</p>
<ol>
    <li>Notes to Editors:The Blaze Laserlight™ was developed by Emily Brooke, the CEO and founder of Blaze, a London start-up that makes products for urban cyclists.</li>
    <li>The project is largely funded by Santander UK as part of the partnership with TfL.</li>
    <li>Santander Cycles is the second largest cycle hire scheme in Europe. Since launching in July 2010, more than 52 million journeys have been made.</li>
    <li>Santander Cycles can be hired from as little as &pound;2 a day for an unlimited number of 30 minute journeys.</li>
    <li>The weekend of July 30 and 31 saw an unprecedented 92,527 hires, beating the previous record from May this year of 89,833. July saw a record 1,188,428 hires, beating the previously highest month of July 2014</li>
</ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-October-Santander Cycles light the way for Jessica Ennis-Hill and London’s cyclists -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 