


@{ViewBag.Title = "TfL trials new digital bus stop display sign";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL trials new digital bus stop display sign</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL trials new digital bus stop display sign</h1>
        <div class="content-page-press-release">
        17 October 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Live bus arrivals information panel within the bus-stop 'flag'<BR>
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are continually exploring new ways to deliver information to our customers while they are on the move and to ensure we are at the forefront of new technology as it develops"</div>
        <div class="quote-footer">
            <div class="quotee-name">Simon Reed</div>
            <div class="quotee-job-title">Head of Technical Services, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Live bus arrivals information panel within the bus-stop 'flag'</li>
    <li>Screen could provide a cheaper way to deliver real time travel information</li>
    <li>For the first time customers can receive information about TfL and non-TfL buses serving the same stop</li>
</ul>
<p>Transport for London (TfL) is trialling a new battery-powered bus stop display screen which will for the first time provide real time travel information on other bus services as well as its own.</p>
<p>The first trial is being conducted at a bus stop at Northwood Station, Hillingdon and will give customers travelling to and from Mount Vernon Hospital all the latest travel information that they need.</p>
<p>The new screens can be quickly and easily attached to bus stop posts and display next bus arrival information to customers.  The signs are battery-powered so they are not limited to bus stops with shelters and an electrical power supply.</p>
<p>Simon Reed, TfL's Head of Technical Services, said: </p>
<p>'We are continually exploring new ways to deliver information to our customers while they are on the move and to ensure we are at the forefront of new technology as it develops.</p>
<p>'We will trial this screen for three months and will then evaluate how successful it has been and what our customers think of it.  If cost-effective, this type of display could be quickly and cheaply installed at other bus stops with no shelter or power supply.  This will widen our reach in providing real time bus arrival information at the stop to our passengers.'</p>
<p>The first of these new screens will be installed at Bus Stop C on Green Lane at Northwood Station, Hillingdon.  The screen will display information on TfL bus services operating from the bus stop (routes 282 and H11) as well as cross-border services, in this case, Arriva Route 8 (which runs from Abbots Langley to Mount Vernon Hospital via Watford Junction).</p>
<p>&nbsp;</p>
<hr />
<br />
<p>Notes to Editors:</p>
<ul>
    <li>The trial will begin on 17 October and is scheduled for completion at the end of February 2017.</li>
    <li>The trial screen will show Arriva route 8 as well as TfL routes 282 and H11 which also serve the stop.</li>
    <li>There are around 2,600 bus stops across the Capital with Countdown boards providing customers with live bus information.  This information is also available from the TfL website and a variety of Apps.</li>
    <li>There are also 10 bus stops on the TfL network trialling E-paper screens that displaying bus information that can be amended remotely &#45; rather than conventional timetable displays that have to be changed manually.</li>
    <li>The live information panel is 458mm (w) x 375mm (h) x 68mm (d).</li>
    <li>The delivery partner is Axentia Technologies of Sweden http://www.axentia.se/</li>
    <li>The batteries which power the Dynamic screens last three years.</li>
    <li>Images are available from the TfL Press Office</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-October-TfL trials new digital bus stop display sign -->

 
 
        
        
            @{ViewBag.Description = "TfL trials new digital bus stop display sign to deliver live travel information ";}
        
        


 