


@{ViewBag.Title = "Barclays Cycle Hire wins London Cycling Campaign Best Cycle Facility award ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Barclays Cycle Hire wins London Cycling Campaign Best Cycle Facility award </h1>
        <div class="content-page-press-release">
        19 November 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor's landmark cycling scheme, Barclays Cycle Hire, was last night awarded the London Cycling Campaign (LCC) award for the Best Cycling Facility.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The scheme has outstripped all of our expectations"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">Mayor of London's Transport Advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The scheme has outstripped all of our expectations
                            
                        </p>
                    </div>
                
            
            
            <p>The award, presented by LCC, recognises projects that promote cycling in the Capital.</p>
<p>Transport for London's (TfL's) Head of Projects, Mick Hickford, was on hand to accept the award which was presented to him during LCC's annual general meeting.</p>
<p>Kulveer Ranger, the Mayor of London's Transport Advisor, said; 'The Mayor and I are delighted to hear that Barclays Cycle Hire has been handed this prestigious award.</p>
<p>'The scheme has outstripped all of our expectations, is hugely popular and already very successful, I'm looking forward to seeing the scheme continue to grow and develop over the coming years.'</p>
<p>Mick Hickford said; 'It was an honour to accept this award on behalf of everyone that has made Barclays Cycle Hire possible. </p>
<p>'We are delighted that LCC are able to recognise the freedom the scheme provides to the many thousands of people that are already Barclays Cycle Hire members.'</p>
<p>Asok Sinha, LCC Chief Executive Officer, said; 'The well deserved award for the Barclays Cycle Hire scheme reflects the wide popularity of the hire scheme and the fact that it makes the benefits of cycling accessible to thousands of people. </p>
<p>'We look forward to the expansion of Barclays Cycle Hire so that even more people can enjoy cycling in our Capital.'</p>
<p>More than 100,000 people have become members of the Mayor's flagship Barclays Cycle Hire scheme since it started almost four months ago. </p>
<p>More than 1.6 million journeys have now been made on London's iconic blue bikes, with around 20,000 trips being made every weekday.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Barclays Cycle Hire, which is operated by Serco Limited on behalf of TfL, is the most sustainable and environmentally friendly form of public transport ever seen in the Capital </li>
<li>Barclays Cycle Hire and Barclays Cycle Superhighways are building on the massive 117 per cent growth in cycle journeys on London's major roads since TfL was created in 2000 </li>
<li>Barclays Cycle Hire operates across central London. Docking stations and hire bicycles are currently available in Camden, City of London, Hackney, Islington, Lambeth, Kensington &amp; Chelsea, Southwark, Tower Hamlets, Westminster and several of the Royal Parks </li>
<li>The categories for this year's LCC nominations were: 
<ul>
<li>Best Cycle Facility </li>
<li>Best Community Cycling Initiative </li>
<li>Best Cycling Initiative for Young People or Children </li>
<li>Best Workplace Cycling Initiative </li>
<li>Best Cycling Event (non-competitive)</li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The award, presented by LCC, recognises projects that promote cycling in the Capital.Transport for London's (TfL's) Head of Projects, Mick Hickford, was on hand to accept the award which was presented to him during LCC's annual general meeting.Kulveer";}
        
        


 