


@{ViewBag.Title = "East London Transit scoops prize at UK Bus Awards";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>East London Transit scoops prize at UK Bus Awards</h1>
        <div class="content-page-press-release">
        19 November 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A 24-hour bus service which provides residents with quick links between Ilford and Dagenham has won a prestigious bus awards.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Mayor's vision to improve the look and feel of the Capital is really starting to take effect
                            
                        </p>
                    </div>
                
            
            
            <p>The East London Transit (ELT), launched by the Mayor and Transport for London (TfL) in February, scooped the Infrastructure Award at the UK Bus Awards 2010, held in London on Tuesday 16 November. </p>
<p>The scheme provides residents in Barking &amp; Dagenham and Redbridge with a quick and direct link from Ilford to Dagenham Dock Station via Barking town centre.</p>
<p>The ELT project has delivered a high-frequency bus service in a busy urban area, transforming the streetscape and improving traffic flow for all road users. </p>
<p>The new highway design has regulated parking and loading, and delivered quicker journey times for bus passengers whilst improvements to the local environment have rejuvenated busy retail areas and improved accessibility to shops and services. </p>
<p>New buses with the latest environmentally friendly technology and real time information are used on the routes.</p>
<p>The judges were especially impressed by the clever way bus priority had been incorporated into areas and on roads that did not lend themselves to conventional methods, and how these had been brought together to provide a comprehensive scheme to assist bus flow, and give an attractive service to bus users.</p>
<h2>Links between communities</h2>
<p>Kulveer Ranger, the Mayor's Transport Adviser, said: 'We are thrilled with this award which recognises how the Mayor has delivered on his promise to provide better links between local communities and jobs. </p>
<p>'Before this service was in place there was no local buses serving Dagenham dock. </p>
<p>'This bus project, combined with improvements to roads and public spaces in the area, means the Mayor's vision to improve the look and feel of the Capital is really starting to take effect.'</p>
<p>David Brown, TfL's Managing Director of Surface Transport, said: 'We are very pleased to have won the Infrastructure Award at this year's UK Bus Awards. </p>
<p>'By working closely with the local boroughs we designed innovative ways to improve both the streetscape and the bus service. </p>
<p>'We are delighted that the investment has been recognised with this award.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>ELT images available on request</li>
<li>The ELT operates as two routes, EL1 and EL2, both routes began operating on 22 February 2010</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The East London Transit (ELT), launched by the Mayor and Transport for London (TfL) in February, scooped the Infrastructure Award at the UK Bus Awards 2010, held in London on Tuesday 16 November. The scheme provides residents in Barking &amp; Dagenham and";}
        
        


 