


@{ViewBag.Title = "EU funding helps secure three more hydrogen buses for London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>EU funding helps secure three more hydrogen buses for London</h1>
        <div class="content-page-press-release">
        04 November 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        EU funding has enabled Transport for London (TfL) to make provision for three more hydrogen buses that will enable an entire bus route in London to use this greener, cleaner technology, helping to improve air quality in the Capital.
        
    </div>



 <div class="on-this-page">
<p>TfL has secured &euro;5.67m funding as part of the EU's Cleaner Hydrogen in Cities (CHIC) project to expand its current hydrogen bus project. </p>
<p>The funding allows for three additional zero-emission hydrogen hybrid fuel cell buses and the opportunity to extend the whole demonstration project from three to four years. </p>
<p>The additional buses will join the five existing buses which are due to come into service on route RV1 later this year. </p>
<p>All eight buses will be in service by the end of 2011, at which point the entire route, which runs from Covent Garden to Tower Hill,&nbsp; will be operated by zero-emission hydrogen technology.</p>
<p>TfL is committed to introducing less polluting transport choices to improve air quality and help tackle London's CO2 emissions.&nbsp; </p>
<p>Once in service the hydrogen hybrid fuel cell buses will produce no harmful emissions, only water vapour, and will join one of the cleanest bus fleets in Europe.&nbsp; </p>
<p>The buses will be delivered in partnership with ISE Corporation and Wrightbus, with Ballard supplying the fuel cells and Air Products the hydrogen fuel.&nbsp; </p>
<h2>Tackling emissions</h2>
<p>London is one of five European partners benefiting from the EU investment in hydrogen technology, alongside Oslo in Norway, Milan and Bolzano in Italy, and Aargau/St Gallen in Switzerland.</p>
<p>Kit Malthouse, Chair of the London Hydrogen Partnership and Deputy Mayor for Policing, said: 'This is knockout news for the Mayor's plans to cleanse the air we breathe every day. </p>
<p>'Hydrogen vehicles emit only water from their exhaust pipe, unlike the fumes and pollution petrol and diesel engines spew forth.&nbsp; </p>
<p>'Having a bus route running entirely on hydrogen gives us a fantastic flagship fleet to demonstrate the massive benefits of this exciting fuel.'</p>
<p>Mike Weston, Operations Director for London Buses, said: 'London faces many environmental challenges but with this funding now secured we can fully consider hydrogen and demonstrate the long term benefits which can be made in tackling CO2 emissions.&nbsp; </p>
<p>'We are delighted that this additional funding will allow us to have a bus route fully operating with hydrogen hybrid fuel cell buses, and this marks an exciting new chapter for London Buses as we embrace new technologies to further build on the excellent work we are doing to improve air quality for Londoners.'</p>
<p>Earlier this year, the London Hydrogen Partnership published a hydrogen action plan which pledged to support the introduction of more hydrogen fuelled vehicles in the Capital.&nbsp; </p>
<p>For more information visit the <a href="http://www.london.gov.uk/media/press_releases_mayoral/london&acirc;s-&acirc;hydrogen-network&acirc;-plans-unveiled">Greater London Authority website</a></p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>When the buses enter service they will be operated on behalf of London Buses by First Group. They will be refuelled and maintained at First Group's Lea Interchange bus garage. Work is currently underway to build the hydrogen refuelling site</li>
<li>Air Products will supply the hydrogen and refuelling equipment. ISE will supply specialist maintenance support for the buses with assistance from Wrightbus and Ballard</li>
<li>TfL is a member of the Hydrogen Bus Alliance, an international partnership whose members are committed to supporting the continued and rapid development and commercialisation of hydrogen technology in the transport sector</li>
<li>Between December 2003 and January 2007, TfL took part in the Cleaner Urban Transport for Europe (CUTE) project and its extension HyFLEET:CUTE trialling three first-generation hydrogen fuel cell buses on route RV1 over a period of three years...<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL has secured &euro;5.67m funding as part of the EU's Cleaner Hydrogen in Cities (CHIC) project to expand its current hydrogen bus project. The funding allows for three additional zero-emission hydrogen hybrid fuel cell buses and the opportunity to";}
        
        


 