


@{ViewBag.Title = "If your minicab's not booked, it's just a stranger's car - new campaign warns Londoners of unbooked minicab danger";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>If your minicab's not booked, it's just a stranger's car - new campaign warns Londoners of unbooked minicab danger</h1>
        <div class="content-page-press-release">
        26 November 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new thought-provoking campaign launches this week as part of the Safer Travel at Night (STaN) initiative to warn Londoners about the dangers of getting into unbooked minicabs.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Unbooked minicabs can be dangerous and it is simply not worth the risk"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kit Malthouse</div>
            <div class="quotee-job-title">Deputy Mayor for Policing</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Unbooked minicabs can be dangerous and it is simply not worth the risk
                            
                        </p>
                    </div>
                
            
            
            <p>STaN is a joint initiative between the Mayor, Transport for London (TfL), the Metropolitan Police Service (MPS) and the City of London Police (CoLP) who are working together to make travelling in London safer at night. </p>
<p>The campaign aims to make the public, particularly women, aware of the dangers of picking up unbooked minicabs off the street, as well as informing them of the best ways to get home safely. </p>
<p>Any minicab that isn't booked through a licensed minicab operator is dangerous and puts you at risk of attack, including sexual assault and robbery. </p>
<p>Minicabs lined up outside pubs and clubs are breaking the law if they accept your fare without a booking being made first. </p>
<p>You should not approach minicab drivers, and any minicab driver that approaches you on the street anywhere is acting illegally. </p>
<p>Do not get in.</p>
<p>The new STaN campaign includes the message 'If your minicab's not booked, it's just a stranger's car' and will be running throughout London from late November to coincide with the Christmas party period. </p>
<p>It is a wide-reaching campaign that includes new posters, online messaging and adverts played in late night venues. </p>
<h2>Know what you're getting into</h2>
<p>In addition to this the 'Know what you're getting into' advert will be played in cinemas and on TV and information leaflets will be distributed to members of the public in hotspot areas. </p>
<p>While STaN has been successful in reducing cab-related sexual offences by more than 20 per cent&nbsp;since it began in 2003 and reducing the demand for unbooked minicabs, there is still more work to be done. </p>
<p>TfL and its policing partners are committed to improving the safety and security of cabs and are stepping up enforcement activity against unbooked minicabs in the lead up to Christmas. </p>
<p>Officers from the Metropolitan Police Safer Transport Command (STC) Cab Enforcement Unit, Safer Transport Teams and TfL enforcement officers will be taking part in Operation STaN which aims to deter and disrupt illegal cab activity and get people home safely.</p>
<p>The Deputy Mayor for Policing, Kit Malthouse said: 'Using unbooked minicabs can be dangerous and it is simply not worth the risk. </p>
<p>'Many people think getting an unbooked minicab home at night is safer than using public transport, or waiting for a licensed, booked minicab, but this simply is not true. </p>
<p>'Please don't get into a car with a potential criminal.&nbsp; </p>
<p>'It could be a decision you regret for the rest of your life.'</p>
<p>Steve Burton, Director of Community Safety, Enforcement and Policing (CSEP) with TfL, said: 'We are working with the police and other partners to make sure Londoners can enjoy their night out and get home safely.</p>
<p>'Our advice to anyone travelling by minicab is to book it through a licensed minicab office, when the car arrives check it's for you by getting the driver to verify the booking details and always sit in the back.'</p>
<h2>Book it, check it </h2>
<p>Chief Superintendent Joe Royle, STC, said: 'This is an extremely serious matter and we are working closely with TfL to deter and detect offenders and bring them to justice. </p>
<p>'It is important that you never approach or accept a journey from a minicab driver off the street, whether they hold a TfL licence or not. </p>
<p>'The Cab Enforcement Unit and Safer Transport Teams will be carrying out activity across London. </p>
<p>'Any driver found touting will be arrested and licensed minicabs drivers will lose their TfL licence.'</p>
<p>Jo Walker from the Suzy Lamplugh Trust added: 'The Suzy Lamplugh Trust fully supports the Safer Travel at Night campaign and urges the public to take the message on board. </p>
<p>'You would never dream of the getting into a total stranger's car, so why would you use an unbooked minicab?'</p>
<p>It is illegal for any minicab driver (even drivers licensed by TfL) to accept a fare without a booking made either over the phone, by email or at an office. </p>
<p>Booking a minicab will ensure that there is a record of the journey and it will be carried out by a licensed driver in a licensed, insured car.</p>
<p>Key tips on using minicabs:</p>
<ul>
<li>Never approach a minicab on the street or accept a fare, they are acting illegally </li>
<li>Always book so there is a record of your journey </li>
<li>Only black cabs can pick passengers up on the street </li>
<li>Book it, check it and always sit in the back </li>
<li>To get three local cab numbers text 'CAB' to 60835 </li>
<li>Visit <a href="http://www.tfl.gov.uk/cabwise">tfl.gov.uk/cabwise</a> for more information</li></ul>
<p>
<hr>

<p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>Since 2003, the Cab Enforcement Unit has made more than 6,000 arrests for touting and cab-related offences 
<li>From April - October 2010/11, there were 62 reported incidents of cab-related sexual offences, compared to 72 reported offences from the same period in 2009/10, a decrease of 14 per cent </li>
<li>Cab Enforcement operations are carried out on a regular basis in line with current intelligence on touting behaviour. They also cooperate with clubs to crackdown on the touts who operate in the area and ensure compliance with regulations and importantly enhance the safety of the travelling public </li>
<li>During the operations roadside and compliance checks are made and in addition, officers carry out operations and conduct checks on all minicabs within the confines of the operation area </li>
<li>The STaN partnership between TfL, the MPS and CoLP was launched in 2002/03. The campaign aims to make people travelling at night aware of the dangers of picking up unbooked minicabs off the street, as well as informing them of the best ways to get home safely </li>
<li>The MPS STC fights crime on buses, tackles illegal taxi touts; and assists with the control of traffic congestion. There are now around 2,000 uniformed officers, which are funded by TfL </li>
<li>The Mayor has taken a tough line on touting and&nbsp; illegal cabs and any TfL licensed private hire driver convicted of touting will now lose their private hire driver's licence for a minimum of one year </li>
<li>If you have had a bad experience in a minicab or taxi (black cab), please report the incident at <a href="http://www.tfl.gov.uk/contactcabs">tfl.gov.uk/contactcabs</a>, call 0845 300 7000, or email <a href="mailto:TPH.Comms&#64;tfl.gov.uk">tph.comms&#64;tfl.gov.uk</a> </li>
<li>Help and support is available for victims of sexual assault from <a href="http://www.thehavens.co.uk">The Havens</a> </li>
<li>For essential late night travel information in London please visit <a href="http://www.tfl.gov.uk/cabwise">tfl.gov.uk/cabwise </a>and <a href="http://www.tfl.gov.uk/traveltools">tfl.gov.uk/traveltools</a> </li>
<li>TfL's 24-hour travel information call centre can also provide information and phone numbers for taxi and private hire services in London. Call 0843 222 1234 </li>
<li>Images of the new poster are available on request </li>
<li>To get three local cab numbers text 'CAB' to 60835. Users of 3 and overseas networks must enter different information. See <a href="http://www.tfl.gov.uk/cabwise">tfl.gov.uk/cabwise </a>for details and charges</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "STaN is a joint initiative between the Mayor, Transport for London (TfL), the Metropolitan Police Service (MPS) and the City of London Police (CoLP) who are working together to make travelling in London safer at night. The campaign aims to make the";}
        
        


 