


@{ViewBag.Title = "London gears up for cold weather";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London gears up for cold weather</h1>
        <div class="content-page-press-release">
        25 November 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Salt stocks more than doubled across London. Vital roads and footpaths will be kept open as winter hits the Capital. New 27,000 tonne salt reserve created to provide extra resilience.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These salt mountains clearly illustrate our preparations for the cold weather this winter"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayors Transport Advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These salt mountains clearly illustrate our preparations for the cold weather this winter
                            
                        </p>
                    </div>
                
            
            
            <p>Plans to keep London moving during the winter have been unveiled today by the Mayor of London's Transport Advisor, Transport for London (TfL) and London Councils. </p>
<p>They include a doubling of salt stocks and measures to keep a key network of roads open throughout even the most severe weather. <br>&nbsp; <br>Following the cold snap in February 2010, the Mayor of London, TfL, London Councils and the boroughs have been working together with the emergency services and Network Rail to review and improve the Capital's cold weather plans.&nbsp; </p>
<p>To ensure London is as prepared as possible for the winter season, TfL and the boroughs have agreed a network of essential routes that together they will work to keep open. </p>
<p>These include roads and footpaths around bus garages and stations, hospitals with accident and emergency departments, railway stations and police, fire and ambulance stations across London.</p>
<p>This year, TfL has doubled its road salt stocks from 9,000 to 18,000 tonnes, which it will use to treat the TfL Road Network; the main arterial roads in the Capital. </p>

<h2>Salt stocks</h2>
<p>Salt has also been sourced by London Underground (LU), London Overground, London Buses, London Tramlink and the Docklands Light Railway (DLR) for use on platforms and outside stations.</p>
<p>Across London, the amount of salt being stored by the 33 London local authorities is also being increased to 72,000 tonnes. </p>
<p>This will bring London's operational stock levels to 90,000 tonnes, almost a 60 per cent increase compared to the 57,000 tonnes held at the start of December 2009.</p>
<p>As well as increasing its operational salt stock, TfL has also created a 27,000 tonne strategic salt reserve. </p>
<p>In the event of another severe winter, this reserve is now available to supplement the stocks held by all highway authorities across London.</p>
<p>Kulveer Ranger, the Mayors Transport Advisor, said: 'These salt mountains clearly illustrate our preparations for the cold weather this winter. </p>
<p>'We have carefully looked at how we dealt with last year's cold snap and have improved this year's plans to make sure we are well placed to be able to keep Londoners safely on the move.'</p>

<h2>Another cold snap</h2>
<p>London's Transport Commissioner, Peter Hendy, said: 'Transport for London has well developed plans to deal with cold weather, which we will put into action as necessary, working closely with our partners in the London boroughs, the emergency services and Network Rail.</p>
<p>'Our fleet of 38 gritters and 10 gritting quad bikes will be operating across the Transport for London Road Network, ensuring that the Capital's key roads, as well as access roads to bus garages, are gritted. </p>
<p>'All other TfL services are also preparing for any cold weather that comes our way to keep London moving throughout the winter months.'<br>&nbsp; <br>London Councils' Services Corporate Director, Nick Lester, said: 'London boroughs are working to ensure that the Capital is able to keep moving as smoothly as possible during any bout of severe weather this winter. </p>
<p>'Throughout the year, boroughs and their partners have been working on their plans to ensure the main and strategic routes across the Capital are kept open.</p>
<p>'A host of boroughs have also introduced innovative schemes, including giving out free shovels and grit, in an effort to work with their local communities to keep their roads and driveways clear of snow and ice.'</p>
<p>For the latest travel information, visit <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:<p>
<p></strong>1. TfL will be carrying out the following actions to keep London moving during the winter months:</p>
<p>LU:</p>
<ul>
<li>Whenever an increased risk to the network is identified, LU will implement its cold weather plans </li>
<li>Engineers will be mobilised to any vulnerable sites to ensure that points do not become frozen.&nbsp;Points heaters are also in place at key sections of the network </li>
<li>If it is deemed necessary, trains will operate throughout the night to keep lines clear and de-ice rails where possible </li>
<li>Since February 2010, LU has carried out additional maintenance on sections of rail which were previously prone to cold weather failure to better prepare them for winter. This includes improvements to rolling stock, point heaters and additional measures placed at stations to help staff with snow clearance </li>
<li>LU is in contact with Network Rail to ensure that it has access to the parts of the network which use National Rail rails </li>
<li>Routine engineering checks on rails and other infrastructure will also be maintained around these additional measures</li></ul>
<p>London Buses / London Streets:</p>
<ul>
<li>Will put well rehearsed plans into action across the TfL Road Network to keep London's main roads serviceable during periods of cold weather </li>
<li>TfL will use a fleet of 38 road gritters and 10 quad bikes to treat footways to keep our roads and pavements clear </li>
<li>Arrangements with the boroughs will ensure that key roads on the bus network are gritted so that buses can get out on the network </li>
<li>TfL will also be deploying a gritting machine close to the Blackwall Tunnel to ensure that approach roads north and south of the tunnel are adequately treated </li>
<li>To ensure London is prepared for the forthcoming season, TfL has this year doubled its salt stock from 9,000 to 18,000 tonnes. Across London, the amount of salt being purchased by the boroughs is also being increased to 72,000 tonnes. This will bring London's operational stock levels to 90,000 tonnes, a 60 per cent increase compared to the 57,000 tonnes held at the start of December 2009 </li>
<li>TfL has also created a new strategic reserve of road salt of 27,000 tonnes. In the event of another severe winter, this separate salt supply would be made available to supplement the stocks held by all highway authorities across London </li>
<li>London Buses have purchased 10,000 bags of salt to treat bus stands and garages throughout the Capital </li>
<li>The Surface Transport and Traffic Operations Centre will continue to ensure better co-ordination between the road and bus network so we can identify problem areas and address them quickly</li></ul>
<p>London Overground / London Tramlink / DLR:</p>
<ul>
<li>If ice or heavy snow is expected, a number of methods are considered to secure the normal operation of services. These include running de-icing trains throughout the night, or applying sandite to the tracks </li>
<li>On London Tramlink, snow can be removed from the tracks using specialist equipment </li>
<li>Points heaters along the network have been checked to ensure operation throughout winter </li>
<li>Platforms will be gritted, and teams of engineers are on standby to clear areas of tracks or station as necessary </li>
<li>Stocks of salt are kept at various strategic locations throughout the network and station staff are all trained to deal with severe weather conditions</li></ul>
<p>Cycling:</p>
<ul>
<li>TfL advises all cyclists in London to take extra care while cycling during the winter. Cycle lights and something reflective on the bike, bags or clothing should also be used so that other road users can see you when it is dark </li>
<li>Barclays Cycle Hire will continue to operate throughout winter, however it is up to each user to decide whether they feel confident in making their journey by bike. Serco will be adapting their cycle distribution plans to reflect demand during the winter </li>
<li>TfL and London Councils will be working to ensure, where possible, that the two current Barclays Cycle Superhighways remain safe to use during the winter months </li>
<li>More information about <a href="http://www.tfl.gov.uk/roadusers/cycling/13160.aspx">cycling in winter</a></li></ul>
<p>2. Examples of borough initiatives during severe weather:</p>
<ul>
<li>Residents in Sutton are to be given free grit supplies in a bid to keep the borough moving this winter. There will be 10kg of grit available for each household in Sutton to use on the footpaths, pavements and roads in front of their homes </li>
<li>Richmond council has a 2,000 tonne strong grit mountain ready for use at its depot in Twickenham. Five gritting trucks are available '24/7' if needed </li>
<li>Camden council will hand out 2,000 shovels for residents, community groups and local traders to keep the pavements clear </li>
<li>In Westminster more than 600 staff from its waste and parks departments will help clear heavy snow. The council has bought six new gritters fitted with GPS tracking, which will be used in conjunction with computer-controlled temperature sensors across the borough to see which roads require salting</li></ul>
<p>3.&nbsp;London Councils represents the Capital's 33 local authorities. It develops policy, lobbies government and others, and runs a range of services designed to make life better for Londoners</p>
<p>4.&nbsp;The creation of the London Strategic Salt Reserve does not remove TfL's or the London Boroughs rights of access to the National Salt reserve stockpile of 250,000 tonnes, which is governed by the Department for Transport (DfT)</p>
<p>5.&nbsp;The DfT recently published <a href="http://www.direct.gov.uk/en/Nl1/Newsroom/DG_191868">advice on the rights and responsibilities when clearing snow and ice</a> from public areas</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Plans to keep London moving during the winter have been unveiled today by the Mayor of London's Transport Advisor, Transport for London (TfL) and London Councils. They include a doubling of salt stocks and measures to keep a key network of roads open";}
        
        


 