


@{ViewBag.Title = "London River Services unveils autumn/winter River Guides";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London River Services unveils autumn/winter River Guides</h1>
        <div class="content-page-press-release">
        22 November 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        There may be a bit more of a nip in the air but autumn and winter is still a great time to get out on the Thames.
        
    </div>



 <div class="on-this-page">
<p>Whether you're looking for a leisurely sight-seeing tour or a quick commute on London's greatest highway; our new River Bus and River Tours Guides will help you on your way. </p>
<p>The updated River Bus Guide, prepared in collaboration with Thames Clippers, gives details of the scheduled services that depart from the eight key piers managed by London River Services along the Thames.&nbsp;</p>
<h2>Pay as you go</h2>
<p>These include a frequent service from Embankment to Woolwich Arsenal.&nbsp;Using the River Bus has never been easier with Oyster pay as you go now available on Thames Clippers services. </p>
<p>As well as using the river to get from a to b, river tours are a great way to relax and see the city from another angle. The updated River Tour Guide gives details of fun events and tours on the river.&nbsp;</p>
<p>Snack while you sail with a lunch or dinner cruise or maybe a Sunday Lunch Jazz Cruise.&nbsp;Those who want something a bit different can enjoy a 'who dunnit' with the River Thames Murder Tour or dance the night away on one of the Riverboat Disco party boats.</p>
<p>Kulveer Ranger, the Mayor of London's transport advisor, said: 'Travelling by river is one of the joys of living in the Capital; and the Mayor's vision is for it to be an integral part of London's transport network.&nbsp;</p>
<p>'We are committed to making it easier for Londoners and visitors to make the most of the unique experience of travelling along the Thames and it is great to see passenger numbers increasing all the time.'&nbsp; </p>
<h2>A third off fares</h2>
<p>Passengers with a valid Travelcard, or an Oyster card loaded with a valid Travelcard, can get a third off single fares on most river services.&nbsp;</p>
<p>On Thames Clippers the cost of the journey can be taken from any Oyster pay as you go balance.&nbsp;Passengers with Oyster pay as you go get 10 per cent off the normal Thames Clipper adult fare.</p>
<p>Andy Griffiths, Head of London River Services, said: 'The River Thames is fantastic throughout the year, giving visitors and residents an opportunity to see many iconic London landmarks, including the Tower of London and the Houses of Parliament, from a fantastic vantage point.&nbsp;</p>
<p>'With the introduction of improved signage, clearer 'Tube style' river maps and new branding along the river bank it's never been easier to enjoy the Thames.'</p>
<p>For more information on London's river services, visit <a href="http://www.tfl.gov.uk/river">http://www.tfl.gov.uk/river</a></p>

<p><br>
<hr>
<strong>Notes to editors: </strong></p>
<p>
<ul>
<li>London River Services is responsible for managing eight piers on the river: Westminster, Festival, Embankment, Millbank, Blackfriars, Bankside, Tower and Greenwich </li>
<li>Fast river buses now operate all day every day from Embankment pier and London Eye pier to the O2 at North Greenwich, with some continuing to Woolwich Arsenal.&nbsp;The last boat back into central London from the O2 is at 20.25 daily.&nbsp;Later boats leave North Greenwich pier every 10 minutes after shows at the O2 </li>
<li>Passengers with a valid Travelcard will get a third off the price of their river bus ticket.&nbsp;Passengers with Oyster pay as you go will get a 10 per cent off the normal Thames Clipper adult fare, with the exception of journeys on the O2 Express service </li>
<li>London River Services is keen to ensure the continued growth and development of river services and to see that all riverboat services are integrated, where practicable, with London's other public transport services </li>
<li>London River Services has introduced real-time information on Thames Clipper services at piers and on the website to allow customers to better plan their journeys </li>
<li>All London River Services' piers are accessible and step-free at all states of the tide, allowing easy access for mobility impaired passengers.&nbsp;Most river boats are accessible - passengers should contact boat operators for comprehensive accessibility information when planning their journeys.&nbsp;The relevant contact information is included in the new guide and is available at <a href="http://www.tfl.gov.uk/river">www.tfl.gov.uk/river</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Whether you're looking for a leisurely sight-seeing tour or a quick commute on London's greatest highway; our new River Bus and River Tours Guides will help you on your way. The updated River Bus Guide, prepared in collaboration with Thames Clippers,";}
        
        


 