


@{ViewBag.Title = "London Overground manager and passenger meetings will set out alternative travel for closures ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Overground manager and passenger meetings will set out alternative travel for closures </h1>
        <div class="content-page-press-release">
        04 November 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Sixty public meetings between London Overground managers and passengers will be held across the network to explain alternative travel options during a series of upcoming closures, Transport for London (TfL) announced today.
        
    </div>



 <div class="on-this-page">
<p>The meetings will be held from mid November to early December at stations on the Stratford to Richmond and Clapham Junction lines, and aim to reduce inconvenience to passengers during the closures. </p>
<p>The meetings will explain rail replacement services and ticket acceptance on alternative routes.</p>
<p>The closures are needed to complete a multi-million pound upgrade project by TfL and Network Rail due to be delivered by May 2011, which will increase capacity on London Overground services.&nbsp; <br>The closures are:</p>
<ul>
<li>Gospel Oak to Stratford from the evening of 18 December until 24 December 2010. There will be no service on the whole London Overground network on Christmas and Boxing Day, 25-26 December </li>
<li>Richmond to Stratford and Shepherd's Bush to Willesden Junction, from 27 December until 3 January 2011 </li></ul>
<p>Further shorter closures will be required during spring 2011 to complete the works by next May and the dates of these will be confirmed closer to the time. </p>
<p>Works requiring weekend-only closures will carry on until mid-2011.</p>
<p>The upgrade work involves the testing and commissioning of the signalling systems that were installed in early 2010, the installation of further signalling, and the completion of the refurbishment of several stations. </p>
<h2>Overground upgrade</h2>
<p>When the complete upgrade is finished in mid-2011, London Overground will run more frequent services providing greater capacity. </p>
<p>Services from Stratford will run at eight trains per hour in the peak and six trains per hour in the off peak; with&nbsp;four trains per hour continuing to Richmond all day&nbsp;and four trains per hour continuing to Clapham Junction in the peak. </p>
<p>In the off peak there will be a shuttle service of two trains per hour between Clapham Junction and Willesden Junction.&nbsp;&nbsp; </p>
<p>Howard Smith, Chief Operating Officer of TfL London Rail, said: 'The benefits to passengers of the first phase of this massive upgrade are already being seen with the introduction of longer trains earlier this year. </p>
<p>'It is necessary to close sections of the network to get the work done. </p>
<p>'We are holding these public information sessions to ensure minimum inconvenience to passengers by giving them as much information as possible to make alternative travel arrangements.</p>
<p>'The next closures will be much shorter in duration and we are doing all we can to minimise the disruption caused. </p>
<p>'These are essential works that will help us unlock the true potential of the London Overground network, which is to offer a far more frequent Metro-style turn up and go service.'</p>
<p>The improvement work is part of an upgrade that will see more than 200 signals, seven kilometres of track and 69 sets of points improved and 30 station platforms lengthened.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The meetings will be held in the morning (7:00-9:30) and evening peak (16:30-19:00) as follows: 
<ul>
<li>Stratford station:&nbsp;15 November and 9 December </li>
<li>Hackney Wick station:&nbsp;22 November </li>
<li>Homerton station:&nbsp;30 November </li>
<li>Hackney Central station:&nbsp;17 November </li>
<li>Dalston Kingsland station:&nbsp;25 November </li>
<li>Canonbury station: 2 December </li>
<li>Caledonian Road &amp; Barnsbury station:&nbsp;6 December&nbsp;</li>
<li>Highbury &amp; Islington station:&nbsp;18 November&nbsp;and&nbsp;8 December </li>
<li>Camden Road station:&nbsp;23 November </li>
<li>Kentish Town West station:&nbsp;24 November </li>
<li>Hampstead Heath station:&nbsp;15 November&nbsp;and 1 December </li>
<li>Gospel Oak station:&nbsp;16 November and&nbsp;6 December </li>
<li>Kensal Rise station:&nbsp;30 November </li>
<li>Brondesbury Park station:&nbsp;25 November </li>
<li>Willesden Junction station:&nbsp;18 November and&nbsp;9 December </li>
<li>Acton Central station:&nbsp;22 November </li>
<li>South Acton station: 23 November </li>
<li>Kew Gardens station:&nbsp;17 November </li>
<li>Richmond station:&nbsp;24 November </li>
<li>Gunnersbury station:&nbsp;6 December </li>
<li>Shepherd's Bush station:&nbsp;30 November </li>
<li>West Brompton station:&nbsp;7 December </li>
<li>Kensington Olympia station:&nbsp;2 December </li>
<li>Clapham Junction station:&nbsp;1 December</li>
<li>Imperial Wharf: 13 December</li>
<li>Finchley Road and Frognal: 13 December</li></ul></li>
<li>Two meetings will also be held at Homerton Hospital for staff </li>
<li>Bus service frequency during the first closure will be as follows: 
<ul>
<li>18-24 December: there will be&nbsp;four buses per hour </li>
<li>25-26 December: no service </li>
<li>27 December - 3 January: there will be&nbsp;three buses per hour</li></ul></li>
<li>Work to date has already delivered 1,102 metres of extra station platform at 17 stations on the North London Line, a new bridge deck at Camley Street rail bridge,&nbsp;more than&nbsp;6km of track renewed between Camden Road and Dalston Kingsland stations during the closure earlier this year, 11 new sets of switches and more than 100km of new signalling cable installed </li>
<li>Much work in support of this has also been undertaken including the replacement of Victorian drainage systems, retaining walls and the removal of large amounts of soil</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The meetings will be held from mid November to early December at stations on the Stratford to Richmond and Clapham Junction lines, and aim to reduce inconvenience to passengers during the closures. The meetings will explain rail replacement services and";}
        
        


 