


@{ViewBag.Title = "LU sets out Tube services it intends to run despite strike ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>LU sets out Tube services it intends to run despite strike </h1>
        <div class="content-page-press-release">
        03 November 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Some planned station closures, but a service expected to run on nearly all of London's Tube lines. Passengers should check before travelling by visiting tfl.gov.uk. Pointless strike will achieve nothing.
        
    </div>



 <div class="on-this-page">
<p>As services begin on London's Tube network this morning, London Underground (LU) has outlined the range of services that it intends to operate today, despite the completely unnecessary strike action called by the leaderships of the RMT and TSSA unions.</p>
<p>Despite the union leaderships predicting London's 'paralysis', LU was able to operate up to 40 per cent of its normal services during the last strike and carried well over a million people. </p>
<p>Ninety-three per cent of all Oyster journeys were also undertaken across London's transport network.</p>
<p>LU is committed to running as many services as possible today. </p>
<p>Although there will be disruption and some stations will be closed, trains are expected to run on nearly all Tube lines.&nbsp; </p>
<p>For example, on the Northern line LU intends to serve all branches. </p>
<p>On the District line LU intends to run services between Ealing Broadway and Barking, and between Wimbledon and Whitechapel. </p>
<h2>Trains expected to run</h2>
<p>On the Central line LU intends to initially operate a service on the outer sections between Ealing Broadway/West Ruislip and White City, and between Epping/Hainault and Liverpool Street. </p>
<p>This will help the many thousands of commuters travelling to and from work in central London. </p>
<p>The intention is to change this service from 08:30 onwards and by 10:00 for trains to run through the central area serving stations between White City and Leytonstone only. </p>
<p>Services will revert to the outer branches after about 20:00. </p>
<p>The Circle line will not operate as most stations are served by other lines.&nbsp; </p>
<p>LU will issue regular updates throughout the day as actual service levels become clear. </p>
<p>Services may vary throughout the day and so passengers are urged to check before they travel to see how Tube services are operating and which alternative services are available at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a>. </p>
<p>Good services are operating on the bus network, Docklands Light Railway (DLR), and London Overground.&nbsp; </p>
<p>Extra bus services have been provided, along with extra capacity for an additional 10,000 journeys on river services, marshalled taxi ranks, and guided cycle rides. </p>
<p>Volunteers are on hand at bus, Tube, and rail stations to help passengers and distribute walking maps and other useful information. </p>
<h2>Keeping Londoners moving</h2>
<p>Mike Brown, Managing Director of LU, said: 'We are doing everything we can to get as many Tube services as possible operating today and to keep Londoners moving by providing extra buses, river services, and other alternatives. </p>
<p>'Londoners will face some disruption, but we intend to run services on nearly all Tube lines, meaning that people will be able to get around.</p>
<p>'This strike is completely pointless. </p>
<p>'Under our plans all stations will continue to be staffed, and all stations with a ticket office will continue to have one. </p>
<p>'The changes we're proposing to ticket office opening hours are in line with customer demand, so that our employees are deployed in those places and at those times where passengers most value their help and reassurance. </p>
<p>'These changes come with a cast iron guarantee of no compulsory redundancies.</p>
<p>'Yet the RMT and TSSA leaderships continue to try to disrupt Londoners despite the fact that more than half of these post reductions have already been settled. </p>
<p>'One-hundred-and-fifty management and administrative staff are taking&nbsp;voluntary severance, leaving London Underground next week, and 300 vacant posts will simply not be filled. </p>
<p>'It's not too late for the RMT and TSSA leaderships to see sense and call off this futile strike, and return to constructive talks. </p>
<p>'All this strike will achieve is the loss of another day's pay for frontline staff, whose pockets are already being hit hard by the RMT's pointless overtime ban.'</p>
<p>Customers are advised to check <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> for the latest information on how services are running and for a range of travel tools to help plan an alternative route or method of transport.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>Under LU's proposals staff will be more effectively deployed to areas of stations where they can better assist customers, removing duplication of roles while delivering the best possible value for fare and taxpayers
<li>The proposed changes would mean a reduction in the total number of posts across LU, but will involve no compulsory redundancies, and will have no impact on the Tube's high safety standards</li>
<li>Some LU ticket offices now regularly sell fewer than 10 tickets an hour. The quietest ticket offices include North Ealing, which sells less than six tickets per hour, and Latimer Road and Moor Park, which sell only around seven tickets per hour</li>
<li>Overall, sales from ticket offices are down 28 per cent over the last four years as more and more people switch to Oyster and just one in 20 Tube journeys now starts with a visit to a ticket office</li>
<li>The changes do not affect Tube drivers, and the majority of the roughly 800 posts that are identified for reduction are ticket office staff; this also includes a saving of around 150 posts from reductions in management and administrative staff. This is out of a total of around 19,000 LU staff, so represents less than five per cent of the workforce</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "As services begin on London's Tube network this morning, London Underground (LU) has outlined the range of services that it intends to operate today, despite the completely unnecessary strike action called by the leaderships of the RMT and TSSA";}
        
        


 