


@{ViewBag.Title = "Major facelift of London Bridge bus station begins";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Major facelift of London Bridge bus station begins</h1>
        <div class="content-page-press-release">
        16 November 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Work will get underway later this month on a dramatic facelift of London Bridge bus station.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This work will deliver a landmark station next to a landmark building, with a far better design that will improve both its efficiency and the experience for passengers."</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's transport advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This work will deliver a landmark station next to a landmark building, with a far better design that will improve both its efficiency and the experience for passengers.
                            
                        </p>
                    </div>
                
            
            
            <p>The new look bus station, set to open in May 2012, will have more space for buses and taxis, improved waiting facilities and an improved road layout to ease congestion.&nbsp;</p>
<p>The upgrade, which will also include improvements to the train station concourse, will make the area more open, attractive and welcoming to passengers. </p>
<h2>Landmark station</h2>
<p>Kulveer Ranger, the Mayor of London's transport advisor, said: 'Hundreds of thousands of people use London Bridge every day and at the moment using the bus station is a fairly grimy experience.&nbsp;</p>
<p>'However this work will deliver a landmark station next to a landmark building, with a far better design that will improve both its efficiency and the experience for passengers.&nbsp;</p>
<p>'We appreciate people's patience while work is carried out but can assure them that by 2012 the improvements will be such that the area will be totally unrecognisable when compared to the station we have now.'</p>
<p>Preparatory work on the improvements will take place overnight and during the weekends until spring 2011.&nbsp;</p>
<p>While the works are being carried out there will be temporary bus shelters installed.&nbsp; Bus routes and taxis will be able use the bus station as normal although the exact position of stops within the station will change as work progresses.&nbsp;</p>
<h2>Fresh and modern</h2>
<p>The new bus station was part of the planning agreement for the development of the Shard and London Bridge Place, and will give the whole area a fresh modern look.&nbsp;</p>
<p>The costs are being met by the developer, Sellar.&nbsp;&nbsp; </p>
<p>The new bus station will occupy the same site, but will be rotated by 90 degrees meaning passengers will be able to see departing trains from the bus station.&nbsp;</p>
<p>The redevelopment of the bus station will involve extensive works.&nbsp;</p>
<p>TfL is working hard to ensure that despite these, most of the routes and taxis will be able to use the bus station as normal. </p>
<p>Benefits of this new bus station will include:</p>

<ul>
<li>Increased space for buses and taxis </li>
<li>A better road layout to reduce congestion</li>
<li>Upgraded waiting facilities to improve the passenger experience</li>
<li>A new escalator into the Underground station to improve passenger interchange</li>
<li>Improved signage to provide clearer pedestrian information for the bus station and surrounding streets</li>
<li>Improvements to the station will make the area more open, attractive and welcoming to passengers</li></ul>
<h2>Minimum disruption</h2>
<p>TfL is working closely with Network Rail, Southwark Council and Sellar, to ensure that all works are carried out without compromising passenger accessibility or safety and that disruption to services is kept to a minimum; keeping the bus station open for the majority of the time.&nbsp;</p>

<p>Details of any short closures or temporary relocation of services will be published in advance. </p>
<p>The work will be delivered in two main phases with work to prepare the site and remove the existing canopy roof carried out between November 2010 until April 2011.&nbsp;</p>
<p>The main construction works will take place between September 2011 and May 2012.&nbsp; <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new look bus station, set to open in May 2012, will have more space for buses and taxis, improved waiting facilities and an improved road layout to ease congestion.&nbsp;The upgrade, which will also include improvements to the train station concourse,";}
        
        


 