


@{ViewBag.Title = "Mayor's electric vehicle charging network, Source London, to go live in spring 2011";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor's electric vehicle charging network, Source London, to go live in spring 2011</h1>
        <div class="content-page-press-release">
        06 November 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press notice was originaly issued by the Greater London Authority.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Siemens confirmed as the IT and services partner for Source London</li>
<li>London pushes UK another step closer to a national network of points</li>
<li>Source London will create more charge points than petrol stations in the Capital </li></ul>
<p>London's city-wide electric vehicle charging network, Source London, will launch in Spring 2011, the Mayor of London, Boris Johnson announced today. </p>
<p>Source London, which will deliver 1,300 public charging points across London by 2013, is part of the Mayor's plans for London to become the electric vehicle Capital of Europe. </p>
<p>The Source London network will create a single visual identity for electric driving across the Capital, and allow members to charge their vehicles at any one of these public charging points for no more than an &pound;100 annual membership fee. </p>
<p>Currently electric vehicle drivers have to register in each separate borough they want to use charge points in. </p>
<p>In preparation for this new network a website, <a href="http://www.sourcelondon.net">www.sourcelondon.net</a>, has also been launched providing a one-stop-shop of information on electric vehicles, including charge point locations across the city. </p>
<p>Once Source London has been launched in Spring 2011, drivers will be able to sign up for the scheme online.</p>
<p>The development of Source London, has been led by Transport for London (TfL) in close collaboration with the London boroughs and a wide range of private sector partners - who will play a key part in funding and providing locations for the network's charge points. </p>
<p>Discussions are now taking place with other UK cities developing charge point networks to ensure they can be used seamlessly by electric vehicle drivers and to ensure London's work can contribute to a national network of charge points.</p>
<p>TfL has offered these cities the use of the trademarked Source brand which could mean the creation of a national network under a single identity.</p>
<p>The Mayor has recently reaffirmed a 100 per cent discount from the congestion charge for electric drivers in the Capital, as well as other low emission vehicles, which offers electric vehicle owners using the zone a potential saving of more than &pound;2,000 a year. </p>
<p>The Mayor of London, Boris Johnson, said: 'Already there are more electric drivers in London than anywhere else in the UK, but we are now entering an incredibly exciting period in electric motoring. </p>
<p>'Major manufacturers are gearing up to launch more affordable, practical electric cars over the next few years, whilst the cost of traditional fuels are making petrol-free driving an increasingly attractive option. </p>
<p>'By opting for electric in greater numbers, Londoners will also help to cut pollution levels and improve the city's quality of living. </p>
<p>'Through the development of Source London, we are seeking to create the fertile conditions for electric vehicles to flourish to make our city the electric driving Capital of Europe.'</p>
<p>Transport Secretary, Philip Hammond, said: 'We recognise that for many people the car is an essential, not a luxury, and that is why we are prioritising spending on making the UK a world leader in ultra-low-emission cars. </p>
<p>'Following the first round of our Plugged-in-Places scheme, cities like London are laying the groundwork for a national charge point network. </p>
<p>'And thanks to our spending review settlement which secured over &pound;400m for measures to promote the uptake of ultra-low-emission vehicle technologies, more areas will soon be able to join them.'</p>
<p>The Mayor's transport advisor, Kulveer Ranger, attended the RAC Future Car Challenge, an event to promote the use of greener vehicles to unveil a TfL vehicle wrapped with the new Source London identity. </p>
<p>He said: 'Source London will make it far easier for people to charge electric vehicles in the Capital removing one of the biggest barriers to ownership and giving a big boost to this fledgling market. </p>
<p>'With our offer to allow other cities to use the Source brand the Mayor's work on electric vehicles heralds the start of an electric revolution here and further afield.'</p>
<p>David Brown, Managing Director of Surface Transport, TfL said: 'When complete, the Source London network will provide twice as many charge points than petrol stations, meaning owning an electric vehicle will be a genuine option for far more Londoners. </p>
<p>'Combined with the Government's ongoing support for electric vehicles and increased private sector involvement, our investment in this vital technology will help to deliver the Mayor's aspiration for London to become the electric vehicle Capital of Europe.' </p>
<p>In recognition of the burgeoning electric vehicle market, Siemens has committed to become Source London's IT and services partner. </p>
<p>This will include the Source London back-office operation which will oversee the network and a number of functions such as members' registration. </p>
<p>This investment will deliver a new infrastructure for Londoners without relying wholly on investment from the public purse. </p>
<p>Ralph Griewing, Head of Siemens worldwide electromobility business, said: 'Siemens is delighted to be appointed as the IT and services partner for the Pan London Scheme which will run until the end of November 2013. </p>
<p>'Siemens will be providing the IT and process know-how to develop a range of driver services including a customer interaction centre, card production and registration services.</p>
<p>'Being the IT sponsor enables us to work closely with TfL to position London in the forefront of the electromobility revolution. </p>
<p>'Siemens is active in many major electro-mobility programmes across the globe and can bring this unique know-how along with advanced IT systems to create a comprehensive, interoperable and sustainable solution which will integrate the electric vehicle into London's transport landscape.'</p>
<p>Quentin Willson, motoring reporter, said: 'For urban motorists who want cheaper fuel and energy choices, electric driving is an increasingly great option. </p>
<p>'Electric vehicle technology has come on leaps and bounds in recent years, making the cars now coming onto the market far more usable and desirable. </p>
<p>'Crucially, people need to feel confident in taking the electric option. </p>
<p>'Source London is an exciting step forward, which is gearing up to make electric driving far easier in the Capital.'</p>
<p>A number of other commercial organisations are investing millions into electric vehicles with every major car manufacturer planning to release a new model in the next six to 12 months. </p>
<p>The Mayor is working to build on this with the aspiration to have 100,000 electric vehicles on London's streets as soon as possible. </p>
<p>A recent report by HSBC estimates that the global electric vehicle market could be worth &pound;440bn by 2020 with the EU being the biggest market. </p>
<p>Work to boost this market in London could help to generate millions of pounds for the UK manufacturing industry, create new jobs and green the UK economy. </p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>There are a number of incentives which the Mayor provides to support for electric vehicles in London including a 100 per cent discount on the congestion charge</li>
<li>London already leads the way with almost a quarter of registered electric vehicles in the UK (approximately 17,000 pure electric or hybrid electric vehicles are registered in London out of the UK total of 71,141. This is 23.5 per cent - there are around 2100 plug-in electric vehicles)</li>
<li>With many of the world's major manufacturers intending to launch their own electric vehicles in the next six to twelve months, it is expected that this number will steadily increase. London is ideally suited to becoming an electric vehicle world leader with 90 per cent of all car trips less than 10 miles - well within the range of any electric vehicle. Across the UK less than one per cent of all car journeys are more than 100 miles</li>
<li>100,000 electric vehicles are estimated to replace 100,000 petrol or diesel vehicles currently in use and doing an average daily car journey in London (around 15km). This would deliver a saving of some 100 tonnes of oxides of nitrogen and 3.8 tonnes of particulate matter which are both key air pollutants generated from road transport that have negative affects on human health</li>
<li>The RAC Brighton to London Future Car Challenge took place on Saturday 6 November. The aim of the rally is to showcase the burgeoning green technology within the motor industry. More than 60 cars were entered by a number of leading manufacturers to take part in the 60 mile challenge from Madeira Drive, Brighton to Regent Street, London</li>
<li>The Mayor has recently reaffirmed his commitment to provide the incentive of a 100 per cent discount on the congestion charge for electric vehicles as well as other low-pollution vehicles</li>
<li>In May 2009 the Mayor published his Electric Vehicle Delivery Plan&nbsp;which detailed how he would work to make London the electric vehicle capital of Europe. The London consortium led by TfL secured &pound;9.3m in funding from the Government's 'Plugged in Places' Fund in February 2010, with &pound;5.5m confirmed for this year and a provisional award of &pound;3.8m for the following two years. the Department for Transport will announce confirmed Plugged in Places funding for 2011/13 before the end of the year. The London Consortium led by TfL involves both public and private partners including London boroughs, major supermarkets, energy companies, car park operators, vehicle manufacturers and car hire companies</li>
<li>At present there are over 250 charging points in the Capital, over half funded by TfL, with around 16,729 pure electric or hybrid electric vehicles currently registered with the DVLA (with approximately 2,100 plug-in electric vehicles) - far exceeding numbers anywhere else in the UK. A 1,300 network of charge points will be able to support tens of thousands more electric vehicles in London and will help realise the Mayor's vision of 100,000 electric vehicles in the Capital as soon as possible</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Siemens confirmed as the IT and services partner for Source LondonLondon pushes UK another step closer to a national network of pointsSource London will create more charge points than petrol stations in the Capital London's city-wide electric vehicle";}
        
        


 