


@{ViewBag.Title = "Mayor hops on his new bus for London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor hops on his new bus for London</h1>
        <div class="content-page-press-release">
        11 November 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Greater London Authority.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I, for one, cannot wait to be launching the buses when they first enter passenger service"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I, for one, cannot wait to be launching the buses when they first enter passenger service 
                            
                        </p>
                    </div>
                
            
            
            <p>A life-size mock-up of the New Bus for London unveiled today has given Londoners the first glimpse of how the bus will look when it hits the streets in 2012.</p>
<p>The Mayor of London, Boris Johnson, London's Transport Commissioner, Peter Hendy and the Secretary of State for Northern Ireland, Owen Paterson MP, unveiled a full-size mock-up of the new bus at the London Transport Museum's depot at Acton. </p>
<p>With the outside of the bus painted the famous red of London's buses and the interior decor taking inspiration from the old Routemaster, the full-size static mock-up has brought the designs to life and demonstrated how the bus will look.&nbsp; </p>
<p>The life-size 3D translation brings the futuristic, cutting edge design to life and highlights its exciting features including the two staircases and windows following the smooth sweeping lines of the bus.&nbsp; </p>
<p>The mock-up will be used to fine tune the design of the bus to make sure that the model that hits the streets is perfectly suited to the needs of Londoners.</p>
<h2>21st century London</h2>
<p>Mayor of London, Boris Johnson, said: 'Standing on the rear platform of this delectable bus brings back a sense of nostalgia but conversely also demonstrates the quintessence of the latest technology and design, making this bus fit for 21st century London.</p>
<p>'It is wonderful to see how those two-dimensional designs we unveiled in May have been forged into this amazing bus and I, for one, cannot wait to be launching the buses when they first enter passenger service in 2012.'</p>
<p>Peter Hendy, London's Transport Commissioner, said: 'Producing the mock-up of the bus has been a vital part of the development process and provides the opportunity for people to have a hands-on experience when sharing their views of the bus.'</p>
<p>The Secretary of State for Northern Ireland, Owen Paterson MP, said: 'This is a very exciting moment for London and for Northern Ireland.&nbsp; </p>
<p>'All of us in Northern Ireland can be very proud of the fact that the New Bus for London will be collaboratively designed and built by one of our local, world-class companies, Wrightbus, and London-based Heatherwick design studio.'</p>
<p>Mark Nodder, Group Managing Director of Wright Group, said: 'Finally seeing the design for this revolutionary new bus come to life is a real thrill for all of us.&nbsp; </p>
<p>'We're excited to hear the reactions of stakeholders and future passengers as we complete this milestone in development and move nearer to production.'</p>
<h2>Key features</h2>
<p>Wrightbus and Transport for London (TfL) have been working with Heatherwick Studio as a collaborative design partner taking the lead on the look and feel of the bus to support Wrightbus in the engineering design and development process. </p>
<p>Thomas Heatherwick said: 'It's been an honour to have the chance to think about how to make a new bus that can genuinely improve the journeys of millions of Londoners, while at the same time contributing something meaningful to London's famous infrastructural and architectural landscape.'</p>
<p>The bus will now be used to show key stakeholders and seek their views giving them a chance to look around the bus, get on board and test out some of the key features including the open rear platform. </p>
<p>A prototype will be delivered late next year with the first five buses due to enter passenger service in early 2012. </p>
<p>The New Bus for London is one of two key manifesto commitments on buses that were made by Boris Johnson ahead of the 2008 mayoral election.&nbsp; </p>
<p>The unveiling of the mock-up is another significant step towards the delivery of a new bus for London.&nbsp; </p>
<p>Significant progress is being made too on the removal of bendy buses from the streets of the Capital.&nbsp; </p>
<p>From Saturday, route 18 will be operated by double-deck buses, delivering a more frequent service at peak times and weekends and improved passenger comfort with more seating.&nbsp; </p>
<p>This is the second bus route to be 'debendified' in the last month, following the route 149 that saw the bendy bus banished in favour of double decks on 16 October.&nbsp; </p>
<p>As bendy buses are removed, so too are the opportunities for fare evaders who once preyed upon theses routes.&nbsp; </p>
<p>Once all 12 routes have been converted it is estimated that fare evasion will be reduced by around &pound;5m annually.</p>
<p>All bendy buses will be gone by the end of 2011.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:&nbsp;<p>
<ul>
<li></li></ul></strong>All images are copyright to TfL 
<li>The purpose of the mock-up is to provide a full scale replica of the bus to enable stakeholders, passenger user groups and operators a chance to give their feedback on the design. The consultation process will enable Wrightbus and Heatherwick Studio to fine tune their designs before the bus goes into production </li>
<li>The mock-up has been built by Wrightbus using conventional bus construction materials for the chassis, superstructure and exterior bodywork. At this stage, the quality and type of finish, colours, textures and material used on the interiors is indicative only </li>
<li>The contract for the design and build of the New Bus for London was awarded to Wrightbus in January 2010 </li>
<li>TfL has applied to the Intellectual Property Office for Registered Design Protection for the new exterior of the New Bus for London shown today </li>
<li>Air quality emissions will be reduced by 40 per cent for Nitrogen Oxide&nbsp;(NOx) emissions and 33 per cent for&nbsp;particulate matter emmisions&nbsp;when compared with conventional diesel buses </li>
<li>On route 18, passengers will see the frequency of service during peak hours on Mondays to Friday increase, with buses running every three to four minutes. On Saturday, the frequency will increase to every four minutes and Sunday services will run every six to seven minutes<br></li>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A life-size mock-up of the New Bus for London unveiled today has given Londoners the first glimpse of how the bus will look when it hits the streets in 2012.The Mayor of London, Boris Johnson, London's Transport Commissioner, Peter Hendy and the Secretary";}
        
        


 