


@{ViewBag.Title = "Mayor's flagship Barclays Cycle Hire scheme heads east in time for the 2012 Games";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor's flagship Barclays Cycle Hire scheme heads east in time for the 2012 Games</h1>
        <div class="content-page-press-release">
        10 November 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Expanded cycle hire area will extend from Olympia in the west to Bow in the east.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Plans are now well advanced that will see the roll-out of thousands more of our gleaming bikes"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Plans are now well advanced that will see the roll-out of thousands more of our gleaming bikes
                            
                        </p>
                    </div>
                
            
            
            <p>More information has been released today&nbsp;on plans to expand the Mayor of London's flagship Barclays Cycle Hire scheme across a large area of east London as well as to provide hundreds more docking points in the centre of the Capital.</p>
<p>With more than 1.5 million journeys in just over three months of operation, the Mayor, Barclays and Transport for London (TfL) today announced that by 2012 the cycle hire area will be extended beyond central London to include all of the Borough of Tower Hamlets as well as North Shoreditch in the Borough of Hackney. </p>
<p>People living in Bethnal Green, Bow, Canary Wharf, Mile End and Poplar will also see docking stations built in their area.</p>
<p>Altogether 2,000 more cycles and 4,200 extra docking points will be installed across the existing and new Barclays Cycle Hire area. </p>
<p>When complete the expanded scheme will cover 65km&sup2; of the Capital and around 8,000 hire bikes will be available from 14,400 docking points at hundreds of locations across central and east London.</p>
<p>The Mayor of London, Boris Johnson, said: 'Londoners have taken to the hire of two wheels with alacrity and it would have been absolutely nonsensical not to expand our scheme. </p>
<p>'Plans are now well advanced that will see the roll-out of thousands more of our gleaming bikes across the Capital's legendary East End. </p>
<p>'For as little as 12 pence a day users will soon be able to use our bikes to cross a huge swathe of our city, and it will mean that by 2012 we'll be able to invite the entire world to join London's cycling revolution.'</p>
<p>Deanna Oppenheimer, Vice-Chair, Global Retail Banking, CEO Western Europe and CEO UK Retail Banking at Barclays, said: 'It is clear that with 100,000 plus members and over 1.5 million journeys since the launch, London has embraced Barclays Cycle Hire. </p>
<p>'The scheme is having a profound social and economic effect on London, and the expansion will see more people able to benefit from it. </p>
<p>'This may be improvements to their health, being more productive at work or making cost savings on a cheap and sustainable mode of transport.'</p>
<h2>Expanding cycle hire</h2>
<p>David Brown, Managing Director of Surface Transport at TfL, said: 'We always believed that Barclays Cycle Hire would prove to be hugely popular, but the enthusiasm with which people have embraced the scheme has been remarkable. </p>
<p>'We have every confidence that the expanded cycle hire scheme, which will stretch up as far as the edge of the Olympic Park and down to the Isle of Dogs, will be just as enthusiastically embraced by Londoners and visitors alike.'</p>
<p>Deputy Mayor of Tower Hamlets, Ohid Ahmed, said: 'The cycle hire scheme has proved immensely popular in Tower Hamlets. </p>
<p>'The additional docking stations will make cycling even easier and help improve the transport links across the borough. </p>
<p>'With the increasing development of the City fringe, Canary Wharf and the Olympic Park, the heart of London is moving east so it's important that this scheme expands in Tower Hamlets and beyond.'</p>
<p>Steve Stride, Chief Executive of Poplar Housing Association Poplar HARCA, said 'Since their launch many of our residents have been keen to see Barclays Cycle Hire bikes in the Poplar area of east London.&nbsp; </p>
<p>'The proposed new Chrisp Street Market docking station is great news for our residents and for Londoners&nbsp;interested in visiting the Poplar area, the nearby Olympic site and Canary Wharf.'</p>
<p>Tower Hamlets and TfL will be conducting public drop-in sessions for people to learn more about the cycle hire scheme on:</p>
<ul>
<li>Thursday 18 November&nbsp;- 10:00 to 14:00 - Chrisp Street Idea Store </li>
<li>Tuesday 23 November - 16:00 to 20:00 - Whitechapel Idea Store </li>
<li>Thursday 25 November - 16:00 to 20:00 - Bow Idea Store </li>
<li>Tuesday 30 November - 10:00 to 14:00 - Cubbit Town Library</li></ul>
<p>
<hr>

<p>
<p><strong>Notes to editors:&nbsp;</strong></p>
<ul>
<li>The expanded cycle hire area will cover an additional 20km&sup2; and will have 2,700 docking points in it. An additional 1,500 docking points will be added to the existing cycle hire area, which is based in central London </li>
<li>Examples of journeys that could be carried out within 30 minutes from docking stations in the expanded Barclays Cycle Hire area, taken from TfL's cycling Journey Planner, include: Regent's Park to Bethnal Green (29 minutes), Victoria Park to Shoreditch (12 minutes) and&nbsp;Canary Wharf to Liverpool Street (26 minutes) </li>
<li>The creation of an easy-to-use cycle hire system was a key pledge of the Mayor's manifesto. Barclays Cycle Hire is now transforming the way that people make short trips around central London </li>
<li>Around 95 per cent of all journeys made by Barclays Cycle Hire members have been under 30 minutes, which means that the vast majority of people using the scheme aren't paying any more than their daily &pound;1, weekly &pound;5 or annual &pound;45 access fees </li>
<li>Barclays Cycle Hire is due to be opened up to casual users and visitors before Christmas </li>
<li>A membership key is &pound;3 with costs at &pound;1 for 24-hour membership, &pound;5 for seven days and &pound;45 for an annual pass. The first 30 minutes of any journey is free. Find out how to become a member of <a href="http://www.tfl.gov.uk/barclayscyclehire">Barclays Cycle Hire </a>and advice on how to use the scheme online</li>
<li>The cycle hire scheme accepts Visa and Mastercard credit cards and Visa debit/Electron. The scheme doesn't accept Maestro, Amex, JCB or Diners cards</li>
<li>Members of the scheme must be at least 18 years old, and you need to be at least 14 years old to use the scheme </li>
<li>Barclays Cycle Hire, which is operated by Serco Limited on behalf of TfL, is the most sustainable and environmentally friendly form of public transport ever seen in the Capital </li>
<li>Barclays Cycle Hire and Barclays Cycle Superhighways are building on the massive 117 per cent growth in cycle journeys on London's major roads since TfL was created in 2000 </li>
<li>Barclays Cycle Hire operates across central London. Docking stations and hire bicycles are currently available in Camden, City of London, Hackney, Islington, Lambeth, Kensington &amp; Chelsea, Southwark, Tower Hamlets, Westminster and several of the Royal Parks</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "More information has been released today&nbsp;on plans to expand the Mayor of London's flagship Barclays Cycle Hire scheme across a large area of east London as well as to provide hundreds more docking points in the centre of the Capital.With more than";}
        
        


 