


@{ViewBag.Title = "National Grid to carry out urgent works in Knightsbridge ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>National Grid to carry out urgent works in Knightsbridge </h1>
        <div class="content-page-press-release">
        12 November 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        National Grid will tomorrow (13 November) begin urgent works by One Hyde Park, Knightsbridge.
        
    </div>



 <div class="on-this-page">
<p>The works, which are being done to safeguard the gas supply to a hotel, are being combined with repairs to a damaged sewer, in order to reduce the disruption they would have caused. </p>
<p>'While the sewer works are under way, National Grid will share the lane restriction required for the sewer works to complete their works for the hotel's gas supply and start works to replace an ageing gas main along Knightsbridge.</p>
<p>The works will run concurrently and although they will require the closure of one eastbound lane for around five weeks, bringing all of the work together has saved many more weeks of disruption for road users. </p>
<p>TfL is also working to arrange for other utility works to be carried out in the lane closure at the same time, including works by Colt Telecoms. </p>
<p>Garrett Emmerson, Chief Operating Officer, London Streets, TfL, said: 'We have worked very closely with National Grid to plan these urgent gas main repair works and will continue to press them to ensure they are undertaken as quickly as possible to minimise delays to our road users.&nbsp; We would ask motorists to avoid the areas during peak hours if they possibly can.'</p>
<p>National Grid Operations Manager, Simon Brown, said: 'National Grid is committed to playing its part in keeping London moving by ensuring we deliver our vital work as efficiently as possible.</p>
<p>'We plan our work in close coordination with local councils and other agencies including TfL and our fellow utility companies.</p>
<p>'Wherever practical we aim to carry out any work planned for the same area at the same time. </p>
<p>'We also use minimum dig technology where possible and aim to keep Londoners informed of what we are doing.&nbsp; </p>
<p>'Our repair teams are also committed to dealing with emergency and unplanned work as promptly as possible.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>National Grid will be working seven days a week at One Hyde Park. As a mark of respect, both sets of works will stop for an hour between 11:00 and 12:00 on Remembrance Sunday<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The works, which are being done to safeguard the gas supply to a hotel, are being combined with repairs to a damaged sewer, in order to reduce the disruption they would have caused. 'While the sewer works are under way, National Grid will share the lane";}
        
        


 