


@{ViewBag.Title = "Pre-register now for Congestion Charge Auto Pay accounts";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Pre-register now for Congestion Charge Auto Pay accounts</h1>
        <div class="content-page-press-release">
        23 November 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        CC Auto Pay offers &pound;1 discount on daily charge.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Easier, simpler payment method </li>
<li>Never again worry about forgetting to pay </li></ul>

<p>Motorists can now pre-register for a Congestion Charge Auto Pay (CC Auto Pay) account that will offer them a discounted, simpler and easier way to pay. </p>
<p>Once an account has been set up drivers need never worry about being fined again as they will only be charged for the days they travel within the zone and charges will be automatically deducted from their debit or credit card. </p>
<h2>Fairer and easier</h2>
<p>To pre-register for a CC Auto Pay account drivers will need a credit or debit card and will have to pay a &pound;10 registration charge for each vehicle on the account.&nbsp;</p>
<p>Motorists can pre-register for a CC Auto Pay account at <a href="http://www.cclondon.com">www.cclondon.com</a> and the new scheme will go live from 4 January 2011.</p>
<p>Kulveer Ranger, the Mayor of London's transport advisor, said: 'The Mayor has been determined to make the Congestion Charge a fairer, easier and more efficient scheme.&nbsp;</p>
<p>'CC Auto Pay was a manifesto pledge and it means motorists who sign up for it need never be fined again whether they are regular or occasional drivers within the zone.&nbsp;</p>
<p>'This measure as well as the removal of the unpopular Western Extension and the introduction of the new Greener Vehicle Discount will make the Congestion Charge far fairer for every Londoner.'</p>
<p>Next year the daily charge for driving within the Congestion Charging zone will increase to &pound;10.&nbsp;</p>
<h2>Reduced daily charge</h2>
<p>This is to ensure that the charge remains an effective mechanism to control congestion, deterring all but the most essential journeys into the heart of the Capital.&nbsp;</p>
<p>However CC Auto Pay customers will be eligible for a reduced daily charge of &pound;9.&nbsp; </p>
<p>TfL's Interim Director of Congestion Charging and Traffic Enforcement, Nick Fairholme, said: 'CC Auto Pay accounts will take all the hassle out of paying the Congestion Charge.&nbsp;</p>
<p>'Once they have set up an account people will no longer have to phone us, text us or go online to pay - they will simply be billed each month for however many times they have driven within the zone.</p>
<p>'Payment will be automatically taken just like paying for gas, electric or other services.&nbsp;The reduced daily charge and the peace of mind that you will never be sent a Penalty Charge Notice for forgetting to pay the charge are also welcome benefits to holding a CC Auto Pay account.'&nbsp;</p>
<p>A number of other changes to the Congestion Charge scheme will also come into effect soon, including the removal of the Western Extension.&nbsp;</p>
<p>Following a public consultation, that saw 62 per cent of respondents backing its removal, the Western Extension will be taken out over the festive period.</p>
<p>The last charging day in the Western Extension will be on Friday 24 December 2010.&nbsp;The Congestion Charge will be suspended as normal over the festive period; then from Tuesday 4 January 2011 the Congestion Charging zone will revert to substantially the same boundaries as existed prior to the Western Extension. </p>
<h2>Greener Vehicle Discount</h2>
<p>TfL will contact registered customers in the Western Extension area of the Congestion Charge zone to inform them of the removal of their residents' discount and to issue any appropriate refund.</p>
<p>A Greener Vehicle Discount (GVD) will also be introduced from 4 January 2011 to encourage a switch to much cleaner and more CO2 efficient cars.&nbsp;</p>
<p>The GVD will replace the current Alternative Fuel Discount which has been outpaced by technological developments.&nbsp;The Electric Vehicle Discount will also be extended to include plug-in hybrids as well as pure electric vehicles. </p>
<p>
<hr>
<strong>Notes to editors</strong> 
<p>
<ul>
<li>The central London Congestion Charging zone was introduced in February 2003 </li>
<li>On 19 February 2007 it was extended westwards, creating a single enlarged zone in which the same charges, discounts and exemptions apply </li>
<li>As well as reducing congestion, the congestion charging scheme has also helped reduce emissions of climate change gases and environmental pollutants from vehicles and encouraged people travelling in the area to use public transport, to walk or cycle </li>
<li>Customers have been able to pre-register for a CC Auto Pay account from Monday 22 November on the TfL website at: <a href="http://www.cclondon.com">www.cclondon.com</a>&nbsp; </li>
<li>From 4 January 2011, the Daily charge to drive within the Congestion Charging zone will also increase from &pound;8 to &pound;9 if paid using CC Auto Pay; &pound;10 if paid in advance (or on the day) using conventional means and &pound;12 if paid the next charging day </li>
<li>The current Alternative Fuel Discount provides a 100 per cent discount to some vehicles that are powered by an alternative fuel (TfL uses the DVLA definition of alternative fuel vehicles - which includes LPG, natural gas and petrol-electric hybrids).&nbsp; However, some of the benefits of the Alternative Fuel Discount have been outpaced by technological developments in other vehicles.&nbsp;This means that some new vehicles that do not qualify for the Alternative Fuel Discount have better environmental performance than some vehicles that do qualify </li>
<li>The Alternative Fuel Discount will be closed to new registrations on 24 December 2010.&nbsp; However, owners of vehicles registered with TfL before that date will continue to receive a 100 per cent discount for a two year period </li>
<li>Those people who receive the 90 per cent Resident's Discount because they reside within the Western Extension, or immediately adjacent to the Western Extension boundary, will no longer qualify for a 90 per cent discount from the charge, reverting to the position prior to the Western Extension </li>
<li>Residents who remain eligible for the Resident's Discount, once the Western Extension has been removed, will be able to register for CC Auto Pay and will then be entitled to a 90 per cent&nbsp;discount of the &pound;9 daily charge.&nbsp;A resident's account will be charged &pound;0.90 for every day that their vehicle is used within the Congestion Charging Zone.&nbsp;This works out cheaper and more flexible than the current payment method which requires residents to purchase weekly, monthly or annual charges at set prices </li>
<li>The vast majority of vehicles that are eligible for a Congestion Charge discount must pay an initial &pound;10 registration charge and then an annual &pound;10 charge to maintain the discount.&nbsp;Currently vehicles with&nbsp;nine or more seats do not have to pay these charges.&nbsp;To ensure a consistent approach these vehicles will now have to pay this fee </li>
<li>Fleet Auto Pay will continue to operate as it currently does, but with two differences: the minimum number of vehicles an operator can register to qualify for a fleet account reduces to six (currently it is 10).&nbsp;The discount will be changed so it is in line with all other Auto Pay charge payers (ie. &pound;9 per day) </li>
<li>A number of changes to the Scheme will take effect from 4 January 2011, including the exemption from the Congestion Charge under the Armed Forces Act 2006 given to HM Forces' vehicles; currently, only vehicles that are being used for naval, military or air force purposes are exempt </li>
<li>The removal of the Western Extension and the introduction of the other changes described above to the operation of the Congestion Charge Scheme give effect to two variation orders that were approved by the Mayor on 20 October 2010: the Greater London (Central Zone) Congestion Charging (Variation and Transitional Provisions) Order 2010, which removes the Western Extension (approved without modification) and the Greater London (Central Zone) Congestion Charging (Variation and Transitional Provisions) (No 2) Order 2010, which makes the other changes (approved with two minor modifications).&nbsp;The Mayor's approval followed a public and stakeholder consultation on the variation orders<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Easier, simpler payment method Never again worry about forgetting to pay Motorists can now pre-register for a Congestion Charge Auto Pay (CC Auto Pay) account that will offer them a discounted, simpler and easier way to pay. Once an account has been set";}
        
        


 