


@{ViewBag.Title = "Pupils design and build Tube station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Pupils design and build Tube station</h1>
        <div class="content-page-press-release">
        10 November 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Students from St Martin-in-the-Fields High School in Tulse Hill, Lambeth, and St Saviours and St Olave's School in Southwark rose to the challenge of designing and building an Underground station at Tube Lines' head office on Friday 5 November.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It was a great way to help students understand how science, technology, engineering and maths are used in the real world"</div>
        <div class="quote-footer">
            <div class="quotee-name">Venu Appadoo</div>
            <div class="quotee-job-title">design and technology teacher at St Martin-in-the-Field High School</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It was a great way to help students understand how science, technology, engineering and maths are used in the real world 
                            
                        </p>
                    </div>
                
            
            
            <p>Teams of pupils from the two schools received a brief and specifications to construct a station. </p>
<p>Just like real architects and engineers designing a station, the girls had to consider factors such as security, step-free access and the environmental impact of building a station that would be used by thousands of customers a day. </p>
<p>The 30 students from years eight and nine had a fictional budget of &pound;1.5m and were able to purchase materials from an engineering store. </p>
<p>When the station was completed they also had to produce a poster and do a presentation to promote their station's design and features. </p>
<p>This project, which was designed by Tube Lines in partnership with the London Engineering Project which coordinates Science, Technology, Engineering and Maths (STEM) activities in schools in south and east London, shows Transport for London's (TfL's) commitment to working with the community. </p>
<p>This learning activity was organised by Tube Lines, which was acquired by TfL in June. </p>
<h2>Consider a career</h2>
<p>Tube Lines is particularity interested in raising awareness of the variety of jobs in engineering to female students and encouraging them to consider a career in engineering to help address the current under-representation of women in the industry. </p>
<p>Tube Lines' STEM ambassadors - volunteers with experience in the engineering industry who can inspire children about science, technology, engineering and mathematics - supported and advised pupils on their designs throughout the day. </p>
<p>There were prizes for the best design, best poster and presentation and best teamwork. </p>
<p>Michael Minta, Senior Project Manager at Tube Lines who judged the finished models, said: 'The designs that the students created were very impressive. </p>
<p>'It was fantastic to see teams coming up with innovations and environmentally friendly ideas that have actually been explored or included in station upgrade projects delivered by Tube Lines.'</p>
<p>Venu Appadoo, design and technology teacher at St Martin-in-the-Field High School, said: 'The event at Tube Lines was very inspiring. </p>
<p>'My students really enjoyed it and learnt a lot about engineering and the kind of things that need to be considered when upgrading stations. </p>
<p>'It was a great way to help students understand how science, technology, engineering and maths are used in the real world and the type of careers available to them in the future.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Tube Lines, a subsidiary of TfL, is responsible for the maintenance and upgrade of the infrastructure on the Jubilee, Northern and Piccadilly lines </li>
<li>London Underground&nbsp;is undertaking a major programme of renewal as part of TfL's Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground and Docklands Light Railway passengers to check before they travel at weekends, allowing extra journey time where necessary. Weekend travel news is available on <a href="http://www.tfl.gov.uk">TfL's website</a> </li>
<li>St Martin-in-the-Fields High School is one of the oldest schools in Britain and has technology college status. St Saviours and St Olave's School has a science college which shows their commitment to science </li>
<li>Images are available on request</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Teams of pupils from the two schools received a brief and specifications to construct a station. Just like real architects and engineers designing a station, the girls had to consider factors such as security, step-free access and the environmental impact";}
        
        


 