


@{ViewBag.Title = "Route 18 is fifth in London to banish bendy buses";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Route 18 is fifth in London to banish bendy buses</h1>
        <div class="content-page-press-release">
        12 November 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        On Saturday 13 November, the route 18 will become the fifth in the Capital to see bendy buses withdrawn, with future services operated by double-decker buses.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Mayor is delivering on his promise to rid the Capital of these unwanted 18-metre monstrosities"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's transport advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Mayor is delivering on his promise to rid the Capital of these unwanted 18-metre monstrosities
                            
                        </p>
                    </div>
                
            
            
            <p>The bendy buses currently in service will be replaced by brand new double-deck buses, delivering improved passenger comfort with more seating and more frequent services at peak times and at weekends.</p>
<p>On route 18 passengers will see the frequency of service during peak hours on Mondays to Fridays increase, with buses running every three to four minutes.</p>
<p>On Saturday, the frequency will increase to every four minutes and Sunday services will run every six to seven minutes.&nbsp; </p>
<p>The withdrawal of bendy buses from the streets of London was a Mayoral election pledge.&nbsp; </p>
<p>The remaining bendy bus routes will be converted by the end of 2011.&nbsp;</p>
<p>As bendy buses are removed, so too are the opportunities for fare evaders who once preyed upon these routes.&nbsp;</p>
<p>Once all 12 routes have been converted it is estimated that fare evasion will be reduced by around &pound;5m annually. </p>
<p>Kulveer Ranger, the Mayor of London's transport advisor, said: 'The Mayor is delivering on his promise to rid the Capital of these unwanted 18-metre monstrosities.&nbsp; </p>
<p>'With over 125 already banished from the streets we are on target to get rid of the remainder by the end of 2011.&nbsp; </p>
<p>'As well as removing these unsuitable vehicles from the streets we will also be stopping fare evaders in their tracks saving millions in lost revenue every year.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The removal of bendy buses began on route 507, which converted to 12 metre single-decks on 25 July.&nbsp;Route 521 was converted to 12 metre single-decks on 1 September.&nbsp;Route 38 was converted on 14 November 2009 and&nbsp; route 149 was converted on 16 October 2010.&nbsp;The remaining routes - 12, 25, 29, 73, 207, 436 and 453 - will convert by the end of 2011 </li>
<li>Route 18 will continue to be operated by First Centrewest London Buses Ltd </li>
<li>Passengers will board via the front door and alight at the centre door, in common with all other double deck routes </li>
<li>The service frequency was carefully planned to ensure that sufficient capacity is available to passengers </li>
<li>Fare evasion on London's bus network in 2009 cost in the region of &pound;32m </li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The bendy buses currently in service will be replaced by brand new double-deck buses, delivering improved passenger comfort with more seating and more frequent services at peak times and at weekends.On route 18 passengers will see the frequency of service";}
        
        


 