


@{ViewBag.Title = "TfL condemns unions' refusal to continue constructive talks ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL condemns unions' refusal to continue constructive talks </h1>
        <div class="content-page-press-release">
        26 November 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TSSA and RMT leaderships walk away from offer of six-week safety review. Unions intent on disrupting Londoners despite more than half of post reductions already achieved.
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) today condemned the leaderships of the TSSA and RMT unions after they scuppered productive talks and walked away from the offer of a further six weeks to review London Underground's (LU) staffing plans. </p>
<p>The proposals are due to be fully implemented in February 2011 and are driven by falling ticket office sales due to the success of Oyster. </p>
<p>Of the 800 post reductions proposed, more than half have already been achieved, with 150 management and administrative staff taking voluntary redundancy and 300 vacant posts which will not be filled. </p>
<p>The proposals come with a guarantee of:</p>
<ul>
<li>No impact on safety</li>
<li>No compulsory redundancies</li>
<li>That every station will be staffed</li>
<li>All stations which now have a ticket office will continue to have one</li></ul>
<p>The unions' leaderships had requested more time to carry out a safety review of LU's plans, following weeks of intensive discussions to try to identify their safety concerns. </p>
<p>LU has offered to continue the review for a further six weeks, having been consulting for six months already, to see if there are any local issues which need to be looked at, but the leaderships of the two unions have walked away and made clear that their only concern is to take further strike action.</p>
<p>Howard Collins, Chief Operating Officer of LU, said:&nbsp; 'We have been consulting with the union leaderships for six whole months to try to establish what specific safety concerns they may have. </p>
<p>'We yesterday offered a further six weeks to discuss our plans and to see if there are any local issues which need to be addressed. </p>
<p>'Despite this offer, the leaders of the TSSA and RMT have demonstrated once again that their only interest is in disrupting Londoners - despite the fact that over half of the post reductions have already been achieved through voluntary redundancy and natural wastage. </p>
<p>'If they are serious about resolving this issue, they should call off their totally unnecessary strike immediately.&nbsp; </p>
<p>'We will talk to them right now on any genuine safety issues they have.&nbsp; </p>
<p>'We want an end to this dispute and believe that a resolution will be only achieved through talks, not by further threats to disrupt London.'</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) today condemned the leaderships of the TSSA and RMT unions after they scuppered productive talks and walked away from the offer of a further six weeks to review London Underground's (LU) staffing plans. The proposals are due to";}
        
        


 