


@{ViewBag.Title = "TfL completes Kender Street Triangle improvement works";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL completes Kender Street Triangle improvement works</h1>
        <div class="content-page-press-release">
        24 November 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Gyratory removed and crossings upgraded as part of scheme.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Thanks to the long overdue restoration of two-way traffic, new pedestrian crossings and the fantastic new cycle lane, the area is now much brighter, cleaner and friendlier to everyone who uses it."</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's Transport Advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Thanks to the long overdue restoration of two-way traffic, new pedestrian crossings and the fantastic new cycle lane, the area is now much brighter, cleaner and friendlier to everyone who uses it.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Scheme delivered as part of Mayor's Great Outdoors programme</li></ul>
<p>Londoners using the busy New Cross Gate area now benefit from smoother traffic flow, better crossings and enhanced pavement space following completion of work to improve the area around the Kender Street Triangle by Transport for London (TfL).</p>
<p>The works, which began in February, formed part of the Mayor's Great Outdoors public realm improvement programme, which looks to improve streets, parks and squares of all shapes and sizes across the Capital.&nbsp;</p>
<h2>New crossings</h2>
<p>The scheme has seen the gyratory system around the Kender Street Triangle removed and returned to two-way traffic. </p>
<p>New crossings for pedestrians and cyclists have also been installed, as well as a new cycle and bus lane along Queen's Road. </p>
<p>TfL has also restored the Grade II listed ventilation pipe for the underground public toilets. </p>
<p>The pipe has been relocated to outside the White Hart Public House and a new working gas lantern installed onto the ventilation column.</p>
<p>Kulveer Ranger, the Mayor of London's Transport Advisor, said: 'The Mayor is committed to making London's streets more accessible through his Great Outdoors programme and Kender Street Triangle is a perfect example of that.</p>
<p>'Thanks to the long overdue restoration of two-way traffic, new pedestrian crossings and the fantastic new cycle lane, the area is now much brighter, cleaner and friendlier to everyone who uses it.' </p>
<h2>Benefit all road users</h2>
<p>Dana Skelley, Director of Roads at Transport for London, said: 'The improvement works that TfL has carried out on the Kender Street Triangle have helped benefit all road users in New Cross. </p>
<p>'Not only has the removal of the gyratory system helped smooth traffic flow through the area, but the improvements to footpaths and crossings have helped open the area up to cyclists and pedestrians as well.'</p>
<p>Now these works have been completed, Lewisham Council will work to improve and upgrade the inner roads within the Kender Street Triangle as part of its 'Streets for People' initiative.&nbsp;</p>
<p>These works, which TfL is working with&nbsp;Lewisham Council to fund, will see roads within the triangle repaved and reduced to 20mph, new trees planted throughout the area and walking and cycling routes linked together to make them safer and more accessible for local residents.</p>
<p>Lewisham Council will be holding a public consultation in December 2010 about these proposals, and is working to be on site by early 2011. </p>
<p>Cllr Alan Smith Deputy Mayor of Lewisham said: 'I am pleased to see the real improvements this scheme has made to the Kender Street area and know that the ongoing work the Council is committed to doing will enhance the area even more.'</p>
<p>
<hr>
<strong>Notes to editors </strong>
<p>
<ul>
<li>TfL is working with Lewisham Council, New Cross Gate New Deal for Communities (NDC) and Design for London (DfL) to improve transport and the urban environment in the New Cross area </li>
<li>Skanska Construction UK carried out the improvement works on behalf of TfL </li>
<li>Since May 2008, TfL has converted three gyratory systems across London to two way traffic; The Aldgate Gyratory in September 2008, the Brixton Hill Gyratory in November 2009 and the Kender Street Triangle Gyratory in September 2010 </li>
<li>The Mayor's London's Great Outdoors has seen &pound;40 million invested in more than 50 public realm improvement projects, funding for which has come from Transport for London, The London Development Agency and London's boroughs as well as other sources</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Scheme delivered as part of Mayor's Great Outdoors programmeLondoners using the busy New Cross Gate area now benefit from smoother traffic flow, better crossings and enhanced pavement space following completion of work to improve the area around the";}
        
        


 