


@{ViewBag.Title = "TfL secures first short-term borrowing under its newly established &pound;2bn Commercial Paper Programme";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL secures first short-term borrowing under its newly established &pound;2bn Commercial Paper Programme</h1>
        <div class="content-page-press-release">
        18 November 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London's (TfL's) Commercial Paper Programme established to secure an additional source of financing at competitive rates.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This innovative financial management will maximise investment in transport infrastructure at the lowest cost to fare payers and taxpayers
                            
                        </p>
                    </div>
                
            
            
            <p>The decision to utilise the Commercial Paper Programme reflects sound and innovative financial decision making by TfL to maximise investment in London's transport network.</p>
<p>TfL is one of the first UK public bodies to establish a Commercial Paper Programme.</p>
<p>TfL today confirmed that it has secured its first short-term borrowing under its newly established &pound;2bn Commercial Paper Programme.</p>
<p>The TfL Commercial Paper Programme has been established to provide TfL with an additional source of financing at rates that are competitive with, and currently more advantageous than, short-term rates offered by others including the Public Works Loans Board.</p>
<p>TfL made its first issuance of commercial paper on 15 November 2010. </p>
<p>The value of the short-term borrowing (three month) is &pound;150m. </p>
<p>TfL also updated its &pound;5bn Medium-Term Note Programme in the summer as TfL is planning to become a more active issuer in the capital markets going forward.</p>
<h2>A first for TfL</h2>
<p>TfL is the one of the first UK public bodies to establish a Commercial Paper Programme and is a further financial first for TfL. </p>
<p>In 2004/05, TfL became the first UK local authority to raise finance on the capital markets independently of Government when it created a &pound;3.3bn bond issuance programme.</p>
<p>Steve Allen, Managing Director for Finance, TfL said: 'Transport for London is investing billions to upgrade the Tube, build Crossrail and deliver major improvements to the London Overground and Docklands Light Railway networks and this investment has been confirmed in the recent Comprehensive Spending Review with Government.</p>
<p>'Following months of hard negotiations, the Mayor and TfL were able to safeguard the future of London's transport network through the Spending Review and secured continued agreement for TfL to borrow for capital investment.</p>
<p>'We now need to finance this investment cost effectively and the establishment of a Commercial Paper Programme supplements our existing sources of finance including the Public Works Loans Board. </p>
<p>'This innovative financial management will maximise investment in transport infrastructure at the lowest cost to fare payers and taxpayers.'</p>
<p>To facilitate short-term Commercial Paper borrowing, TfL has sought credit ratings from both Standard &amp; Poor's (S&amp;P) and Moody's. </p>
<p>TfL has recently been awarded the highest short-term rating from S&amp;P (A-1+), Moody's (P-1) and Fitch (F1+).</p>
<p>
<hr>
</p>
<p><strong>Note to editors:</strong></p>
<ul>
<li><a href="http://www.tfl.gov.uk/corporate/about-tfl/investorrelations/1464.aspx">Further information relating to the TfL Commercial Paper Programme</a></li>
<li>TfL's borrowing programme reflects two key principles: borrowing must be for capital purposes only and not to fund operations; and the level of borrowing must be prudent</li>
<li>TfL has taken a strategic decision to expand its sources of funding, to introduce a greater amount of flexibility and diversity to improve liquidity risk management. TfL borrows to finance its long-term capital investment programme</li>
<li>The TfL Commercial Paper Programme will be used to manage the timing of longer-term debt issuance and to introduce an element of short-term flexibility into its borrowing structure. TfL currently anticipates building up Commercial Paper issuance gradually over the next four years</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The decision to utilise the Commercial Paper Programme reflects sound and innovative financial decision making by TfL to maximise investment in London's transport network.TfL is one of the first UK public bodies to establish a Commercial Paper";}
        
        


 