


@{ViewBag.Title = "TfL Commissioner blasts Thames Water traffic chaos ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL Commissioner blasts Thames Water traffic chaos </h1>
        <div class="content-page-press-release">
        24 November 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL Commissioner furious at Thames Water's failure to reopen the carriageway after overnight emergency works on the A10 Bishopsgate.
        
    </div>



 <div class="on-this-page">
<p>The A10 Bishopsgate in London was unnecessarily gridlocked this morning due to utility company's failure to reinstate the carriageway surface after emergency repairs last night at the junction of Threadneedle Street. </p>
<p>The repairs to the leaking main were completed by&nbsp;05:00 this morning, however, due to poor coordination of suppliers, the carriageway reinstatement was still on-going more than five hours later, causing serious disruption to traffic.&nbsp;&nbsp; </p>
<p>Peter Hendy, London's Transport Commissioner, said: 'I'm furious that TfL has been let down on a number of occasions by Thames Water when it comes to reinstating emergency works on London's key Arterial roads.'</p>
<p>'Any unnecessary disruption to London's roads is a broadside attack against our plans to smooth traffic flow across the Capital and I urge Thames Water to coordinate their works better to ensure they are working for London, not against.</p>
<p>'This unnecessary disruption is clearly unacceptable and symptomatic of the frequent failure of the street works industry to pay due regard to the needs of road users in the timely completion of roadworks.'<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The A10 Bishopsgate in London was unnecessarily gridlocked this morning due to utility company's failure to reinstate the carriageway surface after emergency repairs last night at the junction of Threadneedle Street. The repairs to the leaking main were";}
        
        


 