


@{ViewBag.Title = "Three-car trains increase capacity on DLR Stratford to Lewisham route";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Three-car trains increase capacity on DLR Stratford to Lewisham route</h1>
        <div class="content-page-press-release">
        30 November 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Three-car trains have been launched on the Docklands Light Railway (DLR) from Stratford to Lewisham with the extra carriage increasing capacity by 50 per cent for each train during the morning peak.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The additional carriages will allow more than a thousand extra passengers to travel on this route every hour and mean less crowding at stations."</div>
        <div class="quote-footer">
            <div class="quotee-name">Jonathan Fox</div>
            <div class="quotee-job-title">Director of the DLR</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The additional carriages will allow more than a thousand extra passengers to travel on this route every hour and mean less crowding at stations.
                            
                        </p>
                    </div>
                
            
            
            <p>The roll-out comes as demand for DLR services continues to grow and the network gets ready for the 2012 Olympic and Paralympic Games and an expected 500,000 people per day.</p>
<h2>Improving journeys</h2>
<p>Kulveer Ranger, the Mayor's transport adviser, said: 'Increasing capacity on the Docklands Light Railway is part of the Mayor's continued commitment to improve the journeys of those using public transport across the city. </p>
<p>'We are improving the service for all Londoners who use the DLR on a regular basis and with the forthcoming Games we are determined to make sure everyone, visitors and residents, are able to travel to events quickly and comfortably.'</p>
<p>Director of the DLR, Jonathan Fox, said: 'We are continuing to deliver an increase in capacity across the network as promised and local residents and passengers are now seeing the benefits of this.</p>
<p>'The additional carriages will allow more than a thousand extra passengers to travel on this route every hour and mean less crowding at stations.' </p>
<h2>Investment in transport</h2>
<p>Olympic Delivery Authority (ODA) Director of Transport Hugh Sumner said: 'The introduction of three-car trains on the Stratford-Lewisham line will deliver additional capacity before, during and after the Games.' </p>
<p>'The ODA welcomes this upgrade as part of a &pound;6.5 billion nationwide investment in transport associated with the Games, as the route will continue to be an important option for those with disabilities, people with luggage and parents with small children or pushchairs.'</p>
<p>Three-car trains were introduced on the network's Bank to Lewisham route earlier this year.</p>
<p>
<hr>
Notes to editors 
<p>
<ul>
<li>During the morning peak, every other train will run a three-car configuration while in the evening and off peaks, the longer trains will run according to demand </li>
<li>Fifty-five new carriages have been added to the DLR fleet to enable three-car operation. They have been delivered over the last two years at a cost of &pound;100m and were funded by TfL (&pound;80m) and the ODA (&pound;20m) </li>
<li>The DLR currently carried almost 70 million people a year and has a reliability figure of 98.6 per cent&nbsp; </li>
<li>An all time record for passenger number was set earlier this month on 10 November (during the World Travel Market at the ExCeL) when 303,000 journeys were made on the DLR network - up 11 per cent from the same day last year when approx. 273,000 journeys were made<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The roll-out comes as demand for DLR services continues to grow and the network gets ready for the 2012 Olympic and Paralympic Games and an expected 500,000 people per day.Improving journeysKulveer Ranger, the Mayor's transport adviser, said: 'Increasing";}
        
        


 