


@{ViewBag.Title = "Transport bosses vow to help Londoners beat strike again";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport bosses vow to help Londoners beat strike again</h1>
        <div class="content-page-press-release">
        26 November 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        - Up to 50 per cent of Tube services ran during the last strike
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The fact is that the TSSA and RMT leaderships are not facing reality, and are determined to inconvenience Londoners"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">TfL Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The fact is that the TSSA and RMT leaderships are not facing reality, and are determined to inconvenience Londoners 
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Almost 95 per cent used public transport to get around during previous strikes </li>
<li>More river and bus services will get Londoners to work</li></ul>
<p>The Mayor and Transport for London (TfL) have today set out the range of transport measures that will supplement Tube services to help people get around the Capital and keep London moving during the planned strike on London Underground (LU) on 28-29 November, called by the leaderships of the RMT and TSSA unions.</p>
<p>Despite the union leaderships predicting London's 'paralysis', LU was able to consistently operate 40 per cent of its normal services during the strike on 3 November, rising to 50 per cent for large parts of the day. </p>
<p>LU carried around half of its normal passenger numbers during that strike, and almost 95 per cent of Oyster users were able to go about their business and get around the city on public transport.</p>
<p>If Monday's strike goes ahead, LU will once again be running as many services as possible. More&nbsp;than 100&nbsp;extra buses, capacity for around 10,000 more journeys on the river, and marshalled taxi ranks will all help Londoners to get around the Capital. </p>
<p>In addition, planned roadworks are being delayed or curtailed where possible, and TfL will be working to keep road traffic flowing around key transport hubs. </p>
<p>Volunteers will again be positioned at Tube, bus, and rail stations to help Londoners with their journeys, providing maps and other useful information.</p>
<p>Londoners who own a bike are encouraged to cycle to work and cycle parking facilities are being made easier for newcomers to access. </p>
<p>The Cycling Journey Planner will again be available on TfL's website. </p>
<p>The Barclays Cycle Hire scheme - which saw record usage during the last strike - will be available to members and TfL's contractors will be working to ensure that bikes are redistributed as effectively as possible. Normal services are also expected to run on London Overground, Docklands Light Railway&nbsp;and Tramlink.</p>
<p>Despite ongoing talks the unions currently intend to proceed with the strike. </p>
<p>They are threatening to disrupt Londoners despite being given assurances that staffing changes proposed by LU will have no impact on the Tube's industry-leading safety standards. </p>
<p>The proposals will mean no compulsory redundancies and no loss of earnings, that every station that currently has a ticket office will continue to have one, and that stations will continue to be staffed.</p>
<p>The union leaderships have been urged to reconsider their action and call off the strike. </p>
<p>Should the strike go ahead, LU will work to operate as many services as possible, but passengers are advised that disruption is likely and that alternative travel options and staggering journey times should be considered where possible.</p>
<p>Passengers are advised to plan ahead and check before they travel at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> </p>
<p>The Mayor of London, Boris Johnson, said: 'I feel sure that the defiance and contempt Londoners have shown for the previous futile strike action will be evident once more. </p>
<p>'The leaderships of the TSSA and RMT may well cause inconvenience through their stubborn refusal to face facts, but we are determined to keep the Capital moving by all means available to us. </p>
<p>'London will not be beaten.'</p>
<p>Transport Commissioner Peter Hendy said: 'London Underground has been ready and willing to discuss any safety concerns which the RMT and TSSA leaderships may have had since these proposals were announced at the start of March. </p>
<p>'We remain willing to discuss these at any time. </p>
<p>'The fact is that the TSSA and RMT leaderships are not facing reality, and are determined to inconvenience Londoners by striking over post reductions, many of which have already happened.&nbsp; </p>
<p>'More than half of the 800 post reductions have been achieved -150 management and administrative staff have taken voluntary severance, and 300 vacant stations posts will not be filled.</p>
<p>'When it is introduced in February the new LU staffing structure will mean every station will continue to be staffed and every station with a ticket office now will still have one.&nbsp; </p>
<p>'The Tube's excellent safety standards will be maintained and not one member of staff will have faced compulsory redundancy.'</p>
<p>Currently, RMT and TSSA members will begin their strike action at 18:30 on Sunday 28 November, and Tube services will not return to normal until the start of services on Tuesday morning, 30 November.</p>
<p>Those public transport workers who are on duty during the strike will be doing their very best to keep London moving and passengers' patience is asked for over what may be difficult journeys. </p>
<p>The following services are being provided:</p>
<h2>Tube</h2>
<ul>
<li>Disruption is likely to most journeys, but LU will run as many trains and keep as many stations open as possible, and will issue further information in due course about which services and stations will be in operation during the industrial action - please check <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> for the latest situation on your line and at your station before you travel </li>
<li>Volunteers will be on hand at key stations to give alternative travel options and otherwise assist passengers</li></ul>
<h2>Buses</h2>
<ul>
<li>London buses operate around 700 routes and services are being boosted with over 100 extra buses on key routes </li>
<li>Extra staff are being deployed to hubs and focus on customer service and information</li></ul>
<h2>DLR and London Overground </h2>
<ul>
<li>A normal service will operate. Some stations where there is an interchange with LU may be affected</li></ul>
<h2>Tramlink</h2>
<ul>
<li>Tramlink services are expected to operate as normal</li></ul>
<h2>Cycling</h2>
<ul>
<li>The Barclays Cycle Hire scheme will be available to members, although demand is likely to be high, and cycles harder to access, during peak times </li>
<li>Londoners who own a bike are encouraged to cycle to work, and a Cycle Journey Planner is provided on <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> </li>
<li>TfL is writing to hundreds of businesses across London to ask them to be flexible and make it easy for staff to cycle to work, and to allow staff to wear casual clothes on the day </li>
<li>Cycle Parks at Finsbury Park and London Bridge will be making it easy for new users to turn up, register, and leave their bikes </li>
<li>People thinking of cycling can get special offers from <a href="http://www.tfl.gov.uk/cyclingoffers">tfl.gov.uk/cyclingoffers</a>, including buy one get one free at London Bridge Cycle Park, &pound;10 off bike servicing and discounts on commuter cycling clothing and accessories, such as helmets and high-visibility jackets</li></ul>
<h2>River Services</h2>
<ul>
<li>Thames Clippers will be running their normal services at reduced prices: Adult tickets &pound;5, Travelcard holders &pound;3.50. They will also be operating additional peak hour shuttles on the busy routes to Canary Wharf, priced at &pound;7 return </li>
<li>Thames River Taxi will have extra capacity in the morning and afternoon peaks on their Putney Pier to Blackfriars Pier commuter service. Tickets from &pound;3 (Putney to Chelsea Adult single, with a Travelcard). Payment cannot be made with an Oyster card</li></ul>
<h2>Taxis </h2>
<ul>
<li>Between 06:30 and 10:30 on Monday 29 November 2010 taxi drivers will be operating a marshalled taxi service for central London destinations at five major London rail termini - Waterloo, Liverpool Street, King's Cross, Charing Cross, and Marylebone. In addition, the fixed-fare taxi sharing schemes at Euston Station and Paddington Station are expected to operate as normal </li>
<li>Private hire and minicab services will be running as normal. Details for licensed private hire and minicab operators in London are available on the TfL website</li></ul>
<h2>National Rail </h2>
<ul>
<li>Oyster Pay As You Go is accepted for all National Rail journeys within Greater London </li>
<li>Travelcards are also valid for travel on National Rail within the zones purchased </li></ul>
<h2>Walking </h2>
<ul>
<li>Walking maps will be provided online, in bus, rail, and Tube stations in Zone 1 and other key outer London stations, with volunteers helping people plan their routes around the city. People are urged to, where possible, use walking for short journeys</li></ul>
<h2>Roads and the Congestion Charge </h2>
<ul>
<li>To help keep traffic flowing, the Congestion Charge will remain in operation throughout the strike </li>
<li>TfL will be delaying or curtailing road works on major London roads wherever possible and has encouraged all London boroughs to take similar measures on their network </li>
<li>TfL will also work with the Metropolitan Police to minimise the impact of congestion </li>
<li>TfL will be working to keep traffic flowing around major transport hubs </li>
<li>Londoners and commuters are encouraged to keep journeys by car to a minimum to enable public transport to move freely</li></ul>
<p>
<hr>

<p>
<h2>Notes to editors</h2>
<ul>
<li>Under LU's proposals staff will be more effectively deployed to areas of stations where they can better assist customers, removing duplication of roles whilst delivering the best possible value for fare and taxpayers </li>
<li>The proposed changes would mean a reduction in the total number of posts across LU, but will involve no compulsory redundancies, and will have no impact on the Tube's high safety standards </li>
<li>Some LU ticket offices now regularly sell fewer than 10 tickets an hour. The quietest ticket offices include North Ealing, which sells less than six tickets per hour, and Latimer Road and Moor Park, which sell only around seven tickets per hour </li>
<li>Overall, sales from ticket offices are down 28 per cent over the last four years as more and more people switch to Oyster and just one in 20 Tube journeys now starts with a visit to a ticket office </li>
<li>The changes do not affect Tube drivers, and the majority of the roughly 800 posts that are identified for reduction are ticket office staff; this also includes a saving of around 150 posts from reductions in management and administrative staff. This is out of a total of around 19,000 LU staff, so represents less than five per cent of the workforce<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Almost 95 per cent used public transport to get around during previous strikes More river and bus services will get Londoners to workThe Mayor and Transport for London (TfL) have today set out the range of transport measures that will supplement Tube";}
        
        


 