


@{ViewBag.Title = "Transport for London pledges to keep London moving despite strike";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London pledges to keep London moving despite strike</h1>
        <div class="content-page-press-release">
        01 November 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Ninety-three per cent used public transport to beat both previous strikes. Extra bus and river services to help Londoners get to work. Mayor calls on union leaderships to call off pointless strike.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are determined to keep the Capital moving by providing a plethora of alternatives so that people can get around"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are determined to keep the Capital moving by providing a plethora of alternatives so that people can get around
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor and Transport for London (TfL) have today unveiled a raft of measures to help people get around the Capital and keep London moving during the strike on London Underground (LU) on 2-3 November, called by the leaderships of the RMT and TSSA unions.</p>
<p>The detailed plans come as new figures from TfL show that 93 per cent of Oyster customers made their journeys by public transport during the last strike, matching the determination shown by Londoners during the first strike in September. </p>
<p>Despite the union leaderships predicting London's 'paralysis', LU was able to operate 40 per cent of its normal services during the strike on 3 October and carried well over a million people. </p>
<p>More than a hundred extra buses, capacity for around 10,000 more journeys on the river, and marshalled taxi ranks have been organised. </p>
<p>Planned roadworks are being delayed or curtailed where possible, and TfL will be working to keep road traffic flowing around key transport hubs. </p>
<p>Volunteers will once again be positioned at Tube, bus, and rail stations to assist Londoners with their journeys and provide maps and other useful information.</p>
<p>Londoners who own a bike are encouraged to cycle to work, cycle parking facilities are being made easier for newcomers to access and a Cycling Journey Planner will again be available on TfL's website. </p>
<p>The Barclays Cycle Hire scheme - which saw record usage during the last strike - will be available to members and TfL's contractors will be working to ensure that bikes are redistributed as effectively as possible. </p>
<p>Normal services are also expected to run on London Overground, Docklands Light Railway (DLR) and Tramlink.</p>

<h2>Keeping the Capital moving</h2>
<p>Despite ongoing talks the unions currently intend to proceed with the strike. </p>
<p>They are threatening to disrupt Londoners despite being given assurances that staffing changes proposed by LU will have no impact on the Tube's excellent safety standards. </p>
<p>The proposals will mean no compulsory redundancies and no loss of earnings, that every station that currently has a ticket office will continue to have one, and that stations will continue to be staffed. </p>
<p>The union leaderships have been urged to reconsider their action and call off the strike. </p>
<p>Should the strike go ahead, LU will work to operate as many services as possible, but passengers are advised that disruption is likely and that alternative travel options and staggering journey times should be considered where possible.</p>
<p>Passengers are advised to plan ahead and <a href="http://www.tfl.gov.uk ">check before they travel</a>.</p>
<p>The Mayor of London, Boris Johnson, said: 'Londoners have shown that they will not be deterred from their daily business by these pointless strikes. </p>
<p>'The action of the union leaderships may cause some inconvenience but we are determined to keep the Capital moving by providing a plethora of alternatives so that people can get around. </p>
<p>'Whether by bus, boat or bike when Londoners beat the strike for a third time I hope the RMT and TSSA leaderships will face facts and see that their action achieves nothing aside from depriving their members of another day's pay.'</p>

<h2>Essential changes</h2>
<p>Currently, RMT and TSSA Tube maintenance staff will begin their 24-hour strike at 19:00 on Tuesday 2 November, and station staff, drivers and signalling staff will start at 21:00. </p>
<p>Tube services will not return to normal until the start of services on Thursday morning, 4 November.</p>
<p>Transport Commissioner Peter Hendy said: 'We continue to make every effort to avoid this dispute by remaining available for discussions at any time with the union leaderships. </p>
<p>'We are doing everything possible to limit the impact of the 800 post reductions - 150 management and administrative staff have already taken voluntary severance and LU has identified 300 vacant posts which will simply not be filled.</p>
<p>'The changes we are making are essential. </p>
<p>'Due to the success of Oyster just one journey in twenty now involves a ticket office, and some ticket offices sell fewer than ten tickets an hour. </p>
<p>'We have explained that the changes come with no compulsory redundancies and no loss of earnings, and mean that stations will continue to be staffed and every station with a ticket office will continue to have one.</p>
<p>'Despite exhaustive talks over the last week, the union leaderships remain intent on disrupting Londoners. </p>
<p>'Journeys will be more difficult, and we regret that, but we are committed to keeping London moving, as we have during the previous two strikes. </p>
<p>'Ninety-three per cent of our customers beat the strike using public transport during those strikes, and we will be boosting alternative services to allow them to do so again.'</p>
<p>Those public transport workers who are on duty during the strike will be doing their very best to keep London moving and passengers' patience is asked for over what may be difficult journeys. </p>
<h2>Extra services</h2>
<p>The following services are being provided:</p>
<p><strong>Tube</strong></p>
<ul>
<li>Disruption is likely to most journeys, but LU will run as many trains and keep as many stations open as possible - please <a href="http://www.tfl.gov.uk/ ">check online </a>for the latest situation on your line and at your station before you travel </li>
<li>Volunteers will be on hand at key stations to give alternative travel options and otherwise assist passengers</li></ul>
<p><strong>Buses</strong></p>
<ul>
<li>London buses operate around 700 routes and services are being boosted with over a hundred extra buses on key routes </li>
<li>Extra staff are being deployed to hubs and focus on customer service and information</li></ul>
<p><strong>DLR and London Overground </strong></p>
<ul>
<li>A normal service will operate. Some stations where there is an interchange with LU may be affected</li></ul>
<p><strong>Tramlink</strong></p>
<ul>
<li>Tramlink services are expected to operate as normal</li></ul>
<p><strong>Cycling</strong></p>
<ul>
<li>Barclays Cycle Hire will be available to members, although demand is likely to be high, and cycles harder to access, during peak times </li>
<li>Londoners who own a bike are encouraged to cycle to work, and use TfL's&nbsp;<a href="http://www.tfl.gov.uk/cycling">Cycle Journey Planner</a>&nbsp; </li>
<li>TfL is writing to hundreds of businesses across London to ask them to be flexible and make it easy for staff to cycle to work, and to allow staff to wear casual clothes on the day&nbsp; </li>
<li>Cycle Parks at Finsbury Park and London Bridge will be making it easy for new users to turn up, register, and leave their bikes </li>
<li>People thinking of cycling can get <a href="http://www.tfl.gov.uk/cyclingoffers">special offers </a>including buy one get one free at London Bridge Cycle Park, &pound;10 off bike servicing and discounts on commuter cycling clothing and accessories, such as helmets and high-visibility jackets</li></ul>
<p><strong>River Services</strong></p>
<ul>
<li>Thames Clippers will be running their normal services at reduced prices: Adult tickets &pound;5, Travelcard holders &pound;3.50. They will also be operating additional peak hour shuttles on the busy routes to Canary Wharf, priced at &pound;7 return </li>
<li>Thames River Taxis will have extra capacity in the morning and afternoon peaks on their Putney Pier to Blackfriars Pier commuter service. Tickets cost from &pound;3 (Putney to Chelsea Adult single, with a Travelcard). Payment cannot be made with an Oyster card</li></ul>
<p><strong>Taxis</strong></p>
<ul>
<li>Between 06:30 and 10:30 on Wednesday 3 November 2010 taxi drivers will be operating a marshalled taxi service for central London destinations at five major London rail termini - Waterloo, Liverpool St, King's Cross St.Pancras, Charing Cross, and Marylebone. In addition, the fixed-fare taxi sharing schemes at Euston and Paddington stations are expected to operate as normal </li>
<li>Private hire and minicab services will be running as normal. Details for licensed private hire and minicab operators in London are available on the TfL website</li></ul>
<p><strong>National Rail&nbsp;</strong></p>
<ul>
<li>Oyster pay as you go is accepted for all National Rail journeys within Greater London </li>
<li>Travelcards are also valid for travel on National Rail within the zones purchased </li></ul>
<p><strong>Walking</strong> </p>
<ul>
<li>Walking maps will be provided online, in bus, rail, and Tube stations in Zone 1 and other key outer London stations, with volunteers helping people plan their routes around the city. People are urged to, where possible, use walking for short journeys</li></ul>
<p><strong>Roads and the Congestion Charge </strong></p>
<ul>
<li>To help keep traffic flowing, the Congestion Charge will remain in operation throughout the strike </li>
<li>TfL will be delaying or curtailing road works on major London roads wherever possible and has encouraged all London boroughs to take similar measures on their network. TfL will also work with the Metropolitan Police to minimise the impact of congestion </li>
<li>TfL will be working to keep traffic flowing around major transport hubs </li>
<li>Londoners and commuters are encouraged to keep journeys by car to a minimum to enable public transport to move freely</li></ul>
<p>
<hr>

<p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>Under LU's proposals staff will be more effectively deployed to areas of stations where they can better assist customers, removing duplication of roles whilst delivering the best possible value for fare and taxpayers 
<li>The proposed changes would mean a reduction in the total number of posts across LU, but will involve no compulsory redundancies, and will have no impact on the Tube's high safety standards </li>
<li>Some LU ticket offices now regularly sell fewer than 10 tickets an hour. The quietest ticket offices include North Ealing, which sells less than six tickets per hour, and Latimer Road and Moor Park, which sell only around seven tickets per hour </li>
<li>Overall, sales from ticket offices are down 28 per cent over the last four years as more and more people switch to Oyster and just one in 20 Tube journeys now starts with a visit to a ticket office </li>
<li>The changes do not affect Tube drivers, and the majority of the roughly 800 posts that are identified for reduction are ticket office staff; this also includes a saving of around 150 posts from reductions in management and administrative staff. This is out of a total of around 19,000 LU staff, so represents less than five per cent of the workforce</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor and Transport for London (TfL) have today unveiled a raft of measures to help people get around the Capital and keep London moving during the strike on London Underground (LU) on 2-3 November, called by the leaderships of the RMT and TSSA";}
        
        


 