


@{ViewBag.Title = "Tube carries half usual number of passengers despite strike - 17:30 update";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube carries half usual number of passengers despite strike - 17:30 update</h1>
        <div class="content-page-press-release">
        29 November 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Trains running on all but the Circle line. More than three quarters of stations are open, and up to 40 per cent of trains are running during evening peak
        
    </div>



 <div class="on-this-page">
<p>Passengers should check before travelling at tfl.gov.uk.&nbsp;Fourth pointless strike 'will achieve nothing whatsoever'</p>
<p>London Underground (LU) is operating train services on ten out of 11 lines this evening as Tube and other transport services combine to ensure that Londoners can continue to get around the Capital despite today's futile strike action called by the RMT and TSSA leaderships.</p>

<p>Analysis of Oyster data shows that the Tube has carried half the usual number of passengers despite the strike. </p>

<p>LU has operated half of its usual number of trains for large parts of the day, and intends to maintain up to 40 per cent of services during this evening. </p>

<p>More than three-quarters of stations are currently open.</p>

<p>The Waterloo &amp; City, Northern, Victoria and Metropolitan lines are all now running services from end to end, and the majority of the Jubilee and District lines are also being served.</p>

<p>Some stations may be currently closed. However, services are currently operating as follows:</p>
<ul>
<li>Northern line - operating across the full line</li>
<li>Waterloo &amp; City line - operating across the full line</li>
<li>Metropolitan line&nbsp;- operating to all destinations</li>
<li>Victoria line - operating across the full line</li>
<li>Jubilee line - operating a service between Stratford and Wembley Park</li>
<li>Bakerloo line - operating between Queen's Park and Elephant &amp; Castle, with London Overground services operating between Queens Park and Harrow &amp; Wealdstone</li>
<li>District line - operating between Upminster and Ealing Broadway / Wimbledon </li>
<li>Piccadilly line - operating Cockfosters to Arnos Grove, and Heathrow Terminal 5 to Acton Town</li>
<li>Central line -&nbsp;running between White City and Ealing Broadway/West Ruislip, and between Liverpool Street and Epping/Hainault</li>
<li>Hammersmith &amp; City line - operating between Hammersmith and Aldgate </li></ul>

<p>As announced last week, London Underground (LU) does not intend to operate the Circle line, as most of its stations are served by other lines. </p>
<h2>Extra services</h2>
<p>Services may vary throughout the day depending on resources available.</p>
<p>There will be disruption throughout the day, passengers are urged to check before they travel to see how Tube services are operating and which alternative services are operating via <a href="http://www.tfl.gov.uk/">tfl.gov.uk</a>.</p>
<p>Good services are operating on the bus network, Docklands Light Railway (DLR), and London Overground.&nbsp; </p>
<p>Extra bus services have been provided, along with extra capacity for an additional 10,000 journeys on river services, and marshalled taxi ranks. </p>
<p>Volunteers are on hand at bus, Tube, and rail stations to help passengers and distribute walking maps and other useful information. </p>
<p>LU was able to operate more than 40 per cent of its normal services during the last strike and carried 50 per cent of its normal passenger levels. </p>
<p>Almost 95 per cent of all usual Oyster journeys were also undertaken across London's transport network.</p>
<p>Mike Brown, Managing Director of LU and London Rail said: 'Services are operating on virtually all lines this morning despite the pointless strike. </p>
<p>'We are doing everything we can to get as many Tube services as possible operating, and to keep Londoners on the move with extra buses, river services, and other alternatives. </p>
<h2>Facing disruption</h2>
<p>'Londoners will face some disruption, but we intend to continue to run services on nearly all Tube lines, meaning that people will be able to get around.</p>
<p>'Our city needs a modern transport system run as efficiently as possible. </p>
<p>'We have been consulting with the union leaderships on this for more than six months, trying to establish what specific safety concerns they may now have. </p>
<p>'We offered a further six weeks to discuss our plans to see if there are any local issues which need to be addressed, but the leaders of the RMT and TSSA prefer to attack the people of London yet again and attempt to hold us all to ransom.</p>
<p>'If they are serious about resolving this issue, they should immediately call off their totally unnecessary strike, which will achieve nothing whatsoever. </p>
<p>'We will talk to them right now on any genuine safety issues they have. </p>
<p>'We want an end to this dispute and believe that a resolution will be only achieved through talks, not by further threats to disrupt London.'</p>
<p>Customers are advised to check <a href="http://www.tfl.gov.uk/">tfl.gov.uk</a> for the latest information on which services will be running and for a range of travel tools to help plan an alternative route or method of transport</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>Some LU ticket offices now regularly sell fewer than 10 tickets an hour. The quietest ticket offices include North Ealing, which sells fewer than six tickets per hour, and Latimer Road and Moor Park, which sell only around seven tickets per hour 
<li>Overall, sales from ticket offices are down 28 per cent over the last four years as more and more people switch to Oyster and just one in 20 Tube journeys now starts with a visit to a ticket office </li>
<li>Under LU's proposals staff will be more effectively deployed to areas of stations where they can better assist customers, removing duplication of roles whilst delivering the best possible value for fare and taxpayers </li>
<li>The proposed changes would mean a reduction in the total number of posts across LU, but will involve no compulsory redundancies, and will have no impact on the Tube's high safety standards </li>
<li>The changes would not affect Tube drivers, and the majority of the roughly 800 posts identified for reduction are ticket office staff. More than half of the reductions have already been achieved. A total of 150 administrative and management staff have already taken voluntary severance and 300 posts are currently vacant and will not be filled</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Passengers should check before travelling at tfl.gov.uk.&nbsp;Fourth pointless strike 'will achieve nothing whatsoever'London Underground (LU) is operating train services on ten out of 11 lines this evening as Tube and other transport services combine to";}
        
        


 