


@{ViewBag.Title = "Tube getting Londoners home despite strike: 17:30 update";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube getting Londoners home despite strike: 17:30 update</h1>
        <div class="content-page-press-release">
        03 November 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Expectations exceeded as 75 per cent of stations served and around 50 per cent of customers carried. Services are operating on all but one line, with some planned station closures.
        
    </div>



 <div class="on-this-page">
<p>A good service is running across the bus network, Docklands Light Railway (DLR), London Overground and Tramlink.</p>
<p>Passengers should check before travelling by visiting <a href="http://www.tfl.gov.uk/">tfl.gov.uk</a></p>
<p>Hundreds of thousands of Londoners will be making their way home by Tube this evening despite a strike on London Underground (LU) called by the leaderships of the RMT and TSSA unions. </p>
<p>Throughout today there have been more services, more trains, more stations open, more station staff, and more drivers than during the previous strikes.&nbsp; </p>
<p>LU has consistently operated over 40 per cent&nbsp;of services - rising to nearly half for a good part of the day. </p>
<p>This compares to somewhere over a third of services last time, peaking at around 40 per cent.&nbsp; </p>
<h2>Check before you travel</h2>Around 75 per cent&nbsp;of stations are open, compared to about 65 per cent&nbsp;during the last strike.
<p>The Central, Metropolitan, Northern and Victoria lines have run services across their whole lengths, with some planned station closures to ensure key stations and those with most demand open are kept open.&nbsp; </p>
<p>Oyster data shows that, despite the strike, the Tube network has still carried around 50 per cent&nbsp;of the number of customers as on a normal working day.</p>
<p>Services are currently operating as follows:</p>
<ul>
<li>A special service is operating across the full length of the Northern line, although some stations are currently closed</li>
<li>A service is operating along the full Victoria line, with 81 per cent&nbsp;of stations open</li>
<li>The Jubilee line is operating a service between Waterloo and Stratford, and between Finchley Road and Wembley Park</li>
<li>The Waterloo and City line is operating a good service</li>
<li>The Bakerloo line is operating between Queen's Park and Elephant &amp; Castle</li>
<li>The District line is operating between Upminster and Ealing Broadway/Wimbledon</li>
<li>The Metropolitan line is operating along the length of the line, with over 90 per cent&nbsp;of stations open</li>
<li>The Piccadilly line is operating Heathrow 123 to Acton Town, and Arnos Grove to Cockfosters</li>
<li>A service is now running across the length of the Central line, with some 80 per cent&nbsp;of stations open</li>
<li>The Hammersmith &amp; City line is operating between Hammersmith and Edgware Road</li>
<li>The Circle line is suspended</li></ul>
<p>Although there will be disruption throughout the day, passengers are urged to check before they travel to see how Tube services are operating and which alternative services are available via <a href="http://www.tfl.gov.uk">tfl.gov.uk</a></p>
<p>Good services are operating on the bus network, DLR, and London Overground.&nbsp; </p>
<p>Extra bus services have been provided, along with extra capacity for an additional 10,000 journeys on river services, marshalled taxi ranks, and guided cycle rides. </p>
<p>Volunteers are on hand at bus, Tube, and rail stations to help passengers and distribute walking maps and other useful information.</p>
<h2>Extra services</h2>
<p>Mike Brown, Managing Director of LU, said: 'Londoners will face some disruption getting home, but around 40 per cent of Tube trains are running with 75 per cent of stations being served and trains operating on all but one line.&nbsp; </p>
<p>'At points today we have managed to run nearly half of our services and have carried around half the number of customers.</p>
<p>'Despite the dire predictions of union leaders, the city has not been paralysed and people are able to get home. </p>
<p>'More services are operating than during the last strike, exceeding our earlier expectations.&nbsp; </p>
<p>'We are doing everything we can to keep as many Tube services as possible operating this evening, and we are also keeping Londoners moving by providing extra buses, river services, and other alternatives.</p>
<p>'Under our plans all stations will continue to be staffed, and that all stations with a ticket office will continue to have one. </p>
<p>'The changes we're proposing to ticket office opening hours are in line with customer demand, so that our employees are deployed in those places at those times where passengers most value their help and reassurance. </p>
<p>'These changes come with a cast iron guarantee of no compulsory redundancies and no loss of earnings.</p>
<p>'Yet the RMT and TSSA leaderships continue to try to disrupt Londoners despite the fact that more than half of these post reductions have already been settled. </p>
<p>'One-hundred-and-fifty management and administrative staff are taking voluntary severance, leaving next week, and 300 vacant posts will simply not be filled. </p>
<p>'We remain ready for constructive talks at any time. </p>
<p>'All this strike will have achieved is the loss of another day's pay for frontline staff, whose pockets are already being hit hard by the RMT's pointless overtime ban.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Some LU ticket offices now regularly sell fewer than 10 tickets an hour. The quietest ticket offices include North Ealing, which sells less than six tickets per hour, and Latimer Road and Moor Park, which sell only around seven tickets per hour</li>
<li>Overall, sales from ticket offices are down 28 per cent over the last four years as more and more people switch to Oyster and just one in 20 Tube journeys now starts with a visit to a ticket office</li>
<li>Under LU's proposals staff will be more effectively deployed to areas of stations where they can better assist customers, removing duplication of roles whilst delivering the best possible value for fare and taxpayers</li>
<li>The proposed changes would mean a reduction in the total number of posts across LU, but will involve no compulsory redundancies, and will have no impact on the Tube's high safety standards</li>
<li>The changes would not affect Tube drivers, and the majority of the roughly 800 posts identified for reduction are ticket office staff; this also includes a saving of around 150 posts from reductions in management and administrative staff. This is out of a total of around 19,000 LU staff, so represents less than five per cent of the workforce</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A good service is running across the bus network, Docklands Light Railway (DLR), London Overground and Tramlink.Passengers should check before travelling by visiting tfl.gov.ukHundreds of thousands of Londoners will be making their way home by Tube this";}
        
        


 