


@{ViewBag.Title = "UK first as innovative trial to reduce London's air pollution gets under way";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>UK first as innovative trial to reduce London's air pollution gets under way</h1>
        <div class="content-page-press-release">
        12 November 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor's plans to improve London's air took a significant step forward today with the launch of an innovative trial to clean up the air in the Capital's most polluted areas.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            TfL hopes that this will demonstrate the ability to reduce particulate matter levels at these two central London trial sites. If successful, this measure could be applied elsewhere in the Capital to improve air quality
                            
                        </p>
                    </div>
                
            
            
            <p>From today, Transport for London (TfL) will begin the UK's first trial of the application of dust suppressants at two sites identified as locations with high levels of particulate matter (PM10). </p>
<p>PM10 is produced mainly by engine emissions along with tyre and brake wear and can exacerbate respiratory conditions in the elderly and very young.</p>
<p>London is at danger of breaching European Union legal limits for PM10 at a few central London locations that are subject to high level of traffic, so the Mayor has pledged to tackle these areas with a package of clean-up measures. </p>
<p>The dust suppressant is a solution made up of Calcium Magnesium Acetate that literally sticks the particulate matter to the carriageway and prevents it re-circulating in the air. </p>
<h2>Six month trial</h2>
<p>It is a biodegradable saline solution that will be sprayed in very small amounts, evenly on roads in the two trial sites.&nbsp; </p>
<p>As part of the trial the carriageway is first swept and jetwashed by a machine similar to a road dust sweeper and then the solution is applied by a modified winter gritting machine that has a very fine sprinkler-like system attached to it. </p>
<p>It will be applied several times a week as deemed necessary in the early hours.</p>
<p>The trial will last for six months and is hoped to reduce PM10 where it is used by 10-20 per cent. </p>
<p>The two sites being treated under the trial are: </p>
<ul>
<li>A3211, from Waterloo Bridge through Victoria Embankment, Upper Thames Street ending at Tower Hill </li>
<li>A501, Marylebone Road and Euston Road from the A5 Edgware Road to York Way at King's Cross station</li></ul>
<p>Mayor of London, Boris Johnson, said: 'We have scoured the globe to find new ways to tackle pollution and found this wonderful contraption that tackles air quality head on, sticking particles to the roads' surface and preventing their dastardly escape back into the air we breathe.</p>
<p>'We expect this new measure to have an immediate impact on air quality in the most polluted areas of central London. </p>
<p>'But we are also steaming ahead with longer-term solutions to improve the city's environment, such as a brand new electric vehicle scheme set to launch in spring next year, a New Bus for London designed to be 40 per cent cleaner and I have just announced plans to extend my hugely popular, Barclays Cycle Hire scheme to the east.'</p>
<p>David Brown, Managing Director, Surface Transport, said: 'This trial application of dust suppressants is an exciting and affordable measure. TfL hopes that this will demonstrate the ability to reduce particulate matter levels at these two central London trial sites. If successful, this measure could be applied elsewhere in the Capital to improve air quality. </p>
<h2>Reducing pollution levels</h2>
<p>'This is the continuation of a long line of joint TfL and Mayoral measures that will help clean London's air.&nbsp; </p>
<p>'An increase in numbers of hybrid buses, and the introduction of new Low Emission Zone standards will all go towards reducing pollution levels to work to bring London's air quality in line with legal and safe limits.'</p>
<p>The solution to be sprayed on the carriageway has been trialled and tested in Europe, resulting in reductions in concentrations of 10-20 per cent. </p>
<p>The dust suppressant is sprayed in such small volumes, that although visible to the naked eye directly after application, road users will be unaware of any solution on the carriageway. </p>
<p>
<hr>

<p>
<p><strong>Note to editors: </strong></p>
<ul>
<li>The Mayor's final air quality strategy will be published later this month. Consultation on the Mayor's draft air quality strategy closed on 13 August 2010 </li>
<li>PM10 levels are monitored through the London Air Quality Network (LAQN). Results from this dust suppressant trial will be available in Autumn 2011. The trial has a total budget of &pound;300,000 </li>
<li>The dust suppressant trial will be monitored by road side particulate monitors </li>
<li>There are currently over 100 monitoring sites in the LAQN </li>
<li>Road users will be made aware of the trials by roadside signs and the TfL website </li>
<li>The dust suppressant will be applied between Midnight and 6:00 </li>
<li>Dust suppressants have been trialled in Sweden, Norway, Austria, Italy and Germany </li>
<li>The main part of the trial is being delivered by specially adapted winter maintenance equipment. A specialist vehicle has also been hired from Austria, which TfL is investigating by using it to trial the application of the dust suppressant at construction sites </li>
<li>The project is being delivered in partnership with Ringway Jacobs, TfL's Highway Maintenance and Works contractor&nbsp; <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "From today, Transport for London (TfL) will begin the UK's first trial of the application of dust suppressants at two sites identified as locations with high levels of particulate matter (PM10). PM10 is produced mainly by engine emissions along with tyre";}
        
        


 