


@{ViewBag.Title = "Victoria Station Upgrade wins 'most outstanding project' award";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Victoria Station Upgrade wins 'most outstanding project' award</h1>
        <div class="content-page-press-release">
        10 November 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground's Victoria Station Upgrade has won the 'most outstanding project within the Rail and Transit sector' in the 2010 Bentley Be Inspired Awards.
        
    </div>



 <div class="on-this-page">
<p>The awards recognise the world's most outstanding infrastructure projects and the winners are selected by an independent panel of jurors of industry experts.</p>
<p>Kulveer Ranger, the Mayor's Transport Advisor, said: 'The upgrades taking place at Victoria have required some creative thinking in order to overcome challenges created by the station's history and location.&nbsp; </p>
<p>'Obviously the improvements are ongoing and we would ask for passengers to bear with us while they continue. </p>
<p>'The fantastic work that is taking place at Victoria to ease congestion, reduce delays and improve passengers' journeys is exactly why the Mayor fought so hard to secure continued investment in the Tube upgrades and I am thrilled that the judges have recognised this.'</p>
<p>Peter Lynch, London Underground's Victoria Station Upgrade Programme Manager, said: 'I am delighted with this award because it shows that industry experts recognise that the Victoria Station Upgrade is a challenging project and we are using innovative solutions to overcome them. </p>
<p>'Jet grouting will be used for the first time in this kind of environment. </p>
<p>'The station's central London location, in the midst of historic buildings, other important structures and numerous utilities is a significant construction challenge.</p>
<p>'The station has been experiencing passenger numbers that have outstripped its capacity, causing congestion and delays at times during the rush hours. </p>
<p>'This project will bring many benefits to more than 80 million passengers who use it each year - including doubling it in size and making it step-free.'</p>
<p>Victoria Tube station, one of the busiest and most congested on the network is set for a radical transformation as part of Transport for London's (TfL's) Investment Programme. </p>
<p>Mott MacDonald is providing the designs for the development.&nbsp; </p>
<p>VINCI BAM Nuttall Limited joint venture are the main contractors who will reconfigure Victoria Underground station - creating a brand new North ticket hall and a new entrance near Cardinal Place shopping mall which will be completed by 2016. </p>
<p>The station will also double in size the existing South ticket hall, and have nine new escalators and seven new lifts. </p>
<p>The project will be fully completed by 2018.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Once all the work is complete Victoria Underground station will have three ticket halls, the new North ticket hall, an enlarged South ticket hall and the existing District&nbsp;and Circle line ticket hall </li>
<li>A completely refurbished ticket office providing five, large ticket-issuing widows reopened in the Victoria line ticket hall last week, which will become the South ticket hall and be doubled in size. Adjacent to the ticket office are six new ticket machines, in addition to the three new machines recently installed between the staircases leading to the mainline station </li>
<li>London Underground&nbsp;is undertaking a major programme of renewal as part of TfL's Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;TfL is urging all Londoners and Tube, London Overground, London Tramlink and Docklands Light Railway passengers to <a href="http://www.tfl.gov.uk">check before they travel </a>at weekends, allowing extra journey time where necessary</li>
<li>Bentley produces the software product Microstation, used by London Underground to develop integrated railway infrastructure designs and to produce 3D CAD models and drawings for construction</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The awards recognise the world's most outstanding infrastructure projects and the winners are selected by an independent panel of jurors of industry experts.Kulveer Ranger, the Mayor's Transport Advisor, said: 'The upgrades taking place at Victoria have";}
        
        


 