


@{ViewBag.Title = "Work starts today on London's biggest cycle hire docking station ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Work starts today on London's biggest cycle hire docking station </h1>
        <div class="content-page-press-release">
        01 November 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A 124-space Barclays Cycle Hire docking station to be created at Waterloo station. More than 100,000 people are already Cycle Hire members.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Demand for bikes in the Waterloo area has been particularly high and the new 'super' docking station there is the first of a series that we are putting in"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">Mayor of London's Transport Adviser</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Demand for bikes in the Waterloo area has been particularly high and the new 'super' docking station there is the first of a series that we are putting in
                            
                        </p>
                    </div>
                
            
            
            <p>Work began today on a 124-space 'super' cycle hire docking station close to the main entrance of Waterloo station. </p>
<p>The new station will be the biggest yet for the Mayor's flagship Barclays Cycle Hire scheme, which now has more than 100,000 members. </p>
<p>Over 1.3 million journeys have now been made on London's fleet of blue bicycles, with around 20,000 trips being made every weekday.</p>
<p>Kulveer Ranger, the Mayor of London's Transport Adviser, said: 'For 100,000 people to sign up to use cycle hire in just twelve weeks has been simply sensational, but what we need to do now is to make sure it remains a simple and effective scheme for every user. </p>
<p>'Demand for bikes in the Waterloo area has been particularly high and the new 'super' docking station there is the first of a series that we are putting in to help our ever increasing membership get around town.'</p>
<p>The 124-space, and three-terminal, docking station at Waterloo should be operational by mid-December. </p>

<h2>New docking stations</h2>
<p>It will be the largest of more than 50 additional docking stations that are being installed for Barclays Cycle Hire users by the spring. </p>
<p>Over half of all cycle hire members are choosing to use the daily 'pay as you go' membership option, which allows UK residents to start using the scheme for just &pound;4. </p>
<p>The cost of buying the membership key (&pound;3) and their first 24-hour access period (&pound;1) is popular with those who want the option of cycling in central London but who may not want to use the scheme regularly.</p>
<p>Around 40,000 people have opted to be annual members, with the &pound;45 membership giving them access to the bikes for the equivalent of just 12p a day. </p>
<p>TfL's Managing Director of Surface Transport, David Brown, said: 'While Londoners are embracing Barclays Cycle Hire, it's not just for those of us that live here; anyone with a UK address and bank account can sign up for their membership key and their first 24-hour access period for just &pound;4.&nbsp; </p>
<p>'After that you can pay as you go, so even if you're only in central London a couple of days a year it's still worth becoming a member and joining in the Capital's cycling revolution.'</p>

<h2>A cycling city</h2>
<p>Mike Goggin, Network Rail's Director of Stations and Customer Services, said: 'It is great news for the thousands of passengers who use Waterloo every day that they will soon be able to hire bikes and drop them off at the station.&nbsp; </p>
<p>'Together with the recently upgraded bike parking facilities at the station, the arrival of the increasingly popular Barclays Cycle Hire will make it easier and more convenient than ever before for passengers to make their onward journeys by bike. </p>
<p>'We support the Mayor's ambition to make London a cycling city and we will continue working with TfL to explore options for installing docking stations at other mainline stations to meet the increasing demand.'</p>
<p>Barclays Cycle Hire is due to be opened up to casual users and visitors later this year. </p>
<p>In the meantime, anyone who has a UK Visa or MasterCard debit or credit card can start using the scheme for as little as &pound;4 - the total cost of a membership key and an initial 24-hour membership. </p>
<p>People who sign up for a daily membership can choose to auto-renew, which means they can start a new 24-hour hire period whenever they want, by simply inserting their cycle hire key into a docking point and taking a bike.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The docking station will be installed next to the existing cycle parking facilities on Station Approach between the Victory Arch and central concourse entrances </li>
<li>Once the new Waterloo docking stations are operational, Serco will no longer provide additional redistribution staff to stock or empty docking stations close to Waterloo station during morning and evening peak hours.&nbsp;However, the capacity of the new 124-space docking station means that similar numbers of hire bikes and docking points will be available to rail commuters who use the scheme </li>
<li>A membership key costs &pound;3 with membership costs at &pound;1 for a 24-hour membership, &pound;5 for seven days and &pound;45 for an annual membership.&nbsp;The first 30 minutes of any journey is free. For more information on <a href="http://www.tfl.gov.uk/barclayscyclehire">how to become a member </a>of Barclays Cycle Hire and advice on how to use the scheme go to the Transport for London (TfL's) website </li>
<li>The cycle hire scheme accepts Visa and Mastercard credit card and Visa debit/Electron. The scheme doesn't accept Maestro, Amex, JCB or Diners </li>
<li>Examples of journeys that can be carried out within thirty minutes, taken from TfL's cycling Journey Planner, include: 
<ul>
<li>Regent's Park to Notting Hill Gate (25 minutes) </li>
<li>London Bridge to Hyde Park (27 minutes) </li>
<li>Tower Hill to Bond Street (23 minutes) </li>
<li>Regent's Park to Westminster Abbey (16 minutes) </li>
<li>The British Museum to Green Park (15 minutes) </li>
<li>Old Spitalfields Market to Speaker's Corner (27 minutes) </li>
<li>High Street Kensington to Leicester Square (19 minutes)&nbsp;</li></ul></li>
<li>Members of the scheme must be at least 18 years old, and you need to be at least 14 years old to use the scheme </li>
<li>Barclays Cycle Hire, which is operated by Serco Limited on behalf of TfL, is the most sustainable and environmentally friendly form of public transport ever seen in the Capital&nbsp;</li>
<li>Barclays Cycle Hire and Barclays Cycle Superhighways are building on the massive 117 per cent growth in cycle journeys on London's major roads since TfL was created in 2000</li>
<li>Barclays Cycle Hire operates across central London. Docking stations and hire bicycles are available in Camden, City of London, Hackney, Islington, Lambeth, Kensington &amp; Chelsea, Southwark, Tower Hamlets, Westminster and several of the Royal Parks<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Work began today on a 124-space 'super' cycle hire docking station close to the main entrance of Waterloo station. The new station will be the biggest yet for the Mayor's flagship Barclays Cycle Hire scheme, which now has more than 100,000 members. Over";}
        
        


 