


@{ViewBag.Title = "A new platform signals all change at Stratford ahead of 2012 ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>A new platform signals all change at Stratford ahead of 2012 </h1>
        <div class="content-page-press-release">
        03 September 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new platform at Stratford Regional station will help keep passengers moving during the London 2012 Olympic and Paralympic Games.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is yet another example of the Olympics delivering a lasting legacy for Londoners"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor's Transport Adviser</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is yet another example of the Olympics delivering a lasting legacy for Londoners
                            
                        </p>
                    </div>
                
            
            
            <p>The addition, which will open on Sunday 5 September, will mean passengers can alight on both sides. </p>
<p>The Central line platform, funded by the Olympic Delivery Authority (ODA), will allow customers to change more easily and help reduce delays and congestion at the station before, during and after the London 2012 Olympic and Paralympic Games. </p>
<p>Until yesterday, the station had one 'island' westbound platform - shared with National Rail services to Liverpool Street - which was very busy during peak times. </p>
<p>The new platform will mean that westbound train doors can now open on both sides of the carriage for passengers to use the right hand side to change for rail services and the left for the Jubilee line, Docklands Light Railway (DLR) or to leave the station. </p>
<p>It is expected that 120,000 people are expected to use Stratford Regional station at peak times during the Games. </p>
<h2>A legacy for Londoners</h2>
<p>Kulveer Ranger, the Mayor's Transport Adviser, said: 'This is yet another example of the Olympics delivering a lasting legacy for Londoners and it is improvements such as this to Stratford which will help keep the capital moving during the Games. </p>
<p>'We are expecting visitors from every corner of the world during that time and these improvements we are making will help those people get around to see the city and see the Games.'</p>
<p>Richard Parry, Strategy and Commercial Director for London Underground, said: 'Stratford station will be a major gateway for the London 2012 Olympic and Paralympic Games. </p>
<p>'The design of this new Central line platform will make it easier for customers to change onto other lines or leave this busy station more quickly now and during the London 2012 Games.'</p>
<p>Hugh Sumner, Director of Transport for the ODA, said: 'Capacity at Stratford Regional is being trebled to accommodate upwards of 100,000 people during Games-time peaks. </p>
<p>'Having doors opening on both sides on the Central line is one way we are achieving this. </p>
<p>'Overall, around &pound;6.5bn is being invested in transport connected with the Games, which will help create a successful transport legacy for years to come.'</p>
<p>The ODA and Transport for London&nbsp; (TfL) have invested more than &pound;325m into improving transport to Stratford ahead of the London 2012 Games, with &pound;200m alone being contributed to Stratford Regional station.</p>
<p>This includes the delivery of the following projects: the completion of Stratford International station; three-car trains on the DLR, plus the extension from Canning Town to Stratford International; the introduction of the high speed Javelin service; two new London Overground platforms and the opening of the new East London route; King's Cross northern ticket hall for access to Eurostar and mainline services; improved walking facilities and cycling services, plus better river transport facilities.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>London Underground&nbsp;is undertaking a major programme of renewal as part of TfL's Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to <a href="http://www.tfl.gov.uk/check">'check before they travel' </a>at weekends, allowing extra journey time where necessary</li>
<li>London Overground services were launched on 11 November 2007, after TfL took control of services formally operated by Silverlink Metro. London Overground includes the extended East London line. The section of the line from Dalston Junction&nbsp;to New Cross Gate opened on 27 April 2010 ahead of schedule. The full line between Dalston Junction and West Croydon opened on Sunday 23 May 2010 ahead of schedule</li>
<li>TfL took responsibility for managing London Overground in November 2007. Over &pound;1.4bn is being invested in upgrading and extending this network</li>
<li>London Tramlink was acquired by TfL in June 2008</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The addition, which will open on Sunday 5 September, will mean passengers can alight on both sides. The Central line platform, funded by the Olympic Delivery Authority (ODA), will allow customers to change more easily and help reduce delays and congestion";}
        
        


 