


@{ViewBag.Title = "As starting cannon fires London River Services gets ready for The Great River Race";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>As starting cannon fires London River Services gets ready for The Great River Race</h1>
        <div class="content-page-press-release">
        20 September 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This Saturday, 25 September, sees the starting cannon fire on The Great River Race.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London River Services have ensured River Bus and River Tours service disruptions are kept to a minimum and the Port of London Authority will do their part to ensure safe passage of competitors"</div>
        <div class="quote-footer">
            <div class="quotee-name">Andy Griffiths</div>
            <div class="quotee-job-title">Head of London River Services</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London River Services have ensured River Bus and River Tours service disruptions are kept to a minimum and the Port of London Authority will do their part to ensure safe passage of competitors
                            
                        </p>
                    </div>
                
            
            
            <p>This spectacular 22-mile boat race starts at 12:15 from London Docklands heading upriver to Ham in Richmond.&nbsp; </p>
<p>This 'London River Marathon' attracts around 300 crews from all over the world, appealing to everyone from novices competing for fun, and often charity, to the more competitive and serious sports men and women there to win.</p>
<p>River boat services will be operating as normal on the day apart from between 12:50 and 14:15 when there will be phased closures of Tower Millennium, Embankment and Westminster Millennium piers to allow the race to pass safely.</p>
<p>London Bridge City, Bankside, Festival and London Eye piers may also be affected due to the closure of other piers. </p>
<p>While riverside why not make the most of London's River Bus and River Tours services?</p>
<p>There are regular services available providing picturesque journeys along the river, passing the London Eye, Shakespeare's Globe Theatre and the Tower of London along the way.&nbsp; </p>
<p>Furthermore, passengers with a valid Travelcard, or an Oyster card loaded with a valid Travelcard, can get a third off single fares on most scheduled services.&nbsp; </p>
<p>On Thames Clippers, Oyster pay as you go passengers can get a 10 per cent discount off the standard adult fare.</p>
<p>Andy Griffiths, Head of London River Services, said: 'The Great River Race will be enjoyed by both competitors and spectators alike this weekend.&nbsp; </p>

<p>London River Services have ensured River Bus and River Tours service disruptions are kept to a minimum and the Port of London Authority will do their part to ensure safe passage of competitors.</p>
<p>'With a whole host of activities on the river there is never a better time to stay a while and enjoy London from a different angle on a scheduled River Bus or River Tours service. </p>
<p>'With a range of discounts available and improvements to passenger information it has never been easier to make the most of the world famous Thames.'</p>
<p>For more information about London's river services, visit <a href="http://www.tfl.gov.uk/river">www.tfl.gov.uk/river</a> </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>London River Services owns and operates eight piers on the river: Westminster Millennium, Festival, Embankment, Millbank Millennium, Blackfriars Millennium, Bankside, Tower Millennium and Greenwich </li>
<li>People wishing to travel on the river can benefit from a third off the normal advertised adult and child fares on most services if they produce a valid Travelcard or Oyster card loaded with a valid Travelcard when purchasing a ticket. Pay as you go Oyster cards are accepted on Thames Clippers services and passengers can get a ten per cent discount on adult fares </li>
<li>All London River Services piers are accessible and step-free at all states of the tide, allowing easy access for mobility impaired passengers.&nbsp;Most river boats are accessible - passengers should contact boat operators for comprehensive accessibility information when planning their journeys</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This spectacular 22-mile boat race starts at 12:15 from London Docklands heading upriver to Ham in Richmond.&nbsp; This 'London River Marathon' attracts around 300 crews from all over the world, appealing to everyone from novices competing for fun, and";}
        
        


 