


@{ViewBag.Title = "Barclays Cycle Hire collaborates with designer Jean-Pierre Braganza for London Fashion Week";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Barclays Cycle Hire collaborates with designer Jean-Pierre Braganza for London Fashion Week</h1>
        <div class="content-page-press-release">
        16 September 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Limited edition print designed exclusively for London Fashion Week features on a select number of Mayor of London's flagship cycle hire bikes.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London is known around the globe for its fashion and transport icons, from famous red buses on our streets to Kate Moss on our catwalks
                            
                        </p>
                    </div>
                
            
            
            <p>London's most fashionable form of public transport, Barclays Cycle Hire, and innovative fashion designer Jean-Pierre Braganza have joined forces for London Fashion Week to create a limited edition bike to be launched at the designer's SS11 catwalk show tomorrow - the opening day of London Fashion Week.</p>
<p>Jean-Pierre Braganza, who was born in Canada and is based in London, has designed a limited edition print exclusively for London Fashion Week, which will feature on a select number of the Mayor's flagship Barclays Cycle Hire bikes at his catwalk show. </p>
<p>The bikes will also be available for members of the scheme to use during London Fashion Week from 17 to 24 September.&nbsp; </p>
<h2>Stylish accessory</h2>
<p>More than 500,000 journeys were made on Barclays Cycle Hire bikes in the first six weeks of the Mayor and Transport for London's (TfL) brand new public transport system.</p>
<p>The popularity of the scheme means that around 18,500 journeys are now being made every weekday by Barclays Cycle Hire bikes, despite the system currently being available to members only. </p>
<p>Boris Johnson, Mayor of London, said: 'London is known around the globe for its fashion and transport icons, from famous red buses on our streets to Kate Moss on our catwalks. </p>
<p>'I am delighted our newest transport icon, the Barclays Cycle Hire bicycles have managed to transcend the world of transport, and due to this fabulous tie up, can now be considered the most stylish accessory to use to get around town - for this and any other season.' </p>
<h2>Travel inspiration</h2>
<p>Jean-Pierre Braganza, comments: 'I'm genuinely excited to be part of this initiative. As a very keen cyclist in London, Barclays Cycle Hire offers the freedom to explore the city worry-free. </p>
<p>'By customising a bike for London Fashion Week I hope to indicate the inspiration travel has provided in my work, and highlight that everyone can, and should, explore and discover our city.' </p>
<p>Deanna Oppenheimer, CEO UK Retail Bank and Vice-Chair Global Retail Bank, at Barclays, said: 'Barclays Cycle Hire is a new, innovative and bold scheme for the people of London, so is very much aligned with the core values of fashion. </p>
<p>'The opportunity to work with Jean-Pierre allows us to continue to promote Barclays Cycle Hire as an iconic and groundbreaking initiative which has changed the face of London. </p>

<p>'We're looking forward to the fashion community embracing the scheme later this month.'<br></p>
<p><strong>
<hr>
Notes to editors </strong>
<p><strong></strong>
<ul>
<li>Jean-Pierre Braganza will showcase his highly anticipated Spring Summer 2011 collection ' I n c e n d I a t I' on Friday 17 September 2010 at 11:30 at ON|OFF, Victoria House, 37- 63 Bloomsbury Square, London, WC1B 4DA </li>
<li>Unveiling his catwalk show on the opening day of London Fashion Week, Jean-Pierre will express his affection and creative inspiration for the show, with a limited edition print for a select number of bikes which offer the perfect visual canvas for Braganza's bold and graphic prints </li>
<li>The creation of an easy to use cycle hire system was a key pledge of the Mayor's manifesto. Barclays Cycle Hire is now transforming the way that people make short trips around central London </li>
<li>A membership key costs &pound;3. Members must pay an access fee to use the scheme which is &pound;1 for 24 hours, &pound;5 for seven days or &pound;45 for a year. The first 30 minutes of any journey are free from usage charges. Currently, those wishing to use the scheme need to register as a member by visiting: <a href="http://www.tfl.gov.uk/barclayscyclehire">www.tfl.gov.uk/barclayscyclehire</a> </li>
<li>Examples of journeys that can be carried out within thirty minutes, taken from TfL's cycling Journey Planner, include:&nbsp;<br>-&nbsp;The Regent's Park to Notting Hill Gate (25 minutes)&nbsp;<br>-&nbsp;London Bridge to Hyde Park (27 minutes)<br>-&nbsp;Tower Hill to Bond Street (23 minutes)&nbsp;<br>-&nbsp;Regent's Park to Westminster Abbey (16 minutes)&nbsp;<br>-&nbsp;The British Museum to Green Park (15 minutes)&nbsp;<br>-&nbsp;Old Spitalfields Market to Speaker's Corner (27 minutes) <br>- High Street Kensington to Leicester Square (19 minutes) </li>
<li>Members of the scheme must be at least 18 years old, and you need to be at least 14 years old to use the scheme </li>
<li>Barclays Cycle Hire, which is operated by Serco Limited on behalf of TfL, is the most sustainable and environmentally friendly form of public transport ever seen in the Capital </li>
<li>Barclays Cycle Hire and Barclays Cycle Superhighways are building on the massive 117 per cent growth in cycle journeys on London's major roads since TfL was created in 2000 </li>
<li>Barclays Cycle Hire operates across central London. Docking stations and hire bicycles are available in Camden, City of London, Hackney, Islington, Lambeth, Kensington &amp; Chelsea, Southwark, Tower Hamlets, Westminster and several of the Royal Parks<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London's most fashionable form of public transport, Barclays Cycle Hire, and innovative fashion designer Jean-Pierre Braganza have joined forces for London Fashion Week to create a limited edition bike to be launched at the designer's SS11 catwalk show";}
        
        


 