


@{ViewBag.Title = "Celebrate London's walking weekend with more than 50 free Autumn Ambles to choose from";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Celebrate London's walking weekend with more than 50 free Autumn Ambles to choose from</h1>
        <div class="content-page-press-release">
        21 September 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The 54 walks will be led by trained guides and are designed to take in the sights and sounds that make London a great city.
        
    </div>



 <div class="on-this-page">
<p>The walking weekend takes place on Saturday 25 and Sunday 26 September.&nbsp;</p>
<p>Discover walks around the Olympic Park - sample one of seven routes that lead towards the home of the 2012 Games 
<hr>
Londoners and visitors to the Capital are being urged to put their best foot forward and take part in a series of led walks that feature in Transport for London's (TfL's) and Walk London's forthcoming Autumn Ambles weekend. 
<p>

<p>The free guided walks take in the sights and sounds that make London such a vibrant world city. </p>
<p>Autumn Ambles are one of three annual guided walking weekends organised by Walk London and supported by TfL. </p>
<p>The 54 led walks cover seven different routes along the Mayor's Strategic Walk Network for London, connecting some of London's best attractions, parks, rivers, canals and open spaces.</p>
<p>With the London 2012 Olympic and Paralympic Games around the corner, one of the Autumn Ambles routes has a special focus on east London and along the routes that lead towards the Olympic Park. </p>
<p>The Jubilee Greenway links the Games venues with parks, waterways and great attractions. </p>
<p>Seven of the walks this weekend are flagged as 'walking towards the games' and show how easy it will be to walk to the Olympic site.</p>
<p>The Mayor of London, Boris Johnson said: 'So much of our great Capital can best be discovered by walking and I urge Londoners to put some time aside this weekend for a stroll. </p>
<p>'The Autumn Ambles offer a superb opportunity to savour some of London's hidden gems as well as its more famous attractions. </p>
<p>'With just two years until the Games it is also a great time to try out some of the walks leading to the Olympic Park.'</p>
<p>This weekend's Autumn Ambles will cover a range of areas including:</p>
<ul>
<li>Capital Ring Walk - threading together parks and opens spaces with pleasant residential roads. Fifteen easily walked sections divide 78 miles of open spaces - some of the attractions on this route include Etham Palace, Richmond Park, Wimbledon Common, the Olympic Park and the Thames Barrier </li>
<li>Green Chain Walk - 50 miles of parks and open spaces that include&nbsp;the Severndroog Castle, Crystal Palace Park and Oxleas Woods </li>
<li>Jubilee Walkway - designed to connect London's key attractions it connects all the city's most famous sights including Buckingham Palace, Trafalgar Square, Tower of London, Tower Bridge and St Paul's Cathedral </li>
<li>Lea Valley Walk - 50 miles of towpath walking including Canary Wharf, Tottenham Marshes, Enfield Lock and Waltham Abbey </li>
<li>London Outer Orbital Path (LOOP) - 152 miles of&nbsp; parks and paddocks including Hall Place, Wilberforce memorial and Kenley Aerodrome </li>
<li>Thames Path - 40 miles of level walks from Hampton Court Place, through the heart of London to Erith Marshes. Sights include Houses of Parliament, Albert Bridge, Syon Park and Kew Gardens </li>
<li>The Jubilee Greenway - linking 2012 Games venues with parks, waterways and great attractions. Thirty-seven miles will take you past the 02 Arena, Greenwich Park, Horse Guards Parade, Hyde Park and Regents Park, among many other spectacular places</li></ul>
<p>Ben Plowden, Director of Better Routes and Places at TfL, said: 'London is a great city for walking. </p>

<p>'Autumn Ambles show that walking is a wonderful recreational pursuit and can be a practical solution when it comes to getting to work or school. </p>
<p>'The Autumn Ambles are one way in which TfL is supporting the National Day of Walking on Sunday, 26 September 2010 in London.'</p>
<p>Jim Walker, Walk London Chair, said: 'On the walks this autumn, the expert guides will introduce you to the fascinating detail that makes up this great city - share their stories, meet like-minded people and feel so much better by having London under your feet whilst improving your physical health.'</p>
<p>There is something for everyone and lots for all to enjoy. </p>

<p><a href="http://www.walklondon.org.uk/">Find out more </a>about the walks and download free maps and directions.</p>

<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Autumn Ambles are held on the last weekend in September of each year, and form one of three annual guided walking weekends managed by Walk London. The other two guided walking events are Winter Wanders (January) and Spring into Summer (May) </li>
<li>Over 8,000 people have attended Walk London's walking weekends since November 2007 </li>
<li>Autumn Ambles are one of TfL's contributions to the national Walk4Life campaign to get more people walking this year </li>
<li>London's Strategic Walk Network is made up of seven long-distance routes laid out in easily manageable sections: London Loop (24 sections, 152 miles in total), Capital Ring (15 sections, 78 miles&nbsp;in total), Lea Valley (six sections, 18 miles&nbsp;in total), Thames Path (four&nbsp;sections, 40 miles in total), Green Chain (11 sections, 50 miles&nbsp;in total), Jubilee Walkway (five sections, 15 miles in total), Jubilee Greenway (10 sections, 37 miles in total) </li>
<li>With 2012 around the corner, this year Walk London has seven routes with a special focus on 'walking towards the games' and the 2012 Games venues</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The walking weekend takes place on Saturday 25 and Sunday 26 September.&nbsp;Discover walks around the Olympic Park - sample one of seven routes that lead towards the home of the 2012 Games Londoners and visitors to the Capital are being urged to put";}
        
        


 