


@{ViewBag.Title = "Consultation commences to re-shape Tube Lines for the future";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Consultation commences to re-shape Tube Lines for the future</h1>
        <div class="content-page-press-release">
        15 September 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Tube Lines, the maintenance firm acquired by TfL in June 2010, has today commenced a consultation with staff and unions over improving efficiency and delivering greater value for fare and tax payer money.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The acquisition of Tube Lines has given TfL greater flexibility to manage the vital programme of Tube upgrades, saving millions of pounds for London's fare and tax payers
                            
                        </p>
                    </div>
                
            
            
            <p>Under the Public Private Partnership (PPP) arrangements, Tube Lines was responsible for the upgrade and maintenance of the Jubilee, Northern and Piccadilly lines.&nbsp;</p>
<p>It was acquired by TfL to enable these vital upgrades to be delivered in a way that minimises disruption to passengers and businesses and which delivers greater value for money.&nbsp;</p>
<h2>Value for money</h2>
<p>Consultation with staff and trade unions commenced today on proposals drawn up by new CEO Andie Harper following the acquisition. </p>
<p>These include the potential for a reduction of around 250 mainly managerial, clerical and professional roles as the company adjusts its activities in the light of its acquisition by TfL. This includes ending duplication of roles with TfL. </p>
<p>Tube Lines would in the first instance look to achieve any such reductions through removing temporary roles and through voluntary redundancy.<br>&nbsp; <br>Following TfL's acquisition of Tube Lines, an urgent review of the PPP upgrades is also now underway, with the aim of delivering the Tube improvements that London and the wider UK economy needs at the best possible value for money, and with the minimum of disruption for Londoners and for businesses.</p>
<p>The first priority is the completion of the Jubilee line upgrade, delivering more frequent and reliable trains, as soon as possible. </p>
<h2>Saving millions of pounds</h2>
<p>London Underground and Tube Lines are currently reviewing how best to deliver the Northern and Piccadilly line upgrades, and are looking at how synergies can be achieved alongside the existing upgrade programmes for the Victoria and Sub-Surface lines (Circle, District, Hammersmith &amp; City and Metropolitan).</p>
<p>Andie Harper, CEO of Tube Lines, said:&nbsp;'The acquisition of Tube Lines has given TfL greater flexibility to manage the vital programme of Tube upgrades, saving millions of pounds for London's fare and tax payers. </p>
<p>'We are now beginning a consultation with staff and unions on the future shape of Tube Lines in the light of that acquisition.'</p>
<p>'This includes the potential for a reduction in staff numbers as Tube Lines adjusts its activities.&nbsp;</p>
<p>'We would in the first instance look to achieve any reductions through removing temporary roles and through voluntary redundancy.'</p>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Under the Public Private Partnership (PPP) arrangements, Tube Lines was responsible for the upgrade and maintenance of the Jubilee, Northern and Piccadilly lines.&nbsp;It was acquired by TfL to enable these vital upgrades to be delivered in a way that";}
        
        


 