


@{ViewBag.Title = "Final leg of London Overground's multi-million pound upgrade to be completed";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Final leg of London Overground's multi-million pound upgrade to be completed</h1>
        <div class="content-page-press-release">
        17 September 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) and Network Rail (NR) today announced the final phases of re-signalling work on the London Overground network.
        
    </div>



 <div class="on-this-page">
<p>The work is part of a multi-million pound upgrade project to increase capacity on London Overground services due to be delivered by May 2011.</p>
<p>In order to complete the work some closures are required. </p>
<p>They will be:</p>
<ul>
<li>Gospel Oak to Stratford&nbsp; from the evening of&nbsp;18 December until 24 December 2010</li>
<li>Richmond to Stratford and Shepherd's Bush to Willesden Junction from 27 December 2010 until 3 January 2011</li>
<li>Further shorter closures during spring 2011 to complete the works by next May, the dates of these will be confirmed closer to the time</li>
<li>Works requiring weekend-only closures will carry on until mid-2011</li></ul>
<p>To minimise inconvenience during these times TfL will provide a rail replacement service on the closed sections of the network. </p>
<p>Passengers will also be able to travel at no extra cost by Tube or National Rail through zone one, providing they travel from a Tube or National Rail station near their usual London Overground station (conditions apply).</p>
<h2>More capacity</h2>
<p>The upgrade work involves the testing and commissioning of the signalling systems that were installed in early 2010, the installation of further signalling, and completing the refurbishment of several stations. </p>
<p>When the complete upgrade is finished in mid-2011, London Overground will run more frequent services with longer trains providing greater capacity. </p>
<p>Services from Richmond and Clapham Junction to Stratford will run four times per hour, all day every day. </p>
<p>There will be six trains per hour between Willesden Junction and Camden Road, and eight trains per hour between Camden Road and Stratford. </p>
<p>Kulveer Ranger, the Mayor of London's Ttransport Advisor, said: 'This work is part of the vital investment we are making in the Capital's transport network, which in turn will support economic growth across the whole of the UK.&nbsp; </p>
<p>'One of the Mayor's key priorities is to maintain and improve London's transport services and continue to improve what it feels like to live in and move around London.'</p>
<p>Ian Brown, the Managing Director of TfL London Rail, said: 'The benefits to passengers of the first phase of this massive upgrade are already being seen with the introduction of longer trains this month. </p>
<p>'The next closures will be much shorter in duration and we are doing all we can to minimise the disruption caused. </p>
<h2>Essential works</h2>
<p>'These are essential works that will help us unlock the true potential of the London Overground network, which is to offer a far more frequent metro-style turn up and go service.</p>
<p>'We are closing these sections of the network because of the nature of the work. </p>
<p>'It is complex and requires close liaison with several other organisations. </p>
<p>'If we were to restrict the work to weekends and then have to restore the railway to working order each Monday morning, the disruption would be over a much longer period.'</p>
<p>Andrew Munden, Network Rail Route Director, said: 'London relies on rail to get more than a million people to and from work every day, which is why investment in projects like the London Overground upgrade is so important to the Capital's economy. </p>
<p>'This project will provide vital additional capacity in time for the Olympic Games and help meet growing demand on this busy commuter line, supporting economic growth across vast swathes of London.'</p>
<p>The improvement work is part of an upgrade that will see more than 200 signals, seven kilometres of track and 69 sets of points improved, and 30 station platforms lengthened. </p>
<p>Passengers are being urged to always check before they travel during the closure and to take, if at all possible, alternative transport such as Tubes and replacement buses.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Passengers who are considering buying a ticket valid beyond 18 December should&nbsp; speak to a member of staff or contact London Overground's customer services team for travel advice taking into account the closures</li>
<li>Work to date has already delivered 1,102 metres of extra station platform at 17 stations on what was the North London Line, a new bridge deck at Camley Street rail bridge, over 6kms of track renewed between Camden Road and Dalston Kingsland stations during the closure earlier this year, 11 new sets of switches and over 100kms of new signalling cable installed</li>
<li>Much work in support of this has also been undertaken including the replacement of Victorian drainage systems, retaining walls and the removal of large amounts of soil</li>
<li>There will be no service on the whole London Overground network on Christmas Day&nbsp;and Boxing Day -&nbsp;25 and 26 December 2010</li>
<li>TfL customer advice teams will be holding a series of information sessions at most stations on the London Overground network from October to provide information and travel advice about the planned closures</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The work is part of a multi-million pound upgrade project to increase capacity on London Overground services due to be delivered by May 2011.In order to complete the work some closures are required. They will be:Gospel Oak to Stratford&nbsp; from the";}
        
        


 