


@{ViewBag.Title = "Final stage of world-class Tour of Britain cycle race to take place in London this weekend";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Final stage of world-class Tour of Britain cycle race to take place in London this weekend</h1>
        <div class="content-page-press-release">
        15 September 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This weekend sees the East End host the final stage of the UK's biggest professional cycle race, the Tour of Britain.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Events like the Tour of Britain, which showcase the excitement and exhilaration of top-level cycling will, I hope, inspire more Londoners to get involved and integrate cycling into their everyday lives"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Events like the Tour of Britain, which showcase the excitement and exhilaration of top-level cycling will, I hope, inspire more Londoners to get involved and integrate cycling into their everyday lives
                            
                        </p>
                    </div>
                
            
            
            <p>On Saturday 18 September, 96 professional cyclists, including Olympians Bradley Wiggins and Geraint Thomas, will race for a total of 100km on a 10km circuit around the Royal Docks in Newham, an Olympic host borough. </p>
<p>The Transport for London (TfL) stage of the eight day race will start and finish on Royal Albert Way. </p>
<p>The circuit will take the riders past the end of the runway at London City Airport and the Thames Barrier Park, alongside the Docklands Light Railway and the Royal Victoria Dock. </p>
<p>It will then pass through Royal Victoria Square and past the ExCel Centre as well as the Docklands Campus of The University of East London. </p>
<h2>Thousands of spectators</h2>
<p>This is the seventh time that Transport for London (TfL) has brought the Tour of Britain to the Capital. </p>
<p>The world-class sporting spectacle, which regularly attracts Olympic, World and Commonwealth cycling champions, will also finish in London next year. <br>&nbsp;<br>Last year, the final stage of the Tour attracted 150,000 spectators to the Capital's streets. </p>
<p>To facilitate the Tour, roads will be closed in the Newham area on Saturday 18 September to make way for the thousands of spectators and cyclists expected to watch the Tour of Britain finale. </p>
<p>A number of bus routes will also be placed on diversion. </p>
<h2>Top-level cycling</h2>
<p>Boris Johnson, Mayor of London, said: 'More and more people are discovering the benefits of travelling on two wheels, helped by the successful launch of our flagship cycle hire scheme and the Cycle Superhighways this summer which has transformed the streets and roads of London. </p>
<p>'Events like the Tour of Britain which showcase the excitement and exhilaration of top-level cycling will, I hope, inspire more Londoners to get involved and integrate cycling into their everyday lives.'<br>&nbsp;<br>David Brown, Managing Director of Surface Transport at TfL, said: 'The Tour of Britain is the most prestigious cycling sport event in the UK and its conclusion in London is a fitting end to London's remarkable summer of cycling. </p>
<p>'More Londoners than ever are taking to cycling, whether it be for sport or for their daily commute, and with the introduction this summer of Barclays Cycle Hire and Barclays Cycle Superhighways, London really is on its way to becoming a cyclised city.'<br>&nbsp;<br><br><strong>
<hr>
Notes to editors</strong></p><strong></strong>
<ul>
<li>The Tour of Britain is the UK's largest professional cycling race and biggest free-to-attend live sporting event in the country </li>
<li>The 2010 edition of the race will run for eight days from Saturday 11 September until Saturday 18 September </li>
<li>The number of cycle journeys made in London has increased by 117 per cent since 2000 - around half a million cycle journeys are now made on London's major roads every day </li>
<li>For more information about the Tour of Britain, including this year's route, visit <a href="http://www.tourofbritain.co.uk">www.tourofbritain.co.uk</a> </li>
<li>More information about cycling in London can be found at <a href="http://www.tfl.gov.uk/cycling">www.tfl.gov.uk/cycling</a> </li>
<li>The following roads will be closed on Saturday 18 September:<br><strong>Full Closure</strong><br>0400 - 2000 Royal Albert Way from Connaught Bridge to Gallions Reach<br><strong>Roundabout<br></strong>04:00 - 20:00 Dockside Road<br>09:00 - 16:00 Victoria Dock Road from Prince Regent Lane to Connaught Bridge<br>09:00 - 16:00 Connaught Bridge<br>09:00 - 16:00 North Woolwich Road West Bound only<br>13:00 - 16:00 North Woolwich Road East and West Bound<br>09:00 - 16:00 Tidal Basin Road<br>09:00 - 16:00 Western Gateway and ExCeL Waterfront<br>09:00 - 16:00 Dock Road<br>09:00 - 16:00 Lower Lea Crossing </li>
<li>The following bus routes will diverted/curtailed on Saturday 18 September:<br>300, 473, 474, 101, 262, 366, 101, 262, 366 </li>
<li>The Jubilee line in the race area is open this weekend, closed only from Stanmore to West Hampstead. For more information visit <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "On Saturday 18 September, 96 professional cyclists, including Olympians Bradley Wiggins and Geraint Thomas, will race for a total of 100km on a 10km circuit around the Royal Docks in Newham, an Olympic host borough. The Transport for London (TfL) stage of";}
        
        


 