


@{ViewBag.Title = "Four-car trains complete London Overground's electric train fleet";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Four-car trains complete London Overground's electric train fleet</h1>
        <div class="content-page-press-release">
        15 September 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passengers are now enjoying the benefits of track and station upgrades with the introduction of the final four-carriage trains in London Overground's fleet of electric trains.
        
    </div>



 <div class="on-this-page">
<p>The extra carriages are being added to 20 trains on the Clapham Junction to Stratford and Richmond to Stratford routes and will increase the capacity of the Class 378 electric trains by one third. It has been made possible by recent platform lengthening works as part of a &pound;326 million upgrade project. </p>
<p>Kulveer Ranger, the Mayor's transport adviser, said: 'This is yet another example of the Mayor's successful delivery of crucial investment in the transport infrastructure in this city. </p>
<p>Despite tough financial times we will continue to work hard to keep London moving which is vital for the economy of the country as a whole.'</p>
<p>The Managing Director of TfL London Rail, Ian Brown, said: 'Passengers will notice the immediate benefit of these longer trains which greatly increase capacity. </p>
<p>'London Overground can deliver these benefits now because of the upgrade work carried out earlier this year and I thank our passengers for their patience during that time.</p>
<p>'We created London Overground only a little under three years ago and after a tremendous amount of work, I'm very pleased to see the benefits of our upgrade programme now starting to flow.'</p>
<p>Four-car electric trains are already running on London Overground's Watford to Euston route and the East London Dalston to Croydon route which was opened in May.<br></p><strong>
<p>
<hr>
</p>
<p>Notes to editors: </p>
<ul>
<li></li></ul></strong>By May next year when the upgrade is complete, London Overground intends to run the following services:&nbsp;<br>-&nbsp;Eight trains per hour, Stratford to Camden Road in the peak; six train per hour in off peak&nbsp;<br>-&nbsp;Six trains per hour all day Camden Road to Willesden Junction with four trains per Richmond to Clapham Junction and two trains per hour Willesden Junction to Clapham Junction&nbsp;<br>-&nbsp;Two trains per hour Clapham Junction to Willesden Junction and two trains per hour Clapham Junction to Camden Road 
<li>On the Gospel Oak to Barking London Overground route, two-carriage Class 172 diesel trains are being introduced. By January next year, these will provide a four trains per hour service all day Monday to Saturday and a two trains per hour service all day on Sundays.</li>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The extra carriages are being added to 20 trains on the Clapham Junction to Stratford and Richmond to Stratford routes and will increase the capacity of the Class 378 electric trains by one third. It has been made possible by recent platform lengthening";}
        
        


 