


@{ViewBag.Title = "Is your Zip Oyster photocard or free bus and tram travel about to expire?";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Is your Zip Oyster photocard or free bus and tram travel about to expire?</h1>
        <div class="content-page-press-release">
        09 September 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        All 16 to 18-year-olds whose Zip Oyster photocards run out on 30 September are reminded that they need to reapply by 13 September to ensure they continue to get their free or discounted travel concession.
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) is reminding young people to make sure that they have a valid Zip Oyster photocard in order to make the most of the travel benefits available.</p>
<p>The Zip scheme gives eligible 16- to 18-year-olds free or concessionary travel on London's buses and trams. </p>
<p>These travel concessions are only available with a Zip Oyster photocard.</p>
<p>Any 16-year-olds starting sixth form, college or training will need to apply for a 16+ Oyster photocard before their previous 11-15 Zip Oyster photocard expires. </p>
<p>Current 16+ Oyster photocard holders who are eligible for free travel will need to renew their application for the new academic year. </p>
<p>Both groups should apply by 13 September to ensure they receive a new card before their current one expires on 30 September. </p>
<h2>Make the best of travel benefits</h2>
<p>Nineteen-year-olds who turned 18 prior to 31 August, live in Greater London and are in sixth form, college or training, are eligible for the 16+ concession.</p>
<p>Sixteen to 17-year-olds who are not eligible for the free bus and tram concession, can apply for a 16+ Zip Oyster photocard allowing them to travel at half adult-rate on London's buses and trams.</p>
<p>Photocard application forms are available from post offices within Greater London. </p>
<p>Applications may take up to two weeks to process and proof of application will not be accepted by bus drivers as a valid ticket for travel. </p>
<p>Kulveer Ranger, the Mayor's Transport Adviser, said: 'The Zip Oyster photocard is an essential addition to any teenager's wallet this autumn. </p>
<p>'I urge young people and their parents to make sure they apply for an updated card so they can get around the city without worrying about denting their pocket.'</p>
<h2>Explore the city</h2>
<p>Steve Burton, TfL's Director of Community Safety, Enforcement and Policing, said: 'The Zip photocard scheme not only helps to relieve a little of the financial burden from parents shoulders but also allows young people to travel across and explore their city.</p>
<p>'In order to keep this privilege, parents must make sure that their children sign up to the scheme and have the correct card. </p>
<p>'It is then up to young people to follow the Behaviour Code and respect their fellow passengers.'</p>
<p>Applications for 16+ Oyster photocards for the free travel concession for the current academic year will be accepted at post offices until 30 June 2011.</p>
<p>16+ Zip Oyster photocard holders pay half the adult rate when using Oyster pay as you go on the Tube, Docklands Light Railway (DLR)&nbsp;and London Overground. </p>
<p>They pay adult fares on most National Rail services. </p>
<p>They can also buy child-rate 7 Day, monthly and longer period Travelcards. </p>
<p>Further details are available on the <a href="http://www.tfl.gov.uk/zip">TfL website</a>.&nbsp;</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>In July, TfL announced that from 1 September 2010 a non-refundable &pound;10 administration fee will be payable for all new applications for Zip Oyster photocards. The &pound;10 charge has been introduced to contribute to TfL's administration costs of the concessionary schemes, including processing application forms, photocard production and postage</li>
<li>All 16+ Oyster photocard holders can buy 7 Day, monthly or longer period Travelcard and Bus &amp; Tram Pass season tickets at half adult-rate even if they don't qualify for free bus and tram travel</li>
<li>TfL has sent 16+ application forms to existing holders of 16+ Oyster photocards whose cards expire on 30 September 2010. It&nbsp;is also sending out forms to existing holders of 11-15 Zip Oyster photocards whose cards expire on 30 September 2010 and need to upgrade to a 16+ Oyster photocard</li>
<li>As well as free travel on buses and trams, a Zip photocard also gives 11 to 15-year-old Oyster photocard holders child-rate travel on the Tube, DLR, London Overground and National Rail, with a daily off-peak cap of just &pound;1 (Zones 1-9). Under-16s can buy child-rate cash single and day Travelcards without an Oyster photocard. Child-rate pay as you go is cheaper than cash fares</li>
<li>If an Oyster photocard has been lost, stolen or damaged the cardholder will have to reapply to get a replacement and pay a non-refundable fee of &pound;10</li>
<li>Application forms for Zip Oyster photocards can be obtained from post offices in Greater London and some schools and colleges</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) is reminding young people to make sure that they have a valid Zip Oyster photocard in order to make the most of the travel benefits available.The Zip scheme gives eligible 16- to 18-year-olds free or concessionary travel on";}
        
        


 