


@{ViewBag.Title = "It's all hands on deck as London's river services get ready for the Thames Festival";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>It's all hands on deck as London's river services get ready for the Thames Festival</h1>
        <div class="content-page-press-release">
        02 September 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Between 11 and 12 September, London's river services will be providing a frequent service to piers along the South Bank, including London Eye, Bankside, Westminster and London Bridge, to help move visitors to the annual Mayor's Thames Festival.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"With a whole host of activities around the river this weekend for both Londoners and visitors alike, there is never a better time to enjoy the Thames Festival than from a scheduled River Bus or River Tour service"</div>
        <div class="quote-footer">
            <div class="quotee-name">Andy Griffiths</div>
            <div class="quotee-job-title">Head of London River Services</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            With a whole host of activities around the river this weekend for both Londoners and visitors alike, there is never a better time to enjoy the Thames Festival than from a scheduled River Bus or River Tour service
                            
                        </p>
                    </div>
                
            
            
            <p>The festival is a stunning, free celebration of London and its world famous waterway and is a key highlight in the city's cultural calendar.&nbsp;</p>
<p>Activities take place all over the weekend on the River Thames, the riverside, walkways, roads, bridges, docks and open spaces from Westminster Bridge to Tower Bridge and beyond. </p>
<h2>Savings on fares</h2>
<p>To help you make the most of the celebrations London River Services' piers will be operating throughout the weekend, helping to provide fast and picturesque journeys along the river, passing the London Eye, The Royal Festival Hall and Shakespeare's Globe Theatre along the way.&nbsp;</p>
<p>Furthermore, passengers with a valid Travelcard, or an Oyster card loaded with a valid Travelcard, can get a third off single fares on most scheduled services.&nbsp;</p>
<p>On Thames Clippers, Oyster pay as you go passengers can get a 10 per cent discount off the normal adult fare.</p>
<p>London's river services will operate normally throughout the weekend. </p>
<h2>Enjoy the activities</h2>
<p>Andy Griffiths, Head of London River Services, said: 'With a whole host of activities around the river this weekend for both Londoners and visitors alike there is never a better time to enjoy the Thames Festival than from a scheduled River Bus or River Tour service. </p>
<p>'With a range of discounts available and the introduction of clearer passenger information it has never been easier to make the most of the world famous Thames.'</p>
<p>For more information about the event and London's river services, visit <a href="http://www.thamesfestival.org">www.thamesfestival.org</a> and <a href="http://www.tfl.gov.uk/river">www.tfl.gov.uk/river</a> </p>
<p><br>
<hr>
<strong>Notes to editors:</strong></p>
<ul>
<li>London River Services owns and operates eight piers on the river: Westminster Millennium, Festival, Embankment, Millbank Millennium, Blackfriars Millennium, Bankside, Tower Millennium and Greenwich</li>
<li>People wishing to travel on the river can benefit from a third off the normal advertised adult and child fares on most services if they produce a valid Travelcard or Oyster card loaded with a valid Travelcard when purchasing a ticket. Pay as you go Oyster cards are accepted on Thames Clippers services and passengers can get a&nbsp;10 per cent discount on adult fares</li>
<li>All London River Services piers are accessible and step-free at all states of the tide, allowing easy access for mobility impaired passengers.&nbsp;Most river boats are accessible - passengers should contact boat operators for comprehensive accessibility information when planning their journeys<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The festival is a stunning, free celebration of London and its world famous waterway and is a key highlight in the city's cultural calendar.&nbsp;Activities take place all over the weekend on the River Thames, the riverside, walkways, roads, bridges,";}
        
        


 