


@{ViewBag.Title = "Kender Street Triangle to switch to two-way traffic this weekend ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Kender Street Triangle to switch to two-way traffic this weekend </h1>
        <div class="content-page-press-release">
        03 September 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Gyratory system will be removed from 4:00 Sunday 5 September. The Kender Street Triangle will be the third gyratory system to be removed by the Mayor and Transport for London (TfL) in the last two years.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Work on the Kender Street Triangle is making excellent progress"</div>
        <div class="quote-footer">
            <div class="quotee-name">Dana Skelley</div>
            <div class="quotee-job-title">Director of Roads at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Work on the Kender Street Triangle is making excellent progress 
                            
                        </p>
                    </div>
                
            
            
            <p>Traffic flow in south east London is set to become smoother as another gyratory system in London is removed. </p>
<p>The conversion of the Kender Street Triangle in Lewisham back to two-way flow will make it easier for drivers passing through the area and will help to reduce traffic through the residential areas along Kender Street and Besson Street. </p>
<p>The gyratory, a one-way circular road, is being removed as part of the TfL's Kender Street Triangle improvement project and the Mayor's &pound;220m Great Outdoors public realm improvement initiative.</p>
<p>The Kender Street Triangle was identified as one of more than 50 public spaces to benefit from funding through the Mayor's Great Outdoors initiative which is improving streets, parks and squares of all shapes and sizes. </p>
<p>As well as the gyratory removal the Kender Street scheme, which began in February this year, has included improvements to footways, junctions and pedestrian crossings and a new bus and cycle lane which has been installed along Queen's Road. </p>
<p>New Cross Road and Queen's Road will also be resurfaced. </p>
<h2>Streets ahead</h2>
<p>New signs, road markings and advanced warning signs are currently being placed around the Kender Street Triangle to alert road users to the new road layout and to help ensure a smooth transition to the new traffic system. </p>
<p>TfL staff and the police will also be on site on the morning of 5 September to help manage the traffic switch. </p>
<p>Kulveer Ranger, the Mayor's Transport Adviser, said: 'Gyratory systems in London often cause major headaches for drivers across London. </p>
<p>'By removing them at locations where two-way traffic would benefit all road users, we can help improve traffic flow through the area, and provide a better local environment for residents and drivers.'</p>
<p>Dana Skelley, Director of Roads at TfL, said: 'Work on the Kender Street Triangle is making excellent progress and restoring two-way traffic to this area is key to the ongoing regeneration of this area.</p>
<p>'Once this traffic switch is completed, we will finish the work we've already begun on improving the footways in the area, and we expect to have the whole improvement scheme completed by winter.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>TfL is working with Lewisham Council, New Cross Gate New Deal for Communities and Design for London to improve transport and the urban environment in the New Cross area
<li>Skanska Construction UK is carrying out the improvement works on behalf of TfL</li>
<li>Since May 2008, TfL has converted two gyratory systems across London to two-way traffic; the Aldgate Gyratory in September 2008 and the Brixton Hill Gyratory in November 2009</li>
<li>TfL is also planning to begin work on the Tottenham Hale improvement scheme, which will include the removal of the gyratory in the area, in autumn 2012</li>
<li>'<a href="http://www.london.gov.uk/greatoutdoors">London's Great Outdoors </a>- A Manifesto for Public Space' is supported by two practical guides, 'Better Streets' and 'Better Green and Water Spaces'. Together they set out the Mayor of London's vision for improving public spaces in London. This will ensure that our streets, squares, parks and green and water spaces are fit for a great world city, are enjoyed by everyone who visits them and most importantly, help improve the quality of life in the Capital. They are accompanied by an implementation plan that will see &pound;220m invested in over 50 public realm improvement projects over the next three years, funding for which comes from TfL, The London Development Agency (LDA) and London's boroughs as well as other sources. The measures include redesigned streets, which can be shared by both the pedestrians and vehicles and reclaimed derelict green spaces and underused waterways. The manifesto and guides have been written and produced by the Greater London Authority, LDA, Design for London and TfL</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Traffic flow in south east London is set to become smoother as another gyratory system in London is removed. The conversion of the Kender Street Triangle in Lewisham back to two-way flow will make it easier for drivers passing through the area and will";}
        
        


 