


@{ViewBag.Title = "King's Cross St. Pancras Tube station is step-free with 10 new lifts";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>King's Cross St. Pancras Tube station is step-free with 10 new lifts</h1>
        <div class="content-page-press-release">
        27 September 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Redevelopment of the national and international gateway for millions of passengers is now complete with the final lift opening.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This station is a national and international gateway to London for millions of people every year and will be crucial to the 2012 Games, so putting in these 10 lifts is an incredibly valuable piece of work"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's Transport Advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This station is a national and international gateway to London for millions of people every year and will be crucial to the 2012 Games, so putting in these 10 lifts is an incredibly valuable piece of work
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Station has won National Rail Award's Civil Engineering first prize </li></ul>
<p>One of the Capital's oldest and busiest London Underground stations, Kings Cross St. Pancras, is now completely wheelchair accessible from street to all platforms. </p>
<p>The final lift of&nbsp;10 that will ease access to the station's platforms was commissioned today. </p>
<h2>Going step-free</h2>
<p>Providing step-free access to the six lines serving this key Underground station is good news not just for wheelchair users, but parents with buggies, passengers with heavy luggage and also people with dogs, particularly visually impaired people with guide dogs who use the station regularly to get to the Royal National Institute of Blind People's Headquarters nearby.</p>
<p>Kulveer Ranger, the Mayor of London's Transport Advisor, said: 'The Mayor is determined to make London an easier place to get around and anyone with a disability or a child in a buggy will know the challenge that getting to and from platforms can pose. </p>
<p>'This station is a national and international gateway to London for millions of people every year and will be crucial to the 2012 Games, so putting in these&nbsp;10 lifts is an incredibly valuable piece of work.'</p>
<p>King's Cross St. Pancras is the 62nd Tube station in London to become step free, and is part of redevelopment work that quadrupled the size of the station, easing congestion and making journeys much more pleasant for the 300,000 daily passengers. </p>
<p>It is the final part of an &pound;800m redevelopment of King's Cross St. Pancras Tube station, which has just scooped first prize in the 2010 National Rail Award's Civil Engineering Achievement category. </p>
<h2>New ticket hall</h2>
<p>Funded by the Department for Transport (DfT) and delivered by TfL's Investment Programme, it is an early legacy benefit at one of the key London 2012 gateway stations.</p>
<p>More passengers pass through King's Cross St. Pancras every year than Heathrow and by the time the Olympics takes place in 2012 more than 100,000 people will be passing through the station at peak times every day. </p>
<p>The full redevelopment is essential to effectively manage future passenger numbers. </p>
<p>As well as speeding up ticket purchases and Oyster top-ups, the new ticket hall that opened last year has put an end to closures due to overcrowding, and has made travelling easier for people who need step-free access.</p>
<p>Richard Parry, London Underground's Strategy and Commercial Director, said: 'The commissioning of the lift to the Northern line platforms is the final stage of this massive and important project - delivered on time and within budget - and makes King's Cross St. Pancras Underground station wheelchair accessible from street to all platforms.</p>
<p>'This is the latest in a series of accessibility improvements for customers delivered by the TfL Investment Programme with further benefits ahead as new trains with more accessible designs and further major station developments, come on stream over the years ahead.'</p>
<p>The King's Cross St. Pancras redevelopment is just part of TfL's multi-billion pound Investment Programme, which has seen new trains running on the Victoria line and London Overground network, further extension of the DLR, the opening of the London Overground's East London Dalston to Croydon route and the start of Crossrail construction.</p>
<p>&nbsp;</p>
<p>
<hr>
<strong>Notes to editors </strong><strong></strong>
<ul>
<li>Various images of the construction and how the station looked prior to redevelopment works starting are available on request </li>
<li>Approximate total size of station (ticket hall areas)&nbsp;<br>-&nbsp;2000 (Before redevelopment work):&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2000 sq/metres<br>-&nbsp;2006 (Opening of Phase 1):&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4000 sq/metres<br>-&nbsp;2009 (opening of new ticket hall):&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8000 sq/metres </li>
<li>Construction has been underway on the re-development of King's Cross St Pancras Underground station since 2000 </li>
<li>King's Cross St. Pancras is one of the Underground's oldest and busiest stations. During the morning peak 73,000 people pass through King's Cross and this number is forecast to rise to 105,000 during the 2012 Olympics as the station will be a vital transport hub for visitors during the games </li>
<li>The station acts as a major interchange with two national rail stations - St. Pancras and King's Cross and gets heavily congested. In 1996, when the Channel Tunnel Rail Link Act was passed, it was recognised that the station would need to be redeveloped to cater for the large increase in passengers expected from this new high speed rail line </li>
<li>Passengers using the new high speed domestic services to St Pancras International, which commenced on 13 December 2009, will be able to access the Northern Ticket Hall through a new subway link </li>
<li>The estimated construction costs for Phase 1 of the work (Western Ticket Hall, renewal of Tube Ticket Hall) and Phase 2 (Northern Ticket Hall) are &pound;371 million and &pound;395 million respectively. Taking account of other ancillary costs, the total estimated direct costs for the combined Phase 1 and 2 of the King's Cross St Pancras redevelopment project is &pound;810m </li>
<li>These costs were funded by the DfT with a &euro;20m contribution from EU Trans-European Network funding </li>
<li>Works on the new ticket hall were completed by the following contractors: Project Management: Atkins/Balfour Beatty Management Principal contractor: Balfour Beatty Civil Engineering Ltd Tunnelling: Morgan Bemo JV Designer: Arup Architect: Allies and Morrison </li>
<li>The opening of the new ticket hall also marks the first permanent artwork to be installed on the London Underground since the 1980s. Full Circle by Knut Henrik Henriksen and has been specially created for the station. For more information about Art on the Underground's latest installation Full Circle, please call Theresa Simon &amp; Partners on 020 7734 4800 </li>
<li>We are in the middle of a huge investment programme on the Tube network which when complete will deliver an increase in capacity of 30 per cent. </li></ul>
<p>
<h2>Step-free facts </h2>
<ul>
<li>Currently 62 Tube stations are step-free which will increase to 65 by the 2012 Games </li>
<li>Step-free access work at key interchange stations, including King's Cross St. Pancras, Victoria, Tottenham Court Road, Blackfriars, Farringdon and Bond Street, will continue, in tandem with major redevelopment work to increase capacity and relieve congestion. Step-free access will also be delivered before 2012 at Green Park station, which will have a key role in the transport plan for the 2012 Olympic and Paralympics' Games </li>
<li>There is a step-free Tube guide, which not only shows stations that are step-free between the street and platform, it also gives information about the distance of the gap between the train and platform and if there is a step </li>
<li>All Docklands Light Railway stations are step-free </li>
<li>All 8,500 London buses are low floor and have ramps (with the exception of heritage Routemasters on route 9 and 15) </li>
<li>New Victoria line trains are in services which have wider doors and designated spaces for wheelchair users. These coupled with the platform humps at stations provide independent level access between platform and trains </li>
<li>More new Tube trains will be coming into service on the Metropolitan, Circle Hammersmith &amp; City and District line trains which will also make it much easier for wheel chair users because they have no doors between the carriages, as well as designated wheelchair spaces </li>
<li>Over 250 wide aisle gates have been installed at Tube stations which will make independent travel easier for wheelchair users who now don't have to wait for station staff to open gates for them </li>
<li>Accessibility is not just about wheel chair users.&nbsp;All new trains have advanced audible and visual information systems and improved visual contrast throughout for the visually impaired and hard of hearing </li>
<li>Information Points are being installed at every station as it undergoes refurbishment with as many as 26 installed at some of the busiest stations. The Information Points give passengers and staff access to speak to the station control room at the touch of a button </li>
<li>Passengers who need to avoid stairs can plan their journey on the TfL website on the Journey Planner page using the advanced options putting in the mode and that they can't use stairs </li>
<li>Alternatively, they can use <a href="http://www.directenquiries.com">www.directenquiries.com</a> which also shows in detail the best route to take on the Tube which avoids long walks and steps. The 24-hour Travel Help Line 0843 222 1234 can also be used to plan a journey</li></ul>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Station has won National Rail Award's Civil Engineering first prize One of the Capital's oldest and busiest London Underground stations, Kings Cross St. Pancras, is now completely wheelchair accessible from street to all platforms. The final lift";}
        
        


 