


@{ViewBag.Title = "Larger vans and minibuses required to meet Low Emission Zone standards from January 2012 ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Larger vans and minibuses required to meet Low Emission Zone standards from January 2012 </h1>
        <div class="content-page-press-release">
        20 September 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Extra time provided to make sure owners of these vehicles are able to comply in challenging economic climate.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"TfL is working with operators and owners to make sure their vehicles meet the emission standards rather than pay the daily charge"</div>
        <div class="quote-footer">
            <div class="quotee-name">Nick Fairholme</div>
            <div class="quotee-job-title">Acting Director of Congestion Charging and Traffic Enforcement</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            TfL is working with operators and owners to make sure their vehicles meet the emission standards rather than pay the daily charge
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) today announced that from 3 January 2012 larger vans and minibuses will be included in the Low Emission Zone (LEZ) to help deliver cleaner air for Londoners.</p>
<p>Following a statutory public consultation the Mayor of London, Boris Johnson, has confirmed that from 3 January 2012 larger vans, minibuses and other specialist vehicles* must meet a Euro III standard for particulate matter (PM), in order to drive, free of charge, in the Low Emission Zone. </p>
<p>Road transport emissions are the largest source of PM pollution - which produces tiny airborne particles - in the Capital with larger vans responsible for 21 per cent of these emissions and 10 per cent of oxides of nitrogen (NOx). </p>
<p>The number of larger vans are also forecast to grow by 30 per cent by 2031. </p>
<h2>Tough recession</h2>
<p>These vehicles were originally due to be included in the LEZ from 4 October 2010. </p>
<p>The deferral by the Mayor to January 2012 has given owners and operators of the estimated 70,000 non-compliant vehicles more time to make the necessary changes during a tough recession.&nbsp;</p>
<p>The Mayor will continue to encourage vehicle manufacturers to explore options such as incentive packages to help people to replace their vehicles to avoid fines. </p>
<p>Kulveer Ranger, the Mayor's Transport advisor, said: 'The Mayor is committed to making London the best big city in the world and therefore we must tackle the crucial issue of cutting pollution. </p>
<h2>Extra time</h2>
<p>'This is why he is keen to put in place measures to dramatically improve London's air quality.</p>
<p>'Pressing ahead with including the most polluting larger vans and minibuses in the Low Emission Zone is an important part of the comprehensive package of measures we are introducing to cut pollution in order to meet and exceed legal standards. </p>
<p>We have given those drivers who will be affected by these changes extra time in order to get their vans and minibuses up to scratch in what has been tough financial times.'</p>
<p>Nick Fairholme, Acting Director of Congestion Charging and Traffic Enforcement, said: 'The move to January 2012 gives operators an extra 15 months to take their planned course of action to ensure they meet the new standards. </p>
<h2>Significant improvements</h2>
<p>'TfL is working with operators and owners to make sure their vehicles meet the emission standards rather than pay the daily charge. </p>
<p>'Including these vehicles in the Low Emission Zone will deliver a significant improvement to the polluting emissions from vans and minibuses and forms part of a broader package of measures to further clean up the capital's air.'</p>
<p>There will also be changes for operators of HGVs, buses and coaches that have been subject to the LEZ emissions standards since 2008.&nbsp;</p>
<p>From 3 January 2012 they will be required to meet a tighter standard of Euro IV for PM to deliver a further reduction in emissions from these vehicles. </p>
<h2>Sustainable measures</h2>
<p>The Government faces large fines of potentially millions of pounds from the European Union if legal air quality targets are not met across the UK. </p>
<p>Earlier this year, the Mayor consulted on his draft air quality strategy - 'Clearing the Air' - which outlines a comprehensive package of long-term sustainable measures, in addition to those already under way, targeting the biggest sources of pollution to clean up London's air. </p>
<p>It identifies that London is on track to meet PM10 legal limits by 2011 and outlines steps to tackle NOx. </p>
<p>The Mayor is investing &pound;250m a year on measures to tackle air quality including record levels into cycling, increasing the number of hybrid buses, supporting the mainstream use of electric and other low emission vehicles and the New Bus for London which will be less polluting than traditional diesel vehicles. </p>
<h2>Specialist vehicles</h2>
<p>He is also proposing age limits for taxis with the aim that by 2020 that all new cabs are zero-emission.</p>
<p>For more information, visit: <a href="http://www.london.gov.uk/media/press_releases_mayoral/plans-announced-tackle-pollution-londons-dirtiest-roads">www.london.gov.uk/media/press_releases_mayoral/plans-announced-tackle-pollution-londons-dirtiest-roads</a>&nbsp;<br><br>* The Low Emission Zone will affect a number of diesel-engined specialist vehicles derived from larger vans and minibuses, such as motor caravans and light utility vehicles.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Following a statutory public consultation, the Mayor has decided today to confirm, without modification, the Greater London Low Emission Zone Charging (Variation) Order 2010 which deferred the date the LEZ affects larger vans, minibuses, motor caravans and other specialist vehicles from 4 October 2010 (when it was due to come into effect) to 3 January 2012, and also made a small number of minor amendments to the LEZ scheme.&nbsp;The Variation Order implements a proposal in the Mayor's Transport Strategy, published in May this year, that this phase be deferred until 2012 (Proposal 95b) </li>
<li>In confirming MTS proposal 95(b) to defer the extension of the LEZ to larger vans and minibuses to 2012, the Mayor has weighed up the economic benefits for operators with the reduction in air quality and associated health benefits compared to the scheme being introduced in October 2010. The Mayor considered that this approach struck an appropriate balance for London between environmental and economic objectives, and even with a deferred implementation of LEZ Phase 3, it is projected that London will meet the EU limit values for PM10 in 2011 </li>
<li>TfL has published its report to the Mayor on the results of the public and stakeholder consultation on the LEZ Variation Order at <a href="http://www.tfl.gov.uk/lezlondon">www.tfl.gov.uk/lezlondon</a> </li>
<li>In London, road transport is the single biggest source of PM10 and NOx causing air quality-related health problems, worsening symptoms of asthma and other respiratory conditions </li>
<li>The Low Emission Zone aims to reduce emissions of PM and NOx by encouraging the take-up of cleaner vehicles and the fitting or abatement equipment, as well as deterring the most individually polluting heavier diesel-engined vehicles from driving within the city </li>
<li>The overall health impact of the deferral of the extension of the LEZ to larger vans and minibuses from October 2010 to January 2012 is considered to be negative, but only of a minor magnitude </li>
<li>This deferred phase of the Low Emission Zone will affect the following: 
<ul type="circle">
<li>Minibuses - with more than 8 seats, plus the drivers seat below 5 tonnes Gross Vehicle Weight (GVW) </li>
<li>Larger vans - between 1.205 tonnes unladen and 3.5 tonnes GVW </li>
<li>Motorised horse boxes (between 1.205 tonnes unladen and 3.5 tonnes GVW) </li>
<li>Motorised caravans between 2.5 tonnes and 3.5 tonnes GVW </li>
<li>Other specialist vehicles derived from vans and minibuses </li></ul></li>
<li>Vehicles affected by this phase of the LEZ (larger vans and minibuses) which do not meet the specified emission standard would pay a daily charge of &pound;100 to drive within the LEZ.&nbsp;Non-compliant vehicles which do not pay the charge would be subject to a &pound;500 penalty charge for each day they drive within the zone (reduced to &pound;250 if paid within 14 days).&nbsp;TfL would prefer that drivers meet the emission standards rather than pay a daily charge. It is not the aim of the scheme to generate income from operators </li>
<li>Operators with vehicles that do not meet the specified emissions standards for the LEZ have several options to comply with the scheme including: 
<ul type="circle">
<li>Fitting approved particulate abatement equipment to the vehicle </li>
<li>Purchasing a new or compliant second hand vehicle </li>
<li>Re-organising a fleet so that only vehicles which meet the required emissions standards drive within the zone </li>
<li>Paying a daily charge </li></ul></li>
<li>TfL is currently working with abatement industry to develop further approved abatement solutions for larger vans and minibuses and details will be published on the LEZ scheme website in early 2011 </li>
<li>From 3 January 2012, the emissions standard for vehicles already affected by the LEZ from 2008 will be tightened. Lorries over 3.5 tonnes, buses and coaches over 5 tonnes will then be required to meet a Euro IV for PM standard to drive within the LEZ without charge. This particular change was due to take effect in January 2012 anyway and is unconnected with the Mayor's announcement </li>
<li>The draft Mayor's Air Quality Strategy (MAQS) proposes a wide range of policies to further reduce the emissions from various sectors, including road transport. For example: a package of local measures to tackle air pollution at priority locations; incentivising the adoption of the cleanest vehicles and new technologies including electric and electric-hybrid cars; and further development of the LEZ scheme <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) today announced that from 3 January 2012 larger vans and minibuses will be included in the Low Emission Zone (LEZ) to help deliver cleaner air for Londoners.Following a statutory public consultation the Mayor of London, Boris";}
        
        


 