


@{ViewBag.Title = "London Underground calls on RMT and TSSA leadership to call off strike and return to talks";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground calls on RMT and TSSA leadership to call off strike and return to talks</h1>
        <div class="content-page-press-release">
        06 September 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) has given unions assurances that they seek on no compulsory redundancies and safe staffing levels. LU remains ready to talk at any time.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"But our staffing changes mean that every station that currently has a ticket office will retain one, and that all stations will be staffed at all times"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">LU's Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            But our staffing changes mean that every station that currently has a ticket office will retain one, and that all stations will be staffed at all times
                            
                        </p>
                    </div>
                
            
            
            <p>LU has today called on the leaderships of the RMT and TSSA unions to call off their threatened strike action and return to talks to avert disruption to Londoners. </p>
<p>The call comes as the first of the strikes on the network, of RMT maintenance workers employed by Alstom, failed to have any impact whatsoever on passenger services. </p>
<p>Last week's talks at ACAS, which LU asked the union leaderships to attend, broke down when both union leaderships imposed unreasonable preconditions on talks that they knew would render constructive discussions impossible. </p>
<p>LU is calling for the strike to be called off, and for talks to resume without preconditions. </p>
<p>It has once again reiterated that its staffing changes will be delivered with a guarantee of no compulsory redundancies, that all stations with a ticket office will continue to have one, and that stations will continue to be staffed at all times.</p>
<p>The leader of the TSSA union, Gerry Doherty, said live on Television that if LU gave a guarantee of no compulsory redundancies, this could 'change the negotiating climate'. </p>
<p>This guarantee has been given unequivocally, yet the TSSA leadership, and that of the RMT, still seem intent on disrupting Londoners.</p>
<p>Howard Collins, LU's Chief Operating Officer, said: 'Londoners will no doubt find it incredible that, despite being given a guarantee of no compulsory redundancies, the RMT and TSSA leaderships are still threatening to strike.</p>
<p>'London Underground needs to change, as we can't go on with a situation where some ticket offices sell fewer than 10 tickets an hour. </p>
<p>'But our staffing changes mean that every station that currently has a ticket office will retain one, and that all stations will be staffed at all times.</p>
<p>'The RMT and TSSA leaderships should recognise that we have given them every assurance possible, and should stop threatening disruption and return to talks.'</p>
<p>A range of <a href="http://www.tfl.gov.uk">extra services </a>are being provided to help keep London moving if the strike does go ahead, including extra river and bus services and guided cycle rides. </p>
<p>
<hr>
</p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>Some LU ticket offices now regularly sell fewer than 10 tickets an hour. The quietest ticket offices include North Ealing, which sells less than six tickets per hour, and Latimer Road and Moor Park, which sell only around seven tickets per hour
<li>Overall, sales from ticket offices are down 28 per cent over the last four years as more and more people switch to Oyster and just one in 20 Tube journeys now starts with a visit to a ticket office&nbsp;</li>
<li>Under LU's proposals staff will be more effectively deployed to areas of stations where they can better assist customers, removing duplication of roles whilst delivering the best possible value for fare and taxpayers</li>
<li>The proposed changes would mean a reduction in the total number of posts across LU, but will involve no compulsory redundancies, and will have no impact on the Tube's high safety standards </li>
<li>Currently, RMT and TSSA maintenance and engineering staff will begin their 24-hour strike at 17:00 on Monday 6 September, and other RMT and TSSA Tube staff, including station staff and some drivers, will start at 21:00</li>
<li>The changes would not affect Tube drivers, and the majority of the roughly 800 posts that are identified for reduction are ticket office staff; this also includes a saving of around 150 posts from reductions in management and administrative staff. This is out of a total of around 19,000 LU staff, so represents less than five per cent of the workforce. Some 250 positions are already, or are expected to become vacant, so these would merely not be filled<br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "LU has today called on the leaderships of the RMT and TSSA unions to call off their threatened strike action and return to talks to avert disruption to Londoners. The call comes as the first of the strikes on the network, of RMT maintenance workers";}
        
        


 