


@{ViewBag.Title = "London Underground statement on talks at ACAS ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground statement on talks at ACAS </h1>
        <div class="content-page-press-release">
        02 September 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) have today been engaged in talks with the leaderships of the TSSA and RMT unions at the conciliation service ACAS, to discuss how to avoid unnecessary strike action.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This threatened strike is completely unnecessary. It will do nothing but disrupt Londoners, and lose those who strike a day's pay"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">London Underground's Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This threatened strike is completely unnecessary. It will do nothing but disrupt Londoners, and lose those who strike a day's pay
                            
                        </p>
                    </div>
                
            
            
            <p>LU asked ACAS to invite the leaderships of both unions to discuss the issues, however both union leaderships have now imposed unreasonable preconditions on talks that they knew would render constructive discussions impossible.</p>
<p>LU is calling for the strike to be called off, and has once again reiterated that its staffing changes will be delivered with a guarantee of no compulsory redundancies, that all stations with a ticket office will continue to have one, and that stations will continue to be staffed at all times. </p>
<h2>Meaningful discussion</h2>
<p>Howard Collins, London Underground's Chief Operating Officer, said: 'London Underground went to ACAS to take part in meaningful discussions with the TSSA and RMT leaderships, with the expectation that they would be prepared to do the same. </p>
<p>'However, from the outset, they have imposed unreasonable preconditions that they knew would render constructive discussions impossible.&nbsp;<br>&nbsp;<br>'London Underground needs to change, as it is simply not possible to go on with a situation where some ticket offices sell fewer than 10 tickets an hour. </p>
<p>'We have assured the unions, and I do so again unequivocally, that our staffing changes are being delivered without compromising London Underground's high safety standards. </p>
<h2>Unnecessary strike action</h2>
<p>'They come with no compulsory redundancies, all stations with a ticket office will continue to have one, and all stations will be staffed at all times.</p>
<p>'This threatened strike is therefore completely unnecessary. It will do nothing but disrupt Londoners, and lose those who strike a day's pay. </p>
<p>'London Underground remains willing as ever to meet and take part in constructive discussions at any time without setting any preconditions. We urge the RMT and TSSA leadership to drop their preconditions so that meaningful discussions can take place.'</p>
<p><strong>
<hr>
Notes to editors:</strong> 
<p>
<ul>
<li>Some LU ticket offices now regularly sell fewer than 10 tickets an hour. The quietest ticket offices include North Ealing, which sells less than six tickets per hour, and Latimer Road and Moor Park, which sell only around seven tickets per hour </li>
<li>Overall, sales from ticket offices are down 28 per cent over the last four years as more and more people switch to Oyster and just one in 20 Tube journeys now starts with a visit to a ticket office </li>
<li>Under LU's proposals staff will be more effectively deployed to areas of stations where they can better assist customers, removing duplication of roles whilst delivering the best possible value for fare and taxpayers </li>
<li>The proposed changes would mean a reduction in the total number of posts across LU, but will involve no compulsory redundancies, and will have no impact on the Tube's high safety standards </li>
<li>Currently, RMT and TSSA maintenance and engineering staff will begin their 24-hour strike at 17:00 on Monday 6 September, and other RMT and TSSA Tube staff, including station staff and some drivers, will start at 21:00 </li>
<li>The changes would not affect Tube drivers, and the majority of the roughly 800 posts that are identified for reduction are ticket office staff; this also includes a saving of around 150 posts from reductions in management and administrative staff. This is out of a total of around 19,000 LU staff, so represents less than five per cent of the workforce. Some 250 positions are already, or are expected to become vacant, so these would merely not be filled<br></li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "LU asked ACAS to invite the leaderships of both unions to discuss the issues, however both union leaderships have now imposed unreasonable preconditions on talks that they knew would render constructive discussions impossible.LU is calling for the strike";}
        
        


 