


@{ViewBag.Title = "London Overground delivers to satisfied customers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Overground delivers to satisfied customers</h1>
        <div class="content-page-press-release">
        29 September 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Overground passengers are now beginning to see the results of a two-year &pound;1.4bn upgrade and have responded by giving the network a record 81 points in a recent customer satisfaction survey.
        
    </div>



 <div class="on-this-page">
<p>The Transport for London (TfL) survey of 1408 passengers undertaken between 27 June and 21 August this year revealed an increase of three points over the satisfaction levels of the previous quarter. </p>
<p>This latest figure continues the upward trend in satisfaction levels for London Overground customers since the railway was taken over by TfL. </p>
<p>Particularly noteworthy is the increase in the feeling of personal safety at stations from 74 to 85 - a result of the TfL policy of always having staff on platforms while a service is running.</p>
<p>Managing Director of TfL London Rail Ian Brown, said: 'It is great news that passengers are now being repaid for their patience and tolerance of service disruptions and are starting to see the benefits of all our upgrade investment and work.</p>
<p>'While this is a great result we know we still have some way to go with much work to do. </p>

<h2>Customer satisfaction</h2>
<p>'The introduction of our new air conditioned and higher capacity trains is almost complete and when our track and signal upgrade works are finished by the middle of next year, Londoners will have a service they deserve.'</p>
<p>Since launching the London Overground service in 2007, TfL has embarked on a huge programme to upgrade and extend the network which was once one of the most neglected in the UK. </p>
<p>Improvements include a new train fleet, refurbished stations and an upgraded signalling network.</p>
<p>An extension joining Dalston Junction in east London to East Croydon in south London was opened earlier this year. </p>
<p>It is due to be linked to the rest of the network at Highbury &amp; Islington station early next year.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>Comparison of some customer satisfaction scores (out of 100) between the previous owner, Silverlink and London Overground
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;<strong>Silverlink (June to September 2007)</strong></td>
<td>&nbsp;<strong>London Overground (June to September 2010)</strong></td></tr>
<tr>
<td>&nbsp;<strong>Cleanliness/freedom from graffiti</strong></td>
<td>
<p>&nbsp;67</p></td>
<td>&nbsp;83</td></tr>
<tr>
<td>&nbsp;<strong>Personal safety at stations</strong></td>
<td>&nbsp;74</td>
<td>&nbsp;85</td></tr>
<tr>
<td>&nbsp;<strong>Number of staff seen at stations</strong></td>
<td>&nbsp;48</td>
<td>&nbsp;73</td></tr>
<tr>
<td>&nbsp;<strong>State of trains</strong></td>
<td>&nbsp;57</td>
<td>&nbsp;88</td></tr>
<tr>
<td>&nbsp;<strong>Reliability/punctuality</strong></td>
<td>&nbsp;62</td>
<td>&nbsp;77</td></tr></tbody></table></div></p>
<ul>
<li>Customer Satisfaction Surveys&nbsp;are conducted across all modes for TfL by an external contractor, to monitor changes in customer perception and satisfaction </li>
<li>All aspects of the London Overground service are covered, with performance being rated for each aspect on a scale of 0 to 100 where 100 represents perfect performance. The performance scores are calculated using the results of interviews carried out face-to-face with passengers whilst they are travelling. Interviewing shifts are carried out at all times of the day on all days of the week, covering all sections of the London Overground network to ensure that a representative result is achieved </li>
<li>The London Overground network consists of the Richmond to Stratford, Willesden Junction to Clapham Junction (via Kensington Olympia), Gospel Oak to Barking and Euston to Watford Junction lines, and the Dalston Junction to East Croydon east London route </li>
<li>London Overground is delivering frequent metro-style services, longer operating hours and improved service frequencies on all lines so that Londoners can simply 'turn up and go' </li>
<li>Around&nbsp;six million journeys are made every month on London Overground<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Transport for London (TfL) survey of 1408 passengers undertaken between 27 June and 21 August this year revealed an increase of three points over the satisfaction levels of the previous quarter. This latest figure continues the upward trend in";}
        
        


 