


@{ViewBag.Title = "Magical Taxi Tour from London to Disneyland Paris ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Magical Taxi Tour from London to Disneyland Paris </h1>
        <div class="content-page-press-release">
        27 September 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London taxi drivers take sick children on a trip of a lifetime to Disneyland Paris
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are delighted to be able to support this event which has brought so much joy to thousands of children"</div>
        <div class="quote-footer">
            <div class="quotee-name">John Mason</div>
            <div class="quotee-job-title">TfL Director of Taxi & Private Hire</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are delighted to be able to support this event which has brought so much joy to thousands of children
                            
                        </p>
                    </div>
                
            
            
            <p>On Friday 24 September, a convoy of 100 London taxis left Canary Wharf, taking children suffering from life-threatening illnesses on the trip of a lifetime to Disneyland Paris.</p>
<p>Excitement levels grew throughout the morning as the Lord Mayor of the City of London, Alderman Nick Anstee, cut the ribbon to mark the start of the trip. </p>
<p>The escorted convoy, which was around five miles long, headed off towards Dover at 08:30. </p>
<p>Since the trip began in 1994, around 3,500 sick children have enjoyed the annual Children's Magical Taxi Tour, organised by the Worshipful Company of Hackney Carriage Drivers.&nbsp; </p>
<p>Transport for London's (TfL's) Director of Taxi &amp; Private Hire, John Mason, said: 'Yet again London's taxi drivers show why they are famous the world over by giving up their time to provide this fantastic opportunity for children and their carers to visit Disneyland Paris. </p>
<p>'As always, we are delighted to be able to support this event which has brought so much joy to thousands of children. </p>
<p>'We hope everyone involved has a fun and truly memorable experience.' </p>
<p>The Children's Magical Taxi Tour is paid for entirely by sponsorship and fundraising, the taxi drivers have given up their time and their vehicles without charge.&nbsp; </p>
<p>'All of the vehicles were liveried with advertising and sponsors' details, clearly marking them as part of the convoy.</p>
<p>Travelling with the convoy were City of London and Metropolitan Police escorts, London Ambulance NHS Trust vehicles, a group of AA breakdown trucks to help out if there are any mechanical problems en route, and a contingency from the Gendarmarie Nationale, who are responsible for public safety in France.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>TfL's Taxi &amp; Private Hire is responsible for regulating London's taxi and private hire services</li>
<li>TfL sponsored one taxi for the event</li>
<li>Since this event began in 1994, 1,500 taxis have taken almost 3,500 children to Disneyland</li>
<li>Some of the drivers have been involved in the Children's Magic Taxi Tour every year since the beginning, clocking up over 10,000 unpaid miles of driving</li>
<li>More information about the <a href="http://www.magicaltaxitour.com">Magical Taxi Tour </a>is available online</li>
<li>Images are available on request</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "On Friday 24 September, a convoy of 100 London taxis left Canary Wharf, taking children suffering from life-threatening illnesses on the trip of a lifetime to Disneyland Paris.Excitement levels grew throughout the morning as the Lord Mayor of the City of";}
        
        


 