


@{ViewBag.Title = "More officers take to two wheels as specialist police cycling squad expands";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>More officers take to two wheels as specialist police cycling squad expands</h1>
        <div class="content-page-press-release">
        29 September 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Extra officers join the Metropolitan Police Service (MPS) Cycle Task Force to help improve cycle safety and to crackdown on road users who disobey the rules of the road.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This task force, through both education and enforcement, has already helped thousands of London's cyclists"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's Transport Adviser</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This task force, through both education and enforcement, has already helped thousands of London's cyclists
                            
                        </p>
                    </div>
                
            
            
            <p>Cyclists and their bikes will be safer than ever with 10 more officers joining the MPS's Cycle Task Force just three months after the team was introduced.</p>
<p>The MPS Cycle Task Force is part of the Safer Transport Command (STC) and is funded by Transport for London (TfL).&nbsp; </p>
<p>It was introduced to tackle cycle theft and vandalism in the Capital.&nbsp; </p>
<p>From this month the original team, which tackles cycle theft, is being joined by a new unit which will focus on traffic enforcement and cycle safety in London. </p>
<p>Since its launch in June this year the MPS Cycle Task Force team, which tackles the problem of stolen and vandalised bikes in London, has already cycle security marked nearly 5,000 bikes, made nearly 20 arrests for bike theft and reunited some Londoners with their stolen bikes.</p>
<p>Ten extra specialist traffic police officers, who recently swapped their police cars for bikes, have now joined the MPS Cycle Task Force to help promote cycle safety and to crackdown on drivers and cyclists who break the rules of the road. </p>
<h2>Exchanging places</h2>
<p>The unit ran a six-week long operation this summer to target road users who disobeyed traffic signals, encroached on advance stop lines, cycled carelessly or on pavements, or used their mobile phones on the two pilot Barclays Cycle Superhighways.&nbsp; </p>
<p>The operation resulted in:</p>
<ul>
<li>More than 900 Fixed Penalty Notices&nbsp;(FPNs) of up to &pound;60 issued to drivers and motorcyclists </li>
<li>Over 400 FPNs of up to &pound;60 issued to cyclists </li>
<li>Around 300 people attended an Exchanging Places safety education course to encourage considerate and safe behaviour from all road users and to promote sharing the road safely </li>
<li>A total of 106 cyclists who were given FPNs for less serious offences were given the option to have their ticket cancelled if they attended an Exchanging Places safety education course. Fifty per cent of those offered the opportunity attended and had their ticket revoked </li>
<li>More than 20 arrests made for a variety of offences, including for bike theft and driving while disqualified to do so</li></ul>
<p>Kulveer Ranger, the Mayor of London's Transport Adviser, said: 'The Cycle Task Force is a fundamental part of the cycling revolution the Mayor has delivered in London and has proven to be hugely effective.&nbsp; </p>
<p>'This task force, through both education and enforcement, has already helped thousands of London's cyclists, by catching bike thieves, security marking bicycles and reuniting people with their stolen bikes.&nbsp; </p>
<p>'The real success of this team is that it is helping both cyclists and those Londoners who do not cycle by ensuring that there is better behaviour on our streets by all road users.</p>
<p>'However there is always more that can be done to make London the best cycling city in the world and these additional officers should reassure everyone who cycles in the Capital that making London safe and secure remains our focus.'</p>
<h2>Cycling revolution</h2>
<p>Commander Mark Gore, STC, said: 'The Safer Transport Command welcomes these officers into the Cycle Task Force as we move a step closer to realising the Mayor's vision of a cycling revolution.&nbsp; </p>
<p>'While the vast majority of cyclists and motorists behave with care around London, a visible police presence helps all road users, including cyclists, to use the road responsibly.&nbsp; </p>
<p>'The MPS Cycle Task Force will continue to organise targeted operations to tackle bike theft and vandalism, as well as encourage considerate, safe and lawful behaviour from all road users.'</p>
<p>Steve Burton, TfL's Director of Community Safety, Enforcement and Policing, said: 'London is a fantastic city to get around on two wheels.&nbsp; </p>
<p>'However people can sometimes be put off by other road users or the fear of getting their bike stolen, and we are determined to put a stop to this.</p>
<p>'The MPS Cycle Task Force has done a cracking job to tackle bike theft since it was launched and these additional officers will strengthen the excellent work done to date.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>On 5 September 2010, 10 MPS Traffic officers who work on cycle safety and related issues became part of the TfL-funded, MPS STC.&nbsp;The extra officers were brought into the MPS Cycle Task Force, launched on 6 June 2010, and are experienced Traffic Officers and hold advanced driving and riding qualifications.&nbsp;The bicycle-based team investigate and tackle cycle theft and criminal damage to bicycles and will now also cover a cycle safety and enforcement remit </li>
<li>Members of the public can contact the team at <a href="mailto:cycletaskforce&#64;met.police.uk">mailto:cycletaskforce&#64;met.police.uk</a> </li>
<li>The MPS STC fights crime on buses, tackles illegal taxi touts and assists with the control of traffic congestion. There are now around 2,000 uniformed officers in the unit, which is part funded by TfL </li>
<li>The month-long enforcement operation this summer took place between 19 July and 25 August 2010 on a Barclays Cycle Superhighway which run from Merton to the City (A24 and A3) and Barking to Tower Gateway (A13) </li>
<li>Similar enforcement operations will be taking place on a monthly basis across the Capital </li>
<li>The Mayor of London's Share the Road campaign is a mutual respect education and enforcement campaign encouraging a mutual respect between motorists, cyclists and pedestrians in London with the aim of achieving better standards of driving and riding and a greater level of courtesy shown by road users to one another </li>
<li>The final <a href="http://www.tfl.gov.uk/corporate/projectsandschemes/15704">Cycle Security Plan </a>is now published on TfL's website at and is supported by the Mayor of London, TfL, MPS, City of London Police and the British Transport Police </li>
<li>The safety education courses, known as Exchanging Places sessions, allow cyclists to have their FPN revoked if they attend. The sessions take no longer than 30 minutes and provide cyclists with the opportunity to experience the driver's view from an Heavy Goods Vehicle (HGV) cab and aim to educate cyclists about HGVs' blind spots while providing cyclists with safety information </li>
<li>The Mayor and TfL are investing &pound;116m in cycling in 20010/11. That money is being spent on improving safety for cyclists, Barclays Cycle Hire, Barclays Cycle Superhighways, infrastructure, promotion and education </li>
<li>The Mayor and TfL are calling for more people to sign up for the TfL-funded cycle training available through London's borough councils, and in the past year have invested &pound;3m in cycle training for Londoners of all ages in which cyclists learn more about staying safe on London's roads and staying aware of other road users </li>
<li>In addition, &pound;1.49m of funding has been given to the eight boroughs benefitting from the two pilot Barclays Cycle Superhighways launched on 19 July 2010 for cycle training, parking and cycle maintenance sessions. Visit <a href="http://www.tfl.gov.uk/cycling">TfL's website </a>for information on how to set up your cycle training session<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Cyclists and their bikes will be safer than ever with 10 more officers joining the MPS's Cycle Task Force just three months after the team was introduced.The MPS Cycle Task Force is part of the Safer Transport Command (STC) and is funded by Transport for";}
        
        


 