


@{ViewBag.Title = "Plans released to keep London moving during threatened RMT and TSSA strike";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Plans released to keep London moving during threatened RMT and TSSA strike</h1>
        <div class="content-page-press-release">
        03 September 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor and Transport for London (TfL) have unveiled details of a major effort to help people get to work, and get around the Capital if a Tube strike threatened by the leadership of the RMT and TSSA unions goes ahead.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We urge everyone travelling in and around London during the strike to check before you travel and to consider the wide range of alternative travel options by going to www.tfl.gov.uk as well as staggering your normal journeys where possible.
                            
                        </p>
                    </div>
                
            
            
            <p>Around a hundred extra buses, escorted bike rides, marshalled taxi ranks, and capacity for 10,000 more journeys on the river have been organised to help keep Londoners moving. Volunteers will also be positioned at Tube, bus, and rail stations to assist Londoners with their journeys and provide maps and other useful information.</p>
<p>The Union leaderships have been urged to reconsider their action and London Underground remains ready to engage in constructive talks at any time in order to avoid unnecessary disruption to Londoners. However, preparations are underway to minimise the impact if action does take place. </p>
<p>Unions are threatening to disrupt Londoners despite being given assurances that staffing changes proposed by London Underground will mean no compulsory redundancies, that every station that currently has a ticket office will continue to have one, and that stations will remain staffed at all times. </p>
<h2>Cycle to work</h2>
<p>Disruption is expected from the late afternoon of Monday 6 September, and is expected to last throughout Tuesday 7 September if the union leadership goes ahead with the strike. </p>
<p>Londoners who own a bike are encouraged to cycle to work. Cycle parking facilities are being made easier for newcomers to access, and a <a href="http://www.tfl.gov.uk/cyclejourneyplanner">Cycling Journey Planner</a> will be available on TfL's website. The 5,000 Barclays Cycle Hire bikes will be available to members of the scheme, and TfL's contractors will be working to ensure that bikes are redistributed as effectively as possible. </p>
<p>London Overground, Tramlink, and Docklands Light Railway (DLR) services will be operating as normal, although some stations where there is an interchange with London Underground may be affected. </p>
<p>London Underground is working to operate as many services as possible, but passengers are advised that significant disruption is possible and that alternative travel options and staggering journey times should be considered where possible.</p>
<p>Should the strike go ahead, Londoners and visitors are being advised to plan ahead and check before they travel. All the latest travel information and details of alternative travel options will be available at <a href="http://www.tfl.gov.uk">http://www.tfl.gov.uk</a>. </p>
<h2>Buses, boats and bikes</h2>
<p>The Mayor of London, Boris Johnson, said: 'Londoners are a hardy bunch and I am sure a Tube strike will not deter us from getting around. I have asked TfL to pull out all the stops. But we must be clear that the RMT and TSSA plan to inconvenience Londoners for no good reason. </p>
<p>'The extra measures we have put in call for a team effort and people will need to consider buses, boats or bikes as an alternative to their usual journeys. But this planned action will cause disruption for millions of Londoners and I call on the unions to get round the table and show common sense.'</p>
<p>Currently, RMT and TSSA maintenance and engineering staff will begin their 24-hour strike at 17:00 on Monday September 6, and other RMT and TSSA Tube staff, including station staff and some drivers, will start at 21:00. </p>
<p>Transport Commissioner Peter Hendy said: 'We continue to make every effort to avoid a dispute. </p>
<p>'There is no need for any action as the changes we are introducing come with no compulsory redundancies, and mean that stations will remain staffed at all times and every station with a ticket office will continue to have one. </p>
<h2>Walking maps</h2>
<p>'We regret that Londoners will be disrupted if the strike goes ahead, however the RMT and TSSA leadership will not stop London Underground from moving with the times. Due to the success of Oyster just one journey in twenty now involves a ticket office, and some ticket offices sell fewer than ten tickets an hour. </p>
<p>'The Mayor and TfL have prepared plans to keep London moving and thousands of TfL staff will be on hand across the city help our passengers. </p>
<p>'A massive effort is being made including boosting bus and river services, providing shared taxi services and escorted commuter cycle rides, and distributing thousands of walking maps across central London. </p>
<p>'We urge everyone travelling in and around London during the strike to check before you travel and to consider the wide range of alternative travel options by going to <a href="http://www.tfl.gov.uk">http://www.tfl.gov.uk</a> as well as staggering your normal journeys where possible.'</p>
<p>Those public transport workers who are on duty during the strike will be doing their very best to keep London moving and passengers' patience is asked for over what may be difficult journeys. The following services are being provided:</p>
<p><strong>Tube</strong>&nbsp;&nbsp; </p>
<ul>
<li>Disruption is likely to most journeys, but London Underground will run as many trains and keep as many stations open as possible - please check the situation on your line and at your station before you travel</li>
<li>Volunteers will be on hand at key stations to give alternative travel options and otherwise assist passengers</li></ul>
<p><strong>Buses</strong> </p>
<ul>
<li>London buses operate around 700 routes with services being boosted with extra buses on key routes on strike days</li>
<li>Extra staff are being deployed to hubs and focus on customer service and information</li></ul>
<p><strong>DLR and London Overground </strong></p>
<ul>
<li>Services are expected to operate as normal. Some stations where there is an interchange with London Underground may be affected</li></ul>
<p><strong>Tramlink</strong> </p>
<ul>
<li>Tramlink services are expected to operate as normal</li></ul>
<p><strong>Cycling</strong> </p>
<ul>
<li>The 5,000 Barclays Cycle Hire bikes will be available to members of the scheme, although demand is likely to be high, and cycles harder to access, during peak times. </li>
<li>Londoners who own a bike are encouraged to cycle to work, and a Cycle Journey Planner is provided on <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> </li>
<li>TfL is writing to hundreds of businesses across London to ask them to be flexible and make it easy for staff to cycle to work, and to allow staff to wear casual clothes on the day </li>
<li>Organised and led cycle rides will be provided on the morning of 7 September, meeting between 7:30 and 7:45 for an 8:00 departure from the following locations across the city: </li>
<li>Ravenscourt park to Trafalgar Square; meeting point main entrance on Kings road </li>
<li>Finsbury Park to St Paul's; meeting point entrance to Finsbury Park on Seven Sisters Road </li>
<li>Mile End to St Paul's (utilising Barclays Cycle Superhighway route 3); meeting point&nbsp; corner of Mile End Road and Burdett Road at entrance to the park </li>
<li>Swiss Cottage to Moorgate; meeting point junction of&nbsp; Eton avenue and Adamson Road </li>
<li>Brixton to the West End (utilising the Barclays Cycle Superhighway route 7); meeting point the Ritzy cinema </li>
<li>Clapham Common to the City (utilising the Barclays Cycle Superhighway route 7); meeting point the bandstand on the common </li>
<li>Cycle Parks at Finsbury Park and London Bridge will be making it easy for new users to turn up, register, and leave their bikes. <a href="/roadusers/cycling/11947.aspx">Further information.</a></li></ul>
<p><strong>River Services</strong> </p>
<ul>
<li>River services, which have recently been improved, will be running as normal with additional journeys at busy times. An additional shuttle service is also being provided between Tower, Westminster and London Eye Piers. This will operate 06.30 - 10.00 and 16.00 - 20.00 on Tuesday 7 September </li>
<li>This service will be priced at &pound;3 for a single, with all concessions - including those with Travelcards, but not PAYG - charged at &pound;1.50</li></ul>
<p><strong>Taxis</strong> </p>
<ul>
<li>Between 06:30 and 10:30 on Tuesday 7 September 2010 taxi drivers will be operating a marshalled taxi service for central London destinations at five major London rail termini - Waterloo, Liverpool St, King's Cross, Charing Cross, and Marylebone. In addition, the fixed-fare taxi sharing schemes at Euston Station and Paddington Station are expected to operate as normal </li>
<li>Private hire and minicab services are expected to be running as normal. Details for licensed private hire and minicab operators in London are available on the TfL website</li></ul>
<p><strong>National Rail</strong> </p>
<ul>
<li>Oyster Pay As You Go is accepted for all National Rail journeys within Greater London</li>
<li>Travelcards are also valid for travel on National Rail within the zones purchased </li></ul>
<p><strong>Walking </strong></p>
<ul>
<li>Walking maps will be provided online, in bus, rail, and Tube stations in Zone 1 and other key outer London stations, with volunteers helping people plan their routes around the city. People are urged to, where possible, use walking for short journeys</li></ul>
<p><strong>Roads and the Congestion Charge</strong> </p>
<ul>
<li>To help keep traffic flowing, the Congestion Charge will remain in operation throughout the strike </li>
<li>TfL will be delaying or curtailing road works on major London roads wherever possible and has encouraged all London boroughs to take similar measures on their network. TfL will also work with the Metropolitan Police to minimise the impact of congestion </li>
<li>Londoners and commuters are encouraged to consider alternatives to the car</li></ul>
<p>Over the last year, improvements have been made to the transport system that mean that Londoners now have better alternatives to the Tube during strike action. </p>
<p>The capacity of the DLR has increased by 11 per cent over the last year following a major upgrade, London Overground's new East London Route has opened, serving many parts of North and South London, and Oyster Pay As You Go is now accepted both on all national rail services in Greater London and on most River services, which have been further improved with extra signage and information.<br></p>
            <p><strong>Notes to editors</strong></p>
<ul>
<li>Under LU's proposals staff will be more effectively deployed to areas of stations where they can better assist customers, removing duplication of roles whilst delivering the best possible value for fare and taxpayers. </li>
<li>The proposed changes would mean a reduction in the total number of posts across LU, but will involve no compulsory redundancies, and will have no impact on the Tube's high safety standards. </li>
<li>Some LU ticket offices now regularly sell fewer than 10 tickets an hour. The quietest ticket offices include North Ealing, which sells less than six tickets per hour, and Latimer Road and Moor Park, which sell only around seven tickets per hour. </li>
<li>Overall, sales from ticket offices are down 28 per cent over the last four years as more and more people switch to Oyster and just one in 20 Tube journeys now starts with a visit to a ticket office </li>
<li>The changes would not affect Tube drivers, and the majority of the roughly 800 posts that are identified for reduction are ticket office staff; this also includes a saving of around 150 posts from reductions in management and administrative staff. This is out of a total of around 19,000 London Underground staff, so represents less than five per cent of the workforce. Some 250 positions are already, or are expected to become vacant, so these would merely not be filled.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Around a hundred extra buses, escorted bike rides, marshalled taxi ranks, and capacity for 10,000 more journeys on the river have been organised to help keep Londoners moving. Volunteers will also be positioned at Tube, bus, and rail stations to assist";}
        
        


 