


@{ViewBag.Title = "Talks at ACAS off as RMT and TSSA leaderships reject London Underground's guarantees on jobs and safety";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Talks at ACAS off as RMT and TSSA leaderships reject London Underground's guarantees on jobs and safety</h1>
        <div class="content-page-press-release">
        24 September 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) has confirmed that the RMT and TSSA union leaderships have refused to return to talks at ACAS, which LU had proposed for this morning.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Despite their claims that this dispute is about safety, the union leaderships have not even tried to make the case or present any evidence to us to support that argument"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">LU Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Despite their claims that this dispute is about safety, the union leaderships have not even tried to make the case or present any evidence to us to support that argument
                            
                        </p>
                    </div>
                
            
            
            <p>London Underground (LU) has confirmed that the RMT and TSSA union leaderships have refused to return to talks at ACAS, which LU had proposed for this morning.</p>
<p>LU met with the unions at ACAS on Wednesday 22 September for six hours, and proposed to resume talks again on Friday to avoid further disruption to Londoners. </p>
<p>Despite claims by the unions that the dispute is about safety, no safety-related issues were put to LU at that time, and have not been raised in any other meetings. </p>
<p>Instead, the unions once again made the demand that LU should withdraw all proposals for staffing changes before talks could progress. </p>
<h2>Our assurances rejected</h2>
<p>LU is involved in an extensive consultation process with staff over the proposed arrangements, which are being introduced in response to a decrease in customer demand for ticket office services. </p>
<p>LU has assured the unions unequivocally that the changes will be delivered without compulsory redundancies or loss of earnings, that all stations with a ticket office will continue to have one and that all stations will be staffed at all times. </p>
<p>These assurances have been rejected by the union leaderships, and they have now refused to rejoin talks.</p>
<p>Howard Collins, LU Chief Operating Officer, said: 'We met with the leaderships of the TSSA and RMT unions at ACAS for six hours on Wednesday and were, once again, faced with the demand that we withdraw our plans in their entirety before talks can progress. </p>
<h2>Cast-iron guarantee</h2>
<p>'We cannot agree to this demand - the simple fact is that our customers' needs have changed, with some ticket offices now selling fewer than ten tickets per hour, and so London Underground needs to change.&nbsp; </p>
<p>'Despite their claims that this dispute is about safety, the union leaderships have not even tried to make the case or present any evidence to us to support that argument. </p>
<p>'Our plans have no impact on safety standards and we have also given a cast-iron guarantee that these plans involve no compulsory redundancies or loss of earnings. </p>
<p>'We have assured the unions again that every station that has a ticket office now will have one in future, and all stations will be staffed at all times. </p>
<h2>Willing to discuss</h2>
<p>'We were hoping that the union leaderships would come to ACAS today to try to avoid further disruption to Londoners. </p>
<p>'Unfortunately they have refused - showing that, for all their words, they were not serious about averting another strike. </p>
<p>'We remain ready and willing to discuss any aspect of our proposals, including any specific safety concerns, and we hope the leaderships of the TSSA and RMT will return to talks, call off this pointless industrial action and stop threatening Londoners with disruption.'</p>
<p>
<hr>
<br><strong>Notes to editors:</strong> 
<ul>
<li>Some LU ticket offices now regularly sell fewer than 10 tickets an hour. The quietest ticket offices include North Ealing, which sells less than six tickets per hour, and Latimer Road and Moor Park, which sell only around seven tickets per hour </li>
<li>Overall, sales from ticket offices are down 28 per cent over the last four years as more and more people switch to Oyster and just one in 20 Tube journeys now starts with a visit to a ticket office&nbsp; </li>
<li>Under LU's proposals staff will be more effectively deployed to areas of stations where they can better assist customers, removing duplication of roles whilst delivering the best possible value for fare and taxpayers </li>
<li>The proposed changes would mean a reduction in the total number of posts across LU, but will involve no compulsory redundancies, and will have no impact on the Tube's high safety standards </li>
<li>Currently, RMT and TSSA operations staff will begin their 24-hour strike at 18:29 on Sunday 3 October, and RMT and TSSA maintenance staff will start at 19:00 </li>
<li>The changes would not affect Tube drivers, and the majority of the roughly 800 posts that are identified for reduction are ticket office staff; this also includes a saving of around 150 posts from reductions in management and administrative staff. This is out of a total of around 19,000 LU staff, so represents less than five per cent of the workforce. Some 250 positions are already, or are expected to become vacant, so these would merely not be filled</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground (LU) has confirmed that the RMT and TSSA union leaderships have refused to return to talks at ACAS, which LU had proposed for this morning.LU met with the unions at ACAS on Wednesday 22 September for six hours, and proposed to resume";}
        
        


 