


@{ViewBag.Title = "TfL warns new students and other Londoners of the dangers of taking unbooked minicabs";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL warns new students and other Londoners of the dangers of taking unbooked minicabs</h1>
        <div class="content-page-press-release">
        23 September 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Londoners are reminded that minicab journeys that are not booked through a licensed operator are illegal and dangerous. Booking means a record of the journey, driver and vehicle will be kept so that drivers can be traced in the event of a problem.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Remember always to book your minicab as it guarantees that your trip will be carried out by a licensed driver 
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor and Transport for London (TfL) are urging Londoners not to use illegal minicabs as figures released today reveal that in 2009/10 there were 143 cab-related sexual offences reported.</p>
<p>Young women are the most likely to be at risk of sexual assaults when using unbooked minicabs and, as fresher's weeks get underway, the Mayor and TfL are calling on everyone living in the Capital, and in particular female students about to start university and college, not to get into minicabs that are not booked.&nbsp; </p>
<p>Although there has been a 20 per cent fall in cab-related sexual offences since the Safer Travel at Night Campaign (STaN) was launched eight years ago, this year saw a 54 per cent rise compared to the previous year&nbsp; when offences reached their lowest level since records have been kept (93 in 2008/09 to 143 in 2009/10).&nbsp; </p>
<p>This increase is a stark reminder that unbooked minicabs still pose a very serious danger to the travelling public.&nbsp; </p>
<p>TfL and its policing partners are committed to improving the safety and security of cabs and set up a Cab Sex Offences team up last year to deal with cab-related sexual offences.&nbsp; </p>
<p>The team follows up leads, carries out surveillance work and gathers intelligence to bring offenders to justice; to date they have made more than 100 arrests.</p>
<p>To ensure you are getting into a legal minicab, you should always: </p>
<ul>
<li>Book your minicab through a licensed operator - you can find details of licensed private hire vehicles and minicabs on tfl.gov.uk/findaride or text 'CAB' to 60835.&nbsp;Using this text service, TfL will send back two minicab numbers and one taxi (black cab) number for the area you are in </li>
<li>Remember, only black cabs can be stopped and picked up off the street without being booked </li>
<li>When your booked vehicle arrives, ask the driver to confirm your details before getting in. If these do not match yours, do not get in </li>
<li>Always sit in the back of the minicab</li></ul>
<h2>Confirm your details</h2>
<p>Kulveer Ranger, the Mayor's Transport Adviser, said: 'These figures are a stark reminder of the dangers of getting into an unbooked minicab.&nbsp; </p>
<p>'I urge Londoners, particularly female passengers and especially those students flocking to the Capital to study, to please ensure they only ever get into a booked minicab.&nbsp; </p>
<p>'It is so simple to text CAB to 60835, yet it could be one of the most important things they ever do.&nbsp; </p>
<p>'The Mayor has doubled our cab enforcement team and their sexual offences officers have made 100 arrests since they were set up last year, but Londoners must show vigilance and never be tempted by an unbooked minicab.'</p>
<p>Siwan Hayward, Deputy Director of Community Safety, Enforcement and Policing, said: 'This is an extremely serious matter and we are working closely with the police to deter and detect offenders and bring them to justice. </p>
<p>'It is important that you never approach or accept a journey from a minicab driver off the street, whether they hold a TfL licence or not. </p>
<p>'Remember always to book your minicab as it guarantees that your trip will be carried out by a licensed driver in a licensed vehicle and a record of the journey will be kept.&nbsp;&nbsp; </p>
<p>'Save the Cabwise text number, 60835, in your phone and always book your minicabs.&nbsp; </p>
<p>'Don't forget to ask the driver to confirm your details when they arrive and sit in the back.</p>
<p>'We would also encourage anyone who has been assaulted to come forward and report it to the police or a support service to help bring the offenders to justice.'</p>
<h2>Travel safely</h2>
<p>Chief Inspector Jo Chinn, MPS Safer Transport Cab Enforcement Unit, said: 'Minicab drivers that approach people in London or accept fares on the street for business pose a real danger.&nbsp; </p>
<p>'Even minicabs lined up outside pubs and clubs are breaking the law if they accept your fare without a booking being made first.</p>
<p>'Our Cab Enforcement Unit is determined to tackle this problem head on and we urge Londoners not to get into a minicab that they haven't booked.</p>
<p>'Since 2003 we have made more than 6,000 arrests of illegal cabs drivers and other perpetrators of cab-related offences and doubled the number of cab enforcement officers in the Unit.&nbsp; </p>
<p>'In addition, a year ago we introduced a dedicated team to crack down on cab-related sexual offences and bring offenders to justice. </p>
<p>'The team has made more than 100 arrests to date.'</p>
<p>The STaN partnership between TfL, the Metropolitan Police Service and the City of London Police was launched in 2002/03.&nbsp; </p>
<p>The campaign aims to make people travelling at night aware of the dangers of picking up unbooked minicabs off the street, as well as informing them of the best ways to get home safely. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors: </strong></p>
<ul>
<li>London Taxi and Private Hire, part of TfL, is responsible for licensing and regulating London's taxi and private hire services </li>
<li>Licensed drivers must be at least 21 years old, have a criminal record check and a driving convictions check before being licensed. There is no upper age limit, provided they meet the other licensing requirements </li>
<li>The Metropolitan Police Service cab-related sexual offences figures for 2009/10 showed that since 2002, cab-related sexual offences have fallen from an average of 15 to 12 offences each month and 2010/11 figures are showing further reductions </li>
<li>2008/09 saw cab-related sexual offences fall to the lowest level (93 offences) since 2002 </li>
<li>Crime figures were accurate at time of publication. Under the Metropolitan Police Services' new system the figures are 'live' for two years and are subject to change as data is refreshed. This change does not affect the way that crimes are counted and classified </li>
<li>STaN is a partnership between the Mayor of London, TfL, Metropolitan Police Service and the City of London Police which works with organisations across the Capital to help make London safer at night.&nbsp;They do this by raising awareness of the dangers of unbooked minicabs and offering and raising awareness of safer travel options </li>
<li>The Mayor has taken a tough line on touting and any TfL-licensed private hire driver convicted of touting will now lose their private hire driver's licence for a minimum of one year </li>
<li>A dedicated Cab Enforcement Unit, part of the Metropolitan Police Service Safer Transport Command, funded by TfL, was set up in 2003 to enforce the law relating to taxis and minicabs across the Capital. The majority of their efforts is focused on cab-related sexual offences and illegal minicabs </li>
<li>If you have had a bad experience in a minicab or taxi (black cab), please report the incident at tfl.gov.uk/contactcabs, call 0845 300 7000, or email <a href="mailto:TPH.Comms&#64;tfl.gov.uk">TPH.Comms&#64;tfl.gov.uk</a> </li>
<li>Help and support is available for victims of sexual assault from <a href="http://www.thehavens.co.uk">The Havens</a> </li>
<li>For essential late night travel information in London please visit <a href="http://www.tfl.gov.uk/cabwise ">tfl.gov.uk/cabwise</a> and <a href="http://www.tfl.gov.uk/traveltools">tfl.gov.uk/traveltools</a> </li>
<li>TfL's 24-hour travel information call centre can also provide information and phone numbers for taxi and private hire services in London. Call 0843 222 1234</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor and Transport for London (TfL) are urging Londoners not to use illegal minicabs as figures released today reveal that in 2009/10 there were 143 cab-related sexual offences reported.Young women are the most likely to be at risk of sexual assaults";}
        
        


 