


@{ViewBag.Title = "TfL thanks customers and staff as Tube services return to normal";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL thanks customers and staff as Tube services return to normal</h1>
        <div class="content-page-press-release">
        08 September 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than a third of services operated despite industrial action. Tube bosses remain ready for constructive talks and maintain their commitment to no compulsory redundancies.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I want to thank Londoners for their patience as they travelled around the Capital"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">LU's Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I want to thank Londoners for their patience as they travelled around the Capital 
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London has thanked customers for their patience and determination, and staff for keeping London moving, as Tube services in the Capital return to normal following industrial action called by the leaderships of the RMT and TSSA unions.</p>
<p>Despite the strike action well over a third of London's Tube trains operated throughout Tuesday. </p>
<p>Good services operated across the bus, Docklands Light Railway (DLR), London Overground and tram networks.&nbsp; </p>
<p>Extra bus services were provided, along with extra capacity for an additional 10,000 journeys on river services, marshalled taxi ranks, and guided cycle rides. </p>
<p>Volunteers were on hand at bus, Tube, and rail stations to help passengers and distribute walking maps and other useful information. </p>
<p>Now London Underground (LU) is calling on the leaderships of the two unions to abandon their&nbsp;pointless strike action and to engage in meaningful discussions.</p>
<p>Mike Brown, LU's Managing Director, said: 'I want to thank Londoners for their patience as they travelled around the Capital and also for the support they showed to the many staff who were on duty yesterday. </p>
<p>'We heard from the unions that they were intent on paralysing London, but our customers and staff simply refused to let that happen&nbsp;- defying this cynical and needless strike action.</p>
<p>'We remain ready for constructive talks with the leaders of the RMT and TSSA at any time. </p>
<p>'It was LU that asked ACAS to invite the unions for talks last week, and we extend that invitation once more. </p>
<p>'But LU will not stay rooted in the past - we have been clear that we need to change, and we have a clear responsibility to provide value for money for taxpayers and fare payers. </p>
<p>'We are determined deliver that change in a way which is fair for our staff and customers, with no compulsory redundancies and stations remaining staffed at all times.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Some LU ticket offices now regularly sell fewer than 10 tickets an hour. The quietest ticket offices include North Ealing, which sells under tickets per hour, and Latimer Road and Moor Park, which sell only around seven tickets per hour</li>
<li>Overall, sales from ticket offices are down 28 per cent over the last four years as more and more people switch to Oyster, just one in 20 Tube journeys now starts with a visit to a ticket office</li>
<li>Under LU's proposals staff will be more effectively deployed to areas of stations where they can better assist customers, removing duplication of roles whilst delivering the best possible value for fare and taxpayers</li>
<li>The proposed changes would mean a reduction in the total number of posts across LU, but will involve no compulsory redundancies, and will have no impact on the Tube's high safety standards</li>
<li>The changes would not affect Tube drivers, and the majority of the roughly 800 posts that are identified for reduction are ticket office staff; this also includes a saving of around 150 posts from reductions in management and administrative staff. This is out of a total of around 19,000 LU staff, so represents less than five per cent of the workforce. Some 250 positions are already, or are expected to become vacant, so these would merely not be filled</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London has thanked customers for their patience and determination, and staff for keeping London moving, as Tube services in the Capital return to normal following industrial action called by the leaderships of the RMT and TSSA unions.Despite";}
        
        


 