


@{ViewBag.Title = "TfL advice to Londoners during RMT/TSSA Tube strike: 17:00 update";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL advice to Londoners during RMT/TSSA Tube strike: 17:00 update</h1>
        <div class="content-page-press-release">
        07 September 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Well over a third of Tube trains are currently in operation, with more expected during the evening peak. A full service is expected to resume tomorrow morning.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Londoners will face some disruption, but well over a third of Tube trains are running and we will get people home"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">MD London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Londoners will face some disruption, but well over a third of Tube trains are running and we will get people home
                            
                        </p>
                    </div>
                
            
            
            <p>Well over a third of London's Tube trains are operating despite a strike on London Underground (LU) called by the leaderships of the RMT and TSSA unions, and more are expected later during the evening peak. </p>
<p>Passengers will have a service on almost all of London's Tube lines. </p>
<p>The District line will now run a service between Ealing Broadway and High Street Kensington during the evening peak, and the Piccadilly line will serve Heathrow 123 from Acton Town.</p>
<p>Ahead of the strike, TSSA union Gerry Doherty leader predicted that London would be 'paralysed' by the strike. </p>
<p>This prediction has not been borne out by the reality, with services currently operating as follows:</p>
<ul>
<li>A good service is operating on the Northern line, although some stations are currently closed</li>
<li>A service is operating on the Victoria line between Seven Sisters and Victoria stations</li>
<li>The Jubilee line is operating a service between Finchley Road and Stanmore, and between Waterloo and Stratford</li>
<li>The Bakerloo line is operating between Queen's Park and Elephant &amp; Castle</li>
<li>The District line is operating between Wimbledon/Ealing Broadway in the west and Barking in the east</li>
<li>The Metropolitan line is operating between Baker Street and all northern branches of the line, with all stations open</li>
<li>The Piccadilly line is operating between Arnos Grove and Cockfosters and between Acton Town and Heathrow 123</li>
<li>The Hammersmith &amp; City line is operating between Hammersmith and Baker Street</li>
<li>Services are also running on the east and west ends of the Central line</li></ul>
<p>The situation is fluid, with other Tube services operating services when possible. Disruption is possible throughout the day, and passengers are advised to check before travelling&nbsp;at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a></p>

<p>Good services are operating on the bus network, Docklands Light Railway (DLR), and London Overground.&nbsp;</p>
<p>Extra bus services have been provided, along with extra capacity for an additional 10,000 journeys on river services, marshalled taxi ranks, and guided cycle rides.</p>
<p>Volunteers are on hand at bus, Tube, and rail stations to help passengers and distribute walking maps and other useful information. </p>
<h2>Extra services running</h2>
<p>Mike Brown, Managing Director&nbsp;of&nbsp;LU, said: 'We are doing everything to run as many Tube services as possible this evening, and we are providing extra buses, river services, and other alternatives. </p>

<p>'Londoners will face some disruption, but well over a third of Tube trains are running and we will get people home. </p>

<p>'The paralysis of London predicted by the leadership of the TSSA union has failed to materialise, and we are confident of running a good service tomorrow morning.</p>

<p>'The RMT and TSSA leaderships have chosen to disrupt Londoners for no good reason. </p>

<p>'The safety argument they deployed - which has never been raised in any formal forum&nbsp;- is completely without foundation. </p>

<p>'It is simple scaremongering designed to mask their wish to strike.</p>

<p>'Londoners will doubtless find it incredible that the two union leaderships have pursued this action when they have been given cast-iron assurances that the staffing changes we are making come with no compulsory redundancies, that every station that currently has a ticket office will retain one, and that every station will remain staffed at all times.'</p>

<p>
<hr>
<strong></strong></p>

<p><strong>Notes to editors:</strong></p>

<p>
<ul>
<li>Some LU ticket offices now regularly sell fewer than 10 tickets an hour. The quietest ticket offices include North Ealing, which sells under six tickets per hour, and Latimer Road and Moor Park, which sell only around seven tickets per hour </li>
<li>Overall, sales from ticket offices are down 28 per cent over the last four years as more and more people switch to Oyster, just one in 20 Tube journeys now starts with a visit to a ticket office </li>
<li>Under LU's proposals staff will be more effectively deployed to areas of stations where they can better assist customers, removing duplication of roles whilst delivering the best possible value for fare and taxpayers </li>
<li>The proposed changes would mean a reduction in the total number of posts across LU, but will involve no compulsory redundancies, and will have no impact on the Tube's high safety standards </li>
<li>The changes would not affect Tube drivers, and the majority of the roughly 800 posts that are identified for reduction are ticket office staff; this also includes a saving of around 150 posts from reductions in management and administrative staff. This is out of a total of around 19,000 LU staff, so represents less than five per cent of the workforce. Some 250 positions are already, or are expected to become vacant, so these would merely not be filled<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Well over a third of London's Tube trains are operating despite a strike on London Underground (LU) called by the leaderships of the RMT and TSSA unions, and more are expected later during the evening peak. Passengers will have a service on almost all of";}
        
        


 