


@{ViewBag.Title = "Travel advice during the Pope's visit to London: 17-18 September";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Travel advice during the Pope's visit to London: 17-18 September</h1>
        <div class="content-page-press-release">
        10 September 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Pope Benedict XVI will be visiting London for a series of events taking place on Friday 17 and Saturday 18 September.
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) is working with&nbsp;the Government, the Metropolitan Police, event organisers and other agencies to ensure that people travelling to and from the events can do so quickly and safely, and to minimise disruption caused by road diversions and closures.</p>
<p>Those wishing to see the Pope are advised to plan their trips well in advance, and public transport will be the easiest way to get to and from all events.</p>
<p>People are advised to check&nbsp;the <a href="http://www.tfl.gov.uk">TfL website</a>&nbsp;to plan their route, and for updates on Tube engineering works and transport service changes that may affect journeys.</p>
<p>The following travel information is being given to all those attending the events:</p>
<h2>Friday 17 September</h2>
<p>From 17:00 the Pope will travel from a private event at Lambeth Palace by Popemobile across Lambeth Bridge and along Millbank to the Palace of Westminster (Westminster Hall) for a private event.</p>
<p>Those wishing to see the Pope should gather on Millbank. </p>
<p>The Metropolitan Police will be carrying out road closures as required on the following roads from 11:30 - 21:00: Parliament Square, Westminster Bridge, Lambeth Bridge, Whitehall, Millbank, Old Palace Yard, St.Margaret's Street, Bridge Street, Broad Sanctuary, Victoria Street and&nbsp;Horseferry Road&nbsp;between Millbank and Marsham Street.</p>
<p>A number of bus routes will be diverted, or stop short of their destinations.&nbsp;</p>
<p>From 11:30 to 21:00 the route 507 will not operate.</p>
<p>Parking suspensions will be in place as necessary on: Lambeth Road (between Lambeth Palace Rd&nbsp;and Pratt Walk), Great Smith Street, Great Peter Street, Great College Street, Tothill Street, Storeys Gate, with other locations possibly required.</p>
<h2>Saturday 18 September (morning)</h2>
<p>Victoria Street, Horseferry Road and the surrounding area will be closed as necessary by the Metropolitan Police from 07:00 as the Pope will be attending a mass at Westminster Cathedral. </p>
<p>The roads should reopen from lunchtime onwards.</p>
<p>Bus routes 11, 24, 148, 211 and 507 will be diverted via Vauxhall Bridge Road and Millbank in both directions.</p>
<p>Parking suspensions will be in place on: Ambrosden Avenue, Thirleby Road, Morpeth Terrace, Howick Place, Ashley Place, Francis Street, Victoria Street and Palace Street.</p>
<h2>Saturday 18 September (afternoon/evening)</h2>
<p>On Saturday evening the Pope will attend a prayer vigil in Hyde Park. </p>

<p>The event is open only to those with pre-allocated pilgrim passes, available through local diocese. </p>
<p>People who do not have pilgrim passes should gather along the Mall and Constitution Hill to see the Pope travelling to the vigil in the Popemobile, passing the area from 18:00. </p>
<p>Pilgrims travelling to the Hyde Park event are strongly advised to use public transport, as parking&nbsp;- including the dropping off and picking up of pilgrims - will not be possible due to diversions and road closures in the area around the park. </p>
<p>There are a number of London Underground stations within easy walking distance, including Marble Arch, Green Park, Knightsbridge, and Hyde Park Corner.<br>&nbsp;<br>From 12:00, the Metropolitan Police will be enacting road closures as necessary at the following locations to assist with crowd arrival/dispersal: St James's Park, Hyde Park Corner, Park Lane, Marble Arch and all approaches.</p>
<p>Drivers are advised to avoid the area unless absolutely necessary.</p>

<p>A number of&nbsp; bus routes will be diverted, and parking suspensions will be in place throughout the area.</p>
<p><strong>Additional closures</strong> </p>

<p>Some road closures are also likely to be required by the Metropolitan Police in the Twickenham area on 17 September, and in the Wimbledon area from the evening of 16 September through to the morning of 19 September, to allow for the safe movement of the Pope. </p>
<p><strong>Pilgrims with disabilities</strong></p>

<p>A small number of car parking spaces will be available in Hyde Park for disabled pilgrims on a first-come first-served basis. </p>

<p>Pilgrims with disabilities can call 0843 222 1234 to speak to a TfL adviser for further advice.</p>
<p><strong>Coach Travel</strong></p>

<p>Coach companies and pilgrim leaders should not travel into central London as there will be significant road closures and diversions in place which will make parking, dropping off and picking up difficult. </p>
<p>There is discounted parking at &pound;20 per coach for the day at Wembley Arena and at the O2, and parking must be booked in advance.</p>

<p>&nbsp;Further information can be found on the <a href="http://www.tfl.gov.uk">TfL website</a>, by contacting the TfL coach helpline on 0845 604 0770 or by emailing&nbsp;<a href="mailto:coaches&#64;tfl.gov.uk">coaches&#64;tfl.gov.uk</a>.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) is working with&nbsp;the Government, the Metropolitan Police, event organisers and other agencies to ensure that people travelling to and from the events can do so quickly and safely, and to minimise disruption caused by road";}
        
        


 