


@{ViewBag.Title = "Works begin to build new maintenance facility at Neasden Depot";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Works begin to build new maintenance facility at Neasden Depot</h1>
        <div class="content-page-press-release">
        28 September 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Facilities will accommodate new air conditioned Tube trains. Europe's biggest mobile crane brought in to install 93 ton bridge.
        
    </div>



 <div class="on-this-page">
<p>A 93 ton bridge was installed at Neasden depot last weekend as part of works to build a new train maintenance facility at the depot. </p>
<p>The installation of the bridge will mean that disruption to the depot is minimised while the new lifting and maintenance facility is being constructed. </p>
<p>The new facilities will accommodate the new air conditioned trains that will serve the Metropolitan line, providing more room and more up-to-date maintenance equipment.</p>
<p>The Bailey bridge, which is approximately 93 tons and 54m long, was installed using Europe's largest mobile crane. </p>
<p>David Waboso, London Underground's Capital Programmes Director, said: 'The work that took place last weekend to install the bridge was a mammoth task, with the crane used to install the bridge taking over three days to put together. </p>
<p>'However the successful installation of the bridge will mean that any disruption to build the new maintenance facility will be kept to a minimum.'</p>
<p>Last month Metropolitan line customers welcomed the Underground's first air conditioned train. </p>
<p>It is the first of a 191 fleet of brand new walk-through trains that will serve the Metropolitan, Circle, Hammersmith &amp; City and District lines, 40 per cent of the Tube network.&nbsp; </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Pictures available on request </li>
<li>The sub-surface railway lines carry one third of the Underground's passengers and cover 300km of track </li>
<li>The crane was supplied by Mammoet </li>
<li>The Bailey bridge weighs approximately 93 tons and is 54m long by 8m wide </li>
<li>The first of the s-stock trains is now in passenger service on the Metropolitan line, with the roll-out complete by 2011. They will start being delivered on the Circle and Hammersmith &amp; City lines from 2011 and start operating on both lines from 2012. The District line will follow in 2013 and all trains will be on the network from 2015 </li>
<li>The upgrade of the sub-surface railway will deliver substantial increases in capacity: 65 per cent&nbsp;on the Circle and Hammersmith &amp; City lines, 24 per cent&nbsp;on the District line, and 27 per cent&nbsp;on the Metropolitan line </li>
<li>The first section of the Tube opened in 1863 between Paddington and Farringdon, and is still served in whole or in part by all four lines - the Circle, District, Hammersmith &amp; City and Metropolitan lines </li>
<li>London Underground is undertaking a major programme of renewal as part of Transport for London's (TfL's) Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground and Docklands Light Railway passengers to <a href="http://www.tfl.gov.uk/check">check before they travel </a>at weekends, allowing extra journey time where necessary</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A 93 ton bridge was installed at Neasden depot last weekend as part of works to build a new train maintenance facility at the depot. The installation of the bridge will mean that disruption to the depot is minimised while the new lifting and maintenance";}
        
        


 