


@{ViewBag.Title = "Crossrail 2 top of London's list";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Crossrail 2 top of London's list</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Crossrail 2 top of London's list</h1>
        <div class="content-page-press-release">
        15 January 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Crossrail 2 recognised by business as top of London's list for next major infrastructure project
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We're seeing strong recognition from the business community that this project could have major benefits for London, helping to boost rail capacity and the creation of new jobs and homes in the capital and beyond."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>TfL appoints consultancy groups to develop Crossrail 2 project plans and help make the case for funding</li>
</ul>
<p>Transport for London (TfL) has appointed four major consulting groups who will help develop more detailed plans for Crossrail 2, the proposed major new rail line which would deliver much needed extra transport capacity in the capital.</p>
<p>This comes as the business community recognised the significance of Crossrail 2 as a vital infrastructure project, with Crossrail 2 topping the bill for 'Investing in London's future' at an awards ceremony on 13 January. The scheme was recognised at the London Awards, organised by London First, for its potential to help London grow and remain globally competitive, driving growth across the national economy.</p>
<p>Linking key growth areas in south-west and north east London, Crossrail 2 will also serve some destinations in Surrey and Hertfordshire using the existing National Rail network. Initial proposals have been consulted on publicly and the Department for Transport is currently consulting on safeguarding along the route.</p>
<p>Writing in the Evening Standard on 2 December 2014, the Chancellor of the Exchequer, George Osborne MP backed the Mayor and TfL's plans for Crossrail 2, saying 'I remember people talking about the Chelsea to Hackney Tube line when I was a kid. Now we need to look at how to get the idea off the page and into construction.' </p>
<p>TfL is taking this forward by further developing proposals for the new rail line and will be working with the consultants on their areas of expertise. Further public consultations will take place before an application for powers to build the new railway is submitted in 2017.</p>
<p>The consultants chosen formed part of TfL's Engineering and Project Management Framework (EPMF) and were selected following a competitive tendering process.  Each set of consultants has been commissioned to offer specialised advice and will work closely with TfL to deliver these plans.</p>
<p>The winning bidders along with their project area are:</p>
<ol>
    <li>ARCADIS Hyder (in partnership with Weston Williamson, VINCI Construction, Interfleet and First Class Partnerships and Dr Sauer &amp; Partners) &#45; engineering/technical aspects;</li>
    <li>CH2MHILL / Atkins (CAST)&#45; strategic modelling, route development; planning, appraisal and evaluation;</li>
    <li>MTEW (Mott MacDonald Ltd, Temple Group Ltd, ERM, and WSP Ltd) &#45; environment and sustainability;</li>
    <li>AECOM, Weston Williamson, and Turkington Martin - town planning, economic development, socio-economic and urban design.</li>
</ol>
<p>Mayor of London, Boris Johnson, said: </p>
<p>'There is now real momentum behind Crossrail 2 and a growing sense that we can get it off the drawing board. We're seeing strong recognition from the business community that this project could have major benefits for London, helping to boost rail capacity and the creation of new jobs and homes in the capital and beyond.'</p>
<p>Mich&egrave;le Dix CBE, TfL's Managing Director for Planning, who will soon be taking up the post of Managing Director of Crossrail 2 to work with Daniel Moylan, the Mayor's advisor on the project, said: </p>
<p>'The appointment of these four major consultancies is another important step in taking Crossrail 2 forward. They will work with us to help make the case for Crossrail 2 and prepare more detailed proposals for public consultation later in the summer.'</p>
<p>Baroness Jo Valentine, CEO of business group London First, which organises the London Awards, said: </p>
<p>'Crossrail 2 will be a game changer that will bring huge benefits to London, the south east and the UK. It will provide new homes and jobs across the region, and improve the quality of life for people travelling in and around London.</p>
<p>'As Crossrail 1 has shown, we have world class capability when it comes to planning and delivering this sort of project. We need Crossrail 2, we have the skill to build it, now we need to get on with it.'</p>
<p>Crossrail 2 will play a vital role in supporting London's growth adding 10 per cent more rail capacity.  The Mayor's 2050 Infrastructure Plan identified the need for 60 per cent more public transport capacity to support growth across London. Crossrail 2 would create a new high frequency, high capacity rail line with shorter journey times between south west and north east London.</p>
<p>The Crossrail 2 route is designed to address capacity constraints as well as providing vital new connections across the capital supporting the UK's single largest employment area, providing opportunities for thousands of new jobs. It would also unlock large areas of outer London and beyond, including the Upper Lea Valley, for sustainable new homes, supporting up to 200,000 new homes along the route.</p>
<p>The new rail line would create additional capacity and quicker journeys, transporting up to 90,000 people in the morning peak, and relieve congestion across the existing rail network including at Waterloo by diverting services into a new tunnel under London.</p>
<p>Crossrail 2 is being developed jointly by TfL and Network Rail.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>The London Awards aim to mark key individuals, activities and projects that have contributed to making London the best city in the world in which to work and play. Winners were voted for by the members of business group London First, which organised the awards.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-January-Crossrail 2 top of London's list -->

 
 
        
        
            @{ViewBag.Description = "Crossrail 2 recognised by business as top of London's list for next major infrastructure project";}
        
        


 