


@{ViewBag.Title = "Customer advice during major NR work at London Bridge";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Customer advice during major NR work at London Bridge</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Customer advice during major NR work at London Bridge</h1>
        <div class="content-page-press-release">
        09 January 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL reminds customers that several already busy London Underground and London Overground stations are likely to be busier than usual during the changes to National Rail services that start on Monday 12 January
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) is reminding customers that long term National Rail service changes being undertaken by Network Rail at London Bridge mainline station are likely to result in busier than usual services, on certain parts of the transport network, as some customers who usually travel directly to London Bridge by rail use TfL services instead.</p>
<p>From 12 January 2015 until August 2016, major Network Rail modernisation work will take place at London Bridge station and Southeastern rail services to and from Charing Cross will not call at London Bridge.  Southeastern services from New Cross, St. Johns, Deptford, Greenwich, Maze Hill and Westcombe Park stations will no longer operate to and from London Charing Cross or Waterloo East, and will instead operate to and from London Cannon Street. No Bedford to Brighton Thameslink trains will call at London Bridge station until January 2018.</p>
<p>London Bridge Underground station will operate as normal throughout all the work. The Jubilee line at London Bridge, and other stations including Blackfriars, Cannon Street, Charing Cross, Embankment, Elephant and Castle, Southwark, Victoria and Waterloo are likely to be busier than usual due to diverted National Rail passengers.  Parts of the London Overground network, especially Canada Water, Brockley and New Cross, the DLR and some bus services are also likely to be busier.  Customers who have flexibility in their journey times are advised to avoid peak times at Canada Water if they can.</p>
<p>Extra station and bus staff are being deployed to offer additional customers assistance, and dozens of extra services on the bus network are being provided, including:</p>
<ul>
    <li>Ten additional double deck buses on Route 21 between London Bridge to Lewisham via New Cross during the evening peak</li>
    <li>Ten additional buses on Route 47 between London Bridge (Duke Street Hill) and Lewisham via Bermondsey</li>
    <li>Ten additional Route 381 buses acting as a shuttle between London Bridge and Waterloo stations during the morning and evening peaks</li>
</ul>
<p>Cannon Street mainline and Tube station will open seven days a week with extended hours to accommodate additional rail passengers.</p>
<p>Network Rail passengers who have a London Terminals season ticket may need to update their ticket to ensure it is valid for travel on the TfL network.  For more information on updating tickets customers are being advised to speak to staff at any National Rail ticket office, or visit:  <a href="http://www.ThameslinkProgramme.co.uk/key-dates-and-service-changes/january-2015/">www.ThameslinkProgramme.co.uk/key-dates-and-service-changes/january-2015/</a></p>
<p>Mike Brown MVO, Managing Director of London Underground, said: `During Network Rail's modernisation work at London Bridge rail station, several London Underground and London Overground stations are likely to be busier than usual. We are accepting tickets at key stations from passengers whose journeys to London Bridge are affected, and deploying extra staff to assist customers and putting on dozens of extra bus services out of London Bridge and Waterloo. We will continue to keep all our customers informed with regular travel information via our staff, website and social media. As always, if you have the flexibility to do so, please think about timing your journey outside the busiest times.`</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-January-Customer advice during major NR work at London Bridge -->

 
 
        
        
            @{ViewBag.Description = "TfL reminds customers that several already busy London Underground and London Overground stations are likely to be busier than usual during the changes to National Rail services that start on Monday 12 January";}
        
        


 