


@{ViewBag.Title = "Cycle training for riders of all ages and abilities";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Cycle training for riders of all ages and abilities</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Cycle training for riders of all ages and abilities</h1>
        <div class="content-page-press-release">
        07 January 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New bike for Christmas? TfL reminds cyclists new and old to take up cycle training
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"A new bike is a perennial favourite Christmas present for all ages and cycle training is a gift that keeps on giving. We would like to see all new cyclists get involved with cycle training to equip themselves with the skills for travelling on London's roads"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ben Plowden</div>
            <div class="quotee-job-title">Director of Strategy and Planning, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Cycle training for riders of all ages and abilities available across London</li>
    <li>Training covers a range of topics including building confidence, how to position yourself on the road and riding in traffic</li>
</ul>
<p>Whether new to two wheels or a seasoned pedaller, Transport for London (TfL) is reminding all Londoners that they can get tailored cycle training from their local boroughs.</p>
<p>The training, which is available from most London boroughs for free or a small fee, provides advice and safety tips to cyclists of all ages and abilities. All cycle trainers are accredited through Bikeability -  the 'cycling proficiency for the 21st century' - and the training is designed to give people the skills and confidence to ride their bikes on London's roads. </p>
<p>Information on how and where to book cycle training can be found on the TfL website at <a href="http://www.tfl.gov.uk/cycletraining">www.tfl.gov.uk/cycletraining</a>.</p>
<p>The reminder comes as many people will have received new bikes, or spruced up their beloved bike, for Christmas. Cycle training is just as important for building confidence as it is for developing advanced skills for cycling in urban environments.  Of those who participated in cycle training last year, around 60 per cent were beginners but only around 20 per cent were regular cyclists, cycling multiple times a week, and the aim is to increase this in 2015.</p>
<p>Ben Plowden, TfL's Director of Strategy and Planning, said: </p>
<p>'A new bike is a perennial favourite Christmas present for all ages and cycle training is a gift that keeps on giving. We would like to see all new cyclists get involved with cycle training to equip themselves with the skills for travelling on London's roads. More experienced cyclists can definitely benefit too &#45; advanced training sessions can challenge perceptions, help shake off bad cycling habits and improve safety on the road.</p>
<p>'Free training is available in most London boroughs, or for a small fee in others, and is invaluable to anyone taking to two wheels this year.'</p>
<p>Cycling in London has continued to grow rapidly and taking to two wheels is a fun way for people to keep fit while getting around their local area - cycle training teaches the important skills needed to ride more safely.</p>
<p>For younger cyclists, the Bikeability scheme rewards youngsters for taking part in cycle training by allowing them to work their way through three levels as they move from primary to secondary school. The levels build from learning how to control their bike in a safe, off-road environment up to cycling on busier roads and managing complex junctions in London. Bikeability cycle training is available free to nearly all schools in London.</p>
<p>For adult cyclists, less experienced riders can undertake cycle training starting off in a traffic-free space such as a park. Riders then learn how to deal with traffic, position themselves on the road and find appropriate cycling routes for their everyday journeys. Training for more experienced adult cyclists helps to correct any bad habits that may have been picked up along the way. The training also allows riders to find out the latest bike maintenance tips and fine-tune their road skills.</p>
<p>TfL continues to work with British Cycling to help new cyclists gain confidence by also offering guided cycle rides across London. Riding with others in a group with a professional, trained leader is fun and helps people new to cycling get the confidence they need to cycle more regularly. More than 200 rides are already planned to take place during 2015, including a number of rides specifically just for women.</p>
<p>British Cycling's recreation and partnerships director, Stewart Kellett, said: </p>
<p>'There is no greater gift than a shiny new bike for Christmas and lots of Londoners will be raring to get out there and ride. The prospect of completing a ride on the open road can sometimes seem daunting for cyclists new and old. That's where our Sky Ride Local, Ride Social and Breeze rides can help.</p>
<p>'The rides are a fun and social way to build confidence and explore new routes. With many choosing cycling as their new year's resolution, we're looking forward to welcoming hundreds of new people to our rides this year.'</p>
<p>&nbsp;</p>
<hr />
<p >Notes to Editors:</p>
<ol>
    <li>The number of cyclists on London's roads has more than doubled in the past decade. For more information about cycling in the capital go to <a href="http://www.tfl.gov.uk/cycling">www.tfl.gov.uk/cycling</a></li>
    <li>In March 2013, the Mayor launched his Vision for Cycling in London, which detailed his &pound;913m programme to improve infrastructure and safety for cyclists in the capital. For more information visit www.tfl.gov.uk/cyclingvision</li>
    <li>For more information and to book cycle training courses go to: www.tfl.gov.uk/cycletraining.</li>
    <li>Schools interested in arranging cycle training should contact their borough council's road safety officer or school travel adviser for more details.</li>
    <li>More information about 'Bikeability' can be found at: <a href="https://bikeability.dft.gov.uk/">https://bikeability.dft.gov.uk/</a></li>
    <li>British Cycling run three types of group rides:</li>
</ol>
<ul>
    <li>Sky Ride Local &#45; All the planning is done, including finding the best routes with trained up Ride Leaders for guide and support, and some stunning and iconic places to visit along the way. With three different levels &#45; from easygoing to challenging &#45; there's something for everyone, whether it's for building confidence or looking to stretch the legs on a cycling challenge.</li>
    <li>Breeze &#45; British Cycling's Breeze programme is the biggest initiative ever to get more women into riding bikes for fun. The Breeze champions are trained to organise friendly, social bike rides. The three levels ensures rides can be provided for everyone, whatever experience or goals.</li>
    <li>Ride Social &#45; Cyclists can ride their own way with Britain's biggest online network for cycling. The online platform gives cyclists the opportunity to connect with each other and plan routes, interact, form groups and arrange their next ride.</li>
    <li>For more information about these rides visit <a href="http://www.goskyride.com">www.goskyride.com</a>.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-January-Cycle training for riders of all ages and abilities -->

 
 
        
        
            @{ViewBag.Description = "New bike for Christmas? TfL reminds cyclists new and old to take up cycle training ";}
        
        


 