


@{ViewBag.Title = "First transport Criminal Behaviour Order secured";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">First transport Criminal Behaviour Order secured</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>First transport Criminal Behaviour Order secured</h1>
        <div class="content-page-press-release">
        20 January 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New Met Police command secures England's first transport Criminal Behaviour Order
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL), in partnership with the Metropolitan Police Service (MPS) Roads and Transport Policing Command (RTPC), has obtained the country's first transport focused Criminal Behaviour Order (CBO) for theft offences committed on the transport network.</p>
<p>Mr Sheavon Cunningham, who preyed on elderly and vulnerable victims, was handed the CBO, which will last for five years, at the Inner London Crown Court on 19 December 2014. This is in addition to a three years and four months jail sentence for each theft, to run concurrently.</p>
<p>In September 2014 Mr Cunningham targeted a 90 year old woman on the bus network, stealing her purse &#45; a Christmas present from her daughter of great sentimental value. In the same month he went on to steal a 67 year old bus passenger's purse, which contained an irreplaceable memorial card from her husband's funeral.</p>
<p>Mr Cunningham had previously received an Anti Social Behaviour Order (ASBO) from the British Transport Police, which prevented him from using the London Underground after he committed similar offences.</p>
<p>Following a thorough investigation by the MPS RTPC, which is joint-funded by TfL and the MPS, Mr Cunningham was caught and arrested.</p>
<p>The CBO imposed the following prohibitions, which if broken could result in further terms of imprisonment:</p>
<ul>
    <li>Boarding, attempting to board, queuing to board or travelling on any bus, Tube, train, tram or river bus operated by or on behalf of TfL without being in possession of and using a valid Oyster card with sufficient credit to travel and registered in his name and at his permanent home address;</li>
    <li>Placing his hand in any person's bag, pocket or article of clothing or interfering with any person's bag or article of clothing not belonging to him, in any place within England and Wales.</li>
</ul>
<p>Steve Burton, TfL's Director of Enforcement and On-street Operations, said: `Thanks to the great work and partnership between TfL and the MPS RTPC, we have successfully prosecuted this cowardly individual. His act of preying on vulnerable, elderly victims was inexcusable.</p>
<p>"This is the first transport related CBO of this kind in the country, and it demonstrates that we are dedicated and committed to reducing crime on the network and ensuring the safety and security of all of our customers."</p>
<p>Superintendent Robert Revill, Roads and Transport Policing Command (RTPC), said: `The Roads and Transport Policing Command and Transport for London are dedicated to keeping the roads and surface transport network a safe and secure environment.</p>
<p>`Mr Cunningham's crimes were particularly despicable as he preyed on elderly and vulnerable bus passengers who also lost irreplaceable, sentimental items as a result of his crimes. The seriousness of his crimes is reflected in his sentence - a lengthy jail term followed by a severely restrictive Criminal Behaviour Order on release.</p>
<p>`We will continue to work together with our partners to achieve even lower crime, fewer victims, and increase the confidence of the travelling public. If you commit an offence, you will be caught and if convicted every avenue of punishment will be considered.'</p>
<p>The RTPC is a new, single police command created to further improve the safety and security of London's roads, bus network and other surface transport services. More than 2,300 Police and Police Community Support Officers work closely with TfL making it the largest police command in the UK. Despite record passengers numbers in 2013/14, crime across London's transport network overall (including Tube, DLR and London buses) was down by over 11% compared to the previous year. The rate of transport crime has fallen to under eight crimes per million passenger journeys - the lowest ever level.</p>
<p>On 20 October 2014 the Government introduced the Anti-Social Behaviour Crime and Policing Act 2014, which provides simpler, more effective powers to tackle anti-social behaviour. The Criminal Behaviour Order is issued by the courts once a conviction has been secured for a criminal offence. This order bans an individual from selected places and activities. A breach of this order could result in a prison term of up to five years.</p>
<hr />
<p>•	The CBO is against Mr. Sheavon Cunningham of Lodge Lane, Grays, Essex RM17 (D.O.B. 09/04/86)</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-January-First transport Criminal Behaviour Order secured -->

 
 
        
        
            @{ViewBag.Description = "New Met Police command secures England’s first transport Criminal Behaviour Order";}
        
        


 