


@{ViewBag.Title = "Foundations laid  for development of London properties";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Foundations laid  for development of London properties</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Foundations laid  for development of London properties</h1>
        <div class="content-page-press-release">
        28 January 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"The ambitious plans to redevelop some of TfL's land and assets presents a
 fantastic opportunity to support this important work and ensure public 
land creates homes for Londoners"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>TfL to launch tender process to establish property development partnerships</li>
    <li>Part of TfL's plans to generate more non fare revenue to reinvest in the transport network and to help bear down on fares</li>
    <li>Francis Salway appointed as Chairman of TfL's non-executive property advisory group</li>
</ul>
<p>The Mayor of London, Boris Johnson and Transport for London (TfL) have today announced ambitious plans to develop TfL's property estate by creating property development partnerships as part of its wider programme to generate &pound;3.4bn in non fare revenue over the next ten years. The revenue generated will be reinvested in the transport network and help TfL and the Mayor bear down on fares.</p>
<p>TfL has a 5,700 acre property portfolio that makes it the custodian of one of the largest and most valuable estates in London. Its property estate includes buildings and land attached to Tube stations, railways and highways.</p>
<p>In February, TfL will launch a tender process to appoint a small number of property development partners to take forward a range of sites over the next decade with a view to maximising the long-term development value of its estate. It will be bringing forward up to 50 sites with around 10 million square foot of development potential.</p>
<p>With London's continuing success meaning that its population is set to grow from 8.4m today to around 10m by 2030, it is vital that the modernisation of London's transport network is supported through continued sustainable investment and that suitable property is utilised for new housing and services.</p>
<p>TfL has some of the most iconic and valuable assets in London and much of its property portfolio is at the heart of the city. Previously TfL sold assets and properties it no longer needed, but in recent years it has taken a new approach to retain and invest in a number of sites to generate long-term revenue and the best outcomes for London.</p>
<p>Graeme Craig, TfL's Director of Commercial Development, said: `London's population is set to grow from 8.4m today to 10m by 2030, the equivalent of one full Tube train arriving every three days. To enable this, London needs more homes and office spaces and the transport network needs sustained, long-term investment. Forming joint venture partnerships with property development experts will enable us to generate long-term income that we can invest in improving our network, which carries over 30 million journeys every day.</p>
<p>`We will be launching a tender process in the coming weeks to identify the best organisations in the world that will help us to achieve this. We've already established a successful partnership on the Earl's Court development and look forward to establishing more for the benefit of Londoners.'</p>
<p>TfL's potential development sites are located across the capital with two-thirds situated in Zones 1 and 2. TfL's sites have the potential to make a real contribution to the city and will help support the UK's economy by providing homes as well as jobs and economic growth.</p>
<p>Mayor of London, Boris Johnson, said: `TfL's role is to look to the future, ensuring that transport continues to support jobs, homes and economic growth across the capital and the UK. The ambitious plans to redevelop some of TfL's land and assets presents a fantastic opportunity to support this important work and ensure public land creates homes for Londoners.'</p>
<p>To support its new commercial development property strategy, TfL will be forming a new non-executive property advisory group. This will be headed by Francis Salway, the former Chief Executive of Land Securities Group Plc.</p>
<p>
Steve Allen, Managing Director of Finance at TfL, said: `I am delighted that Francis is joining TfL to head up our new non-executive property advisory group. He is one of the most respected people in commercial property, and he will bring a wealth of practical experience to TfL as we embark on an ambitious programme of property development.'</p>
<p>In March 2014, TfL formed its first joint venture with Capital and Counties when it merged its freehold of Earl's Court 1 and 2 with Capco's long leasehold on the sites. TfL and Capco have formed Earl's Court Partnership Limited, which will enable the development of Earl's Court 1 &amp; 2 in line with the Earl's Court Masterplan which will deliver 7,500 new homes and 10,000 new jobs.</p>
<p>TfL has already taken a proactive commercial approach to generate vital commercial revenue while improving the services on offer for customers at its stations. This has introduced click and collect partnerships with some of the UK's largest retailers, including: Amazon, Argos, Asda, InPost, Ocado Sainsbury's, Tesco and Waitrose. It has also introduced a collection of pop-up shops at a number of Tube stations and is also generating revenue through advertising, sponsorship and retail, all of which is reinvested back into London's transport network to make journeys better for public transport users.</p>
<p>Ends</p>
<p>Notes to Editors:</p>
<ul>
    <li>TfL operates the Tube network, as well as 5% of London's road network, buses, the DLR, London Overground, London Tramlink, Barclays Cycle Hire, the Emirates Air Line and River Services.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-January-Foundations laid  for development of London properties -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 