


@{ViewBag.Title = "Tunnelling to complete this Spring on Crossrail";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Tunnelling to complete this Spring on Crossrail</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Tunnelling to complete this Spring on Crossrail</h1>
        <div class="content-page-press-release">
        12 January 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Tunnelling to complete this Spring and Liverpool Street to Shenfield rail services to be integrated with TfL in major year for Crossrail
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is another step in our transformation of rail services across the capital as we work to support London's economic growth and meet the demands of the city's rapidly growing population."</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown MVO</div>
            <div class="quotee-job-title">Managing Director of London Rail</div>
        </div>
</div>

 <div class="on-this-page">
<p>During 2015, Crossrail's major tunnelling works will conclude and the focus will shift towards fit-out and implementing railway systems within the tunnels and stations.</p>
<p>Eight 1,000 tonne tunnelling machines have bored over 39 kilometres of new 6.2m diameter rail tunnels under London with tunnelling due to complete in spring 2015. Construction is also advancing on the ten new Crossrail stations and on works above ground west of Paddington and east of Stratford. Over 10,000 people are currently working on Crossrail, including nearly 400 apprentices, with the project at peak rate of construction.</p>
<p>On 31 May this year the rail services between Liverpool Street and Shenfield will join the TfL transport network. This will be the first phase of the introduction of Crossrail, which will be fully integrated with TfL services. Customers will benefit from stations staffed at all times trains are operating as well as better accessibility provision with turn up and go services being offered for those who need ramps to board trains.</p>
<p>Andrew Wolstenholme, Crossrail Chief Executive said: `Crossrail is being delivered on time and within budget. While we are over 60 per cent complete there is still a huge amount of work to be undertaken as the challenge shifts to the complicated and substantial task of fitting out the stations and tunnels with the necessary systems and equipment to enable Crossrail services to operate.`</p>
<p>Mike Brown MVO, Managing Director of London Rail, said: `While construction is forging ahead the first steps towards opening London's new rail line will happen as rail services between Liverpool Street and Shenfield become part of the TfL network this Spring. This is another step in our transformation of rail services across the capital as we work to support London's economic growth and meet the demands of the city's rapidly growing population.</p>
<p>Upcoming Crossrail milestones include:</p>
<ul>
    <li><strong>Major tunnelling for Crossrail to complete in spring 201</strong>5 when tunnelling machines Elizabeth and Victoria reach Farringdon.</li>
    <li>Network Rail to continue <strong>major surface works</strong> on the existing rail network including construction of a landmark new station at Abbey Wood. Major station improvements in outer London will get underway; a number of stations will be completely rebuilt, providing passengers with brighter, more spacious ticket halls.</li>
    <li>The <strong>fit out of Crossrail's tunnels will begin in early 2015</strong>. New track will be laid as well as overhead conductor bar to power the trains, lighting, signalling, ventilation and everything else that is required to run Crossrail's new trains beneath the streets of London.</li>
    <li>As part of the UK's largest archaeology project, <strong>Crossrail will excavate the former Bedlam burial ground in Liverpool Street</strong> from March 2015 to enable construction of the Broadgate ticket hall. The dig will exhume thousands of bodies and artefacts dating from Roman times through to the 18th Century.</li>
    <li><strong>The Wallasea Island nature reserve in Essex, constructed using Crossrail excavated material, will be flooded with sea water in summer 2015</strong>, creating a new wetlands habitat for bird and marine life.</li>
    <li>Joint venture partners will be sought during 2015 for major<strong> above station property developments</strong> at Paddington, Tottenham Court Road West, Fisher Street, Farringdon East and Woolwich.</li>
    <li><strong>Announcement of commissions for the Crossrail Art Programme</strong>, which will see large-scale permanent art-work put in place at seven central London sites.</li>
    <li>Construction of the major <strong>new Crossrail depot at Old Oak Common</strong> is underway and will continue throughout 2015.</li>
    <li>From 31 May 2015, <strong>Transport for London will begin operating the existing rolling stock between Shenfield and Liverpool Street.</strong> There will be staff at every station at all times that trains are running, better accessibility provision, full integration with TfL customer information and with TfL fares and ticketing, including cheaper journeys in many cases using Oyster or contactless pay as you go. TfL will also put in place a phased programme of deep cleaning and painting the stations and introducing help points, CCTV, gate lines and better lighting and customer information.</li>
    <li>Ahead of the new Crossrail trains arriving on the Shenfield to Liverpool Street services in 2017, TfL will clean up the existing trains and refresh them inside and out within six months of transfer.</li>
</ul>
<p>London's population is set to grow from 8.4 million today to around 10 million by 2030. The Government, the Mayor of London and TfL are investing in Crossrail and other transport infrastructure to support access to jobs, education, housing and to boost economic growth. Crossrail is part of TfL's investment programme.</p>
<p>Over the course of the project, it is estimated that Crossrail and its supply chain will support the equivalent of 55,000 full time jobs across the country. More than 8,000 people have completed training at Crossrail's Tunnelling and Underground Construction Academy in Ilford, which opened in 2011.</p>
<p>A total of 84,300 jobs were supported last year across the UK, through TfL's investment programme and Crossrail. TfL and its suppliers have also created over 5,000 apprenticeship roles since April 2009.<br />
Crossrail will add 10 per cent capacity to London's rail network. It will serve 40 stations, connecting Reading and Heathrow in the west with Shenfield and Abbey Wood in the east via central London.</p>
<p>For further information contact the Crossrail Press Office on 020 3229 9552 or email pressoffice&#64;crossrail.co.uk</p>
<p>Key Crossrail milestones to date include:</p>
<ul>
    <li><strong>Start of Crossrail construction</strong> began at Canary Wharf on 15 May 2009</li>
    <li>The first giant <strong>tunnel boring machine broke ground</strong> in May 2012. Since then, 39 out of 42 kilometres of new train tunnels have been created under London. Six of Crossrail's eight tunnelling machines have now completed their drives.</li>
    <li>Another 9.5 kilometres of new <strong>passenger, platform and service tunnels</strong> have been constructed within the new Crossrail stations using a technique called sprayed concrete lining.</li>
    <li><strong>Crossrail rolling stock</strong> and depot contract awarded by Transport for London to Bombardier Transportation and <strong>Crossrail train operating concession</strong> awarded to MTR Corporation.</li>
    <li>The <strong>surface works</strong>, delivered by Network Rail, are now over one-third complete.</li>
    <li>All 40 Crossrail stations will have step free access from street to platform.</li>
    <li>Completion of the <strong>Canary Wharf station ticket hall</strong>, and the roof of Canary Wharf Group's over station development.</li>
    <li><strong>Around 400 apprentices</strong> have gained work on Crossrail. More than 8,000 people have undertaken training at Crossrail's <strong>Tunnelling and Underground Construction Academy</strong> in Ilford, which opened in 2011.</li>
    <li>Excavated items from the <strong>UK's largest archaeology programme</strong> include skeletons from Bethlehem Hospital burial ground, 55 million year-old amber, Roman artefacts and industrial-era factories.</li>
    <li>Crossrail's Community Investment Programme has seen major contractors donating expertise, time and resources to create a lasting benefit to communities neighbouring Crossrail worksites.</li>
    <li>Crossrail has plans in place to develop over three million square feet (gross) of c<strong>ommercial, residential and retail space</strong> above its stations and construction sites. Over 1 million square feet of this now has planning permission including Bond Street West (Davies Street), 101 Moorgate, Fisher Street and a number of developments above Crossrail Tottenham Court Road station</li>
    <li>Alongside the physical railway a <strong>'digital version' of Crossrail</strong> is being built using Business Information Modelling (BIM). This will be passed on to the train operator, helping to reduce long-term maintenance and operating costs, and to other major UK infrastructure projects to assist planning and design.</li>
    <li><strong><em>The Culture Line</em></strong>, a programme to deliver a permanent exhibition of<strong> large-scale world-class artworks</strong> in Crossrail's central London stations is being delivered in collaboration with leading art galleries. The City of London Corporation is 50 per cent match funding the art works.</li>
</ul>
<p><strong>About Crossrail</strong></p>
<p>The total funding envelope available to deliver Crossrail is &pound;14.8bn. Over 60 per cent of Crossrail's costs are funded by Londoners and London businesses.</p>
<p>When operational Crossrail will be part of TfL services, the operation of the services has been let as a concession by TfL.</p>
<p>When Crossrail opens it will increase London's rail-based transport network capacity by 10 per cent, supporting regeneration and cutting journey times across the city. Crossrail services are due to commence through central London in 2018.</p>
<p>Crossrail is being delivered by Crossrail Limited (CRL). CRL is a wholly owned subsidiary of Transport for London. Crossrail is jointly sponsored by the Department for Transport and Transport for London.</p>
<br />
<p>&nbsp;</p>
<ul>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-January-Tunnelling to complete this Spring on Crossrail -->

 
 
        
        
            @{ViewBag.Description = "Tunnelling to complete this Spring and Liverpool Street to Shenfield rail services to be integrated with TfL in major year for Crossrail";}
        
        


 