


@{ViewBag.Title = "London working together to prepare for cold weather ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London working together to prepare for cold weather </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London working together to prepare for cold weather </h1>
        <div class="content-page-press-release">
        29 January 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>As the capital readies itself for the coming cold weather, Transport for London (TfL) and London Councils &#45; the body representing all 32 of London's boroughs and the City of London &#45; are again joining forces to keep London moving.</p>
<p>Co-ordinated plans have been developed alongside the emergency services, in order to keep the transport system and a network of key routes open throughout any severe weather. This includes roads and footways around bus garages and stations, hospitals, railway stations and police, fire and ambulance stations across London.</p>
<p>More than 110,000 tonnes of salt have already been stockpiled by TfL and London boroughs to ensure that all road users, including delivery drivers, pedestrians and cyclists, can continue to get around the capital. A fleet of road gritters will be deployed as required across London to keep roads clear and arrangements are in place to enable boroughs to share salt stores with each other should they require them. The pan-London Strategic Salt Reserve of 28,000 tonnes, which has not been called into use during the past three winters, is also available for TfL and the boroughs to use should supplies become low.</p>
<p>Across London, all transport agencies will be working around the clock to minimise disruption on the Tube, bus, rail and road networks during freezing conditions. On London Underground there are well rehearsed plans that include running de-icing trains overnight, keeping tracks as clear as possible, gritting platforms where required to keep them safe for customers and points &#45; the mechanical parts that operate junctions on the network &#45; will be heated and regularly checked. In order to keep the DLR network moving, points heaters will be in operation and teams of staff will be available to grit stations. Similarly, on London Overground, stations will be gritted and de-icer applied to the rails to ensure minimised disruption.</p>
<p>Londoners and visitors to the city are urged to &quot;check before you travel&quot;, particularly during the cold weather period, and to allow extra journey time where necessary.   Passengers can check before travelling by visiting tfl.gov.uk or following &#64;tfltravelalerts, &#64;tfltrafficnews and &#64;tflbusalerts on Twitter. Information will also be available via posters, leaflets and &quot;service information&quot; boards at Tube stations or by calling the London Travel Info 24-hour telephone helpline on 0343 222 1234. Wi-Fi is also available at 150 Tube stations, giving customers easier access to the latest travel information for all modes of transport on the move.</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL said: `Once again, we have done everything possible to ensure that, should harsh weather conditions hit, we have well rehearsed procedures in place to minimise the consequences. Working closely with all London boroughs, we've ensured that there is a fully co-ordinated response covering all parts of the road and TfL transport network.</p>
<p>`Our staff will be working hard throughout the winter to make sure that the risk of any disruption to the travelling public during freezing conditions is minimised - gritting the roads, de-icing the rails and keeping platforms safe and accessible.`</p>
<p>Nick Lester-Davis, London Councils' Corporate Director, Services, said: `Local authorities are responsible for 95% of London's roads. Throughout the year, London boroughs and their partners have been working on plans to ensure key routes across the capital are kept open during the winter weather for motorists, cyclists and pedestrians.`</p>
<hr />
<ul>
    <li>	TfL is responsible for the treatment of all of London's Red Routes, a network of 580km of key roads that carry a third of all traffic. Throughout winter, a fleet of 40 gritters, all of which are low emission and can be fitted with ploughs, as well as gritting quad bikes, flat bed trucks and teams of operatives will operate across TfL's road network. A list of core bus routes, bus garage locations and bus stands has also been agreed by TfL and the London boroughs to ensure that bus services can be maintained.</li>
    <li>The winter operations plan agreed by TfL and its partner agencies also means that the Barclays Cycle Hire scheme will be open for users during all normal operational conditions although it is left to users to decide whether they wish to make journeys by bike. TfL and London's boroughs will be working to ensure, where possible, that the four current Barclays Cycle Superhighways remain safe to use during the winter months. Additional detailed plans are also in place to ensure Dial a Ride, London River Service and Victoria Coach Station can cope with the winter weather. The Emirates Air Line is designed to operate throughout the year in most weather conditions, however as with any mode of transport there are operational limitations and cable cars are not designed to operate during very strong gusts of wind or when there is a threat of lightning in the immediate area.</li>
    <li> Londoners can also report any road defects at the TfL website via <a href="https://reportit.tfl.gov.uk">https://reportit.tfl.gov.uk</a> or call TfL on 0343 222 1234, who can redirect enquiries to the relevant local authority if necessary.</li>
    <li>TfL, the 32 boroughs and City of London have over 110,000 tonnes of grit available to use between them. Priority routes for gritting are published on borough websites and include main roads, bus routes and roads leading to fire stations and hospitals. Many boroughs will also be gritting pavements in busy areas to help pedestrians and support local businesses. A pan-London Strategic Salt Reserve, which has not needed to be called into use during the past three winter seasons, is also available for TfL and the London boroughs to use should supplies become low throughout the winter.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-January-London working together to prepare for cold weather  -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 