


@{ViewBag.Title = "New Met Police Roads and Transport Policing command created";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New Met Police Roads and Transport Policing command created</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New Met Police Roads and Transport Policing command created</h1>
        <div class="content-page-press-release">
        16 January 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor hails new Met Police command as it ramps up efforts to improve safety across London's roads and surface transport network
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Improving roads and public transport safety is one of my top priorities. This new command means that for the first time ever we now have a single team focusing on doing just that."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>The Mayor of London today hailed the creation of a new, single police command created to further improve the safety and security of London's roads, bus network and other surface transport services.</p>
<p>More than 2,300 Police and Police Community Support Officers will work closely with Transport for London (TfL) as part of a new Metropolitan Police Service (MPS) Roads and Transport Policing Command (RTPC), making it the largest police command in the UK.</p>
<p>Capable of delivering hundreds of thousands more hours a year of road safety activity than before, the new part TfL funded command will be more flexible, with all officers having the responsibility for reducing crime, congestion and collisions. The Command will make roads safer for cyclists and pedestrians, further improving the safety of the taxi and private hire trades and clamping down on illegal touting.</p>
<p>The creation of the command was one of six commitments published by the Mayor and TfL to reduce the number of people killed and seriously injured on London's roads every year.</p>
<p>TfL figures continue to show that numbers of people killed and seriously injured are at their lowest on record, which means that London remains on track to achieve the Mayor's road safety target to reduce the number of people killed or seriously injured on London's roads by 40% by 2020.</p>
<p>The Mayor of London, Boris Johnson, said: `Improving roads and public transport safety is one of my top priorities. This new command means that for the first time ever we now have a single team focusing on doing just that. As we've seen from targeted initiatives such as Operation Safeway, this is a group of officers that can mobilise in large numbers to deliver impressive results and changes in behaviour. Metropolitan Police officers on the transport beat have a hugely challenging job and I applaud them for the sterling work they do. With this new command they're now in a position to help ensure that more people can get from A to B safely and securely."</p>
<p>MPS Commander, Stephen Watson, said: `The Met enjoys a first class partnership with TfL in ensuring that the millions of people who use London's transport system every day are kept safe and that our networks are secure and reliable. Much has already been achieved through our joint efforts and we are confident that this new and fully integrated command will enable us to build on a legacy of success. The fact that there were over 2000 fewer victims of crime on the bus network during the last 12 months alone demonstrates the importance and the effectiveness of our work.</p>
<p>`We will maintain a robust approach to tackling criminality and anti-social behaviour across the network as this is crucial to inspiring confidence in the travelling public. Equally important is our determination to reduce further the number of people killed or seriously injured in collisions on our roads. London has a fantastic resource in its transport infrastructure and we are proud of our role in working with TfL to deliver upon our shared ambition to do the best for all who use our network'.</p>
<p>Leon Daniels, TfL's Managing Director of Surface Transport, said: `We are pleased to be entering a new chapter in our successful partnership with the MPS &#45; which has seen crime on London's buses fall by 60% in the last five years, taking the crime rate to its lowest ever level. For the first time ever, the policing of London's roads, bus network and other surface transport services will come under one single police command, working side-by-side with TfL to ensure we continue to make every journey in London safe, secure and reliable.'</p>
<p>The command structure brings together officers and resources previously working in the MPS Traffic Operational Command Unit and the Safer Transport Command, and takes on some activities previously carried out by Borough Operational Command Units.</p>
<p>It demonstrates the strong commitment from the Mayor, TfL and the MPS to deliver safe, secure and reliable journeys across the road and surface transport network, with its officers working to:</p>
<ul>
    <li>Further reduce crime and anti-social behaviour on London's bus network, continuing the trend that has seen the crime rate on the network fall to its lowest ever level;</li>
    <li>Put new resources behind preventing collisions - targeting illegal or dangerous vehicles and minimising disruption from incidents on the  road network;</li>
    <li>Maintain Safer Transport Teams in every London borough as the bedrock of local transport policing. The teams provide visible officers who address local transport concerns, tackle crime and anti-social behaviour at transport stations and address problems with aggressive driving and cycle theft;</li>
    <li>Bring additional specialist expertise to the investigation of the most serious collisions;</li>
    <li>Continue the successful Operation Safeway, in which hundreds of officers are deployed at junctions across London to enforce the rules of the road and improve safety;</li>
    <li>Provide 24/7 coverage for London's road tunnels, including the Blackwall Tunnel, to deal with collisions and breakdowns and reduce delays.</li>
</ul>
<p>The new structure also means that there will be a flexible 24/7 response to disruption and incidents, which will assist TfL in meeting its journey time reliability targets.</p>
<p>It also means the vital work of the Industrial HGV Task Force, which works to ensure that tipper lorries, construction and waste vehicles are safe for London's roads, will continue and that the commitment made as part of the Mayor's Vision for Cycling will also be maintained, with 50 officers now dedicated to cycle safety and security.</p>
<p>The new police command has been created following the MPS change programme, which will reduce senior management, streamline functions, remove duplication of services and produce total pay savings of over &pound;10m per annum. This will contribute towards the 20/20/20 challenges set out by the Mayor to the MPS - a 20% reduction in seven key neighbourhood crime types, a 20% reduction in budget and a 20% improvement in confidence in the MPS.</p>
<p>It will also help to support the aims of the Mayor and TfL's Road Modernisation Plan, which will see investment of more than &pound;4bn to improve London's roads, the biggest investment in a generation. TfL's financial commitment to policing London's transport network has been maintained.</p>
<hr />
<ul>
    <li>TfL provides 68 per cent of the funding for the Roads and Transport Police Command The Mayor's Right Direction transport safety and security strategy 2010-13 can be found here: <a href="https://www.london.gov.uk/sites/default/files/the_right_direction.pdf">https://www.london.gov.uk/sites/default/files/the_right_direction.pdf</a></li>
    <li>The next iteration, the Right Direction 2, will be published spring 2015.</li>
    <li>Commander Stephen Watson has served within the police service for 25 years. In September 2014 Stephen was appointed Commander for Crime Management, Criminal Justice, and the newly formed Roads &amp; Transport Policing Command (RTPC). Stephen is also the MPS Territorial Policing (TP) Lead for Immigration, Foreign National Offenders, Operation Reclaim (uninsured vehicles), Big Wing (Met mass mobilisation operations), Technology and Mobility (CCTV in Vans, Body Worn Videos, Tablets).</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-January-New Met Police Roads and Transport Policing command created -->

 
 
        
        
            @{ViewBag.Description = "Mayor hails new Met Police command as it ramps up efforts to improve safety across London’s roads and surface transport network";}
        
        


 