


@{ViewBag.Title = "notonthehighstreet sponsors Baby on Board badge";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">notonthehighstreet sponsors Baby on Board badge</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>notonthehighstreet sponsors Baby on Board badge</h1>
        <div class="content-page-press-release">
        19 January 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mind the bump as notonthehighstreet.com becomes the first sponsor of London Underground's Baby on Board badge
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are delighted to have notonthehighstreet.com sponsoring our Baby on Board badges. It's fantastic to be helping mums-to-be in London whilst also generating revenue that we can reinvest back into improving the transport network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Graeme Craig</div>
            <div class="quotee-job-title">Director of Commercial Development, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>First sponsorship deal for Baby on Board badge, which was launched in 2005</li>
    <li>Three year deal will generate over &pound;100,000 a year for reinvestment in the public transport and road networks</li>
    <li>Famous badge retains its existing design and remains free</li>
</ul>
<p><a href="http://notonthehighstreet.com/">Notonthehighstreet.com</a>, the UK's largest curated online marketplace, has become the first sponsor of London Underground's (LU's) Baby on Board badges in an exclusive three year deal.</p>
<p>The sponsorship deal will generate over &pound;100,000 a year over the three year contract and is part of Transport for London's (TfL's) ambitious and creative plans to generate &pound;3.4bn in commercial revenue over the next ten years. The revenue is reinvested back into improving London's public transport and road networks and will help to bear down on fares.</p>
<p>The famous Baby on Board badge has proved a huge success with mums-to-be, with over 130,000 badges handed out for free each year. The sponsorship will mean that the badge will now come with a dedicated notonthehighstreet.com catalogue packed with ideas on everything from announcement cards and original keepsakes, to nursery accessories and more. The catalogue also features hints and tips on travelling on the network, ideas for great places to visit in London with babies and young children, and offers a 10 per cent discount on the <a href="http://notonthehighstreet.com/">notonthehighstreet.com</a> website.</p>
<p>The partnership aims to raise awareness of the badge even further and to make the experience of mums-to-be travelling on London's transport network even easier. The badge was first introduced in 2005 to help combat the awkwardness some mums-to-be feel if they have to ask someone to give up their seat. The badge aims to encourage fellow passengers to help make pregnant women feel more comfortable when they are travelling by offering them a seat when they see someone wearing the badge.</p>
<p>The badge will retain its current famous design and will continue to be provided free by TfL. It is available through TfL's website <a href="http://www.tfl.gov.uk/babyonboard">www.tfl.gov.uk/babyonboard</a> as well as at all Tube stations. Dads-to-be as well as family and friends can collect or apply for a badge to give to an expectant mum.</p>
<p>Graeme Craig, TfL's Director of Commercial Development, said: &quot;We are delighted to have <a href="http://notonthehighstreet.com/">notonthehighstreet.com</a> sponsoring our Baby on Board badges. It's fantastic to be helping mums-to-be in London whilst also generating revenue that we can reinvest back into improving the transport network.&quot;</p>
<p>Ben Carter, Marketing Director, <a href="http://notonthehighstreet.com/">notonthehighstreet.com</a>, said: &quot;We are incredibly excited to announce our partnership with TfL on the sponsorship of the iconic Baby on Board badge. As a company started by two female entrepreneurs and with a large female employee and customer base, we recognise that being a mum-to-be is a special and important time for any woman and understand the value and benefit that baby on board offers expectant mothers and ultimately want to help enhance that experience.&quot;</p>
<p>This partnership also forms a key part of notonthehighstreet.com's marketing strategy as it looks to build connections with key audiences. <a href="http://notonthehighstreet.com/">notonthehighstreet.com</a>, supports a community of over 5,000 small, independent creative businesses and designer makers from across the UK and aims to boost small business by offering their unique, design led products to an online audience of millions.</p>
<p>The sponsorship contract is available on TfL's website <a href="http://www.tfl.gov.uk/corporate/publications-and-reports/contracts">http://www.tfl.gov.uk/corporate/publications-and-reports/contracts</a></p>
<p>London has one of the most accessible transport networks anywhere in the world, with all bus routes served by low-floor wheelchair accessible buses. All DLR stations are step free and all DLR, London Overground and Tramlink services have priority spaces that can be used for buggies. Buggies can also be used on most Thames boats and the crew will find the best place for them to be located on board. On London Underground 66 stations are step free and the District, Jubilee and Northern line trains have multipurpose areas suitable for buggies and luggage. There are also wheelchair spaces on the Victoria and Metropolitan line trains. Over the next 10 years, TfL will provide step&#45;free access to at least an extra 28 stations across London Underground and the London Overground network, and all stations on the TfL-run Crossrail network will be step-free.</p>
<p>Ends</p>
<p>Notes to Editors:<br />
•	Images are available at <a href="https://www.flickr.com/photos/tflpress/sets/72157648046071323">https://www.flickr.com/photos/tflpress/sets/72157648046071323</a><br />
•	TfL is introducing more and more step-free access, but it's important for customers to plan their step-free routes in advance www.tfl.gov.uk/accessibility<br />
•	TfL's sponsorship policy is available at  <a href="http:// tfl.gov.uk/businessandpartners/commercialopportunities/5797.aspx">tfl.gov.uk/businessandpartners/commercialopportunities/5797.aspx</a></p>
<p>About notonthehighstreet.com:<br />
•	<a href="http://Notonthehighstreet.com">Notonthehighstreet.com</a> was founded by British entrepreneurs Holly Tucker MBE and Sophie Cornish MBE in 2006.<br />
•	Bringing together more than 5,000 of the UK's most creative small businesses, the unique online department store offers more than 170,000 original, inspirational lifestyle products, many of which are bespoke and made to order.<br />
•	<a href="http://Notonthehighstreet.com">Notonthehighstreet.com</a> is changing the face of enterprise by supporting growing small businesses offering a route to market for designer-makers who would otherwise struggle for custom or lose out in the battle with high street giants.<br />
•	The business has grown from a turnover of &pound;134,000 in its first year to achieving TTV of &pound;83.3m in 2013.<br />
•	The firm employs almost 200 staff at its headquarters in Richmond, South West London.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-January-notonthehighstreet sponsors Baby on Board badge -->

 
 
        
        
            @{ViewBag.Description = "Mind the bump as notonthehighstreet.com becomes the first sponsor of London Underground’s Baby on Board badge";}
        
        


 