


@{ViewBag.Title = "Over 1,000 Fixed Penalty Notices issued to unsafe HGVs";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Over 1,000 Fixed Penalty Notices issued to unsafe HGVs</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Over 1,000 Fixed Penalty Notices issued to unsafe HGVs</h1>
        <div class="content-page-press-release">
        22 January 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Over 1,000 Fixed Penalty Notices issued to unsafe HGV operators in London
        
    </div>



 <div class="on-this-page">
<p>London's Industrial HGV Taskforce (IHTF), funded by Transport for London (TfL) and the Department for Transport (DfT), has now issued 1,013 Fixed Penalty Notices to the drivers of unsafe or non-compliant HGVs since it began operating in October 2013.</p>
<p>More than 4,000 vehicles have been stopped by the Task Force, with 47 taken off the road and 2,000 roadworthiness prohibitions issued. This morning (Thursday 22 January), London's Transport Commissioner, Sir Peter Hendy CBE, joined leaders of the freight industry and representatives from the DfT and the Driver and Vehicle Standards Agency (DVSA) to see the work of the Task Force as it carried out a roadside operation at Millbank.</p>
<p>Established by the Mayor, TfL and DfT the IHTF has carried out over 200 road side operations over the last 16 months, complementing the working of the newly formed TfL and MPS Roads and Transport Policing Command (RTPC), which has been created to improve the safety of London's roads. The main aim of the IHTF is to drive up industry standards and deter non-compliance by conducting targeted, intelligence led enforcement operations.</p>
<p>Officers from the IHTF conduct a variety of checks during their operations, such as checking vehicle tyres, steering, brakes and loads, confirming appropriate driver and operator licences are in place, and ensuring drivers have not exceeded their driver hour limits.</p>
<p>A recent successful prosecution secured by the Task Force was against Recycled Material Supplies Limited (RMS Ltd). On 22 September 2014 the IHTF stopped a 32 tonne tipper lorry at Billingsgate Market. The vehicle was not licensed to a specific operator but was being used by RMS Ltd and further inquiries by the Task Force revealed the vehicle had been used on a hire purchase for a number of months.</p>
<p>This led to the conviction of RMS Ltd on 5 January 2015, at the City of London Magistrates court, for not specifying the vehicle on their Goods Vehicle Operator Licence. They incurred a &pound;2,000 fine and were ordered to pay &pound;85 in court fees and a &pound;120 victim surcharge.</p>
<p>London's Transport Commissioner, Sir Peter Hendy CBE, said: `These results show that our Industrial HGV Task Force is going from strength to strength to identify and take action against dangerous and non-compliant operators and drivers of HGVs, particularly construction vehicles, on London's roads. These enforcement results send out a clear message to everyone concerned that we will not tolerate or put other road users, cyclists or pedestrians at risk through the actions of the minority of negligent operators and drivers in the capital.</p>
<p>`We will continue to work with the freight and construction industries to ensure safer vehicle operation across the capital and will push for the toughest penalties for anyone caught acting illegally.'</p>
<p>DVSA Head of Policy, Malcolm Tipping, said, `The number of penalties already issued by the Task Force demonstrates the effectiveness of the joint working between DVSA, TfL and the Police. Drivers and operators should be in no doubt that if they choose to work outside the law and put innocent road users at risk, they will face serious consequences.`</p>
<p>Nick Denton, the commercial vehicle industry regulator for London and the South East, said, `The Industrial HGV Task Force has brought a greater number of non-compliant operators from the capital to my attention, with reports of defective vehicles and a failure to meet basic driver safety rules all too common.</p>
<p>`The Task Force's work has helped me focus my attention on the worst operators who pose the greatest risks to road safety and compete unfairly against those operators who comply with the law. I have imposed some very sharp sanctions against non-compliant operators identified by the Task Force. Those sanctions include suspending their licences for substantial periods, reducing the number of vehicles they are allowed to operate and, in quite a few instances, revoking the licences altogether and disqualifying their holders from returning to the industry.</p>
<p>`I will continue to do this until the standards of operation improve, the roads are safer and there is a level playing field for those operators who do get it right.'</p>
<p>IHTF is formed of officers from the Metropolitan Police Service (MPS), City of London Police, and Driver and Vehicle Standards Agency (DVSA). The Task Force also works alongside the wider MPS Commercial Vehicle Unit (part of RTPC), which attends and investigates collisions between large goods vehicles and cyclists, taking action with the driver and goods vehicle operator where appropriate. </p>
<hr />
<ul>
    <li>The intelligence led enforcement by the Industrial HGV Task Force has resulted in prosecutions and Fixed Penalty Notices for offences including: lack of insurance, driving not in accordance with a licence, unsafe tyres, vehicle not equipped with sideguards and not accurately recording driver hours.</li>
    <li>The Commercial Vehicle Unit (CVU) is a TfL-funded specialist police team which attends and investigates every collision between a large goods vehicle and a cyclist, taking action with the driver and goods vehicle operator where appropriate. The CVU also undertakes roadside stops and operator visits as well as working closely with the Office of the Traffic Commissioner. The MPS officers on the IHTF are part of the wider CVU.</li>
    <li>As part of the creation of the MPS Roads and Transport Policing Command &#45; a single police command created to further improve the safety and security of London's roads, bus network and other surface transport services &#45; the Industrial HGV Taskforce will be a permanent fixture in the capital. http://www.tfl.gov.uk/info-for/media/press-releases/2015/january/new-met-police-roads-and-transport-policing-command-created</li>
    <li>Nine of the 14 cyclist deaths in London in 2013 involved direct contact with a large goods vehicle. In 2014, this reduced to five out of 13 cyclist deaths.</li>
    <li>Analysis commissioned by TfL to improve the understanding of the factors which led to collisions between 2007 and 2011, showed that more than a third of fatal HGV-cyclist collisions involved a tipper truck. The data was analysed by both the Transport Safety Research Centre, Loughborough University and the Centre for Transport Studies, University College London. The Pedal Cyclist Fatalities in London: Analysis of Police Collision Files (2007-2011), by Rachel Talbot, Steve Reed, Jo Barnes, Pete Thomas of the Transport Safety Research Centre, Loughborough University, and Nicola Christie of the Centre for Transport Studies, University College London, can be downloaded here: www.tfl.gov.uk/corporate/publications-and-reports/road-safety</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-January-Over 1,000 Fixed Penalty Notices issued to unsafe HGVs -->

 
 
        
        
            @{ViewBag.Description = "Over 1,000 Fixed Penalty Notices issued to unsafe HGV operators in London";}
        
        


 