


@{ViewBag.Title = "Route 55 and 15 to be served by New Routemaster buses";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Route 55 and 15 to be served by New Routemaster buses</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Route 55 and 15 to be served by New Routemaster buses</h1>
        <div class="content-page-press-release">
        26 January 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Routes become the eleventh and twelfth bus routes in the capital to convert
        
    </div>



 <div class="on-this-page">
<p>&nbsp;Transport for London (TfL) has today announced that the next bus routes to be served entirely by New Routemaster buses will be the 55 and the 15.</p>
<p>A phased conversion of route 55, which is operated by Stagecoach, is underway and will be completed by the end of the month. The route runs between Oxford Circus and Leyton via Tottenham Court Road Station, Old Street, Shoreditch High Street, Cambridge Heath, Hackney Central and Clapton.</p>
<p>During peak hours, 34 of these state of the art buses will be in passenger service to carry the 27,000 people who travel on the route each week day.</p>
<p>Route N55, which runs from Oxford Circus to Woodford Wells via Bloomsbury, Clerkenwell, Old Street, Shoreditch High Street, Cambridge Heath, Hackney Central, Clapton, Leyton (Bakers Arms), Wanstead, South Woodford and Woodford Green is also being converted to New Routemaster buses.</p>
<p>Route 15 will begin its phased conversion at the beginning of February and will be entirely with New Routemaster buses by the end of the month.  The route, which is also operated by Stagecoach, runs from Trafalgar Square to Blackwall DLR via Aldwych, St Paul's, Mansion House, Cannon St, Monument, Tower Hill, Aldgate, Aldgate East and Limehouse DLR.</p>
<p>During peak hours, 22 of these state of the art buses will be in passenger service to carry the 14,500 people who travel on the route each week day.</p>
<p>Both routes will operate with the rear platform closed when the bus is moving, with large numbers of passengers able to quickly board and alight using all three sets of doors and two staircases at bus stops.</p>
<p>Every London bus route is different and as these buses are rolled out across the capital TfL will consider the best possible operating arrangements on a route by route basis.  As the Mayor has previously made clear, there will not be a requirement to have a conductor on every bus at all times (1)<sup><span style="font-size: 13px;"></span></sup>.  New Routemasters already operate without a conductor on routes 8, 9, 137, 148 and 453.</p>
<p>To date, ten bus routes in London are being served by more than 300 New Routemasters.  The conversion of routes 55 and 15 will see the 400th New Routemaster bus enter passenger service &#45; marking the half-way point to the delivery of 800 (2) <sup><span style="font-size: 13px;"></span><span style="font-size: 8px;"></span></sup><span style="font-size: 13px;"></span>of New Routemasters on London's streets by 2016, reducing CO2 emissions in the capital by around 27,500 tonnes a year.  All New Routemasters now entering service will operate with ultra low emission Euro VI engines.  New Routemaster buses also deliver significant fuel savings with new buses on the first 6 routes that were converted delivering almost 50 per cent better fuel economy that the buses that they replaced (3).</p>
<p>The introduction of New Routemaster buses is part of a comprehensive programme to reduce emissions from London's bus fleet which includes 1,700 hybrids on the street by 2016, accelerating the introduction of ultra low emission Euro VI buses and retrofitting 1,800 older buses to reduce their NOx emissions by up to 88 per cent.</p>
<p>ENDS</p>
<p>(1)&nbsp; Mayor's Question Time, 17 October 2012 &#45; http://mqt.london.gov.uk/mqt/public/question.do?id=42938<br />
(2) The TfL Board approved the purchase of a further 200 New Routemaster buses on 5 November 2014.  These buses improve the journey experience of passengers, enhance air quality, reduce vehicle noise and cut emissions with associated health benefits.  The buses will be built by Wrightbus in Northern Ireland with many of the component parts also manufactured in the UK, creating jobs and stimulating the economy.</p>
<p>(3)&nbsp; Fuel economy on the following routes has been measured and results have shown a significant increase in their average miles per gallon (MPG) compared with the vehicles previously used:</p>
<ul>
    <li>
    Route 11 &#45; from 4.7 MPG to 7.4 MPG (57 per cent increase)</li>
    <li>Routes 24 and 390 (the vehicles are used on the same routes) &#45; from 5.4 MPG to 7.4 MPG (37 per cent increase)</li>
    <li>Route 9 &#45; from 3.9 MPG to 6.2 MPG (59 per cent increase);</li>
    <li>Route 148 &#45; from 5 MPG to 6.9 MPG (38 per cent increase);</li>
    <li>Route 10 &#45; from 4.4 MPG to 6.5 MPG (48 per cent increase).</li>
</ul>
<p>Notes to Editors:</p>
<ul>
    <li>Stagecoach is one of UK's biggest bus and coach operators with around 8,000 buses and coaches. Around 2.5 million passengers travel on Stagecoach's buses every day on a network stretching from south-west England to the Highlands and Islands of Scotland. The Group's business includes major city bus operations in London, Liverpool, Newcastle, Hull, Manchester, Oxford, Sheffield and Cambridge.  Low-cost coach service, megabus.com, operates between around 60 towns and cities across the UK.</li>
    <li>New Routemaster buses are manufactured by the family-owned Wrightbus company in Northern Ireland.  The original order, for 600 vehicles, resulted in the opening of a new chassis plant in Antrim and the safeguarding of 220 jobs, including 18 apprenticeships and the creation of 50 new jobs</li>
    <li>As well as the manufacture of the chassis and superstructure in Northern Ireland, a number of components for the bus are made by companies from around the UK; including engines from Darlington, seats from Telford, seat moquette from Huddersfield, wheelchair ramps from Hoddesdon (Hertfordshire), destination blinds from Middleton near Manchester and flooring from Liskeard (Cornwall).  All of these companies have received a boost as a result of the New Routemaster project.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-January-Route 55 and 15 to be served by New Routemaster buses -->

 
 
        
        
            @{ViewBag.Description = "Routes become the eleventh and twelfth bus routes in the capital to convert";}
        
        


 