


@{ViewBag.Title = "Step-free access works at Victoria Tube station";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Step-free access works at Victoria Tube station</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Step-free access works at Victoria Tube station</h1>
        <div class="content-page-press-release">
        22 January 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Major work to deliver step-free access gets underway at Victoria Tube station
        
    </div>



 <div class="on-this-page">
<p>Major work to make London Underground's Victoria station step-free begins this Sunday, when construction of two new lift shafts gets underway.</p>
<p>Victoria Tube station is one of the busiest on the network and is undergoing a radical &pound;700m transformation. This includes creating a brand new ticket hall and doubling the size of the existing southern ticket hall.  Transport for London (TfL) is also installing new entrances, nine new escalators and providing step-free access to all platforms. Sixty-six London Underground stations are now step-free and around 40 more Underground and Overground stations will become step-free over the next ten years.</p>
<p>Building the two new lift shafts will need one of the station's subways to be closed. This means it will take customers longer to change between the Circle/District and Victoria lines during the morning and evening rush hour.  For some journeys TfL recommends using alternative routes to avoid changing at Victoria.</p>
<p>Customers changing from the southbound Victoria line to the District/Circle lines can avoid delays by:<br />
•	Changing at Warren Street for the Northern line to Embankment;<br />
•	Changing at Oxford Circus for the Bakerloo line to Embankment;<br />
•	Changing at Green Park for the Jubilee line to Westminster.</p>
<p>Customers changing from the District/Circle lines to the Victoria line can avoid delays by:<br />
•	Changing at Earl's Court for the Piccadilly line to Green Park;<br />
•	Changing at Westminster for the Jubilee line to Green Park;<br />
•	Changing at Embankment for the Bakerloo line to Oxford Circus or the Northern line to Warren Street.</p>
<p>Nick Brown, LU's Chief Operating Officer, said: `Making the Tube network more accessible is one of our central aims. This work to improve Victoria station will open up one of our most important interchanges to disabled people, and make life easier for anyone travelling with children or heavy luggage.</p>
<p>`Victoria station is used by more than 80 million customers each year, and this is set to grow. As well as making the station step-free for the first time, the work taking place to modernise the station will cut congestion and make it fit for future demand. We apologise for the disruption to customers, but doing the work this way avoids the need to shut the station or have trains not stop there.'</p>
<p>Redevelopment work, to increase capacity at key stations and make them step-free, is underway at a number of stations including Bond Street and Tottenham Court Road.</p>
<p>More than half of London Underground's 270 stations have now been modernised or refurbished to make them brighter and easier to use, with improvements such as tactile strips and better CCTV and help points, electronic information displays in ticket halls and on platforms, as well as improved seating and lighting.</p>
<hr />
<ul>
    <li>Around 40 more London Underground and London Overground stations will become step-free over the next ten years</li>
    <li>.All 40 Crossrail stations will be step-free when it opens in 2019.</li>
    <li>The number of journeys made by step-free routes each year is expected to almost treble, from 77 million (2014) to 227 million in 2023.</li>
    <li>&pound;250m is being invested in step-free projects at stations including Bond Street, Greenford, Tottenham Court Road, Vauxhall, Victoria and Finsbury Park</li>
    <li>London has the most accessible bus fleet in the world with each of our 8,600 buses low floor, wheelchair accessible and fitted with a wheelchair ramp.  Nearly 80 per cent of bus stops are fully accessible and this will increase to 95 per cent by 2016</li>
    <li>On-board audible and/or visual announcements are used across our bus and rail networks to help people with sight and/or hearing loss.</li>
    <li>The remaining five per cent of pedestrian crossings yet to be brought up to accessibility standards will be upgraded with tactile paving, rotating cones or audible alerts. 39 sites will be upgraded by March, with 100 per cent to be accessible by 2016.</li>
    <li>Further improvements include permanent level access at new stations, permanent raised platform sections, low-floor trains and boarding ramps making getting around the network much easier.  By 2016, a third of Tube platforms will have level access by one of these means, up from 15 per cent in 2013.</li>
    <li>The huge enlargement of Victoria Tube station will lead to a vast number of improvements for passengers making their journeys quicker and easier when it is completed in 2018. As well as the new enlarged south ticket hall, these include a new underground north ticket hall at the junction of Bressenden Place and Victoria Street with an entrance at street level, nine new escalators, a new interchange tunnel connecting the three ticket halls, and seven new lifts providing step-free access between street and all platform levels.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-January-Step-free access works at Victoria Tube station -->

 
 
        
        
            @{ViewBag.Description = "Major work to deliver step-free access gets underway at Victoria Tube station";}
        
        


 