


@{ViewBag.Title = "Support for extension of Overground to Barking Riverside";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Support for extension of Overground to Barking Riverside</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Support for extension of Overground to Barking Riverside</h1>
        <div class="content-page-press-release">
        15 January 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Overwhelming support for proposals to extend London Overground services to Barking Riverside
        
    </div>



 <div class="on-this-page">
<p>Transport for London's (TfL) proposals to extend London Overground services to Barking Riverside received overwhelming support in the recent public consultation with 90 per cent of respondents in favour of the extension. The consultation report has been published today and is available here <a href="http://www.tfl.gov.uk/gospeloak-barking">www.tfl.gov.uk/gospeloak-barking</a>.</p>
<p>The proposals include an extension of the London Overground Gospel Oak to Barking line to a new station at the heart of the Barking Riverside development. The Barking Riverside development is the largest housing development site in east London and with planning consent for up to 10,800 homes. The area has a major role to play in helping to meet London's future housing needs, but full development potential of this site can only be realised if this railway line is completed.</p>
<p>As part of the 2014 Autumn Statement, the Chancellor of the Exchequer announced that the Government will provide a loan of &pound;55 million to support the extension to Barking Riverside. The provision of this loan means that funding is available to cover the full cost of the scheme.</p>
<p>The Mayor of London, Boris Johnson, said: `The extension of the London Overground will unlock the potential of the Barking Riverside area and support the creation of thousands of new homes. The results delivered by London's first orbital railway are well proven; with London Overground driving forward regeneration in areas across the capital. I am delighted that so many people support its arrival in Barking.`</p>
<p>Mich&egrave;le Dix CBE, TfL's Managing Director of Planning, said: `This public consultation has demonstrated there is overwhelming support for this extension. Its introduction will directly unlock over 10,000 new homes. We will continue to develop the plans as quickly as possible with the intent to submit a formal application for powers to build the extension to Government at the end of 2015.  Subject to powers being granted, construction work could commence in 2017 with the extension opening by 2020.'</p>
<p>Planning work will now continue with a second public consultation expected in spring 2015. Subject to the outcome of consultations TfL will later this year seek to get powers from the Department for Transport (DfT) to build and operate this new section of railway.</p>
<hr />
<ul>
    <li>TfL ran a six week public consultation between 8 September and 19 October.</li>
    <li>Link to Autumn Statement - <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/382327/44695_Accessible.pdf">https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/382327/44695_Accessible.pdf</a></li>
    <li>The proposed extensions of London Overground to Barking Riverside and to Old Oak Common are part of TfL's vision of creating better rail services in London to meet the needs of the city's rapidly growing population and to support new jobs, homes and economic growth.  London Overground services are being increased by 25 per cent through the introduction of a fifth car to trains across the network, and in May this year the West Anglia routes to Cheshunt, Chingford and Enfield Town will join TfL's integrated network as part of London Overground. Rail services between Liverpool Street and Shenfield will also join the TfL network and will see radical improvements in preparation for the line carrying TfL-run Crossrail services in 2017. TfL's transformation of underused suburban rail links into the highly popular London Overground has seen passenger numbers rise by 400 per cent since 2007 and the network become one of the most reliable and popular in the UK.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-January-Support for extension of Overground to Barking Riverside -->

 
 
        
        
            @{ViewBag.Description = "Overwhelming support for proposals to extend London Overground services to Barking Riverside";}
        
        


 