
    
  



@{ViewBag.Title = "Advice for drivers";}
@{ViewBag.Keywords = "Coach drivers,Coaches,TfL";}
@{ViewBag.Url = "/info-for/coach-drivers/advice-for-drivers";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/coach-drivers/index">Coach drivers</a></li>
                
            
            
                <li><span class="last-breadcrumb">Advice for drivers</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Advice for drivers</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    <div class="on-this-page">
      <h2>Coach parking in London</h2>

<ul>
	<li>Plan your trip to London in advance, not on the day</li>
	<li>Do not disturb residents and switch off your engine when parked</li>
	<li>Do not obstruct other traffic with your coach</li>
	<li>Do not enter coach ban areas unless access is permitted and you need to serve a property in the area</li>
	<li>Do not park overnight on-street unless it is permitted</li>
	<li>Penalty Charge Notices (PCNs) should be paid or disputed according to the instructions on the back of the PCN</li>
	<li>Congestion Charge - Vehicles classed as a bus but not registered with the DVSA (including foreign and Northern Ireland vehicles) need to register with us for a 100% discount. See our page on <a href="/modes/driving/congestion-charge/discounts-and-exemptions">discounts and exemptions</a></li>
</ul>

<h2>Picking up and setting down</h2>

<ul>
	<li>When picking up ensure your group is waiting for you</li>
	<li>No boarding or alighting activity means you are liable to a PCN</li>
	<li>Do not wait or park on clearways</li>
	<li>Do not arrive early to load or remain after unloading</li>
	<li>Do not park or wait at bus stops</li>
	<li>Stay in contact with your group to ensure they are ready to be picked up on time. Any instructions from guides, tour operators, etc to arrive early should be refused</li>
	<li>Stay with your vehicle at all times -&nbsp;it is not the driver's job to book passengers into hotels or to carry luggage</li>
</ul>

<h2>Yellow routes</h2>

<ul>
	<li>Set down and pick up&nbsp;are permitted on double and single yellow lines -&nbsp;however, activity must be taking place. Some London boroughs allow an observation time -&nbsp;however, this does not apply when loading restrictions are in force</li>
	<li>Check signs before using bus stops to pick up and set down as most are restricted to 'local' or 'LT/TfL' buses. Parking and waiting is not permitted at any time</li>
</ul>

<h2>Red routes</h2>

<ul>
	<li>Double red lines: no stopping at any time</li>
	<li>Single red lines: no stopping during restricted hours</li>
	<li>Vehicles registered as a bus can use red route bus stops, but must not park or wait, and activity must be taking place</li>
	<li>See our section on <a href="/modes/driving/red-routes">red routes</a></li>
</ul>

<h2>Left-hand drive coaches and off-side parking</h2>

<p>Crews of left-hand drive coaches and right-hand coaches&nbsp;using offside bays&nbsp;should take every safety precaution available when passengers are unable to&nbsp;board from or alight&nbsp;directly&nbsp;to the kerbside. These precautions include:</p>

<ul>
	<li>Ensuring that crews wear hi-visibility clothing</li>
	<li>Making sure that passengers board and alight the coach directly to or from&nbsp;the pavement in a controlled manner</li>
	<li>Briefing passengers of the situation before they board or alight from the coach</li>
	<li>Not allowing passengers to wait in traffic lanes, under any circumstances</li>
	<li>Any loading or unloading of luggage should be to the kerbside only</li>
</ul>

<h2>Off-peak coach parking</h2>

<p>Some coach parking locations in London are restricted to off-peak hours due to traffic conditions. Peak hours are usually 07:00-10:00 and 16:00-19:00 daily, although this is sometimes relaxed at weekends. Drivers should always check signs for restrictions.</p>
      
           
      <div>

<h2>Coach parking map</h2>
<p>
<a href="https://tfl.gov.uk/info-for/coach-drivers/?cid=coachdrivers">View the online coach parking map</a>.</p>
<p>Read our Operating coaches in London leaflet, providing guidance for drivers, tour operators, tour guides, group organisers, tour managers and couriers (please check the online map for up to date contact information).</p>
</div>
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/operating-coaches-in-london.pdf">
    <div class="document-download-text">
        <p>Operating coaches in London leaflet</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.00MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.00 -->
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/coach-drivers/index" class="heading">
                    <h2 id="sub-menu-heading">Coach drivers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/info-for/coach-drivers/advice-for-drivers">Advice for drivers</a></div>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/coach-drivers/special-parking-arrangements">Special parking arrangements</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/coach-drivers/victoria-coach-station">Victoria Coach Station</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Tips to help coach drivers operate safely and efficiently in London.";}
        
            
        


 