
    
  


<!-- rhroot -->
@{ViewBag.Title = "Coach drivers";}
@{ViewBag.Keywords = "Coach drivers,TfL";}
@{ViewBag.Url = "/info-for/coach-drivers/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">Coach drivers</span></li>
            
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Coach drivers</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        <h2 class="moving-source-order">Information for coach drivers</h2>
                    </div>
                <p>We want to make driving a coach in London an easier experience. Find out what you need to know about coaches in the
Capital, including parking, planned road works, coach ban
areas and much more.</p>
                </div>
            </div>
        
         
        
        
        
                
                <div class="clearfix">
                    <div>

<h2>Coach parking map </h2>
<div id="view-map-button-container"></div>
</div>
 


  
    @{ Html.RenderAction("EmbeddedMap", "Maps", new
      {                     
        layers="gla-boundary,congestion-charging-zone,low-emissions-zone,station-stop,cycle-hire,jam-cam,red-light-cam,speed-cam,variable-message-sign,coach-ban-areas,coach-parking", 
        layersVisibleAtLoad="coach-ban-areas,coach-parking",
        centreLat="",
        centreLng="",
        allowNationalBounds="0",
        zoom="16",
        showSatelliteMap="0",
        showUserLocation="1", 
        kmlUrl=""
      });
    }
  
 
 
                </div>
                <hr>
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div class="news-teaser">

    <a href="/status-updates/major-works-and-events?intcmp=25505" >
        
        
        <div class="text-link">
             <h2>Major works and events</h2>
            <p>Works and events may affect your coach journey. Check before you travel</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone?intcmp=48713" >
        
        
        <div class="text-link">
             <h2>Ultra Low Emission Zone</h2>
            <p>Find out if your vehicle meets the exhaust emission standards</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/coach-drivers/victoria-coach-station?intcmp=3652"  data-img="/cdn/static/cms/images/promos/victoria-coach-station_rdax_400x200.jpg" data-img-breakpoint="medium" data-img-alt="Victoria Coach Station">
        
        
        <div class="text-link">
             <h2>Victoria Coach Station</h2>
            <p>Find out about the facilities on offer at Victoria Coach Station</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">
    <div class="text-link">
        
        
        
        
        
        <div class="multi-document-download-container">
            

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tourist-coach-action-plan.pdf">
    <div class="document-download-text">
        <p>Tourist Coach Action Plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.13MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.13 -->
 
        </div>
        
    </div>
</div>



 <div class="related-links">

    <h3>Report street faults</h3>
Road works, potholes and faulty traffic lights: tell us about them.
<div class="vertical-button-container">

<a href="/help-and-contact/report-roadworks" class="plain-button">Report a fault</a>
    </div>
</div>
 
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/coach-drivers/index" class="heading">
                    <h2 id="sub-menu-heading">Coach drivers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/coach-drivers/advice-for-drivers">Advice for drivers</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/coach-drivers/special-parking-arrangements">Special parking arrangements</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/coach-drivers/victoria-coach-station">Victoria Coach Station</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>
        <div class="module-grid clearfix">
          












<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us</h3>
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            Email <a href="mailto:coaches&#64;tfl.gov.uk">coaches&#64;tfl.gov.uk</a>.
        </div>
        
        
    </div>
</div>
 

                <div class="widget-wrapper">
                    
                    
                    
                                <div class="board-wrapper service-board-collapsed">
@{ Html.RenderAction("StatusBoard", "StatusUpdates", new { modes = Library.MeansOfTransport.Traffic, collapsed = true }
); }
                                </div>                            
                    
                    
                    
                </div>
             
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/status-updates/major-works-and-events/travel-advice-for-road-users" class="plain-button">Travel advice for road users</a>
<a href="https://tfl.gov.uk/modes/driving/" class="plain-button">Driving</a>
    </div>
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "Information on facilities available for coaches in the Capital";}
        
            
        


 