
    
  



@{ViewBag.Title = "Public toilets in London";}


@{ViewBag.Url = "/help-and-contact/public-toilets-in-london";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">Public toilets in London</span></li>
            
        
 
        </ul>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Public toilets in London</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main">
    
      <div class="article-teaser">
        Find out more about public toilet facilities across London. 
      </div>
    
    <div class="on-this-page">
      <h2>Practical information</h2>
<p>You can get up to date information about your nearest public toilet sent direct to your smartphone or tablet. Type 'toilet finder' into the search function on your device and it should provide you with a number of popular apps to choose from. </p>
<p>The <a href="http://greatbritishpublictoiletmap.rca.ac.uk/">Great British Toilet Map</a> website includes an interactive map of facilities, not just in the London area, but across the country. </p>
<h2>London borough toilets</h2>
<p>Most of London's boroughs provide details of public and community toilets. Places vary, and in some cases it may be hard to access their information on a smartphone or tablet, but the following boroughs provide toilet facility information on their websites:</p>
<ul>
    <li><a href="https://www.barnet.gov.uk/citizen-home/directories/Directories?_pecid=373ac375-9115-4d18-8a58-ce6098691e0a&amp;directoryId=54e3852d84ae7c2872584beb&amp;list=true]">Barnet</a></li>
    <li><a href="http://www.bexley.gov.uk/article/5988/Bexleys-public-toilets-service">Bexley</a></li>
    <li><a href="https://www.brent.gov.uk/services-for-residents/transport-and-streets/public-toilets/">Brent</a></li>
    <li><a href="http://www.bromley.gov.uk/directory/36/community_and_public_toilets?page=1">Bromley</a></li>
    <li><a href="http://www.camden.gov.uk/ccm/content/contacts/categories/public-toilets-in-camden/?context=live">Camden</a></li>
    <li><a href="http://www.cityoflondon.gov.uk/services/transport-and-streets/clean-streets/Pages/toilet-map.aspx">City of London</a></li>
    <li><a href="https://www.croydon.gov.uk/transportandstreets/streets/pcs">Croydon</a></li>
    <li><a href="https://www.ealing.gov.uk/info/201153/street_care_and_cleaning/200/public_toilets/3">Ealing</a></li>
    <li><a href="https://www.enfield.gov.uk/directory/45/public_conveniences_in_enfield">Enfield</a></li>
    <li><a href="http://www.royalgreenwich.gov.uk/info/200089/street_care_and_cleaning/810/find_a_public_toilet_in_greenwich">Greenwich</a></li>
    <li><a href="http://www.hackney.gov.uk/streetlitter">Hackney</a></li>
    <li><a href="http://www.haringey.gov.uk/parking-roads-and-travel/roads-and-streets/public-toilets/locations-public-toilets">Haringey</a></li>
    <li><a href="http://www.iharrow.com/council/public-toilets-in-harrow/">Harrow</a></li>
    <li><a href="https://www.havering.gov.uk/Pages/Services/Public-toilets.aspx">Havering</a></li>
    <li><a href="https://www.hillingdon.gov.uk/article/7566/Public-toilets">Hillingdon</a></li>
    <li><a href="http://data.hounslow.gov.uk/View/environmental-services/hounslow-public-toilets">Hounslow</a></li>
    <li><a href="http://www.islington.gov.uk/services/parking-roads/Pages/1246.aspx">Islington</a></li>
    <li><a href="https://www.rbkc.gov.uk/environment/environmental-health/public-toilets">Kensington &amp; Chelsea</a></li>
    <li><a href="https://www.kingston.gov.uk/info/200272/environment/732/public_and_accessible_toilets">Kingston upon Thames</a></li>
    <li><a href="http://www.lambeth.gov.uk/open-data/community-toilets">Lambeth</a></li>
    <li><a href="http://www.merton.gov.uk/community-living/communitytoiletscheme.htm">Merton</a></li>
    <li><a href="https://www.newham.gov.uk/Pages/Services/Public-toilets.aspx">Newham</a></li>
    <li><a href="http://www2.redbridge.gov.uk/cms/parking_rubbish_and_streets/general_street_information/public_toilets.aspx">Redbridge</a></li>
    <li><a href="http://www.richmond.gov.uk/home/services/spendapenny.htm">Richmond upon Thames</a></li>
    <li><a href="http://www.southwark.gov.uk/info/100006/environment/544/public_toilets">Southwark</a></li>
    <li><a href="https://www.sutton.gov.uk/info/200333/adult_health_and_social_care/1128/accessible_travel/13">Sutton</a></li>
    <li><a href="http://www.towerhamlets.gov.uk/content_pages/online_services/find_your_local_services/find_your_local_services.aspx">Tower Hamlets</a></li>
    <li><a href="http://www.walthamforest.gov.uk/pages/services/public-toilets.aspx">Waltham Forest</a></li>
    <li><a href="http://www.wandsworth.gov.uk/directory/23/toilets_open_to_the_public_in_wandsworth">Wandsworth</a></li>
</ul>
<h2>Shops</h2>
<p>Supermarkets, DIY and department stores often have accessible toilet facilities (and parking availability). Look out for the 'community toilet' signs used where local businesses work with boroughs to provide toilet accessibility. The Community Toilet Scheme aims to provide clean, safe and accessible public toilets in more convenient locations for residents and visitors to some of London's boroughs. </p>
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/toilet-logos_rdax_400x250.jpg" alt="Toilet logos" />
        
        
        
    </div>
    <h2>Station toilet facilities</h2>
<p>Public toilets are available at some stations across the central London, Heathrow Airport and London City Airport areas. Please consider that opening hours may vary, some facilities may be chargeable and other public toilets may be available near to stations. Some facilities at Network Rail stations, marked †, may be inside the station's gateline.</p>
<table>
    <tbody>
        <tr>
            <td colspan="2">
            <h3>Station &amp; toilet location</h3>
            <p>LU= London Underground<br />NR= National Rail</p>
            </td>
        </tr>
        <tr>
            <td colspan="2"><strong>London Heathrow</strong><br />
            a. LU/NR Heathrow Terminals 1,2,3,4,5<br />
            b. LU Hatton Cross<br />
            c. LU Osterley<br />
            d. LU Boston Manor<br />
            e. LU Northfields<br />
            f.	LU Acton Town<br />
            g. NR Staines †<br />
            h. NR Feltham †<br />
            i. NR Hounslow †<br />
            j. NR West Drayton†<br />
            k. NR Southall †<br />
            l. NR Hanwell †<br />
            m. NR Ealing Broadway †</td>
        </tr>
        <tr>
            <td colspan="2"><strong>Shepherd's Bush/Olympia</strong><br />
            a. LU Hammersmith<br />
            b. LU Earls Court<br />
            c. NR Kensington Olympia </td>
        </tr>
        <tr>
            <td colspan="2"><strong>Kensington/Notting Hill</strong><br />
            a. LU Earls Court<br />
            b. NR Kensington Olympia †</td>
        </tr>
        <tr>
            <td colspan="2"><strong>Knightsbridge</strong><br />
            a.	LU Earls Court</td>
        </tr>
        <tr>
            <td colspan="2"><strong> Chelsea/Pimlico</strong><br />
            a.	LU/NR Victoria Station<br />
            b.	LU/NR Vauxhall<br />
            c.	NR Battersea Park †</td>
        </tr>
        <tr>
            <td colspan="2"><strong>Paddington/Bayswater</strong><br />
            a.	LU/NR Paddington</td>
        </tr>
        <tr>
            <td colspan="2"><strong>Camden/Regents Park/Baker Street</strong><br />
            a.	LU/NR Marylebone<br />
            b.	LU Baker Street<br />
            c.	LU St. John's Wood</td>
        </tr>
        <tr>
            <td colspan="2"><strong>Euston/Kings Cross/St. Pancras</strong><br />
            a.	LU/NR Euston<br />
            b.	LU/NR Kings Cross<br />
            c.	LU/NR St Pancras</td>
        </tr>
        <tr>
            <td colspan="2"><strong>Mayfair/Oxford Street</strong><br />
            a.	LU Green Park</td>
        </tr>
        <tr>
            <td colspan="2"><strong>Soho/Covent Garden</strong><br />
            a.	LU Piccadilly Circus<br />
            b.	LU/NR Charing Cross</td>
        </tr>
        <tr>
            <td colspan="2"><strong>Victoria/St. James'/Westminster</strong><br />
            a.	LU/NR Victoria<br />
            b.	LU Westminster<br />
            c.	LU Vauxhall</td>
        </tr>
        <tr>
            <td colspan="2"><strong>Waterloo</strong><br />
            a.	LU/NR Waterloo<br />
            b.	NR Waterloo East †</td>
        </tr>
        <tr>
            <td colspan="2">
            <p><strong>City of London/St. Pauls/Farringdon</strong><br />
            a.	LU Bank<br />
            b.	LU Monument<br />
            c.	LU Old Street<br />
            d.	LU/NR Cannon Street<br />
            e.	LU/NR Blackfriars<br />
            f.	LU/NR Liverpool Street<br />
            g.	NR City Thameslink</p>
            </td>
        </tr>
        <tr>
            <td colspan="2"><strong>Tower of London/Borough/London Bridge</strong><br />
            a.	LU/NR London Bridge<br />
            b.	LU/NR Elephant &amp; Castle<br />
            c.	NR Fenchurch Street †</td>
        </tr>
        <tr>
            <td colspan="2"><strong>Canary Wharf/Isle of Dogs</strong><br />
            a.	LU/DLR/NR Canning Town</td>
        </tr>
        <tr>
            <td colspan="2"><strong>London City Airport</strong><br />
            a.	LU/DLR/NR Canning Town</td>
        </tr>
    </tbody>
</table>
<p> </p>
<p ><br />
</p>
 </div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    <div>












<div class="advert-tile unsponsored-style google-ads">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/3595/TFL/Homepage" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/3595/TFL/Homepage" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 


 