
    
  



@{ViewBag.Title = "Special parking arrangements";}
@{ViewBag.Keywords = "Coach drivers,Coaches,TfL";}
@{ViewBag.Url = "/info-for/coach-drivers/special-parking-arrangements";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/coach-drivers/index">Coach drivers</a></li>
                
            
            
                <li><span class="last-breadcrumb">Special parking arrangements</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Special parking arrangements</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Different visitor attractions in London have different parking rules so drivers should familiarise themselves with arrangements for parking at popular sites and places of interest.
        
      </div>
    
    <div class="on-this-page">
      <p>A number of places - including Madame Tussauds, Shakespeare's Globe Theatre, Tate Modern, Natural History Museum and some hotels on Cromwell Road - have 20-minute set down and pick up bays outside or nearby.</p>

<p>Details of coach parking facilities, London theatres, and places of interest are available on our <a href="/info-for/coach-drivers/index">coach parking map</a>.</p>

<h2>Buckingham Palace</h2>

<p>Coaches are not permitted to park or wait on Buckingham Gate (east and west bound). On the sections of single and double yellow line, where there are 'no loading' or 'no waiting' markings, coaches are only permitted to stop and set down or pick up passengers, the coach must then depart immediately. Similar restrictions apply in narrow side streets, including Palace Street.</p>

<h2>London Eye/Aquarium/Dungeon &amp; Shrek's Adventure</h2>

<p>A free coach permit system applies for these venues. Permits are issued by Merlin Entertainments Group. Email <a href="mailto:coach&#64;londoneye.com">coach&#64;londoneye.com</a> for more information. Coach bays are located on Belvedere Road.</p>

<h2>River Thames</h2>

<p>Coach set down, pick up and parking bays are located close to many of the central London river piers:</p>

<ul>
	<li>Bankside Pier - use parking and 20-minute coach bays located on Southwark Bridge Road</li>
	<li>Blackfriars Pier - use parking bays on Queen Victoria Street, just to the east Blackfriars Station</li>
	<li>Embankment Pier - use bus and coach stops 40B, 40C&nbsp;and 40D set down/pick up only on Victoria Embankment eastbound &#45; opposite the pier off-peak only</li>
	<li>London Bridge Pier - use bus stops on Tooley Street (east of Bermondsey Street) to set down/pick up only</li>
	<li>Millbank Pier - use parking or set down/pick-up bay on Millbank</li>
	<li>Tower Pier - use Tower Hill coach park</li>
	<li>Westminster Pier - use set down/pick up and parking bays on Victoria Embankment</li>
</ul>
      
           
      
<div>





        <p>Download the following maps for more details of coach parking near river piers. Please note that these maps only show coach parking near piers. For details of other car parking shown on the map, please refer to the <a href="/info-for/coach-drivers/index">coach parking map</a>. </p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/coach-parking-docklands-piers.pdf">
    <div class="document-download-text">
        <p>Coach parking at piers in Greenwich</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.06MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/coach-parking-richmond-piers.pdf">
    <div class="document-download-text">
        <p>Coach parking at piers in Richmond</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.16MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/coach-parking-kingston-hampton-court-piers.pdf">
    <div class="document-download-text">
        <p>Coach parking at piers in Kingston and Hampton Court</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.03MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.03 -->
 
</div>
<h2>Royal Parks</h2>

<p>Commercial vehicles, including buses and coaches, are not permitted on park roads without a permit (see St James's Park section below). Only single deck vehicles are permitted.</p>

<p>The Mall:&nbsp;This coach parking&nbsp;facility is currently&nbsp;closed.</p>

<p>St James's Park: Coach drive-through permits (&pound;7.20) allow coaches to enter St James's Park via Admiralty Arch to drive along The Mall and to exit the park via Spur Road into Buckingham Gate, or via Constitution Hill to Hyde Park Corner. Coaches are not permitted on any other road in St James's Park, Green Park or Hyde Park and stopping is not permitted.</p>

<p>On Sundays and public holidays, The Mall and Constitution Hill are closed to traffic.</p>

<p>For more information, visit the <a href="https://www.royalparks.org.uk/parks/st-jamess-park/visitor-information/coach-parking-and-drive-through-permits">Royal Parks website</a> or call 0300 061 2350.</p>

<h2>St Pancras International</h2>

<p>You can access Coach Road from Pancras Road. Space is limited and you are advised to pre-book. Please email <a href="mailto:stpancrasdeliveries&#64;networkrail.co.uk">stpancrasdeliveries&#64;networkrail.co.uk</a> or call 0207 843 4261. You won't be able to enter the coach area before the train you're meeting is due to arrive. Give marshals the train ID and you'll be directed to a bay.</p>

<h2>Theatreland</h2>

<p>Parking and 20-minute coach bays are available throughout Theatreland, including both sides of Kingsway where parking for up to 4 hours is available 10:00-16:00 and 19:00&#45;midnight.</p>

<p>Set down/pick up only outside these times. You must not arrive to pick up until your group is ready to be collected. Coaches must not set down/pick up at bus stops on Aldwych.</p>

<h2>The O2</h2>

<p>Parking (including overnight) for up to 67 vehicles - prices for coaches are &pound;46 or &pound;56. Free parking for Thames Clippers Park and Glide passengers (conditions apply). Visit <a href="https://www.theo2.co.uk/visit-us/parking">The O2 website</a> or call 020 8463 6718.</p>

<h2>The Shard &amp; London Bridge area</h2>

<p>Pick up and set down is available on the double yellow lines on London Bridge Street outside the London Bridge Hotel. Coaches must not use bus stands or stops in London Bridge bus station or drive into St Thomas Street.</p>

<p>Set down and pick up only is also available at More London, English Grounds (off Tooley Street and Battle Bridge Lane). This is private land and there is a strict limit of no more than three coaches at anytime. Drivers should obey instructions by More London staff at all times. Coaches should arrive from the east and depart to the west. When this facility is closed, coaches may use TfL bus stops in the vicinity to set down and pick up only.</p>

<h2>Tower of London</h2>

<p>Coach park on Lower Thames Street allows 15 minutes to set down or pick up passengers free of charge. Longer term day and overnight parking is also available.</p>

<h2>Victoria Coach Station</h2>

<p>For information about departure charges contact <a href="mailto:vcsenquiries&#64;tfl.gov.uk">vcsenquiries&#64;tfl.gov.uk</a>. No parking is available.</p>

<h2>Victoria Green Line Coach Station</h2>

<p>Overnight parking (Westminster City Council Pay by Phone) is available on the offside of Bulleid Way, 20:00-08:00 only.&nbsp;Coaches must not block nearside coach stops.</p>

<p>For information about departure charges and limited daytime parking availability, call 07831 658 479.</p>

<h2>Westfield (Stratford City)</h2>

<p>Coaches should set down and pick up passengers on the yellow lines on International Way in the vicinity of bus stop C or F.&nbsp;A coach park (15 spaces) is also available. Visit the <a href="http://uk.westfield.com/stratfordcity/tourists/coaches">Westfield website</a>.</p>

<h2>Westfield (White City)</h2>

<p>Set down/pick up bays are provided free of charge on Westfield Way. Limited pre-booked parking is also available. Visit the <a href="https://uk.westfield.com/london/centre-info/getting-here#COACH">Westfield website</a> or email <a href="mailto:coachbookings&#64;Westfield-uk.com">coachbookings&#64;Westfield-uk.com</a>. Coaches must not use White City Bus Station.</p>

<h2>Westminster Abbey</h2>

<p>Coaches may set down only on the Abbey forecourt (The Sanctuary) for a small fee. Coach parking bays are available on Horseferry Road, Millbank and Tothill Street.</p>

<h2>Whitehall/Parliament Square</h2>

<p>This is a security area and is controlled by the police. No set down or pick up is allowed. Parking and set down, pick up facilities are available on Victoria Embankment.</p>

<h2>Coach parks with overnight availability&nbsp;&nbsp;&nbsp;</h2>

<ul>
	<li>Bayswater Road, Notting Hill Gate -&nbsp;020 7563 3000</li>
	<li>ExCel Exhibition Centre - 020 7069 5000</li>
	<li>Stratford, Queen Elizabeth Olympic Park - 020 8536 2752</li>
	<li>Stratford, Westfield</li>
	<li>The O2, North Greenwich - 020 8463 6718</li>
	<li>Tower Hill - 0870 241 7492</li>
	<li>Victoria, Bulleid Way - Westminster Pay by Phone parking</li>
	<li>Warwick Road, Earl's Court</li>
	<li>Wembley Stadium -&nbsp;020 8795 1758</li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/coach-drivers/index" class="heading">
                    <h2 id="sub-menu-heading">Coach drivers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/coach-drivers/advice-for-drivers">Advice for drivers</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/coach-drivers/special-parking-arrangements">Special parking arrangements</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/coach-drivers/coach-parking/parking-enquiries">Parking enquiries</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/coach-drivers/victoria-coach-station">Victoria Coach Station</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Information on parking for coaches, plus drop off and pick up facilities at key London landmarks.";}
        
            
        


 