
    
  



@{ViewBag.Title = "Victoria Coach Station";}
@{ViewBag.Keywords = "Coach drivers,Coaches,TfL";}
@{ViewBag.Url = "/info-for/coach-drivers/victoria-coach-station";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/coach-drivers/index">Coach drivers</a></li>
                
            
            
                <li><span class="last-breadcrumb">Victoria Coach Station</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Victoria Coach Station</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The station supports all forms of coach activities including scheduled express and commuter services, day tours, coach holidays and private hire.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      

<h2>Departure charges</h2>

<p>If you are a coach operator and you would like to make a booking, or to discuss your particular needs, please phone 0845 604 0770 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)</p>

<h3>Valid from 28 April 2019 to 31 March 2020</h3>

<div class="table-container"><table>
	<tbody>
		<tr>
			<td>
			<h3>Coaches up to 12 metres long</h3>
			</td>
			<td>
			<h3>Exc VAT</h3>
			</td>
			<td>
			<h3>Inc VAT</h3>
			</td>
		</tr>
		<tr>
			<td>&nbsp;Departure charges: Off-peak</td>
			<td>&nbsp;&pound;46.27</td>
			<td>&pound;55.52&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;Departure charges: Peak</td>
			<td>&nbsp;&pound;68.02</td>
			<td>&pound;81.62&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
			<h3>Coaches over 12 metres long</h3>
			</td>
			<td>
			<h3>Exc VAT</h3>
			</td>
			<td>
			<h3>Inc VAT</h3>
			</td>
		</tr>
		<tr>
			<td>Departure charges: Off-peak</td>
			<td>&pound;53.27</td>
			<td>&pound;63.92</td>
		</tr>
		<tr>
			<td>Departure charges: Peak</td>
			<td>&pound;75.02</td>
			<td>&pound;90.02</td>
		</tr>
	</tbody>
</table></div>


 <div>

<h2>Coach maintenance</h2>
<p>Working in partnership with Sammy's Garage, Victoria Coach Station can offer the following facilities to coach operators:</p>
<ul>
    <li>Refuelling</li>
    <li>Toilet drop</li>
    <li>Coach wash</li>
    <li>Routine and emergency maintenance</li>
</ul>
<p>Sammy's Garage is open 364 days a year from 06:00 to 23:00, and is located inside the Arrivals Terminal on Eccleston Place.</p>
<p>For further information, please call Sammy's Garage on 020 7730 8867.</p>
<h2>Operator facilities</h2>
<ul>
    <li>Monitored by CCTV and patrolled by staff 24 hours a day</li>
    <li>Fuelling, toilet drop and maintenance in association with Sammy's Garage</li>
    <li>Ticket sale facilities for advance and on-the-day purchases</li>
    <li>Ground staff to assist with check-in and boarding</li>
    <li>Approved routes for journeys to and from the coach station (please see maps below)</li>
</ul>
<p>For further information, please email <a href="mailto:victoriacoachstationenquiries&#64;tfl.gov.uk?Subject=Coach%20facilities">victoriacoachstationenquiries&#64;tfl.gov.uk</a> </p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/victoria-coach-station-outbound-routes.pdf">
    <div class="document-download-text">
        <p>Victoria Coach Station outbound route map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.60MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.60 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/victoria-coach-station-inbound-routes.pdf">
    <div class="document-download-text">
        <p>Victoria Coach Station inbound route map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.57MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.57 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/coach-drivers/index" class="heading">
                    <h2 id="sub-menu-heading">Coach drivers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/coach-drivers/advice-for-drivers">Advice for drivers</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/coach-drivers/special-parking-arrangements">Special parking arrangements</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/info-for/coach-drivers/victoria-coach-station">Victoria Coach Station</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/coaches/victoria-coach-station" class="plain-button">Victoria Coach Station for passengers</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The station supports all forms of coach activities including scheduled express and commuter services, day tours, coach holidays and private hire.";}
        
            
        


 