


@{ViewBag.Title = "Children thanked for raising road safety awareness in London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Children thanked for raising road safety awareness in London</h1>
        <div class="content-page-press-release">
        29 June 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"Since the scheme started we have had a great response and this year we have seen both very creative and emotive work"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Brown</div>
            <div class="quotee-job-title">Managing Director of Surface Transport at Transport for London</div>
        </div>
</div>

 <div class="on-this-page">
<span class="right">
                    
                </span><p>Primary school children from more than 100 schools in London were thanked today for taking on the role of Junior Road Safety Officers.</p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            Since the scheme started we have had a great response and this year we have seen both very creative and emotive work
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The day celebrated the second year of Transport for London's (TfL's)&nbsp;Junior Road Safety Officer scheme, which involves schools 'recruiting' Year Five and Six pupils to take the lead in promoting road safety issues among their peers.</p>
<p>With major improvements in road safety since the mid to late 1990s, such as 20mph speed limits on some residential roads, speed cameras and educational initiatives, there has been a significant reduction of 58 per cent in the number of children killed or seriously injured on London's roads.&nbsp;&nbsp;</p>
<p>To recognise the childrens' hard work during the last year, they were invited to attend "Street Safe Live"; a fun-packed, educational and interactive road safety show. </p>
<p>The children acted as secret agents and used their road safety know-how to compete against other teams and help characters such as Bond-styled Double '00Safe' to complete a mission to make the fictitious Scary Square safe. </p>
<p>The day included an awards ceremony where some of the most exceptional Junior Road Safety Officers won prizes for their own imaginative 'Street Safe' ideas in song, words and art. </p><strong>
<h2>Vital role</h2>
<p>&nbsp;</strong>Jenny Jones, the Mayor's road safety ambassador, said: "We have to make our roads so safe that parents will allow their children to walk or cycle to school. Junior Road Safety Officers in schools across London are playing a vital role in helping to remind young people about road safety."</p>
<p>The awards were presented by David Brown, Managing Director of Surface Transport at TfL, who said: "This event recognises the great work that these children have done in getting the message across about road safety and we fully support them.</p>
<p>"Since the scheme started we have had a great response and this year we have seen both very creative and emotive work. </p>
<p>"Everything from talented rap songs about road safety to interviews with children who have themselves been involved in accidents, are only some of the examples of hard work we have seen this academic year.</p>
<p>"It is essential to educate youngsters about road safety and this event recognises the importance of rewarding the Junior Road Safety Officers for taking up such an important role in their schools.</p>
<p>"This annual event will continue to motivate school children to be part of this significant project."</p>
<hr>
            <p>
<p><strong>Notes to Editors</strong></p>
<ul>
<li>Child Accident Prevention Week 2007 will take place between Monday 18 June and Sunday 24 June. For further information please visit the <a href="http://www.capt.org.uk/csweek/default.htm">website&nbsp;</a> </li>
<li>&nbsp;The appointed Junior Road Safety Officers are provided with an informative and lively pack of resources to help them teach their colleagues about road safety. They can do this through games, competitions, plays etc. A school staff member is also selected and is provided with a school guide pack to support the children throughout the year </li>
<li>Further support will be available for Junior Road Safety Officers from next week.&nbsp; This will be available on the renewed <a href="http://www.tfl.gov.uk/juniorroadsafety">web page</a>. The update will include a new interactive game where players must collect as many points as possible within a time limit by abiding to road safety rules </li>
<li>Approximately 700 children from around 260 schools across 20 London boroughs took part in Transport for London's Junior Road Safety Officer scheme this year, they were: 
<ul type="circle">
<li>Barking &amp; Dagenham </li>
<li>Barnet </li>
<li>Bexley </li>
<li>Bromley </li>
<li>Croydon </li>
<li>Greenwich </li>
<li>Hammersmith &amp; Fulham </li>
<li>Havering </li>
<li>Hounslow </li>
<li>Islington </li>
<li>Kensington &amp; Chelsea </li>
<li>Kingston </li>
<li>Lewisham </li>
<li>Merton </li>
<li>Newham </li>
<li>Redbridge </li>
<li>Richmond Upon Thames </li>
<li>Southwark </li>
<li>Tower Hamlets </li>
<li>Waltham Forest </li></ul></li>
<li>The winning entries of the Street Safe Live awards were: 
<ul type="square">
<li><strong>Rhythm and Rhyme Award</strong>, for the best written rap, poem or song 
<ul type="square">
<li>Winner: St Mary's C of E Primary - Waltham Forest </li>
<li>Runner up: This award has no runner up as the winner submitted two songs, which were both awarded as winners </li>
<li>The school won their own model pelican crossing, to help with road safety training.&nbsp; The prize was donated by <a href="http://www.aivaf.co.uk/">Aivaf Ltd</a> </li>
<li>Each child won complimentary prizes to 'The Science of Spying' exhibition at the <a href="http://www.sciencemuseum.org.uk/">Science Museum</a></li></ul></li>
<li><strong>Wonders with Words Award</strong>, for stories, petition letters, thoughts on road safety or any other written work that was not a poem, song or rap 
<ul type="square">
<li>Winner: Victoria Junior School - Hounslow. The prize was a &pound;150 cycle voucher, donated by <a href="http://www.evanscycles.com/">Evans Cycles</a> </li>
<li>Runner up: Victoria Junior School - Hounslow. The prize was a &pound;100 voucher, donated by Evans Cycles </li>
<li>Each child won complimentary prizes to 'The Science of Spying' exhibition at the <a href="http://www.sciencemuseum.org.uk/">Science Museum</a> </li></ul></li>
<li><strong>Smartest Artist Award</strong>, for creative posters, displays or other artwork to catch attention about road safety 
<ul type="square">
<li>Winner: St. Augustine's Primary - Hammersmith &amp; Fulham. The prize was a &pound;150 cycle voucher, donated by Evans Cycles </li>
<li>Runner up: Monega Primary School - Newham. The prize was a &pound;100 voucher, donated by Evans Cycles </li>
<li>Runner up: Tolworth Junior School - Kingston. The prize was a &pound;100 voucher, donated by Evans Cycles </li>
<li>Each child won complimentary prizes to 'The Science of Spying' exhibition at the <a href="http://www.sciencemuseum.org.uk/">Science Museum</a> </li></ul></li>
<li><strong>Bright Spark Award</strong>, for bright ideas to tell a school about road safety with a unique spark of creativity. This is a piece of work that doesn't fit into the other three categories 
<ul type="square">
<li>Winner: St Edwards R C Primary - Newham. The prize was a Belesha Beacon Crossing Set, given at a discount rate by <a href="http://www.aivaf.co.uk/">Aivaf Ltd </a></li>
<li>Each child also won complimentary prizes to 'The Science of Spying' exhibition at the <a href="http://www.sciencemuseum.org.uk/">Science Museum</a> </li>
<li>Runner up: Henry Maynard Junior School - Waltham Forest. The prize was complimentary admission tickets to the <a href="http://www.sciencemuseum.org.uk/">Science Museum's </a>Science of Spying Museum </li>
<li>Runner up: Friars Primary School - Southwark. The prize was complimentary admission tickets to the Science Museum's Science of Spying Museum</li></ul></li></ul></li></ul>
<ul>
<li>Other companies donating their support on the day include <a href="http://www.schoolfoodtrust.org.uk/">The Schools Food Trust</a>,&nbsp;<a href="http://www.silkgroup.com/">Silk Group</a>,&nbsp;and <a href="http://www.cyberglow.co.uk/">Cyberglow&nbsp;</a><br>&nbsp;<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Primary school children from more than 100 schools in London were thanked today for taking on the role of Junior Road Safety Officers.The day celebrated the second year of Transport for London's (TfL's)&nbsp;Junior Road Safety Officer scheme, which";}
        
        


 