


@{ViewBag.Title = "Countdown to London-wide Low Emission Zone begins";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Countdown to London-wide Low Emission Zone begins</h1>
        <div class="content-page-press-release">
        04 June 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<span class="right">
                    
                </span><p>Lorry, bus and coach operators are being urged to act now if they are to avoid paying a daily charge when the London Low Emission Zone commences early next year.</p>        
            
                        
            
            
            
            <p>
<p>The Low Emission Zone, which comes into operation from 4 February 2008, aims to reduce traffic pollution and improve the health and quality of life of Londoners by encouraging operators of large diesel vehicles to clean up their fleets. </p>
<p>From 4 February, diesel-engined lorries over 12 tonnes will be required to meet specified emissions standards.</p>
<p>Those vehicles that fail to meet this standard face a daily charge.</p>
<p>In force 24 hours a day, seven days a week, every day of the year, the zone will cover most of Greater London. </p>
<p>There will be a phased launch of the Low Emission Zone: </p>
<p><strong>Heavier lorries <br></strong>From 4 February 2008, diesel-engined lorries over 12 tonnes will need to meet Euro III standards. </p>
<p>This includes heavy diesel-engined vehicles exceeding 12 tonnes Gross Vehicle Weight, including goods vehicles, motor caravans, motorised horseboxes and other specialist vehicles.</p>
<p><strong>Buses, coaches and lighter lorries</strong> <br>From July 2008, Euro III standards will also apply to heavy diesel engined vehicles between 3.5 and 12 tonnes Gross Vehicle Weight, including goods vehicles, motor caravans, motorised horseboxes and other specialist vehicles.</p>
<p>This will also apply to buses and coaches: diesel-engined passenger vehicles with more than eight seats, plus the driver's seat, exceeding 5 tonnes Gross Vehicle Weight.</p>
<p><strong>Large vans</strong> <br>From October 2010, Euro III standards will also apply to diesel-engined vehicles between 1.205 tonnes unladen and 3.5 tonnes Gross Vehicle Weight and motor caravans and ambulances between 2.5 tonnes and 3.5 tonnes Gross Vehicle Weight. </p>
<p>Also minibuses: diesel-engined passenger vehicles with more than eight seats, plus the driver's seat, below 5 tonnes Gross Vehicle Weight. </p>
<p><strong>Euro IV <br></strong>From January 2012, all diesel-engined lorries, buses and coaches will be required to meet a baseline standard of Euro IV in order to drive within the Low Emission Zone at no charge.</p>

<p>&nbsp;</p>
<h2>Information campaign</h2>
<p>This week sees the start of a major public information campaign to urge operators to see if they are affected and to act now to avoid paying a daily charge.</p>
<p>UK and European owners and operators need to check which vehicles will be affected and when. </p>
<p>In order to ensure their vehicles meet the specific emissions standards, UK-registered owners can use the vehicle compliance checker available at <a href="http://www.tfl.gov.uk/lezlondon">www.tfl.gov.uk/lezlondon</a> and if they find their vehicles to be non-compliant, take the necessary action.</p>
<p>The campaign will use a combination of key poster sites within London, on main arterial routes into London, and at Eurotunnel, as well as using radio and targeted press advertising in Europe and the UK. </p>
<h2>Options available</h2>
<p>In addition there will be a number of roadshows where information leaflets will be distributed. </p>
<p>Running for over a year, the campaign aims to explain to operators how the Low Emission Zone will work, the vehicles types that are affected and when, the options available to operators to help them meet the emissions standards, and to encourage UK and European operators to check that their vehicles meet the specified standards and, if finding that they are not compliant, to take the appropriate action in good time.&nbsp;</p>
<p>Mich&egrave;le Dix, Director of the London Low Emission Zone at Transport for London, said:&nbsp; "The launch of the public information campaign represents a significant step towards the introduction of the zone early next year.</p>
<p>"We are launching this campaign now because our aim is to alert owners of all GB and European registered vehicles to check their vehicles as soon as possible so that they can take the appropriate action to ensure that their vehicles meet the required emissions standards and so avoid having to pay a daily charge or incur penalty charges."</p>
<p>To find out if your vehicle meets the Low Emission Zone emissions standards, use the vehicle compliance checker at <a href="http://www.tfl.gov.uk/lezlondon">www.tfl.gov.uk/lezlondon</a> or by calling 0845 607 0009 (or +44 20 7310 8998 for callers from outside the UK) for an information leaflet.&nbsp; </p>
            <p>
<p><strong>Notes to editors <p>
<ul>
<li></li></ul></strong>Non-GB registered vehicles that meet the Low Emission Zone emissions standards will need to be registered with TfL in order to avoid a penalty charge. Operators can register from 30 July 2007. 
<li>The Low Emission Zone will: 
<ul type="circle">
<li>Operate using cameras to identify registration numbers of vehicles driving within Greater London. The scheme will operate seven days a week, 365 days a year </li>
<li>Use the DVLA database and others to identify a vehicle's emissions standards, whether it was liable for a charge and if that charge has been paid </li>
<li>Allow for the standard for lorries, coaches and buses to be tightened in early 2012 to Euro IV <br></li></ul></li>
<li>The emission standards for the Low Emission Zone are based on Euro standards. These are European standards which set limit values for exhaust emissions for new vehicles sold in Europe, and which these vehicles must comply with when manufactured </li>
<li>The baseline emission standards for the Low Emission Zone are the Euro standards for all four regulated pollutants, rather than for particulates (PM) only. Therefore, from February 2008 the base standard for lorries over 12 tonnes would be Euro III in order to drive within the Low Emission Zone at no charge </li>
<li>The Euro III standard became mandatory for all new lorries, buses and coaches sold in the EU from October 2001 and for all new vans and minibuses sold in the EU from January 2002. Tansport for London would assume that a lorry, bus or coach is Euro III compliant if it was first registered on or after 1 October 2001, or 1 January 2002 for vans and minibuses </li>
<li>The Euro IV standard became mandatory for all new lorries, buses and coaches sold in the EU from October 2006. Transport for London would assume that a lorry, bus or coach is Euro IV compliant if it was first registered on or after 1 October 2006 </li>
<li>The emissions standard of a vehicle could be improved by fitting a particulate trap or filter which substantially reduces the amount of particulate matter emitted from the vehicle's exhaust. An operator could also re-engine the vehicle or convert it to an approved alternative fuel, such as compressed natural gas (CNG) </li>
<li>From July 2008 lorries, buses, coaches, motorcaravans, ambulances and hearses between 3.5 tonnes and 12 tonnes will also be affected </li>
<li>From 2010 the Low Emission Zone will include heavier diesel-engine light goods vehicles and minibuses. The lightest vans (under 1.205t unladen weight) will be excluded from this stage as they have car-like emissions </li>
<li>Low Emission Zone boundary <br>The Low Emission Zone will cover most of Greater London, to maximise the air quality and health benefits for all Londoners.&nbsp; Any smaller area would not achieve the air quality benefits needed.&nbsp;The LEZ will not include the M25, even when it passes within the boundary of the zone. The M25 can be used by drivers as a diversionary route, should they wish to avoid the zone. Some motorways and trunk roads will be included in the scheme. The <a>website </a>includes a map so drivers can check the boundaries and which roads are included within the zone.<br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Lorry, bus and coach operators are being urged to act now if they are to avoid paying a daily charge when the London Low Emission Zone commences early next year.The Low Emission Zone, which comes into operation from 4 February 2008, aims to reduce traffic";}
        
        


 