


@{ViewBag.Title = "London Underground responds to Metronet BCV Extraordinary Review submission";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground responds to Metronet BCV Extraordinary Review submission</h1>
        <div class="content-page-press-release">
        29 June 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"We have been calling on Metronet to seek an Extraordinary Review since February 6 this year"</div>
        <div class="quote-footer">
            <div class="quotee-name">Tim O'Toole</div>
            <div class="quotee-job-title">LU's Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<span class="right">
                    
                </span><p>Preliminary Response makes clear that Metronet should not receive any additional payment from London Underground (LU).</p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            We have been calling on Metronet to seek an Extraordinary Review since February 6 this year
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>LU will advise the Public Private Partnership (PPP) Arbiter that it does not believe it should be liable for any additional payments to Metronet, for work undertaken as part of its Infraco BCV PPP contract (see Notes to editors).</p>
<p>The submission will be made to the PPP Arbiter on Monday in LU's Preliminary Response to Metronet's submission for an Extraordinary Review of its Infraco BCV PPP contract, including their claim for &pound;992m, and for a temporary increase in the BCV Infrastructure Service Charge.</p>
<p>LU believes that Metronet has not provided evidence to date that any additional payments would have been required by a competent organisation.&nbsp;</p>
<p>It therefore remains of the belief that Metronet's projected cost overrun should be largely or entirely borne by it and its shareholders.</p>
<p>The Mayor and LU&nbsp;have been calling on Metronet to seek an Extraordinary Review since February 6 this year, as the only way to achieve clarity about any cost overruns and resolve this issue.</p>
<p>They continue to call on Metronet to seek an Extraordinary Review of Infraco SSL as soon as possible. </p>
<p>LU Managing Director, Tim O'Toole said: "Last year, the PPP Arbiter quite rightly ruled that the Metronet companies had not performed in an economic or efficient manner, nor in line with Good Industry Practice and that they were projecting a significant cost overrun. </p>
<h2>Cost overruns</h2>
<p>"We now know the full extent of that figure.</p>
<p>"We have been calling on Metronet to seek an Extraordinary Review since February 6 this year.</p>
<p>"We will now fully review Metronet's submission to the PPP Arbiter.&nbsp;</p>
<p>"But our Preliminary Response makes clear that we believe he should reach a similar conclusion. </p>
<h2>Extroadinary Review</h2>
<p>"In summary, we believe Metronet have not performed in an economic and efficient manner and that their financial position is a result of it and its shareholders failure to properly plan, manage and execute its maintenance and renewal activities.</p>
<p>"It therefore remains our belief, and is our submission to the PPP Arbiter, that Metronet's cost overruns should be largely or entirely borne by Metronet and its shareholders."</p>
<p>Metronet's submission to the PPP Arbiter includes a claim for a temporary increase in their BCV Infrastructure Service Charge at the start of the Extraordinary Review process.</p>
<p>Metronet has already received around &pound;3bn in Infrastructure Service Charge from LU and receives millions more every four weeks.&nbsp; LU believes that Metronet should be drawing on its own sources of funds, rather than seeking more from the public purse. </p>
<h2>Public funds</h2>

<p>Tim O'Toole continued: "Should London Underground be required to increase the Infrastructure Service Charge at this time, there is no guarantee of any improvement in the performance of Metronet or the services it delivers as a result.</p>
<p>"There is, therefore, the strong possibility that these public funds could be lost, instead of being better invested elsewhere to improve London's transport network.</p>
<p>"No more public funds should be risked and there must be full scrutiny of Metronet's cost overruns by the Arbiter, as part of the Extraordinary Review process."<br></p>
            <p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Metronet has two LU PPP contracts for the maintenance and renewal of the Tube's infrastructure - the trains, tracks, tunnels, signals and stations - Metronet Rail BCV and Metronet Rail SSL</li>
<li>An "Infraco" is an infrastructure company under the PPP structure</li>
<li>Metronet Rail BCV is responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo &amp; City lines</li>
<li>Metronet Rail SSL is responsible for the maintenance and renewal of the Sub-Surface Lines - the Circle, District, Metropolitan and Hammersmith &amp; City lines</li>
<li>Metronet has so far only sought an Extraordinary Review of its Infraco BCV contract</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Preliminary Response makes clear that Metronet should not receive any additional payment from London Underground (LU).LU will advise the Public Private Partnership (PPP) Arbiter that it does not believe it should be liable for any additional payments to";}
        
        


 