


@{ViewBag.Title = "MPs take to two wheels for the Tour de France ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>MPs take to two wheels for the Tour de France </h1>
        <div class="content-page-press-release">
        12 June 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"We have seen today that a large number of MPs and Peers have cycled the five mile opening stage of the Tour de France and survived!"</div>
        <div class="quote-footer">
            <div class="quotee-name">Emily Thornberry MP</div>
            <div class="quotee-job-title">chair of the All Party Parliamentary Cycling Group</div>
        </div>
</div>

 <div class="on-this-page">
<span class="right">
</span>
<p>MPs and peers showed their support for the first ever London Grand D&eacute;part of the Tour de France today (12 June), by riding the route of the Prologue, which the World's top cyclists will compete on in under a month (7 July).<br />
</p>
<div class="pullquote right">
<p>
We have seen today that a large number of MPs and Peers have cycled the five mile opening stage of the Tour de France and survived!
</p>
</div>
<p>This year's All Party Parliamentary Bike Ride was Tour de France themed to celebrate this year's race and Minister for Sport, The Rt Hon Richard Caborn MP and Transport Minister, Tom Harris MP, took part in the ride.</p>
<p>The Tour de France is the largest annual sporting event in the World and is being brought to the Capital and Kent by the Mayor of London and Transport to London (TfL) to promote cycling in the city.</p>
<p>The route of the 7.9km Prologue course took the politicians past some of London's most famous landmarks, including Whitehall, the Houses of Parliament, Buckingham Palace, Hyde Park and the Mall.</p>
<p>Stage One of the Tour de France, on Sunday 8 July, will start in central London, passing close to a variety of historic and contemporary sites including Big Ben, the London Eye, St Paul's Cathedral, the Gherkin and crossing Tower Bridge close to City Hall.</p>
<p>The race will then travel through Bermondsey, Deptford, Greenwich and Erith before travelling in to Kent.</p>
<p>In Kent the Tour will pass through Dartford, Medway, Tonbridge, Tunbridge Wells, Maidstone and Ashford before the stage finish in Canterbury.</p>
<h2>Superb opportunity</h2>
<p>The Mayor of London, Ken Livingstone said: "The Tour de France is a superb opportunity to promote cycling in both London and the UK.</p>
<p>"During the past seven years, the number of people taking to two wheels in the Capital has soared by 83 per cent - more than any other city in Europe. </p>
<p>"We want the excitement of the Tour de France to encourage even more people to take up cycling."</p>
<p>Transport Minister Tom Harris said: "Going by bike is not only a great way to see the city and keep fit, but it also helps cut congestion, reduce pollution, and allows us to help tackle climate change.</p>
<p>
</p>
<p>
</p>
<p>"I hope the Tour de France in London will create a real buzz about cycling in the city and beyond." </p>
<h2>World-class event</h2>
<p>Emily Thornberry MP, chair of the All Party Parliamentary Cycling Group, said: "We have seen today that a large number of MPs and Peers have cycled the five mile opening stage of the Tour de France and survived! </p>
<p>"But there is a serious point. Half of all car commutes are less than this distance. Wouldn't Britain be better off if we all got on our bikes?"</p>
<p>Minister for Sport, Richard Caborn, said: "The Tour de France is the biggest cycle race on earth and it's great for London to host the Grand D&eacute;part and first stage of this world-class event, particularly with the 2012 Olympic Games round the corner.</p>
<p>"The Tour will showcase the talents of the finest professional road cyclists and inspire people to get on their bike as we look to get the nation more active."</p>
<p>
</p>
<hr />
<p>
</p>
<p>
</p>
<p><strong>Notes to editors</strong><br />
<strong></strong></p>
<p><strong>
</strong></p>
<ul><strong>
    <li></li>
    </strong></ul>
    The Tour de France Grand D&eacute;part comes to London on July 6, 7 and 8 for the first time in its 104-year history. A package of activities will accompany the Tour, including the People's Village - an event to celebrate and promote cycling in Hyde Park - and 18 giant screens in the Capital so everyone can get a good view of the racing. Over the weekend, there will be an additional 11,000 cycling parking spaces in London. More information about the Tour de France in London is available online
    <li>Media accreditation for the Tour de France is currently open.  Register for accreditation <a href="http://www.letour.fr/">online</a>   </li>
    <li>Cycling in London<br />
    a. Since 2000 there has been an 83 per cent increase in the number of people cycling on the Capital's major roads. There are now approximately 480,000 cycle journeys a day across London as a whole. <br />
    b. Investment in cycling has risen from &pound;5.5 million in 2000 to &pound;36 million in 2007/8. TfL is investing this money in cycling infrastructure, training, promotion and education.<br />
    c. The Mayor of London has said he wants to see a 400 per cent increase in cycling by 2025.<br />
    d. In 2006, The Department for Transport doubled funding for Cycling England, the national cycling body, to &pound;10million a year </li>
    <li>Bike Week, from 16th-24th June, is the UK's annual celebration of cycling, with more than 1,500 events attracting 250,000 participants.  Bike Week incorporates Bike2Work, the nationwide promotion of cycling to work.  <a href="http://www.bikeweek.org.uk/">More information</a> is available online  </li>
    <li>London Development Agency is the Mayor of London's agency for driving London's sustainable economic growth.  Its job is to make sure London remains a global success story - next year, the next decade and beyond, promoting London as the World City </li>
    <li>The South East England Development Agency (SEEDA) is the Government funded Agency responsible for the sustainable economic development and regeneration of the South East of England - the driving force of the UK's economy. Our aim is to create a prosperous, dynamic and inspirational region by helping businesses compete more effectively, training a highly skilled workforce, supporting and enabling our communities while safeguarding our natural resources and cherishing our rich cultural heritage </li>
    <li>The London Grand D&eacute;part of the Tour de France has been supported by UK Sport's National Lottery-funded World Class Events Programme, which aims to secure events of strategic importance that deliver a range of lasting benefits. These include economic, social and cultural benefits as well as improving sporting performance by home athletes, encouraging participation and leaving a legacy of facilities and development initiatives. Over 120 sporting events have been staged in the UK through the Programme since 1997. <a href="http://www.uksport.gov.uk/">More information</a> is available online  </li>
    <li>British Cycling is the internationally recognised governing body of cycling in the UK: running the number one ranked GB cycling team; servicing 20,000 members; and providing thousands of sport and leisure cycling opportunities every year. Visit the <a href="http://www.britishcycling.org.uk/">British Cycling website </a>or <a href="http://www.everydaycycling.com/">Every Day Cycling  </a>Or contact <a href="mailto:pressoffice&#64;britishcycling.org.uk">pressoffice&#64;britishcycling.org.uk</a> </li>
    <li>Visit London is the official visitor organisation for London. Our role is to promote London as the most exciting city on the planet, targeting domestic and overseas leisure and business visitors as well as Londoners. Visit London works in partnership with the Mayor, the London Development Agency and the tourism industry in London </li>
    <li>Sport England exists to sustain and increase participation in community sport. It is a non-departmental public body and Lottery distributor. Our ambition is to get two million people participating more in sport by 2012. We do this by promoting, advising and investing in community sport. <a href="http://www.sportengland.org">More information</a> is available online </li>
    <p ><br />
    </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "MPs and peers showed their support for the first ever London Grand D&eacute;part of the Tour de France today (12 June), by riding the route of the Prologue, which the World's top cyclists will compete on in under a month (7 July).This year's All Party";}
        
        


 