


@{ViewBag.Title = "New DLR Platform opens at Stratford";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New DLR Platform opens at Stratford</h1>
        <div class="content-page-press-release">
        18 June 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"We are on track for the complete upgraded station later this year."</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<span class="right">
                    
                </span><p>The Docklands Light Railway (DLR), part of Transport for London (TfL), has opened the first of its two new platforms at Stratford station today&nbsp;(Monday 18 June).</p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            We are on track for the complete upgraded station later this year.
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The&nbsp;new platform, funded by TfL's &pound;10bn Investment Programme and contracted to Hochtief UK Construction,&nbsp;is situated on the mezzanine level&nbsp;of Stratford station and connects directly into the Jubilee station building.</p>
<p>It provides improved passenger waiting facilities, CCTV, information services and seating. </p>
<p>The second platform,&nbsp;marking the completion of the project, will open in September offering passengers&nbsp;greater capacity&nbsp;by allowing&nbsp;the DLR to run trains to and from Stratford alongside each other.</p>
<p>The previous DLR single platform, which was part of the railway's original 1987 route, has been permanently closed.</p>
<p>The platforms are required as there will be a large increase in passengers at Stratford over the next few years as a result of the opening of the Stratford International station; ongoing development of Stratford City and the London 2012 Olympic and Paralympic Games. </p>
<h2>Improved and expanded</h2>
<p>As part of the new station, there is an impressive soaring roof&nbsp;made from steel and aluminium with several skylights&nbsp;to allow natural light down onto the platforms,&nbsp;while&nbsp;underneath&nbsp;the roof&nbsp;there is&nbsp;backlighting.</p>
<p>Both&nbsp;the&nbsp;roof and the station were designed by&nbsp;architects, Alsop.&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>Ken Livingstone, Mayor of London, said: "The successful completion of this stage in the project to deliver an improved and expanded Stratford Docklands Light Railway, means we are on track for the complete upgraded station later this year.</p>
<p>"This will benefit passengers by providing more trains in a better environment."</p>
<p>Jonathan Fox, Director DLR, said: "We are delighted to open our new Stratford platform, which is truly eye-catching and offers the space and facilities needed for our ever-growing number of passengers.</p>
<p>"We now eagerly anticipate the second platform opening later this year, and, looking further ahead, the opening of the DLR Stratford International extension in 2010."<br></p>
            <p>
<p><strong>Notes to Editors:</strong></p>
<ul>
<li>The two most recent DLR extensions, to Lewisham and London City Airport, were both built ahead of schedule and on budget</li>
<li>Construction started on the DLR Stratford International extension in January 2007. The line will encompass existing stations at Royal Victoria, Canning Town, West Ham and Stratford, and new stations at Star Lane, Abbey Road, Stratford High Street and Stratford International, the latter serving the Channel Tunnel Rail Link. The extension will provide capacity and flexibility for future growth along the Lower Lea Valley, and offer a more frequent and reliable service to that previously in place when the route was operated by the North London Line</li>
<li>Further information on DLR is available at <a href="http://www.dlr.co.uk">www.dlr.co.uk</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Docklands Light Railway (DLR), part of Transport for London (TfL), has opened the first of its two new platforms at Stratford station today&nbsp;(Monday 18 June).The&nbsp;new platform, funded by TfL's &pound;10bn Investment Programme and contracted to";}
        
        


 