


@{ViewBag.Title = "Oyster success leads Tube ticket office changes";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Oyster success leads Tube ticket office changes</h1>
        <div class="content-page-press-release">
        12 June 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"The success of Oyster has led to a huge reduction in the number of customers buying tickets at our stations"</div>
        <div class="quote-footer">
            <div class="quotee-name">Richard Parry</div>
            <div class="quotee-job-title">London Underground director of strategy and service development</div>
        </div>
</div>

 <div class="on-this-page">
<span class="right">
                    
                </span><p>Faster, cheaper, easier Oyster ticketing has led to a massive reduction in tickets sold at stations, heralding changes in the way some Tube stations will be operated and passengers cared for, London Underground (LU)&nbsp;said today.<br></p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            The success of Oyster has led to a huge reduction in the number of customers buying tickets at our stations 
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Less than three per cent of Underground journeys are now made on single and return tickets, with Oyster accounting for over 60 per cent&nbsp;of all Tube trips.&nbsp;</p>
<p>From March 2008, due to this reduced demand for tickets, around 40 of the most lightly-used ticket offices at Tube stations will close.&nbsp; </p>
<p>Other stations will see a reduction in ticket office hours.</p>
<p>However, the busiest stations - notably the big interchanges with a high volume of visitors - will not be affected.</p>
<p>New Oyster ticket machines will be in place next year before the changes occur and staff will still be available to assist passengers.</p>
<p>All&nbsp;LU stations will continue to be staffed when the station is open.</p>
<h2>Extra staff</h2>
<p>Around 240 staff will be redeployed from ticket offices across the Tube network to other roles on stations or driving trains, but there will be no job losses and overall almost 300 extra staff will be required over the next two years.&nbsp; </p>
<p>Richard Parry, LU director of strategy and service development, said: "The success of Oyster has led to a huge reduction in the number of customers buying tickets at our stations.&nbsp;</p>
<p>"This has meant that we have&nbsp;already been able to shift station staff from behind the plate glass windows in ticket offices&nbsp;to the platforms and in ticket halls.&nbsp;</p>
<p>"By increasing the visibility of staff they will make the stations a safer place and will be able to fully assist customers.</p>
<h2>Programme of investment</h2>
<p>"We have also embarked on the biggest programme of investment, renewal and increase in capacity on the Tube since the Second World War. </p>
<p>"To cope with this extra capacity staff will also be re-deployed to drive these extra trains."</p>
<p>There are nearly 2,500 Oyster Ticket Stops across London where customers can buy and top up their Oyster card - and this will grow to over 3,500 locations during summer 2008.</p>
<p>LU&nbsp;expects that use of Oyster will continue to rise, resulting in transactions at ticket office windows falling by a further 20 per cent over the next two years.</p>
<p>From March 2008, some of the Tube busiest stations such as King's Cross St. Pancras, Victoria, London Bridge and Bank will also benefit from an increase in station staffing.</p>
<p>
<hr>

<p>
            <p>
<p><strong>Notes to editors</strong><br><strong><p>
<ul>
<li></li></ul></strong>Transport for London (TfL) is investing &pound;10bn to improve and expand London's transport network, more than half of that in the Tube 
<li>The combined transaction levels at the 40 ticket offices proposed for closure is less than that of Victoria, Heathrow 123, King's Cross St. Pancras or Paddington Underground stations individually </li>
<li>Over the next two years, an additional 650 London Underground (LU) staff will be required to deliver improvements planned under the Investment Programme </li>
<li>Taking into account the planned closure of the East London line, which will be rebuilt reopen in 2010 as part of the London Overground network, this will result in a net increase of at least 290 posts across the company </li>
<li>The final list of stations that where the ticket office changes will be introduced will be announced towards the end of 2007.&nbsp; Stations currently earmarked for this change are as follows:<br>Becontree; Boston Manor;&nbsp;Buckhurst Hill; Canons Park; Cannon Street; Chesham; Chiswick Park; Chorleywood; Croxley; Debden; East Putney; Fairlop; Hornchurch; Goldhawk Road; Ickenham; Latimer Road; Mansion House;&nbsp;Mill Hill East;&nbsp;Moor Park; North Ealing; North Harrow; Northwood Hills; Park Royal; Perivale; Ravenscourt Park; Regent's Park; Royal Oak; Ruislip; Ruislip Gardens; South Ruislip; Sudbury Hill; Temple; Totteridge&nbsp;and Whetstone; Upney; West Acton; West Finchley; West Harrow; West Ruislip; Wimbledon Park </li>
<li>The new Wood Lane station currently under construction on the Hammersmith &amp; City line will also not have a ticket office when it &nbsp;opens in 2008<br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Faster, cheaper, easier Oyster ticketing has led to a massive reduction in tickets sold at stations, heralding changes in the way some Tube stations will be operated and passengers cared for, London Underground (LU)&nbsp;said today.Less than three per";}
        
        


 