


@{ViewBag.Title = "Passengers reminded to use up red Bus Saver tickets";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Passengers reminded to use up red Bus Saver tickets</h1>
        <div class="content-page-press-release">
        04 June 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"We have had to take this action to prevent the exploitation of passengers from ticket fraudsters."</div>
        <div class="quote-footer">
            <div class="quotee-name">Nick Owen</div>
            <div class="quotee-job-title">Acting Head of Bus Enforcement for Transport for London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We have had to take this action to prevent the exploitation of passengers from ticket fraudsters. 
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Transport for London (TfL)&nbsp;has today (1 June) stopped selling its old design of red Bus Saver tickets and is reminding passengers they have just one month left to use existing tickets up.</p>

<p>From 30 June the red Bus Saver tickets will no longer be accepted on London Buses as these tickets have been replaced by a new blue design as part of an ongoing anti-fraud operation. </p>
<p>It is believed that sophisticated counterfeits had penetrated at least 10 per cent of the red Bus Saver ticket circulation.</p>
<p>Nick Owen, Acting Head of Bus Enforcement for&nbsp;TfL said: "We have had to take this action to prevent the exploitation of passengers from ticket fraudsters. </p>
<p>"The new blue Bus Saver ticket design will work in exactly the same way as the old red tickets except they will have some clever anti-fraud measures designed to frustrate criminals. </p>
<p>"Bus saver tickets are transferable so if anyone has a few left at home&nbsp;they&nbsp;can give them to family and friends to use up before the end of the month."</p>
<p>The new blue design of ticket has been on sale since 2 April. </p>
            <p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Transport for London (TfL)&nbsp;funds the Metropolitan Police Service&nbsp; Transport&nbsp; Operational&nbsp; Command Unit, a team of more than 1,200 uniformed officers dedicated to policing the bus network, at a cost of more than &pound;70m a year </li>
<li>Officers from the Transport Operational Command Unit, working with TfL Fraud and Security, have made a number of arrests in connection with the suspected counterfeit operation </li>
<li>TfL will prosecute anyone it believes is knowingly travelling without a valid ticket for their journey </li>
<li>After 30 June any old red designs will have to be checked by TfL fraud investigators, so requests for blue ticket replacements could take some weeks to process </li>
<li>For more information, please contact&nbsp; the press office on 0845 604 4141</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL)&nbsp;has today (1 June) stopped selling its old design of red Bus Saver tickets and is reminding passengers they have just one month left to use existing tickets up.From 30 June the red Bus Saver tickets will no longer be";}
        
        


 