


@{ViewBag.Title = "Passengers to benefit from bus service changes in Wimbledon and Tooting";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Passengers to benefit from bus service changes in Wimbledon and Tooting</h1>
        <div class="content-page-press-release">
        26 June 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"We are delighted with the planned changes to routes 493 and 131"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mary Kyne</div>
            <div class="quotee-job-title">St.George's Healthcare NHS Trust</div>
        </div>
</div>

 <div class="on-this-page">
<span class="right">
                    
                </span><p>Transport for London (TfL) is pleased to announce the re-routing of bus route 493 and the extension of route 131.</p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            We are delighted with the planned changes to routes 493 and 131 
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>From 30 June, bus route 493 will be re-routed between Wimbledon and St. George's Hospital, Tooting, to serve Alexandra Road, Gap Road, Plough Lane and Blackshaw Road. </p>
<p>Route 131 will be extended from Wimbledon to Tooting from the same date. </p>
<p>Local residents, bus users and hospital staff and visitors, will especially benefit from the 493 along Plough Lane and part of Blackshaw Road currently unserved by buses. </p>
<p>The 493 will no longer serve Wimbledon Bridge, The Broadway, Merton Road, South Wimbledon, Merton High Street and Colliers Wood High Street, but route 131 will provide an improved double-decker service along these roads. </p>
<p>The 131 will also be more frequent, running every eight minutes Mondays to Saturdays and every 12 minutes on Sundays. </p>
<h2>Great benefit</h2>
<p>John Barry, Head of Network Development for London Buses, said: "We worked closely with both Wandsworth and Merton Councils in developing these changes.</p>
<p>"We believe they will be of great benefit to local bus users."</p>
<p>Mary Kyne, General Manager Facilities for St.George's Healthcare NHS Trust, said: "We are delighted with the planned changes to routes 493 and 131 as this improves the bus connections to the site.</p>
<p>"We are especially pleased that the views of our staff, patients and visitors were taken into account when planning the services."</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) is pleased to announce the re-routing of bus route 493 and the extension of route 131.From 30 June, bus route 493 will be re-routed between Wimbledon and St. George's Hospital, Tooting, to serve Alexandra Road, Gap Road, Plough";}
        
        


 