


@{ViewBag.Title = "Pr&ecirc;t &agrave; Rouler: London's first cycle clothing fashion show";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Pr&ecirc;t &agrave; Rouler: London's first cycle clothing fashion show</h1>
        <div class="content-page-press-release">
        19 June 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"Lots of people will see the marriage of bikes and fashion as a perfect match"</div>
        <div class="quote-footer">
            <div class="quotee-name">Jenny Jones</div>
            <div class="quotee-job-title">the Mayor's green transport adviser</div>
        </div>
</div>

 <div class="on-this-page">
<span class="right">
                    
                </span><p>Fluorescent jackets, reflectors and mushroom helmets may put off many from cycling in the Capital, but a new clothing show has a solution for fashion conscious Londoners. </p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            Lots of people will see the marriage of bikes and fashion as a perfect match
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>On Thursday 21 June, Pr&ecirc;t &agrave; Rouler, London's first cycle clothing fashion show, organised by cycle shop Velorution and sponsored by Transport for London (TfL), will take place at the Village Underground, Shoreditch, between&nbsp;19:00 and 22:00.</p>
<p>Following the huge boom in cycling in the Capital in recent years, more and more stylish Londoners are taking to this popular and healthy form of transport.</p>
<p>Velorution, which is at the forefront of cycle-chic, will showcase several designers' innovative and exceptional take on cycle clothing. </p>
<p>Models on bikes will show off a combination of garments and bicycles from fashion veterans, established brands and rising stars in this one day extravaganza.</p>
<p>Jenny Jones, Mayor's Green transport advisor, said: "Cycling is a healthy and quick way of moving around London, so let's make it stylish as well. </p>
<h2>Image of cycling</h2>
<p>"Lots of people will see the marriage of bikes and fashion as a perfect match.</p>
<p>"Cycling can be an every day activity for every day clothes, or you can opt for something more fun and fashionable."</p>
<p>Adrian Bell, Sustainable Mobility Manager, Cycling, Walking and Accessibility at Transport for London (TfL), said:&nbsp;"The image of cycling has been transformed in recent years but it still isn't commonly associated with cutting edge fashion.&nbsp; </p>
<p>"We want to show people of all ages and backgrounds that cycling doesn't mean lots of lycra and that it is possible to arrive by bike and look good.&nbsp; </p>
<h2>Bicycle style</h2>
<p>&nbsp;"Cycling has never been more popular in the Capital; we hope that Pr&ecirc;t &agrave; Rouler will convince even more Londoners they can still be fashionable on two wheels."</p>
<p>Designer Karta Healey, one of the first to sign up to the show, turned to fashion while snowboarding and found that none of the clothing worked for him.&nbsp;</p>
<p>He successfully worked with Nick Ashley on a motorcycle clothing range and now is ready to debut his cycle wear range 'TWOnFRO'.</p>
<p>Another name on the fashion circuit is Junky Styling, based in Brick Lane. </p>
<h2>Unique insight</h2>
<p>Their re-worked masterpieces are surprisingly made from frumpy old garments destined for the recycling bin, and this summer they are on hand to display their interpretation of bicycle style, which is guaranteed to impress.</p>
<p>Other names showing include Guy Hills, Vexed Generation, Keith and Dunstan James, and Rapha.&nbsp;</p>
<p>Pr&ecirc;t &agrave; Rouler will be much more than a fashion show and designers will be on hand at the end of the show to give their unique insight into the design process, and how they find inspiration.</p>
            <p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>As part of Pr&ecirc;t &agrave; Rouler, TfL has teamed up with the cycle shop Velorution, Westminster City Council (WCC) and Sustrans' Bike It scheme, the national project that aims to get more children to cycle, to pilot the 'Teenage Girl Cycle Fashion Project' </li>
<li>The 'Teenage Girl Cycle Fashion Project' aims to promote cycling among teenage girls, by using fashion to demonstrate that you can ride a bike and still be trendy, has been taken up by ten Year nine and ten students.&nbsp;The pupils from Westminster Academy teamed up with fashion student, Amy Fleuriot from London College of Fashion, to design wearable, every day cycle garments </li>
<li>Their efforts will culminate in a showcase for their peers on 21 June from 12:00 to&nbsp;14:00 at the Village Underground, Shoreditch, as part of the larger cycle fashion catwalk show, Pr&ecirc;t &agrave; Rouler, supported by TfL </li>
<li>Both fashion shows are free and visitors are advised to arrive early </li>
<li>Get to the venue by visiting <a href="http://journeyplanner.tfl.gov.uk/user/XSLT_TRIP_REQUEST2?language=en">Journey Planner</a> </li>
<li>Further information about <a>cycling in London</a> is available online </li>
<li>Find out about <a href="http://www.velorution.biz/">Velorution</a> </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Fluorescent jackets, reflectors and mushroom helmets may put off many from cycling in the Capital, but a new clothing show has a solution for fashion conscious Londoners. On Thursday 21 June, Pr&ecirc;t &agrave; Rouler, London's first cycle clothing";}
        
        


 