


@{ViewBag.Title = "Smoking ban: impact on London's transport network";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Smoking ban: impact on London's transport network</h1>
        <div class="content-page-press-release">
        06 June 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<span class="right">
                    
                </span><p>
<p>From 1 July 2007, smoking will no longer be permitted while waiting at bus shelters or while travelling in any taxi or private hire vehicle, in line with new legislation being introduced across England.</p></p>        
            
                        
            
            
            
            <p>
<p>That legislation will make illegal to smoke in virtually all enclosed public places, workplaces and public and work vehicles, including public transport and buildings associated with public transport.</p>
<p>Although smoking has been banned on all Transport for London property and across all modes of public transport for many years, the new legislation will mean smoking in all taxis and private hire vehicles will now be illegal.&nbsp; Previously, drivers could decide whether or not to allow passengers to smoke in their vehicles.&nbsp; Smoking will also be banned within shelters at bus stops.</p>
<p>The Department of Health anticipates that the new legislation will save thousands of lives over the next decade by reducing the amount of second-hand smoke in enclosed public places and workplaces.</p>
            <p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>Please see below an outline of the regulations around smoking on TfL property and services.&nbsp; Notices will be clearly displayed at all sites where smoking is banned </li>
<li><strong>London Buses</strong><br>London Buses currently has a no smoking policy on all 8,000 buses in the fleet. The Department of Health's 'Health Act' specifies there should be no smoking in substantially enclosed structures.&nbsp;To avoid confusion, and for the comfort of all our passengers, TfL will be applying the new regulations at all London Buses premises, including the 12,000 bus shelters in the Capital </li>
<li><strong>Taxis and Private Hire Vehicles<br></strong>From 1 July 2007, it will become an offence to smoke, or attempt to smoke, while travelling in a London taxi or private hire vehicle.&nbsp;All licensed private hire operators and taxi shelters will also be required to become non-smoking premises </li>
<li><strong>London River Services</strong><br>From 1 July 2007, all London River Services' piers will become non-smoking. Boats serving London River Services' piers are not covered under the legislation </li>
<li><strong>Croydon Tramlink</strong><br>Croydon Tramlink currently has a no smoking policy on its Tram network.&nbsp;From 1 July 2007, all tram stops will become non-smoking </li>
<li><strong>Victoria Coach Station</strong><br>Victoria Coach Station currently has a no smoking policy, apart from two designated smoking areas for passengers.&nbsp;As of 1 July 2007, these will become non-smoking </li>
<li><strong>London Underground</strong><br>There is currently a no smoking policy in place on all London Underground lines and stations </li>
<li><strong>Docklands Light Railway (DLR)</strong><br>There is currently a no smoking policy in place on the DLR network, and on all DLR stations </li>
<li><strong>Dial-a-Ride</strong><br>All Dial-a-Ride vehicles currently have a no smoking policy </li>
<li>Anyone flouting the new non-smoking legislation will be subject to a &pound;50 on-the-spot fine (discounted to &pound;30 if paid within 15 days), or a fine by a Court of up to &pound;200.&nbsp;Visit <a href="http://www.smokefreeengland.co.uk/">http://www.smokefreeengland.co.uk/</a> for further information on the new legislation<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "From 1 July 2007, smoking will no longer be permitted while waiting at bus shelters or while travelling in any taxi or private hire vehicle, in line with new legislation being introduced across England.That legislation will make illegal to smoke in";}
        
        


 