


@{ViewBag.Title = "Strong support for Tramlink Extension to Crystal Palace ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Strong support for Tramlink Extension to Crystal Palace </h1>
        <div class="content-page-press-release">
        08 June 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<span class="right">
                    
                </span><p>
<p>Local people and businesses continue to show strong support for the proposed extension of the Croydon Tramlink to Crystal Palace, a public consultation has shown. </p></p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            It will make journeys to and from Croydon shorter and more convenient
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>A total of 1,520 responses were received by Transport for London (TfL) during the consultation, with more than twice as many positive comments as negative ones.</p>
<p>Not only did the two local boroughs, Croydon and Bromley, reaffirm their commitment to the project but TfL also received a petition supporting the extension from 75 businesses in Crystal Palace.&nbsp; </p>
<p>Positive comments about the extension included: "It will make journeys to and from Croydon shorter and more convenient" and "The sooner the better - long overdue."&nbsp; </p>
<p>Individuals and organisations were asked which out of three potential route options for the northern part of the extension they preferred, and what they thought about the extension in general. </p>
<p>The three route options were: </p>
<ul>
<li>Option 1: Anerley Hill (on-street) </li>
<li>Option 2: Crystal Palace Park (via existing railway alignment) </li>
<li>Option 3: Anerley Road/Crystal Palace Park </li></ul>
<p>Option 2, which would run off-street along the existing railway line and through the edge of Crystal Palace Park, was the preferred option, with 67 per cent of people saying it was their first choice.&nbsp; </p>
<p>This compared to 18 per cent who supported Option 3, and 15 per cent who supported Option 1. </p>
<p>The main reasons people liked Option 2 was that it would have the least impact on traffic and also provide a good interchange with Crystal Palace railway station.</p>
<p>Option 3, which would run for a short distance along Anerley Road and then though Crystal Palace Park, was the second favourite choice. </p>
<h2>Ease congestion</h2>
<p>Ken Livingstone, Mayor of London, said: "These consultation results show there is strong support for the proposed Tramlink extension to Crystal Palace. </p>
<p>The extension would deliver a high quality, regular tram service for local people helping to ease congestion and reduce pollution by providing an alternative to the car."</p>
<p>Luke Albanese, Project Director for TfL, said: "The responses we have had from local residents are very positive. </p>
<p>"People can see how the extension of Tramlink to Crystal Palace will make it easier to get to work, restaurants, shops and local facilities. </p>
<h2>Views of residents</h2>
<p>"The comments we received on the options will help inform the design of the extension."</p>
<p>TfL&nbsp;will be looking at which route is best overall, taking into account the cost of construction, passenger numbers, environmental impact and the views of residents and stakeholders from the consultation.</p>
<p>A route for the extension will be decided towards the end of 2007.<br></p>
<p>&nbsp;</p>
            <p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The 3km extension would link Anerley and Crystal Palace to the popular and successful Croydon Tramlink service, which carries over 24 million passengers a year </li>
<li>The extension will provide new interchanges with the extended East London line at Crystal Palace Station (opening in 2010) and with local bus routes at Crystal Palace Parade, making onward journeys across London easier. The extension would cut journey times between Croydon and Crystal Palace to 18 minutes. Subject to securing Government approval and funding, the extension could be open in 2013 </li>
<li>The public consultation into route options for the extension in Anerley and Crystal Palace ran from 19 October to 18 December 2006.&nbsp; The <a>report on the consultation</a>, undertaken by MORI, is available online </li>
<li>A market research survey conducted by MORI in spring 2006 among a representative sample of 542 residents around the proposed route showed strong support among local residents (78 per cent) for the extension of Tramlink to Crystal Palace.</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Local people and businesses continue to show strong support for the proposed extension of the Croydon Tramlink to Crystal Palace, a public consultation has shown. A total of 1,520 responses were received by Transport for London (TfL) during the";}
        
        


 