


@{ViewBag.Title = "Transport for London sets out Tour de France travel arrangements and road closures";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London sets out Tour de France travel arrangements and road closures</h1>
        <div class="content-page-press-release">
        28 June 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>
</p>
<p><strong>Roads closed across the weekend, with buses on diversion, but Tube engineering works suspended in Central London.</strong></p>
<p>The huge logistical arrangements to support the London Grand D&eacute;part of the Tour de France and catering for more than one million spectators were set out today by Transport for London (TfL).</p>
<p>There will be road closures from 12:00 on Friday 6 July, meaning some bus route diversions.</p>
<p>However, all Tube engineering works in central London have been suspended over the weekend.</p>
<p>The Tour de France, the largest annual sporting event in the world, will be coming to London for the first time during the weekend of 6-8 July 2007.</p>
<p>The Grand D&eacute;part will see huge numbers of people lining the streets to see some of the greatest names in cycle racing fighting it out for the famous yellow jersey on the Capital's streets.</p>
<p>There will be significant road closures in London across the weekend to ensure the safety of riders and spectators.</p>
<p>Roads will be closed for the Opening Ceremony on Friday 6 July, the Prologue on Saturday 7 July and Stage One on Sunday 8 July.</p>
<p>This will mean many bus routes will be diverted or shortened for parts of the weekend.</p>
<p>Commuters are urged to avoid the Trafalgar Square area on Friday evening as there will be large crowds for the Opening Ceremony.</p>
<p>All engineering works on London Underground have been suspended in central London.</p>
<p>TfL will also be providing an additional 11,000 temporary cycle parking spaces for spectators.  </p>
<p>TfL's Head of Special Projects, Mick Hickford, said: 'Staging the Grand D&eacute;part of the Tour de France is a huge logistical operation.</p>
<p>'With one million spectators in London alone and a significant programme of road closures is a real challenge.</p>
<p>'But this event has been years in the planning and I am confident disruption will be kept to a minimum.'</p>
<p>TfL has produced an easy-to-use leaflet to help spectators follow the race, find the stations near the best viewpoints and avoid the busy crowds.</p>
<p>These leaflets are available at all London Underground stations and can be downloaded from the TfL website at: <a href="http://www.tfl.gov.uk/">http://www.tfl.gov.uk/</a>.</p>
<p>To allow access across closed roads on the Stage One route, there will be a number of vehicular crossing points, which will close three hours before the arrival of the riders and re-open approximately 30 minutes after the last riders have passed.</p>
<p>Although these roads will be closed for a majority of the day, TfL will be working with race officials and local police to re-open affected roads as soon as possible. </p>
<p>Pedestrian access will still be possible along the Stage One route on Sunday 8 July 2007.</p>
<p>Zebra crossings, pelican crossings and all traffic signals will remain on, but will not apply to any vehicles involved in the Tour de France, which may be travelling at high speeds.</p>
<p>Extreme caution is advised when these vehicles are passing and when crossing these roads.</p>
<p>All roads are expected to be re-opened by 14:00 on Sunday.</p>
<strong>
<h2>Road closures</h2>
</strong>
<p><strong>The Opening Ceremony on Friday 6 July<br />
</strong>Trafalgar Square, Whitehall, Strand and Charing Cross Road will be closed from 12:00 until about 23:00.</p>
<p>All buses will be diverted away from the area during this time.</p>
<p>Whitehall will remain closed overnight.</p>
<p><strong>The Prologue on Saturday 7 July</strong><br />
The following roads will be closed from about 07:00 until 2100: Trafalgar Square, Strand, Whitehall, Westminster Bridge, Victoria Street, Hyde Park Corner, Kensington Road, Kensington Gore, and parts of Park Lane, Millbank and Charing Cross Road. </p>
<p><strong>The Grand D&eacute;part on Sunday 8 July</strong><br />
The following bridges will be closed: Westminster, Blackfriars, Southwark, London Bridge and Tower Bridge, with many other roads around Trafalgar Square, Parliament Square, Waterloo, Blackfriars, St Paul's, Bank, Monument and Tower of London also closed.</p>
<strong>
<h2>London Buses</h2>
</strong><strong></strong>
<p><strong>The Opening Ceremony on Friday 6 July</strong><br />
Routes 12, 15, 23, 24, 88, 139, 159, 176 and 453 will be diverted via New Oxford Street, Kingsway and Aldwych, with routes 12, 88, 159 and 453 continuing via Waterloo Bridge and York Road.</p>
<p>These routes will also be unable to serve Regent Street or Piccadilly Circus.</p>
<p>Routes 11, 24 and 87 will also use Waterloo Bridge, York Road and Westminster Bridge.</p>
<p>Some routes will terminate short of their normal destination: 3 (Millbank), 6, 9 &amp; 13 (Piccadilly Circus), 29 (Tottenham Court Road), 53 (Parliament Square) and 91 (Aldwych).</p>
<p>Whitehall will remain closed overnight and buses will not serve stops in Whitehall and Parliament Street.</p>
<p><strong>The Prologue on Saturday 7 July</strong><br />
The following routes will be diverted: 8, 10, 11, 14, 15, 19, 22, 23, 38, 52, 74, 88, 137, 139, 148, 159, 211, 360, 414, 452, 453.</p>
<p>The following routes will stop short of their normal destination: 2, 3. 6, 9, 12, 13, 16, 29, 53, 73, 82, 87, 91, 436.</p>
<p>Routes 24 and 36 will operate in two sections with no through service in the central area.</p>
<p>Late evening and Night services from 21:00 until 0:00 on Sunday will be diverted away from Whitehall and Parliament Street.</p>
<p><strong>The Grand D&eacute;part on Sunday 8 July</strong><br />
Buses will be diverted from about 06:00 until 13:00, with many routes stopping short of their normal destination and some routes will not operate at all during this time.</p>
<p>The following routes will be diverted: 8, 15, 24, 25, 26, 42, 45, 63, 76, 77, 78, 88, 100, 139, 148, 159, 176, 188, 242, 453 and C10.</p>
<p>The following routes will stop short of their normal destination: 3, 4, 6, 9, 11, 12, 13, 17, 21, 23, 29, 35, 40, 42, 43, 48, 53, 76, 78, 87, 91, 133, 141, 149, 172, 211, 341, 343, 344 and 388.</p>
<p>Route 47, 381 and RV1 will not run at all in central London until roads are re-opened after the event, while night buses running after 06:00 on Sunday morning will also be diverted.</p>
<p><strong>Docklands Light Railway</strong></p>
<p>There are no planned closures on these services for the Tour de France weekend.</p>
<p><strong>London Underground</strong></p>
<p>There are no planned Underground works in central London during the event.</p>
<p>Hyde Park Corner, however, will be 'exit only' for the duration of Saturday 7 July.</p>
<p>Other stations will be operating crowd control methods and may be subject to short term measures. </p>
<p>There will be some alterations to services outside the Central London area during the Tour de France weekend, which may affect your journey: <br />
</p>
<ul>
    <li>The Metropolitan line is suspended between Harrow-On-the-Hill and Amersham/Chesham/Watford. See <a href="http://www.tfl.gov.uk/">http://www.tfl.gov.uk/</a> for replacement services </li>
    <li>On the Northern line, southbound trains will not stop at Highgate, while Northbound trains will not stop at Hendon Central </li>
    <li>Trains will not stop at Dollis Hill or Finchley Road on the Jubilee line </li>
    <li>The Bakerloo line is suspended between Willesden Junction and Harrow and Wealdstone until 1145 on Sunday 8 July only</li>
</ul>
<p>More information: <br />
</p>
<ul>
    <li>For 24-hour information on public transport in London, call 020 7222 1234 </li>
    <li>For TfL's Realtime pages, that display live travel information on London's public transport network, visit <a href="http://www.tfl.gov.uk/realtime">www.tfl.gov.uk/realtime</a> </li>
    <li>To plan your journey on the web, visit <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> </li>
    <li>Travel alerts via SMS and email can be set up at <a href="http://www.tfl.gov.uk/alerts">www.tfl.gov.uk/alerts</a> <br />
    </li>
</ul>
<p>
</p>
<hr />
<p>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
    <li>PDF maps of the route are available to media from TfL Press Office on request </li>
    <li>Full details of the route for the Tour de France Prologue on Saturday 7 July and Stage One on Sunday 8 July are available by calling 020 7222 1234 </li>
    <li>The London Development Agency is the Mayor of London's agency for driving London's sustainable economic growth.  Its job is to make sure London remains a global success story - next year, the next decade and beyond, promoting London as the World City </li>
    <li>The South East England Development Agency (SEEDA) is the Government-funded agency responsible for the sustainable economic development and regeneration of the South East of England - the driving force of the UK's economy. Its aim is to create a prosperous, dynamic and inspirational region by helping businesses compete more effectively, training a highly skilled workforce, supporting and enabling our communities while safeguarding our natural resources and cherishing our rich cultural heritage </li>
    <li>The London Grand D&eacute;part of the Tour de France has been supported by UK Sport's National Lottery-funded World Class Events Programme, which aims to secure events of strategic importance that deliver a range of lasting benefits. These include economic, social and cultural benefits as well as improving sporting performance by home athletes, encouraging participation and leaving a legacy of facilities and development initiatives. More than 120 sporting events have been staged in the UK through the Programme since 1997. More at <a href="http://www.uksport.gov.uk/">http://www.uksport.gov.uk/</a>   </li>
    <li>British Cycling is the internationally recognised governing body of cycling in the UK: running the number one ranked GB cycling team:servicing 20,000 members; and providing thousands of sport and leisure cycling opportunities every year. Visit <a href="http://www.britishcycling.org.uk/">http://www.britishcycling.org.uk/</a>, <a href="http://www.everydaycycling.com/">http://www.everydaycycling.com/</a>   Or contact <a href="mailto:pressoffice&#64;britishcycling.org.uk">pressoffice&#64;britishcycling.org.uk</a> </li>
    <li>Visit London is the official visitor organisation for London. Its role is to promote London as the most exciting city on the planet, targeting domestic and overseas leisure and business visitors as well as Londoners. Visit London works in partnership with the Mayor, the London Development Agency and the tourism industry in London </li>
    <li>Canterbury is a world-class destination, with a perfect blend of historic features and modern facilities. To visitors the city is Simply Inspirational, while the rest of the Canterbury district offers fabulous coast and countryside, ensuring that modern-day pilgrims are bound to be spoilt for choice </li>
    <li>Kent County Council is rated as a four-star authority and is responsible for providing a wide range of services for Kent's 1.3million residents. Services provided include roads, schools, social services, libraries, adult education centres, trading standards and planning which affect the daily lives of people living, visiting or working in Kent. Kent is one of the largest counties in England and is widely known as the Garden of England for its stunning countryside. For more information visit: <a href="http://www.kent.gov.uk/">http://www.kent.gov.uk/</a> </li>
    <li>Medway is one of the largest and most significant urban areas in the south-east outside London, made up of the towns of Strood, Rochester, Chatham, Gillingham and Rainham, and rural outlying areas. Medway Council works in partnership with private, public and voluntary sectors to serve the people of Medway. The council is responsible for an established and successful programme of events, reflecting the area's rich and diverse history. Medway is an integral part of the Thames Gateway and is striving to become the city of learning, culture, tourism and high technology for the gateway </li>
    <li>The Royal Parks Agency manages eight Royal Parks across London, balancing the responsibility to conserve and enhance these unique environments with creative policies to encourage access and to increase opportunities for enjoyment, education, entertainment, sport and healthy recreation. These Royal Parks comprise 5,000 acres of parkland hosting a rich diversity of wildlife, including many rare and endangered species. The Royal Parks Agency works hard to create living environments where insects, invertebrates, birds and mammals can flourish, as well as making wildlife as accessible as possible to all visitors </li>
    <li>Sport England is a non-departmental public body and Lottery distributor which exists to sustain and increase participation in community sport. Through the Tour de France, Sport England is encouraging people to be inspired and get involved in cycling in their local communities. Simply log on to <a href="http://www.sportengland.org">www.sportengland.org</a> to find out more about opportunities to take part in cycling where you are</li>
</ul>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Roads closed across the weekend, with buses on diversion, but Tube engineering works suspended in Central London.The huge logistical arrangements to support the London Grand D&eacute;part of the Tour de France and catering for more than one million";}
        
        


 