


@{ViewBag.Title = "Transport for London hosts third annual conference on parking and traffic enforcement ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London hosts third annual conference on parking and traffic enforcement </h1>
        <div class="content-page-press-release">
        18 June 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"There was some lively debate on legal issues, the appeals processes and upcoming changes"</div>
        <div class="quote-footer">
            <div class="quotee-name">Patrick Troy</div>
            <div class="quotee-job-title">TfL's Head of Enforcement</div>
        </div>
</div>

 <div class="on-this-page">
<span class="right">
                    
                </span><p>Industry leaders gathered in central London last week to discuss the hot topics around parking and traffic enforcement in the Capital.</p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            There was some lively debate on legal issues, the appeals processes and upcoming changes
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Representatives from Transport for London (TfL) and other parking authorities, London TravelWatch, London Councils, NCP Services, attended alongside London's Chief Parking Adjudicator.</p>
<p>Opponents and commentators were also invited to speak at the one-day conference, including Christian Wolmar, the respected transport writer, and campaigner for the motorist Neil Herron.</p>
<p>Patrick Troy, Head of Traffic Enforcement at TfL, spoke of fairness and consistency in parking enforcement and said: "We must all remember that the 'Customer is King' in this industry, and those customers are not just drivers, but all road users.</p>
<p>"This conference was another chance for all of us to share the varying opinions on how our customers can best be served and their interests best protected.</p>
<p>"There was some lively debate on legal issues, the appeals processes and upcoming changes, such as differential parking charges during the day, from both the invited guest speakers and the delegates on the floor.&nbsp; </p>
<h2>Invaluable</h2>
<p>"We have had very positive feedback on the conference - it is fast becoming an invaluable part of the enforcement calendar."</p>
<p>Other guest speakers included Nick Lester, Director of Transport, Environment and Planning at London Councils; Tim Cowen of NCP Services; Vincent Stops from London TravelWatch; Sue Taylor from Mole Valley Council; Gary Griffiths from the London Borough of Islington; and Martin Wood, London's Chief Parking Adjudicator.</p>
<p>The conference was chaired by Jeroen Weimar, Director of Transport Policing and Enforcement for TfL, as well as director of the Enforcement Task Force - a partnership of TfL, London boroughs, the Metropolitan Police Service and other London enforcement agents.</p>
            <p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>TfL's Traffic Enforcement services achieved Charter Mark accreditation in December 2006.&nbsp;Charter Mark is the Government's national benchmark for excellence in customer service</li>
<li>TfL only enforces moving traffic contraventions on the Transport for London Road Network (TLRN).&nbsp; The TLRN comprises 580km of London's busiest roads, many of them red routes. These roads make up around&nbsp;five per cent&nbsp;of the total London road network, but carry around 35 per cent of the Capital's traffic</li>
<li>A pilot study, undertaken when TfL was granted the powers to enforce traffic offences in June 2004, found that traffic flow was increased at 73&nbsp;per cent&nbsp;of sites that were enforced and monitored. The number of accident casualties at the sites also went down by 19.4 per cent during the course of the pilot</li>
<li>The enforcement of bus lanes has been very successful with the number of contraventions from bus mounted cameras between July 2000 and July 2005 per hour of viewed footage reduced from 12 to 0.1.&nbsp;Between the end of 2004 and the end of 2005, bus speeds in bus lanes increased by five per cent&nbsp;- and buses now travel 12.6 per cent faster in bus lanes than between bus lanes </li>
<li>Drivers should be familiar with the regulations of moving vehicle contraventions, which are detailed in the Highway Code</li>
<li>TfL issues its Penalty Charge Notices in good faith, and any driver who feels a PCN has been issued in error should make demonstrations to TfL through the normal appeal process</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Industry leaders gathered in central London last week to discuss the hot topics around parking and traffic enforcement in the Capital.Representatives from Transport for London (TfL) and other parking authorities, London TravelWatch, London Councils, NCP";}
        
        


 