


@{ViewBag.Title = "Transport for London confirms coach parking arrangements for Tour de France arrival in London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London confirms coach parking arrangements for Tour de France arrival in London</h1>
        <div class="content-page-press-release">
        12 June 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>
</p>
<p>As London gears up for the arrival of the Grand D&eacute;part of the Tour de France, Transport for London (TfL) today confirmed the coach parking arrangements and dedicated set-down and pick-up locations for coaches bringing visitors and spectators to the event.  </p>
<p>The Tour de France, the biggest annual sporting event in the world, visits London for the first time from 6 to 8 July 2007.</p>
<p>The confirmed set-down and pick-up locations are: </p>
<ul>
    <li>Saturday : Prince Consort Road, Strand, Hanover Square, Eaton Square</li>
    <li>Sunday: Park Lane, Hanover Square, Berkeley Square, Tower Gateway. </li>
</ul>
<p>The route for the race differs from Saturday to Sunday. </p>
<p>Drivers should note the changes to locations which have been arranged to allow coach passengers to be dropped off as close as possible to the route of the race.</p>
<p>TfL has also secured Battersea Power Station as a central parking area for up to 150 coaches.</p>
<p>Those wishing to bring coaches to the event and gain entry to Battersea Power Station will need to register for a separate permit for each day. </p>
<p>These are available free of charge from TfL.  The permit will also allow drivers to set down and pick up passengers at the above mentioned points located near key viewing points along the route.</p>
<p>Further details and maps will be supplied with the permit which will be sent out two weeks before the event. </p>
<p>Apart from Park Lane, existing coach parking facilities in central London are available but drivers should note that road closures during the event may prevent access and we strongly advise them to check the TfL website before planning their journey.</p>
<p><strong>Notes to editors</strong><br />
</p>
<ul>
    <li>Coach operators wishing to obtain a permit should email <a href="mailto:coaches&#64;tfl.gov.uk">coaches&#64;tfl.gov.uk</a> providing full contact details, including operator name, postal address, phone, fax number and email. Emails must clearly state whether the request is for a permit for Saturday or Sunday. Separate requests must be submitted for each day. As permits will be issued to individual vehicles, the registration number must be written on the permit on the day of travel. Those who do not have access to email can fax their requests to 020 7027 9796 </li>
    <li>Detailed information, including location maps, will be sent out with the permit a fortnight before the event </li>
    <li>For further information, operators can contact the coach team via email at <a href="mailto:coaches&#64;tfl.gov.uk">coaches&#64;tfl.gov.uk</a><br /></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "As London&nbsp;gears&nbsp;up for the arrival&nbsp;of the&nbsp;Grand D&eacute;part of the Tour de France, Transport for London (TfL) today confirmed the coach parking arrangements and dedicated set-down and pick-up locations for coaches bringing visitors";}
        
        


 