


@{ViewBag.Title = "Travelling to the Pride London Parade on Saturday ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Travelling to the Pride London Parade on Saturday </h1>
        <div class="content-page-press-release">
        26 June 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<span class="right">
                    
                </span><p>
<p>Passengers travelling to the Pride London Parade this Saturday are advised that there will be no service on the Victoria line between Highbury &amp; Islington and Brixton.</p></p>        
            
                        
            
            
            
            <p>Work to upgrade the line is booked many months in advance.&nbsp;</p>
<p>This work is necessary to meet increased demand and to provide faster, more comfortable and reliable journeys.</p>
<p>It is part of Transport for London's &pound;10billion Investment Programme. </p>
<p>Those wishing to attend Pride are advised that the nearest stations to the start of the route are Baker Street and Marylebone.</p>
<p>A replacement bus service will serve all stations between Victoria and Brixton.</p>

<p>Valid London Underground (LU) tickets will be accepted on alternative Tube services in central London, local bus services and National Rail routes. </p>
<p>For passengers travelling to and from the north end of the line, the quickest route into and out of central London will be to interchange for Piccadilly line services to and from Finsbury Park.</p>
<p>For journeys through the central area, passengers should use other LU lines and existing local bus services. </p>
            <p><strong>Notes to Editors</strong><br>
<ul>
<li>Check the latest <a href="http://www.tfl.gov.uk/">travel information </a>before you travel. </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Passengers travelling to the Pride London Parade this Saturday are advised that there will be no service on the Victoria line between Highbury &amp; Islington and Brixton.Work to upgrade the line is booked many months in advance.&nbsp;This work is";}
        
        


 