
    






















@section adverts {
    <div class="top-banner-advert" aria-hidden="true">
        <div class="large" data-advert="/76889402/driving/cc" data-advert-sizes="970, 90|970, 250"></div>
        <div class="medium" data-advert="/76889402/driving/cc" data-advert-sizes="728, 90"></div>
        <div class="small" data-advert="/76889402/driving/cc" data-advert-sizes="300, 50|320, 50"></div>
    </div>
}


 
  



@{ViewBag.Title = "Discounts and exemptions";}
@{ViewBag.Keywords = "Businesses,Drivers,Public,Driving,TfL";}
@{ViewBag.Url = "/modes/driving/congestion-charge/discounts-and-exemptions";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/congestion-charge">Congestion Charge</a></li>
                
            
            
                <li><span class="last-breadcrumb">Discounts and exemptions</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Discounts and exemptions</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>Find out if you can get a discount or even drive in the Congestion Charge zone for free.</p>
        
      </div>
    
    
      
    
      
           
      <div>

<h2>Discounts</h2>

<p>You can apply for a discount online, but you'll need to supply certain documents to show you're entitled to the discount.</p>

<p>Until we confirm your application is successful, you must continue to pay the daily Congestion Charge in full to drive within the charging zone. These discounts do not apply to the Ultra Low Emission Zone (ULEZ).</p>

<p>Find out about <a href="/modes/driving/congestion-charge/paying-the-congestion-charge">paying the Congestion Charge</a>.</p>
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="residents--discount-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Discounts and exemptions-Residents' discount"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="residents--discount-heading" class="accordion-heading">Residents' discount</div>
            </div>
            <div id="residents--discount-content" class="start-hidden" role="region" aria-labelledby="residents--discount-heading">
<p><a name="resident"></a>To qualify for the 90%&nbsp;residents' discount you must live within the Congestion Charge residents' discount zone.</p>

<p><a href="/modes/driving/congestion-charge/congestion-charge-zone">Our location checker will confirm if your address is within the residents' discount zone</a>.</p>

<p>You can continue to apply if you live within the Congestion Charge residents' discount zone AND:</p>

<ul>
	<li>Your name is shown on either the Parliamentary or local government electoral register</li>
	<li>Your main or permanent home is in the Congestion Charging zone</li>
	<li>The property is used for residential purposes</li>
	<li>You are at least 17 years old</li>
</ul>

<p>If you are adding a vehicle it must be registered with the <a href="https://www.gov.uk/government/organisations/driver-and-vehicle-licensing-agency">DVLA</a> in your name and at the address you are using to apply for the discount</p>

<p>OR you can register a company or lease vehicle if it is for your sole use only</p>

<p>OR if you don't own a vehicle, you can register if you occasionally use a hire or recognised car club vehicle.</p>

<h3>Documents you need to provide</h3>

<p>You need to provide evidence of BOTH the address and discount vehicle.</p>

<h4>Address documents</h4>

<p>To show that you live in the Congestion Charge zone you need to provide an image or copy of 2 of the following:</p>

<ul>
	<li>A current resident's on-street parking permit or a parking permit approval letter (must show the number plate/Vehicle Registration Mark)</li>
	<li>A residential council tax bill (valid for the current year)</li>
	<li>Your income support entitlement letter (no more than 7 months old)</li>
	<li>A bank or credit card statement (no more than 3 months old)</li>
	<li>A formal tenancy agreement or housing association rent document (dated within the last 12 months)</li>
	<li>A current utility bill, for example a gas, water or electricity bill (no more than 3 months old, mobile phone bills are not accepted)</li>
	<li>Your driving licence (must contain the address you are using to register for the residents' discount)</li>
</ul>

<h4>Vehicle documents</h4>

<p>You will also need to provide an image or copy of 1 document from the list below:</p>

<p>Your own private vehicle:</p>

<ul>
	<li>Your V5C vehicle registration certificate (logbook). (The vehicle must also be registered with the DVLA in your name and at the address you are using to apply for the residents' discount)</li>
</ul>

<p>Company car:</p>

<ul>
	<li>A company car authorisation letter - this must be on company headed paper, state your full name, the number plate (Vehicle Registration Mark) and confirm that the vehicle is for your use only. (The vehicle must be registered in the company name with the DVLA)</li>
</ul>

<p>Lease vehicle:</p>

<ul>
	<li>Vehicle lease document - this is the document that you signed to lease the vehicle. (The vehicle must be registered in the lease company name with the DVLA)</li>
</ul>

<p>A company car provided by a lease company:</p>

<ul>
	<li>Your company's vehicle lease document (this is the document that you signed to lease the vehicle)</li>
</ul>

<p>AND</p>

<ul>
	<li>A company car authorisation letter - this must be on company headed paper, state your full name, the number plate (Vehicle Registration Mark) and confirm that the vehicle is for your use only. (The vehicle must be registered in the company or lease name with the DVLA)</li>
</ul>

<p>All documents must be clear enough to read easily. If we can't read them we may ask you for more proof. This will delay the registration process.</p>

<h3>T-Charge</h3>

<p><a name="tcharge"></a>A residents' discount entitles you to a 90% discount from the T-Charge until 25 October 2021. After that, if your vehicle still doesn't meet the emissions standards you must pay the <a href="/modes/driving/ultra-low-emission-zone/discounts-and-exemptions">Ultra Low Emission Zone charge</a>.</p>

<h3>Cost</h3>

<p>There is an annual &pound;10 registration charge for this discount.</p>

<p>Residents may find it quicker and easier to pay the Congestion Charge with Auto Pay. You'll only pay for the days that you drive within the zone, rather than paying for a weekly, monthly or annual charge in advance.</p>

<p>Find out about <a href="/modes/driving/auto-pay">Auto Pay</a>.</p>

<p><strong>If you can provide the documents required for a residents' discount, you can apply online now.</strong></p>

<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/cc-resident-discount-apply-anon-32525" class="secondary-button no-hover" >Apply for discount</a>

    </div>
</div> 
 
</div>
 <div>

<h3>Just moved into the residents' discount zone?</h3>
<p>If you've just moved into the Congestion Charge zone and don't have the documents you need, you can still apply for the discount and provide your documents later. Remember to tell us by selecting this option on your application.</p>
<p>You will need to pay the full charge until your discount has been approved. However, subject to the terms and conditions, you may be entitled to a 90% refund of the charges you've paid while you have been waiting.</p>
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/cc-provisional-resident-apply-anon-33360" class="secondary-button no-hover" >Apply for discount</a>

    </div>
</div> 
 
</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="blue-badge-holders-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Discounts and exemptions-Blue Badge holders"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="blue-badge-holders-heading" class="accordion-heading">Blue Badge holders</div>
            </div>
            <div id="blue-badge-holders-content" class="start-hidden" role="region" aria-labelledby="blue-badge-holders-heading">
<p>If you hold a valid Blue Badge in the European Economic Area, you're eligible to register for a 100% discount, even if you don't own a vehicle or drive. (If you have an organisation Blue Badge or are applying on behalf of another person, for example a child, please see 'Applying for Blue Badge discount on behalf of someone else' below).</p>

<p>You can register up to two vehicles that you would normally use to travel within the Congestion Charge zone. This could be your own vehicle, or one you travel in.</p>

<p>You can apply for a discount online but you'll need to supply certain documents to show you're entitled to the discount.</p>

<h3>Documents you need to provide</h3>

<p>You need to provide us with a copy of both sides of your Blue Badge plus one of the following proofs of identity:</p>

<ul>
	<li>DSS benefit entitlement letter (less than 7 months old)</li>
	<li>Current passport</li>
	<li>Current driver's licence</li>
	<li>Pension book/entitlement letter (less than 7 months old)</li>
	<li>Birth certificate (same first and last names as the Blue Badge. Not a Certificate of Registration of Birth)</li>
	<li>Marriage certificate (same first and last names as the Blue Badge)</li>
	<li>Current bank or credit card Statement (no more than 3 months old)</li>
	<li>Deed Poll Certificate (same first and last names as the Blue Badge)</li>
</ul>

<p>You can upload images of these documents as part of your online application, or you can send copies by post or email later on.</p>

<p>Until we confirm your application is successful you must pay the charge for journeys within the zone.</p>

<h3>Cost</h3>

<p>You have to pay &pound;10 to register for the Blue Badge discount. This will need to be renewed in line with your Blue Badge expiry date. As long as you renew within 90 days after the expiry date, you will not need to make a further payment.</p>

<h3>Renewing your Blue Badge discount</h3>

<p>We will notify you when your discount is due to expire. You will be able to renew your discount online once you have received this notification.</p>

<p><strong>If you can provide all of the Blue Badge discount documents required you can apply online now.</strong></p>

<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/cc-blue-badge-apply-anon-30091" class="secondary-button no-hover" >Apply for discount</a>

    </div>
</div> 
 
</div>
 <div>

<h3>Applying for Blue Badge discount on behalf of someone else</h3>
<p>If you are completing the Blue Badge discount application on behalf of a Blue Badge holder or on behalf of an institution you can still complete the application online. You will be asked to set up a London Road User Charging (LRUC) account in the Blue Badge holder's name and complete a 'Declaration of Authority' form to describe your relationship to the Blue Badge holder.</p>
<p>In the case of an institution you should create the LRUC account in the name and address of the principal officer of the institution.</p>
<p>At the end of the application you will be able to add yourself as an authorised user. This will allow you to sign in to the secure online account and manage it. You then have the option to add four more authorised users.</p>
<p><strong>If you are signed in with an LRUC account, please sign out before applying for this discount.</strong></p>
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/cc-blue-badge-apply-anon-proxy-30908" class="secondary-button no-hover" >Apply for discount</a>

    </div>
</div> 
 
</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="accredited-breakdown-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Discounts and exemptions-Accredited breakdown"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="accredited-breakdown-heading" class="accordion-heading">Accredited breakdown</div>
            </div>
            <div id="accredited-breakdown-content" class="start-hidden" role="region" aria-labelledby="accredited-breakdown-heading">
<p>This 100% discount applies to breakdown vehicles operated by organisations in the European Economic Area that are accredited to BS EN ISO9001:2008 (and in accordance with the specification for applying that standard to the industry).</p>
<p>You can apply for the discount online. You will need to upload copies of your current BS EN ISO9001:2008 certification along with your PAS 43 certification to support your application.</p>
<h3>Cost</h3>
<p>Once your discount has been approved you can log onto your account and add your vehicles at a cost of &pound;10 per vehicle.  Once added the vehicle will be subject to the 100% discount until the expiry date of your discount.</p>
<p>When the discount expires you will need to pay a further &pound;10 to renew each vehicle for another year.</p>
<h3>Renewing your accredited breakdown discount</h3>
<p>We will notify you when your discount is due to expire. You will be able to renew your discount online once you have received this notification.</p>
<p><strong>If you can provide us with all your accredited breakdown discount documents you can apply online now.</strong></p>

<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/cc-accredited-breakdown-apply-anon-33541" class="secondary-button no-hover" >Apply for discount</a>

    </div>
</div> 
 
</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="vehicles-with-9+-seats--content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Discounts and exemptions-Vehicles with 9+ seats "><span class="visually-hidden">Toggle accordion</span></div>
                <div id="vehicles-with-9+-seats--heading" class="accordion-heading">Vehicles with 9+ seats </div>
            </div>
            <div id="vehicles-with-9+-seats--content" class="start-hidden" role="region" aria-labelledby="vehicles-with-9+-seats--heading">
<p><a name="9seater"></a>Vehicles with nine or more seats are eligible for 100% discount of the Congestion Charge.</p>

<p>You need to register with us for your 100% discount if your vehicle is not licensed with the DVLA as a bus (taxation classes 'buses' and 'reduced pollution buses').</p>

<p>You also need to register with us if your vehicle with nine or more seats is registered outside the UK but within the European Economic Area.&nbsp;</p>

<p>You can apply for a discount online, but you'll need to supply certain documents to show you're entitled to the discount.</p>

<h3>Documents you need to provide</h3>

<p>You will need to upload images or send photocopies of these documents to apply for the discount:</p>

<ul>
	<li>A V5C - this is the vehicle registration document (logbook) that the DVLA sends you. If you are from outside of the UK, please send a copy of the vehicle registration document issued by your vehicle licensing agency</li>
</ul>

<p>You also need to prove that the vehicle has 9 seats or more. Provide a copy of 1 of the following documents:</p>

<ul>
	<li>The vehicle's MOT certificate</li>
	<li>The vehicle's CIF or COIF (Certificate of Initial Fitness)</li>
	<li>Your insurance document</li>
	<li>Another proof that shows the number of seats</li>
</ul>

<p>You can upload images of these documents as part of your online application, or you can send copies by post or email later on.</p>

<h3>Cost</h3>

<p>You have to pay &pound;10 to register each vehicle for the discount. This must be renewed every year.</p>

<h3>Renewing your 9+ seater discount</h3>

<p>We will notify you when your discount is due to expire. You will be able to renew your discount online once you have received this notification.</p>

<p><strong>If you can provide us with all your 9+ seater discount documents you can apply online now.</strong></p>

<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/cc-nine-plus-seater-before-you-begin?sourceRoutingKey=discounts-and-exemptions" class="secondary-button no-hover" >Apply for discount</a>

    </div>
</div> 
 
</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="cleaner-vehicle-discount-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Discounts and exemptions-Cleaner vehicle discount"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="cleaner-vehicle-discount-heading" class="accordion-heading">Cleaner vehicle discount</div>
            </div>
            <div id="cleaner-vehicle-discount-content" class="start-hidden" role="region" aria-labelledby="cleaner-vehicle-discount-heading">
<p>(Formerly Ultra Low Emission Discount (ULED))</p>

<p>Currently, only vehicles that meet Euro 6 standards (petrol and diesel), that emit no more than 75g/km of CO2 and have a minimum 20 mile zero emission capable range will qualify for the 100% cleaner vehicle discount.</p>

<p>From 25 October 2021, the cleaner vehicle discount will change so that only battery electric vehicles are eligible.&nbsp;Then&nbsp;from&nbsp;25 December 2025, the cleaner vehicle discount will be discontinued. From this date, all vehicle owners, unless in receipt of another discount or exemption, will need to pay to enter the Congestion Charge zone&nbsp;during charging hours.</p>

<h3>Check if you qualify until 24 October 2021</h3>

<p>You can check the CO2 emissions of your car on the V5C registration document. If the Euro standard of your vehicle is not shown on the V5C you can check it with the franchised dealer or the vehicle manufacturer.</p>

<p>You also qualify if your vehicle is registered with the DVLA and has a fuel type of 'electric' (you can check this on the V5C registration document the DVLA sent you), or alternatively, if your vehicle is a 'plug-in hybrid' and has been approved as an ultra-low emission vehicle by the Office for Low Emission Vehicles. You can find more information at the <a href="https://www.gov.uk/government/organisations/office-for-low-emission-vehicles">Office for Low Emissions Vehicles website</a>.</p>

<p>You can find out more about low emission vehicles on the <a href="https://www.goultralow.com/">Go Ultra Low</a> website.</p>

<p>If your vehicle is a 'plug-in hybrid' you will need to supply a conformity certificate as part of your application.</p>

<p>You can apply for a discount online, but you'll need to supply certain documents to show you're entitled to the discount.</p>

<h3>Documents you need to provide?</h3>

<p>You will need to upload images or send photocopies of the following documents to apply for the discount:</p>

<h4>UK-registered</h4>

<ul>
	<li>V5C vehicle registration certificate (logbook) issued by the DVLA</li>
</ul>

<h4>Non-UK registered</h4>

<ul>
	<li>The vehicle registration document issued by your vehicle licensing agency</li>
</ul>

<p>The document must clearly show that the vehicle:</p>

<ul>
	<li>Meets the Euro&nbsp;6 emission standard</li>
	<li>Emits less than or equal to 75g/km of CO2</li>
	<li>Has a minimum 20 mile zero emission capable range</li>
</ul>

<p>OR</p>

<ul>
	<li>Is registered as fuel type 'electric'</li>
</ul>

<h4>Petrol hybrid vehicles only</h4>

<p>You must also submit a photocopy of the conformity certificate as provided by the vehicle dealership.</p>

<p>You can upload images of these documents as part of your online application, or you can send copies by post or email later on.</p>

<h3>Cost</h3>

<p>You have to pay &pound;10 to register each vehicle for the discount. This will need to be renewed every year.</p>

<h3>Renewing your cleaner vehicle discount</h3>

<p>We will notify you when your discount is due to expire. You will be able to renew your discount online once you have received this notification.</p>

<p><strong>If you can provide us with all your cleaner vehicle discount documents you can apply online now.</strong></p>

<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/cc-cvd-before-you-begin?sourceRoutingKey=discounts-and-exemptions" class="secondary-button no-hover" >Apply for discount</a>

    </div>
</div> 
 
</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="motor-tricycles-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Discounts and exemptions-Motor tricycles"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="motor-tricycles-heading" class="accordion-heading">Motor tricycles</div>
            </div>
            <div id="motor-tricycles-content" class="start-hidden" role="region" aria-labelledby="motor-tricycles-heading">
<p>If you have a motor tricycle which is one metre or less wide, and two metres or less long, it is eligible for a 100% discount.</p>

<p>To apply for the discount you will need to provide images of your vehicle (front, back and side) showing the number plate (Vehicle Registration Mark) along with a copy of the V5C registration document (logbook).</p>

<p>You can upload images of these documents as part of your online application, or you can send copies by post or email later on.</p>

<p>Once we've approved your application and your discount is active, you can drive within the zone for free.</p>

<h3>Cost</h3>

<p>You have to pay &pound;10 to register each vehicle for the discount. This will need to be renewed annually.</p>

<h3>Renewing your motor tricycle discount</h3>

<p>We will notify you when your discount is due to expire. You will be able to renew your discount online once you have received this notification.</p>

<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/cc-motor-tricycle-apply-anon-33250" class="secondary-button no-hover" >Apply for discount</a>

    </div>
</div> 
 
</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="roadside-recovery-vehicles-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Discounts and exemptions-Roadside recovery vehicles"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="roadside-recovery-vehicles-heading" class="accordion-heading">Roadside recovery vehicles</div>
            </div>
            <div id="roadside-recovery-vehicles-content" class="start-hidden" role="region" aria-labelledby="roadside-recovery-vehicles-heading">
<p>To qualify for this 100% discount the vehicle must be registered with the DVLA and have a taxation class of 'recovery vehicle'.</p>

<p>You can apply for a discount online, If your recovery vehicle is registered with the DVLA as tax class 47 and our records show this, you can set up your discount without any further evidence.</p>

<p>If our records do not show that your vehicle is registered with the DVLA as a recovery vehicle, we will ask you to submit an image of the V5C vehicle registration certificate (logbook) - the document sent by the DVLA or DVA - to show that the vehicle is eligible for the discount.</p>

<h3>Cost</h3>

<p>You have to pay &pound;10 to register each vehicle for the discount. This will need to be renewed every year.</p>

<h3>Renewing your roadside recovery vehicle discount</h3>

<p>We will notify you when your discount is due to expire. You will be able to renew your discount once you have received this notification.</p>

<p><strong>If you can provide us with all your roadside recovery discount documents you can apply online now.</strong></p>

<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/cc-recovery-vehicle-before-you-begin?sourceRoutingKey=discounts-and-exemptions" class="secondary-button no-hover" >Apply for discount</a>

    </div>
</div> 
 
</div>
 
            </div>
        </div>
    </div>
 
</div>
 <div>

<h2>Exemptions</h2>

<p>You don't have to pay the Congestion Charge or register with us if the vehicle is recorded at the DVLA in one of these categories:</p>

<ul>
	<li>Two-wheeled motorbikes (and sidecars) and mopeds</li>
	<li>Emergency service vehicles, such as ambulances and fire engines, which have a taxation class of 'ambulance' or 'fire engine' on the date of travel</li>
	<li>NHS vehicles that are exempt from&nbsp;vehicle tax</li>
	<li>Vehicles used by disabled people that are exempt from vehicle tax and have a 'disabled' taxation class</li>
	<li>Vehicles for more than one disabled person (for example Dial-a-Ride) that are exempt from vehicle tax and have a 'disabled' taxation class</li>
</ul>

<p>This information will be on your vehicle's V5C (logbook). If you are unsure then please <a href="/modes/driving/congestion-charge/contact-congestion-charge">contact us</a>.</p>

<h3>Taxi and private hire vehicles (PHVs)</h3>

<p>Taxis are exempt from paying the Congestion Charge when actively licensed with London Taxi and Private Hire (TPH). A vehicle will be removed from the register of exempt vehicles on the surrender, expiry or revocation of the license.</p>

<p>Private hire vehicles (PHVs)&nbsp; are not exempt from the Congestion Charge. PHV drivers and operators need to pay the Congestion Charge if they travel within the zone during charging hours.</p>

<p><a href="/info-for/taxis-and-private-hire/passengers-and-accessibility">PHVs designated as wheelchair-accessible vehicles</a> will still have an exemption from the Congestion Charge as long as they are fulfilling a private hire booking. They must also be actively licensed with London Taxi and Private hire (TPH).</p>

<p>Some PHV vehicles may be eligible for one of the Congestion Charge discounts.</p>

<h3>Other exemptions</h3>

<p>Certain vehicles, including buses, registered in European Economic Area member states, must also be registered with us to qualify for an exemption.</p>

<p>Other categories of exemption include:</p>

<ul>
	<li>HM Coastguard and Port Authorities</li>
	<li>Certain operational vehicles used by the London boroughs</li>
	<li>The armed forces</li>
	<li>Royal Parks Agency</li>
	<li>Breakdown organisations</li>
</ul>

<p>If you think your vehicle falls into this category, please <a href="/modes/driving/congestion-charge/contact-congestion-charge">contact us</a>.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
        }
        
      

 
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/modes/driving/congestion-charge" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Congestion Charge<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/congestion-charge-zone">Congestion Charge zone</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/paying-the-congestion-charge">Congestion Charge payments</a></div></li>
                            
 
                                <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/discounts-and-exemptions">Discounts and exemptions</a></div>
                            </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/dart-charge">Dart Charge</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/penalties-and-enforcement">Penalties and enforcement</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/contact-congestion-charge">Contact Congestion Charge</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/cc" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/cc" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div>
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/driving/electric-vehicles-and-rapid-charging" class="plain-button">Electric vehicles and charge points</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

     @section scripts {
<div class="bottom-advert ">
    <div class="close-ad-button visually-hidden"><span class="close-icon-circle"></span></div>
    <div data-advert="/76889402/driving/" data-advert-sizes="320, 50"></div>
</div>
}

 
        
        
        
            @{ViewBag.Description = " Find out if you can get a discount or even drive in the Congestion Charge zone for free";}
        
            
        


 