
    






















@section adverts {
    <div class="top-banner-advert" aria-hidden="true">
        <div class="large" data-advert="/76889402/driving/cc" data-advert-sizes="970, 90|970, 250"></div>
        <div class="medium" data-advert="/76889402/driving/cc" data-advert-sizes="728, 90"></div>
        <div class="small" data-advert="/76889402/driving/cc" data-advert-sizes="300, 50|320, 50"></div>
    </div>
}


 
  



@{ViewBag.Title = "Unofficial selling websites";}
@{ViewBag.Keywords = "Drivers,Congestion Charge,Driving,TfL";}
@{ViewBag.Url = "/modes/driving/congestion-charge/unofficial-selling-websites";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/congestion-charge">Congestion Charge</a></li>
                
            
                
                <li><span class="last-breadcrumb">Unofficial selling websites</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Unofficial selling websites</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>Unofficial websites selling the Congestion Charge often charge a premium on top of what you would pay through our official online payment process. They also frequently make misleading claims.<BR></p>
        
      </div>
    
    <div class="on-this-page">
      <p>Make sure you only use the official TfL service when <a href="/modes/driving/congestion-charge/paying-the-congestion-charge">paying the Congestion Charge</a>.</p>
<p>Unfortunately internet search engines do not always  put our Congestion Charge pages at the top of their search results. This means you may find yourself being offered one of  many unofficial online payment sites.</p>
<p>These sites are not operating with approval from us and make claims that they are offering additional services. These services are either non-existent or are already provided by TfL  without charge.</p>
<p>Unofficial sites can charge a premium of up to &pound;8 extra for the daily Congestion Charge.</p>
<h2>Risks of unofficial sites</h2>
<p>Unofficial sites take a payment from you and then make a payment to TfL on your behalf. There have been cases where these sites have not paid the Congestion Charge on behalf of their customers. This has led to drivers receiving Penalty Charge Notices (PCNs).</p>
<p>In other situations these sites have taken payment for a day where no charge applies, such as a bank holiday.</p>
      
           
      <div>

<h2>A guide to misleading claims</h2>

<h3>Misleading 'instant' confirmation of payment of the Congestion Charge</h3>

<p>The payment confirmation you may receive via SMS or email from unofficial websites only confirms that you have paid the website operator.</p>

<p>It does not provide any assurance that the Congestion Charge has been paid to us, irrespective of what is claimed in the email or SMS message.</p>

<p>We usually provide confirmation that we have accepted payment of the Congestion Charge within a few minutes of receiving the payment.</p>

<h3>Misleading claims that a website will check your vehicle registration details</h3>

<p>The TfL website will not accept payment unless all of the vehicle registration information required to make a Congestion Charge payment is entered. Unofficial websites cannot offer more checks on an application than we provide on the TfL website.</p>

<h3>Misleading claims of penalty charge reimbursement/guarantee of payment</h3>

<p>Unofficial websites claim they will pay a fine on your behalf if the incorrect vehicle registration details have been supplied such as an '0' instead of an 'O' or 'I' instead of '1'.</p>

<p>However the small print usually places the onus on you to ensure that you have entered the correct details. The unofficial site will not pay a PCN if you have paid the Congestion Charge for the incorrect vehicle in error. This is in contradiction to the offers made by these websites.</p>

<p>They also do not offer full reimbursement/payment for any PCNs incurred.</p>

<h3>Use of premium rate telephone numbers</h3>

<p>Some unofficial websites offer a telephone service but the telephone number is a premium rate number that automatically connects the caller to TfL and not the owners of the unofficial site.</p>

<p>You can call us using the low rate number 0343 222 2222 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>) and avoid paying for a premium rate call.</p>

<h3>Misleading information about a 24-hour email service for customers</h3>

<p>Some unofficial websites claim to offer '24-hour phone support' but do not provide telephone numbers to contact them. Instead they provide TfL's telephone number.</p>

<p>Our telephone lines are open Monday to Friday: 08:00-20:00, closed on weekends and bank holidays.</p>

<p>The TfL website provides a postcode search tool and an interactive map which allows you to check free of charge whether your journey and destination are within the Congestion Charge zone. The unofficial websites do not offer any better means of checking this.</p>

<p>Information is also available free on the TfL website 24 hours a day.</p>

<h3>Misleading claim about 'not sharing personal data with others as TfL does'</h3>

<p>In accordance with the Data Protection Act and our internal policies we do not keep the names associated with credit or debit cards used to pay the Congestion Charge. This applies regardless of who makes the payment.</p>

<p>All personal information is held and processed in accordance with the requirements of the Data Protection Act 1998 and in relation to credit or debit card information and the PCI (Payment Card Industry) rules.</p>

<p>If the police or other enforcement agency want to obtain any personal information, they can apply for a court order to release it. Unofficial websites would have to comply in the same way we would.</p>

<h3>3DSecure payment processing</h3>

<p>Some websites say that they offer 3DSecure payment processing and that TfL does not. This is false. TfL does offer a secure 3D payment system.</p>

<h2>Protecting you from unofficial sites</h2>

<p>We continually work with search engine companies such as Google, as well as Trading Standards and the Advertising Standards Authority to try to remedy the situation.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
        }
        
      

 
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/modes/driving/congestion-charge" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Congestion Charge<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/congestion-charge-zone">Congestion Charge zone</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/paying-the-congestion-charge">Congestion Charge payments</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/discounts-and-exemptions">Discounts and exemptions</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/dart-charge">Dart Charge</a></div></li>
                            
 
                                <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/unofficial-selling-websites">Unofficial selling websites</a></div>
                            </li>
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/penalties-and-enforcement">Penalties and enforcement</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/contact-congestion-charge">Contact Congestion Charge</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/cc" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/cc" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div>
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/privacy-and-cookies/privacy-and-data-protection-policy" class="plain-button">Privacy and data protection policy</a>
<a href="/corporate/terms-and-conditions/pay-to-drive-in-london" class="plain-button">Congestion Charge terms and conditions</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

     @section scripts {
<div class="bottom-advert ">
    <div class="close-ad-button visually-hidden"><span class="close-icon-circle"></span></div>
    <div data-advert="/76889402/driving/" data-advert-sizes="320, 50"></div>
</div>
}

 
        
        
        
            @{ViewBag.Description = "Please only pay the central London Congestion Charge on the official TfL website";}
        
            
        


 