


@{ViewBag.Title = "Cab ranks bring music to passengers' ears";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Cab ranks bring music to passengers' ears</h1>
        <div class="content-page-press-release">
        07 April 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Four brand new taxi-ranks started work today as part of a move by the Public Carriage Office to make finding a black cab easier.
        
    </div>



 <div class="on-this-page">
<p>The new ranks at the Royal Albert Hall, Finsbury Park, Deptford and Petts Wood will provide 12 spaces between them, and are part of a programme to ensure taxis can be found more easily at major interchanges and venues. Black cabs can either be picked up at ranks or hailed in the street - around 30 per cent of journeys are from ranks.</p>
<p>Public Carriage Office Head of Business Services Len Simkins said:</p>
<blockquote>
<p>&quot;Passengers want to find cabs in convenient, accessible well -marked places such as stations and outside major venues. These new ranks will encourage drivers to provide a much-needed service at these places, particularly late at night.</p>
<p>&quot;The Public Carriage Office plan to introduce at least 20 new ranks this year.&quot;</p></blockquote>
<p>Details of the new ranks that will have road markings and signage are:</p>
<ul>
<li>Royal Albert Hall, SW7 for five cabs. This rank is available between mid-day and 3am. 
</li><li>Wells Terrace, Finsbury Park (north side of station) for three cabs. This is an 'island' rank. 
</li><li>Creek Road, Deptford for two cabs. This rank is available between 8pm and 5am. 
</li><li>Station Square, Petts Wood for two cabs. This rank is available between 4pm and 2am.</li></ul>
            <ol>
<li>The Public Carriage Office is responsible for licensing London's taxi and private hire services, as part of Transport for London's Surface Transport Directorate. 
</li><li>There are over 24,000 licensed taxi drivers working in the capital. All taxis are wheelchair accessible. Over 20,500 can work anywhere in London, and the remainder are licensed for particular suburban sectors. 
</li><li>The &quot;All-London&quot; Knowledge requires a cab driver to know about 25,000 streets within a six mile radius of Charing Cross. </li></ol>
<p><strong>For media enquiries telephone the TfL press office on 020 7941 4141/4881.</strong></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new ranks at the Royal Albert Hall, Finsbury Park, Deptford and Petts Wood will provide 12 spaces between them, and are part of a programme to ensure taxis can be found more easily at major interchanges and venues. Black cabs can either be picked up";}
        
        


 