


@{ViewBag.Title = "Concorde's Last Journey From London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Concorde's Last Journey From London</h1>
        <div class="content-page-press-release">
        01 April 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        To accommodate the movement of Concorde safely, Transport for London (TfL) will close stretches of the A30 and A4 from 11pm Saturday 3 April until 4am Sunday 4 April.
        
    </div>



 <div class="on-this-page">
<p>The last commissioned British Airways Concorde is making the first leg of its final journey to its new home at Museum of Flight in East Fortune, East Lothian, Scotland.</p>
<p>Concorde will travel the short distance from Heathrow to Isleworth on the River Thames where it will be loaded aboard the vessel Terra Marique for transport to Scotland by sea.</p>
<p>The following roads are subject to closure. These closures will be operated in stages</p>
<ul>
<li>A30 Great South West Road (towards London) between Hatton Cross (junction with Faggs Road) and Henlys Roundabout. 
</li><li>A30 Great South West Road (away from London) between Henlys Roundabout and Beavers Lane 
</li><li>A4 Bath Road (towards London) between Waggoners and Henlys Roundabouts. </li></ul>
<p>The slow moving load will be travelling at walking pace and TfL advises drivers in the area to allow extra time or find an alternative route.</p>
            <ul>
<li>The move will begin out of Heathrow on A30 Great South West Road at Hatton Cross at approximately 2.00 am on Sunday 4th April. It will then travel at a walking pace along the north-eastbound carriageway of the A30 and continue eastbound along the A4 Great West Road to Gillette Corner where it will turn right into Syon Lane and continue into Spur Road. It will then bear left into Park Road which will be closed to all other traffic, and at first full light, proceed to the waiting vessel on the River Thames. Concorde will then continue its journey by water. 
</li><li>The recently launched Terra Marique has been funded by the government to assist the transport of abnormal loads by water, and to reduce congestion on the roads. 
</li><li>The six-mile route to the Thames has been chosen as the quickest and most direct route to the waterway network. </li></ul>
<p>National Museums of Scotland: Susan Gray, Press Manager, 0131 247 4088.</p>
<p>Anna Brosnan<br>Press Office<br>Email: <a href="mailto:annabrosnan&#64;tfl.gov.uk" lid="annabrosnan&#64;tfl.gov.uk">annabrosnan&#64;tfl.gov.uk</a><br>Direct line: 020 7941 4376</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The last commissioned British Airways Concorde is making the first leg of its final journey to its new home at Museum of Flight in East Fortune, East Lothian, Scotland.Concorde will travel the short distance from Heathrow to Isleworth on the River Thames";}
        
        


 