


@{ViewBag.Title = "Final stage for minicab licensing starts";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Final stage for minicab licensing starts</h1>
        <div class="content-page-press-release">
        05 April 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor of London Ken Livingstone today announced the final stage of a major operation to license London's minicab industry.
        
    </div>



 <div class="on-this-page">
<p>Vehicle checks will start on Thursday 8th April and from early June 2004 private hire vehicles will have to meet strict safety standards to trade legally, by either holding a license or a temporary permit from the Public Carriage Office (PCO).</p>
<p>A distinctive new disc fixed to front and rear windscreens will identify the vehicle as a licensed private hire vehicle. </p>
<p>Mayor Ken Livingstone said:</p>
<blockquote>
<p>&quot;The start of licensing private hire vehicles completes the final stage of regulation to make minicab travel in London safer. Passengers deserve to travel in safe, roadworthy and clean cars, which cannot be confused with black cabs. These new strict standards will improve the quality of service for passengers and make travelling in minicabs safer for Londoners. By April 2005, all existing private hire vehicles will be licensed."</p>
<p>&quot;This follows the successful licensing of some 2,300 private hire operators and the start of licensing for 43,000 drivers. It's vital that we rid London of illegal taxi touts and build on work to improve late night travel, which has included increasing the number of night buses and back cabs and provide a police presence and CCTV on night buses.&quot;</p></blockquote>
<p>Licensed Private Hire Car Association Chairman Steve Wright said:</p>
<blockquote>
<p>&quot;Vehicle Licensing brings the private hire industry much closer to completing the task of delivering a fully regulated minicab and chauffeur industry in London."</p>
<p>&quot;The introduction of private hire vehicles licensed by TfL will improve safety and give the travelling public the ability to book a private hire vehicle with the same confidence as they would a licensed taxi." </p>
<p>&quot;Now that it will be a requirement for all licensed private hire vehicles to have an identity disc in windscreens, illegal touts will be easier to isolate and prosecute."</p>
<p>&quot;The LPHCA welcomes the new TfL regulations as good news for Londoners.&quot;</p></blockquote>
<p>The checks are similar to those carried out traditionally for black cabs. Examiners will be ensuring that the vehicles are safe, mechanically sound, comfortable and fit for the purpose of carrying passengers. The new standards will include: </p>
<ul>
<li>a distinctive new disc fixed to front and rear windscreens to identify the vehicle as a licensed private hire vehicle. No other signage will be allowed; 
</li><li>for vehicles more than 12 months old the owner must produce a valid MOT certificate which must be no older than 14 days before the inspection by the Public Carriage Office (PCO); 
</li><li>a mid-year MOT will be required ensuring that safety checks are carried out every six months on all licensed private hire vehicles; 
</li><li>the owner must produce valid insurance for the vehicle and it must be registered with the DVLA; 
</li><li>doors must be in full working order; 
</li><li>seatbelts must be fitted to all passenger seats; 
</li><li>clean and comfortable seating; and 
</li><li>adequate boot or luggage space. </li></ul>
<p>The PCO have been issuing temporary permits for private hire vehicle owners since March 5 2004 and currently 37,000 vehicles have registered. Vehicle inspections can take place from early April 2004 at four centres in the capital (at Croydon, Woolwich, Hanworth and Enfield) run by SGS on behalf of the PCO.</p>
            <ol>
<li>All 40,000 vehicles in the capital will be inspected annually by a contractor SGS (United Kingdom Ltd) working for TfL's Public Carriage Office (PCO). 
</li><li>Since 2001 minicab operators must hold a valid licence from the Public Carriage Office to run a service. Since 1st June 2003 it has been an offence to drive a minicab without a private hire driving licence or a temporary permit issued by the PCO. <br>A licensed private hire vehicle must: 
<ul>
<li>Have an identification disc fixed to the top inside of the front windscreen on the passenger side. This will include the registration mark of the vehicle, the maximum number of passengers the vehicle can carry, the London PHV licence number, a statement the licence has been issued by the Public Carriage office and the expiry of the licence; 
</li><li>Be subject to a payment of &pound;75 application fee and also a fee of &pound;25 made payable for the grant of the licence; 
</li><li>From 8th June have a vehicle licence or a temporary permit; 
</li><li>Not have signs or advertising displayed on a private hire vehicle except; badges or emblems on the radiator or windscreen which are issued by an organisation i.e. RAC or AA badges; 
</li><li>Be a light vehicle as defined by section 85 of the road traffic act; 
</li><li>Hold a valid MOT test certificates that must have been issued no more than 14 days before licence inspection; 
</li><li>Have a right hand drive; and 
</li><li>If wheelchair lifting equipment is fitted it must compliant with the Lifting Operations and Lifting Equipment Regulations Act. </li></ul>
<li>Private Hire Vehicle owners without a license or temporary permit for their vehicle can be taken to court and fined up to &pound;2500 from early June 2004. 
</li><li>As London's population continues to grow there will increasing demands placed on our public transport system and TfL aims to deliver the improvements that will match London's future needs. This can only be achieved with continued support from Government. TfL will balance its budget whatever happens but without additional funding essential projects such as private hire vehicle licensing and sustained improvement to the London private hire network will not take place. </li></li></ol>
<p><strong>For media enquiries contact the TfL press office on 020 7941 4141/4881.</strong></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Vehicle checks will start on Thursday 8th April and from early June 2004 private hire vehicles will have to meet strict safety standards to trade legally, by either holding a license or a temporary permit from the Public Carriage Office (PCO).A";}
        
        


 