


@{ViewBag.Title = "Improvement works from Alfred's Way Railway Bridge to Gale Street";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Improvement works from Alfred's Way Railway Bridge to Gale Street</h1>
        <div class="content-page-press-release">
        15 April 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is carrying out improvement works on the A13 from the Alfred's Way Railway Bridge to Gale Street from 19 April for five months.
        
    </div>



 <div class="on-this-page">
<p>The next stage of improving the A13 involves widening the existing footpath along this section to incorporate a cycle path, improving road drainage and upgrading the lighting. </p>
<p>Whilst these works are ongoing TfL will also make extensive improvements to the Lodge Avenue roundabout. To make it safer for all road users new traffic signals are to be installed together with a new footpath and cycle lanes, providing dual use pedestrian and cyclist signalled crossings on all legs of the busy roundabout. </p>
<p>TfL apologises for any disruption whilst these essential improvement works take place.</p>
            <ul>
<li>These works will make it necessary to close lane 1 on both carriageways at various locations. These closures are sign-posted. This stretch of road has three lanes. </li></ul>
<p>As London's population continues to grow there will increasing demands placed on our public transport system and TfL aims to deliver the improvements that will match London's future needs. This can only be achieved with continued support from Government. TfL will balance its budget whatever happens but without additional funding essential sustained improvement to the road network will not take place.</p>
<p>Anna Brosnan<br>Press Office<br>Email: <a href="mailto:annabrosnan&#64;tfl.gov.uk" lid="annabrosnan&#64;tfl.gov.uk">annabrosnan&#64;tfl.gov.uk</a><br>Direct line: 020 7941 4376</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The next stage of improving the A13 involves widening the existing footpath along this section to incorporate a cycle path, improving road drainage and upgrading the lighting. Whilst these works are ongoing TfL will also make extensive improvements to the";}
        
        


 