


@{ViewBag.Title = "London's communities have their say on transport funding";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London's communities have their say on transport funding</h1>
        <div class="content-page-press-release">
        28 April 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The future funding of the Capital's transport system was debated by community and business groups at a summit held today by Transport for London.
        
    </div>



 <div class="on-this-page">
<p>Key figures from London's business, local government, voluntary and community groups joined TfL's Commissioner Bob Kiley to discuss how London will face the challenges of providing a transport system that can cater for the extra 800,000 people expected to be living in the capital in the next decade.</p>
<p>Transport for London Commissioner Bob Kiley said:</p>
<blockquote>
<p>&quot;The right decisions need to be taken now if we are to transform London's public transport and make it fit for the Capital's diverse and rapidly growing population.&quot;</p></blockquote>
<p>Also speaking at the summit the Chair of the Association of London Government's Transport and Environment Committee, Cllr Phil Portwood said:</p>
<blockquote>&quot;Decades of under-investment in London's transport network means it is struggling to cope with the strain placed upon it. While the Government has made some welcome investment to the system in recent years, more needs to be done if it is to cope with the capital's predicted future growth.</blockquote>
<blockquote>&quot;Boroughs recognise that a safe, integrated and efficient transport system is essential to helping improve the lives of Londoners. It is also the backbone of the London economy and vital to help the capital continue to play its key role in the country's prosperity.</blockquote>
<blockquote>&quot;The Spending Review provides the opportunity to provide the investment needed to keep London moving.&quot;</blockquote>
<p>Greater London Action on Disability Director of Policy and Projects Brenda Ellis said:</p>
<blockquote>&quot;The transport improvements we are seeking are not just for disabled people but for everyone - older people, parents with children and buggies and children travelling alone.</blockquote>
<blockquote>&quot;Transport is what makes our city function. Without it we could not go to work, go to social or leisure activities, visit our friends and relatives or go to the pub. If London is to become a truly modern, successful and inclusive city then we need good accessible transport and it needs the funding to make this a reality.&quot;</blockquote>
<p>In July the Treasury will be announcing the results of its Spending Review 2004, allocating the funding for London's transport system. The Summit will bring together views from every aspect of London life on the issue of funding major new projects such as the proposed West London Tram, enhancement of some major Tube stations and continued improvements for buses.</p>
            <ol>
<li>Transport for London hosted its first "Transport Summit" at the Millbank media centre this evening (Wednesday 28th April). It was attended by more than 100 people from various community, business and local authority organisations. 
</li><li>More information, including local fact sheets, about Transport for London's bid for government funding in the 2004 Spending Round can be found at www.tfl.gov.uk. </li></ol>
<p><strong>For media enquiries please telephone 020 7941 4141 (and for out-of-hours).</strong></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Key figures from London's business, local government, voluntary and community groups joined TfL's Commissioner Bob Kiley to discuss how London will face the challenges of providing a transport system that can cater for the extra 800,000 people expected to";}
        
        


 