


@{ViewBag.Title = "London hosts Europe's pledge to reduce road deaths";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London hosts Europe's pledge to reduce road deaths</h1>
        <div class="content-page-press-release">
        07 April 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        To mark World Health Day 2004 London will today (7 April) play host to 30 European cities and regions who are gathering to sign the European Road Safety Charter, pledging to reduce the number of those killed on Europe's roads by 50 percent.
        
    </div>



 <div class="on-this-page">
<p>Every year 40,000 people are killed and 1.7 million injured* on Europe's roads. In response to a growing concern about road traffic injuries and fatalities the World Health Organisation has made road safety the theme for this year's World Health Day.</p>
<p>The day will highlight the major health impact and societal costs of road traffic injuries, and the particular vulnerability of pedestrians, cyclists, motorcyclists. Annually 1.26 million* people are killed globally in road traffic collisions.<br><br>The Charter requires cities to undertake road safety initiatives that contribute to reducing deaths on the roads of Europe by 50 percent by 2010. </p>
<p>Jenny Jones, Deputy Mayor of London, says,</p>
<blockquote>
<p>"The statistics are horrendous, but the individual stories of pain and tragedy are far, far worse. London has to wake up to the reality of nearly six people a week being killed on our roads. It is a situation which we would never accept on the railways, or tube. We have doubled the money spent on 20mph zones and we need to spend even more on the measures which will know will cut road deaths. These deaths and injuries are not just individual twists of fate, but preventable acts of social neglect."</p></blockquote>
<p>Peter Hendy, Transport for London's Managing Director for Surface Transport, says:</p>
<blockquote>
<p>&quot;280 people were killed on London's roads in 2002. We are deeply committed to working with the boroughs, police and schools to reduce this figure. The UK already has the best road safety record in Europe but we still need to work hard to lower the numbers hurt and killed on our Capital's roads. &quot; </p></blockquote>
<p>At the same event five cities and regions that have already demonstrated best practices in road safety will be presented with the first European Road Safety Award. The award was open to all cities that sign the European Road Safety Charter on 7 April. During the ceremony, the awarded cities will have the opportunity to present their best practices aiming to improve urban road safety. The Ceremony will end with a reception.</p>
<p><strong>Ceremony:</strong></p>
<p>14.00 SAFE Campaign Signing Ceremony </p>
<ul>
<li>Opening<br>Ms Jenny Jones, Deputy Mayor of London 
</li><li>Introduction to the SAFE Campaign <br>ACCESS &amp; POLIS Presidents 
</li><li>The European Road Safety Action Programme<br>Mr Dimitrios Theologitis, Head of Unit Road Safety and Technology, European Commission, Directorate General for Energy and Transport 
</li><li>Signing of the European Road Safety Charter and the ACCESS-POLIS Urban Annex by cities and regions representatives </li></ul>
<p>15.00 European Road Safety Awards</p>
<ul>
<li>Presentation of the first European Road Safety Awards 
</li><li>Best practices in road safety from European Cities and Regions </li></ul>
            <ul>
<li>Mayors, vice-mayors, and ministers from around 30 European cities and Regions will sign the Charter. The following cities and Regions will be signing the European Road Safety Charter: Vienna, the Brussels Capital Region, Gent, the Walloon Region, Brno, Prague, Helsinki, Lille, Lyon, Cologne, Thessaloniki, Ferrara, Genoa, Riga, Krakow, Ljubljana, Barcelona, G&ouml;teborg, Malm&ouml;, Karlstad, Aberdeen, Birmingham, the Hampshire County Council, Lancashire County Council, Leeds, London Borough of Bromley, London Borough of Camden, London Borough of Ealing, London Borough of Merton, Mayor of London, Manchester, and West Sussex County Council. </li></ul>
<p>* Figures taken from WHO newsletter on road safety, November 2003. Road Safety is no Accident. </p>
<ul>
<li>World Health Day is celebrated annually on 7 April. The theme for World Health Day 2004 is road safety and hundreds of organisations around the globe will host events to help raise awareness of road safety issues. For more information on World Health Day visit the World Health Organisation's web site at www.who.org 
</li><li>Statement by Ambassador Aldo Mantovani, Deputy Permanent Representative of Italy to the United Nations on behalf of the European Union, UN General Assembly:<br>
<blockquote>
<p>&quot;The European Union believes that saving lives through an effective road safety policy is a difficult challenge, but also a moral obligation for all member states.&quot;</p></blockquote>
</li><li>Deaths from injuries are projected to rise from 5.1 million in 1990 to 8.4 million in 2020 - with increase in road traffic injuries as a major cause for this rise. Currently deaths from road traffic injuries account for 2.2% of the global mortality affecting all age groups. 
</li><li>Following the Commission's Transport policy White Paper published in September 2001, the European Road Safety Charter was launched on 29th January 2004. The aim of the Charter is to encourage towns, cities and states to support the EU in achieving a 50% reduction in road deaths by 2010. 
</li><li>ACCESS-EUROCITIES &amp; POLIS, are city networks dealing with urban transport issues. Concerned about the number of accidents and injuries occurring on our roads, they have decided to join forces and launch the SAFE Campaign. Safety Actions for Europe, in short the SAFE Campaign, aims to support the European Commission's Road Safety Action Programme through the implementation of local initiatives in towns, cities and regions across Europe, that all together will contribute to halving the number of road accident victims by 2010. 
</li><li>European Cities and Regions, that want to promote a safer use of the roads, were therefore invited to sign the European Road Safety Charter, as well as the ACCESS-EUROCITIES - POLIS Urban Annex, presenting basic principles for a sustainable road safety policy at the local level. Each signing authority was also asked to commit to a number of individual actions that will become part of its local road safety policy to be implemented at the local level. 
</li><li>Specific objectives in the Charter include: 
<ol>
</ol></li><li>To contribute to the objective of reducing road deaths in Europe by at least 50% by 2010. 
</li><li>To share information, making better understanding of the causes of collisions and how best to avoid them 
</li><li>To develop and implement technologies for reducing the consequences of road traffic collisions 
</li><li>To monitor compliance with traffic rules and penalising offenders in uniform, rapid and proportionate way </li>
<li>The UK has one of the best road safety records in Europe and it is recognised that reductions in road deaths will be harder to achieve in the UK than some other European countries. London is pleased to sign the Charter and support the EU SAFE initiative. As part of the Mayor's Road Safety Plan, London has a local target to reduce killed or seriously injured road casualties by at least 40% by 2010. 
</li><li>In 1998 road traffic accidents ranked ninth among the leading causes of disease burden, accounting for 2.8% of all global deaths and disability. According to WHO projections, road traffic injuries could take third place in the rank order of disease burden by the year 2020. </li></ul>
<p>As London's population continues to grow there will increasing demands placed on our public transport system and TfL aims to deliver the improvements that will match London's future needs. This can only be achieved with continued support from Government. TfL will balance its budget whatever happens but without additional funding essential sustained improvement to the road network will not take place.</p>
<p>Anna Brosnan<br>Press Office<br>Email: <a href="mailto:annabrosnan&#64;tfl.gov.uk" lid="annabrosnan&#64;tfl.gov.uk">annabrosnan&#64;tfl.gov.uk</a><br>Direct line: 020 7941 4376</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Every year 40,000 people are killed and 1.7 million injured* on Europe's roads. In response to a growing concern about road traffic injuries and fatalities the World Health Organisation has made road safety the theme for this year's World Health Day.The";}
        
        


 