


@{ViewBag.Title = "Mayor unveils further improvements planned for Finsbury Park";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor unveils further improvements planned for Finsbury Park</h1>
        <div class="content-page-press-release">
        20 April 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor of London, Ken Livingstone, today revealed plans that will help transform the experience of passengers using Finsbury Park.
        
    </div>



 <div class="on-this-page">
<p>Finsbury Park is a major interchange for passengers using bus, tube and mainline rail, and serves more than 85,000 people a day. It has already benefited from significant investment, which has improved facilities, safety and accessibility. But further work is now needed to ensure that Finsbury Park can deal with growing passenger demand.</p>
<p>Mayor of London, Ken Livingstone, visiting the site in north London, said: "Finsbury Park is one of the busiest crossover points outside central London, with over 85,000 people travelling through it every day. But the interchange has reached capacity, and with London's population expected to grow by 800,000 by 2016, further work is essential.</p>
<p>"As a result of improvements we have already carried out, passengers now benefit from better access to buses and taxis, new pedestrian crossings, and improved cycling facilities. The next stages will create an even safer, more secure and better co-ordinated transport facility for all users."</p>
<p>Meg Hillier, Assembly Member for Islington, Hackney &amp; Waltham Forest and Chair of the Finsbury Park Transport Working Group, said: "This project would never have got off the ground without London Government. Transport for London has been the lynchpin in the project working alongside the Finsbury Park Partnership. Without Transport for London's contribution of more than &pound;5 million we would not be here today to witness these much needed improvements."</p>
<p>Future improvements will include:</p>
<ul>
<li>a state-of-the-art gallery in Station Place covering the ticket hall, including improved ticket facilities </li>
<li>a world-class cycle parking facility which will have safe and secure manned parking for 140 bicycles </li>
<li>better security with increased CCTV and improved lighting </li>
<li>safer walking and cycling routes to and from the station </li>
<li>safer and more comfortable waiting areas for bus passengers </li>
<li>a new taxi rank and drop off point in Wells Terrace </li></ul>
<p>The full range of improvements to Finsbury Park transport interchange are expected to be complete by Summer 2006, and form part of the Mayor and Transport for London's policy to improve quality, security, convenience and accessibility of transport interchanges across London</p>
<p>For details about services check out <a href="http://www.tfl.gov.uk/" lid="http://www.tfl.gov.uk">http://www.tfl.gov.uk/</a> or <a href="http://www.tfl.gov.uk/tube" lid="http://www.tfl.gov.uk/tube">www.tfl.gov.uk/tube</a> telephone London Travel information on 020 7222 1234.</p>
            <ol>
<li>
<div>
<div>Finsbury Park Transport Interchange is a joint initiative of Transport for London, the Finsbury Park Partnership, the London Borough of Islington, the London Borough of Haringey and is supported by Network Rail and WAGN. </div></div></li></ol>
<div>
<div>
<p>For more information please contact Transport for London Press Office on 020 7941 4141.</p>
<p>Amanda Brooks<br>Press Officer<br>Email: amandabrooks&#64;tfl.gov.uk<br>Direct line: 7941 4882</p></div></div>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Finsbury Park is a major interchange for passengers using bus, tube and mainline rail, and serves more than 85,000 people a day. It has already benefited from significant investment, which has improved facilities, safety and accessibility. But further";}
        
        


 