


@{ViewBag.Title = "Prosecutions bulletin - illegal minicab operators";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Prosecutions bulletin - illegal minicab operators</h1>
        <div class="content-page-press-release">
        07 April 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Four illegal minicab operators and controllers face fines and costs totaling more than &pound;4000 following spot checks and investigations by TfL's Public Carriage Office (PCO) as part of a drive to make minicabs safer.
        
    </div>



 <div class="on-this-page">
<p>At Brent Magistrates Court on Monday 26th April, the PCO prosecuted five individuals who had been reported by PCO Licensing Officers for the offence of operating without a Private Hire Operators Licence for London. The operators were based in <strong>Hackney, Wood Green, Chiltern and Mile End</strong>.</p>
<p>Public Carriage Office Director Ed Thompson said:</p>
<blockquote>
<p>&quot;The message to illegal operators is loud and clear - we will track you down. We are well on the way to licensing the minicab industry that will raise standards to bring safer and more reliable travel to London.&quot;</p></blockquote>
<p>Details of the prosecutions are:</p>
<p>Bulent EKBIC - MARE STREET CARS, 155a Mare Street, Hackney E9<br>&pound;200 Fine + &pound;277 Costs</p>
<p>Zoshim UDDIN - MINICAB UK, 220 Mile End Road, London E1 4LJ<br>1st Case: &pound;500 Fine + &pound;352 Costs<br>2nd Case: &pound;750 Fine + &pound;432 Costs</p>
<p>Fatai OGUNRIBIDO (1) - ECLIPSE EXCLUSIVE CARS, 725-755 Lordship Lane, Wood Green, London N22<br>&pound;300 Fine + &pound;297 Costs</p>
<p>John PROCTOR (2) - LUXICARS, Station Road, Chiltern<br>&pound;300 Fine + &pound;237 Costs</p>
<p>Balwant GHODI - BOB'S CAR HIRE (no office address but was found trading on Kingston High Street)<br>&pound;300 Fine + &pound;237 Costs</p>
<p>The offence of trading without a licence in London currently carries a maximum fine of &pound;2500.</p>
<p>Since 2001 minicab operators must hold a licence from the PCO to run a service. Since 1st June 2003 it is an offence to drive a minicab without a private hire driving licence or a temporary permit issued by the PCO. Licensing of vehicles started in April 2004.</p>
            <ol>
<li>The Public Carriage Office is responsible for licensing London's taxi and private hire services, as part of Transport for London's Surface Transport and Street Management Directorate. There are currently 2,307 licensed private hire operators in London and 43,623 drivers either with temporary permits or a full licence. 
</li><li>Since 2002 74 operators have been taken to court for operating without a licence. 
</li><li>The PCO employs 28 licensing officers who undertake 600 compliance inspections between them a month. </li></ol>
<p><strong>For media enquiries telephone the TfL press office on 020 7941 4881 or 7941 4141 (out of hours).</strong></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "At Brent Magistrates Court on Monday 26th April, the PCO prosecuted five individuals who had been reported by PCO Licensing Officers for the offence of operating without a Private Hire Operators Licence for London. The operators were based in Hackney,";}
        
        


 