


@{ViewBag.Title = "Security precautions";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Security precautions</h1>
        <div class="content-page-press-release">
        07 April 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        During this time of heightened security concerns, drivers and proprietors are reminded of the following obligations. Compliance with these requirements will contribute to the safety of the capital.
        
    </div>



 <div class="on-this-page">
<p>Badge to be worn (London Hackney Carriages Act 1843, s. 17)</p>
<blockquote>
<p>Every licensed cab driver must at all times during his employment, wear his badge conspicuously in such a manner that the whole of the writing thereon is distinctly legible and, when required, produce it for inspection, and permit any person to note the writing thereon. </p></blockquote>
<p>Production of copy licence (London Cab Order 1934, s 28)</p>
<blockquote>
<p>A cab driver shall have his copy of his cab driver's licence in his possession at all times during his employment and shall produce it for inspection on demand by any police constable or Public Carriage Examiner.</p></blockquote>
<p>Cab to be searched (London Cab Order 1934, para. 51)</p>
<blockquote>
<p>Immediately after the termination of the hiring of his cab the driver must carefully search his cab to ascertain whether any property has been accidentally left there. If this is not practicable he must at least look inside his cab for this purpose. In any event he must make a careful search as soon as practicable after the hiring.</p></blockquote>
<p>If you are suspicious of an unattended package:</p>
<ul>
<li>do not ignore it; 
</li><li>do not touch it; 
</li><li>attempt to establish ownership - but if this is unsuccessful then: 
</li><li>evacuate the immediate area and keep people 150 metres away from the object if possible; 
<ul>
<li>switch off the vehicle engine; 
</li><li>call the police - but do not use a radio or a mobile telephone within 25 metres of the object; and, 
</li><li>remain at the scene to identify yourself and the object to the police. </li></ul></li></ul>
<p>Proprietor to retain driver's licence (London Hackney Carriages Act 1843, s 21)</p>
<blockquote>
<p>Every proprietor of a hackney carriage who rents a cab to a licensed driver or otherwise permits a licensed driver to drive a vehicle he/she owns, shall retain that driver's licence for the duration of the arrangement.</p>
<p>Proprietors who are approached by individuals who wish to rent a taxi and who are not licensed are asked to satisfy themselves as to the legitimacy of the purpose for wishing to do so. It is also recommended that when selling vehicles proprietors take appropriate steps to confirm the bona fides of the purchaser. Any concerns should be reported to the police.</p></blockquote>
<p>Cabs unattended on ranks (Cab rank regulations)</p>
<blockquote>
<p>The drivers of the first two cabs on a rank must be with their cabs and available for hiring immediately. (Regulation 1)</p>
<p>A cab must not be left on a rank unless the driver is willing to be hired. (Regulation 2)</p>
<p>It has been brought to the attention of the Public Carriage Office by the Transport Operational Command Unit of the Metropolitan Police that consistent abuse of taxi ranks is occurring, particularly in central London by taxi drivers leaving their taxis unattended on taxi ranks. Not only is this illegal but it also inconveniences other taxi drivers wishing to work the rank and also may prompt a security alert. Drivers reported for such offences will have their fitness to remain licensed reviewed by the Licensing Authority.</p></blockquote>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Badge to be worn (London Hackney Carriages Act 1843, s. 17)Every licensed cab driver must at all times during his employment, wear his badge conspicuously in such a manner that the whole of the writing thereon is distinctly legible and, when required,";}
        
        


 