


@{ViewBag.Title = "TfL Publish C-Charge Annual Report";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL Publish C-Charge Annual Report</h1>
        <div class="content-page-press-release">
        26 April 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London today published its Second Annual Report into congestion charging in central London, which covers the full first year of operation.
        
    </div>



 <div class="on-this-page">
<p>The report provides the figures for the full first year of the charge, which confirm that it has led to a dramatic reduction in congestion within the zone. It gives the first information available on the effects of congestion charging on reducing harmful traffic emissions, along with new figures on the effects on business and a more general update on how the charge is working. </p>
<p>The report's key findings are:</p>
<ul>
<li>Congestion within the zone has reduced by 30%, and the volume of traffic within the zone has reduced by 15%; </li>
<li>Public transport is successfully accommodating displaced car users; </li>
<li>There have been significant improvements to bus services in the zone and more widely throughout London; </li>
<li>Comparative analysis of the many influences on the central London economy throughout 2003 suggest that the direct impact of congestion charging on business activity has been small; </li>
<li>Road traffic emissions and fossil fuel consumption in the zone have been reduced; </li>
<li>The operation and enforcement of the scheme are now working much better. Noticeable improvements in performance have followed the implementation of the Supplemental Agreement with Capita, the main scheme service provider. </li></ul>
<p>Mayor of London, Ken Livingstone, said, </p>
<p><strong>"These new figures for the full first year of the congestion charge confirm that it has made central London a much better place to get around, with congestion down by 30 per cent in the charge zone, and an improved bus service successfully accommodating the additional passenger demand. It also provides encouraging evidence of a fall in the number of accidents on central London roads since the charge was introduced. And everyone in central London, whether they are working, shopping, sightseeing, or travelling through, will benefit from the reduction in harmful traffic emissions due to the congestion charge reducing traffic and congestion."</strong></p>
<p>Malcolm Murray-Clark, Director of Congestion Charging said, </p>
<p><strong>"Congestion charging has transformed central London, making it a more amenable place to live, work and visit. The scheme is operating much better and TfL continues to seek to provide further improvements."</strong></p>
<p>
<hr noshade="" size="1">

<p>
<p><strong>Notes to Editors:</strong></p>
<p>Below is a summary of the report. </p>
<p><strong>Congestion</strong></p>
<p>Congestion within the zone has reduced by 30 percent.</p>
<ul>
<li>Measurements of congestion within the charging zone indicate reductions in congestion averaging 30 percent since the start of congestion charging. These results are at the top end of TfL's range of prior expectation </li>
<li>Reduced congestion means that the proportion of time that drivers spend stationary or moving slowly in queues in the charging zone has reduced by up to one-third </li>
<li>This translates into more reliable and more predictable journey times, which surveys of businesses and Londoners more generally suggest are being recognised </li></ul>
<p>The Inner Ring Road continues to operate satisfactorily, despite small increases in traffic.</p>
<ul>
<li>Measurements on the Inner Ring Road continue to show small reductions in congestion compared to pre-charging levels, reflecting better operational management of this key route, despite slightly higher traffic flows. </li></ul>
<p><strong>Traffic patterns</strong><br><br>Traffic adjusted rapidly and smoothly to the introduction of charging.</p>
<ul>
<li>Drivers adjusted rapidly to the introduction of charging and there were very few traffic operational problems. New patterns of travel became established at an early stage, and have been sustained throughout 2003 and into 2004. </li></ul>
<p>Traffic entering the zone during charging hours has reduced by 18 percent; and traffic circulating within the zone has reduced by 15 percent.</p>
<ul>
<li>Observed reductions of 18 percent in traffic (vehicles with four or more wheels) entering the zone, and 15 percent in traffic circulating within the zone (also vehicles with four or more wheels), are towards the top end of the range of TfL's prior expectation </li></ul>
<p>As predicted, there have been small increases in traffic on the Inner Ring Road, which is being satisfactorily managed.</p>
<ul>
<li>Although increased traffic has been observed on the Inner Ring Road, these increases are somewhat smaller than expected and are not leading to significant operational problems on this key route. </li></ul>
<p>There is no evidence of systematic increases in traffic outside the charging zone.</p>
<ul>
<li>There is no evidence of systematic increases in traffic outside of charging hours on weekdays or weekends in response to the introduction of the charge </li>
<li>There is no evidence of systematic increases in traffic on local roads outside the charging zone, during charging hours, in response to the introduction of the charge. </li></ul>
<p><strong>Public transport</strong><br><br>Large scale improvements to the bus network have seen increased patronage, both in the congestion charging zone and more widely throughout London.</p>
<ul>
<li>A total of 106,000 passengers entered the charging zone on 560 buses during a typical weekday morning peak in Autumn 2003 </li>
<li>This represents a 38 percent increase in patronage and a 23 percent increase in service provision compared with 2002. About half of the increased patronage is estimated to be due to congestion charging </li>
<li>Although average occupancies per bus have increased, the additional bus passengers are being accommodated. </li></ul>
<p>The reliability of bus services has improved markedly, both within the charging zone and more widely across London.</p>
<ul>
<li>Within the charging zone there were marked improvements in both the main indicators of bus service reliability: additional waiting time due to service irregularity fell by 30 percent; disruption due to traffic delays fell by 60 percent </li>
<li>Overall bus speeds within the charging zone improved by 6 percent; after allowing for time spent at bus stops, this is compatible with the improved speeds of general traffic within the charging zone. The improvement within the zone is greater than that observed in other areas of London.<br></li></ul>
<p>Travel to central London by Underground has reduced during 2003.</p>
<ul>
<li>The Underground has experienced a reduction in the number of passengers exiting stations in and around the charging zone, a trend reflected across the network. In the morning peak period since charging was introduced there was a reduction in the average number of station exits within the charging zone of 8 percent from 513,000 to 473,000 </li>
<li>It is likely that a small shift of car users to Underground, because of charging, has been more than offset by overall reductions in Underground travel to central London for reasons unconnected with congestion charging. </li></ul>
<p>Travel to central London by National Rail remained broadly static between 2002 and 2003.</p>
<ul>
<li>Transport for London has observed no significant net change to the number of passengers entering central London on the National Rail network between 2002 and 2003.It is possible that a shift of car users to rail, because of charging, has been masked by background changes in the use of rail for travel to central London </li>
<li>Transport for London has found no evidence of systematic increases in 'railhead' parking at rail stations in inner and outer London associated with congestion charging. </li></ul>
<p><strong>Social and behavioural impacts</strong></p>
<p>Transport for London's analysis of the available data allows a provisional assessment of how people have adapted to congestion charging.</p>
<ul>
<li>Of the 65,000 to 70,000 car trips that are no longer made to the charging zone during charging hours: between 50 and 60 percent have transferred to public transport, 20 to 30 percent now divert around the charging zone (these being trips with both origins and destinations outside of the zone), and 15 to 25 percent have made other adaptations, such as changing the timing of trips. </li></ul>
<p><strong>Business and economic impacts</strong></p>
<p>Comparative analysis of the many influences on the central London economy throughout 2003 suggest that the direct impact of congestion charging has been small.</p>
<ul>
<li>London's economy has been subject to a wide range of influences during 2003.Collectively, these have had a much greater impact on the central London economy than congestion charging. They have also made the task of identifying and quantifying congestion-charging-related impacts more difficult. </li></ul>
<p>Key results from TfL's survey of businesses in central London are now available.</p>
<ul>
<li>The TfL business surveys have shown that a number of factors are at work in generating responses to the congestion charge from the business community </li>
<li>A majority of businesses in the zone or close to the boundary state that they are generally supportive. This reflects that the success of congestion charging must be judged by its effect on London's economy and businesses as a whole and not any one economic sector. </li></ul>
<p>Further analysis of the impacts of congestion charging specifically on the retail sector confirm that the direct effect is comparatively small.</p>
<ul>
<li>The scale of reduced travel to central London resulting directly from congestion charging is not compatible with the scale of effects claimed by some individual retailers. This strongly suggests the operation of other more pervasive factors in determining the economic performance of central London during 2003 </li>
<li>The apparent resurgence of the retail market at the end of 2003/early 2004 indicates congestion charging has had no major long-term effect on the sector; with increases in entries in shops in the congestion charging zone rising significantly more rapidly than the UK average </li>
<li>Structural changes to the retail market and much broader economic and political factors have been the prime drivers affecting retail performance within the charging zone during the first half of 2003. </li></ul>
<p><strong>Accidents, amenity and the environment</strong></p>
<p>The recent pattern of decreasing levels of accidents within the charging zone is continuing, and there is no evidence of detrimental change in road traffic accidents within or around the zone.<br></p>
<ul>
<li>The recent trend of overall year-on-year decreases in road traffic accidents seen across London is continuing. There is no evidence of disproportionate changes to the numbers of accidents involving two-wheeled vehicles as some had feared, and there is some evidence of an accelerated decline in accidents inside the charging zone. </li></ul>
<p>Better amenity for central London.</p>
<ul>
<li>Surveys of Londoners 'on-street' in and around the charging zone suggest that the beneficial effects of congestion charging and other initiatives on environmental quality are being recognised. </li></ul>
<p>There has been reduced emissions from road traffic inside the charging zone and little change to emissions on the Inner Ring Road.</p>
<ul>
<li>By reducing the overall volumes of traffic within the charging zone, and increasing the efficiency with which it circulates, congestion charging has been directly responsible for reductions of approximately 12 percent in emissions of both oxides of nitrogen (NOx) and fine particles (PM10) from road traffic (based on 24-hour annual average day) </li>
<li>Traffic changes on the Inner Ring Road are estimated to have resulted in very small changes to emissions of NOx and PM10 from road traffic, of less than plus/minus 2 percent respectively. </li></ul>
<p>Valuable savings in greenhouse gases and fossil fuels.</p>
<ul>
<li>Traffic changes resulting from charging are estimated to have led to savings of 19 percent in traffic-related emissions of CO2 and 20 percent in fuel consumed by road transport within the charging zone (based on a 24-hour annual average day). </li></ul>
<p>No evidence of changes to local noise levels.</p>
<ul>
<li>There is no evidence from sample noise measurements in and around the charging zone of significant changes in the ambient noise climate. </li></ul>
<p><strong>Scheme operation</strong><br><br>Approximately 550,000 congestion charge payments are made each week. </p>
<ul>
<li>In a typical week, there are around 400,000 non-residential payments, 90,000 residential payments and 60,000 fleet payments </li>
<li>Chargepayer preferences for different payment methods were established within the first few weeks of operation and have shown only minor changes since. However, use of the text messaging (SMS) sales channel is slowly increasing, at the expense of the retail and call centre payment channels. </li></ul>
<p>The Supplemental Agreement with Capita (the primary service provider for the scheme) has resulted in real improvements to customer service and scheme operation.</p>
<ul>
<li>During the first few months of the scheme TfL became aware that the quality of service provided by the main contractor was below the standard required. The Supplemental Agreement with Capita defined an extensive programme of improvements across IT, management, process and staffing. Along with a tougher quality performance management regime this has resulted in an increase in performance across a number of areas, particularly in relation to performance of the call centre, the number and quality of penalty charges being issued and the end to end enforcement process. </li></ul>
<p><strong>Enforcement</strong><br><br>The scheme is being rigorously enforced, and the effectiveness of the process has benefited from improvements following from the Supplemental Agreement with Capita.</p>
<ul>
<li>Representations against Penalty Charge Notices (PCNs) have reduced as the accuracy of PCNs issued has increased. Chargepayer and Capita errors in entering the correct vehicle and date of entry details have fallen and the effectiveness of the enforcement process has increased </li>
<li>Since June 2003 TfL has been pursuing outstanding debts and persistent evaders through all available channels. Several hundred vehicles have been immobilised or removed and debt recovery is being followed through for all unpaid PCNs through bailiff action. <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The report provides the figures for the full first year of the charge, which confirm that it has led to a dramatic reduction in congestion within the zone. It gives the first information available on the effects of congestion charging on reducing harmful";}
        
        


 