


@{ViewBag.Title = "TfL Statement: Response to Evening Standard front page (13 April 2004)";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL Statement: Response to Evening Standard front page (13 April 2004)</h1>
        <div class="content-page-press-release">
        13 April 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A TfL spokesman said:<BR><BR>&quot;Bob Kiley has not been offered any extension to his current contract.
        
    </div>



 <div class="on-this-page">
<p>&quot;Bob Kiley's contract continues until January 2005. Any announcement regarding any potential extension can only be made after the Mayoral election later this year.</p>
<p>&quot;TfL publishes details of employees' remuneration in its Annual Report and to the London Assembly.</p>
<p>&quot;Today's Evening Standard is another case of disappointing fabrication, which does not bear any relation to reality.&quot;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "&quot;Bob Kiley's contract continues until January 2005. Any announcement regarding any potential extension can only be made after the Mayoral election later this year.&quot;TfL publishes details of employees' remuneration in its Annual Report and to the";}
        
        


 