


@{ViewBag.Title = "The London Cycle Guides are back";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>The London Cycle Guides are back</h1>
        <div class="content-page-press-release">
        07 April 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        With summer fast approaching, the new improved London Cycle Guides are back, Transport for London announced today.
        
    </div>



 <div class="on-this-page">
<p>The London Cycle Guides are a series of 19 localised free guides to cycling in London. They are designed to help more Londoners to choose cycling as a mode of transport.<br><br>Mayor of London Ken Livingstone said:</p>
<blockquote>
<p>"Cycling is quick, cheap, good for people's health and the environment - and is an increasingly popular way of getting about the city. I hope the improved edition of the cycle guides will encourage more Londoners to choose to travel by bike in the capital."</p></blockquote>
<p>All the routes shown in the guides have been recommended and ridden by cyclists.</p>
<p>Each guide includes:</p>
<ul>
<li>a street map of your area which shows the best routes for cycling 
</li><li>an enlarged street map of central London 
</li><li>a list of cycle shops 
</li><li>a list of stations with cycle parking 
</li><li>useful contacts. </li></ul>
<p>Peter Hendy, Managing Director of Surface Transport, TfL said:</p>
<blockquote>
<p>&quot;London has a similar climate to great cycling cities such as Copenhagen, Amsterdam and Tokyo. Half of all trips currently made in London are less than two miles, about ten minutes by bike. We hope these guides will encourage people to consider cycling in the Capital.&quot;</p></blockquote>
<p>Deputy Mayor of London, Jenny Jones said:</p>
<blockquote>
<p>"If we are going to create a cleaner, quieter, safer city, then we need to encourage as many people to cycle in London as they do in many of the European cities. These guides are useful for experienced cyclists and brilliant for new cyclists." </p></blockquote>
<p>Free copies of the guides can be obtained by calling TfL's 24-hour travel information service on 020 7222 1234 or completing the online order form a <a href="http://www.tfl.gov.uk/cycling" lid="http://www.tfl.gov.uk/cycling">www.tfl.gov.uk/cycling</a></p>
<p>Copies of local guides can also be picked up from:</p>
<ul>
<li>cycle shops 
</li><li>libraries 
</li><li>tourist offices 
</li><li>council receptions</li></ul>
            <ul>
<li>
<div align="left">
<div align="left">The Mayor has identified a long-term target to increase cycling by 200% by 2020 (on year 2000 levels)</div></div>
</li><li>
<div align="left">
<div align="left">Creating a Chain Reaction - The London Cycling Action Plan was launched on 25 February 2004. </div></div>
</li><li>
<div align="left">
<div align="left">Half of all journeys made in London are less than 2 miles; a distance easily cycled. However the level of cycling in London is relatively low compared to many other European cities where people from all sections of the community cycle regularly. </div></div>
</li><li>
<div align="left">
<div align="left">The new guides are being marketed publicity </div></div>
</li><li>
<div align="left">
<div align="left">In London 57% of the 11-15 age group cycle, 50% cycling at least once a week; 24% of men but only 13% of women (only 7% on a regular weekly basis) </div></div>
</li><li>
<div align="left">
<div align="left">Targeting parents, children and young people, and with the availability of new cycle parking facilities on street and at schools and colleges will help to reduce the number of unnecessary short car journeys</div></div>
</li><li>
<div align="left">
<div align="left">Cycling has begun to rise in many parts of the Capital and this trend is expected to continue as the Mayor implements his initiatives to make cycling an attractive solution for all. </div></div>
</li><li>
<div align="left">
<div align="left">TfL's CCE is working with the London boroughs to overcome these barriers by improving the street environment and providing on-road training to give people the confidence they need to cycle in ordinary traffic. </div></div>
</li><li>
<div align="left">
<div align="left">The image of cycling in London as a &quot;macho&quot; activity requiring a high level of energy and fitness is being redressed by the complementary marketing campaign which has been designed to appeal to women. </div></div></li></ul>
<div align="left">
<div align="left">
<p>For further information Please contact the Transport for London press office on 020 7941 4141.</p></div></div>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The London Cycle Guides are a series of 19 localised free guides to cycling in London. They are designed to help more Londoners to choose cycling as a mode of transport.Mayor of London Ken Livingstone said:'Cycling is quick, cheap, good for people's";}
        
        


 