


@{ViewBag.Title = "Tube, Bus, DLR, Tramlink and River services over the Easter holiday.";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube, Bus, DLR, Tramlink and River services over the Easter holiday.</h1>
        <div class="content-page-press-release">
        07 April 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London today announced details of London travel arrangements over the Easter holiday weekend.
        
    </div>



 <div class="on-this-page">
<p>Planning by <strong>London Buses</strong>, together with the bus companies, will bring a Saturday service on just about every route for Good Friday.</p>
<p>Normal bus services will operate on Easter Saturday and Sunday. On Easter Monday a Sunday service will operate. Route H20 (which does not normally operate on a Sunday) will run during shopping hours between Ivybridge, Tesco and Hounslow Civic Centre on Easter Monday. </p>
<p><strong>Mobility Buses</strong> will run a normal Friday service on Good Friday and no service will run on Easter Monday.</p>
<p>On <strong>Docklands Light Railway </strong>a Saturday service will operate on Good Friday and Easter Monday. Normal services will run on the Easter Saturday and Sunday.</p>
<p><strong>Croydon Tramlink</strong> will run a Saturday service on Good Friday. Normal tram services will operate on Easter Saturday and Sunday. On Easter Monday a Sunday service will be in operation. </p>
<p>The <strong>River service</strong> will be running its summer timetable over the Easter break, with services running from Hampton Court to Greenwich.</p>
<p><strong>London Underground</strong> will run the following services:</p>
<p><strong>Good Friday - 9 April</strong></p>
<p>A Saturday service will operate on all lines except the following:</p>
<ul>
<li>Hammersmith &amp; City line:<br>There will be no service on the Hammersmith &amp; City line between Hammersmith and Edgware Road and Whitechapel and Barking. Hammersmith &amp; City and Circle line services between Edgware Road and Whitechapel will operate at 10 minute intervals. A rail replacement bus service will operate between Hammersmith and Baker Street. </li>
<li>District line:<br>A reduced District line service will operate between Putney Bridge and Wimbledon. </li>
<li>Central line:<br>There will be no service on the Central line between Northolt and West Ruislip but a rail replacement bus service will operate. </li>
<li>Waterloo &amp; City line:<br>There will be no Waterloo &amp; City line. </li>
<li>Stations closed:<br>The following stations will be closed all day; Borough, Cannon Street, Chancery Lane, Mornington Crescent, Shoreditch and Temple. </li></ul>
<p><strong>Saturday 10 April</strong></p>
<p>A Saturday service will operate on all lines except the following:</p>
<ul>
<li>Hammersmith &amp; City line:<br>There will be no service on the Hammersmith &amp; City line between Hammersmith and Edgware Road and Whitechapel and Barking. Hammersmith &amp; City and Circle line services between Edgware Road and Whitechapel will operate at 10 minute intervals. A rail replacement bus service will operate between Hammersmith and Baker Street. </li>
<li>District line:<br>A reduced District line service will operate between Putney Bridge and Wimbledon. </li>
<li>Central line:<br>There will be no service on the Central line between Northolt and West Ruislip but a rail replacement bus service will operate. </li>
<li>Stations closed: </li></ul>
<p>Stations will be open as on a normal Saturday.</p>
<p><strong>Easter Sunday - 11 April</strong></p>
<p>A Sunday service will operate on all lines except the following:</p>
<ul>
<li>Hammersith &amp; City line:<br>There will be no service on the Hammersmith &amp; City line between Hammersmith and Edgware Road and Whitechapel and Barking. Hammersmith &amp; City and Circle line services between Edgware Road and Whitechapel will operate at 10 minute intervals. A rail replacement bus service will operate between Hammersmith and Baker Street. </li>
<li>District line:<br>A reduced District line service will operate between Putney Bridge and Wimbledon. </li>
<li>Central line:<br>There will be no service on the Central line between Northolt and West Ruislip but a rail replacement bus service will operate. </li>
<li>Waterloo &amp; City line:<br>There will be no Waterloo &amp; City line. </li>
<li>Stations closed:<br>Stations will be open as on a normal Sunday. </li></ul>
<p><strong>Easter Monday - 12 April</strong></p>
<p>A Saturday service will operate on all lines except the following:</p>
<ul>
<li>Hammersmith &amp; City line:<br>There will be no service on the Hammersmith &amp; City line between Hammersmith and Edgware Road and Whitechapel and Barking. Hammersmith &amp; City and Circle line services between Edgware Road and Whitechapel will operate at 10 minute intervals. A rail replacement bus service will operate between Hammersmith and Baker Street. </li>
<li>District line:<br>A reduced District line service will operate between Putney Bridge and Wimbledon.<br>Central line:<br>There will be no service on the Central line between Northolt and West Ruislip but a rail replacement bus service will operate. </li>
<li>Waterloo &amp; City line:<br>There will be no Waterloo &amp; City line. </li>
<li>Stations closed:<br>The following stations will be closed all day; Borough, Cannon Street, Chancery Lane, Mornington Crescent, Shoreditch and Temple. </li></ul>
<p>For details about services check out <a href="http://www.tfl.gov.uk/" lid="http://www.tfl.gov.uk">http://www.tfl.gov.uk/</a> or <a href="http://www.tfl.gov.uk/tube" lid="http://www.tfl.gov.uk/tube">www.tfl.gov.uk/tube</a> telephone London Travel information on 020 7222 1234.</p>
            <ol>
<li>
<div align="left">
<div align="left">A few bus routes that operate across the London boundary will not run on Good Friday or will provide a Sunday service. Details are available from London Travel Information </div></div></li></ol>
<div align="left">
<div align="left">
<p>For more information please contact Transport for London Press Office on 020 7941 4141.</p>
<p>Nathan Fletcher<br>Press Officer<br>Email: nathanfletcher&#64;tfl.gov.uk<br>Direct line: 7941 4425</p></div></div>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Planning by London Buses, together with the bus companies, will bring a Saturday service on just about every route for Good Friday.Normal bus services will operate on Easter Saturday and Sunday. On Easter Monday a Sunday service will operate. Route H20";}
        
        


 