


@{ViewBag.Title = "Upper Street cleans up";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Upper Street cleans up</h1>
        <div class="content-page-press-release">
        05 April 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Old bollards and unsightly discarded railings will be a thing of the past now Transport for London (TfL) is working with Islington Council to clear Upper Street of unsightly street clutter and create a better environment for pedestrians on Tuesday 6th April.
        
    </div>



 <div class="on-this-page">
<p>TfL will be organising a blitz on street clutter on Upper Street and displaying it outside Islington Town Hall to demonstrate the impact of this blight. </p>
<p>Keith Ollier, Director of Road Network Operations at TfL says:</p>
<blockquote>
<p>&quot;TfL is committed to keeping its streets free from street clutter that causes obstructions for pedestrians and makes our roads look untidy. Too many of London's streets are blighted by old bits of railing and bollards, which are unsightly and cause obstructions to pedestrians. Upper Street is a very popular area and cleaning it up will benefit all those who enjoy all it has to offer.&quot;</p></blockquote>
<p>Cllr Bridget Fox, Islington Council's Executive Member for Sustainability, says:</p>
<blockquote>
<p>&quot;We've got exciting plans to improve the streetscape all along the A1 from the Angel to Archway. Getting rid of redundant bollards, street signs and phone boxes is just the beginning."</p>
<p>&quot;Because street clutter can be an obstacle for people with visual impairments, we are working closely with TfL to remove these hazards from over busiest pedestrian route, Upper Street.&quot;</p></blockquote>
<p><strong>Where:</strong> Outside Islington Town Hall, Upper Street<br><strong>When</strong>: 4.00pm</p>
            <ul>
<li>TfL will also be installing 7 new information signs to help guide people to all Upper Street has to offer. 
<p>As London's population continues to grow there will increasing demands placed on our public transport system and TfL aims to deliver the improvements that will match London's future needs. This can only be achieved with continued support from Government. TfL will balance its budget whatever happens but without additional funding essential sustained improvement to the road network will not take place.</p></li></ul>
<p>Anna Brosnan<br>Press Office<br>Email: <a href="mailto:annabrosnan&#64;tfl.gov.uk" lid="annabrosnan&#64;tfl.gov.uk">annabrosnan&#64;tfl.gov.uk</a><br>Direct line: 020 7941 4376</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL will be organising a blitz on street clutter on Upper Street and displaying it outside Islington Town Hall to demonstrate the impact of this blight. Keith Ollier, Director of Road Network Operations at TfL says:&quot;TfL is committed to keeping its";}
        
        


 