


@{ViewBag.Title = "A12 urgent repair works";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>A12 urgent repair works</h1>
        <div class="content-page-press-release">
        21 October 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        As part of our continued work to improve London's roads, Transport for London (TfL) will be undertaking essential repairs to the A12 Blackwall Tunnel Northern Approach between the junction with East India Dock Road and Bow Road from 25 October 2004.
        
    </div>



 <div class="on-this-page">
<p>Work is urgently needed to reconstruct the road surface along this stretch of the A12. </p>
<p>Works will begin on Monday 25 October and will take approximately 3-4 weeks. </p>
<p>TfL's Director of Road Network Operations, Keith Ollier, said of the essential works;<br>&quot;These unavoidable repairs to the Blackwall Tunnel Northern Approach (A12) must take place as soon as possible but will be largely completed overnight and at weekends, with minimal lane closures during the week, to keep disruption to traffic to a minimum. We apologise for any disruptions caused by these essential works and advise drivers to seek alternative routes where possible.&quot;</p>
<p><strong>Lane closures and diversions</strong><br>Northbound - There will be full road closures from 6am Saturday until 5am Monday over the weekends of 30 Oct - 1 Nov, 6 Nov - 8 Nov and 20 Nov - 22 Nov and lane closures during the week.</p>
<p>Southbound - There will be lane closures (reducing capacity to one lane) during the week only between 10am and 15.30pm and again between 19.50pm and 5am.</p>
<p>A12 northbound - Traffic wishing to access the A12 prior to the junction with the A406 are advised to use the A13 westbound, A1205 northbound and the A11 eastbound to the A12. Traffic wishing to access the A12 beyond its junction with the A406 should use the A13 eastbound and the A406 northbound to the A12.</p>
<p>During the closures of the northbound A12 the Blackwall Tunnel Northbound will be reduced to one lane for safety reasons. On the approach to the Blackwall Tunnel there will be extra traffic police presence to assist. </p>
            <p>Transport for London reports to the Mayor, Ken Livingstone and is responsible for maintaining and managing the 580km Transport for London Road Network (TLRN), which, although comprising only 5 per cent of the Capital's roads, carries approximately 33 per cent of its traffic.</p>
<p>Transport for London is responsible for implementing the Mayor's Transport Strategy on improving the movement of people and goods on London's streets by helping pedestrians, cyclists, bus passengers and people with disabilities. </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Work is urgently needed to reconstruct the road surface along this stretch of the A12. Works will begin on Monday 25 October and will take approximately 3-4 weeks. TfL's Director of Road Network Operations, Keith Ollier, said of the essential";}
        
        


 