


@{ViewBag.Title = "'Back the Bid' bus to take Olympic heroes on unique journey to Buckingham";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>'Back the Bid' bus to take Olympic heroes on unique journey to Buckingham</h1>
        <div class="content-page-press-release">
        14 October 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A Transport for London (TfL) 'Back the Bid' bus - which supports London2012's bid to bring the Games to London in 2012 - will take our Olympicmedallists to their reception with the Queen following the Parade of Heroesin London on Monday afternoon (18th October).
        
    </div>



 <div class="on-this-page">
<p>The bus has been given special permission to travel along the Mall before<br>dropping their VIP guests at Buckingham Palace at around 5.15pm.</p>
<p>Two 'Back the Bid' buses will feature prominently in the parade organised to<br>celebrate Britain's success in this summer's Athens Olympic and Paralympic<br>Games . </p>
<p>Over 100 medallists will greet crowds along the route from Piccadilly to<br>Trafalgar Square. The branded buses will be an eye-catching part of the<br>parade and one of the buses will go on to transport the medallists from<br>Trafalgar Square to Buckingham Palace for their reception with The Queen - a<br>rare sight indeed.<br></p>
<p>Hugh Sumner, TfL's Olympic Transport Project Director said; "It's fantastic<br>that TfL once again has the opportunity to help show how important the bid<br>is to London. Transport will play a key role in helping win the bid. We<br>already have a well-run and effective transport network with 20 million<br>journeys made each day. With planned extra investment of &pound;3bn over five<br>years TfL will make London a fantastic stage on which to deliver a<br>successful Olympics in 2012.</p>
<p>"Monday is a chance for everyone to demonstrate to this year's Olympic and<br>Paralympic athletes our appreciation of their success and for the public to<br>actively get behind the 2012 bid. This parade will show the world what a<br>fantastic and passionate sporting nation Britain is."</p>
<p>Monday's 'Back the Bid' buses are part of the largest public awareness<br>campaign TfL has ever run. They are just two from a fleet of forty highly<br>visible buses 'wrapped' in London 2012 branding that are currently in<br>service and demonstrate TfL and the Mayor's total commitment to bring the<br>Olympic Games to London in 2012.</p>
<p>Emily O'Regan<br>Communications <br>Olympic Transport Strategy<br>Transport For London<br>Tel: 020 7941 4313<br>Mob: 07785 397 117<br>Fax: 020 7941 4276<br>email: <a href="mailto:emilyoregan&#64;tfl.gov.uk">emilyoregan&#64;tfl.gov.uk</a><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The bus has been given special permission to travel along the Mall beforedropping their VIP guests at Buckingham Palace at around 5.15pm.Two 'Back the Bid' buses will feature prominently in the parade organised tocelebrate Britain's success in this";}
        
        


 