


@{ViewBag.Title = "Congestion charge gets festive for Christmas sales";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Congestion charge gets festive for Christmas sales</h1>
        <div class="content-page-press-release">
        19 October 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        With only 67 days shopping to Christmas, Ken Livingstone, the Mayor of London, has confirmed that the congestion charge is to be suspended between Christmas and the New Year.
        
    </div>



 <div class="on-this-page">
<p>Following a public consultation, the Mayor has instructed Transport for London (TfL) to suspend the congestion charge to allow free entry to the congestion charging zone on the three working days between Christmas and the New Year. Drivers will not have to pay the charge from 25 December 2004 to 3 January 2005. </p>
<p>The Mayor asked TfL to consult on suspending the charge following the analysis of congestion levels in the charging zone during the same period last year, the consultation took in the views of Londoners and businesses. </p>
<p>The Mayor of London, Ken Livingstone, said</p>
<blockquote>
<p>&quot;The suspension of the congestion charge, coupled with the post-Christmas sales, will benefit visitors and businesses over the period. </p>
<p>&quot;I promised in my manifesto to suspend the charge between Christmas and the New Year, and having listened to the views of Londoners and businesses, I can now confirm that this will happen.&quot;</p></blockquote>
            <p>Retail sales and footfall are now out-stripping pre-congestion charge levels.</p>
<p>Drivers who have made an annual payment for the congestion charge will have their expiry date extended by 3 charging days. </p>
<p>Alun Shurmer <br>Senior Press Officer <br>Email: <a href="mailto:alunshurmer&#64;tfl.gov.uk" lid="alunshurmer&#64;tfl.gov.uk">alunshurmer&#64;tfl.gov.uk</a> <br>Direct line: 020 7941 4386 </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Following a public consultation, the Mayor has instructed Transport for London (TfL) to suspend the congestion charge to allow free entry to the congestion charging zone on the three working days between Christmas and the New Year. Drivers will not have";}
        
        


 