


@{ViewBag.Title = "Coulsdon relief road exhibition";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Coulsdon relief road exhibition</h1>
        <div class="content-page-press-release">
        21 October 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is holding a public exhibition from Thursday 4 November until Saturday 6 November at the Coulsdon Methodist Hall to explain how works are progressing on the Coulsdon relief road.
        
    </div>



 <div class="on-this-page">
<p>Construction of the much-needed road began in January 2004 and is expected to be completed in early 2006. It will divert 80 percent of traffic away from the busy town centre, reclaiming it for local residents.</p>
<p><br>TfL, Hochtief (UK) Construction Ltd and Croydon Council are working hard to minimise the effect these major works are having on the life of local residents. To achieve this a lane of traffic is being kept open in each direction during daytime, maintaining vehicle and pedestrian access to local properties. </p>
            <h4>Exhibition opening times: </h4>
<p>Coulsdon Methodist Hall, 83 Brighton Road</p>
<p>Thursday 4 November 10am to 7.30pm<br>Friday 5 November 10am to 9.30pm<br>Saturday 6 November 10am to 5pm</p>
<p>Staff will be on hand to answer any questions.</p>
<p>Should members of the public be unable to attend the exhibition they are advised to visit the scheme website at www.coulsdontcis.co.uk or telephone the site hotline number on 01737 558674 for further information.</p>
<p>A pdf file of the proposals is available. </p>
<p>Transport for London reports to the Mayor, Ken Livingstone and is responsible for maintaining and managing the 580km Transport for London Road Network (TLRN), which, although comprising only 5 per cent of the Capital's roads, carries approximately 33 per cent of its traffic.</p>
<p>Transport for London is responsible for implementing the Mayor's Transport Strategy on improving the movement of people and goods on London's streets by helping pedestrians, cyclists, bus passengers and people with disabilities.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Construction of the much-needed road began in January 2004 and is expected to be completed in early 2006. It will divert 80 percent of traffic away from the busy town centre, reclaiming it for local residents.TfL, Hochtief (UK) Construction Ltd and";}
        
        


 