


@{ViewBag.Title = "Cyclists race from Paris to London to celebrate Entente Cordiale Centenary";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Cyclists race from Paris to London to celebrate Entente Cordiale Centenary</h1>
        <div class="content-page-press-release">
        19 October 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Over 300 professional and elite cyclists from Britain and France will race from Paris to London this weekend to celebrate the centenary of the Entente Cordiale. The event will culminate with a trophy ceremony in front of Tower Bridge at approximately 4pm on Sunday 24 October.
        
    </div>



 <div class="on-this-page">
<p>The Mayor of London, Ken Livingstone, said, </p>
<p>&quot;My aim is to encourage many more people to cycle in London. By improving cycle facilities, we have already seen a 23 per cent rise in cycling in London in the past year. This race will bring together 300 cyclists from France and Britain and is a great way to celebrate cycling in our city.&quot;</p>
<p>The two-day 300km race will bring together 150 riders from each country, united in support of the strong values of sport ethics and Franco-British friendship. British cyclists will include some of the world's leading racers such as Olympian, Nicole Cooke, former Tour de France cyclist, Colin Lewis and current world veteran cyclo-cross champion, Mick Ives. </p>
<p>The event will honour the links uniting France and the United Kingdom, and celebrate the set of three agreements settling long-standing disputes between Britain and France in distant lands signed in 1904 and commonly known as the Entente Cordiale.</p>
            <p>The cycle race is one of 300 events celebrating the Entente Cordiale Centenary.</p>
<p>The proceeds will be given to cancer charities. </p>
<p>The race will start from the Eiffel Tower at 9am on Saturday 23 October. </p>
<p>Cycling in London has increased by 23% in the past year. </p>
<p>Transport for London is committed to increasing the number of cyclists in the capital by 80% by 2010. </p>
<p>Disruption to traffic is expected to be minimal as a rolling road block will be in place to minimise any congestion. </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Ken Livingstone, said, &quot;My aim is to encourage many more people to cycle in London. By improving cycle facilities, we have already seen a 23 per cent rise in cycling in London in the past year. This race will bring together 300";}
        
        


 