


@{ViewBag.Title = "Directions and Guidance to the Strategic Rail Authority 2004";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Directions and Guidance to the Strategic Rail Authority 2004</h1>
        <div class="content-page-press-release">
        25 October 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Secretary of State has now issued his Directions and Guidance to the Strategic Rail Authority in respect of the Rail Review. There is a specific section on London, directing the SRA to work closely with the DfT and TfL in implementing and further developing the Government's intentions in relation to London. The extract on London is shown below:
        
    </div>



 <div class="on-this-page">
<p><strong>London </strong></p>
<p>5.0. The White Paper sets out the Government's intentions in relation to London. The Authority should work closely with DfT and TfL in implementing and further developing these proposals, sharing information as openly as possible consistent with its legal obligations. In particular, the Authority should:</p>
<ul>
<li>Work with DfT and TfL to provide further advice to the Secretary of State by December 2004 on the arguments for and against (i) moving to a zonalised fare structure within London mirroring that for other modes; (ii) removing travelcard and zonalised fares from the regulated fare basket and leaving decisions on their rates to the Mayor of London, but in a way that leaves train operating companies and the Authority financially no better and no worse off than they otherwise would have been and with any additional income/costs involved falling to TfL; and, in each case, how such a policy could be implemented in advance of legislation; </li>
<li>Use its best endeavours, during the current Silverlink franchise and the 2-year extension due to commence on 17 October 2004, to facilitate TfL's aspirations to specify and fund alterations on a net cost basis to Silverlink Metro services and stations between Richmond and Stratford, Gospel Oak and Barking, Clapham Junction and Willesden Junction, and Watford Junction and Euston (DC line), taking account of the impact on the network and other operators or stakeholders and funding constraints. The Authority should work with TfL to explore the scope for TfL to take revenue risk and seek to agree the specification of the new franchise for these services, and the Cross London Routes Route Utilisation Strategy with TfL; </li>
<li>Fully consult, TfL over the specification of franchises that have a significant impact on services in London and in the preparation of relevant RUSs, RPAs and other strategies; </li>
<li>Collect data on revenue, costs and performance for London commuter train operating companies separately for inner suburban services; and </li></ul>
<p>Subject to affordability, accelerate the initiation of work on a London Regional Planning Assessment and discuss the form of the work with TfL.<br><br><br>To access the full document Directions and Guidance to the Strategic Rail Authority 2004 please <a href="http://www.dft.gov.uk/" el="http://www.dft.gov.uk/stellent/groups/dft_railways/documents/page/dft_railways_031941.hcsp" lid="click here">click here</a><br><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London 5.0. The White Paper sets out the Government's intentions in relation to London. The Authority should work closely with DfT and TfL in implementing and further developing these proposals, sharing information as openly as possible consistent with";}
        
        


 