


@{ViewBag.Title = "Hammersmith and Fulham to benefit as Mayor unveils &pound;10bn investment programme to transform London's transport network";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Hammersmith and Fulham to benefit as Mayor unveils &pound;10bn investment programme to transform London's transport network</h1>
        <div class="content-page-press-release">
        12 October 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Hammersmith &amp; Fulham is to benefit from better transport under a proposed &pound;10 billion, five year investment programme to give London a 21st century transport system, unveiled by Mayor of London Ken Livingstone today.
        
    </div>



 <div class="on-this-page">
<p>Speaking at City Hall, the Mayor said:</p>
<p>"This is a once-in-a-lifetime opportunity to reverse decades of under-investment in Hammersmith &amp; Fulham and right across London. It marks an end to stop-start funding for London's transport. The programme will deliver real improvements in the services and capacity needed to keep passengers travelling in and through Hammersmith &amp; Fulham on the move."</p>
<p>The main benefits for Hammersmith &amp; Fulham included in TfL's 5 Year Investment Programme, subject to approval by the TfL Board, are:</p>
<ul>
<li>the reduced congestion, improved bus services, lower emissions and possible lower accident rates of the proposed extension of the Congestion Charge westward, to cover most of the borough of Kensington and Chelsea and Westminster - subject to an extensive public consultation the detail of the proposal and a final Mayoral decision in Summer 2005; 
</li><li>the West London Tram, which would run from Uxbridge to Shepherd's Bush, will be funded to design and powers stage; 
</li><li>on the Tube, a new station on the Hammersmith and City line between Shepherd's Bush and Latimer Road to serve the White City Development; 
</li><li>major congestion relief at Shepherd's Bush Central Line station including step free access by 2008 as part of the new White City development; 
</li><li>a new package of improvements for Silverlink Metro services including station and security enhancements such as better CCTV and lighting, graffiti cleaning and the extension of station staffing hours providing a greater presence early in the morning and later at night. </li></ul>
<p>In addition, the following improvements to Central, District, Hammersmith &amp; City and Piccadilly lines and stations are planned to be delivered under the PPP: </p>
<ul>
<li>station refurbishments and/or modifications at Putney Bridge (2006); Shepherd's Bush (Hammersmith &amp; City) by 2006; East Acton (2006); and Shepherd's Bush (Central); Barons Court; Hammersmith (District and Piccadilly); Parsons Green; West Kensington and White City (between 2007 and 2010) 
</li><li>Central Line upgrade to improve journey times by 2006; 
</li><li>all 75 District Line trains to be refurbished by 2009 including space for wheelchairs, audio &amp; video info systems and refurbished seats and interiors; </li></ul>
<p>The Mayor added:</p>
<p>"The last four years have seen huge improvements in Hammersmith &amp; Fulham's bus services. This investment programme will build on this and deliver improvements right across the transport network.</p>
<p>"We have had to take hard choices. Even with the biggest transport investment programme London has seen since the Second World War, we cannot do everything we want to do this time round. But there have been no trade-offs between maintaining the existing system or launching new projects."</p>
<p>Work undertaken to improve transport in Hammersmith &amp; Fulham by TfL over the past four years benefiting all Londoners including those with disabilities and the socially excluded, includes:</p>
<ul>
<li>more reliable services and better information on all bus services 
</li><li>new low floor accessible buses on 27 routes and increased frequencies on 29 routes; 
</li><li>the introduction of six new routes (148, 272, 414, 419, 424, 430) and nine new night bus routes (N10, N148, N22, N266, N27, N7, N74, N85 and N93); 
</li><li>extra enforcement on public transport to reduce crime and the fear of crime on bus services in the area; 
</li><li>major refurbishment works on the A4 Hammersmith Flyover; 
</li><li>licensing of private hire vehicles to improve passenger safety; 
</li><li>funding for additional Met police officers and police Community Support officers to reduce crime and the fear of crime, improve enforcement on and around bus routes and tackle taxi touting; 
</li><li>improvements in dial-a-ride and taxicard funding. </li></ul>
<p>In partnership with Hammersmith &amp; Fulham a range of schemes have or will shortly be introduced including:</p>
<ul>
<li>provision for cyclists on Rockley Road; 
</li><li>a number of 'Home Zone' schemes, including the College Park area. </li></ul>
            <ol>
<li>The Investment Programme will be formally approved by the board of TfL at a meeting on October 27th. 
</li><li>Crossrail is not part of the Programme. TfL is progressing it as a joint partnership with government in expectation of a Hybrid Bill. 
</li><li>Many of the projects listed are subject to further consultation or other statutory processes before they can be delivered, and may be delivered beyond the life of the Programme. 
</li><li>Tube Lines are responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines; 
</li><li>Metronet Rail BCV are responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo &amp; City lines; 
</li><li>Metronet Rail SSL are responsible for the maintenance and renewal of the Sub-Surface lines, the Circle, District, Hammersmith &amp; City, Metropolitan and East London lines. </li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Speaking at City Hall, the Mayor said:'This is a once-in-a-lifetime opportunity to reverse decades of under-investment in Hammersmith &amp; Fulham and right across London. It marks an end to stop-start funding for London's transport. The programme will";}
        
        


 