


@{ViewBag.Title = "Haringey to benefit as Mayor unveils &pound;10bn investment programme to transform London's transport network";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Haringey to benefit as Mayor unveils &pound;10bn investment programme to transform London's transport network</h1>
        <div class="content-page-press-release">
        12 October 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Haringey is to benefit from better transport under a proposed &pound;10 billion, five year investment programme to give London a 21st century transport system, unveiled by Mayor of London Ken Livingstone today.
        
    </div>



 <div class="on-this-page">
<p>Speaking at City Hall, the Mayor said:</p>
<p>&quot;This is a once-in-a-lifetime opportunity to reverse decades of under-investment in Haringey and right across London. It marks an end to stop-start funding for London's transport. The programme will deliver real improvements in the services and capacity needed to keep passengers travelling in and through Haringey on the move.&quot;</p>
<p>The main benefits for Haringey included in TfL's 5 Year Investment Programme, subject to approval by the TfL Board, are:</p>
<ul>
<li>&pound;24m of funding to improve the A406 North Circular Road, including a dual two lane environmental and road safety scheme with traffic junction and pedestrian improvements at Bounds Green and mitigation work for rat running, noise and safety in local side roads; and two smaller road safety schemes for Regents Park Road and Golders Green Road; 
</li><li>a number of neglected properties will be returned to long term beneficial use helping to regenerate an area that has long suffered from the environmental effects of the high volume of traffic on the A406; 
</li><li>on the Tube step-free access at Manor House station by 2007; </li></ul>
<ul>
<ol>
<li>a new package of improvements for Silverlink Metro services including station and security enhancements such as better CCTV and lighting, graffiti cleaning and the extension of station staffing hours providing a greater presence early in the morning and later at night; </li></ol></ul>
<p>In addition, the following improvements to Piccadilly, Victoria and Northern lines and stations are planned to be delivered under the PPP:</p>
<ul>
<li>station refurbishments to Manor House (2006) including step-free access by 2007; Turnpike Lane (2006) and Bounds Green, Highgate and Wood Green (between 2007 and 2010). 
</li><li>interim upgrade to the Victoria line by 2006 improving journey times. </li></ul>
<p>The Mayor added:</p>
<p>"The last four years have seen huge improvements in Haringey's bus services. This investment programme will build on this and deliver improvements right across the transport network.</p>
<p>&quot;We have had to take hard choices. Even with the biggest transport investment programme London has seen since the Second World War, we cannot do everything we want to do this time round. But there have been no trade-offs between maintaining the existing system and launching new projects.&quot;</p>
<p>Work undertaken to improve transport in Haringey by TfL over the past four years, benefiting all Londoners including those with disabilities and the socially excluded includes:</p>
<ul>
<li>more reliable services and better information on all bus services; 
</li><li>new low floor accessible buses on 33 routes and increased frequencies on 31 routes; 
</li><li>the introduction of a new 476 route and six new night bus routes (N149, N214, N271, N341, N41 and N76); 
</li><li>funding for additional Met police officers and police Community Support officers to reduce crime and the fear of crime, improve enforcement on and around bus routes and tackle taxi touting; 
</li><li>licensing of private hire vehicles to improve passenger safety; 
</li><li>funding for improving conditions for walking, cycling and road safety; 
</li><li>improvements in dial-a-ride and taxicard funding; </li></ul>
<p>In partnership with Haringey TfL a range of schemes have or will shortly be introduced, including:</p>
<ul>
<li>an extensive refurbishment of the Turnpike Lane bus station; 
</li><li>access and security improvements to the Seven Sisters Interchange; 
</li><li>controlled parking zones at Highgate and Tottenham Hale.</li></ul>
            <ol>
<li>The Investment Programme will be formally approved by the board of TfL at a meeting on October 27th. 
</li><li>Crossrail is not part of the Programme. TfL is progressing it as a joint partnership with government in expectation of a Hybrid Bill. 
</li><li>Many of the projects listed are subject to further consultation or other statutory processes before they can be delivered, and may be delivered beyond the life of the Programme; 
</li><li>Tube Lines are responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines; 
</li><li>Metronet Rail BCV are responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo &amp; City lines; 
</li><li>Metronet Rail SSL are responsible for the maintenance and renewal of the Sub-Surface lines, the Circle, District, Hammersmith &amp; City, Metropolitan and East London lines.</li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Speaking at City Hall, the Mayor said:&quot;This is a once-in-a-lifetime opportunity to reverse decades of under-investment in Haringey and right across London. It marks an end to stop-start funding for London's transport. The programme will deliver real";}
        
        


 