


@{ViewBag.Title = "Hillingdon to benefit as Mayor unveils &pound;10bn investment programme to transform London's transport network";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Hillingdon to benefit as Mayor unveils &pound;10bn investment programme to transform London's transport network</h1>
        <div class="content-page-press-release">
        12 October 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Hillingdon is to benefit from better transport under a proposed &pound;10 billion, five year investment programme to give London a 21st century transport system, unveiled by Mayor of London Ken Livingstone today.
        
    </div>



 <div class="on-this-page">
<p>Speaking at City Hall, the Mayor said:</p>
<p>"This is a once-in-a-lifetime opportunity to reverse decades of under-investment in Hillingdon and right across London. It marks an end to stop-start funding for London's transport. The programme will deliver real improvements in the services and capacity needed to keep passengers travelling in and through Hillingdon on the move."</p>
<p>The main benefits for Hillingdon included in TfL's 5 Year Investment Programme, subject to approval by the TfL Board, are:</p>
<ul>
<li>the extension of the Piccadilly line to Terminal 5 and the construction of a new station at the Terminal, expected to handle 3 million customers a year - this is being funded by BAA; 
</li><li>the proposed West London Tram, which would run from Uxbridge to Shepherd's Bush, will be funded to progress to design and powers stage. </li></ul>
<p>In addition, the following improvements to Central, Metropolitan and Piccadilly Lines and stations are planned to be delivered under the PPP:</p>
<ul>
<li>station refurbishments to West Ruislip and Ruislip Manor (completion 2005); Eastcote, Ruislip and South Ruislip (2006); Hatton Cross, Heathrow Terminal 123, Heathrow Terminal 4, Hillingdon, Ickenham, Northwood, Northwood Hills and Ruislip Gardens (completion 2007-2010); 
</li><li>Central Line upgrade to improve journey times by 2006; 
</li><li>the first new air-cooled trains to be introduced on the Metropolitan line in 2009. </li></ul>
<p>The Mayor added:</p>
<p>"The last four years have seen huge improvements in Hillingdon's bus services. This investment programme will build on this and deliver improvements right across the transport network.</p>
<p>"We have had to take hard choices. Even with the biggest transport investment programme London has seen since the Second World War, we cannot do everything we want to do this time round. But there have been no trade-offs between maintaining the existing system or launching new projects."</p>
<p>Work undertaken to improve transport in Hillingdon by TfL over the past four years, benefiting all Londoners including those with disabilities and the socially excluded includes:</p>
<p> </p>
<ul>
<li>more reliable services and better information on all bus services; 
</li><li>new low floor, fully accessible buses on 19 routes and increased frequencies on 17 routes; 
</li><li>introduction of a new route - the U5 - and two new night bus routes - N105 and N285; 
</li><li>funding for additional Met police officers and police Community Support officers to reduce crime and the fear of crime, improve enforcement on and around bus routes and tackle taxi touting; 
</li><li>licensing of private hire vehicles to improve passenger safety; 
</li><li>funding for improving conditions for walking, cycling and road safety; 
</li><li>improvements in dial-a-ride and taxicard funding. </li></ul>
<p>In partnership with the Borough a range of schemes have been introduced, including:</p>
<ul>
<li>improvements to the West Drayton Interchange; 
</li><li>cycle parking and lockers at a number of local schools.</li></ul>
            <ol>
<li>The Investment Programme will be formally approved by the board of TfL at a meeting on October 27th. 
</li><li>Crossrail is not part of the Programme. TfL is progressing it as a joint partnership with government in expectation of a Hybrid Bill. 
</li><li>Many of the projects listed are subject to further consultation or other statutory processes before they can be delivered, and may be delivered beyond the life of the Programme. 
</li><li>Tube Lines are responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines; 
</li><li>Metronet Rail BCV are responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo &amp; City lines; 
</li><li>Metronet Rail SSL are responsible for the maintenance and renewal of the Sub-Surface lines, the Circle, District, Hammersmith &amp; City, Metropolitan and East London lines.</li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Speaking at City Hall, the Mayor said:'This is a once-in-a-lifetime opportunity to reverse decades of under-investment in Hillingdon and right across London. It marks an end to stop-start funding for London's transport. The programme will deliver real";}
        
        


 