


@{ViewBag.Title = "Hounslow to benefit as Mayor unveils &pound;10bn investment programme to transform London's transport network";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Hounslow to benefit as Mayor unveils &pound;10bn investment programme to transform London's transport network</h1>
        <div class="content-page-press-release">
        12 October 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Hounslow is to benefit from better transport under a proposed &pound;10 billion, five year investment programme to give London a 21st century transport system, unveiled by Mayor of London Ken Livingstone today.
        
    </div>



 <div class="on-this-page">
<p>Speaking at City Hall, the Mayor said:</p>
<p>"This is a once-in-a-lifetime opportunity to reverse decades of under-investment in Hounslow and right across London. It marks an end to stop-start funding for London's transport. The programme will deliver real improvements in the services and capacity needed to keep passengers travelling in and through Hounslow on the move."</p>
<p>The main benefit for Hounslow included in TfL's 5 Year Investment Programme, subject to approval by the TfL Board, includes the modernisation of the Hounslow bus station to improve accessibility and increase capacity.</p>
<p>In addition, the following improvements to District and Piccadilly Lines and stations are planned to be delivered under the PPP:</p>
<ul>
<li>station refurbishments and modifications to Turnham Green (completion 2005); Hounslow Central and Stamford Brook (2006); Hounslow West and Osterley (2007-2010); 
</li><li>all 75 District Line trains to be refurbished by 2009 including space for wheelchairs, audio &amp; video info systems and refurbished seats and interiors. </li></ul>
<p>The Mayor added:</p>
<p>"The last five years have seen huge improvements in Hounslow's bus services. This investment programme will build on this and deliver improvements right across the transport network.</p>
<p>"We have had to take hard choices. Even with the biggest transport investment programme London has seen since the Second World War, we cannot do everything we want to do this time round. But there have been no trade-offs between maintaining the existing system or launching new projects."</p>
<p>Work undertaken to improve transport in Hounslow by TfL over the past four years, benefiting all Londoners including those with disabilities and the socially excluded includes:</p>
<ul>
<li>more reliable services and better information on all bus services; 
</li><li>new low floor, fully accessible buses on 29 routes and increased frequencies on 27 routes; 
</li><li>the introduction of two new routes (272,440) and four night bus routes (N105, N27, N285 and N65); 
</li><li>funding for additional Met police officers and police Community Support officers to reduce crime and the fear of crime, improve enforcement on and around bus routes and tackle taxi touting; 
</li><li>licensing of private hire vehicles to improve passenger safety; 
</li><li>funding for improving conditions for walking, cycling and road safety; 
</li><li>improvements in dial-a-ride and taxicard funding. </li></ul>
<p>In partnership with the Borough a range of local schemes have or will shortly be implemented including:</p>
<ul>
<li>improvements around Hounslow bus station to improve safety and security; 
</li><li>an initiative to improve safety on routes to and from Belmont School; 
</li><li>cycle parking and lockers at Grove Park Primary School and Strand on the Green Junior School.</li></ul>
            <ol>
<li>The Investment Programme will be formally approved by the board of TfL at a meeting on October 27th. 
</li><li>Crossrail is not part of the Programme. TfL is progressing it as a joint partnership with government in expectation of a Hybrid Bill. 
</li><li>Many of the projects listed are subject to further consultation or other statutory processes before they can be delivered, and may be delivered beyond the life of the Programme. 
</li><li>Tube Lines are responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines; 
</li><li>Metronet Rail BCV are responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo &amp; City lines; 
</li><li>Metronet Rail SSL are responsible for the maintenance and renewal of the Sub-Surface lines, the Circle, District, Hammersmith &amp; City, Metropolitan and East London lines.</li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Speaking at City Hall, the Mayor said:'This is a once-in-a-lifetime opportunity to reverse decades of under-investment in Hounslow and right across London. It marks an end to stop-start funding for London's transport. The programme will deliver real";}
        
        


 