


@{ViewBag.Title = "London bids for Tour de France Grand Depart";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London bids for Tour de France Grand Depart</h1>
        <div class="content-page-press-release">
        25 October 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor submitted updated proposals to host the opening ceremony and opening stages of the Tour de France, known as the Grand Depart, at a dinner on Sunday 24 October with the race organisers, the Amaury Sport Organisation.
        
    </div>



 <div class="on-this-page">
<p>Mayor of London Ken Livingstone said: "It would be fantastic honour for London's historic landmarks to join those of France and its capital in forming the backdrop to one of the world's greatest sporting events. </p>
<p>"We would guarantee the Tour de France one of most spectacular Grand Departs."</p>
<p>Following the success of the Tour of Britain cycle race and recent Olympic cycling success, Transport for London believes that hosting the Grand Depart of the world's most famous cycle race will further boost the number of people cycling in London.</p>
<p>Peter Hendy, Managing Director of Surface Transport, said of the proposal: "Cycling is booming in London with an increase of 23 per cent in the past year alone. </p>
<p>"Bringing the Tour de France to London would provide further encouragement for Londoners to get on their bikes.</p>
<p>"Hosting the Tour de France would be an amazing privilege for London, and would provide further evidence of London's suitability as a venue for world class events."</p>
<p>The proposed route details and a suitable date to host the event are matters for further discussion with the Amaury Sport Organisation. A decision on London's bid is likely next autumn.</p>
            <ul>
<li>TfL main press office number: 0845 604 4141</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Mayor of London Ken Livingstone said: 'It would be fantastic honour for London's historic landmarks to join those of France and its capital in forming the backdrop to one of the world's greatest sporting events. 'We would guarantee the Tour de France one";}
        
        


 