


@{ViewBag.Title = "Mayor unveils &pound;10bn investment programme to transform London's transport network";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor unveils &pound;10bn investment programme to transform London's transport network</h1>
        <div class="content-page-press-release">
        12 October 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor of London Ken Livingstone today unveiled proposals for a &pound;10 billion, five-year investment programme to give London a 21st century transport system.
        
    </div>



 <div class="on-this-page">
<p><a href="/assets/downloads/tfl-5-year-plan.pdf">Read TfL's 5-year investment programme - The TfL business plan 2005/6-2009/10 (PDF 643Kb) <br></a></p>

<p>Speaking at City Hall, the Mayor said:</p>
<p>"This is a once-in-a-lifetime opportunity to reverse decades of under-investment. It marks an end to stop-start funding for London's transport. The programme will deliver the real improvements in the services and capacity needed to keep London on the move. Over the next four years we will be extending the kind of improvements we have already made to London bus services to the Tube.</p>
<p>"Whether you walk, cycle or travel by bus or Tube, over the next five years your journey should become safer, more reliable and more comfortable and London will be a world leader for environmentally friendly and accessible public transport.</p>
<p>"Londoners and commuters will all benefit, as will families who can take advantage of a whole range of initiatives to make it easier to move around this great city."</p>
<p>The programme, subject to approval by the TfL Board, includes projects that aim to deliver:</p>
<h3>A growing London</h3>
<ul>
<li>Renewal and upgrading of the Tube to improve reliability and capacity;<br></li>
<li>Schemes to relieve traffic congestion and improve the local environment at Coulsden, Bounds Green and Thames Road, Bexley;<br></li>
<li>A possible Western extension of the congestion charge;<br></li>
<li>New air-cooled Tube trains;<br>Construction of the Thames Gateway Bridge linking Greenwich and Newham - the first new road bridge over the Thames in London for 70 years;<br></li>
<li>Extending the East London Line to Dalston, Croydon and Crystal Palace;<br></li>
<li>New DLR links to Woolwich, Stratford and then to Barking Reach and other projects vital for regeneration and the Olympics, and upgrading to three car service on the Bank to Lewisham line;<br></li>
<li>The completion of the showpiece Wembley Park station;<br></li>
<li>Extending the Metropolitan line to Watford Junction;<br></li>
<li>Plans to extend Croydon Tramlink to Crystal Palace; <br></li>
<li>The proposed West London Tram and Cross River Tram to proceed once additional funding has been secured;<br></li>
<li>New high quality bus transit systems linking Greenwich to Abbey Wood, and Ilford to Dagenham Dock. </li></ul>
<h3>An accessible and safer London</h3>
<ul>
<li>Completing the transformation of the bus system throughout London to low-floor accessible buses equipped with CCTV by 2006;<br></li>
<li>An accelerated programme to make more London Undergound stations step-free;<br></li>
<li>CCTV on trains and in stations on ONE, Southern, Thameslink and South East trains to give passengers greater security;<br></li>
<li>Schemes across London to make pavements safer, install new crossings and improve street lighting;<br></li>
<li>New bus radio system to improve reliability and real-time passenger information. </li></ul>
<h3>A cleaner, greener London</h3>
<ul>
<li>The introduction of a Low Emission Zone by 2007;<br></li>
<li>Energy savings and noise reduction on the Underground;<br></li>
<li>Quieter and cleaner buses;<br></li>
<li>Enhanced cycling network and improvements to encourage walking.<br><br></li></ul>
<div class="imgLayout" style="FLOAT: left">
<div class="imgBorder"><span class="captionBullet">Better buses</span></div></div>
<p>The Investment Programme follows a ground-breaking agreement with the Government giving London's transport authority, Transport for London (TfL), certainty over funding for the next five years. For the first time ever, TfL has been allowed to borrow to get major projects moving.</p>
<p>The &pound;3 billion in new borrowing comes on top of &pound;4 billion scheduled to go into the Tube network as a result of existing PPP and PFI contracts. The remaining &pound;3 billion of capital investment will be funded from grant provided by government grant and revenue surpluses.<br></p>
<p>London Transport Minister Tony McNulty said: "I welcome TfL's investment programme. It marks a real step change in terms of transport investment in London. Real and lasting improvements are on the way. The Mayor and TfL are to be congratulated on making hard choices and presenting a solid vision of London in terms of transport.</p>
<p>"Today's announcement should particularly give Londoners real confidence to put their energy behind the Olympic bid. I urge everyone to back the bid which, if successful, will bring huge benefits to the whole country."</p><!-- START IMAGE BOX --><!-- END IMAGE BOX -->
<p>The Mayor added:</p>
<p>"The last five years have seen huge improvements in London's bus services. This investment programme will build on those and deliver improvements right across the transport network. </p>
<p>"We have had to take hard choices, including raising fares to help repay the costs of borrowing for investment. Even with the biggest transport investment programme London has seen since the Second World War, we cannot do everything we want to do this time round. But in addition to the huge investment we are making, London will also benefit from the major east-west rail link Crossrail, which is now moving forward. We are continuing to negotiate with government over funding for this essential scheme."</p>
            <ol>
<li>The Investment Programme will be formally approved by the board of TfL at a meeting on October 27th<br>
</li><li>Many of the projects listed are subject to further consultation or other statutory processes before they can be delivered, and may be delivered beyond the life of the Programme.<br>
</li><li>Crossrail is not part of the Programme. But negotiations are continuing with government. <br>
</li><li>Tube Lines are responsible for the maintenance and renewal of the Jubilee, Northern and Piccadiilly lines; Metronet Rail BCV are responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo &amp; City lines; Metronet Rail SSL are responsible for the maintenance and renewal of the Sub-Surface lines, the Circle, District, Hammersmith &amp; City, Metropolitan and East London lines. </li></ol>
<p>For further information contact Sam Hart in the Mayor's Press Office on 020 7983 4714 or TfL press office on 020 7941 4141.</p>
<p>For out of hours media enquiries please call 020 7983 4000.</p>
<p>For non-media enquiries please call the Public Liaison Unit on 020 7983 4100</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Read TfL's 5-year investment programme - The TfL business plan 2005/6-2009/10 (PDF 643Kb) Speaking at City Hall, the Mayor said:'This is a once-in-a-lifetime opportunity to reverse decades of under-investment. It marks an end to stop-start funding for";}
        
        


 