


@{ViewBag.Title = "Prosecution bulletin - illegal mini cab operators";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Prosecution bulletin - illegal mini cab operators</h1>
        <div class="content-page-press-release">
        12 October 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Two illegal minicab operators and controllers face fines and costs totalling more than &pound;3300 following spot checks and investigations by TfL's Public Carriage Office (PCO).
        
    </div>



 <div class="on-this-page">
<p>The spot checks by the PCO carried out on minicab operators ensure that public safety is the priority in the licensing of the minicab industry.</p>
<p>At Brent Magistrates Court on Thursday 7th October, the PCO prosecuted two individuals who had been reported by PCO Licensing Officers for the offence of operating without a Private Operators Licence for London. The operators were based in Barnet and Enfield.</p>
<p>Head of the PCO,Roy Ellis said:</p>
<blockquote>
<p>&quot;The message to operators is clear. Get licensed and keep your records accurate and up to date. The PCO are constantly doing spot checks on operators and you will be caught out if you don't comply with the licensing regulations. Minicab licensing in London is well underway making travel in the Capital safer.&quot; </p></blockquote>
<p>Details of the prosecutions are:</p>
<p>Thursday 7th October 2004</p>
<ul>
<li>Esmond BUNSIE A-KWIKA CAR SERVICE of 9 Varley Parade NW9<br>&pound;1500 Fine + &pound;1252.50 Costs 
</li><li>Gonca GUL A10 CARS of 266B Nightingale Road N9<br>&pound;300 Fine + &pound;291 Costs </li></ul>
<p>The offence of trading without a licence in London currently carries a maximum fine of &pound;2500. </p>
<p>Since 2001 minicab operators must hold a licence from the PCO to run a service. Since 1st June 2003 it is an offence to drive a minicab without a private hire driving licence or a temporary permit issued by the PCO. Licensing of vehicles started in April 2004.</p>
            <ol>
<li>The Public Carriage Office is responsible for licensing London's taxi and private hire services, as part of Transport for London's Surface Transport and Street Management Directorate. There are currently 2330 licensed private hire operators in London and 45,715 drivers with either temporary permits or a full licence. 
</li><li>Since 2002 80 individuals have been convicted for operating without a licence. 
</li><li>The PCO employs 28 licensing officers who undertake 600 compliance inspections between them a month. <br></li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The spot checks by the PCO carried out on minicab operators ensure that public safety is the priority in the licensing of the minicab industry.At Brent Magistrates Court on Thursday 7th October, the PCO prosecuted two individuals who had been reported by";}
        
        


 