


@{ViewBag.Title = "TfL publishes five-year Business Plan";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL publishes five-year Business Plan</h1>
        <div class="content-page-press-release">
        27 October 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<ul>
<li><a href="http://www.tfl.gov.uk/assets/downloads/corporate/annrep-03-04.pdf">TfL Annual Report 03/04</a> </li>
<li>Business Plan - will be available here shortly</li></ul>
<p>Balanced transport budget will deliver improvements to existing services and new projects for London Bus network to grow by 4% over the lifetime of the plan</p>
<p>Transport for London's (TfL) comprehensive five-year business plan to deliver a once in a generation transport investment programme for the Capital was given the go-ahead today.</p>
<p>The Business Plan lays out details of &pound;10 billion of investment in new projects as well as major improvements to the existing network - all within a balanced budget. The plan was approved by the TfL Board at a meeting at City Hall.</p>
<p>Bob Kiley, London's Transport Commissioner said:<br>"Following our ground-breaking agreement with Government earlier this year we finally have the ability to plan ahead for the next five years and begin the essential work necessary to deliver much needed improvements to our transport system."</p>
<p>"Hard decisions had to be taken on both spending priorities and fares in developing this plan, but we can now build on our achievements over the past four years with a balanced, fully-costed and deliverable programme which will benefit those who live in, work in and visit London."</p>
<p>The plan will add to TfL's track record of delivery over the last four years - including the introduction of the world's largest congestion charging scheme, the Oyster smartcard and the transformation of London buses.</p>
<p>The Business Plan follows the Department for Transport's (DfT) announcement in July 2004 to give TfL certainty over its funding for the next five years and the ability to borrow &pound;3billion enabling TfL to deliver a transport system fit for the 21st century.</p>
<p>A summary of the highlights of the Business Plan follows this press release.</p>
            <ul>
<li>TfL will invest a total of &pound;10 billion over the next five years as well as the operational funding for existing network. On top of operating revenue and the &pound;12.3 billion in Government grant during the five years, TfL will use the &pound;2.9 billion in borrowing to fund new projects that otherwise would not have gone forward. 
</li><li>TfL will also accelerate its programme of efficiency savings, with planned savings of &pound;870 million over the five-year plan, taking total savings since the efficiency drive was launched in 2002/3 to &pound;1 billion - twice the initial target. 
</li><li>London's population is projected to grow by around 800,000 residents by 2016 with 636,000 jobs </li></ul>
<h2>Highlights of TfL'S 5 Year Business Plan include:</h2><strong>London Underground</strong> 
<ul>
<li>Train, track and signal upgrades to improve Tube reliability and enable an extra 3 million kilometres to be run each year by 2009/10; 
</li><li>Modernisation and/or refurbishment of over 200 stations by 2010; and accessibility improvements including step-free access at a further 26 stations by 2010 making 25% of the network step-free from street to platform; 
</li><li>A new station at Wembley Park boosting capacity from 22,000 to 37,500 people an hour; 
</li><li>Major works to ease congestion at Covent Garden and Holloway Road (completion 2007), King's Cross St Pancras (2008) and Vauxhall (2010) stations, plus the start of congestion relief work at Camden Town, Tottenham Court Road and Bank; 
</li><li>Longer trains on the Jubilee line from 2006, leading - with other improvements - to over 45% capacity increase by 2009; 
</li><li>All District Line trains refurbished by 2009; 
</li><li>A reduction in ticket hall queues through the increased take-up of the Oyster card; </li></ul><strong>The buses</strong> 
<ul>
<li>A 4 per cent increase in operated kilometres on the bus network, together with accessible buses equipped with CCTV, illuminated bus stops and better real-time information for passengers; </li></ul>
<p><strong>East London Line Extension</strong></p>
<ul>
<li>Phase one, will extend the existing line north to Dalston Junction and South to Crystal Palace and West Croydon and will include new stations at Shoreditch High Street, Hoxton, Haggerston and Dalston Junction; </li></ul><strong>Docklands Light Railway (DLR)</strong> 
<ul>
<li>Two new DLR extensions to Woolwich Arsenal and Stratford International contributing to the regeneration of the Thames Gateway area and connections to the potential Olympic sites: fifty percent higher service levels on the Bank/Tower Gateway to Lewisham route with the upgrade to a three car service; and better international connections through DLR links to City Airport and Stratford International, an Underground extension to Heathrow Terminal 5 and interchanges with the Channel Tunnel Rail link at Kings Cross; </li></ul>
<p><strong>Key interchange station improvements</strong></p>
<ul>
<li>Funding for the initial Victoria Station Upgrade scheme increasing capacity at one of London's busiest interchange stations, currently handling 65 million passengers a year as well as the completion of the Finsbury Park Transport Interchange project. </li></ul><strong>Major road projects and investment in road safety</strong> 
<ul>
<li>Reduced congestion and disruption on London's roads through real-time traffic management, a permit system for street works and the possible extension of the congestion charging zone; major projects including A23 Coulsdon and A406 Bounds Green; as well as more than &pound;280 million for road safety improvements; </li></ul><strong>London 2012 Olympic Bid</strong> 
<ul>
<li>Full support for the infrastructure needed for the London 2012 Olympic and Paralympic bid, including bus transit schemes and extensions to the East London Line and Docklands Light Railway; </li></ul><strong>Thames Gateway Bridge</strong> 
<ul>
<li>Funding for completion of design and planning applications for the Thames Gateway Bridge connecting Greenwich and Newham, which will improve accessibility to the Thames Gateway area supporting local and East London regeneration projects; </li></ul><strong>East London Transit</strong> 
<ul>
<li>Phase one of the East London Transit, with a projected annual rider-ship of 4-6 million passengers, will provide a bus-based rapid transit service linking Ilford, Barking and Dagenham Dock connecting to the Thames Gateway Bridge; </li></ul><strong>Greenwich Waterfront Transit</strong> 
<ul>
<li>Phase one of the Greenwich Waterfront Transit will provide a bus-based rapid transit service from Abbey Wood to North Greenwich via Woolwich Town Centre and Thamesmead and is expected to carry 8.5 million passengers a year; </li></ul><strong>Congestion charging </strong>
<ul>
<li>Improvements to make the existing congestion charging system easier to use as well as the proposed western extension, the latter subject to an extensive public consultation on the detail of the proposal and a final Mayoral decision in Summer 2005; </li></ul><strong>Walking and cycling</strong> 
<ul>
<li>A host of improvements for cycling including the continued expansion of the London Cycling Network to make cycling safer and easier; and for pedestrians including replacement of bridges and subways with surface level crossings and the upgrade of strategic walks and the creation of new canal and riverside paths; </li></ul><strong>Taxicard</strong> 
<ul>
<li>&middot; A significant boost in funding for the London Boroughs' Taxicard scheme; </li></ul><strong>Local borough transport improvements - Borough Spending Plans (BSPs)</strong> 
<ul>
<li>Funds for Local Boroughs to finance local transport infrastructure improvements, including regeneration schemes, road safety improvements and safer routes to schools; </li></ul><strong>Standardising fares and zones</strong> 
<ul>
<li>Working with the Government on proposals to rationalise fares and ticketing, as well as National Rail service improvements across London;</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL Annual Report 03/04 Business Plan - will be available here shortlyBalanced transport budget will deliver improvements to existing services and new projects for London Bus network to grow by 4% over the lifetime of the planTransport for London's (TfL)";}
        
        


 