


@{ViewBag.Title = "TfL Publishes Report into Impacts of Jubilee Line Extension";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL Publishes Report into Impacts of Jubilee Line Extension</h1>
        <div class="content-page-press-release">
        25 October 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has published a summary report into the impacts of London Underground's Jubilee Line Extension (JLE), prepared by the Transport Studies Group of the University of Westminster for TfL and the Department for Transport.
        
    </div>



 <div class="on-this-page">
<p>The main findings in the report demonstrate that the JLE has delivered substantial benefits to London, both locally and regionally, including: 
<ul>
<li>Helping to maintain London's predominant financial position, by allowing further development of Canary Wharf (providing additional high quality, lower cost, internationally competitive office space); 
</li><li>The JLE has enabled new development equating to some 45,800 jobs at Canary Wharf; 
</li><li>An additional 1 million people are within 60 minutes commuting distance of a typical JLE station; 
</li><li>The JLE extension is estimated to have saved at least 14.4 million hours in travel time in its first full year of operation. 
</li><li>The JLE has sharply increased the proportion of commuters travelling to work by Underground in the Corridor.</li></ul>
            <p><a href="/assets/downloads/jle-summary-impact.pdf">A summary of the report (pdf 98.5KB) can be downloaded here</a>&nbsp;</p>
<p>For a more comprehensive summary of the study's findings, the University of Westminster's summary report (170 pages) can be downloaded from their website. The entire set of working papers produced by the university and the specialist consultants who were appointed to examine the impacts of the JLE, can be downloaded from this site too.&nbsp;For the purpose of secondary analysis key datasets are also available upon request from the University of Westminster. </p>
<p>The JLE started operations in the autumn of 1999 running from Green Park to Stratford and was the first significant addition to the London Underground network since the completion of the original Jubilee line 20 years earlier.</p>
<p>Transport for London and the Department for Transport funded a study, which was originally started by their predecessor organisations in 1997, to measure the impacts of the Jubilee Line Extension. The study was co-ordinated by the University of Westminster who also provided an independent focus for the study. However, the findings and recommendations are those of the authors and do not necessarily represent the views of the organisations.</p>
<p>These notes summarise main findings of the work undertaken for TfL on the impact of the Jubilee Line Extension.</p><strong>Transport</strong> 
<ul>
<li>In 2002 an average of 150,000 passengers per weekday were carried on the busiest section of the line between Waterloo and London Bridge. </li>
<li>Upon opening, the JLE removed approximately 3,300 person trips per day from the local road network. T </li>
<li>he additional capacity provided by the JLE has reduced crowding on key sections of the Underground, including the District and Central lines. The JLE has also reduced levels of crowding on the DLR and has provided an alternative route to reach Docklands, with 68,000 trips per day being made to and from the Isle of Dogs by the JLE in 2002. </li></ul><strong>Employment</strong> 
<ul>
<li>Employment in the JLE catchment areas increased from 373,000 in 1998 to 425,000 in 2000 - an increase of 15% (compared with a 9% increase in Greater London as a whole). Due to employment growth in the JLE catchment areas outperforming the London trend, an additional 32,400 jobs were created between 1998 and 2000. Most of these jobs were of a "high value, high productivity" type. </li>
<li>The JLE has helped to integrate labour markets and provide wider access to jobs, as commuting times to an additional one million jobs have been reduced by up to 27 minutes. In particular, North Greenwich, Canada Water and Bermondsey have benefited with at least two million extra people now within 60 minutes commuting distance of each station. </li>
<li>Despite the JLE's success in creating jobs, the scheme has not significantly reduced unemployment in the catchment areas studied. It may take considerably more time before the full effect of the JLE materialises, with residents entering the labour market in the future, either having the appropriate skills to take advantage of the corridor's new financial and business services jobs, or by using the JLE to reach employment centres elsewhere in London. </li></ul><strong>Population</strong> 
<ul>
<li>Population in the catchment area of JLE stations rose by 31% between 1991 and 2001 (compared with 11% in the Inner East London area as a whole). </li></ul><strong>Development</strong> 
<ul>
<li>In addition to Canary Wharf, a number of other prestigious developments are in progress, principally at London Bridge, Canada Water, North Greenwich and Stratford. The scale and form of these new residential and commercial developments would not have possible without the JLE. </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The main findings in the report demonstrate that the JLE has delivered substantial benefits to London, both locally and regionally, including: Helping to maintain London's predominant financial position, by allowing further development of Canary Wharf";}
        
        


 