


@{ViewBag.Title = "TfL back Tamworth Road, Croydon tram stop";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL back Tamworth Road, Croydon tram stop</h1>
        <div class="content-page-press-release">
        27 October 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From next year trams are set to call at the tram stop in Tamworth Road, Croydon serving Centrale development, Transport for London (TfL) announced today.
        
    </div>



 <div class="on-this-page">
<p>Proposed expenditure by TfL for the upgrade of Tramlink's control systems, the fit out of the stop and for the purchase of an extra tram, is included in the TfL budget and business plan subject to final commercial agreement. </p>
<p>It is expected that a change to the current scheduled timetable of the trams in Croydon will be implemented to accommodate the new stop. The proposed changes will improve access to Croydon Town Centre, provide a more reliable and robust service and provide increased capacity between Wimbledon and Croydon. All changes will be subject to consultation. </p>
<p>The changes would mean an increase in number of trams in operation on Croydon Tramlink from 21 to 22. </p>
<p>Transport for London's Managing Director of Surface Transport, Peter Hendy said: <br>
<ul>&quot;I am pleased we can make the financial provision which enables this tram stop to open in 2005. Whilst more people will opt to catch the tram instead of using their cars once the tram stop is fully operational, without TfL's contribution the stop could not be opened as there would be insufficient additional revenue to justify the extra costs involved to the Concessionaire.&quot;</ul>
            <ol>
<li>Croydon Tramlink was designed, built, operated, maintained and financed by Tramtrack Croydon Limited (TCL) under a 99 year Concession awarded by London Regional Transport made under the Private Finance Initiative. 
</li><li>St Martin's, the developers of Centrale, were obliged under their s106 agreement with Croydon Council to seek to obtain a tram service to serve the development in Tamworth Road, Croydon. Subsequently St Martin's have constructed a platform for possible future use by trams. It has not proven worthwhile for TCL to invest any significant sum in the stop owing to the potentially adverse financial consequences to them and the likelihood of a worsening reliability on the rest of the system. </li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Proposed expenditure by TfL for the upgrade of Tramlink's control systems, the fit out of the stop and for the purchase of an extra tram, is included in the TfL budget and business plan subject to final commercial agreement. It is expected that a change";}
        
        


 