


@{ViewBag.Title = "Tower Hamlets to benefit as Mayor unveils &pound;10bn investment programme to transform Londons transport network";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tower Hamlets to benefit as Mayor unveils &pound;10bn investment programme to transform Londons transport network</h1>
        <div class="content-page-press-release">
        12 October 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Tower Hamlets is to benefit from better transport under a proposed &pound;10 billion, five year investment programme to give London a 21st century transport system, unveiled by Mayor of London Ken Livingstone today.
        
    </div>



 <div class="on-this-page">
<p>Speaking at City Hall, the Mayor said:</p>
<p>"This is a once-in-a-lifetime opportunity to reverse decades of under-investment in Tower Hamlets and right across London. It marks an end to stop-start funding for London's transport. The programme will deliver real improvements in the services and capacity needed to keep passengers travelling in and through Tower Hamlets on the move."</p>
<p>The main benefits for Tower Hamlets included in TfL's 5 Year Investment Programme, subject to approval by the TfL Board, are:</p>
<ul>
<li>phase one of the East London Line Project extensions, which will extend the existing line north to Dalston Junction and south to Crystal Palace and West Croydon; 
</li><li>upgrade to 3-car running on the Docklands Light Railway between Bank and Lewisham to boost capacity by 30 percent to help meet future demand; 
</li><li>a new package of improvements for Silverlink Metro services including station and security enhancements such as better CCTV and lighting, graffiti cleaning and the extension of station staffing hours providing a greater presence early in the morning and later at night. 
</li><li>continuation of major safety work on the Rotherhithe Tunnel. </li></ul>
<p>In addition, the following improvements to District, Central, Jubilee and Hammersmith &amp; City Lines and stations are planned to be delivered under the PPP:</p>
<ul>
<li>station refurbishments and/or modifications to Bow Road (completion 2005); Aldgate East and Tower Hill (2006); Bethnal Green, Mile End, Whitechapel, Bromley-by-Bow, Canary Wharf and Stepney Green (2007 - 2010); 
</li><li>all 75 District Line trains to be refurbished by 2009 including space for wheelchairs, audio &amp; video info systems and refurbished seats and interiors; 
</li><li>Victoria Line interim upgrade and Central Line upgrade to improve journey times by 2006; 
</li><li>Jubilee Line to be improved with the addition of a seventh car to be added to trains and new signalling system with a total increase in capacity of 48 percent. </li></ul>
<p>The Mayor added:</p>
<p>"The last four years have seen huge improvements in Tower Hamlet's bus services. This investment programme will build on this and deliver improvements right across the transport network.</p>
<p>Work undertaken to improve transport in Tower Hamlets by TfL over the past four years, benefiting all Londoners including those with disabilities and the socially excluded, includes:</p>
<ul>
<li>more reliable services and better information on all bus services; 
</li><li>increased frequencies on 25 bus routes, new low floor, fully accessible buses on 22 routes, five new links to existing routes and 10 new bus routes; 
</li><li>major works have been carried out to upgrade the A13 Thames Gateway corridor, contributing to regeneration of the area and; 
</li><li>TfL is currently carrying out major refurbishment works to the Southbound Blackwall Tunnel; 
</li><li>funding for additional Met police officers and police Community Support officers to reduce crime and the fear of crime, improve enforcement on and around bus routes and tackle taxi touting; 
</li><li>licensing private hire vehicles to improve passenger safety; 
</li><li>funding for improving conditions for walking, cycling and road safety; 
</li><li>improvements in dial-a-ride and taxicard funding. </li></ul>
<p>Working in partnership with Tower Hamlets TfL have been implemented including:</p>
<ul>
<li>improvement around the Shadwell Interchange between DLR and Tube stations providing enhanced security measures; 
</li><li>a range of Environmental Traffic Management schemes in Salmon Lane, Ben Jonson/Harford Street, Old Bethnal Green and Bow Common Lane areas.</li></ul>
            <ol>
<li>The Investment Programme will be formally approved by the board of TfL at a meeting on October 27th. 
</li><li>Crossrail is not part of the Programme. TfL is progressing it as a joint partnership with government in expectation of a Hybrid Bill. 
</li><li>Many of the projects listed are subject to further consultation or other statutory processes before they can be delivered, and may be delivered beyond the life of the Programme. 
</li><li>Tube Lines are responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines; 
</li><li>Metronet Rail BCV are responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo &amp; City lines; 
</li><li>Metronet Rail SSL are responsible for the maintenance and renewal of the Sub-Surface lines, the Circle, District, Hammersmith &amp; City, Metropolitan and East London lines.</li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Speaking at City Hall, the Mayor said:'This is a once-in-a-lifetime opportunity to reverse decades of under-investment in Tower Hamlets and right across London. It marks an end to stop-start funding for London's transport. The programme will deliver real";}
        
        


 