


@{ViewBag.Title = "Waltham Forest to benefit as Mayor unveils &pound;10bn investment programme to transform Londons transport network";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Waltham Forest to benefit as Mayor unveils &pound;10bn investment programme to transform Londons transport network</h1>
        <div class="content-page-press-release">
        12 October 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Waltham Forest is to benefit from better transport under a proposed &pound;10 billion, five-year investment programme to give London a 21st century transport system, unveiled by Mayor of London Ken Livingstone today.
        
    </div>



 <div class="on-this-page">
<p>Speaking at City Hall, the Mayor said:</p>
<p>"This is a once-in-a-lifetime opportunity to reverse decades of under-investment in Waltham Forest and right across London. It marks an end to stop-start funding for London's transport. The programme will deliver real improvements in the services and capacity needed to keep passengers travelling in and through Waltham Forest on the move."</p>
<p>The main benefit for Waltham Forest included in TfL's 5-Year Investment Programme, subject to approval by the TfL Board, is:</p>
<ul>
<li>a new package of improvements for Silverlink Metro services including station and security enhancements such as better CCTV and lighting, graffiti cleaning and the extension of station staffing hours providing a greater presence early in the morning and later at night; 
</li><li>continuing commitments to service improvements providing Winter Sunday and Last Train services on the Gospel Oak to Barking line; 
</li><li>On the Tube Walthamstow Central will undergo a refurbishment and congestion relief project including a new subway from the LU concourse to the bus station completing in 2006. </li></ul>
<p>In addition, the following improvements to Central and Victoria line and stations are planned to be delivered under the PPP:</p>
<ul>
<li>station refurbishments to Leyton (completing 2006); Blackhorse Road and Leytonstone (completion 2007 - 2010); 
</li><li>Victoria Line interim upgrade (2006) and Central Line upgrade (2006) improving journey times; </li></ul>
<p>The Mayor added:</p>
<p>"The last four years have seen huge improvements in Waltham Forest's bus services. This investment programme will build on this and deliver improvements right across the transport network.</p>
<p>"We have had to take hard choices. Even with the biggest transport investment programme London has seen since the Second World War, we cannot do everything we want to do this time round. But there have been no trade-offs between maintaining the existing system or launching new projects."</p>
<p>Work undertaken to improve transport in Waltham Forest by TfL over the past four years, benefiting all Londoners including those with disabilities and the socially excluded, includes:</p>
<ul>
<li>more reliable services and better information on all bus services; 
</li><li>new low floor, fully accessible buses on 16 routes (20, 48, 55, 56, 58, 66, 123, 145, 212, 230, 257, 308, 313, N55, N73 and W11) 
</li><li>increased frequencies on 14 routes (34, 48, 55, 56, 66, 179, 230, 257, 275, 313, 379, N26, N38 and W15); 
</li><li>improvements have been made to the Gospel Oak-Barling Line providing Winter Sunday and last train services; 
</li><li>four new links added to existing routes (444, 505, N26 and W19); 
</li><li>introduction of three new night bus routes (N55, N58 and N69); 
</li><li>licensing private hire vehicles to improve passenger safety; 
</li><li>funding for improving conditions for walking, cycling and road safety; 
</li><li>improvements in dial-a-ride and taxicard funding. </li></ul>
<p>In partnership with Waltham Forest, a range of schemes have or will shortly be implemented including:</p>
<ul>
<li>the development of a larger bus station at Walthamstow Central along with improved links to the nearby Tube station; 
</li><li>installation of secure bike sheds at Walthamstow Central station and Leytonstone Underground station; 
</li><li>controlled Parking Zone at Leytonstone station, in response to local concerns about parking in the area.</li></ul>
            <ol>
<li>The Investment Programme will be formally approved by the board of TfL at a meeting on October 27th. 
</li><li>Crossrail is not part of the Programme. TfL is progressing it as a joint partnership with government in expectation of a Hybrid Bill. 
</li><li>Many of the projects listed are subject to further consultation or other statutory processes before they can be delivered, and may be delivered beyond the life of the Programme. 
</li><li>Tube Lines are responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines; 
</li><li>Metronet Rail BCV are responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo &amp; City lines; 
</li><li>Metronet Rail SSL are responsible for the maintenance and renewal of the Sub-Surface lines, the Circle, District, Hammersmith &amp; City, Metropolitan and East London lines.</li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Speaking at City Hall, the Mayor said:'This is a once-in-a-lifetime opportunity to reverse decades of under-investment in Waltham Forest and right across London. It marks an end to stop-start funding for London's transport. The programme will deliver real";}
        
        


 