


@{ViewBag.Title = "Who will be top of the buses 2004?";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Who will be top of the buses 2004?</h1>
        <div class="content-page-press-release">
        13 October 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The winner of the Transport for London Bus Garage of the Year award will be announced on 18th November at the national Bus Industry Awards 2004.
        
    </div>



 <div class="on-this-page">
<p>The award is open to garages operating TfL bus route contracts, with a scheduled mileage of 1 million miles or more in the year to July 2004.</p>
<p>Seven garages have been short-listed based on their overall performance in the year to July 2004 in terms of customer satisfaction, including complaints and commendations from passengers, service quality, availability of wheelchair ramps and driver quality monitoring. The judges are looking for the garage that offered the best quality of service to the travelling public and which, in their opinion, has the best practice and policies to sustain this level of service.</p>
<p>The shortlisted garages are:</p>
<ul>
    <li>Bromley -Stagecoach
    </li>
    <li>Camberwell - London Central
    </li>
    <li>Epsom - Quality Line
    </li>
    <li>Fulwell -London United
    </li>
    <li>Sutton - London General
    </li>
    <li>Thornton Heath - Arriva
    </li>
    <li>Tolworth - London United </li>
</ul>
<p>Managing Director of Surface Transport Peter Hendy said:</p>
<p>"With around six million passenger trips a day on London's buses the quality of service provided by the Capital's bus garages is as important as ever. Well done to all the staff in the final seven garages; I look forward to congratulating the winner in November."</p>
<p>The winning garage will receive a cash prize, which will benefit staff facilities at the garage.<br />
</p>
<ol>
    <li>The London bus network is one of the largest and most comprehensive urban systems in the world. Each weekday 8,000 London buses carry 6 million passengers on over 700 different routes.
    </li>
    <li>Key points about expanding the London bus network: <br />
    <ul>
        <li>Bus use is up by 11 per cent over the past year (03/04) - an extra 168 million passenger trips;</li>
        <li>The number of passengers using buses is at its highest level since 1968;&lt; /li&gt;
        </li>
        <li>Patronage is rising at its fastest rate since the Second World War;</li>
        <li>Night bus use is up by 29 per cent over the past year; and </li>
        <li>London Buses is running the highest volume of service on London's roads than at any time since 1957.</li>
    </ul>
    </li>
</ol>
<p>For more information about London Bus Services check out <a href="https://tfl.gov.uk/modes/buses/" el="https://tfl.gov.uk/modes/buses/" lid="https://tfl.gov.uk/modes/buses/">tfl.gov.uk/modes/buses/</a></p>
<p>For more information please telephone TfL (Surface Transport) Press Office on 020 7941 4377/ 07919 572 152. For out-of-hours enquiries telephone 020 7941 4141. </p>
<p>For more information about the shortlists please contact the following people:</p>
<ul>
    <li>Arriva 0191 520 4000
    </li>
    <li>Quality Line 01372 731 728
    </li>
    <li>Stagecoach 020 8477 7249
    </li>
    <li>London Central/ London General 020 8646 1747
    </li>
    <li>London United 020 8400 6687 </li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The award is open to garages operating TfL bus route contracts, with a scheduled mileage of 1 million miles or more in the year to July 2004.Seven garages have been short-listed based on their overall performance in the year to July 2004 in terms of";}
        
        


 