


@{ViewBag.Title = "Blackwall Tunnel closures - advice to motorists";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Blackwall Tunnel closures - advice to motorists</h1>
        <div class="content-page-press-release">
        12 September 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Blackwall Tunnel southbound will close during consecutive weekends in September to enable essential routine maintenance work to be carried out.
        
    </div>



 <div class="on-this-page">
<p>The closure of the tunnel forms part of the maintenance programme which began after the refurbishment of the southbound bore was completed in December 2005. This programme requires annual closures over three consecutive weekends every March and September.</p>
<p>These closures are needed to ensure the continued safe operation of the tunnel and to provide a safe working environment for the contractor undertaking maintenance work. </p>
<p>In order to minimise the inconvenience to users the closures are only in effect during night times.</p>
<p>The closure dates and times are:</p>
<ul>
<li>Friday 15, 22, 29 September from 9pm Friday until 8am Saturday 
</li><li>Saturday 16, 23, 30 September from 9pm Saturday until 8am Sunday 
</li><li>Sunday 17, 24 September, 1 October from 9pm Sunday until 6am Monday</li></ul>
<p>During these times drivers are advised to use alternative routes such as the Dartford or Central London river crossings. </p>
<p>These diversions are necessary because the parallel Blackwall Tunnel northbound is unable to accommodate two way traffic flows due to height restrictions. The 108 bus will be escorted through the tunnel during these closures.</p>
            <ul>
<li>Transport for London (TfL) is responsible for maintaining and managing the 580km Transport for London Road Network (TLRN), which, although comprising only five per cent of the Capital's roads, carries approximately 33 per cent of its traffic</li>
<li>TfL is responsible for implementing the Mayor's Transport Strategy on improving the movement of people and goods on London's streets by helping pedestrians, cyclists, bus passengers and people with disabilities.</li></ul>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The closure of the tunnel forms part of the maintenance programme which began after the refurbishment of the southbound bore was completed in December 2005. This programme requires annual closures over three consecutive weekends every March and";}
        
        


 