


@{ViewBag.Title = "Brixton Central Square regeneration moves a step closer";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Brixton Central Square regeneration moves a step closer</h1>
        <div class="content-page-press-release">
        19 September 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A multi-million pound scheme to rejuvenate the heart of Brixton has taken another step forward.
        
    </div>



 <div class="on-this-page">
<p>In a meeting of Lambeth Council's Cabinet, councillors agreed that Transport for London (TfL) should proceed to submitting a planning application for the Brixton Central Square project.</p>
<p>The project is supported by Ken Livingstone, the Mayor of London, and is being developed by TfL, Lambeth Council, and the Brixton Area Forum. </p>
<p>The initiative - one of the 100 schemes within the Mayor's Public Spaces programme - aims to create a safe, high quality public space which reflects the vibrant multi-cultural community of Brixton. </p>
<p>TfL intends to invest &pound;6m into the project for highway and traffic works, and public space improvements, subject to funding being available.</p>
<p>In 2005, architects Gross Max were selected to carry out an extensive consultation with the community to agree the key design principles for the space, which includes Tate Gardens, Windrush Square, Brixton Road junction, Effra Road and St Matthews Road. </p>
<p>Last night's decision will allow TfL to submit a detailed planning application to the council which, if approved, would mean work would begin as early as the start of 2008, with the project completed in mid-2009.</p>
<p>Mayor of London Ken Livingstone said: "The Brixton Square project will make a real difference to the lives of people living in, working in, and visiting Brixton.</p>
<p>
<h2>Good news</h2>
<p>
<p>"The vision is to create a high quality public space that expresses the significance of the area for multi-cultural London and Britain. </p>
<p>"The 100 public spaces programme will benefit communities across London and bring regeneration to parts of the capital where it is urgently needed."<br><br>Cllr. Paul McGlone, Lambeth Cabinet Member for Regeneration, said: "This is good news for local residents and businesses and is the result of extensive collaboration with them and other key stakeholders.</p>
<p>"The Brixton Central Square project promises to transform these well-loved and well-used local landmarks, by uniting the three separate spaces in an imaginative way, creating a shining jewel in Brixton's crown."</p>
<p>Final designs are now being developed to unite the spaces of Tate Gardens and Windrush Square, and encourage better interaction with St Matthews Peace Gardens. </p>
<p>The plans include:</p>
<ul>
<li>The linking of Windrush Square and Rush Common 
</li><li>Effra Road remaining open for local traffic with reduced width next to the square 
</li><li>Landscape improvements including better lighting, design and resurfacing 
</li><li>The creation of community facilities, such as a caf&eacute; and space for events and arts 
</li><li>Close links with Brixton Library, the Ritzy and the planned Black Cultural Archives at Raleigh Hall</li></ul>
<p><br></p>
<hr>

<p>
<p>To help more people use London's transport network, TfL has produced a range of accessibility information: <a href="http://www.tfl.gov.uk/accessibility">www.tfl.gov.uk/accessibility</a></p>
<p>Dial-a-Ride and other door-to-door transport services are available to people with impaired mobility: <a href="http://www.tfl.gov.uk/dialaride">www.tfl.gov.uk/dialaride</a> </p>
            <ul>
<li>The Mayor's Public Spaces programme aims to reverse the decline in the Capital's public realm, where many public areas have become shabby and even hostile environments. The programme supports improvements to the public realm by working with London boroughs, TfL and the London Development Agency to promote urban renaissance. The aim of the initiative is to create or upgrade 100 public spaces based on the Mayor's conviction that 'creating and managing high quality public spaces is essential to delivering an urban renaissance in London'</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "In a meeting of Lambeth Council's Cabinet, councillors agreed that Transport for London (TfL) should proceed to submitting a planning application for the Brixton Central Square project.The project is supported by Ken Livingstone, the Mayor of London, and";}
        
        


 