


@{ViewBag.Title = "Central line named best railway in London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Central line named best railway in London</h1>
        <div class="content-page-press-release">
        25 September 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Central line has been named as the best rail link in London.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Passengers have clearly noticed a real improvement in their service over the past three years
                            
                        </p>
                    </div>
                
            
            
            <p>The line - which carries 600,000 passengers per day - was handed the top award for Best London Suburban Operator in the National Rail Awards.</p>
<p>Judges praised the Central line's reliability, which ran nearly 99 per cent of all rush hour trains last year. </p>
<p>They also commended the line on the high levels of customer satisfaction reported.</p>
<p>Central line General Manager Jeff Ellis, who accepted the award at a special ceremony held in London last week, said: "This award is a testament to the hard work and dedication of all the staff who work on the Central line. </p>
<p>"Passengers have clearly noticed a real improvement in their service over the past three years, which was recognised by the judges."</p>
<p>The Central line's award reflects the improving performance of London Underground as a whole under Transport for London. </p>
<p>The Tube is now running more trains and carrying more passengers - almost one billion last year - than ever before. </p>
<p>TfL is investing &pound;10bn over the next five years to improve and expand London's transport network and more than half of that is being spent on the Tube.</p>
<p>The work of all the transport workers and police who responded to the 7 July terror attacks was also rewarded by the judges. </p>
<p>TfL, London Underground, the British Transport Police and Tube maintenance companies, Metronet and Tube Lines, received the National Rail Judges' Special Award. </p>
<p>Following the attacks, London Underground ran on all lines not bombed the next day, with the full network restored within four weeks.</p>
            <ul>
<li>The Central line opened on 30 July 1900 as a cross-London route from Bank to Shepherd's Bush</li>
<li>When the line first opened, a flat fare of two old pence (2d) was set for each journey, encouraging the press to call the line the Twopenny Tube</li>
<li>The longest journey without change on the London Underground can be made on the Central line, between West Ruislip and Epping (54.9 km, 34.1 miles)</li>
<li>The Central line features the sharpest curve of the Underground system. Named the Caxton curve, it is located between Shepherd's Bush and White City</li>
<li>The Central line is the longest line with 74km (46 miles) serving 49 stations</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The line - which carries 600,000 passengers per day - was handed the top award for Best London Suburban Operator in the National Rail Awards.Judges praised the Central line's reliability, which ran nearly 99 per cent of all rush hour trains last year.";}
        
        


 