


@{ViewBag.Title = "Construction underway on new Underground station at new White City development";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Construction underway on new Underground station at new White City development</h1>
        <div class="content-page-press-release">
        15 September 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Construction is now underway on a new Hammersmith & City line station, which will form part of a major new transport hub at White City.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The White City development will be a public transport success story
                            
                        </p>
                    </div>
                
            
            
            <p align="justify">
<p align="left"> <!-- #EndEditable -->The station is being built as part of the new White City retail and leisure development, which is a partnership between London Underground (LU) and developer Westfield, which is contributing &pound;170m in transport improvements.</p>
<p align="left">The new Hammersmith & City line station will be located between Shepherd's Bush and Latimer Road stations. Customers will be able to travel straight to the White City area on the Hammersmith & City line instead of having to change to the Central line. </p>
<p align="left">In addition to the new Hammersmith & City line station, further transport improvements include a re-modelled Shepherd's Bush (Central line) station; a new station on the West London Railway, which will come under Transport for London (TfL) from late 2007; a new bus station to the north west of the White City development; and a new southern transport interchange that will connect LU, bus, West London Railway and taxi services. It will also make provision for the proposed West London Tram scheme. </p>
<p align="left"><h2>World-class stations</h2></p>
<p align="left">Mayor of London, Ken Livingstone said: 'The new world-class stations at Shepherd's Bush and White City, along with a package of measures to improve access to buses, taxis and the proposed West London Tram, will be central to the successful regeneration of White City and will bring real benefits to neighbouring areas.'</p>
<p align="left">Tim O'Toole, LU Managing Director said: 'Major transport improvements will be delivered as part of the White City development. This will see the construction of world-class Tube stations at White City for the Hammersmith & City line and at Shepherd's Bush for the Central line. </p>
<p align="left">'The White City development will be a public transport success story as it will provide links between Underground, national rail, bus, taxis and the proposed tram scheme for west London.'</p>
<p align="left">Michael Gutman, Managing Director, Westfield said: 'The new centre will be a mix of food, leisure, and retail outlets, and is expected to attract several million visitors each year. It is anticipated that 60 per cent of these will arrive by public transport. </p>
<p align="left">'The significant transport investments will play an important role in the overall accessibility and success of White City.'</p>
<p align="left"><br></p>
            <ul>
<li>TfL is investing &pound;10bn to improve and expand London's transport network, more than half of that in the Tube</li>
<li>The White City development will comprise of a 1.4 million square feet shopping and leisure centre, a new library, children's nursery and key worker and affordable housing</li>
<li>Other transport improvements being delivered as part of the White City development include new sidings for the Central line and replacement of part of an existing viaduct on the Hammersmith & City line</li>
<li>LU owns the freehold to the 40-acre White City development site</li>
<li>Westfield is funding all the transport improvements associated with the White City development with the exception of the capacity enhancement, step-free access and modernisation of Shepherd's Bush (Central) station</li>
<li>Metronet Rail BCV is responsible for the renewal and maintenance of the Bakerloo, Central and Victoria lines </li></ul>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "<!-- #EndEditable -->The station is being built as part of the new White City retail and leisure development, which is a partnership between London Underground (LU) and developer Westfield, which is contributing &pound;170m in transport improvements.The";}
        
        


 