


@{ViewBag.Title = "Essential bridge works commence";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Essential bridge works commence</h1>
        <div class="content-page-press-release">
        06 September 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A significant milestone of Transport for London's (TfL) A40 Acton bridges project was achieved last weekend (Saturday 2 September) with the first of the new bridge beams lifted in place on Wales Farm Road bridge. Each beam weighs over 40 tonnes and measures 40 metres in length.
        
    </div>



 <div class="on-this-page">
<p>Over three further weekends (9-10, 23-24 September and 30 September-1 October) beam placements will take place, with work being carried out overnight to minimise traffic and rail disruption. </p>
<p>One lane of traffic in each direction will remain open at all times. </p>
<p>Residents have been informed in advance of the night work and noise levels will be monitored throughout the project.</p>
<p>The three year major construction project involves the replacement of the Wales Farm Road and Perryn Road bridges in Acton, as well as improvements to the highway layout, access and crossing facilities. </p>
<p>The bridges were originally built in the 1920s and now require complete replacement to comply with current standards to manage today's volume of A40 traffic - which carries over 100,000 vehicles a day. </p>
<p>This project, carried out with consulting engineers Hyder Consulting and contractor, Alfred McAlpine, will also ensure the safety of the 800 trains which pass through daily on the railway tracks below.<br></p>
            <ul>
<li>Western Avenue Bridge Replacement 
</li><li>The A40 Western Avenue Bridge Replacement project site will deliver: </li>
<ul>
<li>New bridges that will secure the structural safety for the next 120 years 
</li><li>A modern carriageway and safer highway layout for drivers 
</li><li>Quick and safe access to and from the A40 
</li><li>A new toucan crossing, with disabled access, to replace the existing footbridge at Perryn Road 
</li><li>New cycle paths on both sides of the new road 
</li><li>Improved footways 
</li><li>New bus shelters 
</li><li>A new one-way access road between St. Dunstan's Avenue and Friary Road 
</li><li>Landscaping the full length of the scheme 
</li><li>Wales Farm Road Bridge has been designed to enable future rail network expansion and improvements to meet European route requirements. </li></ul>
<li>People can find out more, ask questions and keep up-to-date with project progress at <a href="http://www.tfl.gov.uk/a40actonbridges">www.tfl.gov.uk/a40actonbridges</a> or email: <a href="mailto:info&#64;A40ActonBridges.info">info&#64;A40ActonBridges.info</a> for more information. A project telephone hotline, available 24 hours 7 days a week, has been set up. Calls will be charged at your local rate. Call: 0845 601 7282.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Over three further weekends (9-10, 23-24 September and 30 September-1 October) beam placements will take place, with work being carried out overnight to minimise traffic and rail disruption. One lane of traffic in each direction will remain open at all";}
        
        


 