


@{ViewBag.Title = "Get more from your Oyster with great deals across London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Get more from your Oyster with great deals across London</h1>
        <div class="content-page-press-release">
        29 September 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Following the success of summer Oyster 2 for 1 deals Transport for London (TfL) is once again offering a range of fantastic offers at the capital's top shows, attractions and restaurants.
        
    </div>



 <div class="on-this-page">
<p>From October until the end of 2006, Oyster card holders can take advantage of a range of deals at some of the city's best galleries, shows, museums and attractions.</p>
<p>Simply travel by bus, Tube, tram or DLR with a valid Oyster card. Each adult must then show their Oyster card at the venue quoting Oyster 2 for 1 to enjoy the deals on offer.</p>
<p>Mayor of London, Ken Livingstone, said: "The Oyster card is the simplest, cheapest and fastest way to enjoy London. Now Oyster card users can benefit from these offers to enjoy some of London's best attractions."</p>
<p>A spokeswoman for the British Airways London Eye, said: "As the UK's number one paid for visitor attraction, the British Airways London Eye is delighted to be part of Transport for London's Oyster campaign. Alongside other major attractions in the city, this is a great marketing opportunity and another excellent way of welcoming Londoners to experience unrivalled views over their capital."</p>
<p>The 2 for 1 deals include: </p>
<ul>
<li>Museums and Galleries - V&A; At Home in Renaissance Italy exhibition, Tate Britain; Turner Prize 2006 exhibition. Natural History Museum; Shell Wildlife Photographer of the Year 2006 exhibition 
</li><li>Attractions - British Airways London Eye. Eltham Palace. Apsley House 
</li><li>Performances - English National Ballet at the London Coliseum. Spanish Riding School at Wembley Arena. Royal Philharmonic Orchestra at the Royal Albert Hall 
</li><li>Theatre - Momix. Shaolin Monks Kung-Fu Masters. Caroline or Change. Donkeys Years</li></ul>
<p>The deals have different start and end dates, full details of the deals and how to take advantage of them will be available on the Oyster website from 1 October: <a href="http://www.tfl.gov.uk/oyster">www.tfl.gov.uk/oyster</a> where people can also find out more on the benefits of Oyster and how to buy one.<br></p>
            <ul>
<li>The 2 for 1 Oyster deals are available at various times between 1 October until 31 December. Please check full terms and conditions at: <a href="http://www.tfl.gov.uk/oyster">www.tfl.gov.uk/oyster</a> or pick up a leaflet at all London Underground Stations</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "From October until the end of 2006, Oyster card holders can take advantage of a range of deals at some of the city's best galleries, shows, museums and attractions.Simply travel by bus, Tube, tram or DLR with a valid Oyster card. Each adult must then show";}
        
        


 