


@{ViewBag.Title = "Haringey residents to be offered individual travel advice";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Haringey residents to be offered individual travel advice</h1>
        <div class="content-page-press-release">
        12 September 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        During the next two months, thousands of households in Haringey will receive individual advice on how to make journeys faster, cheaper, easier and healthier, thanks to a new project that is being launched in the borough.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Personal Travel Planning aims to help people look at the alternatives to car travel when making a journey
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL), in partnership with Haringey Council, will be offering residents in western Haringey individually tailored travel advice, as part of a new scheme to encourage people in the borough to use more sustainable forms of transport, like walking, cycling and public transport.</p>
<p>Under the Personal Travel Planning (PTP) scheme, TfL aims to contact all 28,000 household in the wards of Alexandra, Crouch End, Fortis Green, Highgate, Hornsey, Muswell Hill and Stroud Green. </p>
<p>Local travel advisors will be offering advice, information and encouragement to help people think about the way they get around London, and make travel choices that are good for their personal health and wealth, as well as for the wider environment.</p>
<p>The scheme is part of the Mayor of London's strategy to encourage Londoners to use public transport and cycle and walk more. </p>
<p>During the past five years in London, bus use has increased by over 40 per cent and cycle journeys on major roads have increased by more than 70 per cent.</p>
<p>Mayor of London, Ken Livingstone, said:"This is a great scheme which will encourage Haringey residents to take journeys that suit their needs, but create less carbon emissions. </p>
<p>"The growing threat of climate change means that we are all going to have to start making such choices."</p>
<p>David Rowe, Head of Travel Demand Management at TfL, said: "Personal Travel Planning aims to help people look at the alternatives to car travel when making a journey. In many cases it is cheaper, quicker and healthier to catch a bus or jump on a bike, but people often don't know what bus they need or that a great local cycle route is just around the corner from them. </p>
<p>"By offering travel planning information that is appropriate to an individuals needs, we aim to help people make small changes that could make a big difference."</p>
<p>Councillor Brian Haley, Executive Member for Environment and Conservation at Haringey Council, said: "The car is a necessity of modern life but we are sure that for most regular car users there are some journeys which could be dropped in favour of healthier and quicker alternatives.</p>
<p>"The travel advice and events throughout September will help people to look at alternative methods of travel and ensure that anything they do will be practical and safe."</p>
<p>Joanne McCartney, London Assembly Member for Enfield and Haringey said: "This is a positive scheme which encourages people to think about sustainable forms of travel. </p>
<p>"Small changes, such as cycling to the gym or to the local shops, walking the children to school or catching a bus to work, can all reduce congestion, improve health and save money. </p>
<p>"I look forward to seeing the results."</p>
            <ul>
<li>In 2006/07, Transport for London allocated Haringey Borough Council &pound;3.4 million to fund local transport schemes, including:</li>
<ul>
<li>&pound;775,000 for local road safety schemes</li>
<li>&pound;271,000 for bus priority lanes</li>
<li>&pound;393,000 for school travel plans</li></ul></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL), in partnership with Haringey Council, will be offering residents in western Haringey individually tailored travel advice, as part of a new scheme to encourage people in the borough to use more sustainable forms of transport,";}
        
        


 