


@{ViewBag.Title = "Introducing London Overground - a new era for London Rail";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Introducing London Overground - a new era for London Rail</h1>
        <div class="content-page-press-release">
        05 September 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London's rail passengers will soon be able to board the London Overground, under plans announced by Ken Livingstone, Mayor of London. The new brand, complete with its own TfL 'Roundel', was unveiled at London's City Hall today.
        
    </div>



 <div class="on-this-page">
<p>From November 2007, London Overground train services will operate on the North London Railway under the management of Transport for London (TfL), when it assumes responsibility for the line from the Department for Transport. </p>
<p>Operating under a new TfL London Rail Concession, London Overground services will also run on the East London Railway when it opens in 2010, following TfL's &pound;1bn extension of the existing East London Line. </p>
<p>The contract to run London Overground services on both these lines will be awarded by TfL to a single train operator, under strict conditions to meet TfL's requirements for safety, security, staffing, ticketing and train frequency.</p>
<p>Launching his vision for the London Overground, the Mayor Ken Livingstone said:'For decades, national rail services in London have been neglected and in many cases under-utilised. </p>
<p>
<h2>Revitalisation</h2>
<p>
<p>'The transfer of responsibilities to Transport for London and the dawn of 'London Overground' will start the much needed revitalisation of London rail services, bringing the standards of service up to the levels of the Tube and the buses.'</p>
<p>The Mayor signalled his commitment to deliver a rail link at Dalston Junction to connect the North and East London Railways by 2010, ahead of the London 2012 Olympics. </p>
<p>This will allow London Overground passengers to travel between Richmond and West Croydon via Dalston Junction and is the first step towards an orbital rail link for London. <br><br>The Mayor continued: 'By joining together the North and East London Railways ahead of the London 2012 Olympics, we will create a new rail artery around the city, serving 20 London boroughs.<br><br>'This will create new opportunities for Londoners and encourage inclusion across our diverse economic and cultural centres. </p>
<p>'It will also be a vital means of increasing capacity on public transport as London's population grows over the next twenty years.'</p>
<p>
<h2>Improvements</h2>
<p>
<p>From November 2007, London Overground passengers will benefit from a programme of improvements to stations and services on the North London Railway, funded by TfL's &pound;10bn Investment Programme. </p>
<p>These include:</p>
<ul>
<li>More staff at stations to provide assistance and reassurance 
</li><li>Oyster ticketing at all stations and more ticket gates to improve security and reduce fare evasion 
</li><li>A phased programme of station upgrades, delivering more help points, CCTV, better lighting and customer information systems 
</li><li>A fleet of new trains from 2009 that are more comfortable, more accessible, have greater capacity and the latest security features 
</li><li>The provision for longer trains and more frequent services in the future, subject to infrastructure improvements which are outside the remit of TfL</li></ul>
<p>Ian Brown, Managing Director, TfL London Rail added: 'TfL's policy is to put passengers first and we look forward to putting this into practice on London's rail network from November next year.</p>
<p>'Over the next few years we hope to develop the London Overground to its full potential, using TfL's values to raise security and standards for rail passengers, as we have for other transport modes in London.</p>
<p>'TfL's vision for the London Overground is a safe and secure railway with frequent, Metro-style train services. Passengers will benefit from a better quality of service with new, reliable trains, staffed stations and Oyster ticketing to ensure consistent fares.</p>
<p>'We want the London Overground to be as comfortable and familiar to Londoners and visitors to the capital as the London Underground. We're entering a new era for London Rail and this is just the beginning.'</p>
<p>The London Overground brand will join the TfL family as a new orange roundel, featuring on trains, stations and maps, including TfL's world-famous Tube map.<br></p>
            <ul>
<li>In February 2006, Alistair Darling, then Secretary of State for Transport, announced that responsibility for the North London Railway would transfer to TfL in November 2007 </li>
<li>London Overground services will operate on the North London Railway and the new East London Railway under the TfL London Rail Concession </li>
<li>Four companies have been shortlisted to receive an Invitation to Tender to operate train services under the London Rail Concession: Govia, MTR Laing, National Express Group and Nedrail. The successful bidder is expected to be announced next summer </li>
<li>On 31 August 2006, TfL signed a &pound;223m contract with Bombardier to manufacture 44 new trains for use under the London Rail Concession. This includes: 
<ul>
<li>24 dual-voltage three-car trains for the North London Railway from 2009 </li>
<li>20 four-car trains for the East London Railway when it opens in 2010</li></ul></li>
<li>The North London Railway consists of: 
<ul>
<li>the North London Line (Richmond to North Woolwich) </li>
<li>the London Euston to Watford Junction local line </li>
<li>the West London Line (Willesden Junction to Clapham Junction via Kensington Olympia) </li>
<li>the Gospel Oak to Barking line</li></ul></li>
<li>The East London Line runs between Whitechapel (formerly Shoreditch) and New Cross / New Cross Gate. TfL is investing &pound;1bn in a project (Phase 1) to extend the line south to West Croydon and north to Dalston Junction. The extended line is under construction and will open in 2010, when it will be known as the East London Railway </li>
<li>The Mayor today made a commitment that Phase 1 of the East London Line Project would be extended from Dalston Junction to Highbury &amp; Islington, in order to make a connection with the North London Railway </li>
<li>This is the first step towards an orbital rail network for London, meaning passengers will be able to travel direct between Richmond (on the North London Line) or Clapham Junction (on the West London Line) to West Croydon (on the East London Railway) via Dalston Junction </li>
<li>If Phase 2 of the East London Line Project (currently unfunded) goes ahead, passengers will be able to continue on the East London Railway to Clapham Junction via Surrey Quays, forming a complete circle </li>
<li>All the contracts under the London Rail Concession will incorporate TfL's Equality and Inclusion requirements, helping to ensure that all of London's communities benefit from TfL investment </li>
<li>For images, please refer to the <a href="/corporate/media/1499.aspx">TfL image gallery</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "From November 2007, London Overground train services will operate on the North London Railway under the management of Transport for London (TfL), when it assumes responsibility for the line from the Department for Transport. Operating under a new TfL";}
        
        


 