


@{ViewBag.Title = "Mayor announces new board members";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces new board members</h1>
        <div class="content-page-press-release">
        20 September 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Following their appointment by the Mayor of London, Ken Livingstone, Transport for London (TfL) has welcomed three new board members to further deliver the organisation's commitment to providing a world-class transport system.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I am delighted to have three such highly skilled individuals join the TfL board
                            
                        </p>
                    </div>
                
            
            
            <p>Eva-Kristina Lindholm, Dabinderjit Sidhu and Judith Hunt have all been appointed to the TfL board to provide scrutiny and expert advice on a range of issues that affect the work of TfL.</p>
<p>Eva- Kristina Lindholm has an extensive financial industry background and in 2001 was appointed Managing Director, Investment Banking, Government Institutions Group for J.P. Morgan and Co. </p>
<p>Hailing from Finland, she has worked around the world in various roles for J.P. Morgan for more than 20 years. She is also involved in helping recruit and retain top female talent in her industry.</p>
<p>Dabinderjit Sidhu has worked at the National Audit Office for the past eighteen years and since January this year has been Director in the Department of Health &amp; Arms Length Bodies. </p>
<p>In March 2004 he was also appointed the first Chair of the EU College of External Auditors for the European Defence Agency. </p>
<p>With almost 20 year experience in the audit sector, Dabinderjit was awarded an OBE in 2000 for work for the National Audit Office, promotion of Equal Opportunities, services to the public and contribution in representing the British Sikh community.</p>
<p>Judith Hunt is an independent consultant specialising in innovative programmes on leadership, equality, race and diversity issues. </p>
<p>With extensive experience in local government Judith has worked as Chief Executive, London Borough of Ealing from 1987 to 1993.</p>
<p>She was appointed Chief Executive of the Local Government Management Board until 1999 before embarking on her consultancy career. </p>
<p>She has acted in a non-executive capacity advising and chairing many public bodies and currently chairs the London Health Observatory since May 2002. </p>
<p>In 1999 Judith was awarded an OBE for services to equal opportunities and local government.</p>
<p>Mayor of London Ken Livingstone, Chair of the TfL Board, said: "I am delighted to have three such highly skilled individuals join the TfL board. Eva, Dabinderjit and Judith bring a range of expertise and knowledge that will further strengthen the board's decisions and help move forward the investment that is successfully bringing London's public transport system up-to-date after decades of neglect."<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Eva-Kristina Lindholm, Dabinderjit Sidhu and Judith Hunt have all been appointed to the TfL board to provide scrutiny and expert advice on a range of issues that affect the work of TfL.Eva- Kristina Lindholm has an extensive financial industry background";}
        
        


 