


@{ViewBag.Title = "Poems on the Underground pays tribute to John Betjeman";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Poems on the Underground pays tribute to John Betjeman</h1>
        <div class="content-page-press-release">
        18 September 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Poems on the Underground is celebrating the centenary of on of Britain's best loved poets, Sir John Betjeman, with the display of his poem 'City' as part of the next series of poems, on Tube trains from 25 September for eight weeks.
        
    </div>



 <div class="on-this-page">
<p>Poet Laureate Sir John Betjeman became famous as a great protector of British heritage. Through his poetry, broadcasting and journalism he fervently defended the value of British buildings and landscapes.</p>
<p>Tamsin Dillon, Head of Platform for Art which supports Poems on the Underground, said:"We are delighted to be featuring 'City' by Sir John Betjeman as part of the new autumn series of Poems on the Underground, in their 20th anniversary year.</p>
<p>"We hope many Tube passengers will enjoy this poem and that this contribution to his centenary is a fitting tribute to this unique poet and much loved artist."</p>
<p><br><strong>City<br></strong>When the great bell<br>BOOMS over the Portland stone urn, and<br>From the carved cedar wood<br>Rises the odour of incense,<br>I SIT DOWN<br>In St. Botolph Bishopsgate Churchyard<br>And wait for the spirit of my grandfather<br>Toddling along from the Barbican.</p>
<p>'City' is specially illustrated for Poems on the Underground by David Gentleman, designer of the 100 metre-long mural along the Northern line platforms at Charing Cross station, which shows scenes from the funereal journey of Eleanor of Castille, the wife of Edward I from Nottinghamshire, to her tomb in Westminster Abbey.</p>
<p>The poem is part of a programme of events taking place in September to celebrate the centenary of the poet, including a reading of his poems with music by Jim Parker at St Giles Cripplegate on Tuesday 26 September with the Apollo Chamber Orchestra in association with the Barbican Library.</p>
<p>The other poems featuring as part of the new series of Poems on the Underground are:</p>
<ul>
<li>The Thing Not Said - E.A. Markham (b. 1939) 
</li><li>Sisu - Lavinia Greenlaw (b. 1962): An award-winning poet whose writings range from London Zoo to the Arctic Circle. 'Sisu' is a Finnish term, meaning 'to persevere in the face of adversity' 
</li><li>Prospero's Farewell - William Shakespeare (1564 - 1616): These famous lines are often taken to refer to Shakespeare's own farewell to his art 
</li><li>Reconciliation - Walt Whitman (1819 - 1892): Written in the aftermath of the American Civil War, Whitman's lament for the victims of war resonates as powerfully today as it did 150 years ago 
</li><li>From The Borough - George Crabbe (1754 - 1832): An 18th Century poet who lived into the Romantic age, Crabbe describes the lives of the rural poor and a vanishing England. His tale of Peter Grimes was the inspiration for Britten's opera<br></li></ul>
            <ul>
<li>A pdf of this series of Poems on the Underground accompanies this press notice</li>
<li>John Betjeman's 'Collected Poems' was published in 1958.  They have since sold over 2.25million copies</li>
<li>In 1973, he presented the 'Metroland' series, a classic eulogy to the people and places served by the Metropolitan line</li>
<li>For more information about Sir John Betjeman and the list of events taking place this September to celebrate his centenary, please visit: <a href="http://www.johnbetjeman.com">www.johnbetjeman.com</a></li>
<li>Poems on the Underground was founded in 1986</li>
<li>The programme is supported by London Underground (Platform for Art), Arts Council England and the British Council</li>
<li>Poems are selected and the programme administered by Judith Chernaik and poets Gerard Benson and Cicely Herbert</li>
<li>Praised for their elegance, clarity and simplicity, Poems on the Underground has inspired similar programmes on public transport in Dublin, Paris, New York, Vienna, Stockholm, Helsinki, Athens, Barcelona, Moscow, St Petersburg and, most recently, Shanghai</li>
<li>The best selling anthologies 'Poems on the Underground' and 'New Poems on the Underground', as well as 'New Books on the Underground 2006' and the Poems on the Underground Audiobook (Cassell 2006) are available from most bookshops and London's Transport Museum gift shop</li>
<li>The posters, designed by Tom Davidson, are available from London's Transport Museum</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Poet Laureate Sir John Betjeman became famous as a great protector of British heritage. Through his poetry, broadcasting and journalism he fervently defended the value of British buildings and landscapes.Tamsin Dillon, Head of Platform for Art which";}
        
        


 