


@{ViewBag.Title = "Restoration of landmark facade complete at Kings Cross St Pancras";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Restoration of landmark facade complete at Kings Cross St Pancras</h1>
        <div class="content-page-press-release">
        07 September 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Renovation of the Grade 1 listed, 130-year-old Gothic facade at St. Pancras station has received a major boost with completion of extensive restoration works on the historic Pancras Chambers facade, which now forms the exterior to the new Western ticket hall at King's Cross St. Pancras Underground station.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is an example of our commitment to preserve the finest examples of London's transport heritage
                            
                        </p>
                    </div>
                
            
            
            <p><!-- #EndEditable -->The work, which has taken five years to complete, was undertaken as part of TfL's &pound;10bn Investment Programme to improve and expand London's transport network.</p>
<p>As part of the ongoing redevelopment of King's Cross St Pancras Underground station, a new Western ticket hall has been constructed underneath the forecourt of the Pancras Chambers, doubling the Tube station's capacity. This extensive construction work had to be carried out while carefully protecting the forecourt's facade.</p>
<p>Ken Livingstone, Mayor of London said: 'The landmark facade of St Pancras has been expertly restored as part of TfL's &pound;10bn Investment Programme. This is an example of our commitment to preserve the finest examples of London's transport heritage, whilst we overhaul the network to meet the demands of a 21st century capital.'</p>
<p>Howard Collins, London Underground (LU) Service Director said: 'The facade of St Pancras station is instantly recognisable to both Londoners and tourists alike. I am delighted to see that the St Pancras Chambers section has been restored to its original condition. </p>
<p>'The restoration work that has been carried out at St Pancras Chambers is an excellent example of the work that is at the heart of what LU is seeking to achieve in terms of heritage preservation as we work to rebuild and renew the Tube.</p>
<p>'The Underground station will become an increasingly important transport interchange with new domestic, international and Olympic services and now everyone will be able to enjoy this landmark for years to come.'</p>
<p>
<h2>English Heritage</h2>
<p>
<p>LU worked closely with English Heritage and the London Borough of Camden in order to ensure that appropriate conservation techniques were implemented, enabling this section of the landmark building to be returned to its original condition. </p>
<p>A total of 4,500 environmental readings were analysed every week to make certain the heritage building's tolerance levels for movement were not exceeded.</p>
<p>The facade walls are made up stonework fittings and over 200,000 heritage bricks. During construction many heritage items had to be carefully labelled, removed and stored. </p>
<p>Specialist restorers, Szerelmey Ltd, undertook a condition survey of the existing material, under the guidance of English Heritage, and produced full layout drawings, templates and moulds to reproduce the missing or badly damaged units.</p>
<p>Once reinstated, a process of restoration and cleaning was then undertaken to conserve the Gothic Style architecture. Unfortunately, it was not possible to salvage all the brickwork from the facade walls and so specialist brick-makers and historic mortar suppliers were commissioned to recreate the colour, size, quality and texture of both the bricks and mortar.</p>
<p>
<h2>Bespoke materials</h2>
<p>
<p>Dorchester-based firm Rose of Jericho developed a bespoke combination of materials to reproduce the mortar and Ibstock Brick Limited used a rare '5-cut brick' technique for critical areas of the facade, manufacturing each brick from the Roughdales plant in St. Helens.</p>
<p>Zo&euml; Croad, English Heritage said: 'English Heritage has worked closely with London Underground throughout the complex and highly detailed restoration of this part of St Pancras station. </p>
<p>'We are delighted that the work undertaken to the building by specialist contractors has restored its external appearance, whilst creating a spacious new ticket hall for the Underground. The project is an outstanding example of the best of the past combining with new design, to create a transport interchange for the 21st century.'</p>
<p>Peter Bishop, Director of Culture and Environment, London Borough of Camden said: 'This is another major stage completed in the redevelopment of King's Cross and St Pancras. Londoners are once again able to see this wonderful building as it is restored to its former glory.'</p>
<p>Th
            <ul>
<li>The Mayor and TfL are investing &pound;10bn to improve and expand London's transport network. More than half of this investment is in the Tube.</li></ul>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "<!-- #EndEditable -->The work, which has taken five years to complete, was undertaken as part of TfL's &pound;10bn Investment Programme to improve and expand London's transport network.As part of the ongoing redevelopment of King's Cross St Pancras";}
        
        


 