


@{ViewBag.Title = "Share the road and well all get along better";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Share the road and well all get along better</h1>
        <div class="content-page-press-release">
        04 September 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Mayor of London's press office at the Greater London Authority.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This awareness campaign encourages everyone to obey the rules of the road
                            
                        </p>
                    </div>
                
            
            
            <p>Motorists, cyclists and pedestrians in London are all being encouraged to Share the Road - the title of a new and ongoing Transport for London (TfL) campaign, launched by the Mayor of London today (Monday, 4 September). </p>
<p>The Mayor wants to encourage all road users to stick to the rules of the road and to consider the impact of their behaviour on other people. </p>
<p>The first stage of the campaign comprises a month long advertising and enforcement campaign.</p>
<p>
<h2>Traffic laws</h2>
<p>
<p>A visible minority of road users break traffic laws in London, including vehicles parking in cycle lanes and encroaching into the 'advance stop' boxes designated for cyclists, as well as some cyclists who endanger themselves and pedestrians by jumping red lights and riding on the pavement. </p>
<p>The actions of a few can cause animosity between road users, are inconsiderate and can endanger lives.</p>
<p>The campaign is supported by a wide range of road user organisations including London Cycle Campaign (LCC), the Institute of Advanced Motorists (IAM), Living Streets, the Motorcycle Industry Association and the Freight Transport Association. </p>
<p>Ken Livingstone, Mayor of London, said: "Overall London's roads are getting safer. But there is nothing more frustrating, and often dangerous, than road users who think the rules do not apply to them. </p>
<p>"I want to see a shift in the culture on our roads where inconsiderate behaviour by the minority is increasingly treated as unacceptable. </p>
<p>"The only way all road users can get about safely and fairly is everyone obeys the rules of the road equally. </p>
<p>
<h2>Share the road</h2>
<p>
<p>"Everyone must share the road, whether it is motorists who park on cycle lanes and occupy the "advance stop" box reserved for cyclists, or cyclists who think it is OK to jump red lights. </p>
<p>"All of these activities are inconsiderate at best and dangerous at worst. </p>
<p>"The vast majority follow the rules, but there is a small and visible minority who are irresponsible and risk everyone else's safety.</p>
<p>"This awareness campaign, which starts today, encourages everyone to obey the rules of the road and spells out the consequences of not doing so. </p>
<p>"This will be followed by targeted police enforcement to catch those road users who still think the rules of the road are there to be ignored. </p>
<p>"As we build on the road safety successes in the capital and the growing enthusiasm for cycling, everyone on the busy streets needs to be considerate towards each other and to give each other room."</p>
<p>
<h2>Culture</h2>
<p>
<p>Jenny Jones, The Mayor's Road Safety Ambassador, said: "We want to change the culture of both cycling and driving in London. 'Share the Road', is about mutual respect between all road users.</p>
<p>"Mutual respect also means sharing a respect for the rules of the road. We will be asking cyclists to stop at red and we will be asking lorry drivers to give cyclists extra space at junctions. </p>
<p>"We will be providing more cycle training and we will be clamping down on illegal drivers in London. I also want both cyclists and drivers to give way to pedestrians. </p>
<p>"London is finally starting to invest serious money in cycle lanes and cycle training. </p>
<p>"We are still decades behind our European neighbours in providing people with the kind of cycling facilities they need, but cyclists are no longer seen as second class citizens on our roads. </p>
<p>"The reason why I asked the London Mayor to set up this campaign, is because so many Londoners are getting on their bikes. </p>
<p>"Drivers are having to share the road with a lot more cyclists and a new generation of cyclists are dealing with an over crowded road network."</p>
<h2>Against the law</h2>
<p>
<p>Research for Transport for London, by the independent Transport Research Laboratory (TRL), showed that in London one in five cyclists jumped a r
            <ul>
<li>Electronic copies of the Share the Road press ads are available on request </li>
<li>The number of people killed or seriously injured on London's roads has fallen by 45 per cent compared with the government's baseline from the mid to late 1990s</li>
<li>Quotes from road user groups are available</li>
<li>The number of cyclists on London's major roads has increased by 72 per cent since 2000</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Motorists, cyclists and pedestrians in London are all being encouraged to Share the Road - the title of a new and ongoing Transport for London (TfL) campaign, launched by the Mayor of London today (Monday, 4 September). The Mayor wants to encourage all";}
        
        


 