


@{ViewBag.Title = "TfL launches new live and interactive Coach Map";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL launches new live and interactive Coach Map</h1>
        <div class="content-page-press-release">
        13 September 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today launched a new Interactive Coach Map to help coach drivers and operators get around London with ease.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Coach operators and drivers will be able to visit a single website to access the most relevant information to them
                            
                        </p>
                    </div>
                
            
            
            <p> The online map, which can be viewed at <a href="http://www.tfl.gov.uk/coachparking">http://www.tfl.gov.uk/coachparking</a>, aims to provide drivers with all the information they need to confidently navigate the streets of London, and complements the printed version of the London Coach Parking Map. </p>
<p>The online version provides up-to-the minute, accurate information on the location, cost and opening hours of coach parks and bays, toilet facilities for drivers, and places of interest, including West End Theatres and major tourist attractions. </p>
<p>As well as alerting drivers to current road works or events in London, the interactive map includes information on future events, such as concerts and road closures, which may cause disruption to journeys. </p>
<p>Operators can even view certain roads or junctions to see current traffic conditions online via Capital Cams.</p>
<p>Peter Bradley, Head of Commercial Bus and Coach at TfL said: "For the first time, coach operators and drivers will be able to visit a single website to access the most relevant information to them, confident in the knowledge that it is up-to-date and accurate. </p>
<p>"We made a commitment to the coach industry to improve the information available to them, and we believe the new interactive map is a major step in the right direction."</p>
<p>The map is based on the Google Maps API tool which was chosen for ease of use and flexibility. </p>
<p>It incorporates the latest web technologies to allow the map to be smoothly dragged and zoomed. </p>
<p>In addition the site allows for relevant information to be sorted by distance from a location selected on the map.</p>
            <ul>
<li>TfL has produced the Interactive Map as a result of a commitment it made in the Coach Concordat to improve the information available to coach operators</li>
<li>The Interactive map was launched as a trial version in July 2006 and has been a great success, with almost 14,000 visits in the first month alone</li>
<li>TfL will use any feedback from Coach Operators to further improve and enhance the website</li>
<li>The printed version of the London Coach Parking Map will remain in circulation</li>
<li>To coincide with the launch of the Interactive Coach Map TfL would like to take this opportunity to announce the following appointments:</li>
<ul>
<li>James Cox is the newly appointed Coach Activity Co-ordinator to assist Darek Podwiazka, Coach Manager.  James has previously worked for Metrobus and is also bringing valuable marketing experience from his last role in the TfL Marketing team</li>
<li>John Cattermole, Licensing Co-ordinator joins Barry Skinner Licensing Manager to manage the licensing process that enables the operation of commercial bus and coach services under London Service Permits (LSPs). Barry is the first point of contact for advice for any operating company that may be contemplating running its own commercial London bus service that is not part of the London bus network</li>
<li>Ariella Levine has recently joined the team as Community Transport Manager, and will act as the point of contact within TfL for community transport (CT) matters. Vaughn Crowther will continue to assist within his role as Community Transport Co-ordinator during the transition. Ariella will liaise with CT operators, the Community Transport Association and the boroughs in supporting CT as an application of the Mayors Transport Strategy</li></ul></ul>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The online map, which can be viewed at http://www.tfl.gov.uk/coachparking, aims to provide drivers with all the information they need to confidently navigate the streets of London, and complements the printed version of the London Coach Parking Map. The";}
        
        


 