


@{ViewBag.Title = "TfL invites professional road users to pilot new jam-busting website";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL invites professional road users to pilot new jam-busting website</h1>
        <div class="content-page-press-release">
        26 September 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is inviting London's professional road users to pilot a world class traffic news website, www.tfl.gov.uk/trafficnews, which is launched today to help road users avoid congestion and disruption on the Capital's roads.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Traffic News is a really simple way to help road users avoid congested areas"</div>
        <div class="quote-footer">
            <div class="quotee-name">Phil Davies</div>
            <div class="quotee-job-title">Director of Traffic Operations at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Traffic News is a really simple way to help road users avoid congested areas
                            
                        </p>
                    </div>
                
            
            
            <p>Traffic News is a unique traffic management tool that will provide real time details of road works, streetworks, public events, accidents and incidents that may affect road journeys, allowing road users to make informed decisions about their routes before they travel. </p>
<p>Many professional road users are advised by office-based staff, who now have live traffic news at their finger tips.</p>
<p>Phil Davies, Director of Traffic Operations at Transport for London, said: "Traffic News is all about road users being given timely and accurate information, to take greater responsibility for their journeys. </p>
<p>"This is the first stage in the roll-out of Traffic News, so it makes sense that we should start by getting feedback from London's most regular road users. </p>
<p>"After all, these businesses rely on the smooth running of London's roads for the success of their operations."</p>
<p>Traffic News is a real time interactive map based on live information feeds from TfL's LTCC (London Traffic Control Centre), which manages the Capital's traffic flow by monitoring key routes and junctions across London and taking action to mitigate problems. </p>
<p>The LTCC uses a network of 1,500 CCTV cameras, intelligent traffic signals that measure live traffic flows and updates from London's network of bus drivers to quickly identify any traffic delays. </p>
<p>The LTCC is also supported by the Metropolitan Police Area Traffic Control, who is directly linked to traffic and transport police resources on the street.</p>
<p>Phil Davies said: "With over 11 million car and motorcycle trips made every day in London, the capital's roads are in great demand. </p>
<p>"However, Traffic News is a really simple way to help road users avoid congested areas. </p>
<p>"We know that when road users choose to avoid congestion, the congestion itself eases, thus getting London moving again."</p>
<p>The information is auto refreshed every 60 seconds for users who stay connected to Traffic News and is completely updated every five minutes. </p>
<p>Data from the LTCC is already used by broadcasters for regional TV and Radio traffic updates.</p>
<p>Phil Davies added: "For the first time Traffic News will give London's road users access to the detailed real time congestion information which is used by broadcasters on radio and TV traffic alerts. </p>
<p>"They will now be able to find out about traffic incidents before they set off, and can keep abreast of the traffic situation whilst driving from radio broadcasts."</p>
<p>Traffic News has been developed as part of TfL's commitment to improving traffic in London. </p>
<p>The service also helps fulfil TfL's Network Management Duty, under the Traffic Management Act 2004, which encourages traffic authorities to share information with drivers and passengers to enable them to plan their journeys more effectively. </p>
<p>TfL is keen to hear comments about Traffic News from professional road users. </p>
<p>Please send your views to <a href="mailto:trafficnews&#64;tfl.gov.uk">trafficnews&#64;tfl.gov.uk</a> </p>
            <ul>
<li>Icons on the Traffic News map show the location of specific traffic incidents, road works or events. Using coloured lines the website also provides information on live congestion on certain central London roads from sensors buried in the roads. A yellow line indicates the traffic is slower than expected and a red line indicates severe congestion, while a green line shows that traffic is flowing as expected for that time of the day</li>
<li>With zoom buttons and a function that allows users to search by borough, Traffic News displays information as icons which users click to read text as it is displayed on illuminated road side message signs. The map also features live still images from TfL's traffic management CCTV cameras</li>
<li>As well as displaying real time information, Traffic News can also provide road users with information on forthcoming road works and events several days before they take place, allowing road users to plan journeys in advance to avoid expected delays.</li>
<li>The website also features a link to the Highways Agency website which provides details of traffic conditions on motorways and major A roads across England.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Traffic News is a unique traffic management tool that will provide real time details of road works, streetworks, public events, accidents and incidents that may affect road journeys, allowing road users to make informed decisions about their routes before";}
        
        


 