


@{ViewBag.Title = "Transport for London financial success allows planned bus fare increase to be cut by two thirds";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London financial success allows planned bus fare increase to be cut by two thirds</h1>
        <div class="content-page-press-release">
        12 September 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Mayor of London's press office at the Greater London Authority.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I want to see every Londoner paying the lowest possible fares by switching to Oyster
                            
                        </p>
                    </div>
                
            
            
            <p> <!-- #EndEditable -->Ken Livingstone, the Mayor of London, today announced the fares package for next year. </p>
<p>As in previous years the new fare proposals are designed to encourage people to switch from cash to the Oyster card in order to speed up buses and reduce ticket queues at Tube stations. </p>
<p>In many cases, Oyster pay-as-you-go bus and Tube fares will be half the cost of the same journey if you pay by cash. Cash use on buses has already halved over the last year.</p>
<p>Two years ago the Mayor announced that bus fares would rise by 10 per cent above inflation for three subsequent years to help fund the biggest investment programme on London transport since the war. </p>
<p>This year he has announced that the third increase has been reduced from 10 per cent to just 3.8 per cent above inflation. This is possible because Transport for London's (TfL's) finances have been boosted by better management and big efficiency savings, including new advertising contracts.</p>
<p>The fares proposals will also help families with free travel on buses for all under 18-year-olds in education, free Tube and DLR travel for under 11-year-olds from Easter 2007 and a 50p Oyster fare for all under-16s on the Tube. </p>
<p><h2>Successful investment</h2></p>
<p>Ken Livingstone said today: 'Two years ago I announced tough measures to ensure London's public transport system received the investment it required. This has been a success - bus ridership is now up two million a day on six years ago, Tube ridership is near record levels, investment in public transport has risen to the highest level for 50 years even before the big improvement programmes for the Olympic Games kick in. Surveys show passengers believe transport has been improving. </p>
<p>'But alongside that Transport for London has also been achieving financial success through major efficiency savings and greatly increased advertising revenue. Due to this I am pleased to announce that the original third 10 per cent fares increase needed to fund the investment programme can be cut by two thirds. </p>
<p>'We will also freeze Oyster single fares on the Tube and help families with free travel for all under 18-year-olds in education, free Tube and DLR travel for under 11-year-olds from Easter 2007 and a 50p Oyster fare for all under-16s on the Tube.</p>
<p>'At the same time, the big differential between cash and Oyster card fares is designed to speed up the system by getting people to switch from cash to Oyster. I want to see every Londoner paying the lowest possible fares by switching to Oyster.' </p>
<p><strong>On the buses:</strong> </p>
<ul>
<li>The Oyster peak single fare remains frozen at &pound;1 - the Oyster one day cap is also frozen, which means Oyster users will never pay more than &pound;3 regardless of how many trips they take each day 
</li><li>Passengers who choose not to use Oyster will now pay &pound;2 in cash for the same journey 
</li><li>The Oyster off-peak fare will rise from 80p to &pound;1 
</li><li>The One Day Bus Pass is frozen at &pound;3.50 and the Weekly Bus Pass increases in line with inflation from &pound;13.50 to &pound;14.00 
</li><li>In the last year, cash use on buses has dropped from 10 per cent of all journeys to five per cent 
</li><li>The overall increase in bus fares equals RPI plus 3.8 per cent</li></ul>
<p><strong>On the Tube:</strong> </p>
<ul>
<li>All Oyster single fares are frozen across London and the daily Oyster cap remains 50p below the One Day Travelcard price 
</li><li>The cash single fare for all journeys via Zone 1 will be &pound;4 - this means passengers using Oyster pay-as-you-go for journeys into Zone 1 could save up to &pound;2.50 per trip 
</li><li>Travelcards will rise by RPI + two per cent on average. There is no change to the cash fare for non Zone 1 journeys 
</li><li>Cash use on the Tube has halved from just under 15 per cent in 2005 to around six per cent 
</li><li>The overall package for the Tube is RPI + one per cent</li></ul>
<p><stro></stro><ul>
<li>Tables of all changes are available on request from the TfL press office </li>
<li>A &pound;4 charge for Oyster pay-as-you-go users who do not touch in and out at the start and end of their journey, will be introduced in November 2006</li>
<li>The DLR &pound;1.50 local fare will remain frozen and other fares are the same as for the Tube</li>
<li>Fares for the Croydon Tram mirror those of London buses<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "<!-- #EndEditable -->Ken Livingstone, the Mayor of London, today announced the fares package for next year. As in previous years the new fare proposals are designed to encourage people to switch from cash to the Oyster card in order to speed up buses and";}
        
        


 