


@{ViewBag.Title = "Tube one step closer for Heathrow Terminal 5";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube one step closer for Heathrow Terminal 5</h1>
        <div class="content-page-press-release">
        14 September 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Piccadilly line services to Heathrow Terminal 4 (T4) station will resume on the morning of Sunday 17 September, signalling the latest milestone in the project to extend the line to Heathrow Terminal 5 (T5).
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are one step closer to a brand new Tube line for a brand new Terminal by 2008
                            
                        </p>
                    </div>
                
            
            
            <p>The 20-month closure of the Piccadilly line between Hatton Cross and Heathrow T4 was essential to allow for the construction of a complex new rail junction to connect the existing line to the new T5 extension.  </p>
<p>The work has now been completed, on time and on budget, in partnership between BAA and London Underground (LU).</p>
<p>Passengers were provided with regular shuttle bus services throughout the closure. These will continue for a week after the Piccadilly line reopens to ensure passengers make a smooth transition back to the Tube. </p>
<p>Mike Challis, LU Piccadilly line General Manager, said: 'The reopening of Heathrow Terminal 4 station on Sunday, 17 September will mean passengers can once more travel direct between Terminal 4 and central London.</p>
<p>'It also marks an important milestone in the project to extend the line to Heathrow Terminal 5, which will be the first extension to the Tube network in nearly a decade.</p>
<p>'I'd like to thank London Underground passengers for their patience during the essential 20-month closure. The construction work now completed means we are one step closer to a brand new Tube line for a brand new Terminal by 2008.'</p>
<p><h2>Constructing a key rail junction</h2></p>
<p>In order to join up the existing Piccadilly line with the T5 extension, a new rail junction was required just west of Terminals 1,2,3, where the new Piccadilly line tunnels would join the existing Heathrow loop.  </p>
<p>BAA Project Leader, John Oliver said: 'Working in a live airport environment without causing any disruption to airport operations is a huge challenge.  </p>
<p>'All in all this has been a very successful project. Much of the tunnelling for the new rail extensions and the construction of the junction box occurred beneath the operational airport and in close proximity to both Heathrow Express and London Underground tunnels.  </p>
<p>'All of it was delivered with no impact on rail or airport operations.'</p>
<p>To build the new junction, the T5 project team had to decommission two aircraft stands from Terminal 3 and drill down through the ground to access the LU network. A concrete box was then built to house the new junction, connecting up all four old and new underground tunnels for the existing Piccadilly line and the T5 extension.  </p>
<p>When construction work was complete, the site was handed over to engineers from rail specialist Balfour Beatty, who installed track and conductor rails.  </p>
<p>Then Tube infrastructure company Tube Lines installed and tested the signalling and communications equipment, which was commissioned during a three-day extended closure of the Piccadilly line in late August.  </p>
<p>The final step, over the last few weeks, has been for LU to run test trains over the Heathrow loop to ensure the track and equipment is reliable before resuming passenger services on 17 September.</p>
<p><h2>A new improved station at Heathrow Terminal 4</h2></p>
<p>During the 20-month closure of the Piccadilly line to Heathrow T4, LU has taken the opportunity to refurbish the T4 station, improving the travelling environment and adding extra security and passenger information features.  </p>
<p>Funded by Transport for London's (TfL's) &pound;10billion Investment Programme and carried out by Tube Lines, the work has included the installation of:</p>
<ul>
<li>A new station control room overlooking the ticket hall</li>
<li>Twenty-four new CCTV cameras, more Help points and improved lighting </li>
<li>A new PA system, better signage and more passenger information screens </li>
<li>a tactile strip close to the platform edge to aid those with visual impairments </li></ul>
<p>Ian Copeland, Director of Projects at Tube Lines said: 'During the closure, our teams have worked diligently to complete the station refurbishment and the bulk of the work to extend the line to Terminal 5.  </p>
<p>'All parts of both programmes were completed on time. Terminal 4's station upg
            <ul>
<li>FOR MEDIA ONLY - photographs and video footage of work on the Piccadilly line T5 extension and Heathrow T4/T5 stations are available on request 
</li><li>The Piccadilly line loop between Hatton Cross and Heathrow Terminal 4 closed for 20 months on 7 January 2005. It will reopen at 5.45am on Sunday 17 September 2006, restoring Piccadilly line services to Heathrow Terminal 4 
</li><li>When the line reopens, Piccadilly line services will operate on a loop as they did before the line closure: central London - Terminal 4 - Terminals 1,2,3 - central London 
</li><li>Passengers have been kept updated about the service changes, using train and station announcements, 'Heathrow by Tube' leaflets and 'Which station at Heathrow?' posters at stations and on trains 
</li><li>The refurbishment of Heathrow Terminal 4 station was funded by TfL's &pound;10billion Investment Programme. The station is used by approximately 2,300 passengers per day 
</li><li>The Piccadilly line extension to Heathrow Terminal 5 is wholly funded by Heathrow Airport Ltd, a subsidiary of BAA<br>The first major milestone in the project was the construction of two 1.7km tunnels to carry the extended Piccadilly line to the site of the new Terminal 5 station. This was completed in August 2004 
</li><li>The construction of both the tunnels and the new junction for the Piccadilly line extension has involved close working relationships between several different organisations and contractors, including:<br>- BAA<br>- London Underground<br>- Balfour Beatty<br>- Mott MacDonald<br>- Morgan Vinci Joint Venture<br>- Tube Lines<br>- Citylink Telecommunications<br>- Seeboard Powerlink 
</li><li>For more information on Heathrow Terminal 5, please contact the BAA Heathrow Press Office on 020 8745 7224.</li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The 20-month closure of the Piccadilly line between Hatton Cross and Heathrow T4 was essential to allow for the construction of a complex new rail junction to connect the existing line to the new T5 extension.The work has now been completed, on time and";}
        
        


 