


@{ViewBag.Title = "Waterloo and City line to open on Monday, 11 September";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Waterloo and City line to open on Monday, 11 September</h1>
        <div class="content-page-press-release">
        07 September 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Waterloo & City line will re-open to passengers on Monday, 11 September after being closed for five months for a major upgrade by Metronet.
        
    </div>



 <div class="on-this-page">
<p>The upgrade of the Waterloo &amp; City line is part of Transport for London's &pound;10bn Investment Programme to meet London's transport needs now and future. </p>
<p>It will deliver faster journey times, more passenger capacity and a more reliable service.</p>
<p>Tube passengers will also benefit from newly refurbished trains painted in the Underground's distinctive red, white and blue livery. CCTV cameras have been installed in all carriages to improve passenger safety and security.</p>
<p>The upgrade has been a complex project. London Underground (LU) has been demanding of Metronet, requiring the delivery of a great deal of work and improvements during the closure. This has largely been achieved in one of the most constrained parts of the network, with delivery a few days behind schedule after a five month closure.</p>
<p>During the closure, the track between Waterloo and Bank has been completely replaced and electrical and communications equipment renewed.</p>
<p>LU Managing Director, Tim O'Toole said: 'We're investing billions to improve the Tube and the Waterloo &amp; City is the latest example of this major investment.</p>
<p>'Metronet will complete this project over the weekend, meaning the line will open again to passengers on Monday, September 11. We look forward to a safer, more reliable and comfortable Waterloo &amp; City line and for Metronet to continue to deliver improvements to the Tube, as promised.'<br></p>
            <ul>
<li>TfL is investing &pound;10bn over the next five years to improve and expand London's transport network, more than half of that in the Tube</li>
<li>Metronet Rail BCV is responsible for renewal and maintenance of the Bakerloo, Central, Victoria and Waterloo & City lines</li>
<li>Under PPP, engineering work to improve the Tube can only be undertaken at night or during weekend closures unless LU agrees to a long-term closure</li>
<li>The Waterloo & City line, London's second deep-level Tube line, opened in 1898. It was intended then as it is now to offer commuters a direct rail link to and from the City of London</li>
<li>The 1.5 mile line links Waterloo with Bank without any intermediate stations<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The upgrade of the Waterloo &amp; City line is part of Transport for London's &pound;10bn Investment Programme to meet London's transport needs now and future. It will deliver faster journey times, more passenger capacity and a more reliable service.Tube";}
        
        


 