
    
  



@{ViewBag.Title = "Inside the archives";}
@{ViewBag.Keywords = "Public,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/culture-and-heritage/corporate-archives/the-collections/photo-archive";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage">Culture & heritage</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage/corporate-archives">Corporate archives</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage/corporate-archives/the-collections">The Collections</a></li>
                
            
            
                <li><span class="last-breadcrumb">Inside the archives</span></li>
            
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Inside the archives</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Putting the spotlight on some of our archive's hidden treasures. 
        
      </div>
    
    
      <p>We've been collecting and preserving items of interest since the 17th century, holding everything from business documents, and staff magazines to maps and images. Each month, we're going to share some of the gems you might not ordinarily get to see. </p>
<h2>The V.I.P trial trip</h2>
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/first-train.jpg" alt="Inside archives train photo" />
        
        
        
    </div>   
 </div>
 <div>

<p>Pictured at Edgware Road on 24 May, 1862, V.I.Ps enjoy one of the first, trial trips.</p>
<p>On Saturday, 10 January 1863, the Metropolitan Railway Company opened a sub-surface railway between Bishop's Road, Paddington, to Farringdon Street - a distance of just over 3 miles. </p>
<p>The railway was brainchild of Charles Pearson, a solicitor, and the railway's eventual architect, John Hargreave Stevens. Both agreed that underground travel was potentially a good way to relieve the pressure on streets heaving with horse-drawn vehicles. </p>
<p>The first journeys on the railway were trial trips, run on Smith &amp; Knight open wagons. One, featured an all-VIP party of passengers, including the Chancellor of the Exchequer and his wife, and engineer, John Fowler. </p>
<p>By the time it opened to the public, the excitement was obvious. Flocking in their droves to experience a trip beneath the streets, the railway carried 30,000 passengers that day and made &pound;850 in fares. </p>
<p>The following Monday, the Times newspaper reported: 'Throughout the morning, every station became crowded with anxious travelers who were admitted in sections...the platform gained, the next great struggle was for a seat...classification was altogether ignored, the holder of a first-class ticket being compelled to go in number three or not at all, and vice versa.'</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/culture-and-heritage/corporate-archives" class="heading">
                    <h2 id="sub-menu-heading">Corporate archives<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/corporate-archives/about-the-tfl-archives">About the TfL Corporate Archives</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/corporate-archives/accessing-our-archives">Accessing our archives</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/corporate-archives/the-collections">The Collections</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/corporate-archives/the-collections/photo-archive">Inside the archives</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Culture and heritage - hidden treasures of the TfL archives";}
        
            
        


 