


@{ViewBag.Title = "Consultation gets underway on new rail link to Barking Riverside";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Consultation gets underway on new rail link to Barking Riverside</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Consultation gets underway on new rail link to Barking Riverside</h1>
        <div class="content-page-press-release">
        03 December 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>A detailed public consultation has begun on plans to build a vital new rail link to Barking Riverside, east London's largest housing development site.</p>
<p>The proposed 4km extension will see the London Overground Gospel Oak to Barking line extended to serve a new station at the heart of the development.</p>
<p>It will mean a wide range of benefits for people in the local area and beyond, including:</p>
<ul>
    <li>Up to nearly 11,000 new homes being built, many of which are affordable, along with a new school and healthcare facilities;</li>
    <li>The construction of a new district centre with commercial and leisure facilities;</li>
    <li>Four trains an hour to Barking where customers can connect with District and Hammersmith &amp; City Tube services, and c2c services into Fenchurch Street station.</li>
</ul>
<p>The consultation will focus on the details of the extension's proposed route, including the amount of land required to build the extension, its operation and proposed construction locations. It will be the last consultation before Transport for London (TfL) seeks permission from the Secretary of State for Transport to start construction.</p>
<p>The Government has agreed to provide a loan of 55 million to support the extension to Barking Riverside and the provision of this loan means that funding is available to cover the full cost.</p>
<p>Mayor of London, Boris Johnson MP, said: `Barking Riverside is the largest housing development in east London, but without extending London Overground services it cannot reach its full potential. Our proposals for extending the railway line to this part of the Capital enjoy huge public support and will help to breathe life into a fantastic new community for London.'</p>
<p>TfL's Managing Director of Planning, Richard de Cani, said: `This consultation is the last phase before we approach Government for permission to build this extension of London Overground services. This important new piece of London's transport network will help unlock the potential for almost 11,000 new homes to be delivered on the Barking Riverside site.'</p>
<p>Full details of the route, along with the opportunity to respond to the final consultation, is available online here: <a href="http://www.tfl.gov.uk/barking-riverside">www.tfl.gov.uk/barking-riverside</a></p>
<p>Local residents and businesses are encouraged to participate in this consultation and make their views known. The consultation ends on Sunday 24 January 2016.</p>
<p>Subject to the outcome of this consultation, TfL will make a Transport and Works Act Order application for powers to build and operate a railway extension in March 2016. If approved by the Secretary of State for Transport, construction could begin in late 2017 with trains running by the end of 2021.</p>
<p>Barking Riverside is the largest housing development in east London, with planning permission for up to 10,800 new homes, as well as healthcare, shopping, community and leisure services. The area is one of The Mayor of London's Opportunity Areas for housing growth, plans which cannot be realised without this new transport infrastructure.</p>
<p>Notes to Editors</p>
<ul>
    <li>The proposed extensions of London Overground to Barking Riverside and Old Oak are part of TfL's vision of creating better rail services in London to meet the needs of the city's rapidly growing population and to support new jobs, homes and economic growth.</li>
    <li>The Gospel Oak to Barking route, which is already part of London Overground, is being electrified by Network Rail and due to be completed in 2017. The new four-carriage electric trains will run on the route after electrification has been completed, replacing all two-carriage diesel trains, and will provide improved journey times and more capacity.</li>
    <li>A previous consultation in spring this year, available here, asked whether people were supportive in principle of the extension and to provide feedback on their preferred route option.</li>
    <li>Alignment B was chosen as the preferred option - out of the 600 people who responded, 55 per cent said they were in favour of the alignment B route.</li>
    <li>It would mean that both lines would run in parallel along a single viaduct. The viaduct would pass over the freight terminal and Choats Road before dropping under the power lines and continuing into Barking Riverside. This alignment would tie-in to the Tilbury line slightly further west and would require more changes to the freight yard</li>
    <li>However, by crossing the Choats Road to the east on a single viaduct, it is possible to increase the distance between the existing residential areas and the operational railway.</li>
    <li>In autumn of 2014 TfL consulted on the principle of extending the London Overground line to Barking Riverside. There were 715 responses, with 90 per cent of respondents replying that they supported the scheme in principle. A copy of the 2014 consultation report is available <a href="https://consultations.tfl.gov.uk/rail/barking-riverside-extension/user_uploads/barking-riverside-2014-consultation-report--v3-.pdf">here</a></li>
    <li>London Overground services are being increased by 25 per cent through the introduction of a fifth car to trains across the network and should be completed by the end of this year.</li>
    <li>Earlier this year the West Anglia routes to Cheshunt, Chingford and Enfield Town joined TfL's integrated network as part of London Overground. Rail services between Liverpool Street and Shenfield will also joined the TfL network and will see radical improvements in preparation for the line carrying TfL-run Crossrail services in 2017.</li>
    <li>TfL's transformation of underused suburban rail links into the highly popular London Overground has seen passenger numbers rise by 400 per cent since 2007 and the network become one of the most reliable and popular in the UK.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-December-Consultation gets underway on new rail link to Barking Riverside -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 