


@{ViewBag.Title = "EU funding proposals for new London Overground stations";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">EU funding proposals for new London Overground stations</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>EU funding proposals for new London Overground stations</h1>
        <div class="content-page-press-release">
        16 December 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Proposals for two new London Overground stations
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These new local links will connect Old Oak Common to two London Overground routes and will enable High Speed 2 and Crossrail to interchange with the suburban rail network, easing potential pressure on Euston"</div>
        <div class="quote-footer">
            <div class="quotee-name">Richard De Cani</div>
            <div class="quotee-job-title">Managing Director of Planning, TfL </div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>New stations could support the regeneration of the area, creating thousands of new jobs and homes</li>
    <li>Opportunity to create new links to proposed High Speed 2 and Crossrail services</li>
</ul>
<p>Improved transport links to support the transformation of Old Oak Common moved a step closer today, as Transport for London (TfL) secured &euro;4m funding from the European Commission (EC) to progress the development of options for new London Overground stations in the area.</p>
<p>The funding was awarded from the EC's Connecting Europe Facility (CEF) within the framework of the Trans-European Transport Network scheme and will be match-funded by TfL, allowing the further development of options for potential new stations at Old Oak Common Lane and Hythe Road.</p>
<p>Connectivity between HS2, Crossrail and the London Overground is essential to the transformation of Old Oak Common and the regeneration of Park Royal, one of the Mayor of London's key Opportunity Areas, supporting 65,000 jobs and 25,500 new homes. The new travel links could radically cut journey times to and from the area and would allow access to both the Clapham Junction to Stratford, and Richmond to Stratford, London Overground lines. The stations would also provide an interchange with Crossrail and High Speed 2, helping minimise congestion at Euston station and allowing further integration of these services into London's transport network.</p>
<p>Richard De Cani, TfL's Managing Director of Planning, said: &quot;Old Oak and Park Royal is one of the largest regeneration schemes in London for decades and will support 65,000 new jobs and 25,500 new homes. Good transport links are vital to the successful transformation of the area, and this funding will allow us to develop proposals for London Overground connectivity in the area. These new local links will connect Old Oak Common to two London Overground routes and will enable High Speed 2 and Crossrail to interchange with the suburban rail network, easing potential pressure on Euston.&quot;</p>
<p>Work on the proposals for the new London Overground connections in Old Oak will commence as part of wider development plans for Old Oak and Park Royal, led by the Old Oak and Park Royal Development Corporation (OPDC), which was launched by the Mayor of London in April to drive forward regeneration plans for the area.</p>
<p>Sir Edward Lister, Deputy Mayor for Planning and Chairman of the Old Oak and Park Royal Development Corporation said: &quot;HS2 and Crossrail represent a once-in-a-generation opportunity to transform Old Oak and Park Royal into a thriving new part of London with thousands of new homes and jobs. This funding paves the way for us to progress the development of new stations that will help to make Old Oak one of the best-connected parts of London and a key driver of economic prosperity for decades to come.&quot;</p>
<p>The Corporation has the support of Government, and works closely with the boroughs of Brent, Ealing and Hammersmith &amp; Fulham, to exercise their planning powers across the entire site.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>Further information on the new London Overground station at Old Oak consultation can be found at <a href="http://www.tfl.gov.uk/old-oak">www.tfl.gov.uk/old-oak</a></li>
    <li>The proposed extensions of London Overground to Old Oak and to Barking Riverside are part of TfL's vision of creating better rail services in London to meet the needs of the city's rapidly growing population and to support new jobs, homes and economic growth. London Overground services are being increased by 25 per cent through the introduction of a fifth car to trains across the network, and the integration of West Anglia routes to Cheshunt, Chingford and Enfield Town to TfL's integrated network as part of London Overground. Rail services between Liverpool Street and Shenfield have also joined TfL network and will see radical improvements in preparation for the line carrying TfL-run Crossrail services in 2017. TfL's transformation of underused suburban rail links into the highly popular London Overground has seen passenger numbers rise by 400 per cent since 2007 and the network become one of the most reliable and popular in the UK.</li>
    <li>The nine week public consultation, which ran between 22 September and 24 November, indicated 85 per cent of the respondents supported plans to build a new London Overground station at Old Oak. It has been recommended that Option C, which proposes two Overground stations, should be further progressed as the single preferred option. TfL is undertaking more detailed work to progress Option C, taking on board comments received from the consultation.</li>
    <li>The Mayor of London Boris Johnson launched the Old Oak and Park Royal Development Corporation (OPDC) on 1 April 2015. <a href="https://www.london.gov.uk/about-us/organisations-we-work/old-oak-and-park-royal-development-corporation-opdc">https://www.london.gov.uk/about-us/organisations-we-work/old-oak-and-park-royal-development-corporation-opdc</a></li>
    <li>The OPDC covers the area encompassing the Park Royal Industrial Estate, Stonebridge Park, Park Royal Cemetery (Acton Cemetery), the core development site at Old Oak, North Acton Underground Station, Willesden Junction Underground and Overground stations and Wormwood Scrubs Common.</li>
    <li>The Grand Union Canal and Wormwood Scrubs will continue to be protected by its designation as Metropolitan Open Land and the 1879 Wormwood Scrubs Act. New additional public open spaces are proposed north of Wormwood Scrubs to contribute to meeting the needs and requirements for forthcoming development.</li>
    <li>The OPDC works closely with the three boroughs and all existing businesses across Old Oak Common and Park Royal. This will include working with existing businesses to support potential relocations to protect the businesses and jobs that are so integral to the London economy and the local community.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-December-EU funding proposals for new London Overground stations -->

 
 
        
        
            @{ViewBag.Description = "Proposals for two new London Overground stations";}
        
        


 