


@{ViewBag.Title = "Free travel this New Year's Eve ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Free travel this New Year’s Eve </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Free travel this New Year’s Eve </h1>
        <div class="content-page-press-release">
        29 December 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Partnership between TfL and KAYAK.co.uk will deliver free New Year's Eve travel
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"2015 has been another great year for London. As we prepare to welcome in 2016, we've teamed up with KAYAK.co.uk to ensure that everyone who will be out celebrating will be able to get home safely with free travel on buses and on London Underground, the DLR, the Trams and our rail services"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown MVO</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Free travel between 23:45 on 31 December and 04:30 on 1 January on Tubes and buses</li>
    <li>Hundreds of celebrations will take place across London, including the Mayor of London's NYE fireworks display</li>
</ul>
<p>Partygoers will be able to get home easily and safely after seeing in 2016 thanks to a partnership between Transport for London (TfL) and travel search engine KAYAK.co.uk.</p>
<p>Free travel on New Year's Eve will be between 23:45 until 04:30 on buses, Tube, trams, DLR, TfL Rail &amp; London Overground. London Overground &amp; some TfL Rail services finish earlier.</p>
<p>The celebrations will include the Mayor of London's New Year's Eve fireworks, in partnership with Unicef, on the River Thames opposite the Houses of Parliament. The display is ticketed and has sold out, so anyone without a ticket will not be able to get into the viewing areas and are advised to avoid the immediate area around Embankment and South Bank. Those without tickets can watch the action live on BBC1, or bring in the new year at one of the hundreds of other celebrations taking place in restaurants and bars, pubs and clubs across the Capital.</p>
<p>Roads in Central London will start closing to traffic from 14:00 to prepare for the New Year celebrations with all closures in place from 20:00 until 06:00, with some roads re-opening earlier if it is safe to do so. Public transport will be the best way to get around London, although some buses will be on diversion or finish early due to the road closures. It is recommended to plan all journeys ahead by visiting <a href="http://www.tfl.gov.uk/festive">www.tfl.gov.uk/festive</a>.</p>
<p>Most of the road and bridge closures for the New Year's Eve fireworks event will re-open by 06:00 on Fri 1 Jan 2016. However, some will remain closed, with other road closures implemented from 04:00 for the New Year's Day Parade. All roads will re-open around 18:00, or when it's safe to do so.</p>
<p>London's Transport Commissioner, Mike Brown MVO, said: </p>
<p>'2015 has been another great year for London. As we prepare to welcome in 2016, we've teamed up with KAYAK.co.uk to ensure that everyone who will be out celebrating will be able to get home safely with free travel on buses and on London Underground, the DLR, the Trams and our rail services.'</p>
<p>People choosing to make their way home by cab are advised to use a black cab or pre-booked minicab to ensure that their journey is safe.</p>
<p>On 1 January 2016, London's annual New Year's Day Parade will take place from 12:00 to 15:30 with more than 8,500 performers representing 20 countries world-wide set to take part. The parade will travel along Piccadilly from the underpass, Piccadilly Circus, Shaftesbury Avenue, Haymarket, Trafalgar Square, Strand and Whitehall.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>TfL's Festive Travel guide is available online at <a href="http://www.tfl.gov.uk/festive">www.tfl.gov.uk/festive</a>.</li>
    <li>For more details on the New Year's Parade please visit <a href="http://www.londonparade.co.uk">www.londonparade.co.uk</a>.</li>
    <li>For essential late night travel information in London please visit <a href="http://www.tfl.gov.uk/cabwise">www.tfl.gov.uk/cabwise</a> and <a href="http://www.tfl.gov.uk/plan-a-journey/">www.tfl.gov.uk/plan-a-journey/</a>.</li>
    <li>TfL's 24 hour travel information centre can also provide information and phone numbers for taxi and private hire services in London. Call 0343 222 1234.</li>
    <li>TfL has been providing free travel for partygoers on New Year's Eve since 2000.</li>
    <li>The congestion charge will not apply on Thursday 31 December 2015.</li>
    <li>There is an extra charge of &pound;4 for taxi (black cab) journeys made between 20:00 on Thursday 31 December and 06:00 on Saturday 2 January 2016.</li>
    <li>Network Rail planned work means Gatwick Express services will not run.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-December-Free travel this New Year’s Eve  -->

 
 
        
        
            @{ViewBag.Description = "Free travel for Londoners and visitors this New Year’s Eve ";}
        
        


 