


@{ViewBag.Title = "KAYAK.co.uk in deal with TfL to sponsor free NYE travel";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">KAYAK.co.uk in deal with TfL to sponsor free NYE travel</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>KAYAK.co.uk in deal with TfL to sponsor free NYE travel</h1>
        <div class="content-page-press-release">
        07 December 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has teamed up with the world's leading travel search engine KAYAK to provide free New Year's Eve travel this year so that partygoers can get home safely.</p>
<p>The partnership will ensure that people travelling around the Capital after welcoming in 2016 can travel home for free on London's buses, Tubes, trams, DLR, TfL Rail and London Overground this New Year's Eve. It is part of TfL's wider plans to generate &pound;3.4bn in non-fare revenue by 2020/21 to reinvest in the running and modernisation of the transport network.</p>
<p>Graeme Craig, Director of Commercial Development at TfL, said: `Our partnership with KAYAK.co.uk will ensure that revellers will be able to welcome in the New Year knowing that they will be able to get home safely and for free. We look forward to welcoming everyone to London's celebrations and encourage customers to plan their journeys in advance so that they are aware of all their travel options.'</p>
<p>`The partnership is another example of how we are seeking to generate vital revenue to reinvest in the transport network for the benefit of our customers.'</p>
<p>TfL and KAYAK.co.uk will also launch a joint advertising campaign to promote free travel on New Year's Eve. The advertising campaign will feature KAYAK's iconic sheep mascot on the creative.</p>
<p>Loella Pehrsonn, Regional Director UK, Ireland and the Nordics at KAYAK, said: `We are very excited to have our KAYAK sheep taking over London's Underground network for the first time this New Year's Eve. We are delighted to be working with TfL to help revellers celebrating get home safely on the night, and give them inspiration to travel more next year in an original way.'</p>
<p>KAYAK.co.uk is a travel search engine that shows travellers the information they need to enable them to make better travel decisions. The website and the app make the planning and management of trips easier for travellers.</p>
<p>TfL has been providing free travel for partygoers on New Year's Eve since 2001. Detailed travel information for the festive period including New Year's Eve is available at <a href="http://www.tfl.gov.uk/nye">www.tfl.gov.uk/nye</a>.</p>
<p>End</p>
<p>Notes to Editors:</p>
<ul>
    <li>
    The sponsorship deal will generate &pound;120,000 for TfL to reinvest back into the transport network to deliver improved services for customers.</li>
    <li>
    An image of the KAYAK and TfL advertising campaign is available at <a href="http:// https://www.flickr.com/gp/tflpress/J2905y">https://www.flickr.com/gp/tflpress/J2905y</a></li>
</ul>
<p>About KAYAK<br />
KAYAK is the world's leading travel search engine. The company's websites and mobile apps allow people to easily search hundreds of travel sites at once for flights, hotels, rental cars and vacation packages. Each year, KAYAK processes more than one billion searches for travel information and has local websites and mobile apps in more than 30 countries and 18 languages. KAYAK is an independently managed subsidiary of The Priceline Group.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-December-KAYAK.co.uk in deal with TfL to sponsor free NYE travel -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 