


@{ViewBag.Title = "London Underground breaks the record again for busiest day ever on the Tube";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London Underground breaks the record again for busiest day ever on the Tube</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London Underground breaks the record again for busiest day ever on the Tube</h1>
        <div class="content-page-press-release">
        09 December 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Figures released today by Transport for London (TfL) show that October's record for the number of customer journeys made on the Tube in one day has been broken again.</p>
<p>On Friday 4 December 2015, 4.821 million customers travelled on the Tube making it the network's busiest day ever.</p>
<p>That week was also the busiest in the Tube's history with 28.76 million journeys, beating the previous record of 28.69 million journeys set in the week ending 31 October.  In addition, 18 of the top 20 busiest days ever recorded on the Tube network are in 2015.</p>
<p>The daily and weekly records have been broken this year and TfL expects them to be broken again before the end of 2015. Overall, the number of customer journeys on the Tube has risen by a third since 2001, with the rate of growth increasing in the last five years.</p>
<p>Nick Brown, LU's Managing Director, said: `The Tube continues to break records for the number of customers we're carrying as London's economy and population keeps on growing. The vast majority of the busiest days in the Tube's 152-year history have been recorded this year.</p>
<p>`The current work to improve London Underground is one of the largest programmes of infrastructure investment in the world. We will continue to invest all our income in modernising the service, improving reliability, train capacity and frequency, and upgrading major stations to provide a Tube network fit for the world city it serves.'</p>
<p>More frequent trains than ever before are running on the Victoria line and a new signalling system on the Northern line is providing a faster, more frequent and more reliable service. Because of the modernisation, journeys are now quicker, with an average reduction of two minutes, and delays are down by 43 per cent in the last five years.</p>
<p>Work to transform Victoria and Bond Street stations is well underway and Holborn, Bank and Camden Town stations will soon benefit from upgrades. Last week a new 15m tall glass entrance to Tottenham Court Road Tube station was opened and Central line trains are stopping at the station again.</p>
<p>Further upgrades are ahead, with new air-conditioned trains now serving the Metropolitan, District, Hammersmith &amp; City and Circle lines, new signalling planned for those lines, and the radical modernisation of the Central, Piccadilly, Bakerloo and Waterloo &amp; City Lines in the 2020s. Major work on the Northern line extension to Battersea started last month, which will support thousands of new jobs and homes and enable major regeneration in the Vauxhall, Battersea and Nine Elms areas.</p>
<p>London is growing faster than any other European city.  Its population of 8.6 million today will become nine million by 2018, and 10 million by 2030.  The city's public transport and road networks need steady and sustained investment to enable productive growth and the creation of the new jobs and housing the city needs.</p>
<p>ENDS</p>
<p>Notes to Editors</p>
<p>The top five busiest days on the London Underground were:</p>
<ul>
    <li>4 December (4.821 million)</li>
    <li>27 November 2015 (4.795 million)</li>
    <li>9 October 2015 (4.735 million)</li>
    <li>28 November 2014 (4.734 million)</li>
    <li>29 October 2015 (4.719 million</li>
</ul>
<p>LU has reduced its operating cost per passenger kilometre, driven down the unit costs for maintenance, and invests every penny of public money into improving the network as London's population continues to rise.</p>
<p>Recent years have seen major improvements made across the board, with customer satisfaction rising to its highest ever level, capacity at record levels thanks to new trains and signalling systems, and more than 1.3 billion customer journeys now made each year.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-December-London Underground breaks the record again for busiest day ever on the Tube -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 