


@{ViewBag.Title = "Major upgrade of Bank Tube station gets the green light for work to begin";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Major upgrade of Bank Tube station gets the green light for work to begin</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Major upgrade of Bank Tube station gets the green light for work to begin</h1>
        <div class="content-page-press-release">
        18 December 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>The Mayor and Transport for London (TfL) have announced that work to dramatically transform and improve Bank Tube station will begin in the new year after the plans were given the go-ahead by Government.</p>
<p>The &pound;563m upgrade will increase the busy station's capacity by 40 per cent, improving accessibility and reducing interchange times when it is completed in 2021. Now approved, the station becomes the latest in a series of major upgrades taking place across the Capital.</p>
<p>Bank is the third busiest station on the Tube network and is used by over 52 million passengers per year, with demand having risen by 50 per cent over the last 10 years. Improving the station is critical to keep London working and growing and is a key step in TfL's future plan to increase frequency on the Northern line.</p>
<p>This vital interchange &#45; at the heart of the City of London &#45; will be modernised to include:</p>
<ul>
    <li>A new railway tunnel and platform for the Northern line that will reduce interchange times and create more space for passengers</li>
    <li>Step-free access to the Northern line and DLR platforms</li>
    <li>More direct routes, with two new moving walkways</li>
    <li>Three new lifts and 12 new escalators</li>
    <li>A new station entrance in Cannon Street</li>
</ul>
<p>The station will remain open to customers throughout the work. TfL will ensure the majority of construction work takes place below ground to minimise construction impact on the historically significant site, which is bordered by 31 listed buildings.</p>
<p>The Mayor of London, Boris Johnson MP, said: `Bank is a vital interchange for passengers and it is crucial that the station is able to keep up with the increasing demand placed on it. These exciting plans will completely transform the station, making it more accessible and much easier for everyone to use. It's great news for the tens of thousands who use the station every day that these plans have been approved, and is another major step in our work to transform the network and support our growing Capital.'</p>
<p>Nick Brown, Managing Director of London Underground, said: &quot;Improving Bank station is at the heart of our multi-billion pound investment programme to improve and expand the Tube. This critical and ambitious station upgrade will create a new southbound Northern line railway tunnel and platform to vastly reduce interchange times. A new station entrance on Cannon Street will also be constructed alongside a range of other major improvements to create more direct routes, improving accessibility for the millions of Tube customers who use Bank station each year.&quot;</p>
<p>The redevelopment will complement current work to create a new entrance to the Waterloo &amp; City line. Just metres away from Walbrook Square, the new entrance will offer two new lifts, four new escalators and a new ticket hall when it opens in late 2017.</p>
<p>London's population is set to grow from 8.6m today to around 10m by 2030 - an extra Tube train full of people every three days. Redevelopment work to increase capacity at key stations and make them step-free is underway at a number of stations, including Tottenham Court Road, Victoria and Bond Street. Crossrail will deliver 10 per cent additional capacity to London's rail network.</p>
<p>ENDS</p>
<p>Notes to Editors:</p>
<p>The Department for Transport has given the Transport and Works Act Order that will give permission to London Underground to upgrade the station.</p>
<p>About the Bank Station Upgrade:</p>
<ul>
    <li>
    The Bank Station Upgrade project team and main contractor Dragados SA are reconfiguring the station to provide 40 per cent more capacity. Work to improve Bank will result in shorter interchange times, less congestion, step-free access and quicker journeys in and out of the station.</li>
    <li>
    The improvements at Bank will reduce conflict between different flows of customers and the need to go up and down stairs.</li>
    <li>Over 200 engineers and staff will work on site at Bank 24-hours-a-day until 2021.</li>
    <li>
    Sixty per cent of LU's expenditure is with suppliers based outside of London, supporting 60,000 jobs in a supply chain stretching the length and breadth of the country. That's more than LU employs directly in London and is about the same number of people employed by Boots UK.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-December-Major upgrade of Bank Tube station gets the green light for work to begin -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 