


@{ViewBag.Title = "Make the most of London this festive season by planning ahead";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Make the most of London this festive season by planning ahead</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Make the most of London this festive season by planning ahead</h1>
        <div class="content-page-press-release">
        11 December 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has published its online Festive Travel Guide to help Londoners and visitors make the most of the Capital over the Christmas and New Year holiday period.</p>
<p>TfL's website, <a href="http://www.tfl.gov.uk/festive">www.tfl.gov.uk/festive</a>, contains daily travel information for those wanting to use all forms of public transport. It also includes information on the Victoria Coach Station and on the Congestion Charge during the holiday.</p>
<p>This year TfL, with sponsor Kayak.co.uk, will be providing free travel for everyone celebrating New Year's Eve so that millions of partygoers can get home safely. Free travel will be available between 23:45 on 31 December and 04:30, on 1 January on London's buses, Tube, Trams, DLR, TfL Rail and London Overground.</p>
<p>TfL is spending billions of pounds modernising London Underground and the roads network. The quieter Christmas period will enable TfL to carry out essential improvements, with thousands of engineers working on tracks, roads, signalling and rebuilding key stations. Christmas Day is the only day of the year when no Tube or rail services operate, but over a thousand people will be working and engineering trains will continue to work on the network. All train depots will be staffed throughout the festive period and on Christmas Day.</p>
<p>London's Transport Commissioner, Mike Brown MVO, said: `London's transport network has been carrying record numbers of passengers and users. It is essential that we use the quieter holiday period to carry out vital work so that we can keep the city working and support its growth. Customers travelling in and around London during this time are encouraged to use our festive travel website to help plan journeys in advance.'</p>
<p>Network Rail will be carrying out engineering works over the same period that will also affect some London Overground and TfL Rail services. This will include preparatory work on London Overground's Gospel Oak to Barking line ahead of electrification work next year, and signalling and track improvement work between Stratford and Shenfield for Crossrail. There will also be Crossrail work taking place at Whitechapel that will affect London Overground services. Full details on London Overground and TfL Rail services can be found at  www.tfl.gov.uk/festive .</p>
<p>There will also be some disruption to other National Rail services including journeys to Heathrow, Gatwick and Stansted airports due to engineering works during the Christmas period. For train times and detailed information on how Network Rail services could be impacted by Christmas engineering work, please go to&nbsp;<a href="http://www.nationalrail.co.uk/christmas">http://www.nationalrail.co.uk/christmas</a></p>
<p>A full list of TfL's social media channels is available at <a href="http://www.tfl.gov.uk/socialmedia">www.tfl.gov.uk/socialmedia</a>  which includes details of the Twitter feeds for each of the 11 different London Underground lines, buses, the DLR, Trams, London Overground, TfL Rail, Santander Cycles, Emirates Air Line cable car and live traffic news for updates during the festive period.<br />
Ends</p>
<p>Notes to editors</p>
<ul>
    <li>Please note that some of the travel information could be subject to change and customers are advised to check before they travel. The latest festive travel information is available online at www.tfl.gov.uk/festive.</li>
    <li>TfL has been providing free travel for party goers on New Year's Eve since it was created in 2000. Free travel will not apply on the Emirates Air Line cable car.</li>
    <li>The Mayor of London's New Year's Eve fireworks display in partnership with Unicef takes place on Thursday 31 December, focused around the London Eye. This year's event will be ticketed again - please visit london.gov.uk/nye for event information.</li>
    <li>Tickets have now sold out and anyone without a ticket will not be able to get into the viewing areas. There are plenty of other opportunities to celebrate the New Year across the capital. To help plan your night, go to <a href="http://www.visitlondon.com/newyear">www.visitlondon.com/newyear</a>.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-December-Make the most of London this festive season by planning ahead -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 