


@{ViewBag.Title = "Mayor sets out bold vision for 13 new river crossings for London ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mayor sets out bold vision for 13 new river crossings for London </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mayor sets out bold vision for 13 new river crossings for London </h1>
        <div class="content-page-press-release">
        02 December 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>A bold vision to transform cross-river travel in London has been unveiled by the Mayor of London today.</p>
<p>A total of 13 new tunnels and bridges have been proposed as part of the Mayor's vision for the future of the Capital &#45; increasing the total number of river crossings between Imperial Wharf and Dartford by more than a third, and the number for pedestrian and cyclists by nearly 50%.</p>
<p>The proposals, which would cater for both public transport and road users, are detailed in a new strategic plan that outlines how vital new cross-river transport links are in securing London's future success.</p>
<p>The report, Connecting the Capital, shows how the proposed crossings, from Fulham in the west to Dartford in the east, will support the needs of London's rapidly growing population, which is set to rise from 8.6 million now to 10 million by 2030. The proposed new river crossings will help to unlock the city's full potential, supporting thousands of new jobs and homes, driving economic growth and ensuring that London competes with other global cities.</p>
<p>The Mayor of London, Boris Johnson MP, said: `Building a series of new bridges and tunnels across the Thames is essential for the future prosperity of our rapidly-growing city. By creating more links between the north and south of the river, we won't just improve day-to-day travelling across the Capital, we'll unlock areas for development and create thousands of jobs and homes. From Fulham in the west to Dartford in the east, this is a vital package of crossings that will drive economic growth and get more people walking, cycling and on to public transport.'</p>
<p>Subject to funding, the new crossings will be progressed across London to be delivered between now and 2050. The majority will be in east London, where population growth will be highest &#45; with over one third of London's total population growth expected in the area.  Existing cross-river connections in east London are poor, with just three road crossings in the 23km between Tower Bridge and the M25, and just one bus route that crosses the river.</p>
<p>Richard de Cani, Managing Director for Planning at TfL, said: `With the Capital's population rising rapidly and more much-needed housing being built, crossing the river will become ever more important. New cross-river connections can unlock opportunities for local people and help transform an area, supporting regeneration and development. We must progress plans for this package of crossings if we are to support London's growth and galvanise the economic potential it presents.'</p>
<p>Today, a consultation has been launched on two of the proposed crossings to improve connections between east and southeast London. Transport for London (TfL) is consulting on crossings at Gallions Reach to link Thamesmead and Beckton, and Belvedere, linking Belvedere to Rainham. Both are planned to include a range of transport options and the consultation is asking for views about potential public transport links.</p>
<p>Colin Stanbridge, Chief Executive, London Chamber of Commerce and Industry, said: `London is growing eastwards and that means we need the right infrastructure to open-up new opportunities.  Like the Mayor and TfL, we are eager to see new crossings to connect the businesses and communities north and south of the river to unlock potential growth. I encourage local businesses to get involved and make their views known.'</p>
<p>TfL's work has shown that both the proposed Gallions Reach and Belvedere crossings would provide significant benefits to both local people and business and help to unlock jobs and homes on both sides of the river. They could also provide opportunities for new walking and cycling links. It has not yet been decided whether the crossings should be bridges or tunnels and factors such as environmental and visual impacts and the value for money of each solution will need to be assessed further before a decision can be made.  There would be a charge for vehicles to use the crossings to manage demand and help pay for the scheme.  Subject to funding, both crossings at Belvedere and Gallions Reach could be open by 2025.</p>
<p>In addition to Gallions Reach and Belvedere, the Mayor and TfL are already progressing a number of new river crossings. This includes:</p>
<ul>
    <li>A public consultation on Silvertown Tunnel has recently concluded. This crossing will seek to address the congestion and reliability issues at the Blackwall Tunnel and transform cross-river bus services in east London</li>
    <li>A direct link between Abbey Wood and Canary Wharf will be provided through Crossrail and is set to open to passengers in 2018</li>
    <li>The Garden Bridge is progressing which will encourage walking and help relieve central London public transport routes</li>
    <li>A design team is now appointed to progress a new pedestrian and cyclist bridge linking Battersea with Pimlico</li>
    <li>Options are being considered for a new pedestrian and cycle crossing linking Rotherhithe with Canary Wharf that will help accommodate growth in the surrounding area</li>
</ul>
<hr />
Notes to Editors:<br />
Connecting the Capital is available to download on our website &#45; <a href="http://www.tfl.gov.uk/new-river-crossings">www.tfl.gov.uk/new-river-crossings</a><br />
<p>The consultation on the Gallions Reach and Belvedere crossings will run from Wednesday 2 December 2015 to Friday 12 February 2016.  To take part visit  <a href="http://www.tfl.gov.uk/east-london-crossings">www.tfl.gov.uk/east-london-crossings</a>.</p>
Images are available here - <a href="https://www.flickr.com/photos/tflpress/albums/72157661762438001">https://www.flickr.com/photos/tflpress/albums/72157661762438001</a><br />
<p>Subject to securing funding and the necessary approvals, both crossings could be completed and open by 2025.</p>
The potential river crossings included in 'Connecting the Capital' and their stages of development are:
<ul>
    <li>Diamond Jubilee &#45; a pedestrian and cycle bridge linking Fulham with Battersea &#45; planning permission has been granted</li>
    <li>Crossrail 2 &#45; a new railway line connecting Hertfordshire and Surrey via central London and providing a new cross river link between Victoria and Clapham Junction, which TfL is currently consulting on</li>
    <li>Vauxhall, Nine Elms and Battersea &#45; a pedestrian and cycle bridge linking Vauxhall, Nine Elms and Battersea to Pimlico &#45; feasibility</li>
    <li>Garden Bridge &#45; a new pedestrian crossing linking the South Bank to Temple station &#45; planning permission granted</li>
    <li>Rotherhithe to Canary Wharf &#45; a pedestrian and cycle bridge &#45; feasibility</li>
    <li>North Greenwich to the Isle of Dogs &#45; a passenger ferry linking North Greenwich and the Isle of Dogs (Blackwall) &#45; conceptual</li>
    <li>Silvertown tunnel &#45; a twin bore tunnel connecting Silvertown on the north side to the Blackwall Tunnel Approach on the south side &#45; application for powers to construct under preparation</li>
    <li>Charlton &#45; a potential passenger ferry crossing linking the Royal Docks and Charlton Riverside &#45; conceptual</li>
    <li>Crossrail &#45; a new rail line linking Woolwich with Custom House and onward to Canary Wharf, central London and Heathrow Airport - under construction</li>
    <li>Gallions Reach &#45; a multi-modal crossing linking Thamesmead with Beckton along a safeguarded alignment &#45; consultation started today</li>
    <li>Barking Riverside to Thamesmead &#45; a London Overground tunnel extension from Barking Riverside to Thamesmead &#45; conceptual</li>
    <li>Belvedere&#45; a multi-modal crossing connecting Belvedere with Rainham &#45; consultation started today</li>
    <li>Lower Thames Crossing &#45; new road crossing linking Essex and Kent &#45; being progressed by Highways England for the Government</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-December-Mayor sets out bold vision for 13 new river crossings for London  -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 