


@{ViewBag.Title = "One third of London's buses to run on waste fats and oils ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">One third of London’s buses to run on waste fats and oils </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>One third of London’s buses to run on waste fats and oils </h1>
        <div class="content-page-press-release">
        21 December 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">
<p>Almost a third of London's bus fleet will soon be running on a greener blend of diesel, resulting in a huge reduction in CO2 emissions of 21,000 tonnes each year which comes on top of the 48,000 tonne CO2 reduction from 2013 levels as a result of the introduction of lower emitting buses such as hybrids.</p>
<p>Two bus operators, Stagecoach and Metroline, have signed deals with Argent Energy to supply them with B20 green diesel. The cleaner burning fuel is made from blending diesel with renewable biodiesel from waste products, including cooking oil and tallow from the meat processing trade.</p>
<p>By March next year, almost 3,000 of the capital's 8,900 buses will be powered by the B20 fuel blend. Six hundred and forty-two buses operating out of four Stagecoach depots have already been using B20 for two months on a trial basis.</p>
<p>Deputy Mayor for Environment and Energy, Matthew Pencharz, said: `As a leading global city London has an important role to play in reducing greenhouse gases and minimising our contribution to climate change.</p>
<p>`Just a fortnight after the Mayor's visit to the Paris conference on preventing global warming, I am very pleased to announce that nearly a third of London's buses will now be running on biodiesel, slashing the overall carbon emissions of the fleet and making use of fuels that would otherwise be clogging up our drains. These buses will be a proud addition to what is already the greenest bus fleet in the world, including hybrid, pure electric and pure hydrogen vehicles.</p>
<p>`This is ongoing progress for running our bus fleets on waste products and cutting CO2. We will continue to work with our industry partners to use more of London's used cooking oil turned into biodiesel right here in the city, creating green jobs and fuel self-sufficiency benefits.'</p>
<p>Mike Weston, TfL's Director of Buses, said: `Our bus fleet is now making a major contribution to improving air quality and bringing down CO2 emissions. This improvement, which will reduce CO2 emissions by 21,000 tonnes each year, is being introduced now with no extra spend needed and no long delay for the fitting of new kit. It's just one of a number of measures we are taking to make London's environment better for everyone.'</p>
<p>Dickon Posnett, Development Director of Argent Energy, said: `The ever-growing demand to reduce greenhouse gases from transport is well recognised. TfL and the Greater London Authority have actually done the research and have now shown they have the understanding of the immediate benefits that high bio-blend diesel can bring.</p>
<p>`They and London bus companies are leading the way in using this economic and simple option that can produce significant greenhouse gas reductions from bus fleets, here and now. The good example set here can only help to inform other UK cities that are also looking to make greenhouse gas savings.'</p>
<p>Biodiesel is a renewable, clean-burning fuel. TfL requires that biodiesel blended into B20 for London buses is made from waste, rather than crop-based feedstocks. It is estimated that buses running on waste-based B20 produce 10% less 'well to wheel' carbon emissions than a bus using ordinary diesel.</p>
<p>London's bus network is one of the largest in the world, carrying almost 2.4 billion passengers a year. Currently, the 8,900-strong bus fleet uses around 240 million litres of fuel each year. Under the new deals, about 80 million litres of the new greener blend of fuel per year will be consumed.</p>
<p>The Capital's bus fleet already has over 1,500 hybrid electric buses and 15 pure electric buses. Over 2,000 older buses have been retrofitted with Selective catalytic Reduction, reducing their NOx emissions by up to 88% per bus. The number of hybrid buses will increase to over 1,700 by 2016 &#45; a figure that will represent over 20% of the fleet.</p>
<p>In addition, eight zero emission hydrogen buses operate on route RV1, between Covent Garden and Tower Gateway. TfL will also soon be trialling inductive charging technology that will enable special extended range diesel electric hybrid buses to wirelessly charge their batteries while they wait at bus stands.</p>
<p>The technology will be trialled on up route 69 in east London, which runs between Canning Town and Walthamstow bus stations.</p>
<p>The world's first purpose-built double deck electric buses will also enter passenger service shortly. By 2020, as part of the Ultra Low Emission Zone, TfL is committed to ensuring all 300 single decker buses operating in central London are zero emission (e.g. electric or hydrogen), and all 3,100 double deck buses are hybrid.</p>
<hr />
<ul>
    <li>The GLA is undertaking a cost benefit analysis of biodiesel use and other renewable fuels in local authority fleets to help boroughs decide where the best opportunities lie to cut carbon and improve local air quality.</li>
    <li>No mechanical change is needed to run a bus on a 20% blend of biofuel. The biodiesel being supplied by Argent Energy is all made from wastes and residues. This will be added to standard road diesel (EN590) which may already have a blend of up to 7% biodiesel allowed within the legislation.</li>
    <li>B20 is a mix of 80% standard diesel with 20% biodiesel which are are blended at Argent Energy's London blending facility.</li>
    <li>'Delivering London's Energy Future &#45; the Mayor's Climate Change Mitigation and Energy Strategy' commits to minimising CO2 emissions from transport through the use of low carbon vehicles, technologies and fuels. <a href="http://www.london.gov.uk/priorities/environment/publications/delivering-londons-energy-future-the-mayors-climate-change-mitigation-and-energy-strategy">http://www.london.gov.uk/priorities/environment/publications/delivering-londons-energy-future-the-mayors-climate-change-mitigation-and-energy-strategy</a></li>
    <li>Argent Energy (UK) Limited pioneered the large scale commercial production of biodiesel in the UK. They are the country's foremost biodiesel producer and their fuel is giving transport businesses the ability to dramatically reduce their carbon emissions. All Argent's biodiesel is manufactured from wastes and residues. Argent's green diesel, is in use in over 6,000 vehicles in the UK, allowing their fleet customers to make an annual saving greenhouse gas saving of over 75,000 tonnes. For more information visit <a href="http://www.argentenergy.com">www.argentenergy.com</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       


            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-December-One third of London’s buses to run on waste fats and oils  -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 