


@{ViewBag.Title = "Proposal to establish Crossrail 2 Ltd to help advance vital new railway";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Proposal to establish Crossrail 2 Ltd to help advance vital new railway</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Proposal to establish Crossrail 2 Ltd to help advance vital new railway</h1>
        <div class="content-page-press-release">
        10 December 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>The Mayor of London and Transport for London (TfL) today announced their intention to ask the TfL Board to set up a new company, Crossrail 2 Ltd, to take forward the development and delivery of this vital new railway.</p>
<p>Crossrail 2 will transform the South East, serving central London through an underground tunnelled section between Wimbledon and Tottenham Hale and New Southgate and connecting with existing National Rail networks in Surrey and Hertfordshire. It will help relieve the increasing pressure on London's transport network, support 200,000 new homes and 200,000 new jobs and provide a boost to the UK economy of up to 102bn.</p>
<p>Crossrail 2 Ltd would be a wholly owned subsidiary of TfL tasked with driving forward the development of the project. The Board, which will comprise of a number of non-executive directors and senior TfL officers, will bring together senior industry expertise and will steer the project through the development phase to the grant of powers to begin construction.</p>
<p>The proposed railway received a boost in the recent Spending Review and Autumn Statement, as the Chancellor confirmed that the project would be eligible for funding from a new 300 million Transport Development Fund. TfL and Network Rail have already made a comprehensive business case submission to Government, and the project will now be considered by the new National Infrastructure Commission, chaired by Lord Adonis, which is expected to report back in Spring 2016.</p>
<p>Significant progress has been made by TfL, working with Network Rail, on the design phase of Crossrail 2 with the latest public consultation on locations for stations and worksites now underway.  The project is due to accelerate further in mid-2016, with continued development of the Business Case, with further work to secure funding  and decisions on powers for its construction, which could be as early as 2020. The independent Crossrail 2 Growth Commission, chaired by Sir Merrick Cockell, has been gathering evidence and will report next year to ensure opportunities for regional and national growth are maximised.</p>
<p>The Mayor of London, Boris Johnson MP, said: `Crossrail 2 is a vital infrastructure project needed to give London and the South East the transport links, homes and jobs it needs as the population continues to grow rapidly. To continue to develop the project at pace and bring together stakeholders and other advocates, I am asking TfL to set up a company that will have the job of fulfilling the Chancellor's pledge last year that we must get Crossrail 2 off the page and into construction.'</p>
<p>Mike Brown MVO, London's Transport Commissioner, said: `The contribution of the Crossrail project, shows how successful we can be in taking forward vital infrastructure projects. It makes sense that we now proceed with forming Crossrail 2 Limited for the development phase and get construction underway as soon as possible.'</p>
<p>Even with the addition of Crossrail services from 2018, and ongoing improvements to London Underground and the National Rail network, further large-scale infrastructure projects will be vital to support the Capital's expected population increase, from a record 8.6 million today to 10 million people by 2030. Current proposals would see Crossrail 2 services become operational in 2030.</p>
<p>The new railway would provide capacity for 270,000 more people to access central London during the morning peak, with an increase in the number of trains from major destinations across south west London and Surrey including Wimbledon, New Malden, Kingston and Epsom and across north east London and Hertfordshire including Tottenham Hale, Waltham Cross, Cheshunt and Broxbourne.</p>
<p>Crossrail 2 would also free up space on some of the most congested lines on the National Rail network, which could be used to run additional longer distance services from Hampshire and Surrey into Waterloo and from Cambridgeshire and Hertfordshire into Liverpool Street during peak periods. Significant passenger growth is expected at key mainline stations and Waterloo alone has seen numbers rise from 86.4m to 98.4m, almost 15 per cent, during the last five years. The new railway would support significant growth potential with areas such as Cambridge, Stansted, Basingstoke, Portsmouth and Southampton potentially benefiting.</p>
<p>Beyond the South East, Crossrail 2 will bring more than 800 destinations around the country within one interchange of a Crossrail 2 station, including towns in the Midlands and the North such as Birmingham, Liverpool and Manchester.</p>
<p>ENDS</p>
<p>Notes to editors:</p>
<ul>
    <li>The proposal will be considered by the TfL Board on Thursday 17 December.</li>
    <li>Copies of TfL Board meeting papers are available online - <a href="http://The Mayor of London and Transport for London (TfL) today announced their intention to ask the TfL Board to set up a new company, Crossrail 2 Ltd, to take forward the development and delivery of this vital new railway.    Crossrail 2 will transform the South East, serving central London through an underground tunnelled section between Wimbledon and Tottenham Hale and New Southgate and connecting with existing National Rail networks in Surrey and Hertfordshire. It will help relieve the increasing pressure on London's transport network, support 200,000 new homes and 200,000 new jobs and provide a boost to the UK economy of up to 102bn.   Crossrail 2 Ltd would be a wholly owned subsidiary of TfL tasked with driving forward the development of the project. The Board, which will comprise of a number of non-executive directors and senior TfL officers, will bring together senior industry expertise and will steer the project through the development phase to the grant of powers to begin construction.    The proposed railway received a boost in the recent Spending Review and Autumn Statement, as the Chancellor confirmed that the project would be eligible for funding from a new 300 million Transport Development Fund. TfL and Network Rail have already made a comprehensive business case submission to Government, and the project will now be considered by the new National Infrastructure Commission, chaired by Lord Adonis, which is expected to report back in Spring 2016.    Significant progress has been made by TfL, working with Network Rail, on the design phase of Crossrail 2 with the latest public consultation on locations for stations and worksites now underway.  The project is due to accelerate further in mid-2016, with continued development of the Business Case, with further work to secure funding  and decisions on powers for its construction, which could be as early as 2020. The independent Crossrail 2 Growth Commission, chaired by Sir Merrick Cockell, has been gathering evidence and will report next year to ensure opportunities for regional and national growth are maximised.    The Mayor of London, Boris Johnson MP, said: &quot;Crossrail 2 is a vital infrastructure project needed to give London and the South East the transport links, homes and jobs it needs as the population continues to grow rapidly. To continue to develop the project at pace and bring together stakeholders and other advocates, I am asking TfL to set up a company that will have the job of fulfilling the Chancellor's pledge last year that we must get Crossrail 2 off the page and into construction.&quot;   Mike Brown MVO, London's Transport Commissioner, said: &quot;The contribution of the Crossrail project, shows how successful we can be in taking forward vital infrastructure projects. It makes sense that we now proceed with forming Crossrail 2 Limited for the development phase and get construction underway as soon as possible.&quot;   Even with the addition of Crossrail services from 2018, and ongoing improvements to London Underground and the National Rail network, further large-scale infrastructure projects will be vital to support the Capital's expected population increase, from a record 8.6 million today to 10 million people by 2030. Current proposals would see Crossrail 2 services become operational in 2030.   The new railway would provide capacity for 270,000 more people to access central London during the morning peak, with an increase in the number of trains from major destinations across south west London and Surrey including Wimbledon, New Malden, Kingston and Epsom and across north east London and Hertfordshire including Tottenham Hale, Waltham Cross, Cheshunt and Broxbourne.   Crossrail 2 would also free up space on some of the most congested lines on the National Rail network, which could be used to run additional longer distance services from Hampshire and Surrey into Waterloo and from Cambridgeshire and Hertfordshire into Liverpool Street during peak periods. Significant passenger growth is expected at key mainline stations and Waterloo alone has seen numbers rise from 86.4m to 98.4m, almost 15 per cent, during the last five years. The new railway would support significant growth potential with areas such as Cambridge, Stansted, Basingstoke, Portsmouth and Southampton potentially benefiting.   Beyond the South East, Crossrail 2 will bring more than 800 destinations around the country within one interchange of a Crossrail 2 station, including towns in the Midlands and the North such as Birmingham, Liverpool and Manchester.   ENDS   Notes to editors: •	The proposal will be considered by the TfL Board on Thursday 17 December. •	Copies of TfL Board meeting papers are available online - https://tfl.gov.uk/corporate/publications-and-reports/board-papers ">https://tfl.gov.uk/corporate/publications-and-reports/board-papers</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-December-Proposal to establish Crossrail 2 Ltd to help advance vital new railway -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 