


@{ViewBag.Title = "Santander Cycles to be fitted with Blaze Laserlights to improve safety";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Santander Cycles to be fitted with Blaze Laserlights to improve safety</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Santander Cycles to be fitted with Blaze Laserlights to improve safety</h1>
        <div class="content-page-press-release">
        21 December 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Santander brings 'Light To The Dark Side' with the installation of Laserlights following a successful trial with 90% of funding for the safety lights provided by Santander UK
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'm delighted that through this great partnership, we're able to help improve safety and support the enterprise of another brilliant London start-up"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson MP</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>The Mayor of London, Boris Johnson MP, TfL, and Santander UK have today announced that all 11,500 Santander Cycles will be fitted with Blaze Laserlights over time from early 2016.</p>
<p>After a successful trial with overwhelmingly positive feedback and strong independent test results, the lights will provide a bigger, brighter presence on the road and early warning of a cyclist's proximity.</p>
<p>The project is largely funded by Santander UK as part of the partnership with TfL.</p>
<p>The Blaze Laserlight projects the symbol of a bicycle shape six metres in front of the cycle, onto the ground, giving the cyclist a larger footprint on the road.</p>
<h2>'Heads up' warning </h2>
<p>This makes their presence known, alerts drivers to their approach and helps ensure they are seen when otherwise they might be invisible, for example when they are on the near side of a vehicle turning left.</p>
<p>It also gives a pedestrian about to step off the pavement a 'heads up' warning of an approaching cycle.</p>
<p>The Blaze Laserlight™ was developed by Emily Brooke, the CEO and founder of Blaze, a London start-up that makes products for urban cyclists.</p>
<p>Having previously left studying Physics at Oxford University, for Design in Brighton, the Laserlight was her final year project.</p>
<h2>A world first </h2>
<p>The strength of the innovation won her a place on a Santander funded Entrepreneurship Program in Boston, where Emily gained the confidence to return home and turn the concept into a reality and business.</p>
<p>In a world first, the Laserlights will be installed directly into the bike frame to ensure the image is projected at the ideal position for both cyclists, drivers and pedestrians.</p>
<p>The Laserlights will only come on only when it is dark to save energy.</p>
<h2>New and innovative</h2>
<p>The Mayor of London, Boris Johnson MP, said: 'It's fantastic that our Santander Cycles will be able to bring light to the dark side of the street with these nifty Laserlights.</p>
<p>'We're always looking to develop new and innovative ways to help people cycle around the Capital more safely and these green lights will help all our cycle hire users to stay seen at night.</p>
<p>'I'm delighted that through this great partnership, we're able to help improve safety and support the enterprise of another brilliant London start-up.'</p>
<p>In September, 250 Santander Cycles were fitted with the technology and the trial has received positive feedback. In an on-street survey of cyclists trialling bikes with the Laserlights fitted, around three-quarters said that it made them feel more confident.</p>
<p>Almost half also said they would be more likely to use Santander Cycles at night with the Laserlight fitted.</p>
<h2>Encourage more cyclists </h2>
<p>James Mead, TfL's General Manager of Santander Cycles, said: 'The addition of Blaze Laserlights on our Santander Cycles is a great safety initiative that has been made possible through our partnership with Santander.</p>
<p>'Our first priority is to protect the safety of all road users. We have received positive feedback throughout the trial and are confident that the new addition will encourage more cyclists, new or experienced, to use the bikes for commuting or leisure.'</p>
<p>Keith Moor, Chief Marketing Officer, Santander UK, said: 'When we became the partner of TfL on Santander Cycles we made a commitment to make the scheme fun, rewarding and easy; and to help increase the usage of the cycles, with the wider benefits this can bring to London.</p>
<p>'We know safety is a big barrier for people and this demonstrates the commitment on our part to help more people feel confident in accessing the scheme. </p>
<p>'But it is also shows our ongoing commitment to higher education, to entrepreneurs and to small businesses. For Blaze, this breakthrough business is on the cusp of something very exciting and we're thrilled to be a part of that.'</p>
<h2>Cyclists more visible</h2>
<p>Emily Brooke, Blaze CEO &amp; Founder, said: 'We are truly thrilled our Laserlight technology is being integrated into the entire fleet of Santander Cycles.</p>
<p>'Although we have been shipping the consumer version for nearly two years, and now to 52 countries, this incredible partnership immediately takes things to the next level and will make thousands of cyclists more visible and safer on our roads.'</p>
<p>The introduction of Blaze Laserlights is a result of the partnership between TfL and Santander UK to enhance the Santander Cycles scheme and deliver more benefits to users, making cycling more fun, rewarding and easier. </p>
<p>The Santander Cycles App was launched by the partnership in May and has already been used for more than a quarter of a million hires.</p>
<p>The new Laserlights will be promoted with a new Star Wars themed online film featuring all three of Santander's ambassadors: Jenson Button, Rory McIlroy and Jessica Ennis-Hill as well as a cameo role for Emily from Blaze. The film 'Santander Brings Light to the Dark Side' is viewable at <a href="https://youtu.be/eNiA38Z9dy8">https://youtu.be/eNiA38Z9dy8</a>.</p>
<p>The cycle lights are one of a wide variety of initiatives TfL undertakes to improve the safety of cyclists, and all road users, to meet the Mayor's target of reducing death or injury on London's roads by 50 percent by 2020.</p>
<p>&nbsp;</p>
<hr />
<p><strong>Notes to Editors:</strong></p>
<ul>
    <li>Santander UK is contributing &pound;768,000 of the &pound;860,000 cost of installing Blaze Laserslights to all 11,500 Santander Cycles as part of its partnership with TfL. TfL will contributing the remaining cost from its Cycle Hire Operational budget</li>
    <li>Santander Cycles is the second largest cycle hire scheme in Europe. Since launching in July 2010, more than 46million journeys have been made on the cycle hire bikes</li>
    <li>Santander became partners and sponsors of the cycle hire scheme in 2015. <a href="https://tfl.gov.uk/info-for/media/press-releases/2015/february/mayor-announces-santander-as-new-cycle-hire-sponsor">https://tfl.gov.uk/info-for/media/press-releases/2015/february/mayor-announces-santander-as-new-cycle-hire-sponsor</a></li>
    <li>The Mayor and TfL updated their six key commitments to improve road safety in October 2015 in 'Safe London Streets: Our approach' and announced the new approach to road safety through tackling the sources of road danger. <a href="https://tfl.gov.uk/corporate/safety-and-security/road-safety/safe-streets-for-london">https://tfl.gov.uk/corporate/safety-and-security/road-safety/safe-streets-for-london</a> . The commitments are:</li>
</ul>
<ol>
    <li>To lead the way in achieving a 50% reduction in the number of people killed or seriously injured on the capital's roads by 2020 - with a longer term ambition of freeing London's roads from death and serious injury</li>
    <li>To prioritise safety of the most vulnerable groups - pedestrians, cyclists and motorcyclists - which make up 80% of serious and fatal collisions</li>
    <li>To provide substantial funding for road safety, invested in the most effective and innovative schemes</li>
    <li>To increase efforts with the police and enforcement agencies in tackling illegal, dangerous and careless road user behaviour that puts people at risk</li>
    <li>To campaign for changes in national and EU law to make roads, vehicles and drivers safe</li>
    <li>To work in partnership with boroughs and London's road safety stakeholders to spread best practice and share data and information</li>
</ol>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-December-Santander Cycles to be fitted with Blaze Laserlights to improve safety -->

 
 
        
        
            @{ViewBag.Description = "Santander brings ‘Light To The Dark Side’ with the installation of Laserlights following a successful trial with 90% of funding for the safety lights provided by Santander UK";}
        
        


 