


@{ViewBag.Title = "TfL secures planning permission to bring former WWII deep-level shelter to life";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL secures planning permission to bring former WWII deep-level shelter to life</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL secures planning permission to bring former WWII deep-level shelter to life</h1>
        <div class="content-page-press-release">
        21 December 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has secured planning permission and listed building consent from Lambeth Council to turn a park-side rotunda building near Clapham South Tube station into a new restaurant or caf&eacute; with exhibition space, bringing the historic Grade II World War Two shelter back to life.</p>
<p>As part of its plan to make the most of its assets to generate revenue that can be reinvested into London's transport network, TfL submitted a planning application in August 2015 to transform the historic rotunda, which sits on the south eastern corner of Clapham Common, opposite the Tube station.</p>
<p>A caf&eacute; or restaurant will be created on the site, offering views over Clapham Common, with the space leased by TfL to a private company. The approved plans will also provide shared facilities that the London Transport Museum will use as part of their pre-booked &quot;Hidden London&quot; tours of the deep-level shelters. An exhibition space telling the history of the tunnels will be displayed when the tours are not running.</p>
<p>Under the Rotunda, 180 steps below ground and under the Northern line tunnels, lies eight deep-level air-raid shelters that were built between 1940 and 1942. The vast tunnels are one of seven deep level networks constructed along the Northern line. It was not until 1944, when the bombing of London intensified with the use of V-1 and V-2 bombs, that the shelter was used for its intended purpose of housing up to 8,000 Londoners during air-raids. It closed after less than a year in May 1945, and was then subsequently used as a military and civilian hostel.</p>
<p>In 1948, 492 migrants from Jamaica arrived on the HMT Empire Windrush, and some were temporarily housed in the shelter. The Festival of Britain, in 1951, saw large numbers of tourists and school children arriving in London and the shelter was once again used to house them and others requiring cheap bed and breakfast accommodation.</p>
<p>Graeme Craig, Director of Commercial Development at TfL, said: `Clapham South's deep-level shelters have played an important role in shaping the London that we know today. The planning approval that we have received from Lambeth Council means that this structure can once again be brought back to life. Linking the new restaurant or caf&eacute; above ground with the historic shelters below ground showcases how we are opening up our assets to Londoners and delivering value for fare payers.'</p>
<p>TfL has rented out the shelter for secure archive storage in the past. In 1998, English Heritage awarded the shelter Grade II listed status in recognition of its history, noting that it is the only deep-level shelter remaining that retains much of the original signage and is one of the few to retain many of the original bunk beds.</p>
<p>TfL intends to take the redevelopment plans to the market in the New Year. Construction work could start in mid-2016.</p>
<p>Sam Mullins, Director for London Transport Museum, said: `We're really excited about the transformation of the Rotunda into a new restaurant or caf&eacute; on Clapham Common. We look forward to working with the new tenants to create a very special visitor experience about this piece of hidden London history. This new exhibition space will add an interesting element to our already popular Hidden London tours.'</p>
<p>Other Hidden London disused station tours run by London Transport Museum include Churchill's secret station at Down Street, Aldwych station and Charing Cross.</p>
<p>Ends</p>
<p>Notes to Editors</p>
<ul>
    <li>
    Images are available at: <a href="https://flic.kr/s/aHskrpzLtq">https://flic.kr/s/aHskrpzLtq</a></li>
    <li>POW Architects, Indigo Planning and vcl2 were appointed to support TfL on the project.</li>
    <li>
    There is always great demand for Hidden London disused stations tours. Visitors wishing to be the first to hear about new dates for tours and to obtain priority-booking information to buy tickets should sign up to London Transport Museum's enewsletter at <a href="http://www.ltmusuem.co.uk.">www.ltmusuem.co.uk.</a></li>
</ul>
<p>About London Transport Museum:</p>
<ul>
    <li>
    London Transport Museum is situated in the heart of Covent Garden and filled with stunning exhibits; the Museum explores the powerful link between transport and the growth of modern London, culture and society since 1800. Historic vehicles, world-famous posters and the very best objects from the Museum's extraordinary collection are brought together to tell the story of London's development and the part transport played in defining the unique identity of the city.</li>
    <li>
    The Museum is an educational and heritage preservation charity. Its purpose is to conserve and explain the history of London's transport, to offer people an understanding of the Capital's past development and to engage them in the debate about its future. The Museum's charity number is 1123122.</li>
</ul>
<p>
Public information about the Museum:</p>
<ul>
    <li>
    Talks &amp; events bookings: +44 (0)20 7565 7298</li>
    <li>&nbsp;Switchboard: +44 (0)20 7379 6344 - general information</li>
    <li>
    24 hour information: +44 (0)20 7565 7299</li>
</ul>
<p>
<a href="http://www.ltmuseum.co.uk">www.ltmuseum.co.uk</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-December-TfL secures planning permission to bring former WWII deep-level shelter to life -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 