
    
  



@{ViewBag.Title = "Cycle skills";}
@{ViewBag.Keywords = "Cyclists,Cycling,TfL";}
@{ViewBag.Url = "/modes/cycling/cycle-skills";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
            
                <li><span class="last-breadcrumb">Cycle skills</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Cycle skills</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We fund free cycle training for all abilities. So, whether you're a new or regular cyclist, you can improve your skills and learn from a qualified instructor.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box left-float">
    
        
        
        <img src="/cdn/static/cms/images/basic-cycle-skills-teaser_rdax_400x250.jpg" alt="Basic cycle skills cartoon bike image" />
        
        
        
    </div>
    <h2>Basic cycle skills</h2>

<p>Practice off-road and learn the basics.</p>

<p>Improve&nbsp;your skills to cycle&nbsp;confidently&nbsp;through your local area.&nbsp;</p>
 </div>
 <div class="clearfix">
    <div class="image-box left-float">
    
        
        
        <img src="/cdn/static/cms/images/urban-cycle-skills-teaser_rdax_400x250.jpg" alt="Urban Cycle Skills cartoon image" />
        
        
        
    </div>
    <h2>Urban cycle skills</h2>

<p>Practice off-road&nbsp;and&nbsp;then move on to quiet roads to refresh your cycling technique.&nbsp;</p>
 </div>
 <div class="clearfix">
    <div class="image-box left-float">
    
        
        
        <img src="/cdn/static/cms/images/advanced-cycle-skills-teaser_rdax_400x250.jpg" alt="Advanced cycle skills cartoon bike image" />
        
        
        
    </div>
    <h2>Advanced cycle skills</h2>

<p>Practice one-to-one to improve your cycling skills at complex junctions, in heavy traffic or at night.&nbsp;</p>
 </div>
 <div class="clearfix">
    <div class="image-box left-float">
    
        
        
        <img src="/cdn/static/cms/images/family-cycle-skills-teaser_rdax_400x250.jpg" alt="Family cycle skills cartoon bike image" />
        
        
        
    </div>
    <h2>Family cycle skills</h2>

<p>Practice on quiet routes and through parks to learn how to cycle with&nbsp;children.</p>

<p>This session prepares&nbsp;children&nbsp;for&nbsp;<a href="https://bikeability.org.uk/">Bikeability</a>.&nbsp;</p>
 </div>
 <div>

<h2>Book&nbsp;cycle training</h2>

<p>You can <a href="https://tfl.gov.uk/forms/12421.aspx">book these free cycle training courses in your borough</a>.</p>

<h2>Cycle skills for children&nbsp;</h2>

<p><a href="https://bikeability.org.uk/">Bikeability</a> is a cycle training&nbsp;programme&nbsp;for&nbsp;children.&nbsp;They can complete three levels of training through their primary and secondary school:&nbsp;</p>

<ul>
	<li><a href="https://bikeability.org.uk/bikeability-training/bikeability-level-1/">Bikeability&nbsp;level 1</a>&nbsp;- learn to control your cycle off-road&nbsp;</li>
	<li><a href="https://bikeability.org.uk/bikeability-training/bikeability-level-2/">Bikeability&nbsp;level 2</a>&nbsp;- cycle safely on the quiet roads&nbsp;</li>
	<li><a href="https://bikeability.org.uk/bikeability-training/bikeability-level-3/">Bikeability level 3</a>&nbsp;- cycle safely on busy roads&nbsp;and at junctions&nbsp;</li>
</ul>

<p>If your child's school doesn't offer&nbsp;Bikeability, you can&nbsp;<a href="https://bikeability.org.uk/find-a-course/">search for courses in your area</a>.&nbsp;</p>

<h2>Borrow a&nbsp;cycle&nbsp;</h2>

<p>If you don't have a cycle, you may be able to borrow one from your&nbsp;<a href="https://directory.londoncouncils.gov.uk/">local borough</a>&nbsp;cycling team.</p>

<h2>Related content&nbsp;</h2>

<ul>
	<li><a href="/travel-information/safety/road-safety-advice/driving-and-cycling-safety">Cycling safely</a></li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes and maps</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/modes/cycling/cycle-skills">Cycle skills</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycles-on-public-transport">Cycles on public transport</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycle-parking">Cycle parking</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find free cycle training in London for new and experienced cyclists";}
        
            
        


 