
    
  



@{ViewBag.Title = "Cycles on public transport";}
@{ViewBag.Keywords = "Cyclists,Cycling,TfL";}
@{ViewBag.Url = "/modes/cycling/cycles-on-public-transport";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
            
                <li><span class="last-breadcrumb">Cycles on public transport</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Cycles on public transport</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out where and when you can take different types of cycles on our transport and National Rail services.
        
      </div>
    
    <div class="on-this-page">
      <h2>Folded&nbsp;cycles&nbsp;</h2>

<p>You can take folded&nbsp;cycles anywhere, at any time on all our transport services.&nbsp;</p>

<p>For buses, the driver can decide to not let you travel&nbsp;if it's too busy.&nbsp;</p>

<h2>Non-folded&nbsp;cycles&nbsp;</h2>

<p>You can take non-folded&nbsp;cycles on some&nbsp;services at&nbsp;specific&nbsp;times:&nbsp;</p>

<h2>Trains&nbsp;</h2>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cycles-on-public-transport.pdf">
    <div class="document-download-text">
        <p>Taking cycles on trains map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 337KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 
</div>

</div>
 <div>

<h3>Tube&nbsp;&nbsp;</h3>

<ul>
	<li>Allowed Monday to Friday before 07:30, between 09:30 and 16:00, and after 19:00&nbsp;</li>
	<li>Allowed anytime on weekends and bank holidays&nbsp;</li>
</ul>
</div>
 

<div class="table-container">
<div class="table-container"><table>
	<tbody>
		<tr>
			<td><strong>Line</strong></td>
			<td><strong>Stations allowed</strong></td>
		</tr>
		<tr>
			<td>Bakerloo</td>
			<td>Between Queen's Park and Harrow &amp; Wealdstone&nbsp;</td>
		</tr>
		<tr>
			<td>Central</td>
			<td>Between Leyton, Epping and Newbury Park&nbsp;(via Hainault only)&nbsp;<br />
			Between White City, Ealing Broadway and West&nbsp;Ruislip&nbsp;</td>
		</tr>
		<tr>
			<td>Circle</td>
			<td>Anywhere&nbsp;</td>
		</tr>
		<tr>
			<td>District</td>
			<td>Anywhere</td>
		</tr>
		<tr>
			<td>Hammersmith &amp; City</td>
			<td>Anywhere</td>
		</tr>
		<tr>
			<td>Jubilee</td>
			<td>Between Stratford and Canning Town&nbsp;<br />
			Between&nbsp;Finchley&nbsp;Road and Stanmore&nbsp;</td>
		</tr>
		<tr>
			<td>Metropolitan</td>
			<td>Anywhere&nbsp;</td>
		</tr>
		<tr>
			<td>Northern</td>
			<td>Between&nbsp;Golders&nbsp;Green and Hendon Central&nbsp;<br />
			Between Colindale and Edgware&nbsp;<br />
			Between East Finchley, Mill Hill East and High Barnet&nbsp;</td>
		</tr>
		<tr>
			<td>Piccadilly</td>
			<td>Between Oakwood and Cockfosters&nbsp;<br />
			Between Barons Court, Hounslow West and Uxbridge&nbsp;</td>
		</tr>
	</tbody>
</table></div>
</div>


 <div>

<h3>London Overground</h3>

<ul>
	<li>Allowed Monday to Friday before 07:30, between 09:30 and 16:00, and after 19:00&nbsp;</li>
	<li>Allowed anytime on weekends and bank holidays&nbsp;</li>
</ul>

<p>You can also take non-folded cycles on trains:&nbsp;</p>

<ul>
	<li>Leaving Liverpool Street station going towards Chingford, Enfield Town or Cheshunt, between 07:30 and 09:30&nbsp;</li>
	<li>Arriving at Liverpool&nbsp;Street station from Chingford, Enfield Town or Cheshunt, between 16:00 and 19:00</li>
</ul>

<h3>TfL&nbsp;Rail&nbsp;</h3>

<ul>
	<li>Allowed anytime on weekends and bank holidays</li>
</ul>

<p>You can also take non-folded cycles from Monday to Friday, on trains:&nbsp;</p>

<ul>
	<li>Arriving at Liverpool&nbsp;Street or Stratford station before 07:30&nbsp;and after 09:30&nbsp;</li>
	<li>Leaving Liverpool Street or Stratford station before 16:00 and after 19:00</li>
	<li>Arriving at London Paddington before 07:45 and after 09:45&nbsp;</li>
	<li>Leaving London Paddington before 16:30 and after 19:00&nbsp;</li>
</ul>

<h3>DLR&nbsp;</h3>

<ul>
	<li>Allowed Monday to Friday before 07:30, between 09:30 and 16:00, and after 19:00&nbsp;</li>
	<li>Allowed anytime on weekends and bank holidays&nbsp;</li>
</ul>

<h3>National Rail&nbsp;</h3>

<p>Use&nbsp;<a href="http://plusbike.nationalrail.co.uk/">PlusBike</a>&nbsp;to find out where you can take cycles on National Rail services.&nbsp;&nbsp;&nbsp;</p>

<h2>Bus&nbsp;and tram&nbsp;</h2>

<p>Non-folded&nbsp;cycles can't be taken on buses and trams.&nbsp;</p>

<h2>River&nbsp;</h2>

<p>Most&nbsp;<a href="/modes/river/index">river services</a>&nbsp;allow&nbsp;non-folded&nbsp;cycles&nbsp;but you should check with them before you travel.&nbsp;</p>

<h2>Emirates Air Line&nbsp;</h2>

<p>You can take&nbsp;a&nbsp;non-folded&nbsp;cycle at&nbsp;any&nbsp;time.&nbsp;</p>

<h2>Coaches&nbsp;</h2>

<p>You need to check with the&nbsp;<a href="/modes/coaches/coach-companies">coach company</a>&nbsp;to see if you can take a non-folded cycle.&nbsp;</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes and maps</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycle-skills">Cycle skills</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/modes/cycling/cycles-on-public-transport">Cycles on public transport</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycle-parking">Cycle parking</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out where and when you can take different types of cycles or bikes on our transport and National Rail services.";}
        
            
        


 