
    
  


<!-- rhroot -->
@{ViewBag.Title = "Cycling";}
@{ViewBag.Keywords = "Cycling ,TfL";}
@{ViewBag.Url = "/modes/cycling/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">Cycling</span></li>
            
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container landing-page section-landing-container">
        <h1>Cycling</h1>
        
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">
        <div class="small-medium" data-set="widget"></div>
        <div class="primary-teaser landing-page-teaser">
            <div class="news-teaser ">
  
  <a href="/modes/cycling/routes-and-maps?intcmp=2344"  data-img="/cdn/static/cms/images/promos/map-teaser.jpg" data-img-breakpoint="medium" data-img-alt="An assortment of photographs laid out on a paper map">
    <img src="/cdn/static/cms/images/promos/map-teaser_rdax_600x300.jpg" alt="An assortment of photographs laid out on a paper map" />
    <div class="text-link sit-top">
      <h2>Routes and maps</h2>
      <p>Discover London by cycle. Use our routes and maps to explore the city</p>
    </div>
  </a>
</div>

 
        </div>
        
        <div class="clearfix">
            
        </div>
        <div class="module-grid clearfix">
            <div class="news-teaser">

    <a href="/modes/cycling/cycle-skills?intcmp=2386" >
        <img src="/cdn/static/cms/images/promos/cycle-training-web_rdax_400x200.jpg" alt="Group of cyclists on a cycle training course lined up together" />
        
        <div class="text-link">
             <h2>Cycle skills</h2>
            <p>Book free cycle training to improve your skills</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/cycles-on-public-transport?intcmp=2366" >
        <img src="/cdn/static/cms/images/promos/folding-cycle-crop_rdax_400x200.jpg" alt="Person holding a folded cycle whilst getting off the tube." />
        
        <div class="text-link">
             <h2>Cycles on public transport</h2>
            <p>See where you can take your cycle on services across London</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/cycle-parking?intcmp=2369" >
        <img src="/cdn/static/cms/images/promos/bike-hangar-web_rdax_400x200.jpg" alt="Woman closing the lid for a bikehangar on a residential street" />
        
        <div class="text-link">
             <h2>Cycle parking</h2>
            <p>Find safe places across London to park your cycle</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://londonblog.tfl.gov.uk/2020/01/31/salayhars-story/?intcmp=61851" >
        <img src="/cdn/static/cms/images/promos/salayhar-cycling_rdax_400x200.jpg" alt="Woman in a niqab cycling with friends" />
        
        <div class="text-link">
             <h2>Read Salayhar's story</h2>
            <p>She cycles to reduce stress and make new friends</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/santander-cycles?intcmp=2295" >
        <img src="/cdn/static/cms/images/promos/santander-cycles-web_rdax_400x200.jpg" alt="Woman using a Santander Cycle going past a row of brightly coloured houses" />
        
        <div class="text-link">
             <h2>Santander Cycles</h2>
            <p>Hire a cycle from as little as &pound;2</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/campaign/active-travel?intcmp=53225" >
        <img src="/cdn/static/cms/images/promos/active-travel-cycling_rdax_400x200.jpg" alt="woman on bike looking over a river" />
        
        <div class="text-link">
             <h2>Try a new route, find a new London</h2>
            <p>Walk, cycle and discover London with us</p>
        </div>
    </a>
</div>
 
 
        </div>
    </div>
    <div class="aside" role="complementary">
        <div class="large" data-set="widget">
            <div class="moving-source-order">
            
            </div>
        </div>
        <div class="module-grid">
            












<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
            <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us</h3>
        </div>
        
        
            
        
        
            
                
        
        
        <div class="content-group">
            <p>
                <abbr title="Chat">Chat</abbr><br />
                 
        On <a href="https://m.me/transportforlondon">Facebook</a> or <a href="https://twitter.com/messages/compose?recipient_id=47319664">Twitter</a>
        
        
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Telephone number">Call</abbr>&nbsp;<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges apply</a><br />
                0343 222 1234
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Textphone">Textphone</abbr><br />
                0800 112 3456
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p><a href="/help-and-contact/contact-us-about-cycling">Fill in a form</a> or send a letter to:</p>
        </div>
        
        
        <div class="content-group">
            <p>TfL Customer Services<br />
4th Floor<br />
14 Pier Walk<br />
London SE10 0ES</p>
        </div>
        
    </div>
</div>
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="http://content.tfl.gov.uk/cycling-action-plan.pdf" class="plain-button">Cycling action plan</a>
<a href="/corporate/about-tfl/how-we-work/planning-for-the-future" class="plain-button">Planning for the future</a>
<a href="/corporate/publications-and-reports/cycling" class="plain-button">Cycling publications and reports</a>
    </div>
</div>
 
        </div>
    </div>
    <div class="small-medium" data-set="content">&nbsp;</div>
</div>
 
        
        
        
            @{ViewBag.Description = "Information on cycle routes and maps, free cycle training, cycle parking and bikes on public transport";}
        
            
        


 