
    
  



@{ViewBag.Title = "Routes and maps";}
@{ViewBag.Keywords = "Cyclists,Cycling,TfL";}
@{ViewBag.Url = "/modes/cycling/routes-and-maps";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
            
                <li><span class="last-breadcrumb">Routes and maps</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container landing-page section-landing-container">
        <h1>Routes and maps</h1>
        
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">
        <div class="small-medium" data-set="widget"></div>
        <div class="primary-teaser landing-page-teaser">
            <div class="news-teaser ">
  
  <a href="https://tfl.gov.uk/maps/cycle?intcmp=40402&intcmp=58492&intcmp=60683"  data-img="/cdn/static/cms/images/promos/cycleways-sign-web.jpg" data-img-breakpoint="medium" data-img-alt="Cycleway 31 sign">
    <img src="/cdn/static/cms/images/promos/cycleways-sign-web_rdax_600x300.jpg" alt="Cycleway 31 sign" />
    <div class="text-link sit-top">
      <h2>Use our cycle map</h2>
      <p>See cycle routes and Santander Cycle docking stations</p>
    </div>
  </a>
</div>

 
        </div>
        
        <div class="clearfix">
            <div>

<p>Discover London on your cycle. Use our cycle map, explore leisure routes and Cycleways, and find cycling inspiration.</p>
</div>
 
        </div>
        <div class="module-grid clearfix">
            <div class="news-teaser">

    <a href="/modes/cycling/routes-and-maps/leisure-routes?intcmp=2327" >
        <img src="/cdn/static/cms/images/promos/queens-gallery_rdax_400x200.jpg" alt="illustration of a man and woman using Santander Cycles in front of the Queens Gallery" />
        
        <div class="text-link">
             <h2>Leisure routes</h2>
            <p>Use your own cycle or hire a Santander Cycle to explore our leisure routes</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://londonblog.tfl.gov.uk/category/cycling/?intcmp=60687" >
        <img src="/cdn/static/cms/images/promos/roads-modernisation-cycling-700x350_rdax_400x200.jpg" alt="Roads modernisation plan - Cycling" />
        
        <div class="text-link">
             <h2>Experience London blog</h2>
            <p>Hear cyclist stories, get some route inspiration and find cycling events</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/routes-and-maps/cycleways?intcmp=59201" >
        <img src="/cdn/static/cms/images/promos/cycleways2-web_rdax_400x200.jpg" alt="People cycling along cycleway" />
        
        <div class="text-link">
             <h2>Cycleways</h2>
            <p>Find Cycleways in London. They link communities and businesses in one cycle network</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://www.letsride.co.uk/?intcmp=60690" >
        <img src="/cdn/static/cms/images/promos/family-cycle-web_rdax_400x200.jpg" alt="A family on bicycles cycling through a park" />
        
        <div class="text-link">
             <h2>British Cycling let's ride</h2>
            <p>Find cycle routes, go to events and join your local cycling group</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/routes-and-maps/cycle-mini-hollands?intcmp=16355" >
        
        
        <div class="text-link">
             <h2>Mini-Hollands</h2>
            <p>Find out how Mini-Hollands is improving streets and public areas</p>
        </div>
    </a>
</div>
 
 
        </div>
    </div>
    <div class="aside" role="complementary">
        <div class="large" data-set="widget">
            <div class="moving-source-order">
            
            </div>
        </div>
        <div class="module-grid">
            
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
            
        </div>
    </div>
    <div class="small-medium" data-set="content">&nbsp;</div>
</div>
 
        
        
        
            @{ViewBag.Description = "Discover London on your cycle. Use our cycle map, explore leisure routes and Cycleways, and find cycling inspiration.";}
        
            
        


 