
    
  



@{ViewBag.Title = "Santander Cycles";}
@{ViewBag.Keywords = "Cyclists,Cycling,Cycle Hire,Santander Cycles ,TfL";}
@{ViewBag.Url = "/modes/cycling/santander-cycles";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  <div class="section-image-container medium-large" data-highlight-image="/cdn/static/cms/images/promos/santander-cycles-section.jpg" data-highlight-for=".section-image-container" data-highlight-size="medium-large" style="background-image: url(/cdn/static/cms/images/promos/santander-cycles-section.jpg)"> </div>

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
            
                <li><span class="last-breadcrumb">Santander Cycles</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container with-logo">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Santander Cycles</h1>
        
          <div class="heading-logo">
            <img src="/cdn/static/cms/images/logos/sc-partner.png" alt="Santander Cycles image" />
          </div>
        
      </div>
    </div>
  </div>


  
  
    
  


    
    <div class="r">
        <div class="section-overview clearfix ">
            <div class="small-medium" data-set="section-intro"></div>
            <div class="main">
                <div class="large" data-set="section-intro">
                    <h2 class="moving-source-order">Hire bikes in London with Santander Cycles</h2>
                </div>
                <p>You can hire a bike from as little as &pound;2. Simply download our Santander Cycles app or&nbsp;go to any docking&nbsp;station terminal with your bank card and touch the screen to get started.</p>

<p>There's no need to book - hire a bike, ride it, then return it to any docking station.</p>

<p>&nbsp;</p>
            </div>
            
            <div class="aside">
                
                <div class="login-widget option-one moving-source-order">

    <h3>My account</h3>
    <a href="https://santandercycles.tfl.gov.uk/" class="primary-button">Sign in</a>
    <p>Not signed up? <a href="https://santandercycles.tfl.gov.uk/Registration">Become a member</a></p>
</div>
 
                
            </div>
            
        </div>
    </div>
    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
         
        
        
        
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div class="news-teaser">

    <a href="/modes/cycling/santander-cycles/community?intcmp=5390" >
        <img src="/cdn/static/cms/images/promos/santander-smartphone-teaser_rdax_400x200.jpg" alt="santander app on a smartphone" />
        
        <div class="text-link">
             <h2>Get the Santander Cycles app</h2>
            <p>The fastest way to find and hire a bike </p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/santander-cycles/register-for-your-own-key?intcmp=2312" >
        <img src="/cdn/static/cms/images/promos/membership-key_rdax_400x200.jpg" alt="Santander Cycles membership key" />
        
        <div class="text-link">
             <h2>Santander Cycles membership</h2>
            <p>Sign up for yearly membership, plus students get 25% off</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/santander-cycles/how-it-works?intcmp=2297" >
        <img src="/cdn/static/cms/images/promos/hire-a-cycle_rdax_400x200.jpg" alt="Santander Cycles docking station" />
        
        <div class="text-link">
             <h2>Turn up and ride</h2>
            <p>Head to any terminal and just cycle away</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/santander-cycles/find-a-docking-station?intcmp=2321" >
        <img src="/cdn/static/cms/images/promos/santander-cycles-map_rdax_400x200.jpg" alt="Santander Cycles docking station map" />
        
        <div class="text-link">
             <h2>We've got London covered</h2>
            <p>Find a docking station near you</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://londonblog.tfl.gov.uk/2019/11/05/santander-cycles-sightseeing/?intcmp=60245" >
        <img src="/cdn/static/cms/images/promos/queens-gallery_rdax_400x200.jpg" alt="illustration of a man and woman using Santander Cycles in front of the Queens Gallery" />
        
        <div class="text-link">
             <h2>Cycle the sights</h2>
            <p>See famous London attractions on our sightseeing route</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://londonblog.tfl.gov.uk/category/cycling/?intcmp=58113" >
        <img src="/cdn/static/cms/images/promos/london-skyline-dusk_rdax_400x200.jpg" alt="London skyline at dusk - Tower Bridge and Thames" />
        
        <div class="text-link">
             <h2>Experience London blog</h2>
            <p>Read about the best things to do in London plus find new cycling routes and events</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/santander-cycles/what-you-pay?intcmp=2315" >
        <img src="/cdn/static/cms/images/promos/santander-cycles-hyde-park_rdax_400x200.jpg" alt="Santander Cycles hyde park" />
        
        <div class="text-link">
             <h2>What you pay</h2>
            <p>Hire a bike from just &pound;2</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/travel-information/safety/road-safety-advice/driving-and-cycling-safety?intcmp=5456" >
        <img src="/cdn/static/cms/images/promos/cycle-and-driver-safety_rdax_400x200.jpg" alt="motorcycle and driver safety" />
        
        <div class="text-link">
             <h2>Cycle safety</h2>
            <p>Find out how to cycle safely in London</p>
        </div>
    </a>
</div>
 
 
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes and maps</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycle-skills">Cycle skills</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycles-on-public-transport">Cycles on public transport</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycle-parking">Cycle parking</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/how-it-works">How it works</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/what-you-pay">What you pay</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/find-a-docking-station">Find a docking station</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/register-for-your-own-key">Santander Cycles membership</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/lost-stolen-or-faulty">Lost, stolen or faulty</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/community">Santander Cycles app</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/suggestions-and-complaints">Suggestions & complaints</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/business-accounts">Santander Cycles business accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/blaze-laserlights">Blaze Laserlights</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>
        <div class="module-grid clearfix">
          
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/cycle_hire" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/cycle_hire" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us</h3>
        </div>
                                                         
        <div class="content-group">
            <p>We're open 07:00-20:00 Mon-Fri <br />09:00-19:00 weekends.</p>
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Telephone number">Call</abbr>&nbsp;<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges apply</a><br />
                0343 222 6666
            </p>
        </div>
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p><a href="https://santandercycles.tfl.gov.uk/Home/Contact">Fill in a form</a> or send a letter to:</p>
        </div>
        
        
        <div class="content-group">
            TfL Customer Services<br />4th Floor<br />14 Pier Walk<br />London SE10 0ES
        </div>
        
    </div>
</div>
 <div class="follow-social email">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>Email updates</h3>
    <p>Hop aboard the TfL email service for updates, personalised offers and promotions</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="/travel-information/social-media-and-email-updates/email-updates">Register</a>
  </div> 
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.londontravelwatch.org.uk/home/" class="plain-button">London TravelWatch</a>
    </div>
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "London's self-service cycle hire scheme for short journeys ";}
        
            
        


 