
    
  



@{ViewBag.Title = "Banned turns";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/red-routes/rules-of-red-routes/banned-turns";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/red-routes">Red routes</a></li>
                
            
                 <li><a href="/modes/driving/red-routes/rules-of-red-routes">Rules of red routes</a></li>
                
            
                
                <li><span class="last-breadcrumb">Banned turns</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Banned turns</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>Certain manoeuvres (turns) are banned on some of our roads. Ignoring these bans can be very dangerous and could result in an accident.</p>
        
      </div>
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/ruc-cdn/static/cms/images/no-right.jpg" alt="" />
        <span class="caption">When using the Transport for London Road Network (TLRN) you will see signs with a red outer circle which show you the direction you must not take</span>
        
        
    </div>   
 </div>
 <div>


        <p>
        A banned manoeuvre occurs when drivers ignore signs giving
        instructions as to a direction they must
        or must not take.</p>
        <p>The signs are located
        before
        the banned manoeuvre and often additional signage will provide an advanced
        warning.</p>
        <p>Enforcement of banned manoeuvres helps to manage how traffic uses the road and makes it safer for pedestrians. </p>
        <h2>Recognising a banned manoeuvre sign
        </h2>
        <p>These signs are listed in the Highway Code and
        are not unique to the red route. They are either signs with:</p>
        <ul>
            <li>A white arrow on a blue background showing you
            the direction you must take, or</li>
            <li>A red outer circle showing you the direction you must not take</li>
        </ul>
        <p>
        When using the Transport for London Road
        Network (TLRN), known as 'red routes', you will see signs with a white arrow
        on a blue background, which have the following meaning: </p>
    
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/blue-straight-ahead.jpg" alt="" />
    </div>
    
        <h3>Straight ahead only</h3>
        <p>You must continue ahead only.
        </p>
        <p>You must not turn left, right or make a U turn.
        </p>
     
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/blue-left-ahead.jpg" alt="" />
    </div>
    
        <h3>Left turn ahead</h3>
        <p>You must turn left at the junction ahead.</p>
        You must not turn right, go straight ahead or make a U turn.
     
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/blue-right-ahead.jpg" alt="" />
    </div>
    
        <h3>Right turn ahead</h3>
        <p>You must turn right at the junction ahead.</p>
        <p>You must not turn left, go straight ahead or make a U turn.</p>
     
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/blue-left.jpg" alt="" />
    </div>
    
        <h3>Turn left</h3>
        <p>You must turn left. </p>
        You must not turn right, go straight ahead or make a U turn.
     
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/blue-right.jpg" alt="" />
    </div>
    
        <h3>Right turn</h3>
        <p>You must turn right. </p>
        <p>You must not turn left, go straight ahead or make a U turn.
        </p>
     
</div>
 <div>


        <p>When using the red route you
        will see signs with a red outer circle, they have the following meaning:</p>
    
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/no-right-turn.jpg" alt="" />
    </div>
    
        <h3>Can do</h3>
        <p>Go ahead or make a left hand turn.</p>
        <h3>Can't do</h3>
        <p>Turn right.
        </p>
     
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/no-left-turn.jpg" alt="" />
    </div>
    
        <h3>Can do</h3>
        <p>Turn right or straight ahead.</p>
        <h3>Can't do</h3>
        <p> Turn left.</p>
     
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/no-u-turn.jpg" alt="" />
    </div>
    <h3>Can do</h3>
<p>Drive ahead or make a left or right turn.</p>
<h3>Can't do</h3>
<p>Make a U-turn.</p> 
</div>
 <div>


        <h2>Penalty Charge Notices (PCNs)
        </h2>
        <p>
        We issue PCNs to deter
        drivers from breaking the rules and endangering other road users.</p>
        <p><a href="/modes/driving/red-routes/penalty-charge-notices">Find out more about Penalty Charge Notices</a>.</p>
    
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
                <a href="/modes/driving/red-routes" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Red routes<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/red-route-maps">Red route maps</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes">Rules of red routes</a></div>
                                <ul>
                                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/loading-for-the-public">Loading for the public</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/yellow-box-junctions">Yellow box junctions</a></div></li>
                            
 
                                        <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/banned-turns">Banned turns</a></div>
                                    </li>
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/bus-lanes">Bus lanes</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/parking">Parking</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/blue-badge-disabled-parking">Blue Badge (disabled) parking</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/red-lines-and-no-stopping">Red lines and no stopping</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices">Penalty Charge Notices</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/dispensations">Red route dispensations</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/exemptions">Exemptions</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/contact-red-routes">Contact red routes</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div>
                    
        <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="/campaign/road-tips" class="plain-button">Road tips</a>
<a href="https://www.gov.uk/browse/driving/highway-code" class="plain-button">The Highway Code</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "For reasons of safety, certain manoeuvres (turns) are banned on some of our roads";}
        
            
        


 