
    
  



@{ViewBag.Title = "Parking";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/red-routes/rules-of-red-routes/parking";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/red-routes">Red routes</a></li>
                
            
                 <li><a href="/modes/driving/red-routes/rules-of-red-routes">Rules of red routes</a></li>
                
            
                
                <li><span class="last-breadcrumb">Parking</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Parking</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>Helping you park on the Transport for London Road Network (TLRN) - the 'red routes' that operate every day.</p>
        
      </div>
    
    <div class="on-this-page">
      <p>Parking means stopping your vehicle within a parking bay or on a single red line when permitted.</p>

<h2>Parking bays</h2>

<p>Parking bays are an essential part of the red route as they allow parking to be controlled.</p>

<p>Their availability is limited and some are only available during specified periods when their use will not cause any major disruption to our busy road network. &nbsp;</p>

<p>We often limit the amount of time you have to park at popular locations so that others drivers can also use the bay. Occasionally, we are able to provide parking bays that you can use at any time and without a limit on the amount of time you can park. Always check the signs to see when and for how long you can park.</p>

<h2>Paid for parking trial in Lambeth</h2>

<p>We are working with Lambeth Council on a trial introducing&nbsp;parking charges to 15 short stay red route parking bays on and around Kennington Lane. The parking time restrictions in these bays remain the same.&nbsp;<a href="/ruc-cdn/static/cms/documents/tlrn-paid-for-parking-trial-maps.pdf">See a map with more information.</a></p>

<p>The trial is being introduced through an <a href="/ruc-cdn/static/cms/documents/lambeth-red-routes-parking-trial-experimental-traffic-management-order.pdf">Experimental Traffic Management Order.</a></p>

<p>Parking charges are &pound;4.50 per hour (&pound;2.25 for 30 minutes) and you can&nbsp;<a href="https://www.lambeth.gov.uk/parking-transport-and-streets/parking/paying-for-your-on-street-parking">pay for parking</a> in the same way that you can pay for other road parking across the borough by PayPoint or PayByPhone (phone, app and web payments). Parking remains free of charge for Blue Badge holders.</p>

<p>The trial started&nbsp;on 17&nbsp;February&nbsp;2020 and will run for up to 18 months.</p>

<p>Lambeth Council is responsible for parking enforcement at these 15&nbsp;parking bays&nbsp;during the trial. <a href="https://www.lambeth.gov.uk/parking-transport-and-streets">Contact Lambeth Council&nbsp;directly</a> if you have questions about parking charges or a Penalty Charge Notice (PCN)&nbsp;you may&nbsp;have received. PCNs issued at these locations will start with the letters&nbsp;LJ.</p>

<p>The Mayor of London aims to reduce reliance on cars and encourage more people to walk, cycle and use public transport. We'll carefully monitor the impacts of the&nbsp;trial in meeting the <a href="https://tfl.gov.uk/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a> aims before considering if parking charges should be permanently introduced in this area or elsewhere in London.</p>

<p>Your feedback is important to our decision-making during this trial. Email us at <a href="mailto:yoursay&#64;tfl.gov.uk">yoursay&#64;tfl.gov.uk.</a></p>

<h2>Using a parking bay</h2>

<h3>What you can do</h3>

<ul>
	<li>Park in designated parking bays indicated by signs showing the P (Parking) symbol</li>
	<li>Park only at the times and/or on the days of the week indicated on the sign, where a parking bay has restrictions</li>
	<li>Sometimes use the same parking bay more than once during the day. However, you need to read the sign to find out how long you must wait after leaving the bay before you can return to it</li>
	<li>Use a parking bay to stop or for loading &#45; the sign will tell you when and for how long</li>
	<li>Use a parking bay if you want to go shopping &#45; the sign will tell you when and for how long. Some parking bays allow you to park at any time without restriction</li>
</ul>

<h3>What you can't do</h3>

<ul>
	<li>Use the parking bay outside of the hours shown on the sign or on any days when parking is not permitted. Always check the sign</li>
	<li>Use the parking bay for longer than the times shown on the sign</li>
	<li>Park in a bay that is designated specifically for use by Blue Badge holders. <a href="/modes/driving/red-routes/rules-of-red-routes/blue-badge-disabled-parking">Find out about Blue Badge parking</a></li>
	<li><a href="/modes/driving/red-routes/rules-of-red-routes/loading-for-the-public">Park in a bay that is designated specifically for loading</a></li>
	<li>Park on the red route network with any part of your vehicle on the footway or on a crossover, except where the signs indicate that you may</li>
	<li>Park on double red lines (this is never permitted)</li>
	<li>Park on a single red line unless the sign says you can</li>
	<li>Park at a bus stop</li>
	<li>Park on zig-zag lines (this is a criminal offence and subject to prosecution)</li>
</ul>

<p>These are not exhaustive lists. Contact us for more information or if you are unsure.</p>

<p>Read the sign to find out when and for how long you can use the parking bay. Our signs are quite distinct from other road signs and generally have two or three parts to inform you of the restrictions and exemptions in place at a particular bay.</p>
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/ruc-cdn/static/cms/images/white-line-bays_rdax_400x250.jpg" alt="" />
        
        
        
    </div>
    
        <h2>White bays</h2>
        <p>If a red route parking bay is marked out by a white dotted line, it generally means that the bay can be used throughout the day. However, there may be a maximum time limit &#45; always check the signs. </p>
    
 </div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/ruc-cdn/static/cms/images/red-bay_rdax_400x250.jpg" alt="" />
        
        
        
    </div>
    
        <h2>Red bays</h2>
        <p>If a red route parking bay is marked out by a red dotted line, it indicates that the bay can be used outside peak traffic hours, however, peak traffic hours often vary from area to area and even from road to road. Always check the signs. For example, some bays may only be available during the morning and early afternoon, some may be available only during the late afternoon and in the evening.</p>
        <p>Please remember parking is not permitted in all bays &#45; some may be reserved for other activities, for example, loading or disabled parking only.</p>
    
 </div>
 <div>

<p>For other road signs please <a href="https://www.gov.uk/highway-code">visit the Highway Code website</a>.</p>

<h2>Penalty Charge Notices (PCNs)</h2>

<p>We want to deter all drivers from breaking the rules so that parking bays are used correctly and kept free of parked vehicles when road traffic is busy.</p>

<p>A PCN may be issued to you at the time of contravention by a Civil Enforcement Officer.&nbsp; However, we may also use CCTV cameras to enforce restrictions on the red route and if this is the case you will receive the PCN later by post.</p>

<p><a href="/modes/driving/red-routes/penalty-charge-notices">Find out more about Penalty Charge Notices</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
                <a href="/modes/driving/red-routes" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Red routes<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/red-route-maps">Red route maps</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes">Rules of red routes</a></div>
                                <ul>
                                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/loading-for-the-public">Loading for the public</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/yellow-box-junctions">Yellow box junctions</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/banned-turns">Banned turns</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/bus-lanes">Bus lanes</a></div></li>
                            
 
                                        <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/parking">Parking</a></div>
                                    </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/blue-badge-disabled-parking">Blue Badge (disabled) parking</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/red-lines-and-no-stopping">Red lines and no stopping</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices">Penalty Charge Notices</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/dispensations">Red route dispensations</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/exemptions">Exemptions</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/contact-red-routes">Contact red routes</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "Helping you use parking bays on red routes in London";}
        
            
        


 