
    
  



@{ViewBag.Title = "Red lines and no stopping";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/red-routes/rules-of-red-routes/red-lines-and-no-stopping";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/red-routes">Red routes</a></li>
                
            
                 <li><a href="/modes/driving/red-routes/rules-of-red-routes">Rules of red routes</a></li>
                
            
                
                <li><span class="last-breadcrumb">Red lines and no stopping</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Red lines and no stopping</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>We keep traffic moving safely by not permitting vehicles to stop or park at locations where it will be dangerous or disruptive.</p>
        
      </div>
    
    <div class="on-this-page">
      
    
      
           
      <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/no-stopping-sign.jpg" alt="" />
    </div>
    
        <h2>Understanding signs and lines</h2>
        <h3>Red route clearway &#45; don't stop</h3>
        <p>Stopping is only permitted in marked bays. You must not stop or park your vehicle on this road.</p>
     
</div>
 <div>


        <p>
        Vehicles
        are not allowed to stop at any time on our red route clearways (similar to urban clearways). They are operational 24
        hours a day, 365 days a year and are not indicated by red lines, except at some
        roundabouts and junctions.</p>
    
</div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/ruc-cdn/static/cms/images/double-red-bus_rdax_400x250.jpg" alt="" />
        <span class="caption">Double red lines - don't stop</span>
        
        
    </div>
    
        <h2>Double red lines</h2>
        <p>Vehicles are not allowed to stop at any time on double red lines. They operate every day, 24 hours a day, 365 days a year and do not require a time plate (sign).
        </p>
    
 </div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/ruc-cdn/static/cms/images/single-red-line_rdax_400x250.jpg" alt="" />
        <span class="caption">Single red line - check the sign</span>
        
        
    </div>
    
        <h2>Single red lines</h2>
        <p>Vehicles are allowed to stop on single red lines at certain times of day. There will be a sign located near to the line that will inform you of the times &#45; always read the sign to find out when and for how long.</p>
        <p>If you stop on a single red line when permitted, make sure you move your vehicle when your time is up - the signs will tell you when and for how long</p>
        <h2>Dropping off and picking up</h2>
        <ul>
        </ul>
        <p>Holders of a valid disabled persons parking permit (Blue Badge) may be set down or picked up. </p>
        <p>
        <a href="/modes/driving/red-routes/rules-of-red-routes/blue-badge-disabled-parking">Find out more about parking with a Blue Badge.</a> </p>
        <ul>
        </ul>
        <p>Taxis and some private hire vehicles can stop to drop off and pick up passengers.</p>
        <ul>
        </ul>
    
 </div>
 <div>

<h2>Bus stops</h2>
<p>As the name suggests these are bays restricted for use by vehicles that are defined as buses - which could include a coach or a minibus. Bus stops and stands on the red route have a double red line or wide red line with yellow lines to outline the box. </p>
<p>Bus stops
with a wide red line do not permit taxis and private hire vehicles to stop. </p>
<h2>Stopping and parking</h2>
<p>You can't stop or park on the parts of the red route with: </p>
<ul>
    <li>A wide red line (bus stops) or double red line</li>
    <li>Pedestrian crossings</li>
    <li>Zigzags</li>
    <li>A pavement</li>
    <li>Cycle lanes</li>
</ul>
<p><a href="https://www.gov.uk/highway-code">Find out more on pedestrian crossings, zigzags and other signs and markings on the Highyway Code website</a>. </p>
<h3>Where can you stop or park?</h3>
<p>We do let vehicles stop, park and load on the red route where permitted.  </p>
<p>
Consider if
it is more suitable for you to apply for a parking dispensation or a bay
suspension as these options may better suit your needs. </p>
<p><a href="/modes/driving/red-routes/dispensations">Find out about applying for a dispensation</a>.</p>
<p>Find out more about <a href="/modes/driving/red-routes/rules-of-red-routes/parking">parking</a> and <a href="/modes/driving/red-routes/rules-of-red-routes/loading-for-the-public">loading</a> on the red route.</p>
<h2>Penalty Charge Notices (PCNs)</h2>
<p>We want to deter drivers from breaking the rules. Stopping where it is not permitted can be dangerous. A PCN may be issued to you at the time of contravention by a civil enforcement officer. However, we may also use CCTV cameras to enforce restrictions on the red route and if this is the case you will receive the PCN later by post.</p>
<p><a href="/modes/driving/red-routes/penalty-charge-notices">Find out more about Penalty Charge Notices (PCNs)</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
                <a href="/modes/driving/red-routes" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Red routes<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/red-route-maps">Red route maps</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes">Rules of red routes</a></div>
                                <ul>
                                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/loading-for-the-public">Loading for the public</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/yellow-box-junctions">Yellow box junctions</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/banned-turns">Banned turns</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/bus-lanes">Bus lanes</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/parking">Parking</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/blue-badge-disabled-parking">Blue Badge (disabled) parking</a></div></li>
                            
 
                                        <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/red-lines-and-no-stopping">Red lines and no stopping</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices">Penalty Charge Notices</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/dispensations">Red route dispensations</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/exemptions">Exemptions</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/contact-red-routes">Contact red routes</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "Single and double red lines, red route clearways and bus stops explained";}
        
            
        


 