
    
  



@{ViewBag.Title = "Yellow box junctions";}
@{ViewBag.Keywords = "Businesses,Drivers,Motorbikers,Public,Driving,Motorcycle,TfL";}
@{ViewBag.Url = "/modes/driving/red-routes/rules-of-red-routes/yellow-box-junctions";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/red-routes">Red routes</a></li>
                
            
                 <li><a href="/modes/driving/red-routes/rules-of-red-routes">Rules of red routes</a></li>
                
            
                
                <li><span class="last-breadcrumb">Yellow box junctions</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Yellow box junctions</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>Yellow box junctions keep the junction clear for through-traffic to avoid traffic jams. They also keep a road space free to ensure fire engines always have a clear exit from fire stations. </p>
        
      </div>
    
    
      
    
      
           
      <div>

<p>Yellow box junctions, loading bays and red routes are in place to keep traffic on the roads flowing. Our priority is to keep London moving and reduce delays, not raising revenue through fines. We are trying to help people understand the rules of the road so that they avoid an unnecessary fine.</p>
<p>Yellow box junctions are indicated by criss-cross
yellow lines painted on the road. They are usually found at the
junction of two or more roads and occasionally at roundabouts or outside fire
and ambulance        stations. A yellow box junction does
not require any other signage. </p>
<h2>How to use a yellow box junction</h2>
<p>
You may
enter a yellow box junction when your exit is clear and there is enough space
on the other side of the junction for your vehicle to clear the box completely without
stopping.
</p>
<p>You can stop in a yellow box junction when turning
right if you are prevented from turning by oncoming traffic, or by other vehicles waiting to turn right. </p>
<p>
Do not
simply follow the vehicle in front as it may stop and prevent your exit and
don't let other drivers pressure you to enter the box when a clear exit is not
available. </p>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/ruc-cdn/static/cms/images/yellow-box-junction.jpg" alt="" />
        <span class="caption">Only enter a box junction if your exit road is clear</span>
        
        
    </div>   
 </div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="VNgDxKiEwpU" data-video-caption="How yellow box junctions work"></li>
  
  </ul>
</div>
</div>
 <div>


        <h2>Penalty Charge Notices (PCNs)</h2>
        <p>
        We issue Penalty Charge Notices (PCN) to deter drivers from breaking the rules and causing a
        traffic jam. We don't simply issue PCNs to raise revenue - we enforce the rules
        to help keep the traffic moving.</p>
        <p><a href="/modes/driving/red-routes/penalty-charge-notices">Find out about Penalty Charge Notices</a>.</p>
    
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
                <a href="/modes/driving/red-routes" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Red routes<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/red-route-maps">Red route maps</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes">Rules of red routes</a></div>
                                <ul>
                                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/loading-for-the-public">Loading for the public</a></div></li>
                            
 
                                        <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/yellow-box-junctions">Yellow box junctions</a></div>
                                    </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/banned-turns">Banned turns</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/bus-lanes">Bus lanes</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/parking">Parking</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/blue-badge-disabled-parking">Blue Badge (disabled) parking</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/red-lines-and-no-stopping">Red lines and no stopping</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices">Penalty Charge Notices</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/dispensations">Red route dispensations</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/exemptions">Exemptions</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/contact-red-routes">Contact red routes</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div>
                    
        <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="/campaign/road-tips" class="plain-button">Road tips</a>
<a href="https://www.gov.uk/browse/driving/highway-code" class="plain-button">The Highway Code</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "How to use yellow box junctions on the Transport for London Road Network";}
        
            
        


 