
<div class="advert-tile unsponsored-style google-ads">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/Homepage" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/Homepage" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
      

 