


@{ViewBag.Title = "Dangerous work sees BT prosecuted for risking public safety ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Dangerous work sees BT prosecuted for risking public safety </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Dangerous work sees BT prosecuted for risking public safety </h1>
        <div class="content-page-press-release">
        22 November 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>British Telecom (BT) has been ordered to pay more than &pound;10,000 after Transport for London (TfL) prosecuted the telecoms giant for two serious safety breaches that put public safety at significant risk</p>
<p>The prosecution follows unsafe work carried out on Bruce Grove (A10), Haringey on 16 April and Hook Road (A243), Kingston-Upon-Thames on 17 May.</p>
<p>On 16 November BT pleaded guilty to the unsafe execution of works with significant risk to public safety at Westminster Magistrates Court, was fined a total of &pound;7,000 and ordered to pay &pound;3,570 in court costs.</p>
<p>It was a TfL Streetworks Inspector carrying out a routine inspection who discovered the unsafe working practices in Bruce Grove, and a Royal Borough of Kingston-Upon-Thames Streetworks Inspector who stopped work immediately after witnessing the safety breaches in Hook Road the following month.</p>
<p>Both locations had poor signing, lighting and pedestrian guarding as well as incorrect traffic control.</p>
<p>The prosecution comes as London Mayor, Sadiq Khan, yesterday (Monday 21 November) announced plans to lobby Government for greater powers to manage road works, including increasing the current level of fixed penalty notice fines and also widening their scope to cover road safety offences.</p>
<p>In passing sentence the Magistrate said: `We appreciate the works are often subcontracted, but BT must assume responsibility for the shoddy manner of these works, particularly in Hook Road where the works were very close to a primary school. BT must continue to work with its contractors to ensure improvements.'</p>
<p>Garrett Emmerson, TfL's Chief Operating Officer for Surface Transport, said: `Extra care should always be taken around roadworks, not just for those working on site, but for members of the public passing by. Our Streetworks Inspectors have an important role checking utility work is being carried out correctly and safely, acting swiftly when they spot a problem. It is vital companies such as BT ensure safety on site and we will always push for the strongest possible action against those companies who put the public at risk.</p>
<p>Councillor Phil Doyle, Cabinet Member for Highways and Transport, at Kingston Council, said: `Our Streetworks Inspectors are there to protect both those carrying out the work and also the general public passing by construction sites. This sends a clear message to BT and anyone else who undertakes works on our highway, no matter who they are, we won't tolerate unsafe and poorly planned activity.'</p>
<p>Since the beginning of this year TfL has issued BT more than 200 Fixed Penalty Notices, has prosecuted the telecommunications company four times for dangerous and disruptive work offences and 14 times in total for all streetworks offences.</p>
<p>ENDS</p>
<p>Notes to Editors:</p>
<ul>
    <li>TfL has prosecuted BT for 38 previous offences since 2010 and issued more than 900 Fixed Penalty Notices of which more than 200 were issued within the last year</li>
    <li>Since 2010, BT has been fined a total of &pound;42,270 for various streetworks offences</li>
    <li>Details surrounding BT's previous prosecutions can be found at: <a href="http://tfl.gov.uk/info-for/media/press-releases/2016/july/british-telecom-prosecuted-for-second-time-in-three-weeks-for-dangerous-and-disruptive-work">tfl.gov.uk/info-for/media/press-releases/2016/july/british-telecom-prosecuted-for-second-time-in-three-weeks-for-dangerous-and-disruptive-work</a></li>
    <li>Further information on the Mayor's plans to lobby Government for greater powers to manage roadworks can be found here: <a href="https://www.london.gov.uk/press-releases/mayoral/mayor-of-london-vows-to-tackle-londons-congestion">https://www.london.gov.uk/press-releases/mayoral/mayor-of-london-vows-to-tackle-londons-congestion</a></li>
    <li>Londoners can report disruptive or badly managed roadworks, as well as road defects such as potholes and damaged footpaths, by visiting <a href="http://reportit.tfl.gov.uk">reportit.tfl.gov.uk</a>. Any enquiries received will be sent directly to the relevant Highway Authority (TfL or a London borough) responsible, ensuring that direct and fast action can be taken</li>
    <li>For more information about the wider work TfL is carrying out to keep London moving, please visit <a href="http://tfl.gov.uk/roads.">tfl.gov.uk/roads.</a></li>
    <li>The below table sets out the number of times TfL has successfully prosecuted utility companies since 2010:</li>
</ul>
<div class="table-container"><table width="540" cellspacing="0" height="390">
    <thead>
    </thead>
    <tbody>
        <tr>
            <td>BT Openreach<br />
            </td>
            <td>40 <br />
            </td>
            <td>&nbsp;36%</td>
        </tr>
        <tr>
            <td>Thames Water<br />
            </td>
            <td>13</td>
            <td>&nbsp;12%</td>
        </tr>
        <tr>
            <td>Infocus</td>
            <td>11</td>
            <td>&nbsp;10%</td>
        </tr>
        <tr>
            <td>Virgin Media<br />
            </td>
            <td>10</td>
            <td>&nbsp;9%</td>
        </tr>
        <tr>
            <td>Fulcrum <br />
            </td>
            <td>9</td>
            <td>&nbsp;8%</td>
        </tr>
        <tr>
            <td>
            <p>UK Power Networks/London Power Networks</p>
            </td>
            <td>9<br />
            </td>
            <td>&nbsp;8%</td>
        </tr>
        <tr>
            <td>Vodafone</td>
            <td>7</td>
            <td>&nbsp;6%</td>
        </tr>
        <tr>
            <td>National Grid Gas<br />
            </td>
            <td>5</td>
            <td>&nbsp;4%</td>
        </tr>
        <tr>
            <td>Cable &amp; Wireless<br />
            </td>
            <td>3</td>
            <td>&nbsp;3%</td>
        </tr>
        <tr>
            <td>Abovenet</td>
            <td>2</td>
            <td>&nbsp;2%</td>
        </tr>
        <tr>
            <td>McNicholas (on behalf of Virgin Media)</td>
            <td>1</td>
            <td>&nbsp;1%</td>
        </tr>
        <tr>
            <td>O2</td>
            <td>1</td>
            <td>&nbsp;1%</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>111<br />
            </td>
            <td style="vertical-align: middle;">&nbsp;100%</td>
        </tr>
    </tbody>
</table></div>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-November-Dangerous work sees BT prosecuted for risking public safety  -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 