


@{ViewBag.Title = "Famous voices partner with TfL for London Poppy Day";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Famous voices partner with TfL for London Poppy Day</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Famous voices partner with TfL for London Poppy Day</h1>
        <div class="content-page-press-release">
        03 November 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        British legends; Jessica Ennis-Hill, Michael Palin and Jennifer Saunders join a host of celebrities to take over Tube and bus announcements to encourage Londoners to give generously for London Poppy Day
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We have always been proud of our relationship with the armed forces and The Royal British Legion. Our continued effort to promote London Poppy Day is just one way of saying thank you for the sacrifices that servicemen and women have made over the years
"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown MVO</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Members of Royal Navy, Army and RAF will fundraise at Tube stations across London</li>
</ul>
<p>Transport for London (TfL) has once again joined forces with The Royal British Legion and a host of celebrities to support London Poppy Day - the largest and most ambitious one-day street collecting event of its kind.</p>
<p>Customers travelling on the London Underground will hear Jessica Ennis-Hill, Jennifer Saunders, Moira Stuart, Michael Palin and BBC radio presenter Nihal Arthanayake join veteran Poppy Day supporters Barbara Windsor and Stephen Fry in urging Londoners to give generously to support the Legion's vital work.  Brian Blessed's distinctive roar will greet passengers on London's buses.</p>
<p>Thousands of Royal Navy, Army and RAF personnel will be at the ready with collection tins at 45 stations on the Underground, with a special collection taking place on-board a Circle line train from Westminster to Edgware Road. In keeping with tradition ten London buses have been wrapped in the Poppy Livery.  Military bands will also be entertaining commuters at Canary Wharf Underground station.</p>
<p>London's Transport Commissioner, Mike Brown MVO said: </p>
<p>'We have always been proud of our relationship with the armed forces and The Royal British Legion. Our continued effort to promote London Poppy Day is just one way of saying thank you for the sacrifices that servicemen and women have made over the years. We've been overwhelmed by the support of so many famous faces, as well as from our bus operators and station staff, in helping us promote this cause over the years, and we really hope these special announcements encourage people to give generously.'</p>
<p>Claire Rowcliffe, Director of Fundraising at The Royal British Legion, said: </p>
<p>'London Poppy Day wouldn't be what it is without the people behind it. What started with 10 people in 2006 has undoubtedly grown in size but it's still the thousands of individuals behind it that make it what it is today. From the uniformed collectors stationed across the city to the volunteers and musicians, we're grateful to Londoners for getting in the spirit of the day and showing their support to the Armed Forces community.'</p>
<p>London transport has been connected to Remembrance Sunday since 1920 when bus staff were given the right to march alongside the armed forces by King George V, in recognition of the services of the men who drove buses to the front line in France and Belgium from 1914-1918.</p>
<p>Members of the London Transport Old Comrades Association, led by bus driver and former member of the Royal Signals, Barry Osbourne, will take part in the annual Remembrance Sunday parade to the Cenotaph on Sunday 13 November in honour of the 4,500 transport workers who died in the two World Wars and other conflicts.</p>
<p>Martin Keegan, who served in the Royal Auxiliary Air Force during both Gulf wars and is now a Tube driver will lay the London Transport Old Comrades Association wreath at the Cenotaph.</p>
<p>Martin Keegan said: </p>
<p>'I am extremely proud to be given the privilege of laying the wreath on behalf of TfL. With the conclusion of the Battle of the Somme on 19 November, it is particularly special that I will have the chance of honouring the many men and women who have given their lives to protect our freedom.'</p>
<p>War veterans with a Veterans Oyster photo-card can travel free on bus, Tube, tram, DLR, London Overground, TfL Rail and most National Rail services in London</p>
<p>&nbsp;</p>
<hr />
<p >Notes to Editors:</p>
<ul>
    <li>Images of all the wrapped buses and celebrity recordings are available at   <a href="https://www.flickr.com/photos/tflpress/albums/72157674606950301">https://www.flickr.com/photos/tflpress/albums/72157674606950301</a></li>
    <li>The costs associated with the wrapped Poppy buses were covered by the operators Abellio, Arriva, Go Ahead, Metroline, RATP, Tower Transit and Stagecoach.</li>
</ul>
<p>Celebrity voices can be heard at the following stations:</p>
<ul>
    <li>Nihal Arthanayake &#45; Blackhorse Road, Finsbury Park, Highbury and Islington, Tottenham Hale, Seven Sisters,</li>
    <li>Marcus Bentley &#45; Aldgate, Cannon Street, Euston, Moorgate, South Kensington.</li>
    <li>Brian Blessed &#45; Embankment, Hyde Park Corner, Kilburn, Rayners Lane, Vauxhall and London Buses.</li>
    <li>Peter Dickson &#45; Blackfriars, Ealing Broadway, Earls Court, Stockwell, Temple,</li>
    <li>Jessica Ennis-Hill &#45; Bond Street, King's Cross St. Pancras, North Greenwich, Stratford, Waterloo and Westminster.</li>
    <li>Stephen Fry - Canary Wharf, Leytonstone, Leicester Square, Liverpool Street, London Bridge, Oval.</li>
    <li>Michael Palin &#45; Edgware Road, Notting Hill Gate, Swiss Cottage, St John's Wood.</li>
    <li>Jennifer Saunders &#45; Green Park, Holborn, Shepherd's Bush, Tottenham Court Road, Victoria.</li>
    <li>Moira Stuart &#45; Charing Cross, Elephant and Castle, Great Portland Street, Maida Vale, Oxford Circus, Piccadilly Circus.</li>
    <li>Barbara Windsor &#45; Paddington, St Paul's, Baker Street, Bank/Monument, Covent Garden.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-November-Famous voices partner with TfL for London Poppy Day -->

 
 
        
        
            @{ViewBag.Description = "A host of famous voices partner with TfL to support The Royal British Legion’s London Poppy Day";}
        
        


 