


@{ViewBag.Title = "Operation Clearway makes pavements safer for pedestrians ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Operation Clearway makes pavements safer for pedestrians </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Operation Clearway makes pavements safer for pedestrians </h1>
        <div class="content-page-press-release">
        28 November 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        JR Halal Butchers in Tooting prosecuted earlier this month for obstructing pavement on Upper Tooting Road - one of seven successful prosecutions<BR>
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Through Operation Clearway we are clearing obstructions at priority locations along our road network. We are also working with boroughs, businesses, schools and organisations such as London TravelWatch, to help make our vision of London being an enjoyable place to walk, a success"</div>
        <div class="quote-footer">
            <div class="quotee-name">Siwan Hayward</div>
            <div class="quotee-job-title">Head of Transport Policing, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Business ordered to pay a total of &pound;1,850 following the offence in 2015</li>
    <li>TfL's Operation Clearway ensures pavements are kept free from clutter that could cause injury to pedestrians</li>
</ul>
<p>As part of London Mayor Sadiq Khan's commitment to making it easier and more enjoyable to walk around London, Transport for London (TfL) has successfully prosecuted Tooting business, JR Halal Butchers, for risking public safety by blocking the pavement.</p>
<p>On Thursday 3 November the business' Director, Zahid Chawdhary, pleaded not guilty to wilfully obstructing a highway; however was found guilty at Lavender Hill Magistrates' Court.</p>
<p>Last year JR Halal Butchers was issued a warning letter and two Fixed Penalty Notices after it was found the struts of a canopy placed over the shop were unlawfully obstructing the highway. The struts were not removed and in court earlier this month Mr Chawdhary was found guilty of highway obstruction and fined &pound;400, ordered to pay a total of &pound;1,410 prosecution costs and a victim surcharge of &pound;40.</p>
<p>TfL takes the risk to public safety through freestanding advertising boards, tables, chairs and pillars extremely seriously as they could cause injury and hinder the free flow of pedestrian movement, particularly for older people and those with a visual or mobility impairment.</p>
<p>TfL's Operation Clearway involves officers visiting priority locations along the Transport for London Road Network (TLRN), engaging with local businesses about their responsibilities for keeping pavements safe and enforcing against those persistently obstructing streets.</p>
<p>Since the start of Operation Clearway in March 2015, 1,174 obstructions have been reported, 783 warning letters have been sent and 291 Fixed Penalty Notices have been issued by TfL.  JR Halal Butchers at 163 Upper Tooting Road, is the seventh business this year TfL has prosecuted for illegally obstructing the highway.</p>
<p>Siwan Hayward, TfL's Head of Transport Policing, said: </p>
<p>'We are committed to creating people friendly, safe streets for all to enjoy. To do this, pedestrians, and particularly those who are vulnerable, need to be able to confidently use pavements which are free from unnecessary obstructions.</p>
<p>'Through Operation Clearway we are clearing obstructions at priority locations along our road network. We are also working with boroughs, businesses, schools and organisations such as London TravelWatch, to help make our vision of London being an enjoyable place to walk, a success.'</p>
<p>Janet Cooke, Chief Executive at London TravelWatch, said: </p>
<p>'This is great news and we are proud of our part in getting this action underway. We want pedestrians everywhere to be able to walk more easily on the pavement. Pedestrians should also push for their local councils to take action to clear the pavements, as the law requires.'</p>
<p>Dave Kent, Engagement Officer at Guide Dogs, said: </p>
<p>'Street clutter is one of the biggest barriers the people we support face &#45; 97 per cent of blind and partially sighted people face problems because of it.</p>
<p>'We are pleased to see TfL is working with businesses to encourage them to remove wilful obstructions, and when they fail to do so, taking prosecution action against them. We want to see a much clearer street environment for all people.'</p>
<p>TfL is committed to ensuring streets are kept free from clutter and has recently been strengthened following the installation of Mercury, an IT system which enables cases to be handled far more efficiently. As a result offenders will be brought to justice faster and enforcement officers will have more time to engage directly with businesses, ensuring London's streets are kept free from unlawful street furniture.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>The six businesses previously convicted:</li>
</ul>
<ul>
    <li>On 10 March 2016 TfL prosecuted three businesses at Lavender Hill Magistrates' Court for repeatedly ignoring requests to remove obstructive objects from the pavements:</li>
</ul>
<ol>
    <li>Ms Giovanna Hussain, owner of Lift Restaurant, Kingsland Road E8, was convicted of wilfully obstructing the Highway by placing an advertising board on the pavement preventing the free movement of pedestrians</li>
    <li>Ms Oana Preda, owner of Banh Mill Caf&eacute; 101, Great Eastern Street EC2A, was convicted for placing a number of tables and chairs on the pavement without a licence; an advertising board also caused a further obstruction</li>
    <li>Mr Taiyab Hussain, owner of The Corner Shop, 123 Shoreditch High Street E1, was convicted of placing two advertising boards on the pavement</li>
</ol>
<ul>
    <li>Despite warnings and engagement, all three businesses above continued to obstruct the pavement. They failed to pay fixed penalty notices and were subsequently prosecuted. Each business was made to pay &pound;220 in fines, &pound;135 in court costs and a &pound;22 victim surcharge</li>
</ul>
<ul>
    <li>On 28 April 2016 TfL prosecuted two businesses at Lavender Hill Magistrates' Court for repeatedly ignoring requests to remove obstructive objects from the pavements:</li>
</ul>
<ol>
    <li>Mr K. Kailanathan, owner of Tooting Supermarket, Selkirk Road SW17 pleaded guilty to placing a fruit and vegetable display on the pavement without a licence preventing the free movement of pedestrians</li>
    <li>Mr R. Rajakumar, owner of Tooting Market, Tooting High Street SW17, pleaded guilty to placing a fruit and vegetable display on the pavement, without a licence, preventing the free movement of pedestrians</li>
</ol>
<ul>
    <li>Despite warnings and engagement, both businesses continued to obstruct the pavement which led to their prosecution. Each business was made to pay &pound;100 in fines, &pound;800 in court costs and a &pound;20 victim surcharge</li>
    <li>On the 26 May 2016 TfL prosecuted Mr T Gjetaz, owner of Tooting Bec Hand Car Wash, 81-87 Upper Tooting Road, SW17 7TW, for continually obstructing the footpath by placing two advertising boards at either side of the entrance to the car wash facility. At Lavender Hill Magistrates Court Mr Gjataz was found guilty in his absence and fined &pound;220, ordered to pay court costs of &pound;800 and a victim surcharge of &pound;22</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-November-Operation Clearway makes pavements safer for pedestrians  -->

 
 
        
        
            @{ViewBag.Description = "Seventh successful prosecution as TfL’s Operation Clearway makes pavements safer for pedestrians ";}
        
        


 