


@{ViewBag.Title = "TfL and Terrence Higgins Trust host the UK's largest HIV workplace testing event";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL and Terrence Higgins Trust host the UK’s largest HIV workplace testing event</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL and Terrence Higgins Trust host the UK’s largest HIV workplace testing event</h1>
        <div class="content-page-press-release">
        21 November 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The event helps tackle stigma and encourages earlier diagnosis
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are proud to be supporting National HIV Testing Week. We believe it's hugely important for our staff to have access to HIV testing and are aware of the benefits of getting an early diagnosis"</div>
        <div class="quote-footer">
            <div class="quotee-name">Dr Olivia Carlton OBE</div>
            <div class="quotee-job-title">TfL's Head of Occupational Health</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL and Terrence Higgins Trust are marking National HIV Testing Week by hosting the UK's biggest workplace testing event for the second year running.</p>
<p>Following last year's success, which saw 90 TfL employees requesting the test, this year's event has expanded to encourage more staff to get involved.</p>
<p>For the first time, it is possible for staff to receive the test outside of the office, which will make it easier for operational staff to take part.</p>
<h2>Increase awareness</h2>
<p>HIV tests will be offered to staff at King's Cross St. Pancras station and three of TfL's Head Offices.</p>
<p>National HIV Testing Week aims to increase the awareness and accessibility of HIV testing across the UK, particularly to the key groups affected by HIV &#45; gay and bisexual men and black African men and women.</p>
<p>It also hopes to tackle the stigma around getting tested to normalise the process and lead to earlier diagnosis.</p>
<h2>Hugely important</h2>
<p>Dr Olivia Carlton OBE, TfL's Head of Occupational Health, said: 'We are proud to be supporting National HIV Testing Week.</p>
<p>'We believe it's hugely important for our staff to have access to HIV testing and are aware of the benefits of getting an early diagnosis.</p>
<p>'We hope that lots of our employees take this opportunity, especially those that have not considered being tested before.'</p>
<h2>Ground-breaking partnership</h2>
<p>Ian Green, Chief Executive of Terrence Higgins Trust, said: 'Last year, TfL broke the record for the biggest workplace HIV testing event and we're really excited that our ground-breaking partnership will return for this year's National HIV Testing Week.</p>
<p>'Almost half of all new HIV diagnoses are made in London. As one of London's biggest and most diverse employers, TfL can make a huge difference in helping to normalise HIV testing and busting stigma across the city.</p>
<p>'Today, if you test positive, effective treatment means you can live as long as anyone else, and when the amount of the virus in your blood is reduced to undetectable levels, this means you cannot pass on HIV. Testing puts you in control and is nothing to be feared.'</p>
<h2>Break down barriers</h2>
<p>Tim Martineau, Chief of Staff, UNAIDS, said: 'Globally around 43% of the 37 million people living with HIV don't know they have the virus.</p>
<p>'Initiatives like Transport for London's workplace testing event are critically important to get people talking about HIV, to break down the barriers of stigma and to allow people to make informed decisions about their own health.'</p>
<p>TfL's LGBT+ staff network group, OUTbound, alongside TfL's Occupational Health team have been promoting the initiative to staff internally to raise awareness and encourage participation.</p>
<h2>Encourage participation</h2>
<p>Employees have the opportunity to book appointments beforehand or attend a walk-in session. Within 24 hours of appointments becoming available, the testing slots on offer at one of the locations had already been fully booked.</p>
<p>On World AIDS Day on 1 December, the London Gay Men's Chorus will be performing for customers at Angel Underground station.</p>
<p>The event is being held to mark the 25 year anniversary of their first ever performance taking place at the same station. There will also be the chance to hear them sing at Tottenham Court Road Underground station that evening.</p>
<p>For more information on how and where you can get tested during National HIV Testing Week (19-25 November), go to <a href="https://www.startswithme.org.uk/">www.startswithme.org.uk</a></p>
<hr />
<p><strong>Notes to Editors:</strong></p>
<ul>
    <li>National HIV Testing Week started on Saturday 19 November this year</li>
    <li>For more information about National HIV Testing Week, please visit: <a href="https://www.startswithme.org.uk/">www.startswithme.org.uk</a></li>
    <li>For more information about the UN AIDS programme, please visit: <a href="http://www.unaids.org/">www.unaids.org</a></li>
    <li>For more information about the London Gay Men's Chorus, please visit: <a href="http://www.lgmc.org.uk/">www.lgmc.org.uk</a></li>
    <li>Please contact the TfL Press Office for photos</li>
    <li>Martyn Loukes BEM, the former chair of OUTbound, has led this initiative, which is supported by TfL's other staff network groups as well.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-November-TfL and Terrence Higgins Trust host the UK’s largest HIV workplace testing event -->

 
 
        
        
            @{ViewBag.Description = "The event helps tackle stigma and encourages earlier diagnosis";}
        
        


 