


@{ViewBag.Title = "WiFi trial to help give customers better journeys";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">WiFi trial to help give customers better journeys</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>WiFi trial to help give customers better journeys</h1>
        <div class="content-page-press-release">
        17 November 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Four week trial collecting depersonalised WiFi connection data will help TfL better understand how passengers move through stations and interchange between lines
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This short trial will help us understand whether WiFi connection data could help us plan and operate our transport network more effectively for customers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Shashi Verma</div>
            <div class="quotee-job-title">Chief Technology Officer, Transport for London</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>If trial is successful, data could be used to improve services, provide better travel information and help prioritise investment across the Tube network</li>
</ul>
<p>Transport for London (TfL) is beginning a short trial that will see de-personalised WiFi connection data collected at 54 London Underground stations within Zones 1-4 to help improve the services it offers customers.</p>
<p>The trial, which will last four weeks from 21 November, will help give TfL a more accurate understanding of how people move through stations, interchange between services and how crowding develops. This may enable TfL to improve its services, provide better travel information and help prioritise investment.</p>
<p>By analysing in-station WiFi connection data, a number of potential benefits have been identified:</p>
<ul>
    <li>Providing better customer information for journey planning and avoiding congestion;</li>
    <li>Helping TfL better manage disruptions and events and ensure a safe environment for all;</li>
    <li>Better planning of timetables, station designs and major station upgrades</li>
</ul>
<p>By understanding how customers move through and around stations, TfL also believes it may be able increase revenue from companies who advertise on poster sites or rent retail units to reinvest in improving services across London.</p>
<p>The trial will work by collecting WiFi connection requests from mobile devices as customers pass through stations. When a device has WiFi enabled, it will continually search for a WiFi network by sending out a unique identifier - known as a Media Access Control address &#45; to nearby routers.</p>
<p>The data collected is automatically de-personalised. No browsing data will be collected and TfL will not be able to identify any individuals.</p>
<p>No data collected through the trial will be made available to any third-parties and posters will be on display within stations to let customers know that the trial is taking place. Should any customers wish to opt-out of the trial, they simply need to turn off their WiFi while passing through the station.</p>
<p>Shashi Verma, Chief Technology Officer at Transport for London, said: </p>
<p>'This short trial will help us understand whether WiFi connection data could help us plan and operate our transport network more effectively for customers. Historically, if we wanted to know how people travelled we would have to rely on paper surveys and manual counting, which is expensive, time consuming and limited in detail and reliability. We hope the results of this trial will enable us to provide customers with even better information for journey planning and avoiding congestion.'</p>
<p>Sue Daley, Head of Big Data, Cloud &amp; Mobile at techUK, said: </p>
<p>'TfL is unlocking the power of data to gain insights into how passengers are using the network and drive its transformation into a smart transport system. The availability of big data analytics tools and technologies means that organisations, of all sizes and sectors, are increasingly able to make data driven decisions that can make a real difference to customers' lives. In this case, it will mean more accurate passenger insights and easier journeys for customers.'</p>
<p>TfL already uses a range of data, such as aggregated and de-personalised Oyster and Contactless payment data and manual paper surveys, to understand how customers travel across London. While these data sources provide detail on the origin and destination of customers' journeys, there are many options that customers could take across the network to complete their journey.</p>
<p>Traditional paper surveys are also expensive, take time to process and can only provide a snapshot of travel patterns on the day of survey. They are also unable to provide the continuous information detailing the varied travel patterns on the network.</p>
<p>For more information about the trial, please visit <a href="http://www.tfl.gov.uk/privacy">www.tfl.gov.uk/privacy</a></p>
<p>&nbsp;</p>
<hr />
Notes to Editors:
<ul>
    <li>TfL's approach to collecting depersonalised (pseudonimised) Wi-Fi data has been discussed with the Information Commissioners Office and follows their published guidance &#45; <a href="https://ico.org.uk/media/1560691/wi-fi-location-analytics-guidance.pdf">https://ico.org.uk/media/1560691/wi-fi-location-analytics-guidance.pdf</a></li>
    <li>All data from the trial will be securely stored with restricted user access.</li>
    <li>TfL carried out customer research to test the proposal through a qualitative research exercise. The overall feedback from the focus groups was positive.</li>
    <li>Earlier this year, TfL also carried out a two-day modelling exercise to understand whether this method of data collection was possible.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-November-WiFi trial to help give customers better journeys -->

 
 
        
        
            @{ViewBag.Description = "WiFi information trial to help give London Underground customers better journeys";}
        
        


 