


@{ViewBag.Title = "Barclays Cycle Hire southwest extension construction works begin";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Barclays Cycle Hire southwest extension construction works begin</h1>
        <div class="content-page-press-release">
        04 April 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Construction has begun on the south-western expansion of the Barclays Cycle Hire scheme, with work taking place at a docking station site near the junction of Finlay Street and Fulham Palace Road in Hammersmith.
        
    </div>



 <div class="on-this-page">
<p>The expansion of the scheme, which will open to the public in December 2013, will bring the highly successful Barclays Cycle Hire scheme to new areas within Wandsworth, Hammersmith &amp; Fulham, Lambeth and Kensington &amp; Chelsea. </p>

<p>So far, users of the scheme have undertaken more than 20 million hires, helping to deliver the Mayor's vision of making London a truly cyclised city.</p>
<p>The initial construction works involve installing electrical cables to bring power to the future docking points and terminals. </p>

<p>Once the electrical works are completed, a black 'cycle hire' plate will be placed at the location, in preparation for the physical docking station to be installed later this year</p>
<p>The Mayor of London, Boris Johnson, said: 'The Barclays Cycle Hire scheme is going to be fantastic for southwest London. </p>

<p>'It will be a real benefit to local people, it helps the economy and is key to my aim of making cycling an integral part of the Capital's transport network.'</p>
<p>Nick Aldworth, General Manager for Barclays Cycle Hire, said: 'The expansion of Barclays Cycle Hire to southwest London will help create thousands of additional journeys each month. </p>

<p>'Feedback from the public engagement sessions last year was extremely positive and we are now working hard to begin installing the infrastructure required to bring the Mayor's flagship Barclays Cycle Hire scheme to southwest London.'</p>
<p>Ashok Vaswani, CEO Barclays Retail and Business Banking, said: 'We are delighted to have reached an important landmark for Barclays Cycle Hire as it makes such a positive difference to everyday life in London, its people and the economy. </p>

<p>'Cycling continues to transform the Capital so we look forward to more Londoners and visitors becoming involved with the scheme as it extends to southwest London.'</p>
<p>Barclays Cycle Hire already covers over 65km2 of the Capital stretching from Shepherd's Bush in the west, through central London and east to the fringes of the Olympic Park. </p>

<p>The new area will increase the number of cycles available by more than 2,000 bicycles, helping to support a greater proportion of business and leisure journeys and encourage trial and take-up by a wider demographic.</p>
<p>Work to deliver the expansion of Barclays Cycle Hire will be carried out by TfL's Central highways contractor who was selected through the TfL's new pan-London Highways Contract. </p>

<p>Using these contracts will help provide a more sustainable and consistent approach to future docking station delivery across the Capital, ensuring better value for money and less disruption for Londoners. </p>
<p>More than 100 potential locations have already been already approved for new Barclays Cycle Hire docking stations across London and around a further 150 are currently going through the planning process. </p>

<p>New locations have been selected for consideration based on potentially cyclable journeys within the area, local attractions and proximity to key public transport connections.</p>
<p>For more information, please visit <a href="http://www.tfl.gov.uk/barclayscyclehire">tfl.gov.uk/barclayscyclehire</a> </p>
<p>
<hr>
</p>

<p><strong>Notes to editors:</strong></p>
<ul>
<li>The creation of an easy-to-use cycle hire scheme was a key pledge of the Mayor's manifesto. Barclays Cycle Hire is now transforming the way that people make short trips around central London</li>
<li>Around 93 per cent of all journeys made by Barclays Cycle Hire members have been under 30 minutes, which means that the vast majority of people using the scheme aren't paying any more than their access fees</li>
<li>Recent customer research showed that 49 per cent of Barclays Cycle Hire members say that the scheme has prompted them to start cycling in London and 17 per cent of members state that they have increased the amount they cycle on their own bikes as a result of the scheme</li>
<li>A membership key is &pound;3 with costs at &pound;2 for 24-hours, &pound;10 for seven days and &pound;90 for annual membership. The first 30 minutes of every journey is free</li>
<li>Members of the scheme must be at least 18 years old and you need to be at least 14 years old to use the scheme</li>
<li>TfL-funded adult commuter cycle training is available from boroughs, find out more at <a href="http://www.tfl.gov.uk/cycling">tfl.gov.uk/cycling</a>&nbsp;</li>
<li>On 1 April 2013, TfL and six London boroughs (Kingston Upon Thames, Islington, Brent, Camden, Lambeth and Wandsworth) began using the London Highway Alliance Contracts (LoHAC) which covers both road maintenance and the design and construction of new schemes and, for the first time, applies to all roads across London</li>
<li>LoHAC is made up of four area-based contracts and have been awarded to the following contractors:</li></ul>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;<strong>Central</strong> (covering roads within Camden, City of London, Southwark, Tower Hamlets, Hackney, Lambeth, Wandsworth, Hammersmith &amp; Fulham, Royal Borough of Kensington &amp; Chelsea, Islington and Westminster)</td>
<td>&nbsp;CVU - a Joint Venture between Colas, VolkerHighways and URS</td></tr>
<tr>
<td>&nbsp;<strong>Northeast</strong> (covering roads within Havering, Barking &amp; Dagenham, Redbridge, Newham, Waltham Forest, Haringey and Enfield)</td>
<td>&nbsp;Ringway Jacobs</td></tr>
<tr>
<td>&nbsp;<strong>Northwest</strong> (covering roads within Hounslow, Hillingdon, Ealing, Brent, Harrow and Barnet)</td>
<td>&nbsp;CONWAY AECOM JV</td></tr>
<tr>
<td>&nbsp;<strong>South</strong> (covering roads within Bexley, Greenwich, Lewisham, Bromley, Croydon, Sutton, Merton, Royal Borough of Kingston upon Thames and Richmond upon Thames)</td>
<td>&nbsp;Enterprise Mouchel</td></tr></tbody></table></div></p>
<ul>
<li>As well as providing a more coordinated and collaborative working approach, all vehicles used by TfL's contractors over 3.5 tonnes (including those of subcontractors) need to have cycle safety equipment fitted, such as sideguards, close proximity sensors and prominent signage to warn cyclists about the dangers of passing on the inside of the vehicle, helping to deliver further cycle safety across London</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The expansion of the scheme, which will open to the public in December 2013, will bring the highly successful Barclays Cycle Hire scheme to new areas within Wandsworth, Hammersmith &amp; Fulham, Lambeth and Kensington &amp; Chelsea. So far, users of the";}
        
        


 