


@{ViewBag.Title = "Boarding ramps to be introduced at 19 additional stations ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Boarding ramps to be introduced at 19 additional stations </h1>
        <div class="content-page-press-release">
        30 April 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        19 additional stations and 40 additional platforms to be made accessible from street to train this summer.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London now has one of the most accessible public transport networks in the world. But it's not perfect and we must go further. That's why we're investing in imaginative solutions to make further improvements."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London now has one of the most accessible public transport networks in the world. But it's not perfect and we must go further. That's why we're investing in imaginative solutions to make further improvements.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Further commitments set out by the Mayor are being delivered - with improved step-free signage at key stations, a world-leading audio visual system on the Victoria line and a new accessibility Twitter feed </li>
<li>Inclusion London and Transport for All appointed to boost Tube staff training and help establish accessibility 'Centres of Excellence' at five stations</li></ul>
<p>Transport for London (TfL) today announced that boarding ramps - used to bridge the gap between platform and train at Tube stations - will be introduced to all remaining step-free stations where it's feasible to deploy them this summer. </p>
<p>The ramps were retained at 16 Tube stations in September last year after their use during the 2012 Games and will now be introduced at an additional 40 platforms at 19 additional stations.</p>
<p>Currently, 66 stations on the network are step-free from street to platform, but the gap between platform and train has meant that wheelchair and mobility scooter users can struggle to board. </p>
<p>The new deployment of ramps will mean that, of the platforms that are currently accessible step-free from the street, 76 per cent (149 out of 195) will now be accessible to wheelchair and mobility scooter users through the use of the ramps, raised platform sections, low floor trains and other improvements.</p>
<p>Introducing ramps to more of the Tube network was one of the commitments outlined in the mayor and TfL's 'Your Accessible Transport Network' document in December of last year. </p>
<p>Progress on a number of other improvements outlined in the document was announced today as the Transport Commissioner, Sir Peter Hendy CBE, and Managing Director of London Underground, Mike Brown MVO, met with disabled people and disability organisations to discuss the programme. These include:</p>
<ul>
<li>Disability organisations Inclusion London and Transport for All have been appointed to improve training given to LU staff in how they assist older and disabled customers </li>
<li>Centres of excellence, which will act as exemplars for how TfL can best assist disabled customers, will be established at Stratford, King's Cross St Pancras, London Bridge, Green Park and Westminster stations </li>
<li>Significant improvements to signage have now been completed at 11 stations, with four more to be completed this summer. This distinctive new accessibility signage, developed in conjunction with disabled people, is positioned at locations and heights that are easily viewable from wheelchairs. It provides better information about how best to navigate stations, including Westminster, Waterloo, Kings Cross and London Bridge </li>
<li>A new Twitter feed &#64;TfLAccess has been launched to give advice on getting the most out of the transport network,&nbsp; to update disabled passengers on improvements to their services and to advise customers of any planned changes on the network - such as to lifts, escalators or stations - that may affect their journeys </li>
<li>A world-leading customer information system has now been introduced on the entire Victoria line. For the first time this gives give real-time disruption information to help people with hearing loss who may miss announcements from the driver.</li></ul>
<p>Mayor of London, Boris Johnson, said: 'London now has one of the most accessible public transport networks in the world. But it's not perfect and we must go further. That's why we're investing in imaginative solutions to make further improvements.</p>
<p>'More boarding ramps and better signage, information and staff training, are concrete examples of our commitment to make the transport network as accessible as possible.' </p>
<p>Mike Brown MVO, Managing Director of London Underground, said: 'Much of the Tube network dates back to an era where accessibility was not considered in the design of stations. </p>
<p>'We are rectifying that - making 27 more Underground and London Overground stations step-free over the next eight years, and rebuilding key stations like Victoria and Tottenham Court Road. </p>
<p>'But that work takes time, so in the shorter term we are making real improvements now - introducing&nbsp; a huge range of smaller measures such as boarding ramps, platform humps and improved signage and staff training to make it easier for disabled customers to get around.'</p>
<p>Tracey Lazard, Chief Executive, Inclusion London, said: 'Disabled and older passengers tell us that staff who are disability equality trained and confident to assist them make all the difference to a journey. </p>
<p>'That's why Inclusion London and Transport for All are excited about this new initiative and we look forward to providing an enhanced level of training&nbsp; to London Underground trainers and key staff at the five centres for excellence - developed in consultation with disabled and older Londoners who use the Tube and delivered by disabled trainers.'</p>
<p>Other commitments made in 'Your Accessible Transport Network' include:</p>
<ul>
<li>Crystal Palace is the latest station to become step-free, and over the next eight years 27 more Underground and London Overground stations will be made step-free </li>
<li>TfL is applying for more funding through the DfT's 'Access for All' scheme and hopes to be able to go beyond these 27 </li>
<li>Large-scale accessibility improvements are already underway at Bond Street, Tottenham Court Road, Victoria and other locations </li>
<li>A further 80 wide aisle gates have been installed at 60 Tube stations, and the number of platform humps is being increased to provide level access at a third of stations by 2016 </li>
<li>New rolling stock is being introduced on the Hammersmith &amp; City, Circle and District lines, and by 2016, 40 per cent of the Tube will be served by new, highly accessible trains </li>
<li>An additional &pound;18m is being invested to make at least 95 per cent of bus stops accessible by the end of 2016, bringing even greater ease to a bus network that is already the most accessible in the country </li>
<li>Bus drivers will receive additional guidance so that they can offer greater assistance to disabled passengers </li>
<li>TfL is completely redesigning its website with clearer, easier to read content </li>
<li>TfL is also working with developers to produce apps that make TfL's real-time information for the bus and Tube networks accessible, particularly for people with sight loss, and motor and learning disabilities </li>
<li>All newly-built Crossrail stations will have step-free access, and every London borough with a Crossrail station will have at least one with step-free access. Crossrail, opening in 2018, will unlock the West End with step-free stations at Paddington, Bond Street and Tottenham Court Road. </li></ul>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Boarding ramps are currently in use at 16 stations: Hammersmith (H&amp;C), King's Cross St. Pancras, West Ham, Westminster, Southfields, Wimbledon, Earl's Court, Fulham Broadway, Stratford, Woodford, Oxford Circus, Queen's Park, Edgware, Morden, Finchley Central and Stockwell </li>
<li>Over the summer, they will be introduced at the following stations:&nbsp; Caledonian Road, East Ham, Elm Park, Epping, Farringdon, Hainault, Hillingdon, Hounslow East, Kew gardens, Mile End, Richmond, Rickmansworth, Roding valley, South Woodford, Theydon Bois, Upney, Uxbridge, West Finchley&nbsp;and Wood Lane </li>
<li>At some stations factors such as the historic design of the platforms and track - particularly where there is a step down from the platform to the train - mean that boarding ramps are not an appropriate solution.&nbsp;TfL is continuing to investigate solutions in these cases </li>
<li>Your Accessible Transport Network is published&nbsp;at <a href="http://www.tfl.gov.uk/gettingaround/transportaccessibility/1167.aspx">tfl.gov.uk/mobility</a> </li>
<li>All DLR stations are step-free from street to train </li>
<li>All London buses are low-floor wheelchair accessible with ramps checked each day to ensure they are working. More than 90 per cent of London residents live within 400 metres of a bus stop, and the vast majority of these can be used by all bus passengers, including wheelchair users </li>
<li>All 22,000 of London's black cabs have wheelchair access </li>
<li>TfL also operates Dial-a-Ride - a free door-to-door service for disabled and older passengers who can't use public transport </li>
<li>Disabled passengers can now stay informed about how to get the most out of the transport network by following &#64;TfLAccess on Twitter </li>
<li>Currently, 1.3 million trips are made by disabled people every day, with disabled Londoners representing 11 per cent of London's population. Each day 4.9 million trips are made by passengers carrying heavy luggage, 1.5 million by people accompanied by a child under five (often with buggies) and 0.7 million by those aged over 74 </li>
<li>A total of 7.1 million trips a day are made by somebody with at least one of these barriers to mobility </li>
<li>To make it easy and convenient to get around London, TfL works with the London boroughs to offer free travel to many disabled people and to everyone who is 60 or over<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Further commitments set out by the Mayor are being delivered - with improved step-free signage at key stations, a world-leading audio visual system on the Victoria line and a new accessibility Twitter feed Inclusion London and Transport for All appointed";}
        
        


 