


@{ViewBag.Title = "Brand new Sunday service for route B12";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Brand new Sunday service for route B12</h1>
        <div class="content-page-press-release">
        25 April 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is to introduce a brand new Sunday service for route B12 from 28 April 2013.
        
    </div>



 <div class="on-this-page">
<p>The service is the result of extensive work by TfL in consultation with Bexley Council and other stakeholders and follows requests from passengers.</p>
<p>The new service will run every 30 minutes throughout the day, providing a brand new Sunday service to Joydens Wood, Coldblow and parts of Northumberland Heath with links to Bexleyheath and a number of railway stations.&nbsp; </p>
<p>The route will run clockwise round the Joydens Wood loop before noon and anticlockwise thereafter, as on other days of the week.</p>
<p>John Barry, Head of Network Development for TfL, said: 'London has an extensive bus network which we keep under regular review to see where we can deliver cost-effective benefits to our passengers.&nbsp; </p>
<p>'There was overwhelming support in the recent consultation and we are delighted to introduce a Sunday service on route B12.'</p>
<p>Councillor Gareth Bacon, Bexley's Cabinet Member for the Environment and Public Realm, said: 'The Council is delighted that TfL has agreed to operate the B12 service on Sundays. </p>
<p>'It provides important links to Bexleyheath and Erith town centres, as well as local railway stations. </p>
<p>'This is something that local residents have wanted for a long time. </p>
<p>'The Council, which is committed to making sure that the borough has the public transport it needs, worked hard alongside residents, TfL and other stakeholders to see this through to a successful conclusion.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The first bus on Sunday from Erith Town Centre is 07:12 and the last is 00:12.&nbsp; The first from Joydens Wood (Birchwood Road/Summerhouse Drive) is 06:50 and the last is 23:50 </li>
<li>London's buses carry more than 2.3 billion passengers each year and travel more than 490 million km</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The service is the result of extensive work by TfL in consultation with Bexley Council and other stakeholders and follows requests from passengers.The new service will run every 30 minutes throughout the day, providing a brand new Sunday service to";}
        
        


 