


@{ViewBag.Title = "Couple's wedded bliss starts down the aisle Underground";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Couple's wedded bliss starts down the aisle Underground</h1>
        <div class="content-page-press-release">
        08 April 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        When couples are planning their weddings they usually want a special mode of transport - a vintage car or a horse and carriage - Eliot Maunder and Emily Drabek were no exception - they wanted to travel by Tube!
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The new wide aisle gates at the station meant that their guests and the other passengers were able to get through independently and onto the train very quickly."</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">London Underground's Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The new wide aisle gates at the station meant that their guests and the other passengers were able to get through independently and onto the train very quickly.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Pictures available on request from the Press Office</li></ul>
<p>After going down the aisle and getting married at Marylebone Register Office Latin teacher Eliot, 28, and PhD student Emily, 25, went through the wide aisle gates at Baker Street Underground station with their wedding party of 30 guests and travelled to Charing Cross for their celebratory meal.</p>
<p>Eliot, of The Cut, Southwark, London, said: 'We wanted to travel on the Underground because it is so quick and easy. I travel on the Tube every day to get to work and it is the best way to get around the capital. </p>
<p>'There are always staff around if you need them - and on this special day we did - they guided us to the front of the train and we had a whole carriage to ourselves for all the wedding guests.'</p>
<p>Emily, from Eldertree Gardens, Exeter, Devon, said: 'When you live in Devon you really do appreciate the public transport in London, particularly the Tube.' </p>
<p>Howard Collins, London Underground's Chief Operating Officer said: 'We want to help all our customers and we are delighted that we could speed this young couple on their way to their wedding meal. </p>
<p>'The new wide aisle gates at the station meant that their guests and the other passengers were able to get through independently and onto the train very quickly.'</p>
<p>In order to help wheelchair and guide dog users, parents with buggies and passengers with luggage a further batch of wide aisle gates have been installed making a total of 348 gates at London Underground stations.<br>&nbsp;<br>Now 180 London Tube stations - two thirds of the entire London Underground network - have these gates installed, giving passengers more independence and quicker journeys. <br>&nbsp;<br>It means that customers don't have to ask staff to unlock a gate for them. In turn staff have more time to help customers in a variety of other ways:&nbsp; at ticket machines, by directing them to the correct platforms, or by guiding visually impaired customers.<br>&nbsp;<br>
<hr>

<p>
<p><strong>&nbsp;Notes to editors:&nbsp;&nbsp;&nbsp; </strong></p>
<ul>
<li>Currently, 1.3 million trips are made on London's public transport network by disabled people every day, with disabled Londoners representing 11 per cent of London's population. Each day 4.9 million trips are made by passengers carrying heavy luggage, 1.5 million by people accompanied by a child under five (often with buggies) and 0.7 million by those aged over 74 </li>
<li>A total of 7.1 million trips a day are made by somebody with at least one of these barriers to mobility </li>
<li>To make is easy and convenient to get around London TfL works with the London boroughs to offer free travel to many disabled people and to everyone who is 60 or over </li>
<li>The Mayor of London's election manifesto outlined his determination to do as much as he can to make it easier for all Londoners, including disabled and older people and parents with buggies, to use our transport network. The wide aisle gates will benefit many thousands of passengers every year and his accessibility action plan also sets out an aim for half of the rail network to be step free by the end of the decade </li>
<li>Nearly 40 per cent of all stops and stations across London's rail-based public transport network (including National Rail, Tube, DLR and Tramlink) are currently step-free, up from around 30 per cent in 2008. This includes 175 stations on the TfL network, with all DLR and nearly half of London Overground stations step-free </li>
<li>London will see a further 28 step-free London Underground and London Overground stations over the next 10 years - as well as dozens of National Rail stations and accessible Crossrail stations in the heart of the city. On the Tube alone, the number of journeys made by step-free routes each year will almost treble, from 67 million at present to 189 million in 2021 </li>
<li>Many large-scale accessibility improvements are already underway across the transport network, including TfL investing &pound;250 million in step-free projects at Bond Street, Finsbury Park, Greenford, Tottenham Court Road, Vauxhall and Victoria. More step-free projects are being progressed with third party developers and additional stations are being made partially step free </li>
<li>By the end of 2014, the fleet of 53 Hammersmith &amp; City and Circle line trains will have been transformed. From 2014 an additional 80 new trains will start being introduced to the District line. When completed, this will mean that 40 per cent of the network will be served by air-conditioned trains, with high standards of accessibility, such as dedicated wheelchair space, low floors and wider doors. TfL is increasing the number of platform humps to provide level access at a third of stations by 2016, and installing tactile paving on all platform edges across the network </li>
<li>Accessibility Improvements are also being made to bus stops and junctions at locations across London and TfL is looking to radically improve the information available to help disabled passengers plan and make their journeys&nbsp; </li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Pictures available on request from the Press OfficeAfter going down the aisle and getting married at Marylebone Register Office Latin teacher Eliot, 28, and PhD student Emily, 25, went through the wide aisle gates at Baker Street Underground station with";}
        
        


 