


@{ViewBag.Title = "Customer satisfaction high as Emirates Air Line carries two million passengers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Customer satisfaction high as Emirates Air Line carries two million passengers</h1>
        <div class="content-page-press-release">
        05 April 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Customer satisfaction with the Emirates Air Line is high with passengers giving it a score of 93 out of a possible 100 in a recent customer satisfaction survey.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Emirates Air Line is a new transport experience, and like river services on the Thames, it offers a unique way to see London."</div>
        <div class="quote-footer">
            <div class="quotee-name">Danny Price</div>
            <div class="quotee-job-title">TfL's Head of the Emirates Air Line</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Emirates Air Line is a new transport experience, and like river services on the Thames, it offers a unique way to see London.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Emirates Air Line celebrates high customer satisfaction score </li>
<li>Two million passenger journeys made in just nine months </li>
<li>Local businesses profit from the extra footfall the scheme encourages</li></ul>
<p>Customer satisfaction with the Emirates Air Line is high with passengers giving it a score of 93 out of a possible 100 in a recent customer satisfaction survey. </p>
<p>The Emirates Air Line celebrated two million passenger journeys this week on Monday 2 April and the survey shows the scheme continues to play a vital role in the Mayor of London's plans to regenerate east London.</p>
<p>TfL's Head of the Emirates Air Line, Danny Price said: 'I am pleased Emirates Air Line passengers are so happy with the service they receive. The Emirates Air Line is a new transport experience, and like river services on the Thames, it offers a unique way to see London. </p>
<p>'The positive results from the customer satisfaction survey and local businesses show it is supporting regeneration and playing a vital role in attracting investment to the area.'</p>
<p>Local businesses are already reporting an increase in footfall as a result of the scheme. Further boosts are expected as the area benefits from more development. WakeUp Docklands, London's first wakeboard and paddle board venue in the Royal Docks, has noticed the impact the Emirates Air Line has had on their business.</p>
<p>Director of WakeUp Docklands, Joe Radmore said: 'Footfall for our business has been exceptional and things would have been very different for us if the Emirates Air Line had not been built.' </p>
<p>The Emirates Air Line has proven to be popular with those seeking a unique way to see the capital and leisure users going to places such as WakeUp Docklands, The O2, The Crystal and ExCeL. </p>
<p>Director of Communications at the O2, Jeremy King said: 'The Emirates Air Line provides a great way for our visitors to get to The O2 and it has played a huge role in attracting domestic and international visitors to the local area, which in turn has driven more people to The O2. It is a great addition to Greenwich and the transport network.'</p>
<p>The balance between leisure users and regular passengers will change as further regeneration takes place, but the popularity amongst leisure users means the Emirates Air Line is covering its operating costs while encouraging people to visit Greenwich and the Royal Docks. </p>
<p>The Royal Docks has already attracted investment with the arrival of The Crystal - a sustainable cities initiative by Siemens, and there are exciting plans to create the UK's largest floating village as part of the on-going drive to revive the area. </p>

<p>An international competition to find developers and London partners to design and deliver the floating village was launched in March. </p>

<p>The plans will see 15 acres of water at the Royal Victoria Dock site, sitting directly under the Emirates Air Line, transformed into a thriving community with floating homes, hotels, restaurants and bars. </p>

<p>When complete, it will be one and a&nbsp;half times the size of central London's Green Park. </p>
<p>Data from The Crystal exhibition shows that over 46 per cent of visitors who completed the carbon footprint calculator are using the Emirates Air Line as a way to get there, while Siemens staff travel on it to get to work. </p>
<p>Anne Keogh, Head of External Relations at Siemens said: 'We have employees who commute to work at The Crystal by the Emirates Air Line as well as many visitors using the Emirates Air Line to get to our sustainable cities exhibition and caf&eacute;. </p>

<p>It is an innovative addition to the Royal Docks and an exciting, low-carbon way to cross the river.'</p>
<p>Other developments coming to Greenwich include a new 452 room hotel next to The O2 with residential apartments which are expected to be completed by 2015. </p>

<p>Both the floating village in the Royal Docks and the new hotel in Greenwich will benefit from the Emirates Air Line providing a direct river crossing between the two.</p>

<p>
<hr>
</p>

<p><strong>Notes to editors:</strong></p>
<ul>
<li>The results of the Customer Satisfaction Survey are based on 782 passenger interviews conducted at the Emirates Air Line terminals from September 2012 to January 2013</li>
<li>Customer satisfaction is measured quarterly through independent surveys of Emirates Air Line passengers. The results will be published on the on the corporate pages of the TfL website. </li></ul>

<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Emirates Air Line celebrates high customer satisfaction score Two million passenger journeys made in just nine months Local businesses profit from the extra footfall the scheme encouragesCustomer satisfaction with the Emirates Air Line is high with";}
        
        


 