


@{ViewBag.Title = "DLR announces short list of bidders for new franchise";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>DLR announces short list of bidders for new franchise</h1>
        <div class="content-page-press-release">
        17 April 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today announced the names of the companies shortlisted to bid for its new Docklands Light Railway (DLR) franchise.
        
    </div>



 <div class="on-this-page">
<p>The bidders are:</p>
<ul>
<li>Stagecoach Rail Projects Ltd </li>
<li>A joint venture between Keolis (UK) Ltd and Amey Rail Ltd </li>
<li>A joint venture between Go Ahead PLC and Colas Rail Ltd </li>
<li>Serco Ltd</li></ul>
<p>DLR Acting Director Rory O'Neill said: 'We are pleased to further consider the bids from these companies which have passed the first stage of the rigorous process in issuing a new franchise.</p>
<p>'The DLR is already a highly successful railway but we are not complacent and wish to ensure that the service offered to Londoners continues to improve.'</p>
<p>This shortlist is as a result of the pre qualification process undertaken following the publication of a notice in the Official Journal of the European Union. </p>
<p>TfL will now be issuing an Invitation to Tender to these companies within the next few weeks. </p>
<p>Under the new franchise, TfL wants to ensure that:</p>
<ul>
<li>Service reliability continues to improve </li>
<li>Trains, stations and track are maintained to support service reliability and are used&nbsp; efficiently long term </li>
<li>Capacity on the railway continues to grow to support development in the Docklands area and along the railway's routes </li>
<li>Customer satisfaction continues to increase </li>
<li>The environmental impact of the railway is reduced </li>
<li>Safety performance continues to improve&nbsp; </li>
<li>A good, value-for-money service is delivered for passengers and tax-payers.</li></ul>
<p>The new franchise is due to commence on 14 September 2014.</p><strong>
<p>
<hr>

<p>
<p>Notes to editors:</strong><p>
<ul>
<li>The current franchise operated by Serco Limited was originally due to expire in March 2013. It was extended until 14 September 2014 to allow exclusive focus on delivering services for the London 2012 Olympics</li>
<li>Once received, Invitations to Tender from the shortlisted companies will be considered and a decision on the successful bidder is expected be made around the middle of 2014</li>
<li>The DLR carried a record-breaking 100 million passengers during the 2012/13 year</li>
<li>The DLR was opened by the Queen in 1987, with 11 trains serving 15 stations and in its first year of operation it carried 6.7 million&nbsp;people. Today the railway - which is entirely step-free&nbsp;- has 45 stations, 38km of track and 149 carriages</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The bidders are:Stagecoach Rail Projects Ltd A joint venture between Keolis (UK) Ltd and Amey Rail Ltd A joint venture between Go Ahead PLC and Colas Rail Ltd Serco LtdDLR Acting Director Rory O'Neill said: 'We are pleased to further consider the bids";}
        
        


 