


@{ViewBag.Title = "DLR carries record-breaking one hundred million passengers in one year";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>DLR carries record-breaking one hundred million passengers in one year</h1>
        <div class="content-page-press-release">
        03 April 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The year's one hundred millionth passenger was recorded travelling on the 25-year-old railway in the early afternoon of Sunday 31 March.
        
    </div>



 <div class="on-this-page">
<p>The milestone has been achieved whilst still delivering consistently high levels of customer service that have been recognised by industry awards.</p>
<p>The Docklands Light Railway (DLR) carried one hundred million passengers this past financial year - breaking all its previous records and exceeding the numbers being carried on some mainline services.</p>
<p>The DLR's Head of Planning, Robert Niven, said: 'This significant milestone caps a magnificent year for the DLR which saw us carry 7.2m people during the 2012 Olympic Games - double what we would normally carry during that time.</p>
<p>'And in just 25 years, the DLR has grown from running 11 trains on just two routes to becoming a key part of the world's most prestigious sporting event while also servicing a rapidly growing local community.</p>
<p>'We have managed our expansion and increased our capacity to these unforeseen levels all while maintaining some of the highest reliability scores in the UK. We are now well placed to meet exciting future challenges as the east and south east of London host new developments and become the job creation hotspots of the next decades.'</p>
<p>The DLR was opened by the Queen in August 1987, with 11 trains serving 15 stations and in its first year of operation it carried 6.7m people. </p>
<p>Today the railway - which is entirely step-free - has 45 stations, 46 km of track and 149 carriages.</p>
<p>The network was one of Britain's first light rail systems, and it has one of the safest and most advanced automatic train control systems in the world. </p>
<p>Since opening, it has been extended to Bank, Beckton, Lewisham and Woolwich Arsenal. </p>
<p>During the 16 days of the London 2012 Olympic Games, 7.2 million passengers were carried on the DLR - up 100 per cent on normal levels; on 3 August 2012, Day 7 of the Games, the DLR carried over 500,000 daily passengers&nbsp;- its busiest day ever.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Extensions to the DLR were completed to Bank underground station in 1991, Lewisham in 1999, to King George V via London City Airport in 2005 and on to Woolwich Arsenal in January 2009. The Stratford International Extension from Canning Town to Stratford International with four new stations was completed in August 2011</li>
<li>In May 2011, DLR completed the 3-Car project which involved increasing the length of trains from two-carriages to three-carriages. These longer trains allowed 50 per cent more people to travel than before.&nbsp; The entire DLR network is now capable of running these longer trains which provide more comfortable journeys and more space on platforms</li>
<li>The DLR counts its passengers with an automated system that records the number of people that pass through detectors at every entrance and exit on the network, including lifts and escalators</li>
<li>The DLR won the Rail Business of the Year as well as first place in the Customer Information and Service Excellence category in the recent Rail Business Awards.</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The milestone has been achieved whilst still delivering consistently high levels of customer service that have been recognised by industry awards.The Docklands Light Railway (DLR) carried one hundred million passengers this past financial year - breaking";}
        
        


 