


@{ViewBag.Title = "First new bus for London 'production vehicles' leave the factory";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>First new bus for London 'production vehicles' leave the factory</h1>
        <div class="content-page-press-release">
        12 April 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A production line set up to manufacture a fleet of the Mayor's new buses for London has despatched its first completed buses to the capital.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These fabulous machines meld the very best in design, engineering and green engine technology."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These fabulous machines meld the very best in design, engineering and green engine technology.  
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Route 24 to operate exclusively with new buses from 22 June </li>
<li>Latest emission tests show buses are greenest of type in the world </li>
<li>UK bus manufacture creates jobs and boosts the economy&nbsp; </li></ul>
<p>The first two buses have left the Wrightbus factory in Northern Ireland, these will be followed by another four next week and a further 594 over the next three years.&nbsp; </p>
<p>When they arrive in London the buses will initially be used for driver training and familiarisation.</p>
<p>The route 24, which Metroline operates between Pimlico and Hampstead Heath, will become the first bus route to operate exclusively with new bus for London vehicles from Saturday 22 June.&nbsp;&nbsp;&nbsp; </p>
<p>Transport for London (TfL) has also confirmed today that independent emission testing of a prototype vehicle has shown that this is the cleanest and greenest bus of its type anywhere in the world.&nbsp; </p>
<p>The Mayor of London, Boris Johnson, said: 'I am delighted that our first gleaming new buses have driven off the production line, through the gates of Wrightbus and are now London-bound.&nbsp; </p>
<p>'These fabulous machines meld the very best in design, engineering and green engine technology.&nbsp; </p>
<p>'I believe they will be hugely popular with passengers and they will be joined by hundreds more of their brethren in the coming years.' </p>
<p>Previous emission testing involved an Engineering Test Vehicle.&nbsp;The latest results are from a vehicle that has been in passenger service for eight months and that has driven more than 15,000 miles.&nbsp;In tests the bus emitted:</p>
<ul>
<li>2.048g/km of NOx - this is around four times less than the fleet average for hybrid buses (7.7g/km) and diesel buses (9.3g/km) </li>
<li>690.23g/km of CO2 - which is better than the fleet average for hybrid (864g/km) and is almost half the fleet average for diesel buses (1295g/km) </li>
<li>0.012g/km of PM - which is four times less than the fleet average for hybrid and diesel buses - which emit 0.048g/km of PM&nbsp;&nbsp;&nbsp; </li></ul>
<p>Financial approval to order 600 new bus for London vehicles was given by the TfL Board in September last year.&nbsp; </p>
<p>The buses will be delivered in batches over the next three years.&nbsp;The order represents the largest order of hybrid buses ever placed in Europe and will deliver significant environmental benefits - reducing CO2 emissions in the capital by almost 20,000 tonnes a year.</p>
<p>Many components of the new bus, including engines, chassis, superstructure and seats, are manufactured in the UK.&nbsp; </p>
<p>The order of components from companies across the UK will also further stimulate the economy. </p>
<p>
<hr>
<br><strong>Notes to editors: </strong>
<p>
<ul>
<li>A image of the new buses is available on request from the Press Office&nbsp;&nbsp;&nbsp;&nbsp; </li>
<li>The route 24 is operated by Metroline and runs from Hampstead Heath to Pimlico, via Camden, Trafalgar Square, Parliament Square, and Victoria.&nbsp; It operates 24 hours a day.&nbsp; During peak hours, 27 of the new buses will be in passenger service to carry the 28,000 people who use the route each day </li>
<li>The 600 buses represent a 200 per cent increase in the current hybrid bus fleet which is set to grow by a further 180 vehicles already on order and boosted by a commitment to deliver 600 conventional hybrids over the next three years.&nbsp; When the final batch of new bus for London vehicles is delivered in 2016 more than 1,600 hybrid buses (representing around 20 per cent of London's 8,500 strong bus fleet) will be in service on the streets of London </li>
<li>The first 27 buses (plus 5 spares) will be used to convert the route 24 on Saturday 22 June.&nbsp; Another route will be converted in the autumn.&nbsp; In total around 90 new buses will be delivered to TfL in 2013.&nbsp; Approximately 200 vehicles will be delivered in 2014, 250 in 2015 with the remainder in 2016 </li>
<li>The Wright Group was founded 1946 and is a family owned and managed company, has pioneered low floor buses in the UK, and has earned a reputation for producing vehicles which are stylish, durable, high in quality and packed with innovative features.&nbsp; Wrightbus won a contract in 2009 to build eight prototypes with an option to produce the first 1,000 vehicles </li>
<li>Metroline is a wholly owned subsidiary of Singapore based ComfortDelGro; one of the world's largest passenger land transport companies.&nbsp; Metroline's principal business is the provision of bus services under contract to London Buses, operating through an area that extends from North to West London, including Central London and the City</li></ul>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Route 24 to operate exclusively with new buses from 22 June Latest emission tests show buses are greenest of type in the world UK bus manufacture creates jobs and boosts the economy&nbsp; The first two buses have left the Wrightbus factory in Northern";}
        
        


 