


@{ViewBag.Title = "iBoat to help passengers navigate the Thames ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>iBoat to help passengers navigate the Thames </h1>
        <div class="content-page-press-release">
        10 April 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Realtime boat arrival information for River Bus services.
        
    </div>



 <div class="on-this-page">
<p>Available on screens at piers or via SMS.</p>
<p>Data made available to app developers.</p>
<p>
<hr>
</p>
<p>Passengers travelling on the River Thames should never 'miss the boat' again, as Transport for London (TfL)&nbsp;introduces a new real time boat arrival information service to all piers served by River Bus services.</p>
<p>Using the same technology as the hugely successful iBus service, up-to-the-minute boat arrival information has been made available on screens at piers and via a text message service.&nbsp; </p>
<p>The data will be available on the TfL website later this year.</p>
<p>The delivery of realtime boat information along the River Thames was detailed in the Mayor's 'River Action Plan' which was published in February 2013.&nbsp; </p>
<p>It is the first of many measures that are to be delivered with an aim to double the number of passengers using the river by 2020.</p>
<p>As part of TfL's continued digital strategy, the data has also been made available to app developers, free of charge, which it is hoped will lead to new and innovative smart phone applications making the information even more readily available.</p>
<p>Andy Thompson, Head of London River Services, said: 'Whether you are catching a River Bus service for your morning commute or to attend a concert at The O2, the vastly improved real time boat arrival service helps you make the most of the Thames.&nbsp; </p>
<p>'We are delivering next boat arrival information to your finger tips enabling you to plan your journey to perfection.'</p>
<p>TfL is currently rolling out upgraded passenger information signs at 12 of the existing piers served by the River Bus service, with new signs planned at a further six piers.&nbsp; </p>
<p>These include St Georges Wharf Pier in Vauxhall and Hilton Docklands Pier, along with four piers on the River Bus route from Putney to Blackfriars which did not previously have any departure information.&nbsp; </p>
<p>These piers will be fitted with new signs in the next few weeks.&nbsp; </p>
<p>The improved signs provide clearer amber text on a black background and are of particular help to visually impaired passengers. </p>
<p>The new passenger information signs will also be able to display important service information so passengers are kept fully informed at all times.</p>
<p>Passengers will have real time next boat arrival information at their finger tips - wherever they are - with the new service.&nbsp; </p>
<p>By simply texting the pier code, clearly displayed at piers, to 87287 they will received detailed next boat arrival information for a small charge*.</p>
<p>As part of TfL's continued commitment to provide real time information to our passengers, it recently launched a new Twitter feed - &#64;TfLriver - that provides updates on the services operated on behalf of London River Services.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:&nbsp;</strong></p>
<ul>
<li>Real time boat arrival information will be added to the TfL website later this year</li>
<li>The SMS service costs 12p plus the network operator's standard SMS charge<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Available on screens at piers or via SMS.Data made available to app developers.Passengers travelling on the River Thames should never 'miss the boat' again, as Transport for London (TfL)&nbsp;introduces a new real time boat arrival information service to";}
        
        


 