


@{ViewBag.Title = "Latest performance figures show Tube on track for most reliable year ever";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Latest performance figures show Tube on track for most reliable year ever</h1>
        <div class="content-page-press-release">
        24 April 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New figures from the start of 2013 show that London Underground (LU) customers continue to see solid reliability performance on the Tube as the network remains on track to record its most reliable year on record.
        
    </div>



 <div class="on-this-page">
<p>The figures, covering periods 11 and 12 of 2012/13 (6 January to 3 February and 3 February to 2 March), show that customer demand continues to rise - in total there were 187m journeys made during the two four-week periods, with LU operating 97.5 per cent of scheduled train services. </p>
<p>The new Victoria line timetable, introducing a 33 trains per hour service to the line following the successful upgrade of track, signalling and train fleet, was also introduced during period 11, giving customers the highest frequency service anywhere in the UK.</p>
<p>Customer satisfaction, measured quarterly through independent surveys of LU customers, stands at a record high of 84. </p>
<p>Reliability of services is at record levels, and is poised to smash last year's best ever performance.</p>
<p>The continuing trend of long-term improvement follows the success of the London Underground Reliability Programme.&nbsp; London Underground continues to implement this Programme to meet the Mayor's commitment of reducing delays by a further 30 per cent by 2015.</p>
<p>Mike Brown, Managing Director of London Underground and Rail, said: 'Building reliability into our services is at the core of everything we are doing, and customers are seeing this in improved journeys. </p>
<p>'But we cannot be complacent - we must continue to invest to keep pace with the relentless demand placed on the Tube, which enables the capital to function as the engine room of the UK economy.'</p>
<p>
<hr>

<p>
<p><strong>Note to editors:</strong></p>
<ul>
<li>The performance figures for periods 11 and 12 can be viewed at <a href="http://tfl.gov.uk/corporate/modesoftransport/londonunderground/1592.aspx">tfl.gov.uk/corporate/modesoftransport/londonunderground/1592.aspx</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The figures, covering periods 11 and 12 of 2012/13 (6 January to 3 February and 3 February to 2 March), show that customer demand continues to rise - in total there were 187m journeys made during the two four-week periods, with LU operating 97.5 per cent";}
        
        


 