


@{ViewBag.Title = "Major cycle safety trial showcases how the UK could adopt innovative junction designs";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Major cycle safety trial showcases how the UK could adopt innovative junction designs</h1>
        <div class="content-page-press-release">
        30 April 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        'Dutch-style' roundabouts and low-level cycle signals trialled on  suitability for use in UK. Subject to Government approval, new technology could be on-street during 2014.
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) has begun a major cycle safety research project to trial new and innovative junction layouts and traffic technology that, if successful, could be introduced in London and potentially more widely across the UK.</p>
<p>The trials, which are being carried out for TfL by the&nbsp;Transport Research Laboratory (TRL) in Wokingham, will examine a range of suggestions such as 'Dutch-style' roundabouts and low-level cycle signals to assess their suitability for introduction on the UK's roads, subject to Department for Transport (DfT) approval.</p>
<p>The work to trial these innovative methods forms a key part of the Mayor's wider Vision for cycling in London. </p>
<p>During the next ten years, more than &pound;913m will be spent on transforming the Capital through new cycle routes and better provisions for cyclists. </p>
<p>During the trials, hundreds of cyclists and drivers of different types of vehicles will be observed travelling through different designs and configurations of junctions and road layouts to see whether the changes would help improve road safety for all road users. </p>
<p>Subject to the outcome of these trials, TfL would work with the DfT to trial some of these innovative methods on London's roads during 2014.</p>
<p>Future trials will also look at how people respond to different road markings which are used across Europe to see whether there is any benefit in introducing these to the UK's roads.</p>
<p>The Mayor and TfL are also actively engaging with Government for wider changes to regulations, such as allowing better enforcement of cycle lanes and advanced stop lines, to further improve cycle safety.</p>
<p>The Mayor of London, Boris Johnson, said: 'I want London to lead the way in improving conditions for cyclists and the work being carried out at the Transport Research Laboratory shows what can be done if you think outside of the box. </p>
<p>'Making our Capital safer for those on two wheels is a real priority and I am eager to see what exciting innovations come out of these trials.'</p>
<p>Local Transport Minister Norman Baker said: 'We are always interested in innovative ideas to improve safety for cyclists and that is why we are working closely with TfL and others to develop, test and now trial low level cycle signals. </p>

<p>'Cycling is a safe activity and we are determined to make it safer, we have provided an additional &pound;15m to fund improvements to cycle infrastructure in the Capital as well as making it easier for councils to put in place 20 mph zones and install cycle safety mirrors.&nbsp; </p>

<p>'I look forward to seeing how these latest experimental designs perform in the trials.'</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL said: 'TfL has an incredible history of being at the forefront of delivering innovation, through the New Bus for London, Pedestrian Countdown and 'Trixi' Mirrors to name but a few examples. </p>

<p>'These highly ambitious new trials will help lead to safer streets for cyclists and further cement London's position as a truly world class cycling city.'</p>
<p>TfL continues to carrying out major and substantial improvements at and around the worst junctions across London to ensure they remain safe for all cyclists. </p>

<p>'Work on the next key junctions will begin shortly, with improvements at Bow Roundabout and a 20mph speed limit at Waterloo roundabout due to be delivered in summer 2013.</p>
<p>In addition, TfL is continuing to deliver a wide ranging package of measures to improve provisions for cyclists across London. </p>

<p>Work to install a further 100 blind spot cycle safety mirrors across central London was completed in March 2013, and further work is underway to identify locations for additional mirrors and cycle parking across the TfL Road Network during 2013/14.</p>
<p>For more information and to participate in these trials, visit <a href="http://www.trl.co.uk/cyclinginnovationtrials/">http://www.trl.co.uk/cyclinginnovationtrials/</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has begun a major cycle safety research project to trial new and innovative junction layouts and traffic technology that, if successful, could be introduced in London and potentially more widely across the UK.The trials, which";}
        
        


 