


@{ViewBag.Title = "Make more of spring and summer with London River Services";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Make more of spring and summer with London River Services</h1>
        <div class="content-page-press-release">
        30 April 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        With spring finally here, and thoughts of long summer days ahead, there has never been a better time to make the most of the River Thames.
        
    </div>



 <div class="on-this-page">
<p>Whether you are looking for a new and relaxing way to commute or want to make the most of your leisure time, the newly published spring and summer guide to London River Services will be an invaluable companion. </p>
<p>The handy guide provides timetable information for all River Bus services - including a more frequent Putney to Blackfriars service.&nbsp; </p>
<p>The guide also contains details of River Tours services - which offer a whole range of leisure activities including dinner cruises, sightseeing cruises, or more exhilarating trips on the fastest boats on the Thames. </p>
<h2>Fast commuter services</h2>
<p>Andy Thompson, Head of London River Services, said: 'The Thames flows through the heart of our city and there really isn't a better way to see the Capital from a completely different perspective.&nbsp; </p>
<p>A range of services are available stretching from Hampton Court to Woolwich - offering everything from fast commuter services, to dinner cruises to sightseeing trips on high-speed boats.'</p>
<p>Transport for London (TfL) and the Mayor of London are committed to making the most of the River Thames and to this end recently launched a 'River Action Plan' that will see &pound;10m invested with the ambitious aim of increasing the number of people travelling on the river from 6.5 million&nbsp; to 12 million by 2020. </p>
<h2>Working together</h2>
<p>The River Action Plan sets out a range of improvements to piers and, passenger information.&nbsp; </p>
<p>TfL will also seek to better promote river services and work more collaboratively with partners such as boat operators and London and Partners.&nbsp;</p>
<p>As part of this plan TfL has already delivered real time next boat information to the majority of the piers served by River Bus services, allowing passengers to time their arrival at a pier to catch the next service.</p>
<p><br>
<hr>
<strong>Notes to editors: </strong>
<p>
<ul>
<li>The London River Services spring/summer River Bus and River Tours guides are available at <a href="http://www.tfl.gov.uk/river">tfl.gov.uk/river</a> </li>
<li>London River Services is responsible for managing eight piers on the river: Westminster, Festival, Embankment, Millbank, Blackfriars, Bankside, Tower and Greenwich </li>
<li>All London River Services piers allow step-free access from the shore to the boat, allowing easy access for mobility impaired passengers.&nbsp;Most river boats are accessible - passengers should contact boat operators for comprehensive accessibility information when planning their journeys.&nbsp; The relevant contact information is included in the new guide and is available at <a href="http://www.tfl.gov.uk/river">tfl.gov.uk/river</a> </li>
<li>The fast River Bus service, RB1, operates all day every day from Embankment Pier and London Eye Pier to The O2 at North Greenwich, with some continuing to Woolwich Arsenal.&nbsp;The last boat back into central London from North Greenwich is at 22:20 daily although services run later on event nights at The O2 </li>
<li>Passengers with a valid Travelcard get a third off the price of most river services.&nbsp; Passengers with Oyster pay as you go get 10 per cent off the Thames Clipper standard adult fare, with the exception of journeys on The O2 Express service and the Putney to Blackfriars service (RB6) </li>
<li>London River Services is keen to ensure the continued growth and development of river services and to see that all riverboat services are integrated, where practicable, with London's other public transport services <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Whether you are looking for a new and relaxing way to commute or want to make the most of your leisure time, the newly published spring and summer guide to London River Services will be an invaluable companion. The handy guide provides timetable";}
        
        


 