


@{ViewBag.Title = "Mayor hails London's lane rental scheme as roadworks disruption is cut by over a third at traffic hotspots";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor hails London's lane rental scheme as roadworks disruption is cut by over a third at traffic hotspots</h1>
        <div class="content-page-press-release">
        26 April 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        92 per cent of roadworks now done outside peak hours in the UK's first lane rental area.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Disruption is down, the vast majority of works are now done outside of peak hours and an impressive range of new-fangled techniques are now being used to minimise the impact on London's roads users"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Disruption is down, the vast majority of works are now done outside of peak hours and an impressive range of new-fangled techniques are now being used to minimise the impact on London's roads users
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Mayor urges all parties to continue to innovate and further tackle disruption </li></ul>
<p>Mayor of London, Boris Johnson, today hailed the initial success of London's lane rental scheme, the first of its kind in the UK, which has seen serious and severe disruption from roadworks in the lane rental areas cut by more than a third compared to the same period the previous year. </p>
<p>The scheme, which came into effect on 11 June 2012 on the busiest parts of London's road network, is designed to encourage utility companies to avoid digging up the busiest roads at peak traffic times. </p>
<p>Following the introduction of the scheme, more than 92 per cent of utility company roadworks at the traffic hotspots are now taking place outside of peak traffic hours, compared to around 30 per cent before the scheme came into effect. </p>
<p>For Transport for London's (TfL's) own roadworks, this figure is now 99 per cent.</p>
<p>All main utility companies have now also signed up to the use of rapid drying materials, considerably reducing the amount of time required to reopen roads and helping to save approximately 2,700 days of disruption across London.</p>
<p>Speaking at the first Roadworks Innovation Summit at City Hall, the Mayor urged all parties to build on the innovation now being seen in order to further reduce the impact of utility works on London's streets.</p>
<p>Mayor of London, Boris Johnson, said: 'Lane rental is all about using the limited road space within our streets as effectively as possible and, as we predicted, it is proving successful. </p>
<p>'Disruption is down, the vast majority of works are now done outside of peak hours and an impressive range of new-fangled techniques are now being used to minimise the impact on London's roads users.</p>
<p>'But more can be done; and that is why we've brought together the capital's boroughs and utility companies to consider how we can use this technology to bring 21st century knowledge to the maintenance of a road system that dates back to the Romans.'</p>
<p>As part of TfL's work to develop a lane rental scheme, a range of techniques to cut disruption have been developed by the Transport Research Laboratory (TRL), funded through revenue raised through the lane rental scheme.</p>
<p>These include advanced underground mapping techniques and 'key hole surgery' to maintain utility pipes whilst avoiding the need to completely dig up the road surface, new plating and bridging systems over openings in the carriageway, temporary backfill materials for trenches and the use of rapid drying materials for quicker reinstatement of the carriageway following works.</p>
<p>These advances, brought about by the lane rental scheme, are already being used by a range of companies including:</p>
<ul>
<li>Southern Gas Network (SGN) has now started to use 'key hole surgery' Core and Vac technology, which reduces the number and size of excavations needed at work sites, at several locations. This has, for example, allowed works in Peckham road to be completed in two days when they would have otherwise have taken six</li>
<li>Thames Water undertook works to repair a leaking water main on a major traffic pinch point near Finsbury Park station using rapid cure concrete, vastly cutting the number of days needed to complete the work</li>
<li>An innovative new 'Pipe Puller' was used in Enfield to replace old lead residential water supply pipes. The operation only required a minor excavation at each end of the pipe to be replaced rather than traditional trench excavation along the entire length of the pipe run, cutting disruption.&nbsp;&nbsp;</li></ul>
<p>Garrett Emmerson, Chief Operating Officer for Surface Transport at TfL said: 'Our continuing work with the utility industry has already seen disruption caused by roadworks fall dramatically in recent years. </p>
<p>'By adopting more innovation and world-leading technologies, we can continue to reduce disruption and keep all road users on London's road network moving.'</p>
<p>Malcolm Russell, Director of Operations, for Southern Gas Networks, said: 'We're helping to reduce traffic jams with our 'core and vac' technology. This is keyhole surgery for roads, with which we can pinpoint a gas leak and then cut through the road to the exact location to complete the repair.</p>
<p>'The removed core of road is put back in place, with the whole process reducing the length of repair from days to hours. Not only is this good for motorists and our customers it's good for us as it saves money.'</p>
<p>For more information about how TfL is working to further tackle roadworks disruption, please visit <a href="http://www.tfl.gov.uk/roadworks">tfl.gov.uk/roadworks</a> </p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>As of April 2013, all London boroughs have introduced the London Permit Scheme. As a result firms undertaking work anywhere in London have to apply for a permit before they can begin digging up the roads</li>
<li>The permit scheme also enables TfL to monitor the number of roadworks taking place on its roads at any one time and ensure that they don't exceed the agreed limit. In 2010 the cap was put in place to reduce the maximum number of works taking place by 20 per cent; the limit has since been further revised to reduce the maximum number of works by a further 10 per cent. Traffic Police Community Support Officers (TPCSOs) are also used to clamp down on roadworks that are outside of their permit</li>
<li>Londoners can report disruptive or badly managed roadworks, as well as road defects such as potholes and damaged footpaths, by visiting <a href="https://reportit.tfl.gov.uk">reportit.tfl.gov.uk</a> from your computer, tablet or mobile. Any enquiries received will be sent directly to the relevant Highway Authority (TfL or a London borough) responsible, ensuring that direct and fast action can be taken</li>
<li>The Roadworks Innovation Summit is being attended by officials from Transport for London, the Deputy Director of Traffic Policy at the Department for Transport (DfT), Chief Executives, Directors of Environment &amp; Transport Managers from the London Boroughs, the Operations Directors from the six main Utility Companies and Directors and Senior Contract Managers from all four London Highway Alliance Contractors.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Mayor urges all parties to continue to innovate and further tackle disruption Mayor of London, Boris Johnson, today hailed the initial success of London's lane rental scheme, the first of its kind in the UK, which has seen serious and severe disruption";}
        
        


 