


@{ViewBag.Title = "New ticket gates at Kensington (Olympia) station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New ticket gates at Kensington (Olympia) station</h1>
        <div class="content-page-press-release">
        08 April 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) will be introducing automatic ticket gates and also preserving pedestrian access across a footbridge at London Overground's Kensington (Olympia) station.
        
    </div>



 <div class="on-this-page">
<p>The gates will be installed in July in the refurbished booking hall on the Olympia Way entrance to the station, as well as the Russell Road entrance, and will help tackle fare evasion and improve security.</p>
<p>While the gates are being installed, an additional staircase will also be built to relieve congestion and provide an unobstructed pedestrian route between Olympia Way and Russell Road.</p>
<p>Jonathan Fox, Acting Director of Transport for London's London Rail, said: 'We are pleased to be able to start work next week to refurbish this station and footbridge in a way that both meets residents' wishes and also improves security for passengers. </p>
<p>'We will install ticket gates and at the same time maintain unrestricted pedestrian access by dividing the station and footbridge into paying and non-paying zones.</p>
<p>'We would like to thank the local community for their feedback during this process and would ask local people for their patience while work to install the gates and staircase are being carried out.'</p>
<p>Following feedback from the community and their council representatives, plans for the station were revised to maintain unrestricted pedestrian access across the footbridge. The platforms will be inaccessible from this segregated pedestrian route.</p>
<p>Works are due to start on Monday 15 April, and are expected to be completed by mid-July 2013. </p>
<p>The works will be conducted from 09:00 to 18:00 and will cause no disruption to train services or the travelling public. Free pedestrian access over the station will be maintained throughout the works. </p>
<p>
<hr>
</p>
<p><strong>Note to editors:</strong></p>
<ul>
<li>The footbridge route is not designated a public right of way and will be closed on Christmas Day and any other time deemed necessary by railway authorities<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The gates will be installed in July in the refurbished booking hall on the Olympia Way entrance to the station, as well as the Russell Road entrance, and will help tackle fare evasion and improve security.While the gates are being installed, an additional";}
        
        


 