


@{ViewBag.Title = "New Tube extension for south London moves one step closer";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New Tube extension for south London moves one step closer</h1>
        <div class="content-page-press-release">
        30 April 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New line would support the creation of up to 25,000 jobs.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Local area would also benefit from 16,000 new homes</li>
<li>Transport for London has today submitted a Transport and Works Act Order application for Northern line extension&nbsp;</li></ul>
<p>Thousands of people in south London are one step closer to having better access to the Tube as Transport for London (TfL) today confirmed that it has applied for powers to build and run an extension of the Northern line to Battersea from Kennington via Nine Elms.&nbsp; </p>
<p>If the Tube link goes ahead travel to the West End and the City would be cut to 15 minutes from the Battersea area. </p>
<p>If planning powers are obtained from the Government, and a funding package is in place, then construction of the Northern line extension could begin in 2015 with the two new stations opening in 2020. <br>&nbsp;<br>Transport for London has today submitted a Transport and Works Act Order (TWAO) application to the Secretary of State for Transport. </p>
<p>This date marks the start of the statutory process during which people or organisations can make representations to Government with their views on the proposed scheme. This period will last for seven weeks. <br>&nbsp;<br>Results from three public consultations on plans to extend the Northern line have confirmed strong support for this potential new Tube link. </p>
<p>The extension would help kick start regeneration in the Nine Elms area of south London and provide major transport benefits for local people.<br>&nbsp;<br>The extension would reduce pressure on Vauxhall station, provide relief to the existing Northern line south of Kennington and give wider access to leisure and employment opportunities for local people. The new infrastructure would support up to 25,000 jobs and 16,000 new homes. <br>&nbsp;<br>Now that the TWA application has been submitted details of the documents will be available to view online at <a href="http://www.tfl.gov.uk/nle">tfl.gov.uk/nle</a>, at selected libraries along the route and at the council offices of Wandsworth and Lambeth. </p>
<p>Leaflets to homes, businesses, schools and community venues along the route will be distributed by TfL.&nbsp; </p>
<p>These will publicise the application and promote a number of drop in events where full details of the application and the documents to support it can be seen.&nbsp;TfL staff will be on hand to answer questions from those who attend.&nbsp; <br>&nbsp;<br>After the submission of the TWAO, a public inquiry is likely to be held this autumn after which the Government will make a decision.&nbsp;This is expected by autumn 2014. <br>&nbsp;<br>Mich&egrave;le Dix, Managing Director of Planning for Transport for London, said: 'South London is one step closer to a possible new Tube extension.&nbsp;<br>&nbsp;<br>'We are now seeking planning approval from the Government to build and operate this vital transport link with the submission of a Transport and Works Act Order.&nbsp;<br>&nbsp;<br>'Extensive public consultation has shown that the majority of local residents and businesses are behind this proposed Tube extension, which will create access to the Underground for thousands of people, as well as cutting journey times from the Battersea area to the West End and the City to about 15 minutes.'</p>
<p>Ravi Govindia, leader of Wandsworth Council and chair of the Nine Elms Vauxhall Partnership, said: 'Bringing the Tube to Battersea has long been the ambition of this council and we are now within touching distance. 'This project is the key to unlocking Nine Elms on the South Bank's full potential and delivering 25,000 new jobs and 16,000 new homes.'</p>
<p>Funding for the proposed Tube link is guaranteed by the finance package confirmed by the Chancellor in his 2012 Autumn Statement. Up to &pound;1bn would be borrowed by the public sector to finance the construction of the extension. </p>
<p>The funding to repay this borrowing would then come from the private sector in the form of business rates and private developer contributions. </p>
<p>
<hr>
<strong><br>Notes to editors:</strong></p><strong>
<ul>
<li></li></ul></strong>The Government confirmed in the Chancellor's 2012 Autumn Statement that up to &pound;1bn of borrowing from the Public Works Loan Board would be available to the Greater London Authority (GLA) to finance the construction of the NLE. Whilst the borrowing will be done by the public sector, the funding to repay this borrowing will come from the private sector in the form of: <br>-&nbsp;Incremental business rates, retained by the Greater London Authority for a period of 25 years in a new Enterprise Zone (EZ) in the London Boroughs of Wandsworth and Lambeth; and <br>-&nbsp;Contributions received by the boroughs from local developers under the Section 106 and Community Infrastructure Levy regimes.<br>The GLA and TfL are finalising arrangements for the financing of the extension with the developer of the Battersea Power Station site, central Government and the local authorities and the details of this will be included in a funding statement as part of the TWAO application
<li>The Tube is undergoing a huge and essential programme to modernise its infrastructure - vital to cope with a growing population and to support the economic development and growth of the capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. By the end of the current programme there will be 30 per cent more capacity. TfL is working hard to provide information and alternative travel options while work is taking place. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to "check before you travel" at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk/check">tfl.gov.uk/check</a> <br>&nbsp;<br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Local area would also benefit from 16,000 new homesTransport for London has today submitted a Transport and Works Act Order application for Northern line extension&nbsp;Thousands of people in south London are one step closer to having better access to the";}
        
        


 