


@{ViewBag.Title = "TfL delivers live bus arrival information on digital signs";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL delivers live bus arrival information on digital signs</h1>
        <div class="content-page-press-release">
        16 April 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London's 'Countdown' real time bus information service was launched in October 2011 and has proven extremely popular.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The trial of these new digital signs is a further example of how we are helping our passengers make the most of London's extensive bus service."</div>
        <div class="quote-footer">
            <div class="quotee-name">Simon Reed</div>
            <div class="quotee-job-title">Head of Technical Services Group at London Buses</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The trial of these new digital signs is a further example of how we are helping our passengers make the most of London's extensive bus service.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>New and innovative technology brings live bus arrival information to a range of new public locations</li>
<li>Service currently being trialled at 4 sites </li>
<li>Free data feed spawns over 30 smart phone apps</li></ul>
<p>The latest research shows that around 830,000 bus journeys made in London each day are informed by live bus arrival information.</p>
<p>Building on this success, TfL has developed a new way of delivering live bus arrival information to a range of public locations, such as hospital waiting rooms or shopping centre foyers. </p>
<p>This means that real time bus arrival information can be provided to passengers who may not have access to the Internet, a mobile or smart phone or a bus stop with a Countdown dot matrix sign.</p>
<p>The 'bring-your-own-device' technology is delivered at businesses or organisations' request using their existing IT equipment and displayed on their display screens or televisions.&nbsp; </p>
<p>Designed to be self installed, TfL will supply bus arrival information tailored to their specific location via a special URL*.</p>
<p>These Digital Signs are currently being trialled at Oaks Park High School in Newbury Park, Loxford School of Science and Technology in Ilford, Redbridge College in Romford and Gracefield Gardens Health and Social Care Centre in Streatham.</p>
<p>Simon Reed, Head of Technical Services Group at London Buses, said: 'The trial of these new digital signs is a further example of how we are helping our passengers make the most of London's extensive bus service.&nbsp; </p>
<p>'We hope that these new signs will help passengers to access real time bus arrival information, in some cases for the first time, at a variety of locations away from the bus stop.'</p>
<p>Customer research will be conducted to evaluate how well the signs have been used and to refine the service provided. In the future it is possible that the information could be displayed at a variety of customer focused locations.</p>
<p>This new technology will complement the existing Countdown service which sees around 1.8 million web hits for bus arrival times using the web or a smart phone and over 40,000 requests are made via SMS every day. </p>
<p>These numbers are growing daily, as more passengers appreciate the added convenience the service offers when getting around London. </p>
<p>TfL's ongoing digital commitment to supply API data feeds to app developers has also seen a large rise in the number smart phone applications. </p>
<p>With over 30 of these apps already available, which are in addition to TfL's free mobile site (<a href="http://m.countdown.tfl.gov.uk">http://m.countdown.tfl.gov.uk</a>). Live bus information is always available at passenger's fingertips 24 hours a day.</p>
<p>
<hr>
</p>
<h4>Notes to editors:</h4>
<ul>
<li>Access to the real time bus service information can be made via the TfL website, from a fixed computer or web enabled phone and involves three simple steps.&nbsp; Simply go to the TfL buses webpage for live bus information at <a href="http://www.tfl.gov.uk/buses">tfl.gov.uk/buses</a>; then enter a bus route, postcode, street name or bus stop code (these are clearly displayed at all bus stops or available on the TfL website) and view live bus arrival times, including bus destinations, for all services due in the next 30 minutes</li>
<li>Passengers without access to the internet can simply text the bus stop code to 87287 for detailed bus information at a small charge of 12p plus the network operator's standard SMS charge</li>
<li>Countdown real time bus arrival information is also available at 2,500 bus stops across the capital.&nbsp; New and improved roadside signs provide clear amber text on black background, of particular help to visually impaired passengers</li>
<li>*TfL charge &pound;250 per annum for the service to cover operational costs. This charge can be waived for public sector applications and other specific circumstances</li></ul>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "New and innovative technology brings live bus arrival information to a range of new public locationsService currently being trialled at 4 sites Free data feed spawns over 30 smart phone appsThe latest research shows that around 830,000 bus journeys made";}
        
        


 