


@{ViewBag.Title = "TfL proactively publishes Chief Officers' expense claims";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL proactively publishes Chief Officers' expense claims</h1>
        <div class="content-page-press-release">
        30 April 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Expense claims to be published quarterly.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Publishing the expenses claimed by our Chief Officers demonstrates how fare and tax payers' money is spent and complements our other efforts to be a transparent organisation and accountable to our customers."</div>
        <div class="quote-footer">
            <div class="quotee-name">Steve Allen</div>
            <div class="quotee-job-title">TfL's Managing Director of Finance</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Publishing the expenses claimed by our Chief Officers demonstrates how fare and tax payers' money is spent and complements our other efforts to be a transparent organisation and accountable to our customers.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Demonstrates transparency and accountability to customers</li></ul>
<p>Transport for London (TfL) is now proactively publishing all expenses claimed by Chief Officers, including London's Transport Commissioner. </p>
<p>The first set of Chief Officers' expense claims, published today (Tuesday), covers expenses between January and March this year and subsequent reports will be published quarterly.<br>&nbsp;<br>The publication of expense claims makes sure customers know how money is spent within the organisation and is a part of a wider transparency programme which includes the publication of any item of expenditure over &pound;500. </p>

<h4>Cost savings</h4>
<p>A huge cost savings exercise has been undertaken across the organisation over recent years to reduce expenditure and make sure value for money is delivered for London's fare and tax payers from large scale engineering projects down to small expense claims.<br>&nbsp;<br>TfL has a &pound;9.2bn budget managing London Underground, London's major roads, London Buses, London Overground, DLR and Tramlink services and is responsible for 27m journeys a day across the capital while also delivering a huge programme of investment to improve London's transport network. </p>
<p>All expenditure within the organisation is carefully assessed to ensure it is essential to providing a safe, efficient, extensive and reliable transport network including expenses incurred by Chief Officers who often are called upon to travel out of the capital on business and attend conferences and other out of hours business related activities.</p>

<h4>Accountable to customers</h4>
<p>Expenses claimed by Chief Officers have previously been available on request but will now be published in the Chief Officers section of the TfL website.<br>&nbsp;<br>Steve Allen, TfL's Managing Director of Finance, said: 'In recognition of our role as a public body, and our commitment to delivering value for money, we have controls in place to ensure financial probity. </p>
<p>'Publishing the expenses claimed by our Chief Officers demonstrates how fare and tax payers' money is spent and complements our other efforts to be a transparent organisation and accountable to our customers.'</p>
<p>The majority of expenses claimed for in the first quarter of this year were for taxis when full schedules and late hours necessitate their use and for working functions, which are often attended by one or more members of staff. </p>
<p>It is practice for the most senior member of staff present at functions, often the Transport Commissioner, to generally meet the expense on those occasions when it is appropriate for the expenditure to be reclaimed in accordance with the business expenses policy. </p>
<p>The Chief Officers' expense claims for the first quarter of this year can be found&nbsp;at <a href="http://tfl.gov.uk/corporate/about-tfl/1434.aspx">tfl.gov.uk/corporate/about-tfl/1434.aspx</a> </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Transport for London has a business expenses policy which provides for staff to claim expenses incurred in the course of their duties subject to parameters in the policy including authorisation procedures </li>
<li>From January 2011, TfL has regularly published all items of expenditure over &pound;500. These reports can be found&nbsp;at <a href="http://www.tfl.gov.uk/corporate/about-tfl/investorrelations/17950.aspx">tfl.gov.uk/corporate/about-tfl/investorrelations/17950.aspx</a> </li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Demonstrates transparency and accountability to customersTransport for London (TfL) is now proactively publishing all expenses claimed by Chief Officers, including London's Transport Commissioner. The first set of Chief Officers' expense claims, published";}
        
        


 