


@{ViewBag.Title = "TfL work with the Metropolitan Police to donate unclaimed bikes to West London charity";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL work with the Metropolitan Police to donate unclaimed bikes to West London charity</h1>
        <div class="content-page-press-release">
        11 April 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has worked with the Metropolitan Police Service Safer Transport Command (STC) to donate 29 unclaimed bikes to the Westside Community Foundation for their Cycle to Success Olympic legacy project.
        
    </div>



 <div class="on-this-page">
<p>The project works with schools across eest London to encourage cycling as an extracurricular activity, making cycle training available to young people who would not normally be in a position to participate. </p>
<p>Cycle to Success will help to set up cycling clubs at schools through training programmes with teachers, providing an alternative to more traditional sports such as football. </p>
<p>The project will pilot in the borough of Richmond, visiting Richmond Park, Twickenham Academy and Christ School.</p>
<p>Chief Superintendent Sultan Taylor, Safer Transport Command, said: 'The Safer Transport Command is working with its TfL colleagues to donate unclaimed and abandoned bikes in police possession to people in need through various charities. </p>
<p>'The Westside Community Foundation is such a charity and has a fantastic scheme to encourage young people in Richmond to learn to cycle safely and maintain their bikes, and even take up cycling as a sport.'</p>
<p>Siwan Hayward, Acting Director of Community Safety, Enforcement and Policing TfL, said: 'This is another great new initiative which we have helped to donate unclaimed bikes to. </p>
<p>'Helping to keep London's Olympic legacy alive is something we are happy to encourage and we are keen to contribute towards. </p>
<p>'TfL and the Mayor of London are committed to ensuring London maintains a lasting successful Olympic legacy through various different transport improvement projects.'</p>
<p>Frank Lamptey, Founder, Westside Community Foundation said: 'The donation from TfL and STC is greatly received and will enable us to make cycling more inclusive and develop young people within the sport who normally wouldn't get the opportunity to participate.'</p>
<p>
<hr>
</p>
<p><strong>Note to editors:</strong></p>
<ul>
<li>On Monday 8 April the Safer Transport Command teams donated 29 bikes to Westside Community Foundation</li>
<li>The donated cycles, which are low in value and in various states of condition, are given to charities and projects who take responsibility for repairing / restoring the cycles to make them roadworthy or use them for spare parts</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The project works with schools across eest London to encourage cycling as an extracurricular activity, making cycle training available to young people who would not normally be in a position to participate. Cycle to Success will help to set up cycling";}
        
        


 