


@{ViewBag.Title = "TfL teams up with policing partners to crack down on Oyster card fraud";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL teams up with policing partners to crack down on Oyster card fraud</h1>
        <div class="content-page-press-release">
        24 April 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) and the British Transport Police (BTP) have worked in partnership to successfully jail a fraudulent Oyster card user for six months, following a BTP investigation.
        
    </div>



 <div class="on-this-page">
<p>Fatai Lawal of Barking appeared at Westminster Magistrates Court on 9 April after pleading guilty to two charges of fraud relating to two false email accounts. </p>
<p>The accounts were used to fraudulently register other peoples' Oyster cards and transfer their balances to an Oyster card registered to Mr Lawal.</p>
<p>TfL's Oyster contact centre was first alerted of Mr Lawal's actions when a customer reported her unregistered Oyster card was no longer working after she had recently added funds to the card. </p>
<p>Further investigation by the BTP had shown that 150 unregistered Oyster cards had been cancelled and the outstanding monies transferred to an Oyster card Mr Lawal was using, with a value of &pound;1700.</p>
<p>All Oyster card users are urged to protect their cards to prevent any fraudulent use of their credit. </p>
<p>Once a protected card is reported lost or stolen the card will be stopped and customers will get their credits transferred to a new card or refunded.</p>
<p>To protect their card customers can set up an Oyster online account, which also gives them access to comprehensive records of their journeys and fares enabling them to more easily manage their account. </p>
<p>Over 600,000 customers now use Oyster online accounts. Customers can also protect their Oyster card by completing a registration form at any Tube, London Overground and some National Rail station ticket offices, at Travel Information Centres or at an Oyster Ticket Stop.</p>
<p>Shashi Verma, TfL's Director of Customer Experience, said: 'This conviction sends a clear message out to people who think they can act fraudulently with our products. </p>
<p>'Although fraudulent Oyster use is a not a frequent problem we will continue to work with our policing partners to ensure the safety of our Oyster card users. </p>
<p>'We urge and encourage all users to be 'Oyster smart' by setting up an online account and protecting their cards.' </p>
<p>Detective Inspector Andy Winters, British Transport Police said: 'BTP takes fraud extremely seriously and officers will continue to investigate, collate information and prosecute those responsible.</p>
<p>'We will continue to work closely with TfL to ensure that those who seek to make financial gain in this way are brought to justice. I hope that this sentencing sends out a clear message that the police, TfL and the courts will not tolerate this sort of fraudulent activity.'</p>
<p>Three new online videos have been launched by TfL setting out the improvements that are helping Londoners to become more 'Oyster Smart' and demonstrating how to get the best out of their Oyster accounts. </p>
<p>The films, posted on TfL's website and YouTube channel, cover:</p>
<ul>
<li>How to manage your Oyster card with an online account</li>
<li>Paying for your travel using Oyster</li>
<li>On the move with Oyster.</li></ul>
<p>The videos can be found here: <a href="http://www.tfl.gov.uk/oyster">tfl.gov.uk/oyster</a> or here: <a href="http://www.youtube.com/user/TransportforLondon">www.youtube.com/user/TransportforLondon</a></p>
<p>
<hr>
<br><strong>Note to editors:</strong></p>
<ul>
<li>Oyster customers can set up an Oyster online account at <a href="http://www.tfl.gov.uk/oyster">tfl.gov.uk/oyster</a> to access their journey history, top up their Oyster pay as you go credit online and use the interactive facilities. Customers can also protect their Oyster card online to ensure any balance is protected if the card is lost or stolen</li></ul>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Fatai Lawal of Barking appeared at Westminster Magistrates Court on 9 April after pleading guilty to two charges of fraud relating to two false email accounts. The accounts were used to fraudulently register other peoples' Oyster cards and transfer their";}
        
        


 