


@{ViewBag.Title = "Transport for London team up with policing partners to donate unclaimed bikes to local charity";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London team up with policing partners to donate unclaimed bikes to local charity</h1>
        <div class="content-page-press-release">
        02 April 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has worked with the Metropolitan Police Service (MPS) to provide a Hackney based charity, The Bike Project, with unclaimed bikes being held by the police, to give to people in need.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"A bike provides the first step into normal living for those who have faced persecution and atrocity."</div>
        <div class="quote-footer">
            <div class="quotee-name">Jem Stein</div>
            <div class="quotee-job-title">Founder and Director of The Bike Project</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            A bike provides the first step into normal living for those who have faced persecution and atrocity.
                            
                        </p>
                    </div>
                
            
            
            <p>The charity, set up six months ago, donates refurbished bikes to refugees and asylum seekers to help them access the resources they need to create a life in the capital and stay healthy. </p>
<p>The MPS, through the Safer Transport Command (STC), has donated 35 unclaimed bikes to The Bike Project to date.</p>
<p>On Wednesday 3 April the STC's Cycle Task Force, accompanied by charity founder Jem Stein, will be at the charity's workshop in Hackney to security mark the refurbished bikes and register them with Bike Register.</p>
<p>Chief Superintendent Sultan Taylor, Safer Transport Command said: 'The Bike project is a great cause. There are thousands of bikes that through various circumstances are abandoned or unable to be returned to their owners. </p>
<p>'These bikes will really make a difference to a number of people in need.' </p>
<p>Siwan Hayward, Acting Director of Community Safety, Enforcement and Policing, TfL said: 'This is a great new project and we are more than happy to support the charity as best we can. </p>
<p>'The sometimes unfortunate circumstances surrounding the unclaimed bikes held by the MPS can now be turned into a positive outcome for new owners who not only have a new way to get around the capital,&nbsp; but also have the opportunity to improve their health and enjoy the excellent cycle routes London has&nbsp; to offer.'</p>
<p>Jem Stein, Founder and Director of The Bike Project said: 'A bike provides the first step into normal living for those who have faced persecution and atrocity. TfL's generous donation of 35 bikes will allow us to provide many more first steps.'</p>
<p>
<p>
<hr>
<br><strong>Notes to editors:</strong> 
<p>
<ul>
<li>Cycle Task Force security event will take place on Wednesday 3 April 2013 between 10am and 12pm at The Bike Project workshop&nbsp;- Workshop 44, 44 Marlborough Avenue, Hackney, E8 4JR </li>
<li>35 bikes will be security marked on the day </li>
<li>Security marking includes the invisible paint marking of security numbers and registration with Bike Register</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The charity, set up six months ago, donates refurbished bikes to refugees and asylum seekers to help them access the resources they need to create a life in the capital and stay healthy. The MPS, through the Safer Transport Command (STC), has donated 35";}
        
        


 