


@{ViewBag.Title = "Travel advice for Baroness Thatcher's funeral - Wednesday 17 April 2013";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Travel advice for Baroness Thatcher's funeral - Wednesday 17 April 2013</h1>
        <div class="content-page-press-release">
        11 April 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Road closures in central London from 7:00. Motorists advised to avoid Westminster and the City of London on Wednesday 17 April. Some bus routes through central London curtailed and on diversion.
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) has issued initial travel advice for the day of Baroness Thatcher's funeral on Wednesday 17 April.&nbsp; </p>
<p>The funeral is ceremonial and will include road closures and bus diversions in parts of central London.&nbsp; </p>
<p>TfL is working with the Government, Metropolitan Police, Westminster Council and other agencies to ensure people travelling to and from the area can do so quickly and safely and to minimise disruption caused by road closures and diversions.</p>
<p>Whether travelling for the funeral or for other journeys to central London people are advised to check the TfL website to plan their route and for updates on service changes that may affect their journeys.&nbsp; </p>
<p><a href="http://www.tfl.gov.uk/socialmedia">TfL's social media channels </a>also provide up to the minute information on services.</p>
<p>TfL Travel Ambassadors will be available at locations across central London to help anyone who needs travel advice.</p>
<p>As planning for the funeral continues there are likely to be additional road closures and bus diversions, details of which will be made available as soon as possible.</p>
<p><strong>Roads</strong></p>
<p>The route of the funeral procession runs from The Palace of Westminster, through Parliament Square, along Whitehall, through Trafalgar Square, on to the Strand, Aldwych, Fleet Street and Ludgate Hill where it will end at St Paul's Cathedral.&nbsp;&nbsp; </p>

<p>See a map of the <a href="http://www.tfl.gov.uk/assets/downloads/gettingaround/baroness-thatchers-funeral-procession.pdf">procession route</a>.</p>
<p>These roads and roads in the surrounding areas and other areas in central London will be subject to <a href="http://www.tfl.gov.uk/roadusers/events/default.aspx">closures and parking restrictions</a>.&nbsp; </p>
<p>Blackfriars and Westminster Bridges will be closed for the duration of the event, Waterloo Bridge will have restricted access. </p>
<p>Planned road closures include all of the roads on the funeral route, all roads adjoining the route.&nbsp; </p>
<p>The following key roads will be closed:</p>
<ul>
<li>Parliament Square </li>
<li>Whitehall </li>
<li>Trafalgar Square </li>
<li>The Strand </li>
<li>Aldwych </li>
<li>Fleet Street </li>
<li>Ludgate Hill </li>
<li>Blackfriars Bridge </li>
<li>Westminster Bridge </li>
<li>Waterloo Bridge (restricted access) </li>
<li>Farringdon Road </li>
<li>Kingsway </li>
<li>Charing Cross Road </li>
<li>The Mall </li>
<li>Victoria Street </li>
<li>Millbank </li>
<li>St Pauls Churchyard </li>
<li>Cannon Street</li></ul>
<p>There will be further closures in the surrounding areas, further details of these closures will be available as soon as possible.&nbsp; </p>
<p>Road closures will be implemented from at least 7:00 on Wednesday 17 April.&nbsp; </p>
<p>They will be lifted as soon as possible following the funeral, but road users are advised to avoid this part of central London throughout the day.&nbsp; </p>
<p>Variable message signs will be displaying roads information from Thursday 11 April.</p>
<p><strong>Congestion Charge</strong></p>
<p>The Congestion Charge will operate as normal.</p>
<p><strong>Buses</strong></p>
<p>A number of bus services will be on diversion or will finish before their usual destination owing to the planned road closures.&nbsp; </p>
<p>Diversions and curtailments will begin from 6:00 and will include, but not limited to, the following routes: 1, 3, 4, 6, 8, 9, 11, 12, 13, 15, 17, 21, 23, 24, 25, 26, 29, 43, 45, 53, 59, 63, 68, 76, 87, 88, 91, 100, 133, 139, 141, 148, 159, 168, 171, 172, 176, 188, 211, 242, 243, 341, 381, 388, 453, 507, 521, C10.&nbsp; </p>
<p>As planning continues and further information becomes known regarding road closures it is anticipated that other routes will need to be curtailed or diverted.&nbsp; </p>
<p>This information will be made available as soon as possible.&nbsp; </p>
<p>The routes will return to normal as soon as possible after roads have reopened. </p>
<p>London Underground will be accepting London Bus tickets on reasonable alternative routes.</p>
<p>Travel ambassadors will be available at key points on the bus network to help people affected by diversions and curtailments.</p>
<p><strong>Tube, Docklands Light Railway and London Overground</strong></p>
<p>All Tube, Docklands Light Railway and London Overground lines will be running as normal.&nbsp; </p>
<p>The Tube stations closest to the funeral route are Westminster, St. James's Park, Charing Cross, Embankment, Temple, Farringdon, Holborn, Blackfriars and St Paul's. </p>
<p>Some stations along the route may get busy at certain times.</p>
<p><strong>Barclays Cycle Hire</strong></p>
<p>A number of Barclays Cycle Hire docking stations fall within the road closure area and will be suspended on the day.</p>
<p>These include the following docking stations:</p>
<ul>
<li>Godliman Street, St Paul's </li>
<li>Queen Victoria Street, St Paul's </li>
<li>Bouverie Street, Temple </li>
<li>Chancery Lane, Holborn </li>
<li>Strand </li>
<li>Carey Street, Holborn </li>
<li>Milford Lane, Temple </li>
<li>Houghton Street, Strand </li>
<li>Kingsway Southbound, Strand </li>
<li>Kingsway, Covent Garden </li>
<li>Wellington Street, Strand </li>
<li>Tavistock Street, Covent Garden </li>
<li>Southampton Street, Strand </li>
<li>William IV Street, Strand </li>
<li>Craven Street, Strand </li>
<li>Abingdon Green, Great College Street</li></ul>
<p><strong>London River Services</strong></p>
<p>London River Services will be running as normal.</p>
<p><strong>Taxi &amp; Private Hire</strong></p>
<p>Taxi and Private Hire services will be operating normally subject to central London road closures.&nbsp; </p>
<p>Taxi ranks along the processional route will be suspended.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has issued initial travel advice for the day of Baroness Thatcher's funeral on Wednesday 17 April.&nbsp; The funeral is ceremonial and will include road closures and bus diversions in parts of central London.&nbsp; TfL is";}
        
        


 