


@{ViewBag.Title = "Ultra Low Emission Discount to make Congestion Charge scheme greener";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Ultra Low Emission Discount to make Congestion Charge scheme greener</h1>
        <div class="content-page-press-release">
        23 April 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Boris Johnson, today confirmed his decision to introduce a new Ultra Low Emission Discount (ULED) for the Congestion Charge scheme.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are confident that these changes will make the scheme greener and more efficient."</div>
        <div class="quote-footer">
            <div class="quotee-name">John Mason</div>
            <div class="quotee-job-title">Transport for London's Director responsible for Congestion Charging</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are confident that these changes will make the scheme greener and more efficient.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Discount will only be provided to the greenest vehicles </li>
<li>Under-used retail payment channel to be removed </li>
<li>Penalty charge to be increased by &pound;10</li></ul>
<p>It will replace the existing discount and ensure that only the greenest zero or ultra-low emission vehicles driving into the capital receive a 100 per cent discount.&nbsp; </p>
<p>The Mayor also announced two further changes to the scheme that will see the removal of the option to pay the charge in shops, which is now used for only six per cent of payments, and an increase in the level of penalty charge from &pound;120 to &pound;130.</p>

<h4>Consultation </h4>
<p>The Mayor confirmed the changes following a 12-week consultation on the proposals, which sought the views of Londoners, businesses and key stakeholders.&nbsp; </p>
<p>He expects the changes to help spur the use of the cleanest possible vehicles in the capital.&nbsp; </p>
<p>To qualify for the new discount vehicles will have to be either pure electric or be cars and vans that emit 75g/km or less of CO2 and meet the Euro 5 emission standard for air quality.</p>
<p>The ULED will be introduced on 1 July 2013 and will provide a single 100 per cent discount from the Congestion Charge for electric vehicles and ultra low emission cars and vans.</p>
<p>It replaces the current Greener Vehicle Discount (GVD) and the Electric Vehicle Discount, although anyone registered for the latter will automatically be transferred to the new ULED. </p>
<p>Cars currently registered for GVD will not meet the criteria for the new ULED.&nbsp; </p>

<h4>Sunset period </h4>
<p>However, the Mayor and TfL recognise that many drivers made the decision to purchase a low emission car in order to benefit from the existing discount.&nbsp; </p>
<p>Therefore, in response to a number of comments made during the consultation, the current owners of cars registered for the GVD will continue to receive a full discount for that vehicle for a 'sunset period' of three years - an increase from the two years proposed in the consultation.&nbsp; </p>
<p>The sunset period for the owners of vehicles currently registered for the GVD will therefore end on 24 June 2016. <br>&nbsp;<br>Matthew Pencharz, the Mayor of London's advisor on the Environment, said: 'These changes are in line with the Mayor's aim to improve air quality in London by reducing emissions from private vehicles and promoting the further development of low emission vehicles.&nbsp; </p>
<p>'We want to encourage the continued development of these technologies, while also protecting the benefits to traffic flow in the centre of London that the charge provides.'<br>&nbsp;<br>While the ULED is technology neutral, no currently available diesel car would meet the criteria for the discount and this is unlikely to change in the immediate future.&nbsp; </p>

<h4>Tackling diesel emissions </h4>
<p>One of the aims of making the changes is to help tackle the increasing dieselisation of London's car fleet.&nbsp; </p>
<p>Over the past decade diesel car sales have increased from around 10 per cent to 50 per cent, partly as a result of low carbon vehicle incentives. However a Euro 4 diesel car emits about 22 times as much particulate matter as the equivalent petrol car.<br>&nbsp;<br>John Mason, Transport for London's Director responsible for Congestion Charging, said: 'We were pleased with the level of response from Londoners, businesses and stakeholders which has helped us and the Mayor shape our decisions.&nbsp; </p>
<p>'We've listened to the responses and have decided to extend the sunset period for current GVD registered vehicles by an additional year.&nbsp; </p>
<p>'We are confident that these changes will make the scheme greener and more efficient.'</p>
<p>The introduction of the new discount complements the comprehensive set of measures that the Mayor has introduced to tackle air pollution.&nbsp; </p>
<p>Over the past four years the Mayor has tightened the standard of the Low Emission Zone, further reducing the emissions of around 150,000 vehicles.&nbsp; </p>
<p>He has introduced the first age limits to retire the oldest and most polluting taxis; and he has delivered a package of innovative local measures through his Clean Air Fund. </p>
<p>In addition the Mayor has overseen procurement of Europe's largest fleet of hybrid buses and developed the new bus for London, the cleanest and greenest of its type.&nbsp; </p>
<p>There are currently eight prototype new buses in service with a further 600 entering service by 2016.&nbsp; </p>
<p>They emit a quarter of the oxides of nitrogen (NOx) and particulate matter (PM) and around half the CO2 of a traditional diesel vehicle. </p>

<h4>Penalty charge increase</h4>
<p>The penalty charge for the Congestion Charge will increase from &pound;120 to &pound;130 on 20 May 2013.&nbsp; </p>
<p>This will be only the third increase in the penalty charge since the Congestion Charge was introduced in 2003 and will bring the penalty charge in line with other moving traffic, bus lane and parking penalty charges within London.</p>
<p>TfL will also be removing the option to pay the Congestion Charge by cash in shops from 26 July 2013 as a result of fewer people paying using that method and to reduce the costs of operating the scheme. <br>&nbsp;<br>When the congestion charge was introduced in 2003 the retail channel was the most popular method of payment and accounted for 37 per cent of all sales. </p>
<p>However just six per cent of payments of the Congestion Charge are now made in shops or petrol stations as the vast majority of customers pay the Charge through the automatic payment method, Congestion Charge Auto Pay (CC Auto Pay).&nbsp; </p>
<p>Around 250,000 people have now registered for CC Auto Pay, which sees account holders pay &pound;9 per day (rather than &pound;10) and offers protection from receiving Penalty Charge Notices. <br>&nbsp;<br>Drivers will still be able to pay the Congestion Charge using a wide range of other means including online, by phone, by text message or by CC Auto Pay.&nbsp;</p>
<p>
<hr>
<br><strong>Notes to editors:</strong> 
<p>
<ul>
<li>The central London Congestion Charging zone was introduced in February 2003&nbsp; </li>
<li>The scheme continues to be effective in reducing traffic congestion </li>
<li>The scheme generates net revenues which are reinvested in transport in London </li>
<li>The Congestion Charge scheme has helped reduce emissions of carbon dioxide (CO2) and harmful pollutants (PM10 and NOx) from vehicles travelling within the zone, and encouraged people travelling in the area to use public transport, to walk or cycle </li>
<li>The criteria for the new Ultra Low Emission Discount are:<br>o&nbsp;Any type of pure electric vehicle; or<br>o&nbsp;Ultra low emission cars with CO2 emissions of 75g/km or less that meet Euro 5; or<br>o&nbsp;Ultra low emission vans with CO2 emissions of 75g/km or less that meet Euro 5&nbsp; </li>
<li>Plug-in hybrid cars must additionally have a minimum range of 10 miles in 'electric' mode and have a maximum speed of at least 60 mph. TfL will publish a list of eligible vehicles&nbsp;&nbsp; </li>
<li>Plug-in hybrid vans must additionally have a minimum range of 10 miles in 'electric' mode and a maximum speed of at least 50 mph. TfL will publish a list of eligible vehicles </li>
<li>Pure electric cars, commercial vehicles and quadricycles and plug-in hybrid electric cars that are currently eligible for the Electric Vehicle Discount would all qualify for the new Ultra Low Emission Discount </li>
<li>A pure electric vehicle uses an electric motor for propulsion, powered by energy stored in a battery. No petrol or diesel is used&nbsp; </li>
<li>A plug-in hybrid electric vehicle uses a rechargeable battery pack that can be charged from an external source in addition to a conventional petrol or diesel engine </li>
<li>The Euro 5 standard would be met by any car registered as new with the Driver and Vehicle Licensing Agency (DVLA) on or after 1 January 2011 and any van registered as new on or after 1 January 2012. This is a European Union standard that limits the levels of air pollutant emissions for new vehicles sold in Europe, with which all vehicles manufacturers must comply </li>
<li>Cars currently qualify for the Greener Vehicle Discount if they emit 100g/km of CO2 or less and meet the Euro 5 standard for air quality </li>
<li>The Ultra Low Emission Discount continues to offer a technology neutral approach and, unlike the Greener Vehicle Discount, both cars and vans that meet the emissions criteria would be eligible for the discount. Including vans in the discount ensures that the discount encourages the uptake of ultra low emission commercial vehicles </li>
<li>The Ultra Low Emission Discount will be introduced on 1 July 2013 </li>
<li>The Greener Vehicle Discount and Electric Vehicle Discount will be closed to new registrations on 28 June 2013 </li>
<li>Owners of vehicles currently registered for the Greener Vehicle Discount will have to pay the full daily Congestion Charge from 24 June 2016 </li>
<li>Vehicles registered for the current Electric Vehicle Discount would automatically qualify for the new Ultra Low Emission Discount. Drivers of these vehicles would not need to take any action as TfL will automatically transfer the vehicle to the new discount type. Drivers would be required to pay the annual renewal fee of &pound;10 when their discount becomes due for renewal, in keeping with other types of discounts </li>
<li>CC Auto Pay was introduced following the Mayor's manifesto commitment to make the charge easier to pay&nbsp;&nbsp; </li>
<li>CC Auto Pay is an automated payment system which automatically records the number of days a vehicle travels within the charging zone each month and bills the account holder's payment card accordingly. Drivers registered for CC Auto Pay avoid fines and pay a reduced daily charge of &pound;9. An annual &pound;10 registration charge per vehicle applies to register for CC Auto Pay</li></ul>
<p><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Discount will only be provided to the greenest vehicles Under-used retail payment channel to be removed Penalty charge to be increased by &pound;10It will replace the existing discount and ensure that only the greenest zero or ultra-low emission vehicles";}
        
        


 