


@{ViewBag.Title = "Updated Travel advice for Baroness Thatcher's funeral - Wednesday 17 April 2013";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Updated Travel advice for Baroness Thatcher's funeral - Wednesday 17 April 2013</h1>
        <div class="content-page-press-release">
        15 April 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London has issued updated travel advice for the day of Baroness Thatcher's funeral on Wednesday 17 April.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Road closures in central London from 07:30</li>
<li>Motorists advised to avoid Westminster and the City of London on Wednesday 17 April</li>
<li>Some bus routes through central London curtailed and on diversion</li></ul>
<p>The funeral is ceremonial and will include road closures and bus diversions in parts of central London.&nbsp; </p>
<p>Transport for London is working with the Government, Metropolitan Police, Westminster Council and other agencies to ensure people travelling to and from the area can do so quickly and safely and to minimise disruption caused by road closures and diversions.</p>
<p>Whether travelling for the funeral or for other journeys to central London people are advised to check the TfL website to plan their route and for updates on service changes that may affect their journeys.&nbsp; </p>
<p>TfL's social media channels also provide up to the minute information on services <a href="http://www.tfl.gov.uk/socialmedia">tfl.gov.uk/socialmedia</a></p>
<p>TfL Travel Ambassadors will be available at locations across central London to help anyone who needs travel advice.</p>
<p>More detail is now available on some additional road closures and expected reopening times.</p>
<h4>Roads</h4>
<p>The route of the funeral procession runs from The Palace of Westminster, through Parliament Square, along Whitehall, through Trafalgar Square, on to the Strand, Aldwych, Fleet Street and Ludgate Hill where it will end at St Paul's Cathedral.&nbsp;&nbsp; </p>
<p>These roads and roads in the surrounding areas and other areas in central London will be closed from 07:30.&nbsp; </p>
<p>Parliament Square will be closed from 09:00 and is expected to reopen by 10:15.&nbsp;</p>
<p>Waterloo Bridge will be closed for buses and other large vehicles, but will remain open for cars and smaller vans.&nbsp; </p>
<p>Blackfriars and Westminster Bridges will remain open for access to Victoria Embankment, other routes from the bridges will be closed.</p>
<p>Further details can be found at <a href="http://tfl.gov.uk/roadusers/events/default.aspx">tfl.gov.uk/roadusers/events/default.aspx</a></p>
<p>Planned road closures include all of the roads on the funeral route, all roads adjoining the route.&nbsp;The following key roads will be closed:</p>
<ul>
<li>Parliament Square</li>
<li>Whitehall</li>
<li>Trafalgar Square</li>
<li>The Stand</li>
<li>Aldwych</li>
<li>Fleet Street</li>
<li>Ludgate Hill</li>
<li>Farringdon Road</li>
<li>Kingsway</li>
<li>Charing Cross Road</li>
<li>The Mall</li>
<li>Victoria Street</li>
<li>Millbank</li>
<li>St Paul's Churchyard</li>
<li>Cannon Street</li>
<li>Cheapside </li>
<li>Cornhill</li></ul>
<p>Road closures will be implemented from at least 07:30hrs on Wednesday 17 April.&nbsp; </p>
<p>Roads west of Aldwych are expected to be fully reopened by midday, Aldwych and roads to the east are expected to be fully reopened by 15:00hrs</p>
<p>They will be lifted as soon as possible following the funeral, but road users are advised to avoid this part of central London throughout the day.&nbsp; </p>
<h4>Congestion Charge</h4>
<p>The Congestion Charge will operate as normal.</p>
<h4>Buses</h4>
<p>A number of bus services will be on diversion or will finish before their usual destination due to the planned road closures.&nbsp; </p>
<p>Diversions and curtailments will begin from&nbsp;06:00 and will include, but not limited to, the following routes: 1, 3, 4, 6, 8, 9, 11, 12, 13, 15, 17, 21, 23, 24, 25, 26, 29, 43, 45, 53, 59, 63, 68, 76, 87, 88, 91, 100, 133, 139, 141, 148, 159, 168, 171, 172, 176, 188, 211, 242, 243, 341, 381, 388, 453, 507, 521, C10.&nbsp; </p>
<p>The routes will return to normal as soon as possible after roads have reopened. </p>
<p>London Underground will be accepting London Bus tickets on reasonable alternative routes.</p>
<p>Travel ambassadors will be available at key points on the bus network to help people affected by diversions and curtailments.</p>
<h4>Tube, DLR and London Overground</h4>
<p>All Tube, DLR and London Overground lines will be running as normal.&nbsp; </p>
<p>The Tube stations closest to the funeral route are Westminster, St. James's Park, Charing Cross, Embankment, Mansion House, Temple, Farringdon, Holborn, Blackfriars, St Paul's, Bank and Monument. Some stations along the route may get busy at certain times.</p>
<h5>Barclays Cycle Hire</h5>
<p>A number of Barclays Cycle Hire docking stations fall within the road closure area and will be suspended on the day.</p>
<p>These include the following docking stations:</p>
<ul>
<li>Godliman Street, St Paul's</li>
<li>Queen Victoria Street, St Paul's </li>
<li>Bouverie Street, Temple</li>
<li>Chancery Lane, Holborn</li>
<li>Strand</li>
<li>Carey Street, Holborn</li>
<li>Milford Lane, Temple</li>
<li>Houghton Street, Strand</li>
<li>Kingsway Southbound, Strand</li>
<li>Kingsway, Covent Garden</li>
<li>Wellington Street, Strand</li>
<li>Tavistock Street, Covent Garden</li>
<li>Southampton Street, Strand</li>
<li>William IV Street, Strand</li>
<li>Craven Street, Strand</li>
<li>Abingdon Green, Great College Street</li></ul>
<h4>London River Services</h4>
<p>London River Services will be running as normal.</p>
<h4>Taxi and Private Hire</h4>
<p>Taxi and Private Hire services will be operating normally subject to central London road closures.&nbsp; </p>
<p>Taxi ranks along the processional route will be suspended.</p>
<p>
<hr>
<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Road closures in central London from 07:30Motorists advised to avoid Westminster and the City of London on Wednesday 17 AprilSome bus routes through central London curtailed and on diversionThe funeral is ceremonial and will include road closures and bus";}
        
        


 