


@{ViewBag.Title = "Wide-aisle gates at 180 Tube stations means more independent and quicker journeys";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Wide-aisle gates at 180 Tube stations means more independent and quicker journeys</h1>
        <div class="content-page-press-release">
        04 April 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        In order to help wheelchair and guide dog users, parents with buggies and passengers with luggage a further batch of wide aisle gates have been installed making a total of 348 gates at London Underground stations.
        
    </div>



 <div class="on-this-page">
<p>Now 180 London Tube stations - two thirds of the entire London Underground network- have these gates installed, giving passengers more independence and quicker journeys.&nbsp;<br>&nbsp;</p>
<p>It means that passengers don't have to ask staff to unlock a gate for them.</p>
<p>In turn staff have more time to help passengers in a variety of other ways:&nbsp;at ticket machines, by directing them to the correct platforms, or by guiding visually impaired people.</p>
<p>Howard Collins, London Underground's Chief Operating Officer said: 'The installation of wide-aisle gates at Wood Green Tube station - marks the completion of a total of 348 of these wider gates.&nbsp;</p>
<p>'It is a real benefit for many disabled customers making their journeys more independent and quicker, as well as for passengers who have buggies, dogs and luggage.'</p>
<p>Dr Alice Maynard, Managing Director of Future Inclusion and Chair of Transport for London's (TfL's) Independent Disability Advisory Group, said: 'Wide aisle gates mean that people can travel around without relying so much on support if they don't need it.</p>
<p>'That means it's better for disabled people and better for staff - they can focus their attention on those who really need their support.'</p>
<p>The Mayor of London's election manifesto outlined his determination to do as much as he can to make it easier for all Londoners, including disabled and older people and parents with buggies, to use our transport network. </p>
<p>The wide aisle gates will benefit many thousands of passengers every year and his accessibility action plan also sets out an aim for half of the rail network to be step free by the end of the decade.</p>
<p>Nearly 40 per cent of all stops and stations across London's rail-based public transport network (including National Rail, Tube, Docklands Light Railway (DLR) and Tramlink) are currently step-free, up from around 30 per cent in 2008. </p>
<p>This includes 175 stations on the TfL network, with all DLR and nearly half of London Overground stations step-free.</p>
<p>London will see a further 28 step-free London Underground and London Overground stations over the next 10 years - as well as dozens of National Rail stations and accessible Crossrail stations in the heart of the city.</p>
<p>On the Tube alone, the number of journeys made by step-free routes each year will almost treble, from 67 million at present to 189 million in 2021.</p>
<p>Many large-scale accessibility improvements are already underway across the transport network, including TfL investing &pound;250m in step-free projects at Bond Street, Finsbury Park, Greenford, Tottenham Court Road, Vauxhall and Victoria. </p>
<p>More step-free projects are being progressed with third party developers and additional stations are being made partially step free.</p>
<p>By the end of 2014, the fleet of 53 Hammersmith &amp; City and Circle line trains will have been transformed. </p>
<p>From 2014 an additional 80 new trains will start being introduced to the District line.&nbsp; </p>
<p>When completed, this will mean that 40 per cent of the network will be served by air-conditioned trains, with high standards of accessibility, such as dedicated wheelchair space, low floors and wider doors. </p>
<p>TfL is increasing the number of platform humps to provide level access at a third of stations by 2016, and installing tactile paving on all platform edges across the network.</p>
<p>Accessibility improvements are also being made to bus stops and junctions at locations across London and TfL is looking to radically improve the information available to help disabled passengers plan and make their journeys.&nbsp;&nbsp;</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Currently, 1.3 million trips are made on London's public transport network by disabled people every day, with disabled Londoners representing 11 per cent of London's population. Each day 4.9 million trips are made by passengers carrying heavy luggage, 1.5 million by people accompanied by a child under five (often with buggies) and 0.7 million by those aged over 74 </li>
<li>A total of 7.1 million trips a day are made by somebody with at least one of these barriers to mobility </li>
<li>To make is easy and convenient to get around London TfL works with the London boroughs to offer free travel to many disabled people and to everyone who is aged 60 or over</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Now 180 London Tube stations - two thirds of the entire London Underground network- have these gates installed, giving passengers more independence and quicker journeys.&nbsp;&nbsp;It means that passengers don't have to ask staff to unlock a gate for";}
        
        


 