


@{ViewBag.Title = "Woolwich Ferries celebrate 50 years of service";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Woolwich Ferries celebrate 50 years of service</h1>
        <div class="content-page-press-release">
        16 April 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        In the year that The Beatles released their debut album and Doctor Who first aired on BBC television, another little bit of history began in southeast London.
        
    </div>



 <div class="on-this-page">
<p>The arrival of three new diesel powered ferries on the River Thames, operating between Woolwich and North Woolwich, started a new chapter of the Woolwich Free Ferry, the history of which dates back to the 14th century.</p>
<p>The James Newman was the first ferry to enter service on 22 April 1963 and was soon followed by the John Burns and the Ernest Bevin.&nbsp; </p>
<p>The ferries, named after prominent London politicians, replaced side-loading steam paddlers that had been in service since 1922.&nbsp; </p>
<p>Built by the Caledon Shipping and Engineering Company in Dundee, the new ferries delivered greater manoeuvrability as they used two propellers driven by powerful engines.&nbsp; </p>
<p>With a propeller located at each end of the boat, the ferries can move sideways or spin, which is essential for the tidal Thames.</p>
<p>Fifty years on, the three ferries continue to play an important part in east Londoners' lives, helping one million vehicles and 2.5 million passengers pass safely across the River Thames every year. </p>
<p>The service operates every day of the year, with the exception of Christmas Day.</p>
<p>This month saw Briggs Marine and Environmental Services commence a &pound;50m seven-year contract to not only operate the Woolwich Ferry Service but to make a number of improvements designed to increase reliability and extend the life of these three hard working ferries and their infrastructure. </p>
<p>Each ferry will be overhauled and, in keeping with the Mayor's clean air strategy, will be made more environmentally friendly to improve London's air quality.&nbsp;&nbsp; </p>
<p>All three vessels already use low sulphur diesel and will now be fitted with diesel particulate filters that will reduce particulate matter emissions by 90 per cent.</p>
<p>Improvement work will also continue on the infrastructure improving the reliability of both terminals on the north and south of the river.</p>
<p>Andy Thompson, General Manager for London River Services (LRS), said: 'These three ferries have worked tirelessly for the past 50 years so the time is right to give them, along with the infrastructure, a new lease of life.&nbsp; </p>
<p>'Briggs Marine and Environmental Services bring with them a wealth of experience which I know will help the Woolwich Ferry to continue its important service for years to come.'</p>
<p>Collieson Briggs, Managing Director of Briggs Marine and Environmental Services, said: 'Briggs is delighted to be an integral part of LRS's plans for the Woolwich Ferry's future.&nbsp; </p>
<p>'Our breadth of capability, combined with our customer's on-going support will ensure that the service reliability is improved over the coming years.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:&nbsp;</strong></p>
<ul>
<li>Briggs Marine and Environmental Services work closely with London River Services, a subsidiary of Transport for London (TfL), and are responsible for the day-to-day operation of the ferry, including its staff, as well as maintenance of the three ferries and the two ferry terminals located at Woolwich and North Woolwich</li>
<li>On weekdays the Woolwich Ferry operates from 06:10 until 20:00 with a two-boat service (10 minutes between sailings), on Saturdays from 06:10 until 20:00 with a one-boat service (15 minutes between sailings) and on Sundays between 11:30 until 19:30 with a one-boat service (15 minutes between sailings).&nbsp;The last south to north sailings are 15 minutes before service ends</li>
<li>The Woolwich Ferry is a free service which carries more than 50,000 passengers and 20,000 vehicles per week.&nbsp;The service links Woolwich with North Woolwich, linking two ends of the Inner London orbital roads, the north and south circular. A ferry has operated at Woolwich since the 14th century.&nbsp;It has been operated from its current position since 1889 when the first free ferry service began with the current ferry terminals being introduced in 1965</li>
<li>TfL were consulting on proposals for new vehicle river crossings in east and southeast London earlier this year. New river crossings are crucial to accommodate the increased population and jobs forecast for east London. TfL are now in the process of reviewing the findings and providing a consultation report to the Mayor which will be publicly available in late spring. Further, more detailed consultations will take place if the proposals are progressed</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The arrival of three new diesel powered ferries on the River Thames, operating between Woolwich and North Woolwich, started a new chapter of the Woolwich Free Ferry, the history of which dates back to the 14th century.The James Newman was the first ferry";}
        
        


 