
    
  



@{ViewBag.Title = "Overseas payments";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/pensions/contact/overseas-payments";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/contact">Contact TfL Pension Fund</a></li>
                
            
            
                <li><span class="last-breadcrumb">Overseas payments</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Overseas payments</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        If you live abroad your benefits can either be paid to a bank account in the UK or direct into an overseas bank account via Western Union.<BR>
        
      </div>
    
    <div class="on-this-page">
      <p>For overseas payments it is important that the information provided is complete and accurate and that all of the information requested on the payment mandate is provided in full, otherwise this may lead to delays in the payment reaching your account.</p>
<p>A payment mandate form is available to download below, we suggest that you ask your bank to verify that the account and payment routing details are correct.</p>
<p>Country names and currency codes are provided in the list below, which need to be filled in at the top of the mandate form. If your country is not listed below, please visit the <a href="http://www.xe.com/">XE website</a> to find out your currency code.</p>
<p>If you are changing your bank account please do not close your existing account until your first pension payment has been credited to your new account.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/overseas-payment-mandate-january-2020.pdf">
    <div class="document-download-text">
        <p>Overseas payment mandate form (January 2020)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 134KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 
</div>

</div>
 

<div class="table-container"><table>
    <thead>
        <tr>
            <th colspan="1" rowspan="1"><strong>Country <br />
            </strong></th>
            <th colspan="1" rowspan="1"><strong>Currency code <br />
            </strong></th>
            <th colspan="1" rowspan="1"><strong>Currency <br />
            </strong></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Antigua &amp; Barbuda <br />
            </td>
            <td>XCD<br />
            </td>
            <td>East Caribbean Dollar<br />
            </td>
        </tr>
        <tr>
            <td>Australia<br />
            </td>
            <td>AUD<br />
            </td>
            <td>Australian Dollar<br />
            </td>
        </tr>
        <tr>
            <td>Austria<br />
            </td>
            <td>EUR<br />
            </td>
            <td>Euro<br />
            </td>
        </tr>
        <tr>
            <td>Bahamas<br />
            </td>
            <td>BSD<br />
            </td>
            <td>Bahamian Dollar<br />
            </td>
        </tr>
        <tr>
            <td>Bangladesh<br />
            </td>
            <td>BDT<br />
            </td>
            <td>Bangladeshi Taka<br />
            </td>
        </tr>
        <tr>
            <td>Barbados<br />
            </td>
            <td>BBD<br />
            </td>
            <td>Barbadian Dollar<br />
            </td>
        </tr>
        <tr>
            <td>Belgium<br />
            </td>
            <td>EUR<br />
            </td>
            <td>Euro<br />
            </td>
        </tr>
        <tr>
            <td>Belize<br />
            </td>
            <td>BZD<br />
            </td>
            <td>Belize Dollar<br />
            </td>
        </tr>
        <tr>
            <td>Brazil<br />
            </td>
            <td>BRL<br />
            </td>
            <td>Brazilian Real<br />
            </td>
        </tr>
        <tr>
            <td>Bulgaria<br />
            </td>
            <td>EUR<br />
            </td>
            <td>Euro<br />
            </td>
        </tr>
        <tr>
            <td>Canada<br />
            </td>
            <td>CAD<br />
            </td>
            <td>Canadian Dollar<br />
            </td>
        </tr>
        <tr>
            <td>Cayman Islands<br />
            </td>
            <td>KYD<br />
            </td>
            <td>Cayman Island Dollar<br />
            </td>
        </tr>
        <tr>
            <td>Columbia<br />
            </td>
            <td>COP<br />
            </td>
            <td>Columbian Peso<br />
            </td>
        </tr>
        <tr>
            <td>Croatia<br />
            </td>
            <td>HRK<br />
            </td>
            <td>Croatian Kina<br />
            </td>
        </tr>
        <tr>
            <td>Cyprus<br />
            </td>
            <td>EUR<br />
            </td>
            <td>Euro<br />
            </td>
        </tr>
        <tr>
            <td>Denmark<br />
            </td>
            <td>DKK<br />
            </td>
            <td>Danish Krone<br />
            </td>
        </tr>
        <tr>
            <td>Dominica<br />
            </td>
            <td>XCD<br />
            </td>
            <td>East Caribbean Dollar<br />
            </td>
        </tr>
        <tr>
            <td>Dominican Republic<br />
            </td>
            <td>DOP<br />
            </td>
            <td>Dominican Peso<br />
            </td>
        </tr>
        <tr>
            <td>Ecuador<br />
            </td>
            <td>USD<br />
            </td>
            <td>US Dollar<br />
            </td>
        </tr>
        <tr>
            <td>Finland<br />
            </td>
            <td>EUR<br />
            </td>
            <td>Euro<br />
            </td>
        </tr>
        <tr>
            <td>France<br />
            </td>
            <td>EUR<br />
            </td>
            <td>Euro<br />
            </td>
        </tr>
        <tr>
            <td>Gambia<br />
            </td>
            <td>GMD<br />
            </td>
            <td>Gambian Dalasi<br />
            </td>
        </tr>
        <tr>
            <td>Germany<br />
            </td>
            <td>EUR<br />
            </td>
            <td>Euro<br />
            </td>
        </tr>
        <tr>
            <td>Ghana<br />
            </td>
            <td>GHS<br />
            </td>
            <td>Ghana Cedi<br />
            </td>
        </tr>
        <tr>
            <td>Greece<br />
            </td>
            <td>EUR<br />
            </td>
            <td>Euro<br />
            </td>
        </tr>
        <tr>
            <td>Grenada<br />
            </td>
            <td>XCD<br />
            </td>
            <td>East Caribbean Dollar<br />
            </td>
        </tr>
        <tr>
            <td>Guinea-Bissau<br />
            </td>
            <td>XOF<br />
            </td>
            <td>West African CFA Franc<br />
            </td>
        </tr>
        <tr>
            <td>Guyana<br />
            </td>
            <td>GYD<br />
            </td>
            <td>Guyanese Dollar<br />
            </td>
        </tr>
        <tr>
            <td>Hong Kong<br />
            </td>
            <td>HKD<br />
            </td>
            <td>Hong Kong Dollar<br />
            </td>
        </tr>
        <tr>
            <td>Hungary<br />
            </td>
            <td>HUF<br />
            </td>
            <td>Hungarian Forint<br />
            </td>
        </tr>
        <tr>
            <td>India<br />
            </td>
            <td>INR<br />
            </td>
            <td>India Rupee<br />
            </td>
        </tr>
        <tr>
            <td>Indonesia<br />
            </td>
            <td>IDR<br />
            </td>
            <td>Indonesian Rupiah<br />
            </td>
        </tr>
        <tr>
            <td>Ireland<br />
            </td>
            <td>EUR<br />
            </td>
            <td>Euro<br />
            </td>
        </tr>
        <tr>
            <td>Israel<br />
            </td>
            <td>ILS<br />
            </td>
            <td>Israeli New Shekel<br />
            </td>
        </tr>
        <tr>
            <td>Italy<br />
            </td>
            <td>EUR<br />
            </td>
            <td>Euro<br />
            </td>
        </tr>
        <tr>
            <td>Jamaica<br />
            </td>
            <td>MD<br />
            </td>
            <td>Jamaican Dollar<br />
            </td>
        </tr>
        <tr>
            <td>Kenya<br />
            </td>
            <td>KES<br />
            </td>
            <td>Kenyan Shilling<br />
            </td>
        </tr>
        <tr>
            <td>Luxembourg<br />
            </td>
            <td>EUR<br />
            </td>
            <td>Euro<br />
            </td>
        </tr>
        <tr>
            <td>Malaysia<br />
            </td>
            <td>MUR<br />
            </td>
            <td>Malaysian Ringgit<br />
            </td>
        </tr>
        <tr>
            <td>Malta<br />
            </td>
            <td>EUR<br />
            </td>
            <td>Euro<br />
            </td>
        </tr>
        <tr>
            <td>Mauritius<br />
            </td>
            <td>XCD<br />
            </td>
            <td>Mauritian Rupee<br />
            </td>
        </tr>
        <tr>
            <td>Monaco<br />
            </td>
            <td>EUR<br />
            </td>
            <td>Euro<br />
            </td>
        </tr>
        <tr>
            <td>Montserrat<br />
            </td>
            <td>XCD<br />
            </td>
            <td>&nbsp;East Caribbean Dollar<br />
            </td>
        </tr>
        <tr>
            <td>Morocco<br />
            </td>
            <td>MAD<br />
            </td>
            <td>&nbsp;Moroccan Dirham<br />
            </td>
        </tr>
        <tr>
            <td>Nepal<br />
            </td>
            <td>NPR<br />
            </td>
            <td>Nepalese Rupee<br />
            </td>
        </tr>
        <tr>
            <td>Netherlands<br />
            </td>
            <td>EUR<br />
            </td>
            <td>Euro<br />
            </td>
        </tr>
        <tr>
            <td>New Zealand<br />
            </td>
            <td>NZD<br />
            </td>
            <td>New Zealand Dollar<br />
            </td>
        </tr>
        <tr>
            <td>Nigeria<br />
            </td>
            <td>NGN<br />
            </td>
            <td>Nigerian Nairi<br />
            </td>
        </tr>
        <tr>
            <td>Norway<br />
            </td>
            <td>NOK<br />
            </td>
            <td>Norwegian Krone<br />
            </td>
        </tr>
        <tr>
            <td>Oman<br />
            </td>
            <td>OMR<br />
            </td>
            <td>Omani Rial<br />
            </td>
        </tr>
        <tr>
            <td>Pakistan<br />
            </td>
            <td>PKR<br />
            </td>
            <td>Pakistani Rupee<br />
            </td>
        </tr>
        <tr>
            <td>Peru<br />
            </td>
            <td>PEN<br />
            </td>
            <td>Peruvian Nuevo Sol<br />
            </td>
        </tr>
        <tr>
            <td>Philippines<br />
            </td>
            <td>PHP<br />
            </td>
            <td>Philippine Peso<br />
            </td>
        </tr>
        <tr>
            <td>Poland<br />
            </td>
            <td>PLN<br />
            </td>
            <td>Polish Zloty<br />
            </td>
        </tr>
        <tr>
            <td>Portugal<br />
            </td>
            <td>EUR<br />
            </td>
            <td>Euro<br />
            </td>
        </tr>
        <tr>
            <td>Saudi Arabia<br />
            </td>
            <td>SAR<br />
            </td>
            <td>Saudi Riyal<br />
            </td>
        </tr>
        <tr>
            <td>Seychelles<br />
            </td>
            <td>SCR<br />
            </td>
            <td>Seychellois Ruoee<br />
            </td>
        </tr>
        <tr>
            <td>Singapore<br />
            </td>
            <td>SGD<br />
            </td>
            <td>Singapore Dollar<br />
            </td>
        </tr>
        <tr>
            <td>South Africa<br />
            </td>
            <td>XAR<br />
            </td>
            <td>South African Rand <br />
            </td>
        </tr>
        <tr>
            <td>Spain<br />
            </td>
            <td>EUR<br />
            </td>
            <td>Euro<br />
            </td>
        </tr>
        <tr>
            <td>Sri Lanka<br />
            </td>
            <td>LKR<br />
            </td>
            <td>Sri Lankan Rupee<br />
            </td>
        </tr>
        <tr>
            <td>St Kitts &amp; Nevis<br />
            </td>
            <td>XCD<br />
            </td>
            <td>East Caribbean Dollar<br />
            </td>
        </tr>
        <tr>
            <td>St Lucia<br />
            </td>
            <td>XCD<br />
            </td>
            <td>East Caribbean Dollar<br />
            </td>
        </tr>
        <tr>
            <td>St Vincent &amp; the Grenadines<br />
            </td>
            <td>XCD<br />
            </td>
            <td>East Caribbean Dollar<br />
            </td>
        </tr>
        <tr>
            <td>Sweden<br />
            </td>
            <td>SEK<br />
            </td>
            <td>Swedish Krona<br />
            </td>
        </tr>
        <tr>
            <td>Switzerland<br />
            </td>
            <td>CHF<br />
            </td>
            <td>Swiss Franc<br />
            </td>
        </tr>
        <tr>
            <td>Tanzania<br />
            </td>
            <td>TZS<br />
            </td>
            <td>Tanzanian Shilling<br />
            </td>
        </tr>
        <tr>
            <td>Thailand<br />
            </td>
            <td>THR<br />
            </td>
            <td>Thailand Baht<br />
            </td>
        </tr>
        <tr>
            <td>Trinidad &amp; Tobago<br />
            </td>
            <td>TTD<br />
            </td>
            <td>Trindad &amp; Tobago Dollar<br />
            </td>
        </tr>
        <tr>
            <td>Tunisia<br />
            </td>
            <td>TND<br />
            </td>
            <td>Tunisian Dollar<br />
            </td>
        </tr>
        <tr>
            <td>Turkey<br />
            </td>
            <td>TRY<br />
            </td>
            <td>Turkish Lira<br />
            </td>
        </tr>
        <tr>
            <td>United Arab Emirates<br />
            </td>
            <td>AED<br />
            </td>
            <td>United Arab Emirates Dirham<br />
            </td>
        </tr>
        <tr>
            <td>USA<br />
            </td>
            <td>USD<br />
            </td>
            <td>United States Dollar<br />
            </td>
        </tr>
        <tr>
            <td>Vietnam<br />
            </td>
            <td>VND<br />
            </td>
            <td>Vietnamese Dong<br />
            </td>
        </tr>
    </tbody>
</table></div>


 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/pensions/index" class="heading">
                    <h2 id="sub-menu-heading">TfL Pension Fund<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/your-pension">Your pension</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/fund-management">Fund management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/environmental-social-and-governance-matters">Environmental, social and governance matters</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/news-and-publications">News and publications</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/pensions/contact">Contact TfL Pension Fund</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/pensions/contact/complaints">Complaints</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/contact/forms">Forms</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/contact/service-promise">Service promise</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/pensions/contact/overseas-payments">Overseas payments</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Overseas payments from the TfL Pension Fund.";}
        
            
        


 