


@{ViewBag.Title = "All the world's poets on the Tube";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>All the world's poets on the Tube</h1>
        <div class="content-page-press-release">
        04 April 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The latest set of Poems on the Underground can now be seen by passengers on Tube trains and celebrates poets from across the globe.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"As London gets ready to welcome visitors from all over the world for the Olympic and Paralympic Games it seems the ideal time to have poets from all corners of the globe on the Tube"</div>
        <div class="quote-footer">
            <div class="quotee-name">Judith Chernaik</div>
            <div class="quotee-job-title">Poems on the Underground founder</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            As London gets ready to welcome visitors from all over the world for the Olympic and Paralympic Games it seems the ideal time to have poets from all corners of the globe on the Tube
                            
                        </p>
                    </div>
                
            
            
            <p>Poets from India, Turkey, Germany, Pakistan, Guyana and Nigeria feature in this new international collection of "World Poems on the Underground" which is part of the "London 2012 Festival". </p>
<p>Customers should look out for the following verses as they travel on the London Underground: Finding India in Unexpected Places by Sujata Bhatt, I Sing of Change by Niyi Osundare, Baku at Night by Nazim Hikmet, Toussaint L'Ouverture Acknowledges Wordsworth's Sonnet 'To Toussaint L'Ouverture' by John Agard, Carving by Imtiaz Dharker and Boy with Orange (out of Kosovo) by Lotte Kramer. </p>
<p>Around 100,000 copies of a World Poems booklet containing poems from previously displayed African, Commonwealth, European, Australian and Chinese poems as well as this current set, will be available later this month at Tube stations. </p>
<p>The booklet is funded by the National Lottery and Arts Council England.</p>
<p>Judith Chernaik, the founder of Poems on the Underground, said: "As London gets ready to welcome visitors from all over the world for the Olympic and Paralympic Games it seems the ideal time to have poets from all corners of the globe on the Tube. I hope these eloquent poems will add special interest to passengers' journeys and help to transport them to other lands." <br></p>
            <p>Notes to Editors: </p>
<ul>
<li>The London 2012 Festival is the finale of the Cultural Olympiad, a four-year programme of cultural events leading up to the London 2012 Games</li>
<li>Images of the latest collections of poems as they appear in Tube carriages are available on request</li>
<li>Poems on the Underground was founded in 1986</li>
<li>The programme is supported by London Underground (Art on the Underground), Arts Council England and the British Council</li>
<li>Poems are selected and the programme administered by Judith Chernaik and poets Gerard Benson and Cicely HerbertPraised for their elegance, clarity and simplicity, Poems on the Underground has inspired similar programmes on public transport in Dublin, Paris, New York, Vienna, Stockholm, Helsinki, Athens, Barcelona, Moscow, St Petersburg and, most recently, Shanghai and Warsaw</li>
<li>Best Poems on the Underground, the latest book from Poems on the Underground published by Phoenix paperback 2010 is available from all bookshops and directly from Orion Books at <a href="http://www.orionbooks.co.uk">http://www.orionbooks.co.uk</a> </li>
<li>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. By the end of the current programme there will be 30% more capacity. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to "check before you travel" at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a></li>
<li>Images available on request. <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Poets from India, Turkey, Germany, Pakistan, Guyana and Nigeria feature in this new international collection of 'World Poems on the Underground' which is part of the 'London 2012 Festival'. Customers should look out for the following verses as they travel";}
        
        


 