


@{ViewBag.Title = "Capital's rogue limousines targeted";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Capital's rogue limousines targeted</h1>
        <div class="content-page-press-release">
        02 April 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The latest crackdown on unsafe, uninsured and unlicensed vehicles in the capital has seen over 70 penalties dished out to rogue operators and drivers of unsafe limousines and novelty vehicles.
        
    </div>



 <div class="on-this-page">
<p>Half of these were issued to drivers of unroadworthy vehicles.</p>
<p>Operation Kansas, a joint initiative between TfL, the Vehicle and Operators Services Agency (VOSA) and the TfL funded Safer Transport Command (STC) from the Metropolitan Police Service (MPS) and City of London Police, launched at the beginning of March to step up enforcement against illegal luxury or novelty cars that have increasingly become part of the Capital's nightlife. </p>
<p>In the first month of operation there were penalties and prohibitions issued for a range of offences including using the vehicle for hire or reward without an appropriate licence, operating with defects that deemed the vehicle not roadworthy and for overloading the vehicle. </p>
<h2>Drivers penalised</h2>
<p>Seventy limousines were checked by enforcement officers in central London over the three weekends of operation, with eight drivers penalised for not having the correct insurance or licence. There were also four limousines confiscated and impounded for unauthorised use of a vehicle (no operator's licence).</p>
<p>TfL's Commissioner, Peter Hendy CBE, said: 'These vehicles present danger to anyone who uses them, and we are determined to deal with anyone who puts Londoners safety at risk. In many case they are unsafe and uninsured.'</p>
<p>The dedicated joint team conducting the operation are part of a sustained crackdown by TfL and its policing partners, who continuously carry out enforcement operations such as roadside stop-checks on sub-standard vehicles which put passengers and other road users at risk. </p>
<p>These operations are all part of TfL's efforts to ensure the safety and security of the travelling public, especially with the London 2012 Games fast approaching. </p>
<h2>Unlicensed vehicles unsafe</h2>
<p>The importance of these operations in the run-up to Games time was highlighted and championed by Sarah Bell, Traffic Commissioner for Western England and lead Commissioner for the Olympic and Paralympic Games: 'The Traffic Commissioners for Great Britain have expressed their disquiet over the existence of unlicensed limousines and novelty vehicles for many years. </p>
<p>'Unlicensed vehicles are highly likely to be unsafe such that they pose a real danger to the safety of passengers as well as other road users. We welcome this high profile, targeted operation in advance of the Games, not only to remove these rogue operators and drivers from the road but also in raising the awareness of unsuspecting members of the public who book them. </p>
<p>'Members of the public are strongly advised to insist on seeing the operator's licence or local authority licence before proceeding with any booking.</p>
<p>'Despite significant progress over recent years illegal limos, cabs and private hire vehicles remain a high priority for TfL as they are a danger to the public, especially as they operate around the Capital's night life.' </p>
<h2>Crackdown on illegal drivers</h2>
<p>VOSA's Director of Operations Alex Fiddes said:&nbsp;'Limousines which are not licensed can be a serious risk to the public. </p>
<p>'If a limousine company does not have an Operator's Licence and is not registered for private hire with a local authority then there is a risk that the driver may not hold the correct licence, any insurance could be invalid and it might not be constructed or maintained to a safe standard. This series of checks has taken a number of unsafe vehicles off of London's roads.' </p>
<p>Commander Adrian Hanstock, MPS Safer Transport Command, said: 'Operation Kansas is a clear example of how we work in partnership with TfL and VOSA, to crackdown on illegal private hire vehicles in the Capital. </p>
<p>'We are committed to ensuring the safety of Londoners and will continue to target those who operate illegal private hire vehicle through regular police enforcement.' <br></p>
<p>
<hr>
<strong>Notes to editors: </strong>
<p>
<blockquote>
<li>Operation Kansas took place across the weekends of the 2/3, 23/24 and 31 March 2012 and will continue up to and including London 2012 Games </li>
<li>Result from the first weekend operation were as follows:<br>-&nbsp;32 Limousines were stopped and examined<br>-&nbsp;19 Penalties issued for dangerous condition&nbsp;<br>-&nbsp;Nine Drivers Hours prohibitions issued&nbsp;<br>-&nbsp;Seven Rectification Notices Issued&nbsp;<br>-&nbsp;Two Vehicles prohibited for being overweight&nbsp;<br>-&nbsp;One Prosecution for no operators licence </li>
<li>Results from the second operation were as follows:<br>-&nbsp;18 limousines stopped and examined;<br>-&nbsp;11 were given prohibition notices for defects;&nbsp;<br>-&nbsp;Two limousines were impounded for unauthorised use of a vehicle; <br>-&nbsp;Three drivers were prohibited due to driver's hours infringements;<br>-# drivers/companies were found to be conducting their business without an operators licence<br>-&nbsp;One driver was found to be driving a limousine despite having a revoked licence<br>-&nbsp;Seven drivers were processed by the MPS for various offences. <br> &nbsp;Results from the third weekend operation were as follows:<br>-&nbsp;12 limousines stopped<br>-&nbsp;One limousine seized by police as the driver was not correctly licensed<br>&nbsp;-&nbsp;One limousine impounded by VOSA for no operating licence<br>&nbsp;-&nbsp;Three limousines issued with prohibitions to be rectified immediately<br>-&nbsp;Five limousines issued with prohibitions </li>
<li>Since 2003 the Cab Enforcement Unit - part of the MPS Safer Transport Command - has made more than 7,700 arrests for touting and cab-related offences </li>
<li>Cab Enforcement operations are carried out on a regular basis in line with current intelligence on touting behaviour </li>
<li>They also cooperate with clubs to crackdown on the touts who operate in the area and ensure compliance with regulations and importantly enhance the safety of the travelling public </li>
<li>For more information on Taxi &amp; Private Hire issues including cab enforcement visit: <a href="http://www.tfl.gov.uk/cabenforcement">www.tfl.gov.uk/cabenforcement</a></li></blockquote>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Half of these were issued to drivers of unroadworthy vehicles.Operation Kansas, a joint initiative between TfL, the Vehicle and Operators Services Agency (VOSA) and the TfL funded Safer Transport Command (STC) from the Metropolitan Police Service (MPS)";}
        
        


 