


@{ViewBag.Title = "Londoners urged to plan ahead for Games-time travel as full and final Tube and rail 'hotspot' data released";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Londoners urged to plan ahead for Games-time travel as full and final Tube and rail 'hotspot' data released</h1>
        <div class="content-page-press-release">
        23 April 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Full 'hotspot' information on where and when Tube and rail services will be most affected during London 2012 Games published today.
        
    </div>



 <div class="on-this-page">
<ul>
<li>For the first time, 'hotspot' information has been made available for National Rail stations and for the Paralympics </li>
<li>Londoners asked to start planning and exploring alternative travel options at the <a href="http://www.getaheadofthegames.com/">Get Ahead of the Games website&nbsp;</a> </li></ul>
<p>London 2012, Transport for London (TfL), Network Rail, train operating companies and the Association of Train Operating Companies (ATOC) today published full and final information on when and where the UK's Tube and rail networks will be most affected during this summer's London 2012 Games.&nbsp;</p>
<h2>Plan your travel in advance</h2>
<p>The information on the 'hotspots' came as Londoners and those who live, work and travel in the Capital were urged to plan and explore their alternative travel options at&nbsp;<a href="http://www.getaheadofthegames.com/">Get Ahead of the Games.</a></p>
<p>Up to 3 million additional journeys are expected to be made in London alone on the busiest days of the Games, as London transforms into a giant cultural and sporting venue.&nbsp;</p>
<p>As a result, the transport networks of London and the UK will be very busy, and at certain times and certain places will be much busier than usual.&nbsp;</p>
<p>For the first time, 'hotspot' information - which is based on the operational plans of ATOC, Network Rail, train operating companies and TfL - has been made available for both national railway stations and for the Paralympic Games period. </p>
<p>In addition detailed station descriptions have been produced for all the previously announced 'hotspot' and key stations (53 additional Tube and DLR and five more London Overground stations in all), showing the impact at day-by-day, half-hour intervals.</p>
<h2>Tube lines busy</h2>
<p>While around two thirds of Tube and DLR stations will be unaffected, the spread of 'hotspot' stations across the public transport network means that the DLR, Central and Jubilee lines will be exceptionally busy at certain times throughout the Olympic and Paralympic Games. </p>
<p>The impact of the Games on the public transport network will be tackled by a reduction in those planning to travel, through working at alternative locations, including home, staggering working hours, working longer but fewer days, taking annual leave or swapping to alternative forms of transport - including walking and cycling.&nbsp; </p>
<p>For those who still need to travel at peak times, TfL, Network Rail, the train operating companies and ATOC have now provided the complete and final picture on which stations will be most affected, and advice on alternative travel options, available at <a href="http://www.getaheadofthegames.com/">Get Ahead of the Games. </a></p>
<p>Examples of station and Tube 'hotspots' include:</p>
<ul>
<li>Bank Tube and DLR station - will be exceptionally busy between 08.00-10.00 and 16.00-22.00 on weekdays throughout the Olympic Games, and 08.00-11.00 and 14.30-20.00 on weekdays throughout the Paralympic Games due to spectators using the Central line to travel to and from events at the Olympic Park, the DLR to travel to and from events at Greenwich Park and ExCeL and because they will be interchanging there </li>
<li>Weymouth railway station - the key station for spectators attending Olympic Sailing events between Sunday 29 July and Saturday 11 August. It will be particularly busy two to three hours before events begin, one to two hours after events finish and when the last trains leave at the end of the day </li>
<li>Earl's Court Tube station - will be exceptionally busy throughout the Olympic Games due to the Olympic Volleyball events being held at Earls Court. The station will be particularly busy during the changeover periods between the three daily events that will take place, and will be busiest from midday, and in the early evening and late evening from Saturday 28 July to Sunday 12 August </li>
<li>London Bridge station - will be exceptionally busy between 07.00-09.30 and 16.00-21.30 throughout the Olympic and Paralympic Games - including at weekends. Spectators travelling to and from venues in the Olympic Park, ExCeL, North Greenwich Arena, Greenwich Park and the Royal Artillery Barracks in Woolwich will pass through or change trains here and the Jubilee line at London Bridge will be particularly busy </li>
<li>London Waterloo National Rail station - will be exceptionally busy throughout the Games as it is a key interchange station for spectators, particularly those travelling to Eton Dorney for rowing, the cycling time trial event at Hampton Court, the sailing at Weymouth, the tennis at Wimbledon or those arriving for events in central London - including beach volleyball, the triathlon and the cycle road races. The station will particularly busy between 07.30-10.00 on weekday mornings throughout the Olympics and Paralympic Games </li>
<li>Mile End Tube station - will be busier than usual throughout the Games as busy Central and District line trains will pass through the station and because of the Olympic Games Live Site in Victoria Park. It will be particularly busy between 07.30-09.30 as spectators head to the events in the Olympic Park and between 22.30-01.00 during the Olympic Games as people leave the Olympic Park and the nearby Live Site.<br>TfL and London 2012 have been working with businesses in London and around venues across the UK for well over a year and there is increasing evidence that they are planning ahead to reduce their travel and avoid the hotspots.&nbsp; In London alone, almost 500 major businesses employing more than 600,000 people have signed up for specific travel advice and have drafted travel plans which they have shared with TfL.</li></ul>
<p>Transport Secretary, Justine Greening, said: 'London and the UK's transport networks have had a real boost ahead of the Games, with a &pound;6.5 billion investment in projects across the capital effectively delivering an early Games legacy for the British travelling public.</p>
<p>'However, we know there will be times where unprecedented numbers of people will be travelling through certain Games-time transport hotspots this summer. </p>
<h2>Businesses encouraged to plan</h2>
<p>'I encourage businesses and individuals to plan how they are going to travel this summer, so we can deliver a fantastic Games that the whole country can be part of and proud of.&nbsp; And across Government we'll be encouraging our staff to work and travel more flexibly during the Games.'</p>
<p>London's Transport Commissioner, Peter Hendy, said: 'London is going to operate very differently this summer, with the Capital transforming into a giant Games-time cultural and sporting venue. </p>
<p>'As the competition and events programme moves around we need to manage demand on the transport network, which will be very busy and at certain times and certain places will be much busier than usual.<br>&nbsp;<br>'All of us who live, work or travel in London need to check <a href="http://www.getaheadofthegames.com/">http://www.getaheadofthegames.com/</a>see if the tube, train or DLR stations we regularly use will be affected by the impact of the Games, and start making plans to avoid 'hotspot' stations at the times they are expected to be in high demand.'</p>
<p>LOCOG Chair Sebastian Coe said: 'London and the UK is gearing up to welcome the world this summer when 15,000 athletes, 7,000 technical officials, thousands of media and millions of spectators will be travelling on our transport networks.</p>
<p>'The 'hotspot' data published today provides employers and individuals with the full picture of when and where our Tube and railway lines and stations will be busy, as well as advice on alternatives. </p>
<p>'As the success of the Games depends on all of us doing our bit to keep London and the UK moving, I'd like to urge everyone to plan now, using the Get ahead of the Games website.'</p>
<p>Network Rail Chief Executive, David Higgins, said: 'A huge amount of work has gone into planning at our stations, such as the new Kings Cross Western Concourse, to make journeys easier and to give passengers the clear, useful travel information they need. </p>
<h2>Extra services</h2>
<p>'The railway 'hotspot' data that has been published today provides both Games spectators and regular travellers with the information they need to make informed decisions about travelling during the Olympic and Paralympic Games.' </p>
<p>Michael Roberts, Chief Executive of the Association of Train Operating Companies, said: 'Train companies will be providing more than 4,000 extra services during the Games, with earlier starting and later running trains and extra carriages added at the busiest times, to help spectators enjoy all of the action. </p>
<p>'But some trains and stations will be particularly busy at certain times. </p>
<p>'We would urge both our regular and less frequent passengers to do all they can to prepare in advance by checking with their operator or on the Get Ahead of the Games website and adjusting their plans if possible to avoid hotspots.'<br>&nbsp;<br>TfL and all London 2012 partners have two clear and equal objectives; to support the delivery of a great London 2012 Games and to keep London and the UK moving, and open for business.&nbsp;<br>&nbsp;<br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>There are 12 million journeys a day made on London's public transport network. On the busiest days of the Games up to 3 million additional journeys will take place on the public transport network </li>
<li>&pound;6.5 billion has been invested in upgrading and extending transport links to increase capacity and improve services across London and the UK. This is already providing an early legacy of better transport options, benefitting millions of people and supporting economic development for generations to come.&nbsp;Improvements include: </li>
<li>50 per cent increase in DLR capacity with line extended to Woolwich and Stratford International; </li>
<li>An upgraded Jubilee line, delivering more frequent and reliable services </li>
<li>Extra capacity on the Central line </li>
<li>Refurbished and extended London Overground services on the East London and North London lines; </li>
<li>Upgrades to national rail services on the Lea Valley and Great Eastern lines </li>
<li>Upgraded traffic signals and junctions on the ORN, so traffic runs smoothly </li>
<li>King's Cross-St Pancras and Stratford stations essentially rebuilt and expanded, with step-free access and extra capacity </li>
<li>Southfields (for Wimbledon tennis), Slough (for rowing at Eton Dorney) and Green Park, a vital accessibility hub, are or will bestep-free ahead of the Games </li>
<li>Improved walking and cycling routes serving the Olympic Park </li>
<li>The expansion of Barclays Cycle Hire scheme to more of east London and Canary Wharf </li>
<li>Transport operators will also enhance services at Games-time, including </li>
<li>Tube, DLR and London Overground services to run one hour later than usual, with last trains leaving central London and key venues around 01:30 </li>
<li>Additional rail services across UK with special flexible ticketing arrangements </li>
<li>Games-time Javelin train service from St Pancras to the Olympic Park, with up to eight to 10 trains per hour </li>
<li>Around 200 extra buses operating in London </li>
<li>Special Park &amp; Ride direct coach services to venues </li>
<li>Extra staff and volunteers to provide information and advice across London and UK transport networks </li>
<li>Extra Thames river services at certain times and places </li>
<li>London 2012 and TfL have provided free travel advice to business programmes to companies operating in areas of London and the rest of the UK that will be affected by the Games. Five hundred major businesses employing more than 600,000 people have signed up for specific travel advice and have drafted travel plans which they have shared with TfL, and more than 20,500 businesses across London and other affected areas of the UK have attended TfL arranged or supported workshops</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "For the first time, 'hotspot' information has been made available for National Rail stations and for the Paralympics Londoners asked to start planning and exploring alternative travel options at the Get Ahead of the Games website&nbsp; London 2012,";}
        
        


 