


@{ViewBag.Title = "Major resurfacing works to take place along Victoria Embankment across Easter Bank Holiday weekend";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Major resurfacing works to take place along Victoria Embankment across Easter Bank Holiday weekend</h1>
        <div class="content-page-press-release">
        04 April 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Work to be carried out around the clock across the four-day holiday period.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Two kilometres of the Embankment to be resurfaced during directional closures of the carriageway between Blackfriars and Westminster bridge across the Easter Bank Holiday weekend </li>
<li>Blackfriars station underpass closed in both directions to traffic while Network Rail continue station upgrade works</li></ul>
<p>TfL will be carrying out extensive resurfacing and improvement works along the A3211 Victoria Embankment between 6-10 April.</p>
<p>Around two kilometres of the westbound and eastbound carriageway between Blackfriars bridge and Westminster bridge will be resurfaced across the long weekend. These essential works will help reduce carriageway noise and the need for future maintenance closures. </p>
<h2>Benfits for pedestrians </h2>
<p>Footway widening work will also be carried out during the weekend to improve the zebra crossing by Cleopatra's Needle, shortening the crossing distance and enabling pedestrians to be more visible to traffic.</p>
<p>Work on the westbound carriageway will be carried out during the day between 06:00 to 20:00, with the westbound carriageway remaining closed overnight to traffic between 6 and 10 April. In addition, work will also take place on sections of the eastbound carriageway each night from 20:00 to 06:00 throughout the weekend. </p>
<p>By carrying out these works across the Easter weekend, TfL can substantially reduce the number of further nights required during April and May to complete the resurfacing works along Victoria Embankment by more than a week.</p>
<p>The diversion will send westbound traffic across Westminster bridge, York Road, Stamford Street, Southwark Street and Southwark bridge during these works, with all traffic diverted overnight. Local access to properties along Victoria Embankment and side roads will be maintained by our contractors while these works are taking place.</p>
<p>TfL has worked closely with Westminster City Council, City of London, London Boroughs of Lambeth and Southwark to coordinate and plan these works. All noisy works will be completed by midnight and TfL will be monitoring the affect that these works are having across the weekend to ensure that they cause minimal disruption. </p>
<h2>More work, less disruption</h2>
Dana Skelley, Director of Roads for TfL said: 'This essential work to refurbish and resurface Victoria Embankment is vital to ensure that this important arterial road is kept safe and serviceable for all road users for years to come. 
<p>'By carrying out these works around the clock across the Easter weekend, we can carry out more work in a shorter time, helping to minimise the overall disruption for bus passengers, road users and local residents.'</p>
<p>Throughout the Easter weekend, Network Rail improvement works at Blackfriars station will require closure of the Blackfriars underpass. </p>
<p>During this closure, TfL will take the opportunity to carry out maintenance work within the underpass. Local traffic needing to travel around Blackfriars will be diverted via Queen Victoria Street and Lamb Hill to rejoin Upper Thames Street.</p>
<p>For the latest travel information, Londoners should visit <a href="http://www.tfl.gov.uk/trafficnews">www.tfl.gov.uk/trafficnews</a> or follow &#64;tfltrafficnews on Twitter.</p>
<p>
<hr>
<strong>Notes to editors:</strong> 
<p>
<ul>
<li>Londoners can report disruptive or badly managed roadworks by visiting <a href="http://www.tfl.gov.uk/roadworks">www.tfl.gov.uk/roadworks</a>, or by using a GPS enabled mobile device to tweet &#64;report_it with the hashtag #roadworks. Enquiries will be sent directly to the highway authority responsible, ensuring that direct and swift action can be taken </li>
<li>Across the Easter weekend, TfL will also be carrying out work to deliver pedestrian improvements outside Kings Cross station as well as continuing to work on the Hammersmith Flyover to restore the flyover to full traffic use as soon as possible</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Two kilometres of the Embankment to be resurfaced during directional closures of the carriageway between Blackfriars and Westminster bridge across the Easter Bank Holiday weekend Blackfriars station underpass closed in both directions to traffic while";}
        
        


 