


@{ViewBag.Title = "New strengthening cables within Hammersmith Flyover to be installed this week";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New strengthening cables within Hammersmith Flyover to be installed this week</h1>
        <div class="content-page-press-release">
        16 April 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Flyover closed for next two Sundays (22 and 29 April) until 17:00 to allow critical works to be completed.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Revised work programme removes need for full weekend closures to the flyover </li>
<li>Works will allow flyover to fully reopen in June; well ahead of London 2012 Games</li></ul>
<p>Transport for London (TfL) will begin installing the new tensioning cables inside the Hammersmith Flyover this week, as part of its continuing work to fully reopen the structure to all traffic.</p>
<p>The works, which began in January, have seen around 200m of the central reservation along the flyover removed, a new structural slab and concrete barriers installed, as well as tailored anchorages for the new cables installed within the structure. </p>
<h2>Essential work </h2>
<p>The design for the new post-tensioning system will see new cables installed above and below the bridge deck as part of a bespoke design, which will supplement the load capacity of the existing cables. </p>
<p>The new cables are surrounded by wax oil to prevent deterioration and allow inspection and replacement if required in the future.</p>
<p>In order for the new cables to be set to the correct tension, movement on the Flyover must be kept to a minimum during installation, meaning it will be closed to traffic from Saturday evening until 17:00 on Sunday 22 April and Sunday 29 April to allow this essential work to take place.</p>
<p>These Sunday closures will allow TfL to complete these vital phases of work more quickly and efficiently, thus minimising disruption to motorists in the area.</p>
<p>In a further move to minimise traffic disruption in the area, and following a review of the works programme, TfL has also removed the requirement for the full weekend closure planned for the Flyover. </p>
<p>These have now been replaced by overnight closures at times when traffic on the Flyover and in surrounding areas is significantly lighter. </p>
<h2>Night-time closures</h2>
<p>The night-time closures of the Flyover, which begin on Wednesday 18 April&nbsp; and run until Monday 30 April, will take place between 22:00-06:00, except on Saturday mornings when the Flyover will reopen at 10:00 and on Saturday evenings when the Flyover will close at 18:00 instead of 22:00.</p>
<p>Garrett Emmerson, Chief Operating Officer for Surface Transport at TfL said: 'We are now approaching a critical phase in our race to reopen the Hammersmith Flyover as quickly as possible. </p>
<p>'This will require a number of overnight and Sunday daytime closures to ensure that the works are carried out safely and correctly.</p>
<p>'I would once again like to apologise for the inconvenience that this work is causing and reassure Londoners that we are continuing to work around the clock to complete these vital works as quickly as possible.'</p>
<p>Work to strengthen the five weakest spans of the 16 span structure will be completed in June 2012, well ahead of the London 2012 Games. This will ensure that the flyover can carry full traffic loading during the Games and for many decades to come.</p>
<p>TfL will return to the structure during 2013 to strengthen the remaining spans. This work will be carried out, where possible, with no weight or lane restrictions and minimal closures to the flyover, which will be coordinated by TfL to cause limited traffic disruption.</p>
<p>During the scheduled closures listed above, traffic will be diverted around the Hammersmith gyratory system. People are advised to consider alternative routes or using London Underground and National Rail services to complete their journey if possible.</p>
<p>Following these closures, TfL will continue to work around the clock to complete these works and fully reopen the flyover in June 2012.</p>
<p>
<hr>
<strong>Notes to Editors:</strong> 
<p>
<ul>
<li> &nbsp;During the past two years, TfL has been carrying out detailed monitoring inside the unique flyover, which was built in 1961 and transferred to TfL's stewardship in 2000. In particular, TfL engineers have been checking the condition of the internal cables which help to hold the spans of the concrete structure in place </li>
<li>Until recently it was thought that the structure had a number of years before major repair work would need to be undertaken, but recent monitoring results showed that repair work was needed earlier than anticipated.&nbsp;Then, in the week prior to Christmas, further deterioration of the cables was found - leading TfL to take the decision to keep the flyover closed to carry out more detailed assessment of the complete structure </li>
<li>On 13 January 2012, TfL reopened the flyover to light traffic in one lane in each direction, whilst work continued to strengthen key sections of the flyover. Traffic restrictions have been enforced by a 2.0m (6'6") width restriction at either end of the flyover to prevent large vehicles such as HGVs and coaches from crossing </li>
<li>A team of engineers are working 24 hours a day, seven days a week to complete the work on top and within the flyover, often in a crawl space far less than human height </li>
<li>Certain elements of these repair works may be carried out within the structure or behind noise shields and so may not be visible to drivers using the Hammersmith Flyover </li>
<li>As a contingency, TfL may require some further night-time and one more Sunday daytime closure of the Hammersmith Flyover during late May 2012. The requirement for this will be reviewed following this set of closures</li></ul>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Revised work programme removes need for full weekend closures to the flyover Works will allow flyover to fully reopen in June; well ahead of London 2012 GamesTransport for London (TfL) will begin installing the new tensioning cables inside the Hammersmith";}
        
        


 