


@{ViewBag.Title = "New strengthening cables within Hammersmith Flyover to be installed next week";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New strengthening cables within Hammersmith Flyover to be installed next week</h1>
        <div class="content-page-press-release">
        12 April 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) will begin installing the new tensioning cables inside the Hammersmith Flyover next week, as part of its ongoing work to fully reopen the structure to all traffic.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are continuing to work around the clock to complete these vital works as quickly as possible"</div>
        <div class="quote-footer">
            <div class="quotee-name">Garrett Emmerson</div>
            <div class="quotee-job-title">Chief Operating Officer for Surface Transport at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are continuing to work around the clock to complete these vital works as quickly as possible
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>New cables will restore flyover to full traffic load </li>
<li>Work continuing around the clock to repair structure </li>
<li>Flyover to fully reopen in June; well ahead of London 2012 Games</li></ul>
<p>Transport for London (TfL) will begin installing the new tensioning cables inside the Hammersmith Flyover next week, as part of its ongoing work to fully reopen the structure to all traffic.</p>
<p>The works, which began in January, have seen around 200m of the central reservation along the flyover removed, a new structural slab and concrete barriers installed, as well as tailored anchorages for the new cables installed within the structure. </p>
<p>The design for the new post-tensioning system will see new cables installed above and below the bridge deck as part of a bespoke design, which will supplement the load capacity of the existing cables. </p>
<p>The new cables are surrounded by wax oil to prevent deterioration and allow inspection and replacement if required in the future.</p>
<p>
<hr>

<p>
<p>In order to install the new cables, the flyover will need to be fully closed overnight to ensure that there are no adverse forces applied to the structure while the cables are being tensioned. </p>
<p>These closures will be carried out overnight (22:00 - 06:00) for six weekday nights from Wednesday 18 April, when traffic levels are significantly lower and should not therefore result in additional traffic congestion.</p>
<p>There will also be two full weekend closures of the flyover to allow TfL to complete the installation of the tensioning cables, as well as begin work to waterproof and resurface the carriageway. </p>
<p>These will take place at the following times:</p>
<ul>
<li>Friday 20 April (22:00) to Monday 23 April (06:00) </li>
<li>Friday 27 April (22:00) to Monday 30 April (06:00)</li></ul>
<p>During this time, traffic will be diverted around the Hammersmith gyratory system. People are advised to consider alternative routes or using London Underground and National Rail services to complete their journey if possible. </p>
<p>Following these closures, TfL will continue to work around the clock to complete these works and fully reopen the flyover in June 2012.</p>
<p>
<hr>

<p>
<p>Garrett Emmerson, Chief Operating Officer for Surface Transport at TfL said: "We are now approaching a critical phase in our race to reopen the Hammersmith Flyover as quickly as possible. This will require a number of overnight and weekend closures to ensure that the works are carried out safely and correctly. </p>
<p>"I would once again like to apologise for any inconvenience that this work is causing and reassure Londoners that we are continuing to work around the clock to complete these vital works as quickly as possible."</p>
<p>Work to strengthen the five weakest spans of the 16 span structure will be completed in June 2012, well ahead of the London 2012 Games. This will ensure that the flyover can carry full traffic loading during the Games and for many decades to come. </p>
<p>Following the Games, TfL will return to the structure to strengthen the remaining spans. This work will not require further weight restrictions to be imposed and TfL hope to complete it with off peak lane closures and minimal closures to the flyover, causing limited traffic disruption.</p>

<p>
<hr>
<br></p>
            <p><strong>Notes to Editors:</strong></p>
<ul>
<li>During the past two years, TfL has been carrying out detailed monitoring inside the unique flyover, which was built in 1961 and transferred to TfL's stewardship in 2000. In particular, TfL engineers have been checking the condition of the internal cables which help to hold the spans of the concrete structure in place&nbsp; </li>
<li>Until recently it was thought that the structure had a number of years before major repair work would need to be undertaken, but recent monitoring results showed that repair work was needed earlier than anticipated.&nbsp; Then, in the week prior to Christmas, further deterioration of the cables was found - leading TfL to take the decision to keep the flyover closed to carry out more detailed assessment of the complete structure </li>
<li>On 13 January 2012, TfL reopened the flyover to light traffic in one lane in each direction, whilst work continued to strengthen key sections of the flyover. Traffic restrictions have been enforced by a 2.0m (6'6") width restriction at either end of the flyover to prevent large vehicles such as HGVs and coaches from crossing</li>
<li>A team of engineers are working 24 hours a day, seven days a week to complete the work on top and within the flyover, often in a crawl space far less than human height</li>
<li>Certain elements of these repair works may be carried out within the structure or behind noise shields and so may not be visible to drivers using the Hammersmith Flyover<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "New cables will restore flyover to full traffic load Work continuing around the clock to repair structure Flyover to fully reopen in June; well ahead of London 2012 GamesTransport for London (TfL) will begin installing the new tensioning cables inside the";}
        
        


 