


@{ViewBag.Title = "Out-of-hours deliveries to be encouraged during London 2012 Olympic and Paralympic Games";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Out-of-hours deliveries to be encouraged during London 2012 Olympic and Paralympic Games</h1>
        <div class="content-page-press-release">
        02 April 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Councils, businesses and Transport for London (TfL) support a considerate, flexible approach to out-of-hours deliveries during Games-time.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Companies making or receiving out-of-hours deliveries during London 2012 Olympics and Paralympics are urged to adhere to Code of Practice developed by TfL, the Freight Transport Association and the Noise Abatement Society </li>
<li>Pragmatic approach to Games time deliveries could provide legacy of improved road safety, air quality and reduced congestion in capital </li></ul>
<p>Transport for London (TfL), London Councils and London's business community have today (2 April) confirmed that they will be sympathetic to companies that need to make or receive out-of-hours deliveries in London during the London 2012 Olympic and Paralympic Games.</p>
<p>The pragmatic approach was endorsed by London Councils' Transport and Environment Committee last week, when they approved a statement to help local authorities explain the position on night-time deliveries during the Games. </p>
<h2>Delivering during the Games</h2>
<p>The statement makes it clear that councils will be supportive and sympathetic to the needs of businesses needing out-of-hours deliveries during the 2012 Games, when deliveries to businesses on the Olympic Route Network, in central London and around venues will be affected by Games-related restrictions on key parts of the Capital's road network.</p>
<p>London boroughs reserve the right to continue to enforce against businesses that are inconsiderate or disturb local communities, especially if complaints are received about excessive noise being made when making or receiving deliveries.&nbsp;</p>

<p>Good steps to minimise the chance of any enforcement action include following the Code of Practice and in particularly sensitive areas businesses are advised to discuss this issue with local borough councils in advance. </p>
<p>In order to support the needs of London's residents and those of the freight industry and businesses affected by Games-time restrictions, Transport for London (TfL) has today published the final Code of Practice for out-of-hours deliveries. </p>
<h2>Keep London moving </h2>
<p>The code, which was developed with the Noise Abatement Society and the Freight Transport Association, provides businesses and delivery companies with simple, practical guidance on how to minimise noise from night-time deliveries and is available on the TfL website. </p>
<p>London's Transport Commissioner, Peter Hendy, said: 'The challenges surrounding deliveries during the Games are considerable. </p>
<p>'However, the success of the quieter out-of-hours delivery trials we've commissioned in recent months clearly demonstrate that out-of-hours deliveries can, and I believe will, play a vital role in ensuring London and the rest of the UK keeps on moving this summer. </p>
<p>'I urge businesses that make or receive deliveries in London to use the Code of Practice for all out-of-hours deliveries. </p>
<p>'It is up to the freight and business community to prove to London's borough councils that they are aware of, and care about, the impact they have on the communities they deliver to. </p>
<p>'If the industry gets it right this summer, this is also a real opportunity for reducing congestion and improving air quality and road safety in London in the future.'</p>
<h2>Minimising disruption</h2>
<p>Nick Lester, Corporate Director for Services at London Councils, said: 'London's councils are working hard to ensure that businesses can keep running as smoothly as possible during the Games and to minimise disruption to residents. </p>
<p>'While enforcement will be as light-touch and flexible as possible, boroughs will continue to enforce against any business stopping Londoners from getting a good night's sleep.'</p>
<p>Sara Parker, CBI's London Director, said: 'This agreement on a more flexible approach to deliveries is a real breakthrough which will mean that London's businesses can continue delivering a high-quality service to their customers during the Games.</p>
<p>'With so many Londoners and visitors out and about in the capital over the summer, it's really important that shops, pubs and restaurants can remain fully stocked.'</p>
<p>Baroness Valentine, Chief Executive of London First, said: 'The Olympics are a positive thing for London, but it's vital that businesses in London are able to remain open during the Games.&nbsp;</p>
<p>'This code of practice will provide certainty around more flexible delivery arrangements - without which many businesses will be unable to operate normally. This would be bad for residents, bad for businesses and bad for employment both during and after the Games.'</p>
<p>Colin Stanbridge, Chief Executive of London Chamber of Commerce and Industry, said: 'The Olympics and Paralympics present a fantastic opportunity for businesses and it is a positive step that London Councils and TfL have reached an understanding which will help firms to operate as near to normal as possible during the Games.&nbsp; </p>
<p>'As a Chamber we will continue to communicate to our members, and the wider business community, the importance of adhering to TfL's Code of Practice and planning ahead to make sure that any changes to operations are kept to a minimum while firms take full advantage of all the Games will offer to business.'</p>
<h2>Victory for common sense </h2>
<p>Sue Terpilowski, London Policy Chairman, Federation of Small Businesses, said: 'Small businesses across London will support this announcement on night time deliveries. This is a victory for common sense, when the roads will be heavily congested, to enable deliveries to be made at night time.&nbsp; </p>
<p>'We will work closely with our members to ensure they are aware of the Code of Practice to ensure that residents are not disturbed during the Games.</p>
<p>'It is vital that London remains open for business during the Games and so mitigating the risks of imposed transport obstacles are very much welcome.'</p>
<p>Sarah Bell, lead Traffic Commissioner for Olympic Delivery, said: 'Today's announcement by London Councils and TfL goes a long way to addressing the challenges the freight industry faces in making deliveries to some parts of London during this summer's Olympic and Paralympic Games.&nbsp;</p>
<p>'The Traffic Commissioners for Great Britain urge the freight industry to consider out-of-hours deliveries as one of a number of solutions that will help both the freight sector and London keep on moving this summer, and we ask them to abide by the conditions of the Code of Practice that TfL has published today.'</p>
<p>Natalie Chapman, Freight Transport Association Head of Policy for London, said: 'The FTA welcomes the flexible, sensible approach London's boroughs are taking to the challenge freight operators and businesses face around making and receiving deliveries during Games-time. </p>
<p>'We will be urging freight operators to follow and respect the conditions laid out in the Code of Practice. </p>
<h2>Local residents protected</h2>
<p>'If they can prove, as we believe, that out-of-hours deliveries can be made without disturbing local residents, there could be tremendous legacy benefits for the Capital, both in terms of improved road safety, air quality and a reduction in day-time traffic congestion.'</p>
<p>Lisa Lavia, Managing Director of the Noise Abatement Society, said; 'London Council's decision to support the principle of quiet, out-of-hours deliveries during Games time ensures that the rights of local residents are protected while taking a pragmatic approach to the challenge businesses making and receiving deliveries face this summer.&nbsp; </p>
<p>'TfL's out-of-hours delivery trials, which have been conducted using the Code of Practice we helped them draft, have proved the viability of quiet deliveries in the Capital and the conditions under which they may be feasible. </p>
<p>'Introducing quiet delivery practices during Games-time, under strict guidelines and independent monitoring, ensures that the public can be protected throughout.'</p>
<p>
<hr>
<strong>Notes to Editors:</strong> 
<p><strong>
<ul>
<li></li></ul></strong>There are four main regulatory issues around out-of-hours deliveries, which have been discussed with the freight sector and with London Councils officers. The position on each of the regulatory issues is as follows (from London Councils Transport and Environment Committee paper, 15 March 2012):<br>a.&nbsp;London Lorry Control Scheme: London Councils have published a factsheet on the operation of the London Lorry Control Scheme during the Games. This sets out how they plan to issue temporary permits for the Games<br>b.&nbsp;Planning Conditions: Borough Planning Officers have a legal duty to investigate complaints of breaches in planning conditions; these may include conditions limiting the hours of delivery<br>c.&nbsp;Alcohol licensing: some local authorities attach conditions to alcohol licenses restricting deliveries at night<br>d.&nbsp;Noise nuisance: Environmental Health Officers have a legal duty to investigate complaints of noise nuisance and enforcement may result. The legislation covers such issues as noisy neighbours as well as noise from delivery activities and can lead to a Noise Abatement Notice being issued and the impounding of any equipment causing the noise nuisance 
<li>The Traffic Commissioner have been working closely with road transport trade associations and TfL to offer practical advice to help road haulage operators plan for the London 2012 Olympic and Paralympic Games. For more information see <a href="http://www.dft.gov.uk/publications/traffic-commissioners-olympic-planning">http://www.dft.gov.uk/publications/traffic-commissioners-olympic-planning</a> </li>
<li>London Councils and TfL will monitor and assess the impact of out-of-hours deliveries during Games time, which will inform any future potential changes to out-of-hours deliveries in London </li>
<li>The Code of Practice was developed in partnership with the Freight Transport Association (FTA) and Noise Abatement Society (NAS). TfL engaged with, and sought feedback from, the freight industry, London boroughs and other interested parties, which has resulted in the final version which has been published today. The Code of Practice sets out practical tips on how both drivers and those receiving the goods can work together to make deliveries as quietly as possible </li>
<li>TfL is working closely with businesses and our London 2012 partners to minimise the impact of the Games on the capital's road network. However, it is essential that freight operators plan in advance to ensure they understand the transport challenges of the Games, including the Olympic Route Network, and take steps to reduce, re-route, re-time or re-mode deliveries wherever possible. Road 'hotspot' maps for each day of the Games, and data which allows operators to check whether individual postcodes are affected, along with the Code of Practice, are available at <a href="http://www.tfl.gov.uk/2012">www.tfl.gov.uk/2012</a> </li>
<li>Over 200 free TfL workshops, both inside and outside the capital, have been on offer since January to help hauliers and their customers from across all sectors continue to operate effectively this summer. To apply for a place, businesses should visit <a href="http://www.tfl.gov.uk/2012freight">www.tfl.gov.uk/2012freight</a> where there is a full list of workshop dates, times and locations. Businesses should email <a href="mailto:freight&#64;tfl.gov.uk">freight&#64;tfl.gov.uk</a> to book a place </li>
<li>Freight operators and their customers are being targeted with a major campaign, launched at the end of February, to ensure supplies keep moving during the London 2012 Olympic and Paralympic Games.&nbsp;The 16-week marketing campaign urges people who make or receive deliveries in Games transport 'hotspot' areas to plan ahead so they can continue to operate effectively and profitably this summer. The advertising is in a variety of locations including on petrol station fuel pump nozzles, at motorway service stations, at major ports, and on radio stations and in trade magazines&nbsp; </li>
<li>The freight industry is vital to the success of London. Approximately 280,000 freight journeys take place within London on a typical weekday, delivering to some 290,000 businesses and 7.8 million residents </li>
<li>Road freight; deliveries, collections and servicing activity accounts for 17 per cent of Greater London's traffic and this is predicted to rise to 25 per cent of total traffic by 2030 </li>
<li>10.&nbsp;89 per cent of London's freight is moved by road and 6.4 per cent of London's employment is freight related, making it a significant business sector, crucial to the London-wide economy</li>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Companies making or receiving out-of-hours deliveries during London 2012 Olympics and Paralympics are urged to adhere to Code of Practice developed by TfL, the Freight Transport Association and the Noise Abatement Society Pragmatic approach to Games time";}
        
        


 