


@{ViewBag.Title = "Shortlisted bidders for the Bank Station Capacity Upgrade project";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Shortlisted bidders for the Bank Station Capacity Upgrade project</h1>
        <div class="content-page-press-release">
        24 April 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) announced today the four bidding groups who have been shortlisted to go through the new Innovative Contractor Engagement (ICE) procurement process for the Bank Station Capacity Upgrade project.
        
    </div>



 <div class="on-this-page">
<p>The Bank and Monument Tube station complex is located in the heart of the City of London financial district and is the fourth busiest interchange station on the Underground network with 96,000 customers during the morning rush hours, which is set to increase.</p>
<p>Bank is a key interchange served by six lines (Northern, Central, Waterloo &amp; City, and at the Monument end of the same station complex, the District &amp; Circle), as well as the Docklands Light Railway (DLR), for which Bank is the main central London terminus. </p>
<p>The upgrade project will, by 2021, deliver increased capacity at Bank station and a step-free route between the Northern line platforms, DLR and street levels.</p>
<p>Following the advertisement in the Official Journal of the European Union (OJEU) in November 2011, LU has completed its evaluation of the Pre Qualification Questionnaire (PQQ) responses and aims to award a contract by July 2013.</p>
<p>The pre-qualified bidders are listed in alphabetical order:</p>
<ul>
<li>BFK Joint Venture (BAM Nuttall,&nbsp; Ferrovial SA &amp;&nbsp; Kier) </li>
<li>CVC Joint Venture (Costain,&nbsp; VINCI Grand Projets &amp; VINCI Construction)</li>
<li>Dragados SA </li>
<li>MBA Joint Venture (Morgan Sindall, Balfour Beatty &amp; Alpine Bemo Tunnelling)</li></ul>
<p>David Waboso, LU's Capital Programmes Director said:&nbsp; 'We are using the new ICE procurement process for the first time with this project. </p>
<p>'This process should improve our relationship with the contractor market and get the benefits of early contractor involvement while developing major design and build contracts.'</p>
<p>The process has been designed to allow bidders to bring their expertise and knowledge to drive innovation that will reduce cost and risk to the project.</p>
<p>This innovation will be commercially confidential to each bidder so they are able to fully derive the value and competitive advantage of their innovation through the procurement process.</p>
<p>The evaluation criteria used in the PQQ, targeted the contractors' ability to deliver and innovate.&nbsp;</p>
<p>The four strong bidding groups will be able to use their significant global infrastructure experience at Bank Tube station, which will be one of London Underground's biggest and most complex projects.</p>
<p><strong>
<hr>
Notes for Editors:</strong></p>
<ul>
<li>LU's Contract Notice 2011/S 224-363980 was published in the OJEU in November 2011</li>
<li>The ICE procurement process will now enter a structured dialogue phase where bidders present proposals against LUL's Requirements Statement.&nbsp; Any intellectual capital produced by bidders will be protected by LUL.&nbsp;The dialogue will also include discussions on commercial aspects like optimising risk share and payment incentivisation. After the dialogue phase LUL will produce a revised Requirements Statement incorporating innovative ideas for the Invitation to Tender phase, with a NEC3 ECC Option C Contract likely to be used</li>
<li>LUL is looking to deliver a 10 per cent&nbsp;- 20 per cent&nbsp;increased value to the Bank Station Capacity Upgrade project by using the ICE procurement process</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Bank and Monument Tube station complex is located in the heart of the City of London financial district and is the fourth busiest interchange station on the Underground network with 96,000 customers during the morning rush hours, which is set to";}
        
        


 