


@{ViewBag.Title = "Temporary changes to bus services during London 2012 Games test event in Woolwich.";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Temporary changes to bus services during London 2012 Games test event in Woolwich.</h1>
        <div class="content-page-press-release">
        03 April 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Buses diverted during test event at Royal Artillery Barracks in Woolwich.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Links to Queen Elizabeth Hospital maintained</li></ul>
<p>Transport for London (TfL) has today announced temporary changes to bus services during an Olympic and Paralympic Games test event at the Royal Artillery Barracks in Woolwich later this month.</p>
<p>The Barracks will be hosting the Olympic shooting, Paralympic shooting and Paralympic archery during the London 2012 Games and a test event is being held between 16 April and 7 May. </p>
<p>This means a number of bus services will be diverted because Ha-Ha Road and Repository Road will be closed. </p>
<p>The changes will affect routes 161, 178, 291, 386, 469, 486 and will be in place for both the test event and the Olympic and Paralympic competition events later in the year. </p>
<p>On the days that both Ha-Ha Road and Repository Road are closed, route 161 will not serve Queen Elizabeth Hospital. </p>

<p>Instead a new, temporary service - route 561 - will operate between Chislehurst and Queen Elizabeth Hospital (west entrance).&nbsp; </p>
<p>This service has been provided in response to concerns from residents in Eltham, Mottingham and Chislehurst.&nbsp;All other routes will continue to serve the hospital via the west entrance.</p><strong>
<h2>From Sunday 15 April until Saturday 28 April (inclusive)</h2>
<p></strong>Ha-Ha Road will close from 15 April and Repository Road from 16 April.<p>
<p>Route 161 will be diverted via Academy Road and will not serve Shooters Hill Road, Baker Road, Stadium Road or Ha-Ha Road. It will not stop at Queen Elizabeth Hospital.&nbsp; Route 561 will provide a link between Chislehurst and Queen Elizabeth Hospital.</p>
<p>Routes 178, 386 and 469 will operate via Academy Road and Shooters Hill Road and will not serve Ha-Ha Road. They will continue to serve the bus stop at the west entrance to Queen Elizabeth Hospital via Baker Road.&nbsp; </p>
<h2>From Monday 16 April until Saturday 28 April</h2>
<p>Route 291 will be diverted via Academy Road, Shooters Hill Road and Baker Road and will not serve Repository Road or Artillery Place. It will continue to stop at the west entrance to Queen Elizabeth Hospital.&nbsp;&nbsp; </p>
<p>Route 486 will divert via Cemetery Lane and will not serve Repository Road, Hillreach and Little Heath.</p>
<h2>From Sunday 29 April until Monday 7 May</h2>
<p>Ha-Ha Road will remain closed but Repository Road will re-open.&nbsp; The diversions on routes 161, 178, 469 will change. </p>
<p>These routes will run as normal at Queen Elizabeth Hospital then via Repository Road, Artillery Place and Wellington Street. They will not serve Ha-Ha Road, Grand Depot Road and the southern end of Woolwich New Road.</p>
<p>Route 561 will no longer run. <br>Route 386 will continue on diversion.<br>Routes 291 and 486 will return to normal service. </p>
<p>John Barry, Head of Network Development, London Buses said:&nbsp;'Bus services will be an essential part of keeping London moving during the 2012 Games and TfL is working hard to keep disruption to a minimum.&nbsp;</p>

<p>'The test event at the Royal Artillery Barracks will help us make sure we have the right changes in place for that event and we will be monitoring their effectiveness.&nbsp; Engagement with the community has been invaluable in helping us understand their needs.'</p>
<p>The changes will be publicised at affected stops and on TfL's website.&nbsp;&nbsp;&nbsp;<br>&nbsp;<br>
<hr>
<br><strong>Notes to editors</strong></p>
<ul>
<li>Maps of the changes to routes are available on the TfL website <a href="http://www.tfl.gov.uk/buses">www.tfl.gov.uk/buses</a>&nbsp; </li>
<li>Route 561 will run between about&nbsp;05:00 (6:20 on Sundays) and around midnight, every 20 minutes (every 30 minutes evenings and Sundays). All normal tickets and passes will be accepted.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Links to Queen Elizabeth Hospital maintainedTransport for London (TfL) has today announced temporary changes to bus services during an Olympic and Paralympic Games test event at the Royal Artillery Barracks in Woolwich later this month.The Barracks will";}
        
        


 