


@{ViewBag.Title = "TfL's High Court injunction prevents Addison Lee from instructing its drivers to use bus lanes";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL's High Court injunction prevents Addison Lee from instructing its drivers to use bus lanes</h1>
        <div class="content-page-press-release">
        26 April 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Following a ruling from the High Court today (Thursday 26 April) Addison Lee is prevented from instructing or encouraging its drivers to drive in bus lanes and must remove the statement on its website instructing drivers to do so.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Allowing tens of thousands of Private Hire Vehicles to drive in bus lanes would impact on the reliability of our bus services, and risks inconveniencing our customers."</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">TfL's Managing Director of Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Allowing tens of thousands of Private Hire Vehicles to drive in bus lanes would impact on the reliability of our bus services, and risks inconveniencing our customers.
                            
                        </p>
                    </div>
                
            
            
            <p>Following a ruling from the High Court today (Thursday 26 April) Addison Lee is prevented from instructing or encouraging its drivers to drive in bus lanes and must remove the statement on its website instructing drivers to do so.&nbsp; </p>
<p>The Court also declared that the 'indemnity' Addison Lee issued to its drivers on 14 April offering to pay for fines and other costs when they drove in bus lanes was "void and unenforceable", and cannot be repeated.</p>
<p>
<hr>
Leon Daniels, TfL's Managing Director of Surface Transport, said:
<p>"Today's judgment prevents Addison Lee from instructing or encouraging its drivers to drive in bus lanes in London.&nbsp;The court felt compelled to grant an injunction because of the substantial risk of Addison Lee taking action that could result in the law being broken.&nbsp; </p>
<p>"We maintain that Addison Lee's instruction to its drivers was irresponsible and at odds with its position as a private hire operator.&nbsp; </p>
<p>"Bus lanes enable buses to move around the capital efficiently carrying more than six million passengers a day.&nbsp;We maintain that allowing tens of thousands of Private Hire Vehicles to drive in bus lanes would impact on the reliability of our bus services, and risks inconveniencing our customers."</p>
<p>
<hr>
The interim injunction will remain in place until judicial review proceedings, on the issues of private hire in bus lanes, conclude.&nbsp; 
<p>Despite the instruction from Addison Lee we are pleased to see that, last week the vast majority of private hire drivers continued to obey the law and not drive in bus lanes.<br></p>
            <p><strong>Notes to editors:</strong></p>
<ul>
<li>The full written judgment handed down by Mr Justice Eder is available from the Royal Courts of Justice - Courts Recording and Transcription Unit - 020 7947 7820</li>
<li>In his written judgment Mr Justice Eder noted that: Despite protestations to the contrary.....it seems to me plain that Mr Griffin and Addison Lee have, in effect, been characterising the Notice sent to AL's PHV drivers on 14 April as an "instruction"</li>
<li>The judgment went on to note that: Mr Griffin and Addison Lee have embarked on a media campaign throughout last week to encourage as many as possible of their PHV drivers to use bus lanes, including by apparently exaggerating the number of contraventions<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Following a ruling from the High Court today (Thursday 26 April) Addison Lee is prevented from instructing or encouraging its drivers to drive in bus lanes and must remove the statement on its website instructing drivers to do so.&nbsp; The Court also";}
        
        


 