


@{ViewBag.Title = "Transport for London will keep London running for the 2012 Virgin London Marathon ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London will keep London running for the 2012 Virgin London Marathon </h1>
        <div class="content-page-press-release">
        10 April 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        With a spectacular year of sporting and cultural events ahead, this year's Virgin London Marathon is set to be bigger than ever, and Transport for London (TfL) is advising runners and spectators to plan their journeys in advance.
        
    </div>



 <div class="on-this-page">
<p>The <a href="http://www.tfl.gov.uk/tfl/gettingaround/londonmarathon/">website</a> will provide details on how transport services will run during London's largest annual running showcase.<br>&nbsp;<br>In a year when London will celebrate The Queen's Diamond Jubilee and host the London 2012 Games, tens of thousands of people are set to take part in this year's Virgin London Marathon which will take place on Sunday 22 April. </p>
<p>It will be the 32nd Marathon, featuring World class athletes, celebrities and thousands of eager runners, raising millions of pounds for charities along the way. The marathon runs along many famous landmarks in the Capital, and by planning in advance, spectators can choose the <a href="http://www.virginlondonmarathon.com/interactive-map/ ">best places to watch </a>the runners. </p>
<p>While the runners are encouraged by the hundreds of thousands of supporters who are set to line the Capital's streets, TfL will continue to keep the city's transport services running. </p>
<p>The easiest way to travel to and from the race is by Tube, Bus, London Overground, Docklands Light Railway (DLR) or Riverboat, however, some stations and roads will be closed, so plan your journey in advance and check before you travel using the dedicated website <a href="http://www.tfl.gov.uk/marathon">www.tfl.gov.uk/marathon</a> or by contacting the 24 hour London Travel Information line on 0843 222 1234.</p>
<p>There will be free travel on the Tube, Bus, London Overground, Tram and DLR for all runners, race officials and on-duty St John Ambulance volunteers from early morning until 17:00, just by showing their race number, officials' course pass, or tabard. </p>
<h2>Road closures</h2>
<p>There will be a staggered road closure of the route and approach roads. South of the Thames between Blackheath and Deptford will close from 06:00. North of the river from Canary Wharf to Parliament Square including, The Highway, Tower Bridge, The Lower Route, Victoria Embankment, Westminster Bridge, Southwark Bridge (both directions) and all approach roads from 08:00. </p>
<p>A staggered road reopening programme will be operating throughout the day starting at approximately 11:00. Roads are expected to be fully reopened by 19:00.</p>
<h2>London Buses</h2>
<p>Buses travelling down roads affected by the Virgin London Marathon will either be diverted or will not run the full length of their route until later in the day. Routes affected on the day are:</p>
<p>1, 3, 11, 12, 15, 15H, 24, 25, 29, 42, 47, 51, 53, 54, 78, 87, 88, 89, 91, 96, 99, 100, 108, 115, 122, 129, 132, 148, 159, 161, 177, 178, 180, 188, 199, 202, 211, 225, 244, 277, 286, 291, 341, 343, 344, 380, 381, 386, 422, 453, 469, 472, 486, C10, D3, D6, D7, D8, P12, RV1.</p>
<h2>London Underground</h2>
<p>To help Londoners and visitors travel smoothly around the city on Marathon day, all Tube lines will be serving central London as usual. However, Hammersmith &amp; City line trains (and Circle line trains to Hammersmith) will not be stopping at Paddington station, although Bakerloo and District line trains, and Circle line trains towards High Street Kensington, will serve the station normally. </p>
<p>Due to planned engineering works, on Saturday 21 April and Sunday 22 April 2012, there will be no District line service between Turnham Green and Richmond. </p>
<h2>Docklands Light Railway</h2>
<p>Trains will be as frequent as every two and a half minutes. Travellers on the DLR will be able to connect with Bank, Tower Hill, Canning Town, Canary Wharf and Stratford Tube stations.</p>
<h2>London Overground</h2>
<p>London Overground services between Highbury &amp; Islington and New Cross/ Crystal Palace/ West Croydon will run enhanced services every 15 minutes and every five minutes between Dalston and Surrey Quays until 22:00. </p>
<h2>London River Services</h2>
<p>You can enjoy a relaxing view from the river as you boat between piers near key race points including Greenwich, Masthouse Terrace, Greenland, Canary Wharf, St Katherine's, Tower Hill, Embankment and Westminster.&nbsp; Timetables for river services are available at London Underground stations, TfL piers or online at <a href="http://www.tfl.gov.uk/river">www.tfl.gov.uk/river</a></p>
<h2>Barclays Cycle Hire</h2>
<p>The following docking stations will be suspended from 00:01 to 20:00 on Sunday 22 April due to their locations being along the race route:&nbsp;</p>
<ul>
<li>Tower Gardens </li>
<li>Lower Thames Street </li>
<li>Embankment (Savoy) </li>
<li>Whitehall Place </li>
<li>Embankment (Horse Guards Avenue) </li>
<li>Northumberland Avenue </li>
<li>Curlew Street </li>
<li>Nesham Street </li>
<li>Jubilee Plaza - Canary Wharf </li>
<li>Upper Bank Street - Canary Wharf </li>
<li>Montgomery Square - Canary Wharf</li></ul>
<p>Although all other docking stations will remain available, due to expected congestion in central London it may be difficult to replenish some stations as necessary. Customers are advised to go to our website to check the <a href="/roadusers/cycling/14808.aspx">cycle availability</a>. </p>
<h2>Avoiding the crowds</h2>
<p>Greenwich town centre and the Tower of London are best avoided if you want to miss the crowds. </p>
<p>Tower Hill and Westminster Tube stations also get very busy. Greenwich Foot Tunnel will be closed north to south on Marathon Day between 10:30 and 12:30. Alternative arrangements will be in place on the DLR from Island Gardens. </p>
<h2>The finish line</h2>
<p>Charing Cross, Embankment, Green Park, Westminster and St James's Park stations and Embankment and Westminster Piers are all close to the finish line. People can meet up with runners after the race at designated areas in Horse Guards Road and on Horse Guards Parade.</p>
<p>
<hr>
<br><strong>Notes to editors:</strong> 
<p>
<ul>
<li>The course of the Virgin London Marathon is 26.2 miles long, virtually the same as running the entire length of the Victoria line (13.25 miles) twice or the entire length of the waterloo and City line (1.47 miles) around 18 times </li>
<li>Stations located close to the London Marathon Route include: </li>
<li>Cutty Sark DLR (Mile 6+7) </li>
<li>Canada Water (Mile 9) </li>
<li>London Bridge (Mile 12) </li>
<li>Tower Hill/ Tower Gateway (Mile 13) </li>
<li>Shadwell DLR (Mile 13+22) </li>
<li>Canary Wharf (Between Mile 14+15) </li>
<li>Limehouse (Mile 14) </li>
<li>Charing Cross (Mile 24) </li>
<li>Crossharbour DLR (Mile 18) </li>
<li>Monument (Mile 23) </li>
<li>Mansion House (Mile 23+24) </li>
<li>Temple (Mile 23+24)&nbsp; </li>
<li>Embankment (Mile 25) </li>
<li>Green Park/ St James's Park (Finish Line)</li></ul>
<p>Passengers are advised to check before travelling via the following options:</p>
<ul>
<li>The TfL website <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> using Journey Planner, accessible from your computer or internet-enabled mobile device </li>
<li>Information on posters, leaflets and Rainbow boards at Tube Stations </li>
<li>The 24 hour London Travel Information line on 0843 222 1234. You pay no more than 5p per minute if calling from a BT landline. There may be a connection charge. Charges from mobiles or other landline providers may vary.</li></ul>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The website will provide details on how transport services will run during London's largest annual running showcase.&nbsp;In a year when London will celebrate The Queen's Diamond Jubilee and host the London 2012 Games, tens of thousands of people are set";}
        
        


 