


@{ViewBag.Title = " Major safety change to come at Westminster Bridge South Roundabout";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb"> Major safety change to come at Westminster Bridge South Roundabout</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1> Major safety change to come at Westminster Bridge South Roundabout</h1>
        <div class="content-page-press-release">
        18 March 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Safety at Westminster Bridge South Roundabout is to be boosted with improved cycle facilities, a new pedestrian crossing and an upgraded road layout.</p>
<p>Transport for London (TfL) has announced that, after the support of nearly three-quarters of respondents in a public consultation, work will begin later this year to make the roundabout and Westminster Bridge safer.</p>
<p>The improvement at Westminster Bridge South Roundabout will give cyclists segregated space and separate traffic signals at junctions, reducing potentially dangerous conflict with motor vehicles.</p>
<p>These safer links will provide a connection to the wider cycling network in the Waterloo area including the East-West Cycle Superhighway and a new &quot;Central London Grid&quot; cycle route along the South Bank. Cyclists make up almost a third of morning peak-hour traffic on the Grade-II listed bridge, and the provision of safer and joined-up facilities will help to increase this number further.</p>
<p>The Mayor of London, Boris Johnson MP, said: `Every day we see flocks of cyclists sweeping back and forth across this iconic bridge, so it makes real sense for it to become the next bridge to benefit from segregated lanes. It's going to make a real difference to the safety of cyclists, and with further improvements being made to this out-dated junction, pedestrians are going to benefit too. We've been working flat-out to improve roads across the Capital, and I'm delighted that Londoners have once again stepped forward to back our plans.'</p>
<p>The roundabout is dominated by traffic and can be an intimidating place for pedestrians. A new signalised pedestrian crossing will be created on the south-east arm of the roundabout and three other crossings will be upgraded to include pedestrian countdown. The new and improved pedestrian crossings will increase and enhance connections around Westminster Bridge Road.</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: `This latest radical redesign of one of London's most disconnecting and intimidating junctions will bring it into the 21st century to support an ever-growing London. By improving and creating pedestrian crossings we will open up the Waterloo area for residents, visitors and commuters and the new segregated cycle-ways and cycle signals will link cyclists to other safer infrastructure across the river and beyond.'</p>
<p>Councillor Jennifer Brathwaite, Cabinet Member for the Environment at Lambeth Council, said: `Anything that makes Westminster Bridge South Roundabout safer and encourages more cycling is to be welcomed.'</p>
<p>TfL's Road Modernisation Plan - an unprecedented &pound;4bn investment into the Capital's streets - is making London's road network safer and more supportive of the needs of a growing population. In addition to major infrastructure change such as Westminster Bridge South Roundabout, TfL also manages the road network 24 hours a day to keep it as safe as possible and to ease congestion.</p>
<p>ENDS<br />
Notes to Editors:</p>
<ul>
    <li>The consultation took place from 10 November to 22 December and 74% supported or partially supported the proposals.</li>
    <li>The Westminster Bridge South Roundabout consultation report can be found here: <a href="http://www.tfl.gov.uk/Westminster-bridge-south">www.tfl.gov.uk/Westminster-bridge-south</a></li>
    <li>Almost a third of morning peak-hour traffic on the bridge is bikes, according to TfL's 2013 cycle census.</li>
    <li>1.8m wide segregated tracks will be implemented on Westminster Bridge. The usage will be monitored after implementation to ensure that there are no safety issues arising from the lane width.</li>
    <li>TfL is in discussions with Network Rail about the proposed changes for taxis on Station Approach Road, by London Waterloo, and will make a further announcement once a decision has been reached.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-March- Major safety change to come at Westminster Bridge South Roundabout -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 