


@{ViewBag.Title = "Full steam ahead for Crossrail 2";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Full steam ahead for Crossrail 2</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Full steam ahead for Crossrail 2</h1>
        <div class="content-page-press-release">
        16 March 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Crossrail 2 received a huge boost today, as the Chancellor of the Exchequer announced funding in the Budget allowing Transport for London (TfL) and Network Rail to forge ahead with full scale technical development of the railway. This will enable construction to start in the early 2020s, which would allow the railway to be operational by 2033.</p>
<p>The announcement follows the National Infrastructure Commission (NIC) report last week that said Crossrail 2 `should be taken forward as a priority', backing the railway as the only infrastructure project capable of meeting the demands of London's future growth. The report recommended submitting a hybrid bill by autumn 2019 and today's Budget announcement provides funding which, together with TfL funds, will enable the scheme to move forward on that schedule immediately.</p>
<p>In another step forward for the project, TfL and Network Rail today published a comprehensive summary of the feedback received in response to the latest consultation. The extensive public consultation ending in January this year attracted more than 20,000 responses with over 90,000 individual comments to 40 questions. To raise awareness of the consultation, over 200,000 letters were delivered to homes and businesses along the route, backed by more than 70 outreach events to encourage local people find out more about proposals. The responses will help inform further design work.</p>
<p>This summer TfL will be publishing its responses to the issues raised, more detailed technical assessments will also be carried out with Network Rail which will help refine proposals. Further consultation will be carried out in some areas later this year. Crossrail 2's independent Growth Commission will also this summer publish its report on how to maximise the opportunities Crossrail 2 creates.</p>
<p>Daniel Moylan, Interim Chairman of Crossrail 2 Ltd, said: `It is now full steam ahead. We now aim to push ahead at full speed and will submit a hybrid bill in this Parliament to start construction as soon as possible. This is an investment in the whole country's future and last week the National Infrastructure Commission confirmed our view that Crossrail 2 was essential to the UK's economy and urged that it should be taken forward as a priority. That is what we plan to do.'</p>
<p>Mich&egrave;le Dix, TfL's Managing Director for Crossrail 2, said: `The funding from the Government is fantastic news and allows us to get on with the vital next steps in making Crossrail 2 a reality. We will be working on the detailed design so that we can seek powers in Parliament to get construction under way. This should mean we can have the railway running just after 2030.</p>
<p>`These consultation results are very informative. We will now look at these along with further technical studies to see how we can amend our proposals to best fit in with the local areas whilst delivering this vital infrastructure to support growth.'</p>
<p>Chris Curtis, Network Rail's Head of Crossrail 2, said: `Crossrail 2 would deliver vital extra capacity to the national rail network so support from the National Infrastructure Commission and funding from the Government is good news.</p>
<p>`These consultation results demonstrate support for the proposed Crossrail 2 train services, which would deliver new and improved regional connections across London and beyond. We will continue to develop our plans to enable Crossrail 2 to connect with and enhance the existing rail networks in north east London and Hertfordshire and south west London and Surrey. We look forward to the next consultation when we will be able to give people more information on what we need to do to deliver this vital scheme.'</p>
<p>With London's population rising from 8.6 million today to an expected 10 million by 2030, and significant population growth also expected across the South East, the new rail line is vital to relieving increasing pressure on London's transport network. Crossrail 2 will transform connections and reduce journey times across the wider region.</p>
<p>Ends</p>
<p>Notes to Editors:</p>
<ul>
    <li>A copy of the report is available here <a href="https://consultations.tfl.gov.uk/crossrail2/october2015/user_uploads/crossrail2autumn2015consultation.pdf">https://consultations.tfl.gov.uk/crossrail2/october2015/user_uploads/crossrail2autumn2015consultation.pdf</a></li>
    <li>Crossrail 2 would serve central London through an underground tunneled section between Wimbledon and Tottenham Hale and New Southgate, connecting to existing National Rail routes in Surrey and Hertfordshire.</li>
    <li>Even with the successful construction of Crossrail, and continued improvements to London Underground and the National Rail network, further large-scale infrastructure projects are vital to support the Capital's unprecedented population increase.</li>
    <li>Some 200,000 new homes and 200,000 new jobs would be supported by the scheme, through the housing and economic growth it would support, with 60,000 full-time jobs also being supported through the construction of Crossrail 2 and across the UK in engineering, construction and manufacturing through its supply chain, driving hundreds of millions of pounds to regional local economies.</li>
    <li>A recent ComRes poll of 150 MPs across the country also found that 79 per cent supported the building of a new underground line linking north-east and south-west London.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-March-Full steam ahead for Crossrail 2 -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 