


@{ViewBag.Title = "Longer journeys on Piccadilly line this weekend due to essential upgrade work";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Longer journeys on Piccadilly line this weekend due to essential upgrade work</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Longer journeys on Piccadilly line this weekend due to essential upgrade work</h1>
        <div class="content-page-press-release">
        03 March 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL advises Piccadilly line passengers to expect longer journeys this weekend due to essential upgrade work
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our engineers will be working around the clock this weekend to carry out this vital improvement work"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Waboso</div>
            <div class="quotee-job-title">LU's Director of Capital Programmes</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL today advised customers planning to use the Piccadilly line this weekend to expect longer journeys, due to planned upgrade work.</p>
<p>To improve the reliability of the Piccadilly and District lines London Underground (LU) is carrying out essential planned work this weekend to replace 700m of track at Turnham Green and renew a set of signalling points at Acton Town.</p>
<p>This means that this weekend there will be no service on the Piccadilly line between Hammersmith and Northfields / Uxbridge and there will be no service on the District line between West Kensington and Ealing Broadway / Richmond.</p>
<h2>Travel advice</h2>
<p>Customers travelling to Heathrow from central London should head to Ealing Broadway Tube station, via the Central line, and board the express replacement bus, which will take them the short distance to Boston Manor.</p>
<p>From there customers will be able to join the Piccadilly line and continue their journeys to Heathrow.  TfL staff will be on hand to offer travel advice and porters to help customers with their luggage.</p>
<p>To travel into central London from Heathrow customers can get the Piccadilly line to Boston Manor and change there for the rail replacement bus to Ealing Broadway for the Central line.</p>
<h2>Alternative routes</h2>
<p>Piccadilly line trains through central London will run at reduced frequency and will be very busy.  Passengers are advised to use alternative Tube routes where possible, especially via the Victoria line between Finsbury Park/King's Cross St. Pancras/Green Park.</p>
<p>Additionally, for travel to and from west London customers should use Circle line services between King's Cross St. Pancras and Hammersmith.</p>
<p>Following the work, trains will be able to run faster and more smoothly through the area. Points failures will be much less frequent, meaning fewer delays to customers and more reliable journeys.</p>
<p>David Waboso, LU's Director of Capital Programmes, said: 'Our engineers will be working around the clock this weekend to carry out this vital improvement work. I am sorry for the disruption to customers during the closure, which we are keeping as short as possible.</p>
<p>'When the work is completed by the early hours of Monday morning, the track will be immediately more reliable and trains will be able to travel faster through the area.'</p>
<hr />
<p><strong>Notes to editors:</strong></p>
<p>During the planned engineering work there will be no Piccadilly line services on Saturday 5 and Sunday 6 March between Hammersmith and Northfields / Uxbridge.</p>
<p>There will also be no District line services between on Saturday 5 and Sunday 6 March between West Kensington and Ealing Broadway / Richmond.</p>
<p>Replacement buses will operate on both days for the Piccadilly and District lines.  A full list of the replacement bus services is available on the TfL website: <a href="https://tfl.gov.uk/tube-dlr-overground/status/">https://tfl.gov.uk/tube-dlr-overground/status/</a></p>
<p>Heathrow Express services will also be running from Paddington Rail station every 15 minutes during the weekend.  London Underground tickets and Oyster cards are not valid on this route.  For ticket and train information visit <a href="http://www.heathrowexpress.com">www.heathrowexpress.com</a></p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-March-Longer journeys on Piccadilly line this weekend due to essential upgrade work -->

 
 
        
        
            @{ViewBag.Description = "TfL advises Piccadilly line passengers to expect longer journeys this weekend due to essential upgrade work";}
        
        


 