


@{ViewBag.Title = "Mayor gives the green light for London Overground extension to Barking Riverside";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mayor gives the green light for London Overground extension to Barking Riverside</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mayor gives the green light for London Overground extension to Barking Riverside</h1>
        <div class="content-page-press-release">
        17 March 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>The Mayor of London has signalled his support for a vital rail extension to serve east London's largest housing development site, by asking Transport for London (TfL) to apply for powers to start construction.</p>
<p>Following the Mayor's instruction, TfL will now apply to Government for a Transport and Works Act Order to start construction of the 4.5km extension of the Gospel Oak to Barking line. This extension would deliver London Overground services to a new station at the heart of the Barking Riverside community, with construction beginning in late 2017 and train services commencing in 2021.</p>
<p>The delivery of the extension will unlock a wide range of benefits for people in the local area and beyond, including almost 11,000 new homes, many of which are affordable, along with a new school and healthcare facilities and the construction of a new district centre with commercial and leisure facilities. The extension will deliver a sustainable public transport alternative to car travel and link Barking Riverside into London's public transport network through connections at Barking, with District and Hammersmith &amp; City Tube services and c2c services to London Fenchurch Street and Essex.</p>
<p>The extension is fully funded, with the majority of the &pound;263m cost of the scheme being met by the developers, Barking Riverside Limited, a newly reformed joint venture between the GLA and London &amp; Quadrant, who are providing &pound;172m of funding. The remainder is being provided by TfL.</p>
<p>The Mayor of London, Boris Johnson MP, said: `The London Overground has been a huge success story, driving forward regeneration in all corners of the capital and proving incredibly popular with passengers. The unequivocal support for this extension shows what an impact the line will make to Barking, and I'm delighted that we're ready to take it forward and ensure Barking Riverside realises its full potential.'</p>
<p>TfL's Managing Director of Planning, Richard de Cani, said: `Overwhelming support has been demonstrated throughout the consultation process for this extension of London Overground network to Barking Riverside.  We will now be moving this to the next step so that we can get construction underway.  This vital new railway will breathe life into this area, enabling up to 11,000 vital new homes, along with healthcare and leisure services, to be delivered.'</p>
<p>The decision to apply for the Transport and Work Act Order follows a public consultation in December 2015. This was the third consultation on the scheme, providing detailed land use, location of site compounds and construction traffic. The report is available at <a href="http://www.tfl.gov.uk/barking-riverside">www.tfl.gov.uk/barking-riverside</a></p>
<p>Previous consultations in autumn 2014 and spring 2015 looked at support for the principle of the scheme and possible route alignments respectively. Responses to both consultations showed overwhelming support.</p>
<p>Notes to Editors:</p>
<ul>
    <li>A Transport and Works Act Order (TWAO) will be submitted to the Secretary of State for Transport and if approved could mean construction beginning in late 2017 with train services commencing in 2021.</li>
    <li>The proposed extension of the London Overground to Barking Riverside is part of TfL's vision of creating better rail services in London to meet the needs of the city's rapidly growing population and to support new jobs, homes and economic growth.</li>
    <li>The Gospel Oak to Barking route, which is already part of London Overground, is being electrified by Network Rail and due to be completed in 2017. The new four-carriage electric trains will run on the route from 2018 replacing the current two-carriage diesel trains, and will provide improved journey times and more capacity</li>
    <li>During 2015 West Anglia routes to Cheshunt, Chingford and Enfield Town joined TfL's integrated network as part of London Overground.</li>
    <li>TfL's transformation of underused suburban rail links into the highly popular London Overground has seen passenger numbers rise by 400% since 2007 and the network become one of the most reliable and popular in the UK.</li>
    <li>Barking Riverside Limited is a new Joint Venture between the GLA (49%) and London &amp; Quadrant New Homes (51%). This is a reformed joint venture following the sale of former partner Bellway Homes shares to L&amp;Q. The new partnership has committed to unlock this stalled development site by providing cash injection to fund a significant proportion of the rail infrastructure cost alongside TfL.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-March-Mayor gives the green light for London Overground extension to Barking Riverside -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 