


@{ViewBag.Title = "New cycle parking hubs to open at Hounslow West and North Greenwich ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New cycle parking hubs to open at Hounslow West and North Greenwich </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New cycle parking hubs to open at Hounslow West and North Greenwich </h1>
        <div class="content-page-press-release">
        15 March 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has begun construction of two new free cycle parking hubs at Hounslow West and North Greenwich stations as part of the Mayor's commitment to provide 80,000 new cycle parking spaces by the end of this year. The two new hubs will hold 190 and 350 spaces respectively and will be open by the end of March. They are part of a wider programme to introduce high quality cycle parking across the Capital, which will include a new 'Dutch-style' Superhub at Waterloo in 2018.</p>
<p>The two new hubs will be able to cater for all types of bikes, including handcycles and cargo bikes, and will have bike maintenance tools as well as lighting and CCTV.</p>
<p>A key part of the Mayor's Vision for Cycling is to increase the number of cycling trips in outer London, targeting short car journeys and travel to rail stations that could be taken by bike. Safe and secure cycle parking is helping to achieve this, and TfL is on track to deliver 80,000 new spaces by the end of this year, on top of the 80,000 installed between 2008 and 2012.</p>
<p>In addition to the new hubs at Hounslow West and North Greenwich, TfL is working with Network Rail and the Department for Transport to deliver around 5,000 more cycle parking spaces as part of a new facility at Waterloo station. This will allow more commuters to switch to bikes for journeys between the office and the train, relieving pressure on the Tube and bus networks in central London. It will also connect with new and improved cycle routes in the area.</p>
<p>Leon Daniels, Managing Director for Surface Transport at TfL, said: `We know that people who want to cycle at least part of their journey need to be given the peace of mind that they can leave their bike somewhere that is safe and secure. These new facilities will put us on a par with our continental neighbours, giving people the confidence to take their bike out more often.'</p>
<p>As part of TfL's Cycle Hubs programme, other locations have been identified where more cycle parking could be built, including:</p>
<ul>
    <li>Abbey Wood and Romford, connected to future Crossrail stations</li>
    <li>Tottenham Hale</li>
    <li>Barking</li>
</ul>
<p>To help ensure cycle parking is built in the places people most need them TfL has set up, in conjunction with the London Cycling Campaign (LCC), the Urban Cycle Parking website (<a href="http://www.urbancycleparking.org.uk">www.urbancycleparking.org.uk</a> ). In addition to allowing members of the public to suggest where new parking spaces could be provided, it also sets out where existing cycle parking is located.</p>
<p>Ashok Sinha, LCC Chief Executive, said: `Substantially more high quality cycle parking at stations and on streets is vital to sustain the welcome growth in cycle use. The launch of this interactive Urban Cycle Parking website is a great opportunity for London cyclists to play an active role in improving cycling provision and to suggest the right places to install cycle stands.'</p>
<p>- Ends -</p>
<p>Notes to Editors:</p>
<ul>
    <li>
    The Mayor's Cycling Vision can be found at: <a href="http://www.london.gov.uk/sites/default/files/cycling_vision_gla_template_final.pdf">www.london.gov.uk/sites/default/files/cycling_vision_gla_template_final.pdf</a></li>
    <li>Visuals of what the new Superhub at Waterloo can be found at: <a href="http:// www.flickr.com/photos/tflpress/albums/72157665734808745">www.flickr.com/photos/tflpress/albums/72157665734808745</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-March-New cycle parking hubs to open at Hounslow West and North Greenwich  -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 