


@{ViewBag.Title = "Operation 'Winchester' tackling motorcycle and scooter fatalities in London";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Operation ‘Winchester’ tackling motorcycle and scooter fatalities in London</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Operation ‘Winchester’ tackling motorcycle and scooter fatalities in London</h1>
        <div class="content-page-press-release">
        02 March 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) is strengthening the work it carries out to reduce the number of accidents involving motorcycle and scooter riders in the Capital.</p>
<p>In 2015, the number of motorcycle and scooter fatalities in London rose to 36, from 27 the year before. Provisional data indicates that there were 514 serious injuries to motorcyclist and scooter riders in the twelve months ending September 2015, compared with 507 the previous year.</p>
<p>As a result TfL and the Metropolitan Police Service (MPS) Roads and Transport Policing Command, which is part-funded by TfL, are stepping up their joint activity, including employing more officers at key motorcycle hotspot junctions where collisions are most likely to occur. Two recent phases of Operation 'Winchester', from September to November 2015 and again in January this year, saw enforcement activity stepped up at hotspot locations and at key times across London to help keep motorcyclists and scooter riders safe. Over these two phases officers stopped 5,389 riders, issued 742 Traffic Offence Reports, 1,335 verbal warnings, seized 96 motorcycles and made 10 arrests.</p>
<p>The MPS Motorcycle Safety Team and wider Roads and Transport Policing Command will continue to target those boroughs where motorcyclists are at the greatest risk of injury. As well as clamping down on illegal and antisocial road user behaviour such as, speeding, careless riding and red light running, they will be giving road safety advice to all road users and providing leaflets on BikeSafe-London rider skills days.</p>
<p>The Mayor of London, Boris Johnson MP, said: `We are stepping up our efforts to improve the safety of motorcyclists on our roads, and the measures we've outlined today have the potential to make a real difference. We need every single motorcyclist to feel safe on our streets and this work is key to that goal.'</p>
<p>Since the launch of London's first Motorcycle Safety Action Plan in 2014, TfL has been delivering a number of initiatives to increase the safety of motorcyclists. Building on this work and addressing the concerning increase in the number of fatalities involving motorcycle and scooter riders in 2015, TfL has:</p>
<ul>
    <li>Published the first Urban Motorcycle Design Handbook &#45; a key tool for those who design, build and maintain London's roads to provide a better insight of how road and traffic conditions affect this vulnerable road user group</li>
    <li>Confirmed funding for Motorcycle Industry Association (MCIA) accredited motorcycle training centres in every part of London to ensure all learner riders have access to the &quot;gold standard&quot; of training</li>
    <li>Started a pilot in the London Borough of Croydon giving one-to-one training for commuters &#45; the training is targeted at routes from home to work or education, as a high proportion of collisions occur in peak travel hours. If successful, the pilot could be introduced in other parts of London.</li>
</ul>
<p>Leon Daniels, TfL's Managing Director of Surface Transport, said: `We are fully committed to making London's roads safer for all, and with this focus on motorcycle and scooter safety, bringing down the number of collisions involving this vulnerable road user group. The three Es - enforcement, education and engineering - are central to this. On-street education and enforcement, substantial investment in improving rider skills and guidance to help engineers design roads so that they are safer for riders, all form part of a concerted effort to improve road safety in the Capital.'</p>
<p>TfL's ongoing motorcycle safety marketing campaign is helping to tackle the main cause of fatal collisions, which is &quot;travelling too fast for the conditions&quot;. The hard-hitting radio and cinema advert has a high recognition rate amongst this target group. The advert is a reminder of the danger of what can happen when riders do not ride at a speed and in a manner which is appropriate for the conditions.</p>
<p>TfL continues to fund and support training courses as part of its motorcycle and scooter safety package. BikeSafe and ScooterSafe-London rider skills days play a significant role in helping riders enhance their skills after gaining a licence or whilst holding a Compulsory Basic Training (CBT) certificate. The courses run over a full day and involve the MPS Motorcycle Safety Team assessing riders' skills on both urban and rural roads, as well as a classroom session. BikeSafe-London teaches riders to understand hazard perception, what causes crashes, and how to make yourself visible to avoid being involved in a crash. Over 28,000 people have been on the rider skills days since 2003.</p>
<p>Detective Chief Superintendent Paul Rickett, MPS Roads and Transport Policing Command, said: `As an organisation the MPS is committed to reducing the number of people killed or seriously injured on London's roads each year and we work closely with our partners, Transport for London, to achieve this.</p>
<p>`Motorcyclists are particularly vulnerable road users and our Motorcycle Safety Team runs operations such as BikeSafe, to raise awareness of rider safety. These officers are themselves passionate about motorcycles and are able to explain their own experiences as motorcyclists on London's roads.</p>
<p>`All road users have a responsibility for road safety and I urge motorcyclists to take advantage of the BikeSafe and ScooterSafe-London to keep themselves and others safe on the roads.'</p>
<p>Graeme Hay, Government Relations Officer, British Motorcyclists Federation (BMF), said: `The BMF warmly welcomes the work that is being done by TfL to address the increase in the number of lives lost by those who use motorcycles and scooters to get around the city. The development of the Urban Motorcycle Design Handbook and the training programme for TfL and Borough engineers which supports its introduction will change the way in which improvement schemes are designed and ways in which London's roads are maintained.</p>
<p>`Motorcycle and scooter safety in any congested city is always a challenge but it is clear that TfL, the Metropolitan Police and the Motorcycle Industry Association are committed to meeting this challenge. The BMF are delighted to have been involved in the development of these important initiatives, which we support fully.'</p>
<p>Karen Cole, Director of Safety and Training, Motorcycle Industry Association, said: `This is a well thought out integrated approach to tacking rider vulnerability and shows TfL recognises that responsible riders have an important role to play in London's transport mix. As more people opt for motorcycles and scooters as an antidote to congestion, they must be supported in their transport choice through access to high quality training and sympathetic road design. Training is absolutely key to creating responsible and safe riders.'</p>
<p>ENDS<br />
Notes to editors:</p>
<ul>
    <li>TfL's Urban Motorcycle Design Handbook can be found here: <a href="http://content.tfl.gov.uk/tfl-urban-motorcycle-design-handbook.pdf">http://content.tfl.gov.uk/tfl-urban-motorcycle-design-handbook.pdf</a></li>
    <li>Details of BikeSafe and ScooterSafe-London, including how to take part, can be found here: <a href="http://www.bikesafe-london.co.uk/courses/scootersafe-london.html">www.bikesafe-london.co.uk/courses/scootersafe-london.html</a></li>
    <li>More on TfL's 2014 Motorcycle Safety Action Plan can be found here: <a href="http://tfl.gov.uk/info-for/media/press-releases/2014/march/londons-first-motorcycle-safety-action-plan-to-improve-safety-for-riders-across-the-capital">tfl.gov.uk/info-for/media/press-releases/2014/march/londons-first-motorcycle-safety-action-plan-to-improve-safety-for-riders-across-the-capital</a></li>
    <li>TfL's hard-hitting motorcycle safety cinema advert can be found here: <a href="http://www.youtube.com/watch?v=oNXg3niVeoI">www.youtube.com/watch?v=oNXg3niVeoI</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-March-Operation ‘Winchester’ tackling motorcycle and scooter fatalities in London -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 