


@{ViewBag.Title = "Overwhelming support for further river crossings in east London to help support growth";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Overwhelming support for further river crossings in east London to help support growth</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Overwhelming support for further river crossings in east London to help support growth</h1>
        <div class="content-page-press-release">
        15 March 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>East London could see two new river crossings at Gallions Reach and Belvedere, providing new, quicker road and public transport links and supporting new housing developments by 2025, after overwhelming public support in a recent Transport for London (TfL) consultation.</p>
<p>Consultation on the proposals, which closed on 12 February, showed that almost 90%&nbsp; (88%) of people who responded support a new crossing at Gallions Reach, linking Thamesmead and Beckton, or at Belvedere, linking Belvedere to Rainham.  Around 3,500 (77%) support new crossings at both locations, which would cater for public transport and road users and help secure London's future success.</p>
<p>TfL's work has shown that both proposed crossings would provide significant benefits to local people and businesses and help support jobs and homes on both sides of the river. The crossings would incorporate a network of new and extended bus services and could also provide opportunities for new walking and cycling links, as well as a potential extension of the Docklands Light Railway from Gallions Reach across the Thames to a new station at Thamesmead.</p>
<p>TfL will continue to work with local boroughs and other key stakeholders to develop the plans for the crossings and will consider feedback from this consultation to help inform the next steps for the project. These include key decisions about the type of public transport that could be provided on these crossings, and formal consultation about future designs.  Subject to Government authorisation and funding being available, the new crossings could open around 2025.</p>
<p>In the meantime, TfL is extending the life of the Woolwich Ferry service. Recently, work was completed to the jetties and loading bridges on both sides of the river and TfL has now begun the bidding process to purchase two new boats to replace the existing 1960s vessels to keep the service running into the 2020s.</p>
<p>The Mayor of London, Boris Johnson MP, said: `There is no doubt that new river crossings in the east are going to be vital to the future prosperity of our rapidly-growing city. As well as improving transport links for all, they will unlock swathes of land for development, leading to new jobs and homes, and improving areas for businesses and communities. Gallions Reach and Belvedere are just the start of a series of crossings that are going to prove a real boost to the capital, and I'm delighted that Londoners have given us their unequivocal backing.'</p>
<p>Richard de Cani, Managing Director for Planning at TfL, said: `With the Capital's population rising rapidly and more much-needed housing being built, crossing the river will become ever more important. It's great to see overwhelming support for these two new cross-river connections at Gallions Reach and Belvedere, which would provide better public transport links and help unlock opportunities for local people. Along with the Silvertown Tunnel, which would reduce congestion through the Blackwall Tunnel and improve bus links across the Thames, our comprehensive plan for more river crossings in east London will help transform these areas, supporting regeneration and development on both sides of the river.'</p>
<p>Stephen Nelson, Government Relations Director of the South East London Chamber of Commerce, said: `More river crossings for the eastern side of London are absolutely essential, it is gratifying to see these consultations taking place, we sincerely hope that this time we will end up with the infrastructure that we so badly need to exploit the full potential of the fastest growing part of our Capital.'</p>
<p>The plans for the new crossings at Gallions Reach and Belvedere form part of the Mayor's wider proposals for the future of river crossings in the Capital. The vision, which was outlined last year in TfL's Connecting the Capital report, proposes 13 new tunnels and bridges across the Thames &#45; increasing the total number between Imperial Wharf and Dartford by more than a third, and the number for pedestrians and cyclists by nearly 50%. These include public transport crossings such as Crossrail, and a number of potential pedestrian and cycling crossings such as the new bridges connecting Nine Elms with Pimlico, and Rotherhithe with Canary Wharf.</p>
<p>Following approval at the TfL Board last month, work is now underway to submit plans to Government for permission to start building the proposed Silvertown Tunnel. The tunnel, which would link the Greenwich Peninsula with the Royal Docks, is vital to relieving pressure at Blackwall, which is currently east London's only major road crossing, and would help support the delivery of thousands of new homes and jobs.</p>
<p>As well as reducing congestion at the Blackwall Tunnel, the Silvertown Tunnel would enable TfL to provide new bus routes which would see up to 37 buses per hour in each direction connecting communities such as Stratford and Canary Wharf north of the river with Eltham and Charlton to the south.</p>
<p>The recent consultation on the tunnel, held late last year, showed that support for the scheme was still high, with 58% of people who responded supporting the scheme compared to 31% who opposed. TfL is now preparing the application for a Development Consent Order which, if successful, will allow for a public hearing to take place later during 2016. If given the full go ahead, construction of the Silvertown Tunnel could begin in 2019 and be completed by 2023.</p>
<p>More information about the Gallions Reach and Belvedere crossings, as well as the full consultation report, can be found at <a href="http://www.tfl.gov.uk/east-london-crossings">www.tfl.gov.uk/east-london-crossings</a>.</p>
<p>Ends</p>
<p>Notes to Editors:</p>
<ul>
    <li>Connecting the Capital is available to download on our website &#45; <a href="http://www.tfl.gov.uk/new-river-crossings">www.tfl.gov.uk/new-river-crossings</a></li>
    <li>The consultation on the Gallions Reach and Belvedere crossings ran from Wednesday 2 December 2015 to Friday 12 February 2016.</li>
    <li>Images are available here - <a href="https://www.flickr.com/photos/tflpress/albums/7215766176243800">https://www.flickr.com/photos/tflpress/albums/7215766176243800</a>1</li>
    <li>Subject to securing funding and the necessary approvals, both crossings could be completed and open by 2025.</li>
</ul>
The potential river crossings included in 'Connecting the Capital' and their stages of development are:
<ul>
    <li>Diamond Jubilee &#45; a pedestrian and cycle bridge linking Fulham with Battersea &#45; planning permission has been granted</li>
    <li>Crossrail 2 &#45; a new railway line connecting Hertfordshire and Surrey via central London and providing a new cross river link between Victoria and Clapham Junction</li>
    <li>Vauxhall, Nine Elms and Battersea &#45; a pedestrian and cycle bridge linking Vauxhall, Nine Elms and Battersea to Pimlico &#45; feasibility</li>
    <li>Garden Bridge &#45; a new pedestrian crossing linking the South Bank to Temple station &#45; planning permission granted</li>
    <li>Rotherhithe to Canary Wharf &#45; a pedestrian and cycle bridge &#45; feasibility</li>
    <li>North Greenwich to the Isle of Dogs &#45; a passenger ferry linking North Greenwich and the Isle of Dogs (Blackwall) &#45; conceptual</li>
    <li>Silvertown tunnel &#45; a twin bore tunnel connecting Silvertown on the north side to the Blackwall Tunnel Approach on the south side &#45; application for powers to construct under preparation</li>
    <li>Charlton &#45; a potential passenger ferry crossing linking the Royal Docks and Charlton Riverside &#45; conceptual</li>
    <li>Crossrail &#45; a new rail line linking Woolwich with Custom House and onward to Canary Wharf, central London and Heathrow Airport - under construction</li>
    <li>Gallions Reach &#45; a multi-modal crossing linking Thamesmead with Beckton along a safeguarded alignment</li>
    <li>Barking Riverside to Thamesmead &#45; a London Overground tunnel extension from Barking Riverside to Thamesmead &#45; conceptual</li>
    <li>Belvedere &#45; a multi-modal crossing connecting Belvedere with Rainham</li>
    <li>Lower Thames Crossing &#45; new road crossing linking Essex and Kent &#45; being progressed by Highways England for the Government</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-March-Overwhelming support for further river crossings in east London to help support growth -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 