


@{ViewBag.Title = "Pay as you go travel with contactless and Oyster extends to Swanley";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Pay as you go travel with contactless and Oyster extends to Swanley</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Pay as you go travel with contactless and Oyster extends to Swanley</h1>
        <div class="content-page-press-release">
        04 March 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Pay as you go will bring new, more convenient, way to pay for travel
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Integrating the fares on this route with the wider pay as you go network makes perfect sense and ties in with our mission to make getting around our city easy for everyone, no matter where they live"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>Thousands of rail passengers in north Kent are set for cheaper fares and more convenient journeys from Wednesday 9 March as pay as you go with contactless and Oyster is extended to Southeastern and Thameslink services to and from Swanley.</p>
<p>Pay as you go fares are cheaper than paper tickets and are the same regardless whether you use a contactless payment or an Oyster card. As part of the introduction, Swanley will also move into the London zones for the first time, allowing customers to now use a Zone 1-8 Travelcard to complete their journey.</p>
<h2>Make life easier</h2>
<p>The extension of pay as you go to Swanley forms part of TfL's, Southeastern's and Govia Thameslink Railway's (GTR's) wider work to make life easier for customers.</p>
<p>Last year, pay as you go was extended to Dartford, with around 16,000 journeys now made using pay as you go with contactless payment or Oyster cards from this station every week.</p>
<p>Extending pay as you go to Swanley also means that a range of concessions, such as free travel for children under 10 and veterans, will now also be available on services into London.</p>
<p>A standard anytime National Rail single fare from London to Swanley is currently &pound;8.80, but from 9 March the new pay as you go peak fare will be &pound;7.10 (saving &pound;1.70) and &pound;4.10 off peak (saving &pound;4.70).</p>
<p>Currently, a Day Travelcard from Swanley to Zones 1-6 costs &pound;22.40 (anytime) or &pound;13.60 (off-peak).  With pay as you go the price of daily travel within Zones 1-8 is capped at &pound;15.20 (anytime) or &pound;11.90 (off-peak).</p>
<h2>Better fares</h2>
<p>Mayor of London, Boris Johnson, said: 'Integrating the fares on this route with the wider pay as you go network makes perfect sense and ties in with our mission to make getting around our city easy for everyone, no matter where they live.</p>
<p>'I'm delighted that the good people of Swanley will soon have the choice of paying for travel with contactless payments and Oyster, which offer better fares and a more convenient way to travel.'</p>
<p>Shashi Verma, Director of Customer Experience at TfL, said: 'This is just one of the many projects we are working on across London and the south east to help make paying for transport easier for everyone.</p>
<p>'Pay as you go has helped to completely revolutionise travel around London since it launched, bringing cheaper, quicker travel to everyone.</p>
<p>'Furthermore, more than 25% of all pay as you go customers now use contactless payments because it is so convenient and easy. There's no need to top-up, you just touch in and out with your credit or debit card.'</p>
<p>Mike Boden, Commercial Director at Southeastern said: 'We're really pleased to be able to offer Oyster and contactless from Swanley station. The investment in this project will benefit many people and will offer more choice as to how to pay for our services.</p>
<p>'By offering Oyster card and contactless payment technology, we can provide a more seamless journey for commuters in Swanley who travel into the Capital.'</p>
<p>Stuart Cheshire, Thameslink's Passenger Service Director, said: 'Thameslink passengers at Swanley will welcome this move to further modernise our network. Moving away from paper tickets is the way forward.'</p>
<h2>Best value fare</h2>
<p>Contactless payments have been accepted on London Buses since December 2012, with the technology expanded to cover Tube, tram, DLR, London Overground, and most National Rail services in London in September 2014.</p>
<p>Along with providing customers with the best value fare on TfL services and the vast majority of National Rail services, contactless also offers weekly (Monday to Sunday) capping. This automatically limits the cost of travel over the period to the price of a weekly Travelcard for the zones travelled in.</p>
<p>More than 350 million contactless journeys have now been made since it launched using cards from more than 80 countries. Earlier this year, pay as you go using Oyster and contactless was extended to Gatwick Airport.</p>
<p>TfL are now working to further expand the benefits of pay as you go to all London airports as well as other key locations around the commuter belt.</p>
<p>For more information, or to sign up for an online account for your Oyster or contactless payment card, please visit <a href="https://tfl.gov.uk/fares-and-payments/?cid=tickets">www.tfl.gov.uk/tickets</a></p>
<p>&nbsp;</p>
<hr />
<p><strong>Notes to editors:</strong></p>
<ul>
    <li>Each day there are about one million journeys made across London using contactless</li>
    <li>Since July 2015, more than 3.2 million journeys have been made using mobile payment on London's transport network. This is predicted to increase throughout 2016 as more devices come onto the market and more people adopt both these and other contactless technologies such as watches and wristbands with Near Field Communication (NFC) capabilities</li>
    <li>One in ten contactless transactions in the UK are made on TfL's services, making TfL one of the largest contactless merchants worldwide</li>
</ul>
<div class="table-container"><table cellspacing="1" cellpadding="1" style="width: 302px; height: 219px;">
    <thead>
    </thead>
    <tbody>
        <tr>
            <td style="vertical-align: middle;" colspan="3">&nbsp;<strong>Adult National Rail only fares<br />
            </strong></td>
        </tr>
        <tr align="left">
            <td style="vertical-align: middle;" colspan="3">&nbsp;Pay as you go single<br />
            </td>
        </tr>
        <tr>
            <td style="vertical-align: middle;">&nbsp;Zones</td>
            <td style="vertical-align: middle;">Peak <br />
            </td>
            <td style="vertical-align: middle;">Off-peak <br />
            </td>
        </tr>
        <tr>
            <td style="text-align: left; vertical-align: middle;">Zones 1- Swanley <br />
            </td>
            <td style="vertical-align: middle;">&nbsp;&pound;7.10</td>
            <td style="vertical-align: middle;">&pound;4.10 <br />
            </td>
        </tr>
        <tr>
            <td style="text-align: left; vertical-align: middle;">&nbsp;Zones 2 - Swanley<br />
            </td>
            <td style="vertical-align: middle;">&nbsp;&pound;5.90</td>
            <td style="vertical-align: middle;">&pound;3.50 <br />
            </td>
        </tr>
        <tr>
            <td style="text-align: left; vertical-align: middle;">&nbsp;Zones 3 - Swanley<br />
            </td>
            <td style="vertical-align: middle;">&nbsp;&pound;4.80</td>
            <td style="vertical-align: middle;">&nbsp;&pound;2.80</td>
        </tr>
        <tr>
            <td style="text-align: left; vertical-align: middle;">Zones 4 - Swanley <br />
            </td>
            <td style="vertical-align: middle;">&nbsp;&pound;4.00</td>
            <td style="vertical-align: middle;">&nbsp;&pound;2.30</td>
        </tr>
        <tr>
            <td style="text-align: left; vertical-align: middle;">&nbsp;Zones 5 - Swanley<br />
            </td>
            <td style="vertical-align: middle;">&nbsp;&pound;3.30</td>
            <td style="vertical-align: middle;">&nbsp;&pound;2.10</td>
        </tr>
        <tr>
            <td style="text-align: left; vertical-align: middle;">Zones 6 - Swanley <br />
            </td>
            <td style="vertical-align: middle;">&nbsp;&pound;2.50</td>
            <td style="vertical-align: middle;">&nbsp;&pound;1.70</td>
        </tr>
    </tbody>
</table></div>
<ul>
    <li>&nbsp;Further fares are available on request.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-March-Pay as you go travel with contactless and Oyster extends to Swanley -->

 
 
        
        
            @{ViewBag.Description = "Pay as you go will bring new, more convenient, way to pay for travel";}
        
        


 