


@{ViewBag.Title = "TfL given the greenlight for development above future Nine Elms Tube station ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL given the greenlight for development above future Nine Elms Tube station </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL given the greenlight for development above future Nine Elms Tube station </h1>
        <div class="content-page-press-release">
        16 March 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>New homes, offices and public space are set to be created in Nine Elms, after Lambeth Council granted Transport for London (TfL) planning permission for a new development above and around the new station being built as part of the extension of the Northern line.</p>
<p>The development will see the delivery of 332 new homes, 84 of which will be affordable. It will also provide 5,332sq metres of new office space, 902sq metres of retail and leisure space as well as a new public square, pedestrian and cycle connections, cycle parking and disabled car parking spaces. The approval marks another milestone in TfL's plans to utilise its assets for the benefit of London, whilst bringing in new revenue to reinvest in the modernisation of the transport network. Construction of the development will begin in 2020 when the Tube station is targeted to open and is expected to be completed in 2022.</p>
<p>Last month, Lambeth Council approved TfL's proposals to provide 55 new affordable homes and a community centre on the Fenwick Estate near Clapham North Tube station. The Fenwick development is part of the wider Northern Line Extension project and provides an opportunity to accelerate the delivery of affordable homes in the borough.</p>
<p>Property development is a central part of TfL's wider plans to generate &pound;3.4bn in non-fares revenue by 2023 to reinvest in the transport network. The revenue generated at this location will support the funding for the Northern Line Extension.</p>
<p>Lester Hampson, Director of Property Development at TfL, said: `Our development plans are gathering momentum and this is an important step forward as we continue our ambitious plans to deliver for London. This is a great example of what TfL is doing to build a strong pipeline of development opportunities for now and the future to generate long-term revenue.'</p>
<p>`The scheme at Nine Elms will enable us to deliver some of the vital infrastructure that London needs such as new homes, offices and retail spaces, and the revenue we generate will support funding for the Northern Line extension.'</p>
<p>The Northern Line Extension to Battersea will help regenerate Vauxhall, Nine Elms and Battersea, supporting 25,000 new jobs and more than 20,000 homes. Two new Tube stations will be built at Nine Elms and Battersea Power Station and are targeted for completion in 2020.</p>
<p>In February 2016, TfL announced the appointment of 13 major property development companies and consortiums onto its property development framework. The framework will see the appointed companies bidding for work on around 50 TfL sites across London for the delivery of thousands of homes, offices and retail spaces to help meet the needs of London's growing population.</p>
<p>The development will be delivered when the new Nine Elms Tube station is targeted to open in 2020.</p>
<p>Ends<br />
Notes to Editors</p>
<ul>
    <li>The final decision will now be made following completion of the legal agreement and further consultation with the Mayor, who will consider the scheme in his planning role in due course. The approval is subject to completion of a section 106 agreement.</li>
    <li>The Nine Elms over station development scheme was designed by Grimshaw Architects. Quod is the planning agent.</li>
    <li>Images are available at &#45; <a href="https://www.flickr.com/photos/tflpress/sets/72157666019222525/">https://www.flickr.com/photos/tflpress/sets/72157666019222525/</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-March-TfL given the greenlight for development above future Nine Elms Tube station  -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 