


@{ViewBag.Title = "TfL celebrates the contribution of apprentices to London's transport network";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL celebrates the contribution of apprentices to London’s transport network</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL celebrates the contribution of apprentices to London’s transport network</h1>
        <div class="content-page-press-release">
        15 March 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL), Crossrail, London Transport Museum and their suppliers, are celebrating the contribution of apprentices to keeping London working and growing with the announcement of 350 new apprenticeship roles. The new apprentices will work on vital transport infrastructure projects such as the Northern Line Extension, the Roads Modernisation programme and the Bond Street station upgrade.</p>
<p>The announcement, which comes during National Apprenticeship Week, builds on the record 156 apprentices that TfL welcomed in September 2015. The roles include Track Renewal and Track Maintenance, Crossrail Railway Engineer, Commercial Procurement and Transport and Town Planning.</p>
<p>Since 2009, TfL, its suppliers, Crossrail and London Transport Museum have created over 6,000 apprenticeship roles, enabling people to learn and earn at least the London Living Wage. The variety of apprenticeship schemes available has increased from just two in 2009 to 28 this year.</p>
<p>TfL's suppliers have also helped transform the lives of 18 ex-offenders through apprenticeships. They have given the ex-offenders an opportunity to gain valuable qualifications through a variety of apprenticeship roles working on TfL projects across the Capital. Apprenticeships have offered them a chance at a long and rewarding career with five ex-offenders now in permanent roles with TfL's suppliers.</p>
<p>London's Transport Commissioner, Mike Brown MVO, said: `We have a skills shortage in the transport industry, and apprenticeships offer us the chance to recruit some really talented individuals into the sector who may otherwise not have been given the opportunity. We've been creating apprenticeship roles for decades, and a number of our current directors have come up through the ranks having started their own careers as apprentices.</p>
<p>`Apprenticeships are a genuine alternative to university and offer real career prospects to earn and learn at the same time. As we celebrate the contribution of apprentices this week, I want to encourage people to take up the opportunities that we are offering together with our suppliers.'</p>
<p>TfL's transport network supports over 30 million journeys across London every day, and with the Capital's population set to rise from 8.6 million today to 10 million by 2030, apprentices will continue to play a vital role in ensuring that TfL has a transport network that continues to keep London as the economic engine of the UK.</p>
<p>Hoda Al-Halfi, a second year Project Management apprentice at TfL, said: `After taking a year out and exploring my options, I came across the TfL Project Management Apprenticeship and thought it's just what I'm looking for, earning whilst learning! My apprenticeship scheme is almost at an end now and I have enjoyed my time tremendously. I have learnt a lot but also developed and improved many skills.</p>
<p>`I have had the opportunity to network with great people from various backgrounds and disciplines. I am currently working on the Bank Station Capacity Upgrade Project which is a very interesting project and I look forward to gaining as much out of it as possible but also add value to it. The Project Management scheme has been great and the experience that I've accumulated as an apprentice around the business is priceless. I would encourage the apprenticeship route to anyone that is serious about getting into work and developing through their career path!'</p>
<p>Crossrail has surpassed its target of delivering 400 apprentices during construction of the new railway with over 500 now in place. The apprentices are contributing to the delivery of Europe's biggest infrastructure project which will transform rail transport in the Capital, increasing London's rail capacity by 10 per cent, supporting regeneration and cutting journey times across the city.</p>
<p>A number of events will be held during apprenticeship week including:</p>
<ul>
    <li>A daily Q&amp;A session on Twitter via &#64;TfL with current and former apprentices offering advice. The Q&amp;A will run from Monday 14 March to Friday 18 March from 16:00 to 17:00</li>
    <li>TfL's first ever apprenticeship awards event on Monday 14 March</li>
    <li>TfL's Supplier Skills Team's annual Apprenticeship Fair will be held on Thursday 17 March with over 20 employers offering over 300 apprenticeship roles</li>
    <li>Crossrail's annual apprenticeship awards on Thursday 17 March</li>
    <li>London Highways Alliance Contract apprenticeship Forum on Friday 18 March</li>
</ul>
<p>TfL and Crossrail are also part of the Government's pledge to create 30,000 apprenticeship places across the road and rail industry during the lifetime of this Parliament. In January, the Government announced its new Transport Infrastructure Skills Strategy which will see it work alongside its transport bodies and their suppliers to ensure apprenticeships are at the heart of contracts which will deliver the Government's multi-billion pound rail and road investment programme.</p>
<p>Ends<br />
Notes to Editors</p>
<ul>
    <li>Images are available on request.</li>
    <li>TfL has set up an annual Schools Challenge competition to encourage young people from an early age to consider a career in the transport industry. The next Schools Challenge will take place in September 2016 and colleges or youth groups can register their interest via schools&#64;tfl.gov.uk.</li>
    <li>TfL has also developed a Road Space Design and Management School Leavers Training programme. Recruitment is currently open with more information available at www.tfl.gov.uk/school-leaver-training</li>
    <li>London Transport Museum run Route Into Work (RiW) in partnership with TfL Supplier Skills team. It is a 3-day accredited pre-employment course for young people who are aged 18-25 and not in education, employment or training in partnership with Westminster Kingsway College.  LTM's collection provides RiW participants with the opportunity to creatively explore and cultivate key skills and attitudes for their future careers. RIW reaches 100 young people each year and holds one day employability skills days at key points in the year.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-March-TfL celebrates the contribution of apprentices to London’s transport network -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 