


@{ViewBag.Title = "TfL proposals to modernise London's private hire industry";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL proposals to modernise London’s private hire industry</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL proposals to modernise London’s private hire industry</h1>
        <div class="content-page-press-release">
        10 March 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        First significant amendments to private hire regulations since 1998 follow unprecedented increase in private hire driver and vehicle numbers
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This will help ensure a modern, flourishing and even safer private hire industry, and will provide choice for customers alongside London's iconic and world-class taxi service"</div>
        <div class="quote-footer">
            <div class="quotee-name">Garrett Emmerson</div>
            <div class="quotee-job-title">Chief Operating Officer for Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Private hire vehicles will need to have 'hire and reward' insurance in place for duration of licence &#45; further improving passenger safety</li>
</ul>
<p>New regulations that will modernise and improve the private hire industry will be considered by the TfL Board next week.  The measures, which follow an extensive consultation process that attracted over 20,000 responses, will make travelling by private hire safer and more convenient for customers.</p>
<p>The Board will be asked to agree the following changes:</p>
<ul>
    <li>Even more robust 'hire and reward' insurance requirements &#45; that will mean a policy has to be in place for the duration of the vehicle licence, including when the vehicle is presented for inspection to TfL</li>
    <li>A formal English language requirement for all drivers</li>
    <li>A fare estimate for customers in advance of their journey</li>
    <li>The provision of driver and vehicle details to customers, including a photo of the driver, before the start of each journey</li>
    <li>Private hire operators will be required to ensure that customers can speak to someone in the event of a problem with their journey</li>
    <li>Requiring operators to keep improved records and provide driver and vehicle information to TfL to make enforcement even easier and more effective</li>
</ul>
<p>These changes, which represent the first significant amendments to the private hire regulations since they were introduced in 1998, follow an unprecedented increase in private hire driver and vehicle numbers.  </p>
<p>The number of private hire drivers has increased from 59,000 in April 2010 to around 100,000 today, contributing to issues such as congestion, pollution and illegal parking.</p>
<h2>Action on air quality</h2>
<p>The Mayor believes that more action must be taken to address the impacts of these increasing numbers, particularly on congestion and air quality.  The Government has been reluctant to introduce legislation to allow TfL to restrict the number of drivers and vehicles on the roads in London.  </p>
<p>In response, the Mayor has instructed TfL to investigate the potential effects of removing the Congestion Charge exemption currently given to private hire drivers fulfilling a booking, in order to see whether this may make a difference in those areas of concern.</p>
<p>The Mayor has also secured a commitment to progress separate legislation to enable TfL to regulate pedicabs, to crack down on unsafe pedicabs and tackle fare abuses prevalent among some pedicab drivers, whilst tackling the congestion they cause in central London, particularly in the evenings.</p>
<p>The Mayor of London, Boris Johnson MP, said: 'The private hire industry in our city is flourishing and attracting unprecedented numbers of drivers and passengers. These regulations are designed to manage the continued development of the industry. If properly regulated and supported the private hire industry will continue to thrive in London.'</p>
<h2>Private hire numbers</h2>
<p>TfL estimates that the number of private hire vehicles operating within the central London Congestion Charge zone has increased by over 50% in the last two years.  This means that 1 in 10 vehicles entering the zone is now a private hire vehicle.</p>
<p>Garrett Emmerson, TfL's Chief Operating Officer for Surface Transport, said: 'During our consultation process, Londoners have made clear the improvements they want to see in the private hire industry. </p>
<p>'The package of changes being taken to the Board includes more robust insurance requirements when vehicles are licensed, a formal English language requirement for drivers, fares quotes for customers before their journeys, an easier process for customers to complain if they need to and more information given to customers about the car they are about to get into. </p>
<p>'This will help ensure a modern, flourishing and even safer private hire industry, and will provide choice for customers alongside London's iconic and world-class taxi service.'</p>
<h2>Licence fees</h2>
<p>TfL will also alter the structure of licence fees paid by operators of different sizes to better reflect the costs of compliance and enforcement activity.  This will provide a financial incentive for operators to maximise the efficiency of their operations and minimise the number of vehicles they use across London as a whole.</p>
<p>The regulations will remain under review to ensure that they keep pace with the changing industry and support a modern and thriving trade, given the welcome technological innovations that have increased choice for customers in recent years.</p>
<hr />
<p>&nbsp;<br />
<strong>Notes to Editors</strong></p>
<ul>
    <li>Any change to the exemption for private hire vehicles would require a variation to the Congestion Charging Scheme Order which is subject to statutory consultation requirements</li>
    <li>The first consultation took a very broad approach, asking for the opinions and thoughts of as many people as possible. It launched on 27 March 2015 and ran for 12 weeks. Further details can be found here</li>
    <li>The second consultation featured more detailed proposals based on the responses to the initial consultation. It opened on 30 September 2015 and ran for 12 weeks. It attracted over 16,000 responses, and more details can be found <a href="http://www.consultations.tfl.gov.uk/tph/private-hire-proposals">here</a></li>
    <li>The final consultation was an Integrated Impact Assessment in order to ascertain the impacts of the new regulations on the private hire industry. It opened on 28 January 2016 and ran for four weeks. Information on this report will be published as an appendix to the Board papers</li>
    <li>Other stakeholder engagement was undertaken as part of the second consultation included focus groups, meetings with both trades and meetings with business leaders, accessibility stakeholders and universities</li>
</ul>
<p>The full list of proposals submitted for approval by the Board is as follows. Each of these proposals received majority support during the formal consultation:</p>
<ul>
    <li>Operators must have the facility to provide a booking confirmation to passengers containing the photo ID and details of the vehicle being used to discharge the booking where passengers are able to receive that information</li>
    <li>TfL will no longer issue licence variations to private hire operator licenses to add a late-night or temporary event operating centre</li>
    <li>Operators will be required to provide specified information to TfL at specified intervals including details of all drivers and vehicles registered with them</li>
    <li>Operators must record the main destination for each booking before the journey commences</li>
    <li>Operators to retain all records for a period of 12 months</li>
    <li>TfL to control the names under which operators offer private hire services to the public</li>
    <li>Private hire drivers to be required to demonstrate a certain standard of English</li>
    <li>Individual licence applicants to provide National Insurance numbers to TfL</li>
    <li>A driver's private hire vehicle licence to be considered for revocation if their private hire driver's licence is revoked</li>
    <li>TfL will liaise with the Home Office on introducing DBS checks on private hire operator staff that have face to face contact with the public</li>
    <li>TfL to stop accepting payment for licence fees by postal order and cheque</li>
    <li>Drivers to carry or display a copy of insurance details at all times</li>
    <li>Introduce new operator licence fee structure to better reflect operator licensing costs based on operator size. The specific revisions to the licence fee structure will be consulted on separately</li>
    <li>Amendment of regulations to give TfL the power to control advertising displayed inside, from, or on the outside of a private hire vehicle</li>
    <li>Operators will be required to notify TfL before changing their operating model</li>
    <li>Operators must ensure that customers can speak to a real person in the event of a problem with their journey</li>
    <li>Private hire operators must provide an estimated fare prior to the commencement of the journey</li>
    <li>Hire and reward insurance will be required at the point of vehicle licensing, and for it to remain in place for the duration of the licence</li>
    <li>Working with the Department for Transport to develop guidance on ridesharing</li>
</ul>
<p>The proposals that will be considered further are:</p>
<ul>
    <li>Requirements for security measures for operators who use apps to allocate drivers to a fare to prevent the app being used by a person other than the licensed driver</li>
    <li>The feasibility of introducing a requirement for operators to indemnify their customers against any failing of their driver to provide hire or reward insurance</li>
</ul>
<p>The proposals that were not taken forward from the consultation are:</p>
<ul>
    <li>Operators having to provide booking confirmation details to passengers at least five minutes prior to the journey commencing</li>
    <li>Operators having to offer the ability to pre-book up to seven days in advance</li>
    <li>Operators being prohibited from showing vehicles as available for immediate hire, either visibly, for example by signage on the street, or virtually, for example via an app</li>
    <li>Private hire drivers only being able to be registered to a single operator at any time</li>
</ul>
<ul>
    <li>Hire and reward insurance protects passengers in licenced taxis and private hire vehicles.  It ensures that passengers are able to reclaim loss sustained as a result of an accident while undertaking a journey in a taxi or private hire vehicle.  Without this insurance in place, passengers may not be able to reclaim costs or claim compensation following an accident or injury. Private hire vehicles are currently required to have this insurance only when undertaking bookings. The new regulations propose to change this</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-March-TfL proposals to modernise London’s private hire industry -->

 
 
        
        
            @{ViewBag.Description = "First significant amendments to private hire regulations since 1998 follow unprecedented increase in private hire driver and vehicle numbers";}
        
        


 