


@{ViewBag.Title = "TfL Publishes 2016/17 Budget and Business Plan";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL Publishes 2016/17 Budget and Business Plan</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL Publishes 2016/17 Budget and Business Plan</h1>
        <div class="content-page-press-release">
        15 March 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London's (TfL's) proposed Budget 2016/17 and Business Plan has been published, setting out a wide range of further improvements to the transport network in the coming years.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This budget and plan lays the foundation to continue these significant improvements on both our roads and public transport network. These, alongside future Government investment, will ensure that we can cope with rapidly increasing demand and support the new homes and jobs for future generations of Londoners"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson, MP</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>The document shows how investment in the public transport network will continue to deliver significant improvements for customers. These include:</p>
<ul>
    <li>The continuing construction of Crossrail, which will revolutionise travel across London when it opens as the Elizabeth line in 2018.</li>
    <li>The huge transformation of London Underground currently underway, with major stations being rebuilt, the Northern and Metropolitan lines being extended, and the Metropolitan, District, Circle and Hammersmith &amp; City lines being modernised with a new signalling system to run more services.</li>
    <li>Preparations for the introduction of 24 hour weekend 'Night Tube' services on key lines.</li>
    <li>Doubling the station accessibility fund from &pound;75 million to &pound;150 million, making more stations step-free and ensuring the Mayor's target of 50 per cent of rail and Tube stations being made step-free by 2018 is on-track.</li>
    <li>Electrification of the Gospel Oak to Barking London Overground line and work to extend London Overground to Barking riverside, alongside station improvements at stations taken over from West Anglia last year.</li>
</ul>
<p>In addition, TfL is progressing the priorities set out in the GLA Budget published in February 2016.</p>
<p>These include:</p>
<ul>
    <li>Doubling TfL's Growth Fund from &pound;300 million to &pound;600 million to help unlock further growth and regeneration across London.</li>
    <li>&pound;250 million towards two new Overground stations at Old Oak Common providing connections to the planned Old Oak Common HS2, Crossrail and national rail stations and regeneration to the local area.</li>
    <li>&pound;100 million towards a potential extension of the tram network to Sutton if the remaining funding shortfall can be addressed by reducing the scheme's cost or increasing the local contribution from development.</li>
    <li>Establishing a &pound;20 million road safety technology fund to develop new road safety and autonomous vehicle technologies in London and help meet the target of reducing the most serious road casualties by 50 per cent.</li>
</ul>
<p>Further major improvements are also planned on the Capital's roads as part of a &pound;4 billion Road Modernisation Plan. This is seeing major roads and junctions transformed and made safer, with assets renewed and new safety and 'congestion-busting' technology introduced. The road network is being made safer for all road users, with new bus safety programmes and nearly &pound;1 billion of planned investment in making cycling safer.</p>
<p>This range of roads improvements includes:</p>
<ul>
    <li>The completion of eight Cycle Superhighway Routes by summer 2016, comprising more than 60km of new cycling infrastructure.</li>
    <li>The completion of improvement work at Elephant &amp; Castle, including a newly created peninsular public space.</li>
    <li>The introduction of vital safety improvements at Bow Interchange.</li>
    <li>Work scheduled to begin on a further five Quietway cycle routes, in addition to the two currently under construction.</li>
    <li>The completion of further 'mini-Holland' cycling infrastructure projects in Waltham Forest, Enfield Town and Kingston upon Thames.</li>
</ul>
<p>A range of measures to improve air quality, including the creation of an Ultra Low Emission Zone are being progressed. The National Infrastructure Commission has now also given its full support to Crossrail 2, showing that it is absolutely vital to meeting the needs of London's population, which is expected to grow from 8.6 million today to 10 million in 2030. We are also working with the Government on transferring all inner London rail services to TfL, opening up huge opportunities to improve services on those routes.</p>
<p>TfL is also planning the modernisation of the deep-level Tube lines, with a 'New Tube for London' set to bring air-conditioned journeys to the Piccadilly, Bakerloo, central and Waterloo &amp; City lines. The extension of the Bakerloo line would help meet the anticipated growth in south London, and the building of new river crossings and the creation of new road tunnels will help reduce congestion and support thousands of new homes and jobs.</p>
<p>The Mayor of London, Boris Johnson, said: </p>
<p>'Our transport system is carrying half a billion more people than four years ago, whilst doing so more efficiently, reliably and safely - and with greater customer satisfaction &#45; than at any other time in London's history.  Delays on the Underground have been halved, we've introduced 191 British-made new air-conditioned trains, cycling is at a record high, transport crime at a record low and the number of people killed or seriously injured on our roads has been cut by 40 per cent.</p>
<p>'This budget and plan lays the foundation to continue these significant improvements on both our roads and public transport network. These, alongside future Government investment,  will ensure that we can cope with rapidly increasing demand and support the new homes and jobs for future generations of Londoners.'</p>
<p> Mike Brown, London's Transport Commissioner, said: </p>
<p>'We are continuing the work of transforming London's road, rail and Tube networks for the  millions of people who use them every day while making every pound go further through a continuous savings and efficiencies programme.'</p>
<p>To mitigate a reduction in Government funding, TfL is implementing measures both to reduce expenditure and to increase income. These include projects to generate new commercial income and grow existing revenue streams as well as to reduce operating costs. The objective is to reach break even on direct operating costs by 2018/19, earlier than anticipated in the 2014 Business Plan. TfL is seeking to reduce operating costs by nearly nine per cent over the next five years.</p>
<p>TfL is also identifying value engineering options on new investment projects and targeting programme cost reductions of 10 per cent through better cost management. This will reduce the annual cost of capital renewals while not allowing assets to degrade.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>TfL's draft Budget 2016/17 and Business Plan will be considered by the TfL Board on 17 March.</li>
    <li>The proposed Budget 2016/17 and Business Plan may be found here <a href="http://content.tfl.gov.uk/board-160317-item07-budget-2016-17.pdf">http://content.tfl.gov.uk/board-160317-item07-budget-2016-17.pdf</a></li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-March-TfL Publishes 2016/17 Budget and Business Plan -->

 
 
        
        
            @{ViewBag.Description = "TfL Publishes 2016/17 Budget and Business Plan";}
        
        


 