


@{ViewBag.Title = "TfL Board approves new plan to modernise London's private hire industry";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL Board approves new plan to modernise London’s private hire industry</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL Board approves new plan to modernise London’s private hire industry</h1>
        <div class="content-page-press-release">
        18 March 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        First significant amendments to private hire regulations since they were first introduced following unprecedented increase in private hire driver and vehicle numbers
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These regulations will set the foundations for the private hire industry in the coming years with new robust measures in place to protect customers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Garrett Emmerson</div>
            <div class="quotee-job-title">TfL's Chief Operating Officer for Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<p>The TfL Board yesterday approved new regulations that will modernise and improve the private hire industry.</p>
<p>The measures, which follow an extensive consultation process that attracted over 20,000 responses over the past year, will make the private hire industry safer and more convenient for customers.</p>
<p>The Board yesterday agreed a number of changes, including:</p>
<ul>
    <li>Even more robust 'hire and reward' insurance requirements that will mean a policy has to be in place for the duration of the vehicle licence, including when the vehicle is presented for inspection to TfL</li>
    <li>A formal English language requirement for all drivers</li>
    <li>A fare estimate for customers in advance of their journey</li>
    <li>The provision of driver and vehicle details to customers, including a photo of the driver, before the start of each journey where customers are able to receive this information</li>
    <li>Private hire operators will be required to ensure that customers can speak to someone in the event of a problem with their journey</li>
    <li>Requiring operators to keep improved records and provide driver and vehicle information to TfL regularly to make enforcement easier and more effective</li>
</ul>
<p>The changes, which represent the first significant amendments to the private hire regulations since they were first introduced, follow an unprecedented increase in private hire driver and vehicle numbers.</p>
<h2>Raise the standard</h2>
<p>The new measures will raise the standards across the industry, ensuring Londoners can continue to move around the Capital safely.</p>
<p>The regulations will remain under review to ensure that they keep pace with the changing industry and support a modern and thriving trade, given the welcome technological innovations that have increased choice for customers in recent years.</p>
<h2>Protect customers</h2>
<p>Garrett Emmerson, TfL's Chief Operating Officer for Surface Transport, said: 'These regulations will set the foundations for the private hire industry in the coming years with new robust measures in place to protect customers.  We will implement these changes as soon as possible.'</p>
<p>TfL will now begin the implementation process, which will vary across the regulations.</p>
<p>While some changes are amendments in policy that can be enacted quickly, others will require a longer period to build the necessary infrastructure.</p>
<h2>More involved</h2>
<p>TfL has already made a number of changes following the first consultation in summer 2015, including a review of topographical centres and a new system for customers to report problems with taxi or private hire journeys directly to TfL after the consultation process showed that customers wanted TfL to be more involved in complaints.</p>
<p>Separately, the Mayor has asked TfL to investigate the effects of removing the Congestion Charge exemption for private hire vehicles as a way to tackle the issues of congestion, pollution and illegal parking that have worsened as a result of the rapid expansion of the private hire trade.</p>
<p>He has also successfully secured a commitment from Government for TfL to be able to regulate pedicabs through a change in primary legislation.</p>
<p>&nbsp;</p>
<hr />
<p><strong>Notes to Editors:</strong></p>
<ul>
    <li>The new complaints service can be reached online at tfl.gov.uk/tph-comments or via telephone on 03432224000</li>
    <li>The first consultation took a very broad approach, asking for the opinions and thoughts of as many people as possible. It launched on 27 March 2015 and ran for 12 weeks. Further details can be found here</li>
    <li>The second consultation featured more detailed proposals based on the responses to the initial consultation. It opened on 30 September 2015 and ran for 12 weeks. It attracted over 16,000 responses, and more details can be found here</li>
    <li>The final consultation was an Integrated Impact Assessment in order to ascertain the impacts of the new regulations on the private hire industry. It opened on 28 January 2016 and ran for four weeks. Information on this report was published as an appendix to the Board papers</li>
    <li>Other stakeholder engagement was undertaken as part of the second consultation included focus groups, meetings with both trades and meetings with business leaders, accessibility stakeholders and universities</li>
    <li>The full list of proposals approved by the Board is as follows. Each of these proposals received majority support during the formal consultation:</li>
</ul>
<ul>
    <li>Operators must have the facility to provide a booking confirmation to passengers containing the photo ID and details of the vehicle being used to discharge the booking where passengers are able to receive that information</li>
    <li>Operators will be required to provide specified information to TfL at specified intervals including details of all drivers and vehicles registered with them</li>
    <li>Operators must record the main destination for each booking before the journey commences</li>
    <li>Operators to retain all records for a period of 12 months</li>
    <li>TfL to control the names under which operators offer private hire services to the public</li>
    <li>Private hire drivers to be required to demonstrate a certain standard of English</li>
    <li>Individual licence applicants to provide National Insurance numbers to TfL</li>
    <li>A driver's private hire vehicle licence to be considered for revocation if their private hire driver's licence is revoked</li>
    <li>TfL will liaise with the Home Office on introducing DBS checks on private hire operator staff that have face to face contact with the public</li>
    <li>TfL to stop accepting payment for licence fees by postal order and cheque</li>
    <li>Drivers to carry or display a copy of insurance details at all times</li>
    <li>Introduce new operator licence fee structure to better reflect operator licensing costs based on operator size. The specific revisions to the licence fee structure will be consulted on separately</li>
    <li>Amendment of regulations to give TfL the power to control advertising displayed inside, from, or on the outside of a private hire vehicle</li>
    <li>Operators will be required to notify TfL before changing their operating model</li>
    <li>Operators must ensure that customers can speak to a real person in the event of a problem with their journey</li>
    <li>Private hire operators must provide an estimated fare prior to the commencement of the journey</li>
    <li>Hire and reward insurance will be required at the point of vehicle licensing, and for it to remain in place for the duration of the licence</li>
    <li>Working with the Department for Transport to develop guidance on ridesharing</li>
</ul>
<ul>
    <li>A decision has been deferred on proposal six, which stated that TfL will no longer issue licence variations to private hire operator licenses to add a late-night or temporary event operating centres.  More work will be undertaken on this point.</li>
    <li>Hire and reward insurance protects passengers in licenced taxis and private hire vehicles.  It ensures that passengers are able to reclaim loss sustained as a result of an accident while undertaking a journey in a taxi or private hire vehicle.  Without this insurance in place, passengers may not be able to reclaim costs or claim compensation following an accident or injury. Private hire vehicles were required to have this insurance only when undertaking bookings. The new regulations will change this.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-March-TfL Board approves new plan to modernise London’s private hire industry -->

 
 
        
        
            @{ViewBag.Description = "First significant amendments to private hire regulations since they were first introduced following unprecedented increase in private hire driver and vehicle numbers";}
        
        


 