


@{ViewBag.Title = "Transformation of Wandsworth Town Centre to start in 2018 ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Transformation of Wandsworth Town Centre to start in 2018 </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Transformation of Wandsworth Town Centre to start in 2018 </h1>
        <div class="content-page-press-release">
        18 March 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Work to transform Wandsworth Town Centre's street network and create a well-connected, safer area will begin in 2018 following public support for Transport for London's (TfL's) proposals. Plans to improve safety, connectivity and the local area were supported by the majority of respondents. TfL will continue to work with stakeholders ahead of the start of construction to ensure the plans continue to meet local needs.</p>
<p>The improvement will move through traffic from the high street to more appropriate areas and take the town centre's rapid regeneration programme to the next stage. Wandsworth High Street will be made a more pleasant environment, which will encourage investment.</p>
<p>The Mayor of London, Boris Johnson MP, said: `For far too long pedestrians and cyclists have been put off by the levels of traffic in Wandsworth Town Centre. It's a traffic-dominated, intimidating environment, so I'm delighted that our plans to make it more inviting can now happen. It's another great example of how we're investing in improving roads across the Capital to make them safer and easier for all road users.'</p>
<p>Wandsworth Town Centre is currently dominated by through traffic. The removal of the gyratory system will help reduce traffic and improve pedestrian crossings. Bus services and stops will be reorganised to better serve passengers in the area, and they will also benefit from greater bus priority on Wandsworth High Street. In addition, the realignment of Cycle Superhighway 8 to quieter roads and its extension through Wandsworth High Street, along with other cycle improvements, will better link the area to London's rapidly growing safer cycle network.</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: `Our planned improvements at Wandsworth Town Centre will change the road layout to make it safer and support the area's growth. These plans were supported by the majority of people and we hope they will open up the town centre to new and exciting investments as it is transformed into a safer, more pleasant place to be and visit.'</p>
<p>The Wandsworth Town Centre improvement would be part-funded by TfL's &pound;360m growth fund - designed to create jobs and homes by unlocking development across London with transport projects &#45; and by Wandsworth Council through its Community Infrastructure Levy and funding secured from developments in the Town Centre.</p>
<p>Ravi Govindia, Wandsworth Council leader, said: `This proposal will take the regeneration of Wandsworth Town to the next stage and ensure this thriving town centre reaches its full potential. Hundreds of new jobs have been created here in recent years and if we want that to continue we must rationalise the road network and channel traffic away from the high street so it becomes far more pedestrian-friendly.</p>
<p>`The scheme will also create better and more usable outside space throughout the town centre, which would be great news for local businesses, residents and visitors. It would mean less noise, a more welcoming environment and improved air quality.</p>
<p>TfL is currently investing an unprecedented &pound;4bn into the Capital's streets through its Road Modernisation Plan. This programme of improvements is ensuring London's road network is safer and supports the needs of a rapidly growing population. As well as major infrastructure change such as Wandsworth Town Centre, TfL is increasing the use of technology such as Split Cycle Offset Optimisation Technique (SCOOT) to better manage the network. SCOOT, which is being expanded across London, is proven to reduce traffic delays by up to 12%.</p>
<p>Notes to Editors:</p>
<ul>
    <li>The consultation took place from 24 November 2015 to 17 January 2016.</li>
    <li>The report on the Wandsworth Town Centre consultation can be found here:  <a href="http://www.Tfl.gov.uk/wandsworth-town-centre">www.Tfl.gov.uk/wandsworth-town-centre</a></li>
    <li>It received 849 responses and showed:</li>
    <li>57% were generally positive towards the proposals</li>
    <li>8% were neither negative nor positive towards the proposals</li>
    <li>35% were generally negative towards the proposals</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-March-Transformation of Wandsworth Town Centre to start in 2018  -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 