


@{ViewBag.Title = "Tufnell Park Tube station re-opens early with brand new lifts ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Tufnell Park Tube station re-opens early with brand new lifts </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Tufnell Park Tube station re-opens early with brand new lifts </h1>
        <div class="content-page-press-release">
        04 March 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL today, Friday 4 March, announced that Tufnell Park station has re-opened to customers after work to replace the station's two lifts and improve the ticket hall was completed two weeks early.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The new lifts at Tufnell Park are quicker and more reliable, making journeys at the station easier and more comfortable"</div>
        <div class="quote-footer">
            <div class="quotee-name">Gareth Powell</div>
            <div class="quotee-job-title">London Underground's Director of Strategy</div>
        </div>
</div>

 <div class="on-this-page">
<p>The new lifts will take customers from the ticket hall to the Northern line more quickly and reliably than the old lifts, which used to fail once a week on average.</p>
<p>The new lifts are also more energy efficient, contributing towards TfL's commitment to reduce the carbon footprint of Tube stations.</p>
<p>While the station was closed TfL took the opportunity to improve other parts of the station, including:</p>
<ul>
    <li>A larger and refurbished ticket hall</li>
    <li>An extra ticket gate and a new automatic wide aisle gate</li>
    <li>An improved customer information area</li>
</ul>
<p>Gareth Powell, London Underground's Director of Strategy, said: 'I thank customers for their patience while this complex work took place.  The new lifts at Tufnell Park are quicker and more reliable, making journeys at the station easier and more comfortable.'</p>
<p>Engineers were required to completely remove the old lift cars and all of the electrical and mechanical equipment.  Structural steel works within the lift shaft were also modified, adding to the complexity of the project.</p>
<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>
<p><strong>Notes to Editors</strong></p>
<ul>
    <li>Work to replace the lifts at Tufnell Park station began on 8 June 2015</li>
    <li>Information including a video on how we replace lifts on our network can be found here: <a href="http://www.tfl.gov.uk/campaign/tube-improvements/behind-the-scenes/escalator-refurbishment?intcmp=14562  ">tfl.gov.uk/campaign/tube-improvements/behind-the-scenes/escalator-refurbishment?intcmp=14562</a></li>
    <li>The next major phase of the London Underground modernisation work will bring faster, more frequent and more reliable journeys to millions of passengers who use the Circle, District, Metropolitan and Hammersmith &amp; City lines</li>
    <li>A vital modernisation of the signalling and train control systems for those lines is underway and the main benefits will be delivered by 2022. This will mean the frequency of trains running during peak periods will increase to 32 trains per hour in central London - a train every two minutes - with frequency increases at other times as well. Line upgrades are at the core of LU's investment programme, which will deliver more than 30% increase in capacity</li>
    <li>Redevelopment work to increase capacity at key stations and make them step-free is also underway at a number of stations including Victoria, Tottenham Court Road and Bond Street. More than half of LU's 270 stations have now been modernised or refurbished to make them brighter and easier to use, with improvements such as tactile strips, better CCTV and help points, electronic information displays in ticket halls and on platforms, and improved seating and lighting</li>
</ul>
<p >&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-March-Tufnell Park Tube station re-opens early with brand new lifts  -->

 
 
        
        
            @{ViewBag.Description = "TfL today, Friday 4 March, announced that Tufnell Park station has re-opened to customers after work to replace the station’s two lifts and improve the ticket hall was completed two weeks early.";}
        
        


 