


@{ViewBag.Title = "Children thanked for taking the lead on road safety";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Children thanked for taking the lead on road safety</h1>
        <div class="content-page-press-release">
        11 July 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Primary school children from more than 100 schools across London were thanked on Monday (7 July) for the hard work and dedication they have put in over the last year as Junior Road Safety Officers(JRSOs).
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It is essential to educate youngsters about road safety
                            
                        </p>
                    </div>
                
            
            
            <p>Their efforts have helped to reduce the number of children killed or seriously injured on London's roads by 16 per cent since 2006.</p>
<p>The JRSOs were treated to a day of fun and interactive activities at TfL's Street Safe Live event at the Southbank Centre in Waterloo. The event included a performance of 'High Street Musical' with a road safety theme and an awards ceremony where some of the most exceptional junior officers won prizes for their own imaginative 'Street Safe' ideas in song, words and art.</p>
<p>This is the third year that TfL has held the Street Safe Live day.&nbsp;This year's response&nbsp;was overwhelming, with almost 500 children there to celebrate the success of the scheme which involves schools 'recruiting' Year Five and Six pupils to take the lead in promoting road safety issues among their peers. </p>
<p>Figures released by TfL last month show that the number of children killed or seriously injured in collisions on our roads is continuing to go down, and the success is in part thanks to innovative ways of giving young people the skills and confidence they need to negotiate London's busy roads. </p>
<p>Younger children are also now being taught the basic road rules from nursery school age through TfL's Children's Traffic Club and A-Z Tales.</p>
<p>The 'High Street Musical' theme of the day saw the children participating in cheerleading practice (with road safety messages), trying their luck with a football kicking machine to help them understand exactly how fast 30mph is and a distraction challenge with the message 'watch what you're doing while near the road'.</p>
<p>The highlight of the day for many was the 'High Street Musical' stage performance, which featured a cameo by TfL's Managing Director of Surface Transport David Brown, who also handed out the Street Safe Live awards to the deserving JRSOs.</p>
<p>David Brown said, 'It is essential to educate youngsters about road safety and this event recognises the importance of rewarding the Junior Road Safety Officers for taking up such an important role in their schools. We've seen some great work come out of the kids this year, with performances of everything from rap songs to puppet shows, demonstrating just how many ways there are to get road safety messages across in a fun way.</p>
<p>'The JRSO scheme has played a vital role in reducing the number of road collisions involving children in London and all of the kids involved deserve our congratulations for the fantastic dedication they've shown to it.'</p>
<p>
<p>
<hr>
</p>
<p>
<h3>Notes to editor:</h3>
<p>1. The winning entries of the Street Safe Live awards were:<br><strong>Wonder with words</strong><br>1)&nbsp;Ilford Ursuline Preparatory School, Redbridge, for &nbsp;'Louise the Lollypop Lady' by Simren Lakhan<br>2)&nbsp;Oliver Goldsmith Primary School, Southwark, for 'The Predictable Accident' by Demi Chang<br>3)&nbsp;Macaulay CofE Primary School, Lambeth, for their slogans and road safety surveys </p>
<p><strong>Smartest artist<br></strong>1)&nbsp;Oliver Goldsmith Primary School, Southwark for Ally Preston's poster<br>2)&nbsp;Grove Primary School, Redbridge, for their display and Maya Suvarna's and Renae Clarke's posters<br>3)&nbsp;Chase Bridge School, Richmond, for their 'Putting Safety into Perspective' poster </p>
<p><strong>Rhythm n rhyme<br></strong>1)&nbsp;Victoria Junior School, Hounslow, for Alex Sutton, Abdul Al Aidarus and Harry Seath's rap<br>2)&nbsp;Southborough Primary School, Bromley, for Oliver Reeves 'The consequences and risks of talking while driving'<br>3)&nbsp;Grove Primary School, Redbridge, collectively for their three raps and performance</p>
<p><strong>Bright Spark</strong><br>1)&nbsp;St Edmunds RC Primary School, Enfield, for their 'Show of Hands, Road Safety Puppet Shows'<br>2)&nbsp;Woodcroft Primary School, Barnet, for Lorand Gashi and Shayaan Rehman's Road Safety video<br>3)&nbsp;Joint third: <br>Courtwood Primary School, Croydon, for their 'JRSO's teach reception project, and<br>Oliver Goldsmith Primary School, Southwark, for Joseph Cooper's 'Parking Ticket'</p>
<p>2. Photos of the day are available on request.</p>
<p>3. More information about the Junior Road Officer Scheme, including the resources available to the JRSOs, can be found at <a href="http://www.tfl.gov.uk/tfl/jrso">www.tfl.gov.uk/tfl/jrso</a> </p>
<p>4.&nbsp; The Junior Road Safety Scheme is just one of a range of educational resources that TfL provides for children and young people, including:</p>
<ul>
<li>Children's Traffic Club - ages 3-4 </li>
<li>A-Z of Traffic Tales - ages 5-7 </li>
<li>Safety and Citizenship - ages 10-11 </li>
<li>Theatre in Education - ages 11-12 </li>
<li>Don't die before you've lived - teen marketing campaigns - ages 11-14</li></ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Their efforts have helped to reduce the number of children killed or seriously injured on London's roads by 16 per cent since 2006.The JRSOs were treated to a day of fun and interactive activities at TfL's Street Safe Live event at the Southbank Centre in";}
        
        


 