


@{ViewBag.Title = "Clements Road re-opens to buses";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Clements Road re-opens to buses</h1>
        <div class="content-page-press-release">
        22 July 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Clements Road will re-open to buses from 10.00am on Friday 25 July.
        
    </div>



 <div class="on-this-page">
<p>The road has been closed since February 2008 whilst redevelopment works in Unity Square were undertaken by Redbridge Council.</p>
<p>A number of bus routes were diverted during the works and will now return to run along Clements Road. </p>
<p>These routes are: 25, 86, 123, 128, 145, 147, 150, 167, 169,&nbsp; 364, 366, 369, 462. 667, 679, 958, W19, and N86.</p>
<p>For a trial period, buses, taxis and bicycles will be the only vehicles allowed access to Clements Road. The success of this arrangement will be assessed over the next 12 months by the local council.</p>
<p>
<hr>

<p>
<h3>Notes to editors:</h3>
<ul>
<li>Redbridge Council are responsible for the management of Clements Road and the redevelopment of Unity Square.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The road has been closed since February 2008 whilst redevelopment works in Unity Square were undertaken by Redbridge Council.A number of bus routes were diverted during the works and will now return to run along Clements Road. These routes are: 25, 86,";}
        
        


 