


@{ViewBag.Title = "Could you create a new iconic bus for London?";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Could you create a new iconic bus for London?</h1>
        <div class="content-page-press-release">
        04 July 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the press office at the Greater London Authority.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London deserves a bus fit for the 21st Century, and I want as many people as possible to submit their ideas"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London deserves a bus fit for the 21st Century, and I want as many people as possible to submit their ideas
                            
                        </p>
                    </div>
                
            
            
            <p>The first step is taken to delivering a 21st Century 'Routemaster' as Mayor launches competition. </p>
<p>The Mayor of London, Boris Johnson, today delivered on another one of his key manifesto pledges, joining Transport for London (TfL)&nbsp;to launch a competition to design a brand new bus for London, inspired by the Capital's iconic Routemaster. </p>
<p>At a launch event in the London Transport Museum, which showcases the evolution of public transport in London over the decades, the Mayor and the Transport Commissioner, Peter Hendy, invited would-be designers to submit their ideas.&nbsp; </p>
<h2>New icon</h2>
<p>As well as potentially seeing their design on the streets of London, the best designer will pocket a first prize of &pound;25,000. </p>
<p>The competition is the first step towards delivering the Mayor's vision of a 21st Century version of the Routemaster. </p>
<p>The Mayor said: 'I made a commitment during the election campaign to hold a competition to design a brand new bus for London, based on the much-missed Routemaster, which was an icon of the Capital.&nbsp;&nbsp; </p>
<p>'London deserves a bus fit for the 21st Century, and I want as many people as possible to submit their ideas.</p>

<h2>Imaginative</h2>
<p>'Whether you're a professional designer who can submit a detailed plan or you are someone who uses buses every day and has one great idea that would make your journey better, we want to hear from you.'&nbsp; </p>

<p>Peter Hendy, London's Transport Commissioner, said: 'This competition provides a fantastic opportunity to play a part in designing a brand new icon for London.</p>
<p>'Buses play a key role in keeping London moving, but we want them to be as attractive as they are efficient.</p>
<p>'I look forward to seeing what ideas come out of this competition.'</p>
<p>Budding designers are encouraged to submit their designs in one of two categories: </p>
<ul>
<li>'Design a bus for London' - Entrants will have the option of submitting a design for a specific part of the bus or a 'whole-bus' design.&nbsp;In this category, designs will have to be quite detailed and must comply with guideline specifications as provided by TfL.&nbsp;A number of drawings will be required, as well as written documents providing reasoning and more detailed descriptions of the design and features of the bus </li>
<li>'Imagine a bus for London' -&nbsp; In this category, entrants can submit single design concepts for particular features of the bus, or a sketch of the overall look.&nbsp;The judges will be looking for the best ideas rather than detailed technical designs.&nbsp;Entries will be judged in four age categories: under 11, 11-15, 16-18, and over 18</li></ul>
<p>The new bus should have a stylish, imaginative design which will have a big impact on the streets of London.&nbsp;</p>
<p>Key features designers must consider include an open platform to allow passengers to board and alight quickly and easily; good use of interior space; accessibility; and green technology.&nbsp; </p>
<p>Further details and full Terms and Conditions of the competition can be found on the TfL website at <a href="http://www.tfl.gov.uk/anewbusforlondon">www.tfl.gov.uk/anewbusforlondon</a>.&nbsp; </p>
<p>The Mayor will announce the winning designs at the end of October. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The competition opens at 10am on Friday 4 July 2008 and entries must be submitted by noon on Friday 19 September 2008 </li>
<li>For further details on how to enter and the full Terms and Conditions of the competition, see the <a href="http://www.tfl.gov.uk/anewbusforlondon">TfL website</a> </li>
<li>A first prize of &pound;25,000 and two runners-up prizes of &pound;10,000 are available for the best 'whole-bus' designs submitted in the Design category. Merit prizes will be available for the best ideas submitted for specific parts of the new bus </li>
<li>There will be a range of prizes awarded for the best entries in each age group in the Imagine category </li>
<li>This is the first stage in the process of designing a new bus for London.&nbsp;The best ideas will be taken to the major bus manufacturers as part of a separate, competitive tendering process for the detailed design, prototyping and eventual manufacture of the new bus&nbsp; </li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The first step is taken to delivering a 21st Century 'Routemaster' as Mayor launches competition. The Mayor of London, Boris Johnson, today delivered on another one of his key manifesto pledges, joining Transport for London (TfL)&nbsp;to launch a";}
        
        


 