


@{ViewBag.Title = "Diversity boost for licensed taxi drivers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Diversity boost for licensed taxi drivers</h1>
        <div class="content-page-press-release">
        22 July 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Almost one in three applicants for the London taxi 'Knowledge' is now from a Black, Asian and Minority Ethnic background.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It is a welcome reflection of the hard work that TfL has been putting in, that this world-renowned service is now becoming truly reflective of the diverse communities it serves
                            
                        </p>
                    </div>
                
            
            
            <p>Figures released by Transport for London's Public Carriage Office (PCO) show that London's black cabs are increasingly reflecting London's diverse communities.</p>
<p>Nearly one in three people applying to do 'the Knowledge' to become licensed London taxi drivers now come from Black, Asian and Minority Ethnic backgrounds.</p>
<p>Becoming a licensed taxi driver has become an increasingly popular career option for people from London's Black, Asian and Minority Ethnic communities.&nbsp; </p>
<h2>TfL campaign</h2>
<p>Since the launch of a TfL campaign in 2005 to encourage more applications from these groups, the proportion of applications from people of Black, Asian, and Minority Ethnic backgrounds has increased by more than 50 per cent. </p>
<p>The campaign started with the 'Put yourself in the driving seat' campaign, which aimed to increase awareness among Black, Asian, and Minority Ethnic communities about the career opportunities available as licensed taxi drivers.&nbsp; </p>
<p>Information booklets about how to become a licensed taxi or private hire driver have been distributed at post offices, community centres, libraries and job centres across London and publicised via a poster campaign. </p>
<h2>PCO roadshows</h2>
<p>The PCO has also run roadshows, and attended events and job fairs to support the initiative. </p>
<p>Transport Commissioner Peter Hendy said: 'Black taxis are an instantly recognisable part of London life, and an incredibly important part of our transport network. </p>
<p>'It is a welcome reflection of the hard work that&nbsp;TfL has&nbsp;been putting in, that this world-renowned service is now becoming truly reflective of the diverse communities it serves.'</p>
<p>TfL Director of Taxi and Private Hire, Ed Thompson, said: 'We have done, and are still doing, a huge amount of work to encourage taxi driver applications from London's many and diverse communities, and we are really pleased that people from all kinds of backgrounds are now coming through the world-famous Knowledge test.&nbsp; </p>
<p>'A taxi driving career in London is one that is open to all, as long as they have the right aptitude and can reach the required standard.'</p>
<p>
<hr>

<p>
<h3>Notes to editors</h3>
<ul>
<li>London is now served by 1,300 licensed taxi drivers from Black, Asian, and Minority Ethnic communities </li>
<li>To become a licensed taxi driver in the Capital, candidates must pass 'the Knowledge', to&nbsp;prove their knowledge of roads and places of interest in London </li>
<li>The PCO is also striving to attract more women to the licensed taxi trade. Currently just under 4 per cent of the 'Knowledge' applicants are women and there are just over 400 licensed women drivers. The PCO is also trying to encourage Public Hire Vehicle applications from women </li>
<li>The PCO,&nbsp;part of TfL, is charged with the responsibility of licensing taxi and private hire services in London </li>
<li>There are approximately 25,000 licensed taxi drivers in the Greater London area and 22,000 black cabs </li>
<li>People can find out more about becoming a licensed driver&nbsp;or request an application pack&nbsp;on the <a href="/businessandpartners/taxisandprivatehire/1364.aspx">TfL website</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Figures released by Transport for London's Public Carriage Office (PCO) show that London's black cabs are increasingly reflecting London's diverse communities.Nearly one in three people applying to do 'the Knowledge' to become licensed London taxi drivers";}
        
        


 