


@{ViewBag.Title = "Improved bus services in Stratford, Clapton and Bow";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Improved bus services in Stratford, Clapton and Bow</h1>
        <div class="content-page-press-release">
        01 July 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From 5 July 2008, Transport for London will introduce new bus route 425 to serve Stratford, Clapton and Bow.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We regularly review the bus network to make sure it provides the most effective service"</div>
        <div class="quote-footer">
            <div class="quotee-name">John Barry</div>
            <div class="quotee-job-title">Head of Network Development for London Buses</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We regularly review the bus network to make sure it provides the most effective service
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Changes to routes 276 and S2, which is also being re-numbered as route 488, complete the enhancements to bus services in the area following a review of local services.</p>
<p>The new route 425 will run from Stratford to Clapton Pond via Bow, Mile End and Victoria Park, providing extra buses on busy sections of routes 25 and 277.</p>
<p>It will serve key destinations including Well Street Market and Homerton Hospital, and will run every 12-15 minutes during the day and every 20 minutes in the evenings.</p>
<p>New double deck buses will be phased in during the first few weeks of operation.</p>

<h2>New routes for residents</h2>
<p>On the same day, route 488 will replace part of route S2, which is being withdrawn.</p>
<p>Route 488 will be served by single deck buses running every 12-15 minutes during the day and every 20 minutes in the evenings.</p>
<p>It will run along much of the same route as the S2 between Clapton and Bromley-by-Bow Station, however it will not run to Stratford.</p>
<p>Links to Stratford will continue to be provided by routes 108, 276 and new route 425.</p>

<h2>Frequent transport links</h2>
<p>Route 276 will also be diverted to serve Bow Road, Fairfield Road, Parnell Road and Wansbeck Road.</p>
<p>Daytime frequencies will be increased so that buses run every 10 minutes.</p>
<p>John Barry, Head of Network Development for London Buses, said: 'New route 425 and the changes to route 276 and the 488 will provide extra capacity and new links for local residents and bus users.</p>
<p>'We regularly review the bus network to make sure it provides the most effective service for passengers.'</p>
<p>Passengers can find out more about the changes to local bus services on the <a href="http://www.tfl.gov.uk/buses">Transport for London website</a>.</p>
<p>
<hr>
<strong>Notes to</strong> <strong>editors: 
<p>
<ul>
<li></li></ul></strong>New route 425 will run between Clapton and Stratford serving Homerton Hospital, Well Street, Grove Road, Mile End, Bow Church &nbsp;and Stratford High Street 
<li>Route 488 is replacing part of the existing route S2, which is being withdrawn.&nbsp;This route will run between Clapton (Nightingale Road) and Bromley by Bow Station, serving Lower Clapton, Homerton Hospital, Kenworthy Road, Old Ford and Bow Church </li>
<li>Route 276 will continue to run between Newham General Hospital and Stoke Newington.&nbsp;Between Bow Flyover and Hackney Wick it will be re-routed to serve Bow Road, Fairfield Road, Tredegar Road, Parnell Road and Jodrell Road.&nbsp;Fish Island will continue to be served by route 339<br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Changes to routes 276 and S2, which is also being re-numbered as route 488, complete the enhancements to bus services in the area following a review of local services.The new route 425 will run from Stratford to Clapton Pond via Bow, Mile End and Victoria";}
        
        


 