


@{ViewBag.Title = "London taxi fares to increase if fuel prices reach 154p per litre ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London taxi fares to increase if fuel prices reach 154p per litre </h1>
        <div class="content-page-press-release">
        31 July 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The TfL Board today announced that if diesel prices hit 154p per litre between now and February 2009, taxi fares in London will go up by 50p per trip to help drivers meet the increased costs of running a taxi.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Fuel makes up about ten per cent of the costs of running a taxi and unlike many other trades, taxi drivers cannot put prices up to reflect increased costs"</div>
        <div class="quote-footer">
            <div class="quotee-name">Jeroen Weimar</div>
            <div class="quotee-job-title">Chief Operating Officer of TfL's Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Fuel makes up about ten per cent of the costs of running a taxi and unlike many other trades, taxi drivers cannot put prices up to reflect increased costs
                            
                        </p>
                    </div>
                
            
            
            <p>This decision was reached following consultation with organisations representing London's travelling public, businesses and the taxi industry. </p>
<p>The cost of fuel has risen 27 per cent since TfL determined 2008 taxi tariffs, following its annual review of fares.&nbsp; </p>
<p>If fuel prices don't hit the 154p per litre mark before February 2009, the increased cost of fuel over the course of 2008 and the financial burden taxi drivers have faced as a result will be reflected in the April 2009 fares revision.</p>
<p>Jeroen Weimar, Chief Operating Officer of TfL's Surface Transport, said: 'Black cabs are an invaluable part of London's transport network, and more than 250,000 people use them every day.&nbsp; </p>
<h2>Pricing restrictions</h2>
<p>'We recognise the burden that fuel price increases have had on taxi drivers this year. Fuel makes up about&nbsp;10 per cent of the costs of running a taxi and unlike many other trades, taxi drivers cannot put prices up to reflect increased costs. </p>
<p>'Passengers can rest assured, however, that any increase in fares as a result of this decision will be taken into account when TfL sets taxi tariffs in April 2009.'</p>
<p>The additional 50p charge, if it is introduced, will be added to the meter by the driver at the start of each trip. It will be authorised by a sticker in the taxi stating that the supplement has been introduced by TfL as a result of the high cost of fuel. </p>
<p>
<hr>

<p>
<h3>Notes to editors</h3>
<ul>
<li>The Public Carriage Office, part of Transport for London, is responsible for licensing and regulating London's taxi and private hire services </li>
<li>There are more than 21,000 licensed taxis and almost 25,000 licensed taxi drivers </li>
<li>Taxi fares are normally revised each April based on changes to a cost index in use since 1981. The index, agreed with the taxi trade, combines changes in operating costs with national earnings to produce a change in average fares aimed at maintaining drivers' real earnings (relative to national average earnings) net of operating costs </li>
<li>A 50p metered extra will be charged only when London retail diesel fuel prices (as measured by the Arval index) reaches the threshold level of 154 p/litre between now and 1 February 2009. If the fuel price did not reach the threshold level by 1 February 2009, the metered extra would not be authorised because any adjustment after that date would be too close to the fares revision that is due to take place in April 2009 </li>
<li>Taxi drivers are not allowed to charge more than the fare shown on the taximeter. They are allowed to add certain 'extras' to the metered fare by pressing a button on the meter that works in 50p increments. The extras that can be charged at present are for hirings booked by telephone, for journeys from Heathrow Airport and journeys on public holidays at Christmas and the New Year. </li></ul>
<h3></h3>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This decision was reached following consultation with organisations representing London's travelling public, businesses and the taxi industry. The cost of fuel has risen 27 per cent since TfL determined 2008 taxi tariffs, following its annual review of";}
        
        


 