


@{ViewBag.Title = "New signage guidelines introduced for London's licensed private hire vehicles";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New signage guidelines introduced for London's licensed private hire vehicles</h1>
        <div class="content-page-press-release">
        11 July 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From today, all London licensed private hire vehicles (PHVs) will be allowed to display licensed operator information on their vehicle, including a contact number that customers can use to book a minicab when out and about in London.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We want everyone in London to have a safe way to travel, whatever the time of day or night"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ed Thompson</div>
            <div class="quotee-job-title">Director of Taxi & Private Hire at the Public Carriage Office</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We want everyone in London to have a safe way to travel, whatever the time of day or night
                            
                        </p>
                    </div>
                
            
            
            <p>Responding to requests from private hire operators, they will be able to display the name and contact details (telephone numbers and/or website address) of licensed operators on the back window of their vehicle, next to their registration plate and on the flat surface of the roof (not protruding), where the information can only be visible from above. </p> <p>Ed Thompson, Director of Taxi &amp; Private Hire at the Public Carriage Office, said: 'This measure will help PHV customers identify their booked vehicles and allow licensed operators to promote their services.</p> <p>'We want everyone in London to have a safe way to travel, whatever the time of day or night.</p> <p>'Using our Cabwise service, passengers can already get the numbers of two licensed private hire firms operating in the local area sent direct to their mobile phone, just by texting 'HOME' to 60835.&nbsp; </p> <p>'Minicabs must be booked through a licensed operator and not just taken on the street.</p> <p>'It is illegal for a private hire driver to carry passengers without a proper booking - the only vehicle that can be flagged down in the street is a licensed black cab.'</p> <p>Vehicle owners are reminded that signs are not allowed on the sides of licensed PHVs and commercial advertising on behalf of third parties is not permitted.</p> <p> <hr> <strong>Notes to editors: <p> <ul> <li></li></ul></strong>The Public Carriage Office, part of Transport for London, is responsible for licensing and regulating London's taxi and private&nbsp;hire services  <li>As governed by regulation 8 of the PVH (London PHV Licences) Regulation 2004, signs on the rear window&nbsp;must not obscure rearward vision and materials used should comply with current opacity regulations set out in the guidelines  </li><li>There are now around 2,400 licensed private hire operators, 50,000 licensed private hire drivers, and some 50,000 licensed PHVs in London  </li><li>Licensed PHVs now have similar rights to pick-up and set-down on the Capital's red route network as licensed&nbsp;black cabs. In order to have these rights, PHVs must show additional signage on the front and back of their vehicles to help identify them more clearly  </li><li>Warning and safety signs, for example no smoking, surveillance camera systems or the availability of access ramps for wheelchair users, are also allowed but are subject to approval from the Public Carriage Office  </li><li>PVHs in London are regulated by the PVH (London) Act 1988 and must have special discs on&nbsp;their windscreen and rear window indicating their licence status. London licensed minicab drivers are also required to wear ID badges<br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Responding to requests from private hire operators, they will be able to display the name and contact details (telephone numbers and/or website address) of licensed operators on the back window of their vehicle, next to their registration plate and on the";}
        
        


 