


@{ViewBag.Title = "Oxford Street bus diversions - Works to enable Tottenham Court Road station redevelopment";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Oxford Street bus diversions - Works to enable Tottenham Court Road station redevelopment</h1>
        <div class="content-page-press-release">
        25 July 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Buses travelling westbound will be on diversion between Tottenham Court Road and Oxford Circus from 21.00 on Friday 1 August until 18.00 on Friday 22 August.
        
    </div>



 <div class="on-this-page">
<p>Westbound services on the following routes will be affected during the works: 7, 8, 10, 25, 55, 73, 98, 134, 176, 390, N7, N8, N10, N55, N73, N98 and N207.</p> <p>The diversions may add an extra ten minutes to journey times and buses along each of these routes may be subject to delays.</p> <p>Details of the diversions can be found on the <a href="http://www.tfl.gov.uk">TfL website</a>. </p> <p>The road closure will allow essential work to be carried out in preparation for the redevelopment of Tottenham Court Road station. </p> <p>Utilities companies and Westminster City Council will also take the opportunity to carry out works including Thames Water Victorian mains replacement works. </p> <p>By 2017, Tottenham Court Road station will be one of the most important stations in the West End serving both London Underground and Crossrail.</p> <p>Starting next year, Tottenham Court Road will be extensively redeveloped to create an expanded Tube ticket hall approximately six times larger than at present.</p> <p>The station's capacity will double.</p> <p>Royal Assent for the Crossrail Bill giving legal and planning powers to build Crossrail and redevelop Tottenham Court Road was obtained earlier this week.</p> <p> <hr> <strong>Notes to editors: <p> <ul> <li></li></ul></strong>Passengers are advised to allow extra time for their journeys  <li>Routes 7, 8, 10, 25, 55, 98, 390, N7, N8, N10, N55, N98, N207 will be diverted via Shaftesbury Avenue, Great Windmill Street, Haymarket, Jermyn Street and Regent Street  </li><li>Rather than turning onto Gower Street, buses on routes 73 and N73 will continue along Euston Road, onto Great Portland Street, New Cavendish Street, Portland Place, Langham Place, Regent Street and back in to Oxford Street  </li><li>Buses travelling northbound on route 176 will be curtailed at St Giles High Street. Buses travelling southbound on the route 176 will operate from St Giles High Street via Earnshaw Street, New Oxford Street, Andrew Borde Street and Charing Cross Road to its normal line of route  <ul> <li>Northbound services on route 134 will start at bus stop 'C' in Tottenham Court Road  </li><li>Buses will serve all bus stops on the diversion routes  </li><li>A <a href="http://www.tfl.gov.uk/corporate/media/newscentre/8859.aspx">public exhibition </a>outlining the transport improvements taking place at Tottenham Court Road station will be held from Thursday 24 July to Saturday 9 August 2008 at New London Architecture, Store Street, London </li></ul> <li>Crossrail will be a brand new, fast and reliable railway from Maidenhead and Heathrow in the west to Shenfield and Abbey Wood in the east, travelling through central London with Tottenham Court Road a key point on the route  </li><li>Crossrail will increase London's public transport network capacity by 10 per cent, cutting journey times and relieve congestion on rail and Tube lines. It will be a brand new service with capacity double that of the Jubilee line and will support regeneration and jobs in many areas of London, including the West End</li>
            

            
            

        </li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Westbound services on the following routes will be affected during the works: 7, 8, 10, 25, 55, 73, 98, 134, 176, 390, N7, N8, N10, N55, N73, N98 and N207. The diversions may add an extra ten minutes to journey times and buses along each of these routes";}
        
        


 