


@{ViewBag.Title = "Public exhibition to showcase future redevelopment of Tottenham Court Road station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Public exhibition to showcase future redevelopment of Tottenham Court Road station</h1>
        <div class="content-page-press-release">
        23 July 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A public exhibition outlining the transport improvements taking place at Tottenham Court Road station will be held from Thursday 24 July to Saturday 9 August 2008 at New London Architecture, Store Street, London.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It is a scale of investment not seen for decades and will dramatically improve one of the most congested parts of the transport network
                            
                        </p>
                    </div>
                
            
            
            <p>By 2017, Tottenham Court Road station will be one of the most important stations in the West End serving both London Underground and Crossrail. </p>
<h2>Tube ticket hall</h2>
<p>Starting next year, Tottenham Court Road station will be extensively redeveloped to create an expanded Tube ticket hall approximately six times larger and the station will have twice the capacity than at present. </p>
<p>Royal Assent for the Crossrail Bill, giving the powers to build this new route and redevelop Tottenham Court Road station, was given yesterday.</p>
<p>Tottenham Court Road station and the area around it needs improving to make it a better place to live, work, visit and run a business. The station is one of the most congested on the Tube network and is used by approximately 150,000 people a day, which is expected to grow to 200,000 a day when Crossrail opens in 2017.</p>
<h2>Improved facilities for all</h2>
<p>A major investment programme is planned to deliver a new upgraded Tube station, new Crossrail station and a new piazza with improved facilities for pedestrians, cyclists, bus passengers and other road users. </p>
<p>If works to dramatically improve the station are not undertaken the station would have to close on a regular basis due to overcrowding.</p>
<p>As well as the Crossrail and London Underground schemes, there are a number of other transport plans taking place in the area, some led by local authorities and some by other organisations. These include:</p>
<ul>
<li>Creating a public space and enhanced pedestrian routes to the neighbourhoods of Covent Garden, Fitzrovia, Bloomsbury and Soho </li>
<li>An action plan for the shopping streets of Oxford Street, Regent Street and Bond Street that includes a proposed diagonal crossing at Oxford Circus and wider pavements for the Oxford Street area </li>
<li>Plans for a better local environment including reducing street clutter and bringing improvements to pedestrian and cycle routes on either side of Centre Point</li></ul>
<h2>Significant transport benefits</h2>
<p>Richard Parry, Director of Strategy and Service Development, London Underground said: 'The redevelopment of Tottenham Court Road station will deliver very significant transport benefits with a dramatically expanded ticket hall and new station entrances at Dean Street and Charing Cross Road.</p>
<p>'It is a scale of investment not seen for decades and will dramatically improve one of the most congested parts of the transport network, bringing benefits to residents and businesses alike and helping to spur further investment in the area. </p>
<p>'Tottenham Court Road is currently only served by the Tube, but by 2017 it will also be served by Crossrail. This means that the current Tube station will be transformed to become a major West End station serving both passengers travelling direct from within London and beyond.</p>
<p>We are committed to keeping local people informed, and this exhibition will give passengers, residents and businesses in the vicinity of the station an opportunity to gain a greater understanding of how the plans to improve the station will affect them.'</p>
<h2>Utility diversions</h2>
<p>To deliver a bigger station, the space under the road and pavement where the current ticket hall is located needs to be enlarged - but at present this area is full of sewers and pipes carrying electricity, telecommunications and water.</p>
<p>All these utilities have to be diverted before we can start enlarging the station. An 18-month programme of utility diversions started in March 2007. </p>
<h2>Bus routes</h2>
<p>From 1 January 2009, a number of local bus services will need to be re-routed for approximately seven years to allow the redevelopment of Tottenham Court Road station to take place. TfL has been working with the London Borough of Camden and Westminster City Council on the best way of managing the diversions. </p>
<p>Further information about diversions to local bus services will be provided during the coming months.</p>
<p>The exhibition will be open Thursday 24 July to Saturday 9 August 2008 inclusive at the following times:</p>
<ul>
<li>Monday and Tuesdays - 9am to 7pm</li>
<li>Wednesdays, Thursdays and Fridays - 9am to 5pm</li>
<li>Saturday 26 July - 10am to 5pm</li>
<li>Saturday 2 and 9 August - 10am to 1.30pm<br>Sundays - closed</li></ul>
<p>New London Architecture is located at 26 Store Street, London, WC1E 7BT. The nearest Tube stations are Goodge Street and Tottenham Court Road.<br>
<hr>

<p>
<h3>Notes to editor:</h3>
<ul>
<li>Over recent years, both London Underground and Crossrail generated separate redevelopment proposals for Tottenham Court Road station</li>
<li>In 2004 agreement was reached with the Department for Transport that London Underground's proposals would be incorporated within the Crossrail Hybrid Bill. Now approved, the Crossrail Act provides the necessary powers to enable this crucial station upgrade </li>
<li>The Crossrail Bill was deposited in the House of Commons in February 2005. It progressed to the House of Lords in December 2007 and Royal Assent was received on 22 July 2008 </li>
<li>In May 2006, London Undergound submitted a planning application to both the London Borough of Camden and Westminster City Council to enable some utility diversions in the Tottenham Court Road area. The application set out plans to divert utility supplies required to build an enlarged ticket hall ahead of the approval of the Crossrail Hybrid Bill </li>
<li>In September 2006, both local authorities approved the planning application and powers were granted to commence </li>
<li>Birse Metro, part of the Balfour Beatty Group, was awarded a &pound;22m contract for a project involving extensive relocation of utlity services in the area surrounding the station, as part of the major upgrade to Tottenham Court Road station </li>
<li>Crossrail will be a brand new fast and reliable railway from Maidenhead and Heathrow in the west to Shenfield and Abbey Wood in the east, travelling through central London with Tottenham Court Road a key point on the route </li>
<li>Crossrail will increase London's public transport network capacity by 10 per cent, cut journey times and relieve congestion on rail and Tube lines. It will be a brand new service with capacity double that of the Jubilee line and will support regeneration and jobs in many areas of London, including the West End</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "By 2017, Tottenham Court Road station will be one of the most important stations in the West End serving both London Underground and Crossrail. Tube ticket hallStarting next year, Tottenham Court Road station will be extensively redeveloped to create an";}
        
        


 