


@{ViewBag.Title = "The Hoard and the Grapevine at Stratford Tube station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>The Hoard and the Grapevine at Stratford Tube station</h1>
        <div class="content-page-press-release">
        14 July 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Commissions by two artists will be installed in Stratford Tube station this July, both of which make the local people the focus of their work.
        
    </div>



 <div class="on-this-page">
<p>The works from Lucy Harrison and Alan Kane will be the first in an ongoing series of contemporary projects from Art on the Underground, which has commissioned projects for the station in the lead up to the London 2012 Olympic and Paralympic Games.</p>
<h2>Lucy Harrison </h2>
<p>Lucy Harrison has been working closely with local communities, businesses and individuals to explore and reveal the social networks that operate in and around the station and the nearby town. Her discoveries have been compiled in the form of a free newspaper with a difference. </p>
<p>The Stratford Grapevine depicts the minutiae of daily life in the area as it experiences the first waves of epic change as the Games approach. Issue one of the paper, available from the station and online from 17 July, contains exclusive interviews with the Newham Striders, an Origami competition and a feature on Midfield FC.</p>
<h2>Alan Kane</h2>
<p>Alan Kane presents The Stratford Hoard. His eclectic series of exhibitions will reveal the private collections of people who live or work nearby or have a connection to the station. Three shows presented in museum-quality cases and large-scale visual will present personal hoards such as Elizabeth Parker's 1000 sugar cubes, Kacey Young's decorative souvenir teaspoons, and Tyler Harrington's 1980s printed milk bottles. </p>
<p>The commissions are the beginning of a new era of artworks for the station and highlight a new phase for the general Art on the Underground programme.&nbsp; Reflecting the station as a hub at the centre of a changing landscape, the artworks for Stratford will be social in nature.&nbsp; </p>
<p>Many will involve the local community directly in their development and production, each producing a different portrait of Stratford during this period of development and change.</p>
<p>Tamsin Dillon, Head of Art on the Underground, said: 'From the beginning, Art on the Underground was certain that the artwork produced for this station should involve the individuals and groups who live in, work in and visit Stratford.&nbsp; </p>
<p>'Central to the lives of so many people in the area, the station should embody something about the community that use it and in the run up to the London 2012 Olympic and Paralympic Games, Stratford's Art on the Underground projects will have the Olympic agendas of inclusion and celebration at their heart.' </p>
<p>
<hr>
</p>
<h3>Notes to editors</h3>
<p>1.&nbsp;Free copies of The Stratford Grapevine Issue one will be available from the mezzanine in Stratford station from Thursday 17 July. Copies can also be downloaded from the Art on the Underground website where the public can send suggestions for content or leave a comment.<br>- Issue one, 18 September 2008 <br>- Issue three, 6 November 2008 </p>
<p>2.&nbsp;Details of each collection appearing in the hoard will also be displayed on the AOTU website where visitors can contact us about their own collections to potentially be included as well as to leave a comment about the project. Alan Kane's exhibitions will change on the following dates:<br>-&nbsp; 1st Exhibition -Thursday 17 July 2008<br>-&nbsp; 2nd Exhibition - Saturday 23 August 2008 <br>-&nbsp; 3rd Exhibition - Saturday 27 September 2008 </p>
<p>3.&nbsp;Lucy Harrison's previous works have encouraged local people to look at the character and history of a particular place, generating information and fostering dynamic new social groups as a consequence of her interventions. They have taken place in a range of contexts including bingo halls, walking clubs and social centres, places where communities gather and form around a collective interest. </p>
<p>4.&nbsp;Alan Kane is perhaps best known for his collaborative work 'Folk Art Archive' with artist Jeremy Deller where they collected and documented the overlooked features of British folk culture. Kane questions what constitutes an artwork and the role that the artist plays in its production, thus, the process behind making art becomes as important as the finished presentation.</p>
<p>5.&nbsp;This project has been supported with funds from the Calouste Gulbenkian Foundation.</p>
<p>6.&nbsp;Lucy Harrison and Alan Kane's works will be the latest in a series across the LU network. Other innovative works that have appeared as part of the Art on the Underground programme include a poster giveaway where 125,000 artworks were distributed at key stations, limited-edition Oyster wallets, an entire Piccadilly line Tube train wrapped in an art work, pocket Tube map covers - most recently by Turner Prize winner Mark Wallinger - and the transformation of the disused platform space at Gloucester Road into a stunning gallery space.&nbsp; With over three million passengers using the network per day, projects will be exposed to one of the biggest contemporary art audiences in Europe.</p>
<p>7.&nbsp;Art on the Underground is London Underground's art programme, producing high calibre artworks in unexpected places on the network, enhancing the millions of journeys made every day. It aims to promote a greater understanding of the Tube as a cultural and social environment through the creative commissioning of artworks.</p>
<p>8.&nbsp;Art on the Underground commissions artworks across the entire London Underground (LU) network and focuses on different aspects of artistic production, historical or architectural features of the stations, trains and rail networks, as well as looking at the unique social make up of the world's oldest Underground system.&nbsp; </p>
<p>9.&nbsp;For more information about Art on the Underground, please visit <a href="http://www.tfl.gov.uk/art">www.tfl.gov.uk/art</a></p>
<p>10.&nbsp;Stratford station will play a significant part in the transportation of millions of spectators expected to attend the London 2012 Olympic Games and Paralympic Games.&nbsp; The station will be a key transport hub where DLR, Central line, Jubilee line and National Rail services will deliver spectators attending events at the Olympic Park.</p>
<p>11.&nbsp;The Jubilee line is being upgraded and will be completed at the end of 2009. Capacity has already been increased by 17 per cent with the addition of the seventh car in 2006.&nbsp; Signalling improvements will also mean more people can be carried.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The works from Lucy Harrison and Alan Kane will be the first in an ongoing series of contemporary projects from Art on the Underground, which has commissioned projects for the station in the lead up to the London 2012 Olympic and Paralympic Games.Lucy";}
        
        


 