


@{ViewBag.Title = "Transport for London begins improvement of Croydon Tramlink";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London begins improvement of Croydon Tramlink</h1>
        <div class="content-page-press-release">
        14 July 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        In the first of a series of improvements to the Croydon Tramlink, from 20 July TfL will increase the tram service on the Beckenham Junction and Elmers End routes so that trams run every 15 minutes during evenings and Sundays.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Passengers have told us that they need a more frequent service, and I'm pleased that we have been able to deliver this so swiftly"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Passengers have told us that they need a more frequent service, and I'm pleased that we have been able to deliver this so swiftly
                            
                        </p>
                    </div>
                
            
            
            <p>This improvement will make travel more convenient for passengers and brings the tram timetable into line with the TfL policy of providing a 'turn up and go' service.</p>
<p>Previously, there was a 30-minute wait between trams on these routes at these times.<br>&nbsp;<br>Passengers identified an increase in services as their top priority in a survey conducted for TfL in May just prior to TfL's takeover of the Croydon Tramlink. Of those interviewed, 28 per cent said they wanted trams to run more often.<br>&nbsp;<br>The Mayor of London, Boris Johnson, said: 'One of the major reasons for Transport for London taking control of the Croydon Tramlink last month was to improve the service for the passengers who rely on it.&nbsp; </p>
<p>'Passengers have told us that they need a more frequent service, and I'm pleased that we have been able to deliver this so swiftly. </p>
<p>'This is the first of many improvements that will be designed to make Tramlink, and the rest of the transport network, more convenient, reliable and safe.'<br>&nbsp;<br>Managing Director of TfL London Rail, Ian Brown, said: 'We are pleased to be able to reduce waiting times so soon after taking over Tramlink. These apparently small improvements will make a big difference for our passengers.<br>&nbsp;<br>'We are also working on a number of other upgrades including refurbishing trams and stops and improving policing on the network.'&nbsp;<br>&nbsp;<br>TfL bought Tramtrack Croydon Ltd, the company which owned the operating concession and administered the Tramlink network, on 27 June 2008.</p>
<p>
<hr>
<br></p>
<h3>Notes to editors: </h3>
<p>1. Tramlink is a 28km light rail system with 24 tram units on three lines providing a fast, frequent and reliable connection to and through a number of areas in south London, including Croydon and Wimbledon. It became fully operational on 30 May 2000, reintroducing street running light rail to London after an absence of almost 50 years.</p>
<p>2. TfL is keen to improve the Tramlink system so that it can carry increasing passenger numbers. An investment programme is being developed which, subject to future funding commitments, could upgrade the network so Tramlink provides the best possible public transport service well into the future.&nbsp; </p>
<p>3. The research was undertaken by independent research company, Synovate. Researchers interviewed by telephone 423 people who lived within 800 metres of a tram stop and the conducted face to face interviews with153 people as they boarded or alighted from trams. These interviews were conducted between Thursday 22nd and Saturday 31st May inclusive.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This improvement will make travel more convenient for passengers and brings the tram timetable into line with the TfL policy of providing a 'turn up and go' service.Previously, there was a 30-minute wait between trams on these routes at these";}
        
        


 