


@{ViewBag.Title = "Twickenham Bridge at 75";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Twickenham Bridge at 75</h1>
        <div class="content-page-press-release">
        02 July 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Captioned 'A beautiful concrete structure' in the July 1933 edition of Country Life, Twickenham Bridge celebrates 75 years of improving London's traffic flow.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Twickenham Bridge remains as important today, as it was seventy-five years ago"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Brown</div>
            <div class="quotee-job-title">Chief Operating Officer for Streets at Transport for London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Twickenham Bridge remains as important today, as it was seventy-five years ago
                            
                        </p>
                    </div>
                
            
            
            <p>Thursday 3 July marks the 75th anniversary of the opening of Twickenham Bridge by HRH Edward, the Prince of Wales.</p>
<p>The bridge, along with Chiswick Bridge, which celebrates it's 75th anniversary on the same day, was built to relieve increasing congestion on Richmond Bridge and take the Chertsey arterial road across the Thames.</p>
<p>It is now part of the Transport for London Road Network (TLRN) and is a vital link between London and the M3.<br>&nbsp;<br>Despite plans for the bridge being suggested in 1909, as a result of the 1914-18 War and disagreements on the exact route and financing of the bridge, it was not until 1926 that the Ministry of Transport decided to go ahead, appointing&nbsp; Maxwell Ayrton as architect and Alfred Dryland as head engineer for the project.<br>&nbsp;<br>Employing between 175 to 200 men to construct the bridge, it provided a welcome source of local jobs at a time of high unemployment.</p>
<p>However, the extensive construction operation meant that over 300 families had to be relocated as houses and shops were demolished to accommodate the new route. <br>&nbsp;<br>The initial design for the bridge envisaged four 70 foot towers at the riverbanks and retaining walls 20 feet above road level.</p>
<p>However, a local petition was organised by the Daily Telegraph against the design on the grounds that it was inappropriate to the setting in Richmond.</p>
<p>In response, the scheme was changed.</p>
<p>The final arch design incorporates three permanent hinges enabling the structure to adjust to changes in temperature, the first reinforced concrete bridge structure in the UK to use such design innovation.<br>&nbsp;<br>In all, 45,000 tons of concrete, 7,000 tons of Portland cement and 800 tons of steel were used to build the 70 foot wide and 2,500 feet long structure at a cost of &pound;217,300.<br>&nbsp;<br>Peter Brown, Chief Operating Officer for Streets at Transport for London said: 'Originally built to relieve increasing traffic pressures in Richmond, Twickenham Bridge remains as important today, as it was seventy-five years ago.</p>
<p>'Some 56,000 vehicles use the bridge each day to cross the Thames - a four-fold increase in traffic since its opening in 1933.'<br>&nbsp;<br>
<hr>
<strong>Notes to editors: 
<p>
<ul>
<li></li></ul></strong>Transport for London looks after 580km of road network (TLRN), which represents five per cent of the Capital's roads and carries 33 per cent of its traffic 
<li>For more information on Twickenham Bridge please visit the London Borough of Richmond Upon Thames local studies. For opening hours <a href="http://www.richmond.gov.uk/home/leisure_and_culture/libraries.htm">click here</a><br></li>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Thursday 3 July marks the 75th anniversary of the opening of Twickenham Bridge by HRH Edward, the Prince of Wales.The bridge, along with Chiswick Bridge, which celebrates it's 75th anniversary on the same day, was built to relieve increasing congestion on";}
        
        


 