
    
  



@{ViewBag.Title = "Consultations & surveys";}
@{ViewBag.Keywords = "Planning and construction,Public,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/how-we-work/planning-for-the-future/consultations-and-surveys";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work">How we work</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work/planning-for-the-future">Planning for the future</a></li>
                
            
            
                <li><span class="last-breadcrumb">Consultations & surveys</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Consultations & surveys</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We value the opinions of our customers and stakeholders, and regularly ask for views on a range of transport issues.
        
      </div>
    
    <div class="on-this-page">
      <h2>Consultation hub</h2>

<p>One of the ways we gather feedback is through online questionnaires on our <a href="https://consultations.tfl.gov.uk/">consultations hub</a>.</p>

<p>We consult on:</p>

<ul>
	<li>New guidance, policy updates and amendments</li>
	<li>Changes to bus services</li>
	<li>Relocation of bus stops and shelters</li>
	<li>Design and management of London roads</li>
	<li>Major transport projects and developments</li>
</ul>

<h3>How we reach a decision</h3>

<p>We always consider feedback during the decision-making process. Final plans will also take other factors into account, including relevant financial, legal, safety and technical issues.</p>

<p>Some decisions, such as highway changes, also depend on decisions made by London boroughs.</p>

<p>Once a decision is made, it is published online.</p>

<h2>London Travel Demand Survey</h2>

<p>Each year, 8,000 randomly selected households in London and the surrounding area are interviewed about their travel habits as part of the London Travel Demand Survey.</p>

<p>If you or your household have been chosen to complete the survey, we hope you will take part and help us improve travel and transport for everyone who lives, works and travels in London.</p>

<p>Three questionnaires are carried out:</p>

<ul>
	<li>Household - basic demographic information such as income, housing tenure and vehicle ownership</li>
	<li>Individual - completed by all members of the household aged five and over. This includes further demographic and travel-related information such as working status, frequency of use of transport modes, and details of driving licences and public transport tickets held</li>
	<li>Trip sheets - completed by every household member aged five and over. This gathers data on all trips made on a designated travel day. Details captured include trip purposes, modes used, trip start and end times, and the locations of trip origins and destinations</li>
</ul>

<p>The Survey helps to raise money for charities - we make a donation for each completed survey.</p>
      
           
      
<div>




<h3>Latest survey results</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/ltds-0518.xlsx">
    <div class="document-download-text">
        <p>London Travel Demand Survey -  Workbook 2017/18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 272KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.27 -->
 
</div>

</div>
 <div>

<h2>Travelcard Survey</h2>

<p>Working with the Rail Delivery Group, we run an ongoing survey on Travelcards to help us understand how they are used and to raise money for charity.</p>

<p>We distribute thousands of Travelcard diaries every year and donate &pound;2 to charity for each completed survey returned to us.</p>

<p>We distribute thousands of Travelcard surveys every year for customers to record their journeys on public transport. We can't get this data from Oyster records alone because customers using Travelcards on Oyster don't necessarily need to touch in and out when travelling within their ticket's zones.</p>

<p>For each diary completed and returned to us, we donate &pound;2 split equally between our four nominated registered charities:</p>

<ul>
	<li><a href="http://www.asthma.org.uk/">Asthma UK</a></li>
	<li><a href="http://www.rspb.org.uk">The Royal Society for the Protection of Birds</a></li>
	<li><a href="https://www.mariecurie.org.uk/">Marie Curie</a></li>
	<li><a href="http://www.citizensadvice.org.uk/">Citizens Advice Bureau</a></li>
</ul>

<p>Customers have helped us raise more than &pound;495,000&nbsp;as of Jan&nbsp;2020. Our latest donation shared &pound;1,842&nbsp;among our nominated charities.</p>

<p>You may receive a Travelcard diary through the post or by email, or one of our surveyors may offer you a diary at a station.</p>

<p>The diaries are simple to fill in and free to return, see below for more detail on completing a diary.</p>

<p>Every diary we get back is useful, so thanks to all of you who have helped out with the survey so far.</p>

<p><strong>Completing diaries</strong></p>

<p>When completing diaries, please remember to:</p>

<ul>
	<li>Record all trips, including return trips</li>
	<li>Record trips on London Overground and TfL Rail as 'Rail'</li>
	<li>Record trips on different modes separately, for example if you take the Tube to Finsbury Park and then change to National Rail, record the trips as separate entries on the diary</li>
</ul>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/travelcard-diary-example.pdf">
    <div class="document-download-text">
        <p>Travelcard diary sample</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 569KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.56 -->
 
</div>

</div>
 <div>

<h3>Selecting our charities</h3>

<p>The four charities selected to receive the Travelcard survey donation were chosen to reflect a wide range of&nbsp; public interests.</p>

<p>We are not actively looking at the moment for any other charities to join the survey.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/how-we-work" class="heading">
                    <h2 id="sub-menu-heading">How we work<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-role">Our role</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-governed">How we are governed</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-funded">How we are funded</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future">Planning for the future</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/bakerloo-line-extension">Bakerloo line extension</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/consultations-and-surveys">Consultations & surveys</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/developing-the-rail-network">Developing the rail network</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/encouraging-cycling-and-walking">Encouraging cycling and walking</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Healthy Streets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/london-airports">London's airports</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/new-river-crossings-for-london">New river crossings for London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/rotherhithe-canary-wharf-crossing">Rotherhithe-Canary Wharf crossing </a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/public-affairs">Public affairs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-customer-commitments">Our customer commitments</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We consult the public regularly on changes we're planning to services as well as roads and other infrastructure. We also run surveys to understand how people use London's transport network";}
        
            
        


 