
    
  



@{ViewBag.Title = "Developing the rail network";}
@{ViewBag.Keywords = "Public,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/how-we-work/planning-for-the-future/developing-the-rail-network";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work">How we work</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work/planning-for-the-future">Planning for the future</a></li>
                
            
            
                <li><span class="last-breadcrumb">Developing the rail network</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Developing the rail network</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We want to create a more reliable, better connected and larger public transport network across south London, Surrey and Kent. We think that we could make fundamental changes, at relatively low capital cost, by making better use of the existing rail network.
        
      </div>
    
    <div class="on-this-page">
      <p>This would make it easier and quicker to travel, and support sustainable growth and new, affordable homes.</p>

<p>To do this we need to change how we plan and run the rail network. By viewing the transport network as a whole, rather than individual lines run by different companies, we have an opportunity to radically reshape the network around customers and communities, at the same time as running more efficiently.</p>

<p>London's population will rise to 10 million by 2030 - and from 15 to 17 million in the surrounding regions. Improving the rail network is essential to creating extra housing and jobs, as well as enhancing people's quality of life.</p>

<p>Rather than building new lines from scratch, we could redesign the existing services to reduce bottlenecks, free up more space on trains, and create direct connections.</p>

<h2>Benefits of a single network</h2>

<p>Transforming the suburban rail network within and just beyond the southern London boundary into a single, integrated network would bring:</p>

<ul>
	<li>Predictable services, including consistent stopping patterns and intervals between trains</li>
	<li>Better connections, with more frequent services and changing between services made easier</li>
	<li>More room on the network, created by longer trains and relieving bottlenecks</li>
	<li>Shorter journey times,&nbsp;supported by trains that accelerate and decelerate faster and have wider doors so getting on and off trains is more efficient</li>
	<li>More reliable services, with simplified service patterns that reduce conflicts at junctions</li>
	<li>Better customer service and experience,&nbsp;similar to the benefits of transferring services to London Overground, including simple fares, easy payment options and high quality customer information</li>
</ul>

<h2>Our strategic case</h2>

<p>Our strategic case is an argument for change. We hope it will start conversations with representatives and partners in south and southeast London.</p>

<p>The case for 'Metroisation' sets out some of the action needed to address these challenges and support better journeys, new homes and access to jobs.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/strategic-case-for-metroisation.pdf">
    <div class="document-download-text">
        <p>Strategic case  for metroisation in south and southeast London</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.57MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.57 -->
 
</div>

</div>
 
<div>




<p>In September 2018, the Government launched the Williams Rail Review to look at the structure of the whole rail industry and the way passenger rail services are delivered. The review will make recommendations for reform that prioritise passengers' and taxpayers' interests.</p>

<p>The review's findings and recommendations will be published in a government white paper in autumn 2019 and reform will begin in 2020. We submitted our evidence to the review in January 2019.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/evidence-to-williams-rail-review-final.pdf">
    <div class="document-download-text">
        <p>TfL's evidence to the Williams Rail Review</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.14MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.14 -->
 
</div>

</div>
 
<div>




<p>In October 2016 we presented a business case on rail devolution to the Secretary of State for Transport.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rail-devolution-business-case-narrative.pdf">
    <div class="document-download-text">
        <p>Business case for rail devolution</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.12MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/q-and-a-on-london-rail-devolution-october-16.pdf">
    <div class="document-download-text">
        <p>Q & A on our proposals</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 198KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 
</div>

</div>
 
<div>




<p>In September 2016 we presented a paper to our Board that summarised proposals we published in January 2016.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/board-20160922-item07-suburban-rail-services.pdf">
    <div class="document-download-text">
        <p>Item 7 - Suburban Rail Services</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 118KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 
</div>

</div>
 
<div>




<p>In January 2016 we published a joint proposal with the DfT that would improve customer journeys and support economic growth in the Capital and the rest of the South East.&nbsp;</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dft-tfl-rail-prospectus.pdf">
    <div class="document-download-text">
        <p>'A new approach to rail passenger services in London and the South East'</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.20MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.20 -->
 
</div>

</div>
 
<div>



<h2>Government rail franchises</h2>


<p>The Government held a consultation in February-May 2017 on a new franchise for rail services in southeast London and Kent.</p>
<p>We have responded to the Government's consultation.&nbsp;</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/south-eastern-franchise-consultation-2017-tfl-response.pdf">
    <div class="document-download-text">
        <p>Response to the Government's consultation on the new South Eastern rail franchise</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 402KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/how-we-work" class="heading">
                    <h2 id="sub-menu-heading">How we work<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-role">Our role</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-governed">How we are governed</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-funded">How we are funded</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future">Planning for the future</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/bakerloo-line-extension">Bakerloo line extension</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/consultations-and-surveys">Consultations & surveys</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/developing-the-rail-network">Developing the rail network</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/encouraging-cycling-and-walking">Encouraging cycling and walking</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Healthy Streets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/london-airports">London's airports</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/new-river-crossings-for-london">New river crossings for London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/rotherhithe-canary-wharf-crossing">Rotherhithe-Canary Wharf crossing </a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/public-affairs">Public affairs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-customer-commitments">Our customer commitments</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="http://crossrail2.co.uk/" class="plain-button">Crossrail 2</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "London Mayor Sadiq Khan wants TfL to have responsibility for London's suburban rail services";}
        
            
        


 