
    
  



@{ViewBag.Title = "Encouraging cycling and walking";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/about-tfl/how-we-work/planning-for-the-future/encouraging-cycling-and-walking";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work">How we work</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work/planning-for-the-future">Planning for the future</a></li>
                
            
            
                <li><span class="last-breadcrumb">Encouraging cycling and walking</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Encouraging cycling and walking</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We want London to become the world's best big city for cycling and walking. Enabling more people to cycle or walk will support London's growth and continuing success, and improve the health and quality of life of Londoners.
        
      </div>
    
    <div class="on-this-page">
      <p>The overarching goal of the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a> is that by 2041, 80% of journeys are to be made by walking, cycling and public transport.</p>

<p>Other ambitions are that by 2041:</p>

<ul>
	<li>All Londoners get 2 x 10 minutes of active travel each day</li>
	<li>70% of Londoners will live within 400 metres of the London-wide cycle network.</li>
</ul>

<p>Cycling and walking will be a core part of London's future success. The latest research on the economic contribution they make to the high street, businesses and London's growth is on the <a href="/corporate/publications-and-reports/economic-benefits-of-walking-and-cycling">Economic benefits of walking and cycling page</a>.</p>

<h2>Cycling</h2>

<h3>Cycling action plan</h3>

<p>The <a href="/corporate/about-tfl/the-mayors-transport-strategy#cycling">Cycling action plan</a> sets out how we intend to achieve the Mayor's Transport Strategy goals and to make London a city where cycling is attractive and accessible for all, regardless of age, gender or ability.</p>

<p>The plan suggests clear&nbsp;steps to address the issues that stop people cycling in London.</p>

<p>The&nbsp;three key strands to the action plan are:</p>

<h4>Streets that enable cycling</h4>

<p>To encourage cycling, Londoners need safe, accessible routes that are not dominated by motorised traffic.</p>

<ul>
	<li><a href="/modes/cycling/routes-and-maps/cycleways">Cycleways</a> - more than 450km of new Cycleway routes will be built by 2024. Each route will meet the New cycle route design quality criteria standards. Cycle Superhighways and Quietways will be incorporated into this unified network</li>
	<li><a href="/campaign/our-plan-for-londons-roads">Safer Junctions</a> - this programme is aimed at reducing&nbsp;road danger at 73 of the most dangerous junctions on TfL's roads</li>
	<li><a href="/info-for/boroughs/liveable-neighbourhoods">Liveable Neighbourhoods</a> - these borough-led local schemes will improve conditions for people walking and cycling London.</li>
	<li><a href="/modes/cycling/routes-and-maps/cycle-mini-hollands">Mini-Hollands</a> - these projects in Enfield, Kingston and Waltham Forest will be complete in 2021</li>
	<li><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/rotherhithe-canary-wharf-crossing">Rotherhithe-Canary Wharf river crossing</a> - this proposed river crossing would unlock thousands of new walking and cycling journeys</li>
</ul>

<p>Our <a href="/info-for/suppliers-and-contractors/traffic-management">Temporary Traffic Management handbook</a> offers guidance to industry to ensure that people can still walk and cycle when roadworks are taking place.&nbsp;&nbsp;</p>

<h4>Making it easy to get around by cycle</h4>

<p>Making a cycle journey should be as convenient as any other mode of transport.</p>

<p>Londoners who rely on technology for journey planning and on-street navigation can get help from&nbsp;two tools launched in 2019:</p>

<ul>
	<li><a href="https://tfl.gov.uk/maps/cycle">Interactive cycle map</a> - this shows existing and planned signed routes that make up the London wide cycle network, as well as Cycle Hire docking stations and public transport hubs</li>
	<li><a href="https://cycling.data.tfl.gov.uk/">Cycling infrastructure database</a> - this is the world's largest and most comprehensive database of cycling infrastructure. Available through our <a href="/info-for/open-data-users/our-open-data">open data platform</a>, it can improve journey planning, cycle parking mapping and give information on the location and type of existing infrastructure. The data has been added to our <a href="/plan-a-journey/index">Journey Planner tool</a></li>
</ul>

<p>Improving access to bikes and cycle parking can help unlock new cycle journeys.</p>

<ul>
	<li><a href="/corporate/publications-and-reports/cycling">Cycle parking implementation plan</a> - launched in July 2019, this plan sets out our approach to improving cycle parking across London</li>
	<li><a href="/modes/cycling/santander-cycles">Santander Cycles</a> - our cycle hire scheme offers bikes to hire 24 hours a day. Over 11,500 bikes are available from over 770 docking stations in London - customers use them for business or leisure trips, then return them ready for the next person to use. Docking stations are typically about 400 metres apart, off main roads, near tourist attractions, in parks, and at Tube and rail stations</li>
</ul>

<h4>Promoting cycling for all Londoners</h4>

<p>We work with schools and communities to remove barriers and change perceptions about cycling.</p>

<ul>
	<li>Walking and cycling grants - community groups can <a href="https://www.cyclinggrants.london/">apply for up to &pound;10,000 in funding</a> for local projects within greater London that support walking and cycling</li>
	<li><a href="/modes/cycling/cycle-skills">Cycle Skills</a> - this is the name of a range of training sessions created to help Londoners to get on their bike, build confidence or ride smarter. They are free to anyone who lives, works or studies in London</li>
	<li><a href="https://stars.tfl.gov.uk/">STARS</a> - schools that participate in TfL's school travel planning activities see a reduction in car use and an increase in active travel for the journey to school -&nbsp;the STARS website has resources to help schools set up cycle clubs, bikers breakfasts and scooter/bike pools</li>
	<li>See information on <a href="/modes/cycling/santander-cycles/business-accounts">Santander cycle business accounts</a></li>
</ul>

<h3>Understanding cycling in London</h3>

<p>The Cycling action plan draws on information from data sources such as the <a href="[ioID]">London Travel Demand Survey</a> and the 'Analysis of cycling potential' document on the <a href="/corporate/publications-and-reports/travel-in-london-reports">Travel in London reports page</a>.</p>

<p>Other date sources include Attitudes to cycling surveys, STATS19 collision data and monitoring of new schemes. Some of these are on the <a href="/corporate/publications-and-reports/cycling-and-walking">Cycling &amp; walking research page</a>.</p>

<p>Cycling has more than doubled in London since 2000 growing on average 5.8% a year from 2000-2017. Growth is strongest in areas where investment has been made in infrastructure. For example, in central London cycling rates increased by 20% between October-December 2014 and October-December 2018.</p>

<p>But surveys show there are still barriers to cycling in London such as fear of collision. And, despite the increases, the demographic make up of cyclists in London does not reflect the city's great diversity.</p>

<h3>An evidence-driven approach to cycling</h3>

<p>Plans for the future growth of London's cycle network are&nbsp;based on the Strategic cycling analysis (2017). See the report on the <a href="/corporate/publications-and-reports/cycling">Cycling page in Publications &amp; reports</a>.</p>

<p>New routes are prioritised based on current and future demand, new housing and jobs growth and where there are barriers and concerns preventing people from cycling.</p>

<h2>Walking</h2>

<h3>Walking action plan</h3>

<p>The <a href="/corporate/about-tfl/the-mayors-transport-strategy#action">Walking action plan</a> sets out how we will work with the boroughs, Business Improvement Districts, businesses, the police, schools, community and residents' groups and stakeholder organisations to tackle barriers to walking&nbsp; - and to make it the easiest and most attractive way of making short trips in London.</p>

<p>Our four main areas of actions are to:</p>

<ol>
	<li>Build and manage streets where people walk</li>
	<li>Plan and design for walking</li>
	<li>Integrate walking with public transport</li>
	<li>Lead a culture change</li>
</ol>

<p>The Walking action plan sits alongside other policies in the Mayor's Transport Strategy such as <a href="/corporate/safety-and-security/road-safety/vision-zero-for-london">Vision Zero for London</a>.</p>

<ul>
</ul>

<h3>1. Build and manage streets for walking</h3>

<p>We're investing record levels in walking and cycling, with &pound;2.2bn dedicated to the Healthy Streets programme in our five-year <a href="/corporate/publications-and-reports/business-plan">Business Plan</a>. Major schemes to improve walking include the <a href="/campaign/our-plan-for-londons-roads">Safer Junctions programme</a> and <a href="/info-for/boroughs/liveable-neighbourhoods">Liveable Neighbourhoods</a>.</p>

<h3>2. Plan and design for walking</h3>

<p>We are embedding the <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Healthy Streets Approach</a> at the heart of our decision-making - with resources available to help put it into practice.</p>

<p>The resources listed below can be used to analyse the urban environment and ensure that infrastructure is planned to encourage more walking.</p>

<p>For detailed design advice, designers should refer to TfL's library of technical guidance for streets:&nbsp;the <a href="/corporate/publications-and-reports/streets-toolkit">Streets toolkit</a>.</p>
      
           
      
<div>




<h4>The planning for walking toolkit</h4>

<p>The planning for walking toolkit brings together a range of best practice tools that TfL uses and has developed over recent years to plan and design pedestrian related infrastructure improvements in London.</p>

<p>It sets out a practical approach for transport planners to build an evidence base for targeted improvements to the walking environment, and introduces key Pedestrian Network Design Principles that focus on the needs of all pedestrians to ensure the provision of a consistently high quality experience.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/the-planning-for-walking-toolkit.pdf">
    <div class="document-download-text">
        <p>The planning for walking toolkit</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 11.21MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 11.21 -->
 
</div>

</div>
 
<div>




<h4>Strategic walking analysis</h4>

<p>The Strategic walking analysis brings together insights and analysis on walking which will allow TfL, boroughs and other partners to prioritise investment in walking and deliver improvements using an evidence-based approach.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/strategic-walking-analysis.pdf">
    <div class="document-download-text">
        <p>Strategic walking analysis</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.49MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.49 -->
 
</div>

</div>
 
<div>




<h4>Pedestrian Comfort Guidance</h4>

<p>The Pedestrian Comfort Guidance is a tool that helps us assess whether pavements are wide enough for the number of pedestrians who use them.</p>

<p>The&nbsp;document describes how to carry out a comfort assessment and review the results. You can use the comfort level spreadsheet to&nbsp;calculate the results.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pedestrian-comfort-guidance-technical-guide.pdf">
    <div class="document-download-text">
        <p>Pedestrian Comfort Guidance technical guide</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.50MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.50 -->
 

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/pedestrian-comfort-level-calculator.xls">
    <div class="document-download-text">
        <p>Pedestrian Comfort Level calculator</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 220KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.22 -->
 
</div>

</div>
 
<div>




<h4>Pedestrian Environment Review System</h4>

<p>PERS is an audit tool used to assess the quality of places where people walk - such as a street, crossing, around a bus stop or park.</p>

<p>It scores factors which affect people's experience of using streets and public spaces. These include the width of pavements and steepness of dropped kerbs, as well as their general look and feel.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pedestrian-environment-review-system-factsheet.pdf">
    <div class="document-download-text">
        <p>Pedestrian Environment Review System fact sheet</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 67KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 
</div>

</div>
 <div>

<h3>3. Integrate walking with public transport</h3>

<p>Most walking in London is part of a longer public transport journey, so improving and expanding the public transport network will increase walking.</p>

<p>The <a href="/travel-information/improvements-and-projects/elizabeth-line">Elizabeth line</a> will be an opportunity to activate thousands of new walking trips. We are also creating 'Active Travel Hub' TfL stations, and improving walkability to central London stations and bus stops.</p>

<h3>4. Lead a culture change</h3>

<p>Streets make up 80% of public space in London. People don't just travel through these places, they also spend time there. We need to support people to reclaim their streets for the uses they need including socialising and children playing.</p>

<p>We have produced new guidance to support temporary, light-touch and low-cost projects to change the way a streets looks and feels - see Small Change, Big Impact on the <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Healthy Streets page</a>.</p>

<p>Most children in London - 8 in 10 - do not reach the recommended minimum of one hour of physical activity a day. We promote walking to school through our <a href="https://stars.tfl.gov.uk/">STARS programme</a>, an accreditation scheme for schools, nurseries and colleges to inspire young Londoners to travel sustainably, actively, responsibly and safely. We want to double the number of gold-accredited schools from 5000 to 1,000 by 2024.</p>

<p>Our <a href="/campaign/active-travel">active travel campaign</a> encourages people to 'walk, cycle, discover'. We also partner with Public Health England on its <a href="https://www.nhs.uk/oneyou/active10/home">Active 10 campaign</a>.</p>

<p>London's navigation system, <a href="/info-for/boroughs/legible-london">Legible London</a>, makes it easy for people on foot to find their way around. The navigation system includes detailed maps and signs showing realistic walking times. Legible London is integrated across London's transport system.</p>

<p>Maps can be found in Tube stations, at bus stops and Santander Cycles docking stations. We work with boroughs, Business Improvement Districts and other organisations to expand the system.</p>

<p>We support the <a href="/modes/walking/top-walking-routes">Walk London network</a>. This consists of seven high quality walking routes across Greater London:</p>

<ul>
	<li>Capital Ring</li>
	<li>Green Chain</li>
	<li>Jubilee Greenway</li>
	<li>Jubilee Walkway</li>
	<li>Lea Valley</li>
	<li>London Outer Orbital Path (LOOP)</li>
	<li>Thames Path</li>
</ul>

<p>The clearly signed routes are specifically designed to be easily accessible by public transport so people can walk as little or as far as they want. The routes give London one of the largest managed walking networks of any city in the world.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/how-we-work" class="heading">
                    <h2 id="sub-menu-heading">How we work<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-role">Our role</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-governed">How we are governed</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-funded">How we are funded</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future">Planning for the future</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/bakerloo-line-extension">Bakerloo line extension</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/consultations-and-surveys">Consultations & surveys</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/developing-the-rail-network">Developing the rail network</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/encouraging-cycling-and-walking">Encouraging cycling and walking</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Healthy Streets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/london-airports">London's airports</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/new-river-crossings-for-london">New river crossings for London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/rotherhithe-canary-wharf-crossing">Rotherhithe-Canary Wharf crossing </a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/public-affairs">Public affairs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-customer-commitments">Our customer commitments</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/cycling/index" class="plain-button">Cycling</a>
<a href="/modes/walking/index" class="plain-button">Walking</a>
<a href="/info-for/boroughs/cycling-toolkit" class="plain-button">Cycling toolkit for boroughs</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We have policies and plans aimed at making London the best city for cycling and walking";}
        
            
        


 