
    
  



@{ViewBag.Title = "Healthy Streets";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work">How we work</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work/planning-for-the-future">Planning for the future</a></li>
                
            
            
                <li><span class="last-breadcrumb">Healthy Streets</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Healthy Streets</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We have adopted the Healthy Streets Approach to improve air quality, reduce congestion and help make London's diverse communities greener, healthier and more attractive places to live, work, play and do business.
        
      </div>
    
    <div class="on-this-page">
      <p>Our Healthy Streets for London document sets out how we will put people and their health at the centre of our decision making, helping everyone to use cars less and to walk, cycle and use public transport more.</p>
      
           
      
<div>



<h2>Healthy Streets for London</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/healthy-streets-for-london.pdf">
    <div class="document-download-text">
        <p>Healthy Streets for London</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.19MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.19 -->
 
</div>

</div>
 
<div>




<p>The Healthy Streets Approach was the framework used when the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a> was being created.</p>

<h2>Healthy Streets toolkit</h2>

<p>We have developed these resources to help you put the Healthy Streets Approach into practice. They cover the whole process from initial assessment, through implementation, to evaluation.</p>

<h3>Guide to the Healthy Streets indicators</h3>

<p>This guide&nbsp;is the first tool to use in any Healthy Streets assessment. It uses questions for each of the 10 Healthy Streets indicators to help you think about the issues that affect the experience of using a street and and spending time there. This will help you consider what changes could be made to improve the experience.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/guide-to-the-healthy-streets-indicators.pdf">
    <div class="document-download-text">
        <p>Guide to the Healthy Streets indicators</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.24MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.24 -->
 
</div>

</div>
 
<div>




<h3>Healthy Streets Explained</h3>
<p>Healthy Streets Explained describes the Healthy Streets Approach in a format of questions and answers. Healthy Streets Explained is interactive - it's designed to be used on a computer and not printed.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/healthy-streets-explained.pdf">
    <div class="document-download-text">
        <p>Healthy Streets Explained</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.37MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.37 -->
 
</div>

</div>
 
<div>




<h3>Healthy Streets and green infrastructure</h3>

<p>Green infrastructure in an urban setting like London may include parks, woodlands, private gardens, street trees, allotments, playing fields, green roofs and sustainable drainage systems (SuDS). Well planned, designed and maintained green infrastructure offers many different benefits.</p>

<ul>
	<li>Find out <a href="/corporate/about-tfl/green-infrastructure">how we manage our green infrastructure</a></li>
</ul>

<p>Including green infrastructure in street schemes can contribute to the full range of Healthy Streets Indicators.&nbsp;Our document highlights how green infrastructure does that.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/contributions-of-gi-to-healthy-streets-approach.pdf">
    <div class="document-download-text">
        <p>Contributions of green infrastructure to the Healthy Streets Approach</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.95MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.95 -->
 
</div>
<p>The&nbsp;Mayor of London's&nbsp;website has more&nbsp;information about&nbsp;how <a href="https://www.london.gov.uk/WHAT-WE-DO/environment/environment-publications/using-green-infrastructure-protect-people-air-pollution">green infrastructure&nbsp;protects people from air pollution</a>.</p>
</div>
 
<div>




<h3>Healthy Streets check for designers</h3>

<p>The Healthy Streets check for designers is a spreadsheet tool&nbsp;to support designers.</p>

<p>It helps you to make sure any proposed changes to the way streets are laid out or used result in improvements. You check the scheme against the 10 Healthy Streets indicators (comparing it with the existing conditions on that street).</p>

<p>You can use results from the Healthy Streets check to show the public how changes to the way streets are laid out and used will result in improvements. The check holds no formal status in guidance and decision making, but advises designers and decision makers on how a project fits with Healthy Streets policy.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/healthy-streets-check-for-designers-2018.xlsx">
    <div class="document-download-text">
        <p>Healthy Streets check for designers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 466KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.46 -->
 
</div>

</div>
 
<div>




<h3>Healthy Streets mystery shopper survey</h3>

<p>The Healthy Streets mystery shopper survey was designed to assess how London's streets perform against the Healthy Streets indicators over time. Assessors visit a changing sample of London's streets each year and fill out a questionnaire covering different aspects of the street environment. The results let us measure the performance of London's streets over time - this can be compared across street types and geographic regions.</p>

<p>Find out more in Section 6.4 of <a href="/corporate/publications-and-reports/travel-in-london-reports">Travel in London report 11</a>.</p>

<h3>Healthy Streets survey</h3>

<p>This guide provides an introduction to the Healthy Streets survey.</p>

<p>The Healthy Streets survey is an on-street questionnaire which asks people walking and spending time on a street about how they perceive the street. It is designed to capture the real-life experience of people on London's streets in relation to the 10 Healthy Streets indicators. The results give a measurable performance of London's streets which can be compared across locations and over time.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/healthy-streets-surveys.pdf">
    <div class="document-download-text">
        <p>Healthy Streets surveys</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 692KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.68 -->
 
</div>
<p>In 2017 we published a <a href="/cdn/static/cms/documents/key-findings-from-the-healthy-streets-survey.pdf">summary</a> of the results from previous Healthy Streets surveys.</p>
</div>
 
<div>




<h3>Small Change, Big Impact</h3>
<p>Small Change Big Impact is a practical guide to delivering temporary, light touch and low-cost projects to change the way a street looks and feels. These projects can have a big impact on people's lives, and can often be the first step towards more permanent changes. It enables people to see how the Healthy Streets Approach can benefit them, showing the potential of their local streets and public spaces for uses beyond moving and parking cars. </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/small-change-big-impact.pdf">
    <div class="document-download-text">
        <p>Small Change, Big Impact</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.94MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.94 -->
 
</div>

</div>
 <div>

<p>Adopting the Healthy Streets Approach will help us to improve air quality, reduce congestion and make London's diverse communities become greener, healthier and more attractive places in which to live, play and do business.</p>

<h2>What is the&nbsp;Healthy Streets Approach?</h2>

<p>The Healthy Streets Approach puts people, and their health, at the heart of decision making. This results in a healthier, more inclusive city where people choose to walk, cycle and use public transport.</p>

<p>The Healthy Streets Approach is not an idealised vision for a model street. It is a long-term plan for improving Londoners' and visitors' experiences of our streets, helping everyone to be more active and enjoy the health benefits of being on our streets.</p>

<p>80% of Londoners' travel happens on our streets. The best way to get more people out walking, cycling and using public transport is to improve the quality of the experience of being on those streets. The Healthy Streets Approach focuses on creating streets that are pleasant, safe and attractive, where noise, air pollution, accessibility and lack of seating and shelter are not barriers that prevent people &#45; particularly our most vulnerable people &#45; from getting out and about.</p>

<p>The 10 Healthy Streets indicators are:</p>

<p><strong>Pedestrians from all walks of life</strong><br />
London's streets should be welcoming places for everyone to walk, spend time in and engage in community life.</p>

<p><strong>People choose to walk, cycle and use public transport</strong><br />
A successful transport system enables more people to walk and cycle more often.</p>

<p><strong>Clean air</strong><br />
Improving air quality delivers benefits for everyone and reduces unfair health inequalities.</p>

<p><strong>People feel safe</strong><br />
The whole community should feel comfortable and safe on our streets at all times. People should not feel worried about road danger.</p>

<p><strong>Not too noisy</strong><br />
Reducing the noise impacts of traffic will directly benefit health and improve the ambience of our streets.</p>

<p><strong>Easy to cross</strong><br />
Making streets easier to cross is important to encourage more walking and to connect communities.</p>

<p><strong>Places to stop and rest</strong><br />
A lack of resting places can limit mobility for certain groups of people.</p>

<p><strong>Shade and shelter</strong><br />
Providing shade and shelter enables everybody to use our streets, whatever the weather.</p>

<p><strong>People feel relaxed</strong><br />
More people will walk or cycle if our streets are not dominated by motor traffic, and if pavements and cycle paths are not overcrowded, dirty or in disrepair.</p>

<p><strong>Things to see and do</strong><br />
People are more likely to use our streets when their journey is interesting and stimulating, with attractive views, buildings, planting and street art.</p>

<h2>Transport and health</h2>

<p>The main relationships between transport and health, and the actions we are taking to improve health, are set out on the <a href="/corporate/about-tfl/corporate-and-social-responsibility/transport-and-health">Transport&nbsp;and health page</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/how-we-work" class="heading">
                    <h2 id="sub-menu-heading">How we work<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-role">Our role</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-governed">How we are governed</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-funded">How we are funded</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future">Planning for the future</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/bakerloo-line-extension">Bakerloo line extension</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/consultations-and-surveys">Consultations & surveys</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/developing-the-rail-network">Developing the rail network</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/encouraging-cycling-and-walking">Encouraging cycling and walking</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Healthy Streets</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/london-airports">London's airports</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/new-river-crossings-for-london">New river crossings for London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/rotherhithe-canary-wharf-crossing">Rotherhithe-Canary Wharf crossing </a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/public-affairs">Public affairs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-customer-commitments">Our customer commitments</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The Healthy Streets approach promotes active travel including public transport and  will help to accommodate growth but also deliver health benefits";}
        
            
        


 