
    
  



@{ViewBag.Title = "London's airports";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/about-tfl/how-we-work/planning-for-the-future/london-airports";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work">How we work</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work/planning-for-the-future">Planning for the future</a></li>
                
            
            
                <li><span class="last-breadcrumb">London's airports</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>London's airports</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Mayor Sadiq Khan believes that London's airports bring economic and social benefits to the Capital and help to support its global status. But he's also concerned about the environmental harm caused by aviation and the impact on Londoners.<BR>
        
      </div>
    
    
      <p>Every London airport is taking forward growth plans to take advantage of suppressed aviation demand. It is imperative that the airports demonstrate that any plans can be taken forward without significant adverse environmental impacts. The Mayor has also made clear that the airports cannot rely on improvements unrelated to airport growth and seize the environmental and other benefits that would otherwise accrue to Londoners. The Mayor and TfL are in regular contact with London's airports and are keeping abreast of their plans.</p>

<p>The Government announced in October 2016 that it would support a <a href="https://www.gov.uk/government/collections/heathrow-airport-expansion">third runway at Heathrow Airport</a>. Between February and May 2017 the Government held a public consultation on the draft Airports National Policy Statement (NPS) that would allow for a third runway to be built.</p>

<p>A second consultation on the NPS then followed in the autumn, incorporating significant new evidence.</p>

<p>In April 2018, the Government published &quot;Beyond the horizon&quot; which supported other UK airports making best use of their existing capacity.</p>

<p>The Secretary of State for Transport laid the final NPS before Parliament on 5 June 2018. A majority in Parliament voted in favour of the NPS and the Secretary of State formally designated the NPS on 26 June 2018. This prompted the Mayor to launch a legal challenge of the NPS together with a number of local authorities and this process is ongoing.</p>

<p>Nevertheless, Heathrow has decided to proceed with its expansion plans, in preparation for submission of a Development Consent Order (DCO) application. It published an initial consultation in January 2018, followed by a consultation in January 2019 on airspace and runway operations. In June 2019, it published its statutory DCO consultation.</p>

<h2>Response to the Heathrow NPS and DCO</h2>

<p>The Mayor has made submissions to both of the Department for Transport's (DfT's) consultations on the draft NPS. In his responses, the Mayor set out his serious concerns about the impact of a third runway at Heathrow on road and rail networks, air quality and noise.</p>

<p>He has also responded to calls for evidence on the NPS by the House of Commons Transport Select Committee in April 2017 and again in December 2017. A further submission was provided to clarify points raised by the DfT and Heathrow Airport Limited (HAL) during the Transport Select Committee hearings.</p>

<p>Submissions have also been made by the Mayor and his team to the Heathrow DCO consultations to date.</p>

<p>The Mayor's NPS responses and a review of the final NPS - along with other submissions to Government and HAL consultations - are on the <a href="/corporate/publications-and-reports/aviation">Aviation page in Publications &amp; reports</a>.</p>

<h2>Heathrow expansion effects</h2>

<p>As part of our NPS response we did detailed analysis and modelling to understand how the expansion of Heathrow would affect road and rail access, air quality and noise. The serious issues raised as part of the NPS response have not been addressed by Heathrow in its DCO process.</p>

<h3>Road and rail access</h3>

<p>An expanded Heathrow Airport would mean an additional 170,000 trips by passengers and staff each day. The Government has suggested that Heathrow can expand without resulting in any extra road trips to and from the airport. For this to happen with a third runway, the percentage of people using public transport to get there would need to increase from 39% to 65%.</p>

<p>Our analysis indicates that this cannot happen without extra connectivity and capacity on the rail networks serving the airport. The Government's proposals do not currently guarantee the significant investment needed to create this, nor does Heathrow accept the need.</p>

<h3>Air quality</h3>

<p>Heathrow is one of the worst air pollution hotspots in London and legal limits for air quality are already exceeded in the surrounding area. Even without expansion bringing more flights and more journeys to and from the airport, there is a huge challenge to clean up the air.</p>

<p>Our analysis indicates that a bigger airport will make air pollution worse and neither the Government nor Heathrow have been able to show how legal limits for clean air can be met once a third runway is operating.</p>

<h3>Noise</h3>

<p>Unacceptable noise from the airport already affects far too many people - not just those in the immediate vicinity but also those who live under the flight paths across London and in neighbouring areas.</p>

<p>Our analysis indicates that at least 200,000 more people will be exposed to unacceptable levels of noise.</p>

<h3>Carbon</h3>

<p>Neither Government nor Heathrow has shown how a third runway can operate without a material impact on the ability of the UK to stay within its carbon targets and budgets.</p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/how-we-work" class="heading">
                    <h2 id="sub-menu-heading">How we work<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-role">Our role</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-governed">How we are governed</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-funded">How we are funded</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future">Planning for the future</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/bakerloo-line-extension">Bakerloo line extension</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/consultations-and-surveys">Consultations & surveys</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/developing-the-rail-network">Developing the rail network</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/encouraging-cycling-and-walking">Encouraging cycling and walking</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Healthy Streets</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/london-airports">London's airports</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/new-river-crossings-for-london">New river crossings for London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/rotherhithe-canary-wharf-crossing">Rotherhithe-Canary Wharf crossing </a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/public-affairs">Public affairs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-customer-commitments">Our customer commitments</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The Mayor Sadiq Khan opposes the addition of a third runway at Heathrow";}
        
            
        


 