
    
  



@{ViewBag.Title = "New river crossings for London";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/about-tfl/how-we-work/planning-for-the-future/new-river-crossings-for-london";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work">How we work</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work/planning-for-the-future">Planning for the future</a></li>
                
            
            
                <li><span class="last-breadcrumb">New river crossings for London</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>New river crossings for London</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The Mayor has set out proposals for new river crossings that could be built in the next 5 to 10 years between east and southeast London. These would improve travel across the capital, help to deliver new homes and support business.
        
      </div>
    
    <div class="on-this-page">
      They include:
<ul>
    <li>A new pedestrian and cycle crossing linking Rotherhithe and Canary Wharf</li>
    <li>An extension of public transport to Thamesmead</li>
    <li> Silvertown Tunnel</li>
</ul>
<h2>Rotherhithe to Canary Wharf</h2>
<p>We're working with local boroughs and others on plans for a new pedestrian and cycle crossing between two banks of the River Thames in east London.</p>
<p>Find out about our <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/rotherhithe-canary-wharf-crossing">Rotherhithe to Canary Wharf proposals</a>.</p>
      
           
      <div>

<h2>Public transport to Thamesmead</h2>

<p>The Thamesmead area is not well-served by public transport right now. Plans for thousands of new homes on large developments sites in the area depend on having more and better transport links.</p>

<p>We are currently identifying and assessing different public transport options to serve Thamesmead and looking at how long any projects might take.&nbsp;We're working with the GLA and local boroughs on a draft Opportunity Area Planning Framework (OAPF) for Thamesmead and Abbey Wood.</p>

<p>More information will be set out in a consultation on the OAPF - the plan is to hold this&nbsp;later in 2019.</p>

<h2>Silvertown Tunnel</h2>

<p>We have appointed a consortium to design and build a new road tunnel under the Thames linking the Greenwich Peninsula and Silvertown.</p>

<p>Find out more about the <a href="/travel-information/improvements-and-projects/silvertown-tunnel">Silvertown Tunnel scheme</a>.</p>

<h2>Next steps</h2>

<p>These crossings are at various stages of development - the Silvertown Tunnel scheme has progressed the most. We will continue to pursue this scheme as well as investigate options for new river crossings, looking at the best way to provide these connections and how they can be funded.</p>

<p>All proposals will go through a public consultation as well as relevant statutory procedures.</p>

<p>For more information on these proposals, email us at <a href="mailto:rivercrossings&#64;tfl.gov.uk">rivercrossings&#64;tfl.gov.uk</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/how-we-work" class="heading">
                    <h2 id="sub-menu-heading">How we work<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-role">Our role</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-governed">How we are governed</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-funded">How we are funded</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future">Planning for the future</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/bakerloo-line-extension">Bakerloo line extension</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/consultations-and-surveys">Consultations & surveys</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/developing-the-rail-network">Developing the rail network</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/encouraging-cycling-and-walking">Encouraging cycling and walking</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Healthy Streets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/london-airports">London's airports</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/new-river-crossings-for-london">New river crossings for London</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/rotherhithe-canary-wharf-crossing">Rotherhithe-Canary Wharf crossing </a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/public-affairs">Public affairs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-customer-commitments">Our customer commitments</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us</h3>
        </div>
                                                         
        <div class="content-group">
            We're open 09:00 &#45; 17:00 Monday to Friday.
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p>Email <a href="mailto:rivercrossings&#64;tfl.gov.uk">rivercrossings&#64;tfl.gov.uk</a></p>
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We are developing plans for several new river crossings across the Thames";}
        
            
        


 