


@{ViewBag.Title = "February";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020">2020</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">February</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>February</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2020/february/tfl-and-a2dominion-announce-plans-for-hundreds-of-new-affordable-homes-in-hounslow">TfL and A2Dominion announce plans for hundreds of new affordable homes in Hounslow<br />27 Feb 2020</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2020/february/road-danger-reduced-with-new-20mph-speed-limits-on-all-tfl-roads-in-central-london">Road danger reduced with new 20mph speed limits on all TfL roads in central London<br />27 Feb 2020</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2020/february/blackhorse-lane-reopens-in-full">Blackhorse Lane reopens in full<br />25 Feb 2020</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2020/february/step-free-access-complete-at-mill-hill-east-tube-station">Step-free access complete at Mill Hill East Tube station<br />21 Feb 2020</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2020/february/reminder-travel-advice-for-customers-ahead-of-planned-strike-action-on-bakerloo-line">REMINDER: Travel advice for customers ahead of planned strike action on Bakerloo line<br />20 Feb 2020</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2020/february/first-tube-roundels-installed-at-new-northern-line-extension-station">First Tube roundels installed at new Northern Line Extension station<br />20 Feb 2020</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2020/february/-first-all-electric-double-deck-bus-route-in-west-london-to-improve-air-quality"> First all-electric double-deck bus route in west London to improve air quality<br />18 Feb 2020</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2020/february/work-to-make-walking-and-cycling-safer-between-dalston-and-clapton-set-to-begin-this-spring">Work to make walking and cycling safer between Dalston and Clapton set to begin this spring<br />10 Feb 2020</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2020/february/tfl-names-first-of-12-competition-winners-as-it-celebrates-10-years-of-cycle-hire-in-london">TfL names first of 12 competition winners as it celebrates 10 years of cycle hire in London<br />04 Feb 2020</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2020/february/london-and-los-angeles-announce-collaboration-on-transport-innovation">London and Los Angeles announce collaboration on transport innovation<br />03 Feb 2020</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2020/february/transport-for-london-launches-search-for-75-new-apprentices">Transport for London launches search for 75 new apprentices<br />03 Feb 2020</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/march">March</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "february 2020";}
        
        


 