


@{ViewBag.Title = "January";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020">2020</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">January</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>January</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2020/january/tfl-and-barratt-announce-plans-for-hundreds-of-new-affordable-homes-in-wembley-park">TfL and Barratt announce plans for hundreds of new affordable homes in Wembley Park<br />28 Jan 2020</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2020/january/tfl-sets-out-plans-to-reduce-road-danger-on-peckham-high-street">TfL sets out plans to reduce road danger on Peckham High Street<br />28 Jan 2020</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2020/january/tfl-and-local-boroughs-work-together-to-improve-six-local-high-streets">TfL and local boroughs work together to improve six local high streets<br />24 Jan 2020</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2020/january/vital-safety-features-now-in-place-on-more-than-8-000-lorries">Vital safety features now in place on more than 8,000 lorries<br />23 Jan 2020</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2020/january/tfl-launches-freight-innovation-challenge-to-tackle-congestion-and-keep-goods-moving">TfL launches freight innovation challenge to tackle congestion and keep goods moving<br />16 Jan 2020</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2020/january/artificial-intelligence-to-help-fuel-london-s-cycling-boom">Artificial intelligence to help fuel London's cycling boom<br />16 Jan 2020</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2020/january/london-tube-station-transformed-into-picardilly-circus">London Tube station transformed into 'PICARDilly' Circus<br />15 Jan 2020</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2020/january/tfl-investment-to-create-nearly-8-000-new-cycle-parking-spaces-across-london-s-boroughs">TfL investment to create nearly 8,000 new cycle parking spaces across London's boroughs<br />14 Jan 2020</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2020/january/new-routemaster-buses-to-become-front-boarding-only">New Routemaster buses to become front-boarding only<br />10 Jan 2020</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2020/january/tooting-town-centre-20mph-speed-limit-given-green-light">Tooting Town Centre 20mph speed limit given green light<br />09 Jan 2020</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2020/january/london-overground-ticket-office-changes-introduced-due-to-customer-needs">London Overground ticket office changes introduced due to customer needs<br />07 Jan 2020</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2020/january/tfl-and-santander-celebrate-ten-years-of-london-s-flagship-cycle-hire-sche">TfL and Santander celebrate ten years of London's flagship cycle hire scheme <br />07 Jan 2020</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2020/january/plans-for-major-new-cycleway-in-southeast-london">Plans for major new Cycleway in southeast London<br />06 Jan 2020</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/february">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/march">March</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "January 2020";}
        
        


 