


@{ViewBag.Title = "Automatic braking system for trams to be installed this year";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Automatic braking system for trams to be installed this year</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Automatic braking system for trams to be installed this year</h1>
        <div class="content-page-press-release">
        14 January 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        System will automatically bring a moving tram to a controlled stop if exceeding speed limit in UK first
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Awarding the contract for a new automatic braking system is a first for trams in the UK, and not only will it improve safety for customers in London, but we hope it will lead the way for other tram operators across the country"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mark Davis</div>
            <div class="quotee-job-title">General Manager of London Trams, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Automatic braking will operate alongside the driver protection system that alerts to distraction and fatigue and has been successfully in use since September 2017</li>
	<li>Contract to install new safety system was awarded to Engineering Support Group Limited (ESG) on 14 December 2018</li>
	<li>This means all of the recommendations specific to TfL following the Sandilands overturning tragedy are now in progress or complete</li>
</ul>

<p>London's tram network will be the first in the UK to have an automatic braking system after Transport for London (TfL) awarded Engineering Support Group Limited (ESG) the contract to build and install the new safety system by the end of this year.</p>

<p>It will automatically apply the brakes and bring a moving tram to a controlled stop if exceeding the speed limit at designated locations. Work began on the feasibility of introducing this new safety measure, which has not been introduced on any UK trams before, shortly after the tragic overturning at Sandilands, Croydon, in November 2016. It is expected to be fully operational by the end of 2019, including a period of training and familiarisation with tram drivers, and will operate alongside the driver protection device that has been in operation since September 2017, alerting to any signs of driver distraction and fatigue.</p>

<p>Automatic braking is one of the recommendations set out by the Rail Accidents Investigation Branch (RAIB) following the tragic tram overturning. It will initially be configured to priority high-risk locations as suggested by the RAIB but will have the flexibility to be introduced elsewhere on the tram network.</p>

<p>The RAIB listed 15 recommendations aimed at the UK tram industry following the overturning. Work has progressed on all of the recommendations specific to TfL with some of the most vital already complete. These include a permanent speed reduction across the tram network, speed monitoring and signage at significant bends, an enhanced customer complaints process and the installation of a driver protection device that alerts to driver distraction or fatigue.</p>

<p>A new emergency lighting system, which will operate independently of the tram's battery in the event of an emergency, has also been procured and will be installed over the summer, addressing recommendation seven. Extensive testing with safety experts has also progressed and a new higher specification film that is 75 per cent thicker (from 100microns to 175microns) will be fitted to all doors and windows to improve containment, as per recommendation six, by spring.</p>

<p>Mark Davis, TfL's General Manager of London Trams, said:</p>

<p>'We will never forget the tragedy at Sandilands and from day one have focused our attention on preventing this type of incident from ever happening again. Awarding the contract for a new automatic braking system is a first for trams in the UK, and not only will it improve safety for customers in London, but we hope it will lead the way for other tram operators across the country. We will work to have the new system, which will automatically apply the brakes if a tram is exceeding the speed limit, in full operation by the end of the year.'</p>

<hr />
<p>Notes to Editors:</p>

<ul>
	<li>TfL has published a progress update on the recommendations set out by the RAIB. It can be found here:<span style="font-size:11.0pt"><a href="https://tfl.gov.uk/modes/trams/croydon-tram-derailment" style="text-decoration: underline;">https://tfl.gov.uk/modes/trams/croydon-tram-derailment</a></span></li>
	<li>The new automatic braking system, also known as the Physical Prevention of Over-Speeding (PPOS), addresses RAIB Recommendation 3 that 'UK tram operators, owners and infrastructure managers should work together to review, develop and install suitable measures to automatically reduce tram speeds if they approach higher risk locations at speeds which could result in derailment or overturning'.</li>
	<li>The feasibility and scoping work for the automatic braking system has been shared with other tram owners and operators around the UK to assist in the development of a programme for installing similar suitable systems to their networks.</li>
	<li>New temporary lighting has also been installed on the approach to the Sandilands tunnel and, in collaboration with road tunnel lighting experts, the tunnel will get a full lighting upgrade with work expected to also be complete in 2019.</li>
	<li>Since the overturning in November 2016, the following additional safety measures have been introduced to the tram network:</li>
</ul>

<ul>
	<li>Additional speed restrictions and associated signage installed near Sandilands and at three other locations on the tram network</li>
	<li>A permanent speed reduction implemented across the London tram network, meaning the maximum speed trams can travel is now 70kph (previously 80kph)</li>
	<li>Installation of enhanced chevron signs at the four sites with significant bends to provide an additional visual cue for drivers. The number of speed signs has also been increased and additional lineside digital signage is providing an added speed warning to drivers</li>
	<li>An in-cab driver protection device has been fitted to all trams since September 2017 to protect against fatigue and distraction</li>
	<li>The CCTV recording system on all trams of the type involved in the overturning has been replaced and upgraded to digital</li>
	<li>Review of procedures for the emergency evacuation from trams so that the speed of evacuation is improved</li>
	<li>Risk assessments have been reviewed to ensure all scenarios are adequately planned for.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-January-Automatic braking system for trams to be installed this year -->

 
 
        
        
            @{ViewBag.Description = "UK’s first automatic braking system for trams to be installed on London’s network this year";}
        
        


 