


@{ViewBag.Title = "Consultation on final proposals for TfL's world-first Direct Vision Standard opens today";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Consultation on final proposals for TfL’s world-first Direct Vision Standard opens today</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Consultation on final proposals for TfL’s world-first Direct Vision Standard opens today</h1>
        <div class="content-page-press-release">
        08 January 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The most unsafe HGVs will be removed from London's roads as part of the Mayor's Vision Zero approach to reduce road danger
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I am proud that London will be the first city in the world to take such bold action to remove the most unsafe lorries from our streets. We are not prepared to stand by and let dangerous lorries continue to cause further heartbreak and tragedy on London's roads"</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL has today launched the final public consultation on its world-first Direct Vision Standard proposals, which will tackle road danger at its source by eliminating Heavy Goods Vehicles' (HGVs') blind spots that are the cause of so many tragic deaths and life-changing injuries.</p>

<p>The Direct Vision Standard, and associated Safety Permit for HGVs that have retrofitted a Safe System, will reduce road danger for people across the capital.</p>

<p>In 2017 around 4,000 people were killed or seriously injured in collisions on London's streets, which is unacceptable.</p>

<p>TfL research shows that between 2015 and 2017 HGVs were disproportionately involved in fatal collisions, with 63 per cent of those involving people cycling and 25 per cent of those involving people walking.</p>

<p>This is despite HGVs only making up four per cent of the overall miles driven in the capital.</p>

<p>TfL is now asking people to have their say on the final scheme proposals with a particular focus on the HGV safety permit processes. As part of the consultation, people can comment on:</p>

<ul>
	<li>The process for obtaining a vehicle's direct vision star rating</li>
	<li>The safe system requirements</li>
	<li>The permit application and administration process</li>
	<li>The enforcement and appeals process</li>
</ul>

<h2>Major step</h2>

<p>The European Commission has followed London's lead by including direct vision in the revised General Safety Regulation, which is the leading piece of EU road safety legislation.</p>

<p>This is a major step in reducing road danger and will help make all HGVs safer across Europe.</p>

<p>The Direct Vision Standard forms a key part of the Mayor's Vision Zero approach to eliminating all deaths and serious injuries from London's roads by 2041.</p>

<p>Restrictions in an HGV driver's field of vision, or 'blind spots' have been identified as a significant contributory factor in collisions.</p>

<p>The HGV Safety Permit is a holistic approach which aims to improve the overall safety of HGVs through blind spot elimination and minimisation, warning of intended manoeuvre, minimising the physical impact of a hazard and recommending driver safety training.</p>

<p>Will Norman, London's Walking and Cycling Commissioner, said: 'I am proud that London will be the first city in the world to take such bold action to remove the most unsafe lorries from our streets.</p>

<p>'We are not prepared to stand by and let dangerous lorries continue to cause further heartbreak and tragedy on London's roads.</p>

<p>'We are doing everything we can to make our roads safer. Improving HGV safety standards will dramatically reduce danger for both cyclists and pedestrians.</p>

<p>'Taking action against dangerous lorries will help a lot more Londoners feel safe cycling as part of their everyday routine, improving their health, and helping tackle air pollution across our city.</p>

<p>'Road safety mustn't end at our borders, which is why I'm delighted that the European Commission is following our lead &#45; helping ensure that all HGVs are safer across the UK and Europe.'</p>

<h2>Leading the way</h2>

<p>Christina Calderato, Head of Delivery Planning at TfL, said: 'London is leading the way with truck safety and we invite views on our final proposals.</p>

<p>'Our Direct Vision Standard will fundamentally improve the safety of HGVs in London. We hope that the European Commission's backing will help us make HGVs safer across the continent.'</p>

<p>Victoria Lebrec, RoadPeace Campaigner and victim of lorry crash, said: 'I'm really pleased to see the introduction of the Direct Vision Standard.</p>

<p>'I lost my leg when I was hit by a lorry in 2014 that didn't see me, and unfortunately there are too many instances involving HGVs on London's roads that are fatal or very serious.</p>

<p>'My life has been turned upside down by the crash, and everything needs to be done to prevent these collisions happening in the future.</p>

<p>'The majority of lorries on the roads are not fit for purpose and pose a huge risk which is thankfully starting to be addressed with the Direct Vision Standard.'</p>

<p>Natalie Chapman, Head of Urban Policy at Freight Transport Association (FTA), said: 'The freight industry takes road safety extremely seriously and FTA, the largest membership association in the logistics sector, supports the mayor's ambition for zero harm on London's streets.</p>

<p>'FTA has been working closely with TfL throughout the development of the Direct Vision Standard and it is good to see that many of our practical concerns about the scheme have been taken on board.</p>

<p>'However, the future of road safety will be delivered through technological development and new vehicle design standards which FTA believes will be best set at an international level.'</p>

<h2>Improve safety</h2>

<p>Nigel Jackson, Chief Executive, Mineral Products Association (MPA), said: 'We believe action taken by MPA members and colleagues in the construction industry to improve HGV safety has, and is, helping to protect pedestrians, cyclists and other vulnerable road users.</p>

<p>'TfL's planned Direct Vision Standard expands this voluntary action into a scheme, which will improve the safety of all HGVs operating in London, and we will be contributing constructively to the consultation process to help support the successful implementation of the Direct Vision Standard in 2020.'</p>

<p>Steve Summerskill, Senior Lecturer at Loughborough Design School, said: &quot;This successful project is, in part, the result of the efforts of a number of staff in the Loughborough Design School, who have worked as a team to produce an innovate and accurate testing technique that has been validated by vehicle manufacturers. The result will have a beneficial effect on the safety of vulnerable road users in the capital and further afield, with adoption at a European-level currently being explored. Studies have shown that European adoption would save hundreds of lives per year.&quot;</p>

<p>TfL has worked with Loughborough University and vehicle manufacturers to rate a sample of Euro IV and Euro V HGVs in the same way the Euro VI HGVs were rated. These ratings are now available directly from manufacturers.</p>

<p>Subject to final consultation, permits will be issued from October this year. Operators will be able to apply for a permit via an online application portal on TfL's website to help make the process as straightforward as possible.</p>

<p><span style="font-size:12px">The timeline for Direct Vision Standard is as follows:</span></p>

<ul>
	<li>October 2019: The first permits will be issued. Trucks rated 0* will need to upgrade to a Safe System in order to get a permit</li>
	<li>2020: Enforcement begins</li>
	<li>2024: The minimum Direct Vision Standard star rating increases from one to three star or a progressive Safe System</li>
</ul>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>TfL's Direct Vision Standard for Heavy Goods Vehicles will be the first initiative of its kind in the world to categorise HGVs depending on the level of a driver's direct vision from a cab. This scheme is due to be introduced in 2020 to improve vehicle safety and increase visibility of vulnerable road users. HGVs will be given a rating between 'zero-star' (lowest) and 'five-star' (highest), with only those vehicles rated 'three-star' and above, or which have comprehensive safety systems, able to operate in London from 2024</li>
	<li>The consultation is open until 18 February and is available here: <a href="https://consultations.tfl.gov.uk/roads/direct-vision-standard-phase2b/?cid=direct-vision-standard">tfl.gov.uk/direct-vision-standard</a></li>
	<li>The Vision Zero Action Plan is available here: <a href="https://tfl.gov.uk/corporate/safety-and-security/road-safety/vision-zero-for-london">tfl.gov.uk/corporate/safety-and-security/road-safety/vision-zero-for-london</a></li>
	<li>TfL has now completed two rounds of consultation, firstly on the principles of a DVS and then on the specific proposal for an HGV safety permit scheme. The scheme has been developed following feedback from these consultations and close work with industry, vulnerable road user groups&nbsp;and other stakeholders. The Consultation reports and Responses to Issues Raised documents from both consultations are available here: <a href="https://consultations.tfl.gov.uk/roads/direct-vision-standards-phase-2/">consultations.tfl.gov.uk/roads/direct-vision-standards-phase-2/</a></li>
	<li>Contact details for vehicle manufacturers are available from: <a href="https://tfl.gov.uk/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles">tfl.gov.uk/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-January-Consultation on final proposals for TfL’s world-first Direct Vision Standard opens today -->

 
 
        
        
            @{ViewBag.Description = "Consultation on final proposals for TfL’s world-first Direct Vision Standard opens today ahead of launch later this year";}
        
        


 