


@{ViewBag.Title = "GLA - Mayor's action on air quality will benefit poorest the most ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Mayor’s action on air quality will benefit poorest the most </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Mayor’s action on air quality will benefit poorest the most </h1>
        <div class="content-page-press-release">
        10 January 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New report shows people living in the capital's most deprived areas are exposed to more NO2 pollution
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Today's report shows that some of the poorest Londoners will benefit the most from the bold measures we are taking to tackle London's filthy air"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>This press release, issued by the Mayor of London, was first published on <a href="[ioID]#https://www.london.gov.uk/press-releases/mayoral/new-report-highlights-findings">london.gov.uk</a></p>

<ul>
	<li>Report confirms that mainly as a result of the mayor's air quality policies this inequality will reduce.</li>
	<li>Report also confirms that all primary and secondary schools exceeding NO2 limits will drop from 453 in 2013 to zero by 2025.</li>
	<li>But if London is to be within World Health Organisation PM 2.5 limits by 2030, further government action is needed.</li>
</ul>

<p>New research published today shows how the Mayor's bold measures to tackle London's filthy air, including launching the world's first Ultra Low Emission Zone in April, will benefit all Londoners, but particularly those living in the capital's deprived areas.</p>

<p>Research has long indicated a strong link between air quality and social inequality, which Sadiq is determined to address alongside his work to protect the environment and improve the health of Londoners. Across the country, toxic air leads to around 40,000 premature deaths every year, and increases the risk of asthma, cancer, dementia &#45; imposing a financial burden of more than &pound;20 billion on the economy every year*. London's filthy air makes chronic illnesses worse, shortens life expectancy and damages lung development in children.</p>

<p>People living in the capital's most deprived areas are, on average, exposed to about a quarter more NO2 pollution.** Today's report, commissioned by City Hall and carried out by air quality and climate change emissions consultants Aether, shows that the Mayor's tough air quality measures would help improve air quality so that the difference would narrow considerably, with the gap reduced by 71 per cent by 2030 - from 7.55 &micro;g/m3 in 2013 to 2.23 &micro;g/m3.</p>

<p>The research reveals children from some of the poorest backgrounds will benefit the most from the Mayor's bold measures to tackle air quality. A previous Aether study found of the schools in the highest polluting areas of London around 80 per cent were defined as being 'deprived'**. Today's report predicts that as a result of the Mayor's action, no schools in the capital will be exposed to illegally high levels of air pollution by 2025. The number of primary schools in areas exceeding legal limits for harmful NO2 is projected to drop dramatically from 371 in 2013 to just four in 2020, while the number of secondary schools is expected to fall from 82 in 2013 to only one in 2020, with no schools at all in high polluting NO2 areas by 2025.&nbsp;</p>

<p>The report also looked at the exposure of different ethnic groups. Areas of London where people from mixed or multiple ethnic groups were more likely to live were also more likely to have higher levels of NO2, whereas those areas where white residents were more likely to live were more likely to have lower concentrations. Mainly as a result of the Mayor's tough measures, including ULEZ, the difference in exposure between these areas is expected to reduce by 85 per cent.</p>

<p>The Mayor's Ultra Low Emission Zone, launching in the central London congestion zone on 8th April and expanding to the North and South circular in October 2021, is just one element of Sadiq's bold strategy to improve Londoners' health and protect the capital's environment. It will play a significant part in achieving these improvements by removing the most polluting vehicles from the areas of poorest air quality.</p>

<p>Today's report highlights that while excellent progress is being made to reduce NO2 levels, these improvements are lower for PM2.5, with current research suggesting that all Londoners will still live in areas exceeding World Health Organisation guidelines in 2030. Sadiq simply does not have the regulatory powers he requires to address this problem &#45; including ULEZ-style powers for construction equipment and the Thames, and powers to address emissions from buildings - and he continues to lobby Government for these ahead of new clean air legislation being tabled later this year.</p>

<p>The Mayor of London, Sadiq Khan, said: &quot;Improving London's air quality is a social justice issue as well as a public health matter, given it is certain communities which are affected by filthy air the most. Today's report shows that some of the poorest Londoners will benefit the most from the bold measures we are taking to tackle London's filthy air. By taking tough action, we can ensure that within six years the most deprived schools will be no more likely to have higher exposure to NO2 pollution than the least deprived schools. It cannot be right that your background and where you live determines the quality of the air you breathe and that is exactly why measures like the Ultra Low Emission Zone are so vital.&quot;</p>

<p>Katie King, Director of Aether, said: &quot;This builds on earlier analysis undertaken by Aether and shows that the link between deprivation and poor air quality can be substantially reduced through positive action. The very mixed social structure of London complicates this type of analysis but the overall pattern of both improvement and a reduction in inequality can be clearly seen. However, there is clearly more to do if the WHO Guideline Values for particulate matter are to be achieved across the capital.&quot;</p>

<p>Simon Gillespie, Chief Executive of the British Heart Foundation, said:</p>

<p>'Air pollution contributes to thousands of heart attacks and strokes every year, which disproportionately affects the most deprived people in our society. It is encouraging to see action being taken in the capital to tackle this, as air pollution is one of the biggest public health threats facing our generation. The introduction of ultra-low emission zones will help to lower the dangerously high levels of air pollution in London, and protect the heart and circulatory health of those who are most at risk.</p>

<p>'It's now paramount that action is taken at national level to protect those most vulnerable from the damaging effects of the air we breathe. This means bringing the WHO's guideline limits into UK law to ensure that everyone across the UK is protected from the health harms of poor air quality.'</p>

<p>Earlier this week, Sadiq urged London's drivers and business owners who drive in the London Congestion Charge Zone to check whether their vehicles comply with new, stricter emissions standards designed to tackle the capital's toxic air, as the three-month countdown to the launch of the central London ULEZ began. Replacing the current Toxicity Charge, vehicles will need to meet new, tighter exhaust emission standards or pay a daily charge (&pound;12.50 for cars, vans and motorcycles, &pound;100 for buses, coaches and lorries) to travel within the zone. The Congestion Charge will be unchanged by the introduction of ULEZ and will continue to apply for all eligible vehicles entering the Congestion Charge zone. Drivers can use TFL's simple online checking tool to see if their vehicle will meet ULEZ's tough new emissions standards.&nbsp;</p>

<p>Alongside introducing the world's first ULEZ, the Mayor is also cleaning up the capital's bus and taxi fleets, rolling out rapid charging infrastructure to support electric vehicles, delivering improvements to some of London's most polluted schools, planting thousands of new trees and funding a scrappage scheme to help micro-businesses prepare for ULEZ.</p>

<p>Alastair Harper, Head of Advocacy at Unicef UK, said:</p>

<p>'No child should be forced to breathe air that could damage their body and impact their future. For those living in areas of deprivation who already face a myriad of social and health issues, toxic air is particularly harmful.</p>

<p>'With mounting evidence of children's vulnerability to air pollution, it's encouraging to see this has been acknowledged and acted on by the Mayor of London. It is vital that other UK cities also prioritise this issue. Unicef UK stands firmly behind initiatives to tackle air pollution and its impact on children's health. The new Clean Air Strategy will be a crucial opportunity for the Government to make a national commitment to clean up the air and prioritise action for children.'<br />
&nbsp;<br />
Professor Stephen T Holgate CBE, FMedSci, said:</p>

<p>'This report indicates that the action being led by the Mayor of London will make a real difference to people's lives in the capital. It is vital that that the lessons coming from London are replicated across the country. Action that improves the air quality helps address the fundamental health inequities that exists in the UK, and the findings that highlight the potential improvements outside schools are particularly noteworthy.'</p>

<hr />
<p>* Royal College of Physician's report, Page xiii: <a href="[ioID]#https://www.rcplondon.ac.uk/file/2912/download?token=rhEZPBDl">https://www.rcplondon.ac.uk/file/2912/download?token=rhEZPBDl</a><br />
** According to a 2013 Aether report -<a href="[ioID]#https://www.london.gov.uk/sites/default/files/analysing_air_pollution_exposure_in_london_-_technical_report_-_2013.pdf"> https://www.london.gov.uk/sites/default/files/analysing_air_pollution_exposure_in_london_-_technical_report_-_2013.pdf</a><br />
*** based on free school meal eligibility - <a href="[ioID]#https://www.london.gov.uk/sites/default/files/analysing_air_pollution_exposure_in_london_-_technical_report_-_2013.pdf">https://www.london.gov.uk/sites/default/files/analysing_air_pollution_exposure_in_london_-_technical_report_-_2013.pdf</a>.<br />
&nbsp;<br />
Notes to Editors:<br />
&nbsp;<br />
1.&nbsp;&nbsp; &nbsp;Today's Aether report can be viewed here: <a href="[ioID]#https://www.london.gov.uk/WHAT-WE-DO/environment/environment-publications/air-pollution-exposure-london-impact-environment-strategy">https://www.london.gov.uk/WHAT-WE-DO/environment/environment-publications/air-pollution-exposure-london-impact-environment-strategy</a> Methodology can be viewed on page 4.<br />
2.&nbsp;&nbsp; &nbsp;To discourage the use of the most polluting vehicles, drivers travelling within the zone and using non-compliant vehicles will need to pay a daily ULEZ charge of &pound;12.50, 24 hours a day, 365 days a year. These include:</p>

<ul>
	<li>motorbikes that do not meet Euro 3 standards (roughly the equivalent of not being more than 12 years old in 2019)</li>
	<li>petrol cars and vans that do not meet Euro 4 standards (roughly the equivalent of not being more than 13 years old in 2019)</li>
	<li>diesel cars and vans that do not meet Euro 6 standards (roughly the equivalent of not being more than four years old in 2019)</li>
	<li>buses, coaches and lorries will need to meet or exceed the Euro VI standard or pay &pound;100 a day</li>
</ul>

<p>3.&nbsp;&nbsp; &nbsp;Residents who live in the central London ULEZ area (i.e. the central London Congestion Charge Zone) have a 'sunset' period before they will need to pay the ULEZ charges on any vehicles that do not meet the required emission standards. This means that the ULEZ standards will not apply to their vehicles until 25 October 2021. Residents will continue to pay the T-Charge, at a discounted rate of 90%, during this sunset period.<br />
&nbsp;<br />
&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-January-GLA - Mayor’s action on air quality will benefit poorest the most  -->

 
 
        
        
            @{ViewBag.Description = "New report shows Mayor’s action on air quality will benefit poorest Londoners the most ";}
        
        


 