


@{ViewBag.Title = "Modified electric trains to be used temporarily on London Overground's Gospel Oak to Barking line";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Modified electric trains to be used temporarily on London Overground’s Gospel Oak to Barking line</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Modified electric trains to be used temporarily on London Overground’s Gospel Oak to Barking line</h1>
        <div class="content-page-press-release">
        25 January 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Contingency plan put in place as new 'Class 710' electric trains are not yet ready for passenger service
        
    </div>



 <div class="on-this-page">
<p>Customers on London Overground's Gospel Oak to Barking line will see a mixed fleet of trains operating from Monday 28 January, as an interim measure until the delayed new electric 'Class 710' trains are delivered by the manufacturer, Bombardier Transportation, and are ready for passenger service.</p>

<p>The eagerly anticipated new electric four-car walk-through trains were due to be in service in 2018 however Bombardier are still carrying out software development and mileage testing before the trains can be released for driver training and brought into use on the network. Transport for London (TfL), the Mayor of London and the Deputy Mayor for Transport all continue to press Bombardier to do everything they can to deliver a fully operating train as soon as possible to relieve the uncertainty and disruption to customers.</p>

<p>The Mayor has also spoken directly with Bombardier and secured a month's free travel for passengers once the new trains are fully introduced. The details of this are being developed and will be communicated closer to the time.</p>

<p>To ensure services can continue running on the line, three existing electric 'Class 378' trains are being modified and will be used as a temporary solution until the new trains &#45; expected almost a year ago &#45; are ready. One will join the line next week, followed by two more between now and March when the last of the existing diesel 'Class 172' trains are released for use elsewhere in the country.</p>

<p>The modified electric trains will operate alongside the current diesel trains to ensure the line can remain open for customers. This will mean some trains throughout the day will be two-cars (diesel) and some will be four-car (electric) over the coming weeks. The modified trains are more than double the capacity of the diesel trains, which means some customers will already start to benefit from the improvements that the new electric trains are expected to deliver.</p>

<p>The lease on the diesel trains has already been extended twice since last summer but they will all need to be released for elsewhere in the country by the middle of March. &nbsp;If by then, the new electric trains are still not ready to enter service, &nbsp;only the modified electric trains will be available for use. This&nbsp;could mean the frequency of services would reduce but overall capacity will stay the same or slightly increase as a result of using the larger trains. This would be a short-term measure until the new electric trains enter service and will be thoroughly communicated to customers in advance.</p>

<p><strong>Jon Fox, TfL's Director of Rail and Sponsored Services, said:</strong> 1We are very sorry for the continuing delay to the introduction of the new fleet of electric trains on the Gospel Oak to Barking line. We share our customers' frustration and continue to push Bombardier to do everything they can to allow us to bring the new trains into service as soon as possible.</p>

<p>`We had expected the new trains to be in service well before now and are doing all we can to minimise impact on our customers who have been waiting for way too long for the trains they have been promised. Given the ongoing delays we are modifying three electric trains normally used elsewhere on the network and will put them into use on the Gospel Oak to Barking line until the new electric trains are here.</p>

<p>`Customers have shown great patience and to show our appreciation the Mayor has secured funding from Bombardier to support a month's free travel on the line once the new trains are fully introduced. More detail will be available closer to the time.'</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-January-Modified electric trains to be used temporarily on London Overground’s Gospel Oak to Barking line -->

 
 
        
        
            @{ViewBag.Description = "              Modified electric trains to be used temporarily on London Overground’s Gospel Oak to Barking line";}
        
        


 