


@{ViewBag.Title = "Transport for London's advertising revenue increases as innovative advertising platforms are introduced";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Transport for London’s advertising revenue increases as innovative advertising platforms are introduced</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London’s advertising revenue increases as innovative advertising platforms are introduced</h1>
        <div class="content-page-press-release">
        17 January 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Annual advertising across TfL network raises more than &pound;150 million in 2017/18, &pound;10m more than the previous year
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It's been an exciting year, where we have seen some truly creative campaigns and have invested in modernising our advertising estate, which remains one of the most valuable in the world"</div>
        <div class="quote-footer">
            <div class="quotee-name">Chris Macleod</div>
            <div class="quotee-job-title">Customer Director at Transport for London</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL second Annual Advertising Report (2017/18) has revealed the growing success of its advertising estate, with more than &pound;150m in revenue generated during the year for investment back into improving the transport network.</p>

<p>The report highlights how TfL is continuously improving its estate with the introduction of innovative advertising platforms and illustrates how TfL is collaborating even more creatively with advertisers.</p>

<p>In 2017/2018, more than 16,000 advertisements ran on the TfL network, generating approximately &pound;152m - &pound;10m more than the &pound;142m raised in 2016/2017.</p>

<p>As part of TfL's new growth strategy, advertising is one of the key ways that it is making the most of commercial opportunities and building revenue.</p>

<p>TfL's advertising estate accounts for 20% of the UK's, and 40% of London's, outdoor advertising by value.</p>

<p>With its Tube, rail, bus and road network supporting approximately 31 million journeys every day, advertising on the transport network reaches one of the most diverse, valuable&nbsp;and engaged audiences in the world.</p>

<p>To improve opportunities for advertising, TfL has introduced 260 new full-motion screens across the London Underground network and 60 full-motion 'cross platform' screens, which customers can watch when standing on station platforms.</p>

<p>Outside of the Tube and rail network, TfL has installed 12 large digital landscape advertising screens at six key locations along London's main arterial roads.</p>

<p>The start of 2019 has also seen the first advertising campaigns going live on new digital 'ribbons' at Tottenham Court Road, Piccadilly Circus and King's Cross St. Pancras Tube stations.</p>

<p>Each consists of several aligned digital screens alongside escalators enabling an advertising campaign to seamlessly flow along the length of the escalator.</p>

<p>Advertisers have also been taking advantage of the experiential advertising opportunities offered by TfL's estate, from brands such as Netflix covering the walls and ceilings at Oxford Circus and Old Street Tube stations for their Black Mirror and Stranger Things series', to Baker Street Tube station being taken over by gnomes to celebrate the release of the 'Sherlock Gnomes' film.</p>

<p>Visa also teamed up with TfL to honour the success of the England national football team at the World Cup in Russia and renamed Piccadilly line station Southgate to Gareth Southgate, gaining global media coverage.</p>

<p>Leading advertisers are also using TfL's new segmentation data to engage its audience on the network.</p>

<p>It overlays depersonalised and grouped data from smart ticketing with Experian Mosaic groups to give advertisers more in-depth information about the types of people that use our network.</p>

<p>As well as raising revenue, TfL is also supporting the Mayor's aim to create a healthier, more active London and in particular to tackle the problem of childhood obesity in London.</p>

<p>Following the results of the consultation on the Mayor's draft London Food strategy, it was confirmed that, from 25 February 2019, there will be restrictions on advertising food that is high in fat, salt or sugar on the TfL network.</p>

<p>TfL is now working with advertisers to ensure they understand what adverts will be allowed when these restrictions take effect.</p>

<p>Chris Macleod, Customer Director at Transport for London, said: 'Advertising is one of the key ways that we are making the most of the commercial opportunities available, generating vital revenue for investment in improving the transport network for Londoners.</p>

<p>'It's been an exciting year, where we have seen some truly creative campaigns and have invested in modernising our advertising estate, which remains one of the most valuable in the world.</p>

<p>'We also continue to take great care to ensure that the adverts seen on our network are appropriate for our diverse audiences. We are extremely grateful to the Advertising Steering Group for their invaluable guidance and insight in this and many other areas.'</p>

<p>Dr Mee Ling Ng, Chair of TfL's Advertising Steering Group, said: 'In my role as Chair, I've continued to learn more about the sheer size and responsibilities of TfL's advertising estate.</p>

<p>It's vital that we have a clear, robust advertising policy, which recognises London's incredible diversity, and over the past year, the advertising steering group, with its combination of industry and academic expertise and lived experience, has continued to challenge the policy to ensure that it's fit for the challenges we face as a society.'</p>

<p>Suzy Brown, Marketing Director UK &amp; Ireland at Visa, said: 'Visa and TfL have had a long and successful relationship, including working together to introduce contactless payments across the entire network.</p>

<p>'It was fantastic to be able to further our collaboration last summer by renaming Southgate station in honour of Gareth and his team. This was a really timely marketing initiative which tapped into the nation's football fever and truly caught the public's imagination.'</p>

<p>The Annual Advertising Report and more information about advertising on the TfL network, including the TfL Advertising Policy, can be found here: <a href="https://tfl.gov.uk/info-for/business-and-commercial/commercial-media#on-this-page-4">https://tfl.gov.uk/info-for/business-and-commercial/commercial-media</a></p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>From August 2017 to July 2018, the Advertising Standards Authority received complaints about 23 advertisements that ran on our network. Four were informally resolved; six were not upheld; eleven complaints were upheld</li>
	<li>All papers for the TfL Advertising Steering Committee can be found here: <a href="https://tfl.gov.uk/info-for/business-and-commercial/commercial-media">https://tfl.gov.uk/info-for/business-and-commercial/commercial-media</a></li>
</ul>

<p>The members of the Advertising Steering Group are:</p>

<ul>
	<li>Dr Mee Ling Ng, TfL Board Member (Chair)</li>
	<li>Heidi Alexander, Deputy Mayor for Transport</li>
	<li>Evelyn Asante-Mensah, Former Commissioner for Equality and Human Rights Commission</li>
	<li>Dr Phillippa Diedrichs, Associate Professor in Appearance Research, University of West England</li>
	<li>Tom Knox, Chairman of MullenLowe and former President of Institute of Practitioners in Advertising (IPA)</li>
	<li>Leah Kreitzman, Mayoral Director for External and International Affairs</li>
	<li>Lexian Porter, Member of the TfL Youth Panel</li>
	<li>Kim Sanders, Head of Media Engagement, Stonewall</li>
</ul>

<ul>
	<li>TfL's segmentation data overlays depersonalised and grouped data from smart ticketing with Experian Mosaic demographic groups. These groups then help inform brands or advertisers on the types of people that use our network, including where they travel in London and at what times. All customer information is anonymised and grouped at a station level, so that no individual customer can be identified and no data is shared directly with brands or advertisers</li>
	<li>&nbsp;A video of Chris Macleod, Customer Director at TfL, reflecting on TfL's advertising estate and what opportunities to look out for in 2019 can be found below or by visiting this link: <a href="https://youtu.be/WnfdcKTv_rs">https://youtu.be/WnfdcKTv_rs</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-January-Transport for London’s advertising revenue increases as innovative advertising platforms are introduced -->

 
 
        
        
            @{ViewBag.Description = "Transport for London’s advertising revenue increases as innovative advertising platforms are introduced";}
        
        


 