


@{ViewBag.Title = "GLA - Winner of competition to increase diversity in advertising ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Winner of competition to increase diversity in advertising </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Winner of competition to increase diversity in advertising </h1>
        <div class="content-page-press-release">
        28 January 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Holland & Barrett's 'Me.No.Pause' campaign wins innovative competition to better represent the capital's women in advertising
        
    </div>



 <div class="on-this-page">
<p>This press release, issued by the Mayor of London, was first published on <a href="[ioID]#https://www.london.gov.uk/press-releases/mayoral/winner-of-diversity-in-advertising-competition">london.gov.uk</a></p>

<ul>
	<li>The advertising campaign addresses the stigma of menopause and will go on display on the TfL network today</li>
</ul>

<p>City Hall and Transport for London (TfL) have announced that Holland &amp; Barrett's 'Me.No.Pause' campaign has won an innovative competition designed to make advertising in London more representative of the capital.</p>

<p>The campaign, which challenges perceptions around the menopause, was chosen as the winner of the 'Women We See' competition due to its positive presentation of women going through the menopause and commitment to reflecting the diversity of women in London.</p>

<p>The competition was launched in July last year to encourage advertisers to create more positive and inclusive campaigns, after research revealed that Londoners didn't feel represented by most of the adverts they saw around the capital. Sponsored by TfL media partners, Exterion Media and JCDecaux, the competition called on brands to create adverts that reflect London's diversity, feature women from all backgrounds and move away from harmful gender stereotypes.</p>

<p>Following entries from more than 90 brands and advertising agencies, the submissions were reviewed by a panel of judges comprised of advertising and media industry experts and City Hall and TfL representatives, who were looking for a campaign to act as a catalyst to change perceptions and drive change in the industry.</p>

<p>As the winning entry, Holland &amp; Barrett has been awarded &pound;500,000-worth of prominent advertising space from Exterion and JCDecaux across the TfL network, including space on the digital screens at Canary Wharf. Holland &amp; Barrett's campaign was created by Pablo London. Mothercare was awarded runner-up in the competition, with a campaign celebrating mothers, and will receive a prize of &pound;50,000 worth of digital advertising space from Exterion and JCDecaux on the TfL network, and the campaign will go on display later this year.&nbsp;&nbsp;</p>

<p>The competition is the latest move from City Hall to encourage more positive advertising campaigns, following a ban on adverts on the TfL network which could pressure women to conform to an unrealistic or unhealthy body shape, particularly among young people. In addition, City Hall has worked with TfL to establish the Advertising Steering Group to monitor TfL's approach to advertising and to keep its policy under regular review.</p>

<p>Heidi Alexander, Deputy Mayor for Transport, said:</p>

<p>'London's diversity is our greatest strength, so it is important that we challenge the disparity between the way women are represented in adverts and the women we see around us every day in the capital.</p>

<p>'I'm absolutely delighted to be able to announce Holland &amp; Barrett as the winner of the 'Women We See' competition. Their Me.No.Pause campaign is a positive and empowering message that shows the brand's commitment to capturing the diversity of the women in our city. I'd also like to say well done to runner-up Mothercare for their fantastic campaign. We want today's campaign launch on TfL's advertising network to encourage other brands to tackle the way we represent women in advertising, ensuring that women at the heart of London's success, are given the representation they deserve.'</p>

<p>Chris Macleod, Customer Director at Transport for London (TfL), said:</p>

<p>'It was a privilege to judge all of the fantastic entries into our advertising competition, working with the Mayor and our advertising partners, Exterion Media and JCDecaux. Congratulations to the winner, Holland &amp; Barrett, as well as the runner-up, Mothercare - the competition was tough with a range of impressive entries, with each one considering the importance of gender and diversity. It was heartening to see how brands had embraced the challenge and I hope that this competition will continue to drive widespread change in the industry.'</p>

<p>Holland &amp; Barrett's Chief Marketing Officer Caroline Hipperson says:</p>

<p>'Raising awareness of menopause is something we feel very passionate about at Holland &amp; Barrett. It feels like the 'last taboo' topic that people still don't talk about openly, but it is such a natural part of life and something all women will experience! By partnering with City Hall and TfL we will now be able to convey this message over 31 million journeys. We hope this campaign will give all these amazing women the confidence to talk about what they are going through and seek advice or tips on how to alleviate any symptoms if needed. And we are taking this seriously in store too; we have invested in training for all our store colleagues on the topic so we hope women experiencing the menopause come in and speak to us.'</p>

<p>One of the lives captured in the campaign, Bunny says:</p>

<p>'I am hoping that this campaign makes a difference, I can see that there is a lack of diversity in advertising not just with older women but those who don't identify with either gender. Dealing with menopause has been a real struggle, as it can be for anyone. When I was asked to be involved in the Me.No.Pause campaign, I couldn't say no. I was proud knowing that someone who feels the same way I do would see our pictures and hopefully feel empowered or more likely to talk about the struggles they are going through with someone and not suffer in silence. More diverse stories, such as those from different races, cultures, abilities and the LGBTQ communities, need to be showcased and it's great to see'.</p>

<p>Helena Kavanagh, Managing Director, Street Furniture at JCDecaux said:</p>

<p>'Out-of-home advertising is a powerful platform when it comes to championing important issues &#45; and we are delighted to support this initiative across TfL's bus shelters supporting diversity and gender equality. Holland &amp; Barrett's campaign delivers an important message that will resonate with people across the capital. Out-of-home advertising has an important part to play in cities, it not only champions great causes but it also provides revenue streams to municipalities and transport partners that are reinvested back into public services.'<br />
&nbsp;<br />
Gavin Brice, Franchise Director at Exterion Media, said:</p>

<p>'Exterion are delighted to support the Mayor's and TfL's 'Women We See' competition. Holland &amp; Barrett has created a highly engaging campaign that makes best use of the full-motion creative opportunities across the London Underground Digital estate, including Digital Escalator Panels, Canary Wharf Iconic Screens and network of small format Digital screens.'<br />
&nbsp;</p>

<hr />
<p>Notes to editors:<br />
&nbsp;<br />
For more images and videos email <a href="mailto:communitydesk&#64;london.gov.uk">communitydesk&#64;london.gov.uk</a><br />
&nbsp;<br />
The launch of the advertising competition followed research from University College London (UCL) commissioned by City Hall, which revealed Londoners don't feel the women they see in adverts are representative of women in the capital.<br />
&nbsp;<br />
The research found that less than one in three people feel that adverts in London are relevant to them, and highlighted the extent to which people from different cultural backgrounds, age groups, those with a disability, or different sexual orientations feel ignored.<br />
&nbsp;<br />
The UCL research showed that advertising across London transport was rated the most positively of all channels in terms of the quality, diversity and portrayal of different audiences &#45; only seven per cent of Londoners stated that they found advertising on transport 'problematic'.<br />
&nbsp;<br />
TfL's advertising estate is one of the most valuable in the world, looking after 40 per cent of London's outdoor advertising. Holland &amp; Barrett will see their campaign appear across the TfL Tube, on bus shelters and on buses during the first three months of 2019, ensuring people across the city are able to engage with their innovative and positive new advert.<br />
&nbsp;<br />
<strong>About the competition:</strong><br />
&nbsp;<br />
The 'Women We See' competition opened for submissions on 16 July 2018 and closed on 22 October 2018, and was open to media, advertising and creative agencies as well as brand marketing teams.<br />
&nbsp;<br />
The submissions were reviewed by a panel of judges: Claire Beale, Editor in Chief of Campaign Magazine, Staynton Brown, Director of Diversity and Inclusion at TfL, Vanessa Kingori, Publishing Director at Vogue, Selma Nicholls, Founder and CEO of Looks Like Me, Leila Siddiqi, Head of Diversity, Institute of Practitioners in Advertising (IPA), Leah Kreitzman, Mayor Director for External Affairs, and Chris Macleod, Customer Director at TfL.<br />
&nbsp;<br />
The submissions were judged on the extent to which they challenged the industry norm, responded to the findings of the UCL research, reflected diversity and demonstrated the potential for positive results for the brand.</p>

<p>To find out more and to enter the competition, please visit, <a href="[ioID]#https://tfl.gov.uk/campaign/women-we-see-competition?cid=women-we-see">https://tfl.gov.uk/campaign/women-we-see-competition?cid=women-we-see</a><br />
&nbsp;<br />
As of 2016 TfL no longer allows ads which could reasonably be seen as likely to cause pressure to conform to an unrealistic or unhealthy body shape, or as likely to create body confidence issues, particularly among young people. The Mayor has also established an Advertising Steering Group to monitor TfL's approach to advertising and to keep its policy under regular review <a href="[ioID]#https://www.london.gov.uk/press-releases/mayoral/mayor-in-crackdown-on-body-image-advertisements">https://www.london.gov.uk/press-releases/mayoral/mayor-in-crackdown-on-body-image-advertisements</a><br />
&nbsp;<br />
The advertising space on TfL's network awarded to the winner and runner-up is being provided by Exterion and JCDecaux.<br />
&nbsp;<br />
About Mothercare's advert:<br />
As runner-up, mothercare, the UK's leading parenting retailer, is launching Unseen Mums, a campaign that champions the post-birth body, and represents a part of motherhood that is rarely represented in marketing. Led by advertising agency mcgarrybowen, the campaign seeks to normalise mothers' experiences, spark a positive conversation and help them feel confident and proud of their bodies &#45; after all, they have just performed a miracle.</p>

<p>Liz Day, parenting consultant at mothercare, said:</p>

<p>'We are thrilled to be runner up in such a fantastic competition. We hope that the honest photos in our Unseen Mums campaign showcase the diverse reality of the post birth body and offers reassurance for mums that every body is beautiful and unique. From surgical scars to stretch marks, we want to celebrate the true journey of motherhood and that includes the physical changes to the body.'</p>

<p><strong>About the research</strong></p>

<p>'The Women We See'<br />
The Women We See research was carried out by Professor Jessica Ringrose and Dr Kaitlyn Regehr and is available to read here: <a href="[ioID]#https://www.london.gov.uk/about-us/mayor-london/behindeverygreatcity/women-we-see">https://www.london.gov.uk/about-us/mayor-london/behindeverygreatcity/women-we-see</a></p>

<p>The study collected the stories of 16 women aged 21-65 and 22 teenagers aged 14-16 and polled 2,000 Londoners to explore their experiences of advertising across London.</p>

<p>The research focused on adverts in a range of public spaces that people would encounter in their day-to-day lives in the capital. Unlike adverts online or in publications, those in locations such as the Tube, London Overground or shopping centres can't be easily ignored by turning a page or closing a browser.<br />
&nbsp;<br />
Methodology</p>

<p>To carry out this research, UCL worked with a diverse qualitative sample of participants. Its focus was on exploring the embodied experience of advertising, how it made them feel, what they thought was positive and negative and what they thought should change and why. They foregrounded intersectional identity issues, including gender, race, religion and ability and looked at how these shape how diverse women and girls understand and relate to advertising media. The survey then drew on these results to measure attitudes and behaviours of 2012 Londoners about the representation of different groups in advertisements, the resonance of specific adverts for the different audience's ad which spaces, channels and advertisements are problematic.<br />
&nbsp;<br />
Quantitative research<br />
Republic conducted a representative survey of London adults to provide robust, quantitative findings. The survey polled 2,012 respondents aged 18+ that live in London and applied a weighting scheme on gender, age, income and regions to match the known population.<br />
&nbsp;<br />
The final data reports on figures based on the following split of the 2,012 respondents:<br />
Gender: 50% men, 50% women<br />
Age: 37% 18-34s, 20% 35-44s, 16% 45-54s, 27% 55+<br />
Regions: 17% Central London, 11% North London, 19% West London, 21% South London, 32% East London<br />
Ethnicity: 62% White, 37% BME (including 12% Black, 11% South Asian, 8% Mixed, 2% Chinese and 5% other)<br />
Income (per household per year): 11% -&pound;15K, 13% &pound;15K-&pound;24.99K, 21% &pound;25K-&pound;39.99K, 19% &pound;40K-&pound;59.99K, 25% &pound;60K+<br />
Housing tenure: 28% Owned outright, 33% owned with mortgage, 20% rented from a private landlord/landlady 10% rented from the council, 7% rented from a housing association<br />
&nbsp;<br />
<strong>About #BehindEveryGreatCity</strong></p>

<p>To mark the centenary of the first women in the UK winning the right to vote, and to drive forward gender equality across the city today, the Mayor ran a year-long women's equality campaign: #BehindEveryGreatCity.</p>

<p>The campaign will include a year-long programme of public art by women artists on London Underground and the unveiling of the first statue of a women - suffragist leader Millicent Fawcett - in Parliament Square. For more information, visit: <a href="[ioID]#https://www.london.gov.uk/about-us/mayor-london/behindeverygreatcity">https://www.london.gov.uk/about-us/mayor-london/behindeverygreatcity</a></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-January-GLA - Winner of competition to increase diversity in advertising  -->

 
 
        
        
            @{ViewBag.Description = "City Hall and TfL announce winner of competition to increase diversity in advertising ";}
        
        


 