


@{ViewBag.Title = "Get into the Carnival spirit and plan ahead ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Get into the Carnival spirit and plan ahead </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Get into the Carnival spirit and plan ahead </h1>
        <div class="content-page-press-release">
        13 August 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) is once again encouraging Carnival-goers, road users and customers to plan their journeys ahead of Europe's biggest street festival. On Sunday 30 and Monday 31 August, the Carnival celebrates the 'emergence of carnival' as part of the build up to the 50th Anniversary in 2016. Travel advice is available at <a href="http://www.tfl.gov.uk/notting-hill">www.tfl.gov.uk/notting-hill</a>.</p>
<p>The origins of the Notting Hill Carnival date back to 1964 when the Capital's Caribbean communities began celebrating their culture and traditions. What is now known as the two day Carnival officially began in 1966 and includes a fantastic selection of live music, which ranges from reggae to dub to salsa. The celebrations also include soca floats and steel bands.</p>
<p>TfL services will continue to keep the Capital moving during the annual three day event. Its dedicated Carnival webpage has details on how transport services will run during London's busiest annual event, including a map showing the nearest stations and bus routes. Follow &#64;TfLTrafficNews, &#64;TfLBusAlerts and &#64;TfLTravelAlerts on Twitter for all the latest information.</p>
<p>Motorists are advised to avoid driving in the Notting Hill area and West London across the Bank Holiday weekend, as a number of road closures will be in place from Saturday 29 August to early morning on Tuesday 1 September. The easiest ways to travel to and from the Carnival will be by Tube, bus, cycling or walking. However, some stations close to the Carnival will be closed or will be exit only, and some bus routes will be diverted or stop short of their journey. Public transport and road users are advised to plan their journeys in advance at <a href="http://www.tfl.gov.uk/notting-hill">www.tfl.gov.uk/notting-hil</a>l or by contacting the 24-hour London Travel Information line on 0343 222 1234.</p>
<p>Due to road closures and the demand on public transport, customers are encouraged to consider walking part of their journey to and from the Carnival. Customers can plan their walking journey at <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a>.</p>
<p>Fares and ticketing<br />
Stations in west London will be very busy on both days of the Carnival. To save time and avoid queues, customers are advised to top up their Oyster card in advance or use their contactless payment cards. To find out more about Oyster and get a card, customers are encouraged to visit <a href="http://www.tfl.gov.uk/fares">www.tfl.gov.uk/fares</a>.</p>
<p>London Buses<br />
There will be additional buses serving the Carnival, however they will not enter the Carnival area from the first bus on Sunday morning until the first bus on Tuesday morning. To the south of the Carnival area, buses will start from Notting Hill Gate and to the north of the Carnival area buses will start from the Prince of Wales on Harrow Road. Some local buses will be on diversion so customers are advised to check before they travel <a href="http://www.tfl.gov.uk/tfl/livetravelnews/realtime/buses/default.htm">www.tfl.gov.uk/tfl/livetravelnews/realtime/buses/default.htm</a>l.</p>
<p>The routes that will be serving the Carnival area are: 6, 7, 16, 18, 23, 27, 28, 31, 36, 46, 52, 70, 94, 98, 148, 187, 220, 228, 274, 295, 316, 328, 332, 390, 414, 452, N7, N16, N18, N28, N31, N98 and N207.</p>
<p>Additional buses will run on routes 2, 205 and 436, which can be found on journey planner as 2X, 205X and 436X.</p>
<p>London Underground<br />
Tube &amp; Rail will be the best way to get around London on the weekend, although stations in west London will be busier than usual.</p>
<p>Some stations close to the Carnival will be closed or will be exit only, as follows:</p>
<ul>
    <li>Ladbroke Grove station will be closed all day on Sunday 30 and Bank Holiday Monday 31 August, as the station is located along the Carnival route;</li>
    <li>Latimer Road station will be closed at 23:30 on both Sunday 30 and Monday 31 August, as the station is located along the Carnival route;</li>
    <li>Notting Hill Gate station will be exit-only between 11:00 and 19:00 and there will be no interchange between District, Circle and Central lines on Sunday 30 August. On Monday 31 August, this station will be exit only and District and Circle lines will be non-stopping between 11:00 and 19:00.  There will be no interchange between the District, Circle and Central lines all day.  Customers are advised to go to Bayswater or Paddington stations instead;</li>
    <li>Westbourne Park station will be exit-only between 11:00 and 18:00, and closed from 23:30, on Sunday 30 and Monday 31 August;</li>
    <li>Royal Oak station will be exit-only between 11:00 and 18:00, and closed from 23:30, on Sunday 30 and Monday 31 August.</li>
</ul>
<p>Carnival goers are advised to consider using alternative stations to get to the event. If customers are travelling on the Circle or District lines, they should consider using Bayswater station as an alternative between 12:00 and 19:00 on Sunday 30 August and all day Monday 31 August as trains will not be stopping at Notting Hill Gate. Customers are advised to consider using Paddington station (Hammersmith &amp; City and Circle lines) instead of Notting Hill Gate or Royal Oak as both stations will have entry restrictions. Other nearby stations include High Street Kensington, Holland Park, Queen's Park and Shepherd's Bush.</p>
<p>Customers are also advised that until Sunday 30 August, there will be no Victoria line services between Walthamstow Central and Seven Sisters due to planned engineering works, which will enable more trains to run along the entire line. More information is available at <a href="http:// www.tfl.gov.uk/victoria-line-closure">www.tfl.gov.uk/victoria-line-closure</a>.</p>
<p>London Overground<br />
The nearest London Overground stations to the Carnival area are Willesden Junction, Kensal Rise, Kensal Green, Queen's Park and Shepherd's Bush.<br />
For up to date information on Tube, DLR and London Overground services follow &#64;TfLTravelAlerts.</p>
<p>National Rail<br />
Network Rail are conducting some planned engineering works across the rail network over the Bank Holiday weekend and some train operators are amending their timetables over the August Bank Holiday. More information is available at <a href="http://www.networkrail.co.uk/timetables-and-travel/engineering-works-service-alterations">www.networkrail.co.uk/timetables-and-travel/engineering-works-service-alterations</a>/.</p>
<p>Santander Cycles<br />
A small number of Santander Cycles docking stations in the Carnival area will be suspended from 21:00 on Saturday 29 August until 07:00 on Tuesday 1 September. These include:</p>
<ul>
    <li>Turquoise Island</li>
    <li>Pembridge Villas</li>
    <li>Chepstow Villas</li>
    <li>Notting Hill Gate Station</li>
    <li>Hereford Road</li>
    <li>Ladbroke Grove Central</li>
    <li>Lansdowne Walk</li>
    <li>All Saints Church</li>
    <li>Blenheim Crescent</li>
    <li>All Saint's Road and</li>
    <li>Westbourne Park Road (Powis Gardens)</li>
</ul>
<p>Although all other docking stations will remain available, the expected traffic congestion in west London may make it difficult for cycle hire redistribution vehicles to collect and/or replace bicycles at locations in the affected area. Customers are advised to check cycle and space availability online using the live docking station map <a href="http://www.tfl.gov.uk/santandercycles">www.tfl.gov.uk/santandercycles</a>. Follow &#64;SantanderCycles on Twitter for the latest updates.</p>
<p>Roads<br />
To create a safe environment during the Carnival, there will be extensive road closures in the Notting Hill, Ladbroke Grove and Westbourne Park areas because of the Carnival. Roads will close from 02:00 on Sunday 30 until around 23:59 and on Monday from 07:00 until around 05:00 on the morning of Tuesday 1 September. Traffic is likely to be slow moving in the area, including the A5 (Edgware Road), Harrow Road, Holland Park Avenue, Notting Hill Gate and Bayswater Road so drivers should avoid the area if possible, or allow more time for their journeys. For the latest information on how the roads are operating, drivers are advised to check before they travel at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> and follow &#64;TfLTrafficNews (roads).</p>
<p>Taxi &amp; Private Hire<br />
Taxi and private hire services will be operating normally, although they will be affected by the road closures in the area. Taxi ranks along the Carnival route will be suspended. Information about booking a taxi or private hire vehicle is available at <a href="http://www.tfl.gov.uk/modes/taxis-and-minicabs">www.tfl.gov.uk/modes/taxis-and-minicabs</a>/. Follow &#64;TfLTPH on Twitter for the latest updates.</p>
<p>Businesses and Freight Businesses are advised that if they make or receive deliveries in West London over the weekend, they may be affected by congestion and increased journey times because of the road closures in and around the Notting Hill Carnival area. They may wish to consider changing deliver times and can also sign up to TfL's Road Freight Bulletin for regular information. They can sign up by emailing freight&#64;tfl.gov.uk.</p>
<hr />
<p>Notes to Editors:<br />
Images of Carnival bands in costumes using public transport are available at <a href="https://www.flickr.com/gp/tflpress/X21h8w">https://www.flickr.com/gp/tflpress/X21h8w</a><br />
Customers are advised to check before travelling via the following options:</p>
<ul>
    <li>TfL's Journey Planner at  <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> ,accessible from your computer or internet-enabled mobile device</li>
    <li>Information on posters, leaflets and Rainbow boards at Tube stations; and</li>
    <li>For 24 hour London Travel Information call local rate number 0343 222 1234.</li>
</ul>
<p>For the latest on how transport services are operating, you are advised to check before you travel at www.tfl.gov.uk and follow &#64;TfLTravelAlerts (Tube, DLR and London.Notting Hill Carnival event schedule:</p>
<ul>
    <li>Saturday 29 August - Panorama, a free open air annual steel band competition for the whole family, steel band and general music lovers, held at Emslie Horniman Pleasance centre</li>
    <li>Sunday 30 August&#45; J'overt  marks the opening of the Carnival followed by Family Day, a jubilant Children's Parade showcasing flamboyant costumes along the carnival route</li>
    <li>Monday 31 August - Monday Parade, The Grand Finale and main carnival parade - showcases a sea of vibrant colours as bands and floats in magnificent costumes dance to the tantalizing rhythms of carnival.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-August-Get into the Carnival spirit and plan ahead  -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 