


@{ViewBag.Title = "Innovative Cycle Superhighway junction in UK safety first";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Innovative Cycle Superhighway junction in UK safety first</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Innovative Cycle Superhighway junction in UK safety first</h1>
        <div class="content-page-press-release">
        25 August 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New Cambridge Heath junction on Whitechapel Road in East London offers three new safety measures for cyclists
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The innovations we're using at Cambridge Heath are a fantastic taster of the raft of improvements that are coming down the track, ensuring that people can cycle safely and more confidently in our city"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>Britain's first junction designed to avoid cyclists being hit by left-turning traffic is unveiled today, the beginning of a new wave of such junctions on London's busiest main roads.</p>
<p>Cyclists and turning motor traffic will move in separate phases, with left-turning vehicles held back to allow cyclists to move without risk, and cyclists held when vehicles are turning left.</p>
<p>There will also be a new 'two-stage right turn' to let cyclists make right turns in safety. For straight-ahead traffic, early-release traffic lights will give cyclists a head start.</p>
<p>These innovations aim to significantly cut the cyclist casualty rate. Around 85% of cyclist accidents happen at junctions, mostly involving turning traffic.</p>
<h2>Better Junctions</h2>
<p>Today's new junction, on the upgraded Cycle Superhighway 2 at Whitechapel Road and Cambridge Heath Road, will be the template for junctions to be introduced across London's main road network in future.</p>
<p>These will be at smaller locations than the 33 biggest and most complicated interchanges being improved under the Mayor's &quot;Better Junctions&quot; programme. The junction unveiled today is not one of the 33 Better Junctions locations.</p>
<p>Cycle Superhighway 2, part of wider plans by the Mayor and TfL to improve cycling safety, will deliver a world-class substantially segregated cycle route between Aldgate and Bow Roundabout in east London.</p>
<h2>Innovative safety measures</h2>
<p>Once complete, by early next year, 11 major junctions along the route of Cycle Superhighway 2 alone will involve a mixture of these innovative safety measures, keeping cyclists separate from other traffic.</p>
<p>The Mayor of London, Boris Johnson, said: 'I made a firm commitment that we would upgrade Cycle Superhighway 2 to ensure that cyclists get the time and the space they need to cycle safely. That's exactly what's happening here in east London.</p>
<p>'The innovations we're using at Cambridge Heath are a fantastic taster of the raft of improvements that are coming down the track, ensuring that people can cycle safely and more confidently in our city.'</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: 'It's great to see once again that London is leading the way in bringing safe cycling infrastructure to our streets. This innovative junction, conceived and designed by our in-house team of designers and engineers, is a key part of the Mayor's wider cycling vision.</p>
<p>'By improving Cycle Superhighway 2, as well as miles of roads and numerous junctions across the Capital, we can encourage more safe cycling and further bolster London as a truly world class cycling city.'</p>
<h2>Half the work complete </h2>
<p>TfL began constructing the upgraded Cycle Superhighway 2 in February 2015 and now, just six months later, almost half of the work is already complete.</p>
<p>Once finished, the vast majority of the route will be separated with a kerb, which will keep cyclists away from traffic.</p>
<p>Where there is less space for kerbed segregation, cyclists will be separated from traffic by pioneering highly-visible traffic 'wands' - regularly spaced flexible poles that clearly define the cycle track.</p>
<p>Later this year, TfL will also begin work on pedestrian improvements at Bow Interchange, providing new pedestrian crossing facilities at the roundabout, making it easier to cross from east to west and north to south.</p>
<h2>Transformations underway</h2>
<p>Across London, major work delivering on the Mayor's Vision for Cycling and Road Modernisation Plan is taking shape.</p>
<p>Transformations are underway at Elephant &amp; Castle, Vauxhall and work on delivering Europe's longest substantially segregated cycle route, the East West Cycle Superhighway, is progressing along Victoria Embankment.</p>
<p>Plans are also underway at Oval and Apex junctions, with works to remove gyratories at Stockwell and Archway to begin later this year.</p>
<p>Nearly &pound;1 billion is being invested in making cycling in safer in London, including through major improvements to some of the busiest junctions.</p>
<p>Plans for more than two thirds of the 33 priority junctions will have been published and consulted on by April next year.  Work on 13 of these is on track to be fully delivered by the end of next year.</p>
<p>These improvements will also be supported by the Quietway network of back-street cycle routes on borough roads across London, providing well signed, quieter route for riders of all ages.</p>
<p>For more information about the upgrade of Cycle Superhighway 2, please visit: <a href="https://tfl.gov.uk/travel-information/improvements-and-projects/cycle-superhighway-2-upgrade">https://tfl.gov.uk/travel-information/improvements-and-projects/cycle-superhighway-2-upgrade</a></p>
<hr />
<p><strong>Notes to Editors:</strong></p>
<ul>
    <li>Videos showing how the new innovative measures at junctions work can be found by visiting <a href="https://tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/vision-for-cycling?cid=cyclingvision">www.tfl.gov.uk/cycling</a> and click on &quot;Transforming Cycling in London&quot;</li>
    <li>Copies of the signage approvals TfL has received from the Department for Transport for these innovative junction designs can be found here: <a href="http://www.dft.gov.uk/traffic-auths/">http://www.dft.gov.uk/traffic-auths/</a></li>
    <li>TfL appreciates that CS2 runs along a major road in east London and its state of the art, 24/7 traffic control centre will monitor the route during the works to ensure that any delays are kept to a minimum. TfL has written to local residents and businesses advising them of the works, and roadside message signs will alert drivers to any closures both in advance and during the works to help them avoid delays and seek alternative routes</li>
    <li>Work on the upgrade to Cycle Superhighway 2 are taking place around the clock where possible to minimise disruption to traffic, and will be phased so sections of the route will remain open throughout. TfL will aim to minimise noise, especially at night, and there will be some road and lane closures as well as parking, loading and stopping restrictions in certain places. Footways, pedestrian crossings and cycle lanes will be kept open wherever possible</li>
    <li>Drivers are strongly advised to plan alternative routes to avoid delays, particularly during peak travel times. TfL will work hard to minimise disruption and will be providing live travel information at www.tfl.gov.uk/trafficnews and on Twitter at &#64;tfltrafficnews and &#64;tflbusalerts</li>
    <li>On 4 February 2015, the Transport for London (TfL) Board approved plans for the construction of four new Cycle Superhighways (East-West, North-South, CS1 and the inner section of CS5) and upgrades to the four existing Cycle Superhighway routes (CS2, CS3, CS7 and CS8) as part of the Mayor's Cycling Vision &#45; <a href="https://tfl.gov.uk/corporate/publications-and-reports/board-papers">http://www.tfl.gov.uk/corporate/publications-and-reports/board-papers</a></li>
    <li>The upgrade of Cycle Superhighway 2 forms part of TfL's continuing &pound;4bn Road Modernisation Plan, which represents the biggest investment in London's roads in a generation, including hundreds of transformational projects within the existing road network. Using radical ideas and innovative designs, the plan will make London's roads greener, safer and more attractive for the benefit of all Londoners</li>
    <li>In March 2013, the Mayor launched his Vision for Cycling in London, which detailed his &pound;913m programme to improve infrastructure and safety for cyclists in the capital</li>
    <li>The initial design work on the upgrade of CS2 was carried out by TfL's in-house design and modelling team. The detailed design and construction works are being carried out by Ringway Jacobs, a member of the London Highway Alliance (LoHAC), under supervision by TfL</li>
    <li>The upgrade of Cycle Superhighway 2 will link into the work currently underway by the City of London to remove the Aldgate gyratory which encircles Aldgate Tube station and return it to two-way traffic - <a href="http://www.cityoflondon.gov.uk/services/transport-and-streets/transport-planning/transport-projects/aldgate-area/Pages/default.aspx">http://www.cityoflondon.gov.uk/services/transport-and-streets/transport-planning/transport-projects/aldgate-area/Pages/default.aspx</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-August-Innovative Cycle Superhighway junction in UK safety first -->

 
 
        
        
            @{ViewBag.Description = "New Cambridge Heath junction on Whitechapel Road in East London offers three new safety measures for cyclists";}
        
        


 