


@{ViewBag.Title = "LU makes clear commitments to staff over work-life balance";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">LU makes clear commitments to staff over work-life balance</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>LU makes clear commitments to staff over work-life balance</h1>
        <div class="content-page-press-release">
        04 August 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"These commitments, alongside the very fair pay offer that we have put forward, represent a very good deal for our staff"</div>
        <div class="quote-footer">
            <div class="quotee-name">Nick Brown </div>
            <div class="quotee-job-title">Managing Director, London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<p>London Underground (LU) today shared with staff the proposed Night Tube rosters, which clearly demonstrate how union concerns have been listened to and how work-life balance has been protected. The amended rosters, shared with staff so they can see for themselves how the Night Tube will affect them, come with the following guarantees:</p>
<ul>
    <li>No-one will be asked to work more hours than they do today to run the Night Tube</li>
    <li>Every driver on the Night Tube will have the same, if not more, weekends off as they do now during the transition year</li>
    <li>After that, they will have a choice about whether or not they work Night Tube shifts or not</li>
    <li>Everybody will remain entitled to two days off in seven</li>
    <li>Annual leave for staff will remain significantly above the national average &#45; 43 days for a train operator, 52 days for a member of our station staff</li>
</ul>
<p>In addition, staff will continue to be able to exercise choice, swapping shifts to get the type of work-life balance they want. LU has also offered an above-inflation pay rise this year and guaranteed rises for the next two years, as well as a Night Tube bonus and &pound;200 per shift for drivers working Night Tube shifts during the transition period.</p>
<p>LU has explained to the unions that, while there could not be an increase in the value of the original pay offer, it has listened and worked to re-shape the offer in response to concerns over extra weekend working. The revised offer addresses their concerns over work life balance and rewards staff for the hard work they do in keeping London working and growing.</p>
<p>Despite this, the new offer has been rejected outright by the union leadership, again without consulting their members. Instead the unions have demanded more money, the hiring of even more staff &#45; including for ticket offices that customers no longer use &#45; and a 32 hour, four day week.  No employer can afford to meet those sorts of demands.</p>
<p>Steve Griffiths, Chief Operating Officer, London Underground, said: `The draft rosters clearly show how we propose to incorporate Night Tube duties whilst protecting the work-life balance of our staff and offering them choice. Our guarantee is that in the transition period our staff will have at least the same number of weekends off as today. After that, drivers will have the choice as to whether or not they continue to work the Night Tube shifts. Alongside that, no one will work any more hours than they do now, everyone will still get two days off in seven and staff will still be able to swap shifts to get the work-life balance they want.</p>
<p>`These commitments, alongside the very fair pay offer that we have put forward, represent a very good deal for our staff. We are urging the unions to call off the strike and put the offer to their members.  If the unions continue to believe that there are issues with work-life balance, then the only way to settle them is by keeping talking.  We remain available for talks at any time.'</p>
<p >The new pay offer is:</p>
<ul>
    <li>An average two per cent salary increase this year, and one per cent or inflation (whatever is higher) for 2016 and 2017</li>
    <li>All staff on Night Tube lines or at stations serving them will be awarded &pound;500 once the Night Tube is introduced on 12 September 2015, as promised in the original offer</li>
    <li>Drivers to receive an extra &pound;200 per Night Tube shift worked during the period Night Tube is introduced</li>
    <li>In addition, station staff are being offered a &pound;500 bonus for the successful completion of our modernisation of customer service by February 2016</li>
    <li>Assurances on work-life balance - with amended rosters and the new staff already hired for Night Tube, which will give drivers the same number of weekends off as they receive now.</li>
</ul>
<p>In addition, LU has also kept its promises to staff during the modernisation of customer service in stations, currently underway. These included ensuring a job for anyone who wants to stay at LU, without loss of pay or compulsory redundancies, and that job being no more than 30 minutes from their current work location. All stations remain staffed at all times, with a supervisor looking after each station whenever it is open. LU is also investing in the best training and technology to give station staff the tools they need to provide a more personal service for customers.</p>
<p>If strike action goes ahead, customers are advised to complete their journey by 18:30 on Wednesday 5 August. There will be no Tube service on Thursday 6 August. Extra bus and river services will run to help people get around, but all public transport and roads will be much busier than usual, especially during peak hours.</p>
<p>Customers are advised to check before they travel at tfl.gov.uk/tube-strike and by following &#64;TfLTravelAlerts, &#64;TfLTrafficNews and &#64;TfLBusAlerts on Twitter.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-August-LU makes clear commitments to staff over work-life balance -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 