


@{ViewBag.Title = "TfL publishes latest bus safety statistics ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL publishes latest bus safety statistics </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL publishes latest bus safety statistics </h1>
        <div class="content-page-press-release">
        14 August 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has today published the latest bus safety statistics (for April to June 2015), showing that accident rates on the network remain low with 2.6 injuries per million passenger journeys.</p>
<p>Bus trips account for over a third of all of road journeys in London while buses and coaches are involved in eight per cent of road collisions resulting in an injury.</p>
<p>TfL began publishing bus safety statistics on its website in June last year, as part of a commitment to further improving transparency for customers and stakeholders. Initially, details of incidents resulting in a fatality or injury requiring hospital attendance were published. Earlier this year, TfL also began publishing details of all incidents resulting in any form of injury.</p>
<p>The data is broken down by borough, bus operator and bus route &#45; and gives details of the injured person's age and gender, the nature of the incident and type of road user involved (for example, bus passenger, bus driver, pedestrian, cyclist).</p>
<p>Leon Daniels, TfL's Managing Director of Surface Transport, said: `Any injury involving our buses is one too many. That is why we continue to invest in the highest quality bus driver training and a range of safety initiatives such as Intelligent Speed Adaptation to make bus travel even safer. We will continue to work hard to meet the Mayor's target of reducing the number of people killed or seriously injured (KSIs) on the Capital's roads by 50 per cent by 2020.'</p>
<p>The number of people injured between April and June was 1506 &#45; with 83 per cent of the injuries classified as 'minor' and 87 per cent of people treated at the scene of the accident and not requiring hospital treatment. During a typical three month period, there are around 600 million journeys on the Capital's bus network and London buses travel more than 100 million kilometres in passenger service. There are 8,900 buses in the Capital's fleet and around 6.5 million bus journeys are made every day across 700 different bus routes.</p>
<p>As in previous years, there has been an increase in injuries from January-March (1230 injuries) to April-June (1506 injuries) when more people are travelling during the spring and summer.</p>
<p>Earlier this month TfL announced that CIRAS (Confidential Incident Reporting and Analysis System) would be made available to bus operators. This will provide employees of bus companies with an extra way of raising any safety concerns, complementing the proven methods for reporting and investigating incidents that are already in place. In addition TfL has:</p>
<ul>
    <li>The most rigorous training regime for bus drivers in the UK. This includes training to identify avoidable accidents and understanding how best practice can prevent these</li>
    <li>Developed an additional course called &quot;In the Zone&quot; which is being delivered to all 24,000 bus drivers in the Capital to heightens their awareness of vulnerable road users, particularly cyclists and pedestrians</li>
    <li>Monitored the outcomes of serious accident investigations and shared these regularly with all bus operators so operation of the network can be continually improved</li>
    <li>Trialled new and innovative pedestrian and cyclist detection systems on buses, along with Intelligent Speed Adaptation (ISA), to reduce the number of people killed or seriously injured. This technology is currently being trialled on 47 buses that operate on two bus routes &#45; route 19 (which runs from Battersea to Finsbury Park) and route 486 (which runs from North Greenwich to Bexleyheath).</li>
</ul>
<p >Notes to Editors</p>
<ol>
    <li>Along with earlier data, detailed bus safety data for April to June 2015 is available at: <a href="https://tfl.gov.uk/corporate/publications-and-reports/buses#on-this-page-1">https://tfl.gov.uk/corporate/publications-and-reports/buses#on-this-page-1</a></li>
    <li>The data is not considered to offer a reliable means of comparing individual bus routes or bus operating companies in relation to safety; this is because key factors such as frequency, traffic volumes and bus types used vary between routes and operators.</li>
    <li>The Confidential Incident Reporting and Analysis System (CIRAS) is standard across the rail industry and is currently used on London Underground. Its introduction to the bus network gives employees an extra way of reporting any concerns, complementing the proven methods for reporting and investigating incidents already in place.</li>
    <li>TfL is committed to syndicating open data to third parties and to engaging developers to deliver and innovate using open data. Over 6,000 developers have registered for our open data, consisting of around 360 feeds and APIs (Application Programming Interface) focussed on enabling provision of high-quality travel applications, tools and services. Developers have created hundreds of applications, reaching millions of active users.</li>
</ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-August-TfL publishes latest bus safety statistics  -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 