
    
  



@{ViewBag.Title = "Absence from work";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/pensions/your-pension/your-contributions/absence-from-work";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/your-pension">Your pension</a></li>
                
            
                 <li><a href="/pensions/your-pension/your-contributions">Your contributions</a></li>
                
            
            
                <li><span class="last-breadcrumb">Absence from work</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Absence from work</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        What happens to your membership and contributions if you are absent from work.<BR>
        
      </div>
    
    <div class="on-this-page">
      <h2>Maternity leave</h2>
<p>If you take maternity leave, the first 39 weeks count towards your pension. Contributions are deducted from your maternity pay in the same way they are deducted from your usual salary, but it's worth noting that:</p>
<ul>
    <li> For the first 26 weeks contributions are paid at the usual rate</li>
    <li>For the following 13 weeks contributions are payable at 5% of any statutory maternity pay received</li>
</ul>
<p>Any further period of maternity leave can be:</p>
<ul>
    <li> Non-pensionable &#45; that means that no contributions are payable and this period will not count for any benefits on leaving service
    </li>
    <li>Pensionable &#45; with your membership being treated as continuous. Payment of contributions can be deferred and paid on your return to work</li>
</ul>
<p>Your human resources office will provide you with a form to complete to tell us which of these options you'd like to choose.</p>
<h2>Paternity and other paid family leave</h2>
<p>Provided that you are paid during your period of leave, your membership and contributions will continue as usual.</p>
<h2>Sick leave</h2>
<p>If you are off work due to illness, your membership will continue as usual and you will continue to pay contributions. If your sick pay runs out, you will not have to pay contributions but will continue to earn benefits in the Fund.</p>
<h2>Unpaid leave</h2>
<p>Please contact the <a href="/pensions/contact">Fund office</a> for more information about what happens to your pension contributions if you take unpaid leave.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/pensions/index" class="heading">
                    <h2 id="sub-menu-heading">TfL Pension Fund<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/pensions/your-pension">Your pension</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/pensions/your-pension/your-contributions">Your contributions</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/pensions/your-pension/your-contributions/additional-voluntary-contributions">Additional Voluntary Contributions (AVCs)</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/pensions/your-pension/your-contributions/absence-from-work">Absence from work</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/pensions/your-pension/your-contributions/avc-investment-options">AVC investment options</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/your-pension/joining-and-leaving-the-fund">Joining and leaving the fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/retirement">Retirement</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/ill-health-retirement">Ill-health retirement</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/benefits-on-death">Benefits on death</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/contracting-out">Contracting-out</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/pension-payments-and-deductions">Pension payments and deductions</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/remarriage-and-divorce">Remarriage and divorce</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/member-self-service">Member self-service</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/your-pension/staff-travel">Staff travel</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/fund-management">Fund management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/environmental-social-and-governance-matters">Environmental, social and governance matters</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/news-and-publications">News and publications</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/contact">Contact TfL Pension Fund</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact TfL Pension Fund</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:helpdesk&#64;tflpensionfund.co.uk">helpdesk&#64;tflpensionfund.co.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            <p>&nbsp;08:30-16:30 Monday to Friday</p>
        </div>
        
        <div class="content-group">
            <h4>TfL Pension Fund</h4>
            
            <p>
                
                4th Floor<br />
                200 Buckingham Palace Road<br />
                London<br />
                SW1W 9TJ
            </p>
            
            
        </div>
        
                
        <div class="vertical-button-container clearfix">
            <a href="/pensions/contact" class="plain-button">More contact details</a>
        </div>
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "What happens to your TfL Pension Fund membership and contributions if you are absent from work.";}
        
            
        


 