
    
  



@{ViewBag.Title = "Website accessibility";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/website-accessibility/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">Website accessibility</span></li>
            
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Website accessibility</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We aim to make our digital services accessible and usable for everyone. 
        
      </div>
    
    <div class="on-this-page">
      <p>If you are looking for information about accessibility on London's transport network, please visit <a href="/transport-accessibility/index">Transport accessibility</a>.</p>

<h2>Change the way this site looks</h2>

<p>If you are having trouble reading this website you can change the way it looks. The settings available differ from browser to browser, but most browsers allow you to change the text size, colour and layout:</p>

<p>You can adjust the size of nearly all the text on this website by using the text size setting in your browser menu. This setting is found under View or Zoom in most browsers. Or you can use CTRL+ or CTRL- to make text bigger or smaller.</p>

<p>Some browsers allow you to change the default font and background colours you use. These settings are usually found in the Options or Preferences menus.</p>

<p>Many browsers allow you to remove all layout and styling by turning off the website style sheets. If your browser supports this setting you will most likely find it in the Settings or Preferences menu.</p>

<h2>Keyboard access</h2>

<p>Most browsers let you skip from link to link using the Tab key. The current link will be highlighted. To move backwards, hold down Shift and press the Tab key.</p>

<p>We do not use access keys as they may interfere with keyboard controls of browsers and screen readers.</p>

<h2>Improving accessibility&nbsp;&nbsp; &nbsp;</h2>

<p>We follow the guidelines for UK government websites by supporting <a href="http://www.w3.org/TR/WCAG21/">W3C's WCAG 2.1 Guidelines</a> Level AA level.</p>

<p>We carry out&nbsp; user-testing with a wide range of people, covering varied accessibility needs (mobile, cognitive, auditory and visual) and this helps us to improve the user-experience for everyone. We also test on assistive devices and software such as screen readers and magnifiers.</p>

<p>We continue to make improvements following our annual accessibility audit, consultation exercises and feedback from relevant user groups and organisations.</p>

<h2>Supported browsers</h2>

<p>We try to develop in a way that whatever browser you use, you should be able to access core information on our site.</p>

<p>Popular browsers (based on our site's usage statistics) are fully supported. If you are using an older browser, we may not be able to give you full visual and interactive richness.</p>

<p>We also regularly test our website on a variety of popular tablets and mobile devices.</p>

<h2>Digital accessibility standards&nbsp;</h2>

<p>All&nbsp;digital content and services created for TfL must meet our accessibility standards.</p>

<p>These standards apply to desktop, tablet, mobile website, web app and native app experiences</p>

<p><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/digital-accessibility-standard">Digital accessibility standard</a></p>

<p><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/digital-accessibility-testing-standard">Digital accessibility testing standard</a></p>

<p>&nbsp;</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>












<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/transport-accessibility/index" class="plain-button">Transport accessibility</a>
<a href="/info-for/suppliers-and-contractors/digital-toolkit" class="plain-button">Digital toolkit</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Website accessibility, change the way the site looks, keyboard accessibility, improving accessibility and browser support ";}
        
            
        


 