


@{ViewBag.Title = "Bus route U9 between Uxbridge Station and Harefield Hospital gets a new Sunday service";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bus route U9 between Uxbridge Station and Harefield Hospital gets a new Sunday service</h1>
        <div class="content-page-press-release">
        07 April 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has announced that from Sunday 13 April 2008, a new Sunday service will operate on bus route U9.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The additional service will be a useful link for people"</div>
        <div class="quote-footer">
            <div class="quotee-name">John Barry</div>
            <div class="quotee-job-title">Head of Network Development for London Buses</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The additional service will be a useful link for people
                            
                        </p>
                    </div>
                
            
            
            <p>This follows a TfL review and requests from Hillingdon and Harefield Tenants' and Residents' Associations.<br>&nbsp; <br>The route is operated by Arriva and runs between Uxbridge Station and Harefield Hospital.</p>
<p>It serves Harvil Road, South Harefield, Harefield Village and Harefield West, and currently runs every 20 minutes on weekdays and Saturdays, from&nbsp;06:00 to 21:00.</p>
<p>The new Sunday service will run hourly between approximately 08:00 to 21:00.</p>
<p>John Barry, Head of Network Development for London Buses, said:&nbsp;&nbsp;"We believe that the additional service will be a useful link for people travelling in and around Harefield and Uxbridge."</p>
<h2>Beneficial</h2>Pauline Crawley, Harefield Tenants' and Residents' Association chairperson, said: "We are delighted to hear that TfL took our request for a Sunday U9 bus&nbsp;service seriously and have responded to the needs of the village in such a positive way.&nbsp;<br>&nbsp;<br>"The new service will be beneficial to residents of&nbsp;Harefield West who have no&nbsp;bus service on a Sunday and to&nbsp;visitors of Harefield Hospital." 
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul type="square">
<li>Route U9 is served by single deck buses </li>
<li>London bus services are constantly under review to ensure we continue to provide the best possible service to those who live in, work in, or visit London </li>
<li>All London buses have in-vehicle CCTV and all except the Heritage Routemasters are accessible to wheelchair users</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This follows a TfL review and requests from Hillingdon and Harefield Tenants' and Residents' Associations.&nbsp; The route is operated by Arriva and runs between Uxbridge Station and Harefield Hospital.It serves Harvil Road, South Harefield, Harefield";}
        
        


 