


@{ViewBag.Title = "Clean sweep for passengers using Kentish Town West, Finchley Road & Frognal and Kilburn High Road stations";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Clean sweep for passengers using Kentish Town West, Finchley Road & Frognal and Kilburn High Road stations</h1>
        <div class="content-page-press-release">
        18 April 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is pleased to announce that the second phase of improvements at Kentish Town West, Finchley Road & Frognal and Kilburn High Road stations is now complete.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"All London Overground stations will be upgraded and refurbished by 2010"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ian Brown</div>
            <div class="quotee-job-title">TfL London Rail's Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            All London Overground stations will be upgraded and refurbished by 2010
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>As part of the London Overground stations' improvement programme passengers will find that the stations have been thoroughly cleaned and re-painted. </p>
<p>The existing equipment including the public announcement and CCTV systems, information screens and lights have also been checked and repaired where necessary.</p>
<p>The Managing Director of TfL London Rail, Ian Brown, said: "TfL is now well into delivering the planned improvements for London Overground. </p>
<h2>Improvements</h2>
<p>"Kentish Town West, Finchley Road &amp; Frognal and Kilburn High Road stations are just some of 11 stations that have been deep-cleaned since TfL took over the management of the network six months ago. </p>
<p>"This work is the second phase of TfL's station improvement programme, which follows the installation of Oyster pay as you go at all stations in November 2007. </p>
<p>"All London Overground stations will be upgraded and refurbished by 2010 and some will be remodelled depending on funding availability.</p>
<p>"Improvements to our network are crucial so that passengers using London Overground, including those who have accessibility problems, can enjoy a safe, reliable and high quality service." </p>
<h2>Delivering</h2>
<p>Together with the stations improvement programme, TfL's investment for London Overground will also upgrade the network infrastructure and deliver a new fleet of trains. </p>
<p>Both these projects are due to start this year.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Stations where deep cleaning work has been completed so far, are: Brondesbury Park, Kensal Rise, Kentish Town West, Canonbury, Finchley Road &amp; Frognall, Crouch Hill, Upper Holloway, Hatch End, Kilburn High Road, Homerton, Caledonian Road &amp; Barnsbury </li>
<li>Phase 2 work includes the deep cleaning of platform and ticket halls to remove dirt and chewing gum; repainting&nbsp;ticket halls, floor markings, lamp posts, handrails, stair-risers and fences to help visually impaired passengers; clearing guttering; removing graffiti; checking and repairing of PA, CCTV, information displays and lights and installation of anti-pigeon roosting measures </li>
<li>TfL is investing &pound;1.4bn in London Overground including the extension and conversion of the former East London Underground line to National Rail </li>
<li>The London Overground network consists of the Richmond to Stratford, Willesden Junction to Clapham Junction (via Kensington Olympia), Gospel Oak to Barking and Euston to Watford DC lines, and will be joined by the extended East London line when it opens in 2010 </li>
<li>There are 73 stations on the London Overground network; 50&nbsp;on the North London Railway with two new stations due to open on the West London line by 2010 and 17 stations on the East London line with four new stations due to open in 2010 </li>
<li>Every day, 63,000 people use the London Overground network bringing a total of 23 million journeys every year </li>
<li>Before and after pictures of the stations are available on request. Please contact the TfL Press Office</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "As part of the London Overground stations' improvement programme passengers will find that the stations have been thoroughly cleaned and re-painted. The existing equipment including the public announcement and CCTV systems, information screens and lights";}
        
        


 