


@{ViewBag.Title = "Closure of New Oxford Street and Charing Cross Road bus lanes";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Closure of New Oxford Street and Charing Cross Road bus lanes</h1>
        <div class="content-page-press-release">
        10 April 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From 06:30 Monday 14 April until Monday 7 July 2008, New Oxford Street and Charing Cross bus lanes will be closed to allow essential works by Thames Water to take place.
        
    </div>



 <div class="on-this-page">
<p>
<p>Routes 7, 8, 10, 14, 19, 24, 25, 29, 38, 55, 73, 98, 134, 176, 242, 390, N7, N8, N10, N19, N20, N29, N38, N41, N73, N98, N171, N207, N253 and N279 will be diverted. </p>
<p>Full details of the diversions will be available on <a href="http://www.tfl.gov.uk">online</a>. </p>

<p>Posters advising passengers of the diversions and stopping arrangements will be displayed at the affected bus stops.</p>
<p>There will be temporary bus stops along St Giles High Street and Shaftesbury Avenue during the diversions.&nbsp;&nbsp;<br>&nbsp;<br>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<p>During the closure of New Oxford Street and Charing Cross Road bus lanes buses will be diverted as follows:</p>
<p><strong>Route 14</strong></p>

<p>Southbound - towards Putney Heath: From Bloomsbury Street down Shaftesbury Avenue continuing along Shaftesbury Avenue to normal line of route. </p>
<p>Northbound - towards Warren Street: No diversions.</p>
<p><strong>Routes 7, 10, 73, 134, 390, N7, N10, N73 and N253</strong></p>

<p>Southbound - towards Centre Point: From Bloomsbury Street at New Oxford Street diverted down Shaftesbury Avenue then right onto St Giles High Street, turning right at the cut through into Andrew Borde Street, left into New Oxford Street and then returning to normal line of route. </p>
<p><strong>Route 134</strong> will terminate at the temporary stop in St Giles High Street. </p>
<p>Northbound - towards Warren Street or Russell Square: No diversions. </p>
<p><strong>Routes 8, 25, 55, 98, 242, N8, N55, N68, N73, N98, N171 and N207</strong></p>

<p>Westbound - towards Centre Point: From High Holborn, diverted to continue down High Holborn, along St Giles Street, turning right at the cut through into Andrew Borde Street, left into New Oxford Street and then returning to normal line of route. </p>
<p>Buses will also be stopping at the bus stop in High Holborn at Drury Lane. </p>
<p><strong>Route 242</strong> will terminate at the temporary bus stop in St Giles High Street.</p>
<p>Eastbound - towards Holborn: No diversions. </p>
<p><strong>Routes 24, 29, N20, N29 and N279</strong><br>Southbound - towards Trafalgar Square: From Bloomsbury Street at New Oxford Street diverted down Shaftesbury Avenue, turning left onto Charing Cross Road and then returning to normal line of route. </p>
<p>Northbound - towards Warren Street Station: No diversions. </p>
<p><strong>Routes 19, 38, N19 and N38</strong><br>Southbound - towards Piccadilly Circus: From High Holborn at New Oxford Street diverted down High Holborn, left on Shaftesbury Avenue and then returning to its normal line of route.</p>
<p>Buses will also be stopping at the bus stop in High Holborn at Drury Lane.</p>
<p>Northbound - towards Angel Islington: No diversions. </p>
<p><strong>Route 176</strong><br>Southbound - towards Waterloo: <br>From Oxford Street at Charing Cross Road diverted down New Oxford Street, turning right onto Shaftesbury Avenue, continuing down Charing Cross Road and then returning to normal line of route. </p>
<p>Northbound - towards Oxford Circus: No diversions. </p>
<p><strong>Route N41</strong><br>Southbound - towards Trafalgar Square: <br>From High Holborn at New Oxford Street diverted down High Holborn turning left onto Shaftesbury Avenue and then onto Charing Cross Road before returning to normal line of route. </p>
<p>Buses will also be stopping at the bus stop in High Holborn at Drury Lane.</p>
<p>Northbound - towards Angel Islington: No diversions. <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Routes 7, 8, 10, 14, 19, 24, 25, 29, 38, 55, 73, 98, 134, 176, 242, 390, N7, N8, N10, N19, N20, N29, N38, N41, N73, N98, N171, N207, N253 and N279 will be diverted. Full details of the diversions will be available on online. Posters advising passengers of";}
        
        


 