


@{ViewBag.Title = "Community groups urged to get on their bikes";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Community groups urged to get on their bikes</h1>
        <div class="content-page-press-release">
        18 April 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London's community groups have until Friday 16 May to apply for grants worth up to &pound;5,000 each from this year's Community Cycling Fund for London (CCFfL).
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We're seeing more and more people from all walks of life riding around the Capital
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The Community Cycling Fund for London (CCFfL), which is managed by the London Cycle Campaign and funded by Transport for London (TfL), supports groups who want to help increase the number of people cycling in their area.</p>
<p>Grants are available to help run local rides, events or other small scale projects that will encourage and grow cycling within London's many diverse communities. </p>
<p>Applications for the first round of funding from the &pound;200,000 2008 pot have already closed, so community groups have just one month left to apply for the second and final round of grants.</p>
<p>In 2007, more than&nbsp;&pound;200,000 in grants were made to 54 groups across the Capital. </p>
<h2>Cycle with confidence</h2>
<p>Projects that were funded in 2007 supported a diverse range of activities, including: helping deaf children acquire the balance and confidence needed to ride bikes safely, promoting cycling among Orthodox Jewish women in North London, organising nature rides during summer holidays for children from estates, and promoting cycling as a benefit to children's health and wellbeing.</p>
<p>Peter McBride, Head of Cycling, Walking and Accessibility at TfL, said: "Cycling in London really is undergoing a revolution - we're seeing more and more people from all walks of life riding around the Capital.</p>
<p>"The Community Cycling Fund for London is helping lots of local cycling projects to get off the ground.</p>
<p>"The beauty of grass roots projects like these is that they are grown by local communities and open up cycling to people who might never have thought of cycling otherwise." </p>
<h2>Apply now</h2>
<p>Koy Thompson, CEO of London Cycle Campaign, said: "Through the CCFfL we have helped hundreds of people who wouldn't ordinarily get the chance to access the joys and benefits of every day cycling"</p>
<p>Applications must be sent before Friday 16 May.</p>
<p>For further information about the grants and how to apply, please visit <a href="http://www.lcc.org.uk">www.lcc.org.uk</a></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong>&nbsp;</p>
<ul>
<li>The Community Cycling Fund for London (CCFfL) works in partnership with four key members - TfL, London Cycling Campaign, Sustrans and the Greater London Authority </li>
<li>London has seen a dramatic rise in the number of people cycling, with an 83 per cent increase on London's major roads since 2000. It is estimated that there are now approximately 480,000 cycle journeys a day across London as a whole </li>
<li>CCFfL was previously known as the Cycle London Promotion Partnership (CLPP) and has been running since 2003 </li>
<li>The annual Cycling Communities Awards, funded by TfL, will take place on 22 May 2008. Cycling Community Groups and members of 999 emergency cycling teams will be attending the event, which has been created to celebrate the many important local cycling projects that are now taking place across the Capital </li>
<li>The next chance to apply for the CCFfL will be in February 2009 </li>
<li>Case study - Pedal4Health - success story<br>
<ul>
<li>The Pedal4Health children's cycling project is a local initiative awarded &pound;5,000 funding from&nbsp;CCFfL subsidised through a TfL grant and administered and managed by the London Cycle Campaign </li>
<li>This is the second year running that the&nbsp;south London&nbsp;based project Pedal4Health will be running and has thus far benefited more than 100 children, including a boy of eight who was&nbsp;around eleven stone&nbsp;and&nbsp;witnessed an improvement and got fitter as a result of the cycling </li>
<li>The project aims to continue promoting cycling as a benefit to children's health and wellbeing by providing cycling activities for able bodied children, teenagers and some adults who may not have had the chance to learn to cycle or to enhance cycling skills and boost confidence. Overweight children, who would normally be too self conscious to join in group cycling courses, have also benefited greatly </li>
<li>The programme, which emphasises safety and enjoyment, is tailor-made for each individual and is fully supervised. The programme enables participants to view cycling as an everyday activity rather than a competitive sport which may have been a barrier for them in the past </li>
<li>The funding given to Pedal4Health has been used to buy several bicycles as well as a special three-wheeler bike which immediately helps children with balance issues, giving them the confidence to continue cycling </li>
<li>The success of the project has meant that the project leaders, Fred Ellis and Anne Magee, who are both&nbsp;accredited cycling instructors,&nbsp;have started receiving referrals from local Primary Care Trust (PCT) healthcare professionals and feedback from all that have been involved has been extremely positive </li>
<li>Fred Ellis, Project Leader for Pedal4Health, said: "We are very pleased to have received the grant from the Community Cycling Fund for London. This funding will help us provide cycle training and rides for children and adults who&nbsp;have problems with weight control. We want to show how cycling can be a fun way to keep fit and healthy" </li>
<li>For further information about Pedal4Health please visit <a href="http://www.pedal4health.co.uk">www.pedal4health.co.uk</a> or call 07915 090 571<br><br></li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Community Cycling Fund for London (CCFfL), which is managed by the London Cycle Campaign and funded by Transport for London (TfL), supports groups who want to help increase the number of people cycling in their area.Grants are available to help run";}
        
        


 