


@{ViewBag.Title = "DLR Limehouse station link on the way";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>DLR Limehouse station link on the way</h1>
        <div class="content-page-press-release">
        08 April 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Docklands Light Railway (DLR), part of Transport for London (TfL), has confirmed that it will build a connecting footbridge between Limehouse DLR and c2c stations.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The footbridge will reduce journey times"</div>
        <div class="quote-footer">
            <div class="quotee-name">Jonathan Fox</div>
            <div class="quotee-job-title">Director DLR</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The footbridge will reduce journey times
                            
                        </p>
                    </div>
                
            
            
            <p>The &pound;1.9m link, funded by TfL and the Department for Transport (DfT), will allow swift and easy access from the c2c westbound to DLR eastbound platforms.</p>
<p>Currently, passengers at c2c Limehouse station wishing to continue their journey via DLR towards Canary Wharf and the Isle of Dogs have to walk down stairs to a lower-level concourse area and then use stairs or a lift again up to the DLR. </p>
<p>The footbridge will offer step-free access and significantly reduce passenger interchange time from c2c to DLR, which will greatly benefit the 3,000 passengers that make this transfer in the weekday morning peak period.</p>
<p>DLR has appointed Taylor Woodrow Construction to build the footbridge.</p>
<h2>Enhanced service</h2>
<p>Taylor Woodrow will combine the works with the 'three-car' project they are carrying out on behalf of DLR, which involves upgrading the railway's network to allow longer DLR trains-three carriages as opposed to the current two carriages-to operate. </p>
<p>The footbridge will be constructed at the same time as DLR Limehouse platform is extended to allow this enhanced service.</p>
<p>Rail Minister Tom Harris said: "The footbridge at Limehouse station will make it easier for passengers to move between the DLR and c2c platforms.</p>
<p>"Step-free interchange is of great benefit to disabled and older people, and those with heavy or awkward luggage.</p>
<h2>Shorter journeys</h2>
<p>"It will be part-funded through our &pound;370m Access for All scheme, which finances redevelopment of stations across England, Scotland and Wales to improve accessibility for passengers."</p>
<p>Jonathan Fox, Director DLR, said: "The footbridge will reduce journey times for hundreds of people each day by making it quicker and easier for passengers to change between c2c and DLR services without using stairs or lifts. </p>
<p>"DLR is determined to keep pace with ever-increasing demand and will continue to implement these type of initiatives, in conjunction with Government, to accommodate booming passenger numbers, which are currently at 65m per year, the highest ever level."</p>
<p>&nbsp;</p>
<p><br>
<hr>

<p>
<p><br><strong>Notes to editors:</strong></p>
<ul>
<li>Passengers requiring c2c services from DLR at Limehouse will need to continue using the concourse access area via stairs or lifts </li>
<li>Planning permission for the footbridge was sought in autumn 2007 and obtained in January 2008 </li>
<li>DfT is funding &pound;250,000 from its 'Access for All' programme, TfL is funding &pound;600,000 from its Interchange Programme and DLR will fund the remaining amount </li>
<li>For more information on DLR go to <a href="http://www.dlr.co.uk/">http://www.dlr.co.uk/</a></li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The &pound;1.9m link, funded by TfL and the Department for Transport (DfT), will allow swift and easy access from the c2c westbound to DLR eastbound platforms.Currently, passengers at c2c Limehouse station wishing to continue their journey via DLR towards";}
        
        


 