


@{ViewBag.Title = "Docklands Pier re-opened for commuters";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Docklands Pier re-opened for commuters</h1>
        <div class="content-page-press-release">
        22 April 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) and British Waterways will re-open Masthouse Terrace Pier on Friday 25 April following a &pound;500,000 refurbishment.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We aim to encourage more commuters to use the river"</div>
        <div class="quote-footer">
            <div class="quotee-name">Dennis Fink</div>
            <div class="quotee-job-title">British Waterways' Docklands Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We aim to encourage more commuters to use the river
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The upgraded facilities at the pier will enable a higher number of passengers to use the Thames Clippers river bus services, which connect the major commuter interchanges of Blackfriars, London Bridge, Charing Cross and Waterloo with the Isle of Dogs, and the commercial hub of the Docklands.</p>
<p>As part of the refurbishment the pier has also been fitted with new safety measures, increased facilities for people with disabilities, and features aimed at enhancing the travel experience and comfort of passengers. </p>
<p>As part of the &pound;500,000 project, the steel structure of the pier has been upgraded, and the pier has been repainted and refurbished, and fitted with new passenger information boards.</p>
<p>Security has been improved with the installation of CCTV cameras, a help point and a new passenger shelter.</p>
<p>In order to make it more accessible to people with disabilities it has been fitted with handrails and Disability Discrimination Act compliant access ramps.</p>
<h2>Commuters</h2>
<p>Mike Weston, Operations Director for Transport for London's&nbsp; Surface Transport, said: 'Transport for London has made a substantial investment in developing sustainable commuter services on the river, and will continue to invest in making river transport an attractive, viable option for commuters.</p>
<p>'The improvements to Masthouse Terrace Pier mean passengers will know when the next boat is due to arrive and they will be able to wait in comfort in all weathers using the new shelter.</p>
<p>'They will also benefit from increased security, for new CCTV cameras have been installed at the pier alongside a help point which is connected to a 24/7 emergency control room.'</p>
<p>Dennis Fink, British Waterways' Docklands Manager, explains: 'We are very pleased with the refurbishment works, and hope that passengers will be impressed with the improved pier. </p>
<h2>More choice</h2>
<p>'We aim to encourage more commuters to use the river to reach the Docklands, and this project supports our long term plans to work with TfL and other partners to bring several new piers into operation, offering more choice for Docklands commuters.'</p>
<p>The refurbishment of the pier was undertaken by British Waterways' contractors Volker Stevin.</p>
<p>The pier was towed by river to a dry dock at Greenwich for the refurbishment works.</p>
<p>Masthouse Terrace Pier was built in 1987 by London Docklands Development Corporation.</p>
<p>It has been used as a riverbus stop by Thames Clippers since 2002 and is currently used by 800 passengers a week.</p>
<p>
<hr>

<p>
<p><strong>Notes to</strong> <strong>editors:</strong></p>
<ul>
<li><a href="http://www.britishwaterways.co.uk/london">British Waterways</a> cares for and manages 100 miles of canals and rivers and 110 acres of docks in London. As a not-for-dividend public corporation it works with a broad range of public, private and voluntary sector partners to unlock the potential of the inland waterways for the benefit of the millions who visit and care for them </li>
<li>TfL's <a href="http://www.tfl.gov.uk/modalpages/2648.aspx">London River Services </a>owns and operates the following piers: Millbank Millennium, Westminster Millennium, Embankment, Festival, Blackfriars Millennium, Bankside, Tower Millennium and Greenwich </li>
<li>A TfL grant of &pound;400,000 contributed towards the Masthouse Terrace Pier improvement works </li>
<li>The help point on Masthouse Terrace Pier will connect users to CentreComm, London Buses' 24/7 Emergency Command and Control Centre, who will be able to remotely monitor CCTV footage from the pier </li>
<li>London River Services is keen to ensure the continued growth and development of river services and to see that all riverboat services are integrated, where practicable, with London's other public transport services </li>
<li>A new timetable on services from Masthouse Terrace Pier has been issued by operator Thames Clippers. The first Westbound River Bus Service from Masthouse Terrace Pier departs at 06:20 and leaves every 20 minutes from 07:00 until 00:11. The Eastbound,services also depart every 20 minutes from 10:32 until 01:14. Services also operate every 20 minutes on Saturday, Sunday and Bank Holidays. More information on the timetable can be found&nbsp;<a href="http://www.thamesclippers.com/homePassengers">here</a> with a valid Travelcard will get a third off the price of their river bus ticket </li>
<li>Photographs are available on request</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The upgraded facilities at the pier will enable a higher number of passengers to use the Thames Clippers river bus services, which connect the major commuter interchanges of Blackfriars, London Bridge, Charing Cross and Waterloo with the Isle of Dogs, and";}
        
        


 