


@{ViewBag.Title = "Even more trains for London Overground";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Even more trains for London Overground</h1>
        <div class="content-page-press-release">
        01 April 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Overground announced today it's taken up an option to order seven more trains from manufacturers Bombardier for its rail network.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are confident that more frequent services can be reliably provided"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ian Brown</div>
            <div class="quotee-job-title">Managing Director London Rail</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are confident that more frequent services can be reliably provided
                            
                        </p>
                    </div>
                
            
            
            <p>The dual-voltage Class 378s, each made up of four carriages, will cost &pound;23m. </p>
<p>They will be delivered during the last quarter of 2009 and the first quarter of 2010, directly following&nbsp;an order for 44 trains, which are currently being assembled at Derby.</p>
<p>Ian Brown, Managing Director London Rail, said: 'London Overground was able to take up the option because progress with Network Rail in planning for a major upgrade of the infrastructure of the North London Line has reached the point where we are confident that more frequent services can be reliably provided.&nbsp; </p>
<h2>Increasing the frequency of trains</h2>
<p>'Crucially, the new trains will allow London Overground to increase the frequency of trains to eight per hour on the core route between Camden Road and Stratford, as required by London's Olympic and Paralympics Games Transport Plan and for future growth.'</p>
<p>
<hr>

<p>
<h3>Notes to editors</h3><br>The trains will: 
<ul>
<li>have six passenger information displays inside, and state-of-the-art heating and air-conditioning systems</li>
<li>need to be serviced every 30,000 to 40,000 miles </li>
<li>have look and feel of Tube trains </li>
<li>be walk-through, without doors between carriages</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The dual-voltage Class 378s, each made up of four carriages, will cost &pound;23m. They will be delivered during the last quarter of 2009 and the first quarter of 2010, directly following&nbsp;an order for 44 trains, which are currently being assembled at";}
        
        


 