


@{ViewBag.Title = "Extension to route U1 provides additional links for Hillingdon";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Extension to route U1 provides additional links for Hillingdon</h1>
        <div class="content-page-press-release">
        28 April 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Bus route U1 (currently Ruislip - Uxbridge - Hillingdon Hospital) will be extended from Hillingdon Hospital to West Drayton Station from Saturday 3 May 2008.
        
    </div>



 <div class="on-this-page">
<p>This will provide extra capacity for people travelling between West Drayton, the hospital and Brunel University.</p>
<p>As well as the extension, route U1 will also be re-routed to serve Kingston Lane instead of Cleveland Road.</p>
<p>This gives students at Brunel University easier access to areas of the campus around Kingston Lane.</p>
<p>Route U3 will continue to serve Cleveland Road. </p>
<p>John Barry, Head of Network Development for London Buses, said: 'The changes to route U1 will give better access for both Hillingdon Hospital and Brunel University.'</p>
<p>Buses will continue to run at the current frequency, operating every 15 minutes Monday to Saturday and every 30 minutes on Sundays.</p>
<p>The changes follow a review of the service. </p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Route U1 is operated by First, using single deck buses</li>
<li>London Bus Services are constantly under review to ensure we continue to provide the best possible service to those who live in, work in, or visit London</li>
<li>All London buses have in-vehicle CCTV and all except the Heritage Routemasters are accessible to wheelchair users<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This will provide extra capacity for people travelling between West Drayton, the hospital and Brunel University.As well as the extension, route U1 will also be re-routed to serve Kingston Lane instead of Cleveland Road.This gives students at Brunel";}
        
        


 