


@{ViewBag.Title = "FORS introduced to the freight industry at trade show";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>FORS introduced to the freight industry at trade show</h1>
        <div class="content-page-press-release">
        15 April 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL invites freight operators to join distribution efficiency scheme
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'FORS is one of four big projects that have come out of the London Freight Plan and will be extremely valuable"</div>
        <div class="quote-footer">
            <div class="quotee-name">Stephen Steele</div>
            <div class="quotee-job-title">Head of TfL's Freight Unit</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'FORS is one of four big projects that have come out of the London Freight Plan and will be extremely valuable
                            
                        </p>
                    </div>
                
            
            
            <p> <p>Transport for London's Freight Operator Recognition Scheme (FORS) was rolled out to the freight industry this week, at the Commercial Vehicle Show in Birmingham.</p> <p>FORS&nbsp;is a unique membership scheme that will establish industry benchmarks and acknowledge operational efficiency within the freight industry.</p> <p>The scheme will be open to all van and lorry operators delivering in and around London and aims to improve all areas of freight distribution and&nbsp;to reduce CO2 emissions, congestion, collisions and operator costs.</p> <h2>Three benefits</h2>FORS offers three key benefits:  <ul> <li>Access to advice. Membership to FORS will give operators access to advice and assistance in meeting their legal obligations and compliance with statutory regulations  </li><li>Raising standards. FORS will educate, encourage and give incentives to operators to follow best practice, beyond being compliant with the law  </li><li>Promoting sustainability. FORS will support operators in improving the safety of their business, reducing their impact on the environment and becoming more economically efficient </li></ul> <p>The scheme will benefit both operators and clients; it will be an invaluable tool for clients when awarding contracts, as it provides a simple way for operators to demonstrate their sustainable credentials</p> <p>The project will also link with bespoke London training for drivers, recognised with a National Vocational Qualification (NVQ) Level 2.</p> <h2>London Freight Plan</h2> <p>FORS is one of four key projects detailed in the London Freight Plan which was published earlier this year. </p> <p>Stephen Steele, Head of TfL's Freight Unit, said: 'FORS is one of four big projects that have come out of the London Freight Plan and will be extremely valuable. </p> <p>'We hope the scheme will encourage freight operators to focus on how they can adopt better working practices that will make them stand out from their competitors and make their businesses more efficient, while actively contributing to the wider agenda of reducing their impact on climate change and improving sustainability.''</p> <h3>Notes to editor:</h3> <ul> <li>More information on Transport for London's FORS scheme can be found&nbsp;in the <a href="/businessandpartners/freight/1286.aspx">FORS section</a> of this site&nbsp;  </li><li>The London Freight Plan is the result of a collaborative partnership between the London Sustainable Distribution Partnership (LSDP), TfL, the London boroughs and key businesses, freight operators and industry associations. It was published in January 2008 and a PDF can be downloaded from the <a href="/businessandpartners/freight/1292.aspx">London Freight Plan</a> page on this website&nbsp;&nbsp;<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London's Freight Operator Recognition Scheme (FORS) was rolled out to the freight industry this week, at the Commercial Vehicle Show in Birmingham. FORS&nbsp;is a unique membership scheme that will establish industry benchmarks and";}
        
        


 