


@{ViewBag.Title = "High Court upholds PCO's decision to withdraw approval for modified Eco-Power system";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>High Court upholds PCO's decision to withdraw approval for modified Eco-Power system</h1>
        <div class="content-page-press-release">
        23 April 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has today advised it has won a legal challenge against Eco-Power after a decision to withdraw approval of a modified emission reduction system.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our concern throughout has been to ensure that our high standards of emissions reduction technology are maintained"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ed Thompson</div>
            <div class="quotee-job-title">TfL's Taxis and Private Hire Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our concern throughout has been to ensure that our high standards of emissions reduction technology are maintained
                            
                        </p>
                    </div>
                
            
            
            <p>On the advice of the Energy Saving Trust (EST), TfL's Public Carriage Office (PCO) decided on Friday 28 March to withdraw the approval granted on 11 September 2007 for the modified Eco-Power emissions reduction system (which recirculates exhaust gases into the vehicle's exhaust pipe via a heat exchanger, rather than through the vehicle's engine). </p>
<p>Following a conformity inspection carried out by EST, the PCO was advised that the modified system did not meet the technical requirements for reducing emissions of oxides of nitrogen. </p>
<h2>Flawed</h2>
<p>A PCO notice was issued on Friday 28 March providing advice for taxi owners who had already installed the system or had appointments to have it installed.&nbsp;</p>
<p>The PCO wanted to prevent taxi owners fitting a system that they believed may be flawed.</p>
<p>However, Eco-Power obtained an injunction from the High Court on 30 March preventing the PCO from publishing notice of the withdrawal of the approval.</p>
<p>In the High Court yesterday (Tuesday 22&nbsp;April ), Judge Hickinbottom discharged that injunction and dismissed Eco-Power's challenge to the PCO's decision to withdraw the authorisation in respect of the modified system. </p>
<h2>Expert advice</h2>
<p>The judge held that, in doing so, the PCO had acted reasonably on the basis of proper expert advice. </p>
<p>The High Court confirmed that PCO approvals for Eco-Power's original system (which recirculates exhaust gases directly into the vehicle's engine) remain unaffected. </p>
<p>The PCO has no objection to this original system being fitted. </p>
<p>Ed Thompson, TfL's Taxis and Private Hire Director, said: 'Our concern throughout has been to ensure that our high standards of emissions reduction technology are maintained. </p>
<p>'The PCO is pleased with this outcome and fully takes on board the judge's detailed and careful consideration of this case.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors </strong></p>
<ul>
<li>The emission systems approved by the PCO are designed to reduce key local air pollutants in London which include oxides of nitrogen (NOx), and particulate matter (PM10) </li>
<li>The Energy Saving Trust (EST) is a non-profit organisation, funded both by government and the private sector. They are set up to address the damaging effects of climate change and have offices in England, Scotland, Northern Ireland and Wales. Their aim is to cut emissions of carbon dioxide (CO2) by promoting the sustainable and efficient use of energy </li>
<li>There are issues outstanding as the PCO disputes that, in the light of the final judgement, that Eco Power had any right to claim damages </li>
<li>This decision and the subsequent PCO notice does not affect approval of two other emissions reduction equipment for which Eco-Power were given approval on 5 June 2007 and 16 July 2007 </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "On the advice of the Energy Saving Trust (EST), TfL's Public Carriage Office (PCO) decided on Friday 28 March to withdraw the approval granted on 11 September 2007 for the modified Eco-Power emissions reduction system (which recirculates exhaust gases";}
        
        


 