


@{ViewBag.Title = "Metronet about to be transferred to Transport for London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Metronet about to be transferred to Transport for London</h1>
        <div class="content-page-press-release">
        23 April 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Exit from Administration expected within weeks
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'We anticipate that the Metronet business will transfer to Transport for London during the next few weeks"</div>
        <div class="quote-footer">
            <div class="quotee-name">Tim O'Toole</div>
            <div class="quotee-job-title">LU Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'We anticipate that the Metronet business will transfer to Transport for London during the next few weeks
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Metronet's exit from Administration and transfer to Transport for London (TfL) neared completion today, as the Mayor of London gave his approval to the schemes which transfer the Metronet business to TfL so that the final legal process can start.</p>
<p>The PPP Administrators from Ernst &amp; Young&nbsp;will now make an application to the Courts to establish a date for a hearing, at which a date for the transfer of the people, assets and contracts of the Metronet business to TfL control will be finalised.</p>
<p>It is anticipated that this will happen within weeks. </p>
<h2>Hard work</h2>
<p>London Underground Managing Director Tim O'Toole said: 'We&nbsp;have now begun the final process of removing Metronet from Administration, which is a major achievement and extremely good news for London's Tube passengers.&nbsp; </p>
<p>'We anticipate that the Metronet business will transfer to Transport for London during the next few weeks.</p>
<p>'In dealing with the collapse of Metronet, and through the Administration process,&nbsp;there have been&nbsp;two key priorities. </p>
<p>'First, to ensure the continued safe and reliable operation of the Tube network for passengers. </p>
<h2>Dedication</h2>
<p>'That has been achieved and I would like to pay tribute to the hard work and dedication shown by all Metronet and London Underground staff, as well as the PPP Administrators. </p>
<p>'We need to continue to work together for passengers.</p>
<p>'Secondly, following Administration, we will seek to put in place a stable, economic and efficient structure that is better able to deliver Transport for London's investment priorities leading to increased capacity on the Tube in future, along with station security and communications improvements.</p>
<p>'The transfer to Transport for London control will enable us to further restructure and properly plan for the future.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Metronet Rail BCV and Metronet Rail SSL entered PPP Administration on 18 July 2007. London Underground is working closely with the Administrators, Ernst &amp; Young, to ensure all necessary maintenance and renewal works continue </li>
<li>Metronet Rail BCV is responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo &amp; City lines </li>
<li>Metronet Rail SSL is responsible for the maintenance and renewal of the sub-surface lines: the Circle, District, Hammersmith &amp; City and Metropolitan <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Metronet's exit from Administration and transfer to Transport for London (TfL) neared completion today, as the Mayor of London gave his approval to the schemes which transfer the Metronet business to TfL so that the final legal process can start.The PPP";}
        
        


 