


@{ViewBag.Title = "Old trains made new  ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Old trains made new  </h1>
        <div class="content-page-press-release">
        25 April 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Refurbishment of District line trains is now completed.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The refurbishment of the fleet has brought a higher standard of accessibility"</div>
        <div class="quote-footer">
            <div class="quotee-name">Bob Thorogood</div>
            <div class="quotee-job-title">District line General Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The refurbishment of the fleet has brought a higher standard of accessibility
                            
                        </p>
                    </div>
                
            
            
            <p> <p>London Underground's District line fleet, which has undergone a multi-million pound refurbishment, is now complete and all trains are now back in service for passengers, 11 months early and under budget. </p> <p>This is the first time a full train fleet has been renewed as part of Transport for London's (TfL's) Investment Programme. </p> <p>The District line carries more than 600,000 customers every weekday and the refurbishment programme, which began in 2003, has been an important step towards improving and expanding the Tube as part of the programme. </p> <p>All of the 75 District line trains have been fitted with completely renewed interiors, CCTV cameras inside the cars, fire retardant seats and flooring; and accessibility measures, including tip-up seats to accommodate wheelchairs, buggies and luggage. </p> <h2>Transformation</h2> <p>The renewal of the District line fleet was part of a refurbishment programme carried out by Metronet Rail. </p> <p>Bob Thorogood, District line General Manager, said: 'These District line trains have served Londoners since 1980 and proved a reliable part of the transport network.&nbsp; </p> <p>'The refurbishment of the fleet has brought a higher standard of accessibility with improved announcement systems, extra space for wheelchairs, prams and luggage, as well as additional security measures such as in car CCTV. </p> <p>'The refurbished trains are popular with our customers, some of whom think they are brand new trains.' </p> <h2>Delivered</h2> <p>Metronet's Chief Executive, Andie Harper, said: 'I am very proud of the Metronet team that has delivered this well under budget and 11 months early - that has to be good news for the half a million people using the District line every day. </p> <p>'These 30 year old trains presented us with many technical challenges but their transformation speaks volumes and is a credit to the refurbishment team at Bombardier in Derby.'</p> <p>Each District line train has travelled an estimated&nbsp;three million kilometres since entering service from 1980.</p> <p>The refurbished trains will help extend the life of the trains until the introduction of a new fleet of trains in 2013. </p> <p> <hr> <br><strong>Notes to editors:</strong>  <p> <ul> <li>London Underground queries please call 0845 604 4141, for Metronet queries please contact Roger Perkins on 020 7038 5084  </li><li>B-roll footage of the refurbishment works is available on request  </li><li>Before and after pictures of the District line trains are available on request  </li><li>The District line covers 64 km (40 miles) and serves 60 stations  </li><li>Over 600,000 people use the District line every day; 176 million people use it a year  </li><li>The first section of what is now known as the District line, started operating on 24 December 1868 between South Kensington and Westminster  </li><li>120 engineers have been employed on the refurbishment programme, which began in August 2003, with an average of 20,000 man-hours worked every&nbsp;month</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground's District line fleet, which has undergone a multi-million pound refurbishment, is now complete and all trains are now back in service for passengers, 11 months early and under budget.This is the first time a full train fleet has been";}
        
        


 