


@{ViewBag.Title = "Route 195 gets an extended service from Ealing Hospital to Brentford County Court";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Route 195 gets an extended service from Ealing Hospital to Brentford County Court</h1>
        <div class="content-page-press-release">
        14 April 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL has announced that from Saturday 19 April 2008, route 195 will be extended from Ealing Hospital to Brentford County Court.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are pleased to have worked with local stakeholders to provide new direct links to Ealing Hospital"</div>
        <div class="quote-footer">
            <div class="quotee-name">Bob Blitz</div>
            <div class="quotee-job-title">Network Planning Manager for London Buses</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are pleased to have worked with local stakeholders to provide new direct links to Ealing Hospital
                            
                        </p>
                    </div>
                
            
            
            <p>This will provide a new direct link between Southall and Brentford via Ealing Hospital. </p> <p>The extension comes following a review of the service and requests from stakeholders.</p> <p>Route 195, which uses single deck buses, will be extended via Uxbridge Road, Boston Road, Boston Manor Road, Half Acre and Brentford High Street. </p> <p>Buses will stop at Boston Manor Station, providing a link with the Piccadilly line, and Brentford Station, providing a link with South West Trains' services. </p> <p>Bob Blitz, Network Planning Manager for London Buses, said: 'We are pleased to have worked with local stakeholders to provide&nbsp;new direct links to Ealing Hospital from Brentford. </p> <p>'Route 195 will now provide extra capacity along the Boston Road corridor, which is currently only served by route E8.'</p> <p>Buses will continue to operate about every 12 minutes during the day and about every 20 minutes during the evenings. </p> <h3>Notes to editors</h3> <ul> <li>The route will no longer enter Ealing Hospital grounds, but will stop outside the hospital on Uxbridge Road  </li><li>London bus services are constantly under review to ensure we continue to provide the best possible service to those who live in, work in, or visit London  </li><li>All London buses have in-vehicle CCTV and all except the Heritage Routemasters are accessible to wheelchair users<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This will provide a new direct link between Southall and Brentford via Ealing Hospital.The extension comes following a review of the service and requests from stakeholders. Route 195, which uses single deck buses, will be extended via Uxbridge Road,";}
        
        


 