


@{ViewBag.Title = "Stage two of work to improve Brixton Town Centre gets underway";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Stage two of work to improve Brixton Town Centre gets underway</h1>
        <div class="content-page-press-release">
        25 April 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Improvements to pedestrian and bus facilities along Brixton Road will begin on April 28.
        
    </div>



 <div class="on-this-page">
<p>
<p>Transport for London (TfL) will begin Phase Two of the Brixton Town Centre project next week, with works to improve pedestrian and bus facilities along the A23 Brixton Road between Stockwell Road and Coldharbour Lane. &nbsp;</p>
<p>The scheme, commencing on Monday 28 April, will include:</p>
<ul>
<li>Widening the footways to provide extra space for pedestrians and waiting bus passengers </li>
<li>A&nbsp;new signalised pedestrian crossing at Atlantic Road and improvements to the existing crossing facilities </li>
<li>Joining up of sections of existing bus lane to improve accessibility and reduce bus journey times</li></ul>
<p>Where possible, general street clutter will also be removed to provide a more pleasant environment for locals and visitors.</p>
<p>The construction work will be carried out in stages so that the impact on local residents and commuters is minimised and at least one lane of traffic in both directions on Brixton Road will be maintained during the works. </p>
<h2>Improvements</h2>
<p>This stage of the project is due to be completed in early 2009, including a two week break scheduled over the busy Christmas period so as not to impact on retailers during their peak period. </p>

<p>Consultation on the scheme was carried out in 2006 and the work is being coordinated with London Borough of Lambeth.</p>
<p>Phase One of the Brixton Town Centre project was finished in 2005 and included improvements to pedestrian facilities and bus accessibility at Brixton Road, Stockwell Road and Stockwell Park Road.</p>
<p>Phase Three of the project, currently in planning stages, would see the creation of Brixton Central Square, and include the removal of the gyratory system around St Matthews Church and the creation of a square at Windrush Square and Tate Gardens. </p>
<p>The Brixton Town Centre project is a part of&nbsp;TfL's &pound;10bn Investment Programme, funding work to improve London's transport system and enhance the urban environment.</p>
<p>The contractor for the works is FM Conway Limited and Atkins plc is the consulting designer.</p>
<p>
<hr>

<p>
<p><br><strong>Notes to editors:</strong></p>
<ul>
<li>Journalists are invited to tour the site with the Project Manager on Monday 28 April and view the artist's impression images of how Brixton Road will look when Phase Two is complete.&nbsp;Contact Kristy Marshall on 020 7126 4386 for further details </li>
<li>TfL is responsible for maintaining and managing the 580km Transport for London Road Network, which, although comprising only&nbsp;five per cent of the Capital's roads, carries approximately 33 per cent of its traffic </li>
<li>FM Conway Limited is a multi-disciplined construction contractor in the field of civil engineering, surfacing and highway maintenance. <a href="http://www.fmconway.co.uk/">http://www.fmconway.co.uk/</a> </li>
<li>Atkins Plc is a multinational engineering and design consultancy <a href="http://www.atkinsglobal.com/">http://www.atkinsglobal.com/</a>. <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) will begin Phase Two of the Brixton Town Centre project next week, with works to improve pedestrian and bus facilities along the A23 Brixton Road between Stockwell Road and Coldharbour Lane. &nbsp;The scheme, commencing on";}
        
        


 