


@{ViewBag.Title = "TfL tributes to The Hon. Gwyneth Dunwoody MP";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL tributes to The Hon. Gwyneth Dunwoody MP</h1>
        <div class="content-page-press-release">
        18 April 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Peter Hendy, Commissioner of Transport for London, said: "My colleagues and I were very sorry to hear of the passing of The Honourable Gwyneth Dunwoody MP and our thoughts are with her family and friends.</p> <p>"Gwyneth was a constant, a passionate and committed supporter of public transport and a great critical friend of Transport for London and the industry as a whole".</p> <p>Tim O'Toole, Managing Director of London Underground, said: "The Honourable. Gwyneth Dunwoody MP championed the case for public transport over her many years as both an MP and then as Chair of the Transport Select Committee.</p> <p>"Gwyneth applied a rigorous intelligence when scrutinising the complexities around London Underground and the PPP contracts and was always probing but scrupulously fair.</p> <p>"She will be sadly missed."</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Peter Hendy, Commissioner of Transport for London, said: 'My colleagues and I were very sorry to hear of the passing of The Honourable Gwyneth Dunwoody MP and our thoughts are with her family and friends. 'Gwyneth was a constant, a passionate and";}
        
        


 