


@{ViewBag.Title = "TfL welcomes successful conclusion of Metronet Sub-Surface Lines contract negotiations";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL welcomes successful conclusion of Metronet Sub-Surface Lines contract negotiations</h1>
        <div class="content-page-press-release">
        01 April 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL welcomes the announcement that Metronet's has reached agreement with Bombardier UK and Westinghouse Rail Systems over the future upgrade of the Tube's sub-surface network: the Circle, District, Hammersmith & City, and Metropolitan lines.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The resolution of these contract issues is good news for passengers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Tim O'Toole</div>
            <div class="quotee-job-title">LU Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The resolution of these contract issues is good news for passengers 
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Bombardier and Westinghouse will continue to work to deliver the Victoria Line upgrade.</p>
<p>The agreement reached is good news for London's Tube passengers. It is a significant step forward in the process of removing Metronet from Administration and has the potential to realise very significant cost savings during the delivery of the line upgrade and beyond.</p>
<p>Tim O'Toole, LU Managing Director, said: 'The resolution of these contract issues is good news for passengers and a real step forward in the process of removing Metronet from Administration.</p>
<h2>Transfer of Metronet</h2>
<p>'A great deal of progress has already been made and we remain on track to transfer the two Metronet companies to two Transport for London nominee companies as soon as possible.</p>
<p>'In the meantime, we continue to work closely with Metronet and the PPP Administrators to ensure the Tube runs safely and reliably as it has done throughout administration.'<br></p>
<p><strong>
<hr>
</strong>
<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Metronet Rail BCV and Metronet Rail SSL entered PPP Administration on 18 July 2007. London Underground is working closely with the Administrators, Ernst &amp; Young, to ensure all necessary maintenance and renewal works continue </li>
<li>Metronet Rail BCV is responsible for the maintenance and renewal of the Bakerloo, Central, Victoria, and Waterloo &amp; City lines </li>
<li>Metronet Rail SSL is responsible for the maintenance and renewal of the sub surface lines: the Circle, District, Hammersmith &amp; City, and Metropolitan lines<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Bombardier and Westinghouse will continue to work to deliver the Victoria Line upgrade.The agreement reached is good news for London's Tube passengers. It is a significant step forward in the process of removing Metronet from Administration and has the";}
        
        


 