


@{ViewBag.Title = "TfL to 'vigorously contest' Porsche move to scrap CO2 Charge for gas guzzlers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL to 'vigorously contest' Porsche move to scrap CO2 Charge for gas guzzlers</h1>
        <div class="content-page-press-release">
        02 April 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We have already seen several motor manufacturers rise to the challenge of cutting CO2 emissions from their cars and Porsche should join them
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) today again rejected the move by luxury and sports car manufacturer Porsche to scrap plans for a higher &pound;25 Congestion Charge for the very highest CO2 emitting cars as part of the capital's plans to tackle climate change and cut congestion.&nbsp; </p>
<p>Such vehicles include many of the so-called "Chelsea Tractors", the most powerful sports cars and some luxury executive cars.<br>&nbsp;<br>Porsche today lodged papers at Court aimed at forcing the scrapping of plans for the higher &pound;25 CO2 Charge, through a Judicial Review.</p>
<p>Transport for London believes Porsche's objections are unfounded as:</p>
<ul>
<li>The CO2 Charge is about reducing CO2 emissions from cars driving in central London, whilst reducing congestion </li>
<li>It is quite clear motorists have the choice not to drive a high CO2 emitting car in central London, given the wide range of lower emitting cars available. Along with the higher &pound;25 Charge for the cars emitting the most CO2, there will be a 100 per cent discount for the least emitting</li></ul>
<h2>Growing support</h2>
<p>A recent IPSOS-MORI survey revealed that 61 per cent&nbsp;of Londoners support the proposed &pound;25 CO2 Charge for gas guzzlers driving within the congestion charge zone, with just 29 per cent opposed.</p>
<p>It also showed that 67 per cent of Londoners support the 100 per cent discount for those vehicles that emit the lowest levels of carbon dioxide, with only 21 per cent opposed.&nbsp;&nbsp;</p>
<p>Six-five&nbsp;per cent of Londoners thought that the package of measures is good for London, while 19 per cent disagree.</p>
<h2>Objection unfounded</h2>
<p>Mich&egrave;le Dix, Managing Director of Planning, TfL, said: 'We have already made clear that we believe Porsche's reasons for objecting to the proposed CO2 Charge are unfounded.</p>
<p>'We believe they should focus their attention on cutting CO2 emissions from the cars they produce, rather than pursuing this pointless legal action which we will vigorously contest when it reaches Judicial Review.&nbsp; </p>
<p>'We have already seen several motor manufacturers rise to the challenge of cutting CO2 emissions from their cars and Porsche should join them.</p>
<p>'The principal aim of the scheme remains tackling congestion. The aim of the CO2 Charge element and discount of the scheme is to cut CO2 emissions, through influencing people's car purchasing choices by stimulating the market for low emissions cars and reducing the number of very high CO2 emitting cars driving in central London.</p>
<p>'At the moment, 17 per cent of cars driving in the charge zone are in Band G, while just 2 per cent are in Bands A and B. We expect to see the number of Band G cars cut significantly over time.'</p>
<h3>Transport for London believes that:</h3>
<ul>
<li>The scheme is legal: <br>
<ul type="circle">
<li>TfL has the authority to introduce the CO2 Charge </li>
<li>The scheme will not breach European Law - the scheme affects UK and non-UK vehicles alike </li>
<li>The scheme does not infringe on the European Convention on Human Rights as claimed by Porsche<br></li></ul></li>
<li>TfL will monitor congestion: <br>
<ul type="circle">
<li>With 17 per cent of cars currently in the charge zone in Band G and just 2 per cent in Bands A and B the scheme will have a broadly neutral impact on congestion in the short term </li>
<li>However, TfL will monitor the scheme closely to ensure that the benefits of reduced congestion are maintained<br></li></ul></li>
<li>The scheme is proportionate: <br>
<ul type="circle">
<li>The residents discount will be removed for Band G vehicles as there is no need to drive one of these cars in central London whether you are a resident or not </li>
<li>The use of Band G as a cut off point for the higher charge is reasonable as these are the highest CO2 emitting cars </li></ul>
<p>
<p></li></ul>
<li>The aim of the CO2 Charge element and discount of the scheme is to cut CO2 emissions, through influencing people's car purchasing choices by stimulating the market for low emissions cars and reducing the number of very high CO2 emitting cars driving in central London. 
<ul></ul>
<p>
<hr>
<br>
<p>
<ul>
<h3>Notes to editors</h3>
<li>TfL's lawyers today responded to Slaughter &amp; May, who are acting on behalf of Porsche, on 11 March.&nbsp; The letter is available from the TfL Press Office </li>
<li>TfL's Report to the Mayor on the CO2 Charge is available in the <a href="/roadusers/congestioncharging/6722.aspx">Publications</a>&nbsp;section of the TfL website </li>
<li>You can find&nbsp;a PDF&nbsp;of the&nbsp;Mayor's Decision Statement on the <a title="The Mayor's Decision Statement" href="http://www.london.gov.uk">GLA website</a> </li>
<li>On behalf of TfL, Ipsos MORI conducted a telephone survey on CO2 charging with 1,041 adults aged 16+ across London between 11-12 March 2008&nbsp;<br></li></ul></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) today again rejected the move by luxury and sports car manufacturer Porsche to scrap plans for a higher &pound;25 Congestion Charge for the very highest CO2 emitting cars as part of the capital's plans to tackle climate change";}
        
        


 