


@{ViewBag.Title = "Three bridges in a row for East London line extension";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Three bridges in a row for East London line extension</h1>
        <div class="content-page-press-release">
        23 April 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A spectacular new bridge for Transport for London's (TfL's) East London line extension is to be installed in May.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Passengers will benefit from a fast, frequent and reliable over ground service"</div>
        <div class="quote-footer">
            <div class="quotee-name">Bob Brannan</div>
            <div class="quotee-job-title">East London line Project Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Passengers will benefit from a fast, frequent and reliable over ground service
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The bridge is due to be the last of three new East London line bridges to be installed within six weeks. <br>&nbsp; <br>The 600 tonne truss steel structure will be put into place at New Cross Gate, where it will carry the line towards London over Network Rail tracks. </p>
<p>East London line Project Manager Bob Brannan said: 'The installation of three key bridges in less than six weeks is an extraordinary achievement for the East London line extension and brings us another step closer to completing the works, which are part of the &pound;1.4bn investment in transforming the Capital's rail services. </p>
<p>'The London Overground network, of which the East London line will be part, will connect 20 of the 33 London boroughs, and will play a key role in supporting the regeneration of the East London area. </p>
<p>'Passengers will benefit from a fast, frequent and reliable over ground service, and the East London line will also play an integral part in carrying passengers to and from the Olympic village in 2012.'&nbsp;<br>&nbsp;<br>The bridge was designed by Scott Wilson Railways and made from concrete and British Corus steel. </p>
<p>Fairfield Mabey, the company behind some of Britain's landmark bridge construction, was responsible for some of the engineering detail. </p>
<p>The first East London line bridge was lowered into its spot over Shoreditch High Street on 29 March, and a second bridge is being installed over Liverpool Street on the first May Bank Holiday. </p>
<p>The East London line extension will carry passengers from Highbury &amp; Islington to West Croydon. </p>
<p>Four new fully accessible stations are being built at Dalston, Haggerston, Hoxton and Shoreditch. </p>
<p>A limited rail service will operate on the London Bridge local lines during the May Bank Holiday weekend 3-5 May while preparatory works to install the bridge are undertaken.</p>

<p>In order to ensure the safety during the bridge launch between 10 and 12 May, Network Rail lines to New Cross Gate will be closed for 52 hours. </p>

<p>However, replacement services will be in operation in order to minimise disruption to passengers' journeys. Please refer to the <a href="http://www.nationalrail.co.uk">National Rail </a>enquiries&nbsp;<br>&nbsp;</p>

<p>
<hr>
</p>

<p><br><strong>Note to the editors:&nbsp;</strong></p>
<ul>
<li>The East London Railway is a &pound;1bn project to extend the former Tube line north to Highbury and Islington, south to West Croydon and Crystal Palace, and to upgrade it to enable it to take London Overground trains</li>
<li>As part of the London Overground network it will connect 20 of London's 33 boroughs</li>
<li>The new East London Railway is due to open in June 2010<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The bridge is due to be the last of three new East London line bridges to be installed within six weeks. &nbsp; The 600 tonne truss steel structure will be put into place at New Cross Gate, where it will carry the line towards London over Network Rail";}
        
        


 