


@{ViewBag.Title = "Tour of Britain cycle race returns to Central London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tour of Britain cycle race returns to Central London</h1>
        <div class="content-page-press-release">
        02 April 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        UK's biggest cycle race to start in London in September 2008 and finish in London in 2009, 2010 and 2011
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Cycling is enjoying a massive renaissance in London, both as a great way to get around and as a fantastic spectator sport"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Brown</div>
            <div class="quotee-job-title">MD of Surface Transport at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Cycling is enjoying a massive renaissance in London, both as a great way to get around and as a fantastic spectator sport
                            
                        </p>
                    </div>
                
            
            
            <p>On 7 September, the streets of central London will once again play host to some of the world's top cyclists, as the Tour of Britain cycle race starts its eight-day UK tour in the Capital.</p>
<p>Following on from the success of last year's Tour de France Grand D&eacute;part in London, 96 professional cyclists will race for 86 kilometres on a central London circuit that takes in some of London's most iconic landmarks. </p>
<h2>Cycle route</h2>
<p>The 8.6 kilometre route will start and finish on Victoria Embankment, taking the riders along the banks of the Thames, through the City of London, and past Big Ben, Cleopatra's Needle, Somerset House, and the Tower of London.</p>
<p>Transport for London (TfL) will bring the Tour of Britain to the Capital for the next four years. It will start in London in 2008, and will finish here in 2009, 2010 and 2011.</p>
<p>David Brown, Managing Director of Surface Transport at TfL said: 'Cycling is enjoying a massive renaissance in London, both as a great way to get around and as a fantastic spectator sport. </p>
<p>'Events such as the Tour of Britain are really important to TfL's work around encouraging and promoting cycling in the Capital, so it's great news that the Tour's riders will be racing on our streets during the next four years.'</p>
<h2>Sporting city </h2>
<p>Visit London Chief Executive James Bidwell said: 'The growth and development of the Tour of Britain across London cements the Capital's reputation as the most prestigious global sporting city in the world. </p>
<p>'London will prepare for a fantastic day of celebration and festivities, and provide us with a tremendous opportunity to showcase this great British cycling tour. </p>
<p>'Visit London's intention is to continue to attract the best and biggest events to the Capital in the lead up to and beyond the 2012 Olympic and Paralympic Games.'</p>
<p>The Capital has already seen an 83 per cent increase in the number of cycle journeys on London's major roads since 2000, with an estimated 480,000 cycle journeys made everyday.</p>
<p>
<hr>

<h3>Notes to editor</h3>
<ul>
<li>For more information about&nbsp;the Tour&nbsp;visit the <a href="http://www.tourofbritain.co.uk/">Tour of Britain website</a>&nbsp;&nbsp; </li>
<li>More information about cycling in London can be found&nbsp;in&nbsp;<a href="/modalpages/2663.aspx">Cycling</a> section of the TfL&nbsp;website </li>
<li>As the official visitor organisation for London, Visit London's role is to promote the&nbsp;City&nbsp;as the most exciting city on the planet, targeting domestic and overseas leisure and business visitors as well as Londoners. Visit London works in partnership with the Mayor, the London Development Agency and the tourism industry in London</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "On 7 September, the streets of central London will once again play host to some of the world's top cyclists, as the Tour of Britain cycle race starts its eight-day UK tour in the Capital.Following on from the success of last year's Tour de France Grand";}
        
        


 