


@{ViewBag.Title = "Victoria bus station closure Saturday 26 and Sunday 27 April";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Victoria bus station closure Saturday 26 and Sunday 27 April</h1>
        <div class="content-page-press-release">
        21 April 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        On Saturday 26 April, Victoria bus station will be closed. It will remain closed until 16:00 on Sunday 27 April.
        
    </div>



 <div class="on-this-page">
<p> <p>From 07:00 on Sunday 27 April, Terminus Place will also be closed. </p> <p>The closures will allow emergency carriageway repair works to be carried out. </p> <p>The following routes will be affected by the weekend closure; 2, 8, 11, 16, 36, 38, 44, 52, 73, 82, 148, 185, 170, 211, 436, C1, C10, N2, N8, N11, N16, N38, N44, N52, N73 and N136. </p> <p>Details of diversions and stopping arrangements for the weekend will be available at local bus stops. around the bus station and <a href="http://www.tfl.gov.uk">online. </a></p> <p>Bus station staff will also be available to advise passengers of where to catch their bus. <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "From 07:00 on Sunday 27 April, Terminus Place will also be closed.The closures will allow emergency carriageway repair works to be carried out.The following routes will be affected by the weekend closure; 2, 8, 11, 16, 36, 38, 44, 52, 73, 82, 148, 185,";}
        
        


 