


@{ViewBag.Title = "24-hour enforcement of Battersea Bridge - a reminder";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>24-hour enforcement of Battersea Bridge - a reminder</h1>
        <div class="content-page-press-release">
        14 December 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today reminded motorists that 24-hour camera enforcement of Battersea Bridge will continue until works to repair the bridge are completed.
        
    </div>



 <div class="on-this-page">
<p>Battersea Bridge was hit by a barge in September and is currently undergoing essential repair work that should be completed by the end of January 2006.</p>
<p>Patrick Troy, TfL Head of Enforcement, said: "There is clear signage at the bridge to remind drivers that for safety reasons, the Victorian cast-iron bridge remains closed to all traffic except buses and bicycles.  </p>
<p>"However an increasing number of motorists have been driving over the bridge and therefore an increasing number of Penalty Charge Notices (PCNs) have been issued. <br> <br>"Motorists are reminded that if they drive over the bridge they will be issued with a PCN for &pound;100, even over the Christmas period."</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Battersea Bridge was hit by a barge in September and is currently undergoing essential repair work that should be completed by the end of January 2006.Patrick Troy, TfL Head of Enforcement, said: 'There is clear signage at the bridge to remind drivers";}
        
        


 