


@{ViewBag.Title = "Battersea Bridge closes to buses over New Year to allow vital repair work";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Battersea Bridge closes to buses over New Year to allow vital repair work</h1>
        <div class="content-page-press-release">
        21 December 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Battersea Bridge will close to all buses to allow vital structural repair work, from 0500 on Wednesday 28 December until 0500 on Tuesday 3 January 2006.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Buses affected will be routes 19, 49, 239, 319, 345, N19 and N31
                            
                        </p>
                    </div>
                
            
            
            <p>The buses which will be affected are routes 19, 49, 239, 319, 345, N19 and N31.</p>
<p>The Bridge will remain open to pedestrians and cyclists throughout this time.</p>
<p>Transport for London (TfL) today reminded motorists that 24-hour camera enforcement of Battersea Bridge will continue until works to repair the bridge are completed.</p>
<p>Notices have also been signposted to keep local businesses and residents informed and the bus operators have been notified.</p>
<p>The repair work to strengthen the structure was made necessary when it was hit by a barge in September.</p>
<p>Although the Bridge will re-open to buses on 3rd January, it will remain closed to other vehicles until all the major work is completed, which is scheduled for the end of January 2006.</p>
<p>
<h2>The details of each route affected are:-</h2>
<p>
<ul>
<li><strong>Route 19 </strong><br>Curtailed to Beaufort Street, to stand on first northbound bus stop. Travelling via Kings Road, ahead, Kings Road, left, Edith Grove, left, Cheyne Walk, left, Beaufort Street to stand/stop. 
</li><li><strong>Route 49</strong> towards Clapham Junction<br>From Beaufort Street, right, Cheyne Walk, left, Kings Road, ahead, New Kings Road, left, Wandsworth Bridge Road, ahead, Wandsworth Bridge, left, York Road, right, Falcon Road, and returns to normal route. 
</li><li><strong>Route 49</strong> towards Shepherds Bush<br>From Falcon Road, left, York Road, right, Wandsworth Bridge, ahead, Wandsworth Bridge Road, right, New Kings Road, ahead, Kings Road, right, Edith Grove, left, Cheyne Walk, left, Beaufort Street and returns to normal route. 
</li><li><strong>Route 319 &amp; 345</strong> towards Chelsea (Terminate south side Battersea Bridge)<br>From Battersea Bridge Road, right, Parkgate Road, left to bus stand in Elcho Street. 
</li><li><strong>Route 319 &amp; 345</strong> towards Clapham Junction<br>From Elcho Street stand, left, Howie Street, left, Battersea Bridge Road and returns to normal route. 
</li><li><strong>Route N19 &amp; N31</strong> towards Clapham Junction<br>From Beaufort Street, right, Cheyne Walk, left, Kings Road, ahead, New Kings Road, left, Wandsworth Bridge Road, ahead, Wandsworth Bridge, left, York Road, right, Falcon Road and returns to normal route</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The buses which will be affected are routes 19, 49, 239, 319, 345, N19 and N31.The Bridge will remain open to pedestrians and cyclists throughout this time.Transport for London (TfL) today reminded motorists that 24-hour camera enforcement of Battersea";}
        
        


 