


@{ViewBag.Title = "Big savings in 2006 by switching from cash for single journeys to Oyster";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Big savings in 2006 by switching from cash for single journeys to Oyster</h1>
        <div class="content-page-press-release">
        28 December 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passengers can reap big savings by switching from cash single fares to Oyster for cheaper and frozen single fares and daily price caps from 2 January next year.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            By switching to Oyster customers can really save on travel next year
                            
                        </p>
                    </div>
                
            
            
            <p>The new fares package is designed to encourage people to switch from cash to Oyster which is helping cut queues at Tube stations and speed up buses. </p>
<ul>
<li>Examples of cheaper Oyster fares include:<br>Instead of paying &pound;3 with cash, passengers making single journeys between 0700 and 1900 Monday to Friday in zones 2 - 6 on the Tube pay no more than &pound;1.80 with Oyster, saving up to &pound;600 a year if making 2 journeys a day, 5 days a week 
</li><li>Instead of paying &pound;1.50 with cash, passengers making single journeys on buses between 0700 and 0930 Monday to Friday will pay only &pound;1 with Oyster, saving up to &pound;240 a year if making 2 journeys a day, 5 days a week 
</li><li>If travelling at any other time, the fare is only 80p, saving up to &pound;340 a year for the same number of journeys 
</li><li>Instead of paying &pound;3 cash, passengers making single journeys zones 1-2 on the Tube between 0700 and 1900 Monday to Friday will only pay &pound;2 with Oyster, saving up to &pound;480 a year if making 2 journeys a day, 5 days a week. </li></ul>
<p>
<h2>Travelcard fares</h2>
<p>
<p>Travelcard fares will increase on average by inflation plus one per cent on Oyster and on the old-style paper ticket. </p>
<p>Jay Walder, Managing Director of Finance and Planning at TfL said: "Nearly half of passengers who pay cash fares to travel on London's buses, Tubes, DLR and tram are on their way to work.</p>
<p>"By switching to Oyster these customers can really save on travel next year.</p>
<p>"An Oyster card can be re-used for several years, plus it can be topped up online or over the phone, so there's no need to queue for tickets.</p>
<p>"The simple message is customers can spend more time and money enjoying what London has to offer by switching to Oyster."</p>
<p>Jace Tyrrell, of New West End Company, said: "The cheaper single fares, along with the convenience of Oyster means Londoners can spend more time enjoying the world-class events, attractions and restaurants and, most importantly, shopping in the West End - all of which make London the most vibrant city in the world.</p>
<p>"Londoners know that one of the most efficient means of travel is by public transport and, with these savings on single and capped fares, Oyster is the best way to pay."</p>
<p>For passengers making several journeys on London's buses, Tubes, tram or DLR, pay as you go remains the best value.</p>
<p>The Oyster card 'caps' the all-day fare at 50p less than the equivalent day Travelcard price.</p>
<p>For all-day travel on buses and trams, the fare is capped at &pound;3, 50p cheaper than the cash equivalent.</p>
<p>For-all day travel on the Tubes, DLR and tram, the cap varies depending on mode travelled on, zones travelled in and time of journey. </p>
<p>Free travel on buses and trams continues for under-16s next year and Oyster pay as you go offers great value for travel young people on the Tube and DLR. </p>
<p>The fares increase will help continue the progress of TfL's 5-Year Investment Programme, the once-in-a-generation opportunity to borrow nearly &pound;3bn to invest in London's transport. </p>
<p>The new fares come into effect on 2 January 2006. </p>
            <ul>
<li>Customers can get / top up Oyster at: more than 2,300 local newsagents; all Tube station ticket offices; online at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a>; over the phone on 0870 849 9999; all London Travel Information Centres and at some National Rail ticket offices 
</li><li>On the Tube, DLR and participating National Rail Services customers must touch in and touch out at the start and end of every journey to pay the right fare. 
</li><li>Bus and tram customers must touch in only at the start of each journey 
</li><li>Paying as you go (Pre Pay) does not apply at most National Rail stations. 
</li><li>TfL has presented detailed proposals to the train operating companies to encourage take-up of Oyster in all London rail stations and has offered to finance installation costs for Oyster technology 
</li><li>Child Oyster photo-card application forms are available at all Post Offices in Greater London and areas just beyond the boundary served by the London bus network. 
</li><li>Young people can continue to apply between Christmas and the New Year during normal Post Office opening hours. 
</li><li>Young people who are eligible, but haven't applied for free travel, are urged to do so as soon as possible as the old-style 11-15; 5-10 and Child photo-cards will not be valid from 2 January 
</li><li>Customers who use Oyster pay as you go (Pre Pay) on the Tube and DLR can benefit from of Auto top-up, which automatically tops up your Oyster card with either &pound;20 or &pound;40 whenever the balance drops below &pound;5 
</li><li>Auto top-up will be extended to bus and tram passengers in 2006 
</li><li>New West End Company is the elected voice of the West End business community, representing retailers in Bond Street, Oxford Street and Regent Street, London's premier shopping and leisure destination. Visit: <a href="http://www.newwestend.com">www.newwestend.com</a> </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new fares package is designed to encourage people to switch from cash to Oyster which is helping cut queues at Tube stations and speed up buses. Examples of cheaper Oyster fares include:Instead of paying &pound;3 with cash, passengers making single";}
        
        


 