


@{ViewBag.Title = "Brixton tube staff to become television stars";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Brixton tube staff to become television stars</h1>
        <div class="content-page-press-release">
        01 December 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground staff at Brixton station are set to star in ITV London's fly-on-the-wall documentary series "The Tube".
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The documentary series gives a glimpse behind the scenes of the UK's busiest transport network
                            
                        </p>
                    </div>
                
            
            
            
<p>Starring in the series will be Mandy Sahota, 26 and Aston French, 
49, who are both control room assistants at Brixton, along with Jose Monteiro, 
49, a station supervisor.</p>
<p>The episode charts the unexpected challenges and daily dramas they face every 
day on the Tube and how they affect its customers.</p>
<p>Over 28,000 commuters travel through Brixton tube station every weekday 
morning and viewers will be able to see what is involved in helping passengers 
get to their destinations safely, quickly and reliably - as well as what happens 
when things don't go to plan. </p>
<p>The documentary series gives a glimpse behind the scenes of the UK's busiest 
transport network and introduces us to some of the colourful characters that 
ensure that over 3 million people travel by tube across the capital each 
day.</p>
<p>Camera crews captured the highs and the lows on the system while filming over 
a period of six months.</p>
<p><h2>Series three</h2></p>
<p>Hundreds of hours of footage have been edited to create eight fascinating 
episodes.</p>
<p>They provide an insight into some of the issues that influence the workings 
of one of the world's most famous transport networks, and how they affect 
Londoner's daily lives.</p>
<p>This is the third series of "The Tube" documentary, which can be seen on 
Thursday evenings at 7.30pm on ITV London and is repeated on Sky Travel.</p>
<p>Check local guides for listings.</p>
            <p>If you would like to arrange photos or interviews please contact Siboniso Nkatazo at the press office on 020 7126 4141.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Starring in the series will be Mandy Sahota, 26 and Aston French, 49, who are both control room assistants at Brixton, along with Jose Monteiro, 49, a station supervisor.The episode charts the unexpected challenges and daily dramas they face every day on";}
        
        


 