


@{ViewBag.Title = "EIB Loan of &pound;450m for East London Line Project in preparation for 2012 Olympic and Paralympic Games";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>EIB Loan of &pound;450m for East London Line Project in preparation for 2012 Olympic and Paralympic Games</h1>
        <div class="content-page-press-release">
        21 December 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The European Investment Bank has signed a &pound;450m (EUR 660m) loan to Transport for London (TfL), in support of the East London Line project (ELLP), a key component of the Mayor of London and TfL's &pound;10bn 5-Year Investment Programme.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            New stations and Tube-frequency services will support the regeneration of some of London's least well-off areas
                            
                        </p>
                    </div>
                
            
            
            <p>With preparatory works well advanced, the ELLP remains on schedule to re-open in 2010 as part of the delivery of improved transport links that will be required to host the 2012 Olympic and Paralympic Games.</p>
<p>The loan was signed in London by EIB Vice-President Peter Sedgwick and Jay Walder, Managing Director, Finance and Planning, at TfL.</p>
<p>An integral part of the team in London's successful bid to host the 2012 Games, TfL developed an Olympic Transport Plan based on the principle spectator use of public transport, walking, or cycling options during the Games.</p>
<p>The ELLP will improve connections for South East, East and North East London and provide an interchange with the Jubilee Line that will be key to serving the Olympic Park during the 2012 Games.</p>
<p>The existing East London line provides services between Shoreditch and New Cross/New Cross Gate.</p>
<p>
<h2>Phase 1</h2>
<p>
<p>The ELLP Phase 1 will upgrade and lengthen this line to provide a significantly improved 'Metro' service using larger, longer trains over an extended 25km route running north to Dalston via Shoreditch, Hoxton and Haggerston, and south to New Cross, Crystal Palace and West Croydon.</p>
<p>The line was originally constructed in 1869, and includes the Thames Tunnel, the first such structure ever built in the world.</p>
<p>Speaking at the signature, EIB Vice-President Peter Sedgwick remarked that "This loan represents a key project for the EIB, providing support to sustainable urban transport. </p>
<p>"The Bank extends congratulations and support to the Mayor of London and the Greater London Authority in its role as host to the 2012 Olympics - a monumental event which will doubtless act as a catalyst to urban regeneration in East London and the development of the Thames gateway."</p>
<p>Jay Walder, from TfL, said "I am delighted to be signing this deal on behalf of TfL today.</p>
<p>"The EIB loan will help fund the main construction phase of the East London line project as part of TfL's &pound;10bn 5-Year Investment Programme.</p>
<p>"The extended line will open in 2010 with new stations and Tube-frequency services that will support the regeneration of some of London's least well-off areas as well as playing a significant part in our transport plans for the 2012 Olympic and Paralympic Games."</p>
<p>The ELLP is expected to have significant long-term impacts across east London, improving accessibility and mobility, particularly for areas of inner east and south London.</p>
<p>ELLP will directly serve some of the least well off areas of London, including more than 75,000 people living in some of the "most deprived" wards in London.</p>
<p>Improving transport links to those areas offering more employment opportunities is essential to improve social inclusion. The ELLP will enable local residents to explore a wider range of employment and leisure opportunities across London.</p>
<p>The ELLP will also improve links to a wide range of services including hospitals, higher education, primary and secondary schools, museums, theatres and cinemas, also promoting increased use of public transport.</p>
<p>ELLP is expected to have a significant impact on regeneration along the line of route, including the Opportunity Areas of Bishopsgate and Whitechapel, where substantial development and regeneration attracting private sector funding is expected.</p>
            <ul>
<li><strong>EIB Background information<br></strong>In addition to supporting the East London Line, EIB has been heavily involved in Olympic infrastructure development through its role as a significant lender to London and Continental Railways (LCR) for the development of the Channel Tunnel Rail Link (CTRL). 
</li><li>The CTRL will provide the route for the 'Javelin' service between London St. Pancras and Stratford stations. 
</li><li>European-wide, EIB support for the urban transport sector amounted to EUR 10.7bn of direct financing, with an overwhelming 92 per cent for public transport projects. 
</li><li>Further information on this topic is available in the brochure "The EIB's role in financing sustainable urban transport projects" which is posted on the Bank's website <a href="http://www.eib.org">www.eib.org</a> under "publications (update 7/09/2005). 
</li><li><strong>Press Contacts</strong><br>TfL Press Office : William Parkes, tel : +44 (0)20 7126 4875, e-mail : <a href="mailto:williamparkes&#64;tfl.gov.uk">williamparkes&#64;tfl.gov.uk</a> <br><strong>EIB Press Office</strong>, Sabine Parisse, tel. (+352) 4379-2146, e-mail <a href="mailto:s.parisse&#64;eib.org">s.parisse&#64;eib.org</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "With preparatory works well advanced, the ELLP remains on schedule to re-open in 2010 as part of the delivery of improved transport links that will be required to host the 2012 Olympic and Paralympic Games.The loan was signed in London by EIB";}
        
        


 