


@{ViewBag.Title = "Groundbreaking coach-tourism industry agreement to be signed";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Groundbreaking coach-tourism industry agreement to be signed</h1>
        <div class="content-page-press-release">
        08 December 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The leading players in London's coach tourism industry meet today to sign an agreement for action to improve coach facilities in London.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This will help everyone involved in, and affected by, the coach tourism business
                            
                        </p>
                    </div>
                
            
            
            <p>Senior representatives from London boroughs, police, coach operators, tourism bodies and Transport for London (TfL) will sign the London Coach Tourism Concordat.</p>
<p>They are setting out to achieve a consistent approach on issues including routes, parking provisions and arrangements for special events. </p>
<p>Peter Hendy TfL Managing Director of Surface Transport said "London receives 2.8 million coach visitors a year and they contribute nearly &pound;300 million to the capital's economy.</p>
<p>"This agreement sets out the needs of this hugely significant industry for London and highlights key issues affecting it.</p>
<p>"We're aiming to achieve a consistent approach across London on issues such as coach access to key tourist attractions, overnight parking and picking up and setting down facilities. </p>
<p>"That will help everyone involved in, and affected by, the coach tourism business."</p>
<p>
<h2>London Coach Forum</h2>
<p>
<p>The London Coach Forum, a London wide body facilitated by TfL and including representatives from local government, tourism and the coach industry will manage and monitor the concordat.</p>
<p>The forum will work to make sure the needs of the industry are met and ensure that it plays its part in maintaining good practice. </p>
            <ul>
<li>The London Coach Tourism Concordat is being signed at 15.45 today
</li><li>The London Development Agency commissioned a study into London Coach Tourism
</li><li>The study suggested that coach tourism represents 6m bed-nights in London with 2.8 million coach visitors each year and over &pound;290m added to London's economy
</li><li>This equates to around 800 coach parties travelling to and from London on a typical day in high season
</li><li>It also identified problems ranging from traffic congestion, coach access to some locations and most importantly, difficulties in setting down and picking up passengers
</li><li>The lack of provisions at key tourist locations and a short supply of parking spaces in the central area were also recognised
</li><li>These were issues that had been identified by the London Coach Forum and it was clear that, to solve them, input was needed from all parties
</li><li>London poses a unique problem in that there are 33 separate boroughs all of which have different needs for tourists, and have different priorities
</li><li>Copies of the London Coach Tourism Concordat are available from TfL's press office</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Senior representatives from London boroughs, police, coach operators, tourism bodies and Transport for London (TfL) will sign the London Coach Tourism Concordat.They are setting out to achieve a consistent approach on issues including routes, parking";}
        
        


 