


@{ViewBag.Title = "London Taxis - Conditions of Fitness";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Taxis - Conditions of Fitness</h1>
        <div class="content-page-press-release">
        15 December 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London's Public Carriage Office today issued the results of the Conditions of Fitness review for London's taxi industry.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Approximately 50m U-turns are performed by London taxis each year
                            
                        </p>
                    </div>
                
            
            
            <p>The Conditions of Fitness are intended to ensure that all taxis operating in London are safe and fit for purpose.</p>
<p>In 2002, the Public Carriage Office (PCO) undertook a full review of the Conditions of Fitness which was completed in June 2003.</p>
<p>Some changes were made while other conditions remained the same.</p>
<p>However, three aspects were challenged by Allied Vehicles Limited, and they are as follows:</p>
<ul>
<li>The turning-circle requirement 
</li><li>The requirement that sliding doors are power assisted 
</li><li>The requirement for a one-piece rear window </li></ul>
<p>
<h2>Extensive research</h2>
<p>
<p>Following extensive research it has been decided to:</p>
<ul>
<li>Retain the turning-circle requirement 
</li><li>Not require sliding doors, if fitted, to be power-assisted 
</li><li>Introduce a new condition to address the issue of visibility into and out of taxis for the benefit of passengers and drivers</li></ul>
<p>
<p>Roy Ellis, Head of the PCO, said: "After a comprehensive review, it was found that the tight turning-circle produced tangible significant benefits to the travelling public, and that these outweighed the advantages of removing it.</p>
<p>"Allied Vehicles alleged that the retention of the turning-circle requirement led to fewer taxis, higher fares, less suitable taxis for the needs of the disabled and the unavailability of safer and more comfortable taxis, to the disadvantage in general of passengers and drivers alike.</p>
<p>The facts of these alleged disbenefits were not borne out by the research undertaken.</p>
<p>"Approximately 50m U-turns and over 90m other tight turns are performed by London taxis each year.</p>
<p>"If these U-turns were replaced by multi-point turns and other alternative complex manoeuvres, this could cause delay and impede other road users.</p>
<p>"Overall, during this review, both passengers and drivers preferred the existing London Taxi."<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Conditions of Fitness are intended to ensure that all taxis operating in London are safe and fit for purpose.In 2002, the Public Carriage Office (PCO) undertook a full review of the Conditions of Fitness which was completed in June 2003.Some changes";}
        
        


 