


@{ViewBag.Title = "London Underground 7200 Project celebrated";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground 7200 Project celebrated</h1>
        <div class="content-page-press-release">
        22 December 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Skills Minister at the Department for Education and Skills, Phil Hope MP, will be joining London Underground (LU), Barnet College, Four Counties Training and City & Guilds to celebrate the completion of the Learning and Skills Council (LSC) funded 7200 Project.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
<p>
We value our staff and this programme gives them the recognition they deserve
</p>
</div>
<p>The event will commend the 7200 LU staff who have achieved the City &amp; Guilds NVQ in Rail Transport Operations. </p>
<p>The ceremony will also officially award Barnet College and Four Counties Training's Rail Competence Centre with full Centre of Vocational Excellence (CoVE) status. </p>
<p>It will be held in Portcullis House, Houses of Parliament, on 5 January, commencing at 1500.</p>
<p>The 7200 Project puts LU at the forefront of staff development and training in the rail sector. </p>
<p>The bespoke NVQ Level 2 programme implemented some of the key principles of the Government's Skills Strategy, namely developing a demand-led approach to improve skills and offering businesses greater choice and flexibility in their training provision.</p>
<p>Iain Smith, LU's Head of Operational Skills, said: "LU staff work hard to deliver a safe, clean and reliable Tube service every day. </p>
<p>"We value our staff and this programme gives them the recognition they deserve for delivering the highest levels of customer satisfaction ever seen on the network."</p>
<h2>Skills development</h2>
<p>Barnet College and Four Counties Training have years of experience working with the rail sector to develop skills and improve business performance. </p>
<p>However, it was their work with LU that earned them full CoVE status in Rail Competence - the second rail CoVE to be awarded in London and third nationwide.</p>
<p>David Hughes, Regional Director, LSC London, said: "I would like to congratulate the partnership on being awarded the Rail Competence CoVE. </p>
<p>"Businesses in London face increasing pressure to keep up in a competitive market. CoVEs work closely with business and industry to deliver industry-relevant provision of a high standard, which helps to ensure people can get the skills they need to succeed in this economic climate."</p>
<p>Dave Tabernacle, Director of Work Related Learning for Barnet College, said: "Working with the rail industry is a key feature of the college's strategic plan and an area we have been working within for a number of years now. </p>
<p>"The awarding of the CoVE is a fantastic recognition of our work and, more importantly, our success in recognising and responding to employer and employee needs, and helping develop and improve business performance."</p>
<p>Commercial Director of Four Counties Training, Chris Brandreth, said: "The strategic partnership between Barnet College, Four Counties Training, City and Guilds and LU is such a success because we all bring different essential ingredients to it. </p>
<h2>Important landmark</h2>
<p>"Co-operation is assured because we all need each other's input."</p>
<p>Chris Humphries, Director General of City &amp; Guilds, said: "This project is a perfect exemplar of how a partnership between a leading edge employer, high quality training providers and an awarding body like City &amp; Guilds, can work to create an exceptional win all round for industry employer and employees - with the bonus in this case of huge benefits to the travelling public. </p>
<p>"Congratulations to Barnet College and Four Counties Training for this well deserved recognition as a CoVE."</p>
<p>The culmination of the 7200 Project is not the end of the training or the unique partnership between LU, Barnet College Four Counties Training and City &amp; Guilds. </p>
<p>It is the target figure originally agreed with the LSC and consequently an important landmark in an unprecedented rail competence training programme. </p>
<ul>
    <li>To mark this success an award ceremony has been organised on the 5 January 2006 at the Atlee Suite in Portcullis House, House of Parliament starting at 3pm.  If you would like to attend, please contact Debbie Churchman on 020 8840 5132 or <a href="mailto:debbie.churchman&#64;fct.uk.com">debbie.churchman&#64;fct.uk.com</a>. If we do not receive prior notification of attendance, entry will be denied in line with security procedures in place at the Houses of Parliament</li>
    <li>The LSC exists to make England better-skilled and more competitive. We are responsible for planning and funding high-quality vocational education and training for everyone. We have a single goal: to improve the skills of England's young people and adults to world-class standards. Our vision is that by 2010, young people and adults in England have the knowledge and skills matching the best in the world and are part of a truly competitive workforce. Established in 2001, we work nationally, regionally and locally from a network of offices across the country</li>
    <li>Situated in north London, Barnet College is the 10th largest further education college in England. It operates out of five main centres - High Barnet, New Southgate, Colindale, North Finchley and Hendon - as well as numerous outreach centres.  The College offers over 2,000 courses including academic, professional, vocational and general interest courses, and educational and training opportunities at all levels from pre-foundation to degree level courses.  Barnet has approximately 24,000 students and 1,500 staff. It serves a catchment area of some two million people and also welcomes students from Europe and across the world</li>
    <li>Four Counties Training Ltd was established in 1993 and is based in Ealing, London. FCT provides services associated with competence assurance and training and assessment of people.  The main areas of activity are:<br />
    <ul>
        <li>Advice and support for the implementation of competence-based (NVQ-type) assessment systems in the workplace</li>
        <li>Design of training and assessment programmes and associated materials</li>
        <li>Delivery of training programmes</li>
        <li>Assessment of candidates</li>
        <li>Monitoring, auditing and verification of training and assessment programmes</li>
        <li>Advice and support for access to financial support for training and development activities</li>
        <li>Research and development work, eg qualification mapping</li>
    </ul>
    </li>
    <li><a href="http://www.cityandguilds.com">City &amp; Guilds</a> is the UK's leading awarding body for work related qualifications. In total, the charity awards 1.3 million certificates to learners each year on over 500 subjects ranging from business support services to catering, management skills to manufacturing. City &amp; Guilds works with over 8,500 training providers, employers and FE colleges worldwide. <br />
    </li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The event will commend the 7200 LU staff who have achieved the City & Guilds NVQ in Rail Transport Operations. The ceremony will also officially award Barnet College and Four Counties Training's Rail Competence Centre with full Centre of Vocational";}
        
        


 