


@{ViewBag.Title = "LU responds to threat of industrial action";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>LU responds to threat of industrial action</h1>
        <div class="content-page-press-release">
        05 December 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Rail, Maritime and Transport (RMT) union has announced its intention to call strike action among its members at Metronet Rail on some days in the week commencing 19 December, if there is no resolution of the current dispute between the two.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We understand that Metronet and the RMT are still negotiating and that talks are progressing well
                            
                        </p>
                    </div>
                
            
            
            |widget#370|<a href="http://www.metronetrail.com/" target="_blank">Metronet Rail</a> is the company responsible for maintenance on the Bakerloo, Central, Circle, District, East London, Hammersmith & City, Metropolitan, Victoria and Waterloo & City lines.
<h1></h1>
<p>The <a href="http://www.rmt.org.uk/" target="_blank">RMT</a> has announced additionally that if the strike goes ahead, its London Underground (LU) members who operate trains on the affected lines may also take industrial action as a result.</p>
<p>A LU spokesperson said: "The RMT dispute is with Metronet, not LU.</p>
<p>"The RMT is threatening industrial action on the Tube even if LU engineers and the rail safety regulator, Her Majesty's Railway Inspectorate (HMRI), say the Underground is safe.</p>
<p>"We understand that Metronet and the RMT are still negotiating and that talks are progressing well.</p>
<p>"We hope for a successful conclusion to those talks.</p>
<p>"We will continue to work to provide a safe, reliable and clean Tube service, every day."<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "|widget#370|Metronet Rail is the company responsible for maintenance on the Bakerloo, Central, Circle, District, East London, Hammersmith & City, Metropolitan, Victoria and Waterloo & City lines.The RMT has announced additionally that if the strike goes";}
        
        


 