


@{ViewBag.Title = "Marshalled taxi rank at Christmas in Bromley";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Marshalled taxi rank at Christmas in Bromley</h1>
        <div class="content-page-press-release">
        01 December 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A marshalled taxi rank, part of the Mayor of London's Safer Travel at Night scheme that has been trialling in Bromley over the last three months, will be extended over the Christmas period.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
<p>
It has proved a real help in getting visitors to Bromley Town Centre home safely late at night
</p>
</div>
<p>Jointly funded by Transport for London (TfL) and Bromley Council, the marshalled rank has been operating in Bromley Town Centre since 5 August 2005 on Fridays and Saturdays, and in December this will operate on Thursdays also.</p>
<p>TfL's Public Carriage Office (PCO) has been working with the Royal Borough of Bromley, local police, the Licensed Taxi Drivers Association (LTDA) and Bromley's licensed taxi drivers to introduce the late-night marshalled taxi rank pilot scheme to visitors of Bromley over the Christmas period.</p>
<p>Mayor of London Ken Livingstone said: "As the nights get colder, and seasonal parties take place, marshalled taxis ranks will help Bromley residents to get a licensed taxi home. </p>
<p>"Licensed cabs are a safe and convenient way to get home at night. </p>
<p>"This initiative is a key part of my strategy to improve the safety of people travelling late at night across London, and I am pleased that Bromley is one of the first places to benefit."</p>
<p>Ed Thompson, Taxi and Private Hire Director, PCO, said: "The introduction of a marshalled taxi rank in the London's West End proved a great success and we are glad that the trial in Bromley is proving very popular.</p>
<p>
</p>
<h2>A safe focal point</h2>
<p>
</p>
<p>"The rank provides a safe focal point for people wanting a legitimate taxi, and a deterrent to illegal taxi touts.</p>
<p>"Not only will it be marshalled but it will also be covered by CCTV as well as regular patrols by the police, and we are pleased to increase its operating hours over the Christmas period."</p>
<p>Cllr. Neil Reddin, Bromley Council's Executive Councillor for Community Safety and Leisure and Chair of the Safer Bromley Partnership, said: "This is another fine example of different partner organisations coming together to make Bromley a safer place to live, work and enjoy yourself.</p>
<p>"We are happy to support the taxi marshal initiative.</p>
<p>"It has proved a real help in getting visitors to Bromley Town Centre home safely late at night while also preventing possible disorder on the streets."</p>
<p>Tony Ellis, London Taxi Drivers Association, said: "Local licensed taxi drivers fully support this scheme. </p>
<p>"It is marshalled by licensed taxi drivers who organise the queues and make sure that passengers get into licensed taxis, quickly, efficiently and safely and are pleased to do so particularly over the busy Christmas period."</p>
<ul>
    <li>The marshalled taxi rank is based at Market Square and over the Christmas period will operate between 1000 to 0300 on Thursdays 1, 8, 15, 22; Fridays 2, 9, 16, 23; and Saturdays 3, 10, 17 December 2005
    </li>
    <li>The marshalled taxi rank pilot scheme is part of the on-going Safer Travel at Night initiative and will provide a safe and alternative form of late night transport
    </li>
    <li>Safer Travel at Night is a joint initiative between the Mayor of London, Transport for London and the Metropolitan Police<br />
    </li>
    <li><strong>Other Safer Travel at Night initiatives include: </strong>
    <ul>
        <li>The 'Know what you are getting into' campaign, advising women against using illegal minicabs
        </li>
        <li>All buses fitted with CCTV by the end of 2005
        </li>
        <li>All minicab operators and vehicles licensed by spring 2005 and drivers by spring 2006 <br /></li>
    </ul>
    </li>
    <li><strong>Impact of the 'Know what you're getting into' campaign on attacks</strong>:
    <ul>
        <li>In the first 12 months of the campaign minicab-related sexual assaults declined by 27 per cent and rapes by 22 per cent to 155 sexual assaults (42 of which were rapes)
        </li>
        <li>In the second year of activity minicab related sexual assaults fell to 140 (32 of which were rapes).
        </li>
        <li>This signified a 34 per cent fall in the number of offences and a 41 per cent fall in number of rapes during the first two years of the campaign
        </li>
        <li>In the third year of activity sexual assaults have fallen to 10 a month</li>
    </ul>
    </li>
    <li>The taxi rank will be covered by CCTV and patrolled regularly by police
    </li>
    <li>The marshal will have a two-way radio linked with the town centre CCTV control room
    </li>
    <li>Passengers must approach the marshal if they wish to get a taxi
    </li>
    <li>The rank is not intended to link up individual passengers or groups unknown to each other who are travelling in the same direction
    </li>
    <li>Drivers are free to return to the marshalled rank as many times as they wish during the night
    </li>
    <li>During the daytime the area will continue to be used as a loading and waiting bay
    </li>
    <li>The Safer Bromley Partnership is committed to continuously improving safety in Bromley. We want a borough where people can live, work, play and learn safely
    </li>
    <li>Our members include Bromley Council, Bromley Police, Health, Probation, Fire and London Ambulance Services, the Metropolitan Police Authority and Broomleigh Housing Association
    </li>
    <li>For Bromley Council media enquiries please contact Susie Clark, Communications Officer, on 020 8461 7911, or email <a href="mailto:susie.clark&#64;bromley.gov.uk">susie.clark&#64;bromley.gov.uk</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Jointly funded by Transport for London (TfL) and Bromley Council, the marshalled rank has been operating in Bromley Town Centre since 5 August 2005 on Fridays and Saturdays, and in December this will operate on Thursdays also.TfL's Public Carriage Office";}
        
        


 