


@{ViewBag.Title = "Mayor urges under-16s to apply for free bus travel";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor urges under-16s to apply for free bus travel</h1>
        <div class="content-page-press-release">
        20 December 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Young people under 16 who have not yet applied for their Child Oyster photocards should apply now, as old-style photocards will not be valid from 2 January.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I am urging young people to apply now so they can claim free travel
                            
                        </p>
                    </div>
                
            
            
            <p>Two hundred thousand young people have already applied for free travel on buses and trams.</p>
<p>Mayor of London, Ken Livingstone said: "From 2 January old-style photocards for young people will no longer be valid, which means they will have to pay the adult fare if they don't have a Child Oyster card, which now gives totally free of charge travel on London buses and trams. </p>
<p>"I am therefore urging young people and their parents to apply now for Child Oyster cards so they can claim free travel."</p>
<p>"In just four months 200,000 young Londoners have applied for their Child Oyster card to benefit from free travel on buses and trams.'</p>
<p>Young people who are eligible, but haven't applied for free travel, are urged to do so as soon as possible as old-style photocards will not be valid from 2 January. </p>
<p>Fourteen- and 15-year-olds must carry a Child Oyster photocard to be eligible for free travel although any child under 14 can also apply for one. </p>
<p>
<h2>Breaking down the cost barrier</h2>
<p>
<p>Sarah Archer, 15, Deputy Youth MP for Westminster, UK Youth Parliament said: "Free travel helps me to get around London in a safe way, and I don't have to worry about having money for buses any more. </p>
<p>"I think it's brilliant! I use it to travel to school, which is important - and because I can travel free on buses during leisure time, I make the most of it to visit friends, go to Youth Parliament and the gym."</p>
<p>Gill Fitzhugh MBE, Chief Executive at Rugby Portobello Trust said:</p>
<p>"The Rugby Portobello Trust works with young people who need support to develop into positive and fully participating members of society.</p>
<p>"We support free travel as a practical way of opening up opportunities for young people by breaking down the cost barrier.</p>
<p>"This helps encourage young people to make the most of what London has to offer, enabling much greater access to education, employment, social and so many other positive opportunities."</p>
<p>George McNamara, from the children's charity NCH, said: "It's great to hear that so many young people across London are benefiting from this scheme.</p>
<p>Free travel has opened up numerous opportunities for young people, in particular those from low-income families, enabling them to make the most of what London has to offer.</p>
<p>Clearly this has proved to be an innovative and worthwhile initiative and I would urge all young people in the capital to take full advantage of the Mayor's scheme."</p>
            <ul>
<li>Child Oyster photo-card application forms are available at all post offices in Greater London and areas just beyond the boundary served by the London bus network. 
</li><li>Young people can continue to apply between Christmas and the New Year during normal post office opening hours. 
</li><li>Young people who are eligible, but haven't applied for free travel, are urged to do so as soon as possible as the old-style 11-15; 5-10 and Child photocards will not be valid from 2 January. 
</li><li>Once an application form is submitted, under 16s will receive a stamped receipt from the Post Office, which, when presented at a ticket office, enables the purchase of two child rate 7-Day travelcards. 
</li><li>Under 16s are reminded they must touch their free travel pass on the yellow reader when boarding buses and on the validator before boarding trams. 
</li><li>Failure to touch in with the pass may result in a penalty fare. 
</li><li>If using the tram at Wimbledon, 11-15 year olds must have a Child Oyster photocard to get free travel. 
</li><li>11-15 and Child photocards are not valid. 
</li><li>200,000 Child Oyster photocard applications have been received, of which 196,000 cards have been despatched. 
</li><li>To date, 43 Oyster photocards have been withdrawn under the Behaviour Code. 
</li><li>The majority (70 per cent) of offences were by adults using an Oyster child photocard.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Two hundred thousand young people have already applied for free travel on buses and trams.Mayor of London, Ken Livingstone said: 'From 2 January old-style photocards for young people will no longer be valid, which means they will have to pay the adult";}
        
        


 