


@{ViewBag.Title = "Mayor opens Docklands Light Railway London City Airport extension";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor opens Docklands Light Railway London City Airport extension</h1>
        <div class="content-page-press-release">
        06 December 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor of London Ken Livingstone and Minister for Transport Karen Buck today opened the Docklands Light Railway extension at the new London City Airport station.
        
    </div>



 <div class="on-this-page">
<p>They were joined by Colin Jackson, star of BBC's Strictly Come Dancing and a champion hurdler, Lord Coe and Olympic Gold medallist Denise Lewis.</p>
<p>The London City Airport extension runs from Canning Town to King George V station at North Woolwich via London City Airport, and will play an important part in London's transport plans for the 2012 Olympic Games.</p>
<p>The line has four new stations which now connect local and airport passengers direct into the Tube system at Canning Town. </p>
<p>Mayor Ken Livingstone, said: "The Docklands Light Railway City Airport extension is a vital new transport link which has been delivered on time and on budget. </p>
<p>"We are now starting to see the benefits of Transport for London's &pound;10bn 5-year Investment Programme.</p>
<p>"In December we will be expanding the capacity of the Jubilee line with another carriage on every train. </p>
<p>"The Docklands Light Railway extension will open up access to jobs and housing in the local area". </p>
<p>The 8,000 residents living on the route will have three new stations at West Silvertown, Pontoon Dock and King George V, providing better access to jobs and leisure facilities as well as generating more custom for local businesses.</p>
<p>Passengers flying in and out of London City Airport will also enjoy faster, easier and cheaper journeys into Canary Wharf, the City and central London.</p>
<p>
<h2>Key transport milestones</h2>
<p>
<p>Lord Coe, Chairman of London 2012, said: "Having only last week agreed with the International Olympic Committee the key transport milestones towards 2012, this is timely and impressive evidence of London's ability to deliver on its promises.</p>
<p>"London will be ready to host an outstanding Games with progress of other key transport schemes already well underway". </p>
<p>Karen Buck, Transport Minister, said: "People who live and travel in London continue to benefit from the investments in its transport system.</p>
<p>"This is the fourth extension since the DLR opened, improving things still further.</p>
<p>"It will keep on growing - we are already looking forward to the extension to Woolwich.</p>
<p>"One of the reasons behind our successful bid for the 2012 Games was that much of what is needed already exists, or is being built right now."</p>
<p>Jonathan Fox, Director, Docklands Light Railway, said: "This extension is tremendously significant for the Southern Royal Docks area.</p>
<p>"It provides London City Airport with a dedicated rail link into the heart of the City, and will be instrumental in the ongoing regeneration of the local community and the preparations and support for the London 2012 Olympic Games".</p>
<p>The next stage of the Docklands Light Railway expansion is the 2.5km extension from King George V under the Thames to Woolwich Arsenal, which will provide businesses and local communities with another major boost when it opens in early 2009.</p>
            <ul>
<li><strong>Stations and services</strong> 
<ul>
<li>All stations on the Docklands Light Railway network provide step-free access to trains. Stations are well integrated with other transport systems with direct interchanges with over 100 bus routes, five mainline railways, eight Underground lines and coach, taxi and riverboat services. 
</li><li>London City Airport station has two entrances, one directly into the airport terminal and another on Drew Road. Both entrances have lift access and there are escalators from the main concourse area 
</li><li>West Silvertown will serve Britannia Village and the Peruvian Wharf development. Pontoon Dock is adjacent to Barrier Park and planned aquarium, 'Biota!'. King George V station is in North Woolwich, sited at the northern end of Pier Road, within walking distance to the Woolwich Ferry 
</li><li>Trains will run every 7-10 minutes, Monday to Saturday 05.30-00.30, Sunday 07.00-23.30. Journey times between the airport and Canary Wharf will be 14 minutes, the City in 22 minutes and central London in 35 minutes</li></ul>
<li><strong>Fares and journey times</strong> 
<ul>
<li>As part of the Transport for London network, Docklands Light Railway operates the same zonal fare system as London Underground and London Buses. 
</li><li>Almost 50 per cent of airport passengers use black cabs. 
</li><li>The length and cost of journeys depend on traffic and time of day but comparative costs and journey times include: 
<ul>
<li>Canary Wharf, 3.7 miles - &pound;8.80 by cab, 30 mins; &pound;1.30 by Docklands Light Railway, 14 mins
</li><li>The City (Bank Station), 6.6 miles - &pound;15.00 by cab, 25 mins; &pound;2.80 by DLR 22 mins
</li><li>Westminster, 8.6 miles - &pound;20.40 by cab, 35 mins; &pound;2.80 by Docklands Light Railway and Jubilee Line 28 mins</li></ul></li></ul>
<li>The &pound;140m extension has been designed and built by City Airport Rail Enterprises plc, a joint venture of AMEC plc and the Royal Bank of Scotland under a 30 year Private Finance Initiative concession. 
</li><li><strong>History of Docklands Light Railway</strong> 
<ul>
<li>Docklands Light Railway carries more than 51 million passengers a year, a figure forecast to increase to 80 million by 2009. Docklands Light Railway Limited is responsible for planning the railway's future and protecting and developing its assets. 
</li><li>Since the railway opened in 1987, it has been extended on three other occasions: to Bank in 1991, Beckton and the Northern Royal Docks in 1994, and Greenwich and Lewisham in 1999.</li></ul>
<li><strong>Media Enquries</strong>: contact Sam Hart/Hilary Merrett in the Mayor's Press Office on 020 7983 4714/4753 or Adi Frost in TfL's press office on 0845 6044141. 
</li><li>Non-media enquiries: contact the Public Liaison Unit on 020 7983 4100 
</li><li><strong>Out-of-hours media enquiries</strong>: contact the Duty Press Officer on 020 7983 4000<br></li></li></li></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "They were joined by Colin Jackson, star of BBC's Strictly Come Dancing and a champion hurdler, Lord Coe and Olympic Gold medallist Denise Lewis.The London City Airport extension runs from Canning Town to King George V station at North Woolwich via London";}
        
        


 