


@{ViewBag.Title = "Platform for Art presents Post Selection Translation";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Platform for Art presents Post Selection Translation</h1>
        <div class="content-page-press-release">
        16 December 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Platform for Art, London Underground's (LU) public art programme, is pleased to present a new installation by artist Matt Collier, Post Selection Translation, on display at South Wimbledon Tube station until 31 March 2006.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Post Selection Translation is on display until 31 March 2006
                            
                        </p>
                    </div>
                
            
            
            <p>Post Selection Translation is the continuation of a partnership project between Wimbledon School of Art and <a href="/corporate/projectsandschemes/2425.aspx">Platform for Art's</a>&nbsp;Creative Communities programme (which aims to reach London's diverse communities through art displays at underground stations).</p>
<p>Post Selection Translation, the third in a series of artworks based on the theme of motion to be created by Wimbledon School of Art, decorates the windows of a redundant retail unit at South Wimbledon station. </p>
<p>Post Selection Translation features anatomic forms drawing parallels between the human body's internal scaffolding and the station's architecture.</p>
            <ul>
<li>Matt Collier was born in 1977 and graduated with a degree in Fine Art from Wimbledon School of Art in July 2004</li>
<li>He now lives and works in Streatham</li>
<li>Previous artworks by the Wimbledon School of Art to have been on display at South Wimbledon Underground station include Holiday by Ed Everett & Julia Parry and Untitled by Martin Barron</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Post Selection Translation is the continuation of a partnership project between Wimbledon School of Art and Platform for Art's&nbsp;Creative Communities programme (which aims to reach London's diverse communities through art displays at underground";}
        
        


 