


@{ViewBag.Title = "Record spending for local communities in London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Record spending for local communities in London</h1>
        <div class="content-page-press-release">
        12 December 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<span class="right">
                    
                </span><p><strong>
<p>This press release was originally issued by the Mayor of London's press office at the <a href="http://www.london.gov.uk/">Greater London Authority</a>. </p></strong>
<p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            Boroughs across London are benefiting from record levels of funding from TfL
                            
                        </p>
                    </div>
                
            
            
            <p>Ken Livingstone, Mayor of London, today announced a record &pound;159m of funding for London boroughs to spend on local transport improvements during the next financial year, 2006/07.</p>
<p>The spending in London's boroughs will improve transport and make neighbourhoods across London safer and more pleasant.</p>
<p>The investment will pay for a range of initiatives in every London borough including safer routes to school, improvements to local town centres, road maintenance, road safety schemes, and other schemes that support walking and cycling.</p>
<p>The funding is part of the record-breaking five-year &pound;758m programme for local transport schemes announced last year as part of Transport for London's &pound;10bn 5-Year Investment Programme.</p>
<p>Mayor of London Ken Livingstone said: "Boroughs across London, outer and inner, are benefiting from the record levels of funding from Transport for London, providing real local travel improvements. </p>
<p>"This spending will help strengthen London's local communities, making them safer and more pleasant, with better transport links, safer routes to school and improvements to town centres. </p>
<p>"By working closely with boroughs we have cut road deaths and serious injuries, doubled cycling in five years and delivered more than five hundred travel plans to get children to and from school safely. </p>
<p>"The increased investment for the next financial year will benefit everyone who travels in London - whether you are in a car, on foot, on a bus or on a bike.' <br><br>
<h2>Spending plan highlights</h2>
<p>
<p>Highlights of the 2006/2007 Borough Spending Plan include: <br></p>
<ul>
<li>Schemes to improve the quality, safety and accessibility of local streets and town centres 
</li><li>These include the Acton Town Square project which will improve the quality of the existing public space and the Plaistow Town Centre scheme, which will continue to support the Government's regeneration goals for the area through the New Deal for Communities 
</li><li>Reducing road casualties - London met national road safety targets in 2005, almost five years early 
</li><li>Investment continues, at &pound;29.4m, to reach more ambitious targets 
</li><li>Cycling investment increased from &pound;12m to &pound;15m, including a 28 per cent increase in funding for the London Cycle Network</li></ul>
<p>Bob Kiley, London's Transport Commissioner, said: "Every borough will benefit from the &pound;159m the Mayor has announced for next year. </p>
<p>"This funding will help make the millions of short journeys that take place every day seamless and safe. </p>
<p>"Any trip within London's communities will continue to benefit from improvements such as better cycle parking, accessible walking routes, 20mph zones and controlled parking." </p>
<p>Sir Robin Wales, Chair of the Association of London Government, said: "This bigger-than-expected funding boost is very welcome. It will help to ensure that the vast numbers of people that use London's congested roads each day are able to do so as smoothly and safely as possible.</p>
<p>"The extra money will help boroughs build on their good work to enhance the capital's cycling initiatives, road safety schemes and generally maintain the roads and footpaths across the capital. </p>
<p>"The early announcement of the funding will enable boroughs to plan ahead more effectively. We look forward to continue working with the Mayor and Transport for London to improve to the capital's roads and transport system for the benefit of everyone who lives, works and visit London."</p>
<p>Richard Rogers, Chief Advisor to the Mayor of London on Architecture and Urbanism said: "As London plans to accommodate more people and improve the quality of life of its citizens, the public realm is becoming more significant to everyday lives. </p>
<p>"Transport for London's commitment to improving the quality of design of public spaces and places is critical to London's performance as a s
            <ul>
<li>While Transport for London awards funding for individual schemes, project delivery is the responsibility of the boroughs. 
</li><li><strong>Total funding for each transport topic for 2006/7:</strong> 
<div class="table-container"><table width="75%">
<tbody>
<tr>
<td width="76%"><strong>Topic</strong> 
</td><td colspan="2"><strong>Funding &pound;(m)</strong></td>
</tr><tr>
<td>Principal Road Renewal</td>
<td width="8%">
<div align="right">28.</div></td>
<td width="15%">
<div align="left">2 </div></td>
</tr><tr>
<td>Bridge Strengthening </td>
<td>
<div align="right">11.</div></td>
<td>
<div align="left">8 </div></td>
</tr><tr>
<td>Road Safety </td>
<td>
<div align="right">29.</div></td>
<td>
<div align="left">4 </div></td>
</tr><tr>
<td>Bus Priority </td>
<td>
<div align="right">20.</div></td>
<td>
<div align="left">4 </div></td>
</tr><tr>
<td>Bus Stop Accessibility </td>
<td>
<div align="right">4.</div></td>
<td>
<div align="left">9</div></td>
</tr><tr>
<td>Walking and Cycling </td>
<td>
<div align="right">20.</div></td>
<td>
<div align="left">4</div></td>
</tr><tr>
<td>Area Based Schemes (Streets for People, Town Centres and Station Access) </td>
<td>
<div align="right">18.</div></td>
<td>
<div align="left">6</div></td>
</tr><tr>
<td>FRACA (freight, regeneration, environment, parking and accessibility schemes) </td>
<td>
<div align="right">5.</div></td>
<td>
<div align="left">9 </div></td>
</tr><tr>
<td>School Travel Plans and Travel Awareness </td>
<td>
<div align="right">10.</div></td>
<td>
<div align="left">8</div></td>
</tr><tr>
<td>Traffic Signals </td>
<td>
<div align="right">8.</div></td>
<td>
<div align="left">4</div></td>
</tr><tr>
<td>Management &amp; Monitoring </td>
<td>
<div align="right">0.</div></td>
<td>
<div align="left">08</div></td>
</tr><tr>
<td>Parallel Initiatives </td>
<td>
<div align="right">0.</div></td>
<td>
<div align="left">2</div></td>
</tr><tr>
<td><strong>Total </strong></td>
<td>
<div align="right"><strong>159</strong> </div></td>
<td></td></tr></tbody></table></div></li></ul>
<ul>
<li>
<p class="prnotescopy">This press release was originally issued by the Mayor of London's press office at the <a href="http://www.london.gov.uk/">Greater London Authority</a>. For media enquiries please call Hilary Merrett on 020 7983 4753. For out of hours media enquiries please call 020 7983 4000. For non-media enquiries please call the Public Liaison Unit on 020 7983 4100.<br></p></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This press release was originally issued by the Mayor of London's press office at the Greater London Authority. Ken Livingstone, Mayor of London, today announced a record &pound;159m of funding for London boroughs to spend on local transport improvements";}
        
        


 