


@{ViewBag.Title = "Travel advice for the festive season";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Travel advice for the festive season</h1>
        <div class="content-page-press-release">
        19 December 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) today set out this year's travel arrangements over the festive season. </p>
<p>Londoners and visitors to the Capital should plan their journeys carefully before travelling, as some services will be limited. </p>
<p>All TfL services will be free from 2345 on New Year's Eve until 0430 on New Year's Day, thanks to sponsorship by Natwest. </p>
<p><strong>Congestion Charging<br></strong>The Congestion Charge will not apply from Saturday 24 December until Monday 2 January.  It will resume on Tuesday 3 January 2006.</p>
<p><strong>Jubilee Line Services</strong><br>The entire Jubilee line will close for five days between 26 and 30 December In order to allow the introduction of longer seven-carriage trains.  Replacement bus services will be in operation when the line is closed and DLR services will also be boosted.<br></p>
<p>Services from Christmas Eve to New Year's Eve are: </p>
<p><strong>Christmas Eve</strong></p>
<ul>
<li><strong>Tube<br></strong>A Saturday service will operate with reduced services in operation after 1900 and the last train will finish at Sunday times. 
</li><li><strong>Buses</strong><br>Buses will run a Saturday service but there will be no Night buses. On 24-hour routes, buses will operate until just after midnight. 
</li><li><strong>Docklands Light Railway</strong><br>A revised Saturday service will operate, finishing one hour earlier than the normal close of service. 
</li><li><strong>Tramlink<br></strong>A normal Saturday service will operate. 
</li><li><strong>National Rail</strong><br>Many operators will reduce services from early evening with last train services departing by 2200. For further details please call National Rail services on 08457 48 49 50 before travelling. 
</li><li><strong>Victoria Coach Station<br></strong>Full range of Coach services operating in the UK and to European destinations but services start to wind down after midday.  Advance booking for travel on Christmas Eve is essential.  <br><strong>London River Services</strong><br>No services except: City Cruises (020 7740 0400) and Thames Clippers (0870 781 5049).</li></ul>
<p><strong>Christmas Day</strong></p>
<ul>
<li>No service on any public transport networks except Route T1 and T2, and the Christmas Day Dinner Cruise operated by City Cruises. For further information call City Cruises - 020 7740 0400.
</li><li><strong>Victoria Coach Station</strong><br>No services within the UK.Limited services to mainland Europe and express coach service to and from Stansted Airport.  </li></ul>
<p><strong>Boxing Day</strong></p>
<ul>
<li><strong>Tube<br></strong>Special services will generally operate at 5-8 minute central area intervals between midday and 1900. First trains will run from about 0830, with last trains at normal Sunday times. At other times, 7-10 min interval services will generally operate. 
</li><li><strong>Buses</strong><br>A Sunday service will operate on all routes from about 0830 with the following exceptions: On routes 105,111,140, 203, 285, 490, H25, H26 and U3, a Sunday service will operate from about 05.30, in order to serve Heathrow Airport. Route 84 will only operate between New Barnet and Potters Bar stations. Route 477 will not operate. 
</li><li><strong>Docklands Light Railway<br></strong>A special enhanced Boxing Day service will operate on all routes due to the closure of the Jubilee Line. 
</li><li><strong>Tramlink</strong><br>A Sunday service will operate, but starting later than usual. Please check your local travel information for further details. 
</li><li><strong>National Rail</strong><br>Limited services are expected to run. For further details please call National Rail services on 08457 48 49 50 before travelling. 
</li><li><strong>Victoria Coach Station<br></strong>Limited services operating to most destinations.  Phone operator for details.<br><strong>London River Services</strong><br>No services except: City Cruises (020 7740 0400) Westminster Waterloo - Tower - Greenwich: normal service.</li></ul>
<p><strong>27 December (Bank Holiday)</strong></p>
<ul>
<li><strong>Tube</strong><br>Normal Saturday services will run on all lines except the Bakerloo Line, Central Line, Circle and Hammersmith & City Lines, Jubilee Line, Piccadilly Line and Waterloo & City Line. Please check with your local travel information centre for further details. 
</li><li><strong>Buses</strong><br>A Sunday service except on route 477, which will operate to a public holiday schedule and a normal service for the Night bus route. 
</li><li><strong>Docklands Light Railway<br></strong>Due to the closure of the Jubilee Line, a standard Saturday service will operate - check with your local travel information for further details. 
</li><li><strong>Tramlink</strong><br>A Saturday service will operate. Please check your local information centre for more details. 
</li><li><strong>National Rail</strong><br>Services will run to modified timetables. Heathrow Express: Full Monday to Friday service. Gatwick Express: Normal weekday service will operate. Start of service: trains will be 0330 departure from London Victoria and 0435 departure from Gatwick Airport. Unfortunately, there will be no bus service between Tottenham Hale and Stansted Airport. All passengers are advised to travel to/from London Liverpool Street. 
</li><li><strong>Victoria Coach Station<br></strong>Reduced service operating.  Phone operator for details.<br><strong>London River Services</strong><br>No services except: Catamaran Cruisers (020 7987 1185), City Cruises (020 7740 0400), Thames Clipper (0870 781 5049), Thames River Services (020 7930 4097).</li></ul>
<p><strong>28, 29, 30 and 31 December</strong></p>
<ul>
<li><strong>Tube</strong><br>Saturday services will run on all lines except the following which will be undergoing refurbishment work: the Central Line, Circle and Hammersmith & City Lines, Jubilee Line, Metropolitan Line, Piccadilly line. The Waterloo & City Line will operate a special service with trains every 6 minutes at peak times, 10 minutes off-peak. First and last trains will run at normal weekday times. 
</li><li><strong>Buses</strong><br>A Saturday service will operate with a few exceptions. Please check your local travel information for further details. 
</li><li><strong>Docklands Light Railway<br></strong>Due to the closure of the Jubilee Line, a standard Monday to Friday service will operate. 
</li><li><strong>Tramlink<br></strong>A Saturday service will operate. 
</li><li><strong>National Rail<br></strong>Services will run to modified timetables. For further details please call National Rail services on 08457 48 49 50 before travelling. 
</li><li><strong>Victoria Coach Station<br></strong>Normal services operating to most destinations.  Phone operator for details.<br><strong>London River Services<br></strong>No services except:Catamaran Cruisers (020 7987 1185), City Cruises (020 7740 0400), Thames Clipper (0870 781 5049) and Thames River Services (020 7930 4097)</li></ul>
<hr>

<p>For 24-hour information on public transport in London, please call: 020 7222 1234.<br><br>TfL's Realtime pages display live travel information on London's public transport network: <a href="http://www.tfl.gov.uk/realtime">www.tfl.gov.uk/realtime</a> </p>
<p>Journey Planner checks the transport network's status before providing results. The best available route is shown automatically: <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> </p>
<p>Travel alerts via SMS and email can be set up at: <a href="http://www.tfl.gov.uk/alerts">www.tfl.gov.uk/alerts</a></p>
            <ul>
<li>All Christmas and New Year's travel arrangement information is available on the TfL website and in a special TfL Festive Travel leaflet available at Tube stations, Travel Information Centres and usual TfL outlets, or call London Travel Information on 020 7222 1234. </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) today set out this year's travel arrangements over the festive season. Londoners and visitors to the Capital should plan their journeys carefully before travelling, as some services will be limited. All TfL services will be free";}
        
        


 