


@{ViewBag.Title = "Tube upgrade ahead of schedule as Jubilee line re-opens two days early";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube upgrade ahead of schedule as Jubilee line re-opens two days early</h1>
        <div class="content-page-press-release">
        29 December 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passengers got an extra Christmas present today when the Jubilee line re-opened two days earlier than expected.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Conversion of the trains continues and a full Jubilee line service resumes on 8 January
                            
                        </p>
                    </div>
                
            
            
            <p>The Jubilee line was due to be closed for five days between December 26 and December 30 to allow the introduction of a seventh carriage to all Jubilee line trains.</p>
<p>After rigorous testing of both the signalling and the newly extended seven carriage trains, a reduced passenger service has been introduced today rather than on New Year's Eve.</p>
<p>Conversion of the trains to seven carriages continues and a full Jubilee line service will not resume until 8 January 2006, as originally planned.</p>
<p>Mayor of London Ken Livingstone said: "The improvements to the Jubilee line are now running ahead of schedule, which is excellent news for London Tube users. </p>
<p>"Although there is a limited service today, the Jubilee line is up and running a full two days early and there is now every sign that the Jubilee line upgrade is going to be a major improvement to the Tube network.</p>
<p>"When this work is finished, the extra carriage on every single Jubilee line train will mean we can carry an extra 6,000 passengers every morning and evening peak.</p>
<p>"The policy of investing in London's Public transport system, after years in which it was starved of cash, is vital to maintaining London's position as a global city."</p>
<p>George McInulty, London Underground's Jubilee line Service Director said: "The early introduction of the longer trains is a wonderful extra Christmas present for our passengers. </p>
<p>"This extra seventh carriage will be a real boost to all Jubilee line passengers, increasing capacity by nearly a fifth across the whole line, or an extra 6,000 passengers in both directions every morning and evening peak.</p>
<p>"In order to ensure a safe and reliable introduction of longer seven-carriage trains on the Jubilee line we had closed the line entirely.</p>
<p>"This is because six- and seven-carriage trains cannot be run at the same time and the trains and signalling system need to be tested prior to their introduction into passenger service.</p>
<p>
<h2>Additional capacity</h2>
<p>
<p>"The extra seventh carriage on all Jubilee line trains boosts passenger capacity by 17 per cent.</p>
<p>"Four new trains have also been added, increasing the train fleet from 59 to 63 trains.</p>
<p>"While the trains are longer and carry more people, the service in place today is reduced with average gaps of up to six to eight minutes between trains. </p>
<p>"Some trains continue to be tested on the line.</p>
<p>"The replacement bus service will continue to operate today and tomorrow.</p>
<p>"Neasden station remains closed for refurbishment work."</p>
<p>All the improvements are part of Transport for London's (TfL) &pound;10bn 5-year Investment Programme, to improve and expand London's transport network.</p>
<p>George Iacobescu, Chief Executive of Canary Wharf Ltd, said: "I would like to welcome the introduction - ahead of schedule - of a seventh carriage on the Jubilee line trains, which will be a significant step in the ongoing process of increasing the Jubilee line service. </p>
<p>"We need this type of delivery and investment in transport to meet the needs of London's fast growing business district.</p>
<p>"We are pleased that London Underground and Tube Lines planned ahead to deliver this project with the minimum of impact on businesses and look forward to working with them on more improvements to the line in the coming years."</p>
<p>London Underground planned the work when the Tube is most lightly used.</p>
<p>Replacement bus services were in operation when the line was closed.</p>
<p>The Bakerloo, Waterloo & City lines and the DLR services were also boosted.</p>
<p>During this time valid Underground tickets were accepted on local bus and river boat services.</p>
<p>Before the improvements, the Jubilee line capacity was approximately 33,000 people per hour in both directions when running 24 hour trains per hour.</p>
<p>With the introduction of seven-carriage trains and an extra four trains,
            <ul>
<li>TfL is investing &pound;10bn over the next five years to improve and expand London's transport network, more than half of that in the Tube</li>
<li>Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines</li>
<li>LU has exercised a Specified Right in the PPP contracts to get from Tube Lines the delivery of a seven-carriage Jubilee line train service in 2006, rather than as part of the full line upgrade in 2009</li>
<li>Tube Lines are due to deliver a full line upgrade of the Jubilee line in 2009, increasing its capacity by 45 per cent</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Jubilee line was due to be closed for five days between December 26 and December 30 to allow the introduction of a seventh carriage to all Jubilee line trains.After rigorous testing of both the signalling and the newly extended seven carriage trains,";}
        
        


 