


@{ViewBag.Title = "All change at Tottenham Court Road as &pound;1bn Tube and Crossrail station development gets underway";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>All change at Tottenham Court Road as &pound;1bn Tube and Crossrail station development gets underway</h1>
        <div class="content-page-press-release">
        05 January 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Spring 2009 demolition work signals start of one of the biggest ever central London station redevelopments.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This will be one of the biggest station redevelopment projects ever undertaken in central London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Richard Parry</div>
            <div class="quotee-job-title">LU Director of Strategy and Service Development</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This will be one of the biggest station redevelopment projects ever undertaken in central London
                            
                        </p>
                    </div>
                
            
            
            <p>It's all change at Tottenham Court Road from this weekend as preparations get underway for the massive redevelopment of the Tube station and the building of Crossrail. </p>
<p>From Saturday 10 January, buses will start diversions around the area as preparations begin for the start of building demolition in spring 2009.</p>
<p>A total &pound;1bn investment is being made to upgrade the capacity of the Tube station, build a station for the new Crossrail railway and create a new piazza outside Centre Point. </p>
<h2>Major redevelopment</h2>
<p>The transport improvements will also provide better facilities for pedestrians, cyclists, bus passengers and other road users. </p>
<p>Improvements to the Tube station, which will be completed by 2016, will deliver: </p>
<ul>
<li>An enlarged Tube ticket hall nearly&nbsp;six times the size of the current one </li>
<li>New station entrances and additional access points to the Northern and Central line platforms to reduce congestion </li>
<li>Additional escalators and five new lifts to provide step-free access</li></ul>
<p>Tottenham Court Road station and the area around it needs improving to make it a better place to live, work, visit and run a business.</p>
<p>The station is one of the most congested on the Tube network and is used by approximately 150,000 people a day which is expected to exceed 200,000 a day when Crossrail opens in 2017.</p>
<p>To enable the major redevelopment of the station, a number of properties need to be compulsorily purchased and demolished. </p>
<p>Property Acquisition Notices were issued in October 2008 and will come into effect on 19 January 2009 when the properties will transfer to Crossrail. </p>
<p>Work will then begin immediately to prepare the buildings for demolition. </p>
<h2>Managing diversions</h2>
<p>This will take place in the spring when visible demolition work begins, floor by floor. </p>
<p>Taking just over a year to complete, the demolitions are scheduled to finish in mid-2010.</p>
<p>On 10 January 2009, a number of local bus services will be re-routed for up to seven years to allow the redevelopment of Tottenham Court Road station to take place. </p>
<p>TfL has been working with the London Borough of Camden and Westminster City Council on the best way of managing the diversions. </p>
<h2>Preparatory works</h2>
<p>London Buses last month issued details to the media about changes to affected bus routes outlined at the Tottenham Court Road public exhibition in the summer, meetings with key stakeholders and a public consultation.&nbsp; </p>
<p>Richard Parry, LU Director of Strategy and Service Development, said: 'While the entire Crossrail project will be the biggest construction project in Europe, no one should underestimate the scale and extent of the work that will take place at Tottenham Court Road. </p>
<p>'This will be one of the biggest station redevelopment projects ever undertaken in central London.</p>
<p>'By 2017, Tottenham Court Road station will be one of the most important stations in the West End serving both London Underground and Crossrail. Starting in January, preparatory works will get underway to enable construction to start in autumn 2009. </p>
<h2>Utility diversions</h2>
<p>'The expanded Tube station will be integrated with the new Crossrail station to form a major interchange.'</p>
<p>To deliver a bigger station, the space under the road and the pavement where the current ticket hall is located needs to be enlarged - but is full of sewers and pipes carrying electricity, telecommunications and water. </p>
<p>London Underground is continuing with a programme of utility diversions and other preliminary works into 2009.</p>
<p>New station entrances will be built at Dean Street for additional access to Crossrail, at the corner of Oxford Street, and on a new piazza outside Centre Point. </p>
<h2>Spacious</h2>
<p>Once the redevelopment of the station is complete, the existing cramped station entrances will be replaced with new, more spacious openings to accommodate the hundreds of thousands of passengers who will enter and exit the station each day.</p>
<p>As the project continues there will be two main construction sites. One will be at Charing Cross Road split between Centre Point and across the road from the current station. </p>
<p>The second site is on Dean Street where one of the new Crossrail entrances and ticket halls will be located. This work site will commence from late 2009. </p>
<p>As works begin at the Charing Cross Road site some pavements and roads will be closed or narrowed with temporary pedestrian routes around the perimeter of the site where needed. </p>
<h2>Avoid congestion</h2>
<p>During the construction phase, TfL and Crossrail will be working to minimise disruption and any impact on residents and businesses. </p>
<p>This includes keeping the station open as much as possible, as well as maintaining bus services, roads and pedestrian routes to and from the area. </p>
<p>All construction traffic will have to use the same routes to avoid causing congestion in an already busy part of central London. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Further information about the changes to bus routes at Tottenham Court Road is contained in a separate <a href="http://www.tfl.gov.uk/corporate/media/newscentre/10874.aspx">press notice </a>issued by London Buses last month and is Main construction works for Crossrail along the route are due to begin in 2010. Crossrail will run 118km from Maidenhead and Heathrow in the west, through new twin-bore 21km tunnels under central London connecting key stations including Paddington, Bond Street, Tottenham Court Road, Farringdon, Liverpool Street, Whitechapel and Isle of Dogs and on to Abbey Wood and Shenfield in the east </li>
<li>When complete, the railway will operate 24 trains per hour in each direction through central London during peak times. This will provide substantial new passenger capacity and crowding relief, particularly on the Central and Piccadilly lines </li>
<li>As Europe's largest construction project, the delivery of Crossrail will provide a boost of at least &pound;20bn to the UK economy as well as generating an extra 30,000 jobs. It will also help secure London's position as a world leading financial centre by delivery a 10 per cent increase to the Capital's rail capacity when it opens in 2017 </li>
<li>Before demolition starts, archaeologists from the Museum of London will assess and appraise the buildings in accordance with guidance from English Heritage. This will provide a record of the area for future generations </li>
<li>Separately, Crossrail has today announced that DHL, one of the world's leading logistics service providers, will shortly begin work on logistics study to minimise the impact of Crossrail's construction on central London when main construction begin at other locations in 2010. The study will determine the most efficient way for materials and equipment to be delivered to key central London construction sites while also ensuring smooth traffic flows </li>
<li>The work will also include plans for a logistics 'control tower' that will coordinate supply movements and consolidation centres where construction materials are delivered in bulk prior to being delivered to construction sites as and when needed. The logistics study by Crossrail is consistent with TfL's London Freight Plan which aims to deliver a step-change improvement in how freight is delivered around London including the delivery of construction materials to construction sites along the route </li>
<li>Further information about the DHL construction logistics study is contained in a separate press notice issued by the Crossrail Press Office, Tel: 020 3023 9508<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "It's all change at Tottenham Court Road from this weekend as preparations get underway for the massive redevelopment of the Tube station and the building of Crossrail. From Saturday 10 January, buses will start diversions around the area as preparations";}
        
        


 