


@{ViewBag.Title = "Beat the winter blues with free led walks around London this weekend";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Beat the winter blues with free led walks around London this weekend</h1>
        <div class="content-page-press-release">
        27 January 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This weekend, Saturday 31 January and Sunday 1 February, Londoners are invited to head out and explore the Capital on foot by joining in one of 40 free 'Winter Wanders', taking place across the 350 mile long Strategic Walk Network.
        
    </div>



 <div class="on-this-page">
<p>Organised by Walk London and funded by Transport for London (TfL), the Winter Wanders walking weekend is all about encouraging people to get out and explore the Capital's six major walking networks These are:</p>
<ul>
<li>The London LOOP</li>
<li>The Capital Ring</li>
<li>The Jubilee Walkway</li>
<li>The Thames Path</li>
<li>The Lee Valley Walk</li>
<li>The South East Green Chain</li></ul>
<p>There is something for everyone - from the urban ambles of central London to the suburban strides and rural roams of the outer London boroughs.</p>
<p>The walks all start and finish at public transport stops and connect some of London's best attractions, parks and open spaces; several follow the Capital's rivers.</p>
<h2>Take a weekend wander</h2>
<p>The Mayor of London, Boris Johnson, said: 'There have been occasions over the course of this winter when I have been gobsmacked to hear people say they have spent the weekend huddled in front of their fires, eyes glued to the latest soaps or talent contests, when they could be striding around our city agog at the beauty of our world class parks and attractions.</p>
<p>'Any Londoner wondering what to do next weekend should put their best foot forward, crunch through the frost and take part in a Winter Wander.'</p>
<h2>Explore London</h2>
<p>Peter McBride, Head of Cycling, Walking and Accessibility at TfL said: 'This weekend is designed to inspire people to get out and discover the joy of walking in London - from its riverside paths and green spaces to its world-famous sights and attractions.</p>
<p>'Once the weekend is over we hope even more people will realise that walking is a quick, healthy and enjoyable way to get around the Capital, whether&nbsp; for trips to work, the&nbsp; shops , school or&nbsp; leisure.'</p>
<p>Jim Walker, Chair of Walk London, said: 'Winter Wanders celebrates the joy of London by foot. It's not too late to to make walking your new year resolution.</p>
<p>'Vist <a title="Walk London" href="http://www.walklondon.org.uk/">Walk London</a> to take your pick of 40 free led walks around London to inspire you to get started.'</p>
<h2>Freebies</h2>
<p>A free colour guide will be handed out on all the led walks taking place over the weekend, along with a pin badge of the route logo.</p>
<p>The first person on each walk bringing along more than four companions will also receive a free Walk London T-shirt.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul type="circle">
<li>Winter Wanders covers 24 sections of the London LOOP, known as the 'M25' for walkers (The London Outer Orbital Path, which encircles the Capital -&nbsp;passing through London's rural fringe - over a distance of 150 miles); 15 sections of the inner orbital Capital Ring (75 miles); the South East Green Chain (40 miles), which this weekend will take in the very rarely accessible Severndroog Castle, which coasts&nbsp;views to the North Sea on a clear day; as well as the Lee Valley area (13 miles), the London section of the Thames Path (67 miles) and the Jubilee Walkway (15 miles) </li>
<li>Each route has sectional free colour leafets, available to download from <a title="Walk London" href="http://www.walklondon.org.uk/">Walk London</a>, by emailing <a href="mailto:info&#64;walklondon.org.uk">info&#64;walklondon.org.uk</a> or calling 0870 240 6094. They are also available on audio, to download on mp3 or mobile phones </li>
<li>Walk London is a cross-borough partnership led by the City of London and managed on its behalf by The Access Company, funded by TfL. It works in partnership with all the London boroughs to make walking a pleasure with the provision of a network of quality routes throughout the Capital - the Strategic Walk Networks - which covers 362 miles in all </li>
<li>Guided walking weekends are also planned for the last weekends in May and September 2009 </li>
<li>Just over three in ten trips in London are made by foot<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Organised by Walk London and funded by Transport for London (TfL), the Winter Wanders walking weekend is all about encouraging people to get out and explore the Capital's six major walking networks These are:The London LOOPThe Capital RingThe Jubilee";}
        
        


 