


@{ViewBag.Title = "Construction begins on East London Transit";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Construction begins on East London Transit</h1>
        <div class="content-page-press-release">
        02 January 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Work begins in Barking Town Centre on 5 January 2009, as &pound;18.5m funding is confirmed to extend the route via Barking Riverside Development to Dagenham Dock.
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) has confirmed that construction of the first section of the East London Transit will begin in Barking Town Centre on 5 January 2009. </p>
<p>The high capacity bus system will run from Ilford to Dagenham Dock via Barking Town Centre.</p>
<p>It will boost services for local residents as well as help support the regeneration of east London, particularly in its encouragement of housing development.</p>
<h2>Extra funds - extra services</h2>
<p>Construction begins just weeks after TfL received confirmation of an additional &pound;18.5m of funding, which will extend the scheme by linking the Barking Riverside Development to Barking Town Centre and Dagenham Dock.</p>
<p>The extra funds provided by the Department for Communities and Local Government (DCLG) and the Department for Transport mean that both planned phases of the East London Transit are now fully funded.</p>
<h2>A dramatic improvement</h2>
<p>The Mayor of London, Boris Johnson, said: 'A huge amount of money has been earmarked to improve transport links in east London and the extra dosh the Government has said we can use to extend the East London Transit is fabulous news for people living or working in the area.</p>
<p>'It will be key to opening up the area to new housing and business developments.</p>
<p>'Transport for London's engineers are all ready to get cracking on a scheme that will dramatically improve services for thousands of local people.'</p>
<h2>Local benefits</h2>
<p>Margaret Beckett, Minister for the Thames Gateway, said: 'This scheme will help to open up Barking Riverside, providing the easier and quicker connections that can cut out so much of the frustration and delay that businesses suffer, and making jobs and services more accessible to local residents.</p>
<p>'This investment is the largest of eleven major projects coming to fruition over the coming months in the Thames Gateway through the Community Infrastructure Fund, and demonstrates how central government and local stakeholders can identify and fund high priority local transport schemes across the Thames Gateway.&nbsp;&nbsp; </p>
<p>Rob Whiteman, Chief Executive of Barking &amp; Dagenham Council said: 'The East London Transit will be a huge boost for the transport needs of residents in Barking and Dagenham, and will support regeneration in areas such as the early stages of the Barking Riverside Development whilst providing additional transport capacity to help residents move around East London.'</p>
<p><a title="East London Transit" href="/corporate/projectsandschemes/2123.aspx">Find out more about the East London Transit</a>.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul type="circle">
<li>Maps and graphics of the East London Transit are available on request </li>
<li>Transport for London has appointed Skanska Infrastructure Services as contractor to deliver the first phase of the East London Transit </li>
<li>The East London Transit will make travel easier by providing additional connections to London Underground, Docklands Light Railway, National Rail stations, other local bus services and in the future, Crossrail.&nbsp;It will provide the necessary transport infrastructure for the new residents of the Barking Riverside development, as well as improving connections between Ilford and Barking town centres for current residents in the area. Ten buses per hour are expected to carry up to 6.2 million passengers in ELT's first year of operation </li>
<li>#This transit scheme will use state of the art high quality environmentally-friendly double decker vehicles which will operate on a mixture of segregated and combined bus lanes.&nbsp;Local residents will also see improvements to the appearance of the roads along the route including new trees and paving, new bus shelters offering passengers well-lit waiting areas with service information and greater accessibility </li>
<li>TfL has also recently submitted planning proposals for the Greenwich Waterfront Transit, TfL's other transit scheme in the Thames Gateway area, to the London Boroughs of Greenwich and Bexley for public consultation </li>
<li>You can&nbsp;<a title="Greenwich Waterfront Transit ">find out about the Greenwich Waterfront Transit </a>online,&nbsp;or in public libraries and other community centres across Greenwich and Bexley </li>
<li>Both transit services will be operational by 2012 and will play an important role during the London 2012 Olympics Games and Paralympic Games </li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has confirmed that construction of the first section of the East London Transit will begin in Barking Town Centre on 5 January 2009. The high capacity bus system will run from Ilford to Dagenham Dock via Barking Town Centre.It";}
        
        


 