


@{ViewBag.Title = "London Buses seeks your views on proposed changes to route 398 and new route 395 ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Buses seeks your views on proposed changes to route 398 and new route 395 </h1>
        <div class="content-page-press-release">
        12 January 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Buses is seeking the views of Harrow, Hillingdon and Ealing residents and bus users on proposals to alter route 398 and introduce a new route, the 395, to the local area.
        
    </div>



 <div class="on-this-page">
<p>It is proposed that existing route 398 be split into two separate services. </p>
<p>The revised route 398 would run from Ruislip to the Wood End Estate in Northolt, providing the estate with a bus service for the first time. </p>
<p>New route 395 would run from Harrow-on-the-Hill to Westway Cross Retail Park, providing more buses for passengers along the busiest stretch of existing route 398 between South Harrow and Westway Cross Retail Park.</p>
<p>Route 398 would continue along its current route between Ruislip station and Northolt Park station.&nbsp; </p>
<h2>New links</h2>
<p>From there, it would divert to serve the Wood End Estate where it would terminate, instead of continuing to Westway Cross Retail Park.&nbsp; </p>
<p>Links to Westway Cross Retail Park will be maintained by new route 395, which will operate between the retail park and Harrow-on-the-Hill via Northolt Park and South Harrow stations. </p>
<p>Passengers would be able to interchange between the two routes at common stops along Northolt Road, South Harrow.</p>
<p>The changes to route 398 would give Wood End residents a connection to the National Rail network at Northolt Park station, the Piccadilly line and other bus services.&nbsp; </p>
<h2>Reliable service</h2>
<p>It would also provide bus links between Wood End, South Harrow town centre and the new polyclinic planned for Alexandra Avenue.</p>
<p>Buses on this route would run half hourly on Monday to Saturday 06:30 and 19:00.&nbsp;There would be no evening or Sunday service.</p>
<p>New route 395 would provide passengers between South Harrow and Westway Cross Retail Park with an evening and Sunday service for the first time and would also create new links between Castle Road, the Racecourse Estate and Harrow.&nbsp; </p>
<p>Buses on route 395 would run every 20 minutes on Monday to Saturday daytimes, and half hourly in the evenings and on Sundays.</p>
<h2>Consultation</h2>
<p>Peter Bradley, Head of Stakeholder Engagement, said: 'We believe the proposed changes to route 398 and the introduction of route 395 would greatly improve transport links in the local area and provide a more reliable bus service for passengers.&nbsp; </p>
<p>'I look forward to hearing the opinions of the local residents and public transport users.'<br>&nbsp;<br>The consultation opens on Monday 19 January 2009. Information on the proposals will be available on the TfL website from that date.&nbsp; </p>
<p>The consultation closes on Friday 20 March.&nbsp;Information leaflets on the proposals will be available in the Wood End Library and Community Centre and in other local libraries during the consultation period.</p>
<p>Those who wish to respond to the consultation can do so via the <a href="http://www.tfl.gov.uk/busrouteconsultation">TfL website</a>, by using the pre-paid reply slip on the consultation leaflet or by contacting London Buses Customer Services on 0845 300 7000.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Route 398 currently runs between Ruislip and Westway Cross Retail Park, near Greenford station.&nbsp;Under the proposals it would divert at Northolt Park station and terminate in the Wood End estate </li>
<li>Services on route 398 would run every half hour from 06:30 to 19:00, Monday to Saturday.&nbsp;There will be no evening or Sunday service </li>
<li>New route 395 would run every 20 minutes, Monday to Saturday daytimes and every half hour in the evenings and on Sundays </li>
<li>Neither route would serve Eastcote Lane in Northolt. Route E10 will continue to run along Islip Manor Road and Eastcote Lane </li>
<li>London Buses Customer Services can be contacted by: </li>
<ul type="circle">
<li>Telephone on 0845 300 7000 </li>
<li>Email at <a href="mailto:customerservices&#64;tfl-buses.co.uk">customerservices&#64;tfl-buses.co.uk</a> </li>
<li>Post at London Buses Customer Services, 4th floor, Palestra, 197 Blackfriars Road, London SE1 8NJ</li></ul></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "It is proposed that existing route 398 be split into two separate services. The revised route 398 would run from Ruislip to the Wood End Estate in Northolt, providing the estate with a bus service for the first time. New route 395 would run from";}
        
        


 