


@{ViewBag.Title = "Mayor unveils DLR Woolwich Arsenal station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor unveils DLR Woolwich Arsenal station</h1>
        <div class="content-page-press-release">
        12 January 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New link vital to community and 2012 Olympics delivered ahead of schedule and well within budget.
        
    </div>



 <div class="on-this-page">
<p>The Mayor of London, Boris Johnson, today officially opened a &pound;180m extension of the Docklands Light Railway (DLR) to Woolwich Arsenal, which delivers another vital north-south link across the Capital.</p> <p>The extension has opened seven weeks ahead of schedule linking King George V station on the north of the river with a brand new station at Woolwich Arsenal in the south.&nbsp;It has been funded by Transport for London's (TfL) multi-billion pound Investment Programme.</p> <p>Boris Johnson, the Mayor of London, said: 'I am absolutely delighted that this extension of the DLR with its cracking new station is up and running and puts Woolwich Arsenal firmly on the Tube map. </p> <h2>Regeneration</h2> <p>'Woolwich has long lacked the transport links that encourage the creation of new jobs, homes and shops; and this is exactly the sort of project that will help kick the credit crunch where it hurts.&nbsp;</p> <p>'The extension will also play an important role in the Olympic transport network.&nbsp;People in this part of London will now be just a 24-minute hop, skip and a jump away from the Olympic site.'</p> <p>Key benefits of the completed extension include:</p> <ul> <li>Improved transport links, connecting Woolwich to London City Airport in six minutes, Canary Wharf in 20 minutes, Stratford in 23 minutes and Bank in 28 minutes.&nbsp; In the peak period, trains will leave every six to seven minutes  </li><li>Assistance with the ongoing regeneration of Woolwich and the southern Royal Docks by supporting the creation of new jobs, homes, shops and leisure facilities along the route  </li><li>Better access to employment, education and leisure facilities for the communities of Woolwich, Silvertown and North Woolwich  </li><li>Direct interchange with overground services at Woolwich Arsenal mainline station  </li><li>Bus, taxi and riverboat services all within walking distance</li></ul> <p>London's Transport Commissioner Peter Hendy said: 'The Mayor and Transport for London (TfL) are investing billions to improve transport in London and this is a great example of that.&nbsp;</p> <p>'This extension delivers a fully accessible step-free station and another much needed north-south transport link for this under served area of London.'</p> <p>Ian Brown, TfL Managing Director London Rail, said: 'The DLR's most recent extensions to London City Airport and Lewisham were also both completed ahead of schedule and on budget and I am absolutely delighted to see this impressive track record continue.&nbsp;</p> <p>'This extension and new station will further enhance the DLR's reputation as the 'regeneration railway'. </p> <h2>On budget</h2> <p>'Our next task is to deliver a 50 per cent&nbsp;increase in capacity across the DLR network by 2010, through the addition of 55 new carriages and extending platforms.&nbsp;This also now includes the line to Beckton.'</p> <p>Hugh Sumner, Transport Director for the Olympic Delivery Authority, said: 'With 500,000 people using the DLR on each day of the first week of the Olympic Games, the DLR will be critical to our plans and the &pound;80m we are investing in future permanent improvements to the DLR network will help us deliver world-class transport for London 2012.&nbsp; </p> <p>'Woolwich Arsenal DLR station will play a key role in getting spectators from the southeast of London to the Olympic Park and other venues so I congratulate TfL for their delivery of this essential project.'</p> <p>As with the rest of the DLR network, Woolwich Arsenal station includes step-free access to platforms and trains. It has two entrances, at Greens End and Woolwich New Road. Greens End offers direct access to Powis Street, while Woolwich New Road offers easy interchange with local bus services. The station is fully-integrated with existing Woolwich Arsenal National Rail services. </p> <h2>Better access</h2> <p>The extension will play a vital role during the London 2012 Olympic and Paralympic Games as it will serve the Royal Artillery Barracks in Woolwich, which will hold the shooting events, and provide an important transport link and access from Woolwich and southeast London to the Olympic Park and other venues.<br>ends.</p> <p> <hr>  <p> <p><strong>Notes to editors:</strong></p> <ul> <li>DLR is part of TfL  </li><li>The tunnel runs at depths of up to 35metres under the River Thames  </li><li>The extension was originally set to open on 28 February 2009  </li><li>The tunnel boring machine used to help build the extension removed more than 100,000 cubic metres of material, enough to fill 40 Olympic-sized swimming pools. The material was transported via Thames' freight river barges, thus reducing the impact on London's roads</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Boris Johnson, today officially opened a &pound;180m extension of the Docklands Light Railway (DLR) to Woolwich Arsenal, which delivers another vital north-south link across the Capital. The extension has opened seven weeks ahead of";}
        
        


 