


@{ViewBag.Title = "Mayor agrees extra &pound;10m TfL funding for Exhibition Road project ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor agrees extra &pound;10m TfL funding for Exhibition Road project </h1>
        <div class="content-page-press-release">
        16 January 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Project will deliver much-needed improvements in the heart of London's museum quarter.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The project will transform Exhibition Road into one of the most important public spaces in London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Cllr Merrick Cockell</div>
            <div class="quotee-job-title">Royal Borough of Kensington and Chelsea</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The project will transform Exhibition Road into one of the most important public spaces in London
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London, Boris Johnson, announced today that he has asked Transport for London (TfL) to contribute an additional &pound;10m to the costs of the improvements being planned to Exhibition Road. TfL has already committed &pound;3.3m to the project.&nbsp; </p>
<p>The Mayor of London, the Royal Borough of Kensington and Chelsea, and Westminster City Council have been working jointly on proposals to improve the environment around the world-class museums and institutions in the Exhibition Road area for a number of years. </p>
<p>The Exhibition Road shared space scheme is intended to transform one of London's key visitor attractions into a user-friendly space fit for the new century. </p>
<h2>Much-needed improvements</h2>
<p>TfL's &pound;10m contribution will enable work to start on the scheme with a view to completion by the end of 2011 - well in time for the 2012 Olympic Games and Paralympic Games - which has been strongly welcomed by both the Royal Borough of Kensington and Chelsea and Westminster City Council.</p>
<p>Mayor of London, Boris Johnson, said: 'I have asked TfL to make an additional, very significant contribution of &pound;10m towards the costs of developing Exhibition Road, which will enable this important project to get underway early. </p>
<p>'The Exhibition Road area is home to some of Britain's most important museums and institutions vital to the heritage of London and the UK. </p>
<p>'This funding not only allows much-needed improvements to get underway, but also helps to support the exciting new approach being taken that will make the idea of shared space a key principle in transforming the street into a space that all Londoners and visitors can access and enjoy.' </p>
<h2>Important public space</h2>
<p>Cllr Merrick Cockell, Leader of the Royal Borough of Kensington and Chelsea, said: 'We are thrilled that the Mayor has made such generous support available for the Exhibition Road Project.&nbsp; </p>
<p>'The project will transform Exhibition Road into one of the most important public spaces in London and a major new cultural venue for the 2012 Olympics.&nbsp; </p>
<p>'Works around South Kensington Tube station have already started and by getting rid of the 1960's gyratory we will radically improve the local environment for the benefit of residents and visitors alike. </p>
<p>The Mayor's latest contribution will turn the wider scheme, designed by the architects Dixon Jones, from an aspiration into a real possibility.' </p>
<h2>Iconic gateway</h2>
<p>Cllr Colin Barrow, Leader of Westminster Council, said:&nbsp;'Exhibition Road is an iconic gateway to some of London's finest museums and the renewal of this area in time for the 2012 Olympics will be a huge boost to London's cultural offer for residents and visitors alike. </p>
<p>'We are fully committed in playing our part in delivering the best possible scheme. </p>
<p>'We are already investing in major improvements to the West End and Exhibition Road will complement this work perfectly.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editor: </strong></p>
<ul>
<li>TfL will contribute an additional &pound;10m to enable the Exhibition Road scheme to get underway. No further TfL funding will be made available. The Royal Borough of Kensington and Chelsea, Westminster City Council and Transport for London will now finalise details about the cost and design of this project. Both boroughs will be responsible for providing the necessary funding over and above TfL's &pound;13.3 m contribution </li>
<li>Exhibition Road is predominantly located in the Royal Borough of Kensington and Chelsea with a section in the Westminster City Council area. The road runs north from outside South Kensington Tube station past the Natural History Museum, the V&amp;A and Science Museum to Hyde Park and the area bordered by the Royal Geographical Society and the Royal Albert Hall.&nbsp;The junction of Exhibition Road and Cromwell Road is the responsibility of TfL </li>
<li>Media should direct all enquiries about the Exhibition Road scheme to either the Royal Borough of Kensington and Chelsea or Westminster City Council. If the query is specifically about TfL's funding of this scheme please contact the TfL Press Office</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Boris Johnson, announced today that he has asked Transport for London (TfL) to contribute an additional &pound;10m to the costs of the improvements being planned to Exhibition Road. TfL has already committed &pound;3.3m to the";}
        
        


 