


@{ViewBag.Title = "Mayor strengthens Transport for London Board   ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor strengthens Transport for London Board   </h1>
        <div class="content-page-press-release">
        20 January 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the press office at the Greater London Authority.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"There is a massive agenda of transport improvements to deliver in London over the next decade"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            There is a massive agenda of transport improvements to deliver in London over the next decade 
                            
                        </p>
                    </div>
                
            
            
            <p>Mayor of London, Boris Johnson, has today announced several changes to the Transport for London (TfL) Board, strengthening it further to help deliver a huge programme of transport improvements in the capital.&nbsp;</p>
<p>Daniel Moylan will be joining Christopher Garnett as a Deputy Chair of TfL.&nbsp; </p>
<p>Claudia Arney joins the TfL Board and current Board Member Peter Anderson has been appointed Chair of the Finance Committee. </p>
<p>Mayor of London and Chair of TfL, Boris Johnson, said: 'It will be a great benefit to London to have two such capable people in Daniel Moylan and Christopher Garnett as Deputy Chairs to work with Peter Hendy and I to deliver the transport improvements vital to the London and UK economy.&nbsp; </p>
<h2>Achievement</h2>
<p>'Daniel has a wealth of experience in improving transport provision across London's boroughs and Christopher has vast experience both of the railways and huge infrastructure projects.<br>&nbsp; <br>'I'm also delighted to welcome Claudia Arney to the TfL Board who brings an excellent record of achievement from business and government. </p>
<p>'Peter Anderson's background makes him ideal to Chair the Finance Committee as part of our focus on ensuring value for London's fare and taxpayers. </p>
<p>'There is a massive agenda of transport improvements to deliver in London over the next decade and the support and guidance of people of this calibre will be invaluable in helping deliver this on time and in a way that ensures value for money.'</p>
<p>
<hr>
<br><strong>Notes to editors: </strong>
<p>
<ul>
<li>Daniel Moylan was appointed to the TfL Board in August 2008.&nbsp;He has been a Conservative councillor in the Royal Borough of Kensington and Chelsea since 1990 and has been Deputy Leader since 2000. He has chaired the London Councils Transport and Environment Commitee since 2006 and has served on the committee since 2000 </li>
<li>Christopher Garnett was appointed to the TfL Board in 2007 and has been Deputy Chair since September 2008. He is a member of the Board of the Olympic Delivery Authority and was, until August 2006, the Chief Executive of Great North Eastern Railway (GNER) and also Senior Vice President of the Rail Division of Sea Containers, GNER's parent company </li>
<li>Claudia Arney is currently Managing Director, Digital at Emap Inform, part of Emap, a business-to-business media group and the UK's leading trade exhibition organiser. Claudia was Director of the Enterprise and Growth Unit at HM Treasury from 2006 to 2008 where she was responsible for many of the policy issues which affect business including competition, regulation and productivity. She was also responsible for HM Treasury policy on Public Private Partnerships and Private Finance Initiatives. Claudia has previously worked at Goldman Sachs as an Executive Director in the Equities and Research divisions. Claudia is also a Non-Executive Director of Partnerships UK, a body which provides advice and support on public sector projects </li>
<li>Peter Anderson was appointed to the TfL Board in June 2008 and was previously special adviser to the Board from 2007. He is the Managing Director of Finance at Canary Wharf Group plc</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Mayor of London, Boris Johnson, has today announced several changes to the Transport for London (TfL) Board, strengthening it further to help deliver a huge programme of transport improvements in the capital.&nbsp;Daniel Moylan will be joining Christopher";}
        
        


 