


@{ViewBag.Title = "New Tube maps to make life easier for thousands of Londoners";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New Tube maps to make life easier for thousands of Londoners</h1>
        <div class="content-page-press-release">
        26 January 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Designs show toilet facilities and give new information on step-free use
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These new maps are designed to make life easier for a wide range of Londoners and visitors"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These new maps are designed to make life easier for a wide range of Londoners and visitors
                            
                        </p>
                    </div>
                
            
            
            <p>Knowing where you can get on a Tube train without having to negotiate stairs or which stations have a toilet, can be vital for thousands of Londoners and visitors.&nbsp; </p>
<p>To make life easier for pregnant, elderly, or disabled passengers the Mayor and London Underground (LU) are launching two new Tube maps - a Tube Toilet map, and a new Step-free Tube Guide.&nbsp; </p>
<p>The Tube Toilet map shows which stations have male, female and accessible toilets for wheelchair users, whether they are inside or outside the ticket gates, and whether they have baby changing facilities. </p>
<p>The Step-free Tube Guide gives information about the step and gap between the train and platform at step-free stations, and gives information about the stations where you can change between lines without encountering steps or escalators.&nbsp; </p>

<p>This guide will also help passengers with heavy luggage or those with children's buggies.</p>
<p>Mayor of London, Boris Johnson, said:&nbsp;'These new maps are designed to make life easier for a wide range of Londoners and visitors and will bring real benefits to those for whom stairs are an obstacle, and those who value knowing where they can access toilet facilities.</p>
<p>'This new level of detail will be particularly useful for many disabled Londoners, who will now be able to gauge whether they will be able to access trains independently or whether they may need some assistance. </p>

<p>'This will improve confidence in our system and mean that more people can use the transport network that so many of us take for granted.'</p>

<p>Whereas under the old system there were just wheelchair symbols denoting step-free access stations, the new guide has a number of features to help passengers including:</p>
<ul>
<li>Green, amber or red symbols on step-free access stations showing the height of the step between the platform and the train, coupled with a coloured ruler on the side of the map so that people can visualise how high the step is</li>
<li>Information about the width of the gap between platform and train and there are also different symbols to show stations which are step-free when changing between lines, but where it is not possible to get in or out of the station without using stairs or an escalator</li></ul>

<p>Wayne Trevor, London Underground's Accessibility and Inclusion Manager, said:&nbsp; 'This information is vital for many mobility impaired people, including wheelchair users, so they can decide the best route to take.</p>

<p>'It will also be useful for many older people, people with temporary injuries, and those travelling with buggies or lots of luggage.&nbsp; </p>

<p>'We worked with disabled people on developing the Step-free Tube Guide, to make sure that it would meet their needs.'</p>
<p>Actress and wheelchair user Athena Stevens, formerly on the Independent Disability Advisory Group and now Managing Director of Aegis Consultancy, said:&nbsp;'The old guide caused a lot of confusion.</p>

<p>'What we all wanted to achieve was a simple, honest, straightforward guide to how the system is now. In doing this, we have put the decision and independence about journeys exactly where it should be - in the hands of the individual.'</p>
<p>Currently London Underground has 54 step-free stations and 25 per cent of stations will be step-free by 2010. Other accessibility information products that TfL produces includes a Guide to Accessibility for all&nbsp; London's public transport: the Tube; buses; Docklands Light Railway (DLR); London Overground; trams; London river boats; Dial-a-Ride, taxis and private hire; Large print and audio Tube maps that&nbsp;can be ordered by calling 020 7222 1234, or using the new online ordering form at tfl.gov.uk/accessguides</p>

<p>
<hr>
</p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>For those who have access to a computer, LU launched an interactive service with Direct Inquiries in 2007 on <a href="http://www.directenquiries.com/">http://www.directenquiries.com/</a> where visitors can search for accessible routes through each Underground station, prioritising their search for individual needs. The access details include the number of steps, lifts, escalators, walking distances and ramps. Passengers can also search each station for information about car parking, toilets and services for visually impaired people, induction loops and other access facilities</li>
<li>LU is undertaking a major programme of renewal as part of Transport for London's Investment Programme. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future.&nbsp; TfL is urging all Londoners and Tube, London Overground and DLR passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> </li>
<li>Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines</li>
<li>Metronet Rail BCV and Metronet Rail SSL exited PPP Administration on 27 May 2008 and have now transferred to TfL control, while the long-term structure of the companies is agreed by the Mayor and Government</li>
<li>Metronet Rail BCV is responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo &amp; City</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Knowing where you can get on a Tube train without having to negotiate stairs or which stations have a toilet, can be vital for thousands of Londoners and visitors.&nbsp; To make life easier for pregnant, elderly, or disabled passengers the Mayor and";}
        
        


 