


@{ViewBag.Title = "New bus route for west London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New bus route for west London</h1>
        <div class="content-page-press-release">
        13 January 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) will introduce a new bus route between Central Middlesex Hospital and Maida Hill on Saturday 17 January 2009.
        
    </div>



 <div class="on-this-page">
<p>Route 228 will run via Harlesden, Shepherd's Bush and Holland Park and will improve access to the White City Estate, Central Middlesex Hospital and Park Royal Industrial Estate.</p>
<p>It will call at the newly opened bus station in White City where it will provide a convenient link for shoppers at the Westfield centre. </p>
<p>Single-deck buses will operate on route 228, running about every 12 minutes during the day and every 20 minutes during the evenings and on Sundays.</p>
<p><strong>
<hr>
</strong></p>

<p><strong>Notes to editors:</strong></p>
<ul>
<li>Route 228 will run between Park Royal (Central Middlesex Hospital) and Maida Hill (Chippenham Road) via Acton Lane, Station &nbsp;Road, Old Oak Lane, Old Oak Common Lane, Old Oak Road, Uxbridge Road, Bloemfontein Road, South Africa Road, Wood Lane, &nbsp;Ariel Way, White City Bus Station, Ariel Way, White City Link Road, Shepherds Bush Interchange, Uxbridge Road, Holland Park &nbsp;Roundabout, Holland Park Avenue, Ladbroke Grove, Canal Way, Ladbroke Grove, Harrow Road and Elgin Avenue</li>
<li>Route 228 will be operated by First London</li>
<li>TfL opened White City Bus Station on 29 November 2008</li>
<li>A photo of the new single-deck buses running on the route is available from the TfL Press Office (contact details below)<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Route 228 will run via Harlesden, Shepherd's Bush and Holland Park and will improve access to the White City Estate, Central Middlesex Hospital and Park Royal Industrial Estate.It will call at the newly opened bus station in White City where it will";}
        
        


 