


@{ViewBag.Title = "Stronger measures to deter fare evasion";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Stronger measures to deter fare evasion</h1>
        <div class="content-page-press-release">
        10 January 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From Sunday 11 January a new &pound;50 penalty for fare evasion comes into effect.
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) is strengthening its measures to combat fare evasion, which costs Londoners millions of pounds a year and is an issue the Mayor is determined to tackle.&nbsp; </p>
<p>On Sunday 11 January TfL's penalty fare for non payment on its Bus, Tube, DLR and London Overground services will increase to &pound;50 from the current level of &pound;20.</p>
<p>The increase in penalty fare aims to deter more people from failing to pay for their journey.</p>
<p>After a public consultation the Penalty Fare on Tramlink will also rise to &pound;50, from the current level of &pound;30.</p>
<h2>Penalty increase</h2>
<p>An early payment incentive will also be introduced that reduces the &pound;50 penalty fare to &pound;25 if it is paid within 21 days.</p>
<p>If issued with a penalty fare on a bus, the facility to pay by debit or credit card on the spot will also now be available as well as online, phone, cheque and postal order payments. </p>
<p>The Mayor of London, Boris Johnson, said: 'Fare evasion costs Londoners &pound;70m a year, which is cash that belongs to all Londoners and that should rightfully be part of the record amount we are spending on improving our public transport.</p>
<p>'These changes to penalty fares will provide a far stronger deterrent to those unscrupulous individuals who would otherwise try to short-change their fellow passengers.'</p>
<h2>Combat fare evasion</h2>
<p>Steve Burton, Director of Community Safety, Enforcement and Policing, said: 'Fare evasion is low on our network but it still costs Londoners millions of pounds every year.</p>
<p>'This is unfair on our honest fare paying passengers so we are making the penalty fare more effective to reassure them that we are tackling this issue head on.</p>
<p>'The early payment reduction to &pound;25 and the more flexible payment methods introduced will encourage prompt payment.</p>
<p>'However, the simple way to avoid this penalty altogether is to make sure you pay the correct fare for your journey in the first place.'</p>
<p>
<hr>
<strong>Notes to editors:</strong> 
<p>
<ul>
<li>TfL, under The Transport for London Act 2008, has been granted powers to increase the penalty fare level to &pound;50 and also to introduce an early payment regime. The Act does not relate to the Tramlink penalty fare which is currently &pound;30. In order to bring that into line with the new penalty fare by January 2009, a consultation has taken place </li>
<li>Previously the penalty fare was &pound;20 (and &pound;30 on Tramlink) and the early payment reduction was only available for Tramlink </li>
<li>On the spot fines can be paid by debit/credit card on Buses, DLR and London Overground Services. This facility is not yet available on the Underground/Tramlink </li>
<li>A person suspected of deliberate or persistent fare evasion risks prosecution which can result in a criminal record and a fine of up to &pound;1,000 </li>
<li>Fare evasion on the transport network is a crime which costs Londoners approximately &pound;70m a year, money which could and should be used to further improve public transport </li>
<li>In addition to the penalty fare, other tools that TfL uses to detect and deter fare evaders include the deployment of more than 500 revenue officers throughout the TfL transport network on a daily basis </li>
<li>In 2007 TfL also launched a hard-hitting fare evasion advertising campaign to highlight the risks associated with travelling without having paid the correct fare and have introduced signs across the network to remind people to always ensure that they pay the correct fare for their journey at the start of their journey</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) is strengthening its measures to combat fare evasion, which costs Londoners millions of pounds a year and is an issue the Mayor is determined to tackle.&nbsp; On Sunday 11 January TfL's penalty fare for non payment on its Bus,";}
        
        


 