


@{ViewBag.Title = "Transport for London drives forward the motorcycle safety agenda ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London drives forward the motorcycle safety agenda </h1>
        <div class="content-page-press-release">
        29 January 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        As part of the continuing drive to improve the safety of motorcyclists in the Capital, Transport for London (TfL) is hosting a two-day summit of experts from four other major European cities.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We will share details of TfL's successful projects with our European partners"</div>
        <div class="quote-footer">
            <div class="quotee-name">Tom Duckham</div>
            <div class="quotee-job-title">TfL's Head of Motorcycling</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We will share details of TfL's successful projects with our European partners 
                            
                        </p>
                    </div>
                
            
            
            <p>The eSUM (European Safer Urban Motorcycling) Project, which is funded by the European Commission, brings together four major motorcycling cities; London, Paris, Barcelona and Rome.</p>
<p>The aim of the project is to identify the best ways of improving the safety of motorcyclists on city roads.</p>
<p>Other partners in the project include universities in Athens and Florence, motorcycle manufacturers BMW, Piaggio, and ACEM; the organisation that represents the motorcycle industry in Europe. </p>
<p>TfL is a major partner in the project, which is part of the European Commission's drive to halve the number of fatalities on EU roads from 54,000 to 27,000 between 2001 and 2010.</p>
<h2>Reduce casualties</h2>
<p>As part of the project, TfL will contribute to a tool kit that brings together the best schemes to reduce motorcyclist casualties from cities in Europe and across the globe. </p>
<p>Requests for details of successful projects have been sent to local authorities, police forces, rider groups, manufacturers and other stakeholders.</p>
<p>A simple questionnaire asks for details of effective initiatives across six key themes covering education and training, traffic management, police enforcement action, collision 'black-spot' treatments, improvements in motorcycle design and reducing risk in the streetscape.</p>
<p>Kulveer Ranger, the Mayor of London's Director of Transport Policy, said: 'Ensuring motorcyclists can use the Capital's roads safely is a key part of the Mayor's aim of reducing congestion and emissions on London's roads by encouraging greater numbers of people to take to two wheels.</p>
<h2>Improve safety</h2>
<p>'Gathering motorcycle experts together from the other major European cities provides an incredibly valuable opportunity to share our expertise.</p>
<p>'We are looking forward to discussing the Mayor's trial of motorcycles in bus lanes and finding out about the latest work to improve motorcycle safety on the continent.'</p>
<p>Tom Duckham, TfL's Head of Motorcycling, said:&nbsp;'Against a backdrop of increasing use of powered two-wheelers, the number of motorcyclists injured on London's roads has fallen steadily over the last few years. </p>
<p>'Through our work with the eSUM project we will share details of TfL's successful projects with our European partners and also learn from other's experience to guide our work on reducing the casualty toll on our roads.'</p>
<p>Results will be published on the eSUM website (<a class="external-site" title=" (Opens in new window) (Opens in new window)" href="http://www.esum.eu/" jquery1233220012117="6" jquery1233219508154="6">http://www.esum.eu/</a>) alongside examples of effective casualty-cutting actions for road safety practitioners across the EU to draw from.</p>
<p><br><a href="mailto:Motorcycle-projects&#64;tfl.gov.uk">Motorcycle-projects&#64;tfl.gov.uk</a>.</p>
<p>
<hr>
<strong>Notes to editors: 
<p>
<ul>
<li></li></ul></strong>A photo opportunity will be available with the Mayor of London's Director of Transport Policy, Kulveer Ranger, and delegates from eSUM outside City Hall at 12:30 on 29 January 
<li>The delegates will be using taxi motorbikes to travel around London, using TfL's Bus Lane Network, to view safety initiatives in the Capital<br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The eSUM (European Safer Urban Motorcycling) Project, which is funded by the European Commission, brings together four major motorcycling cities; London, Paris, Barcelona and Rome.The aim of the project is to identify the best ways of improving the safety";}
        
        


 