


@{ViewBag.Title = "Transport for London named by Stonewall as one of the UK's top five employers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London named by Stonewall as one of the UK's top five employers</h1>
        <div class="content-page-press-release">
        09 January 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) demonstrates continued improvement in Stonewall's annual equality rating.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are very proud to be recognised by as one of the one of the UK's top five employers."</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are very proud to be recognised by as one of the one of the UK's top five employers.
                            
                        </p>
                    </div>
                
            
            
            <p>Britain's leading gay and lesbian equalities organisation, Stonewall, has rated TfL fifth in the top 100 employers in the UK for lesbian, gay, bisexual and transgendered (LGBT) staff in their 2009 Workplace Equality Index.</p>
<p>Stonewall's annual Workplace Equality Index is the definitive national benchmark of Britain's top employers of LGBT staff, and ranks the top 100 employers according to criteria including implementation of effective equality policies and how lesbian and gay staff, customers and service users are engaged with.</p>
<p>This year, LGBT staff from over 317 organisations, up from 240 last year, from both the private and public sector were surveyed.</p>
<p>Transport for London's position in the 2009 ratings is up one from last year's ranking of sixth.</p>

<h2>Promoting equality</h2>
<p>This year, TfL has also been cited as an example of best practice for career development by ensuring that LGBT staff have equal access to personal and career development opportunities and allowing employees to request a gay mentor.</p>
<p>London's Transport Commissioner, Peter Hendy said: 'We are very proud to be recognised by as one of the one of the UK's top five employers.</p>
<p>'I'm extremely pleased that we have been able to improve on our Stonewall equality rating in a year when there was a major increase in the number of organisations being surveyed.</p>
<p>'This achievement acknowledges the importance TfL places on good employment practices and clearly demonstrates that TfL is at the forefront of championing equality and eliminating discrimination in the workplace.'</p>

<h2>Removing discrimination</h2>
<p>Deputy Mayor of London, Richard Barnes said: 'I would like to congratulate Transport for London on being ranked 5th in this year's Stonewall Workplace Equality Index, consistently improving their policy development, and organisational performance, since first entering the Workplace Index in 2005.</p>
<p>'This impressive top five result by TfL is in line with the Mayor's vision of promoting an 'equality gold standard' for London, as outlined in his recently published Equality Framework for London, 'Equal Life Chances for All'.'<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Britain's leading gay and lesbian equalities organisation, Stonewall, has rated TfL fifth in the top 100 employers in the UK for lesbian, gay, bisexual and transgendered (LGBT) staff in their 2009 Workplace Equality Index.Stonewall's annual Workplace";}
        
        


 