


@{ViewBag.Title = "Travel advice for London Overground and Bakerloo line customers ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Travel advice for London Overground and Bakerloo line customers </h1>
        <div class="content-page-press-release">
        07 January 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Replacement Euston to Watford services on London Overground and London Underground tonight.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are working hard to minimise disruption to our customers 
                            
                        </p>
                    </div>
                
            
            
            <p>London Overground services between Euston and Watford will stop running earlier tonight to allow Network Rail engineers onto the track to carry out repairs to overhead lines which came down and disrupted services yesterday.</p>
<p>The last London Overground train will depart from Euston to Watford at 20:37 (two-and-a-half hours earlier than normal), and the last train from Watford will leave at 21:01. </p>
<p>In its place there will be a limited shuttle service from Euston calling at all stations to Queen's Park every half hour from 20:47 until 23:47. </p>
<h2>Seek alternative routes</h2>
<p>From Queen's Park passengers can connect for limited Bakerloo line service. </p>
<p>The Bakerloo line will be suspended from Stonebridge Park to Harrow &amp; Wealdstone from 21:30hrs.</p>
<p>There will be a 30 minutes replacement bus service from Stonebridge Park to Watford Junction calling at all stations, and a 10-minute bus service between Stonebridge Park and Harrow &amp; Wealdstone. </p>
<p>However, passengers are strongly advised to seek alternative routes, such as the Metropolitan line. </p>
<p>There will be full ticket acceptance on buses and Tube.</p>
<p>A TfL spokesman said: 'We are working hard to minimise disruption to our customers while Network Rail carry out repairs to their overhead lines alongside our routes.'</p>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Overground services between Euston and Watford will stop running earlier tonight to allow Network Rail engineers onto the track to carry out repairs to overhead lines which came down and disrupted services yesterday.The last London Overground train";}
        
        


 