


@{ViewBag.Title = "Tube Public Private Partnership (PPP) annual report published";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube Public Private Partnership (PPP) annual report published</h1>
        <div class="content-page-press-release">
        07 January 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Public Private Partnership (PPP) maintenance and renewal of the Tube is keeping pace with record demand according to London Underground's (LU's) annual PPP Report.
        
    </div>



 <div class="on-this-page">
<p>The report covers the performance of the PPP for the financial year 2007/08.</p>
<p>LU entered into the Government's three PPPs in early 2003; one with Tube Lines for the Jubilee, Northern and Piccadilly lines, the other two contracts with Metronet.</p>
<h2>Overview: 2007/08</h2>
<p>Despite a turbulent year for the PPP due to the collapse of Metronet, which entered Administration in July 2007 and subsequently transferred to Transport for London (TfL) in May 2008, the Tube carried more passengers and ran more trains than ever before, clocking up over 70m kilometres of passenger service during the year.</p>
<p>A total of 87 station modernisations and refurbishments under PPP arrangements have now been completed, with 28 finished during 2007/08 - 17 by Tube Lines and 11 by Metronet.</p>
<p>Thirty lift and escalator renewals were also completed during the year.</p>
<p>Since the PPP arrangements began, a total of 143km of track has been renewed across the network with 28km renewed in 2007/08.</p>
<p>Managing Director of London Underground, Tim O'Toole, said: 'It is to the great credit of all those involved in the operation and maintenance of the Underground that Metronet's entry into Administration had no impact on the daily operation of Tube services, and that the momentum of the complex projects to upgrade key lines continued.</p>
<h2>New focus and challenges</h2>
<p>'Our focus now is on day-to-day maintenance performance, which has generally improved since Metronet came into TfL.</p>
<p>'Tube Lines has also delivered on the challenge I set two years ago regarding the Northern line, which had been a constant source of frustration for passengers.</p>
<p>'Their improvements joined with our new timetable and operations has markedly improved the performance of the Northern Line.</p>
<p>'Tube Lines' station programme has been delivered on time, with many Jubilee, Northern and Piccadilly line stations now refurbished and modernised.</p>
<p>'My new challenge for Tube Lines is to keep its promise on the Jubilee line upgrade, due for completion by the end of 2009.'</p>
<h2>Other achievements: 2007/08</h2>
<p>Outside of the PPP contracts, 2007/08 also saw:</p>
<ul type="circle">
<li>Piccadilly line services to Heathrow Terminal 5 open on time, the first extension to an Underground line since the Jubilee line extension in 1999 </li>
<li>Connect PFI radio system delivered new radio systems across the network, leading to fewer delays due to equipment failures, and the completion ahead of schedule of the Airwave system on the Underground for the use of emergency services </li>
<li>New or wholly rebuilt stations at Wood Lane and Shepherd's Bush delivered on time and budget </li>
<li>Record demand and record service levels while undergoing a stepped-up rebuilding programme</li></ul>
<p><a title="Public Private Performance Report" href="/corporate/modesoftransport/londonunderground/management/1582.aspx">Read the PPP Report online</a>.</p>
<p>
<hr>

<p><strong>Notes to editors:</strong></p>
<ul type="circle">
<li>LU&nbsp;entered into three Public Private Partnerships (one Tube Lines for the Jubilee, Northern and Piccadilly lines, the other two Metronet for the remaining lines) for the maintenance and renewal of London Underground trains, stations, track and signalling </li>
<li>The PPP contracts envisaged that&nbsp;LU would retain responsibility for operations and all engineering and safety standards while three private sector infrastructure companies (infracos) - Tube Lines, Metronet BCV and Metronet SSL - maintained and renewed the infrastructure over 30 years </li>
<li>Metronet Rail, which was responsible for the maintenance and renewal of the remaining Underground lines, became insolvent in 2007 and was transferred to Transport for London control in May 2008 </li>
<li>In exchange for a monthly fee - the Infrastructure Service Charge (ISC) - the remaining infraco, Tube Lines, maintains the Underground's assets on the Jubilee, Northern and Piccadilly lines to standards set out in the PPP contracts, which state that the monthly fee may be increased or decreased based on performance measures that relate directly to customer experience</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The report covers the performance of the PPP for the financial year 2007/08.LU entered into the Government's three PPPs in early 2003; one with Tube Lines for the Jubilee, Northern and Piccadilly lines, the other two contracts with Metronet.Overview:";}
        
        


 