
    
  



@{ViewBag.Title = "Funding for your borough";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/boroughs/borough-funding";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/boroughs/index">Boroughs and communities</a></li>
                
            
            
                <li><span class="last-breadcrumb">Funding for your borough</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Funding for your borough</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Along with the GLA we provide funding streams to help our partners in the boroughs and the City of London to deliver the Mayor's Transport Strategy.
        
      </div>
    
    <div class="on-this-page">
      <h2>For Boroughs</h2>

<h3>Local Implementation Plans (LIPs)</h3>

<p>We offer financial support to London's 33 local authorities for schemes to improve their transport networks in line with Mayor's Transport Strategy objectives. This includes the Corridors funding that is allocated by a formula reflecting transport need across London,&nbsp;and bus and cycling project funding following TfL analysis about where the best opportunities lie for investment with best impacts. &nbsp;<a href="/info-for/boroughs/local-implementation-plans">Find out more about LIPs funding.</a></p>

<h3>Liveable Neighbourhoods</h3>

<p>We fund projects that encourage walking, cycling and public transport use through the <a href="/info-for/boroughs/liveable-neighbourhoods">Liveable Neighbourhoods fund</a>.</p>

<h3>Mayor's Air Quality Fund</h3>

<p>The &pound;22m&nbsp;<a href="https://www.london.gov.uk/what-we-do/environment/pollution-and-air-quality/mayors-air-quality-fund">Mayor's Air Quality fund (MAQF)</a> supports projects in London's boroughs that help improve air quality in our capital. The fund is currently closed for applications - it will reopen in autumn 2021.</p>

<h3>Low Emission Neighbourhoods fund</h3>

<p>Among air quality projects funded by the MAQF are <a href="/info-for/boroughs/low-emission-neighbourhoods">Low Emission Neighbourhoods</a>.</p>

<h3>Cycle training funding</h3>

<p>We provide funding to your borough for cycle training through the LIPs process. Your borough then arranges the <a href="https://tfl.gov.uk/forms/12421.aspx">cycle training that residents can sign up to</a>.</p>

<h3>Cycle parking funding</h3>

<p>We provide funding to your borough for cycle parking to support the delivery of the <a href="https://tfl.gov.uk/modes/cycling/cycle-parking">Cycle Parking Implementation Plan</a>. To apply for this fund and find out more about the eligibility criteria email <a href="mailto:CycleParkingImplementation&#64;tfl.gov.uk">CycleParkingImplementation&#64;tfl.gov.uk</a>.</p>

<h2>For community groups</h2>

<h3>Van/minibus&nbsp;scrappage fund</h3>

<p>Micro businesses, sole traders and charities that need help to replace vehicles that don't meet the Ultra Low Emission Zone (ULEZ) standards can apply to the <a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone/scrappage-scheme">scrappage scheme for vans and minibuses</a>.</p>

<h3>ULEZ car and motorcycle scrappage scheme</h3>

<p>Low income and disabled Londoners can apply for the <a href="[ioID]#https://tfl.gov.uk/modes/driving/ultra-low-emission-zone/car-and-motorcycle-scrappage-scheme">car and motorcycle scrappage scheme </a>to help&nbsp;scrap older, more polluting cars and motorcycles in favour of cleaner vehicles and greener forms of transport.</p>

<h3>Walking and cycling grant</h3>

<p><a href="http://walkingandcyclinggrants.london/">Walking and Cycling Grants London</a> is a programme which supports London's diverse communities to walk and cycle more often and more safely. It offers grants to projects of up to &pound;10,000 over a three-year period.</p>

<p>Find out more in our press release on <a href="https://tfl.gov.uk/info-for/media/press-releases/2019/july/tfl-doubles-funding-for-cycling-and-walking-programmes">TfL funding for cycling and walking projects</a>.</p>

<h3>Healthy Streets fund for businesses</h3>

<p>Business Improvement Districts and recognised business groups can apply for this fund to implement&nbsp;proven consolidation initiatives like micro-consolidation, cargo bikes and preferred supplier schemes.</p>

<p>The fund aims to:</p>

<ul>
	<li>support initiatives and solutions&nbsp;that improve&nbsp;road network efficiency, local air quality and road safety by reducing the number of delivery and servicing related trips&nbsp;especially during peak hours (07:00 - 10:00)&nbsp; and reducing vehicle emissions</li>
	<li>encourage active travel in areas that heavily rely on private car use</li>
	<li>evaluate the effectiveness of different initiatives and solutions, capture and then share achievements and lessons learned</li>
</ul>

<p><a href="/info-for/deliveries-in-london/delivering-efficiently">Our toolkits for businesses&nbsp;</a> gives you some ideas for possible schemes in your area. &nbsp;</p>

<p>To apply for this fund&nbsp;email <a href="mailto:HealthyStreetsFund&#64;tfl.gov.uk">HealthyStreetsFund&#64;tfl.gov.uk</a>.&nbsp;</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/boroughs/index" class="heading">
                    <h2 id="sub-menu-heading">Boroughs and communities<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/information-by-borough">Your borough</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/boroughs/borough-funding">Funding for your borough</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/local-implementation-plans">Local Implementation Plans</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/liveable-neighbourhoods">Liveable Neighbourhoods </a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://www.gov.uk/government/collections/air-quality-grant-programme" class="plain-button">Air quality grant programme</a>
<a href="https://www.gov.uk/government/publications/major-road-network-and-large-local-majors-programmes-investment-planning" class="plain-button">Major route network funding </a>
<a href="https://www.gov.uk/government/publications/housing-infrastructure-fund" class="plain-button">Housing Infrastructure Fund</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Local Implementation Plans (LIPs) are the primary source of funding we offer to boroughs to help them implement the Mayor's Transport Strategy";}
        
            
        


 