
    
  



@{ViewBag.Title = "Cycling toolkit";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/boroughs/cycling-toolkit";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/boroughs/index">Boroughs and communities</a></li>
                
            
                 <li><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></li>
                
            
            
                <li><span class="last-breadcrumb">Cycling toolkit</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Cycling toolkit</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We have pulled together information and links to resources that will help you develop cycling strategy, policies and programmes in your borough.
        
      </div>
    
    <div class="on-this-page">
      <p>Cycling research and reports can also be found on the <a href="/corporate/publications-and-reports/cycling">Cycling page in Publications &amp; reports</a>.</p>

<h2>Cycling action plan</h2>

<p>We want London to become the world's best big city for cycling.</p>

<p>The Cycling action plan is one of several <a href="/corporate/about-tfl/the-mayors-transport-strategy">action plans created to support the Mayor's Transport Strategy</a> for London.</p>

<p>Enabling more Londoners to cycle is a central part of the Strategy. By 2041, we want 80% of journeys to be made by walking, cycling and public transport.</p>

<p>Two other long term ambitions for cycling are that by 2041:</p>

<ul>
	<li>All Londoners get 2 x 10 minutes of active travel each day</li>
	<li>70% of Londoners live within 400 metres of the London-wide cycle network</li>
</ul>

<p>Supporting boroughs and other partners create high-quality schemes will help us make cycling in London attractive and accessible for all.</p>

<p>This plan sits alongside the Walking action plan, Vision Zero action plan and Freight and servicing action plan. It is a core part of delivering the <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Healthy Streets Approach</a>.</p>

<h2>Making the case for cycling</h2>

<p>Evidence shows that cycling, as well as walking, can bring economic benefits to the high street, businesses and London's growth and productivity.</p>

<p>We've pulled together the latest research on this - from both London and cities around the world - on the <a href="/corporate/publications-and-reports/economic-benefits-of-walking-and-cycling">Economic benefits of walking and cycling page</a>.</p>

<p>You can use this evidence to help make the case for investment in schemes to promote active travel.</p>

<h2>Planning for cycling</h2>

<p>These resources can help you develop cycling strategy and policy in your borough:</p>

<h3>Data and research</h3>

<p>We do regular surveys and counts to monitor cycling trends in central, inner and outer London. Data is also collected to monitor the impact of new cycling schemes.</p>

<p>The overall trends for each mode of transport in London are reported in <a href="/corporate/publications-and-reports/travel-in-london-reports">Travel in London</a>.</p>

<p>Travel in London - Report 11 summarises the data on cycling volume, demographics and attitudes towards cycling in London.</p>

<h3>Strategic analysis</h3>

<p>Our Analysis of cycling potential report is also on the Travel in London page.</p>

<p>We know that there is potential for many more cycling journeys in London - this analysis shows that over eight million trips made every day could be cycled instead. The report includes data for each London borough.</p>

<p>The future growth of London's cycle network is being shaped by the Strategic Cycling Analysis (SCA), published in June 2017. New routes are identified and prioritised based on current and potential future demand, as well as new housing and jobs growth. The SCA can help develop plans for the strategic cycle network in your borough. The document is on the <a href="/corporate/publications-and-reports/cycling">Cycling page in Publications &amp; reports</a>.</p>

<h3>Cycling Infrastructure Database (CID)</h3>

<p>Launching in summer 2019, this will be the world's largest and most comprehensive database of cycling infrastructure. Available through our <a href="/info-for/open-data-users/index">open data platform</a>, it will give boroughs information on the location and type of existing infrastructure.</p>

<p>Boroughs will also have access to the CID through the external Playbook.</p>

<h3>Cycle parking implementation plan</h3>

<p>London's first <a href="/corporate/publications-and-reports/cycling">cycle parking implementation plan</a> - launched in July 2019 - takes a strategic approach to creating cycle parking across London. It builds on new data and analysis and includes short term targets for installing cycle parking where it will support the most cycle journeys.</p>

<h2>Designing for cycling</h2>

<h3>Healthy Streets Approach</h3>

<p>The <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Healthy Streets Approach</a> underpins all street improvement projects in London. Tools are available for designers to ensure that projects meet the 10 Healthy Street indicators. The Healthy Streets check for designers should be used by designers working on projects which affect people walking, cycling and accessing public transport in London.</p>

<h3>London Cycle Design Standards</h3>

<p>The London Cycling Design Standards document acts as the primary source of design advice for cycling infrastructure. It's recommended for use throughout the planning and design stages of all street design projects in London.</p>

<p>The London Cycle Design Standards document is on the <a href="/corporate/publications-and-reports/streets-toolkit">Streets toolkit page</a>.</p>

<h3>New cycle route quality criteria</h3>

<p>The New cycle route quality criteria document on the <a href="/corporate/publications-and-reports/cycling">Cycling publications page</a> is aligned with the London Cycling Design Standards. The process helps define whether new cycle routes are of a high enough quality to be a 'Cycleway' - London's strategic cycle route network.</p>

<h3>Temporary traffic management handbook</h3>

<p>Our <a href="/info-for/suppliers-and-contractors/traffic-management">Temporary traffic management handbook</a> offers guidance to industry to ensure that people still have access to walk and cycle when roadworks are taking place.</p>

<h2>Cycle Skills</h2>

<p>To help encourage take up of <a href="/modes/cycling/cycle-skills">Cycle Skills</a> in your area we've created a toolkit of marketing materials that can be personalised to your borough.</p>

<p>Your Healthy Streets Officer can also supply the high resolution artwork.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cycle-skills-training-comms-a4-poster.pdf">
    <div class="document-download-text">
        <p>A4 poster - Cycle Skills</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 190KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cycle-skills-training-comms-a3-poster.pdf">
    <div class="document-download-text">
        <p>A3 poster - Cycle Skills </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 237KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cycle-skills-training-dl.pdf">
    <div class="document-download-text">
        <p>Fold-out leaflet - Cycle Skills</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 253KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap jpg" href="/cdn/static/cms/documents/cycle-skills-facebook-1200x628.jpg">
    <div class="document-download-text">
        <p>Facebook header (1200 X 628) - Cycle Skills</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            JPG 687KB
            
        </p>
    </div>
    <div class="document-download-icon download-image">
    </div>

</a>

<!-- 0.67 -->
 

<a class="document-download-wrap jpg" href="/cdn/static/cms/documents/cycle-skills-twitter-1024x512.jpg">
    <div class="document-download-text">
        <p>Twitter header (1024 X 512) - Cycle Skills</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            JPG 486KB
            
        </p>
    </div>
    <div class="document-download-icon download-image">
    </div>

</a>

<!-- 0.47 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cycle-skills-training-comms-a4-cover.pdf">
    <div class="document-download-text">
        <p>A4 PDF cover - Cycle Skills </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 197KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap jpg" href="/cdn/static/cms/documents/cycle-skills-crm-banner.jpg">
    <div class="document-download-text">
        <p>Digital banner (1281 X 219) - Cycle Skills</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            JPG 231KB
            
        </p>
    </div>
    <div class="document-download-icon download-image">
    </div>

</a>

<!-- 0.23 -->
 

<a class="document-download-wrap jpg" href="/cdn/static/cms/documents/cycle-skills-crm-banner2.jpg">
    <div class="document-download-text">
        <p>Digital banner (600 X 120) - Cycle Skills</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            JPG 77KB
            
        </p>
    </div>
    <div class="document-download-icon download-image">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap jpg" href="/cdn/static/cms/documents/cycle-skills-landing-page-teaser.jpg">
    <div class="document-download-text">
        <p>Digital banner, no wording (700 X 350) - Cycle Skills</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            JPG 231KB
            
        </p>
    </div>
    <div class="document-download-icon download-image">
    </div>

</a>

<!-- 0.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cycle-skills-training-railings-banner.pdf">
    <div class="document-download-text">
        <p>Railings banner - Cycle Skills</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.79MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.79 -->
 
</div>

</div>
 <div>

<h2>General resources</h2>

<ul>
	<li><a href="/travel-information/safety/road-safety-advice/driving-and-cycling-safety">Cycling safety tips</a></li>
	<li><a href="http://think.direct.gov.uk/cycling.html">THINK! Cycling</a></li>
</ul>

<h3>Resources for business</h3>

<p>Find out about <a href="/modes/cycling/santander-cycles/business-accounts">Santander cycles business accounts</a>. Our bike-sharing scheme is a great way for you and your staff to get around. You can use the bikes for business travel or commuting,</p>

<p>You can offer salary sacrifice tax breaks as a standard benefit to help employees with affordable cycling equipment. The Department for Transport has guidance on setting up a <a href="https://web.archive.org/web/20190408021151/https://www.gov.uk/government/publications/cycle-to-work-scheme-implementation-guidance">Cycle to Work salary sacrifice scheme</a>.</p>

<h3>STARS - School travel plan accreditation scheme</h3>

<p>TfL's travel plan accreditation programme has several programmes and activities to help schools support healthy travel, including by bicycle.</p>

<ul>
	<li><a href="https://stars.tfl.gov.uk/PublicPages/Home.aspx">STARS website</a></li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/boroughs/index" class="heading">
                    <h2 id="sub-menu-heading">Boroughs and communities<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/information-by-borough">Your borough</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/borough-funding">Funding for your borough</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/professional-services-frameworks">Professional services frameworks</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/low-emission-neighbourhoods">Low Emission Neighbourhoods</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/boroughs/cycling-toolkit">Cycling toolkit</a></div>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/legible-london">Legible London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/bus-lane-database">Bus lane database</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/walking-and-cycling-community-ideas">Walking and cycling community ideas</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/workplace-parking-levies">Workplace Parking Levies</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/zero-emission-zones">Zero Emission Zones</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us</h3>
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p>Email <a href="mailto:activetravel&#64;tfl.gov.uk">activetravel&#64;tfl.gov.uk</a>.</p>
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The toolkit is designed to help borough officers create and run cycling programmes";}
        
            
        


 