
    
  


<!-- rhroot -->
@{ViewBag.Title = "Boroughs and communities";}
@{ViewBag.Keywords = "Boroughs,TfL";}
@{ViewBag.Url = "/info-for/boroughs/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  <div class="section-image-container medium-large" data-highlight-image="/cdn/static/cms/images/promos/boroughs-landing-street-scene.jpg" data-highlight-for=".section-image-container" data-highlight-size="medium-large" style="background-image: url(/cdn/static/cms/images/promos/boroughs-landing-street-scene.jpg)"> </div>

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">Boroughs and communities</span></li>
            
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Boroughs and communities</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                <p>We are committed to contributing to a safer, healthier and thriving London. That is why we work closely with London's 32 boroughs and the City of London and community groups to integrate transport planning and operations across the Capital.</p>

<p>In this section, borough officers, councillors, community groups and anyone who has an interest in borough affairs can find information and toolkits on a range of subjects. Examples include available funding streams,&nbsp;strategies to tackle environmental and safety issues (you told us these are important to you), operational performance and sub-regional activity.</p>

<p>We also have details of how to get in touch for different issues.</p>
                </div>
            </div>
        
         
        
        
        
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div class="news-teaser">

    <a href="/info-for/boroughs/information-by-borough?intcmp=17175" >
        
        
        <div class="text-link">
             <h2>Your borough</h2>
            <p>Find out what we maintain and improve locally and how to get in touch</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/boroughs/borough-funding?intcmp=17422" >
        
        
        <div class="text-link">
             <h2>Funding</h2>
            <p>All funding streams available for boroughs and community groups</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/boroughs/planning-and-resources?intcmp=17420" >
        
        
        <div class="text-link">
             <h2>Planning and resources</h2>
            <p>Find out more about transport planning, campaign material and toolkits</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://consultations.tfl.gov.uk/?intcmp=60641" >
        
        
        <div class="text-link">
             <h2>TfL consultation hub</h2>
            <p>Have your say on consultations near you</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/about-tfl/air-quality?intcmp=45806" >
        
        
        <div class="text-link">
             <h2>Air quality</h2>
            <p>All initiatives to tackle pollution and climate change </p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/travel-information/improvements-and-projects/index?intcmp=54" >
        
        
        <div class="text-link">
             <h2>Improvements and projects</h2>
            <p>Find out what we are improving in your area</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/safety-and-security/road-safety/vision-zero-for-london?intcmp=54158" >
        
        
        <div class="text-link">
             <h2>Vision Zero for London</h2>
            <p>Together we can eradicate deaths and serious injuries from our roads</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets?intcmp=46996" >
        
        
        <div class="text-link">
             <h2>Healthy Streets</h2>
            <p>Our approach to making London healthier and more active</p>
        </div>
    </a>
</div>
 
 <div>

<div class="news-teaser">

    <a href="/corporate/about-tfl/the-mayors-transport-strategy?intcmp=2691" >
        
        
        <div class="text-link">
             <h2>Mayor's Transport Strategy</h2>
            <p>The overall strategy with its action plans to help improve London</p>
        </div>
    </a>
</div>
 
 <div class="vertical-button-container">



<a href="/corporate/publications-and-reports/index"  class="plain-button">Publications and reports</a>


<a href="https://madeby.tfl.gov.uk/"  class="plain-button">Made by TfL blog</a>


<a href="/info-for/urban-planning-and-construction/index"  class="plain-button">Urban planning and construction</a>

</div>

</div>
 
<div>




<h3>Borough survey</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/borough-survey-feedback-report-2019.pdf">
    <div class="document-download-text">
        <p>Borough survey 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 296KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/borough-survey-feedback-2017.pdf">
    <div class="document-download-text">
        <p>Borough survey 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 148KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 
</div>

</div>
 
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/boroughs/index" class="heading">
                    <h2 id="sub-menu-heading">Boroughs and communities<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/information-by-borough">Your borough</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/borough-funding">Funding for your borough</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>
        <div class="module-grid clearfix">
          












<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://www.londoncouncils.gov.uk/" class="plain-button">London Councils </a>
    </div>
</div>
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="https://streetcare.tfl.gov.uk/" class="plain-button">Report a problem on a street</a>
<a href="/corporate/about-tfl/corporate-and-social-responsibility/transport-and-health" class="plain-button">Transport and health</a>
<a href="/corporate/publications-and-reports/business-plan" class="plain-button">TfL Business Plan</a>
<a href="/info-for/schools-and-young-people/index" class="plain-button">Schools and young people</a>

<a href="/transport-accessibility/index" class="plain-button">Transport accessibility</a>
<a href="/corporate/safety-and-security/index" class="plain-button">Safety and security</a>
<a href="/corporate/publications-and-reports/strategic-transport-and-land-use-models" class="plain-button">Strategic transport and land-use models</a>
<a href="/status-updates/travel-tools" class="plain-button">Travel tools</a>
<a href="/info-for/media/index" class="plain-button">Latest press releases</a>
<a href="/travel-information/social-media-and-email-updates/email-updates" class="plain-button">Weekly email updates</a>
    </div>
</div>
   

<div><a class="twitter-timeline" data-tweet-limit="3" href="https://twitter.com/TfL">Tweets by TfL</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>

        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "We have services to help London's 33 local authorities make planning decisions affecting the Capital's transport network, particularly roads";}
        
            
        


 