
    
  


<!-- rhroot -->
@{ViewBag.Title = "Your borough";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/boroughs/information-by-borough";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/boroughs/index">Boroughs and communities</a></li>
                
            
            
                <li><span class="last-breadcrumb">Your borough</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Your borough</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Get an overview of public transport services and projects across London and in each of the 32 London Boroughs and the City of London.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Getting around your borough</h2>

<p>The <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a> sets out a target of 80% of all trips in London to be made by public transport, walking or cycling by 2041.</p>

<h3>Public transport, cycling and walking</h3>

<p><a href="/corporate/publications-and-reports/business-plan">We're investing in our network</a> - and working in partnership with your borough - to make public transport, <a href="/modes/cycling/index">cycling</a> and <a href="/modes/walking/index">walking</a> attractive choices to get around.</p>

<h3>Driving in London</h3>

<ul>
	<li>To help ease congestion and tackle poor air quality in the city, <a href="https://tfl.gov.uk/modes/driving/congestion-charge">Congestion Charge</a> and <a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone">Ultra Low Emission (ULEZ)</a> zones operate in London</li>
	<li>We own and maintain all <a href="https://tfl.gov.uk/modes/driving/red-routes">red routes in London</a>. This includes <a href="/info-for/taxis-and-private-hire/taxi-ranks">taxi ranks on these roads</a>. Stopping or parking is prohibited on the 580 kilometres of London red routes</li>
	<li>To contribute to cleaner air in London we also work in partnership with London boroughs and the City of London to increase <a href="https://tfl.gov.uk/modes/driving/electric-vehicles-and-rapid-charging">rapid charging points across the Capital</a></li>
</ul>

<h3>Journey status</h3>

<p>Stay up to date with changes to&nbsp;our services by:</p>

<ul>
	<li>Subscribing to our <a href="/travel-information/social-media-and-email-updates/email-updates">email updates</a></li>
	<li>Exploring more of <a href="/status-updates/travel-tools">our travel tools</a></li>
</ul>

<h2>Accessible transport in your borough</h2>

<p>We want <a href="/transport-accessibility/index">travel in London to be fully accessible</a>. Your feedback helps us to challenge our technology, infrastructure and customer service for more improvements.</p>

<h3>Step-free stations</h3>

<p>You have told us you want to see more step-free access at Tube and London Overground stations. We are improving many stations to create <a href="/travel-information/improvements-and-projects/step-free-access">step-free access over the next few years</a>.</p>

<h3>Assisted travel services</h3>

<p>Our range of <a href="/transport-accessibility/door-to-door-transport-services">assisted travel services</a> can take your residents from door-to-door, with help from a driver - this includes <a href="/modes/dial-a-ride/index">Dial-a-Ride</a>.</p>

<h3>Dial-a-Ride</h3>

<p>Dial-a-Ride is a free door-to-door assisted transport service for elderly and disabled users. It can be used for trips such as shopping, visiting family and travelling to leisure activities.</p>

<p>Dial-a-Ride is not available to those who live or travel outside the M25 and no longer serves any hospital appointments or visits.</p>

<p>Older London residents and anyone with a long-term or permanent disability can join Dial-a-Ride. Find out how to apply on the <a href="/modes/dial-a-ride/membership">Dial-a-Ride Membership page</a>.</p>

<h3>Travel Mentors</h3>

<p>Travel Mentors can advise on planning accessible journeys or support and accompany anyone making a journey a few times. This helps instil confidence and gives them all the right tools to become an independent traveller across&nbsp;our network. This includes people who use mobility scooters and other mobility aids.</p>

<p>People who prefer to explore public transport on their own can use <a href="https://tfl.gov.uk/forms/12387.aspx">our accessibility maps</a>.</p>

<h2>Contacting us</h2>

<h3>Accessibility</h3>

<p>We're always working for ways to improve the accessibility of our services. If you have a question or an issue, <a href="/transport-accessibility/contact-us-about-accessibility">contact us about accessibility</a>.</p>

<p>Find out how to book a Dial-a-Ride journey, discuss an existing journey, find out where the bus is, cancel a journey - or discuss our service - on the <a href="/modes/dial-a-ride/bookings">Dial-a-Ride Bookings page</a>.</p>

<h3>Buses</h3>

<p>To report a Countdown sign, any issues with your bus shelter or bus stop or report or commend a bus driver, fill out the <a href="/help-and-contact/contact-us-about-buses">online contact us form for buses</a>.</p>

<p>You can also raise bus performance issues such as frequency or overcrowding. Find out how on our <a href="/help-and-contact/index">Help and contacts page</a>.</p>

<h3>For councillors and borough officers</h3>

<p>The Local Communities and Partnerships (LCP) team is here to help London's boroughs navigate Transport for London, answering questions about our policies, projects and programmes and making sure their voice is heard in our decision-making.</p>

<p>Each borough has been given the name of a dedicated LCP contact to manage their relationship with us.</p>

<h3>Planning and construction</h3>

<p>To find out more:</p>

<ul>
	<li>If you're doing work near our assets, services or infrastructure, go to the <a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-contacts">Urban planning and construction pages</a>.</li>
	<li>About cycling in London, email <a href="mailto:activetravel&#64;tfl.gov.uk">activetravel&#64;tfl.gov.uk</a></li>
	<li>About bringing Legible London to your area, email<a href="mailto:legiblelondon&#64;tfl.gov.uk">legiblelondon&#64;tfl.gov.uk</a></li>
</ul>

<h3>Safety</h3>

<p>For safety-related issues, contact our Customer Contact Centre on 0343 222 1234 (press option 5, then option 1 - <a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges apply</a>). The team has special arrangements in place to ensure these are prioritised.</p>

<p>Or:</p>

<ul>
	<li>Report a problem on a street, including roadworks, with our <a href="https://streetcare.tfl.gov.uk/">Streetcare tool</a></li>
</ul>

<h3>Taxi and Private Hire</h3>

<p>Find out how to report Private Hire Vehicles (PHVs), unattended taxis and other vehicles on taxi ranks in London on our <a href="/info-for/taxis-and-private-hire/taxi-ranks">Taxi ranks page</a>. Be sure to include the date and time plus the location of the taxi rank.</p>

<p>Email photos of PHVs or unattended taxis on ranks to <a href="mailto:TPHintel&#64;tfl.gov.uk">TPHintel&#64;tfl.gov.uk</a>.</p>

<p>To request a new taxi rank in your borough, email <a href="mailto:tphranksinterchange&#64;tfl.gov.uk">tphranksinterchange&#64;tfl.gov.uk</a></p>

<h3>Tube noise</h3>

<p>Help us identify the areas most affected by <a href="/corporate/about-tfl/corporate-and-social-responsibility/reducing-noise-and-vibration">noise or vibration issues</a>:</p>

<ul>
	<li>Call us on 0343 222 1234 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)</li>
	<li>Fill out an online form - select a <a href="/help-and-contact/contact-us-about-tube-and-rail-staff">'Noise and vibration' enquiry</a></li>
</ul>
</div>
 <div>

<h2>Individual boroughs/City of London&nbsp; &nbsp;</h2>

<p>Individual borough pages include information and documents such as letters related to your Local Implementation Plan (LIP).</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/boroughs/index" class="heading">
                    <h2 id="sub-menu-heading">Boroughs and communities<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                <a href="/info-for/boroughs/information-by-borough" class="heading">
                    <h2 id="sub-menu-heading">Your borough<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/barking-and-dagenham">Barking and Dagenham</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/barnet">Barnet</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/bexley">Bexley</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/brent">Brent</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/bromley">Bromley</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/camden">Camden</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/city-of-london">City of London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/croydon">Croydon</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/ealing">Ealing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/enfield">Enfield</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/greenwich">Greenwich</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/hackney">Hackney</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/hammersmith-and-fulham">Hammersmith & Fulham</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/haringey">Haringey</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/harrow">Harrow</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/havering">Havering</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/hillingdon">Hillingdon</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/hounslow">Hounslow</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/islington">Islington</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/kensington-and-chelsea">Kensington and Chelsea</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/kingston-upon-thames">Kingston upon Thames</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/lambeth">Lambeth</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/lewisham">Lewisham</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/merton">Merton</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/newham">Newham</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/redbridge">Redbridge</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/richmond-upon-thames">Richmond upon Thames</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/southwark">Southwark</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/sutton">Sutton</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/tower-hamlets">Tower Hamlets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/waltham-forest">Waltham Forest</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/wandsworth">Wandsworth</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/westminster">Westminster</a></div></li>
                            
 
                </ul>
            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/borough-funding">Funding for your borough</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://www.londoncouncils.gov.uk/" class="plain-button">London Councils </a>
    </div>
</div>
 <div class="vertical-button-container">



<a href="/corporate/publications-and-reports/equality-and-inclusion-publications"  class="plain-button">Equality and inclusion</a>


<a href="/modes/buses/live-bus-arrivals"  class="plain-button">Countdown signs</a>


<a href="/info-for/boroughs/legible-london"  class="plain-button">Legible London signs</a>

</div>

      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We work closely with London's 32 boroughs and the City of London on a range of transport issues";}
        
            
        


 