
    
  



@{ViewBag.Title = "Lewisham";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/boroughs/lewisham";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/boroughs/index">Boroughs and communities</a></li>
                
            
                 <li><a href="/info-for/boroughs/information-by-borough">Your borough</a></li>
                
            
            
                <li><span class="last-breadcrumb">Lewisham</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Lewisham</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We partner with Lewisham to implement the Mayor's Transport Strategy in the borough.
        
      </div>
    
    <div class="on-this-page">
      <h2>Local Implementation Plan (LIP)</h2>

<p>The LIP is produced by the <a href="https://lewisham.gov.uk/inmyarea/regeneration/transport-and-major-infrastructure/local-implementation-plan">London Borough of Lewisham</a> and agreed with us. It sets out the details on transport infrastructure changes in a three-year period to support the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a>.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    
</div>

</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lewisham-2019-20-lip-allocation-letter.pdf">
    <div class="document-download-text">
        <p>Local Implementation Plan (LIP) allocation 2019/20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 218KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/1718-lip-confirmation-leader-letter-lewisham.pdf">
    <div class="document-download-text">
        <p>Local Implementation Plan (LIP) confirmation letter 2017/18 - Borough Leader</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 70KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lip-funding-confirmation-letters-16-17-lewisham.pdf">
    <div class="document-download-text">
        <p>Local Implementation Plan (LIP) confirmation letter 2016/17</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 74KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lewisham-lip-delivery-plan-letter.pdf">
    <div class="document-download-text">
        <p>Local Implementation Plan (LIP) delivery plan letter</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 75KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/public-transport-access-levels-lewisham.pdf">
    <div class="document-download-text">
        <p>Public Transport access levels - Lewisham</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.46MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.46 -->
 
</div>

</div>
 <div>

<p><a href="/info-for/boroughs/local-implementation-plans">Find out more about LIP funding.</a></p>

<h3>LIP targets for Lewisham</h3>

<p>Each borough has set targets in their LIP against the Mayor's Transport Strategy outcomes - we track and report on progress against these targets in the <a href="http://planning.data.tfl.gov.uk/">LIP3 MTS outcomes borough data pack</a>.</p>

<p>For example, the car ownership in the borough was 77,997 in 2017. The LIP target to reduce car ownership by 2021 is 75,100.</p>

<p>Residents in Lewisham made an average of 675,000 trips each day between 2015 and 2018 by:</p>

<ul>
	<li>Car and motorcycle: 32%</li>
	<li>Tube/DLR: 5%</li>
	<li>National Rail and London Overground: 12%</li>
	<li>Bus/Tram: 18%</li>
	<li>Taxi/Other: 1%</li>
	<li>Cycle: 2%</li>
	<li>Walking: 31%</li>
</ul>

<p>We also work with boroughs to <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/encouraging-cycling-and-walking">encourage more cycling</a>. We recorded 14,075 daily cycle trips on average starting in Lewisham between 2015 and 2018.</p>

<p><a href="https://www.london.gov.uk/in-my-area/lewisham">More resident and visitor population figures are on the GLA website.</a></p>

<h3>Funding for your borough</h3>

<p>We provide <a href="/info-for/boroughs/borough-funding">funding to boroughs and local communities</a> for transport improvements in your local area.</p>

<h2>Vision Zero</h2>

<p>We are working with boroughs to reduce the number of deaths and serious injuries from all road collisions to zero by 2041. They are responsible for enforcing safe speeds on their roads, as well as leading community programmes to encourage using&nbsp;roads&nbsp;safely.&nbsp;Find out more about <a href="/corporate/safety-and-security/road-safety/vision-zero-for-london">Vision Zero</a>.</p>

<p>In 2017 there were 120 individuals killed or seriously injured in Lewisham. Our target for 2022 is to reduce this number to 44.</p>

<p><a href="https://tfl.gov.uk/corporate/safety-and-security/road-safety/london-collision-map">Find out more about collisions in your borough.</a></p>

<h2>What we're working on in Lewisham</h2>

<ul>
	<li>We consult local communities on a range of projects every year - <a href="https://consultations.tfl.gov.uk/consultation_finder/?advanced=1&amp;st=open">search on the TfL Consultation Hub</a></li>
	<li>Find out about <a href="/status-updates/major-works-and-events">major works and events near you</a></li>
	<li>See some ongoing TfL <a href="http://www.tfl.gov.uk/travel-information/improvements-and-projects/?Borough=Lewisham">improvements and projects in or near Lewisham</a></li>
</ul>

<p>Work now going on in your borough includes:</p>

<ul>
	<li><strong>Tower Bridge to Greenwich cycling and walking improvements</strong> - our work on <a href="/travel-information/improvements-and-projects/cycle-superhighway-4">Cycleway 4</a> will create a continuous segregated cycle route between Tower Bridge and Greenwich</li>
	<li><strong>Deptford Parks</strong> - we're investing &pound;1.5m in Liveable Neighbourhood funding to help the council reduce traffic and encourage walking, cycling and the use of public transport in Deptford. A new traffic-free route will run along the former Grand Surrey Canal and new cycle routes through the park will link to the proposed new Bakerloo line station</li>
	<li><strong><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/bakerloo-line-extension">Bakerloo line extension</a></strong> - we're developing plans to extend the Bakerloo line through Old Kent Road to New Cross Gate, Lewisham and beyond. This will allow 25,000 new homes and 5,000 new jobs</li>
</ul>

<h2>Bus network changes</h2>

<p>From time to time - after consulting the public - we alter bus routes to reflect changing patterns in demand. We also make temporary changes, often because of road works. <a href="/modes/buses/bus-changes">See the latest bus changes.</a></p>

<h2>Ultra Low Emission Zone (ULEZ)</h2>

<p>To improve air quality the <a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone/ulez-where-and-when#on-this-page-5">ULEZ will extend to parts of Lewisham from October 2021</a>.</p>

<h2>Our assets in Lewisham</h2>

<p>Assets we maintain in your borough include:</p>

<ul>
	<li>Eight London Overground stations</li>
	<li>Two DLR stations</li>
	<li>Around 620 bus stops - <a href="https://tfl.gov.uk/maps_/bus-spider-maps?Query=Lewisham">see all 54 bus routes in Lewisham</a></li>
	<li>Two bus stations</li>
	<li>One taxi rank</li>
	<li>One car park</li>
	<li>Around 170 traffic signals</li>
	<li>Over 20 kilometres of <a href="https://tfl.gov.uk/modes/driving/red-routes/red-route-maps">red routes</a></li>
</ul>

<p><a href="https://tfl.maps.arcgis.com/apps/webappviewer/index.html?id=5129c766255941d3be16a6828faa8f18">See a map of our assets in London.</a></p>

<p>We maintain our assets until they need to be renewed or disposed of as set out in our asset management plan. We do this by:</p>

<ul>
	<li>Servicing them regularly to keep them operational</li>
	<li>Repairing or replacing faulty assets</li>
</ul>

<p>Report a problem on a London street with <a href="https://streetcare.tfl.gov.uk/">our Streetcare tool</a>.</p>

<h3>We do not maintain in Lewisham:</h3>

<ul>
	<li>Non-red route roads - these roads are maintained by&nbsp;<a href="https://www.lewisham.gov.uk/">Lewisham</a></li>
	<li>Litter removal on red routes - this is also the borough's responsibility</li>
	<li>Network Rail track at London Overground stations - <a href="https://www.networkrail.co.uk/communities/contact-us/">contact Network Rail.</a> Track and signals&nbsp;between New Cross to Silwood depot&nbsp;ismaintained by us</li>
	<li>Taxis and mini cabs - these are owned by <a href="/modes/taxis-and-minicabs/what-to-expect-from-your-journey">taxi drivers and minicab offices </a></li>
	<li>Three bus garages in Lewisham that are <a href="/modes/buses/who-runs-your-bus">owned and managed by bus companies</a></li>
	<li>Coaches</li>
	<li><a href="/info-for/taxis-and-private-hire/taxi-ranks">Taxi ranks</a> on borough roads. Cars and other vehicles parked on taxi ranks can be <a href="https://lewisham.gov.uk/myservices/parking/carparks">reported to Lewisham</a></li>
</ul>

<p><a href="https://tfl.gov.uk/forms/12368.aspx?cid=tph-report">Report private hire vehicles (PHVs) parked on ranks or unattended taxis on ranks directly to us.</a></p>
</div>
 <div>

<h2>Dealing with severe weather</h2>

<p>For documents relating to winter service in the boroughs, go to the <a href="/corporate/publications-and-reports/streets">Streets publications page</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/boroughs/index" class="heading">
                    <h2 id="sub-menu-heading">Boroughs and communities<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                <a href="/info-for/boroughs/information-by-borough" class="heading">
                    <h2 id="sub-menu-heading">Your borough<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/barking-and-dagenham">Barking and Dagenham</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/barnet">Barnet</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/bexley">Bexley</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/brent">Brent</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/bromley">Bromley</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/camden">Camden</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/city-of-london">City of London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/croydon">Croydon</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/ealing">Ealing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/enfield">Enfield</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/greenwich">Greenwich</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/hackney">Hackney</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/hammersmith-and-fulham">Hammersmith & Fulham</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/haringey">Haringey</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/harrow">Harrow</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/havering">Havering</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/hillingdon">Hillingdon</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/hounslow">Hounslow</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/islington">Islington</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/kensington-and-chelsea">Kensington and Chelsea</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/kingston-upon-thames">Kingston upon Thames</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/lambeth">Lambeth</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/info-for/boroughs/lewisham">Lewisham</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/merton">Merton</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/newham">Newham</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/redbridge">Redbridge</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/richmond-upon-thames">Richmond upon Thames</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/southwark">Southwark</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/sutton">Sutton</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/tower-hamlets">Tower Hamlets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/waltham-forest">Waltham Forest</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/wandsworth">Wandsworth</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/westminster">Westminster</a></div></li>
                            
 
                </ul>
            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/borough-funding">Funding for your borough</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/about-tfl/air-quality" class="plain-button">Air quality</a>
<a href="/corporate/safety-and-security/road-safety/safety-enforcement-cameras" class="plain-button">Safety enforcement cameras</a>
<a href="/status-updates/travel-tools" class="plain-button">Travel tools</a>

    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Facts and certain transport-related documents about the London Borough of Lewisham";}
        
            
        


 