
    
  



@{ViewBag.Title = "Liveable Neighbourhoods ";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/boroughs/liveable-neighbourhoods";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/boroughs/index">Boroughs and communities</a></li>
                
            
                 <li><a href="/info-for/boroughs/borough-funding">Funding for your borough</a></li>
                
            
            
                <li><span class="last-breadcrumb">Liveable Neighbourhoods </span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Liveable Neighbourhoods </h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Our Liveable Neighbourhoods programme gives boroughs the opportunity to bid for funding for long-term schemes that encourage walking, cycling and the use of public transport.
        
      </div>
    
    
      
      
           
      <div>

<p>The programme supports the aims of the <a href="https://www.london.gov.uk/what-we-do/transport/our-vision-transport/mayors-transport-strategy-2018">Mayor's Transport Strategy</a> by funding local schemes to reduce car trips and improve neighbourhoods for walking, cycling and public transport.</p>

<p>Grants of between &pound;1m and &pound;10m will be provided for a wide range of community-supported projects. These could include creating green spaces and cycling infrastructure and redesigning junctions. The programme can also fund the widening of walking routes to improve access to local shops, businesses and public transport.</p>

<p>The Liveable Neighbourhoods programme will continue until 2022/23 and boroughs can submit bids at any time. The winning bids for 2018/19 were announced in February 2019. The closing date for bids in the 2019/20 funding round is Friday 29 November 2019.</p>

<p>The Mayor's Transport Strategy sets out a long-term ambition to transform the Capital's transport network and provide a fairer, greener, healthier and more prosperous city for all Londoners.</p>
</div>
 
<div>




<h2> Privacy notice</h2>
<p>Transport for London (TfL), its subsidiaries and service providers, will use your personal information for the purpose of administering your Liveable Neighbourhoods bid.  Your personal information will be properly safeguarded and processed in accordance with the requirements of privacy and data protection legislation.  To find out more about how TfL handles personal data, see our <a href="/corporate/privacy-and-cookies/index">privacy and cookies pages</a>.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-liveable-neighbourhood-guidance.pdf">
    <div class="document-download-text">
        <p>Liveable Neighbourhoods guidance</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 890KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.87 -->
 

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/liveable-neighourhoods-expression-of-interest.docx">
    <div class="document-download-text">
        <p>Liveable Neighbourhoods expression of interest</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 18KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/liveable-neighbourhoods-proforma.docx">
    <div class="document-download-text">
        <p>Liveable Neighbourhoods pro forma</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/boroughs/index" class="heading">
                    <h2 id="sub-menu-heading">Boroughs and communities<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/information-by-borough">Your borough</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/boroughs/borough-funding">Funding for your borough</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/local-implementation-plans">Local Implementation Plans</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/boroughs/liveable-neighbourhoods">Liveable Neighbourhoods </a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out about how to bid for funding for projects that encourage walking, cycling and the use of public transport";}
        
            
        


 