
    
  



@{ViewBag.Title = "Local Implementation Plans";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/boroughs/local-implementation-plans";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/boroughs/index">Boroughs and communities</a></li>
                
            
                 <li><a href="/info-for/boroughs/borough-funding">Funding for your borough</a></li>
                
            
            
                <li><span class="last-breadcrumb">Local Implementation Plans</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Local Implementation Plans</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Each London borough is required to develop a Local Implementation Plan (LIP). The LIP sets out how the borough will meet the objectives of the Mayor's Transport Strategy.
        
      </div>
    
    <div class="on-this-page">
      <p>LIP funding is the process through which we provide boroughs with financial support. The funding is for schemes to improve their transport networks in a way that is consistent with and supports the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a>.</p>

<p>These schemes are detailed in each borough's LIP. A three-year outline programme is reviewed annually, and a detailed one-year programme is submitted for funding approval for the following financial year.</p>

<p>Older LIP documents are&nbsp;on the <a href="/corporate/publications-and-reports/local-implementation-plans">LIPs page in Publications &amp; reports</a>.</p>
      
           
      
<div>



<h2>Third LIPs</h2>


<p>Since the 2018 Mayor's Transport Strategy (and associated LIP guidance documents) was published, every borough has produced their third LIP. These have all now been approved by the Deputy Mayor on behalf of the Mayor.</p>

<p>These LIPs include the boroughs' targets for contributing to the Mayor's Transport Strategy Outcomes - we track progress against these every year.</p>

<p><a href="/info-for/boroughs/information-by-borough">Each borough's current LIP allocation is on their individual page in Your borough.</a></p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/third-lips-guidance-2018.pdf">
    <div class="document-download-text">
        <p>Guidance for borough officers on developing the Third LIPs</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.95MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.95 -->
 
</div>

</div>
 
<div>



<h2>LIP funding</h2>


<p>Funding is allocated under six main programmes:</p>

<ul>
	<li>Corridors, neighbourhoods and supporting measures</li>
	<li><a href="/info-for/boroughs/liveable-neighbourhoods">Liveable Neighbourhoods</a></li>
	<li>Borough Bus Priority Programme</li>
	<li>Principal road maintenance</li>
	<li>Bridge strengthening</li>
	<li>Traffic signal modernisation for sites on borough roads</li>
</ul>

<p>Corridors, neighbourhoods and supporting measures funding is allocated using a formula that was agreed with London Councils and the London Technical Advisory Group (LoTAG) in 2010.</p>

<p>Bids for Liveable Neighbourhoods funding and Bus Priority funding on borough roads are made to TfL. We assess them against our own bidding guidance and the benefits that the schemes are expected to achieve, such as more walking, cycling and use of public transport through more reliable journeys.</p>

<p>Funding is released based on completion of stages in the projects, such as the completion of designs.</p>

<p>Funding for principal road maintenance and bridge strengthening is awarded to roads and bridges most in need of repair. Condition surveys are used to establish this need.</p>
<div class="multi-document-download-container">
    
</div>

</div>
 
<div>




<p><a href="/corporate/publications-and-reports/local-implementation-plans">See the final LIPS allocations.</a></p>

<h2>LIP spending and delivery plans</h2>

<p>Each year, London boroughs must submit a LIP annual spending submission with specific details of individual schemes they want to take forward. At the end of the financial year, each borough must submit a report on how they have delivered a range of priorities such as cycle parking, 20 mph zones and pedestrian crossings.</p>

<h2>LIPs guidance</h2>

<p>The LIP formula funding allocations for 'Corridors, Neighbourhoods and Supporting Measures' are calculated for each borough.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lip-ass-guidance-2019.pdf">
    <div class="document-download-text">
        <p>LIP 2020/21 Annual Spending Submission guidance</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 798KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.78 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lip3-guidance-for-borough-officers-preparing-lip3-2018.pdf">
    <div class="document-download-text">
        <p>Third LIPs development guidance for borough officers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.95MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.95 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lip-finance-guidance-19.pdf">
    <div class="document-download-text">
        <p>LIP finance and reporting guidance</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 385KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lip-formula-funding-presentation.pdf">
    <div class="document-download-text">
        <p>Explanation of LIP Formula Funding - January 2012</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 586KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.57 -->
 
</div>

</div>
 <div>

<h2>Boroughs Portal</h2>

<p>The Boroughs Portal is a web-based system that we, along with boroughs and partnerships, use to manage LIP and non-LIP funding that we provide.</p>

<p>The Portal is used to&nbsp;manage the allocation of funds, report on scheme progress, and to subsequently claim&nbsp;funds from TfL.</p>

<p><strong>Borough funding</strong><br />
<strong>Email:</strong>&nbsp;<a href="mailto:bspsupport&#64;tfl.gov.uk">bspsupport&#64;tfl.gov.uk</a></p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/boroughs/index" class="heading">
                    <h2 id="sub-menu-heading">Boroughs and communities<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/information-by-borough">Your borough</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/boroughs/borough-funding">Funding for your borough</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/boroughs/local-implementation-plans">Local Implementation Plans</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/boroughs/major-schemes">Major Schemes</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/boroughs/evaluations-programmes">Monitoring & research</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/liveable-neighbourhoods">Liveable Neighbourhoods </a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/streets-toolkit" class="plain-button">Streets toolkit</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out how to apply for Local Implementation Plan (LIP) funding";}
        
            
        


 