
    
  



@{ViewBag.Title = "Low Emission Neighbourhoods";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/boroughs/low-emission-neighbourhoods";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/boroughs/index">Boroughs and communities</a></li>
                
            
                 <li><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></li>
                
            
            
                <li><span class="last-breadcrumb">Low Emission Neighbourhoods</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Low Emission Neighbourhoods</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        A low emission neighbourhood (LEN) is a scheme aimed at improving air quality and promoting sustainable living in a particular area.
        
      </div>
    
    
      <p>Measures in a LEN can range from building up the infrastructure for ultra low emission vehicles to projects that make it easier for people to move around by bike or on foot.</p>

<p>They can also help to improve the health and wellbeing of local communities by&nbsp;reducing&nbsp;noise and social isolation and bringing communities back together when they have been divided by features such as busy roads.</p>
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/low-emission-neighbourhoods-page_rdax_400x250.jpg" alt="Low Emission Neighbourhoods logo" />
        
        
        
    </div>
    <p>We are working with the GLA and the London boroughs to improve air quality through projects funded by the &pound;20m <a href="https://www.london.gov.uk/what-we-do/environment/pollution-and-air-quality/mayors-air-quality-fund">Mayor's Air Quality Fund (MAQF)</a>.</p>

<p>As part of MAQF, we are supporting 4 LENs in line with the <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Healthy Streets Approach</a> in the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a>:</p>

<ul>
	<li><a href="https://www.cityoflondon.gov.uk/business/environmental-health/environmental-protection/air-quality/Pages/Low-Emission-Neighbourhood.aspx">Barbican</a> (City of London)</li>
	<li><a href="https://zeroemissionsnetwork.com/len">City Fringe (Shoreditch)</a> (Hackney, Islington and Tower Hamlets)</li>
	<li><a href="http://royalgreenwich.gov.uk/lowemissionneighbourhood">Greenwich Town Centre</a> (Greenwich)</li>
	<li><a href="http://marylebonelen.org/">Marylebone</a> (Westminster)</li>
</ul>

<p>Featured schemes in a LENs can include:</p>

<ul>
	<li>Car-free days</li>
	<li>Smaller green spaces such as pocket parks</li>
	<li>Green cover including vegetation on roofs</li>
	<li>Behaviour change initiatives</li>
	<li>No idling zones</li>
	<li>Coordinated deliveries</li>
	<li>Electric vehicles</li>
</ul>

<h2>Upcoming LENs</h2>

<p>New LENs have been awarded funds:</p>

<ul>
	<li>LEN16, centred around Stoke Newington Church Street (Hackney)</li>
	<li>Low Emission Camden Town (Camden)</li>
	<li>'Greening the Fiddlers': Becontree Heath LEN (Barking and Dagenham)</li>
	<li>Walworth Low Emission Neighbourhood (LEN) (Southwark)</li>
	<li>Ilford Garden Junction (Newham and Redbridge)</li>
</ul>

<p>The total LEN budget is &pound;13m including &pound;7m from the MAQF and the Ultra Low Emission Zone along with committed match funding from boroughs and private sector.</p>
 </div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/low-emissions-neighbourhoods-poster.pdf">
    <div class="document-download-text">
        <p>Download the Low Emissions Neighbourhoods poster</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.81MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.81 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/boroughs/index" class="heading">
                    <h2 id="sub-menu-heading">Boroughs and communities<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/information-by-borough">Your borough</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/borough-funding">Funding for your borough</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/professional-services-frameworks">Professional services frameworks</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/boroughs/low-emission-neighbourhoods">Low Emission Neighbourhoods</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/cycling-toolkit">Cycling toolkit</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/legible-london">Legible London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/bus-lane-database">Bus lane database</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/walking-and-cycling-community-ideas">Walking and cycling community ideas</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/workplace-parking-levies">Workplace Parking Levies</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/zero-emission-zones">Zero Emission Zones</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We're helping some London boroughs improve air quality by supporting their Low Emission Neighbourhoods";}
        
            
        


 