
    
  



@{ViewBag.Title = "Major Schemes";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/boroughs/major-schemes";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/boroughs/index">Boroughs and communities</a></li>
                
            
                 <li><a href="/info-for/boroughs/borough-funding">Funding for your borough</a></li>
                
            
                 <li><a href="/info-for/boroughs/local-implementation-plans">Local Implementation Plans</a></li>
                
            
            
                <li><span class="last-breadcrumb">Major Schemes</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Major Schemes</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The focus of the Major Schemes Programme is on high value schemes (costing more than &pound;1m) that help to deliver the 2013 Mayor's Cycling Vision document and which support the Better Streets agenda.
        
      </div>
    
    <div class="on-this-page">
      
        <p>Funding for Major Schemes is awarded through a competitive bidding process. This follows a three-step progression described in detail in the Guidance for Submission of Major Schemes.</p>
    
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/major-schemes-guidance-2012.pdf">
    <div class="document-download-text">
        <p>Guidance on submission of LIP Major Schemes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.55MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.55 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/major-schemes-application-form.xlsx">
    <div class="document-download-text">
        <p>Major Schemes application form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 31KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/major-schemes-ready-reckoner.pdf">
    <div class="document-download-text">
        <p>Major Schemes ready reckoner</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 110KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/boroughs/index" class="heading">
                    <h2 id="sub-menu-heading">Boroughs and communities<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/information-by-borough">Your borough</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/boroughs/borough-funding">Funding for your borough</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/boroughs/local-implementation-plans">Local Implementation Plans</a></div>
                                        <ul>
                                            
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/boroughs/major-schemes">Major Schemes</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/boroughs/evaluations-programmes">Monitoring & research</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/liveable-neighbourhoods">Liveable Neighbourhoods </a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Under the Major Schemes programme we have provided funding for large projects, particularly to improve streets and cycling facilities";}
        
            
        


 