
    
  



@{ViewBag.Title = "Planning & resources";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/boroughs/planning-and-resources";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/boroughs/index">Boroughs and communities</a></li>
                
            
            
                <li><span class="last-breadcrumb">Planning & resources</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Planning & resources</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                <p>We work with the boroughs to help plan London's traffic infrastructure. We also offer materials that borough officers can use to get involved in our campaigns and schemes.
</p>
                </div>
            </div>
        
         
        
        
        
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div class="news-teaser">

    <a href="/info-for/urban-planning-and-construction/our-role-in-planning?intcmp=3484" >
        <img src="/cdn/static/cms/images/promos/box-junction_rdax_400x200.jpg" alt="Box junction" />
        
        <div class="text-link">
             <h2>Our role in planning </h2>
            <p>Find out how we can help you with planning in London </p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/boroughs/low-emission-neighbourhoods?intcmp=49659" >
        <img src="/cdn/static/cms/images/promos/low-emission-neighbourhood-logo-teaser_rdax_400x200.jpg" alt="low emission neighbourhoods logo" />
        
        <div class="text-link">
             <h2>Low Emission Neighbourhoods</h2>
            <p>We're helping boroughs create areas the highlight air quality improvement schemes</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/boroughs/professional-services-frameworks?intcmp=28546" >
        <img src="/cdn/static/cms/images/promos/engineering-eal-opens_rdax_400x200.jpg" alt="Engineer on Emirates Air Line" />
        
        <div class="text-link">
             <h2>Professional services frameworks</h2>
            <p>Our 5 frameworks help borough procure external consultants</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/urban-planning-and-construction/index?intcmp=94" >
        <img src="/cdn/static/cms/images/promos/new-development-1_rdax_400x200.jpg" alt="Busy London street with new development on right hand side" />
        
        <div class="text-link">
             <h2>Urban planning and construction</h2>
            <p>Get help with your new development and see how we protect our infrastructure</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/boroughs/legible-london?intcmp=16006" >
        <img src="/cdn/static/cms/images/promos/monolith-croydon-350_rdax_400x200.jpg" alt="Legible London monolith in Croydon" />
        
        <div class="text-link">
             <h2>Legible London</h2>
            <p>Find out how to include Legible London in your borough</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/boroughs/cycling-toolkit?intcmp=17799" >
        <img src="/cdn/static/cms/images/promos/green-cycle-traffic-light_rdax_400x200.jpg" alt="cycle traffic light" />
        
        <div class="text-link">
             <h2>Cycling toolkit</h2>
            <p>We can help you promote cycling in your borough</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/safety-and-security/road-safety/vision-zero-for-london?intcmp=54158" >
        <img src="/cdn/static/cms/images/promos/vision-zero-promo-02_rdax_400x200.jpg" alt="A busy high street with mixed traffic moving at safe speeds" />
        
        <div class="text-link">
             <h2>Vision Zero for London</h2>
            <p>Together we can eradicate deaths and serious injuries from our roads</p>
        </div>
    </a>
</div>
 
 <div class="vertical-button-container">



<a href="/info-for/urban-planning-and-construction/planning-applications/community-infrastructure-levy"  class="plain-button">Community Infrastructure Levy</a>


<a href="/corporate/about-tfl/corporate-and-social-responsibility/transport-and-health"  class="plain-button">Transport &amp; healthcare</a>


<a href="/corporate/about-tfl/how-we-work/planning-for-the-future/encouraging-cycling-and-walking"  class="plain-button">Encouraging walking and cycling</a>


<a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/roadworks-and-street-faults"  class="plain-button">Roadworks &amp; street faults</a>

</div>
<div class="vertical-button-container">



<a href="/corporate/publications-and-reports/streets"  class="plain-button">Streets</a>


<a href="/maps_/maps"  class="plain-button">CCZ/LEZ maps</a>

</div>

                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/boroughs/index" class="heading">
                    <h2 id="sub-menu-heading">Boroughs and communities<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/information-by-borough">Your borough</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/borough-funding">Funding for your borough</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/professional-services-frameworks">Professional services frameworks</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/low-emission-neighbourhoods">Low Emission Neighbourhoods</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/cycling-toolkit">Cycling toolkit</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/legible-london">Legible London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/bus-lane-database">Bus lane database</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/walking-and-cycling-community-ideas">Walking and cycling community ideas</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/workplace-parking-levies">Workplace Parking Levies</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/zero-emission-zones">Zero Emission Zones</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>
        <div class="module-grid clearfix">
          
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/streets" class="plain-button">Pedestrian Countdown guidelines</a>
<a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets" class="plain-button">Healthy Streets toolkit </a>
<a href="/corporate/publications-and-reports/streets-toolkit" class="plain-button">Streets design toolkit</a>
<a href="/modes/dial-a-ride/index" class="plain-button">Dial-a-Ride</a>
    </div>
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = " We plan London's traffic infrastructure alongside the boroughs - we also support borough officers with materials related to our campaigns and schemes";}
        
            
        


 