
    
  



@{ViewBag.Title = "Professional services frameworks";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/boroughs/professional-services-frameworks";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/boroughs/index">Boroughs and communities</a></li>
                
            
                 <li><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></li>
                
            
            
                <li><span class="last-breadcrumb">Professional services frameworks</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Professional services frameworks</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Our Professional services frameworks (PSFs) are a suite of five frameworks designed to help bodies like the London boroughs procure external consultancy services more quickly and cost effectively. They are replacing the Engineering & project management framework.
        
      </div>
    
    
      <p>The PSFs are:</p>
<ul>
    <li>Project &amp; programme management and commercial services</li>
    <li>Rail engineering (not available for London boroughs)</li>
    <li>Transport planning &amp; impact monitoring</li>
    <li>Health &amp; safety services and environmental services</li>
    <li>Multi disciplinary services</li>
</ul>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/psfw-briefing-document-july-2015.pdf">
    <div class="document-download-text">
        <p>About the Professional services frameworks</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 25KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 
</div>

</div>
 <div>

<h2>Briefing packs/agreement templates</h2>
<p>Each framework comes with a briefing pack which includes information and documents needed to make use of the framework, including:</p>
<ul>
    <li>Framework award by supplier</li>
    <li>Framework award by sub category</li>
    <li>Company account manager details</li>
    <li>Framework scope</li>
    <li>Grade definitions</li>
    <li>Call off schedules</li>
</ul>
<p>A template of the agreement for each framework is also included.</p>
</div>
 
<div>




<h3>Project &amp; programme management and commercial services</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/ppmcs-briefing-pack-july-2015.docx">
    <div class="document-download-text">
        <p>Project & programme management and commercial services framework briefing pack</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 216KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ppmcs-template-framework-agreement.pdf">
    <div class="document-download-text">
        <p>Template of Project & programme management and commercial services framework agreement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.91MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.91 -->
 
</div>

</div>
 
<div>




<h3>Transport planning &amp; impact monitoring</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/tpim-briefing-pack-july-2015.docx">
    <div class="document-download-text">
        <p>Transport planning & impact monitoring briefing pack</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 227KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tpim-template-framework-agreement.pdf">
    <div class="document-download-text">
        <p>Template of Transport planning & impact monitoring framework agreement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.97MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.97 -->
 
</div>

</div>
 
<div>




<h3>Health &amp; safety services and environmental services</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/hse-briefing-pack.docx">
    <div class="document-download-text">
        <p>Health & safety services and environmental services framework briefing pack</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 238KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/hse-template-framework-agreement.pdf">
    <div class="document-download-text">
        <p>Template of Health & safety services and environmental services</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.04MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.04 -->
 
</div>

</div>
 
<div>




<h3>Multi disciplinary services</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mds-template.pdf">
    <div class="document-download-text">
        <p>Template of Multi disciplinary services</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.41MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.41 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/boroughs/index" class="heading">
                    <h2 id="sub-menu-heading">Boroughs and communities<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/information-by-borough">Your borough</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/borough-funding">Funding for your borough</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/boroughs/professional-services-frameworks">Professional services frameworks</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/low-emission-neighbourhoods">Low Emission Neighbourhoods</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/cycling-toolkit">Cycling toolkit</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/legible-london">Legible London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/bus-lane-database">Bus lane database</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/walking-and-cycling-community-ideas">Walking and cycling community ideas</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/workplace-parking-levies">Workplace Parking Levies</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/zero-emission-zones">Zero Emission Zones</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We've created five procurement frameworks. London boroughs can use four of them to hire consultants more quickly and cheaply";}
        
            
        


 