
    
  



@{ViewBag.Title = "Walking and cycling community ideas";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/boroughs/walking-and-cycling-community-ideas";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/boroughs/index">Boroughs and communities</a></li>
                
            
                 <li><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></li>
                
            
            
                <li><span class="last-breadcrumb">Walking and cycling community ideas</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Walking and cycling community ideas</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We have created tools to share ideas and learnings from simple and effective walking and cycling projects. These ideas can be easily replicated by other community groups to encourage London's diverse communities to walk and cycle more often.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/tfl-getting-active-cyclists_rdax_400x250.jpg" alt="women cyclists - tfl getting active cyclists" />
        
        
        
    </div>
    <h2>Project guides</h2>

<p>Our aim is to make walking and cycling accessible to all, and to encourage Londoners to increase their participation in walking and cycling.</p>

<p>We've selected case studies from the <a href="http://walkingandcyclinggrants.london/page/about-us">Walking and Cycling Grants London scheme</a> which could be easily implemented in other London boroughs, and turned them into project guides. Each guide details the resources and requirements, likely costs, and hints and tips to enable you to run the project.</p>
 </div>
 
<div>



<h2>Cycling to improve mental health</h2>


<p>The 'Cycling to improve mental health' project aims to encourage and engage people with mental health issues to cycle, building cycle confidence and skills.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cih-case-study-cycling-to-improve-mental-health.pdf">
    <div class="document-download-text">
        <p>Cycling to improve mental health guide</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 253KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 
</div>

</div>
 
<div>



<h2>Family cycling adventure</h2>


<p>The 'Family cycling adventure' project enables primary school children and their parents to develop and practice their cycling skills. The programme is targeted at families who do not currently cycle or have never cycled before.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cih-case-study-family-cycling-adventure.pdf">
    <div class="document-download-text">
        <p>Family cycling adventure guide</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 177KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 
</div>

</div>
 
<div>



<h2>Cycling for homeless people</h2>


<p>The 'Cycling for homeless people' project aims to increase levels of physical activity for people who are homeless, or at risk of becoming homeless. This project offers learn-to-ride, bike maintenance and led-ride sessions at homeless shelters and hostels.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cih-case-study-cycling-for-homeless-people.pdf">
    <div class="document-download-text">
        <p>Cycling for homeless people guide</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 263KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 
</div>

</div>
 
<div>



<h2>Bike recycling</h2>


<p>The 'Bike recycling' project targets small groups of secondary school students, with the aim of teaching bike maintenance skills. The sessions are practical, teaching students to repair broken and unwanted bikes donated from the community.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cih-case-study-bike-recycling.pdf">
    <div class="document-download-text">
        <p>Bike recycling guide</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 283KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 
</div>

</div>
 
<div>



<h2>Volunteering on your bike</h2>


<p>'Volunteering on your bike' creates a network of volunteer participants to use cycling as a mode of transport while helping their local communities. The network of volunteers can come from a range of communities, ethnicities, backgrounds, ages and cycling skills. This is a great way to empower participants as they learn to cycle more confidently, while helping others in their local area.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cih-case-study-volunteering-on-your-bike.pdf">
    <div class="document-download-text">
        <p>Volunteering on your bike guide</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 192KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 
</div>

</div>
 
<div>



<h2>Safe cycle playground</h2>


<p>A supervised 'Safe cycle playground' allows children aged three to 10 years old to have fun while learning the rules of the road in a safe environment. A mini version of a road network, including replicas of items such as stop signs, give way signs, roundabouts and speed bumps, lets children build an understanding of how road users and pedestrians interact, and how they can stay safe.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cih-case-study-safe-cycle-playground.pdf">
    <div class="document-download-text">
        <p>Safe cycle playground guide</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 177KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 
</div>

</div>
 
<div>



<h2>Cycling for hospital staff</h2>


<p>'Cycling for hospital staff' encourages and trains hospital workers to cycle to work, and is targeted primarily at women who do low-paid shift work. Many of these workers are not confident riding a bike, either because they haven't ridden in a long time or they never learned. This project can promote the benefits of cycling, such as free and sustainable transport, health and wellbeing.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cih-case-study-cycling-for-hospital-staff.pdf">
    <div class="document-download-text">
        <p>Cycling for hospital staff guide</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 257KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 
</div>

</div>
 
<div>



<h2>Cycling for the over 50s</h2>


<p>The 'Cycling for the over 50s' project offers beginner cycling courses tailored to men and women over 50. This group is significantly under-represented in cycling, often because of barriers such as fitness, health problems and cost. Not only will this project increase their physical activity, it will also showcase cycling as a cheaper and more convenient alternative to driving. It also includes the added benefits of improving mental wellbeing.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cih-case-study-cycling-for-the-over-50s.pdf">
    <div class="document-download-text">
        <p>Cycling for the over 50s guide</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 261KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 
</div>

</div>
 
<div>



<h2>Cycling with a disability</h2>


<p>The 'Cycling with a disability' project provides cycling training and maintenance sessions for people with learning and communication disabilities, and their families. The aim of the sessions is to improve participants' physical, mental and social well-being.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cih-case-study-cycling-with-a-disability.pdf">
    <div class="document-download-text">
        <p>Cycling with a disability guide</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 305KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 
</div>

</div>
 
<div>



<h2>Share your own walking and cycling project</h2>


<p>If you know of a walking or cycling community project or idea which could be easily replicated, we want to hear from you. Download the 'Community ideas' template and send your completed from to: <a href="mailto:communityideashub&#64;tfl.gov.uk">communityideashub&#64;tfl.gov.uk</a></p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/cih-case-study-template.docx">
    <div class="document-download-text">
        <p>Community ideas template</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 2.49MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.49 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/boroughs/index" class="heading">
                    <h2 id="sub-menu-heading">Boroughs and communities<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/information-by-borough">Your borough</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/borough-funding">Funding for your borough</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/professional-services-frameworks">Professional services frameworks</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/low-emission-neighbourhoods">Low Emission Neighbourhoods</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/cycling-toolkit">Cycling toolkit</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/legible-london">Legible London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/bus-lane-database">Bus lane database</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/boroughs/walking-and-cycling-community-ideas">Walking and cycling community ideas</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/workplace-parking-levies">Workplace Parking Levies</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/zero-emission-zones">Zero Emission Zones</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We want to help boroughs and communities share ideas about promoting cycling and walking";}
        
            
        


 