
    
  



@{ViewBag.Title = "Workplace Parking Levies";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/boroughs/workplace-parking-levies";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/boroughs/index">Boroughs and communities</a></li>
                
            
                 <li><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></li>
                
            
            
                <li><span class="last-breadcrumb">Workplace Parking Levies</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Workplace Parking Levies</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We have tools and guidance to help boroughs put Workplace Parking Levies in place.
        
      </div>
    
    <div class="on-this-page">
      <p>A Workplace Parking Levy (WPL) is a charge on employers and education&nbsp;organisations for the number of parking places they provide that are regularly used by employees, students or others.</p>

<p>WPLs are used to encourage commuters to switch away from using private vehicles to get to work or school - this will help us meet the Mayor's aim that 80% of trips in London be made by walking, cycling or by public transport by 2041. The revenue raised will be spent on improving local transport.</p>

<p>The Mayor of London's&nbsp;support for&nbsp;boroughs planning to&nbsp;introduce WPLs as part of their traffic reduction strategies is set out in Proposal 23 of the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a>.</p>

<p>Boroughs that want to develop a WPL should review the statutory guidance. A model Scheme Order (and accompanying Explanatory Note for boroughs) is also available - contact us on the email below.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/wpl-mayors-guidance-jan2020.pdf">
    <div class="document-download-text">
        <p>Mayor's guidance on WPL</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 883KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.86 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/step-by-step.pdf">
    <div class="document-download-text">
        <p>Step-by-step guide to developing a WPL</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 214KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/wpl-faqs-january-2020.pdf">
    <div class="document-download-text">
        <p>Frequently asked questions on WPLs</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 266KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/demand-modelling-report-for-wpls.pdf">
    <div class="document-download-text">
        <p>Modelling the impact of WPLs in London</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.39MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.39 -->
 
</div>

</div>
 
<div>




<p>Our advice notes can help boroughs&nbsp;take the first steps to creating a&nbsp;WPL.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/advice-note-one-carrying-out-an-initial-parking-survey.pdf">
    <div class="document-download-text">
        <p>Advice note one &#45; Carrying out an initial parking survey</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 94KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/advice-note-two-description-and-impacts-of-nottingham-city-council-wpl.pdf">
    <div class="document-download-text">
        <p>Advice note two - Description and impacts of the Nottingham City Council WPL</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 100KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/advice-note-three-business-survey-toolkit.pdf">
    <div class="document-download-text">
        <p>Advice note three - Business survey toolkit</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 90KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 
</div>

</div>
 <div>

<p>We can help interested boroughs build the evidence base for a new scheme and ensure it meets the requirements of the Mayor's Transport Strategy.</p>

<p>Our information on <a href="/info-for/business-and-commercial/smart-commuting">Smart commuting</a>&nbsp;can also help with the implementation of a WPL.</p>

<h2>Contact us</h2>

<p>We can help you plan the WPLs in your borough.</p>

<p>Email: <a href="mailto:wpl&#64;tfl.gov.uk">wpl&#64;tfl.gov.uk</a></p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/boroughs/index" class="heading">
                    <h2 id="sub-menu-heading">Boroughs and communities<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/information-by-borough">Your borough</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/borough-funding">Funding for your borough</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/professional-services-frameworks">Professional services frameworks</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/low-emission-neighbourhoods">Low Emission Neighbourhoods</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/cycling-toolkit">Cycling toolkit</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/legible-london">Legible London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/bus-lane-database">Bus lane database</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/walking-and-cycling-community-ideas">Walking and cycling community ideas</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/boroughs/workplace-parking-levies">Workplace Parking Levies</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/zero-emission-zones">Zero Emission Zones</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We have guidance materials available to help your borough set up a Workplace Parking Levy";}
        
            
        


 