
    
  



@{ViewBag.Title = "Zero Emission Zones";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/boroughs/zero-emission-zones";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/boroughs/index">Boroughs and communities</a></li>
                
            
                 <li><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></li>
                
            
            
                <li><span class="last-breadcrumb">Zero Emission Zones</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Zero Emission Zones</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We have tools and guidance to help boroughs put Zero Emission Zones in place.
        
      </div>
    
    
      <p>In a Zero Emission Zone (ZEZ)&nbsp;vehicles are subject to restrictions on exhaust emissions beyond those in&nbsp;the <a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone">Ultra Low Emission Zone</a> or <a href="https://tfl.gov.uk/modes/driving/low-emission-zone">Low Emission Zone</a>.</p>

<p>ZEZs can help improve local air quality while encouraging a switch to zero-emission vehicles, walking, cycling and public transport use. This will help to support the Mayor's goal that by 2050 London will become a zero-carbon city.</p>

<p>The Mayor's commitment to supporting boroughs to introduce ZEZs is set out in policies 5 and 7 and proposals 21 and 35 in the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a>.</p>

<p>We have published guidance for boroughs looking to introduce local ZEZs based around two approaches: <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Healthy Streets</a> or local air quality hotspots.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-guidance-for-local-zero-emission-zones.pdf">
    <div class="document-download-text">
        <p>Guidance on local Zero Emission Zones</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 571KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.56 -->
 
</div>

</div>
 <div>

<h2>Contact us</h2>

<p>Contact the Local Communities &amp; Partnerships officer for your area for more information on how we can help you plan ZEZs in your borough.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/boroughs/index" class="heading">
                    <h2 id="sub-menu-heading">Boroughs and communities<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/information-by-borough">Your borough</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/borough-funding">Funding for your borough</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/professional-services-frameworks">Professional services frameworks</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/low-emission-neighbourhoods">Low Emission Neighbourhoods</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/cycling-toolkit">Cycling toolkit</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/legible-london">Legible London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/bus-lane-database">Bus lane database</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/walking-and-cycling-community-ideas">Walking and cycling community ideas</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/workplace-parking-levies">Workplace Parking Levies</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/boroughs/zero-emission-zones">Zero Emission Zones</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Get help with planning a Zero Emission Zone in your borough to help improve air quality and encourage a switch to more sustainable transport";}
        
            
        


 