
    
  



@{ViewBag.Title = "Tube";}
@{ViewBag.Keywords = "Tube ,TfL,thisisatest";}
@{ViewBag.Url = "/modes/tube/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">Tube</span></li>
            
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container landing-page section-landing-container with-logo">
        <h1>Tube</h1>
        
        <div class="heading-logo">
            <img src="/cdn/static/cms/images/logos/tube-partner.png" alt="Tube logo" />
        </div>
        
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">
        <div class="small-medium" data-set="widget"></div>
        <div class="primary-teaser landing-page-teaser">
            <div class="news-teaser tube">
  
  <a href="/campaign/tube-improvements?intcmp=1251"  data-img="/cdn/static/cms/images/promos/revealing-underground-livery.jpg" data-img-breakpoint="medium" data-img-alt="worker revealing underground sign on side of tube train">
    <img src="/cdn/static/cms/images/promos/revealing-underground-livery_rdax_600x300.jpg" alt="worker revealing underground sign on side of tube train" />
    <div class="text-link sit-top">
      <h2>How we're improving the Tube</h2>
      <p>Including new easy-to-use ticket machines. Piece of cake</p>
    </div>
  </a>
</div>

 
        </div>
        
        <div class="clearfix">
            

<div class="search-filter">
    <h3>Find a Tube station</h3>
    <p>For live departures, status information, route maps and timetables</p>
    @{
         Html.RenderAction("SearchFilter", "Modules", new
         {
              actionUrl = Library.DisambiguationSettings.DisambiguationUrl,
              buttonText = "Go",
              dataSets = new string[][]
              {
                   new[]{ Library.DisambiguationDataSets.StopPoints, "/{{mode}}/stop/{{naptanId}}/{{stopName}}/" },
                   new[]{ Library.DisambiguationDataSets.Routes, "/{{mode}}/route/{{lineIds}}/" }
              },
              modes = Library.MeansOfTransport.Tube,
              placeHolderText = "Tube station or line (e.g. Victoria)"
         });
    }
</div>             
 
        </div>
        <div class="module-grid clearfix">
            <div class="news-teaser">

    <a href="/transport-accessibility/please-offer-me-a-seat?intcmp=46988" >
        <img src="/cdn/static/cms/images/promos/pomas_rdax_400x200.jpg" alt="Please offer me a seat badge image" />
        
        <div class="text-link">
             <h2>Please offer me a seat</h2>
            <p>We've launched a new badge and card to help people who are less able to stand</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">
    <div class="text-link">
        
        
        
        <h2>Walking between stations</h2>
        
        
        Sometimes it's quicker to walk. See our maps and guide for Zones 1-2.
        <div class="multi-document-download-container">
            

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/walking-tube-map.pdf">
    <div class="document-download-text">
        <p>Walking times between Tube stations</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 621KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.61 -->
 
        </div>
        
    </div>
</div>



 <div class="news-teaser">

    <a href="/status-updates/planned-track-closures?intcmp=54286" >
        
        
        <div class="text-link">
             <h2>Service changes</h2>
            <p>Check for planned line closures and service changes</p>
        </div>
    </a>
</div>
 
 <div class="vertical-button-container">



<a href="/campaign/tube-improvements"  class="plain-button">Tube improvements</a>


<a href="/modes/tube/first-and-last-tube"  class="plain-button">First &amp; last Tubes</a>


<a href="http://art.tfl.gov.uk/"  class="plain-button">Art on the Underground</a>


<a href="/corporate/about-tfl/culture-and-heritage/poems-on-the-underground"  class="plain-button">Poems on the Underground</a>

</div>
<div class="vertical-button-container">



<a href="/fares/index"  class="plain-button">Fares</a>


<a href="/transport-accessibility/index"  class="plain-button">Transport accessibility</a>


<a href="/campaign/station-wifi"  class="plain-button">Station WiFi</a>


<a href="https://tfl.gov.uk/modes/driving/tube-station-car-parks"  class="plain-button">Tube station car parks</a>


<a href="/modes/cycling/cycles-on-public-transport"  class="plain-button">Bikes on public transport</a>

</div>

        </div>
    </div>
    <div class="aside" role="complementary">
        <div class="large" data-set="widget">
            <div class="moving-source-order">
            

                <div class="widget-wrapper">

                        <div class="board-wrapper service-board-collapsed">
                            @{ Html.RenderAction("StatusBoard", "StatusUpdates", new { modes = Library.MeansOfTransport.TubeDlrOvergroundTflRail, collapsed = true, isHomeOrModePageStatusBoard = true }); }
                        </div>


                </div>
             
 
            </div>
        </div>
        <div class="module-grid">
            












<div class="advert-tile unsponsored-style google-ads">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/tube" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
            <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us</h3>
        </div>
                                                         
        <div class="content-group">
            <p>We're open 24 hours a day, 7 days a week.</p>
        </div>
        
        
            
        
        
            
                
        
        
        <div class="content-group">
            <p>
                <abbr title="Chat">Chat</abbr><br />
                 
        On <a href="https://m.me/transportforlondon">Facebook</a> or <a href="https://twitter.com/messages/compose?recipient_id=47319664">Twitter</a>
        
        
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Telephone number">Call</abbr>&nbsp;<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges apply</a><br />
                0343 222 1234 (Lost Property: 020 7363 9550)
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Textphone">Textphone</abbr><br />
                0800 112 3456
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p><a href="/help-and-contact/contact-us-about-tube-and-rail">Fill in a general enquiries form</a> <br /><a href="/help-and-contact/contact-us-about-tube-and-rail-staff">Give feedback about staff</a><br />Or send a letter to:</p>
        </div>
        
        
        <div class="content-group">
            <p>TfL Customer Services&nbsp;<br />
4th Floor<br />
14 Pier Walk<br />
London SE10 0ES</p>
        </div>
        
    </div>
</div>
 <div class="related-links">

    <h3>Use our travel tools to check your travel</h3>
<p>On social media, email or the website, our travel tools can help you get around</p>
<div class="vertical-button-container">

<a href="/status-updates/travel-tools" class="plain-button">Travel tools</a>
    </div>
</div>
 <div class="follow-social email">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>Email updates</h3>
    <p>Hop aboard the TfL email service for updates, personalised offers and promotions</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="/travel-information/social-media-and-email-updates/email-updates">Register</a>
  </div> 
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.londontravelwatch.org.uk/home/" class="plain-button">London TravelWatch</a>
    </div>
</div>
 
        </div>
    </div>
    <div class="small-medium" data-set="content">&nbsp;</div>
</div>
 
        
        
        
            @{ViewBag.Description = "Travel information for all London Tube lines: maps, timetables and fares";}
        
            
        


 