
    
  



@{ViewBag.Title = "Dial-a-Ride Friends";}
@{ViewBag.Keywords = "Dial a Ride passengers,Public,D,Dial a ride ,TfL";}
@{ViewBag.Url = "/modes/dial-a-ride/dial-a-ride-friends";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/dial-a-ride/index">Dial-a-Ride</a></li>
                
            
            
                <li><span class="last-breadcrumb">Dial-a-Ride Friends</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Dial-a-Ride Friends</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Dial-a-Ride Friends is our new service for people who are not members of Dial-a-Ride themselves. It keeps you up-to-date with our latest news, seasonal booking arrangements and how to best contact us with any queries.
        
      </div>
    
    
      
      
           
      <div>

<p>So if you belong to a club, or attend an activity or meeting where the organisers might be interested in receiving In Touch magazine and other Dial-a-Ride information, this might be the service for you. </p>
<h2>How to become a Dial-a-Ride Friend</h2>
Just email us at <a href="mailto:DAR&#64;tfl.gov.uk?Subject=Dial-a-Ride%20Friends">DAR&#64;tfl.gov.uk</a> with the subject 'Dial-a-Ride Friends'. We will then send you a regular electronic copy of our <strong>In Touch</strong> magazine plus any other updates about Dial-a-Ride and related transport services that you might find useful.
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/dial-a-ride/index" class="heading">
                    <h2 id="sub-menu-heading">Dial-a-Ride<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/modes/dial-a-ride/bookings">Bookings</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/dial-a-ride/membership">Membership</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/dial-a-ride/on-your-journey">On your journey</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/dial-a-ride/making-the-most-of-dial-a-ride">Making the most of Dial-a-Ride</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/modes/dial-a-ride/dial-a-ride-friends">Dial-a-Ride Friends</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/dial_a_ride" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/dial_a_ride" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Details of email service for people who are not members of Dial-a-Ride themselves";}
        
            
        


 