
    
  



@{ViewBag.Title = "Making the most of Dial-a-Ride";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/dial-a-ride/making-the-most-of-dial-a-ride";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/dial-a-ride/index">Dial-a-Ride</a></li>
                
            
            
                <li><span class="last-breadcrumb">Making the most of Dial-a-Ride</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Making the most of Dial-a-Ride</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Tips for booking, timing and travelling.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>Dial-a-Ride works better for certain types of journey.</p>

<h3>Keep your journey local</h3>

<p>We prioritise local journeys so that we can provide as many short, but essential, journeys as possible for our members, such as to the doctor, dentist and local shops.</p>

<h3>Be flexible about the time</h3>

<p>It is more likely that we will be able to find a space in our schedules for your journey if you can give us as many different times to choose from as possible. For example, asking for a local journey anytime in the morning or anytime in the afternoon will increase your chances of success.</p>

<h3>Book the day before</h3>

<p>Dial-a-Ride works best when you make next day bookings. If you request a journey on the day itself, the schedules are likely to be full from the previous day's booking requests and your success will depend on any cancellations we receive overnight.</p>

<h3>Be prepared for a slower journey</h3>

<p>Dial-a-Ride usually provides a shared journey on a minibus, with other passengers who may be dropped off at destinations on the way to your own. This means our journeys will usually take longer than if you were going on your own in a private car or a taxi.</p>

<h3>If you need extra help</h3>

<p>Because Dial-a-Ride provides shared journeys, passengers can be left unattended in a vehicle for up to 10 minutes with the door open while the driver is helping another person to or from the vehicle. If you need to be accompanied at all times - for example, because you experience confusion, memory loss, or you potentially need essential personal care whilst travelling - you will need to be accompanied by someone over the age of 18 who can act as your escort.</p>

<h3>Using other services</h3>

<p>There are other door-to-door services available for hospital appointments, for school transport for under 18s and for local authority-provided day care services, so Dial-a-Ride does not provide transport for these purposes.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/dial_a_ride" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/dial_a_ride" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How to make the most of TfL's Dial-a-Ride service";}
        
            
        


 