
    
  



@{ViewBag.Title = "Membership";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/dial-a-ride/membership";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/dial-a-ride/index">Dial-a-Ride</a></li>
                
            
            
                <li><span class="last-breadcrumb">Membership</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Membership</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        You have to become a member to use Dial-a-Ride.
        
      </div>
    
    <div class="on-this-page">
      
    
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/driver-customer_rdax_400x250.jpg" alt="Dial-a-Ride driver and customer " />
        
        
        
    </div>
    <h2>Becoming a member</h2>

<p>You must have a permanent or long-term disability which means you are unable to use public transport.</p>

<p>You are automatically eligible for membership if you are:</p>

<ul>
	<li>A Taxicard member</li>
	<li>Getting the Higher Rate Mobility Component of Disability Living Allowance</li>
	<li>Getting the Standard or Enhanced Mobility Rate of the Personal Independence Payment (PIP)</li>
	<li>Registered blind or partially sighted</li>
	<li>Aged 85 or over</li>
	<li>Getting a Higher Rate Attendance Allowance</li>
	<li>Getting a War Pension Mobility Supplement&nbsp;</li>
</ul>

<p>If none of the above apply to you, you may still be able to join Dial-a-Ride but&nbsp;you will have to undergo a paper-based mobility assessment to establish your eligibility&nbsp;for the service. &nbsp;</p>

<h2>How to apply</h2>

<p>You can apply for Dial-a-Ride if you are a permanent or temporary resident of a London borough. If you are applying for a temporary membership, you will need to provide evidence of using a similar service at your place of residence.</p>

<p>To apply, download the form below, complete it, and post it to:<br />
Dial-A-Ride<br />
Assisted Transport Services<br />
PO Box 68799</p>

<p>You can also phone us on 0343 222 7777 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>) to request an application form.</p>

<p>Find out what will happen <a href="/modes/dial-a-ride/on-your-journey">on your journey</a>.</p>
 </div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dial-a-ride-application-form.pdf">
    <div class="document-download-text">
        <p>Dial-a-Ride application form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 169KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/how-to-fill-in-a-dial-a-ride-application-form.pdf">
    <div class="document-download-text">
        <p>How to fill in a Dial-a-Ride application</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 102KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 
</div>

</div>
 <div>

<h2>Taxicard</h2>

<p>Taxicard is an alternative taxi and minicab&nbsp;service that provides transport for London residents with mobility or sight impairments. <a href="http://www.londoncouncils.gov.uk/services/taxicard/apply-taxicard-your-borough">Find out more about Taxicard</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/dial-a-ride/index" class="heading">
                    <h2 id="sub-menu-heading">Dial-a-Ride<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/modes/dial-a-ride/bookings">Bookings</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/modes/dial-a-ride/membership">Membership</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/dial-a-ride/on-your-journey">On your journey</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/dial-a-ride/making-the-most-of-dial-a-ride">Making the most of Dial-a-Ride</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/dial-a-ride/dial-a-ride-friends">Dial-a-Ride Friends</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/dial_a_ride" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/dial_a_ride" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact Dial-a-Ride</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:DAR&#64;tfl.gov.uk">DAR&#64;tfl.gov.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                <abbr title="Telephone number">Phone</abbr>: 0343 222 7777<br />
                
                
                
                
                <abbr title="Fax number">Fax</abbr>: 020 7394 5218<br />
                
            </p>
            
        <p><a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a></p>
    
        </div>
        
        <div class="content-group">
            
            
            <p>
                
                PO Box 68799<br />
                London SE1P 4RD<br />
                
                
            </p>
            
            
        </div>
        
        
    </div>
</div>
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">


<a href="/modes/taxis-and-minicabs/index" class="plain-button">Taxis &amp; minicabs</a>
<a href="/modes/taxis-and-minicabs/taxicard-and-capital-call" class="plain-button">Taxicard &amp; Capital Call</a>
<a href="/transport-accessibility/community-transport" class="plain-button">Community transport</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Information about Dial-a-Ride membership";}
        
            
        


 