
    
  



@{ViewBag.Title = "On your journey";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/dial-a-ride/on-your-journey";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/dial-a-ride/index">Dial-a-Ride</a></li>
                
            
            
                <li><span class="last-breadcrumb">On your journey</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>On your journey</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Your minibus should arrive within 15 minutes either side of the time you have been given. 
        
      </div>
    
    <div class="on-this-page">
      
    
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/dar-customer_rdax_400x250.jpg" alt="Dial-a-Ride customer" />
        
        
        
    </div>
    <h2>Arrival time</h2>

<p>If you have been waiting more than 15 minutes, you should contact us to find out what is causing the delay.</p>

<h2>Getting help from the driver</h2>

<p>Our drivers are happy to help you get to and from the minibus. If you need help inside your home, please contact your local authority's social services department.</p>

<h2>What you can bring</h2>

<p>Normally up to two average-sized bags of shopping or similar as our minibuses have limited storage space.</p>

<h2>Bringing people with you</h2>

<p>You can bring one person with you, plus any children you have. They must be travelling to and from the same address as you.</p>

<p>If you would like to bring your child or children, we will need to know if they are under 12 years old and less than 135cm (4ft 5in) so the driver can bring a child seat.</p>

<p>Please let us know when you book or we might not be able to take them.</p>
 </div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/dial-a-ride/index" class="heading">
                    <h2 id="sub-menu-heading">Dial-a-Ride<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/modes/dial-a-ride/bookings">Bookings</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/dial-a-ride/membership">Membership</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/modes/dial-a-ride/on-your-journey">On your journey</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/dial-a-ride/making-the-most-of-dial-a-ride">Making the most of Dial-a-Ride</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/dial-a-ride/dial-a-ride-friends">Dial-a-Ride Friends</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/dial_a_ride" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/dial_a_ride" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">


<a href="/modes/taxis-and-minicabs/index" class="plain-button">Taxis &amp; minicabs</a>
<a href="/modes/taxis-and-minicabs/taxicard-and-capital-call" class="plain-button">Taxicard &amp; Capital Call</a>
<a href="/transport-accessibility/community-transport" class="plain-button">Community transport</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Information about Dial-a-Ride journeys";}
        
            
        


 