


@{ViewBag.Title = "Art on the Underground unveils new film commission";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Art on the Underground unveils new film commission</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Art on the Underground unveils new film commission</h1>
        <div class="content-page-press-release">
        28 September 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Film by artists Broomberg and Chanarin at King Cross Underground Station
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"With this new commission, The Bureaucracy of Angels, by Broomberg and Chanarin, we aim to challenge viewers to reconsider issues surrounding migration, a matter that has a particular relevance to London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Eleanor Pinfield</div>
            <div class="quotee-job-title">Head of Art on the Underground</div>
        </div>
</div>

 <div class="on-this-page">
<p>The latest commission from Art on the Underground, a 12 minute film by London-based artists Broomberg and Chanarin, was unveiled today at Kings Cross St Pancras Underground Station.</p>
<p>The film, The Bureaucracy of Angels, records the demolition of 100 migrant boats in Sicily in the winter of 2016. The boats arrived carrying asylum seekers from North Africa and while they entered Europe's asylum system, the boats themselves remained on the forecourt of Porto Pozallo in Sicily before being destroyed.</p>
<p>The film is narrated by the hydraulic jaws of the digger used to destroy the boats. It appears in the narrow corridors of the boat yard, on the open sea and in the midst of a rescue operation off the coast of Libya, as a Cantastoria or 'singing storyteller' recounting a Sicilian ballad about immigration to and from the territory over the last 150 years.</p>
<p>Broomberg and Chanarin have a long history of working in war torn countries and areas of conflict. Their research on migration and movements of people led them to visit Sicily a number of times, where migrants arrive from perilous journeys across the Mediterranean. They filmed the rescue missions by the Migrant Offshore Aid Station (MOAS) foundation off the coast of Libya as well as the destruction of the boats left behind.</p>
<p>MOAS, with whom the artists have an ongoing relationship, is dedicated to mitigating the loss of life to refugees and migrants in distress at sea and, as part of the launch of Broomberg and Chanarin's commission, proceeds from the sale of limited edition prints of the work are being donated to the charity.</p>
<p>During the creation of the commission, which will be shown in a location close to the exit of the Eurostar, Art on the Underground consulted a range of stakeholders to ensure the project is in line with current development and international aid practice. These included Nando Sigona, a leading academic on migrants and refugees at the University of Birmingham, MOAS, Refugee Action and others.</p>
<p>Broomberg and Chanarin said: </p>
<p>'Placing a film into such an environment is challenging. Our goal was to gently disrupt the flow of people sleep-walking to work and back; confronting commuters with a very different kind of journey.'</p>
<p>Eleanor Pinfield, Head of Art on the Underground stated: </p>
<p>'Art on the Underground champions contemporary art in London &#45; reflecting our global city with a global audience by working with artists from around the world. With this new commission, The Bureaucracy of Angels, by Broomberg and Chanarin, we aim to challenge viewers to reconsider issues surrounding migration, a matter that has a particular relevance to London, by going beyond the familiar images we have become so accustomed to in media outlets.'</p>
<p>Regina Catrambone, co-founder of Migrant Offshore Aid Station commented: </p>
<p>'MOAS is grateful for the support it has received from Broomberg and Chanarin, and for their continued efforts to highlight the plight of migrants and refugees crossing the Mediterranean Sea. The Bureaucracy of Angels gives an interesting perspective of the migration phenomenon, focusing on the dilapidated and forgotten migrant vessels. In much the same way, migrants and refugees are forgotten by large sectors of our societies. It is our duty to ensure that their stories are heard and that their voices continue to reach and touch people across the world. We hope that people on their daily commute in the London underground will be touched by this project and will share this experience with others.'</p>
<p>To encourage wider debate around themes of migration and identity Art on the Underground worked with A New Direction, a bridge organisation between cultural institutions and schools, to produce a Learning Resource for 12 &#45; 18 year olds, and a talk, What Should White Culture Do? Contemporary Art and Race, will take place on 10 November at the Royal College of Art.</p>
<hr />
<p>&nbsp;</p>
<p>Notes to Editors:</p>
<ul>
    <li>More information on the commission and limited editions can be found here:  <a href="http://www.art.tfl.gov.uk">www.art.tfl.gov.uk</a></li>
    <li>Further information on the learning guide, produced in partnership with cultural and educational charity A New Direction, can be found here: <a href="https://www.anewdirection.org.uk/">https://www.anewdirection.org.uk/</a></li>
    <li>The Learning Resource will be launched at the Annual Schools Conference on the 10 October.  It will be emailed to all London schools with hard copies available at the conference.  More information here: https://www.anewdirection.org.uk/</li>
    <li>Upcoming Art on the Underground commissions:</li>
</ul>
<ul>
    <li>'Clay Station', a collaboration with artist Matthew Raw and Turner Prize winning architecture collective Assemble, involving the production of over a thousand hand-made tiles as part of the refurbishment of a disused commercial at Seven Sisters Underground Station</li>
    <li>A day Tube pocket map cover by Marc Camille Chaimowicz and a Night Tube pocket map cover by Marianna Simnett.</li>
</ul>
<p>About Broomberg and Chanarin:<br />
Adam Broomberg (born 1970, Johannesburg, South Africa) and Oliver Chanarin (born 1971, London, UK) are artists living and working in London. They are professors of photography at the Hochschule f&uuml;r bildende K&uuml;nste (HFBK) in Hamburg, Germany and The Royal Academy of Art (KABK) at The Hague in The Netherlands. Together they have had numerous solo exhibitions at institutions including Hasselblad Foundation, Gothenburg, Sweden (2017); C/O Berlin, Berlin, Germany (2016); the Baltimore Museum of Art, Baltimore, MD, USA (2016) and the Centre for Contemporary Art Ujazdowski Castle, Warsaw, Poland (2015).</p>
<p>MOAS is a Malta-based registered charity dedicated to mitigating the suffering of people risking their lives to find safety. Since it was founded in 2014, MOAS has grown into an international organisation and has rescued and assisted over 40,000 men, women and children in the Central Mediterranean and Aegean. In response to the escalating Rohingya refugee crisis along the Myanmar and Bangladesh border, in September 2017 MOAS shifted operations to the Bay of Bengal, from where it will work to deliver aid and assistance to displaced Rohingya people.</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-September-Art on the Underground unveils new film commission -->

 
 
        
        
            @{ViewBag.Description = "Art on the Underground unveils new film commission by artists Broomberg and Chanarin at King Cross Underground Station";}
        
        


 