


@{ViewBag.Title = "GLA - Plans for new fully-segregated cycle superhighway";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Plans for new fully-segregated cycle superhighway</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Plans for new fully-segregated cycle superhighway</h1>
        <div class="content-page-press-release">
        28 September 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor unveils plans for Cycle Superhighway 4 will link Tower Bridge to Greenwich with more than 4km of segregated track
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"By bringing this route to an area of such high demand, this superhighway really will open up cycling to thousands more Londoners"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
This press release, issued by the Mayor of London, was first published on <a href="https://www.london.gov.uk/press-releases/mayoral/mayor-unveils-plans-for-new-cycle-superhighway">london.gov.uk</a><br />
<ul>
    <li>New cycle superhighway will bring first high-quality segregated route to south-east London and link to the wider network</li>
    <li>Work also includes five new traffic light pedestrian crossings and the upgrade of more than 20 existing crossings</li>
</ul>
<p>The Mayor of London, Sadiq Khan, has today announced plans to introduce the first high-quality segregated cycle route to south-east London.</p>
<p>Cycle Superhighway 4 will bring safer cycling to the area as it connects Tower Bridge to Greenwich using more than four kilometres of segregated tracks.</p>
<p>The route has been identified as a priority due to the area's high demand for cycling &#45; with nearly 3,500 daily trips already made on the A200 &#45; high potential for more people to take up cycling, and the need for safety improvements, with 93 collisions involving cyclists along this section of the A200 in three years.</p>
<p>The announcement comes a week after the Mayor unveiled a consultation on Cycle Superhighway 9, which will add nearly 6km of new segregated track to the capital's roads between Kensington Olympia to Brentford. Together the two superhighways will play a vital role in the Mayor's work to promote cycling and walking for the good of Londoners' health and air quality.</p>
<p>The Mayor of London, Sadiq Khan, said: </p>
<p>'I'm delighted to be able to announce plans to bring more than 4km of segregated cycle lanes to south-east London. We need more Londoners to cycle and walk for the good of their health and our air quality, and that's why we're working so hard make cycling safer and easier right across the capital. By bringing this route to an area of such high demand, this superhighway really will open up cycling to thousands more Londoners.'</p>
<p>Will Norman, London's Walking and Cycling Commissioner, said: </p>
<p>'I'm so pleased that we can share our plans for Cycle Superhighway 4 just one week after announcing Cycle Superhighway 9. These new routes are a key part of our work to make cycling more accessible across London and will add more than 10km of segregated lanes to the capital's roads. South-east London is an area of huge cycling potential so I know that CS4 will make a real difference to so many cyclists and budding riders by providing a safe segregated route that links straight into our growing cycling network.'</p>
<p>Nadia Broccardo, Chief Executive of Team London Bridge, said: </p>
<p>'Businesses in the London Bridge area are keen to make this a safe and attractive place to walk and cycle, whether it's for employees cycling to work or visitors coming to enjoy the attractions. With a new station and continued growth in the area, getting a street environment that makes cycling convenient, safe and attractive is more pressing than ever. We welcome the CS4 consultation and look forward to new investment ensuring a world class street environment for a healthy London Bridge.'</p>
<p>The first part of the consultation, which launches today, includes more than four kilometres of two-way segregated cycle tracks on Tooley Street, Jamaica Road, Evelyn Street and Creek Road.</p>
<p>It features five new traffic light pedestrian crossings, the upgrade of more than 20 existing crossings, and the redesign of the Rotherhithe Roundabout, which was identified as a priority as part of the Mayor's Safer Junctions programme.</p>
<p>It will also connect to the wider cycling network, connecting with Quietway 14 via segregated lane on Tanner Street. This quietway would link the North-South Cycle Superhighway with the proposed Cycle Superhighway 4. Plans for the section on Lower Road, which will incorporate the regeneration planned for Canada Water, will be consulted on next year.</p>
<p>Councillor Alan Smith, Deputy Mayor and Cabinet Member for Growth and Regeneration at Lewisham Council, said: </p>
<p>'We're very excited at the prospect of a new cycle superhighway coming to the borough. We actively promote healthy and sustainable forms of travel in Lewisham and the adding a segregated route will make cycling much safer and more attractive to new cyclists.'</p>
<p>Simon Munk, Infrastructure Campaigner, London Cycling Campaign (LCC), said: </p>
<p>'This route will dramatically improve dangerous junctions in south-east London, including the Rotherhithe roundabout. It will make them far safer for the thousands who already cycle through them daily. And CS4, like CS9 announced last week, won't just calm collision hotspots for those who already cycle &#45; it will unlock the potential for far more people to cycle, for far more journeys. CS4 and CS9 take a big step towards fulfilling the Mayor's commitment to our members to triple the protected space for cycling on main roads, which is key to lots more everyday journeys happening by bike.'</p>
<p>Matt Winfield, Sustrans' Acting London Director, said: </p>
<p>'Cycle Superhighway 4 will be an important way to unlock cycling for more Londoners, helping to clean our air, keep people moving and improve our health. Segregated routes like these are an essential part of the mix to help more of us get on our bikes and will increase the record numbers that already are cycling. And the improvements between Tower Hill and Greenwich, particularly at the Rotherhithe Roundabout, are a real step forward to keep Londoners safer on our streets. Busy main roads and junctions prevent people from cycling or walking. This proposal will make London's streets healthier and safer.'</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: </p>
<p>'Our plans for Cycle Superhighway 4 would dramatically improve access to cycling in south-east London as well as significantly improving pedestrian facilities. The Superhighway is an extremely efficient use of road space, which improves health and brings added environmental benefits, while boosting the local economy. We believe these plans will deliver huge benefits to those who live and work in the area and we know that their views are vital to help us shape our plans, so we can make them work for as many people as possible.'</p>
<p>Subject to the results of this consultation, Transport for London (TfL) and partner boroughs aim to start building the cycle superhighway late next year.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<p>The Cycle Superhighway 4 consultation ends on 19 November. It can be found here: <a href="http://www.tfl.gov.uk/cs4">www.tfl.gov.uk/cs4</a></p>
<p>TfL will analyse and consider all the responses received to the consultation, and publish its response next year.</p>
<p>TfL will hold public exhibitions to ensure as much information as possible is available for Londoners.</p>
<p>The public exhibitions will be held on</p>
<ul>
    <li>Tuesday 3 October 15:00-19:00 at Beormund Community Centre, 177 Abbey Street, SE1 2AN</li>
    <li>Thursday 5 October 15:00-19:00 at Deptford Lounge 9 Giffin Street, SE8 4RH</li>
    <li>Saturday 14 October 11:00-15:00 at Deptford Lounge 9 Giffin Street, SE8 4RH</li>
    <li>Tuesday 17 October 16:00-19:00 at St Alfege Church Hall, 3 Greenwich Church Street, SE10 9BJ</li>
    <li>Saturday 21 October 11:00-15:00 at James Wolfe Primary School, 21 Randall Place, SE10 9LA</li>
    <li>Wednesday 25 October 15:00-19:00 at The Finnish Church, 33 Albion Street, SE16 7JG</li>
    <li>Saturday 4 November 11:00-15:00 at The Finnish Church, 33 Albion St, SE16 7JG</li>
</ul>
<p>In addition, the consultation material will be on display at the following locations from Thursday 28 September for the duration of the consultation:</p>
<ul>
    <li>Canada Water Library: 21 Surrey Quays Road, SE16 7AR</li>
    <li>Deptford Lounge: 9 Giffin Street, SE8 4RH</li>
    <li>West Greenwich Library: 146 Greenwich High Road, SE10</li>
    <li>Blue Anchor Library: Market Place, Southwark Park Road, SE16 3UQ</li>
</ul>
<p>Cycling is an extremely efficient use of road space and recently completed cycle lanes in London have shown to be five times more efficient at moving people than a standard traffic lane.</p>
<p>A daily average of more than 500,000kms were cycled in the congestion charging zone in 2016. This is up 7.2% since 2014.</p>
<p>In 2015 there were 670,000 cycle journeys per day across London, equivalent to 10% of all bus journeys, or one fifth of all tube journeys</p>
<p>Safety concerns have long been identified as the number one barrier to cycling, and high-quality cycling infrastructure helps overcome this. The East-West and North-South Cycle Superhighways have seen a significant increase in cycling as a mode of transport along those routes, with nearly three-quarters of users believing they cycle more because of them.</p>
<p>The proposed route for Cycle Superhighway 4 is in the top five per cent of London for cycle demand and as well as having a high potential for people to switch from motor vehicle to bicycle. Over three years to August 2016 there were 93 cyclist collisions along this section of the A200.</p>
<p>Rotherhithe Roundabout was identified as having one of the poorest safety records in London by TfL's Safer Junctions programme. For more information - <a href="https://tfl.gov.uk/info-for/media/press-releases/2017/april/new-roads-targeted-in-updated-safer-junctions-programme">https://tfl.gov.uk/info-for/media/press-releases/2017/april/new-roads-targeted-in-updated-safer-junctions-programme</a></p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-September-GLA - Plans for new fully-segregated cycle superhighway -->

 
 
        
        
            @{ViewBag.Description = "Mayor unveils plans for new fully-segregated cycle superhighway for south-east London ";}
        
        


 