


@{ViewBag.Title = "GLA - Over 100 million journeys made on 'Hopper' fare";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Over 100 million journeys made on ‘Hopper’ fare</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Over 100 million journeys made on ‘Hopper’ fare</h1>
        <div class="content-page-press-release">
        11 September 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Londoners save &pound;1.50 when they change onto another bus or tram within an hour
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The cost of travel must never be a barrier to work or study, and with our TfL fares freeze and unlimited bus journeys within the hour planned from next year, we're continuing to make public transport an easier and more affordable option for every Londoner"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
This press release, issued by the Mayor of London, was first published on <a href="https://www.london.gov.uk/press-releases/mayoral/100-million-journeys-made-on-hopper-fare">london.gov.uk</a><br />
<ul>
    <li>100 million 'Hopper' journeys already made - a year after its launch</li>
    <li>Mayor confirms new improved 'Hopper' fare &#45; which will allow unlimited bus and tram journeys within an hour &#45; is being tested in advance of launching next year.</li>
</ul>
<p>A year on from its launch, more than 100 million journeys have been made using the Mayor of London's 'Hopper' fare - new figures from Transport for London (TfL) today reveal.</p>
<p>The fare, which became operational on 11 September 2016, enables passengers to make a &pound;1.50 pay-as-you go bus or tram journey, and then change onto another bus or tram for free within one hour of starting your journey. It is automatically given to anyone who uses pay as you go with a contactless bank payment or Oyster card, meaning cheaper travel and real savings for millions of Londoners. Of the 100 million journeys made in the first year, almost two million involved traveling on a tram as part of the journey.</p>
<p>Around 325,000 journeys are now being made every weekday using the 'Hopper' fare. The continuing success of the 'Hopper' will help encourage people across London to switch from their cars back to public transport &#45; supporting the Mayor's wider campaign to clean up London's toxic air. With the Mayor cleaning up London's bus fleet, passengers using the bus can help to reduce emissions, while reducing congestion on London's roads. The 'Hopper' is of particular benefit to Londoners on lower incomes who rely on bus services more to get around.</p>
<p>Throughout the year, the route 18 bus, which runs between Sudbury &amp; Harrow Road station to Euston station via Kensal Green, has consistently been the most popular bus to 'hop' onto, with the most popular overall location where people change buses being at Brent Cross shopping centre. Analysis also revealed that on 30 June 2017, more than 360,000 'hops' took place in just one day.</p>
<p>Building on the Hopper's success, TfL is now actively testing new technology that will allow customers to take unlimited bus and tram transfers within one hour, which is not possible with current system software. This upgrade will also allow passengers to travel on a Tube or rail service in London between their two or more bus or tram journeys &#45; helping even more customers benefit from the 'Hopper' fare. Subject to this testing being successful, it is anticipated that customers will be able to benefit from the changes in early 2018.</p>
<p>Mayor of London, Sadiq Khan, said: </p>
<p>'I'm delighted that, a year after its launch, 100 million journeys have been made using our new 'Hopper' ticket. In allowing passengers to change buses for free within an hour, I'm proud that we're cutting the cost of travel for thousands of Londoners all across the city. The cost of travel must never be a barrier to work or study, and with our TfL fares freeze and unlimited bus journeys within the hour planned from next year, we're continuing to make public transport an easier and more affordable option for every Londoner.'</p>
<p>Shashi Verma, Chief Technology Officer at TfL, said: </p>
<p>'To see more than 100 million journeys made using the 'Hopper' fare in just one year is testament to how beneficial this fare is to Londoners. It is helping Londoners save money while encouraging more use of public transport, which helps reduce road congestion. We want to make it even easier for people to use our services and are now working hard to enable our customers to benefit from unlimited 'Hopper' journeys within an hour in early 2018.'</p>
<p>Lianna Etkind, Public Transport Campaigner, Campaign for Better Transport said: </p>
<p>'It's great that the 'Hopper' fare is making travel by bus cheaper and easier for even more people to get around London. Leaving the car behind and travelling by bus is a way for people to help reduce road congestion, improve air quality and make this a healthier city for everyone.'</p>
<p>Colin Stanbridge, Chief Executive of the London Chamber of Commerce and Industry, said:  </p>
<p>'Making travel within the capital more affordable is a boost to businesses looking to recruit and retain the employees they need to succeed.  The 'Hopper' fare has been a welcome innovation and we look forward to seeing unlimited 'Hopper' journeys within an hour as early as possible next year.'</p>
<p>The introduction of the 'Hopper' fare formed part of the Mayor's wider fares package to make life easier for Londoners, which included a four-year fares freeze on all TfL services which came into force in January 2017. Last week, TfL launched its new app which allows Oyster card users to check their pay-as-you-go balance and top up their card with just a few quick taps on their smartphone. They can then be added after 30 minutes by simply touching the Oyster card on the yellow card reader at any Tube or rail station, tram stop or River Bus pier as part of a journey.</p>
<p>From next month, this will be extended to allow customers - for the first time - to also add their online Oyster purchases by touching their Oyster card on the yellow card readers on any of London's 9,000 buses.</p>
<p>For more information about the 'Hopper' fare, please visit <a href="http://www.tfl.gov.uk/hopper">www.tfl.gov.uk/hopper</a></p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>To download the TfL app onto your mobile:</li>
    <li>For Apple products &#45; <a href="https://itunes.apple.com/gb/app/tfl-oyster/id1179420088">https://itunes.apple.com/gb/app/tfl-oyster/id1179420088</a></li>
    <li>For Android products &#45; <a href="https://play.google.com/store/apps/details?id=uk.gov.tfl.oystercontactless">https://play.google.com/store/apps/details?id=uk.gov.tfl.oystercontactless</a></li>
</ul>
<ul>
    <li>The bus 'Hopper' fare also applies to customers who pay discounted pay- as-you-go fares (Bus &amp; Tram Discount, Jobcentre Plus Travel Discount, Young Visitor discount and some Zip Oyster photocards).</li>
    <li>The bus 'Hopper' fare is applied at the time of travel to journeys by pay-as -you-go customers exiting the Tram network at Wimbledon and subsequently catching a bus. Pay as you go customers who &quot;miss out&quot; in this way at Wimbledon are sent automatic refunds.</li>
    <li>Contactless bank payment cards have been accepted for pay as you go on London buses since December 2012, with the technology expanded to cover Tube, tram, DLR, London Overground, and most National Rail services on 16 September 2014.</li>
    <li>Throughout 2017 and 2018, further improvements to the Oyster and Contactless system will also be introduced, including:</li>
</ul>
<p>Adding the ability to view journey history for Contactless payments through the TfL app;<br />
o   Introducing pay as you go on the Elizabeth line, which, once fully open, will see services running from Reading and Heathrow in the west to Shenfield and Abbey Wood in the east by December 2019;<br />
o   Making Bus &amp; Tram Pass season tickets available to buy online and via the app;<br />
o   Introducing weekly capping on Oyster to bring it in line with Contactless.</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-September-GLA - Over 100 million journeys made on ‘Hopper’ fare -->

 
 
        
        
            @{ViewBag.Description = "Over 100 million journeys made on ‘Hopper’ fare during first year";}
        
        


 