


@{ViewBag.Title = "Pilot shows how WiFi data can improve Tube journeys ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Pilot shows how WiFi data can improve Tube journeys </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Pilot shows how WiFi data can improve Tube journeys </h1>
        <div class="content-page-press-release">
        08 September 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Pilot of collecting depersonalised WiFi data reveals how information could be used to reduce crowding and prioritise transport investment
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This pilot has revealed useful insights into how people criss-cross London using the Tube, and the potential benefits this depersonalised data could unlock, from providing better customer data to helping address overcrowding, are enormous"</div>
        <div class="quote-footer">
            <div class="quotee-name">Lauren Sager Weinstein</div>
            <div class="quotee-job-title">Chief Data Officer at Transport for London</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Data reveals 18 different routes taken by customers between King's Cross St Pancras and Waterloo &#45; and many people don't use the shortest route changing Tube lines</li>
    <li>TfL now working with the Information Commissioner's Office, privacy campaigners and consumer groups about how the data collection could be undertaken on a permanent basis</li>
</ul>
<p>Tube journeys could be improved through TfL harnessing WiFi data to make more information available to customers as they move around London, new research has shown.</p>
<p>The four-week TfL pilot, which ran between November and December last year, studied how depersonalised WiFi connection data from customers' mobile devices could be used to better understand how people navigate the London Underground network, allowing TfL to improve the experience for customers.</p>
<p>The pilot focused on 54 stations within Zones 1-4 and saw more than 509 million depersonalised 'probing requests', or pieces of data, collected from 5.6 million mobile devices making around 42 million journeys. The data collected was depersonalised, so that no individuals could be identified, and no browsing data was collected from devices. No data collected through the trial was made available to any third parties, and the pilot included clear communication with customers about how to opt out should they wish to do so.</p>
<p>These journeys were analysed by TfL's in-house analytics team and broken into different aggregated 'movement types' to help understand what customers were doing at particular points of their journeys - such as entering or exiting a station, changing between lines or just passing through the station while on a train.</p>
<p>By using this data, TfL was able to get a much more accurate understanding of how people move through stations, interchange between services and how crowding develops.</p>
<p>The pilot revealed a number of results that could not have been detected from ticketing data or paper-based surveys. For example, analysis showed that customers travelling between King's Cross St Pancras and Waterloo take at least 18 different routes, with around 40% of customers observed not taking one of the two most popular routes.</p>
<p>The data collected through the WiFi pilot could have a number of benefits for TfL and its customers, including:</p>
<ul>
    <li>Allowing staff to better inform customers of the best way to avoid disruption or unnecessary crowding</li>
    <li>Helping customers plan the route that best suits them &#45; whether based on travel time, crowding or walking distance</li>
    <li>Enabling greater sophistication in proving real-time information to customers as they travel across London</li>
    <li>Helping further prioritise transport investment to improve services and address regular congestion points - ensuring the maximum benefits to customers</li>
    <li>Providing a better insight on customer flows which could increase commercial revenue from companies which advertise or rent retail units on the transport network</li>
</ul>
<p>While the usual ticketing data for major interchange stations such as Oxford Circus can show the levels of people entering and exiting the stations, it cannot show the huge numbers of people interchanging during peak hours, or precise local areas where crowding occurs on platforms or around escalators, whereas WiFi data can.</p>
<p>TfL has now begun discussions with key stakeholders, including the Information Commissioner's Office, privacy campaigners and consumer groups about how this data collection could be undertaken on a permanent basis, possibly across the full Tube network.</p>
<p><strong>Val Shawcross, Deputy Mayor for Transport, said</strong>: &quot;We're determined to use the latest technology to improve the experience of every passenger using transport in London, and I'm delighted the trial has been a success. The analysis of secure, depersonalised WiFi data could enable us to map the journey patterns of millions of passengers and understand in much greater detail how people move around our transport network. It will provide real benefits helping TfL tackle overcrowding, provide more information for passengers about their best journey route, and help us prioritise new investment where it's most needed.&quot;</p>
<p><strong>Lauren Sager Weinstein, Chief Data Officer at Transport for London, said</strong>: &quot;Technology is transforming our lives, from how we work and enjoy our leisure time to the way we travel. This pilot has revealed useful insights into how people criss-cross London using the Tube, and the potential benefits this depersonalised data could unlock, from providing better customer data to helping address overcrowding, are enormous.</p>
<p>&quot;We are now working closely with key stakeholders to examine our next steps and, as with the pilot, will keep our customers informed while also respecting their privacy and offering a way to opt-out should they wish.&quot;</p>
<p><strong>Sue Daley, Head of Programme for Cloud, Data, Analytics and AI, techUK, said</strong>: &quot;The TfL Wi-Fi pilot is a powerful example of how data collection and analysis can make a real difference to our everyday lives.  By applying big data analytics and machine learning technologies, TfL gained real-time understanding of how people are using the Capital's transport system and these insights will help reduce overcrowding, improve service efficiency and customise information for travellers.</p>
<p>&quot;The transparency and openness shown by TfL is to be applauded. The steps taken to make customers aware of the data collection and its purpose should be seen as a blueprint for others. If UK organisations are to realise the full potential of real-time data-driven decisions, it is vital that we bring the public on this journey by building a culture of data trust and confidence.&quot;</p>
<p><strong>Dr Hannah Fry from the Centre for Advanced Spatial Analysis at University College London, said:</strong> &quot;By doing this study, TfL have demonstrated the very real way that big data can benefit us all. Using WiFi to understand how people are moving through underground stations gives us the chance to choose what we want from our journeys. Prefer a less busy train and don't mind waiting an extra five minutes? Have a massive bag you need to carry through the station and looking for the emptiest route between platforms? By knowing where people are, TfL can offer those alternatives and, in turn, change our experience of using the Tube.</p>
<p>&quot;The WiFi data offers a completely new way to view what's happening underground. It exposes the pinch-points in the network and can help TfL to understand how and why overcrowding happens - an essential step to making the Tube as safe and efficient as possible. As a Londoner whose journeys are no doubt included in the data collected, I was impressed by how far TfL have gone to take how we feel about our privacy seriously, at every stage they have preserved our anonymity, been transparent about the way the data is used and offered us the option to opt out. Their study serves as an exemplary model of how to treat your customers in the era of big data.&quot;</p>
<p>For more information, and to download the full report, please visit <a href="http://www.tfl.gov.uk/corporate/publications-and-reports/wifi-data-collection">tfl.gov.uk/corporate/publications-and-reports/wifi-data-collection</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<hr />
<p>Notes to editors:</p>
<ul>
    <li>Graphics from the report are available from TfL Press Office, please contact 0845 604 4141</li>
    <li>The trial worked by collecting WiFi connection requests from mobile devices as customers pass through stations. When a device has WiFi enabled, it will continually search for a WiFi network by sending out a unique identifier - known as a Media Access Control address - to nearby routers.</li>
    <li>Information about the four-week pilot, including frequently asked questions and a list of London Underground stations covered by the pilot, is available on the <a href="http://www.tfl.gov.uk/corporate/privacy-and-cookies/wifi-data-collection-pilot">TfL Privacy pages -  tfl.gov.uk/corporate/privacy-and-cookies/wifi-data-collection-pilot</a></li>
    <li>The data collected was automatically depersonalised. No browsing data was collected and TfL did not use the data to identify individuals.</li>
    <li>No data collected through the trial was made available to any third-parties and posters alerting customers to the pilot were on display within stations. Any customers that wished to opt-out of the pilot simply needed to turn off their WiFi while passing through the station.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-September-Pilot shows how WiFi data can improve Tube journeys  -->

 
 
        
        
            @{ViewBag.Description = "Pilot shows how WiFi data can improve Tube journeys";}
        
        


 