


@{ViewBag.Title = "TfL proposes increase to Penalty Charge Notice fee to improve congestion and road safety";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL proposes increase to Penalty Charge Notice fee to improve congestion and road safety</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL proposes increase to Penalty Charge Notice fee to improve congestion and road safety</h1>
        <div class="content-page-press-release">
        01 September 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Consultation to increase Penalty Charge Notices for offences on TfL roads and non-payment of the Congestion Charge
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are committed to keeping the Capital moving and by improving compliance we help keep junctions and roads clear"</div>
        <div class="quote-footer">
            <div class="quotee-name">Paul Cowperthwaite</div>
            <div class="quotee-job-title">TfL's General Manager for Road User Charging</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Charges would increase from &pound;130 to &pound;160 &#45; and &pound;65 to &pound;80 for early payment &#45; to improve traffic flow and road safety</li>
    <li>TfL reinvests all money received back into London's transport network</li>
</ul>
<p>TfL is to consult on plans to increase the cost of its Penalty Charge Notices (PCN) to help reduce congestion and improve road safety.</p>
<p>The proposed increase &#45; from &pound;130 to &pound;160, or &pound;65 to &pound;80 for early payment &#45; is to ensure greater compliance on the roads and therefore improve traffic flow.</p>
<p>The increase would apply to offences on TfL's road network and for failing to pay the Congestion Charge from early next year.</p>
<p>In the past five years there has been a 12% increase in the number of motorists being issued with PCNs. The rise from 1.3 million in 2011/12 to 1.5 million in 2016/17 is a clear indicator that the current deterrent is no longer effective.</p>
<p>More than a third of all London's traffic use TfL's red routes and vehicles that block roads, drive in bus lanes, park incorrectly or make banned turns, not only cause inconvenience to road users, but create hazards, particularly for pedestrians and cyclists. By keeping these main routes clear, road danger and congestion are reduced, ensuring that London remains an efficient, well-functioning city.</p>
<p>TfL reinvests any money received from the PCNs back into London's transport network for maintenance, reducing danger on the road and transforming the Capital's streets into more attractive, accessible and welcoming places, in line with the Mayor's draft Transport Strategy.</p>
<p>Paul Cowperthwaite, TfL's General Manager for Road User Charging, said: &quot;We are committed to keeping the Capital moving and by improving compliance we help keep junctions and roads clear, which if blocked cause significant impact to all road users. The overwhelming majority of motorists follow the rules; however we have seen a steady increase in the number of motorists flouting them so it is clear the current Penalty Charge Notice level is not as effective as it once was.&quot;</p>
<p>The consultation launches on Monday 4 September and will run until 10 November, with any changes potentially implemented in early 2018.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:<br />
•	From Monday 4 September the consultation documents will be available to view here: <a href="http://www.tfl.gov.uk/penalty-charge  ">tfl.gov.uk/penalty-charge</a><br />
•	Further information on how to pay the Congestion Charge: <a href="http://www.tfl.gov.uk/modes/driving/congestion-charge/auto-pay ">tfl.gov.uk/modes/driving/congestion-charge/auto-pay</a><br />
•	To review the Mayor's draft Transport Strategy: <a href="http://www.london.gov.uk/what-we-do/transport/our-vision-transport/draft-mayors-transport-strategy-2017 ">london.gov.uk/what-we-do/transport/our-vision-transport/draft-mayors-transport-strategy-2017</a></p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-September-TfL proposes increase to Penalty Charge Notice fee to improve congestion and road safety -->

 
 
        
        
            @{ViewBag.Description = "TfL proposes increase to Penalty Charge Notice fee to improve congestion and road safety";}
        
        


 