


@{ViewBag.Title = "TfL consultation on further improving transparency and openness";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL consultation on further improving transparency and openness</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL consultation on further improving transparency and openness</h1>
        <div class="content-page-press-release">
        19 September 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has launched a six week consultation to help inform the next phase of its Transparency Strategy.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We publish an extensive range of information already and are committed to improving our transparency further"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Carter</div>
            <div class="quotee-job-title">General Counsel, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL published its first Transparency strategy in October 2015. At the core of the strategy is TfL's determination to make all information publicly available, unless there are over-riding reasons why it cannot do so, for example, personal data or information which would harm its ability to maximise value for money for customers and tax payers.</p>
<p>Since the first strategy was published, TfL has massively increased the amount of data it makes available &#45; both through the TfL website and through regular reporting to the TfL Board and panels, the papers of which are all published online a week before the meetings. Since January this year TfL has also published the replies to all FOI requests online and iscontinuously looking for ways to reduce the need for the public to make FOI requests by making as much data as possible easily accessible.</p>
<p>The strategy also includes TfL's open-data feeds, which are freely available to a community of more than 12,000 developers. Currently, more than 40 per cent of Londoners use an app or website powered by TfL data to plan their journeys, using data ranging from live bus times and location to information on air quality and walking times between TfL stations.</p>
<p>The six week consultation, which runs from 18 September 2017 to 29 October 2017, will look to understand how TfL could further improve its transparency and openness in terms of providing regular information stakeholder want, as well as the data formats and regularity in which they should be published. The consultation also asks for any wider comments about how this data should be grouped or presented on the TfL website and whether further support should be provided to developers, stakeholders and researchers who regularly use the data.</p>
<p>Howard Carter, General Counsel at TfL, said: </p>
<p>'We publish an extensive range of information already and are committed to improving our transparency further. We have been able to implement virtually all the suggestions made by our stakeholders for further information and data to be made available. Our updated Transparency Strategy will look to build on this.'</p>
<p>For more information, please visit <a href="http://www.tfl.gov.uk/transparency-consultation">www.tfl.gov.uk/transparency-consultation</a></p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>Data made available online since the first Transparency Strategy was published includes:</li>
</ul>
<ul>
    <li>New data on journey related sexual assault offences by taxi and private hire drivers</li>
    <li>TfL's gender pay gap and data on our use of Non Permanent Labour</li>
    <li>The status of Tram services, crowding at Tube stations, taxi rank locations, and better data on accessible bus stops</li>
    <li>Mapping data for existing Cycle Superhighway and Quietway routes, the boundaries of the Congestion Charge and Low Emission Zones and the highway boundaries for our Road Network,</li>
    <li>Air Quality on both the Underground and across London via regular monitoring from Kings College London.</li>
    <li>Improved data on the walking times between station in Zones 1-4</li>
</ul>
<ul>
    <li>TfL also publishes extensive information about how we use and protect the personal information provided by customers and users: <a href="https://tfl.gov.uk/corporate/privacy-and-cookies/">https://tfl.gov.uk/corporate/privacy-and-cookies/</a>. Further information about transparency at TfL is available here - <a href="http://www.tfl.gov.uk/transparency">www.tfl.gov.uk/transparency</a></li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-September-TfL consultation on further improving transparency and openness -->

 
 
        
        
            @{ViewBag.Description = "TfL consultation on further improving transparency and openness";}
        
        


 