


@{ViewBag.Title = "TfL releases interim Direct Vision Standard HGV star ratings ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL releases interim Direct Vision Standard HGV star ratings </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL releases interim Direct Vision Standard HGV star ratings </h1>
        <div class="content-page-press-release">
        22 September 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Consultation to open in the autumn on all proposed interim star ratings and a new Direct Vision Standard HGV safety permit
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Alongside the Mayor, we are committed to ridding London's streets of dangerous vehicles and are taking a Vision Zero approach to road danger
"</div>
        <div class="quote-footer">
            <div class="quotee-name">Alex Williams</div>
            <div class="quotee-job-title">Director of City Planning, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>The Direct Vision Standard forms part of The Mayor and TfL's Vision Zero approach to reducing road danger</li>
    <li>Cycling UK encourage other cities to share the Mayor's vision</li>
</ul>
<p>Transport for London (TfL) has released interim direct vision star ratings for Euro VI Heavy Goods Vehicles (HGVs) as part of the development of its proposed Direct Vision Standard (DVS).</p>
<p>The DVS will be the first initiative of its kind to categorise HGVs depending on the level of a driver's direct vision from a cab. HGVs will be given a rating between 'zero-star' (lowest) and 'five-star' (highest), with only those vehicles rated 'three-star' and above, or which have comprehensive safety systems, able to operate in London from 2024.</p>
<p>The development of the proposed Direct Vision Standard forms part of the Mayor of London and TfL's Vision Zero approach to reducing road danger.</p>
<p>Research by TfL shows that during 2014 and 2015, HGVs were involved in disproportionately high numbers of fatal collisions with cyclists (58 per cent) and pedestrians (22.5 per cent) on London's streets, despite only making four per cent of the miles driven in the Capital.</p>
<p>The release of the interim star ratings for individual Euro VI HGV models will help give confidence that vehicles being manufactured, purchased or leased can be compliant with both Ultra-Low Emission Zone requirements and the DVS. We will continue to work with manufacturers to ensure interim star ratings for other HGV models will be released later this year.</p>
<p>Industry views have helped shape the proposals which now include plans for an HGV safety permit scheme based on the DVS ratings, and industry-recognised safety systems to reduce road danger.</p>
<p>If approved, the proposals will require all HGVs over 12 tonnes to hold a safety permit to enter or operate in the Capital from 2020. Those rated 'one star' and above would automatically be granted a permit, while those rated 'zero star' (lowest) would have to include specific recognised safety systems, such as sensors, visual warnings and comprehensive driver training, before a permit is granted. The safety permit scheme would evolve over time, taking into account advances in technology.</p>
<p>The details of this 'safe system' will be included in the autumn consultation, and the expertise of both industry experts and vulnerable road user representatives will continue to be an important part of developing the plans. Confirmed star ratings will subsequently be published.</p>
<p>It is proposed that from 2024 only those rated 'three star' and above, or which have an advanced safety system, would be allowed on London's streets.</p>
<p>The introduction of these measures provides a comprehensive approach to reducing road danger for all road users.</p>
<p>Alongside developing the Direct Vision Standard and the proposed safety permit scheme, TfL is also lobbying the European Commission for changes in international vehicle safety and design regulations to push for long term improvements to future HGV fleets.</p>
<p>In 2016 TfL consulted on further improving lorry safety in London, which included consideration of mandating clear side panels in lorry doors to increase visibility. In order to legally require clear side panels TfL would have had to go through the same process of creating a Direct Vision Standard. Subsequent independent research has shown this proposal would have little impact on cyclist safety and no impact on pedestrian safety - and due to the requirements for enforcement - would be delivered at the same timescale as the Mayor's proposals.</p>
<p>Alex Williams, TfL's Director of City Planning, said: </p>
<p>'Businesses across the Capital need HGVs to operate, however the number of deaths involving HGVs is unacceptable. The industry has already made significant advancements to safety and has been very keen to support to the work we are doing to go even further and develop the Direct Vision Standard. Alongside the Mayor, we are committed to ridding London's streets of dangerous vehicles and are taking a Vision Zero approach to road danger. We welcome the industry's feedback on our latest proposals for the Direct Vision Standard as we work together to improve vehicle safety.'</p>
<p>Duncan Dollimore, Cycling UK's Head of Campaigns and Advocacy, said: </p>
<p>'This is the first scheme of its type in the world which is looking to address directly the cause of many pedestrian and cyclist fatalities: poorly designed lorry cabs that restrict visibility. Cycling UK looks forward to working with TfL in our collective aim to reduce road danger, and we encourage other cities to share the Mayor's vision to make our roads safer for all users.'</p>
<p>Councillor Julian Bell, Chair of London Councils' Transport and Environment Committee, said: </p>
<p>'Improving road safety for pedestrians and cyclists, who are more vulnerable to the risks posed by lorries is a high priority for London's boroughs. I therefore welcome the announcement of the new Direct Vision Standard ratings and call on vehicle manufacturers to develop more lorry cabs that rate highly. London Councils and the boroughs will continue to work closely with TfL to remove the most dangerous lorries from London's streets.'</p>
<p>Nigel Jackson, Chief Executive of the Mineral Products Association, said: </p>
<p>'Improving road safety is essential, particularly for vulnerable road users. In recent years MPA members have invested in more effective training, the installation of better technology and increased engagement with other road users and key stakeholders. MPA members, our construction colleagues and TfL have made great progress in improving safety awareness and taking action through the CLOCS initiative. We support the Mayor's drive to improve the direct vision of HGVs and look forward to engaging positively in the consultation and implementation processes.'</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>View the star ratings for Euro VI vehicle models: <a href="http://safertrucks.org.uk/">safertrucks.org.uk/</a></li>
    <li>Further information on the Direct Vision Standard concept can be found here: <a href="http://tfl.gov.uk/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles">tfl.gov.uk/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles</a></li>
    <li>TfL's Collisions and Casualties reports can be found here: <a href="http://tfl.gov.uk/corporate/publications-and-reports/road-safety">tfl.gov.uk/corporate/publications-and-reports/road-safety</a></li>
    <li>Details of industry meetings during 2017:</li>
</ul>
<ul>
    <li>16 June, DVS workshop: Attended by industry representatives including trade associations and fleet operators</li>
    <li>21 June, DVS Expert Panel: Attended by all principal vehicle manufacturers, academics, consultants and regulatory bodies to inform the approach to setting the interim DVS rating boundaries and methodology</li>
    <li>4 July: TfL hosted, with European Commission support, the UN Economic Commission for Europe (UNECE) meeting on vulnerable road users safety measures</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-September-TfL releases interim Direct Vision Standard HGV star ratings  -->

 
 
        
        
            @{ViewBag.Description = "TfL releases interim HGV star ratings as part of its Direct Vision Standard proposal";}
        
        


 