


@{ViewBag.Title = "Travel advice for customers ahead of planned Tube strike";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Travel advice for customers ahead of planned Tube strike</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Travel advice for customers ahead of planned Tube strike</h1>
        <div class="content-page-press-release">
        29 September 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Train operators who are ASLEF members currently plan strike action on Thursday, 5 October
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I encourage the ASLEF leadership to continue working with us constructively rather than moving towards unnecessary strike action"</div>
        <div class="quote-footer">
            <div class="quotee-name">Nigel Holness</div>
            <div class="quotee-job-title">Director of Network Operations for London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Action would cause substantial disruption across the Underground network</li>
</ul>
<p>Transport for London (TfL) is advising customers that the whole Tube network will be substantially disrupted on Thursday, 5 October, should planned strike action by ASLEF members go ahead.</p>
<p>All other TfL services will be unaffected but many will be busier than usual as customers seek alternative routes. Bus services are likely to be exceptionally busy across the Capital, so customers who are able to walk are encouraged to do so. Information on walking times between Tube stations can be found at tfl.gov.uk/walking. Road journeys could also take significantly longer than usual, so customers are advised to drive through central London only if absolutely necessary.</p>
<p>Extra buses and Santander Cycle hubs will be provided should the strike go ahead and TfL is currently exploring options to help get supporters to Englands football match against Slovenia at Wembley Stadium on Thursday evening.</p>
<p>Customers are advised to check before they travel at tfl.gov.uk/tube-strike and use TfLs journey planner to make alternative travel plans for the duration of the industrial action. In addition, TfLs live update services &#64;TfLTravelAlerts, &#64;TfLTrafficNews and &#64;TfLBusAlerts will provide information throughout the day. If possible, TfL advises customers to travel outside of peak times.</p>
<p>This dispute is about the progress of joint initiatives set up last year between TfL and the unions to improve the work life balance of Tube drivers.</p>
<p>As part of those discussions, TfL and the unions agreed to explore ways of providing more choice for staff to improve work-life balance, including:</p>
<ul>
    <li>trialling a four-day, 36-hour working week on the Jubilee line for Tube drivers. This concluded recently and TfL and the trade unions are already working together to analyse how successful it has been</li>
    <li>looking at ways to maintain the level of weekend working as the service expands, potentially through additional part time opportunities</li>
    <li>introducing pro-rata working arrangements, such as job sharing, which would mean that drivers could reduce the number of days they work</li>
</ul>
<p>TfL has met its commitments and has been in constructive discussions with ASLEF at the conciliatory service ACAS in order to resolve this dispute. Further talks are scheduled early next week.</p>
<p>Nigel Holness, Director of Network Operations for London Underground, said: </p>
<p>'Should the planned strike action go ahead there will be substantial disruption. We will do everything possible to ensure customers can get around on alternative transport services and have the right information to help them do this. We are committed to ensuring that our employees are able to maintain a good balance between their work and personal lives and we have been working closely with the unions on new ways to achieve this. I encourage the ASLEF leadership to continue working with us constructively rather than moving towards unnecessary strike action.'</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>The action is scheduled for Thursday, 5 October from 00.01 23.59.</li>
    <li>This will affect services all day on Thursday</li>
    <li>For information about other strike action on National Rail services planned on the 5th October, please visit <a href="http://southernrailway.com/strike">southernrailway.com/strike</a> and <a href="http://greateranglia.co.uk">greateranglia.co.uk</a>.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-September-Travel advice for customers ahead of planned Tube strike -->

 
 
        
        
            @{ViewBag.Description = "Travel advice for customers ahead of planned Tube strike";}
        
        


 