


@{ViewBag.Title = "24-hour service for route 36 and new night route N136 for Chislehurst";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>24-hour service for route 36 and new night route N136 for Chislehurst</h1>
        <div class="content-page-press-release">
        25 January 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From Saturday 9 February, route 36 will become a 24-hour service.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London's night bus network has expanded dramatically in recent years"</div>
        <div class="quote-footer">
            <div class="quotee-name">John Barry</div>
            <div class="quotee-job-title">Head of Network Development for London Buses</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London's night bus network has expanded dramatically in recent years 
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Transport for London (TfL) will also be introducing a new night route, the N136.</p>
<p>Route 36 will become a 24-hour service, running with increased frequency during the daytime. </p>
<p>The route runs between Queen's Park and New Cross Bus Garage via Paddington, Hyde Park Corner, Victoria, Vauxhall, Camberwell and Peckham.</p>
<p>A new night route, the N136, will be introduced between Oxford Circus and Chislehurst.</p>
<p>This will serve Oxford Circus, Victoria, Vauxhall, Camberwell, Peckham, New Cross, Lewisham, Catford, Downham Way and Grove Park, replacing the current N36. </p>
<h2>Changes</h2>
<p>It will then go on to Chislehurst War Memorial via Chinbrook Road, Marvels Lane, Dunkery Road, Mottingham Road, White Horse Hill, Red Hill, Chislehurst High Street and Centre Common Road.</p>
<p>Buses on route N136 will operate every 30 minutes on Sunday to Thursday and every 20 minutes on Friday and Saturday.</p>
<p>As a result of these changes, route N36 will no longer run. </p>
<p>Passengers currently travelling on route N36 between Queen's Park, Oxford Circus and Trafalgar Square can use other existing night buses, including 24-hour route 6 which runs via Shirland Road instead of Harrow Road. </p>
<h2>Accessible</h2>
<p>John Barry, Head of Network Development for London Buses, said: "The new 24-hour service on route 36 and new route N136 are further accessible transport connections for late night travellers in the Capital.</p>
<p>"London's night bus network has expanded dramatically in recent years with passenger numbers more than doubling since 2000. </p>
<p>"Almost half the users are people travelling to or from work."</p>
<p>The change comes following a review of the existing service. </p>
<p>
<hr>
<br><strong>Notes to editors:</strong> 
<p>
<ul>
<li>From Monday to Saturday, route 36 will operate every&nbsp;six minutes during the day (currently every 7.5 minutes) and every 12 minutes in the evening, Monday to Saturday </li>
<li>Sunday frequencies remain unchanged </li>
<li>There will be a bus every 30 minutes on weeknights and every 20 minutes on weekend nights 
<ul type="circle">
<li>The N136 will operate every 30 minutes on weeknights and every 20 minutes on weekend nights </li>
<li>All London's buses have in-vehicle CCTV and all except the Heritage Routemasters are accessible to wheelchair users </li>
<li>With over 8,000 buses on approximately 700 routes the London bus network has seen usage increase by 45 per cent since 1999/2000</li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) will also be introducing a new night route, the N136.Route 36 will become a 24-hour service, running with increased frequency during the daytime. The route runs between Queen's Park and New Cross Bus Garage via Paddington, Hyde";}
        
        


 