


@{ViewBag.Title = "Bus routes diverted due to carriageway resurfacing works on Dagenham Heathway";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bus routes diverted due to carriageway resurfacing works on Dagenham Heathway</h1>
        <div class="content-page-press-release">
        18 January 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From 26 January 2008, Dagenham Heathway will be closed at weekends between Reede Road and Church Elm Lane for carriage resurfacing works by Barking & Dagenham council.
        
    </div>



 <div class="on-this-page">
<p>
<p>As a result, bus routes 173, 174 and 175 will be diverted for the next eight weekends.</p>
<p>This section of the road will be closed in both directions at weekends from 06:00 on Saturdays to 18:00 on Sundays, starting on 26 January (at 06:00). </p>
<p>The following diversions will take place for the first five weekends from 06:00 on Saturday until 18:00 on Sunday on:</p>
<ul>
<li>Saturday 26 January - Sunday 27 January </li>
<li>Saturday 2 February - Sunday 3 February </li>
<li>Saturday 9 February - Sunday 10 February </li>
<li>Saturday 16 February - Sunday 17 February </li>
<li>Saturday 23 February - Sunday 24 February</li></ul>
<p>Routes 173, 174 and 175 (northbound direction) will be diverted from Heathway via Church Elm Lane, Rainham Road South (routes will serve stop A at Dagenham East station), Reede Road and back on to Heathway.</p>
<p>Routes 173 and 175 (southbound direction) will be diverted from Heathway via Oxlow Lane, Rainham Road South (routes will serve stop B at Dagenham East station), Church Lane, Siviter Way, Church Elm Lane and back on to Heathway.</p>
<p>Route 174 (southbound direction) will be diverted from Dagenham Road via Rainham Road South (route will serve stop B at Dagenham East station), Church Lane, Siviter Way, Church Elm Lane and back on to Heathway. </p>
<p>Oxlow Lane will not be served.</p>
<p>Diversions for the final three weekends of road works are likely to differ. </p>
<p>Further information will be issued on these when details are confirmed. </p>
<p>The road works are due to finish on Sunday 16 March. </p>
<p>Full details of the diversions will be available online.</p>
<p>Notices advising passengers of the diversions and stopping arrangements will be placed at bus stops in the area.&nbsp; </p>
<p>
<hr>
<br><strong>Notes to editors:</strong> 
<p>
<ul>
<li>The road works are part of Barking &amp; Dagenham council's plans to regenerate the borough </li>
<li>As the road works progress, routes 145 and 364 will also be diverted over weekends in March. Full details will be issued nearer the time </li>
<li>All London's buses have in-vehicle CCTV and all except the Heritage Routemasters are accessible to wheelchair users </li>
<li>With over 8,000 buses on approximately 700 routes the London bus network has seen usage increase by 45 per cent since 1999/2000<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "As a result, bus routes 173, 174 and 175 will be diverted for the next eight weekends.This section of the road will be closed in both directions at weekends from 06:00 on Saturdays to 18:00 on Sundays, starting on 26 January (at 06:00). The following";}
        
        


 