


@{ViewBag.Title = "Central London traffic disruption expected on 23 January due to Police Federation march";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Central London traffic disruption expected on 23 January due to Police Federation march</h1>
        <div class="content-page-press-release">
        21 January 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is warning of traffic disruption in central London on 23 January due to a planned march by the Police Federation.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            TfL aims to reopen affected roads as quickly as possible following the march
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The march will run from Park Lane to Millbank&nbsp;with roads closed between 10.30am and 3pm.</p>
<p>Diversions will be in place throughout the day to redirect traffic away from the affected roads.</p>
<p>London Buses&nbsp;on the affected&nbsp;route&nbsp;will also be placed on local diversions.<br>&nbsp;<br>The route&nbsp;of the march&nbsp;will be&nbsp;on&nbsp;sections of the north - south Congestion Charge free-through route&nbsp;which links Edgware Road to Vauxhall Bridge.</p>
<p>The&nbsp;free-through route will be partially closed to traffic during the day.&nbsp;</p>
<h2>Alternative route</h2>
<p><br>&nbsp;<br>Due&nbsp;to the movement of the march through&nbsp;the day, TfL&nbsp;is unable to install fixed diversions.</p>
<p>Therefore, drivers who would usually take the free-through route&nbsp;through the&nbsp;Congestion&nbsp;Charge zone&nbsp;should&nbsp;seek an alternative route around the zone to avoid having to pay the daily charge.&nbsp; </p>
<p>Drivers who enter the zone&nbsp;because of&nbsp;the diversions and&nbsp;are issued&nbsp;with a penalty&nbsp;charge notice&nbsp;should appeal the charge by following the instructions on the notice.<br>&nbsp;<br>TfL aims to reopen affected roads as quickly as possible following the march, to reduce the disruption.</p>
<p>For more information about how the road closure may affect your travel, call the TfL travel line on 020 7222 1234 or&nbsp;go&nbsp;<a href="http://www.tfl.gov.uk/check">online</a>&nbsp;</p>
<p>
<hr>

<p>
<p>Notes to editors</p>
<ul>
<li>Roads affected by the march are Park Lane (southbound), East side of Hyde Park Corner, Grosvenor Place (southbound), Lower Grosvenor Place, Bressenden Place, Victoria Street, Artillery Row, Horseferry Road, Lambeth Bridge, Millbank</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The march will run from Park Lane to Millbank&nbsp;with roads closed between 10.30am and 3pm.Diversions will be in place throughout the day to redirect traffic away from the affected roads.London Buses&nbsp;on the affected&nbsp;route&nbsp;will also be";}
        
        


 