


@{ViewBag.Title = "Consider your fellow passengers ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Consider your fellow passengers </h1>
        <div class="content-page-press-release">
        29 January 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Ken Livingstone, today launched a campaign to encourage people to be more considerate to one another when using public transport in London.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We can take responsibility for our actions"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Brown</div>
            <div class="quotee-job-title">Transport for London's Managing Director of Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We can take responsibility for our actions
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The campaign launched with a specially commissioned short film by Oscar-nominated British director Mike Figgis, which will be shown at cinemas across the Capital.</p>
<p>The campaign will also involve posters on buses and at Tube stations throughout London encouraging people to be considerate to their fellow passengers, summed up as 'A little thought from each of us. A big difference for everyone'. </p>
<p>The posters will feature five characters making specific pledges ranging from 'I will offer my seat' and 'I will not play my music out loud' to 'I will try to remember what it is like to be 14 again'.&nbsp; </p>
<p>The cinema film, set on a London bus, shows the effects that behaviour like playing music out loud, shouting on a mobile phone or eating a take-away lunch can have on other people's journeys. </p>
<h2>Cinemas</h2>
<p>Ken Livingstone, Mayor of London, said: "Public transport is for all Londoners and a little thought from each of us will make a big difference to everyone using our transport system.&nbsp; </p>
<p>"This campaign simply asks us to think about the effect of our behaviour on other passengers. </p>
<p>"We all share London's buses and Tube so a little thought for one another can make all of our journeys more pleasant and less stressful."</p>
<p>David Brown, Transport for London's Managing Director of Surface Transport, said: "Public transport is the main place where people from all walks of life meet everyday. </p>
<h2>Responsible</h2>
<p>"What is considered socially acceptable to some may not be interpreted the same way by everyone but we can take responsibility for our actions. </p>
<p>"This campaign complements other activities to improve the experience of public transport and with it the everyday experience of being in the city."</p>
<p>Samantha Mauger, Chief Executive of Age Concern London, said: "Inconsiderate behaviour is not a crime but it can increase the fear of crime, particularly among older people. </p>
<p>"Transport for London's innovative approach to dealing with this issue is to be welcomed and we hope that passengers of all ages begin to realise that their behaviour can at times annoy or irritate others".</p>
<h2>Pleasant environment</h2>
<p>Clare Tickell, Chief Executive of NCH, the children's charity, said: "Public transport is a lifeline for young people in the Capital.&nbsp;</p>
<p>"Many of the young&nbsp;people who&nbsp;use NCH's projects rely on public transport&nbsp;and want to travel in a clean and pleasant environment. </p>
<p>"All&nbsp;Londoners, young and old, have a responsibility to consider others when using public transport and we need to ensure that all passengers can travel across the Capital safely. </p>
<p>"That is why NCH supports the aims of this initiative."</p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>The cinema advert will be shown on 799 screens across London from 1&nbsp;February. Mike Figgis has directed films including Leaving Las Vegas with Nicolas Cage and Internal Affairs with Richard Gere </li>
<li>It was shot on four hand-held digital video cameras in one take with no editing, and is shown on a four-way split screen </li>
<li>Together for London posters featuring 'The Londoners' will be placed on buses, in London Underground stations and billboards from 1 February </li>
<li>The short film can be viewed from Friday at <a href="http://www.tfl.gov.uk/togetherforlondon">www.tfl.gov.uk/togetherforlondon</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The campaign launched with a specially commissioned short film by Oscar-nominated British director Mike Figgis, which will be shown at cinemas across the Capital.The campaign will also involve posters on buses and at Tube stations throughout London";}
        
        


 