


@{ViewBag.Title = "DLR takes first steps toward Dagenham";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>DLR takes first steps toward Dagenham</h1>
        <div class="content-page-press-release">
        29 January 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Docklands Light Railway (DLR), part of Transport for London (TfL), has launched the first phase of consultation for its proposed extension to Dagenham Dock.
        
    </div>



 <div class="on-this-page">
<p>More than 60,000 leaflets have been distributed to local residents, organisations and groups to gather general opinion on the extension. </p>
<p>A further round of consultation will take place in spring to seek views on individual route options.</p>
<p>The proposed extension, which could open in 2016, would extend east from the existing DLR network at Gallions Reach with possible new stations at Beckton Riverside, Creekmouth, Barking Riverside, Dagenham Vale and Dagenham Dock.</p>
<p>The area is set to benefit from a wide-ranging housing and business regeneration programme over the next few years as part of the Government's Thames Gateway initiative.</p>
<p>Richard De Cani, DLR Head of Planning and Development, said: &quot;Past DLR extensions have successfully assisted the regeneration of the areas they encompass and we are confident a link to Dagenham Dock would prove just as beneficial. </p>
<p>&quot;Views from interested parties have previously proved invaluable and as such I would urge people to read and respond to our leaflet. DLR prides itself on its effective consultation and we look forward to working alongside the local community over the next few years.&quot;</p>
<p>Further consultation activities will be announced later this year, including local meetings, exhibitions and open days. </p>
<p>DLR's most recent extensions, to London City Airport in 2005 and Lewisham in 1999, have assisted local regeneration and improved accessibility for residents to jobs and other services. The lines opened ahead of schedule and on budget and passenger numbers continue to grow steadily on both.</p>
<p>For more information email <a href="mailto:planning&#64;dlr.tfl.gov.uk">planning&#64;dlr.tfl.gov.uk</a>, call 020 7987 4244 or go to <a href="http://developments.dlr.co.uk/dagenham">http://developments.dlr.co.uk/dagenham</a><br></p>
<p>
            <ul>
<li>A route map of the proposed Dagenham Dock extension is available on request
</li><li>Funding for the extension has yet to be secured, but the proposal is well supported by various influential individuals and organisations including the Mayor of London
</li><li>Further information on DLR is available at tfl.gov.uk/<a href="http://www.dlr.co.uk">dlr</a>
</li><li>DLR won the overall Railway Industry Innovation Award in June 2006 for 'Delivering a successful railway through effective partnerships' and the 'Best Public Sector Planning Organisation' London Planning Award in December 2006</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "More than 60,000 leaflets have been distributed to local residents, organisations and groups to gather general opinion on the extension. A further round of consultation will take place in spring to seek views on individual route options.The proposed";}
        
        


 