


@{ViewBag.Title = "Early closing Mondays to Thursdays for more improvement work on Victoria line ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Early closing Mondays to Thursdays for more improvement work on Victoria line </h1>
        <div class="content-page-press-release">
        16 January 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The London Underground Victoria line will close early between Mondays and Thursdays from 4 February until late November 2008.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The early closures must happen if we are to successfully upgrade the line"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">Deputy Chief Operating Officer for London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The early closures must happen if we are to successfully upgrade the line
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Passengers using the line after 21:45 will be asked to use alternative routes while overnight work takes place on a major upgrade of the line. </p>
<p>Upgrading the Victoria line is one of London Underground's (LU's) largest investment projects and part of a &pound;10bn programme of investment by Transport for London (TfL). </p>
<p>The current Victoria line trains have been running for 40 years and carry 165 million passengers per year. </p>
<p>By 2025 it is estimated that passenger numbers will rise to 213 million per year. <br></p>
<p>The temporary early closures are necessary to allow the line and trains to be upgraded to meet the extra passenger demand and provide faster, more reliable journeys.<br></p>
<h2>Better ventilation</h2>
<p>New Victoria line trains will feature in-carriage CCTV, wheelchair access, better ventilation, and improved visual audio customer information systems. </p>
<p>They will offer a smoother, more comfortable ride and be able to operate more frequently, reducing both crowding and waiting times.</p>
<p>In order to achieve this the track must be renewed, the power supply upgraded, and new signalling and control systems installed. </p>
<p>Before being introduced the trains must also be thoroughly tested to comply with all safety and operational standards. </p>
<h2>New trains </h2>
<p>This testing began during last year's early closures and is now continuing, so that the first of the new trains can enter customer service late this year.</p>
<p>There will also need to be full and partial line closures at weekends to deliver the upgrade.</p>
<p>Passengers affected by the early closure should use alternative routes via other Underground lines, existing local bus and National Rail routes. </p>
<p>Two dedicated Rail Replacement Bus services will operate during the early closures. </p>
<h2>Replacement bus services </h2>
<p>They will run: <br></p>
<ul>
<li>Between Finsbury Park and Walthamstow Central, calling at all intermediate Victoria line stations. This service will also stop at Manor House for improved connections with the Piccadilly line </li>
<li>Between Victoria and Brixton, calling at Pimlico, Vauxhall and Stockwell</li></ul>
<p>Rail Replacement Buses will operate until the normal Victoria line end of service times. </p>
<h2>Must happen </h2>
<p>Howard Collins, Deputy Chief Operating Officer for&nbsp;LU said: "The early closures must happen if we are to successfully upgrade the line.</p>
<p>"Great care is being taken to cause the least possible disruption for passengers. </p>
<p>"During the closure posters and leaflets will be available at Victoria line stations, to guide passengers round the affected areas and to make journeys as easy as possible. </p>
<p>"Full details of weekend closures will also be publicised nearer the time."</p>
<h2>Last train times</h2>
<p>As an indication the following last train times will apply: </p>
<p><strong>Walthamstow Central/Seven Sisters </strong><br>21:54 southbound all stations to Brixton (from Walthamstow Central) <br>22:02 southbound all stations to Brixton (from Seven Sisters)</p>
<p><strong>Oxford Circus </strong><br>22:17 southbound all stations to Brixton&nbsp; <br>22:23 northbound all stations to Walthamstow Central <br>22:33 northbound all stations to Seven Sisters </p>
<p><strong>Brixton </strong><br>22:11 northbound all stations to Walthamstow Central <br>22:21 northbound all stations to Seven Sisters </p>
<h2>Underground tickets </h2>
<p>Valid Underground tickets will be accepted on local bus services. </p>
<p>The following National Rail services will also accept LU tickets:<br></p>
<ul>
<li>Liverpool Street to and from Walthamstow Central - Tottenham Hale - Seven Sisters, operated by National Express East Anglia (formerly One Railway) </li>
<li>Victoria to and from Herne Hill via Brixton, operated by Southeastern </li>
<li>Elephant &amp; Castle to and from Herne Hill, operated by First Capital Connect </li>
<li>Waterloo to and from Vauxhall, operated by South West Trains</li></ul>
<h2>Check </h2>
<p>Customers are advised to visit the&nbsp;<a href="http://www.tfl.gov.uk/tfl/livetravelnews/realtime/tube/tube-all-future.html">TfL</a> website&nbsp;or ring the 24-hour Travel Help Line on 020 7222 1234 for up to date details of planned engineering work and Rail Replacement Bus service on the Tube, and to check National Rail Enquiries on 08457 48 49 50 or their <a href="http://www.nationalrail.co.uk/">website</a>&nbsp;for details of National Rail engineering works.</p>
<p>
<hr>
<br>
<p>
            <p><strong>Notes to editors </strong><br>
<ul>
<li>TfL is investing &pound;10bn to improve and expand London's transport network, over half of that of being spent on the Tube</li>
<li>Tube Lines is responsible for the maintenance and renewal of Jubilee, Northern and Piccadilly lines</li>
<li>Metronet Rail BCV is responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo &amp; City lines</li>
<li>Metronet Rail SSL is responsible for the maintenance and renewal of the sub surface lines - the Circle, District, Hammersmith &amp; City, Metropolitan and East London lines</li>
<li>Metronet Rail BCV and SSL are now in administration </li>
<li>London Underground is working closely with the administrators, Ernst &amp; Young, to ensure all necessary maintenance and renewal works continue<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Passengers using the line after 21:45 will be asked to use alternative routes while overnight work takes place on a major upgrade of the line. Upgrading the Victoria line is one of London Underground's (LU's) largest investment projects and part of a";}
        
        


 