


@{ViewBag.Title = "Early Sunday morning closure is best option for Blackwall Tunnel maintenance";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Early Sunday morning closure is best option for Blackwall Tunnel maintenance</h1>
        <div class="content-page-press-release">
        10 January 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Tunnel will close 01:00 to 08:00 when at its quietest
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Maintenance of the tunnel is vital to keep it open and ensure that it operates at maximum efficiency at the busiest times"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Brown</div>
            <div class="quotee-job-title">Chief Operating Officer for Transport for London (Streets)</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Maintenance of the tunnel is vital to keep it open and ensure that it operates at maximum efficiency at the busiest times 
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The weekly routine maintenance closure of the northbound bore of the Blackwall Tunnel will move permanently from Tuesdays to Sundays from Sunday 13 January.</p>
<p>The change of day and time has been made to improve safety and minimise disruption for motorists. </p>
<p>The Sunday morning closure, between 01:00 and 08:00, will take place at a time when the tunnel is at its quietest. </p>
<p>Moving it from Tuesdays means that traffic disruption for late weekday travellers, including those attending events at The O2 and ExCeL, is avoided.</p>
<p>The permanent change follows public consultation last summer and a successful trial between September and November 2007. </p>
<p>During the closures, all of the diversion routes, including Rotherhithe Tunnel and the Dartford Crossings, continued to operate well and any increases in traffic flow were easily absorbed.</p>
<h2>Minimising inconvenience </h2>

<p>Traffic for the Sunday morning closures will be managed as follows:</p>
<ul>
<li>Northbound traffic diverted through the southbound tunnel </li>
<li>Southbound traffic diverted via Rotherhithe Tunnel, Central London or the Dartford Crossings </li>
<li>The 108 bus service that uses Blackwall Tunnel will not be diverted, but southbound buses will be escorted through the tunnel while northbound traffic is held at a red signal</li></ul>
<p>Peter Brown, Chief Operating Officer for Transport for London (Streets), said: "This revised closure regime allows us to carry out essential maintenance in a manner that maximises safety and at a time when the tunnel is at its least busy, thereby minimising inconvenience to motorists.</p>
<p>"Maintenance of the tunnel is vital to keep it open and ensure that it operates at maximum efficiency at the busiest times - we will regularly examine the way it is carried out to ensure we keep disruption to a minimum and provide the safest possible environment for road users."</p>
<p>Motorists are informed of the weekly closures through advanced warning signs at key locations, via Transport for London's (TfL's ) <a href="http://www.tfl.gov.uk/">website</a> and through&nbsp;TfL's and the Highway Agency's new <a href="http://www.trafficradio.org/">'Traffic Radio' </a>service. </p>
<p>
<hr>

            <p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>The northbound bore of the Blackwall Tunnel will undergo refurbishment in 2008 as part of TfL's Five Year Investment Programme </li>
<li>The refurbishment, due to begin in the summer, will improve tunnel safety systems and reduce the time needed for future tunnel maintenance </li>
<li>TfL will be consulting local residents and key stakeholders on the best way to manage the tunnel during the refurbishment </li>
<li>TfL&nbsp;is responsible for maintaining and managing the 580km Transport for London Road Network (TLRN), which, although comprising only&nbsp;five per cent of the Capital's roads, carries approximately 33 per cent of its traffic </li>
<li>TfL&nbsp;is responsible for implementing the Mayor's Transport Strategy on improving the movement of people and goods on London's streets by helping pedestrians, cyclists, bus passengers and people with disabilities</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The weekly routine maintenance closure of the northbound bore of the Blackwall Tunnel will move permanently from Tuesdays to Sundays from Sunday 13 January.The change of day and time has been made to improve safety and minimise disruption for motorists.";}
        
        


 