


@{ViewBag.Title = "High rate of crashes involving young drivers tackled";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>High rate of crashes involving young drivers tackled</h1>
        <div class="content-page-press-release">
        24 January 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        17 to 25-year-olds account for just eight per cent of all car driving licences in London, but are involved in 18 per cent of all collisions.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Young drivers can be over confident behind the wheel and often do not understand the consequences of speeding
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The consequences of speeding will be brought home to young drivers this week in a series of hard hitting workshops set up by the London Safety Camera Partnership, led by Transport for London (TfL).</p>
<p>Students from 20 London boroughs will attend the 'Risk It and Lose It' workshops involving a mock inquest held by a real Coroner, a dramatic filmed reconstruction of a crash and presentations from members of the emergency services and people affected by real life crashes.</p>
<p>In 2006, 4419 drivers and riders between 17 and 25 years were involved in speed-related collisions on London's roads. </p>
<p>The 'Risk It &amp; Lose It' road safety event will explore the issue of risk-taking behaviour, and will consider the role of both the passenger and the driver in vehicle collisions. </p>
<h2>Workshops</h2>
<p>The theme of the event is 'If you speed, or are a passenger in a speeding vehicle, you risk losing your life, your licence, your friends and your freedom', addressing both the physical and social consequences of dangerous driving. </p>
<p>In addition to the dramatic Coroner's Court mock inquest, presided over by Assistant Deputy Coroner, Lorna Tagliavini, students will compete in a quiz show devised with the Drivers Standard Agency, and see a reconstruction of a collision scene, complete with Emergency Services officers describing the horror they face when recovering a collision.</p>
<p>17 to 25-year-olds account for just eight per cent of all car driving licences in London, but are involved in 18 per cent of all collisions on the Capital's roads.</p>
<p>The Mayor of London, Ken Livingstone, said: 'Transport for London has worked hard to reduce the number of young lives needlessly lost to road accidents in the capital. </p>
<h2>Staying safe</h2>
<p>"The numbers of children and young people killed and injured has been successfully cut by 58 per cent compared to the mid to late 1990s, but we are determined to reduce this number further. </p>
<p>"These workshops will help get across to young people the importance of staying safe on the roads."</p>
<p>Christine Fitzgerald, Road Safety Communications Manager, London Safety Camera Partnership, said:&nbsp;"Young drivers are far too heavily represented in collision statistics.&nbsp; Some of the reasons for this are young drivers can be over confident behind the wheel and often do not understand the consequences of speeding."</p>
<p>Risk It &amp; Lose It aims to make young drivers to not only think about the physical consequences or excessive speed like death and serious injury, but also the social, emotional and psychological consequences.</p>
<h2>Road users</h2>
<p>Commander Shabir Hussain, of the Metropolitan Police Service's Traffic and Transport Unit, said, "Young people are the greatest risk to themselves, their passengers and other road users. </p>
<p>"This event is not about punishing younger people, but helping them correctly assess hazards and stay alive."</p>
<p>Neil Kendrick, London Ambulance Service Paramedic, said: "We attend a large number of road incidents involving young adults and we appreciate the value of giving them a shocking insight into the potential dangers when driving. </p>
<p>"High-impact driver education initiatives such as 'Risk It &amp; Lose It' are vital to ensure that young drivers are aware of the enormous impact that speeding and risk-taking can have on themselves and the lives of those around them."</p>
<p>The London Safety Camera Partnership will be supported at the event by the Metropolitan Police Service, the London Ambulance Service, the London Fire Brigade, the Driving Standards Agency and London Borough Road Safety Units. </p>
<p>The London Safety Camera Partnership is responsible for speed and red light cameras across London, and combines its enforcement operation with an ongoing education and communication campaign in order to highlight the serious consequences of inappropriate speed and red light jumping.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Risk It &amp; Lose It will be held on Thursday 24 January at the Royal Horticultural Halls in central London. Session times are 09:30&nbsp;to 12:15 and 12:30 to 15:15 </li>
<li>Media are invited to attend the Thursday morning session. Please contact Kristy Marshall on 07921 491058 </li>
<li>Interviews with Transport for London's Head of Road Safety, Chris Lines, can be arranged for between 09.00 and 12.00 on Thursday 24 January </li>
<li>Sue Cini, a member of road safety charity Road Peace, and mother of Lee Cini who died along with two friends in a speed related collision in March 2003 aged 20, will be available for interview between 09:00 and 12:00 on Thursday 24 January </li>
<li>The London Safety Camera Partnership is made up of Transport for London, London Councils, Metropolitan Police Service, City of London Police and Her Majesty's Courts Service </li>
<li>At sites where London Safety Camera Partnership cameras have been placed there has been an average 53 per cent reduction in the number of people killed or seriously injured<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The consequences of speeding will be brought home to young drivers this week in a series of hard hitting workshops set up by the London Safety Camera Partnership, led by Transport for London (TfL).Students from 20 London boroughs will attend the 'Risk It";}
        
        


 