


@{ViewBag.Title = "Low Emission Zone: Operators reminded to get emissions equipment now ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Low Emission Zone: Operators reminded to get emissions equipment now </h1>
        <div class="content-page-press-release">
        15 January 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"It is very encouraging to see that large numbers of operators are taking action"</div>
        <div class="quote-footer">
            <div class="quotee-name">Nick Fairholme</div>
            <div class="quotee-job-title">Head of the London Low Emission Zone</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It is very encouraging to see that large numbers of operators are taking action 
                            
                        </p>
                    </div>
                
            
            
            <p>With the start of the Low Emission Zone on 4 February, Transport for London (TfL) today reminded operators with vehicles that don't meet Low Emission Zone standards to make sure that they have taken all reasonable steps to comply, for example, by fitting their vehicles with emissions abatement equipment. 
<p>
<p>Many operators have already fitted abatement equipment to ensure that their vehicles comply with the scheme, designed to improve London's air quality by encouraging operators to clean up the most polluting vehicles.&nbsp; <br>&nbsp;<br>Some operators are taking action to do so but, because of the installation time, may not be compliant when the zone goes live. </p>
<p>Given this situation, TfL is giving operators who drive in the zone with vehicles that do not comply, a 28 day warning period in which to bring their vehicles into compliance.&nbsp;</p>
<h2>Action</h2>
<p>During this time they will not be fined, but after 28 days penalty charge notices will be issued and it will be up to the operator to show that they have made all reasonable progress before the introduction of the zone.<br>&nbsp;<br>Nick Fairholme, Head of the London Low Emission Zone, said: "It is very encouraging to see that large numbers of operators are taking action to make their vehicles compliant with the Low Emission Zone standards.&nbsp; </p>
<p>"We always planned to issue only warning letters to operators of non-compliant vehicles the first time they are seen within the zone.&nbsp; </p>
<p>"This strikes a fair balance between ensuring the benefits are delivered while giving those operators who are taking steps to meet the emissions standards a warning and the opportunity to comply.&nbsp; </p>
<h2>Reducing pollution</h2>
<p>"We are making the warning letter and the 28 day period known to operators now, particularly those who have sought to take action in the period up to 4 February, and are concerned that they are waiting on delivery of new vehicles or to have abatement equipment fitted."<br>&nbsp;<br>The London Low Emission Zone aims to reduce traffic pollution caused by large diesel vehicles and improve the health and quality of life of Londoners.</p>
<p>It is estimated 1,000 people die prematurely each year in London due to poor air quality.<br>&nbsp;<br>The Low Emission Zone requires that from 00:01&nbsp;on Monday 4 February 2008, diesel-engined lorries weighing more than 12 tonnes will be need to meet specified emissions standards.&nbsp; </p>
<p>All diesel-engined vehicles between 3.5 and 12 tonnes, buses and coaches will be affected by the Low Emission Zone from 7 July 2008.<br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>From the date of issue of the warning letter, operators will have 28 calendar days to take action. This could include, for example, making their vehicle compliant or contacting TfL if they believe the warning letter has been issued in error </li>
<li>During the warning letter period, operators will not need to pay the daily charge </li>
<li>If the same vehicle is seen in the Zone again within this 28 day period, a penalty charge notice will not be issued </li>
<li>After the end of the 28 day period operators will need to pay the daily charge if they wish to drive non-compliant vehicles within the zone. However, if operators can demonstrate they have sought to comply with the emissions standards, eg through placing an order for an abatement device or a new vehicle in good time, then they can apply to TfL for a refund of the daily charges paid, provided they can supply appropriate evidence</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "With the start of the Low Emission Zone on 4 February, Transport for London (TfL) today reminded operators with vehicles that don't meet Low Emission Zone standards to make sure that they have taken all reasonable steps to comply, for example, by fitting";}
        
        


 