


@{ViewBag.Title = "LU becomes first public body to join Ethical Trading Initiative";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>LU becomes first public body to join Ethical Trading Initiative</h1>
        <div class="content-page-press-release">
        17 January 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) has taken the unprecedented step of becoming the first public body to join the Ethical Trading Initiative (ETI) - an alliance of retailers, unions and charities committed to improving workers' conditions in supplier factories.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            LU has always strived to ensure that there is respect and fairness for employees at its uniform supplier factories
                            
                        </p>
                    </div>
                
            
            
            <p>LU issues about 300,000 items of uniform a year to its 12,000 staff, much of it made in the Far East and Eastern Europe. Companies supplying LU clothing will now have to demonstrate their efforts towards complying with a set of stringent standards covering health and safety, wages, discrimination and other labour issues.</p>
<p>The standards were drawn up by the Ethical Trading Initiative, which LU is joining as a full corporate member.</p>
<p>Peter Zuk, LU Chief Programmes Officer said: "This is great news for London Underground staff, our passengers and suppliers. By becoming the UK's first public sector organisation to join the Ethical Trading Initiative, we can demonstrate our commitment to ethical sourcing. </p>
<p>"LU has always strived to ensure that there is respect and fairness for employees at its uniform supplier factories. ETI provides the perfect forum for us to join forces with others to tackle poor working conditions worldwide. We hope other public sector bodies will follow our lead."</p>
<p>The chair of ETI, Alan Roberts, said: "LU's decision to join us is a milestone for ethical trade. Let's hope it will blaze a trail for other public sector bodies to sign up."</p>
            <ul>
<li>The Ethical Trading Initiative (ETI) was established in 1998 to improve the lives of workers and their families in global supply chains. Its purpose is to identify and promote responsible corporate practice that will help make this a reality. ETI is funded by membership fees, a grant from the Department for International Development and project funding</li>
<li>Other members include Marks & Spencer, the Co-op, Tesco and The Body Shop</li>
<li>The ETI Base Code is based on International Labour Organisation (ILO) conventions and as such is widely acknowledged as a model code of labour practice. It bans child labour, excessive working hours, unhygienic conditions, and inhumane treatment</li>
<li>LU staff uniforms are currently manufactured in China, Hungary, India, Macedonia, Portugal, Romania and Sri Lanka</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "LU issues about 300,000 items of uniform a year to its 12,000 staff, much of it made in the Far East and Eastern Europe. Companies supplying LU clothing will now have to demonstrate their efforts towards complying with a set of stringent standards";}
        
        


 