


@{ViewBag.Title = "New plan launched to help London's freight industry ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New plan launched to help London's freight industry </h1>
        <div class="content-page-press-release">
        09 January 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Sustainable and efficient freight operations within the Capital came a step closer today as Transport for London (TfL) launched the London Freight Plan, designed to improve and support London's freight industry.
        
    </div>



 <div class="on-this-page">
<p>
<p>The plan comprises four key projects highlighting action that needs to be under taken over the next five to ten years to help reduce emissions, congestion and collisions on the Capital's roads.</p>
<p>The projects aim to improve driving and vehicle standards in the freight industry.</p>
<p>Operators will be offered additional training to help them improve efficiency, manage road risk and reduce harmful CO2 emissions.</p>
<p>The plan will also create an information portal for London's public authorities and freight operators, as well as research on the use of alternative fuels, low carbon vehicles and other innovations that may benefit operators.</p>
<p>Ken Livingstone, Mayor of London, said:&nbsp;"London's success, and future growth, is dependent upon the efficient movement of goods around the city.</p>
<p>"We need to improve the efficiency of the freight sector while also reducing the environmental and social impacts of freight transport on London, particularly our contribution to climate change. </p>
<p>"Achieving sustainable freight distribution in London will make a real and positive contribution to improving the lives of those who live, work and visit London."</p>
<p>David Brown, Managing Director for Surface Transport,&nbsp;TfL, said: "This plan helps London address the challenges it faces in ensuring the efficient, safe, timely and sustainable movement of goods and materials across the city, helping to minimise impact on the environment. </p>
<p>"We need to understand the needs of the freight industry and consumers and ensure that best practice is spread across all areas."</p>
<p>Kevin Pritchett, Chair of the Greater London Freight Council, said: "The Freight Transport Association (FTA) and its members are delighted to see today's launch of the London Freight Plan. </p>
<p>"FTA has been pressing for the development of a strategic plan for some time and it is heartening to see how cooperation between FTA and TfL can yield results in this way. </p>
<p>"There are many challenges ahead in the delivery of the plan but we will continue to work together to create a sustainable freight sector for the benefit of Londoners and the businesses that the freight industry serves."</p>
<p>For more information on the plan, visit <a href="http://www.tfl.gov.uk/freight">www.tfl.gov.uk/freight</a> </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>TfL's vision for freight in London is defined as: "The safe, reliable and efficient movement of freight and servicing trips to, from, within and, where appropriate, through London to support London's economy, in balance with the needs of other transport users, the environment and Londoners' quality of life." </li>
<li>The Freight Operator Recognition Scheme is designed to encourage road freight operators to adopt best practice </li>
<li>The <a href="http://www.tfl.gov.uk/freight ">London Freight Plan</a> can be viewed online </li>
<li>The plan is the culmination of work by the London Sustainable Distribution Partnership (LSDP), TfL, the London boroughs and key businesses, freight operators, bodies and associations<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The plan comprises four key projects highlighting action that needs to be under taken over the next five to ten years to help reduce emissions, congestion and collisions on the Capital's roads.The projects aim to improve driving and vehicle standards in";}
        
        


 