


@{ViewBag.Title = "Ten millionth Oyster card issued - Mayor urges train operators to join system by 31 January";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Ten millionth Oyster card issued - Mayor urges train operators to join system by 31 January</h1>
        <div class="content-page-press-release">
        09 January 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Mayor's press office at the Greater London Authority.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Around three quarters of journeys on London's buses and Underground are now paid for by Oyster card
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) has announced that the 10 millionth 
Oyster card has been issued. </p>
<p>This is a major step towards TfL's aim of making Oyster smart card electronic 
ticketing the predominant means of payment throughout London's transport 
system.</p>
<p>Around three quarters of all Underground and bus payments in London are now 
by Oyster card. </p>
<p>In the three years since the introduction of Oyster card, the proportion of 
cash payments on London's Underground and buses has fallen to just five per 
cent.</p>
<p>The benefits of Oyster card payments in speed on the transport system are 
huge. </p>
<p>Almost three times as many passengers can pass an Underground payment gate 
using Oyster card as can using printed tickets - 40 a minute compared to 15 a 
minute. </p>
<p>Even greater time savings exist on buses of Oyster card payment compared to 
cash.</p>
<p>The main gap in payments on Oyster card remains on surface rail where the 
train operating companies are yet to accept Oyster pre-pay. This affects 180,000 
passengers a day.</p>
<p>In May 2006, the Mayor offered a funding package of &pound;20m to the train 
operators, which will finance the technology to accept the pay as you go system 
to be bought and installed at every station in Zones 1-6.</p>
<p>
<h2>Unified ticketing</h2>
<p>
<p>The companies have until the 31 January to accept this offer. </p>
<p>With the introduction on the rail system of the familiar six zones already 
used for Underground and Travelcard tickets, London can move to a unified 
ticketing system based on the Oyster smart card.</p>
<p>The Mayor of London, Ken Livingstone, said: "Around three quarters of 
journeys on London's buses and Underground are now paid for by Oyster card 
compared to only five per cent by cash - bringing huge time savings to 
passengers and the transport system. </p>
<p>"Ten million Oyster cards have now been taken out by the public.</p>
<p>
<h2>Oyster's convenience</h2>
<p>
<p>"But most of the train operating companies still continue to deprive their 
passengers of the benefits of Oyster payment for single journeys with pre-pay. 
</p>
<p>"With the introduction of a zone system for rail fares in London, and my 
offer to train operators to pay them &pound;20m to install Oyster equipment, there is 
no reason why the train operating companies cannot sign up to our proposals by 
31st January.</p>
<p>"Oyster has already proved itself to many millions of Londoners and it seems 
amazing that these companies haven't yet agreed to a deal which would meet their 
capital expenditure and would save their customers time, money and 
inconvenience.</p>
<p>"The train operating companies are in talks with TfL about adopting Oyster, 
and particular progress is being made by some towards selling Oyster products 
outside of London. </p>
<p>
<h2>Easier journeys</h2>
<p>
<p>"But what London travellers really want is to be allowed to use Oyster pay as 
you go on their rail services.</p>
<p>"Only five per cent of journeys on the Tube and bus are paid for by cash, but 
the continued lack of availability of pay as you go on a large proportion of the 
National Rail network in the Capital means that Londoners who rely on rail 
services are missing out on the cheaper fares and easier journeys that are 
available on Oyster."</p>
<p>In just over three years since its launch, Londoners have snapped up more 
than 10 million Oyster cards, and now only five per cent of journeys on the Tube 
and bus networks - just one in 20 - are paid for by cash.</p>
            <ul>
<li>As an example, with Oyster pay as you go you can place &pound;10 on your Oyster card, and when you touch in and out at the yellow readers with your card on the Tube, DLR, tram or bus, the reader automatically deducts the correct fare 
</li><li>Oyster is available to buy or be topped up at all 275 Tube stations and there are also more than 2,200 Oyster Ticket Stop agents across the Capital. Around 85 per cent of all Londoners live within 400 metres of an Oyster Ticket Stop </li></ul>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has announced that the 10 millionth Oyster card has been issued. This is a major step towards TfL's aim of making Oyster smart card electronic ticketing the predominant means of payment throughout London's transport";}
        
        


 