


@{ViewBag.Title = "TfL statement on the London Assembly report into crime and disorder on London's buses";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL statement on the London Assembly report into crime and disorder on London's buses</h1>
        <div class="content-page-press-release">
        11 January 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) notes the report's conclusion that crime on London's buses is low and getting lower as a result of the 'impressive efforts' that have been made to tackle the issue by TfL and its partners.
        
    </div>



 <div class="on-this-page">
<p>
</p>
<p>However, the report is misleading in a number of important respects.  </p>
<p>Crime rates on London buses are in fact the lowest they have been since 2004 - and not higher than two years ago as stated.</p>
<p>There has been an 11 per cent reduction in bus related crime, meaning that crime rates - at just 15 crimes for every million passenger journeys - are also now below levels before Free Travel for Under-16s was introduced in September 2005.  </p>
<h2>Improved reporting</h2>
<p>We are confident that we will deliver a continued downward trend in the coming months and years. In fact, the vast majority of our passengers are unlikely ever to be the victim of a crime on a London bus.</p>
<p>The report is misleading in several other areas: </p>
<ul>
    <li>The majority of Driver Incident Reports do not relate to antisocial behaviour, and the table produced in the report of the route generating most driver calls is meaningless without taking into account the length of the route and the number of passengers who use that route </li>
    <li>The calculations made by the Assembly on the investment in security on the Docklands Light Railway do not make sense and show a total misunderstanding of the complex nature of policing London's vast transport network</li>
    <li>While the report recognises efforts to improve reporting of bus-related crime it fails to acknowledge the impact this has had. As more police and resources are employed, reporting has improved significantly. These statistics can then only be judged in the context of this concerted drive to increase reporting, particularly of graffiti and vandalism offences, which accounts for 45 per cent of the increase in total reported crime between 2004/05 and 2006/07</li>
</ul>
<p>Jeroen Weimar, Director of Transport Policing and Enforcement at TfL, said: "Crime on London's buses is low and getting lower - there has been an 11 per cent reduction in crime levels and there are now just 15 crimes for every million passenger journeys on the bus network.</p>
<p>"While the report recognises that buses are a low crime environment, there are a number of conclusions that have been drawn incorrectly.</p>
<p>"The majority of the recommendations made by the Assembly reflect work which TfL is already doing - for example our bus drivers are already trained in conflict management, and from September all bus drivers will have to refresh their training on an annual basis. </p>
<h2>Increased police numbers</h2>
<p>"TfL has installed CCTV on every London bus. There are now around 60,000 cameras on the fleet of 8,000 buses. </p>
<p>"But we are also already looking at ways to further improve the system - particularly in light of the rollout of the new iBus system over the next two years."</p>
<p>The reduction in crime levels is the result of targeted and highly visible policing through improved intelligence gathering and increased police numbers.</p>
<p>There are an extra 440 police and community support officers on the buses whose work compliments that of the existing 1,200-strong Transport Operational Command Unit. </p>
<p>As well as CCTV on every bus, there is also instant radio connection for every bus driver to police support.  </p>
<p>This and other measures will ensure that the bus network continues to provide an overwhelmingly safe environment.</p>
<p>The most accurate and most recent bus related crime statistics show a downward trend in bus related crime:</p>
<ul>
    <li>The crime rate for the first half of 2007/8 was 15 crimes per million passenger journeys</li>
    <li>The crime rate for the first half of 2006/7 was 18 crimes per million passenger journeys</li>
    <li>The crime rate for the first half of 2005/6 was 20 crimes per million passenger journeys</li>
    <li>The crime rate for the first half of 2004/5 was 18 crimes per million passenger journeys</li>
</ul>
<p><strong>Notes to editors:</strong></p>
<ul>
    <li>Survey of passenger attitudes to safety on buses: <br />
    95 per cent of London passengers feel very safe or fairly safe using London's buses, according to a Metropolitan Police Service public perception survey of more than 5,750 respondents, carried out between 2006/07 Q2 and 2007/08 Q1 </li>
    <li>TfL'sinvestment in security on and around the bus network: </li>
    <li><strong>Transport Operational Command Unit (TOCU)</strong><br />
    TfL funds the TOCU at a cost of &pound;70million a year. The TOCU is made up of 1,200 uniformed police officers dedicated to patrolling on and around the bus network. These officers take part in day to day bus hopping exercises as well as targeted operations such as Operation Goldfinger (focussing on school and youth related issues) and Operation Chicago (which targets robberies, thefts, ticket fraud, fare evasion, drug trafficking, aggressive begging and antisocial behaviour in Lambeth and Croydon). They will also carry out undercover operations which target pickpockets in priority areas </li>
    <li><strong>Safer Transport Teams (STTs)</strong><br />
    All 21 borough-based STTs, funded by TfL at a cost of &pound;10million a year, are now operational. They provide strong communication links with bus garages in place and undertake visible patrols. Already, patrol areas such as Bexley town centre are showing reductions in antisocial behaviour and crime. TPED has had extremely positive feedback from bus operators, staff and passengers. All STTs have priorities that focus specifically on youth crime and antisocial behaviour on the bus network.<br />
    The Mayor and Transport for London, in partnership with the Metropolitan Police Service, will be providing funding of &pound;10.7million for the continued operation  of the STTs for a third year, 2009/10 </li>
    <li><strong>CCTV </strong><br />
    TfL has installed CCTV on every London bus. There are now around 60,000 cameras on the fleet of 8,000 buses. <br />
    This has helped to tackle low level crime as well as proving an invaluable policing tool for forces all around London who requests footage to help investigations into both bus related crime and street crime.<br />
    Operation BusTag, which targets criminal damage using CCTV has led to around 2,400 arrests with more than 90 per cent resulting in successful convictions</li>
</ul>
<p>
</p>
<p>
</p>
<p>
</p>
<div style="float: right;"></div>
<p>
</p>
<p>
</p>
<p> </p>
<p> </p>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "However, the report is misleading in a number of important respects.&nbsp; Crime rates on London buses are in fact the lowest they have been since 2004 - and not higher than two years ago as stated.There has been an 11 per cent reduction in bus related";}
        
        


 