


@{ViewBag.Title = "Traffic disruption expected on A40 Eastbound due to emergency utility works by EDF Energy";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Traffic disruption expected on A40 Eastbound due to emergency utility works by EDF Energy</h1>
        <div class="content-page-press-release">
        25 January 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is warning of traffic disruption along the A40 eastbound from 22:00 25 January due to emergency utility works by EDF Energy, after they advised this evening that the works would proceed
        
    </div>



 <div class="on-this-page">
<p>
<p>The works, which will take place at the junction of the A40 and Wales Farm Road, will see the A40 be reduced to two lanes eastbound. </p>
<p>Drivers are advised to find alternative routes and avoid using the A40 between Hanger Lane and the A40 Westway where possible.</p>
<p>Current work to replace the A40 bridges at Wales Farm Road and Perryn Road, which is being carried out separately by TfL, will be continuing as normal while the work by EDF Energy is completed.<br>&nbsp;<br>For more information about how the roadworks may affect your travel, call TfL travel line on 020 7222 1234 or visit the <a href="http://www.tfl.gov.uk/businessandpartners/freight/2988.aspx">website</a>.&nbsp;&nbsp;<br>&nbsp;<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The works, which will take place at the junction of the A40 and Wales Farm Road, will see the A40 be reduced to two lanes eastbound. Drivers are advised to find alternative routes and avoid using the A40 between Hanger Lane and the A40 Westway where";}
        
        


 