


@{ViewBag.Title = "Transport for London services this evening";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London services this evening</h1>
        <div class="content-page-press-release">
        18 January 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) services are disrupted this evening due to strong winds with some London Underground (LU) lines part-suspended and others operating with severe delays.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            LU and London Buses are mutually accepting one another's tickets for travel via any reasonable route
                            
                        </p>
                    </div>
                
            
            
            <p>London Buses is also experiencing disruption with a number of routes on diversion or part-suspended.</p>
<p>Throughout the day, fallen trees and other debris have caused disruption to most open sections of the Tube network.</p>
<p>Speed restrictions have also been introduced on some open sections of the Tube network for safety reasons.</p>
<p>LU is working with infrastructure companies Tube Lines and Metronet to remove debris from tracks as quickly as possible but inevitably this will result in disruption to services.</p>
<p>Disruption is also being experienced on the Docklands Light Railway, London River Services, Croydon Tramlink and National Rail services. </p>
<p>LU and London Buses are mutually accepting one another's tickets for travel via any reasonable route. </p>
<p>LU will also accept valid National Rail and Docklands Light Railways tickets via any reasonable route.</p>
<p>The advice to passengers is to check before you travel this evening via the following options and allow extra time for journeys:</p>
<ul>
<li>The TfL website: <a href="http://www.tfl.gov.uk/realtime">www.tfl.gov.uk/realtime</a> 
</li><li>The London Travel Information 24-hour telephone helpline: 020 7222 1234 
</li><li>BBC Ceefax, page 436, or ITV's Teletext, page 164 
</li><li>Information on 'Good Service' boards at Tube stations</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Buses is also experiencing disruption with a number of routes on diversion or part-suspended.Throughout the day, fallen trees and other debris have caused disruption to most open sections of the Tube network.Speed restrictions have also been";}
        
        


 