


@{ViewBag.Title = "Transport for London arrives in Stonewall equalities top 10";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London arrives in Stonewall equalities top 10</h1>
        <div class="content-page-press-release">
        11 January 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has been named by Stonewall, the leading gay equalities organisation, as one of England's top 10 employers in their 2007 Workplace Equality Index.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is great recognition for our progress in promoting equality and diversity
                            
                        </p>
                    </div>
                
            
            
            <p>TfL is placed eighth, a dramatic improvement from last year's rating of 59th in the top 100. </p>
<p>This makes TfL the most improved public body over the period, an achievement that has been recognised by Stonewall.</p>
<p>Stonewall's Workplace Equality Index is the definitive national benchmarking exercise showcasing Britain's top employers for gay staff. </p>
<p>This year, 200 organisations from across the private and public sector were surveyed. </p>
<p>TfL's placing is the result of work carried across the organisation and supported by its Equality and Inclusion team over the past year: </p>
<ul>
<li>Dedicated equality training has been introduced for all staff. This emphasises the need to value people 
</li><li>Staff network groups have developed a more active support and development role 
</li><li>A supplier diversity procurement programme to ensure that all services are procured fairly is now in place</li></ul>
<p>Peter Hendy, Commissioner, Transport for London said:"We are absolutely delighted to be eighth in the top 100 employers and thrilled to receive an award for the most improved public organisation. </p>
<p>"This is great recognition for our progress in promoting equality and diversity in the workplace. </p>
<p>"We've taken part in Stonewall's programme since it began in 2005 and benefited from the chance to step back and measure ourselves against other leading employers. </p>
<p>"We're not being complacent and there is more to be achieved but this award is a great incentive to continue our progress."</p>
<p>Mayor of London, Ken Livingstone said: "Transport for London deserves congratulations for the hard work it has put in to achieve a top 10 placing this year. </p>
<p>"In addition I am delighted that the Greater London Authority has been rated third and is the highest rated public sector organisation in the index. </p>
<p>"These results underline our commitment to the development and well-being of all our staff across London." </p>
            <ul>
<li>Employers were ranked according to criteria ranging from implementation of an effective equality policy to demonstrating how they  engage with their lesbian and gay staff and customers and service users. The Index assesses actual practice, such as recruitment  and mentoring activity, as well as policy</li>
<li>The 2003 Employment Equality (Sexual Orientation) Regulations made workplace discrimination against lesbian, gay and bisexual  people unlawful</li>
<li>Government actuaries now estimate that six per cent of the adult population is lesbian or gay. The current UK workforce is 28.4  million</li>
<li>Stonewall is the gay equality organisation founded in 1989. Its diversity Champions programme works with employers to promote  good working conditions for all existing and potential employees and to ensure equal treatment for those who are lesbian, gay and  bisexual</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL is placed eighth, a dramatic improvement from last year's rating of 59th in the top 100. This makes TfL the most improved public body over the period, an achievement that has been recognised by Stonewall.Stonewall's Workplace Equality Index is the";}
        
        


 