


@{ViewBag.Title = "Two weeks to go until London Low Emission starts for lorries ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Two weeks to go until London Low Emission starts for lorries </h1>
        <div class="content-page-press-release">
        21 January 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The London Low Emission Zone, which aims to reduce harmful emissions from the most polluting diesel-engined lorries, coaches, and buses goes live on Monday 4 February.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Thousands of Londoners suffer ill-health from pollution released by traffic fumes."</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Thousands of Londoners suffer ill-health from pollution released by traffic fumes. 
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>From February, diesel-engined lorries weighing more than 12 tonnes will be required to meet strict emissions standards. </p>
<p>Vehicles which fail to meet the required standard will face a daily charge.&nbsp; </p>
<p>The zone, which aims to improve air quality in London, will be in force 24 hours a day, seven days a week, every day of the year and will cover most of Greater London.</p>
<p>The capital has the worst air pollution in the UK, and among the worst in Europe, and polling has found that 72 per cent of Londoners are worried about pollution from traffic exhaust fumes. </p>
<p>Poor air quality worsens asthma and causes the premature death of an estimated 1,000 people each year in London.</p>
<p>The Mayor has a legal responsibility to improve air quality across the city and the introduction of a London-wide Low Emission Zone was a key manifesto commitment.&nbsp; </p>
<h2>First in the UK</h2>
<p>The London Low Emission Zone is the first in the UK and the largest in the world.</p>
<p>The Mayor of London, Ken Livingstone, said: "Thousands of Londoners suffer ill-health from pollution released by traffic fumes. </p>
<p>"This is why we are launching the London-wide Low Emission Zone. </p>
<p>"It will improve Londoners' quality of life, and clean up London's air, which is currently among the most polluted in Europe.</p>
<h2>Positive effects </h2>
<p>"The zone does not apply to cars or motorcycles, but instead targets the most polluting diesel-engined lorries, coaches, and buses. </p>
<p>"The positive effects of the zone will be felt across the capital."</p>
<p>David Brown, Managing Director Surface Transport, Transport for London (TfL), said: "We have done a huge amount of work to inform operators that they will need to meet the Low Emission Zone standards.&nbsp;</p>
<p>"Many operators have already taken action and a significant number of lorries driving in London already meet the emissions standards.&nbsp; </p>
<h2>Urging operators </h2>
<p>"We would urge the remaining operators to make sure they are ready."</p>
<p>TfL&nbsp;has carried out an extensive operator information campaign, which began in June 2007, urging operators to see if they are affected and to take timely action to avoid paying the daily charge.&nbsp;</p>
<p>A multi-media campaign has been running in the national and London press, and posters at the roadside and at Eurotunnel, a radio campaign, and press adverts in a wide selection of specialist press have raised awareness of the zone.</p>
<p>An extensive direct mail campaign has targeted companies with an operator licence and operators of non-compliant vehicles seen in the zone. </p>
<h2>Run up to the launch </h2>
<p>Press activity as well as some direct mail activity has also targeted European operators.</p>
<p>A series of roadshows has been held at ports, motorway service stations, transport cafes and key destinations such as markets and exhibitions.</p>
<p>Advertising is continuing in the run up to the launch of the scheme on poster sites on main arterial routes into London, at Eurotunnel, on radio, and in the trade press in the UK and Europe as well as further national press in the UK.</p>
<p>Advertising is also appearing on diesel pumps, and is backed by a further direct mail activity planned targeting those operators seen driving non-compliant vehicles in the zone in the run up to the launch of the scheme.</p>
<p>To find out if your vehicle meets the Low Emission Zone emissions standards, use the <a href="http://www.tfl.gov.uk/lezlondon">vehicle compliance checker </a>or call 0845 607 0009 (or +44 20 7310 8998 for callers from outside the UK) for an information leaflet. </p>
<p>
<hr>
<br>
<p>
            <p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>&nbsp;The Low Emission Zone will: </li></ul>
<ul type="square">
<li>Operate using cameras to identify registration numbers of vehicles driving within Greater London. The scheme will operate seven days a week, every day of the year </li>
<li>Use the DVLA database and other sources of information to identify a vehicle's emissions standards </li>
<li>Allow for the emissions standard for lorries, coaches and buses to be tightened in January 2012</li></ul>
<ul>
<li>Operators of affected vehicles which do not meet the Low Emission Zone emissions standards (unless exempt or registered for a 100 per cent&nbsp;discount) will have to pay a charge of &pound;200 for lorries, buses and coaches (which become subject to the Low Emission Zone in 2008).&nbsp; A charging day runs from midnight to midnight.&nbsp; The level of charge has been set in order to encourage operators to clean up their fleets rather than to encourage regular payment of the charge </li>
<li>Operators that do not pay the daily charge and whose vehicles are identified as not meeting the emissions standards will be liable to pay a daily penalty charge on receipt of a Penalty Charge Notice (PCN).&nbsp; The penalty charge is &pound;1,000 for lorries, buses and coaches (which become subject to the Low Emission Zone in 2008), which is reduced to &pound;500 if paid within 14 days </li>
<li>Non-GB registered vehicles that meet the Low Emission Zone emissions standards will need to be registered with Transport for London in order to avoid a penalty charge. Registration has been open since 30 July 2007 </li></ul>
<ul>
<li>Low Emission Zone boundary:</li></ul>
<ul type="square">
<li>The Low Emission Zone will cover most of Greater London, to maximise the air quality and health benefits for all Londoners </li>
<li>The Low Emission Zone will not include the M25, even when it passes within the boundary of the zone. The M25 can be used by drivers as a diversionary route, should they wish to avoid the zone. Some motorways and trunk roads will be included in the scheme. The <a href="http://www.tfl.gov.uk/lezlondon">website</a> includes a map so drivers can check the boundaries and which roads are included within the zone<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "From February, diesel-engined lorries weighing more than 12 tonnes will be required to meet strict emissions standards. Vehicles which fail to meet the required standard will face a daily charge.&nbsp; The zone, which aims to improve air quality in";}
        
        


 