


@{ViewBag.Title = "Zip on board with Oyster";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Zip on board with Oyster</h1>
        <div class="content-page-press-release">
        07 January 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Free photocards for over 11s - touching in with the card to become compulsory
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Free travel is a vital investment in London's future"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Free travel is a vital investment in London's future
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The Mayor of London, Ken Livingstone, today launched the Zip card, a free Oyster photocard that will have to be used by 11-18 year olds who qualify for free bus and tram travel in the Capital.</p>
<p>The new Zip card scheme means that from 1 June young people will have to touch in on buses and trams and show their photocards on request. </p>
<p>This will clarify the free travel privilege and make it easier to catch those few individuals who seek to abuse the scheme. </p>
<p>Zip will bring together the different young persons free travel schemes under one recognised branded card.</p>
<p>The Mayor of London, Ken Livingstone, said: "Free travel is a vital investment in London's future, making London accessible for thousands of families by improving young people's access to education, sport and leisure.</p>
<h2>Popular </h2>
<p>"Young people who want to benefit from free travel on buses and trams must make sure they have a Zip card, and they should also be aware that any youngster that abuses this privilege, for example by anti-social behaviour, will have their card taken away."</p>
<p>The new scheme means that young people aged 11 upwards will need to carry and validate an Oyster photocard, which will entitle them to free bus and tram travel. </p>
<p>This can be applied for at Post Offices and more information is available <a href="http://www.tfl.gov.uk/zip">online&nbsp;</a> </p>
<p>Free travel has proved popular with Londoners with the latest Mori polling conducted for the GLA in February 2007 showing that 78 per cent&nbsp;of Londoners supported the free travel schemes. </p>
<h2>Greater freedom </h2>

<p>Nick Wilkie, Chief Executive of London Youth, a vibrant network of almost 400 youth clubs serving 75,000 young people across the capital, said: "London Youth welcomes this initiative to encourage access for young people to sporting, social or cultural activity. </p>
<p>"I believe that that the concessionary travel scheme will effectively support the families of those growing up in and around London as they seek to develop their potential and make the most of the opportunities available in this world class city."</p>
<p>Anne Longfield OBE, Chief Executive of 4Children said: "4Children welcomes Transport for London's Zip travel scheme for its capacity to provide greater freedom for young people and improve their access to sporting, social and cultural activities. </p>
<p>"It has powerful potential to support families and young people growing up in and&nbsp;around&nbsp;London, particularly those whose activities may be limited due to financial restrictions. </p>
<p>"I'm optimistic that the scheme can help to reduce inequalities, unleash the positive potential of young people and encourage them to make the most of the exciting opportunities London has to offer."</p>
<p>
<hr>

            <p>
<p><strong>Notes to editors </strong></p>
<ul>
<li><strong>Eligibility - </strong>free bus and tram travel is available to: <br>
<ul type="square">
<li>All Under-16s. All children aged 11-15 will need to have an Oyster photocard to qualify for free bus and tram travel at all times from 1st June 2008 </li>
<li>Children aged 16-18 on 31 August prior to the start of the academic year, in full time further education or on a work-based learning scheme and who live within a London borough can travel for free on London's buses and trams </li></ul></li>
<li><strong>Applications: </strong><br></li>
<ul type="square">
<li>From 5 January 2008 applications for a 'first' Oyster photocard will be processed free of charge at the Post Office using new 11-15 and 16+ Oyster photocard application forms. Applicants will need to provide a photograph and proof of age at time of application. 16+ applicants for free travel will need to have their forms validated by their school, college or training provider and show proof that they live in a London borough</li></ul>
<li><strong>About London Youth:</strong><br></li>
<ul type="square">
<li>London Youth is a network of almost 400 youth clubs serving 75,000 young people across the capital.&nbsp; It provides information, advice and networking opportunities for youth club workers and volunteers.&nbsp; The organisation is shortly to launch the London Youth Quality Mark pilot whereby clubs can assess and improve their services and be recognised for the fantastic quality of their work</li></ul>
<li><strong>About 4Children:</strong></li>
<ul type="square">
<li>4Children is the national charity dedicated to creating opportunities and building futures for all children. From children's centres to extended schools, childcare to play provision, parenting support to support for young people - 4Children is at the forefront of delivery and supporting innovative children's services, ensuring that all children and families get the support they need in their community.<br></li></ul></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Ken Livingstone, today launched the Zip card, a free Oyster photocard that will have to be used by 11-18 year olds who qualify for free bus and tram travel in the Capital.The new Zip card scheme means that from 1 June young people";}
        
        


 