


@{ViewBag.Title = "Agreement to build above Bond Street station as part of Elizabeth line property development programme";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Agreement to build above Bond Street station as part of Elizabeth line property development programme</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Agreement to build above Bond Street station as part of Elizabeth line property development programme</h1>
        <div class="content-page-press-release">
        31 October 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Agreement signed with The GHS Limited Partnership (one of Great Portland Estates plc's joint ventures) for a major development above Bond Street station's eastern entrance at Hanover Square
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"As a key part of our huge development pipeline, the Elizabeth line schemes are directly opening up opportunities for new homes and jobs, and will raise vital revenue to reinvest in London's transport network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Graeme Craig</div>
            <div class="quotee-job-title">Director of Commercial Development at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p>A Development Agreement has been signed between TfL and the GHS Limited Partnership (GHS) to build a 129,900 sq. ft. mixed use scheme above Bond Street station's eastern entrance at Hanover Square.</p>
<p>The site will be transformed into an eight storey mixed-use development, which will include 129,900 sq. ft. of office space and 2,300 sq. ft. of ground floor retail space.</p>
<p>The agreement enables GHS to acquire the site through the grant of two new 150 year leases, generating vital revenue that TfL will reinvest back into the transport network.</p>
<h2>Vital revenue</h2>
<p>Plans are in place for 12 major developments above and around the new Elizabeth line stations and construction sites.</p>
<p>In total, the development plans cover more than three million square feet of office, retail and residential space between Paddington in the west and Woolwich in the east.</p>
<p>Today's announcement follows the signing of other development agreements earlier this year including:</p>
<ul>
    <li>Bond Street Station West where an agreement has been signed with Grosvenor Britain &amp; Ireland to develop 110,000 sq. ft. of floor space above the western ticket hall. The proposed scheme comprises six floors of office accommodation above the station, with an entrance fronting on Davies Street</li>
    <li>Farringdon Station East, where an agreement has been signed for the development over the eastern ticket hall with Helical Plc. The scheme, opposite the historic Smithfield Market, comprises 120,000 sq. ft. of office floor space over six storeys</li>
    <li>Farringdon Station West, where an agreement has been signed for the development over the western entrance with HB Reavis. The scheme comprises 138,000 sq. ft. and will be a combination of retail and office space</li>
</ul>
<p>The site above Tottenham Court Road's eastern ticket hall, on the corner of Oxford Street and Charing Cross Road, was handed over to Derwent in early 2018.</p>
<p>Planning permission has been granted for 209,000 sq. ft. of offices, 36,000 sq. ft. of retail and a 40,000 sq. ft. theatre &#45; the first new West End theatre in a generation.</p>
<h2>Redefine transport</h2>
<p>The Elizabeth line will redefine transport in London with quicker, easier and more accessible journeys when services begin in autumn 2019.</p>
<p>Two hundred million passengers are expected to use the new line each year - more than all of London's airports combined.</p>
<p><strong>Graeme Craig, Director of Commercial Development at TfL, said</strong>: 'The arrival of the Elizabeth line will transform the connectivity of Hanover Square.</p>
<p>'We're delighted to have reached this agreement with GHS who will develop fantastic new office and retail space.</p>
<p>'As a key part of our huge development pipeline, the Elizabeth line schemes are directly opening up opportunities for new homes and jobs, and will raise vital revenue to reinvest in London's transport network.'</p>
<p>The Elizabeth line sites are a key part of TfL's plans to establish a significant long-term revenue stream to reinvest in transport.</p>
<p>TfL is leading the way on delivering homes on public sector land, with plans in place to build more than 10,000 homes on its own portfolio across London.</p>
<p>Since May 2016, half of all the housing that TfL has brought forward has been social rented or other genuinely affordable homes.</p>
<p><hr /></p>
<p><strong>Notes to editors</strong></p>
<ul>
    <li>All figures given for square footage relate to the gross leasable area</li>
    <li>Deloitte Real Estate advised TfL</li>
    <li>The 12 Elizabeth line stations and construction sites that will include oversite development are: Paddington, Bond Street (x2), Tottenham Court Road (x2), Liverpool Street (x2), Farringdon (x2), Limmo Peninsular, Fisher Street, and Woolwich</li>
    <li>TfL doesn't make a profit &#45; we reinvest all our income to run and improve services and are committed to reducing costs</li>
    <li>New research by property consultancy GVA has shown the Elizabeth line is a major catalyst for regeneration across London and the South East. The January 2018 report is available online <a href="http://74f85f59f39b887b696f-ab656259048fb93837ecc0ecbcf0c557.r23.cf3.rackcdn.com/assets/library/document/g/original/gva_crossrail_property_impact_regeneration_study.pdf">here</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-October-Agreement to build above Bond Street station as part of Elizabeth line property development programme -->

 
 
        
        
            @{ViewBag.Description = "Agreement signed to build above Bond Street station as part of huge programme of Elizabeth line property development";}
        
        


 