


@{ViewBag.Title = "Line closures 3 and 4 November to help upgrade of four Tube lines";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Line closures 3 and 4 November to help upgrade of four Tube lines</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Line closures 3 and 4 November to help upgrade of four Tube lines</h1>
        <div class="content-page-press-release">
        24 October 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New signalling will boost capacity and train frequency on 40% of the Tube network
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The modernisation of these four Tube lines will make a huge impact on the whole Tube network. It will significantly boost capacity and reliability, making journeys better for hundreds of thousands of customers every day"</div>
        <div class="quote-footer">
            <div class="quotee-name">Stuart Harvey</div>
            <div class="quotee-job-title">TfL's Director of Major Projects</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL is advising customers that a large closure on the Tube network will cause disruption to journeys next weekend, Saturday 3 and Sunday 4 November.</p>
<p>The closures on the Circle and Hammersmith &amp; City lines and parts of the District and Metropolitan lines will help to facilitate the huge overhaul of the signalling system on these lines, which will boost capacity by 33% when fully complete in 2023.</p>
<p>The closure will allow engineering teams to run test trains on the newly-installed signalling system around the complex Aldgate junction, where the four lines all intersect.</p>
<p>Aldgate is one of the key junctions involved in the upgrade, along with locations like Baker Street and Earl's Court.</p>
<p>It will also allow operating and maintenance staff to gain crucial hands-on experience with trains running under the new system.</p>
<p>During the closure, the line between Hammersmith and Latimer Road will operate as though it were in passenger service, with trains completing over 100 trips per day.</p>
<p>This will serve as final preparation for them ahead of the new signalling system becoming fully operational for passengers between those stations.</p>
<h2>Greater reliability</h2>
<p>When the new system is completed, it will allow trains to operate closer together, provide greater reliability and improve customer information.</p>
<p>The frequency of trains running through the central London sections will start to increase from 2021 with the full improvement of 32 trains per hour in place by 2023, after which a Night Tube service will be possible.</p>
<p>Stuart Harvey, TfL's Director of Major Projects, said: 'The modernisation of these four Tube lines will make a huge impact on the whole Tube network.</p>
<p>'It will significantly boost capacity and reliability, making journeys better for hundreds of thousands of customers every day.</p>
<p>'I thank customers in advance for their patience during this essential closure, and advise that they should plan journeys in advance before travelling next weekend.</p>
<p>'The latest travel advice will be on our website and social media channels during the weekend.'</p>
<p>The work will mean:</p>
<ul>
    <li>The entire Circle line will be closed</li>
    <li>The entire Hammersmith &amp; City line will be closed</li>
    <li>The District line will be closed between South Kensington and East Ham</li>
    <li>The Metropolitan line will be closed between Baker Street and Aldgate</li>
</ul>
<p>There will also be a closure north of Queen's Park on the Bakerloo line for separate engineering works by Network Rail, but the rest of the Tube network will be running normally.</p>
<p>However, other lines will be busier than usual, particularly at interchange stations like Earl's Court, South Kensington, Notting Hill Gate, Oxford Circus, Green Park, Tottenham Court Road, Holborn and Bank.</p>
<p>Rail replacement buses will run from Tower Hill to Barking via Canning Town in east London, and extra buses will operate in west London.</p>
<p>As well as the Tube closures, work will be completed on London Overground between Willesden Junction and Shepherd's Bush over the weekend.</p>
<p>Closures will be in place between Euston and Watford Junction and between Willesden Junction and Clapham Junction on Sunday 4 November only.</p>
<p>TfL Rail will have no service between Liverpool Street and Shenfield all weekend due to Network Rail work.</p>
<p>The four lines are among some of the oldest sections of the Underground network, with parts dating back to 1863.</p>
<p>These lines share a lot of track, which is why they are being modernised under a single project. Together they make up 40% of the Tube network, and carry around a million passengers each day.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-October-Line closures 3 and 4 November to help upgrade of four Tube lines -->

 
 
        
        
            @{ViewBag.Description = "Line closures weekend of 3 and 4 November to help transformative upgrade of four Tube lines";}
        
        


 