


@{ViewBag.Title = "Next steps confirmed for the transformation of streets around Nine Elms";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Next steps confirmed for the transformation of streets around Nine Elms</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Next steps confirmed for the transformation of streets around Nine Elms</h1>
        <div class="content-page-press-release">
        12 October 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        2.5km stretch of Nine Elms Lane and Battersea Park Road will be completely redesigned to make more people-friendly streets
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This scheme will enable more people to walk and cycle, reducing car use which is crucial to cleaning up London's toxic air"</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL has confirmed the next steps for improving the streets of Nine Elms and making them better for people walking, cycling and using public transport.</p>
<p>The proposals support the wider regeneration in the area and will see the 2.5km stretch of Nine Elms Lane and Battersea Park Road completely redesigned to make more attractive, accessible and people-friendly streets.</p>
<p>The proposals include:</p>
<ul>
    <li>A new substantially segregated cycle route connecting to Cycle Superhighway 8, which runs between Wandsworth and Westminster</li>
    <li>Signals and junctions designed to separate cyclists and motor vehicles by time or space</li>
    <li>New wider pavements</li>
    <li>23 new or improved pedestrian crossings</li>
    <li>Improved bus lanes</li>
</ul>
<h2>Improved pedestrian space</h2>
<p>Due to the length of the route the scheme has been divided into seven sections, with sections one to three along the western sections of Battersea Park Road and sections four to seven along the eastern end of Battersea Park Road and Nine Elms Lane.</p>
<p>TfL has taken time to carefully consider and address all the responses to the consultation, which has helped shape the design of the eastern part of the scheme. This section of the scheme includes improved pedestrian space, stepped cycle tracks and bus stop bypasses.</p>
<p>The western sections of the route were not supported as well as the eastern sections at consultation. We are reviewing the designs for this section with a view to delivering greater protection for cyclists and maintaining a key public transport interchange.</p>
<p>Will Norman, London's Walking and Cycling Commissioner, said; 'I'm pleased that the plans for the eastern section of Nine Elms will be progressed including wider pavements, new and improved crossing points and segregated cycle lanes.</p>
<p>'Feedback from the consultation will enable us to improve proposals for the western section, bringing further benefits to pedestrians and cyclists.</p>
<p>'This scheme will enable more people to walk and cycle, reducing car use which is crucial to cleaning up London's toxic air.'</p>
<h2>Transform the streets</h2>
<p>Ben Plowden, Director of Strategy and Network Development for Surface Transport at TfL, said; 'Our ambitious proposals to transform the streets around Nine Elms support the major regeneration of the area, which is bringing new homes, jobs, shops and parks to the local community.</p>
<p>'The improvements are part of our commitment to create Healthy Streets across the capital and include a new substantially segregated cycle route, newly designed junctions and transformed public spaces, for all to enjoy.'</p>
<p>The proposals are funded by local developer contributions. In total, more than &pound;1bn of new transport and social infrastructure is being delivered across Nine Elms on the South Bank as it transforms from a largely light industrial area into a vibrant new central London district.</p>
<p>Ravi Govindia, Leader of Wandsworth Council, said: 'Nine Elms is already a success story with a new community of residents and businesses who have moved to the area, along with the many visitors who go there regularly to enjoy its cultural and leisure attractions.</p>
<p>'On its vacant industrial land there will soon be 20,000 new homes, including 4,000 affordable units and some 25,000 permanent jobs.</p>
<p>'Delivering the right transport infrastructure is key to its continued success and while construction has already started on the Northern line extension along with a new pier to boost river transport, we need to make sure we get the next phase of infrastructure right.'</p>
<p>Subject to securing approvals, construction is likely to take place between 2020 and 2021. TfL and Wandsworth Council continue to coordinate with other work in the area to explore opportunities to integrate proposals, seek cost efficiencies and minimise disruption.</p>
<p>As a result, delivery of some sections may take place before or after this timeframe. TfL has also installed temporary upgrades to cycling and pedestrian infrastructure to protect vulnerable road users during the major development of the area.</p>
<p>To view the full consultation report, go to <a href="https://consultations.tfl.gov.uk/roads/nine-elms-lane/?cid=nine-elms-lane">tfl.gov.uk/nine-elms-lane</a></p>
<p><hr /></p>
<p><strong>Notes to Editors:</strong></p>
<ul>
    <li>The Mayor's Transport Strategy sets out bold plans to reduce the capital's dependency on the car - transforming the experience of walking, cycling and public transport in London over the coming decades</li>
    <li>The Mayor has set out a target to increase the proportion of people walking, cycling and taking public transport to 80% of journeys by 2041, compared to 64% now, meaning an average of 3 million fewer car journeys in London each day</li>
    <li>A key focus of this is the Mayor's &pound;2.2bn Healthy Streets Approach. This aims to create more attractive, accessible and people-friendly streets, where everybody can enjoy spending time and being physically active by making walking and cycling easier and safer across London</li>
    <li>Currently, more than 40% of Londoners do not achieve the recommended 150 minutes of activity a week, and 28% do less than 30 minutes a week. GLA analysis shows that if every Londoner walked or cycled for 20 minutes a day, it would save the NHS &pound;1.7bn in treatment costs over the next 25 years</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-October-Next steps confirmed for the transformation of streets around Nine Elms -->

 
 
        
        
            @{ViewBag.Description = "Next steps confirmed for the transformation of streets around Nine Elms ";}
        
        


 