


@{ViewBag.Title = "TfL publish plans to redesign Stoke Newington gyratory";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL publish plans to redesign Stoke Newington gyratory</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL publish plans to redesign Stoke Newington gyratory</h1>
        <div class="content-page-press-release">
        22 October 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The proposals would overhaul the traffic-dominated one-way system into a place for people, not cars
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our proposed changes to Stoke Newington gyratory would make it easier for people choosing to walk, cycle and use public transport in the area"</div>
        <div class="quote-footer">
            <div class="quotee-name">Penny Rees</div>
            <div class="quotee-job-title">TfL's Head of Network Sponsorship</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>The plans include a new segregated cycle track, southbound bus and cycle access along Stoke Newington High Street and new traffic-free public spaces to meet, play and relax</li>
    <li>The consultation is open from today until Friday 30 November</li>
</ul>
<p>TfL and Hackney Council are inviting local residents and visitors to have their say on proposals to transform the Stoke Newington gyratory from a dangerous traffic dominated one-way system, into a place that enables more people to choose to walk more, cycle and use local bus services.</p>
<p>TfL has worked closely with Hackney Council on the proposals, which would remove the existing gyratory system and create a new northbound cycle track on the A10 with bus stop bypasses, alongside a new bus and cycle lane enabling people to cycle southbound on Stoke Newington High Street.</p>
<p>The changes would remove a significant barrier to cycling in the area and provide new traffic-free public spaces to meet, play, relax and shop, alongside a host of other improvements aimed at creating a more attractive and less traffic-dominated environment for people.</p>
<p>Other changes include:</p>
<ul>
    <li>Three new pedestrian crossings, all with pedestrian countdown, making streets in the area easier and safer to cross</li>
    <li>A new 20mph speed limit and raised junction and crossings to slow traffic speed and reduce road danger</li>
    <li>A raised carriageway with coloured surface between Brooke Road and Stoke Newington Church Street to reduce traffic dominance</li>
    <li>Continuous footways across side roads to give pedestrians priority over vehicles</li>
    <li>Improved public transport interchange and passenger journeys, achieved through two-way bus operation &#45; making it easier to access southbound bus services &#45; and simplifying bus stops.</li>
    <li>New modal filters at the junctions of Tyssen, Hollar and Batley Roads and the High Street. These closures will reduce rat-running on residential streets and allow for the creation of three new pocket parks, creating a more welcoming retail environment.</li>
</ul>
<p>The plans would also accommodate the area's future growth whilst creating Healthy Streets and encouraging active travel. The improvements for people choosing to walk and cycle are an important step towards the Mayor's Vision Zero target of nobody killed or seriously injured on London's streets.</p>
<p><strong>Will Norman, London's Walking and Cycling Commissioner, said:</strong> &quot;These bold plans would transform the environment around Stoke Newington to make it safer and healthier for everyone who lives and works in the area. Creating a segregated cycle track and continuous pavements and allowing two-way buses are among our proposals to prioritise pedestrians, cyclists and bus users over cars. I would encourage everyone to have their say and help us improve air quality and reduce congestion.&quot;</p>
<p><strong>Penny Rees, TfL's Head of Network Sponsorship, said:</strong> &quot;Our proposed changes to Stoke Newington gyratory would make it easier for people choosing to walk, cycle and use public transport in the area. We welcome feedback from everybody and the responses we receive will play a key role in shaping our proposals. We are committed to transforming streets across the capital in line with the Mayor's Healthy Streets approach, which will reduce road danger and help clean up London's toxic air.&quot;</p>
<p><strong>Cllr Feryal Demirci, Deputy Mayor of Hackney, said:</strong> "We've been working with residents and TfL for a number of years on plans to remove the car-dominated Stoke Newington one-way system. This is a long awaited proposal and we are delighted our residents can finally have their say on plans to make the Stoke Newington area more pleasant for everyone. I'd urge people in Stoke Newington to take part in the consultation."</p>
<p>Hackney Council previously undertook an initial consultation seeking views on the concept of removing the gyratory, which was supported by 70% of respondents.</p>
<p>The consultation will be open until Friday 30 November and responses are welcome through the TfL website, by email, or by post. Residents and visitors will also have the chance to offer feedback in person at one of the drop-in sessions, which run on Wednesday 31 October and Saturday 10 November.</p>
<p> </p>
<hr />
<p> </p>
<p><strong>Notes to editors</strong></p>
<p>Full details of the proposed changes can be found at <a href="http://www.consultations.tfl.gov.uk/roads/stoke-newington-gyratory">consultations.tfl.gov.uk/roads/stoke-newington-gyratory</a>/</p>
<p>Feedback can be submitted through the above website. Alternatively, feedback can be sent:</p>
<ul>
    <li>By email to <a href="mailto:consultations&#64;tfl.gov.uk">consultations&#64;tfl.gov.uk</a></li>
    <li>By completing a paper questionnaire and returning it to FREEPOST TFL<br />
    </li>
</ul>
<p>Drop in sessions will be held at:</p>
<ul>
    <li>Stoke Newington Methodist Church, 106 Stoke Newington High Street N16 7NY on Wednesday 31 October between 15:00-19:00</li>
    <li>The Old Fire Station, 61 Leswin Road N16 7NX on Saturday 10 November between 11:30-14:00</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-October-TfL publish plans to redesign Stoke Newington gyratory -->

 
 
        
        
            @{ViewBag.Description = "TfL publish plans to redesign Stoke Newington gyratory";}
        
        


 