


@{ViewBag.Title = "TfL announce partnership with Pocket Living to build affordable homes for first-time buyers";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL announce partnership with Pocket Living to build affordable homes for first-time buyers</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL announce partnership with Pocket Living to build affordable homes for first-time buyers</h1>
        <div class="content-page-press-release">
        15 October 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New developments will include 100% genuinely affordable housing
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This partnership marks another important step in us assembling the most important development pipeline in London - building thousands of social rented and other genuinely affordable homes across the capital and generating hundreds of millions of pounds to reinvest in the transport network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Graeme Craig</div>
            <div class="quotee-job-title">Director of Commercial Development at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL will be working with Pocket Living to provide 100% genuinely affordable homes for first-time buyers at a number of its sites.</p>
<p>Pocket Living, will build around 125 one bedroom homes (subject to planning) on TfL sites, which will then be sold outright to buyers at a discount from the open market value. Pocket homes are prioritised for people who already live or work in the borough and are first time buyers.</p>
<p>TfL's commitment to delivering social rented and other genuinely affordable housing on sites it is releasing for residential development is one part of the Mayor of London's work to tackle London's housing crisis.</p>
<p>Pocket homes are targeted specifically at local singles and couples, who earn too much to qualify for social housing, but are priced out of the open market. Pocket buyers own 100% of their property from day one.</p>
<p>In the future when Pocket homes are sold on, new purchasers must meet the original criteria and have a household income below the Mayor of London's affordable housing threshold.</p>
<p>Graeme Craig, Director of Commercial Development at TfL, said: 'Pocket Living is building a great reputation for high quality, genuinely affordable housing for first-time buyers, and will help us develop sites that would not otherwise come forward.</p>
<p>'This partnership marks another important step in us assembling the most important development pipeline in London - building thousands of social rented and other genuinely affordable homes across the capital and generating hundreds of millions of pounds to reinvest in the transport network.'</p>
<p>Marc Vlessing, CEO Pocket Living, said: 'Pocket Living is delighted to be working with TfL to deliver homes Londoners desperately need.</p>
<p>'Pocket has always been at the heart of innovative collaborations in the housing sector and we believe new thinking and working in partnership is crucial if we are serious about tackling the housing crisis.</p>
<p>'More affordable homes are crucial for London's city makers, its teachers, nurses and charity workers, who are currently priced out of the open market and salaried out of social housing.</p>
<p>'The Mayor and his team at the GLA and TfL have rightly identified affordable housing as a priority and recognised the need to speed up the supply of homes.'</p>
<p>The TfL partnership with Pocket Living is one of many announced in recent months. TfL is leading the way on delivering homes on public sector land, with plans in place to build more than 10,000 homes on its own portfolio across London.</p>
<p>Since May 2016, half of all the housing that TfL has brought forward has been social rented or other genuinely affordable homes.</p>
<p>As well as providing homes, TfL sites are opening up new spaces, creating thousands of jobs and delivering improvements to the transport network, such as step-free access.</p>
<p><hr /></p>
<p><strong>Notes to editors</strong></p>
<ul>
    <li>TfL is currently looking for a partner to create a Build to Rent joint venture to help deliver homes on its land. This is a rare opportunity to invest in Build to Rent at some of London's most well connected sites. Together the sites have the potential to deliver in excess of 3,000 homes, with a minimum of 40% affordable on all new planning consents</li>
    <li>In September, TfL announced a partnership with Apartments for London (AfL) to create homes over car parks and other available sites on TfL land. AfL is a specialist residential developer seeking to utilise precision-manufactured modular construction</li>
</ul>
<p><span style="text-decoration: underline;">About Pocket Living</span></p>
<ul>
    <li>Pocket Living is a company that sells well-designed, local and affordable homes so the people who make a city tick can also make it their home</li>
    <li>Pocket Living's business model is to build affordable housing, without public subsidy, sold outright to buyers at a discount to the local market of at least 20%</li>
    <li>People living or working in the borough will be prioritised and buyers own 100% of the property from day one</li>
    <li> Buy-to-let investors are excluded, and Pocket Living leases ensure that on resale the homes can only be sold to eligible buyers</li>
    <li>Pocket owners also have to prove that they are resident in their homes every year to check that they are not sub-letting</li>
    <li>87% of Pocket purchasers are singles, their current average household income is &pound;42,500 and their average age is 33</li>
    <li>The company was founded 13 years ago by Marc Vlessing and Paul Harbard to inject a dose of innovation into the housing market</li>
    <li>Pocket Living is a high-profile national and London-wide campaigner for more affordable housing in the capital</li>
    <li>Pocket Living's commitment to delivering affordable housing has been backed by Sadiq Khan, Mayor of London, who last year provided the company with a &pound;25 million loan. The Mayor's backing will see Pocket Living start on 1,059 genuinely affordable homes by March 2021, around a third of which will be delivered using modular construction</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-October-TfL announce partnership with Pocket Living to build affordable homes for first-time buyers -->

 
 
        
        
            @{ViewBag.Description = "Transport for London announces partnership with Pocket Living to build genuinely affordable homes for first-time buyers";}
        
        


 