


@{ViewBag.Title = "Changes to bus route 339 are just what the doctor ordered";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Changes to bus route 339 are just what the doctor ordered</h1>
        <div class="content-page-press-release">
        21 August 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A health centre at the heart of East Village, the new neighbourhood on the site of the London 2012 Athletes Village, is to get a bus service in time for its opening this autumn.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"As we see bus services start to take shape in and around Queen Elizabeth Olympic Park it is important we ensure they meet the needs of both the existing community and the future community we will soon be welcoming."</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Bradley</div>
            <div class="quotee-job-title">Head of Consultation Delivery for TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            As we see bus services start to take shape in and around Queen Elizabeth Olympic Park it is important we ensure they meet the needs of both the existing community and the future community we will soon be welcoming.
                            
                        </p>
                    </div>
                
            
            
            <p>The route 339 is due to start serving Queen Elizabeth Olympic Park from 31 August 2013.</p>
<p>The Sir Ludwig Guttman Health and Wellbeing Centre, at 40 Liberty Bridge Road, was named as a lasting tribute to the father of the paralympic movement, and will help deliver a healthcare legacy to residents of East Village and the existing local community. </p>
<p>Following discussions with the London Borough of Newham and other key stakeholders, route 339 will now stop near the main entrance with bus stops conveniently installed on either side of Liberty Bridge Road for easy access. </p>
<h2>Good transport links</h2>
<p>The service will be routed from Celebration Avenue via Liberty Bridge Road, Leyton Road and Temple Mills Lane to Crownfield Road.</p>
<p>Peter Bradley, Head of Consultation Delivery for TfL, said: 'As we see bus services start to take shape in and around Queen Elizabeth Olympic Park it is important we ensure they meet the needs of both the existing community and the future community we will soon be welcoming.&nbsp;</p>
<p>'Good transport links are essential in helping make this new development home for many Londoners for many years to come.'</p>
<p>
<hr>
<strong>Notes to editors:<br></strong>
<ul>
<li>Together with the ODA/LLDC, Westfield Stratford City and other developers are making a financial contribution towards the cost of new bus services in the area, as agreed with the local planning authorities and Transport for London </li></ul>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Changes to bus route 339 are just what the doctor ordered -->

 
 
        
        
            @{ViewBag.Description = "The route 339 is due to start serving Queen Elizabeth Olympic Park from 31 August 2013.The Sir Ludwig Guttman Health and Wellbeing Centre, at 40 Liberty Bridge Road, was named as a lasting tribute to the father of the paralympic movement, and will help";}
        
        


 