


@{ViewBag.Title = "Contractor appointed to prepare London Overground network for longer trains";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Contractor appointed to prepare London Overground network for longer trains</h1>
        <div class="content-page-press-release">
        15 August 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Longer trains to help meet predicted rise in demand of 40 per cent by 2021.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are pleased to be working with Cleshar on this crucial project and these upgrade works will be completed with the absolute minimum of disruption to services."</div>
        <div class="quote-footer">
            <div class="quotee-name">Jonathan Fox</div>
            <div class="quotee-job-title">TfL's Director of Rail</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are pleased to be working with Cleshar on this crucial project and these upgrade works will be completed with the absolute minimum of disruption to services.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Contractor will extend platforms on the east and south London routes</li></ul>
<p>Transport for London (TfL) has appointed Cleshar as the contractor to lengthen some of the station platforms on the London Overground network's east London and south London routes. </p>
<p>The work is part of a huge upgrade programme to deliver a 25 per cent capacity increase to meet rapidly increasing demand on the Capital's best performing railway.</p>
<p>The longer platforms will accommodate longer London Overground trains, which are being increased from four to five carriages. </p>
<h2>Increasing passenger numbers</h2>
<p>The first of these trains will run on the east London route - Highbury &amp; Islington to New Cross, Crystal Palace, West Croydon and the South London route to Clapham Junction - by December 2014.</p>
<p>TfL's Director of Rail, Jonathan Fox, said: 'Although not yet six years old, London Overground must continue to grow its capacity. </p>
<p>'It's hugely popular, with passenger numbers increasing by 87 million in its first four years of existence. </p>
<p>'While that rate will slow, we must still be ready to provide for the 810,000 new residents who will come to London by 2021. </p>
<h2>Continuing to invest</h2>
<p>'We are pleased to be working with Cleshar on this crucial project and these upgrade works will be completed with the absolute minimum of disruption to services.'</p>
<p>Works to extend platforms will take place at the following stations on the East London route: Highbury &amp; Islington, Canonbury, Hoxton, Haggerston, Dalston Junction, Shoreditch, Shadwell, Wapping, Canada Water and Surrey Quays on the east London route, as well as Wandsworth High Street, Clapham High Street and Clapham Junction on the south London route.&nbsp; </p>
<p>Work at the first of these stations is expected to begin in autumn. </p>
<p>The work is part of the &pound;320m London Overground Capacity Improvement Programme which continues TfL's investment in this highly successful railway. </p>
<p>TfL has already delivered more frequent and punctual services, a new fleet of air-conditioned, high-capacity trains and most recently the completion of the orbital network around London - the first orbital rail network in the Capital for 128 years.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>As well as the platform lengthening, other works included in Cleshar's East and South London routes contract are: 
<ul type="circle">
<li>Enabling works to allow train stabling at the Silwood depot </li>
<li>Main works at the Silwood depot </li></ul></li>
<li>The whole &pound;320m London Overground Capacity Improvement Programme, which will deliver a 25 per cent increase in capacity, also includes: 
<ul type="circle">
<li>Additional stabling in the northwest London area </li>
<li>Platform lengthening on the north London line </li>
<li>Reconfiguration of the Willesden train maintenance depots </li>
<li>Associated signalling and power works</li></ul></li>
<li>The successful contractor for the London Overground Capacity Improvement Programme platform lengthening on the Richmond and Clapham Junction to Stratford routes and the Euston to Watford route, will be announced later this year </li>
<li>Since TfL took over the network in 2007, London Overground has become one of the UK's most reliable rail services and passenger numbers have quadrupled (from 33 million in 2008 to 132 million currently). Further growth of nearly 40 per cent is forecast by 2021 across the network (including the new extension to Clapham) </li>
<li>On the Gospel Oak to Barking Line which uses shorter diesel trains, we are considering ways to increase capacity before electrification is completed by Network Rail in 2017<br></li></ul>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Contractor appointed to prepare London Overground network for longer trains -->

 
 
        
        
            @{ViewBag.Description = "Contractor will extend platforms on the east and south London routesTransport for London (TfL) has appointed Cleshar as the contractor to lengthen some of the station platforms on the London Overground network's east London and south London routes. The";}
        
        


 