


@{ViewBag.Title = "Get into the Carnival spirit - but plan your journey in advance";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Get into the Carnival spirit - but plan your journey in advance</h1>
        <div class="content-page-press-release">
        22 August 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is encouraging carnival-goers, motorists and passengers to plan their journeys ahead of the 2013 Notting Hill Carnival which will take place on Sunday 25 and Monday 26 August.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Travel advice is available at <a href="http://www.tfl.gov.uk/nottinghill">tfl.gov.uk/nottinghill</a>&nbsp; </li></ul>
<p>Notting Hill Carnival is Europe's biggest street festival and attracts more than a million people over the August Bank Holiday weekend. </p>
<p>TfL's dedicated Carnival webpage has details on how transport services will run during London's busiest annual event, including a map showing the nearest stations and bus routes. </p>
<p><strong>Follow &#64;TfLTrafficNews, &#64;TfLBusAlerts and &#64;TfLTravelAlerts on Twitter for all the latest information. </strong></p>
<p>TfL services will continue to keep the Capital moving throughout the two day event. </p>
<p>Motorists are advised to avoid driving in the Notting Hill area at the weekend because of a number of road closures. </p>
<p>The easiest ways to travel to and from the Carnival will be by Tube, bus, cycling or walking. However, some stations will be closed or will be exit only and some roads will be closed. </p>
<p>Public transport users and drivers are advised to plan their journeys in advance at <a href="http://www.tfl.gov.uk/nottinghill">tfl.gov.uk/nottinghill</a> or by contacting the 24 hour London Travel Information line on 0343 222 1234. </p>
<h2>Alternative Tube, bus and rail services</h2>
<p>As part of the London 2012 Games transport legacy, TfL's magenta wayfinding signage will also be used in and around the Carnival to provide directions to Carnival goers for the first time. </p>
<p>Some members of the RMT union are expected to take industrial action on London Overground services during the Carnival weekend which will affect some routes. </p>
<p>TfL and London Overground operator, LOROL, will be working to run as many services as possible and there will be alternative Tube, bus and rail services available to ensure people can get around the Capital this weekend. </p>
<p>Due to road closures and the demand on public transport, passengers are encouraged to consider walking part of their journey to and from the Carnival. </p>
<p>Passengers can plan their walking journey at <a href="http://www.tfl.gov.uk/journeyplanner">tfl.gov.uk/journeyplanner</a>.&nbsp;&nbsp;&nbsp; </p>
<p><strong>Fares and ticketing:</strong></p>
<p>London will be extremely busy on the Sunday and Monday of the Carnival. </p>
<p>To save time and avoid the queues, customers are advised to get an Oyster card in advance and add credit to pay as you go. </p>
<p>To find out more about Oyster and get a card, visit <a href="http://www.tfl.gov.uk/tickets">tfl.gov.uk/tickets</a></p>
<p>If passengers don't have an Oyster card, they can buy a paper Day Travelcard to cover all their journeys in a single day. </p>
<p>These are available from a ticket machine, ticket office or Travel Information Centre up to seven days in advance of the date of travel.</p>
<p><strong>London Buses:</strong></p>
<p>There will be additional buses serving the Carnival, however they will not enter the Carnival area from the first bus on Sunday morning until the first bus on Tuesday morning. </p>
<p>To the south of the Carnival area, buses will start from Notting Hill Gate and to the north of the Carnival area buses will start from the Prince of Wales in Harrow Road. </p>
<p>Some local buses will be on diversion so customers are advised to <a href="http://tfl.gov.uk/tfl/livetravelnews/realtime/buses/default.html">check before they travel. </a><strong></strong></p>
<p><strong>The routes that will be serving the Carnival area are:</strong></p>
<p>2X, 6, 7, 16, 18, 23, 27, 28, 31, 36, 36X, 46, 52, 70, 94, 98, 148, 159, 187, 205, 205X, 220, 228, 295, 316, 328, 332, 390, 414, 436, 436X, 452, N7, N16, N18, N28, N31&nbsp; N98 and N207.</p>
<p><strong>London Underground:</strong></p>
<p>Due to expected high passenger demand at stations close to the Carnival, some stations may close temporarily to prevent overcrowding. </p>
<p>It may be worthwhile waiting until the station reopens instead of going to a different station.</p>
<p><strong>Some stations close to the Carnival will be closed or will be exit only, as follows:<p>
<ul>
<li></li></ul></strong>Ladbroke Grove will be closed on 25 and 26 August 
<li>Latimer Road will be closed at 23:30 on 25 and 26 August </li>
<li>Notting Hill Gate will be exit only between 11:00 to 19:00 and there will be no interchange between Central and Circle or District lines on 25 and 26 August. Circle and District line trains will not stop at this station between 11:00 and 19:00 on 26 August </li>
<li>Royal Oak will be exit only between 11:00 and 18:00 on 25 and 26 August. The station will close on both days at 18:00 </li>
<li>Westbourne Park will be exit only between 11:00 and 18:00 on 25 and 26 August and will close both days at 23:30</li>
<p>Carnival goers are advised to consider using alternative stations to get to the event. </p>
<p>If passengers are travelling on the Circle or District lines, they should consider using Bayswater station as an alternative between 12:00 and 19:00 on Sunday 25 August and Monday 26 August. </p>
<p>Passengers are also advised to consider using Paddington station instead of Notting Hill Gate or Royal Oak as both stations will have restrictions. </p>
<p>Other nearby stations are High Street Kensington, Holland Park, Queen's Park and Shepherd's Bush.</p>
<p><strong>London Overground:</strong></p>
<p>The nearest London Overground stations are Willesden Junction, Kensal Rise, Kensal Green, Queen's Park and Shepherd's Bush. </p>
<p>On both Sunday 25 August and Monday 26 August replacement bus services will be provided on the parts of the Richmond/Clapham Junction to Stratford Junction routes which are expected to be affected by the industrial action. </p>
<p>From Richmond, the District line will operate normally.</p>
<p>On Sunday 25 August, replacement bus services will also be in place on the Highbury &amp; Islington to West Croydon/ New Cross/Crystal Palace and Clapham Junction where there is planned engineering works. </p>
<p>On Bank Holiday Monday, this route will be operating a normal Saturday service.</p>
<p>Southern will run running an hourly service between Clapham Junction and Kensington Olympia on Sunday 25 August (not calling at Imperial Wharf), and an hourly service between South Croydon and Watford Junction (not calling at Imperial Wharf and Shepherd's Bush) on Monday 26 August.</p>
<p>South West Trains provides a regular service between Richmond and Clapham Junction stations, and onwards to London Waterloo. </p>
<p><a href="/corporate/media/newscentre/archive/28424.aspx">Additional information</a> on all routes during this period is available.</p>
<p><strong>Barclays Cycle Hire:</strong></p>
<p>The following docking stations will be suspended from 21:00 on Saturday 24 August until 07:00 on Tuesday 27 August: </p>
<ul>
<li>Turquoise Island </li>
<li>Pembridge Villas </li>
<li>Chepstow Villas </li>
<li>Notting Hill Gate Station </li>
<li>Hereford Road </li>
<li>Ladbroke Grove Central </li>
<li>Lansdowne Walk</li></ul>
<p>Although all other docking stations will remain available, the expected road congestion in west London may make it difficult for cycle hire redistribution vehicles to collect and/or replace bicycles at locations in the affected area. </p>
<p>Customers are advised to check cycle and space availability online using the <a href="/roadusers/cycling/14808.aspx">live docking station map</a><strong></strong></p>
<p><strong>Roads: </strong></p>
<p>There will be extensive road closures in the Notting Hill, Ladbroke Grove and Westbourne Park areas because of the Carnival. </p>
<p>Roads will close from 07:00 on Sunday 25 and will re-open by 04:00 on Tuesday 27 August.&nbsp; </p>
<p>Traffic is likely to be slow moving in the area, including the A5 (Edgware Road), Harrow Road, Holland Park Avenue, Notting Hill Gate and Bayswater Road so drivers should avoid the area if possible, or allow more time for their journey. </p>
<p><strong>Taxi&nbsp;and Private Hire:</strong></p>
<p>Taxi and private hire services will be operating normally, although they will be affected by the road closures in the area. </p>
<p>Taxi ranks along the Carnival route will be suspended. </p>
<p><a href="http://www.tfl.gov.uk/tfl/gettingaround/taxiprivatehire/default.aspx">Information about booking a taxi or private hire vehicle</a> </p>
<p>
<hr>
<strong></strong><strong></strong>&nbsp; <strong>Notes to editors:&nbsp;</strong> 
<p>
<ul>
<li>Passengers are advised to check before travelling via the following options:&nbsp; 
<ul type="circle">
<li>TfL's Journey Planner at&nbsp;<a href="http://www.tfl.gov.uk/journeyplanner">tfl.gov.uk/journeyplanner</a>, accessible from your computer or internet-enabled mobile device </li>
<li>Information on posters, leaflets and Rainbow boards at Tube stations </li>
<li>For 24 hour London Travel Information call local rate number 0343 222 1234</li></ul></li>
<li>For the latest on how transport services are operating, you are advised to check before you travel at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> </li>
<li>Follow &#64;TfLTravelAlerts (Tube, DLR and London Overground), &#64;TfLTrafficNews (roads) and &#64;TfLBusAlerts (bus)</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Get into the Carnival spirit - but plan your journey in advance -->

 
 
        
        
            @{ViewBag.Description = "Travel advice is available at tfl.gov.uk/nottinghill&nbsp; Notting Hill Carnival is Europe's biggest street festival and attracts more than a million people over the August Bank Holiday weekend. TfL's dedicated Carnival webpage has details on how";}
        
        


 