


@{ViewBag.Title = "Harrow Community Transport charity gets a ticket to ride with use of town centre bus stop";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Harrow Community Transport charity gets a ticket to ride with use of town centre bus stop</h1>
        <div class="content-page-press-release">
        06 August 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Harrow Community Transport's accessible vehicles will now be able to pick up and drop off passengers with mobility issues going on day trips in the capital and further afield.
        
    </div>



 <div class="on-this-page">
<p>London Borough of Harrow and Transport for London (TfL) officers worked in collaboration with Harrow Community Transport to identify a suitable location to pick up and drop off elderly and disabled residents at a new bus stop on College Road close to Harrow Town Centre.</p>
<p>This is the first time that TfL has agreed to install a bus stop for passengers who find it difficult to use mainstream bus services. <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>Ben Plowden, Director of Planning, Surface Transport at TfL, said: 'This is the first time we have given permission for a bus stop to be used by any vehicle other than our red London buses. </p>
<p>'We are very pleased to be able to support Harrow Community Transport in providing accessible transport services to the local community, which complements our own very successful Dial-a-Ride and travel mentoring services.'</p>
<p>Gerry Devine, Chair of Harrow Community Transport said: 'This is a real benefit for the people of Harrow, particularly those with mobility problems, who will have the convenience of direct access to the town centre and the bus station. </p>
<p>'It will allow convenient interchange between Harrow Community Transport's minibuses and TfL's bus services in Harrow, all of which have access for wheelchairs.'</p>
<p>Gareth Thomas, MP for Harrow West, said: 'This is good news for people with disabilities and good news for Harrow town centre. Harrow Community Transport deserve nothing but praise for their work bringing this bus stop into operation.'</p>
<p>Cllr Asad Omar, Harrow Council's Portfolio Holder for Environment, said: 'I am pleased to support Harrow Community Transport and grant them permission to use this area as a bus stop for their services. </p>
<p>'The charity provide a vital service to our elderly and vulnerable residents and it is very welcome to receive such support to enable accessible transport and keep Harrow's town centre thriving during this tough economic time. We are also grateful to Transport for London for helping to make this happen.'</p>
<p>
<hr>
</p>
<h4>Notes to editors:</h4>
<ul>
<li>Harrow Community Transport (HCT) is a not-for-profit charity which has been providing accessible transport to residents and voluntary groups in Harrow since 1980. Its aim is to offer a high quality/low cost accessible transport services, enabling those in need to get out into the community and to access services they require.&nbsp; HCT works closely with other voluntary organisations in Harrow and carries over 16,000 passengers annually. It employs both paid and volunteer staff and provides opportunities for volunteers to help those with accessibility problems</li>
<li>TfL's Dial-a-Ride service provides a multi-occupancy door-to-door service for people with a permanent or long term disability who cannot use public transport. Over 1,350,000 trips were delivered in 2012/13 for Dial-a-Ride's 47,000 members, with an overall satisfaction rate of 92 out of 100. Community transport services complement TfL initiatives like Dial-a-Ride and TfL's Travel Mentoring Service which is for disabled people who want to use mainstream public transport</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Harrow Community Transport charity gets a ticket to ride with use of town centre bus stop -->

 
 
        
        
            @{ViewBag.Description = "London Borough of Harrow and Transport for London (TfL) officers worked in collaboration with Harrow Community Transport to identify a suitable location to pick up and drop off elderly and disabled residents at a new bus stop on College Road close to";}
        
        


 