


@{ViewBag.Title = "London Overground's Kensington Olympia station works completed";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Overground's Kensington Olympia station works completed</h1>
        <div class="content-page-press-release">
        29 August 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Ticket gates installed and pedestrian access across footbridge preserved.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Along with the new gates, this improved station environment will help us tackle fare evasion and make travel more secure for all passengers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Stubbs</div>
            <div class="quotee-job-title">TfL's Director of London Overground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Along with the new gates, this improved station environment will help us tackle fare evasion and make travel more secure for all passengers
                            
                        </p>
                    </div>
                
            
            
            <p>New automatic ticket gates and a cross-track pedestrian footway for people not using the railway have been opened at London Overground's Kensington Olympia station.</p>
<p>Transport for London's installation of a fourth stairway at the station has enabled a division of the footbridge into two sides - one for fare-paying passengers and the other for pedestrians wishing to use it as a shortcut to cross the railway.</p>
<p>The works complement an earlier upgrade of the station that delivered a new ticket office and canopy over the platform. </p>
<p><strong>Reduce the number of fare evaders </strong></p>
<p>As well as delivering better access, the improvements will help to reduce the number of fare evaders who had previously used the un-gated station to access the wider London Overground network.</p>
<p>TfL's Director of London Overground, Mike Stubbs said: 'These works have delivered a better, more attractive station for passengers in keeping with the high standards across the London Overground network. </p>
<p>'Along with the new gates, this improved station environment will help us tackle fare evasion and make travel more secure for all passengers. </p>
<p>'We're also pleased to have been able to preserve the footway through the station at the request of local residents who use it to make their way from Olympia Way to Russell Road.'</p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>Works began in June with enabling work undertaken in April </li>
<li>All works were carried out without disruption to the service and without closing the station<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -London Overground's Kensington Olympia station works completed -->

 
 
        
        
            @{ViewBag.Description = "New automatic ticket gates and a cross-track pedestrian footway for people not using the railway have been opened at London Overground's Kensington Olympia station.Transport for London's installation of a fourth stairway at the station has enabled a";}
        
        


 