


@{ViewBag.Title = "London Overground moves to Oyster only for sales of season Travelcards";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Overground moves to Oyster only for sales of season Travelcards</h1>
        <div class="content-page-press-release">
        21 August 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        7 Day or longer period Travelcards will no longer be sold as paper tickets at London Overground ticket offices
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It makes sense to bring London Overground into line with our operations on the rest of the network."</div>
        <div class="quote-footer">
            <div class="quotee-name">Shashi Verma</div>
            <div class="quotee-job-title">TfL's Director of Customer Experience</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It makes sense to bring London Overground into line with our operations on the rest of the network.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>More customers to benefit from convenience, security and flexibility of Oyster </li>
<li>Move is in line with withdrawal of paper season Travelcards from London Underground ticket offices in 2005</li></ul>
<p>Transport for London's (TfL's) 7 Day or longer period Travelcards, covering travel in Zones 1-9, will be available exclusively on Oyster from 15 September at London Overground ticket offices. </p>
<p>The move is to benefit more customers with the convenience, security and flexibility of Oyster and to bring the service in line with London Underground ticket offices where paper season tickets were withdrawn in 2005. </p>
<h2>Multiple benefits</h2>
<p>Daily Travelcards and point-to-point tickets will still be available as paper tickets and existing paper season Travelcards will remain accepted for travel until they expire.</p>
<p>The benefits of having a Travelcard on Oyster include:</p>
<ul>
<li>Travelcards on Oyster can be bought or renewed online, at London Travel Information Centres, at ticket machines and at any of the up to 4,000 Oyster Ticket Stops across London </li>
<li>Access to Oyster online accounts to buy or renew Travelcards, top up pay as you go balance, view journey history, check fares paid and apply for refunds </li>
<li>The flexibility of being able to have both a Travelcard and Oyster pay as you go balance to travel outside Travelcard zones on the one card </li>
<li>The ability to register the card and protect it in case of loss or theft</li></ul>
<p>Shashi Verma, TfL's Director of Customer Experience, said: 'Oyster is already the ticket of choice for more than 85 per cent of our customers and bringing all season Travelcards on to Oyster means more people will benefit from its security, flexibility and convenience. </p>
<h2>Informing customers</h2>
<p>'Paper season Travelcards have not been available at Tube ticket offices for a number of years now and so it makes sense to bring London Overground into line with our operations on the rest of the network.'</p>
<p>Posters and leaflets at London Overground stations will inform customers of the change and the benefits of using Oyster.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Oyster was introduced on London's transport network in 2003. Since then over 60 million Oyster cards have been issued </li>
<li>Using Oyster, customers only need one card to travel on all public transport across London, including National Rail services operating within the capital. Oyster pay as you go customers are always reminded to touch in and out at the start and end of every rail journey to ensure they pay the correct fare</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -London Overground moves to Oyster only for sales of season Travelcards -->

 
 
        
        
            @{ViewBag.Description = "More customers to benefit from convenience, security and flexibility of Oyster Move is in line with withdrawal of paper season Travelcards from London Underground ticket offices in 2005Transport for London's (TfL's) 7 Day or longer period Travelcards,";}
        
        


 