


@{ViewBag.Title = "London Tramlink orders four new trams for Wimbledon branch";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Tramlink orders four new trams for Wimbledon branch</h1>
        <div class="content-page-press-release">
        30 August 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Fifty per cent capacity increase in service by 2016.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"At the same time, congestion on buses is relieved and car owners are encouraged to leave their vehicles at home, helping to reduce carbon emissions."</div>
        <div class="quote-footer">
            <div class="quotee-name">Jonathan Fox</div>
            <div class="quotee-job-title">Transport for London's Director of London Rail</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            At the same time, congestion on buses is relieved and car owners are encouraged to leave their vehicles at home, helping to reduce carbon emissions.
                            
                        </p>
                    </div>
                
            
            
            <p>London Tramlink has ordered four new trams to deliver a 50 per cent increase in capacity on the Wimbledon to Croydon link, the busiest route on the network.</p>
<p>The new Stadler trams are part of the &pound;30m Wimbledon Line Enhancement Programme and will complement the replacement of a single line section with double tracks and an additional tram platform at Wimbledon station.</p>
<p>Transport for London's Director of London Rail, Jonathan Fox, said: 'This increase from&nbsp;eight to 12 trams per hour with a 50 per cent rise in capacity on the Wimbledon branch will greatly improve tram frequency, reduce waiting times and increase reliability as well as making for a better passenger experience. </p>
<h2>Reduce carbon emissions</h2>
<p>'As London's population grows this is an important expansion to the tram network, bringing more convenient and efficient tram connections and moving more people around the Capital to leisure, education and employment opportunities. At the same time, congestion on buses is relieved and car owners are encouraged to leave their vehicles at home, helping to reduce carbon emissions.'</p>
<p>The new service will provide improved access to central Croydon with 50,000 employees working within 750 metres walk of a tram stop. </p>
<p>An additional 25,000 people will now have a journey time of less than 60 minutes to central Croydon, giving Croydon's employers access to a larger labour market.</p>
<p>Since the London Tramlink system opened in 2000 it has experienced rapid growth in passenger numbers. </p>
<h2>Employment growth</h2>
<p>Nineteen million passengers were carried in the first year of operation and this has grown to 30.2 million passengers in 2012/13. </p>
<p>Expected population and employment growth indicate that by 2031 38.8 million passengers are expected to be carried by London Tramlink (a 35 per cent increase).<br></p>
            <p><strong>Notes to editors</strong></p>
<ul>
<li>The Stadler trams are 2.5 metres longer, are air-conditioned and 100 per cent low-floor which provides better accessibility for passengers.&nbsp;They are each made up of&nbsp; five sections with wide gangways between each section giving them a more manoeuvrable and spacious interior </li>
<li>The Wimbledon Line Enhancement Programme will improve journey times and reduce congestion on board trams and at Wimbledon station, make it easier to use Oyster touch in and touch out facilities&nbsp;and improve interchange between tram and National Rail services </li>
<li>The first of the new vehicles will be delivered during the summer of 2015 and the last is scheduled to arrive in 2016. The contract is worth &pound;10.2m and the four new vehicles are being bought under an option in a contract which saw six new trams delivered in 2012<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -London Tramlink orders four new trams for Wimbledon branch -->

 
 
        
        
            @{ViewBag.Description = "London Tramlink has ordered four new trams to deliver a 50 per cent increase in capacity on the Wimbledon to Croydon link, the busiest route on the network.The new Stadler trams are part of the &pound;30m Wimbledon Line Enhancement Programme and will";}
        
        


 