


@{ViewBag.Title = "TfL consults on Mayor's pledge to make it easier to 'Stop and Shop'";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL consults on Mayor's pledge to make it easier to 'Stop and Shop'</h1>
        <div class="content-page-press-release">
        20 August 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Proposal to increase parking time by 50 per cent from 20 to 30 minutes at 600 'Stop & Shop' parking bays across Capital.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"If these plans are well received, changes to parking on the red route network could be introduced before the end of the year."</div>
        <div class="quote-footer">
            <div class="quotee-name">John Mason</div>
            <div class="quotee-job-title">TfL's Director for Traffic Enforcement</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            If these plans are well received, changes to parking on the red route network could be introduced before the end of the year.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Plans will provide greater flexibility for drivers and help boost local businesses and high streets</li></ul>
<p>Transport for London (TfL) is consulting Londoners on a Mayoral pledge to increase free parking on some of London's busiest roads from 20 minutes to 30 minutes.&nbsp; </p>
<p>It is hoped the changes, which are in line with the recommendations of Mayor Boris Johnson's Roads Task Force, will help revitalise high streets, provide a boost for small businesses across the Capital and provide more flexibility for people who wish to park and shop, pay a bill or run an errand.</p>
<h2>A final decision</h2>
<p>The plans, which are a Mayoral manifesto commitment, would affect around 600 parking bays on TfL's red route network across London.&nbsp;</p>
<p>The consultation will run in 19 London boroughs until 16 September, after which a final decision on implementing the proposals will be made.</p>
<p>The Mayor of London, Boris Johnson, said: 'Parking is a big concern for businesses and retailers in London. </p>
<p>'By extending the length of time that drivers can park at more than 600 locations, we can make it easier for Londoners to shop locally and, crucially, boost trade in our high streets and the economy in the process.'</p>
<p>John Mason, TfL's Director for Traffic Enforcement, said: 'We're confident that these plans will be welcomed by drivers who shop in their local area but need greater flexibility with parking times; and by retailers who will have a captive audience for longer periods of time. </p>
<p>'If these plans are well received, changes to parking on the red route network could be introduced before the end of the year.' </p>
<h2>This sensible measure </h2>
<p>Sue Terpilowski, London Chairman, Federation of Small Businesses, said: 'We welcome plans by Transport for London for red routes in the Capital to permit 30 minutes of free parking. </p>
<p>'The Federation of Small Businesses have long argued that parking charges and availability inhibit local spend and 64 per cent of our members say it has a negative impact on their business. </p>
<p>'This sensible measure will enable more customers to shop locally and enable small businesses to compete with 'free to park' out of town shopping centres. </p>
<p>'We urge councils in London to think about how their parking decisions impact on the local economy, thus, creating parking policies, strategies and an evidence base which is appropriate in the current economic climate.'</p>
<p>The proposal has already been subject to informal consultation with 22 affected London boroughs - of which 19 welcomed the plans. </p>
<p>
<hr>
<strong>Notes to Editors:</strong> 
<ul>
<li>The plans would see changes to two types of parking bays along TfL's red route network (also known as Transport for London Road Network - TLRN) 
<ul type="circle">
<li>'Red bays' that allow 20 minute parking for part of the red route hours (typically 10am-4pm) </li>
<li>'White bays' that provide 20 minute parking at any time during the red route control hours</li></ul></li>
<li>These plans will not affect loading bays on the red routes - which will continue to permit people to load or unload for 20 minutes </li>
<li>The plans will not affect disabled badge holders using parking bays - who can continue to use them for an unlimited period </li>
<li>The statutory consultation will see notices being displayed at each of the affected parking bays and a formal notice published in a number of newspapers - asking anyone affected to raise any concerns that they may have </li>
<li>TfL&nbsp;has full operational responsibility for the TLRN - 580km of major roads in the Capital, called red routes, which play a strategic role in keeping London moving.&nbsp;They make up five per cent of London's roads but carry more than 30 per cent of its traffic </li>
<li>It also manages and maintains 13 major road tunnels, more than 140 roadside electronic message boards (Variable Message Signs) and all of London's 6,000 traffic signals.&nbsp;To help manage this, TfL has real-time operational control of the road network through the London Streets Traffic Control Centre (LSTCC).&nbsp;The LSTCC helps manage the impact on traffic of up to 10,000 unplanned incidents and around 750 planned events in London each year</li></ul>
<p><br><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -TfL consults on Mayor's pledge to make it easier to 'Stop and Shop' -->

 
 
        
        
            @{ViewBag.Description = "Plans will provide greater flexibility for drivers and help boost local businesses and high streetsTransport for London (TfL) is consulting Londoners on a Mayoral pledge to increase free parking on some of London's busiest roads from 20 minutes to 30";}
        
        


 