


@{ViewBag.Title = "TfL consults on proposals to stop accepting cash fare payments on London buses";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL consults on proposals to stop accepting cash fare payments on London buses</h1>
        <div class="content-page-press-release">
        19 August 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Fewer than one per cent of bus fares are now paid in cash.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The savings made can then be invested into making further vital improvements to the capital's transport network."</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">Managing Director for TfL Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The savings made can then be invested into making further vital improvements to the capital's transport network.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Oyster pay as you go and contactless payment cards offer cheaper fares </li>
<li>Numerous benefits including faster boarding times and savings generated for reinvestment in the transport network</li></ul>
<p>Transport for London (TfL) is today launching a public consultation seeking customers' views on proposals to withdraw cash fare payments on London buses.</p>
<p>Since the introduction of the Oyster card in 2003, and the launch of contactless payment cards on London's buses last year, more and more passengers are now appreciating the convenience and value for money these options offer.</p>
<p>This year cash fares will make up less than one per cent of bus journeys - down from 25 per cent in 2000 - and TfL is now putting proposals to passengers that would see cash fare payments on London buses ending in 2014.&nbsp;&nbsp;&nbsp; </p>
<p>Paying with Oyster or a contactless payment card guarantees the cheapest fare, currently &pound;1 less than a cash fare. </p>
<h2>Speeding up boarding</h2>
<p>Removing the acceptance of cash would benefit all customers by speeding up boarding times at bus stops and reducing delays. </p>
<p>It would also help TfL deliver up to &pound;24m per annum of savings, which would then be reinvested in improving the transport network. </p>
<p>Research shows that the majority of cash paying passengers tend to be aged between 16 and 34, with 80 per cent of all passengers using cash doing so because they have insufficient funds on their Oyster card - using a contactless payment card would be a convenient option when this happens. </p>
<p>TfL is also looking at measures to introduce a new Oyster feature that will allow passengers to make one more bus journey if there are insufficient funds on their Oyster card - helping them to get home or to the nearest station or Oyster Ticket Stop.&nbsp;</p>
<h2>Reflecting changes</h2>
<p>Any negative balance on the Oyster card would be corrected upon the next successful pay as you go top up.</p>
<p>The proposed changes would not affect more than a third of all bus passengers who travel on concessionary tickets, including children and young people, older people, the disabled or unemployed. </p>
<p>Leon Daniels, Managing Director for TfL Surface Transport, said: 'The proposals we are consulting on reflect the changing way that our customers pay for their journeys - with the vast majority now benefiting from the best possible fares and the convenience that Oyster and contactless payment cards deliver.</p>
<p>'It costs &pound;24m a year to accept cash on buses and with so few customers paying cash it makes sense for us to consider removing it. </p>
<h2>Consultation now open</h2>
<p>'The savings made can then be invested into making further vital improvements to the capital's transport network.'</p>
<p>A public consultation opens today, 19 August 2013, and will be available on the TfL website (<a href="http://www.tfl.gov.uk/cashless">tfl.gov.uk/cashless</a>).&nbsp; </p>
<p>This consultation closes on 11 October 2013.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Contactless payment cards were launched on London's 8,500 buses in December 2012 and have now counted for more than&nbsp;three million journeys </li>
<li>Always make sure the right card gets charged by separating the card you want to pay with when touching in.&nbsp; </li>
<li>Any customer with queries about the fare they have paid should contact our Customer Services team on 0343 222 1234 or <a href="mailto:oysterenquiries&#64;tfl.gov.uk">oysterenquiries&#64;tfl.gov.uk</a> </li>
<li>Postal responses to the consultation may be sent to: <br>Freepost RSAK-YAYS-ACKX<br>TfL Cashless Bus Consultation<br>11th Floor 11G8<br>Transport for London<br>Palestra House<br>197 Blackfriars Road<br>LONDON<br>SE1 8NJ<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -TfL consults on proposals to stop accepting cash fare payments on London buses -->

 
 
        
        
            @{ViewBag.Description = "Oyster pay as you go and contactless payment cards offer cheaper fares Numerous benefits including faster boarding times and savings generated for reinvestment in the transport networkTransport for London (TfL) is today launching a public consultation";}
        
        


 