


@{ViewBag.Title = "TfL confirms shortlist of bidders for ticketing and fare collection services";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL confirms shortlist of bidders for ticketing and fare collection services</h1>
        <div class="content-page-press-release">
        02 August 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Electra contract will take London's ticketing systems into the next decade.
        
    </div>



 <div class="on-this-page">
<p>Following the issue of the OJEU in March for the contract to take the capital's transport ticketing systems into the next decade, Transport for London (TfL) has today announced the shortlisted bidders. </p>
<p>The shortlisted bidders are:</p>
<ul>
<li>Cubic Transportation Systems Ltd</li>
<li>LG CNS Co CNF</li>
<li>Scheidt &amp; Bachmann GmbH</li></ul>
<p>The shortlisted bidders will be invited to submit detailed bids with the contract awarded by October 2014. </p>
<p>The new contract will commence from August 2015 upon the expiry of TfL's current contract for ticketing systems. </p>
<p>The Electra contractor will assume responsibility for the provision and maintenance of front and back office revenue collection systems for all of TfL's services at 400 Tube, DLR and London Overground stations, 250 National Rail stations in London and an off-system retail network of 4,000 Oyster agents. </p>
<p>This includes ensuring that all of the gates are maintained and available, that Oyster readers on buses and at stations, platforms and retail outlets are working reliably, that the systems transferring transactions from the Oyster readers to the back office are operating efficiently and that systems are integrated to support TfL's plans for the widespread use of contactless payment cards across the network.</p>
<p>The Electra contract term is for seven years with an early exit option at five years and extension options of up to three years. </p>
<p>Matthew Hudson, TfL's Customer Experience Head of Business Development, said: 'We now have a shortlist of bidders for the Electra contract and we will be providing further information to them about our detailed requirements over the coming months. </p>
<p>'One of the key things we will be looking for from the successful bidder is a contract that delivers the high quality of service and value for money that our customers demand.'</p>
<p>
<hr>
</p>
<h4>Notes to editors:</h4>
<ul>
<li>The Electra contract covers the maintenance and availability of ticketing and fare collection equipment on 8,500 buses, 1,900 ticket gates at London Underground and London Overground stations and, 1,800 stand-alone validators including on the DLR and 1,600 ticket machines. There are also around 4,000 retail devices at Oyster Ticket Stops across the capital and Oyster is now accepted at 250 national rail stations in London</li>
<li>Oyster was introduced on London's transport network in 2003. Since then, over 60 million Oyster cards have been issued and more than 8 million are in regular use. Over 85% of all public transport journeys in London are made using Oyster<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -TfL confirms shortlist of bidders for ticketing and fare collection services -->

 
 
        
        
            @{ViewBag.Description = "Following the issue of the OJEU in March for the contract to take the capital's transport ticketing systems into the next decade, Transport for London (TfL) has today announced the shortlisted bidders. The shortlisted bidders are:Cubic Transportation";}
        
        


 