


@{ViewBag.Title = "TfL and its policing partners step up enforcement of 'bike boxes' to help improve cycle safety in the Capital ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL and its policing partners step up enforcement of 'bike boxes' to help improve cycle safety in the Capital </h1>
        <div class="content-page-press-release">
        15 August 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This week Transport for London (TfL), the Metropolitan Police Service (MPS) and City of London Police (CoLP) has stepped up its enforcement of Advanced Stop Lines, known as 'bike boxes', to help further improve safety for cyclists on the Capital's roads.
        
    </div>



 <div class="on-this-page">
<p>Advanced Stop Lines are the boxes marked on the road with a bike symbol painted inside, located at many traffic lights. The cyclist has a stop line several feet ahead of the line used by everyone else in order to give bikes more space so they can be seen more easily and are not right in front of a vehicle's bonnet or wheels. However, very significant numbers of drivers are not currently stopping at the rear line.</p>
<p>The Mayor's Cycling Commissioner, Andrew Gilligan, said: 'It may be that some drivers don't realise they aren't allowed over the Advanced Stop Lines, and when the lights are red, those areas quite often have cars and lorries all over them, completely defeating their purpose. Bike boxes are a really important way to keep cyclists and vehicles at a safe distance. They have already saved hundreds of drivers, particularly truck drivers who have blind spots in their cabs, from the anguish of unintentionally harming a cyclist, and of course saved hundreds of cyclists from serious accidents.'</p>
<p>Drivers caught crossing the first or second advanced stop lines when the signal is red will be liable for a &pound;60 fixed penalty charge and three points on their licence. The only exception to this rule is if the traffic signal changes from green to amber and drivers cannot safely stop before the first stop line. </p>
<p>In addition to stepping up enforcement on motorists, rogue cyclists are also being targeted. While most cyclists ride responsibly - some do not, and this can anger other road users. Cyclists will be targeted for jumping red lights and issued with a &pound;30 fine if caught doing so.</p>
<p>Andrew Gilligan added 'Whilst usually only endangering the rider themselves, bad cycling does annoy and frighten people, and we are going to tackle it. We are increasing the number of officers in our dedicated Met Police Cycle Task Force by more than a quarter. Riding bikes themselves, they will target particular cyclist misbehaviour hotspots.'</p>
<p>The start of the increased enforcement of both drivers and cyclists was supported by a seven-week intensive phase of engagement and education run by the MPS and CoLP. </p>
<p>The engagement programme included speaking with drivers and cyclists at key junctions and handing out flyers with information to help improve compliance around Advanced Stop Lines, explaining both motorist and cyclist obligations and the reasons for the rules. </p>
<p>Siwan Hayward, Acting Director of Community, Safety, Enforcement and Policing, TfL said: 'Cycle safety is an important issue for us at TfL. Our aim is not to penalise road users but to help educate them into complying with the rules which is why we have been engaging and educating all road users at key London locations in a run up to this enforcement launch. Our message is clear; motorists leave room for cyclists in Advance Stop Line boxes and cyclists do not cross the Advance Stop Line&nbsp; box during a red traffic signal.'</p>
<p>Chief Superintendant Sultan Taylor, MPS Safer Transport Command said: 'With a record number of Londoners taking up cycling, cycle safety and security is more important than ever. The Safer Transport Command is working with Transport for London and its policing partners to improve road user behaviour across London by ensuring Advance Stop Line rules are adhered to so that cyclists and drivers enjoy harmonious journeys.' </p>
<p>An improved cycling culture in London will also help strengthen the relationship between motorists, cyclists and pedestrians. The Cycling Vision for London launched by the Mayor this year includes a &pound;1billion plan for improved infrastructure for cyclists and new, safer routes - including a whole network of direct, back-street 'quietways'. Giving cyclists a more defined space of their own will help reduce conflict between them and other road users, and also help attract more women, older people, and more cautious cyclists. </p>
<p>&nbsp;</p>
            <p><strong>Notes to Editors:</strong></p>
<ul>
<li>ASLs were first introduced into the UK in Oxford in 1986, primarily as a measure to increase safety for cyclists by enabling them to move in front of traffic queues at signal controlled junctions. The regulations and layouts permitted for ASLs and lead-in lanes are contained within the Traffic Signs Regulations and General Directions (TSRGD) 2002. This was introduced in December 2002 and came into effect on 31 January 2003 for new schemes</li>
<li>ASLs are widely implemented in the rest of the United Kingdom, Netherlands, Denmark and other European countries</li>
<li>The Mayor has written to the Secretary of State with a list of more than 20 detailed requests to the Government and the EU for new powers to make the roads safer for cyclists and pedestrians. These include: the power for TfL, rather than the police, to enforce mandatory bike lanes and bicycle advanced stop boxes at traffic lights; the ability to install cycle-specific traffic lights and the ability to make improvements to pedestrian and cyclist crossings. The list of requirements draws on TfL's successful off-street trials at the Transport Research Laboratory in Berkshire</li></ul>
<p><strong>Transport for London ASL safety tips: <br></strong><strong>Motorists</strong></p>
<ul>
<li>Do not enter the Advanced Stop Line (ASL) box when the light is red - this space is reserved for the safety of cyclists</li>
<li>Crossing the first or second ASL lines when the light is red makes you liable for a &pound;60 fixed penalty, three points on your licence, and endangers vulnerable road users</li>
<li>&nbsp;If the traffic signal changes from green to amber and you cannot safely stop before the first stop line, you may cross the line but must stop before the second stop line (Highway Code rule 178).</li></ul>
<p><strong>Cyclists</strong></p>
<ul>
<li>Do not cross the second stop line while the traffic signal is red. Contravening a traffic signal is against the law, and could result in a &pound;30 fine</li>
<li>For more information on ASL safety tips visit: <a href="http://www.tfl.gov.uk/safetytips">tfl.gov.uk/safetytips</a></li>
<li>The MPS have explained some of the myths around ASLs on its new ASL dedicated webpage: <a href="http://www.tinyurl.com/ASLadvice">www.tinyurl.com/ASLadvice</a> <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -TfL and its policing partners step up enforcement of 'bike boxes' to help improve cycle safety in the Capital  -->

 
 
        
        
            @{ViewBag.Description = "Advanced Stop Lines are the boxes marked on the road with a bike symbol painted inside, located at many traffic lights. The cyclist has a stop line several feet ahead of the line used by everyone else in order to give bikes more space so they can be seen";}
        
        


 