


@{ViewBag.Title = "Transport for London invites architects to submit plans on 55 Broadway";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London invites architects to submit plans on 55 Broadway</h1>
        <div class="content-page-press-release">
        05 August 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London begins process of securing the future of its historic building.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We recognise the historic features of our Grade I listed building, 55 Broadway, and we need to carefully ensure that any future use enhances its features.
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) has begun the process of tendering architects to assess the potential use of its historic London Underground Headquarters at 55 Broadway, once its staff relocate in 2015. </p>
<p>The building is no longer fit for purpose as an efficient office building so TfL has issued a tender inviting architects to submit proposals for converting the building into residential accommodation. </p>
<p>TfL looked at every potential option for the building with office, hotel and residential uses all being considered. </p>
<p>After detailed analysis the conclusion was that a residential led development would not only deliver the best value for fare and taxpayers, but it would also be the most suitable option for the Grade I listed building to maintain its internal and external heritage. </p>
<p>Mike Brown MVO, Managing Director, London Underground and London Rail at TfL, said: 'We recognise the historic features of our Grade I listed building, 55 Broadway, and we need to carefully ensure that any future use enhances its features. </p>

<p>'This tender is seeking architects who are used to working with heritage buildings to help us develop the plans. We are committed to securing a future for the building that ensures it remains a valued part of the fabric of London. </p>

<p>'We take our responsibilities for our heritage assets extremely seriously. We also have a responsibility to fare and taxpayers to make sure that any redevelopment of 55 Broadway is a commercial success, with all proceeds reinvested in London's transport network to deliver increased and improved services.'</p>
<p>In recognition of the significance of the building, TfL will be leading the planning application and the listed building approval process, rather than engaging with an external developer at this stage. </p>

<p>This will ensure that the proposed solution for the building is appropriate to its heritage and complementary to the transport needs at St James's Park Tube station. TfL expects to appoint the architects in October 2013. </p>
<p>Designed by Charles Holden and built between 1927 and 1929, 55 Broadway has been London Underground's iconic headquarters for over 80 years and is situated above St James's Park Tube station. </p>

<p>The building was listed Grade II in 1970 and upgraded to Grade I in 2011 by English Heritage on account of its outstanding national historic and architectural interest. </p>
<p>
<hr>

<p>
<h4>Notes to editors:</h4>
<ul>
<li>The tender is published at: <a href="https://eprocurement.tfl.gov.uk/epps/cft/viewContractNotices.do?resourceId=344334">https://eprocurement.tfl.gov.uk/epps/cft/viewContractNotices.do?resourceId=344334</a></li>
<li>London Underground owns the freehold interest in 55 Broadway, 100 Petty France and the Wing over Station ('the Buildings') and holds a long occupational lease of Albany House. 55 Broadway is a Grade I Listed Building which lies within the Broadway &amp; Christchurch Gardens Conservation Area</li>
<li>The building was commissioned in the 1920s by The Underground Group who wanted Broadway to reflect its bold vision of the future of transport in London. Architects Adams, Holden and Pearson were given the task of creating a groundbreaking design</li>
<li>The site at St James's Park Tube station was challenging because of its irregular shape and the District and Circle line only 7.3 metres below. The solution was a cross-shaped layout, allowing pedestrians to walk through the ground floor of the offices, across the station booking hall, providing a short cut between Victoria Street and St James's Park</li>
<li>Above ground, the building was faced with 78,000 cubic feet of high quality Portland stone.&nbsp; Contemporary artists were invited to sculpt decorative features into the stone facade, carved on site. Two are just above street level and a further eight are above the sixth floor windows on each side of all four wings. The sculptors were:</li>
<ul>
<li>Jacob Epstein</li>
<li>Eric Gill</li>
<li>Henry Moore</li>
<li>A H Garrard</li>
<li>Eric Automer</li>
<li>Allan Wyon</li>
<li>F Rabinovitch.</li></ul>
<li>The Royal Institute of British Architects awarded 55 Broadway its 1929 London Architectural Medal</li>
<li>During WW2 the west wing received considerable damage as a result of bombing. It was rebuilt - without Portland stone facing which was not available at the time. The Portland stone was reinstated in 1963</li>
<li>55 Broadway was refurbished in the 1980s. The exterior stone work was cleaned, the windows replaced with exact replicas, and a new street-level shopping mall allowed the reopening of the eastern entrance to the building.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Transport for London invites architects to submit plans on 55 Broadway -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has begun the process of tendering architects to assess the potential use of its historic London Underground Headquarters at 55 Broadway, once its staff relocate in 2015. The building is no longer fit for purpose as an efficient";}
        
        


 