


@{ViewBag.Title = "Travel advice: London Overground services during Bank Holiday weekend industrial action";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Travel advice: London Overground services during Bank Holiday weekend industrial action</h1>
        <div class="content-page-press-release">
        21 August 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Some disruption expected but alternative routes available.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Passengers advised to check&nbsp;before they travel</li></ul>
<p>Some members of the RMT union are expected to take industrial action on London Overground services this weekend (Sunday 25 and Monday 26 August) which will affect some routes. </p>
<p>Transport for London and the London Overground operator, LOROL, will be working to run as many services as possible and there will be many alternative Tube, bus and rail services available to ensure people can get around the Capital this weekend.</p>
<p>Passengers should plan ahead at <a href="http://www.tfl.gov.uk/journeyplanner">tfl.gov.uk/journeyplanner</a>&nbsp;and make use of the many alternatives if their London Overground service is disrupted.</p>
<h2>Plan ahead</h2>
<p>On both Sunday 25 August and Monday 26 August replacement bus services will be provided on the parts of the Richmond/Clapham Junction to Stratford Junction routes which are expected to be affected by the industrial action. </p>
<p>From Richmond, the District line will operate normally.</p>
<p>Southern will run running an hourly service between Clapham Junction and Kensington Olympia on Sunday 25 August (not calling at Imperial Wharf), and an hourly service between South Croydon and Watford Junction (not calling at Imperial Wharf and Shepherd's Bush) on Monday 26 August.</p>
<p>South West Trains provides a regular service between Richmond and Clapham Junction stations, and onwards to London Waterloo.</p>
<p>On Sunday 25 August, replacement bus services will also be in place on the Highbury &amp; Islington to New Cross/Crystal Palace/West Croydon and Clapham Junction routes where there is planned engineering works. </p>
<p>On Bank Holiday Monday this route will be operating a normal Saturday service. </p>
<h2>Service information:</h2><strong>Sunday 25 August and Monday 26 August</strong> 
<p><strong>Richmond/Clapham Junction to Stratford routes:</strong></p>
<p>Between Willesden Junction and Stratford a regular train service will operate with four trains per hour in each direction, with an additional further&nbsp;two trains (six in total per hour) between 18:00 and 21:00.</p>
<p>The first train from Willesden Junction will be at 09:00 on Sunday 25 August and at 06:27 on Monday 26 August. </p>
<p>The last train from Willesden Junction will be at 22:56 on both days.</p>
<p>The first train from Stratford will be at 09:05 on Sunday 25 August and at 06:50 on Monday 26 August. </p>
<p>The last train from Stratford will be at 22:45 on both days. </p>
<p>There will be no train service between Richmond and Willesden Junction on either Sunday 25 August or Monday 26 August. </p>
<p>Between Richmond and Gunnersbury, customers should use the District line. </p>
<p>Rail replacement buses will operate between Gunnersbury and Willesden Junction, calling at all stations, every 15 minutes from 08:30 until 23:30 on Sunday 25 August and from 06:00 until 23:30 on Monday 26 August.</p>
<p>There will be no London Overground train service between Clapham Junction and Willesden Junction. </p>
<p>Additional rail replacement buses will operate between Clapham Junction and Shepherd's Bush every 10 minutes from 07.30 to 23.30 on Sunday 25 August and from 06.00 to 23.30 on Monday 26 August. </p>
<p>Rail replacement buses will operate between Shepherd's Bush and Willesden Junction every 15 minutes from 07:30 to 23:30 on Sunday 25 August and from 06:00 to 23:30 on Monday 26 August.</p>
<p><strong>Watford Junction to Euston route:</strong></p>
<p>The normal service will operate on both days.</p>
<p><strong>Gospel Oak to Barking route:</strong></p>
<p>There will be no train service between Gospel Oak and Barking on either Sunday 25 August or Monday 26 August.&nbsp; </p>
<p>Rail replacement buses will operate between Gospel Oak and South Tottenham, calling at all stations, every 15 minutes from 08:30 until 23:00 on Sunday 25 August and from 06:00 to 23:20 on Monday 26 August.&nbsp; </p>
<p>Rail replacement buses will operate between South Tottenham and Barking, calling at all stations, every 15 minutes from 08:30 until 23:00 on Sunday 25 August and from 06:00 to 23:20 on Monday 26 August.</p>
<p><strong>Highbury &amp; Islington to New Cross/Crystal Palace/ West Croydon and Clapham Junction routes:</strong></p>
<p><strong>Sunday 25 August</strong></p>
<p>Due to planned engineering works, there will be no train service on Sunday 25 August between Highbury &amp; Islington and Shadwell or between Surrey Quays and Clapham Junction.</p>
<p>Rail replacement buses will operate between Dalston Kingsland and Shadwell and Canada Water and Clapham Junction, calling at all stations, every 30 minutes from 07:00 until 23:30. </p>
<p>Between Shadwell and West Croydon train services will operate every 15 minutes. </p>
<p>Between Shadwell and Crystal Palace train services will operate every 15 minutes. </p>
<p>Between Shadwell and New Cross train services will operate every 15 minutes.</p>
<p><strong>Monday 26 August</strong></p>
<p>The normal timetabled service will operate on both days. </p>
<p>London Overground operates a Saturday service on Bank Holidays.</p>
<p>
<hr>

<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Travel advice: London Overground services during Bank Holiday weekend industrial action -->

 
 
        
        
            @{ViewBag.Description = "Passengers advised to check&nbsp;before they travelSome members of the RMT union are expected to take industrial action on London Overground services this weekend (Sunday 25 and Monday 26 August) which will affect some routes. Transport for London and the";}
        
        


 