


@{ViewBag.Title = "Tube starts challenging summer period with continued high reliability";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube starts challenging summer period with continued high reliability</h1>
        <div class="content-page-press-release">
        14 August 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) maintained high levels of reliability through the start of the summer months according to new figures published by Transport for London.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"My team are focusing on every aspect of how we run a safe and reliable  railway and get customers to their destinations"</div>
        <div class="quote-footer">
            <div class="quotee-name">Phil Hufton</div>
            <div class="quotee-job-title">Chief Operating Officer of LU</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            My team are focusing on every aspect of how we run a safe and reliable  railway and get customers to their destinations
                            
                        </p>
                    </div>
                
            
            
            <p>The figures from Period 2 of 2013/14 (28 April to 25 May) show that delays to customers were down again as the Tube enters the summer period, which is historically a challenging season for the Underground. </p>
<p>Increased temperatures affect the performance of the railway and&nbsp;which can lead to unreliability of the Tube, but LU started the summer on the front foot with delays to customers down by 21 per cent on the previous four-week period. <br>&nbsp;<br>Passenger journeys rose to 96.8 million journeys during the period, 3.5 per cent higher than the same period last year, with LU operating more than 98 per cent of scheduled train services. </p>
<h2>Long-term improvement</h2>
<p>Signal-related delays were at their lowest level for more than three years.<br>&nbsp;<br>Customer satisfaction, measured quarterly through independent surveys of LU customers, currently stands at a continuing high of 84.</p>
<p>The continuing trend of long-term improvement follows the success of the LU Reliability Programme, introduced in 2011.&nbsp;</p>
<p>LU continues to implement this Programme to meet the Mayor's commitment of reducing delays by a further 30 per cent by 2015. </p>
<h2>Working hard</h2>
<p>Phil Hufton, Chief Operating Officer of LU, said: 'Seasonal temperatures and continued high customer demand make the summer a challenging period, so my team are focusing on every aspect of how we run a safe and reliable&nbsp; railway and get customers to their destinations. </p>
<p>'We're working hard to make customers' journeys as comfortable as possible in the hot weather - the first fleet of air-conditioned trains are now in operation on the Metropolitan line, and platform cooling solutions have been introduced at stations including Green Park, Victoria and Oxford Circus.<br>&nbsp;<br>'We're doing everything we can to maintain a reliable Tube, but I also ask customers to follow our tips for making travelling more comfortable in hot weather.'</p>
<p>TfL advice during hot weather:</p>
<ul>
<li>Please carry water with you </li>
<li>Don't board a train or bus if you feel unwell </li>
<li>If you feel unwell please get off at the next stop and seek help from our staff and </li>
<li>Avoid pulling the passenger alarm between stations, and get off of the train at the next stop as help can be more easily obtained on a platform</li></ul>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Take a look at the <a href="/corporate/modesoftransport/londonunderground/1592.aspx">performance figures for Period 2</a>. </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Tube starts challenging summer period with continued high reliability -->

 
 
        
        
            @{ViewBag.Description = "The figures from Period 2 of 2013/14 (28 April to 25 May) show that delays to customers were down again as the Tube enters the summer period, which is historically a challenging season for the Underground. Increased temperatures affect the performance of";}
        
        


 