


@{ViewBag.Title = "Works under way to boost capacity and reliability on Docklands Light Railway";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Works under way to boost capacity and reliability on Docklands Light Railway</h1>
        <div class="content-page-press-release">
        15 August 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Work to increase capacity from 5,500 to 6,600 journeys an hour on the Docklands Light Railways (DLR) route between Stratford and Canary Wharf/Lewisham is set to get under way next week.
        
    </div>



 <div class="on-this-page">
<p>On Tuesday Transport for London (TfL) will start work to install a second set of tracks - 'double tracking' - as part of a wider project with Crossrail that will see the redevelopment of Pudding Mill Lane station.</p>
<p>The work will enable passengers to benefit from better reliability and an increase in capacity of more than 1,000 journeys an hour by the spring of 2014, along with a brand new station that is set to have the largest capacity on the DLR network.</p>
<p>From mid-2019 Crossrail trains will exit new tunnels at Pudding Mill Lane and join existing rail lines to make their way through northeast London to Essex. DLR passengers will also be able to interchange with Crossrail services, as well as London Underground, London Overground and National Rail services at Stratford station.</p>
<p>TfL's Director of Rail, Jonathan Fox, said: 'This work will bring a real boost to the service enjoyed by the thousands of passengers who use this route and help to encourage even more people on to the DLR. </p>
<p>'In addition, when the Pudding Mill Lane upgrade project is completed and a new station with the biggest capacity on the DLR is opened, it will provide excellent access for people travelling to events at Queen Elizabeth Olympic Park. </p>
<p>'This contribution to the continued post-Olympics regeneration of this part of London has come about due to close and effective collaboration with our Crossrail colleagues.'</p>
<p>Howard Smith, Crossrail Operations Director, said: 'Crossrail is working very closely with Transport for London to make sure that the improvements are carried out with as little disruption as possible to DLR services. Pudding Mill Lane marks the site where trains travelling from Essex and northeast London will enter the new Crossrail tunnels and take passengers through to central London and beyond.'</p>
<p>The work starting on Tuesday 20 August involves the installation of a second set of tracks at the eastern end of the site. This will complement double tracking work being undertaken for DLR at the western end of the site as part of the Crossrail project. </p>
<p>Completion of the works in spring 2014 will require a brief interruption of service on the route but until then there will be no disruption to passengers.<br></p>
            <p><strong>Notes to editors:</strong></p>
<ul>
<li>Current frequency on the network is&nbsp;10 trains per hour, every six minutes with a mixture of two and three-carriage trains giving a capacity of 5,500 passengers per hour in each direction </li>
<li>Completion of the double tracking work at both ends of the site will provide an ability to run 15 trains per hour or one every four minutes. This doubles the existing capacity to up to10,000 passengers per hour in either direction but is subject to funding for additional trains </li>
<li>The new station is being been built 25m south of the current one to allow space for Crossrail's route. It will have 90m long, 4.5m wide platforms and 5m wide stairways to handle increases in passenger numbers due to events at the Queen Elizabeth Olympic Park.&nbsp; There is provision for shops beneath the station and escalators in the future should they be required </li>
<li>Work to connect the new double tracking and the station to the existing DLR network will take place during spring 2014. DLR intends to deliver double tracking between Bow Church and Stratford in three phases to increase capacity and improve reliability between Stratford-Canary Wharf/Lewisham. This is Phase 1 of the project and will extend double tracking from Pudding Mill Lane station to Waterworks River </li>
<li>Crossrail will run from Maidenhead and Heathrow in the west, through new tunnels under central London to Shenfield and Abbey Wood in the east. There will be 37 Crossrail stations including&nbsp;eight new stations in central London and Docklands at Paddington, Bond Street, Tottenham Court Road, Farringdon, Liverpool Street, Whitechapel, Canary Wharf and Custom House </li>
<li>Crossrail will bring an extra 1.5 million people to within 45 minutes of central London and will link London's key employment, leisure and business districts - Heathrow, West End, the City, Docklands - enabling further economic development<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Works under way to boost capacity and reliability on Docklands Light Railway -->

 
 
        
        
            @{ViewBag.Description = "On Tuesday Transport for London (TfL) will start work to install a second set of tracks - 'double tracking' - as part of a wider project with Crossrail that will see the redevelopment of Pudding Mill Lane station.The work will enable passengers to benefit";}
        
        


 