
    






















@section adverts {
    <div class="top-banner-advert" aria-hidden="true">
        <div class="large" data-advert="/76889402/driving/low_emission_zone" data-advert-sizes="970, 90|970, 250"></div>
        <div class="medium" data-advert="/76889402/driving/low_emission_zone" data-advert-sizes="728, 90"></div>
        <div class="small" data-advert="/76889402/driving/low_emission_zone" data-advert-sizes="300, 50|320, 50"></div>
    </div>
}


 
  



@{ViewBag.Title = "Changes to the LEZ";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/low-emission-zone/changes-to-the-lez";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/low-emission-zone">Low Emission Zone</a></li>
                
            
                
                <li><span class="last-breadcrumb">Changes to the LEZ</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Changes to the LEZ</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>From 26 October 2020, Low Emission Zone (LEZ) emissions standards will be tougher for heavier vehicles. Find out which vehicles will need to meet Euro VI standards or pay a daily charge to drive within the Greater London area.</p>
        
      </div>
    
    
      <p>Current LEZ emissions standards set a limit for how much particulate matter (PM) a vehicle may emit. The tougher standards will also set a limit for nitrogen oxides (NOx) for some vehicles.</p>

<p>You can now check if your vehicle will be affected by these standards and what you will need to pay.</p>
      
           
      
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="https://tfl.gov.uk/modes/driving/heavy-vehicle-checker/" class="secondary-button no-hover" >Check the tougher standards </a>

    </div>
</div> 
 
</div>
 <div>

<h2>HGVs, lorries, vans, buses/minibuses and coaches</h2>

<ul>
	<li>Lorry, van or specialist heavy vehicle over 3.5 tonnes gross vehicle weight</li>
	<li>Bus/minibus or coach over 5 tonnes</li>
</ul>

<p><strong>Current standard:</strong> Euro IV (PM)</p>

<p><strong>New standard:</strong> Euro VI (NOx and PM). This is the same as the ULEZ standard - these vehicles will no longer need to pay a separate ULEZ charge</p>

<h2>Vans, minibuses and specialist diesel vehicles</h2>

<ul>
	<li>Van or specialist diesel vehicle from 1.205 tonnes unladen weight&nbsp;up to 3.5 tonnes gross vehicle weight</li>
	<li>Minibus up to 5 tonnes gross vehicle weight</li>
</ul>

<p><strong>Current standard:</strong> Euro 3 (PM)</p>

<p><strong>New standard:</strong> No change - continue to pay the daily LEZ charge if your vehicle does not meet Euro 3 for PM</p>
</div>
 
<div>




<p>You can still&nbsp;<a href="/modes/driving/check-your-vehicle-35896">check if your vehicle meets the current standards</a>.</p>

<h2>Daily charges from 26 October 2020</h2>

<p>We would prefer that your vehicle meets the tougher LEZ emissions standards, so you don't need to pay the daily LEZ charge.</p>

<p>If you drive a HGV, lorry, van or other specialist heavy vehicle over 3.5 tonnes gross vehicle weight or a bus/minibus or coach over 5 tonnes gross vehicle weight within the LEZ and it does not meet:</p>

<ul>
	<li><strong>Euro VI </strong>(NOx and PM) - you will need to pay a daily charge of &pound;100</li>
	<li><strong>Euro IV</strong> (PM) - you will need to pay a daily charge of &pound;300</li>
</ul>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf.pdf" href="/ruc-cdn/static/cms/documents/ulez-lez-comparison-table.pdf.pdf">
    <div class="document-download-text">
        <p>ULEZ and LEZ emissions standards and charges</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF.PDF 41KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 <div>

<h3>Penalty charges</h3>

<p>Penalty charges for vehicles affected by tougher LEZ emissions standards will also change from 26 October 2020. <a href="/modes/driving/low-emission-zone/penalty-charges">See the changes to the penalty charges.</a></p>

<h2>About the tougher standards</h2>

<p>Your vehicle registration document (V5C) will help identify your vehicle's Euro emission standard.</p>

<p>The LEZ is enforced based on declared emissions of the vehicle rather than age, but:</p>

<ul>
	<li>Euro VI (NOx and PM) engines are generally those first registered with the DVLA after 1 January 2014</li>
	<li>Euro IV (PM) engines are generally those first registered with the DVLA as new after 1 October 2006</li>
	<li>Euro 3 (PM) engines in vans or specialist diesel vehicles (over 1.205 tonnes unladen weight up to 3.5 tonnes gross vehicle weight) and minibuses (up to 5 tonnes gross vehicle weight) will generally meet this standard if registered with the DVLA as new on or after 1 January 2002</li>
	<li>All vehicles which meet the ULEZ standards will already meet the tougher LEZ standards</li>
</ul>

<h3>Vehicle types affected by the tougher LEZ standards</h3>

<h4>More than 3.5 tonnes gross vehicle weight:</h4>

<ul>
	<li>Lorries (see also <a href="#hgv">HGV Safety Permit</a>)</li>
	<li>Vans</li>
	<li>Motor caravans</li>
	<li>Motorised horseboxes</li>
	<li>Breakdown and recovery vehicles</li>
	<li>Snow ploughs</li>
	<li>Gritters</li>
	<li>Refuse collection vehicles</li>
	<li>Road sweepers</li>
	<li>Concrete mixers</li>
	<li>Fire engines</li>
	<li>Tippers</li>
	<li>Removal lorries</li>
	<li>Other specialist heavy vehicles</li>
</ul>

<h4>More than 5 tonnes gross vehicle weight:</h4>

<ul>
	<li>Buses/minibuses (with 8+ passenger seats)</li>
	<li>Coaches (with 8+ passenger seats)</li>
</ul>

<h3>Vehicle types that need to meet the current LEZ standards only</h3>

<p>The tougher LEZ standards will not apply to the&nbsp;following vehicles.</p>

<h4>Over 1.205 tonnes unladen weight up to and including 3.5 tonnes gross vehicle weight:</h4>

<ul>
	<li>Vans</li>
	<li>Motorised horseboxes</li>
	<li>4x4 light utility vehicles</li>
	<li>Pick-ups</li>
	<li>Dual purpose vehicles</li>
	<li>Breakdown and recovery vehicles</li>
	<li>Motor caravans (over 2.5 tonnes gross vehicle weight)</li>
	<li>Ambulances (over 2.5 tonnes gross vehicle weight)</li>
	<li>Motorised hearses (over 2.5 tonnes gross vehicle weight)</li>
	<li>Other specialist diesel vehicles</li>
</ul>

<h4>Up to and including 5 tonnes gross vehicle weight:</h4>

<ul>
	<li>Minibuses (with 8+ passenger seats)</li>
</ul>

<h2><a id="hgv" name="hgv"></a>Direct Vision Standard&nbsp;and HGV Safety Permit from 26 October 2020</h2>

<p>From 26 October 2020, if you drive an HGV over 12 tonnes in Greater London at any time you will need&nbsp;an HGV Safety Permit to show that your vehicle meets the new Direct Vision Standard (DVS). Vehicles without a permit will be subject to a penalty charge notice. Applying for a permit is&nbsp;free.</p>

<p><a href="https://tfl.gov.uk/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles">Find out more about the DVS for HGVs</a>.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
                <a href="/modes/driving/low-emission-zone" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Low Emission Zone<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/about-the-lez">LEZ: Where and when</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/make-a-payment">Pay a LEZ charge</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/ways-to-meet-the-standards">Ways to meet the LEZ standards</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/find-out-if-you-need-to-register">Find out if you need to register</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/check-if-your-vehicle-is-affected">Check if your vehicle is affected</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/lorries-vans-buses-and-coaches">HGVs, lorries, vans, buses/minibuses and coaches</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/vans-minibuses-and-specialist-diesel-vehicles">Vans, minibuses and specialist diesel vehicles </a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/penalty-charges">Penalty charges for the LEZ</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/manufacturers-and-fitters">Manufacturers and fitters</a></div></li>
                            
 
                                <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/changes-to-the-lez">Changes to the LEZ</a></div>
                            </li>
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/contact-lez">Contact LEZ</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "New, tougher LEZ emissions standards for heavier vehicles will be in place from 26 October 2020";}
        
            
        


 