
    






















@section adverts {
    <div class="top-banner-advert" aria-hidden="true">
        <div class="large" data-advert="/76889402/driving/low_emission_zone" data-advert-sizes="970, 90|970, 250"></div>
        <div class="medium" data-advert="/76889402/driving/low_emission_zone" data-advert-sizes="728, 90"></div>
        <div class="small" data-advert="/76889402/driving/low_emission_zone" data-advert-sizes="300, 50|320, 50"></div>
    </div>
}


 
  



@{ViewBag.Title = "Check if your vehicle is affected";}
@{ViewBag.Keywords = "Bus operators,Businesses,Coach drivers,Drivers,Freight industry,Planning and construction,Public,Schools and young people,Suppliers,Buses,Coaches,Driving,TfL";}
@{ViewBag.Url = "/modes/driving/low-emission-zone/check-if-your-vehicle-is-affected";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/low-emission-zone">Low Emission Zone</a></li>
                
            
                
                <li><span class="last-breadcrumb">Check if your vehicle is affected</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Check if your vehicle is affected</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>Find out if your vehicle type is affected by the current emissions standards of the Low Emission Zone (LEZ). The LEZ standards will change for heavy vehicles from 26 October 2020.</p>
        
      </div>
    
    
      <p>Check your vehicle against the <strong>current LEZ standards:</strong></p>
      
           
      
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/check-your-vehicle-35896" class="secondary-button no-hover" >Check your vehicle</a>

    </div>
</div> 
 
</div>
 <div>

<p>To check if your vehicle may be affected by the tougher emissions standards from 26 October 2020, use our new tool on the <a href="/modes/driving/low-emission-zone/changes-to-the-lez">Changes to the LEZ page</a>.</p>

<p>Vehicles over 12 tonnes gross vehicle weight driven in Greater London may also need an <a href="https://tfl.gov.uk/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles">HGV Safety Permit</a>.</p>
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/lez-articulatedlorries4.jpg" alt="articulated lorry cartoon" />
    </div>
    <h3>Articulated lorries</h3>

<p><strong>Over 3.5 tonnes gross vehicle weight:</strong></p>

<ul>
	<li>Current LEZ standards apply</li>
	<li>Tougher LEZ standards apply from 26 October 2020</li>
</ul> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/lez-lorries2.jpg" alt="lorries cartoon" />
    </div>
    <h3>Lorries and vans</h3>

<p><strong>Over 3.5 tonnes gross vehicle weight:</strong></p>

<ul>
	<li>Current LEZ standards apply</li>
	<li>Tougher LEZ standards apply from 26 October 2020</li>
</ul> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/lez-flatbed2.jpg" alt="flatbed cartoon" />
    </div>
    <h3>Flatbed lorries</h3>

<p><strong>Over 3.5 tonnes gross vehicle weight:</strong></p>

<ul>
	<li>Current LEZ standards apply</li>
	<li>Tougher LEZ standards apply from 26 October 2020</li>
</ul> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/lez-coaches2.jpg" alt="coaches cartoon" />
    </div>
    <h3>Buses/minibuses and coaches</h3>

<p><strong>Over 5 tonnes gross vehicle weight:</strong></p>

<ul>
	<li>Current LEZ standards apply</li>
	<li>Tougher LEZ standards apply from 26 October 2020</li>
</ul> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/lez-largervan4.jpg" alt="horsebox cartoon" />
    </div>
    <h3>Horseboxes</h3>

<p><strong>Over 1.205 tonnes unladen vehicle weight up to 3.5 tonnes gross vehicle weight:</strong></p>

<ul>
	<li>Current LEZ standards continue to apply</li>
</ul>

<p><strong>Over 3.5 tonnes gross vehicle weight:</strong></p>

<ul>
	<li>Current LEZ standards apply</li>
	<li>Tougher LEZ standards apply from 26 October 2020</li>
</ul> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/lez-horseboxes4.jpg" alt="caravan cartoon" />
    </div>
    <h3>Motorised caravans&nbsp;</h3>

<p><strong>Over 2.5 tonnes gross vehicle weight:</strong></p>

<ul>
	<li>Current LEZ standards continue to apply</li>
</ul>

<p><strong>Over 3.5 tonnes gross vehicle weight:</strong></p>

<ul>
	<li>Current LEZ standards apply</li>
	<li>Tougher LEZ standards apply from 26 October 2020</li>
</ul> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/lez-minibuses3.jpg" alt="minibus cartoon" />
    </div>
    <h3>Minibuses</h3>

<p><strong>Up to and including 5 tonnes gross vehicle weight:</strong></p>

<ul>
	<li>Current LEZ standards continue to apply&nbsp;</li>
</ul>

<p><strong>Over 5 tonnes gross vehicle weight:</strong></p>

<ul>
	<li>Current LEZ standards apply</li>
	<li>Tougher LEZ standards apply from 26 October 2020</li>
</ul> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/lez-caravans4.jpg" alt="larger van cartoon" />
    </div>
    <h3>Larger vans</h3>

<p><strong>1.205 tonnes unladen weight to 3.5 tonnes gross vehicle weight:</strong></p>

<ul>
	<li>Current LEZ standards continue to apply</li>
</ul>

<p><strong>Over 3.5 tonnes gross vehicle weight</strong></p>

<ul>
	<li>Current LEZ standards apply</li>
	<li>Tougher LEZ standards apply from 26 October 2020</li>
</ul> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/lez-smallervans2.jpg" alt="smaller van cartoon" />
    </div>
    <h3>Smaller vans</h3>

<p><strong>1.205 tonnes unladen weight to 3.5 gross vehicle weight:</strong></p>

<ul>
	<li>Current LEZ standards continue to apply</li>
</ul> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/lez-light4x4-2.jpg" alt="4X4 cartoon" />
    </div>
    <h3>4x4 light utility vehicles</h3>

<p><strong>1.205 tonnes unladen weight to 3.5 gross vehicle weight:</strong></p>

<ul>
	<li>Current LEZ standards continue to apply</li>
</ul> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/lez-pickup2.jpg" alt="pickup cartoon" />
    </div>
    <h3>Pickups</h3>

<p><strong>1.205 tonnes unladen to 3.5 gross vehicle weight:</strong></p>

<ul>
	<li>Current LEZ standards continue to apply</li>
</ul> 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/low-emission-zone" });
        }
        
      

 
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
                <a href="/modes/driving/low-emission-zone" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Low Emission Zone<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/about-the-lez">LEZ: Where and when</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/make-a-payment">Pay a LEZ charge</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/ways-to-meet-the-standards">Ways to meet the LEZ standards</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/find-out-if-you-need-to-register">Find out if you need to register</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/check-if-your-vehicle-is-affected">Check if your vehicle is affected</a></div>
                                <ul>
                                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/check-if-your-vehicle-is-affected/exemptions-and-discounts">Exemptions & discounts</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/lorries-vans-buses-and-coaches">HGVs, lorries, vans, buses/minibuses and coaches</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/vans-minibuses-and-specialist-diesel-vehicles">Vans, minibuses and specialist diesel vehicles </a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/penalty-charges">Penalty charges for the LEZ</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/manufacturers-and-fitters">Manufacturers and fitters</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/changes-to-the-lez">Changes to the LEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/contact-lez">Contact LEZ</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/lez" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/lez" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div>
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/driving/congestion-charge/contact-congestion-charge" class="plain-button">Contact Congestion Charge</a>
<a href="/modes/driving/ultra-low-emission-zone/contact-ulez" class="plain-button">Contact ULEZ</a>
<a href="/info-for/deliveries-in-london/" class="plain-button">Deliveries in London</a>
<a href="/corporate/publications-and-reports/low-emission-zone" class="plain-button">LEZ publications</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://www.gov.uk/government/organisations/driver-and-vehicle-standards-agency" class="plain-button">DVSA</a>
<a href="http://www.dft.gov.uk/dvla/about.aspx" class="plain-button">DVLA</a>
<a href="http://www.cleanerairforlondon.org.uk/" class="plain-button">Cleaner Air for London</a>
<a href="https://www.sourcelondon.net/" class="plain-button">Source London</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

     @section scripts {
<div class="bottom-advert ">
    <div class="close-ad-button visually-hidden"><span class="close-icon-circle"></span></div>
    <div data-advert="/76889402/driving/" data-advert-sizes="320, 50"></div>
</div>
}

 
        
        
        
            @{ViewBag.Description = "Use our simple tools to find out if your vehicle meets LEZ emissions standards";}
        
            
        


 