
    
  



@{ViewBag.Title = "LEZ complaints";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/low-emission-zone/lez-complaints";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/low-emission-zone">Low Emission Zone</a></li>
                
            
                 <li><a href="/modes/driving/low-emission-zone/contact-lez">Contact LEZ</a></li>
                
            
                
                <li><span class="last-breadcrumb">LEZ complaints</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>LEZ complaints</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>If you're unhappy with the London Low Emission Zone (LEZ) service you receive, or have a suggestion of how we can improve it, we'd like to hear from you.</p>
        
      </div>
    
    <div class="on-this-page">
      <p>If your complaint is regarding any other aspect of the services we deliver, please see <a href="/help-and-contact/">Help &amp; contacts</a>.</p>

<p>You can discuss your complaint with staff in our customer service team. They will try to resolve the problem without you having to make a formal complaint.</p>

<p>If you are not happy with their response, you can make a formal complaint.</p>

<h2>How do I make a complaint?</h2>

<p>The formal complaint procedure has three stages. Please provide any previous reference numbers that you may have.</p>
      
           
      <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="stage-1-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="LEZ complaints-Stage 1"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="stage-1-heading" class="accordion-heading">Stage 1</div>
            </div>
            <div id="stage-1-content" class="start-hidden" role="region" aria-labelledby="stage-1-heading">
<p>Choose from one of the following three options to lodge a formal complaint:</p>

<ul>
	<li><a href="/modes/driving/make-a-low-emission-zone-complaint-37752">Make a complaint online</a></li>
	<li><strong>Phone:</strong> 0343 222 1111 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)<br />
	International : +44 (0)343 222 1111<br />
	Textphone: 020 7310 8999 if you have impaired hearing<br />
	Please make sure you have all the relevant details to hand before calling.</li>
	<li><strong>Write to:</strong><br />
	Customer Services Manager<br />
	Low Emission Zone<br />
	PO Box 343<br />
	Darlington DL1 9QD</li>
</ul>

<p>When you submit your complaint, let us know how you'd like us to respond (by email, post or by telephone). We'll normally send written replies within 10 working days.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="stage-2-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="LEZ complaints-Stage 2"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="stage-2-heading" class="accordion-heading">Stage 2</div>
            </div>
            <div id="stage-2-content" class="start-hidden" role="region" aria-labelledby="stage-2-heading">
<p>If you are still unhappy after the second stage, you may ask us to conduct a final review by writing to:</p>

<p>Customer Correspondence Manager<br />
TfL Road User Charging<br />
4th Floor<br />
5 Endeavour Square<br />
London E20 1JN</p>

<p>The Customer Correspondence Manager will conduct a review, usually within 10 working days, and will respond with our final position.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="stage-3-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="LEZ complaints-Stage 3"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="stage-3-heading" class="accordion-heading">Stage 3</div>
            </div>
            <div id="stage-3-content" class="start-hidden" role="region" aria-labelledby="stage-3-heading">
<p>If you are still unhappy after the second stage, you may ask us to conduct a final review by writing to:</p>

<p>General Manager<br />
TfL Road User Charging<br />
4th Floor<br />
5 Endeavour Square<br />
London E20 1JN</p>

<p>The General Manager will conduct a final review, usually within 10 working days, and will respond with our final position.</p>

            </div>
        </div>
    </div>
 
</div>
 <div>

<h2 abp="184">Local Government Ombudsman (LGO)</h2>
<p abp="185">
The LGO is an independent national service that investigates complaints against local authorities, such as Transport for London.
</p>
<p abp="186">If you've been through our complaints procedure and are still
dissatisfied, you may choose to escalate your complaint to the LGO at
the address below.
</p>
<p abp="187">You're entitled to contact the LGO without completing our complaints procedure, but in such cases the LGO may refer your complaint back
to us, to allow us the opportunity to resolve your issue.
</p>
<p abp="188">The Local Government Ombudsman<br abp="189" />
PO Box 4771<br abp="190" />
Coventry CV4 0EH<br abp="191" />
<br abp="192" />
<strong abp="193">Website: </strong><a href="http://www.lgo.org.uk/" abp="194">www.lgo.org.uk</a>
</p>
<h2 abp="195">Complaints about Penalty Charge Notices
</h2>
<p abp="196">Do not use the LEZ complaints system for disputes over <a href="/modes/driving/low-emission-zone/penalty-charges" abp="197">Penalty Charge Notices (PCNs)</a>. These have their own statutory <a href="/modes/driving/low-emission-zone/penalty-charges/challenge-a-penalty-charge-notice" abp="198">representations and appeals</a> procedure.</p>
<p abp="199">You can find more information about this procedure on the PCN itself.
</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/low-emission-zone" });
        }
        
      

 
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
                <a href="/modes/driving/low-emission-zone" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Low Emission Zone<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/about-the-lez">LEZ: Where and when</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/make-a-payment">Pay a LEZ charge</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/ways-to-meet-the-standards">Ways to meet the LEZ standards</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/find-out-if-you-need-to-register">Find out if you need to register</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/check-if-your-vehicle-is-affected">Check if your vehicle is affected</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/lorries-vans-buses-and-coaches">HGVs, lorries, vans, buses/minibuses and coaches</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/vans-minibuses-and-specialist-diesel-vehicles">Vans, minibuses and specialist diesel vehicles </a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/penalty-charges">Penalty charges for the LEZ</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/manufacturers-and-fitters">Manufacturers and fitters</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/changes-to-the-lez">Changes to the LEZ</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/contact-lez">Contact LEZ</a></div>
                                <ul>
                                    
                                        <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/lez-complaints">LEZ complaints</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/lez" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/lez" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "If you're unhappy with the London Low Emission Zone (LEZ) service you receive, or have a suggestion of how we can improve it, we'd like to hear from you.";}
        
            
        


 