
    
  



@{ViewBag.Title = "HGVs, lorries, vans, buses/minibuses and coaches";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/low-emission-zone/lorries-vans-buses-and-coaches";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/low-emission-zone">Low Emission Zone</a></li>
                
            
                
                <li><span class="last-breadcrumb">HGVs, lorries, vans, buses/minibuses and coaches</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>HGVs, lorries, vans, buses/minibuses and coaches</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>If you drive a diesel HGV, lorry, larger van, bus/minibus, coach or other specialist heavy vehicle within the Low Emission Zone (LEZ), you need to meet the emissions standards or pay a daily charge.</p>
        
      </div>
    
    <div class="on-this-page">
      <p>Vehicles in this category:</p>

<ul>
	<li>HGVs, lorries, vans or other specialist vehicles over 3.5 tonnes</li>
	<li>Buses/minibuses and coaches over 5 tonnes</li>
</ul>

<p>Currently, these vehicles must meet the Euro IV standard for particulate matter (PM), whether they are used for commercial or for private purposes.</p>

<p>Tougher LEZ standards are being introduced. Use our tool to check if&nbsp;your vehicle will be affected by <a href="/modes/driving/low-emission-zone/changes-to-the-lez">changes coming on 26 October 2020</a>. If you must pay LEZ charges because of&nbsp;the tougher standards,&nbsp;you will not have to pay a <a href="/modes/driving/ultra-low-emission-zone">separate ULEZ charge</a>.</p>

<p>Use our vehicle checker to see if your vehicle meets the <strong>current emissions standards</strong>.</p>
      
           
      
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/check-your-vehicle-35896" class="secondary-button no-hover" >Check your vehicle</a>

    </div>
</div> 
 
</div>
 <div>

<p>Petrol or diesel vehicles in central London must also meet <a href="/modes/driving/ultra-low-emission-zone">Ultra Low Emission Zone (ULEZ) standards</a>, even if&nbsp;they meet LEZ standards.</p>

<h2>Meeting the current standards</h2>

<p>The current LEZ emissions standards are based on Euro standards for the emission of PM. PM is very fine particles of soot emitted by vehicles - this pollution can contribute to asthma, heart and lung disease, other respiratory illnesses and even early death.&nbsp;</p>

<p>The age and weight of a vehicle indicate the level of PM it produces.</p>

<h3>Vehicles included in the current Euro IV standard for PM</h3>

<h4>Over&nbsp;3.5 tonnes gross vehicle weight:</h4>

<ul>
	<li>Lorries</li>
	<li>Vans</li>
	<li>Motor caravans</li>
	<li>Motorised horseboxes</li>
	<li>Breakdown and recovery vehicles</li>
	<li>Snow ploughs</li>
	<li>Gritters</li>
	<li>Refuse collection vehicles</li>
	<li>Road sweepers</li>
	<li>Concrete mixers</li>
	<li>Fire engines</li>
	<li>Tippers</li>
	<li>Removal lorries</li>
	<li>Other specialist heavy vehicles</li>
</ul>

<h4>Over&nbsp;5 tonnes gross vehicle weight:</h4>

<ul>
	<li>Buses/minibuses</li>
	<li>Coaches</li>
</ul>

<p>Find out more on&nbsp;our <a href="/modes/driving/low-emission-zone/check-if-your-vehicle-is-affected">check if your vehicle is affected page</a>.</p>

<h3>Vehicles meet the current standards if they:</h3>

<ul>
	<li>Were&nbsp;first registered as new with the DVLA&nbsp;on or after 1 October 2006, or</li>
	<li>Have&nbsp;a Low Emission Certificate (LEC) or a Reduced Pollution Certificate (RPC) for fitting an approved full filter or converting to an approved gas engine</li>
</ul>

<h3>Vehicles won't meet the current standards if they:</h3>

<ul>
	<li>Were first registered as new with the DVLA&nbsp;any time before 1 October 2006, or</li>
	<li>Currently hold a LEC or an RPC but you have only fitted a partial filter, or</li>
	<li>Have a LEC or an RPC for an Eligible Engine (these no longer meet the LEZ standards), or</li>
	<li>Have an RPC which has box 'M' ticked (this can be found under the 'Particulate trap fitted or modification type used' section of the certificate)</li>
</ul>

<p>If&nbsp; your vehicle doesn't meet the LEZ standards, you will need to pay the daily LEZ charge.</p>

<p><a href="/modes/driving/low-emission-zone/manufacturers-and-fitters">Find out more about vehicles with LECs and RPCs.</a></p>

<h2>HGV Safety Permit from October 2020</h2>

<p>If you drive an HGV over 12 tonnes in Greater London at any time you will need to apply for an HGV Safety Permit. From this date, a penalty charge notice will be issued to vehicles without a permit.</p>

<p>Applying for a permit will be free of charge and available from 28 October 2019. Find out more about the <a href="https://tfl.gov.uk/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles">Direct Vision Standard (DVS) for HGVs</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
                <a href="/modes/driving/low-emission-zone" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Low Emission Zone<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/about-the-lez">LEZ: Where and when</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/make-a-payment">Pay a LEZ charge</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/ways-to-meet-the-standards">Ways to meet the LEZ standards</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/find-out-if-you-need-to-register">Find out if you need to register</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/check-if-your-vehicle-is-affected">Check if your vehicle is affected</a></div></li>
                            
 
                                <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/lorries-vans-buses-and-coaches">HGVs, lorries, vans, buses/minibuses and coaches</a></div>
                            </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/vans-minibuses-and-specialist-diesel-vehicles">Vans, minibuses and specialist diesel vehicles </a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/penalty-charges">Penalty charges for the LEZ</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/manufacturers-and-fitters">Manufacturers and fitters</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/changes-to-the-lez">Changes to the LEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/contact-lez">Contact LEZ</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/driving/congestion-charge/contact-congestion-charge" class="plain-button">Contact Congestion Charge</a>
<a href="/modes/driving/ultra-low-emission-zone/contact-ulez" class="plain-button">Contact ULEZ</a>
<a href="/info-for/deliveries-in-london/" class="plain-button">Deliveries in London</a>
<a href="/corporate/publications-and-reports/low-emission-zone" class="plain-button">LEZ publications</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://www.gov.uk/government/organisations/driver-and-vehicle-standards-agency" class="plain-button">DVSA</a>
<a href="http://www.dft.gov.uk/dvla/about.aspx" class="plain-button">DVLA</a>
<a href="http://www.cleanerairforlondon.org.uk/" class="plain-button">Cleaner Air for London</a>
<a href="https://www.sourcelondon.net/" class="plain-button">Source London</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "HGVs, lorries, buses & coaches and heavy specialist vehicles need to meet certain emissions standards";}
        
            
        


 