
    






















@section adverts {
    <div class="top-banner-advert" aria-hidden="true">
        <div class="large" data-advert="/76889402/driving/low_emission_zone" data-advert-sizes="970, 90|970, 250"></div>
        <div class="medium" data-advert="/76889402/driving/low_emission_zone" data-advert-sizes="728, 90"></div>
        <div class="small" data-advert="/76889402/driving/low_emission_zone" data-advert-sizes="300, 50|320, 50"></div>
    </div>
}


 
  



@{ViewBag.Title = "Pay a LEZ charge";}
@{ViewBag.Keywords = "Bus operators,Businesses,Coach drivers,Drivers,Freight industry,Planning and construction,Public,Schools and young people,Suppliers,Buses,Coaches,Driving,TfL";}
@{ViewBag.Url = "/modes/driving/low-emission-zone/make-a-payment";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/low-emission-zone">Low Emission Zone</a></li>
                
            
                
                <li><span class="last-breadcrumb">Pay a LEZ charge</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Pay a LEZ charge</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>We prefer that your vehicle meets the Low Emission Zone (LEZ) standards so you don't have to pay the charge. If you do need to pay, charging days run from midnight to midnight, every day of the year.</p>
        
      </div>
    
    <div class="on-this-page">
      <p>You can pay by midnight on the day&nbsp;after the journey or up to&nbsp;90&nbsp;days in advance. The daily charge is:</p>

<ul>
	<li>&pound;100 for vans&nbsp;or specialist diesel vehicles&nbsp;(over 1.205 tonnes&nbsp;unladen weight&nbsp;up to 3.5 tonnes&nbsp;gross vehicle weight) or minibuses (up to 5 tonnes)&nbsp;&nbsp;</li>
	<li>&pound;200 for HGVs, lorries,&nbsp;vans&nbsp;and&nbsp;specialist heavy vehicles over 3.5&nbsp;tonnes&nbsp;as well as buses/minibuses&nbsp;and&nbsp;coaches&nbsp;over 5&nbsp;tonnes</li>
</ul>

<p>These <a href="/modes/driving/low-emission-zone/changes-to-the-lez">charges will change&nbsp;for heavier vehicles from 26 October 2020</a>.</p>

<h2>When to pay</h2>

<p>If you drive within the zone:</p>

<ul>
	<li>Friday, Saturday or Sunday, you have until midnight on Monday (or Tuesday if Monday is a bank holiday) to pay</li>
	<li>Monday through Thursday, you have until midnight on the following day to pay</li>
</ul>

<p>The daily charge will be the same if you pay the following day. Fail to pay on time and you risk getting a Penalty Charge Notice (PCN).</p>

<p>To see if and what you need to pay, <a href="/modes/driving/check-your-vehicle-35896">check your vehicle</a>. Or find out about <a href="/modes/driving/low-emission-zone/check-if-your-vehicle-is-affected/exemptions-and-discounts">discounts and exemptions</a>.</p>
      
           
      
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/pay-to-drive-in-london" class="secondary-button no-hover" >Pay a LEZ charge</a>

    </div>
</div> 
 
</div>
 <div>

<p><strong>Don't pay through unofficial websites which may mislead you.</strong> You should always pay LEZ charges with us on our secure online system. Read more on <a href="/modes/driving/unofficial-selling-websites">avoiding payment fraud</a>.</p>

<h3>Can I pay for more than one vehicle at a time?</h3>

<p>Yes, if you know in advance which vehicles will be driven within the LEZ on which days.</p>

<h3>What if I've hired a vehicle?</h3>

<p>If you intend to drive within the LEZ, you should check with your hire company that the vehicle meets emissions standards. If it doesn't, and the hire company hasn't made an arrangement to pay the daily charge, you'll need to pay it.</p>

<h3>Do I still need to pay other charges?</h3>

<p>Remember, the LEZ is not the same as the <a href="/modes/driving/congestion-charge">Congestion Charge zone</a> in central London and the <a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone">Ultra Low Emission Zone (ULEZ)</a>. The Congestion Charge applies 07:00-18:00, Monday to Friday excluding public and bank holidays and the ULEZ runs every day at all hours. If you drive within either of these charging zones during these times, you need to pay them even if you meet the LEZ standards or have already paid the LEZ daily charge.</p>
</div>
 


<h2>London Road User Charging Account</h2>

<p>If you set up an account with us you can:</p>

<ul>
	<li>Make faster payments by storing your contact, vehicle and payment details</li>
	<li>Allow up to five people access to your London Road User Charging account</li>
</ul>

<p>Use the sign in box on this page to create an account.</p>

<h3>Phone</h3>

<p><strong>UK:</strong> 0343 222&nbsp;2222&nbsp;(<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)<br />
<strong>International: </strong><span class="baec5a81-e4d6-4674-97f3-e9220f0136c1">+44 (0)343 222 2222</span></p>

<p><strong>Textphone:&nbsp;</strong><span class="baec5a81-e4d6-4674-97f3-e9220f0136c1">020 7649 9123 (if you have impaired hearing)</span></p>

<p><strong>Lines are open:</strong></p>

<p><strong>Monday to Friday:</strong><strong> </strong>08:00-20:00<br />
Closed on weekends and bank holidays</p>

 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/low-emission-zone" });
        }
        
      

 
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
                <a href="/modes/driving/low-emission-zone" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Low Emission Zone<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/about-the-lez">LEZ: Where and when</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/make-a-payment">Pay a LEZ charge</a></div>
                                <ul>
                                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/make-a-payment/amendments-and-refunds">Amendments and refunds</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/ways-to-meet-the-standards">Ways to meet the LEZ standards</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/find-out-if-you-need-to-register">Find out if you need to register</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/check-if-your-vehicle-is-affected">Check if your vehicle is affected</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/lorries-vans-buses-and-coaches">HGVs, lorries, vans, buses/minibuses and coaches</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/vans-minibuses-and-specialist-diesel-vehicles">Vans, minibuses and specialist diesel vehicles </a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/penalty-charges">Penalty charges for the LEZ</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/manufacturers-and-fitters">Manufacturers and fitters</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/changes-to-the-lez">Changes to the LEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/contact-lez">Contact LEZ</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/lez" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/lez" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div>
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/driving/congestion-charge/contact-congestion-charge" class="plain-button">Contact Congestion Charge</a>
<a href="/modes/driving/ultra-low-emission-zone/contact-ulez" class="plain-button">Contact ULEZ</a>
<a href="/info-for/deliveries-in-london/" class="plain-button">Deliveries in London</a>
<a href="/corporate/publications-and-reports/low-emission-zone" class="plain-button">LEZ publications</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://www.gov.uk/government/organisations/driver-and-vehicle-standards-agency" class="plain-button">DVSA</a>
<a href="http://www.dft.gov.uk/dvla/about.aspx" class="plain-button">DVLA</a>
<a href="http://www.cleanerairforlondon.org.uk/" class="plain-button">Cleaner Air for London</a>
<a href="https://www.sourcelondon.net/" class="plain-button">Source London</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

     @section scripts {
<div class="bottom-advert ">
    <div class="close-ad-button visually-hidden"><span class="close-icon-circle"></span></div>
    <div data-advert="/76889402/driving/" data-advert-sizes="320, 50"></div>
</div>
}

 
        
        
        
            @{ViewBag.Description = "How to make a payment for your Low Emission Zone (LEZ) charge";}
        
            
        


 