
    






















@section adverts {
    <div class="top-banner-advert" aria-hidden="true">
        <div class="large" data-advert="/76889402/driving/low_emission_zone" data-advert-sizes="970, 90|970, 250"></div>
        <div class="medium" data-advert="/76889402/driving/low_emission_zone" data-advert-sizes="728, 90"></div>
        <div class="small" data-advert="/76889402/driving/low_emission_zone" data-advert-sizes="300, 50|320, 50"></div>
    </div>
}


 
  



@{ViewBag.Title = "Manufacturers and fitters";}
@{ViewBag.Keywords = "Bus operators,Businesses,Coach drivers,Drivers,Freight industry,Planning and construction,Public,Schools and young people,Suppliers,Buses,Coaches,Driving,TfL";}
@{ViewBag.Url = "/modes/driving/low-emission-zone/manufacturers-and-fitters";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/low-emission-zone">Low Emission Zone</a></li>
                
            
                
                <li><span class="last-breadcrumb">Manufacturers and fitters</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Manufacturers and fitters</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>Manufacturers and fitters must be accredited to offer approved devices and services.</p>
        
      </div>
    
    
      <p>Abatement technology used to meet the current Low Emission Zone (LEZ) standards will not be enough to meet the <a href="/modes/driving/low-emission-zone/changes-to-the-lez">tougher Euro VI&nbsp;emissions standards for LEZ</a> coming&nbsp;on 26 October 2020.</p>

<h2>Getting accredited</h2>

<p>Manufacturers of abatement equipment need to get their equipment accredited by one of our recognised certification bodies before it can be added to the list of approved devices available to operators. This ensures that approved filters meet minimum technical standards and that vehicles fitting these approved filters meet the LEZ emissions standards.&nbsp;</p>

<h3>Manufacturers of pollution abatement equipment in United Kingdom</h3>

<p>It is the responsibility of manufacturers and suppliers to certify their pollution abatement equipment.</p>

<p>Pollution abatement equipment can be added to the Low Emissions Certificate (LEC) Approved Devices List if evidence is provided to one of our recognised certification bodies that it meets reduced emissions requirements.</p>

<p>Certified abatement equipment can also be added to the Reduced Pollution Certificate (RPC) Approved Devices List if evidence is provided to the Vehicle Certification Agency that it meets all scheme requirements.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/ruc-cdn/static/cms/documents/lec-approved-device-list.pdf">
    <div class="document-download-text">
        <p>LEC approved device list</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 47KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/ruc-cdn/static/cms/documents/lec-guidance-notes-for-applicants.pdf">
    <div class="document-download-text">
        <p>LEC guidance notes for applicants</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 113KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/ruc-cdn/static/cms/documents/lec-technical-requirements-for-manufacturers.pdf">
    <div class="document-download-text">
        <p>LEC technical requirements for manufacturers </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 145KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/ruc-cdn/static/cms/documents/lec-certification-body-application-form.pdf">
    <div class="document-download-text">
        <p>LEC certification body application form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 87KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/ruc-cdn/static/cms/documents/lec-company-approval-guidance-notes.pdf">
    <div class="document-download-text">
        <p>LEC company approval guidance notes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 115KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/ruc-cdn/static/cms/documents/lec-general-approval-checklist.pdf">
    <div class="document-download-text">
        <p>LEC general approval checklist</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 102KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/ruc-cdn/static/cms/documents/list-of-tfl-recognised-lec-certification-bodies.pdf">
    <div class="document-download-text">
        <p>TfL-appointed LEC certification bodies</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 15KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 
</div>

</div>
 <div>

<h3>Manufacturers of pollution abatement equipment outside the United Kingdom</h3>

<p>Vehicles not registered in the United Kingdom and fitted with abatement equipment may register with us providing evidence that they meet the required emissions standards for particulate matter (PM).</p>

<p>We will require evidence of the equipment fitted to the vehicle, and the resulting emissions levels for PM. This evidence will be:</p>

<ul>
	<li>The vehicle registration documents</li>
	<li>A declaration of fitting of the pollution abatement equipment. This must clearly identify the equipment fitted, the vehicle details and the PM emissions standard achieved, together with the national type approval or certification authority which has certified the emissions achieved</li>
</ul>

<p>Manufacturers are advised to <a href="/modes/driving/low-emission-zone/contact-lez">contact us</a> if they are uncertain as to whether their device meets LEZ emissions standards.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/low-emission-zone" });
        }
        
      

 
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
                <a href="/modes/driving/low-emission-zone" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Low Emission Zone<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/about-the-lez">LEZ: Where and when</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/make-a-payment">Pay a LEZ charge</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/ways-to-meet-the-standards">Ways to meet the LEZ standards</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/find-out-if-you-need-to-register">Find out if you need to register</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/check-if-your-vehicle-is-affected">Check if your vehicle is affected</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/lorries-vans-buses-and-coaches">HGVs, lorries, vans, buses/minibuses and coaches</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/vans-minibuses-and-specialist-diesel-vehicles">Vans, minibuses and specialist diesel vehicles </a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/penalty-charges">Penalty charges for the LEZ</a></div></li>
                            
 
                                <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/manufacturers-and-fitters">Manufacturers and fitters</a></div>
                            </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/changes-to-the-lez">Changes to the LEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/contact-lez">Contact LEZ</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/lez" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/lez" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div>
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/driving/congestion-charge/contact-congestion-charge" class="plain-button">Contact Congestion Charge</a>
<a href="/modes/driving/ultra-low-emission-zone/contact-ulez" class="plain-button">Contact ULEZ</a>
<a href="/info-for/deliveries-in-london/" class="plain-button">Deliveries in London</a>
<a href="/corporate/publications-and-reports/low-emission-zone" class="plain-button">LEZ publications</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://www.gov.uk/government/organisations/driver-and-vehicle-standards-agency" class="plain-button">DVSA</a>
<a href="http://www.dft.gov.uk/dvla/about.aspx" class="plain-button">DVLA</a>
<a href="http://www.cleanerairforlondon.org.uk/" class="plain-button">Cleaner Air for London</a>
<a href="https://www.sourcelondon.net/" class="plain-button">Source London</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

     @section scripts {
<div class="bottom-advert ">
    <div class="close-ad-button visually-hidden"><span class="close-icon-circle"></span></div>
    <div data-advert="/76889402/driving/" data-advert-sizes="320, 50"></div>
</div>
}

 
        
        
        
            @{ViewBag.Description = "Manufacturers and fitters must be accredited to offer approved devices and services.";}
        
            
        


 