
    
  



@{ViewBag.Title = "Vans, minibuses and specialist diesel vehicles ";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/low-emission-zone/vans-minibuses-and-specialist-diesel-vehicles";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/low-emission-zone">Low Emission Zone</a></li>
                
            
                
                <li><span class="last-breadcrumb">Vans, minibuses and specialist diesel vehicles </span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Vans, minibuses and specialist diesel vehicles </h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>If you drive a van, minibus or other specialist diesel vehicles within the Low Emission Zone (LEZ), you need to meet the emissions standards or pay a daily charge.</p>
        
      </div>
    
    <div class="on-this-page">
      <p>Vehicles in this category:</p>

<ul>
	<li>Vans and other specialist diesel vehicles over 1.205 tonnes unladen weight up to and including 3.5 tonnes gross vehicle weight</li>
	<li>Minibuses up to and including 5 tonnes</li>
</ul>

<p>It doesn't matter whether your vehicle is used for commercial or private purposes - it still needs to meet the Euro 3 standard for particulate matter (PM). PM is very fine particles of soot emitted by vehicles, which&nbsp;can contribute to asthma, heart and lung disease, other respiratory illnesses and even early death.</p>

<p>Use our vehicle checker to see if your vehicle meets the&nbsp;current emissions standards.</p>
      
           
      
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/check-your-vehicle-35896" class="secondary-button no-hover" >Check your vehicle</a>

    </div>
</div> 
 
</div>
 <div>

<p><a href="/modes/driving/low-emission-zone/changes-to-the-lez">Tougher LEZ standards</a> are coming from 26 October 2020, but vehicles in this category will not be affected - although heavier vehicles will.</p>

<p>Petrol or diesel vehicles in central London must also meet <a href="/modes/driving/ultra-low-emission-zone/ways-to-meet-the-standard">Ultra Low Emission Zone (ULEZ) standards</a>, even if they meet LEZ standards.</p>

<h2>Meeting the LEZ standards</h2>

<p>The age and weight of a vehicle indicate the level of emissions it produces.</p>

<p>If you own any of the vehicles listed below, you will need to take action before driving within the LEZ, or pay a daily charge. <a href="/modes/driving/low-emission-zone/ways-to-meet-the-standards">Find ways to meet the standards.</a></p>

<h3>Vehicle types</h3>

<h4>Between 1.205 tonnes unladen up to and including 3.5 tonnes gross vehicle weight:</h4>

<ul>
	<li>Vans</li>
	<li>Motorised horseboxes</li>
	<li>4x4 light utility vehicles</li>
	<li>Pick-ups</li>
	<li>Breakdown and recovery vehicles</li>
	<li>Dual-purpose vehicles</li>
	<li>Other specialist diesel vehicles</li>
</ul>

<h4>From 2.5 up to and including 3.5 tonnes gross vehicle weight:</h4>

<ul>
	<li>Motor caravans</li>
	<li>Ambulances</li>
	<li>Motorised hearses</li>
</ul>

<h4>Up to and including 5 tonnes gross vehicle weight:</h4>

<ul>
	<li>Minibuses (with 8+ passenger seats)</li>
</ul>

<h2>Why we include private vehicles</h2>

<p>Private vehicles emit the same levels of pollutants as commercial vehicles. Specifically, motor caravans and ambulances have similar emissions to vans and minibuses.</p>

<p>Motor caravans are defined as vehicles with living accommodation, with at least:</p>

<ul>
	<li>Seats and a table</li>
	<li>Sleeping accommodation (which may be converted from the seats)</li>
	<li>Cooking and storage facilities, including an onboard or external water container</li>
	<li>At least one side window</li>
</ul>

<p>To be classified as a motor caravan this equipment must be rigidly fixed to the living compartment. If you have converted your vehicle to operate as a motor caravan, you need to ensure that it is correctly classified as such by the DVLA.</p>

<p>Some vehicles that might be used for private purposes, but are still subject to the LEZ include:</p>

<ul>
	<li>4x4 light utility vehicles over 1.205 tonnes unladen</li>
	<li>Pick-ups weighing over 1.205 tonnes unladen</li>
	<li>Vehicles with a commercial vehicle body type (for example, vans) over 1.205 tonnes unladen</li>
	<li>Minibuses with more than eight seats plus the driver's seat</li>
	<li>Motor homes or motorised caravans weighing over 2.5 tonnes gross vehicle weight</li>
	<li>Ambulances weighing over 2.5 tonnes gross vehicle weight</li>
</ul>

<p>If your vehicle doesn't appear in the list above, you can use the weight limit and age (date first registered) as a guide to whether you need to take action, or <a href="/modes/driving/low-emission-zone/check-if-your-vehicle-is-affected">see which&nbsp;vehicle types are&nbsp;affected</a>.</p>

<h3>4x4 light utility vehicles</h3>

<p>There are many types of 4x4 light utility vehicle. It is their classification (decided by the manufacturer and the European Union) that determines whether they're affected by the LEZ or not.</p>

<p>4x4 light utility vehicles classed as cars are not affected by the LEZ. Those classed as commercial vehicles are subject to the LEZ.</p>

<p>Any vehicle designed to carry goods, or more than nine passengers, is classed as a commercial vehicle, even if&nbsp;it's only used for recreational purposes.</p>

<p>These include:</p>

<ul>
	<li>All models of pick-up vehicles, including dual cab pick-ups</li>
	<li>Commercial or 'panel van' variants of light utility vehicles (these can be identified by having a goods-carrying capacity in place of seating and metal panels in place of windows)</li>
	<li>Light utility vehicles that have more than eight passenger seats</li>
</ul>

<p>If your light utility vehicle is subject to the LEZ, then you can <a href="/modes/driving/low-emission-zone/ways-to-meet-the-standards">find out about your options</a>.</p>

<p>If you think that your 4x4 light utility vehicle has been classified incorrectly, <a href="https://www.gov.uk/government/organisations/driver-and-vehicle-licensing-agency">check with the DVLA</a>.</p>

<p>If you have any queries, call us on 0343 222 1111 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>).</p>

<h3>Land Rovers</h3>

<p>We have worked with Land Rover to establish which vehicles with the body type of 'Light 4x4 Utility Vehicle' are subject to the LEZ. Vehicles manufactured before 1973 are considered to be 'historic' vehicles and are exempt from the LEZ.</p>

<p>The vehicles listed below are subject to the LEZ standards:</p>

<ul>
	<li>All Defenders; 88s, 90s, 109s, 110s, 127 and 130s (except station wagon variants see below)</li>
	<li>All Defenders manufactured with 10 or more seats including the driver's seat</li>
	<li>Freelander Commercial</li>
	<li>Discovery or Discovery Series 2 Commercial</li>
	<li>Conversions (eg ambulance, motor home)</li>
</ul>

<p>The following vehicles are not subject to LEZ as they are classed as 'estates':</p>

<ul>
	<li>Defender, 88, 90, 109 and 110 station wagon variants up to nine seats inc the drivers</li>
</ul>

<p>A small number of Defenders 90s and 110s may be a 'station wagon' but may not be classified as such by the DVLA. This means vehicles with side and rear windows manufactured with fixed seating throughout the vehicle including the area accessed via the back door and there are nine seats or less including the driver's seat.</p>

<p>Vehicles without fixed seating throughout will not be treated as an estate and will be subject to LEZ. Fixed seating means individual seats with seat belts. It does not include benches or homemade seating variants.</p>

<p>If your vehicle meets this criterion it will not be subject to the LEZ standards. In these circumstances if you intend to use the vehicle in the LEZ you need to:</p>

<ul>
	<li>For models registered from 1998 - correct the body type description, vehicle model details and/or number of seats with the DVLA and provide photographic proof</li>
	<li>For models registered before 1998 - register your vehicle with TfL with suitable photographic proofs showing all sides of the vehicles with all doors open which clearly shows the entire internal seating arrangements.</li>
</ul>

<p>If you have a Land Rover not listed above, <a href="/modes/driving/low-emission-zone/contact-lez">contact us</a> to find out if your vehicle is subject to LEZ.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
                <a href="/modes/driving/low-emission-zone" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Low Emission Zone<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/about-the-lez">LEZ: Where and when</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/make-a-payment">Pay a LEZ charge</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/ways-to-meet-the-standards">Ways to meet the LEZ standards</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/find-out-if-you-need-to-register">Find out if you need to register</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/check-if-your-vehicle-is-affected">Check if your vehicle is affected</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/lorries-vans-buses-and-coaches">HGVs, lorries, vans, buses/minibuses and coaches</a></div></li>
                            
 
                                <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/vans-minibuses-and-specialist-diesel-vehicles">Vans, minibuses and specialist diesel vehicles </a></div>
                            </li>
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/penalty-charges">Penalty charges for the LEZ</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/manufacturers-and-fitters">Manufacturers and fitters</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/changes-to-the-lez">Changes to the LEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/contact-lez">Contact LEZ</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/driving/congestion-charge/contact-congestion-charge" class="plain-button">Contact Congestion Charge</a>
<a href="/modes/driving/ultra-low-emission-zone/contact-ulez" class="plain-button">Contact ULEZ</a>
<a href="/info-for/deliveries-in-london/" class="plain-button">Deliveries in London</a>
<a href="/corporate/publications-and-reports/low-emission-zone" class="plain-button">LEZ publications</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://www.gov.uk/government/organisations/driver-and-vehicle-standards-agency" class="plain-button">DVSA</a>
<a href="http://www.dft.gov.uk/dvla/about.aspx" class="plain-button">DVLA</a>
<a href="http://www.cleanerairforlondon.org.uk/" class="plain-button">Cleaner Air for London</a>
<a href="https://www.sourcelondon.net/" class="plain-button">Source London</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "Find out if your van, minibus or other specialist diesel vehicle is affected by the Low Emission Zone (LEZ)";}
        
            
        


 