
    






















@section adverts {
    <div class="top-banner-advert" aria-hidden="true">
        <div class="large" data-advert="/76889402/driving/low_emission_zone" data-advert-sizes="970, 90|970, 250"></div>
        <div class="medium" data-advert="/76889402/driving/low_emission_zone" data-advert-sizes="728, 90"></div>
        <div class="small" data-advert="/76889402/driving/low_emission_zone" data-advert-sizes="300, 50|320, 50"></div>
    </div>
}


 
  



@{ViewBag.Title = "Ways to meet the LEZ standards";}
@{ViewBag.Keywords = "Bus operators,Businesses,Coach drivers,Drivers,Freight industry,Planning and construction,Public,Schools and young people,Suppliers,Buses,Coaches,Driving,TfL";}
@{ViewBag.Url = "/modes/driving/low-emission-zone/ways-to-meet-the-standards";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/low-emission-zone">Low Emission Zone</a></li>
                
            
                
                <li><span class="last-breadcrumb">Ways to meet the LEZ standards</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Ways to meet the LEZ standards</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>If your vehicle doesn't meet the Low Emission Zone (LEZ) emissions standards, there are things you may be able to do. Tougher LEZ standards come into force on 26 October 2020.</p>
        
      </div>
    
    
      <h2>Retrofit your vehicle</h2>

<p>You may be able to retrofit your vehicle with emissions reduction technology to meet the current LEZ emissions standards and the tougher LEZ emissions standards from 26 October 2020.</p>

<p>Use our new checker to see if your vehicle will be affected by <a href="/modes/driving/low-emission-zone/changes-to-the-lez">changes to LEZ standards</a>.</p>

<p>However, installing a filter does <strong>not </strong>guarantee your vehicle will meet these LEZ standards or the <a href="/modes/driving/ultra-low-emission-zone/ways-to-meet-the-standard">ULEZ standards</a>.</p>

<h3>Emissions reduction technology</h3>

<p>Emissions reduction technologies include:</p>

<ul>
	<li>Selective catalytic reduction, which reduces NOx emissions</li>
	<li>Replacement Euro VI engines</li>
	<li>Converting a vehicle to electric power</li>
</ul>

<p>Retrofit technologies need to be approved by the Clean Vehicle Retrofit Accreditation Scheme (CVRAS). This government scheme, funded by Defra, establishes common standards for all Clean Air Zone cities.</p>

<p>CVRAS has certified emissions reduction technologies for many buses, coaches, HGVs, refuse vehicles and most recently, a medium-duty HGV. Retrofits for certain HGV models and for vans over 3.5 tonnes are being developed.</p>

<p>As retrofits need to be calibrated to specific vehicle models, not all vehicles can be covered. We expect more conversions to be available in the future.</p>

<p>Information about the retrofit process and a list of suppliers is on <a href="https://www.energysavingtrust.org.uk/transport/freight-and-retrofit/clean-vehicle-retrofit-accreditation-scheme-cvras">the CVRAS website</a>.</p>

<p>Vehicle operators who have a CVRAS-approved retrofit carried out on their vehicle will need to register with us before driving within the LEZ.</p>

<h2>Replace your vehicle</h2>

<p>You could upgrade to a newer vehicle that meets the standards or an electric vehicle, Find out more about <a href="/modes/driving/low-emission-zone/ways-to-meet-the-standards/replace-a-vehicle">replacing your vehicle</a>.</p>

<h2>Reorganise your fleet</h2>

<p>If you operate a fleet of vehicles, you could reorganise it so that only vehicles meeting the emissions standards are driven within the LEZ.</p>

<h2>Pay the daily charge</h2>

<p>We would prefer that your vehicle meets the LEZ emissions standards. However, if you're not able to take the measures needed, then you can pay the daily charge to drive within the zone.</p>

<p>Find out how to <a href="https://tfl.gov.uk/modes/driving/pay-to-drive-in-london">pay a LEZ charge</a>.</p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
                <a href="/modes/driving/low-emission-zone" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Low Emission Zone<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/about-the-lez">LEZ: Where and when</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/make-a-payment">Pay a LEZ charge</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/ways-to-meet-the-standards">Ways to meet the LEZ standards</a></div>
                                <ul>
                                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/ways-to-meet-the-standards/replace-a-vehicle">Replace a vehicle</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/find-out-if-you-need-to-register">Find out if you need to register</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/check-if-your-vehicle-is-affected">Check if your vehicle is affected</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/lorries-vans-buses-and-coaches">HGVs, lorries, vans, buses/minibuses and coaches</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/vans-minibuses-and-specialist-diesel-vehicles">Vans, minibuses and specialist diesel vehicles </a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/penalty-charges">Penalty charges for the LEZ</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/manufacturers-and-fitters">Manufacturers and fitters</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/changes-to-the-lez">Changes to the LEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/contact-lez">Contact LEZ</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/lez" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/lez" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div>
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/driving/congestion-charge/contact-congestion-charge" class="plain-button">Contact Congestion Charge</a>
<a href="/modes/driving/ultra-low-emission-zone/contact-ulez" class="plain-button">Contact ULEZ</a>
<a href="/info-for/deliveries-in-london/" class="plain-button">Deliveries in London</a>
<a href="/corporate/publications-and-reports/low-emission-zone" class="plain-button">LEZ publications</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://www.gov.uk/government/organisations/driver-and-vehicle-standards-agency" class="plain-button">DVSA</a>
<a href="http://www.dft.gov.uk/dvla/about.aspx" class="plain-button">DVLA</a>
<a href="http://www.cleanerairforlondon.org.uk/" class="plain-button">Cleaner Air for London</a>
<a href="https://www.sourcelondon.net/" class="plain-button">Source London</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

     @section scripts {
<div class="bottom-advert ">
    <div class="close-ad-button visually-hidden"><span class="close-icon-circle"></span></div>
    <div data-advert="/76889402/driving/" data-advert-sizes="320, 50"></div>
</div>
}

 
        
        
        
            @{ViewBag.Description = "If your vehicle doesn't meet the emissions standards, there are a number of things you can do";}
        
            
        


 