
    
  



@{ViewBag.Title = "Accounts";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/pensions/fund-management/accounts";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/fund-management">Fund management</a></li>
                
            
            
                <li><span class="last-breadcrumb">Accounts</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Accounts</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    <div class="on-this-page">
      
      
           
      
<h2>Money in and out</h2>
<p>The table below shows the money coming into and going out of the Fund during the year.</p>
<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="2" id="ms__id38_heading_0" rowspan="1" style="width: 350px;">
			<p><strong>Money in 2018/19</strong></p>
			</th>
			<th colspan="2" id="ms__id38_heading_1" rowspan="1" style="width: 350px;">
			<p><strong>Money out 2018/19</strong></p>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td headers="ms__id38_heading_0">
			<p><strong>Total income</strong></p>
			</td>
			<td headers="ms__id38_heading_1" style="vertical-align:top"><strong>&pound;594.2m</strong></td>
			<td headers="undefined">
			<p><strong>Total outgoings</strong></p>
			</td>
			<td headers="undefined" style="vertical-align:top"><strong>&pound;427.8m</strong></td>
		</tr>
		<tr>
			<td headers="ms__id38_heading_0">Employers' contribution</td>
			<td headers="ms__id38_heading_1">&pound;399.2m</td>
			<td headers="undefined">Pensions and other benefits paid</td>
			<td headers="undefined">&pound;381.9m</td>
		</tr>
		<tr>
			<td headers="ms__id38_heading_0">Investment income</td>
			<td headers="ms__id38_heading_1">&pound;125.2m</td>
			<td headers="undefined">Investment management</td>
			<td headers="undefined">&pound;17.6m</td>
		</tr>
		<tr>
			<td headers="ms__id38_heading_0">Members' contribution</td>
			<td headers="ms__id38_heading_1">&pound;65.5m</td>
			<td headers="undefined">Other payments</td>
			<td headers="undefined">&pound;5.5m</td>
		</tr>
		<tr>
			<td headers="ms__id38_heading_0">Transfers in from other pension schemes</td>
			<td headers="ms__id38_heading_1">&pound;4.3m</td>
			<td headers="undefined">Administration</td>
			<td headers="undefined">&pound;4.3m</td>
		</tr>
		<tr>
			<td headers="ms__id38_heading_0">&nbsp;</td>
			<td headers="ms__id38_heading_1">&nbsp;</td>
			<td headers="undefined">Payments in respect of leavers</td>
			<td headers="undefined">&pound;5.3m</td>
		</tr>
		<tr>
			<td headers="ms__id38_heading_0">&nbsp;</td>
			<td headers="ms__id38_heading_1">&nbsp;</td>
			<td headers="undefined">Pension levies</td>
			<td headers="undefined">&pound;13.2m</td>
		</tr>
		<tr>
			<td headers="ms__id38_heading_0">Change in&nbsp;value of investments</td>
			<td headers="ms__id38_heading_1">&pound;455.3m</td>
			<td headers="undefined">&nbsp;</td>
			<td headers="undefined">&nbsp;</td>
		</tr>
	</tbody>
</table></div>


 
<h3>Administration expenses</h3>
<div class="table-container"><table>
	<thead>
		<tr>
			<th align="left" colspan="1" id="ms__id26_heading_0" rowspan="1"><strong>Item&nbsp;</strong></th>
			<th align="left" colspan="1" id="ms__id26_heading_1" rowspan="1"><strong>Cost</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td headers="ms__id26_heading_0">Staff costs</td>
			<td headers="ms__id26_heading_1">&nbsp;&pound;2.3m</td>
		</tr>
		<tr>
			<td headers="ms__id26_heading_0" style="width:350px">Fund office running costs</td>
			<td headers="ms__id26_heading_1">&nbsp;&pound;0.6m</td>
		</tr>
		<tr>
			<td headers="ms__id26_heading_0">Professional fees</td>
			<td headers="ms__id26_heading_1">&nbsp;&pound;1.1m</td>
		</tr>
		<tr>
			<td headers="ms__id26_heading_0">Communications and consumables</td>
			<td headers="ms__id26_heading_1">&nbsp;&pound;0.3m</td>
		</tr>
	</tbody>
</table></div>


 
<h2>How we invested</h2>

<p>The Fund is held in a range of different investments (assets) in the UK and overseas. The following tables show how the Fund was invested on 31 March 2019.</p>
<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" id="ms__id35_heading_0" rowspan="1">
			<h3 align="left"><strong>Who manages&nbsp;the Fund&nbsp;</strong></h3>
			</th>
			<th colspan="1" id="ms__id35_heading_1" rowspan="1">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Blackrock Investment Management UK Limited (Index tracking and liability matching assets)</td>
			<td>36.3%</td>
		</tr>
		<tr>
			<td>
			<h3>Active Specialist</h3>
			</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Goldman Sachs (Global bonds)</td>
			<td>6.2%</td>
		</tr>
		<tr>
			<td>Pzena (Global equities)</td>
			<td>5.0%</td>
		</tr>
		<tr>
			<td>JO Hambro (Global equities)</td>
			<td>4.5%</td>
		</tr>
		<tr>
			<td>Veritas (Global equities)</td>
			<td>4.1%</td>
		</tr>
		<tr>
			<td>Ardevora (Global equities)</td>
			<td>2.5%</td>
		</tr>
		<tr>
			<td>Nomura (Pacific Basin equities)</td>
			<td>2.5%</td>
		</tr>
		<tr>
			<td>Oak Hill (Alternative credit)</td>
			<td>2.1%</td>
		</tr>
		<tr>
			<td>Paradice (Global Small Cap equities)</td>
			<td>1.9%</td>
		</tr>
		<tr>
			<td>Russell (Global Emerging Market equities)</td>
			<td>1.8%</td>
		</tr>
		<tr>
			<td>Coronation (Global Emerging Market equities)</td>
			<td>1.3%</td>
		</tr>
		<tr>
			<td>JO Hambro (Asia (ex Japan) equities)</td>
			<td>1.2%</td>
		</tr>
		<tr>
			<td>JP Morgan (Emerging Market debt)</td>
			<td>1.2%</td>
		</tr>
		<tr>
			<td>Wellington (Alternative credit)</td>
			<td>0.8%</td>
		</tr>
		<tr>
			<td>Russell (Currency overlay)</td>
			<td>0.1%</td>
		</tr>
		<tr>
			<td>
			<h3>Alternative Assets</h3>
			</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>CBRE (Real Estate (Fund of Funds exposure))</td>
			<td>3.1%</td>
		</tr>
		<tr>
			<td>Neuberger Berman (Global equity Fund of Funds)</td>
			<td>2.9%</td>
		</tr>
		<tr>
			<td>Bridgewater (Global Macro Systematic Hedge Fund)</td>
			<td>2.7%</td>
		</tr>
		<tr>
			<td>Semperian (Infrastructure assets)</td>
			<td>2.6%</td>
		</tr>
		<tr>
			<td>Credit Suisse (Reinsurance Hedge Fund)</td>
			<td>1.7%</td>
		</tr>
		<tr>
			<td>Brevan Howard (Global Macro Discretionary Hedge Fund)</td>
			<td>1.5%</td>
		</tr>
		<tr>
			<td>Goldman Sachs (Alternative Risk Premium Hedge Fund)</td>
			<td>1.3%</td>
		</tr>
		<tr>
			<td>Man (Alternative Risk Premium Hedge Fund)</td>
			<td>1.3%</td>
		</tr>
		<tr>
			<td>SCM ManCo 1 Limited (Infrastructure assets)</td>
			<td>1.2%</td>
		</tr>
		<tr>
			<td>Industry Funds (Infrastructure debt)</td>
			<td>1.2%</td>
		</tr>
		<tr>
			<td>Colonial First State (Infrastructure assets)</td>
			<td>1.1%</td>
		</tr>
		<tr>
			<td>Partners Group&nbsp;(Private Equity Fund of Funds)</td>
			<td>1.1%</td>
		</tr>
		<tr>
			<td>
			<h3>Who manages the Fund</h3>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>Anchorage (Multi-Strategy Credit Hedge Fund)</td>
			<td>0.9%</td>
		</tr>
		<tr>
			<td>BlackRock (UK Renewables Private equity)</td>
			<td>0.9%</td>
		</tr>
		<tr>
			<td>Blue Mountain (Multi-Strategy Credit Hedge Fund)</td>
			<td>0.9%</td>
		</tr>
		<tr>
			<td>Siguler Guff (Distressed Debt Private equity)</td>
			<td>0.9%</td>
		</tr>
		<tr>
			<td>AQR (Futures Hedge Fund)</td>
			<td>0.8%</td>
		</tr>
		<tr>
			<td>BlackRock (Real Estate)</td>
			<td>0.7%</td>
		</tr>
		<tr>
			<td>BlackRock (Commodities)</td>
			<td>0.6%</td>
		</tr>
		<tr>
			<td>GS Mezzanine (Private Mezzanine debt)</td>
			<td>0.4%</td>
		</tr>
		<tr>
			<td>IFC (Emerging Market Infrastructure Fund)</td>
			<td>0.3%</td>
		</tr>
		<tr>
			<td>Cash</td>
			<td>0.1%</td>
		</tr>
		<tr>
			<td>Goldman Sachs (Alternative Credit)</td>
			<td>0.1%</td>
		</tr>
		<tr>
			<td>Goldman Sachs (Private equity)</td>
			<td>0.1%</td>
		</tr>
		<tr>
			<td>Stonepeak (Infrastructure Private Equity Fund)</td>
			<td>0.1%</td>
		</tr>
	</tbody>
</table></div>
<p>The table above shows the actual allocations of the Fund's assets between investment managers as at 31 March 2019.</p>

 

<div class="table-container"><table>
	<thead>
		<tr>
			<th align="left" colspan="1" id="ms__id35_heading_0" rowspan="1"><strong>The Fund's assets</strong></th>
			<th colspan="1" id="ms__id35_heading_1" rowspan="1">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td headers="ms__id35_heading_0">Overseas equities</td>
			<td headers="ms__id35_heading_1">40.1%</td>
		</tr>
		<tr>
			<td headers="ms__id35_heading_0">Index linked instruments</td>
			<td headers="ms__id35_heading_1">11.6%</td>
		</tr>
		<tr>
			<td headers="ms__id35_heading_0">Liquid alternatives</td>
			<td headers="ms__id35_heading_1">11.0%</td>
		</tr>
		<tr>
			<td headers="ms__id35_heading_0">Infrastructure</td>
			<td headers="ms__id35_heading_1">6.3%</td>
		</tr>
		<tr>
			<td headers="ms__id35_heading_0">Global bonds</td>
			<td headers="ms__id35_heading_1">6.1%</td>
		</tr>
		<tr>
			<td>Cash &amp; other assets</td>
			<td>5.5%</td>
		</tr>
		<tr>
			<td headers="ms__id35_heading_0">Real estate</td>
			<td headers="ms__id35_heading_1">4.5%</td>
		</tr>
		<tr>
			<td headers="ms__id35_heading_0" style="width:350px">Private equities</td>
			<td headers="ms__id35_heading_1">4.4%</td>
		</tr>
		<tr>
			<td headers="ms__id35_heading_0">UK equities</td>
			<td headers="ms__id35_heading_1">3.3%</td>
		</tr>
		<tr>
			<td headers="ms__id35_heading_0">Alternative credit</td>
			<td headers="ms__id35_heading_1">3.0%</td>
		</tr>
		<tr>
			<td headers="ms__id35_heading_0">Illiquid credit</td>
			<td headers="ms__id35_heading_1">2.1%</td>
		</tr>
		<tr>
			<td headers="ms__id35_heading_0">Emerging market debt</td>
			<td headers="ms__id35_heading_1">1.2%</td>
		</tr>
		<tr>
			<td headers="ms__id35_heading_0">Commodities</td>
			<td headers="ms__id35_heading_1">0.6%</td>
		</tr>
		<tr>
			<td headers="ms__id35_heading_0">Fixed interest gilts</td>
			<td headers="ms__id35_heading_1">0.3%</td>
		</tr>
	</tbody>
</table></div>


 
<h2>Top&nbsp;25 shares</h2>

<p>The Fund has significant direct holdings in the shares (equities) of a number of major quoted companies. The twenty five&nbsp;largest direct holdings&nbsp;as at&nbsp;30&nbsp;September 2019&nbsp;are shown in the table below:</p>
<div class="table-container"><table>
	<thead>
		<tr>
			<th align="left" colspan="1" id="ms__id47_heading_0" rowspan="1"><strong>Company</strong></th>
			<th align="left" rowspan="1"><strong>Sector</strong></th>
			<th align="left" colspan="1" id="ms__id47_heading_1" rowspan="1"><strong>Value</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td headers="ms__id47_heading_0">Alphabet Inc</td>
			<td headers="ms__id47_heading_0">Communication Services</td>
			<td headers="ms__id47_heading_1">&pound;40.1m</td>
		</tr>
		<tr>
			<td>Charter Communications Inc</td>
			<td>Communication Services</td>
			<td>&pound;37.4m</td>
		</tr>
		<tr>
			<td headers="ms__id47_heading_0">Thermo Fisher Scientific</td>
			<td headers="ms__id47_heading_0">Health Care</td>
			<td headers="ms__id47_heading_1">&pound;35.7m</td>
		</tr>
		<tr>
			<td>Intercontinental Exchange</td>
			<td>Financials</td>
			<td>&pound;32.6m</td>
		</tr>
		<tr>
			<td>Microsoft</td>
			<td>Information Technology</td>
			<td>&pound;30.5m</td>
		</tr>
		<tr>
			<td>Unilever</td>
			<td>Consumer Staples</td>
			<td>&pound;27.2m</td>
		</tr>
		<tr>
			<td>Oracle</td>
			<td>Information Technology</td>
			<td>&pound;25.7m</td>
		</tr>
		<tr>
			<td headers="ms__id47_heading_0">Airbus</td>
			<td headers="ms__id47_heading_0">Industrials</td>
			<td headers="ms__id47_heading_1">&pound;24.1m</td>
		</tr>
		<tr>
			<td headers="ms__id47_heading_0">BAE Systems</td>
			<td headers="ms__id47_heading_0">Aerospace</td>
			<td headers="ms__id47_heading_1">&pound;23.0m</td>
		</tr>
		<tr>
			<td headers="ms__id47_heading_0">Canadian Pacific Railway</td>
			<td headers="ms__id47_heading_0">Railroads</td>
			<td headers="ms__id47_heading_1">&pound;21.5m</td>
		</tr>
		<tr>
			<td headers="ms__id47_heading_0">Baxter International</td>
			<td headers="ms__id47_heading_0">Health Care</td>
			<td headers="ms__id47_heading_1">&pound;21.4m</td>
		</tr>
		<tr>
			<td headers="ms__id47_heading_0">Facebook</td>
			<td headers="ms__id47_heading_0">Communication Services</td>
			<td headers="ms__id47_heading_1">&pound;21.0m</td>
		</tr>
		<tr>
			<td headers="ms__id47_heading_0">Honda</td>
			<td headers="ms__id47_heading_0">Consumer Discretionary</td>
			<td headers="ms__id47_heading_1">&pound;20.8m</td>
		</tr>
		<tr>
			<td headers="ms__id47_heading_0">Nippon Telegraph &amp; Telephone</td>
			<td headers="ms__id47_heading_0">Communication Services</td>
			<td headers="ms__id47_heading_1">&pound;20.0m</td>
		</tr>
		<tr>
			<td headers="ms__id47_heading_0">General Electric</td>
			<td headers="ms__id47_heading_0">Industrials</td>
			<td headers="ms__id47_heading_1">&pound;18.8m</td>
		</tr>
		<tr>
			<td headers="ms__id47_heading_0">Phillip Morris International</td>
			<td headers="ms__id47_heading_0">Consumer Staples</td>
			<td headers="ms__id47_heading_1">&pound;18.8m</td>
		</tr>
		<tr>
			<td headers="ms__id47_heading_0">Taiwan Semiconductor Manufacturing</td>
			<td headers="ms__id47_heading_0">Information Technology</td>
			<td headers="ms__id47_heading_1">&pound;18.5m</td>
		</tr>
		<tr>
			<td headers="ms__id47_heading_0">McKesson Corp</td>
			<td headers="ms__id47_heading_0">Health Care</td>
			<td headers="ms__id47_heading_1">&pound;16.8m</td>
		</tr>
		<tr>
			<td headers="ms__id47_heading_0">Tencent Holdings</td>
			<td headers="ms__id47_heading_0">Communication Services</td>
			<td headers="ms__id47_heading_1">&pound;16.6m</td>
		</tr>
		<tr>
			<td headers="ms__id47_heading_0">Accenture</td>
			<td headers="ms__id47_heading_0">Information Technology</td>
			<td headers="ms__id47_heading_1">&pound;16.5m</td>
		</tr>
		<tr>
			<td headers="ms__id47_heading_0">Ping An Insurance Group</td>
			<td headers="ms__id47_heading_0">Financials</td>
			<td headers="ms__id47_heading_1">&pound;16.5m</td>
		</tr>
		<tr>
			<td headers="ms__id47_heading_0">Reckitt Benckiser</td>
			<td headers="ms__id47_heading_0">Consumer Staples</td>
			<td headers="ms__id47_heading_1">&pound;16.3m</td>
		</tr>
		<tr>
			<td headers="ms__id47_heading_0">Avnet Inc</td>
			<td headers="ms__id47_heading_0">Information Technology</td>
			<td headers="ms__id47_heading_1">&pound;16.1m</td>
		</tr>
		<tr>
			<td headers="ms__id47_heading_0">Nasdaq Inc</td>
			<td headers="ms__id47_heading_0">Financials</td>
			<td headers="ms__id47_heading_1">&pound;16.0m</td>
		</tr>
		<tr>
			<td headers="ms__id47_heading_0">Sonic Healthcare</td>
			<td headers="ms__id47_heading_0">Health Care</td>
			<td headers="ms__id47_heading_1">&pound;16.0m</td>
		</tr>
		<tr>
			<td headers="ms__id47_heading_0"><strong>Total </strong></td>
			<td headers="ms__id47_heading_0">&nbsp;</td>
			<td headers="ms__id47_heading_1"><strong>&pound;567.9m</strong></td>
		</tr>
	</tbody>
</table></div>


 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/pensions/index" class="heading">
                    <h2 id="sub-menu-heading">TfL Pension Fund<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/your-pension">Your pension</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/pensions/fund-management">Fund management</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/trustee-board">Trustee board</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/committees">Committees</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/pension-consultative-council">Pension Consultative Council</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/pensioners-forum">Pensioners' Forum</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/pensions-working-group">Pensions working group</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/annual-meeting">Annual members meeting</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/investment-management-and-principles">Investment management and principles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/performance">Performance</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/pensions/fund-management/accounts">Accounts</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/associations">Associations</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/transport-benevolent-fund">Transport Benevolent Fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/staff-welfare-fund">Staff Welfare Fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/documents">Documents</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/actuarial-valuation">Actuarial Valuation</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/archive">Archive</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/pensions/environmental-social-and-governance-matters">Environmental, social and governance matters</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/news-and-publications">News and publications</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/contact">Contact TfL Pension Fund</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Total income and outgoings of the TfL Pension Fund, and how the fund is managed.";}
        
            
        


 