
    
  



@{ViewBag.Title = "Archive";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/pensions/fund-management/archive";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/fund-management">Fund management</a></li>
                
            
            
                <li><span class="last-breadcrumb">Archive</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Archive</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Archive of fund management documents.<BR>
        
      </div>
    
    
      
      
           
      
<div>



<h2>Documents</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/annual-report-and-accounts-31-march-2019.pdf">
    <div class="document-download-text">
        <p>Annual report and accounts 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 946KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.92 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tflpf-report-and-accounts-2018.pdf">
    <div class="document-download-text">
        <p>Annual report and accounts 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 982KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.96 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tflpf-report-and-accounts-2017.pdf">
    <div class="document-download-text">
        <p>Annual report and accounts 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 953KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.93 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-pension-fund-report-and-accounts-2016.pdf">
    <div class="document-download-text">
        <p>Annual report and accounts 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 978KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.96 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-pension-fund-reports-and-accounts-31-march-2015.pdf">
    <div class="document-download-text">
        <p>Annual report and accounts 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.15MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/2014-report-and-accounts.pdf">
    <div class="document-download-text">
        <p>Annual report and accounts 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 956KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.93 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-pension-fund-annual-report-and-accounts-2013.pdf">
    <div class="document-download-text">
        <p>Annual report and accounts 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 960KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.94 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-pension-fund-annual-report-and-accounts-2012.pdf">
    <div class="document-download-text">
        <p>Annual report and accounts 2012</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 829KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.81 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-pension-fund-annual-report-and-accounts-2011.pdf">
    <div class="document-download-text">
        <p>Annual report and accounts 2011</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 420KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.41 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-pension-fund-annual-report-and-accounts-2010.pdf">
    <div class="document-download-text">
        <p>Annual report and accounts 2010</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 483KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.47 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-pension-fund-annual-report-and-accounts-2009.pdf">
    <div class="document-download-text">
        <p>Annual report and accounts 2009</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.42MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.42 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pension-fund-annual-report-and-accounts-2008.pdf">
    <div class="document-download-text">
        <p> Annual report and accounts 2008</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.20MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pensions-annual-report-accounts-07.pdf">
    <div class="document-download-text">
        <p>Annual report and accounts 2007</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 673KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.66 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/annual-report-accounts-2006.pdf">
    <div class="document-download-text">
        <p>Annual report and accounts 2006</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 283KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/annual-report-accounts-2005.pdf">
    <div class="document-download-text">
        <p>Annual report and accounts 2005</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.11MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/annual-report-accounts-2004.pdf">
    <div class="document-download-text">
        <p>Annual report and accounts 2004</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 144KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/annual-report-accounts-2003.pdf">
    <div class="document-download-text">
        <p>Annual report and accounts 2003</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 145KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/annual-report-accounts-2002.pdf">
    <div class="document-download-text">
        <p>Annual report and accounts 2002</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 188KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pcc-nominations-2014.pdf">
    <div class="document-download-text">
        <p>Nominations for TfL pension consultative council in 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 21KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tflpf-notice-of-egm-march-2014.pdf">
    <div class="document-download-text">
        <p>Notice of extraordinary general meeting 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 158KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/public-sector-actuarial-valuation-report-as-at-31-march-2015.pdf">
    <div class="document-download-text">
        <p>Public sector actuarial valuation report 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 713KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.70 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/public-sector-actuarial-valuation-report-as-at-31-march-2012.pdf">
    <div class="document-download-text">
        <p>Public sector actuarial valuation report 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 240KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/public-sector-recovery-plan-april-2016.pdf">
    <div class="document-download-text">
        <p>Public sector recovery plan 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.57MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.57 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/public-sector-recovery-plan-may-2013.pdf">
    <div class="document-download-text">
        <p>Public sector recovery plan 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 373KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tflpf-recovery-plan-public-sector-section-2010.pdf">
    <div class="document-download-text">
        <p>Public sector recovery plan 2010</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 74KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/public-sector-section-recovery-2007.pdf">
    <div class="document-download-text">
        <p>Public sector recovery plan 2007</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 61KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/public-sector-schedule-of-contributions-april-2016.pdf">
    <div class="document-download-text">
        <p>Public sector schedule of contributions 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.81MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.81 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/public-sector-schedule-of-contributions-may-2013.pdf">
    <div class="document-download-text">
        <p>Public sector schedule of contributions 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 381KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tflpf-schedule-of-contributions-public-sector-section-2010.pdf">
    <div class="document-download-text">
        <p>Public sector schedule of contributions 2010</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 105KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/public-sector-section-schedule-contrib-2007.pdf">
    <div class="document-download-text">
        <p> Public sector schedule of contributions 2007</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 92KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/public-sector-statement-of-funding-principles-april-2016.pdf">
    <div class="document-download-text">
        <p>Public sector statement of funding principles 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 12.54MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 12.54 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/public-sector-statement-of-funding-principles-may-2013.pdf">
    <div class="document-download-text">
        <p>Public sector statement of funding principles 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 422KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.41 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tflpf-statement-of-funding-principles-public-sector-section-2010.pdf">
    <div class="document-download-text">
        <p> Public sector statement of funding principles 2010</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 330KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/public-sector-section-statement-of-funding-2007.pdf">
    <div class="document-download-text">
        <p> Public sector statement of funding principles 2007</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 263KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/statement-of-investment-principles-march-2019.pdf">
    <div class="document-download-text">
        <p>Statement of investment principles 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.41MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.41 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/statement-of-investment-principles-march-2018.pdf">
    <div class="document-download-text">
        <p>Statement of investment principles 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.47MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.47 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/statement-of-investment-principles-march-2017.pdf">
    <div class="document-download-text">
        <p>Statement of investment principles 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.44MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.44 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-pension-fund-statement-of-investment-principles-march-2016.pdf">
    <div class="document-download-text">
        <p>Statement of investment principles 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 0.98MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.98 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/statement-of-investment-principles-2015.pdf">
    <div class="document-download-text">
        <p>Statement on investment principles 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 506KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.49 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/statement-of-investment-principles-march-2014.pdf">
    <div class="document-download-text">
        <p>Statement on investment principles 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 421KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.41 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/statement-of-investment-principles-march-2013.pdf">
    <div class="document-download-text">
        <p>Statement of investment principles 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 338KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/pensions/index" class="heading">
                    <h2 id="sub-menu-heading">TfL Pension Fund<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/your-pension">Your pension</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/pensions/fund-management">Fund management</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/trustee-board">Trustee board</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/committees">Committees</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/pension-consultative-council">Pension Consultative Council</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/pensioners-forum">Pensioners' Forum</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/pensions-working-group">Pensions working group</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/annual-meeting">Annual members meeting</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/investment-management-and-principles">Investment management and principles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/performance">Performance</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/accounts">Accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/associations">Associations</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/transport-benevolent-fund">Transport Benevolent Fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/staff-welfare-fund">Staff Welfare Fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/documents">Documents</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/actuarial-valuation">Actuarial Valuation</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/pensions/fund-management/archive">Archive</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/pensions/environmental-social-and-governance-matters">Environmental, social and governance matters</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/news-and-publications">News and publications</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/contact">Contact TfL Pension Fund</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Archive of TfL Pension Fund management documents.";}
        
            
        


 