
    
  



@{ViewBag.Title = "Documents";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/pensions/fund-management/documents";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/fund-management">Fund management</a></li>
                
            
            
                <li><span class="last-breadcrumb">Documents</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Documents</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        List of TfL Pension Fund documents.<BR>
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div>




<h2>Member guides</h2>
<p>If you are new to the TfL Pension Fund, the following guide for new members provides a brief overview of the Fund and the benefits it offers.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/a-guide-for-new-members-short-version-april-2019.pdf">
    <div class="document-download-text">
        <p>A guide for new members (short version)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.05MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.05 -->
 
</div>
<p>More detailed guides are included below.</p>
</div>
 
<div>




<h2>Existing members - before 2 April 1989</h2>
<p>This guide is for you if:</p>
<ul>
    <li>You joined the Fund on 1 April 1989 as a result of the merger of the London Transport Pension Fund and the 1970 Superannuation Fund</li>
    <li>You were in service at 1 April 1989, aged over 18, but had not completed a year's service or were too young to join either the London Transport Pension Fund or the 1970 Superannuation Fund and were automatically entered into the Fund on 1 April 1989</li>
    <li>You were under 18 on 1 April 1989, and at that date were given the option, which you accepted, to join the Fund on reaching age 18</li>
</ul>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/guide-for-existing-members-january-2020.pdf">
    <div class="document-download-text">
        <p>A guide for existing members</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.89MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.89 -->
 
</div>

</div>
 
<div>




<h2>New members - after 1 April 1989</h2>
<p>This guide is for you if you joined the TfL Pension Fund after 1 April 1989* or are considering joining.
*Unless you fall under the 3rd bullet point below.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/guide-for-new-members-january-2020.pdf">
    <div class="document-download-text">
        <p>A guide for new members</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.43MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.43 -->
 
</div>

</div>
 
<div>




<h2>Pensioner Guide</h2>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/guide-for-pensioners-january-2020.pdf">
    <div class="document-download-text">
        <p>A guide for pensioners</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.94MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.94 -->
 
</div>

</div>
 
<div>



<h2>Additional Voluntary Contributions guide</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/guide-to-additional-voluntary-contributions-january-2020.pdf">
    <div class="document-download-text">
        <p>A guide to Additional Voluntary Contributions (AVCs)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.60MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.60 -->
 
</div>

</div>
 
<div>



<h2>Other fund documents</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/report-and-accounts-31-march-2019.pdf">
    <div class="document-download-text">
        <p>Annual report and accounts</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 946KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.92 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/statement-of-investment-principles-march-2019.pdf">
    <div class="document-download-text">
        <p>Statement of investment principles</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.41MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.41 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/public-sector-section-statement-of-funding-principles-2019.pdf">
    <div class="document-download-text">
        <p>Public sector Statement of Funding Principles</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 777KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.76 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/public-sector-section-recovery-plan-2019.pdf">
    <div class="document-download-text">
        <p>Public sector Recovery Plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 490KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.48 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/public-sector-section-schedule-of-contributions-2019.pdf">
    <div class="document-download-text">
        <p>Public sector Schedule of Contributions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 716KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.70 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/public-sector-section-actuarial-valuation-report-2019.pdf">
    <div class="document-download-text">
        <p>Public sector Actuarial Valuation Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 821KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.80 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/trust-deed-and-rules.pdf">
    <div class="document-download-text">
        <p>Trust deed and rules</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.33MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/idr-procedure.pdf">
    <div class="document-download-text">
        <p>Internal disputes resolution procedure</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 149KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/idr-application-form.pdf">
    <div class="document-download-text">
        <p>Internal disputes resolution application form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 186KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ill-health-guidelines.pdf">
    <div class="document-download-text">
        <p>Ill health guidelines</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 119KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/link-up-policy.pdf">
    <div class="document-download-text">
        <p>Link up policy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 60KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/opting-in-policy.pdf">
    <div class="document-download-text">
        <p>Opting-in policy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 37KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>
<p>If you need to tell us about changes to your address or bank details, go to the <a href="/pensions/contact/forms">Forms section</a> and download the relevant form. </p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/pensions/index" class="heading">
                    <h2 id="sub-menu-heading">TfL Pension Fund<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/your-pension">Your pension</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/pensions/fund-management">Fund management</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/trustee-board">Trustee board</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/committees">Committees</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/pension-consultative-council">Pension Consultative Council</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/pensioners-forum">Pensioners' Forum</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/pensions-working-group">Pensions working group</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/annual-meeting">Annual members meeting</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/investment-management-and-principles">Investment management and principles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/performance">Performance</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/accounts">Accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/associations">Associations</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/transport-benevolent-fund">Transport Benevolent Fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/staff-welfare-fund">Staff Welfare Fund</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/pensions/fund-management/documents">Documents</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/actuarial-valuation">Actuarial Valuation</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/archive">Archive</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/pensions/environmental-social-and-governance-matters">Environmental, social and governance matters</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/news-and-publications">News and publications</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/contact">Contact TfL Pension Fund</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "TfL Pension Fund documents.";}
        
            
        


 