
    
  



@{ViewBag.Title = "Investment management and principles";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/pensions/fund-management/investment-management-and-principles";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/fund-management">Fund management</a></li>
                
            
            
                <li><span class="last-breadcrumb">Investment management and principles</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Investment management and principles</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The following companies managed investments on behalf of the TfL Pension Fund as at 31 March 2019.
        
      </div>
    
    <div class="on-this-page">
      <ul>
	<li>AQR Capital Partners LLC</li>
	<li>Anchorage Capital Group LLC</li>
	<li>Ardevora Asset Management LLP</li>
	<li>Blackrock Investment Management (UK) Limited</li>
	<li>Blue Mountain Capital Partners LLC</li>
	<li>Brevan Howard Asset Management LLP</li>
	<li>Bridgewater Associates, Inc</li>
	<li>CBRE Global Collective Investors UK Limited</li>
	<li>Colonial First State Global Asset Management</li>
	<li>Coronation International Limited</li>
	<li>Credit Suisse AG</li>
	<li>Goldman Sachs Asset Management</li>
	<li>IFC Asset Management Company LLC</li>
	<li>Industry Funds Management Pty Limited</li>
	<li>JO Hambro Capital Management Limited</li>
	<li>JP Morgan Asset Management</li>
	<li>Man Asset Management Ltd</li>
	<li>Neuberger Berman Alternatives Advisers LLC</li>
	<li>Nomura Asset Management UK Limited</li>
	<li>Oak Hill Advisors LP</li>
	<li>Paradice Investment Management Pty Limited</li>
	<li>Partners Group (UK) Limited</li>
	<li>Pzena Investment Management LLC</li>
	<li>Russell Implementation Services Limited</li>
	<li>Semperian PPP Investment Partners Holdings Limited</li>
	<li>SCM ManCo 1 Limited</li>
	<li>Siguler Guff &amp; Company LP</li>
	<li>Stonepeak Associates III LLC</li>
	<li>Veritas Asset Management LLP</li>
	<li>Wellington Management Company LLP</li>
</ul>
      
           
      
<div>



<h2>Statement of Investment Principles</h2>


<p>The Trustees' Statement of Investment Principles aims to ensure the Fund's assets are carefully managed. It specifies:</p>
<ul>
    <li>The kind of investments to be held </li>
    <li>Expected returns on investments </li>
    <li>The balance between investments </li>
    <li>The level of risk undertaken</li>
</ul>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/statement-of-investment-principles-march-2019.pdf">
    <div class="document-download-text">
        <p>Statement of Investment Principles</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.41MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.41 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/law-commission-guidance.pdf">
    <div class="document-download-text">
        <p>Extract of the Law Commission's guidance for pension trustees' duties when setting an investment strategy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 263KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/pensions/index" class="heading">
                    <h2 id="sub-menu-heading">TfL Pension Fund<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/your-pension">Your pension</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/pensions/fund-management">Fund management</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/trustee-board">Trustee board</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/committees">Committees</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/pension-consultative-council">Pension Consultative Council</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/pensioners-forum">Pensioners' Forum</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/pensions-working-group">Pensions working group</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/annual-meeting">Annual members meeting</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/pensions/fund-management/investment-management-and-principles">Investment management and principles</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/performance">Performance</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/accounts">Accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/associations">Associations</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/transport-benevolent-fund">Transport Benevolent Fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/staff-welfare-fund">Staff Welfare Fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/documents">Documents</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/actuarial-valuation">Actuarial Valuation</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/archive">Archive</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/pensions/environmental-social-and-governance-matters">Environmental, social and governance matters</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/news-and-publications">News and publications</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/contact">Contact TfL Pension Fund</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Companies that managed investments on behalf of the TfL Pension Fund.";}
        
            
        


 