
    
  



@{ViewBag.Title = "Pensioners' Forum";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/pensions/fund-management/pensioners-forum";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/fund-management">Fund management</a></li>
                
            
            
                <li><span class="last-breadcrumb">Pensioners' Forum</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Pensioners' Forum</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The Pensioners' Forum allows representatives of pensioners to meet formally with TfL management to discuss issues affecting pensioners of the TfL Pension Fund. It meets quarterly.
        
      </div>
    
    <div class="on-this-page">
      <h2>Role of the forum
</h2>
<p>The role of the forum is to facilitate discussion between TfL and pensioner representatives about TfL policies which affect TfL pensioners. This includes policies relating to pensions, travel concessions and other relevant matters. (Non-pension matters may be the subject of negotiation).</p>
<p>The forum does not discuss:</p>
<ul>
    <li>Matters falling within the responsibility of the TfL Pension Fund Trustees</li>
    <li>Issues relating to an individual's entitlement to Fund benefits</li>
</ul>
<h2>Membership</h2>
<p>The forum is made up of:</p>
<ul>
    <li>The eight elected members of Section One of the Pension Consultative Council</li>
    <li>Four pensioner members, elected by and from the Management Committee of the London Transport Pensioners Association</li>
</ul>
      
           
      
<div>



<h2>Further information</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pensioners-forum-constitution.pdf">
    <div class="document-download-text">
        <p>Constitution of the Pensioners' Forum</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 43KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lt-pensioners-association-constitution-ltps-2015.pdf">
    <div class="document-download-text">
        <p>LT Pensioners' Association Constitution</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 73KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 
</div>
<p>If you have an issue which you wish to raise and consider it may be appropriate for the Pensioners' Forum and are a member of the Fifty Five Society, the LT Pensioners' Association or the LT Retired Staff Association, you should initially seek advice from a Committee member of your Society/ Association. (See page 17 of the TfL Pension Fund, A guide for pensioners or <a href="/pensions/contact">find contact details on our website</a>).</p>

<p>Otherwise, you may contact the current Pensioners' Spokesperson for the Pensioners' Forum:</p>

<p>Paul Kilius-Smith</p>

<p><strong>Telephone:</strong> 07887 823817</p>

<p><strong>Email:</strong> <a href="mailto:paul.kilius-smith&#64;ntlworld.com">paul.kilius-smith&#64;ntlworld.com</a></p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/pensions/index" class="heading">
                    <h2 id="sub-menu-heading">TfL Pension Fund<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/your-pension">Your pension</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/pensions/fund-management">Fund management</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/trustee-board">Trustee board</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/committees">Committees</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/pension-consultative-council">Pension Consultative Council</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/pensions/fund-management/pensioners-forum">Pensioners' Forum</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/pensions-working-group">Pensions working group</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/annual-meeting">Annual members meeting</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/investment-management-and-principles">Investment management and principles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/performance">Performance</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/accounts">Accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/associations">Associations</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/transport-benevolent-fund">Transport Benevolent Fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/staff-welfare-fund">Staff Welfare Fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/documents">Documents</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/actuarial-valuation">Actuarial Valuation</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/archive">Archive</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/pensions/environmental-social-and-governance-matters">Environmental, social and governance matters</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/news-and-publications">News and publications</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/contact">Contact TfL Pension Fund</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The role of the TfL Pension Fund's Pensioners' Forum and membership details.";}
        
            
        


 