
    
  



@{ViewBag.Title = "Pension Consultative Council";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/pensions/fund-management/pension-consultative-council";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/fund-management">Fund management</a></li>
                
            
            
                <li><span class="last-breadcrumb">Pension Consultative Council</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Pension Consultative Council</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Information about the Pension Consultative Council.<BR>
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Role of the PCC</h2>
<p>The role of the PCC is to:</p>
<ul>
    <li>Consider and discuss any issues relating to the operation of the TfL Pension Fund</li>
    <li>Receive and discuss reports from councillors who are Trustees</li>
    <li>Make representations on such issues as it sees appropriate to either the Trustees of the Fund, the TfL Pensions Working Group or the Pensioners' Forum</li>
    <li>Nominate four Trustees</li>
    <li>Make representations direct to the principal employer about matters which fall outside the remit of the PWG and/or the Pensioners' Forum</li>
</ul>
<p>The PCC does not deal with issues relating to individual entitlements to Fund benefits.</p>
<p>It normally meets four times a year.</p>
</div>
 
<h2>Membership</h2>
<p>The PCC is made up of 20 councillors in the following sections, elected directly by Fund members as shown below:</p>
<div class="table-container"><table style="width: 700px; height: 0px;">
    <thead>
        <tr>
            <th id="ms__id27_heading_0" rowspan="1" colspan="1">
            <p style="text-align: left;"><strong>Section </strong></p>
            </th>
            <th id="ms__id27_heading_1" rowspan="1" colspan="1">
            <p style="text-align: left;"><strong>Election procedures </strong></p>
            </th>
            <th id="ms__id27_heading_2" rowspan="1" colspan="1">
            <p style="text-align: center;"><strong>Number of  members</strong> </p>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: left; vertical-align: top;" headers="ms__id27_heading_0">
            <p style="text-align: left;">Section One</p>
            </td>
            <p style="text-align: left;">
            </p>
            <td style="width: 350px;" headers="ms__id27_heading_1">
            <p style="text-align: left;">Elected by and from members (including dependants of deceased members) already receiving pensions and members with deferred pension benefits, but excluding any members of Sections Two and Three</p>
            </td>
            <p style="text-align: left;">
            </p>
            <td style="text-align: left; vertical-align: top;" headers="ms__id27_heading_2">
            <p style="text-align: center;"> 8</p>
            </td>
            <p style="text-align: left;">
            </p>
        </tr>
        <p style="text-align: left;">
        </p>
        <tr>
            <p style="text-align: left;">
            </p>
            <td style="text-align: left; vertical-align: top;" headers="ms__id27_heading_0">
            <p style="text-align: left;">Section Two</p>
            </td>
            <p style="text-align: left;">
            </p>
            <td headers="ms__id27_heading_1">
            <p style="text-align: left;">Elected by and from members who are employees of TfL or its subsidiaries or contractors but excluding members of Section Three</p>
            </td>
            <p style="text-align: left;">
            </p>
            <td style="text-align: left; vertical-align: top;" headers="ms__id27_heading_2">
            <p style="text-align: center;"> 4</p>
            </td>
            <p style="text-align: left;">
            </p>
        </tr>
        <p style="text-align: left;">
        </p>
        <tr>
            <p style="text-align: left;">
            </p>
            <td style="text-align: left; vertical-align: top;" headers="ms__id27_heading_0">
            <p style="text-align: left;">Section Three</p>
            </td>
            <p style="text-align: left;">
            </p>
            <td headers="ms__id27_heading_1">
            <p style="text-align: left;">Elected by and from members who are employees of London Underground Limited or its subsidiaries or contractors, or of Tube Lines Limited</p>
            </td>
            <p style="text-align: left;">
            </p>
            <td style="text-align: left; vertical-align: top;" headers="ms__id27_heading_2">
            <p style="text-align: center;"> 8</p>
            </td>
        </tr>
    </tbody>
</table></div>
<p> </p>


 
<h2>The current PCC Councillors</h2>
<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" id="ms__id82_heading_0" rowspan="1"><strong>Section One&nbsp;</strong></th>
			<th colspan="1" id="ms__id82_heading_1" rowspan="1"><strong>Section Two&nbsp;</strong></th>
			<th colspan="1" id="ms__id82_heading_2" rowspan="1"><strong>Section Three</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td headers="ms__id82_heading_0">Alexandra Barnes</td>
			<td headers="ms__id82_heading_1">Vacant&nbsp;- TfL</td>
			<td headers="ms__id82_heading_2">Tony De Wet&nbsp;- London Underground</td>
		</tr>
		<tr>
			<td headers="ms__id82_heading_0">David Biggs</td>
			<td headers="ms__id82_heading_1">
			<p>Sonja Folarin*&nbsp;- TfL</p>
			</td>
			<td headers="ms__id82_heading_2">Eddie Darroch (Chair) - London Underground</td>
		</tr>
		<tr>
			<td headers="ms__id82_heading_0">Luke Howard</td>
			<td headers="ms__id82_heading_1">Jamie Parry - TfL</td>
			<td headers="ms__id82_heading_2">Mark Harding&nbsp;- London Underground</td>
		</tr>
		<tr>
			<td headers="ms__id82_heading_0">Joel Kosminsky</td>
			<td headers="ms__id82_heading_1">Maria Taylor&nbsp;- TfL</td>
			<td headers="ms__id82_heading_2">Richard Head&nbsp;- London Underground</td>
		</tr>
		<tr>
			<td headers="ms__id82_heading_0">Paul Kilius-Smith*</td>
			<td headers="ms__id82_heading_1">&nbsp;</td>
			<td headers="ms__id82_heading_2">Paul Murphy*&nbsp;- London Underground</td>
		</tr>
		<tr>
			<td headers="ms__id82_heading_0">Chris Miller*</td>
			<td headers="ms__id82_heading_1" style="width:233px">&nbsp;</td>
			<td headers="ms__id82_heading_2">Paul O'Brien&nbsp;- London Underground</td>
		</tr>
		<tr>
			<td headers="ms__id82_heading_0">Stephen Spurgin</td>
			<td headers="ms__id82_heading_1">&nbsp;</td>
			<td headers="ms__id82_heading_2">Hari Srikandarajah&nbsp;- London Underground</td>
		</tr>
		<tr>
			<td headers="ms__id82_heading_0">Christopher Sullivan</td>
			<td headers="ms__id82_heading_1">&nbsp;</td>
			<td headers="ms__id82_heading_2">Peter Woods&nbsp;- London Underground</td>
		</tr>
	</tbody>
</table></div>
<p>*Trustees</p>

 <div>

<h2>Nominations and elections</h2>
<p>The PCC elects its own Chair annually. The PCC Secretary (currently Julian Collins) is provided by TfL. Stephen Field, Director of Pensions &amp; Reward, or his deputy, attends as Pensions Adviser.</p>
<p>The longest-serving quarter of councillors of the PCC must retire from office on 30 November every year.</p>
<p>Any Fund members may nominate, and second, another member as a candidate for election or re-election to the section which represents them all.  Retiring Councillors can also be nominated.</p>
<p>The nominee must also provide:</p>
<ul>
    <li>The nominee's written confirmation that he or she is prepared to serve on the PCC</li>
    <li>A personal statement of up to 100 words detailing their reasons for standing for election, or re-election, to the PCC. If they are from section one you should also state whether they are a pensioner or deferred pensioner</li>
    <li>The nominee's name, as they wish it to appear on the ballot paper</li>
    <li>Dates the nominee served on the PCC if they have previously been a councillor</li>
</ul>
<p>The information provided must be factual, appropriate and inoffensive. You may also provide a passport sized photograph of the nominee for inclusion in voting papers.</p>
<p>You should send completed nominations to PCC Secretary, usually by August. Watch the News section for further details and the deadline for submission.</p>
<p>If there are more nominations than vacancies, elections are held by postal ballot among Fund members in the relevant sections.</p>
<h2>Nominations of Trustees</h2>
<p>Under the Fund rules, the PCC nominates Trustees from among its members as follows:</p>
<ul>
    <li>Two Councillors from and by Section One</li>
    <li>One Councillor from and by Section Two</li>
    <li>One Councillor from and by Section Three</li>
</ul>
<p>The PCC decides how long each Trustee is in office. It is normally until the end of the Trustee's PCC period of office.</p>
</div>
 <div class="accordion">


<h2>Summary of meetings</h2>



<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2018-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Pension Consultative Council-2018"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2018-heading" class="accordion-heading">2018</div>
            </div>
            <div id="2018-content" class="start-hidden" role="region" aria-labelledby="2018-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/summary-107-november-2018.pdf">
    <div class="document-download-text">
        <p>29 November 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 67KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/summary-106-september-2018.pdf">
    <div class="document-download-text">
        <p>20 September 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 10KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/summary-105-july-2018.pdf">
    <div class="document-download-text">
        <p>12 July 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/summary-104-may-2018.pdf">
    <div class="document-download-text">
        <p>10 May 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 66KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/summary-103-january-2018.pdf">
    <div class="document-download-text">
        <p>25 January 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 65KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2017-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Pension Consultative Council-2017"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2017-heading" class="accordion-heading">2017</div>
            </div>
            <div id="2017-content" class="start-hidden" role="region" aria-labelledby="2017-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/summary-102-november-2017.pdf">
    <div class="document-download-text">
        <p>23 November 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 63KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/summary-101-september-2017.pdf">
    <div class="document-download-text">
        <p>21 September 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 58KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/summary-100-july-2017.pdf">
    <div class="document-download-text">
        <p>13 July 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/summary-99-may-2017.pdf">
    <div class="document-download-text">
        <p>11 May 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 67KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/summary-98-january-2017.pdf">
    <div class="document-download-text">
        <p>26 January 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 67KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2016-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Pension Consultative Council-2016"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2016-heading" class="accordion-heading">2016</div>
            </div>
            <div id="2016-content" class="start-hidden" role="region" aria-labelledby="2016-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/summary-97-november-2016.pdf">
    <div class="document-download-text">
        <p>24 November 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 62KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/summary-96-september-2016.pdf">
    <div class="document-download-text">
        <p>29 September 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/summary-95-july-2016.pdf">
    <div class="document-download-text">
        <p>14 July 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 65KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/5-may-2016.pdf">
    <div class="document-download-text">
        <p>5 May 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 104KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/10-march-2016.pdf">
    <div class="document-download-text">
        <p>10 March 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 111KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2015-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Pension Consultative Council-2015"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2015-heading" class="accordion-heading">2015</div>
            </div>
            <div id="2015-content" class="start-hidden" role="region" aria-labelledby="2015-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/26-november-2015.pdf">
    <div class="document-download-text">
        <p>26 November 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 115KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/24-september-2015.pdf">
    <div class="document-download-text">
        <p>24 September 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/16-july-2015.pdf">
    <div class="document-download-text">
        <p>16 July 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 198KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/summary-89-april-2015.pdf">
    <div class="document-download-text">
        <p>30 April 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 58KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/summary-88-march-2015.pdf">
    <div class="document-download-text">
        <p>12 March 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 107KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/summary-87-jan-2015.pdf">
    <div class="document-download-text">
        <p>29 January 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 99KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2014-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Pension Consultative Council-2014"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2014-heading" class="accordion-heading">2014</div>
            </div>
            <div id="2014-content" class="start-hidden" role="region" aria-labelledby="2014-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/27-november-2014.pdf">
    <div class="document-download-text">
        <p>27 November 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 113KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/25-september-2014.pdf">
    <div class="document-download-text">
        <p>25 September 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 99KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/17-july-2014.pdf">
    <div class="document-download-text">
        <p>17 July 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 114KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/8-may-2014.pdf">
    <div class="document-download-text">
        <p>8 May 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 113KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/27-march-2014.pdf">
    <div class="document-download-text">
        <p>27 March 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 118KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2013-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Pension Consultative Council-2013"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2013-heading" class="accordion-heading">2013</div>
            </div>
            <div id="2013-content" class="start-hidden" role="region" aria-labelledby="2013-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/21-november-2013.pdf">
    <div class="document-download-text">
        <p>21 November 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 114KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/12-september-2013.pdf">
    <div class="document-download-text">
        <p>12 September 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 55KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/18-july-2013.pdf">
    <div class="document-download-text">
        <p>18 July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 138KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/16-may-2013.pdf">
    <div class="document-download-text">
        <p>16 May 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 102KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/11-april-2013.pdf">
    <div class="document-download-text">
        <p>11 April 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 97KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/7-february-2013.pdf">
    <div class="document-download-text">
        <p>7 February 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 111KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2012-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Pension Consultative Council-2012"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2012-heading" class="accordion-heading">2012</div>
            </div>
            <div id="2012-content" class="start-hidden" role="region" aria-labelledby="2012-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/22-november-2012.pdf">
    <div class="document-download-text">
        <p>22 November 2012</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 107KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/13-september-2012.pdf">
    <div class="document-download-text">
        <p>13 September 2012</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 95KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/19-july-2012.pdf">
    <div class="document-download-text">
        <p>19 July 2012</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 116KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/17-may-2012.pdf">
    <div class="document-download-text">
        <p>17 May 2012</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 62KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/22-march-2012.pdf">
    <div class="document-download-text">
        <p>22 March 2012</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 110KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/2-february-2012.pdf">
    <div class="document-download-text">
        <p>2 February 2012</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 25KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2011-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Pension Consultative Council-2011"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2011-heading" class="accordion-heading">2011</div>
            </div>
            <div id="2011-content" class="start-hidden" role="region" aria-labelledby="2011-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/24-november-2011.pdf">
    <div class="document-download-text">
        <p>24 November 2011</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 25KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/15-september-2011.pdf">
    <div class="document-download-text">
        <p>15 September 2011</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 17KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/14-july-2011.pdf">
    <div class="document-download-text">
        <p>14 July 2011</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 38KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/19-may-2011.pdf">
    <div class="document-download-text">
        <p>19 May 2011</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 16KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/17-march-2011.pdf">
    <div class="document-download-text">
        <p>17 March 2011</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 9KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/3-february-2011.pdf">
    <div class="document-download-text">
        <p>3 February 2011</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 19KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2010-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Pension Consultative Council-2010"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2010-heading" class="accordion-heading">2010</div>
            </div>
            <div id="2010-content" class="start-hidden" role="region" aria-labelledby="2010-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/19-november-2010.pdf">
    <div class="document-download-text">
        <p>19 November 2010</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 27KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/16-september-2010.pdf">
    <div class="document-download-text">
        <p>16 September 2010</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 11KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/15-july-2010.pdf">
    <div class="document-download-text">
        <p>15 July 2010</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 21KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/13-may-2010.pdf">
    <div class="document-download-text">
        <p>13 May 2010</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 17KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/11-march-2010.pdf">
    <div class="document-download-text">
        <p>11 March 2010</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 11KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/14-january-2010.pdf">
    <div class="document-download-text">
        <p>14 January 2010</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 23KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 
</div>
 
<div>



<h2>Further information</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-pcc-constitution-changes-2012.pdf">
    <div class="document-download-text">
        <p>Download the PCC Constitution</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 101KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 
</div>
<p>If you would like more information about the PCC, or a paper copy of the constitution, please contact:</p>

<p>Julian Collins<br />
PCC Secretary<br />
TfL Pensions Directorate<br />
200 Buckingham Palace Road<br />
London<br />
SW1W 9TJ</p>

<p><strong>Email:</strong> <a href="mailto:juliancollins&#64;tflpensionfund.co.uk">juliancollins&#64;tflpensionfund.co.uk</a></p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/pensions/index" class="heading">
                    <h2 id="sub-menu-heading">TfL Pension Fund<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/your-pension">Your pension</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/pensions/fund-management">Fund management</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/trustee-board">Trustee board</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/committees">Committees</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/pensions/fund-management/pension-consultative-council">Pension Consultative Council</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/pensioners-forum">Pensioners' Forum</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/pensions-working-group">Pensions working group</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/annual-meeting">Annual members meeting</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/investment-management-and-principles">Investment management and principles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/performance">Performance</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/accounts">Accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/associations">Associations</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/transport-benevolent-fund">Transport Benevolent Fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/staff-welfare-fund">Staff Welfare Fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/documents">Documents</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/actuarial-valuation">Actuarial Valuation</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/archive">Archive</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/pensions/environmental-social-and-governance-matters">Environmental, social and governance matters</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/news-and-publications">News and publications</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/contact">Contact TfL Pension Fund</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Information about the TfL Pension Fund's Pension Consultative Council.";}
        
            
        


 