
    
  



@{ViewBag.Title = "Performance";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/pensions/fund-management/performance";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/fund-management">Fund management</a></li>
                
            
            
                <li><span class="last-breadcrumb">Performance</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Performance</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The performance and value of the TfL Pension Fund.<BR>
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<h2>Investment returns</h2>

<p>The table below shows the total investment returns, net of fees, (including both capital and income) obtained on the Fund's assets (including property but excluding AVCs) for the one, three and five years to 31 March 2019 and the corresponding composite benchmark established by the Trustee as the prime performance comparator. The benchmark quoted is a weighted average of indices relevant to the structure and is relevant throughout the time periods shown.</p>
<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" id="ms__id35_heading_0" rowspan="1"><strong>&nbsp;</strong></th>
			<th colspan="2" id="ms__id35_heading_1" rowspan="1"><strong>One year</strong></th>
			<th colspan="2" id="ms__id35_heading_3" rowspan="1"><strong>Three year average</strong></th>
			<th colspan="2" id="ms__id35_heading_5" rowspan="1"><strong>Five year average</strong></th>
		</tr>
		<tr>
			<th colspan="1" id="ms__id35_heading_7" rowspan="1"><strong>&nbsp;</strong></th>
			<th colspan="1" id="ms__id35_heading_8" rowspan="1" style="vertical-align: top;"><strong>Total Fund</strong></th>
			<th colspan="1" id="ms__id35_heading_9" rowspan="1"><strong>Benchmark&nbsp;</strong></th>
			<th colspan="1" id="ms__id35_heading_10" rowspan="1"><strong>Total Fund</strong></th>
			<th colspan="1" id="ms__id35_heading_11" rowspan="1"><strong>Benchmark</strong></th>
			<th colspan="1" id="ms__id35_heading_12" rowspan="1"><strong>Total Fund</strong></th>
			<th colspan="1" id="ms__id35_heading_13" rowspan="1"><strong>Benchmark</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th colspan="1" id="ms__id74_heading_0" rowspan="1">Annual return %</th>
			<td headers="ms__id35_heading_1">5.3</td>
			<td headers="ms__id35_heading_3">&nbsp;6.8</td>
			<td headers="ms__id35_heading_5">9.6</td>
			<td headers="ms__id35_heading_11">11.1</td>
			<td headers="ms__id35_heading_12">8.0</td>
			<td headers="ms__id35_heading_13">9.1</td>
		</tr>
		<tr>
			<th colspan="1" id="ms__id74_heading_1" rowspan="1">Ex currency hedging</th>
			<td headers="ms__id35_heading_1">6.4</td>
			<td headers="ms__id35_heading_3">6.8</td>
			<td headers="ms__id35_heading_5">10.4</td>
			<td headers="ms__id35_heading_11">11.0</td>
			<td headers="ms__id35_heading_12">8.8</td>
			<td headers="ms__id35_heading_13">9.5</td>
		</tr>
	</tbody>
</table></div>
<p>This year's investment performance was 5.3%, 1.5%&nbsp;below the benchmark return of 6.8%. Over the&nbsp;three year period,&nbsp;returns were 9.6% per year, 1.5% below the benchmark. Over five years, returns were 8.0% per year, 1.1% below the benchmark.</p>

<p>Since 1 April 2016, the Total Fund ex Currency Hedging Benchmark is calculated by the Fund's performance measurer as a weighted average of the underlying manager benchmarks. This has then been adjusted to estimate the impact of the currency overlay portfolio to produce the Total Fund Benchmark. The currency impact has been estimated as the difference in performance between the Total Fund ex Currency Hedging and the Total Fund.</p>

<ul>
</ul>

 
<h2>Value of the Fund</h2>
<p>The value of the Fund over the last five years has been:</p>
<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" id="ms__id29_heading_0" rowspan="1"><strong>Year</strong></th>
			<th colspan="1" id="ms__id29_heading_1" rowspan="1"><strong>Value</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>2019</td>
			<td>&pound;10,959.5m</td>
		</tr>
		<tr>
			<td>2018</td>
			<td>&pound;10,337.8m</td>
		</tr>
		<tr>
			<td headers="ms__id29_heading_0">2017</td>
			<td headers="ms__id29_heading_1">&pound;9,867.8m</td>
		</tr>
		<tr>
			<td headers="ms__id29_heading_0">2016</td>
			<td headers="ms__id29_heading_1">&pound;8,211.4m</td>
		</tr>
		<tr>
			<td headers="ms__id29_heading_0">2015</td>
			<td headers="ms__id29_heading_1">&pound;8,304.2m</td>
		</tr>
	</tbody>
</table></div>


 <div>

<h2>Assessing performance</h2>
<p>The Fund participates in an independent investment performance measurement scheme organised by JP Morgan Investor Services which provides comparative information for assessing investment performance.  JP Morgan Investor Services calculates both the overall investment returns obtained on the Fund's assets and the returns obtained by the individual Investment Managers.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/pensions/index" class="heading">
                    <h2 id="sub-menu-heading">TfL Pension Fund<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/your-pension">Your pension</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/pensions/fund-management">Fund management</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/trustee-board">Trustee board</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/committees">Committees</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/pension-consultative-council">Pension Consultative Council</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/pensioners-forum">Pensioners' Forum</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/pensions-working-group">Pensions working group</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/annual-meeting">Annual members meeting</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/investment-management-and-principles">Investment management and principles</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/pensions/fund-management/performance">Performance</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/accounts">Accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/associations">Associations</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/transport-benevolent-fund">Transport Benevolent Fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/staff-welfare-fund">Staff Welfare Fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/documents">Documents</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/actuarial-valuation">Actuarial Valuation</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/archive">Archive</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/pensions/environmental-social-and-governance-matters">Environmental, social and governance matters</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/news-and-publications">News and publications</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/contact">Contact TfL Pension Fund</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The performance and value of the TfL Pension Fund.";}
        
            
        


 