
    
  



@{ViewBag.Title = "Staff Welfare Fund";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/pensions/fund-management/staff-welfare-fund";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/fund-management">Fund management</a></li>
                
            
            
                <li><span class="last-breadcrumb">Staff Welfare Fund</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Staff Welfare Fund</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The Staff Welfare Fund makes one-off cash grants to qualifying people who find themselves in short-term need, hardship or distress. It is run by the Transport Benevolent Fund (TBF).
        
      </div>
    
    <div class="on-this-page">
      <h2>Where the money comes from
</h2>
<p>The original funding was provided by Transport for London. The level of benefits available is largely determined by investment returns.</p>
<h2>Who qualifies</h2>
<p>SWF may help someone if they:</p>
<ul>
    <li>Are receiving a pension from the TfL Pension Fund</li>
    <li>Are employed by TfL or any of its subsidiaries</li>
    <li>Certain staff of other employers (where they have a contractual right to be in the TfL Pension Fund)</li>
    <li>Are an ex-employee who left service due to age, ill-health or redundancy, but not other deferred pensioners</li>
    <li>Dependants who are drawing benefits from TfL Pension Fund</li>
</ul>
<p>All grants are made at the discretion of the TBF trustees.</p>
<h2>Maximum grant</h2>
<p>There is no maximum grant, but TBF has to ensure that the available money is distributed fairly.</p>
<h2>Loans</h2>
<p>At the discretion of the TBF trustees, loans may be granted to active staff, for repayment through the payroll. They are not available to pensioners.</p>
<h2>Nursing or care home fees</h2>
<p>SWF can't help with nursing or care home fees because this would be longer-term help. It can only provide one-off help to relieve short-term need, hardship or distress.</p>
<h2>Applying to SWF if you weren't in TBF</h2>
<p>You can still apply to SWF if you weren't in TBF but it's important to remember that it does not provide identical benefits to TBF and funding is dependent on investment performance.</p>
<h2>Contact details</h2>
<p>Enquiries should be directed to the Transport Benevolent Fund:</p>
<p>New Loom House<br />
101 Back Church Lane<br />
London<br />
E1 1LU</p>
<p><strong>Telephone:</strong> 0300 333 2000<br />
<strong>Website:</strong> <a href="mailto:http://www.tflswf.org.uk/">http://www.tflswf.org.uk/</a></p>
<p>It is helpful to quote either your pension reference number or your employee number when you write or telephone.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/pensions/index" class="heading">
                    <h2 id="sub-menu-heading">TfL Pension Fund<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/your-pension">Your pension</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/pensions/fund-management">Fund management</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/trustee-board">Trustee board</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/committees">Committees</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/pension-consultative-council">Pension Consultative Council</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/pensioners-forum">Pensioners' Forum</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/pensions-working-group">Pensions working group</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/annual-meeting">Annual members meeting</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/investment-management-and-principles">Investment management and principles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/performance">Performance</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/accounts">Accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/associations">Associations</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/transport-benevolent-fund">Transport Benevolent Fund</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/pensions/fund-management/staff-welfare-fund">Staff Welfare Fund</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/documents">Documents</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/actuarial-valuation">Actuarial Valuation</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/archive">Archive</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/pensions/environmental-social-and-governance-matters">Environmental, social and governance matters</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/news-and-publications">News and publications</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/contact">Contact TfL Pension Fund</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The Staff Welfare Fund makes one-off cash grants to qualifying people who find themselves in short-term need, hardship or distress.";}
        
            
        


 