
    
  



@{ViewBag.Title = "Trustee board";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/pensions/fund-management/trustee-board";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/pensions/index">TfL Pension Fund</a></li>
                
            
                 <li><a href="/pensions/fund-management">Fund management</a></li>
                
            
            
                <li><span class="last-breadcrumb">Trustee board</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Trustee board</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The Fund is managed by 18 Trustee Directors (the Trustees).
        
      </div>
    
    <div class="on-this-page">
      <h2>Role of the Board
</h2>
<ul>
    <li>To act in the best interests of the Fund's members and beneficiaries</li>
    <li>To act impartially, prudently and honestly</li>
    <li>To invest the Fund's assets to obtain the best long-term return without putting the Fund at undue risk. Independent specialist investment managers carry out day-to-day investment on the Trustees' behalf</li>
    <li>To make sure the Fund is administered according to the Trust deed and rules of the Fund below</li>
</ul>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/trust-deed-and-rules.pdf">
    <div class="document-download-text">
        <p>Trust deed and rules of the Fund</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.33MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.33 -->
 
</div>
<h2>Board nominations</h2>
<ul>
    <li>Nine Trustees are nominated by the principal employer. At least five of the nine must be members of the Fund</li>
    <li>Five Trustees are nominated by the trades unions</li>
    <li>Four Trustees are nominated by members through the TfL Pension
    Consultative Council, including two who are pensioners or deferred
    pensioners</li>
</ul>
</div>
 
<h2>The current Board</h2>
<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" id="ms__id6_heading_0" rowspan="1">
			<p><strong>Employer nominated&nbsp;</strong></p>
			</th>
			<th colspan="1" id="ms__id6_heading_1" rowspan="1">
			<p><strong>Nominated by&nbsp;</strong></p>
			</th>
			<th colspan="1" id="ms__id6_heading_2" rowspan="1">
			<p><strong>Appointed</strong>&nbsp;</p>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td headers="ms__id6_heading_0">Maria Antoniou (Chair)</td>
			<td headers="ms__id6_heading_1">TfL</td>
			<td headers="ms__id6_heading_2">16 Mar 2007</td>
		</tr>
		<tr>
			<td headers="ms__id6_heading_0">Tricia Ashton</td>
			<td headers="ms__id6_heading_1">TfL</td>
			<td headers="ms__id6_heading_2">9 Dec 2016</td>
		</tr>
		<tr>
			<td headers="ms__id6_heading_0">Mike Binnington</td>
			<td headers="ms__id6_heading_1">TfL</td>
			<td headers="ms__id6_heading_2">17 Mar 2011</td>
		</tr>
		<tr>
			<td headers="ms__id6_heading_0">Rebecca Doherty</td>
			<td headers="ms__id6_heading_1">TfL</td>
			<td headers="ms__id6_heading_2">5 Jul 2019</td>
		</tr>
		<tr>
			<td headers="ms__id6_heading_0">Mark Evers</td>
			<td headers="ms__id6_heading_1">TfL</td>
			<td headers="ms__id6_heading_2">7 Dec 2018</td>
		</tr>
		<tr>
			<td headers="ms__id6_heading_0">Amanda Hopkins</td>
			<td headers="ms__id6_heading_1">TfL</td>
			<td headers="ms__id6_heading_2">27 Sept 2019</td>
		</tr>
		<tr>
			<td headers="ms__id6_heading_0">Michael Hurwitz</td>
			<td headers="ms__id6_heading_1">TfL</td>
			<td headers="ms__id6_heading_2">8 Dec 2017</td>
		</tr>
		<tr>
			<td headers="ms__id6_heading_0">Lili Matson</td>
			<td headers="ms__id6_heading_1">TfL</td>
			<td headers="ms__id6_heading_2">8 Dec 2017</td>
		</tr>
		<tr>
			<td headers="ms__id6_heading_0">Nigel Pickup</td>
			<td headers="ms__id6_heading_1">TfL</td>
			<td headers="ms__id6_heading_2">8 Dec 2017</td>
		</tr>
	</tbody>
</table></div>


 

<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" id="ms__id6_heading_0" rowspan="1">
			<p><strong>PCC Nominated&nbsp;</strong></p>
			</th>
			<th colspan="1" id="ms__id6_heading_1" rowspan="1">
			<p><strong>Nominated by&nbsp;</strong></p>
			</th>
			<th colspan="1" id="ms__id6_heading_2" rowspan="1">
			<p><strong>Appointed</strong>&nbsp;</p>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td headers="ms__id6_heading_0">Sonja Folarin</td>
			<td headers="ms__id6_heading_1">TfL Active Members</td>
			<td headers="ms__id6_heading_2">13 Jun 2019</td>
		</tr>
		<tr>
			<td headers="ms__id6_heading_0">Paul Kilius-Smith</td>
			<td headers="ms__id6_heading_1">Pensioner and Deferred Members</td>
			<td headers="ms__id6_heading_2">28 Mar 2014</td>
		</tr>
		<tr>
			<td headers="ms__id6_heading_0">Chris Miller</td>
			<td headers="ms__id6_heading_1">Pensioner and Deferred Members</td>
			<td headers="ms__id6_heading_2">24 Mar 2005</td>
		</tr>
		<tr>
			<td headers="ms__id6_heading_0">Paul Murphy</td>
			<td headers="ms__id6_heading_1">LUL Active Members</td>
			<td headers="ms__id6_heading_2">12 Jun 2008</td>
		</tr>
	</tbody>
</table></div>


 

<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" id="ms__id6_heading_0" rowspan="1">
			<p><strong>Trade Union nominated&nbsp;</strong></p>
			</th>
			<th colspan="1" id="ms__id6_heading_1" rowspan="1">
			<p><strong>Nominated by&nbsp;</strong></p>
			</th>
			<th colspan="1" id="ms__id6_heading_2" rowspan="1">
			<p><strong>Appointed</strong></p>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td headers="ms__id6_heading_0">Lewis Brown</td>
			<td headers="ms__id6_heading_1">Unite (T&amp;GWU)</td>
			<td headers="ms__id6_heading_2">7 Dec 2010</td>
		</tr>
		<tr>
			<td headers="ms__id6_heading_0">Graham Dean</td>
			<td headers="ms__id6_heading_1">ASLEF</td>
			<td headers="ms__id6_heading_2">12 Jun 2012</td>
		</tr>
		<tr>
			<td headers="ms__id6_heading_0">Stephen Ellaby</td>
			<td headers="ms__id6_heading_1">TSSA</td>
			<td headers="ms__id6_heading_2">11 Jun 2016</td>
		</tr>
		<tr>
			<td headers="ms__id6_heading_0">Stephen Hedley</td>
			<td headers="ms__id6_heading_1">RMT</td>
			<td headers="ms__id6_heading_2">25 Sep 2012</td>
		</tr>
		<tr>
			<td headers="ms__id6_heading_0">John Timbrell</td>
			<td headers="ms__id6_heading_1">Unite (Amicus)</td>
			<td headers="ms__id6_heading_2">11 Mar 2002</td>
		</tr>
	</tbody>
</table></div>


 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/pensions/index" class="heading">
                    <h2 id="sub-menu-heading">TfL Pension Fund<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/your-pension">Your pension</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/pensions/fund-management">Fund management</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/pensions/fund-management/trustee-board">Trustee board</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/committees">Committees</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/pension-consultative-council">Pension Consultative Council</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/pensioners-forum">Pensioners' Forum</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/pensions-working-group">Pensions working group</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/annual-meeting">Annual members meeting</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/investment-management-and-principles">Investment management and principles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/performance">Performance</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/accounts">Accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/associations">Associations</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/transport-benevolent-fund">Transport Benevolent Fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/staff-welfare-fund">Staff Welfare Fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/documents">Documents</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/actuarial-valuation">Actuarial Valuation</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/pensions/fund-management/archive">Archive</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/pensions/environmental-social-and-governance-matters">Environmental, social and governance matters</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/news-and-publications">News and publications</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/pensions/contact">Contact TfL Pension Fund</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "TfL Pension Fund Trustee Board information.";}
        
            
        


 