


@{ViewBag.Title = "July";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">July</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>July</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/july/latest-bakerloo-line-extension-consultation-shows-continued-strong-public-support">Latest Bakerloo line extension consultation shows continued strong public support<br />31 Jul 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/july/grants-available-to-encourage-more-londoners-to-take-up-cycli">Grants available to encourage more Londoners to take up cycling <br />31 Jul 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/july/dlr-celebrates-30-years-of-serving-east-lond">DLR celebrates 30 years of serving east London <br />31 Jul 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/july/mayor-s-new-42-million-fund-to-help-cabbies-ditch-the-dirtiest-diesel-taxis">Mayor's new &pound;42 million fund to help cabbies ditch the dirtiest diesel taxis<br />28 Jul 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/july/prudential-ridelondon-in-london-and-surrey-this-weekend">Prudential RideLondon in London and Surrey this weekend<br />25 Jul 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/july/chalk-farm-lift-works-to-start-this-weekend">Chalk Farm lift works to start this weekend<br />20 Jul 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/july/tfl-makes-it-easier-to-top-up-oyster-cards-while-on-the-go">TfL makes it easier to top up Oyster cards while on the go<br />19 Jul 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/july/king-s-cross-st-pancras-tube-station-given-stark-make-over-for-game-of-thrones">King's Cross St. Pancras Tube station given Stark make-over for Game of Thrones<br />17 Jul 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/july/tfl-to-enhance-frequency-on-the-elizabeth-line">TfL to enhance frequency on the Elizabeth line<br />13 Jul 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/july/transformation-of-white-hart-lane-station-moves-a-step-closer">Transformation of White Hart Lane station moves a step closer<br />11 Jul 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/july/consultation-on-fiveways-transformation-begins">Consultation on Fiveways transformation begins<br />11 Jul 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/july/tfl-announces-partner-to-develop-landmark-court-in-southwark">TfL announces partner to develop Landmark Court in Southwark<br />10 Jul 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/july/gla---santander-cycles-to-expand-to-brixt">GLA - Santander Cycles to expand to Brixton <br />07 Jul 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/july/work-to-transform-archway-town-centre-is-complete">Work to transform Archway town centre is complete<br />06 Jul 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/july/one-billion-journeys-made-by-contactless-payment-on-london-s-transport-network">One billion journeys made by contactless payment on London's transport network<br />06 Jul 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/july/tfl-and-the-mayor-announce-more-fully-electric-bus-routes-to-cut-toxic-emissions">TfL and the Mayor announce more fully-electric bus routes to cut toxic emissions<br />05 Jul 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/july/new-map-to-help-people-with-claustrophobia-and-anxiety">New map to help people with claustrophobia and anxiety<br />05 Jul 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/july/plans-unveiled-to-improve-nine-elms-lane-and-battersea-park-road">Plans unveiled to improve Nine Elms Lane and Battersea Park Road<br />04 Jul 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/july/final-piece-of-daniel-buren-s-artwork-unveiled-at-tottenham-court-road-station">Final piece of Daniel Buren's artwork unveiled at Tottenham Court Road station<br />03 Jul 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/july/24-hour-night-services-for-london-overground-line">GLA - 24-hour night services for London Overground line<br />03 Jul 2017</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "July";}
        
        


 