


@{ViewBag.Title = "October";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">October</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>October</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/october/gla---mayor-delivers-online-checker-to-help-car-buyers">GLA - Mayor delivers online checker to help car buyers<br />17 Oct 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/october/advertising-estate-generates-more-than-140m-to-invest-in-transport-network">Advertising estate generates more than &pound;140m to invest in transport network<br />27 Oct 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/october/artwork-by-late-artist-david-mcdiarmid-unveiled-at-brixton-stati">Artwork by late artist David McDiarmid unveiled at Brixton Station <br />25 Oct 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/october/transport-for-london-opens-up-kingsland-road-arches-for-business">Transport for London opens up Kingsland Road arches for business<br />24 Oct 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/october/measures-planned-to-raise-motorcycle-standards">Measures planned to raise motorcycle standards<br />24 Oct 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/october/mayor-s-new-10-t-charge-starts-today">GLA - Mayor's new &pound;10 'T-Charge' starts today<br />23 Oct 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/october/tfl-seeks-views-on-plans-to-improve-holborn-station">TfL seeks views on plans to improve Holborn station<br />23 Oct 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/october/work-to-improve-tfl-rail-stations-and-tracks-continues">Work to improve TfL Rail stations and tracks continues<br />19 Oct 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/october/tfl-consults-on-two-potential-new-london-overground-stations-at-old-oak">TfL consults on two potential new London Overground stations at Old Oak<br />16 Oct 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/october/tfl-and-the-police-join-forces-to-combat-hate-crime">TfL and the police join forces to combat hate crime<br />16 Oct 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/october/brand-new-tube-signalling-successfully-tested">Brand new Tube signalling successfully tested<br />13 Oct 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/october/tfl-s-free-open-data-boosts-london-s-economy">TfL's free open data boosts London's economy<br />13 Oct 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/october/strong-dupport-for-plans-to-transform-oxford-street-district">Strong support for plans to transform Oxford Street District<br />09 Oct 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/october/bt-fined-25-000-for-risking-public-safe">BT fined &pound;25,000 for risking public safety <br />06 Oct 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/october/deputy-mayor-celebrates-supplier-that-helps-keep-london-journeys-on-track">Deputy Mayor celebrates supplier that helps keep London journeys on track<br />02 Oct 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/october/travel-advice-for-customers-ahead-of-planned-tube-strike">Travel advice for customers ahead of planned Tube strike<br />03 Oct 2017</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2017/october/tfl-names-partner-to-develop-blackhorse-road-site">TfL names partner to develop Blackhorse Road site<br />02 Oct 2017</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "October";}
        
        


 