
    
  



@{ViewBag.Title = "Challenge a penalty charge";}
@{ViewBag.Keywords = "Businesses,Drivers,Public,Driving,TfL";}
@{ViewBag.Url = "/modes/driving/congestion-charge/penalties-and-enforcement/challenge-a-penalty-charge";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/congestion-charge">Congestion Charge</a></li>
                
            
                 <li><a href="/modes/driving/congestion-charge/penalties-and-enforcement">Penalties and enforcement</a></li>
                
            
                
                <li><span class="last-breadcrumb">Challenge a penalty charge</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Challenge a penalty charge</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>You are entitled to challenge a Penalty Charge Notice (PCN). These pages briefly detail what you should do at each stage and how long you have to do so.</p>
        
      </div>
    
    
      <h2>Make a representation</h2>
<p>A representation is your chance to challenge the PCN and forms part of a legal process. There are a number of rules that must be followed by both the person making the representation and us. This page provides advice about the representation process, possible grounds for making a representation, the evidence that should be provided and what you can expect from us.</p>
<p><a href="/modes/driving/congestion-charge/penalties-and-enforcement/challenge-a-penalty-charge/make-a-representation">How to make a representation</a>.</p>
<h2>Make an appeal</h2>
<p>If your representation is rejected, you may appeal against this decision on specified grounds to the independent adjudication service <a href="http://www.londontribunals.gov.uk">London Tribunals</a>. An adjudicator will consider your appeal and make an independent decision, which in the normal course of events we will both have to comply with.</p>
<p><a href="/modes/driving/congestion-charge/penalties-and-enforcement/challenge-a-penalty-charge/make-an-appeal">How to make an appeal</a>.</p>
<h2>Make a Statutory Declaration</h2>
<p> In the event that you did not receive the PCN, or a response to your representation or appeal, you may be able to make a Statutory Declaration. The necessary form is provided with the <a href="/modes/driving/congestion-charge/penalties-and-enforcement">Order for Recovery</a>.</p>
<p><a href="/modes/driving/congestion-charge/penalties-and-enforcement/challenge-a-penalty-charge/make-a-statutory-declaration">How to make a Statutory Declaration</a>.</p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
        }
        
      

 
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/modes/driving/congestion-charge" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Congestion Charge<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/congestion-charge-zone">Congestion Charge zone</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/paying-the-congestion-charge">Congestion Charge payments</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/discounts-and-exemptions">Discounts and exemptions</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/dart-charge">Dart Charge</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/penalties-and-enforcement">Penalties and enforcement</a></div>
                                <ul>
                                    
                                        <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/penalties-and-enforcement/challenge-a-penalty-charge">Challenge a penalty charge</a></div>
                                        <ul>
                                            
                                        <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/penalties-and-enforcement/challenge-a-penalty-charge/make-a-representation">Make a representation</a></div></li>
                                    
 
                                        <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/penalties-and-enforcement/challenge-a-penalty-charge/make-an-appeal">Make an appeal</a></div></li>
                                    
 
                                        <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/penalties-and-enforcement/challenge-a-penalty-charge/make-a-statutory-declaration">Make a Statutory Declaration</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/penalties-and-enforcement/enforcement-process">Enforcement process</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/penalties-and-enforcement/enforcement-agents-and-bailiffs">Enforcement agents and bailiffs</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/penalties-and-enforcement/newly-purchased-vehicles">Newly purchased vehicles</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/contact-congestion-charge">Contact Congestion Charge</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/ulez" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/ulez" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "What to do, and how long you have, to challenge a Penalty Charge Notice (PCN)";}
        
            
        


 