
    
  



@{ViewBag.Title = "Enforcement process";}
@{ViewBag.Keywords = "Businesses,Drivers,Public,Driving,TfL";}
@{ViewBag.Url = "/modes/driving/congestion-charge/penalties-and-enforcement/enforcement-process";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/congestion-charge">Congestion Charge</a></li>
                
            
                 <li><a href="/modes/driving/congestion-charge/penalties-and-enforcement">Penalties and enforcement</a></li>
                
            
                
                <li><span class="last-breadcrumb">Enforcement process</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Enforcement process</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>The measures you can take to challenge a Penalty Charge Notice (PCN), and those we take to enforce payment, form a strictly defined legal process.</p>
        
      </div>
    
    
      <p>To understand the rules that must be followed, and to assess your
options at each stage of the process, open the panel below that
reflects your situation.</p>
      
           
      <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="i-have-just-received-a-pcn-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Enforcement process-I have just received a PCN"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="i-have-just-received-a-pcn-heading" class="accordion-heading">I have just received a PCN</div>
            </div>
            <div id="i-have-just-received-a-pcn-content" class="start-hidden" role="region" aria-labelledby="i-have-just-received-a-pcn-heading">
<p>This is the formal notification sent when our records show that a
vehicle was photographed in the Congestion Charge zone, we have no
record of payment, and it is neither exempt nor
registered for a 100% discount.
</p>
<p>You must not ignore the PCN even if you have paid the charge, are
exempt or registered for a 100% discount. If you fail to either
pay or make a representation to challenge the PCN before the end of the period of 28 days
beginning with the date of service of the PCN, the next notice you
receive will increase the full charge by 50%.</p>
<h2>You can now:</h2>
<h3>Pay PCN within the 14-day period</h3>
<p>When issued, the PCN states the full penalty charge due and the
discounted sum available for prompt payment if paid before the end of
the 14-day period beginning with the date of service of the PCN. The
discounted sum is 50% of the full penalty. </p>
<p>If you are going to pay, do
not delay. If you do delay, or are late in making payment then the amount
due will increase.</p>

<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/pay-a-pcn" class="secondary-button no-hover" >Pay a PCN</a>

    </div>
</div> 
 
</div>
 <div>

<h2>Pay PCN within the 28-day period</h2>
<p>When issued, the PCN states both the full penalty charge due and the
discounted amount as well as when the discounted amount should be paid. This
discount is available for prompt payment if paid before the end of the
14-day period beginning with the date of service of the PCN. </p>
<p>If you are
going to pay, do not delay. If you delay or are late in making payment
then the full amount will be due and this must be paid within the 28-day
period stated on the PCN. If you do not make payment, the amount due
may increase.</p>
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/pay-a-pcn" class="secondary-button no-hover" >Pay a PCN</a>

    </div>
</div> 
 
</div>
 <div>

<h2>Challenge the PCN</h2>
<p>The registered keeper of a vehicle can challenge the PCN by <a href="/modes/driving/congestion-charge/penalties-and-enforcement/challenge-a-penalty-charge/make-a-representation">making a representation</a>.</p>
<h2>Do nothing</h2>
<p>We may issue a Charge Certificate after 28 days if a PCN has not been
either cancelled, paid in full, or has not been paid following a
rejected representation or a refused appeal.</p>
<p>The Charge Certificate increases the amount owed by 50% of
the original amount. If you have forgotten to pay or make a representation then you have lost your right to pay at the original
amount or to make a representation.
</p>
<p>We do not have to consider any representations once a Charge Certificate has been issued.
If, however, you did not receive the initial PCN, or a response to
your representation or appeal, please read the details under <a href="/modes/driving/congestion-charge/penalties-and-enforcement/challenge-a-penalty-charge/make-a-statutory-declaration">Statutory
Declarations</a>.</p>
</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="i-have-just-received-a-charge-certificate-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Enforcement process-I have just received a Charge Certificate"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="i-have-just-received-a-charge-certificate-heading" class="accordion-heading">I have just received a Charge Certificate</div>
            </div>
            <div id="i-have-just-received-a-charge-certificate-content" class="start-hidden" role="region" aria-labelledby="i-have-just-received-a-charge-certificate-heading">
<p>Before receiving the Charge Certificate you should have received a PCN.
</p>
<p>We may issue a Charge Certificate after 28 days if the PCN has not
been either cancelled, paid in full, or been paid following a rejected representation or a refused appeal. </p>
<p>
The Charge Certificate increases the amount owed by 50% of
the original amount. If you did not pay or make a representation, then
you have lost your right to pay the original amount or to make a representation.
</p>
<p>We do not have to consider any representations received after a charge certificate has been issued. However, we will consider a late representation if a valid reason is given for the delay.
</p>
<p>If, however, you did not receive the PCN, or a response to your representation or appeal, you may make a Statutory Declaration.</p>
<h3>You can now:</h3>
<ul>
    <li><a href="/modes/driving/pay-a-pcn">Pay the PCN</a></li>
    <li><a href="/modes/driving/congestion-charge/penalties-and-enforcement/challenge-a-penalty-charge/make-a-statutory-declaration">Make a Statutory Declaration</a></li>
    <li>Do nothing</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="i-have-just-received-an-order-for-recovery-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Enforcement process-I have just received an Order for Recovery"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="i-have-just-received-an-order-for-recovery-heading" class="accordion-heading">I have just received an Order for Recovery</div>
            </div>
            <div id="i-have-just-received-an-order-for-recovery-content" class="start-hidden" role="region" aria-labelledby="i-have-just-received-an-order-for-recovery-heading">
<p>If you have still not paid the PCN then 14 days after the service of the Charge Certificate we may apply to the <a href="http://www.justice.gov.uk/courts/northampton-bulk-centre/traffic-enforcement-centre">Traffic Enforcement Centre (TEC)</a> to register the penalty charge as an unpaid debt.</p>

<p>You will then be sent an Order for Recovery. This is not a County Court Judgement and will not affect your credit rating.</p>

<p>You should either pay the increased amount stated or, if applicable, make a Statutory Declaration within 21 days of the date of service of the Order for Recovery.</p>

<p>If you fail to take action, this will result in bailiffs being instructed.</p>

<p>You have the right to challenge the registration of the debt by making an application to file a Statutory Declaration Out of Time. When submitting such an application you must explain your reasons for not completing the Statutory Declaration within the original time limit. These reasons may be accepted or rejected by the local authority. If they are rejected, then the case will be referred to a senior officer of the Court at the TEC who will determine whether the application should be granted or refused.</p>

<p>Please be aware that we will review each application submitted Out of Time and may challenge the application in the event that:</p>

<ul>
	<li>There is evidence that you knew of the PCN</li>
	<li>You have failed to update the <a href="https://www.gov.uk/government/organisations/driver-and-vehicle-licensing-agency">DVLA</a> or <a href="http://www.nidirect.gov.uk/motoring"> DVA</a> with your correct address</li>
	<li>You are still resident at the address to which correspondence was sent</li>
	<li>There are other grounds under which the application can be challenged</li>
</ul>

<p>For further guidance on submitting an application to file a Statutory Declaration Out of Time, please refer to the TEC website or contact their helpdesk on 0300 123 1059.</p>

<p>If you have submitted an application to file a Statutory Declaration Out of Time, you should make the bailiff aware of your circumstances and provide them with evidence of the application.</p>

<h3>You can now:</h3>

<ul>
	<li><a href="/modes/driving/pay-a-pcn">Pay full amount</a></li>
	<li><a href="/modes/driving/congestion-charge/penalties-and-enforcement/challenge-a-penalty-charge/make-a-statutory-declaration">Make a Statutory Declaration</a></li>
	<li>Do nothing</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="an-enforcement-agent/bailiff-has-contacted-me-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Enforcement process-An enforcement agent/bailiff has contacted me"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="an-enforcement-agent/bailiff-has-contacted-me-heading" class="accordion-heading">An enforcement agent/bailiff has contacted me</div>
            </div>
            <div id="an-enforcement-agent/bailiff-has-contacted-me-content" class="start-hidden" role="region" aria-labelledby="an-enforcement-agent/bailiff-has-contacted-me-heading">
<p>Before you are contacted by one of our contracted enforcement agents, we will have issued a PCN, Charge Certificate and an Order for Recovery. We send these to the registered keeper of the vehicle as held by the <a href="https://www.gov.uk/government/organisations/driver-and-vehicle-licensing-agency">DVLA</a> or <a href="http://www.nidirect.gov.uk/motoring"> DVA</a>.</p>

<p>If the PCN has not been paid within 21 days of the Order for Recovery being served, or a Statutory Declaration has not been filed, we will request a Warrant of Control from the Traffic Enforcement Centre (TEC). This will be passed to an enforcement agent to recover the outstanding debt plus any enforcement fees that apply according to the legislation. You will not be sent a copy of the Warrant of Control but you may request a copy directly from the enforcement agent or their office.</p>

<p>All the enforcement agents acting on our behalf are certificated by a County Court and operate in accordance with the governing legislation and our contractual requirements.</p>

<h2>Enforcement steps</h2>

<p>Enforcement action will initially start with the enforcement agent contacting you by letter or perhaps by telephone. You should not ignore their communications as doing so will result in further costs being incurred.</p>

<p>An enforcement agent will charge fees for the first Enforcement Notice sent (initial letter), they may also charge for visiting your premises if the debt remains unpaid, or an agreed payment plan not in place. If goods are removed, this may include further costs to the outstanding debt.</p>

<p>If you repeatedly ignore the enforcement agents communications, their fees will increase in line with the Taking Control of Goods regulations 2014.</p>

<p>Once a case gets transferred to an enforcement agent, you will no longer have the right to make a representation. If you believe a PCN has been issued incorrectly, please inform the enforcement agent immediately and provide evidence to support your case.</p>

<p>All enforcement agents acting on our behalf are certified in a County Court and operate in accordance with governing legislation and our contractual requirements.</p>

<h2>Contracted enforcement agents</h2>

<h4 abp="209">Equita Limited</h4>

<p abp="210"><strong abp="211">Email: </strong><a abp="212" href="mailto:info&#64;equita.co.uk">info&#64;equita.co.uk</a><br abp="213" />
<strong abp="214">Phone:</strong> 01604 628 360<br abp="217" />
<strong abp="218">Address:</strong><br abp="219" />
42-44 Henry Street<br abp="220" />
Northampton NN1 4BZ</p>

<h4 abp="221">JBW Group</h4>

<p abp="222"><strong abp="223">Email: </strong><a abp="224" href="mailto:customercare&#64;jbw.co.uk">customercare&#64;jbwgroup.co.uk</a><br abp="225" />
<strong abp="226">Phone:</strong> 0330 1070 024<br abp="229" />
<strong abp="230">Address:</strong><br abp="231" />
9th Floor, Peninsular House, Monument Street<br abp="232" />
London EC3R 8LJ</p>

<h4 abp="233">Marston Group Ltd</h4>

<p abp="234"><strong abp="235">Email: </strong><a abp="236" href="mailto:customercare&#64;marstongroup.co.uk">customercare&#64;marstongroup.co.uk</a><br abp="237" />
<strong abp="238">Phone:</strong> 0845 074 3749<br abp="241" />
<strong abp="242">Address:</strong><br abp="243" />
148 Edmund St<br abp="244" />
Birmingham B3 2JR</p>

<h4 abp="245">TASK Enforcement Ltd</h4>

<p abp="246"><strong abp="247">Email: </strong><a abp="248" href="mailto:service&#64;taskenforcement.co.uk">service&#64;taskenforcement.co.uk</a><br abp="249" />
<strong abp="250">Phone: </strong>0333 320 1100<br abp="253" />
<strong abp="254">Address:</strong><br abp="255" />
PO BOX 12019,<br />
Epping CM16 9EB</p>

<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/ruc-cdn/static/cms/documents/bailiffs-enforcement-agents-your-rights.pdf">
    <div class="document-download-text">
        <p>Enforcement agents and bailiffs - know your rights</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
        }
        
      

 
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/modes/driving/congestion-charge" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Congestion Charge<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/congestion-charge-zone">Congestion Charge zone</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/paying-the-congestion-charge">Congestion Charge payments</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/discounts-and-exemptions">Discounts and exemptions</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/dart-charge">Dart Charge</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/penalties-and-enforcement">Penalties and enforcement</a></div>
                                <ul>
                                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/penalties-and-enforcement/challenge-a-penalty-charge">Challenge a penalty charge</a></div></li>
                            
 
                                        <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/penalties-and-enforcement/enforcement-process">Enforcement process</a></div>
                                    </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/penalties-and-enforcement/enforcement-agents-and-bailiffs">Enforcement agents and bailiffs</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/penalties-and-enforcement/newly-purchased-vehicles">Newly purchased vehicles</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/contact-congestion-charge">Contact Congestion Charge</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/ulez" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/ulez" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "Measures you can take to challenge a Penalty Charge Notice (PCN), and those we take to enforce payment";}
        
            
        


 