


@{ViewBag.Title = "Applications open for Apprentice Oyster photocard";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Applications open for Apprentice Oyster photocard</h1>
        <div class="content-page-press-release">
        15 May 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Apprentice concession is part of the Mayor's on-going campaign to boost employment opportunities for young Londoners.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Concession available to all apprentices over 18, living in London and in the first year of an approved apprenticeship course</li>
<li>Applications open at <a href="http://www.tfl.gov.uk/apprenticeoyster">tfl.gov.uk/apprenticeoyster</a></li></ul>
<p>Applications for the Apprentice Oyster photocard opened today on the Transport for London (TfL) website. </p>
<p>The concession, available to all apprentices over 18, living in London and in the first year of an approved apprenticeship course, will allow apprentices to get 30 per cent off adult rate Travelcards and Bus &amp; Tram Passes.</p>
<p>The concession is expected to benefit around 40,000 apprentices per year and could save them up to &pound;660 a year on the cost of an annual Travelcard. </p>
<p>It is part of the Mayor of London's on-going campaign to boost employment opportunities for young Londoners.</p>
<p>The Mayor of London, Boris Johnson, said: 'Applications for the Apprentice Oyster photocard are now open and I am sure apprentices across the capital will soon be carrying them around with pride knowing they are being rewarded for their hard work and for making a fantastic contribution to our economy. </p>
<p>'Any apprentice over 18, living in London and in the first year of an approved apprenticeship course should sign up for one without delay.'</p>
<p>TfL is committed to developing and supporting apprenticeships. Over 3,900 apprenticeships have been created within TfL and its supply chain around the UK, addressing the skills shortage within the transport industry. </p>
<p>A wide range of apprenticeships are offered at TfL on projects such as the Tube upgrade programme, helping young people have the chance to play a part in the growth of the city. </p>
<p>At least 400 apprenticeships will be created by Crossrail with many of the apprentices undertaking training at the new Tunnelling and Underground Construction Academy in east London. </p>
<p>Shashi Verma, TfL's Director of Customer Experience, said: 'Apprenticeships are a vital way to give young people the skills and experience necessary for London's economic growth. </p>
<p>'We work closely with our supply chain and are committed to developing apprenticeships across the UK, supporting the Mayor's efforts to encourage young people into professions with real career progression. </p>
<p>'By offering the Apprentice Oyster discount for those in London we are doing our bit to help young people on their way.'</p>
<p>Vic Grimes, Divisional Apprenticeship Director - London and South East, National Apprenticeship Service, said: 'The National Apprenticeship Service has been working closely with TfL and I'm delighted that many hard working apprentices across London will benefit from this concession. </p>
<p>'While an apprenticeship is a great opportunity to earn while they learn in a real job, gaining a real qualification and a real future, these are economically challenging times. We know that young people and employers need as much support as possible in the capital and this is a very positive result for them.'</p>
<p>Dave Brown, Deputy Contractor Manager at Enterprise (London Highways Alliance Contractor), said: 'We are really pleased that TfL is introducing this excellent scheme. Undoubtedly, any extra assistance we can give apprentices, financial or otherwise, is a massive bonus. </p>
<p>'This Oyster concession will help our apprentices stay with their course without financial worries.'</p>
<p>Apprentices will be eligible if they are:</p>
<ul>
<li>Aged 18 or over</li>
<li>Living in a London borough; and enrolled in the first year of an apprenticeship that is SASE compliant, is a minimum of 12 months and is delivered through a further education or training organisation approved or funded by the Skills Funding Agency.</li></ul>
<p>Applications can be completed online at <a href="http://www.tfl.gov.uk/apprenticeoyster">tfl.gov.uk/apprenticeoyster</a>. To complete the application, apprentices will need:</p>
<ul>
<li>Their Unique Learner Number (ULN)</li>
<li>Their Training Provider's UK Provider Reference Number (UKPRN)</li>
<li>A&nbsp;colour digital photo</li>
<li>A&nbsp;valid, active email address; and access to a valid credit or debit card to pay the non-refundable &pound;10 admin fee</li></ul>
<p>An Apprentice Oyster web account will automatically be created during the application so applicants can track their application and report photocards lost, stolen or damaged. </p>
<p>The concession will be valid for 12 months with the expiry date shown clearly on the front of the Oyster photocard. </p>
<p>
<hr>
</p>
<h4>Notes to editors:</h4>
<ul>
<li>To be eligible for the Apprentice Oyster photocard, apprenticeships must be SASE (Specification for Apprenticeship Standards in England) compliant</li>
<li>Applicants are not eligible if they already have an Oyster photocard, a Disabled Persons Freedom Pass or a Bus &amp; Tram Discount photocard</li>
<li>Applicants are not eligible if they are on a pre-Apprenticeship Access programme or on a Planned Break from their apprenticeship learning</li>
<li>The apprentice's Unique Learner Number and the UK Provider Reference Number are supplied by apprenticeship college or training organisations. Applicants should contact their college or training organisation if they don't have the numbers</li>
<li>Further information about the Apprentice Oyster can be found at <a href="http://www.tfl.gov.uk/apprenticeoyster">tfl.gov.uk/apprenticeoyster</a> </li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Concession available to all apprentices over 18, living in London and in the first year of an approved apprenticeship courseApplications open at tfl.gov.uk/apprenticeoysterApplications for the Apprentice Oyster photocard opened today on the Transport for";}
        
        


 