


@{ViewBag.Title = "BBC documentary celebrates 150 years of the Tube ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>BBC documentary celebrates 150 years of the Tube </h1>
        <div class="content-page-press-release">
        13 May 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        BBC viewers are set to get a fresh insight into the fascinating history of the Tube this week with a documentary charting the development of the world's first underground railway.
        
    </div>



 <div class="on-this-page">
<p>The Tube: An Underground History will screen on BBC2 at 9pm on Thursday 16 May and explores the development of London Underground from its conception to its construction, from the first 'cut and cover' excavations on the Metropolitan line to today's vast and vital network.</p>
<p>The documentary, made by Blast! Productions for the BBC, follows the extremely popular series The Tube, which screened on BBC 2 last year and features some of the staff members who appeared in the original series, using their words and thoughts to explore the past and present of the iconic network.</p>
<p>The Tube has always played an important role in the success of London&nbsp;-&nbsp;from the growth of the early network which led to the expansion of the suburbs in the last century, to the development of Canary Wharf's financial powerhouse in the '80s, and on to today's system which is carrying record numbers of customers with the highest levels of reliability and performance in the network's history.</p>
<h4>Economic boost </h4>
<p>London Underground continues to be a vital part of the city&nbsp;- supporting the London and UK economy. </p>
<p>Over the next decade London's population is expected to grow by around a million people, underlining the crucial importance of continuing to improve and develop the Tube network.</p>
<p>London Underground Managing Director Mike Brown said: 'This documentary reminds us of what an amazing feat of engineering the building of an underground railway was more than 150 years ago. </p>
<p>'Our job now is to build on that rich history and ensure the continued growth and development of this vital part of London so that it can continue to transport millions of passengers every day, and support London as the engine-room of the UK economy, for the next 150 years.'</p>
<h4>Staff insights </h4>
<p>Director James House said: 'We took an unusual approach to making this history film - instead of asking experts to tell the Tube's story, we asked the staff. </p>
<p>'I hoped that by doing this we would feel closer to the people who first built it and worked on it. </p>
<p>'The wealth of knowledge the staff have is amazing and revealing - the Tube is quite special among British institutions in the pride of place it gives to its own history.'</p>
<h4>Spotlight on Farringdon</h4>
<p>Iain Macpherson, a Station Supervisor at Farringdon, who features in the documentary, said: 'It was very exciting to be part of this documentary and part of London Underground during this significant year.&nbsp; </p>
<p>'Farringdon is where it all started. It was one of the first ever underground stations. Over the years it has seemed to languish in the background while the other bigger stations got most of the attention.&nbsp; </p>
<p>'This year the spotlight has finally landed on us here at Farringdon Station with the 150th celebrations and the visit by Prince Charles and the Duchess of Cornwall and staff at the station have been quite excited by it all.&nbsp; </p>
<p>'150 years is a really unique achievement which we're all very proud of.'</p>
<p>A huge range of events and activities are being held this year to explore London Underground's fascinating history and the vital role it continues to play - both in the lives of Londoners and to the economic life of London and the UK. </p>
<p>A series of trips on a newly restored Metropolitan line will take place between Amersham and Harrow on the Hill between Saturday 25 and Monday 27 May, transporting passengers back to the age of steam.</p>
<p>
<hr>
</p>
<h4>Notes to editors:</h4>
<ul>
<li>In Scotland the programme screens on Friday 17 May on BBC2 at 9pm</li>
<li>Clips of the programme are available here: <a href="http://www.bbc.co.uk/programmes/b01sjtzw/clips">www.bbc.co.uk/programmes/b01sjtzw/clips</a></li></ul>
<p>As part of the Tube improvement plan a huge range of improvements have been delivered, including:</p>
<ul>
<li>Journeys on the Jubilee and Victoria lines have been improved through massively boosted capacity and faster journeys</li>
<li>Stations like King's Cross, Green Park and Blackfriars have been rebuilt</li>
<li>A fleet of new air-conditioned trains has been introduced on the Metropolitan line and over the next few years will be introduced to some two fifths of the Tube network</li>
<li>Reliability on the Tube is now 40 per cent improved on 2007/08 levels and is the best in the network's entire history</li>
<li>By the end of next year, the Northern line upgrade will be completed, with higher-frequency services, and shortly afterwards key stations in central London such as Victoria and Tottenham Court Road will have been rebuilt</li>
<li>The number of step-free stations is being expanded, alongside the use of ramps, platform humps and other accessibility improvements, an extension of the Northern line to Battersea is being planned, and Crossrail will be delivered - transforming travel across London</li>
<li>For more information on the Tube's 150th anniversary visit <a href="http://www.tfl.gov.uk/Tube150">www.tfl.gov.uk/Tube150</a> </li>
<li>Transport for London would like to thank Cubic, Siemens and CBS Outdoor for sponsoring the 150th anniversary of London Underground<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Tube: An Underground History will screen on BBC2 at 9pm on Thursday 16 May and explores the development of London Underground from its conception to its construction, from the first 'cut and cover' excavations on the Metropolitan line to today's vast";}
        
        


 