


@{ViewBag.Title = "BikeSafe-London celebrates 10 years of improving rider safety across London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>BikeSafe-London celebrates 10 years of improving rider safety across London</h1>
        <div class="content-page-press-release">
        01 May 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than 26,000 people have completed a motorbike rider skills day.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"BikeSafe-London has helped create a huge number of safer motorcyclists in London over the past 10 years and hopefully the current offer to attend for the price of a decade ago will help encourage a whole new generation of safer motorcyclists"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ben Plowden</div>
            <div class="quotee-job-title">Director of Surface Planning at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            BikeSafe-London has helped create a huge number of safer motorcyclists in London over the past 10 years and hopefully the current offer to attend for the price of a decade ago will help encourage a whole new generation of safer motorcyclists
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Take part now at a reduced price and be in with a chance to win a BMW off-road skills course</li></ul>
<p>BikeSafe-London is celebrating its 10th anniversary this month, a decade of helping motorcyclists improve their knowledge, skills and experience to make them better, safer riders.</p>
<p>Since April 2003, more than 26,000 motorcyclists have attended a BikeSafe-London Rider Skills Day. </p>
<p>The scheme is jointly run and funded by Transport for London (TfL) and the Metropolitan Police Service, and is part of the work TfL does to reduce accidents involving motorcycles. </p>
<p>The Rider Skills Days are run by highly qualified traffic police officers and combine observed rides with interactive presentations, discussions and advice on rider safety. </p>
<p>To celebrate the 10th anniversary, motorcyclists attending a Rider Skills Day will only have to pay the original 2003 cost of &pound;25, saving &pound;20 on the present cost of &pound;45. This limited time offer will only be valid between 29 April and 6 September and so riders are advised to book early at <a href="http://www.bikesafe-london.co.uk">www.bikesafe-london.co.uk</a></p>
<p>Riders will also have the opportunity to enter a competition to win one of two BMW Off-Road Skills Level One GS courses. </p>
<p>The off-road skills course will, among other things, improve the rider's ability to control, balance, and manoeuvre in awkward situations, improve their braking ability and ability to manoeuvre at slow speeds. </p>
<p>The lucky winners will also have their accommodation included as part of the prize, which has been provided by Carole Nash Insurance. </p>
<p>Ben Plowden, Director of Surface Planning at TfL, said: 'BikeSafe-London has helped create a huge number of safer motorcyclists in London over the past 10 years and hopefully the current offer to attend for the price of a decade ago will help encourage a whole new generation of safer motorcyclists.</p>
<p>'We continue to look at how we can improve road safety for all road users and our Motorcycle Safety Action Plan, which will be published later this year, will set out how we will further improve the safety of riders in the capital.'</p>
<p>TfL's recent motorcycle safety campaign targeted both riders and drivers in a bid to reduce the number of motorcyclists killed or injured in the capital. </p>
<p>Drivers were asked to 'Look Out for Motorcyclists' in a radio advert, poster and online campaign to highlight to drivers the need to extra care on the road and to make sure they have seen motorcycle riders, especially when turning.</p>
<p>Simon Pavey, Head Instructor at BMW Off Road Skills said: 'We are very pleased to be able to give something to an organisation like BikeSafe-London. They are doing a lot of good things for motorcyclists and put a lot of time and effort into improving the safety of London's bike riders.&nbsp; </p>
<p>'At Off Road Skills we have a very similar ethos to BikeSafe-London, our course is all about improving bike handling skills and having fun and whilst we are riding off-road the general skills translate very well. </p>
<p>'We think the winners will have a great time on the course and with the addition of the accommodation from Carole Nash, the prize is a complete package.'</p>
<p>Rebecca Donohue of Carole Nash Insurance said: 'We're delighted to support BikeSafe-London, an initiative launched by riders for riders. </p>
<p>'With expert advice from experienced police instructors its Rider Skills Days offer bikers the chance to enjoy their bikes more - and more safely. </p>
<p>'That means that not only can they better protect themselves but they can better protect their no claims discounts and, therefore, minimise their insurance costs.'</p>
<p>For more information about BikeSafe-London and ScooterSafe-London, please visit <a href="http://www.bikesafe-London.co.uk">www.bikesafe-London.co.uk</a> or call 08444 151 206</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>For more information on what Transport for London (TfL) is doing to promote motorcycle safety across the capital, please visit <a href="http://tfl.gov.uk/corporate/projectsandschemes/23288.aspx">tfl.gov.uk/corporate/projectsandschemes/23288.aspx</a> </li>
<li>ScooterSafe-London is a course which gives riders of scooters up to 250cc and pre test motorcycle riders similar safety skills to the BikeSafe-London </li>
<li>The Mayor's Draft Road Safety Action Plan, which was consulted on last year, highlights motorcyclists as a key vulnerable road user group for whom safety improvements need to be made. Motorcyclists accounted for just one per cent of trips in London during 2011, but represented 16 per cent of all casualties and 22 per cent of all fatalities on the capital's roads, showing that they are particularly vulnerable to serious collisions. In particular, collisions can occur at junctions when vehicles can turn across the path of a motorcyclist having failed to look properly </li>
<li>TfL has commissioned research to better understand the cause of collisions in London that result in fatalities to motorcyclists. The study involved the in-depth analysis of collisions involving a motorcyclist fatality between 2006 and 2009, with the aim of helping to prevent these in future.&nbsp; Early findings show that fatal collisions can take place when vehicles turn right across the path of a motorcycle at a junction or from a side road. Work to further investigate these fatalities is still ongoing and TfL will publish the final report when completed </li>
<li>TfL and the Metropolitan Police Service run BikeSafe-London for motorcycle and scooter riders that aim to educate riders to become safer road users. The Rider Skills Days are run by highly qualified traffic police officers and combine observed rides with interactive presentations, discussions and advice on rider safety </li>
<li>The days start at 8.45am and finish at approximately 4.30pm and normally cost just &pound;45.00 per rider including lunch, high visibility vest and other items </li>
<li>Reduced rate of &pound;25 is available from 29 April - 6 September 2013 </li>
<li>Full details of the off road course can be found at <a href="http://www.bmw-motorrad.co.uk/world-of-bmw/off-road-skills/level-one/">www.bmw-motorrad.co.uk/world-of-bmw/off-road-skills/level-one/</a> </li>
<li>There are two places on the BMW Off-Road Skills course available to win. The course is a two day event, including accommodation, is run on the 27 and 28 of September 2013. </li>
<li>Click&nbsp;<a href="https://www.bikesafe.co.uk/Page/BikeSafe-London-10-Year-Anniversary.aspx">here</a> for the&nbsp;anniversary competition terms and conditions</li>
<li>Riders must be over 21 years of age and not have any drink or drug convictions. </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Take part now at a reduced price and be in with a chance to win a BMW off-road skills courseBikeSafe-London is celebrating its 10th anniversary this month, a decade of helping motorcyclists improve their knowledge, skills and experience to make them";}
        
        


 