


@{ViewBag.Title = "Congestion Charge changes begin to take effect";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Congestion Charge changes begin to take effect</h1>
        <div class="content-page-press-release">
        20 May 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Changes make scheme greener and more efficient.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Penalty charge has increased by &pound;10 </li>
<li>Registrations to close for Green Vehicle Discounts (GVD) and Electric Vehicle Discounts (EVD); sunset period for owners of low-emission vehicles extended to 24 June 2016 </li>
<li>Payments at shops and petrol stations to end</li></ul>
<p>A number of changes to the Congestion Charge scheme will take effect in the coming weeks.&nbsp; </p>
<p>The first change means that from today (20 May) the penalty charge for non-payment of the Congestion Charge will be &pound;130.<br>&nbsp;<br>This is only the third increase in the penalty charge since the Congestion Charge was introduced more than a decade ago and brings the penalty charge in line with other moving traffic, bus lane and parking penalty charges within London.<br>&nbsp;<br>In addition there are two further changes to the Congestion Charge scheme which the Mayor and TfL confirmed last month.&nbsp; </p>
<p>The GVD and EVD will be replaced by an Ultra Low-Emission Discount (ULED); and from 26 July 2013 shops will no longer process Congestion Charge payments.</p>
<p>The Mayor confirmed the changes to the Congestion Charge scheme last month following a 12-week consultation on proposals, which sought the views of Londoners, businesses and key stakeholders.&nbsp;</p>
<p>He expects the changes to help spur the use of the cleanest possible vehicles in the Capital and they will also deliver efficiency savings in the operation of the scheme.&nbsp;&nbsp; <br>&nbsp;<br>Registrations for the GVD and EVD will close from 28 June 2013.&nbsp; </p>
<p>Anyone registered to receive the GVD by this date will continue to receive a 100 per cent discount from paying the Congestion Charge for a period of three years until 24 June 2016.&nbsp; </p>
<p>The Mayor and TfL recognise that many drivers made the decision to purchase a low-emission car in order to benefit from the existing discount.&nbsp; </p>
<p>Therefore, in response to a number of comments made during the consultation, the sunset period was extended from two to three years. <br>&nbsp;<br>Vehicles registered for the current EVD will automatically qualify for the new ULED and owners do not need to take any action.<br>&nbsp;<br>People can apply for the new ULED from 1 July 2013 and the discount will provide a single 100 per cent discount from the Congestion Charge for electric vehicles and ultra low-emission cars and vans. <br>&nbsp;<br>To qualify for the new discount vehicles will have to be either purely electric, or a car or van that emits 75g/km or less of CO2 and meet the Euro 5 emission standard for air quality.</p>
<p>The introduction of the new discount complements the comprehensive set of measures that the Mayor has introduced to tackle air pollution.&nbsp; </p>
<p>Over the past four years the Mayor has tightened the standard of the Low Emission Zone, further reducing the emissions of around 150,000 vehicles.&nbsp; </p>
<p>He has introduced the first age limits to retire the oldest and most polluting taxis, and he has delivered a package of innovative local measures through his Clean Air Fund. </p>
<p>In addition the Mayor has overseen procurement of Europe's largest fleet of hybrid buses and developed the new bus for London, the cleanest and greenest of its type.&nbsp; </p>
<p>There are currently eight prototype new buses in service with a further 600 entering service by 2016.&nbsp; </p>
<p>They emit a quarter of the oxides of nitrogen (NOx) and particulate matter (PM) and around half the CO2 of a traditional diesel vehicle. </p>
<p>The option to pay the Congestion Charge by cash in shops will end from 26 July 2013 as a result of fewer people using that payment method and to reduce the costs of operating the scheme. <br>&nbsp;<br>When the Congestion Charge was introduced in 2003 the retail channel was the most popular method of payment and accounted for 37 per cent of all sales.&nbsp; </p>
<p>However just four per cent of payments of the Congestion Charge are now made in shops or petrol stations as the vast majority of customers pay the charge through the automatic payment method, Congestion Charge Auto Pay (CC Auto Pay).&nbsp; </p>
<p>Around 250,000 people have now registered for CC Auto Pay, which sees account holders pay &pound;9 per day (rather than &pound;10) and offers protection from receiving Penalty Charge Notices. <br>&nbsp;<br>Drivers will still be able to pay the Congestion Charge using a wide range of other means including online, by phone, by text message or by CC Auto Pay.<br>&nbsp;<br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The central London Congestion Charging zone was introduced in February 2003 </li>
<li>The scheme continues to be effective in reducing traffic congestion </li>
<li>The scheme generates net revenues which are reinvested in transport in London </li>
<li>The criteria for the new&nbsp;ULED are: </li>
<ul>
<li>Any type of pure electric vehicle</li>
<li>Ultra low-emission cars with CO2 emissions of 75g/km or less that meet Euro 5</li>
<li>Ultra low-emission vans with CO2 emissions of 75g/km or less that meet Euro 5 </li></ul>
<li>Plug-in hybrid cars must additionally have a minimum range of 10 miles in 'electric' mode and have a maximum speed of at least 60 mph. TfL will publish a list of eligible vehicles </li>
<li>Plug-in hybrid vans must additionally have a minimum range of 10 miles in 'electric' mode and a maximum speed of at least 50 mph. TfL will publish a list of eligible vehicles </li>
<li>Pure electric cars, commercial vehicles and quadricycles and plug-in hybrid electric cars that are currently eligible for the EVD would all qualify for the new ULED</li>
<li>A pure electric vehicle uses an electric motor for propulsion, powered by energy stored in a battery.&nbsp;No petrol or diesel is used </li>
<li>A plug-in hybrid electric vehicle uses a rechargeable battery pack that can be charged from an external source in addition to a conventional petrol or diesel engine </li>
<li>The Euro 5 standard would be met by any car registered as new with the DVLA on or after 1 January 2011 and any van registered as new on or after 1 January 2012. This is a European Union standard that limits the levels of air pollutant emissions for new vehicles sold in Europe, with which all vehicles manufacturers must comply </li>
<li>Cars currently qualify for the GVD if they emit 100g/km of CO2 or less and meet the Euro 5 standard for air quality </li>
<li>The Ultra Low Emission Discount continues to offer a technology neutral approach and, unlike the GVD, both cars and vans that meet the emissions criteria would be eligible for the discount. Including vans in the discount ensures that the discount encourages the uptake of ultra low-emission commercial vehicles </li>
<li>The&nbsp;ULED will be introduced on 1 July 2013 </li>
<li>The GVD and EVD will be closed to new registrations on 28 June 2013 </li>
<li>Owners of vehicles currently registered for the GVD will have to pay the full daily Congestion Charge from 24 June 2016 </li>
<li>Vehicles registered for the current EVD would automatically qualify for the new ULED.&nbsp;Drivers of these vehicles would not need to take any action as TfL will automatically transfer the vehicle to the new discount type.&nbsp; Drivers would be required to pay the annual renewal fee of &pound;10 when their discount becomes due for renewal, in keeping with other types of discounts </li>
<li>CC Auto Pay was introduced following the Mayor's manifesto commitment to make the charge easier to pay </li>
<li>CC Auto Pay is an automated payment system which automatically records the number of days a vehicle travels within the charging zone each month and bills the account holder's payment card accordingly.&nbsp;Drivers registered for CC Auto Pay avoid fines and pay a reduced daily charge of &pound;9. An annual &pound;10 registration charge per vehicle applies to register for CC Auto Pay</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Penalty charge has increased by &pound;10 Registrations to close for Green Vehicle Discounts (GVD) and Electric Vehicle Discounts (EVD); sunset period for owners of low-emission vehicles extended to 24 June 2016 Payments at shops and petrol stations to";}
        
        


 