


@{ViewBag.Title = "Consultation reveals continued support for new river crossings in east London ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Consultation reveals continued support for new river crossings in east London </h1>
        <div class="content-page-press-release">
        07 May 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The river crossings consultation report shows there is continued support for a new road tunnel between Silvertown and the Greenwich Peninsula and a new river crossing at Gallions Reach.
        
    </div>



 <div class="on-this-page">
<ul>
<li>The report is available online at <a href="http://www.tfl.gov.uk/rivercrossings">tfl.gov.uk/rivercrossings</a> </li></ul>
<p>Transport for London (TfL) has today published the findings of its river crossings consultation. </p>
<p>In October 2012 TfL launched the second phase of a public consultation on a proposed package of new river crossings between east and south east London&nbsp;-&nbsp;this closed on 1 February 2013 and the findings are now available in a report.</p>
<p>In total over 10,000 responses were received from the two consultations. </p>
<h4>More crossings needed</h4>
<p>More than 90 per cent of people from the initial consultation agreed there is a need for more river crossings in east and south east London. </p>
<p>The scale of demand to cross the eastern section of the River Thames can be seen every day, and this will only continue to increase with the population growth expected in this area.</p>
<p>The findings in the report show there is a high level of support for the option of a new road tunnel, between Silvertown and the Greenwich Peninsula, with 76 per cent of respondents supporting it. </p>
<p>This option could be delivered by 2021 if it is taken forward. Whilst a new ferry service at Gallions Reach which could be delivered by 2017 is supported by 51 per cent of respondents there is a higher level of support for a fixed link at Gallions Reach with 71 per cent of respondents preferring this option - even though it could not be delivered until after 2021. </p>
<p>A third of those that took part support user charging as a way to fund river crossings.</p>
<h4>Further consultations </h4>
<p>TfL is now considering the findings in the report. If a decision is taken to progress any of the proposed options further, more detailed consultations would take place.</p>
<p>TfL's Managing Director of Planning, Michele Dix said: 'We have delivered very significant public transport improvements providing better connections across the Thames in south and south east London, however with London's population potentially reaching 10 million by 2031, we recognise the importance that will be placed on transporting goods and services throughout east and south east London.</p>
<p>'The proposed additional road infrastructure is vital. Apart from the opening of the QEII Bridge at Dartford there has been no increase in the capacity of the highway network across the river in east London for nearly 50 years. </p>
<p>'We will review the river crossings consultation report findings to decide what the next steps will be. There will be further more detailed consultations if any of the proposals are taken forward.'</p>
<h4>Crossing congestion </h4>
<p>The crossings in the area are under significant strain, with delays at the Blackwall Tunnel averaging 20 minutes per vehicle during the morning peak. </p>
<p>Currently there are only a few routes for vehicles to choose from and some of those create indirect journeys across the river costing businesses money and time and discouraging investment. </p>
<p>Height restrictions at the Blackwall Tunnel further reduce the options available to vehicles. </p>
<p>Both the Blackwall Tunnel and Woolwich Ferry are operating under considerable stress and the new river crossings proposed would address these problems.</p>
<p>The consultation report and more information on TfL's proposed river crossings package are available at <a href="http://www.tfl.gov.uk/rivercrossings">tfl.gov.uk/rivercrossings</a></p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The earliest opening date for the proposed river crossings are 2017 for the Gallions Reach Ferry and 2021 for the Silvertown Tunnel. If a fixed link was constructed at Gallions Reach it could not be delivered until after 2021</li>
<li>The proposed tunnel at Silvertown would run underneath the River Thames connecting the Royal Docks with the Greenwich Peninsula. It would relieve pressure on the existing Blackwall Tunnel and would provide an alternate route across the river. The tunnel would be designed to carry all sizes of vehicles, including buses. This would help to alleviate the closures caused by over-height vehicles attempting to use the Blackwall Tunnel. In addition it would support the future development of these opportunity areas, which have the potential to accommodate 13,000 new jobs and 24,500 new homes over the next 20 years</li>
<li>The proposed vehicle ferry at Gallions Reach would provide a river crossing linking Beckton directly with Thamesmead at Gallions Reach, providing a much better connection, particularly for business related traffic. It could replace the Woolwich Ferry, offering a better frequency of service and increased capacity. It would take about 10 minutes to cross the Thames, including boarding time. A ferry at Gallions Reach would also have more space for vehicles waiting to board and this would allow queuing traffic to be managed more effectively, preventing ferry traffic delaying vehicles on the surrounding road network. <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The report is available online at tfl.gov.uk/rivercrossings Transport for London (TfL) has today published the findings of its river crossings consultation. In October 2012 TfL launched the second phase of a public consultation on a proposed package of";}
        
        


 