


@{ViewBag.Title = "Consultation opens on proposed routes for Crossrail 2";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Consultation opens on proposed routes for Crossrail 2</h1>
        <div class="content-page-press-release">
        14 May 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Crossrail 2 would create a new high frequency, high capacity rail line with shorter journey times between southwest and northeast London.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Proposed routes would help relieve congestion and provide a catalyst for new jobs and homes</li></ul>
<p>With London's population set to boom, plans are underway for a vital new rail line, Crossrail 2, in order to support this future growth. </p>
<p>Today the plans moved a step closer with Transport for London (TfL) and Network Rail launching a public consultation on the proposed routes. </p>
<p>With Crossrail already set to provide a 10 per cent increase to rail capacity in London, Crossrail 2 would add to this even further. </p>
<h4>Capacity boost to relieve congestion </h4>
<p>It would create a new high frequency, high capacity rail line with shorter journey times between southwest and northeast London. </p>
<p>It would help to relieve congestion on busy main line routes into central London and on the Underground network, while allowing communities around London to benefit from the creation of new jobs and new homes. </p>
<p>The Mayor of London, Boris Johnson said: 'Crossrail is set to revolutionise travel in the Capital, and with a predicted 10 million people expected to be living in London by 2031, pressing ahead with the next stage of the plan, Crossrail 2, is quite simply essential. </p>
<p>'In order to support this great Capital's bright future, we need to think ahead and not wait until our transport arteries are clogged up and restricting jobs and growth. </p>
<p>'That's why I am sending out a rallying cry for the public's support for this consultation - come and share your views so we can progress with Crossrail 2 as soon as possible.'</p>
<h4>Your opinion counts </h4>
<p>The consultation will seek the views of people in London and the southeast of England and will run from 14 May to 2 August 2013. </p>
<p>It aims to establish what level of support there is for the project and where the public and stakeholders would like Crossrail 2 to serve. </p>
<p>The public are encouraged to respond and share their views at <a href="http://www.crossrail2.co.uk">www.crossrail2.co.uk</a>&nbsp; <br>&nbsp;<br>Even with the Tube upgrade works and the delivery of Crossrail additional capacity on the transport network is needed to cope with London's forecasted population growth. </p>
<p>Crossrail 2 could be operational in 2030 but it is essential that work continues now to meet this target so the future forecasted population and employment growth in London is supported by new transport infrastructure.&nbsp; </p>
<h4>Metro or Regional option </h4>
<p>A route for Crossrail 2, formerly known as the Chelsea-Hackney Line, has been kept free from any intrusive building development since 1991 and any new buildings along the route have been constructed to allow for a potential new railway line. </p>
<p>TfL is now reviewing this safeguarded route and has proposed two alternatives which would better meet the rail needs of the Capital in the future - a Metro option and a Regional option. <br>&nbsp;<br>The Metro option could offer a high frequency underground service across central London. </p>
<p>This option could be an underground railway and could operate between Wimbledon and Alexandra Palace. </p>
<p>The route would relieve congestion on trains and platforms on the Northern, Piccadilly and Victoria lines.<br>&nbsp;<br>The Regional option could benefit people in Hertfordshire, Surrey and beyond by enabling more trains to run on busy National Rail routes. This route could be a combined underground and overground railway and could operate from Alexandra Palace and stations in Hertfordshire to various locations in southwest London and Surrey.</p>
<h4>Planning ahead </h4>
<p>Transport for London's Commissioner, Sir Peter Hendy CBE said: 'It is vital for the UK economy that we get on and finish Crossrail and the upgrade of the Tube. </p>
<p>'It is equally important for us to look beyond that if we are to accommodate a population forecast to grow to 10 million by the early 2030s. </p>
<p>'Given the lead times needed, that means progressing with Crossrail 2 now as an essential element in maintaining London's status as a world city.'&nbsp;<br>&nbsp;<br>David Higgins, Network Rail Chief Executive, said: 'London's railways are already the busiest and most congested in the country, with many main lines already operating at, or close to, capacity. </p>
<p>'With the number of rail passengers in London predicted to grow by 30 per cent in the next twenty years, our plans to increase capacity through projects like Thameslink and Crossrail will make a real difference. </p>
<p>'But we must also press on with schemes such as Crossrail 2 to make sure public transport continues to support and drive economic growth in and around the Capital.'</p>
<p>Lord Adonis, Chairman of the Crossrail 2 Task Force for London First, said: 'Even with the significant investment already taking place in transport infrastructure, Crossrail 2 will be as essential as Crossrail for London to provide jobs and prosperity in the next generation. </p>
<p>'I am glad to see the Mayor taking forward preparations for Crossrail 2. Now we need a credible funding plan embracing the public and private sectors, with a view to construction in the 2020s.'</p>
<h4>Key infrastructure </h4>
<p>Baroness Jo Valentine, Chief Executive of London First said:&nbsp; 'We welcome the start of the consultation process for Crossrail 2 today which is a key piece of infrastructure needed for London.&nbsp; </p>
<p>'Even with the major transport programmes that are already planned or underway, by the late 2020s most tube and train carriages will feel like sardine tins for much of the day. </p>
<p>'That's bad for London of course, but as the capital is the engine room of the UK economy, it would be damaging to the country as a whole. </p>
<p>'We need everyone to get behind this project and make it happen.'</p>
<p>A report on the findings of this consultation will be presented to the Mayor of London in autumn this year and made publicly available on the consultation website. Further, more detailed consultations would then follow.&nbsp;</p>
<p>
<hr>

<p>
<h4>Notes to editors:</h4>
<ul>
<li>A flythrough of the proposed routes is available here: <a href="http://youtu.be/uKoUqjeBT0Q">http://youtu.be/uKoUqjeBT0Q</a> Please note a broadcast quality version is available upon request </li>
<li>Images of the routes we are consulting on are available at: <a href="http://www.flickr.com/tflpress">www.flickr.com/tflpress</a> </li>
<li>Further information on the Crossrail 2 consultation can be found at <a href="http://www.crossrail2.co.uk">www.crossrail2.co.uk</a> </li>
<li>In February London First produced a final report on their Crossrail 2 Task Force which is available here: <a href="http://londonfirst.co.uk/london-first-recommends-new-crossrail-2-route/">http://londonfirst.co.uk/london-first-recommends-new-crossrail-2-route/</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Proposed routes would help relieve congestion and provide a catalyst for new jobs and homesWith London's population set to boom, plans are underway for a vital new rail line, Crossrail 2, in order to support this future growth. Today the plans moved a";}
        
        


 