


@{ViewBag.Title = "Contract awarded for major construction work to increase Vauxhall Tube station capacity and make it step free";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Contract awarded for major construction work to increase Vauxhall Tube station capacity and make it step free</h1>
        <div class="content-page-press-release">
        15 May 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Station modernisation part of the work to support transformation of the Battersea Nine Elms area. Station to become step-free as part of plans for a more accessible interchange.
        
    </div>



 <div class="on-this-page">
<p>Vauxhall Tube station will be transformed over the next few years, with a &pound;36m modernisation by Transport for London (TfL) as part of wider investment designed to support the growth and regeneration of the surrounding area. </p>
<p>The modernisation of Vauxhall Tube station is an essential first phase of this strategy, which will provide a major increase in capacity and improve accessibility by making the station step-free, while keeping it open to passengers. </p>
<p>London Underground has now awarded the contract for the major improvements to Bechtel Ltd. Construction work will start in early 2014 and be completed by late 2015. </p>
<p>The number of passengers using Vauxhall Underground station is set to increase by 40 per cent over the next few years. </p>
<p>In order to create extra space, the ticket hall will be reconfigured to allow for more ticket gates and wide-aisle gates allowing disabled passengers and those with buggies or heavy luggage to travel more easily and reducing congestion within the station.</p>
<p>The station, its subways and stairways will be completely refurbished and a lift will be installed between the ticket hall and platforms. </p>
<p>This, combined with the existing lift from the bus station to the Tube ticket hall, will deliver step-free access to Victoria line trains. </p>
<p>Network Rail has almost completed the National Rail station's upgrade, including new lifts, which are already in operation, so once the Tube station lift is completed it will create a fully accessible interchange between rail bus and Tube.<br>&nbsp;<br>The total project cost of the Vauxhall Tube station improvements has been reduced by more than &pound;9m from &pound;45m to around &pound;36m because of a more cost effective construction method which also reduces environmental impact. </p>
<p>This includes building a lift shaft from below ground level and utilising sprayed concrete lining techniques, resulting in savings in both utility diversions and construction costs.</p>
<p>The works to improve Vauxhall station are part of TfL's focus on investing in transport projects across London that will support economic growth including up to 25,000 jobs and 16,000 homes in the Vauxhall, Nine Elms and Battersea areas. </p>
<p>Vauxhall is designated as one of London's Opportunity Areas, and is set to benefit from huge investment over the coming years - with major developments planned for the Nine Elms area. </p>
<p>This includes projects to extend the Northern line to Battersea, transform the gyratory, make major improvements for walking and cycling, enhance bus services as well as improving the Tube station.</p>
<p>TfL also plans to invest in the area through major improvements to cycling infrastructure - including a protected off-carriageway route to help cyclists cut across Vauxhall gyratory - as part of the building of Barclays Cycle Super Highway route 5. </p>
<p>TfL is also looking at a variety of future options for the roads and gyratory to improve connectivity with the river, reduce the dominance of traffic and make the area more pleasant for pedestrians. </p>
<p>The Government has agreed a loan of up to &pound;1bn that will allow London Underground to fund an extension of the Northern line to the Battersea Power Station site, which will be key to kick-starting regeneration in the area. </p>
<p>It will be a boost for developers preparing to invest and for local people who will benefit from the new Tube link. </p>
<p>The Northern line extension is subject to planning approval from the Secretary of State and once a funding package is in place then the construction of the extension could begin in 2015 with two new stations opening in 2020. </p>
<p>TfL submitted an application for a Transport and Works Act Order, which is required for infrastructure of this scale, on 30 April. </p>
<p>A public inquiry is likely to be held this autumn after which the Government will make a decision. </p>
<p>This is expected by autumn 2014.</p>
<p>David Waboso, London Underground's Capital Programmes Director, said: 'Vauxhall is a very busy Tube station, with about 21 million people using it annually, and is set to get busier. </p>
<p>'The modernisation will make the station step-free, give passengers more space and make journeys through the station quicker and more pleasant. </p>
<p>'The works, along with other TfL investment in improving the local transport network, will help support the regeneration of the area.</p>
<p>'Careful thought has been given to the environmental impact of the works and how we can reduce costs. </p>
<p>'The lift shaft will be constructed from below ground level at the side of the ticket hall to minimise the disturbance in the surrounding area. </p>
<p>'In addition, the shaft and connecting tunnels will be constructed using sprayed concrete lining techniques, which reduces the amount of excavated materials and associated haulage. </p>
<p>'This has already produced significant savings in both utility diversions and construction costs.'</p>
<p>Amjad Bangash, Managing Director of Bechtel's rail business, said: 'We're committed to the successful delivery of the Vauxhall Underground station upgrade, to which we bring strong ethical values, an unwavering focus on safety and quality, and a proven track record in delivery. </p>
<p>'This new contract builds on Bechtel's previous work with London Underground, successfully managing nearly 100 tube station upgrades, including a significant programme providing step-free access. </p>
<p>'We look forward to working in partnership with London Underground in its 150th year, its supply chain and our team members Gall Zeidler and Joseph Gallagher.'</p>
<p>The Tube is undergoing a huge and essential programme to renew and increase the capacity of its ageing infrastructure, which is vital to support the economic development and growth of the Capital and the UK. </p>
<p>Investment in the Capital's transport network is not only driving London's economy, but also creating tens of thousands of jobs across the UK through engaging contractors and suppliers.</p>
<p>This work will continue to improve performance and deliver reliable Tube services for Londoners - with faster and more frequent journeys, fewer delays and, ultimately, 30 per cent more service across the network. </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Vauxhall Tube station will be transformed over the next few years, with a &pound;36m modernisation by Transport for London (TfL) as part of wider investment designed to support the growth and regeneration of the surrounding area. The modernisation of";}
        
        


 