


@{ViewBag.Title = "Drivers advised to avoid A205 London Road in Forest Hill due to emergency sewer repairs";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Drivers advised to avoid A205 London Road in Forest Hill due to emergency sewer repairs</h1>
        <div class="content-page-press-release">
        09 May 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Lane restrictions in place for several days to allow Thames Water to carry out vital sewer repairs.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We will be working closely with Thames Water to ensure that their emergency repair works are completed as quickly as possible."</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">TfL's Managing Director of Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We will be working closely with Thames Water to ensure that their emergency repair works are completed as quickly as possible. 
                            
                        </p>
                    </div>
                
            
            
            <p> &nbsp;Pedestrian crossings outside Forest Hill station will also be affected<br> &nbsp;TfL is working with police, borough and other partners to minimise disruption</p>
<p>Transport for London (TfL) is advising drivers to avoid the A205 London Road in Forest Hill from 21:00 tonight (9 May) while emergency repairs are carried out by Thames Water on a collapsed sewer.</p>
<p>During the works, which may take several days of 24-hour working to complete, the A205 London Road will be restricted to one lane in either direction at the junction with Devonshire Road outside Forest Hill station. </p>
<h2>Alternative crossings</h2>
<p>There will also be no right turn from the A205 London Road into Dartmouth Road during these works.</p>
<p>Due to these lane closures, the existing pedestrian crossing facilities at this junction will need to be turned off and people wishing to cross the road will be directed to alternative nearby crossings. </p>
<p>Two bus routes -176 towards Penge and 197 towards Croydon - will be on diversion throughout the works. </p>
<p>They will both be diverted via Sydenham Hill and Kirkdale, and will be unable to serve London Road (between Sydenham Hill and Dartmouth Road), Forest Hill station and Dartmouth Road. Passengers are advised to use the nearest bus stops in Lordship Lane (at Wood Vale) or in Kirkdale (at the Woodman). </p>
<h2>Managing disruption</h2>
<p>TfL is deploying variable messaging signs on the A205 London Road and the surrounding areas, advising drivers to take other routes, and Traffic Police Community Support Officers will be on the scene during peak times to help manage any disruption. </p>
<p>TfL is working with Thames Water and the London Borough of Lewisham to minimise the impact and to ensure road users, local residents and businesses are kept informed.</p>
<p>TfL have also deferred other works that were planned in the area.</p>
<p>Drivers are advised to plan ahead, avoid the area and check the latest via the TfL website or by following &#64;tfltrafficnews on Twitter. </p>
<h2>As quickly as possible</h2>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: 'We will be working closely with Thames Water to ensure that their emergency repair works are completed as quickly as possible and would like to advise all drivers to avoid the area and take other routes where possible.&nbsp; </p>
<p>'Up to the minute travel information is available on the TfL website or by following &#64;tfltrafficnews on Twitter.'</p>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "&nbsp;Pedestrian crossings outside Forest Hill station will also be affected &nbsp;TfL is working with police, borough and other partners to minimise disruptionTransport for London (TfL) is advising drivers to avoid the A205 London Road in Forest Hill";}
        
        


 