


@{ViewBag.Title = "Funding secured to expand Europe's largest green bus fleet";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Funding secured to expand Europe's largest green bus fleet</h1>
        <div class="content-page-press-release">
        29 May 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        &pound;5m will help purchase four electric and 90 hybrid buses.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We will continue to increase our hybrid bus fleet and will seek, where possible, to trial exciting developments in zero emission electric technology."</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Weston</div>
            <div class="quotee-job-title">London Buses Operations Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We will continue to increase our hybrid bus fleet and will seek, where possible, to trial exciting developments in zero emission electric technology.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>More than 1,700 hybrid buses on streets of Capital by 2016</li></ul>
<p>Transport for London (TfL) has successfully bid for &pound;5m from the Department for Transport's (DfT) Green Bus Fund.&nbsp; </p>
<p>The majority of the money will be used, alongside existing TfL budget, to purchase 90 hybrid buses - that will bolster what is already Europe's largest fleet of green buses.&nbsp; </p>
<p>Around &pound;360,000 will be used in the purchase of four electric buses. </p>
<h2>Supporting bus companies</h2>
<p>These single-deck buses are entirely powered by electric motors and emit no harmful pollutants.&nbsp;</p>
<p>The buses will be trialled to establish whether the technology can undertake the rigours of operating in the Capital.&nbsp; </p>
<p>The DfT's Green Bus Fund was set up to support bus companies and local authorities to introduce low carbon vehicles that will have a positive effect on the environment.&nbsp;</p>
<p>The money from the Green Bus Fund is used to supplement existing budget and enables companies and local authorities to purchase greener vehicles in place of standard diesel vehicles.&nbsp; </p>
<h2>Green on the inside</h2>
<p>Since the creation of the Green Bus Fund, TfL has been awarded &pound;5m in 2009, &pound;8m in 2010 and &pound;5m in both 2011 and 2012.&nbsp;</p>
<p>This year will see a total of &pound;12m of DfT funding provided across the UK resulting in the introduction of 213 low-carbon vehicles - almost half of them in the Capital.&nbsp;&nbsp; </p>
<p>Mike Weston, London Buses Operations Director, said: 'London buses may be red on the outside but they are increasingly green on the inside.&nbsp;</p>
<p>'The Capital is leading the way on the introduction and operation of green buses and this has been recognised again this year with further funding from the Green Bus Fund. </p>
<h2>Increasing the green fleet</h2>
<p>'We will continue to increase our hybrid bus fleet and will seek, where possible, to trial exciting developments in zero emission electric technology.' </p>
<p>In 2016 there will be more than 1,700 hybrid buses will be in service on the streets of the Capital - representing 20 per cent of the total bus fleet (8,500 buses).&nbsp;</p>
<p>This will include 600 New Bus for London vehicles - that are the greenest diesel electric hybrid bus in the world.&nbsp;</p>
<p>In recent emissions tests a prototype bus, that had been in passenger service for eight months and that had driven more than 15,000 miles, was found to emit a quarter of the NOx and PM of a fleet average hybrid bus and 20 per cent less CO2.&nbsp; </p>
<p>When all 600 New Bus for London vehicles are in service in 2016 it will reduce CO2 emissions in the Capital by around 20,600 tonnes a year. </p>
<h2>Better fuel economy</h2>
<p>The remaining 1,100 hybrid buses are much cleaner, quieter and more efficient than their conventional diesel-powered counterparts.&nbsp;</p>
<p>Hybrid buses deliver a minimum 30 per cent reduction in carbon dioxide emissions and 30 per cent better fuel economy when compared to conventional diesel buses.&nbsp;&nbsp; </p>
<p>A number of zero emission hydrogen buses currently operate on route RV1, between Covent Garden and Tower Gateway.&nbsp;</p>
<p>Later this year, when eight buses are in passenger service, the route will become the first zero emission bus route in Europe.&nbsp; </p>
<p>In addition there are plans to trial two electric powered buses on routes 507 and 521.&nbsp;</p>
<p>The trial alongside the four electric buses funded by the Green Bus Fund will help assess whether this technology can cope with the rigours of operating on a busy London route. </p>
<h2>Innovative local measures</h2>
<p>The operation of a green bus fleet is one element of a comprehensive set of measures that the Mayor has introduced to tackle air pollution.</p>
<p>Over the past four years the Mayor has tightened the standard of the Low Emission Zone, further reducing the emissions of around 150,000 vehicles.&nbsp;</p>
<p>He has introduced the first age limits to retire the oldest and most polluting taxis; and has delivered a package of innovative local measures through his Clean Air Fund.&nbsp;</p>
<p>The Mayor has also announced plans to introduce an Ultra Low Emission Zone in central London and has tightened the requirements for vehicles to qualify for a hundred per cent discount to the Congestion Charge.&nbsp;&nbsp;&nbsp; </p>
<p>
<hr>

<p>
<p><strong>Notes to editors: </strong></p>
<p> &nbsp;The DfT's Green Bus Fund press release can be found at: <a href="https://www.gov.uk/government/news/12-million-boost-for-greener-bus-journeys">https://www.gov.uk/government/news/12-million-boost-for-greener-bus-journeys</a>&nbsp;&nbsp; <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "More than 1,700 hybrid buses on streets of Capital by 2016Transport for London (TfL) has successfully bid for &pound;5m from the Department for Transport's (DfT) Green Bus Fund.&nbsp; The majority of the money will be used, alongside existing TfL budget,";}
        
        


 