


@{ViewBag.Title = "London Overground puts music on the tracks";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Overground puts music on the tracks</h1>
        <div class="content-page-press-release">
        07 May 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The London Overground rail network in east London will become a travelling stage this Saturday when it will host part of the inner-city music festival, Sound Tracks.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            No one else has ever been given permission to put on an event like this, so it's a unique opportunity to see the transport system completely, and enchantingly, transformed.
                            
                        </p>
                    </div>
                
            
            
            <p>With some of London Overground's services hosting live acts for festival goers moving between concert venues, the trains will become an integral part of the Sound Tracks Festival.</p>
<p>Acting Director for London Rail, Jonathan Fox, said: 'We are pleased to continue to support local arts and culture initiatives along London Overground's East London route which from its launch, has been dubbed the Culture Line.</p>
<p>'With its fast, frequent, turn up and go services, London Overground has been an unqualified success for commuters and residents alike as well as offering great off-peak leisure time connections to many of the capital's suburban art galleries and museums. </p>
<p>'Now we can add Sound Tracks festival and its diverse collection of acts - classical, jazz, folk, indie and pop - which offer something for everyone, to that cultural rail trail.'</p>
<p>Festival co-director Amanda Lwin said: 'By re-imagining public transport, Sound Tracks puts the fun into functional and humanises public transport. </p>
<p>'No one else has ever been given permission to put on an event like this, so it's a unique opportunity to see the transport system completely, and enchantingly, transformed.'</p>
<p>Peter Austin, Manager Director for LOROL, which operates the London Overground on behalf of TfL, said: 'We're excited to be welcoming the performers and festival-goers onto the London Overground for this year's Sound Tracks Festival. </p>
<p>'Having extended the service from East to South West London last year, we are able to take the travelling stage into new communities and help keep everyone entertained as they move between venues.'</p>
<p>Sound Tracks Festival will be held at various venues between Dalston and Peckham on Saturday 11 May. </p>
<p>Up to 30 acts - all of them acoustic - will play in the intimate setting of various London Overground services which connect the locations, between 12pm and the early evening on Saturday 11 May. </p>
<p>Sound Tracks have given TfL six free pairs of tickets to give away. Keep an eye on Twitter &#64;TfLOfficial to be in with a chance of winning. </p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>It is thought that this is the first time trains on a fully operational railway have been used as a venue for a music festival</li>
<li>Some, but not all, trains running between Dalston Junction and New Cross, New Cross Gate, West Croydon and Clapham Junction will have festival acts playing on them for part of their journey between 12pm and early evening</li>
<li>For more information please see <a href="http://soundtracksfestival.co.uk/">http://soundtracksfestival.co.uk/</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "With some of London Overground's services hosting live acts for festival goers moving between concert venues, the trains will become an integral part of the Sound Tracks Festival.Acting Director for London Rail, Jonathan Fox, said: 'We are pleased to";}
        
        


 