


@{ViewBag.Title = "Lowest ever rates of crime on the transport system";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Lowest ever rates of crime on the transport system</h1>
        <div class="content-page-press-release">
        29 May 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Crime on Transport for London's (TfL's) transport system has continued to fall - down 2.3 per cent on last year.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We want all users of our services to travel safely and with confidence and we will continue to work with our transport policing partners to ensure the network remains safe.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Rate of transport crime has fallen to 8.9 crimes per million passenger journeys </li>
<li>The risk of becoming a victim of crime while travelling on TfL's transport system is now at its lowest level </li></ul>
<p>New annual crime figures from the Metropolitan Police Service and British Transport Police (BTP) show crime on TfL's transport system has fallen 2.3 per cent compared to last year, with 802 fewer offences. </p>
<p>The figures, which cover 2012/13 (1 April 2012 to 31 March 2013), show that there are now just 8.9 crimes per million passenger journeys on the transport system, down from 9.4 in 2011/12. </p>
<p>Across the whole TfL network, robbery has dropped by 17.6 per cent with 520 fewer offences, criminal damage is down by 15.7 per cent with 410 fewer offences and violence against individuals has reduced by 6.8 per cent with 527 fewer offences. </p>
<h2>Significant reductions</h2>
<p>The figures also show that the rate of crime for buses, London Underground/Docklands Light Railway, Tramlink and London Overground is at its lowest level since recording began.</p>
<p>On the bus network there were just 8.6 crimes per million passenger journeys in 2012/13 - down from 9.3 in 2011/12 and less than half of what it was in 2005/06 when levels peaked and the rate was 21.6 crimes per million passenger journeys.&nbsp; </p>
<p>These successes build on the significant reductions seen over recent years and reflect the work done by TfL and its policing partners. </p>
<p>TfL's significant investment in transport policing and commitment to improve transport safety and security has ensured the transport network remains a safe and low crime environment. </p>
<h2>Continued to fall</h2>
<p>Levels of crime on the bus network fell by 7.4 per cent (1,604 fewer offences) in 2012/13 compared to the previous year.</p>
<p>Crime on the bus network has continued to fall every year for the last seven years and is now at its lowest ever level.&nbsp;</p>
<p>London Tramlink also saw a fall in crime of 4.5 per cent. </p>
<p>However, despite the low levels of crime on the transport system, increases have been seen in some crime types and on some parts of the network. </p>
<h2>Increasing passenger numbers</h2>
<p>London Underground and Docklands Light Railway have seen crime rise by 5.7 per cent compared to the previous year, however, the rate of crime remains at 9.6 crimes per million passenger journeys; its lowest ever level. </p>
<p>London Overground also saw an increase in crime of 18.3 per cent. </p>
<p>Despite this increase, which reflects a significant increase in passenger journeys of around 22 per cent and further expansion of the network, crime on London Overground remains at a very low level and is one of safest modes of travel in London. </p>
<p>In 2012/13, there were just 6.7 crimes per million passenger journeys. </p>
<h2>Crime reduction awareness</h2>
<p>Overall, the increases in crime on some parts of the network are largely due to a rise in theft driven by organised thieves targeting the London transport network. </p>
<p>TfL and its policing partners have put measures in place that include the redeployment of officers to theft hotspots, a new crime reduction awareness campaign and&nbsp; targeted police enforcement activity against organised thieves operating on the network such as Operation Magnum. </p>
<p>The BTP have recently launched a new initiative designed to crack down on the theft of passenger's property. </p>
<p>As part of the operation, plain-clothes pickpocket squad officers, who are highly trained in identifying pickpocket behaviour, are out on the Tube network every day spotting offenders and arresting them.&nbsp;</p>
<h2>Partnership working</h2>
<p>Siwan Hayward, Acting Director (CSEP) Community, Safety and Enforcement, Policing, TfL, said: 'Our transport network continues to be a safe, low-crime environment. </p>
<p>'Despite this we are not complacent and are putting in measures to effectively deal with the rise in theft on some modes of the network.</p>
<p>'We want all users of our services to travel safely and with confidence and we will continue to work with our transport policing partners to ensure the network remains safe.'</p>
<p>Commander Adrian Hanstock, MPS Safer Transport Command, said: 'The successful partnership of the MPS Safer Transport Command, Transport for London and British Transport Police continues in its aim to safeguard the travelling public from criminals and to keep them safe whilst using London's transport network. </p>
<h2>Fewer victims</h2>
<p>'Our ongoing programme of patrols and intelligence-led operations has clearly contributed to this drop in transport-related crime resulting in fewer victims of crime. </p>
<p>'We will continue to tackle bus-related crime to ensure the transport network remains a safe and low-crime environment for members of the public.'</p>
<p>BTP Chief Superintendent Paul Brogden said: 'BTP officers are out patrolling the Tube every day to deter crime and deal with those who do offend. </p>
<p>'Plain clothes officers are highly trained in spotting the kind of body language and behaviour that shows someone is intent on theft.</p>
<p>'Operation Magnum launched just a few weeks ago to tackle theft and already we're arresting more offenders. </p>
<p>'We ensure anyone who is arrested for theft on the Tube is put before the courts as quickly as possible - custodial sentences are now the norm.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Take a look at the annual crime statistics bulletin <a href="http://www.tfl.gov.uk/corporate/about-tfl/19385.aspx">tfl.gov.uk/corporate/about-tfl/19385.aspx</a> </li>
<li>Tips for keeping your property safe on London's Tubes and trains: 
<ul>
<li>Keep purses secure and carry wallets in an inside pocket </li>
<li>Zip up hand and shoulder bags </li>
<li>Carry bags in front of you with flaps against your body </li>
<li>Keep straps short and bags tucked under your arm </li>
<li>Don't display jewellery, mobile phones and MP3 players </li>
<li>Don't show your money — keep it safely in your pocket </li>
<li>Stay alert and aware of what's going on around you when using your phone in public<br></li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Rate of transport crime has fallen to 8.9 crimes per million passenger journeys The risk of becoming a victim of crime while travelling on TfL's transport system is now at its lowest level New annual crime figures from the Metropolitan Police Service and";}
        
        


 