


@{ViewBag.Title = "Mayor announces next bus route to be served by iconic New Bus for London ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces next bus route to be served by iconic New Bus for London </h1>
        <div class="content-page-press-release">
        29 May 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Route 11 to operate with new buses from 21 September.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The continued roll out of these green and high tech buses is beneficial to both our passengers and to air quality in the capital."</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">Transport for London's Managing Director of Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The continued roll out of these green and high tech buses is beneficial to both our passengers and to air quality in the capital.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>New buses will significantly cut carbon emissions and improve air quality </li>
<li>UK manufacture has created 50 jobs and boosted the economy&nbsp; </li></ul>
<p>The Mayor of London, Boris Johnson, has announced the second route in the capital to be served entirely by iconic New Bus for London vehicles.&nbsp; </p>
<p>Route 11 will convert to run with the new buses on Saturday 21 September.&nbsp;&nbsp; </p>
<p>During peak hours 25 of the new buses will be in passenger service to carry the 23,000 people who travel on the route each day.&nbsp; </p>
<p>Route 11 is operated by Go Ahead and runs from Liverpool Street Station to Fulham Broadway, via Bank, Mansion House, St Paul's, Ludgate Circus, Fleet Street, Aldwych, Trafalgar Square, Westminster, Victoria, Sloane Square and Chelsea.&nbsp; </p>
<p>The Mayor of London, Boris Johnson, said: 'I am very pleased that we can announce that route 11 will be next to be served by these beautiful, bespoke, economy-boosting buses.&nbsp; </p>
<p>'They have world-leading environmental credentials and offer an unparalleled passenger experience.' </p>
<p>Leon Daniels, Transport for London's Managing Director of Surface Transport, said: 'These vehicles form the vanguard of a 600 strong group that will bolster what is already the largest fleet of hybrid buses in Europe.&nbsp; </p>
<p>'The continued roll out of these green and high tech buses is beneficial to both our passengers and to air quality in the capital.&nbsp; </p>
<p>'I look forward to them being an increasingly familiar sight and sealing their place as a transport icon.'</p>
<p>The New Bus for London is the greenest diesel electric hybrid bus in the world.&nbsp; </p>
<p>In recent emissions tests a prototype bus, that had been in passenger service for eight months and that had driven more than 15,000 miles, was found to emit a quarter of the NOx and PM of a fleet average hybrid bus and 20 per cent less CO2.&nbsp; </p>
<p>When all 600 New Bus for London vehicles are in service in 2016 it will reduce CO2 emissions in the capital by around 20,600 tonnes a year.</p>
<p>The buses are manufactured by the family-owned Wrightbus company in Northern Ireland.&nbsp; </p>
<p>The order for the 600 New Bus for London vehicles has resulted in the opening of a new chassis plant in Antrim and the safeguarding of 220 jobs, including 18 apprenticeships and the creation of 50 new jobs.&nbsp; </p>
<p>As well as the manufacture of the chassis and superstructure in Northern Ireland, a number of components for the new bus are made by companies from around the UK; including engines from Darlington, seats from Telford, seat moquette from Huddersfield, wheelchair ramps from Hoddesdon (Hertfordshire), destination blinds from Middleton near Manchester and flooring from Liskeard (Cornwall).&nbsp; </p>
<p>All of these companies have received a boost as a result of the new bus project.&nbsp;&nbsp;&nbsp; </p>
<p>Recently released figures show that investment in London's transport network is safeguarding jobs across the whole of the UK, with more than 60 per cent of TfL's spend through its supply chain going to suppliers outside of London.&nbsp; </p>
<p>Investment in London's transport network supports 40,000 jobs in the UK supply chain, with a further 19,000 supported in the supply chain within London.&nbsp; </p>
<p>The construction of Crossrail is also bringing huge benefits to UK plc.&nbsp;Throughout the project and its supply chain it is estimated that enough work will be generated to create the equivalent of 55,000 full time jobs.</p>
<p>
<hr>

<p>
<h4>Notes to editors: </h4>
<ul>
<li>The first bus route to be converted to operate entirely with New Bus for London vehicles will be the 24 - which runs between Hampstead Heath and Pimlico - from Saturday 22 June </li>
<li>The Wright Group was founded 1946 and is a family owned and managed company, has pioneered low floor buses in the UK, and has earned a reputation for producing vehicles which are stylish, durable, high in quality and packed with innovative features </li>
<li>Go-Ahead London comprises London Central, London General, Blue Triangle, Docklands Buses and East Thames Buses.&nbsp;It runs a fleet of over 1800 buses, representing over 19 per cent of the London bus market, and accounts for approximately 391 million bus journeys annually on over 140 day and night routes </li>
<li>Heatherwick Studio, which designed the bus, was established by Thomas Heatherwick in 1994. It is recognized for its work in architecture, urban infrastructure, sculpture, furniture design and strategic thinking. Team members come from disciplinary backgrounds that include architecture, product design, model making, fabrication, landscape design, fine art and curation</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "New buses will significantly cut carbon emissions and improve air quality UK manufacture has created 50 jobs and boosted the economy&nbsp; The Mayor of London, Boris Johnson, has announced the second route in the capital to be served entirely by iconic";}
        
        


 