


@{ViewBag.Title = "Mayor heads to Northern Ireland to meet bus workers who benefit from Capital's investment";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor heads to Northern Ireland to meet bus workers who benefit from Capital's investment</h1>
        <div class="content-page-press-release">
        10 May 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New bus is designed, engineered and manufactured in the UK.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London's transport network is the supply line for new jobs and growth around the whole of the United Kingdom."</div>
        <div class="quote-footer">
            <div class="quotee-name">Sir Peter Hendy CBE</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London's transport network is the supply line for new jobs and growth around the whole of the United Kingdom.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Order for 600 buses safeguards 220 jobs - including 50 new roles and 18 apprenticeships </li>
<li>Supply chain supports businesses from Cornwall to Darlington&nbsp; </li></ul>
<p>The Mayor of London is in Northern Ireland today (10 May) to open a manufacturing plant that will build the chassis for the New Bus for London.&nbsp; </p>
<p>The order for 600 of these new buses is set to provide 50 new jobs and the Mayor's visit highlights how investment in the Capital's transport system has the knock on benefit of providing jobs and growth throughout the rest of the UK.</p>
<p>Wrightbus, a family-owned company based in Ballymena, County Antrim, will build 600 of the Mayor's New Bus for London vehicles - the greenest diesel hybrid buses in the world - over the next three years. </p>
<p>The chassis plant, in Antrim, was only created after the Mayor's order for 600 new buses was placed.&nbsp; </p>
<p>There are currently around 40 people employed at the chassis plant and that will increase to around 90 people when full production is under way. </p>
<h2>Job creation</h2>
<p>As well as opening the new chassis plant the Mayor will travel to the main Wrightbus factory in Ballymena to view the full production line.&nbsp; </p>
<p>The Wright Group employs more than 1,400 local people and Transport for London's (TfL's) order of New Bus for London vehicles will sustain 220 jobs in the Wrightbus factory over the next three years.&nbsp; </p>
<p>The order has also resulted in the creation of 40 new jobs in the Wrightbus factory.&nbsp; </p>
<p>The fleet of New Bus for London vehicles will be supported by the Wrightbus Customcare after sales service - which will also expand its workforce with 10 new jobs.&nbsp; The new bus for London contract will also sustain 18 apprenticeships over the life of the contract, six per year over the three year contract. </p>
<h2>Wide range of suppliers</h2>
<p>New figures released by TfL show that investment in London's transport network is safeguarding jobs across the whole of the UK, with more than 60 per cent of TfL's spend through its supply chain going to suppliers outside of London.&nbsp; </p>
<p>Investment in London's transport network supports 40,000 jobs in the UK supply chain, with a further 19,000 supported in the supply chain within London.&nbsp; </p>
<p>TfL buys from a wide range of suppliers across the UK including rails from Scunthorpe, trains from Derby, signalling technology from Chard, pumping equipment from Shropshire, lubrication equipment from Liverpool and cable from Chester-le-Street.&nbsp;</p>
<p>The construction of Crossrail is also bringing huge benefits to UK PLC.&nbsp;</p>
<h2>Job generation potential</h2>
<p>Throughout the project and its supply chain it is estimated that enough work will be generated to create the equivalent of 55,000 full time jobs.</p>
<p>The Mayor of London, Boris Johnson, said: 'London's transport network is the supply line for new jobs and growth around the whole of the United Kingdom.</p>
<p>'We already support 40,000 jobs outside of the Capital and we believe we can create more.&nbsp; </p>
<p>'The programme of transport improvements we want to see in the Capital is bursting at the seams with job generation potential, and that is why protecting investment in London transport should be the Government's top priority as they consider how best to conduct this summer's spending review.'</p>
<h2>Apprenticeships across the country</h2>
<p>London's Transport Commissioner, Sir Peter Hendy CBE, said: 'This chassis plant and the Wrightbus main plant in Ballymena are a real demonstration of the important role investment in London's transport network plays in supporting jobs and growth throughout the UK.</p>
<p>'Sustained and long term investment is vital to our suppliers so they have the certainty to invest in jobs including apprenticeships across the country. </p>
<p>'London's population is increasing by the equivalent of one full Tube train of people every week.</p>
<p>'Without sustained investment we will not be in a position to keep pace with the Capital's population, which is expected to hit nine million by 2018.' </p>
<h2>Saving millions</h2>
<p>As well as the manufacture of the chassis and superstructure in Northern Ireland, a number of components for the new bus are made by companies from around the UK; including engines from Darlington, seats from Telford, seat moquette from Huddersfield, wheelchair ramps from Hoddesdon (Hertfordshire) and flooring from Liskeard (Cornwall).&nbsp; </p>
<p>All of these companies have received a boost as a result of the new bus project.&nbsp;&nbsp;&nbsp; </p>
<p>TfL recently confirmed that the final costs for the purchase of 600 New Bus for London vehicles, along with the way that the buses are being procured, means that millions of pounds will be saved over the life of the vehicles.&nbsp; </p>
<p>The new bus is also the greenest diesel electric hybrid bus in the world. It produces a quarter of the PM and NOx of the fleet average hybrid bus, and 20 per cent less CO2.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Mayor was joined on his visit by Sir Peter Hendy CBE, London's Transport Commissioner and Mark Nodder, Managing Director of The Wright Group </li>
<li>On 22 June the route 24 will become the first bus route in the capital to operate entirely with new buses.&nbsp; The route, which is operated by Metroline, runs between Hampstead Heath to Pimlico, via Camden, Trafalgar Square, Parliament Square, and Victoria.&nbsp;It operates 24-hours-a-day.&nbsp;During peak hours, 27 of the new buses will be in passenger service to carry the 28,000 people who use the route each day.&nbsp;A second bus route will be converted in the autumn </li>
<li>Approximately 200 new bus for London vehicles will be delivered to TfL in 2014, 250 in 2015 with the remainder in 2016 </li>
<li>The 600 buses represent a 200 per cent increase in the current hybrid bus fleet which is set to grow by a further 180 vehicles already on order and boosted by a commitment to deliver 600 conventional hybrids over the next three years.&nbsp;When the final batch of new bus for London vehicles is delivered in 2016 more than 1,600 hybrid buses (representing around 20 per cent of London's 8,500 strong bus fleet) will be in service on the streets of London </li>
<li>The Wright Group was founded 1946 and is a family owned and managed company, has pioneered low floor buses in the UK, and has earned a reputation for producing vehicles which are stylish, durable, high in quality and packed with innovative features.&nbsp;Wrightbus won a contract in 2009 to build eight prototypes with an option to produce the first 1,000 vehicles </li>
<li>Heatherwick Studio, which designed the bus, was established by Thomas Heatherwick in 1994.&nbsp;It is recognized for its work in architecture, urban infrastructure, sculpture, furniture design and strategic thinking.&nbsp;Team members come from disciplinary backgrounds that include architecture, product design, model making, fabrication, landscape design, fine art and curation </li>
<li>Metroline is a wholly owned subsidiary of Singapore based ComfortDelGro; one of the world's largest passenger land transport companies.&nbsp;Metroline's principal business is the provision of bus services under contract to London Buses, operating through an area that extends from North to West London, including Central London and the City </li>
<li>The contract, signed with UK bus manufacturer Wrightbus, includes a competitive, fixed price deal for the vehicles - removing the risk and uncertainty of higher production and material costs, and inflation over the next four years.&nbsp;The average price of a new bus over the life of the contract will be &pound;354,500 - which includes inflation, technical upgrades and mandatory changes including the legal requirement to fit Euro 6 engines to all new vehicles from 2014 </li>
<li>At today's prices the buses cost around &pound;326,000, which is, as TfL has always said, broadly comparable with a standard hybrid double deck bus.&nbsp;The price difference is accounted for by the much higher specification of the new bus compared to a standard hybrid bus.&nbsp;The new bus boasts a number of additional design features, including the innovative three-door, two-staircase design which allows quicker boarding and alighting at bus stops, helping to reduce overall journey times.&nbsp;The bus also heralds the return of the much loved open rear platform which allows passengers to hop-on or off, when a conductor is on board </li>
<li>The new bus is also the greenest diesel electric hybrid bus in the world. The new bus produces around four times less of the PM and NOx of the fleet average hybrid bus, and 20 per cent less CO2.&nbsp;It is also more fuel efficient.&nbsp;The fleet of 600 buses will reduce CO2 emissions in the Capital by almost 20,000 tonnes a year.&nbsp;The Euro 6 engine that will be fitted to the buses from 2014 will deliver even lower PM and NOx emissions </li>
<li>TfL fully intends that these new buses will operate for their entire working life - of at least 14 years - in the Capital which means that a multi-million pound saving will be delivered over the useful life of the buses, even taking into account the marginally higher initial cost of the buses </li>
<li>Estimates of jobs supported in the TfL supply chain were calculated independently by Regeneris<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Order for 600 buses safeguards 220 jobs - including 50 new roles and 18 apprenticeships Supply chain supports businesses from Cornwall to Darlington&nbsp; The Mayor of London is in Northern Ireland today (10 May) to open a manufacturing plant that will";}
        
        


 