


@{ViewBag.Title = "New buses deliver multi-million pound saving";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New buses deliver multi-million pound saving</h1>
        <div class="content-page-press-release">
        03 May 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Fixed-price contract with Wrightbus bears down on cost and removes risk
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Aside from its Hollywood blockbuster good looks, this bus offers an unparalleled passenger experience and is helping to improve the Capital's air quality."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Aside from its Hollywood blockbuster good looks, this bus offers an unparalleled passenger experience and is helping to improve the Capital's air quality.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Bulk order and ownership model to deliver significant contract savings </li>
<li>Buses to spend entire working life in the Capital</li></ul>
<p>Transport for London (TfL) has today confirmed that the final costs for the purchase of 600 new bus for London vehicles, along with the way that the buses are being procured, mean that millions of pounds will be saved over the life of the vehicles.</p>
<p>The contract, signed with UK bus manufacturer Wrightbus, includes a competitive, fixed price deal for the vehicles - removing the risk and uncertainty of higher production and material costs, and inflation over the next four years.&nbsp; </p>
<h2>Higher specification</h2>
<p>The average price of a new bus over the life of the contract will be &pound;354,500 - which includes inflation, technical upgrades and mandatory changes including the legal requirement to fit Euro 6 engines to all new vehicles from 2014.&nbsp; </p>
<p>At today's prices the buses cost around &pound;326,000, which is, as TfL has always said, broadly comparable with a standard hybrid double-deck bus.</p>
<p>The price difference is accounted for by the much higher specification of the new bus compared to a standard hybrid bus.</p>
<p>The new bus boasts a number of additional design features, including the innovative three-door, two-staircase design which allows quicker boarding and alighting at bus stops, helping to reduce overall journey times.&nbsp; </p>
<h2>Greenest hybrid </h2>
<p>The bus also heralds the return of the much-loved open rear platform which allows passengers to hop-on or off, when a conductor is on board.</p>
<p>The new bus is also the greenest diesel electric hybrid bus in the world. </p>
<p>The new bus produces around four times less of the PM and NOx of the fleet average hybrid bus, and 20 per cent less CO2.&nbsp;</p>
<p>It is also more fuel efficient.&nbsp; </p>
<h2>Bulk order</h2>
<p>The fleet of 600 buses will reduce CO2 emissions in the Capital by almost 20,000 tonnes a year.&nbsp; </p>
<p>The Euro 6 engine that will be fitted to the buses from 2014 will deliver even lower PM and NOx emissions. </p>
<p>As announced in September last year, TfL has decided to purchase these 600 buses direct from Wrightbus.&nbsp; </p>
<p>This has enabled TfL to get a lower unit price because of the bulk order, rather than having bus operators or leasing companies buying smaller batches of vehicles for use on individual routes.&nbsp; </p>
<h2>Earn their keep</h2>
<p>TfL fully intends that these new buses will operate for their entire working life - of at least 14 years - in the Capital, which means that a multi-million pound saving will be delivered over the useful life of the buses, even taking into account the marginally higher initial cost of the buses.&nbsp; </p>
<p>Mayor of London, Boris Johnson, said: 'We will ensure these buses more than earn their keep over the next few years.&nbsp; </p>
<p>'By keeping them in harness in the Capital for the entirety of their useful life, we will be extracting every last drop of value out of them.&nbsp; </p>
<p>'Aside from its Hollywood blockbuster good looks, this bus offers an unparalleled passenger experience and is helping to improve the Capital's air quality. </p>
<h2>Creating jobs</h2>
<p>'It also demonstrates that we, as a nation, remain a great force in design, engineering and manufacture.'&nbsp; </p>
<p>The NBfL project is also creating jobs and stimulating the UK economy.&nbsp; </p>
<p>The order for 600 buses - the largest order of hybrid buses in Europe - has created jobs at Wrightbus and in addition, many components of the new bus, including engines, chassis, superstructure and seats and wheelchair ramps, are manufactured in the UK.</p>
<p>The order of components from companies across the UK will also further stimulate the economy and sustain jobs.</p>
<p>
<hr>
<br><strong>Notes to editors:</strong> 
<p>
<ul>
<li>On 22 June the route 24 will become the first bus route in the Capital to operate entirely with new buses.&nbsp;The route, which is operated by Metroline, runs between Hampstead Heath to Pimlico, via Camden, Trafalgar Square, Parliament Square, and Victoria.&nbsp;It operates 24 hours a day.&nbsp;During peak hours, 27 of the new buses will be in passenger service to carry the 28,000 people who use the route each day.&nbsp;A second bus route will be converted in the autumn </li>
<li>Approximately 200 vehicles will be delivered to TfL in 2014, 250 in 2015 with the remainder in 2016 </li>
<li>The 600 buses represent a 200 per cent increase in the current hybrid bus fleet which is set to grow by a further 180 vehicles already on order and boosted by a commitment to deliver 600 conventional hybrids over the next three years.&nbsp;When the final batch of new bus for London vehicles is delivered in 2016 more than 1,600 hybrid buses (representing around 20 per cent of London's 8,500 strong bus fleet) will be in service on the streets of London </li>
<li>The Wright Group was founded 1946 and is a family owned and managed company, has pioneered low floor buses in the UK, and has earned a reputation for producing vehicles which are stylish, durable, high in quality and packed with innovative features.&nbsp; Wrightbus won a contract in 2009 to build eight prototypes with an option to produce the first 1,000 vehicles </li>
<li>Heatherwick Studio, which designed the bus, was established by Thomas Heatherwick in 1994.&nbsp; It is recognized for its work in architecture, urban infrastructure, sculpture, furniture design and strategic thinking.&nbsp;Team members come from disciplinary backgrounds that include architecture, product design, model making, fabrication, landscape design, fine art and curation </li>
<li>Metroline is a wholly owned subsidiary of Singapore based ComfortDelGro; one of the world's largest passenger land transport companies.&nbsp;Metroline's principal business is the provision of bus services under contract to London Buses, operating through an area that extends from North to West London, including Central London and the City<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Bulk order and ownership model to deliver significant contract savings Buses to spend entire working life in the CapitalTransport for London (TfL) has today confirmed that the final costs for the purchase of 600 new bus for London vehicles, along with the";}
        
        


 