


@{ViewBag.Title = "New school rate on the Emirates Air Line means pupils can swap classrooms for high-flying cabins";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New school rate on the Emirates Air Line means pupils can swap classrooms for high-flying cabins</h1>
        <div class="content-page-press-release">
        20 May 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Pupils from school years 1 to 11 can travel on the Emirates Air Line for just  &pound;1 when in a school group. History, science or design and technology can be learnt 90 metres above the River Thames on the Emirates Air Line.
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) has today announced a new school rate for pupils from school years 1 to 11 travelling on the Emirates Air Line in a school group. </p>
<p>The Mayor of London, Boris Johnson, has approved TfL plans which mean schools in all of the London Boroughs can book a return journey on the Emirates Air Line for just &pound;1 per student. </p>
<p>Boris Johnson, the Mayor of London said: 'What better way to learn about our city's fascinating history than by travelling at 90 metres above the Thames on the Emirates Air Line, marvelling at its sleek design, whilst our fine Capital unfolds underneath?</p>
<p>'I am delighted that with the introduction of this special rate even more children can now enjoy one of London's transporting triumphs!'</p>
<p>Danny Price, TfL's Head of the Emirates Air Line said: 'We have introduced the Emirates Air Line school rate with the Mayor of London because we want to inspire young people and encourage learning about the scheme as a new urban transport experience in London. </p>
<p>'The Emirates Air Line is supporting regeneration and playing a vital role in attracting investment to the area so it is important that young people, as the future users and designers of transport, can benefit and be a part of that.'</p>
<p>TfL's London Transport Museum has been working closely with schools to support exciting lesson plans for all ages. </p>
<p>The Emirates Air Line offers teachers a vast array of subject areas to choose from if they want to have a lesson in a cabin or include a visit to the Emirates Air Line as part of a school trip to the area. </p>
<p>Pupils can learn about the history of south and east London and the Olympic Legacy, the areas continuous regeneration and sustainability and the art, design and technology behind the Emirates Air Line.&nbsp; </p>
<p>Last week pupils from Sherington Primary School in Greenwich and Royal Docks Community School in Newham visited the Emirates Air Line.</p>
<p>Diane Atkinson, Head Teacher of Sherington Primary School in Greenwich said: 'The journey on the Emirates Air Line was an amazing opportunity for our children as part of their study of the local area.&nbsp; </p>
<p>'There are spectacular, unique aerial views of the river and surrounding landscape.&nbsp; </p>
<p>'The trip provided a perfect opportunity to study and discuss land use and the children had an exciting adventure on this unusual form of transport.'</p>
<p>Schools may also want to visit The O2 which is close to the Emirates Greenwich Peninsula Terminal and has the British Music Experience, an interactive exhibition about British music history. </p>
<p>The Crystal - a sustainable cities initiative by Siemens is next to the Emirates Royal Docks Terminal and is a great place for pupils to learn about innovative technologies that are driving future trends for a more sustainable world.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Emirates Air Line has already reached two million passenger journeys exceeding its first year target of 1.3 million journeys within just four months and customer satisfaction is high with passengers giving it a score of 93 out of 100 in a recent survey</li>
<li>  Find <a href="http://www.ltmuseum.co.uk/learning/schools/projects/emirates">learning information for teachers</a>&nbsp;</li>
<li>School group bookings can be made by calling: 020 3282 1030 9:00 to 17:00, Monday to Friday, or by emailing: <a href="mailto:EALGroups&#64;macemacro.com">EALGroups&#64;macemacro.com</a></li>
<li>The rate entitles pupils as part of a school group to make a single, return or roundtrip journey for &pound;1. A return with Oyster for a child aged&nbsp;five to 15 is &pound;3.20. The return cash fare is &pound;4.40</li>
<li>Read the <a href="http://www.ltmuseum.co.uk/learning/schools/projects/emirates">full terms and conditions</a> </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has today announced a new school rate for pupils from school years 1 to 11 travelling on the Emirates Air Line in a school group. The Mayor of London, Boris Johnson, has approved TfL plans which mean schools in all of the London";}
        
        


 