


@{ViewBag.Title = "Record-breaking week for bus journeys as passenger numbers continue to rise";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Record-breaking week for bus journeys as passenger numbers continue to rise</h1>
        <div class="content-page-press-release">
        16 May 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Estimated 49.5 million journeys made on London's bus network in one week - around half the number of all bus journeys in England. London's population increasing by the equivalent of two buses full of people every day.
        
    </div>



 <div class="on-this-page">
<p>A record-breaking week on London's bus network has seen passenger numbers reach their highest level since before 1960.&nbsp; </p>
<p>With an estimated 49.5 million journeys made between 28 April and 4 May, there are now as many bus journeys being made in London each week as in the rest of England combined. </p>
<p>The annual figure of around 2.3 billion passengers is 60 per cent above the levels that were seen as recently as 2000 and comes against the backdrop of London's continued population rise. </p>
<p>The city's population grew by a million between 2001 and 2011 and is expected to rise by a further million over the next decade - the equivalent of two buses full of people every day.</p>
<p>Transport for London (TfL) continues to invest in providing an extensive and affordable bus network capable of supporting the economic life of London; the engine of the UK economy.&nbsp;&nbsp; </p>
<p>The order for 600 innovative New Bus for London vehicles has fuelled the creation of a new chassis plant in Antrim, which will employ 90 people when full production is under way, will create 50 new jobs and will sustain 220 jobs in the Wrightbus factory in Ballymena over the next three years.&nbsp; </p>
<p>Investment in London's transport network is also safeguarding jobs right across the UK with more than 60 per cent of TfL's spend through its supply chain going to suppliers outside of London.&nbsp; </p>
<p>Investment in London's transport network supports 40,000 jobs in the UK supply chain, with a further 19,000 supported in the supply chain within London.&nbsp; </p>
<p>The Mayor of London, Boris Johnson, said: 'London's buses are the back bone of the Capital's transport system, and every day as many bus journeys are made in London as the rest of the country combined. </p>
<p>'That underlines the huge importance of continued investment in the bus network as London's population continues to grow. </p>
<p>'Without the efficient movement of people that the network allows London could simply not function as it does - driving the UK economy as it emerges from recession. </p>
<p>'As we invest we are not only keeping London moving but are also stimulating jobs and growth around the country as businesses across the land build, service and maintain the various vehicles and components that comprise our clean, green and accessible fleet.'</p>
<p>Leon Daniels said: 'London's population is rising at the equivalent of two buses full of people every day. </p>
<p>'It is therefore absolutely essential that we continue to invest to maintain an extensive, affordable and accessible bus fleet. </p>
<p>'Like passenger numbers, passenger satisfaction is also currently experiencing record highs, but we can only maintain this if we provide the network with the oil of sustained investment, and only through doing this will we keep London moving.'</p>
<p>Record ridership is being seen across all parts of London's transport network as London's population grows. </p>
<p>London Underground's end of year (2012/13) figures show that, yet again, passenger numbers on the network reached new levels, with 1.229 billion passenger journeys made, a five per cent increase on 2011/12.&nbsp; </p>
<p>Broadly as many journeys are made by Tube each day as the rest of the national rail network combined and reliability is at record levels.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>London's network is the most accessible in the world, with all buses low-floor and wheelchair-accessible</li>
<li>All vehicles also have iBus - audio and visual next-stop information which is of particular use for people with sight or hearing impairments</li>
<li>TfL recently announced that the plan to greatly improve the accessibility of bus stops has reached its first milestone - to make 70 per cent of stops fully accessible. Bus stop accessibility has improved dramatically over the past few years - rising from 29 per cent in 2008 to the current 70 per cent level.&nbsp;An injection of &pound;18m additional funding will ensure that at least 95 per cent of bus stops will be accessible by 2016</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A record-breaking week on London's bus network has seen passenger numbers reach their highest level since before 1960.&nbsp; With an estimated 49.5 million journeys made between 28 April and 4 May, there are now as many bus journeys being made in London";}
        
        


 