


@{ViewBag.Title = "Spring into summer with expert guides to enjoy London on foot ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Spring into summer with expert guides to enjoy London on foot </h1>
        <div class="content-page-press-release">
        22 May 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        35 guided walks across London on Saturday 25 May and Sunday 26 May with something for everyone to enjoy.
        
    </div>



 <div class="on-this-page">
<p>With summer trying its best to arrive it can only mean one thing; time to enjoy London on foot. </p>
<p>Join in one of 35 free guided walks taking place across London this weekend on Saturday 25 May and Sunday 26 May.</p>
<p>The Mayor and Transport for London (TfL) are sponsoring free walks with expert guides to help Londoners enjoy the bustling sights and sounds as well as the changing landscape of the capital.&nbsp; </p>
<p>This weekend's walks will help people appreciate how easy and enjoyable it is to walk around our great city.</p>
<h4>Explore London on foot</h4>
<p>Known as 'Spring into Summer weekend', the walks help Londoners discover the richness of landmarks in central London and the wealth of parks, rivers, canals, open spaces and hidden gems across the capital, with something suitable for all ages and abilities. </p>
<p>All walks are accompanied by a trained walk leader and experienced 'back marker' who ensures the rear of the group is not left behind.</p>
<p>The Mayor, TfL and London Boroughs are working to transform London to make it a city that is easier and more pleasurable to enjoy on foot. </p>
<p>A number of things are happening to achieve this, including new and improved public spaces, better walking routes that link places people walk to, and more routes away from traffic. </p>
<h4>Easy to find directions </h4>TfL and partners are also expanding the coverage of Legible London pedestrian signs to help people easily find their way around the city. 
<p>In the run up to the London 2012 Games TfL opened 40 new Greenways which are traffic-free paths to encourage walking and those learning or returning to cycling, and completed the Walk London Network of walking routes.&nbsp; </p>
<p>Earlier this year during another guided walking weekend known as Winter Wanders 3,464 people took advantage of the free walks on offer.</p>
<p>Ben Plowden, Director of Surface Planning at TfL, said: 'The amazing turnout of both runners and the cheering crowds at the Marathon in London last month is testimony of the great London 2012 Olympics and Paralympics Games legacy, during which a number of people varied how they travelled to and from venues, including walking.</p>
<p>'We are urging people to build on that by exploring London this weekend and putting a spring in their step by joining in one of the free guided walks happening across the capital.'</p>
<h4>Make new discoveries </h4>
<p>Anne Clark, Walk England Managing Director, said: 'The walks offer the perfect way to explore London and discover places and the stories associated with them. </p>
<p>'The enthusiasm and knowledge of the guides really brings the capital to life for locals and visitors alike. </p>
<p>'May is one of the best times to walk, and with so many different walks to choose from we're confident there really is something for everyone this weekend.'</p>
<p>The Spring into Summer weekend is organised by Walk England and funded by TfL. To find out more about the walks near you visit <a href="http://www.walklondon.org.uk">www.walklondon.org.uk</a></p>
<p>All walks start and finish either at, or within easy reach of public transport facilities, and explore sections of the city's seven most popular routes which are:</p>
<ul>
<li>Capital Ring Walk -15 easily walked sections combine to provide a 78 mile circular route around inner London - some of the attractions on this route include Eltham Palace, Richmond Park, Wimbledon Common, the Olympic Park and the Thames Barrier</li>
<li>Green Chain Walk - 50 miles of linked parks and open spaces that include&nbsp; Severndroog Castle, Crystal Palace Park and Oxleas Woods</li>
<li>Jubilee Walkway - 15 miles of path designed to connect London's key attractions and many of the city's most famous sights including Buckingham Palace, Trafalgar Square, Tower of London, Tower Bridge and St Paul's Cathedral</li>
<li>Lea Valley Walk - 18 miles of path following the river and canal in north east London, taking in Tottenham Marshes, Enfield Lock and Waltham Abbey</li>
<li>LOOP Walk (London Outer Orbital Path) - 152 miles of parks and paddocks including Hall Place, Wilberforce Memorial and Kenley Aerodrome;</li>
<li>Thames Path Walk - 40 miles of level walks from Hampton Court Palace, through the heart of London to Erith Marshes. Sights include the Houses of Parliament, Albert Bridge, Syon Park and Kew Gardens</li>
<li>The Jubilee Greenway Walk - Marking Her Majesty The Queen's Diamond Jubilee - 37 miles of path connect all the central London Games venues including the North Greenwich Arena, Greenwich Park, Horse Guards Parade, Hyde Park and Regent's Park. </li></ul>
<p>
<hr>
</p>
<h4>Notes to editors:</h4>
<ul>
<li>Over 612,000 walking maps, directions and audio guides are downloaded from Walk London's website annually resulting in more than 7million people on the network each year</li>
<li>Spring into Summer is held every last weekend in May and the other guided walking weekend known as Winter Wanders is held every last weekend in January. This year Winter Wanders recorded an additional 500 walkers on the 2012 figures</li>
<li>Greenways are traffic - free walking and cycling routes through parks, along canals and quiet streets, benefiting Londoners learning or returning to cycling and those who enjoy recreational cycling and walking. They are popular with all groups and abilities, in particular older people, children and disabled people </li>
<li>For more information on TfL's walking programme, visit <a href="http://www.tfl.gov.uk/walking">tfl.gov.uk/walking</a></li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "With summer trying its best to arrive it can only mean one thing; time to enjoy London on foot. Join in one of 35 free guided walks taking place across London this weekend on Saturday 25 May and Sunday 26 May.The Mayor and Transport for London (TfL) are";}
        
        


 