


@{ViewBag.Title = "TfL, VOSA and Metropolitan Police increase enforcement against dangerous commercial vehicles using Blackwall Tunnel";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL, VOSA and Metropolitan Police increase enforcement against dangerous commercial vehicles using Blackwall Tunnel</h1>
        <div class="content-page-press-release">
        22 May 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Memorandum of Understanding between Transport for London (TfL) and the Vehicle and Operator Services Agency (VOSA) will help further reduce unnecessary disruption through Blackwall Tunnel.
        
    </div>



 <div class="on-this-page">
<p>Weigh-in-motion detector and digital weigh bridge for commercial vehicles installed, helping to reduce incidents on vital traffic corridor.</p>
<p>
<hr>
</p>
<p>TfL and the VOSA today signed a Memorandum of Understanding for closer collaboration and data sharing as part of their continuous work to reduce the impact of dangerous and unroadworthy vehicles in London.</p>
<p>The agreement, which was today signed by London's Transport Commissioner, Sir Peter Hendy CBE, and Heather Cruickshank, Director of Operations at VOSA, will pave the way to allow TfL to provide details of every commercial vehicle involved in breakdowns and overheight collisions within Blackwall Tunnel to VOSA.</p>
<p>Currently, TfL write to the owner (rather than the driver) of a commercial vehicle that causes an incident within the Blackwall Tunnel. </p>
<p>However, this is only possible where the owner's details appear in the livery of a vehicle, which often only occurs in a handful of cases. </p>
<p>By providing the vehicle details to VOSA, more direct and appropriate action can be taken against the owners of these vehicles. </p>
<p>This can range from future enforcement activity to referral of the operator to the Traffic Commissioner, helping to further change driver behaviour across London.</p>
<p>In addition, TfL has invested in a new site office on the Blackwall Tunnel Northern Approach, which will be used by VOSA and the Metropolitan Police Service (MPS) to carry out enforcement activity. </p>
<p>A new automatic number plate recognition (ANPR) and weigh-in-motion system has also been installed on the A2 to identify potentially overweight vehicles in advance of approaching the tunnel. </p>
<p>Since September 2011, officers from the MPS Safer Transport Command Roads Policing Unit have been permanently based at the Blackwall Tunnel. </p>
<p>This dedicated team provides an immediate response to incidents, such as breakdowns and accidents, occurring in or around the tunnel. </p>
<p>More than 3000 vehicles have been inspected by officers in the last 20 months, of which more than 400 were found to be overweight. </p>
<p>Vehicles that are identified as potentially overweight will then be accurately weighed and inspected at the new site office. </p>
<p>Illegally overweight vehicles not only cause damage to the structure of the road, especially bridges and tunnels, thereby causing unnecessary disruption to road users, but also can severely damage the steering, suspension and brakes of the vehicle. </p>
<p>Removing overweight vehicles from the road network as quickly as possible will help further reduce the disruption these vehicles can create across London.</p>
<p>Sir Peter Hendy CBE said: 'Our new agreement with VOSA will allow us to work even more closely together than before. </p>
<p>'Traffic disruption and delays caused by unnecessary breakdowns or incidents are a pain for everyone, and this partnership working will help improve traffic flow on one of the busiest routes in the Capital.</p>
<p>'Furthermore, by providing additional checks against illegally overweight vehicles trying to use the Blackwall Tunnel, we can increase our direct action against dangerous operating practices and improve the Capital's roads for all.'</p>
<p>Heather Cruickshank, VOSA Director of Operations said: 'VOSA is pleased to be working with Transport for London to help target non-compliant commercial operators and drivers. </p>
<p>'Joint working with organisations such as the TFL helps VOSA work towards its aim of saving lives, cutting crime and protecting the environment.'</p>
<p>Simon Brown, Head of Safer Transport Command Roads Policing said: 'The Safer Transport Command is pleased be to be working with its TfL colleagues and stakeholders in this successful venture which will pay dividends in maintaining traffic flow and reducing tunnel closures because of unplanned incidents.</p>
<p>'With our Roads Policing Unit working at the tunnel we are on site to rapidly respond to breakdowns and collisions as well as providing a dedicated service of increased enforcement operations and stop-checks on potentially sub-standard vehicles to help prevent incidents from occurring in the first place.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The northbound Blackwall Tunnel opened on 22 May 1897. Originally built for horse-drawn carts and carriages, the northbound tunnel now serves as one of the key east London river crossings, and is used by up to 50,000 cars and lorries per day. The southbound tunnel opened in 1967 and also carries 50,000 vehicles per day</li>
<li>As well as the dedicated policing unit, in November 2011 TfL introduced an additional lane for Heavy Goods Vehicles with an Over-height Vehicle Detector on the northbound Blackwall Tunnel approach. This has helped to divert over-height vehicles away from the tunnel before they reach the entrance, reducing unnecessary delays</li>
<li>During the last two years, these measures have helped to reduce the number of incidents on the approach to the Blackwall Tunnel by a third and reduce the length of duration of road traffic incidents by around half, compared to the two year previous</li>
<li>Any letters sent to commercial vehicles will be copied to the relevant Traffic Commissioner for where the operator is based</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Weigh-in-motion detector and digital weigh bridge for commercial vehicles installed, helping to reduce incidents on vital traffic corridor.TfL and the VOSA today signed a Memorandum of Understanding for closer collaboration and data sharing as part of";}
        
        


 