


@{ViewBag.Title = "TfL launches Countdown Digital Sign service - offering real time bus arrival information in public spaces";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL launches Countdown Digital Sign service - offering real time bus arrival information in public spaces</h1>
        <div class="content-page-press-release">
        31 May 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New and innovative technology offered following successful trial.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Signs can be quickly and easily self-installed </li>
<li>Information tailored to meet local needs</li></ul>
<p>Transport for London has today launched a new Countdown Digital Sign service - providing a new way to deliver tailored live bus arrival information cheaply and effectively to a range of public locations, such as hospital waiting rooms, schools or shopping centre foyers.</p>
<p>The introduction of the Digital Sign service follows a successful trial in four locations which included Oaks Park High School in Newbury Park, Loxford School of Science and Technology in Ilford, Redbridge College in Romford and Gracefields Gardens Health and Social Care Centre in Streatham.&nbsp; </p>
<p>The trial demonstrated the signs worked well delivering clear, easily accessible information about local bus services, utilising existing IT and display equipment in public locations. </p>
<p>The technology can be self-installed using existing equipment&nbsp;- so it can be delivered at minimal cost to all.&nbsp; </p>
<p>The business or organisation is provided with a tailored web link via a dedicated URL* - that will give information for the bus stop or stops in the immediate vicinity. </p>
<p>An electronic map detailing the local area is also displayed, which is especially useful for passengers unfamiliar with the location.</p>
<p>Businesses or organisations interested in learning more about the service should email - <a href="mailto:Digisign.countdown&#64;tfl.gov.uk">Digisign.countdown&#64;tfl.gov.uk</a></p>
<p>The introduction of the Digital Signs service compliments the extremely popular 'Countdown' real time bus information service which was upgraded and relaunched in October 2011.&nbsp; </p>
<p>The service provides live bus arrival information via dot matrix signs at bus stops, the web, smart phones and SMS, and informs around 13 per cent of all bus journeys every day.&nbsp; </p>
<p>These numbers are growing daily, as more passengers appreciate the added convenience the service offers when getting around London.&nbsp; </p>
<p>Simon Reed, Head of Technical Services Group at London Buses, said: 'We hope the new Digital Sign service will help passengers make the most of London's extensive bus service.&nbsp; </p>
<p>'The service makes use of existing infrastructure that is already in place in many public spaces and can be delivered cheaply and quickly.&nbsp; </p>
<p>'It will help our passengers' access real time bus information away from their local stop which is especially helpful for those who may not have access to the Internet or a smart phone.'</p>
<p>TfL's ongoing digital commitment to supply API data feeds to app developers has also seen a large rise in the number smart phone applications.&nbsp; </p>
<p>With over 30 of these apps already available, which are in addition to TfL's free mobile site (<a href="http://m.countdown.tfl.gov.uk">http://m.countdown.tfl.gov.uk</a>). Live bus information is always available at passengers' fingertips 24 hours a day.</p>
<p>
<hr>

<p>
<h4>Notes to editors:</h4>
<ul>
<li>Access to 'Countdown' real time bus service information can be made via the TfL website, from a fixed computer or web enabled phone and involves three simple steps.&nbsp;Simply go to the TfL buses webpage for live bus information at <a href="http://www.tfl.gov.uk/buses">tfl.gov.uk/buses</a>; then enter a bus route, postcode, street name or bus stop code (these are clearly displayed at all bus stops or available on the TfL website) and view live bus arrival times, including bus destinations, for all services due in the next 30 minutes </li>
<li>Passengers without access to the internet can simply text the bus stop code to 87287 for detailed bus information at a small charge of 12p plus the network operator's standard SMS charge </li>
<li>Countdown real time bus arrival information is also available at 2,500 bus stops across the capital. New and improved roadside signs provide clear amber text on black background, of particular help to visually impaired passengers </li>
<li>*TfL charge &pound;240 per annum for the service to cover operational costs. This charge can be waived for public sector applications and other specific circumstances. </li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Signs can be quickly and easily self-installed Information tailored to meet local needsTransport for London has today launched a new Countdown Digital Sign service - providing a new way to deliver tailored live bus arrival information cheaply and";}
        
        


 