


@{ViewBag.Title = "TfL consults on proposed changes to bus routes in Hackney town centre ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL consults on proposed changes to bus routes in Hackney town centre </h1>
        <div class="content-page-press-release">
        01 May 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Buses will be re-routed as Mare Street (Narrow Way) is closed to traffic for a trial period.
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) has begun consulting on proposed changes to local bus services in Hackney town centre during the trial closure of Mare Street (Narrow Way).&nbsp; </p>
<p>This is currently used by southbound buses.</p>
<p>The trial closure is part of Hackney Council's wider plans to attract more visitors and customers to the area. </p>
<p>The trial is expected to last until early in 2014.</p>
<h3>Proposed bus route changes:</h3>
<p>Routes 38, 48, 55, 106, 242, 253, 254, 394, N38, N55, and N253 would be diverted along Dalston Lane and Amhurst Road</p>
<ul>
<li>Route D6 would start at Cambridge Heath, near Ash Grove. (Routes 48, 55, 106 and 254 provide alternatives along Mare Street)</li>
<li>The last stop on route W15 would be Hackney Town Hall (stop A) and the first stop would be at Morning Lane - Trelawney Estate (stop D)</li>
<li>Routes 30 and 276 remain unchanged</li></ul>
<h3>Affected bus stops:</h3>
<ul>
<li>The Narrow Way stop would be replaced by a stop on Amhurst Road opposite Hackney Central Station</li>
<li>Existing stop K in Amhurst Road for north or westbound buses would be relocated about 70 metres further along Amhurst Road</li>
<li>A new southbound stop would be installed on Dalston Lane</li></ul>
<p>TfL is seeking feedback from on these proposals; the closing date for comments is Thursday 30 May.</p>
<p>Changes would be introduced from Saturday 15 June, subject to feedback from the consultation and to the completion of associated enabling works.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Consultation documents can be found at <a href="https://consultations.tfl.gov.uk/buses/narrow-way">https://consultations.tfl.gov.uk/buses/narrow-way</a></li>
<li>The changes would be monitored and results would feed into the council's overall review of the trial</li>
<li>Copies of a letter detailing the plans and a detailed map are available in Hackney Central Library, Hackney Town Hall and the Hackney Service Centre at 1 Hillman Street<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has begun consulting on proposed changes to local bus services in Hackney town centre during the trial closure of Mare Street (Narrow Way).&nbsp; This is currently used by southbound buses.The trial closure is part of Hackney";}
        
        


 