


@{ViewBag.Title = "Thames Clippers Putney to Blackfriars River Bus service is a sail away success";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Thames Clippers Putney to Blackfriars River Bus service is a sail away success</h1>
        <div class="content-page-press-release">
        22 May 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passenger numbers more than double in first four weeks.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Extra services introduced for duration of RHS Chelsea Flower Show</li></ul>
<p>River Bus services between Putney and Blackfriars have seen record passengers numbers since Transport for London's appointment of KPMG Thames Clippers as the new operator of the route in April this year.</p>
<p>During the first four weeks of the enhanced service, Thames Clippers have seen passenger numbers rise from 2,700 to a record 6,400 - an increase of more than 130 per cent compared to the same period last year. </p>
<p>Transport for London and Thames Clippers have sought to deliver increased passenger convenience with faster journey times and more frequent River Bus services.&nbsp; </p>

<h4>Extra services </h4>
<p>Currently the operator provide two thirds more services on weekdays on modern, fully accessible, high speed catamarans.&nbsp; </p>
<p>Additionally, during the RHS Chelsea Flower Show extra River Bus services will be in operation during weekday mornings and the evenings to help visitors make the most of the show.&nbsp; </p>
<p>Full details are available at: <a href="http://www.thamesclippers.com/images/pdf/chelsea_flower_show_timetable.pdf">www.thamesclippers.com/images/pdf/chelsea_flower_show_timetable.pdf</a> </p>
<p>Andy Thompson, Head of London River Services, said: 'We are very pleased to see more passengers making the most of this improved River Bus service.&nbsp; </p>
<p>'With more regular services and modern state-of-the-art boats, it offers our passengers more choice and enables them to make the most of the river.'</p>

<h4>Use your Oyster</h4>
<p>Oyster is accepted on the route meaning passengers can use Pay as You Go to pay for their fares.&nbsp; </p>
<p>There is also a reduced fare for passengers with Travelcards.&nbsp;For regular passengers there is a range of competitive season tickets available on a weekly, monthly and yearly basis.</p>
<p>Transport for London and the Mayor of London are committed to making the most of the River Thames and to this end have launched a 'River Action Plan' that will see &pound;10m invested with the ambitious aim of increasing the number of people travelling on the river from 6.5 million to 12 million by 2020.</p>

<h4>Improvements </h4>
<p>The River Action Plan sets out a range of improvements to piers and, passenger information.&nbsp; </p>
<p>TfL will also seek to better promote river services and work more collaboratively with partners such as boat operators and London&nbsp;&amp; Partners.&nbsp; </p>
<p>As part of this plan TfL has already delivered real time next boat information to the majority of the piers served by River Bus services, allowing passengers to time their arrival at a pier to catch the next service.&nbsp; </p>
<p>In the future real time arrival information will also be available via a number of mobile phone apps.</p>
<p>
<hr>
<br>
<h4>Notes to editors: </h4>
<ul>
<li>This River Bus service serves the following piers - Putney, Wandsworth Riverside Quarter, Chelsea Harbour, Cadogan (Cheyne Walk), Embankment and Blackfriars </li>
<li>Passengers should use Cadogan Pier (Cheyne Walk) for the RHS Chelsea Flower Show </li>
<li>Live travel news is available at <a href="http://www.tfl.gov.uk/livetravelnews">tfl.gov.uk/livetravelnews</a> </li>
<li>Service updates are also available on Twitter &#64;TfLRiver and &#64;thamesclippers </li>
<li>Further information on services offered by London River Services is available at <a href="http://www.tfl.gov.uk/river">tfl.gov.uk/river</a> </li>
<li>London River Services owns and operates eight piers on the river: Westminster Millennium, Festival, Embankment, Millbank Millennium, Blackfriars Millennium, Bankside, Tower Millennium and Greenwich </li>
<li>People wishing to travel on the river can benefit from a third off the normal advertised adult and child fares on most services if they produce a valid Travelcard or Oyster card loaded with a valid Travelcard when purchasing a ticket. Pay as you go Oyster cards are accepted on Thames Clippers services </li>
<li>All London River Services piers are accessible and step-free at all states of the tide, allowing easy access for mobility impaired passengers. All KPMG Thames Clippers catamarans are fully accessible </li>
<li>The Mayor's 'River Action Plan' is available at: <a href="http://tfl.gov.uk/assets/downloads/river-action-plan.pdf">tfl.gov.uk/assets/downloads/river-action-plan.pdf</a> <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Extra services introduced for duration of RHS Chelsea Flower ShowRiver Bus services between Putney and Blackfriars have seen record passengers numbers since Transport for London's appointment of KPMG Thames Clippers as the new operator of the route in";}
        
        


 