


@{ViewBag.Title = "Tube smashes performance records in its 150th year";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube smashes performance records in its 150th year</h1>
        <div class="content-page-press-release">
        01 May 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More passenger journeys and trains run than ever before. Customer satisfaction at all-time high as delays fall to new low.
        
    </div>



 <div class="on-this-page">
<p>London Underground (LU) smashed all previous performance records during 2012/13, according to new figures released today by Transport for London (TfL).</p>
<p>The figures show that, yet again, passenger numbers on the Tube reached new levels, with 1.229 billion passenger journeys made, a five per cent increase on 2011/12.&nbsp; </p>
<p>The number of kilometres operated increased by 4.5 per cent to almost 76 million kilometres.</p>
<p>Reliability, as measured by the amount of delays to passengers, reached new levels of performance with the number of lost customers hours reduced by 20 per cent on last year's level, which itself was the lowest since the measure began in 1999. </p>
<p>LU's delivery of record reliability while carrying ever-increasing numbers is mirrored in independent customer satisfaction surveys, which this year have reached a new high of 84 out of 100. </p>
<p>2012/13 has been a memorable year for the Underground, in which London's transport network rose to the challenge of delivering a fantastic Olympic and Paralympic Games, and the Tube celebrated its 150th anniversary. </p>
<p>The year has been punctuated with royal visits, a recreation of the first steam run on the Metropolitan line and a series of celebratory events to mark the special year. </p>
<p>2013 has also seen peak frequency of 33 trains per hour introduced on the Victoria line, where passengers now enjoy the highest frequency train service anywhere in the UK. </p>
<p>Only four other metros in the world now operate any lines with a higher frequency than LU does on the newly-upgraded Jubilee and Victoria lines.</p>
<p>Across the network, delays to passengers have been reduced by 37 per cent since 2008/09, and 56 per cent since 2003. </p>
<p>The continuing trend of long-term improvement follows the success of the LU Reliability Programme.&nbsp; </p>
<p>LU continues to implement this programme to meet the Mayor's commitment of reducing delays by a further 30 per cent by 2015.</p>
<p>LU is focused on finding new ways of working and using the latest technology to improve Tube performance. </p>
<p>Over the last five years the reliability of the Tube's assets (trains, track and signalling etc) has improved faster than any other European or North American metro. </p>
<p>Mayor of London Boris Johnson said: 'It's been another stonking year for London and the Tube network, which has enabled the Capital to showcase itself to the watching world. </p>
<p>'With London due to grow by a city the size of Birmingham over the next decade it is imperative that we continue to see the sustained investment in our transport network in order to keep the Capital moving.'</p>
<p>Mike Brown, Managing Director of LU, said: 'London is the engine room of the UK economy and its transport network is what keeps it moving. </p>
<p>'Our investment to date has brought real improvements for customers - delays have been cut by 40 per cent since 2008 and modernisation of the Jubilee and Victoria lines means we can deliver faster, more reliable and more frequent services for the ever-increasing numbers of customers who rely on them.</p>
<p>'But continued investment in London's transport infrastructure is vital to keep pace with this growing demand. </p>
<p>'We have a comprehensive plan to deliver sustainable improvements with additional capacity and even higher levels of reliability. </p>
<p>'The delivery of that plan also provides for thousands of jobs and contracts worth billions for businesses across the UK, not just the Capital. </p>
<p>'We continue to drive efficiencies even as we deliver more, and consistent funding will allow us to do more of this in the future.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<p>See the <a href="http://www.tfl.gov.uk/assets/downloads/corporate/Item04-RUP-1-May-2013-Managing-Directors-Report.pdf">2012/13 year-end figures</a>.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground (LU) smashed all previous performance records during 2012/13, according to new figures released today by Transport for London (TfL).The figures show that, yet again, passenger numbers on the Tube reached new levels, with 1.229 billion";}
        
        


 