
    
  



@{ViewBag.Title = "Santander Cycles business accounts";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/cycling/santander-cycles/business-accounts";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
                 <li><a href="/modes/cycling/santander-cycles">Santander Cycles</a></li>
                
            
            
                <li><span class="last-breadcrumb">Santander Cycles business accounts</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Santander Cycles business accounts</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Santander Cycles bike-sharing scheme is a great way for you and your staff to get around. Simply hire a bike, ride it wherever you fancy, then return it to any docking station, 24 hours a day, 365 days a year.
        
      </div>
    
    <div class="on-this-page">
      
      
           
          <div class="image-box profile-pic">
    
        <img src="/cdn/static/cms/images/keatons-estate-agent-santander-image.jpg" alt="Staff from Keatons estate agents trying out Santander Cycles bikes" />
        
    </div>
   <div class="pull-quote">
    
        <div class="quote-body">"It's a lot quicker than driving and it's a lot easier, because you don't have to worry about parking. It can be difficult to park in this part of London."</div>
        <div class="quote-footer">
            <div class="quotee-name">Holly Gregory</div>
            <div class="quotee-job-title">Keatons estate agents, Shoreditch</div>
        </div>
    </div>
   

 
 <div>

<p>Give your organisation unlimited access to our cycle hire scheme. You can use the bikes for business travel or commuting, depending on the individual needs of your staff and your business.</p>

<h2>Business Account structure</h2>

<h3>Individual Business Account</h3>

<p>Whatever the size of your business, you can buy a cycle hire account for a staff member for &pound;90, giving them one year's bike access.</p>

<p>Simply purchase a set of promo codes -&nbsp;pass them on to your staff and they'll be able to register and link their personal bank account to the membership key.</p>

<p>This means your staff can make as many journeys as they like, and the first 30 minutes of each journey they make&nbsp;is included. Longer journeys cost &pound;2 for each extra 30 minutes or less, and will be taken from their bank account.</p>
</div>
 <div>

<h2>What's in it for your business?</h2>

<ul>
	<li><strong>Improve staff retention</strong><br />
	Studies show that staff turnover can be reduced by up to 13% by the introduction of a cycling scheme in the workplace</li>
	<li><strong>Increase productivity</strong><br />
	Research also suggests that staff walking or cycling to or from work reduces absenteeism, with active staff taking 27% fewer sick days</li>
	<li><strong>Sequential invoicing</strong></li>
	<li>Automated invoicing sent straight to your email and stored online, allowing you to keep track of your accounting with minimal administrative burden</li>
	<li><strong>Automated reporting</strong><br />
	Detailed reports outlining useful statistical data, as well as renewal and expiry dates, sent monthly to your admin's&nbsp;email</li>
	<li><strong>Corporate social responsibility</strong></li>
	<li>With more staff cycling you can substantially reduce your organisation's carbon emissions, help reduce congestion and improve the air quality in your area</li>
	<li><strong>Save space</strong><br />
	Encouraging cycle hire usage can reduce the requirement for car and private cycle parking spaces</li>
	<li><strong>Save money</strong><br />
	The cost of business travel may be a deductible expense for corporation tax purposes. Your business may be eligible for such a tax saving if you use a Santander Cycles Business Account for work purposes</li>
</ul>

<h2>What's in it for your staff?</h2>

<ul>
	<li><strong>Easy to use</strong><br />
	Once employees have a membership key they can hire a bike at any time, whether for commuting or to get to a business meeting, then return it to any docking station</li>
	<li><strong>A new benefit to your staff</strong><br />
	Most staff welcome the offer of new travel options</li>
	<li><strong>It saves money</strong><br />
	Commuting by bike can reduce your staff's travel costs. They won't have to buy or maintain a bike either, and all accounts include unlimited journeys of under 30 minutes</li>
	<li><strong>Health and fitness</strong><br />
	Cycling helps reduce weight, high blood pressure, the risk of heart disease and the most common form of diabetes</li>
</ul>
</div>
 <div>

<h2>Cycling in London</h2>

<p>Go to Cycling in London for information on how to make the most of cycling around the Capital. The section includes details about <a href="/modes/cycling/cycle-skills">cycle training</a> to improve your confidence and riding skills and <a href="/modes/cycling/cycles-on-public-transport">where you can take your cycle on public transport</a>.</p>

<h2>Contact us</h2>

<p>For any further enquiries please contact our Business Development team by email and they'll get in touch to answer any questions you may have.</p>

<p><strong>Email: </strong><a href="mailto:SantanderCyclesBusinessEnquiries&#64;tfl.gov.uk?Subject=Business%20enquiry">SantanderCyclesBusinessEnquiries&#64;tfl.gov.uk</a></p>

<p>To sign up for a Business Account, please call our registration team who will guide you through the process to open your Business Account.</p>

<p><strong>Telephone:</strong> 0343 222 0066 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)</p>
</div>
 
<div>



<h2>Cycle safety and insurance </h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/cycle-hire-safety-and-insurance-advice-for-businesses.docx">
    <div class="document-download-text">
        <p>Cycle Safety and Insurance</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 62KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        <div class="login-widget option-one moving-source-order">

    <h3>My account</h3>
    <a href="https://santandercycles.tfl.gov.uk/" class="primary-button">Sign in</a>
    
</div>
 
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes and maps</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycle-skills">Cycle skills</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycles-on-public-transport">Cycles on public transport</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycle-parking">Cycle parking</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/how-it-works">How it works</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/what-you-pay">What you pay</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/find-a-docking-station">Find a docking station</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/register-for-your-own-key">Santander Cycles membership</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/lost-stolen-or-faulty">Lost, stolen or faulty</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/community">Santander Cycles app</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/suggestions-and-complaints">Suggestions & complaints</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/business-accounts">Santander Cycles business accounts</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/blaze-laserlights">Blaze Laserlights</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/cycle_hire" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/cycle_hire" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/terms-and-conditions/cycle-hire-business-accounts" class="plain-button">Business Accounts terms &amp; conditions</a>
<a href="/modes/cycling/santander-cycles/community" class="plain-button">Santander Cycles app</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Sign up for a Santander Cycles business account";}
        
            
        


 