
            <div class="jp-bch-price-info-container"> 
 <div class="info-icon jp-bch-price-info-indicator"></div> 
 <div class="jp-bch-price-info"> 
 Remember, cycle hire journeys are only free for the first 30 minutes.<a href="/modes/cycling/santander-cycles/what-you-pay"> Find out more.</a> 
 </div> 
 </div>

  
 