
    
  



@{ViewBag.Title = "Santander Cycles membership";}
@{ViewBag.Keywords = "Cyclists,Cycling,TfL";}
@{ViewBag.Url = "/modes/cycling/santander-cycles/register-for-your-own-key";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
                 <li><a href="/modes/cycling/santander-cycles">Santander Cycles</a></li>
                
            
            
                <li><span class="last-breadcrumb">Santander Cycles membership</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Santander Cycles membership</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        If you use Santander Cycles regularly, you can become a member to make hiring bikes even quicker.
        
      </div>
    
    
      
      
           
      <div>

<h2>Why become a member?</h2>

<ul>
	<li>Get quicker access to Santander Cycles &#45; you don't need to use terminals</li>
	<li>Check your recent trips and charges</li>
	<li>See your monthly and yearly activity</li>
	<li>Buy your own key or get extra ones for friends and family (with online membership)</li>
</ul>

<h2>Cost of membership</h2>

<ul>
	<li>24 hour membership: &pound;2 for 24 hour access</li>
	<li>Yearly membership: &pound;90 (25p per day)</li>
</ul>

<p>If&nbsp;your journey is&nbsp;less than 30 minutes, you won't pay more. If it's longer&nbsp;than 30 minutes, you pay <a href="/modes/cycling/santander-cycles/what-you-pay">&pound;2 for every 30 minutes</a>.</p>

<h2>Students save 25%</h2>

<p>If you're 18 or over and studying in London, you can&nbsp;buy Santander Cycles yearly membership for &pound;67.50. To get your discount, <a href="https://www.myunidays.com/GB/en-GB/partners/tfl/view/online">log in to UNIDAYS</a>. You'll receive an email with your code which you can use when you <a href="https://santandercycles.tfl.gov.uk/Registration">buy yearly membership</a>.</p>

<ul>
</ul>

<h2>Get your membership</h2>

<p>You can get your membership by downloading the <a href="/modes/cycling/santander-cycles/community">Santander Cycles app</a>, or by <a href="https://santandercycles.tfl.gov.uk/Registration">creating an online account</a>.</p>

<h2>Related content</h2>

<ul>
	<li><a href="/corporate/terms-and-conditions/santander-cycles">Santander Cycles terms and conditions</a></li>
</ul>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        <div class="login-widget option-one moving-source-order">

    <h3>My account</h3>
    <a href="https://santandercycles.tfl.gov.uk/" class="primary-button">Sign in</a>
    <p>Not signed up? <a href="https://santandercycles.tfl.gov.uk/Registration">Become a member</a></p>
</div>
 
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes and maps</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycle-skills">Cycle skills</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycles-on-public-transport">Cycles on public transport</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycle-parking">Cycle parking</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/how-it-works">How it works</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/what-you-pay">What you pay</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/find-a-docking-station">Find a docking station</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/register-for-your-own-key">Santander Cycles membership</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/lost-stolen-or-faulty">Lost, stolen or faulty</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/community">Santander Cycles app</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/suggestions-and-complaints">Suggestions & complaints</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/business-accounts">Santander Cycles business accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/blaze-laserlights">Blaze Laserlights</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/cycle_hire" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/cycle_hire" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Regular users can get a key for quick access to Santander Cycles";}
        
            
        


 