
            <div> 
<h2>Suspended docking stations 
</h2> 
<ul> 
 <li>Westbourne Grove, Bayswater - repaving the footway</li> 
 <li>South Quay West, Canary Wharf - part-suspended due to building work</li> 
 <li>Putney rail station, Putney - urgent electricity supply works due to accident damage</li> 
 <li>Queensdale Road, Shepherd's Bush - part-suspended due to electrical works</li> 
 <li>Westfield eastern access road, Shepherd's Bush - electrical duct installation</li> 
 <li>New Cavendish Street, Soho - construction works</li> 
 <li>Wansey Street, Southwark - building works</li> 
</ul>

<h2>Removed docking stations due to Superhighway works</h2> 
<ul> 
 <li>Coburn Street, Bow </li> 
 <li>Sidney Street, Stepney</li> 
 <li>Altab Ali Park, Whitechapel</li> 
</ul> 
<p>Updated Friday 27 March</p> 
</div>

  
 