
    
  



@{ViewBag.Title = "What you pay";}
@{ViewBag.Keywords = "Cyclists,Cycling,TfL";}
@{ViewBag.Url = "/modes/cycling/santander-cycles/what-you-pay";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
                 <li><a href="/modes/cycling/santander-cycles">Santander Cycles</a></li>
                
            
            
                <li><span class="last-breadcrumb">What you pay</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>What you pay</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        You can hire a Santander bike from just &pound;2. Cycling is a great way to see amazing sights across London, so get pedalling!
        
      </div>
    
    
      
      
           
      <div>

<h2>How much does it cost?</h2>

<h3>1. Hire</h3>

<p>You pay &pound;2 to access the bikes for 24 hours.</p>

<h3>2. Ride</h3>

<p>You can make as many journeys as you like. If&nbsp;your journey is&nbsp;less than 30 minutes, you won't pay more. If it's longer&nbsp;than 30 minutes, you pay &pound;2 for every 30 minutes.</p>

<h3>3. Return</h3>

<p>You can return the bike at any time, as long as it's within 24 hours. You could be charged up to &pound;300 if you damage the bike or don't return it.</p>
</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="TiwSJb9Xox8" data-video-caption="What you pay to hire"></li>
  
  </ul>
</div>
</div>
 <div>

<h2>Get your bike quicker</h2>

<h3>Become a member</h3>

<p>If you <a href="/modes/cycling/santander-cycles/register-for-your-own-key">become a member</a>&nbsp;you can get your own key so you can hire a bike quickly. You can&nbsp;use the bikes for 24 hours from just &pound;2, or use the bikes all year round for &pound;90 (25p&nbsp;a day).</p>

<p>If you're a student and studying in London, you can get <a href="/modes/cycling/santander-cycles/register-for-your-own-key">25% off yearly membership</a>.</p>

<h3>Download our app</h3>

<p>Our <a href="/modes/cycling/santander-cycles/community">Santander Cycles app</a> makes it even easier to hire a bike.</p>

<p><a href="https://itunes.apple.com/gb/app/santander-cycles/id974792287?mt=8"><img alt="Apple App Store" src="/cdn/static/cms/images/appstorelogo.jpg" /> </a>&nbsp;<a href="https://play.google.com/store/apps/details?id=uk.gov.tfl.cyclehire&amp;hl=en_GB"><img alt="Google Play Store" src="/cdn/static/cms/images/google-play-logo.jpg" /> </a></p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        <div class="login-widget option-one moving-source-order">

    <h3>My account</h3>
    <a href="https://santandercycles.tfl.gov.uk/" class="primary-button">Sign in</a>
    <p>Not signed up? <a href="https://santandercycles.tfl.gov.uk/Registration">Become a member</a></p>
</div>
 
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes and maps</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycle-skills">Cycle skills</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycles-on-public-transport">Cycles on public transport</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycle-parking">Cycle parking</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/how-it-works">How it works</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/what-you-pay">What you pay</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/find-a-docking-station">Find a docking station</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/register-for-your-own-key">Santander Cycles membership</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/lost-stolen-or-faulty">Lost, stolen or faulty</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/community">Santander Cycles app</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/suggestions-and-complaints">Suggestions & complaints</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/business-accounts">Santander Cycles business accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/blaze-laserlights">Blaze Laserlights</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/cycle_hire" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/cycle_hire" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find the cost of hiring a Santander Cycle";}
        
            
        


 