
    
  



@{ViewBag.Title = "Design & content";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/suppliers-and-contractors/digital-design-toolkit/design-and-content";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/suppliers-and-contractors/index">Suppliers & contractors</a></li>
                
            
                 <li><a href="/info-for/suppliers-and-contractors/digital-toolkit">Digital toolkit</a></li>
                
            
            
                <li><span class="last-breadcrumb">Design & content</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Design & content</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The look and feel of a site contribute greatly to a good user experience. We provide a number of standards defining the use of design elements (including photography and video) and our requirements for page copy.
        
      </div>
    
    
      
      
           
      
<div>



<h2>Design</h2>



    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/information-architecture-principles.pdf">
    <div class="document-download-text">
        <p>Information architecture principles</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 88KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/design-style-guide.pdf">
    <div class="document-download-text">
        <p>Design style guide</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.58MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.58 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/onl-std-081-brand-iconography-standard.pdf">
    <div class="document-download-text">
        <p>Brand iconography standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 307KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/onl-std-013-digital-photography-standard.pdf">
    <div class="document-download-text">
        <p>Digital photography standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.64MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.64 -->
 

<a class="document-download-wrap zip" href="/cdn/static/cms/documents/onl-res-129-image-framing-tool.zip">
    <div class="document-download-text">
        <p>Image framing tool</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            ZIP 600KB
            
        </p>
    </div>
    <div class="document-download-icon download-zip">
    </div>

</a>

<!-- 0.59 -->
 
</div>

</div>
 <div class="vertical-button-container">



<a href="/info-for/suppliers-and-contractors/digital-design-toolkit/digital-accessibility-standard"  class="plain-button">Digital accessibility standard</a>

</div>

<div>



<h2>Content</h2>



    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pdfs-and-attachments-standard.pdf">
    <div class="document-download-text">
        <p>PDFs and attachments standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 132KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/onl-std-077-short-url-and-domain-name-standard.pdf">
    <div class="document-download-text">
        <p>Short URL and domain name standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 171KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/onl-std-016-digital-promotions-standard.pdf">
    <div class="document-download-text">
        <p>Digital promotions standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 716KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.70 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/onl-std-014-digital-content-standard.pdf">
    <div class="document-download-text">
        <p>Digital content standard </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 76KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/digital-advertising-standard.pdf">
    <div class="document-download-text">
        <p>Digital advertising standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.03MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-editorial-style-guide.pdf">
    <div class="document-download-text">
        <p>Editorial style guide</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 202KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/advertising-and-information-standard.pdf">
    <div class="document-download-text">
        <p>Advertising and service information standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.10MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/social-media-standard.pdf">
    <div class="document-download-text">
        <p>Social media standard </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 136KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/youtube-standard.pdf">
    <div class="document-download-text">
        <p>YouTube standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 149KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/onl-gui-009-content-management-system-guide-for-editors.pdf">
    <div class="document-download-text">
        <p>Content management system (CMS) guide for editors</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 646KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.63 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/suppliers-and-contractors/index" class="heading">
                    <h2 id="sub-menu-heading">Suppliers & contractors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/become-a-supplier">Become a TfL supplier</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/opportunities">Find contract opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/recieving-orders-and-getting-paid">Invoicing and getting paid</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/what-we-buy">What we buy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/engineering-standards-challenge">Engineering Standards Challenge</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-relations">Supplier relations</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-toolkit">Digital toolkit</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/how-we-work">How we work</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/understanding-our-users">Understanding our users</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/design-and-content">Design & content</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/digital-accessibility-standard">Digital accessibility standard</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/editorial-style-guide">Editorial style guide</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/technical">Technical</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/testing-and-assurance">Testing & assurance</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/support-and-maintenance">Support & maintenance</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/design-standards-and-licensing">Design standards & licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-buses-tenders">London Buses tenders</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-service-permits">London Service Permits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-handbook">LU Supplier Handbook</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/traffic-management">Traffic management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/tfl-supplier-awards">TfL Supplier Awards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/zero-harm-forum">Zero Harm Forum</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We provide a number of standards defining the use of design elements (including photography and video) and our requirements for page copy. ";}
        
            
        


 