
    
  



@{ViewBag.Title = "Digital accessibility testing standard";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/suppliers-and-contractors/digital-design-toolkit/digital-accessibility-testing-standard";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/suppliers-and-contractors/index">Suppliers & contractors</a></li>
                
            
                 <li><a href="/info-for/suppliers-and-contractors/digital-toolkit">Digital toolkit</a></li>
                
            
                 <li><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/testing-and-assurance">Testing & assurance</a></li>
                
            
            
                <li><span class="last-breadcrumb">Digital accessibility testing standard</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Digital accessibility testing standard</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We want TfL's digital services to be accessible and usable for everyone. As well as meeting the requirements of the Equality Act 2010, all of our online content and services must meet the AA level of the WCAG 2.1 Guidelines.
        
      </div>
    
    <div class="on-this-page">
      <p>Accessibility testing is carried out during the design and development phases to ensure content and functionality are useful in the real world for users with access needs, over and above the <a href="http://www.w3.org/TR/WCAG21/">WCAG 2.1 guidelines</a>.</p>

<p>We comply with the new <a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps">Accessibility requirements for public sector websites and apps</a>.</p>

<ul>
	<li>All public sector websites published after 23 September 2018 must comply with the new government accessibility regulations by 23 September 2019</li>
	<li>Existing websites must comply with the regulations by 23 September 2020</li>
	<li>Web based or native apps must comply with the regulations by 23 September 2021</li>
</ul>

<p>These standards apply to all desktop, tablet and mobile website, web app and native app experiences.</p>

<h2>Requirements</h2>

<p>You must test all new tfl.gov.uk sites and services against the scope defined below, making use of the entry and exit criteria, and scoring defects using the severity criteria.</p>

<p>Testing must be carried out by a TfL nominated service provider.</p>

<h2>Scope</h2>

<ul>
	<li>Validate compliance&nbsp;with WCAG 2.1 Level AA (all new developments)</li>
	<li>Expert review and testing with disabled users (annual accessibility audit and major developments, all new developments)</li>
</ul>

<h2>Entry criteria</h2>

<p>Development must include compliancy to WCAG 2.1 Level AA in the definition of done for agile and waterfall product development.</p>

<p>Development must be at a suitable level for testing.</p>

<p>The user-testing recruitment spec must include users with a broad range of accessibility issues including:</p>

<ul>
	<li>Cognitive and learning disabilities such as dyslexia or attention deficit disorders</li>
	<li>Visual impairments such as total and partial blindness, colour blindness, poor vision</li>
	<li>Auditory disabilities which can also affect language</li>
	<li>Motor skill impairments such as those affected by arthritis, strokes, RSI</li>
</ul>

<p>You must include a range of popular assistive devices when carrying out accessibility testing:</p>

<ul>
	<li>Screen readers (eg JAWS, NVDA)</li>
	<li>Screen magnifiers (eg Zoom Text, operating system screen magnifiers)</li>
	<li>Voice recognition (eg Dragon Naturally Speaking)</li>
	<li>Alternative input devices (eg keyboard only, track balls, joysticks)</li>
</ul>

<p>It is preferable for accessibility user-testing to occur in the user's home environment, where their setup may be more accurate.</p>

<h2>Exit criteria</h2>

<ul>
	<li>Run all tests to completion</li>
	<li>Record all compliancy passes and failures</li>
	<li>Report on disability testing with suggested fixes and a clear overview of the disabilities and devices tested</li>
</ul>

<h2>Defects</h2>

<h3>Sev 1:</h3>

<ul>
	<li>Less than 70% of WCAG 2.1 AA checkpoints met extreme inconvenience - will prevent access to sections of the site or the ability to perform required functions</li>
	<li>Users cannot use the system</li>
</ul>

<h3>Sev 2:</h3>

<ul>
	<li>70%-90% of WCAG 2.1 AA checkpoints met</li>
	<li>Major inconvenience - an issue that affects a central requirement, user can proceed with some limitations - affects some users</li>
	<li>Use of the page component or element causes access problems more than 40% of the time (four out of 10 users report the problem)</li>
</ul>

<h3>Sev 3:</h3>

<ul>
	<li>90%-95% of WCAG 2.1 AA checkpoints met</li>
	<li>Average inconvenience - an issue that affects a non-essential requirement. Could make it difficult for some people to access content and use a page</li>
	<li>Use of the page component or element causes access problems more than 10% - 30% of the time</li>
</ul>

<h3>Sev 4:</h3>

<ul>
	<li>95-100% of WCAG 2.1 AA checkpoints met</li>
	<li>Minor inconvenience - not likely to prevent anyone from accessing content</li>
	<li>Use of the page component or element causes access problems less than 10% of the time</li>
</ul>

<h2>Why we do this</h2>

<p>We carry our accessibility testing to make sure all our sites and services are easy to use and can be accessed by everyone who needs to use them.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/suppliers-and-contractors/index" class="heading">
                    <h2 id="sub-menu-heading">Suppliers & contractors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/become-a-supplier">Become a TfL supplier</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/opportunities">Find contract opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/recieving-orders-and-getting-paid">Invoicing and getting paid</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/what-we-buy">What we buy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/engineering-standards-challenge">Engineering Standards Challenge</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-relations">Supplier relations</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-toolkit">Digital toolkit</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/how-we-work">How we work</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/understanding-our-users">Understanding our users</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/design-and-content">Design & content</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/technical">Technical</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/testing-and-assurance">Testing & assurance</a></div>
                                        <ul>
                                            
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/digital-accessibility-testing-standard">Digital accessibility testing standard</a></div>
                                            
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/support-and-maintenance">Support & maintenance</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/design-standards-and-licensing">Design standards & licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-buses-tenders">London Buses tenders</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-service-permits">London Service Permits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-handbook">LU Supplier Handbook</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/traffic-management">Traffic management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/tfl-supplier-awards">TfL Supplier Awards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/zero-harm-forum">Zero Harm Forum</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/info-for/suppliers-and-contractors/digital-design-toolkit/digital-accessibility-standard" class="plain-button">Digital accessibility standard</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.w3.org/TR/WCAG21/" class="plain-button">WCAG 2.1 Guidelines</a>
<a href="http://www.w3.org/WAI/" class="plain-button">W3C: Making the web accessible</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Accessibility testing standard for all TfL online services";}
        
            
        


 