
    
  



@{ViewBag.Title = "Digital accessibility standard";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/suppliers-and-contractors/digital-design-toolkit/digital-accessibility-standard";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/suppliers-and-contractors/index">Suppliers & contractors</a></li>
                
            
                 <li><a href="/info-for/suppliers-and-contractors/digital-toolkit">Digital toolkit</a></li>
                
            
                 <li><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/design-and-content">Design & content</a></li>
                
            
            
                <li><span class="last-breadcrumb">Digital accessibility standard</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Digital accessibility standard</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We want TfL's digital services to be accessible and usable for everyone. All our online content and services must meet the requirements of the Equality Act 2010 and the AA level of the WCAG 2.1 guidelines.
        
      </div>
    
    <div class="on-this-page">
      <p>Accessibility must be considered during design and development&nbsp;to make sure content and functionality are useful in the real world for users with access needs, over and above the <a href="http://www.w3.org/TR/WCAG21/">WCAG 2.1 guidelines</a>.</p>

<p>We comply with the new <a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps">Accessibility requirements for public sector websites and apps</a>.</p>

<ul>
	<li>All public sector websites published after 23 September 2018 must comply with the new government accessibility regulations by 23 September 2019</li>
	<li>Existing websites must comply with the regulations by 23 September 2020</li>
	<li>Web based or native apps must comply with the regulations by 23 September 2021</li>
</ul>

<p>These standards apply to all desktop, tablet and mobile website, web app and native app experiences.</p>

<h2>Requirements</h2>

<p><a href="http://www.w3.org/TR/WCAG21/">WCAG 2.1 AA level</a> must be met as a minimum standard. This overview does not replace the WCAG 2.1 guidelines. You should refer to WCAG 2.1 guidelines if anything is unclear and to confirm all current requirements.</p>

<h3>Four key principles of&nbsp;WCAG 2.1</h3>

<ol>
	<li>Perceivable</li>
	<li>Operable</li>
	<li>Understandable</li>
	<li>Robust</li>
</ol>

<h2>Perceivable</h2>

<p>All information and user interface components&nbsp;must be presentable to users in a way they can perceive or understand.</p>

<h3>Overview</h3>

<ul>
	<li>Provide alt text for all images</li>
	<li>Provide descriptive text transcripts for video and audio files</li>
	<li>Provide captioning for video</li>
	<li>Ensure documents have a logical, meaningful structure</li>
	<li>Use semantic markup - start with structured content first as this provides core functionality and meaning to the page by default</li>
	<li>Use strong contrast for text and links on backgrounds</li>
	<li>Make sure text size can be increased to double its size, without the page breaking</li>
	<li>Only use images in place of text if there is no reasonable alternative</li>
</ul>

<h2>Operable</h2>

<p>Interface components and navigation elements must be operable.</p>

<h3>Overview</h3>

<ul>
	<li>Content must be keyboard accessible (access keys are useful, but be aware of usage to avoid browser conflicts)</li>
	<li>Users must be able to control automatically updated content (e.g. pause, stop or hide)</li>
	<li>Avoid flashing content - moving, blinking and scrolling content must not last more than five seconds or flash more than three times per second</li>
	<li>Use skip links to bypass repeated navigation elements (e.g. skip to content)</li>
	<li>Frames must be titled</li>
	<li>Pages must have descriptive titles</li>
	<li>A logical tab order for links and form elements must be provided</li>
	<li>Links must be meaningful and easy to understand (e.g. use descriptive links, not 'click here')</li>
	<li>Use meaningful labels for form and heading elements (e.g. use descriptive headings, not 'more information')</li>
	<li>Ensure the order of navigation links and form elements etc. is logical, and it is visually apparent where the current keyboard focus is</li>
</ul>

<h2>Understandable</h2>

<p>All content must be easy to understood, both in terms of the language&nbsp;and the way the user interface operates.</p>

<h3>Overview</h3>

<p>Use plain English and keep content brief by including essential information only</p>

<ul>
	<li>Follow the <a href="/info-for/suppliers-and-contractors/digital-design-toolkit/design-and-content">Digital content standard</a> for guidelines on length</li>
	<li>Avoid jargon and unusual words. If they are necessary, link to a definition</li>
	<li>Identify the language of the page and parts of the page using HTML lang attribute (e.g. &lt;html lang="en"&gt; or &lt;blockquote lang="fr"&gt;)</li>
	<li>Make sure all pages appear and operate in a predictable way</li>
	<li>When a user interacts with an object or when a page element receives focus (such as tabbing onto a link), do not use pop-up windows or make changes that could confuse users</li>
	<li>JavaScript can be used but it must not hinder accessibility. For more complex interactions, provide cues or pointers to ensure users are aware of what is happening. See W3C's <a href="http://www.w3.org/WAI/standards-guidelines/aria/">WAII-ARIA overview </a>for information on making dynamic content and advanced user interface controls accessible</li>
	<li>Use consistent navigation elements</li>
	<li>Use consistent labelling for frequently used elements to help users predict labelling across the site (e.g. 'Search', 'Contact')</li>
	<li>Provide label tags for all form elements</li>
	<li>Provide all necessary information about a form element within its label (e.g. if control is required or it requires a specific format, value or length)</li>
	<li>Present form errors in an accessible, intuitive manner (e.g. highlight errors where they have been made and describe the error or what the user needs to do)</li>
</ul>

<h2>Robust</h2>

<p>All content&nbsp;must be&nbsp;robust enough to be interpreted reliably by a wide variety of user agents, including assistive technologies.</p>

<h3>Overview</h3>

<ul>
	<li>Valid HTML5 and CSS must be used</li>
	<li>Use HTML elements appropriately as per their specification</li>
</ul>

<h2>Why we do this</h2>

<p>We have a duty to ensure&nbsp;our websites and digital products are accessible to all visitors.</p>

<p>Designing with accessibility in mind improves the user experience and reduces costs by:</p>

<ul>
	<li>Ensuring content and features are accessible to more people, including users with physical or cognitive disabilities</li>
	<li>Reducing the complexity of sites or providing usable alternatives to help users find information and complete tasks quickly and easily</li>
	<li>Increasing findability with search engine optimisation</li>
	<li>Increasing potential use in more situations, such as on a range of devices, including those with low bandwidth or older technology</li>
	<li>Minimising the need to produce or maintain alternative format materials</li>
	<li>Decreasing the potential for high legal expenses associated with defending against legal action</li>
</ul>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/suppliers-and-contractors/index" class="heading">
                    <h2 id="sub-menu-heading">Suppliers & contractors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/become-a-supplier">Become a TfL supplier</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/opportunities">Find contract opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/recieving-orders-and-getting-paid">Invoicing and getting paid</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/what-we-buy">What we buy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/engineering-standards-challenge">Engineering Standards Challenge</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-relations">Supplier relations</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-toolkit">Digital toolkit</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/how-we-work">How we work</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/understanding-our-users">Understanding our users</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/design-and-content">Design & content</a></div>
                                        <ul>
                                            
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/digital-accessibility-standard">Digital accessibility standard</a></div>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/editorial-style-guide">Editorial style guide</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/technical">Technical</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/testing-and-assurance">Testing & assurance</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/support-and-maintenance">Support & maintenance</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/design-standards-and-licensing">Design standards & licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-buses-tenders">London Buses tenders</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-service-permits">London Service Permits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-handbook">LU Supplier Handbook</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/traffic-management">Traffic management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/tfl-supplier-awards">TfL Supplier Awards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/zero-harm-forum">Zero Harm Forum</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.w3.org/TR/WCAG21/" class="plain-button">WCAG 2.1 guidelines</a>
<a href="http://www.w3.org/WAI/" class="plain-button">W3C: Making the web accessible</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Accessibility standard for all online content and services";}
        
            
        


 