
    
  



@{ViewBag.Title = "Using  plain English";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/suppliers-and-contractors/digital-design-toolkit/using-plain-english";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/suppliers-and-contractors/index">Suppliers & contractors</a></li>
                
            
                 <li><a href="/info-for/suppliers-and-contractors/digital-toolkit">Digital toolkit</a></li>
                
            
                 <li><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/design-and-content">Design & content</a></li>
                
            
                 <li><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/editorial-style-guide">Editorial style guide</a></li>
                
            
            
                <li><span class="last-breadcrumb">Using  plain English</span></li>
            
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Using  plain English</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Writing in plain English doesn't mean over-simplifying your message or patronising your readers. It means using everyday words in place of jargon or official sounding terms to help readers understand your message quickly and more easily.
        
      </div>
    
    <div class="on-this-page">
      <p>Everything we produce should be written in plain English as described in the <a href="https://www.gov.uk/design-principles/style-guide#writing-plain-english">GOV.UK plain English guidelines</a>.</p>
<h2>Principles</h2>
<ul>
    <li>Write short sentences that are no longer than 20-25 words </li>
    <li>Include only one main idea in each paragraph </li>
    <li>Establish a conversational tone by imagining you are speaking to someone </li>
    <li>Avoid jargon, acronyms and impersonal corporate language </li>
    <li>Use simple words rather than their longer equivalent: 'If' not 'in the event that'</li>
    <li>Don't try to include every single detail &#45; only write what readers need to know </li>
    <li>Write in the active, not passive voice. A hit B is more direct than B was hit by A </li>
    <li>Ask yourself: Will your audience understand your message or can it be simplified further? </li>
    <li>Don't be afraid to give clear instructions: 'Please send it to us' is more direct than 'I would be grateful if you would please send it to us' </li>
    <li>Use bullets and vertical lists to break up text and make information more accessible </li>
    <li>Use sub-headings to present information in a logical manner </li>
    <li>When including hyperlinks in electronic documents, don't mention that you are providing a link (ie 'click here). Instead, describe the information you are linking to or just include the link address: more information can be found at tfl.gov.uk/news </li>
    <li>Include images to illustrate ideas and make content more reader-friendly </li>
    <li>Keep your readers in mind. Remember, if you're bored or confused by what you've written, they probably will be too </li>
</ul>
      
           
      <div>

<h2>Writing for online
</h2>
<p>People visit our website to get something done or to answer a question. They are impatient and will leave a page quickly if they can't see at a glance what they are looking for or don't understand it.</p>
<p>Don't waste time with long introductions. Be direct and specific in what you need to tell people. Use short paragraphs, clear headlines and sub heads, bulleted lists and words and phrases people are likely to search for.</p>
<p>Put the most important information first and only include information that is essential.</p>
<h3>Mobile first
</h3>
<p>We've designed our website to work on most devices, whatever their size, because an increasing number of people use our site on mobile. Our aim is to make the most important information visible on the first screen.</p>
</div>
 
<h2>Jargon and legalese</h2>
<p>Simplicity is the key to understanding. Short words in short sentences get your message across more quickly, more easily and in a friendlier way.</p>
<p><strong>Note:</strong> Some legal terms have specific legal meanings or implications that may be lost if replaced with plain English alternatives. If you have any questions about the use of legal terms, please contact TfL Legal</p>
<div class="table-container"><table>
    <thead>
    </thead>
    <tbody>
        <tr>
            <td style="width: 25%;">accede </td>
            <td>agree, allow </td>
        </tr>
        <tr>
            <td>accordingly </td>
            <td>so </td>
        </tr>
        <tr>
            <td>accustomed to </td>
            <td>used to </td>
        </tr>
        <tr>
            <td>ad hoc </td>
            <td>informal, unplanned </td>
        </tr>
        <tr>
            <td>additional </td>
            <td>more, extra </td>
        </tr>
        <tr>
            <td>approximately </td>
            <td>about </td>
        </tr>
        <tr>
            <td>ascertain </td>
            <td>learn, discover </td>
        </tr>
        <tr>
            <td>assist, assistance </td>
            <td>help </td>
        </tr>
        <tr>
            <td>attain </td>
            <td>reach </td>
        </tr>
        <tr>
            <td>attempt </td>
            <td>try </td>
        </tr>
        <tr>
            <td>bona fide </td>
            <td>good faith, genuine, honest </td>
        </tr>
        <tr>
            <td>cease </td>
            <td>stop, end </td>
        </tr>
        <tr>
            <td>commence </td>
            <td>start, begin </td>
        </tr>
        <tr>
            <td>component </td>
            <td>part </td>
        </tr>
        <tr>
            <td>concerning </td>
            <td>about </td>
        </tr>
        <tr>
            <td>consequently </td>
            <td>so </td>
        </tr>
        <tr>
            <td>constitute </td>
            <td>make up, form </td>
        </tr>
        <tr>
            <td>defer </td>
            <td>postpone </td>
        </tr>
        <tr>
            <td>determine </td>
            <td>decide </td>
        </tr>
        <tr>
            <td>discontinue </td>
            <td>stop </td>
        </tr>
        <tr>
            <td>enable </td>
            <td>allow, permit </td>
        </tr>
        <tr>
            <td>endeavour </td>
            <td>try </td>
        </tr>
        <tr>
            <td>establish </td>
            <td>set up, create, find out </td>
        </tr>
        <tr>
            <td>et al </td>
            <td>and the others, the rest </td>
        </tr>
        <tr>
            <td>ex gratia </td>
            <td>without obligation </td>
        </tr>
        <tr>
            <td>expire/expiration </td>
            <td>end </td>
        </tr>
        <tr>
            <td>forthwith </td>
            <td>immediately, now (state a time limit) </td>
        </tr>
        <tr>
            <td>forward </td>
            <td>send, give </td>
        </tr>
        <tr>
            <td>further and better particulars </td>
            <td>requests for information </td>
        </tr>
        <tr>
            <td>generate </td>
            <td>make </td>
        </tr>
        <tr>
            <td>grant </td>
            <td>give </td>
        </tr>
        <tr>
            <td>henceforth </td>
            <td>from now on </td>
        </tr>
        <tr>
            <td>in camera </td>
            <td>in private </td>
        </tr>
        <tr>
            <td>initially </td>
            <td>at first </td>
        </tr>
        <tr>
            <td>institute </td>
            <td>begin, start </td>
        </tr>
        <tr>
            <td>inter alia </td>
            <td>among other things </td>
        </tr>
        <tr>
            <td>manufacture </td>
            <td>make </td>
        </tr>
        <tr>
            <td>minor/infant </td>
            <td>child </td>
        </tr>
        <tr>
            <td>modify </td>
            <td>change </td>
        </tr>
        <tr>
            <td>notify </td>
            <td>tell </td>
        </tr>
        <tr>
            <td>numerous </td>
            <td>many </td>
        </tr>
        <tr>
            <td>obtain </td>
            <td>get, receive </td>
        </tr>
        <tr>
            <td>per annum </td>
            <td>a year </td>
        </tr>
        <tr>
            <td>possesses </td>
            <td>has, owns </td>
        </tr>
        <tr>
            <td>purchase </td>
            <td>buy </td>
        </tr>
        <tr>
            <td>regarding </td>
            <td>about, on </td>
        </tr>
        <tr>
            <td>request </td>
            <td>ask </td>
        </tr>
        <tr>
            <td>subsequently </td>
            <td>later </td>
        </tr>
        <tr>
            <td>terminate </td>
            <td>end, stop </td>
        </tr>
        <tr>
            <td>utilise </td>
            <td>use </td>
        </tr>
        <tr>
            <td>verify </td>
            <td>check, prove </td>
        </tr>
    </tbody>
</table></div>


 
<h2>Superfluous words and phrases</h2>
<p>Another way to save time and avoid confusion is to get rid of unnecessary words. Information can often be made simpler &#45; and less corporate &#45; if words that either add nothing or mean the same thing are replaced with simpler alternatives.</p>
<div class="table-container"><table>
    <thead>
    </thead>
    <tbody>
        <tr>
            <td style="width: 25%;">a large proportion of </td>
            <td>many </td>
        </tr>
        <tr>
            <td>appropriate measures </td>
            <td>measures, steps </td>
        </tr>
        <tr>
            <td>at this moment in time </td>
            <td>now </td>
        </tr>
        <tr>
            <td>by virtue of the fact that </td>
            <td>because </td>
        </tr>
        <tr>
            <td>close scrutiny </td>
            <td>scrutiny </td>
        </tr>
        <tr>
            <td>consensus of opinion </td>
            <td>consensus </td>
        </tr>
        <tr>
            <td>despite the fact that </td>
            <td>although, despite </td>
        </tr>
        <tr>
            <td>due to the fact that </td>
            <td>as, because </td>
        </tr>
        <tr>
            <td>for the duration of </td>
            <td>during, while </td>
        </tr>
        <tr>
            <td>for the purpose of </td>
            <td>to </td>
        </tr>
        <tr>
            <td>future plans </td>
            <td>plans </td>
        </tr>
        <tr>
            <td>in accordance with </td>
            <td>as, in line with </td>
        </tr>
        <tr>
            <td>in conjunction with </td>
            <td>and, with </td>
        </tr>
        <tr>
            <td>in the absence of </td>
            <td>without </td>
        </tr>
        <tr>
            <td>in the event that </td>
            <td>if </td>
        </tr>
        <tr>
            <td>in order to </td>
            <td>to </td>
        </tr>
        <tr>
            <td>in the majority of </td>
            <td>most, usually </td>
        </tr>
        <tr>
            <td>leaves much to be desired </td>
            <td>poor </td>
        </tr>
        <tr>
            <td>on account of the fact that </td>
            <td>because </td>
        </tr>
        <tr>
            <td>on behalf of </td>
            <td>for </td>
        </tr>
        <tr>
            <td>revert back </td>
            <td>revert </td>
        </tr>
        <tr>
            <td>rolled out</td>
            <td>introduced</td>
        </tr>
        <tr>
            <td>the fact that </td>
            <td>that </td>
        </tr>
        <tr>
            <td>was of the opinion that </td>
            <td>thought </td>
        </tr>
        <tr>
            <td>with the exception of </td>
            <td>except </td>
        </tr>
        <tr>
            <td>with reference/regard/respect to </td>
            <td>about, concerning </td>
        </tr>
    </tbody>
</table></div>


 
<h2>Frequently misused words</h2>
<p>Words that sound very similar can mean very different things. Here is a list of frequently misused words. If you are not confident about their meaning, look them up or use an alternative.</p>
<div class="table-container"><table>
    <thead>
    </thead>
    <tbody>
        <tr>
            <td style="width: 25%;">affect </td>
            <td>effect </td>
        </tr>
        <tr>
            <td>alternate </td>
            <td>alternative </td>
        </tr>
        <tr>
            <td>appraise </td>
            <td>apprise </td>
        </tr>
        <tr>
            <td>biannual </td>
            <td>biennial </td>
        </tr>
        <tr>
            <td>complementary </td>
            <td>complimentary </td>
        </tr>
        <tr>
            <td>continual </td>
            <td>continuous </td>
        </tr>
        <tr>
            <td>dependent </td>
            <td>dependant </td>
        </tr>
        <tr>
            <td>discreet </td>
            <td>discrete </td>
        </tr>
        <tr>
            <td>disinterested </td>
            <td>uninterested </td>
        </tr>
        <tr>
            <td>distinctive </td>
            <td>distinguished </td>
        </tr>
        <tr>
            <td>enquiry </td>
            <td>inquiry </td>
        </tr>
        <tr>
            <td>explicit </td>
            <td>implicit </td>
        </tr>
        <tr>
            <td>flounder </td>
            <td>founder </td>
        </tr>
        <tr>
            <td>flout </td>
            <td>flaunt </td>
        </tr>
        <tr>
            <td>fortuitous </td>
            <td>fortunate </td>
        </tr>
        <tr>
            <td>inflammable </td>
            <td>inflammatory </td>
        </tr>
        <tr>
            <td>licence </td>
            <td>license </td>
        </tr>
        <tr>
            <td>loathe </td>
            <td>loath </td>
        </tr>
        <tr>
            <td>luxuriant </td>
            <td>luxurious </td>
        </tr>
        <tr>
            <td>meter </td>
            <td>metre </td>
        </tr>
        <tr>
            <td>peddle </td>
            <td>pedal </td>
        </tr>
        <tr>
            <td>practice </td>
            <td>practise </td>
        </tr>
        <tr>
            <td>practical </td>
            <td>practicable </td>
        </tr>
        <tr>
            <td>principle </td>
            <td>principal </td>
        </tr>
        <tr>
            <td>refute </td>
            <td>rebut </td>
        </tr>
        <tr>
            <td>regretful </td>
            <td>regrettable </td>
        </tr>
        <tr>
            <td>resistant </td>
            <td>resilient </td>
        </tr>
        <tr>
            <td>stationary </td>
            <td>stationery </td>
        </tr>
        <tr>
            <td>systematic </td>
            <td>systemic </td>
        </tr>
    </tbody>
</table></div>


 <div>

<h2>Accessibility for print</h2>
<ul>
    <li><strong>Type size</strong><br />
    Use a minimum of 12pt for all printed documents. Where possible, use 14pt as this increases the accessibility documents to visually impaired readers </li>
    <li><strong>Type styles</strong><br />
    Avoid using italics or all capital letters as these make it more difficult for visually impaired readers to recognise word shapes. Underlining should also be avoided to prevent confusion with hyperlinks </li>
    <li><strong>Reverse type</strong><br />
    If using white or coloured type, make sure the background colour is dark enough to provide good contrast </li>
    <li><strong>Text alignment</strong><br />
    Text should be left aligned. Avoid justifying text as irregular word spacing can make it more difficult to read. Variable spacing can also make text appear distorted </li>
    <li><strong>Sentence spacing</strong><br />
    Use a single space at the beginning of sentences as double spaces make text more difficult to read. Variable spacing can also make text appear distorted </li>
    <li><strong>Line length</strong><br />
    The ideal line length is between 60-70 characters (except when using columns) as very long or very short lines tire the eyes and make reading more difficult </li>
    <li><strong>Hyphens and split words</strong><br />
    Don't split words over lines because it disrupts the reading flow and can also be confusing </li>
    <li><strong>Navigational aids</strong><br />
    Leave a space between paragraphs and sections as dividing the text up gives the eye a break and makes reading easier </li>
    <li><strong>Contrast</strong><br />
    The better the contrast between the background and the text, the more legible the text will be. Black text on a white background provides the best contrast </li>
    <li><strong>Images</strong><br />
    Don't place text over images as it can be both easy to miss and difficult to read </li>
</ul>
</div>
 <div>

<h2>Useful books and websites</h2>
<p>There are lots of books and websites on using English. This list includes some of the most helpful. It also includes useful reference guides, including dictionaries, encyclopaedias, maps and conversion calculators.</p>
<ul>
    <li><a href="http://www.askoxford.com">AskOxford</a>: Compact Oxford English Dictionary and online guide to better writing </li>
    <li><a href="http://dictionary.cambridge.org">Cambridge Dictionaries Online</a></li>
    <li><a href="http://www.britannica.com">Encyclopaedia Britannica </a></li>
    <li><a href="http://oxforddictionaries.com/words/jargon-buster">Jargon Buster</a>: Definitions for grammar and literary terms by Oxford Dictionaries </li>
    <li>Maps and directions<br />
    <a href="http://maps.google.co.uk">Google maps</a><br />
    <a href="http://www.streetmap.co.uk">Streetmap</a></li>
    <li><a href="http://www.metric-conversions.org/conversion-calculators.htm">Metric conversion calculator</a></li>
    <li><a href="http://www.onelook.com">OneLook Dictionaries</a>: Provides online access to several hundred dictionaries</li>
    <li><a href="http://www.xe.com/ucc">Online currency converter</a></li>
    <li><a href="http://www.plainenglish.co.uk">Plain English Campaign</a></li>
    <li><a href="http://thesaurus.reference.com">Roget's Thesaurus</a></li>
    <li><a href="https://ukshop.economist.com/products/the-economist-style-guide-12th-edition?gclid=Cj0KCQjwu_jYBRD8ARIsAC3EGCLyEkNZhkIyuZJVlbIE0WHRf12IlnFl0dC6jEmQVmmW7gQseYnT4LIaAtw5EALw_wcB">The Economist Style Guide <br />
    </a></li>
    <li><a href="http://www.guardian.co.uk/styleguide">The Guardian stylebook</a></li>
    <li><a href="http://www.bartleby.com/116/">The New Fowler's Modern English Usage</a></li>
    <li><a href="http://www.buzzfeed.com/emmyf/buzzfeed-style-guide#.plO5VVG008">Buzzfeed Style Guide</a></li>
    <li><a href="http://en.wikipedia.org/wiki/Main_Page ">Wikipedia: online encyclopaedia </a></li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/suppliers-and-contractors/index" class="heading">
                    <h2 id="sub-menu-heading">Suppliers & contractors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/become-a-supplier">Become a TfL supplier</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/opportunities">Find contract opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/recieving-orders-and-getting-paid">Invoicing and getting paid</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/what-we-buy">What we buy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/engineering-standards-challenge">Engineering Standards Challenge</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-relations">Supplier relations</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-toolkit">Digital toolkit</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/how-we-work">How we work</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/understanding-our-users">Understanding our users</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/design-and-content">Design & content</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/digital-accessibility-standard">Digital accessibility standard</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/editorial-style-guide">Editorial style guide</a></div>
                                                <ul>
                                                    
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/technical">Technical</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/testing-and-assurance">Testing & assurance</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/support-and-maintenance">Support & maintenance</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/design-standards-and-licensing">Design standards & licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-buses-tenders">London Buses tenders</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-service-permits">London Service Permits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-handbook">LU Supplier Handbook</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/traffic-management">Traffic management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/tfl-supplier-awards">TfL Supplier Awards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/zero-harm-forum">Zero Harm Forum</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The TFL style guide on using plain English across the website";}
        
            
        


 