
    
  



@{ViewBag.Title = "DLR Community Ambassadors";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/dlr/dlr-ambassadors";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/dlr/index">DLR</a></li>
                
            
            
                <li><span class="last-breadcrumb">DLR Community Ambassadors</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>DLR Community Ambassadors</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Our community ambassadors are here to help anyone who uses the DLR. They are fluent in a variety of languages, including Bengali, Yoruba, Urhobo, Hindi, Urdu, and Sylheti.
        
      </div>
    
    <div class="on-this-page">
      <h2>How community ambassadors can help</h2>

<ul>
	<li>Give safety talks and presentations to primary schools in the DLR area</li>
	<li>Take passengers out on a DLR accessibility trip to demonstrate how to use the railway - this is particularly useful for wheelchair and scooter users, as well as anyone with a walking stick or child buggy</li>
	<li>Host drop-in sessions at local supermarkets, community centres and other locations, every two weeks. These sessions offer information and advice about travelling on the DLR, engineering works and accessibility trips</li>
</ul>

<h2>Drop-in sessions</h2>

<p>Our ambassadors can offer information and advice about travelling on the DLR, engineering works and accessibility trips.</p>

<p>Email <a href="mailto:ambassadors&#64;keolisameydlr.co.uk">ambassadors&#64;keolisameydlr.co.uk</a>&nbsp;for dates and times of open days at the following locations.</p>

<h3>Lucy Sabia</h3>

<h4>Canning Town Library</h4>

<p>Barking Road, Canning Town E16 4HB</p>

<p>Nearest DLR: Beckton</p>

<h4>The Globe Library</h4>

<p>1 Kingsford Way, Beckton E6 5JQ</p>

<p>Nearest DLR: Beckton</p>

<h4>Beckton Community Centre</h4>

<p>14 East Ham Manor Way, Beckton E6 5NG</p>

<p>Nearest DLR: Beckton and Cyprus</p>

<h4>St Mark's Community Centre</h4>

<p>218 Tollgate Road, Beckton &nbsp;E6 5YA</p>

<p>Nearest DLR: Beckton</p>

<h3>Lorna Samuel</h3>

<h4>Wilkinson</h4>

<p>45 Woolwich New Road, Woolwich SE18 6EU</p>

<p>Nearest DLR: Woolwich Arsenal</p>

<h4>Woolwich Library at the Woolwich Centre</h4>

<p>35 Wellington Street, Woolwich SE18 6HQ</p>

<p>Nearest DLR: Woolwich Arsenal</p>

<h4>Tesco</h4>

<p>209 Lewisham Road, Lewisham&nbsp;SE13 7PY</p>

<p>Nearest DLR: Lewisham</p>

<h4>The Library at Deptford Lounge</h4>

<p>9 Giffin Street, Deptford&nbsp;SE8 4RH</p>

<p>Nearest DLR: Deptford Bridge</p>

<h3>Mohammed A. Salam</h3>

<h4>Ideas Store Watney Market</h4>

<p>260 Commercial Road, Shadwell E1 2FB</p>

<p>Nearest DLR: Shadwell</p>

<h4>Queen Mary University of London</h4>

<p>Mile End Road, Limehouse E1 4NS</p>

<p>Nearest DLR: Limehouse</p>

<h4>Brady Arts and Community Centre</h4>

<p>192-196 Hanbury Street, Shadwell E1 5HU</p>

<p>Nearest DLR: Shadwell</p>

<h4>Stratford Library</h4>

<p>3 The Grove, Stratford E15 1EL</p>

<p>Nearest DLR: Stratford</p>

<h3>Charlene Marks</h3>

<h4>Visitor centre at the Old Royal Naval College</h4>

<p>2 Cutty Sark Gardens, Greenwich SE10 9LW</p>

<p>Nearest DLR: Cutty Sark</p>

<h4>University of Greenwich Stockwell Street Library</h4>

<p>10 Stockwell Street, Greenwich SE10 9BD</p>

<p>Nearest DLR: Cutty Sark</p>

<h4>Cubitt Town Library</h4>

<p>52 Strattondale Street, Isle of Dogs E14 3HG</p>

<p>Nearest DLR: Crossharbour</p>

<h4>Premier Inn Westfield</h4>

<p>Westfield Stratford City, 9 Montfichet Road</p>

<p>Stratford&nbsp;E20 1EE</p>

<p>Nearest DLR: Stratford</p>

<h3>Lynsey Peat</h3>

<h4>Idea Store Canary Wharf</h4>

<p>Churchill Place, Canary Wharf E14 5RB</p>

<p>Nearest DLR: Heron Quays</p>

<h4>Idea Store Chrisp Street</h4>

<p>185 E India Dock Road, Poplar&nbsp;E14 6BT</p>

<p>Nearest DLR: All Saints</p>

<h4>Holiday Inn Westfield</h4>

<p>10a Chestnut Plaza, Stratford E20 1GL</p>

<p>Nearest DLR: Stratford</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/dlr/index" class="heading">
                    <h2 id="sub-menu-heading">DLR<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/modes/dlr/dlr-ambassadors">DLR ambassadors</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/dlr/improving-the-dlr">Improving the DLR</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/dlr" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/dlr" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact DLR   </h3>
         </div>
        
        
        
        
        <div class="content-group">
            <p>
                
                
                <abbr title="Telephone number">Phone</abbr>: 0343 222 1234 (DLR Lost Property 020 7363 9550)<br />
                
                
                
                
                <abbr title="Fax number">Fax</abbr>: 0343 222 7000<br />
                <abbr title="Textphone">Textphone</abbr>: 0800 112 3456
            </p>
            <p><a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a><br />
08:00-20:00 seven days a week</p>
        </div>
        
        <div class="content-group">
            <h4>TfL Customer Services</h4>
            
            <p>
                
                4th Floor<br />
                14 Pier Walk<br />
                
                London SE10 0ES
            </p>
            
            
        </div>
        
                
        <div class="vertical-button-container clearfix">
            <a href="/help-and-contact/contact-dlr" class="plain-button">Contact DLR</a>
        </div>
        
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.londontravelwatch.org.uk/home/" class="plain-button">London TravelWatch</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Our DLR community ambassadors are there to help anyone who uses the DLR.";}
        
            
        


 