
    
  



@{ViewBag.Title = "Improving the DLR";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/dlr/improving-the-dlr";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/dlr/index">DLR</a></li>
                
            
            
                <li><span class="last-breadcrumb">Improving the DLR</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Improving the DLR</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      
      
           
      <div>

<h2>New accessibility stickers on DLR trains</h2>

<p>We&nbsp;have introduced two new&nbsp;stickers&nbsp;on our trains to help customers with accessibility needs.</p>

<ul>
	<li>We have put disabled bay stickers near the wheelchair bays on the outside of the train, nearest the disabled bay, on both sides of the train. These will help people identify where to board the train&nbsp;near to&nbsp;a&nbsp;wheelchair space</li>
	<li>We have introduced new-style priority seating stickers throughout the trains, better highlighting to all customers where the priority seats are located (eight per vehicle). This is an increase on the previous number of priority seats</li>
</ul>
</div>
 <div>

<h2>New escalators at Limehouse</h2>

<p>We have installed new escalators at the main entrance to the westbound DLR platform at Limehouse station making it easier to get around. The new escalators will help to ease congestion at peak times, improve the accessibility of the station and reduce the time it takes to change between the westbound DLR and c2c platforms.</p>
</div>
 <div>

<h2>Rolling stock replacement</h2>

<p>The rolling stock programme will replace two-thirds of the existing fleet and provide 10 additional trains to provide more capacity and support population and employment growth across the network. DLR customers&nbsp;will benefit from more frequent and reliable journeys from 2023.</p>

<p>With over 400,000 journeys made each weekday, the DLR is currently the busiest light railway in the UK. It operates across six opportunity areas in London, which have the potential to provide more than 124,000 homes and 200,000 jobs. The additional capacity the trains will deliver is essential to support further growth, particularly in parts of the Royal Docks and the Isle of Dogs where the DLR is the main transport option.</p>

<p>The programme will deliver:</p>

<ul>
	<li>A new design of trains with walk through carriages, real time travel information, air conditioning and mobile device charging points.</li>
	<li>An expansion of DLR's main depot at Beckton. This will include modification of the existing layout to accommodate the extra trains and extension of the existing maintenance facilities to allow maintenance of the new design of trains.</li>
	<li>Supporting workstreams including an update to the signalling system for the new trains, an additional power supply to the depot and additional stair capacity at Blackwall station.</li>
</ul>

<p>The programme will:</p>

<ul>
	<li>support population and employment growth across the network, especially planned development in the Royal Docks, the Queen Elizabeth Olympic Park and the Isle of Dogs</li>
	<li>provide crowding relief through increasing capacity</li>
	<li>improve resilience and reliability by replacing trains nearing the end of their design life with modern, reliable trains</li>
</ul>

<h2>Construction at Beckton Depot</h2>

<p>Works are anticipated to last for 40 months between September 2019 and December 2022. Initial works will take place in the north-west of the site to prepare the ground for track construction.</p>

<p>Working Hours: Works will take place between 08:00-18:00 on a weekday, and between 08:00-13:00 on a Saturday. We have agreed these times with the London Borough of Newham (LBN).</p>

<p>Noise: Although some noise is unavoidable during such works, our contractor will take all reasonably practicable measures to control noise in accordance with the Control of Pollution Act 1974.</p>

<p>Road Closures and Highway Diversions: There are currently no planned closures on roads or public right of ways during the works. Some minor closures may be required at a later stage and we will agree these with LBN and ensure that they do not create major disruptions at peak times.</p>

<p>Authorised Routes: We will ensure that only roads suitable for our vehicles are used. For the first phase of works all delivery vehicles for the construction programme are anticipated to route to / from the north of the site via the A406 or A13.</p>

<p>Deliveries will be planned at least 48 hours in advance of arrival on-site. Suppliers will be provided with a time slot for each delivery so that arrival and departure times are staggered and a situation where multiple deliveries accessing and egressing the site at the same time is avoided.</p>

<p>Time slots will be set to avoid peak traffic periods on the local highway network (weekday 08:00-09:0 and 17:00-19:00).</p>

<p>If you have any questions about the programme or the works, please contact our Customer Service team at:</p>

<p>Phone: 0343 222 1234 (24 hours)<br />
Online: tfl.gov.uk/contact<br />
Post: TfL Customer Services, 4th Floor, 14 Pier Walk, SE10 0ES</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/dlr/index" class="heading">
                    <h2 id="sub-menu-heading">DLR<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/modes/dlr/dlr-ambassadors">DLR ambassadors</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/modes/dlr/improving-the-dlr">Improving the DLR</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/dlr" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/dlr" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="vertical-button-container">



<a href="/travel-information/improvements-and-projects/index"  class="plain-button">See all improvements and projects</a>

</div>

      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Improved frequency and capacity on many DLR services. ";}
        
            
        


 