
    
  


<!-- rhroot -->
@{ViewBag.Title = "DLR";}
@{ViewBag.Keywords = "DLR ,TfL";}
@{ViewBag.Url = "/modes/dlr/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">DLR</span></li>
            
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container landing-page section-landing-container with-logo">
        <h1>DLR</h1>
        
        <div class="heading-logo">
            <img src="/cdn/static/cms/images/logos/dlr-partner.png" alt="DLR logo" />
        </div>
        
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">
        <div class="small-medium" data-set="widget"></div>
        <div class="primary-teaser landing-page-teaser">
            <div class="news-teaser dlr">
  
  <a href="https://m.me/tfltravelbot?intcmp=52227"  data-img="/cdn/static/cms/images/promos/tfl-travelbot-koala-flip.jpg" data-img-breakpoint="medium" data-img-alt="A koala hanging on a bus stop post promotes TfL's Facebook TravelBot">
    <img src="/cdn/static/cms/images/promos/tfl-travelbot-koala-flip_rdax_600x300.jpg" alt="A koala hanging on a bus stop post promotes TfL's Facebook TravelBot" />
    <div class="text-link sit-bottom">
      <h2>No need to hang around</h2>
      <p>Get instant answers. Just ask TfLTravelBot on Facebook Messenger</p>
    </div>
  </a>
</div>

 
        </div>
        
        <div class="clearfix">
            

<div class="search-filter">
    <h3>Find a DLR station</h3>
    <p>For live departures, status information, route maps and timetables</p>
     @{
          Html.RenderAction("SearchFilter", "Modules", new
          {
               actionUrl = Library.DisambiguationSettings.DisambiguationUrl,
               buttonText = "Go",
               dataSets = new string[][]
               {
                    new[]{ Library.DisambiguationDataSets.StopPoints, "/{{mode}}/stop/{{naptanId}}/{{stopName}}/" }
               },
               modes = Library.MeansOfTransport.DLR,
               placeHolderText = "DLR station (e.g. Bank)",
               displaySelectedModesOnly = true
          });
     }
</div>             
 
        </div>
        <div class="module-grid clearfix">
            <div>

<div class="news-teaser dlr">

    <a href="/modes/dlr/dlr-ambassadors?intcmp=23273" >
        
        
        <div class="text-link">
             <h2>DLR ambassadors</h2>
            <p>Our community ambassadors are here to help anyone using the DLR.</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">
    <div class="text-link">
        
        
        
        <h2>Destination DLR - download our map</h2>
        
        
        
        <div class="multi-document-download-container">
            

<a class="document-download-wrap landscape-download-image with-image pdfpdf" href="/cdn/static/cms/documents/dlr30-leaflet-and-map.pdf">
    <div class="document-download-text">
        <p>Download our map of things to do via the DLR </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.75MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/dlr30-leaflet-preview-cropped.jpg" alt="DLR30 leaflet" />
    </div>

</a>

<!-- 1.75 -->
 
        </div>
        
    </div>
</div>



 <div class="vertical-button-container">



<a href="/fares/index"  class="plain-button">Fares</a>


<a href="/fares/refunds-and-replacements"  class="plain-button">Refunds</a>


<a href="/transport-accessibility/index"  class="plain-button">Transport accessibility</a>


<a href="/modes/cycling/cycles-on-public-transport"  class="plain-button">Cycles on public transport</a>

</div>

</div>
 <div>

<div class="news-teaser">

    <a href="/status-updates/planned-track-closures?intcmp=54286" >
        
        
        <div class="text-link">
             <h2>Service changes</h2>
            <p>Check for planned line closures and service changes on all modes</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/dlr/improving-the-dlr?intcmp=25179" >
        
        
        <div class="text-link">
             <h2>Improving the DLR</h2>
            <p>What we're doing to make your service better</p>
        </div>
    </a>
</div>
 
 <div class="follow-social email">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>Email updates</h3>
    <p>Hop aboard the TfL email service for updates, personalised offers and promotions</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="/travel-information/social-media-and-email-updates/email-updates">Register</a>
  </div> 
</div>
 
</div>
 
        </div>
    </div>
    <div class="aside" role="complementary">
        <div class="large" data-set="widget">
            <div class="moving-source-order">
            

                <div class="widget-wrapper">

                        <div class="board-wrapper service-board-collapsed">
                            @{ Html.RenderAction("StatusBoard", "StatusUpdates", new { modes = Library.MeansOfTransport.TubeDlrOvergroundTflRail, collapsed = true, isHomeOrModePageStatusBoard = true }); }
                        </div>


                </div>
             
 
            </div>
        </div>
        <div class="module-grid">
            












<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/dlr" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/dlr" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
            <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us</h3>
        </div>
                                                         
        <div class="content-group">
            <p>We're open 24 hours a day, 7 days a week.</p>
        </div>
        
        
            
        
        
            
                
        
        
        <div class="content-group">
            <p>
                <abbr title="Chat">Chat</abbr><br />
                 
        On <a href="https://m.me/transportforlondon">Facebook</a> or <a href="https://twitter.com/messages/compose?recipient_id=47319664">Twitter</a>
        
        
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Telephone number">Call</abbr>&nbsp;<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges apply</a><br />
                0343 222 1234 (Lost Property: 020 7363 9550)
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Textphone">Textphone</abbr><br />
                0800 112 3456
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p><a href="/help-and-contact/contact-us-about-tube-and-rail">Fill in a general enquiries form</a> <br /><a href="/help-and-contact/contact-us-about-tube-and-rail-staff">Give feedback about staff</a><br />Or send a letter to:</p>
        </div>
        
        
        <div class="content-group">
            <p>TfL Customer Services&nbsp;<br />
4th Floor<br />
14 Pier Walk<br />
London SE10 0ES</p>
        </div>
        
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.londontravelwatch.org.uk/home/" class="plain-button">London TravelWatch</a>
    </div>
</div>
 
        </div>
    </div>
    <div class="small-medium" data-set="content">&nbsp;</div>
</div>
 

<!-- START OF Google Code --> 
<script type="text/javascript"> 
var _gaq = _gaq || []; 
_gaq.push(['_setAccount', 'UA-16130048-1']); 
_gaq.push(['_setDomainName', 'none']); 
_gaq.push(['_setAllowLinker', true]); 
_gaq.push(['_trackPageview']); 
(function() { 
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; 
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; 
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); 
})(); 
</script> 
<!-- END OF Google Code -->
        
        
        
            @{ViewBag.Description = "Trains from Bank, Tower Gateway and Stratford International to Lewisham, Woolwich Arsenal and Becton";}
        
            
        


 