


@{ViewBag.Title = "A new president for the Railway Study Association";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>A new president for the Railway Study Association</h1>
        <div class="content-page-press-release">
        28 October 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Ian Brown, Managing Director of TfL, London Rail and Chairman of the Docklands Light Railway, has been elected President of the Railway Study Association (RSA) for the academic year 2005/06.
        
    </div>



 <div class="on-this-page">
<p>Ian assumed the presidency of the association during the RSA meeting at the Museum of Docklands on Wednesday 19 October when Adrian Lyons, director of the Railway Forum and the previous president, handed over to him. </p>
<p>The RSA was founded in 1908 as the Railway Students Association, and Ian is its 97th president.</p>
<p>Commenting on his new position, Ian said: "I was both surprised and delighted to be invited to be president for 2005/2006."</p>
<p>Every year, the president of the RSA chooses a theme and invites a number of respected speakers to give talks during the forthcoming sessional programme, which are delivered during the course of the academic year. </p>
<h2>'Focused renewal'</h2>
<p>Ian's chosen theme for his presidency is 'Devolution - The role of cities and regions in determining the future of their rail transport needs'. </p>
<p>The guest speakers are leaders in their fields in developing rail in the wider context of responding to city and regional needs, from both the UK and abroad. </p>
<p>To mark his presidency, Ian presented to the RSA his vision: 'Increasing London's Rail Capacity'. </p>
<p>He outlined the possible solutions that could be delivered to meet London's growing transport needs.</p>
<p>Speaking to the RSA, he said: "Over the next 10 years, London's population is set to grow by nearly 800,000 and the rail transport infrastructure needs significant investment to keep up with this growth. </p>
<p>"This problem could be solved with focused renewal of the rail network, designed to increase peak capacity and reduce crowding."</p>
<p>Ian comes to this position with 38 years of experience in the rail industry. </p>
<p>His previous appointments include Chief Executive of Docklands Light Railway and Managing Director of Railfreight Distribution. </p>
<p>He was also previously a member of the Chairman's Policy Unit at British Rail and is a former Chief Passenger Manager of BR's London Midland Region.<br></p>
            <ul>
<li>In his role as MD for TfL London Rail and Chairman of DLR, Ian is responsible for implementing the Mayor's strategy to provide a fully integrated national rail service within London. He is also responsible for taking forward major rail projects, including the East London Line extension 
</li><li>Ian is also a Board Member of Crossrail 
</li><li>Photographs of Ian Brown are available for press use. Please contact Hazel Peacock on 020 7126 1681</li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Ian assumed the presidency of the association during the RSA meeting at the Museum of Docklands on Wednesday 19 October when Adrian Lyons, director of the Railway Forum and the previous president, handed over to him. The RSA was founded in 1908 as the";}
        
        


 