


@{ViewBag.Title = "Eastbound Limehouse Link likely to remain closed for several days";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Eastbound Limehouse Link likely to remain closed for several days</h1>
        <div class="content-page-press-release">
        30 October 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The eastbound lane of the Limehouse Link which connects Docklands with Central London is likely to remain closed for several days following a fire on a double-decker bus.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Diversions will remain in place until the extent of the damage has been assessed
                            
                        </p>
                    </div>
                
            
            
            <p>The engine of an out-of-service N50 Nightbus operated by Stagecoach returning to Upton Park depot caught fire shortly after the bus had entered Limehouse Link just after 0620 on Sunday.</p>
<p>The bus was completely destroyed. No passengers were onboard the bus at the time of the incident and the driver escaped unhurt.<br></p>
<p>Engineers have removed the bus so that an accurate assessment of damage to the eastbound tunnel can start to take place.<br></p>
<p>Once the true extent of the damage is known then we will be able to confirm when the eastbound lanes are likely to re-open. </p>
<p>The intention is re-open the eastbound lanes as quickly as possible.</p>
<p>Following its earlier closure, the westbound tunnel has been re-opened to traffic.</p>
<p>The diversion for eastbound traffic from Tower Bridge and Lower Thames Street is via Mansell Street and the Aldgate one-way system and is signposted. </p>
<p>Motorists are advised to expect severe delays. </p>
<hr>

<p>Avoid being caught out by congestion, roadworks and other hold-ups with our Traffic Alerts service: <a href="http://www.tfl.gov.uk/trafficalerts">www.tfl.gov.uk/trafficalerts</a> </p>
<p>Check the traffic at locations across London with CapitalCams: <a href="http://www.tfl.gov.uk/cameramaps">www.tfl.gov.uk/cameramaps</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The engine of an out-of-service N50 Nightbus operated by Stagecoach returning to Upton Park depot caught fire shortly after the bus had entered Limehouse Link just after 0620 on Sunday.The bus was completely destroyed. No passengers were onboard the bus";}
        
        


 