


@{ViewBag.Title = "Jubilee line services in December";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Jubilee line services in December</h1>
        <div class="content-page-press-release">
        24 October 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        If you are going to London in December, plan your Tube journey carefully because there will be a reduced Jubilee line service during that month and it will be closed completely for five days after Christmas Day.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            A reduced service will operate and the line will be closed for five days after Christmas
                            
                        </p>
                    </div>
                
            
            
            <p>In order to ensure a safe and reliable introduction of longer seven-carriage trains on the Jubilee line, London Underground (LU) will gradually reduce the existing Jubilee line six-carriage service throughout December 2005 and close the line entirely for five days between 26 and 30 December. </p>
<p>Replacement buses and an enhanced Docklands Light Railway service will be in operation when the line is closed.</p>
<p>Last May, Mayor of London Ken Livingstone announced that the Jubilee line would receive a real boost with longer trains.</p>
<p>From January 2006, an extra seventh carriage will be added to all Jubilee line trains, boosting passenger capacity by 17 per cent. </p>
<p>Four new trains will also be added, increasing the train fleet from 59 to 63 trains. </p>
<p>The improvements are due to be delivered by Tube Lines.</p>
<p>All the improvements are part of Transport for London's (TfL) &pound;10bn 5-year Investment Programme to improve and expand London's transport network. </p>
<h2>Boost to business</h2>
<p>George Iacobescu, Chief Executive of Canary Wharf Ltd, said: "I would like to welcome the introduction - ahead of schedule - of a seventh car on the Jubilee line trains, which will be a significant step in the ongoing process of increasing the Jubilee line service. </p>
<p>"We need this type of delivery and investment in transport to meet the needs of London's fast-growing business district.</p>
<p>"We are pleased that London Underground and Tube Lines have planned ahead to deliver this project with the minimum of impact on businesses, and look forward to working with them on more improvements to the line in the coming years."</p>
<p>Kevin Bootle, LU's Jubilee line Manager, said: "This extra seventh car will be a real boost to all Jubilee passengers, increasing capacity by nearly a fifth across the whole line, or an extra 6,000 passengers in both directions every morning and evening peak.<br><br>"We ask passengers to understand that we need to reduce the Jubilee line service in December 2005, to help us ensure a smooth, safe and reliable delivery of the improved seven-carriage service in January 2006.</p>
<p>"This is because six- and seven-carriage trains cannot be run at the same time, and to ensure rigorous testing of the trains and signalling system prior to their introduction into passenger service. </p>
<p>"The new seven-carriage train Jubilee line service will then be gradually introduced in early January 2006.</p>
<p>"We've chosen to reduce the service in December and close the line over Christmas as this is the time of the year when the Tube is most lightly used. </p>
<p>"Replacement bus services will be in operation when the line is closed."</p>
<p>Currently, the Jubilee line capacity is approximately 33,000 people per hour in both directions when running 24 trains per hour. </p>
<p>With the introduction of seven-carriage trains and an extra four trains, LU will be introducing a new timetable in January 2006.</p>
<p>This will allow it to meet rising Jubilee line passenger demand and enable 39,000 passengers per hour to be carried.</p>
<h2>December-January timetable</h2>
<p>A special Jubilee line timetable will be operated during December 2005 and January 2006 as follows:</p>
<ul>
<li><strong>Sunday 11 to Saturday 24 December 2005 inclusive:<br></strong>The peak service offered on the Jubilee line will be reduced as six-carriage trains are progressively withdrawn from service to be converted into seven-carriage trains. All trains in passenger service during this period will be six-carriage trains. 
</li><li><strong>Sunday 25 to Friday 30 December 2005:</strong><br>During Christmas Day, when the whole of the Tube network is closed and for the rest of that week when fewer people use the Tube, the entire Jubilee line will be closed to customers.<br>This is to allow the completion of infrastructure works necessary for seven-carriage trains to run. Intensive testing of the seven-carriage train
            <ul>
<li>TfL is investing &pound;10bn over the next five years to improve and expand London's transport network, more than half of that in the Tube</li>
<li>Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines</li>
<li>LU has exercised a Specified Right in the PPP contracts to get from Tube Lines the delivery of a seven-car Jubilee line train service in 2006, rather than as part of the full line upgrade in 2009</li>
<li>Tube Lines is due to deliver a full line upgrade of the Jubilee line in 2009, increasing its capacity by 45 per cent</li></ul>

            
            

        </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "In order to ensure a safe and reliable introduction of longer seven-carriage trains on the Jubilee line, London Underground (LU) will gradually reduce the existing Jubilee line six-carriage service throughout December 2005 and close the line entirely for";}
        
        


 