


@{ViewBag.Title = "Kids quids in at Cycle Show";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Kids quids in at Cycle Show</h1>
        <div class="content-page-press-release">
        06 October 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This year's Cycle Show (14-16 October) is set to be a family affair, with entry for children just &pound;1 when accompanied by an adult.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Capital is the fastest-growing cycling city in Europe
                            
                        </p>
                    </div>
                
            
            
            <p>The Kids for a Quid promotion is sponsored by Transport for London (TfL), which has a central presence at this year's show at the ExceL Centre. </p>
<p>Visitors will be able to ride around the Capital without leaving the ExceL Centre by having a go on TfL's City Test Track, which is the central feature of the show. </p>
<p>The track will give people the chance to try out the latest bikes and equipment.</p>
<p>TfL is also offering free cycle coaching and advice for children. </p>
<p>London's emergency services' cycling teams will be on hand to give demonstrations of how they use bicycles in their work.</p>
<p>On Thursday 13 October celebrity cyclist Jon Snow, from Channel 4, will present prizes to the winners of TfL's Cycle Safer Challenge - a competition for school children in London to design fresh and innovative safety equipment for cycling. </p>
<p>The competition was open to Year 5 pupils from across London to encourage them to think creatively about cycling safety.</p>
<p>TfL is involved in the Cycle Show as part of its ongoing work to promote cycling in the Capital. </p>
<p>
<h2>'Great showcase'</h2>
<p>
<p>Cycling has seen a surge in popularity in London during the past five years and TfL is investing record amounts (&pound;20 million in 2005/06) in cycling infrastructure and training.</p>
<p>Peter Hendy, Managing Director Surface Transport at TfL, said: "London is seeing a fantastic renaissance of cycling, and the Capital is the fastest-growing cycling city in Europe. </p>
<p>"There is so much excitement around cycling at the moment, and the Cycle Show is a great showcase for all types of riding.</p>
<p>"The weekend promises to offer great days out for both cycling enthusiasts and people who don't cycle but are tempted to give two wheels a try."<br></p>
<p>
<hr>

<p>
<p>TfL is committed to improving road safety and supports a number of schemes aimed at reducing deaths and injuries on London's roads: <a href="http://www.tfl.gov.uk/roadsafety">www.tfl.gov.uk/roadsafety</a></p>
<p>Cyclists can learn more about staying safe on London's roads with TfL's safety guidelines: <a href="http://www.tfl.gov.uk/stayingsafe">www.tfl.gov.uk/stayingsafe</a> <br></p>
            <ul>
<li>For more information about cycling in London visit <a href="http://www.tfl.gov.uk/cycling">www.tfl.gov.uk/cycling</a> </li>
<li>For more information about Cycle Show visit <a href="http://www.cycleshow.co.uk/">http://www.cycleshow.co.uk/</a> </li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Kids for a Quid promotion is sponsored by Transport for London (TfL), which has a central presence at this year's show at the ExceL Centre. Visitors will be able to ride around the Capital without leaving the ExceL Centre by having a go on TfL's City";}
        
        


 