


@{ViewBag.Title = "Mayor sets out 2006 fares package to boost switch from cash to Oyster card";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor sets out 2006 fares package to boost switch from cash to Oyster card</h1>
        <div class="content-page-press-release">
        04 October 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Mayor of London's press office at the Greater London Authority. <BR>The new fares package will come into effect on 2 January 2006. Full details about the 2006 fares will be published online in December.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I believe Londoners are astute enough to choose the best value fare for their journey
                            
                        </p>
                    </div>
                
            
            
            <p>London Mayor Ken Livingstone today set out the proposed 2006 Tube and bus fares package, which aims to persuade more passengers to pay as they go using an Oyster smartcard rather than cash. </p>
<p>Almost 50 per cent of Tube journeys and 40 per cent of bus journeys are made using Oyster, but the majority of those are season tickets. </p>
<p>The Mayor wants to build on the success of Oyster by encouraging more passengers to use Oyster to pay as they go, rather than cash, to make journeys quicker and easier.</p>
<p>The new fares package proposes lower or frozen Oyster single fares and daily price caps, which is the amount you pay for a day's travel, however many bus and Tube trips you make.</p>
<ul>
<li>The Tube Zone 1 Oyster fare down from &pound;1.70 to &pound;1.50 and as the equivalent cash fare will be &pound;3, this will be a saving of &pound;1.50 
</li><li>The Tube Zones 1-2 Oyster fare down from &pound;2.10 to &pound;2 from 7am to 7pm Monday-Friday; and reduced by a quarter from &pound;2 to &pound;1.50 at other times, to encourage greater use at times where there is spare capacity 
</li><li>A single journey in Zones 2-6 will cost &pound;1 on Oyster if you pay as you go, compared to &pound;3 if you use cash 
</li><li>The bus and tram morning peak Oyster fare is frozen at &pound;1; and at 80p at all other times 
</li><li>All daily price caps for bus, Tube, DLR and tram travel are reduced or frozen and are set at 50p less than 2006 adult One Day Travelcard prices 
</li><li>The maximum Oyster single fare that applies on the Tube and DLR outside the hours of 7am to 7pm Monday-Friday is frozen at &pound;2.</li></ul>
<p>Under 16s already travel free on buses and trams and, from September 2006, free bus and tram travel will be extended to under 18s in full time education.</p>
<p>Single cash fares will increase to support the drive to shift passengers from cash to Oyster. </p>
<ul>
<li>Cash single fares rise to encourage the switch to Oyster. The minimum Tube adult cash fare rises to &pound;3 and the cash single bus or tram fare to &pound;1.50 
</li><li>The adult single fare on DLR, except to/from Bank and Tower Gateway is &pound;1.50. The adult single fare is &pound;3.00 for DLR journeys to/from Tower Gateway and Bank 
</li><li>Travelcard fares increase on average by inflation plus one per cent </li></ul>
<p>Speaking at City Hall, the Mayor said: "This proposed fares package focuses on halving the number of cash journeys made in 2006, to speed up journeys and improve the efficiency of the network. </p>
<p>
<h2>Switch and save money</h2>
<p>
<p>The simple message is that you don't have to pay the new cash fares - switch to Oyster and pay as you go and you will save money as well as time. </p>
<p>"I believe Londoners are astute enough to choose the best value fare for their journey."</p>
<p>The cash single fare on buses and trams will increase from &pound;1.20 to &pound;1.50. </p>
<p>Oyster single fares are frozen at &pound;1 in the morning peak and 80p at all other times. </p>
<p>The One Day Bus Pass will increase to &pound;3.50 but the Oyster price cap on buses will be frozen at &pound;3. </p>
<p>The weekly Bus Pass will increase from &pound;11 to &pound;13.50. 
<p>There will be an extra 30 minutes' early morning Oyster discount period with passengers now able to travel for 80p on Oyster until 7pm with the morning peak on buses and trams running from 7am until 9.30am. 
<p>
<p>On the Tube, the Zone 1 single cash fare will increase from &pound;2 to &pound;3 but the Oyster fare will reduce from &pound;1.70 to &pound;1.50. </p>
<p>The Zone 1-6 single cash fare will be set at &pound;4 compared to &pound;3.80 today with the Oyster fare frozen at &pound;3.50. </p>
<p>Outside Zone 1, the cheapest cash single fare will increase to &pound;3 from &pound;1.30 but the comparable Oyster fare will be reduced from &pound;1.10 to &pound;1.</p>
<p>Travelcard prices will typically increase by around four per cent. </p>
<p>For example,

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Mayor Ken Livingstone today set out the proposed 2006 Tube and bus fares package, which aims to persuade more passengers to pay as they go using an Oyster smartcard rather than cash. Almost 50 per cent of Tube journeys and 40 per cent of bus";}
        
        


 