


@{ViewBag.Title = "Meet the Manager open forum at Victoria station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Meet the Manager open forum at Victoria station</h1>
        <div class="content-page-press-release">
        28 October 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        On 2 November 2005, at Victoria Tube station from 1600 to 1930, members of the public will be offered the opportunity to meet and talk to London Underground managers about the recently announced Victoria station upgrade.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The upgrade will increase station capacity by 50 per cent
                            
                        </p>
                    </div>
                
            
            
            <p>Victoria Tube station is set for a major upgrade as part of TfL's 
five-year &pound;10bn investment programme. </p>
<p>The Victoria station upgrade aims to cut peak time congestion, improve 
capacity and provide better access for all passengers.</p>
<p>Once the upgrade is completed, the size of the station will have increased by 
50 per cent.</p>
<p>New features will also include:</p>
<ul>
<li>A new ticket hall 
</li><li>New lifts 
</li><li>Escalators to ease congestion and provide 
</li><li>Step-free access from street level to Victoria, Circle and District line 
platforms</li></ul>
<p>The &pound;500m upgrade is due to start in 2008 and be completed in 2013.<br></p>
            <ul>
<li>The award of the design contract for the Victoria station upgrade to Scott Wilson was announced on 6 September 2005 by Mayor of London Ken Livingstone</li>
<li>
<p>If any media wish to attend, please contact TfL press office beforehand</p></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Victoria Tube station is set for a major upgrade as part of TfL's five-year &pound;10bn investment programme. The Victoria station upgrade aims to cut peak time congestion, improve capacity and provide better access for all passengers.Once the upgrade is";}
        
        


 