


@{ViewBag.Title = "New magazine for Tube and Bus customers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New magazine for Tube and Bus customers</h1>
        <div class="content-page-press-release">
        06 October 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today announced it is to launch a new quarterly magazine for nearly a quarter of a million season ticket travel customers at the end of November.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We hope our customers will see it as a useful and informative companion to living and travelling in London
                            
                        </p>
                    </div>
                
            
            
            <p> The new magazine, to be called London Loop, replaces London Underground's (LU) successful Tube magazine, which launched in 2002 and was distributed to 130,000 Underground customers. </p>
<p>The new magazine will now also reach out to London bus users, who previously did not have their own magazine. </p>
<p>Liz Norris, LU Strategic Marketing Manager, said: "London Loop will give our customers a bigger and brighter insight into the way we work, combined with reader stories and exciting competitions. </p>
<p>"We hope our customers will see London Loop as a useful and informative companion to living and travelling in London."</p>
<p>Passenger numbers on London Buses have grown considerably in recent years and have now reached 6.3 million passenger journeys each day. </p>
<p>Last year, the Tube carried more passengers than ever before. </p>
<p>Both the Tube and the London Bus network are the backbone of London's public transport system and have a passenger profile that is increasingly interchanging between the two forms of transport. </p>
<p>Tube passenger research indicated that there was a growing demand for their customer magazine to contain London Bus, as well as Tube-specific, information.</p>
<p>The new magazine will continue to include news and features on London's transport network, alongside competitions and reader offers.</p>
<p>The publishing contract for London Loop has been awarded to The Forward Group and was competitively tendered through the Official Journal of the European Union. </p>
<p>The contract will last for two years with an option to extend it for a further year.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new magazine, to be called London Loop, replaces London Underground's (LU) successful Tube magazine, which launched in 2002 and was distributed to 130,000 Underground customers. The new magazine will now also reach out to London bus users, who";}
        
        


 