


@{ViewBag.Title = "No service on the Northern line";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>No service on the Northern line</h1>
        <div class="content-page-press-release">
        13 October 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>London Underground has the following travel advice for passengers:</p>
<ul>
    <li>Passengers should avoid the Northern line and seek alternative Tube, bus and rail routes</li>
    <li>LU tickets will be accepted on all alternative services</li>
    <li>We are also providing a number of alternative bus services picking up at stations served only by the Northern line, particularly in North London. These take passengers to stations served by other Tube lines.</li>
</ul>
<p>LU apologises to passengers for this disruption to service. We are working hard to return a service on the Northern line as soon as possible.</p>
<h2>Rail replacement services</h2>
<p>The following rail replacement bus services are available:</p>
<ul>
    <li><strong>Service A</strong>: Edgware - Burnt Oak - Colindale - Kingsbury </li>
    <li><strong>Service B</strong>: Hendon Central - Brent Cross - Golders Green - Finchley Road </li>
    <li><strong>Service C</strong>: Hampstead - Belsize Park - Chalk Farm - Camden Town - Warren Street </li>
    <li><strong>Service D</strong>: High Barnet - Totteridge - Woodside Park - Arnos Grove </li>
    <li><strong>Service E</strong>: West Finchley - Finchley Central - Bounds Green </li>
    <li><strong>Service F</strong>: East Finchley - Highgate - Archway - Highbury &amp; Islington </li>
    <li><strong>Service G</strong>: South Wimbledon - Colliers Wood - Tooting Broadway - Wimbledon </li>
</ul>
<p>Stations <strong>not served</strong> by these rail replacement services are:</p>
<ul>
    <li>Tufnell Park </li>
    <li>Kentish Town </li>
    <li>Mornington Crescent </li>
    <li>Warren Street to Kennington inclusive </li>
    <li>King's Cross to Kennington inclusive </li>
    <li>Oval to Tooting Bec inclusive </li>
    <li>Morden </li>
</ul>
<p>Passengers at these stations are asked to use existing alternative routes.</p>
<p>Passengers affected by the disruptions may be eligible for a <a href="/tube/contacts/refunds.asp">refund</a>.</p>
<p>
</p>
<hr />
<p>
</p>
<p>
</p>
<p>For 24-hour information on public transport in London, please call: 020 7222 1234.<br /><br />TfL's Realtime pages display live travel information on London's public transport network: <a href="http://www.tfl.gov.uk/realtime">www.tfl.gov.uk/realtime</a> </p>
<p>Journey Planner checks the transport network's status before providing results. The best available route is shown automatically: <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> </p>
<p>Travel alerts via SMS and email can be set up at: <a href="http://www.tfl.gov.uk/alerts">www.tfl.gov.uk/alerts</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground has the following travel advice for passengers:- Passengers should avoid the Northern line and seek alternative Tube, bus and rail routes - LU tickets will be accepted on all alternative services - We are also providing a number of";}
        
        


 