


@{ViewBag.Title = "Peace and Love on the Underground";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Peace and Love on the Underground</h1>
        <div class="content-page-press-release">
        10 October 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Platform for Art, the Underground public art programme, is delighted to announce a new commission by Beatriz Milhazes for Gloucester Road Tube station.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Brazilian baroque is one of the inspirations for Beatriz Mihazes' work
                            
                        </p>
                    </div>
                
            
            
            <p>The new exhibition, entitled Peace and Love, will be on display from 22 November-22 May on the District and Circle line platform.</p>
<p>This exhibition continues Platform for Art's commitment to showing ambitious works by leading international artists. </p>
<p>Peace and Love is a vivid, colourful and exuberant exhibition that will energise the station and become a 'must-see' London artwork.</p>
<p>Beatriz Milhazes' rich and complex work refers to her everyday environment, such as flora and fauna, carnival, folk art and colonial Brazilian baroque.</p>
<p>Using a collage-like technique, the artist has built layered images that shine with intense, vibrant colours.</p>
<p>Each of the 19 large vaulted arches on the District and Circle line platform at Gloucester Road will contain an eccentric and elegant part of the dense, vividly coloured, tightly knit composition.</p>
            <ul>
<li>Beatriz Milhazes was born, lives and works in Brazil </li>
<li>Internationally renowned, she has exhibited worldwide and represented Brazil at the Venice Biennale in 2003 </li>
<li>Her exhibitions include a major survey show at the Centro Cultural Banco do Brazil, Rio de Janeiro (2002), a solo show at the Ikon Gallery, Birmingham (2001), and the Sao Paolo Biennale 2004 </li>
<li>Last year, she was commissioned by Selfridges to create a temporary fa&ccedil;ade for their Manchester Exchange Store, and has also created the latest restaurant mural for Tate Modern, which was unveiled on August 12 </li>
<li>Milhazes' Platform for Art commission will coincide with an exhibition of new work on canvas which will open at the Stephen Friedman Gallery in London on November 24 </li>
<li>This new work by Beatriz Milhazes will be the ninth site-specific installation curated by Tamsin Dillon at Gloucester Road for Platform for Art </li>
<li>With over one million passengers using the station per month, Gloucester Road has possibly the biggest audience for contemporary art in the country </li>
<li><a href="http://www.tfl.gov.uk/tfl/corporate/projectsandschemes/artmusicdesign/pfa/">Platform for Art</a> is the public art programme for London Underground </li>
<li>For more information on Platform for Art, its exhibitions and projects, please tel: 020 7918 4625 or email <a href="mailto:plat4art&#64;tube.tfl.gov.uk">plat4art&#64;tube.tfl.gov.uk</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new exhibition, entitled Peace and Love, will be on display from 22 November-22 May on the District and Circle line platform.This exhibition continues Platform for Art's commitment to showing ambitious works by leading international artists. Peace and";}
        
        


 