


@{ViewBag.Title = "Piccadilly and District line track improvement works continue over the next two weekends";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Piccadilly and District line track improvement works continue over the next two weekends</h1>
        <div class="content-page-press-release">
        12 October 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        On 15-16 and 22-23 October, two further weekend closures will take place on the Piccadilly line from Acton Town to Hyde Park Corner, and on the District line from Earl's Court to Acton Town/Gunnersbury to enable Metronet to continue with track replacement and improvement works.
        
    </div>



 <div class="on-this-page">
<p>This work is part of Transport for London's 5-year, &pound;10bn investment programme.</p>
<p>Further closures will take place over the course of the next two years to complete the track replacement work which is necessary for the renewal of the Tube.</p>
<p>Alternative transport to affected destinations this weekend is as follows:</p>
<p><strong>Between Heathrow Airport and central London</strong><br>Ticket acceptance arrangements will be in place with the Heathrow Express and Heathrow Connect service <br><br>LU customers who hold a valid London Underground Zone 1-6 Travelcard (both season and day tickets) or a Freedom pass, are allowed to travel between Heathrow Airport and Paddington on the Heathrow Express or the Heathrow Connect service between Heathrow Airport and Ealing Broadway on this weekend and during the other planned weekend closures only.</p>
<p>Holders of Travelcards which do not cover all six zones must buy a ticket extension before they travel.</p>
<p>Children under 16 travel free on the Heathrow Express or Heathrow Connect service when accompanied by an adult with a valid ticket. </p>
<p>The Heathrow Express provides fully accessible travel to and from Paddington to Heathrow every 15 minutes, with a 15-minute journey time to and from Terminals 123, and 23 minutes to and from Terminal 4. </p>
<p>The Heathrow Connect service operates every 30 minutes with an average journey time of 25 minutes, calling at Ealing Broadway, West Ealing, Hanwell, Southall and Hayes & Harlington. </p>
<p>The Heathrow Connect does not stop at Terminal 4. Additionally, it does not stop at West Ealing or Hanwell before 0500 from Monday-Saturday, with no service at all on Sundays.</p>
<p>Customers can still travel between central London and Heathrow on the Underground via the Central line to Ealing Broadway, then the District line shuttle to Acton Town - which will operate at a frequency of three trains per hour - and then the Piccadilly line to Heathrow Terminals 123 (or change at Hatton Cross for the rail replacement bus to Terminal 4). </p>
<p>This route would take approximately 80 minutes from central London and is not recommended for customers with mobility impairments or large amounts of luggage.</p>
<p><strong>Between all stations Hatton Cross to Acton Town and Central London</strong><br>Customers travelling between Piccadilly line stations west of Acton Town and central London are advised to take the District line from Acton Town or Ealing Common to Ealing Broadway, and change there for the Central Line. </p>
<p>Customers using this route will need to allow an extra 30 minutes to make their journey.</p>
<p><strong>Between Gunnersbury, Kew Gardens and Richmond and Central London<br></strong>Silverlink Metro will still operate between Gunnersbury and Richmond, operating a 15-minute service on both Saturday (as normal) and Sunday (boosted from two trains per hour to four trains per hour).</p>
<p>Valid Underground tickets will also be accepted on South West Trains between Richmond, Vauxhall and Waterloo. </p>
<p>However, on Sunday 16 October only, South West Trains will operate a rail replacement bus while Network Rail also carries out engineering works.</p>
<p><strong>Between all stations Wimbledon, Edgware Road and Upminster<br></strong>The District line will operate two services between Wimbledon and Upminster and Kensington Olympia to Edgware Road. </p>
<p>Passengers travelling to and from stations on the Edgware Road and Wimbledon branches will need to change at Earl's Court.</p>
<p><strong>Local journeys and between West Kensington and Chiswick Park<br></strong>To cater for local traffic, two rail replacement bus services will operate in both directions stopping at the following stations:</p>
<ul>
<li>West Brompton - West Kensington - Hammersmith 
</li><li>Hammersmith - Ravenscourt Park - Stamford Brook - Turnham Green - Chiswick Park - Gunnersbury - Acton Town</li></ul>
<p>It will not be possible to run a b
            <ul>
<li>Transport for London (TfL) is investing &pound;10bn over the next five years to improve and expand London's transport network, more than half of that in the Tube</li>
<li>Metronet Rail SSL is responsible for the maintenance and renewal of the Circle, District, Hammersmith & City, Metropolitan and East London lines</li>
<li>Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines</li>
<li>Metronet Rail SSL is responsible for the maintenance of the District line track that is being renewed between Barons Court and Ravenscourt Park, and the Piccadilly line track between Hammersmith and Acton Town as the District and Piccadilly lines run above ground in parallel to each other <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This work is part of Transport for London's 5-year, &pound;10bn investment programme.Further closures will take place over the course of the next two years to complete the track replacement work which is necessary for the renewal of the Tube.Alternative";}
        
        


 