


@{ViewBag.Title = "Security net closes in to Immobilise bicycle thieves";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Security net closes in to Immobilise bicycle thieves</h1>
        <div class="content-page-press-release">
        13 October 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than 80,000 bicycles were stolen in London last year, but only five per cent of those bikes made it back to their owners.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Immobilise Register enables the police to identify bicycle owners
                            
                        </p>
                    </div>
                
            
            
            <p>To help tackle the problem, Transport for London has teamed up with the Metropolitan Police and City of London Police to include the registration of bicycles on the <a href="http://www.immobilise.com ">Immobilise Register</a>, a register that has demonstrated success in tackling mobile phone crime in the last year. </p>
<p>This register is a system that allows the UK police to identify the owner of any registered item of property. </p>
<p>In addition, the public can 'flag' any registered item as lost or stolen and this then appears on any police search. </p>
<p>There are three simple steps to this free service</p>
<ul>
<li><strong>Register:</strong> Register bicycle model, make and frame number 
</li><li><strong>Report:</strong> Report it if lost or stolen, both to the police and the register 
</li><li><strong>Reunite:</strong> Registering and then reporting these details helps the police match the bike's description, if found, and return it to you</li></ul>
<p>This development was launched by Jenny Jones, Member of the London Assembly Member and the Metropolitan Police Authority, at the Cycle Show today (13 October).</p>
<p>Ms Jones said: "London has been very successful in increasing the number of cyclists, but if we don't make cycle theft more difficult then many people will be put off using their bikes. </p>
<p>"This initiative is about making life harder for criminals and much easier for cyclists."</p>
<h2>Cycling renaissance</h2>
<p>Peter Hendy, Managing Director Surface Transport at TfL, said: "For many cyclists their bike is their pride and joy, and having it stolen is a horrible experience. </p>
<p>"This is compounded by so few bikes ever making it back to their owners. </p>
<p>"By registering their bicycles, owners have a fighting chance of getting them back."</p>
<p>To help take the risk out of buying second-hand bicycles, cyclists and traders will be able to check if the bike they intend to buy has been registered as lost or stolen on this database by visiting <a href="http://www.checkmend.org">www.checkmend.org</a>.</p>
<p>London is leading a cycling renaissance, with more than 300,000 cycle trips every day. </p>
<p>However, security is one of the biggest barriers to encouraging people to cycle in London. </p>
<p>TfL, along with the London boroughs, has installed 10,000 secure on-street cycle parking spaces and 5,000 spaces at schools and colleges, with thousands more to come. </p>
<p>Detective Superintendent Martin Stevens of the Metropolitan Police said: "The Metropolitan Police fully supports the new database and hopes that the benefits of having a single system of identification for bicycles in London has the same operational benefits as is the case with mobile phones."</p>
<p>TfL offers a number of tips to help prevent cycles being stolen:</p>
<ul>
<li>Make sure the lock you buy is a good one and consider buying two. Expect to pay about 20 per cent of the value of your bicycle on a lock. 
</li><li>Lock it or lose it. On a day to day basis you can minimise the risk of theft by:<br>- Parking your bike in a public space where everyone can see it - people will also see if someone is trying to steal it 
</li><li>Locking your frame and both wheels to an immovable object. If the lock only goes through the wheel a thief may steal the bike and leave the wheel behind.</li></ul>
<p>For more tips visit <a href="http://www.tfl.gov.uk/cycling">www.tfl.gov.uk/cycling</a></p>
            <ul>
<li>There are 1.4 million bicycles owned in Greater London 
</li><li>More than 300,000 cycle trips are made in London every day 
</li><li>The Cycle Show is at the Excel Centre from 14-16 October 
</li><li><a href="http://www.immobilise.com">www.immobilise.com</a> was initially established for the registration of mobile phones. Its success in reducing mobile phone crime has spurred its expansion to include the registration of bicycles and other property 
</li><li>The registration of bicycles on this register is fully endorsed by the Metropolitan and City of London Police, Association of Cycle Traders, Bicycle Association, and London Cycle Campaign </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "To help tackle the problem, Transport for London has teamed up with the Metropolitan Police and City of London Police to include the registration of bicycles on the Immobilise Register, a register that has demonstrated success in tackling mobile phone";}
        
        


 