


@{ViewBag.Title = "Shepherd's Bush (Hammersmith and City) station closures";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Shepherd's Bush (Hammersmith and City) station closures</h1>
        <div class="content-page-press-release">
        27 October 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Refurbishment works to improve Shepherd's Bush (Hammersmith & City line) station as part of Transport for London's (TfL) five-year &pound;10bn investment programme are presently underway.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Customers are advised to use Goldhawk Road station or Shepherd's Bush (Central line) station
                            
                        </p>
                    </div>
                
            
            
            <p>While this refurbishment work takes place, Shepherd's Bush station will close at 2100 on various evenings from November 6 2005 until February 2006.</p>
<p>When Queens Park Rangers are playing at home, the closure will commence at 2300.</p>
<p>The station will also be closed on the weekends of:</p>
<ul>
<li>November 12-13
</li><li>December 3-4 and 10-11 
</li><li>January 7-8, 21-22, 28-29 
</li><li>February 4-5</li></ul>
<p>During these closures, Hammersmith &amp; City line trains will not stop at the station.</p>
<p>Customers are advised to use Goldhawk Road station or Shepherd's Bush (Central line) station instead.</p>
<p>Journeys will be increased by up to 20 minutes.</p>
<p>The refurbishment works to be undertaken by Metronet Rail SSL will include the replacement of CCTV cameras, installation of customer Help Points, an enhanced public address system, new wall tiles, improved lighting and ceilings and tactile strips on platforms and stairs, along with contrasting handrails.</p>
<hr>
For 24-hour information on public transport in London, please call: 020 7222 1234.<br><br>TfL's Realtime pages display live travel information on London's public transport network: <a href="http://www.tfl.gov.uk/realtime">www.tfl.gov.uk/realtime</a> 
<p>Journey Planner checks the transport network's status before providing results. The best available route is shown automatically: <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> </p>
<p>Travel alerts via SMS and email can be set up at: <a href="http://www.tfl.gov.uk/alerts">www.tfl.gov.uk/alerts</a></p>
            <ul>
<li>Transport for London is investing &pound;10bn over the next five years to improve and expand London's transport network, more than half of that in the Tube</li>
<li>Metronet Rail SSL is responsible for the maintenance and renewal of the Circle, District, Hammersmith & City, Metropolitan and East London lines</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "While this refurbishment work takes place, Shepherd's Bush station will close at 2100 on various evenings from November 6 2005 until February 2006.When Queens Park Rangers are playing at home, the closure will commence at 2300.The station will also be";}
        
        


 