


@{ViewBag.Title = "TfL confirms shortlist of two for London Underground ad concession";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL confirms shortlist of two for London Underground ad concession</h1>
        <div class="content-page-press-release">
        18 October 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today announced a shortlist of two companies who will proceed to the final stages in the tenders for the London Underground (LU), Docklands Light Railway (DLR), TfL Group Property and Victoria Coach Station advertising concessions.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are confident TfL will achieve unprecedented value for the new contracts
                            
                        </p>
                    </div>
                
            
            
            <p>The shortlists for the respective contracts are as follows:</p>
<ul>
<li><strong>LUL</strong> <br>JCDecaux<br>Viacom Outdoor 
</li><li><strong>Group Property</strong> <br>Insight Outdoor<br>JCDecaux 
</li><li><strong>Victoria Coach Station <br></strong>JCDecaux<br>Viacom Outdoor 
</li><li><strong>DLR</strong> <br>JCDecaux<br>Viacom Outdoor </li></ul>
<p>Chris Townsend, TfL's Director of Group Marketing, said: "Against the backdrop of a buoyant outdoor market we are confident TfL will achieve unprecedented value for the new contracts, maximising revenues from our flagship advertising estates.</p>
<p> "This is good news for Londoners as the additional income will support the improvements to the Capital's transport infrastructure being made by TfL's 5-Year Investment Programme."</p>
<p>LU alone is London's largest outdoor media owner, with 33,000 station and 80,000 on-board train sites - an estate which generates a sizeable annual income stream for the Capital's transport authority.</p>
<p>The current LU contract held by incumbent concessionaire Viacom concludes in mid-2006 and the tender will provide TfL with a revised market valuation of the business while also reviewing how best to enhance the quality of the advertising estate. </p>
<p>Viacom also holds the DLR and VCS contracts.</p>
<p>Appointments will be announced in Spring 2006.</p>
<p><br></p>
<p>
            <ul>
<li><strong>The outdoor sector</strong> <br>Outdoor has consistently out performed all other media sectors, with a total rise of around 75 per cent in gross national outdoor spend over the last 10 years. Of this London's share has remained at around 40 per cent over the same period. Sector gross revenue rose to &pound;309m in 2003 from &pound;225.2m in 1998 reflecting an average 7 per cent year-on-year rise for the last six years and an impressive 37 per cent rise in total, well in advance of other sectors. This upward trend is set to continue with the Advertising Association predicting an eight per cent rise for 2004 and seven percent for 2005. </li>
<li><strong>LU Site portfolio</strong> <br>LU's estate offers a range of innovative, non-traditional media utilising unique placements and new technologies as well as traditional paper-based and back-lit media. <br>LU's portfolio of sites includes escalator and Tube car panels; cross track poster sites ranging from 16, 96 sheet; dynamic billboards; and station corridor 6 sheets.</li>
<li><strong>LU traffic and reach</strong> <br>3 million passenger journeys a day; 953m annual journeys<br>34 per cent of regular users are 15-34 years old<br>78 per cent of regular users are ABC1s</li>
<li><strong>DLR</strong><br>Advertising estate comprises approximately 500 poster sites on the stations, stairs and walkways and a further 2,600 on trains. Special advertising is also undertaken. It is similar in terms of its nature and operational issues to that of LU.</li>
<li><strong>Group Property</strong> <br>Group Property is responsible for approximately 260 mostly large format roadside advertising hoardings. The sites are typically located on LU. This is a fluid portfolio and is unlike the advertising opportunity on the Underground proper where greater longevity can be assured.</li>
<li><strong>Victoria Coach Station</strong><br>Victoria Coach Station Ltd has poster advertising in Victoria Coach Station comprising around 40 advertising spaces. Typically these are six sheet and some are illuminated.</li>
<li><strong>Londoners and their spending habits <br></strong>7.2 million residents<br>25 per cent higher income than national average and spent &pound;32bn on their last cars<br>&pound;4bn on their last holidays</li></ul>
<p>(TfL & TGI April 2002-March 2003, regular Underground users)<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The shortlists for the respective contracts are as follows:LUL JCDecauxViacom Outdoor Group Property Insight OutdoorJCDecaux Victoria Coach Station JCDecauxViacom Outdoor DLR JCDecauxViacom Outdoor Chris Townsend, TfL's Director of Group Marketing, said:";}
        
        


 