


@{ViewBag.Title = "This computer game is made for walking";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>This computer game is made for walking</h1>
        <div class="content-page-press-release">
        03 October 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A computer board game with the unusual task of getting children outdoors instead of sitting in front of a screen is being launched to help celebrate Walk to School Week (3 - 7 October).
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The game helps children learn about travel, health, road safety and the environment
                            
                        </p>
                    </div>
                
            
            
            <p>The Good Going school travel plan game, which is the first of its kind, has been designed as a fun, interactive way to help children learn about travel, health, road safety and the environment.</p>
<p>It has been developed by Good Going, a campaign, supported by Transport for London, to promote sustainable transport in the Capital.</p>
<p>The interactive CD will be launched by London Assembly Member Jenny Jones at a primary school in Lambeth with a real-life giant version of the board game.</p>
<p>The game, which is aimed at children years 3-6 (ages 7 to 11), has been developed with the help of teachers and pupils. </p>
<p>Designed as a teaching resource, it introduces travel awareness and school travel plans into the classroom.</p>
<p>The school travel plan CD can be played by up to four pupils, or by a whole class on a whiteboard.  </p>
<p>With easy-to-follow instructions on screen, players are asked a series of pop-up questions along the board.  </p>
<p>All questions are designed to provide discussion points.</p>
<p><h2>Reducing congestion</h2></p>
<p>Peter Hendy, Managing Director Surface Transport, TfL, said: "The school run represents one in five cars on the road at peak times and as journeys are often less than one mile, this causes significant levels of congestion.  </p>
<p>"TfL is working closely with schools and the London boroughs to come up with different ways to get pupils to school."</p>
<p>"This new game will help schools to get their pupils involved in developing their travel plans and will teach them about different ways to get to school other than the car."</p>
<p>School travel plans help to ensure that schools identify alternative methods for pupils to get to school.<br></p>
            <ul>
<li>A copy of the computer game and images are available on request 
</li><li>For more details about the Good Going campaign, visit <a href="http://www.goodgoing.co.uk">www.goodgoing.co.uk</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Good Going school travel plan game, which is the first of its kind, has been designed as a fun, interactive way to help children learn about travel, health, road safety and the environment.It has been developed by Good Going, a campaign, supported by";}
        
        


 