


@{ViewBag.Title = "Transport for Londons Streetscape Guidance";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for Londons Streetscape Guidance</h1>
        <div class="content-page-press-release">
        05 October 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London has now launched 'Streetscape Guidance' -  a guide to help those who design and maintain London's main road network.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            There is a need to think afresh about London's streets and how we use them
                            
                        </p>
                    </div>
                
            
            
            <p>It follows a recent English Heritage campaign to 'Save our Streets' which claimed 'visual chaos' was ruining some of the capital's best locations.</p>
<p><br>Experts at TfL have worked closely with the Mayor's Architecture and Urbanism Unit (A+UU) to draw up the <a href="/businessandpartners/publications/4858.aspx">Streetscape Guidance</a>.</p>

<p>It currently features at the 'Civilizing Spaces: Improving London's Public Realm' exhibition, until 8 October 2005 at New London Architecture at The Building Centre, Store Street in Central London.</p>
<p>The exhibition celebrates the growing understanding of the importance of excellent, amenable and accessible public spaces in London, centred on the Mayor's 100 Public Spaces programme.</p>
<p>Streetscape Guidance principles include:<br></p>
<ul>
<li>Accessible streets for pedestrians and cyclists as well as motorists and other road users </li>
<li>Adequately lit and well-drained footways and cycle tracks </li>
<li>Clear routes that are understandable and uncluttered </li>
<li>Streets that are free from hiding places that facilitate crime </li>
<li>Streets that are welcoming and allow people to interact socially </li>
<li>Streets that are easily accessible by people with visual and mobility impairments </li>
<li>Calm and well designed streetscapes that use high quality yet flexible and sustainable materials</li></ul>
<p>
<h2>An in-depth understanding</h2>
<p>
<p>Streetscape Guidance includes - amongst many other things - good practice advice on designer procurement, an analysis of character areas, drawings of typical details and a refined palette of materials.</p>
<p>It provides an in-depth understanding of all elements that make up London's streets of today. </p>
<p>Drew Bennellick from English Heritage congratulated TfL on the guidance: "English Heritage has been battling against the clutter adorning the capital's historic streets since we published 'Streets for All - A Guide to the Management of London's Streets'.</p>
<p>"Much progress has been made since then but we are absolutely delighted that Transport for London has now published such excellent clear guidance to help all those involved with the TfL Road Network.</p>
<p>"Defining consistent standards for street furniture, ridding London of surplus signs and improving the quality of pavements will improve London for everyone." </p>
<p>Urban Design London's Ludo Campbell-Reid added: "This document arrives at a crucial time and marks a turning point.</p>
<p>"It provides a powerful support to those agencies and local authorities who have placed the commissioning and delivery of safe, accessible and attractive public realm at the heart of their local agendas."</p>
<p>TfL's MD of Surface Transport Peter Hendy, said: "There is a need to think afresh about London's streets and how we use them, to ensure that London is a place where people want to be.</p>
<p>"Streetscape Guidance is an important step towards progressive improvements in the street environment.</p>
<p>"We are keen to work with London local authorities and other key stakeholders to put the principles into practice."</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "It follows a recent English Heritage campaign to 'Save our Streets' which claimed 'visual chaos' was ruining some of the capital's best locations.Experts at TfL have worked closely with the Mayor's Architecture and Urbanism Unit (A+UU) to draw up the";}
        
        


 