


@{ViewBag.Title = "Tube gas hoaxer given suspended sentence";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube gas hoaxer given suspended sentence</h1>
        <div class="content-page-press-release">
        21 October 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A man who falsely claimed that he had been sprayed with a noxious substance on the Tube has been given a 12-eek suspended sentence for wasting police time.
        
    </div>



 <div class="on-this-page">
<p>Christopher Kent, 19, a former television researcher from Laindon, Essex, appeared at Horseferry Magistrates Court on 19 October 2005, where he pleaded guilty to the wasteful employment of the Police. </p>
<p>Sentencing was held over until Thursday 20 October.</p>
<p>Kent had falsely reported that he was sprayed with a "noxious substance" on a Circle line train near Bayswater on 20 May 2005.  </p>
<p>The British Transport Police (BTP) spent 40 hours in extensive enquires which included examining station log- books and CCTV. Nothing was found. </p>
<p>Superintendent Andy Ball of the BTP said: "Irresponsible acts such as this fuel the fear of crime. </p>
<p>"Investigating this false report has occupied a great deal of police time that could have been better spent on other duties during a period of heightened security. </p>
<p><h2>Wasted time</h2></p>
<p>"Crime on the Underground is falling. While there is still much to, we are working hard with our partners to improve the environment and safety for Underground passengers.</p>
<p>"We rightly invested a lot of time in investigating this report which, at the time, received significant media coverage. </p>
<p>"We will continue to actively prosecute all false reporting of crime, including the theft of mobile phones. </p>
<p>"These reports distort the true picture and create a false impression of crime on the Underground.</p>
<p>"This sentence reflects the seriousness of this offence. It will send out a powerful message to others who might consider cynically using the police to further their own ambitions. </p>
<p>"We are very pleased that the court shares this view."</p>
<p>Mike Brown, LU's Chief Operating Officer, said: "This hoax wasted a lot of time for the BTP, who thoroughly investigated this incident. </p>
<p>"It also put Tube staff under unnecessary scrutiny, particularly when it was reported in the media. </p>
<p>"LU, along with the BTP, welcomes the sentence. LU staff and passengers have the right to work and travel without the additional fear of hoaxes. </p>
<p>"We believe that this sentence will act as a deterrent."</p>
<p>As well as the 12-week sentence (suspended for a year), Kent was also given 100 hours' community service and ordered to pay &pound;55 in prosecution costs. </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Christopher Kent, 19, a former television researcher from Laindon, Essex, appeared at Horseferry Magistrates Court on 19 October 2005, where he pleaded guilty to the wasteful employment of the Police. Sentencing was held over until Thursday 20";}
        
        


 