


@{ViewBag.Title = "Underground map turned masterpiece";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Underground map turned masterpiece</h1>
        <div class="content-page-press-release">
        25 October 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Platform for Art, the art programme for the Underground, has commissioned the internationally acclaimed British artist David Shrigley to design the new cover of the pocket Tube maps, available in Underground stations across the network from November 2005.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            David has produced a work that will amuse anyone who uses one of the maps
                            
                        </p>
                    </div>
                
            
            
            <p>London Underground has a long-established tradition of working with artists of the highest calibre, and since 2000 its Platform for Art programme has been continuing this tradition through many projects around the network.</p>
<p>Bright, anarchic and humorous, the artist's new illustration represents an abstract tangle made up of the same coloured lines used on the Tube map.</p>
<p>Platform for Art curator Tamsin Dillon said: "This series of commissions for the Tube map cover celebrates the superb quality and range of work being produced by established artists working today and continues London Underground's tradition as a patron of the arts.</p>
<p>"I was delighted when David Shrigley accepted this commission; he has produced a funny, instantly recognisable work that will amuse anyone who uses one of the maps."</p>
            <ul>
<li>Renowned in both Europe and America, Shrigley has exhibited extensively around the world. 
</li><li>His first major solo shows in London were in 1997 at both the Photographer's Gallery and Stephen Friedman Gallery. 
</li><li>Since then his work has been regularly exhibited throughout Britain, Europe, the USA, Australia and Canada 
</li><li>David Shrigley was born in Macclesfield in 1968 and studied at Glasgow School of Art from 1988-91. He currently lives and works in Glasgow. 
</li><li>His work has been exhibited in Europe and the USA with prestigious solo shows in The Photographer's Gallery, London (1997), Galerie Yvon Lambert, Paris (1999), UCLA Hammer Museum, Los Angeles and Camden Arts Centre, London (both 2002), and Kunsthaus, Zurich (2003); 
</li><li>This Tube map cover will be David Shrigley's second commission for Platform for Art; he also produced a billboard commission for Gloucester Road Underground Station in 2003. 
</li><li>Both projects were initiated by Platform for Art curator Tamsin Dillon 
</li><li>The Tube map will have a print run of five million and will be the third in the series. 
</li><li>The first - 'You Are Here' by Emma Kay - proved extremely successful, with the entire print run disappearing in record time, turning millions of London Underground customers into collectors in the space of a few weeks 
</li><li>The second, featuring an image by Gary Hume, was distributed last June and has proven to be equally as popular</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground has a long-established tradition of working with artists of the highest calibre, and since 2000 its Platform for Art programme has been continuing this tradition through many projects around the network.Bright, anarchic and humorous,";}
        
        


 