
    
  



@{ViewBag.Title = "Become a TfL supplier";}
@{ViewBag.Keywords = "Suppliers,TfL";}
@{ViewBag.Url = "/info-for/suppliers-and-contractors/become-a-supplier";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/suppliers-and-contractors/index">Suppliers & contractors</a></li>
                
            
            
                <li><span class="last-breadcrumb">Become a TfL supplier</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Become a TfL supplier</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out more about becoming one of our suppliers. 
        
      </div>
    
    <div class="on-this-page">
      <h2>Pre-qualification (rail)</h2>

<h3>Railway Industry Supplier Qualification Scheme (RISQS)</h3>
      
           
      
<div class="module-grid clearfix">
<div>

<p>RISQS offers potential suppliers a single common qualification process. It is shared by the UK rail industry, including London Underground&nbsp;and London Rail.</p>

<p>We use RISQS to recruit suppliers who meet the selection criteria for our competitive tendering processes - this is mainly for rail and Tube projects. <a href="https://www.risqs.org">Find out more about RISQS.</a></p>

<h2>Electronic tendering</h2>
</div>
 <div class="login-widget option-one moving-source-order">

    <h3>Sign in to RISQS</h3>
    <a href="https://portal.risqs.org/Login?ReturnUrl=%2f" class="primary-button">Sign in</a>
    
</div>
 
</div>
 
<div class="module-grid clearfix">
<div>

<div>

<p>Our eTendering system, ProContract, is a web-based tendering tool that supports procurement activities and collaboration between the buyer and supplier.</p>
<p>If you are a supplier you should register on ProContract before tendering for opportunities with TfL. </p>
</div>
 
</div>
 <div>

<div class="login-widget">

    <h3 class="high-contrast-heading">Sign in to eTendering</h3>
    
    <a href="https://procontract.due-north.com/Login" class="primary-button">Sign in</a>
    Not registered? <a href="https://procontract.due-north.com/Register">Create an account</a>
</div>
 
</div>
 
</div>
 <div>

<h2>Supplier registration</h2>
<p>You can find full instructions and further information on how to <a href="/corporate/publications-and-reports/procurement-information">register as a supplier </a>.</p>
<h2>CompeteFor</h2>
</div>
 
<div class="module-grid clearfix">
<div>


        <p>We recommend that potential suppliers register on CompeteFor in order to benefit from:</p>
        <ul>
            <li>Equal access to a range of opportunities from major buyers and their supply chains, offering achievable packages of work, particularly for small and medium-sized suppliers </li>
            <li>E-alerts about 'matched' opportunities</li>
            <li>Seeing who has been awarded and shortlisted for contracts</li>
        </ul>
    
</div>
 <div class="login-widget option-one moving-source-order">

    <h3>Sign in to CompeteFor</h3>
    <a href="https://www.competefor.com/business/login.jsp" class="primary-button">Sign in</a>
    
        <p>Not registered? <a href="https://www.competefor.com/business/signup.html">Register for an account</a>.</p>
    
</div>
 
</div>
 
<div>



<h2>External access - quick guide</h2>


<p>If you are an external supplier and need access to TfL Management System documents, find out how:</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/external-access-quick-guide-existing-users.pdf">
    <div class="document-download-text">
        <p>External access quick guide</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.60MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.60 -->
 
</div>

</div>
 
<div>



<h2>TfL supplier guide</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/supplier-guide-pdf.pdf">
    <div class="document-download-text">
        <p>An essential guide to supplying to TfL</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.54MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.54 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/suppliers-and-contractors/index" class="heading">
                    <h2 id="sub-menu-heading">Suppliers & contractors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/become-a-supplier">Become a TfL supplier</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/opportunities">Find contract opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/recieving-orders-and-getting-paid">Invoicing and getting paid</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/what-we-buy">What we buy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/engineering-standards-challenge">Engineering Standards Challenge</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-relations">Supplier relations</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-toolkit">Digital toolkit</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/design-standards-and-licensing">Design standards & licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-buses-tenders">London Buses tenders</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-service-permits">London Service Permits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-handbook">LU Supplier Handbook</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/traffic-management">Traffic management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/tfl-supplier-awards">TfL Supplier Awards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/zero-harm-forum">Zero Harm Forum</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out how to qualify and register as a TfL supplier";}
        
            
        


 