
    
  



@{ViewBag.Title = "Design standards";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/suppliers-and-contractors/design-standards";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/suppliers-and-contractors/index">Suppliers & contractors</a></li>
                
            
                 <li><a href="/info-for/suppliers-and-contractors/design-standards-and-licensing">Design standards & licensing</a></li>
                
            
            
                <li><span class="last-breadcrumb">Design standards</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Design standards</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Design standards are essential for promoting a high level of quality and consistency across all communications produced by us.
        
      </div>
    
    
      <p>We do this by ensuring:</p>
<ul>
    <li>The correct positioning of branding elements</li>
    <li>The correct use of corporate typefaces</li>
    <li>Compliance with the Equality Act 2010</li>
</ul>
<p> Design standards are also useful for promoting safety by making sure our messages help passengers use the transport network with ease and confidence.</p>
<h2>Modal differences</h2>
<p>We have produced a range of design standards for use by staff, suppliers and design agencies involved in graphic design and layout.</p>
<p>Although some guidelines apply across different modes and business areas, key differences between them mean it is essential that the correct set of standards is applied.</p>
      
           
      <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="tfl-corporate-design-standards-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Design standards-TfL corporate design standards"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="tfl-corporate-design-standards-heading" class="accordion-heading">TfL corporate design standards</div>
            </div>
            <div id="tfl-corporate-design-standards-content" class="start-hidden" role="region" aria-labelledby="tfl-corporate-design-standards-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-advertising-standard.pdf">
    <div class="document-download-text">
        <p>Advertising and service information standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.55MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.55 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-basic-elements-standards-issue07.pdf">
    <div class="document-download-text">
        <p>Basic elements standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 459KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.45 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-colour-standards-issue04.pdf">
    <div class="document-download-text">
        <p>Colour standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 226KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-digital-display-standards.pdf">
    <div class="document-download-text">
        <p>Digital display standards</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.37MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-display-stands-standards.pdf">
    <div class="document-download-text">
        <p>Display stands standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.47MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.47 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-door-signs-in-the-customer-environment.pdf">
    <div class="document-download-text">
        <p>Door signs in the customer environment standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.44MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.44 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-editorial-style-guide.pdf">
    <div class="document-download-text">
        <p>Editorial style guide</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 202KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-gateline-graphics-standard-issue03.pdf">
    <div class="document-download-text">
        <p>Gateline graphics standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.05MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fors-design-standards-1.pdf">
    <div class="document-download-text">
        <p>FORS logo usage standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.89MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.89 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-line-diagram-standard.pdf">
    <div class="document-download-text">
        <p>Line diagram standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.86MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.86 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-travel-information-fascia-standard.pdf">
    <div class="document-download-text">
        <p>London Travel Information and Tickets fascia standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 941KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.92 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-interchange-signs-standard.pdf">
    <div class="document-download-text">
        <p>Interchange signs standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.14MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-pictogram-standard.pdf">
    <div class="document-download-text">
        <p>Pictogram standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 987KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.96 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-product-design-guidelines-1.pdf">
    <div class="document-download-text">
        <p>Product design guidelines</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.30MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-standard-for-tfl-products.pdf">
    <div class="document-download-text">
        <p>Standard for TfL products</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.81MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.81 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-stationery-standards.pdf">
    <div class="document-download-text">
        <p>Stationery standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.27MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-street-map-design-standard-issue-02.pdf">
    <div class="document-download-text">
        <p>Street map design standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 28.39MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 28.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-supplementary-signs-standard.pdf">
    <div class="document-download-text">
        <p>Supplementary signs standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.08MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-ticket-vending-machine-graphics-standard.pdf">
    <div class="document-download-text">
        <p>Ticket vending machine graphics standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.87MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.87 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="docklands-light-railway-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Design standards-Docklands Light Railway"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="docklands-light-railway-heading" class="accordion-heading">Docklands Light Railway</div>
            </div>
            <div id="docklands-light-railway-content" class="start-hidden" role="region" aria-labelledby="docklands-light-railway-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dlr-signs-standard.pdf">
    <div class="document-download-text">
        <p>Signs standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 709KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.69 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="emirates-air-line-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Design standards-Emirates Air Line"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="emirates-air-line-heading" class="accordion-heading">Emirates Air Line</div>
            </div>
            <div id="emirates-air-line-content" class="start-hidden" role="region" aria-labelledby="emirates-air-line-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eal-cable-car-graphics-standard.pdf">
    <div class="document-download-text">
        <p>Cable car graphics standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.46MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.46 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="london-buses-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Design standards-London Buses"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="london-buses-heading" class="accordion-heading">London Buses</div>
            </div>
            <div id="london-buses-content" class="start-hidden" role="region" aria-labelledby="london-buses-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-buses-graphics-standard.pdf">
    <div class="document-download-text">
        <p>Bus graphic standards</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 15.41MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 15.41 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="london-overground-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Design standards-London Overground"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="london-overground-heading" class="accordion-heading">London Overground</div>
            </div>
            <div id="london-overground-content" class="start-hidden" role="region" aria-labelledby="london-overground-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/overground-signs-standard.pdf">
    <div class="document-download-text">
        <p>Signs standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 863KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.84 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/overground-poster-frame-standard.pdf">
    <div class="document-download-text">
        <p>Poster frame standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.38MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/overground-station-colour-standard.pdf">
    <div class="document-download-text">
        <p>Station colour standard for the built environment</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.43MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.43 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/overground-train-graphics-standard.pdf">
    <div class="document-download-text">
        <p>Train graphics standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.70MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.70 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="london-river-services-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Design standards-London River Services"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="london-river-services-heading" class="accordion-heading">London River Services</div>
            </div>
            <div id="london-river-services-content" class="start-hidden" role="region" aria-labelledby="london-river-services-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lrs-signs-standard.pdf">
    <div class="document-download-text">
        <p>Signs standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.98MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.98 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="london-taxi-and-private-hire-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Design standards-London Taxi and Private Hire"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="london-taxi-and-private-hire-heading" class="accordion-heading">London Taxi and Private Hire</div>
            </div>
            <div id="london-taxi-and-private-hire-content" class="start-hidden" role="region" aria-labelledby="london-taxi-and-private-hire-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ltph-branding-standard-for-ph-operators-issue03.pdf">
    <div class="document-download-text">
        <p>TfL branding standard for licensed private hire operators</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.04MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.04 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="london-underground-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Design standards-London Underground"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="london-underground-heading" class="accordion-heading">London Underground</div>
            </div>
            <div id="london-underground-content" class="start-hidden" role="region" aria-labelledby="london-underground-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/central-line-train-graphics-standard-issue01.pdf">
    <div class="document-download-text">
        <p>Central line train graphics standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.51MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.51 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/station-design-idiom-2.pdf">
    <div class="document-download-text">
        <p>Station design idiom</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 24.15MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 24.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lu-signs-manual.pdf">
    <div class="document-download-text">
        <p>Signs manual</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 16.48MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 16.48 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="santander-cycles-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Design standards-Santander Cycles"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="santander-cycles-heading" class="accordion-heading">Santander Cycles</div>
            </div>
            <div id="santander-cycles-content" class="start-hidden" role="region" aria-labelledby="santander-cycles-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/santander-cycles-basic-elements-standard-issue01.pdf">
    <div class="document-download-text">
        <p>Basic elements standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.64MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.64 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="trams-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Design standards-Trams"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="trams-heading" class="accordion-heading">Trams</div>
            </div>
            <div id="trams-content" class="start-hidden" role="region" aria-labelledby="trams-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-trams-tram-graphic-standard-cr4000-issue-04.pdf">
    <div class="document-download-text">
        <p>Tram graphics standard (CR4000)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.77MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.77 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-trams-tram-graphic-standard-svt-issue-04.pdf">
    <div class="document-download-text">
        <p>Tram graphics standard (STV)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.84MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.84 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tramlink-stop-signs-standard.pdf">
    <div class="document-download-text">
        <p>Tram stop signs standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.29MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.29 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="victoria-coach-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Design standards-Victoria Coach Station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="victoria-coach-station-heading" class="accordion-heading">Victoria Coach Station</div>
            </div>
            <div id="victoria-coach-station-content" class="start-hidden" role="region" aria-labelledby="victoria-coach-station-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/vcs-basic-elements.pdf">
    <div class="document-download-text">
        <p>Basic elements standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.12MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/vcs-stationery-standard.pdf">
    <div class="document-download-text">
        <p>Stationery standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.50MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.50 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 
</div>
 
<div>



<h2>Elizabeth line design idiom</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/elizabeth-line-design-idiom.pdf">
    <div class="document-download-text">
        <p>Elizabeth line design idiom</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.44MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.44 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/suppliers-and-contractors/index" class="heading">
                    <h2 id="sub-menu-heading">Suppliers & contractors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/become-a-supplier">Become a TfL supplier</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/opportunities">Find contract opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/recieving-orders-and-getting-paid">Invoicing and getting paid</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/what-we-buy">What we buy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/engineering-standards-challenge">Engineering Standards Challenge</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-relations">Supplier relations</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-toolkit">Digital toolkit</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/design-standards-and-licensing">Design standards & licensing</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/design-standards">Design standards</a></div>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/map-licensing">Map licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/product-licensing">Product licensing</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/logo-requests">Logo requests</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/font-requests">Font requests</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-buses-tenders">London Buses tenders</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-service-permits">London Service Permits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-handbook">LU Supplier Handbook</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/traffic-management">Traffic management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/tfl-supplier-awards">TfL Supplier Awards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/zero-harm-forum">Zero Harm Forum</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We have produced a range of design standards for use by staff, suppliers and design agencies involved in graphic design and layout.";}
        
            
        


 