
    
  



@{ViewBag.Title = "Digital toolkit";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/suppliers-and-contractors/digital-toolkit";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/suppliers-and-contractors/index">Suppliers & contractors</a></li>
                
            
            
                <li><span class="last-breadcrumb">Digital toolkit</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Digital toolkit</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                
        We've produced a range of standards and guidelines for use by staff and suppliers when working on digital services for TfL.<br />
    
                </div>
            </div>
        
         
        
        
        
                
                <div class="clearfix">
                    <div>


        <h2>Digital experience principles</h2>
        <p>Our principles inform everything we do. Whether you're
        preparing content, designing an interface or developing an entire
        service, start by reading these.</p>
    
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="1.-anticipate-users’-needs-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Digital toolkit-1. Anticipate users' needs"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="1.-anticipate-users’-needs-heading" class="accordion-heading">1. Anticipate users' needs</div>
            </div>
            <div id="1.-anticipate-users’-needs-content" class="start-hidden" role="region" aria-labelledby="1.-anticipate-users’-needs-heading">

        <p>Our transport services are for everyone &#45; our digital services should be no different. Start with users - research, use personas, test often. Make accessibility a priority and don't create anything they don't really want. Instead, think about localised, personal solutions and only include features, functionality and content that's genuinely helpful.</p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2.-make-things-easy-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Digital toolkit-2. Make things easy"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2.-make-things-easy-heading" class="accordion-heading">2. Make things easy</div>
            </div>
            <div id="2.-make-things-easy-content" class="start-hidden" role="region" aria-labelledby="2.-make-things-easy-heading">

        <p>Customers expect our transport services to be quick, efficient and easy to use. Their online journeys should be no different. Work hard to make things effortless and obvious, and keep the visual language and patterns consistent &#45; this familiarises people with our services and takes the guesswork out of using them.</p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="3.-keep-it-clear-and-simple-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Digital toolkit-3. Keep it clear and simple"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="3.-keep-it-clear-and-simple-heading" class="accordion-heading">3. Keep it clear and simple</div>
            </div>
            <div id="3.-keep-it-clear-and-simple-content" class="start-hidden" role="region" aria-labelledby="3.-keep-it-clear-and-simple-heading">

        <p>People expect our staff to be friendly and approachable. Our digital services should reflect this. Use plain English, get to the point and remember that, even online, we're talking to people - real people who are more likely to view us in a positive way if we are human, engaging and easy to understand.</p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="4.-design-for-on-the-move-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Digital toolkit-4. Design for on-the-move"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="4.-design-for-on-the-move-heading" class="accordion-heading">4. Design for on-the-move</div>
            </div>
            <div id="4.-design-for-on-the-move-content" class="start-hidden" role="region" aria-labelledby="4.-design-for-on-the-move-heading">

        <p>Our customers are always on the go - and we need to be right there with them. Think about when and where they're using our services. Are they checking their phone in a rush, at their desk planning a night out or on the sofa visiting Facebook? Consider context to keep things relevant, and ensure everything is as fast and lightweight as possible.</p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="5.-build-trust-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Digital toolkit-5. Build trust"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="5.-build-trust-heading" class="accordion-heading">5. Build trust</div>
            </div>
            <div id="5.-build-trust-content" class="start-hidden" role="region" aria-labelledby="5.-build-trust-heading">

        <p>We want everyone to get the most out of London, so giving them accurate, consistent information is key. Built on central APIs, our digital services should be integrated and up-to-date, reflecting what people are hearing from staff, seeing on screens and reading on Twitter. This builds trust and makes us London's best source of travel information.</p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="6.-continually-improve-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Digital toolkit-6. Continually improve"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="6.-continually-improve-heading" class="accordion-heading">6. Continually improve</div>
            </div>
            <div id="6.-continually-improve-content" class="start-hidden" role="region" aria-labelledby="6.-continually-improve-heading">

        <p>Everything we do is essentially a work in progress, rather than an end in itself. Start small, test early and keep refining. Be receptive to feedback and learn from what others are saying or doing. Iteration encourages innovation, reduces the risk of failure and helps us build for future needs.</p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="7.-think-beyond-functional-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Digital toolkit-7. Think beyond functional"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="7.-think-beyond-functional-heading" class="accordion-heading">7. Think beyond functional</div>
            </div>
            <div id="7.-think-beyond-functional-content" class="start-hidden" role="region" aria-labelledby="7.-think-beyond-functional-heading">

        <p>We're passionate about London and want our enthusiasm to rub off on our users. Our staff help do this when they share local knowledge, smile hello or surprise someone with a joke. Digital doesn't have to mean dry or merely functional. Look for opportunities to make our services engaging, fun and friendly to use.</p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="8.-do-more-with-less-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Digital toolkit-8. Do more with less"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="8.-do-more-with-less-heading" class="accordion-heading">8. Do more with less</div>
            </div>
            <div id="8.-do-more-with-less-content" class="start-hidden" role="region" aria-labelledby="8.-do-more-with-less-heading">

        <p>Ultimately, we're building services with our customers' money and they, quite rightly, expect the best value. Be lean and efficient - focus on users' core concerns, use modular patterns and develop with APIs. This doesn't mean you shouldn't think creatively, it just means you should use your creativity to help deliver value for money.</p>
    

            </div>
        </div>
    </div>
 
</div>
 
                </div>
                <hr>
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div class="news-teaser">

    <a href="/info-for/suppliers-and-contractors/digital-design-toolkit/how-we-work?intcmp=7893" >
        
        
        <div class="text-link">
             <h2>How we work</h2>
            <p>About TfL Online, becoming a supplier, security and risk management...</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/suppliers-and-contractors/digital-design-toolkit/understanding-our-users?intcmp=7896" >
        
        
        <div class="text-link">
             <h2>Understanding our users</h2>
            <p>Personas, putting users first, benchmarking and analytics...</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/suppliers-and-contractors/digital-design-toolkit/design-and-content?intcmp=7899" >
        
        
        <div class="text-link">
             <h2>Design & content</h2>
            <p>IA principles, accessibility, design and editorial style guides, copy and content...</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/suppliers-and-contractors/digital-design-toolkit/technical?intcmp=7902" >
        
        
        <div class="text-link">
             <h2>Technical</h2>
            <p>Technical architecture, coding, APIs, maps, privacy and data protection...</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/suppliers-and-contractors/digital-design-toolkit/testing-and-assurance?intcmp=7905" >
        
        
        <div class="text-link">
             <h2>Testing & assurance</h2>
            <p>Testing requirements, go live and service acceptance criteria...</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/suppliers-and-contractors/digital-design-toolkit/support-and-maintenance?intcmp=7908" >
        
        
        <div class="text-link">
             <h2>Support & maintenance</h2>
            <p>Change management, release management, service models...</p>
        </div>
    </a>
</div>
 
 
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/suppliers-and-contractors/index" class="heading">
                    <h2 id="sub-menu-heading">Suppliers & contractors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/become-a-supplier">Become a TfL supplier</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/opportunities">Find contract opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/recieving-orders-and-getting-paid">Invoicing and getting paid</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/what-we-buy">What we buy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/engineering-standards-challenge">Engineering Standards Challenge</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-relations">Supplier relations</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-toolkit">Digital toolkit</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/how-we-work">How we work</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/understanding-our-users">Understanding our users</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/design-and-content">Design & content</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/technical">Technical</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/testing-and-assurance">Testing & assurance</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-design-toolkit/support-and-maintenance">Support & maintenance</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/design-standards-and-licensing">Design standards & licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-buses-tenders">London Buses tenders</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-service-permits">London Service Permits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-handbook">LU Supplier Handbook</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/traffic-management">Traffic management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/tfl-supplier-awards">TfL Supplier Awards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/zero-harm-forum">Zero Harm Forum</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>
        <div class="module-grid clearfix">
          
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "The digital toolkit consists of guides and resources to enable anyone to create services to run on the TfL site, whether you're working in user experience, design, technical development or content.";}
        
            
        


 