
    
  



@{ViewBag.Title = "How to order & pay for maps";}
@{ViewBag.Keywords = "Suppliers,Maps,Rail,Tube,TfL";}
@{ViewBag.Url = "/info-for/suppliers-and-contractors/how-to-order-and-pay-for-maps";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/suppliers-and-contractors/index">Suppliers & contractors</a></li>
                
            
                 <li><a href="/info-for/suppliers-and-contractors/design-standards-and-licensing">Design standards & licensing</a></li>
                
            
                 <li><a href="/info-for/suppliers-and-contractors/map-licensing">Map licensing</a></li>
                
            
            
                <li><span class="last-breadcrumb">How to order & pay for maps</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>How to order & pay for maps</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Once you send us an order form, we will send you a licence agreement and invoice.
        
      </div>
    
    
      
    
      
           
      
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/info-for/suppliers-and-contractors/map-licensing-application-form" class="secondary-button no-hover" >Place an order online</a>

    </div>
</div> 
 
</div>
 <div>

<h2>You can pay by:</h2>
<h3>Cheque</h3>
<p>Payable to Pulse Creative, sent to:</p>
<p>32-42 Station Road<br />
Stockport<br />
Cheshire SK4 3QT</p>
<h3>Bank transfer</h3>
<p>Bank: HSBC <br />
Sort Code: 40-39-01<br />
Account Number: 21810375</p>
<p>For international customers:</p>
<p>IBAN: GB76MIDL40390121810375<br />
SWIFT: MIDLGB2151T</p>
<p>There is a &pound;20 surcharge for all non-UK customers.</p>
<h3>Credit/debit card</h3>
<p>There is a 5% surcharge for all credit card payments.</p>
<h2>Turnaround times</h2>
<p>It takes one week to process a licence. We may be able to release artwork more quickly if we've received payment and a signed licence agreement.</p>
<h2>Fees non-refundable</h2>
<p>Once you've signed an agreement and we've released artwork, we cannot refund any royalty fees.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/suppliers-and-contractors/index" class="heading">
                    <h2 id="sub-menu-heading">Suppliers & contractors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/become-a-supplier">Become a TfL supplier</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/opportunities">Find contract opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/recieving-orders-and-getting-paid">Invoicing and getting paid</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/what-we-buy">What we buy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/engineering-standards-challenge">Engineering Standards Challenge</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-relations">Supplier relations</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-toolkit">Digital toolkit</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/design-standards-and-licensing">Design standards & licensing</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/design-standards">Design standards</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/map-licensing">Map licensing</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/using-the-maps">Using the maps				</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/licence-agreement">Licence agreement</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/map-sizes-and-formats">Map sizes & formats</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/how-to-order-and-pay-for-maps">How to order & pay for maps</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/map-licensing-application-form">Map licensing application form</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/contact-us-for-map-licensing">Contact us for map licensing</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/product-licensing">Product licensing</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/logo-requests">Logo requests</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/font-requests">Font requests</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-buses-tenders">London Buses tenders</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-service-permits">London Service Permits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-handbook">LU Supplier Handbook</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/traffic-management">Traffic management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/tfl-supplier-awards">TfL Supplier Awards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/zero-harm-forum">Zero Harm Forum</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How to order and pay for maps requested for reproduction. ";}
        
            
        


 