
    
  


<!-- rhroot -->
@{ViewBag.Title = "Suppliers & contractors";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/suppliers-and-contractors/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">Suppliers & contractors</span></li>
            
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container landing-page section-landing-container">
        <h1>Suppliers & contractors</h1>
        
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">
        <div class="small-medium" data-set="widget"></div>
        <div class="primary-teaser landing-page-teaser">
            
        </div>
        
        <div class="clearfix">
            
        </div>
        <div class="module-grid clearfix">
            <div>

<div class="news-teaser">

    <a href="/info-for/suppliers-and-contractors/become-a-supplier?intcmp=3390" >
        <img src="/cdn/static/cms/images/promos/new-suppliers-image_rdax_400x200.jpg" alt="A workman working on the track" />
        
        <div class="text-link">
             <h2>Become a TfL supplier</h2>
            <p>Find out what to do to register as one of our suppliers</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/publications-and-reports/procurement-information?intcmp=3408" >
        <img src="/cdn/static/cms/images/promos/current-suppliers_rdax_400x200.jpg" alt="New suppliers image for suppliers & contractors" />
        
        <div class="text-link">
             <h2>Procurement information & supplier guidance</h2>
            <p>Essential information for TfL suppliers</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/business-and-commercial/commercial-innovation?intcmp=55927" >
        
        
        <div class="text-link">
             <h2>Commercial Innovation</h2>
            <p>We want to make it easy for market innovators to work with us</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/suppliers-and-contractors/recieving-orders-and-getting-paid?intcmp=50140" >
        
        
        <div class="text-link">
             <h2>Purchase orders & invoicing</h2>
            <p>Find out more about receiving purchase orders and invoicing</p>
        </div>
    </a>
</div>
 
 
</div>
 <div>

<div class="news-teaser">

    <a href="/info-for/suppliers-and-contractors/opportunities?intcmp=3405" >
        <img src="/cdn/static/cms/images/promos/new-suppliers-image2_rdax_400x200.jpg" alt="New supplier image 2" />
        
        <div class="text-link">
             <h2>Finding contract opportunities</h2>
            <p>Details on awarded and upcoming contracts</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/suppliers-and-contractors/digital-toolkit?intcmp=7472" >
        <img src="/cdn/static/cms/images/promos/design-guidelines_rdax_400x200.jpg" alt="image of roundels" />
        
        <div class="text-link">
             <h2>Digital toolkit</h2>
            <p>Create services for TfL Online using our guides and services</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/suppliers-and-contractors/tfl-supplier-awards?intcmp=54398" >
        
        
        <div class="text-link">
             <h2>TfL Supplier Awards</h2>
            <p>Nominations are now open for the 2019 supplier awards</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/suppliers-and-contractors/design-standards-and-licensing?intcmp=4720" >
        
        
        <div class="text-link">
             <h2>Design standards & licensing</h2>
            <p>Brand licensing and your use of TfL fonts and logos</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/suppliers-and-contractors/traffic-management?intcmp=50236" >
        
        
        <div class="text-link">
             <h2>Traffic management handbook</h2>
            <p>A guide to the traffic management requirements of our road network</p>
        </div>
    </a>
</div>
 
 
</div>
 
        </div>
    </div>
    <div class="aside" role="complementary">
        <div class="large" data-set="widget">
            <div class="moving-source-order">
            
            </div>
        </div>
        <div class="module-grid">
            












<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
            <div class="related-links">

    <h3>Also on this site</h3>
<p>Find out more about our commercial strategy, and get information about our procurement processes and other useful documents. </p>
<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/procurement-information" class="plain-button">Our Commercial Strategy</a>
<a href="/info-for/deliveries-in-london/delivering-safely/work-related-road-risk" class="plain-button">WRRR</a>
<a href="/info-for/suppliers-and-contractors/supplier-handbook" class="plain-button">LU Handbook</a>
<a href="/corporate/publications-and-reports/organisation-chart" class="plain-button">Organisation charts</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://www.competefor.com/business/login.jsp" class="plain-button">CompeteFor</a>
<a href="https://www.gov.uk/contracts-finder" class="plain-button">Contracts Finder</a>
<a href="http://ted.europa.eu/" class="plain-button">Tenders Electronic Daily</a>
<a href="https://www.risqs.org" class="plain-button">RISQS</a>
<a href="https://lucas.tfl.gov.uk/Home.aspx" class="plain-button">LUCAS</a>
    </div>
</div>
 
        </div>
    </div>
    <div class="small-medium" data-set="content">&nbsp;</div>
</div>
 
        
        
        
            @{ViewBag.Description = "This section is aimed at current and prospective TfL contractors and suppliers";}
        
            
        


 