
    
  



@{ViewBag.Title = "London Service Permits";}
@{ViewBag.Keywords = "Bus operators,Suppliers,TfL";}
@{ViewBag.Url = "/info-for/suppliers-and-contractors/london-service-permits";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/suppliers-and-contractors/index">Suppliers & contractors</a></li>
                
            
            
                <li><span class="last-breadcrumb">London Service Permits</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>London Service Permits</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Most of the routes on our bus network are put out to tender. If you want to run a bus, coach or tours service outside of our network, you'll need to apply for a London Service Permit.
        
      </div>
    
    <div class="on-this-page">
      <p>.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    
<a class="document-download-wrap pdf" target="_parent" href="/cdn/static/cms/documents/lsp-bulletin.pdf">
<div class="document-download-text">
<p>London Service Permit  Bulletin -  Monday 24 February 2020</p>
</div>
<div class="document-download-attachment">
<p>PDF 0.51MB</p>
</div>
<div class="document-download-icon download-doc"></div>
</a>
 
</div>

</div>
 <div>


         
        <h2>Apply for a London Service Permit</h2>
        <p>Before you complete this form make sure you have all the relevant details to hand:</p>
        <ul>
            <li>Personal/licence details</li>
            <li>Route/service descriptions (including stopping points)</li>
            <li>Vehicle details</li>
            <li>Disability information</li>
            <li>Health and safety documentation</li>
        </ul>
        <p>We require a minimum of three months' notice of the proposed start date of the service. If roads are currently not served by local bus services, or new stopping and terminal points are proposed, a longer notice period is desirable.</p>
        <p>We may use the data in your application form for research purposes.</p>
    
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/info-for/suppliers-and-contractors/london-service-permits/make-an-application" class="secondary-button no-hover" >Make an application</a>

    </div>
</div> 
 
</div>
 <div>

<h2>Modify or cancel an application</h2>
<p>Before you complete this form make sure you have all the relevant details to hand:</p>
<ul>
    <li>Personal/licence details</li>
    <li>LSP number</li>
    <li>Declaration</li>
</ul>
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/info-for/suppliers-and-contractors/london-service-permits/modify-or-cancel-an-application" class="secondary-button no-hover" >Modify or cancel an application</a>

    </div>
</div> 
 
</div>
 
<div>



<h2>Guidance documents</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lsp-guidance-document.pdf">
    <div class="document-download-text">
        <p>London Service Permit guidance document </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 55KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lsp-explanatory-note.pdf">
    <div class="document-download-text">
        <p>London Service Permit explanatory note </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 182KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 
</div>

</div>
 <div>

<h2>Contact us</h2>

<p>If you cannot apply online, or have any questions about London Service Permits, please contact the Licensing Team:</p>

<p><strong>Email:</strong> <a href="mailto:lsp&#64;tfl.gov.uk">lsp&#64;tfl.gov.uk</a></p>

<p><strong>Address:</strong><br />
Bus Service Licensing and Permitting<br />
Licensing, Regulation and Charging<br />
4th Floor, Zone 4G3<br />
5 Endeavour Square<br />
Stratford, London E20 1JN</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/suppliers-and-contractors/index" class="heading">
                    <h2 id="sub-menu-heading">Suppliers & contractors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/become-a-supplier">Become a TfL supplier</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/opportunities">Find contract opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/recieving-orders-and-getting-paid">Invoicing and getting paid</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/what-we-buy">What we buy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/engineering-standards-challenge">Engineering Standards Challenge</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-relations">Supplier relations</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-toolkit">Digital toolkit</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/design-standards-and-licensing">Design standards & licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-buses-tenders">London Buses tenders</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-service-permits">London Service Permits</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-service-permits/make-an-application">Make an application</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-service-permits/modify-or-cancel-an-application">Modify or cancel an application</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-handbook">LU Supplier Handbook</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/traffic-management">Traffic management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/tfl-supplier-awards">TfL Supplier Awards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/zero-harm-forum">Zero Harm Forum</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Applying for a London Service Permit to run a bus, coach or tour service outside the TfL network. ";}
        
            
        


 