
    
  



@{ViewBag.Title = "Map sizes & formats";}
@{ViewBag.Keywords = "Suppliers,Maps,Rail,Tube,TfL";}
@{ViewBag.Url = "/info-for/suppliers-and-contractors/map-sizes-and-formats";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/suppliers-and-contractors/index">Suppliers & contractors</a></li>
                
            
                 <li><a href="/info-for/suppliers-and-contractors/design-standards-and-licensing">Design standards & licensing</a></li>
                
            
                 <li><a href="/info-for/suppliers-and-contractors/map-licensing">Map licensing</a></li>
                
            
            
                <li><span class="last-breadcrumb">Map sizes & formats</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Map sizes & formats</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We can supply London Underground and National Rail maps in a range of sizes to suit your publishing needs.
        
      </div>
    
    
      
      
           
      <div>


        <p>You cannot change artwork in any way unless approved by Pulse Creative before reproduction. When ordering, please include the version name on the application form.</p>
        <p>All maps can be enlarged in proportion to any size as the file supplied is in vector format. We don't recommend making the maps any smaller as they may become illegible.</p>
        <p><strong>Do not download maps from internet sites (including TfL's) for commercial purposes.</strong> Maps must be ordered through Pulse Creative and must show the unique registered user number allocated to all maps supplied.</p>
        <h2>Formats</h2>
        <p>Maps can be supplied in the following formats:</p>
        <ul>
            <li>EPS file</li>
            <li>Print quality PDF</li>
        </ul>
        <h2>Examples of popular types and sizes:</h2>
        <ul>
        </ul>
    
</div>
 
<div>





        <h3>Full area version (standard London Underground map)</h3>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/version-a-185mmx140mm-may2019a.pdf">
    <div class="document-download-text">
        <p>Version A - 185mm x 140mm</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 299KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/version-a1-185mmx140mm-with-larger-type-may-2019a.pdf">
    <div class="document-download-text">
        <p>Version A1 - 185mm x 140mm with larger type</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 276KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 
</div>

</div>
 
<div>




<h3>Full area version (Night Tube map)</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/night-tube-and-london-overground-map-185x142mm-may-2019a.pdf">
    <div class="document-download-text">
        <p>Version A - 185mm x 152 mm</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 235KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 
</div>

</div>
 
<div>





        <h3>Cut-down versions (standard London Underground map)</h3>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/version-b-dec-2017.pdf">
    <div class="document-download-text">
        <p>Version B - 113mm x 101mm</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 302KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/version-c-dec-2017.pdf">
    <div class="document-download-text">
        <p>Version C - 187mm x 112mm</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 306KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/version-d-187x114mm-may-2019a.pdf">
    <div class="document-download-text">
        <p>Version D - 187mm x 114mm</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 245KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.24 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/version-e-85x55mm-may-2019a.pdf">
    <div class="document-download-text">
        <p>Version E - 85mm x 55mm</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 196KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/version-f-85x55mm-may-2019a.pdf">
    <div class="document-download-text">
        <p>Version F - 85mm x 55mm</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 162KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/version-g-297x210mm-may-2019a.pdf">
    <div class="document-download-text">
        <p>Version G  - Travelcard zones map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 306KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/version-h-a4-spider-dec-2017.pdf">
    <div class="document-download-text">
        <p>Version H - Bus and attractions map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.74MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.74 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/version-i-central-rail-tube-dec-2017.pdf">
    <div class="document-download-text">
        <p>Version I - Tube and rail services map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 335KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/version-j-214x162mm-may-2019a.pdf">
    <div class="document-download-text">
        <p>Version J - Zonal map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 307KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/version-k-92x76mm-may-2019a.pdf">
    <div class="document-download-text">
        <p>Version K - Zone 1 zonal map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 135KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 
</div>

</div>
 
<div>





        <h3>Colour versions (National Rail maps)</h3>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/version-a-atoc-map-june-2015.pdf">
    <div class="document-download-text">
        <p>Version A - National Rail map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 211KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/version-c-atoc-map-jan-2015.pdf">
    <div class="document-download-text">
        <p>Version C - National Rail map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 357KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.35 -->
 
</div>

</div>
 
<div>





        <h3>Black and white versions (London Underground maps)</h3>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/version-l-dec-2017.pdf">
    <div class="document-download-text">
        <p>Version L - full area version in black and white</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 299KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/version-m-dec-2017.pdf">
    <div class="document-download-text">
        <p>Version M - cut-down version in black and white</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 163KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 
</div>

</div>
 
<div>





        <h3>Black and white versions (National Rail maps)</h3>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/version-b-atoc-map-june-2015.pdf">
    <div class="document-download-text">
        <p>Version B - National Rail map in black and white</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 242KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.24 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/version-d-atoc-map-jan-2015.pdf">
    <div class="document-download-text">
        <p>Version D - National Rail map in black and white</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 517KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.50 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/suppliers-and-contractors/index" class="heading">
                    <h2 id="sub-menu-heading">Suppliers & contractors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/become-a-supplier">Become a TfL supplier</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/opportunities">Find contract opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/recieving-orders-and-getting-paid">Invoicing and getting paid</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/what-we-buy">What we buy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/engineering-standards-challenge">Engineering Standards Challenge</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-relations">Supplier relations</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-toolkit">Digital toolkit</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/design-standards-and-licensing">Design standards & licensing</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/design-standards">Design standards</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/map-licensing">Map licensing</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/using-the-maps">Using the maps				</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/licence-agreement">Licence agreement</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/map-sizes-and-formats">Map sizes & formats</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/how-to-order-and-pay-for-maps">How to order & pay for maps</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/map-licensing-application-form">Map licensing application form</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/contact-us-for-map-licensing">Contact us for map licensing</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/product-licensing">Product licensing</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/logo-requests">Logo requests</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/font-requests">Font requests</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-buses-tenders">London Buses tenders</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-service-permits">London Service Permits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-handbook">LU Supplier Handbook</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/traffic-management">Traffic management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/tfl-supplier-awards">TfL Supplier Awards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/zero-harm-forum">Zero Harm Forum</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We can supply London Underground (also known as Tube maps) and National Rail maps in a range of sizes to suit your publishing needs. ";}
        
            
        


 