
    
  



@{ViewBag.Title = "Find contract opportunities";}
@{ViewBag.Keywords = "Suppliers,TfL";}
@{ViewBag.Url = "/info-for/suppliers-and-contractors/opportunities";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/suppliers-and-contractors/index">Suppliers & contractors</a></li>
                
            
            
                <li><span class="last-breadcrumb">Find contract opportunities</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Find contract opportunities</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find more about us if you are one of our current suppliers. 
        
      </div>
    
    
      <h2></h2>
      
           
      <div>

<h2>TfL opportunities</h2>
<p>There are opportunities to work on projects across TfL Corporate, Surface and London Underground. Contracts range in size above and below &pound;5,000.</p>
<h3>Contract &amp; framework opportunities</h3>
<p>You can view the latest list of planned future opportunities and a list of current frameworks and when they expire on our <a href="/corporate/publications-and-reports/contract-opportunities">contract opportunities</a> page.</p>
<h2>Electronic tendering</h2>
</div>
 
<div class="module-grid clearfix">
<div>

<div>

<p>You can find all our published contract opportunities on our eTendering system, ProContract. Once you register, improve and narrow your search by choosing the TfL search option. </p>
<p>&nbsp;</p>
</div>
 
</div>
 <div>

<div class="login-widget">

    <h3 class="high-contrast-heading">Sign in to eTendering</h3>
    
    <a href="https://procontract.due-north.com/Login" class="primary-button">Sign in</a>
    <p>Not registered? <a href="https://procontract.due-north.com/Register">Create an account and find out more about eTendering</a> </p>
</div>
 
</div>
 
</div>
 <div>

<h2>Other opportunities</h2>
<h3>Tenders Electronic Daily</h3>
<p>We publish large contract opportunities (contracts with an expected value over EU public or utilities procurement thresholds) on Tenders Electronic Daily (TED). TED is the online version of the 'Supplement to the Official Journal of the European Union', dedicated to European public procurement. </p>
<ul>
    <li><a href="http://ted.europa.eu/">Access Tenders Electronic Daily</a></li>
</ul>
<p><strong>TIP</strong>: Because of the diverse nature of our advertisements, the following search criteria may not necessarily retrieve all opportunities for the entire TfL Group. However, it should help shape your initial search. In the full text field, enter the following (with quotation marks):</p>
<ul>
    <li>For TfL - &quot;Transport for London&quot; or &quot;Surface transport&quot;</li>
    <li>For London Underground &#45; &quot;London Underground&quot;</li>
</ul>
<h2>CompeteFor</h2>
</div>
 
<div class="module-grid clearfix">
<div>


        <p>Following its successful use by the London 2012 authorities and their supply chains as part of the London 2012 Games, CompeteFor continues to be used by TfL and other members of the Greater London Authority group, including Crossrail, as part of the procurement process.</p>
        <p>In turn, our sub-contractors use CompeteFor to make their business opportunities widely available.</p>
    
</div>
 <div class="login-widget option-one moving-source-order">

    <h3>Sign in to CompeteFor</h3>
    <a href="https://www.competefor.com/business/login.jsp" class="primary-button">Sign in</a>
    
        <p>Not registered? <a href="https://www.competefor.com/business/signup.html">Register for an account</a>.</p>
    
</div>
 
</div>
 <div>

<h2>ePurchase</h2>
<h3>Purchase-to-pay</h3>
<p>Suppliers successful in winning a contract will need to register on our purchase-to-pay system to begin trading with us. The process is initiated by registering your company details.<br />
<br />
Please note it is important that suppliers do not register multiple times. To check if your organisation is already a registered supplier, please contact us on 0800 368 4850 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>).</p>
<p><a href="https://tfl.bravosolution.co.uk/bravosolution/home-login.shtml">Sign up to our payment system</a><br />
</p>
<h3>ePurchase-to-pay</h3>
<p>Our ePurchase 2 Pay (eP2P) is the easiest way to submit purchase orders, process and receive invoices electronically. It's quicker than sending documents by post and doesn't involve paper or postage. All you have to do is complete the eP2P form.<br />
<br />
<a href="/corporate/publications-and-reports/procurement-information">Find out more</a>  or call 0343 222 5100 (<a href="/corporate/terms-and-conditions/tfl-call-charges">Tfl call charges</a>).</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/suppliers-and-contractors/index" class="heading">
                    <h2 id="sub-menu-heading">Suppliers & contractors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/become-a-supplier">Become a TfL supplier</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/opportunities">Find contract opportunities</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/recieving-orders-and-getting-paid">Invoicing and getting paid</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/what-we-buy">What we buy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/engineering-standards-challenge">Engineering Standards Challenge</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-relations">Supplier relations</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-toolkit">Digital toolkit</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/design-standards-and-licensing">Design standards & licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-buses-tenders">London Buses tenders</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-service-permits">London Service Permits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-handbook">LU Supplier Handbook</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/traffic-management">Traffic management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/tfl-supplier-awards">TfL Supplier Awards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/zero-harm-forum">Zero Harm Forum</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        
<div class="fact-box-wrapper">
    <span class="blue-span">Supplier bulletin</span>
    <div class="fact-box-content">
        
        
        
        
    </div>
</div><div class="related-links">

    <h3>Also on this site</h3>
<p><strong>Helping you to deliver</strong> </p>
<div class="vertical-button-container">

<a href="/corporate/about-tfl/index" class="plain-button">About TfL</a>
<a href="/corporate/transparency/index" class="plain-button">Transparency</a>
<a href="/corporate/publications-and-reports/business-plan" class="plain-button">Business plan</a>
<a href="/corporate/publications-and-reports/contract-opportunities" class="plain-button">Contract opportunities</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "A page aimed at people who currently supply TfL";}
        
            
        


 