
    
  



@{ViewBag.Title = "Invoicing and getting paid";}
@{ViewBag.Keywords = "TfL,Suppliers, TfL, payment, purchase orders, invoice";}
@{ViewBag.Url = "/info-for/suppliers-and-contractors/recieving-orders-and-getting-paid";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/suppliers-and-contractors/index">Suppliers & contractors</a></li>
                
            
            
                <li><span class="last-breadcrumb">Invoicing and getting paid</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Invoicing and getting paid</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        If you're going to start working with us, we want make it as simple and transparent as possible. Here, you'll find all the information you need to do business with us. 
        
      </div>
    
    <div class="on-this-page">
      <h2>Receiving orders</h2>

<p>If you're a supplier, this is what you should expect to receive when you place an order:</p>

<p>When you order goods or services, we create a purchase order with a unique number. The purchase order will be issued via agreed channels (EDI, email, post or fax). As the supplier, you should have a valid purchase order (or as a minimum,&nbsp;the&nbsp;purchase order&nbsp;number), before providing the goods or services.</p>

<h2>Getting paid</h2>

<p>Invoice&nbsp;and payment options are available as well as support if there's a delay in your payment.</p>

<h3>Invoice options</h3>

<p>We aim to pay all our suppliers&nbsp;quickly and efficiently for the goods and services they provide, so we offer&nbsp;three routes for invoices:</p>

<h3>1. The preferred method - E-invoicing (EDI)</h3>

<p>Our encouragement to use electronic invoicing means that thousands of our suppliers&nbsp;now send us&nbsp;their invoices this way each month. EDI has proved to be better for suppliers, and us, because it:</p>

<ul>
	<li>Reduces&nbsp;printing and postage costs (which is also environmental best practice)</li>
	<li>Stops misplaced/lost invoices</li>
	<li>Makes the&nbsp;invoice process more efficient (invoices are received by file direct to our SAP system</li>
</ul>

<p>We now offer a comprehensive <a href="/corporate/publications-and-reports/procurement-information">electronic invoicing platform </a>for all suppliers.</p>

<h3>2. PDF invoices (emailed)</h3>

<p>We can accept invoices by email but they&nbsp;must be in PDF format.&nbsp;Each invoice must be a separate PDF and with a unique file reference. Please send emails to: <a href="mailto:invoices&#64;tfl.gov.uk">invoices&#64;tfl.gov.uk</a>.</p>

<p><strong>Submitting invoices</strong></p>

<p>To avoid a delay in payment, it's important for your invoice&nbsp;to be&nbsp;legally compliant. The following checklist will help to avoid payment delays.</p>

<p>Make sure you include:</p>

<ul>
	<li>Your company name and address (including postcode)</li>
	<li>Our address (and be specific - the TfL company you're billing should be the same as the one on your purchase order)</li>
	<li>All your relevant contact details, including telephone numbers, email addresses, fax numbers, etc</li>
	<li>The correct bank details - these must be the same as the ones on our supplier portal</li>
	<li>The right title - state whether it's an invoice or a credit note</li>
	<li>An identifiable, unique invoice/credit number because without it, your invoice&nbsp;will be returned. Our system handles&nbsp;numbers of up to 16 alphanumeric characters. If we receive more than one invoice with the same invoice number, these will also be returned</li>
	<li>An invoice date/ tax point. This allows us to action your invoice within the correct payment terms</li>
	<li>Include value and currency</li>
	<li>A&nbsp;description of the goods and services being supplied</li>
	<li>The correct TfL or GLA purchase order (PO) number and line number (e.g. 3100987654/10)</li>
	<li>The contact details of the TfL representative named</li>
</ul>

<p>Non-compliant invoices are rejected and&nbsp;sent back to suppliers to be corrected and resubmitted, which could lead to a delay in payment.</p>

<p>If VAT is applied, the invoice should be split between the net value of goods and services, the rate and amount of VAT, and the total value of the invoice. A valid and current VAT number must also be displayed.</p>

<p>Find out more about what an ideal invoice layout&nbsp;should include:</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/sample-standard-invoice.docx">
    <div class="document-download-text">
        <p>Standard invoice example</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 
<div>




<h2>Payment terms</h2>

<p>It's our standard policy to make due payments to suppliers on the 30th day of the month following the date of the invoice. However, where clauses are agreed which vary the terms of payment, these will be honoured.</p>

<p>We expect our suppliers to pay any sums due to sub-contractors promptly and within a period not exceeding that set out above.</p>

<h3>Prompt payment code</h3>

<p>We have signed up to the Prompt Payment Code (PPC) to highlight our commitment to paying suppliers on time and in line with the agreed terms. Suppliers are notified in writing of why their invoice cannot be paid. <a href="http://www.promptpaymentcode.org.uk/">Find out more</a> about the Prompt Payment Code.<br />
<br />
We reserve the right to withhold payment where the goods or services have not been provided in accordance with the contract.</p>

<p>If you'd like to know more about why you may not have been paid, the following document provides more information:</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/non-payment.pdf">
    <div class="document-download-text">
        <p>Reasons for non payment</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 58KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 
<div>




<h3>Preventing payment delays</h3>
<ul>
    <li>Returned invoices are the main reason for delays in payment. The best ways to avoid this are:<br />
    <br />
    - Ensure the correct purchase order (PO) number is on the invoice<br />
    - Ensure the correct TfL company code is included as part of the address and matches the details on<br />
    the purchase order<br />
    - Ensure all essential information is included and the invoice adds up</li>
</ul>
<p>If your invoice has been returned and you need more information, please contact Accounts Payable: 0343 222 5100 or learn more from the following guide:<br />
</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/how-to-help-us.pdf">
    <div class="document-download-text">
        <p>How to help us pay your invoice on time</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 812KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.79 -->
 
</div>
<h3>Purchase orders</h3>
<p>You must make sure you have received a PO so you can quote the correct number on your invoice. Discrepancies between an invoice and PO raised will result in a system-generated hold. To help avoid this, please make sure:</p>
<ul>
    <li>The invoice being raised has the same supplier details as those provided on the purchase order. If they're not the same, speak to the contact provided on the order</li>
    <li>Your invoice details match the purchase order, including the description of goods/services, which should be itemised in exactly the same way</li>
    <li>That if freight charges are not included on the PO they should not be included on the invoice</li>
    <li>The PO number we provide is quoted on the invoice. If you have been asked to supply additional goods or services using an existing order number, please check whether this existing order covers the new charges. If not, you should request a new PO</li>
</ul>
</div>
 <div>

<h2>Returned invoices</h2>
<p>If an invoice has been returned, it's probably because the following is missing:</p>
<ul>
    <li>The company name and/or postal address &#45; If we don't know who the invoice has been raised by, or their address, we can't allocate the invoice to a supplier account</li>
    <li>Invoice address &#45; invoices should clearly show the name of the TfL company being billed. This is detailed on the purchase order</li>
    <li>Purchase order number &#45; a PO number should be quoted on all invoices</li>
    <li>Pages of the invoice &#45; backing documents are missing from the invoice, such as timesheets or itemised billing</li>
    <li>Invoice totals &#45; the gross amount has not been clearly stated on the invoice. To help us process your invoice please quote the net and VAT amount where applicable</li>
    <li>Invoice date &#45; invoice date not clearly shown on the invoice</li>
    <li>Invoice number &#45; unable to identify the invoice number provided. This may be due to poor print quality, the use of multiple numbers with no clear indication of which one is the invoice number, or no invoice number provided</li>
    <li>Labour element not quoted for construction work</li>
</ul>
<p>An invoice will also be returned if there is incorrect information quoted for the TfL company such as:</p>
<ul>
    <li>Company code</li>
    <li>Purchase order number</li>
</ul>
<p>Invoice is damaged or illegible:</p>
<ul>
    <li>Poor quality invoice</li>
    <li>Invoice is damaged or illegible and cannot be scanned</li>
</ul>
<p>If your invoice totals do not add up correctly, this may also be a reason why your invoice has been returned. </p>
<p>If an invoice has been returned to you, please amend it accordingly and resubmit the invoice. </p>
<h2>Contacting Financial Services Centre (FSC)</h2>
<p>With the exception of disputes, FSC provides a single point of contact for both suppliers and customers, reducing the need for you to chase individuals and different departments.</p>
<p>Contact FSC for all Accounts Payable-related queries on: 0343 222 5100,  or email: accountspayable&#64;tfl.gov.uk. The FSC is open 09.00-17.00, Monday to Friday, except public holidays.</p>
<p>Any queries concerning the information on an order received should be raised with the local procurement department.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "A page for TfL suppliers about how to submit invoices and get paid quickly";}
        
            
        


 