
    
  



@{ViewBag.Title = "LU Supplier Handbook";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/suppliers-and-contractors/supplier-handbook";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/suppliers-and-contractors/index">Suppliers & contractors</a></li>
                
            
            
                <li><span class="last-breadcrumb">LU Supplier Handbook</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>LU Supplier Handbook</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This handbook gives context and guidance to help suppliers (contractors) deliver a contract for London Underground's Capital Programmes Directorate (CPD) successfully.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div>



<h2>LU Supplier Handbook</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/suppliers-handbook-updated.pdf">
    <div class="document-download-text">
        <p>London Underground supplier handbook</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 960KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.94 -->
 
</div>

</div>
 
<div>



<h2>Supplier handbook document archive</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/person-in-charge-evacuation-register.pdf">
    <div class="document-download-text">
        <p>Person in Charge Evacuation Register</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 103KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/a-short-guide-to-training-a-site-person-in-charge-with-protection.pdf">
    <div class="document-download-text">
        <p>A short guide to training a Site Person in Charge with Protection</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 327KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/registration-process-pwt-eh.pdf">
    <div class="document-download-text">
        <p>PWT-EH Registration Process</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 118KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/station-abbreviations.pdf">
    <div class="document-download-text">
        <p>Station abbreviations table</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 546KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.53 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/access-request-form-station-and-track.xlsx">
    <div class="document-download-text">
        <p>Access request form - station and track</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 114KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/storage-licence-application-form-jan-2015.pdf">
    <div class="document-download-text">
        <p>Storage licence application form for stations and depots</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 60KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/operational-assurance-notification-how-to-complete.pdf">
    <div class="document-download-text">
        <p>How to complete OAN</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 70KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lf26-moving-materials-on-escalators.pdf">
    <div class="document-download-text">
        <p>Best practice for staff moving loads via lifts/escalators</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.00MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.00 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lf15-hot-working-issue-4.pdf">
    <div class="document-download-text">
        <p>Best practice for staff undertaking 'hot work'</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.09MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/storage-licence-form-10819-2-jan-2015.pdf">
    <div class="document-download-text">
        <p>Storage licence application form for lineside storage</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 92KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap doc" href="/cdn/static/cms/documents/f0654-movement-of-materials.doc">
    <div class="document-download-text">
        <p>Movement of materials application form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOC 80KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap doc" href="/cdn/static/cms/documents/f0243-application-for-allocation-of-space.doc">
    <div class="document-download-text">
        <p>Application for allocation of space</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOC 89KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap doc" href="/cdn/static/cms/documents/f0093-permit-for-hot-works.doc">
    <div class="document-download-text">
        <p>Permit for hot works</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOC 78KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/appendix-6-stations.pdf">
    <div class="document-download-text">
        <p>Station refurbishment - appendix 6</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 52KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 
</div>

</div>
 
<div>



<h2>Sentinel cards and the Industry Common Induction (ICI)</h2>


<p> If you have any questions about Sentinel <a href="mailto:sentinel&#64;tfl.gov.uk">please contact us</a>.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/how-to-download-the-sentinel-app-and-read-a-card.pdf">
    <div class="document-download-text">
        <p>How to download the Sentinal app and read a card</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 379KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/learning-information-booklet-ici-london-underground-module.pdf">
    <div class="document-download-text">
        <p>ICI-LU learning information booklet (for assessments before 31 December 2016)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.34MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.34 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lu-ici-v1-january-2017.pdf">
    <div class="document-download-text">
        <p>ICI-LU learning information booklet (for assessments from 1 January 2017)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.65MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.65 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "This handbook gives context and guidance to help suppliers (contractors) deliver a contract for London Underground’s Capital Programmes Directorate (CPD) successfully.";}
        
            
        


 