
    
  



@{ViewBag.Title = "Supplier relations";}
@{ViewBag.Keywords = "Suppliers,TfL";}
@{ViewBag.Url = "/info-for/suppliers-and-contractors/supplier-relations";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/suppliers-and-contractors/index">Suppliers & contractors</a></li>
                
            
            
                <li><span class="last-breadcrumb">Supplier relations</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Supplier relations</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We are working to build effective relationships with all of our key suppliers, promote innovation within the supply chain and work with suppliers to deliver the Mayor's Responsible Procurement policy.
        
      </div>
    
    <div class="on-this-page">
      <h2>Supplier Relationship Management (SRM)</h2>

<p>We have a structured SRM programme which extends beyond managing risk to help establish solid relationships. Initiatives with our key suppliers include collaboration, co-operation and innovation to help deliver coherent, ambitious and well-led programmes using relationship development.</p>

<p>SRM in TfL includes Strategic Labour Needs and Training (SLNT), a strand of the Responsible Procurement programme. Through SRM, we work with our suppliers to increase the numbers of jobs and apprenticeships in London and help increase the number of apprenticeships. A number of our key suppliers are already forerunners in this area and we aim to expand this further across our supply base.</p>

<h2>Supplier skills programme</h2>

<p>Skills shortages in engineering and project management pose a risk to London's economy and future growth.</p>

<p>To close the skills gap in our industry, we work with our suppliers to generate apprenticeship and employment opportunities and to facilitate access to funding and support. Opportunities are aligned to the skills required, directly matching the suppliers' needs.</p>

<p>More than 3,600 apprenticeships have been created at 100 of our suppliers since 2009, and more than 4,000 unemployed Londoners have been helped to access jobs on TfL contracts.</p>

<p>Find out more about our <a href="/info-for/suppliers-and-contractors/supplier-relations/supplier-skills">supplier skills programme</a> or email us at <a href="mailto:supplierskills&#64;tfl.gov.uk">supplierskills&#64;tfl.gov.uk</a> for more information on how we can support you to deliver training and employment outcomes.</p>

<h2>Live contracts</h2>

<p>We support an initiative by the Prime Minister and Secretary of State for Communities and Local Government to promote transparency in the public sector by publishing all expenditure over &pound;500 and contracts of &pound;500,000 and over.</p>

<p>Please see our page on <a href="/corporate/transparency/index">transparency</a> for more information.</p>

<p>Crossrail reports separately. View the page on <a href="http://www.crossrail.co.uk/about-us/transparency">transparency on the Crossrail website</a>.</p>

<h2>Technology Innovation Portal</h2>

<p>We have identified challenges that may need to be solved with a novel approach or innovative technology. You can submit ideas and solutions that meet our key challenges via our <a href="/info-for/business-and-commercial/innovation-portal">Innovation Portal</a>.</p>

<h2>Responsible procurement</h2>

<p>Our procurement programme is a key opportunity to implement positive economic, social and environmental development. As part of the GLA Group, we are committed to leading on and promoting responsible procurement in London.</p>

<p>Find out more about our policies on <a href="/corporate/publications-and-reports/procurement-information">ethical sourcing and sustainable timber</a>.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/suppliers-and-contractors/index" class="heading">
                    <h2 id="sub-menu-heading">Suppliers & contractors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/become-a-supplier">Become a TfL supplier</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/opportunities">Find contract opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/recieving-orders-and-getting-paid">Invoicing and getting paid</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/what-we-buy">What we buy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/engineering-standards-challenge">Engineering Standards Challenge</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-relations">Supplier relations</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-relations/supplier-skills">Supplier skills</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-toolkit">Digital toolkit</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/design-standards-and-licensing">Design standards & licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-buses-tenders">London Buses tenders</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-service-permits">London Service Permits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-handbook">LU Supplier Handbook</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/traffic-management">Traffic management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/tfl-supplier-awards">TfL Supplier Awards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/zero-harm-forum">Zero Harm Forum</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.crossrail.co.uk/sustainability/economic-sustainability/direct-crossrail-contract-opportunities" class="plain-button">Crossrail</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We are working to build effective relationships with all of our key suppliers, promote innovation within the supply chain and work with suppliers to deliver the Mayor's Responsible Procurement policy.";}
        
            
        


 