
    
  



@{ViewBag.Title = "TfL Supplier Awards";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/suppliers-and-contractors/tfl-supplier-awards";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/suppliers-and-contractors/index">Suppliers & contractors</a></li>
                
            
            
                <li><span class="last-breadcrumb">TfL Supplier Awards</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>TfL Supplier Awards</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The TfL Supplier Awards is our chance to recognise the excellent work our supply chain does for us, and the contribution that a wide range of companies make to running and improving transport in London.
        
      </div>
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/tfl-supplier-awards-2018_rdax_400x250.jpg" alt="picture of attendees at supplier awards" />
        <span class="caption">TfL Supplier Awards at the London Transport Museum</span>
        
        
    </div>
    <p>The 2019 TfL Supplier Awards ceremony will take place at the London Transport Museum on Wednesday 27 November.</p>

<p>The awards - open to all our suppliers - recoginise suppliers for efforts in various areas, such as working collaboratively with TfL to help make the transport network more innovative, delivering better value for money and improving transport in London. Suppliers will also be recognised for helping to address underrepresentation in the workplace, implementing innovation and protecting the environment.</p>

<p>TfL employees can also nominate suppliers.</p>
 </div>
   <div class="pull-quote">
    
        <div class="quote-body">"We are excited to launch the TfL Supplier Awards for the third year running. This event gives us the opportunity to recognise the great work our suppliers do to keep London moving, working and growing.
As we adapt our network to keep apace with technology advances, we must find an increasing number of ways to support our suppliers to help drive our efficiency and productivity.
I encourage our suppliers to put themselves forward for the event, not only for the recognition they deserve, but also to continue these discussions to help modernise, maintain and operate our network
 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Simon Kilonback</div>
            <div class="quotee-job-title">Chief Finance Officer, TfL</div>
        </div>
    </div>
   <p>We're inviting submissions in the following categories:</p>

<ul>
	<li>Health, Safety and Environment</li>
	<li>Efficiencies and Innovation</li>
	<li>Collaboration</li>
	<li>Responsible Procurement</li>
	<li>Small and Medium Enterprise</li>
</ul>

<p><strong><a href="https://docs.google.com/forms/d/1BmLjbAHUYd_UuRhKRCaRY0Q_i4m1CMeVzN-nDtdmOVI/edit">Submit your interest in being considered for TfL's 2019 Supplier Awards</a>.</strong></p>

<p>First round submissions are now open - they close at&nbsp;17:00 on&nbsp;Wednesday 4&nbsp;September 2019.</p>

 
 
<div>




<p>Read the full list of categories and evaluation criteria:</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-supplier-award-categories-2019.pdf">
    <div class="document-download-text">
        <p>TfL Supplier Awards - Categories & Criteria</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 136KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 
</div>

</div>
 <div>

<p>In 2018 there were more than 100 submissions for the nine different awards. Taylor Woodrow BAM Nuttall was recognised as TfL's Supplier of the Year for its approach to collaborative working, enabling the company to work with us in an honest and proactive way, as well as for its high safety ethos and performance.</p>

<p>Taylor Woodrow BAM Nuttall was also commended for its involvement in upgrading Tottenham Court Road and Victoria Tube stations, making them more spacious, with step-free access, helping to ensure that the stations are accessible to all customers, including disabled or older customers, parents or carers with buggies and people with heavy luggage.</p>

<h3>Some of our 2018 winners</h3>
</div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/best-sme-award-km-mcloughlin-decorating.jpg" alt="Best SME Award - K&M McLoughlin DecoratingJV" />
                <figcaption>
<span class="figure-title">Best SME Award - K&M McLoughlin DecoratingJV</span>
<span class="figure-description">TfL Supplier Awards 2018</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/underrepresented-in-the-workplace-award.jpg" alt="Best initiative for increasing those underrepresented in the workplace - Fujitsu" />
                <figcaption>
<span class="figure-title">Best initiative for increasing those underrepresented in the workplace - Fujitsu</span>
<span class="figure-description">TfL Supplier Awards 2018</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/best-environmental-initiative.jpg" alt="Best Environmental Initiative - Mott MacDonald" />
                <figcaption>
<span class="figure-title">Best Environmental Initiative - Mott MacDonald</span>
<span class="figure-description">TfL Supplier Awards 2018</span>
                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/suppliers-and-contractors/index" class="heading">
                    <h2 id="sub-menu-heading">Suppliers & contractors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/become-a-supplier">Become a TfL supplier</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/opportunities">Find contract opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/recieving-orders-and-getting-paid">Invoicing and getting paid</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/what-we-buy">What we buy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/engineering-standards-challenge">Engineering Standards Challenge</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-relations">Supplier relations</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-toolkit">Digital toolkit</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/design-standards-and-licensing">Design standards & licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-buses-tenders">London Buses tenders</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-service-permits">London Service Permits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-handbook">LU Supplier Handbook</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/traffic-management">Traffic management</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/tfl-supplier-awards">TfL Supplier Awards</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/zero-harm-forum">Zero Harm Forum</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/info-for/suppliers-and-contractors/supplier-relations/supplier-skills" class="plain-button">Supplier skills</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The Transport for London Supplier Awards is our chance to recognise the excellent work our supply chain does for us, and recognising the contribution that a wide range of companies make to running and improving transport in our capital";}
        
            
        


 