
    
  



@{ViewBag.Title = "Temporary traffic management handbook";}
@{ViewBag.Keywords = "TfL,health, safety, traffic management";}
@{ViewBag.Url = "/info-for/suppliers-and-contractors/traffic-management";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/suppliers-and-contractors/index">Suppliers & contractors</a></li>
                
            
            
                <li><span class="last-breadcrumb">Temporary traffic management handbook</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Temporary traffic management handbook</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Our handbook sets out good practice for those involved with roadworks and other construction-related activities on TfL's road network (TLRN).
        
      </div>
    
    <div class="on-this-page">
      <p>This guidance is aimed at keeping people safe when they travel on London's road network by foot, by cycle or by bus. It supplements existing national standards - we expect anyone involved with the design, planning, implementation and inspection of temporary traffic management on the TLRN to follow this guidance.</p>

<p>It will not only make roads safer for vulnerable road users &#45; people who walk, cycle and ride motorcycles &#45; but will help unlock the barriers to active travel faced by people who are visually impaired, or who use wheelchairs and other mobility aids. Those carrying out roadworks will also be able to help us keep buses reliable and protect the accessibility of bus stops.</p>

<p>The overall aim is to ensure that works are not a barrier to people travelling. Our vision is to accomplish a zero-risk standard for roadworks operations by 2025.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/temporary-traffic-management-handbook.pdf">
    <div class="document-download-text">
        <p>The temporary traffic management handbook</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 15.27MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 15.27 -->
 
</div>
<p>Please send an&nbsp;email to&nbsp;<a href="mailto:TMWorkingGroup&#64;TfL.gov.uk">TMWorkingGroup&#64;TfL.gov.uk</a> if you have any queries relating to the handbook or have any suggestions for future iterations.</p>

<p>&nbsp;</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Guidance on improving health and safety on sites";}
        
            
        


 