
    
  



@{ViewBag.Title = "Using the maps				";}
@{ViewBag.Keywords = "Maps,Rail,Tube,TfL";}
@{ViewBag.Url = "/info-for/suppliers-and-contractors/using-the-maps";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/suppliers-and-contractors/index">Suppliers & contractors</a></li>
                
            
                 <li><a href="/info-for/suppliers-and-contractors/design-standards-and-licensing">Design standards & licensing</a></li>
                
            
                 <li><a href="/info-for/suppliers-and-contractors/map-licensing">Map licensing</a></li>
                
            
            
                <li><span class="last-breadcrumb">Using the maps				</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Using the maps				</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The cost of using a London Underground or National Rail map in your design depends on what you're using it for: advertising, standard usage, internet or royalty free.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>


        <p>If you're using maps in print, the charge also depends on the number of copies you make.</p>
        <p>You need to pay in advance. The artwork must be supplied by Pulse Creative and the map cannot be changed or altered in any way. Station names cannot be changed to suit a particular purpose. Please refer to our <a href="/info-for/suppliers-and-contractors/design-standards">design standards</a>.</p>
        <p>Maps are available in a range of <a href="/info-for/suppliers-and-contractors/map-sizes-and-formats">sizes and formats</a>.</p>
        <p>Find out <a href="/info-for/suppliers-and-contractors/how-to-order-and-pay-for-maps">how to order and pay</a>.</p>
         
    
</div>
 

        <h2>Advertising</h2>
        <p>For example, a business card with a map on one side and your company's logo and details on the other.</p>
        <p>The royalty rates for advertising or promotional usage of London Underground and National Rail maps are as follows:</p>
    
<div class="table-container"><table>
    <thead>
        <tr>
            <th id="table_heading_0" style="width: 50%;" rowspan="1" colspan="1"><strong>Copies</strong>
            </th>
            <th id="table_heading_1" rowspan="1" colspan="1"><strong>Royalty rates</strong>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td headers="table_heading_0">1 - 8,000
            </td>
            <td headers="table_heading_1">Minimum charge &pound;600 + VAT
            </td>
        </tr>
        <tr>
            <td headers="table_heading_0">8,001 - 20,000
            </td>
            <td headers="table_heading_1">&pound;0.075 + VAT per copy
            </td>
        </tr>
        <tr>
            <td headers="table_heading_0">20,001 - 50,000
            </td>
            <td headers="table_heading_1">
            &pound;0.065 + VAT per copy<br />
            (minimum charge of &pound;1,500)
            </td>
        </tr>
        <tr>
            <td headers="table_heading_0">50,001 - 100,000
            </td>
            <td headers="table_heading_1">&pound;0.060 + VAT per copy<br />
            (minimum charge of &pound;3,250)
            </td>
        </tr>
        <tr>
            <td headers="table_heading_0">100,001 and above
            </td>
            <td headers="table_heading_1">Agreed on application
            </td>
        </tr>
    </tbody>
</table></div>
<p>&nbsp;</p>
<p>An artwork fee of &pound;320 + VAT is also payable. </p>

 

        <h2>Standard</h2>
        <p>For example, a diary or guide book.</p>
        <p><strong>The royalty rates for standard usage of London Underground maps are:&nbsp;</strong></p>
    
<div class="table-container"><table>
    <thead>
        <tr>
            <th id="table_heading_0" style="width: 50%;" rowspan="1" colspan="1"><strong>Copies</strong></th>
            <th id="table_heading_1" rowspan="1" colspan="1"><strong>Royalty rates</strong>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td headers="table_heading_0">1 - 8,000
            </td>
            <td headers="table_heading_1">Minimum charge &pound;180 + VAT
            </td>
        </tr>
        <tr>
            <td headers="table_heading_0">8,001 - 20,000
            </td>
            <td headers="table_heading_1">&pound;0.023 + VAT per copy<br />
            (minimum charge of &pound;180)<br />
            </td>
        </tr>
        <tr>
            <td headers="table_heading_0">20,001 - 50,000
            </td>
            <td headers="table_heading_1">&pound;0.014 + VAT per copy<br />
            (minimum charge of &pound;460)<br />
            </td>
        </tr>
        <tr>
            <td headers="table_heading_0">50,001 - 100,000
            </td>
            <td headers="table_heading_1">&pound;0.010 + VAT per copy<br />
            (minimum charge of &pound;700)<br />
            </td>
        </tr>
        <tr>
            <td headers="table_heading_0">100,001 and above
            </td>
            <td headers="table_heading_1">&pound;0.007 + VAT per copy<br />
            (minimum charge of &pound;1,000)<br />
            </td>
        </tr>
    </tbody>
</table></div>


 

         
        <p><strong>Royalty rates for standard usage of National Rail maps are:&nbsp;</strong></p>
    

        <div class="table-container"><table>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 50%;"><strong>Copies</strong></td>
                    <td><strong>Royalty rates</strong>
                    </td>
                </tr>
                <tr>
                    <td>1 - 8,000
                    </td>
                    <td>Minimum charge &pound;100 + VAT
                    </td>
                </tr>
                <tr>
                    <td>8,001 - 20,000
                    </td>
                    <td>&pound;0.012 + VAT per copy<br />
                    (minimum charge of &pound;100)
                    </td>
                </tr>
                <tr>
                    <td>20,001 - 50,000
                    </td>
                    <td>&pound;0.009 + VAT per copy<br />
                    (minimum charge of &pound;240)
                    </td>
                </tr>
                <tr>
                    <td>50,001 - 100,000
                    </td>
                    <td>&pound;0.006 + VAT per copy<br />
                    (minimum charge of &pound;450)
                    </td>
                </tr>
                <tr>
                    <td>100,001 - 250,000
                    </td>
                    <td>&pound;0.004 + VAT per copy<br />
                    (minimum charge of &pound;600)
                    </td>
                </tr>
                <tr>
                    <td>250,000 and above
                    </td>
                    <td>As agreed between Pulse Creative and sub licensees
                    </td>
                </tr>
            </tbody>
        </table></div>
    
<p> </p>
<p>An artwork fee of &pound;320 + VAT is payable for Tube maps and &pound;290 + VAT is payable for National Rail maps. </p>

 <div>

<h2>Internet</h2>
<p>This is when you are using a London Underground or National Rail map on your website and will not be printing it.</p>
<p>To reproduce the maps on a website, you need to apply for a licence agreement and obtain artwork from Pulse Creative.</p>
<ul>
    <li>The cost of the agreement and artwork for commercial purposes is &pound;600 + VAT.</li>
    <li>For interactive use of the map, the charge will be &pound;2,000 + VAT for the first map, and &pound;1,500 + VAT for each subsequent map.</li>
    <li>To make the map available for mobile download, the charge will be &pound;1,000 + VAT, or &pound;2,000 + VAT for the first map, and &pound;1,500 + VAT for each subsequent map if interactive.</li>
    <li>The royalty free price for internet usage is &pound;320 + VAT for Tube maps and &pound;290 + VAT for National Rail maps.</li>
</ul>
<h2>Royalty free</h2>
<p>The following applies to London Underground and National Rail maps:</p>
<ul>
    <li>For registered charities and schools, the licence is royalty free but we still charge an artwork fee of &pound;320 + VAT</li>
    <li>A charge of &pound;5 + VAT also applies to ensure that the agreement is legally binding</li>
    <li>All costs are payable on completion of the agreement</li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/suppliers-and-contractors/index" class="heading">
                    <h2 id="sub-menu-heading">Suppliers & contractors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/become-a-supplier">Become a TfL supplier</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/opportunities">Find contract opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/recieving-orders-and-getting-paid">Invoicing and getting paid</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/what-we-buy">What we buy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/engineering-standards-challenge">Engineering Standards Challenge</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-relations">Supplier relations</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-toolkit">Digital toolkit</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/design-standards-and-licensing">Design standards & licensing</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/design-standards">Design standards</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/map-licensing">Map licensing</a></div>
                                        <ul>
                                            
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/using-the-maps">Using the maps				</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/licence-agreement">Licence agreement</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/map-sizes-and-formats">Map sizes & formats</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/how-to-order-and-pay-for-maps">How to order & pay for maps</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/map-licensing-application-form">Map licensing application form</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/contact-us-for-map-licensing">Contact us for map licensing</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/product-licensing">Product licensing</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/logo-requests">Logo requests</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/font-requests">Font requests</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-buses-tenders">London Buses tenders</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-service-permits">London Service Permits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-handbook">LU Supplier Handbook</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/traffic-management">Traffic management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/tfl-supplier-awards">TfL Supplier Awards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/zero-harm-forum">Zero Harm Forum</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Using TfL maps as part of your design. ";}
        
            
        


 