
    
  



@{ViewBag.Title = "What we buy";}
@{ViewBag.Keywords = "Suppliers,TfL";}
@{ViewBag.Url = "/info-for/suppliers-and-contractors/what-we-buy";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/suppliers-and-contractors/index">Suppliers & contractors</a></li>
                
            
            
                <li><span class="last-breadcrumb">What we buy</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>What we buy</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Our commercial areas are responsible for purchasing a range of goods, services and works from suppliers and contractors. 
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>


        <p>Every day, 24 million journeys take place across London. To help ensure that each journey runs smoothly, we need to buy goods, services and works from suppliers. </p>
        <p>We do this via a number of commercial areas across our organisation in Rail and Underground (R&amp;U), Surface Transport, and Corporate. The commercial function in these areas is to purchase a range of goods, services and works, as well as managing contractual requirements and key supplier relationships, for all of TfL and the GLA. </p>
        <h2>Buying from suppliers &amp; contractors
        </h2>
        <p>We buy goods and services through our commercial areas, which include Corporate, Rail &amp; Underground, and Surface Transport. As well as buying in supplies, these areas also manage the contractual requirements and key supplier relationships.</p>
    
</div>
 <div>

<h2>Rail and Underground
</h2>
<p>Rail and Underground (R&amp;U) covers six modes:</p>
<ul>
    <li>Underground </li>
    <li>DLR </li>
    <li>Tram </li>
    <li>Crossrail </li>
    <li>Overground </li>
    <li>Air-Line </li>
</ul>
<p>The commercial function of the R&amp;U area buys all the assets and services needed for stations, trains and upgrades. These include:</p>
<ul>
    <li>Materials (needed for the overhaul and maintenance of assets) </li>
    <li>Electricity and gas </li>
    <li>Upgrades (stations, rolling stock, lifts, and escalators) </li>
    <li>Infrastructure (Tube and surface tracks, station, lift and escalator upgrades) </li>
</ul>
<p>If you'd like to keep up-to-date with the R&amp;U area, our new bulletin provides information about our latest contract opportunities, who we are and what we do. </p>
<p>If you have a query or comment, please get in touch directly by emailing&nbsp;<a href="mailto:RandUCommercial&#64;tfl.gov.uk">RandUCommercial&#64;tfl.gov.uk</a>.</p>
</div>
 
<div>




<h3>Key supplier forum summary </h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/together-were-safer-supplier-forum.pdf">
    <div class="document-download-text">
        <p>Together We're Safer supplier forum summary slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 804KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.79 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/key-supplier-summary.pdf">
    <div class="document-download-text">
        <p>Key supplier forum summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 763KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.75 -->
 
</div>

</div>
 
<div>




<h3>Commercial bulletins</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/commercial-bulletin-rail-underground-supplier-mar-2016.pdf">
    <div class="document-download-text">
        <p>March 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 272KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/commercial-bulletin-rail-underground-supplier-october-2015.pdf">
    <div class="document-download-text">
        <p>October 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 220KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/commercial-bulletin-randu-suppliers-september-2015.pdf">
    <div class="document-download-text">
        <p>September 2015 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 226KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/commercial-bulletin-for-randu-suppliers-august-2015.pdf">
    <div class="document-download-text">
        <p>August 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 161KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/delivering-homes-jobs-and-growth.pdf">
    <div class="document-download-text">
        <p>Delivering homes jobs and growth</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 394KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/commercial-bulletin-for-randu-suppliers.pdf">
    <div class="document-download-text">
        <p>July 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 222KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/commercial-bulletin-rail-underground-supplier-june-2015.pdf">
    <div class="document-download-text">
        <p>June 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 227KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/commercial-bulletin-rail-underground-supplier-may-2015.pdf">
    <div class="document-download-text">
        <p>May 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 187KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/commercial-bulletin-rail-underground-supplier-april-2015.pdf">
    <div class="document-download-text">
        <p>April 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 256KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/commercial-bulletin-rail-underground-suppliers-mar-2015.pdf">
    <div class="document-download-text">
        <p>March 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 238KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/commercial-bulletin-rail-underground-suppliers-feb-2015.pdf">
    <div class="document-download-text">
        <p>February 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 276KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/commercial-bulletin-for-r-and-u-suppliers.pdf">
    <div class="document-download-text">
        <p> January 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 319KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/commercial-bulletin-november-2014.pdf">
    <div class="document-download-text">
        <p>November 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 198KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 
</div>

</div>
 
<div>




<p>Read a useful guide on how Rail &amp; Underground (R&amp;U) procure and how you may proceed to doing business with us:</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/become-part-of-r-and-u-supply-chain-thirteen.pdf">
    <div class="document-download-text">
        <p>How does my business become part of the R&U supply chain?</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 600KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.59 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rail-and-underground-organisation-mar16.pdf">
    <div class="document-download-text">
        <p>Rail and Underground organisational chart</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 92KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 
</div>

</div>
 <div>


        <hr />
        <h2>Surface Transport </h2>
        <p>Surface Transport covers six areas:</p>
        <ul>
            <li>Buses </li>
            <li>Streets </li>
            <li>Coach station </li>
            <li>Dial-A-Ride </li>
            <li>Taxis and private hire </li>
            <li>River </li>
        </ul>
        <p>The commercial function of the Surface Transport area manages the commercial aspects of projects; from business case, commercial analysis and specification development, through to procurement and contract management to contract closure. These areas buy the following:</p>
        <ul>
            <li>Technology and systems </li>
            <li>Transport services </li>
            <li>Customer operations and support </li>
            <li>Infrastructure </li>
            <li>Highways and engineering, and support services </li>
        </ul>
    
</div>
 
<div>



<h2>Surface bulletins</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/commercial-surface-supplier-bulletin-april-2016.pdf">
    <div class="document-download-text">
        <p>April 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 103KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/commercial-surface-supplier-bulletin-january-2016.pdf">
    <div class="document-download-text">
        <p>January 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 77KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/surface-commercial-supplier-bulletin-october-2015.pdf">
    <div class="document-download-text">
        <p>October 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 167KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/surface-transport-commercial-supplier-bulletin.pdf">
    <div class="document-download-text">
        <p>July 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 146KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/surface-commercial-bulletin.pdf">
    <div class="document-download-text">
        <p>April 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 182KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 
</div>

</div>
 <div>


        <hr />
        <h2>Corporate </h2>
        <p>The Corporate area of the Commercial function covers a wide range of professional services, ICT and facilities operations. These areas buy the following:</p>
        <ul>
            <li>Professional services, including: premises/office services, and business services </li>
            <li>ICT, including: data transmission and networks, end user computing, software and applications, and hosting </li>
            <li>Facilities operations, including: reception services, reprographics, mail, switchboard, cleaning, waste management, security and building services </li>
        </ul>
    
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/suppliers-and-contractors/index" class="heading">
                    <h2 id="sub-menu-heading">Suppliers & contractors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/become-a-supplier">Become a TfL supplier</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/opportunities">Find contract opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/recieving-orders-and-getting-paid">Invoicing and getting paid</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/what-we-buy">What we buy</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/engineering-standards-challenge">Engineering Standards Challenge</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-relations">Supplier relations</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-toolkit">Digital toolkit</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/design-standards-and-licensing">Design standards & licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-buses-tenders">London Buses tenders</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-service-permits">London Service Permits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-handbook">LU Supplier Handbook</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/traffic-management">Traffic management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/tfl-supplier-awards">TfL Supplier Awards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/zero-harm-forum">Zero Harm Forum</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Our commercial areas are responsible for purchasing a range of goods, services and works from suppliers and contractors. ";}
        
            
        


 