
    
  



@{ViewBag.Title = "Zero Harm Forum";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/suppliers-and-contractors/zero-harm-forum";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/suppliers-and-contractors/index">Suppliers & contractors</a></li>
                
            
            
                <li><span class="last-breadcrumb">Zero Harm Forum</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Zero Harm Forum</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The TfL Capital Projects Zero Harm Forum aims to bring together our project and programme teams and our suppliers to discuss and share health, safety and environment (HSE) best practice.
        
      </div>
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/zero-harm-forum_rdax_400x250.jpg" alt="Zero Harm Forum logo" />
        
        
        
    </div>
    <p>The forum also aims to examine HSE issues, collectively work to identify resolutions and roll these out to colleagues across the organisation and to our suppliers.</p>

<p>Our key objective is to improve health, safety and environment across our&nbsp;projects and programmes. We will:</p>

<ul>
	<li>Drive&nbsp;the culture of ensuring 'Everyone home safe and healthy every day'</li>
	<li>Keep HSE on the agenda</li>
	<li>Promote HSE best practice, initiatives and knowledge sharing</li>
	<li>Drive the partnership of TfL projects/programmes and its suppliers</li>
	<li>Identify HSE improvement areas and address them</li>
	<li>Promote openness and trust and remove a blame culture</li>
	<li>Share and engage with the wider TfL business community</li>
</ul>
 </div>
 <div>

<h2>Health, Safety and Environment Alerts</h2>

<p>HSE alerts provide information that is important safe working, including product recall notices. The purpose of the alerts is to share urgent issues and lessons learnt across TfL and our supply chain.</p>

<p><a href="/cdn/static/cms/documents/hse-alert-06-in-2019-staying-safe-at-work.pdf">Alert 06 in 2019 - Staying safe at work</a><br />
<a href="/cdn/static/cms/documents/hse-alert-07-in-2019-near-miss-accessing-track.pdf">Alert 07 in 2019 - Near miss accessing track</a><br />
<a href="/cdn/static/cms/documents/hse-alert-08-in-2019-immediate-stop-use-mightylite-self-retracting-lifeline.pdf">Alert 08 in 2019 - Immediate stop use MightyLite self retracting lifelin</a>e<br />
<a href="/cdn/static/cms/documents/hse-alert-10-in-2019-lucy-service-cut-outs.pdf">Alert 10 in 2019 - Lucy service cut outs</a><br />
<a href="/cdn/static/cms/documents/hse-alert-11-in-2019-product-recall-teufelberger-braided-safety-ropes.pdf">Alert 11 in 2019 - Product recall Teufelberger braided safety ropes</a></p>
</div>
 <div>

<h2>Health, Safety and Environment Bulletins</h2>

<p>HSE bulletins describe incidents on construction sites that have been resolved or are under investigation. The purpose of the bulletin is to share issues and lessons learnt across TfL and our supply chain.</p>

<p><a href="/cdn/static/cms/documents/hse-bulletin-26-2019-uncontrolled-move-of-a-road-rail-vehicle.pdf">Bulletin 26 in 2019 - Uncontrolled move of a road rail vehicle</a><br />
<a href="/cdn/static/cms/documents/hse-bulletin-43-in-2019-witness-statements.pdf">Bulletin 43 in 2019 - Witness statements</a><br />
<a href="/cdn/static/cms/documents/hse-bulletin-44-in-2019-risk-assessments-and-safe-systems-of-work.pdf">Bulletin 44 in 2019 - Appropriate risk assessments and safe systems of work to be in place prior to works being started</a><br />
<a href="/cdn/static/cms/documents/hse-bulletin-46-in-2019-changes-in-generator-emissions-requirements-for-london-sites.pdf">Bulletin 46 in 2019 - Changes in generator emissions requirements for London sites</a></p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/suppliers-and-contractors/index" class="heading">
                    <h2 id="sub-menu-heading">Suppliers & contractors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/become-a-supplier">Become a TfL supplier</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/opportunities">Find contract opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/recieving-orders-and-getting-paid">Invoicing and getting paid</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/what-we-buy">What we buy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/engineering-standards-challenge">Engineering Standards Challenge</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-relations">Supplier relations</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-toolkit">Digital toolkit</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/design-standards-and-licensing">Design standards & licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-buses-tenders">London Buses tenders</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-service-permits">London Service Permits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-handbook">LU Supplier Handbook</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/traffic-management">Traffic management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/tfl-supplier-awards">TfL Supplier Awards</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/zero-harm-forum">Zero Harm Forum</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The TfL Capital Projects Zero Harm Forum aims to bring together TfL Capital project/programme teams and our suppliers to discuss and share health, safety and environment (HSE) best practices";}
        
            
        


 