
    
  



@{ViewBag.Title = "Inspire Engineering";}
@{ViewBag.Keywords = "Schools and young people,TfL";}
@{ViewBag.Url = "/info-for/schools-and-young-people/inspire-engineering";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/schools-and-young-people/index">Schools & young people</a></li>
                
            
            
                <li><span class="last-breadcrumb">Inspire Engineering</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Inspire Engineering</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Are you a teacher looking for ways to engage with your students? Could your students learn more about the huge range of careers in engineering and transport planning? The Inspire Engineering programme is here to help bridge the gap between schools and future careers.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/inspire-engineering_rdax_400x250.jpg" alt="Pupils participating in a hands-on Inspire Engineering challenge" />
        <span class="caption">Pupils participating in a hands-on engineering challenge</span>
        
        
    </div>
    
        <p> Engineers and planners are essential to TfL but we face potential shortages of people with these specialist skills, particularly in Highways, Rail and Transport Planning.</p>
        <p>London Transport Museum (LTM), in partnership with TfL, has developed the Inspire Engineering programme to engage young people with engineering and reduce the skills gap facing the transport industry. Thanks to support from the Luke Rees-Pulley Charitable Trust and TfL, Inspire Engineering is building successful links between schools and real-life engineering.</p>
        <h2>Engineering Ambassadors</h2>
        <p>The Inspire Engineering programme is made possible by Engineering Ambassadors. Ambassadors are real TfL engineers and planners, who volunteer their time, expertise and enthusiasm to inspire and inform young people about engineering as a potential career with great prospects.</p>
        <p>This is particularly relevant to Key Stage 3 students (11-14 years old), to help them make informed GCSE choices. London Transport Museum also offers hands-on Inspire Engineering sessions to primary schools to get a real insight into engineering from a young age.</p>
        <p>London Transport Museum works with <a href="http://www.stemnet.org.uk/">STEMNET</a> (Science, Technology, Engineering, Maths Network) to coordinate the Engineering Ambassadors activity within TfL. The Engineering Ambassadors help deliver Inspire Engineering school sessions with London Transport Museum (see below) and also support broader STEMNET activities.</p>
        <h2>Inspire Engineering - options for schools</h2>
        <p>LTM's Inspire Engineering programme offers exciting, hands-on museum sessions for Key Stage 3 pupils (ages 11-14) as well as Key Stage 2 (ages 7-11):</p>
        <ul>
            <li>The <a href="http://www.ltmuseum.co.uk/learning/schools/key-stage-3">Inspire Engineering Day at LTM Depot</a> lets Key Stage 3 students explore behind the scenes of the LTM Depot in Acton, getting up close to engineering wonders, meeting TfL Engineering Ambassadors and tackling hands-on engineering challenges. Over 90% of students and teachers rate the day as 'Excellent', and it is also CREST accredited by the <a href="http://www.britishscienceassociation.org/crest-awards">British Science Association</a> </li>
            <li>The <a href="http://www.ltmuseum.co.uk/learning/schools">Primary Inspire Engineering session</a> is held weekly at LTM in Covent Garden and gives Key Stage 2 pupils an opportunity to become problem-solvers and build understanding of the difference engineering makes to everybody's lives</li>
            <li>We also offer Key Stage 2 and Key Stage 3 outreach workshops, supported by Engineering Ambassadors, which can be delivered at schools. Workshops introduce engineering and engage pupils in completing an engineering challenge linked to TfL transport. We offer three primary outreach workshops and two secondary workshops</li>
        </ul>
        <p>For more information and to book an outreach workshop, please email <a href="mailto:InspireEngineering&#64;ltmuseum.co.uk">InspireEngineering&#64;ltmuseum.co.uk</a>. To book the museum-based sessions please follow the links above.</p>
    
 </div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/schools-and-young-people/index" class="heading">
                    <h2 id="sub-menu-heading">Schools & young people<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/inspire-engineering">Inspire Engineering</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/youth-involvement">Youth involvement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources">Educational resources</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship">Safety & Citizenship</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/young-car-drivers">Young car drivers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/innovate-tfl">Innovate TfL</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Information for teachers to engage students about the range of careers in engineering and transport planning.";}
        
            
        


 