
    
  



@{ViewBag.Title = "Young car drivers";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/schools-and-young-people/young-car-drivers";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/schools-and-young-people/index">Schools & young people</a></li>
                
            
            
                <li><span class="last-breadcrumb">Young car drivers</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Young car drivers</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We are committed to helping young car drivers stay safer on London's roads. If you are the parent or carer of a young car driver, here are some simple tips on how you can influence your child to be a safer and more responsible driver.
        
      </div>
    
    
      <h2>Tips for young drivers
</h2>
<p>1. Be a good role model with your own driving behaviour. It may be helpful to remind yourself of <a href="https://www.gov.uk/guidance/the-highway-code">the rules of the road</a></p>
<p>2. Pick an Approved Driving Instructor (ADI), and ask if you can sit in on one of the lessons so that you can be sure that the training meets your child's needs. Choose an <a href="https://www.safedrivingforlife.info/learners/i-want-drive/finding-driving-instructor">Approved Driving Instructor</a></p>
<p>3. Encourage your child to take their time when learning to drive to develop life long skills, not just pass the test as soon as possible</p>
<p>4.  Carry out supervised driving with your child &#45; the government recommends that learners complete a minimum of 20 hours of practice in addition to their driving lessons.</p>
<p>5. Your supervised journeys should include a variety of driving situations, including night driving, driving in poor weather and driving on urban roads</p>
<p>6. Encourage further pre- and post-test learning such as <a href="https://www.safedrivingforlife.info/learners/i-want-drive/further-training ">Pass Plus</a>. And for free online hazard perception training, <a href="http://www.driveiq.co.uk/ ">visit DriveiQ for interactive modules</a></p>
<p>7. Take a look at Euro NCAP for safety advice when buying new and used cars for your child. The five star safety ratings system can help you select the safest vehicle for their needs. <a href="http://www.euroncap.com/en/about-euro-ncap/how-to-read-the-stars/ ">Visit Euro NCAP</a></p>
<p>8. Encourage your child to get telematics 'black box' insurance. This could result in cheaper premiums depending on how your child drives</p>
<p>9. Restrict the number of passengers your child carries and their night time driving for the first few months after passing until they are more experienced</p>
<p>10. Share these tips parents/carers of your child's friends and encourage them to follow this advice as well</p>
<p>Remember, the licence will be revoked if your child gets 6 or more points within 2 years of passing their test. Your child will have to apply and pay for a new provisional licence and pass both theory and practical parts of the driving test again to get a full license.</p>
<h2>Find out more
</h2>
<p>For more information, email <a href="mailto:educationandtraining&#64;tfl.gov.uk">educationandtraining&#64;tfl.gov.uk</a>  with the subject 'YCDWEB'.</p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.driveiq.co.uk/" class="plain-button">Drive IQ</a>
<a href="http://www.euroncap.com/en" class="plain-button">Euro NCAP</a>
<a href="https://www.safedrivingforlife.info/" class="plain-button">Safe Driving for Life</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "young car drivers";}
        
            
        


 