
    
  



@{ViewBag.Title = "Youth involvement";}
@{ViewBag.Keywords = "Schools and young people,TfL";}
@{ViewBag.Url = "/info-for/schools-and-young-people/youth-involvement";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/schools-and-young-people/index">Schools & young people</a></li>
                
            
            
                <li><span class="last-breadcrumb">Youth involvement</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Youth involvement</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        More than a third of the Capital's population is under 25. There are an estimated 2.8 million young people living in Greater London and rising all the time
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>There are over 3,000 schools in the Capital, more than 300 colleges and universities, and a large number of voluntary youth organisations. Giving young people a voice has never been more important.</p>

<p>That's why we work with young people and organisations representing them to ensure under 25s have a direct voice within our policy and decision making process</p>
</div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/tfl-youth-panel_rdax_400x250.jpg" alt="youth-panel" />
        
        
        
    </div>
    <h2>Youth Panel</h2>

<p><a href="https://forms.office.com/Pages/ResponsePage.aspx?id=v2W9H-9d6k6mkqCJwlU0a9zYlrj_NkNEoxuvyGOcAhpUNTRUSFQ0SVdETElaNlFDWEFUWFg4WThKVS4u">Apply to join our Youth Panel</a> -&nbsp;recruitment is open until Saturday 29 February.</p>

<p>Our Youth Panel consists of around 25 volunteers, aged 16 to 25, who regularly travel in London. They play an important role in helping create a transport network that works for them and other young people across our city.</p>

<p>The panel has&nbsp;been around since 2009, and members have helped shape&nbsp;the Mayor's Transport Strategy,&nbsp;road safety campaigns, and Year of Engineering, among many other initiatives. They also formally submit consultation responses, representing the voice of young Londoners, and take part in some of our campaigns.</p>
 </div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/youth-panel.jpg" alt="Youth panel" />
        
        
        
    </div>   
 </div>
 <div>

<h3>Joining the panel</h3>

<p>We recruit every January and hold elections for executive committee roles in April. If you are interested in becoming a part of our Youth Panel, or finding out&nbsp; more about their work&nbsp; please e-mail <a href="mailto:youthpanel&#64;tfl.gov.uk.">youthpanel&#64;tfl.gov.uk.</a></p>

<h3>Meet our&nbsp;executive committee</h3>

<p>Our executive committee meets in between panel meetings and steer the work of the Youth Panel. They are elected by the panel and suggest projects and campaigns for the panel to work on. They also lead on the organisation and delivery of our Youth Participation Day.<br />
&nbsp;</p>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/executive-comm.jpg" alt="Picture of executive committee members" />
        <span class="caption">Executive committee L - R: Zoe, Harry, Salome, Jagz</span>
        
        
    </div>   
 </div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="harry---youth-panel-chair-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Youth involvement-Harry - Youth Panel chair"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="harry---youth-panel-chair-heading" class="accordion-heading">Harry - Youth Panel chair</div>
            </div>
            <div id="harry---youth-panel-chair-content" class="start-hidden" role="region" aria-labelledby="harry---youth-panel-chair-heading">
<p>I first joined the panel whilst running a Youth Travel Ambassador campaign to get more young people cycling to my former school and am proud to have served as chair since January 2014, steering the panel's agenda on issues such as road safety, accessibility and active travel.</p>

<p>I'm immensely proud of the work the panel has completed over the past few years, encouraging and informing on tangible changes to the city that make noticeable differences to young Londoners' lives. Outside of the panel, I work as a technology consultant, take a keen interest in politics, and play water polo.</p>

<p>My favourite type of transport is the Tube because it is quick, frequent and it runs 24/7 during the weekends.</p>

<p>Twitter: &#64;hrushworth</p>

<p>The chair's responsibilities include:</p>

<ul>
	<li>Chairing Youth Panel meetings</li>
	<li>Delivering key note speech at Youth Participation Day</li>
	<li>Sharing information with other members when requested</li>
	<li>Keeping up to date on the activities at TfL</li>
	<li>Reviewing and signing minutes of panel meetings</li>
	<li>Attending committee meetings (every 1 to 2 months)</li>
	<li>Representing Youth Panel at internal and external events</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="salome---vice-chair-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Youth involvement-Salome - Vice chair"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="salome---vice-chair-heading" class="accordion-heading">Salome - Vice chair</div>
            </div>
            <div id="salome---vice-chair-content" class="start-hidden" role="region" aria-labelledby="salome---vice-chair-heading">
<p>I served previously as engagement champion of the TfL youth panel and now serve as vice chair. I moved to London from the USA several years ago to study and I love the city and our transportation network. I also like urbanism, public policy, photography, and coffee.</p>

<p>I joined the panel as I thought the panel would be an interesting way to be involved with TfL and meet other young people who care about transport.</p>

<p>I believe the Youth Panel is really important and that major organisations take youth perspective into account when making decisions. The Youth Panel really helps contribute to TfL's decision making. I have also made many new friends through the panel.</p>

<p>My favourite type of transport is the bus. I love riding the top deck and taking in the views. It's also a very cost-effective way to get around thanks to the Hopper Fare, and it goes pretty much everywhere in London.</p>

<p>Twitter: &#64;salome_gongadze</p>

<p>The vice chair's responsibilities include:</p>

<ul>
	<li>Standing in for the chair at Youth Panel meetings if they are absent</li>
	<li>Working closely with the chair to establish a constructive relationship and share responsibilities</li>
	<li>Supporting the chair on leading with consultation responses</li>
	<li>Attending committee meetings</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="joe---secretary-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Youth involvement-Joe - Secretary"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="joe---secretary-heading" class="accordion-heading">Joe - Secretary</div>
            </div>
            <div id="joe---secretary-content" class="start-hidden" role="region" aria-labelledby="joe---secretary-heading">
<p>Being born and bred in the home county of Hertfordshire I was told the powers that be in the county that in terms of transport, I had to put up and shut up. I thought my position as a young person - one who can't drive, one who doesn't have a lot of money to my name, one who was isolated from the rest of the community outside my home village - didn't matter to anyone.</p>

<p>I've come to learn that not everywhere is like that, though - since I first met the Youth Panel at youth participation day three years ago I've learnt that there is a genuine want to change the scene for young people, no matter where in London they're from or what mode of transport they use. I'm extremely proud of the policies that I and the rest of the panel have come up with over the years and I'm honored that my fellow panelists have selected me as their secretary.</p>

<p>I attend sixth form and work in a photo lab in the hours between. People often aren't surprised when I tell them that I'm a member of the Youth Panel after I perform my second most popular party trick and recall every single station on the Hertford Loop.</p>

<p>Twitter: &#64;localparkbench</p>

<p>The secretary's responsibilities include:</p>

<ul>
	<li>Taking minutes for the Youth Panel meetings</li>
	<li>Sharing information with other members when requested</li>
	<li>Helping to perform administrative duties for Youth Participation Day</li>
	<li>Attending committee meetings</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="zoe---diversity-and-inclusion-champion-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Youth involvement-Zoe - Diversity and inclusion champion"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="zoe---diversity-and-inclusion-champion-heading" class="accordion-heading">Zoe - Diversity and inclusion champion</div>
            </div>
            <div id="zoe---diversity-and-inclusion-champion-content" class="start-hidden" role="region" aria-labelledby="zoe---diversity-and-inclusion-champion-heading">
<p>I joined the panel as I like getting involved in new things, and representing my peers. I have found being a panel member interesting as I get a greater insight into transport around London, even being able to combine my knowledge of criminology with TfL priorities and issues. It's definitely made me think more about the areas of life not traditionally associated with transport, and that TfL is more than just the trains and buses, it's the impacts on people of all these things, trying to make London a place that works for everyone.</p>

<p>My favourite type of transport is the Tube as it's fast, convenient, and more accessible than most other forms of public transport. As tiring and frustrating as rush hour can be, it's nice to be around people, fun to spot commuter behaviours, and has allowed me to move freely around the city, gaining new experiences as I go.</p>

<p>Twitter: &#64;ZoCherie</p>

<p>&nbsp;Diversity and inclusion champion responsibilities include:</p>

<ul>
	<li>Representing the needs and perspective of London's diverse customers when consulting on policies and campaigns</li>
	<li>Working with the engagement champion to develop relationships with relevant charity, voluntary and community sector organisations</li>
	<li>Attending committee meetings</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="jagz---engagement-champion-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Youth involvement-Jagz - Engagement champion"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="jagz---engagement-champion-heading" class="accordion-heading">Jagz - Engagement champion</div>
            </div>
            <div id="jagz---engagement-champion-content" class="start-hidden" role="region" aria-labelledby="jagz---engagement-champion-heading">
<p>I was born in London and have been a service user of the city for the last 22 years, notably the transport systems. I believe that London's transport services provide a pivotal role in people's lives, for the freedom and opportunities that it can provide. It is important that we enable everyone to use the service to its full potential. I studied a Business and Marketing degree at Bucks New University and I am currently the company cost estimator at GP Garden Services.</p>

<p>I feel that joining the Youth Panel has allowed me the opportunity to express the views of not only myself but my family, friends and the wider community. Youth voice is important, and I believe we as young people can contribute to an ever- improving transport system for the people of London ensuring its sustainability for future generations. I feel this is a new challenge for myself to be able to enhance the city of London whilst extended my current knowledge in youth engagement and working with individuals from across the city.</p>

<p>My favourite type of transport is the Santander Cycle as it is a great way to see the city. Especially when the weather is nice, cycling through Hyde Park and along the Thames is great fun. As well as, physical exercise and helping to reduce pollution in the city.</p>

<p>Twitter: &#64;jagzbharth</p>

<p>Engagement champion responsibilities include:</p>

<ul>
	<li>Developing relationships with similar organisations</li>
	<li>Raising the profile of the Youth Panel amongst other organisations</li>
	<li>Promoting events, such as Youth Participation Day</li>
	<li>Promoting recruitment</li>
	<li>Leading on planning events</li>
	<li>Attending committee meetings</li>
</ul>

            </div>
        </div>
    </div>
 
</div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/youth-participation_rdax_400x250.jpg" alt="Picture of participants in the youth participation day" />
        
        
        
    </div>
    <h2 style="line-height:normal">Youth Participation Day</h2>

<p style="line-height:normal"><span>Our Youth Panel leads and co-ordinates our annual Youth Participation Day at the London Transport Museum.</span></p>

<p style="line-height:normal"><span>This annual event, which began in 2008, sees youth representatives taking part in interactive workshops to address key issues such as safety and security, access to employment and what actions need to be taken to reduce casualties on London's roads.</span></p>

<p style="line-height:normal"><span>More details about how to get involved will be promoted on our social media channels.</span></p>
 </div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/schools-and-young-people/index" class="heading">
                    <h2 id="sub-menu-heading">Schools & young people<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/inspire-engineering">Inspire Engineering</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/youth-involvement">Youth involvement</a></div>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources">Educational resources</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship">Safety & Citizenship</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/young-car-drivers">Young car drivers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/innovate-tfl">Innovate TfL</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How TfL engages with young people and the organisations representing them.";}
        
            
        


 