


@{ViewBag.Title = "Londoners encouraged to embrace the 'Wonderful World of Off-Peak' this summer";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Londoners encouraged to embrace the ‘Wonderful World of Off-Peak’ this summer</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Londoners encouraged to embrace the ‘Wonderful World of Off-Peak’ this summer</h1>
        <div class="content-page-press-release">
        07 August 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>&nbsp;With the summer holidays now well underway, Transport for London (TfL) has launched a new campaign encouraging Londoners and visitors to explore everything London has to offer through the 'Wonderful World of Off-Peak'.</p>

<p>Off-peak fares apply on weekdays before 06:30, between 09:30 and 15:59, and after 19:00, plus all day at weekends and on bank holidays.</p>

<p>Using pay as you go with a contactless card or Oyster, off-peak fares including Zone 1 start at &pound;2.40 and most off-peak adult Tube, DLR and London Overground fares within Zones 2-6 are just &pound;1.50. Customers can also benefit from automatic Daily capping which means that they won't pay more than the cost of the equivalent Day Travelcard regardless of the number of trips made.</p>

<p>In addition, the Mayor's Hopper fare applies all day and night, allowing Londoners to take unlimited bus and tram journeys across the capital within an hour for just &pound;1.50, with the total cost capped at &pound;4.50 for the whole day.</p>

<p>Children under 11 travel free on buses, Tube and most rail services in London with a valid Zip card and those over 60 can travel free with an 60 plus or Freedom Pass. There are also a wide range of discounted travel options available for adults.</p>

<p>To help people plan days out across London this summer, TfL has partnered with Time Out to create a new interactive cultural map of London &#45; <a href="http://www.timeout.com/culturaltflmap">www.timeout.com/culturaltflmap</a> - highlighting cultural attractions close to more than 300 stations across London. A simple click on the stations highlighted on the map will reveal museums, art galleries and even street art near each station and plan a journey to the attractions using TfL's Journey Planner.</p>

<p>The attractions also link to Time Out's curated expert content for more information and the map will be updated periodically by TfL as more attractions are added to the Time Out website to ensure they are season-specific. Attractions along the Elizabeth line will also be added later this year once the new rail line launches through central London in December 2018.</p>

<p>TfL is also expanding its existing range of cultural maps, which previously ran on the Piccadilly line and London Overground to cover all 11 Tube lines and the DLR. These will appear on the network and timeout.com from 10 August and reveal a wide range attractions, hidden gems and unknown curios across London which make for a great day out.</p>

<p>Customers using buses can also download TfL's existing leisure guides at <a href="https://tfl.gov.uk/travel-information/visiting-london/experience-london">https://tfl.gov.uk/travel-information/visiting-london/experience-london</a>, which cover a range of routes to help the whole family visit London's top attractions or explore the heritage of the capital along a single route.</p>

<p><strong>Justine Simons, Deputy Mayor for Culture and the Creative Industries, said:</strong> `It's no coincidence that four out of five visitors to London come for the culture. There is always something new to see or something exciting to discover, and our boroughs' cultural scenes are truly flourishing. These new maps are a wonderful way of highlighting just how accessible some of London's biggest attractions and hidden gems are. I'd encourage all families to take advantage of TfL's off-peak rates to get out and enjoy our capital this summer.'</p>

<p><strong>Chris MacLeod, Customer Director at Transport for London, said</strong>: `We are committed to helping people explore this great city as simply and affordably as possible. With 'turn up and go' services on bus, Tube and rail services operated by TfL, and off-peak fares in Zones 2-6 from just &pound;1.50, it's never been a better time to explore the varied and wonderful hidden treasures London has to offer.`</p>

<p><strong>James Manning, City Life Editor, Time Out said</strong>: `Time Out inspires and enables people to make the most of the city, and we are excited to bring to life the iconic Tube map as a new interactive cultural map of London. This will help people plan days out across the city and experience everything that's new cool, weird and wonderful in London.'</p>

<p><strong>Bernard Donoghue, Director of the Association of Leading Visitor Attractions said:</strong> `This is a brilliant initiative by TfL and Time Out and will really enable visitors and Londoners alike to realise how easy it is to visit the amazing array of cultural assets we have in London. The city can often be daunting but awe-inspiring to first-time visitors and this map reveals the patchwork of villages that make up the city.`</p>

<p><strong>Carol Dray, Commercial Director at VisitBritain, said</strong>: `We want visitors to London, and Britain, to feel welcome from the moment they arrive and realise what a great value destination we are. Travelling off-peak ensures visitors are comfortable on their journey as they discover the capital's wonderful attractions and hidden gems.'</p>

<p><strong>Lyn Garner, Chief Executive, London Legacy Development Corporation, said:</strong> `We're delighted that TfL and Time Out are encouraging Londoners to get out and explore our great city. Whether it's strolling through parklands and gardens, enjoying playgrounds and fountains with the kids, or taking part in one of our free Active August sports sessions, there's so much to see and do at Queen Elizabeth Olympic Park &#45; so come visit us in Zone 2 to see for yourself!'</p>

<p>For more information about how to get around London this year and make the most of your visit, go to <a href="http://tfl.gov.uk/visitinglondon">tfl.gov.uk/visitinglondon</a></p>

<p>&nbsp;Notes to editors</p>

<ul>
	<li>Copies of the new cultural maps are available via TfL's Flickr page &#45; <a href="https://www.flickr.com/photos/tflpress/albums/72157696604040292">https://www.flickr.com/photos/tflpress/albums/72157696604040292</a></li>
	<li>As well as posters and social media, TfL will also be working with Time Out to deliver an integrated content partnership for their weekly magazine and website to help encourage people to make more trips by public transport and explore the city.</li>
	<li>Oyster and contactless cards can be used for pay as you go travel on bus, Tube, tram, DLR, London Overground, TfL Rail, Emirates Air Line, River Bus and most National Rail services in London. After touching in and out on the yellow reader (touch in only on buses and trams), the fare is automatically calculated and charged to the card, with the total daily amount capped at the cost of the equivalent Day Travelcard. Customers who choose to use contactless cards will only be billed once per day regardless of the number of trips taken and therefore will only be subject to one transaction charge if applicable.</li>
	<li>TfL provides live travel information on the Tube, buses and rail services so that customers can check before they travel. For the latest in realtime advice and travel updates, please go to <a href="http://www.tfl.gov.uk/check">www.tfl.gov.uk/check</a> or use the live update services at &#64;TfLTravelAlerts, &#64;TfLTrafficNews and &#64;TfLBusAlerts on Twitter.</li>
	<li>For more information about the #LondonIsOpen campaign, please visit:<a href="http://www.london.gov.uk/press-releases/mayoral/mayor-sends-welcome-message-to-the-world">www.london.gov.uk/press-releases/mayoral/mayor-sends-welcome-message-to-the-world</a></li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-August-Londoners encouraged to embrace the ‘Wonderful World of Off-Peak’ this summer -->

 
 
        
        
            @{ViewBag.Description = "Londoners encouraged to embrace the ‘Wonderful World of Off-Peak’ this summer";}
        
        


 