


@{ViewBag.Title = "Night Tube is even bigger success than predicted, new figures show";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Night Tube is even bigger success than predicted, new figures show</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Night Tube is even bigger success than predicted, new figures show</h1>
        <div class="content-page-press-release">
        17 August 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        • Economic boost to London estimated to contribute &pound;1.54bn to London's economy over the next 10 years, according to London First and EY &#45; up from predicted &pound;1.38bn
        
    </div>



 <div class="on-this-page">
<p>New research released today, to mark the second anniversary of the Night Tube starting in the capital, has shown that the service continues to contribute millions more to the economy of London than initially projected.</p>
<p>Demand for the Night Tube grew in its second year, with 8.7 million customers using the service in 2017/18 compared to 7.8 million in 2016/17. According to a new report by London First and EY, the increase in demand has meant that Night Tube helped to generate an additional &pound;190m for London's economy last year, a contribution that has increased by almost &pound;20m from its first year of operation.<br />
The report states that the service is projected to contribute &pound;1.54bn over the next 10 years to the wider London economy. That is double the initial projections made before the service launched in August 2016. It is also supporting over 3,900 jobs, up 8.5 per cent from last year.</p>
<p>The Night Tube has been a huge success, popular with Londoners and visitors to the capital alike. Passenger numbers have been higher than expected with almost 17 million journeys so far, well above the 14 million forecast. It has allowed millions of people to get home safely, quickly and affordably at night and has cut journey times by an average of 20 minutes and, in some cases, by much more.</p>
<p>Night services now also include the Night Overground, launched in December 2017. In future TfL will consider how best to introduce a similar service on the DLR when the next operating contract is let in 2021, while the massive upgrade of the Circle, District, Hammersmith &amp; City and Metropolitan lines will facilitate a night service once the programme is fully complete in 2023. Other plans will be kept under review to see where there is demand for further night-time services.</p>
<p><strong>Sadiq Khan, the Mayor of London, said:</strong> `I am delighted to have delivered London's first-ever Night Tube for Londoners. Its first two years have been an even bigger success than we predicted - allowing more people to get home quickly and safely after a night shift, or night out with friends, but also providing a huge boost to London's night-time economy.In the past year we have also launched the Night Overground and I look forward to extending the service to more Underground lines to help even more people travel around our city more safely and quickly.'</p>
<p><strong>Mark Wild, London Underground's Managing Director, said: `</strong>The Night Tube has been a huge success and is now an essential part of London's transport network. The increase in passenger numbers shows that the demand for the Night Tube remains strong, and that it is helping to transform London into a truly 24-hour city. It has provided a significant boost to London's economy, supporting late night music venues, bars and restaurants, with all fares charged at off-peak to help make it an affordable way to travel. We look forward to building on this success in the coming years with new night time routes on the DLR and on the Circle, District, Hammersmith &amp; City and Metropolitan lines once the massive upgrade of those lines is finished.'</p>
<p><strong>Caroline Artis, Senior London Partner at EY, said:</strong> `London's night tube has been a stand out success and a great addition to the city. It has boosted London's 24 hour economy, created jobs and has helped millions of Londoner's and visitors travel for both work and leisure more quickly and reliably than ever at night.</p>
<p>`London's 24-hour economy has also made it more attractive to foreign investors, with the capital attracting the highest number of Foreign Direct Investment (FDI) projects in a decade and the leading recipient of FDI in the UK, according to EY's latest Attractiveness Survey.'</p>
<p><strong>David Lutton, economic policy director at business group London First, said:</strong> `The economic boost from the Night Tube continues to race ahead, outpacing all projections, and we're only at the beginning of London's night time potential. There's a real opportunity for the Mayor and the Night Time Czar to build on this success and help make London a truly 24-hour city, delivering billions of pounds for the economy and creating thousands more jobs.'</p>
<p><strong>Kate Nicholls, Chief Executive of UKHospitality and Chair of the Night Time Commission, said</strong>: `The new figures make welcome reading for those who supported the launch of the Night Tube and those who understand the importance of the late-night economy. The launch of the Night Tube two years ago was a serious statement of intent that London was committed to supporting this vibrant and important sector.  The convenience provided by the Night Tube not only makes London's night-time economy more attractive to customers, it also provides a valuable service to our staff members to get to and from work. For employees, this new service will have allowed them to work a shift where previously it would have been impossible. A flexible late-night hospitality sector is vitally important for London, particularly in supporting the Mayor's plan to promote a 24-hour city. When venues are battling against rising taxes and political instability, the boost provided by the Night Tube is a fantastic bonus.'</p>
<p><strong>Alan Miller, Chairman of the Night Time Industries Association, said</strong>: `The Night Tube has transformed how people can get around London on the weekends and is something that we can and should all be very proud of. Providing a much needed service for Londoners and visitors alike, The Night Tube helps business, tourism and connecting areas and people and is a part of why we at The NTIA are all singing Happy Birthday at the top of our voices!'.</p>
<p><strong>Julian Bird, Chief Executive of the Society of London Theatre, said:</strong> `The theatres of London's West End benefit hugely from any support for the night-time industry. Two years on, SOLT continues to support the Night Tube initiative, which makes it easier for everyone &#45; from audiences to performers, front of house and backstage staff &#45; to participate in London's thriving theatre scene.'</p>
<p>All fares on the Night Tube and Night Overground are off-peak, with adult journeys through Zone 1 starting from just &pound;2.40. With daily capping, customers won't pay more than the cost of the equivalent Day Travelcard regardless of the number of trips made before 04.30</p>
<p>Night Tube runs on the following lines on Friday and Saturday nights and the early hours of Saturday and Sunday mornings:<br />
o Central line - between Ealing Broadway and Loughton / Hainault<br />
o Victoria line - entire line<br />
o Jubilee line - entire line<br />
o Northern line - from High Barnet and Edgware to Morden via the Charing Cross branch<br />
o Piccadilly line - between Cockfosters and Heathrow Terminal five<br />
o Night Overground - between Highbury &amp; Islington and New Cross Gate</p>
<p>A copy of the London First and EY report is available here: <a href="https://www.londonfirst.co.uk/media/493/">https://www.londonfirst.co.uk/media/493/</a></p>
<p>Last month, TfL launched its new campaign to encourage people to &quot;Tap into the Wonderful World of Off-Peak&quot; and explore the wide range attractions, hidden gems and unknown curios across London: <a href="https://tfl.gov.uk/info-for/media/press-releases/2018/august/londoners-encouraged-to-embrace-the-wonderful-world-of-off-peak-this-summer">https://tfl.gov.uk/info-for/media/press-releases/2018/august/londoners-encouraged-to-embrace-the-wonderful-world-of-off-peak-this-summer</a></p>
<p>In partnership with Time Out, TfL has also expanded its range of cultural maps, which suggest everything from museums to parks and farms that you can visit all within a short walk or bus ride from Tube or London Overground stations: <a href="https://www.timeout.com/london/things-to-do/the-cultural-tfl-map">https://www.timeout.com/london/things-to-do/the-cultural-tfl-map</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-August-Night Tube is even bigger success than predicted, new figures show -->

 
 
        
        
            @{ViewBag.Description = "Night Tube is even bigger success than predicted, new figures show";}
        
        


 