


@{ViewBag.Title = "TfL research shows that walking or cycling to school could take 254,000 cars off London's roads each day";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL research shows that walking or cycling to school could take 254,000 cars off London’s roads each day</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL research shows that walking or cycling to school could take 254,000 cars off London’s roads each day</h1>
        <div class="content-page-press-release">
        31 August 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>As children across London return to school, the Mayor and Transport for London (TfL) are encouraging parents to help them start the school year with a new and healthy habit &#45; walking or cycling to school.</p>
<p>Research from TfL's Walking Action Plan, which aims to make London the world's most walkable city, shows that a quarter of weekday morning peak car trips are for school drop-offs, a total of 254,000 trips a day. Those cars would form a traffic jam more than 1,000km long if they were queuing single file. This increased traffic has an impact on congestion, air quality, safety and the efficiency of London's roads.</p>
<p>Walking to school benefits children's health, as eight in 10 children in London do not achieve their minimum recommended physical activity level of one hour per day. Four in 10 children in London are considered to be overweight or obese &#45; the highest levels of childhood obesity in England. As well as the health benefits, 57kg of carbon could be saved every year if every young person walked one mile to school and back, rather than being driven.</p>
<p>TfL, the Mayor and others are delivering a number of projects that promote healthy, walkable school journeys and make it easier and more appealing for parents and children to walk or cycle to school. TfL's STARS* accreditation scheme inspires young Londoners to walk, cycle and scoot to school, with more than 1,500 schools, nurseries and colleges now part of the scheme.</p>
<p>The Walking Action Plan aims to double the number of schools reaching the Gold standard under the STARS scheme, from 500 to 1,000 by 2024.  The Plan focuses on schools in areas with poor air quality, high road casualty numbers and the most active travel potential. Councils like Camden and Hackney are also piloting schemes where streets around primary schools are closed at set times in the morning and afternoon, allowing people to walk and cycle safely in a pleasant environment.</p>
<p>TfL is also transforming streets to encourage walking and cycling, ensuring people feel safe and that streets are easy to cross. Regeneration work in the City of London Corporation's Aldgate Square, which received &pound;10m from TfL's Healthy Streets funding, has transformed the area for residents and visitors. Aldgate is now home to one of the largest public spaces in the Square Mile, with new cycle lanes, pedestrian crossings and a stunning new pavilion at its centre.</p>
<p>The investment has also improved walking routes between nearby housing estates and the local school, encouraging more students to walk to school. City Corporation research has revealed that air pollution at the nearby Sir John Cass's Foundation Primary School has fallen below the legal annual limit for the first time since monitoring began in 2003 as a direct result of the improvements.</p>
<p><strong>Will Norman, London's walking and cycling commissioner, said:</strong> &quot;Being physically active sets children up for success: active kids are healthier, happier and do better at school.  Sadly, far too many children in London aren't as active as they should be. Walking, cycling and scooting to school are fun and easy ways to build more activity into the day. That's why we're determined to double the number of schools which champion active travel, enabling more London children to enjoy the benefits of leading active lives.&quot;</p>
<p><strong>Ben Plowden, Director of Surface Strategy and Network Development at TfL, said:</strong> &quot;The start of a new school year is a great opportunity for both parents and children to enjoy the benefits of walking. Walking or cycling to school gives your child time to play, exercise and enjoy their local area. There are benefits for health, wellbeing and the environment, which is why we're looking to increase the proportion of trips to primary schools made by walking from 53 to 57 per cent by 2024. This target will help ensure London has the best rates of walking to school in the country.&quot;</p>
<p><strong>Jeremy Simons, Chairman of the City of London Corporation's Environment Committee, said:</strong> &quot;Environmental work at the Sir John Cass Foundation primary school, together with removal of the Aldgate gyratory, has led to nitrogen dioxide levels within the school boundary meeting health based targets for the first time since monitoring began 15 years ago. The collaboration between the City Corporation and the school began in 2003 with the installation of a 24-hour air quality monitoring station in the playground. Both the school and the City of London Corporation have a strong commitment to improving air quality in the Square Mile and wider London.&quot;</p>
<p>Healthy Streets for London sets the framework for the Mayor's Transport Strategy, which aims for 80 per cent of journeys to be made by walking, cycling or public transport.</p>
<p>TfL's Liveable Neighbourhoods programme provides a further opportunity for boroughs to bid for funding to deliver long term projects that encourage walking, cycling and the use of public transport, in line with the Mayor's Healthy Streets Approach. The programme will provide grants of between &pound;1 million and &pound;10 million for a wide range of community-supported projects, which could include the creation of green spaces, new cycling infrastructure, redesigned junctions and the widening of walking routes to improve access to local shops, businesses and public transport.</p>
<p>Ealing, Greenwich, Hackney, Haringey, Havering, Lewisham and Waltham Forest boroughs were all successful in their initial bids last year, with projects ranging from the transformation of Greenwich Town Centre to the creation of a new traffic-free route along the former Grand Surrey Canal in Deptford.<br />
This follows on from the &pound;90 million awarded by TfL to Enfield, Kingston and Waltham Forest to create three mini-Holland boroughs. This funding has allowed the boroughs to create a network of cycle routes and improve streets and public areas, which are nearing completion.</p>
<p>* TfL's Sustainable Travel: Active, Responsible, Safe (STARS) accreditation scheme inspires young Londoners to think differently about travel and its impact on their health, wellbeing and the environment</p>
<p>The Walking action plan can be found here: <a href="https://tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/the-mayors-transport-strategy">https://tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/the-mayors-transport-strategy</a><br />
The Mayor's Transport Strategy can be found here: <a href="https://tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/the-mayors-transport-strategy">https://tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/the-mayors-transport-strategy</a> <br />
Healthy Streets for London can be found here: <a href="https://content.tfl.gov.uk/healthy-streets-for-london.pdf">https://content.tfl.gov.uk/healthy-streets-for-london.pdf</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-August-TfL research shows that walking or cycling to school could take 254,000 cars off London’s roads each day -->

 
 
        
        
            @{ViewBag.Description = "TfL research shows that walking or cycling to school could take 254,000 cars off London’s roads each day";}
        
        


 