


@{ViewBag.Title = "TfL brings forward 100 per cent affordable homes in Harrow";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL brings forward 100 per cent affordable homes in Harrow</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL brings forward 100 per cent affordable homes in Harrow</h1>
        <div class="content-page-press-release">
        28 August 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Three car parks in the borough of Harrow to be brought to market with a minimum of 400 homes, 100 per cent of which will be affordable
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is one of a number of examples of how we're working with the Mayor to transform neighbourhoods across the capital and generate hundreds of millions of pounds to plough back into the transport network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Graeme Craig</div>
            <div class="quotee-job-title">Director of Commercial Development, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Sites will be brought forward through the Mayor of London's new London Development Panel (LDP)</li>
</ul>
<p>Transport for London (TfL) has announced today that it is bringing three car parks in the London Borough of Harrow to market. The car parks at Canons Park, Rayners Lane and Stanmore Tube stations will support the creation of a minimum of 400 homes, of which 100 per cent will be affordable.</p>
<p>The sites will be brought forward using the GLA's new 'London Development Panel 2', enabling TfL to bring the sites forward sooner and alongside a partner with a sound and tangible track record of delivering housing on public sector land.  Once a partner has been appointed, TfL will start detailed design and will consult the local community before submitting a planning application in 2019/20.</p>
<p>The homes will be built alongside retail, commercial and leisure spaces as well as improved pedestrian and cycling connectivity for the local area.  TfL plans to retain commuter car parking at the three sites, and looks to build housing above. TfL will also work with the London Borough of Harrow and the selected partner to improve the step free access at Stanmore station making journeys easier for thousands of passengers.</p>
<p>Graeme Craig, Director of Commercial Development at TfL, said: </p>
<p>'Located in prime locations, immediately adjacent to Tube stations, these sites present an exciting opportunity for us to provide 100 per cent affordable homes for Londoners who desperately need them. This is one of a number of examples of how we're working with the Mayor to transform neighbourhoods across the capital and generate hundreds of millions of pounds to plough back into the transport network.'</p>
<p>Cllr Keith Ferry, Deputy Leader of Harrow Council, said: </p>
<p>'The delivery of affordable housing is a crucial part of our plans to build a better Harrow, and we welcome this initiative from TfL. The opportunity to improve step-free access at Stanmore station is particularly important to us. We look forward to working with TfL and the selected developer to make sure these developments are of good quality and improve their neighbourhoods.'</p>
<p>There is the potential to deliver at least 10,000 homes on TfL land. Since 2016, TfL has brought to market sites which can deliver almost 5,000 homes, 50 per cent of which will be genuinely affordable.  In 2018/19, it expects to bring forward sites across London offering an additional 3,000 homes,‎ half of which will again be affordable.</p>
<p>Sites are being brought to market through a number of different routes, and we are working with everyone from major developers to SMEs and Community Land Trusts. In many areas, our sites will play a key role in unlocking development and regeneration opening up new spaces, creating jobs and stimulating economic growth.&nbsp;</p>
<hr />
Notes to Editors:<br />
<ul>
    <li>Canons Park Underground Station is served by the Jubilee line and is in Zone 5. The car park currently has 169 parking bays, including five disabled bays. The area of land available for development amounts to 0.39Ha (0.96 acres).</li>
    <li>Rayners Lane Underground Station is served by the Jubilee line and Piccadilly line and is in Zone 5. The car park currently has 241 parking bays, including six disabled bays. The area of land available for development amounts to 0.97 Ha (2.38 acres).</li>
    <li>Stanmore Underground Station is served by the Jubilee line and is in Zone 5. The car park currently has 450 parking bays, including 12 disabled bays. The area of land available for development amounts to 1.51 ha (3.15 acres).</li>
    <li>An Equality Impact Assessment will be completed as part of any planning process, to ensure the appropriate number of disabled bays are made available during construction and as part of the new scheme.</li>
    <li>The GLA has contracted with 29 organisations who make up the LDP2:</li>
</ul>
<p>A2Dominion; Be Living; Bellway; Berkeley Group; Barratt; Catalyst; Countryside Durkan; Engie Consortium (Engie, HUB and Delancey); Galliford Try; Hadley Property Group; Higgins; Hill; Hyde; Lendlease; London and Quadrant Housing Trust; Morgan Sindall Consortium (Morgan Sindall, Muse and Lovell); Native Land; Notting Hill Genesis; Optivo; Peabody; Pinnacle Group; Prospect House Consortium (Stanhope, Network Homes and Laing O'Rourke); Quintain; Redrow; Swan Igloo Consortium (Swan Housing Association and Igloo); Telford Homes; U+I; United Living.</p>
<p>&nbsp;</p>
<ul>
    <li>This new LDP replaces the first London Development Panel which expired in 2017.</li>
    <li>The panel will run for a period of four years, with the potential to extend by one year.</li>
    <li>Over its four-year lifespan it is anticipated that the LDP may be used to procure up to &pound;20 billion of Development, measured in GDV.</li>
    <li>The LDP can offer:</li>
</ul>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - A faster way of selecting a development partner compared to other procurement methods;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - A comprehensive range of development services;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - New flexibilities around how Panel Members can bid in mini-competitions;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Potential cost savings through its mini-competition process and standardised set of contracts;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Use for both development and contracting opportunities in Greater London.</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-August-TfL brings forward 100 per cent affordable homes in Harrow -->

 
 
        
        
            @{ViewBag.Description = "TfL brings forward 100 per cent affordable homes in Harrow";}
        
        


 