


@{ViewBag.Title = "The Mayor, TfL and London boroughs come together to launch Quietway 2";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">The Mayor, TfL and London boroughs come together to launch Quietway 2</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>The Mayor, TfL and London boroughs come together to launch Quietway 2</h1>
        <div class="content-page-press-release">
        29 August 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Quietway 2, from Bloomsbury to Walthamstow, is the second full Quietway route to open
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London has seen a boom in the numbers of people choosing to walk and cycle and new routes such as these are essential to encouraging more people out of their cars and onto their bikes"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ben Plowden</div>
            <div class="quotee-job-title">TfL's Director of Strategy and Network Development</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>A section of Quietway 2 in west London, from Notting Hill to East Acton, is also now open</li>
    <li>Quietways have made cycling safer at 86 junctions across London and new routes have driven increases in cycling of more than 50%</li>
</ul>
<p>Quietway 2 (Q2) was officially opened today by the Mayor's Walking and Cycling Commissioner and borough leaders. The new 12km route will enable people to cycle from east London into the city centre and beyond, connecting Bloomsbury and Walthamstow via Angel, Haggerston, London Fields and Clapton.</p>
<p>Expanding London's Quietway network is a key part of the Mayor's plans to get more Londoners cycling. Being able to ride safely through London's backstreets away from busy main roads is one of the ways of enabling more people of different ages and backgrounds to cycle as part of their everyday routine. Quietways are continuous, direct and clearly signed cycle routes on less-busy streets across London. They complement fully segregated cycle routes that TfL is also building on main roads across the city.</p>
<p>Q2 is a significant addition to London's emerging cycle network. It connects with other routes including Cycle Superhighway 1 in De Beauvoir Town and Cycle Superhighway 6 in Bloomsbury, as well as forthcoming routes such as Quietway 13 at London Fields and Quietway 10 near Angel. The route forms part of a continuous cycling network as far south as Merton, as far north as Tottenham and as far west as West Acton.</p>
<p>Major improvements for cyclists and pedestrians along the route include a new signalised crossing on Queensbridge Road, traffic-filtered roads around Clapton Square and Chatham Place, a reduction in large vehicles through Dalston on Middleton Road and safer crossings of main roads including St John Street, City Road, Mare Street, Morning Lane, Lower Clapton Road and Chatsworth Road. Improvements in Walthamstow include a new pedestrian and cycle crossing at Selbourne Road and protected cycle lanes on Willow Walk.</p>
<p>The new route has been delivered in partnership with the London Boroughs of Islington, Hackney and Waltham Forest. Since 2014, cycling has increased by up to 94% in areas along the route and Q2 will help support this cycling boom.</p>
<p>TfL are working closely with boroughs across London to create over 250km of new cycling routes on streets with less traffic. To date, Quietways have made cycling safer at 86 junctions across London. The first route from Waterloo to Greenwich, Q1, saw a 54% increase in cycling after opening to the public and the proportion of women cycling along the route rose from 29% to 35%.</p>
<p>Quietway 2 West has also opened, which connects Notting Hill and East Acton via Wormwood Scrubs. New parallel zebra crossings have been built at Scrubs Lane and Mitre Way and at North Pole Road, giving cyclists priority when crossing main roads. A new traffic-free path through Wormwood Scrubs is also part of this new safer cycling route. Once the section through Westminster is completed, the full Q2 route will form a 23km continuous cycle route.</p>
<p>A further three routes have also been opened to the public recently, including:</p>
<ul>
    <li>Q5 - connecting Oval and Clapham Common</li>
    <li>Q15 - connecting Belgravia and Earl's Court</li>
    <li>Q3 - connecting Gladstone Park and Kilburn Station with improved crossing on Walm Lane and Mapesbury Road and a new cycling and walking path on Gladstone Road</li>
</ul>
<p><strong>Will Norman, London's walking and cycling commissioner, said</strong>: &quot;We're striving to get as many people as possible walking and cycling in the capital. Creating these Quietway routes to build a genuinely London-wide network is vital to give more Londoners the confidence to take to two wheels. An amazing 730,000 trips are made by bike in the capital every day and I look forward to building on that further through the Quietway routes, which have already helped to boost the numbers cycling in our city. Our focus is on ensuring that Quietways are high-quality, with low traffic volumes and speeds, enabling all ages and abilities to enjoy cycling.</p>
<p><strong>Ben Plowden, TfL's Director of Strategy and Network Development, said:</strong> &quot;London has seen a boom in the numbers of people choosing to walk and cycle and new routes such as these are essential to encouraging more people out of their cars and onto their bikes. Cycling improves health, reduces congestion and helps to cleans up London's toxic air. We will continue to work closely with the boroughs so even more Londoners can take advantage of the many benefits of cycling.&quot;</p>
<p><strong>Deputy Mayor of Hackney, Cllr Feryal Demirci, said: </strong>&quot;With more Hackney residents cycling to work than in any other London borough, we're proud to be launching Quietway 2, which has introduced a new direct link for people in Hackney to cycle into central London.</p>
<p>&quot;As part of the new route, we have introduced safer cycle crossings on Mare Street and Powerscroft Road in Hackney,  and new traffic signals at the Middleton Road and Queensbridge Road junction. These improvements are key to getting more people cycling, improving their health and cleaning up London's air in the process.&quot;</p>
<p><strong>Cllr Claudia Webbe, Islington Council's executive member for environment and transport, said:</strong> &quot;We want cycling in Islington to be as safe and simple as possible, with routes that are convenient, easy and direct, so that anybody with access to a bike can cycle.</p>
<p>&quot;Quietway 2 is a great new cycle route for new and experienced cyclists alike, providing easy access from Islington to Walthamstow, Hackney and Bloomsbury along quieter roads with less traffic and pollution. Key amongst our achievements for Quietway 2 was unlocking Owen Street, a private road, to enable better cycle and pedestrian access to an improved cycle crossing on City Road. We will continue to make the Islington section even better and look forward to working with our partners to make further improvements.&quot;</p>
<p><strong>Councillor Clyde Loakes, deputy leader and cabinet member for the environment at Waltham Forest Council, said:</strong> "The Quietways are a decent way to help more people gain confidence on their cycles along routes with less traffic, congestion and air pollution; they connect cyclists to a huge swathe of London. Quietway 2 enables people to travel into the heart of Waltham Forest, the first London Borough of Culture, and connect up with our segregated cycle routes and quieter residential streets which we have created through the mini-Holland funding.&quot;</p>
<p><strong>Kelly Clark, Head of Infrastructure Delivery, Sustrans said:</strong> &quot;It is wonderful to see Quietway 2 officially open. Working in partnership with TfL as well as the London Boroughs of Islington, Hackney, Waltham Forest, Camden and the Lea Valley Regional Park Authority, we have created a route which invites people to cycle rather than drive. It would be fantastic to see people who have previously been nervous about riding in London, dust off their bike and try out the route too.</p>
<p>&quot;By creating an environment which encourages people to walk and cycle, we can make a huge difference to all of our lives. Building active travel into our day helps us get fitter and healthier. If we drive less, the air we breathe becomes cleaner and with fewer vehicles on the road, there's less congestion so our road network becomes much more efficient, so with every Quietway that opens, that is great news for Londoners.&quot;</p>
<p>Another route through central London, Cycle Superhighway 6, will be completed later in the autumn, connecting Elephant &amp; Castle and Bloomsbury, where it links in with Quietway 2.</p>
<p>TfL is also working with the boroughs to improve cyclist and pedestrian access and reduce road danger at number of key junctions across the capital. TfL's Liveable Neighbourhoods programme provides a further opportunity for boroughs to bid for funding to deliver long term projects that encourage walking, cycling and the use of public transport, in line with the Mayor's Healthy Streets Approach.</p>
<p>The programme will provide grants of between &pound;1 million and &pound;10 million for a wide range of community-supported projects, which could include the creation of green spaces, new cycling infrastructure, redesigned junctions and the widening of walking routes to improve access to local shops, businesses and public transport.</p>
<p>This follows on from the &pound;100 million awarded by TfL to Enfield, Kingston and Waltham Forest to create three mini-Holland boroughs. This funding has allowed the boroughs to create a network of cycle routes and improve streets and public areas, which are nearing completion.</p>
<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>
<p><strong>Notes to editors</strong></p>
<ul>
    <li>Quietways are delivered by TfL and the London boroughs with funding from TfL</li>
    <li>Over 100km of Quietways have now been constructed</li>
</ul>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-August-The Mayor, TfL and London boroughs come together to launch Quietway 2 -->

 
 
        
        
            @{ViewBag.Description = "The Mayor, TfL and London boroughs come together to launch Quietway 2";}
        
        


 