


@{ViewBag.Title = "Changes to Taxi and Private Hire vehicle testing and licensing fees";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Changes to Taxi and Private Hire vehicle testing and licensing fees</h1>
        <div class="content-page-press-release">
        07 April 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The majority of fees remain frozen at 2009/10 levels.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We have taken into account the difficult economic conditions drivers are facing and, combined with the back office cost savings we are striving to make, have been able to freeze the majority of license fees this year"</div>
        <div class="quote-footer">
            <div class="quotee-name">John Mason</div>
            <div class="quotee-job-title">TfL's Director of Taxi and Private Hire</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We have taken into account the difficult economic conditions drivers are facing and, combined with the back office cost savings we are striving to make, have been able to freeze the majority of license fees this year
                            
                        </p>
                    </div>
                
            
            
            <p>The Transport for London (TfL) Board recently approved a number of changes to taxi and private hire licensing fees, the majority of which came into effect from 6 April 2010.</p>
<p>Taxi and Private Hire license fees are reviewed annually and all funds generated are used to cover licensing and administrative costs. </p>
<h2>Freeze on fees</h2>
<p>Inflationary pressures would have ordinarily justified an overall 1.4 per cent increase on most licence fees, but given the current economic climate, a freeze, and in some places a reduction on fees has been agreed.</p>
<p>The current and revised Taxi and Private Hire licensing fees are provided in the table below:&nbsp; </p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="100%" border="1">
<tbody>
<tr>
<td>&nbsp;Description</td>
<td>&nbsp;2009/10 Fee </td>
<td>&nbsp;10/11 Fee</td></tr>
<tr>
<td>&nbsp;Taxi licence application / inspection</td>
<td>&nbsp;&pound;111</td>
<td>&nbsp;&pound;101</td></tr>
<tr>
<td>&nbsp;Taxi annual licence</td>
<td>&nbsp;&pound;53</td>
<td>&nbsp;&pound;53</td></tr>
<tr>
<td>&nbsp;Taxi Inspection re-test n/a</td>
<td>&nbsp;n/a</td>
<td>&nbsp;&pound;50</td></tr>
<tr>
<td>&nbsp;Taxi driver - replacement badge</td>
<td>&nbsp;&pound;0.15 </td>
<td>&nbsp;&pound;15</td></tr>
<tr>
<td>&nbsp;Knowledge appearance - Suburban (yellow badge) taxi driver applicants</td>
<td>&nbsp;&pound;150</td>
<td>&nbsp;&pound;200</td></tr>
<tr>
<td>&nbsp;Private hire operator variation fee (removal of existing centre) </td>
<td>&nbsp;&pound;25 per centre </td>
<td>&nbsp;&pound;50 per centre</td></tr>
<tr>
<td>&nbsp;Private hire operator variation fee (addition of an operating centre)</td>
<td>&nbsp;&pound;25 per centre </td>
<td>&nbsp;&pound;200 per centre</td></tr></tbody></table></div></p>
<p>The &pound;10 reduction to the London taxi licence application and inspection fee is linked to the introduction of a &pound;50 re-test fee.&nbsp;</p>
<p>This aims to encourage more taxi drivers and vehicle owners to ensure their vehicles are in top condition and pass their annual and on-street or other inspections first time.</p>
<h2>Re-test fee </h2>
<p>There are two key reasons for introducing the re-test fee.&nbsp;</p>
<p>Firstly, the current system is unfair to vehicle owners that make the effort to ensure vehicles pass the annual inspections first time and subsidise those that don't.&nbsp;</p>
<p>Secondly, the first time pass rate remains below 40 per cent and TfL needs to use all the mechanisms available to try and increase this rate and in doing so provide the travelling public with as much reassurance as possible that they are using a safe, well maintained taxi.</p>
<p>TfL will phase the implementation of the re-test fees to allow close monitoring of the effects that this change has on the trade.&nbsp; </p>
<p>Therefore, with effect from 6 April, taxis that fail inspections for one or more of the following conditions (taken from the vehicle inspection manual) will be subject to the &pound;50 re-test fee:</p>
<p><strong>Brakes&nbsp;</strong></p><strong></strong>
<ul>
<li>Service brake performance </li>
<li>Performance of parking brake </li>
<li>Condition of mechanical brake components </li>
<li>Condition of brake pipes and hoses </li>
<li>Condition of servos, exhausters and hydraulic components </li>
<li>Anti-lock braking system (ABS)</li></ul>
<p><strong>Steering&nbsp;</strong></p>
<ul>
<li>Steering linkages </li>
<li>Steering mechanism </li>
<li>Power steering </li>
<li>Stub axles, king pin assemblies and wheel bearings</li></ul>
<p><strong>Tyres / Wheels&nbsp;</strong></p>
<ul>
<li>Rear hub bearings</li></ul>
<p><strong>Underbody&nbsp;Condition of chassis</strong></p>
<ul>
<li>Condition of chassis </li>
<li>Underpanels, sills and body mountings </li>
<li>Fuel tank and pipelines </li>
<li>Front suspension </li>
<li>Rear suspension</li></ul>
<p>For the short term, all other reasons for failure will not be subject to a re-test fee, however additional reasons will be brought in throughout 2010. </p>
<p>Updates to the list of chargeable items will be published on the <a href="http://www.tfl.gov.uk/tph ">TfL website </a>and will also be available at SGS vehicle inspection centres.</p>
<p>For private hire operators, changes to the fee structure for removing or adding operating centres will also begin from 6 April.&nbsp;</p>
<p>The fee payable for removing an operating centre from a private hire vehicle operator's licence will increase from &pound;25 to &pound;50, and the fee for adding a new centre will increase from &pound;25 to &pound;200.&nbsp;</p>
<h2>Difficult economic conditions</h2>
<p>These fees have not risen since 2001 when operator licensing began, and the revised fees more accurately reflect the significant costs to TfL of processing these licence changes.</p>
<p>John Mason, TfL's Director of Taxi and Private Hire, said: 'We have taken into account the difficult economic conditions drivers are facing and, combined with the back office cost savings we are striving to make, have been able to freeze the majority of license fees this year.&nbsp;</p>
<p>'We hope the introduction of a re-test fee will encourage all drivers to maintain their vehicles and pass the inspection first time and will stop the subsidisation of those who continually fail.'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
<p>In addition to these changes, the one-off Knowledge of London 'appearance' fee for Suburban (Yellow badge) taxi driver applicants will increase to &pound;200 to be in line with the fee for All-London (Green badge) applicants.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Transport for London's Taxi and Private Hire is responsible for licensing and regulating London's taxi and private hire services </li>
<li>Taxi fares and licence fees are reviewed annually.</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Transport for London (TfL) Board recently approved a number of changes to taxi and private hire licensing fees, the majority of which came into effect from 6 April 2010.Taxi and Private Hire license fees are reviewed annually and all funds generated";}
        
        


 