


@{ViewBag.Title = "Exit and interchange only at Oxford Circus on weekday mornings ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Exit and interchange only at Oxford Circus on weekday mornings </h1>
        <div class="content-page-press-release">
        15 April 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) is advising passengers who use Oxford Circus Tube station that vital work to replace three of the station's escalators will mean that on weekdays before 10:30, between next Monday 19 April and summer 2011.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            For safety reasons entry will be restricted before 10:30, and restrictions may also occur in the evening peak or other times if it gets too busy
                            
                        </p>
                    </div>
                
            
            
            <p>They will only be able to exit or interchange at the station.</p>
<p>The three escalators that lead up to the exits onto Argyll Street are worn out and it is essential that they be replaced.&nbsp; </p>
<p>These escalators were installed in the early 1970s into trusses dating from the First World War and were last refurbished 15 years ago.</p>
<p>The location of the escalators and space constraints mean all three will be replaced at the same time with LU engineers working round the clock to finish as quickly as possible. </p>
<h2>Essential to replace</h2>
<p>Before 10:30 on weekdays the majority of passengers at Oxford Circus want to exit or interchange so to manage congestion as a result of the reduced escalator service, the station will operate exit and interchange only at those times and passengers will not be able to enter.</p>
<p>Nigel Holness, Bakerloo, Central and Victoria lines Service Director, said: 'We apologise to customers for any inconvenience this work causes. </p>
<p>'But it is essential to replace three escalators at Oxford Circus station that are at the end of their working life. </p>
<p>'The escalators are 40 years old and we will also need to take out and replace the trusses they were installed in which date close to the beginning of the last century. </p>
<h2>For safety reasons</h2>
<p>'The majority of passengers using Oxford Circus station on weekday mornings want to exit or interchange at the station and they will still be able to do this.</p>
<p>'But for safety reasons entry will be restricted before 10:30, and restrictions may also occur in the evening peak or other times if it gets too busy. </p>
<p>'Those passengers who want to get on the Tube should use Bond Street, Piccadilly Circus or Tottenham Court Road stations instead, all of which are just a short walk away.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>LU is undertaking a major programme of renewal as part of <a href="/corporate/projectsandschemes/10127.aspx">Transport for London's Investment Programme</a>.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future </li>
<li>TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. <a href="http://www.tfl.gov.uk/tfl/livetravelnews/realtime/tube/default.html">Weekend travel news</a>&nbsp;is available online</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "They will only be able to exit or interchange at the station.The three escalators that lead up to the exits onto Argyll Street are worn out and it is essential that they be replaced.&nbsp; These escalators were installed in the early 1970s into trusses";}
        
        


 