


@{ViewBag.Title = "Impact on TfL services during threatened RMT and TSSA industrial action at Network Rail";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Impact on TfL services during threatened RMT and TSSA industrial action at Network Rail</h1>
        <div class="content-page-press-release">
        01 April 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today outlined how its services would be impacted and detailed advice for those planning to travel in London, should industrial action called by the RMT and TSSA unions at Network Rail go ahead between 6 and 9 April.
        
    </div>



 <div class="on-this-page">
<p>The vast majority of TfL services - London Underground, London Buses, Docklands Light Railway and Tramlink - will continue to operate as normal.&nbsp; </p>
<p>To help keep traffic flowing the Central London Congestion Charge will remain in operation.&nbsp;</p>
<p>TfL is also looking, where possible, to suspend road works on London's major road network and is currently liaising with utility companies and London's boroughs to encourage them to suspend non-urgent works on non-TfL roads.</p>
<p>TfL services will accept valid London Overground, National Rail-only season tickets and Travelcards by any reasonable route.</p>
<p>A service will operate on many rail routes into the Capital.&nbsp;</p>
<p>The train operating companies have published timetables available&nbsp;on the <a title="National Rail" href="http://www.nationalrail.co.uk.">National Rail website</a>.&nbsp;TfL also advised Londoners and commuters to <a title="Check before you travel" href="http://www.tfl.gov.uk ">check before you travel</a>&nbsp;on the TfL website and via London media and travel bulletins. Passengers should plan ahead and allow more time to complete their journeys.</p>
<p>However, some services on London Underground and London Overground will be directly affected as they run on track and signals maintained and operated by Network Rail, as follows:</p><strong>
<h2>London Underground</h2></strong>
<p>We expect the following services to ONLY OPERATE between approximately 07:15 and 18:30 hours:</p>
<ul>
<li>Bakerloo line - a limited shuttle service between Queen's Park and Harrow &amp; Wealdstone (the rest of the line from Queen's Park to Elephant &amp; Castle will operate normally throughout the day) </li>
<li>District line - Turnham Green to Richmond and Putney Bridge to Wimbledon, where it is anticipated that services will operate normally during these times</li></ul><strong>
<h2>London Overground</h2></strong>
<p>The following London Overground services will NOT operate:</p>
<ul>
<li>Clapham Junction to Willesden Junction </li>
<li>Richmond to Gospel Oak</li>
<li>Gospel Oak to Barking</li></ul>
<p>London Overground services between London Euston and Watford Junction are expected to operate between approximately 07:15 and 18:15 hours. </p>
<p>It is anticipated that the advertised timetable will operate during these times:</p>
<ul>
<li>First trains: 07:17 from Euston; 07:20 from Watford Junction </li>
<li>Last trains: 17:57 from Euston; 18:01 from Watford Junction</li></ul>
<p>London Overground is currently suspended every day until 1 June between Gospel Oak and Stratford for major upgrade works. </p>
<p>Replacement buses will continue to operate between Hampstead Heath and Stratford calling at all affected stations except Caledonian Road &amp; Barnsbury station.</p>
<p>Transport staff across the Capital will be doing their very best to keep London moving and passengers are asked to be patient where services are busier than normal or journeys take longer than expected.</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The vast majority of TfL services - London Underground, London Buses, Docklands Light Railway and Tramlink - will continue to operate as normal.&nbsp; To help keep traffic flowing the Central London Congestion Charge will remain in operation.&nbsp;TfL is";}
        
        


 