


@{ViewBag.Title = "Increased capacity to improve school journeys on route 463";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Increased capacity to improve school journeys on route 463</h1>
        <div class="content-page-press-release">
        13 April 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London is making some improvements to the additional schoolday services on route 463, from Monday 19 April.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The introduction of double deck buses for the extra school day journeys on route 463 will benefit local pupils and other passengers who use the service during the busy school hours"</div>
        <div class="quote-footer">
            <div class="quotee-name">John Barry</div>
            <div class="quotee-job-title">Head of Network Development for London Buses</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The introduction of double deck buses for the extra school day journeys on route 463 will benefit local pupils and other passengers who use the service during the busy school hours
                            
                        </p>
                    </div>
                
            
            
            <p>Double deck buses will operate the additional morning school journey from Coulsdon South to Beddington and the additional afternoon school journey from Beddington to Coulsdon South. </p>
<p>Single deck buses will continue to be used for the other journeys on the route.</p>
<p>Following a route test, both the morning and the afternoon double-deck journeys will run clockwise around the Clockhouse loop and they will use Hillcrest Parade instead of the easternmost end of The Mount. </p>
<p>The roads on the loop are St Andrew's Road, Lyndhurst Road, Winifred Road, Whitethorn Road, Hillcrest Parade and Grove Lane. </p>
<p>All other journeys will be unchanged.</p>
<p>John Barry, Head of Network Development for London Buses, said: 'The introduction of double deck buses for the extra school day journeys on route 463 will benefit local pupils and other passengers who use the service during the busy school hours.'</p>
<p>This improvement follows a series of recent enhancements, including a new Sunday service, an extension to Coulsdon South Station and a better service in the Pollards Hill area.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>1.&nbsp;Route 463 runs between Coulsdon South and Pollards Hill via Clockhouse, Wallington and Beddington. The extra journeys operate on schooldays over the southern end of the route, between Coulsdon South and Beddington</li>
<li>TfL has launched a new online bus tool that provides passengers with even better travel information on local bus routes across London. Information on planned disruptions along a bus route is provided when searching for specific bus routes.&nbsp;The London Buses tool can be accessed at: <a href="http://www.tfl.gov.uk/busmaps">www.tfl.gov.uk/busmaps</a></li>
<li>TfL's other travel tools can be accessed at: <a href="http://www.tfl.gov.uk/traveltools">www.tfl.gov.uk/traveltools</a>&nbsp; <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Double deck buses will operate the additional morning school journey from Coulsdon South to Beddington and the additional afternoon school journey from Beddington to Coulsdon South. Single deck buses will continue to be used for the other journeys on the";}
        
        


 