


@{ViewBag.Title = "Keep on running on Marathon Sunday with Transport for London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Keep on running on Marathon Sunday with Transport for London</h1>
        <div class="content-page-press-release">
        15 April 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Spectators and Londoners are encouraged to use Transport for London's (TfL's) range of Travel Tools on Marathon Sunday to plan their journeys and get real-time travel information by visiting www.tfl.gov.uk
        
    </div>



 <div class="on-this-page">
<p>Marathon fever is set to hit London's streets with the Virgin London Marathon taking place on Sunday 25 April. </p>
<p>World-class athletes, celebrities and thousands of others are expected to take part in the 30th London Marathon raising millions of pounds for charities along the way.&nbsp; </p>
<p>With hundreds of thousands of supporters set to line the streets of London, TfL will be working to keep the Capital running.</p>
<p>With 20 London Underground&nbsp;(LU) and Docklands Light Railway (DLR) stations located along the route, the Tube and DLR remain the best way for spectators to get up close to see the action. </p>
<p>The DLR this year launched their new three car trains, increasing capacity on the Bank to Lewisham route, the DLR's busiest, by up to 50 per cent.</p>
<p>This means that, with longer DLR trains, even more people will be able to travel on the service to see and take part in the race. </p>
<p>Free travel will be provided to all runners and officials on the DLR and the Tube on race day until 5pm by showing an official Marathon tabard or race number. </p>
<p>Some road diversions and closures will need to be put in place for short periods while the race passes through.</p>
<p><a href="http://www.tfl.gov.uk/tfl/gettingaround/londonmarathon/default.aspx ">A leaflet</a> highlighting how to get to various stages of the course by public transport has been produced by TfL and is available online and from all LU stations. </p>
<p>Spectators can also get up to the minute travel information by contacting TfL travel information on 0843 222 1234.</p>
<h2>Road closures</h2>
<p>The route and approach roads south of the Thames between Blackheath and Deptford will close, together with Victoria Embankment between Bridge Street and Northumberland Avenue, Westminster Bridge (both directions) and Bridge Street from 07:00.</p>
<p>Remaining roads from Deptford and north of the Thames including approach roads will close from 08:00.</p>
<p>A staggered road reopening programme will be in force throughout the day starting at approximately 11:00. </p>
<p>Roads are expected to be fully reopened by 19:00. </p>
<h2>London Buses</h2>
<p>Buses travelling down roads affected by the London Marathon will either be diverted or will not run the full length of their route until later in the day. </p>
<p>Routes affected by the London Marathon are:</p>
<p>1, 3, 11, 12, 15, 15, 24, 25, 29, 42, 47, 51, 53, 54, 78, 87, 88, 89, 91, 96, 99, 100, 108, 115, 122, 129, 132, 148, 159, 161, 177, 178, 180, 188, 199, 202, 211, 225, 244, 277, 286, 291, 341, 343, 344, 380, 381, 386, 422, 453, 469, 472, 486, 507, C10, D3, D6, D7, D8, P12, RV1 plus East London line replacement bus services.</p>
<p>Route diversions south of the river are expected to be finished by 13:00. </p>
<p>Route diversions north of the river are expected to finish by 19:00. </p>
<h2>London Underground</h2>
<p>On Marathon Sunday, some track improvement work is planned on London Underground, which may affect your journey. </p>
<p>On the Bakerloo line the entire line will be suspended. </p>
<p>On the Circle and District lines, Blackfriars station is closed for station rebuilding works.</p>
<p>Customers are advised to use Mansion House or Temple stations and complete their journey above ground.</p>
<p>Cannon Street will also be closed on Sunday as usual.</p>
<p>Customers are advised to change onto the District line to complete their journey.</p>
<p>The Northern line will be suspended between Kennington and Morden. A replacement bus service will call at all affected stations. </p>
<p>On the Victoria and Northern lines, Warren Street station will be closed for station improvement works. </p>
<p>Customers are advised to use local buses or walk to an alternative station to complete their route.</p>
<p>On the Piccadilly and District lines eastbound trains will not stop at Ealing Common and the Metropolitan line will be suspended between Wembley Park and Rayners Lane and between Wembley Park and Northwood. </p>
<p>A replacement bus service will call at all affected stations. </p>
<h2>Docklands Light Railway</h2>Trains will run as frequently as every two and a half minutes and connect with Tower Hill, Canning Town, Canary Wharf and Stratford Tube stations. 
<h2>London Overground</h2>
<p>The following London Overground services will NOT operate on Sunday 26 April due to planned upgrade works: Clapham Junction to Willesden Junction;&nbsp;Richmond to Stratford; and&nbsp;Gospel Oak to Barking.</p>
<p>London Overground services between London Euston and Watford Junction will operate as normal.</p>
<p>Rail replacement bus services will be in operation throughout the London Overground network. </p>
<h2>London River Services</h2>
<p>To see more of the race, board a river bus at Greenwich to Canary Wharf, Tower Millennium, London Bridge or Embankment Piers.&nbsp;Timetables are available at LU stations, TfL piers or online at <a href="http://www.tfl.gov.uk/river">www.tfl.gov.uk/river</a>&nbsp;</p>
<h2>Cycling and walking</h2>
<p>If the weather is nice on Marathon Sunday, why not walk or cycle to the race? Plan your journey to the marathon on foot or by bike <br>by visiting <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a><br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Stations located close to the London Marathon Route include:&nbsp; 
<ul type="circle">
<li>Cutty Sark DLR (Mile 6+7) </li>
<li>Canada Water (Mile 9) </li>
<li>London Bridge (Mile 12) </li>
<li>Tower Hill/ Tower Gateway (Mile 13) </li>
<li>Shadwell DLR (Mile 13+22) </li>
<li>Canary Wharf (Between Mile 14+15) </li>
<li>Limehouse (Mile 14) </li>
<li>Charing Cross (Mile 24) </li>
<li>Crossharbour DLR (Mile 18) </li>
<li>Monument (Mile 23) </li>
<li>Mansion House (Mile 23+24) </li>
<li>Temple (Mile 23+24) </li>
<li>Embankment (Mile 25) </li>
<li>Green Park / St James's Park (Finish Line)</li></ul></li>
<li>24 hour travel information on public transport in London is available by calling 0843 222 1234 or by visiting <a href="http://www.tfl.gov.uk/realtime">www.tfl.gov.uk/realtime</a> </li>
<li>TfL's range of Travel Tools help passengers plan journeys, get travel information on the move and work out the safest way home <a href="http://www.tfl.gov.uk/traveltools">www.tfl.gov.uk/traveltools</a>&nbsp; </li>
<li>For free mobile and email alerts to keep them up to date on all TfL services they can sign up at: <a href="http://www.tfl.gov.uk/mobile">www.tfl.gov.uk/mobile</a> </li>
<li>The course of the London Marathon is 26.2 miles long, virtually the same as running the entire length of the Victoria line (13.25 miles) twice </li>
<li>In 2009, around 35,000 runners completed the London Marathon, enough people to fill 389 double-deck buses</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Marathon fever is set to hit London's streets with the Virgin London Marathon taking place on Sunday 25 April. World-class athletes, celebrities and thousands of others are expected to take part in the 30th London Marathon raising millions of pounds for";}
        
        


 