


@{ViewBag.Title = "London Underground awards power upgrade contract for Sub-Surface Railway";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground awards power upgrade contract for Sub-Surface Railway</h1>
        <div class="content-page-press-release">
        09 April 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New contract to support essential part of Circle and District upgrade
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The power upgrade is essential so that we can run more new, sophisticated trains and new signalling"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Waboso</div>
            <div class="quotee-job-title">LU's Line Upgrades Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The power upgrade is essential so that we can run more new, sophisticated trains and new signalling
                            
                        </p>
                    </div>
                
            
            
            <p>London Underground (LU) announced today that EDF Energy has been awarded a major contract for the second stage of the LU Sub-Surface Railway power upgrade.</p>
<p>It is anticipated that the three-year, multi-million pound contract will be completed by 2013, with the main focus of works relating to the Circle and District lines. </p>
<p>There will also be some works on the Metropolitan and Hammersmith &amp; City lines. </p>
<h2>Sophisticated trains</h2>
<p>Contract works will relate to the design, construction and commissioning of substation electrification upgrades at 20 locations and includes associated tunnel cabling and protection systems.</p>
<p>David Waboso, LU's Line Upgrades Director, said: 'About three-and-half million passengers use the Tube every weekday and this will increase in the future which is why we are upgrading the Underground network with larger modern stations and larger new trains. </p>
<p>'The power upgrade is essential so that we can run more new, sophisticated trains and new signalling.</p>
<p>'A fleet of 191 new air-conditioned walk-through trains will be coming on the sub-surface railway, with the first train in passenger service on the Metropolitan line from this summer.&nbsp; </p>
<h2>Significant capacity increases </h2>
<p>'The first of the longer trains, with seven carriages instead of six, are scheduled to be delivered to London Underground in late 2011, before the fleet is introduced into service on the Circle and Hammersmith &amp; City lines in 2012.&nbsp;<br>&nbsp;<br>'The Sub-Surface lines cover over 300 km of track and serves around 40 per cent of the Tube network.</p>
<p>'The upgrade will deliver significant increases in capacity including 65 per cent on the Circle and Hammersmith &amp; City lines, 24 per cent on the District line and 27 per cent on the Metropolitan line.'</p>
<p>Jean-Noel Reimeringer, EDF Energy's director of infrastructure services, said: 'EDF Energy is delighted to have been successful in winning this very important contract. </p>
<h2>Better service</h2>
<p>'Our experience and expertise in the rail industry has proved crucial.</p>
<p>'We will work closely with LU to ensure an even better service for passengers.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>LU is undertaking a major programme of renewal as part of Transport for London's (TfL's) Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;TfL is urging all Londoners and Tube, London Overground, London Tramlink and Docklands Light Railway passengers to <a href="http://www.tfl.gov.uk/tfl/livetravelnews/realtime/tube/default.html">check online before travelling</a> at weekends and allowing extra journey time where necessary </li>
<li>EDF Energy is one of the UK's largest energy companies, producing around a fifth of the nation's electricity from its nuclear, coal and gas power stations, as well as combined heat and power plants and wind farms. The company provides power to a quarter of the UK's population via its electricity distribution networks and supplies gas and electricity to more than 5.5 million business and residential customers. It is the number one supplier of electricity to major business in the UK</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground (LU) announced today that EDF Energy has been awarded a major contract for the second stage of the LU Sub-Surface Railway power upgrade.It is anticipated that the three-year, multi-million pound contract will be completed by 2013, with";}
        
        


 