


@{ViewBag.Title = "London Underground achieves Carbon Trust Standard";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground achieves Carbon Trust Standard</h1>
        <div class="content-page-press-release">
        16 April 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) has become one of the first public transport operators to achieve the Carbon Trust Standard, in recognition of its work and results and ongoing commitment to improve its carbon efficiency.
        
    </div>



 <div class="on-this-page">
<p>The Standard has been awarded to LU based on actions and achievements over the last three years (from 2006 to 2009) as well LU's plans to reduce carbon emissions in the future. </p>
<p>Great strides have already been made. </p>
<p>LU's Energy Station Challenge, a staff-led scheme, came in for particular praise. </p>
<p>It is estimated that this initiative will have reduced CO2 emissions by 5,500 tonnes in the last three years, saving approximately &pound;700,000. </p>
<p>The use of regenerative braking on new trains on the Victoria and sub-surface lines (Circle, District, Hammersmith &amp; City and Metropolitan ) will save an estimated 17,000 tonnes of CO2 every year with a financial saving of approximately &pound;2m.</p>
<h2>Reducing emmisions</h2>
<p>Additionally, energy efficient lighting including Light Emitting Diode (LED) technology has been installed at several stations across the Underground network and the new Northern line service control centre boasts London's largest single membrane green roof,&nbsp; the first on a railway building.</p>
<p>John Ball, Director of Strategy and Service Development, LU, said: 'The Tube is one of the largest consumers of electricity in the country but it is also one of the most carbon efficient forms of transport. </p>
<p>'Achieving the Carbon Trust Standard is a testament to the work that LU staff have put in to reducing the Tube's carbon intensity.&nbsp; </p>
<p>'This is a great foundation on which to pursue further reductions in our carbon footprint while we work to upgrade the Tube and support the Mayor of London's targets to become more energy efficient, save money and reduce the capital's emissions by 60 per cent by 2025.'</p>
<p>LU achieved the Standard due to its improvements in carbon efficiency over the last three years with an improvement in the amount of CO2 released per passenger kilometre from 81g in 2006/7 reduced to 75g in 2008/9. <br></p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<p>About LU</p>
<ul>
<li>LU established a Climate Change Strategy Team in 2007 dedicated to reducing the Tube's carbon footprint</li>
<li>It is now mandatory for all LU projects to complete a Carbon &amp; Energy Impact Assessment during their development</li>
<li>The Tube is the oldest metro system in the world, the first part running from Farringdon to Paddington was built in 1863</li>
<li>Number of miles/km travelled by each Tube train each year: 76,800 miles/123,600km</li>
<li>Length of network: 402km/249 miles</li>
<li>Proportion of the network which is in tunnels: 45 per cent</li>
<li>Total number of stations served: 270</li>
<li>Total number of stations owned and managed: 260</li>
<li>LU has been known as the Tube since 1890, when the first deep-level electric railway line was opened</li></ul>
<p>The Carbon Trust Standard</p>
<ul>
<li>All businesses and organisations, both in the UK and internationally, are eligible to apply for the Carbon Trust Standard including FTSEs, mid caps, SMEs and public sector organisations. Organisations that are awarded the Carbon Trust Standard hold it for a two-year period and to maintain the certification they must reapply and demonstrate that they have continued to make year-on-year reductions in their carbon emissions</li>
<li>Organisations wanting information about <a href="http://www.carbontruststandard.com">getting the Carbon Trust Standard </a>can call: 0800 019 1443</li>
<li><a href="http://www.carbontruststandard.com/UsingtheStandard/CurrentStandardBearers.aspx">Organisations that are certified with the Carbon Trust Standard </a>are listed</li>
<li>Through a commitment to continually reducing their carbon footprint, Carbon Trust Standard achievers have together cut their emissions by 2 million tonnes of CO2</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Standard has been awarded to LU based on actions and achievements over the last three years (from 2006 to 2009) as well LU's plans to reduce carbon emissions in the future. Great strides have already been made. LU's Energy Station Challenge, a";}
        
        


 