


@{ViewBag.Title = "London Underground's got talent";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground's got talent</h1>
        <div class="content-page-press-release">
        29 April 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Tube busking scheme invites musicians to audition for busking licence. Licences available for a limited time only.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The licensed busking scheme has been a great success with both passengers and buskers alike and offers musicians a great environment in which to busk, while also entertaining our customers as they travel on the Tube"</div>
        <div class="quote-footer">
            <div class="quotee-name">Richard Parry</div>
            <div class="quotee-job-title">Director at London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The licensed busking scheme has been a great success with both passengers and buskers alike and offers musicians a great environment in which to busk, while also entertaining our customers as they travel on the Tube
                            
                        </p>
                    </div>
                
            
            
            <p>London Underground is calling for talented musicians to audition for much sought after licences which will allow performers to busk at Tube stations across the Capital. </p>
<p>It is the first time in two years that spaces have become available.</p>
<h2>Perform to millions</h2>
<p>The licences, which are available for a limited time only, offer musicians a great opportunity to showcase their talent to the millions of&nbsp;passengers who travel on the Tube everyday. </p>
<p>The auditions, which start at the end of May, will be judged by a panel of LU staff and professionals from the music industry and record labels, who will be looking for gifted musicians with a wide range of songs. </p>
<p>Performers will be marked on their presentation, musical ability, repertoire and originality. </p>
<p>The licensed busking scheme currently includes 38 busking pitches, which are like mini-stages for musicians, in 25 different stations. </p>
<p>LU has already received around 700 prospective enquiries about future auditions. </p>
<h2>Showcase your talent</h2>
<p>Richard Parry, Director at London Underground, said: 'The licensed busking scheme has been a great success with both passengers and buskers alike and offers musicians a great environment in which to busk, while also entertaining our customers as they travel on the Tube. </p>
<p>'It is a real opportunity for musicians to showcase their talent and we would encourage them to apply while spaces remain open.'</p>
<p>Along with the upcoming auditions, LU is open for sponsorship offers for the busking scheme. </p>
<p>Sponsoring our licensed busking scheme will provide the sponsor with a range of marketing and PR opportunities as well as the possibility to align their brands with this established Underground music culture. </p>
<p>Previous sponsors of the busking scheme include Coca Cola, Carling, Capital 95.8 and thelondonpaper.</p>
<p>Anyone wishing to apply for a license must complete and return an application form by no later than midday on 14 May 2010. Applications are now available and can be <a title="Busking" href="/corporate/projectsandschemes/2435.aspx">downloaded from our website</a>. </p>
<p>Auditions will take place every Thursday and Friday between 27 May and 2 July and licenses will be issued to successful applicants after the completion of the auditions. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong></p><strong></strong>
<ul>
<li>Around three and a half to four million passenger journeys are made every weekday on the Tube - that's as many as on the entire National Rail network </li>
<li>London Underground is undertaking a major programme of renewal as part of Transport for London's Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;TfL is urging all Londoners and Tube, London Overground and DLR passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> </li>
<li>The licensed Underground busking scheme was launched in 2003 by London Underground. Before this busking was illegal and completely unregulated. Thanks to London Underground the scheme is now a licensed scheme and is very popular with our customers</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground is calling for talented musicians to audition for much sought after licences which will allow performers to busk at Tube stations across the Capital. It is the first time in two years that spaces have become available.Perform to";}
        
        


 