


@{ViewBag.Title = "Mayor and TfL demand that Tube Lines' plans be put to private finance test";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor and TfL demand that Tube Lines' plans be put to private finance test</h1>
        <div class="content-page-press-release">
        09 April 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Tube Lines and shareholders, Ferrovial and Bechtel, must demonstrate plans are robust and prove Tube Lines is creditworthy.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Arbiter has ruled that the costs should be &pound;4.46bn, thus demonstrating that Tube Lines' original demand for &pound;6.8bn was simply scandalous"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Arbiter has ruled that the costs should be &pound;4.46bn, thus demonstrating that Tube Lines' original demand for &pound;6.8bn was simply scandalous
                            
                        </p>
                    </div>
                
            
            
            <p>Arbiter's proposed approach means Londoners and taxpayers being asked to 'write blank cheque', so risking 'good money going after bad'.</p>
<p>Arbiter's directions on PPP finance may leave 'no alternative' but Judicial Review.</p>
<p>Mayor of London, Boris Johnson and Transport for London (TfL) today called on the Arbiter of the London Underground (LU) Public Private Partnership (PPP) contracts, Chris Bolt, to direct that Tube Lines and its shareholders, Ferrovial and Bechtel, must seek private finance to plug a PPP funding gap.&nbsp; </p>
<h2>Credible plan</h2>
<p>The call was made as the Mayor, TfL and LU delivered their representations to the PPP Arbiter in response to his Draft Directions on PPP finance, published on 10 March. </p>
<p>Requiring Tube Lines to raise private finance is a vital step in determining whether or not the PPP firm has a 'credible plan' for delivering the future upgrade of the Tube before further public funds are committed.&nbsp;&nbsp;</p>
<p>Without such a robust assessment of its plan, the Mayor and TfL made clear that London's fare and taxpayers were being asked to 'write a blank cheque to prop up Tube Lines', which is running up to 10 months late in its delivery of the Jubilee line upgrade and is also behind schedule on the upgrade of the Northern line.</p>
<p>Tube Lines must find several hundred million pounds to cover the costs of their delays and massive cost overruns on the Jubilee and Northern line upgrades.&nbsp; </p>
<h2>Effective oversight</h2>
<p>However, the Mayor and TfL fear that public funds designed for upgrade works during the PPP Second Period could be used by Tube Lines and its shareholders, Ferrovial and Bechtel, to cover this shortfall from the PPP First Period, and could therefore be lost entirely if Tube Lines proves not to be financially viable.&nbsp; </p>
<p>To protect against this, the Mayor and TfL have demanded the Arbiter take steps to ensure he does not front-load payments to Tube Lines in the early years of the Second Period.&nbsp; </p>
<p>Also, that he ensures effective oversight and monitoring of a credible Tube Lines plan, so that London's taxpayers' and fare payers' money is used only to fulfil the future Tube improvements promised. </p>
<p>The Mayor also demanded an end to massive payments to Tube Lines shareholders, Ferrovial and Bechtel, totalling hundreds of millions of pounds over and above the fair market rate, particularly in the light of their failure to deliver Tube improvements on time. </p>

<p>Furthermore, if the PPP Arbiter maintains his stance that LU - and not Tube Lines and its shareholders - should be required to raise finance to close the PPP funding gap, the Mayor said that TfL could have 'no alternative' but to seek a Judicial Review. </p>
<h2>Simply scandalous</h2>
<p>Mayor of London, Boris Johnson, said: 'The Arbiter has ruled that the costs should be &pound;4.46bn, thus demonstrating that Tube Lines' original demand for &pound;6.8bn was simply scandalous.&nbsp; </p>
<p>'Yet now Tube Lines is not even being required to demonstrate it has a credible plan for delivering at the Arbiter's price.</p>
<p>'Simply put, we are being asked to write a blank cheque in order to prop up Tube Lines, and to guarantee massive payments totalling hundreds of millions to its shareholders, Ferrovial and Bechtel.&nbsp;</p>
<p>'This approach risks throwing good money after bad.</p>
<p>'The Tube upgrades promised to Londoners are now threatened.&nbsp;</p>
<h2>Grow and prosper</h2>
<p>'The PPP is letting London down and we will fight this to the last.&nbsp; </p>
<p>'It is clear to me that unless the Arbiter reviews his original decisions on how the PPP should be financed, TfL may have no alternative but to seek a Judicial Review.'</p>
<p>LU Managing Director Mike Brown said: 'The vital upgrade of the Tube will deliver the greater capacity and reliability we need to enable London to continue to grow and prosper. </p>
<p>'We are making great progress in transforming the Tube.</p>
<p>'The Victoria line upgrade, which is being delivered by London Underground, is on track and on time, new air-conditioned trains have arrived in London and in each of the last four years we have carried more than one billion customers, the highest number in the history of London Underground. </p>
<h2>Put to the test</h2>
<p>'Conversely, the Jubilee and Northern line upgrades are seriously delayed and over budget as a result of Tube Lines' failure to deliver, a fact now confirmed by both the PPP Arbiter and an independent QC earlier this year.</p>
<p>'It is essential that Tube Lines and its shareholders, Ferrovial and Bechtel, are now called upon to set out in full their plan to deliver the full scope of works for &pound;4.46bn, fully &pound;1.3bn less than the final cost they claimed.&nbsp; </p>
<p>'Also, that this plan is put to the test that would be applied by potential lenders, as the PPP always envisaged.</p>
<p>'What remains important, above all else, is that the vital Tube upgrade programme - the fundamental purpose of the PPP - is delivered, to support London's future prosperity and growth.'</p>
<p>
<hr>

<p>
<p>Notes to editors:</p>
<ul>
<li>LU is part of TfL </li>
<li>Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines </li>
<li>The remaining LU lines were to have been maintained and upgraded by Metronet Rail, which went into PPP Administration in July 2007.&nbsp;The businesses subsequently transferred to TfL </li>
<li>Summary of Mayor and TfL's position on PPP Arbiter's Final Directions on Costs and Draft Directions on Finance:&nbsp;&nbsp; 
<ul type="circle">
<li>The PPP Arbiter's Final Costs Directions confirmed that the economic and efficient price for maintaining and upgrading the JNP lines over PPP Second Period, the seven-and-a-half years from mid-2010 to 2017, should be &pound;4.46bn, a rise of only around one per cent on his Draft Directions published in December.&nbsp;The Final Costs remain much less than the &pound;6.8bn originally sought by private PPP contractor Tube Lines and its shareholders, Ferrovial and Bechtel, and around &pound;1.3bn less than their final &pound;5.75bn demand.&nbsp;However, Tube Lines and its shareholders, Ferrovial and Bechtel, have yet to demonstrate a credible plan for how they will deliver for the &pound;4.46bn price </li>
<li>While the Arbiter's Final Directions are a welcome endorsement of LU's evaluation of the costs, rather than Tube Lines', they nevertheless confirm a price above LU's &pound;4bn budgeted cost which, when inflation and other matters are taken into account, means a funding gap over the Second Period of around &pound;600m.&nbsp;However, rather than demanding that Tube Lines demonstrate it can raise the finance required to complete the Tube upgrades in full, as the PPP originally intended, the Arbiter suggests that LU should either cut-back on the Tube improvements promised to Londoners or simply provide more public funds without any effective scrutiny of Tube Lines' future plans </li>
<li>The Mayor and TfL strongly believe that Tube Lines and its shareholders, Ferrovial and Bechtel, should be required to demonstrate to prospective lenders that, going forward, it is robust and creditworthy.&nbsp;Furthermore, the willingness of Ferrovial and Bechtel or other parties to commit additional equity to Tube Lines would be a demonstration of their continuing belief in Tube Lines as a viable future business, capable of financing and delivering on its commitments at the price set by the PPP Arbiter.&nbsp;Such a step is vital to ensure the rigorous scrutiny of Tube Lines future plans by the financial markets and protect London's taxpayers and farepayers by transferring risk from the public to the private sector, which the PPP was intended to enshrine</li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Arbiter's proposed approach means Londoners and taxpayers being asked to 'write blank cheque', so risking 'good money going after bad'.Arbiter's directions on PPP finance may leave 'no alternative' but Judicial Review.Mayor of London, Boris Johnson and";}
        
        


 