


@{ViewBag.Title = "New era of rail travel as London Overground's east London route opens to the public";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New era of rail travel as London Overground's east London route opens to the public</h1>
        <div class="content-page-press-release">
        27 April 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The &pound;1bn upgrade gives a huge boost to east London and north-south rail links with new stations and fast, reliable journeys. Latest piece of 2012 infrastructure delivered ahead of schedule and on budget.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This new railway will bring jobs and opportunities to communities up and down the line
                            
                        </p>
                    </div>
                
            
            
            <p>A new era of rail travel for the Capital began today as the Mayor of London and Chair of Transport for London (TfL), Boris Johnson, opened the first section of London Overground's new &pound;1bn east London route, delivered early and on budget.</p>
<p>The railway, which builds on and extends the old East London line, will give Londoners fast and reliable cross-river rail journeys in a fleet of new air-conditioned trains running from Dalston Junction in the north via the City and Docklands to New Cross, Crystal Palace and West Croydon in the south. </p>
<p>It will support the regeneration of some of London's poorest boroughs and provide access to jobs, education and leisure opportunities for many who were not previously well connected to the city's transport network.</p>
<p>The line will open at first under 'preview running' status which will offer a limited service of eight trains per hour from 7:00 till 20:00, Monday to Friday, from Dalston Junction to New Cross Gate stations. </p>
<h2>More opportunities</h2>
<p>On 23 May, a full service will start operating from Dalston Junction to West Croydon. </p>
<p>Every station will be staffed while the trains are running.</p>
<p>The new London Overground line delivers:</p>
<ul>
<li>A brand new fleet of 20 walk-through and air-conditioned Class 378 Electrostar trains with a capacity of 494 each, carrying some 100,000 passengers a day in year one. Each has driver-monitored CCTV, wider doors and gangways, and wheelchair spaces. A further 13 trains will join the fleet by 2012 </li>
<li>Four new bright, modern and fully-accessible stations for Hackney, which also feature state-of-the-art audio-visual customer communications and CCTV. The stations at Dalston Junction, Haggerston, Hoxton and Shoreditch High Street put the borough on the Tube map for the first time </li>
<li>Fourteen refurbished stations with upgraded CCTV, passenger information systems and lighting, with staff on duty at all times when trains are running </li>
<li>A key component of the 2012 Olympic and Paralympic Games transport network, delivered early and on budget</li></ul>
<p>Mayor of London Boris Johnson, said: 'This new railway will bring jobs and opportunities to communities up and down the line, massively improving access for hundreds of thousands of people.</p>
<h2>Transformational project</h2>
<p>'In this &pound;1bn upgrade, the old has been fused with the best of the new&nbsp;- the Victorian genius of Brunel's tunnel under the Thames now comprises part of a network of almost space-age stations, which will soon form an orbital railway around the Capital.</p>
<p>'This type of investment is essential if London, throwing off the shackles of recession, is to emerge with the ability to grow, prosper, and secure its position at the summit of world cities, to the benefit of all Londoners.'</p>
<p>Transport Commissioner Peter Hendy, said: 'Not since the Jubilee line was extended over ten years ago have we seen such a transformational transport project delivered in London. </p>
<p>'The new east London route has been eagerly awaited by people who live in, work in and visit the areas it serves. </p>
<p>'It delivers four new London Overground stations and a huge increase in the number of travel possibilities to residents and travellers in a single day. </p>
<p>'It is also an important part of the 2012 transport network and has been delivered ahead of schedule and on budget.<br>&nbsp;<br>'The new East London line is about connecting communities, north and south of the river, as much as it is about linking east London firmly with the wider London rail and Tube network.</p>
<p>'It will also help relieve peak congestion on buses and Tubes by offering an alternative journey to those forced to travel into central London before reaching their final destination. </p>
<h2>Relieve congestion</h2>
<p>'We expect to carry 100,000 people a day in the first year.'</p>
<p>Managing Director of TfL London Rail, Ian Brown, said: 'This new London Overground route has long existed in the planners' imaginations and I'm very proud that after two-and-a-half years of actual construction, we are standing on this platform today.<br>&nbsp;<br>'This is the sort of rail infrastructure that will take London into the future - air-conditioned trains, turn-up-and-go services and staff on every station. </p>
<p>'In spring next year, we will connect this line with London Overground's existing network in the north and in 2012, the route will be linked in the south at Clapham Junction thus completing the London Overground orbital railway around London.'</p>
<p>When fully operational, 12 trains an hour will run through the core New Cross Gate to Dalston Junction section, providing a turn-up-and-go service. </p>
<p>When the line is connected to the wider London Overground network - in the north by spring next year and in the south by mid-2012 - the Capital's orbital railway will be complete.</p>
<p>
<hr>
<strong>Notes to editors: 
<p>
<ul>
<li></li></ul></strong>The new east London section is a crucial part of the London Overground orbital network and London's overall integrated transport infrastructure 
<li>Besides the four new stations, completion of the &pound;1bn project includes; the construction of a new maintenance depot at New Cross Gate, the upgrade of the former London Underground line to National Rail standards, 3.5km of tracks built between Whitechapel and Dalston Junction, the renewal of old bridges and installation of new ones </li>
<li>It is predicted that in 2011, 33 million people will use ELL Phase One (approximately 100,000 per day) and demand is forecast to increase to 40 million people&nbsp;in 2016 (approximately 120,000 per day). The former east London Tube line, prior to its closure, carried approximately nine million passengers every year (approximately 30,000 per day) </li>
<li>Examples of journey times on the new line are Dalston Junction to West Croydon&nbsp;- 47 minutes; to Crystal Palace&nbsp;- 37 minutes. Shoreditch High Street station to Brockley&nbsp;- 16 minutes; Honor Oak Park - 19 minutes; Forest Hill&nbsp;- 22 minutes; Sydenham&nbsp;- 24 minutes </li>
<li>Classified as 'preview running', the limited service running between Dalston Junction and New Cross Gate until 23 May will allow a settling in of the trains, stations and signalling systems under live operating conditions </li>
<li>London Transport Museum's exhibition 'Overground Uncovered: Life along the line celebrates the London Overground network, including the new east London route. It will open on Saturday, 29 May, 2010</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A new era of rail travel for the Capital began today as the Mayor of London and Chair of Transport for London (TfL), Boris Johnson, opened the first section of London Overground's new &pound;1bn east London route, delivered early and on budget.The";}
        
        


 