


@{ViewBag.Title = "North Greenwich station taxi rank to be marshalled on arena event nights at The O2";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>North Greenwich station taxi rank to be marshalled on arena event nights at The O2</h1>
        <div class="content-page-press-release">
        29 April 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Marshals to manage passenger queues and ensure people get a taxi quickly and safely.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We very much welcome the new scheme which we hope will increase the taxi supply and deliver a service to complement our world class venue"</div>
        <div class="quote-footer">
            <div class="quotee-name">Geoff Symonds</div>
            <div class="quotee-job-title">AEG Europe's Head of Transport Strategy</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We very much welcome the new scheme which we hope will increase the taxi supply and deliver a service to complement our world class venue
                            
                        </p>
                    </div>
                
            
            
            <p>Following discussions between Transport for London (TfL) and AEG Europe, the owners and operators of The O2, TfL has agreed to provide a marshalled taxi rank service at North Greenwich station between 9.30pm and 12.30am on Thursday to Sunday nights when there is an event at the arena.</p>
<p>Taxi marshals have been used at North Greenwich taxi rank in the past and proven successful and popular with drivers and passengers alike.&nbsp; </p>
<p>The marshals will manage passenger queues and will ensure people get a taxi quickly and safely.&nbsp;&nbsp; </p>
<p>Upcoming events at The O2 that will see the marshalled taxi rank being operated include:</p>
<p>21, 22, 23 May - Carmen&nbsp;<br>25-26 May - Alicia Keys&nbsp;<br>29 May, 1-2 June - Rod Stewart<br>30-31 May - Lady Gaga<br>7-26 June - Bon Jovi<br>12-18 June - Leona Lewis</p>
<p>Full details of when events are being held at The O2 can be found <a href=" http://www.theo2.co.uk ">online</a>.&nbsp;&nbsp; </p>
<p>Helen Chapman, of TfL's Taxi and Private Hire, said: 'We hope this scheme will make journeys home from The O2 easier.</p>
<p>'The marshals are experienced cab drivers and their purpose is to ensure people get home safely at the end of the night and also make it easier for the cab drivers using the rank.' </p>
<p>Geoff Symonds, AEG Europe's Head of Transport Strategy, said: 'At The O2 we take the customer experience and safety extremely seriously.&nbsp; </p>
<p>'We very much welcome the new scheme which we hope will increase the taxi supply and deliver a service to complement our world class venue.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>TfL's Taxi and Private Hire is responsible for licensing and regulating London's taxi and private hire services </li>
<li>Further information about the other late night marshalled taxi ranks schemes operating can be found on the <a href="/gettingaround/taxisandminicabs/taxis/1138.aspx">TfL website</a> </li>
<li>To enable refurbishment works to be carried out on the Blackwall Tunnel, the northbound tunnel will be closed between 21:00 to 05:00 Sunday evening to Friday morning.&nbsp;During these times northbound traffic will be diverted through the southbound tunnel with southbound traffic using alternative river crossings.&nbsp;A 20mph speed limit, enforced by cameras, will be in place on the diversion which includes chicanes </li>
<li>London Underground (LU)&nbsp;is undertaking a major programme of renewal as part of TfL's Investment Programme, work that is being undertaken by LU and Tube Lines </li>
<li>The Jubilee line (serving North Greenwich) is undergoing line upgrade work that will deliver an overall capacity increase of 33 per cent.&nbsp;The line upgrade works may result in planned closures to the Jubilee line at weekends </li>
<li>TfL is urging all Londoners and visitors to the city to 'check before you travel' at weekends, allowing extra journey time where necessary </li>
<li>TfL's range of Travel Tools help passengers plan journeys, get travel information on the move and work out the safest way home <a href="http://www.tfl.gov.uk/tfl/traveltools">www.tfl.gov.uk/tfl/traveltools</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Following discussions between Transport for London (TfL) and AEG Europe, the owners and operators of The O2, TfL has agreed to provide a marshalled taxi rank service at North Greenwich station between 9.30pm and 12.30am on Thursday to Sunday nights when";}
        
        


 