


@{ViewBag.Title = "Penton Street counter service closure";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Penton Street counter service closure</h1>
        <div class="content-page-press-release">
        07 April 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Internet, phone and post offer quicker and more efficient access.
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) has announced that from Friday 30 April the taxi and private hire counter services at Penton Street will no longer be available. </p>
<p>Since 4 January 2010, TfL has operated a limited counter service at Penton Street, available between 10:00 and 15:00, Tuesday to Thursday.&nbsp;</p>
<h2>Faster service</h2>
<p>As part of a wider programme to improve Taxi and Private Hire licensing services, existing drivers and new applicants will be encouraged to use quicker and more effective means of contacting TfL, such as the internet, phone and post.</p>
<p>TfL has been working closely with the Post Office to develop and improve the existing 'Check and Send' service.&nbsp;</p>
<p>A number of Post Offices across London will be able to check and accept both new and renewal private hire applications and renewal taxi applications for a small fee.&nbsp; </p>
<p>Candidates doing the Knowledge will not be affected by this change and appointments will continue to be booked as normal. </p>
<h2>Time efficient</h2>
<p>John Mason, TfL's Director of Taxi and Private Hire, said: 'I know the counter service at Penton Street has been well used over the years, but with all the other available means of contacting us, it is no longer an efficient use of licensing staff's time.&nbsp;</p>
<p>'I am committed to improving the service provided to licensees and I believe this change, along with the others that have already been introduced, will deliver this.&nbsp;</p>
<p>'We will continue to improve online access to licensing services and believe that the Post Office's 'Check and Send' service will provide a valuable facility for those that want to use it.'</p><strong>
<p>
<hr>
</p>
<p>Notes to editors:</p>
<ul>
<li></li></ul></strong>Drivers or operators with queries can visit <a href="http://www.tfl.gov.uk/tph">www.tfl.gov.uk/tph</a> or call 0845 602 7000 Monday - Friday 0800 - 1700
<li>Drivers can request application packs from <a href="http://www.tfl.gov.uk/tphservices">www.tfl.gov.uk/tphservices</a> </li>
<li>For driver licence renewal applications or new private hire driver applications the fastest, most efficient way it to use the Post Office Check &amp; Send Service</li>
<li>The remainder of the Taxi &amp; Private Hire directorate will shortly be vacating Penton Street and relocating to offices at Southwark.&nbsp;This is part of a TfL-wide accommodation programme. </li>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has announced that from Friday 30 April the taxi and private hire counter services at Penton Street will no longer be available. Since 4 January 2010, TfL has operated a limited counter service at Penton Street, available";}
        
        


 