


@{ViewBag.Title = "Public invited to find out more about the Blackwall Tunnel refurbishment programme";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Public invited to find out more about the Blackwall Tunnel refurbishment programme</h1>
        <div class="content-page-press-release">
        20 April 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL will hold public meetings at the East Wintergarden in Canary Wharf on Friday 14 May and at the O2 in Greenwich on Saturday 15 May, to discuss the safety improvement work which is being carried out on the northbound Blackwall Tunnel.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The northbound Blackwall Tunnel refurbishment works are vital to ensure the continued safe use of the tunnel for years to come"</div>
        <div class="quote-footer">
            <div class="quotee-name">Garrett Emmerson</div>
            <div class="quotee-job-title">Chief Operating Officer for London Streets at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The northbound Blackwall Tunnel refurbishment works are vital to ensure the continued safe use of the tunnel for years to come
                            
                        </p>
                    </div>
                
            
            
            <p>At the meetings, Transport for London (TfL) staff will discuss plans for a number of future weekend closures of the northbound tunnel and will answer any questions from the public about the refurbishment programme. </p>
<p>The weekend closures are needed to carry out works which cannot be completed either safely or practically during the regular overnight closure programme. </p>
<p>TfL is currently discussing dates with local boroughs and stakeholders and will announce when the weekend closures will occur once these have been agreed.</p>
<p>TfL's contractors will use the first set of weekend closures to start work on upgrading the Blackwall Tunnel's ventilation shafts - which will allow smoke from vehicle fires to be removed from the tunnel more quickly and effectively. </p>
<p>In addition, sections of the tunnel's walls will be relined with concrete, which will make it easier to repair in future.</p>
<h2>Improving efficiency </h2>
<p>Garrett Emmerson, Chief Operating Officer for London Streets at TfL, said: 'The northbound Blackwall Tunnel refurbishment works are vital to ensure the continued safe use of the tunnel for years to come. </p>
<p>'We are holding public meetings to discuss the safety upgrade work and weekend closures programme, and I would like to encourage anyone interested or affected by the closures to come along and talk to us about the work we're doing on the tunnel.'</p>
<p>The refurbishment will improve safety and maintenance, ensuring the efficient running of the tunnel for years to come. </p>
<p>New fire and incident detection systems, new lighting, a new CCTV camera system and better access for emergency services will be installed as part of the modernisation works and safety improvements in the tunnel, which carries 50,000 vehicles a day.</p>
<p>Work on the refurbishment will be completed by December 2012. </p>
<p>Find out more about the <a href="http://www.tfl.gov.uk/blackwalltunnelrefurbishment">Blackwall Tunnel refurbishment programme</a>. 
<hr>

<p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>The public meetings will be held at the following times and locations: <br>- Friday 14 May 2010, 18:00 and 19:30&nbsp;- The East Wintergarden, Bank Street, Canary Wharf, London, E14 5AB (nearest Tube: Canary Wharf) <br>- Saturday 15 May 2010, 12:00 and 13:30 - Vue Cinema at the O2, Peninsula Square, London, SE10 0DX (nearest Tube: North Greenwich)
<li>While the refurbishment works are being carried out, TfL will be closing the northbound tunnel between 21:00 and 05:00, Sunday to Friday. Northbound traffic will be diverted through the southbound tunnel during this time. Because the diversion will involve chicanes, a 20mph speed limit will be put in place each night and enforced by average speed cameras. Southbound traffic will be able to use other river crossings </li>
<li>The northbound and southbound Blackwall tunnels run between Blackwall Point in East Greenwich and East India Dock Road in Poplar. They carry four lanes of traffic in total (two northbound and two southbound) </li>
<li>The northbound tunnel is 1.4km long, and 50,000 vehicles pass through every day&nbsp;- the equivalent of around one vehicle every 1.7 seconds </li>
<li>There is no toll for using the Dartford-Thurrock river crossing between 22:00 and 06:00 </li>
<li>While the northbound tunnel is closed for refurbishment works, the Route 108 (which is the only bus to use the Blackwall Tunnel) will be affected. From 21:00 to 01:00 the service will operate in two sections: Lewisham - North Greenwich and Stratford&nbsp;- Canning Town. Passengers will be able to use the Jubilee line during this period to connect between the services and London Underground will accept valid bus tickets between North Greenwich and Canning Town for the duration of the closure. Between 01:00 and 05:00, route 108 will be escorted every half-hour through the southbound tunnel, with northbound traffic halted while this occurs</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "At the meetings, Transport for London (TfL) staff will discuss plans for a number of future weekend closures of the northbound tunnel and will answer any questions from the public about the refurbishment programme. The weekend closures are needed to carry";}
        
        


 