


@{ViewBag.Title = "Taximeter updates required by 9 May";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Taximeter updates required by 9 May</h1>
        <div class="content-page-press-release">
        21 April 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Taximeters can be updated at no cost in less than 30 minutes.
        
    </div>



 <div class="on-this-page">
<p>Following the 2.3 per cent increase in Taxi fares, that came into effect on 10 April, Transport for London is reminding drivers and vehicle owners that taximeters must be updated by 9 May to reflect these changes.</p>
<p>Vehicles presented for inspection after 9 May will fail if they have not had the Taximeter software updated.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
<p>A vehicle that is examined by a member of the compliance team and found to have not had its Taximeter updated may also be subject to an Unfit Notice.&nbsp;</p>
<p>The vehicle will then be taken out of service until the Taximeter fault is rectified. </p>
<p>Taximeters can be updated free of charge, in most cases, in under 30 minutes at a number of approved taximeter agents:</p>
<p><strong>Lucas-Tronic and Cygnus Taximeters</strong></p>
<ul>
<li>Lucas-Tronic UK Ltd, Richmond Road, Hackney, London, E8 3NJ.&nbsp;Tel: 0207241 2444</li></ul>
<p><strong>Digitax Taximeters</strong></p>
<ul>
<li>Ascott Cab Co, 125 -127 Evelyn Street, London, SE8 5RJ.&nbsp;Tel: 020 8692 1122</li>
<li>Ascott Cab Co, 80 Dunbridge Street, London, E1 2HJ.&nbsp;Tel: 020 7033 4144</li></ul>
<p><strong>Global, Mattig and Cygnus Taximeters</strong></p>
<ul>
<li>KPM UK Taxis, Hemming Street, London, E1 5BL.&nbsp;Tel: 020 7375 2086</li></ul>
<p><strong>Aquila Taximeters</strong></p>
<ul>
<li>Frankum and Kaye Taxis, 38 Crawley Rd, Wood Green, London, N22 6AG.&nbsp;Tel: 020 8889 5537 </li>
<li>Camberfield Taxis, The Ham, Brentford, Middlesex, TW8 8EX.&nbsp; Tel: 020 8658 9643 </li>
<li>E3 Taxis, Standard Industrial Estate, Henley Rd, London, E16 2ES.&nbsp;Tel: 020 7474 6592</li></ul>
<p><strong>REM Taximeters</strong></p>
<ul>
<li>Taximeter Sales &amp; Services, 94 Cowley Rd, Uxbridge, Middlesex, UB8 2QD.&nbsp;Tel: 01895 234616</li></ul>
<p><strong>HALDA Taximeters</strong></p>
<ul>
<li>Hexagen Taxis Limited, 164-169 Lukin Street, Stepney, London, E1 0BN.&nbsp;Tel: 020 7790 6991</li></ul>
<p><strong>
<hr>
Notes to editors:</strong> 
<p>
<ul>
<li>Transport for London's Taxi and Private Hire is responsible for licensing and regulating London's taxi and private hire services </li>
<li>Taxi fares are calculated according to one of three tariffs.&nbsp;These are:<br>Tariff 1: Monday to Friday, between 06.00 and 20.00<br>Tariff 2: Monday to Friday, between 20.00 and 22.00, and weekends between 06.00 and 22.00<br>Tariff 3: Nightly between 22.00 and 06.00 and on public holidays </li>
<li>The 2.3 per cent increase is intended to provide a balance between maintaining income levels for drivers, who face disproportionately higher costs in order to work than average Londoners, whilst ensuring passengers still get a fair price for the high quality and unique service provided by the Capital's taxi drivers </li>
<li>The 2.3 per cent&nbsp;fare increase includes a 1.9 per cent increase based on the 2010 cost index, which takes into account the rise in average national earnings and an increase in insurance rates; plus a one-off 0.4 per cent increase </li>
<li>The one-off 0.4 per cent increase relates to an error in 2007 when there was a discrepancy between the approved percentage increase and the final calculated tariffs. It was proposed to rectify this error in 2009/10 by adding 0.4 per cent for one year only to fares, however at the time stakeholders agreed that it would be inappropriate given the financial downturn. It was proposed again as part of the 2010/11 fares review to include the 0.4 per cent increase for one year only, and driver associations have now supported its inclusion</li></ul>
<p><br>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Following the 2.3 per cent increase in Taxi fares, that came into effect on 10 April, Transport for London is reminding drivers and vehicle owners that taximeters must be updated by 9 May to reflect these changes.Vehicles presented for inspection after 9";}
        
        


 