


@{ViewBag.Title = "TfL secures ownership and control of Oyster brand and ticketing system";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL secures ownership and control of Oyster brand and ticketing system</h1>
        <div class="content-page-press-release">
        12 April 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        PFI debt paid off six months early as part of &pound;5bn efficiency programme.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Oyster has the potential to be used for so much more than simply getting around the Capital, and the technology is there to make it even more convenient for Londoners to use by integrating it into mobile phones or bank cards"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's transport advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Oyster has the potential to be used for so much more than simply getting around the Capital, and the technology is there to make it even more convenient for Londoners to use by integrating it into mobile phones or bank cards
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) today confirmed that it has purchased the Oyster brand from the TranSys consortium. </p>
<p>This means that TfL now has complete control and ownership of the Oyster brand and will be able to investigate the future potential for Oyster to be extended to new and existing technologies and the commercial opportunities that provides. </p>
<h2>Full rights on brand</h2>
<p>Oyster has been a huge success in London with over seven million cards in regular use. </p>
<p>Around 80 per cent of all journeys are made each day on the bus, Tube, DLR and London Overground using an Oyster card. </p>
<p>Since 2 January 2010, Oyster pay as you go has also been available on National Rail commuter services in Greater London. It has also been available for use on Thames Clipper river services since November 2009.</p>
<p>TfL has already undertaken a trial of Oyster on bank cards and mobile phones, but the &pound;1 million purchase of full rights on the Oyster brand will mean complete control over the investigation of options that make life easier and more convenient for Londoners to travel while also increasing the accessibility of Oyster. </p>
<h2>Improvements for passengers</h2>
<p>In August 2008, Transport for London gave notice that it intended to terminate the current Private Finance Initiative (PFI) contract with the TranSys consortium. </p>
<p>The contract will end in August 2010 when the new arrangement with Cubic Transportation Systems and HP Enterprise Services will take over.</p>
<p>The new arrangement with Cubic Transportation Systems and HP Enterprise Services replaces the existing Private Finance Initiative (PFI), delivering better value for money as well as improvements to Oyster services for passengers across London. </p>
<p>The move is part of Transport for London's &pound;5bn efficiency savings programme.</p>
<p>Further savings have also been realised by the early repayment of &pound;101 million of PFI debt. On termination of the PFI contract in August 2010 TfL was liable to repay a total of &pound;101 million PFI debt to TranSys' funders. </p>
<h2>Future technology</h2>
<p>This debt has been re-paid approximately six months early delivering &pound;4m savings in debt interest payments for TfL.</p>
<p>Kulveer Ranger, the Mayor of London's transport advisor, said: 'Oyster has the potential to be used for so much more than simply getting around the Capital, and the technology is there to make it even more convenient for Londoners to use by integrating it into mobile phones or bank cards. </p>
<p>'Buying full rights to the Oyster brand means TfL now has total control over the future of Oyster. Paying off the PFI debt six months early is common sense as it will save London &pound;4m in interest payments.'</p>
<p>As a result of early repayment of this PFI debt all ticketing system assets such as Oyster readers and validators, ticket gatelines, all London Underground retailing devices including ticket office and passenger operated machines, London Buses ticketing equipment and back office systems have now transferred to public control and the ownership of Transport for London. </p>
<h2>Commercial opportunities</h2>
<p>This does not affect the existing operating contract with TranSys which will continue to run until August 2010 as previously announced.</p>
<p>TranSys will continue to retain advertising rights on ticket gatelines and ticketing media until March 2015.</p>
<p>Shashi Verma, TfL Director of Fares and Ticketing said: 'Oyster is the world's most successful transport smartcard. </p>
<p>'Now that the Oyster brand and ticketing equipment is under TfL's ownership we can further investigate the potential for Oyster to be extended to new and existing technologies and the commercial opportunities that provides. </p>
<p>'This will ensure that Oyster remains at the forefront of transport smartcard technology.</p>
<p>'TfL's successful partnership with Cubic and HP Enterprise Services will now continue for the next five years starting summer 2010. </p>
<p>'The new contracts will deliver better value for money and improvements to Oyster for passengers across London.'<br><br><strong>
<hr>
Notes to editors:</strong> 
<p>
<ul>
<li>Oyster has been a huge success since its introduction across the Transport for London (TfL) network in 2003. There are now over seven million cards in regular use. 57 million journeys are now made with Oyster each week. Since its launch in 2003 Oyster has been extended to the London Overground network and Thames Clippers river services. On 2 January 2010, Oyster pay as you go was extended to all 350 National Rail stations in London and was the biggest expansion of the Oyster network since it launched in 2003 </li>
<li>The system was originally created, and has been maintained, via a Public Finance Initiative (PFI) contract, known as PRESTIGE, held between TfL and TranSys, a consortium whose principal partners are Cubic Transportation Systems and HP Enterprise Services. TranSys is responsible for developing, installing, managing and maintaining London's automated fare collection system including the Oyster card system, on behalf of Transport for London </li>
<li>TranSys' shareholders are Cubic (UK) Limited and EDS International Ltd, part of the HP group of companies.&nbsp; The PFI contract was put in place in 1998 for a term of 17 years </li>
<li>In August 2008, TfL gave notice to terminate the current contract with the TranSys consortium. The PRESTIGE PFI contract will come to an end on 16 August 2010 when a new arrangement with Cubic Transportation Systems Limited and HP Enterprise Services UK Limited will take over. TfL terminated the PFI contract by exercising a break option in the contract </li>
<li>TranSys took on &pound;190m of debt from a consortium of lenders&nbsp; which was scheduled to be paid off over the term of the 17 year PFI Contract. The outstanding balance was due to be repaid on 16 August 2010 following TfL's decision to exercise an early termination option </li>
<li>TfL, in conjunction with TranSys and its then shareholders, which included Fujitsu Services Limited and Atkins Consultants Limited at that time elected to pay off the PFI debt on 26 February 2010 to deliver &pound;4 million debt interest savings for TfL </li>
<li>As part of the overall commercial arrangement, TranSys will continue to retain advertising rights on ticket gatelines and ticketing media until March 2015 which also delivers significant financial benefits to TfL<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) today confirmed that it has purchased the Oyster brand from the TranSys consortium. This means that TfL now has complete control and ownership of the Oyster brand and will be able to investigate the future potential for Oyster";}
        
        


 