


@{ViewBag.Title = "World-class Tour of Britain cycle race to return to London this September";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>World-class Tour of Britain cycle race to return to London this September</h1>
        <div class="content-page-press-release">
        20 April 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The UK's biggest professional cycle race, the Tour of Britain, will return to the Capital's streets this year on the final stage of its eight-day UK tour.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"More and more people are discovering the benefits of travelling on two wheels and events like this, which showcase the excitement and exhilaration of top-level cycling, can only inspire more Londoners to get involved."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            More and more people are discovering the benefits of travelling on two wheels and events like this, which showcase the excitement and exhilaration of top-level cycling, can only inspire more Londoners to get involved.
                            
                        </p>
                    </div>
                
            
            
            <p>On Saturday 18 September, 96 professional cyclists will race for a total of 100km on a 10km circuit around the Royal Docks in Newham, an Olympic host borough. </p>
<p>The TfL London Stage, which will take riders past the Thames Barrier, is set against the dramatic backdrop of the Canary Wharf skyline. </p>
<h2>World-class athletes</h2>
<p>This is the seventh time that Transport for London (TfL) has brought the Tour of Britain to the Capital. </p>
<p>The world-class sporting spectacle, which in past years has attracted Olympic, World and Commonwealth champions, will also finish in London next year. <br>&nbsp;<br>Last year, the final stage of the Tour attracted 150,000 spectators to the Capital's streets. <br>&nbsp;<br>Boris Johnson, Mayor of London, said: 'More and more people are discovering the benefits of travelling on two wheels and events like this, which showcase the excitement and exhilaration of top-level cycling, can only inspire more Londoners to get involved. </p>
<h2>Encouraging cycling</h2>
<p>'The Tour of Britain is a fantastic spectacle and I'm delighted that it is coming back to the Capital once again.'</p>
<p>David Brown, Managing Director of Surface Transport at TfL, said: 'London has seen a dramatic increase over the last decade in the number of people cycling. </p>
<p>'Events like the Tour of Britain play a big part in encouraging people to take to two wheels and provide a high profile showcase for cycling both as a sport and everyday mode of transport.'<br>&nbsp;<br><strong>
<hr>
Notes to editor</strong> 
<p><strong></strong>
<ul>
<li>The Tour of Britain is the UK's largest professional cycling race and biggest free-to-attend live sporting event in the country </li>
<li>The 2010 edition of the race will run for eight days from Saturday 11 September until Saturday 18 September </li>
<li>The number of cycle journeys made in London has increased by 107 per cent since 2000 - around half a million cycle journeys are now made on London's major roads every day. For more information about the Tour of Britain, including this year's route, visit <a href="http://www.tourofbritain.co.uk">www.tourofbritain.co.uk</a> </li>
<li>More information about cycling in London can be found at <a href="http://www.tfl.gov.uk/cycling">www.tfl.gov.uk/cycling</a> <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "On Saturday 18 September, 96 professional cyclists will race for a total of 100km on a 10km circuit around the Royal Docks in Newham, an Olympic host borough. The TfL London Stage, which will take riders past the Thames Barrier, is set against the";}
        
        


 