
    
  



@{ViewBag.Title = "Harry Beck's Tube map";}
@{ViewBag.Keywords = "Public,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/culture-and-heritage/art-and-design/harry-becks-tube-map";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage">Culture & heritage</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage/art-and-design">Art & design</a></li>
                
            
            
                <li><span class="last-breadcrumb">Harry Beck's Tube map</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Harry Beck's Tube map</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Originally considered too radical, Harry Beck's London Underground Tube map has become a design classic. 
        
      </div>
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/tube-map-1933_rdax_400x250.jpg" alt="Original 1933 Tube map" />
        <span class="caption">Original 1933 Tube map</span>
        
        
    </div>
    
        <p>Now recognised across the world, the Tube map was originally the brainchild of Underground electrical draughtsman, Harry Beck, who produced this imaginative and beautifully simple design back in 1933.</p>
        <p>Rather than emphasising distance and geographical accuracy, like other maps, Beck based his on the circuit diagrams he drew for his day job; stripping the sprawling Tube network down to a neat diagram of coloured, criss-crossing lines.</p>
        <p>Beck's map was initially rejected by the publicity department because it was considered too radical but a successful trial print-run showed that it was just what the public wanted. </p>
        <p>The result was an instantly clear and comprehensible chart that would become an essential guide to London - and a template for transport maps the world over.</p>
        <p>Beck's revolutionary design, with certain modifications and additions, survives to the present day and is set to serve London Underground and its millions of customers for many years to come.</p>
        <p>To find out more more about Harry Beck and his world famous map please visit the <a href="http://www.ltmuseum.co.uk">London Transport Museum</a>.</p>
        <p><a href="/maps_/maps">View up-to-date maps for London Underground today.</a></p>
    
 </div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/culture-and-heritage/art-and-design" class="heading">
                    <h2 id="sub-menu-heading">Art & design<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/art-and-design/station-architecture">Station architecture</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/art-and-design/harry-becks-tube-map">Harry Beck's Tube map</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/art-and-design/the-roundel">The Roundel</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.hmrs.org.uk/index.php" class="plain-button">HMRS Online</a>
<a href="http://www.nationalarchives.gov.uk/" class="plain-button">The National Archives</a>
<a href="https://www.cityoflondon.gov.uk/things-to-do/london-metropolitan-archives/Pages/default.aspx" class="plain-button">London Metropolitan Archives</a>
<a href="http://www.ltmuseum.co.uk/" class="plain-button">London Transport Museum</a>
<a href="http://www.nrm.org.uk/researchandarchive" class="plain-button">National Railway Museum Archives</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Originally considered too radical, Harry Beck's London Underground Tube map has become a design classic";}
        
            
        


 