
    
  



@{ViewBag.Title = "The Roundel";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/about-tfl/culture-and-heritage/art-and-design/the-roundel";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage">Culture & heritage</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage/art-and-design">Art & design</a></li>
                
            
            
                <li><span class="last-breadcrumb">The Roundel</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>The Roundel</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The London Underground logo is one of the most recognised and imitated logos in the world. 
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/roundel-culture-heritage_rdax_400x250.jpg" alt="The Roundel" />
        
        
        
    </div>
    <h2>1908</h2>

<p>The very first roundel starts life as a platform nameboard at the station we now call St James's Park. Originally known as the bar and circle, the red, glassy, enamel disc with the blue horizontal bar is created to make station names stand out against the adverts and billboards on platform walls.</p>

<h2>1911/1912</h2>

<p>The new logo begins to appear on map covers, station exteriors, posters and other publicity. There aren't any guidelines at this point so artists use the bar and circle freely and imaginatively in their work.</p>

<p>The letters U and D also begin to appear across the bar of the roundel but in 1912, but further changes are made when the London General Omnibus Company (LGOC), becomes part of the Underground Group and the search for a new symbol begins. The new symbol combines the LGOC's winged wheel logo and the bar and disc to form the basis of the roundel trademark as we know it.&nbsp;</p>

<h2>1913</h2>

<p>Publicity manager Frank Pick commissions typographer Edward Johnston to design a company typeface.</p>

<h2>1914</h2>

<p>To establish their independence, Metropolitan Railway introduce an alternative version of the roundel. It has a blue, station name plate mounted on a red diamond. It is used for promotional material, timetables and buildings and can still be seen on the 1923 facade at Farringdon station.</p>

<h2>1916/1917</h2>

<p>The new typeface is put on the bar and circle and is registered as a trademark in 1917. Between 1920 and 1933, Johnston designs several different versions of the bar and circle symbol for the different divisions of the Underground Group in an attempt to create a unified identity for both rail and road services.</p>

<h2>1920s and 30s</h2>

<p>Frank Pick recruits the architect Charles Holden to design new Underground stations and reconstruct existing ones. In the 1930s, Holden begins to incorporate the logo into the very fabric of station interiors; including platform furniture and on bus stop flags and shelters.</p>

<h3>1933</h3>

<p>The London Passenger Transport Board is created by an Act of Parliament. In the search for a new symbol to unify all its newly acquired services, it creates another winged symbol which incorporates the initials of the Board. This is shortlived and Edward Johnston is asked to revise this new symbol to better reflect the name of the new organisation.</p>

<h3>1935</h3>

<p>Hans Schleger is commissioned to redesign the bus stop roundel. He keeps the colour coding but removes the established outline of the symbol.</p>

<h3>1938</h3>

<p>London Transport issues a 'Standard Signs Manual'. This sets out guidance on the precise design and possible use of the symbol. This is one of the first times a famous company realises the visual and financial value of its logo and sets out to manage its usage.</p>

<h2>1947</h2>

<p>London Transport is nationalised but the roundel stays as a logo. The post-war fashion for more minimal designs (which are cheaper to make and maintain), means that the logo is simplified, once again.</p>

<h2>1970s &amp; 1980s</h2>

<p>The roundel symbol begins to appear on the sides of buses and a plain colour version - with no text - is introduced on Underground trains. In 1972, the roundel is officially named as the corporate symbol of London Transport. As a result, the Design Research Unit is employed to review the design and use of logo and typeface.</p>

<p>London Underground takes the opportunity commissions design consultants Henrion, Ludlow and Schmidt to create a new blue and red Underground roundel, not unlike the Design Research Unit symbol of 1972.</p>

<h2>1990s to present</h2>

<p>In 2000, after 10 years of LRT and its subsidiary companies looking after London transport, Transport for London (TfL), is created to take control of transport. TfL becomes responsible for the Underground, buses, London Rail, taxis, London River Services, Victoria Coach Station, Docklands Light Railway, Trams, Street Management and the London Transport Museum.</p>

<p>Rather than creating a new design to represent all these services, TfL decided to keep the roundel as its trademark.</p>
 </div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/culture-and-heritage/art-and-design" class="heading">
                    <h2 id="sub-menu-heading">Art & design<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/art-and-design/station-architecture">Station architecture</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/art-and-design/harry-becks-tube-map">Harry Beck's Tube map</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/art-and-design/the-roundel">The Roundel</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The London Underground logo is one of the most recognised and imitated logos in the world";}
        
            
        


 