
    
  



@{ViewBag.Title = "Heritage advice";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/urban-planning-and-construction/urban-design/heritage-advice";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/urban-planning-and-construction/index">Urban planning and construction</a></li>
                
            
                 <li><a href="/info-for/urban-planning-and-construction/our-role-in-planning">Our role in planning</a></li>
                
            
                 <li><a href="/info-for/urban-planning-and-construction/planning-applications/design-and-heritage">Design and heritage</a></li>
                
            
            
                <li><span class="last-breadcrumb">Heritage advice</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Heritage advice</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We're responsible for hundreds of heritage assets, either statutorily or locally listed, in one of London's four World Heritage Sites or conservation areas.
        
      </div>
    
    <div class="on-this-page">
      <h2>What we do</h2>

<p>We manage:</p>

<ul>
	<li>Thames bridges</li>
	<li>Street furniture</li>
	<li>Commercial and residential buildings</li>
	<li>London Overground and TfL Rail stations</li>
	<li>More than 100 Underground stations</li>
</ul>

<p>Our Heritage Advisor gives&nbsp;expert advice to transport projects that affect heritage assets and environments, especially if they need planning permission or negotiation with <a href="https://historicengland.org.uk/">Historic England</a>.</p>

<h2>Examples of our heritage projects</h2>

<h3>Bank station capacity upgrade</h3>

<p>Heritage advice for over-station development taking place as part of <a href="/travel-information/improvements-and-projects/bank-and-monument">major improvements to Bank</a>.</p>

<h3>Chiswick Bridge restoration</h3>

<p>Like-for-like replacement of weathered balusters, strengthened with integral (hidden) steelwork, plus comprehensive refurbishment of 80-year-old Grade II listed bridge.</p>

<h3>Crystal Palace station restoration</h3>

<p>Award-winning &pound;7.5m restoration of Grade II listed station building and ticket hall, new Overground platforms and provision of step-free access.</p>

<h3>Cycle Superhighways</h3>

<p>Hheritage expertise provided for the East-West route which passes along the Victoria Embankment and through Regent's Park, Green Park and Hyde Park.</p>

<h3>London Overground heritage audit</h3>

<p>Detailed reports on heritage features and designations on railway lines and stations managed by TfL as part of the London Overground network.</p>

<h3>National Rail/London Rail cycle-rail steering group</h3>

<p>Rrepresenting TfL on the <a href="http://www.raildeliverygroup.com/">Network Rail/Rail Delivery Group </a>working group, to integrate heritage into nationwide strategy to improve combined rail and cycling journeys.</p>

<h2>Contact us</h2>

<p>If you have any questions, contact Edmund Bird at <a href="mailto:edmundbird&#64;tfl.gov.uk">edmundbird&#64;tfl.gov.uk</a>.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/urban-planning-and-construction/index" class="heading">
                    <h2 id="sub-menu-heading">Urban planning and construction<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-role-in-planning">Our role in planning</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/community-infrastructure-levy">Mayoral Community Infrastructure Levy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/policy-influencing">Policy influencing</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/design-and-heritage">Design and heritage</a></div>
                                        <ul>
                                            
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-design/heritage-advice">Heritage advice</a></div>
                                            
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/growth-areas">Growth areas</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/planning-with-webcat">Planning with WebCAT</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/pre-application-services">Pre-application services</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/interchange">Interchange</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/planning-applications/modelling">Modelling</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/guidance-for-applicants">Guidance for planning applicants</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure">Our land and infrastructure</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-contacts">Planning and construction contacts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-resources">Planning and construction resources</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/one-road-network">One Road Network</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out about the heritage assets we're responsible for in London";}
        
            
        


 