


@{ViewBag.Title = "40,000 households and businesses updated on proposed Northern line extension ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>40,000 households and businesses updated on proposed Northern line extension </h1>
        <div class="content-page-press-release">
        29 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Residents and businesses in the Vauxhall Nine Elms area are being sent leaflets to update them on the proposed Northern line extension, including plans to create two new stations at Nine Elms and Battersea Power Station.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The proposed Northern line extension would bring huge benefits for local communities along the route"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mich&egrave;le Dix</div>
            <div class="quotee-job-title">Managing Director of Planning for LU</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The proposed Northern line extension would bring huge benefits for local communities along the route
                            
                        </p>
                    </div>
                
            
            
            <p>Thousands of Londoners have already had the opportunity to have their say and shape the plans for the proposed extension to Battersea, and extensive planning and design work has already been undertaken. </p>
<p>Work is now underway to prepare a submission to the Secretary of State for permission to build and operate the extension, under a Transport and Works Act Order. </p>
<p>The new line is also subject to a funding and financing package, which would include private developer contributions, and TfL is working with the London Boroughs of Wandsworth and Lambeth to explore how best to provide this. </p>
<h2>Consultation this autumn</h2>
<p>Earlier this month the Joint Administrators of the Battersea Power Station chose a preferred bidder for the site, since the previous owner went into administration last year. TfL is looking forward to working with them on the Northern line extension. </p>
<p>As well as this update, TfL will conduct further local consultation on the proposed scheme over the coming months with a final consultation planned this autumn. </p>
<p>Mich&egrave;le Dix, Managing Director of Planning for LU, said: 'The proposed Northern line extension would bring huge benefits for local communities along the route. Along with other big redevelopment projects for this new London district, this transport link would help support 16,000 homes and 25,000 jobs.</p>
<p>'We are keen that local residents and businesses read the leaflet that is soon to appear through their door. This will update them on how the latest plans for the Northern line extension are progressing.' </p>
<h2>Strong support for scheme</h2>
<p>Subject to funding being in place and permission from the Secretary of State for Transport to build and operate the extension, the new stations at Nine Elms and Battersea could be open by 2019. </p>
<p>Public consultation last year showed there is strong support for the 3km Northern line extension from Kennington to the Battersea Power station scheme, which would help regenerate Vauxhall Nine Elms, on the South Bank and support up to 25,000 jobs and 16,000 new homes.</p>
<p>For more information and to keep up-to-date with the latest news on the Northern line extension, visit the <a href="/corporate/projectsandschemes/21614.aspx">Northern line extension page</a>. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong></p>
<p>From the Chancellor's Autumn statement last year: <br>A.17 Northern Line extension - The Government will support the extension of the Northern Line to Battersea. Subject to commitment by April 2013 from a developer to develop the site and make agreed contributions, the Government will consider allowing the Mayor of London and partner authorities to borrow against the Community Infrastructure Levy (CIL) to support this scheme. </p>
<p>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the Capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. </p>
<p>By the end of the current programme there will be 30 per cent&nbsp;more capacity. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk/check">www.tfl.gov.uk/check</a> </p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Thousands of Londoners have already had the opportunity to have their say and shape the plans for the proposed extension to Battersea, and extensive planning and design work has already been undertaken. Work is now underway to prepare a submission to the";}
        
        


 