


@{ViewBag.Title = "BBC Radio 1 star shares top tips to avoid travelling home at the busiest times during the Games ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>BBC Radio 1 star shares top tips to avoid travelling home at the busiest times during the Games </h1>
        <div class="content-page-press-release">
        14 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has teamed up with Radio 1's Aled Haydn Jones to showcase some of the best things to do after work during the Games.
        
    </div>



 <div class="on-this-page">
<p>Starting this week at <a href="http://www.getaheadofthegames.com">www.getaheadofthegames.com</a> BBC Radio 1 Breakfast Show producer Aled Haydn Jones will be blogging about his favourite places to go after work to encourage people affected by Games transport hotspots to travel home outside of peak hours.</p>
<p>For five weeks running, Aled will be checking out different areas of London which are all transport hotspots during the Games and recommending his top post-work choices in his weekly London Reviewed blog. </p>
<p>The areas are Waterloo, Bank and Liverpool Street, London Bridge, King's Cross and finally, Bond Street and Soho.</p>
<p>Whether it's a drink after work, enjoying the best of London theatre, grabbing a bite to eat, visiting a museum or doing something more active like rollerblading, swimming or rock climbing, Aled will make sure everything he recommends is within easy walking distance of each transport hotspot and open in the evening.</p>
<h2>Plan ahead</h2>
<p>The BBC Radio 1 Breakfast Show producer said: 'London is going to be a very exciting place to be this summer and I can't wait for the Games to start. However, with all the extra people in the Capital for the sport and cultural events, Londoners will need to plan ahead and avoid the travel hotspots. </p>
<p>'I hope my suggestions for after-work activities, which will include hidden gems alongside better known attractions, will inspire Londoners to make the most of their summer evenings in the city and avoid those hotspots at the busiest times.'</p>
<h2>Info to avoid travel hotspots</h2>
<p>Mark Evers, Director of Games Transport at TfL, said: 'With up to an extra one million visitors expected in London on each day of the Games, the transport network will be exceptionally busy so we are urging commuters to plan ahead by visiting <a href="http://www.getaheadofthegames.com">www.getaheadofthegames.com</a></p>
<p>'The addition of Aled's weekly blog posts on this website will ensure that Londoners not only have all the tools and information they need to avoid the travel hotspots but are also spoilt for choice in deciding how to spend their evenings during Games time.' </p>
<p>People wanting to get more top tips about the plethora of free events being presented by the Mayor of London right across the capital should also visit the website <a href="http://www.molpresents.com">www.molpresents.com</a><br>
<hr>
</p>
            <p><strong>Notes to editors:</strong></p>
<ul>
<li>Up to an extra one million visitors are expected in London on each day of the Games. Londoners will need to plan ahead to avoid disruption and delay to their journeys as the capital's public transport network will generally be exceptionally busy. Go to <a href="http://www.getaheadofthegames.com">www.getaheadofthegames.com</a> which has all the tools and information you need to plan ahead and avoid the travel hotspots. During the Games, follow the &#64;GAOTG and &#64;TfLTravelAlerts Twitter feeds </li>
<li>BBC Radio 1's Aled Haydn Jones' first blog post will go live at <a href="http://www.getahedofthegames.com">www.getahedofthegames.com</a> on Friday 15 June. This will be the first of five weekly blog posts as part of his 'London Reviewed' series which will be posted in the news section of the site every Friday. The final blog post will go live on Friday 13 July </li>
<li>The Mayor of London is hosting a huge programme of free events and cultural activities to add to the excitement of 2012. Working with outstanding international artists and world class cultural organisations this unprecedented Mayor of London Presents programme is taking place in every corner of the Capital to add to and complement the London 2012 Festival. It includes Secrets: Hidden London, with artists and performers transforming hidden and lesser known locations; Showtime, the largest outdoor arts festival ever seen in the capital, with dozens of electrifying artists from the UK and abroad coming to every borough, in high streets, parks and town centres; BT London Live, bringing live action from the Games, as well as sporting activities and entertainment to Hyde Park, Victoria Park and Trafalgar Square; and Surprises bringing pop-up performances and once in a lifetime experiences to locations familiar and unusual, above your heads and atop landmark buildings </li>
<li>To be the first to know what's happening in this Summer Like No Other , sign up or follow us at <a href="http://www.molpresents.com">www.molpresents.com</a> / <a href="http://www.facebook.com/mayoroflondonpresents">www.facebook.com/mayoroflondonpresents</a> / <a href="http://www.twitter.com/molpresents">www.twitter.com/molpresents</a>.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Starting this week at www.getaheadofthegames.com BBC Radio 1 Breakfast Show producer Aled Haydn Jones will be blogging about his favourite places to go after work to encourage people affected by Games transport hotspots to travel home outside of peak";}
        
        


 