


@{ViewBag.Title = "Benchmarking report makes case for continued Tube investment ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Benchmarking report makes case for continued Tube investment </h1>
        <div class="content-page-press-release">
        27 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has published its first Rail and Underground Annual Benchmarking Report under the direction of the Independent Investment Programme Advisory Group (IIPAG), the panel established to oversee TfL's huge investment programme.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This report shows the good positive trends for improvement in both reliability and maintenance costs across the Tube network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">LU's Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This report shows the good positive trends for improvement in both reliability and maintenance costs across the Tube network
                            
                        </p>
                    </div>
                
            
            
            <p>The report looks at the maintenance costs and reliability of the different parts of the underground network and compares the Tube with other metros around the world. </p>
<p>It recognises that great strides have been made in upgrading and improving the maintenance of the Tube network, which despite being the world's oldest metro, continues to carry as many passengers as the entire national rail network.</p>
<p>The reliability of the network has continued to improve over recent years - in 2011/12 the Tube recorded its best ever reliability. </p>
<p>Delays, as measured by lost customer hours, have been reduced by 42 per cent since 2007/08 and LU is among the more reliable of metros in its international peer group of European and North American metros. </p>
<h2>Huge improvements</h2>
<p>Passengers have continued to see huge improvements to their network as LU's programme of upgrades is delivered in order to meet further rising demand, and LU's strong focus on safety means that the network compares favourably with other metros around the world. </p>
<p>The recently upgraded Victoria line now has one of the highest performing fleets of trains on the Tube network, with reliability now twice the level that it was in 2007/08, comparing favourably with the best performing metros around the world.</p>
<p>With a system the age of London's network, and with the legacy of the failed Public Private Partnership system, a number of challenges remain including continuing to reduce maintenance costs and improve reliability. </p>
<p>LU is dealing with, and replacing, some very old technology, which is costly. A number of contracts inherited under the PPP were not competitive, and LU has renegotiated several of these already and continues to seek the best value for fares payers. </p>
<p>IIPAG observes that if costs and reliability on the Tube are to be world-leading, investment will need to be maintained and increased. LU is already committed to continuing to make the case for further investment and to continue the improvements seen already, such as the upgrade to the Victoria line, where new trains, track and signalling have increased capacity by a fifth and reduced journey times for passengers. </p>
<p>Measures already underway will see maintenance costs reduced significantly over the next six years. </p>
<h2>Positive trends</h2>
<p>David James, Chair of IIPAG, said: 'This is the first year that IIPAG has directed TfL's benchmarking and I am pleased to see that there are many good, positive trends for both reliability and unit costs with further significant improvements forecast.&nbsp; </p>
<p>'While there are many further challenges to be overcome in delivering a world class Underground, great strides have been made in upgrading and improving the maintenance of the Tube.'</p>
<p>Mike Brown, LU's Managing Director, said: 'Benchmarking is helping us to identify best practice and the innovation needed to drive performance up and costs down. </p>
<p>'This report shows the good positive trends for improvement in both reliability and maintenance costs across the Tube network, and highlights the need for continued and increased investment to renew a network that has been badly under-invested in for decades. </p>
<p>'Despite the challenges that we still face in delivering a massive rebuilding programme while carrying more passengers on a more reliable railway, we are on course for delivering the improvements that our passengers deserve even while keeping outdated signalling and trains going until they too can be replaced.'</p>
<p>Download the <a href="/corporate/about-tfl/publications/1482.aspx">Rail and Underground Annual Benchmarking Report</a>.<br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The report looks at the maintenance costs and reliability of the different parts of the underground network and compares the Tube with other metros around the world. It recognises that great strides have been made in upgrading and improving the";}
        
        


 