


@{ViewBag.Title = "Boarding passes ready as first Emirates Air Line flight takes off";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Boarding passes ready as first Emirates Air Line flight takes off</h1>
        <div class="content-page-press-release">
        28 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A major new landmark connecting two world class destinations providing panoramic views.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"`The Emirates Air Line is a stunning addition to London's transport network, providing a much needed new connection across the Thames"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            `The Emirates Air Line is a stunning addition to London's transport network, providing a much needed new connection across the Thames
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London today unveiled a brand new way to travel across the Thames as the Emirates Air Line - the UK's first ever urban cable car - took its first passenger flight. </p>
<p>The innovative addition to the capital's transport network provides a much-needed new river crossing in east London, affording spectacular bird's eye views of the city. </p>
<p>The cabins provide 360 degree views taking in the City, Canary Wharf, historic Greenwich, the Thames Barrier and the Olympic Park. </p>
<p>Having taken just under a year to complete main construction works, the Emirates Air Line has a cable span of 1,100 metres boasting three soaring helix towers. </p>
<p>Passengers will cross the River Thames travelling at heights of 90 metres between two brand new terminals (Emirates Greenwich Peninsula and Emirates Royal Docks), improving connections between two world class attractions - the O2 and ExCeL, whilst in close proximity to existing Tube and DLR systems. </p>
<h2>Revitalising East London</h2>
<p>The Emirates Air Line is a key part of the Mayor's ambitious plans to revitalise east London, driving economic growth and supporting jobs. </p>
<p>It will open up access to the Royal Docks Enterprise Zone and play a key part in attracting businesses and investors to the area. </p>
<p>The scheme itself has provided valuable jobs, with more than 60 people employed by Mace Macro to operate the Emirates Air Line. </p>
<p>Nearly half of these employees come from its host boroughs, the Royal Borough of Greenwich and Newham.</p>
<p>The Mayor of London, Boris Johnson, said: `The Emirates Air Line is a stunning addition to London's transport network, providing a much needed new connection across the Thames. </p>
<p>`I am sure the Emirates Air Line is now set to be a must-see destination in its own right, giving people the chance to drink in breath-taking panoramic views. </p>
<p>`Crucially, the Emirates Air Line supports my ambitious plans to revive the neighbouring areas, which have been neglected for decades, creating jobs for Londoners and stimulating growth. </p>
<h2>Bringing new investment</h2>
<p>`We said we could deliver this travel link in quick time, and today we have shown that this city is capable of attracting serious investment to deliver world class infrastructure. As the world's eyes focus on our city, I can think of no better message to send out across the globe.'</p>
<p>Last year the Mayor secured a &pound;36m, ten year sponsorship deal with Emirates, one of the world's leading airlines, covering the vast majority of the scheme's construction costs. </p>
<p>Tim Clark, President, Emirates Airline, said: `It is exhilarating to see the Emirates Air Line take flight for the first time today. </p>
<p>It reflects Emirates' philosophy of connecting people through exciting, innovative and shared experiences, and will provide residents, commuters and visitors alike with a unique perspective of London.'</p>
<p>The Emirates Air Line provides a brand new river crossing in east London which can be used by pedestrians, wheelchair users and cyclists. </p>
<p>They can board one of the 34 cabins from the new terminals, Emirates Greenwich Peninsula and Emirates Royal Docks, every 30 seconds. </p>
<p>Peter Hendy CBE, London's Transport Commissioner, said: `This is an historic day for the UK and a momentous day for London. </p>
<p>`The Emirates Air Line has been delivered in just two years, an incredibly short amount of time for the capital's newest mode of transport to be up and running. </p>
<p>`The engineering achievements that have been delivered have been no mean feat and I'm delighted to have been on board for the first flight with the Mayor and Emirates today.' </p>
<p>The whole scheme has been a complex engineering challenge but from conception to completion has been delivered in just over two years. </p>
<p>The main construction of the Emirates Air Line, lead by Mace, has involved more than 1,500 people on sites both sides of the river, helping to deliver the newest addition to the capital's transport network. </p>
<p>Mace Macro will operate the scheme. It can be used by pedestrians, wheelchair users and cyclists and has the capacity to carry up to 2,500 people per hour in each direction, the equivalent of 30 buses.&nbsp; </p>
<p>Stephen Pycroft, Chairman and Chief Executive of Mace, said: `The Emirates Air Line represents one of the most exciting and technically challenging projects Mace has undertaken.&nbsp; </p>
<p>`It is a tremendous achievement by everyone involved and we are proud to have delivered the UK's first urban cable car to exacting timescales and ready for the summer.'</p>
<p>The Emirates Air Line knits into London's existing transport network providing an interchange with the Jubilee line and Docklands Light Railway. </p>
<p>It will be open seven days a week and passengers can buy their boarding passes from vending machines or the ticket offices at both Terminals.</p>
<p>Passengers will be able to touch in at the gates with their Oyster pay as you go cards to take a flight on the Emirates Air Line. </p>
<p>There is a 'frequent flyer' boarding pass for regular users, which will allow them to make 10 single journeys for &pound;16, equating to just &pound;1.60 per single journey. </p>
<p>The frequent flyer boarding pass will appeal to people living or working in the local area who wish to use the Emirates Air Line on a regular basis and will be available to purchase at both Emirates Air Line Terminals. </p>
<p>A single fare boarding pass using Oyster pay as you go will cost &pound;3.20 (child fare &pound;1.60). </p>
<p>Passengers with a Travelcard or other Oyster cards (including Freedom Passes will be able to fly for the same fare but will need to buy a boarding pass from ticket offices or vending machines. </p>
<p>For those who want the experience of an extended journey to enjoy the fantastic views there will be the option to take a non-stop return journey. </p>
<p>This '360 degree tour' will cost &pound;6.40 with Oyster.</p>
<p>Journey times during commuter hours (07:00&nbsp;to 10:00 and 15:00 to 21:00 during the summer) are approximately five minutes. </p>
<p>TfL recognises that some visitors will want to experience the journey for as long as possible so the scheme will operate at slower speeds during non-commuter periods meaning a single journey could last up to 10 minutes. </p>
<p>
<hr>
<strong>Notes to editors:&nbsp; </strong>
<p><strong>
<ul></ul></strong>
<li>Images taken at the launch will be available from 11:00 at <a href="http://www.tflpressgallery.co.uk">www.tflpressgallery.co.uk</a>&nbsp; </li>
<li>For the latest Emirates Air Line travel information passengers can follow &#64;EmiratesAirLDN </li>
<li>Emirates operates 16 flights a day from the UK to Dubai with flights from Heathrow and London Gatwick along with four other UK airports (Birmingham, Manchester, Newcastle and Glasgow) </li>
<li>The Emirates Air Line will operate seven days a week, during the summer passengers can board from 07:00 to 21:00 Mondays to Fridays and between 08:00 and 21:00 on Saturdays, services will operate between 09:00 and 21:00 on Sundays. Winter closing time will be 20:00 </li>
<li>Extended operating hours for major events will see the Emirates Air Line operate until midnight Monday to Saturday and 23:30 on Sunday </li>
<li>Pay as you go holders will receive a 25 per cent discount on the adult fare, Oyster Travelcard holders will also get the 25 per cent discount but will need to purchase a boarding pass to travel. Adult single journey boarding passes will cost &pound;4.30. Children under five will board for free and a single journey for a child aged between five and 15 will cost &pound;1.60 with an Oyster card </li>
<li>Frequent flyer boarding passes can be purchases at both Emirates Air Line terminals </li>
<li>Frequent flyer journeys need to be used within 12 months </li>
<li>The standard fares for the Emirates Air Line are shown in the table below</li>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="100%" border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td><strong>Cash single fare</strong></td>
<td><strong>Fare for Oyster pay as you go users, Travelcard &amp; Freedom Pass holders</strong></td>
<td><strong>'Frequent flyer' ticket&nbsp;&nbsp;- 10 journeys</strong></td></tr>
<tr>
<td><strong>Adult boarding pass&nbsp;</strong></td>
<td>&nbsp;&pound;4.30</td>
<td>&nbsp;&pound;3.20*</td>
<td>&nbsp;&pound;16.00</td></tr>
<tr>
<td>&nbsp;<strong>Child boarding pass</strong></td>
<td>&nbsp;&pound;2.20**</td>
<td>&nbsp;&pound;1.60**</td>
<td>&nbsp;n/a</td></tr></tbody></table></div></p>
<p>&nbsp;* Oyster pay as you go users making&nbsp;five or more journeys in a week will be charged &pound;1.60.<br>** For children aged 5 to 15.&nbsp;Children under&nbsp;five travel free.</p>
<ul>
<li>Emirates Air Line fares will not be included in the Oyster daily capping<br><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London today unveiled a brand new way to travel across the Thames as the Emirates Air Line - the UK's first ever urban cable car - took its first passenger flight. The innovative addition to the capital's transport network provides a";}
        
        


 