


@{ViewBag.Title = "Businesses - and their employees - offered London 2012 Games travel advice live on Twitter";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Businesses - and their employees - offered London 2012 Games travel advice live on Twitter</h1>
        <div class="content-page-press-release">
        19 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        After the success of the first Twitter chat for businesses last month, Transport for London (TfL) will be hosting a second live Twitter chat this week.
        
    </div>



 <div class="on-this-page">
<p>TfL&nbsp;is calling for businesses and commuters to join in to learn more about how they can Get Ahead of the Games. </p>
<p>TfL will be joined by experts from Unilever and Sagicor at Lloyd's, who will answer questions to help Britain's employers and commuters plan their transport ahead of the London 2012 Games.</p>
<p>Ben Plowden, Director of Planning at TfL Surface Transport; Jacobina Plummer, Global Change and Communications Manager, Agile Working for Unilever; and Paul Marden, Marketing, Communications and CSR officer at Sagicor at Lloyd's (an insurance syndicate operating in Lloyd's of London insurance market)&nbsp; will be available between 13:00-14:00 BST on Thursday 21 June 2012 on Twitter. </p>
<h2>Industry experts</h2>
<p>Unilever and Sagicor are well-placed to answer questions having already developed best practice Games-time travel plans to suit their businesses. Their plans include offering flexible or home working options and encouraging employees to use alternative forms of transport, such as cycling or walking all or part of their commute. </p>

<p>The chat will be hosted by the official London 2012/TfL Get Ahead of the Games transport advice twitter feed &#64;GAOTG, using the hashtag #GAOTG. Questions for the panel can be submitted to <a href="http://twitter.com/#!/GAOTG">&#64;GAOTG </a>beforehand, using the hashtag #GAOTG.</p>
<p>Firms - and their employees - can&nbsp; ask questions to help them maximise the business benefits of the Games, and to plan ahead for an exceptionally busy transport network. Potential topics for the live chat include:<br></p>
<ul>
<li>How businesses are planning ahead to minimise the travel impact of the Games on operations </li>
<li>Ways to communicate plans to employees and stakeholders </li>
<li>Advice on alternative forms of transport, such as cycling or walking to work </li>
<li>Key hotspots that commuters will need to avoid </li>
<li>Tools and information needed about road events and how to plan journeys </li>
<li>Challenges experienced to date with travel planning and how to overcome them </li>
<li>How to test travel plans </li>
<li>Sending and receiving deliveries during Games-time </li>
<li>Legacy: How to continue with any travel plans put in place after the Games</li></ul>
<p>Businesses affected by the Games can follow #GAOTG on Twitter from 13:00-14:00 BST on Thursday 21 June 2012. </p>
<p>Ben Plowden, Director of Planning at TfL Surface Transport, said: 'After the success of the first ever Olympic Twitter chat for businesses, we're engaging with businesses once again, as well as tweeting directly to commuters. By teaming up with influential organisations already planning ahead for Games-time, this Twitter chat offers a direct channel for firms and London commuters to speak to other companies and workers as well as to TfL. </p>
<p>'During the Games, London will be turned into a massive sporting and cultural venue. As a result central London, the ORN and areas around venues will be exceptionally busy. This is why we're communicating with businesses to help them avoid delay and disruption and ensure they have all the advice and support they need to plan ahead.'</p>
<p>Jacobina Plummer, Global Change and Communications Manager, Agile Working for Unilever, said: 'Like many companies, business continuity will be critical for Unilever during the Games. Our approach to planning for Games-time is to raise employee awareness around the impact on the transport network, and the range of solutions to overcome this. Key to Unilever's Games-time plan is our approach to flexible working, which is ingrained in our business and available to all employees. As a result, 92 per cent&nbsp;of our London-based employees said they felt confident working away from the office during the Olympics. While it's taken us years to foster that culture, via Twitter I can share our experiences and some tips with other companies looking for last minute quick wins to help get ready for the Games.'</p>
<p>Paul Marden, Marketing, Communications and CSR officer, Sagicor at Lloyd's, said: 'We are taking planning very seriously as we're based in City of London, a key hotspot area. We have five staff managing different aspects of the planning from HR to IT and we're communicating all plans to employees in 'lunch and learn' sessions.&nbsp; Non-essential employees are being encouraged to work from home, while essential staff, like those trading at Lloyd's, are encouraged to walk or cycle into work. To make this as easy as possible, we're allowing 'dress down' during Games-time and looking to install bike storage. We've been planning since October last year and I'll draw on our experiences to answer questions during the live chat.'</p>
<p>London 2012 and TfL have provided free travel advice to business programmes to companies operating in areas of London and the rest of the UK that will be affected by the Games. Five hundred major businesses employing more than 600,000 people have signed up for specific travel advice and have drafted travel plans which they have shared with TfL, and 24,000 businesses across London and other affected areas of the UK have attended TfL arranged or supported workshops.</p>
<p>Businesses are encouraged to use the support available at <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> to prepare and test in advance of the Games.</p>
<p>
<hr>
<br>
<p>
            <p><strong>Notes to editors:</strong></p>
<ul>
<li>TfL will only be talking about business and London-commuter related travel planning questions and will not be answering questions outside those topics. Example questions for this chat may include: How can my business prepare for the Games? What can I do to reduce my travel? How do I ensure I receive deliveries during Games-time? What advice do you have if I usually commute on public transport, but wish to cycle during Games-time? </li>
<li>A transcript of the Twitter debate will be available on <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> following the Twitter chat </li>
<li>Ben Plowden is Director of Planning, Surface Transport at TfL. His responsibilities include providing the overall strategic direction for Surface Transport and delivery of cycling, walking, public realm, road safety, freight, bus priority and reducing Londoners' travel demand during the London 2012 Games. Ben Plowden has been at TfL since 2002, during which time he has held a number of senior roles </li>
<li>Jacobina Plummer is Global Change and Communications Manager of Unilever's global Agile Working Programme. Her responsibilities include developing training and workshops to help people improve their virtual working skills. She has worked with teams around the world including Bangkok, Moscow, New Jersey, Rome, Dubai and London to understand how flexible working can benefit a business, its employees and the environment. Jacobina has worked at Unilever for four years in a range of roles including internal communications and media relations </li>
<li>Paul Marden is Marketing, Communications and CSR officer for Sagicor at Lloyd's. His responsibilities include heading up Sagicor's Global Risks' Marketing, Communications and Corporate Social Responsibility department. Previously Paul worked as Operations Manager, including broker development and ran the successful rebranding of Gerling at Lloyd's to Sagicor at Lloyd's and BSU to Sagicor Underwriting Ltd. Paul has worked at Sagicor at Lloyd's for seven years </li>
<li>London 2012 and TfL are providing free travel advice to businesses operating in areas of London and the rest of the UK that will be affected by the Games.&nbsp;Central London, the ORN and areas around venues will be exceptionally busy.&nbsp; By visiting <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> or following the &#64;GAOTG Twitter channel, businesses can receive the latest tips, travel information and advice on how to plan ahead and keep their firms running smoothly </li>
<li>Further information about future Twitter chats will be added to <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> or &#64;GAOTG between now and the London 2012 Games<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL&nbsp;is calling for businesses and commuters to join in to learn more about how they can Get Ahead of the Games. TfL will be joined by experts from Unilever and Sagicor at Lloyd's, who will answer questions to help Britain's employers and commuters";}
        
        


 