


@{ViewBag.Title = "Changes to bus routes for the London 2012 Games ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Changes to bus routes for the London 2012 Games </h1>
        <div class="content-page-press-release">
        14 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Services on some of the Capital's busiest bus routes will be enhanced and some routes will be placed on diversion during the London 2012 Games.
        
    </div>



 <div class="on-this-page">
<p>During the Games, London will become a massive sporting and cultural venue and, while the majority of London's 700 bus routes will be unaffected, meticulous planning has gone into ensuring that disruption to bus passengers is kept to a minimum on those routes that will need to be diverted.</p>
<p>In order to keep London moving and help deliver a great Games, Transport for London (TfL)&nbsp;is advising those travelling by bus to plan ahead this summer using all the tools and information at <a href="http://www.getaheadofthegames.com/">GetAheadoftheGames.com</a>. </p>
<p>The London bus network will be vital to the day-to-day working of the Capital during the Games, as well as being an important transport option for spectators heading to Games events.</p>
<p>Detailed information on all planned changes to routes and services is available <a href="http://www.tfl.gov.uk/assets/downloads/bus-service-alterations-2012-games.pdf">here</a>.&nbsp; </p>
<p>The frequency of some services will be increased to provide extra capacity during Games-time.&nbsp;</p>
<p>Also, some single deck buses will be temporarily replaced with double deck buses.</p>
<p>A number of services will be diverted or use different terminals as a result of temporary road changes that are needed to help the Games run smoothly, or during Olympic and Paralympic events taking place on the Capital's roads.&nbsp;</p>
<p>Some bus stops will also be moved or temporarily suspended. Changes to services vary in duration depending on requirements.&nbsp;</p>
<p>The timings of diversions have been designed to keep disruption for the travelling public to an absolute minimum.&nbsp;The first of the changes has already taken place with the closure of Stratford City Bus Station at Westfield shopping centre requiring the diversion of routes 97, 241, 339 and D8 to Stratford town centre, but most changes will not be needed until closer to Games-time.</p>
<p>John Barry, TfL's Head of Network Development for London Buses, said: 'During the Games, London will become a massive sporting and cultural venue.&nbsp; With one million additional people expected in London at Games-time, this will have an impact on the road network and, consequently, some bus routes.</p>
<p>'We have talked to boroughs, community groups and other organisations to ensure that the bus network will help keep London moving during this busy time.&nbsp;Although most of TfL's bus network will not be affected by diversions, we are advising passengers to plan ahead before they travel this summer.</p>
<p>All the information Londoners and visitors alike will need about the London 2012 Games can be found at <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a>. There will also be information about the bus network at the bus stops on the routes affected.'</p>
<p>&nbsp;</p>
            <p><strong>Notes to editors:</strong></p>
<ul>
<li>Information about travel hotspot locations during Games-time and interactive maps detailing proposed changes to the road network on the Olympic Route Network (ORN), including suspended and relocated bus stops, are available from <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a>.</li>
<li>The changes are based on detailed forecasts of demand for transport during the Games</li>
<li>In some places, routes have been diverted onto roads not usually served by buses; route tests will be carried out to ensure the suitability of the roads concerned</li>
<li>Around &pound;6.5 billion has been invested in upgrading and extending transport links to increase capacity and improve services in the Capital in the run-up to the Games. This is already providing an early legacy of better transport options, particularly for people living in east London, which will benefit millions of people and support economic development for generations to come</li>
<li>Some of the bus diversions relate to the ORN. The ORN will come into operation a couple of days before the Olympic Games and will be removed as soon as possible once the Olympics are over. It will not be in operation again until a couple of days ahead of the Paralympic Games, and will be removed as soon as possible after the Paralympics have finished. General traffic can, with the exception of Birdcage Walk, Constitution Hill and The Mall, use the entire 109-mile ORN (which makes up just&nbsp;one per cent of the London's road network). Only one third of the ORN will have Games Lanes, which are only implemented where more than one lane is available, and which are open to the Games family - the media (who make up the largest element of the Games family), athletes, officials, Games workers, sponsors and IOC members. The ORN is necessary in order to get all athletes, officials and the media to their Games events on time, and has been a feature of all Host Cities contracts with the IOC since the Atlanta Games in 1996</li>
<li>Bus diversions related to the ORN will be in place for the minimum time necessary</li>
<li>London buses carry approximately 6.5 million passengers a day on 7,500 buses along 700 routes<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "During the Games, London will become a massive sporting and cultural venue and, while the majority of London's 700 bus routes will be unaffected, meticulous planning has gone into ensuring that disruption to bus passengers is kept to a minimum on those";}
        
        


 