


@{ViewBag.Title = "Contingency travel advice if strike called by Unite leadership goes ahead";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Contingency travel advice if strike called by Unite leadership goes ahead</h1>
        <div class="content-page-press-release">
        21 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL urges Unite leadership to call off strike planned to start on Friday 22 June.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"If the strike does go ahead, all parts of Transport for London are working together with our partners to ensure that Londoners and visitors have alternative travel options."</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">TfL's Managing Director of Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            If the strike does go ahead, all parts of Transport for London are working together with our partners to ensure that Londoners and visitors have alternative travel options. 
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Mayor has ensured there is no need for strike action, but should Unite proceed some routes are likely to be disrupted </li>
<li>Passengers urged to use other transport services, walk or cycle where possible </li>
<li>Check before you travel at <a href="http://www.tfl.gov.uk/buses">tfl.gov.uk/buses</a> </li></ul>
<p>Transport for London (TfL) has today issued contingency travel advice if the strike called by the leadership of the Unite union goes ahead on Friday 22 June 2012.</p>
<p>The Mayor of London, Boris Johnson, has ensured that there is no reason for the bus strike to go ahead - having brokered a deal with the Olympic Delivery Authority (ODA) to provide an additional &pound;8.3m to allow the bus operators to reach settlements with the union. </p>
<h2>Other options</h2>
<p>The two parties are now at the conciliation services ACAS discussing the issue.</p>
<p>If some drivers do still choose to go on strike, then evidently there will be fewer buses in service and some routes are likely to be disrupted. </p>
<p>In those circumstances TfL urges passengers to use other transport options, or to walk or cycle where possible. </p>
<p>The average bus journey is around 2.2 miles so many of these journeys could be made in this way. </p>
<h2>Manage disruption</h2>
<p>Passengers should check for the latest information at <a href="http://www.tfl.gov.uk/buses">tfl.gov.uk/buses</a></p>
<p>TfL has put in place a number of measures to help people get around and to manage disruption should the strike go ahead.&nbsp;These include:</p>
<ul>
<li>London Buses staff and volunteers from across TfL will be on the streets and at key transport hubs across London to provide travel advice and distribute walking maps </li>
<li>TfL will operate a full service across the Tube network, with extra staff on hand to assist passengers </li>
<li>Full services will also be operated on the Docklands Light Railway, London Tramlink and London Overground networks with additional staff deployed to assist passengers </li>
<li>Marshalled taxi ranks will operate at a number of key rail hubs including Victoria, St Pancras, Waterloo, Liverpool Street and London Bridge </li>
<li>A full service will also be operated by London River Services, which includes River Bus services that operate high frequency services between various key piers </li>
<li>During the course of the strike bus passes will be accepted on reasonable alternative routes on Tube, DLR, and London Overground - affected passengers should seek assistance from staff at the gate lines </li>
<li>TfL has also emailed around 1.5 million registered bus users advising them of the likely disruption and urging them to check before they travel </li>
<li>Additional distribution staff will work throughout Friday to ensure Barclays Cycle Hire Scheme docking stations are able to meet demand at key locations&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp; </li></ul>
<p>Leon Daniels, TfL's Managing Director of Surface Transport, said: 'There is no reason for this strike to go ahead. </p>
<p>'The Mayor has secured an additional &pound;8.3m from the ODA to enable the bus companies and the union to negotiate a settlement.&nbsp;&nbsp; </p>
<p>'However, if the strike does go ahead, all parts of Transport for London are working together with our partners to ensure that Londoners and visitors have alternative travel options and the necessary advice to enable them to get around.</p>
<p>'I would advise everybody to use other transport services, to consider walking and cycling for shorter journeys and to check before travelling at <a href="http://www.tfl.gov.uk/buses">tfl.gov.uk/buses</a>.'&nbsp; </p>
<h2>Congestion management</h2>
<p>Up-to-date bus service information can be found at tfl.gov.uk/buses or m.countdown.tfl.gov.uk </p>
<p>London Underground has well-practised congestion management procedures to deal with large numbers of customers. </p>
<p>Should this strike go ahead, it will have additional staff in place at key locations to provide help and information to enable customers to complete their journeys. </p>
<p>All staff are well-trained and fully understand&nbsp;the congestion management plans, and London Underground will be ready to use those procedures if necessary to ensure that we can continue to keep London moving.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Mayor has ensured there is no need for strike action, but should Unite proceed some routes are likely to be disrupted Passengers urged to use other transport services, walk or cycle where possible Check before you travel at tfl.gov.uk/buses Transport for";}
        
        


 