


@{ViewBag.Title = "Daily weekday River Bus services to treble between Putney and Blackfriars";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Daily weekday River Bus services to treble between Putney and Blackfriars</h1>
        <div class="content-page-press-release">
        07 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Thames Clippers appointed to run River Bus services from Putney.
        
    </div>



 <div class="on-this-page">
<ul>
<li>More services, stopping at more piers, with greater accessibility and Oyster accepted for the first time </li>
<li>New contract guarantees services for another five years&nbsp;&nbsp; #</li></ul>
<p>River Bus services from Putney will treble from October, as Transport for London appoints KPMG Thames Clippers to be the new operator of the Putney to Blackfriars route.</p>
<p>Thames Clippers will provide a significantly enhanced River Bus service with more services on weekdays on modern, fully accessible, high speed catamarans. </p>
<h2>Guaranteed for five years</h2>
<p>The new contract guarantees the service, which is used by hundreds of Londoners every weekday, for another five years, and is the result of close collaboration between the Mayor's office, TfL and Wandsworth Council.</p>
<p>As well as providing more services on the route, the Thames Clippers River Bus will call at more piers, including St George's Wharf in Vauxhall, and provide easy interchange to River Bus services operating in the east to Woolwich Arsenal.</p>
<p>These well established River Bus services have been operated by KPMG Thames Clippers for a number of years. Thames Clippers will also bring Oyster to the route, as they accept Pay as You Go and offer a reduced fare to passengers with travelcards.</p>
<p>In order to make the route fully accessible, essential improvement work is to be carried out on a number of piers on the route, funded by Wandsworth Council and KPMG Thames Clippers. </p>
<h2>More services everyday</h2>
<p>Peter Hendy CBE, London's Transport Commissioner, said: 'KPMG Thames Clippers bring with them a wealth of knowledge and understanding of operating River Bus services on river Thames, which will benefit the many hundreds who will use their services every day.</p>
<p>'With improved integration with other River Bus services I am sure more people than ever will make the most of what the river has to offer.'</p>
<p>Leader of Wandsworth Council, Councillor Ravi Govindia said: 'This news will be warmly welcomed by our residents and commuters who rely on River Bus services to travel around London. </p>
<p>'They will soon be able to access more services every weekday, board and depart at more piers - and experience better integration with the wider transport network across the Capital.'</p>
<p>Passengers will benefit for the first time from the convenience of being able to pay from their Oyster pay as you go balance, along with discounts for Travelcard holders.</p>
<p>For regular passengers there is a range of competitive season tickets available on a weekly, monthly, half yearly and yearly basis.</p>
<p><strong>Note:</strong> This press release is a revised version of the one issued 24 May, with two minor corrections made.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors: </strong></p>
<ul>
<li>Live travel news is available at <a href="http://www.tfl.gov.uk/livetravelnews">www.tfl.gov.uk/livetravelnews</a> </li>
<li>Further information on services offered by London River Services is available at <a href="http://www.tfl.gov.uk/river">www.tfl.gov.uk/river</a> </li>
<li>London River Services owns and operates eight piers on the river: Westminster Millennium, Festival, Embankment, Millbank Millennium, Blackfriars Millennium, Bankside, Tower Millennium and Greenwich </li>
<li>People wishing to travel on the river can benefit from a third off the normal advertised adult and child fares on most services if they produce a valid Travelcard or Oyster card loaded with a valid Travelcard when purchasing a ticket. Pay as you go Oyster cards are accepted on Thames Clippers services and passengers can get a ten per cent discount on adult fares </li>
<li>All London River Services piers are accessible and step-free at all states of the tide, allowing easy access for mobility impaired passengers. All KPMG Thames Clippers catamarans are fully accessible<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "More services, stopping at more piers, with greater accessibility and Oyster accepted for the first time New contract guarantees services for another five years&nbsp;&nbsp; #River Bus services from Putney will treble from October, as Transport for London";}
        
        


 