


@{ViewBag.Title = "Emirates Air Line to open to passengers from end of June";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Emirates Air Line to open to passengers from end of June</h1>
        <div class="content-page-press-release">
        18 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passengers will be able to take the first flight from midday Thursday 28 June 2012.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This spectacular new addition to London's skyline will provide a much needed new river crossing in the east of our great city."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This spectacular new addition to London's skyline will provide a much needed new river crossing in the east of our great city.
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London will fulfill his pledge to build the UK's first urban cable car when the Emirates Air Line opens to the public from midday on Thursday 28 June 2012, providing a vital new river crossing for east London.&nbsp;&nbsp; </p>
<p>The 1.1km long river crossing, between Greenwich and the Royal Docks, will have the capacity to carry up to 2,500 people per hour in each direction, the equivalent of 30 buses. </p>
<p>Initially it will operate seven days a week, from 07:00 to 21:00 Mondays to Fridays, 08:00 to 21:00 on Saturdays and 09:00 to 21:00 on Sundays. </p>
<h2>Frequent flyer</h2>
<p>Transport for London (TfL) confirmed today that passengers will be able to touch in at the gates with their Oyster pay as you go cards to take a flight on the Emirates Air Line; and that they have developed a 'frequent flyer' boarding pass for regular users, which will allow them to make 10 single journeys for &pound;16, equating to just &pound;1.60 per single journey. </p>
<p>The frequent flyer boarding pass will appeal to people living or working in the local area who wish to use the Emirates Air Line on a regular basis and will be available to purchase from both Emirates Air Line terminals. </p>
<p>A single fare boarding pass using Oyster pay as you go for the Emirates Air Line will cost &pound;3.20 (child fare &pound;1.60).</p>
<p>Passengers with a Travelcard or other Oyster cards (including Freedom Passes) will be able to fly for the same fare but will need to buy a boarding pass from ticket offices or vending machines which are available at both terminals, Emirates Greenwich Peninsula and Emirates Royal Docks.&nbsp;</p>
<h2>Fantastic views</h2>
<p>Passengers without an Oyster or Travelcard will need to pay a slightly higher cash fare.&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>For those who want the experience of an extended journey to enjoy the fantastic views of the City, which include Canary Wharf, the Thames Barrier and the Olympic Park, there will be the option to take a non-stop return journey. </p>
<p>This '360 degree tour' will cost &pound;6.40 with Oyster. </p>
<p>The Mayor of London, Boris Johnson, said: 'On 28 June this spectacular new addition to London's skyline will provide a much needed new river crossing in the east of our great city. </p>
<h2>Vibrant quarter</h2>
<p>'It will open up access to jobs in the Royal Docks enterprise zone and attract businesses and investors to a previously under exploited area. </p>
<p>'The Emirates Air Line is part of my plan to develop a package of new river crossings in east London and transform the surrounding area into a vibrant new metropolitan quarter that will attract new jobs, homes and enterprise.'</p>
<p>The innovative Emirates Air Line is a key plank of the Mayor's plans to revitalise east London and create jobs for Londoners and attract investment into the capital. </p>
<p>Over 50 people have been employed by Mace Macro to operate the Emirates Air Line; nearly half of these employees come from the local area.&nbsp; </p>
<p>Peter Hendy CBE, London's Transport Commissioner, said: 'Passengers will very soon get to experience this unique and exciting new addition to London's transport network. </p>
<h2>10-year deal</h2>
<p>'Londoners and visitors to the capital will be able to experience a direct and quick way of crossing the river while enjoying the fantastic views from the cabins. </p>
<p>'The Emirates Air Line is an amazing achievement for all of those involved, given the timescale they worked within from it being an initial idea to a completed mode of transport.'</p>
<p>Emirates, one of the world's fastest growing airlines, helped to make this new transport scheme a reality by investing &pound;36m in a 10-year sponsorship deal.</p>
<p>'Emirates is known for its innovative customer experiences and our partnership with Transport for London to link communities in the city is a testament to this,' said Tim Clark, President, Emirates Airline. </p>
<p>'The Emirates Air Line will bridge people closer, enabling them to discover, connect and express their ideas about this diverse city through crossing its majestic river, providing an incredible travel experience for residents, commuters and visitors alike.'</p>
<p>
<hr>
<br><strong>Notes to editors:</strong> 
<p>
<ul>
<li>There will be extended opening hours when there are events at the local venues, including Olympic events. Details of the extended hours will be announced nearer the time </li>
<li>All cabins are wheelchair accessible. Cabins can accommodate up to two bikes </li>
<li>The standard fares for the Emirates Air Line are shown in the table below</li></ul>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;Cash single fare</td>
<td>&nbsp;Fare for Oyster pay as you go users, Travelcard &amp; Freedom Pass holders</td>
<td>&nbsp;'Frequent flyer' ticket <br>- 10 journeys<br></td></tr>
<tr>
<td>&nbsp;Adult boarding pass</td>
<td>&nbsp;&pound;4.30</td>
<td>&nbsp;&pound;3.20*</td>
<td>&nbsp;&pound;16.00</td></tr>
<tr>
<td>&nbsp;Child boarding pass</td>
<td>&nbsp;&pound;2.20</td>
<td>&nbsp;&pound;1.60**</td>
<td>&nbsp;n/a</td></tr></tbody></table></div>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;* Oyster pay as you go users making 5 or more journeys in a week will be charged &pound;1.60.<br>** For children aged 5 to 15.&nbsp; Children under 5 travel free.<br></td></tr></tbody></table></div></p>
<ul>
<li>Multi trip journeys need to be used within 12 months </li>
<li>Emirates Air Line fares will not be included in the Oyster daily capping<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London will fulfill his pledge to build the UK's first urban cable car when the Emirates Air Line opens to the public from midday on Thursday 28 June 2012, providing a vital new river crossing for east London.&nbsp;&nbsp; The 1.1km long river";}
        
        


 