


@{ViewBag.Title = "First stations named for London Underground WiFi launch ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>First stations named for London Underground WiFi launch </h1>
        <div class="content-page-press-release">
        01 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Customers will soon be able to connect to the internet at Tube stations across the Capital.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The first stations include some of our busiest and most well-known destinations and we're on-track for a successful launch this summer"</div>
        <div class="quote-footer">
            <div class="quotee-name">Gareth Powell</div>
            <div class="quotee-job-title">London Underground's Director of Strategy and Service Development</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The first stations include some of our busiest and most well-known destinations and we're on-track for a successful launch this summer
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Oxford Circus, Stratford and King's Cross among stations WiFi enabled for free this summer </li>
<li>Service on track for up to 120 stations connected by end of 2012 </li></ul>

<p>London Underground and Virgin Media have named the first London Underground stations that will be WiFi enabled for free this summer. </p>
<p>Stations including Oxford Circus, Stratford, Liverpool Street, Leicester Square and King's Cross will be among the first to launch, with around 80 stations WiFi enabled by the end of July. </p>
<h2>Free&nbsp;service for&nbsp;passengers</h2>
<p>With the eyes of the world on London this summer, Virgin Media's next generation WiFi service will be made available to all Tube passengers for free throughout the summer. </p>
<p>Millions of commuters and visitors to London will be able to get online at Tube stations and find their way around the Capital with up-to-the-minute TfL travel information, access social media while they wait for their next train on the station platform or browse the web to discover the very best London has to offer this summer. </p>
<p>Gareth Powell, London Underground's Director of Strategy and Service Development, said: 'Our customers will soon be able to connect to the internet for live travel information while they are on the move through stations. </p>
<p>'Bringing a next generation WiFi service to one of the world's oldest underground transport networks is progressing as planned and the forthcoming service is testing well. </p>
<p>'The first stations include some of our busiest and most well-known destinations and we're on-track for a successful launch this summer - all delivered at no additional cost to fare payers or tax payers.' </p>
<h2>Testing taking place</h2>
<p>Jon James, Executive Director of Broadband at Virgin Media, said: 'In partnership with TfL, we've been working around-the-clock to install and test WiFi on London Underground and are about to connect some iconic and world famous Tube stations with a WiFi service London will be proud of.'</p>
<p>Virgin Media and London Underground engineers continue to test and prepare the forthcoming WiFi service, including recent capacity testing at Chancery Lane underground station where hundreds of devices were connected to the station's WiFi service at exactly the same time to reproduce the service experience of a busy Tube train arriving at the station.</p>
<p>The new free online portal will offer up-to-the-minute TfL service information including TfL's journey planner and entertainment and news content useful for a commute to work or trip into town.&nbsp; </p>
<p>
<hr>
<strong>Notes to editors</strong> 
<p>
<p>The London Underground stations planned for installation by the end of July 2012 are: </p>
<p>Aldgate East&nbsp;<br>Elephant &amp; Castle&nbsp;<br>London Bridge &nbsp;<br>St Paul's<br>Angel&nbsp;<br>Embankment&nbsp;<br>Manor House&nbsp;<br>Stepney Green<br>Archway&nbsp;Euston&nbsp;<br>Mansion House&nbsp;<br>Stockwell<br>Arsenal&nbsp;<br>Euston Square &nbsp;<br>Marble Arch&nbsp;<br>Stratford <br>Barbican&nbsp;<br>Finsbury Park &nbsp;<br>Marylebone <br>Swiss Cottage<br>Bayswater&nbsp;<br>Goodge Street &nbsp;<br>Mile End&nbsp;<br>Temple <br>Bermondsey&nbsp;<br>Green Park &nbsp;<br>North Greenwich &nbsp;<br>Tottenham Hale<br>Bethnal Green&nbsp;<br>Hammersmith (District/Picc)&nbsp;<br>Old Street&nbsp;<br>Tower Hill<br>Blackhorse Road <br>Heathrow T1-3&nbsp;<br>Oval&nbsp;<br>Tufnell Park <br>Borough&nbsp;<br>Heathrow T4&nbsp;<br>Oxford Circus&nbsp;<br>Vauxhall<br>Brixton&nbsp;<br>High Street Kensington&nbsp;<br>Paddington (Main)&nbsp;<br>Victoria <br>Caledonian Road &nbsp;<br>Highbury &amp; Islington&nbsp;<br>Piccadilly Circus &nbsp;<br>Walthamstow Central<br>Camden Town &nbsp;<br>Holborn&nbsp;Pimlico&nbsp;<br>Warren Street <br>Canada Water&nbsp;<br>Holland Park &nbsp;<br>Queensway&nbsp;<br>Warwick Avenue <br>Canary Wharf &nbsp;<br>Hyde Park Corner&nbsp;<br>Regents Park &nbsp;<br>Waterloo <br>Canning Town &nbsp;<br>Kentish Town &nbsp;<br>Seven Sisters&nbsp;<br>Wembley Central<br>Chancery Lane&nbsp;<br>Kings Cross/St Pancras&nbsp;<br>Southfields&nbsp;<br>Wembley Park <br>Charing Cross &nbsp;<br>Lambeth North&nbsp;<br>Southwark&nbsp;<br>West Ham<br>Clapham North&nbsp;<br>Lancaster Gate&nbsp;<br>St James Park&nbsp;<br>Wimbledon Park<br>Covent Garden &nbsp;<br>Leicester Square &nbsp;<br>St Johns Wood&nbsp;<br>Westminster<br>Edgware Road (Circle)&nbsp;<br>Liverpool Street &nbsp;&nbsp;</p>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Oxford Circus, Stratford and King's Cross among stations WiFi enabled for free this summer Service on track for up to 120 stations connected by end of 2012 London Underground and Virgin Media have named the first London Underground stations that will be";}
        
        


 