


@{ViewBag.Title = "Join in the celebrations across the capital this summer with a limited edition Summer Oyster card ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Join in the celebrations across the capital this summer with a limited edition Summer Oyster card </h1>
        <div class="content-page-press-release">
        13 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        With a fantastic event filled summer ahead, Transport for London's (TfL's) latest limited edition commemorative Oyster cards are now available to mark the celebrations in London.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This will be one of the most memorable summers that Londoners and visitors to the capital will experience and we are delighted to reflect that with our latest limited edition Summer Oyster cards."</div>
        <div class="quote-footer">
            <div class="quotee-name">Shashi Verma</div>
            <div class="quotee-job-title">TfL's Director of Customer Experience</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This will be one of the most memorable summers that Londoners and visitors to the capital will experience and we are delighted to reflect that with our latest limited edition Summer Oyster cards. 
                            
                        </p>
                    </div>
                
            
            
            <p>The light hearted design depicts some key London landmarks and events the Capital is hosting this summer, including the London 2012 Olympic and Paralympic Games and the Queen's Diamond Jubilee. </p>
<p>To add to the excitement, the Mayor of London is also presenting a huge programme of free events and cultural activities across the capital in collaboration with outstanding international artists and world class cultural organisations.</p>
<p>Around 1.5 million limited edition 2012 London Summer Oyster cards have been produced and are available to purchase from all London Underground stations, Oyster Ticket Stops, Travel Information Centres and online. </p>
<h2>Great souvenir</h2>
<p>These limited edition cards have begun to be stocked at stations and are on sale now. </p>
<p>Shashi Verma, TfL's Director of Customer Experience, said: 'This will be one of the most memorable summers that Londoners and visitors to the capital will experience and we are delighted to reflect that with our latest limited edition Summer Oyster cards. </p>
<p>'Our network will play a crucial role in delivering a wonderful summer and will provide many with a great souvenir as well as providing them with a convenient way to get around on public transport.'</p>
<p>The unprecedented Mayor of London Presents programme is taking place in every corner of the capital. </p>
<p>It includes:</p>
<ul>
<li>Secrets: Hidden London, with artists and performers transforming hidden and lesser known locations </li>
<li>Showtime, the largest outdoor arts festival ever seen in the Capital, with dozens of electrifying artists from the UK and abroad coming to every borough, in high streets, parks and town centres </li>
<li>BT London Live, bringing live action from the Games, as well as sporting activities and entertainment to Hyde Park, Victoria Park and Trafalgar Square; and </li>
<li>Surprises bringing pop-up performances and once in a lifetime experiences to locations familiar and unusual, above your heads and atop landmark buildings</li></ul>
<p>The Summer Oyster card follows the release of the limited edition Queen's Diamond Jubilee Oyster card in May this year, and the Royal Wedding Oyster cards in March 2011. </p>
<p>Since its introduction in 2003, the Oyster card has now become the world's most popular travel smartcard with more than 43 million cards issued since 2003. </p>
<p>It also now accounts for more than 80 per cent of all public transport journeys in London. </p>
<p>To be the first to know what's happening in this Summer Like No Other , sign up or follow us at <a href="http://www.molpresents.com">www.molpresents.com</a>,&nbsp; <a href="http://www.facebook.com/mayoroflondonpresents">www.facebook.com/mayoroflondonpresents</a> or <a href="http://www.twitter.com/molpresents">www.twitter.com/molpresents</a>.</p>
<p>
<hr>
<br><strong>Notes to editors: </strong>
<ul>
<li>The &pound;5 deposit and &pound;5 minimum top-up will apply as normal for the limited edition cards </li>
<li>Using Oyster, passengers only need one card to travel on all public transport across London, including National Rail services operating within the Capital. Oyster pay as you go customers are always reminded to touch in and out at the start and end of every journey to ensure they pay the correct fare. Users only need to touch in on trams and buses </li>
<li>Delivery will be phased so not all outlets will have them from the earliest distribution date of 11 June but all outlets will have stock before 27 July</li></ul>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The light hearted design depicts some key London landmarks and events the Capital is hosting this summer, including the London 2012 Olympic and Paralympic Games and the Queen's Diamond Jubilee. To add to the excitement, the Mayor of London is also";}
        
        


 