


@{ViewBag.Title = "Latest figures show TfL maintains Tube reliability achievements ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Latest figures show TfL maintains Tube reliability achievements </h1>
        <div class="content-page-press-release">
        25 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        First four-week period of 2012/13 sees continuation of long-term increase in reliability performance across network.
        
    </div>



 <div class="on-this-page">
<p>Tube performance figures published today show long-term reliability on the Tube network has continued to improve in the first four-week period of 2012/13, building on the successes of last year.</p>
<p>The Tube reached record levels of performance and improved reliability across the year 2011/12, following the introduction of a massive programme of reliability measures and investment. </p>
<h2>Demand continues to grow</h2>
<p>The new performance statistics show that reliability, as measured by lost customer hours, remained on a par with the previous period, a 17 per cent improvement on period 1 last year. Like for like year-on-year passenger demand has also continued to grow.</p>
<p>During the four-week period 96.9 per cent of trains ran to schedule and journey time was improved on both the previous period and period 1 of 2011/12. Across the network Lost Customers Hours have been reduced by 42 per cent since 2007/08.</p>
<p>Mike Brown, London Underground's Managing Director, said: 'We're entering a crucial period for transport in the Capital and my team and I are determined to maintain the improvements in reliability we've seen over the last year. </p>
<p>'Recent weeks have been challenging on the network and we know there is more to be done, but I'm confident we're geared up to keep moving in the right direction.' </p>
<h2>Measures to improve performance</h2>
<p>A comprehensive range of measures have led to the improvement in performance. They include:</p>
<ul>
<li>New techniques are being introduced to remotely monitor the conditions of track and signals to predict when intervention is required in order to prevent unexpected equipment failure. Automated Track Monitoring Systems (ATMS) will automatically identify&nbsp; track related defects so that corrective maintenance activities can be planned to minimise disruption to passengers. A prototype ATMS system is now in operation and 12 trains will be fitted with the system, providing up to two service trains on the Bakerloo, Central, Victoria and Sub surface lines by late 2012 </li>
<li>An initiative launched with the British Transport Police (BTP) has seen some of the Tube's Emergency Response Unit (ERU) vehicles designated as police vehicles and driven by trained BTP officers for speedier response to serious incidents. Since the trial began in February the ERU response time to incidents in central&nbsp; London has been almost halved. From 1 July LU will be increasing staffing of ERU depots from 101 to more than 130 </li>
<li>London Underground is increasing its incident response capabilities, and developing plans to co-locate engineering and operations staff in one command and control centre so it can speed up the time it takes to recover from incidents </li>
<li>The installation of covers on the passenger emergency alarms on Victoria line trains has significantly reduced the number of accidental activations by passengers. Similar covers are being designed and fitted to the Jubilee, Northern and Piccadilly fleets prior to the 2012 Games before further roll-out to the Bakerloo, Central and District lines</li></ul>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Full performance statistics for London Underground period 1 of 2012-13 are available on the <a href="/corporate/modesoftransport/londonunderground/1592.aspx">TfL website</a> </li>
<li>In the last financial year, ending 31 March 2012, London Underground trains ran 72.4 million kilometres, the highest ever, and passengers made more than 1.17m journeys, a new record, up 5.7 per cent&nbsp;from 2010/11 </li>
<li>For customer satisfaction the fourth quarter's overall evaluation score at 81 was above target, giving an annual average of 80, the highest since records began</li></ul>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Tube performance figures published today show long-term reliability on the Tube network has continued to improve in the first four-week period of 2012/13, building on the successes of last year.The Tube reached record levels of performance and improved";}
        
        


 