


@{ViewBag.Title = "London bus staff recognised in Queen's Birthday Honours";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London bus staff recognised in Queen's Birthday Honours</h1>
        <div class="content-page-press-release">
        18 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Two London bus workers have been recognised in the Queen's Birthday Honours list for their quick thinking and brave actions during the summer disturbances.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I am proud beyond measure of the staff of TfL and our contractors who maintained our services through the worst civil disturbances in living memory."</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy CBE</div>
            <div class="quotee-job-title">Transport for London's Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I am proud beyond measure of the staff of TfL and our contractors who maintained our services through the worst civil disturbances in living memory.
                            
                        </p>
                    </div>
                
            
            
            <p>Kenneth Martin, a Night Traffic Controller for London Buses and Peter Middleton, an Area Controller for Arriva have been recognised for going above and beyond the call of duty and will both receive MBEs.</p>
<p>At the height of the disturbances, Kenneth continued his role as Night Traffic Controller in south east London. He was deployed to the Brixton area shortly before events there escalated. Despite his own vehicle coming under attack, he continued to assist passengers and bus drivers helping to get them to safety. Kenneth also then went out to recover a number of abandoned buses in the area returning them to garages. Not only did this prevent the buses from being damaged in the street, it also ensured they were ready for service the next day. </p>
<p>Through his actions, he provided a remarkable service to London's buses and bus passengers. Kenneth and his Night Traffic Controller team were recognised at Transport for London's (TfL's)&nbsp;London Bus Awards held in March this year. </p>
<p>
<hr>

<p>
<p>Peter was injured when the peaceful demonstration outside Tottenham Police Station escalated. Despite this, he returned to Arriva's Tottenham bus garage where he took charge and organised other controllers in moving buses away from the disturbances as they spread, whilst keeping the bus services running. He set an outstanding example and performed a crucial role in a very challenging situation, putting himself at risk to ensure the safety of others.</p>
<p>TfL's Commissioner, Peter Hendy CBE said:&nbsp;'The honours are both a well deserved recognition of the actions and efforts of the individuals concerned, and also of their colleagues throughout the network. </p>
<p>'I am proud beyond measure of the staff of TfL and our contractors who maintained our services through the worst civil disturbances in living memory.&nbsp; They demonstrated courage and professionalism, and through determination and bravery, they managed to keep the city moving and our users safe.&nbsp;</p>
<p>'TfL - and London - carried on because of the heroic actions of individuals such as Kenneth and Peter and I congratulate them on their awards.'</p>
<p>
<hr>

<p>
<p>Kenneth Martin, Night Network Traffic Controller, London Buses, said:&nbsp;'I am overwhelmed to be awarded an MBE and would like to share it with all my colleagues who worked so hard to keep passengers safe and London moving during such a difficult time.'</p>
<p>Peter Middleton, Area controller for Arriva said: 'It is a real honour to receive this award, I really feel that I am accepting this for all my colleagues who were working that evening.'</p>
<p>
<hr>
<br>
<p>
            <p><strong>Notes to Editors</strong></p>
<ul>
<li>Kenneth Martin, 51, is from Kent. He has worked for London Buses for 12 years</li>
<li>Peter Middleton, 51, is from Waltham Forest. He has worked for Arriva for 29 years<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Kenneth Martin, a Night Traffic Controller for London Buses and Peter Middleton, an Area Controller for Arriva have been recognised for going above and beyond the call of duty and will both receive MBEs.At the height of the disturbances, Kenneth continued";}
        
        


 