


@{ViewBag.Title = "London 2012 Games handbook to help taxi drivers and private hire operators make the most of the Games";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London 2012 Games handbook to help taxi drivers and private hire operators make the most of the Games</h1>
        <div class="content-page-press-release">
        29 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Handbook contains information and maps about all London 2012 venues and events as well as drop-off and pick up facilities inside and outside the Capital.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This handbook will be sent to every London taxi driver and private hire operator and contains all the Games-time information that drivers need"</div>
        <div class="quote-footer">
            <div class="quotee-name">John Mason</div>
            <div class="quotee-job-title">Director of Taxi and Private Hire</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This handbook will be sent to every London taxi driver and private hire operator and contains all the Games-time information that drivers need
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Vital information about the Games will enable London taxi drivers and private hire operators to make the most of the opportunity this summer offers </li>
<li>Taxi drivers and private hire operators urged not to get caught out and to use the handbook ahead of the Games </li></ul>
<p>The Olympic Delivery Authority (ODA) has published a comprehensive London 2012 Games information handbook for licensed taxi drivers and private hire operators. </p>
<p>It contains detailed information for drivers about all London 2012 Olympic and Paralympic venues and events, both inside and outside the capital, including facilities for taxi ranks and drop-off areas. It also provides detailed maps as well as helpful information about event dates, start and finish times and spectator capacity for each venue. </p>
<p>The handbook is available online at <a href="http://www.transport.london2012.com/gtw/taxi/">london2012.com/taxi-phv</a>.&nbsp; Hard copies will also be sent to all licensed London taxi drivers and private hire operators. </p>
<h2>Make the most of the Games</h2>
<p>Hugh Sumner, Olympic Delivery Authority Director of Transport, said: 'We've prepared this handbook for use by drivers across the country as we want them to make the most of the Games and not to get caught out.&nbsp;Downloading, reading and digesting this handbook, as well as signing up for the specific updates, is the best way to ensure this happens.'</p>
<p>John Mason, Director of Taxi and Private Hire, said:&nbsp;'This handbook will be sent to every London taxi driver and private hire operator and contains all the Games-time information that drivers need. </p>
<p>'I would encourage them to familiarise themselves with it to ensure they can efficiently transport passengers around the capital during the Games. London will be turned into a massive sporting and cultural venue this summer, presenting a huge opportunity to both trades and we urge them to get involved.'</p>
<p>Hosting the Olympic and Paralympic Games is the biggest ever peace-time logistical exercise for a host city to undertake so it is possible that there may be changes to information in the handbook. </p>
<p>Therefore taxi drivers and private hire operators are urged to sign up for the latest updates by subscribing to <a href="mailto:tph.enquiries&#64;tfl.gov.uk">tph.enquiries&#64;tfl.gov.uk</a>&nbsp;and to follow &#64;TfLTPH on Twitter.</p>
<p>A great deal of information about the London 2012 Games, the roads affected by events and the Olympic Route Network is already available online at <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a>. </p>
<h2>Temporary road changes</h2>
<p>Taxi drivers and private hire operators can also see day-by-day how the road network will operate by using TfL's Temporary Road Changes planning tool at <a href="http://www.getaheadofthegames.com/travelinaffectedareas/city/london-temporary-road-changes.html">GetAheadoftheGames.com. </a></p>
<p>This information is primarily for general motorists to plan their routes and help them decide whether to drive in London or not but may also be of interest to taxi and private hire drivers as it shows the expected transport hotspots.&nbsp; </p>
<p>The Olympic Route Network (ORN) comes into operation on 25 July.&nbsp;The ORN is vital to ensure that all athletes, officials, media and others working at the Games get to their events on time, but it will also help keep London moving. </p>
<p>All vehicles can use the 109 mile ORN, which represents just 1 per cent of London's roads.&nbsp; </p>
<p>TfL is determined to ensure that the ORN is implemented for the shortest possible time and is operated with minimal impact.&nbsp; </p>
<p>On some routes, such as to the tennis venue at Wimbledon, the ORN will be removed as soon as the event is over and it is no longer required.</p>
<p>Tips for taxi and private hire drivers to help them make the most of the Games include:&nbsp; </p>
<ul>
<li>Familiarising themselves with venue details and road changes shown in the handbook </li>
<li>Make sure all licence documents are in order before the Games </li>
<li>If your vehicle is due for an inspection or service then book this now to reduce the likelihood of a problem occurring during the Games</li></ul>
<p>There will be stringent security checks in place around competition venues and other key locations to help ensure the safety of everyone involved with the Games.</p>
<p>Private hire drivers will have to show evidence of a pre-booking before they will be allowed to enter any private hire pick-up area so all operators should make sure their drivers are ready for this. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong></p><strong>
<ul>
<li></li></ul></strong>The handbook will be sent to all private hire operators for them to share with their drivers. The handbook is available online with each venue available separately so private hire operators and drivers can download and print the information most relevant for them 
<li>The information in the handbook is correct at the time of going to print.&nbsp; Drivers and operators will be notified of any changes or updates by email and Twitter. To receive email updates send an email to <a href="mailto:tph.enquiries&#64;tfl.gov.uk">tph.enquiries&#64;tfl.gov.uk</a>&nbsp; with 'subscribe' in the subject field.&nbsp;To receive tweets follow TPH on Twitter &#64;TfLTPH </li>
<li>TfL has worked hard to secure additional ranks at key Games locations, as well as securing a number of concessions, specifically for taxis, to use turns along the Olympic Route Network that were initially banned for all traffic except buses </li>
<li>The 'Temporary Road Changes' planning tool can be found on the GetAheadoftheGames website here: <a href="http://www.GetAheadoftheGames.com/travelinaffectedareas/city/london-temporary-road-changes.html">www.GetAheadoftheGames.com/travelinaffectedareas/city/london-temporary-road-changes.html</a> </li>
<li>Taxi and Private Hire drivers can sign up for free email alerts to help them plan their journeys at Games-time at <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> </li>
<li>Details of the London 2012 Games Road Event dates and travel advice can be found at <a href="http://www.getaheadofthegames.com/things-you-should-know/changes-roads.html">http://www.getaheadofthegames.com/things-you-should-know/changes-roads.html</a> </li>
<li>In the event that further measures are required to ensure the safe and efficient operation of the ORN, the local parking plans and traffic management around venues and on Road Event days the 'Temporary Road Changes' planning tool will be updated to reflect these changes </li>
<li>Around &pound;6.5bn has been invested in upgrading and extending transport links and this will enable spectators to get to and from the Games each day and ensure we will keep London moving </li>
<li>This is already providing an early legacy of better transport options, particularly for people living in east London, which will continue long after the 2012 Games</li>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Vital information about the Games will enable London taxi drivers and private hire operators to make the most of the opportunity this summer offers Taxi drivers and private hire operators urged not to get caught out and to use the handbook ahead of the";}
        
        


 