


@{ViewBag.Title = "London's business leaders urged to check that their staff are acting on Games-time travel plans";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London's business leaders urged to check that their staff are acting on Games-time travel plans</h1>
        <div class="content-page-press-release">
        06 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Employers urged to check that their staff are receiving information and advice so they can plan their Games-time travel on the Get Ahead of the Games website.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"In these final weeks before the Games, it is important that London's business leaders continue to communicate with their employees"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy CBE</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            In these final weeks before the Games, it is important that London's business leaders continue to communicate with their employees 
                            
                        </p>
                    </div>
                
            
            
            <p>As the countdown to the start of the Olympic and Paralympic Games continues, London's Transport Commissioner has today written to the leaders of 500 of the Capital's biggest companies, thanking them for their leadership in preparing for Games-time travel and asking them to ensure their staff understand their Games-time plans.</p>
<p>London will be transformed into one huge sporting and cultural venue this summer, which will have a big impact on the public transport and road networks in both central London and in the areas around venues. </p>
<h2>Avoid Olympic hotspots</h2>
<p>The transport system will be busier than normal and there will be 'hotspot' locations where, at certain times, it will be exceptionally busy. </p>
<p>To help mitigate the impact the pressures on the transport network will have on businesses, London 2012 and TfL have been working with organisations in affected areas of London and the rest of UK to ensure they have plans in place to run smoothly - and profitably - during the Games.</p>
<p>In the past 18 months, London 2012 and Transport for London (TfL) have worked with 500 major businesses, employing more than 600,000 people, to provide site specific travel advice and help with bespoke business travel plans. </p>
<p>Around 80 per cent of those businesses already have written plans in place, which include: </p>
<ul>
<li>Reducing or re-timing of deliveries </li>
<li>Encouraging staff to take holiday if possible </li>
<li>Staggering working days so people can start or finish work earlier or later and avoid peak times </li>
<li>Working from home or other locations </li>
<li>Encouraging walking or cycling by staff during Games-time </li></ul>
<h2>Eight weeks to go </h2>
<p>London's Transport Commissioner, Peter Hendy CBE, said: 'Central London will be transformed into one huge sporting and cultural venue this summer, which will have a big impact on both the road and public. </p>
<p>'With just eight weeks left until the Games start, it is important that businesses test their plans and communicate them to staff, suppliers, customers and visitors. </p>
<p>'Many companies are already communicating their plans with their staff, suppliers, customers and visitors, and their efforts and leadership in preparing for Games-time travel are commendable. </p>
<p>'In these final weeks before the Games, it is important that London's business leaders continue to communicate with their employees to ensure they are clear about the plans in place in their own organisations and so they can take action to change their travel as a result.'</p>
<p>TfL will continue to communicate important transport information in the run up to, and during, the Games period, including providing twice-daily transport updates to ensure London's businesses and their employees remain fully informed. </p>
<p>Help and support is available on the travel planning website, <a href="http://www.GetAheadoftheGames.com">Get Ahead of the Games</a>.&nbsp;&nbsp;</p>
<p>
<hr>
<strong>Notes to editors</strong> 
<p>
<ul>
<li>London 2012 and TfL have provided free travel advice to business programmes to companies operating in areas of London and the rest of the UK that will be affected by the Games. Five hundred major businesses employing more than 600,000 people have signed up for specific travel advice and have drafted travel plans which they have shared with TfL, and more than 20,500 businesses across London and other affected areas of the UK have attended TfL arranged or supported workshops. Businesses are encouraged to use the support available at <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> to prepare and test in advance of the Games </li>
<li>By visiting <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> or following the &#64;GAOTG Twitter channel, businesses can receive the latest tips, travel information and advice on how to plan ahead and keep their firms running smoothly </li>
<li>Roads in central London, or around the Olympic and Paralympic Route networks and around venues will be much busier from 13/14 July, when thousands of Olympic athletes, officials and the world's media will start arriving in London. If driving in these areas is essential, plan ahead and allow extra time<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "As the countdown to the start of the Olympic and Paralympic Games continues, London's Transport Commissioner has today written to the leaders of 500 of the Capital's biggest companies, thanking them for their leadership in preparing for Games-time travel";}
        
        


 