


@{ViewBag.Title = "Mayor welcomes major step forward for proposed Silvertown Tunnel";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor welcomes major step forward for proposed Silvertown Tunnel</h1>
        <div class="content-page-press-release">
        27 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Secretary of State for transport designates proposed new Thames River crossing a 'Nationally Significant Infrastructure Project'.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Designation increases prospect of new Silvertown Tunnel being open for traffic in 2021</li></ul>
<p>Mayor of London, Boris Johnson today welcomed the decision by the Secretary of State for Transport, Justine Greening MP to designate the proposed new Silvertown Tunnel a 'Nationally Significant Infrastructure Project'.</p>
<p>The decision, following an application by the Mayor, means that the project will be subject to the process for a Development Consent Order by the Secretary of State. </p>
<p>However, this could ultimately reduce the overall timescale required to secure all necessary approvals for the project and help deliver the Mayor's objective of having this new crossing in place and open to traffic by 2021. </p>
<h2>Boost economic growth</h2>
<p>The Secretary of State for Transport made the decision in recognition of the significant impact the new crossing is designed to have on congestion in London and consequently on economic growth and development in the Capital and across the UK as a whole. </p>
<p>It follows the support for the project given by the Chancellor of the Exchequer in his recent autumn statement and budget statement.</p>
<p>The Silvertown Tunnel would reduce the pressure on and congestion affecting existing Thames crossings in the east of London, particularly the Blackwall Tunnel where current congestion levels also have an impact on the Dartford Crossing and M25, part of the UK's Strategic Road Network. </p>
<p>The Mayor's London Plan has also designated the Greenwich Peninsula and Royal Docks areas of London as Development Areas, which would be boosted by an additional river crossing.</p>
<p>The Silvertown Tunnel is one of a number of new river crossings proposed by the Mayor, the first of which, the Emirates Airline, is due to open this week 28 June. </p>
<h2>Strong support</h2>
<p>Transport for London (TfL) undertook preliminary consultation on Thames river crossings in March this year.&nbsp;3,900 responses were received, with 93 per cent agreeing that more river crossings were required and 82 per cent supporting the proposed Silvertown Tunnel.&nbsp;</p>

<p>TfL will now take forward design work and undertake further consultation later this year with Londoners, local boroughs, business and stakeholders, in readiness for the formal development consent order process.</p>
<p>Mayor of London, Boris Johnson said: 'This decision is a major step forward for the Silvertown Tunnel, an important new Thames River crossing which would reduce congestion and boost economic growth in this important development area of London.</p>
<p>'I welcome the Secretary of State's decision, which recognises the need for continued investment and the important role played by London's transport network in supporting economic development and growth, in the Capital and right across the UK.'<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Designation increases prospect of new Silvertown Tunnel being open for traffic in 2021Mayor of London, Boris Johnson today welcomed the decision by the Secretary of State for Transport, Justine Greening MP to designate the proposed new Silvertown Tunnel a";}
        
        


 