


@{ViewBag.Title = "Mayor's plan to plough more than &pound;100m into big improvements to London's suburban rail services";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor's plan to plough more than &pound;100m into big improvements to London's suburban rail services</h1>
        <div class="content-page-press-release">
        29 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Hugely successful London Overground, with more frequent services, cleaner, safer stations, and simpler fare structure, is model for future of Capital's rail services.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This plan gives us the opportunity to create a truly joined up suburban railway system that would vastly improve service and deliver better stations"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This plan gives us the opportunity to create a truly joined up suburban railway system that would vastly improve service and deliver better stations
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Devolution of franchises to fund overhaul of over 100 suburban rail stations </li>
<li>Operators to be paid based on outcomes, creating new incentives to improve performance</li></ul>
<p>The Mayor of London, Boris Johnson, today submitted proposals to the Government to make millions of pounds available to bring London's suburban rail services up to the standard set by the Mayor's hugely popular London Overground.</p>
<p>Under direct Mayoral management passengers would benefit from more frequent and reliable services, simpler ticketing, cleaner and safer stations and better standards of customer service. </p>
<p>Superior suburban services would also boost the Capital's competitiveness by delivering major improvements to mainline rail services, supporting economic growth and jobs for Londoners. </p>
<h2>Fractured network</h2>
<p>Currently, with the exception of the London Overground network, rail services into the Capital are provided by several private train operating companies, each with their own franchise agreement with central Government. </p>
<p>This has led to a less efficient network, a confusing mix of ticket prices and fare arrangements for passengers, varying service quality standards and poor public information provision.</p>
<p>Bringing the franchises under direct Mayoral control would not only improve the service, but also save millions of pounds, which would be reinvested into further improving the network. Savings from the Southeastern and West Anglia franchises alone could amount to &pound;100m over 20 years. </p>
<p>TfL would use that money to improve some 104 stations, bringing them up to the superior London Overground standards.</p>
<p>The Mayor also wants to introduce a smartcard-based, more flexible ticketing strategy to deliver a coherent and integrated fare structure across London.<br>The Mayor's submission highlights the huge disparity in Government rail funding between the capital and the regions. </p>
<p>As things stand London's rail users get just 4.8 pence of Government funding per passenger mile, compared to 31 pence for each regional rail passenger mile. Despite this and higher rail fares, Londoners experience lower service quality than other parts of the UK with significantly higher overcrowding compared to other big UK cities. </p>
<h2>London's passengers deserve better</h2>
<p>The Mayor believes that the current fractured approach means the rail network is not being used to its full capacity, that it is not fit to support predicted increases in ridership and that new rail infrastructure being delivered over the next decade may not deliver the economic growth that it should. </p>
<p>The Mayor's proposals have been submitted as part of the Department for Transport's (DfT) consultations on Rail Decentralisation and Fares. If adopted, they will become part of the new franchises, the procurement and negotiation process for which is to begin in autumn.</p>
<p>The Mayor of London, Boris Johnson, said: 'London's rail passengers deserve far better service than the current franchises deliver and the economic benefits of properly investing in our rail infrastructure are huge. </p>
<p>'An efficient rail service is vital in order to remain competitive in challenging economic times, helping to usher in greater prosperity in the future, not just for the Capital but for UK PLC.</p>
<p>'This plan gives us the opportunity to create a truly joined up suburban railway system that would vastly improve service and deliver better stations. A more coherent London-wide structure would bring more frequent trains, safer stations and sanity to a mind bogglingly complex fare system.'</p>
<p>The success of London Overground demonstrates the benefits of devolving rail powers to the Mayor. One of the UK's most neglected railways when TfL and the Mayor took it over in 2007, it now has a reliability performance of 96 per cent and a customer satisfaction score of 90 per cent as measured by the latest Passenger Focus National Passenger Survey. </p>
<p>Demand has trebled since TfL took over the network and is forecast to grow by a further 34 per cent by 2020.</p>
<p>Fare evasion has been cut from 16 per cent to four per cent. In the first year of TfL's operation alone, crime fell by 19 per cent. </p>
<p>Demand for London Overground services has shot up by 110 per cent over four years on the original London Overground network (and 190 per cent when the newly extended East London Line is included).</p>
<p>
<hr>

<p>
<p><br><strong>Notes to editors</strong></p><strong>
<ul>
<li></li></ul></strong>A more efficient franchising model will allow savings which will fund part of the improvement in standards. Gross savings from the Southeastern and West Anglia franchises alone could amount to &pound;100m over 20 years. TfL would use that money to improve some 104 stations, bringing them up to the superior London Overground standards 
<li>In the next four years, six London-area franchises come up for renewal. TfL has identified the franchises currently operated by Southeastern and West Anglia as priorities for devolution when those franchises come up for renewal in 2014 </li>
<li>TfL has targeted the highest priorities for devolution as being the Southeastern network inner suburban services from Dartford, Sevenoaks and Hayes; and the West Anglia inner suburban services from Enfield Town, Cheshunt and Chingford </li>
<li>Specific stations where improvements in train frequencies and station facilities could be delivered are: Bexleyheath, Shortlands, Kidbrooke, Herne Hill, Catford, Denmark Hill, Turkey Street (Enfield), Clapton (Hackney), Stamford Hill, Bethnal Green, Highams Park<br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Devolution of franchises to fund overhaul of over 100 suburban rail stations Operators to be paid based on outcomes, creating new incentives to improve performanceThe Mayor of London, Boris Johnson, today submitted proposals to the Government to make";}
        
        


 