


@{ViewBag.Title = "More trams more often in massive upgrade of Croydon tram services";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>More trams more often in massive upgrade of Croydon tram services</h1>
        <div class="content-page-press-release">
        25 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New route increases services in central Croydon from eight to 12 trams per hour.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Six new trams now in service on the streets of Croydon </li>
<li>Improvements go hand in hand with a &pound;23m Mayor's Fund package to boost Croydon's economy </li></ul>
<p>From today, London Tramlink passengers will benefit from a fifty per cent increase in services on the busiest part of the network, as the Mayor of London, Boris Johnson, launches a new London Tramlink service through Croydon's town centre.</p>
<p>The new service brings the number of trams each hour between Therapia Lane and Croydon town centre up from eight to&nbsp;12 at peak times by running four trains per hour between Therapia Lane and Elmers End. </p>
<h2>Less crowded trams</h2>
<p>The London Tramlink network is used by more than 29 million passengers each year, a 45 per cent increase since it opened in 2000. The new service will relieve crowding and provide new direct journey opportunities between Elmers End and stations from Sandilands to the Wandle Park/Waddon Marsh residential and retail growth area. </p>
<p>The Mayor and Transport for London (TfL) have been able to create the new service following the introduction of six new trams, which have been rolled out since February. All six new trams are now in service on the streets of Croydon helping to reduce congestion, especially on the busy approaches to East Croydon and West Croydon stations.</p>
<p>When on board passengers will find the new trams are air conditioned, more spacious and equipped with better accessibility and safety features. The introduction of the new trams has also created 20 new jobs at London Tramlink. </p>
<p>The &pound;16.3million investment in the new trams is part of a wider regeneration of Croydon supported by the Mayor including a &pound;23million investment which is being used to help return Croydon to its former glory following the damage to its town centre in last year's disturbances. </p>
<p>The Mayor of London, Boris Johnson, said: 'These superb new tram services are essential to Croydon's long term prosperity, which in turn feeds into the Capital's economic success.</p>
<h2>Economic growth</h2>
<p>'Fast and efficient transport links not only make Croydon a more convenient place to live and work, but also attract businesses that will deliver much-needed jobs and economic growth putting Croydon firmly on track for the future.'</p>
<p>The new trams have also been funded in part by Croydon Council which contributed &pound;3m. </p>
<p>Croydon Council leader, Mike Fisher, said: 'These fantastic new trams are a major boost for a transport network that is the envy of London and the rest of the country and they will provide an even better service for people who live and work here.</p>
<p>'We have invested &pound;3m into this project to help boost local infrastructure - and it's further evidence of our commitment to the regeneration of our borough.&nbsp; This year promises to be the beginning of an exciting period of delivery that will transform the way our town looks and operates - and that will service Croydon well for generations to come.'</p>
<p>The Mayor's &pound;23m funding package includes &pound;5 million to improve the key entrances to Croydon, &pound;7 million to repair and strengthen Croydon's high street, &pound;6 million to improve pedestrian routes, and &pound;5 million to attract business with a three-year package of support.</p>
<p>In addition to the new trams, reliability improvements to the Wimbledon branch are also expected by the end of the year. </p>
<p>The creation of a second track between Mitcham and Mitcham Junction will remove a bottleneck in the present system and facilitate future work to increase frequency on the line to Wimbledon. <br></p>
<p>
<hr>

<p>
<p><br><strong>Notes to editors </strong></p><strong>
<ul>
<li></li></ul></strong>The introduction of the new trams is creating twenty additional jobs in London Tramlink. These include drivers and maintenance staff 
<li>The contract to supply the six new trams was worth &pound;16.3m with a &pound;3m contribution from Croydon council. The supplier was Swiss manufacturer Stadler and the Variobahn vehicles were built in its German factory </li>
<li>The Stadler trams are 2.5m longer, are air conditioned, and are 100 per cent&nbsp;low floor which provides better accessibility for passengers.&nbsp;They are each made up of 5 sections with wide gangways between each section giving them a more manoeuvrable and spacious interior. They have a capacity of 84 seats and space for 122 passengers standing </li>
<li>The six new trams will enable a direct service between Therapia Lane and Elmers End where passengers currently have to change to make this journey. The peak service from Elmers End will increase from six trams per hour to eight trams per hour </li>
<li>Double tracking between Mitcham and Mitcham Junction on the Wimbledon branch will increase reliability on the branch as trams currently have to wait for one another to clear this section of single track </li>
<li>The Mayor's investment will support work across the four following areas:<br>- &pound;5m to improve the key entrances to Croydon, making them welcoming with more space for pedestrians and improving the transport interchange around West Croydon station, and the junction of Dingwall Road and Lansdowne Road near the new East Croydon station footbridge<br>- &pound;7m to repair and strengthen Croydon's high street including its main north-south high street<br>- &pound;6m to make Croydon better connected by removing barriers to walking and improving routes between key destinations with improved pedestrian crossings across the Wellesley Road at Bedford Park Road, Lansdowne Road, George Street, the Fairfield Halls and Edridge Road<br>- &pound;5m to attract business with a three year package of support. </li>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Six new trams now in service on the streets of Croydon Improvements go hand in hand with a &pound;23m Mayor's Fund package to boost Croydon's economy From today, London Tramlink passengers will benefit from a fifty per cent increase in services on the";}
        
        


 