


@{ViewBag.Title = "New Big Ben artwork for Gloucester Road Tube station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New Big Ben artwork for Gloucester Road Tube station</h1>
        <div class="content-page-press-release">
        06 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From 12 June 2012, passengers will be treated to an epic artwork which has been created for the eighteen arches that span the length of the disused platform at Gloucester Road Tube station.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"As we move towards one of the most exciting summers in London's history, visitors from all over the world will be able to enjoy this dramatic artwork as they travel across the Capital for the London 2012 Games"</div>
        <div class="quote-footer">
            <div class="quotee-name">Munira Mirza</div>
            <div class="quotee-job-title">Deputy Mayor for Education and Culture</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            As we move towards one of the most exciting summers in London's history, visitors from all over the world will be able to enjoy this dramatic artwork as they travel across the Capital for the London 2012 Games
                            
                        </p>
                    </div>
                
            
            
            <p>This latest installation is by international artist Sarah Morris and was commissioned by Art on the Underground. </p>
<p>As Tube trains enter the station customers will see a spectrum of evolving colour as they travel past the many arches. This progression recalls the countdown to a spectacle or event, and also parallels the way in which a train pulls in and out of the station.</p>
<p>Recognised for her brightly coloured and complex paintings and installations, Sarah Morris's work for Gloucester Road derives from a painting of Big Ben that she created as one of the twelve posters for the London 2012 Olympic and Paralympic Games.&nbsp;</p>
<h2>Connects Games </h2>
<p>An iconic marker of the Capital's history and architecture, as well as a symbol of movement and time, Morris's expression of Big Ben through line and colour connects both the Underground and the 2012 Games. </p>
<p>Morris's almost filmic treatment of Gloucester Road Station in Big Ben [2012], conceives London as a grid of non-linear narratives, brought together by time as people pass through public space.&nbsp; </p>
<p>Morris's longstanding practice uses the visceral properties of colour as well as fictional cinematic space produced through the use of real situations in her films.&nbsp; </p>
<p>The Olympics and the idea of spectacle are represented in past films such as Beijing (2008) and 1972 (2008), and subway stations have featured in works such as her seminal film Midtown (1998), and others including Miami (2002), Los Angeles (2004) and Chicago (2011). </p>
<h2>Arrival and departure</h2>
<p>Sarah Morris, said: 'This is the first series of images where I've treated London as a subject, as a starting point. Stripped bare, Big Ben [2012] is a streamlined image of time, and ironically anti-authoritarian: no-one can control the politics of the future. </p>
<p>'I wanted to create a spectrum of colour that parallels the movement in and out of Gloucester Road station, an image of arrival and departure.'</p>
<p>Munira Mirza, Deputy Mayor for Education and Culture, said: 'As we move towards one of the most exciting summers in London's history, visitors from all over the world will be able to enjoy this dramatic artwork as they travel across the Capital for the London 2012 Games.'</p>
<p>Louise Coysh, Curator for Art on the Underground, said, 'We're delighted to commission Sarah Morris as the twelfth internationally acclaimed artist at our flagship site.&nbsp;</p>
<p>'Her work resonates very strongly not only with London's architecture and transport infrastructure, but most especially with the energy and excitement in the Capital during 2012.'</p>
<p>The Gloucester Road commissions provide invited artists with the opportunity to create ambitious, temporary new work in response to Art on the Underground's flagship site and its context, which has more than one million visitors each month.&nbsp; </p>
<p>Since the inaugural exhibition by Cindy Sherman in 2003, there have been eleven artists' projects presented so far, including significant new works by Chiho Aoshima, David Batchelor, Brian Griffiths, Beatriz Milhazes and Mark Titchner. </p>
<h2>View at Tate Britain</h2>
<p>From 21 June-21 September, a limited edition print of Sarah Morris's original Big Ben [2012] work will be on display at Tate Britain; this Paralympic poster is one of twelve officially commissioned posters for the London 2012 Olympic and Paralympic Games.&nbsp;</p>
<p>The official posters of the Games are a unique celebration of 100 years of the meeting of art and sport, and a body of iconic work that has been created over the last century. </p>
<p>In collaboration with the London 2012 Festival, Art on the Underground is proud to present the twelve official London 2012 Games poster artworks in exhibitions at Southwark and Piccadilly Underground stations, until December 2012. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>Sarah Morris was born in 1967 in the UK and grew up in Providence, Rhode Island, USA. She lives and works in New York and London. She has participated in many important exhibitions including 4th Site Santa Fe Biennial (2001), 25th S&atilde;o Paolo Biennial (2002) and 'Days Like These', Tate Triennial (2003). Solo exhibitions include Nationalgalerie im Hamburger Bahnhof, Berlin (2001), Kunstforeningen, Copenhagen (2004), Moderna Museet, Stockholm (2005), Palais de Tokyo, Paris (2005), Kestner Gesellschaft, Hannover (2005) and Museum Boijmans van Beuningen, Rotterdam (2006), Fondation Beyeler (2008), Lenbachaus, Munich (2008), MAMbo, Bologna (2009), and MMK, Frankfurt (2009). Upcoming exhibitions include 'Points on a Line' at The Wexner Center for the Arts, Ohio </li>
<li>Since the mid-1990s, Sarah Morris has been making complex abstract paintings and films.&nbsp;She began her career making graphic paintings that adapted the dramatic, emotive language used in newspaper and advertising tag lines.&nbsp;Her city-based paintings employ vividly coloured household gloss on grid-marked canvases that reference architectural motifs, signs or urban vistas reflecting the unique dynamic of a place.&nbsp;In her films, Morris examines both the surface of a city - its architecture and geography - and the 'interior' psychology of its inhabitants and key players. She appropriates different kinds of cinematography, from documentary recording to seemingly set-up narrative scenarios </li>
<li>Big Ben [2012] by Sarah Morris is supported by the National Lottery through Arts Council England </li>
<li>Launch and In Conversation, Wednesday 20 June, 18:30-21:00, Talk 19:00. Sarah Morris in conversation with Ossian Ward, Visual Art Editor, Time Out London.Venue: Science Museum's Dana Centre, 165 Queen's Gate, London SW7 5HD. Free but booking essential, call 0207027 8694, email <a href="mailto:art&#64;tube.tfl.gov.uk">art&#64;tube.tfl.gov.uk</a> </li>
<li>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the Capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. By the end of the current programme there will be 30 per cent more capacity. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk/check">www.tfl.gov.uk/check</a> <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This latest installation is by international artist Sarah Morris and was commissioned by Art on the Underground. As Tube trains enter the station customers will see a spectrum of evolving colour as they travel past the many arches. This progression";}
        
        


 