


@{ViewBag.Title = "New figures show progress continues to be made in making London's roads safer";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New figures show progress continues to be made in making London's roads safer</h1>
        <div class="content-page-press-release">
        29 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The total number of people killed or seriously injured on capital's roads at the lowest level since records began.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It is good news that the number of people killed or seriously injured is falling, but there is plenty more to be done.  In particular I want to encourage cycling, and for cyclists to feel confident and safe on our roads"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It is good news that the number of people killed or seriously injured is falling, but there is plenty more to be done.  In particular I want to encourage cycling, and for cyclists to feel confident and safe on our roads
                            
                        </p>
                    </div>
                
            
            
            <p>New figures, published today by Transport for London (TfL), show progress continues to be made in making London's roads safer, as the number of people killed or seriously injured in 2011 was the lowest recorded since records began in the mid 1980s.</p>
<p>Last year there were 159 fatalities on London's road network, 25 per cent lower than the average figure between 2005 and 2009*.&nbsp; </p>
<p>The total number of people killed or seriously injured in 2011 fell 3 per cent compared to 2010.</p>
<h2>Safe and active travel</h2>
<p>Serious casualties involving children under 16 continued to fall, following TfL and borough investment in programmes such as the Children's Traffic Club, Junior Road Safety Officers and STAR (School Travel Accredited and Recognised), which aims to ensure that all London schools promote safe and active travel. </p>
<p>The number of children seriously injured while cycling fell by 18 per cent to 18, and the number of children killed walking in London fell by 38 per cent to five.</p>
<p>Despite the successes, these results also show an increase in the number of cycling casualties in 2011. Sixteen cyclists tragically lost their lives last year, and 555 cyclists were seriously injured. This should be taken in the context of the significant increase in the number of people cycling, but is an area of concern for the Mayor and TfL, and work is underway to tackle further cycle safety issues as a matter of urgency. This includes the review of around 500 junctions across London, looking at where the road network can be made safer for cyclists. </p>
<p>In addition, TfL has already begun to make improvements at Bow roundabout where two cyclists were killed last year. TfL is also helping to fund cycle training for thousands of children and adults in boroughs across the city, and funding a Cycle Task Force, made up of around 40 Met Police officers, to directly enforce against illegal activity and reduce conflicts at junctions.</p>
<p>Both TfL and Crossrail are seeking to ensure that any HGV working for them be fitted with cycle safety devices such as blind spot mirrors and side guards. TfL is also making the case for similar measures to be implemented at a European level.</p>
<p>The Mayor and TfL are also lobbying the government for changes to regulations, for example to allow the trialling and use of cycle specific traffic signals, which are commonly used in Europe, to improve cycle safety on the Capital's roads. This follows a recent victory with blind spot, or 'trixi', mirrors which the government have now approved at signalised junctions nationally following a successful trial by TfL. These will now be rolled out more widely on the TfL road network.</p>
<p>The figures also show a slight increase in the number of pedestrians killed or seriously injured compared to 2010 and TfL is redoubling its efforts to address this. Later this year, the first ever Pedestrian Safety Action Plan will be published by TfL, which will build on the partnership work already established with the Cycle Safety Action Plan. </p>
<p>TfL is already investigating trends in slight casualties to see what more can be done to reduce these.&nbsp;Preliminary analysis of 2010 casualty figures suggest the rise could be due to factors such as increased sources of distraction (eg. mobile phones) and extreme weather, but further research is needed to better understand these issues in detail.</p>
<h2>Road safety plan</h2>
<p>Next month TfL will begin consultation on a new draft Road Safety Plan for London, which sets out priority areas for action to deliver road safety improvements for the next ten years across the capital.&nbsp;As part of this a new Road Safety Reference Board for London will be established. This will include borough representatives as well as key road safety stakeholders. This group of stakeholders will input to the development and implementation of road safety policies and help oversee continuous improvements in road safety in London.</p>
<p>TfL will also work closely with Central London boroughs through the Central London panel meeting in September to specifically discuss road safety and interrogate recent trends in casualty and collisions in Central London.</p>
<p>The Mayor of London, Boris Johnson, said: 'The safety of every road user on our city's streets is absolutely paramount. It is good news that the number of people killed or seriously injured is falling, but there is plenty more to be done.&nbsp; In particular I want to encourage cycling, and for cyclists to feel confident and safe on our roads. </p>
<p>'This is why I have asked TfL to redouble their efforts in tackling areas of concern for safety, including finalising revisions to the road safety plan for London and creating a high-level board to help us develop and implement our policies.'</p>
<h2>Improvements for vulnerable road users</h2>
<p>Leon Daniels, Managing Director of Surface Transport at TfL said: 'The safety of all road users in London is something that TfL takes extremely seriously. While some of the picture is positive, with the total killed and seriously injured and in particular children killed and seriously injured figures both down, the recent increase in cycling casualties is of real concern. </p>
<p>'We have already begun a huge range of work to deliver further safety improvements to the most vulnerable road users across London and hope that these measures, alongside further schemes being promoted by boroughs and key stakeholders, will allow London to further reduce the number of casualties occurring on the capital's roads.'</p>
<p>Iain Simmons, Group Chair of the London Local Government Technical Advisers Group (LoTAG), said: 'London's boroughs have a major role to play in improving road safety across the capital. In partnership with TfL, we have been working hard to do this through a range of methods, including safety training and enforcement initiatives such as "Exchanging Places" events and working to redesign junctions to reduce collisions across London. </p>
<p>'The safety of some road users and locations remain of significant concern. This means we need to keep investing in road safety and working hard to make roads safer for all road users, especially for cyclists and pedestrians.'</p>
<p>For more information about the work TfL is going to improve road safety across London, please visit <a href="http://www.tfl.gov.uk/roadsafety">tfl.gov.uk/roadsafety</a></p>
<p>
<hr>
<br></p>
            <p><strong>Notes to Editors:</strong></p>
<ul>
<li>The 2011 Road Safety factsheet can be found here - <a href="http://tfl.gov.uk/assets/downloads/casualties-in-greater-london-2011.pdf">tfl.gov.uk/assets/downloads/casualties-in-greater-london-2011.pdf</a></li>
<li>* In May 2011, the Department for Transport (DfT) announced a new national baseline for analysing road safety statistics as part of the DfT's Strategic Framework for Road Safety, based on the average casualty figures from 2005 to 2009 - <a href="http://www.dft.gov.uk/publications/strategic-framework-for-road-safety/">www.dft.gov.uk/publications/strategic-framework-for-road-safety/</a> </li>
<li>Despite the increase in serious cycling casualties during 2011 in London, this should be seen in the context of the considerable increase in cycling over a number of years, resulting from encouragement of cycling as a sustainable mode of travel. Cycling on London's major roads, the Transport for London Road Network (TLRN), increased by 173 per cent between 2000/01 and 2011/12, and by 9 per cent during 2011/12 alone</li>
<li>Slight injuries are incidents which are recorded by the Metropolitan Police but do not require hospital admittance</li>
<li>TfL is continuing to identify trends in slight casualties across London to see what more can be done to reduce these. Analysis of the 2010 casualty figures suggest the rise could be due to factors such as increased sources of distraction (eg. mobile phones) and extreme weather. A factsheet containing further details about this analysis will be published by TfL shortly</li>
<li>TfL will continue to investigate the causes for the increases throughout 2011, specifically in relation to cyclists where further work is required to fully understand the reasons behind the recent increase.</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "New figures, published today by Transport for London (TfL), show progress continues to be made in making London's roads safer, as the number of people killed or seriously injured in 2011 was the lowest recorded since records began in the mid 1980s.Last";}
        
        


 