


@{ViewBag.Title = "New night bus N113 links Mill Hill, Watford Way and Hendon Way with central London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New night bus N113 links Mill Hill, Watford Way and Hendon Way with central London</h1>
        <div class="content-page-press-release">
        26 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London is introducing a brand new night bus route to improve bus services in the Mill Hill, Watford Way and Hendon Way areas.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The introduction of new night route N113 reflects our continuing efforts to listen to our passengers and develop the network to suit their needs"</div>
        <div class="quote-footer">
            <div class="quotee-name">John Barry</div>
            <div class="quotee-job-title">Head of Network Development for London Buses</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The introduction of new night route N113 reflects our continuing efforts to listen to our passengers and develop the network to suit their needs
                            
                        </p>
                    </div>
                
            
            
            <p>The N113 enters service on 30 June and follows requests from passengers and local residents for improved links to and from central London.&nbsp; </p>
<p>The service will operate every 30 minutes every night of the week between Edgware Station and Trafalgar Square, following the same route as the 113 day service from Edgware via Apex Corner, Watford Way, Hendon Way, Finchley Road, Swiss Cottage, Gloucester Place (northbound), Baker Street (southbound) to Oxford Street, then via Oxford Circus, Regent Street and Piccadilly Circus to Trafalgar Square.</p>
<p>John Barry, Head of Network Development for London Buses, said: 'London's bus network is kept under constant review to ensure we provide the best possible service for passengers. The introduction of new night route N113 reflects our continuing efforts to listen to our passengers and develop the network to suit their needs.'</p>
<p>The new N113 follows the same route as the existing N13 night bus between Fortune Green and Trafalgar Square.&nbsp;</p>
<p>From 30 June the N13 will operate at a reduced frequency of every 30 minutes during the week and every 15 minutes at weekends.&nbsp;This means that the same overall capacity will be maintained where both routes run in parallel. </p>
<p>Elsewhere on route N13, Golders Green is also served through the night by route N5 from central London and orbital night routes 83 and 102.&nbsp;North Finchley is also served by night routes 134 and N20 from central London</p>
<p>If you require any further information regarding these services or need general London travel information please contact our 24-hour London Travel line on 0843 222 1234 or visit <a href="http://www.tfl.gov.uk/buses">www.tfl.gov.uk/buses</a> </p>
<p>
<hr>
<strong>Notes to editors</strong> 
<p>
<ul>
<li>Before deciding to proceed with the change we consulted bus users, boroughs, local councillors, MPs and Assembly Members, transport groups, police and health authorities and local interest groups. Posters advertising the opportunity to comment via TfL's website were displayed at local bus stops</li>
<li>A full summary of the public consultation results and TfL's response to the issues raised is available at: <a href="http://www.tfl.gov.uk/busroutesconsultation">www.tfl.gov.uk/busroutesconsultation</a></li>
<li>The new N113 will run every 30 minutes on all nights between Trafalgar Square and Edgware Bus Station</li>
<li>The N13 will continue to run between Aldwych and North Finchley, now every 30 minutes during weekday nights and every 15 minutes during the weekends</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The N113 enters service on 30 June and follows requests from passengers and local residents for improved links to and from central London.&nbsp; The service will operate every 30 minutes every night of the week between Edgware Station and Trafalgar";}
        
        


 