


@{ViewBag.Title = "Olympic Route Network road markings introduced in London this weekend, but no operation and enforcement until 25 July";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Olympic Route Network road markings introduced in London this weekend, but no operation and enforcement until 25 July</h1>
        <div class="content-page-press-release">
        29 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) will this weekend begin works to ensure the Olympic Route Network (ORN) is ready to begin operation on 25 July.
        
    </div>



 <div class="on-this-page">
<p>Overnight from Sunday, 1 July TfL will begin painting the white lines and Olympic Rings that mark out the 30 miles of Games lanes along the ORN. </p>

<p>To keep any disruption to an absolute minimum, the work will take place overnight and will not require road closures - the small areas being worked on will be cordoned off for a short time, with traffic directed around them.</p>
<p>The ORN is a requirement of the Host City contract and is vital in ensuring all athletes, officials and the world's media get to their London 2012 Games events on time. </p>

<p>The ORN covers 109 miles in total in London although Games lanes will only be used on 30 miles of the network. </p>

<p>They will operate alongside lanes for general traffic and will be reserved for the use of the Games Family - the athletes, officials and media working to make the Games a success - during their hours of operation, which are generally 6am to midnight during the Games.<br>&nbsp;<br>The new road markings make clear that London has begun its transformation into a massive sporting and cultural venue this summer. </p>

<p>Up to one million extra visitors are expected in London on each day of the Games.&nbsp;As a result, roads and the transport network will be exceptionally busy and there will be key hotspots to be avoided.</p>
<p>The Mayor and his officials worked tirelessly to ensure the ORN would operate with as little impact on Londoners as possible. It was greatly reduced from the 149 miles originally envisaged when the Games were bid for. Concessions won include allowing operation of the Games lanes to be as flexible as possible so that when demand from Games Family vehicles is low they will be opened up to road users.<br>&nbsp;<br>Mayor of London, Boris Johnson said: 'Following the unveiling of the Olympic Rings on Tower Bridge, the Rings on London's roads really bring home how London has begun its transformation into a massive sporting and cultural venue.&nbsp;The Olympic Route Network is a requirement of all Host Cities and is vital in ensuring athletes, officials and the world's media get to their events on time. </p>
<p>'My team slashed its length by one third of what had been planned and we're working hard to introduce changes to the road network as late as possible, to minimise the impact on Londoners and businesses. But with the Games less than one month away, we're into the home straight and are working flat out to ensure we are ready to welcome the world.'<br>&nbsp;<br>Garrett Emmerson, TfL's Chief Operating Officer, Surface Transport, said: 'The Olympic road markings are being painted and signs are going up, but these will not change the way the roads operate until the ORN becomes operational on 25 July.<br>&nbsp;<br>'However, London's roads will become a lot busier from mid-July and our advice to motorists is clear - avoid driving in central London, around the ORN and Games venues from mid-July. If a journey by road is absolutely essential, be sure to plan ahead and allow extra time.'<br>&nbsp;<br>The line painting is part of a large programme of preparatory works, but the ORN will not become operational and be enforced until 25 July. Around 150 Variable Message Signs (VMS) along the ORN will clearly state to drivers that they may continue to use the road network as normal and are not restricted from using the Games Lanes until operation of the ORN begins. <br>&nbsp;<br>Compliance with the ORN will be key to ensuring the Games run smoothly and London keeps moving during Games time, when there will be up to 1,300 Games family vehicles an hour travelling between key venues. A penalty charge of &pound;130 will be issued to owners of vehicles who break the regulations, including driving in Games lanes or stopping along the route and any illegally parked vehicle will be removed to a vehicle pound and may incur a release fee of &pound;200.<br>&nbsp;<br>Adjustments will also start being made to over 1,300 sets of traffic signals from overnight from Sunday, 1 July and a complete ban on all planned road works on A and B roads has already been put in place.&nbsp;The major physical preparatory works on the ORN, including installation of barriers to simplify junctions, will be carried out overnight from 20 July to 23 July. <br>&nbsp;<br>To help motorists learn more about the ORN and how Games lanes will operate, TfL will release a new two-minute film on GetAheadoftheGames.com on Sunday (1 July). It provides top tips to motorists on how to avoid delays and disruption to road journeys in the Capital ahead of and during the London 2012 Games.&nbsp;<a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> also has all the tools and information road users need to see how their local areas may be affected and allow them to start planning ahead now for travel during the Games.</p>
<p>In order to ensure that the Capital remains open for business and we can keep London moving prior to and during the Games, TfL's advice to road users is clear:</p>
<ul>
<li>From mid-July, motorists should avoid driving in central London, around the ORN and Games venues </li>
<li>Motorists should also avoid the areas around the Road Event courses on competition days such as the Cycling Road Races on 28 and 29 July, the Cycle Time Trial on 1 August and the Women's and Men's Marathons on 5 and 12 August </li>
<li>Every day of the Games is different, so if you must drive, plan ahead and allow more time </li>
<li>Go to <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> to find out how you can avoid the road hotspots and plan your travel during the Games</li></ul>
<p>
<hr>
<br>
<p>
            <p><strong>Notes to Editors:</strong></p>
<ul>
<li>Roads will not be closed to carry out the programme of road markings on the ORN. It will be carried out overnight and only the section of lane where the markings are being applied will be restricted temporarily</li>
<li>All motorists can use the ORN, and only the 30 miles of Games lanes, alongside lanes for general traffic, will be reserved for vehicles carrying the Games Family - the athletes, officials, media and some sponsors</li>
<li>TfL is committed to keeping London moving throughout the Games and will operate the Games lanes as flexibly as possible. They will be opened up to all traffic at times when demand from Games family vehicles is low and capacity available.&nbsp;A network of around 150 VMS along the route will advise motorists when Games lanes are open to regular traffic throughout the day</li>
<li>Along the ORN, Games Lanes and other road restrictions will be clearly signed. Breaching restrictions could result in a &pound;130 fine or vehicle removed</li>
<li>The ORN will come into operation on 25 July, a couple of days before the Opening Ceremony of the Olympic Games. It will end operation a couple of days after the Games and will not be in operation between the Olympics and Paralympics.&nbsp;The smaller Paralympic Route Network (PRN) will also come into operation just a couple of days before the Paralympic Games. Once Games events are completed at a venue, such as Wimbledon, the ORN will be removed</li>
<li>The ORN also extends out of London to other London 2012 venues in the south of England.&nbsp; These routes are being delivered by the Olympic Delivery Authority (ODA) in partnership with the respective local highway authorities. ORN operational and enforcement dates and times outside of London differ from those being delivered by TfL within London. For more information please contact the ODA Press Office on 0203 2012 700</li>
<li>The Temporary Road Changes planning tool on the GetAheadoftheGames.com website includes all of the information motorists, cyclists and pedestrians need to plan their road journeys during the Games, including details of the ORN, LOCOG's local parking and traffic management plans around Games venues and how roads around race routes will be affected during Road Events. <a href="http://www.getaheadofthegames.com/travelinaffectedareas/city/london-temporary-road-changes.html">www.getaheadofthegames.com/travelinaffectedareas/city/london-temporary-road-changes.html</a> <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Overnight from Sunday, 1 July TfL will begin painting the white lines and Olympic Rings that mark out the 30 miles of Games lanes along the ORN. To keep any disruption to an absolute minimum, the work will take place overnight and will not require road";}
        
        


 