


@{ViewBag.Title = "Passenger satisfaction in London Overground continues to soar since being taken over by the Mayor";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Passenger satisfaction in London Overground continues to soar since being taken over by the Mayor</h1>
        <div class="content-page-press-release">
        28 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passenger satisfaction at 90 per cent, compared to 82 per cent average in London and South East.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Punctuality and reliability scores up nine per cent since spring 2011</li></ul>
<p>London Overground has once again confirmed its position as one of the best performing railways in the UK with a 90 per cent approval rating, compared to an 82 per cent average across London and the South East, according to the latest National Passenger Survey.</p>
<p>The rail service has rocketed to the top of several different surveys since it was taken under the management of the Mayor and Transport for London (TfL) four years ago, thanks to a range of improvements and investment to provide more frequent and reliable services, new and more spacious trains, safer and well staffed stations and a better integrated ticketing system. </p>
<h2>Punctual and reliable service</h2>
<p>Among the highlights of today's findings was a nine per cent increase to (88 per cent) in the number of customers who said they were satisfied with the punctuality and reliability of the service since spring last year.</p>
<p>London Overground's new and modern train fleet, with walk-through carriages, received an approval rating of 77 per cent for passenger space compared to a 68 per cent average for London and the South East.</p>
<p>A new extension to the line in South London to connect Clapham Junction with Surrey Quays and Highbury and Islington will be complete later this year, and London Overground will provide an orbital network to the entire city.</p>
<p>The Mayor of London, Boris Johnson, said: 'These impressive results reflect the reliable, safe, high frequency and value-for-money service we have delivered with London Overground, transforming the former run-down Silverlink network. </p>
<p>'This is the kind of rail service all Londoners deserve, and this level of investment and efficient management is what they can expect if the Government supports my proposal to take control of other rail services across London's suburban rail network.' </p>
<h2>Continuing investment</h2>
<p>TfL's Managing Director of London Underground and Rail, Mike Brown, said: 'These are good scores but we are not complacent and will continue to invest in the railway to improve on them.</p>
<p>'Londoners are expressing their approval of London Overground simply by using the service whenever they can - 600,000 passengers weekly when we took it over four years ago has grown to two million a week now.'</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Punctuality and reliability scores up nine per cent since spring 2011London Overground has once again confirmed its position as one of the best performing railways in the UK with a 90 per cent approval rating, compared to an 82 per cent average across";}
        
        


 