


@{ViewBag.Title = "Passengers to benefit from improvements at Paddington station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Passengers to benefit from improvements at Paddington station</h1>
        <div class="content-page-press-release">
        25 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Paddington (Hammersmith & City) station being rebuilt as part of Tube station capacity programme.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is a significant milestone in the redevelopment of Paddington (Hammersmith & City line) station and great news for our customers"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Waboso</div>
            <div class="quotee-job-title">LU's Capital Programmes Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is a significant milestone in the redevelopment of Paddington (Hammersmith & City line) station and great news for our customers
                            
                        </p>
                    </div>
                
            
            
            <p>Customers using London Underground's Paddington (Hammersmith &amp; City) station will notice significant improvements this week following the opening of the newly built station entrance and concourse.</p>
<p>The station is being rebuilt as part of LU's station capacity programme and, when works are complete in 2014, will provide customers with a brand new station complete with step-free access. </p>
<p>As well as the brand new entrance delivering access to the station from Paddington Basin for the first time, other improvements that customers will notice from today include:</p>
<ul>
<li>A new station concourse </li>
<li>Two new stairways</li>
<li>Improved CCTV</li>
<li>Extended platforms to accommodate new, longer air-conditioned trains </li></ul>
<p>David Waboso, LU's Capital Programmes Director, said: 'This is a significant milestone in the redevelopment of Paddington (Hammersmith &amp; City line) station and great news for our customers. </p>
<p>'Not only will they benefit from a new station entrance and concourse but also from the newly extended platforms that will accommodate the new longer air conditioned trains that will start serving the station later this year.&nbsp; </p>
<p>'Over 60,000 people use the station every day and this is set to rise when Crossrail services start serving the station in 2018. Working together with Crossrail, we are building a station fit for the future and providing sufficient capacity for the expected increase in demand.'<br>&nbsp;<br>Crossrail Programme Director Andy Mitchell said:&nbsp;'Work is now well underway on the new Crossrail station at Paddington, which will ease congestion, reduce journey times and improve the travelling experience for thousands of people every day while preserving the historic features of the main line station. When Crossrail opens, Paddington will be just 9 minutes from Liverpool Street, 16 minutes to Canary Wharf and 27 minutes to Abbey Wood.'&nbsp;<br>&nbsp;<br>Station works are set to continue and when complete additional improvements will include; lifts to the platforms, a new ticket office, ticketing machines and ticket gates (including wide aisle gates), and an additional stairway.</p>
<p><br></p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p><strong>
<ul>
<li></li></ul></strong>More than 60,000 passengers currently use the Hammersmith &amp; City station every day
<li>Paddington's Hammersmith &amp; City station is one of the oldest stations on the network and was part of the first ever Tube section that started operating between Farringdon and Paddington in 1863</li>
<li>Circle &amp; Hammersmith &amp; City line services both serve the station </li>
<li>Both lines are currently being upgraded as part of the Sub-Surface Rail (Circle, District, Hammersmith &amp; City and Metropolitan lines) upgrade which will see new tracks, trains and signalling.&nbsp; </li>
<li>53&nbsp;new air conditioned trains set for both the Circle and Hammersmith &amp; City will start rolling out later this year. They are seven carriages long - one carriage longer than the current trains</li>
<li>In December 2009 LU extended the Circle line from Edgware Road to Hammersmith, along the Hammersmith &amp; City tracks. This enabled the running of trains more frequently between Edgware Road and Hammersmith. Now, there are twice as many trains running on this section of the line</li>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Customers using London Underground's Paddington (Hammersmith &amp; City) station will notice significant improvements this week following the opening of the newly built station entrance and concourse.The station is being rebuilt as part of LU's station";}
        
        


 