


@{ViewBag.Title = "Road users urged to plan their Games travel now as final version of planning tool released";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Road users urged to plan their Games travel now as final version of planning tool released</h1>
        <div class="content-page-press-release">
        25 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        GetAheadoftheGames.com now has all the information road users need to plan journeys during Games time.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Roads will be exceptionally busy from mid-July and our advice is clear - avoid driving in central London and around the ORN and venues. If a journey is absolutely essential, plan ahead and allow extra time"</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">TfL's Managing Director of Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Roads will be exceptionally busy from mid-July and our advice is clear - avoid driving in central London and around the ORN and venues. If a journey is absolutely essential, plan ahead and allow extra time
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Local parking plans for managing traffic around venues and during Road Events added to Temporary Road Changes planning tool </li>
<li>Londoners have used the planning tool 88,000 times since it was launched last month </li>
<li>Motorists reminded that London will be turned into a massive sporting and cultural venue from mid-July and roads in central London and around the ORN and venues will be exceptionally busy</li></ul>
<p>Transport for London (TfL) today reminded road users that they should avoid driving in central London, and around the Olympic Route Network (ORN) and Games venues from mid-July as the Capital is turned into a massive sporting and cultural venue. </p>
<p>The reminder comes as TfL's Temporary Road Changes planning tool has been updated to include LOCOG's local parking and traffic management plans around Games venues and how roads around race routes will be affected during Road Events.&nbsp;</p>
<h2>For motorists, cyclists and pedestrians</h2>
<p>This update means the planning tool now has all the information motorists, cyclists and pedestrians need to plan their road journeys during this summer's Games.</p>
<p>The tool, on <a href="http://www.GetAheadoftheGames.com/travelinaffectedareas/city/london-temporary-road-changes.html ">GetAheadoftheGames.com,</a> now helps motorists plan to avoid driving around the routes of the Road Events, which will take place on seven days during the Olympic Games and one day during the Paralympic Games. </p>
<p>The management of traffic around the Road Events will include road closures along the routes and on some surrounding roads on competition days. </p>
<p>LOCOG's plans for local parking and the management of traffic around venues, which are to ensure local residents' and business' access and parking is protected and efficient access to venues is provided, have been added to the planning tool which means door-to-door journeys can now be planned for people living and working in the immediate vicinity of venues.</p>
<p>The 'Temporary Road Changes' planning tool was launched on the GetAheadoftheGames.com&nbsp; website last month with details of the ORN within London, helping road users to see how the areas where they live, work and visit will be affected, searchable by postcode. </p>
<p>In the last four weeks, the planning tool has been used 88,000 times and Londoners are hearing the message to start making their travel plans now. </p>
<h2>Fully plan your journey</h2>
<p>Leon Daniels, TfL's Managing Director of Surface Transport, said: 'We want to make sure that road users are not caught out and plan ahead for the significant changes that the Games will bring to London's road network.&nbsp; </p>
<p>'The details we've now added to the Temporary Road Changes planning tool include local parking and how traffic will be managed around venues and on Road Event competition days. This means road users can now fully plan their journeys by simply putting in a postcode and seeing exactly where and when surrounding areas will be affected.</p>
<p>'Roads will be exceptionally busy from mid-July and our advice is clear - avoid driving in central London and around the ORN and venues.&nbsp;If a journey is&nbsp; absolutely essential, plan ahead and allow extra time.'</p>
<p>LOCOG CEO Paul Deighton said: 'The building work and final planning is well advanced in London now and central London is being transformed into a major sporting venue and the areas around the Olympic Park and other venues may soon have different parking or traffic arrangements. </p>
<p>'We have worked closely with TfL and local authorities to keep disruption to a minimum and there is a huge amount of information out there so people can start planning now for what we hope will be a spectacular summer.'</p>
<p>In order to ensure that the Capital remains open for business and we can keep London moving prior to and during the Games, TfL's advice to road users is clear:</p>
<ul>
<li>From mid-July, motorists should avoid driving in central London, around the ORN and Games venues </li>
<li>Motorists should also avoid the areas around the Road Event courses on competition days such as the Cycling Road Races on 28 and 29 July, the Cycle Time Trial on 1 August, and the Women's and Men's Marathons on 5 and 12 August </li>
<li>Every day of the Games is different, so if you must drive, plan ahead and allow more time </li>
<li>Go to <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> to find out how you can avoid the road hotspots and plan your travel during the Games.</li></ul>
<p><br></p>
<p>
<hr>

<p>
<p><br><strong>Notes to editors:</strong></p><strong>
<ul>
<li></li></ul></strong>The 'Temporary Road Changes' planning tool can be found on the <a href="http://www.GetAheadoftheGames.com/travelinaffectedareas/city/london-temporary-road-changes.html ">GetAheadoftheGames website&nbsp;</a> 
<li>Londoners can sign up for free email alerts to help them plan their journeys at Games-time at <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> </li>
<li>Details of the London 2012 Games Road Event dates and travel advice can be found at <a href="http://www.getaheadofthegames.com/things-you-should-know/changes-roads.html">http://www.getaheadofthegames.com/things-you-should-know/changes-roads.html</a> </li>
<li>In the event that further measures are required to ensure the safe and efficient operation of the ORN, the local parking plans and traffic management around venues and on Road Event days the 'Temporary Road Changes' planning tool will be updated to reflect these changes</li>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Local parking plans for managing traffic around venues and during Road Events added to Temporary Road Changes planning tool Londoners have used the planning tool 88,000 times since it was launched last month Motorists reminded that London will be turned";}
        
        


 