


@{ViewBag.Title = "TfL sets out plans and important travel advice for London 2012 Games Road Events";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL sets out plans and important travel advice for London 2012 Games Road Events</h1>
        <div class="content-page-press-release">
        20 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) and London 2012 today set out plans for managing the London 2012 Games Road Events and issued travel advice to spectators planning to attend.
        
    </div>



 <div class="on-this-page">
<p>London is being turned into a massive sporting and cultural venue, including 13 Road Events being held across London and Surrey during the course of the Games, in addition to Live Sites and cultural events.&nbsp; </p>
<p>The Men's and Women's Paralympic Road Cycling will take place at Brands Hatch, Sevenoaks, Kent from Wednesday 5 to Saturday 8 September.</p>
<p>The Road Events, which include road cycling, marathon, triathlon and race walking, offer a great opportunity for many to see Olympic and Paralympic sport and very large crowds are expected to attend.&nbsp; </p>
<p>Some Road Events also require technical rehearsals and some limited road closures early in the morning (see Notes to editors).</p>
<p>Transport for London (TfL) is working with London 2012, the Metropolitan Police, boroughs and councils across London and Surrey to ensure the Road Events are a great success.&nbsp; </p>
<h2>Plan ahead</h2>
<p>Since March, TfL has worked with these partners to provide information to local business and residents on how and when the events will impact on their local areas.&nbsp; </p>
<p>Detailed information and advice has been provided through a major campaign of letter drops, road shows and publicity.</p>
<p>Information on the road event race routes, the impact on road and public transport networks and how to plan ahead is also available at <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a>.</p>
<p>With just five weeks to go to the London 2012 Olympic Games, people across the country are finalising their Games-time plans.&nbsp;Hundreds of thousands of spectators are expected to attend each road event and, given the road event routes, viewing capacity in central London will be very limited.</p>
<p>TfL and London 2012 issued the following advice to spectators to ensure people enjoy the best possible Games-time experience:</p>
<p>Advice to Spectators:</p>
<ul>
<li>The Road Events offer a great opportunity for many to see Olympic and Paralympic sport and very large crowds are expected to attend </li>
<li>If you are planning to attend a road event, please arrive early, be prepared to wait for several hours and think carefully about bringing small children </li>
<li>Pack food and water, sun cream or waterproof clothing, depending on the weather </li>
<li>Think about the best viewing option for you, your friends and family. For some, it may be better to view the event at one of the many Live Sites across the UK or on TV at home, with friends, at a pub or local community centre </li>
<li>For the Road Cycle Races on Saturday 28 and Sunday 29 July in particular, try to 'stay local' and enjoy the events as they pass through your local community </li>
<li>Have a back-up plan. If it gets really busy, you might want to enjoy one of the wealth of free events, cultural and entertainment opportunities on offer across the UK and during London's 'Summer Like No Other'.&nbsp; Find out what's happening and sign up for updates at <a href="http://www.molpresents.com">www.molpresents.com</a> and download the London 2012 'Join In' app </li>
<li>If you are intending to travel - plan ahead. Go to <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> which has all the tools and information you need about Road Events and how to plan your journey.</li></ul>
<p>TfL also repeated its advice to motorists and urged those in road event areas not to get caught out by the road closures necessary to stage the events.</p>
<p>Advice to Motorists:</p>
<ul>
<li>Motorists are advised to avoid central London, around the ORN, venues and the road event courses </li>
<li>Don't get caught out - you will not be able to cross the race route by road </li>
<li>On road event days road closures will be in place from early morning </li>
<li>Instead, please use public transport, cycle or walk.</li></ul>
<p>Mayor of London, Boris Johnson said: 'London is gearing up to become a huge and wonderful sporting and cultural venue as we welcome the world for the Games.&nbsp;The Road Events offer a great opportunity to see some of the world's top athletes in competition and to experience the numerous other attractions London has to offer.</p>
<p>'Given the huge numbers of people who will be in London for the Games, it is really important that people follow our travel advice and plan ahead.'</p>
<h2>Large crowds expected</h2>
<p>TfL's Managing Director Surface Transport, Leon Daniels said: 'As the Olympic Torch Relay and Queen's Diamond Jubilee have shown, very large crowds will want to see the Road Events.&nbsp;Given the nature of the road event courses, viewing capacity in central London will be limited.&nbsp;We strongly advise people to plan their day and travel in advance to enjoy the best possible Games experience.</p>
<p>'Those intending to line the routes and cheer the athletes on should plan ahead and arrive early. If you live locally to the course enjoy the event in your local community if you can. It may also be that your local pub or community centre, watching at home with family or friends or at one of the Live Sites across the UK, offers a better opportunity to catch all the action as it happens.</p>
<p>'The massive programme of free events, cultural and entertainment activities taking place across London and the UK during the Games also means people will be spoilt for choice.&nbsp;However you intend to join in, plan your travel at <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> and leave plenty of time for your journey.'<br>&nbsp;<br>LOCOG CEO Paul Deighton said: 'This summer, central London will be transformed into one of our biggest Olympic venues where hundreds of athletes will be competing for gold in front of hundreds of thousands of spectators.&nbsp;As a result, central London and some of the roads out of London will be very busy on the days of competition.&nbsp;It is going to be an amazing experience.&nbsp;There is a huge amount of information out there for people to help plan their visits, including our fantastic London 2012 mobile app and the Get Ahead of the Games website.'</p>
<p>The majority of Road Events start and finish in central London, but some - including the Cycle Road Races and Cycling Time Trials - pass through southwest London and Surrey.&nbsp;</p>
<p>The Cycling Road Races on Saturday 28 and Sunday 29 July will take place on routes passing through Westminster, Kensington &amp; Chelsea, Hammersmith &amp; Fulham, The Royal Borough of Kingston upon Thames, Wandsworth and The Royal Borough of Richmond upon Thames, as well as Surrey.</p>
<p>The men's and women's Road Cycling Time Trials will take place on Wednesday 1 August and start and finish at Hampton Court Palace, passing through East Molesey, West Molesey, Thames Ditton, Esher, Whiteley Village, Hinchley Wood, Surbiton, Kingston, Hampton Wick and Teddington.</p>
<h2>Minimum disruption</h2>
<p>To ensure the safety of athletes and spectators, road races need to take place on secure roads and closures and parking restrictions will need to be put in place on the days of the competitions.&nbsp;</p>
<p>These will be managed to keep disruption to a minimum and all roads will be opened safely as quickly as possible after the events have finished.&nbsp;After the events, barriers will need to be removed, road signs, traffic lights and islands reinstated, roads thoroughly cleaned and crowds dispersed before roads can be re-opened safely.</p>
<p>The majority of Road Events will be held at weekends and some competitions will only take place for a few hours beginning in the morning.&nbsp;Where possible, roads will be reopened and restrictions lifted by the late afternoon or early evening.&nbsp;No roads will be closed overnight apart from the roads needed to build the Cycle Time Trial venue at Hampton Court Palace.</p>
<h2>Extra trains</h2>
<p>Helyn Clack, Surrey County Council's Cabinet Member for Community Services and the 2012 Games, said: 'The first gold medal of the 2012 Games will be won on Surrey roads so we're expecting huge crowds. There'll be road closures and parking restrictions along the route so we're urging people to avoid driving in the area. <br>'Extra trains and carriages will be put on but some bus services will be suspended and some trains won't allow bikes. We're urging people to plan ahead by visiting <a href="http://www.gosurrey.info">www.gosurrey.info</a> for all they need to know to make the most of the Olympic events in Surrey.'</p>
<p>A wealth of free events and cultural events will be happening in London's 'Summer Like No Other' as part of the 'Mayor of London Presents' programme. For more information and to find out how to get involved visit <a href="http://www.molpresents.com">www.molpresents.com</a>.<br>&nbsp;<br>For more information on events in the capital and across the UK, as well as ideas on how to get involved wherever you are, download the official London 2012 'Join in' app.</p>
<p>
<hr>
<br>&nbsp;<br>
<p>
            <p type="1"><strong>Notes to editors</strong></p>

<ul>
<li>The following Road Events are taking place as part of the London 2012 Games: <br>Saturday 28 July: Men's Cycling Road Race<br>Sunday 29 July: Women's Cycling Road Race<br>Wednesday 1 August: Men's Road Cycling Time Trial / Women's Road Cycling Time Trial<br>Saturday 4 August: Women's Triathlon<br>Saturday 4 August: Men's 20km Race Walk<br>Sunday 5 August: Women's Marathon<br>Tuesday 7 August: Men's Triathlon<br>Saturday 11 August: Men's 50km Race Walk<br>Saturday 11 August: Women's 20km Race Walk<br>Sunday 12 August: Men's Marathon<br>Sunday 9 September: Men's Paralympic Marathon / Women's Paralympic Marathon </li>
<li>The Paralympic Road Cycling events will take place from Wednesday 5 to Saturday 8 September in and around Brands Hatch, Sevenoaks, Kent. For specific information and travel advice for this event, go to <a href="http://www.getaheadofthegames.com/travelinaffectedareas/sevenoaks.html">www.getaheadofthegames.com/travelinaffectedareas/sevenoaks.html</a> </li>
<li>The London 2012 Games Road Events will take place on routes passing through Westminster, City of London, Kensington &amp; Chelsea, Hammersmith &amp; Fulham, Kingston Upon Thames, Wandsworth and Richmond Upon Thames - as well as Surrey. Details of how and when the events will impact on the road network in these areas is being provided through a campaign of letter drops, road shows and publicity, delivered by TfL in partnership with London 2012 and London boroughs on road event routes </li>
<li>Some roads will also be affected by testing of road event routes. Where possible, these will take place within road closures for other events, but it will be necessary to close some roads. In south-west London and north Surrey on Tuesday 31 July, roads will be closed on a rolling basis for technical officials to test the Cycling Time Trial route. Although there will be some disruption, this will only affect areas very close to the race route and only for a short period of time (less than 30 minutes). As part of the preparation for the Triathlons, a technical rehearsal will take place early on Thursday 2 August. Hyde Park Corner will close from 3:30am and reopen at 8:45am. For more information see: <a href="http://www.getaheadofthegames.com/things-you-should-know/changes-roads.html">www.getaheadofthegames.com/things-you-should-know/changes-roads.html</a> </li>
<li>Live Sites are big screens located in every UK nation and region and will be great places to enjoy live London 2012 competition. The main Live Sites in the capital will be in Hyde Park and Victoria Park during the Olympic Games, and Trafalgar Square during the Paralympic Games. There will also be a choice of smaller Live Sites in boroughs across London, and a network of sites in the heart of communities across the UK </li>
<li>The Official London 2012 Join In app is a free mobile guide to help you plan, enjoy and share your Games experience. From the Olympic Torch Relay to the Olympics and Paralympics, the Opening and Closing Ceremonies, plus all the cultural, city and community celebrations happening across the UK, the Official London 2012 Join In App is your essential companion. Its available now in app stores for Android, iOs (Apple) and Blackberry. <a href="http://www.london2012.com/mobileapps/">http://www.london2012.com/mobileapps/</a> </li>
<li>The Mayor of London is hosting a huge programme of free events and cultural activities to add to the excitement of 2012. Working with outstanding international artists and world class cultural organisations this unprecedented Mayor of London Presents programme is taking place in every corner of the capital to add to and complement the London 2012 Festival. It includes Secrets: Hidden London, with artists and performers transforming hidden and lesser known locations; Showtime, the largest outdoor arts festival ever seen in the capital, with dozens of electrifying artists from the UK and abroad coming to every borough, in high streets, parks and town centres; BT London Live, bringing live action from the Games, as well as sporting activities and entertainment to Hyde Park, Victoria Park and Trafalgar Square; and Surprises bringing pop-up performances and once in a lifetime experiences to locations familiar and unusual, above your heads and atop landmark buildings. To be the first to know what's happening in this Summer Like No Other, sign up or follow us at <a href="http://www.molpresents.com">www.molpresents.com</a> / <a href="http://www.facebook.com/mayoroflondonpresents">www.facebook.com/mayoroflondonpresents</a> / <a href="http://www.twitter.com/molpresents">www.twitter.com/molpresents</a>.</li></ul>
<p><strong></strong>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London is being turned into a massive sporting and cultural venue, including 13 Road Events being held across London and Surrey during the course of the Games, in addition to Live Sites and cultural events.&nbsp; The Men's and Women's Paralympic Road";}
        
        


 