


@{ViewBag.Title = "TfL advice to Londoners travelling this evening";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL advice to Londoners travelling this evening</h1>
        <div class="content-page-press-release">
        22 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        17:30 bulletin
        
    </div>



 <div class="on-this-page">
<ul>
<li>Over a third of bus services operated throughout today and continue to do so </li>
<li>Over 30 night bus routes will operate fully and others are likely to run some services </li>
<li>Passengers advised to check before travelling at <a href="http://www.tfl.gov.uk/buses">tfl.gov.uk/buses</a></li></ul>
<p><br>Over a third of bus services have operated throughout today despite the strike by some bus workers called by the leadership of the Unite union.</p>
<p>The Mayor of London secured an unprecedented extra &pound;8.3m from the Olympic Delivery Authority to enable the bus companies and Unite to resolve their dispute, but the union leadership has proved to be determined to try to disrupt Londoners.</p>
<p>More than a third of bus services are expected to continue to operate through the evening, with some operators affected by the strike continuing to run some services. Over 30 night bus routes will operate fully and others are likely to run some services.</p>
<p>London Underground, London Overground and Docklands Light Railway have operated as normal throughout the day, with passenger numbers up by around 18 per cent across Tube and rail networks.</p>
<p>TfL is urging Londoners to utilise the wide range of information available in order to check the status of their usual service before travelling home this evening.&nbsp; These options include:</p>
<ul>
<li>Up-to-date information on bus services on a route by route basis can be found at tfl.gov.uk/buses </li>
<li>Passengers can also check for bus arrival times using the Countdown next bus arrival service online, on their mobile devices using <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> or via our SMS text service&nbsp; </li>
<li>Information on the latest situation is being provided via TfL's 2,500 roadside countdown signs </li>
<li>Travel alerts are being provided through Twitter on &#64;TfLTravelAlerts </li>
<li>TfL will also be providing information to radio and television broadcasts for use in news bulletins </li>
<li>A range of easily available Apps for handheld devices now use TfL's live bus information </li>
<li>TfL will also have a large number of staff across the network and at key travel hubs to provide advice to passengers</li></ul>
<p>Where services are disrupted TfL urges passengers to use other transport options, or to walk or cycle where possible. The average bus journey is around 2.2 miles so many of these journeys could be made in this way. TfL has put in place a number of measures to help people get around and to manage disruption.&nbsp;These include:</p>
<ul>
<li>TfL is operating a full service across the Tube network, with extra staff on hand to assist passengers </li>
<li>Full services are also operating on the Docklands Light Railway, London Tramlink and London Overground networks with additional staff deployed to assist passengers </li>
<li>Marshalled taxi ranks will operate at a number of key rail hubs including Victoria, St Pancras, Waterloo, Liverpool Street and London Bridge </li>
<li>A&nbsp;full service will also be operated by London River Services, which includes River Bus services that operate high frequency services between various key piers </li>
<li>During the course of the strike bus passes will be accepted on reasonable alternative routes on Tube, DLR, and London Overground - affected passengers should seek assistance from staff at the gate lines </li>
<li>For Londoners travelling late at night TfL recommends utilising one of London's 22,000 black cabs, which can be hailed from the street or pre-booking one of the 48,000 licensed minicabs</li></ul>
<p>Passengers should remember:</p>
<ul>
<li>Never approach a minicab on the street or accept a fare, they are acting illegally, even if they are licensed by TfL </li>
<li>Only black cabs can pick passengers up on the street without a booking&nbsp; </li>
<li>When travelling by minicab always book it with a licensed operator, when it is arrives check it's for you by getting the driver to confirm your booking details and check the driver's photo identification and always sit in the back </li>
<li>To get three local cab numbers text 'CAB' to 60835**&nbsp; </li>
<li>Visit tfl.gov.uk/cabwise for more information</li></ul>
<p>Peter Hendy, Transport Commissioner, said: 'Over a third of bus services have operated today despite the strike called by the Unite leadership and we expect this level of service to continue into the evening.</p>
<p>'It is now clear that the leadership of Unite were intent on a strike all along.</p>
<p>'They have pursued this unnecessary course of action despite an extra &pound;8.3m being brokered by the Mayor that would allow every bus driver in London in a garage where one or more routes were affected by the 2012 Games to gain, over the 29 days of the competitions, about &pound;500.<br>&nbsp; <br>'Despite additional offers to supplement this from the bus companies the Unite leadership have refused to defer the strike to give time for further negotiations or for any of the offers to be put to their members. </p>
<p>'I'm sorry that Londoners have therefore been disrupted today.</p>
<p>'Our contingency plans have ensured that&nbsp; Londoners and visitors have been able to get around.</p>
<p>'I would advise everybody travelling home this evening to check before travelling at <a href="http://www.tfl.gov.uk/buses">tfl.gov.uk/buses</a> and to take the advice on our website about alternative travel options.'</p>
<p>London Buses staff and volunteers from across TfL have been on the streets and at key transport hubs across London today&nbsp;to provide travel advice and distribute walking maps. </p>
<p>TfL emailed around 1.5 million registered bus users advising them of the likely disruption and urging them to check before they travel.</p>
<p>Additional distribution staff have been working throughout today to ensure Barclays Cycle Hire Scheme docking stations are able to meet demand at key locations.&nbsp;&nbsp;&nbsp; </p>
<p><br>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Following the outcome of a legal challenge by three of the bus operating companies an injunction has been granted which prevents the strike going ahead in significant areas of northwest and south London </li>
<li>The following services are full services being operated by those companies covered by the injunction but also companies affected by the strike that continue to operate full and partial services.&nbsp;Passengers are advised to check before they travel </li>
<li>**Text charged at 35p per enquiry plus standard text message rate. Roaming rates apply to overseas networks. <a href="/termsandconditions/7163.aspx">Terms and conditions </a>apply&nbsp;<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Over a third of bus services operated throughout today and continue to do so Over 30 night bus routes will operate fully and others are likely to run some services Passengers advised to check before travelling at tfl.gov.uk/busesOver a third of bus";}
        
        


 