


@{ViewBag.Title = "TfL sets out plans to implement Olympic Route Network and begin operation on 25 July";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL sets out plans to implement Olympic Route Network and begin operation on 25 July</h1>
        <div class="content-page-press-release">
        12 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        During the Games, London to become a massive sporting and cultural venue.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The ORN, which is part of the Host City contract for the Games, will be a vital part of managing the busy roads and delivering a great Games"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The ORN, which is part of the Host City contract for the Games, will be a vital part of managing the busy roads and delivering a great Games
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Vast majority of the physical preparatory works on the ORN carried out from 20 July with operation and enforcement to begin on 25 July, a couple of days ahead of the Olympic Opening Ceremony </li>
<li>Motorists advised to avoid central London, around the ORN and Games venues from mid-July</li></ul>
<p>Transport for London (TfL) today set out the detailed plans for implementation and operation of the Olympic Route Network (ORN) and provided important advice for motorists in the run-up to and during the London 2012 Games.</p>
<p>During the London 2012 Games, London will be turned into a massive sporting and cultural venue.&nbsp;</p>
<h2>Busier roads</h2>
<p>With the Games Family arriving, the athletes' village opening and the final preparations being made, roads in central London and around venues will be much busier than usual from the middle of July.</p>
<p>In order to ensure that the Capital remains open for business and we can keep London moving during the Games, TfL's advice to road users is clear:</p>
<ul>
<li>From mid-July, motorists should avoid central London, around the ORN and Games venues </li>
<li>Motorists should also avoid the areas around the road event courses on competition days, such as the Cycling Road Races on 28 and 29 July, as well as the Cycle Time Trial on the 1 August </li>
<li>Every day of the Games is different, so if you must drive, plan ahead and allow more time </li>
<li>Go to the <a href="http://www.getaheadofthegames.com ">Get Ahead of the Games website </a>to find out how you can avoid the road hotspots during the Games</li></ul>
<p>The ORN, a 109-mile network of roads linking Games venues on one per cent of the Capital's roads, is a requirement of the Host City contract and is vital in ensuring all athletes, officials and the world's media get to their Games events on time.&nbsp; </p>
<p>All motorists can use the ORN, and 30 miles of it will include Games Lanes, alongside lanes for general traffic, available only to vehicles carrying the 'Games Family' - the athletes, officials, media and some sponsors.&nbsp; </p>
<p>TfL today confirmed that operation and enforcement of the ORN, including the Games Lanes, will begin on Wednesday 25 July, a couple of days before the Opening Ceremony of the Olympic Games.&nbsp;</p>
<p>It will end operation a couple of days after the Games and will not be in operation between the Olympics and Paralympics.&nbsp;</p>
<p>The smaller Paralympic Route Network (PRN) will also come into operation just a couple of days before the Paralympic Games. Once Games events are completed at a venue, such as Wimbledon, the ORN will be removed. </p>
<h2>Temporary changes</h2>
<p>Ahead of the start of operation and enforcement of the ORN, a large programme of temporary changes to the road network need to be implemented.&nbsp; </p>
<p>Due to the scale of the physical preparatory works, and in order to carry them out safely and with minimal disruption to local residents and road users, they will be carried out over four nights from the weekend before the Games begin.</p>
<p>Ahead of then, from 1 July, road markings will start to be put down along the ORN but these will not change the operation of the roads. </p>
<p>Adjustments to over 1,300 sets of traffic signals will also begin from 1 July, before traffic levels significantly increase as thousands of athletes and media descend on the Capital. </p>
<p>These adjustments will have minimal impact on road users as they will be balanced out by the complete ban on all planned road works along the ORN and on all A and B roads. </p>
<p>The physical changes along the ORN, including installing temporary traffic islands and barriers to simplify junctions need to be completed before the torch relay arrives and central London becomes a massive sporting and cultural venue. </p>
<p>To keep impact to a minimum the programme of physical works is being carried out over only four nights, beginning 2100hrs on Friday 20 July and finishing the morning of Wednesday 25 July, when the ORN begins operation and enforcement.</p>
<p>London's Transport Commissioner, Peter Hendy said: 'During the Games, London will be turned into a massive sporting and cultural venue.&nbsp;</p>

<p>'We have plans in place to get all athletes, officials and the world's media to their Games events on time and to keep London moving and open for business.</p>
<p>'From-mid July, central London and areas around Games venues will be much busier than usual.&nbsp;The ORN, which is part of the Host City contract for the Games, will be a vital part of managing the busy roads and delivering a great Games.&nbsp;</p>

<p>'It will come into operation on the 25 July, a couple of days before the Opening Ceremony.&nbsp; </p>
<p>'Our advice to motorists is clear.&nbsp; From mid-July, avoid driving in central London, around the ORN and Games venues.&nbsp;</p>
<p>If you must drive, plan your journey using <a href="http://www.getaheadofthegames.com">http://www.getaheadofthegames.com</a></p>
<h2>ORN timetable</h2>
<p>The ORN build and implementation timetable is as follows:</p>

<ul>
<li>From Sunday 1 July: Marking out of Games lanes and other road markings begins. Variable Message Signs (VMS)&nbsp; along the route will clearly state to drivers that they may continue to use the road network as normal and are not restricted from using the lanes marked out with the Games symbols until operation of the ORN begins on 25 July. Adjustments will also be made to over 1,300 sets of traffic signals and the complete ban on all planned road works on A and B roads begins </li>
<li>From Saturday 07 July: Reversal of traffic flow in Kingsway Tunnel (Aldwych). Traffic through the tunnel will temporarily flow southbound only through this link of the ORN which will be vital for assisting movement to and from the Media Hub in Bloomsbury. The temporary reversal will be removed in mid August after the Olympic Games, and is not required for the Paralympic Games </li>
<li>From Monday 16 July: The Games Family - athletes, officials and the world's media - will begin to arrive in London in significant numbers, resulting in increasing traffic, adding to congestion. As a result, the M4 Games Lane is due to come into operation from 16 July </li>
<li>From Friday 20 July: The major, physical ORN build and implementation works, including installation of barriers to simplify junctions, will begin overnight on 20 July and will take four days </li>
<li>From Tuesday 24 July: The designated standalone pedestrian crossings and parking/loading bays along the ORN will be suspended and blocked off overnight on 24 July </li>
<li>From Wednesday 25 July:&nbsp;The ORN and the Games Lanes will be in operation and will be enforced from 0600hrs to 0000hrs daily</li></ul>
<p>TfL is committed to keeping London moving throughout the Games and to help achieve this the Games lanes will operate as flexibly as possible, and be opened up to all traffic at times when demand from Games family vehicles is low and capacity available. A network of 150 VMS along the route will advise motorists when Games lanes are open to regular traffic throughout the day.</p>
<p>
<hr>
<strong>Notes to editors:</strong> 
<p>
<ul>
<li>The plan of which roads/areas will have the physical preparatory works carried out each night of the four night programme is as below, however is subject to change:<br>-&nbsp;Friday 20 July (2100 to 0600) - The Highway, Victoria Embankment, Upper/Lower Thames Streets, Park Lane, Dock Road, Kingsway to Euston<br>-&nbsp;Saturday 21 July (2100 to 0600) - A4 from Chiswick Roundabout to Hyde Park Corner, Gloucester Place, Baker Street, A12, Earls Court, Parliament Square, Whitehall<br>-&nbsp;Sunday 22 July (2100 to 0600) - A12, Blackwall Tunnel, A102 Sun in Sands, Marylebone Road, Euston Road, A40 from North Circular to Marylebone Flyover, Greenwich<br>-&nbsp;Monday 23 July (2100 to 0600) - A406 to Wembley, A3, Nine Elms Road, Battersea Park Road, Millbank to Wimbledon, Park Road, Lisson Grove to Lords Cricket Ground</li>
<li>The new Temporary Road Changes planning tool on the <a href="http://www.getaheadofthegames.com ">Get Ahead of the Games&nbsp;website</a> includes information on all of the traffic measures required for the operation of the ORN, enabling London's road users to see how the areas where they live, work and visit will be affected during the Games, searchable by postcode. Later this month it will be updated to include details about traffic management around the Road Events routes and venues</li>
<li>In early July, some security measures will also begin to be implemented along some part of the road network near to Games and accommodation venues</li>
<li>The ORN also extends out of London to other London 2012 venues in the south of England.&nbsp;These routes are being delivered by the Olympic Delivery Authority (ODA) in partnership with the respective local highway authorities. ORN operational and enforcement dates and times outside of London differ from those being delivered by TfL within London. For more information please contact the ODA Press Office on 0203 2012 700</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Vast majority of the physical preparatory works on the ORN carried out from 20 July with operation and enforcement to begin on 25 July, a couple of days ahead of the Olympic Opening Ceremony Motorists advised to avoid central London, around the ORN and";}
        
        


 