


@{ViewBag.Title = "TfL advice during Unite industrial action - 06:30am";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL advice during Unite industrial action - 06:30am</h1>
        <div class="content-page-press-release">
        22 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        6:30am bulletin
        
    </div>



 <div class="on-this-page">
<ul>
<li><strong>Around 24 per cent of bus services operating but many routes disrupted </strong></li>
<li><strong>Passengers urged to use other transport services, walk or cycle where possible&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></li>
<li><strong>Metroline, Arriva the Shires, London General, Quality Line and Sullivan's all running good services </strong></li>
<li><strong>Check before you travel at </strong><a href="http://www.tfl.gov.uk/buses"><strong>www.tfl.gov.uk/buses</strong></a><strong> </strong></li></ul>
<p><strong><a href="/assets/downloads/routes-running-normal-services.pdf">Routes expected to be running normal services (PDF 33Kb)</a></strong></p>
<p>Despite the Mayor of London securing an unprecedented extra &pound;8.3m from the Olympic Delivery Authority to enable the bus companies and Unite to resolve their dispute, the union leadership has proved to be determined to try to disrupt Londoners. </p>
<p>There are therefore less buses in service this morning, with around 24 per cent of services running. Many routes are disrupted and TfL is urging Londoners to utilise the wide range of information available in order to check the status of their usual service. </p>
<p>These options include: </p>
<ul>
<li>Up-to-date information on bus services by route can be found at tfl.gov.uk/buses </li>
<li>Passengers can also check for bus arrival times using the Countdown next bus arrival service online, on their mobile devices using <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> or via our SMS text service&nbsp;&nbsp; </li>
<li>Information on the latest situation is being provided via TfL's 2500 roadside countdown signs </li>
<li>Travel alerts are being provided through Twitter on &#64;TfLTravelAlerts </li>
<li>TfL will also be proving information to radio and television broadcasts for use in news bulletins. </li>
<li>A range of easily available Apps for handheld devices now use TfL's live bus information </li>
<li>TfL will also have a large number of staff across the network and at key travel hubs to provide advice to passengers. </li></ul>
<p>Where services are disrupted TfL urges passengers to use other transport options, or to walk or cycle where possible. The average bus journey is around 2.2 miles so many of these journeys could be made in this way.&nbsp; TfL has put in place a number of measures to help people get around and to manage disruption.&nbsp; </p>
<p>These include: </p>
<ul>
<li>London Buses staff and volunteers from across TfL will be on the streets and at key transport hubs across London to provide travel advice and distribute walking maps.&nbsp; </li>
<li>TfL is operating a full service across the Tube network, with extra staff on hand to assist passengers. </li>
<li>Full services are also operating on the Docklands Light Railway, London Tramlink and London Overground networks with additional staff deployed to assist passengers. </li>
<li>Marshalled taxi ranks will operate at a number of key rail hubs including Victoria, St Pancras, Waterloo, Liverpool Street and London Bridge. </li>
<li>A full service will also be operated by London River Services, which includes River Bus services that operate high frequency services between various key piers. </li>
<li>During the course of the strike bus passes will be accepted on reasonable alternative routes on Tube, DLR, and London Overground - affected passengers should seek assistance from staff at the gate lines. </li>
<li>TfL has also emailed around 1.5 million registered bus users advising them of the likely disruption and urging them to check before they travel. </li>
<li>Additional distribution staff will work throughout today to ensure Barclays Cycle Hire Scheme docking stations are able to meet demand at key locations.&nbsp;&nbsp;&nbsp;&nbsp; </li></ul>
<p>Peter Hendy, Transport Commissioner, said: "It is now clear that the leadership of Unite were intent on a strike all along. They have pursued this unnecessary course of action despite an extra &pound;8.3m being brokered by the Mayor that would allow every bus driver in London in a garage where one or more routes were affected by the 2012 Games to gain, over the 29 days of the competitions, about &pound;500.&nbsp; </p>
<p>"Despite additional offers to supplement this from the bus companies the Unite leadership have refused to defer the strike to give time for further negotiations or for any of the offers to be put to their members. I'm sorry that Londoners are therefore going to be disrupted today. </p>
<p>"We are now working together with our partners to ensure that Londoners and visitors have alternative travel options and the necessary advice to enable them to get around. I would advise everybody to use other transport services, to consider walking and cycling for shorter journeys and to check before travelling at <a href="http://www.tfl.gov.uk/buses">www.tfl.gov.uk/buses</a>"&nbsp; </p>
<p>London Underground has well-practised congestion management procedures to deal with large numbers of customers.&nbsp; </p>
<p>LU will has additional staff in place at key locations to provide help and information to enable customers to complete their journeys. </p>
<p>All staff are well-trained and fully understand the congestion management plans, and LU is ready to use those procedures if necessary to ensure that we can continue to keep London moving. </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Around 24 per cent of bus services operating but many routes disrupted Passengers urged to use other transport services, walk or cycle where possible&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Metroline, Arriva the Shires, London General, Quality";}
        
        


 