


@{ViewBag.Title = "TfL Annual Report:  Upgrades delivered, savings secured and record Tube ridership and reliability";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL Annual Report:  Upgrades delivered, savings secured and record Tube ridership and reliability</h1>
        <div class="content-page-press-release">
        08 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has published its draft Annual Report and Statement of Accounts for the year ended 31 March 2012.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Once again last year, TfL operated more services and carried more customers, more reliably"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy CBE</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Once again last year, TfL operated more services and carried more customers, more reliably
                            
                        </p>
                    </div>
                
            
            
            <p>The draft report will be considered by TfL's Audit and Assurance Committee on 15 June, before being presented to the TfL Board later this month.</p>
<p>The Report sets out the major upgrades and improvements delivered across London's transport network in 2011/12, a year that saw record ridership and improved reliability on the Tube and across the TfL network. TfL carried more customers than ever before, with 1.17billion on the Tube for the first time, 2.3billion bus journeys, 102.6million London Overground journeys, 86million on the DLR and 28.5million London Tramlink journeys. High levels of customer satisfaction were achieved, with all key services seeing customer satisfaction scores maintained or improved.</p>
<h2>Protecting frontline serices</h2>
<p>The Mayor and TfL have led the way across the public sector in delivering value for money through the implementation of a &pound;7.6bn savings and efficiencies programme while protecting essential upgrade and frontline services. </p>
<p>TfL has delivered net savings of &pound;1,809m since the efficiencies programme began, currently &pound;433m ahead of target. This represents more than 24 per cent of the total savings and efficiencies to be delivered by 2017/18. TfL is fully committed to continue to deliver efficiencies through better commercial procurement and reduction in the use of non-permanent labour.</p>
<p>The huge programme of works continued in readiness for the London 2012 Games as the capital prepares to welcome the world, host a great Games and keep London moving this summer.
<p>In addition, TfL also undertook a huge programme of upgrades, extensions and improvements across London's transport network including:</p>
<ul>
<li>A full fleet of new Victoria line trains in passenger service </li>
<li>The completion of the Jubilee line upgrade including a new timetable running 30 trains per hour at the busiest times </li>
<li>The introduction of a new lane rental scheme to combat disruption caused by roadworks. 27 boroughs have now signed up to the scheme </li>
<li>The eastern extension of Barclays Cycle Hire with 2,300 more bikes and 4,800 additional docking stations. More than 11 million hires have taken place since the launch of the scheme in 2010 </li>
<li>The first 'super green' New Bus for London entered service on route 38, taking just two years to get from the drawing board to the streets of London </li>
<li>Real-time bus information became available 'anytime, anywhere' for all 19,000 bus stops, the service is now used by hundreds of thousands of passengers everyday </li>
<li>The completion of the &pound;300m Docklands Light Railway upgrade which includes longer platforms and better track and signalling and the introduction of three-car trains on the Tower Gateway to Beckton route </li>
<li>A new capital wide electric charge point network was launched, Source London, with over 650 points installed across the capital </li>
<li>Green Park station upgraded including step-free access from street to platform </li>
<li>Crossrail Tunnelling and Underground Construction Academy opened in September, the first two tunnel boring machines have been named (Phyllis and Ada) with tunnel boring now underway at Royal Oak </li>
<li>Main works on Emirates Air Line got underway, sponsorship was secured with Emirates to provide funding of &pound;36m in ten year deal </li>
<li>Preparations for Games time continues with consultation and information on road closures and details of traffic measures required to keep London moving during the Olympic and Paralympic Games </li>
<li>Tighter standards of the Low Emission Zone came into force and taxi age limits were introduced </li>
<li>A 200m2 green wall was installed on Marylebone Road next to Edgware Road Tube station designed to trap particulate matter</li></ul>
<p>
<h2>Improvements programme</h2>
<p>The Mayor of London and Chairman of TfL, Boris Johnson, said: 'These are tough economic times but thanks to the considerable investment secured from the Government we have been able to make significant improvements to the capital's transport network over the last twelve months.<br>'That massive programme of improvements is vital in driving economic development and growth to improve the quality of Londoners' lives. Looking forward my team will continue to cut waste and direct spending towards improvements to the frontline services that provide the greatest benefit for Londoners.'</p>
<p>Peter Hendy CBE, London's Transport Commissioner, said: 'Once again last year, TfL operated more services and carried more customers, more reliably. However, we are not complacent and will focus once again this year on upgrading our networks, improving the reliability of our services and our customers' experience of TfL.<br>'Last year was also one of great change across TfL, with Project Horizon delivering in a leaner, fitter organisation. Support services have been centralised and all staff are fully focused on delivering or supporting efficient frontline services and the upgrade of the transport network.&nbsp; We look forward to the London 2012 Games and to making the most of the legacy of investment in transport infrastructure and behavioural change.'</p>
<h2>More streamlined structure </h2>
<p>The TfL Annual Report and Statement of Accounts also set out, as it does each year, senior remuneration across the TfL group of companies.</p>
<p>In recognition of the continuing difficult economic climate and financial constraints on TfL, in 2011/12 the base pay of the Commissioner and Chief Officers was frozen for a third consecutive year.</p>
<p>Over the last year, TfL has completed a review of the support functions across the organisation, this has reduced back office costs by 20 per cent. A more streamlined structure was introduced whilst ensuring we continue to be fully focused on delivering and maintaining frontline services and our unprecedented investment to upgrade and expand London's transport network.</p>
<p>The number of TfL staff who receive total remuneration over &pound;100,000 has fallen by three per cent, from 231 in 2010/11 to 223 in 2011/12. That figure includes Tube Lines staff as Tube Lines is now a wholly owned part of TfL. But it does not include Crossrail staff (30) and those whose severance payments took their final total over &pound;100,000 (112). If Crossrail and those people with severance payments that took their final total over &pound;100,000 are included then the number of people earning total remuneration of over &pound;100,000 across the TfL group of companies in 2011/12 was 365, down 14 from 379 (four per cent) in 2010/11.</p>
<p>
<hr>
<br>
<p>
            <p><strong>Note to Editors:</strong></p>
<ol type="1">
<li>TfL's draft 2011/12 Annual Report and Statement of Accounts is available on the TfL website: <a href="http://www.tfl.gov.uk/corporate/about-tfl/boardandchiefofficers/papers/1448.aspx">http://www.tfl.gov.uk/corporate/about-tfl/boardandchiefofficers/papers/1448.aspx</a></li>
<li>The Annual Report and Statement of Accounts is a draft and is subject to change by TfL's Audit and Assurance Committee<br></li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The draft report will be considered by TfL's Audit and Assurance Committee on 15 June, before being presented to the TfL Board later this month.The Report sets out the major upgrades and improvements delivered across London's transport network in 2011/12,";}
        
        


 