


@{ViewBag.Title = "TfL condemns unnecessary and unwarranted strike threat by Unite";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL condemns unnecessary and unwarranted strike threat by Unite</h1>
        <div class="content-page-press-release">
        09 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London today responded to the result of a strike ballot from Unite.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I am not surprised that 70 per cent of London's bus drivers did not vote for strike action"</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">TfL's Managing Director of Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I am not surprised that 70 per cent of London's bus drivers did not vote for strike action
                            
                        </p>
                    </div>
                
            
            
            <p>The union is demanding a &pound;500 'bonus' for each of the 24,000 bus drivers in London for working during the London 2012 Games.</p>
<p>Transport for London (TfL) maintains that bus drivers are employed by private companies and their pay and conditions are a matter for those private companies.</p>
<p>The leadership of Unite has today threatened strike action by bus drivers ahead of or even during the London 2012 Olympic Games.</p>
<p>Leon Daniels, TfL's Managing Director of Surface Transport, said: 'I am not surprised that 70 per cent of London's bus drivers did not vote for strike action. That is because about 70 per cent of London's local bus services are not affected by the Olympic Games. </p>

<p>'The whole country is really entering into the spirit of the Games and the overwhelming responsible majority are pulling out all the stops to make it a huge success. Only Unite appears to want to exploit it by adding a further multi-million pound burden to the hard-pressed farepayers and taxpayers of London.</p>
<p>'We are really disappointed that the Unite leadership is encouraging its members to take this unnecessary strike action. Unite has already negotiated binding deals for pay and conditions with each of the London bus companies for this year and those companies are keeping their end of the deal. </p>

<p>'Attempting to tear up those agreements and get a new one with less than 50 days to go before the Games is completely reprehensible and out-of-step with every other provider of services in this city this summer.'</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The union is demanding a &pound;500 'bonus' for each of the 24,000 bus drivers in London for working during the London 2012 Games.Transport for London (TfL) maintains that bus drivers are employed by private companies and their pay and conditions are a";}
        
        


 