


@{ViewBag.Title = "TfL advises road users to avoid The Mall and surrounding roads as LOCOG begins construction of London 2012 Games venues";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL advises road users to avoid The Mall and surrounding roads as LOCOG begins construction of London 2012 Games venues</h1>
        <div class="content-page-press-release">
        18 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is advising drivers, cyclists and pedestrians to avoid The Mall and surrounding roads as work begins to build Beach Volleyball and road event venues.
        
    </div>



 <div class="on-this-page">
<p>TfL today reminded road users that from 00:00 on Monday 18 June, Horse Guards, Horse Guards Parade and much of The Mall will be closed as the London Organising Committee of the Olympic Games (LOCOG) begins work to construct the venues for the Olympic Beach Volleyball and Olympic and Paralympic road events, as central London begins its transformation into a massive sporting and cultural venue. </p>
<p>The works to build both venues involve the construction of grandstands, training venues and back of house facilities and are major construction projects. The build has been left as late as possible, to minimise the impact on London and road users.</p>
<h2>Keep London moving </h2>
<p>TfL is working closely with partners LOCOG and The Royal Parks to facilitate the construction of the venues and to keep London moving. TfL therefore issued the following important travel information and advice to motorists, cyclists and pedestrians:</p>
<ul>
<li>The Mall will be closed to road users and pedestrians from Monday 18 June so that LOCOG can begin constructing the road events venue </li>
<li>Marlborough Road, which runs between Pall Mall and The Mall, will also be closed to motorists. TfL is working with LOCOG to open Marlborough Road to traffic southbound traffic whenever the construction timetable allows. Details of exactly which dates Marlborough Road will remain open to traffic are being finalised and TfL will advise as soon as they are confirmed </li>
<li>Pedestrian access via Marlborough road will be maintained in the run up to and throughout the London 2012 Games, except on road event days, the majority of which are on weekends. Details of the road event dates and travel advice can be found at <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> (see Notes to editors) </li>
<li>Horse Guards Road and Horse Guards Parade will be closed to drivers, cyclists and pedestrians as LOCOG build and secure the Beach Volleyball venue </li>
<li>During the Games period only ticketed spectators will be allowed into the venue area. Pedestrian access to The Mall Galleries and the Institute of Contemporary Arts (ICA) will be maintained via the Duke of York Steps/Waterloo Place, Cockspur Street and Spring Gardens </li>
<li>Motorists are urged to check before they travel via local media travel bulletins, <a href="http://www.tfl.gov.uk/roads">tfl.gov.uk/roads</a> and &#64;TfLTrafficNews</li></ul>
<h2>Key Olympic venue</h2>
<p>LOCOG Chief Executive, Paul Deighton, said: 'From Monday we begin the major building work which will transform this part of central London into one of our biggest Olympic venues where athletes will be competing for gold in front of hundreds of thousands of spectators.</p>
<p>'We are working closely with TfL to keep disruption to a minimum as we build sporting arenas for Beach Volleyball and the road events.'</p>
<p>Leon Daniels, TfL's Managing Director Surface Transport, said: 'These changes signal the start of the capital's transformation into a massive sporting and cultural venue ahead of the London 2012 Games. </p>
<p>'The closure of the Mall has been agreed with The Royal Parks and other Games partners to ensure that the Beach Volleyball and road event venues can be built right in the heart of the city.</p>
<p>'From Monday, motorists and cyclists should avoid The Mall and surrounding roads and plan an alternative route and check before they travel, and pedestrians should allow more time for their journey.'</p>
<h2>Advice for road users</h2>
<p>In order to ensure that the capital remains open for business and we can keep London moving prior to and during the Games, TfL's advice to road users is clear:</p>
<ul>
<li>From Monday, motorists should avoid driving in the St James Park area </li>
<li>From mid-July, motorists should avoid central London, around the ORN and Games venues </li>
<li>Motorists should also avoid the areas around the road event courses on competition days, such as the Cycling Road Races on 28 and 29 July, as well as the Cycle Time Trial on 1 Augus </li>
<li>Every day of the Games is different, so if you must drive, plan ahead and allow more time </li>
<li>Go to <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> to find out how you can avoid the road hotspots and plan your travel during the Games</li></ul>
<p>
<hr>
<br>
<p>
            <p><strong>Notes to editors:</strong></p>
<ol type="1">
<li>Details of the London 2012 Games road event dates and travel advice can be found at <a href="http://www.getaheadofthegames.com/things-you-should-know/changes-roads">http://www.getaheadofthegames.com/things-you-should-know/changes-roads</a> </li>
<li>A 'Temporary Road Changes' tool is located at <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a>, which hosts all the information road and public transport users need about travelling in London and around other UK venues during the Games. The new 'Temporary Road Changes' tool currently includes information about the Olympic and Paralympic Route Networks (ORN/PRN) and the Road Event routes in London.&nbsp; More information, including traffic management around the road event routes and venues, will be added to the 'Temporary Road Changes' tool later this month </li>
<li>Live travel updates are provided at the TfL website tfl.gov.uk and via TfL's Twitter feeds &#64;TfLTrafficNews and &#64;TfLTravelAlerts. For more information, visit <a href="http://www.tfl.gov.uk/socialmedia">tfl.gov.uk/socialmedia</a> </li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL today reminded road users that from 00:00 on Monday 18 June, Horse Guards, Horse Guards Parade and much of The Mall will be closed as the London Organising Committee of the Olympic Games (LOCOG) begins work to construct the venues for the Olympic";}
        
        


 