


@{ViewBag.Title = "Transport for London services during the Diamond Jubilee celebrations";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London services during the Diamond Jubilee celebrations</h1>
        <div class="content-page-press-release">
        06 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport Commissioner thanks Londoners and visitors for acting on Diamond Jubilee travel advice.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Journeys on TfL's public transport network were up by a third, with zone one Tube travel up 50 per cent at certain points </li>
<li>Road traffic in central London down by around 40 per cent </li>
<li>TfL urges customers to continue to plan travel ahead throughout the forthcoming London 2012 Games by visiting <a href="http://www.getaheadofthegames.com">Get Ahead Ahead of the Games</a>.&nbsp;</li></ul>
<p>Analysis from TfL shows that, during the course of the Diamond Jubilee celebrations, its public transport services carried up to a third more customers when compared to normal weekend levels, with central London Tube journeys up by 50 per cent on Sunday - the busiest day of the weekend.</p>
<h2>Londoners acted on advice</h2>
<p>Road traffic in central London was down by around 40 per cent as Londoners and visitors acted on travel advice to avoid driving in central London due to the extensive road and bridge closures necessary to facilitate the celebrations.</p>
<p>London's Transport Commissioner, Peter Hendy CBE, said: 'The weekend's Diamond Jubilee celebrations were a fantastic occasion and a great moment for London. I want to thank Londoners and visitors for acting on our travel advice so that we could support the millions of journeys people made.'</p>
<p>'Our next major transport challenge comes with the arrival of the London 2012 Games. </p>
<p>'Up to one million more people will be in London every day during the Games, which means the transport system will be exceptionally busy.&nbsp;</p>
<h2>Plan travel in advance</h2>
<p>'On the roads, we will be asking people to avoid driving in central London, on or around the Olympic Route Network and venues. On public transport we will be urging people to plan their travel ahead and to avoid public transport hotspot lines and stations. </p>
<p>'All of the information Londoners and visitors need can be found at <a href="http://www.getaheadofthegames.com/">Get Ahead of the Games'</a></p>
<p>Over a million people have started to plan their travel at <a href="http://www.getaheadofthegames.com">Get Ahead of the Games</a>. More detailed information is being added all the time, so customers are advised to check the latest information regularly.&nbsp; <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Journeys on TfL's public transport network were up by a third, with zone one Tube travel up 50 per cent at certain points Road traffic in central London down by around 40 per cent TfL urges customers to continue to plan travel ahead throughout the";}
        
        


 