


@{ViewBag.Title = "Transport for London issues Countdown 'Live Bus Arrivals' API to the TfL Developers' Area and London Data Store ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London issues Countdown 'Live Bus Arrivals' API to the TfL Developers' Area and London Data Store </h1>
        <div class="content-page-press-release">
        06 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Developers are now able to design smartphone applications to enable Londoners to find out exactly where their bus is using a supported scalable interface.
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) is making it's up-to-the-minute Live Bus Arrivals data available to web developers online.</p>
<p>Launched last autumn to great acclaim on a number of platforms including the Transport for London website, Countdown 'Live Bus Arrivals' enables</p>
<p>London's bus passengers to receive bus arrival predictions directly via SMS, Web and Mobile Internet Services. Countdown has become a trusted tool for bus users with 28,000 SMS text requests and over 2.5 million web hits every working day.</p>
<p>TfL is exclusively issuing this press e-brief since this is essentially the most important piece of data that we are putting into the Developers' Area since the launch of the live Tube data 'Trackernet' feed. The service has shaped bus travel for thousands of Londoners, and is a strong example of how digital innovation can contribute to more effective public services.</p>
<p>The bus network is considerably larger than any other transport network in London.</p>
<ul>
<li>19,000 bus stops </li>
<li>700 routes </li>
<li>8,500 buses </li>
<li>Predictions up to half an hour ahead </li>
<li>6.5m bus journeys per day</li></ul>
<p>As part of its Digital Strategy, TfL is committed to making up to date and accurate travel information freely available to developers to create mobile applications and web programs. </p>
<p>The legacy of TfL's open data policy is that developers are now able to use it's travel information including live bus and tube data, a realtime Journey Planner API, timetables, locations of piers, planned Tube maintenance works and more to create their own Journey Planning solutions - each meeting the need of a different audience.&nbsp; </p>
<p>TfL's open data policy allows developers to innovate and the market to decide on the best travel solutions. What the public can be sure of is that registered developers will be using the most accurate and up to date information available - therefore they can be reassured that the information is identical to that available on TfL services. </p>
<p>In the coming months there is going to be greater and greater demand for Journey Planning solutions with the forthcoming Olympics. Recently both Tom Tom and Google Transit have used data from the TfL Developers' Area to enhance their journey planning products. (Tom Tom uses the live traffic data). </p>
<p>Extensive work has been carried out in conjunction with members of the developer community to ensure that the Countdown 'Live Bus Arrivals' API will meet the expectations and demands of a growing market. </p>
<p>Simon Reed, Head of Technical Services Group for London Buses said: 'We are delighted to be at the forefront of this policy, providing a supported and proven data feed that will enable innovative applications to deliver Live Bus Arrival information to a wider base than we could reach alone.' </p>
<p>For more information about Countdown go to <a href="http://www.tfl.gov.uk/countdown">www.tfl.gov.uk/countdown</a><br>For more information about the API go to <a href="http://www.tfl.gov.uk/developers">www.tfl.gov.uk/developers</a><br>&nbsp; <br>
<hr>
Countdown details<br>Technical data: 
<p>
<ul>
<li>A JSON like interface </li>
<li>Stream or single request/response interface </li>
<li>Requests over HTTP using URL based parameters </li>
<li>Comprehensive range of query parameters </li>
<li>A documented interface </li>
<li>Dedicated scalable cloud-based production architecture</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) is making it's up-to-the-minute Live Bus Arrivals data available to web developers online.Launched last autumn to great acclaim on a number of platforms including the Transport for London website, Countdown 'Live Bus Arrivals'";}
        
        


 