


@{ViewBag.Title = "Transport for London announces further measures to help make London 2012 the most accessible Games ever held";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London announces further measures to help make London 2012 the most accessible Games ever held</h1>
        <div class="content-page-press-release">
        12 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        'How to' films aimed at disabled passengers unfamiliar with London's public transport system available now at tfl.gov.uk/mobility
        
    </div>



 <div class="on-this-page">
<ul>
<li>Manual boarding ramps to be available at 16 stations during London 2012 Games </li>
<li>All passengers urged to plan journeys ahead on <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a>, which now features improved accessible journey options</li></ul>
<p>London remains on track to deliver the most accessible Games ever held as Transport for London (TfL) announced the final stage in a programme which has seen hundreds of millions of pounds invested in making the transport network in London more accessible.&nbsp; <br>&nbsp;<br>Disabled people intending to travel in London during the Games - and after them - now have improved online resources available to help them plan.&nbsp;A series of short 'how to' films have been created to help disabled people unfamiliar with London's public transport system use TfL's ticketing and journey planning systems, buses, the Tube, DLR and taxis. </p>
<p>The films, one of which is narrated by Paralympic legend and TfL board member, Baroness Grey-Thompson DBE, are available now at tfl.gov.uk/mobility. </p>
<p>In addition, TfL's journey planner has also been upgraded to make it easier to plan step-free journeys online. </p>
<p>It will be very busy during the Games and TfL are urging disabled passengers and others to plan their journeys ahead by visiting&nbsp; <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a><br>&nbsp;<br>TfL has also announced today that 16 key Tube stations will provide temporary manual boarding ramps including Earl's Court, King's Cross St. Pancras, Oxford Circus, Southfields, Stratford, West Ham, Westminster and Wimbledon.&nbsp;</p>
<p>The manual boarding ramps will enable wheelchair users to board trains more easily at these stations, which have a gap between the train and the platform. If the use of the temporary ramps proves popular TfL will look to see how their use can be extended beyond the Games. <br>&nbsp;<br>As with London Underground's existing assistance service for visually-impaired passengers, it won't be necessary to pre-book use of the ramps. When requested, Tube staff at the departure station will call ahead to the destination station to ensure that a ramp and member of staff will be waiting for them. <br>&nbsp;<br>Mike Brown, Managing Director of London Underground, said: 'The new 'how to' films we've launched today, our improved online accessible journey planning and the use of manual boarding ramps are part of our ongoing efforts to improve accessibility on London's transport network.&nbsp;&nbsp;<br>&nbsp;<br>'People travelling around London during Games-time will discover that we have an entirely accessible bus and taxi fleet, step-free access across the Docklands Light Railway network and step-free access at all new London Overground stations. </p>
<p>'By the start of the Games 66 Tube stations will also be step-free. While there's still more to be done, we're proud that the London 2012 Games will have the most accessible public transport system of any Olympic or Paralympic Games in history.'<br>&nbsp;<br>Baroness Grey-Thompson DBE, Paralympic gold medal winner, former world record holder and TfL board member said: 'London will be turned into a gigantic sporting and cultural venue during Games-time. That will make it a tremendously exciting place to be, and to get out and explore, this summer but people need to bear in mind that roads and the public transport network in central London and around venues will, at times, be exceptionally busy.&nbsp;<br>&nbsp;<br>'Just as the athletes themselves have planned their training for the Games, I urge everyone to start thinking and planning their travel needs around Games time and to 'Get Ahead of the Games' whether they are heading off to an Olympic or Paralympic event, work or meeting up with friends. </p>
<p>'The new resources TfL has announced today will make this summer's Games accessible to everyone, regardless of whether they are disabled or not.'<br>&nbsp;<br>Transport for London has invested hundreds of millions of pounds in making the transport network more accessible in the last few years, with improvements such as new lifts, trains, platform humps, wide aisle gates, tactile paving and audio-visual displays. </p>
<p>A total of 66 stations will be step-free by the Games, all Tube stations have staff trained to assist passengers, and every station on the DLR is step-free.</p>
<p>London's bus fleet is the most accessible fleet in the world - with all 8,500 buses low-floor wheelchair accessible and fitted with ramps which are checked daily to ensure they are working. All 22,000 taxis are fitted with wheelchair ramps, and all piers and most boats in London are accessible. Other final improvements that have been delivered already, or will be in place in time for the Games, include:</p>
<ul>
<li>Upgrades of lifts on Docklands Light Railway and new lifts on London Overground</li>
<li>Platform humps (which raise the level of the platform to train floor level) at key Tube stations</li>
<li>The Olympic Delivery Authority (ODA) is providing a limited number of pre-booked accessible parking spaces for ticketed spectators as close as possible to venues or at remote sites. At park-and-ride sites, pre-booked accessible parking spaces will be provided and shuttle services will be suitable for disabled spectators. These services will be free for blue badge holders or members of national equivalent scheme. ODA will also provide ticketed disabled Games spectators and their companions with accessible shuttles at key venues</li>
<li>Network Rail is delivering the Access for All (AfA) programme on behalf of the DfT which includes access improvement works at over 90 national rail stations of which 61 stations are of particular interest to Games time accessible transport. AfA works have also been accelerated in programme at key stations for example Slough for the Eton Dorney venue</li></ul>
<p>Disabled users can plan their Games-time journeys now by using <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a>, <a href="http://www.london2012.com/spectators/travel">www.london2012.com/spectators/travel</a> and by checking the accessibility section of the Get Ahead of the Game website - <a href="http://www.getaheadofthegames.com/travelinaffectedareas/city/london-public-transport.html">http://www.getaheadofthegames.com/travelinaffectedareas/city/london-public-transport.html</a>. </p>
<p><br></p>
<p>
<hr>
</p>
<p><strong>Notes to editors </strong></p><strong>
<ul>
<li></li></ul></strong>The following 16 Tube stations will have temporary manual boarding ramps in place during the Olympic and Paralympic Games; West Ham (District and Hammersmith &amp; City lines), Fulham Broadway, Wimbledon, Southfields, Earl's Court (District line), Westminster (District and Circle lines), Stratford (Central line), Woodford, Oxford Circus (Bakerloo line), Queen's Park, Hammersmith (Hammersmith &amp; City and Circle lines), King's Cross St. Pancras, Morden, Stockwell (Northern line), Finchley Central and Edgware stations. A two week trial of Manual Boarding Ramps (MBRs) was successfully completed at Earl's Court (District line) and Fulham Broadway stations in November 2011
<li>The London Overground network recently underwent a &pound;350 million upgrade, and all the rolling stock has been replaced with new, fully-accessible trains. The trains are 'roll through' or 'walk through', acting as one long compartment from end to end. Newly built London Overground stations, including Imperial Wharf, Shepherds Bush, Shoreditch High Street, Hoxton, Haggerston and Dalston Junction are all step-free. Lifts are currently being installed at Camden Road, Gospel Oak and Hackney Central stations, which will all have step-free access in time for the London 2012 Games. As well as step-free access, features such as induction loops for passengers with hearing aids, tactile paving for the visually impaired and additional and more visible help and information points have been added<br>&nbsp;<br>&nbsp; </li>
<p>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Manual boarding ramps to be available at 16 stations during London 2012 Games All passengers urged to plan journeys ahead on www.tfl.gov.uk/journeyplanner, which now features improved accessible journey optionsLondon remains on track to deliver the most";}
        
        


 