


@{ViewBag.Title = "'White van man' turned Olympian urges van drivers not to get caught out by failing to plan for Games-time ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>'White van man' turned Olympian urges van drivers not to get caught out by failing to plan for Games-time </h1>
        <div class="content-page-press-release">
        28 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than three quarters of businesses making deliveries in London say they are prepared for the Games.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"All companies and tradespeople, including van drivers, should plan ahead to avoid the busiest times and places wherever possible"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ben Plowden</div>
            <div class="quotee-job-title">Director of Planning at TfL Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            All companies and tradespeople, including van drivers, should plan ahead to avoid the busiest times and places wherever possible
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>However, only around one in five have considered using alternative delivery routes to avoid congestion hotspots or getting deliveries overnight </li>
<li>Team GB archer and former 'white van man', Simon Terry, urges all businesses not to get caught out and to plan their road journeys ahead of the Games</li></ul>
<p>A former 'white van man' who is competing at the London 2012 Games is urging the Capital's van drivers not to get caught out and to start planning now so they can operate smoothly during the Games.</p>
<p>Simon Terry, a Team GB archer, has teamed up with Transport for London (TfL) and London 2012 to encourage white van drivers and traders, such as electricians and plumbers, to plan ahead to avoid delays and congestion during this summer's Olympic and Paralympic Games.</p>
<p>According to a survey of 1,000 businesses that make deliveries in London (conducted by TfL and London 2012), over three quarters (77 per cent) say they are prepared for the 2012 Games. </p>
<p>However, only around one in five (19 per cent) have considered using alternative routes to avoid congestion hotspots, and even fewer (18 per cent) have considered re-timing deliveries to be overnight. </p>
<h2>Freight journey planner</h2>
<p>With just four weeks to go before the Olympic Route Network (ORN) comes into operation on 25 July, all businesses including van drivers are being urged to use TfL's Freight Journey Planner at <a href="http://freightplanner.tfl.gov.uk">http://freightplanner.tfl.gov.uk</a> to plan routes through affected areas. </p>
<p>The Freight Journey Planner has been designed to help delivery and servicing companies of all sizes plan their delivery and driving routes around London during the Games, based on the date and time of day, and size of their vehicle. </p>
<p>It will help businesses identify where they are permitted to load/unload and park and estimate a time of arrival for each route based on traffic information. </p>
<p>Businesses can also get information on the impact of the Games on roads and how to plan ahead at GetAheadoftheGames.com.</p>
<p>Ben Plowden, Director of Planning at TfL Surface Transport, said: 'During the Olympic and Paralympic Games, London will become a massive sporting and cultural venue so we don't want people to get caught out. Roads in central London, around the Olympic Route Network, road events and venues will be exceptionally busy. </p>
<p>'All companies and tradespeople, including van drivers, should plan ahead to avoid the busiest times and places wherever possible, and allow more time for their journeys to be made.' </p>
<h2>Change usual journeys</h2>
<p>Simon Terry is competing in this summer's Olympic archery event for Team GB and used to be a roofer. He said: 'From my experience, driving to and from jobs is a vital everyday activity for many tradespeople. </p>
<p>'It will be essential for businesses, from builders to couriers, to change their usual journeys. By planning ahead, they will be able to avoid any road restrictions, re-schedule work for outside peak times or leave extra time for journeys to allow for delays.'</p>
<p>Simon Terry's three top tips to help firms plan are:</p>
<ul>
<li>If you can, change your journeys to avoid the busiest times and days, and make sure you know when and where road events are taking place </li>
<li>For essential trips, plan each route using the Freight Journey Planner <a href="http://freightplanner.tfl.gov.uk">http://freightplanner.tfl.gov.uk</a>&nbsp; to avoid congestion and road restrictions </li>
<li>Talk to your customers, suppliers and employees and explain that the Games may affect how the business operates, then work with them to find solutions</li></ul>
<p>For more information on travel planning, visit <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com,</a> which has all the tools and information you need to plan ahead and avoid the travel hotspots or follow &#64;GAOTG on Twitter. For live travel advice both before, during and after the Games, follow &#64;TfLTrafficNews. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p><strong>
<ul>
<li></li></ul></strong>London 2012 and TfL conducted a telephone survey of 1,000 businesses that make deliveries in London 
<li>TfL and London 2012 have been working with businesses in London and around venues across the UK for well over a year and there is increasing evidence that they are planning ahead to reduce their travel and avoid the hotspots. In London alone, 500 major businesses employing more than 600,000 people have signed up for specific travel advice and have drafted travel plans which they have shared with TfL. A further 24,000 businesses have received help and advice through TfL run or supported Travel Advice to business workshops </li>
<li>The 109 mile Olympic Route Network (ORN) will operate from Wednesday 25 July, a couple of days before the Opening Ceremony of the London 2012 Olympic Games. It will help keep traffic moving as central London turns into a massive sporting and cultural venue </li>
<li>ORN Games Lanes and all road restrictions will be clearly signed, check signage for changes. Breaching restrictions could result in a &pound;130 fine or your vehicle being removed </li>
<li>Details of the London 2012 Games Road Event dates and travel advice can be found at <a href="http://www.getaheadofthegames.com/things-you-should-know/changes-roads.html">http://www.getaheadofthegames.com/things-you-should-know/changes-roads.html</a> </li>
<li>Up to an extra one million visitors are expected in London on each day of the Games </li>
<li>Don't get caught out - Although the ORN will not be operational and enforced until 25 July, from mid-July, motorists should avoid central London, the ORN and areas around venues </li>
<li>Motorists should also avoid the areas around the road event courses on competition days </li>
<li>Every day of the Games is different, so plan ahead to avoid the busiest times and places and allow more time for your journey </li>
<li>On a network of this size and scale issues will arise, but we are confident we will get everyone to and from their Games events and keep London moving</li>
<p><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "However, only around one in five have considered using alternative delivery routes to avoid congestion hotspots or getting deliveries overnight Team GB archer and former 'white van man', Simon Terry, urges all businesses not to get caught out and to plan";}
        
        


 