


@{ViewBag.Title = "Eight European countries join forces to launch the Eurosparks project";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Eight European countries join forces to launch the Eurosparks project</h1>
        <div class="content-page-press-release">
        01 March 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Collaboration between local authorities and the legal profession will improve traffic law enforcement across the EU, according to partners in the newly-launched Eurosparks project.
        
    </div>



 <div class="on-this-page">
<p>
<p>Representatives from eight member states attending the launch in London in February were enthusiastic about Eurosparks' potential to pinpoint issues and develop robust solutions, so penalties for civil and administrative traffic violations can be enforced across national borders.</p>
<p>The launch was a chance for partners to meet each other, share issues they face enforcing local traffic laws against foreign registered vehicles, and discuss the interpretation of EU legislation in their own countries.</p>
<p>They were also able to meet academic lawyers from the universities of Hull, Osnabruck, Utrecht and Sciences-Po in Paris, who will be conducting a full analysis of the legal basis for judicial enforcement across borders, and a comparative analysis of national laws in similar policy areas.</p>
<p>Project manager Bill Blakemore said after the launch event: "The atmosphere was very positive.</p>
<p>"People were willing to listen to and learn from each other. There was a palpable willingness to collaborate and work together."</p>
<p>British Parking Association technical services director Kelvin Reynolds added: "There was an upbeat attitude. Eurosparks partners want to resolve the problems and believe this to be possible."</p>
<p>Among the challenges partners identified were differing definitions of criminal, civil and administrative traffic laws, differing interpretations of EU legislation and differing liabilities.</p>
<h2>Proper solution</h2>
<p>In some EU member states, including the UK, the registered keeper is liable for traffic fines; in other states the driver is responsible.</p>
<p>Transport for London's Head of Traffic Enforcement Patrick Troy said: "It is clear municipalities in other European states face the same problems as UK local authorities.</p>
<p>"They can't identify the person to send a penalty charge notice to and they can't enforce the penalty legally or recover the fine.</p>
<p>"Though partners believe a proper solution has to be found at EU level, there is also agreement that we all need to work with national governments to tackle these issues."</p>
<p>More than 30 people from municipalities, academic institutions, and other partner organisations in Malta, Italy, Spain, Belgium, The Netherlands, Germany, France and the United Kingdom, attended the Eurosparks launch.</p>
            <h2>Notes for editors</h2>
<ul>
<li>Lawyers and municipality associations are working together through Eurosparks to identify legal solutions that will enable traffic authorities to enforce judgments across EU borders</li>
<li>Eurosparks is a new project within the SPARKS Programme, an initiative that enables traffic authorities in the UK and other EU member states to collaborate on the issue of cross-border enforcement of traffic violations and to spread political understanding of the issue</li>
<li>The SPARKS Programme was created by London's Enforcement Task Force, a group of organisations that coordinate traffic enforcement activities across the Capital. Members come from Transport for London, London Councils, London Technical Advisors Group, Metropolitan Police, Driver &amp; Vehicle Licensing Agency and Vehicle &amp; Operators Services Agency</li>
<li>Further information is available on the <a href="http://www.eurosparks.org/">Eurosparks</a> and <a href="http://www.sparksproject.org/">SPARKS</a> websites </li>
<li>For further information, contact: Programme manager Bill Blakemore, +44 (0) 1189 313 616 <a href="mailto:bill.blakemore&#64;pep-partnership.co.uk">bill.blakemore&#64;pep-partnership.co.uk</a> or the project communications consultant Jo Ann Sweeney +44 (0) 20 8771 4050 <a href="mailto:jo.ann&#64;sweeneyuk.com">jo.ann&#64;sweeneyuk.com</a> </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Representatives from eight member states attending the launch in London in February were enthusiastic about Eurosparks' potential to pinpoint issues and develop robust solutions, so penalties for civil and administrative traffic violations can be enforced";}
        
        


 