


@{ViewBag.Title = "Evade your fare and you risk a criminal conviction  - TfL launches a new advertising campaign";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Evade your fare and you risk a criminal conviction  - TfL launches a new advertising campaign</h1>
        <div class="content-page-press-release">
        14 March 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has launched a new hard-hitting campaign to tackle fare evasion on the transport network by reminding people they risk a criminal conviction if they don't pay their fare.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Fare evasion is a crime and you risk a criminal conviction every time you travel without paying the correct fare
                            
                        </p>
                    </div>
                
            
            
            <p>Adverts will show actors in mug shots as 'fare evaders' with a description of where they were caught on the network. 
<p>
<p>The campaign will include adverts in the press, posters at tube stations and bus shelters across the network and will also be on the side of buses. </p>
<p>Emails will also be sent out to oyster card users. </p>
<p>Although 97 per cent of customers pay the correct fare for their journeys fare evasion is a serious problem and costs TfL millions of pounds every year across the bus and Tube networks, money that would otherwise be used to improve services. </p>
<p>Jeroen Weimar, Director of Transport Policing and Enforcement for TfL said: "We hope this campaign stops fare evaders in their tracks. </p>
<p>"Fare evasion is a crime and you risk a criminal conviction every time you travel without paying the correct fare.</p>
<p>"TfL is committed to combating fare evasion and carries out targeted operations regularly across the network. </p>
<p>"There is no such thing as a free ride." </p>
<p>The rules on how to avoid being a fare evader are simple - on the bus always touch in on the yellow reader immediately before you enter the bus and ensure that your Oyster card has been accepted, one bleep and a green light. </p>
<p>On the Tube, always touch in and out at the start and end of your journey. <br></p>
<p>
<hr>

<p>TfL offers a range of tickets within the Greater London area for use on Tube, buses, Docklands Light Railway (DLR), and Tramlink services. Information on fares and tickets is available at: <a href="http://www.tfl.gov.uk/fares">www.tfl.gov.uk/fares</a></p>
<p>Find out about the benefits of using Oyster, including how tickets can be bought or renewed online: <a href="http://www.tfl.gov.uk/oyster">www.tfl.gov.uk/oyster</a> </p>
<p><em>Ends</em></p>
            <p class="prnotestitle">Notes for editors</p>
<ul class="prnotescopy">
<li class="prnotescopy">Fare evasion is a crime and is treated as such - anyone found to be deliberately avoiding paying the correct fare for their journey could receive a criminal record and a &pound;1,000 fine </li>
<li class="prnotescopy">The rules on how to avoid being a fare evader are simple- ensure you have a valid ticket before getting on the bus or going through the station gates. All oyster cards users should always touch in on the yellow reader on entering the bus. On the tube always touch in and out at the start at end of your journey </li>
<li class="prnotescopy">People travelling on London Buses and London Underground without a valid ticket for their journey may be liable to pay a penalty fare of &pound;20. Passengers are given 21 days to pay or appeal the fine </li>
<li class="prnotescopy">In 2006 TfL checked more than 16 million passengers on London Buses. More than 120,000 (121,287) people were issued with Travel Irregularity reports which can lead to prosecution, while more than 45,000 were given penalty fares (45,150) </li>
<li class="prnotescopy">A range of tactics are used to combat fare evasion on the buses including both plain clothed and uniformed Revenue Protection Inspectors patrolling in both small and large numbers and, in areas of higher fare evasion staging high profile exercises supported by the Transport Operational Command Unit of the Met police or City of London Police </li>
<li class="prnotescopy">Last year London Underground issued more than 30,000 penalty fares and a further 18,000 people were prosecuted by London Underground and the British Transport Police for travelling without a valid ticket </li>
<li class="prnotescopy">Penalty fares can only be issued by London Underground Revenue Control Inspectors (RCIs) and not London Underground station staff. There are around 250 RCIs on the Tube network<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Adverts will show actors in mug shots as 'fare evaders' with a description of where they were caught on the network. The campaign will include adverts in the press, posters at tube stations and bus shelters across the network and will also be on the side";}
        
        


 