


@{ViewBag.Title = "Ford joins London campaign to reduce the number of cyclists injured in collisions with HGVs ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Ford joins London campaign to reduce the number of cyclists injured in collisions with HGVs </h1>
        <div class="content-page-press-release">
        26 March 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"The number of cyclists in London is increasing rapidly and we need them to feel safe on our roads"</div>
        <div class="quote-footer">
            <div class="quotee-name">Jenny Jones</div>
            <div class="quotee-job-title">The Mayor's Road Safety Ambassador</div>
        </div>
</div>

 <div class="on-this-page">
<span class="right">
                    
                </span><p>Transport for London (TfL) has announced two new campaigns to help reduce the risks cyclists face from heavy goods vehicles.</p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            The number of cyclists in London is increasing rapidly and we need them to feel safe on our roads
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>More than half of all cyclists killed on London's roads are involved in collisions with these vehicles.</p>
<p>Ford's lorry drivers, who travel millions of miles in the UK every year, have joined forces with TfL to help make roads safer for cyclists by displaying warning signage for cyclists on the back of more than 2,000 Ford HGV trailers. </p>
<p>The signs, which have been developed by TfL, carry the message 'cyclists - beware of passing this vehicle on the inside'.&nbsp; </p>
<p>They are designed to address the particular threat cyclists face from goods vehicles turning left, as situations arise where HGV drivers are not able to see cyclists between their vehicles and the kerb. </p>
<p>In addition to the partnership with Ford, TfL is today launching the latest stage of their Share the Road campaign which encourages all road users to consider the impact of their behaviour on others. </p>
<p>A new poster, which features a cyclist and an HGV, gives the message to 'take care', asks lorry drivers to take care when turning left and warns cyclists to be aware of large vehicles. </p>
<h2>Leave cyclists space</h2>
<p>The poster will be displayed at sites throughout London. The two existing road safety posters in the campaign, which will run in conjunction with the new image, focus on asking drivers to leave cyclists space to cycle safely on the road and asking cyclists to stop at red lights. </p>
<p>London has seen a dramatic rise in the number of people cycling, with a 72 per cent increase on London's major roads since 2000. </p>
<p>The number of cyclists killed or seriously injured on London's roads has fallen by 30 per cent compared with the Government's baseline figures from the mid to late 1990s. </p>
<p>These latest initiatives are aimed at helping to reduce the significant proportion of collisions involving cyclists and goods vehicles. </p>
<h2>Safer roads</h2>
<p>Jenny Jones, The Mayor's Road Safety Ambassador, said: "The tragic deaths of three cyclists, killed in collisions with lorries in one week, shows the urgent need for this campaign. </p>
<p>"The number of cyclists in London is increasing rapidly and we need them to feel safe on our roads.</p>
<p>"Despite the overall fall in the number of cyclists injured, the number of cyclists killed by lorries continues to be way too high. </p>
<p>"Drivers have to learn to give cyclists more space and cyclists need to be aware of the fatal consequences of getting caught on the inside of a left turning HGV."</p>
<h2>Making progress</h2>
<p>Chris Woodmore, Manager of Ford's Transport Operations, said: "We are delighted to work with Transport for London on this initiative.</p>
<p>"Ford trailers travel in excess of 10 million miles every year and present an ideal opportunity to get this message across to cyclists where it will be noticed."</p>
<p>Chris Lines, TfL's Head of Road Safety, said: "We are making progress in cutting the number of cyclists hurt on London's roads, but the number of cyclists involved in collisions with goods vehicles is still too high.</p>
<p>"By creating the new poster and working in partnership with Ford, I hope we can get the message out to cyclists to be careful when riding near HGVs and also to help educate drivers to watch out for cyclists."</p>

<p>......<br></p>
            <p>
<p><strong>Notes for editors</strong></p>
<ul>
<li>In the twelve months to June 2006, 17 cyclists were killed on London's roads. Of those 17 cyclists, nine were killed in collisions with goods vehicles in Greater London (which accounted for 53 per cent of all cyclist deaths during that period). A further 48 cyclists were seriously injured in collisions involving goods vehicles. In the twelve months to June 2006, LGVs were involved in four fatal and 30 serious cyclist collisions, MGVs were involved in six serious cyclist collisions, and&nbsp; HGVs were involved in five fatal and 12 serious collisions </li>
<li>In 2006/07, TfL invested &pound;1.8m in cycle training for children and adults in London </li>
<li>Share the Road aims to tackle a visible minority of road users who break traffic laws in London, including vehicles parking in cycle lanes and encroaching into the 'advance stop' boxes designated for cyclists, as well as some cyclists who endanger themselves and pedestrians by jumping red lights and riding on the pavement. The actions of a few can cause animosity between road users, are inconsiderate and can endanger lives. The two existing road safety posters in the campaign, which will run in conjunction with the new poster, focus on getting cyclists to stop at red lights and asking drivers to leave cyclists space to cycle safely on the road. The campaign is supported by Sustrans, London Cycle Campaign (LCC), CTC, the RAC, AA Motoring Trust, the Institute of Advanced Motorists (IAM), Living Streets, the Motorcycle Industry Association, Road Peace, Transport 2000, the Road Haulage Association and the Freight Transport Association </li>
<li>Ford's HGV fleet are largest to have signed up with the TfL signage initiative to date. Other companies involved with the TfL signage initiative include Sainsburys, Tradeteam Ltd and O'Hara Brothers Surfacing </li>
<li>TfL's Freight Unit, in conjunction with the police and the freight industry, has set up <a href="/businessandpartners/freight/1286.aspx">The Freight Operator Recognition Scheme (FORS)</a>. Around 70 operators are involved in the pilot stage of the scheme, which could reduce operator's costs while driving down collisions and emissions in the Capital </li>
<li>A copy of the advert is available on request </li>
<li>For more information on Ford, please contact Oliver Rowe at Ford's press office on 01277 252216 or email <a href="mailto:orowe&#64;ford.com">orowe&#64;ford.com</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has announced two new campaigns to help reduce the risks cyclists face from heavy goods vehicles.More than half of all cyclists killed on London's roads are involved in collisions with these vehicles.Ford's lorry drivers, who";}
        
        


 