


@{ViewBag.Title = "Getting around London - a new guide for all";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Getting around London - a new guide for all</h1>
        <div class="content-page-press-release">
        13 March 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Travelling on public transport around London has never been easier and a new guide has been produced about accessibility on all forms of public transport across London.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It will help disabled Londoners and visitors to the Capital travel with confidence"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Challis</div>
            <div class="quotee-job-title">General Manager of the Piccadilly Line</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It will help disabled Londoners and visitors to the Capital travel with confidence
                            
                        </p>
                    </div>
                
            
            
            <p>"Getting around London: Your guide to accessibility" has been developed by Transport for London (TfL) following extensive customer research. 
<p>
<p>It has been produced with expert advice and guidance from Scope, a leading disability organisation supporting disabled people to achieve equality, and in conjunction with disabled people themselves.</p>
<p>This is the first time that such a guide has been produced covering all public transport. It will be of particular help to people with mobility impairments - not just disabled people but also older people and people travelling with buggies.</p>
<p>Mayor of London Ken Livingstone said: "This guide is another positive step towards making London a more accessible and inclusive city. </p>
<p>"It will help disabled Londoners and visitors to the Capital travel with confidence and get the most out of all that the city has to offer." </p>
<p>Bob Benson, Executive Director at Scope, said: "This is a valuable tool for disabled people which we are very pleased to be part of. </p>
<p>"A key right to equality and independence for all is that people can travel where they want, when they want, and how they want. </p>
<p>
<h2>Customer-friendly approach</h2>
<p>
<p>"This is a small but significant step by TfL in empowering disabled people and other customers through better travel information contained within this new guide."</p>
<p>The customer research undertaken by TfL showed that a more joined-up, customer-friendly approach to accessibility information was required and the result is a guide that has many features specifically requested by passengers.</p>
<p>The guide will be available upon request at Tube stations, bus stations and Travel Information Centres. </p>
<p>Customers will also be able to download the guide in PDF form from the TfL website, and to request a copy over the phone, via our 24-hour travel information helpline on <font face="Arial">020 7222 1234</font>. Audio, large print and Braille versions of the guide are also available.</p>
<p><em>Ends</em></p>
            <p>
<div class="prnotes">
<p class="prnotestitle">Notes for editors</p>
<ul class="prnotescopy">
<li class="prnotescopy">Features in the guide requested by customers include: 
<ul class="prnotescopy">
<li class="prnotescopy">It is A5 size - highly portable </li>
<li class="prnotescopy">It is comb-bound, meaning that the selected pages always sit open </li>
<li class="prnotescopy">It has been written in plain English, with no unnecessary jargon </li>
<li class="prnotescopy">It contains many images, which illustrate how to use the various modes of public transport </li>
<li class="prnotescopy">Colour-coded dividers are used to separate the content into sections, making it easy for readers to find the information they require</li></ul></li>
<li class="prnotescopy">The guide comprises: 
<ul class="prnotescopy">
<li class="prnotescopy">Information on all forms of public transport, including assisted public transport </li>
<li class="prnotescopy">Fold-out maps - Tube, including Docklands Light Railway (DLR); Tramlink; River; key bus routes in central London;a Victoria Coach Station plan </li>
<li class="prnotescopy">Full explanations of Journey Planner and the Interactive Journey Map, and the accessibility information that they provide </li>
<li class="prnotescopy">Accessibility information for all Tube and DLR stations (access to ticket halls, access to platforms, interchange between lines) </li>
<li class="prnotescopy">Accessibility information for all piers on the River Thames that are served by passenger services (access to piers from street level, list of destinations served) </li>
<li class="prnotescopy"><a href="http://www.scope.org.uk/" lid="Scope's" el="http://www.scope.org.uk">Scope's</a> ongoing "Time To Get Equal" campaign fights for equality and human rights for disabled people</li></ul></li></ul></div>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "'Getting around London: Your guide to accessibility' has been developed by Transport for London (TfL) following extensive customer research. It has been produced with expert advice and guidance from Scope, a leading disability organisation supporting";}
        
        


 