


@{ViewBag.Title = " Improving Woolwich town centre - information days ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1> Improving Woolwich town centre - information days </h1>
        <div class="content-page-press-release">
        20 March 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) and the London Borough of Greenwich will be holding public information days on improvements to Woolwich town centre on 23 and 24 March 2007.
        
    </div>



 <div class="on-this-page">
<p>The changes form part of a new, modern bus transit service - Greenwich Waterfront Transit.</p>
<p>Greenwich Waterfront Transit is a proposed service that will run between Abbey Wood station to North Greenwich via Thamesmead and Woolwich.</p>
<p>The transit will carry approximately 16 million people a year when fully open, easing demand on local bus and National Rail services.</p>
<p>It will be an important part of the social and economic regeneration of the area, improving access to employment, education, healthcare and community services.</p>
<p>The proposed changes will ease bus and traffic congestion and include improvements made to General Gordon Square through the Mayor of London's 100 Public Spaces Programme that will benefit the community with a better local environment.</p>
<p>The information days will focus on the area from the junction of Wellington Street and John Wilson Street to Dial Arch Square in the entrance to the Royal Arsenal site.</p>
<p>A trailer with drawings of the improvements, staffed by TfL and the Woolwich Regeneration Agency, will be at Greens End/Powis Street in Woolwich town centre between 10.00 and 17.00 on 23 and 24 March 2007.</p>
<p>Nigel Hardy, Head of Project Initiation, said: "Greenwich Waterfront Transit is a key element of the regeneration of the Thames Gateway.</p>
<p>"The new service will allow passengers to make frequent, fast and reliable journeys.</p>
<h2>Regeneration</h2>
<p>"It will provide the local community with better access to the London Underground, DLR and other local bus services."</p>
<p>Scott Lester, Project Planning and Development Manager, said: "The improvements to Woolwich town centre will transform the area into a more attractive and enjoyable space, with new wider pavements and shelters, and easier access to bus stops for those who live, work and travel around General Gordon Square.</p>
<p>Councillor Peter Brooks, Deputy Leader of Greenwich Council, said: "I would encourage our residents to visit the exhibition and find out about the major transport and local environmental improvements associated with the Greenwich Waterfront Transit scheme.</p>
<p>"First class transport facilities are key to Greenwich's huge programme of regeneration, which is delivering thousands of new jobs, homes, businesses and public services across the whole borough."</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The changes form part of a new, modern bus transit service - Greenwich Waterfront Transit.Greenwich Waterfront Transit is a proposed service that will run between Abbey Wood station to North Greenwich via Thamesmead and Woolwich.The transit will carry";}
        
        


 