


@{ViewBag.Title = "Interns join Transport for London press office";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Interns join Transport for London press office</h1>
        <div class="content-page-press-release">
        12 March 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Two graduates have won places on the first Transport for London (TfL) press office internship scheme for aspiring media and PR professionals from black, Asian and minority ethnic backgrounds.
        
    </div>



 <div class="on-this-page">
<p>The scheme has been set up to help tackle the longstanding under-representation of people from Black, Asian and Minority Ethnic (BAME) communities in the PR industry across the country.</p>
<p>Lucy Emele, aged 24, of south London, and Gillian Asare, 22, of Wapping, east London, have been recruited for six-month placements in one of the busiest press offices in the UK, covering a city where nearly one-third of the population is from black, Asian or minority ethnic backgrounds.</p>
<p>The interns, based in the TfL Press Office, in Victoria, London, are working on stories highlighting core aspects of TfL including buses, Tubes, rail and development work around the Mayor's &pound;10bn investment programme.</p>
<p>Lucy, a postgraduate in Law from the University of London, said: 'The communications issues that face TfL are immense.</p>
<p>'This is a fantastic opportunity for me to learn about Public Relations and develop the necessary skills.</p>
<p>'Everyone at TfL has been supportive and encouraging, I am constantly learning.</p>
<p>'I am confident this experience will be invaluable.'</p>
<h2>Extraordinary opportunity</h2>
<p>Gillian, who recently graduated from Brunel University, in Middlesex, in Marketing, said: 'This is an extraordinary opportunity.</p>
<p>'Working for Transport for London has already allowed me to deal with many reactive and proactive projects.</p>
<p>'I have started developing valuable skills that I know I need to pursue a career in PR.</p>
<p>'I am confident that this internship will prepare me for a career in PR.'</p>
<p>The scheme was first advertised in October, coinciding with the release of the Chartered Institute of Public Relations' report on diversity within the industry, called The Business of Diversity - which highlighted the value of diversity as good business.</p>
<h2>Tackling the issue</h2>
<p>Transport for London's Director of Group Media Relations Paul Mylrea said: 'We are pleased to welcome our talented interns into the press office at this crucial stage in the development of their careers in public relations.</p>
<p>'TfL has a proud history of encouraging diversity, and our press office is no exception.</p>
<p>'But we have a duty to set an example to the industry and we wanted to do more.</p>
<p>'We hope this scheme will help make a difference in tackling the significant under-representation of people from diverse backgrounds in the PR industry.</p>
<p>'We hope other organisations will come forward with more concrete proposals to tackle this issue.'</p>
<p>TfL developed the internship scheme in association with The Creative Collective, a personal and organisational development consultancy that has successfully run a three-year national programme in the print media.</p>
<p>The Creative Collective Managing Director Joy Francis said: 'The TfL internship programme is a stepping stone in the right direction.</p>
<p>'It is a small but important step to counter the image of PR as a non-diverse profession and the impression that there isn't a big enough talent pool among people from BAME communities to recruit from. The current interns, as well as the many people who applied for the two internship positions, show why those perceptions need to be challenged.'</p>
<p>The TfL press office internship scheme has been launched as a pilot and is expected to become a rolling programme later this year.</p>
<p>It will target BAME students who, as a result of financial obstacles and discrimination, are more likely to have fewer opportunities to pursue a career in public relations.</p>
            <h2>Notes for editors</h2>
<ul>
<li>The CIPR report reviews the diversity of the PR profession today in terms of ethnicity, gender, disability, age and sexuality, and indicates that BAME people are concentrated in the less visible in-house positions, hold lower grade roles and are less likely to be consultants or be based in the larger commercial agencies</li>
<li>TfL's press office was awarded the Crisis in Communication Award 2006 by the CIPR in July 2006</li>
<li>While levels of employment of people from BAME communities in TV and radio broadcast is believed to be slightly higher than the national average (Skillset census 2004), estimated figures for print media stands at around three to four per cent (Journalism Training Forum). For the PR industry, levels of employment of people from BAME communities are believed to be less than the BAME population and concentrated in less visible, in-house and lower grade roles</li>
<li>Transport for London (TfL) was formed in July 2000 and is a functional body of the Greater London Authority (GLA). TfL is responsible for London's buses, the London Underground, Docklands Light Railway (DLR) and the Croydon Tramlink. It also runs London River Services, Victoria Coach Station and London's Transport Museum, in addition to providing transport for users with reduced mobility via Dial-a-Ride</li>
<li>The Creative Collective (Media) Ltd is an organisational and personal development consultancy. In 2001 it launched and project managed the UK's first national print internship programme for BAME students in partnership with The Times, FT, The Big Issue, Nottingham Evening Post, Supply Management, Manchester Evening News, Bradford Telegraph &amp; Argus and Scunthorpe Telegraph. The three-year internship programme had 21 interns, 60 per cent of whom are now employed within the print and broadcast media. The programme has been recognised by the Society of Editors as an example of good practice in the print media</li>
<li>The TfL Press Office Internship Scheme was advertised under section 37 of the Race Relations Act, 1976 <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The scheme has been set up to help tackle the longstanding under-representation of people from Black, Asian and Minority Ethnic (BAME) communities in the PR industry across the country.Lucy Emele, aged 24, of south London, and Gillian Asare, 22, of";}
        
        


 