


@{ViewBag.Title = "London Safety Camera Partnership celebrates lives saved on London's roads";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Safety Camera Partnership celebrates lives saved on London's roads</h1>
        <div class="content-page-press-release">
        23 March 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<span class="right">
</span>
<p>
</p>
<p>The London Safety Camera Partnership (LSCP) are asking school children throughout London to help celebrate the lives safety cameras have saved in the past five years, by planting sunflower seeds in their school gardens.</p>
<p>&nbsp;</p>
<p>
</p>
<p>Over the next week, every primary school in London will be sent a packet of sunflower seeds by the London Safety Camera Partnership and the Greenfingers Appeal, a national gardening charity. Children from across the Capital are being asked to plant the seeds to mark the 1,500 lives that the London Safety Camera Partnership estimate have been saved from fatal and serious injuries by safety cameras since it was established in April 2002. </p>
<p>Chris Lines, Head of the London Road Safety Unit at Transport for London, said: "Safety cameras in London are making a critical contribution to road safety in the Capital. At sites where cameras have been installed, there has been, on average, a 50 per cent reduction in the numbers of people killed or seriously injured - that's equivalent to 1,500 people who have been saved from fatal or life changing injuries in the past five years.</p>
<p>"By sending sunflower seeds to every primary school in London, we hope to celebrate those lives saved whilst reinforcing the important road safety messages the children learn at school."</p>
<p>
</p>
<ul>
    <li>The LSCP have used the ACCSTATS database of road traffic accidents involving personal injury (managed by the London Accident Analysis Unit at Transport for London) to calculate the 'effect' of installed cameras on casualties. The estimated figure of 1,531 casualties saved was calculated by comparing actual killed and seriously injured (KSI) casualty figures with the calculated KSI casualty figure based upon the KSI rate before camera installation</li>
    <li>The Greenfingers Appeal raise funds to build and enhance the grounds of children's hospices in the UK.  Whilst the children are often too ill to get actively involved, the grounds of the hospice can play a vital role as a place of peace, calm and solitude. The LSCP has made a donation to the Greenfingers Appeal on behalf of every Primary School in London.  For further information on the Greenfingers Appeal visit <a href="http://www.greenfingersappeal.co.uk">www.greenfingersappeal.co.uk</a></li>
    <li>Safety cameras, together with other road safety interventions undertaken by TfL, such as the Junior Road Safety Officer scheme, speed awareness courses, and 20 mph zones have had astonishing road safety results. There has been a 40 per cent drop in the number of people killed or seriously injured on London's roads compared to the mid to late 1990s. During the same period the number of children killed or seriously injured has fallen by 58 per cent</li>
    <li>The members of the London Safety Camera Partnership (LSCP) are Transport for London, the London Councils, the Metropolitan and City of London Police and Her Majesty's Courts Service.<br /></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The London Safety Camera Partnership (LSCP) are asking school children throughout London to help celebrate the lives safety cameras have saved in the past five years, by planting sunflower seeds in their school gardens.Over the next week, every primary";}
        
        


 