


@{ViewBag.Title = "Mayor abolishes Tube and DLR fares for under 11s all day, every day";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor abolishes Tube and DLR fares for under 11s all day, every day</h1>
        <div class="content-page-press-release">
        31 March 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<span class="right">
                    
                </span><p>500,000 children aged under 11 can now travel free all day every day on the Tube and Docklands Light Railway when accompanied by an adult from Sunday 1 April.</p>        
            
                        
            
            
            
            <p>
<p>Free Tube and Docklands Light Rail travel for under-11s is part of the Mayor's policy to improve young people's access to education, sport and leisure facilities across the capital meaning real savings for hundreds of thousands of London families - there are 500,000 5 to 10-year-olds across London who will benefit from this concession.</p>
<p>It follows the introduction of free travel on buses and trams for under-18s in full-time education. </p>
<p>Last April saw under-11s able to travel for free from 9.30am on weekdays and all day on weekends and bank holidays when accompanied by an adult passenger with a valid ticket. </p>
<h2>Better access</h2>
<p>This has now been extended to all day every day.</p>
<p>Mayor of London, Ken Livingstone, said: "We are continuing to bear down on the cost of travel for London's families, and the extension of free travel on the Tube and DLR to all day, every day is another big step in reducing the pressures on Londoners' pockets. </p>
<p>"Combined with free bus and tram travel for all under-18s in full-time education, this new step means that London has one of the most extensive cut-price travel schemes for families with children anywhere in Europe.</p>
<p>"My first aim as mayor is to work to guarantee London's continued success, but I also want to make sure that all Londoners can take part in that success, including opening up the transport system for families with children." </p>
<h2>Increasing independence</h2>
<p>Adrian Voce, Director of Play England, based at the National Children's Bureau, said:&nbsp; "Free transport for children and young people is a great idea that will help many of the poorest families - it means better access to education, sports facilities and play spaces and thus better outcomes for children.</p>
<p>"We are delighted with the Mayor's plans to extend free Tube travel to children under the age of 11".</p>
<p>Nick Wilkie, CEO at London Youth, said: "London Youth welcomes the Mayor's initiative to ensure free unrestricted travel for children under 11 on the Tube and Docklands Light Railway.&nbsp; </p>
<p>"London Youth supports all moves to increase the independence of young people and to allow them to play a wider role in the community of the Capital." </p>
<h2>Helping families</h2>
<p>Chief Executive of Child Poverty Action Group, Kate Green, said: "This is very welcome news for London's families struggling to meet the high costs of life in the Captial.</p>
<p>"London has the highest rate of child poverty in the whole of Britain, with more than half of children in inner London and over a third in outer London growing up in poverty. </p>
<p>"Any pressure taken off family budgets will help lessen the impact for those below the poverty line and this move will particularly help families meet the costs associated with education by making journeys to school more affordable."</p>
<p>Ravi Chandiramani, editor of Young People Now, said: "Poorer families find public transport costs particularly hard to meet.</p>
<p>"Unconditional <a>free travel on the Tube and DLR for accompanied under-11s</a> will ease access to leisure facilities as well as education.</p>
<p>"It will, therefore, allow more children from disadvantaged backgrounds to regain their childhood." <br><br>
<hr>

<p>
            <p>
<p>Notes to editors</p>
<ul>
<li>Up to four children under 11 can accompany an adult (anyone over 18) in possession of a valid ticket or who is using Oyster to pay as they go. Over 60s Freedom Passes are not valid until 09.00, Monday to Friday</li>
<li>An adult with a Travelcard can be accompanied by four under-11s travelling for free and up to four under-16s travelling for &pound;1 under the 'Kids for a Quid' scheme after 09.30, Monday to Friday and all day Saturdays, Sundays and bank holidays. After 9.30am this is &pound;2 per child</li>
<li>Under-16s have been able to travel for free on London's buses and trams since September 2005. This was extended to16 to 17-year-olds in full-time education or unwaged training in September 2006</li>
<li>London Youth is a network of almost 400 youth clubs serving 75,000 young people across the Capital. Last year alone London Youth programmes trained 700 youth workers, found opportunities for more than 1,000 young volunteers and gave over 13,000 young people a challenge at its two outstanding training and outdoor centres</li>
<li>The National Children's Bureau (NCB) is a charitable organisation that acts as an umbrella body for organisations working with children and young people in England &amp; Northern Ireland. Through working in partnership, sharing knowledge, resources and services it has created a powerful, authoritative and influential voice to improve the lives of children and young people</li>
<li>Young NCB is NCB's free membership network for all children and young people aged under 18. Young NCB members speak out on issues they feel are important, such as safety, sex and relationships, education, bullying, drugs and the media</li>
<li>Child Poverty Action Group (CPAG) is the leading charity campaigning for the abolition of child poverty in the UK and for a better deal for low-income families and children</li>
<li>Young People Now is the weekly industry magazine produced in partnership with the national youth agency. It is aimed at youth workers, youth justice workers, teachers and those involved in the personal, social education and voluntary sector<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "500,000 children aged under 11 can now travel free all day every day on the Tube and Docklands Light Railway when accompanied by an adult from Sunday 1 April.Free Tube and Docklands Light Rail travel for under-11s is part of the Mayor's policy to improve";}
        
        


 