


@{ViewBag.Title = "Mobile phone trial on the Waterloo & City line";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mobile phone trial on the Waterloo & City line</h1>
        <div class="content-page-press-release">
        15 March 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) today announced that it is to undertake a six-month trial of mobile phone and new technology services on the Waterloo &amp; City line.
        
    </div>



 <div class="on-this-page">
<p>A Contract Notice has appeared in the Official Journal of the European Union.</p>
<p>The trial, which will start in April 2008 at the earliest, will make mobile phone coverage available on the Waterloo &amp; City platforms at Bank and Waterloo stations.</p>
<p>Coverage will also extend to tunnels between the two stations. This means that passengers will be able to use their mobile phone and other handheld devices while travelling on the Waterloo &amp; City line.</p>
<p>Richard Parry, LU Strategy and Service Development Director, said: "The below ground sections of the Underground are one of the few places in London where you are unable to use a mobile phone. We recognise that there is now growing demand for mobile coverage to be extended to deep-level sections of the Tube.</p>
<p>"The key aim of the trial is to conclude whether it is technically and commercially viable for coverage to be extended across the Tube network.</p>
<p>"Should the trial prove a technical and commercial success, then London Underground will consider how to provide mobile phone and telecommunications services across the Tube network.</p>
<p>"This would enable passengers to enjoy the benefits of the same mobile and new technology services that are available on the overground sections of the Underground network.</p>
<p>"If the trial is not a success then London Underground will not proceed with plans to extend mobile phone coverage to the Tube."</p>
<p>Such technology could also mean that passengers could receive up-to-the-minute travel information via a mobile phone or other device while on the Tube.</p>
<h2>Customer demand</h2>
<p>The Waterloo &amp; City line has been selected for the six-month trial of mobile phone coverage as it is characterised by deep-level tunnels that are unconnected to the rest of the Tube network thereby providing a confined environment for a trial to take place.</p>
<p>A recent LU survey has shown that 56 per cent of passengers would support being able to use a mobile phone in all parts of the Tube network, including trains and stations, if it was available.</p>
<p>When LU originally announced in March 2005 that it was seeking expressions of interest from potential suppliers for mobile phone coverage on the Tube it was on the basis that coverage in tunnels would be excluded.</p>
<p>This was because we did not believe there to be customer demand for it to be made available on trains.</p>
<h2>Tendering process</h2>
<p>A feasibility study undertaken last year identified that the only technical solution to extending mobile phone coverage to the Tube was to include tunnels.</p>
<p>To have many thousands of mobile phones coming in and out of signal while passengers travel across the Tube network could potentially overload a mobile network on the Underground.</p>
<p>The feasibility study was undertaken as the original consultation with suppliers identified that the sheer complexity of introducing such a system needed to be fully understood due to the unique physical and environmental constraints which the Tube presents.</p>
<p>LU will use the opportunity presented by the six-month trial to undertake a comprehensive survey of customer attitudes towards mobile phone coverage on the Tube.</p>
<h2>Tube improvements</h2>
<p>This will inform LU's final decision on whether to proceed with extending coverage across the Tube network. Fifty-five per cent of the Tube network is above ground and passengers can and already do use their mobile phone on surface sections of the Underground.</p>
<p>If the trial is a success then LU will engage in a full tendering process to select a contractor to provide mobile phone and new technology services such as DAB digital radio and Internet access.</p>
<p>It is envisaged that a private sector company or consortium would invest in, install, operate, maintain and manage the infrastructure in exchange for an agreed revenue stream and any financial benefit would be reinvested in Tube improvements.</p>
<p>The earliest date that mobile phone and new technology coverage could be extended across the Tube network is mid-2009. </p>
            <h2>Notes for editors</h2>
<ul>
<li>TfL is investing &pound;10bn to improve and expand London's transport network, more than half of that in the Tube</li>
<li>The OJEU Contract Notice will be published at the beginning of March. The various stages in the trial tendering process will be as follows: Mid-May 2007 (Pre-qualification stage), Mid-July 2007 (Invitation to Tender issued), End-October 2007 (Mobile phone trial contract awarded) and April 2008 for earliest date for trial commencing on the Waterloo &amp; City line</li>
<li>LU originally intended to make mobile phone coverage available from mid-2008 onwards but it became clear from the market consultation process which commenced in March 2005 that the Tube presented unique physical and environmental constraints which need to be understood in greater detail. This necessitated the need for a feasibility study which has influenced the decision to undertake a full trial on the Waterloo &amp; City line and the possible subsequent tendering timetable</li>
<li>In a LU survey (carried out by MORI) of 1,007 respondents conducted in February 2007, 34 per cent said that they would be very likely to use a mobile phone in all parts of the Tube, including trains and stations, if it was available. 22 per cent responded fairly likely, 19 per cent not very likely, 23 per cent not at all likely with 1 per cent of respondents not having a view</li>
<li>The same survey also asked to what extent did an individual support or oppose the facility to use a mobile phone in all parts of the Tube network, including trains and stations. Thirty-two per cent strongly supported, 22 per cent tended to support, 12 per cent neither supported nor opposed, 11 per cent opposed, 19 per cent strongly opposed while 4 per cent did not have a view</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A Contract Notice has appeared in the Official Journal of the European Union.The trial, which will start in April 2008 at the earliest, will make mobile phone coverage available on the Waterloo &amp; City platforms at Bank and Waterloo stations.Coverage";}
        
        


 