


@{ViewBag.Title = "New road contracts roll out across TfL network";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New road contracts roll out across TfL network</h1>
        <div class="content-page-press-release">
        26 March 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"These contracts will bring a better-tailored service to suit the different areas"</div>
        <div class="quote-footer">
            <div class="quotee-name">Chris Connor</div>
            <div class="quotee-job-title">TfL London Streets' Director of Road Network Management</div>
        </div>
</div>

 <div class="on-this-page">
<span class="right">
                    
                </span><p>NEW contracts to maintain and improve Transport for London's road network will be rolled out this week, providing even safer roads and footways and less disruption to motorists. <br></p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            These contracts will bring a better-tailored service to suit the different areas
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The new Highway Maintenance and Works contracts will bring better response and faster repair on Transport for London managed roads for problems including filling potholes and clearing blocked drains.</p>
<p>They will also further support TfL's joined-up approach to coordinating streetworks on the Transport for London Road Network (TLRN), meaning that road users should see less works-related congestion on the roads.</p>
<p>In addition, the contracts will see the introduction of Incident Support Units (ISUs) and 24/7 staffed control rooms in each of the north, south and central areas.&nbsp; </p>
<p>These will give a speedy response to incidents on the network - when street furniture damaged by a crash needs repairing, for example - so that road users experience less disruption to their journeys.&nbsp; </p>
<p>On-board Global Positioning System (GPS) technology will mean operators can mobilise the closest units to an incident.</p>
<p>The contracts are worth around &pound;1bn over ten years. They will be delivered in the north area by Amey Infrastructure Services Ltd, in the south area by Accord MP and in the central area by Ringway Jacobs Ltd.</p>
<p>TfL London Streets' Director of Road Network Management, Chris Connor, said: "These contracts will bring a better-tailored service to suit the different areas, while ensuring that high standards are employed across our network.</p>
<p>"Our partners will bring a lot of expertise, and through forums with other authorities who work with us we'll be striving to identify and share good practice wherever we can find it to benefit everyone in London."</p>
<p>Under the new contracts, TfL London Streets will deal directly with its contractors as network operator, rather than the previous arrangement which involved a consultant acting as a contract manager for TfL in each area.</p>
<p>Increased inspections and raised standards of defect repair will result in improved performance, while new client roles will provide significant opportunities for TfL staff. </p>
<p>&nbsp;</p>
            <p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>The Transport for London Road Network (TLRN) consists of around five per cent of London's roads which carry more than a third of all traffic</li>
<li>The contracts cover routine highway maintenance (agreed in advance), reactive operations and additional maintenance and improvement capital works as instructed by TfL</li>
<li>The approximate value of the contracts will be &pound;125m for all three areas combined each year, depending on the number of schemes TfL wishes to implement</li>
<li>The new arrangement will see TfL Road Network Management staff co-locating with providers in their main depots on a 24/7 basis</li>
<li>The use of the New Engineering Contract form will enable TfL to select appropriate and effective delivery solutions for both capital and ordered revenue works</li>
<li>Regular surveillance audits will be undertaken, with independent audits carried out every six months to drive constant improvement</li>
<li>Each area will have a strategic board comprised of TfL and the contractor's directors and senior managers</li>
<li>The areas are divided into the following boroughs:<br>North - Hillingdon, Hounslow, Ealing, Harrow, Brent, Hammersmith &amp; Fulham, Barnet, Haringey, Enfield, Waltham Forest, Newham, Redbridge, Barking &amp; Dagenham, Havering<br>South -&nbsp; Richmond Upon Thames, Kingston Upon Thames, Merton, Sutton, Croydon, Bromley, Lewisham, Greenwich and Bexley<br>Central - Camden, Islington, Hackney, Kensington &amp; Chelsea, City of Westminster, City of London, Tower Hamlets, Wandsworth, Lambeth and Southwark<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "NEW contracts to maintain and improve Transport for London's road network will be rolled out this week, providing even safer roads and footways and less disruption to motorists. The new Highway Maintenance and Works contracts will bring better response";}
        
        


 