


@{ViewBag.Title = "New Marshalled taxi rank in Romford";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New Marshalled taxi rank in Romford</h1>
        <div class="content-page-press-release">
        09 March 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Partygoers enjoying a night out in Romford will find it easier to get a taxi home thanks to a new marshalled taxi rank on Eastern Road opposite night club One three One.
        
    </div>



 <div class="on-this-page">
<p>The marshalled rank started on Friday 2 March and will operate on Friday and Saturday nights from 22:30 to 03.30.</p>
<p>Marshals will be there to organise passenger and taxi queues and provide assurance to people who are waiting for a taxi late at night. The marshals are being supplied by a LeisureSec plc and have security industry accreditation.</p>
<p>Transport for London's (TfL's) Public Carriage Office (PCO) has been working with the London Borough of Havering and the local police to improve access to taxi services late at night in the town centre.</p>
<p>People across London can also text HOME to 60835 to receive the numbers for two local licensed 24-hour minicab operators plus the Taxi One-Number direct to their mobile phone.</p>
<p>The Romford marshalled rank joins successful schemes already operating in Cranbourn Street, Bromley, the City of London and Kingston.</p>
<p>Mayor of London Ken Livingstone said: "This is good news for Romford's residents and visitors, who now have another safe and convenient way of getting home."</p>
<p>Ed Thompson, TfL's Taxi and Private Hire Director, said: "Marshalled taxi ranks in other parts of London have proved a great success - we hope that it will prove popular in Romford.</p>
<p>"The rank will help people who want a legitimate taxi late at night and act as a deterrent to illegal taxi touts. We regard it as a valuable measure to improve travel safety at night, especially for women."</p>
<p>Jane Eastaff of the Havering Community Safety Partnership, said: "A late-night Licensed Taxi Marshal scheme, operating on Friday and Saturdays nights, organised around 9,000 journeys over a ten-week trial period last year.</p>
<p>"Subsequent independent research for TfL showed that the scheme had a major impact on reducing fear of crime, with 77 per cent of people questioned feeling safer in Romford at night."</p>
<p>Andrew Kavanagh, local licensed taxi driver, said: "We look forward to working with LeisureSec in welcoming new customers to join with our existing ones who already know that there is no better way to get home than in a taxi, after all our motto in Romford has always been 'be sure, be safe, always use a licensed taxi."</p>
<p>Cusak Gordon, a director of LeisureSec, said: "The managers and directors of LeisureSec plc are delighted to be able to work along side Havering Council and the PCO in delivering this innovative scheme to Romford town centre."</p>
            <h2>Notes for editors</h2>
<ul>
<li>Home texts cost 35p per enquiry plus standard text message rate (not currently available on Virgin and 3 Network)</li>
<li>Passengers must approach the marshal at the rank if they wish to get a taxi</li>
<li>Marshals do not link up individual passengers or groups unknown to each other who are travelling in the same direction</li>
<li>Drivers are free to return to the marshalled rank as many times as they wish during the night</li>
<li>The Havering Community Safety Partnership (HCSP) is a team of statutory, business and voluntary agencies that work collectively to address crime, disorder and drug misuse in the borough<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The marshalled rank started on Friday 2 March and will operate on Friday and Saturday nights from 22:30 to 03.30.Marshals will be there to organise passenger and taxi queues and provide assurance to people who are waiting for a taxi late at night. The";}
        
        


 