


@{ViewBag.Title = "New Board members and Advisors to the Board announced by Transport for London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New Board members and Advisors to the Board announced by Transport for London</h1>
        <div class="content-page-press-release">
        28 March 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<span class="right">
                    
                </span><p>Transport for London (TfL) today announced that two new members have been appointed to the TfL Board by the Mayor of London.</p>        
            
                        
            
            
            
            <p>
<p>Christopher Garnett lives in Putney and is a member of the Board of the Olympic Delivery Authority and was, until August 2006, the Chief Executive of Great North Eastern Railway and also Senior Vice President of the Rail Division of Sea Containers, GNER's parent company.&nbsp; </p>
<p>He brings a wealth of experience of managing large and complex organisations in the transport field to his TfL position.&nbsp;</p>
<p>Dr Rana Roy, FCILT, is an international consulting economist based in Central London.&nbsp; </p>
<p>He has researched, published and advised extensively on the reform of transport taxation, pricing and investment.&nbsp; </p>
<h2>Extensive experience</h2>
<p>His clients have included HM Government, UK local authorities, the European Commission and the European Conference of Ministers of Transport; he is currently acting as chief technical adviser in economics to the Rail Safety and Standards Board research programme on sustainable development.&nbsp; </p>
<p>Prior to setting up his independent practice in April 1997, Dr. Roy served as Chief Economist at the European Centre for Infrastructure Studies, Economic Adviser at the UK Department of Trade and Industry, and Senior Policy Adviser at the Australian Department of the Prime Minister and Cabinet.&nbsp;</p>
<p>In addition two advisors to the Board have also been appointed by Transport for London:</p>
<p>Peter Anderson is the Managing Director of Finance at Canary Wharf Group plc. </p>
<h2>Knowledge of community issues</h2>
<p>He brings extensive experience of managing and developing a major business within a rapidly regenerating area to his TfL role together with experience of&nbsp;influencing the development of transport infrastructure appropriate to an area of rapid commercial and residential development.</p>
<p>Shiria Khatun is a serving Councillor in the East India and Lansbury ward of Tower Hamlets.</p>
<p>She has extensive knowledge of community issues in East London and has worked closely with local and Bangladeshi media both in East London and across the Capital.</p>
<p>Mayor of London Ken Livingstone said: "The TfL Board has an important role in scrutinising and commenting upon a huge range of often complex but always important transport issues and projects.&nbsp; </p>
<p>"It is vital that the Board and its advisors reflect a wide range of knowledge and experience and I am delighted in these appointments."<br></p>
            <p>
<p><br><strong>Notes to Editors</strong></p>
<p>All four appointments continue until 45 days after the next London Mayoral election unless terminated earlier.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) today announced that two new members have been appointed to the TfL Board by the Mayor of London.Christopher Garnett lives in Putney and is a member of the Board of the Olympic Delivery Authority and was, until August 2006, the";}
        
        


 