


@{ViewBag.Title = "Parking facilities make life easier for Thames Rescue Volunteers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Parking facilities make life easier for Thames Rescue Volunteers</h1>
        <div class="content-page-press-release">
        23 March 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>
<p>A year after rescues were first launched from the Lifeboat Pier at Victoria Embankment, volunteers have expressed thanks to Transport for London (TfL) and Westminster City Council (WCC) for the free parking bays which have allowed them to continue river rescues in their spare time.</p>
<p>TfL and WCC are supporting Royal National Lifeboat Institution Volunteers by providing 10 free parking bays on Victoria Embankment for their exclusive use. </p>
<p>Volunteer Matt Leat, 21, from Greenwich, said:&nbsp;"I just fit the volunteering in when I can and usually come a bit more than twice a month, but the shifts are quite long and involve early mornings which means it is difficult to get trains. I also have a lot of gear for work which I need with me so driving is really the only option.</p>
<p>"It has been fantastic having the spaces - it has made a huge difference, and I am not sure I could have carried on volunteering without them."</p>
<p>TfL's Head of Traffic Enforcement, Patrick Troy, said: "TfL is committed to helping Londoners with their transport needs and these Londoners are giving up their spare time to preserve our safety while we travel on and enjoy the River Thames. </p>
<p>"It is great to see what working in partnership can achieve, and in this case we have made an exception to normal traffic rules for a group of exceptional volunteers." </p>
<p>The RNLI approached TfL for help and advice about parking at their newly renovated Tower Lifeboat station and pier. Volunteers access the pier from Victoria Embankment which is on a very busy Red Route. Bays in the area are controlled by WCC. </p>
<p>Both TfL and WCC recognise the importance of the work carried out by the RNLI and agreed to support them. These parking facilities make a huge difference to volunteers, many of whom would be prevented from doing their overnight shifts if they were unable to drive to the Tower Lifeboat station.&nbsp; </p>
<p>Janet Kelly, Tower Lifeboat station manager, said: "Without the generous support of Westminster Council and TfL, it would be difficult to run an operational 24/7 lifeboat for the purpose of saving lives on the River Thames in central London."<br>&nbsp;<br>Councillor Danny Chalkley, Cabinet Member for Economic Development and Transport at Westminster City Council, said: "We are delighted to provide these free parking bays on the Victoria&nbsp;Embankment to the Thames Lifeboat Pier.</p>
<p>"The RNLI&nbsp;is&nbsp;one of our emergency services, and volunteers like Matt give up their time to help others in trouble,&nbsp;so&nbsp;it is a pleasure to make&nbsp;it&nbsp;as easy as possible for them to carry out their duties."<br></p>
            <p><strong>Notes for editors</strong></p>
<ul>
<li>TfL and WCC have changed the use of 10 pay and display bays for the use of cars displaying the RNLI crew badge since August 2006.&nbsp; The bays will continue to be enforced by Westminster parking attendants </li>
<li>The Tower Lifeboat pier was officially opened on 8 May 2006 by Sir Kevin Tebbit, but the station has been operational since February 2006 </li>
<li>The Lifeboat pier is staffed by 10 full time staff, with two on any shift accompanied by a volunteer. There are 40 volunteers from all around London who vary from bank workers to police men and is the busiest in the country </li>
<li>RNLI volunteers help fishing vessels, broken down boats and assist in incidents on pleasure boats, narrow boats and yachts </li>
<li>The Lifeboat is launched within 30 seconds of an emergency call </li>
<li>The RNLI Embankment covers the Thames from Battersea to Barking </li>
<li>The RNLI was founded in 1824; it is funded entirely by donations. It costs &pound;300,000 a day to run the RNLI </li></ul>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A year after rescues were first launched from the Lifeboat Pier at Victoria Embankment, volunteers have expressed thanks to Transport for London (TfL) and Westminster City Council (WCC) for the free parking bays which have allowed them to continue river";}
        
        


 