


@{ViewBag.Title = "Plane, train and Oyster";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Plane, train and Oyster</h1>
        <div class="content-page-press-release">
        06 March 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) and Gatwick Express have joined forces to enable passengers on the dedicated airport train service to buy Oyster cards before they even reach the capital.
        
    </div>



 <div class="on-this-page">
<p>
<p>Thanks to this new partnership, Oyster cards for Visitors are now available for passengers to buy from the Gatwick Express ticket offices and on board trains inbound to London Victoria.</p>
<p>The 30-minute express service currently carries more than five million passengers per year into the capital, with trains departing every 15 minutes.</p>
<p>Gatwick Express is a popular choice with visitors to London from around the world.</p>
<p>The Oyster Card for Visitors is a new, branded card from Transport for London, pre-loaded with pay as you go and ready to use on the system for passengers as soon as they arrive in central London.</p>
<p>Ken Livingstone, Mayor of London, said: 'This deal with Gatwick Express is another good example of the work that we are doing to make it easier for visitors to London to get around the city.</p>
<p>'The Oyster system is a proven success, with more than 10 million cards issued.</p>
<p>'This deal enables us to reach more people coming to London from overseas, meaning that more visitors can get the benefits of cheaper, simpler, and quicker journeys that come with using the Oyster card.'</p>
<h2>Customer benefit</h2>
<p>Peter Cotton, Managing Director of Gatwick Express, said: 'By teaming up with TfL to allow us to sell Oyster cards, Gatwick Express is once again delivering yet another customer benefit for their passengers who may be taking day trips to the Capital from the local Gatwick area or just as importantly are overseas travellers visiting London for leisure and or business'.</p>
<p>Visit London's Chief Executive, James Bidwell, says: 'London has one of the most comprehensive public transport networks of any major city and it is one of our greatest assets.</p>
<p>'We welcome the new Oyster card for Visitors on Gatwick Express which will further increase the opportunities for visitors to buy the card before arriving in the city.</p>
<p>'We look forward to working with TfL and other partners to continue to raise the profile of the Oyster card overseas.'</p>
<h2>Timeless</h2>
<p>The announcement is part of TfL's strategy to ensure that visitors to London have access to the cheaper options available with Oyster.</p>
<p>By making the cards easy to get hold of before a passenger even arrives in London, it saves time on queuing for tickets leaving people more time to enjoy their visit.</p>
<p>Instead of buying a paper card, visitors can work out how often they will use public transport in London and top-up their Oyster Card for visitors accordingly.</p>
<p>The pay as you go money on the card is timeless so people can use any money left over for future visits to London or give it to someone else who is visiting London.</p>
            <h2>Notes for editors</h2>
<ul>
<li>Pre-purchased Oyster cards became available for visitors in September last year when a partnership was launched to sell Oyster cards through VisitBritain's overseas offices and on-line shops, so that passengers could purchase Oyster pay as you go before they even arrived in the UK </li>
<li>More than 10 million Oyster cards have now been issued and 38 million journeys a week are made each week using Oyster </li>
<li>As an example, with Oyster pay as you go, you can place &pound;10 on your Oyster card and when you touch in and out at the yellow readers with your card on the Tube, Docklands Light Railway (DLR), tram or bus, the reader automatically deducts the correct fare </li>
<li>Oyster is available to buy or be topped up at all 275 Tube stations and there are also more than 2,200 Oyster Ticket Stops agents across the Capital </li>
<li>Eighty-five percent of all Londoners live within 400 metres of an Oyster Ticket Stop </li>
<li>When passengers use the Oyster card to touch in and out on the yellow readers on the bus, Tube, DLR and tram, the system automatically works out the right fare for the journey within a fifth of a second from up to 1.83 million permutations.</li></ul>
<p class="prnotescopy"><h27><p>
<h3>About Gatwick Express </h3>
<p class="prnotescopy"></h27></p>
<ul class="prnotescopy">
<li>Gatwick Express, the non stop rail-air service between Victoria Station and Gatwick Airport, departs every 15 minutes with a journey time of 30 minutes </li>
<li>Gatwick Express offers both an Express class (the standard service) and First class travel </li>
<li>Designed with the air traveller in mind, accommodation in Express Class is stylish, modern and air-conditioned with a range of drinks, snacks and light refreshments served at the seat </li>
<li>First class offers seats that are wider and have a greater amount of leg room, complimentary newspaper and magazine, tables and drinks at the seat </li>
<li>A distinct benefit for First class customers is Fast Track which gives exclusive access to priority security and passport control channels, dedicated bureaux de change counters and duty free cash tills and priority inbound immigration channel at both terminals (for passengers holding non EC or non EEA passports) </li>
<li>Customers are also able to see their flight details on brightly coloured screens before they board the train as flight information display screens are situated at the top of platform 13, Victoria Station, London, which show the airline logos in colour, the flight number, flight destination, departure time and departure terminal </li>
<li>For more information, visit <a href="http://www.gatwickexpress.com/">http://www.gatwickexpress.com/</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Thanks to this new partnership, Oyster cards for Visitors are now available for passengers to buy from the Gatwick Express ticket offices and on board trains inbound to London Victoria.The 30-minute express service currently carries more than five million";}
        
        


 