


@{ViewBag.Title = "TfL introduces a new road marking to improve accessibility at bus stops";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL introduces a new road marking to improve accessibility at bus stops</h1>
        <div class="content-page-press-release">
        13 March 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is this week (March 12th) introducing a new 'wide red line' road marking outside one of London's busiest railway stations to help make the bus stops along the road more accessible and safer for bus passengers and pedestrians.
        
    </div>



 <div class="on-this-page">
<p>Licensed London taxis often use Wilton Road next to Victoria Station, a vital through route in central London, as somewhere to drop off passengers for the station.</p>
<p>This sometimes means that buses cannot pull into the kerb. This makes it impossible for disabled bus passengers to use the wheelchair ramps now installed on all London Buses and results in congestion and delays to other road users.</p>
<p>The new wide red line will indicate that there is no stopping at all except for buses at the marked sections of road. The general exemptions for taxis and Blue Badge (disabled parking permit) holders will not apply.</p>
<p>Kevin Gardner, head of TfL's Bus Priority Team, said: "The new marking will greatly improve access for all passengers at some of London's busiest bus stops."</p>
<p>Ed Thompson, Taxi and Private Hire Director, added: "The taxi trade welcomes the clarity this new marking will provide.</p>
<p>"With the new road layout, taxi customers can get the service they need without impairing the provision of accessible transport to disabled Londoners or blocking traffic flows."</p>
<p>Patrick Troy, head of TfL's Traffic Enforcement, said: "At these very busy locations it is all the more important to enforce the new stopping restrictions in order to preserve the safety of pedestrians and bus passengers.</p>
<p>Traffic flow</p>
<p>"The wide red line is there to make the added restriction clear to taxi drivers and Blue Badge holders, but we have made sure that there is sufficient space for them to stop and set down close by.</p>
<p>"The new regulations should also help traffic flow along Wilton Road, and we will be monitoring the effects of this enforcement during the scheme."</p>
<p>The new road marking will be active outside Victoria station on Wilton Road from March 12. It is expected two more stations - King's Cross St Pancras and Liverpool Street - could also benefit from similar road markings within months.</p>
<p>At all three locations alternative areas have been identified where taxi drivers and Blue Badge holders will still be permitted to stop to pick up and set down.</p>
<p>The new restriction will be enforced by TfL's Traffic Enforcement department using on street CCTV cameras and contraventions will result in Penalty Charge Notices (PCNs) of &pound;100.</p>
            <h2>Notes for editors</h2>
<ul>
<li>Taxi drivers and Blue Badge holders have a general exemption from the "No Stopping" rule on single and double red lines, and are permitted to set down and pick up passengers, unless restricted in the local traffic order. (Other restrictions also apply to Blue Badge holders to prevent abuse of the Badge) </li>
<li>All bus stops on the Transport for London Road Network are marked with a yellow cage on the road and double red lines at the kerb. A sign at the bus stop also states "No stopping at any time except buses". There are a number of exemptions, however, which include London licensed taxis and Blue Badge holders which are allowed to stop "for so long only as may be required to enable a passenger/disabled person to get on or off the vehicle" </li>
<li>For Blue Badge holders the wide red line will have the same restrictions as the single wide yellow line used at bus stops on London's borough roads </li>
<li>The scheme is being undertaken at three locations: Wilton Road outside Victoria station; at a later date, this will be extended to Bishopsgate outside Liverpool Street station and Euston Road outside King's Cross station </li>
<li>Marking of the wide red line, either 200mm or 300mm wide, within the bus stop cage was authorised by the Department for Transport in 2005 </li>
<li>Currently at Euston Road and Bishopsgate, the exemptions normally extended to taxi drivers and Blue Badge holders for stopping do not apply, and therefore the introduction of the wide red line will be a purely visual change </li>
<li>The &pound;100 PCNs issued at these locations are reduced to &pound;50 if paid within 14 days of the issue date </li>
<li>The taxi trade and disability groups are being contacted to inform them of the changes </li>
<li>All 8,000 London Buses are now fully accessible with low level boarding and disabled ramps where necessary</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Licensed London taxis often use Wilton Road next to Victoria Station, a vital through route in central London, as somewhere to drop off passengers for the station.This sometimes means that buses cannot pull into the kerb. This makes it impossible for";}
        
        


 