


@{ViewBag.Title = "Tube carries one billion passengers for first time";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube carries one billion passengers for first time</h1>
        <div class="content-page-press-release">
        28 March 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"London is challenging New York as the world's most important financial centre and an effective transport system places a critical role in London's success"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<span class="right">
                    
                </span><p>Transport for London (TfL)&nbsp;today revealed that over the last year London Underground (LU)&nbsp;carried one billion passengers for the first time in its 144-year history.</p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            London is challenging New York as the world's most important financial centre and an effective transport system places a critical role in London's success
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Ken Livingstone, Mayor of London, said that the record-breaking figure showed the strength of London's economy and reinforced the need for substantial investment to increase the capacity of the system. Mayor Ken Livingstone said: "Every day the London Underground carries more passengers than the entire national rail network.</p>
<p>"This new record of one billion passengers shows the strength of London's economy and how crucial the Tube is to that economic success.</p>
<p>"The challenge we now face is to sustain the investment necessary to get the most out of the existing system and expand capacity to meet ever increasing demand.</p>
<p>"The key to meeting that new demand, and making travel more comfortable for existing passengers, is the step change in Underground capacity which the proposed new Crossrail line would deliver. </p>
<p>"London is challenging New York as the world's most important financial centre and an effective transport system places a critical role in London's success. </p>
<h2>Improvements to stations</h2>
<p>"All Londoners owe a debt to the dedicated staff of London Underground who work so hard to get so much out of the oldest Tube network in the world."</p>
<p>LU Managing Director Tim O'Toole said: "London Underground is now running more trains and carrying more passengers than ever before.&nbsp; </p>
<p>"This important milestone could only have been achieved through the hard work and dedication of staff across the Underground network.</p>
<p>"It is also remarkable that this record passenger figure has been achieved as we carry out the renewal of the Tube.&nbsp; </p>
<h2>Record passenger numbers</h2>
<p>"Improvements to stations, track and trains are being delivered, but this does mean the closure of sections of lines at weekend.&nbsp;</p>
<p>"We thank passengers for their patience and urge them to 'check before you travel' on the Tube at weekends."</p>
<p>Last year (2005/06), the Tube carried a total of 971 million passengers.</p>
<p>The one billion passenger figure was achieved this week and with two weeks of the current financial year remaining the final figure will be even higher. </p>
<h2>Growing importance of Docklands</h2>
<p>On average, the Tube carries just over three million passengers each day, rising to 3.4 million passengers on weekdays.&nbsp; </p>
<p>On one day last year, December 8, due in part to Christmas shopping and leisure travel, LU calculates that around four million passengers were carried for the first time.&nbsp; Overall, in the run up to Christmas the Tube carried more passengers - 87m - in one four week period than ever before.</p>
<p>By 2016, it is estimated that the Tube could be carrying 25 per cent more passengers, equivalent to an average of 3.4&nbsp;million&nbsp;passengers each day, as a direct result of London's growing population.</p>
<p>London Underground also released latest available figures for the busiest stations on the Tube network in 2005/06 which demonstrates the growing importance of Docklands to London's economy.&nbsp; </p>
<h2>Future growth</h2>
<p>Canary Wharf station which opened in 1999 as part of the Jubilee Line Extension is now the ninth busiest station on the Tube network with over 34 million passengers each year, but did not even feature in the top fifteen busiest Underground stations in 2003.</p>
<p>The number of passengers using the station is predicted to grow even further as Docklands grows.&nbsp;</p>
<p>Part of this growth will be met by the Jubilee line which will deliver a 45 per cent&nbsp;increase in capacity, but the only transport solution for the long-term is Crossrail.</p>
<p>King's Cross St Pancras remains the Tube's busiest station with nearly 72 million passengers, with the numbers using the station expected to reach 127 million by 2016.</p>
<p>This is in part due to the transfer of Eurostar services to St. Pancras later this year, and in coming years the opening of a new Thameslink station at King's Cross, the start of domestic services on the Channel Tunnel Rail Link and the extension of King's Cross mainline station.</p>
<p>To meet this growing demand, LU last year opened the new Western Ticket Hall at the Tube station which doubled the station's capacity. </p>
<p>Work is now well underway on the new Northern Ticket Hall, which is due for completion in 2010. 
<p>
            <p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>TfL is investing &pound;10bn to improve and expand London's transport network, with than half of that in the Tube</li>
<li>In 2005/06 the Tube carried 971 million passengers and in 2004/5 976 million</li>
<li>In 2005/06, the busiest stations on the Tube network were&nbsp; (1) King's Cross St. Pancras - 71.50 million; (2) Victoria - 67.82 million; (3) Waterloo - 67.40 million; (4) Oxford Circus - 63.06 million; (5) Liverpool Street - 50.67 million, (6) London Bridge - 44.97 million; (7) Bank &amp; Monument - 34.30 million; (8) Paddington - 34.29 million; (9) Canary Wharf - 34.21 million (10) Piccadilly Circus - 33.76 million; (11) Tottenham Court Road - 30.80 million; (12) Bond Street - 29.57 million; (13) Leicester Square - 29.54 million; (14) Holborn - 25.07 million and (15) Green Park - 24.89 million</li>
<li>In 2003/04, the busiest stations on the Tube network were (1) King's Cross St. Pancras - 69.76 million; (2) Victoria - 66.24 million; (3) Waterloo - 64.52 million; (4) Oxford Circus - 58.75 million; (5) Liverpool Street - 48.00 million; (6) London Bridge - 40.10 million; (7) Piccadilly Circus - 34 million; (8) Bank &amp; Monument - 32.97 million; (9) Paddington - 32.45 million; (10) Leicester Square - 31.23 million; (11) Tottenham Court Road - 29.49 million; (12) Bond Street - 27.60 million; (13) Canary Wharf - 24.23 million; (14) South Kensington - 24.12 million and (15) Hammersmith (District and Piccadilly) - 24.06 million</li>
<li>The Tube carried four million passengers in one day for the first time in December 2006<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL)&nbsp;today revealed that over the last year London Underground (LU)&nbsp;carried one billion passengers for the first time in its 144-year history.Ken Livingstone, Mayor of London, said that the record-breaking figure showed the";}
        
        


 