


@{ViewBag.Title = "Utility diversions to start in the Tottenham Court Road area";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Utility diversions to start in the Tottenham Court Road area</h1>
        <div class="content-page-press-release">
        12 March 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        In preparation for the major upgrade of Tottenham Court Road station, which is part of Transport for London's (TfL's) &pound;10bn Investment Programme, vital diversions of sewers, telecommunications, gas, electric and water pipes will start around the station today (Monday 12 March).
        
    </div>



 <div class="on-this-page">
<p>Tottenham Court Road Tube station is one of the busiest and most congested stations on the network used by over 125,000 passengers per day.</p>
<p>As demand is expected to exceed current capacity at this prominent West End site within the next few years, it is in urgent need of improvement.</p>
<p>In order to have a bigger station the space under the road and pavement where the ticket hall needs to be enlarged is currently full of sewers and pipes carrying electricity, gas, telecommunications and water.</p>
<p>All these utilities have to be diverted before we can start enlarging the station. The work will take 18 months.</p>
<p>Richard Parry, London Underground's (LU's) Strategy and Service Director, said: "The utility diversion works are needed for the station upgrade. They will be phased to reduce potential impact, so not all areas will be affected at the same time. The station will not close as a result of the diversion works.</p>
<p>"TfL's &pound;10bn Investment Programme is all about providing a better service.</p>
<p>"The upgraded Tottenham Court Road station will have five new lifts providing step-free access from street to platform level, and improved entrances.</p>
<p>"An enlarged ticket hall and eight new escalators will relieve current congestion and improve journey times.</p>
<p>"The improved station will not only provide a more efficient interchange between transport services, but will at street level, provide much needed additions to pavement space and pedestrian crossing capacity.</p>
<p>"As a result the new station is anticipated to be a catalyst for regeneration and new investment in the area."</p>
<p>LU applied for, and was granted, planning permission to undertake vital diversions, and has been working closely with the London Borough of Camden and Westminster City Council (because the work will be in both boroughs) and other local major projects to minimise disruption in the Tottenham Court Road vicinity while work is taking place.</p>
<p>A 24-hour Help Desk will be in operation seven days a week throughout the utility diversions.</p>
            <h2>Notes for editors</h2>
<ul>
<li>TfL is investing &pound;10bn to improve and expand London's transport network, over half of that of being spent on the Tube </li>
<li>Tube Lines is responsible for the maintenance and renewal of Jubilee, Northern and Piccadilly lines </li>
<li>Metronet Rail BCV is responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo &amp; City lines </li>
<li>Metronet Rail SSL is responsible for the maintenance and renewal of the sub-surface lines - the Circle, District, Hammersmith &amp; City, Metropolitan and East London lines </li>
<li>Birse Metro, part of the Balfour Beatty Group, has been awarded a &pound;22m contract for a project involving extensive relocation of utility services in the area surrounding the station, as part of a major upgrade to Tottenham Court Road station </li>
<li>Permission to go ahead with the construction of Crossrail and the full station upgrade are subject to Parliamentary approval of the Crossrail Hybrid Bill, which is currently being looked at by MPs and Peers. LU is funding the first phase of the station upgrade as part of TfL's &pound;10bn Investment Programme </li>
<li>LU ran a Public Information Drop-in Centre for local residents and businesses before the work started</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Tottenham Court Road Tube station is one of the busiest and most congested stations on the network used by over 125,000 passengers per day.As demand is expected to exceed current capacity at this prominent West End site within the next few years, it is in";}
        
        


 