


@{ViewBag.Title = "Victoria Coach Station - Celebrating 75 years of service";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Victoria Coach Station - Celebrating 75 years of service</h1>
        <div class="content-page-press-release">
        09 March 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Victoria Coach Station will be celebrating 75 years at the core of our transport network over this weekend.
        
    </div>



 <div class="on-this-page">
<p>A rally of historic and preserved vehicles is planned for both days involving some forty coaches, representing many of the operating companies which have shaped the history of 'VCS'.</p>
<p>Today Victoria Coach Station is open all day, every day of the year, allowing 200,000 passengers a week to travel to all parts of Great Britain and countless destinations in Europe from its prominent position in Buckingham Palace Road, near to Victoria Station.</p>
<p>The iconic Art Deco station has been the attractive first port of call for millions of day-trippers, students and tourists from all over Europe who have travelled to the capital.</p>
<p>Transport for London has continued to invest heavily to improve facilities since taking over the running of the station in 2000 - with the station continuing to thrive thanks to safety and comfort developments in modern-day coaches and its own mobility assistance scheme.</p>
<p>The station has been praised for its outstanding customer service standards receiving the prestigious government Charter Mark continuously since 1994. A recent survey noted that overall customer satisfaction over the past three months was 78 per cent.</p>
<p>Malcolm Carmichael, Commercial Services Manager at Victoria Coach Station, said: "We are proud to have offered excellent service over the past 75 years and we look forward to our future with confidence. We thank our customers for their continued patronage.</p>
<p>"We are committed to a programme of investment to enhance further the quality of services we offer both our public and operator customers as the country's leading coach station."</p>
<p>The station, designed by Wallis, Gilbert and Partners and initially operated by an association of coach operators called London Coastal Coaches, spans close to three acres and quickly became a major transport hub for Londoners heading for the seaside.</p>
<p>Not even the Second World War could interrupt service totally, despite fuel rationing, with the management adopting a 'business as usual' stance.</p>
<p>London Regional Transport acquired Victoria Coach Station in 1988 on the recommendation of the Secretary of Transport and was transferred to TfL in 2000.</p>
<p>This venerable institution continues to thrive with 10 million passengers now using the station every year to travel to 1,200 destinations in the UK and 400 in mainland Europe.</p>
<p>Members of the public are welcome to attend the free event at Victoria Coach Station between 10am and 3pm on both Saturday and Sunday.</p>
            <h2>Notes for editors</h2>
<ul>
<li>Media are welcome to attend the celebrations at Victoria Coach Station this Saturday March 10. Malcolm Wildridge, General Manager of the station, will be available for interview from 11:00 to 15:00</li>
<li>Fifteen to 20 coaches dating from the 1930s to the 1970s will be on display on the Saturday, representing many of the different operating companies who have used the station since its opening. Some of the vehicles are coming from as far as Scotland to join the celebrations</li>
<li>Display panels depicting the history of VCS over the past seven and a half decades will be in evidence, together with several stalls selling memorabilia</li>
<li>Victoria Coach Station was built in 1932 and refurbished in 1993 with additional minor refurbishments since then</li>
<li>The station has 21 departure gates, 36 coach bays and six arrival bays. It covers 3.3 acres</li>
<li>Inside the coach station there are:</li>
<ul>
<li>Bureaux de Change</li>
<li>Travel information points</li>
<li>Hotel and taxi booking offices</li>
<li>Retail outlets for newspapers and magazines, together with several varieties of catering</li></ul></ul>
<p class="prnotescopy"><strong>The History of Victoria Coach Station</strong></p>
<ul class="prnotescopy">
<li>The coach station was originally managed by London Coastal Coaches Limited, a consortium of coach operators. In 1970, the coach station became a subsidiary of the National Bus Company which was formed by an Act of Parliament to assume control of the majority of Britain's major bus operators, both publicly and privately owned</li>
<li>Most of these companied ran express coach services from the coach station to villages, towns and cities around the country</li>
<li>The Second World War could not interrupt the service totally, despite fuel rationing, with station masters adopting a defiant 'business as usual' stance</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A rally of historic and preserved vehicles is planned for both days involving some forty coaches, representing many of the operating companies which have shaped the history of 'VCS'.Today Victoria Coach Station is open all day, every day of the year,";}
        
        


 