


@{ViewBag.Title = "World's first double-decker hybrid bus goes into service in London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>World's first double-decker hybrid bus goes into service in London</h1>
        <div class="content-page-press-release">
        16 March 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The world's first hybrid diesel electric double-decker bus goes into service on route 141 in London today, Transport for London (TfL) has announced.
        
    </div>



 <div class="on-this-page">
<p>
<p>This inaugural service comes after the Mayor of London, Ken Livingstone, recently announced plans for an increased hybrid bus fleet for the capital.</p>
<p>Hybrid buses, which use a combination of diesel and electric power, are central to the Mayor and TfL's plans for a cleaner, greener fleet, and will contribute to cutting the capital's carbon dioxide emissions.</p>
<p>These hybrid buses are an important step towards the Mayor's long-term goal of a low carbon transport system.</p>
<p>A leafy motif on the buses will help passengers recognise their environmentally-friendly status.</p>
<p>Ken Livingstone said: 'This is a world-first for London marking our commitment to a cleaner, greener public transport network.</p>
<p>'Hybrid vehicles emit less harmful emissions helping to improve air quality and tackle climate change.</p>
<p>'I repeat my call for bus manufacturers and operators to rise to the challenge of making hybrid buses more financially feasible so we can speed up their introduction across London.'</p>
<p>The hybrid bus will operate on Route 141, run by Arriva, from Palmers Green, Wood Green, Turnpike Lane Station, Haringey, Manor House, Newington Green, Mildmay Park, Hoxton, Old Street Station, Moorgate, Bank Monument and to London Bridge Station.</p>
<p>Immense potential</p>
<p>Mark Yexley, Managing Director, Arriva London, said: 'Buses play a vital role in encouraging people to use public transport more often.</p>
<p>'By introducing more environmentally-friendly means of public transport, we're helping in the battle to reduce carbon emissions across the UK.</p>
<p>'This hybrid engine initiative is excellent and its potential is immense.</p>
<p>'We're delighted to be part of it.'</p>
<p>The adoption of hybrid buses is a key part of a range of measures being developed by the Mayor and TfL to meet London's contribution to tackling climate change.</p>
<p>The measures include:</p>
<p>&nbsp;&nbsp;&nbsp; * Continuing modal shift from private car usage to public transport, cycling and walking<br>&nbsp;&nbsp;&nbsp; * Greater energy efficiency across all TfL businesses and modes of transport<br>&nbsp;&nbsp;&nbsp; * The adoption of more energy from renewable sources and innovative technology to recycle energy<br>&nbsp;&nbsp;&nbsp; * Support for the continued research and development of low carbon fuels<br>&nbsp;&nbsp;&nbsp; * Strategies and support for organisations and individuals to travel in more environmentally-friendly ways through Travel Demand Management schemes, including in the London Borough of Sutton the largest of its kind in the UK</p>
            <h2>Notes for editors</h2>
<ul>
<li>Media are invited to board the inaugural route 141 - please see operational note for further details </li>
<li>The London Bus fleet includes 8,000 buses on 700 routes, carrying more than 6m passengers per day </li>
<li>The 8,000 strong London Bus fleet is the cleanest in the UK </li>
<li>All buses in the London fleet meet at least euro II emissions standards and have particulate traps, 60 per cent meet Euro III standards and are also fitted with particulate traps, and buses meeting Euro IV standards are now being introduced </li>
<li>The current hybrid buses are powered by a small diesel engine and electric power, thereby cutting emissions by up to 40 per cent per bus. The technology works through a battery pack providing power to the wheels via an electric motor. The battery pack is kept at optimum power by a diesel Euro IV engine, keeping the battery charged. When the vehicle brakes, energy which would normally be wasted is also recycled and used to charge the battery. Thanks to continuous charging of the battery, the vehicle can meet the existing range of a conventional diesel bus </li>
<li>The Hybrid double-decker bus has been built by WrightBus Limited</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This inaugural service comes after the Mayor of London, Ken Livingstone, recently announced plans for an increased hybrid bus fleet for the capital.Hybrid buses, which use a combination of diesel and electric power, are central to the Mayor and TfL's";}
        
        


 