


@{ViewBag.Title = "ASLEF to recommend members accept LU pay offer";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>ASLEF to recommend members accept LU pay offer</h1>
        <div class="content-page-press-release">
        16 February 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground has today been advised by ASLEF that they will ballot their membership with a recommendation by their Executive Committee to accept London Underground's three-year pay and conditions offer.
        
    </div>



 <div class="on-this-page">
<p>TSSA members have already voted to accept the London Underground offer by more than 80 per cent. </p>
<p>
<p>Should ASLEF members vote to accept, only the RMT union would have failed to agree the London Underground offer.</p>
<p>Mayor of London, Ken Livingstone, said: 'ASLEF's decision to recommend acceptance of the London Underground pay deal is a major step towards achieving an unprecedented three year pay agreement on London Underground.</p>
<p>'This will benefit staff and the travelling public, laying the basis for a long term partnership to deliver industrial peace and steadily improving services.'</p>
<p>London Underground Managing Director Tim O'Toole said: 'London Underground has made a very fair pay offer to all trade unions.</p>
<p>'It is a three-year deal with an above inflation pay rise in each year, plus a cash bonus for all staff if customer satisfaction targets are met or exceeded.</p>
<p>'We are pleased ASLEF has advised us they are to recommend acceptance of this offer.</p>
<p>'We again call on the RMT to put this very fair offer to their members, as the other unions have done, rather than balloting for strike action.'</p>
<p>The London Underground three-year pay offer is:</p>
<ul>
<li>Year 1 (payable from 1 April 2006): 4 per cent </li>
<li>Year 2 (payable from 1 April 2007): RPI+0.5 per cent (or 3 per cent whichever is greater) </li>
<li>Year 3 (payable from 1 April 2008): RPI+0.6 per cent (or 3 per cent whichever is greater)</li></ul>
<p>A cash bonus for all staff of &pound;250 or &pound;500 will also be paid each year if London Underground Customer Satisfaction targets are met or exceeded.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TSSA members have already voted to accept the London Underground offer by more than 80 per cent. Should ASLEF members vote to accept, only the RMT union would have failed to agree the London Underground offer.Mayor of London, Ken Livingstone, said:";}
        
        


 