


@{ViewBag.Title = "Congestion Charge extends west";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Congestion Charge extends west</h1>
        <div class="content-page-press-release">
        19 February 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        At 7am this morning (Monday 19 February 2007), the Central London Congestion Charge Zone extended westwards, to cover most of the boroughs of Kensington &amp; Chelsea and Westminster.
        
    </div>



 <div class="on-this-page">
<p>The extended zone now operates as one scheme, with the same rules, payment channels and discounts. </p>
<p>
<p>Transport for London can report that all monitoring systems are operating correctly, and payment channels to pay the &pound;8 charge online, at pay stations and by text, as well as the call centre, are all up and running.</p>
<p>The Pay Next Day scheme means drivers will also be able to pay &pound;10 until midnight on the following charging day.</p>
<p>The hours for the congestion charging scheme have now changed, operating from 7am to 6pm rather than 7am to 6.30pm. </p>
<p>We are currently running a good service on all Tube lines.</p>
<p>A significant package of measures to enhance bus services ahead of the western extension has been introduced, including extensions to bus routes, significant increases in frequency across the network and the introduction of an additional bus route from December 2006.</p>
<p>These have provided space for an additional 4,800 passengers travelling to inner West London from south, west and north London in the morning peak. </p>
<p>Malcolm Murray-Clark, director of Congestion Charging, believes considerable preparation by Transport for London has seen a smooth go-live process.</p>
<p>He said: 'The congestion charging scheme has now been operating for four years, and is a proven success.</p>
<p>'Since the introduction of the charge in 2003, traffic levels have been reduced in the central zone by 20 per cent, meaning that each day in 2006 there were almost 70,000 fewer vehicles entering the charging zone compared to the number that had been entering each day before charging began.</p>
<p>'Today the scheme has been extended to one of the most congested areas in the UK, in an effective and well-run process.'</p>
<p>The reduction in traffic has led to a significant cut in CO2 emissions within the zone.</p>
<p>Roads safety has also improved, with 70 fewer road accidents each year directly because of the congestion charge.</p>
<p>This has contributed to the growth of cycling, and now more people than ever before are travelling by bike.</p>
<p>Since 2000 there has been a 72 per cent increase in the number of cyclists on the capital's major roads.</p>
<p>Congestion Charging generated revenues of &pound;122m last year alone, to invest in transport improvements across the whole of London. </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The extended zone now operates as one scheme, with the same rules, payment channels and discounts. Transport for London can report that all monitoring systems are operating correctly, and payment channels to pay the &pound;8 charge online, at pay stations";}
        
        


 