


@{ViewBag.Title = "Contract signed for Airwave radio coverage on Tube";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Contract signed for Airwave radio coverage on Tube</h1>
        <div class="content-page-press-release">
        02 February 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The &pound;115m contract for the Airwave radio network used by police and the emergency services to 'piggy back' on the Tube's new Connect digital radio system has been signed.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It will bring added flexibility to the way that emergency services operate underground
                            
                        </p>
                    </div>
                
            
            
            <p>It is planned that Airwave will be operational on all Underground lines in 2008.</p>
<p>This will mean that the Metropolitan Police Service (MPS) and other UK police forces including the City of London Police will have Airwave radio coverage at all 125 below ground Underground stations. </p>
<p>British Transport Police (BTP), who have responsibility for policing on the Tube network, currently have radios which work underground.</p>
<p>There are currently long established working arrangements for the MPS and City of London Police to access the Tube network - they will be accompanied by a BTP officer who has a radio which works below ground and if needed will be provided with a BTP radio.</p>
<p>Significant progress has been made to roll-out Connect on the Tube network.</p>
<p>Connect is now live on the Circle, District, Hammersmith &amp; City, Metropolitan and East London Lines.</p>
<p>Connect will be rolled-out across the remainder of the Tube network on a line-by-line basis throughout 2007.</p>
<p>
<h2>Extra reassurance</h2>
<p>
<p>Mayor of London Ken Livingstone said: "The addition of the Airwave radio network to the new Connect digital radio system, currently being rolled out across the Tube network, is good news for London.</p>
<p>"It will bring added flexibility to the way that emergency services operate underground boosting the Metropolitan and City of London Police response to any incident on the Tube and providing extra reassurance to Londoners."</p>
<p>Tim O'Toole, LU Managing Director, said: "London Underground is meeting its commitments to deliver a new digital radio system for the Tube which can also be accessed by the emergency services."</p>
<p>While the negotiations between London Underground and the various suppliers were taking place, vital groundwork was undertaken to ensure an early and seamless integration of equipment with the Connect radio network.</p>
<p>
<h2>Delivering benefits</h2>
<p>
<p>Tim O'Toole continued: "London Underground and the Home Office pre-funded works to facilitate the link-up between Connect and Airwave before this contract was signed because of the benefits it would deliver.</p>
<p>"This will allow the Airwave service to be supplied below ground via the Connect infrastructure that is already in place as quickly as possible."</p>
<p>Airwave will be rolled-out across the Tube network on a line-by-line basis in the same way as Connect is rolled-out.</p>
<p>Airwave radio will go live starting with the East London Line in April 2007.<br></p>
            <ul>
<li>Transport for London (TfL) is investing &pound;10bn to improve and expand London's transport network, more than half of that in the Tube 
</li><li>The Connect Private Finance Initiative (PFI) project was let in November 1999 to replace a large number of time expired communications equipment and was originally due to be delivered in 2005 
</li><li>When the Tube transferred to TfL in summer 2003, Connect was already late and LU, under Tim O'Toole, has put in a new management team and has succeeded in building the new radio network, which is currently being rolled out
</li><li>Airwave is the new digital radio system for the police and emergency services in England, Scotland and Wales and is managed by the Police Information Technology Organisation (PITO) under a PFI agreement with 02. The contract for the PFI has been in place since 2000 and Airwave is now fully rolled out. Around 165,000 officers are currently using the system 
</li><li>Plans were already in place to link Airwave and Connect prior to 7 July 2005, but the link-up will make London more secure and allow for more efficient operational practices 
</li><li>The Connect PFI contract was awarded to CityLink Telecommunications Limited, a company created to undertake a 20-year Connect contract for London Underground. Its shareholders are Thales (33 per cent), Fluor (18 per cent), Motorola (10 per cent), Laing Investment (19.5 per cent) and HSBC (19.5 per cent). The cost of the design, build and maintain contract is &pound;2bn over 20 years<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "It is planned that Airwave will be operational on all Underground lines in 2008.This will mean that the Metropolitan Police Service (MPS) and other UK police forces including the City of London Police will have Airwave radio coverage at all 125 below";}
        
        


 