


@{ViewBag.Title = "Dr Olivia Carlton wins the Peter Isaac Award with Health Improvement Plan";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Dr Olivia Carlton wins the Peter Isaac Award with Health Improvement Plan</h1>
        <div class="content-page-press-release">
        07 February 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Dr Olivia Carlton, the Head of Occupational Health at Transport for London (TfL) <BR>is the winner of the Peter Isaac Award, for her role in developing and leading <BR>London Underground's "Health Improvement Plan".
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Health Improvement Plan has already reduced the number of employees on sick leave with back pain
                            
                        </p>
                    </div>
                
            
            
            
<p>The British Occupational Hygiene Society (BOHS) have just 
announced that Dr Carlton, FRCP, FFOM, who has worked for TfL (formerly London 
Transport) for 18 years, is the winner of its prestigious annual award, which 
recognises outstanding contributions to the reduction of ill health at work.</p>
<p>The five year Health Improvement Plan for London Underground was launched in 
2004/05 and is now in its third year. </p>
<p>It aims to reduce lost working days due to back pain, stress, anxiety and 
depression, and has delivered significant health and work benefits.</p>
<p>Dr Carlton heads up TfL's occupational health team, which includes medical 
and nursing advisers, a counseling and trauma service, a drug and alcohol 
assessment and treatment service and a physiotherapy service. She will receive a 
Trophy and certificate presented at the BOHS Annual Conference Dinner in April 
2007.</p>
<p>Dr Carlton said: "I am delighted to win the award on behalf of TfL and my 
team who have worked extremely hard to improve the lives of the workforce, by 
integrating the physical, mental and social aspects of good occupational health 
management. </p>
<p>"The Health Improvement Plan has already reduced the number of employees on 
sick leave with back pain, and those off sick due to stress, anxiety and 
depression has decreased in most working groups. Staff off sick (for all causes) 
who attend the stress reduction groups have been reduced by 30 per cent in the 
year following the intervention."</p>
<p>
<h2>Working back</h2>
<p>
<p>Three key strands of the work on back pain has been the development of 
"Working Back" guides for employees and managers, the introduction of a back 
exercise class which has a large educational component and a work focus, as well 
as workplace assessments to identify specific needs.</p>
<p>The number of staff off sick for back pain has already decreased. </p>
<p>Those who are referred for physiotherapy and the exercise class within six 
weeks of being off sick, return to work on average three weeks sooner than those 
referred later, and employees report marked reductions in pain and 
disability.</p>
<p>A consultation period to identify the key issues leading to stress, anxiety 
and depression has led to the introduction of a number of initiatives, 
including: "hot spots" work using a facilitator with training in mental health 
issues to coach managers and encourage teams to find their own solutions and the 
setting up of stress reduction groups, led by trained counselors, to encourage 
participants to develop the skills and resilience to take greater control over 
their lives.</p>
<p>Dr Carlton, who is an Occupational Physician has held the position of 
Registrar of the Faculty of Occupational Medicine since May, 2002.<br><br></p>
            <ul>
<li>The Peter Isaac Award was initiated to mark BOHS's golden jubilee in 2003, and is named in honour of a founder and first Secretary of the Society. Occupational hygiene is about eliminating or controlling health hazards in the workplace (not about washing hands properly). The British Occupational Hygiene Society (BOHS) was formed in 1953 to help to reduce work-related ill-health. With members from across industry, and within health, education, government and research, it is by far the biggest occupational hygiene society in Europe and is the definitive voice of occupational hygiene in the UK</li>
<li>The Faculty of Occupational Hygiene within BOHS plays a vital role in developing and maintaining the professional standards of occupational hygienists, and is the internationally recognised examination board for qualifications in occupational health</li>
<li>For further information about the award and BOHS please contact: Anthea Page, Communications Manager, BOHS, tel 01332 250701, email <a href="mailto:anthea&#64;bohs.org">anthea&#64;bohs.org</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The British Occupational Hygiene Society (BOHS) have just announced that Dr Carlton, FRCP, FFOM, who has worked for TfL (formerly London Transport) for 18 years, is the winner of its prestigious annual award, which recognises outstanding contributions to";}
        
        


 