


@{ViewBag.Title = "Mayor secures first ever three-year pay agreement on the London Underground";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor secures first ever three-year pay agreement on the London Underground</h1>
        <div class="content-page-press-release">
        28 February 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor of London, Ken Livingstone today welcomed the first ever three-year pay and conditions agreement between London Underground and the trade unions covering all staff.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This three-year agreement is great news for both Tube passengers and staff and is a real landmark achievement
                            
                        </p>
                    </div>
                
            
            
            <p>All Tube unions have now advised London Underground that they have accepted the three-year offer, or are balloting their members with a recommendation to accept. </p>
<p>
<p>The unprecedented agreement follows a sharp fall in disruption due to industrial disputes since the Mayor took control of the Underground in July 2003.</p>
<p>Mayor Ken Livingstone said: "This three-year agreement is great news for both Tube passengers and staff and is a real landmark achievement. </p>
<p>"Passengers will benefit from the stability provided by the first three-year deal for all staff in the history of the Underground. </p>
<p>"Staff will receive above inflation pay rises each year. At the same time, we will be investing record amounts in renewing the Tube.</p>
<p>"Whilst there will always be differences from time to time, my administration is committed to developing a partnership between the trade unions and management to deliver the best possible services to Londoners. </p>
<p>"This agreement is a good example of what that approach can achieve."</p>
<p>
<h2>Three-year agreement</h2>
<p>
<p>The three-year agreement runs from April 2006 to April 2009 and provides for the following pay increases:</p>
<ul>
<li>Year 1 (payable from April 2006): 4 per cent </li>
<li>Year 2 (payable from April 2007): RPI+0.5 per cent (or 3 per cent whichever is greater) </li>
<li>Year 3 (payable from April 2008): RPI+0.6 per cent (or 3 per cent whichever is greater)</li></ul>
<p>All Underground staff are also eligible for a bonus of &pound;250 or &pound;500 each year if customer satisfaction targets are met or exceeded.</p>
<p>TSSA members voted to accept the London Underground offer by over 80 per cent in November last year. </p>
<p>The British Transport Officers' Guild has also accepted the offer.</p>
<p>ASLEF is balloting its members on the offer, with a recommendation to accept, and the RMT advised London Underground today that they have accepted the offer.</p>
<p>London Underground Managing Director Tim O'Toole said: "This multi-year pay deal is a real achievement, particularly as it is the first for several years to be accepted by all the trades unions without any industrial action.</p>
<p>"This agreement is good news for both passengers and Underground staff as it delivers stability to the Underground for three years and allows us to concentrate on the delivery of the major line upgrades - the first of which, the Jubilee line, is due to be due to be delivered in 2009."</p>
<p>This pay agreement covers the period to April 2009 and follows a two-year agreement reached between London Underground and the trade unions in the last pay round.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "All Tube unions have now advised London Underground that they have accepted the three-year offer, or are balloting their members with a recommendation to accept. The unprecedented agreement follows a sharp fall in disruption due to industrial disputes";}
        
        


 