


@{ViewBag.Title = "Mayor hails progress on safer suburban stations, and calls on rail companies to do more";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor hails progress on safer suburban stations, and calls on rail companies to do more</h1>
        <div class="content-page-press-release">
        26 February 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor of London Ken Livingstone today visited Southern Railway's Transport for London-funded (TfL) state-of-the art security centre, to highlight safety and security improvements paid for by the Mayor and TfL at more than 50 per cent of London's suburban rail stations.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Londoners have the right to expect a safe and secure environment at their rail stations
                            
                        </p>
                    </div>
                
            
            
            <p>More than &pound;32 million has been invested in making London's suburban rail stations safer. </p>
<p>
<p>162 stations have now been improved, with new and upgraded CCTV, Help points, and better lighting in an around stations.</p>
<p>&pound;3.83 million has been invested in the security centre at Streatham Hill station, which allows the monitoring of all Southern Railways stations in the London area.</p>
<p>A further 54 London stations will benefit from safety improvements when TfL takes control of the control the North London Railway in November, as the first part of the 'London Overground' network.</p>
<p>The Mayor was today joined by Keith Hill MP for Streatham, Dawn Butler MP for Brent South and London Assembly Member Val Shawcross and called on the capital's rail firms to follow his lead and invest in safety improvements at the remaining 20 per cent of stations in the capital.</p>
<p>The Mayor said: 'Londoners have the right to expect a safe and secure environment at their rail stations.</p>
<p>'Through Transport for London we have delivered more than &pound;30 million investment to make suburban rail stations safer, showing what can be achieved when the train operating companies work together with Transport for London.</p>
<p>'Some train operators have not worked with us, and it is essential that they now recognise their responsibility to making their stations as safe as possible.</p>
<p>'Passenger safety and security, and the provision of a decent service that people can use with confidence, should be central to their operation.' </p>
<p>Streatham Hill is operated by Southern, one of the train companies that has worked most closely with TfL to boost security.</p>
<p>
<h2>British Transport Police</h2>
<p>
<p>Southern MD, Chris Burchell, said: 'I would like to thank both the Mayor and our partners at TfL for the financial support that has allowed us to deliver some important safety benefits for our passengers.</p>
<p>'The investment that we are celebrating today has been a huge complement to our own efforts and investment to drive down crime and anti-social behaviour on our trains and stations. </p>
<p>'The high profile work that our special security task force do - day in and day out - is an even more visible sign that we are trying to make every passenger journey as safe as possible.</p>
<p>'Working closely with the British Transport Police, the Task Force has proved invaluable and is already racking up an impressive record of crime prevention and dealing with anti-social behaviour.</p>
<p>'At Streatham Hill, the CCTV control centre is the jewel in the investment crown.</p>
<p>'This has truly transformed the way in which our stations are monitored.</p>
<p>'It has allowed us to provide immediate help to passengers across south London, 24 hours a day, seven days a week, 365 days of the year.'</p>
            <ul class="prnotescopy">
<li class="prnotescopy">Transport for London has now spent &pound;32.4 million improving security at 162 (or 53%) of London's suburban railway stations. By the end of March 2007, 189 (62%) stations will have received improvements </li>
<li class="prnotescopy">TfL will deliver further safety and security improvements as part of the plans for London Overground with a phased programme of station upgrades, delivering more Help points, CCTV, better lighting and customer information systems; more staff at stations to provide assistance and reassurance; Oyster ticketing at all stations and more ticket gates to improve security and reduce fare evasion, and new trains from 2009 with the latest security features </li>
<li class="prnotescopy">The Train Operating Companies which have taken up the Mayor's offer of funding to improve security are: Southern, South West, South Eastern, One, First Capital Connect, First Great Western, C2C and Silverlink Metro </li>
<li class="prnotescopy">TfL has invested &pound;7.1 million to provide more than 100 British Transport Police officers across London </li>
<li class="prnotescopy">One of the highlights of the safety and improvements is the Streatham Hill Control Centre. It is operated by Southern, whose staff can now view, via CCTV, all 50 of their suburban London stations. It was opened in March 2005 and it is staffed 24/7. TfL invested &pound;3.83 million in the Southern CCTV scheme. The centre is in direct contact with the British Transport Police. Officers regularly use the Centre's CCTV pictures to help secure convictions and reduce crime along Southern routes</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "More than &pound;32 million has been invested in making London's suburban rail stations safer. 162 stations have now been improved, with new and upgraded CCTV, Help points, and better lighting in an around stations.&pound;3.83 million has been invested in";}
        
        


 