


@{ViewBag.Title = "New teen road safety poster campaign launched";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New teen road safety poster campaign launched</h1>
        <div class="content-page-press-release">
        09 February 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Young Londoners' dreams for the future are being tapped into by Transport for London (TfL) in a new hard-hitting poster campaign, designed to warn teens of the dangers they face every day on the Capital's roads.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Every time a young person is run over, our world loses a bit of its future
                            
                        </p>
                    </div>
                
            
            
            
<p>The new posters - a series of three - are the latest phase of the 
"Shattered Lives" campaign by TfL, which began in November with the launch of a 
cinema ad, and will extend to radio and TV advertising in March.</p>
<p>The "Shattered Lives" campaign, part of TfL's award-winning "Don't die before 
you've lived" series of adverts, aims to alert teens to the consequences of not 
paying attention when near to or using roads. </p>
<p>Young teenagers (11 to 14-year-olds), are more likely to be involved in a 
road collision than any other age group, thought to be due to the increase in 
independent travel that tends to accompany the move to secondary 
school.<br><br>The three different ads feature a future football player, high 
jumper and lead ballerina flying through the air after stepping out into the 
path of a moving car. </p>
<p>All the ads feature the line "Don't die before you've lived" and the message 
"Every day a teenager is killed or seriously injured on London's roads".</p>
<p>Ken Livingstone, Mayor of London, said: "Road safety is improving in London, 
because we are spending more money on doing the things which we know save lives. 
</p>
<p>"The number of children killed or seriously injured on our roads has fallen 
by 58 per cent compared with the late 1990s. </p>
<p>
<h2>Redoubling our efforts</h2>
<p>
<p>"Nevertheless, one death is one too many and we are redoubling our efforts to 
meet even tougher targets."<br><br>Jenny Jones, the Mayor's Road Safety 
Ambassador, said: "Shattered lives is a warning about broken dreams and loss. 
</p>
<p>"Every time a young person is run over, our world loses a bit of its future. 
</p>
<p>"London has one of the best records for reducing road casualties in the 
country, but that means nothing to the parents and friends of a young person 
killed on our roads. </p>
<p>
<h2>Reducing casualties</h2>
<p>
<p>"That is why London has higher targets for preventing road casualties than 
the rest of the country and why we will do everything necessary to end the 
tragedy of shattered lives." <br><br>David Brown, Managing Director, Surface 
Transport, TfL, said: "We have made great progress in reducing casualties on the 
roads, particularly among young people, but there is a long way to go. </p>
<p>"It is particularly tragic when a young person is killed or injured on the 
roads, and this campaign warns them not to shatter their dreams by being 
careless near busy roads."</p>
            <ul>
<li>The new posters will appear on billboards across the Capital from 12 February, and on the transport network from early March. The TV ad for the "Shattered Dreams" campaign will play for the first time on 19 March, with the radio ad due to air later in March</li>
<li>In 2005, 355 children were killed or seriously injured on London's roads. Of these, 45 were 11 to 16-year-olds making their way to or from school</li>
<li>TfL's road safety advertising, alongside infrastructure improvements, such as 20 mph zones and educational initiatives that include the award winning Junior Road Safety Officer Scheme, have played an important role in helping to reduce the number of road safety casualties in London</li>
<li>The Government set a target of reducing the number of people killed or seriously injured (KSI) by 40 per cent (compared with the 1994-98 average by 2010), with a 50 per cent target for children. Those targets were exceeded in London six years early, and in 2005, the Mayor of London increased the target in London to 50 per cent for KSIs and 60 per cent for child KSIs</li>
<li>In 2006/07, TfL's budget for road safety is &pound;42m, up from &pound;18m in 2000</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new posters - a series of three - are the latest phase of the 'Shattered Lives' campaign by TfL, which began in November with the launch of a cinema ad, and will extend to radio and TV advertising in March.The 'Shattered Lives' campaign, part of TfL's";}
        
        


 