


@{ViewBag.Title = "New Wembley Park Olympic Square unveiled";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New Wembley Park Olympic Square unveiled</h1>
        <div class="content-page-press-release">
        20 February 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Work is now complete on Wembley's Olympic Square creating a new public space, making the area greener and safer for both visitors and residents.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The completed square provides a finishing touch to the new station vista
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) has spent more than &pound;500,000 creating the square and improving the interchange area for buses and taxis at Wembley Park station. </p>
<p>
<p>New stairs linking the bus stop in Bridge Road to Olympic Way have also been installed. </p>
<p>Designers have created a 'piazza' feel to the square using granite paving and landscaping with trees and shrubbery.</p>
<p>In addition, slip-resistant paving has been laid, suitable for all weather conditions, and new seating and improved lighting to make the square an enjoyable public space for passengers and local residents.</p>
<p>Ken Livingstone, Mayor of London, said: "The newly completed Wembley Olympic Square will improve access to the revamped Wembley Park station, helping people transfer to buses and taxis more easily in an attractive environment. </p>
<p>"This project forms part of TfL's five-year, &pound;10bn investment plan to improve and expand the capital's transport network."</p>
<p>MP for Brent South Dawn Butler said: "When you travel to the new and improved Wembley Park Station, the first thing that hits you is the amazing view of our brand new stadium. </p>
<p>
<h2>Improving access</h2>
<p>
<p>"The newly built piazza sustains that feeling of awe as you walk down the expansive steps and into the square, meeting friends, family and visitors to Wembley. </p>
<p>"By working together, Brent, TfL and Quintain have ensured that travelling to Wembley Park on public transport is the most efficient and enjoyable way to do so."</p>
<p>John McNulty, Interchange Programme Director, said: "I'm delighted that TfL and Brent have been able to work together on this project to regenerate the area to make the local area more accessible, attractive and safer.</p>
<p>"The completed square provides a finishing touch to the new station vista created as part of the main station capacity Wembley Park station scheme in May."</p>
<p>
<h2>Major regeneration</h2>
<p>
<p>The original station building is next for a make-over and work has now started to provide an improved canopy and state-of-the-art fa#e which will be integrated with new bus stops and cycle racks, in Bridge Road. </p>
<p>These improvements will provide protection from harsh weather to local residents and visitors who use the station and will complete the modernisation of Wembley Park station by summer 2007.</p>
<p>The work has been jointly funded by TfL and Quintain Developments as part of a major regeneration of Wembley. </p>
<p>Quintain Estates and Development is planning to create an international leisure destination to complement the new stadium development, along with new homes, shops, bars and restaurants.</p>
            <ul class="prnotescopy">
<li class="prnotescopy">For more information on the Wembley Park Olympic Square project or for photographs call the TfL Press Office on 0845 604 4141 </li>
<li class="prnotescopy">Work on upgrading the capacity of Wembley Park station was completed earlier this year including improvements such as new and extended ticket halls, and lifts to provide step-free access to the platforms </li>
<li class="prnotescopy">The improvements have increased the station's capacity by 70 per cent allowing an extra 15,500 people (up from 22,000 to 37,500) to use the station every hour</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has spent more than &pound;500,000 creating the square and improving the interchange area for buses and taxis at Wembley Park station. New stairs linking the bus stop in Bridge Road to Olympic Way have also been installed.";}
        
        


 