


@{ViewBag.Title = "Passengers back roll out of security cameras across the Tube network";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Passengers back roll out of security cameras across the Tube network</h1>
        <div class="content-page-press-release">
        14 February 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A Transport for London (TfL) survey has revealed overwhelming support for London Underground's (LU) expansion of CCTV coverage on the Tube network.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Safety of our passengers and staff is our top priority
                            
                        </p>
                    </div>
                
            
            
            <p>Nearly 90 per cent backed the roll out and believe it will help to improve passenger safety on trains and in stations.</p>
<p>
<p>Since 2003, security cameras on trains and at stations plus station help and information points have been installed across the network. </p>
<p>These improvements, undertaken by the infrastructure companies, are a key component of TfL's plans to increase safety and security on London's transport network. The number of CCTV cameras on the Tube network has increased from 6,500 to 8,374 since 2003. </p>
<p>LU Managing Director Tim O'Toole said: "Safety of our passengers and staff is our top priority. </p>
<p>"The effects of these initiatives can be seen in the fact that, since 2000, physical assaults on both passengers and staff have decreased. </p>
<p>"This improvement means that the Tube continues to be one of the safest metro systems in the world." </p>
<p>Over the next five years, virtually all Tube stations are to be renewed. </p>
<p>
<h2>Help points</h2>
<p>
<p>A key element is the upgrading and expansion of CCTV facilities from analogue to digital and the recording of high quality images to hard drive rather than magnetic tape. </p>
<p>Help and information points are being installed at every station as it undergoes refurbishment with as many as 26 installed at some of the busiest stations. </p>
<p>There are now almost 500 of these Help points which give passengers and staff access to the station supervisor's office at the touch of a button should help be needed. </p>
<p>CCTV was first introduced on LU in the late 1960s with the opening of the Victoria line. </p>
<p>LU now has one of the most comprehensive CCTV systems in the world, and the number of cameras will continue to increase to around 12,000 by 2011. </p>
            <ul class="prnotescopy">
<li class="prnotescopy">TfL is investing &pound;10bn to improve and expand London's transport network with more than half being spent on the Tube</li>
<li class="prnotescopy">Tube Lines and Metronet are responsible for the maintenance and renewal of the Tube</li>
<li class="prnotescopy">CCTV footage from the 8,300 cameras is retained by individual stations for a minimum of 14 days. The use and access of CCTV footage in the UK is regulated under data protection legislation</li>
<li class="prnotescopy">In a TfL survey (carried out by MORI) of 1,003 respondents conducted in December 2006, 87 per cent of people said they supported increasing CCTV coverage and believe it will help to improve passenger safety on trains and in stations</li>
<li class="prnotescopy">Almost 1,800 extra cameras have been installed in 53 stations, which have undergone modernisation so far, with further cameras now on some trains</li>
<li class="prnotescopy">Help points give passengers and staff access to the station supervisor's office at the touch of a button and where CCTV has been upgraded as part of the station modernisation programme, cameras record dedicated footage of the help point following activation. If a member of staff is unavailable for any reason, the Help point will automatically connect to the emergency services. As well as providing assistance in an emergency, these Help points also have an information button to provide journey information</li>
<li class="prnotescopy">For a breakdown of cameras by borough please contact Lucy Emele or Sophie Kirkham at TfL Press Office on 0845 604 4141</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Nearly 90 per cent backed the roll out and believe it will help to improve passenger safety on trains and in stations.Since 2003, security cameras on trains and at stations plus station help and information points have been installed across the network.";}
        
        


 