


@{ViewBag.Title = "Successful start as Congestion Charge extends west";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Successful start as Congestion Charge extends west</h1>
        <div class="content-page-press-release">
        19 February 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        With less than one hour to go before the new 6pm finish, the extended Central London Congestion Charge zone is operating successfully.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London is again taking the lead in tackling the problem of traffic congestion
                            
                        </p>
                    </div>
                
            
            
            <p>Initial monitoring has shown that traffic moving on the boundary roads and the free routes through the zone is at similar levels to before charging, with no congestion hotspots. </p>
<p>
<p>Indications inside the zone are that traffic levels are down to the levels expected.</p>
<p>All monitoring systems and payment channels are working. After the main peak call period this morning, the average call waiting time was 26 seconds. Mayor of London, Ken Livingstone, said:"Today has seen a successful start to the Congestion Charge western extension. Traffic flowed freely inside the extended zone, on its boundaries and the through route. </p>
<p>"The zone was, until now, one of the most congested areas in the UK and today's indications are that traffic levels have been reduced to the levels expected as a result of the scheme.</p>
<p>"London is again taking the lead in tackling the problem of traffic congestion and emissions which blight virtually every major city in the world. </p>
<p>"Congestion Charging in London has already cut the number of cars in the central area by 70,000 a day, with all of the associated benefits in terms of air quality, climate change and road safety, with dramatic increases in numbers of bus passengers and people choosing to cycle or walk. </p>
<p>"This has contributed to London seeing the world's first significant shift from the private car to public transport and, as a result, cities all over the world are looking to London's example."</p>
<p>
<h2>One scheme</h2>
<p>
<p>The Congestion Charge zone has extended westwards, to cover most of the boroughs of Kensington &amp; Chelsea and Westminster.</p>
<p>The extended zone now operates as one scheme, with the same rules, payment channels and discounts.</p>
<p>Congestion Charging generated revenues of &pound;122m last year alone, to invest in transport improvements across the whole of London. </p>
<p>The reduction in traffic has led to a significant cut in CO2 emissions of 16 per cent within the zone. R</p>
<p>Road safety has also improved, with 70 fewer road accidents each year directly because of the Congestion Charge. </p>
<p>This has contributed to the growth of cycling, and now more people than ever before are travelling by bike. </p>
<p>Since 2000, there has been a 72 per cent increase in the number of cyclists on the capital's major roads.</p>
            <ul>
<li class="prnotescopy">The Central London Congestion Charge was introduced on 17 February 2003 as a &pound;5 daily charge for driving or parking a vehicle within the Congestion Charging zone between 07.00 and 18.30, Monday to Friday. The customer service telephone number is 0845 900 1234 </li>
<li class="prnotescopy">The basic daily charge was raised to &pound;8 in July 2005 in order to maintain and build upon the benefits of the scheme </li>
<li class="prnotescopy">The Pay-Next-Day scheme began in June 2006, allowing drivers to pay the &pound;8 Congestion Charge until 10pm on the day or pay &pound;10 until midnight on the following charging day </li>
<li class="prnotescopy">People can pay the &pound;8 charge online, at pay stations and by text, as well as the call centre</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Initial monitoring has shown that traffic moving on the boundary roads and the free routes through the zone is at similar levels to before charging, with no congestion hotspots. Indications inside the zone are that traffic levels are down to the levels";}
        
        


 