


@{ViewBag.Title = "TfL builds on success of new Sustainable Transport Programmes in the Capital";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL builds on success of new Sustainable Transport Programmes in the Capital</h1>
        <div class="content-page-press-release">
        16 February 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is to increase the priority it gives to Travel Demand Management - programmes that encourage people to reduce their reliance on the private car for short journeys.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Travel Demand Management can play an important role in keeping London moving and healthier"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">TfL's Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Travel Demand Management can play an important role in keeping London moving and healthier
                            
                        </p>
                    </div>
                
            
            
            <p>This is part of a wider response by the Mayor and TfL to the challenges posed by climate change and mounting pressure on London's transport system from the forecast rise in population and employment. </p>
<p>Additional funding for travel demand management was announced by the Mayor recently following budget discussions with Green Party Assembly Members.</p>
<p>During the next year, funding will increase by &pound;5.5mto &pound;30m. </p>
<p>TfL's existing Travel Demand Management programme is producing real results for those living and working in the Capital. A number of recent initiatives have shown major progress including:</p>
<p>Personalised Travel Planning -Trials in Kingston, Sutton and Haringey in 2006/07 saw 56,000 households being given tailored travel advice, with at least 16 per cent of respondents now using public transport more often and 24 per cent walking and cycling more.</p>
<p>School Travel Plans - Based on analysis of 300 plans completed in 2005/06 an average reduction of 5.5 per cent in single occupancy car trips was achieved in just one year (equivalent to 1.9 million fewer car trips per year).</p>
<p>Car Clubs - TfL research among car club members in 2006 saw 20 per cent of users having given up their own car and 30 per cent having deferred purchasing a car as a direct result of their car club membership.</p>
<p>Workplace Travel Planning - These plans support activities such as flexible working and teleconferencing. They typically achieve a 15-20 per cent reduction in single occupancy car trips where employees are encouraged to change their travel to or during work. Employers that sustain plans over a prolonged period have seen even better results.</p>
<h2>Sustainable transport</h2>
<p>To reflect the importance of this work in tackling both congestion and climate change, TfL is creating an enhanced Travel Demand Management programme to bring these issues to the heart of current and future transport planning and delivery in the Capital. </p>
<p>A new team is being established to deliver this enhanced programme under the directorship of Ben Plowden, an internal TfL appointment, in the role of Programme Director, Travel Demand Management. The team's programme will include:</p>
<p>Delivery and evaluation of existing programmes such as School and Workplace travel planning <br>Research to understand better why, when and how people travel and how these choices can best be influenced to reduce transport's environmental impact <br>Engagement at a senior level with organisations in both the public and private sectors to identify the best way of reducing the travel demand of their customers and employees <br>Dissemination of best practice from London, the UK and overseas <br>Peter Hendy, London's Transport Commissioner, said: "TfL faces a major challenge over the next 25 years in meeting the rising demand for travel in London while also tackling climate change. </p>
<p>The results of our existing programmes so far suggest that Travel Demand Management can play an important role in keeping London moving and healthier."</p>
<p>Programme Director Ben Plowden said: "Small changes in the way Londoners travel can make a big difference, not only helping our network to better cope with demand but also protecting the environment. </p>
<p>"London is already leading the way with one of the most extensive smarter travel programmes in Europe, if not the world. </p>
<p>"We now need to build on this experience to identify the best opportunities to change both attitudes and choices in whether, when and how we travel." </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This is part of a wider response by the Mayor and TfL to the challenges posed by climate change and mounting pressure on London's transport system from the forecast rise in population and employment. Additional funding for travel demand management was";}
        
        


 