


@{ViewBag.Title = "This Valentines Day find love Underground";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>This Valentines Day find love Underground</h1>
        <div class="content-page-press-release">
        12 February 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This Valentine's Day when travelling to expensive restaurants or en route to romantic walks by the Thames, look out on the Underground for a selection of romantic poems that will warm the heart and bring tears to the eyes.
        
    </div>



 <div class="on-this-page">
<p>The new series of Poems on the Underground on display in Tube trains across the network, features an inspiring collection of classical and contemporary romantic poems to celebrate this year's Valentine's Day. </p>
<p>These include verses from Burns, Shakespeare, Elizabeth Bishop and Anne Stevenson - enough to make any trip on the Tube an inspiring literary journey into a tunnel of love.</p>
<p>Tamsin Dillon, Head of Platform for Art that supports Poems on the Underground, said: "Love is the theme of the new series of Poems on the Underground as seen through the eyes of some of the most influential poets such as William Shakespeare and Robert Burns and coincides with this year's Valentine's Day.</p>
<p>"We hope that this new series of Poems on the Underground will serve to inspire and uplift Underground passengers."</p>
<p>Close, close all night by Elizabeth Bishop</p>
<p>Close, close all night<br>the lovers keep.<br>They turn together<br>in their sleep,</p>
<p>Close as two pages<br>in a book<br>that read each other<br>in the dark.</p>
<p>Each knows all<br>the other knows,<br>learned by heart<br>from head to toes.</p>
<p>And if this is not enough to move the hearts and enthuse the minds on the most romantic day of the year; a Valentine Day concert entitled Love Poems and Music for Valentine's Day at St Giles Cripplegate, will feature readings from the song of Solomon and poems by Shakespeare, Burns and Yeats, read by poets Gerard Benson and Cicely Herbert to the sound of classical music from Brahms, Rachmaninov and Tchaikovsky.</p>
            <ul>
<li>Poems on the Underground was founded in 1986</li>
<li>The programme is supported by London Underground (Platform for Art), Arts Council England and the British Council</li>
<li>Poems are selected and the programme administered by Judith Chernaik and poets Gerard Benson and Cicely Herbert</li>
<li>Praised for their elegance, clarity and simplicity, Poems on the Underground has inspired similar programmes on public transport in  Dublin, Paris, New York, Vienna, Stockholm, Helsinki, Athens, Barcelona, Moscow, St Petersburg and, most recently, Shanghai</li>
<li>The best selling anthologies "Poems on the Underground" and "New Poems on the Underground", as well as "New Books on the  Underground 2006" and the Poems on the Underground Audiobook (Cassell 2006) are available from most bookshops and  London's Transport Museum gift shop</li>
<li>The posters, designed by Tom Davidson, are available from London's Transport Museum and the Poetry Society</li>
<li>Love Poems and Music for Valentine's Day will take place on 14 February at 19:30 at St Giles Cripplegate, Fore St, London EC2. The nearest Tube station is Moorgate. Tickets are priced &pound;12 (&pound;8 concessions). To book tickets, call 020 8761 6565</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new series of Poems on the Underground on display in Tube trains across the network, features an inspiring collection of classical and contemporary romantic poems to celebrate this year's Valentine's Day. These include verses from Burns, Shakespeare,";}
        
        


 