


@{ViewBag.Title = "Transport for London combats organised counterfeit crime";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London combats organised counterfeit crime</h1>
        <div class="content-page-press-release">
        26 February 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Metropolitan Police officers working with Transport for London (TfL) have arrested a number of suspects believed to be linked to the biggest counterfeit operation ever perpetrated on the capital's transport system.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We will be withdrawing the current Saver ticket between spring and summer this year to help stamp out this racket
                            
                        </p>
                    </div>
                
            
            
            <p>In an operation on Thursday 22 February, investigators from TfL and officers from the MPS Transport Operational Command Unit raided four commercial premises in west London and one residential address in the Croydon area. </p>
<p>
<p>The suspects arrested may hold valuable information about a wide scale counterfeit fraud of Bus Saver tickets, believed to be masterminded by international organised criminals.</p>
<p>This criminal operation has resulted in the need to withdraw the current design of Bus Saver tickets and introduce a new design from the summer.</p>
<p>David Brown, Managing Director of Surface Transport for TfL said: 'The criminals who have carried out this deception have now added to their list of dubious achievements the exploitation of some of London's most vulnerable people who rely on these discounted tickets to get around the capital.</p>
<p>'We will not tolerate this fraud and we are taking action against those involved this week.</p>
<p>'Every pound these criminals skim off Transport for London's revenue is a pound taken away from transport services for all Londoners.</p>
<p>'We will be withdrawing the current Saver ticket between spring and summer this year to help stamp out this racket, so customers should be aware they have around four months to use up any leftover stocks.'</p>
<p>
<h2>New tickets in design</h2>
<p>
<p>It is believed the sophisticated counterfeits have penetrated at least 10 per cent of the current Bus Saver ticket circulation - which itself makes up around 10-12 per cent of the Pay-as-you-go market.</p>
<p>Bus Saver tickets account for around 8m bus passenger journeys a year out of a total of 1.8bn journeys overall.</p>
<p>A new design of ticket, with a number of both covert and overt anti- counterfeit measures, is currently being produced and will be on sale from 2 April.</p>
<p>The current design will no longer be accepted on London Buses after 30 June 30, and we would advise anyone with spare tickets at home to use them over the next four months as there will be no refund or exchange of tickets.<br></p>
            <ul class="prnotescopy">
<li class="prnotescopy">Transport for London funds the MPS TOCU, a team of more than 1,200 uniformed officers dedicated to policing the bus network, at a cost of more than &pound;70m a year </li>
<li class="prnotescopy">Transport for London will prosecute anyone it believes is knowingly travelling without a valid ticket for their journey </li>
<li class="prnotescopy">Officers from the TOCU, working with TfL Fraud and Security, carried out raids on four commercial premises and a residential address in London on Thursday 22 February which resulted in 14 arrests. One person was immediately de-arrested. Twelve of those arrested have been interviewed and released on police bail. A significant number of counterfeit tickets have also been seized <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "In an operation on Thursday 22 February, investigators from TfL and officers from the MPS Transport Operational Command Unit raided four commercial premises in west London and one residential address in the Croydon area. The suspects arrested may hold";}
        
        


 