


@{ViewBag.Title = "Transport for London cracks down on damage to Tower Bridge";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London cracks down on damage to Tower Bridge</h1>
        <div class="content-page-press-release">
        06 February 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is teaming up with the Metropolitan Police Service (MPS) to stop heavy goods vehicles (HGV) drivers causing potential damage to one of London's most famous landmarks.
        
    </div>



 <div class="on-this-page">
<p>Tower Bridge is one of only 19 World Heritage sites in the UK and 
its 113-year-old structure was not designed for the freight traffic which rolls 
beneath its famous arches today.</p>
<p>The current weight restriction of 18-tonnes is broken up to 18 times a day 
with many of the culprits driving foreign registered vehicles and crossing the 
bridge at night.</p>
<p>This week, MPS Officers from the Commercial Vehicle Education Unit, 
accompanied by a team of traffic enforcement officers and TfL Freight Unit 
representatives, stopped HGVs during a night operation. </p>
<p>Drivers breaking the limits were warned that their companies would be 
contacted in the cases of repeat offenders. It is expected the operations will 
continue.</p>
<p>Patrick Troy, Head of TfL Traffic Enforcement, said: "We are determined that 
the most famous bridge in London's skyline will not be damaged by the ignorance 
of a few drivers. </p>
<p>"This operation will educate those who may be unaware of the restrictions 
while deterring those who think they can get away with ignoring them."</p>
<p>
<h2>Restricting movements</h2>
<p>
<p>Ted Hartill, the City Surveyor from the City of London Corporation which owns 
Tower Bridge, said: "Engineers believe the continued passage of large vehicles 
is likely to damage the bridge and, therefore, we welcome the attempts by the 
TfL and the police to restrict movements of such vehicles. </p>
<p>"The bridge is one of the most famous landmarks in the world and the City of 
London Corporation will do everything it can to keep it in good condition."</p>
<p>Sgt Dick Golding, from the Metropolitan Police Service's Commercial Vehicle 
Education Unit, said: "We are happy to work in partnership on an operation like 
this as a price can not be put on protecting our past."</p>
<p>TfL has been enforcing the weight restriction at Tower Bridge using digital 
technology since July 2006. </p>
<p>
<h2>Partnership working</h2>
<p>
<p>Vehicles breaking the weight limit are sent penalty charge notices (PCN), but 
some foreign registered vehicles avoid paying penalties because of difficulties 
of cross-border enforcement under current laws.</p>
<p>Contraventions by foreign registered vehicles remain at around 60 per cent of 
the total. </p>
<p>This anomaly is being addressed by the SPARKS Programme, a lobbying 
organisation which brings together traffic authorities in the UK and other EU 
member states.</p>
            <ul>
<li>For pictures of the operation please contact <a href="mailto:sophiekirkham&#64;tfl.gov.uk">sophiekirkham&#64;tfl.gov.uk</a> 
</li><li>The night operation on 30-31 January saw a total of 25 commercial vehicles stopped, of which three were over the 18-tonne weight restriction. Two of these were foreign registered vehicles 
</li><li>The Commercial Vehicle Education Unit of the MPS is a newly-formed, specialist Traffic unit, working in partnership with the TfL Freight Unit. It consists of 10 officers whose objective is to reduce the number of incidents involving commercial vehicles in London, through education and enforcement 
</li><li>Tower Bridge was completed in 1894 after six years of construction and is owned by the Bridge House Trust (part of the City of London). The weight restriction on Tower Bridge is 18 tonnes 
</li><li>TfL is the highway authority for the bridge and is responsible for traffic orders, signage and enforcement 
</li><li>Tower Bridge borders the eastern edge of the Congestion Charge zone and so enforcement of this restriction remains a top priority 
</li><li>Current technology uses sensors which measure the number of axles a vehicle has, its length, the spacing of the axles, the height of the chassis above the road and whether the vehicle is towing a trailer. A vehicle is permitted to cross the bridge (and is within the 18-tonne limit) if the chassis height is 730mm or less, the axle count is three or fewer and the length is 12m or shorter 
</li><li>Contraventions incur a PCN of &pound;100, which is reduced to &pound;50 if paid within 14 days 
</li><li>In July, August, September and October, the most prolific offenders on Tower Bridge were foreign registered vehicles, with one driver accumulating 21 PCNs alone 
</li><li>Foreign registered vehicles: </li>
<ul>
<li>Since the mid-1990s parking and minor traffic violations in the UK have been decriminalised, and are now enforced by local authorities using civil powers rather than through the criminal justice system 
</li><li>From 1991 to 2006, the number of foreign registered vehicles (FRV's) in the UK has risen by over 400 per cent, yet 95 per cent of PCNs issued to FRVs are never paid. A robust system is not in place for sharing data and enforcing traffic fines across EU borders </li></ul>
<li>Even excluding Congestion Charge losses, these uncollected fines amount to over &pound;1m per month in London alone 
</li><li>There is increasing evidence that owners of FRVs are flouting traffic laws as they do not fear punishment. The SPARKS Programme is calling for action from Government to stop this section of the community contravening UK traffic regulations with impunity 
</li><li>SPARKS: The SPARKS Programme is a lobbying and networking initiative that brings together traffic authorities in the UK and other EU member states. It seeks to influence administrative and judicial systems so cross-border enforcement of driving and parking laws is simple, quick and cost-effective
</li><li>The SPARKS Programme was created by London's Enforcement Task Force, made up of organisations involved in traffic enforcement across the Capital. These include London Councils, TfL, and MPS</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Tower Bridge is one of only 19 World Heritage sites in the UK and its 113-year-old structure was not designed for the freight traffic which rolls beneath its famous arches today.The current weight restriction of 18-tonnes is broken up to 18 times a day";}
        
        


 