


@{ViewBag.Title = " Google celebrates Year of the Bus";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb"> Google celebrates Year of the Bus</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1> Google celebrates Year of the Bus</h1>
        <div class="content-page-press-release">
        24 September 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The original Routemaster bus, first unveiled in London 60 years ago, replaces Google's logo on its home page today
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'm delighted that London's iconic Routemaster bus will join the London Underground in being honoured with a Google Doodle.  It's a hugely fitting tribute to the backbone of the capital's transport network and definitely one of the highlights so far in 2014's Year of the Bus"</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">Managing Director for Surface Transport, TfL</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>Latest in a series of high profile Year of the Bus collaborations including Fender, LEGO and Oxjam</li>
        </ul>
        <p>In celebration of London's Year of the Bus, today's Google Doodle features the capital's iconic Routemaster bus which made its first public appearance in London on 24 September 1954.</p>
        <p>The much loved Routemaster went on to serve the capital over six decades and inspired the modern day version of this London icon &#45; the New Routemaster &#45; which has been in service since 2012.</p>
        <p>Today's Google Doodle is the latest collaboration to mark Transport for London's (TfL's) Year of the Bus in partnership with London Transport Museum and the capital's bus operators in celebration of the role that London buses, bus drivers and the staff who support them play in keeping the capital moving. </p>
        <p>Leon Daniels, TfL's Managing Director for Surface Transport, said: </p>
        <p>'I'm delighted that London's iconic Routemaster bus will join the London Underground in being honoured with a Google Doodle.&nbsp; It's a hugely fitting tribute to the backbone of the capital's transport network and definitely one of the highlights so far in 2014's Year of the Bus.'</p>
        <p>As well as celebrating 60 years since the creation of the original Routemaster, the Year of the Bus also marks 75 years since the launch of its predecessor the RT-type bus and 100 years since hundreds of London buses were sent to the Western Front to play a crucial role during the First World War.</p>
        <p>Events and activities are being held throughout 2014 to celebrate the Year of the Bus.&nbsp; This week, a 'Battle Bus' restored in its original livery set off for the battlefields of France and Belgium to commemorate the centenary of the outbreak of the First World War.&nbsp; And in June the Regent Street Bus Cavalcade gave an estimated 400,000 people the chance to view around 50 of the most celebrated buses of the last two centuries as they gathered in the heart of London's West End.&nbsp; In addition, a successful run of bus garage open days across the capital and surrounding areas over the summer attracted 17,500 visitors and raised almost &pound;15,000 for charity. </p>
        <p>Other Year of the Bus partnerships have included a unique collaboration with the world-famous Fender Stratocaster guitar &#45; also celebrating its 60th anniversary this year &#45; and the installation of an operational bus stop and shelter on Regent Street made entirely out of LEGO.&nbsp; The Year of the Bus has also seen the first ever series of live music performances on board a New Routemaster bus as part of Oxjam, and 'bus stop top' exhibitions along the Strand from renowned photographers Juergen Teller and David LaChapelle.</p>
        <p>Events still to come include the Year of the Bus Sculpture Trail which will see up to 60 New Routemaster bus sculptures, painted and adorned by well-known and aspiring artists, on show in the capital from Monday 20 October and auctioned for charity in the new year.</p>
        <p>Further information about other Year of the Bus events can be found at <a href="http://www.tfl.gov.uk/yearofthebus">www.tfl.gov.uk/yearofthebus</a> and <a href="http://www.ltmuseum.co.uk">www.ltmuseum.co.uk</a></p>
        <p>The Year of the Bus is supported by and delivered in partnership with Exterion Media, Abellio, Arriva London, Clear Channel UK, Go-Ahead London, Metroline, RATP Dev UK, Stagecoach, Wrightbus, Optare and Telent Technology Services.</p>
         
        <hr />
         
        <p>Notes for Editors</p>
        <ul>
            <li>The Routemaster bus was developed by London Transport (LT) from the early 1950s, initially as a motorbus to replace London's extensive (electric) trolleybus network, which was in the course of being phased out. </li>
            <li>The Routemaster bus was unveiled in public for the first time at the Earl's Court Commercial Motor Exhibition on 24 September 1954.&nbsp; The prototype vehicles were subjected to extensive testing before construction of production vehicles got under way in 1959.&nbsp; In total 2,760 Routemaster buses were built for London with production ending in 1968.</li>
            <li>From the early 1980s, many Routemasters were sold off for use elsewhere in the UK and indeed worldwide and a flourishing preservation movement commenced with its own owners' association.&nbsp; Many are still used by private operators for weddings, sightseeing and other corporate events. </li>
            <li>Despite being of an obsolete design by the 1980s the bus went through a programme of refurbishment and soldiered on into the 1990s and past the Millennium, being regarded by many as an icon of London. </li>
            <li>Routemasters continued in service on many central London routes but were finally withdrawn from normal passenger service in 2005. </li>
            <li>Due to great popular public support, heavily-refurbished and re-engined examples are retained and used &#45; with conductors &#45; on part of the route 15 in central London.</li>
            <li>The 150th anniversary of the London Underground was honoured with a Google Doodle in January 2013.&nbsp;</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-September- Google celebrates Year of the Bus -->

 
 
        
        
            @{ViewBag.Description = "The original Routemaster bus, first unveiled in London 60 years ago, replaces Google’s logo on its home page today";}
        
        


 