


@{ViewBag.Title = "'Historic' new Night Tube service";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">‘Historic’ new Night Tube service</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>‘Historic’ new Night Tube service</h1>
        <div class="content-page-press-release">
        24 September 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        First all night weekend London Underground services from 12 September 2015 - in time for the Rugby World Cup in England
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London is a bustling, 24-hour global city and by this time next year we'll have a 24-hour Tube service to match. Running trains all through the night was once thought impossible, but with the huge investment we've put in and upgrades that have been delivered we stand ready to take the Tube to the next level. As well as creating vital new jobs and giving a huge boost to our economy, the Night Tube will help millions of people to get around our city more easily and quickly. The evolution of the Night Tube will without doubt make London an even better place to live, work, visit and invest"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>Around 2,000 permanent jobs supported - &pound;360m boost to the economy</li>
            <li>Night-time journeys in London reduced by an average of 20 minutes and some by more than an hour</li>
        </ul>
        <p>The Mayor and London Underground (LU) today announced that 24-hour 'Night Tube' services at weekends will begin operation from the early hours of 12 September 2015, transforming night time journeys across London for millions of people. </p>
        <p>The announcement comes as independent research into the economic benefits of the Night Tube found that the new service will boost jobs and help maintain London's status as a vibrant and exciting place to live, work and visit. Delivering on a pledge the Mayor and London Underground made last November, the new service has been made possible thanks to the continued modernisation of significant parts of the LU network and improved levels of reliability. </p>
        <p>The Night Tube will cut night time journeys by an average of 20 minutes, with some cut by more than an hour. It will also play a vital role in opening up London's night-time economy to a host of new opportunities, supporting around 2,000 permanent jobs and boosting the economy by &pound;360 million, the research found. </p>
        <p>The Mayor confirmed that Londoners and visitors to the capital will be able to take the Tube home at any hour of the night on Fridays and Saturdays, supporting London's businesses, jobs and leisure opportunities. As the most visited city in the world, London will join just a handful of other top world cities, including New York and Berlin, which also provide underground services through the night.</p>
        <p>Demand for a 24-hour Tube service is clear &#45; late night Tube ridership has increased at double the rate of daytime trips and night bus usage has risen by 270 per cent since 2000.&nbsp; In order to meet the expected demand for Night Tube services, there will be six trains per hour through central London on all Night Tube lines, including the Jubilee, Victoria and most of the Piccadilly, Central and Northern lines. On the Northern line, there will be eight trains per hour to meet demand at busy stations between Leicester Square and Camden Town.</p>
        <p>Boris Johnson, Mayor of London, said: </p>
        <p>'London is a bustling, 24-hour global city and by this time next year we'll have a 24-hour Tube service to match. Running trains all through the night was once thought impossible, but with the huge investment we've put in and upgrades that have been delivered we stand ready to take the Tube to the next level. As well as creating vital new jobs and giving a huge boost to our economy, the Night Tube will help millions of people to get around our city more easily and quickly. The evolution of the Night Tube will without doubt make London an even better place to live, work, visit and invest.'</p>
        <p>Mike Brown MVO, the Managing Director of London Underground, said:</p>
        <p>'We are now less than a year away from the first ever 24-hour services operating on London Underground.&nbsp; Already over half a million Londoners use the Tube after 10pm on Fridays and Saturdays, and the introduction of the Night Tube, which will cut journey times and open up new possibilities across the night time economy, is a historic step in our modernisation of the Underground. </p>
        <p>'The new service will boost jobs and will benefit the economy by hundreds of millions of pounds. We will also now be exploring any sponsorship opportunities that could make this transformative service even more cost-effective.' </p>
        <p>Michael Divers, Managing Director of ACT Clean, said: </p>
        <p>'It's fantastic to see TfL and the Tube recognising and respecting the challenges faced by London's night workers.&nbsp; It is fantastic to see a move to 24-hour transport that will really make a difference to the, often unseen, night workers who keep our great city going and in many ways are the heart and soul of the service industry.'</p>
        <p>Rebecca Kane, GM of The O2 said: </p>
        <p>'Making the Tube run for 24 hours at weekends will revolutionise the London night time economy and have a positive impact on those that work and play in it.&nbsp; This is great for London and London businesses.&nbsp; We at The O2 are fully behind the Mayor and TfL's plan for 24-hour Tube services.'&nbsp; </p>
        <p>Introducing a Night Tube service is part of the Mayor of London and LU's huge programme of modernisation, with major stations, trains, track and signalling being updated or replaced to provide more capacity for a growing city. The line upgrades are at the core of LU's investment programme, which will deliver more than 30 per cent increase in capacity. The upgrade programme is being delivered over the coming years, with work to modernise the Northern, Circle, District, Hammersmith &amp; City and Metropolitan lines well underway.</p>
        <p>Redevelopment work to increase capacity at key stations, and to make them step-free, is underway at a number of stations including Victoria, Tottenham Court Road and Bond Street and more than half of London Underground's 270 stations have now been modernised or refurbished to make them brighter and easier to use, with improvements such as tactile strips, better CCTV and help points, electronic information displays in ticket halls and on platforms, and improved seating and lighting.</p>
        <p>Annual investment in Underground and rail in London totals &pound;1.3bn, benefiting the whole country, with 83 per cent of spending going to suppliers based outside London, supporting an estimated 14,500 jobs in the UK's regions.The full independent report into the economic benefits of introducing the Night Tube service is available on the TfL website: <a href="http://www.tfl.gov.uk/futuretube">www.tfl.gov.uk/futuretube</a>&nbsp;&nbsp; &nbsp;</p>
        <p>The launch of the Night Tube in September 2015 coincides with the start of the world's third largest sporting event, Rugby World Cup, which is hosted in England between 18 September and 31 October 2015. The Tournament will be hosted in 13 venues around the country, including three in London: Twickenham Stadium, Olympic Stadium and Wembley Stadium and the night tube will provide fans attending these matches, and the expected 400,000 overseas visitors into England, with additional transport options.</p>
         
        <hr />
         
        <p>Notes to Editors: &nbsp;</p>
        <ul>
            <li>The new 'Night Tube' network has been made possible because significant parts of the LU network have been successfully modernised.</li>
            <li>It is estimated that the Night Tube will lead to a gross impact of 1,965 permanent jobs. The net additional output produced as a result equates to an additional &pound;360m over 30 years, which is a standard length of time for a transport appraisal. </li>
            <li>The huge Tube improvement programme underway will continue, with billions of pounds of investment to deliver more frequent, reliable and accessible services and enhanced stations, providing greater capacity to tackle increasing numbers of customers.&nbsp; </li>
            <li>It also includes a continued rigorous focus on improving customer journeys and meeting the Mayor's commitment of reducing delays by a further 30 per cent by 2015, when compared to 2011 reliability levels.&nbsp; </li>
            <li>Across the Tube network, delays to customers' journeys have been reduced by 40 per cent since 2008/09 and 54 per cent since 2003.</li>
            <li>More frequent trains will be introduced across a wide range of lines, including a 20 per cent increase in capacity on the Northern line next year and further uplifts to the frequency of Jubilee and Victoria line services, to 33 and 36 trains per hour respectively at the busiest times.&nbsp; </li>
            <li>Customers on the Sub Surface lines are now travelling on a new fleet of air-conditioned trains with open, walk through carriages.</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-September-‘Historic’ new Night Tube service -->

 
 
        
        
            @{ViewBag.Description = "‘Historic’ new Night Tube service";}
        
        


 