


@{ViewBag.Title = "Bakerloo line extension 'vital' for South London";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Bakerloo line extension ‘vital’ for South London</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Bakerloo line extension ‘vital’ for South London</h1>
        <div class="content-page-press-release">
        30 September 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor delivers on pledge to bring forward consultation for Bakerloo line extension
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"As London's
        population continues to rise it is essential that we expand the transport
        network in this way if we are to meet Londoners' needs and ensure our city's
        continued competitiveness and success"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">

        <p>The Mayor of
        London and Transport for London (TfL) today launched a public consultation to
        seek views on the extension of London Underground's Bakerloo line, which could run from Elephant
        &amp; Castle towards New Cross, Lewisham, Bromley and Hayes.
        &nbsp;
        </p>
        <p>With the
        capital's population expected to reach 10m by 2030, the Mayor believes the
        extension is vital to help support anticipated growth in south London by
        providing improved transport infrastructure and enabling regeneration in a number of the Mayor's key
        Opportunity Areas.
        &nbsp;</p>
        <p>
        As well as
        providing quicker, more direct journeys into central London, extending the
        Bakerloo line would also release capacity on the national rail network,
        enabling more services to operate from other destinations and helping to reduce
        overcrowding on National Rail services into London Bridge. As outlined in the
        Mayor's 2050 Infrastructure Plan, the extension would also play a key role in
        helping to deliver much-needed and wider improvements in south London,
        including new frequent and high-quality 'metro' style services that the Mayor
        wants to see operating in all parts of the capital.
        &nbsp;
        </p>
        <p>The route
        options for the extension have been identified as they improve connections to
        areas less well served by public transport, while supporting economic growth
        and prosperity. The proposed extension would run through a tunnelled section
        from Elephant &amp; Castle to Lewisham. </p>
        <p>Two routes for this have been identified
        &#45; one via the Old Kent Road to support major development plans for this area.
        The other route option being consulted on would go via Camberwell and Peckham.
        Beyond Lewisham, the line could then link onto the existing Network Rail line
        using the South Eastern rail line to Beckenham Junction and Hayes via Ladywell
        and Catford. Finally, there is also an option to extend the line further on to
        Bromley town centre.
        &nbsp;
        </p>
        <p>The Mayor of
        London, Boris Johnson said: `An extension of the Bakerloo line is one of my top
        priorities and I have asked TfL to bring forward these plans at pace. It would
        provide a vital new transport link for the people of south London and help to
        spur jobs, new homes and regeneration in this part of the capital. It has huge
        potential to breathe a new lease of life into a swathe of London's opportunity
        areas, as well as freeing up capacity on national rail lines. As London's
        population continues to rise it is essential that we expand the transport
        network in this way if we are to meet Londoners' needs and ensure our city's
        continued competitiveness and success.'</p>
        <p>
        TfL's Managing
        Director of Planning, Mich&egrave;le Dix, said: `This is an opportunity for local
        residents to help shape an extension of the Bakerloo line which will deliver
        much needed transport infrastructure to south east London. We're looking at two
        possible routes for a tunnelled section, as well as a possible extension to
        Bromley town centre and want to hear people's views on these proposals.'&nbsp;
        </p>
        <p>The cost of the extension is estimated at up to &pound;3bn. TfL would
        work with the Boroughs along the route of the extension to explore
        opportunities for generating funding for the extension from new development.
        &nbsp;
        </p>
        <p>
        The public consultation will run from 30 September until 7
        December 2014. Further information about the consultation and the questionnaire
        can be found at <a href="http://www.tfl.gov.uk/bakerloo-extension.">www.tfl.gov.uk/bakerloo-extension</a>
        &nbsp;
        </p>
        <p>A report on the findings of this consultation will be presented to
        the Mayor of London in spring 2015 and made publicly available on the
        consultation website. Further, more detailed consultations would then follow.
        &nbsp;
        </p>
        <p>It is estimated that once
        the relevant permissions are received, and necessary funding secured, that
        construction would commence by 2023 and be completed during 2030s.</p>
        <hr />
         
        <p>An image of the routes are
        available on the TfL Press Flickr page: <a href="https://www.flickr.com/photos/tflpress/sets/72157647760499349/">https://www.flickr.com/photos/tflpress/sets/72157647760499349/</a></p>
        <p> Options for the tunnelled
        section through Southwark
        </p>
        <p>Option1:
        &middot; </p>
        <ul>
            <li>1a: This could run via the Old Kent Road.&nbsp; This would serve
            existing communities and support new development and regeneration in an area
            that is currently underdeveloped.&nbsp; It would also relieve road congestion
            on the Old Kent Road</li>
            <li>1b: This could run via Camberwell and Peckham Rye, providing
            direct access by rail for the local communities as well as relieving congestion
            on Walworth Road.
            Possible
            extension to Bromley town centre
            </li>
        </ul>
        <p>Option 2:
        There is
        a possibility to extend the line east to Bromley town centre to support the
        economic growth in this area, and provide a new direct link to central London.</p>
        <p>
        Further information on the
        Bakerloo line extension consultation can be found at www.tfl.gov.uk/bakerloo-extension
        At this early
        stage we do not know precisely where the new stations for the proposed
        tunnelled section will be.</p>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-September-Bakerloo line extension ‘vital’ for South London -->

 
 
        
        
            @{ViewBag.Description = "Mayor delivers on pledge to bring forward consultation for Bakerloo line extension";}
        
        


 