


@{ViewBag.Title = "Contactless payment on London Underground";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Contactless payment on London Underground</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Contactless payment on London Underground</h1>
        <div class="content-page-press-release">
        09 September 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Contactless will be available on London Underground, tram, DLR, London Overground, and National Rail services that accept Oyster from 16 September
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"With the launch of contactless now a week away, customers can look forward to having an easier and more convenient way to pay for their travel, freeing them of the need to top up Oyster credit and helping them to get on board without delay"</div>
        <div class="quote-footer">
            <div class="quotee-name">Shashi Verma</div>
            <div class="quotee-job-title">Director of Customer Experience, TfL</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>New payment option means customers no longer have to check and top up their Oyster balance</li>
            <li>Customers reminded to only touch one card on the reader to avoid paying with a card they did not intend to pay with</li>
        </ul>
        <p>On Tuesday 16 September millions of customers will be set for easier and more convenient journeys when Transport for London (TfL) introduces contactless payments on Tube, tram, DLR, London Overground and National Rail services that accept Oyster.</p>
        <p>The new option, which is part of a range of improvements TfL is making for customers, means that there will no longer be any need to spend time topping up Oyster balances because fares are charged directly to payment card accounts.</p>
        <p>Contactless payment cards are debit, credit, charge or pre-paid cards which can be used to make quick, easy and secure payments for everyday purchases of &pound;20 and under. </p>
        <p>There is no need for a PIN or a signature, just touch the card on the reader. This technology is becoming increasingly common, with half of Londoners already having a contactless card. </p>
        <p>Contactless payments work in the same way as Oyster, charging customers an Adult-rate pay as you go fare when they touch in and out on readers at the start and end of every journey.</p>
        <p>TfL continues to remind all customers about card clash - it is essential they only touch one card on the reader to avoid paying with a card they did not intend to pay with.</p>
        <p>Shashi Verma, TfL's Director of Customer Experience, said: </p>
        <p>'With the launch of contactless now a week away, customers can look forward to having an easier and more convenient way to pay for their travel, freeing them of the need to top up Oyster credit and helping them to get on board without delay. I would like to remind all of our customers to only touch one card on the reader to avoid paying with a card they did not intend to pay with. Contactless payments on our buses have already been a resounding success with over one million customers using their contactless payment card to pay their bus fare around 20 million times.'</p>
        <p>Contactless payments were launched on London's buses in December 2012. </p>
        <p>Each day there are around 69,000 payments made using contactless on London Buses. </p>
        <p>In April 2014 a pilot of the contactless system started on the Tube and rail network involving around 5,000 customers. </p>
        <p>It was very successful and has helped to ensure everything is in place for the launch across transport in London.</p>
        <p>Bus customers paying for their journeys with a contactless payment card are already benefitting from having their fares capped, automatically calculating the best value for their contactless travel in a day or over a seven-day period from Monday to Sunday. </p>
        <p>From 16 September customers using contactless on Tube, tram, DLR London Overground, and National Rail services can also benefit from daily and Monday to Sunday capping.</p>
        <p>Contactless payments are available alongside Oyster for pay as you go customers. </p>
        <p>Oyster will continue to be available for those using concessionary or season tickets or who would prefer to continue paying for their travel this way.</p>
         
        <hr />
         
        <p>Notes to Editors:</p>
        <ul>
            <li>More information and a video illustrating how contactless payments work on the transport network can be found at <a href="http://www.tfl.gov.uk/contactless">www.tfl.gov.uk/contactless</a></li>
            <li>There are 44.7m contactless cards in circulation in the UK, with an estimated fifth issued within the M25. In the first quarter of 2014, over half of the UK total of 44.6m contactless transactions were within the M25. </li>
            <li>All UK issued contactless American Express, MasterCard or Visa credit, debit, pre-paid cards will be accepted for contactless payments. Other methods of contactless payment that meet financial industry standards, including mobile phones, may also be accepted. Some non-UK cards may not be accepted and card holders should check the TfL website before attempting to use it for travel on TfL services.</li>
            <li>It is not a requirement for customers to sign up for an online account and register their card to travel using a contactless payment card however it is encouraged. Customers are able to view 12 months of journey and payment history through an online account while unregistered customers will only be able to access their journeys and payments over the last 7 days from a one-off log in to the TfL website or from TfL Customer Services (0343 222 1234)</li>
            <li>A single adult fare on buses and trams is &pound;1.45 with Oyster or a contactless payment card.&nbsp; A customer making four bus and/or tram journeys per day using their contactless payment card will pay &pound;4.40 (the daily cap); rather than &pound;5.80 for four journeys. Any further bus and tram journeys made in the day will not be charged.&nbsp; Bus and tram fares for customers using Oyster are also capped at &pound;4.40 for unlimited travel in a day.</li>
            <li>For customers making several rail journeys or a mixture of rail, bus and tram journeys in one day, capping is usually better value than buying a Day Travelcard.</li>
            <li>The Monday to Sunday bus &amp; tram cap is available for bus and tram journeys made between 0430 on Monday and 0429 the following Monday. </li>
            <li>Monday to Sunday capping is calculated by analysing the cumulative daily totals as the week progresses and applying a Monday to Sunday cap when appropriate. To benefit from Monday to Sunday capping, customers must</li>
        </ul>
        <ol>
            <li>Use the same contactless payment card for each journey</li>
            <li>Make sure they touch in on the yellow card reader at the start of each journey and touch out at the end of all rail journeys</li>
            <li>Start using their contactless payment card on a Monday for maximum benefit; Monday to Sunday capping always calculates your week of travel from a Monday and finishes on the following Sunday</li>
        </ol>
        <ul>
            <li>Customers who reach a Monday to Sunday cap before the following Sunday, will not be charged for any subsequent journeys made with that card, within the zones of the cap, until 04:30 next Monday, provided they continue to touch in and touch out as necessary.&nbsp;</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-September-Contactless payment on London Underground -->

 
 
        
        
            @{ViewBag.Description = "Contactless payment on London Underground";}
        
        


 