


@{ViewBag.Title = "Essential works on Ferry loading bridges";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Essential works on Ferry loading bridges</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Essential works on Ferry loading bridges</h1>
        <div class="content-page-press-release">
        09 September 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Drivers and pedestrians advised of essential maintenance works on Woolwich Ferry loading bridges
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These are essential works which aim to improve reliability and ensure the Woolwich Ferry service continues to operate for the foreseeable future"</div>
        <div class="quote-footer">
            <div class="quotee-name">Andrew Thompson</div>
            <div class="quotee-job-title">Head of London River Services, TfL</div>
        </div>
</div>

 <div class="on-this-page">

        <p>Works enter second phase following improvements to the north and south piers</p>
        <p>Transport for London (TfL) and Briggs Marine and Environmental Services are carrying out maintenance works to overhaul four movable loading bridges which provide the means for vehicles and pedestrians to get on and off the Woolwich Ferry. These works, which will make the operation of the bridges more reliable and efficient and better able to cope with the estimated increase in vehicle weights in the next 10 to 15 years, are scheduled to finish in spring 2015.</p>
        <p>The four loading bridges move up and down to allow the ferries access to the pier, taking account of the wide ranging tidal variances. The loading bridges were built to the standards and requirements of the 1960's and analysis has found that, although well engineered, the bridges require strengthening for today's heavier vehicles. </p>
        <p>TfL's contractors will be working on one of the four movable loading bridges at a time. Work will be carried out to replace the lifting mechanisms, to renew the road surface and to repair and paint the metal structure. </p>
        <p>This second phase follows maintenance works, which were completed in May 2014, on the jetty which gives traffic access to and from the A205 South Circular on the south side of the Woolwich Ferry. </p>
        <p>Andrew Thompson, Head of London River Services, said: </p>
        <p>'We apologise for any inconvenience caused to journeys. These are essential works which aim to improve reliability and ensure the Woolwich Ferry service continues to operate for the foreseeable future. We are doing our best to ensure any delays are kept to the minimum.'</p>
        <p>The ferry is continuing to operate throughout the works and delays to traffic will be minimised as far as possible. With only one working loading bridge available &#45; the boarding and disembarking of the ferries may take slightly longer than normal. The impacts of this will be closely monitored by Briggs and TfL.</p>
        <p>For information about local public transport options and to help plan your journey, please visit <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a></p>
        <p>TfL is currently consulting on proposals for future river crossings in east London. Details of the consultation, open until 18 September 2014 are available from <a href="http://www.tfl.gov.uk/consultations">www.tfl.gov.uk/consultations</a>.</p>
         
        <hr />
         
        <p>Notes to Editors:</p>
        <ul>
            <li>The Woolwich Ferry operates a free service linking Woolwich with North Woolwich.</li>
            <li>The Woolwich Ferry carries around one million vehicles and over two million passengers a year.</li>
            <li>The ferries, terminals and facilities are owned by London River Services (LRS), but the ferry service is operated by Briggs Marine and Environmental Services under contract to LRS.</li>
            <li>The three ferries in use today were built in 1963 and the current terminals were opened in 1965.</li>
            <li>Live travel news is available at <a href="http://www.tfl.gov.uk/livetravelnews">www.tfl.gov.uk/livetravelnews</a>&nbsp;</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-September-Essential works on Ferry loading bridges -->

 
 
        
        
            @{ViewBag.Description = "Essential works on Woolwich Ferry loading bridges";}
        
        


 