


@{ViewBag.Title = "Explore London with free guided walks";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Explore London with free guided walks</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Explore London with free guided walks</h1>
        <div class="content-page-press-release">
        15 September 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Explore London this Autumn with 40 free guided walks
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These free guided walks always offer something new. They are the perfect way to explore all London has to offer"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ben Plowden</div>
            <div class="quotee-job-title">Director of Strategy and Planning, TfL Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>Saturday 27 and Sunday 28 September</li>
            <li>No booking required </li>
        </ul>
        <p>Explore new corners of the capital with Transport for London's (TfL's), 'Autumn Ambles' weekend of 40 free-guided walks on Saturday 27 and Sunday 28 September, with no booking required.</p>
        <p>The free-guided walks are spread across the capital and take in spectacular views, highlighting the contrasts of London and its ever changing landscape. Experienced walk guides lead the way and provide fascinating facts that showcase London's curiosities and the cultural richness of one of the best cities in the world. </p>
        <p>A wide range of walks are on offer, whether you fancy a short stroll or a challenging trek, taking in some of London's famous landmarks, parks and canals as well as many hidden gems. All walks start and finish within easy reach of public transport and explore sections of the city's seven popular Walk London Network routes; Capital Ring, Green Chain, Jubilee Greenway, Jubilee Walkway, Lea Valley, London Outer Orbital Path (LOOP) and Thames Path.</p>
        <p>The 40 free Autumn Ambles guided walks include: </p>
        <p>Saturday 27 September</p>
        <ul>
            <li>Secret diaries and public spaces &#45; The legacy of Pepys and Wren at 11.30 and 15.30, (1.5 miles) this walk along the Jubilee Walkway explores the aftermath of the Great Fire of London in 1666 and takes in places described by Samuel Pepys in his famous diaries. </li>
            <li>In the Shadow of the Shard - London Bridge to Tower Hill at 14.30 (2 miles) walk along the Jubilee Greenway and Thames Path around parts of historic and modern Southwark just below Europe's tallest building. </li>
            <li>The Real West End - Soho, Chinatown and Covent Garden (Jubilee Walkway) at 10.30 (1.5 miles) in the shadow of the National Gallery discover the backstage life of London's major tourist and theatre district. </li>
            <li>Walking (on water) - The Glorious Lea Valley - Tottenham Hale to Three Mills at 11.00 (5.5 miles) with only one road to cross walk across Walthamstow Marshes, Hackney Marshes, the Olympic Park and a grade one listed tidal mill.</li>
            <li>Parkland Walk Railway and Reservoirs - Highgate to Stoke Newington (Capital Ring) at 13.00 (4.5 miles) enjoy one of the greenest parts of the Capital Ring and take in Finsbury Park, New River Head in Islington, Clissold Park and the cosmopolitan Stoke Newington. </li>
        </ul>
        <p>Sunday 28 September</p>
        <ul>
            <li>London's Hidden Treasures &#45; Waterloo to London Bridge at 11.30am (2 miles) stroll along both sides of the river Thames with an added twist as the guide reveals the secrets that lie beneath the streets and under the river.</li>
            <li>A walk through Historic Bloomsbury - The British Library to Holborn at 14.00 (1.5 miles) take in the impressive British Library before passing through several beautiful Georgian squares before finishing in Russell Square. </li>
            <li>Elegance and the Regency &#45; Little Venice to Camden Town at 14.30 (2 miles) enjoy a section of the lovely Jubilee Greenway including the towpath of the Regent's canal, the majestic Regent's Park and finish in the famous Camden Lock market.</li>
            <li>Gleaming Spires &#45; Architecture and public art in the City of London at 15.30 (1.5 miles) explore the art and architecture in the vibrant City of London and experience its ever changing skyline.</li>
            <li>Regent's Canal at 12.30pm (5 miles) walk along the Regent's Canal to Victoria Park will explore one of London's new favourite parks.</li>
        </ul>
        <p>'Autumn Ambles' is part of three TfL sponsored free walking weekends held each year to help Londoners enjoy the city's best walking routes. The other free guided walking weekends, 'Winter Wanders' and 'Spring into Summer' take place every January and May. </p>
        <p>Ben Plowden, Director of Strategy and Planning, TfL Surface Transport, said; </p>
        <p>'These free guided walks always offer something new. They are the perfect way to explore all London has to offer, from picturesque parks to beautiful architecture and historical landmarks. The expert guides bring the walks to life for all ages and with a range of short strolls and longer treks there is something to suit every taste.'</p>
        <p>To find out more about the 'Autumn Ambles' free guided walks near you visit <a href="http://www.walklondon.org.uk">www.walklondon.org.uk</a> </p>
         
        <hr />
         
        <p>Notes to Editors:</p>
        <ul>
            <li>More than 8 million people walk on the Walk London Network each year</li>
            <li>Autumn Ambles is held in September, Winter Wanders is held every January, and Spring into Summer is held in May</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-September-Explore London with free guided walks -->

 
 
        
        
            @{ViewBag.Description = "Explore London this Autumn with 40 free guided walks";}
        
        


 