


@{ViewBag.Title = "Free film screenings for Year of the Bus";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Free film screenings for Year of the Bus</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Free film screenings for Year of the Bus</h1>
        <div class="content-page-press-release">
        17 September 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL teams up with Rooftop Film Club to offer free screenings in London this month
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are delighted that the Rooftop Film Club is celebrating the Year of the Bus by reviving two lost classics that show the Routemaster bus on the big screen free of charge"</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">Managing Director of Surface Transport, TfL</div>
        </div>
</div>

 <div class="on-this-page">

        <p>TfL has teamed up with leading film screening company &#45; Rooftop Film Club - in its latest activity to celebrate the Year of the Bus.</p>
        <p>During September the Rooftop Film Club is screening a range of films for free at Peckham Rye's Bussey Building as part of TfL's Year of the Bus celebrations, with two nights showing classic British comedies that both feature the Routemaster bus on film.</p>
        <p>Sunday 21 September sees a rare showing of the widely regarded first of the Ealing Studio's crop of post-war comedies, 'Hue and Cry' (1947 dir. Charles Crichton) starring Alastair Sim and Harry Fowler.</p>
         
        <h2>London backdrop</h2>
        <p>London forms the backdrop of this family friendly film about a crime-gangster plot revolving around working class children's street culture and children's secret clubs.</p>
        <p>The following weekend, on Sunday 28 September, the Rooftop Film Club will be showing the forgotten caper 'Hot Millions' (1968 dir. Eric Till) starring Peter Ustinov and Maggie Smith.</p>
        <p>This film tells the tale of a Cockney con-artist who becomes an expert in computers so he can embezzle money out of a large corporation and escape to Rio with his girlfriend.</p>
         
        <h2>Bus plays a significant role</h2>
        <p>Leon Daniels, TfL's Managing Director of Surface Transport, said: 'The bus plays a significant role in the daily lives of millions of Londoners and over the years this has been captured on film.</p>
        <p>'We are delighted that the Rooftop Film Club is celebrating the Year of the Bus by reviving two lost classics that show the Routemaster bus on the big screen free of charge.</p>
        <p>'Following a bus cavalcade along Regent Street in June, live performances from up-and-coming bands on a New Routemaster last month and a TfL bus taking part in the recent Notting Hill Carnival procession, this is another great way to learn more about the critical role these vehicles play in the capital.'</p>
        <h2>Capital's most renowned icon</h2>
        <p>Gerry Cottle Jr, Managing Director Rooftop Film Club said: 'Rooftop Film Club is all about bringing London communities together through great film, so we simply couldn't resist the opportunity to dig-up some hidden movie moments featuring one of our fair capital's most renowned icons, the London Bus.'</p>
        <p>Events and activities that mark a number of important anniversaries are being held throughout 2014 to celebrate the role that London buses, bus drivers and the staff who support them play in keeping the capital moving.</p>
        <p>These include 60 years since the creation of the original and iconic Routemaster, 75 years since the launch of its predecessor the RT-Type bus and 100 years since hundreds of London buses were sent to the Western Front to play a crucial role during the First World War.</p>
        <p>To reserve free tickets for the films go to <a href="http://www.rooftopfilmclub.com/">www.rooftopfilmclub.com</a></p>
        <p>Further information about other Year of the Bus events can be found at <a href="http://www.tfl.gov.uk/campaign/year-of-the-bus?cid=fs114">www.tfl.gov.uk/yearofthebus</a> and <a href="http://www.ltmuseum.co.uk/">www.ltmuseum.co.uk</a></p>
         
        <hr />
         
         
        <p>Notes to Editors:</p>
        <p>The Year of the Bus is supported by and delivered in partnership with Exterion Media, Abellio, Arriva London, Clear Channel UK, Go-Ahead London, Metroline, RATP Dev UK, Stagecoach, Wrightbus, Optare and Telent Technology Services.</p>
        <p>Links to reserve tickets for specific films:</p>
         
        <ul>
            <li>Hue and Cry: <a href="http://www.eventbrite.co.uk/e/free-tfl-screening-hue-and-cry-1947-tickets-13043450311">http://www.eventbrite.co.uk/e/free-tfl-screening-hue-and-cry-1947-tickets-13043450311</a></li>
            <li>Hot Millions: <a href="http://www.eventbrite.co.uk/e/free-tfl-screening-hot-millions-1968-tickets-13043502467">http://www.eventbrite.co.uk/e/free-tfl-screening-hot-millions-1968-tickets-13043502467</a></li>
        </ul>
         
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-September-Free film screenings for Year of the Bus -->

 
 
        
        
            @{ViewBag.Description = "TfL teams up with Rooftop Film Club to offer free screenings in London this month";}
        
        


 