


@{ViewBag.Title = "Friends Life Tour of Britain conclusion ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Friends Life Tour of Britain conclusion </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Friends Life Tour of Britain conclusion </h1>
        <div class="content-page-press-release">
        10 September 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Get ready for the Friends Life Tour of Britain conclusion in London on Sunday 
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This summer has been fantastic for cycling in the capital and this is the final chance to see the greats on London's streets this year. Londoners will be privileged to witness what will probably be the last time British cycling hero Sir Bradley Wiggins goes for a General Classification jersey"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ben Plowden</div>
            <div class="quotee-job-title">Director of Surface Strategy and Planning, TfL</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>The Friends Life Tour of Britain finishes with two stages in London this Sunday </li>
            <li>Top field includes riders such as Sir Bradley Wiggins, Mark Cavendish and Marcel Kittel</li>
            <li>Event will take place on closed roads in Westminster and City of London</li>
            <li>Tube, rail, walking and cycling will be the best way to get around and enjoy the cycling action</li>
            <li>For more information visit <a href="http://tfl.gov.uk/tour-of-britain">tfl.gov.uk/tour-of-britain</a></li>
        </ul>
        <p>The Friends Life Tour of Britain, the UK's largest free-to-spectate sporting event, returns to London on Sunday 14 September for its final stage, presented by Transport for London (TfL).</p>
        <p>Londoners will have their last chance to see cycling superstars on the capital's roads this year. A peloton of champions, including 2012 Tour de France winner and reigning Tour of Britain champion, Sir Bradley Wiggins, and Mark Cavendish the 2011 road race world champion, will be rolling through the City of London and the City of Westminster. </p>
        <p>The Friends Life Tour of Britain final stage in London consists of both a series of time trials and a circuit race. Londoners will have the opportunity to see the likes of time trial specialists such as Wiggins, and top sprinters like Kittel and Cavendish in their elements. When the Friends Life Tour of Britain was last in the capital in 2013, the event attracted 225,000 spectators.</p>
        <p>Up to 120 professional cyclists will take part in the Friends Life Tour of Britain London Stage, in both individual time trials in the morning, as well as racing 88km on a nearly 10km circuit beginning and ending in Whitehall in the afternoon. The elite riders will race through the City and along the Victoria Embankment, where London's new flagship East-West Cycle Superhighway is proposed to be located in 2016. </p>
        <p>Ben Plowden, Director of Surface Strategy and Planning at TfL, said: </p>
        <p>'This summer has been fantastic for cycling in the capital and this is the final chance to see the greats on London's streets this year. Londoners will be privileged to witness what will probably be the last time British cycling hero Sir Bradley Wiggins goes for a General Classification jersey. The sight of Wiggo on Whitehall or Cav in the City will no doubt inspire a new tranche of Londoners to start cycling.&quot;There will need to be road closures in central London to facilitate this elite event, and drivers are advised to avoid these areas on 14 September to ensure their journeys are not affected.'</p>
        <p>Mick Bennett, Race Director of the Friends Life Tour of Britain, said: </p>
        <p>'The London Stage presented by TfL will be a great finale to what is going to be an exciting week of racing, culminating in the spectacular double stage in London.&nbsp; The re-introduction of a time trial this year means that the race for the Friends Life Yellow Jersey is going to go down to the final stage, when it could be a matter of seconds to decide the overall winner.&nbsp; For fans, having two stages to watch and the riders racing one at a time in the time trial, makes London an ideal opportunity to see some of the world's top riders in action.'</p>
        <p>On Sunday, road closures will be in place in Whitehall, Westminster and central London areas, and both Westminster and Southwark Bridges will be closed from 08:00 until around 19:00. Road closures will be in place around the race route, which is along Whitehall, Victoria Embankment, Upper Thames Street, Lower Thames Street and Tower Hill. This is to ensure the safety of competitors and spectators along the event route. All other central London river crossings will remain open with the exception of Putney Bridge which is currently undergoing essential maintenance by Wandsworth Council. </p>
        <p>Some buses in and around the route area will be on diversion or will terminate earlier than usual, customers can follow the &#64;tflbusalerts Twitter feed for up to date information. Tube, rail, walking and cycling will be the best ways to get around, although stations close to the event are expected to be busier than normal. A small number of Barclays Cycle Hire docking stations near the event route will be suspended from 20:00 on Saturday until 19:00 on Sunday. Go to <a href="http://tfl.gov.uk/tour-of-britain">tfl.gov.uk/tour-of-britain</a> for more information. </p>
        <p>Advance warning signs are in place on the race route to advise road users of the closures, and TfL will be providing up to date information through the &#64;tfltrafficnews Twitter feed and on the TfL website to help drivers plan their journey - <a href="http://tfl.gov.uk/trafficnews">tfl.gov.uk/trafficnews</a>.</p>
         
        <hr />
         
        <p>Notes to Editors:</p>
        <ul>
            <li>A map of the route can be found at <a href="http://tfl.gov.uk/tour-of-britain">tfl.gov.uk/tour-of-britain</a>. </li>
            <li>The Friends Life Tour of Britain finishes a spectacular summer of cycling in London, following the triumphant return of the Tour de France in July and Prudential RideLondon in August. </li>
            <li>This summer's cycling events are likely to inspire thousands more Londoners to take to two wheels, building on the Mayor's ambition for cycling to be an integral part of the transport network. As part of his cycling vision, the Mayor is already working to deliver a programme of cycling improvements of almost &pound;1billion&#45; consisting of enhanced Barclays Cycle Superhighways, 'Quietways' offering a more relaxed journey on quieter backstreets, and turning three outer boroughs into mini-Hollands, making them as cycle friendly as their Dutch counterparts. </li>
            <li>For more information on the Mayor's Vision for Cycling visit <a href="http://tfl.gov.uk/cyclingvision">tfl.gov.uk/cyclingvision</a>. </li>
            <li>The Tour of Britain, the UK's biggest professional cycle race and the country's largest annual free-to-spectate sporting event, was re-launched in 2004 and is sponsored by Friends Life. </li>
            <li>The Mayor is committed to ensuring London retains its status as the world capital of sport, and has set up the Major Events Oversight Board. The board is chaired by Sir Edward Lister, and comprises TfL, the emergency services and other key partner agencies. It provides strategic direction and advice to the Mayor on the approach to bidding, staging and evaluating major events in London. The board ensures that all major road events continue to be carefully considered and tightly managed to ensure everyone gets full benefit from the event without undue impact on Londoners and London's transport. The boards also looks at ways to ensure the major events programme is effectively communicated with Londoners, visitors, businesses and stakeholders to allow sufficient notice and forward planning for everyone.</li>
            <li>The Transport for London cycling hub will be in Whitehall on Sunday 14 September for the eighth and final stage of the Tour of Britain. Staff will be on hand offering advice and guidance on cycling in London. As well as offering the opportunity to have your photo taken in front of a green screen and superimposed onto a background of your choice, you can make a cycling pledge and be in with a chance of winning annual membership of the iconic Barclays Cycle Hire. The Met Police are also supporting the event, offering the Exchanging Places HGV allowing cyclists experience sitting in an HGV cab and seeing the blind spots. For more information about cycling in London, visit <a href="http://www.tfl.gov.uk/cycling">www.tfl.gov.uk/cycling</a>. </li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-September-Friends Life Tour of Britain conclusion  -->

 
 
        
        
            @{ViewBag.Description = "Friends Life Tour of Britain conclusion ";}
        
        


 