


@{ViewBag.Title = "Indra appointed to upgrade Tunnels Control Centre";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Indra appointed to upgrade Tunnels Control Centre</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Indra appointed to upgrade Tunnels Control Centre</h1>
        <div class="content-page-press-release">
        16 September 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Upgrade will allow for more efficient control of day-to-day running of London's 12 road tunnels and enable emergency situations to be dealt with more promptly
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are committed to keeping London moving and this is just another step to making sure that people can get around quickly and safely"</div>
        <div class="quote-footer">
            <div class="quotee-name">Dana Skelley</div>
            <div class="quotee-job-title">Director of Roads at TfL</div>
        </div>
</div>

 <div class="on-this-page">

         
        <p>TfL has appointed Indra to modernise the technology for the control and operation of the 12 road tunnels in London and 90 km of approach roads.</p>
        <p>The new contract covers the design, installation, commissioning and maintenance of a new integrated system to support the London Streets Tunnels Operations Control Centre (LSTOC).</p>
        <p>Across London, there are 12 road tunnels, some of which are more than 100 years old.</p>
        <h2>Keep the city moving</h2>
        <p>With London's roads accounting for 80% of all journeys and 90% of all goods moved in the capital, it is vital that these tunnels are well managed and maintained to keep the city moving safely and efficiently.</p>
        <p>Currently, LSTOC uses multiple control systems to operate and control safety and traffic control systems, communicate with road users, emergency and maintenance services people and to manage safety and minimise disruption.</p>
        <h2>Futureproofed and intelligent system</h2>
        <p>This upgrade will provide a single, futureproofed intelligent system which can allow for further upgrades not previously possible, along with new control room equipment.</p>
         
        <p>The new system will improve how real-time information is presented to and used by LSTOC and the London Streets Traffic Control Centre (LSTCC), who work with other incident responders such as the emergency services to deal with traffic incidents.</p>
        <p>These improvements will also allow for real-time information about incidents in the tunnels to be obtained, allowing TfL to minimise the knock-on effects these can cause across London's streets.</p>
        <h2>Improve safety and efficiency</h2>
        <p>Dana Skelley, Director of Roads at TfL, said: 'This new system will help to improve the safety and efficiency of all the tunnels that we manage in London.</p>
        <p>'This is part of our wider programme of investing in tunnel improvements and roads as a whole.</p>
        <p>'We are committed to keeping London moving and this is just another step to making sure that people can get around quickly and safely.'</p>
        <h2>State-of-the-art</h2>
        <p>Enrique S&aacute;nchez Candorcio, Director of Indra UK, said: 'Indra will provide TfL with state-of-the-art technology to manage the city's tunnels in an integrated manner, thanks to a unique solution that will be designed to incorporate new systems in the future.</p>
        <p>'This project will allow us to put our vast experience in smart transportation infrastructures to good use in London.'</p>
        <p>To meet the challenge of continually increasing traffic levels, the Mayor and TfL are investing more than &pound;4 billion in improving London's roads, streets and urban realm for all road users, residents and businesses during the next decade.</p>
        <h2>Major refurbishment</h2>
        <p>These include upgrading lighting within Eltham and Upper Thames Street Tunnels with LEDs, helping to save energy and reduce associated CO2 emissions and carrying out a major refurbishment of the Fore Street Tunnel to replace mechanical and electrical equipment within the tunnel.</p>
        <p>In recent years, improvement work has also been carried out to renew and upgrade tunnel safety and traffic systems in all 12 road tunnels.</p>
        <p>There are further works planned across many of the tunnels managed by TfL during the next financial year.</p>
        <p>For more information about the work TfL is carrying out to improve the road network, please visit <a href="http://www.tfl.gov.uk/modes/driving/?cid=fs043">www.tfl.gov.uk/driving</a></p>
        <p><a href="http://www.tfl.gov.uk/modes/driving/?cid=fs043"></a></p>
        <p><a href="http://www.tfl.gov.uk/modes/driving/?cid=fs043"></a></p>
        <hr />
        <br />
        <p>Notes to Editors:</p>
         
        <ul>
            <li>TfL is responsible for a network of 580 km of roads and the 6000 traffic lights in the capital. London's population is set to grow by almost 2 million to 10 million by 2031 &#45; equivalent to absorbing the population of both Birmingham and Leeds.</li>
            <li>Indra is a consultancy and technology multinational, a leader in Europe and Latin America and is expanding in other emerging economies. The multinational has already implemented its technology for intelligent transport infrastructures in more than 50 countries and it is one of the leading companies in terms of the development and implementation of comprehensive solutions for traffic management and tunnel control systems.</li>
        </ul>
        <p>&nbsp;</p>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-September-Indra appointed to upgrade Tunnels Control Centre -->

 
 
        
        
            @{ViewBag.Description = "Upgrade will allow for more efficient control of day-to-day running of London’s 12 road tunnels and enable emergency situations to be dealt with more promptly";}
        
        


 