


@{ViewBag.Title = "Mayor & TfL expand Europe's greenest bus fleet";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mayor & TfL expand Europe's greenest bus fleet</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mayor & TfL expand Europe's greenest bus fleet</h1>
        <div class="content-page-press-release">
        19 September 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        &pound;500,000 secured from the Department for Transport's (DfT) Cleaner Vehicle Technology Fund
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It is great to see London putting this funding to good use and leading the way on introducing greener vehicles on the city's streets"</div>
        <div class="quote-footer">
            <div class="quotee-name">Baroness Kramer</div>
            <div class="quotee-job-title">Minister of State for Transport</div>
        </div>
</div>

 <div class="on-this-page">

         
        <ul>
            <li>400 more buses to be fitted with equipment to remove up to 88% of nitrogen oxide (NOx) emissions</li>
            <li>Proven technology extended to first ever retrofit of a London fire engine</li>
        </ul>
         
        <p>The Mayor and TfL are to expand London's bus retrofit programme, already the largest in the world, with a further 400 vehicles, bringing the total number of buses fitted with this bespoke technology up to 1,800.</p>
        <p>A grant of &pound;500,000 from the Department for Transport's (DfT) Cleaner Vehicle Technology Fund will also enable a London fire engine to be retrofitted for the first time, extending technology proven on London's buses to the London Fire Brigade.</p>
        <p>More than a thousand buses have already been retrofitted, with a further 400 in the pipeline. The new funds, which will be supplemented with TfL budget, will bring the total to 1,800.</p>
        <h2>Successfully trialled</h2>
        <p>The retrofit process involves fitting a Selective Catalytic Reduction (SCR) system to the exhaust of older buses.  Successfully trialled in 2012, the technology provides NOx emission reductions of up to 88%.</p>
        <p>Once complete, the full retrofit programme will make all 8,700 buses in London Euro IV for NOx emissions by the end of 2015, reducing NOx emissions by at least 800 tonnes a year.</p>
        <p>The Mayor is now, for the first time, extending this retrofit work to London Fire Brigade, and following operational trials hopes to roll the technology out more widely.</p>
        <h2>Most ambitious measures in the world</h2>
        <p>Matthew Pencharz, the Mayor's Senior Advisor for Environment and Energy, said: 'The Mayor is taking the most ambitious and comprehensive set of measures in the world to improve London's air quality, an urgent challenge which affects the health and well-being of all Londoners.</p>
        <p>'At the heart of his plans is the world's first Ultra Low Emission Zone in central London from 2020, and just last week he published a road-map to how London can meet European requirements for NO2 by 2020.</p>
        <p>'This fantastic world-leading retrofit programme, which we intend to roll out to more public vehicles wherever possible, has a huge part to play, creating cleaner, greener buses and cleaner, more breathable air for London.'</p>
        <h2>Significant improvements</h2>
        <p>London's green bus fleet is the largest in the world, combining the roll out of new hybrid buses (including the New Routemaster), the early introduction of new Euro VI buses, and the retrofit programme, leading to significant improvements in emissions throughout London.</p>
        <p>Mike Weston, Director of Buses, said: 'London already has Europe's largest fleet of green buses.  This further funding will not only enable this number to grow but is also is a fantastic recognition of all that we are doing, and will continue to do, to improve London's air quality.'</p>
        <h2>Leading the way</h2>
        <p>Minister of State for Transport Baroness Kramer said: 'It is great to see London putting this funding to good use and leading the way on introducing greener vehicles on the city's streets, including for the first time a fire engine fitted with pollution reducing technology.</p>
        <p>'This will mean lower emissions and real public health benefits, while supporting skilled jobs and growth in the environmental technologies industries.'</p>
        <p>The operation of a green bus fleet is one element of a comprehensive set of measures that the Mayor has introduced to tackle air pollution.</p>
        <h2>Innovative local measures</h2>
        <p>Over the past four years the Mayor has tightened the standard of the Low Emission Zone, further reducing the emissions of around 150,000 vehicles. He has introduced the first age limits to retire the oldest and most polluting taxis; and has delivered a package of innovative local measures through his Clean Air Fund.</p>
        <p>The Mayor has also announced plans to introduce an Ultra Low Emission Zone in central London and has tightened the requirements for vehicles to qualify for a hundred per cent discount to the Congestion Charge.</p>
        <p>The Mayor's efforts have already been recognised in a newly published study, which has ranked London's air quality 9th best out of 36 world and European cities in terms of health impacts.</p>
         
        <hr />
        <br />
        Notes to editors:
         
         
        <ul>
            <li>The Department for Transport's Cleaner Vehicle Technology Fund press release can be found at: https://www.gov.uk/government/news/greener-fire-engines-ambulances-buses-and-taxis-on-the-way</li>
            <li>The consultation on the Ultra Low Emission Zone will begin in late October, with the final scheme order being confirmed by Spring 2015</li>
            <li>The new comprehensive study comparing air quality in 36 world and European cities based on pollutants like particulate matter (PM10 and PM2.5), sulphur dioxide (SO2) and nitrogen dioxide (NO2) was undertaken by leading consultancy AMEC and peer-reviewed by prominent air quality experts and academics.  It developed three indices which ranked cities based on citywide emissions, transport-focused emissions and using a special health-weighted index. It is available here: http://www.london.gov.uk/priorities/environment/clearing-londons-air/useful-documents</li>
            <li>The Transport Emissions Road Map is available online at http://www.tfl.gov.uk/transport-emissions-roadmap</li>
        </ul>
        <p>The Mayor's programme of measures:</p>
        <ul>
            <li>The Mayor has tightened the Low Emission Zone standards for HGVs, buses and coaches and introducing new standards for large vans and minibuses. Around 150,000 vehicles needed to take action to meet these standards when they came into effect in January 2012</li>
            <li>He has created Europe's largest fleet of hybrid buses, with 850 already on the road.  In 2016 there will be 1,700 hybrid buses on London's roads &#45; of which 600 will be New Routemasters &#45; representing 20% of the bus fleet</li>
            <li>He has reduced emissions by retrofitting more than 900 of the oldest buses with special equipment to reduce their NOx emissions by up to 88%</li>
            <li>He is retiring the remaining 900 oldest Euro III buses in TfL's fleet and replacing them with super-clean Euro VI buses at a cost of &pound;18m</li>
            <li>He is accelerating the roll out of hybrid buses, with 1,700 to be on the road by 2016, including 600 of the iconic New Buses for London which are the cleanest and greenest bus of their type.  This will be equivalent to around 20% of TfL's bus fleet</li>
            <li>He has retired over 3,000 of the oldest, most polluting taxis, by introducing London's first taxi age limits</li>
            <li>It is proposed that all new taxis will have to be zero emission capable from 2018.  Oxford Street is the kind of location where we would expect them to use this functionality</li>
            <li>New measures to reduce emissions and clean up construction sites, including plans for tough new emission standards for construction equipment in 2015 and 2020</li>
            <li>A new Ultra Low Emission Zone for central London to come into effect by 2020 which will include Oxford Street and the surrounding roads</li>
            <li>He is investing almost &pound;1 billion to improve cycling infrastructure and encourage less polluting forms of  transport. In February, research by the Medical Research Council suggested the health benefits gained from using the city's Cycle Hire scheme outweigh the potential negative impacts from injuries and exposure to air pollution</li>
            <li>He is using the planning system to require all new development to be 'air quality neutral'</li>
            <li>He is retrofitting hundreds of thousands of homes and public buildings with energy efficiency measures which reduce their emissions, with 400,000 already complete</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-September-Mayor & TfL expand Europe's greenest bus fleet -->

 
 
        
        
            @{ViewBag.Description = "£500,000 secured from the Department for Transport’s (DfT) Cleaner Vehicle Technology Fund";}
        
        


 