


@{ViewBag.Title = "More than 128,000 contactless payments made";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">More than 128,000 contactless payments made</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>More than 128,000 contactless payments made</h1>
        <div class="content-page-press-release">
        18 September 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than 128,000 contactless payments made on London's rail transport network already
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It's fantastic to see such a huge number of our customers choosing to use contactless already, providing a further convenient way to pay for their travel and highlighting the capital's position as a world leader in transport ticketing, technology and customer service"</div>
        <div class="quote-footer">
            <div class="quotee-name">Shashi Verma</div>
            <div class="quotee-job-title">Director of Customer Experience, TfL</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>More than 600 stations saw contactless transactions on the first day</li>
            <li>Top five stations for contactless: Canary Wharf, Oxford Circus, London Bridge, Victoria and Liverpool Street </li>
            <li>Contactless payments on buses continues to rise </li>
        </ul>
        <p>More than 128,000 taps using contactless payment cards and devices have been made since Transport for London (TfL) launched the new option to pay across the London transport network on Tuesday 16 September.</p>
        <p>The first day saw contactless used at more than 600 train stations across the Tube, DLR, Overground and National Rail stations that accept Oyster. The most popular London Underground stations for contactless so far are Canary Wharf, Oxford Circus, London Bridge, Victoria and Liverpool Street.</p>
        <p>Contactless payments have been available on the bus network since December 2012. This week has seen a further significant rise in the number of taps on buses with 80,000 on Tuesday and 86,000 on Wednesday - this is around 6,000 and 9,000 higher than on the same days the previous week. Contactless payments now make up 3 per cent of all pay as you go journeys on the network.</p>
        <p>Shashi Verma, TfL's Director of Customer Experience, said: </p>
        <p>'It's fantastic to see such a huge number of our customers choosing to use contactless already, providing a further convenient way to pay for their travel and highlighting the capital's position as a world leader in transport ticketing, technology and customer service.'</p>
        <p>It is not a requirement for customers to sign up for an online account and register their card to travel but there are many benefits to doing so. One of the benefits includes being able to see 12 months of journey and payment history. Unregistered customers can access their journeys and payments history over the last seven days via a one-off log in to the TfL website or through TfL Customer Services.</p>
        <p>Card clash is being closely monitored and customers are being automatically refunded when they may have accidentally touched more than one card on a reader and paid with a card they did not intend to use. The first day of contactless saw 1,724 instances where customers may have accidentally paid with a card they did not intend to pay with, against a pre-launch estimate of around 2,000 &#45; less than 0.1 per cent of the smartcard rail journeys made in London every day. All instances of accidental card clash have been automatically refunded which means customers do not need to do anything.</p>
        <p>Contactless payment cards are debit, credit, charge or pre-paid cards that can be used to make quick, easy and secure payments for everyday purchases of &pound;20 and under. There is no need for a PIN or a signature; customers simply have to touch their card on the reader. This technology is becoming increasingly common, with half of Londoners already having a contactless card.</p>
        <p>Contactless payments work in the same way as Oyster, charging customers an adult-rate pay as you go fare when they touch in and out on readers at the start and end of every journey. Customers using contactless payments for their travel will benefit from having their fares capped &#45; this automatically calculates the best value for their contactless travel in a day or over a seven-day period from Monday to Sunday.</p>
        <p>Four customers who use contactless to travel in London talk about why it is the best option for them here:</p>
        <p>Kanji Kerai, 55 years old, mobile technology engineer: <a href="http://goo.gl/kpAMS8">http://goo.gl/kpAMS8</a> </p>
        <p>Harry Tabner, 26 years old, technician at the Royal Albert Hall: <a href="http://goo.gl/5kqoXw ">http://goo.gl/5kqoXw</a> </p>
        <p>Laura Smith, 30 years old, charity worker: <a href="http://goo.gl/eVinZh">http://goo.gl/eVinZh</a> </p>
        <p>William Trump, 26 years old, insurance underwriter: <a href="http://goo.gl/SOKjXw">http://goo.gl/SOKjXw</a> </p>
        <p>Oyster will continue to be available, with contactless payments being another option that lets customers travel without the need to top up Oyster credit. The next part of TfL's plans to revolutionise ticketing concentrate on how the benefits of contactless can be brought to Oyster, to ensure all customers experience the same convenience.</p>
         
        <hr />
         
        <p>Notes to Editors:</p>
        <ul>
            <li>More information on contactless payments for transport in London can be found at <a href="http://www.tfl.gov.uk/contactless">www.tfl.gov.uk/contactless</a> </li>
            <li>All UK issued contactless American Express, MasterCard or Visa credit, debit, pre-paid cards will be accepted for contactless payments. Other methods of contactless payment that meet financial industry standards, including mobile phones, may also be accepted. Some non-UK cards may not be accepted, card holders should check the TfL website before attempting to use them for travel.</li>
            <li>London Buses have been accepting contactless since December 2012. In April 2014 a pilot of the contactless system involving around 5,000 customers started on the Tube and rail network.</li>
            <li>For customers making several rail journeys or a mixture of rail, bus and tram journeys in one day, capping is usually better value than buying a Day Travelcard. The Monday to Sunday cap is available for journeys made between 0430 on Monday and 0429 the following Monday. </li>
            <li>There are currently 652 stations that accept Oyster on Tube, Tram, DLR, Overground and National Rail stations</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-September-More than 128,000 contactless payments made -->

 
 
        
        
            @{ViewBag.Description = "More than 128,000 contactless payments made";}
        
        


 