


@{ViewBag.Title = "New research points to improved HGV safety";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New research points to improved HGV safety</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New research points to improved HGV safety</h1>
        <div class="content-page-press-release">
        24 September 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL funded research shows that increasing drivers' direct vision can improve HGV safety
        
    </div>



 <div class="on-this-page">

        <p>Leading UK academics have presented
        revolutionary, but achievable, changes to lorry designs which could save the
        lives of countless pedestrians, cyclists and motorists.
        &nbsp;
        </p>
        <p>As part of Transport for London's
        (TfL's) work to lead the way to improve safety for all road users, the
        Loughborough Design School, a school of the University of Loughborough, was
        commissioned to show that realistic and economical changes to HGV cab designs
        can lead to tangible increases in the road safety of the roads for all. </p>
        <p>The
        project was joint funded by TfL and Transport &amp; Environment (T&amp;E), a
        campaign group arguing for smarter, greener transport in Europe.
        &nbsp;
        </p>
        <p>The average cyclist is invisible to
        the eye of an HGV driver up to 1.9m from the base of the cab. </p>
        <p>These blind spots
        are the result of an outdated cab design. Reducing these areas reduces the risk
        to road users. </p>
        <p>Over the past few decades, there has been little improvement to
        the amount of direct vision to HGV drivers. Attempted solutions to address
        blind spot issues have previously been to increase the size and number of
        mirrors, however, it is increased direct vision that holds the key to improved
        road safety.
        &nbsp;
        </p>
        <p>Using recently proposed changes to the
        length of HGVs by the EU Commission, Loughborough Design School demonstrated
        the improvements possible to an expert panel in Brussels earlier this month.
        The achievable changes can result in significant improvements to the amount of
        direct vision in an HGV that a driver has of their surroundings, and in particular
        to the vital areas close to the cab. </p>
        <p>The 'direct vision concept' that
        Loughborough have recommended would include a slightly curved and elongated
        nose on the vehicle, a smaller dashboard, expanded glazed areas in the
        passenger doors and corner of the cab and a slightly lower cab.
        &nbsp;
        An
        improved HGV drivers cab with more direct vision and an increased aerodynamic
        front provides better safety and reduced costs to the operator. </p>
        <p>The appetite
        for these changes exists across the industry from hauliers and trade unions, to
        cities and safety groups. Poor driver vision and lorry blind spots are a major
        cause of fatal accidents involving HGVs. Between 2008 and 2013, large
        commercial vehicles were involved in 55 per cent of London cyclist deaths,
        despite making up only 4 per cent of the traffic. </p>
        <p>The relatively small changes
        in design that the University of Loughborough have recommended will
        dramatically increase the drivers' direct vision in critical areas, potentially
        saving hundreds of lives.
        &nbsp;
        </p>
        <p>Leon
        Daniels, Managing Director of Surface Transport at TfL, said: `We are committed
        to improving road safety for everyone. We have led the way with the proposed
        Safer Lorry Scheme and the introduction of the Construction Logistics and
        Cyclist Safety programme, all of which will improve the safety of the roads
        beyond our capital.
        &nbsp;
        </p>
        <p>`From
        walkmans to iPhones, technology has moved on leaps and bounds since the 1980s,
        but HGV drivers are still in cabs that have seen very little improvement in
        direct vision for decades. Thanks to our funding, a leading UK academic
        institution has demonstrated to Europe how the vehicle manufacturing industry
        can continue to progress. Improved and increased direct vision will benefit
        all. Safety will be improved, efficiencies
        will be made and lives will be saved.` </p>
        <p>William
        Todts, senior policy officer of T&amp;E, said: `Not only drivers, but
        politicians too need vision. It simply makes no sense to allow gigantic 40ton
        mammoths on our roads without making sure the people behind the wheel actually
        see what's going on. After decades of tinkering with mirrors, we need improved
        direct vision for new lorry designs to save hundreds of lives and to make roads
        a safer place for all.`&nbsp;
        </p>
        <p>Dr.
        Steve Summerskill, project lead of 'Direct Vision' concept for Loughborough
        Design School, said: `Blind spots can be a significant factor in fatal
        accidents with lorries.The study shows that the size of these blind spots can
        be minimised through improved cab design, the reduction of cab height and the
        addition of extra windows.` </p>
        <p>One
        of TfL's top priorities is to reduce the number of people killed or seriously
        injured on London's roads, with a target of a 40 per cent reduction by 2020.
        Recently, the Mayor and TfL published six commitments which, working with a range
        of partners, are guiding initiatives to deliver this. In particular, action is
        being taken to prioritise the safety of the most vulnerable road users:&nbsp;
        pedestrians, cyclists and motorcyclists.
        &nbsp;
        </p>
        <p>TfL
        has been leading the way in improving road safety in relation to the
        construction industry and ensuring that all operators are working at a level
        playing field. </p>
        <p>Launched in 2013 as an industry response to a TfL commissioned
        report, the Construction Logistics and Cyclist Safety (CLOCS) programme has
        brought together developers, construction companies, operators, vehicle
        manufacturers and regulatory bodies to ensure a road safety culture is embedded
        across the construction industry.
        &nbsp;
        </p>
        <p>Significant
        achievements have already been made through CLOCS, including the first national
        standard designed to help reduce collisions between trucks and all vulnerable
        road users such as cyclists, pedestrians and motorcyclists - The Standard for
        construction logistics: Managing work related road risk. Further information
        about CLOCS is available at: <a href="http://www.clocs.org.uk">www.clocs.org.uk</a></p>
         
        <hr />
         
        <ul>
            <li>The ongoing study by the Loughborough Design School has
            been part funded by TfL and Transport &amp; Environment, and aims to
            evaluate current blind spots in CAT. N3 vehicles and how they correlate to
            accidents and produce a number of iterations of the FKA concept vehicle to
            improve direct vision in a real world situation. The FKA concept vehicle
            is an aerodynamic lorry concept which was developed by the University of
            Aachen.</li>
            <li>Transport and Environment work to promote, at EU and
            global level, a transport policy based on the principles of sustainable
            development whilst guaranteeing the safety and sufficient access for
            all.&nbsp; The University of Loughborough, and its Design School
            in particular, is a leading authority in the field of direct vision. Its
            work underpinned the UK's 2011 amendment to United Nations Economic
            Commission for Europe Regulation 46 regulating lorry mirrors.&nbsp; A detailed brief of the study into increased direct
            vision can be found here: <a href="http://transenv.eu/directvision">http://transenv.eu/directvision</a></li>
            <li>Images of the proposed cabs are available from TfL
            Press Office.</li>
            <li>TfL and London Councils have recently consulted on the
            Safer Lorries Scheme, which will see a ban on lorries that do not have
            safety equipment to protect cyclists and pedestrians from the capital's
            streets. For more information on the Safer Lorry Scheme, go to: https://consultations.tfl.gov.uk/buses/safer-lorries
            More information about the Construction Logistics and
            Cyclists Safety programme can be found here: <a href="http://www.clocs.org.uk">www.clocs.org.uk</a></li>
            <li>CLOCS
            Workstream 1 aims to stimulate the design of safer new vehicles with maximum
            direct driver vision, reducing reliance on mirrors and retrofit safety
            technology. Informed by research into blind spots and vehicle design and
            working with vehicle operators to define requirements, CLOCS Workstream 1 is
            challenging vehicle manufacturers and regulatory bodies to improve the design
            of construction vehicles. Information on CLOCS Workstream 1 can be found here: <a href="http://www.clocs.org.uk/workstream-one/">http://www.clocs.org.uk/workstream-one</a></li>
            <li>The Standard for Construction Logistics: Managing Work
            Related Road Risk can be found <a href="http://www.clocs.org.uk/wp-content/uploads/2014/09/CLOCS-Standard-v1.2.pdf">here</a></li>
            <li>The Industrial HGV Task Force is made up of TfL, City of
            London Police, Metropolitan Police Service and the Driver Vehicle
            Standards Agency. It is a London-based dedicated task force aimed at
            driving a reduction in the minority of non-compliant vehicles, drivers and
            operators using London's roads through intelligence-led enforcement actionOperation Safeway is a combination of enforcement and
            education about the rules of the roads for all road users. This targeted
            operation is joint work with the Police and other enforcement agencies.</li>
            <li>In
            June 2013, the Mayor and Transport for London published Safe Streets for
            London: an ambitious and comprehensive plan to reduce further the number of
            people killed or seriously injured in London by 40 per cent by 2020:&nbsp; <a href="http://www.tfl.gov.uk/cdn/static/cms/documents/safe-streets-for-london.pdf">http://www.tfl.gov.uk/cdn/static/cms/documents/safe-streets-for-london.pdf</a></li>
            <li>In
            February 2014 the Mayor and TfL published six safety commitments, which
            supports the plan and brings focus to the range of actions needed by us and our
            partners to make our streets safer:&nbsp; <a href="http://www.tfl.gov.uk/cdn/static/cms/documents/safe-london-streets-our-six-road-safety-commitments.pdf">http://www.tfl.gov.uk/cdn/static/cms/documents/safe-london-streets-our-six-road-safety-commitments.pdf</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
        </ul>
        <p>
        The
        six key commitments are:&nbsp; </p>
        <p>
        1.&nbsp;&nbsp;&nbsp;
        To
        lead the way in achieving a 40 per cent reduction in the number of people
        killed or seriously injured on the capital's roads by 2020 - with a longer term
        ambition of freeing London's roads from death and serious injury;
        </p>
        <p>2.&nbsp;&nbsp;&nbsp;
        To
        prioritise safety of the most vulnerable groups - pedestrians, cyclists and
        motorcyclists - which make up 80 per cent of serious and fatal collisions;
        </p>
        <p>3.&nbsp;&nbsp;&nbsp;
        To
        provide substantial funding for road safety, invested in the most effective and
        innovative schemes;
        </p>
        <p>4.&nbsp;&nbsp;&nbsp;
        To
        increase efforts with the police and enforcement agencies in tackling illegal,
        dangerous and careless road user behaviour that puts people at risk;
        </p>
        <p>5.&nbsp;&nbsp;&nbsp;
        To
        campaign for changes in national and EU law to make roads, vehicles and drivers
        safer; </p>
        <p>
        6.&nbsp;&nbsp;&nbsp;
        To
        work in partnership with boroughs and London's road safety stakeholders to
        spread best practice and share data and information.</p>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-September-New research points to improved HGV safety -->

 
 
        
        
            @{ViewBag.Description = "TfL funded research shows that increasing drivers’ direct vision can improve HGV safety";}
        
        


 