


@{ViewBag.Title = "Old Oak Consultation";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Old Oak Consultation</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Old Oak Consultation</h1>
        <div class="content-page-press-release">
        22 September 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Consultation begins on new London Overground station at Old Oak
        
    </div>



 <div class="on-this-page">

        <ul>
            <li>Major station interchange required to link London Overground, Crossrail and HS2 rail services</li>
            <li>Local rail connections needed to support Mayor's vision for 24,000 new homes and 55,000 new jobs in West London</li>
            <li>New station will improve connectivity to Crossrail 1 and High Speed 2 services and reduce journey times and relieve pressure on central London stations</li>
            <li>Regeneration of the area will be boosted with up to 250,000 more people able to access new jobs in the area</li>
        </ul>
        <p>Transport for London's (TfL) public consultation on plans for a new London Overground station to support new rail infrastructure and regeneration at Old Oak in west London will open on Monday (September 22).</p>
        <p>Old Oak is designated as an Opportunity Area in the Mayor's London Plan, with the potential to create 55,000 jobs and 24,000 homes. Improved local transport infrastructure, including connections to the London Overground network, is essential to support this level of regeneration and will enable up to 250,000 more people to be within an hour's journey of Old Oak, providing them with access to new jobs in the area. The proposals will improve local rail connections as well as alternative options to link with Crossrail 1 and High Speed 2 helping reduce pressure on central London stations. </p>
        <p>The proposed HS2, National Rail and Crossrail station will be used by up to 250,000 passengers a day, as many as use Waterloo, and will link two of the country's key rail arteries. To support local development around it, it is critical that improved links between London Overground and the nearby rail networks are made.</p>
        <p>The Mayor is also consulting on proposals to create a new Mayoral Development Corporation (MDC) for Old Oak Common and Park Royal. The proposed MDC will look to emulate the success of the London Legacy Development Corporation that continues to lead the post-Olympic regeneration of Stratford and east London. </p>
        <p>The Mayor of London, Boris Johnson said: </p>
        <p>'The arrival of Crossrail and HS2 provides a once-in-a-lifetime opportunity to transform Old Oak into a vibrant new neighbourhood for west London. It's crucial that we get peoples' views about the creation of a fantastic new transport-hub that would see Crossrail and HS2 linked in with a brand new London Overground connection. This vital interchange will catalyse the Old Oak area, taking it from a derelict wasteland into a new city quarter for Londoners and visitors to the capital.'</p>
        <p>TfL's Managing Director of Planning, Mich&egrave;le Dix, said: </p>
        <p>'This is an opportunity for locals and rail passengers to have input into a strategic rail interchange for west London. We're looking at three options for the location of a London Overground station at Old Oak and want to hear people's views on these proposals. &quot;The interchange would improve connectivity, reduce journey times as well as congestion at central London stations and support the regeneration of the Old Oak area.'</p>
         
        <p>TfL is seeking views on the following three options for a new London Overground station at Old Oak:</p>
        <p>Option A: London Overground's Clapham Junction to Stratford services diverted to run on a new viaduct. A new station would be built on London Overground's Richmond to Stratford route, adjacent to Old Oak Common Lane, with access to a proposed HS2 station (to the east) and Victoria Road (to the west).</p>
        <p>Option B: London Overground services would be diverted to run on existing freight lines into a new station on the London Overground Richmond to Stratford route, with access to the proposed HS2 station (to the east) and Victoria Road (to the west). </p>
        <p>Option C: This option would involve the creation of two new stations. A new station would be built on London Overground's Richmond to Stratford route, adjacent to Old Oak Common Lane with a second station on London Overground's Clapham Junction to Stratford route, adjacent to Hythe Rd.</p>
        <p>A new London Overground connection in the area will provide passengers with an interchange with HS2 and Crossrail services making journeys easier. Further information and details of how to respond to the consultation are available here <a href="http://www.tfl.gov.uk/old-oak">www.tfl.gov.uk/old-oak</a> </p>
        <p>TfL is also holding drop-in sessions where staff will be available to answer questions from members of the public. The sessions will be held at:</p>
        <ul>
            <li>Thursday 2 October (4pm-8pm) &#45; Holiday Inn Express Park Royal (opposite North Acton Tube </li>
            <li>Saturday 4 October (11am-3pm) &#45; Old Oak Community Centre (approx 10 min walk from Wells House Gardens and on the edge of the scrubs near where viaduct curve would start) </li>
            <li>Weds 8 October (4pm-8pm)- Burlington Danes Academy (on corner of Wood Lane and Du Can Road) </li>
            <li>Saturday 11 October (10am-2pm) &#45; Burlington Danes Academy</li>
        </ul>
         
        <hr />
         
        <p>Notes to Editors:</p>
        <ul>
            <li>Images of the three options are available here <a href="https://www.flickr.com/photos/tflpress/sets/72157647884971252/">https://www.flickr.com/photos/tflpress/sets/72157647884971252</a>/</li>
            <li>Examples of journey time savings that a London Overground Interchange station would create:</li>
        </ul>
        <div class="table-container"><table>
            <tbody>
                <tr>
                    <td>Option&nbsp;&nbsp; &nbsp;&nbsp;</td>
                    <td>Without Scheme&nbsp;</td>
                    <td>With Scheme&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;Richmond to Paddington</td>
                    <td>
                    <p>&nbsp;30-35 mins</p>
                    <p>1 change</p>
                    </td>
                    <td>
                    <p>&nbsp;20-25 mins</p>
                    <p>1 change</p>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;Clapham Junction to Heathrow</td>
                    <td>
                    <p>&nbsp;50-60 mins</p>
                    <p>3 changes</p>
                    </td>
                    <td>
                    <p>&nbsp;30-35 mins</p>
                    <p>1 change</p>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;West Hampstead to Heathrow</td>
                    <td>
                    <p>&nbsp;60-65 mins</p>
                    <p>2 changes</p>
                    </td>
                    <td>
                    <p>&nbsp;30-35 mins</p>
                    <p>1 change</p>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;Acton Central to Bond Street</td>
                    <td>
                    <p>&nbsp;35-40 mins </p>
                    <p>2 changes</p>
                    </td>
                    <td>
                    <p>&nbsp;20 &#45; 25 mins</p>
                    <p>1 change</p>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;Willesden Junction to Liverpool Street</td>
                    <td>
                    <p>&nbsp;35 &#45; 40 mins</p>
                    <p>1 change</p>
                    </td>
                    <td>
                    <p>&nbsp;25 &#45; 30 mins</p>
                    <p>1 change</p>
                    </td>
                </tr>
            </tbody>
        </table></div>
         
        <ul>
            <li>This is another phase in the growth of the top-performing and very popular London Overground service, which is adding an extra fifth carriage to its four-carriage trains to increase its capacity by 25 per cent by the end of 2015.</li>
            <li>The new 'super hub' High Speed 2 (HS2), National Rail and Crossrail Station is due to be built at Old Oak by 2026.</li>
            <li>Research from the Mayor's Office indicates that the entire regeneration scheme could be worth up to &pound;6.2 billion for the London economy, with the potential for Old Oak to supply up to 2.5 per cent of the Greater London housing requirement and almost 14 per cent of Greater London's employment need up to 2031. Some 950 acres of industrial land is available for regeneration.</li>
            <li>Research indicates that a London Overground station at Old Oak is essential in order to achieve the wider plans for 55,000 jobs and 24,000 homes in the Old Oak Opportunity Area.</li>
            <li>The plans have been developed working with Network Rail.</li>
            <li>To access the Old Oak &#45; Mayor's Development Corporation consultation please visit <a href="https://consultations.tfl.gov.uk/general/old-oak-mayors-development-corporation">https://consultations.tfl.gov.uk/general/old-oak-mayors-development-corporation</a>. This consultation ends on 24 September.</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-September-Old Oak Consultation -->

 
 
        
        
            @{ViewBag.Description = "Old Oak Consultation";}
        
        


 