


@{ViewBag.Title = "Over one million contactless journeys since launch";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Over one million contactless journeys since launch</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Over one million contactless journeys since launch</h1>
        <div class="content-page-press-release">
        25 September 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">

        <p>More than one million journeys have now
        been made using contactless payment cards and devices since Transport for
        London (TfL) launched the new way to pay for public transport in London last
        Tuesday, 16 September.
        &nbsp;</p>
        <p>
        Contactless payments can be made for
        travel on Tube, tram, DLR, London Overground and National Rail services that
        accept Oyster as well as London Buses.&nbsp;
        &nbsp;</p>
        <p>
        Contactless payments have been available
        on the bus network since December 2012. Since contactless payments launched
        across transport in London last Tuesday there has been a significant rise in
        bus journeys using contactless payment, with the highest being 100,000 journeys
        in a day.
        &nbsp;
        The total number of journeys on Tube and
        Rail services in London has now reached over 375,000 and the total number of
        journeys on London Buses and Trams since contactless payments launched across
        transport in London last week is now over 785,000.&nbsp;&nbsp;
        </p>
        <p>There have been over 250,000 instances
        per day of customers touching a contactless payment card or device on readers
        across transport in London. </p>
        <p>This brings the total number of times customers
        have touched in or out on the payment readers to 1.6 million since contactless
        launched last week.
        &nbsp;
        </p>
        <p>
        Contactless payments are now making up
        nearly five per cent of all pay as you go journeys on the network with the most
        popular London Underground stations for contactless currently being Canary
        Wharf, Oxford Circus, London Bridge, Victoria and Liverpool Street.
        &nbsp;
        </p>
        <p>
        Shashi Verma, TfL's Director of Customer
        Experience, said: `It is really encouraging to see over one million contactless
        journeys on transport across London in the first week. We want travelling in
        London to be as easy and convenient for our customers as possible and
        contactless is one of the steps we have taken to make that happen.`
        &nbsp;
        </p>
        <p>Using contactless payments for travel is
        really easy. Customers with a contactless payment card (debit, credit, charge
        or pre-paid cards) just simply have to touch their card on the reader. There is
        no need to sign up for an online account with TfL, but there are many benefits
        if customers choose to, including being able to see 12 months of journey and
        payment history. Customers who don't have any online account can still access
        their journey and payment history, but only for the last seven days.
        &nbsp;
        Contactless payments work in the same way
        as Oyster, charging customers an adult-rate pay as you go fare when they touch
        in and out on readers at the start and end of every journey. </p>
        <p>Customers using
        contactless payments for their travel can benefit from having their fares
        capped &#45; this automatically calculates the best fare for their contactless
        travel in a day or over a seven-day period from Monday to Sunday.
        &nbsp;
        Oyster will continue to be available,
        with contactless payments being another option that lets customers travel
        without the need to top up Oyster credit. The next part of TfL's plans to
        revolutionise ticketing concentrate on how the benefits of contactless can be
        brought to Oyster, to ensure all customers experience the same convenience. </p>
        <p>
        Four customers who are using contactless
        to travel in London talk about why it is the best way to pay for their travel
        here:</p>
        <ul>
            <li>Kanji Kerai, 55 years old, mobile
            technology engineer: <a href="http://goo.gl/kpAMS8">http://goo.gl/kpAMS8</a></li>
            <li>Harry Tabner, 26 years old, technician
            at the Royal Albert Hall: <a href="http://goo.gl/5kqoXw">http://goo.gl/5kqoXw</a></li>
            <li>Laura Smith, 30 years old, charity
            worker: <a href="http://goo.gl/eVinZh">http://goo.gl/eVinZh</a></li>
            <li>William Trump, 26 years old, insurance
            underwriter: <a href="http://goo.gl/SOKjXw ">http://goo.gl/SOKjXw</a>
            &nbsp;
            </li>
        </ul>
        <p>Card clash is being closely monitored and
        customers are being refunded when they may have accidentally touched more than
        one card on a reader and paid with a card they did not intend to use. On
        average there have been around 1,700 instances each weekday where customers may
        have accidentally paid with a contactless payment card they did not intend to
        pay with and all of these are being automatically refunded by TfL. This figure
        compares with a pre-launch estimate of around 2,000 &#45; less than 0.1 per cent of
        the smartcard rail journeys made in London every day.&nbsp;
        </p>
         
         
         
        <hr />
         
        <ul>
            <li>
            More
            information on contactless payments for transport in London can be found at www.tfl.gov.uk/contactless </li>
            <li>All UK
            issued contactless American Express, MasterCard or Visa credit, debit, charge
            or pre-paid cards will be accepted for contactless payments. Other methods of
            contactless payment that meet financial industry standards, including mobile
            phones, may also be accepted. Some non-UK cards may not be accepted, card
            holders should check the TfL website before attempting to use them for travel</li>
            <li>London
            Buses have been accepting contactless since December 2012. In April 2014 a
            pilot of the contactless system involving around 5,000 customers started on the
            Tube and Rail network</li>
            <li>For
            customers making several rail journeys or a mixture of rail, bus and tram
            journeys in one day, pay as you go is usually better than buying a Day
            Travelcard. The Monday to Sunday cap is available for journeys made between
            0430 on Monday and 0429 the following Monday</li>
            <li>There
            are currently 652 stations that accept Oyster on Tube, tram, DLR, Overground
            and National Rail services.&nbsp;</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-September-Over one million contactless journeys since launch -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 