


@{ViewBag.Title = "Pioneering event to help disabled";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Pioneering event to help disabled</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Pioneering event to help disabled</h1>
        <div class="content-page-press-release">
        11 September 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London to stage a ground-breaking exhibition next month 
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This exhibition is a chance for everyone to experience some of these innovations in a controlled environment, and to become a bit more familiar with our network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Michele Dix</div>
            <div class="quotee-job-title">Managing Director of Planning, TfL</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>Safe environment for disabled people to try out TfL network</li>
            <li>Accessibility exhibition will showcase innovation</li>
        </ul>
        <p>Transport for London (TfL) is to stage a ground-breaking exhibition next month to help more disabled and older people to get out and about on its network.</p>
        <p>The Access All Areas event will feature some of the most advanced technology in the world being developed to make it easier for everyone to get around the capital.</p>
        <p>There will be a raft of interactive exhibits including full-scale mock-ups of London Underground stations, with ramps onto trains, and 'talking' bollards giving directions to blind and visually-impaired people.</p>
        <p>Also on show will be TfL's new Innovation Bus, which alerts passengers standing on the lower deck when there are seats upstairs, which then frees space for wheelchair users downstairs.</p>
        <p>The one-day event is being held at ExCeL London, which is donating its exhibition area to TfL at no cost, on 2 October, 2014.&nbsp; The doors will be open from 0930 to 1630. Visitors can register online at <a href="http://www.tfl.gov.uk/access-all-areas">www.tfl.gov.uk/access-all-areas</a></p>
        <p>The Mayor and TfL are investing in and delivering a huge range of improvements to accessibility across TfL's road, rail and bus networks, embedding the legacy of accessible travel promised by the 2012 Games. &nbsp;The aim of the event, thought to be one of the largest of its kind ever staged, is to raise awareness of these developments and provide a safe environment for disabled people to try them out. It comes after research showed that almost two thirds (61 per cent) of London's one million disabled people would like to make more public transport journeys.</p>
        <p>Visitors will have the chance to question transport chiefs about plans to make TfL's network even easier to use, and to air any issues or concerns in a constructive way. They will also be able to take part in seminars with leaders in the transport field such as Baroness Tanni Grey-Thompson, TfL board member, London Underground managing director Mike Brown and TfL surface transport managing director Leon Daniels.</p>
        <p>The Deputy Mayor for Transport, Isabel Dedring, said: </p>
        <p>'Making London's transport network more accessible is a top priority for the Mayor. To boost accessibility we have recently introduced the UK's first bridge style ramp on the Underground and a new 'turn up and go' service on London Overground. Of course, there is still more to do and that is why we have a raft of improvements planned to make it easier to travel around the capital.'</p>
        <p>TfL's Managing Director of Planning, Michele Dix, said, </p>
        <p>'We're trying to make the TfL network more accessible every year, partly through major infrastructure change, such as putting in new lifts, where we can, but just as importantly through the applied use of new innovations such as manual boarding ramps.</p>
        <p>This exhibition is a chance for everyone to experience some of these innovations in a controlled environment, and to become a bit more familiar with our network.'</p>
        <p>Exhibitors at the show will include University College London's accessibility laboratory, PAMELA, which has been at the forefront of wheelchair design and technology. The charity Guide Dogs will also be there, to offer advice and information on the work they do to support blind and vision impaired people using London's transport system, and give people the chance to take part in a sensory experience under blindfold.</p>
        <p>Exhibitors/Participants at the show include:</p>
        <ul>
            <li>Leading train companies</li>
            <li>University College London &#45; PAMELA accessibility laboratory</li>
            <li>Transport academics, commentators and management</li>
            <li>London Councils</li>
            <li>Transport for All</li>
            <li>Guide Dogs</li>
            <li>London TravelWatch</li>
            <li>Computer Cab</li>
            <li>National Express</li>
        </ul>
        <p>Visitors may wish to arrive sooner rather than later &#45; earlybirds will be eligible for free tickets for the fully accessible Emirates Air Line cable car.</p>
         
        <hr />
         
        <p>Notes to Editors:</p>
        <ul>
            <li>You can view and download a poster for the event here <a href="https://www.flickr.com/photos/tflpress/sets/72157647073544208/">https://www.flickr.com/photos/tflpress/sets/72157647073544208/</a> </li>
            <li>28 more London Underground and London Overground stations to become step-free over the next ten years, as well as dozens of National Rail stations and accessible Crossrail stations in the heart of the city; we expect the number of journeys made by step-free routes each year will almost treble, from 77 million at present (2014) to 227 million in 2023.</li>
            <li>A &pound;250 million investment in step-free projects at stations including Bond Street, Greenford, Tottenham Court Road, Vauxhall, Victoria and Finsbury Park.</li>
            <li>75 per cent of all London bus stops have been fully accessible since April this year, with at least 95 per cent fully accessible by the end of 2016, bringing even greater ease of use to a bus network that is already the most accessible in the country;</li>
            <li>On-board audible and/or visual announcements are used across our bus and rail networks to help people with sight and/or hearing loss.</li>
            <li>The remaining five per cent of pedestrian crossings yet to be brought up to accessibility standards to be upgraded with tactile paving, rotating cones or audible alerts.&nbsp; A total of 39 sites will be upgraded by March, with 100 per cent to be accessible by 2016.</li>
            <li>Further improvements include permanent level access at new stations, permanent raised platform sections, low-floor trains and boarding ramps making getting around the network much easier.&nbsp; By 2016, a third of Tube platforms will have level access by one of these means, up from 15 per cent last year.&nbsp; More step-free projects are being progressed with third party developers and additional stations are being made partially step-free.&nbsp;</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-September-Pioneering event to help disabled -->

 
 
        
        
            @{ViewBag.Description = "Pioneering TfL event to help disabled travel more";}
        
        


 