


@{ViewBag.Title = "Redevelopment of West Croydon bus station ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Redevelopment of West Croydon bus station </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Redevelopment of West Croydon bus station </h1>
        <div class="content-page-press-release">
        29 September 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passengers to reap benefits of a new, modern and accessible bus station
        
    </div>



 <div class="on-this-page">

        <p>Major works to completely transform the site of West Croydon bus
        station begin on Saturday (4 October) as part of a continuing &pound;50m investment
        to improve the town's public realm and transport infrastructure.
        &nbsp;
        </p>
        <p>Transport for London (TfL) has worked closely with Croydon Council
        to develop the plans, which are fully integrated with the 'Connected Croydon'
        urban realm development programme. </p>
        <p>Supported by an &pound;18m investment by the Mayor
        of London, 'Connected Croydon' is a &pound;50m programme of high street, public space
        and transport improvements to transform the town centre by creating a more
        attractive environment to live, work, socialise and do business.
        Around eight million passengers use West Croydon bus station each year and the
        improvement plans, which include better lighting and a more spacious
        environment with better customer information systems, have been developed
        specifically with them in mind. </p>
        <p>The works are scheduled to end in early 2016
        after which bus passengers will benefit from a number of other improved
        facilities, such as fully accessible bus stops and modern CCTV coverage for
        continued passenger safety.
        &nbsp;
        The bus station, built in 1983, is used by 150 buses per hour and
        is a popular interchange between Croydon Tramlink, London Overground and buses.
        </p>
        <p>The new design will also enable it&nbsp; to manage a 20 per cent increase in
        passenger footfall, anticipated as a result of town centre improvements by the
        London Borough of Croydon.
        Bus passengers travelling through or near the bus station will see changes to
        their bus routes from Saturday 4 October as the works get underway.
        &nbsp;</p>
        <p>
        Passengers are encouraged to plan ahead
        and the works will affect local bus routes as follows:
        No buses will serve the
        bus station itself during the closure;The last bus stop for
        buses that currently terminate at the bus station will be on St Michael's
        Road &#45; a two minute walk away. (Routes 154, 166, 194, 367, 403, 405, 412,
        450, 689, T33);</p>
        <p>Buses that normally
        stop at the bus station will pick up from the next available stop on line
        of route during the closure;Buses that currently
        serve the bus station from Tamworth Road will be diverted by Poplar Walk
        and resume normal line of routing. Routes 264, 407, and 410 will pick up
        and drop passengers at Poplar Walk. Routes 157 and 455 will stop at
        Wellesley Road.
        &nbsp;
        </p>
        <p>Dana Skelley, TfL's Director of Asset Management, said: `Our
        passengers are very much at the heart of this redevelopment. The transformation
        of West Croydon bus station means that they will see significant improvements
        in the long term. We apologise in advance to any of our passengers who may be
        inconvenienced by these works.`
        &nbsp;
        </p>
        <p>Councillor Toni Letts, Croydon Council's cabinet member for economic
        development, said: `The redevelopment of West Croydon bus station is a key part
        of our plans to regenerate the town centre.&nbsp;
        As a result of the
        improvements we are making to Croydon, there will be more people coming to
        visit. Therefore it's essential we have the right transport infrastructure in
        place to meet this demand.`&nbsp;
        </p>
        <p>Additional staff will be at the bus station prior to, and after
        the closure, to help passengers plan their journey.
        &nbsp;
        Details of stopping arrangements and route changes during the
        works will also be available at local bus stops and on the Transport for London
        (TfL) website &#45; www.tfl.gov.uk/west-croydon-buses </p>
         
         
         
        <hr />
         
        <ul>
            <li>Images of how West Croydon
            Bus Station will look following its transformation are available from: <a href="https://www.flickr.com/photos/tflpress/sets/72157644759446164/">https://www.flickr.com/photos/tflpress/sets/72157644759446164/</a>
            </li>
            <li>Currently 23 bus routes
            serve the station, nine of which terminate there. The bus station
            currently has capacity for 14 buses to stand.</li>
            <li>The proposed layout
            will perform better than the current layout even with a 20 per cent
            increase in passenger numbers. </li>
            <li>Part of the redevelopment
            will also include a retail unit. All income generated by TfL will be
            reinvested in the transport network for the benefit of customers.</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-September-Redevelopment of West Croydon bus station  -->

 
 
        
        
            @{ViewBag.Description = "Passengers to reap benefits of a new, modern and accessible bus station";}
        
        


 