


@{ViewBag.Title = "Share a #HomeSafeSelfie - Safer Travel at Night";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Share a #HomeSafeSelfie - Safer Travel at Night</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Share a #HomeSafeSelfie - Safer Travel at Night</h1>
        <div class="content-page-press-release">
        25 September 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL asks people to share a #HomeSafeSelfie to promote Safer Travel at Night
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We hope that through this #HomeSafeSelfie social media campaign and print and online advertising, we will encourage people to stop using un-booked minicabs, which are both illegal and unsafe"</div>
        <div class="quote-footer">
            <div class="quotee-name">Steve Burton</div>
            <div class="quotee-job-title">Director of Enforcement and On-street Operations at TfL</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>People encouraged to share a 'selfie' via social media
            when they arrive home after a night out</li>
            <li>Safer Travel at Night campaign to raise awareness of
            the dangers of taking un-booked, illegal minicabs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </li>
            <li>Celebrities including London singer-songwriter, Little
            Nikki, and Cuckoo and Doctor Who actress, Holly Earl, pledge their support for #HomeSafeSelfie
            &#45; posting selfies
            on Twitter and Instagram
            </li>
        </ul>
        <p>Transport for London (TfL) is encouraging people to
        take and share a #HomeSafeSelfie and pledge to never take an illegal minicab
        home, as part of its latest Safer Travel at Night campaign.
        </p>
        <p>People
        are encouraged to help stop the use of un-booked,
        illegal minicabs by
        posting a selfie &#45; a photo of themselves via social media - when they're home
        safe after a night out using the hashtag #HomeSafeSelfie. TfL wants to tap into the trend of
        friends and particularly young women texting each other to say they are home
        safe and is urging them to also post a selfie and pledge that they won't take
        illegal minicabs home.
        </p>
        <p>TfL's
        Safer Travel at Night (STaN) initiative is a partnership between the Mayor,
        Transport for London, Metropolitan Police Service, the City of London Police
        and the British Transport Police set up to
        improve the safety of travelling at night through industry
        regulation and licensing, enforcement and education. </p>
        <p>The 2014 Safer Travel at Night campaign aims to make people aware of the dangers of
        picking up un-booked minicabs off the street, such as robbery
        and sexual assault.
        &nbsp;
        In 2013/14 the number
        of cab related sexual offences in London fell by 15 per cent compared to the
        previous year, with specific rape offences down 30 per cent. </p>
        <p>However, one
        incident is too many and the Safer Travel at Night initiative is dedicated to
        driving this down further. Over 700 arrests were made in 2013/14 for illegal
        touting for hire, and over 8,000 since 2003. Through Safer Travel at Night and #HomeSafeSelfie TfL wants to remind everyone
        that: </p>
        <ul>
            <li>A minicab that has a licence or sticker in the window
            (or a driver who has a badge) still needs to be booked in advance with a
            licensed minicab
            firm;</li>
            <li>You should never take a minicab offered by a bouncer
            or someone in a high visibility jacket with a clipboard outside a venue;</li>
            <li>A minicab driver that approaches you directly on the
            street is acting illegally; </li>
            <li>If you approach a minicab directly, only the driver
            knows where you're going, which isn't safe;</li>
            <li>If any of the above takes place your minicab isn't
            booked and therefore is not safe and illegal
            </li>
        </ul>
        <p>Steve Burton, Director
        of Enforcement and On-street Operations at TfL, said; `Working closely with our
        policing partners we work throughout the year and particularly over the busy
        festive period to tackle illegal touting. We hope that through this #HomeSafeSelfie
        social media campaign and print and online advertising, we will encourage
        people to stop using un-booked minicabs, which are both illegal and unsafe.'&nbsp;
        </p>
        <p>Chief
        Superintendent Matt Bell, from the Metropolitan Police Service Roads and
        Transport Policing Command, said: `Thousands of young people in the capital
        take cabs home after nights out, but it is not worth the risk of getting into
        un-booked minicabs picked up off the street. Any minicab journey that isn't
        booked is dangerous and puts you at risk of sexual attack. I would urge
        everyone to help us encourage safe journeys. They can help spread the word
        through a #HomeSafeSelfie and further reduce illegal minicab drivers and
        promote safe travel at night.'
        </p>
         
         
        <p>A
        number of celebrities are supporting the Safer Travel at Night and #HomeSafeSelfie
        campaign including singer-songwriter, Little Nikki, and
        Cuckoo and Doctor Who actress, Holly Earl, who have already posted
        selfies to their Twitter and Instagram followers.
        Other celebrities including X Factor star, Amelia Lily and Some Girls actress Adelayo Adedayo are
        also keen to encourage their fans to stop using unbooked minicabs and will post
        their selfies soon. TfL is asking people to get involved by sharing their
        selfies via Twitter, Facebook or Instagram with the campaign hashtag.
        TfL offers a free-to-download Cabwise
        app, which provides a quick and easy way to book a licensed minicab and get
        home safely. For more information on Safer Travel at Night or TfL's Cabwise app
        visit www.tfl.gov.uk</p>
         
        <hr />
         
         
        <ul>
            <li>TfL's
            Taxi and Private Hire Compliance Officers work closely with TfL funded Cab
            Enforcement Officers in the MPS and City of London Police. They undertake joint
            operations on a regular basis informed by the latest&nbsp;intelligence on
            cab-related offending including cab-related sexual offences, touting and
            unlawful plying for hire. They also cooperate with clubs to crackdown on the
            touts who operate in the area and ensure compliance with regulations and
            importantly enhance the safety of the travelling public</li>
            <li>TfL
            has consistently argued for tougher penalties for taxi touting and has been
            successful in persuading the&nbsp;Home Office and the Crown Prosecution Service
            to take touting more seriously resulting in&nbsp;touting being designated a
            recordable offence.&nbsp; This allows fingerprints and DNA samples to be
            collected which in turn can lead to the resolution of past or future crimes
            where DNA is available. TfL continues to push for stronger penalties for
            touting and for&nbsp;unlawful plying for hire offences including vehicle
            seizure and automatic driver licence disqualification.
            &nbsp; </li>
            <li>TfL
            has developed an online reporting tool for the taxis and PHV trades to report
            intelligence on touting, illegal plying for hire and other non-compliance. This
            is used to inform police and TPH staff deployments</li>
            <li>Officers
            are out in London every evening and across the weekends. Plain clothes patrols
            are complemented with regular large scale operations such as Operation Safer
            Travel at Night (STAN) which coincides with the main bursts of STAN marketing
            activity</li>
            <li>In 2013/14 the number
            of cab related sexual offences in London were over 40 per cent lower than they were in
            2002/03 when the Safer Travel at Night initiative
            began with the number of rape offences almost halved over the same period.</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-September-Share a #HomeSafeSelfie - Safer Travel at Night -->

 
 
        
        
            @{ViewBag.Description = "TfL asks people to share a #HomeSafeSelfie to promote Safer Travel at Night";}
        
        


 