


@{ViewBag.Title = "TfL shows support for Rainbow Laces";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL shows support for Rainbow Laces</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL shows support for Rainbow Laces</h1>
        <div class="content-page-press-release">
        11 September 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Arsenal Underground station is set to host its first ever rainbow zebra crossing<BR>
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We're delighted that Transport for London is backing gay football fans and players by throwing their weight behind the #RainbowLaces campaign. We've been overwhelmed by the positive support from individuals and organisations who are all keen to kick homophobia out of our national game"</div>
        <div class="quote-footer">
            <div class="quotee-name">Richard Lane</div>
            <div class="quotee-job-title">Media Manager, Stonewall</div>
        </div>
</div>

 <div class="on-this-page">

        <p>Arsenal Underground station is set to host its first ever rainbow zebra crossing as part of Transport for London's (TfL's) support for leading gay equality charity, Stonewall's 2014 Rainbow Laces campaign to kick homophobia out of football. </p>
        <p>The rainbow crossing is in place outside the entrance to Arsenal Tube station until Sunday 14 September and Arsenal and Manchester City fans arriving at the station on Saturday for one of the biggest Premiership clashes of the season will have the opportunity to be photographed as they walk across the colourful crossing.</p>
        <p>Stonewall's Rainbow Laces campaign will see footballers across England don rainbow-coloured laces on their boots this weekend. </p>
        <p>The laces highlight that homophobic, biphobic and transphobic abuse will not be tolerated in sport. People are encouraged to show their support via social media using the official campaign hashtag #RainbowLaces.</p>
        <p>Richard Lane, Stonewall Media Manager, said: </p>
        <p>'We're delighted that Transport for London is backing gay football fans and players by throwing their weight behind the #RainbowLaces campaign. We've been overwhelmed by the positive support from individuals and organisations who are all keen to kick homophobia out of our national game.'</p>
        <p>Transport for London is committed to championing equality and eliminating discrimination. It has a lesbian, gay, bisexual and trans (LGBT+) network that is actively involved in community events and projects celebrating the diversity of staff, customers and families. In the past year alone, TfL has distributed Stonewall's visitor guides to the city via Travel Information Centres, run an inaugural Trans event, and installed the capital's first rainbow zebra crossing for Pride in London. A London bus also featured in the Pride London march this year and TfL branded 75 Barclays Cycle Hire bikes with a special 'Ride with Pride' logo during Pride week.</p>
        <p>Martyn Loukes, Chair of TfL's LGBT+ Network, said: </p>
        <p>'We are delighted to support Stonewall's Rainbow Laces campaign. We hope that by installing a rainbow crossing, a symbol of diversity across the world, outside one of our busiest Tube stations we will create further awareness for the campaign.'</p>
         
        <hr />
         
        <p>Notes to Editors:</p>
        <ul>
            <li>Images of the rainbow crossing in situ outside the entrance to Arsenal underground station are available here <a href="https://www.flickr.com/photos/tflpress/sets/72157647492651455/">https://www.flickr.com/photos/tflpress/sets/72157647492651455/</a> &nbsp;</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-September-TfL shows support for Rainbow Laces -->

 
 
        
        
            @{ViewBag.Description = "TfL shows support for Rainbow Laces";}
        
        


 