


@{ViewBag.Title = "TfL welcomes opinion of Advocate General";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL welcomes opinion of Advocate General</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL welcomes opinion of Advocate General</h1>
        <div class="content-page-press-release">
        25 September 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London welcomes opinion of Advocate General on bus lane policy - Decision from European Court of Justice expected later this year<BR>
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our policy on bus lanes was upheld by the High Court.  We welcome the opinion from the Advocate General and now await the decision of the European Court of Justice and Court of Appeal.  As this process continues we are maintaining our well-understood and effective policy that helps to keep London moving in the interest of everyone"</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">Managing Director of Surface Transport, TfL</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>Case will ultimately be referred back to UK's Court of Appeal </li>
        </ul>
        <p>Transport for London (TfL) has today welcomed the opinion of the Advocate General, who advises the European Court of Justice (ECJ) in Luxembourg, on the case brought by Eventech, a subsidiary of Addison Lee, that challenges TfL's policy of allowing taxis, but not private hire vehicles, to use bus lanes in the capital.</p>
        <p>Leon Daniels, TfL's Managing Director of Surface Transport, said:&nbsp; </p>
        <p>'Our policy on bus lanes was upheld by the High Court.&nbsp; We welcome the opinion from the Advocate General and now await the decision of the European Court of Justice and Court of Appeal.&nbsp; As this process continues we are maintaining our well-understood and effective policy that helps to keep London moving in the interest of everyone.</p>
        <p>'Taxis are allowed to drive in bus lanes in London because they can ply for hire, whereas minicabs cannot.&nbsp; It would be more difficult to hail a taxi, especially on a busy road, if the vehicle concerned was not near to the kerb.&nbsp; Unlike minicabs, taxis are required to be wheelchair accessible and their ability to use bus lanes is of great benefit to wheelchair users.&nbsp; Allowing tens of thousands of minicabs to drive in bus lanes would also impact on the reliability of bus services and risk inconveniencing the six and a half million passengers who travel on buses each day.'</p>
        <p>In the original Judicial Review proceedings in 2012, TfL explained to the court that taxis are allowed to drive in bus lanes because they can ply for hire, whereas minicabs cannot.&nbsp; It would be more difficult to hail a taxi, especially on a busy road, if the vehicle concerned was not near to the kerb.</p>
        <p>Mr Justice Burton agreed, noting in his judgment: </p>
        <p>'There is to my mind a clear distinction between the need of black cabs (and their passengers and the public) for them to be in the bus lanes, by way of visibility and availability of, and access to, black cabs for those hailing a cruising taxi'. </p>
        <p>He went on to note: </p>
        <p>'I consider it makes entire good sense for black cabs to be travelling in bus lanes.&nbsp; Minicabs just do not have the need to use the bus lane, and black cabs do'. </p>
        <p>The proceedings were brought by Eventech, a subsidiary of Addison Lee, against the Parking Adjudicator, which arose from Penalty Charge Notices issued by Camden Council for illegal use of the Southampton Row bus lanes.&nbsp; Both the London Borough of Camden and Transport for London were named as interested parties.&nbsp; The High Court upheld TfL's bus lanes policy in 2012 and the Court of Appeal hearing took place in April 2013.&nbsp; The Court has decided to refer the issue of state aid to the ECJ. &nbsp;</p>
        <p>There are around 23,000 licensed taxis in London and approximately 53,000 licensed minicabs in the capital.</p>
         
        <hr />
         
        <p>Notes to editors:</p>
        <ul>
            <li>The Advocate General's opinion can be found at: <a href="http://curia.europa.eu/juris/document/document.jsf?text=&docid=157944&pageIndex=0&doclang=EN&mode=req&dir=&occ=first&part=1&cid=186707">http://curia.europa.eu/juris/document/document.jsf?text=&amp;docid=157944&amp;pageIndex=0&amp;doclang=EN&amp;mode=req&amp;dir=&amp;occ=first&amp;part=1&amp;cid=186707</a>&nbsp;</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-September-TfL welcomes opinion of Advocate General -->

 
 
        
        
            @{ViewBag.Description = "Transport for London welcomes opinion of Advocate General on bus lane policy - Decision from European Court of Justice expected later this year";}
        
        


 