


@{ViewBag.Title = "TfL welcomes suspension of bus industrial action";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL welcomes suspension of bus industrial action</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL welcomes suspension of bus industrial action</h1>
        <div class="content-page-press-release">
        18 September 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL welcomes suspension of industrial action on London United bus services on Friday 19 September
        
    </div>



 <div class="on-this-page">

         
        <ul>
            <li>Strike action on Monday 22 September is still scheduled to go ahead</li>
            <li>Bus services in south west London, operated by London United, could still be severely disrupted by a 24 hour strike and some services may not run on Monday 22 September</li>
            <li>Some bus routes into central London &#45; including the 9/N9, 10, 94, 148 and C1 &#45; also affected</li>
            <li>Affected passengers urged to use other transport services, walk or cycle where possible</li>
            <li>Passengers should check before travelling at <a href="http://www.tfl.gov.uk/modes/buses/?cid=fs013">www.tfl.gov.uk/buses</a></li>
        </ul>
         
        <p>TfL has welcomed news that a strike planned for tomorrow (Friday 19 September) by members of the Unite union, who work for London United, has been suspended, following an agreement to go to ACAS for talks.</p>
        <p>A second 24-hour strike, due to take place on Monday 22 September, is still scheduled to take place.</p>
        <p>The strike, which is planned to take place between 00:01 and 23:59 on Monday 22 September, will affect bus services in south west London on Monday 22 September and night bus services on Monday into the early hours of Tuesday 23 September.</p>
        <p>Bus services during the day on Tuesday 23 September should operate as normal.</p>
        <h2>Other companies unaffected</h2>
        <p>Bus services operated by other companies across the capital are unaffected and will operate a normal service.</p>
        <p>The planned strike action will affect bus routes in south west London but also some routes into central London, including the 9/N9, 10, 94, 148 and C1.</p>
        <h2>No unnecessary disruption</h2>
        <p>Leon Daniels, TfL's Managing Director of Surface Transport, said: 'I am pleased that bus passengers in south west London will not suffer unnecessary disruption tomorrow.</p>
        <p>'I welcome Unite and London United taking this matter to ACAS and would urge them to bring it to a swift and fair resolution.</p>
        <p>'I would continue to advise passengers to check before they travel ahead of a planned second strike on Monday.</p>
        <p>'Our teams will continue to work hard to get as much information out there as possible using a variety of channels.'</p>
        <p>London United operates around 50 bus routes in London and the strike action on Monday is likely to result in severe disruption on a significant number of routes and some services not running.</p>
        <p>Some Tube services in south London are expected to be busier than normal &#45; so customers are being urged to allow a little more time to complete their journeys.</p>
        <h2>TfL is depoying extra staff</h2>
        <p>TfL is also deploying extra staff to assist passengers at various locations, including bus stops and bus stations, and to hand out walking maps.</p>
        <p>Bus drivers pay and conditions are a matter for London United and Unite to discuss, as it has been for 20 years.</p>
        <p>We are calling for Unite and London United to swiftly resolve this dispute so our passengers do not suffer unnecessary disruption.</p>
        <h2>Keeping passengers informed</h2>
        <p>TfL is keeping passengers informed of the status of their services in a range of ways. These include:</p>
         
        <ul>
            <li>Up-to-date information on bus services by route can be found at <a href="http://www.tfl.gov.uk/modes/buses/?cid=fs013">www.tfl.gov.uk/buses</a></li>
            <li>Passengers can also check for bus arrival times using the Countdown next bus arrival service online, on their mobile devices at <a href="http://www.m.countdown.tfl.gov.uk/">m.countdown.tfl.gov.uk</a> or via our SMS text service</li>
            <li>A range of easily available Apps for handheld devices now use TfL's live bus information</li>
            <li>Travel alerts will be provided through Twitter on &#64;TfLOfficial and &#64;TfLBusAlerts &#45; look out for #BusStrike</li>
            <li>TfL will also be providing information to radio and television broadcasts for use in news bulletins</li>
            <li>TfL will also have a number of additional staff across the network and at key locations to provide advice to passengers</li>
        </ul>
         
        <p>Where services are disrupted TfL urges passengers to use other transport options, or to walk or cycle where possible.</p>
        <p>The average bus journey is around 2.2 miles so many of these journeys could be made in this way.</p>
        <p>TfL has put in place a number of additional measures to help people get around and to manage disruption. These include:</p>
         
        <ul>
            <li>TfL is operating a full service across the Tube network</li>
            <li>Full services are also operating on the Docklands Light Railway, London Tramlink and London Overground networks</li>
            <li>TfL is also emailing registered bus users, who regularly travel on affected routes, advising them of the likely disruption and urging them to check before they travel</li>
        </ul>
         
         
         
        <hr />
        Notes to Editors:
         
        <ul>
            <li>London United's parent company RATP also own London Sovereign and Epsom Coaches. There will not be any disruption to bus services operated by these companies</li>
            <li>Bus routes likely to be affected by Monday's strike are:</li>
        </ul>
         
        <ul>
            <li>9 / N9 &#45; Hammersmith, Olympia, Kensington (High Street Kensington), Knightsbridge, Hyde Park Corner, Green Park, Piccadilly, Pall Mall, Trafalgar Square (Charing Cross ), Aldwych.  (24 hour service with route N9).  N9 services run beyond Hammersmith to Chiswick, Brentford, Isleworth, Hounslow, Heathrow Central then Terminal 5 where it terminates</li>
            <li>10 &#45; Hammersmith, Olympia, High Street Kensington, Knightsbridge, Hyde Park Corner, Marble Arch, Oxford Circus, Tottenham Court Road, (Goodge Street towards Kings Cross), Euston Square, Euston, King's Cross St Pancras. (24 hour service)</li>
            <li>27 &#45; Chalk Farm (Morrison's), Camden Town, Mornington Crescent, Euston Square, Warren Street, Great Portland Street, Regents Park, Baker Street, Edgware Road, Paddington, Notting Hill Gate, High Street Kensington, Olympia, Hammersmith, Ravenscourt Park, Stamford Brook, Turnham Green, Chiswick Business Park. (24 hour service)</li>
            <li>33 &#45; Hammersmith, Barnes, Barnes Common, East Sheen, Richmond, Twickenham, Waldegrave Road, Teddington, Fulwell (Stanley Road). (24 hour service)</li>
            <li>57 &#45; Kingston (Fairfield), Norbiton, Coombe Lane West, Raynes Park, Worple Road, Wimbledon, South Wimbledon, Merton, Colliers Wood, Tooting Broadway, Southcroft Road, Mitcham Lane, Streatham Hill, Clapham Park (Atkins Road). (24 hour service)</li>
            <li>65 &#45; Ealing Broadway, South Ealing, Brentford, Kew Bridge, Kew Gardens, Richmond, Petersham, Ham, Kingston, Kingston (Brook Street). Night service continues to Surbiton, Hook, Chessington North, Copt Gilders, Chessington South, Chessington (World of Adventures). (24 hour service)</li>
            <li>71 &#45; Kingston (Cromwell Road), Surbiton, Hook, Chessington North, Copt Gilders, Chessington South, Chessington (World of Adventures)</li>
            <li>72 &#45; East Acton (Brunel Road), Du Cane Road, White City, Shepherd's Bush, Hammersmith, Barnes, Barnes Common, Roehampton Lane, Queen Mary's Hospital, Roehampton (Bessborough Road). (24 hour service)</li>
            <li>81 &#45; Hounslow (London Road), Hounslow West, Cranford, Harlington Corner, Bath Road, Harmondsworth, Longford, Colnbrook High Street, Langley, Slough (Bus Station)</li>
            <li>94 &#45; Acton Green (Duke of Sussex), Turnham Green, Goldhawk Road (Askew Road), Goldhawk Road, Shepherd's Bush, Holland Park, Notting Hill Gate, Queensway, Lancaster Gate, Marble Arch, Oxford Circus, Piccadilly Circus. (24 hour service)</li>
            <li>110 &#45; Twickenham, Staines Road, Powder Mill Lane, Hanworth Road, Hounslow, Isleworth, West Middlesex Hospital</li>
            <li>111 &#45; Kingston (Cromwell Road), Hampton Court, Hampton, Nurserylands, Hanworth, Hanworth Road, Hounslow (opp Bus Station, Hounslow East, Heston, Cranford, Harlington Corner, Heathrow Airport Central. (24 hour service)</li>
            <li>116 &#45; Hounslow (London Road), Hounslow Heath, Bedfont Green, Ashford Hospital</li>
            <li>120 &#45; Hounslow Bus Station, Hounslow Central, Lampton, Heston, Norwood Green, Southall, Lady Margaret Road, Yeading, Northolt</li>
            <li>131 &#45; Kingston (Fairfield), Kingston (Cromwell Road towards Tooting only), Norbiton, New Malden, Raynes Park, Worple Road, Wimbledon, South Wimbledon, Merton, Colliers Wood, Tooting Broadway</li>
            <li>148 &#45; Camberwell Green, Elephant &amp; Castle, Lambeth North, Westminster Bridge, Westminster, Victoria, Hyde Park Corner, Marble Arch, Lancaster Gate, Queensway, Notting Hill Gate, Holland Park, Shepherd's Bush Interchange, White City. (24 hour service)</li>
            <li>203 &#45; Hounslow (London Road), Hounslow West , Great South West Road, Hatton Cross, Bedfont, Stanwell, Ashford Hospital, Staines Bus Station</li>
            <li>216 &#45; Kingston (Cromwell Road), Hampton Court, Hampton, Sunbury Village, Sunbury, Sunbury Cross, Ashford Common, Ashford, Ashford Hospital (London Road), Staines Bus Station</li>
            <li>220 &#45; Harlesden (Willesden Junction), College Park, White City, Shepherd's Bush Green, Hammersmith, Fulham Palace Road, Putney Church, Putney Bridge Road, Wandsworth (Southside Shopping Centre). (24 hour service)</li>
            <li>222 &#45; Hounslow (London Road), Hounslow West, Cranford, Harlington Corner, Sipson Road, West Drayton, Cowley, Uxbridge</li>
            <li>265 &#45; Tolworth (King Charles Road), New Malden, Kingston Vale, Roehampton Vale, Alton East Estate, Roehampton, Queen Mary's Hospital, Roehampton Lane, Barnes Common, Barnes, Putney Common, Putney Church, Putney Bridge</li>
            <li>267 &#45; Hammersmith, Ravenscourt Park, Stamford Brook, Turnham Green Church, Gunnersbury, Kew Bridge, Brentford, West Middlesex Hospital, Isleworth, Twickenham, Fulwell Garage</li>
            <li>272 &#45; Chiswick (Grove Park), Chiswick, Sutton Court Road, Turnham Green, Emlyn Road, Old Oak Road, East Acton, Du Cane Road, White City, Shepherd's Bush Green</li>
            <li>281 &#45; Hounslow Bus Station, Whitton, Twickenham, Fulwell, Teddington, Hampton Wick, Kingston, Surbiton, Tolworth (Ewell Road). (24 hour service)</li>
            <li>283 &#45; East Acton (Brunel Road), Du Cane Road, White City, Bloemfontein Road, Uxbridge Road, Shepherd's Bush Market, Shepherd's Bush, Hammersmith, Church Road, Barnes (Red Lion), Barnes Pond. Diverted at Barnes (Red Lion) to Barn Elms (Wetland Centre) when open</li>
            <li>285 &#45; Heathrow Airport Central, Harlington Corner, Hatton Cross, Feltham, Hanworth, Hampton Hill, Teddington, Hampton Wick, Kingston (Cromwell Road). (24 hour service)</li>
            <li>371 &#45; Manor Road (Sainsbury's), Richmond, Queen's Road, Petersham, Ham Estate, Tudor Drive, Park Road, Norbiton, Kingston (Hall Road)</li>
            <li>391 &#45; Richmond (George Street), Richmond, Sandycombe Road, Kew Gardens, Kew Bridge, Gunnersbury, Stamford Brook, Ravenscourt Park, Hammersmith, Olympia, West Kensington, Fulham Broadway, Imperial Road, Sands End (Sainsbury's)</li>
            <li>419 &#45; Richmond (George Street), Richmond, Mortlake, Barnes Bridge, Lonsdale Road, Suffolk Road, Verdun Road, Lonsdale Road, Hammersmith</li>
            <li>423 &#45; Heathrow Terminal 5, Longford, Bath Road, Harlington Corner, Eastern Perimeter Road, Hatton Cross, Beavers Farm, Hounslow (London Road)</li>
            <li>440 &#45; Gunnersbury (Power Road), Gunnersbury, Turnham Green (Chiswick High Road), Acton Green, Chiswick Park, South Acton, Acton, West Acton, Gipsy Corner, North Acton, Chase Road, Park Royal, Central Middlesex Hospital, Abbey Road, Stonebridge Park</li>
            <li>482 &#45; Southall (Town Hall),Southall, Convent Way, North Hyde Lane,Hounslow West, Hatton Cross, Heathrow Terminal 4, Cargo Terminal, Heathrow Terminal 5</li>
            <li>613 &#45; Worcester Park, North Cheam, Cheam, Sutton, Collingwood Road, Sutton Common (Glenthorne High School).  (Schoolday Journeys)</li>
            <li>635 &#45; Brentford (County Court), Isleworth , Hounslow, Hounslow Heath, Feltham, Lower Feltham, Sunbury Cross, Sunbury (St. Paul's School).  (Schoolday Journeys)</li>
            <li>662 &#45; Surbiton, Tolworth Broadway, New Malden (Holy Cross School).  (Schoolday Journeys)</li>
            <li>665 &#45; Surbiton (Berrylands Road), Berrylands, Tolworth, New Malden (Holy Cross School). (Schoolday Journeys)</li>
            <li>671 &#45; Chessington South, Copt Gilders, Chessington North, Hook, Surbiton, Kingston, Tiffin School for Girls.  (Schoolday Journeys)</li>
            <li>681 &#45; Hounslow Bus Station , Hounslow, Whitton, Twickenham, Fulwell, Teddington, Teddington School.  (Schoolday Journeys)</li>
            <li>691 &#45; Ham (Richmond Road), Kingston , Surbiton , Hollyfield School (Lamberts Road).  (Schoolday Journeys)</li>
            <li>696 &#45; Hayes (Bourne Avenue), Hayes &amp; Harlington, Coldharbour Lane, Lansbury Drive, Kingshill Avenue, Willow Tree Estate, Yeading, Ruislip Road, Ruislip Gardens, Ruislip, Pembroke Road, Windmill Hill, Bishop Ramsey School.  (Schoolday Journeys)</li>
            <li>697 &#45; Hayes (Lansbury Drive), Kingshill Avenue, Yeading Lane, Hayes End, Long Lane, Hillingdon, Ickenham (Douay Martyrs School). (Schoolday Journeys)</li>
            <li>698 &#45; West Drayton, Shepiston Lane, Hayes &amp; Harlington, Church Road, Hayes End, Long Lane, Hillingdon, Ickenham (Douay Martyrs School).  (Schoolday Journeys)</li>
            <li>965 &#45; Riverhill, Tolworth, Ewell Road, Surbiton Hill Road, Kingston (Sainsbury's) (One return Mon &amp; Fri journey only)</li>
            <li>C1 &#45; Victoria, Victoria Coach Station, Eaton Square, Sloane Square, Knightsbridge, South Kensington, Old Brompton Road, Earl's Court, Kensington High Street, Holland Road, Shepherd's Bush Interchange, White City</li>
            <li>E3 &#45; Greenford Broadway, Greenford Avenue, Hanwell, West Ealing, Northfields, Popes Lane, Gunnersbury Lane, Acton Town, Acton, South Acton, Turnham Green, Sutton Court Road, Chiswick, Chiswick (Edensor Road)</li>
            <li>E11 &#45; Ealing Common (Warwick Dene), The Common, Ealing Broadway, West Ealing, Drayton Green, Castle Bar Park, Bordars Road, Elthorne Heights, Greenford (Red Lion)</li>
            <li>H22 &#45; Richmond (Lower Mortlake Road), Richmond, Twickenham, Staines Road, Whitton, Hall Road, Hounslow (Bell Corner)</li>
            <li>H32 &#45; Hounslow (London Road), Hounslow West, North Hyde Lane, Convent Way, Southall, Southall (Town Hall)</li>
            <li>H37 &#45; Hounslow (Blenheim Centre), Hounslow, Isleworth, St. Margarets, Richmond, Richmond (Manor Circus)</li>
            <li>H91 &#45; Hounslow West, Lampton, Great West Road, Osterley, Wellesley Road, Gunnersbury, Turnham Green, Stamford Brook, Ravenscourt Park, Hammersmith</li>
            <li>H98 &#45; Hayes End (Kingsway), Church Road, Hayes &amp; Harlington, Harlington Corner, Cranford, Hounslow West, Hounslow (London Road)</li>
            <li>K2 &#45; Kingston Hospital, Norbiton, Kingston, Surbiton, Berrylands, Tolworth, Jubilee Way, Cox Lane, Hook (Lucky Rover)</li>
            <li>K4 &#45; Kingston Hospital, Norbiton, Kingston, Villiers Avenue, Surbiton, Hook, Chessington, Winey Park, Mansfield Park Estate (Mon-Sat)</li>
            <li>N97 &#45; Trafalgar Square (Charing Cross ), Piccadilly Circus , Green Park , Hyde Park Corner , Knightsbridge, South Kensington, Earl's Court, West Brompton, Lillie Road, Hammersmith</li>
        </ul>
         
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-September-TfL welcomes suspension of bus industrial action -->

 
 
        
        
            @{ViewBag.Description = "TfL welcomes suspension of industrial action on London United bus services on Friday 19 September";}
        
        


 