
    
  



@{ViewBag.Title = "Register a foreign vehicle";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/compliance-registration/register-a-foreign-vehicle";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
            
                 <li><a href="/modes/driving/compliance-registration/before-you-start">Register a vehicle for LEZ and ULEZ</a></li>
                
            
                
                <li><span class="last-breadcrumb">Register a foreign vehicle</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Register a foreign vehicle</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      
      
           
      <div>

<h2>Register your vehicle</h2>

<p>If we don't hold details for a vehicle registered outside the UK, we won't know if it meets the standards. You need to register this vehicle with our partner EPC plc if you believe it meets the required ULEZ and/or LEZ standard.</p>

<p>This may take up to 10 working days.</p>
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="https://www.epcplc.com/ulez/login" class="secondary-button no-hover" >Register vehicle</a>

    </div>
</div> 
 
</div>
 <div>

<h3>Until your registration is processed</h3>

<p>Until you register and prove your vehicle meets the standards, you'll need to pay the charges to drive in London. You can apply for a refund after your status has been confirmed.</p>
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/pay-to-drive-in-london" class="secondary-button no-hover" >Pay to drive in London</a>

    </div>
</div> 
 
</div>
 <div>

<h2>Direct Vision Standard (DVS) HGV Safety Permit</h2>

<p>All HGVs over 12 tonnes gross vehicle weight need to hold an HGV Safety Permit to prove they meet the Direct Vision Standard.</p>

<p>If you drive an HGV in Greater London at any time without a valid permit, you may receive a penalty charge notice (PCN).</p>

<p>If you don't have a permit for your vehicle&nbsp;you can <a href="https://tfl.gov.uk/modes/driving/dvs-safety-permit-application/">apply for one online</a>.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    
    
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "";}
        
            
        


 