


@{ViewBag.Title = "Beddington Farm bus garage celebrates award win";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Beddington Farm bus garage celebrates award win</h1>
        <div class="content-page-press-release">
        20 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor of London, Boris Johnson, congratulated staff at Arriva's Beddington Farm Garage today, after they won the London Bus Garage Award at the UK Bus Awards this week.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Beddington Farm garage is a superb example of this work, and I congratulate them wholeheartedly"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Beddington Farm garage is a superb example of this work, and I congratulate them wholeheartedly
                            
                        </p>
                    </div>
                
            
            
            <p>The London Bus Garage Award is one of three awards sponsored by Transport for London (TfL) to recognise outstanding achievement running bus services in London. </p>
<p>Beddington Farm is an important garage for Arriva's South London operation.</p>
<p>It handles most of Arriva South's bus repair and refurbishment work, and all of its staff training.&nbsp;</p>
<p>The garage impressed the judges with its proactive approach to tackling antisocial behaviour, working with schools and local police to substantially reduce incidents of antisocial behaviour on its services.</p>
<h2>Reducing antisocial behaviour</h2>
<p>Mayor of London, Boris Johnson, said: 'London's bus network abounds with often untold stories of people going that extra mile to improve the service, to work with the community, and to make journeys safer, cleaner, and more pleasant for everyone.</p>
<p>'Beddington Farm garage is a superb example of this work, and I congratulate them wholeheartedly for their dedication and creativity in improving bus services for the people of South London.'</p>
<p>David Brown, TfL's Managing Director of Surface Transport, said: 'Beddington Farm Garage not only scores highly on all of TfL's performance indicators, but also prides itself on looking after staff wellbeing and offering the best possible service to customers.</p>
<p>'Its role as a training centre for Arriva South London is of great importance in ensuring that passengers' journeys are safe, comfortable and reliable.'</p>
<h2>Passenger comfort</h2>
<p>Ken Robinson, Operating Manager for Arriva London, said: 'This award is a tribute to all the efforts of the many people at our Beddington Farm Garage.</p>
<p>'The garage has grown considerably over the last 10 years, throughout we've retained a commitment to delivering the best possible service for our customers and making the garage a great place to work.'</p>
<p>The UK Bus Awards were presented at Battersea Evolution on Tuesday 18 November.</p>
<p>The ceremony was hosted by BBC economics editor Stephanie Flanders and awards were presented by David Quarmby, CBE.</p>
<p>Newly appointed transport minister, Rt Honourable Paul Clark MP, was guest speaker.</p>
<p><strong>
<hr>
Notes to editors: 
<p>
<ul>
<li></li></ul></strong>TfL sponsors three awards at the UK Bus Awards 
<ul>
<li>London Bus Garage, won by Beddington Farm Garage (Arriva) </li>
<li>London Service Quality, won by Croydon Service Quality Team (Metrobus) </li>
<li>Top London Bus Driver, jointly sponsored with the Luke Rees-Pulley Charitable Trust, won by Nelio Rebelo-Goncalves (London United)</li></ul>
<li>The UK Bus Awards were founded in 1996, and are run by The Bus Industry Awards Limited, a not-for-dividend company. The awards recognise excellence and good practice in a wide range of disciplines associated with the operation, design and promotion of bus services </li>
<li>Ken Robinson was Operating Manager at Beddington Farm Garage from February 2003 until November 2008. He has recently left to become Operating Manager at Arriva's Norwood Garage<br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The London Bus Garage Award is one of three awards sponsored by Transport for London (TfL) to recognise outstanding achievement running bus services in London. Beddington Farm is an important garage for Arriva's South London operation.It handles most of";}
        
        


 