


@{ViewBag.Title = "Bloomsbury, Covent Garden and Holborn set to become more legible for pedestrians";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bloomsbury, Covent Garden and Holborn set to become more legible for pedestrians</h1>
        <div class="content-page-press-release">
        24 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Legible London, a new pedestrian way-finding system, to be installed in area during autumn 2009.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            West End is a great place to explore on foot, with fresh and exciting sights around every corner
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor and Transport for London (TfL) have today (24 November) announced that the London boroughs of Camden and Westminster, through the Clear Zones Partnership, will pilot Legible London, a unique system of on-street signs, maps and fingerposts designed to make it quicker and easier to walk around the Capital.</p> <p>The scheme uses 3D representations to give people a quick sense of their bearings and help them locate shops, parks, hotels, landmarks, toilets, Tube stations and other amenities. </p> <p>It has already been successfully guiding visitors around the Bond Street area for the past year, as part of a prototype study of 19 signs.</p> <p>Now, Bloomsbury, Covent Garden and Holborn, through the Clear Zones Partnership, have been chosen as one of three areas in London to pilot the new pedestrian system.</p> <h2>By the end of the year</h2> <p>Sixty&nbsp;to 80 Legible London signs will be installed in the area during autumn 2009.</p> <p>The many distinct local neighbourhoods are popular with Londoners and visitors alike, and the short distances between them make them ideal for replacing short hops on the Tube with walking journeys. </p> <p>In addition, 24 Legible London signs will be installed in the western end of Oxford Street to the Marble Arch area and along Regent Street as part of an extension of the original Bond Street prototype.</p> <p>The 24 Legible London signs will be installed in time for this year's Christmas shopping season.</p> <h2>By next summer</h2> <p>An additional 37 signs will be installed elsewhere in the Oxford Street, Regent Street and Bond Street areas by summer 2009.</p> <p>As Legible London is introduced, redundant street furniture and confusing signage will be removed.</p> <p>The removal of obsolete signs and their replacement with fewer and more attractive, easy to understand, maps will reduce visual clutter and make life easier for pedestrians. </p> <p>Ben Plowden, Director of Smarter Travel at TfL said: 'Walking is a convenient, enjoyable and healthy way to get around London.</p> <h2>Easy to use</h2> <p>'It's also often the quickest option - for example, 90 per cent of all Tube stations within 1.5km of Covent Garden are quicker to walk between.</p> <p>'The problem is that the Capital can sometimes be challenging to navigate on foot.</p> <p>'Legible London has been designed to address that, by creating a reliable way-finding system that makes it easier to walk in and around London.</p> <p>'Its clear and easy-to-read mapping will tell people which roads to take, what landmarks they'll pass along the way and how long it will take them to get where they want to go.'</p> <p>Councillor Danny Chalkley Cabinet Member for Environment and Transport at Westminster City Council, said: 'The West End is a great place to explore on foot, with fresh and exciting sights around every corner.</p> <h2>Getting active</h2> <p>Along with TfL and the private sector we're advancing ambitious plans to renew the West End ahead of 2012 which will encourage visitors to be even more adventurous and venture off the beaten track.'</p> <p>Councillor Chris Knight, Camden Council's Executive Member for Environment, said: 'Walking is a great way to get active and do your part for the environment at the same time.</p> <p>'These new signs will clearly show how easy and quick it can be to travel on foot and enable residents, businesses and visitors alike to discover more of our fantastic city.'</p> <p>New West End Company's Chief Executive, Richard Dickinson, said: 'The prototype signage system installed on Bond Street last November is already making pedestrian journeys in that area significantly quicker for our 200 million visitors a year.</p> <h2>Discover the city</h2> <p>'West End shoppers value it so highly that 90 per cent have said that they want it rolled out across the rest of London.</p> <p>'This is another great example of local councils, the Mayor, TfL and businesses working together to enhance the West End so that it remains the world's top shopping destination.'</p> <p>The Mayor, TfL, the London Boroughs of Camden and Westminster and the Clear Zones Partnership are all clear on the need for better pedestrian signage and information throughout the Capital, and are committed to improving conditions as part of a wider programme to make London a great walking city.</p> <p>The Bloomsbury, Covent Garden and Holborn pilot of Legible London is one of three pilots taking place across London.</p> <p>It is an important step towards the goal of having Legible London signage in place in central London and the Olympic area before 2012, and in urban centres throughout Greater London by 2015.</p> <p> <hr>  <p> <p><strong>Notes to editors:<p> <ul> <li></li></ul></strong>The first on-street prototype of the Legible London project was installed in November 2007 in the area around Bond Street as part of the Oxford Street, Regent Street, Bond Street (ORB) Programme. Research on the impact of the Legible London prototype in Bond Street found that 85 per cent of those interviewed (2,600 members of the public) found Legible London easy-to-use, 90 per cent felt the system should be rolled out across London and almost two-thirds of respondents said the new system would encourage them to walk more. On average, pedestrian journeys in the Bond Street area were quicker by 16 per cent following installation of the signage (research conducted by Colin Buchanan)  <li>The other pilots, also to be installed in autumn 2009, will be in Richmond and Twickenham town centres in the Borough of Richmond upon Thames, and in the South Bank and Bankside areas of the boroughs of Lambeth and Southwark  </li><li>TfL believes there is huge potential for a creative partnership between it, the boroughs and the business community in rolling out Legible London, including in relation to securing funding for the programme  </li><li>One in seven people travel on the Tube from stations that are only a walk away [AIG report]  </li><li>One-hundred-and-nine journeys between neighbouring central London Underground stations are actually quicker on foot than the Tube. These include journeys from stations such as Covent Garden, Goodge Street, Waterloo, Blackfriars and Bank, where many of the nearest stations are quicker to walk to [AIG report]  </li><li>Legible London will help to reduce the overall amount of clutter in the areas where it is installed, as its installation will allow the removal of obsolete signage and other street furniture  </li><li>Walking is good for your health. People who do 30 minutes of moderate intensity activity on most days of the week have half the chance of developing heart disease than people who do no activity at all  </li><li>The population of London is projected to grow by 800,000 by 2025. Increasing walking journeys is an important way of helping to manage the demands this increase would otherwise place on the system  </li><li>Clear Zones is a partnership between the London Borough of Camden, the City of Westminster and the City of London.&nbsp;The partnership aims to reduce congestion, air pollution, noise pollution and improve the urban realm through partnership working, innovative technologies and sustainable transport measures</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor and Transport for London (TfL) have today (24 November) announced that the London boroughs of Camden and Westminster, through the Clear Zones Partnership, will pilot Legible London, a unique system of on-street signs, maps and fingerposts";}
        
        


 