


@{ViewBag.Title = "Brand new bus station for Beckton";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Brand new bus station for Beckton</h1>
        <div class="content-page-press-release">
        07 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) will open a new bus station in Beckton today. Designed to create a pleasant and safe environment for bus users, the new station will feature four well lit bus shelters and 24-hour digital CCTV.
        
    </div>



 <div class="on-this-page">
<p>The station will be served by ten bus routes and cater for up to 70 buses per hour.</p>
<p>Route 366, which previously terminated at Cyprus DLR, has been extended to serve the station.</p>
<p>Passengers will benefit from improved connections between bus routes and convenient access to Beckton DLR and the ASDA superstore.</p>
<p>Mike Weston, Operations Director, London Buses, said: 'The new bus station in Beckton will make passengers' journeys easier and more convenient, and provide them with a pleasant, safe and secure place to catch the bus.'</p>
<p>Chris Marlow, ASDA Property Communications Manager, said: 'We welcome TfL's investment in bus links to Beckton.</p>
<p>'The new station is good news for ASDA customers, making travelling by public transport a natural choice for shoppers coming to the store.'</p>
<p>Bus drivers also stand to benefit from the new bus station, with an on-site drivers' mess providing kitchen facilities and a private space in which to take their breaks.</p>
<p>
<hr>
<strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>Beckton bus station will be served by routes 101, 173, 262, 300, 366, 376, 474 and N551.&nbsp;School routes 673 and 678 will also use the station
<li>Route 366 currently runs from Redbridge to Cyprus DLR. From 7 November it was extended to terminate at Beckton bus station</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The station will be served by ten bus routes and cater for up to 70 buses per hour.Route 366, which previously terminated at Cyprus DLR, has been extended to serve the station.Passengers will benefit from improved connections between bus routes and";}
        
        


 