


@{ViewBag.Title = "Double celebration for Tolworth bus driver ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Double celebration for Tolworth bus driver </h1>
        <div class="content-page-press-release">
        20 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor of London, Boris Johnson, has offered his congratulations to Nelio Rebelo-Goncalves, who won the London Bus Driver Award at the UK Bus Awards this week.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London's bus drivers are some of the best in the country"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Brown</div>
            <div class="quotee-job-title">TfL's Managing Director of Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London's bus drivers are some of the best in the country 
                            
                        </p>
                    </div>
                
            
            
            <p>Nelio was unable to collect his award in person as his wife gave birthday to a baby boy on the same day - a further cause for celebration.</p>
<p>The London Bus Driver Award is jointly sponsored by Transport for London (TfL) and the Luke Rees-Pulley Charitable Trust to recognise outstanding achievement of staff running the Capital's bus network, and was presented by Richard Rees-Pulley.&nbsp; </p>
<p>Nelio, who drives for Transdev London United and is based at Tolworth Garage, was commended by the judges for his politeness and unruffled charm, his care for elderly passengers, and his rapport with school children.&nbsp;</p>
<h2>Range of challenges</h2>
<p>He was selected from a shortlist of eight drivers, all of whom had obtained outstanding scores in TfL's bus driver assessments.&nbsp; </p>
<p>Mayor of London, Boris Johnson, said: 'Our bus drivers have to deal with a huge range of challenges every day as they navigate the streets and ferry Londoners safely and speedily from A to B.</p>
<p>'To deal with these challenges with a good spirit and professionalism that is recognised by colleagues and passengers is a true achievement, and marks bus driver Nelio Rebelo-Goncalves out as a true ambassador for London.&nbsp;Well done!'</p>
<p>David Brown, TfL's Managing Director of Surface Transport, said: 'London's bus drivers are some of the best in the country and we rigorously assess their performance to ensure that they provide a high level of service to our passengers.&nbsp; </p>
<h2>Dedication to the job</h2>
<p>'In winning this award Nelio has not only performed exceptionally on all of our measures, but has gone the extra mile to impress colleagues and passengers alike with his dedication to the job.'</p>
<p>Nigel Stevens, Managing Director, Transdev London United, said: 'We are really proud of Nelio's achievements, which have been made even more special by the birth of his son yesterday.'</p>
<p>The UK Bus Awards were presented at Battersea Evolution on Tuesday 18 November.&nbsp; </p>
<p>The ceremony was hosted by BBC economics editor Stephanie Flanders and awards were presented by David Quarmby, CBE.&nbsp; </p>
<p>Newly appointed transport minister, Rt Honourable Paul Clark MP, was guest speaker.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>TfL sponsors three awards at the UK Bus Awards </li>
<li>London Bus Garage, won by Beddington Farm Garage (Arriva) </li>
<li>London Service Quality, won by Croydon Service Quality Team (Metrobus) </li>
<li>Top London Bus Driver, jointly sponsored with the Luke Rees-Pulley Charitable Trust, won by Nelio Rebelo-Goncalves (Transdev London United) </li>
<li>The UK Bus Awards were founded in 1996, and are run by The Bus Industry Awards Limited, a not-for-dividend company.&nbsp;The awards recognise excellence and good practice in a wide range of disciplines associated with the operation, design and promotion of bus services </li>
<li>The Luke Rees-Pulley Charitable Trust was set up in 2006 in memory of Luke Rees-Pulley, a driver at London General's Putney Garage, who was tragically murdered in 2005</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Nelio was unable to collect his award in person as his wife gave birthday to a baby boy on the same day - a further cause for celebration.The London Bus Driver Award is jointly sponsored by Transport for London (TfL) and the Luke Rees-Pulley Charitable";}
        
        


 