


@{ViewBag.Title = "East London to benefit from Mayor's 10-year plan for massive transport expansion ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>East London to benefit from Mayor's 10-year plan for massive transport expansion </h1>
        <div class="content-page-press-release">
        06 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL Business Plan confirms multi-billion investment to boost transport capacity and delivers East London line extension, additional third carriage for DLR and new Crossrail stations including Whitechapel and Isle of Dogs.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"A good transport system is essential to improving quality of life"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            A good transport system is essential to improving quality of life
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London Boris Johnson today outlined his plan for the future of London's transport system as he launched Transport for London's multi-billion pound 10-year Business Plan.</p>
<p>The Plan, which will help deliver an almost 30 per cent increase in the Capital's public transport network by 2018, includes massive transport improvements in East London including Crossrail, the upgrades of the Circle, District, Jubilee and Hammersmith &amp; City lines, the extension of London Overground, the expansion of the DLR, measures to smooth traffic flow for road users and a huge investment to begin a revolution in cycling and walking. </p>
<h2>Tough decisions</h2>
<p>However the Mayor made clear that the current challenging economic times follow the former Mayor's promises of schemes for which there was never any money, ultimately leading to some tough decisions about which projects the Plan will fund.</p>
<p>Given pressures on TfL funding and concerns over local traffic impacts, the Mayor today confirmed that TfL will no longer be pursuing the proposed Thames Gateway Bridge. </p>
<p>The DLR Extension to Dagenham Dock will not be progressed at this time as no Government funding for construction is currently available. </p>
<p>The Mayor said: 'A good transport system is essential to improving quality of life, as the more time Londoners spend shoehorned onto trains, Tube carriages or buses, the less time they have to themselves or to spend with their families. </p>
<h2>Brunelian endeavour</h2>
<p>'So we have to build a better system, and in this important moment for our city we are committing to building our transport infrastructure with Brunelian endeavour and scale, investing billions to create a network that Londoners will recognise as vastly improved from the one we have now. </p>
<p>'We will upgrade the Tube, build Crossrail, capture the legacy of the 2012 Games, and create thousands of jobs, helping to boost the capacity of our public transport network by almost 30 per cent.</p>
<p>'Smoothing traffic flows will help get the most from our road system.&nbsp; </p>
<p>'And we will both revolutionise cycling and walking, and sustain investment in transport policing so that we deliver not only a bigger and better network, but also a safer one - making London an even better place to live.' </p>
<p>The transport improvements for East London in the TfL Business Plan include:</p>
<ul>
<li><strong>London Underground </strong>- Completion of the Jubilee line upgrade by end of 2009, which will deliver a further 33 per cent increase in capacity. The District and Hammersmith &amp; City lines will also be upgraded to provide additional capacity and new rolling stock with air conditioning will be introduced on these lines. The signalling system will also be upgraded to allow the operation of faster, more frequent services across the sub-surface network - the Circle, District, Hammersmith &amp; City and Metropolitan lines </li>
<li><strong>Crossrail </strong>- construction will begin in 2010, greatly improving transport services for those living in East London when it opens in 2017. Crossrail will be the largest addition to the transport network in London and the South East for more than 50 years, running 118km from Maidenhead in the west through central London to Abbey Wood and Shenfield in the east </li>
<li><strong>London Overground </strong>- the extended East London line will re-open as part of the new London Overground network connecting Highbury &amp; Islington to Crystal Palace and West Croydon in 2010 along with a fleet of brand new trains. The extension from Surrey Quays to Clapham Junction is currently unfunded. Aware of the benefits that a further extension would bring to South West London, the Mayor and TfL are continuing discussions with the Department for Transport </li>
<li><strong>East London Transit </strong>- Next year will see the construction and opening of the East London Transit, a high frequency bus service from Ilford to Dagenham Dock via Barking Town Centre. The transit will connect local town centres, regeneration areas and Interchanges with London Underground, rail services and existing bus networks </li>
<li><strong>Docklands Light Railway </strong>- the majority of the network is being upgraded to allow the operation of longer three-car trains which will add 50 per cent extra capacity. The new extension to Woolwich Arsenal, due to open in February 2009, will provide a much needed additional new river crossing </li>
<li>Oyster pay as you go on National Rail - the Mayor and TfL are aiming to ensure that Oyster pay as you go is available on all National Rail services in London by late 2009, a major boost to those east Londoners who are heavily reliant on National Rail for journeys into central London </li>
<li><strong>Smoothing traffic flow </strong>- Road users in east London will benefit from the smoothing of traffic flows achieved through a range of measures including re-phasing traffic lights and through better coordination of road works </li>
<li><strong>Cycling and walking </strong>- The Mayor aims to increase cycling throughout London by 400 per cent by 2025 through three principle initiatives: a new cycle hire scheme; the creation of cycle highways to whisk commuters and others into central London; and cycle hubs in outer London to create beacons of cycling excellence across the city </li>
<li><strong>Local transport funding </strong>- TfL is also working more collaboratively with all of London's boroughs in providing continued annual funding for local transport improvements through the boroughs' Local Implementation Plans. Funding for all London's boroughs for 2009/10 will be announced shortly&nbsp;&nbsp; </li></ul>
<p>The Mayor today underlined the importance of continued high-level investment in transport infrastructure to create thousands of jobs for Londoners, boost the economy through uncertain times, and ensure London retains its pre-eminent global position.&nbsp;</p>
<p>But he also outlined how the uncertain economic climate means that tough choices need to be made and that a new approach of realism needs to be applied to prospective projects.&nbsp; </p>
<p>The Mayor recognises now more than ever, that TfL must make efficiencies and spend public money wisely given that Londoners are watching their outgoings in these challenging times.</p>
<p>In a departure from the old administration, the Mayor has instructed TfL to focus on delivering on time and budget the projects that will give the greatest benefits to Londoners, and not to proceed with spending money on projects that are yet to receive the necessary funding from Government and other sources. </p>
<h2>Traffic impacts</h2>
<p>Commenting on the tough decisions required to ensure a balanced and sustainable transport plan the Mayor said:&nbsp;'London is the engine of the UK economy and it is vital that we continue to invest in better transport during these tough times. </p>
<p>'But at the same time, we need to focus on the projects that deliver real benefits for Londoners, and let go of those that lack the funding for completion.</p>
<p>'These projects still required a total of over &pound;3bn in funding from the Government or other sources. </p>
<p>'At a time when Londoners are struggling it is our duty to get maximum bang for their buck and invest in fully funded schemes that we know can be delivered. </p>
<h2>Challenge</h2>
<p>'I will not continue with the former Mayor's unrealistic and hollow promises.&nbsp; </p>
<p>'The last administration's commitments amounted to billions of pounds worth of schemes that London could simply never afford.</p>
<p>'Given pressures on TfL funding and concerns over local traffic impacts, TfL will no longer be pursuing the proposed Thames Gateway Bridge. </p>
<p>'It has become clear to me that it is highly unlikely the scheme will ever truly be acceptable to all those affected and it is right that the &pound;90m we are currently spending on it be re-directed.'</p>
<p>Transport Commissioner Peter Hendy said: 'The Mayor has set out his vision for the future and TfL's task is to deliver on time and on budget. I am confident we will. </p>
<h2>Major review</h2>
<p>'Alongside this massive investment is the need to deliver clear value for money for London's taxpayers and farepayers, to maximise the cost efficiency of TfL enabling fares to be kept affordable over the longer term. </p>
<p>'TfL has responded to this challenge by identifying &pound;2.4bn in savings and efficiencies that we have built into our funding calculations and will use to help deliver key projects such as improving the Tube, expanding London Overground and enabling the construction of Crossrail. </p>
<p>'And we will continue to look for more savings including through a major review of London's bus network.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Mayor's transport priorities set out in TfL's&nbsp;10-year Business Plan are: 
<ul type="circle">
<li>To expand public transport capacity:&nbsp;completing the transformation of the Tube, including new air-conditioned trains, improved reliability and faster journeys, and building Crossrail, the single largest transport project seen in the UK in generations that on its own will provide an extra 10 per cent capacity to the rail-based public transport network </li>
<li>To smooth traffic flows: making the best use of London's limited road space by re-phasing traffic lights and tackling the disruption caused by unplanned roadworks </li>
<li>To lead a revolution in cycling and walking in London:&nbsp;facilitating a step change increase in the numbers of people traveling by these most environmentally friendly and health enhancing modes </li>
<li>To deliver London's 2012 transport projects and secure a lasting legacy:&nbsp; completing the East London line extension to the London Overground network and increasing capacity on an extended DLR </li>
<li>To improve further the safety and security of the traveling public: building on the massively increased numbers of uniformed officers patrolling the buses and Tube and innovative new methods, such as trialing live CCTV on buses </li>
<li>To dramatically improve the experience of travelling in London:&nbsp;through, for example, the development and further roll-out to National Rail of the Oyster card, giving passengers better information, making buses safer, improving the urban realm, and introducing a 21st Century Routemaster bus</li></ul></li>
<li>Achievements of the Plan:<br>In terms of outcomes, by 2012, the TfL Business Plan will have delivered: 
<ul type="circle">
<li>The first of the large-scale Tube upgrades on the Jubilee, Victoria and Northern lines, each providing between 20 and 30 per cent more capacity into central London </li>
<li>The first ever air-conditioned trains on the Circle, District, Hammersmith &amp; City and Metropolitan lines </li>
<li>Three-car trains on the DLR providing a 50 per cent increase in capacity </li>
<li>The transformation of the London Overground network - which includes the East London and North London lines - with improved reliability and a doubling of capacity </li>
<li>Improvements to London's traffic flow, such as through the optimisation of traffic lights and co-ordination of roadworks </li>
<li>A new Routemaster fit for 21st Century London </li>
<li>Trial of orbital express buses in outer London </li>
<li>A London cycle hire scheme and other major initiatives, such as cycle highways, to revolutionise cycling in London</li></ul></li>
<li>By 2018, this programme will have delivered: 
<ul type="circle">
<li>Crossrail, providing a 10 per cent increase in London's rail-based public transport capacity </li>
<li>Remaining Tube upgrades on the Piccadilly, District, Circle, Hammersmith &amp; City and Metropolitan lines - providing a 28 per cent increase in Tube capacity </li>
<li>Further schemes to cool deeper Tube lines, improving passenger comfort </li>
<li>Major improvements at key transport interchanges at Tottenham Court Road, Victoria, Bond Street and Paddington, relieving congestion and improving the environment for passengers </li>
<li>One million more people cycling and walking in London </li>
<li>A significant transport and regeneration legacy to follow a successful 2012 Games</li></ul></li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London Boris Johnson today outlined his plan for the future of London's transport system as he launched Transport for London's multi-billion pound 10-year Business Plan.The Plan, which will help deliver an almost 30 per cent increase in the";}
        
        


 