


@{ViewBag.Title = "First anniversary of London Overground";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>First anniversary of London Overground</h1>
        <div class="content-page-press-release">
        27 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Overground has marked its first anniversary with both increased passenger satisfaction and improved performance across the entire network.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We have brought these stations up to our basic standards and can now look at bringing further improvements"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ian Brown</div>
            <div class="quotee-job-title">TfL London Rail Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We have brought these stations up to our basic standards and can now look at bringing further improvements
                            
                        </p>
                    </div>
                
            
            
            <p>A recent survey shows that 68 per cent of frequent passengers have seen the improvements on the network and its services.&nbsp;</p>
<p>Fifty-six per cent of passengers said that staff visibility had 'got better' within the last twelve months, and 53 per cent said station cleanliness was better too.</p>
<p>Performance figures show that overall train reliability on the network has increased from 87 per cent under the previous operator Silverlink to 94 per cent when run by London Overground.</p>
<p>Transport for London (TfL) took over management responsibility for the network in November 2007 with a promise to deliver a step change in passengers' travel experience. </p>
<h2>Refurbishments</h2>
<p>All TfL managed stations were deep-cleaned and repainted by summer 2008 with the existing public address systems, CCTV and information displays thoroughly checked and repaired where necessary. </p>
<p>TfL London Rail Managing Director, Ian Brown, said: 'We have brought these stations up to our basic standards and can now look at bringing further improvements. </p>
<p>'By 2010, all London Overground managed stations will be further upgraded including the refurbishment of floors, canopies and platform surfaces, the renewal of all station systems including CCTV, PA, passenger Help points and lighting, and the installation of permanent London Overground signage.</p>
<p>'Brand new, customised and air-conditioned trains will also come into service from early next year.&nbsp; </p>
<h2>Reliable journeys</h2>
<p>'Passengers deserve a safe, reliable and comfortable journey on London Overground and we are doing everything possible to improve their journeys.</p>
<p>'Most of the London Overground network has been neglected for decades. </p>
<p>'TfL is investing &pound;1.4bn in upgrading the network and linking it to the East London line but bringing significant improvement will take time. </p>
<p>'But by 2011, passengers will see faster, more comfortable trains and rejuvenated stations across the network. </p>
<p>'We ask our passengers to bear with us as we work hard to improve the railway.'</p>
<p>
<hr>
<br><strong>Notes to editors </strong>
<p>
<ul>
<li>The London Overground network consists of the Richmond to Stratford, Willesden Junction to Clapham Junction (via Kensington Olympia), Gospel Oak to Barking and Euston to Watford Junction lines, and will be joined by the extended East London line when it opens in 2010 </li>
<li>The stations improvement programme is part of TfL's &pound;1.4bn investment for London Overground, which will upgrade the network infrastructure for a more reliable and efficient service, deliver new trains and connect the extended East London line to the Richmond to Stratford line at Highbury and Islington in 2011 </li>
<li>Oyster pay-as-you-go ticketing is accepted at all stations since November 2007.&nbsp;All stations have been fitted with Oyster gates or validators and ticket machines to reduce fare evasion </li>
<li>London Overground will deliver frequent metro-style services, longer operating hours and improved service frequencies on all lines so that Londoners can simply 'turn up and go' </li>
<li>There are 73 stations on the London Overground network; 50 on the North London Railway with two new stations due to open on the West London line by 2010 and 17 stations on the East London line with four new stations due to open in 2010. Of these stations 34 are managed solely by London Overground, it is these stations that will undergo the phased improvement works </li>
<li>Every day, 63,000 people use the London Overground network bringing a total of 23 million journeys every year </li>
<li>Forty one per cent of the passengers said the frequency and the reliability of trains had 'got better' in the last year </li>
<li>Forty five per cent agreed that service information had 'got better in the last year </li>
<li>London Overground train performance measured on the percentage of trains arriving within five minutes of scheduled time </li>
<li>Synovate, an independent research company, conducted 110 face-to-face interviews for London Overground on a random basis </li>
<li>Respondents were screened to ensure that they have used services at least once a month, and that they have been using the services for more than one year - to ensure they had experience of the services under the Silverlink franchise</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A recent survey shows that 68 per cent of frequent passengers have seen the improvements on the network and its services.&nbsp;Fifty-six per cent of passengers said that staff visibility had 'got better' within the last twelve months, and 53 per cent said";}
        
        


 