


@{ViewBag.Title = "Fryent Park Primary and St Margaret Clitherow RC Primary to feature in 2009 road safety calendar";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Fryent Park Primary and St Margaret Clitherow RC Primary to feature in 2009 road safety calendar</h1>
        <div class="content-page-press-release">
        20 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Year Six pupils from across London have been hard at work designing a range of road safety themed posters for a competition that was held in conjunction with last week's Brake National Road Safety Week (10-16 November).
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The pupils are looking forward to seeing their designs in the calendar next year"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mrs Ewa McSperrin</div>
            <div class="quotee-job-title">Head Teacher at St Margaret Clitherow RC Primary School</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
<p>
The pupils are looking forward to seeing their designs in the calendar next year
</p>
</div>
<p>The 2008 London Safety Camera Partnerhip (LSCP) Road Safety Poster Competition, run by LSCP and local borough road safety officers, is in its fourth year and has again attracted more than 650 entries from schools across the Capital.</p>
<p>The LSCP and Metropolitan Police recently visited Fryent Park Primary and St Margaret Clitherow Roman Catholic (RC) Primary Schools in Brent to award each of the schools a winning prize. </p>
<p>Eight schools, of which Fryent Park and St Margaret Clitherow were two, were chosen as overall winners, with their posters making up the 12 main pages of the calendar. </p>
<h2>Excellent work</h2>
<p>Chris Lines, Head of Road Safety at Transport for London, said: 'The London Safety Camera Partnership received excellent work from the children again this year and the judges found it very difficult to choose the winners. </p>
<p>'Teaching young people good road safety habits to last them a lifetime will go a long way in reducing the number of people killed and seriously injured on London's roads. </p>
<p>'With this particular project, the LSCP aims to educate younger pedestrians about inappropriate speed and how safety cameras can help to save lives.'</p>
<p>Elaine Webb, Head Teacher at Fryent Park Primary School, said: 'We are delighted that the London Safety Camera Partnership invited pupils from our school to take part in this competition.  </p>
<h2>Road safety</h2>
<p>'In designing these posters, our Year Six pupils have learnt a great deal about road safety and the dangers that their age group face.'</p>
<p>Mrs Ewa McSperrin, Head Teacher at St Margaret Clitherow RC Primary School, added: 'The competition has also reinforced the message that speed can endanger lives.  </p>
<p>'The pupils are looking forward to seeing their designs in the calendar next year.'</p>
<p>The competition encouraged pupils to use their imagination and illustrate road safety issues that were important to them or their school environment. </p>
<h2>Appreciation certificate</h2>
<p>Entries ranged from posters about excessive speed and wearing seatbelts, to the importance of stopping, looking and listening when crossing the road.</p>
<p>The LSCP chose the 12 winning posters from those entries that best represented a positive road safety message.  </p>
<p>A further 72 entrants across London received highly commended certificate awards and all pupils that participated received an appreciation certificate.</p>
<p>The winning posters will be made into a 2009 calendar that will be sent to every primary school in London to highlight the risks that pupils face on the roads.</p>
<p>
</p>
<hr />
<p>
</p>
<p><strong>Notes to editors</strong></p>
<ul>
    <li>Photos of pupils from Fryent Park Primary School and St Margaret Clitherow Roman Catholic Primary School receiving their awards from the Metropolitan Police are available on request </li>
    <li>The LSCP Road Safety Calendar Poster competition is aimed at Year Six pupils as they prepare to make the transition to secondary school - the point at which children begin to travel independently for the first time </li>
    <li>The LSCP is responsible for speed and red light cameras across London. Transport for London leads the LSCP and works in partnership with London Councils, the Metropolitan Police Service, the City of London Police and Her Majesty's Courts Service </li>
    <li>At sites where LSCP cameras have been placed there has been an average 50 per cent reduction in the numbers of people killed or seriously injured </li>
    <li>Road Safety Week (10-16 November) is coordinated by <a href="http://www.brake.org.uk/">Brake </a>(the road safety charity) </li>
    <li>All winners and runner up entries will be available on the LSCP website from the 15 December 2008</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The 2008 London Safety Camera Partnerhip (LSCP) Road Safety Poster Competition, run by LSCP and local borough road safety officers, is in its fourth year and has again attracted more than 650 entries from schools across the Capital.The LSCP and";}
        
        


 