


@{ViewBag.Title = "London Transport veterans to march on Remembrance Sunday";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Transport veterans to march on Remembrance Sunday</h1>
        <div class="content-page-press-release">
        07 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Peter Orchard, a former Royal Navy Radar Operator and now a London Buses Area Manager in Newham and Tower Hamlets, will lead the London Transport Old Comrades as they march past the Cenotaph on Remembrance Sunday this year.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are incredibly proud that London's transport workers are able to participate in the annual Remembrance Sunday parade
                            
                        </p>
                    </div>
                
            
            
            <p>Brian Everett, a veteran of the Royal Air Force and President of the London Transport Old Comrades will lay the wreath at the Cenotaph.</p> <p>The London Transport Old Comrades Association, which is celebrating its 85th anniversary this year, is the only civilian group allowed to lay a wreath at the Cenotaph as well as march along side the armed forces in the annual Sunday Remembrance Day parade.</p> <p>They march in honour of transport workers who died serving their country in the First and Second World Wars.</p> <p>Peter Orchard joined the Royal Navy in 1979 as a Radar Operator and served on HMS Antrim during the Falklands conflict.</p> <p>Peter joined London Transport in 1983 as a bus conductor at Stamford Brook before becoming a Revenue Protection Inspector for 12 years prior to his current role.</p> <p>Peter Orchard said: 'I am very proud to be leading the London Transport Old Comrades at the Cenotaph this year particularly on the 90th anniversary of the Great War ending.</p> <p>'It allows an opportunity to remember the sacrifices of those who fought and the role of transport workers who drove buses to the front line in France including the 1500 transport workers who died in the Great War.'</p> <p>Brian Everett MBE and President of the Association worked at London Transport throughout the 1990s as a Director with London Buses.</p> <p>Brian served with the Royal Air Force for nearly three decades in many parts of the world and was awarded an MBE in 1972 for military operations in the Middle East.</p> <p>Brian said: 'Remembrance Sunday is always a poignant occasion as it provides an opportunity to reflect on the contribution of all those who have served their country in conflicts around the world as well as those who are currently serving.</p> <p>'We are incredibly proud that London's transport workers are able to participate in the annual Remembrance Sunday parade.</p> <p>'Many of London's transport workers join directly from a career in the armed forces and continue their association through active involvement with the reserve forces which in recent years has included deployments in Afghanistan and Iraq with the Territorial Army.'</p> <p>Since 2 November, war veterans can now travel free of charge on public transport in the Capital as a result of the Mayor's new concessionary travel scheme.</p> <p>All war veterans in receipt of a pension under the War Pensions Scheme or the Armed Forces Compensation Scheme including war widows and widowers and eligible dependents are eligible for passes.</p> <p>More than 1,500 Veterans Concessionary Travel Scheme passes have already been issued which will allow free travel on bus, Tube, tram, Docklands Light Railway, London Overground and river services in the capital.The Train Operating Companies have also backed the Mayor's plans and agreed that eligible war veterans will be able to travel for free on their services within Greater London.</p> <p>This scheme is of particular benefit to veterans under 60 and those who live outside London who are not eligible for a Freedom Pass. Further information can be found at <a href="http://www.tfl.gov.uk/veterans">tfl.gov.uk/veterans</a></p> <p> <hr> <strong>Notes to editors: <p> <ul> <li></li></ul></strong>London Transport Old Comrades were given the right to march by King George V who granted this honour to the London General Omnibus Company in 1920 in recognition of the services rendered by the men who drove buses to the front line in France 1915  <li>The London Transport Old Comrades Association was formed in 1923  </li><li>1500 transport workers died in World War I and 3000 lost their lives in World War II  </li><li>Peter Orchard aged 50 lives in Newham and Brian Everett aged 72 lives in Darlington  </li><li>Images of Peter Orchard, Area Manager for Newham &amp; Tower Hamlets and Brian Everett, President of the association are available on request  </li><li>Anyone who would like to interview Peter Orchard or Brian Everett should contact the TfL Press Office</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Brian Everett, a veteran of the Royal Air Force and President of the London Transport Old Comrades will lay the wreath at the Cenotaph. The London Transport Old Comrades Association, which is celebrating its 85th anniversary this year, is the only";}
        
        


 