


@{ViewBag.Title = "London Overground services return to normal operation on time";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Overground services return to normal operation on time</h1>
        <div class="content-page-press-release">
        17 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Full services returned to London Overground today on time after two-and-a half months of engineering works across the network were completed during the weekend.
        
    </div>



 <div class="on-this-page">
<p>All London Overground stations that were affected are now open and all services are running.</p>
<p>The work which included upgrading tracks, strengthening bridges and widening a tunnel are part of a wider improvement programme, which is necessary to deliver a more reliable and efficient service to passengers. </p>
<p>Transport for London (TfL) worked closely with passenger groups and local press and media to give passengers and residents information and advance notice about the works to minimize their inconvenience.</p>
<p>TfL also provided rail replacement bus services and an alternative rail service during the works.</p>
<p>TfL London Rail Managing Director Ian Brown said: 'I am pleased that the engineering works finished on time.</p>
<p>'I would also like to take the opportunity to thank all our passengers and stakeholders for their patience and support.</p>

<h2>Future investment</h2>
<p>'Most of the London Overground network has been neglected for decades.</p>
<p>'We are investing &pound;1.4bn and will upgrade the entire network over the next two years to deliver a frequent, safe and reliable service by 2012.&nbsp; </p>
<p>'London Overground already has longer operating hours and stations are staffed during these hours.</p>
<p>'Brand new and fully air-conditioned trains with greater capacity will operate on the London Overground network from 2009.</p>
<p>'The extended East London Line will open in 2010 and connect to Highbury and Islington in 2011.</p>
<p>'Frequent, metro-style services will also mean Londoners can simply 'turn up and go'.'</p>
<p>
<hr>
<br><strong>Notes to editors: 
<p>
<ul>
<li></li></ul></strong>Every day, 63,000 people use the London Overground network making a total of 23 million journeys every year 
<li>London Overground will run through 20 of London's 33 boroughs, and all stations will be staffed during operational hours </li>
<li>Oyster pay as you go is accepted at all stations. All stations have been fitted with Oyster gates or validators and ticket machines to reduce fare evasion </li>
<li>The London Overground network comprises the North London Railway and the East London Railway, once open in June 2010. The North London Railway includes: the North London Line (Richmond to Stratford); the London Euston to Watford Junction local line; the West London Line (Willesden Junction to Clapham Junction via Kensington Olympia) and the Gospel Oak to Barking line</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "All London Overground stations that were affected are now open and all services are running.The work which included upgrading tracks, strengthening bridges and widening a tunnel are part of a wider improvement programme, which is necessary to deliver a";}
        
        


 