


@{ViewBag.Title = "London Buses seeks your views on S3 extension";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Buses seeks your views on S3 extension</h1>
        <div class="content-page-press-release">
        07 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Buses is seeking the views of local residents and bus users on proposals to extend route S3 from Worcester Park Station to serve Malden Manor Station.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The proposed extension of route S3 would make the bus network more accessible for residents of Old Malden"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Bradley</div>
            <div class="quotee-job-title">Head of Stakeholder Engagement</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The proposed extension of route S3 would make the bus network more accessible for residents of Old Malden 
                            
                        </p>
                    </div>
                
            
            
            <p>The proposals would provide a new direct link between Malden Manor, North Cheam and Sutton, and bring approximately 370 households in Old Malden within five minutes walk of the bus network.&nbsp; </p> <p>The extension would improve access to St Anthony's, The Royal Marsden and Sutton hospitals, and the Richard Challoner School.</p> <p>The consultation opens on Friday 14 November 2008 and information on the proposals will be available on the TfL website from that date.&nbsp; </p> <p>The consultation closes on 9 January 2009. </p> <h2>Accessible</h2> <p>Information on the proposals will be displayed at Old Malden Library between Monday 24 November and Friday 5 December.&nbsp; </p> <p>London Buses staff will be on hand at the library on the morning of Thursday 27 November and the evening of Monday 1 December to answer questions from members of the public. </p> <p>Peter Bradley, Head of Stakeholder Engagement, said: 'The proposed extension of route S3 would make the bus network more accessible for residents of Old Malden and provide links to important local amenities such as schools, hospitals and libraries.</p> <p>'We're very keen to hear the views of passengers and local residents on our plans and I would encourage them to respond to the consultation and let us know what they think of the proposals.' </p> <p>Those who wish to respond to the consultation can do so via the TfL website (tfl.gov.uk/busrouteconsultation) or by contacting London Buses Customer Services on 0845 300 7000.</p> <p> <hr>  <p> <p><strong>Notes to editors:</strong></p> <ul> <li>Route S3 currently runs from Belmont to Worcester Park via Carshalton, Sutton and North Cheam.&nbsp;The proposed extension would take the bus from Worcester Park to Malden Manor Station via The Manor Drive and Manor Drive North  </li><li>Services would run every 20 minutes in each direction from about 06:00 to about 22:00, Monday to Saturday.&nbsp;There is no Sunday service  </li><li>Extended route S3 in Malden Manor would operate on a 'hail and ride' basis, stopping wherever it was safe to do so, when requested.&nbsp;Accessible boarding points with adjusted kerbs would be provided for disabled passengers  </li><li>Between 24 November and 5 December, plans for the route will be exhibited at the Old Malden Library, Church Road, Worcester Park, KT4 7RD.&nbsp;London Buses staff will be on hand to answer questions on Thursday 27 November between 10:00 and 12:30 and on Monday 1 December between 16:00 and 19:00.&nbsp;London Buses Customer Services can be contacted by:<br>a.&nbsp;telephone on 0845 300 7000<br>b.&nbsp;email at <a href="mailto:customerservices&#64;tfl-buses.co.uk">customerservices&#64;tfl-buses.co.uk</a><br>c.&nbsp;post at London Buses Customer Services, 4th floor, Palestra, 197 Blackfriars Road, London SE1 8NJ</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The proposals would provide a new direct link between Malden Manor, North Cheam and Sutton, and bring approximately 370 households in Old Malden within five minutes walk of the bus network.&nbsp;The extension would improve access to St Anthony's, The";}
        
        


 