


@{ViewBag.Title = "Major boost for Woolwich Town Centre ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Major boost for Woolwich Town Centre </h1>
        <div class="content-page-press-release">
        03 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London and Greenwich Council today celebrated a major boost to Woolwich Town Centre with the successful completion of a &pound;3.2m urban realm improvement scheme.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The improvements to road, river and rail transport are of key importance"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The improvements to road, river and rail transport are of key importance
                            
                        </p>
                    </div>
                
            
            
            <p>This first phase of the scheme, managed in partnership by Transport for London (TfL), Greenwich Council and the Department for Communities and Local Government, has seen the installation of a new 'super crossing,' at Plumstead Road, the planting of more than 100 new trees and the installation of high-quality, sensitively-designed street furniture. </p>
<p>Mayor of London Boris Johnson, said: 'I'm delighted to see the regeneration of Woolwich town centre coming to fruition as it shows what can be achieved when we work together with councils and communities to improve the quality of life for local people. </p>
<h2>Future regeneration</h2>
<p>'The improvements to road, river and rail transport are of key importance as they ensure&nbsp; that everyone has access to the town centre and the job opportunities that are being created by the increased investment.'</p>
<p>TfL's&nbsp;Director of Strategy, Dick Halle, said: 'The completion of this phase of the scheme demonstrates successful partnership working between London Borough of&nbsp;Greenwich and TfL. </p>
<p>'We hope that these significant improvements will not only offer immediate benefits to residents and visitors to Woolwich but will also pave the way for future regeneration projects.'</p>
<p>Greenwich Council Deputy Leader and Cabinet Member for Regeneration, Cllr Peter Brooks, said: 'The Woolwich Town Centre Scheme has already delivered real improvements, making it much easier and safer to cross Plumstead Road as a pedestrian or cyclist and making local bus routes quicker and more direct while visually transforming a section of the Woolwich New Road. </p>
<h2>Developments</h2>
<p>'With the extension of the DLR and further developments on the Royal Arsenal in the offing, these improvements play an important role in the overall regeneration of Woolwich.'</p>
<p>Phase two of the scheme is due to begin next month and will run until spring 2009. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Works undertaken include introducing a new 'super crossing' for Plumstead Road to link the Royal Arsenal with the town centre. Making Woolwich New Road (between Plumstead Road and Wilmount Street) public transport and access only. The changes mean only buses, taxis and service vehicles will be permitted to use this section of Woolwich New Road </li>
<li>The scheme will bring significant improvements for pedestrians, cyclists and local bus services </li>
<li>Currently there is substantial re-development taking place in and around Woolwich town centre, including the extension of the DLR, the housing development at the Royal Arsenal, a new civic centre at Love Lane and the future Tesco store in Thomas Street/Wellington Street </li>
<li>These town centre improvements are meant to link all the investment taking place in the Woolwich area by greatly enhancing the streets and areas in order to improve access to facilities and opportunities for residents and also re-connect the town centre with the Royal Arsenal </li>
<li>Pictures are available on request<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This first phase of the scheme, managed in partnership by Transport for London (TfL), Greenwich Council and the Department for Communities and Local Government, has seen the installation of a new 'super crossing,' at Plumstead Road, the planting of more";}
        
        


 