


@{ViewBag.Title = "Mayor announces &pound;4.5m boost to local transport in Hammersmith & Fulham";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;4.5m boost to local transport in Hammersmith & Fulham</h1>
        <div class="content-page-press-release">
        20 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Funding and greater freedom over spending for Hammersmith & Fulham to cut road deaths, improve town centres and cycling facilities, tackle the school run and carry out essential main road maintenance.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I promised I would be different and give greater freedom to the Boroughs"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I promised I would be different and give greater freedom to the Boroughs
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London, Boris Johnson, today announced &pound;4.5m of funding from Transport for London (TfL) for Hammersmith &amp; Fulham to deliver local transport improvements during the financial year 2009/10.&nbsp; </p>
<p>As well as increasing next year's local transport funding from TfL - up to &pound;168.3m from &pound;161m in 2008/09 - the Mayor also confirmed that London's boroughs will have greater freedom in choosing local transport projects.</p>
<p>TfL has included &pound;100,000 for the borough council to spend locally on transport as it chooses. </p>
<p>The &pound;4.5m package will allow the borough to finance several schemes to improve local transport for residents including:</p>
<ul type="circle">
<li>&pound;800,000 for the survey and renewal of ROAD2000. The survey will evaluate its condition and help determine a specific renewal and maintenance programme for this section of the highway.&nbsp;The ROAD2000 project involves the survey of the condition of all Local Principal Roads in the Greater London Area.&nbsp;The London Borough of Hammersmith&nbsp;&amp; Fulham manages the project for the 33 London Authorities on a lead borough basis </li>
<li>&pound;406,000 for the renewal of Hammersmith Road which is known to be currently in poor condition and will be renewed to correct any uneven surface, potholes and cracks. Pedestrians and vehicles will benefit from smooth, defect-free roads resulting in safer journeys in the boroughs </li>
<li>&pound;100,000 for walking improvements is Shepherd's Bush town centre, complimenting the Shepherd's Bush Project.&nbsp;This scheme will provide a high quality walking route between the northern part of Hammersmith and the Westfield Shopping Centre.&nbsp; Measures will include new footways and better crossing facilities.&nbsp;&pound;60,000 for cycle training and &pound;25,000 for cycle parking improvements</li></ul>
<p>Mayor of London, Boris Johnson said: 'When I was elected I promised I would be different and give greater freedom to the Boroughs. </p>
<p>'This is why this year I have introduced a &pound;100,000 award for Boroughs to spend as they choose.</p>
<p>'Boroughs are being given greater freedom to develop and deliver the schemes they want, which means more choice over a range of key local schemes to improve town centres and cycling facilities, tackle the school run and improve local roads.<br>&nbsp;<br>'I am awarding Hammersmith &amp; Fulham a budget of &pound;4.5m next year for local schemes that will make travelling safer, more accessible and more environment-friendly, helping to improve the quality of life for people across the borough.'</p>
<p>Funding for local transport schemes is allocated each year by TfL in response to the applications from boroughs based on their Local Implementation [transport] Plans (LIPs).</p>
<p>Funding is currently available for a wide range of programmes including road safety, maintaining borough roads, tackling the school run, improving walking, cycling and the local environment, making transport more accessible and measures to improve bus journeys.</p>
<hr>

<p><strong>Notes to editors: </strong></p>
<p>Below is a table with a breakdown of Local Implementation Plan funding for Hammersmith &amp; Fulham:<br></p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;20mph zones</td>
<td>&nbsp;100k</td></tr>
<tr>
<td>&nbsp;Bus Priority</td>
<td>&nbsp;940k</td></tr>
<tr>
<td>&nbsp;Bus Stop Accessibility</td>
<td>&nbsp;82k</td></tr>
<tr>
<td>&nbsp;Education, Training, Publicity</td>
<td>&nbsp;65k</td></tr>
<tr>
<td>&nbsp;London Cycling Network</td>
<td>&nbsp;+ 290k</td></tr>
<tr>
<td>&nbsp;Accessibility </td>
<td>&nbsp;60k</td></tr>
<tr>
<td>&nbsp;Local Safety Schemes </td>
<td>&nbsp;320k</td></tr>
<tr>
<td>&nbsp;Cycling </td>
<td>&nbsp;160k</td></tr>
<tr>
<td>&nbsp;Parallel Initiatives </td>
<td>&nbsp;165k</td></tr>
<tr>
<td>&nbsp;Principal road renewal </td>
<td>&nbsp;1,406k</td></tr>
<tr>
<td>&nbsp;School Travel Plans </td>
<td>&nbsp;259k</td></tr>
<tr>
<td>&nbsp;Travel Awareness</td>
<td>&nbsp;22k</td></tr>
<tr>
<td>&nbsp;Walking </td>
<td>&nbsp;175k</td></tr>
<tr>
<td>&nbsp;Work Travel Plans </td>
<td>&nbsp;15k</td></tr>
<tr>
<td>&nbsp;Trial funding</td>
<td>&nbsp;100k</td></tr>
<tr>
<td>&nbsp;Bridge Strengthening and Assessment </td>
<td>&nbsp;380k</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr></tr>
<tr></tr>
<tr>
<td><strong>&nbsp;TOTAL: </strong></td>
<td><strong>&nbsp;4,539k</strong></td></tr></tbody></table></div></p>
<ul type="circle">
<li>Each London borough has a Local Implementation Plan (LIP) approved by the Mayor containing proposals to implement the Mayor's Transport Strategy locally.&nbsp;While TfL allocates funding for individual schemes, LIP and individual project delivery is the responsibility of each borough</li>
<li>A School Travel Plan is a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run, aiming to reduce single occupancy car journeys to school, cut congestion and increase safety near schools</li>
<li>Priorities for Local Implementation Plans include:</li></ul>
<blockquote>
<li>Improving road safety</li>
<li>Encouraging walking and cycling </li>
<li>Improving bus journey times and reliability</li>
<li>Relieving traffic congestion and improving journey time reliability </li>
<li>Improving the working of parking and loading arrangements </li>
<li>Improving accessibility for all on the transport network</li>
<li>Bringing transport infrastructure into a state of good repair</li>
<li>School travel planning </li></blockquote>
<ul type="circle">
<li>Funding can be broken down by LIP programmes as above once final allocations have been approved<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Boris Johnson, today announced &pound;4.5m of funding from Transport for London (TfL) for Hammersmith &amp; Fulham to deliver local transport improvements during the financial year 2009/10.&nbsp; As well as increasing next year's";}
        
        


 