


@{ViewBag.Title = "Mayor announces &pound;3.5m boost to local transport in Barnet";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;3.5m boost to local transport in Barnet</h1>
        <div class="content-page-press-release">
        20 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Funding and greater freedom over spending for Barnet to renew roads, cut road deaths, improve town centres and cycling facilities, tackle the school run and carry out essential main road maintenance.
        
    </div>



 <div class="on-this-page">
<p>The Mayor of London Boris Johnson today announced &pound;3.5m of funding from Transport for London (TfL)&nbsp;for Barnet to deliver local transport improvements during the financial year 2009/10.&nbsp; </p>
<p>As well as increasing next year's local transport funding from TfL - up to &pound;168.3m from &pound;161m in 2008/09 - the Mayor also confirmed that London's boroughs will have greater freedom in choosing local transport projects.</p>
<p>TfL has included &pound;100,000 for the borough council to spend locally on transport as it chooses.</p>
<p>The &pound;3.5m package will allow the borough to finance several schemes to improve local transport for residents including: </p>
<ul>
<li>&pound;767,000 for road renewal on The Hyde NW9 (A5) and Pricklers Hill. The carriageways and footways at these locations which are currently in poor condition will be renewed to correct any uneven surface, potholes and cracks. Pedestrians and vehicles will benefit from smooth, defect-free roads resulting in safer journeys in the boroughs </li>
<li>&pound;160,000 for The Golders Green Gyratory Local Safety scheme that aims to improve the junctions around the gyratory to increase road safety. Some of the measures include kerb realignment at the roundabout </li>
<li>&pound;107,000 for cycle training and &pound;10,000 for cycle parking improvements in the borough </li>
<li>&pound;60,000 for improvements to the East Finchley Urban Footpaths - which stretch from North Circular Road to East Finchley station.&nbsp;Measures include improved accessibility and better footpath surfaces </li>
<li>&pound;50,000 for a&nbsp; scheme on Colney Hatch Lane that will widening the northbound carriageway between TESCOs and Ribblesdale Av in TfL owned land to provide an extra traffic lane</li></ul>
<p>Mayor of London, Boris Johnson said: 'When I was elected I promised I would be different and give greater freedom to the Boroughs.</p>
<p>'This is why this year I have introduced a &pound;100,000 award for Boroughs to spend as they choose.</p>
<p>'Boroughs are being given greater freedom to develop and deliver the schemes they want, which means more choice over a range of key local schemes to improve town centres and cycling facilities, tackle the school run and improve local roads.'<br>&nbsp;<br>'I am awarding Barnet a budget of &pound;3.5m next year for local schemes that will make travelling safer, more accessible and more environment-friendly, helping to improve the quality of life for people across the borough.'</p>
<p>Funding for local transport schemes is allocated each year by TfL in response to the applications from boroughs based on their Local Implementation [transport] Plans (LIPs).</p>
<p>Funding is currently available for a wide range of programmes including road safety, maintaining borough roads, tackling the school run, improving walking, cycling and the local environment, making transport more accessible and measures to improve bus journeys.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong> </p>
<ul>
<li>Below is a table with a breakdown of Local Implementation Plan funding for Barnet: 
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>Bus Priority</td>
<td>&nbsp;&pound;650,000</td></tr>
<tr>
<td>&nbsp;Bus Stop Accessibility</td>
<td>&nbsp;&pound;50,000</td></tr>
<tr>
<td>&nbsp;London Cycling Network+</td>
<td>&nbsp;&pound;115,000</td></tr>
<tr>
<td>&nbsp;Accessibility</td>
<td>&nbsp;&pound;40,000</td></tr>
<tr>
<td>&nbsp;Local Safety Schemes</td>
<td>&nbsp;&pound;705,000</td></tr>
<tr>
<td>&nbsp;Cycling</td>
<td>&nbsp;&pound;117,000</td></tr>
<tr>
<td>&nbsp;Principal road renewal</td>
<td>&nbsp;&pound;968,000</td></tr>
<tr>
<td>&nbsp;School Travel Plans</td>
<td>&nbsp;&pound;556,000</td></tr>
<tr>
<td>&nbsp;Walking</td>
<td>&nbsp;&pound;120,000</td></tr>
<tr>
<td>&nbsp;Trial funding</td>
<td>&nbsp;&pound;100,000</td></tr>
<tr>
<td>&nbsp;Bridge Strengthening and Assessment</td>
<td>&nbsp;&pound;98,000</td></tr>
<tr>
<td>&nbsp;<strong>TOTAL:</strong></td>
<td><strong>&nbsp;&pound;3,519,000</strong></td></tr></tbody></table></div></li>
<li>Each London borough has a LIP approved by the Mayor containing proposals to implement the Mayor's Transport Strategy locally.&nbsp;While TfL allocates funding for individual schemes, LIP and individual project delivery is the responsibility of each borough </li>
<li>A School Travel Plan is a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run, aiming to reduce single occupancy car journeys to school, cut congestion and increase safety near schools </li>
<li>Priorities for Local Implementation Plans include: 
<ul>
<li>Improving road safety </li>
<li>Encouraging walking and cycling&nbsp; </li>
<li>Improving bus journey times and reliability </li>
<li>Relieving traffic congestion and improving journey time reliability&nbsp; </li>
<li>Improving the working of parking and loading arrangements&nbsp; </li>
<li>Improving accessibility for all on the transport network&nbsp; </li>
<li>Bringing transport infrastructure into a state of good repair&nbsp; </li>
<li>School travel planning</li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London Boris Johnson today announced &pound;3.5m of funding from Transport for London (TfL)&nbsp;for Barnet to deliver local transport improvements during the financial year 2009/10.&nbsp; As well as increasing next year's local transport";}
        
        


 