


@{ViewBag.Title = "Mayor announces &pound;2.8m boost to local transport in Wandsworth";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;2.8m boost to local transport in Wandsworth</h1>
        <div class="content-page-press-release">
        20 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Increase in funding and greater freedom over spending for Wandsworth to cut road deaths, improve town centres and cycling facilities, tackle the school run and carry out essential main road maintenance.
        
    </div>



 <div class="on-this-page">
<p>The Mayor of London Boris Johnson today announced &pound;2.8m of funding from Transport for London (TfL) for Wandsworth to deliver local transport improvements during the financial year 2009/10.</p>
<p>As well as increasing next year's local transport funding from TfL - up to &pound;168.3m from &pound;161m in 2008/09 - the Mayor also confirmed that London's boroughs will have greater freedom in choosing local transport projects.</p>
<p>TfL has included &pound;100,000 for the borough council to spend locally on transport as it chooses.</p>
<p>The &pound;2.8m package will allow the borough to finance several schemes to improve local transport for residents including:</p>
<ul>
<li>&pound;200,000 for a 20mph scheme in the Dover House Road and West Putney area. Measures will include entry treatments and road narrowing to reduce road collisions, excess speed and rat-running</li>
<li>&pound;100,000 for the implementation of diagonal pedestrian crossing outside Southfields District line Station.&nbsp;This scheme will improve accessibility and journey time to the station and help complement the proposed provision of a lift within the station, adding value to existing TfL spend. At peak times on an average weekday, some 2,800 people enter and exit the station per hour and a total of 5m users per year. They are subject to delay and inconvenience, as it is not possible to make the most direct crossing movement. A diversionary route taking in two arms of the junction must be taken instead, and this leads to pedestrian congestion on the corners of the junction</li>
<li>&pound;100,000 for the implementation of school travel plans at Burntwood School and Ernest Bevan College. Measures will include a crossing facility and cycling provision on Burntwood Lane</li>
<li>&pound;60,000 for cycle training, &pound;20,000 for residential cycle parking and &pound;8,000 for cycle parking in public places</li>
<li>&pound;15,000 to help fund the installation of two Electrical Recharging Points in the borough. They will provide an alternative energy source which aims to improve local air quality for businesses, residents, visitors and fleet operators by assisting in reducing CO2 emissions</li></ul>
<p>Mayor of London, Boris Johnson said: 'When I was elected I promised I would be different and give greater freedom to the Boroughs.</p>
<p>'This is why this year I have introduced a &pound;100,000 award for Boroughs to spend as they choose.</p>
<p>'Boroughs are being given greater freedom to develop and deliver the schemes they want, which means more choice over a range of key local schemes to improve town centres and cycling facilities, tackle the school run and improve local roads.<br>&nbsp;<br>'I am awarding Wandsworth a budget of &pound;2.8m next year for local schemes that will make travelling safer, more accessible and more environment-friendly, helping to improve the quality of life for people across the borough.'</p>
<p>Funding for local transport schemes is allocated each year by TfL in response to the applications from boroughs based on their Local Implementation [transport] Plans (LIPs).</p>
<p>Funding is currently available for a wide range of programmes including road safety, maintaining borough roads, tackling the school run, improving walking, cycling and the local environment, making transport more accessible and measures to improve bus journeys.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong> </p>
<ul>
<li>Below is a table with a breakdown of Local Implementation Plan funding for Wandsworth: 
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;20mph zones</td>
<td>&nbsp;&pound;280,000</td></tr>
<tr>
<td>&nbsp;Bus Priority</td>
<td>&nbsp;&pound;534,000</td></tr>
<tr>
<td>&nbsp;Bus Stop Accessibility</td>
<td>&nbsp;&pound;64,000</td></tr>
<tr>
<td>&nbsp;Education, Training, Publicity</td>
<td>&nbsp;&pound;60,00</td></tr>
<tr>
<td>&nbsp;Environment</td>
<td>&nbsp;&pound;15,000</td></tr>
<tr>
<td>&nbsp;Freight</td>
<td>&nbsp;&pound;30,000</td></tr>
<tr>
<td>&nbsp;London Cycling Network+</td>
<td>&nbsp;&pound;200,000</td></tr>
<tr>
<td>&nbsp;Accessibility</td>
<td>&nbsp;&pound;60,000</td></tr>
<tr>
<td>&nbsp;Local Safety Schemes</td>
<td>&nbsp;&pound;575,000</td></tr>
<tr>
<td>&nbsp;Cycling</td>
<td>&nbsp;&pound;143,000</td></tr>
<tr>
<td>&nbsp;Principal road renewal</td>
<td>&nbsp;&pound;240,000</td></tr>
<tr>
<td>&nbsp;School Travel Plans</td>
<td>&nbsp;&pound;260,000</td></tr>
<tr>
<td>&nbsp;Travel Awareness</td>
<td>&nbsp;&pound;20,000</td></tr>
<tr>
<td>&nbsp;Walking</td>
<td>&nbsp;&pound;200,000</td></tr>
<tr>
<td>&nbsp;Work Travel Plans</td>
<td>&nbsp;&pound;10,000</td></tr>
<tr>
<td>&nbsp;Trial funding</td>
<td>&nbsp;&pound;100,000</td></tr>
<tr>
<td>&nbsp;Bridge Strengthening and Assessment</td>
<td>&nbsp;&pound;50,000</td></tr>
<tr>
<td>&nbsp;<strong>TOTAL:</strong></td>
<td>
<p>&nbsp;<strong>&pound;2,841,000</strong></p></td></tr></tbody></table></div></li>
<li>Each London borough has a Local Implementation Plan (LIP) approved by the Mayor containing proposals to implement the Mayor's Transport Strategy locally.&nbsp;While TfL allocates funding for individual schemes, LIP and individual project delivery is the responsibility of each borough</li>
<li>A School Travel Plan is a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run, aiming to reduce single occupancy car journeys to school, cut congestion and increase safety near schools</li>
<li>Priorities for Local Implementation Plans include:</li>
<ul>
<li>Improving road safety</li>
<li>Encouraging walking and cycling&nbsp;</li>
<li>Improving bus journey times and reliability</li>
<li>Relieving traffic congestion and improving journey time reliability&nbsp;</li>
<li>Improving the working of parking and loading arrangements&nbsp;</li>
<li>Improving accessibility for all on the transport network&nbsp;</li>
<li>Bringing transport infrastructure into a state of good repair&nbsp;</li>
<li>School travel planning</li></ul>
<li>Electrical Charging points: &pound;390,000 has been allocated to 12 Boroughs to install a further 70 points across London. The cost of a charging point is &pound;7k. The first on street vehicle charging point in London was implemented in August 2006 in Covent Garden followed by an individual 28 points in 8 Boroughs in 2007 /2008. Information on location of charging points can be found on <a href="http://www.newride.org">www.newride.org</a><br></li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London Boris Johnson today announced &pound;2.8m of funding from Transport for London (TfL) for Wandsworth to deliver local transport improvements during the financial year 2009/10.As well as increasing next year's local transport funding";}
        
        


 