


@{ViewBag.Title = "Mayor announces &pound;3.3m boost to local transport in Hackney";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;3.3m boost to local transport in Hackney</h1>
        <div class="content-page-press-release">
        20 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Funding and greater freedom over spending for Hackney to cut road deaths, improve town centres and cycling facilities, tackle the school run and carry out essential main road maintenance.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Boroughs are being given greater freedom to develop and deliver the schemes they want"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Boroughs are being given greater freedom to develop and deliver the schemes they want
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London Boris Johnson today announced &pound;3.3m of funding from Transport for London (TfL) for Hackney to deliver local transport improvements during the financial year 2009/10.</p>
<p>As well as increasing next year's local transport funding from TfL - up to &pound;168.3m from &pound;161m in 2008/09 - the Mayor also confirmed that London's boroughs will have greater freedom in choosing local transport projects.</p>
<p>TfL has included &pound;100,000 for the borough council to spend locally on transport as it chooses.</p>
<p>The &pound;3.3m package will allow the borough to finance several schemes to improve local transport for residents including: </p>
<ul type="circle">
<li>&pound;400,000 for the Gillett Square Streets for People scheme which will deliver a safer, more accessible and more pleasant environment for residents. Wider footways will be installed as well as new lighting, trees and pedestrian facilities </li>
<li>&pound;238,000 for the renewal of the carriageways and footways of Green Lanes which are known to be currently in poor condition and will be renewed to correct any uneven surface, potholes and cracks. Pedestrians and vehicles will benefit from smooth, defect-free roads resulting in safer journeys in the boroughs </li>
<li>&pound;200,000 for the Hackney Cycle Training Programme which aims to provide an ethnically diverse population with the skills and confidence to cycle in London thus making cycling easier and safer for those who take part in the scheme. Cycle training in Hackney is outsourced to STA bikes who won an award at the Community Cycling Awards in 2007 for their innovation and excellence. In 2007/08 through LIP funding Hackney trained over 1100 children and 350 adults </li>
<li>&pound;100,000 to improve key walking routes between Hackney Central and London Fields.&nbsp; Measures will include footway surface improvements, new crossings and safety and security enhancements where necessary.&nbsp; These works will encourage more people to take up walking by reducing the impact of traffic and creating more direct routes </li>
<li>&pound;45,000 to improve cycling provision in the Downs Lane/Tiger Way and Downs Lane/Downs Road areas</li></ul>
<p>Mayor of London, Boris Johnson said: 'When I was elected I promised I would be different and give greater freedom to the Boroughs. This is why this year I have introduced a &pound;100,000 award for Boroughs to spend as they choose.</p>
<p>'Boroughs are being given greater freedom to develop and deliver the schemes they want, which means more choice over a range of key local schemes to improve town centres and cycling facilities, tackle the school run and improve local roads.<br>&nbsp;<br>'I am awarding Hackney a budget of &pound;3.3m next year for local schemes that will make travelling safer, more accessible and more environment-friendly, helping to improve the quality of life for people across the borough.'</p>
<p>Funding for local transport schemes is allocated each year by TfL in response to the applications from boroughs based on their Local Implementation [transport] Plans (LIPs).</p>
<p>Funding is currently available for a wide range of programmes including road safety, maintaining borough roads, tackling the school run, improving walking, cycling and the local environment, making transport more accessible and measures to improve bus journeys.</p>
<p>
<hr>

<p><strong>Notes to editors:</strong></p>
<p>Below is a table with a breakdown of Local Implementation Plan funding for Hackney: </p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;20mph zones</td>
<td>&nbsp;110k</td></tr>
<tr>
<td>&nbsp;Bus Priority</td>
<td>&nbsp;860k</td></tr>
<tr>
<td>&nbsp;Bus Stop Accessibility</td>
<td>&nbsp;70k</td></tr>
<tr>
<td>&nbsp;Controlled Parking</td>
<td>&nbsp;30k</td></tr>
<tr>
<td>&nbsp;Education, Training, Publicity</td>
<td>&nbsp;22k</td></tr>
<tr>
<td>&nbsp;Environment</td>
<td>&nbsp;10k </td></tr>
<tr>
<td>&nbsp;Freight</td>
<td>&nbsp;8k </td></tr>
<tr>
<td>&nbsp;London Cycling Network</td>
<td>&nbsp;+335k</td></tr>
<tr>
<td>Accessibility</td>
<td>&nbsp;40k</td></tr>
<tr>
<td>&nbsp;Local Safety Schemes</td>
<td>&nbsp;485k</td></tr>
<tr>
<td>&nbsp;Cycling </td>
<td>&nbsp;415k</td></tr>
<tr>
<td>&nbsp;Principal road renewal </td>
<td>&nbsp;238k</td></tr>
<tr>
<td>&nbsp;Regeneration </td>
<td>&nbsp;150k</td></tr>
<tr>
<td>&nbsp;School Travel Plans</td>
<td>&nbsp;290k</td></tr>
<tr>
<td>Travel Awareness</td>
<td>&nbsp;42k</td></tr>
<tr>
<td>Walking</td>
<td>&nbsp;130k</td></tr>
<tr>
<td>&nbsp;Work Travel Plans</td>
<td>&nbsp;20k</td></tr>
<tr>
<td>&nbsp;Trial funding </td>
<td>&nbsp;100k</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td><strong>TOTAL: </strong></td>
<td><strong>&nbsp;3,355k</strong></td></tr></tbody></table></div>
<ul>
<li>&nbsp;Each London borough has a Local Implementation Plan (LIP) approved by the Mayor containing proposals to implement the Mayor's Transport Strategy locally.&nbsp;While Transport for London (TfL) allocates funding for individual schemes, LIP and individual project delivery is the responsibility of each borough</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London Boris Johnson today announced &pound;3.3m of funding from Transport for London (TfL) for Hackney to deliver local transport improvements during the financial year 2009/10.As well as increasing next year's local transport funding from";}
        
        


 