


@{ViewBag.Title = "Mayor announces &pound;3.9m boost to local transport in Bromley";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;3.9m boost to local transport in Bromley</h1>
        <div class="content-page-press-release">
        20 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Funding and greater freedom over spending for Bromley to cut road deaths, improve town centres and cycling facilities, tackle the school run and carry out essential main road maintenance.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"When I was elected I promised I would be different and give greater freedom to the boroughs"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            When I was elected I promised I would be different and give greater freedom to the boroughs
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London Boris Johnson today announced &pound;3.9m of funding from Transport for London (TfL) for Bromley to deliver local transport improvements during the financial year 2009/10.&nbsp; </p>
<p>As well as increasing next year's local transport funding from TfL - up to &pound;168.23m from &pound;161m in 2008/09 - the Mayor also confirmed that London's boroughs will have greater freedom in choosing local transport projects.</p>
<p>TfL has included &pound;100,000 for the borough council to spend locally on transport as it chooses.</p>
<p>The &pound;3.9m package will allow the borough to finance several schemes to improve local transport for residents including:</p>
<ul>
<li>&pound;660,000 for the renewal of the A233 Oakley Road, Keston and the A224 Court Road, Orpington. The carriageways and footways of the A233 Oakley Road and the A224 Court Road which are known to be currently in poor condition will be renewed to correct any uneven surface, potholes and cracks. Pedestrians and vehicles will benefit from smooth, defect-free roads resulting in safer journeys in the boroughs </li>
<li>&pound;200,000 for a 20mph zone in the Avalon Road/Ramsden Road area.&nbsp;This will reduce traffic speeds and create a safer environment for all road users </li>
<li>&pound;150,000 for cycle training in the borough </li>
<li>&pound;60,000 to improve walking provision on Leaves Green Road.&nbsp;Measures include a new hard surface footpath, better accessibility and more safety for pedestrians and bus users in the area </li>
<li>&pound;40,000 for the implementation of improvements identified in the school travel plan at Coopers School.&nbsp;Possible measures include localised road widening and the provision of a pedestrian refuge </li>
<li>&pound;38,000 for a local safety scheme in the Sevenoaks Road/Glentrammon Road area.&nbsp;Work will include junction alterations and raised tables </li>
<li>&pound;10,000 for the innovative 'Walk the World' project. The project is a continuation of the successful 'Walk once a Week' (WoW) scheme where schools earn 'wow' miles to compare how far they would have walked around the world</li></ul>
<p>Mayor of London Boris Johnson said: 'When I was elected I promised I would be different and give greater freedom to the boroughs.</p>
<p>This is why this year I have introduced a &pound;100,000 award for boroughs to spend as they choose. </p>
<p>'Boroughs are being given greater freedom to develop and deliver the schemes they want, which means more choice over a range of key local schemes to improve town centres and cycling facilities, tackle the school run and improve local roads.</p>
<p>'I am awarding Bromley a budget of &pound;3.9m next year for local schemes that will make travelling safer, more accessible and more environment-friendly, helping to improve the quality of life for people across the borough.'</p>
<p>Funding for local transport schemes is allocated each year by TfL in response to the applications from boroughs based on their Local Implementation [transport] Plans (LIPs). Funding is currently available for a wide range of programmes including road safety, maintaining borough roads, tackling the school run, improving walking, cycling and the local environment, making transport more accessible and measures to improve bus journeys.&nbsp; </p>
<p>
<hr>

<p>
<p><strong>Notes to editors: </strong><strong><p>
<ul>
<li></li></ul></strong>Below is a table with a breakdown of LIP funding for Bromley:
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;20mph zones </td>
<td>&nbsp;400,000</td></tr>
<tr>
<td>&nbsp;Bus priority </td>
<td>&nbsp;615,000</td></tr>
<tr>
<td>&nbsp;Bus stop accessibility </td>
<td>&nbsp;65,000</td></tr>
<tr>
<td>&nbsp;Controlled parking </td>
<td>&nbsp;50,000k</td></tr>
<tr>
<td>&nbsp;Education, training, publicity </td>
<td>&nbsp;75,000</td></tr>
<tr>
<td>&nbsp;London Cycling Network+ </td>
<td>
<p>&nbsp;335,000</p></td></tr>
<tr>
<td>&nbsp;Accessibility </td>
<td>&nbsp;20,000</td></tr>
<tr>
<td>&nbsp;Local safety chemes </td>
<td>&nbsp;604,000</td></tr>
<tr>
<td>&nbsp;Cycling </td>
<td>&nbsp;200,000</td></tr>
<tr>
<td>&nbsp;Parallel initiatives </td>
<td>&nbsp;50,000</td></tr>
<tr>
<td>&nbsp;Principal road renewal </td>
<td>&nbsp;660,000</td></tr>
<tr>
<td>&nbsp;School travel plans </td>
<td>&nbsp;455,000</td></tr>
<tr>
<td>&nbsp;Travel awareness </td>
<td>&nbsp;17,000</td></tr>
<tr>
<td>&nbsp;Walking </td>
<td>&nbsp;98,000</td></tr>
<tr>
<td>&nbsp;Trial funding </td>
<td>&nbsp;100,000</td></tr>
<tr>
<td>&nbsp;Bridge strengthening and assessment </td>
<td>&nbsp;195,000</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td><strong>&nbsp;Total</strong></td>
<td>&nbsp;3,939,000</td></tr></tbody></table></div><br><br></p>
<ul>
<li>Each London borough has a&nbsp;LIP approved by the Mayor containing proposals to implement the Mayor's Transport Strategy locally.&nbsp; While TfL allocates funding for individual schemes, LIP and individual project delivery is the responsibility of each borough </li>
<li>A school travel plan is a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run, aiming to reduce single occupancy car journeys to school, cut congestion and increase safety near schools </li>
<li>Priorities for Local Implementation Plans include:&nbsp;&nbsp; 
<ul type="circle">
<li>Improving road safety </li>
<li>Encouraging walking and cycling </li>
<li>Improving bus journey times and reliability </li>
<li>Relieving traffic congestion and improving journey time reliability </li>
<li>Improving the working of parking and loading arrangements </li>
<li>Improving accessibility for all on the transport network </li>
<li>Bringing transport infrastructure into a state of good repair </li>
<li>School travel planning </li></ul></li>
<li>NB funding can be broken down by LIP programmes as above once final allocations have been approved</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London Boris Johnson today announced &pound;3.9m of funding from Transport for London (TfL) for Bromley to deliver local transport improvements during the financial year 2009/10.&nbsp; As well as increasing next year's local transport funding";}
        
        


 