


@{ViewBag.Title = "Mayor announces &pound;168.3m boost to local transport across London ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;168.3m boost to local transport across London </h1>
        <div class="content-page-press-release">
        20 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Largest ever funding package and greater freedom over spending to help boroughs cut road deaths, improve town centres and cycling facilities, tackle the school run and carry out essential main road maintenance.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'Boroughs are being given greater freedom to develop and deliver the schemes they want, which means more choice over a range of key local schemes to improve town centres and cycling facilities, tackle the school run and improve local roads"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'Boroughs are being given greater freedom to develop and deliver the schemes they want, which means more choice over a range of key local schemes to improve town centres and cycling facilities, tackle the school run and improve local roads
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London Boris Johnson today announced &pound;168.3m of funding for London's boroughs to deliver local transport improvements during the financial year 2009/10.&nbsp; </p>
<p>As well as increasing next year's local borough transport plan funding from Transport for London (TfL) - up from &pound;161m in 2008/09 - the Mayor also confirmed that London's boroughs will have greater freedom in delivering local transport projects.</p>
<p>Mayor of London, Boris Johnson said: 'When I was elected I promised I would be different and give greater freedom to the boroughs. </p>
<p>'This is why this year I have introduced a &pound;100,000 award for boroughs to spend as they choose. </p>
<h2>Safer travel</h2>
<p>'Boroughs are being given greater freedom to develop and deliver the schemes they want, which means more choice over a range of key local schemes to improve town centres and cycling facilities, tackle the school run and improve local roads.</p>
<p>'Next year's will be the largest ever borough transport plan funding with &pound;168.3m for local schemes to make travelling safer, more accessible and more environment-friendly, helping to improve the quality of life for people across London.'</p>
<p>Funding for local schemes is allocated each year by TfL in response to applications from boroughs based on their Local Implementation Plans (LIPs) for transport. </p>
<p>Funding is currently available for a wide range of programmes including road safety, maintaining borough roads, tackling the school run, improving walking, cycling and the local environment, making transport more accessible and measures to improve bus journeys.&nbsp; </p>
<h2>Greater flexibility</h2>
<p>London's Transport Commissioner, Peter Hendy, said:&nbsp;'The London boroughs play a key role as strategic partners with TfL in delivering many local improvements to transport.</p>
<p>'This largest-ever funding announcement, coupled with the greater flexibility, in working together will ensure the boroughs continue their excellent delivery record of local schemes.</p>
<p>'Boroughs will have flexibility to shift LIPs funds between projects, receiving funding towards overall programmes rather than individual projects. </p>
<p>'In addition each borough will receive &pound;100,000 funding to spend as they wish on transport related schemes'</p>
<p>TfL funds hundreds of local schemes each year, with examples of major projects for 2009/10 to include: </p>
<ul>
<li><strong>Central London </strong>- the assessment and strengthening of the Albert Bridge, a listed structure currently closed to vehicles over two tons </li>
<li><strong>South London </strong>- improved pedestrian access to Clapham Junction station and better interchange with different modes of transport </li>
<li><strong>West London </strong>- &pound;85,000 will help fund the installation of 22 Electrical Recharging Points in the London borough of Ealing. They will provide an alternative energy source which aims to improve local air quality for businesses, residents, visitors and fleet operators by assisting in reducing CO2 emissions </li>
<li><strong>North London </strong>- Camden Town Centre scheme will deliver widened footways, new crossing points, and better lighting to make the area safer, more accessible and easier to use for pedestrians. Cycle and motorcycle parking facilities will also be installed </li>
<li><strong>East London </strong>- Hornchurch town centre in the London borough of Havering will benefit from a range of improvements including better pedestrian crossings, parking and street design </li></ul>
<p>
<hr>
<br><strong>Notes to editors: </strong>
<p>
<ul>
<li>Each London borough has a Local Implementation Plan (LIP) approved by the Mayor containing proposals to implement the Mayor's Transport Strategy locally.&nbsp; While TfL allocates funding for individual schemes, the LIP and delivery of individual projects is the responsibility of each borough </li>
<li>In addition to the usual borough allocations, TfL has included &pound;100,000 for each of the boroughs to spend locally on transport as they choose. This is being introduced on a trial basis </li>
<li>Total allocation by programme area: </li></ul>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td><strong>&nbsp;Programme (&pound;m)</strong></td>
<td><strong>&nbsp;Allocation 2009/10</strong></td></tr>
<tr>
<td>&nbsp;Road renewal</td>
<td>&nbsp;17.1</td></tr>
<tr>
<td>&nbsp;Bridge strengthening and assessment</td>
<td>&nbsp;6.3</td></tr>
<tr>
<td>&nbsp;Bus priority (incl. stop accessibility)</td>
<td>&nbsp;22.9</td></tr>
<tr>
<td>&nbsp;Parallel initiatives</td>
<td>&nbsp;0.7</td></tr>
<tr>
<td>&nbsp;LCN+</td>
<td>&nbsp;10.0</td></tr>
<tr>
<td>&nbsp;Cycling</td>
<td>&nbsp;6.2</td></tr>
<tr>
<td>&nbsp;Walking</td>
<td>&nbsp;8.9</td></tr>
<tr>
<td>&nbsp;Road safety</td>
<td>&nbsp;29.8</td></tr>
<tr>
<td>&nbsp;Area-based schemes</td>
<td>&nbsp;19.3</td></tr>
<tr>
<td>&nbsp;Environment and accessibility</td>
<td>&nbsp;6.6</td></tr>
<tr>
<td>&nbsp;School travel plans</td>
<td>&nbsp;8.5</td></tr>
<tr>
<td>&nbsp;Other smarter travel</td>
<td>&nbsp;2.1</td></tr>
<tr>
<td>&nbsp;Studies and surveys</td>
<td>&nbsp;2.3</td></tr>
<tr>
<td>&nbsp;Core funding</td>
<td>&nbsp;0.6</td></tr>
<tr>
<td>&nbsp;Traffic signals (incl. modernisation)</td>
<td>&nbsp;11.1</td></tr>
<tr>
<td><strong>&nbsp;Sub-total</strong></td>
<td>&nbsp;152.4</td></tr>
<tr>
<td>&nbsp;Leicester Square</td>
<td>&nbsp;2.3</td></tr>
<tr>
<td>&nbsp;Olympics cycling and walking</td>
<td>&nbsp;7.0</td></tr>
<tr>
<td>&nbsp;Bounds Green A406 Complementary</td>
<td>&nbsp;0.7</td></tr>
<tr>
<td>&nbsp;Other (later) smarter travel</td>
<td>&nbsp;2.1</td></tr>
<tr>
<td>&nbsp;Capacity development/training</td>
<td>&nbsp;0.5</td></tr>
<tr>
<td>&nbsp;Local transport funding</td>
<td>&nbsp;3.3</td></tr>
<tr>
<td><strong>&nbsp;Totals</strong></td>
<td>&nbsp;168.3</td></tr></tbody></table></div></p>
<p>&nbsp;</p>
<blockquote>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td><strong>&nbsp;LIP programme 2008/09</strong></td>
<td>&nbsp;<strong>Allocation &pound;</strong></td></tr>
<tr>
<td>&nbsp;Barking and Dagenham</td>
<td>&nbsp;2,938,000</td></tr>
<tr>
<td>&nbsp;Barnet</td>
<td>&nbsp;3,519,000</td></tr>
<tr>
<td>&nbsp;Bexley</td>
<td>&nbsp;2,960,000</td></tr>
<tr>
<td>&nbsp;Brent</td>
<td>&nbsp;5,261,000</td></tr>
<tr>
<td>&nbsp;Bromley</td>
<td>&nbsp;3,939,000</td></tr>
<tr>
<td>&nbsp;Camden</td>
<td>&nbsp;6,549,000</td></tr>
<tr>
<td>&nbsp;City of London</td>
<td>&nbsp;3,921,000</td></tr>
<tr>
<td>&nbsp;Croydon</td>
<td>&nbsp;5,797,000</td></tr>
<tr>
<td>&nbsp;Ealing</td>
<td>&nbsp;5,572,000</td></tr>
<tr>
<td>&nbsp;Enfield</td>
<td>&nbsp;2,788,000</td></tr>
<tr>
<td>&nbsp;Greenwich</td>
<td>&nbsp;3,199,000</td></tr>
<tr>
<td>&nbsp;Hackney</td>
<td>&nbsp;3,355,000</td></tr>
<tr>
<td>&nbsp;Hammersmith and Fulham</td>
<td>&nbsp;4,539,000</td></tr>
<tr>
<td>&nbsp;Haringey</td>
<td>&nbsp;3,848,000</td></tr>
<tr>
<td>&nbsp;Harrow</td>
<td>&nbsp;5,054,000</td></tr>
<tr>
<td>&nbsp;Havering</td>
<td>&nbsp;3,149,00</td></tr>
<tr>
<td>Hillingdon</td>
<td>&nbsp;3,635,000</td></tr>
<tr>
<td>&nbsp;Hounslow</td>
<td>&nbsp;3,419,000</td></tr>
<tr>
<td>&nbsp;Islington</td>
<td>&nbsp;4,143,000</td></tr>
<tr>
<td>&nbsp;Kensington and Chelsea </td>
<td>&nbsp;3,621,000</td></tr>
<tr>
<td>Kingston</td>
<td>&nbsp;3,914,000</td></tr>
<tr>
<td>&nbsp;Lambeth</td>
<td>&nbsp;4,291,000</td></tr>
<tr>
<td>&nbsp;Lewisham</td>
<td>&nbsp;3,445,000</td></tr>
<tr>
<td>&nbsp;Merton</td>
<td>&nbsp;2,730,000</td></tr>
<tr>
<td>&nbsp;Newham</td>
<td>&nbsp;4,666,000</td></tr>
<tr>
<td>&nbsp;Redbridge</td>
<td>&nbsp;3,236,000</td></tr>
<tr>
<td>&nbsp;Richmond</td>
<td>&nbsp;5,296,000</td></tr>
<tr>
<td>&nbsp;Southwark</td>
<td>&nbsp;4,470,000</td></tr>
<tr>
<td>Sutton</td>
<td>&nbsp;5,275,000</td></tr>
<tr>
<td>&nbsp;Tower Hamlets</td>
<td>&nbsp;2,406,000</td></tr>
<tr>
<td>&nbsp;Waltham Forest</td>
<td>&nbsp;4,594,000</td></tr>
<tr>
<td>&nbsp;Wandsworth</td>
<td>&nbsp;2,841,000</td></tr>
<tr>
<td>&nbsp;Westminster</td>
<td>&nbsp;3,369,000</td></tr>
<tr>
<td>&nbsp;Funds allocated to boroughs through partnerships</td>
<td>&nbsp;10,535,000</td></tr>
<tr>
<td>&nbsp;Studies and surveys</td>
<td>&nbsp;2,320,000</td></tr></tbody></table></div></blockquote>
<ul>
<li>A school travel plan is a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run, aiming to reduce single occupancy car journeys to school, cut congestion and increase safety near schools </li>
<li>Electrical Charging points: &pound;390,000 has been allocated to 12 boroughs to install an additional 70 points across London. The cost of a charging point is &pound;7,000 </li>
<li>The first on street vehicle charging point in London was implemented in August 2006 in Covent Garden followed by an individual 28 points in eight&nbsp;boroughs in 2007/08. Information on <a href="http://www.newride.org/">location of charging points </a>can be found online</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London Boris Johnson today announced &pound;168.3m of funding for London's boroughs to deliver local transport improvements during the financial year 2009/10.&nbsp; As well as increasing next year's local borough transport plan funding from";}
        
        


 