


@{ViewBag.Title = "Mayor announces &pound;4.1m boost to local transport in Islington";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;4.1m boost to local transport in Islington</h1>
        <div class="content-page-press-release">
        20 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Increase in funding and greater freedom over spending for Islington to cut road deaths, improve town centres and cycling facilities, tackle the school run and carry out essential main road maintenance.
        
    </div>



 <div class="on-this-page">
<p>The Mayor of London Boris Johnson today announced &pound;4.1m of funding from Transport for London (TfL)&nbsp;for Islington to deliver local transport improvements during the financial year 2009/10.&nbsp; </p> <p>As well as increasing next year's local transport funding from TfL - up to &pound;168.3m from &pound;161m in 2008/09 - the Mayor also confirmed that London's boroughs will have greater freedom in choosing local transport projects.</p> <p>TfL has included &pound;100,000 for the borough council to spend locally on transport as it chooses. <br>&nbsp;<br>The &pound;4.1m package will allow the borough to finance several schemes to improve local transport for residents including:</p> <ul> <li>&pound;325,000 for road renewal works on Caledonian Road to repair any uneven surfaces, potholes and cracks.&nbsp;This will improve journeys and safety for all road users  </li><li>A &pound;300,000 local safety scheme in the Hanley Road area including traffic calming measures an improved pedestrian crossing and the introduction of a 20mph scheme  </li><li>A &pound;250,000 borough priority scheme that see a complete refurbishment of Northampton Square for residents, pedestrians and other road users.&nbsp;This will provide a high quality walking environment with improved footways, lighting and safer road crossings  </li><li>&pound;30,000 to help fund the installation of four Electrical Recharging Points in the borough. They will provide an alternative energy source which aims to improve local air quality for businesses, residents, visitors and fleet operators by assisting in reducing CO2 emissions  </li><li>&pound;100,000 for cycle training and &pound;30,000 for cycle parking</li></ul> <p>Mayor of London, Boris Johnson said: 'When I was elected I promised I would be different and give greater freedom to the Boroughs.</p> <p>'This is why this year I have introduced a &pound;100,000 award for Boroughs to spend as they choose.</p> <p>'Boroughs are being given greater freedom to develop and deliver the schemes they want, which means more choice over a range of key local schemes to improve town centres and cycling facilities, tackle the school run and improve local roads.'<br>&nbsp;<br>'I am awarding Islington a budget of &pound;4.1m next year for local schemes that will make travelling safer, more accessible and more environment-friendly, helping to improve the quality of life for people across the borough.'</p> <p>Funding for local transport schemes is allocated each year by TfL in response to the applications from boroughs based on their Local Implementation [transport] Plans (LIPs).</p> <p>Funding is currently available for a wide range of programmes including road safety, maintaining borough roads, tackling the school run, improving walking, cycling and the local environment, making transport more accessible and measures to improve bus journeys.&nbsp;  <hr> <br><strong>Notes to editors:</strong>  <p> <ul> <li>Below is a table with a breakdown of LIP funding for Islington:  <div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1"> <tbody> <tr> <td>&nbsp;20mph zones</td> <td>&nbsp;&pound;332,000</td></tr> <tr> <td>&nbsp;Bus Priority</td> <td>&nbsp;&pound;810,000</td></tr> <tr> <td>&nbsp;Bus Stop Accessibility</td> <td>&nbsp;&pound;77,000</td></tr> <tr> <td>&nbsp;Education, Training, Publicity</td> <td>&nbsp;&pound;36,000</td></tr> <tr> <td>&nbsp;Environment</td> <td>&nbsp;&pound;110,000</td></tr> <tr> <td>&nbsp;Freight</td> <td>&nbsp;&pound;60,000</td></tr> <tr> <td>&nbsp;London Cycling Network+</td> <td>&nbsp;&pound;405,000</td></tr> <tr> <td>&nbsp;Accessibility</td> <td>&nbsp;&pound;110,000</td></tr> <tr> <td>&nbsp;Local Safety Schemes</td> <td>&nbsp;&pound;695,000</td></tr> <tr> <td>&nbsp;Cycling</td> <td>&nbsp;&pound;15,000</td></tr> <tr> <td>&nbsp;Parallel Initiatives</td> <td>&nbsp;&pound;130,000</td></tr> <tr> <td>&nbsp;Principal road renewal</td> <td>&nbsp;&pound;35,000</td></tr> <tr> <td>&nbsp;School Travel Plans</td> <td>&nbsp;&pound;120,000</td></tr> <tr> <td>&nbsp;Streets For People</td> <td>&nbsp;&pound;260,000</td></tr> <tr> <td>&nbsp;Travel Awareness</td> <td>&nbsp;&pound;48,000</td></tr> <tr> <td>&nbsp;Walking</td> <td>&nbsp;&pound;330,000</td></tr> <tr> <td>&nbsp;Work Travel Plans</td> <td>&nbsp;&pound;10,000</td></tr> <tr> <td>&nbsp;Trial funding</td> <td>&nbsp;&pound;100,000</td></tr> <tr> <td>&nbsp;<strong>TOTAL:</strong></td> <td><strong>&nbsp;&pound;4,143,000</strong></td></tr></tbody></table></div> </li><li>Each London borough has a LIP approved by the Mayor containing proposals to implement the Mayor's Transport Strategy locally.&nbsp;While TfL allocates funding for individual schemes, LIP and individual project delivery is the responsibility of each borough  </li><li>A School Travel Plan is a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run, aiming to reduce single occupancy car journeys to school, cut congestion and increase safety near schools  </li><li>Priorities for LIPs include:  <ul> <li>Improving road safety  </li><li>Encouraging walking and cycling&nbsp;  </li><li>Improving bus journey times and reliability  </li><li>Relieving traffic congestion and improving journey time reliability&nbsp;  </li><li>Improving the working of parking and loading arrangements&nbsp;  </li><li>Improving accessibility for all on the transport network&nbsp;  </li><li>Bringing transport infrastructure into a state of good repair&nbsp;  </li><li>School travel planning</li></ul> <li>Electrical Charging points:&nbsp;&pound;390,000 has been allocated to 12 Boroughs to install a further 70 points across London. The cost of a charging point is &pound;7,000. The first on street vehicle charging point in London was implemented in August 2006 in Covent Garden followed by an individual 28 points in 8 Boroughs in 2007 /2008. Information on location of charging points can be found on <a href="http://www.newride.org">www.newride.org</a></li></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London Boris Johnson today announced &pound;4.1m of funding from Transport for London (TfL)&nbsp;for Islington to deliver local transport improvements during the financial year 2009/10.&nbsp;As well as increasing next year's local transport";}
        
        


 