


@{ViewBag.Title = "Mayor announces &pound;4.7m boost to local transport in Newham";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;4.7m boost to local transport in Newham</h1>
        <div class="content-page-press-release">
        20 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Increase in funding and greater freedom over spending for Newham to cut road deaths, improve town centres and cycling facilities, tackle the school run and carry out essential main road maintenance.
        
    </div>



 <div class="on-this-page">
<p>The Mayor of London Boris Johnson today announced &pound;4.7m of funding from Transport for London (TfL)&nbsp;for Newham to deliver local transport improvements during the financial year 2009/10.&nbsp; </p>
<p>As well as increasing next year's local transport funding from TfL - up to &pound;168.3m from &pound;161m in 2008/09 - the Mayor also confirmed that London's boroughs will have greater freedom in choosing local transport projects.</p>
<p>TfL has included &pound;100,000 for the borough council to spend locally on transport as it chooses. </p>
<p>The &pound;4.7m package will allow the borough to finance several schemes to improve local transport for residents including:</p>
<ul>
<li>&pound;500,000 to support Newham's proposal to enhance the local environment in the Wise Road/Kerrison Road residential area.&nbsp;Measures include new lighting and paving, traffic calming, tree planting, upgraded communal areas and a new children's play facility </li>
<li>&pound;180,000 road renewal works on Station Road to repair any uneven surfaces, potholes and cracks.&nbsp;Pedestrians and vehicles will benefit from smooth, defect-free roads resulting in safer journeys in the boroughs </li>
<li>&pound;150,000 for the 'Mitchell Walk Safer Walking Scheme'.&nbsp;Mitchell Walk is a 'green corridor' through Beckton that is currently underused by pedestrians due to concerns over security, lighting and particularly, accessibility.&nbsp;Local Implementation Plan (LIP) walking funding will allow for the provision of new ramped accesses, resurfaced footways that also support leisure cycling, gates to prevent motorised vehicles access, enhanced lighting to tackle security concerns, seating, and CCTV </li>
<li>&pound;102,000 for cycle training, &pound;33,000 for a cycle training coordinator and &pound;20,000 for secure cycle parking </li>
<li>&pound;12,000 for measures within the school travel plan of Britannia Village School.&nbsp;These include signs and road markings to warn drivers to slow down and drive carefully outside the school, as well as the feasibility of a 20mph zone </li></ul>
<p>Mayor of London, Boris Johnson, said: 'When I was elected I promised I would be different and give greater freedom to the boroughs.</p>
<p>'This is why this year I have introduced a &pound;100,000 award for boroughs to spend as they choose. </p>
<p>'Boroughs are being given greater freedom to develop and deliver the schemes they want, which means more choice over a range of key local schemes to improve town centres and cycling facilities, tackle the school run and improve local roads.<br>&nbsp;<br>'I am awarding Newham a budget of &pound;4.7m next year for local schemes that will make travelling safer, more accessible and more environment-friendly, helping to improve the quality of life for people across the borough.'</p>
<p>Funding for local transport schemes is allocated each year by TfL in response to the applications from boroughs based on their transport LIPs. </p>
<p>Funding is currently available for a wide range of programmes including road safety, maintaining borough roads, tackling the school run, improving walking, cycling and the local environment, making transport more accessible and measures to improve bus journeys.&nbsp; </p>
<p>
<hr>
<br><strong>Notes to editors: </strong>
<p>
<ul>
<li>Below is a table with a breakdown of LIP funding for Newham:</li></ul>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;20mph zones</td>
<td>&nbsp;325,000</td></tr>
<tr>
<td>&nbsp;Bus priority</td>
<td>&nbsp;850,000</td></tr>
<tr>
<td>&nbsp;Bus stop accessibility</td>
<td>&nbsp;75,000</td></tr>
<tr>
<td>&nbsp;Controlled parking</td>
<td>&nbsp;15,000</td></tr>
<tr>
<td>&nbsp;Education, training, publicity</td>
<td>&nbsp;40,000</td></tr>
<tr>
<td>&nbsp;London Cycling Network+</td>
<td>&nbsp;225,000</td></tr>
<tr>
<td>&nbsp;Accessibility</td>
<td>&nbsp;150,000</td></tr>
<tr>
<td>&nbsp;Local safety schemes</td>
<td>&nbsp;705,000</td></tr>
<tr>
<td>&nbsp;Cycling</td>
<td>&nbsp;220,000</td></tr>
<tr>
<td>&nbsp;Principal road renewal</td>
<td>&nbsp;519,000</td></tr>
<tr>
<td>&nbsp;Regeneration</td>
<td>&nbsp;200,000</td></tr>
<tr>
<td>&nbsp;School travel plans</td>
<td>&nbsp;442,000</td></tr>
<tr>
<td>&nbsp;Streets for People</td>
<td>&nbsp;500,000</td></tr>
<tr>
<td>&nbsp;Walking</td>
<td>&nbsp;300,000</td></tr>
<tr>
<td>&nbsp;Trial funding</td>
<td>&nbsp;100,000</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;<strong>Total</strong></td>
<td>&nbsp;4,666,000</td></tr></tbody></table></div><br></p>
<ul>
<li>Each London borough has a LIP approved by the Mayor containing proposals to implement the Mayor's Transport Strategy locally.&nbsp;While TfL allocates funding for individual schemes, LIP and individual project delivery is the responsibility of each borough</li>
<li>A school travel plan is a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run, aiming to reduce single occupancy car journeys to school, cut congestion and increase safety near schools</li>
<li>Priorities for LIPs include:&nbsp;&nbsp;</li>
<ul type="circle">
<li>Improving road safety </li>
<li>Encouraging walking and cycling </li>
<li>Improving bus journey times and reliability</li>
<li>Relieving traffic congestion and improving journey time reliability </li>
<li>Improving the working of parking and loading arrangements </li>
<li>Improving accessibility for all on the transport network </li>
<li>Bringing transport infrastructure into a state of good repair </li>
<li>School travel planning </li></ul>
<li>NB funding can be broken down by LIP programmes as above once final allocations have been approved</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London Boris Johnson today announced &pound;4.7m of funding from Transport for London (TfL)&nbsp;for Newham to deliver local transport improvements during the financial year 2009/10.&nbsp; As well as increasing next year's local transport";}
        
        


 