


@{ViewBag.Title = "Mayor announces &pound;5.1m boost to local transport in Harrow";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;5.1m boost to local transport in Harrow</h1>
        <div class="content-page-press-release">
        20 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Funding and greater freedom over spending for Harrow to cut road deaths, improve town centres and cycling facilities, tackle the school run and carry out essential main road maintenance.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I have introduced a &pound;100,000 award for Boroughs to spend as they choose"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I have introduced a &pound;100,000 award for Boroughs to spend as they choose
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London Boris Johnson today announced &pound;5.1m of funding from Transport for London (TfL) for Harrow to deliver local transport improvements during the financial year 2009/10.</p>
<p>This represents an approximate 15 per cent&nbsp;increase on the &pound;4.2m received last year.</p>
<p>As well as increasing next year's local transport funding from TfL - up to &pound;168.3m from &pound;161m in 2008/09 - the Mayor also confirmed that London's boroughs will have greater freedom in choosing local transport projects.</p>
<p>TfL has included &pound;100,000 for the borough council to spend locally on transport as it chooses.</p>
<p>The &pound;5.1m package will allow the borough to finance several schemes to improve local transport for residents including:</p>
<ul type="circle">
<li>&pound;800,000 for the Harrow Town Centre scheme which will allow the implementation of two way bus routes on Station Road to replace the existing one way routes Station Road will also be repaved, crossing points and parking facilities improved, footways widened and the landscape altered to feature better lighting and trees. These measures aim to make the town centre safer, more pleasant and more accessible </li>
<li>&pound;900,000 for the replacement of the Petts Hill Rail Bridge in south Harrow this Christmas. The highway will be widened to allow two additional traffic lanes, one of which will be on the approach to the junction with Northolt Road. The scheme will benefit all road users including bus passengers using bus route 140 and cyclists </li>
<li>&pound;175,000 for improvements to key walking routes to Rayners Lane, South Harrow, Hatch End and West Harrow stations.&nbsp; Works will include new crossing facilities, street scene improvements, new footways, obstruction removal and better lighting </li>
<li>&pound;45,000 for cycle training and &pound;15,000 for cycle parking improvements</li></ul>
<p>Mayor of London, Boris Johnson said: 'When I was elected I promised I would be different and give greater freedom to the Boroughs.</p>
<p>'This is why this year I have introduced a &pound;100,000 award for Boroughs to spend as they choose. </p>
<p>'Boroughs are being given greater freedom to develop and deliver the schemes they want, which means more choice over a range of key local schemes to improve town centres and cycling facilities, tackle the school run and improve local roads.<br>&nbsp;<br>'I am awarding Harrow a budget of &pound;5.1m next year for local schemes that will make travelling safer, more accessible and more environment-friendly, helping to improve the quality of life for people across the borough.'</p>
<p>Funding for local transport schemes is allocated each year by TfL in response to the applications from boroughs based on their Local Implementation [transport] Plans (LIPs).</p>
<p>Funding is currently available for a wide range of programmes including road safety, maintaining borough roads, tackling the school run, improving walking, cycling and the local environment, making transport more accessible and measures to improve bus journeys.</p>
<p>
<hr>
<br><strong>Notes to editors: </strong>
<p>
<p>Below is a table with a breakdown of Local Implementation Plan funding for Harrow:</p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;20mph zones</td>
<td>&nbsp;240k</td></tr>
<tr>
<td>&nbsp;Bus Priority</td>
<td>&nbsp;2,038k</td></tr>
<tr>
<td>&nbsp;Bus Stop Accessibility </td>
<td>&nbsp;85k</td></tr>
<tr>
<td>&nbsp;Controlled Parking </td>
<td>&nbsp;30k</td></tr>
<tr>
<td>&nbsp;Education, Training, Publicity </td>
<td>&nbsp;21k</td></tr>
<tr>
<td>&nbsp;Environment </td>
<td>&nbsp;20k</td></tr>
<tr>
<td>&nbsp;London Cycling Network</td>
<td>&nbsp;+ 300k</td></tr>
<tr>
<td>&nbsp;Accessibility </td>
<td>&nbsp;60k</td></tr>
<tr>
<td>&nbsp;Local Safety Schemes </td>
<td>&nbsp;335k</td></tr>
<tr>
<td>&nbsp;Cycling </td>
<td>&nbsp;60k</td></tr>
<tr>
<td>&nbsp;Principal road renewal </td>
<td>&nbsp;548k</td></tr>
<tr>
<td>&nbsp;School Travel Plans </td>
<td>&nbsp;214k</td></tr>
<tr>
<td>&nbsp;Town Centres </td>
<td>&nbsp;800k</td></tr>
<tr>
<td>&nbsp;Travel Awareness</td>
<td>&nbsp;28k</td></tr>
<tr>
<td>&nbsp;Walking </td>
<td>&nbsp;175k</td></tr>
<tr>
<td>&nbsp;Trial funding</td>
<td>&nbsp;100k</td></tr>
<tr>
<td>&nbsp;<strong>TOTAL:</strong></td>
<td><strong>&nbsp;5,054k</strong></td></tr></tbody></table></div></p>
<ul type="circle">
<li>Each London borough has a Local Implementation Plan (LIP) approved by the Mayor containing proposals to implement the Mayor's Transport Strategy locally. While TfL allocates funding for individual schemes, LIP and individual project delivery is the responsibility of each borough</li>
<li>A&nbsp;School Travel Plan is a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run, aiming to reduce single occupancy car journeys to school, cut congestion and increase safety near schools</li>
<li>Priorities for Local Implementation Plans include:</li></ul>
<blockquote>
<li>Improving road safety </li>
<li>Encouraging walking and cycling&nbsp; </li>
<li>Improving bus journey times and reliability</li>
<li>Relieving traffic congestion and improving journey time reliability </li>
<li>Improving the working of parking and loading arrangements </li>
<li>Improving accessibility for all on the transport network&nbsp;</li>
<li>Bringing transport infrastructure into a state of good repair</li>
<li>School travel planning</li></blockquote>
<ul type="circle">
<li>Funding can be broken down by LIP programmes as above once final allocations have been approved<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London Boris Johnson today announced &pound;5.1m of funding from Transport for London (TfL) for Harrow to deliver local transport improvements during the financial year 2009/10.This represents an approximate 15 per cent&nbsp;increase on the";}
        
        


 