


@{ViewBag.Title = "Mayor announces &pound;3.9m boost to local transport in the City of London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;3.9m boost to local transport in the City of London</h1>
        <div class="content-page-press-release">
        20 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Funding and greater freedom over spending for the City of London to cut road deaths, improve town centres and cycling facilities, tackle the school run and carry out essential main road maintenance.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"When I was elected I promised I would be different and give greater freedom to the boroughs"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            When I was elected I promised I would be different and give greater freedom to the boroughs
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London Boris Johnson today announced &pound;3.9m of funding from Transport for London (TfL) for the City of London to deliver local transport improvements during the financial year 2009/10.&nbsp; </p>
<p>This represents an approximate 5.5 per cent increase on the &pound;3.7m received last year.&nbsp; </p>
<p>As well as increasing next year's local transport funding from TfL - up to &pound;168.3m from &pound;161m in 2008/09 - the Mayor also confirmed that London's boroughs will have greater freedom in choosing local transport projects.</p>
<p>TfL has included &pound;100,000 for the borough council to spend locally on transport as it chooses. </p>
<p>The &pound;3.9m package will allow the borough to finance several schemes to improve local transport for residents including: </p>
<ul>
<li>&pound;1.4m for the Strategic Walk Network. This is the flagship TfL walking project; it is delivered by WalkLondon and comprises six key walking routes. The routes are designed to be exemplar urban and rural walking experiences for all Londoners. The entire walking network is due for completion in 2012 </li>
<li>&pound;490,000 for The Chancery Lane Street for People scheme that will see the creation of a pedestrian zone and public open space with new paving and widened footways. New signage will be installed to aid pedestrians. Carey Street and Cursitor Street Junction's layout will be improved. Finally, improved lighting and landscaping will make the area safer, more accessible and more pleasant </li>
<li>&pound;50,000 for cycle parking and &pound;32,000 for cycle training</li></ul>
<p>Mayor of London Boris Johnson said: 'When I was elected I promised I would be different and give greater freedom to the boroughs. </p>
<p>'This is why this year I have introduced a &pound;100,000 award for boroughs to spend as they choose.</p>
<p>'Boroughs are being given greater freedom to develop and deliver the schemes they want, which means more choice over a range of key local schemes to improve town centres and cycling facilities, tackle the school run and improve local roads.<br>&nbsp;<br>'I am awarding City of London a budget of &pound;3.9m next year for local schemes that will make travelling safer, more accessible and more environment-friendly, helping to improve the quality of life for people across the borough.'</p>
<p>Funding for local transport schemes is allocated each year by TfL in response to the applications from boroughs based on their Local Implementation [transport] Plans (LIPs).</p>
<p>Funding is currently available for a wide range of programmes including road safety, maintaining borough roads, tackling the school run, improving walking, cycling and the local environment, making transport more accessible and measures to improve bus journeys.&nbsp; </p>
<p>
<hr>

<p>
<p><br><strong>Notes to editors: </strong></p>
<ul>
<li>Below is a table with a breakdown of Local Implementation Plan funding for City of London:</li></ul>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;Bus Priority</td>
<td>&nbsp;885,000</td></tr>
<tr>
<td>&nbsp;Bus Stop Accessibility </td>
<td>&nbsp;25,000</td></tr>
<tr>
<td>&nbsp;Education, Training, Publicity </td>
<td>&nbsp;21,000</td></tr>
<tr>
<td>&nbsp;Freight</td>
<td>&nbsp;154,000</td></tr>
<tr>
<td>&nbsp;London Cycling Network+</td>
<td>&nbsp;435,000</td></tr>
<tr>
<td>&nbsp;Accessibility</td>
<td>&nbsp;70,000</td></tr>
<tr>
<td>&nbsp;Local Safety Schemes </td>
<td>&nbsp;162,000</td></tr>
<tr>
<td>&nbsp;Cycling</td>
<td>&nbsp;132,000</td></tr>
<tr>
<td>&nbsp;Principal road renewal </td>
<td>&nbsp;100,000</td></tr>
<tr>
<td>&nbsp;School Travel Plans </td>
<td>&nbsp;7,000</td></tr>
<tr>
<td>&nbsp;Streets For People </td>
<td>&nbsp;270,000</td></tr>
<tr>
<td>&nbsp;Travel Awareness </td>
<td>
<p>&nbsp;20,000 </p></td></tr>
<tr>
<td>&nbsp;Walking</td>
<td>
<p>&nbsp;1,540,000 </p></td></tr>
<tr>
<td>&nbsp;Trail funding</td>
<td>
<p>&nbsp;100,000 </p></td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>,000</td>
<td>&nbsp;3,921,000</td></tr></tbody></table></div></p>
<ul>
<li>Each London borough has a Local Implementation Plan (LIP) approved by the Mayor containing proposals to implement the Mayor's Transport Strategy locally.&nbsp; While Transport for London (TfL) allocates funding for individual schemes, LIP and individual project delivery is the responsibility of each borough</li>
<li>A school travel plan is a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run, aiming to reduce single occupancy car journeys to school, cut congestion and increase safety near schools</li>
<li>Priorities for LIPs include:&nbsp;&nbsp;</li>
<ul type="circle">
<li>Improving road safety </li>
<li>Encouraging walking and cycling </li>
<li>Improving bus journey times and reliability</li>
<li>Relieving traffic congestion and improving journey time reliability </li>
<li>Improving the working of parking and loading arrangements </li>
<li>Improving accessibility for all on the transport network </li>
<li>Bringing transport infrastructure into a state of good repair </li>
<li>School travel planning </li></ul>
<li>NB funding can be broken down by LIP programmes as above once final allocations have been approved</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London Boris Johnson today announced &pound;3.9m of funding from Transport for London (TfL) for the City of London to deliver local transport improvements during the financial year 2009/10.&nbsp; This represents an approximate 5.5 per cent";}
        
        


 