


@{ViewBag.Title = "Mayor announces &pound;3.2m boost to local transport in Redbridge";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;3.2m boost to local transport in Redbridge</h1>
        <div class="content-page-press-release">
        20 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Increase in funding and greater freedom over spending for Redbridge to cut road deaths, improve town centres and cycling facilities, tackle the school run and carry out essential main road maintenance.
        
    </div>



 <div class="on-this-page">
<p>The Mayor of London Boris Johnson today announced &pound;3.2m of funding from Transport for London (TfL) for Redbridge to deliver local transport improvements during the financial year 2009/10.</p>

<p>As well as increasing next year's local transport funding from TfL - up to &pound;168.3m from &pound;161m in 2008/09 - the Mayor also confirmed that London's boroughs will have greater freedom in choosing local transport projects.</p>

<p>TfL has included &pound;100,000 for the borough council to spend locally on transport as it chooses. </p>

<p>The &pound;3.2m package will allow the borough to finance several schemes to improve local transport for residents including:</p>
<ul>
<li>&pound;550,000 road renewal works on Winston Way to repair any uneven surfaces, potholes and cracks.&nbsp;This will improve journeys and safety for all road users</li>
<li>&pound;200,000 for a scheme in South Woodford that will encourage greater levels of walking through provision of convenient, well designed and safe routes that benefit local residents.&nbsp;Measures include repaved footpaths, installation of new lighting and CCTV, creating a more pleasant and safer environment.&nbsp;This scheme will be funded over several years and other measures, such as improved crossings, will follow later</li>
<li>&pound;170,000 for better cycling provision at High Road/Cameron Road.&nbsp;Works will include a new signal junction, cycle advanced stop lines and the removal of a roundabout.&nbsp;This will provide a safer crossing for pedestrians and easier access to the local station and shops</li>
<li>&pound;35,000 to design and implement a 20mph zone in an area approximately 1/3 kilometre around Mayespark Primary School.&nbsp;This will improve road safety for all pedestrians, especially schoolchildren, and other road users</li>
<li>&pound;20,000 for cycle training</li></ul>

<p>Mayor of London, Boris Johnson, said: 'When I was elected I promised I would be different and give greater freedom to the boroughs.</p>

<p>'This is why this year I have introduced a &pound;100,000 award for boroughs to spend as they choose. </p>

<p>'Boroughs are being given greater freedom to develop and deliver the schemes they want, which means more choice over a range of key local schemes to improve town centres and cycling facilities, tackle the school run and improve local roads.<br>&nbsp;<br>'I am awarding Redbridge a budget of &pound;3.2m next year for local schemes that will make travelling safer, more accessible and more environment-friendly, helping to improve the quality of life for people across the borough.'</p>
<p>Funding for local transport schemes is allocated each year by TfL in response to the applications from boroughs based on their Local Implementation [transport] Plans (LIPs). </p>

<p>Funding is currently available for a wide range of programmes including road safety, maintaining borough roads, tackling the school run, improving walking, cycling and the local environment, making transport more accessible and measures to improve bus journeys.&nbsp; </p>

<p>
<hr>
</p>

<p><strong>Notes to editors:</strong> </p>
<ul>
<li>Below is a table with a breakdown of LIP funding for Redbridge:</li></ul>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;20mph zones</td>
<td>&nbsp;200,000</td></tr>
<tr>
<td>&nbsp;Bus priority</td>
<td>&nbsp;175,000</td></tr>
<tr>
<td>&nbsp;Bus stop accessibility</td>
<td>&nbsp;62,000</td></tr>
<tr>
<td>&nbsp;Education, training, publicity</td>
<td>&nbsp;16,000</td></tr>
<tr>
<td>&nbsp;Environment</td>
<td>&nbsp;25,000</td></tr>
<tr>
<td>&nbsp;London Cycling Network+</td>
<td>&nbsp;283,000</td></tr>
<tr>
<td>&nbsp;Accessibility</td>
<td>&nbsp;70,000</td></tr>
<tr>
<td>&nbsp;Local safety schemes</td>
<td>&nbsp;760,000</td></tr>
<tr>
<td>&nbsp;Cycling</td>
<td>&nbsp;65,000</td></tr>
<tr>
<td>&nbsp;Principal road renewal</td>
<td>&nbsp;550,000</td></tr>
<tr>
<td>&nbsp;School travel plans</td>
<td>&nbsp;291,000</td></tr>
<tr>
<td>&nbsp;Town centres</td>
<td>&nbsp;372,000</td></tr>
<tr>
<td>&nbsp;Travel awareness</td>
<td>&nbsp;17,000</td></tr>
<tr>
<td>&nbsp;Walking</td>
<td>&nbsp;240,000</td></tr>
<tr>
<td>&nbsp;Work travel plans</td>
<td>&nbsp;10,000</td></tr>
<tr>
<td>&nbsp;Trial funding</td>
<td>&nbsp;100,000</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;<strong>Total</strong></td>
<td>&nbsp;3,236,000</td></tr></tbody></table></div><br></p>
<ul>
<li>Each London borough has a LIP approved by the Mayor containing proposals to implement the Mayor's Transport Strategy locally.&nbsp;While TfL allocates funding for individual schemes, LIP and individual project delivery is the responsibility of each borough</li>
<li>A school travel plan&nbsp;is&nbsp;a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run, aiming to reduce single occupancy car journeys to school, cut congestion and increase safety near schools</li>
<li>Priorities for LIPs include:&nbsp;&nbsp;</li>
<ul type="circle">
<li>Improving road safety </li>
<li>Encouraging walking and cycling </li>
<li>Improving bus journey times and reliability</li>
<li>Relieving traffic congestion and improving journey time reliability </li>
<li>Improving the working of parking and loading arrangements </li>
<li>Improving accessibility for all on the transport network </li>
<li>Bringing transport infrastructure into a state of good repair </li>
<li>School travel planning </li></ul>
<li>NB funding can be broken down by LIP programmes as above once final allocations have been approved</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London Boris Johnson today announced &pound;3.2m of funding from Transport for London (TfL) for Redbridge to deliver local transport improvements during the financial year 2009/10.As well as increasing next year's local transport funding from";}
        
        


 