


@{ViewBag.Title = "Mayor announces &pound;3.4m boost to local transport in Hounslow";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;3.4m boost to local transport in Hounslow</h1>
        <div class="content-page-press-release">
        20 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Increase in funding and greater freedom over spending for Hounslow to cut road deaths, improve town centres and cycling facilities, tackle the school run and carry out essential main road maintenance.
        
    </div>



 <div class="on-this-page">
<p>The Mayor of London Boris Johnson today announced &pound;3.4m of funding from Transport for London (TfL)&nbsp;for Hounslow to deliver local transport improvements during the financial year 2009/10.&nbsp; </p>

<p>As well as increasing next year's local transport funding from TfL - up to &pound;168.3m from &pound;161m in 2008/09 - the Mayor also confirmed that London's boroughs will have greater freedom in choosing local transport projects.</p>

<p>TfL has included &pound;100,000 for the borough council to spend locally on transport as it chooses. </p>

<p>The funds will allow the borough to finance several schemes to improve local transport for residents including:</p>
<ul>
<li>&pound;300,000 over three years to build a footbridge at Bedfont Road. The bridge will provide local pedestrians and cyclists with a safe and separate route over the Windsor - Staines railway line</li>
<li>&pound;540,000 for road renewal works at Twickenham Road to repair any uneven surfaces, potholes and cracks. This will improve journeys and safety for all road users</li>
<li>&pound;220,000 for a safety scheme on Staines Road that will improve the junction layout to reduce driver error incidents and enhance pedestrian crossing facilities</li>
<li>&pound;160,000 for cycle training</li>
<li>&pound;25,000 to help fund the installation of four Electrical Recharging Points in the borough. They will provide an alternative energy source which aims to improve local air quality for businesses, residents, visitors and fleet operators by assisting in reducing CO2 emissions</li></ul>
<p>Mayor of London, Boris Johnson said: 'When I was elected I promised I would be different and give greater freedom to the Boroughs.</p>

<p>'This is why this year I have introduced a &pound;100,000 award for Boroughs to spend as they choose.</p>

<p>'Boroughs are being given greater freedom to develop and deliver the schemes they want, which means more choice over a range of key local schemes to improve town centres and cycling facilities, tackle the school run and improve local roads.'<br>&nbsp;<br>'I am awarding Hounslow a budget of &pound;3.4m next year for local schemes that will make travelling safer, more accessible and more environment-friendly, helping to improve the quality of life for people across the borough.'</p>
<p>Funding for local transport schemes is allocated each year by TfL in response to the applications from boroughs based on their Local Implementation [transport] Plans (LIPs).</p>

<p>Funding is currently available for a wide range of programmes including road safety, maintaining borough roads, tackling the school run, improving walking, cycling and the local environment, making transport more accessible and measures to improve bus journeys.</p>

<p>
<hr>
<strong>Notes to editors:</strong> </p>
<ul>
<li>Below is a table with a breakdown of Local Implementation Plan funding for Hounslow:
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;20mph zones</td>
<td>&nbsp;&pound;250,000</td></tr>
<tr>
<td>&nbsp;Bus Priority</td>
<td>&nbsp;&pound;265,000</td></tr>
<tr>
<td>&nbsp;Bus Stop Accessibility</td>
<td>&nbsp;&pound;75,000</td></tr>
<tr>
<td>&nbsp;Controlled Parking</td>
<td>&nbsp;&pound;50,000</td></tr>
<tr>
<td>&nbsp;Education, Training, Publicity</td>
<td>&nbsp;&pound;55,000</td></tr>
<tr>
<td>&nbsp;Environment</td>
<td>&nbsp;&pound;53,000</td></tr>
<tr>
<td>&nbsp;London Cycling Network+</td>
<td>&nbsp;&pound;450,000</td></tr>
<tr>
<td>&nbsp;Accessibility</td>
<td>&nbsp;&pound;50,000</td></tr>
<tr>
<td>&nbsp;Local Safety Schemes</td>
<td>&nbsp;&pound;615,000</td></tr>
<tr>
<td>&nbsp;Cycling</td>
<td>&nbsp;&pound;230,000</td></tr>
<tr>
<td>&nbsp;Principal road renewal</td>
<td>&nbsp;&pound;540,000</td></tr>
<tr>
<td>&nbsp;School Travel Plans</td>
<td>&nbsp;&pound;351,000</td></tr>
<tr>
<td>&nbsp;Travel Awareness</td>
<td>&nbsp;&pound;20,000</td></tr>
<tr>
<td>&nbsp;Walking</td>
<td>&nbsp;&pound;300,000</td></tr>
<tr>
<td>&nbsp;Work Travel Plans</td>
<td>&nbsp;&pound;15,000</td></tr>
<tr>
<td>&nbsp;Trial funding</td>
<td>&nbsp;&pound;100,000</td></tr>
<tr>
<td>&nbsp;<strong>TOTAL:</strong></td>
<td>&nbsp;<strong>&pound;3,419,000</strong></td></tr></tbody></table></div></li>
<li>Each London borough has a&nbsp;LIP approved by the Mayor containing proposals to implement the Mayor's Transport Strategy locally. While TfL allocates funding for individual schemes, LIP and individual project delivery is the responsibility of each borough</li>
<li>A School Travel Plan is a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run, aiming to reduce single occupancy car journeys to school, cut congestion and increase safety near schools</li>
<li>Priorities for Local Implementation Plans include: </li>
<ul>
<li>Improving road safety</li>
<li>Encouraging walking and cycling&nbsp;</li>
<li>Improving bus journey times and reliability</li>
<li>Relieving traffic congestion and improving journey time reliability&nbsp;</li>
<li>Improving the working of parking and loading arrangements&nbsp;</li>
<li>Improving accessibility for all on the transport network&nbsp;</li>
<li>Bringing transport infrastructure into a state of good repair&nbsp;</li>
<li>School travel planning </li></ul>
<li>Electrical Charging points: &pound;390,000 has been allocated to 12 Boroughs to install a further 70 points across London. The cost of a charging point is &pound;7,000. The first on street vehicle charging point in London was implemented in August 2006 in Covent Garden followed by an individual 28 points in 8 Boroughs in 2007 /2008. Information on location of charging points can be found on <a href="http://www.newride.org/">http://www.newride.org/</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London Boris Johnson today announced &pound;3.4m of funding from Transport for London (TfL)&nbsp;for Hounslow to deliver local transport improvements during the financial year 2009/10.&nbsp; As well as increasing next year's local transport";}
        
        


 