


@{ViewBag.Title = "Mayor announces &pound;3.9m boost to local transport in Kingston upon Thames";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;3.9m boost to local transport in Kingston upon Thames</h1>
        <div class="content-page-press-release">
        20 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Increase in funding and greater freedom over spending for Kingston to cut road deaths, improve town centres and cycling facilities, tackle the school run and carry out essential main road maintenance.
        
    </div>



 <div class="on-this-page">
<p>The Mayor of London Boris Johnson today announced &pound;3.9m of funding from Transport for London (TfL) for Kingston upon Thames to deliver local transport improvements during the financial year 2009/10.&nbsp; </p>
<p>As well as increasing next year's local transport funding from TfL - up to &pound;168.3m from &pound;161m in 2008/09 - the Mayor also confirmed that London's boroughs will have greater freedom in choosing local transport projects.</p>
<p>TfL has included &pound;100,000 for the borough council to spend locally on transport as it chooses. </p>
<p>The &pound;3.9m funding package will allow the borough to finance several schemes to improve local transport for residents including:</p>
<ul>
<li>&pound;600,000 Bridge Condition Indicator Project.&nbsp;This scheme will enable evaluation of bridge structures and prioritisation of spending on strengthening and maintenance.&nbsp; Done in partnership with the London Bridges Engineer Group </li>
<li>&pound;342,000 for road renewal works on Coombe Lane to repair any uneven surfaces, potholes and cracks.&nbsp;This will mean smoother and safer journeys for all road users and passengers </li>
<li>&pound;300,000 for the Link 121 - A308 London Road.&nbsp;Part of the London Cycle Network Plus, this a local safety scheme to introduce cycle tracks and cycle crossings that will improve safety for residents and road users </li>
<li>&pound;195,000 (combined) for the ongoing, multi-year funded project 'Eagle Wharf Public Space &amp; Thameside Footpath Open Space'.&nbsp;This project will deliver a space that will become a much improved destination for visitors, and a key walking link complementing the commercial areas elsewhere in the town centre.&nbsp;It will be a place for visitors to stop, relax and enjoy the riverside setting as well as providing opportunity for outdoor public performances </li>
<li>&pound;100,000 for cycle training and &pound;20,000 for residential cycle parking</li></ul>
<p>Mayor of London, Boris Johnson said: 'When I was elected I promised I would be different and give greater freedom to the boroughs. </p>
<p>'This is why this year I have introduced a &pound;100,000 award for boroughs to spend as they choose. Boroughs are being given greater freedom to develop and deliver the schemes they want, which means more choice over a range of key local schemes to improve town centres and cycling facilities, tackle the school run and improve local roads.<br>&nbsp;<br>'I am awarding Kingston a budget of &pound;3.9m next year for local schemes that will make travelling safer, more accessible and more environment-friendly, helping to improve the quality of life for people across the borough.'</p>
<p>Funding for local transport schemes is allocated each year by TfL in response to the applications from boroughs based on their Local Implementation [transport] Plans (LIPs). </p>
<p>Funding is currently available for a wide range of programmes including road safety, maintaining borough roads, tackling the school run, improving walking, cycling and the local environment, making transport more accessible and measures to improve bus journeys.&nbsp; </p>
<p>
<hr>

<p>
<p><br><strong>Notes to editors: </strong></p>
<ul>
<li>Below is a table with a breakdown of LIP funding for Kingston upon Thames:</li></ul>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;20mph zones</td>
<td>&nbsp;120,000</td></tr>
<tr>
<td>&nbsp;Bus priority</td>
<td>&nbsp;340,000</td></tr>
<tr>
<td>&nbsp;Bus stop accessibility</td>
<td>&nbsp;25,000</td></tr>
<tr>
<td>&nbsp;Eduction, training, publicity</td>
<td>&nbsp;40,000</td></tr>
<tr>
<td>&nbsp;Freight</td>
<td>&nbsp;50,000</td></tr>
<tr>
<td>&nbsp;London Cycling Network+</td>
<td>&nbsp;545,000</td></tr>
<tr>
<td>&nbsp;Accessibility</td>
<td>&nbsp;50,000</td></tr>
<tr>
<td>&nbsp;Local safety schemes</td>
<td>&nbsp;425,000</td></tr>
<tr>
<td>&nbsp;Cycling</td>
<td>&nbsp;195,000</td></tr>
<tr>
<td>&nbsp;Principal road renewal</td>
<td>&nbsp;342,000</td></tr>
<tr>
<td>&nbsp;School travel plans</td>
<td>&nbsp;247,000</td></tr>
<tr>
<td>&nbsp;Streets for People</td>
<td>&nbsp;300,000</td></tr>
<tr>
<td>&nbsp;Town centres</td>
<td>&nbsp;40,000</td></tr>
<tr>
<td>&nbsp;Travel awareness</td>
<td>&nbsp;45,000</td></tr>
<tr>
<td>&nbsp;Walking</td>
<td>&nbsp;270,000</td></tr>
<tr>
<td>&nbsp;Work travel plans</td>
<td>&nbsp;70,000</td></tr>
<tr>
<td>&nbsp;Trial funding</td>
<td>&nbsp;100,000</td></tr>
<tr>
<td>&nbsp;Bridge strengthening and assessment</td>
<td>&nbsp;710,000</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td><strong>&nbsp;Total</strong></td>
<td>&nbsp;3,914,000</td></tr></tbody></table></div></p>
<ul>
<li>Each London borough has a LIP approved by the Mayor containing proposals to implement the Mayor's Transport Strategy locally.&nbsp;While TfL allocates funding for individual schemes, LIP and individual project delivery is the responsibility of each borough</li>
<li>A school travel plan is a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run, aiming to reduce single occupancy car journeys to school, cut congestion and increase safety near schools</li>
<li>Priorities for LIPs include:&nbsp;&nbsp;</li>
<ul>
<li>Improving road safety </li>
<li>Encouraging walking and cycling </li>
<li>Improving bus journey times and reliability</li>
<li>Relieving traffic congestion and improving journey time reliability </li>
<li>Improving the working of parking and loading arrangements </li>
<li>Improving accessibility for all on the transport network </li>
<li>Bringing transport infrastructure into a state of good repair </li>
<li>School travel planning </li></ul></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London Boris Johnson today announced &pound;3.9m of funding from Transport for London (TfL) for Kingston upon Thames to deliver local transport improvements during the financial year 2009/10.&nbsp; As well as increasing next year's local";}
        
        


 