


@{ViewBag.Title = "Mayor announces &pound;5.7m boost to local transport in Croydon";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;5.7m boost to local transport in Croydon</h1>
        <div class="content-page-press-release">
        20 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Funding and greater freedom over spending for Croydon to renew roads, cut road deaths, improve town centres and cycling facilities, tackle the school run and carry out essential main road maintenance.
        
    </div>



 <div class="on-this-page">
<p>The Mayor of London Boris Johnson today announced &pound;5.7m of funding from Transport for London (TfL)&nbsp;for Croydon to deliver local transport improvements during the financial year 2009/10.&nbsp; </p>
<p>As well as increasing next year's local transport funding from TfL - up to &pound;168.3m from &pound;161m in 2008/09 - the Mayor also confirmed that London's boroughs will have greater freedom in choosing local transport projects.</p>
<p>TfL has included &pound;100,000 for the borough council to spend locally on transport as it chooses. </p>
<p>The &pound;5.7m package will allow the borough to finance several schemes to improve local transport for residents including: </p>
<ul>
<li>&pound;1.9m for the Coulsdon Town Centre scheme which will deliver a safer, more accessible and easier to use area for residents thanks to improved footways, better lighting and environment </li>
<li>&pound;450,000 for the Route Action Programme which aims to improve road safety by reducing traffic speed and simplifying traffic flow through the introduction of junction improvements, pedestrian facilities, signage and carriageway markings. The roads included in this Route Action Programme are Shirley Road, Green Lane, Pampsiford Road, Coombe Road, Long Lane, Old Farleigh Road, Church Road and Coombe Lane </li>
<li>&pound;408,000 for the renewal of the carriageways and footways of the A215 Road which are currently in poor condition and will be renewed to correct any uneven surface, potholes and cracks. Pedestrians and vehicles will benefit from smooth, defect-free roads resulting in safer journeys in the boroughs </li>
<li>&pound;133,000 for cycle training and &pound;10,000 for cycling for health training</li></ul>
<p>Mayor of London, Boris Johnson said: 'When I was elected I promised I would be different and give greater freedom to the Boroughs.</p>
<p>'This is why this year I have introduced a &pound;100,000 award for Boroughs to spend as they choose.</p>
<p>'Boroughs are being given greater freedom to develop and deliver the schemes they want, which means more choice over a range of key local schemes to improve town centres and cycling facilities, tackle the school run and improve local roads.<br>&nbsp;<br>'I am awarding Croydon a budget of &pound;5.7m next year for local schemes that will make travelling safer, more accessible and more environment-friendly, helping to improve the quality of life for people across the borough.'</p>
<p>Funding for local transport schemes is allocated each year by TfL in response to the applications from boroughs based on their Local Implementation [transport] Plans (LIPs).</p>
<p>Funding is currently available for a wide range of programmes including road safety, maintaining borough roads, tackling the school run, improving walking, cycling and the local environment, making transport more accessible and measures to improve bus journeys.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong> </p>
<ul>
<li>Below is a table with a breakdown of Local Implementation Plan funding for Croydon: 
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;Bus Priority</td>
<td>&nbsp;&pound;450,000</td></tr>
<tr>
<td>&nbsp;Bus Stop Accessibility</td>
<td>&nbsp;&pound;72,000</td></tr>
<tr>
<td>&nbsp;Controlled Parking</td>
<td>&nbsp;&pound;95,000</td></tr>
<tr>
<td>&nbsp;Education, Training, Publicity</td>
<td>&nbsp;&pound;30,000</td></tr>
<tr>
<td>&nbsp;Environment</td>
<td>&nbsp;&pound;90,000</td></tr>
<tr>
<td>&nbsp;Freight</td>
<td>&nbsp;&pound;175,000</td></tr>
<tr>
<td>London Cycling Network+</td>
<td>&nbsp;&pound;301,000</td></tr>
<tr>
<td>&nbsp;Accessibility</td>
<td>&nbsp;&pound;90,000</td></tr>
<tr>
<td>&nbsp;Local Safety Schemes</td>
<td>&nbsp;&pound;985,000</td></tr>
<tr>
<td>&nbsp;Cycling</td>
<td>&nbsp;&pound;157,000</td></tr>
<tr>
<td>&nbsp;Principal road renewal</td>
<td>&nbsp;&pound;641,000</td></tr>
<tr>
<td>&nbsp;School Travel Plans</td>
<td>&nbsp;&pound;121,000</td></tr>
<tr>
<td>&nbsp;Town Centres</td>
<td>&nbsp;&pound;1,950,000</td></tr>
<tr>
<td>&nbsp;Travel Awareness</td>
<td>&nbsp;&pound;15,000</td></tr>
<tr>
<td>&nbsp;Walking</td>
<td>&nbsp;&pound;100,000</td></tr>
<tr>
<td>&nbsp;Trial funding</td>
<td>&nbsp;&pound;100,000</td></tr>
<tr>
<td>&nbsp;Bridge Strengthening and Assessment</td>
<td>&nbsp;&pound;42,000</td></tr>
<tr>
<td>&nbsp;TOTAL:</td>
<td>&nbsp;&pound;5,797,000</td></tr></tbody></table></div></li>
<li>Each London borough has a LIP approved by the Mayor containing proposals to implement the Mayor's Transport Strategy locally.&nbsp;While TfL allocates funding for individual schemes, LIP and individual project delivery is the responsibility of each borough </li>
<li>A School Travel Plan is a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run, aiming to reduce single occupancy car journeys to school, cut congestion and increase safety near schools </li>
<li>Priorities for Local Implementation Plans include: 
<ul>
<li>Improving road safety&nbsp; </li>
<li>Encouraging walking and cycling&nbsp; </li>
<li>Improving bus journey times and reliability </li>
<li>Relieving traffic congestion and improving journey time reliability&nbsp; </li>
<li>Improving the working of parking and loading arrangements&nbsp; </li>
<li>Improving accessibility for all on the transport network&nbsp; </li>
<li>Bringing transport infrastructure into a state of good repair&nbsp; </li>
<li>School travel planning</li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London Boris Johnson today announced &pound;5.7m of funding from Transport for London (TfL)&nbsp;for Croydon to deliver local transport improvements during the financial year 2009/10.&nbsp; As well as increasing next year's local transport";}
        
        


 