


@{ViewBag.Title = "Mayor announces &pound;3.1m boost to local transport in Havering";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces &pound;3.1m boost to local transport in Havering</h1>
        <div class="content-page-press-release">
        20 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Funding and greater freedom over spending for Havering to cut road deaths, improve town centres and cycling facilities, tackle the school run and carry out essential main road maintenance.
        
    </div>



 <div class="on-this-page">
<p>The Mayor of London Boris Johnson today announced &pound;3.1m of funding from Transport for London&nbsp;(TfL)&nbsp;for Havering to deliver local transport improvements during the financial year 2009/10.&nbsp; </p>
<p>As well as increasing next year's local transport funding from TfL - up to &pound;168.3m from &pound;161m in 2008/09 - the Mayor also confirmed that London's boroughs will have greater freedom in choosing local transport projects.</p>
<p>TfL has included &pound;100,000 for the borough council to spend locally on transport as it chooses. </p>
<p>The &pound;3.1m package will allow the borough to finance several schemes to improve local transport for residents including:</p>
<ul>
<li>&pound;262,000 for the implementation of the Romford Station access scheme which will see the delivery of safer pedestrian crossings in the vicinity of the Railway station and adjacent bus stops. Residents will also benefit from a safer environment thanks to the installation of better lighting and CCTV, more accessible marked routes to the station and cycle parking </li>
<li>&pound;150,000 for the enhancement and upgrade of Hornchurch town centre which will provide local residents with new lighting, paving and accessible crossing points. All clutter will be removed. In the interest of safety and security, improvements will be made to the alleyways and the 'nooks and crannies' will be removed </li>
<li>&pound;137,000 for the renewal of the carriageways and footways of Lambs Lane to Upminster Road North which are currently in poor condition and will be renewed to correct any uneven surface, potholes and cracks. Pedestrians and vehicles will benefit from smooth, defect-free roads resulting in safer journeys in the boroughs </li>
<li>&pound;60,000 for cycle training and &pound;20,000 for cycle racks in Romford </li>
<li>&pound;50,000 to create a pedestrian phase at Doggett's Corner junction.&nbsp;The site is near community facilities, bus stops and Havering 6th Form College and therefore has high pedestrian demand and a need for safer crossing. Tactile paving will also be added</li></ul>
<p>Mayor of London, Boris Johnson, said: 'When I was elected I promised I would be different and give greater freedom to the boroughs. </p>
<p>'This is why this year I have introduced a &pound;100,000 award for boroughs to spend as they choose. </p>
<p>'Boroughs are being given greater freedom to develop and deliver the schemes they want, which means more choice over a range of key local schemes to improve town centres and cycling facilities, tackle the school run and improve local roads.<br>&nbsp;<br>'I am awarding Havering a budget of &pound;3.1m next year for local schemes that will make travelling safer, more accessible and more environment-friendly, helping to improve the quality of life for people across the borough.'</p>
<p>Funding for local transport schemes is allocated each year by TfL in response to the applications from boroughs based on their Local Implementation [transport] Plans (LIPs). </p>
<p>Funding is currently available for a wide range of programmes including road safety, maintaining borough roads, tackling the school run, improving walking, cycling and the local environment, making transport more accessible and measures to improve bus journeys.&nbsp; </p>
<p>
<hr>
<br><strong>Notes to editors: </strong>
<p>
<ul>
<li>Below is a table with a breakdown of LIP funding for Havering:</li></ul>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;20mph zones</td>
<td>&nbsp;150,000</td></tr>
<tr>
<td>&nbsp;Bus priority</td>
<td>&nbsp;240,000</td></tr>
<tr>
<td>&nbsp;Bus stop accessibility</td>
<td>&nbsp;75,000</td></tr>
<tr>
<td>&nbsp;Education, training, publicity</td>
<td>&nbsp;26,000</td></tr>
<tr>
<td>&nbsp;Environment</td>
<td>&nbsp;20,000</td></tr>
<tr>
<td>&nbsp;London Cycling Network +</td>
<td>&nbsp;297,000</td></tr>
<tr>
<td>&nbsp;Accessibility</td>
<td>&nbsp;60,000</td></tr>
<tr>
<td>&nbsp;Local safety schemes</td>
<td>&nbsp;700,000</td></tr>
<tr>
<td>&nbsp;Cycling</td>
<td>&nbsp;145,000</td></tr>
<tr>
<td>&nbsp;Principal road renewal</td>
<td>&nbsp;422,000</td></tr>
<tr>
<td>&nbsp;School travel plans</td>
<td>&nbsp;345,000</td></tr>
<tr>
<td>&nbsp;Station access</td>
<td>&nbsp;262,000</td></tr>
<tr>
<td>&nbsp;Town centres</td>
<td>&nbsp;150,000</td></tr>
<tr>
<td>&nbsp;Travel awareness</td>
<td>&nbsp;7,000</td></tr>
<tr>
<td>&nbsp;Walking</td>
<td>&nbsp;150,000</td></tr>
<tr>
<td>&nbsp;Trial funding</td>
<td>&nbsp;100,000</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td><strong>&nbsp;Total</strong></td>
<td>&nbsp;3,149,000</td></tr></tbody></table></div><br></p>
<ul>
<li>Each London borough has a LIP approved by the Mayor containing proposals to implement the Mayor's Transport Strategy locally.&nbsp;While TfL allocates funding for individual schemes, LIP and individual project delivery is the responsibility of each borough</li>
<li>A School Travel Plan is a package of measures, tailored to the needs of individual schools to deliver alternative transport methods for the school run, aiming to reduce single occupancy car journeys to school, cut congestion and increase safety near schools</li>
<li>Priorities for Local Implementation Plans include:&nbsp;&nbsp;</li>
<ul type="circle">
<li>Improving road safety </li>
<li>Encouraging walking and cycling </li>
<li>Improving bus journey times and reliability</li>
<li>Relieving traffic congestion and improving journey time reliability </li>
<li>Improving the working of parking and loading arrangements </li>
<li>Improving accessibility for all on the transport network </li>
<li>Bringing transport infrastructure into a state of good repair </li>
<li>School travel planning </li></ul>
<li>NB funding can be broken down by LIP programmes as above once final allocations have been approved</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London Boris Johnson today announced &pound;3.1m of funding from Transport for London&nbsp;(TfL)&nbsp;for Havering to deliver local transport improvements during the financial year 2009/10.&nbsp; As well as increasing next year's local";}
        
        


 