


@{ViewBag.Title = "Mayor outlines 10-year plan for massive transport expansion";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor outlines 10-year plan for massive transport expansion</h1>
        <div class="content-page-press-release">
        06 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Transport for London (TfL) Business Plan confirms multi-billion investment to boost transport capacity, create thousands of jobs and strengthen London's global position.
        
    </div>



 <div class="on-this-page">
<p>A new focus on value for money means &pound;2.4bn in efficiency savings can help deliver key projects.</p>
<p>The Mayor of London, Boris Johnson, today outlined his plan for the future of London's transport system as he launched TfL's multi-billion pound 10-year Business Plan.</p>
<p>The Mayor and Transport Commissioner Peter Hendy set out the detail of a huge Investment Programme that will help deliver an almost 30 per cent&nbsp;increase in the Capital's transport network by 2018.&nbsp; </p>
<p>The Programme will focus on the upgrade of the Tube, building Crossrail, extensions to the DLR and London Overground networks, supporting the 2012 Games and securing a legacy from them, smoothing traffic flows, leading a revolution in cycling and walking, and providing greater flexibility for London's boroughs to deliver local transport solutions. </p>
<p>The Mayor underlined the importance of continued and massive investment in transport infrastructure to create thousands of jobs for Londoners, boost the economy through uncertain times, and ensure London retains its pre-eminent global position.</p>
<p>But he also outlined how the economic climate means that tough choices need to be made and that a new approach of realism needs to be applied to prospective projects.&nbsp; </p>
<p>In a departure from the old administration, the Mayor has instructed&nbsp;TfL to focus on delivering the projects that will give the greatest benefits to Londoners, and not to proceed with spending money on projects that are yet to receive the necessary funding from Government and other sources.</p>
<p>The Mayor said: 'A good transport system is essential to improving quality of life, as the more time Londoners spend shoehorned onto trains, Tube carriages or buses, the less time they have to themselves or to spend with their families.<br>&nbsp;<br>'So we have to build a better system, and in this important moment for our city we are committing to building our transport infrastructure with Brunelian endeavour and scale, investing billions to create a network that Londoners will recognise as vastly improved from the one we have now.</p>
<p>'We will upgrade the Tube, build Crossrail, capture the legacy of the 2012 Games, and create thousands of jobs, helping to boost the capacity of our public transport network by almost 30 per cent. </p>
<p>'Smoothing traffic flows will help get the most from our road system.</p>
<p>'And we will both revolutionise cycling and walking, and sustain investment in transport policing so that we deliver not only a bigger and better network, but also a safer one - making London an even better place to live.'</p>
<p>The Mayor's transport priorities set out in TfL's&nbsp;10-year Business Plan are:</p>
<p>To expand public transport capacity:</p>
<ul>
<li>Completing the transformation of the Tube, including new air-conditioned trains, improved reliability and faster journeys, and building Crossrail, the single largest transport project seen in the UK in generations, that on its own will provide an extra 10 per cent capacity to the rail-based public transport network </li>
<li>To smooth traffic flows:&nbsp;making the best use of London's limited road space by re-phasing traffic lights and tackling the disruption caused by unplanned roadworks </li>
<li>To lead a revolution in cycling and walking in London:&nbsp;facilitating a step change increase in the numbers of people travelling by these most environmentally friendly and health enhancing modes </li>
<li>To deliver London's 2012 transport projects and secure a lasting legacy:&nbsp;completing the East London line extension to the London Overground network and increasing capacity on an extended DLR </li>
<li>To improve further the safety and security of the travelling public: building on the massively increased numbers of uniformed officers patrolling the buses and Tube and innovative new methods, such as trialling live CCTV on buses </li>
<li>To dramatically improve the experience of travelling in London: through, for example, the development and further roll-out to National Rail of the Oyster card, giving passengers better information, making buses safer, improving the urban realm, and introducing a 21st Century Routemaster bus</li></ul>
<p>Commenting on the tough decisions required to ensure a balanced and sustainable transport plan, the Mayor said: 'London is the engine of the UK economy and it is vital that we continue to invest in better transport during these tough times.</p>
<p>'But at the same time, we need to focus on the projects that deliver real benefits for Londoners, and let go of those that lack the funding for completion.</p>
<p>'These projects still required a total of over &pound;3bn in funding from the Government or other sources.</p>
<p>'At a time when Londoners are struggling it is our duty to get maximum bang for their buck and invest in fully funded schemes that we know can be delivered. </p>
<p>'I will not continue with the former Mayor's unrealistic and hollow promises.</p>
<p>'The last administration's commitments amounted to billions of pounds worth of schemes that London could simply never afford.'</p>
<p>Transport Commissioner Peter Hendy said:&nbsp;'The Mayor has set out his vision for the future and TfL's task is to deliver on time and on budget.</p>
<p>'I am confident we will.</p>
<p>'Alongside this massive investment is the need to deliver clear value for money for London's taxpayers and farepayers, to maximise the cost efficiency of TfL enabling fares to be kept affordable over the longer term.</p>
<p>'TfL has responded to this challenge by identifying &pound;2.4bn in savings and efficiencies that we have built into our funding calculations and will use to help deliver key projects such as improving the Tube, expanding London Overground and enabling the construction of Crossrail.</p>
<p>'And we will continue to look for more savings including through a major review of London's bus network.'</p>
<p>Funding for the programme outlined in the Business Plan is based on TfL's 10-year, &pound;39bn financial settlement with Government.</p>
<p><strong>
<hr>
Notes to editors:</strong> 
<p>
<p>Achievements of the Plan:</p>
<p>In terms of outcomes, by 2012, the TfL Business Plan will have delivered:</p>
<ul>
<li>The first of the large-scale Tube upgrades on the Jubilee, Victoria and Northern lines, each providing between 20 and 30 per cent more capacity into central London </li>
<li>The first ever air-conditioned trains on the Metropolitan, Circle, District and Hammersmith &amp; City lines </li>
<li>Three-car trains on the DLR providing a 50 per cent increase in capacity </li>
<li>The transformation of the London Overground network - which includes the East London line and North London line - with improved reliability and a doubling of capacity </li>
<li>Improvements to London's traffic flow, such as through the optimisation of traffic lights and coordination of roadworks </li>
<li>A new Routemaster fit for 21st Century London </li>
<li>Trial of orbital express buses in Outer London </li>
<li>A London cycle hire scheme and other major initiatives, such as cycle highways, to revolutionise cycling in London </li>
<li>A complete vision for the increased use of the Thames</li></ul>
<p>By 2018, this programme will have delivered:</p>
<ul>
<li>Crossrail, providing a 10 per cent increase in London's rail-based public transport capacity </li>
<li>Remaining Tube upgrades on the Piccadilly, District, Circle, Hammersmith &amp; City and Metropolitan lines - providing a 28 per cent increase in Tube capacity </li>
<li>Further schemes to cool deeper Tube lines, improving passenger comfort </li>
<li>Major improvements at key transport interchanges at Tottenham Court Road, Victoria, Bond Street and Paddington, relieving congestion and improving the environment for passengers </li>
<li>One million more people cycling and walking in London </li>
<li>A significant transport and regeneration legacy to follow a successful 2012 Games</li></ul>
<p><strong>Schemes that lack funding and will not be progressed by the Plan:</strong></p>
<p>Many of these projects promised by the previous Mayor were never funded beyond their initial design stages and had no money set aside to deliver them.</p>
<p>To build them all now would require over &pound;3bn in additional funding.</p>
<p><strong>Thames Gateway Bridge (cost to complete &pound;500m+):</strong></p>
<p>The objections raised at the public inquiry have always been a concern to the Mayor, particularly the disbenefits to traffic flow.</p>
<p>In addition, the funding gap that has now arisen, along with other concerns over location and environmental impact, has compounded the Mayor's view that the proposal is not the right one, particularly in light of the consistent local opposition to the scheme.</p>
<p><strong>Cross River Tram (cost to complete &pound;1.3bn):</strong></p>
<p>Given the lack of funding available to implement the project and the likelihood of not securing additional third party funding, TfL is not in a position to develop the scheme any further.</p>
<p>However the Business Plan will deliver a number of transport improvements to the communities along the proposed routes including the increased capacity and more frequent services to come on the Northern, Victoria and Piccadilly lines.</p>
<p>TfL and the London Devlopment Agency will now look at alternatives to Cross River Tram including Northern line separation, improved bus operations and other ways of supporting local regeneration.</p>
<p><strong>Croydon Tramlink Extension (&pound;170m+):</strong></p>
<p>The Crystal Palace scheme had been progressed by TfL but there is no funding for implementation.</p>
<p>TfL will conduct a wider study involving the boroughs affected as part of the new sub-regional plans to assess the transport needs of this part of Outer London.</p>
<p>The Mayor has indicated that the recommendation from this study will form part of a future bid to Government.</p>
<p><strong>Oxford Street Tram/Transit (&pound;500m):</strong></p>
<p>The proposal to improve links between Marble Arch&nbsp;and Tottenham Court Road is unaffordable and the disruption during construction would be very substantial.</p>
<p>TfL is working with Westminster Council to implement streetscape improvements as part of New West End Company ORB proposals.</p>
<p>TfL is also assessing options to reduce bus volumes along Oxford Street at minimum negative impact to bus passengers.</p>
<p><strong>East London Transit (ELT) (&pound;200m+) and Greenwich Waterfront Transit (GWT) (&pound;170m+):</strong></p>
<p>Beyond the completion of the ELT 1a, ELT 1b and GWT 1 projects that are funded in the plan, no other further phases will be funded under the Plan.</p>
<p>Some of these future phases (ELT2) were planned to support public transport services across Thames Gateway Bridge.</p>
<p>TfL will undertake a wider review as part of the sub-regional analysis working with boroughs to assess the potential for further transit routes and opportunities for external funding.</p>
<p><strong>Public Space Proposals - such as Parliament Square, Euston Circus, Victoria Embankment, High Street 2012 (&pound;100m+ not including possible 3rd party funding):</strong></p>
<p>The Parliament Square and Victoria Embankment schemes have been cancelled as they offered limited transport benefits. </p>

<p>They also had the added disbenefit of restricting traffic flow at a time when London's road network will be under more stress due to an increase in construction work and the need to deliver efficient transport flow for a successful 2012 Games. </p>

<p>Additionally, TfL will not be providing funding for the High St 2012 and Euston Circus projects led by the London Development Agency and Design for London.</p>
<p><strong>DLR Dagenham Dock (&pound;750m):</strong></p>
<p>Funding has yet to be identified to implement the proposed extension through Barking Riverside to Dagenham Dock which would support the proposed plans.</p>
<p>It is unclear whether the Barking Riverside housing development is a Government priority to 2018.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A new focus on value for money means &pound;2.4bn in efficiency savings can help deliver key projects.The Mayor of London, Boris Johnson, today outlined his plan for the future of London's transport system as he launched TfL's multi-billion pound 10-year";}
        
        


 