


@{ViewBag.Title = "Navigating London's top destinations set to get easier";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Navigating London's top destinations set to get easier</h1>
        <div class="content-page-press-release">
        24 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Trial of innovative signage system to be expanded.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Legible London is all about providing the signage and maps that will make walking even easier"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Legible London is all about providing the signage and maps that will make walking even easier
                            
                        </p>
                    </div>
                
            
            
            <p>Walking journeys around some of the Capital's most visited areas are set to increase, thanks to the expansion of Legible London, a unique system of on-street signs, maps and fingerposts designed to make it quicker and easier to walk around London.</p>
<p>The scheme uses 3D representations to give people a quick sense of their bearings and help them locate shops, parks, hotels, landmarks, toilets, Tube stations and other amenities. </p>
<p>It is already successfully guiding visitors around the Bond Street area and will now be extended to cover Regent and Oxford Streets.</p>
<p>Twenty-four new signs will go up before Christmas with a further thirty seven to go up by next summer.</p>
<h2>Expanding the scheme</h2>
<p>It has also been announced that Legible London will be piloted in three more areas of the Capital next year.</p>
<ul>
<li>A West End scheme will cover the area between Bloomsbury, Covent Garden and Holborn as the area has a large number of Tube stations that it would be quicker to walk between </li>
<li>South Bank and Bankside are ideal locations for encouraging more walking journeys, with their river side attractions and proximity to Waterloo station - one of London's key transport hubs </li>
<li>The leafy outer London town centres of Richmond and Twickenham will test how Legible London works in an outer London location</li></ul>
<p>As Legible London is introduced, redundant street furniture and confusing signage will be removed.</p>
<h2>Road clutter reduced</h2>
<p>The removal of obsolete signs and their replacement with fewer and more attractive, easy to understand, maps will reduce visual clutter and make life easier for pedestrians. </p>
<p>The Mayor of London, Boris Johnson, said: 'There have been occasions when I have been gobsmacked to hear people say they intend to use the Tube or a bus to make a journey of even just a few hundred yards.</p>
<p>'I used to think that some of these people were just crackers but it seems that many people actually don't realise how close these places are.</p>
<p>'Or how simple and invigorating it can be to put your best loafer forward and walk from A to B in many areas of the Capital.</p>
<h2>Making walking easier</h2>
<p>'Legible London is all about providing the signage and maps that will make walking even easier.</p>
<p>'It's been brilliant for Bond Street and I'm sure it will have similar results as we trial it in other parts of the Capital.'</p>
<p>The scheme is being developed in creative partnership with borough councils and the business community, and other stakeholders such as the New West End Company.</p>
<p>Transport for London (TfL)&nbsp;are working to involve all partners in the process of securing funding for the programme in the future.</p>
<h2>The healthy option</h2>
<p>Ben Plowden, Director of Smarter Travel at TfL said: 'Walking is a convenient, enjoyable and healthy way to get around London.</p>
<p>'It's also often the quickest option - in central London, around half of the short journeys currently made by Underground would be quicker to walk.</p>
<p>'The problem is that the Capital can sometimes be challenging to navigate on foot.</p>
<p>'Legible London has been designed to address that, by creating a reliable way-finding system that makes it easier to walk in and around London.</p>
<h2>Working together</h2>
<p>'Its clear and easy-to-read mapping will tell people which roads to take, what landmarks they'll pass along the way and how long it will take them to get where they want to go.'</p>
<p>New West End Company's Chief Executive, Richard Dickinson, said: 'The prototype signage system installed on Bond Street last November is already making pedestrian journeys in that area significantly quicker.</p>
<p>'West End shoppers value it so highly that 90 per cent have said that they want it rolled out across the rest of London.</p>
<p>'This is another great example of local councils, the Mayor and retailers working together to enhance the West End so that it remains the world's top shopping destination.'</p>
<p>
<hr>
<strong>Notes to editors: 
<p>
<ul>
<li></li></ul></strong>The first on-street prototype of the Legible London project was installed in November 2007 in the area around Bond Street as part of the Oxford Street, Regent Street, Bond Street (ORB) Programme. Research on the impact of the Legible London prototype in Bond Street found that 85 per cent of those interviewed (2,600 members of the public) found Legible London easy to use, 90 per cent felt the system should be rolled out across London and almost two-thirds of respondents said the new system would encourage them to walk more. On average, pedestrian journeys in the Bond Street area were quicker by 16 per cent following installation of the signage (research conducted by Colin Buchanan) 
<li>One in seven people travel on the Tube from stations that are only a walk away [AIG report] </li>
<li>One-hundred-and-nine journeys between neighbouring central London Underground stations are actually quicker on foot than the Tube. These include journeys from stations such as Covent Garden, Goodge Street, Waterloo, Blackfriars and Bank, where many of the nearest stations are quicker to walk to [AIG report] </li>
<li>Legible London will help to reduce the overall amount of clutter in the areas where it is installed, as its installation will allow the removal of obsolete signage and other street furniture </li>
<li>Walking is good for your health. People who do 30 minutes of moderate intensity activity on most days of the week have half the chance of developing heart disease than people who do no activity at all </li>
<li>The population of London is projected to grow by 800,000 by 2025. Increasing walking journeys is an important way of helping to manage the demands this increase would otherwise place on the system</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Walking journeys around some of the Capital's most visited areas are set to increase, thanks to the expansion of Legible London, a unique system of on-street signs, maps and fingerposts designed to make it quicker and easier to walk around London.The";}
        
        


 