


@{ViewBag.Title = "New Oyster contract to deliver great value for money to Londoners";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New Oyster contract to deliver great value for money to Londoners</h1>
        <div class="content-page-press-release">
        18 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Deal sees ownership of the Oyster brand pass to TfL, ensuring that passengers will continue to have Oyster in their pockets for years to come.
        
    </div>



 <div class="on-this-page">
<p>TfL&nbsp;today announced the agreement of a new contract for the future management and development of the Oyster card system and other ticketing services that will deliver great value for money over the coming years.</p>
<p>The deal will also see ownership of the Oyster brand pass to TfL, ensuring that Londoners and visitors to the city will continue to be able to use Oyster cards in years to come.</p>
<h2>Better services</h2>
<p>The Oyster ticketing system will also be available if required for the 2012 Games.</p>
<p>The new arrangement with Cubic Transportation Systems Limited and EDS replaces the existing PFI contract, delivering better value for money as well as improvements to Oyster services for passengers across London.</p>
<p>The move is part of Transport for London's &pound;2.4bn efficiency savings outlined last week in its ten-year <a title="Business plans" href="/corporate/about-tfl/investorrelations/1462.aspx">Business Plan</a>.</p>
<h2>More value for money</h2>
<p>Shashi Verma, TfL's Director of Fares and Ticketing said: </p>
<p>'This new deal will see Oyster in the pockets of Londoners for years to come and will save significant money that TfL will invest in improving transport in the capital.&nbsp; </p>
<p>'Transport for London is delighted that its successful partnership with Cubic and EDS will now continue for the next five years.</p>
<p>'The new contracts will deliver better value for money and improvements to Oyster for passengers across London.'</p>
<p>In August, TfL gave notice to terminate the current contract with the TranSys consortium, which will end in 2010 when the new arrangement with Cubic Transportation Systems Limited and EDS takes over.</p>
<p>
<hr>

<p>
            <p><strong>Notes to editors: </strong></p>
<ul type="circle">
<li>The Oyster card has been a huge success since its introduction across the TfL network in 2003. There are now over 6 million cards in regular use saving passengers time and money.&nbsp;Thirty-eight million journeys are made each week using Oyster </li>
<li>Oyster is accepted across Tube, bus, DLR, London Overground and parts of the Greater London rail network and gives passengers the ability to store credit, top up their cards <a title="Oyster online" href="https://oyster.tfl.gov.uk/oyster/entry.do">online</a> automatically, or over the counter at thousands of local shops </li>
<li>Up to three different Travelcards or Bus Pass season tickets and pay as you go credit can be stored on the same Oyster card at the same time </li>
<li>Oyster cards can be topped up <a title="Oyster online" href="https://oyster.tfl.gov.uk/oyster/entry.do">online</a>, over the phone, at Travel Information Centres or at one of the thousands of local Oyster Ticket Stop retailers across London </li>
<li>Registered lost or stolen cards with annual, monthly Travelcards or with pay as you go value stored on them can be stopped and the value transferred onto a new Oyster card, or refunded </li>
<li>The system was originally created, and has been maintained, via a Public Finance Initiative (PFI) contract held between&nbsp;TfL and TranSys, a consortium whose principal partners are EDS and Cubic. TranSys is responsible for developing, installing, managing and maintaining London's automated fare collection system including the Oyster card system, on behalf of TfL </li>
<li>TranSys' shareholders include Cubic Transportation Systems Limited, EDS International Ltd, Fujitsu Services Ltd. and WS Atkins Consultants Ltd.&nbsp;The contract was put in place in 1998 for a term of 17 years.&nbsp;TfL is terminating the contract by exercising a break option in the contract</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL&nbsp;today announced the agreement of a new contract for the future management and development of the Oyster card system and other ticketing services that will deliver great value for money over the coming years.The deal will also see ownership of the";}
        
        


 