


@{ViewBag.Title = "New White City bus station will cater for 10,000 passengers a day";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New White City bus station will cater for 10,000 passengers a day</h1>
        <div class="content-page-press-release">
        25 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        On Saturday 29 November 2008, Transport for London will open the brand new White City bus station.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This superb new bus station will be a real boon for local people and for shoppers going to Westfield"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This superb new bus station will be a real boon for local people and for shoppers going to Westfield
                            
                        </p>
                    </div>
                
            
            
            <p>The Shepherd's Bush Interchange will also open to buses, making it easier for passengers to switch between bus and Tube services in the area.</p>
<p>Eight local bus routes will be extended to serve the bus station and route 316, which currently runs between Cricklewood and St Charles Hospital, will also be extended to White City.</p>
<h2>Convenient interchange</h2>
<p>The bus station provides a convenient interchange between buses and the new Wood Lane (Hammersmith &amp; City line) station, and brings several extra bus routes within walking distance for residents of the White City Estate and the BBC Television Centre.</p>
<p>Shoppers heading to and from Westfield will also benefit, as White City bus station is immediately next to the north western entrance&nbsp;to the shopping centre.</p>

<h2>Benefits for locals</h2>
<p>The Mayor of London, Boris Johnson, said: 'Despite a collective tightening of the nation's wallets, the Capital's buses are defying the economic downturn as passenger numbers continue to rise.</p>
<p>'This superb new bus station will be a real boon for local people and for shoppers going to Westfield.</p>
<p>'The marvellous use of the historic Dimco buildings ties the old with the new and makes this a building that White City can really be proud of.'</p>
<h2>Top rate facilities</h2>
<p>White City bus station will handle 135 bus movements every hour across nine routes and will serve around 10,000 passengers every day.</p>
<p>Facilities at the accessible bus station include male and female public toilets and one disabled public toilet, all with baby changing facilities.</p>
<p>There is also a bus station supervisor's office and bus drivers' rest room facilities.</p>
<h2>Historic setting</h2>
<p>The bus station, constructed by Westfield, has been built around the historic Grade II listed red brick Dimco buildings, which date from 1898.</p>
<p>During the construction of the station, the buildings' facades and interiors were fully restored.</p>
<p>A stand for twelve buses has been provided in one of the buildings.</p>

<h2>Greater accessibility</h2>
<p>Dick Halle, Director of Strategy for Surface Transport, said: 'This modern bus station has been designed to be easy to use for all passengers with consideration for those who are older, disabled or weighed down with shopping, pushchairs or baggage.</p>

<p>'Nine bus routes have been extended to serve the bus station and interchange which will provide improved bus links to the local area.'</p>
<p>Shepherd's Bush Interchange will provide easy connections for passengers wishing to change between bus services and the Central line, or London Overground services to Clapham Junction, Willesden Junction and Watford Junction.</p>
<h2>Other improvements</h2>
<p>The opening of the bus station and Shepherd's Bush Interchange complete &pound;200m of transport improvements in the area, which include:</p>
<ul type="circle">
<li>Brand new Shepherd's Bush Overground station on the Willesden Junction to Clapham Junction line </li>
<li>Brand new Wood Lane Tube station on the Hammersmith &amp; City line, the first new station built on an existing line for 70 years </li>
<li>Shepherd's Bush station on the Central line, fully rebuilt above ground with a new ticket hall </li>
<li>Four new cycle routes, plus 570 secure cycle parking spaces around the site </li>
<li>Pedestrian access improved with new road crossings introduced</li></ul>
<p>
<hr>

<p>
            <p><strong>Notes to editors:</strong></p>
<ul type="circle">
<li>Routes 31, 49, 148, 207, 237, 260, 607 and C1 have been extended from Shepherd's Bush to serve White City bus station</li>
<li>Route 316, which currently runs between Cricklewood and St Charles Hospital, will be extended to serve the bus station from Saturday 29 November</li>
<li>Routes 72, 94, 95, 220, 272, 283, 295 and N207 will serve bus stops within a short walk of the Westfield shopping centre</li>
<li>The local transport improvements were the result of partnership working between TfL, the London Borough of Hammersmith and Fulham and Westfield</li>
<li>Westfield invested &pound;170m in the improvements, with a further &pound;30m invested by TfL</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Shepherd's Bush Interchange will also open to buses, making it easier for passengers to switch between bus and Tube services in the area.Eight local bus routes will be extended to serve the bus station and route 316, which currently runs between";}
        
        


 