


@{ViewBag.Title = "New hybrid buses for London to be unveiled at Euro Bus Expo 2008";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New hybrid buses for London to be unveiled at Euro Bus Expo 2008</h1>
        <div class="content-page-press-release">
        03 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Hybrid buses destined for the London Buses fleet will be showcased at the Euro Bus Expo 2008 in Birmingham's NEC this week.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The new buses being tested are just the first step towards creating a cleaner, greener bus fleet"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The new buses being tested are just the first step towards creating a cleaner, greener bus fleet
                            
                        </p>
                    </div>
                
            
            
            <p>The buses, from a number of manufacturers, will join Transport for London's (TfL's) ongoing hybrid bus trial programme.&nbsp; </p>
<p>TfL currently has one double-deck and 12 single-deck diesel-electric hybrid buses operating in London.&nbsp;</p>
<p>Hybrid buses are cleaner, quieter and use significantly less fuel than their diesel counterparts, cutting emissions of carbon dioxide by up to 40 per cent.&nbsp; </p>
<p>TfL's commitment to steadily expanding its hybrid bus fleet has resulted in many manufacturers, including Alexander Dennis Limited, Volvo, Wrights, Scania and Optare, developing hybrid buses for the London Buses fleet.&nbsp; </p>
<h2>Cleaner buses</h2>
<p>The Mayor of London, Boris Johnson, said: 'Londoners that use buses with the green leaf livery are travelling on vehicles with a double whammy bonus in that they emit fewer pollutants and use less fuel than regular buses. </p>
<p>'The new buses being tested are just the first step towards creating a cleaner, greener bus fleet in London and by 2012 every new bus we introduce will be a hybrid.'</p>
<p>Mike Weston, Operations Director for London Buses, said: 'The Mayor of London and TfL are committed to minimising the impact of public transport on the environment.&nbsp; </p>
<p>'Increasing the number of hybrid buses in the London Buses fleet is just one of the projects we're working on to reduce emissions and help tackle climate change.&nbsp; </p>
<h2>Green leaf livery</h2>
<p>'We are excited to be working with a number of bus manufacturers during this trial phase to help us deliver our aim of reducing emissions and ensuring that by 2012, every new bus entering the fleet will be a hybrid.'</p>
<p>Five of the hybrid bus types soon to be seen in London are on display at the Euro Bus Expo 2008.&nbsp; </p>
<p>They will be easily identified by a green leaf livery on a traditional red London bus background.&nbsp; </p>
<p>All the trial hybrid buses use different types of technology to deliver the improvements required by TfL.</p>
<h2>Tests</h2>
<p>Each type of vehicle will undergo a number of tests while they are in service to assess their performance. </p>
<p>TfL is also working with a number of the bus operators during the trials: Go Ahead, Arriva, First, Metroline, East London Buses, East Thames Buses and London United are all involved in the trial programme. </p>
<p>A total of 56 double and single-deck hybrid buses will be in operation by January 2009.</p>
<p>TfL is committed to a longer term programme that will see a further 300 new hybrid buses joining the fleet by March 2011, after which it is expected that all new buses entering service in London will be hybrid buses. </p>
<p>
<hr>
<br><strong>Notes to editors:</strong> 
<p>
<ul>
<li>The Euro Bus Expo 2008 runs from 4 - 6 November in Birmingham's NEC </li>
<li>At the Euro Bus Expo 2008 there will also be other TfL vehicles on display including one of the new Bluebird Dial-a-Ride vehicles, a conventional single deck bus and a typical refurbished double-deck </li>
<li>Seven single-deck hybrids run on route 360, operated by London Central, five single-deck hybrids run on route 129, operated by Travel London, and the double-deck hybrid bus runs on route 141, operated by Arriva </li>
<li>As well as the five hybrids on display in TfL livery, a further two buses built by Scania currently being considered for inclusion in TfL's hybrid bus programme will be on display<br>&nbsp;</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The buses, from a number of manufacturers, will join Transport for London's (TfL's) ongoing hybrid bus trial programme.&nbsp; TfL currently has one double-deck and 12 single-deck diesel-electric hybrid buses operating in London.&nbsp;Hybrid buses are";}
        
        


 