


@{ViewBag.Title = "Orbital express bus route to double in frequency";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Orbital express bus route to double in frequency</h1>
        <div class="content-page-press-release">
        20 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The first opportunity for Londoners living and working in outer boroughs to take advantage of the Mayor's commitment to improve orbital bus services around the Capital begins on Saturday 22 November 2008.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I am very pleased to hear that a trial of improvements to this bus route is beginning"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I am very pleased to hear that a trial of improvements to this bus route is beginning
                            
                        </p>
                    </div>
                
            
            
            <p>In his election manifesto, the Mayor pledged to improve bus services for people that travel between the town centres in outer London.</p> <p>Passengers using the X26 bus route between Croydon and Heathrow will be the first ones able to take advantage of improvements.</p> <p>Transport for London has announced that from Saturday 22 November the express bus route X26 will double in frequency, running every 30 minutes for most of the day, seven days a week.</p> <h2>Just the beginning...</h2> <p>Mayor of London, Boris Johnson, said: 'During the election I promised to improve bus services for people travelling between the outer suburbs of our great city, some of which can be considered economic powerhouses in their own right.</p> <p>'Out on the election stump it was made very clear to me that we could do more to make it easier for people living and working in these areas to travel between them.</p> <p>'I am very pleased to hear that a trial of improvements to this bus route is beginning; and if it is a success, then I would like to see a swathe of similar improvements around the Capital.'</p> <p>Clare Kavanagh, London Buses Performance Director, said: 'Route X26 offers express links between Croydon, Sutton, Kingston and Heathrow.</p> <p>'We will carry out a full evaluation of the effect of increasing the frequency of services, and will be asking passengers for their views to help in future development of the network.'</p> <p> <hr>  <p>
            <p><strong>Notes to editors:</strong></p> <ul type="circle"> <li><a class="new-window filetype-pdf" title=" (Opens in new window)" href="/assets/downloads/route-x26.pdf" jquery1227192548245="6">Route X26 </a>&nbsp;will be half-hourly from early in the morning until around 7pm from each end of the route, seven days per week.&nbsp;The evening service remains hourly  </li><li>Route X26 accepts all the usual TfL tickets and passes  </li><li>London now has more than 8,000 buses, and almost 2.2 billion passenger trips were made on London's buses in 2007/08  </li><li>London's bus network is constantly evolving and adapting to better serve passengers' needs.&nbsp;Many changes to the network are in response to the locations of key destinations, such as serving hospitals and major supermarkets  </li><li>The network continues to increase in size and London's buses travelled 468 million km in service during 2007/08  </li><li>Night bus services have also expanded to carry more than 34 million passengers annually - more than double the number in 2000</li></ul> <p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "In his election manifesto, the Mayor pledged to improve bus services for people that travel between the town centres in outer London. Passengers using the X26 bus route between Croydon and Heathrow will be the first ones able to take advantage of";}
        
        


 