


@{ViewBag.Title = "Oyster boost for Tower Hamlets";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Oyster boost for Tower Hamlets</h1>
        <div class="content-page-press-release">
        03 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Completion of Oyster Ticket Stops rollout sees 56 more Oyster retailers in the borough.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Having an Oyster ticket machine in our shop will greatly benefit all of our customers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mrs. U Patel</div>
            <div class="quotee-job-title">Riverside General Store</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Having an Oyster ticket machine in our shop will greatly benefit all of our customers
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) today announced the locations of 56 new shops and newsagents where people can now buy and top-up Oyster across Tower Hamlets.</p>
<p>Less than three per cent of single Tube and bus tickets are bought with cash in London and more than three-quarters of all Tube and bus journeys are made each day using Oyster.</p>
<p>The provision of Oyster machines to the new outlets will ensure that all Londoners have greater access to the easiest and most convenient way to pay for travel across the Capital.</p>
<h2>Cheaper fares</h2>
<p>Oyster cards were previously available at all Tube stations and more than 2,200 Oyster Ticket Stops.</p>
<p>Across London this figure has now been be increased to almost 3,800 outlets, an increase of over 75 per cent. In addition to Tube stations in Tower Hamlets there are now 115 shops selling Oyster.</p>
<p>Boris Johnson, Mayor of London, said: 'This is fulfilling the promise I made to Londoners, particularly those who told me during the election that they need better access to Oyster.</p>
<h2>Value for money</h2>
<p>'There are now more local shops than ever before across the capital where people can pop in and top up their Oyster cards, which means even more Londoners can enjoy the cheaper fares and value for money that Oyster offers.</p>
<p>'It is also great news for the small businesses across London that will benefit from the increase in custom generated through selling Oyster.'</p>
<p>Shashi Verma, TfL Director of Fares and Ticketing, said: 'Increasing the number of ticket agents across the Capital will make using Oyster even more convenient for the millions of passengers that use TfL services every day.'</p>
<h2>Convenient</h2>
<p>Mrs. U Patel, of Riverside General Store said: 'Since Oyster was introduced, we get more than ten customers a day asking if we do Oyster top-up because we are situated near Wapping and Shadwell stations and we are the only shop in the nearby area that offers the service.</p>
<p>'Having an Oyster ticket machine in our shop will therefore greatly benefit all of our customers.'</p>
<p>Customers can find their nearest Ticket Stop by typing their postcode into TfL's&nbsp;<a title="Ticketlocator" href="http://ticketlocator.tfl.gov.uk/postcode-search.asp">Ticketlocator</a>.</p>
<p>
<hr>

<p>
            <p><strong>Notes to editors: </strong></p>
<ul type="circle">
<li>Oyster remains quick and easy to use. For example, with Oyster pay as you go you can place &pound;10 on your Oyster card and when you touch in and out at the yellow readers with your card on the Tube, DLR and London Overground the reader automatically deducts the correct fare. On buses and tram customers only need to touch in </li>
<li>From November 2007, customers have been able to buy and top-up Oyster cards at all London Overground rail stations </li>
<li>The Oyster card has been a huge success since its introduction across the Transport for London network in 2003. There are now over 6 million cards in active use saving passengers time and money. 38m journeys are made each week using Oyster </li>
<li>Oyster is also available <a title="Oyster" href="/oyster">online</a>, over the phone via 0845 330 9876 or at Travel Information Centres across London. You can find your nearest Oyster Ticket Stop through the TfL website </li>
<li>A refundable &pound;3 deposit is required for a Pay-As-You-Go Oyster card but the money saved by switching to Oyster can cover this in just one day's travel. <br>Passengers can also register their card so that the money is protected if the card is lost or stolen </li>
<li>Passengers can store up to three different Travelcards or Bus Pass season tickets and cash to "pay as you go" on the same Oyster card at the same time </li>
<li>Oyster cards are also used to provide free travel for Londoners aged over 60 or with an eligible disability through the Freedom Pass scheme and, on the buses and trams, under 18s in full-time education in London can also get Oyster photocards for free travel. Under 11s travel free on all services at all times. On Veterans Day (28 June) the Mayor also announced a new free concession for public transport in London for war pensioners across the UK. This will come into effect from 2 November 2008 </li>
<li>When passengers use the Oyster card to touch in and out on the yellow card readers on the Tube, Docklands Light Railway, London Overground and touch in on London Buses and London Trams, the system automatically works out the right fare for the journey within in a fifth of a second from up to 1.83 million permutations </li>
<li>More information on Oyster is available <a title="Oyster" href="/oyster">online</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) today announced the locations of 56 new shops and newsagents where people can now buy and top-up Oyster across Tower Hamlets.Less than three per cent of single Tube and bus tickets are bought with cash in London and more than";}
        
        


 