


@{ViewBag.Title = "Richmond and Twickenham set to become more legible for pedestrians";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Richmond and Twickenham set to become more legible for pedestrians</h1>
        <div class="content-page-press-release">
        24 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Richmond: first outer London borough to trial new pedestrian way-finding system.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Walking is a convenient, enjoyable and healthy way to get around London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ben Plowden</div>
            <div class="quotee-job-title">Director of Smarter Travel at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Walking is a convenient, enjoyable and healthy way to get around London
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor and Transport for London (TfL) have today (24 November) announced that the Borough of Richmond upon Thames will be developing Legible London, a unique system of on-street signs, maps and fingerposts designed to make it quicker and easier to walk around the Capital.</p>
<p>The scheme uses 3D representations to give people a quick sense of their bearings and help them locate shops, parks, hotels, landmarks, toilets, Tube stations and other amenities. </p>
<p>It has already been successfully guiding visitors around the Bond Street area of central London for the past year, as part of a prototype study.</p>
<p>Richmond upon Thames has been chosen for funding by TfL as one of three areas in London to pilot the new pedestrian system and specifically to see how the system can meet outer London needs.</p>

<h2>Help from local groups</h2>
<p>Local steering groups are being set up to help develop the design and locations for the signage in Richmond and Twickenham town centres and surrounds.</p>
<p>Legible London will complement the work of Smarter Travel Richmond, a three year, &pound;4.5m programme, funded by TfL, which will start in March 2009.</p>
<p>The programme will aim to cut the number of car trips made in the borough in order to reduce congestion and CO2 emissions, which contribute to climate change.</p>
<p>Redundant street furniture and confusing signage will also be removed with the introduction of Legible London.</p>

<p>The removal of obsolete signs and their replacement with fewer and more attractive easy to understand maps will reduce visual clutter and make life easier for pedestrians.</p>

<h2>Making it easier for pedestrians</h2>
<p>Ben Plowden, Director of Smarter Travel at TfL, said: 'Walking is a convenient, enjoyable and healthy way to get around London.</p>
<p>'It's also often a quick option - around half of all car journeys in outer London are less than 2km, a distance that can be walked by most people in around 20 minutes.</p>
<p>'The problem is that London can sometimes be challenging to navigate on foot. Legible London has been designed to address that, by creating a reliable way-finding system that makes it easier to walk in and about London.</p>

<p>'Its clear and easy-to-read mapping will let people know which roads to take, what landmarks they'll pass along the way and how long it will take them to get where they want to go.'</p>

<h2>Reducing roadside clutter</h2>
<p>Councillor David Trigg, Richmond Council Cabinet Member for Traffic, Transport and Parking said: 'Being awarded funds to improve our pedestrian signage is a great opportunity for both Richmond and Twickenham town centres. </p>
<p>'It is also very timely as it will fit into current and planned environmental and highways improvements and our clutter reduction programme.</p>
<p>'Obviously we need to make sure that the signage takes into consideration our unique historic character, and we are setting up local steering groups to assist in the design and location of the signs and to ensure that the signs are accessible for all groups of people.'</p>
<p>The Mayor, TfL and the London Borough of Richmond upon Thames are all clear on the need for better pedestrian signage and information throughout the Capital, and are committed to improving local conditions as part of a wider programme to make London a great walking city.</p><strong>
<p>
<hr>

<p>
<p>Notes to editors:</strong><p>
<ul>
<li>The first on-street prototype of the Legible London project was installed in November 2007 in the area around Bond Street as part of the Oxford Street, Regent Street, Bond Street (ORB) Programme. Research on the impact of the Legible London prototype in Bond Street found that 85 per cent of those interviewed (2,600 members of the public) found Legible London easy-to-use, 90 per cent felt the system should be rolled out across London and almost two-thirds of respondents said the new system would encourage them to walk more. On average, pedestrian journeys in the Bond Street area were quicker by 16 per cent following installation of the signage (research conducted by Colin Buchanan) </li>
<li>The pilots, to be installed in autumn 2009, will also run in Bloomsbury, Covent Garden and Holborn in the boroughs of Camden and Westminster, and in the South Bank and Bankside areas of the boroughs of Lambeth and Southwark </li>
<li>TfL believes there is huge potential for a creative partnership between it, the boroughs and the business community in rolling out Legible London, including in relation to securing funding for the programme </li>
<li>Legible London will help to reduce the overall amount of clutter in the areas where it is installed, as its installation will allow the removal of obsolete signage and other street furniture </li>
<li>One-hundred-and-nine journeys between neighbouring central London Underground stations are actually quicker on foot than the Tube. These include journeys from stations such as Covent Garden, Goodge Street, Waterloo, Blackfriars and Bank, where many of the nearest stations are quicker to walk to [AIG report] </li>
<li>Walking is good for your health. People who do 30 minutes of moderate intensity activity on most days of the week have half the chance of developing heart disease than people who do no activity at all </li>
<li>The population of London is projected to grow by 800,000 by 2025. Increasing walking journeys is an important way of helping to manage the demands this increase would otherwise place on the system </li>
<li>Visuals of the signs will not be available for publication until after a period of design development and consultation with local stakeholders</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor and Transport for London (TfL) have today (24 November) announced that the Borough of Richmond upon Thames will be developing Legible London, a unique system of on-street signs, maps and fingerposts designed to make it quicker and easier to walk";}
        
        


 