


@{ViewBag.Title = "Southwest London to benefit from Mayor's 10-year plan for massive transport expansion ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Southwest London to benefit from Mayor's 10-year plan for massive transport expansion </h1>
        <div class="content-page-press-release">
        06 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Transport for London Business Plan confirms a multi-billion investment to boost transport capacity and deliver Oyster on national rail, new longer trains on the Wimbledon to Edgware Road District line service and refurbished trams.
        
    </div>



 <div class="on-this-page">
<p>The Mayor of London Boris Johnson today outlined his plan for the future of London's transport system as he launched TfL's multi-billion pound 10-year Business Plan.</p> <p>The Plan, which will deliver an almost 30 per cent&nbsp;increase in the Capital's transport network by 2018, includes massive transport improvements in southwest London including the extension of Oyster pay as you go to National Rail services from late 2009, the upgrades of the District and Northern lines, improvements to the existing Tramlink network, measures to smooth traffic flow for road users and a huge investment to begin a revolution in cycling and walking.</p> <p>However, these are challenging economic times and follow a legacy of over promise which has led to the Mayor being required to make some tough decisions about projects that had been promised but which never had any money set aside for their delivery.</p> <p>The Mayor said: 'A good transport system is essential to improving quality of life, as the more time Londoners spend shoehorned onto trains, Tube carriages or buses, the less time they have to themselves or to spend with their families.</p> <p>'So we have to build a better system, and in this important moment for our city we are committing to building our transport infrastructure with Brunelian endeavour and scale, investing billions to create a network that Londoners will recognise as vastly improved from the one we have now.</p> <p>'We will upgrade the Tube, build Crossrail, capture the legacy of the 2012 Games, and create thousands of jobs, helping to boost the capacity of our public transport network by almost 30 per cent.</p> <p>'Smoothing traffic flows will help get the most from our road system.</p> <p>'And we will both revolutionise cycling and walking, and sustain investment in transport policing so that we deliver not only a bigger and better network, but also a safer one - making London an even better place to live.'</p> <p>The transport improvements for southwest London in the TfL Business Plan include:</p> <ul> <li>London Underground - the District and Northern lines will be upgraded to provide additional capacity through the operation of faster, more frequent services and new 7-carriage trains with air conditioning will be introduced across the entire District line. This is good news for passengers who use the Wimbledon to Edgware Road service as this will be operated by longer trains  </li><li>Crossrail - construction will begin in 2010, greatly improving transport services for those living in southwest London when it opens in 2017 as it will relieve congestion on existing Tube and National Rail services. Crossrail will be the largest addition to the transport network in London and the South East for more than 50 years, running 118km from Maidenhead in the west through central London to Abbey Wood and Shenfield in the east  </li><li>London Overground - the North London and West London Lines will be upgraded for passengers traveling on these lines from Clapham Junction and Richmond and a fleet of brand new trains will be introduced providing additional capacity. The extended East London Line will open in 2010 but an extension from Surrey Quays to Clapham Junction is currently unfunded. Aware of the benefits that a further extension would bring to southwest London, the Mayor and TfL are continuing discussions with the Department for Transport  </li><li>Tramlink - The Tramlink network, now owned and managed by TfL, which connects Wimbledon with Croydon, New Addington, Beckenham Junction and Elmers End will also benefit from improvements. Over the next two years, all trams will be refurbished and painted in TfL livery and all tram stops will be refurbished  </li><li>Oyster pay as you go on National Rail - the Mayor and TfL are aiming to ensure that Oyster pay as you go is available on all national rail services in London by late 2009, a major boost to those living in southwest London who are heavily reliant on national rail for journeys into central London  </li><li>Smoothing traffic flow - Road users in southwest London will benefit from the smoothing of traffic flows achieved through a range of measures including re-phasing traffic lights and through better co-ordination of road works  </li><li>Cycling and walking - The Mayor aims to increase cycling throughout London by 400 per cent&nbsp;by 2025 through three principle initiatives: a new cycle hire scheme; the creation of cycle highways to whisk commuters and others into central London; and cycle hubs in outer London to create beacons of cycling excellence across the city  </li><li>Local transport funding - TfL is also working more collaboratively with all of London's boroughs in providing continued annual funding for local transport improvements through the boroughs' Local Implementation Plans. Funding for all London's boroughs for 2009/10 will be announced shortly</li></ul> <p>The Mayor today underlined the importance of continued high-level investment in transport infrastructure to create thousands of jobs for Londoners, boost the economy through uncertain times, and ensure London retains its pre-eminent global position.</p> <p>But he also outlined how the uncertain economic climate means that tough choices need to be made and that a new approach of realism needs to be applied to prospective projects.</p> <p>The Mayor recognises now more than ever that TfL must make efficiencies and spend public money wisely given that Londoners are watching their outgoings in these challenging times.</p> <p>In a departure from the old administration, the Mayor has instructed TfL to focus on delivering on time and budget the projects that will give the greatest benefits to Londoners, and not to proceed with spending money on projects that are yet to receive the necessary funding from Government and other sources.</p> <p>Commenting on the tough decisions required to ensure a balanced and sustainable transport plan the Mayor said:&nbsp;'London is the engine of the UK economy and it is vital that we continue to invest in better transport during these tough times.</p> <p>'But at the same time, we need to focus on the projects that deliver real benefits for Londoners, and let go of those that lack the funding for completion.</p> <p>'These projects still required a total of over &pound;3bn in funding from the Government or other sources.</p> <p>'At a time when Londoners are struggling it is our duty to get maximum bang for their buck and invest in fully funded schemes that we know can be delivered.</p> <p>'I will not continue with the former Mayor's unrealistic and hollow promises.</p> <p>'The last administration's commitments amounted to billions of pounds worth of schemes that London could simply never afford.'</p> <p>Transport Commissioner Peter Hendy said: 'The Mayor has set out his vision for the future and TfL's task is to deliver on time and on budget.</p> <p>'I am confident we will.</p> <p>'Alongside this massive investment is the need to deliver clear value for money for London's taxpayers and farepayers, to maximise the cost efficiency of TfL enabling fares to be kept affordable over the longer term.</p> <p>'TfL has responded to this challenge by identifying &pound;2.4bn in savings and efficiencies that we have built into our funding calculations and will use to help deliver key projects such as improving the Tube, expanding London Overground and enabling the construction of Crossrail.</p> <p>'And we will continue to look for more savings including through a major review of London's bus network.'</p> <p> <hr>  <p> <p><strong>Notes to editors:</strong></p> <ul> <li>The Mayor's transport priorities set out in TfL's 10-year Business Plan are:  <ul> <li>To expand public transport capacity: completing the transformation of the Tube, including new air conditioned trains, improved reliability and faster journeys, and building Crossrail, the single largest transport project seen in the UK in generations that on its own will provide an extra 10 per cent capacity to the rail-based public transport network  </li><li>To smooth traffic flows: making the best use of London's limited road space by re-phasing traffic lights and tackling the disruption caused by unplanned roadworks  </li><li>To lead a revolution in cycling and walking in London: facilitating a step change increase in the numbers of people traveling by these most environmentally friendly and health enhancing modes  </li><li>To deliver London's 2012 transport projects and secure a lasting legacy:&nbsp;completing the East London line extension to the London Overground network and increasing capacity on an extended DLR  </li><li>To improve further the safety and security of the traveling public: building on the massively increased numbers of uniformed officers patrolling the buses and Tube and innovative new methods, such as trialing live CCTV on buses  </li><li>To dramatically improve the experience of traveling in London:&nbsp; through, for example, the development and further roll-out to national rail of the Oyster card, giving passengers better information, making buses safer, improving the urban realm, and introducing a 21st Century Routemaster bus</li></ul></li></ul> <p>Achievements of the Plan:</p> <ul> <li>In terms of outcomes, by 2012, the TfL Business Plan will have delivered:  <ul> <li>The first of the large-scale Tube upgrades on the Jubilee, Victoria and Northern lines, each providing between 20 and 30 per cent more capacity into central London  </li><li>The first ever air-conditioned trains on the Circle, District, Hammersmith &amp; City and Metropolitan lines  </li><li>Three-car trains on the DLR providing a 50 per cent increase in capacity  </li><li>The transformation of the London Overground network - which includes the East London and North London Line - with improved reliability and a doubling of capacity  </li><li>Improvements to London's traffic flow, such as through the optimisation of traffic lights and co-ordination of roadworks  </li><li>A new Routemaster fit for 21st Century London  </li><li>Trial of orbital express buses in outer London  </li><li>A London cycle hire scheme and other major initiatives, such as cycle highways, to revolutionise cycling in London</li></ul> <li>By 2018, this programme will have delivered  <ul> <li>Crossrail, providing a 10 per cent increase in London's rail-based public transport capacity  </li><li>Remaining Tube upgrades on the Piccadilly, District, Circle, Hammersmith &amp; City and Metropolitan lines - providing a 28 per cent increase in Tube capacity  </li><li>Further schemes to cool deeper Tube lines, improving passenger comfort  </li><li>Major improvements at key transport interchanges at Tottenham Court Road, Victoria, Bond Street and Paddington, relieving congestion and improving the environment for passengers  </li><li>One million more people cycling and walking in London  </li><li>A significant transport and regeneration legacy to follow a successful 2012 Games</li></ul></li></li></ul> <p>Copies of the TfL Business Plan are available to download from <a href="http://www.tfl.gov.uk/businessplan">tfl.gov.uk/businessplan</a><br></p> <p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London Boris Johnson today outlined his plan for the future of London's transport system as he launched TfL's multi-billion pound 10-year Business Plan. The Plan, which will deliver an almost 30 per cent&nbsp;increase in the Capital's";}
        
        


 