


@{ViewBag.Title = "South Bank and Bankside set to become more legible for pedestrians";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>South Bank and Bankside set to become more legible for pedestrians</h1>
        <div class="content-page-press-release">
        24 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Legible London, a new pedestrian way-finding system, to be installed in area during autumn 2009.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Its clear and easy-to-read mapping will tell people which roads to take, what landmarks they'll pass along the way and how long it will take them to get where they want to go"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ben Plowden</div>
            <div class="quotee-job-title">Director of Smarter Travel at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Its clear and easy-to-read mapping will tell people which roads to take, what landmarks they'll pass along the way and how long it will take them to get where they want to go
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor and Transport for London (TfL) have today (24 November) announced that South Bank and Bankside will pilot Legible London, a unique system of on-street signs, maps and fingerposts designed to make it quicker and easier to walk around the Capital.</p>
<p>The scheme uses 3D representations to give people a quick sense of their bearings and help them locate shops, parks, hotels, landmarks, toilets, Tube stations and other amenities. </p>
<p>It has already been successfully guiding visitors around the Bond Street area for the past year, as part of a prototype study of 19 signs.</p>
<p>Now South Bank and Bankside, located in the boroughs of Lambeth and Southwark, have been chosen as one of three areas in London to pilot the new pedestrian system.</p>

<h2>Easier to find attractions</h2>
<p>The popular visitor attractions, shops, bars, restaurants and evening entertainment that the South Bank and Bankside offer attract around 20 million visits ever year.</p>
<p>In addition, their picturesque location along the banks of the Thames and their proximity to Waterloo Station make them ideal locations for encouraging more walking journeys. </p>
<p>As Legible London is introduced, redundant street furniture and confusing signage will be removed.</p>
<p>The removal of obsolete signs and their replacement with fewer and more attractive, easy to understand maps, will reduce visual clutter and make life easier for pedestrians. </p>

<p>The South Bank and Bankside pilot, which will probably consist of around 60 to 80 Legible London signs, will be installed during autumn 2009. </p>

<p>Ben Plowden, Director of Smarter Travel at TfL, said: 'Walking is a convenient, enjoyable and healthy way to get around London.</p>

<h2>Quicker to walk</h2>
<p>'It's also often the quickest option - in central London, around half of the short journeys currently made by Underground would be quicker to walk.</p>
<p>'The problem is that the Capital can sometimes be challenging to navigate on foot.</p>

<p>'Legible London has been designed to address that, by creating a reliable way-finding system that makes it easier to walk in and around London.</p>

<p>'Its clear and easy-to-read mapping will tell people which roads to take, what landmarks they'll pass along the way and how long it will take them to get where they want to go.'</p>
<p>Savas Sivetidis, Director of Cross River Partnership, said: 'Legible London is a high quality signage system and we are really pleased to work with TfL to coordinate the delivery of this project in Bankside and South Bank.'</p>

<h2>Better area information</h2>
<p>The Mayor, Transport for London, Cross River Partnership and the London Boroughs of Lambeth and Southwark, together with the area's business organisations, South Bank Employers' Group and Better Bankside, are all clear on the need for better pedestrian signage and information in the area.</p>

<p>They are committed to improving conditions as part of a wider programme to make London a great walking city.</p>
<p>The South Bank and Bankside pilot of Legible London is one of three taking place.</p>
<p>It is an important step towards the goal of having Legible London signage in place in central London and the Olympic area before 2012, and in urban centres throughout Greater London by 2015.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The first on-street prototype of the Legible London project was installed in November 2007 in the area around Bond Street as part of the Oxford Street, Regent Street, Bond Street (ORB) Programme. Research on the impact of the Legible London prototype in Bond Street found that 85 per cent of those interviewed (2,600 members of the public) found Legible London easy to use, 90 per cent felt the system should be rolled out across London and almost two-thirds of respondents said the new system would encourage them to walk more. On average, pedestrian journeys in the Bond Street area were quicker by 16 per cent following installation of the signage (research conducted by Colin Buchanan) </li>
<li>Coordinated by Cross River Partnership, the South Bank and Bankside pilot will be delivered on the ground in South Bank by South Bank Employers' Group, working with Lambeth Council, and in Bankside by Southwark Council, in collaboration with Better Bankside </li>
<li>The other pilots, also to be installed in autumn 2009, will be in Richmond and Twickenham town centres in the Borough of Richmond upon Thames, and in the Bloomsbury, Covent Garden and Holborn areas of the boroughs of Camden and Westminster </li>
<li>We believe there is huge potential for a creative partnership between TfL, the boroughs and the business community in rolling out Legible London, including in relation to securing funding for the programme </li>
<li>One in seven people travel on the Tube from stations that are only a walk away [AIG report] </li>
<li>One-hundred-and-nine journeys between neighbouring central London Underground stations are actually quicker on foot than the Tube. These include journeys from stations such as Covent Garden, Goodge Street, Waterloo, Blackfriars and Bank, where many of the nearest stations are quicker to walk to [AIG report] </li>
<li>Legible London will help to reduce the overall amount of clutter in the areas where it is installed, as its installation will allow the removal of obsolete signage and other street furniture </li>
<li>Walking is good for your health. People who do 30 minutes of moderate intensity activity on most days of the week have half the chance of developing heart disease than people who do no activity at all.<br>The population of London is projected to grow by 800,000 by 2025. Increasing walking journeys is an important way of helping to manage the demands this increase would otherwise place on the system</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor and Transport for London (TfL) have today (24 November) announced that South Bank and Bankside will pilot Legible London, a unique system of on-street signs, maps and fingerposts designed to make it quicker and easier to walk around the";}
        
        


 