


@{ViewBag.Title = "South London to benefit from Mayor's 10-year plan for massive transport expansion ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>South London to benefit from Mayor's 10-year plan for massive transport expansion </h1>
        <div class="content-page-press-release">
        06 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Transport for London (TfL) Business Plan confirms a multi-billion investment to boost transport capacity and deliver Oyster on national rail, upgrade of Northern line, refurbished trams and extension of East London line to Croydon.
        
    </div>



 <div class="on-this-page">
<p>The Mayor of London Boris Johnson today outlined his plan for the future of London's transport system as he launched TfL's multi-billion pound 10-year Business Plan.</p> <p>The Plan, which will help deliver an almost 30 per cent&nbsp;increase in the Capital's public transport network by 2018, includes massive transport improvements in South London including Crossrail, the upgrade of the Northern line, the extension of London Overground, acceptance of Oyster pay as you go on National Rail services, measures to smooth traffic flow for road users and a huge investment to begin a revolution in cycling and walking.</p> <p>However the Mayor made clear that the current challenging economic times follow the former Mayor's promises of schemes for which there was never any money, ultimately leading to some tough decisions about which projects the Plan will fund.</p> <p>This means that tram schemes with much merit, such as the Cross River Tram and Croydon Tramlink extension, will have to be re-assessed.</p> <p>The Mayor said: 'A good transport system is essential to improving quality of life, as the more time Londoners spend shoehorned onto trains, Tube carriages or buses, the less time they have to themselves or to spend with their families.</p> <p>'So we have to build a better system, and in this important moment for our city we are committing to building our transport infrastructure with Brunelian endeavour and scale, investing billions to create a network that Londoners will recognise as vastly improved from the one we have now.</p> <p>'We will upgrade the Tube, build Crossrail, capture the legacy of the 2012 Games, and create thousands of jobs, helping to boost the capacity of our public transport network by almost 30 per cent.</p> <p>'Smoothing traffic flows will help get the most from our road system.</p> <p>'And we will both revolutionise cycling and walking, and sustain investment in transport policing so that we deliver not only a bigger and better network, but also a safer one - making London an even better place to live.'</p> <p>The transport improvements for South London in the TfL Business Plan include:</p> <ul> <li>Oyster pay as you go on National Rail - the Mayor and TfL are aiming to ensure that oyster pay as you go is available on all national rail services in London by late 2009, a major boost to those in South London who are heavily reliant on national rail for journeys into central London  </li><li>London Underground - the Northern line will be upgraded by 2012 and will increase capacity by 20 per cent. A new signalling system will allow the operation of faster, more frequent services. The Victoria line will also be upgraded by 2012 and new trains will be introduced from 2009  </li><li>Crossrail - construction will begin in 2010, greatly improving transport services for those living in South London when it opens in 2017 as it will relieve congestion on existing Tube and National Rail services. Crossrail will be the largest addition to the transport network in London and the South East for more than 50 years, running 118km from Maidenhead in the west through central London to Abbey Wood and Shenfield in the east  </li><li>London Overground - the extended East London Line will re-open as part of the new London Overground network connecting Highbury &amp; Islington to Crystal Palace and West Croydon in 2010 along with a fleet of brand new trains. A further extension from Surrey Quays to Clapham Junction is currently unfunded. Aware of the benefits that a further extension would bring, the Mayor and TfL are continuing discussions with the Department for Transport  </li><li>Tramlink - The Tramlink network, now owned and managed by TfL, with connects Croydon, New Addington, Beckenham Junction and Elmers End with South West London will also benefit from improvements. Over the next two years, all trams will be refurbished and painted in TfL livery and all tram stops will be refurbished  </li><li>Smoothing traffic flow - Road users in South London will benefit from the smoothing of traffic flows achieved through a range of measures including re-phasing traffic lights and through better co-ordination of road works  </li><li>Cycling and walking - The Mayor aims to increase cycling throughout London by 400 per cent&nbsp;by 2025 through three principle initiatives: a new cycle hire scheme; the creation of cycle highways to whisk commuters and others into central London; and cycle hubs in outer London to create beacons of cycling excellence across the city  </li><li>Local transport funding - TfL is also working more collaboratively with all of London's boroughs in providing continued annual funding for local transport improvements through the boroughs' Local Implementation Plans. Funding for all London's boroughs for 2009/10 will be announced shortly</li></ul> <p>The Mayor today underlined the importance of continued high-level investment in transport infrastructure to create thousands of jobs for Londoners, boost the economy through uncertain times, and ensure London retains its pre-eminent global position.</p> <p>But he also outlined how the uncertain economic climate means that tough choices need to be made and that a new approach of realism needs to be applied to prospective projects.</p> <p>The Mayor recognises now more than ever that TfL must make efficiencies and spend public money wisely given that Londoners are watching their outgoings in these challenging times.</p> <p>In a departure from the old administration, the Mayor has instructed TfL to focus on delivering on time and budget the projects that will give the greatest benefits to Londoners, and not to proceed with spending money on projects that are yet to receive the necessary funding from Government and other sources.</p> <p>Commenting on the tough decisions required to ensure a balanced and sustainable transport plan the Mayor said:&nbsp;'London is the engine of the UK economy and it is vital that we continue to invest in better transport during these tough times.</p> <p>'But at the same time, we need to focus on the projects that deliver real benefits for Londoners, and let go of those that lack the funding for completion.</p> <p>'These projects still required a total of over &pound;3bn in funding from the Government or other sources.</p> <p>'At a time when Londoners are struggling it is our duty to get maximum bang for their buck and invest in fully funded schemes that we know can be delivered.</p> <p>'I will not continue with the former Mayor's unrealistic and hollow promises.</p> <p>'The last administration's commitments amounted to billions of pounds worth of schemes that London could simply never afford.</p> <p>'This means that tram schemes with much merit, such as the Cross River Tram and Croydon Tramlink extension will have to be re-assessed.</p> <p>'The Cross River Tram is not funded and I believe the &pound;19m we are due to spend on its development would be better spent on improving existing public transport capacity.</p> <p>'So on top of the existing transport improvements for South London in the Plan, I have asked TfL to look at alternatives to the Cross River Tram, including the potential separation of the Northern line and improvements to bus services.'</p> <p>Transport Commissioner Peter Hendy said: 'The Mayor has set out his vision for the future and TfL's task is to deliver on time and on budget.</p> <p>'I am confident we will.</p> <p>'Alongside this massive investment is the need to deliver clear value for money for London's taxpayers and farepayers, to maximise the cost efficiency of TfL enabling fares to be kept affordable over the longer term.</p> <p>TfL has responded to this challenge by identifying &pound;2.4bn in savings and efficiencies that we have built into our funding calculations and will use to help deliver key projects such as improving the Tube, expanding London Overground and enabling the construction of Crossrail.</p> <p>'And we will continue to look for more savings including through a major review of London's bus network.'</p> <p> <hr>  <p> <p><strong>Notes to editors:</strong></p> <p>The Mayor's transport priorities set out in TfL's 10-year Business Plan are:</p> <ul> <li>To expand public transport capacity:&nbsp;completing the transformation of the Tube, including new air conditioned trains, improved reliability and faster journeys, and building Crossrail, the single largest transport project seen in the UK in generations that on its own will provide an extra 10 per cent capacity to the rail-based public transport network  </li><li>To smooth traffic flows:&nbsp; making the best use of London's limited road space by re-phasing traffic lights and tackling the disruption caused by unplanned roadworks  </li><li>To lead a revolution in cycling and walking in London: facilitating a step change increase in the numbers of people traveling by these most environmentally friendly and health enhancing modes  </li><li>To deliver London's 2012 transport projects and secure a lasting legacy: completing the East London line extension to the London Overground network and increasing capacity on an extended DLRTo improve further the safety and security of the traveling public: building on the massively increased numbers of uniformed officers patrolling the buses and Tube and innovative new methods, such as trialing live CCTV on buses  </li><li>To dramatically improve the experience of traveling in London: through, for example, the development and further roll-out to national rail of the Oyster card, giving passengers better information, making buses safer, improving the urban realm, and introducing a 21st Century Routemaster bus</li></ul> <p>Achievements of the Plan:</p> <ul> <li>In terms of outcomes, by 2012, the TfL Business Plan will have delivered  <ul> <li>The first of the large-scale Tube upgrades on the Jubilee, Victoria and Northern lines, each providing between 20 and 30 per cent more capacity into central London  </li><li>The first ever air-conditioned trains on the Circle, District, Hammersmith &amp; City and Metropolitan lines  </li><li>Three-car trains on the DLR providing a 50 per cent increase in capacity  </li><li>The transformation of the London Overground network - which includes the East London and North London Line - with improved reliability and a doubling of capacity  </li><li>Improvements to London's traffic flow, such as through the optimisation of traffic lights and co-ordination of roadworks  </li><li>A new Routemaster fit for 21st Century London  </li><li>Trial of orbital express buses in outer London  </li><li>A London cycle hire scheme and other major initiatives, such as cycle highways, to revolutionise cycling in London</li></ul> <li>By 2018, this programme will have delivered  <ul> <li>Crossrail, providing a 10 per cent increase in London's rail-based public transport capacity  </li><li>Remaining Tube upgrades on the Piccadilly, District, Circle, Hammersmith &amp; City and Metropolitan lines - providing a 28 per cent increase in Tube capacity  </li><li>Further schemes to cool deeper Tube lines, improving passenger comfort  </li><li>Major improvements at key transport interchanges at Tottenham Court Road, Victoria, Bond Street and Paddington, relieving congestion and improving the environment for passengers  </li><li>One million more people cycling and walking in London  </li><li>A significant transport and regeneration legacy to follow a successful 2012 Games</li></ul></li></li></ul> <p>Copies of the TfL Business Plan are available to download from <a href="http://www.tfl.gov.uk/businessplan">www.tfl.gov.uk/businessplan</a><br></p> <p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London Boris Johnson today outlined his plan for the future of London's transport system as he launched TfL's multi-billion pound 10-year Business Plan. The Plan, which will help deliver an almost 30 per cent&nbsp;increase in the Capital's";}
        
        


 