


@{ViewBag.Title = "TfL's Lost Property Office brings Christmas cheer to hundreds of children";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL's Lost Property Office brings Christmas cheer to hundreds of children</h1>
        <div class="content-page-press-release">
        19 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL's Lost Property Office today donated hundreds of brand new toys to The Salvation Army to give to children over the Christmas period.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We know things can be tough for families, and we hope this will bring a smile to many children's faces on Christmas day"</div>
        <div class="quote-footer">
            <div class="quotee-name">Paul Farmer</div>
            <div class="quotee-job-title">TfL Lost Property Office</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We know things can be tough for families, and we hope this will bring a smile to many children's faces on Christmas day
                            
                        </p>
                    </div>
                
            
            
            <p>The Lost Property Office handles items lost on the TfL network, including London Buses, London Underground, London Overground, Docklands Light Railway, licensed taxis or in Victoria Coach Station.</p>
<p>The toys will appeal to children of all ages and range from soft toys and board games to sports equipment, scooters and even a robot dinosaur.</p>
<h2>Christmas spirit</h2>
<p>The Salvation Army in Deptford, south London, will work with the local council to distribute the toys to families in need. </p>
<p>Paul Farmer of TfL's Lost Property Office, said: 'It gives us great pleasure to donate these wonderful toys to The Salvation Army to give to children who might not be expecting any Christmas presents this year.</p>
<p>'We know things can be tough for families, and we hope this will bring a smile to many children's faces on Christmas day.'</p>
<p>Captain Kevin Stanbury, The Salvation Army officer at Deptford, said:&nbsp;'Every Christmas, The Salvation Army collects presents to distribute to families through its Christmas present appeal.</p>
<p>'The gifts from TfL will help us to make sure that families throughout south London will have a happy Christmas.' </p>
<h2>Reclaiming lost property</h2>
<p>Between 600 and 1,000 items are handed in each day to the Lost Property Office.</p>
<p>In a nod to the office's fictional Baker Street neighbour, a computer programme called 'Sherlock' is used to log details of items handed in and to check for a match with enquiries received from customers who have lost an item on the transport network.</p>
<p>The Lost Property Office does its best to reunite people with their property, and would encourage anyone to get in touch if they think they might have left something on the transport network.</p>
<p>The biggest barrier to returning property to its rightful owner is the large number of people who simply do not enquire about their lost items.</p>
<p>The success rate of items returned to their owners is around&nbsp;one in&nbsp;three bags,&nbsp;one in&nbsp;three mobiles and&nbsp;one in&nbsp;three valuables.</p>

<p>
<hr>
</p>
            <p><strong>Notes to editors:</strong></p>
<ul type="circle">
<li>Images are available on request </li>
<li>If a name and address, email address or telephone number is found in the property, the potential owner is contacted and told that the Lost Property Office may have their item of property </li>
<li>Property normally takes a minimum of two working days to arrive at the Lost Property Office </li>
<li>After two days, people can enquire about lost property in several ways: by calling 0845 330 9882 between 08.30 and 16.00, Monday to Friday (except Bank Holidays; by filling in the <a title="Online enquiry form" href="/tfl/contact/lostproperty/default.asp">online enquiry form</a>; by faxing 020 7918 1028;&nbsp;by writing or in person to: Lost Property Office,&nbsp;200 Baker Street,&nbsp;London&nbsp;NW1 5RZ </li>
<li>Positively identified lost property is returned to the owner (in person or by post) once a restoration fee, postage and (for property lost in taxis) a driver's award has been paid </li>
<li>Property not claimed after three months is either donated to charity (The Salvation Army or the British Red Cross) or sold at auction, with all revenue generated contributing towards the cost of running the Lost Property Office </li>
<li>Every Christmas, The Salvation Army collects thousands of presents across the nation via its Christmas Present Appeal for children, older people and the homeless who might have little or nothing on Christmas morning. Donated gifts are wrapped and distributed by The Salvation Army through its own networks, local groups, other charities, health visitors and social services. Last year, The Salvation Army collected and distributed more than 150,000 presents. For more information on The Salvation Army's Christmas Present Appeal (16 November to 14 December) please visit <a title="The Salvation Army" href="http://www.salvationarmy.org.uk/christmaspresent">The Salvation Army</a> website</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Lost Property Office handles items lost on the TfL network, including London Buses, London Underground, London Overground, Docklands Light Railway, licensed taxis or in Victoria Coach Station.The toys will appeal to children of all ages and range from";}
        
        


 