


@{ViewBag.Title = "Transport for London to licence youngest ever taxi driver";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London to licence youngest ever taxi driver</h1>
        <div class="content-page-press-release">
        12 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Nineteen-year-old steals title from his brother as he becomes the youngest person ever to pass the Knowledge.
        
    </div>



 <div class="on-this-page">
<p>Kevin MacLaren broke his older brother's record after completing and passing the Knowledge this month at Transport for London's (TfL's) Public Carriage Office.</p>
<p>Kevin is not legally allowed to be licensed as a taxi driver until he turns 21 so will have to wait until 11 November 2010 to be presented with his All-London 'green badge', allowing him to work throughout Greater London. </p>
<p>His brother Casey, who was the previous record holder, passed his Knowledge at the age of 20 and was licensed in March this year when he turned 21.</p>
<p>Kevin and Casey live in Putney with their parents, who are both taxi drivers.</p>
<p>On average, it takes three to four years to successfully pass the Knowledge and become an All-London taxi driver but Kevin completed his studies in less than two years.</p>
<p>Kevin MacLaren said: 'My brother took just over two years to complete the Knowledge and I would never have heard the end of it if I took longer.</p>
<p>'I've always wanted to be a cabbie - I like the flexibility of setting your own hours and being your own boss.'</p>
<p>TfL's Director of Taxi and Private Hire, Ed Thompson, said: 'It gives us so much pleasure to see young people choosing taxi driving as a career.</p>
<p>'We hope many continue to take on the challenge that is the Knowledge, getting to know London inside out to provide what we feel is the best taxi service in the world.</p>
<p>'I hope Kevin has a long and successful career ahead of him.'</p>
<p>Kevin currently plays football with his brother for Hendon FC and has been boxing since he was nine years old.</p>
<p>He also teaches two days a week at the Paddington Knowledge School.</p>
<p>To keep his Knowledge of London skills up-to-date, he regularly gets back on his Moped, but is looking forward to getting behind the wheel of a taxi as soon as he turns 21. </p>
<p>
<hr>
<strong>Notes to editors: 
<p>
<ul>
<li></li></ul></strong>Interviews with Kevin can be arranged through the TfL Press Office.&nbsp;Images are available on request 
<li>London's second youngest taxi driver is Kevin's brother, 21 year old Casey MacLaren. He was licensed in March 2008 and holds an All-London badge </li>
<li>The Public Carriage Office is part of TfL, charged with licensing taxi and private hire services in London </li>
<li>There are approximately 25,000 licensed taxi drivers in the Greater London area </li>
<li>To become a licensed taxi driver in the Capital, candidates must pass 'the Knowledge', proving they have an in-depth knowledge of the road network and places of interest in London </li>
<li>All-London drivers must know all the streets and places of interest within a six mile radius of Charing Cross. There are 320 runs which candidates need to memorise as well as places of interest and important landmarks on the routes.&nbsp;Suburban drivers must have a similarly detailed knowledge of a specified area in outer London<br></li>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Kevin MacLaren broke his older brother's record after completing and passing the Knowledge this month at Transport for London's (TfL's) Public Carriage Office.Kevin is not legally allowed to be licensed as a taxi driver until he turns 21 so will have to";}
        
        


 