


@{ViewBag.Title = "Transport for London announces new on-street parking facilities for coaches";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London announces new on-street parking facilities for coaches</h1>
        <div class="content-page-press-release">
        21 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has introduced a number of new, on-street parking facilities for the coach industry in the Capital.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We recognise the valuable contribution coaches make to London's economy and are keen to further improve the situation"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Brown</div>
            <div class="quotee-job-title">TfL's Managing Director of Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We recognise the valuable contribution coaches make to London's economy and are keen to further improve the situation
                            
                        </p>
                    </div>
                
            
            
            <p>Existing facilities have also been improved for the benefit of coach passengers.</p>
<p>TfL carried out a public consultation on coach parking facilities near tourist attractions, hotels and theatres on the TfL Road Network (TLRN).</p>
<p>Following that consultation, and in response to needs identified by the coach industry, three new dedicated bays have been introduced across London.</p>
<p>One of the bays is located in Bridge Place, just behind Victoria Station.</p>
<p>This bay provides a convenient set-down and pick-up point for passengers using this busy interchange.</p>
<h2>Tourism benefits</h2>
<p>The Tate Britain, a popular tourist destination, has benefited from new, dedicated coach facilities.</p>
<p>A new set down and pick up bay has been created on the west side of Millbank, close to the entrance of the Tate.</p>
<p>An additional parking bay facility has been introduced on the east side of Millbank, where coaches are now permitted to park free of charge for up to one hour.</p>
<h2>24-hour&nbsp;parking</h2>
<p>TfL has also been able to extend the operating hours (to 24 hours) of an existing loading bay in Buckingham Palace Road, just outside the Thistle Victoria Hotel.</p>
<p>A further existing coach parking facility in Park Lane, just outside The Grosvenor House Hotel, has been improved.</p>
<p>Coaches can now use the two vehicle bay any time, 24 hours a day, for a maximum of 20 minutes.</p>
<h2>Looking ahead</h2>
<p>TfL's Managing Director of Surface Transport, David Brown said: 'We are delighted to introduce these new on-street parking facilities which will benefit coach passengers visiting London.</p>
<p>'We recognise the valuable contribution coaches make to London's economy and are keen to further improve the situation for coaches in the Capital by working with key stakeholders such as the boroughs.</p>
<p>'We will also continue to work in partnership with the Confederation of Passenger Transport and the London Tourist Coach Operators Association in delivering further improvements for London.'</p>
<p>
<hr>

            <p><strong>Notes to editors:</strong></p>
<ul type="circle">
<li>Coaches make an important contribution to London's economy.&nbsp;There are over 3,000 coach movements in the Capital every day.&nbsp;One in three is on private hire / charter work bringing in visitors and tourists which pump over &pound;300 million into London's economy</li>
<li>Further information on coach parking facilities in London are contained in the London Coach Parking Map, which is jointly produced by TfL and the Confederation of Passenger Transport. The map is free and copies can be obtained by sending a request to <a href="mailto:coaches&#64;tfl.gov.uk">coaches&#64;tfl.gov.uk</a>. To complement the paper version of the map, an interactive <a title="Interactive coach parking map" href="http://www.tfl.gov.uk/coachparking">online version</a> on TfL's website&nbsp;provides up-to-the minute information as well as cost and opening hours of coach parks and bays, toilet facilities for drivers and places of interest, including West End theatres and major tourist attractions</li>
<li>TfL is directly responsible for the Transport for London Road Network (TLRN) otherwise knows as Red Routes - 580km of roads which make up&nbsp;five per cent of London's entire road network but carry 35 per cent of the city's traffic.&nbsp;Those routes must be kept clear to keep London moving, so there are limitations as to what on-street facilities, like parking bays, can be provided</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Existing facilities have also been improved for the benefit of coach passengers.TfL carried out a public consultation on coach parking facilities near tourist attractions, hotels and theatres on the TfL Road Network (TLRN).Following that consultation, and";}
        
        


 