


@{ViewBag.Title = "Transport for London to abolish mid-year inspections for taxis";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London to abolish mid-year inspections for taxis</h1>
        <div class="content-page-press-release">
        06 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Boris Johnson, has announced that Transport for London (TfL) will scrap the mid-year inspection for London taxis from today, Thursday 6 November 2008.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"By abolishing the mid-year inspections, the Public Carriage Office will be able to reduce the licence fee"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            By abolishing the mid-year inspections, the Public Carriage Office will be able to reduce the licence fee
                            
                        </p>
                    </div>
                
            
            
            <p>Following yesterday's TfL Board meeting Mayor Johnson, who chairs the Board, said: 'During my election campaign earlier this year, it became clear to me from conversations with cabbies that the mid-year inspections were a burden they could live without.</p> <p>'And our figures clearly show the inspections have not achieved their aims of raising standards or improving the pass rate for annual inspections.</p> <p>'By abolishing the mid-year inspections, the Public Carriage Office will be able to reduce the licence fee, meaning taxi owners will benefit from less administration and better value for money.'</p> <p>Since the introduction of mid-year inspections in April 2007, there has been no improvement in the first time pass rate for annual taxi inspections.</p> <p>Jeroen Weimar, Chief Operating Officer of TfL's Surface Transport, said: 'London's taxi and private hire trades already have an excellent reputation for safety and quality of service, and we are determined to see them maintain that reputation.</p> <p>'It's our job to ensure they are safe and fit for public use at all times.</p> <p>'We are looking at whether increasing the number of on-street taxi inspections could bring about an improvement in standards in the taxi trade while still providing value for money.'</p> <p>Taxi owners with an appointment for a mid-year inspection on or after 6 November are not required to keep that appointment.</p> <p>However, any taxi that failed a mid-year inspection prior to 6 November must pass a re-test before returning into service.</p> <p>The annual licence fee for taxis will be adjusted to reflect the abolition of the mid-year inspection and any potential increase in on-street checks.</p> <p>Once the new licence fee has been set, taxi owners who had already renewed their annual licence but not yet had their mid-year vehicle inspection will receive a refund.</p> <p>The inspection regime for the private hire trade will remain unchanged, and any vehicle older than 12 months at the date of the annual licensing inspection must continue to have a mid-year MoT test. </p> <p><strong> <hr> Notes to editors:</strong>  <ul> <li>The&nbsp;PCO, part of&nbsp; TfL, is responsible for licensing and regulating London's taxi and private hire services  </li><li>The PCO launched a public consultation on 1 August 2008 on taxi and private hire licensing inspections in London.&nbsp;Organisations representing London's travelling public and businesses, local authorities and the taxi and private hire industries had until Friday 24 October to submit their views on licensing arrangements  </li><li>The full consultation document (Consultation on Future Arrangements for Taxi and Private Hire Vehicle (PHV) Licensing Inspections) can be found on the TfL website at <a href="http://www.tfl.gov.uk/pco">tfl.gov.uk/pco</a>  </li><li>Licence fees cannot be used to raise revenue or make a profit - they can only be set to cover the costs incurred by each licence group. The licence fee for taxis is currently &pound;178 and &pound;109 for private hire vehicles. The difference in licence fees is due to the different licensing inspection requirements  </li><li>TfL introduced mid-year inspections for taxis in October 2007 (i.e. in the licensing year which began in April 2007).&nbsp;Taxis are exempt from an MoT test as they have been required for many years to undergo an annual licensing examination that includes a full mechanical inspection  </li><li>Private hire operator licensing was introduced from January 2001, followed by driver licensing from April 2003.&nbsp;Vehicle licensing was introduced in April 2004  </li><li>There are almost 22,000 licensed taxis and almost 25,000 licensed taxi drivers  </li><li>There are now almost 2,500 licensed private hire operators, almost 53,000 licensed private hire drivers, and some 48,500 licensed private hire vehicles in London</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Following yesterday's TfL Board meeting Mayor Johnson, who chairs the Board, said: 'During my election campaign earlier this year, it became clear to me from conversations with cabbies that the mid-year inspections were a burden they could live without.";}
        
        


 