


@{ViewBag.Title = "Western extension: Londoners have spoken and the Mayor has listened";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Western extension: Londoners have spoken and the Mayor has listened</h1>
        <div class="content-page-press-release">
        27 November 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originaly issued by the Greater London Authority (GLA).
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Londoners must be able to get around our city without undue delay"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Londoners must be able to get around our city without undue delay
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London, Boris Johnson, has announced that the results of a public consultation on the western extension mean he will begin the legal processes required to remove the Western Extension of the Congestion Charging zone.</p>
<p>Over two thirds of Londoners and businesses responding to the consultation on the future of the zone have said they want it scrapped.</p>
<p>The Mayor promised to be accountable and to follow the democratic will of Londoners, and abiding by the results of a consultation was a key manifesto pledge after the zone was introduced under the previous administration in spite of massive local opposition.&nbsp; </p>
<p>The five-week informal public consultation attracted nearly 28,000 responses and overall 67 per cent of individual respondents and 86 per cent of businesses responding to the public consultation supported the removal of the zone.</p>
<h2>Consultations</h2>
<p>Nineteen per cent stated that they wanted the extension kept as it is, and 12 per cent supported changing the scheme to improve the way that it operates.</p>
<p>The Mayor of London, Boris Johnson, said: 'During the election I promised Londoners a genuine consultation on the future of the extension.</p>
<p>'I promised that I would respect their opinions and I promised that if clear support for a particular way forward emerged then I would act on that opinion.</p>
<p>'Londoners have spoken loud and clear, and the majority of people have said that that they would like the scheme scrapped.</p>
<h2>Easing congestion</h2>
<p>'As a Mayor that keeps his promises I am instructing Transport for London to begin work on the process of a formal consultation on the removal of the Western Extension.</p>
<p>'One thing every body should be assured of is my determination to make it easier for Londoners to get around our great city</p>
<p>'Transport for London is working on a series of measures aimed at easing congestion and smoothing traffic flow, which include rephasing traffic signals and cracking down hard on the chaos caused by badly-planned road works.</p>
<p>'They are also setting up a task force with external experts to review further ways in which traffic flows can be smoothed.</p>
<h2>Getting around London</h2>
<p>'Londoners must be able to get around our city without undue delay.</p>
<p>'I am committed to helping them do this as quickly, safely and cheaply as possible.'</p>
<p>Alongside the consultation, Transport for London (TfL) conducted a survey of the attitudes of 2,000 Londoners and 1,000 London-based businesses to gauge how representative the consultation responses were.</p>
<p>Removing the Western Extension was the preferred option of 41 per cent of members of the public against 30 per cent in favour of keeping it.</p>
<h2>Public opinion</h2>
<p>Half of businesses surveyed wanted the extension scrapped and 23 per cent supported keeping it.</p>
<p>Fifteen per cent of members of the public and 14 per cent of businesses said they would change the way the scheme operates.</p>
<p>A quarter of stakeholders supported the removal of the Western Extension.</p>
<p>Around half were in favour of keeping the scheme although some made their support conditional on other changes.</p>
<h2>Removing the scheme</h2>
<p>A third supported changing the way that the scheme operates.</p>
<p>A draft revision to the Mayor's Transport Strategy reflecting his intention to remove the Western Extension will be the subject of a 12-week statutory public and stakeholder consultation scheduled for summer 2009.</p>
<p>Following this, TfL would also need to consult the public and stakeholders on a variation to the Congestion Charging Scheme Order to formally remove the Western Extension.</p>
<p>The Western Extension cannot be removed until these statutory consultation procedures have been concluded and the Mayor has taken into account the views expressed in the consultations and decided whether or not to confirm his decision.</p>
<p>The earliest that the extension could be removed is spring 2010.</p>
<p>
<hr>
<strong>Notes to editors: 
<p>
<ul>
<li></li></ul></strong>The Congestion Charge was introduced on 17 February 2003 and the Western Extension was launched on 19 February 2007. The charge was originally &pound;5 and rose to &pound;8 in July 2005 
<li>The five-week informal non-statutory public consultation on the Western Extension started on Monday 1 September and ran until Sunday 5 October 2008. TfL's Report to the Mayor contains a full analysis of the results of the public consultation and attitudinal survey and is available from the Mayor's press office </li>
<li>Although TfL estimates that traffic returning to the Western Extension would result in a small increase in emissions of air pollutants and carbon dioxide, this increase would be unlikely to have any material effect on measured air quality within the Western Extension or on the boundary route because of the number of different factors that affect local air quality. The ongoing investment in technology such as hybrid and hydrogen buses, encouraging the uptake of low-carbon vehicles and fuels, and reducing power consumption on the Underground and Overground are all helping us to tackle transport related emissions across the Capital </li>
<li>London's poor air quality is being tackled by a number of initiatives including the Low Emission Zone, which was introduced in February 2008. In addition, the original Congestion Charging scheme will continue to seek to encourage those who drive in central London to choose less-polluting vehicles through the 100 per cent discount for electric and certain alternative fuel vehicles </li>
<li>TfL is working with the Mayor on a range of measures to ease traffic flow, including: 
<ul>
<li>Re-phasing of traffic signals to get traffic flowing more smoothly, without significant prejudice to the needs of pedestrians and vulnerable road users </li>
<li>Motorcycles will be allowed in the majority of TfL-controlled bus lanes from 5 January 2009. Motorcyclists will be able to share red route bus lanes with buses, cyclists and licensed black taxis on a trial basis for 18 months </li>
<li>Work with Thames Water focused on reducing the impact of the works they need to do to repair and replace the miles of Victorian water mains in the Capital. TfL is now working closely with them on the use of steel plating to cover excavations when work is not in progress and a joint project team has been formed to work on its implementation </li>
<li>TfL and 14 of the London boroughs are in the process of introducing a new London-wide permit scheme which will allow works across the Capital to be properly co-ordinated for the first time </li>
<li>TfL has invited companies interested in running a cycle hire scheme to get in touch. From May 2010 people will be able to pick up and drop off hire bikes at 400 locations across London's Zone&nbsp;1 travel area </li>
<li>The London Traffic Control Centre and the MPS TOCU (Traffic Operations Control Unit) Roads Response Team work together to respond to and reduce the duration of unplanned congestion in real time. Following the TOCU 5 year review this year, a new and improved team is being created called the Road Response Team to help keep London moving safely and smooth traffic flow by more efficiently removing obstructions that cause congestion on the TRLN </li>
<li>TfL is setting up a task force with external experts to review further ways in which traffic flows can be smoothed</li></ul></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Boris Johnson, has announced that the results of a public consultation on the western extension mean he will begin the legal processes required to remove the Western Extension of the Congestion Charging zone.Over two thirds of";}
        
        


 