
    
  



@{ViewBag.Title = "Women in transport profiles";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/campaign/women-in-transport/women-in-transport-profiles";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
                 <li><a href="/campaign/women-in-transport">Women at TfL</a></li>
                
            
            
                <li><span class="last-breadcrumb">Women in transport profiles</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Women in transport profiles</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Celebrating some of the women who work in the transport industry today.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Planning</h2>
</div>
 
<div class="module-grid clearfix">

<div>




<h3>Janette Bowes</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/janette-bowes-yowit-profile.pdf">
    <div class="document-download-text">
        <p>Find out more about Janette's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 195KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/janette-bowes-yowit.jpg" alt="Yowit Janette Bowes" />
    </div>

</a>

<!-- 0.19 -->
 
</div>
<p><strong>Programme manager, TfL</strong><br />
Since joining us in 1983, Janette has worked in eight different roles across the business. She now works in Customer Experience as a programme manager.</p>
</div>
 
<div>




<h3>Claudia Corrigan
</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/claudia-corrigan-profile.pdf">
    <div class="document-download-text">
        <p>Find out more about Claudia's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 133KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/claudia-corrigan-yowit.jpg" alt="Yowit Claudia Corrigan" />
    </div>

</a>

<!-- 0.13 -->
 
</div>
<p><strong>Principal strategy planner, TfL</strong><br />
Claudia has been with us for five years and has been in the cycling strategy team for nearly two years.</p>
</div>
 
<div>




<h3>Michele Dix </h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/wit-michele-dix.pdf">
    <div class="document-download-text">
        <p>Find out more about Michele's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 24KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/michele-dix-yowit-profile.jpg" alt="Yowit Michele Dix" />
    </div>

</a>

<!-- 0.02 -->
 
</div>
<p><strong>Managing director, Crossrail 2</strong><br />
Michele was recognised with a CBE in the 2015 New Year's Honours list. </p>
</div>
 
<div>




<h3>Lilli Matson </h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/wit-lili-mason-profile.pdf">
    <div class="document-download-text">
        <p>Find out more about Lilli's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 150KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/wit-lili-matson.jpg" alt="WiT Lilli Matson planning" />
    </div>

</a>

<!-- 0.15 -->
 
</div>
<p><strong>Head of strategy and outcome planning<br />
</strong>Lilli's team works with all areas of TfL to help set the strategic direction for Surface Transport's operations and investment. </p>
</div>
 
<div>




<h3>Nazir Moya </h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/wit-nazir-moya-profile.pdf">
    <div class="document-download-text">
        <p>Find out more about Nazir's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 218KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/wit-nazir-moya.jpg" alt="WiT Nazir Moya image" />
    </div>

</a>

<!-- 0.21 -->
 
</div>
<p><strong>Business operations manager, Transport Planning<br />
</strong>Nazir is involved in a number of areas, including recruitment, accommodation moves, finance, procurement and coaching. </p>
</div>
 
</div>
 <div>

<h2>Project Management</h2>
</div>
 
<div class="module-grid clearfix">

<div>




<h3>Christine Fitzgerald</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/wit-christine-fitzgerald-profile.pdf">
    <div class="document-download-text">
        <p>Find out more about Christine's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 174KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/wit-christine-f.jpg" alt="WiT Christine Fitzgerald" />
    </div>

</a>

<!-- 0.17 -->
 
</div>
<p><strong>Education and training project manager, TfL<br />
</strong>Christine's role focuses on road safety and active travel for pre-school and post-16 young people in education. </p>
</div>
 
<div>




<h3>Sylvie Glossop</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/wit-sylvie-glossop-profile.pdf">
    <div class="document-download-text">
        <p>Find out more about Sylvie's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 174KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/wit-sylvie-glossop.jpg" alt="WiT Sylvie Glossop" />
    </div>

</a>

<!-- 0.17 -->
 
</div>
<p><strong>Assistant project manager, TfL<br />
</strong>Sylvie has been lucky to work on a wide range of interesting and high-profile projects, such as the Tour de France.</p>
</div>
 
<div>




<h3>Helena Moretti </h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/wit-helena-moretti-profile.pdf">
    <div class="document-download-text">
        <p>Find out more about Helena's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 202KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/wit-helena-moretti.jpg" alt="WiT Helena Moretti" />
    </div>

</a>

<!-- 0.20 -->
 
</div>
<p><strong>Project management graduate, TfL<br />
</strong>Helena loves the flexibility her graduate scheme gives her to move around the business and get involved with a variety of projects.</p>
</div>
 
</div>
 <div>

<h2> Engineering</h2>
</div>
 
<div class="module-grid clearfix">

<div>




<h3>Nisrine Chartouney</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/yowit-profile-nisrine-chartouny.pdf">
    <div class="document-download-text">
        <p>Find out more about Nisrine's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 180KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/nisrine-yowit-profile.jpg" alt="Nisrine Chartouney Yowit profile" />
    </div>

</a>

<!-- 0.18 -->
 
</div>
<p><strong>Civil engineer, Bechtel</strong><br />
Nine years ago, Nisrine started working in transport as a field engineer on a highway in Texas. Since then, she has supported the construction of a major motorway in Romania and now works at Crossrail. </p>
</div>
 
<div>




<h3>&nbsp;Zoe Dobell</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/zoe-dobell-profile.pdf">
    <div class="document-download-text">
        <p>Find out more about Zoe's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 160KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/zoe-dobell-yowit.jpg" alt="Zoe Dobell's Yowit profile" />
    </div>

</a>

<!-- 0.16 -->
 
</div>
<p><strong>Project engineer, TfL</strong><br />
Zoe is a project engineer in the Bakerloo, Central, and Victoria line Upgrades team.</p>
</div>
 
<div>




<h3>Priya Floyd </h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/wit-profile-priya-floyd.pdf">
    <div class="document-download-text">
        <p>Find out more about Priya's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 187KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/wit-priya-floyd.jpg" alt="Wit Priya Floyd" />
    </div>

</a>

<!-- 0.18 -->
 
</div>
<p><strong>Principal network impact assessment engineer<br />
</strong>Priya assesses the impact of proposals on the road network and its users. She also develops strategies for minimising these impacts. </p>
</div>
 
<div>




<h3>&nbsp;Helena Garrick</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/helena-garrick-profile.pdf">
    <div class="document-download-text">
        <p>Find out more about Helena's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 209KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/helena-garrick-yowit.jpg" alt="Helena Garrick Yowit profile" />
    </div>

</a>

<!-- 0.20 -->
 
</div>
<p><strong>Lead design engineer, TfL</strong><br />
Helena Garrick is a lead design engineer for outcomes design engineering and oversees the Bus Priority Programme.</p>
</div>
 
<div>




<h3>&nbsp;Felicity Luckett</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/felicity-luckett-profile.pdf">
    <div class="document-download-text">
        <p>Find out more about Felicity's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 131KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/felicity-luckett-yowit-prof.jpg" alt="Felicity Luckett Yowit profile" />
    </div>

</a>

<!-- 0.13 -->
 
</div>
<p><strong>Team leader, TfL</strong><br />
Felicity joined us on the traffic signal engineers scheme nine years ago. She now works as a team leader in Traffic Operations.</p>
</div>
 
<div>




<h3>&nbsp;Dima Nasr</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/yowit-profiles-dima-dasr.pdf">
    <div class="document-download-text">
        <p>Find out more about Dima's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 124KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/dima-nasr-howit-profile.jpg" alt="Dima Nasr Yowit profile" />
    </div>

</a>

<!-- 0.12 -->
 
</div>
<p><strong>Aeronautical engineering instructor, Balamand Institute of Aeronautics</strong><br />
Dima teaches a number of topics but Gas Turbine Engines - Theory and Application is her most frequent teaching topic.</p>
</div>
 
<div>




<h3>Rand Watkins </h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/yowit-profile-rand-watkins.pdf">
    <div class="document-download-text">
        <p>Find out more about Rand's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 218KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/wit-randwatkins.jpg" alt="WiT Rand Watkins" />
    </div>

</a>

<!-- 0.21 -->
 
</div>
<p><strong>Lead project engineer/ lead tunnel engineer<br />
</strong>Rand's career as an engineer has led her to work in Singapore, Dubai and Qatar. </p>
</div>
 
</div>
 <div>

<h2> Delivery</h2>
</div>
 
<div class="module-grid clearfix">

<div>




<h3>Katherine Abraham</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/katherine-abraham-profile.pdf">
    <div class="document-download-text">
        <p>Find out more about Katherine's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 131KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/katherine-abraham.jpg" alt="Yowit16 - Katherine Abraham" />
    </div>

</a>

<!-- 0.13 -->
 
</div>
<p><strong>Portfolio sponsor, TfL</strong><br />
Katherine joined us 13 years ago as a trainee on the civil engineering graduate scheme. Following maternity leave, she was promoted to senior programme sponsor.</p>
</div>
 
<div>




<h3>Jane Commons </h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/wit-jane-commons-profile.pdf">
    <div class="document-download-text">
        <p>Find out more about Jane's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 181KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/wit-jane-commons.jpg" alt="WiT Jane Commons image" />
    </div>

</a>

<!-- 0.18 -->
 
</div>
<p><strong>Business development manager, London River Services, TfL<br />
</strong>Jane's team is focused on hitting the mayoral target of 12 million yearly river passengers by 2020. </p>
</div>
 
<div>




<h3>Stella Gardiner </h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/wit-stella-gardiner.pdf">
    <div class="document-download-text">
        <p>Find out more about Stella's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 228KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/wit-stella-gardiner.jpg" alt="WiT Stella Gardiner image" />
    </div>

</a>

<!-- 0.22 -->
 
</div>
<p><strong>Environmental advisor, TfL<br />
</strong>Stella enjoys her role which helps to protect the variety of wildlife alongside railway areas. </p>
</div>
 
<div>




<h3>&nbsp;Allie MacAdam</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/yowit-profile-ailie-macadam.pdf">
    <div class="document-download-text">
        <p>Find out more about Allie's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 254KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/allie-macadam-yowit-profile.jpg" alt="Allie MacAdam" />
    </div>

</a>

<!-- 0.25 -->
 
</div>
<p><strong>Managing director - Infrastructure, Bechtel (Europe and Africa)</strong><br />
Allie started as a project manager on the Central Artery highway in Boston, US. After working on London's St Pancras station refurbishment, she now manages Bechtel's infrastructure business in Europe and Africa.</p>
</div>
 
<div>




<h3>Sarah Turnbull </h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/wit-sarah-turnbull.pdf">
    <div class="document-download-text">
        <p>Find out more about Sarah's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 198KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/wit-sarah-turnbull.jpg" alt="WiT Sarah Turnbull image" />
    </div>

</a>

<!-- 0.19 -->
 
</div>
<p><strong>Acting portfolio sponsor<br />
</strong>Sarah is responsible for the delivery of the Mayor's flagship cycle route, the East-West Cycle Superhighway.</p>
</div>
 
</div>
 <div>


</div>
 <div>

<h2>Operations </h2>
</div>
 
<div class="module-grid clearfix">

<div>




<h3>Alero Abbey</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/wit-alero-abbey-profile.pdf">
    <div class="document-download-text">
        <p>Find out more about Alero's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 168KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/wit-abbey-alero.jpg" alt="WiT Alero Abbey image" />
    </div>

</a>

<!-- 0.16 -->
 
</div>
<p><strong>Area manager, TfL<br />
</strong>Alero loves the versatility of her role and being able to influence what is created at stations. </p>
</div>
 
<div>




<h3>Helen Aska</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/yowit-helen-aska.pdf">
    <div class="document-download-text">
        <p>Find out more about Helen's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 173KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/helen-aska-yowit-profile.jpg" alt="Helen Aska Yowit profile" />
    </div>

</a>

<!-- 0.17 -->
 
</div>
<p><strong>Tower Transit, operations manager<br />
</strong>Helen is responsible for Westbourne Park garage operations and its 245 bus drivers, controllers, managers and admin staff.</p>
</div>
 
<div>




<h3>&nbsp;Susan Bates</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/yowit-susan-bates.pdf">
    <div class="document-download-text">
        <p>Find out more about Susan's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 132KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/sue-bates-yowit-profile.jpg" alt="Susan Bates Yowit profile" />
    </div>

</a>

<!-- 0.13 -->
 
</div>
<p><strong>Staff manager, Tower Transit<br />
</strong>Formerly an accountant for the MoD in Germany, Susan changed career to become a bus driver. She now manages 245 bus drivers at Westbourne Park bus depot.</p>
</div>
 
<div>




<h3>Jacky Carter</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/jacky-carter-profile.pdf">
    <div class="document-download-text">
        <p>Find out more about Jacky's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 214KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/jackie-carter-yowit.jpg" alt="Jacky Carter Yowit profile" />
    </div>

</a>

<!-- 0.21 -->
 
</div>
<p><strong>TfL network duty manager</strong><br />
Jacky has worked in the control centre for London Buses, CentreComm, since 2003. She joined us in 1978 as a bus driver after leaving the army.</p>
</div>
 
<div>




<h3>&nbsp;Donna Clarke</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/donna-clarke-profile.pdf">
    <div class="document-download-text">
        <p>Find out more about Donna's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 140KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/donna-clarke-yowit.jpg" alt="Donna Clarke Yowit profile" />
    </div>

</a>

<!-- 0.14 -->
 
</div>
<p><strong>TfL track access controller</strong><br />
Donna joined London Underground 15 years ago as a station assistant and has worked as a track access controller for the past 11 years. </p>
</div>
 
<div>




<h3>Florentina Cristea </h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/florentina-cristea-profile.pdf">
    <div class="document-download-text">
        <p>Find out more about Florentina's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 158KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/florentina-cristea-yowit.jpg" alt="Florentina Cristea Yowit profile" />
    </div>

</a>

<!-- 0.15 -->
 
</div>
<p><strong>Customer service assistant (CSA), TfL<br />
</strong>Florentina is a CSA on the London Underground. She fulfilled her childhood dream when she started work at Bank Monument station two years ago.</p>
</div>
 
<div>




<h3>Sharon Davidson </h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/wit-sharon-davidson-profile.pdf">
    <div class="document-download-text">
        <p>Find out more about Sharon's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 182KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/wit-sharon-davidson.jpg" alt="WiT Sharon Davidson image" />
    </div>

</a>

<!-- 0.18 -->
 
</div>
<p><strong>Bus driver, London United<br />
</strong>Sharon's job is perfect for her because she enjoys driving and likes working with people. </p>
</div>
 
<div>




<h3>Siwan Hayward </h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/wit-siwan-hayward-profile.pdf">
    <div class="document-download-text">
        <p>Find out more about Siwan's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 162KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/wit-siwan4.jpg" alt="WiT Siwan Hayward image" />
    </div>

</a>

<!-- 0.16 -->
 
</div>
<p><strong>Deputy director, Enforcement and On-Street Operations, TfL<br />
</strong>Siwan's team work in partnership with the Metropolitan Police and the British Transport Police to make travelling in London safer.</p>
</div>
 
<div>




<h3>&nbsp;Susan Jackman</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/women-in-transport-profile-susan-jackman.pdf">
    <div class="document-download-text">
        <p>Find out more about Susan's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 233KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/susan-jackman-yowit-profile.jpg" alt="Susan Jackman Yowit profile" />
    </div>

</a>

<!-- 0.23 -->
 
</div>
<p><strong>Volunteering manager, TfL</strong><br />
Susan manages our travel ambassadors and helps to keep London moving during service disruption and busy events.</p>
</div>
 
<div>




<h3>Anne Maningas </h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/wit-anne-maningas-profile.pdf">
    <div class="document-download-text">
        <p>Find out more about Anne's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 174KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/wit-anne.jpg" alt="WiT Anne Maningas image" />
    </div>

</a>

<!-- 0.17 -->
 
</div>
<p><strong>Train operator, TfL<br />
</strong>After joining London Underground as a customer service assistant in 2007, Anne qualified as a train operator in 2011. </p>
</div>
 
<div>




<h3>&nbsp;Sarah O'Brien</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/sarah-obrien-profile.pdf">
    <div class="document-download-text">
        <p>Find out more about Sarah's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 172KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/sarah-obrien-yowit.jpg" alt="Sarah O'Brien Yowit profile" />
    </div>

</a>

<!-- 0.17 -->
 
</div>
<p><strong>Network operations manager, TfL<br />
</strong>Sarah joined London Underground in 1997. She now works as a duty network operations manager.</p>
</div>
 
<div>




<h3>Lynn Rippelmeyer </h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/yowit-profiles-lynn-rippelmeyer.pdf">
    <div class="document-download-text">
        <p>Find out more about Lynn's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 145KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/lynn-rippelmeyer-yowit-prof.jpg" alt="Lynn Rippelmeyer Yowit profile" />
    </div>

</a>

<!-- 0.14 -->
 
</div>
<p><strong>Retired pilot and first woman to fly a Boeing 747 across the Atlantic</strong><br />
Lynn loved working in transport because of the people, the camaraderie, freedom, and travel. </p>
</div>
 
<div>




<h3>Mary Sithole</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/mary-sithole-profile.pdf">
    <div class="document-download-text">
        <p>Find out more about Mary's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 207KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/mary-sithoule-yowit-profile.jpg" alt="Mary Sithole Yowit profile" />
    </div>

</a>

<!-- 0.20 -->
 
</div>
<p><strong>National Express customer services assistant</strong><br />
Mary's role involves delivering excellent customer service and improving the customer's experience.</p>
</div>
 
<div>




<h3>&nbsp;Aisha Tague</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/aisha-tague-profile.pdf">
    <div class="document-download-text">
        <p>Find out more about Aisha's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 140KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/aisha-yowit.jpg" alt="Aisha Tague Yowit profile" />
    </div>

</a>

<!-- 0.14 -->
 
</div>
<p><strong>TfL area station manager</strong><br />
Aisha joined London Underground 11 years. She as been a customer service assistant, a duty station manager and is now an area station manager. </p>
</div>
 
</div>
 <div>

<h2> Corporate</h2>
</div>
 
<div class="module-grid clearfix">

<div>




<h3> Emily Herreras Griffiths</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/wit-emily-hg.pdf">
    <div class="document-download-text">
        <p>Find out more about Emily's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 186KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/wit-emily-hg.jpg" alt="WiT Emily Herreras Griffiths" />
    </div>

</a>

<div>
<p><strong>Events communication lead, TfL</strong><br />
Emily works with colleagues across TfL to gather and coordinate information about events which may cause disruption in London.</p>
</div>

<!-- 0.18 -->
 
</div>

</div>
 
<div>




<h3>Julie Dixon</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/julie-dixon-profile.pdf">
    <div class="document-download-text">
        <p>Find out more about Juliie's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 143KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/julie-dixon-yowit.jpg" alt="Yowit Julie Dixon thumbnail" />
    </div>

</a>

<!-- 0.14 -->
 
</div>
<p><strong>TfL, Head of Marketing Services</strong><br />
Since joining TfL in 2007, Julie has coordinated Poppy Day across the network, ensuring that all vehicles display poppies while making the message as far reaching as possible.</p>
</div>
 
<div>




<h3>Wendy Neville </h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/wendy-neville-profile.pdf">
    <div class="document-download-text">
        <p>Find out more about Wendy's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 203KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/wendy-neville-yowit-profile.jpg" alt="Wendy Neville Yowit profile" />
    </div>

</a>

<!-- 0.20 -->
 
</div>
<p><strong>Head of Communications and Marketing - London Transport Museum</strong><br />
Wendy manages the museum's marketing activity, including press, online and social media, and corporate venue hire.</p>
</div>
 
<div>




<h3>Hannah Steele </h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/hannah-steele-profile.pdf">
    <div class="document-download-text">
        <p>Find out more about Hannah's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 162KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/hannah-steele-yowit-profile.jpg" alt="Hannah Steel Yowit profile" />
    </div>

</a>

<!-- 0.16 -->
 
</div>
<p><strong>Apprentice - London Transport Museum Battle Bus learning programme</strong><br />
Hannah's role involves engaging young people with London's social history and its transport.</p>
</div>
 
<div>




<h3>Chantal Thorpe</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/chantal-thorpe-wit-profile.pdf">
    <div class="document-download-text">
        <p>Find out more about Chantal's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 358KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/chantel-yowit.jpg" alt="Chantal Thorpe Yowit thumbnail" />
    </div>

</a>

<!-- 0.35 -->
 
</div>
<p><strong>TfL Knowledge &amp; Engagement officer</strong><br />
Chantel started as a customer service agent for the Oyster Card helpline in 2007. She is  now a Knowledge &amp; Engagement officer in contact centre operations.</p>
</div>
 
<div>




<h3>Chelcie Whitmore </h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/chelcie-whitmore-profile.pdf">
    <div class="document-download-text">
        <p>Find out more about Chelcie's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 101KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/chelcie-whitmore-yowit.jpg" alt="Yowit Chelcie Whitmore thumbnail" />
    </div>

</a>

<!-- 0.10 -->
 
</div>
<p><strong>TfL graduate</strong><br />
Chelcie joined our graduate scheme in 2013 and is currently working in Employee Communications and Engagement.</p>
</div>
 
</div>
 <div>

<h2> Technology</h2>
</div>
 
<div class="module-grid clearfix">

<div>




<h3>Lauren Sager Weinstein </h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/lauren-sager-weinsten-yowit-profile.pdf">
    <div class="document-download-text">
        <p>Find out more about Lauren's career</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 213KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/lauren-s-w-yowit.jpg" alt="Lauren Sager-Weinstein YOWIT" />
    </div>

</a>

<!-- 0.21 -->
 
</div>
<p><strong>TfL Head of Analytics</strong><br />
Lauren has been with us since 2002 and has been Head of Analytics in Customer Experience since 2011.</p>
</div>
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/women-in-transport" class="plain-button">Women in transport history</a>
    </div>
</div>
 <div class="related-links">

    <h3>Women in Transport partners </h3>

<div class="vertical-button-container">

<a href="http://www.crossrail.co.uk/" class="plain-button">Crossrail</a>
<a href="http://www.networkrail.co.uk/" class="plain-button">Network Rail</a>
<a href="https://www.gov.uk/government/organisations/department-for-transport" class="plain-button">Department for Transport</a>
<a href="http://www.wes.org.uk/" class="plain-button">WES</a>
<a href="https://www.wtsinternational.org/" class="plain-button">WTS</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Celebrating some of the women who work in the transport industry today.";}
        
            
        


 