
    
  



@{ViewBag.Title = "Busking";}
@{ViewBag.Keywords = "Public,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/culture-and-heritage/busking";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage">Culture & heritage</a></li>
                
            
            
                <li><span class="last-breadcrumb">Busking</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Busking</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The London Underground (LU) Busking Scheme is a hit with performers and the travelling public. Passengers enjoy more than 100,000 hours of live music, performed every year by professional, talented buskers. 
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>Licensed buskers have a unique audience of around 3.5 million Tube passengers every day.</p>

<p>Many passengers show their appreciation by dropping a few coins in the hat, knowing that the buskers are licensed and legitimate because they perform on one of our branded pitches.</p>

<p>The scheme has attracted international media interest and some buskers are regularly booked for events and recording sessions; some have even gone on to perform in front of royalty or work with established musicians ranging from Simply Red to principals of the English National Opera.</p>

<p>The lure of performing on the Tube has also attracted some big names: Ed Sheeran, Jessie J, Bob Geldof and Katherine Jenkins have all played on the Underground's stage.</p>

<h2>Get involved - busk</h2>

<p>Want to perform on London's Underground? We have a limited number of licences and a huge interest in joining the scheme.</p>

<p>For the first time, we have held auditions as part of the 'Busk in London' initiative, which gives buskers keen to perform on the London Underground the chance to win busking licenses for later on this year. The auditions took place in front of a panel of music industry experts in public locations around the Capital, with entrants being judged on their originality, technique and performance.</p>

<p>In conjunction with Busk in London, there is also the Mayor of London's Gigs busking competition being held for musicians aged 11-25.</p>

<p>Find out more about&nbsp;Busk in London, gigs and busking in the capital at&nbsp;<a href="http://www.buskinlondon.com">www.buskinlondon.com</a>.</p>

<h2>Sponsor</h2>

<p>The busking scheme has up to 39 pitches across 25 central London stations which are clearly defined by a semi-circular floor graphic and a backdrop advert on the wall.</p>

<p>These are highly visible and attract attention because of the professional musicians performing on them every day.</p>

<p>A sponsor is able to brand the pitches within our guidelines and will benefit from additional joint publicity, special events and other opportunities during the sponsorship period. Past sponsors have included Carling, Capital FM and Coca Cola.</p>

<p>For full details of this offer, contact the busking scheme by email: <a href="mailto:busking&#64;tube.tfl.gov.uk">busking&#64;tube.tfl.gov.uk</a>.</p>

<h2>Consider the opportunities</h2>

<p>The busking scheme has branched out beyond the confines of the Tube and we can help you make a connection with the buskers.</p>

<p>Whether you're looking for an entertainer for your event or exhibition, want to advertise in the newsletter we send out to our buskers, or want support with managing your own scheme, we can help.</p>

<p>Get in touch on 0343 222 1234 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>) or via email to <a href="mailto:busking&#64;tube.tfl.gov.uk">busking&#64;tube.tfl.gov.uk</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact the busking scheme</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:busking&#64;tube.tfl.gov.uk">busking&#64;tube.tfl.gov.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                <abbr title="Telephone number">Phone</abbr>: 0343 222 1234<br />
                
                
                
                
                
                
            </p>
            
         
        (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)<br />
         
    
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            
        </div>
        
        
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.hmrs.org.uk/index.php" class="plain-button">HMRS Online</a>
<a href="http://www.nationalarchives.gov.uk/" class="plain-button">The National Archives</a>
<a href="https://www.cityoflondon.gov.uk/things-to-do/london-metropolitan-archives/Pages/default.aspx" class="plain-button">London Metropolitan Archives</a>
<a href="http://www.ltmuseum.co.uk/" class="plain-button">London Transport Museum</a>
<a href="http://www.nrm.org.uk/researchandarchive" class="plain-button">National Railway Museum Archives</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How to get a licence to busk at a TfL station";}
        
            
        


 