
    
  


<!-- rhroot -->
@{ViewBag.Title = "London's transport - a history";}
@{ViewBag.Keywords = "Public,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/culture-and-heritage/londons-transport-a-history";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  <div class="section-image-container medium-large" data-highlight-image="/cdn/static/cms/images/promos/london-transport-section-image.jpg" data-highlight-for=".section-image-container" data-highlight-size="medium-large" style="background-image: url(/cdn/static/cms/images/promos/london-transport-section-image.jpg)"> </div>

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage">Culture & heritage</a></li>
                
            
            
                <li><span class="last-breadcrumb">London's transport - a history</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">London's transport - a history</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                
        From the Tube to buses, trams and riverboats, the history of transport in London is an interesting and varied one.
    
                </div>
            </div>
        
         
        
        
        
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div>

<div class="news-teaser tube">

    <a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-underground?intcmp=2777" >
        
        
        <div class="text-link">
             <h2>London Underground</h2>
            <p>Find out about the histories of the Tube lines running across our network</p>
        </div>
    </a>
</div>
 
 <div class="vertical-button-container">



<a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-buses"  class="plain-button">London buses</a>


<a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/coaches"  class="plain-button">Coaches</a>


<a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/trams"  class="plain-button">Trams</a>

</div>

</div>
 <div>

<div class="news-teaser river">

    <a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/river?intcmp=16444" >
        
        
        <div class="text-link">
             <h2>River</h2>
            <p>The Thames has played an important part in transport history</p>
        </div>
    </a>
</div>
 
 <div class="vertical-button-container">



<a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-overground"  class="plain-button">Overground</a>


<a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/dlr"  class="plain-button">Docklands Light Railway (DLR)</a>

</div>

</div>
 
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history" class="heading">
                    <h2 id="sub-menu-heading">London's transport - a history<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/women-in-transport">Women in transport</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-buses">London buses</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-underground">London Underground</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-overground">London Overground</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/coaches">Coaches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/river">River</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/dlr">Docklands Light Railway (DLR)</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/trams">Trams</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>
        <div class="module-grid clearfix">
          




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          
<div class="fact-box-wrapper">
    <span class="blue-span">Emirates Air Line</span>
    <div class="fact-box-content">
        The UK's first urban cable car opened in June 2012. It connects the Greenwich Peninsula with the Royal Docks.
        
        
        
    </div>
</div><div class="related-links">

    <h3>Also in this section</h3>

        <p>There are 40 disused stations along the Underground network. Find out where they are. </p>
    
<div class="vertical-button-container">

<a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-underground/disused-underground-stations" class="plain-button">Disused stations</a>
    </div>
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "Take a trip through London's transport history - public transport here might be older than you think";}
        
            
        


 