
    
  


<!-- rhroot -->
@{ViewBag.Title = "Poems on the Underground";}
@{ViewBag.Keywords = "Public,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/culture-and-heritage/poems-on-the-underground";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage">Culture & heritage</a></li>
                
            
            
                <li><span class="last-breadcrumb">Poems on the Underground</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Poems on the Underground</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Poems featured in Tube carriages have been a big hit with the public. Poems on the Underground celebrated its 30th anniversary in 2016. 
        
      </div>
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/poetry-book-culture_rdax_400x250.jpg" alt="Poetry on the Underground book" />
        
        
        
    </div>
    <p>Poems on the Underground was launched in 1986, following an idea from the American writer Judith Chernaik, to bring poetry to a wider audience.</p>
<p>The programme helps to make journeys more stimulating and inspiring by showcasing a range of poetry in Tube train carriages across London. The poems are selected by Judith Chernaik and poets George Szirtes and Imtiaz Dharker.</p>
<p>Poems on the Underground highlights classical, contemporary and international work, by both famous and relatively unknown poets. It has been a great success and has inspired similar schemes in cities around the world, from New York to Shanghai. It's proved to be a great way of introducing the public to poetry, with passengers often wanting to read more. </p>
<p>The scheme is supported by TfL, Arts Council England and The British Council.</p>
<p>Poems on the Underground (Penguin, 2015) contains over 200 poems featured on the Tube and is available from the <a href="http://www.ltmuseum.co.uk/">London Transport Museum shop</a> and all good bookshops.</p>
 </div>
 <div>

<p>Our second set of Poems for 2017 celebrate Indian poetry. There are six Indian poems on the Underground in August. The distinguished contemporary Indian poets featured represent a broad range of voices from India herself and the huge Indian diaspora.</p>
<p>Three poems - Pilgrim, This Morning, and Approaching Fifty - include illustrations taken from David Gentleman's India, by kind permission of David Gentleman.</p>
<p>The poems: </p>
<p><strong>Pilgrim</strong> by Eunice de Souza (1940-2017)</p>
<p><strong>This Morning</strong> by Mona Arshi</p>
<p><strong>Today </strong>by Sujata Bhatt</p>
<p><strong>The Butterfly</strong> by Arun Kolatkar (1932-2004)</p>
<p><strong>Approaching Fifty</strong> by Arvind Krishna Mehrotra</p>
<p><strong>Stationery</strong> by Agha Shahid Ali</p>
<p> The poems are available from the <a href="http://poetrysociety.org.uk">Poetry Society</a> and <a href="http://ltmuseum.co.uk">London Transport Museum</a>.</p>
<p><strong>Pilgrim</strong> by Eunice de Souza</p>
<p>The hills crawl with convoys.<br />
Slow lights wind round<br />
and down the dark ridges to yet another<br />
termite city.<br />
The red god rock<br />
watches all that passes.<br />
He spoke once.<br />
The blood-red boulders<br />
are his witness.<br />
God rock, I'm a pilgrim.<br />
Tell me &#45;<br />
Where does the heart find rest?</p>
<p>Eunice de Souza</p>
</div>
 <div>

<h2>Celebrating London's diversity</h2>
<p>A leaflet of <strong>London Poems on the Underground</strong> is still available at some Tube stations and public libraries. The poems are in support of the Mayor, Sadiq Kahn's campaign, #LondonIsOpen.</p>
<p>
The poems celebrate the wonderful diversity of our great city, its squares, parks and markets, its vibrant present and its glorious past, its places and people, including the immigrant communities which have so greatly enriched London life and culture. </p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-poems-leaflet.pdf">
    <div class="document-download-text">
        <p>London Poems on the Underground leaflet</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.02MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.02 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/culture-and-heritage/poems-on-the-underground" class="heading">
                    <h2 id="sub-menu-heading">Poems on the Underground<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.hmrs.org.uk/index.php" class="plain-button">HMRS Online</a>
<a href="http://www.nationalarchives.gov.uk/" class="plain-button">The National Archives</a>
<a href="https://www.cityoflondon.gov.uk/things-to-do/london-metropolitan-archives/Pages/default.aspx" class="plain-button">London Metropolitan Archives</a>
<a href="http://www.ltmuseum.co.uk/" class="plain-button">London Transport Museum</a>
<a href="http://www.nrm.org.uk/researchandarchive" class="plain-button">National Railway Museum Archives</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Poems featured in Tube carriages have been a big hit with the public. Poems on the Underground celebrated its 30th anniversary in 2016. ";}
        
            
        


 