


@{ViewBag.Title = "Road danger reduced with new 20mph speed limits on all TfL roads in central London";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020">2020</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Road danger reduced with new 20mph speed limits on all TfL roads in central London</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Road danger reduced with new 20mph speed limits on all TfL roads in central London</h1>
        <div class="content-page-press-release">
        27 February 2020
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Reduced speed limits will be in force across 8.9km of London roads within the Congestion Charging Zone from Monday
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"By cutting speed limits on TfL's roads within the Congestion Zone we are saving lives, while at the same time making our streets more appealing for Londoners to walk and cycle around the capital"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL&nbsp;will bring in lower speed limits across the central London TfL road network in a significant move to reduce road danger across the capital, starting on Monday 2 March.</p>

<p>The new 20mph speed limits will be enforced across all TfL roads within the Congestion Charging Zone &#45; including Millbank, Victoria Embankment and Borough High Street &#45; following strong public support for the proposals.</p>

<p>The 20mph speed limits are supported by new signage and road markings, with raised pedestrian crossings being installed in prominent locations where a high number of people walk, including near Embankment and Tower Hill Underground stations and outside the Tate Britain.</p>

<p>TfL will recalibrate all the speed cameras in central London and will work closely with the Metropolitan Police to ensure that drivers are complying with the new safer speed limits.</p>

<h2>New speed enforcement team</h2>

<p>As part of the joint commitment with TfL to eliminate death and serious injury from London's roads, the Metropolitan Police will continue to target dangerous, careless and illegal driving across London's roads.</p>

<p>From April, a new speed enforcement team will identify speeding drivers across the capital, including within the new 20mph speed limits.</p>

<p>The team will be deployed to known high-risk locations for speeding and will respond to stakeholder and community concerns about drivers speeding in their area, equipped with the newest laser video speed enforcement technology.</p>

<p>Speed is a factor in around 37%&nbsp;of collisions in London where a person dies or is seriously injured, which is why reducing the speed limit is key to the Mayor's Vision Zero commitment to eliminate death and serious injury from London's transport network.</p>

<p><strong>The Mayor of London, Sadiq Khan, said</strong>: 'I am absolutely determined to do everything I can to eradicate all deaths and serious injuries on London's roads and these new measures are a vital step along the way to helping us to achieve this.</p>

<p>'By cutting speed limits on TfL's roads within the Congestion Zone we are saving lives, while at the same time making our streets more appealing for Londoners to walk and cycle around the capital.'</p>

<p><strong>Lilli Matson, Chief Health, Safety and Environment Officer at TfL, said</strong>: 'Millions of walking and cycling journeys are made across our city every single day and a person is five times less likely to be fatally injured if hit at 20mph than at 30mph &#45; it's as straightforward as that.</p>

<p>'Ensuring the safety of Londoners and visitors is paramount, which is why we are introducing a safer speed limit for all road users in central London.</p>

<p>'It's clear the new 20mph speed limits will not only save lives but will also encourage Londoners to travel in more active and sustainable ways.</p>

<p>'We're committed to eliminating unsafe speeds and dangerous driving across our network and are working closely with our Metropolitan Police partners to ensure the new speed limits are robustly enforced, as part of our Vision Zero commitment to eliminate death and serious injury from our streets and transport network.'</p>

<h2>Vision Zero ambition</h2>

<p><strong>Andy Cox, Metropolitan Police Detective Superintendent, said</strong>: 'Speed limits are designed to keep road users safe, they are limits not targets and the law should be adhered to.</p>

<p>'Excessive speed unfortunately remains a common cause of serious and fatal collisions across London and the consequences can be devastating for those involved and their families.</p>

<p>'Safe speeds are key to achieving the Vision Zero ambition and it's vital that those driving or riding on our roads respect the law on speed limits. We will actively target speeding and dangerous drivers and ensure they are dealt with robustly.'</p>

<p>Figures from 2016, 2017 and 2018 show 131 people were killed in speed-related collisions on London's streets. A further 2,256 people were reported as seriously injured in collisions where speed was recorded as a contributory factor.</p>

<p>Cutting speeds from 30mph to 20mph significantly reduces the likelihood and severity of these collisions, saving lives. People walking and cycling are particularly vulnerable to speeding vehicles and nine pedestrians have already tragically died on London's roads this year.</p>

<p><strong>Victoria Lebrec, Campaign Coordinator for RoadPeace, the national charity for road crash victims, said</strong>: 'RoadPeace welcomes the speed limiting changing from 30mph to 20mph on TfL's roads in central London.</p>

<p>'We see the devastation that speed causes every day, and the few seconds that are saved can lead to a lifetime of misery for a victim. Whilst TfL's plans are encouraging, they represent a small percentage of the roads in London. We would like to see more boroughs adopting a 20mph default speed limit.'</p>

<p><strong>Jeremy Leach, London Campaign Coordinator, 20's Plenty, said</strong>: 'Getting maximum speeds down to 20mph has a huge impact on making roads feel and be safe for all Londoners and 20's Plenty is really pleased that reducing speeds is right at the heart of TfL's plans for safe streets across London.</p>

<p>'This though is only the first part of a wider programme to tackle the dangers that speeding causes to us all.</p>

<p>'We look forward to news of more 20mph limits on TfL's Red Route roads and more encouragement for the last few London boroughs to go 20, all supported by the huge commitment that the Metropolitan Police are putting into tackling speeding drivers.'</p>

<h2>Make our streets feel safer</h2>

<p><strong>Sustrans England Director Matt Winfield said</strong>: 'We strongly support TfL's move to reduce traffic speeds on London's roads and look forward to 20mph limits being extended to all London boroughs.</p>

<p>'It's unacceptable that every year thousands of people are hurt or killed in road traffic collisions. Lowering the traffic speed to 20mph can help make our streets feel safer and create places that are more attractive for people to walk, cycle and spend time.</p>

<p>'Studies have shown that slower roads lead to more people choosing to walk, wheel and cycle their everyday journeys so there is huge potential that, with lower traffic speeds and less car dominance, we will see a healthier, happier London for everyone.'</p>

<p>The changes mirror the lower speed limits already in place across many borough roads in central London. The Mayor and TfL will continue to engage with boroughs to further reduce speed limits across London, reducing road danger for all road users and providing consistency for drivers.</p>

<p>Last year's consultation drew nearly 2,000 responses from the public, with half of respondents saying that a 20mph speed limit would have a positive impact on walking.</p>

<p>Almost two-thirds thought that the proposals would lead to more people cycling and four in ten thought that the proposals would have a positive impact on public transport.</p>

<p>Additional comments received supported TfL's aims to make London's streets safer, more pleasant and welcoming to encourage more people out of their cars to walk, cycle and use public transport. There were also suggestions to introduce lower speeds as quickly as possible to improve driver behaviour.</p>

<h2>TfL's Vision Zero commitment</h2>

<p>A new TfL marketing campaign focuses on the changes coming into force on 2 March, highlighting the importance of lower speeds and encouraging road users to comply with the new 20mph speed limits. The campaign is live across radio, print and digital advertising.</p>

<p>Over the next five years, TfL will work with boroughs and the public to introduce lower speed limits more widely across the capital.</p>

<p>TfL aims to introduce safer speed limits across a further 140km of its road network, focusing on high-risk sections of road, town centres where people walk and cycle, and streets neighbouring ambitious local speed reduction programmes led by London boroughs.</p>

<p>Achieving lower speeds in London is vital for achieving TfL's Vision Zero commitment to eliminate deaths and serious injuries from the transport network by 2041.</p>

<hr />
<p><strong>Notes to editors</strong><br />
TfL will make 20mph the new general speed limit on TfL roads within central London from Monday 2 March at 00:01, prioritising the part of the capital with a high volume of vulnerable road users including people walking, cycling and riding motorcycles. This is TfL roads within the Congestion Charging Zone (CCZ), as follows:</p>

<ul>
	<li>Albert Embankment</li>
	<li>Lambeth Palace Road, Lambeth Bridge</li>
	<li>Millbank</li>
	<li>Victoria Embankment</li>
	<li>Upper Thames Street, Lower Thames Street, Byward Street, Tower Hill</li>
	<li>Borough High Street, Great Dover Street</li>
	<li>Blackfriars Road</li>
	<li>Part of Druid Street (between Tower Bridge Road and Crucifix Lane), Crucifix Lane, part of Bermondsey Street (between Crucifix Lane and Tooley Street)</li>
	<li>Part of Tooley Street (between Duke Street Hull and Tower Bridge Road), Duke Street Hill, Part of Queen Elizabeth Street (between Tooley Street and Tower Bridge Road)</li>
</ul>

<p>The 20mph limit will also be introduced at Aldgate Gyratory, including Leman Street, Prescot Street, Mansell Street, Minories and Goodman's Yard, which is on the boundary of the CCZ rather than within it. Proposals for a 20mph speed limit on Tooley Street were consulted on separately as part of the Tooley Street Healthy Streets project. The 20mph speed limit part of this project has been delivered at the same time as TfL's road network to provide value for money.</p>

<p>Drivers should expect to see police officers at the roadside more often. The dedicated Metropolitan Police speed enforcement team aligns with TfL's wider plan to catch people who drive carelessly, dangerously and illegally, which aims to significantly increase levels of speed enforcement through the effective and coordinated roadside and safety camera enforcement activity.</p>

<p>Comprehensive monitoring and evaluation of the new 20mph speed limit will assess the success of the physical measures in lowering speeds. TfL will use this assessment to decide whether more traffic calming measures are needed in central London and where they should be introduced on other parts of the road network.</p>

<p>Following public support for the plans, TfL is now working on proposals to bring safer speeds to some of the most high-risk areas in London. This includes lowering speed limits and introducing a number of new pedestrian crossings on Edgware Road, where local communities are calling for improvements to make their neighbourhood a better and safer place to walk, cycle and enjoy.</p>

<p>The 20mph consultation report is available at: <a href="https://consultations.tfl.gov.uk/streets/20/">https://consultations.tfl.gov.uk/streets/20/</a></p>

<p>TfL's Lower Speeds Toolkit is available at: &nbsp;<a href="http://content.tfl.gov.uk/achieving-lower-speeds-toolkit.pdf">http://content.tfl.gov.uk/achieving-lower-speeds-toolkit.pdf</a></p>

<p>More information about Safe Speeds is available at: <a href="https://tfl.gov.uk/corporate/safety-and-security/road-safety/safe-speeds">https://tfl.gov.uk/corporate/safety-and-security/road-safety/safe-speeds</a></p>

<p><strong>About Vision Zero</strong></p>

<p>In July 2018 the Mayor, TfL and Metropolitan Police launched a bold Vision Zero Action Plan to end the toll of deaths and serious injuries on London's streets. Each year more than 4,000 people are killed or seriously injured on London's streets, taking a devastating toll on the people involved, their families and communities across the capital.</p>

<p>Working with the Met Police and London boroughs, TfL's radical 'Vision Zero' approach starts from the premise that no death or serious injury on London's roads is acceptable or inevitable. To get closer to our Vision Zero ambition, a number of challenging interim targets have been set. By 2022, the aim is to reduce the number of people killed or seriously injured on London's roads by 65 per cent with no-one being killed on or by a bus by 2030, on the road to Vision Zero in 2041.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/march">March</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2020-February-Road danger reduced with new 20mph speed limits on all TfL roads in central London -->

 
 
        
        
            @{ViewBag.Description = "Road danger reduced in the capital with new 20mph speed limits on all TfL roads in central London from next week";}
        
        


 