


@{ViewBag.Title = "Step-free access complete at Mill Hill East Tube station";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020">2020</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Step-free access complete at Mill Hill East Tube station</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Step-free access complete at Mill Hill East Tube station</h1>
        <div class="content-page-press-release">
        21 February 2020
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mill Hill East becomes 79th step-free London Underground station
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'm pleased that 11 more Tube stations are set to become step free this year &#45; helping make our transport network more accessible for everyone"</div>
        <div class="quote-footer">
            <div class="quotee-name">Heidi Alexander</div>
            <div class="quotee-job-title">Deputy Mayor for Transport</div>
        </div>
</div>

 <div class="on-this-page">
<p>Customers using Mill Hill East Tube station will now be able to enter and exit step-free as TfL&nbsp;today confirmed that work to modernise the station has been completed.</p>

<p>Mill Hill East serves the Northern line, London's busiest Tube line, and sees almost 1.4 million customer journeys each year. &nbsp;Access to the transport network for people with accessibility needs will be vastly improved, with a new lift and link bridge having transformed the station.</p>

<h2>Complex overnight operation</h2>

<p>The new lift and link bridge were built off-site and craned into the station in August last year in a complex overnight operation.</p>

<p>This reduced the amount of time that engineers needed to work on site, ensuring that disruption to customers was kept to a minimum. Since then contractors have worked hard to divert critical services, upgrade the station systems and install the lift.</p>

<p><strong>Heidi Alexander, Deputy Mayor for Transport, said</strong>: 'The introduction of step-free access at Mill Hill East will improve the daily lives of passengers who use this busy station, especially disabled people, older people and those with young children.</p>

<p>'I'm pleased that 11 more Tube stations are set to become step free this year &#45; helping make our transport network more accessible for everyone.'</p>

<p><strong>Tim Morrison, Director of Renewals and Enhancements at London Underground, said</strong>: 'Mill Hill East station becoming step-free will make a positive difference to thousands of our customers.</p>

<p>'It will now be much easier for those with mobility needs, heavy luggage or with children in buggies to access the Tube at this station. Improving accessibility across London's transport network is one of our top priorities, with making stations step-free a key part of this work.'</p>

<h2>Modernisation of the Tube</h2>

<p>Mill Hill East is the 79th station to become step-free on the London Underground network and the 11th since 2016.</p>

<p>Another 11 Tube stations will become step free this year - meaning a third of the Tube network will be fully accessible for customers with mobility needs, heavy luggage or with children in buggies. In addition, since 2016, 10 TfL Rail stations and three London Overground stations have been made step-free.</p>

<p>The next phase of the London Underground Accessibility Programme will see another eight Tube stations made step-free by spring 2024. This will make 38%&nbsp;of the Tube network fully accessible.</p>

<p>The continued modernisation of the Tube is a key part of the Mayor's Transport Strategy to make London a greener, more accessible place.</p>

<p>The investment in improving public transport will help reduce reliance on the car and contribute to the Mayor's target of 80%&nbsp;of journeys made by public transport, cycling or walking by 2041.</p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>Manual boarding ramps will continue to be available with a 'turn up and go' service for customers who need assistance between platform and train at Mill Hill East</li>
	<li>The next 11 Tube stations to become step-free later in 2020 are:
	<ul>
		<li>Cockfosters (Spring)</li>
		<li>Amersham (Summer)</li>
		<li>Ickenham (Summer)</li>
		<li>Wimbledon Park (Summer)</li>
		<li>Debden (Summer)</li>
		<li>Osterley (Summer)</li>
		<li>Hanger Lane (Summer)</li>
		<li>Northolt (Summer)</li>
		<li>Sudbury Hill (Autumn)</li>
		<li>Harrow-on-the-Hill (Autumn)</li>
		<li>Burnt Oak (Winter)</li>
	</ul>
	</li>
</ul>

<ul>
	<li>In the next phase of the London Underground Accessibility Programme eight stations will be made step-free by spring 2024: Boston Manor, Colindale, Knightsbridge, North Ealing, Park Royal, Rickmansworth, Ruislip and Snaresbrook</li>
	<li>Since 2016, the following 11 Tube stations have become step-free: Vauxhall, Tower Hill, Tottenham Court Road, Bond Street, Bromley-by-Bow, Buckhurst Hill, Victoria, Newbury Park, Finsbury Park, South Woodford and Mill Hill East</li>
	<li>There are now more than 200 step-free stations across the TfL network. These include: 79 Tube stations, 60 London Overground stations, 23 TfL Rail stations and all DLR stations and Tram stops</li>
	<li>In addition to delivering new lifts for step-free access, TfL has a number of measures to make travelling on public transport more comfortable for those with accessibility needs, including:
	<ul>
		<li>All station staff, on London Underground, London Overground and TfL Rail stations, are trained to help customers who require extra assistance</li>
		<li>'Turn-up-and-go' is now established across the network meaning staff are on hand to help customers board trains, including using platform ramps, and meet them at interchange or destination stations, without the need to pre-book</li>
		<li>Much more detailed information available online, such as the number and height of steps at stations that currently do not have lift facilities, and a range of accessibility maps and guides</li>
		<li>New, more prominent step-free signage to help customers find their way through stations and to and from lifts</li>
		<li>Open data made available for developers to create travel tools tailored specifically for people with accessibility needs.</li>
	</ul>
	</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/march">March</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2020-February-Step-free access complete at Mill Hill East Tube station -->

 
 
        
        
            @{ViewBag.Description = "Step-free access complete at Mill Hill East Tube station";}
        
        


 