


@{ViewBag.Title = "TfL names first of 12 competition winners as it celebrates 10 years of cycle hire in London";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020">2020</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL names first of 12 competition winners as it celebrates 10 years of cycle hire in London</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL names first of 12 competition winners as it celebrates 10 years of cycle hire in London</h1>
        <div class="content-page-press-release">
        04 February 2020
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A Santander Cycle will be named after January competition winner Sakhr Al-Makhadhi
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Over the last decade, it has helped millions of people discover the joy of cycling and we want to thank everyone who has shared this incredible journey with us"</div>
        <div class="quote-footer">
            <div class="quotee-name">Helen Sharp</div>
            <div class="quotee-job-title">Head of Business Development for Cycle Hire at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL&nbsp;has announced the first winner of its year-long competition, which marks ten years of Cycle Hire in the capital.</p>

<p>Sakhr Al-Makhadhi, an enthusiastic cyclist from Harrow, was among the first to take part in the scheme when it launched in 2010 and will be rewarded with a free annual membership and a Santander Cycle named in his honour.</p>

<p>Commenting on how TfL's Cycle Hire scheme has changed London for the better, Sakhr Al-Makhadhi said: 'I wanted to be the first person to hire a TfL bike, so I woke up at 5.30am on Friday 30 July 2010.</p>

<p>'I knew the scheme was launching at 6am so I went to the Dorset Square docking station and tried my key at 5.55am. It worked! I took a bike out. Within seconds, a taxi driver hooted at me and congratulated me for being the first one.'</p>

<p>Mr Al-Makhadhi has since gone on to hire bikes across the world, from Rome to Berlin, Brussels, Toulouse, Oslo, Barcelona, Washington DC and Mexico City.</p>

<h2>Anniversary year</h2>

<p>The search continues for the remaining 11 winners, with one dedicated Cycle Hire user chosen each month during the anniversary year.</p>

<p>TfL and Santander are keen to hear from people who hired the cycles within the first year of the scheme, have completed the most journeys or who have a unique story to share about them. People can share their experiences of the Cycle Hire scheme by emailing <a href="mailto:cyclehire10&#64;tfl.gov.uk">cyclehire10&#64;tfl.gov.uk</a> for a chance to win*.</p>

<p>The news comes as a record 709,000 Santander Cycles were hired in January 2020, the best ever start to a year in the history of TfL's Cycle Hire scheme.</p>

<p>The latest wave of new Santander Cycles docking stations has now also been announced with two new stations at:</p>

<ul>
	<li>Westbourne Park Tube station (March)</li>
	<li>Victoria Embankment, at the junction of Temple Avenue (March)</li>
</ul>

<p>In March, extra capacity will also be added at Exhibition Road Museums, between the V&amp;A and Natural History Museums. The expansion follows a busy 2019 for the scheme, when docking stations were installed at a number of new locations including Victoria Park and Westminster Pier.</p>

<p><strong>Helen Sharp, Head of Business Development for Cycle Hire at TfL, said:</strong>&nbsp;'Sakhr Al-Makhadhi is a long-time devotee of our Cycle Hire scheme and we couldn't have chosen a more deserving first winner. We're delighted to name one of our Santander Cycles in his honour.</p>

<p>'We are off to a record start to our tenth year, proving that our Cycle Hire scheme is more popular than ever. Over the last decade, it has helped millions of people discover the joy of cycling and we want to thank everyone who has shared this incredible journey with us.</p>

<p>'We are looking forward to hearing from more Santander Cycles fans as our competition progresses.'</p>

<h2>Supporting local communities</h2>

<p><strong>Dan Sherwood, Interim Chief Marketing Officer at Santander UK, said:</strong>&nbsp;'It's fantastic to kick off 2020 with the best January for hires in the history of the scheme.</p>

<p>'Santander Cycles is a great example of our commitment to supporting local communities and we look forward to another great year. We're also absolutely delighted to name our first competition winner &#45; many congratulations Sakhr!'</p>

<p><strong>Tom Bogdanowicz, Senior Policy and Development Officer at London Cycling Campaign, said:</strong>&nbsp;'It has been great to see Santander Cycles growing and growing in popularity over the last ten years as London moved towards being a far more cycling-friendly city.</p>

<p>'We hope ten years from now, London will be city where transport is zero carbon and cycling is the natural, sensible choice for many more journeys currently done using motor vehicles.'</p>

<p>TfL launched London's flagship Cycle Hire scheme on 30 July 2010 across eight London boroughs with 315 docking stations. More than 87 million hires have been made since then and now there are more than 12,000 bikes available across 781 docking stations.</p>

<p>Updates have been made to the Santander Cycles app to make it possible for registered customers to report lost or abandoned bikes to TfL.&nbsp;</p>

<p>To find your nearest Santander Cycles docking station, visit <a href="http://tfl.gov.uk/santandercycles">tfl.gov.uk/santandercycles</a></p>

<hr />
<p><strong>Notes to editors</strong></p>

<p>*Terms and Conditions for the Cycle Hire 10th anniversary competition can be found here: <a href="http://tfl.gov.uk/corporate/terms-and-conditions/competitions">tfl.gov.uk/corporate/terms-and-conditions/competitions</a></p>

<ul>
	<li>Santander Cycles covers 100 square kilometres of London, making it one of the largest Cycle Hire schemes in Europe</li>
	<li>More than 1.7 million hires were made using the Santander Cycles app in 2019. The free app is available on the iTunes and Android App Stores, searching for Santander Cycles</li>
	<li>Santander Cycles can be hired from as little as &pound;2 a day for an unlimited number of 30-minute journeys</li>
	<li>Anyone who finds a lost or abandoned Santander Cycle should report it using the app, on the TfL StreetCare website at <a href="https://streetcare.tfl.gov.uk/">https://streetcare.tfl.gov.uk/</a> or call Customer Services on 0343 222 1234</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/march">March</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2020-February-TfL names first of 12 competition winners as it celebrates 10 years of cycle hire in London -->

 
 
        
        
            @{ViewBag.Description = "TfL names first of 12 competition winners as it celebrates 10 years of cycle hire in London";}
        
        


 