


@{ViewBag.Title = "Transport for London launches search for 75 new apprentices";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020">2020</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Transport for London launches search for 75 new apprentices</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London launches search for 75 new apprentices</h1>
        <div class="content-page-press-release">
        03 February 2020
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Apprenticeships available in areas including Civil Engineering, Railway Signalling and Transport Planning
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"TfL is driven by a passionate and skilled workforce who continue to keep our city moving and evolving &#45; making life better for millions of people every day. You don't need to be an expert in transport already &#45; as long as you want to learn new skills and make a positive impact on people's lives in London every day, you'll fit right in"</div>
        <div class="quote-footer">
            <div class="quotee-name">Tricia Wright</div>
            <div class="quotee-job-title">Chief People Officer at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p>As National Apprenticeship Week begins, TfL&nbsp;has launched the second phase of its annual search for fresh talent to help London keep moving and growing.</p>

<p>Seventy-five new apprenticeships at Level 2 &amp; 3 have been launched in disciplines ranging from Building Surveying and Transport Planning, to Track and Signals for London Underground (LU).</p>

<p>TfL's apprenticeships offer a wide range of opportunities for people to kick-start a career in their chosen field.</p>

<p>Apply here: <a href="https://careers.tfl.gov.uk/category/apprenticeships/">https://careers.tfl.gov.uk/category/apprenticeships/</a></p>

<p>It's never too late to change careers and TfL's apprenticeships are open to people of all ages. After completing the first level of their apprenticeship, some schemes offer individuals the chance to study for a degree as part of their apprenticeship &#45; meaning they can gain industry experience and a university education.</p>

<h2>Apprentice meet the Apprentice</h2>

<p>In the Apprentice meets the Apprentice film (available to view <a href="https://youtu.be/hrA_ed3wy9s">here</a>), LU Track Engineering Nura Abukar meets Harry Joseph, a former TfL Finance apprentice. Three years after completing his apprenticeship he is now a Finance Business Manager.</p>

<p>TfL is holding a number of events to celebrate its apprenticeship programmes and raise awareness of TfL's opportunities. There will be a chance to speak to current apprentices, their managers and TfL's recruitment team.</p>

<p>This will be a chance to find out more information about what's on offer and the recruitment process, which can increase the chances of being successful. The Level 3 Apprenticeships event takes place on 14 February and an event specifically focusing on apprenticeships in London Underground on 22 February.</p>

<p>It's important that TfL has a diverse workforce that is reflective of the city that it serves and TfL has been working hard to attract a diverse range of candidates to its apprenticeship schemes, particularly to engineering roles.</p>

<p>Between 2018 and 2019, the number of women recruited to TfL apprenticeship schemes increased by 17%&nbsp;to 37%&nbsp;of apprenticeship hires.</p>

<p>TfL has also been successful in recruiting more women and people from Black, Asian and Minority Ethnic (BAME) backgrounds specifically to London Underground engineering apprenticeship schemes, with 50%&nbsp;of LU apprentices recruited in 2019 being from a BAME background and 18%&nbsp;women.</p>

<h2>Better for everyone</h2>

<p>Since 2009, TfL, Crossrail, their suppliers and the London Transport Museum have employed more than 8,750 apprentices. They have worked on vital infrastructure projects including the modernisation of key Tube stations, the construction of the Northern line extension, and the redesign of London's road junctions to make them safer and better for everyone.</p>

<p>TfL also works with the London Transport Museum to support those who have completed its Route into Work programme to gain access to apprenticeships.</p>

<p>The programme supports young people between 16 and 25, who are not in education, employment or training to gain and improve employability skills, such as teamwork and confidence building, which can help them overcome potential barriers to employment.</p>

<p><strong>Tricia Wright, Chief People Officer at TfL, said:</strong>&nbsp;'TfL is driven by a passionate and skilled workforce who continue to keep our city moving and evolving &#45; making life better for millions of people every day.</p>

<p>'We're looking for inquisitive, enthusiastic individuals who reflect London's diversity to join our apprenticeship programme in a range of areas, such as engineering, signalling and project controls.</p>

<p>'You don't need to be an expert in transport already &#45; as long as you want to learn new skills and make a positive impact on people's lives in London every day, you'll fit right in.'</p>

<p><strong>Bethany Cracknell, Civil Engineering Apprentice at TfL, said:</strong>&nbsp;'I have always known I wanted to become a Chartered Engineer and this apprenticeship is the first step in this process. I've always enjoyed problem solving and being inventive.</p>

<p>'Being an engineer allows me to use these skills to help improve transport in London. I've only been in the role a few months, but I know I'm growing in confidence. I have already chaired team meetings and presented to my team.'</p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>TfL Level 3 Apprenticeships Launch Event 2020 &#45; 14 February 2020. Event to showcase over 20 schemes across all areas of the business including engineering, business and technology</li>
</ul>

<p>For more information and to register <a href="https://web.cvent.com/event/c9198250-15f6-4f32-8e04-b7b024a68105/summary">14 February 2020 - Level 3 Apprenticeships Launch Event</a></p>

<ul>
	<li>London Underground Insights Apprenticeship Event &#45; 22 February 2020. Event will showcase the eight exciting London Underground roles available</li>
	<li>Signals Engineering</li>
	<li>Fleet Engineering</li>
	<li>Track Operative Engineering</li>
	<li>Railway Engineering Workshops</li>
	<li>Escalators Engineering</li>
	<li>Power Engineering</li>
	<li>Telecoms Engineering</li>
	<li>Non-destructive Testing Engineering</li>
</ul>

<p>For more information and to register <a href="https://web.cvent.com/event/433b0a9d-71d1-4a81-90ab-cdb7bd10f7cb/summary">22 February 2020 - LU Apprenticeships Event</a></p>

<ul>
	<li>Apprentices applying to the L2 &amp; L3 TfL apprenticeship programme will join the organisation in September 2020</li>
	<li>Entry criteria for most schemes:
	<ul>
		<li>Must have 5 GCSE's A*-C / grade 4 or above (or equivalent) including Maths and English language</li>
		<li>Need to be 18 years old by 1st September 2020 or 16 years old by 26th June 2020 (only for Transport Planning)</li>
	</ul>
	</li>
	<li>The length of the scheme is between 2-3 years depending on the scheme. We pay a minimum of the London Living Wage of &pound;19,663. They also get the same benefits as other TfL employees</li>
	<li>Applications are also open for the L6 Building Services apprenticeship programme</li>
	<li>For more information about London Transport Museum's Route into Work programme, please visit: <a href="https://www.ltmuseum.co.uk/learning/young-people/route-into-work">https://www.ltmuseum.co.uk/learning/young-people/route-into-work</a></li>
	<li>TfL also has a dedicated Supplier Skills programme, which works with TfL's suppliers to facilitate the creation of skills and employment opportunities, such as apprenticeships for new or existing employees. For more information, visit <a href="https://tfl.gov.uk/info-for/suppliers-and-contractors/supplier-relations/supplier-skills">https://tfl.gov.uk/info-for/suppliers-and-contractors/supplier-relations/supplier-skills</a></li>
	<li>TfL continues to support wider apprenticeship schemes in London through travel concessions. All apprentices living in London aged 18 or over and in their first year of an approved course can save 30%&nbsp;on the price of adult rate Travelcards and Bus &amp; Tram pass season tickets with an Apprenticeship Oyster Photocard</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/march">March</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2020-February-Transport for London launches search for 75 new apprentices -->

 
 
        
        
            @{ViewBag.Description = "Transport for London launches search for 75 new apprentices";}
        
        


 