


@{ViewBag.Title = "Work to make walking and cycling safer between Dalston and Clapton set to begin this spring";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020">2020</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Work to make walking and cycling safer between Dalston and Clapton set to begin this spring</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Work to make walking and cycling safer between Dalston and Clapton set to begin this spring</h1>
        <div class="content-page-press-release">
        10 February 2020
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Improvements include a new Cycleway, upgraded junctions and new pedestrian and cycle crossings
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"By creating a new link between Dalston and Clapton, we will enable people to make everyday journeys by bike or on foot, which is key to reducing car use and improving our toxic air"</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL&nbsp;and Hackney Council have announced that work will begin later this spring to make it safer and easier for people to walk and cycle in neighbourhoods linking Lea Bridge and Dalston.</p>

<p>TfL worked closely with Hackney Council on the plans and last summer asked people to have their say on the changes, which include:</p>

<ul>
	<li>A new high-quality Cycleway, including a segregated cycle track on Crossway between Boleyn Road and John Campbell Street, connecting to CS1</li>
	<li>New crossings for people walking and cycling, including on Crossway connecting to John Campbell Road and on Kingsland High Street (A10) at Sandringham Road</li>
	<li>Changes to motor vehicle access on local roads, including restricting access to Sandringham Road from Kingsland High Street except for people walking and cycling</li>
	<li>Changes to parking and improved traffic calming measures along the route</li>
	<li>Upgraded public spaces with more trees and plants</li>
</ul>

<p>The consultation showed that 82%&nbsp;of respondents felt that the proposals would mean that more people would cycle, whilst 67%&nbsp;thought more people would walk. Around half of people also thought that the proposals would mean fewer people using private cars for personal journeys.</p>

<p>As a result of feedback from the public, TfL and Hackney Council have made improvements to the scheme, including wider pedestrian crossing points, new speed humps and additional new trees and planting.</p>

<p>Construction work on the changes is set to begin later this spring.</p>

<p>TfL and Hackney Council have also consulted on proposals which would extend the Cycleway from Clapton to Lea Bridge, making it safer and easier to walk and cycle in the area.</p>

<p>Plans between Clapton and Lea Bridge include a complete overhaul of Lea Bridge Roundabout and new segregated cycle tracks on Kenninghall Road and Lea Bridge Road. TfL is considering the feedback received and will outline next steps later in the spring.</p>

<p>These proposals would link to the expanded Cycleway network in Waltham Forest, where over 7km of segregated cycle track has already been delivered as part of the TfL funded Mini-Holland programme.</p>

<p><strong>Will Norman, London's Walking and Cycling Commissioner, said:</strong>&nbsp;'I'm delighted that construction of this new high-quality Cycleway — along with a variety of other improvements for walking and cycling — will start in the spring.</p>

<p>'By creating a new link between Dalston and Clapton, we will enable people to make everyday journeys by bike or on foot, which is key to reducing car use and improving our toxic air.'</p>

<p><strong>Nigel Hardy, TfL's Head of Healthy Streets Investment and Delivery, said:</strong>&nbsp;'Enabling more people across east London to leave their car at home and get around by walking, cycling or using public transport is a vital part of making the capital a safer, more pleasant place for everybody.</p>

<p>'I'd like to thank people for their support and invaluable feedback and am looking forward to construction work starting in the coming months.'</p>

<p>Enabling more people to walk, cycle and use public transport is a key part of the Mayor of London's plans to tackle some of the biggest challenges facing London, including toxic air, inactivity and the climate emergency.</p>

<p>Construction work has recently started on several major new Cycleways, including routes between Tower Bridge and Greenwich, and between Brentford and Olympia.</p>

<p>TfL's investment in London's streets is reducing road danger across the capital and TfL is committed to eliminating death and serious injury from London's streets as part of its Vision Zero approach to road danger.</p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>The full consultation report for the scheme is available at <a href="https://consultations.tfl.gov.uk/cycling/dalston-to-lea-bridge/">https://consultations.tfl.gov.uk/cycling/dalston-to-lea-bridge/</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/march">March</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2020-February-Work to make walking and cycling safer between Dalston and Clapton set to begin this spring -->

 
 
        
        
            @{ViewBag.Description = "Work to make walking and cycling safer between Dalston and Clapton set to begin this spring";}
        
        


 