


@{ViewBag.Title = "February";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2007">2007</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">February</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>February</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/february/taxi-fare-increases-for-2007-announced-by-transport-for-london">Taxi fare increases for 2007 announced by Transport for London<br />15 Mar 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/february/mayor-secures-first-ever-threeyear-pay-agreement-on-the-london-underground">Mayor secures first ever three-year pay agreement on the London Underground<br />28 Feb 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/february/mayor-hails-progress-on-safer-suburban-stations-and-calls-on-rail-companies-to-do-more">Mayor hails progress on safer suburban stations, and calls on rail companies to do more<br />26 Feb 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/february/transport-for-london-combats-organised-counterfeit-crime">Transport for London combats organised counterfeit crime<br />26 Feb 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/february/operation-bustag-wins-policing-award-for-its-success-in-targeting-vandalism-on-london-buses">Operation BusTag wins policing award for its success in targeting vandalism on London buses<br />22 Feb 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/february/modernisation-of-arsenal-station-continues">Modernisation of Arsenal station continues<br />21 Feb 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/february/new-wembley-park-olympic-square-unveiled">New Wembley Park Olympic Square unveiled<br />20 Feb 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/february/successful-start-as-congestion-charge-extends-west">Successful start as Congestion Charge extends west<br />19 Feb 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/february/congestion-charge-extends-west">Congestion Charge extends west<br />19 Feb 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/february/aslef-to-recommend-members-accept-lu-pay-offer">ASLEF to recommend members accept LU pay offer<br />16 Feb 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/february/tfl-builds-on-success-of-new-sustainable-transport-programmes-in-the-capital">TfL builds on success of new Sustainable Transport Programmes in the Capital<br />16 Feb 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/february/passengers-back-roll-out-of-security-cameras-across-the-tube-network">Passengers back roll out of security cameras across the Tube network<br />14 Feb 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/february/this-valentines-day-find-love-underground">This Valentines Day find love Underground<br />12 Feb 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/february/new-teen-road-safety-poster-campaign-launched">New teen road safety poster campaign launched<br />09 Feb 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/february/dr-olivia-carlton-wins-the-peter-isaac-award-with-health-improvement-plan">Dr Olivia Carlton wins the Peter Isaac Award with Health Improvement Plan<br />07 Feb 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/february/transport-for-london-cracks-down-on-damage-to-tower-bridge">Transport for London cracks down on damage to Tower Bridge<br />06 Feb 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/february/contract-signed-for-airwave-radio-coverage-on-tube">Contract signed for Airwave radio coverage on Tube<br />02 Feb 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/february/tramtrack-croydon-ltd-loses-case-for-cash-fare-compensation">Tramtrack Croydon Ltd loses case for cash fare compensation<br />01 Feb 2007</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/36100">January</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24436">February</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24512">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24600">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24688">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24788">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24856">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24976">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25064">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25240">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25320">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25568">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 