


@{ViewBag.Title = "April";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2007">2007</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">April</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>April</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/april/licensed-minicabs-to-be-allowed-to-stop-on-red-routes-for-the-benefit-of-their-customers">Licensed minicabs to be allowed to stop on red routes for the benefit of their customers<br />27 Apr 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/april/passengers-to-benefit-from-a-bus-route-extension-to-mile-end-station">Passengers to benefit from a bus route extension to Mile End Station<br />27 Apr 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/april/groundwater-cooling-trial-at-victoria-wins-carbon-trust-award">Groundwater cooling trial at Victoria wins Carbon Trust award<br />27 Apr 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/april/after-the-tour-de-france-comes-the-tour-of-britain">After the Tour de France comes the Tour of Britain<br />25 Apr 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/april/andpound509m-major-upgrade-for-victoria-station">&pound;509m major upgrade for Victoria station<br />24 Apr 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/april/mayor-announces-acceleration-of-tube-investment-programme">Mayor announces acceleration of Tube Investment Programme<br />24 Apr 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/april/dialaride-drivers-awarded-btec-qualification">Dial-a-Ride drivers awarded BTEC qualification<br />24 Apr 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/april/passengers-and-residents-to-benefit-from-more-buses-to-green-man-on-putney-hill">Passengers and residents to benefit from more buses to Green Man on Putney Hill<br />23 Apr 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/april/why-not-walk-it-tfl-launches-first-ever-campaign-to-boost-walking">Why not walk it? TfL launches first ever campaign to boost walking<br />23 Apr 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/april/transport-for-london-secures-battersea-power-station-as-central-coach-park-during-the-tour-de-france">Transport for London secures Battersea Power Station as central coach park during the Tour de France<br />20 Apr 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/april/transport-for-london-races-through-the-facts-and-figures-on-the-london-marathon-route-2007">Transport for London races through the facts and figures on the London Marathon route 2007<br />20 Apr 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/april/mayor-cracks-down-on-fare-evasion-and-antisocial-behaviour">Mayor cracks down on fare evasion and anti-social behaviour<br />20 Apr 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/april/blackwall-tunnel-morning-rush-hour-priority-scheme-to-end--measure-taken-on-safety-grounds">Blackwall Tunnel morning rush hour priority scheme to end - measure taken on safety grounds<br />18 Apr 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/april/tfl-keeps-london-running-on-marathon-day">TfL keeps London running on Marathon day <br />17 Apr 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/april/mayor-to-give-away-100000-free-oyster-cards">Mayor to give away 100,000 free Oyster cards<br />17 Apr 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/april/a-personal-invitation-to-cut-car-use">A personal invitation to cut car use<br />13 Apr 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/april/new-taxi-fares-come-into-effect-on-saturday-14-april">New taxi fares come into effect on Saturday 14 April<br />11 Apr 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/april/london-underground-launches-groundbreaking-accessibility-information-service-to-ease-travel">London Underground launches groundbreaking accessibility information service to ease travel<br />09 Apr 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/april/new-pco-enforcement-vehicle-gets-to-work">New PCO enforcement vehicle gets to work<br />04 Apr 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/april/docklands-light-railway-carries-60-million-passengers">Docklands Light Railway carries 60 million passengers<br />04 Apr 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/april/celebrating-londons-cycling-communities">Celebrating London's cycling communities<br />03 Apr 2007</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/36100">January</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24436">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24512">March</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24600">April</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24688">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24788">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24856">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24976">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25064">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25240">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25320">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25568">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 