


@{ViewBag.Title = "May";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2007">2007</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">May</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>May</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/may/first-ever-african-poems-on-the-underground">First ever African poems on the Underground<br />30 May 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/may/mayor-unveils-tube-cooling-trials">Mayor unveils Tube cooling trials<br />29 May 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/may/improvements-to-bus-routes-travelling-through-clapham-common">Improvements to bus routes travelling through Clapham Common<br />29 May 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/may/100000-londoners-takeup-free-oyster-cards-in-one-month">100,000 Londoners take-up free Oyster cards in one month<br />25 May 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/may/transport-for-london-sets-businesses-the-tour-de-france-challenge">Transport for London sets businesses the 'Tour de France' challenge<br />24 May 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/may/tfl-appoints-director-of-borough-partnerships">TfL appoints Director of Borough Partnerships<br />22 May 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/may/lee-green-junction--one-year-on">Lee Green junction - one year on<br />21 May 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/may/new-shoppers-bus-385-for-residents-of-waltham-forest">New shoppers' bus 385 for residents of Waltham Forest<br />21 May 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/may/tfl-announces-senior-planning-appointment">TfL announces senior planning appointment<br />18 May 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/may/businesses-can-save-time-money-and-the-environment-by-joining-transport-for-londons-new-way-to-work">Businesses can save time, money and the environment by joining Transport for London's new way to work<br />18 May 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/may/have-your-say-on-route-options-for-east-london-transit--barking-to-dagenham-dock-via-barking-riverside">Have your say on route options for East London Transit - Barking to Dagenham Dock via Barking Riverside<br />18 May 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/may/make-tracks-to-brixton-for-the-cross-river-tram-roadshow">Make tracks to Brixton for the Cross River Tram roadshow<br />17 May 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/may/london-underground-launches-work-experience-programme-for-disabled-people-across-whole-tube-network">London Underground launches work experience programme for disabled people across whole Tube Network <br />17 May 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/may/fa-cup-final-to-be-a-showcase-for-transport-for-london-investment-in-wembley">FA Cup Final to be a showcase for Transport for London investment in Wembley<br />16 May 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/may/south-west-rail-stations-receive-cycle-facilities-boost">South West rail stations receive cycle facilities boost<br />15 May 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/may/asbestos-removal-works-at-victoria-tube-station">Asbestos removal works at Victoria Tube station<br />11 May 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/may/tfl-announces-two-senior-appointments">TfL announces two senior appointments<br />09 May 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/may/travel-advice-blackwall-tunnel">Travel Advice Blackwall Tunnel<br />09 May 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/may/oyster-and-barclaycard-complete-successful-technical-trial-of-combined-card--next-phase-of-trial-now-underway">Oyster and Barclaycard complete successful technical trial of combined card - next phase of trial now underway<br />03 May 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/may/extra-carriage-on-every-docklands-light-railway-train">Extra carriage on every Docklands Light Railway train<br />03 May 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/may/reduced-opening-at-camden-town-station">Reduced opening at Camden Town station<br />02 May 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/may/residents-urged-to-have-their-say-on-gants-hill-street-improvements">Residents urged to have their say on Gants Hill street improvements <br />02 May 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/may/docklands-light-railway-wins-at-london-transport-awards">Docklands Light Railway wins at London Transport Awards<br />02 May 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/may/57000-londoners-take-up-free-oyster-cards">57,000 Londoners take up free Oyster cards<br />01 May 2007</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/36100">January</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24436">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24512">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24600">April</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24688">May</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24788">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24856">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24976">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25064">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25240">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25320">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25568">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 