


@{ViewBag.Title = "June";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2007">2007</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">June</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>June</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/june/london-underground-responds-to-metronet-bcv-extraordinary-review-submission">London Underground responds to Metronet BCV Extraordinary Review submission<br />29 Jun 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/june/children-thanked-for-raising-road-safety-awareness-in-london">Children thanked for raising road safety awareness in London<br />29 Jun 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/june/transport-for-london-sets-out-tour-de-france-travel-arrangements-and-road-closures">Transport for London sets out Tour de France travel arrangements and road closures<br />28 Jun 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/june/passengers-to-benefit-from-bus-service-changes-in-wimbledon-and-tooting">Passengers to benefit from bus service changes in Wimbledon and Tooting<br />26 Jun 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/june/travelling-to-the-pride-london-parade-on-saturday">Travelling to the Pride London Parade on Saturday <br />26 Jun 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/june/prandecirct-andagrave-rouler-londons-first-cycle-clothing-fashion-show">Pr&ecirc;t &agrave; Rouler: London's first cycle clothing fashion show<br />19 Jun 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/june/new-dlr-platform-opens-at-stratford">New DLR Platform opens at Stratford<br />18 Jun 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/june/transport-for-london-hosts-third-annual-conference-on-parking-and-traffic-enforcement">Transport for London hosts third annual conference on parking and traffic enforcement <br />18 Jun 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/june/emergency-engineering-on-the-victoria-line-this-evening">Emergency engineering on the Victoria line this evening<br />13 Jun 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/june/oyster-success-leads-tube-ticket-office-changes">Oyster success leads Tube ticket office changes<br />12 Jun 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/june/transport-for-london-confirms-coach-parking-arrangements-for-tour-de-france-arrival-in-london">Transport for London confirms coach parking arrangements for Tour de France arrival in London<br />12 Jun 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/june/mps-take-to-two-wheels-for-the-tour-de-france">MPs take to two wheels for the Tour de France <br />12 Jun 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/june/strong-support-for-tramlink-extension-to-crystal-palace">Strong support for Tramlink Extension to Crystal Palace <br />08 Jun 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/june/smoking-ban-impact-on-londons-transport-network">Smoking ban: impact on London's transport network<br />06 Jun 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/june/countdown-to-londonwide-low-emission-zone-begins">Countdown to London-wide Low Emission Zone begins<br />04 Jun 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/june/passengers-reminded-to-use-up-red-bus-saver-tickets">Passengers reminded to use up red Bus Saver tickets<br />04 Jun 2007</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/36100">January</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24436">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24512">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24600">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24688">May</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24788">June</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24856">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24976">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25064">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25240">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25320">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25568">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 