


@{ViewBag.Title = "November";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2007">2007</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">November</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>November</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/londons-tour-de-france-triumph-scoops-sports-tourism-yellow-jersey">London's Tour de France triumph scoops sports tourism Yellow Jersey<br />30 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/tour-de-france-delivers-london-legacy-as-cycling-rates-rise-by-further-10-per-cent">Tour de France delivers London legacy as cycling rates rise by further 10 per cent<br />28 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/oyster-in-mobile-phone-ticketing-trial">Oyster in mobile phone ticketing trial<br />28 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/walking-london-made-easy-with-stateoftheart-sign-system">Walking London made easy with state-of-the-art sign system<br />27 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/london-underground-advises-customers-to-avoid-changing-at-bank">London Underground advises customers to avoid changing at Bank<br />26 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/residents-asked-what-they-think-of-improvements-along-waterfront-transit-route">Residents asked what they think of improvements along Waterfront Transit route<br />26 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/24-hour-service-for-111-bus-route">24 hour service for 111 bus route<br />26 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/transport-for-londons-london-rail-managing-director-ian-brown-appointed-to-the-railway-heritage-committee">Transport for London's London Rail Managing Director Ian Brown appointed to the Railway Heritage Committee<br />22 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/safety-boost-as-london-underground-takes-full-control-of-14-silverlink-stations">Safety boost as London Underground takes full control of 14 Silverlink stations <br />22 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/new-subway-and-ticket-office-opens-at-walthamstow-central-station">New subway and ticket office opens at Walthamstow Central station <br />22 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/transport-for-london-receives-royal-seal-of-approval">Transport for London receives Royal seal of approval<br />21 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/tfl-wants-to-hear-your-views-on-local-bus-services">TfL wants to hear your views on local bus services<br />20 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/crime-cut-by-11-per-cent-on-londons-buses-youth-crime-down-by-19-per-cent">Crime cut by 11 per cent on London's buses, youth crime down by 19 per cent<br />20 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/tfl-welcomes-oyster-on-london-midland-services">TfL welcomes Oyster on London Midland services<br />19 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound28m-for-transport-improvements-in-kensington-and-chelsea">Mayor announces &pound;2.8m for transport improvements in Kensington and Chelsea<br />16 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound61m-for-transport-improvements-in-richmond">Mayor announces &pound;6.1m for transport improvements in Richmond <br />16 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound43m-for-transport-improvements-in-hounslow">Mayor announces &pound;4.3m for transport improvements in Hounslow<br />16 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound24m-for-transport-improvements-in-enfield">Mayor announces &pound;2.4m for transport improvements in Enfield<br />16 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound48m-for-transport-improvements-in-kingston">Mayor announces &pound;4.8m for transport improvements in Kingston<br />16 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound5m-for-transport-improvements-in-bromley">Mayor announces &pound;5m for transport improvements in Bromley<br />16 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound35m-for-transport-improvements-in-merton">Mayor announces &pound;3.5m for transport improvements in Merton<br />16 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound37m-for-transport-improvements-in-lewisham">Mayor announces &pound;3.7m for transport improvements in Lewisham<br />16 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound6m-for-transport-improvements-in-camden">Mayor announces &pound;6m for transport improvements in Camden<br />16 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound45m-for-transport-improvements-in-brent">Mayor announces &pound;4.5m for transport improvements in Brent<br />16 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/oxford-street-closed-westbound-until-0500-20-november">Oxford Street closed westbound until 05:00 20 November<br />16 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound36m-for-transport-improvements-in-havering">Mayor announces &pound;3.6m for transport improvements in Havering<br />16 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound37m-for-transport-improvements-in-hillingdon">Mayor announces &pound;3.7m for transport improvements in Hillingdon<br />16 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound37m-for-transport-improvements-in-the-city-of-london">Mayor announces &pound;3.7m for transport improvements in the City of London<br />16 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound63m-for-transport-improvements-in-croydon">Mayor announces &pound;6.3m for transport improvements in Croydon<br />16 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound49m-for-transport-improvements-in-lambeth">Mayor announces &pound;4.9m for transport improvements in Lambeth<br />16 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound42m-for-transport-improvements-in-islington">Mayor announces &pound;4.2m for transport improvements in Islington<br />16 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound51m-for-transport-improvements-in-hammersmith-and-fulham">Mayor announces &pound;5.1m for transport improvements in Hammersmith and Fulham <br />16 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound36m-for-transport-improvements-in-greenwich">Mayor announces &pound;3.6m for transport improvements in Greenwich<br />16 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound54m-investment-for-transport-improvements-in-haringey">Mayor announces &pound;5.4m investment for transport improvements in Haringey<br />16 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound5m-for-transport-improvements-in-newham">Mayor announces &pound;5m for transport improvements in Newham<br />16 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound49m-for-transport-improvements-in-ealing">Mayor announces &pound;4.9m for transport improvements in Ealing<br />16 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound34m-for-transport-improvements-in-redbridge">Mayor announces &pound;3.4m for transport improvements in Redbridge <br />16 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound4m-for-transport-improvements-in-hackney">Mayor announces &pound;4m for transport improvements in Hackney<br />16 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound26m-transport-improvements-in-bexley">Mayor announces &pound;2.6m transport improvements in Bexley<br />16 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound49m-for-transport-improvements-in-ealing">Mayor announces &pound;4.9m for transport improvements in Ealing<br />16 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound43m-for-transport-improvements-in-harrow">Mayor announces &pound;4.3m for transport improvements in Harrow<br />15 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound4m-for-transport-improvements-in-waltham-forest">Mayor announces &pound;4m for transport improvements in Waltham Forest <br />15 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound33m-for-transport-improvements-in-barking-and-dagenham">Mayor announces &pound;3.3m for transport improvements in Barking and Dagenham<br />15 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound161m-for-local-transport-improvements-in-london">Mayor announces &pound;161m for local transport improvements in London<br />15 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound35m-for-transport-improvements-in-barnet">Mayor announces &pound;3.5m for transport improvements in Barnet<br />15 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/cabwise-number-60835-not-in-operation-from-1am-until-6am-on-sunday-18-november">Cabwise number 60835 not in operation from 1am until 6am on Sunday 18 November<br />15 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound26m-transport-improvements-in-bexley">Mayor announces &pound;2.6m transport improvements in Bexley<br />15 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound43m-for-transport-improvements-in-sutton">Mayor announces &pound;4.3m for transport improvements in Sutton <br />15 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound31m-for-transport-improvements-in-tower-hamlets">Mayor announces &pound;3.1m for transport improvements in Tower Hamlets<br />15 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound3m-for-transport-improvements-in-wandsworth">Mayor announces &pound;3m for transport improvements in Wandsworth <br />15 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound54m-for-transport-improvements-in-southwark">Mayor announces &pound;5.4m for transport improvements in Southwark <br />15 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-andpound37m-for-transport-improvements-in-westminster">Mayor announces &pound;3.7m for transport improvements in Westminster<br />15 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/mayor-announces-europes-largest-fleet-of-hydrogen-buses-for-london">Mayor announces Europe's largest fleet of hydrogen buses for London <br />13 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/silverlink-lines-under-new-management-as-mayor-launches-london-overground">Silverlink lines under new management as Mayor launches London Overground<br />12 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/transport-bulletin-1400--fire-in-stratford-east-london">Transport bulletin 14.00 - fire in Stratford, East London<br />12 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/have-your-say-on-plans-to-improve-highbury-corner-roundabout-and-the-surrounding-open-space">Have your say on plans to improve Highbury Corner roundabout and the surrounding open space<br />12 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/10000-reasons-to-cycle-to-school">10,000 reasons to cycle to school <br />08 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/first-woman-to-lead-out-london-transport-veterans-on-remembrance-sunday">First woman to lead out London Transport veterans on Remembrance Sunday<br />08 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/more-hybrid-buses-help-make-cleaner-greener-bus-fleet">More hybrid buses help make cleaner, greener bus fleet<br />07 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/ppp-administrator-ernst-and-young-confirms-transport-for-london-as-only-bidder-for-metronet">PPP Administrator Ernst & Young confirms Transport for London as only bidder for Metronet<br />06 Nov 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/november/extra-public-transport-for-diwali-celebrations-at-the-shri-swaminarayan-mandir-neasden">Extra public transport for Diwali celebrations at the Shri Swaminarayan Mandir, Neasden<br />02 Nov 2007</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/36100">January</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24436">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24512">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24600">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24688">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24788">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24856">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24976">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25064">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25240">October</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25320">November</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25568">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 