


@{ViewBag.Title = "December";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2007">2007</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">December</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>December</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/december/fares-freezes-mean-happy-new-year-for-londons-passengers">Fares Freezes mean Happy New Year for London's passengers <br />31 Dec 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/december/transport-for-londons-cycling-tips-for-winter">Transport for London's cycling tips for winter<br />28 Dec 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/december/oyster-pay-as-you-go-on-three-more-mainline-routes">Oyster pay as you go on three more mainline routes<br />27 Dec 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/december/tube-breaks-record-for-passenger-numbers">Tube breaks record for passenger numbers<br />27 Dec 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/december/walk-off-the-seasonal-overindulgences">Walk off the seasonal overindulgences<br />21 Dec 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/december/transport-for-london-prosecutes-thames-water-for-streetworks-violations">Transport for London prosecutes Thames Water for streetworks violations<br />21 Dec 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/december/direct-enquiries-wins-award-for-groundbreaking-underground-information-service">Direct Enquiries wins award for groundbreaking Underground information service <br />20 Dec 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/december/limehouse-link-tunnel-closure-for-essential-safety-improvements">Limehouse Link tunnel closure for essential safety improvements<br />19 Dec 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/december/bus-routes-diverted-due-to-thames-water-works">Bus routes diverted due to Thames Water works<br />19 Dec 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/december/transport-for-london-wins-independent-living-award">Transport for London wins Independent Living Award<br />14 Dec 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/december/shepherds-bush-central-line-station-to-close-for-major-improvements">Shepherd's Bush (Central line) station to close for major improvements<br />14 Dec 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/december/travel-information-for-the-festive-period">Travel information for the festive period <br />14 Dec 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/december/licensed-minicabs-given-red-route-exemption">Licensed minicabs given red route exemption<br />13 Dec 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/december/have-your-say-on-revised-criteria-for-london-service-permits">Have your say on revised criteria for London Service Permits<br />13 Dec 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/december/new-docklands-light-railway-station-opens-at-langdon-park">New Docklands Light Railway station opens at Langdon Park <br />10 Dec 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/december/victoria-station-upgrade-works-mean-victoria-line-trains-will-not-stop-at-victoria-station-over-christmas-and-the-new-year">Victoria Station Upgrade works mean Victoria line trains will not stop at Victoria Station over Christmas and the New Year<br />10 Dec 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/december/operators-must-act-now-to-prepare-for-londons-low-emission-zone">Operators must act now to prepare for London's Low Emission Zone <br />10 Dec 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/december/transport-for-london-staff-energy-pledge-saves-more-than-half-a-million-kilograms-of-co2">Transport for London staff energy pledge saves more than half a million kilograms of CO2<br />10 Dec 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/december/liverpool-street-station-closed-for-works-over-christmas">Liverpool Street Station closed for works over Christmas <br />06 Dec 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/december/congestion-charge-penalty-to-be-brought-in-line-with-other-traffic-offences">Congestion Charge penalty to be brought in line with other traffic offences <br />06 Dec 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/december/transport-for-london-achieves-andpound100m-savings-on-office-space">Transport for London achieves &pound;100m savings on office space <br />05 Dec 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/december/oyster-hottest-ticket-in-town-for-free-music-downloads">Oyster hottest ticket in town for free music downloads<br />04 Dec 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2007/december/tfl-consults-on-white-city-bus-service-proposals">TfL consults on White City bus service proposals<br />03 Dec 2007</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/36100">January</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24436">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24512">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24600">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24688">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24788">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24856">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/24976">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25064">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25240">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25320">November</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007/25568">December</a></div>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 