


@{ViewBag.Title = "375 more Police Community Support Officers for Londons transport network";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>375 more Police Community Support Officers for Londons transport network</h1>
        <div class="content-page-press-release">
        03 October 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London has offered Transport for London (TfL) and the Metropolitan Police Service (MPS) joint funding to provide an extra 375 Police Community Support Officers to patrol the transport network over the next two years.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            More uniformed officers patrolling the transport system is the key to deter criminals and reassure passengers
                            
                        </p>
                    </div>
                
            
            
            
<p>The Police Community Support Officers would be deployed in mobile 
'transport teams' in suburban areas and outer London borough. </p>
<p>They could also be deployed to different parts of London on a weekly basis to 
areas where patterns of antisocial behaviour have been identified as local hot 
spots by intelligence gathered by TfL and the Transport Operational Command Unit 
(TOCU). </p>
<p>The Mayor would like to see these teams deployed by early 2007 to concentrate 
on tackling fare evasion and antisocial and criminal behaviour at major 
transport interchanges, bus stations and schools.</p>
<p>London's surface transport network is already patrolled by more than 1,200 
uniformed Metropolitan Police officers in the TOCU funded by TfL.</p>
<p>Mayor of London Ken Livingstone said: "I am proposing that we invest another 
&pound;7.5m to expand the number of visible uniformed officers on London's transport 
system. </p>
<p>"These officers, based in suburban areas, will make a real difference to 
people living or working in outer London. </p>
<p>"More uniformed officers patrolling the transport system is the key to deter 
criminals and reassure passengers."</p>
<p>
<h2>Safety and security</h2>
<p>
<p>Jeroen Weimar, TfL's Director of Transport Policing and Enforcement, said: 
"Transport for London is absolutely committed to tackling antisocial behaviour 
on all modes of transport and in all areas of London. </p>
<p>"We are now working with our Metropolitan Police colleagues to identify how 
funding could be provided to ensure that this valuable increase in policing 
resource can be achieved and with it we would expect to see a change in the 
attitudes of the tiny minority of members of the public who cause problems on 
the transport network.</p>
<p>"The intelligence we gather on a daily basis would be fed through to these 
new policing teams to provide not only a visible deterrent to those intent on 
causing trouble, but will also provide reassurance to passengers."</p>
<p>The new teams would be attached to MPS Borough Operational Command Units 
(BOCUs) with the MPS providing day-to-day supervision and management. </p>
            <ul>
<li>The new Police Community Support Officers will be part-funded by the Home Office as part of the National Reassurance Programme. TfL will provide &pound;7.5m for 375 officers for 2007/08 and 2008/09</li>
<li>TfL has a unique partnership with the Metropolitan Police Service's Transport Operational Command Unit,which it funds at a cost of around &pound;70m a year, and which has over 1,200 uniformed officers dedicated to the bus network</li>
<li>Since the end of 2005, all of London's 8,000 buses are fitted with fully recording CCTV - there are now between 55,000 and 60,000 cameras fitted on the fleet. In additional there are over 6,000 CCTV cameras on the Underground network - increasing to 12,000 by 2010</li>
<li>Policing on the Underground is the responsibility of the British Transport Police</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Police Community Support Officers would be deployed in mobile 'transport teams' in suburban areas and outer London borough. They could also be deployed to different parts of London on a weekly basis to areas where patterns of antisocial behaviour have";}
        
        


 