


@{ViewBag.Title = "Buskers success reaches biblical heights";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Buskers success reaches biblical heights</h1>
        <div class="content-page-press-release">
        09 October 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Two talented London Underground (LU) buskers are to leave their Tube pitch to go and perform at the famous concert venue St James's Church in Piccadilly on 20 October 2006.
        
    </div>



 <div class="on-this-page">
<p>Soprano and Underground musician Angelina Kalahari accompanied by fellow busker and guitarist Richard Stevenson will perform alongside Reading University Piano Professor Elizabeth Dockrell-Tyler.</p>
<p>Angelina said: "Performing at St James's Church, such an eminent and popular venue is really a dream come true. </p>
<p>"It will be an experience we will cherish forever. World famous musicians such as classical Guitarist John Williams have performed there so it is truly an honour for us."</p>
<p>The concert, entitled An Evening of Enchanting Classics by the trio Timeless, will feature masterpieces such as Puccini's O mio babbino caro; Debussy's Claire de Lune and Rodrigo's En Aranjuez don tu amor.</p>
<p>Steve Charlick, LU Technical Specialist Manager who heads the LU busking scheme, remarked: "We are really proud of Angelina and Richard's achievement. </p>
<p>"They have both been with us since the London Underground busking scheme started in 2003.</p>
<p>"Their fantastic success demonstrates that thanks to the audition process we have put in place the quality of the music we offer passengers on the Underground is at an all time high and we have witnessed several similar success stories. </p>
<p>"I am looking forward to attending this concert which I know will be unforgettable."</p>
<p>The gifted trio will perform using a nine foot Bosendorfer piano; one of only two such pianos for public use in London.</p>
            <ul>
<li>An Evening of Enchanting Classics will take place at St James's Church, 197 Piccadilly, London W1J 9LL </li>
<li>For tickets and reservation, please ring 020 7381 0441. Tickets are priced at &pound;15/&pound;8 concessions </li>
<li>Sponsored by Carling, the LU busking initiative was originally launched from 19 May 2003 to 6 June 2003 after LU won the right in 2001 to change national law and the local bylaws to legalise licensed busking </li>
<li>The scheme was developed as a response to customer demand for talented musicians being licensed to play at stations </li>
<li>Commercial backing from Carling helps fund the recruitment and auditioning of musicians as well as the management of the scheme by professional artist management company, Automatic Management </li>
<li>Licensed buskers are chosen on talent, with emphasis strongly placed on meeting the wide-ranging musical tastes of Tube passengers </li>
<li>Buskers are not paid by LU or Carling and rely on the generosity of Tube passengers </li>
<li>All buskers have to pass an audition in front of a judging panel and are vetted for any police convictions before they are issued a London Underground Busking Licence </li>
<li>The scheme's overnight success resulted in its gradual expansion in the last two years:there are now 34 pitches in 23 stations and around 300 licensed buskers </li>
<li>Information is available on how to apply to <a href="/corporate/projectsandschemes/2435.aspx">become a LU busker</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Soprano and Underground musician Angelina Kalahari accompanied by fellow busker and guitarist Richard Stevenson will perform alongside Reading University Piano Professor Elizabeth Dockrell-Tyler.Angelina said: 'Performing at St James's Church, such an";}
        
        


 