


@{ViewBag.Title = "Campaign to tackle illegal minicabs in London wins policing award";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Campaign to tackle illegal minicabs in London wins policing award</h1>
        <div class="content-page-press-release">
        11 October 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Safer Travel at Night, a campaign in London to tackle illegal minicabs and reduce sexual attacks by illegal minicab drivers, has won a prestigious, international award.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This issue of illegal taxi touts is one we take extremely seriously
                            
                        </p>
                    </div>
                
            
            
            
<p>The Safer Transport at Night project - a partnership between the 
Mayor of London, Transport for London (TfL) and the Metropolitan Police - has 
been awarded the 14th annual Goldstein Award for Problem Orientated Policing for 
2006. </p>
<p>The award, which receives entries from a number of countries around the 
world, is given to a project that best reflects excellence in problem-orientated 
policing. </p>
<p>Since the campaign started in 2002, sexual assaults in illegal minicabs have 
fallen from an average of 18 a month to 10 a month currently. There has been a 
reduction in the usage of illegal cabs by women from 19 per cent in September 
2003 to four per cent in February 2006. </p>
<p>The Mayor of London, Ken Livingstone, said: "The Safer Travel at Night 
campaign has successfully bought together key agencies to tackle the issue of 
illegal minicabs in London. </p>
<p>"Sexual attacks by minicab touts have fallen as a result of our work to 
license the minicab trade, as well as warning the public of the dangers of 
taking these illegal cabs, and by providing alternative late night travel 
choices. </p>
<p>"This award is welcome recognition, but we will not let up in our work to 
stamp out assaults."</p>
<p>Steve Burton, TfL's deputy director of Transport Policing and Enforcement, 
said: "To win this international award is testament to the dedication of all 
three agencies involved in the Safer Travel at Night initiative, which is an 
ongoing campaign. </p>
<p>
<h2>Public awareness</h2>
<p>
<p>"This is the first time an application led by a non-policing organisation has 
won this award so it is something we are very proud of as our commitment to the 
safety of both our staff and passengers is our top priority.</p>
<p>"This issue of illegal taxi touts is one we take extremely seriously, and as 
well as undertaking regular night time operations in London, we have carried out 
high profile marketing campaigns warning Londoners, particularly young women, of 
the dangers of getting into an illegal minicab."</p>
<p>Chief Superintendent Michael Humphrey, Transport Operational Command Unit, 
said: "Safer Travel at Night helps raise public awareness about the dangers of 
taxi touts who undermine the legitimate private hire vehicle trade.<br><br>"I 
would advise everyone not to get into any vehicle that they have not booked 
through a reputable licensed company. I congratulate TfL on their achievement in 
leading this initiative recognised by the Goldstein award." </p>
<p>
<h2>Marshalled ranks</h2>
<p>
<p>TfL's entry was based on the Safer Travel at Night project partnership.</p>
<p>The project's successes include the 'Know what you're getting into' public 
awareness campaign, more night buses than ever before, the licensing of all 
minicabs vehicles and operators, making taxi touting a recordable offence, 
marshalled taxi ranks and, by the end of 2005, all buses in the Capital were 
fitted with CCTV.</p>
<p>In addition, the Transport Operational Command Unit - a dedicated Police unit 
set up to target crime relating to bus services and minicab activities - 
undertakes policing operations to target minicab touts.</p>
<hr>

<p>For 24-hour information on public transport in London, please call: 020 7222 
1234.<br><br>TfL's Realtime pages display live travel information on London's 
public transport network: <a href="http://www.tfl.gov.uk/realtime">www.tfl.gov.uk/realtime</a> </p>
<p>Journey Planner checks the transport network's status before providing 
results. The best available route is shown automatically: <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> 
</p>
<p>Travel alerts via SMS and email can be set up at: <a href="http://www.tfl.gov.uk/alerts">www.tfl.gov.uk/alerts</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Safer Transport at Night project - a partnership between the Mayor of London, Transport for London (TfL) and the Metropolitan Police - has been awarded the 14th annual Goldstein Award for Problem Orientated Policing for 2006. The award, which receives";}
        
        


 