


@{ViewBag.Title = "Chiswick Park improvement works";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Chiswick Park improvement works</h1>
        <div class="content-page-press-release">
        06 October 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Chiswick Park westbound platform will be closed from Sunday 15 October until Tuesday 14 November 2006 to allow essential repair work to be carried out to station canopies which are of unique design as part of station modernisation works.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Passengers should notice a much brighter, cleaner station when the work is done
                            
                        </p>
                    </div>
                
            
            
            
<p>The eastbound platform will then be closed from Wednesday 15 
November until Tuesday 12 December 2006.</p>
<p>The work at Chiswick Park is part of Transport for London's (TfL's) &pound;10bn 
Investment Programme to improve and expand London's transport network, over half 
of this is being spent on the Tube. The works are being undertaken by Metronet 
Rail SSL.</p>
<p>The closure of the Westbound platform will mean that westbound trains on the 
District line will not stop at Chiswick Park station. </p>
<p>Customers travelling westbound to Chiswick Park are advised to stay on the 
train and change at Acton Town for eastbound District line services.</p>
<p>After 00.18 on Monday to Saturday night and after 23.47 on Sunday night, 
customers are advised to change at Turnham Green for local buses which run all 
night. </p>
<p>Customers travelling westbound from Chiswick Park are advised to take an 
eastbound train to Turnham Green and change for an Ealing Broadway service. </p>
<p>From 15 November until Tuesday 12 December, the eastbound platform will be 
closed. </p>
<p>
<h2>Modernisation programme</h2>
<p>
<p>Customers travelling eastbound to Chiswick Park are advised to stay on the 
train and change at Turnham Green for an Ealing Broadway service.</p>
<p>Before 05.23 on Monday to Saturday mornings and 06.41 on Sunday mornings, 
customers are advised to change at Turnham Green and use local buses which run 
all night. </p>
<p>Customers travelling eastbound from Chiswick Park are advised to take a 
westbound train to Acton Town and change for an eastbound service. </p>
<p>During the westbound and eastbound platforms closures, valid Underground 
tickets will be accepted on the alternative routes. </p>
<p>
<h2>Essential repairs</h2>
<p>
<p>Customers should allow up to 15 minutes extra to complete their journeys.</p>
<p>Bob Thorogood, District line General Manager, said: "During the platform 
closures, essential repair work will be carried out to the canopies which are of 
a unique design.</p>
<p>"Passengers should notice a much brighter, cleaner station when the work is 
done as well as improved safety and security features including state-of-the-art 
CCTV and passenger Help Points."</p>
<p>Improvements being made to Chiswick Park include:</p>
<ul>
<li>Restoration of station heritage features 
</li><li>State-of-the-art CCTV system 
</li><li>More Help Points around the station to aid passengers. Help Points will all 
be equipped with 'Information' and 'Emergency' buttons and will have an 
induction loop for the hearing impaired 
</li><li>Enhanced PA systems 
</li><li>Tactile strips on platforms and stairs and contrasting handrails for the 
partially sighted 
</li><li>Better lighting<br></li></ul>
<hr>

<p>For 24-hour information on public transport in London, please call: 020 7222 
1234.<br><br>TfL's Realtime pages display live travel information on London's 
public transport network: <a href="http://www.tfl.gov.uk/realtime">www.tfl.gov.uk/realtime</a> </p>
<p>Journey Planner checks the transport network's status before providing 
results. The best available route is shown automatically: <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> 
</p>
<p>Travel alerts via SMS and email can be set up at: <a href="http://www.tfl.gov.uk/alerts">www.tfl.gov.uk/alerts</a></p>
            <ul>
<li>TfL is investing &pound;10bn over the next five years to improve and expand London's transport network, more than half of that in the Tube 
</li><li>The westbound platform will be closed from Sunday 15 October until Tuesday 14 November 
</li><li>The eastbound platform will be closed from Wednesday 15 November until Tuesday 12 December 
</li><li>Metronet Rail SSL is responsible for renewal and maintenance of the Circle, District, Hammersmith & City, Metropolitan and East London lines</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The eastbound platform will then be closed from Wednesday 15 November until Tuesday 12 December 2006.The work at Chiswick Park is part of Transport for London's (TfL's) &pound;10bn Investment Programme to improve and expand London's transport network,";}
        
        


 