


@{ViewBag.Title = "Cycle Show 2006 - Gearing up for the Tour de France";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Cycle Show 2006 - Gearing up for the Tour de France</h1>
        <div class="content-page-press-release">
        03 October 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Fans of the Tour de France can get a taste of next July's London Grand D&eacute;part this week, when Transport for London's (TfL) Tour de France road show comes to Cycle Show 2006.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
<p>
The more cyclists there are, the less polluted and congested London becomes
</p>
</div>
<p>Open to the public from 6-8 October, Cycle Show 2006 will give people the chance to learn more about how to take to two wheels, see the latest bikes and accessories and try out mountain bikes on the outdoor test track.</p>
<p>TfL's road show is an exciting way for people to find out about the opening weekend of next year's Tour de France, which takes place in London and Kent. </p>
<p>The show will take people on their very own tour, all the way through from the opening ceremony in central London on Friday, 6 July to the end of the Stage One race in Canterbury on Sunday, 8 July. </p>
<p>In addition to the excitement around next year's Tour de France, people at the Cycle Show can go online in TfL's cyber caf<span>&eacute;</span> area to find out more about cycling in London. </p>
<p>With advice on everything from cycle training in the Capital to planning cycle routes, the TfL website is an invaluable resource for cyclists and aspiring cyclists in the Capital. </p>
<p>Bradley Wiggins, Cycling Ambassador for London, said: "The Cycle Show is a great way for people to find out more about cycling in the Capital - whether they want to know about the Tour de France next summer, what the best route for their commute to work is or see the latest bikes on the market. </p>
<p>"And as the number of cyclists in the capital continues to grow, it also shows people everything that cycling can offer them - whether it is a form of transport, a fun hobby or even, as in my case, a sporting career."</p>
<p>Jenny Jones, the Mayor's Green Transport Advisor, said: "More and more people are switching to cycling in the Capital because it is fun, it has health benefits and is a quick and easy way to get about. </p>
<p>"I hope the Cycle Show inspires people who haven't cycled for a while or new cyclists to get on their bikes in London. The more cyclists there are, the less polluted and congested London becomes."</p>
<p>Finally, the winning entries for TfL's CycleSafer Challenge - an annual competition for London school children aged between 9 and 11 - will be on display throughout the run of the show. </p>
<p>The children were asked to design a safety product, safety poster or design a cycle friendly school, and with a number of brand new mountain bikes as prizes, the number of entries this year was higher than ever. </p>
<p>The Cycle Show takes place at ExCel from 6 - 8 October. Tickets cost &pound;12 on the door and &pound;10 in advance, and kids go for a quid with a paying adult.</p>
<ul>
    <li>For more information about Cycle Show or to arrange press accreditation for trade and press day on 5 October, visit the <a href="http://www.cycleshow.co.uk">Cycle Show website </a></li>
    <li>More information on next year's Tour de France is also available</li>
    <li>For more information about cycling in London, visit <a href="http://www.tfl.gov.uk/cycles">www.tfl.gov.uk/cycles</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Open to the public from 6-8 October, Cycle Show 2006 will give people the chance to learn more about how to take to two wheels, see the latest bikes and accessories and try out mountain bikes on the outdoor test track.TfL's road show is an exciting way";}
        
        


 