


@{ViewBag.Title = "DLR London City Airport station wins major rail award";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>DLR London City Airport station wins major rail award</h1>
        <div class="content-page-press-release">
        06 October 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Docklands Light Railway (DLR) London City Airport station has scooped the Community Rail Award for best 'Local Transport Integration Project'.
        
    </div>



 <div class="on-this-page">
<p> The station, which sits at the heart of the DLR London City Airport extension and opened in December 2005, was praised by judges as "an excellent and a major improvement to transport access". </p>
<p>The station was also commended for "integrating many transport modes within a major city", as it directly links the airport and neighbouring bus and walking routes to the DLR. </p>
<p>Airport passengers can be on the DLR platform from the airport terminal in just four minutes, while local residents using the station gain access via a fully-accessible street-level entrance. </p>
<p>The station is also served by two large-size passenger lifts that accommodate people with restricted mobility, wheelchair users and pushchairs.</p>
<p>The Community Rail Awards are organised by The Association of Community Rail Partnerships and were presented by Adrian Lyons CBE, Director General of The Railway Forum, and Heidi Mottram, Managing Director of Northern Rail.</p>
<p>Ian Brown, Managing Director of Transport for London's London Rail and Chairman of DLR, congratulated Richard De Cani, DLR Head of Development and Planning, and his team on the award and the delivery of the station. </p>
<p>He said: "It is a pleasure to pick up this award from our industry peers, as it is a fitting tribute to a genuinely integrated transport scheme. </p>
<p>"The success of London City Airport station and the DLR extension in encouraging usage among both airport travellers and local residents is reflected in rapidly increasing passenger numbers, currently at 85,000 per week. </p>
<p>"The route will be further extended to Woolwich Arsenal in 2009, providing direct cross-river access to the airport."</p>
<p>As part of its winning award entry DLR was given &pound;150, which it will donate to a local charity.</p>
            <ul>
<li>DLR is part of Transport for London</li>
<li>The Community Rail Awards were held on 22 September 2006 at Locomotion Collections Building, Shildon, Darlington</li>
<li>DLR won the overall 2006 Railway Industry Innovation Award in June for 'Delivering a successful railway through effective  partnerships'</li>
<li>The DLR London City Airport extension has been shortlisted for the London Planning Award, 'Best built project contributing to  London's future' - the winner will be announced in November</li>
<li>The DLR London City Airport extension was opened ahead of schedule and on budget in December 2005</li>
<li>The Association of Community Rail Partnerships is a not-for profit organisation working to develop and improve rural and local lines</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The station, which sits at the heart of the DLR London City Airport extension and opened in December 2005, was praised by judges as 'an excellent and a major improvement to transport access'. The station was also commended for 'integrating many transport";}
        
        


 