


@{ViewBag.Title = "Feel your way around the Underground";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Feel your way around the Underground</h1>
        <div class="content-page-press-release">
        04 October 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Blind and partially sighted people will be able to feel their way around some of London's busiest Underground stations for the first time - thanks to a new initiative launched today by London Underground (LU), the Royal National Institute of the Blind (RNIB) and Describe Online.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These new tactile maps along with the detailed descriptions available online are great
                            
                        </p>
                    </div>
                
            
            
            <p>Blind passengers will be able to receive free books of tactile maps, made up of raised lines, which are read by touch instead of sight, to help them find their way around Old Street, Westminster and Earl's Court Underground stations.</p>
<p>The maps, which are also available in large print for partially sighted people, were commissioned by LU from RNIB as part of a pilot project to provide information which sighted passengers take for granted. </p>
<p>Currently blind and partially sighted people often have to rely on station staff to guide them around Underground stations.</p>
<p>Ken Livingstone, Mayor of London said: "The launch of large-print station maps and Tube maps that can be read through touch by blind and partially sighted people is another positive step towards making London a truly accessible and inclusive city. </p>
<p>"It is exactly this kind of initiative that will help blind and partially-sighted people to travel safely and with confidence, and to get the most out of all that the city has to offer."</p>
<p>
<h2>Accessible</h2>
<p>
<p>Tim O'Toole, LU Managing Director said: "London Underground is investing more than ever before to make the Tube as accessible as possible for all customers.</p>
<p>"Accessibility is about more than step-free access and features such as induction loops, tactile paving and additional and more visible Help and Information Points will be added to stations as modernisations and refurbishments of Tube stations are completed.</p>
<p>"In addition to these important changes LU is committed to ensuring that by 2010, 25 per cent of Tube stations will have step-free access and this will increase to one third of stations by 2013."</p>
<p>Dave Taylor, 36, from Birmingham, who is registered blind and travels to London regularly said: "It can be unsettling using the underground. </p>
<p>"When I'm unfamiliar with a station I normally ask for help from station staff to get around. </p>
<p>"That can be invaluable, but what I would really love is to be able to travel independently if I choose to and not have to rely on other people. </p>
<p>
<h2>Tactile maps</h2>
<p>
<p>"These new tactile maps along with the detailed descriptions available online are great. </p>
<p>"After studying them, I have a really clear idea of how the stations are laid out and how to get from one part to another. It means I can negotiate these stations on my own. </p>
<p>"I'm happier and more confident, and feel a lot more in control. I hope that they will be available for more stations soon." </p>
<p>RNIB's Dr Sarah Morley Wilkins, said: "Many blind and partially sighted people have difficulty using public transport or getting around the streets. </p>
<p>"Almost half of people with sight problems specifically find trains difficult to use and many feel that travelling alone is just not safe for them. With the right support and adjustments, it doesn't have to be that way.</p>
<p>"The availability of station staff to assist blind and partially sighted people in Tube stations is still vital. </p>
<p>"What we hope these maps will provide is added knowledge so that blind passengers can for example, get from the station platform or the station entrance to the manual gate where staff will be available to help them, safely and with confidence.</p>
<p>"We're really pleased to have had the opportunity to work with London Underground on this project. </p>
<p>"As it's a pilot, we'll be asking for feedback from blind and partially sighted passengers who have used the new maps."</p>
<p>
<h2>User research</h2>
<p>
<p>The tactile and large print station maps were developed by RNIB with the help of 15 blind and partially sighted underground users who took part in research to specify their travel needs and review samples of the maps to evaluate their effectiveness.</p>
<p>Station layout, including the location of the ticket office, manual gate, platforms, stairs, escalators, lifts and exits are all deta
            <ul>
<li>For more information and case studies please contact Christina Nicolaidou or Paul McDonald in RNIB Press Office on 020 7391 2223 </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Blind passengers will be able to receive free books of tactile maps, made up of raised lines, which are read by touch instead of sight, to help them find their way around Old Street, Westminster and Earl's Court Underground stations.The maps, which are";}
        
        


 