


@{ViewBag.Title = "Government gives green light to key 2012 rail link";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Government gives green light to key 2012 rail link</h1>
        <div class="content-page-press-release">
        25 October 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Department for Transport (DfT) today gave planning approval for the six kilometre extension of the Docklands Light Railway (DLR) to Stratford International station and the heart of the Olympic Park - providing a vital rail link for the 2012 Olympic and Paralympic Games.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The extension is central to London's preparations for the 2012 Olympic and Paralympic Games
                            
                        </p>
                    </div>
                
            
            
            <p>The Stratford International Extension, due to open in 2010, is funded by Transport for London's (TfL's) &pound;10bn Investment Programme and a contribution from the Olympic Delivery Authority. </p>
<p>It involves the conversion of part of the North London Line to DLR operation, between Royal Victoria and Stratford, and the construction of a further link to the new Channel Tunnel Rail Link (CTRL) station at Stratford International. </p>
<p>The DLR extension means that passengers arriving at Stratford International station in 2012 will be able to quickly and easily access the Olympic Park at Stratford, and other Olympic and Paralympic venues using the DLR and its connections to the rest of London's transport network.</p>
<p>Mayor of London Ken Livingstone said: "The extension of the Docklands Light Railway to the new Stratford International station is central to London's preparations for the 2012 Olympic and Paralympic Games. </p>
<p>"It will mean that visitors from all over the world will be able to access the Olympic Park quickly and easily, and will provide a lasting legacy for London, bringing much-needed regeneration to the areas along the route."</p>
<p>The Stratford International extension will serve existing stations at Stratford, West Ham, Canning Town and Royal Victoria, which will be converted to DLR specifications with improved accessibility and step-free access. </p>
<p>Four new, fully accessible stations will be built at Star Lane, Abbey Road, Stratford High Street and Stratford International to serve existing and future communities. </p>
<p>The DLR station at Stratford International will provide an important interchange with Eurostar services from the CTRL station, as well as linking up to the Stratford City development and the Olympic Park. </p>
<p>
<h2>Frequent service</h2>
<p>
<p>Ian Brown, Managing Director of TfL London Rail and Chairman of DLR, said: "I am delighted that Docklands Light Railway has been given the green light for its Stratford International Extension which will be key to the Olympics and to meeting ever-growing passenger demand.</p>
<p>"Docklands Light Railway has an unrivalled track record for delivering extensions on time and on budget. It has also demonstrated consistently high levels of punctuality and customer satisfaction, making it perfectly placed to deliver this key rail link by 2012.</p>
<p>"Once complete, the Stratford International Extension will link up with other Docklands Light Railway extensions to London City Airport and Woolwich Arsenal, providing a direct cross-river passenger link from Stratford to the centre of Woolwich."</p>
<p>When the Docklands Light Railway extension to Stratford International is complete, passengers will benefit from more frequent and reliable train services, increased from two trains per hour now to at least six trains per hour from 2010 and even more at peak times. </p>
<p>During the 2012 Games, the extension will be able to run up to 27 DLR trains per hour, capable of transporting approximately 13,500 passengers per hour in each direction.</p>
            <ul>
<li>The DfT today awarded Transport Works Act powers to Docklands Light Railway to build the Stratford International Extension</li>
<li>The planning approval includes the closure of part of the existing North London Line (Stratford to Canning Town) on 10 December 2006, in order to convert it to DLR operation</li>
<li>Following this closure, North London Line passengers will be able to make use of the Jubilee line between Stratford and Canning Town and the DLR from Canning Town to King George V, which follows a very similar route</li>
<li>The Stratford International Extension is being funded by TfL and the Olympic Delivery Authority, with the total value likely to exceed &pound;200m</li>
<li>DLR has already started the process of selecting contractors to design and build the Stratford International Extension. Preliminary work will start in January 2007, with a target completion date of summer 2010</li>
<li>DLR's two most recent extensions, to Lewisham and London City Airport, were completed ahead of schedule and on budget. A further extension under the Thames to Woolwich Arsenal is on target to open in early 2009</li>
<li>DLR won the overall 2006 Railway Industry Innovation Award in June for 'Delivering a successful railway through effective partnerships</li>
<li>DLR is part of Transport for London<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Stratford International Extension, due to open in 2010, is funded by Transport for London's (TfL's) &pound;10bn Investment Programme and a contribution from the Olympic Delivery Authority. It involves the conversion of part of the North London Line to";}
        
        


 