


@{ViewBag.Title = "Have your say - Croydon Tramlink extension to Crystal Palace";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Have your say - Croydon Tramlink extension to Crystal Palace</h1>
        <div class="content-page-press-release">
        19 October 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From 19 October until 18 December, Transport for London (TfL) will be asking people for their views on three potential route options for the proposed Croydon Tramlink extension to Crystal Palace.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Extending Tramlink to Crystal Palace would complement the existing and planned regeneration of the area
                            
                        </p>
                    </div>
                
            
            
            <p>The proposed Croydon Tramlink Extension to Crystal Palace is a 3km route linking the existing Tramlink network, from the Harrington Road tram stop, with the Anerley and Crystal Palace areas, cutting travel times between Croydon and Crystal Palace to 18 minutes.</p>
<p>Extending Tramlink to Crystal Palace would complement the existing and planned regeneration of the area, particularly the redevelopment of Crystal Palace Park planned by the London Development Agency.</p>
<p>It would also provide an interchange with the extended East London Line at Crystal Palace Station. <br><br>Local residents within 1km of the route options will receive a consultation brochure with a feedback questionnaire and there will be exhibitions in the Crystal Palace area, staffed by members of the project team. </p>
<p>Anyone who wishes to take part in the consultation can also reply online at <a href="http://www.tfl.gov.uk/croydontrams">www.tfl.gov.uk/croydontrams</a> or by calling freephone 0800 234 6697.</p>
            <ul>
<li>The route options run between the existing Harrington Road tram stop and the bus terminus on Crystal Palace Parade.<br>Between Harrington Road and Penge Road the tram would run on the railway embankment 
</li><li>Beyond Penge Road the tram would cross the Brighton Main Line and continue running along the side of the railway tracks towards Anerley Road 
</li><li>From Anerley Road there are a number of alignment options being considered to enable the tram to reach Crystal Palace rail station and then continue to the bus station at the top of Anerley Hill, including one that runs predominately in the Park and one that runs solely on the existing road network 
</li><li>Road shows: <br>Ledrington Road (trailer)<br>Thursday 2 November, 11.00 - 20.00<br>Friday 3 November. 11.00 - 20.00<br>Saturday 4 November, 12.00 - 17.00<br><br>Upper Norwood Salvation Army Hall, Westow Street<br>Friday 10 November, 11.00 - 20.00<br>Saturday 11 November, 12.00 - 17.00</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The proposed Croydon Tramlink Extension to Crystal Palace is a 3km route linking the existing Tramlink network, from the Harrington Road tram stop, with the Anerley and Crystal Palace areas, cutting travel times between Croydon and Crystal Palace to 18";}
        
        


 