


@{ViewBag.Title = "Junior Road Safety Officer scheme wins international road safety award";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Junior Road Safety Officer scheme wins international road safety award</h1>
        <div class="content-page-press-release">
        12 October 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A road safety scheme for nine to 11-year-olds in London has been recognised with a prestigious award, just one year after being established.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This award recognises the important work being done by London's team of Junior Road Safety Officers
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London's (TfL's) Junior Road Safety Officer (JRSO) scheme will be presented with a prestigious Prince Michael of Kent International Road Safety Award today, during a special JRSO event in Kingston Guildhall. </p>
<p>Designed for nine to 11-year-olds, the JRSO scheme recruits one or two children in each participating school to act as road safety champions and lead on promoting road safety issues amongst their peers, through initiatives such as games, competitions and special assemblies. </p>
<p>It aims to give the children a good grounding in road safety education as they prepare to make the transition to secondary school - the point at which many children begin to travel independently for the first time. </p>
<p>The scheme is playing an important role in reducing the numbers of children killed or seriously injured on London's roads, which has fallen by 62 per cent from an average of 935 a year in the mid to late 1990s to 355 in 2005.</p>
<p>Prince Michael Road Safety Awards are presented to individuals, companies or organisations in recognition of their outstanding contribution to improving road safety. </p>
<p>The Mayor of London, Ken Livingstone. said:"This award recognises the important work being done by London's team of Junior Road Safety Officers who are helping make the capital's roads safer. Congratulations to them all."</p>
<h2>Empowering children</h2>
<p>Also congratulating the winners, Adrian Walsh, Director of the Prince Michael International Road Safety Awards, said: "There is little doubt that empowering children is a really effective way of increasing awareness and raising standards in the community. 
<p>"The commitment of these young people is outstanding and the London JRSOs have set a really high standard which should be copied across the country."</p>
<p>Janet Kirrage, London Road Safety Education Manager at TfL, said: "The first year of the TfL Junior Road Safety Officer scheme got a brilliant response from schools across London. This initiative, led by children for children, is playing a vital role in the work TfL is doing to reduce child road casualty figures in London - which have fallen by 62 per cent since the mid to late 1990s. </p>
<p>"While there is still a long way to go, we are delighted that the JRSO project has been recognised with this Prince Michael International Road Safety Award, and we look forward to the schemes continued growth and success over the next few years."</p>
<p>The Kingston event has been organised by the Royal Borough of Kingston upon Thames to welcome the borough's new JRSOs to their roles as road safety champions in their respective schools. </p>
            <ul>
<li>The number of children killed or seriously injured on London's roads has fallen from an average of 935 a year in the mid to late 1990s to 355 in 2005, a 62 per cent reduction 
</li><li>The Junior Road Safety Officer (JRSO) scheme involves schools 'recruiting' one to two Years Five- Six pupils (aged nine -11) to take a lead on promoting road safety issues in their school communities in interesting and creative ways 
</li><li>The appointed children teach their peers about road safety through games, competitions, plays, etc. They are given a colourful pack of resources to help them, along with a special badge, bag and pencil case. There is also a child-friendly website supporting the scheme - <a href="http://www.tfl.gov.uk/juniorroadsafety">www.tfl.gov.uk/juniorroadsafety</a> and a school guide pack for the school staff member who supports the children during their year as a JRSO 
</li><li>During 2005/06, 550 Year Five and Six students from around 200 London schools worked hard to promote road safety within their schools, creating a remarkable variety of projects - from a road safety website to presenting a local MP with a petition for a pedestrian crossing 
</li><li>London boroughs participated in TfL's JRSO scheme in 2005/06 - Barking & Dagenham, Barnet, Bexley, Camden, Croydon, Greenwich, Hammersmith & Fulham, Harrow, Hounslow, Islington, Kensington and Chelsea, Kingston Upon Thames, Lewisham, Merton, Newham, Redbridge, Tower Hamlets and Waltham Forest. Over 550 children in 200 schools took part, and that number is set to grow this academic year as more boroughs and schools join the scheme </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London's (TfL's) Junior Road Safety Officer (JRSO) scheme will be presented with a prestigious Prince Michael of Kent International Road Safety Award today, during a special JRSO event in Kingston Guildhall. Designed for nine to";}
        
        


 