


@{ViewBag.Title = "New Transport for London exhibition asks Londoners to talk the walk";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New Transport for London exhibition asks Londoners to talk the walk</h1>
        <div class="content-page-press-release">
        09 October 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new study has found that more than 44 per cent of pedestrians use the Tube map to navigate their way around the Capital. The study also shows that confusion over the 32 different types of signs for walking in central London mean that many people end up making journeys by car, bus or Tube that would have been a quick ten minute stroll.
        
    </div>



 <div class="on-this-page">
<p>To make London an easier place to navigate on foot, Transport for London (TfL) is supporting a new exhibition, Legible London, to consult Londoners on how a simple, reliable and consistent wayfinding system could encourage more people to walk for short journeys or as part of longer trips.</p>
<p>Visitors to the exhibition will be asked to give their opinions on how they find their way around the capital and to draw their own maps, using interactive equipment, of how they think central London is laid out. People will also be able to contribute to the consultation by visiting <a href="http://www.legiblelondon.info">www.legiblelondon.info</a>.</p>
<p>Feedback from the consultation will be used to help develop a plan and business case for a comprehensive new pedestrian signage system for the capital.</p>
<p>The exhibition, which opens today and will run for around four months, is being held at New London Architecture in central London. The project is led by Central London Partnership (CLP), funded by TfL and produced by Applied Information Group (AIG).</p>
<p>Mayor of London, Ken Livingstone said:"Walking in the capital can be a rewarding experience - you can find hidden architectural gems and interesting shops and galleries. </p>
<p>"But the large number of confusing signs across London are a barrier to enjoying London and I hope the Legible London exhibition will help us to move towards a single system for the capital."</p>
<p>Patricia Brown, Chief Executive of Central London Partnership, said:"One of the obstacles to encouraging people to walk more regularly, whether for leisure, commuting, shopping or keeping fit, is that many pedestrians in London are not confident about finding their way around, especially in unexplored areas. <br><br>"Central London Partnership has set itself a mission to help give people 'the confidence to get lost' and feel able to go off the beaten track, knowing that it is possible to find their way back to familiar territory. </p>
<p>"The Legible London wayfinding initiative is critical to that."<br></p>
            <ul>
<li> The Legible London exhibition is being held at New London Architecture, The Building Centre, 26 Store Street, London WC1E 7BT. Opening hours are Monday to Friday 9am - 6pm, Saturday 10am - 5pm, closed Sunday. Admission is free and there is wheelchair access. Call 020 7636 4044 for more details or see  <a href="http://www.legiblelondon.info">www.legiblelondon.info</a>  </li>
<li>The Walking Plan published by the Mayor in 2004 aims to provide London with:</li>
<ul>
<li>A greater use of public transport</li>
<li>A better environment</li>
<li>Social inclusion</li>
<li>Healthier lifestyles</li>
<li>An improved economy</li></ul>
<li>Walking accounts for 80 per cent of trips under a mile and is the main way in which public transport is accessed in London. However, walking overall has reduced by 20 per cent in inner London over the last decade, and by 13 per cent in London as a whole (2001 LATS Survey, TfL). Reversing this trend would have a major impact on relieving congestion on the public transport and road system.</li>
<li>The Legible London project aims to address this through a range of inter-connected information, from street signs and maps through to journey planning technology, to make it easier for Londoners and visitors alike to walk in and around the Capital</li>
<li>Visitors to the Legible London exhibition are being asked to contribute their comments and memory maps on how they think London is laid out using an interactive response system</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "To make London an easier place to navigate on foot, Transport for London (TfL) is supporting a new exhibition, Legible London, to consult Londoners on how a simple, reliable and consistent wayfinding system could encourage more people to walk for short";}
        
        


 