


@{ViewBag.Title = "New look A1306 unveiled";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New look A1306 unveiled</h1>
        <div class="content-page-press-release">
        03 October 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) and the London Boroughs of Havering and Barking & Dagenham today unveiled a series of regeneration works along the de-trunked A1306 road.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The A1306 paves the way for the significant regeneration planned to the west of Rainham
                            
                        </p>
                    </div>
                
            
            
            <p>The road, a busy route used for through traffic from east London 
to the M25, has seen dramatically improved accessibility for the local 
community, including pedestrian links between the north and south.<br><br>A tree 
was planted on the borough border by TfL's Director of Communications Ben 
Plowden, Cllr Peter Gard ner (Havering) and Cllr Sidney Kallar (Barking & 
Dagenham), to mark the occasion as they and others involved with the project 
visited key project locations. </p>
<p>These included the regeneration site where the road was formerly blighted by 
a high wall down the middle segregating the north and south carriageways, which 
had prevented pedestrian access and separated the communities north and south of 
the road. </p>
<p>The A1306 project, costing &pound;8.68m, began in 1999, with the civil engineering 
works for the final phase completed this summer.</p>
<p>Following the 'de-trunking' of the A1306 between Goresbrook Interchange in 
Barking & Dagenham and Dovers Corner in Havering in 2000, the two boroughs 
took on responsibility for the road's maintenance and, through partnerships with 
London Riverside Limited and the Cleanaway Riverside Trust, have sought to 
enhance the appearance of the road and improve accessibility to the local 
community.</p>
<p>Work along the stretch of road has included: </p>
<ul>
<li>The removal of the carriageway's central wall 
</li><li>The removal of subways and a footbridge and replaced with accessible 
pedestrian crossing facilities 
</li><li>The implementation of bus priority measures with new bus lanes and improved 
bus stops 
</li><li>The installation of safety cameras 
</li><li>The installation of new street signs and lamp columns 
</li><li>An extensive programme of soft landscaping including the planting of shrubs 
and over 200 trees along the route</li></ul>
<p>The road now provides a more suitable environment for the existing 
residential communities to the north and the new homes proposed to the 
south.</p>
<p>Funding for the scheme came from a variety of partners, with TfL providing 
&pound;4.62m through TfL Borough Spending Plans, &pound;3.04m from the London Riverside 
Trust (through London Development Agency SRB funding), and &pound;0.452m from the 
London Borough of Havering. </p>
<p>A further &pound;0.154m was contributed by the Department for Transport (DfT) and 
&pound;0.409m from private investment.</p>
<p>TfL's Director of Communications Ben Plowden said: "This project is a really 
good example of Transport for London working in partnership with the boroughs 
and other local organisations to make the local environment safer, more 
accessible and more attractive.</p>
<p>"I'm delighted that Transport for London has been able to support this 
project which will help the borough's plans to regenerate the area."</p>
<p>
<h2>Environmental improvements</h2>
<p>
<p>Councillor Peter Gardner, Havering's Lead Member for Public Safety 
responsible for Strategic Transport, said: "The A1306 paves the way for the 
significant regeneration planned to the west of Rainham. </p>
<p>"The new traffic measurements and environmental improvements have markedly 
improved the public transport accessibility and the public realm of the 
area."</p>
<p>Councillor Sid Kallar, Barking & Dagenham's Executive Member for 
Regeneration, said: "The quality of the work undertaken in developing the A1306 
and enhancing its immediate environment is indicative of the quality of the 
partnership that the boroughs have formed with TfL and other partners. </p>
<p>"The road has certainly come a long way since de-trunking began six years ago 
and it is satisfying to see these works now complete."</p>
<p>In addition to the completed de-trunking and regeneration project, TfL's 
Borough Spending Plan 'Streets for People' programme is funding the pilot of a 
solar-powered irrigation scheme in the A1306 Havering area, with water being 
taken from underground boreh
            <ul>
<li>Photographs of the scheme, before and after, are available upon request.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The road, a busy route used for through traffic from east London to the M25, has seen dramatically improved accessibility for the local community, including pedestrian links between the north and south.A tree was planted on the borough border by TfL's";}
        
        


 