


@{ViewBag.Title = "New campaign to put brakes on illegal drivers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New campaign to put brakes on illegal drivers</h1>
        <div class="content-page-press-release">
        23 October 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Three London boroughs with a high rate of drivers who fail to stop after a collision will be the focus of a new joint campaign between Transport for London (TfL) and the Metropolitan Police.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It is a shocking statistic that a quarter of motorists fail to stop after a collision
                            
                        </p>
                    </div>
                
            
            
            <p>The boroughs of Hackney, Newham and Haringey, have a high rate of motorists who fail to stop after being involved in a collision. </p>
<p>In Hackney 25 per cent of people involved in a crash fail to stop, in Haringey the rate is 23 per cent and in Newham it is 22 per cent. </p>
<p>According to recent research there is a strong link between uninsured drivers and serious motoring offences.</p>
<p>Compared to drivers with insurance, uninsured drivers are:&middot;</p>
<ul>
<li>Ten times more likely to have been convicted of drink driving 
</li><li>Six times more likely to have been convicted of driving a non-road worthy vehicle 
</li><li>Three times more likely to have been convicted of driving without due care and attention</li></ul>
<p>To tackle the problem and remove illegal vehicles from the road TfL and the Metropolitan Police will be carrying out a five week awareness and enforcement campaign. </p>
<p>The campaign will kick off on 23 October with an advertising campaign in Hackney, Newham, Haringey, Tower Hamlets and Waltham Forest which will run for five weeks. </p>
<p>On 30 October Metropolitan Police Officers will begin a four week enforcement and education campaign in the Hackney, Newham and Haringey.<br><br>The campaign will trial in the three north east London boroughs with a view to rolling it out to other parts of the capital.<br><br>Chief Inspector Mark Bird, from the Metropolitan Police Traffic unit said: "Uninsured drivers are a danger to the roads. </p>
<p>"Working in the Traffic Unit I am only too aware of the number of uninsured drivers that fail to stop at collisions. </p>
<p>"By using the powers that we have to take away their vehicles we are making a real difference to the lives of others."</p>
<p>Jenny Jones, The Mayor of London's Road Safety Ambassador said: "The reality is that drivers' failure to stop is part of a well established pattern of behaviour in London, with over eighty people a week being injured in collisions involving hit and run drivers. </p>
<p>"London has become a city where many drivers expect to break the rules and get away with it. Yet, the Met Police have found a huge overlap between illegal drivers and other sorts of criminal offences. </p>
<p>"This kind of policing is about denying criminals use of the roads, saving the ordinary driver from higher insurance premiums and reducing road casualties." <br><br>Chris Lines, Head of the London Road Safety Unit, TfL, said:<br>"People driving vehicles which are uninsured are far more likely to be a danger to others and we are working with the police to get them off the road.</p>
<p>"It is a shocking statistic that a quarter of motorists fail to stop after a collision. </p>
<p>"Tackling people driving uninsured vehicles will help to improve safety on the roads."<br><br></p>
<p>
            <ul>
<li>Electronic copies of the advertisements are available on request<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The boroughs of Hackney, Newham and Haringey, have a high rate of motorists who fail to stop after being involved in a collision. In Hackney 25 per cent of people involved in a crash fail to stop, in Haringey the rate is 23 per cent and in Newham it is 22";}
        
        


 