


@{ViewBag.Title = "New digital Tube radio roll-out now underway";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New digital Tube radio roll-out now underway</h1>
        <div class="content-page-press-release">
        17 October 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) today reported that the new &pound;2bn digital radio Connect system is now being rolled-out across the Tube, with 40 per cent of the network now primed to operate with the new communications equipment.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            passengers will experience a more reliable service and fewer disruptions to their journeys
                            
                        </p>
                    </div>
                
            
            
            <p>Connect, part of Transport for London's (TfL's) &pound;10bn Investment Programme, is now live on the East London Line and roll-out is well underway on the District line.</p>
<p>Mayor of London, Ken Livingstone, said: "The roll-out of the Connect system is a vital step in the modernisation of London's transport network. It is an advanced system that will deliver real benefits for Londoners.</p>
<p>"This investment is crucial to ensuring that the Tube system is ready for the 2012 London Olympics and is able to meet the needs of our growing population."<br><br>Tim O'Toole, LU Managing Director, said: "Connect will deliver major communication improvements across the Tube network. It is already operational on the East London Line, with advanced trial operations now underway on the District line. </p>
<p>"Stations on the east end of the line from Tower Hill to Upminster are already using the new Connect system, with full implementation over the coming weeks.</p>
<p>"The new Connect system is being rolled-out across the Tube network through 2006/07 with the Circle and Metropolitan lines next. It will mean that passengers will experience a more reliable service and fewer disruptions to their journeys."</p>
<p>TfL is investing &pound;2bn over the next 20 years in a new, modern and comprehensive digital radio network for the Tube through the Connect Public Finance Initiative. </p>
<p>It is a truly integrated network - every station (including Network Rail owned and disused stations), depot and control centre will be linked. </p>
<p>
<h2>Reliable service</h2>
<p>
<p>Connect will help bring improvements in train service performance, especially during incidents, by helping speed up the recovery of service.</p>
<p>The new Connect radio system is being rolled out across the London Underground network through 2006/7 with Circle and Metropolitan lines next followed by the Hammersmith &amp; City, Bakerloo, Victoria, Piccadilly, Waterloo &amp; City, Central, Northern and Jubilee lines (in that order).</p>
<p>The new Connect system is far more resilient than the radio network it replaces. If cable damage does occur then the signal can be routed around the affected area allowing the radio system to continue operating.</p>
<p>The existing radio system will remain in operation on the District line alongside the new Connect system until the transfer to the new digital radio system has been successfully completed.<br></p>
            <ul>
<li>TfL is investing &pound;10bn to improve and expand London's transport network, more than half of that in the Tube</li>
<li>The order in which the remaining Underground lines will have their current radio systems replaced with the new Connect system is largely dependent on the current state of the existing radio and transmission systems</li>
<li>The Connect Private Finance Initiative (PFI) project was let in November 1999 to replace a large number of time expired communications equipment and was originally due to be delivered in 2005. However, since transfer to TfL in summer 2003, the new London Underground management has taken steps to change the management of the project to ensure that it is now delivering the new Connect radio network</li>
<li>At present, each Underground line effectively operates its own radio system. Connect will deliver an integrated system which will also provide a platform for emergency services radio networks</li>
<li>The Connect project is the largest and complex of its type ever undertaken by London Underground as it touches all parts of LU property</li>
<li>Other Metro systems using this digital radio technology include Berlin, Hong Kong, Madrid and Singapore</li>
<li>While the new radio system is being rolled-out, the existing radio network will be operational during passenger hours with the new  system being tested and commissioned during non-operational hours. The radio system will only be put into operation on each Underground line once it has passed stringent validation, operational and safety checks</li>
<li>The Connect PFI contract was awarded to CityLink Telecommunications Limited, a company created to undertake a 20-year Connect contract for London Underground. Its shareholders are Thales (33 per cent), Fluor (18 per cent), Motorola (10 per cent), Laing Investment  (19.5 per cent) and HSBC (19.5 per cent). The cost of the design, build and maintain contract is &pound;2bn over 20 years</li>
<li>The new radio system will comprise 12,000 users, using 7,500 hand portable radios and 1,400 train radios located in drivers cabs at both ends of the 700-strong LU train fleet</li>
<li>The transmission system consists of 11 core sites across the LU network which act as hubs for the radio system and 1450km of optical fibre and conventional cabling</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Connect, part of Transport for London's (TfL's) &pound;10bn Investment Programme, is now live on the East London Line and roll-out is well underway on the District line.Mayor of London, Ken Livingstone, said: 'The roll-out of the Connect system is a vital";}
        
        


 