


@{ViewBag.Title = "Register early for Congestion Charge residents discount";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Register early for Congestion Charge residents discount</h1>
        <div class="content-page-press-release">
        16 October 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        People living in the western extension to the Congestion Charging zone can now apply for a resident's discount before the scheme goes live next February.
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) has begun a public information campaign to inform those people who visit, live and work in the extended zone about how they may be affected. </p>
<p>On 19 February 2007, the zone will be extended to the west to areas including Bayswater, Notting Hill, North and South Kensington, High Street Kensington, Knightsbridge, Chelsea, Belgravia and Pimlico.</p>
<p>TfL is encouraging eligible residents of the extended area to apply for their 90 per cent discount now. </p>
<p>This will allow them to drive inside the existing zone at the discounted rate. </p>
<p>Those residents who register before 19 January 2007 will not have to pay the &pound;10 administration charge. Registering early means that eligible residents can then pay &pound;4 per week (five consecutive charging days) instead of the &pound;8 daily charge - a potential saving of up to &pound;36.</p>
<p>Blue badge holders who might drive or be driven in the extended area are also encouraged to register for a 100 per cent discount, which means once successfully registered they would not have to pay the charge. </p>
<p>Again, Blue Badge holders who apply before 19 January would not have to pay the &pound;10 registration fee. </p>
<p>Congestion Charging started in the central zone in February 2003 and has brought about a reduction in congestion of up to 26 per cent together with fewer accidents and reduced vehicle emissions in the central London zone.</p>
<p>Malcolm Murray-Clark, Director of Congestion Charging, said: "Transport for London want to make sure residents and those who may drive in the extended zone from 19 February next year understand the hours of operation, the cost and where it will operate. </p>
<p>"This is why our public information campaign, launched last week, is extensive.</p>
<p>"The extension to the current zone will bring significant benefits to an area of London which is one of the most heavily congested in the UK. </p>
<p>"Less traffic leads to reduced harmful vehicle emissions, fewer road accidents, faster and more reliable bus journeys and an improved environment - making the extended zone a better place to work, live and visit."</p>
<p>When the zone is extended next year, it will operate from 7am to 6pm, Monday to Friday, with weekends and public holidays being free. </p>
<p>There will be no charging between Christmas Day and New Year's Day inclusive.</p>
<p>The daily cost of the charge is &pound;8 if paid in advance or by midnight on the day of travel. </p>
<p>Drivers can also pay the next charging day after driving in the zone however the charge is then &pound;10.</p>
<p>The western extension to the congestion charge will reduce traffic levels and congestion in West London and improve journey times and reliability, bringing significant benefits to those travelling in the area. </p>
<p>TfL estimates that congestion will be cut by 15-22 per cent with the number of vehicles reduced by 10-15 per cent.<br></p>
            <ul>
<li>London suffers from some of the worst congestion in the UK. Surveys carried out by TfL indicate that of all areas adjacent to the zone congestion is most intense within the western area, where there are severe delays both at peak times and during the working day</li>
<li>All households in the Western Extension Zone resident discount area who own a car, have a lease or company car and meet the eligibility criteria will be entitled to the residents' 90 per cent discount for their vehicle as long as it has been successfully registered with Transport for London. Registration forms will be sent to households from October 2006</li>
<li>Some specific areas lie just outside the boundary of the Western Extension Zone but households in those areas may also be eligible for a discount. See <a href="http://www.cclondon.com">www.cclondon.com</a> for further details</li>
<li>The hours of operation are changing - congestion charging will end at 6pm from 19 February 2007</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has begun a public information campaign to inform those people who visit, live and work in the extended zone about how they may be affected. On 19 February 2007, the zone will be extended to the west to areas including";}
        
        


 