


@{ViewBag.Title = "Transport for London awards &pound;363m contract to build new East London Railway";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London awards &pound;363m contract to build new East London Railway</h1>
        <div class="content-page-press-release">
        23 October 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new railway for East London moved a step closer today as Transport for London (TfL) awarded a &pound;363m 'main works' contract to a consortium comprising Balfour Beatty and Carillion.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            From June 2010, the East London Railway will operate as part of the London Overground network
                            
                        </p>
                    </div>
                
            
            
            <p>This major investment is one of the cornerstones of TfL's &pound;10bn Investment Programme and will deliver a key Olympic transport commitment - the construction of a new railway line between West Croydon, Crystal Palace and Dalston Junction, incorporating the existing East London Line. </p>
<p>When the railway is completed it will join up with the existing North London Railway via a link at Dalston Junction, and become part of TfL's new London Overground network. </p>
<p>This will be the first significant move towards an orbital rail network for London, as it connects 20 London boroughs and brings huge regeneration opportunities to some of the most deprived areas of the Capital. </p>
<p>Ian Brown, Managing Director of TfL London Rail, said: "The award of this &pound;363m contract to construct the East London Railway is a major step forward in our commitment to improving overground rail services in London.</p>
<p>"From June 2010, the East London Railway will operate as part of the London Overground network, providing frequent, Metro-style train services with new trains, staffed stations and Oyster ticketing. </p>
<p>"London Overground services will be run to strict Transport for London standards which value safety and security and put passengers first. </p>
<p>"The project will also bring wider benefits for London. It will provide an important transport link for the Olympics and bring huge regeneration opportunities to East London by connecting it up to the rest of London's vast transport network. </p>
<p>"I am delighted that the link to integrate the East London and North London Railways together is to be delivered prior to the Olympics."</p>
<p>Preparatory work for the East London Railway started in June 2005 and will be completed by the end of the year. </p>
<p>Carried out by Taylor Woodrow, the work has involved replacing and refurbishing 22 bridges along the disused Kingsland Viaduct in Shoreditch, in preparation for the new railway. </p>
<p>The main construction work will commence later this year and will: </p>
<ul>
<li>Replace approx. 7.4km of track and signalling equipment on the existing East London Line (Whitechapel-New Cross) to convert it to national rail operation 
</li><li>Install approx. 3.6km of new track and signalling equipment for the northern extension from Whitechapel to Dalston Junction 
</li><li>Construct four new stations with step-free access at Dalston Junction, Haggerston, Hoxton and Shoreditch High Street 
</li><li>Install a railway flyover just north of New Cross Gate, to connect the southern end of the line to the existing Network Rail line (New Cross-West Croydon) 
</li><li>Construct a new train maintenance depot at New Cross </li></ul>
<p>The rail link from Dalston Junction to Highbury & Islington, connecting up the North and East London Railways, will be delivered in time for the Olympics.</p>
<p>When the East London Railway opens in June 2010, twelve trains per hour will run between Dalston Junction and Surrey Quays. </p>
<p>In addition, four trains per hour will run to and from New Cross, Crystal Palace and West Croydon.</p>
<p>A second phase of the project, currently unfunded, would extend the East London Railway west from Surrey Quays to Clapham Junction - forming a complete outer rail circle around London. <br></p>
            <ul>
<li>A map of the East London Railway and artists' impressions of some of the new stations are available on request </li>
<li>The &pound;363m Main Works contract to deliver Phase One of the East London Railway has been awarded to a consortium comprising Balfour Beatty and Carillion. It contains rigorous 'equality &amp; inclusion' clauses which require that, where possible, local labour and materials are utilised </li>
<li>The East London Line is currently part of the London Underground. It runs between Whitechapel and New Cross / New Cross Gate with intermediate stations at Shadwell, Canada Water and Surrey Quays </li>
<li>Phase One will extend the existing East London Line south to Crystal Palace / West Croydon and north to Dalston Junction </li>
<li>The work to extend the line further north to Highbury &amp; Islington via the 'Dalston link' is not specified in this Main Works contract but it is intended to be incorporated into these works and completed in time for the Olympics </li>
<li>The main work on the East London Railway project will start immediately. In December 2007, the project will require the closure of the existing East London Line for the replacement of track and signalling </li>
<li>When the East London Railway opens in June 2010, it will be served by London Overground trains operating under Transport for London's 'London Rail Concession'. Rail passengers will be able to travel from Richmond or Clapham Junction to West Croydon via Dalston Junction using London Overground services </li>
<li>Phase Two of the East London Railway, which is not yet funded, would form a complete this rail circle or 'orbital railway' around London by extending the line west from Surrey Quays to Clapham Junction </li>
<li>For more information and a route map, please visit: <a>East London Railway site</a> </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This major investment is one of the cornerstones of TfL's &pound;10bn Investment Programme and will deliver a key Olympic transport commitment - the construction of a new railway line between West Croydon, Crystal Palace and Dalston Junction,";}
        
        


 