


@{ViewBag.Title = "Transport for London showcases innovation at the Intelligent Transport Systems World Congress";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London showcases innovation at the Intelligent Transport Systems World Congress</h1>
        <div class="content-page-press-release">
        08 October 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Visitors to the Intelligent Transport Systems (ITS) World Congress from October 8 - 12 will have the chance to see Transport for London's (TfL) innovative transport solutions in practise.
        
    </div>



 <div class="on-this-page">
<p> A range of technological solutions to the capital's transport challenges will be on display on TfL's extensive stand with active traffic management and congestion charging amongst the key issues being presented.</p>
<p>The main TfL stand will also feature a cross sectioned bus displaying the iBus project, improving real-time information for passengers, drivers and service controllers.<br><br>A bus shelter of the future will also be displayed on the stand, featuring the use of solar power, CCTV and a real time passenger information display. </p>
<p>The latest weapon in TfL's traffic enforcement armoury will also be on display, a SmartCar equipped with number plate identification technology, a mobile enforcement camera system and on street support technology.</p>
<p>The ITS World Congress also features a wide range of conference sessions and TfL will also be hosting three special sessions on Wednesday 11 October all of which will be addressed by senior TfL staff:</p>
<ul>
<li>9am - How ITS meets London's policy goals 
</li><li>11am - Competing demands in London 
</li><li>2pm - Managing major events in London</li></ul>
<p>The ITS Congress and Exhibition is being held at the ExCeL Conference Centre from 8-12 October 2006. </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A range of technological solutions to the capital's transport challenges will be on display on TfL's extensive stand with active traffic management and congestion charging amongst the key issues being presented.The main TfL stand will also feature a cross";}
        
        


 