


@{ViewBag.Title = "UK to get &pound;115m tourism boost from 2007 Tour de France";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>UK to get &pound;115m tourism boost from 2007 Tour de France</h1>
        <div class="content-page-press-release">
        26 October 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London and Kent are set to receive a &pound;115m boost when the Tour de France, the biggest annual sporting event in the world, starts in the UK for the first time in July 2007.
        
    </div>



 <div class="on-this-page">
<p>The figures were released by Transport for London (TfL) as the full route of the Tour de France was unveiled at an international press conference in Paris today.</p>
<p>The Grand Depart will be the biggest sporting event to be held in the Capital ahead of the Olympic and Paralympic Games in 2012 and will give Londoners a taste of what is to come in 2012.</p>
<p>An estimated two million visitors from across the world are expected to visit London and Kent during the three days the Tour will spend in the UK from 6-8 July 2007. </p>
<p>As well as huge numbers of tourists lining the route, the race will showcase London and Kent to millions of television spectators around the world.</p>
<p>The London organisers believe the London Grand Depart will be the most spectacular stage of the whole Tour as the race will pass some of London's most iconic landmarks and make its way through the garden of England, before a spectacular finish in the shadow of Canterbury Cathedral.</p>
<p>The Mayor of London, Ken Livingstone, said: 'I am proud that London will play a part in the long history of the Tour de France and the London Grand Depart underlines the Capital's status as a venue for world sporting events ahead of the Olympics in 2012. </p>
<p>'The Tour de France is so much more than just a cycle race, creating a carnival atmosphere wherever it visits.</p>
<p>'We want 2007 to be the greatest Grand Depart the Tour has ever seen giving the riders a fantastic send off as they start a gruelling three weeks racing. </p>
<p>'The Tour will be great for London, showcasing the UK capital to the world, bringing huge amounts of visitors to London and encouraging more Londoners to take to two wheels. </p>
<p>'Cycling is increasing here more than any other city in Europe with a 72 per cent increase in the last five years. </p>
<p>'We want to use the excitement of the Grand Depart to help us persuade even more people to cycle, not just as a sport but as an everyday and non-polluting way of getting around the city.'</p>
<p>
</p>
<h2>Olympic medallist</h2>
<p>
</p>
<p>Bradley Wiggins, Triple Olympic medallist and TfL cycling ambassador, said: 'I am delighted the Tour de France is coming to the city I grew up in and where I used to cycle around as a boy. </p>
<p>'I was inspired to take up cycling by the Tour's last visit to the UK in 1994 and I am sure next year's race will inspire many more people to take to two wheels.</p>
<p>'I rode the Tour for the first time last year and it was a tough three weeks, but I can't wait to ride the Prologue in the city where I grew up.'</p>
<p>Lindsey Horton, the South East England Development Agency's (SEEDA's) Major Sports Events Manager, said: "This is a fantastic opportunity for Kent and Medway to host a world-class sporting event. </p>
<p>'The investment the race will bring into the county during its three day visit to London and the South East will be of huge benefit to the local economy. </p>
<p>'Our tourism industry will receive a massive boost as thousands of visitors flock to Kent and enjoy not only the race but our beautiful countryside and visitor attractions. </p>
<p>
</p>
<h2>Exciting times</h2>
<p>
</p>
<p>'The Tour de France will help showcase Kent and the South East as an attractive and welcoming destination for hosting events in these exciting times in the lead up to 2012. </p>
<p>'We are committed to making next year's Tour de France a great success and look forward to welcoming you all to the Garden of England. </p>
<p>'We are already working with our key partners Kent County Council, Medway Council and Canterbury City Council in order to guarantee a terrific event.'</p>
<p>James Bidwell, Visit London's Chief Executive said: 'Hosting the Grand Depart of the Tour de France is a fantastic opportunity for London. </p>
<p>'The route will pass by many top attractions and famous landmarks and gives us the chance to showcase this fabulous city to the world. </p>
<p>'We aim to maximise London's i
</p>
<ul>
    <li>The last time a TdF stage was held in the UK was in 1994 three million spectators lined the route, enjoying the spectacle </li>
    <li>With more details emerging on the scope of the event, TfL has undertaken further research into the costs involved for competitors, team officials, race officials, media and spectators. The modelling template used was developed by UK Sport to measure the economic impact of major sporting events </li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The figures were released by Transport for London (TfL) as the full route of the Tour de France was unveiled at an international press conference in Paris today.The Grand Depart will be the biggest sporting event to be held in the Capital ahead of the";}
        
        


 