
    
  


<!-- rhroot -->
@{ViewBag.Title = "Efficient deliveries";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/deliveries-in-london/delivering-efficiently";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/deliveries-in-london/index">Deliveries in London</a></li>
                
            
            
                <li><span class="last-breadcrumb">Efficient deliveries</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container landing-page section-landing-container">
        <h1>Efficient deliveries</h1>
        
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">
        <div class="small-medium" data-set="widget"></div>
        <div class="primary-teaser landing-page-teaser">
            <div class="news-teaser ">
  
  <a href="/info-for/deliveries-in-london/delivering-efficiently/deliveries-toolkits?intcmp=53241"  data-img="/cdn/static/cms/images/promos/toolkitteasersml.png" data-img-breakpoint="" data-img-alt="Toolkits">
    <img src="/cdn/static/cms/images/promos/toolkitteasersml_rdax_600x300.png" alt="Toolkits" />
    <div class="text-link sit-top">
      <h2>Deliveries toolkits</h2>
      <p>Find solutions for better deliveries with our toolkits</p>
    </div>
  </a>
</div>

 
        </div>
        
        <div class="clearfix">
            <div>

<p>For the past five years TfL has been working with businesses, fleet operators and local authorities to make London better for business. We have worked with more than 500 leading businesses and fleet operators to find effective, cost-efficient ways to receive and make deliveries and service trips.</p>

<p>Our <a href="/info-for/deliveries-in-london/delivering-efficiently/deliveries-toolkits">toolkits</a> to reduce and retime deliveries will allow your business to stay resilient and flourish in our rapidly changing city. We have practical, tested solutions for all business needs.</p>

<p>We have developed these toolkits in partnership with local authorities, Freight Transport Association, Road Haulage Association, Noise Abatement Society and many large businesses such as Tesco and Sainsbury's.</p>
</div>
 
        </div>
        <div class="module-grid clearfix">
            <div class="news-teaser">

    <a href="/info-for/deliveries-in-london/delivering-efficiently/consolidating-deliveries?intcmp=37938" >
        <img src="/cdn/static/cms/images/promos/landteasereduce_rdax_400x200.jpg" alt="reducing deliveries" />
        
        <div class="text-link">
             <h2>Reducing deliveries </h2>
            <p>Simple ways to streamline your deliveries</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/deliveries-in-london/delivering-efficiently/retiming-deliveries?intcmp=37935" >
        <img src="/cdn/static/cms/images/promos/landteasretime_rdax_400x200.jpg" alt="retiming deliveries" />
        
        <div class="text-link">
             <h2>Retiming deliveries</h2>
            <p>Work with your supply chain to avoid busy delivery and collection times</p>
        </div>
    </a>
</div>
 
 
        </div>
    </div>
    <div class="aside" role="complementary">
        <div class="large" data-set="widget">
            <div class="moving-source-order">
            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/deliveries-in-london/index" class="heading">
                    <h2 id="sub-menu-heading">Deliveries in London<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                <a href="/info-for/deliveries-in-london/delivering-efficiently" class="heading">
                    <h2 id="sub-menu-heading">Efficient deliveries<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-efficiently/consolidating-deliveries">Reducing deliveries and servicing visits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-efficiently/retiming-deliveries">Retiming deliveries</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-efficiently/deliveries-toolkits">Deliveries toolkits</a></div></li>
                            
 
                </ul>
            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely">Delivering safely</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-legally">Delivering legally</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-goods-by-water">Delivering goods by water</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/training-courses-and-events">Training courses and events</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
            </div>
        </div>
        <div class="module-grid">
            
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
            
        </div>
    </div>
    <div class="small-medium" data-set="content">&nbsp;</div>
</div>
 
        
        
        
            @{ViewBag.Description = "Make and receive deliveries in the most efficient way";}
        
            
        


 