
    
  



@{ViewBag.Title = "Delivering legally";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/deliveries-in-london/delivering-legally";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/deliveries-in-london/index">Deliveries in London</a></li>
                
            
            
                <li><span class="last-breadcrumb">Delivering legally</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container landing-page section-landing-container">
        <h1>Delivering legally</h1>
        
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">
        <div class="small-medium" data-set="widget"></div>
        <div class="primary-teaser landing-page-teaser">
            <div class="news-teaser ">
  
  <a href="/info-for/deliveries-in-london/delivering-legally/parking-and-loading?intcmp=37950"  data-img="/cdn/static/cms/images/promos/parking-sign.gif" data-img-breakpoint="medium" data-img-alt="No loading sign">
    <img src="/cdn/static/cms/images/promos/parking-sign_rdax_600x300.gif" alt="No loading sign" />
    <div class="text-link sit-top">
      <h2>Parking and loading</h2>
      <p>Learn what restrictions are in place, and how to manage Penalty Charge Notices (PCNs)</p>
    </div>
  </a>
</div>

 
        </div>
        
        <div class="clearfix">
            
        </div>
        <div class="module-grid clearfix">
            <div class="news-teaser">

    <a href="/info-for/deliveries-in-london/delivering-legally/accessible-roads-for-hgvs?intcmp=37944" >
        
        
        <div class="text-link">
             <h2>Accessible roads for HGVs</h2>
            <p>See which roads are accessible and when as part of the London Lorry Control Scheme</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://tfl.gov.uk/modes/driving/low-emission-zone?intcmp=38272" >
        
        
        <div class="text-link">
             <h2>Low Emission Zone</h2>
            <p>How to ensure your vehicle meets current emissions standards for central London</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone?intcmp=38270" >
        
        
        <div class="text-link">
             <h2>Ultra Low Emission Zone</h2>
            <p>Learn about new exhaust emissions standards</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">
    <div class="text-link">
        
        
        
        <h2>LFEP newsletter</h2>
        
        
        
        <div class="multi-document-download-container">
            

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lfep-newsletter-november17.pdf">
    <div class="document-download-text">
        <p>LFEP Newsletter November 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 107KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lfep-newsletter-june-2017.pdf">
    <div class="document-download-text">
        <p>LFEP Newsletter June 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 243KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.24 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-freight-enforcement-partnership-newsletter-january-17.pdf">
    <div class="document-download-text">
        <p>LFEP Newsletter December 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 377KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.37 -->
 
        </div>
        
    </div>
</div>



 
        </div>
    </div>
    <div class="aside" role="complementary">
        <div class="large" data-set="widget">
            <div class="moving-source-order">
            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/deliveries-in-london/index" class="heading">
                    <h2 id="sub-menu-heading">Deliveries in London<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-efficiently">Efficient deliveries</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely">Delivering safely</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-legally">Delivering legally</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-legally/accessible-roads-for-hgvs">Accessible roads for HGVs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-legally/parking-and-loading">Parking and loading</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-goods-by-water">Delivering goods by water</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/training-courses-and-events">Training courses and events</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
            </div>
        </div>
        <div class="module-grid">
            
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
            
        </div>
    </div>
    <div class="small-medium" data-set="content">&nbsp;</div>
</div>
 
        
        
        
            @{ViewBag.Description = "Advice on delivering, parking and loading legally in London";}
        
            
        


 