
    
  



@{ViewBag.Title = "Delivering goods by water";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/deliveries-in-london/delivering-goods-by-water";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        <div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/deliveries-in-london/index">Deliveries in London</a></li>
                
            
            
                <li><span class="last-breadcrumb">Delivering goods by water</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1 class="acc-stats-uppercase">Delivering goods by water</h1>
  </div>
</div>
<div class="main-and-aside r">

    
@{ Html.RenderAction("Index", "Waterfreight"); }

</div>
 
 
        
        
        
            @{ViewBag.Description = "Waterborne transport can be a cost-effective and efficient method of moving a range of goods and commodities.";}
        
            
        


 