
    
  



@{ViewBag.Title = "Delivering safely";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/deliveries-in-london/delivering-safely";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/deliveries-in-london/index">Deliveries in London</a></li>
                
            
            
                <li><span class="last-breadcrumb">Delivering safely</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container landing-page section-landing-container">
        <h1>Delivering safely</h1>
        
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">
        <div class="small-medium" data-set="widget"></div>
        <div class="primary-teaser landing-page-teaser">
            <div class="news-teaser ">
  
  <a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles?intcmp=41259"  data-img="/cdn/static/cms/images/promos/dvs-hgv-permit-kerb.jpg" data-img-breakpoint="medium" data-img-alt="HGV with good direct vision stopped at junction with cyclist">
    <img src="/cdn/static/cms/images/promos/dvs-hgv-permit-kerb_rdax_600x300.jpg" alt="HGV with good direct vision stopped at junction with cyclist" />
    <div class="text-link sit-top">
      <h2>Direct Vision Standard and HGV Safety Permit</h2>
      <p>Lorries weighing over 12 tonnes GVW will need a permit to operate in Greater London.</p>
    </div>
  </a>
</div>

 
        </div>
        
        <div class="clearfix">
            
        </div>
        <div class="module-grid clearfix">
            <div class="news-teaser">

    <a href="https://www.fors-online.org.uk/cms/?intcmp=38256" >
        
        
        <div class="text-link">
             <h2>Fleet Operator Recognition Scheme (FORS)</h2>
            <p>Get accredited for safety, fuel efficiency, emissions and improved operations</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="http://www.clocs.org.uk/?intcmp=38254" >
        
        
        <div class="text-link">
             <h2>Construction Logistics and Community Safety</h2>
            <p>Work with partners in the construction logistics industry to manage road risk</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://www.gov.uk/using-mobile-phones-when-driving-the-law?intcmp=47136" >
        
        
        <div class="text-link">
             <h2>Using mobiles phones and in-vehicle technology</h2>
            <p>Find out what the law is</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/publications-and-reports/freight?intcmp=8606" >
        
        
        <div class="text-link">
             <h2>Publications and reports</h2>
            <p>Find data, case studies and documentation about the freight industry</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/deliveries-in-london/delivering-safely/safer-lorry-scheme?intcmp=38843" >
        
        
        <div class="text-link">
             <h2>Safer Lorry Scheme</h2>
            <p>Only lorries with safety equipment fitted are allowed to travel on London's roads</p>
        </div>
    </a>
</div>
 
 
        </div>
    </div>
    <div class="aside" role="complementary">
        <div class="large" data-set="widget">
            <div class="moving-source-order">
            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/deliveries-in-london/index" class="heading">
                    <h2 id="sub-menu-heading">Deliveries in London<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-efficiently">Efficient deliveries</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely">Delivering safely</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/driving-near-vulnerable-users">Driving near vulnerable users</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/safer-lorry-scheme">Safer Lorry Scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/work-related-road-risk">Work Related Road Risk </a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles">Direct Vision Standard and HGV Safety Permit</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-legally">Delivering legally</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-goods-by-water">Delivering goods by water</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/training-courses-and-events">Training courses and events</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
            </div>
        </div>
        <div class="module-grid">
            
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
            <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://www.gov.uk/esdal-and-abnormal-loads/abnormal-loads" class="plain-button">Transporting abnormal loads</a>
<a href="https://www.gov.uk/government/collections/transporting-dangerous-goods" class="plain-button">Transporting dangerous goods</a>
    </div>
</div>
 
        </div>
    </div>
    <div class="small-medium" data-set="content">&nbsp;</div>
</div>
 
        
        
        
            @{ViewBag.Description = "Find information on CLOCS, FORS and driving near vulnerable road users";}
        
            
        


 