
    
  


<!-- rhroot -->
@{ViewBag.Title = "Deliveries in London";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/deliveries-in-london/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">Deliveries in London</span></li>
            
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Deliveries in London</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                <p>We work with operators, boroughs and partners across the freight industry to&nbsp;ensure that&nbsp;goods and services get delivered in London on time, and in a safe, clean and efficient way.</p>
<p>On these pages you'll find advice on making and receiving deliveries, including parking and loading, delivering efficiently and driving near vulnerable road users.</p>
                </div>
            </div>
        
         
        
        
        
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div>

<div class="news-teaser">

    <a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles?intcmp=41259" >
        <img src="/cdn/static/cms/images/promos/dvs-hgv-permit-kerb_rdax_400x200.jpg" alt="HGV with good direct vision stopped at junction with cyclist" />
        
        <div class="text-link">
             <h2>Direct Vision Standard and HGV Safety Permit</h2>
            <p>Lorries weighing over 12 tonnes GVW will need a permit to operate in Greater London.</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/deliveries-in-london/delivering-efficiently?intcmp=37865" >
        
        
        <div class="text-link">
             <h2>Efficient deliveries and servicing</h2>
            <p>How to ensure deliveries and servicing are efficient through reducing and retiming</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="http://www.clocs.org.uk/?intcmp=38254" >
        
        
        <div class="text-link">
             <h2>Construction Logistics and Community Safety</h2>
            <p>Work with partners in the construction logistics industry to manage road risk</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://www.fors-online.org.uk/cms/?intcmp=38256" >
        
        
        <div class="text-link">
             <h2>Fleet Operator Recognition Scheme (FORS)</h2>
            <p>Get accredited for safety, fuel efficiency, emissions and improved operations</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://locity.org.uk/?intcmp=59034" >
        
        
        <div class="text-link">
             <h2>LoCITY: collaborating to protect the environment</h2>
            <p>Helping fleets save money and run cleaner, more efficient vehicles.</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/publications-and-reports/freight?intcmp=8606" >
        
        
        <div class="text-link">
             <h2>Publications and reports</h2>
            <p>Find data, case studies and documentation about the freight industry</p>
        </div>
    </a>
</div>
 
 
</div>
 <div>

<div class="related-links">

    <h3>Information for Commercial Drivers</h3>
<p>Sign up for weekly information and advice on issues impacting deliveries in London. Send your full name and company to:</p>
<div class="vertical-button-container">

<a href="mailto:CommercialDriversEmail@tfl.gov.uk" class="plain-button">CommercialDriversEmail@tfl.gov.uk</a>
    </div>
</div>
 <div class="related-links">

    <h3>Get involved</h3>
<p>If you're an operator, borough or business that wants to learn more about safe, efficient and clean deliveries, see what training is available to you.</p>
<div class="vertical-button-container">

<a href="/info-for/deliveries-in-london/training-courses-and-events" class="plain-button">Training courses &amp; events</a>
    </div>
</div>
 <div class="related-links">

    <h3>More travel advice</h3>

<div class="vertical-button-container">

<a href="/status-updates/major-works-and-events/travel-advice-for-road-users" class="plain-button">Travel advice for road users</a>
<a href="https://tflportal.icasework.com/servlet/ep.app?type=Roadworks&db=mIOLbzRl4sc%3D&noAbout=Yes&Login=false&csrfhash=CfiLzGrkRrszao%2BxjgYAg19Ip%2B%2BKljzWaptcGARa9zGGvFzWiy1tZsON4niU78b8uW4oDlf4h7D%2FIbvq4GvOb4nzXI8ntP1a96Dy9LvCqq%2F8vsIgR5adunOL0%2Fp4nya6%C2%ABnATVz05hTRZls5A8qbEVnQ%3D%3D%7E%21" class="plain-button">Report roadworks</a>
    </div>
</div>
 
</div>
 
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/deliveries-in-london/index" class="heading">
                    <h2 id="sub-menu-heading">Deliveries in London<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-efficiently">Efficient deliveries</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely">Delivering safely</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-legally">Delivering legally</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-goods-by-water">Delivering goods by water</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/training-courses-and-events">Training courses and events</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>
        <div class="module-grid clearfix">
          












<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "Making and receiving deliveries in London in the most efficient, safe and legal way";}
        
            
        


 