


@{ViewBag.Title = "21st Century Routemaster moves closer as Mayor unveils winning designs";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>21st Century Routemaster moves closer as Mayor unveils winning designs</h1>
        <div class="content-page-press-release">
        19 December 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originaly issued by the Greater London Authority.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We have had a phenomenal response, with ideas submitted from around the globe"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We have had a phenomenal response, with ideas submitted from around the globe
                            
                        </p>
                    </div>
                
            
            
            <p>The New Bus for London competition proves a huge success with quantity and quality of entries exceeding expectations.<br>&nbsp;<br>Mayor of London, Boris Johnson, today unveiled the winning designs in the New Bus for London competition, and outlined the next steps in delivering a new bus fit for 21st century London based on the iconic Routemaster.<br>&nbsp;<br>The Mayor was joined by Transport Commissioner Peter Hendy as he met the winners.</p> <p>The judges were so impressed with the ideas submitted in the 'whole bus' design category that a joint first prize was awarded to Capoco Design Ltd and a collaborative entry from Aston Martin and Foster + Partners.</p> <p>The two runners up prizes in the 'whole bus' design category were awarded to Jamie Martin, a 29 year old transport design graduate, and another collaborative entry from H&eacute;ctor Serrano Studio, Mi&ntilde;arro Garc&iacute;a and Javier Esteban.<br>&nbsp;<br>Overall, 700 entries were received from professionals and non-professionals of all ages, from London and across the world.<br>&nbsp;<br>Mayor Boris Johnson said: 'I promised Londoners that I would hold a competition to design a new bus for London, based on the much-missed Routemaster, and today we can unveil the fantastic winning designs.&nbsp; <br>&nbsp;<br>'When I launched the competition, I asked for stylish and imaginative designs which would resonate with Londoners.</p> <p>'We have had a phenomenal response, with ideas submitted from around the globe, and we now have, in our joint winners, two stunning designs that allow us to go forward and produce a truly iconic bus fit for 21st Century London. <br>&nbsp;<br>'I know that, like me, Londoners will be waiting eagerly to see how these ideas evolve into the final design that will appear on our roads.'<br>&nbsp;<br>Peter Hendy, Transport Commissioner, said: 'With 700 entries from five different continents, the sheer scale of the response to this competition clearly shows how much it caught the imagination of Londoners and others worldwide.</p> <p>'We now have a wealth of fantastic ideas to present to the bus manufacturers who will create the final design of the new bus for London, due to hit the streets in 2011.<br>&nbsp;<br>'I was also hugely impressed with the entries in the 'imagine' category of the competition.&nbsp; </p> <p>'Not only did we see some real creativity, but almost all entrants also considered accessibility and environmental issues in their drawings.'<br>&nbsp;<br>The next step in delivering the new bus for London is to pass the winning design ideas on to bus manufacturers to develop into a final proposed design.&nbsp; </p> <p>Transport for London (TfL) expects to award a contract to develop and build the first new bus for London towards the end of next year, after a competitive tendering process.&nbsp;</p> <p>The first of the new buses will be on the streets of London by 2011.<br>&nbsp;<br>The following were announced as prize winners in the competition today:</p> <h2>Design a bus for London - 'whole bus design'</h2> <p><strong>Joint first prize of &pound;25,000 each: </strong></p> <ul> <li>Capoco Design Ltd, Salisbury  </li><li>Aston Martin and Foster + Partners, London</li></ul> <p><strong>Runners up prizes of &pound;10,000 each:</strong></p> <ul> <li>H&eacute;ctor Serrano Studio, Mi&ntilde;arro Garc&iacute;a and Javier Esteban (London, Valencia and Barcelona)  </li><li>Jamie Martin, Surbiton</li></ul> <p><strong>Merit awards of &pound;2,000 each:</strong></p> <ul> <li>David Bradshaw, Nottinghamshire  </li><li>Style to Design Ltd, Coventry  </li><li>Concrete, all-round creative, Antwerp, Belgium  </li><li>LA:UK Design Ltd, Cheshire  </li><li>Eric Woodcock, Southport</li></ul> <h2>Design a bus for London - 'element'</h2> <p><strong>Merit awards of &pound;1,000 each:</strong></p> <ul> <li>Lottie Duke, Lancashire  </li><li>Rhys Wyman, Cheshunt</li></ul> <h2>Imagine a bus for London - under 11</h2> <p><strong>First prize of &pound;200 bike vouchers from Evans Cycles and a trip for four to try out London's bus driving simulator:</strong></p> <ul> <li>Thomas Staricoff, 9 years old, Brighton  </li><li>Olivia Carrier, 9 years old, St John's Wood, London</li></ul> <p><strong>Second prize of four tickets to London Transport Museum and &pound;50 HMV vouchers:</strong></p> <ul> <li>Luke Brennan, 10 years old, Barnet, London</li></ul> <p><strong>Third prize of four tickets to London Transport Museum and &pound;25 HMV vouchers:</strong></p> <ul> <li>Yasmin Ali, 10 years old, Newham, London</li></ul> <p><strong>Merit awards of &pound;25 HMV vouchers:</strong></p> <ul> <li>Hana Broadhurst, 9 years old, Bromley, London  </li><li>Takeo Broadhurst, 10 years old, Bromley, London</li></ul> <h2>Imagine a bus for London - age 11-15</h2> <p><strong>First prize of &pound;300 bike vouchers from Evans Cycles and a trip for four to try out London's bus driving simulator:</strong></p> <ul> <li>Dolapo Okunlola, 15 years old, Peckham, London</li></ul> <p><strong>Second prize of four tickets to London Transport Museum and &pound;50 HMV vouchers:</strong></p> <ul> <li>Ben Holmes, 12 years old, St Albans, Hertfordshire</li></ul> <p><strong>Third prize of four tickets to London Transport Museum and &pound;25 HMV vouchers:</strong></p> <ul> <li>Albert Braid, 12 years old, Crystal Palace, London</li></ul> <h2>Imagine a bus for London - age 16-18</h2> <p><strong>First prize of &pound;500 bike vouchers from Evans Cycles and a trip for four to try out London's bus driving simulator:</strong></p> <ul> <li>Nicholas Cho, 17 years old, Berkshire</li></ul> <p><strong>Second prize of four tickets to London Transport Museum and &pound;50 HMV vouchers:</strong></p> <ul> <li>Craig Tomkins, 18 years old, Hampshire</li></ul> <p><strong>Third prize of four tickets to London Transport Museum and &pound;25 HMV vouchers:</strong></p> <ul> <li>Charlotte Taylor, 17 years old, Surrey</li></ul> <h2>Imagine a bus for London - over 18</h2> <p><strong>First prize of &pound;1,000:</strong></p> <ul> <li>Frances Faulder, Kilburn, London</li></ul> <p><strong>Second prize of &pound;500:</strong></p> <ul> <li>Matt Belcher, Warwickshire</li></ul> <p><strong>Third prize of &pound;250:</strong></p> <ul> <li>Alan Thorley, Essex</li></ul> <p><strong>Merit award of &pound;100:</strong></p> <ul> <li>Laszlo Vass, Barnet, London</li></ul> <p>The judging panel was made up of Peter Hendy, Kulveer Ranger, David Brown, Mike Weston, Clare Kavanagh and independent judge David Quainton.&nbsp;</p> <p>The judging panel went through the entries in detail and made their recommendations to the Mayor, who endorsed those recommendations. </p> <p>A public exhibition of the winning designs and a selection of other entries will take place in the London Transport Museum in February 2009.&nbsp; <br>&nbsp;<br> <hr> <strong>Notes to editors: <p> <ul> <li></li></ul></strong>Full details for each of the winners (a biography and a description of their entry in their own words), low resolution images of the winning entries and judges' comments are available from the TfL website: <a href="http://www.tfl.gov.uk/anewbusforlondon">tfl.gov.uk/anewbusforlondon</a>. High resolution images are available from the Transport for London Press Office  <li>The competition was launched by the Mayor in the London Transport Museum on 4 July 2008, and entries had to be submitted by 19 September in one of two categories, 'design a bus for London' and 'imagine a bus for London'.&nbsp;The objective of the competition was to harvest ideas and concepts for a new bus design  </li><li>Entries received:  <ul> <li>'Design a bus for London': 225 entries submitted, mostly from the UK but entries were received from five continents in total - Africa, Asia, Australasia, Europe and North America.&nbsp;Entrants had the option of submitting a design for a specific part of the bus or a 'whole bus' design.&nbsp;In this category, designs had to be quite detailed and had to comply with guideline specifications provided by TfL. A number of drawings were required, as well as written documents providing reasoning and more detailed descriptions of the design and features of the bus </li><li>'Imagine a bus for London': 475 entries submitted, mostly from the UK (152 from under 11s; 34 from 11-15 year olds; 6 from 16-18 year olds; and 283 from over 18s).&nbsp; Entrants could submit single design concepts for particular features of the bus, or a sketch of the overall look.&nbsp;The judges were looking for the best ideas rather than detailed technical designs</li></ul> <li>The winning designs and elements of design entries will be taken forward to the major bus manufacturers as part of a separate competitive tendering process for the detailed design, prototyping and eventual manufacture of the new bus. The first prototype of the new bus will be on the streets of London in 2011</li>
            

            
            

        </li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The New Bus for London competition proves a huge success with quantity and quality of entries exceeding expectations.&nbsp;Mayor of London, Boris Johnson, today unveiled the winning designs in the New Bus for London competition, and outlined the next";}
        
        


 