


@{ViewBag.Title = "Bus diversions to facilitate Crossrail and rebuilding of Tottenham Court Road station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bus diversions to facilitate Crossrail and rebuilding of Tottenham Court Road station</h1>
        <div class="content-page-press-release">
        22 December 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is advising bus passengers there will be a number of long term bus diversions in the Tottenham Court Road area to facilitate Crossrail works.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are working closely with the local community to ensure minimum disruption"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Bradley</div>
            <div class="quotee-job-title">Head of Stakeholder Engagement at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are working closely with the local community to ensure minimum disruption 
                            
                        </p>
                    </div>
                
            
            
            <p>The Charing Cross Road contra-flow bus lane between Denmark Street and New Oxford Street will have to be closed from early January to make way for building works for the upgraded Tottenham Court Road Underground station and the new Crossrail station. </p>
<p>This will mean local bus route diversions for southbound buses and a shortening of route 176 which will start and finish at Tottenham Court Road instead of Oxford Circus. </p>
<p>Route 176 will be shortened from Saturday 3 January 2009 to enable preliminary works to Andrew Borde Street which will be closed and will become a work site. </p>
<h2>Diversions</h2>
<p>The route will set down and terminate at Tottenham Court Road station and the first stop travelling southbound will be on St Giles High Street. It will then continue in to Denmark Street and turn left in to Charing Cross Road. </p>
<p>As well as changes to route 176, southbound services on the following routes will be affected during the works: 14, 19, 24, 29, 38, N5, N19, N20, N29, N38, N41 and N279.</p>
<p>The diversions are expected to be in place during the seven year period of works and will commence from Saturday 10 January 2009 with routes being diverted down Denmark Street or Shaftesbury Avenue. </p>
<p>Splitting the services down the two roads will provide the best possible service to bus passengers, keeping services running as smoothly as possible while minimising the impact on local streets. </p>
<h2>Public consultation</h2>
<p>The decision to use these streets follows feedback received from the Tottenham Court Road public exhibition, meetings with key stakeholders and a public consultation. </p>
<p>The diversions, affecting southbound routes only, will be as follows:</p>
<ul>
<li>Routes 24, 29, N29 and N279 will be rerouted via Bloomsbury Street, Princes Circus in to St Giles High Street, Denmark Street and left in to Charing Cross Road </li>
<li>Routes 14, N5 and N20 will be routed via Bloomsbury Street, Shaftesbury Avenue and at Princes Circus will carry straight down to Shaftesbury Avenue to Cambridge Circus </li>
<li>Routes 19, 38, N19, N38 and N41 will continue along High Holborn and then down Shaftesbury Avenue </li></ul>
<p>New bus stops will be provided in St Giles High Street and Shaftesbury Avenue and new and relocated stands will accommodate terminating buses in St Giles High Street and Earnshaw Street. </p>
<p>Peter Bradley, Head of Stakeholder Engagement at TfL, said: 'We are working closely with the local community to ensure minimum disruption to passengers while enabling people to get to and from the area. The diversions will be continually assessed.'</p>
<p>Passengers are advised to allow extra time for their journeys as routes may be subject to delays. </p>
<p>TfL will monitor the diversions to ensure they cause minimum disruption. Details of the diversions can be found <a href="http://www.tfl.gov.uk/tcr">online</a>&nbsp;the TfL website.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors: </strong></p>
<ul>
<li>Buses will be serving all bus stops on the diversion routes</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Charing Cross Road contra-flow bus lane between Denmark Street and New Oxford Street will have to be closed from early January to make way for building works for the upgraded Tottenham Court Road Underground station and the new Crossrail station. This";}
        
        


 