


@{ViewBag.Title = "Canary Wharf Group contributes &pound;150m to Crossrail and will design and build Isle of Dogs station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Canary Wharf Group contributes &pound;150m to Crossrail and will design and build Isle of Dogs station</h1>
        <div class="content-page-press-release">
        24 December 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Planning approval received and work to start on station in early 2009.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Crossrail is crucial in keeping London and the rest of the country globally competitive
                            
                        </p>
                    </div>
                
            
            
            <p>Work on the new Isle of Dogs Crossrail station at Canary Wharf is now set to begin in early 2009 as Canary Wharf Group plc (CWG) today concluded agreements with the Secretary of State for Transport and Transport for London subsidiary Cross London Rail Links Limited to contribute &pound;150m towards the costs of the new Isle of Dogs Crossrail station at Canary Wharf. </p>
<p>CWG will also design and build the new station. </p>
<p>CWG will construct the Isle of Dogs station for a fixed price of &pound;500m.</p>
<p>CWG has worked extensively with Crossrail on redesigning the station, resulting in significant savings for the project.&nbsp; </p>
<h2>New station</h2>
<p>A sum of &pound;350m of the station's &pound;500m costs will be met from Crossrail's &pound;15.9bn budget with CWG bearing the risk in relation to costs above the fixed price limit. </p>
<p>With final planning approval received by CWG, construction of the new Isle of Dogs station will now start in early 2009. </p>
<p>The station box is expected to be completed and handed over to Crossrail by summer 2012. </p>
<p>The first trains are due to run in 2017 when Crossrail opens for passenger service. </p>
<h2>Commitment of business</h2>
<p>Planning approval has been received for approximately 100,000 square feet of retail space and a rooftop park above the station. </p>
<p>The park is a focal point of the design and will be semi-covered by an elegant and environmentally sustainable timber lattice roof, providing views of the docks and Canary Wharf beyond. </p>
<p>Transport Minister Andrew Adonis said: 'This deal with the Canary Wharf Group once again demonstrates the commitment of business to this vital project.</p>
<p>'Crossrail is crucial in keeping London and the rest of the country globally competitive. </p>
<h2>New jobs</h2>
<p>'It will provide a boost of at least &pound;20bn to the UK economy, as well as creating around 30,000 much-needed new jobs in this difficult time.</p>
<p>'This vital new link will directly connect the heart of London's financial districts and Canary Wharf to Heathrow Airport, significantly improving existing public transport links and giving people a real choice about how they make their journeys into and across London.'</p>
<p>Mayor of London, Boris Johnson said: 'Construction of the new Isle of Dogs Crossrail station will get underway in early 2009 and will be a welcome boost to the economy at a time when it is hugely needed. </p>
<p>'Once Crossrail arrives in Canary Wharf it will act as the catalyst for a further economic boost - allowing the construction of more offices and other facilities including new shops and more hotels, creating lasting jobs over the coming decades.' </p>
<h2>Experience and expertise</h2>
<p>Crossrail will help secure London's position as a world leading centre for commerce by delivering a 10 per cent increase to the Capital's rail capacity when it opens in 2017. </p>
<p>The project will bring 1.5 million people within 60 minutes' commute of London's major business districts. </p>
<p>CWG chief executive George Iacobescu said: 'Canary Wharf Group has supported Crossrail for many years. </p>
<p>'It is vitally important for transport infrastructure to improve to help London keep pace with rapidly developing cities in other parts of the world which are competing for London's role as one of the main global financial centres.'</p>
<p>'We are delighted to be able to put our experience and expertise, gained from developing over 15 million square feet of top-quality office space over the past 20 years, at the service of the Crossrail project. </p>
<p>'Crossrail is a major boost for Canary Wharf, for east London and for London as a global centre of commerce.'<br></p>
<p>To contact Canary Wharf Group:<br>Hamish McDougall, Canary Wharf Group<br>Phone: +44 (0) 20 7 418 2326 or +44 (0) 7779 888 075<br>Email: <a href="mailto:hamish.mcdougall&#64;canarywharf.com">hamish.mcdougall&#64;canarywharf.com</a></p>
<p><strong>
<hr>
</strong>
<p>
<p><strong>Notes to editors:</strong></p>
<p><strong>About Isle of Dogs station</strong></p>
<ul>
<li>An image of the future Isle of Dogs Crossrail station is available on request </li>
<li>Journey times to and from Canary Wharf will be cut to many destinations across London including Farringdon in 10 minutes, Paddington in 17 minutes and Heathrow in 44 minutes </li>
<li>CWG's contribution of &pound;150m will be applied against any future Crossrail Section 106 contributions for certain agreed sites which may be required as part of proposed alterations to the London Plan </li>
<li>Planning consent was granted for the Isle of Dogs Crossrail station's retail and park scheme by the London Borough of Tower Hamlets on 4 December 2008 and ratified by the Mayor of London on 17 December </li>
<li>North Quay will be the worksite for the new station. </li>
<li>When works are completed the site will be handed back to CWG to enable development of North Quay, which already has planning permission </li>
<li>Canary Wharf Group and its predecessor organisations have a long history of funding transport infrastructure projects in London, including the original Docklands Light Railway link and the Jubilee line extension </li>
<li>The Isle of Dogs Crossrail station retail scheme is designed by Foster + Partners, architects of the award-winning Canary Wharf Underground station </li>
<li>The park scheme is designed by Gillespies, one of the UK's foremost landscape designers</li></ul>
<p><strong>About Crossrail</strong></p>
<ul>
<li>Crossrail London Rail Links became a wholly owned subsidiary of Transport for London on 5 December 2008 </li>
<li>Since the Crossrail Bill received Royal Assent on 22 July 2008, Crossrail has been moving rapidly ahead and progress includes the appointment of new Crossrail Board members, the appointment of a new Non-Executive Chair, preparatory works to confirm the location of utilities in the Bond Street, Tottenham Court Road and Paddington areas and the start of the competitive tendering process to select the contractors </li>
<li>Crossrail will run 118 km from Maidenhead and Heathrow in the west, through new twin-bore 21 km tunnels under central London connecting key London stations including Paddington, Bond Street, Tottenham Court Road, Liverpool Street and Canary Wharf and on to Abbey Wood and Shenfield in the East </li>
<li>When complete, the railway will operate 24 trains per hour in each direction through central London during peak times. This will provide substantial new passenger capacity and crowding relief, particularly on the Central and Piccadilly lines </li>
<li>Crossrail will be the biggest construction project in Europe and will provide a major boost to the UK economy during the current economic climate as the Jubilee line extension did during the early 1990s. Next year, Crossrail will begin the process of recruiting the large numbers of staff that will be required to deliver Crossrail. At the height of construction in 2013/15, up to 14,000 people will be employed to build Crossrail</li></ul>
<p><strong>About Canary Wharf Group plc</strong></p>
<ul>
<li>The prime business function of CWG is the building and leasing of Grade A office and retail space at its 97 acre estate in east London ('the estate').&nbsp;Over the last 20 years it has constructed more office space in London than any other property group totalling over 14 million sq. ft of commercial space.&nbsp;The development now comprises 33 office buildings and more than200 shops, bars and restaurants within four retail malls.&nbsp;It also has a conference and banqueting centres, two Docklands Light Railway stations, a Jubilee line station, car parks and approximately 20 acres of landscaped open spaces </li>
<li>CWG owns completed properties amounting to approximately 7.9 million sq ft.&nbsp; CWG also owns and controls the retail space (approximately 740,000 sq ft), Wintergardens (40,000 sq ft) and public parking, (approx. 1.5 million sq ft) as well as the roads (totalling 6.8km) and parks and open spaces on the estate (totalling 382,900 sq ft) in addition to land held for future development. It is through this ownership and the management of the entire 97 acre estate that CWG controls the integrity of the estate which enhances the value of the whole</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Work on the new Isle of Dogs Crossrail station at Canary Wharf is now set to begin in early 2009 as Canary Wharf Group plc (CWG) today concluded agreements with the Secretary of State for Transport and Transport for London subsidiary Cross London Rail";}
        
        


 