


@{ViewBag.Title = "Christmas Day engineering on the Tube";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Christmas Day engineering on the Tube</h1>
        <div class="content-page-press-release">
        19 December 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        As Londoners sit down for their Christmas dinner Transport for London (TfL) continues with the transformation of the Tube.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We're making the most of this time to test our new trains and signals"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">LU's Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We're making the most of this time to test our new trains and signals 
                            
                        </p>
                    </div>
                
            
            
            <p>On Christmas Day all Tube stations will be closed and normal passenger services will not run.&nbsp; </p>
<p>This provides an ideal time for routine maintenance works on some lines and the testing of new trains and signalling systems as part of London Underground's (LU's) multi-billion pound investment programme.</p>
<p>Staff will work around the clock at stations, on trains and tracks, which will remain live so that the test trains can remain in operation.&nbsp;</p>
<h2>Faster journeys</h2>
<p>The trials are part of the implementation of the new Automatic Train Operation system on the Jubilee line which will result in a higher frequency of trains and faster journeys being introduced in the early part of 2010.</p>
<p>Howard Collins, Chief Operating Officer of&nbsp;LU, said: 'Christmas Day is the only day of the year when there are no Tube services in operation, so we're making the most of this time to test our new trains and signals keeping passenger disruption to a minimum.'&nbsp; </p>
<p>TfL is investing billions of pounds to transform the Tube for customers and work is intensifying to deliver the upgraded service on time.&nbsp; </p>
<p>New signalling has been installed on part of the LU network on the Jubilee line and Victoria lines.</p>

<h2>Checks and trials</h2>
<p>Rigorous checks and trials are being carried out on the new technology at night and during weekend closures. </p>
<p>To check before you travel, please visit <a href="http://www.tfl.gov.uk/">http://www.tfl.gov.uk/</a></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Passengers are advised to check before they travel to help them plan their journey. This can be done by checking posters and leaflets at stations, listening out for public address announcements, going to the <a href="http://www.tfl.gov.uk/">TfL website</a>, calling The London Travel Information&nbsp;24-hour telephone helpline: 020 7222 1234 or using BBC Ceefax, page 436 </li>
<li>To plan your journey, go to <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> </li>
<li>TfL is investing billions of pounds to improve and expand London's transport network </li>
<li>There are approximately 8,500 CCTV cameras on the Tube and Docklands Light Railway (DLR) network which will rise to 12,000 over the next four years as part of the ongoing station modernisation programme. This will see the upgrading and expansion of CCTV facilities from analogue to digital and the recording of high quality images to hard drive rather than magnetic tape. This will ultimately mean that no one will be able to enter the Underground/DLR network without their face being recorded by CCTV camera. CCTV coverage also extends to trains and will be expanded as new rolling stock arrives on the network. Footage from CCTV cameras is not only able to viewed and monitored locally by a specific station but can also be accessed remotely by the LU's Network Operation Centre and by the British Transport Police. This does not cover all stations </li>
<li>Tube Lines is responsible for the maintenance and upgrade of the infrastructure on the Jubilee, Northern and Piccadilly lines.&nbsp;LU is responsible for operating the Underground, for employing drivers and station staff, for ticketing and fares, and for the Tube's safety </li>
<li>Metronet Rail BCV and SSL are now under the control of London Underground to ensure all necessary maintenance and renewal works continue</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "On Christmas Day all Tube stations will be closed and normal passenger services will not run.&nbsp; This provides an ideal time for routine maintenance works on some lines and the testing of new trains and signalling systems as part of London";}
        
        


 