


@{ViewBag.Title = "Congestion Charge suspended for the festive period";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Congestion Charge suspended for the festive period</h1>
        <div class="content-page-press-release">
        22 December 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL reminds motorists that there will be no charge between Christmas and New Year.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Lighter traffic levels over the festive period mean that we are able to suspend the Congestion Charge during this time"</div>
        <div class="quote-footer">
            <div class="quotee-name">Graeme Craig</div>
            <div class="quotee-job-title">TfL's Director of Congestion Charging and Traffic Enforcement</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Lighter traffic levels over the festive period mean that we are able to suspend the Congestion Charge during this time
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) has confirmed that for the fifth year running there will be no charge for driving within the Congestion Charging zone over the festive period.</p>
<p>Motorists will not have to pay the Congestion Charge from Thursday 25 December until Thursday 1 January inclusive. </p>
<p>Congestion Charging will be in operation as usual from Friday 2 January 2009.</p>
<p>Graeme Craig, TfL's Director of Congestion Charging and Traffic Enforcement, said: 'Lighter traffic levels over the festive period mean that we are able to suspend the Congestion Charge during this time. </p>
<p>'We would like to remind motorists, however, that the Congestion Charge is in operation as usual from Friday 2 January.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Congestion Charge is an &pound;8 daily charge for driving a vehicle within the Congestion Charging zone between 07:00 and 18.00, Monday to Friday</li>
<li>There are a number of different payment methods for paying the Congestion Charge including online at cclondon.com, by calling 0845 900 1234, by mobile phone text message, at selected retail outlets and petrol stations, by post, or at a self-service machine</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has confirmed that for the fifth year running there will be no charge for driving within the Congestion Charging zone over the festive period.Motorists will not have to pay the Congestion Charge from Thursday 25 December until";}
        
        


 