


@{ViewBag.Title = "Enjoy the festive season - don't get a penalty ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Enjoy the festive season - don't get a penalty </h1>
        <div class="content-page-press-release">
        16 December 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) would like to remind all motorists that parking and traffic regulations on the London's red route network are enforced on public holidays over the festive season.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I would urge all drivers in London over Christmas to make sure they know how and when they can park, stop and drive
                            
                        </p>
                    </div>
                
            
            
            <p>A recent survey found that many London drivers are not fully aware of the restrictions of red route enforcement, particularly during the weekends and public holidays. </p>
<p>The red route is made up of 580km of London's busiest roads and is still heavily used on public holidays and so it is important that congestion is kept to a minimum for the benefit of all road users. </p>
<p>TfL aims to help drivers avoid unnecessary Penalty Charge Notices (PCNs) and recently updated the information available on the <a href="http://www.tfl.gov.uk/">TfL website</a> with this in mind. </p>
<h2>Unnecessary penalties</h2>
<p>John Mason, Deputy Director of Congestion Charging and Traffic Enforcement at TfL, said: 'Our objective is to ensure drivers understand and abide by the restrictions in place and this also applies on Bank Holidays.</p>
<p>'We don't want motorists to get unnecessary penalties at any time, but especially not over the festive season, and so would like to remind all motorists that many parking and traffic controls on the red route apply as normal on public holidays. </p>
<p>'I would urge all drivers in London over Christmas to make sure they know how and when they can park, stop and drive. This information is fully explained on the TfL website.'&nbsp; </p>
<p><strong>
<hr>
</strong>
<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Congestion Charge will not be enforced between 25 December and 1 January 2009 </li>
<li>Research was conducted by Synovate among 1,005 Londoners, of which 473 were drivers, whose results are shown below. The research was conducted from 6-26 October inclusive. Data was weighted by age and gender to reflect the London population as a whole: <br></li>
<li>Drivers in London by geographical area</li></ul>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;Inner</td>
<td>&nbsp;Outer</td>
<td>&nbsp;Central</td>
<td>&nbsp;Inner north</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;Central, inner north and inner south boroughs</td>
<td>&nbsp;Total of outer north, east, south and west boroughs</td>
<td>&nbsp;City of London, City of Westminster, Kensington &amp; Chelsea</td>
<td>&nbsp;Camden, Hackney, Hammersmith &amp; Fulham, Haringey, Islington, Newham, Tower Hamlets</td></tr>
<tr>
<td>Awareness of red&nbsp;routes&nbsp;</td>
<td>&nbsp;85</td>
<td>&nbsp;90</td>
<td>&nbsp;84</td>
<td>&nbsp;89</td></tr>
<tr>
<td>&nbsp;Awareness of enforcement on:</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td></td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;week days</td>
<td>&nbsp;78</td>
<td>&nbsp;77</td>
<td>&nbsp;72</td>
<td>&nbsp;85</td></tr>
<tr>
<td>&nbsp;Sunday</td>
<td>&nbsp;56</td>
<td>&nbsp;55</td>
<td>&nbsp;55</td>
<td>&nbsp;57</td></tr>
<tr>
<td>&nbsp;Bank Holiday / public holidays</td>
<td>&nbsp;54</td>
<td>&nbsp;51</td>
<td>&nbsp;51</td>
<td>&nbsp;55</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr></tbody></table></div></p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;Inner south</td>
<td>&nbsp;Outer north</td>
<td>&nbsp;Outer east</td>
<td>&nbsp;Outer south</td>
<td>&nbsp;Outer west</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;Lambeth, Lewisham, Southwark, Wandsworth</td>
<td>&nbsp;Barnet, Brent,Enfield, Waltham Forest</td>
<td>&nbsp;Dagenham &amp; Barking, Bexley, Greenwich, Havering, Redbridge</td>
<td>&nbsp;Bromley, Croydon, Kingstone-upon-Thames, Merton, Sutton</td>
<td>&nbsp;Ealing, Harrow, Hillingdon, Hounslow, Richmond-upon-Thames</td></tr>
<tr>
<td>&nbsp;Awareness of red routes</td>
<td>&nbsp;81</td>
<td>&nbsp;91</td>
<td>&nbsp;90</td>
<td>&nbsp;92</td>
<td>&nbsp;89</td></tr>
<tr>
<td>&nbsp;Awareness of enforcement on:</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;week days</td>
<td>&nbsp;76</td>
<td>&nbsp;77</td>
<td>&nbsp;81</td>
<td>&nbsp;76</td>
<td>&nbsp;73</td></tr>
<tr>
<td>&nbsp;Sunday</td>
<td>&nbsp;56</td>
<td>&nbsp;53</td>
<td>&nbsp;58</td>
<td>&nbsp;54</td>
<td>&nbsp;53</td></tr>
<tr>
<td>&nbsp;Bank Holiday/public holidays </td>
<td>&nbsp;56</td>
<td>&nbsp;51</td>
<td>&nbsp;55</td>
<td>&nbsp;44</td>
<td>&nbsp;57</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr></tbody></table></div></p>
<p>&nbsp;&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A recent survey found that many London drivers are not fully aware of the restrictions of red route enforcement, particularly during the weekends and public holidays. The red route is made up of 580km of London's busiest roads and is still heavily used on";}
        
        


 