


@{ViewBag.Title = "Love at Green Park Tube station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Love at Green Park Tube station</h1>
        <div class="content-page-press-release">
        01 December 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) is the setting for love in Genevieve Gaunt's prize- winning poem called 'Green Park'.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It's a delightful poem, a pleasure to read, an exhilarating tribute to the Underground and to the joys of young love"</div>
        <div class="quote-footer">
            <div class="quotee-name">Judith Chernaik</div>
            <div class="quotee-job-title">Poems on the Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It's a delightful poem, a pleasure to read, an exhilarating tribute to the Underground and to the joys of young love
                            
                        </p>
                    </div>
                
            
            
            <p>The 17-year-old from Hammersmith has scooped second prize in The Sunday Telegraph and Rose Theatre's Poetry for Performance Competition. </p>
<p>The teenager's poem was chosen out of 1,400 entries in the teen category.&nbsp; </p>
<p>The judges included Poet Laureate Andrew Motion, Ben Okri OBE Booker- winning novelist and poet who lives in London and poet and novelist Jackie Kay MBE.&nbsp;</p>
<p>The theme for the competition was 'personal relationships' and the sonnet can be heard being performed online by actor Timothy West CBE. </p>
<p>Genevieve Gaunt said: 'My poem, 'Green Park', is on a particularly London-based theme: the Underground.</p>
<p>'All those thousands of people standing silent each morning, iPods filling up the spaces in between each other, eyes averted on the Tube; what would happen if on one such morning something changed all that?</p>
<p>I chose Green Park because it lies in the heart of London. The name itself has a fresh sound and romantic connotation.</p>
<p>'When looking at a Tube map, the Central line and District line run parallel - like the lovers do.'</p>
<p>Judith Chernaik, who picks the poems for the LU's Poems on the Underground, said: 'It's a delightful poem, a pleasure to read, an exhilarating tribute to the Underground and to the joys of young love. </p>
<p>'It's wonderfully accomplished.'</p>
<p>LU&nbsp;has applied for planning permission to bring major improvements to Green Park Tube station in time for the London 2012 Olympic Games and Paralympic Games.</p>
<p>If successful, LU will provide full step-free access from street to platform level to benefit mobility impaired passengers, customers with pushchairs and heavy luggage. </p>
<p>Work would be completed in 2011.&nbsp;Work to modernise the station has already started and includes installing new CCTV cameras to make passengers feel safer and improve security, putting in Help points and providing a new public address system which will make announcements clearer. </p>
<p>Partially sighted customers will benefit from contrasting handrails and access will be improved for mobility impaired passengers by putting tactile strips on platforms and stairs.&nbsp; </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>LU is planning to make 25 per cent of the Tube network step-free by 2010 </li>
<li>Green Park by Genevieve Gaunt can be viewed <a class="external-site" title=" (Opens in new window)" href="http://www.telegraph.co.uk/arts/main.jhtml?xml=/arts/exclusions/books/poetry/teens/pgaunt.xml" jquery1228138236408="6">online </a>and is performed by actor Timothy West CBE&nbsp; </li>
<li>A photo of Genevieve Gaunt is available from TfL's press office </li>
<li>Green Park station is one of three stations being made step-free for the London 2012 Olympic Games and Paralympic Games. The other two are Baker Street and Southfields </li>
<li>Sixty million journeys are made through Green Park a year </li>
<li>At present step-free access is only available at Green Park for customers interchanging between the Piccadilly and Jubilee lines </li>
<li>Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines </li>
<li>LU is undertaking a major programme of renewal as part of TfL's Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future </li>
<li>TfL is urging all Londoners and Tube, London Overground and DLR passengers to '<a href="http://www.tfl.gov.uk/livetravel">check before you travel'</a> at weekends, allowing extra journey time where necessary</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The 17-year-old from Hammersmith has scooped second prize in The Sunday Telegraph and Rose Theatre's Poetry for Performance Competition. The teenager's poem was chosen out of 1,400 entries in the teen category.&nbsp; The judges included Poet Laureate";}
        
        


 