


@{ViewBag.Title = "New hybrid buses unveiled for London fleet";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New hybrid buses unveiled for London fleet</h1>
        <div class="content-page-press-release">
        02 December 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Hybrid bus fleet to quadruple to 56, the largest in the UK, by early 2009.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            By 2012 we expect every new bus entering the fleet should be using hybrid technology
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) has unveiled a range of new, single and double deck, eco-friendly hybrid buses for London today (2 December), the first stage in a major expansion of the Capital's hybrid bus fleet.</p>
<p>By the end of January next year, the number of hybrid buses in the Capital will more than quadruple to 56 buses and confirm the Capital's position as the home of the largest fleet of hybrid buses in the UK.</p>
<p>A further 300 hybrid buses will be in operation by 2011.</p>
<p>Twenty-five new hybrids will go into service this month on routes 16, 141, 276, 328 and E8; a further 18 hybrid buses will join the fleet early in 2009.&nbsp; </p>

<h2>Hybrid technology</h2>
<p>Mayor of London, Boris Johnson, said: 'A wonderful alliance of fuel efficiency and fume deficiency make hybrid engines the way to go for buses in our city.</p>
<p>'Londoners that travel on buses with the green leaf livery can rest comfortably in their seats and enjoy clear environmental consciences, safe in the knowledge that their journey will guzzle far less fuel and expire a whopping forty per cent less carbon dioxide than a regular bus.</p>
<p>'I'd urge all Londoners to look out for their leafy livery on the city's streets and jump on board.'</p>
<p>Both TfL and the Mayor are committed to the introduction of hybrid technology and by 2012, TfL expects all new buses joining the fleet will be hybrid.</p>

<h2>Cleaner energy</h2>
<p>At a rate of 500 buses a year, it is expected to be the largest roll out of hybrid buses in Europe.</p>
<p>The bus industry has responded to that commitment and several major manufacturers have developed hybrid buses specifically for the London fleet.</p>
<p>The Mayor has also specified that the 'New Bus for London' should run on a hybrid engine.&nbsp; </p>
<p>Hybrid buses are cleaner and greener than their diesel counterparts.</p>

<h2>Reduced emmisions</h2>
<p>Their combination of a conventional engine and an electric motor uses less fuel and is better for air quality as they emit fewer pollutants and reduce CO2 emissions by up to 40 per cent.&nbsp; </p>
<p>Their roll out will contribute to the Mayor's target of a 60 per cent reduction in emissions across London by 2025.&nbsp; </p>
<p>Londoners will notice that hybrid buses are also significantly quieter than diesel buses, making bus travel more pleasant for passengers and reducing noise for local residents along bus routes.</p>
<p>Alexander Dennis, Volvo and Optare have now produced their first hybrid buses for London, while Wrightbus has produced a new double deck hybrid, using different technology to that used in the 13 hybrids it already has operating in the London fleet.</p>

<h2>Quieter engine</h2>
<p>Kulveer Ranger, the Mayor's Director of Transport Policy, said: 'With bus ridership rocketing it is vital our buses are as clean and green as possible.&nbsp; </p>
<p>'The trial of new hybrid buses is a further step towards that aim and will mean we can be sure that we get the best buses possible for Londoners.&nbsp; </p>
<p>'By 2012 we expect every new bus entering the fleet should be using hybrid technology and their roll out will contribute to the Mayor's target of a 60 per cent reduction in emissions across London by 2025.'</p>
<p>David Brown, Managing Director for Surface Transport at TfL, said: 'London has led the way in the introduction of hybrid technology in its bus fleet, and I'm pleased to see so many manufacturers responding with new hybrid bus designs.&nbsp; </p>

<h2>Cleanest in the UK</h2>
<p>'As we increase the number of hybrid buses in London, more people across the Capital will be able to see first hand the future of the bus fleet - cleaner, quieter and more pleasant for passengers and Londoners on the whole, but also more efficient and environmentally friendly.'</p>
<p>These vehicles are being introduced as part of an ongoing programme by TfL to test innovative technology and reduce emissions from its bus fleet, which is already the cleanest in the UK.*</p>
<p>All of London's hybrid buses can be recognised by the green leaf motif over their traditional red livery.</p>
<p>
<hr>
<strong>Notes to editors: 
<p>
<ul>
<li></li></ul></strong>The new hybrid buses joining the fleet in December will be used for driver training this week, and will start going into service from next week onwards on the following routes: 
<ul>
<li>Route E8, operated by Metroline between Ealing Broadway Station and Brentford (Commerce Road) - five Optare single decks </li>
<li>Route 16, operated by Metroline between Victoria Station and Cricklewood Garage - five new Alexander Dennis Ltd double decks </li>
<li>Route 141, operated by Arriva between Palmers Green (North Circular Road) and London Bridge Station - five new Wrightbus double decks </li>
<li>Route 276, operated by East London Buses between Newham Hospital and Stoke Newington Common - five Optare single decks </li>
<li>Route 328, operated by First between Golder's Green Station and Chelsea (World's End) - five new Wrightbus double decks</li></ul>
<li>Eighteen&nbsp;further hybrid buses will join the fleet early in 2009 on the following routes: 
<ul>
<li>Route 24, operated by London General between Pimlico (Grosvenor Road) and Hampstead Heath (South End Green) - five new Alexander Dennis Ltd double decks </li>
<li>Route 42, operated by East Thames Buses between Liverpool Street Station (Worship Street) and Denmark Hill (Sunray Avenue) - five new Alexander Dennis Ltd single decks </li>
<li>Route 141, operated by Arriva between Palmers Green (North Circular Road) and London Bridge Station - a further six new Volvo double decks </li>
<li>Route 482, operated by London United between Southall Town Hall and Heathrow Terminal Five - two Alexander Dennis Ltd double decks</li></ul></li>
<li>Thirteen hybrid buses, built by Wrightbus, are already in service in London: 
<ul>
<li>Seven single decks operate on route 360, operated by London Central between Kensington (Queen's Gate) and Elephant &amp; Castle </li>
<li>Five single decks operate on route 129, operated by Travel London between Greenwich (Cutty Sark) and North Greenwich Station </li>
<li>One double deck hybrid on route 141, operated by Arriva between Palmers Green and London Bridge Station.&nbsp;This bus will be returned to Wrightbus early in the New Year, when all five of the later model are operating on the route</li></ul></li>
<li>A total of 56 double and single deck hybrid buses will be in operation in London by the end of January 2009.&nbsp;TfL is committed to a longer term programme that will see a further 300 new hybrid buses joining the fleet by the end of March 2011; after which it is expected that all new buses entering service in London will be hybrid </li>
<p>*The 8,000 strong London Buses fleet is the cleanest in the UK.&nbsp;Twenty-seven per cent of the fleet meet Euro II standards and are fitted with particulate filters, 66 per cent meet Euro III and are fitted with particulate filters.&nbsp;Seven per cent meet the latest Euro standard of Euro IV<br></p>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has unveiled a range of new, single and double deck, eco-friendly hybrid buses for London today (2 December), the first stage in a major expansion of the Capital's hybrid bus fleet.By the end of January next year, the number of";}
        
        


 