


@{ViewBag.Title = "Passengers urged to hold on to seasonal shopping";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Passengers urged to hold on to seasonal shopping</h1>
        <div class="content-page-press-release">
        16 December 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        As the festive season hits full swing, Transport for London (TfL) is advising commuters to be extra careful with their belongings when travelling.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I would encourage anyone who loses an item of property on our services to get in touch with us"</div>
        <div class="quote-footer">
            <div class="quotee-name">Julie Haley</div>
            <div class="quotee-job-title">Manager of TfL's Lost Property Office</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I would encourage anyone who loses an item of property on our services to get in touch with us
                            
                        </p>
                    </div>
                
            
            
            <p>More than 110,000 items have found their way to the TfL Lost Property Office in the last seven months and thousands more are expected to be handed in over the holiday season.</p>
<p>December is traditionally a busy time for the Lost Property Office and last year more than 12,000 items were handed in - some of them Christmas presents in festive gift wrapping.</p>
<h2>Claiming lost items</h2>
<p>Julie Haley, Manager of TfL's Lost Property Office, said: 'We would like to remind people to keep hold of their belongings - it's all too easy to leave a bag or two behind when you're out shopping for presents or taking advantage of the January sales.&nbsp; </p>
<p>'We always do our best to reunite people with their property, and it's such a shame when we see so many presents going unclaimed.&nbsp;</p>
<p>I would encourage anyone who loses an item of property on our services to get in touch with us to claim it back in time for Christmas Day.'</p>
<p>Leaving items behind can also lead to unnecessary security alerts and delays to services across the transport network.</p>
<h2>Poster&nbsp;campaign</h2>
<p>TfL is now reminding passengers to keep their belongings with them through a series of new security posters, designed both to reassure passengers and minimise unnecessary delays on public transport.</p>
<p>Steve Burton, Director of Community Safety Enforcement and Policing for TfL, said:&nbsp; 'Whilst it is the season to be jolly, leaving bags behind on the transport network can spoil the festive feeling.</p>
<p>'Unattended items can cause unecessary security alerts which are an additional burden to the emergency services and to passengers who get caught in the disruption that follows. </p>
<p>'The safety of our passengers and staff is our top priority and the new poster campaign has been designed to remind people to look after their belongings and be extra vigilant.'</p>
<h2>What we find</h2>
<p>Between 600 and 1,000 items are handed in each day to TfL's Lost Property Office.</p>
<p>The most commonly forgotten objects from 1 May to&nbsp;1 December&nbsp;this year&nbsp;were books (21,844), bags (16,778) and items of clothing (16,614).</p>
<p>This is followed by a large volume of mobile phones, value items (wallets, purses, laptops etc.), umbrellas, keys and gloves. </p>
<p>A satellite dish, crocodile skin handbag, four foot gorilla soft toy, jar of bull's sperm and human skulls are just some of the unusual items handed in to the Lost Property Office over the years.</p>
<hr>

<p><strong>Notes to editors:</strong></p>
<p><strong>Lost Property Office</strong></p>
<ul type="circle">
<li>Images are available on request </li>
<li>The Lost Property Office handles items lost on the TfL network, including London Buses, London Underground, London Overground, Docklands Light Railway, licensed taxis or in Victoria Coach Station </li>
<li>If a name and address, email address or telephone number is found in the property, the potential owner is contacted and told that the Lost Property Office may have their item of property </li>
<li>Property normally takes a minimum of two working days to arrive at the Lost Property Office </li>
<li>After two days, people can enquire about lost property in several ways: 
<ul type="circle">
<li><strong>Calling</strong> 0845 330 9882 between 08.30 and 16.00, Monday to Friday (except Bank Holidays) </li>
<li><strong>Completing</strong>&nbsp;an <a title="Lost property form" href="/tfl/contact/lostproperty/default.asp">online enquiry form</a> <strong></strong></li>
<li><strong>Faxing </strong>020 7918 1028 </li>
<li><strong>Visiting or writing to</strong>:<br>Lost Property Office,&nbsp;200 Baker Street,&nbsp;London&nbsp;NW1 5RZ</li></ul></li>
<li>Positively identified lost property is returned to the owner (in person or by post) once a restoration fee, postage and (for property lost in taxis) a driver's award has been paid </li>
<li>The success rate for returning items to their owners is around&nbsp;one in&nbsp;three bags, one in three mobiles and one in three valuables </li>
<li>The biggest barrier to returning property to its rightful owner is the large number of people who simply do not enquire about their lost items</li></ul>
<p><strong>New advertising campaign</strong></p>
<ul type="circle">
<li>Images of the campaign are available upon request </li>
<li>The campaign is co-branded with our policing partners; the British Transport Police, Metropolitan Police Service and City of London Police </li>
<li>The campaign has a series of three posters, which raise awareness of reporting suspicious activity and promoting Help Points </li>
<li>The simple designs are intentional so that they are visibly easy to understand this important message<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "More than 110,000 items have found their way to the TfL Lost Property Office in the last seven months and thousands more are expected to be handed in over the holiday season.December is traditionally a busy time for the Lost Property Office and last year";}
        
        


 