


@{ViewBag.Title = "Successful bus vandalism policing team to target pickpockets and violence against bus drivers ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Successful bus vandalism policing team to target pickpockets and violence against bus drivers </h1>
        <div class="content-page-press-release">
        01 December 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        An anti-vandalism operation using CCTV on London's buses has chalked up nearly 3,000 arrests in its four years of operation.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Londoners deserve to travel on buses that are free of foul scribblings and in a condition that will make them a pleasure to use"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Londoners deserve to travel on buses that are free of foul scribblings and in a condition that will make them a pleasure to use
                            
                        </p>
                    </div>
                
            
            
            <p>Now Operation Bus Tag is set to take on pickpockets and passengers that are violent to staff. </p>
<p>Since its launch in 2004 Operation Bus Tag has quadrupled the arrest rate for criminal damage on buses. </p>
<p>It has a 95 per cent conviction rate with sentences ranging from fines and community service to imprisonment. </p>
<p>The operation is run by the Metropolitan Police's Transport Operational Command Unit and funded by Transport for London (TfL). </p>
<h2>Tackling crime</h2>
<p>The latest police figures from April to June 2008/09 show bus-related criminal damage had gone down by around a quarter (24 per cent) compared to the year before. </p>
<p>Theft and handling offences also went down by 16 percent in the same period.</p>
<p>Graffiti, window etching, seat and window damage and arson are some of the offences classified as criminal damage and that cost bus operating companies millions of pounds each year to repair.&nbsp;</p>
<p>Bus Tag has been so successful in tackling these issues that the team is now extending its remit to identifying suspects who have committed pickpocket offences on board buses, or have been violent to bus staff.&nbsp;&nbsp; </p>
<h2>Remarkable job</h2>
<p>The Mayor of London, Boris Johnson, said: 'The antisocial behaviour that is targeted by Bus Tag consists of exactly the sort of unpleasant offences that I am determined my mayoralty will stamp out.</p>
<p>'Londoners deserve to travel on buses that are free of foul scribblings and in a condition that will make them a pleasure to use. </p>
<p>'The officers working on Bus Tag have done a remarkable job of reducing these offences and I am gladdened by the news that they will also now focus their talents on detecting petty theft and abusive passengers.'</p>
<p>To support Operation BusTag on its fourth anniversary, officers will be distributing a new, bespoke leaflet to school children and parents titled&nbsp; 'Committing Criminal Damage on buses - Is it worth damaging your future?', which describes the consequences of committing criminal damage on London's bus network.&nbsp; </p>
<h2>Drive down crime</h2>
<p>Chief Superintendent Royle, Transport Operational Command Unit, said:&nbsp;'We are working together to keep London moving safely and to drive down crime and the fear of crime. </p>
<p>'Vandalism, graffiti and etching on buses creates an intimidating atmosphere for passengers and increases the fear of crime. </p>
<p>'If you commit criminal damage on buses you will be caught with the help of CCTV images and prosecuted.'</p>
<p>Steve Burton, Director of Community Safety Enforcement and Policing, said:&nbsp;'While crime on London's buses is low and getting lower, we know there is always more that can be done. </p>
<h2>Targeting criminals</h2>
<p>'We are delighted by the success of Operation Bus Tag and that this team will be extending its remit, targeting those criminals who abuse our staff.</p>
<p>'Our passengers have the right to travel safely and to do so in a clean and comfortable environment.&nbsp; </p>
<p>'With around 60,000 CCTV cameras installed on London's 8,000 buses we are able to take action against anyone caught causing damage. </p>
<p>'I hope this serves as a stern reminder to anyone with criminal intent that our cameras are watching, so we'll catch them and we will bring them to justice.' </p>
<h2>Combating serious offences</h2>
<p>Operation BusTag has also actively assisted other Metropolitan Police operations combating serious offences where bus CCTV images have been secured as part of an investigation.</p>
<p>Additionally, the cooperation from local press that publish CCTV images in their newspapers has proved invaluable in identifying those responsible for criminal damage on buses. </p>
<p>Neighbourhood Watch websites have also published CCTV images which have boosted the identification rate.&nbsp; </p>

<p>
<hr>
</p>
<p>
<p><strong>Notes to editors: </strong></p>
<ul>
<li>Bus related crime - Key figures for Q1 2008/09 
<ul type="circle">
<li>Total bus-related offences show a 13.7 per cent reduction in Q1 2008/09 compared to the year before </li>
<li>Bus criminal damage has gone down 26.4 per cent from 1534 to 1129</li></ul></li>
<li>Operation BusTag was set up in November 2004 by the Metropolitan Police Service's Transport Operational Command Unit and is funded by Transport for London to: 
<ul type="circle">
<li>Tackle criminal damage being committed on London's buses, which costs bus companies around &pound;10m a year </li>
<li>Identify and bring to justice those who have committed criminal damage on London's buses&nbsp; </li>
<li>Liaise with bus companies and other authorities to tackle criminal damage and antisocial behaviour&nbsp; </li></ul></li>
<li>The BusTag operation works closely with London's 23 bus operating companies who together have a team of 70 CCTV analysts who go through thousands of hours of footage every year to pin point images of alleged crimes </li>
<li>The key to their successful investigations is through applying a forensic-style methodology to CCTV image identification. A disc of images will then be handed over to BusTag officers who will: 
<ul type="circle">
<li>View the footage and establish that an offence has taken place </li>
<li>Establish clear images of the suspect </li>
<li>Take the best image and circulate it as a Powerpoint picture </li>
<li>Circulate images to police boroughs, schools and newspapers </li>
<li>Once a suspect has been identified they will be arrested by dedicated BusTag arrest team</li></ul></li>
<li>In February 2007, Operation BusTag was awarded first prize in The Annual Problem Solving Award - collaboration between the Metropolitan Police Service, The Metropolitan Police Association and the Safer London Foundation. It is aimed at recognising community policing that responds to local needs </li>
<li>In December 2007, Operation BusTag received a CrimeStoppers Award for police officers who have shown initiative and dedication when acting on information received from CrimeStoppers that leads to an arrest or conviction </li>
<li>Some of the protocols, practices and procedures put in place by Operation BusTag to deal with CCTV from the London Bus Operating Companies are being adopted by other Police Forces </li>
<li>BusTag officers have also delivered presentations on Bus CCTV and how to make best use of it to visiting Police and Transport Authorities from France, Germany, Spain, Netherlands, Holland, Canada, Taiwan and Korea </li>
<li>The Metropolitan Police's Transport Operational Command Unit was set up in 2002 to fight crime on buses, tackle illegal taxi touts and assist with the control of traffic congestion. There are now more than 1,200 uniformed officers in the unit which is funded, at a cost of around &pound;68m a year, by TfL </li>
<li>London Buses carry 6.4 million passengers a day on around 700 routes across the Capital. They remain a low crime environment but TfL is not complacent. The safety of staff and passengers is a top priority, and antisocial behaviour will not be tolerated on our buses</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Now Operation Bus Tag is set to take on pickpockets and passengers that are violent to staff. Since its launch in 2004 Operation Bus Tag has quadrupled the arrest rate for criminal damage on buses. It has a 95 per cent conviction rate with sentences";}
        
        


 