


@{ViewBag.Title = "TfL encourages safer and more efficient driving through in-vehicle driver profiling and coaching";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL encourages safer and more efficient driving through in-vehicle driver profiling and coaching</h1>
        <div class="content-page-press-release">
        02 December 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Freight operators are now being provided with tools to analyse and improve their drivers' behaviour.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The safe, reliable and efficient movement of vehicles in London is essential"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ian Brooks</div>
            <div class="quotee-job-title">TfL's FORS Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The safe, reliable and efficient movement of vehicles in London is essential
                            
                        </p>
                    </div>
                
            
            
            <p>Freight operators who have signed-up to TfL's Freight Operators Recognition Scheme (FORS) are now taking advantage of one of the scheme's great free benefits.</p>
<p>FORS is a unique, industry-led membership scheme that offers practical advice and guidance to freight operators in London, to help them drive down costs and become safer and more environmentally-focussed drivers.</p>
<p>As part of the scheme, TfL is now making in-vehicle driver profiling, using the 'GreenRoad Safety Centre', available to all members to help improve driver safety and efficiency.</p>

<h2>Using the latest technology</h2>
<p>This innovative device uses in-vehicle sensors to collect information on up to 120 different driving manoeuvres, such as acceleration, braking, lane changing, cornering and speed handling.</p>
<p>This information is analysed in real-time to give drivers continuous feedback about areas that require improvement.</p>
<p>It is also used to build a driver profile.</p>
<p>Driver safety and economy levels are displayed using a colour classification system: green light indicates safe driving, yellow needs attention and red is high risk.</p>
<p>Driver profiling gives fleet managers a high level picture - as well as full details - about their drivers' skills, and it also empowers drivers to manage their own safety and efficiency through personalised feedback.</p>

<h2>Far-reaching&nbsp;benefits</h2>
<p>Ian Brooks, TfL's FORS Manager, said: 'The safe, reliable and efficient movement of vehicles in London is essential to support the Capital's economy and its future as a world-leading city.</p>
<p>'This type of driver profiling allows us to balance the economic needs of operators while lowering their accident rates and reducing the impact on the environment - all important contributions to the quality of life in London and a key aim of FORS.'</p>
<p>TfL is working with GreenRoad, to provide all FORS members with the system for free for three months.</p>
<p>Once the potential benefits of the system - which include fewer accidents, lower operational costs and reduced fuel consumption - are realised then it is hoped operators will continue using profiling across their fleets on a permanent basis.</p>
<p>
<hr>

<p><strong>Notes to editors:</strong></p>
<ul type="circle">
<li>GreenRoad develops driver safety technologies that stop risky driving before an accident occurs, and that dramatically reduce crash rates for fleets and insurance companies.&nbsp;Its solutions are designed to empower drivers to manage their own safety by giving instantaneous, in-vehicle driver feedbackwithout invading privacy. GreenRoad Safety Centre aims to achieve fewer accidents, lower accident costs and reduce fuel consumption and CO2 emissions</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Freight operators who have signed-up to TfL's Freight Operators Recognition Scheme (FORS) are now taking advantage of one of the scheme's great free benefits.FORS is a unique, industry-led membership scheme that offers practical advice and guidance to";}
        
        


 