


@{ViewBag.Title = "TfL to consider whether East Thames Buses could offer better value";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL to consider whether East Thames Buses could offer better value</h1>
        <div class="content-page-press-release">
        10 December 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Transport for London (TfL) Board is to consider whether moving East Thames Buses to the private sector could offer better value for money for passengers and taxpayers.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"At this stage we are testing the market to see if there is interest in East Thames Buses"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Weston</div>
            <div class="quotee-job-title">Operations Director for London Buses</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            At this stage we are testing the market to see if there is interest in East Thames Buses
                            
                        </p>
                    </div>
                
            
            
            <p>East Thames Buses has operated bus services in outheast London for nine years. </p>
<p>The company was formed after the previous bus contracting company went into administration at short notice. </p>
<p>No bus operators were in a position to take over the operation at the time so services were brought in-house by TfL.&nbsp; </p>
<p>However, in recent years the bus market has witnessed dramatic improvements in both service delivery and competition, resulting in the TfL Board's decision to review the requirement to maintain East Thames Buses as an internal operation. </p>
<h2>Value for money</h2>
<p>By seeking proposals for the sale of East Thames Buses the Board will be able to understand whether transferring the operation to the private sector would offer better value for money than continuing as an in-house operation.</p>
<p>A decision will be made by the TfL Board on whether to sell the bus operator once proposals have been received. </p>
<p>If East Thames Buses is sold, its employees would be transferred to the new owner according to the provisions of the Transfer of Undertakings (Protection of Employment) Regulations 2006. </p>
<p>Mike Weston, Operations Director for London Buses, said: 'At this stage we are testing the market to see if there is interest in East Thames Buses.</p>
<p>'TfL is the contracting authority for bus services in London, and although the business is performing well, it is time to explore whether the private sector can now offer better value for money.'</p>
<p>
<hr>

<p>
<p><br><strong>Notes to editor</strong></p>
<ul>
<li>East Thames Buses currently operates seven routes and two school routes, representing around 1.3 per cent of the London bus network </li>
<li>East Thames Buses was created after Harris Bus Company Ltd went into administration in December 1999. At that time, there were no bus operators who were in a position to take over the operation, so East Thames Buses was created as an in-house operation of TfL</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "East Thames Buses has operated bus services in outheast London for nine years. The company was formed after the previous bus contracting company went into administration at short notice. No bus operators were in a position to take over the operation at";}
        
        


 