


@{ViewBag.Title = "Transport for London welcomes additional funding";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London welcomes additional funding</h1>
        <div class="content-page-press-release">
        02 December 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) welcomes the recent announcement by the Secretary of State for &pound;54m in additional funding to upgrade a section of the London Overground network.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It will bring greater capacity on a strategic north London route which must carry both passenger and freight services
                            
                        </p>
                    </div>
                
            
            
            <p>TfL London Rail Managing Director Ian Brown said: 'We welcome this additional investment in London's transport infrastructure.</p>
<p>'It will bring greater capacity on a strategic north London route which must carry both passenger and freight services.'</p>
<p>TfL is already investing &pound;326m in upgrading the London Overground infrastructure and part of this work will result in four tracks in the Caledonian Road area.</p>
<p>This will allow&nbsp; the operation of eight passenger trains per hour in the peak and six passenger trains per hour in the off-peak between Stratford and Camden Road stations by 2011.</p>
<p>The funding announced by Transport Secretary Geoff Hoon will enable the current two tracks to be increased to four in the Camden area after 2012.</p>
<p>The additional DfT improvements on this stretch of the network will alleviate bottlenecks and improve signalling and other infrastructure to provide more capacity for freight and Overground services. </p>
<p>
<hr>
<strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>The DfT-funded upgrade is due to start after the Olympics in 2012 and&nbsp; finish in 2014
<li>The London Overground network consists of the Richmond to Stratford, Willesden Junction to Clapham Junction (via Kensington Olympia), Gospel Oak to Barking and Euston to Watford Junction lines, and will be joined by the extended East London line when it opens in 2010</li>
<li>TfL is investing &pound;1.4bn in the London Overground network including extending and converting the East London Line. This will bring a more reliable and efficient service, deliver new trains and connect the East London line to the Richmond to Stratford line at Highbury and Islington in 2011</li>
<li>Oyster pay as you go ticketing has been accepted at all stations since November 2007.&nbsp;All stations have been fitted with Oyster gates or validators and ticket machines to reduce fare evasion</li>
<li>London Overground will deliver improved frequent metro-style services, and longer operating hours on all lines so passengers can simply turn up and go</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL London Rail Managing Director Ian Brown said: 'We welcome this additional investment in London's transport infrastructure.'It will bring greater capacity on a strategic north London route which must carry both passenger and freight services.'TfL is";}
        
        


 