


@{ViewBag.Title = "Transport for London reports on environmental progress";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London reports on environmental progress</h1>
        <div class="content-page-press-release">
        22 December 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London's (TfL's) progress in reducing the environmental impact of the Capital's transport network over 2007/08 is outlined in its annual Environment Report, published today.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"TfL has the opportunity to play a pioneering role in tackling climate change"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">TfL Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            TfL has the opportunity to play a pioneering role in tackling climate change
                            
                        </p>
                    </div>
                
            
            
            <p>The report details the steps that TfL is taking to cut carbon emissions and improve air quality by encouraging Londoners to choose less polluting ways of getting around the city, promoting efficient vehicle use, and investing in low carbon fuels, vehicles and energy.</p>

<h2>Key achievements</h2>
<p>The main environmental achievements from 2007/08 include:</p>
<ul type="circle">
<li>The launch of the world's largest Low Emission Zone in February 2008 which aims to improve London's air quality by deterring the heaviest, most individually polluting vehicles from driving within Greater London </li>
<li>Increasing the recycling of waste on the Tube from 31 per cent to 40 per cent from 2006/07 to 2007/08. This was achieved despite a 23 per cent increase in waste being left at Underground stations and on trains </li>
<li>During the last six months of 2007, a TfL staff pledge to help cut energy use saw electricity consumption in its head offices fall. The saving - 523 tonnes of CO2 - is the equivalent of driving a car around the earth 63 times </li>
<li>New figures released in September 2007 show that TfL's work implementing school travel plans had reduced car journeys by two million, cutting carbon emissions by 1,150 tonnes</li></ul>
<p>In addition, the carbon footprint of Tube and DLR passengers is falling; CO2 emissions per passenger kilometre have fallen by five per cent on the Tube and three per cent on the DLR over the past year.</p>

<h2>Making transport more green</h2>
<p>Peter Hendy, TfL Commissioner, said: 'TfL has the opportunity to play a pioneering role in tackling climate change and protecting and enhancing London's environment.</p>
<p>'This report illustrates the progress we are making across the transport system by, for example, improving energy efficiency across the Tube network and investing in technology such as hybrid and hydrogen buses.</p>
<p>'Looking to the future, TfL will deliver the Mayor's priorities which include facilitating a massive increase in cycling and walking in London, encouraging the take-up of more electric vehicles and introducing a new, greener bus for London.</p>
<p>'With a significant increase in London's population forecast over the next decade, TfL will need to expand public transport capacity.</p>
<p>'We are committed to meeting this demand while taking every possible step to deliver environmental sustainability across the transport network.'</p>

<h2>Cutting down on carbon</h2>
<p>The report also includes an update on the &pound;25m, three-year Climate Change Fund which was set up in 2007 and supports innovative programmes to help achieve the Mayor's target of reducing carbon emissions in the Capital by 60 per cent by 2025, against 1990 levels.</p>
<p>To date, the fund has allocated &pound;14.7m to seven programmes including quadrupling the number of hybrid buses purchased to 56 by May 2009, and supporting a programme to develop and trial low carbon technology in London's taxi fleet. </p>
<hr>
<br><strong>Notes to editors:</strong> 
<p>
<ul type="circle">
<li>You can view the <a title="Environment reports" href="/corporate/about-tfl/publications/1478.aspx">2007/08 Environment Report </a>online </li>
<li>Ground-based transport is responsible for 22 per cent of CO2 emissions in the Capital. Almost three quarters of the CO2 emissions are created by cars, motorcycles and road freight transport </li>
<li>Around 10 million passengers use the bus, Tube and DLR networks every day. TfL plans to achieve a 30 per cent capacity increase across London's transport system over the next decade. Crossrail - the biggest transport project in Europe - will account for 10 per cent of this rise</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The report details the steps that TfL is taking to cut carbon emissions and improve air quality by encouraging Londoners to choose less polluting ways of getting around the city, promoting efficient vehicle use, and investing in low carbon fuels, vehicles";}
        
        


 