


@{ViewBag.Title = "Transport for London (TfL) staff member honoured in New Year's Honours List";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London (TfL) staff member honoured in New Year's Honours List</h1>
        <div class="content-page-press-release">
        31 December 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        John Lulham, Head of Contracts and Procurement for TfL Streets has been awarded a MBE in the New Year's Honours List for services to equality and diversity through procurement.
        
    </div>



 <div class="on-this-page">
<p>John has worked for TfL and its predecessor organisations for 39 years and in recent years has led the implementation of TfL's Equality and Diversity policies in two major contracts for TfL Streets, totalling &pound;1.5bn as well as a number of smaller contracts.</p>
<h2>TfL's commitment </h2>
<p>TfL operates a Responsible Procurement Policy and organisations that supply goods or services to TfL need to have a similar commitment to equality and diversity through the implementation of fair employment practices and policies that eliminate unlawful discrimination.</p>
<p>Mayor of London, Boris Johnson, said: 'I am delighted that John has been recognised for his tireless and persistent work over many years to promote this vital TfL agenda. </p>
<p>'His efforts have increased the commitment of many companies that work with TfL to provide greater opportunities across the Capital, particularly for its diverse ethnic communities and for disabled Londoners.' </p>
<h2>A well deserved reward</h2>
<p>John Lulham said: 'It is a great privilege to receive this award and was certainly a big surprise when I found out.</p>
<p>'I am very pleased to be able to highlight the importance of the equality and diversity agenda which is very significant for London.'</p>
<p>Peter Brown, Chief Operating Officer&nbsp;of&nbsp;TfL Streets said: 'This award is very well deserved and is recognition of John's commitment and contribution towards equality and diversity. </p>
<p>'John was one of the first procurement specialists to see the importance of integrating equality and diversity into the procurement process.</p>
<h2>Raising the bar</h2>
<p>'He has worked strenuously with contractors and suppliers to raise awareness of the diversity agenda, helping them develop their own policies and bring them up to the required standards.</p>
<p>'He has led the development of procurement best practice in his field and his advice is now sought by other public authorities and private sector companies endeavouring to progress in this area.</p>
<p>'On behalf of TfL, I would like to extend my congratulations to John and his family.' </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul type="circle">
<li>John Lulham lives in Surbiton, south west London</li></ul>
<p><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "John has worked for TfL and its predecessor organisations for 39 years and in recent years has led the implementation of TfL's Equality and Diversity policies in two major contracts for TfL Streets, totalling &pound;1.5bn as well as a number of smaller";}
        
        


 