


@{ViewBag.Title = "Travel information for TfL services over the festive period";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Travel information for TfL services over the festive period</h1>
        <div class="content-page-press-release">
        05 December 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL publishes a Festive Travel Guide with full details of public transport arrangements over the holiday period, including free travel on New Year's Eve.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"New Year's Eve will see countless celebrations all across the Capital"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mayor of London</div>
            <div class="quotee-job-title">Boris Johnson</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            New Year's Eve will see countless celebrations all across the Capital
                            
                        </p>
                    </div>
                
            
            
            <p>The Festive Travel Guide published today by the Mayor of London and Transport for London (TfL) has full details of Tube, London Buses, Docklands Light Railway (DLR), Tramlink, London Overground, Dial-a-Ride and Riverboat services as well as the operation of the Congestion Charge throughout the entire festive period, from Wednesday 24 December 2008 to Friday 2 January 2009.</p> <p>Londoners and visitors travelling in the Capital over this period are advised to 'check before they travel' as there will be some changes to normal services.</p> <h2>Christmas Eve</h2> <p>On Christmas Eve, a Saturday service will operate on the Tube and London Buses network with some exceptions.</p> <p>On the DLR a special service will operate starting at normal weekday times at 5:30, with last trains at Sunday timetable times at 23:30.</p> <p>On the London Overground network, a weekday service will operate, with reduced services from early evening with last trains departing around 21:00.</p> <p>On Tramlink, a Saturday service will operate and there will be a limited number of Riverboat and Dial-a-Ride services. Coach operators will run a reduced UK service from Victoria Coach Station with the last international departures leaving mid morning. </p> <h2>Christmas Day</h2> <p>On Christmas Day, there will be no services on the Tube, London Buses, DLR, London Overground and Tramlink networks, no services from Victoria Coach Station, and no service on all but one Riverboat service.&nbsp; There will be a limited number of Dial-a-Ride services on Christmas Day.&nbsp; </p> <h2>New Year's Eve</h2> <p>Wherever you are bringing in the New Year across the Capital, you should plan your journey carefully and take advantage of all night and free travel on public transport.</p> <p>The Mayor of London, Boris Johnson said: 'London has some of the best bars, restaurants and hotels in the world and New Year's Eve will see countless celebrations all across the Capital.</p> <p>'Public transport will, without doubt, be the best way to travel, especially in the centre of town where there will be some road closures.</p> <p>'There will be services across London throughout the night and because we want you to be able to get home safely, we are offering free travel as well.'</p> <p>There will be free travel on New Year's Eve from 23:45 until 4:30 on the Tube, DLR, London Buses, London Overground, Tramlink and selected National Rail services out of London after midnight.&nbsp; </p> <p>Tube, DLR and selected National Rail services will run all night on New Year's Eve.&nbsp; </p> <p>Night and 24 hour bus routes will run as normal, and 53 bus routes that normally only run during the day will operate a 24 hour service to link with late night rail and Underground services, and provide all night connections for people in outer London.&nbsp; </p> <p>However, bus routes serving central London will be affected by diversions between around 19:00 and 3:00 due to road closures. </p> <p>Dial-a-Ride services will run fewer services than normal and there will be a reduced number of UK coaches departing from Victoria Coach Station, where the ticket office will be open from 10:00 to 16:00. </p> <h2>Congestion Charge</h2> <p>The Congestion Charge will be suspended from Thursday 25 December until Thursday 1 January inclusive.&nbsp; </p> <p>Congestion Charging will be in operation as usual from Friday 2 January 2009 onwards.</p> <p>The Festive Travel Guide, with full details of services running over Christmas and the New Year, is available <a href="http://www.tfl.gov.uk/festive">online </a>and on leaflet racks across the TfLnetwork.</p> <p> <hr>  <p> <p><strong>Notes to editors :</strong></p> <p>Passengers are advised to check before travelling via the following options:</p> <ul> <li>TfL's F<a href="http://www.tfl.gov.uk/festive">estive Travel Guide</a>  </li><li>Information on posters, leaflets and 'Good Service' boards at Tube stations  </li><li>The <a href="http://www.tfl.gov.uk">TfL website</a>; use&nbsp;Journey Planner or text TFL to 60835.&nbsp;Charged at the network operator's standard rate  </li><li>The London Travel Information 24-hour telephone helpline: 020 7222 1234  </li><li>Access travel information in advance or on the go using any one of TfL's new suite of <a href="http://www.tfl.gov.uk/traveltools">Travel Tools</a>  </li><li>For information about New Year's Eve click <a href="http://www.london.gov.uk/newyearseve">here</a></li></ul> <p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Festive Travel Guide published today by the Mayor of London and Transport for London (TfL) has full details of Tube, London Buses, Docklands Light Railway (DLR), Tramlink, London Overground, Dial-a-Ride and Riverboat services as well as the operation";}
        
        


 