


@{ViewBag.Title = "Westminster Bridge is reborn";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Westminster Bridge is reborn</h1>
        <div class="content-page-press-release">
        22 December 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Newly renovated 146-year-old lights switched on for Christmas.
        
    </div>



 <div class="on-this-page">
<p>Westminster Bridge was returned to its original glory when its heritage lights were switched on this week.&nbsp;</p>
<p>It marks the completion of the final phase of the conservation project undertaken by Transport for London (TfL).<br>&nbsp;<br>Westminster Bridge is one of the oldest bridges in London and is one of the most historic and photographed landmarks in the Capital.&nbsp;</p>
<p>Since 2003, it has undergone restoration from protection of the underwater piers to replacement of damaged fascias.&nbsp; </p>
<p>The refurbishment of the lanterns means that their original appearance now matches the rest of the bridge.</p>
<h2>Refurbishment</h2>
<p>During the refurbishment, original materials such as copper and brass were used.&nbsp;</p>
<p>The lanterns have been treated with 'verdigris' which is a chemical that produces a greenish-blue pigment matching the original look.&nbsp;</p>
<p>Gold leaf and paint were also applied to match the main bridge fascia replacement works.&nbsp; </p>
<p>David Brown, Managing Director of Surface Transport at TfL, said: 'London's bridges are iconic sites in themselves and have played an important role in London's history and growth.&nbsp;</p>
<h2>Minimise disruption</h2>
<p>'Not only will the lighting refurbishment restore the original look of the bridge but will provide much improved lighting to ensure better pedestrian safety.' </p>
<p>During the programme, TfL consulted with English Heritage, Westminster and Lambeth councils.&nbsp; </p>
<p>The refurbishment was undertaken by Ringway Jacobs, one of TfL's Highways Maintenance Works Contractors.</p>
<p>As one of London's busiest foot and road bridges, disruption was minimised by undertaking work during off peak hours.</p>
<p>The restoration of the bridge began in 2003 and is part of TfL's &pound;10bn Investment Programme.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Westminster Bridge was opened to traffic on Queen Victoria's birthday 24 March 1862 when she turned 43 years old </li>
<li>The lanterns are arranged in groups of three supported on decorative cast iron columns.&nbsp; The lanterns are octagonal in shape and are formed with a non-ferrous metal framework and infill panels and glazing </li>
<li>Further advice about the refurbishment of the lanterns was received by TfL's area team and lighting specialist and the HMWC (Highways Maintenance Works Contractor) </li>
<li>TfL is responsible for maintaining and managing the 580km Transport for London Road Network (TLRN), makes up five per cent of the Capital's roads, but carries approximately 33 per cent of its traffic</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Westminster Bridge was returned to its original glory when its heritage lights were switched on this week.&nbsp;It marks the completion of the final phase of the conservation project undertaken by Transport for London (TfL).&nbsp;Westminster Bridge is one";}
        
        


 