


@{ViewBag.Title = "Your Tube questions answered";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Your Tube questions answered</h1>
        <div class="content-page-press-release">
        03 December 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Your chance to quiz Tube bosses about your Underground and how it's being improved.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is your chance to put those burning questions to us about the service we provide to you"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">LU Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is your chance to put those burning questions to us about the service we provide to you
                            
                        </p>
                    </div>
                
            
            
            <p>Ever wanted to know how station indicator boards can tell there's a train just round the corner?</p>
<p>Or just what kind of service you can expect when works to upgrade the Victoria line are complete?</p>
<p>Then get online and put your questions to London Underground's (LU's) management team.</p>
<h2>It's question time</h2>
<p>LU Chief Operating Officer, Howard Collins, will be joined online by Director of Strategy and Service Development, Richard Parry, to answer questions <strong>between 17:00 and 19:00 on Tuesday 9 December</strong>. </p>
<p>Customers can find out more about any aspect of the Tube's service or the works going on to improve the Underground, from how many trains LU operates an hour to the next big improvements just around the corner. </p>
<p>You just need to <a title="Questiontime with Howard and Richard" href="/questiontime">log on and put your question to Howard and Richard</a>.</p>
<h2>What do our passengers want?</h2>
<p>Chief Operating Officer, Howard Collins, said: 'We're running more trains and carrying more passengers than ever before, and we want customers to tell us how we can address the issues that come with operating such a busy railway.</p>
<p>'We know that our customers are interested in how we keep the Tube moving on a daily basis, as well as the Investment Programme works being carried out to improve the network.</p>
<p>'This is your chance to put those burning questions to us about the service we provide to you, to tell us what we do well and what you'd like to see from us in the future.'</p>
<p>
<hr>

<p><strong>Notes to editors:</strong></p>
<ul type="circle">
<li>London Underground (LU) is undertaking a major programme of renewal as part of Transport for London's Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future </li>
<li>TfL is urging all Londoners and Tube, London Overground and DLR passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. <a title="Weekend live travel news" href="http://www.tfl.gov.uk/tfl/livetravelnews/realtime/by-date.aspx?offset=weekend">Weekend travel news</a> is available online</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Ever wanted to know how station indicator boards can tell there's a train just round the corner?Or just what kind of service you can expect when works to upgrade the Victoria line are complete?Then get online and put your questions to London Underground's";}
        
        


 