

<p>More information is available on the <a href="http://www.thamesriverservices.co.uk/">Thames River Services</a> website. In summer selected services cruise up to the Thames Barrier, but only stop at Barrier Gardens Pier for pre-booked groups.</p>