
    
  


<!-- rhroot -->
@{ViewBag.Title = "Social media & email updates";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/travel-information/social-media-and-email-updates/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">Social media & email updates</span></li>
            
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Social media & email updates</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                <p>Get more out of travel in London with social media and email. Use our travel bots for accurate, up-to-the-minute information about your service. Follow us on Facebook, Twitter or Instagram for news and trivia about TfL. Sign up for emails to get personalised news, offers and promotions.</p>
                </div>
            </div>
        
         
        
        
        
                
                <div class="clearfix">
                    
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="/travel-information/social-media-and-email-updates/facebook-travelbot?intcmp=48096" >
        <img src="/cdn/static/cms/images/promos/tfl-fb-travelbot_rdax_400x200.png" alt="Facebook TravelBot" />
        
        <div class="text-link">
             <h2>Facebook TravelBot</h2>
            <p>Check status of Tube, rail and bus or find a bus stop and when the next bus is due</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/travel-information/social-media-and-email-updates/email-updates?intcmp=4506" >
        <img src="/cdn/static/cms/images/promos/email-travel-alerts_rdax_400x200.png" alt="Travel alerts by email" />
        
        <div class="text-link">
             <h2>Email updates</h2>
            <p>Hop aboard the TfL email service for updates, personalised offers and promotions</p>
        </div>
    </a>
</div>
 
 
</div>
 
<div class="module-grid clearfix">
<div class="follow-social facebook">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>News about London's transport system</h3>
    <p>Get updates about London's transport system</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://www.facebook.com/transportforlondon">Like</a>
  </div> 
</div>
 <div class="follow-social instagram">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>Inspiration for travel in London</h3>
    <p>Images, news and information</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="http://instagram.com/transportforlondon">Follow</a>
  </div> 
</div>
 <div class="follow-social twitter">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>News about London's transport system</h3>
    <p>News and latest information </p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://twitter.com/TfL">Follow &#64;TfL</a>
  </div> 
</div>
 <div class="follow-social linkedin">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>Corporate news and careers</h3>
    <p>Jobs, apprenticeships and graduate opportunities</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="http://www.linkedin.com/company/transport-for-london">Follow</a>
  </div> 
</div>
 
</div>
 
                </div>
                <hr>
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/travel-information/social-media-and-email-updates/index" class="heading">
                    <h2 id="sub-menu-heading">Social media & email updates<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/social-media-and-email-updates/facebook-travelbot">Facebook TravelBot</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/social-media-and-email-updates/email-updates">Email updates </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/social-media-and-email-updates/other-feeds-and-pages">Other social media feeds and pages</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/social-media-and-email-updates/journey-alerts">Journey alerts</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>
        <div class="module-grid clearfix">
          












<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
            

<div><a class="twitter-timeline" data-tweet-limit="3" href="https://twitter.com/TfL">Tweets by TfL</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>

        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "Get service updates, news and information on social media or email";}
        
            
        


 