
    
  



@{ViewBag.Title = "Journey alerts";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/travel-information/social-media-and-email-updates/journey-alerts";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/social-media-and-email-updates/index">Social media & email updates</a></li>
                
            
            
                <li><span class="last-breadcrumb">Journey alerts</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Journey alerts</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out more about our email alert service for journeys in London.
        
      </div>
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/journey-alerts_rdax_400x250.png" alt="Journey alerts" />
        
        
        
    </div>
    <h2>Get an email if your journey is disrupted</h2>
<p>These alerts cover journeys on the Tube, London Overground, DLR and TfL Rail.</p>
<p>Tell us where and when you travel, and we'll send you a message if your regular journey is disrupted. It means you can replan if you need to, or check for updates before you set off.</p>
<p>You can also choose to get a daily email with a live snapshot of the network - handy if you often travel around London.</p>
<h2>Sign up</h2>
<p>You need a TfL account to <a href="https://tfl.gov.uk/login?returnUrl=/travelalerts">set up an alert</a>. You can use your Oyster or contactless account or you can <a href="https://account.tfl.gov.uk/register/basic?AppId=c9127673-66ed-4557-8e78-767a99a8214a ">create an account now</a>.</p>
 </div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        <div class="login-widget">

    <h3 class="high-contrast-heading">Sign in to Journey Alerts</h3>
    <p>Sign in using your Oyster or contactless account, or create a new account for Journey Alerts.</p>
    <a href="/login?returnUrl=/travelalerts" class="primary-button">Sign in</a>
    <p>Don't have an account? <a href="https://accounts.tfl.gov.uk/register/basic?AppId=C9127673-66ED-4557-8E78-767A99A8214A">Create one here</a>.</p>
</div>
 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out more about our text and email alert service for journeys in London";}
        
            
        


 