
    
  



@{ViewBag.Title = "Other social media feeds and pages";}
@{ViewBag.Keywords = "Public,TfL";}
@{ViewBag.Url = "/travel-information/social-media-and-email-updates/other-feeds-and-pages";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/social-media-and-email-updates/index">Social media & email updates</a></li>
                
            
            
                <li><span class="last-breadcrumb">Other social media feeds and pages</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Other social media feeds and pages</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Travel updates on Tube, rail, buses and roads.
        
      </div>
    
    
      
      
           
      
<div class="module-grid clearfix">
<div>

<div>

<h3>Tube and rail lines</h3>
</div>
 <div class="follow-social twitter">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>Travel advice and inspiration</h3>
    <p>Ideas for travel in London and advance infomration about major service changes</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="http://www.twitter.com/TfLTravelAlerts">Follow &#64;TfLTravelAlerts</a>
  </div> 
</div>
 <div>
<div class="vertical-button-container social">
    
    <a class="plain-button" href="http://www.twitter.com/bakerlooline"><span class="bakerloo"></span>&#64;bakerlooline<span class="follow-text">Follow</span></a>
    <a class="plain-button" href="http://www.twitter.com/centralline"><span class="central"></span>&#64;centralline<span class="follow-text">Follow</span></a>
    <a class="plain-button" href="http://www.twitter.com/circleline"><span class="circle"></span>&#64;circleline<span class="follow-text">Follow</span></a>
    <a class="plain-button" href="http://www.twitter.com/districtline"><span class="district"></span>&#64;districtline<span class="follow-text">Follow</span></a>
    <a class="plain-button" href="http://www.twitter.com/hamandcityline"><span class="hammersmith"></span>&#64;hamandcityline<span class="follow-text">Follow</span></a>
    <a class="plain-button" href="http://www.twitter.com/jubileeline"><span class="jubilee"></span>&#64;jubileeline<span class="follow-text">Follow</span></a>
    <a class="plain-button" href="http://www.twitter.com/metline"><span class="metropolitan"></span>&#64;metline<span class="follow-text">Follow</span></a>
    <a class="plain-button" href="http://www.twitter.com/northernline"><span class="northern"></span>&#64;northernline<span class="follow-text">Follow</span></a>
    <a class="plain-button" href="http://www.twitter.com/piccadillyline"><span class="piccadilly"></span>&#64;piccadillyline<span class="follow-text">Follow</span></a>
    <a class="plain-button" href="http://www.twitter.com/victorialine"><span class="victoria"></span>&#64;victorialine<span class="follow-text">Follow</span></a>
    <a class="plain-button" href="http://www.twitter.com/wlooandcityline"><span class="waterloo"></span>&#64;wlooandcityline<span class="follow-text">Follow</span></a>
    <a class="plain-button" href="http://www.twitter.com/ldnoverground"><span class="overground"></span>&#64;LDNOverground<span class="follow-text">Follow</span></a>
    <a class="plain-button" href="http://www.twitter.com/londondlr"><span class="dlr"></span>&#64;londondlr<span class="follow-text">Follow</span></a>
    <a class="plain-button" href="http://www.twitter.com/tramslondon"><span class="tram"></span>&#64;tramslondon<span class="follow-text">Follow</span></a>
    <a class="plain-button" href="http://www.twitter.com/tflrail"><span class="tflrail"></span>&#64;tflrail<span class="follow-text">Follow</span></a>
</div></div>
 
</div>
 <div>

<div>

<h3>Buses, roads and other modes</h3>
</div>
 <div class="follow-social twitter">
  
  <div class="social-image">
    <span class="mode-icon streets">&nbsp;</span>
  </div>
  <div class="social-text">
    <h3>Traffic news</h3>
    <p>News about traffic in London</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="http://www.twitter.com/TfLTrafficNews">Follow &#64;TfLTrafficNews</a>
  </div> 
</div>
 <div class="follow-social twitter">
  
  <div class="social-image">
    <span class="mode-icon bus">&nbsp;</span>
  </div>
  <div class="social-text">
    <h3>London Buses</h3>
    <p>News about the bus network</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="http://www.twitter.com/TfLBusAlerts">Follow &#64;TfLBusAlerts</a>
  </div> 
</div>
 <div class="follow-social twitter">
  
  <div class="social-image">
    <span class="mode-icon bus">&nbsp;</span>
  </div>
  <div class="social-text">
    <h3>Santander Cycles</h3>
    <p>News and customer service 🚲</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="http://www.twitter.com/SantanderCycles">Follow &#64;SantanderCycles</a>
  </div> 
</div>
 <div class="follow-social twitter">
  
  <div class="social-image">
    <span class="mode-icon emirates">&nbsp;</span>
  </div>
  <div class="social-text">
    <h3>Emirates Air Line</h3>
    <p>News and customer service for London's cable car 🚡</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="http://www.twitter.com/EmiratesAirLDN">Follow &#64;EmiratesAirLDN</a>
  </div> 
</div>
 <div class="follow-social twitter">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>Elizabeth line</h3>
    <p>News and updates about the new line</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://twitter.com/elizabethline">Follow &#64;Elizabethline</a>
  </div> 
</div>
 
</div>
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/travel-information/social-media-and-email-updates/index" class="heading">
                    <h2 id="sub-menu-heading">Social media & email updates<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/social-media-and-email-updates/facebook-travelbot">Facebook TravelBot</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/social-media-and-email-updates/email-updates">Email updates </a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/travel-information/social-media-and-email-updates/other-feeds-and-pages">Other social media feeds and pages</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/travel-information/social-media-and-email-updates/journey-alerts">Journey alerts</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Latest news plus travel advice, trivia and competitions on social media";}
        
            
        


 