


@{ViewBag.Title = "GLA - Mayor's new &pound;10 'T-Charge' starts today";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Mayor’s new £10 ‘T-Charge’ starts today</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Mayor’s new £10 ‘T-Charge’ starts today</h1>
        <div class="content-page-press-release">
        23 October 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        World's toughest emission charge for older more polluting vehicles introduced in London to help tackle toxic air pollution
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"As Mayor I am determined to take urgent action to help clean up London's lethal air"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>This press release, issued by the Mayor of London, was first published on <a href="https://www.london.gov.uk/media-centre/mayors-press-releases?order=DESC">london.gov.uk</a></p>
<ul>
    <li>The new &pound;10 Toxicity Charge (T-Charge) will operate on top of &pound;11.50 Congestion Charge</li>
    <li>Motorists will pay a total of &pound;21.50 a day to drive a pre-Euro 4 vehicle into central London zone</li>
    <li>Move is part of series of hard-hitting measures Sadiq is delivering to protect public from London's lethal air</li>
</ul>
<p>The world's toughest emission standard, the &pound;10 Toxicity Charge (T-Charge) to help tackle London's lethal air pollution and get older more polluting cars off the roads has today (Monday 23rd October 2017) been introduced by the Mayor of London, Sadiq Khan.</p>
<p>From 7am drivers of older, more polluting petrol and the dirtiest diesel vehicles will pay the new T-Charge plus the Congestion Charge (C-Charge) - a total of &pound;21.50 (&pound;10 T-Charge and &pound;11.50 C-Charge) every weekday they drive in the zone from 7am-6pm.</p>
<p>Up to 34,000 polluting vehicles every month could be liable for the T-Charge, which affects those that do not meet the Euro 4 standards for both PM and NOx emissions.  Since 1st January 2017 these polluting vehicles have made around 2.6 million trips within the zone, contributing to London's toxic air.</p>
<p>Pre-Euro 4 vehicles are typically those registered before 2006 that are approximately over 12 years old, but TfL advise anyone who has a car registered before 2008 to check if their vehicle is eligible for the charge. To help motorists TfL have a free online vehicle checker available on their website <a href="http://www.tfl.gov.uk/t-charge">www.tfl.gov.uk/t-charge</a>. Over the last six months more than 153,000 people have already checked to find out if their vehicle will be affected.</p>
<p>The Mayor of London, Sadiq Khan, has launched the T-Charge to tackle London's filthy air pollution and prepare Londoners for the early introduction of the Ultra-Low Emission Zone, which he is proposing to introduce as early as April 2019 and which will affect thousands more vehicles in the existing congestion zone, including all diesel vehicles that do not meet Euro 6 standards.</p>
<p>Filthy air is causing a public health crisis in the capital. Recent health data has shown 7.9 million Londoners - nearly 95 per cent of the population &#45; live in areas exceeding the World Health Organisation guidelines on toxic air quality particles (known as PM2.5). It is estimated that air pollution contributes to thousands of premature deaths each year in London, as well as having effects over the course of our lives, from smaller lungs in our children to greater risk of dementia and strokes when we get older.</p>
<p>The Mayor launched the T-Charge as he visited the UCL Day Nursery in Bloomsbury, which is situated off a busy road in Gower Street. The nursery have installed a 'pollution room' where children can play indoors on days with high or very high pollution. The room is used to help young children struggling with asthma or breathing difficulties made worse by toxic air. Recent research by Aether showed 438 London schools and 27 nurseries were situated in areas exceeding legal air quality.</p>
<p>The Mayor of London, Sadiq Khan, said: </p>
<p>'As Mayor I am determined to take urgent action to help clean up London's lethal air. The shameful scale of the public health crisis London faces, with thousands of premature deaths caused by air pollution, must be addressed.</p>
<p>'Today marks a major milestone in this journey with the introduction of the T-Charge to encourage motorists to ditch polluting, harmful vehicles.</p>
<p>'London now has the world's toughest emission standard with older more polluting vehicles paying up to &pound;21.50 a day to drive in the centre of the city. The T-charge is a stepping stone to the Ultra-Low Emission Zone, which could be introduced as early as 2019.</p>
<p>'This is the time to stand up and join the battle to clear the toxic air we are forced to breathe. I am transforming our bus fleet, getting rid of the oldest polluting taxis and creating healthier streets that will leave a lasting legacy for our children. But I can't do this alone. I urgently need government to step up and face their responsibilities by delivering a diesel scrappage fund and a Cleaner Air Act that is fit for purpose.  I also need Londoners to work with me so we can phase out the use of the dirtiest polluting vehicles from our roads.'</p>
<p>Since Sadiq announced the T-Charge in February motorists are already making changes with TfL monitoring data revealing that the daily number of older more polluting vehicles driving into the Congestion Zone has decreased by about 15 per cent. TfL expect that the T-Charge will result in a further drop, with around 40 per cent of motorists upgrading their vehicles and around 10 per cent switching to alternatives like public transport in the first year. TfL will use a camera-based mechanism for enforcement of the T-Charge, monitoring both diesel and petrol vehicles.</p>
<p>With over half of air pollutants in the capital caused by road transport and a fall in the UK sales of diesel vehicles, the Mayor wants to encourage people to make fewer journeys in polluting vehicles, and consider ditching the dirtiest diesels for greener methods of transport including using public transport, walking or cycling.</p>
<p>Gareth Powell, TfL's Director of Strategy, said: </p>
<p>'We are moving quickly on multiple fronts to improve air quality in the Capital. The T-Charge shows that London is leading the way with the toughest pollution standard of any world city, which will be further strengthened with the introduction of the Ultra Low Emission Zone.  We are encouraged that people appear to be heeding these initiatives and finding more environmentally friendly ways to travel.  This is the bedrock on which the Mayor's ambitious plan for a zero emission city by 2050 is built.'</p>
<p>The T-Charge is just one of the wide range of measures the Mayor is introducing to improve London's toxic air quality - from doubling funding spent on tackling air quality to &pound;875million (over the next five years) and consulting on an earlier introduction of the central London ULEZ in 2019, to developing proposals for a London-wide Euro VI standard for heavy vehicles in 2020 and expanding the ULEZ up to the North/South Circular roads for cars, vans and motorcycles in 2021.</p>
<p>Prof. Stephen Holgate, from the Royal College of Physicians said: </p>
<p>'We now know that air pollution has a substantial impact on many chronic long-term conditions, increasing strokes and heart attacks in susceptible individuals. The implementation of the T-charge is a positive step towards cleaning up London's air and it is showing to the world that it is possible to change behaviours in order to reduce the harms from high polluting vehicles. Such actions will improve the air quality in our capital and in time will save lives.'</p>
<p>Rosie Rogers, clean air campaigner at Greenpeace said: </p>
<p>'It's just not possible to clean up London's air without cleaning up London's roads, and that's why we support the Mayor's first steps to tackle air pollution by introducing the T-charge. London now joins Paris, Copenhagen and many other progressive cities in taking urgent steps towards removing polluting diesel cars from their streets. The ball is now in the court of our national government to grasp the urgency of the crisis and take more meaningful action to reduce the illegal levels of air pollution seriously harming people's health across the UK.'</p>
<p>Dr Penny Woods, Chief Executive of the British Lung Foundation, said:</p>
<p>'The T-charge is an important step from the Mayor of London to deter our most polluting and harmful vehicles from entering Central London. We know toxic air can have a devastating impact on our health. This is why we look forward to seeing the Mayor go further and launch the Ultra-Low Emission Zone. However, if we are ever going to properly tackle air pollution the Government must commit to a fair and ambitious new Clean Air Act.'</p>
<p>Richard Jackson, Director of Sustainability for University College London (UCL) Estates, said:</p>
<p>'We are delighted to welcome the Mayor Sadiq Khan to UCL and the UCL Nursery today. UCL is committed to helping to tackle air pollution and to create an environment for London in which children, students and staff breathe cleaner, healthier air. As a London-based university with a successful, popular nursery, we share the concern and attention he is giving this issue. We believe the T-Charge could be a significant move in helping to improve the air quality in London. This supports our own commitment to improve air quality and safeguard our UCL and wider London community.'</p>
<p>Simon Gillespie, Chief Executive at the British Heart Foundation, said:</p>
<p>'Dangerous levels of air pollution in London are damaging the heart health of the public &#45; both healthy individuals and especially those with heart disease. There is an urgent need to protect Londoners from inhaling toxic air &#45; particularly from small particles in diesel fumes which our research shows increases the risk of potentially fatal heart attacks and strokes. We welcome this bold action from the Mayor and hope that he continues to prioritise cleaning up London's harmful air.'</p>
<hr />
Notes to Editors:<br />
The T-charge is the toughest enforced emission standard of any world city. Drivers of the most polluting vehicles (pre-Euro 4 vehicles) will pay the new T-Charge plus the Congestion-Charge (C-Charge) a total of &pound;21.50 (&pound;10 T-Charge and &pound;11.50 C-Charge) every weekday they drive in the C-Charge zone from 7am-6pm. It will run continuously during congestion charging hours until the Ultra-Low Emission Zone is delivered.  To view the T- Charge compliance vehicle checker visit <a href="https://tfl.gov.uk/modes/driving/emissions-surcharge">https://tfl.gov.uk/modes/driving/emissions-surcharge</a><br />
<br />
The Mayor wants to work with the government to help tackle dangerous air pollution once and for all. Government actions should include:<br />
<ul>
    <li>Setting up a diesel scrappage fund: The Mayor has called on government to implement his new proposals for a national 'dirty' diesel scrappage fund that financially compensates motorists and enables government to get a grip on killer toxic air. Proposals include &pound;3,500 for up to 70,000 polluting London van and minibus drivers to buy cleaner vehicles; &pound;2,000 credit scheme to help low-income London families scrap up to 130,000 cars and &pound;1,000 to help scrap London's oldest taxis - with additional support by the Mayor.</li>
    <li>Producing a 21st century Clean Air Act: New legislation would provide the overarching framework for action, dragging the law up to date to cope with the massive air quality challenges we face today. This would provide a legally enforceable right to clean air &#45; standards currently enforced by the European Union and the Government should introduce new powers to better regulate all sources of emissions, not just road transport, and give powers to local authorities.</li>
    <li>Vehicle Excise Duty (VED) and other fiscal reforms: It is essential that national policy is pulling people in the right direction. Unfortunately VED continues to make the purchase of diesel cars more attractive.</li>
    <li>Devolving additional powers: London needs additional powers to manage toxic emissions such as pollution from construction sites and river traffic. For example additional powers to implement construction and river low emission zones similar to those used for road vehicles</li>
    <li>Greater funding for City Hall and boroughs: Government should recognise that London's air quality challenges are linked to a national problem and provide additional support. This should include a share of Londoners' VED revenues to fund improvements of nationally strategic roads within the capital to free up TfL resources to spend on further air quality measures.</li>
</ul>
<p> A recent British Heart Foundation poll found that nearly half (45%) of Londoners are worried about living in the city due to dangerous levels of air pollution. The statistics reveal that 81% of Londoners believe the current air pollution levels are putting their health at risk and over a third are put off running (37%) or cycling (38%) in the city because of the deadly air. Research shows that both long-term and short-term exposure to air pollution can make existing heart conditions worse and can increase the risk of a potentially fatal heart attack or stroke amongst vulnerable groups. The poll also found:</p>
<ul>
    <li>94% of people in the capital think cleaning up London's current level of air pollution is important</li>
    <li>Nearly a third (28%) of Londoners don't want to sit outside in the city</li>
    <li>One in five (19%) Londoners are put off shopping on London High Streets because of air pollution</li>
    <li>17% of Londoners are put off visiting local parks</li>
    <li>12% said the pollution puts them off visiting London's iconic landmarks</li>
</ul>
<p>For more information visit <a href="http://www.bhf.org.uk">www.bhf.org.uk</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-October-GLA - Mayor’s new £10 ‘T-Charge’ starts today -->

 
 
        
        
            @{ViewBag.Description = "Mayor’s new £10 ‘T-Charge’ starts today in central London ";}
        
        


 