


@{ViewBag.Title = "Strong support for plans to transform Oxford Street District";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Strong support for plans to transform Oxford Street District</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Strong support for plans to transform Oxford Street District</h1>
        <div class="content-page-press-release">
        09 October 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Work to make the Oxford Street district a globally renowned public space has taken a step forward with the publication of the full results of the first public consultation that showed strong support for transforming the area. A second consultation on plans to secure the street's future as the world's best outdoor shopping experience and a great place to live and visit will now go ahead later this year.</p>
<p>Bordering vibrant residential community across Mayfair, Marylebone, Fitzrovia and Soho, Oxford Street welcomes more than 500,000 visitors every day. It is the location of some of the world's best-loved stores and brand names as well as being a key commercial centre that helps drives the London and UK economies.</p>
<p>The second consultation is expected to begin in early November 2017 and seek to offer a district wide solution that delivers the vision of being the world's best outdoor shopping experience and a great place to live, work and visit.</p>
<p>Several key topics have been identified in relation to the transformation, including addressing concerns raised by local residents, such as traffic impacts on the wider area, provision and relocation of bus services and accessibility issues, providing a better experience as well as improving air quality around the Oxford Street district.</p>
<p>Almost 12,000 responses from local residents, stakeholders, businesses and visitors from across the UK were received during the initial eight-week consultation conducted by Westminster City Council, The Mayor of London and Transport for London between April and June 2017.</p>
<p>A review of these shows strong support for progressing with the overall transformation of Oxford Street &#45; with 43 per cent of respondents who completed an online questionnaire strongly supporting the proposals and a further 19 per cent offering their support. But 30 per cent of those who responded said they didn't support the transformation and feedback was clear that any scheme must address a range of transport, accessibility and congestion concerns raised by locals and others.</p>
<p>The consultation also outlined a number of areas which residents, businesses and stakeholders felt should be considered to ensure that any transformation would be a success both for Oxford Street and the wider area. These included:</p>
<ul>
    <li>How the transformation of Oxford Street would affect traffic flows in the surrounding areas</li>
    <li>What impact the transformation would have on air quality along Oxford Street and the wider area</li>
    <li>Ensuring access to and from Oxford Street is maintained, particularly for the disabled, elderly or people travelling with very young children</li>
    <li>Confirmation on which forms of transport would be allowed to a future transformed Oxford Street, and ensuring these are properly catered for throughout the transformation</li>
    <li>Improving cycling infrastructure on alternative streets around Oxford Street and linking them to the wider cycling network</li>
    <li>Suggestions for potential designs, including calls for additional planting, better seating and other public realm features such as new public art and al fresco dining</li>
    <li>How the public space would be effectively managed after any transformation</li>
</ul>
<p>To support the transformation programme, ten detailed work streams are now underway to directly address the wide range of comments raised during first consultation. Each project will help shape the broader plans to ensure that the transformation delivers for all with minimal impact to local traffic, residents or businesses.</p>
<p>Subject to the outcomes of the proposed second consultation, a transition scheme could be in place by the time the Elizabeth line service opens in December 2018 with a full transformation scheme planned to be in place by 2021.</p>
<p>Cllr Robert Davis MBE DL Deputy Leader of Westminster City Council said: &quot;This is the next step in our efforts to transform the country's most famous and economically important shopping district, which is also home to a vibrant residential community. We want Oxford Street and the surrounding area to remain the envy of the world and our vision is to create a neighbourhood and outdoor shopping experience that cities across the globe can aspire to. This is an enormous project which many people care deeply about. It's crucial that everyone knows that we are listening and that they can help shape our plans.&quot;</p>
<p>Val Shawcross, Deputy Mayor for Transport, said: `We're ambitious to turn Oxford Street into one of the finest public spaces in the world. I'm delighted that so many people have engaged with the consultation so far, and we now have a huge opportunity to transform the area by making it cleaner and safer for the millions of people who spend time in the area every year.</p>
<p>`Whether you visit Oxford Street for shopping, or you're a local resident or business, we need to make sure the plans are the very best they can be, and I'm excited that we'll now be coming forward with more detailed plans for the transformation in the coming weeks.'</p>
<p>Alex Williams, Director of City Planning at Transport for London, said: `Wherever you go around the world, if you mention Oxford Street, people know you are talking about London. However, the area is already very busy and growth in London's population and economy will bring even more people to the area.</p>
<p>`Along with reducing the number of buses along Oxford Street by 40 per cent, the introduction of the Elizabeth line provides a once in a generation opportunity to tackle the challenges of poor air quality and congestion to help ensure that it retains its iconic status for years to come. The strong support from this consultation has shown that there is a desire to make Oxford Street and the wider area an even better place to live, work and visit. We will now work to further analyse the consultation responses and address the issues raised as we develop our plans for a truly transformational scheme for all.'</p>
<p>For more information on the transformation of Oxford Street and the wider district, please visit <a href="http://www.tfl.gov.uk/oxford-street ">www.tfl.gov.uk/oxford-street</a> and <a href="http://www.westminster.gov.uk">www.westminster.gov.uk</a></p>
<p>&nbsp;Notes to editors:</p>
<ul>
</ul>
<div style="text-align: left;">Responses to the first consultation question &quot;Do you agree with the transformation of Oxford Street in principle?&quot; were as follows:</div>
<ul>
</ul>
<div class="table-container"><table width="900" height="145">
    <thead>
    </thead>
    <tbody>
        <tr>
            <td>3,227 (43%)</td>
            <td>'I support the transformation of Oxford Street and I am comfortable with the changes that would be necessary to make this possible'&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;1,418 (19%)</td>
            <td>&nbsp;'I support the transformation of Oxford Street but I have concerns about the changes that would be necessary'</td>
        </tr>
        <tr>
            <td>&nbsp;197 (3%)</td>
            <td>&nbsp;'I am unsure whether or not I support the proposals'</td>
        </tr>
        <tr>
            <td>&nbsp;347 (5%)</td>
            <td>&nbsp;Did not select any option.</td>
        </tr>
    </tbody>
</table></div>
<br />
<p>In addition, more than 4,000 email and written responses were submitted to the consultation, bringing the total number of responses to 11,953.</p>
<p>The introduction of the Elizabeth line in late 2018 provides a once-in-a-generation opportunity to tackle these challenges and make the district the world's best outdoor shopping experience and an unrivalled place to live, work and visit. The proposals to transform Oxford Street aim to significantly improve the area, as well as creating jobs, opportunities and prosperity, bolstering the area's reputation as a leading shopping destination and ensuring the District retains the unique character of its neighbourhoods. Westminster City Council and TfL propose to create a new world-class public space by:</p>
<ul>
    <li>improving the public spaces and overall experience so that people will want to visit and keep coming back</li>
    <li>improving neighbourhoods so they are some of the best places to live and visit in London</li>
    <li>reducing the volume of traffic on Oxford Street‎ and make the district a place for people not vehicles</li>
    <li>addressing its poor air quality</li>
    <li>reducing crowding on Oxford Street and improving road safety</li>
    <li>managing the traffic in the surrounding area and improving neighbourhoods for residents</li>
    <li>supporting businesses throughout the District, enabling economic growth and creating jobs</li>
    <li>ensuring the area remains accessible</li>
</ul>
<p>Earlier this year, TfL announced that 40 per cent fewer buses will run on Oxford Street by 2018, following a wide-ranging consultation. The changes will improve the reliability of the bus network in central London, cutting congestion and helping tackle air pollution.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-October-Strong support for plans to transform Oxford Street District -->

 
 
        
        
            @{ViewBag.Description = "Strong support for plans to transform Oxford Street District";}
        
        


 