


@{ViewBag.Title = "TfL names partner to develop Blackhorse Road site";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL names partner to develop Blackhorse Road site</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL names partner to develop Blackhorse Road site</h1>
        <div class="content-page-press-release">
        02 October 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) today announced BLLQ LLP as the preferred bidder in a joint venture partnership to develop a 1.8 acre site opposite Blackhorse Road station in northeast London.</p>
<p>Following the Mayor's announcement in March that the site was being unlocked for development, TfL offered firms in the TfL Property Partnership Framework the opportunity to bid to become a joint venture partner to develop the site.</p>
<p>TfL will now work with BLLQ LLP to deliver approximately 350 new homes at Blackhorse Road in 2022, 50 per cent of which will be affordable. Subject to permissions, work could commence on site in 2019.</p>
<p>The site is surrounded by a number of mixed use developments, which together are creating a new neighbourhood of around 1,700 homes, alongside retail, commercial and leisure spaces. The site is ideally placed for public transport due to its proximity to Blackhorse Road station, served by the Victoria line and London Overground. A number of local bus routes, walking and cycling connections will provide further options for commuters. Future residents will also benefit from the package of measures being delivered in Waltham Forest through its Mini-Holland programme.</p>
<p>Graeme Craig, Director of Commercial Development for TfL said: `This site on Forest Road is a key part of bringing an exciting new neighbourhood to life in the heart of Waltham Forest. We are thrilled to be working with BLLQ LLP to deliver hundreds of homes for Londoners with excellent transport links and just a short journey from central London. Half of the homes will be affordable and we'll also be generating much needed revenue to invest back into the transport network.'</p>
<p>Matt Calladine, Regional Land &amp; Development Director, Barratt London, said: `The TfL car park at Blackhorse Road Station is an important development site in the context of the wider regeneration of this area.  We are looking forward to working closely with TfL, the London Borough of Waltham Forest and local stakeholders to ensure the delivery of high quality homes and new commercial facilities that will benefit the entire community.'</p>
<p>Andy Rowland, Regional Managing Director &#45; East Region at L&amp;Q, said: `We are delighted to be working with TfL to deliver hundreds of new homes on the Blackhorse Road site, with half of the homes being genuinely affordable to Londoners on average and lower incomes. The project forms part of an exciting wider redevelopment of the area and will sit proudly in a thriving new neighbourhood a short journey from central London.'</p>
<p>Cllr Clare Coghill, the Leader of Waltham Forest Council, said: `This announcement moves us a step nearer to creating a new vibrant town centre in the Blackhorse Lane area. This complements the other investment taking place which will lead to 2,500 new homes and the creation of 1,000 jobs. TfL's commitment to ensuring 50% of the new homes are affordable for local residents is a really positive step, building on the commitment made by the GLA in August to deliver 100% affordable homes on its Webbs Industrial Estate site on Blackhorse Lane. This is alongside the other work we are doing with TfL in Blackhorse Lane on the delivery of public realm improvements to The Standard Junction and Forest Road, as well as an &pound;800,000 refurbishment of Blackhorse Road Station which will be completed next year.'</p>
<p>Last year TfL brought forward sites that will deliver 1,000 homes. This year, progress is accelerating and TfL will bring forward sites that will deliver 3,000 homes. Half of all these homes will be affordable, while TfL is also establishing a significant long-term revenue stream to reinvest in transport.</p>
<p>Ends</p>
<p>Notes to Editors:</p>
<ul>
    <li>The site is currently used as a car park.</li>
    <li>Last year, TfL launched the Property Partnership Framework. Following a competitive tender process, TfL approved the appointment of 13 leading property development companies and consortiums that it could work with to develop its sites. This provides a ready pool of partners eligible to bid to work with TfL in joint ventures as sites become available. This will ensure thousands of homes, offices and retail spaces across London can be delivered more efficiently and quickly. You can find out more by visiting <a href="https://tfl.gov.uk/info-for/business-and-commercial/property-development">https://tfl.gov.uk/info-for/business-and-commercial/property-development</a></li>
</ul>
<ul>
    <li>About Barratt London</li>
</ul>
<p>Barratt London is a market-leading residential developer, with over 30 years' experience in the Capital, delivering over 2,000 new homes in London each year. Barratt London is committed to providing an unbeatable customer experience and developing exceptional homes for all Londoners. Barratt London has an extensive portfolio of residential developments and partnerships delivering homes across the Capital for all Londoners, from state-of-the-art penthouses in Westminster and riverside communities in Fulham, to complex, mixed-use regeneration schemes in Hendon.</p>
<p>Barratt London is part of Barratt Developments PLC, the UK's largest housebuilder.</p>
<ul>
    <li>•	About L&amp;Q</li>
</ul>
<p>L&amp;Q is one of the UK's leading housing associations and one of London's largest developers. The L&amp;Q Group manages more than 90,000 homes across London and the South East. It combines its commercial drive and social purpose to create homes and neighbourhoods it can be proud of.</p>
<p>We are committed to helping solve the housing crisis, L&amp;Q is working to enable the delivery of 100,000 quality new homes, half of which will be genuinely affordable and half for private rent or sale. L&amp;Q's long term approach allows for investment in vital community infrastructure to create vibrant, thriving places where people want to live.</p>
<p>The L&amp;Q Foundation will invest &pound;250 million to improve the life chances of those who live in L&amp;Q homes and communities and to promote independence among residents.</p>
<p>L&amp;Q launched its care and support subsidiary, L&amp;Q Living, in April 2017 bringing together its supported housing, sheltered housing and care and support provision, comprising more than 6,600 properties across London and the South East.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-October-TfL names partner to develop Blackhorse Road site -->

 
 
        
        
            @{ViewBag.Description = "TfL names partner to develop Blackhorse Road site";}
        
        


 