


@{ViewBag.Title = "Travel advice for customers ahead of planned Tube strike";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Travel advice for customers ahead of planned Tube strike</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Travel advice for customers ahead of planned Tube strike</h1>
        <div class="content-page-press-release">
        03 October 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Tube drivers who are ASLEF members currently plan strike action on Thursday 5 October<BR>
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We will do everything possible to ensure customers can get around on alternative transport services and have the right information to help them do this"</div>
        <div class="quote-footer">
            <div class="quotee-name">Nigel Holness</div>
            <div class="quotee-job-title">Director of Network Operations for London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL is advising customers that there will be no service on most of the Tube on Thursday 5 October should planned strike action by ASLEF members go ahead.</p>
<p>Some Tube services may finish earlier (from 23:30) on Wednesday 4 October and start later on Friday 6 October so customers are advised to check before they travel.</p>
<p>Road journeys could also take significantly longer than usual. Roads around Wembley, including the A406 North Circular, will be especially busy due to the England vs Slovenia match at Wembley Stadium.</p>
<p>Customers are advised not to drive through Central London or in the Wembley area unless absolutely necessary.</p>
<h2>Busier than normal</h2>
<p>All other TfL services will be unaffected but many will be busier than usual as customers seek alternative routes.</p>
<p>Bus services are likely to be exceptionally busy across the Capital, so customers who are able to walk are encouraged to do so. Information on walking times between Tube stations can be found at <a href="http://www.tfl.gov.uk/walking">tfl.gov.uk/walking</a>.</p>
<p>Over 200 extra buses and additional Santander Cycle hubs will be provided and extra staff and TfL ambassadors will be on hand across London to help Londoners seek alternative routes.</p>
<p>TfL has been working with the FA to set up a range of additional transport options to help supporters get to and from England's World Cup qualifier against Slovenia on Thursday.</p>
<p>Those travelling to Wembley should allow substantially more time for their journeys. Detailed travel advice is available here: <a href="https://tfl.gov.uk/campaign/tube-strike?cid=tube-strike">tfl.gov.uk/tube-strike</a></p>
<h2>Improve work-life balance</h2>
<p>This dispute is about the progress of joint initiatives set up last year between TfL and the unions to improve the work life balance of Tube drivers.</p>
<p>As part of those discussions, TfL and the unions agreed to explore ways of providing more choice for staff to improve work-life balance, including:</p>
<ul>
    <li>trialling a four-day, 36-hour working week on the Jubilee line for Tube drivers. This concluded recently and TfL and the trade unions are already working together to analyse how successful it has been</li>
    <li>looking at ways to maintain the level of weekend working as the service expands, potentially through additional part time opportunities</li>
    <li>introducing pro-rata working arrangements, such as job sharing, which would mean that drivers could reduce the number of days they work</li>
</ul>
<p>TfL has met its commitments and has been in constructive discussions with ASLEF at the conciliatory service ACAS in order to resolve this dispute.</p>
<p>Nigel Holness, Director of Network Operations for London Underground, said: 'Should the planned strike action go ahead there will be substantial disruption.</p>
<p>'We will do everything possible to ensure customers can get around on alternative transport services and have the right information to help them do this.</p>
<p>'We are committed to ensuring that our employees are able to maintain a good balance between their work and personal lives and we have been working closely with the unions on new ways to achieve this.</p>
<p>'I encourage the ASLEF leadership to continue working with us constructively rather than moving towards unnecessary strike action.'</p>
<p>&nbsp;</p>
<hr />
<p><strong>Notes to Editors:</strong></p>
<ul>
    <li>Customers are advised to check before they travel at <a href="https://tfl.gov.uk/campaign/tube-strike?cid=tube-strike">tfl.gov.uk/tube-strike</a> and use TfL's journey planner to make alternative travel plans for the duration of the industrial action. In addition, TfL's live update services &#64;TfLTravelAlerts, &#64;TfLTrafficNews and &#64;TfLBusAlerts will provide information throughout the day. If possible, TfL advises customers to travel outside of peak times</li>
    <li>For information about other strike action on National Rail services planned on the 5th October, please visit <a href="http://www.southernrailway.com/strike">southernrailway.com/strike</a> and <a href="http://greateranglia.co.uk/">greateranglia.co.uk</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-October-Travel advice for customers ahead of planned Tube strike -->

 
 
        
        
            @{ViewBag.Description = "Travel advice for customers ahead of planned Tube strike";}
        
        


 