


@{ViewBag.Title = "Work to improve TfL Rail stations and tracks continues";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Work to improve TfL Rail stations and tracks continues</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Work to improve TfL Rail stations and tracks continues</h1>
        <div class="content-page-press-release">
        19 October 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Further work to upgrade stations and track on the TfL Rail route will be taking place this autumn
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This work means that next year some stations on the TfL Rail route will have new lifts available to provide step-free access from street to platform for the first time"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Smith</div>
            <div class="quotee-job-title">Operations Director for TfL Rail</div>
        </div>
</div>

 <div class="on-this-page">
<p>From late October until December 2017, there will be weekend closures on the Liverpool Street to Shenfield route while Network Rail installs over 10 kilometres of new overhead wires, replacing older ones from the 1950s to improve reliability. Network Rail will also be continuing their work at Harold Wood, Gidea Park, Forest Gate and Goodmayes to refurbish station buildings and provide step-free access.</p>
<p>During this time, Transport for London (TfL) will also continue to install new lifts at Seven Kings, Manor Park and Maryland stations to provide step-free access.</p>
<p>Closures vary each weekend so customers are advised to check before they travel at <a href="http://tfl.gov.uk">tfl.gov.uk</a>.</p>
<p>Saturday 21 and Sunday 22 October</p>
<ul>
    <li>There will be no service between Stratford and Shenfield. Rail replacement buses will call at all affected stations except Maryland, as well as Newbury Park (for the Central line</li>
</ul>
Saturday 28 and Sunday 29 October
<ul>
    <li>On Saturday, trains will not stop at Maryland, Forest Gate or Manor Park.</li>
    <li>On Sunday, there will be no service between Liverpool Street and Ilford. Customers are advised to use local bus routes instead.</li>
</ul>
<p>Saturday 4 and Sunday 5 November</p>
<ul>
    <li>There will be no service between Liverpool Street and Shenfield. Rail replacement buses will call at all affected stations except Maryland, as well as Newbury Park (for the Central line).</li>
</ul>
<p>Saturday 18 and Sunday 19 November</p>
<ul>
    <li>There will be no service between Liverpool Street and Romford. Rail replacement buses will call at all affected stations.</li>
</ul>
<p>Saturday 25 November and Saturday 2, Saturday 9 and Saturday 16 December</p>
<ul>
    <li>There will be no service between Chadwell Heath and Shenfield. Rail replacement buses will call at all affected stations.</li>
</ul>
<p>As part of their railway upgrade programme, Network Rail will be rebuilding the train sidings at Gidea Park where TfL Rail trains are stabled. Work here will be taking place from Saturday 25 November 2017 until February 2018.</p>
<p>From Monday 27 November, there will be extra weekday peak services and early Saturday morning services with other train times amended. The majority of customers across the route will have shorter waiting times between services.</p>
<p>Howard Smith, TfL's Operations Director for TfL Rail, said: &quot;I'd like to thank customers for their patience while work continues to prepare for the Elizabeth line and remind them to always check before they travel. This work means that next year some stations on the TfL Rail route will have new lifts available to provide step-free access from street to platform for the first time.&quot;</p>
<p>There will be no TfL Rail service on the entire line from Saturday 23 December until Monday 1 January, replacement buses will call at all stations except Maryland, connecting with the Central line at Newbury Park and Stratford stations. There will be no replacement buses from 23:00 on Christmas Eve and all day on Christmas Day.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>Train times in the weekday peak (between 7am-8am and 6pm-7pm) will be amended. More information on the timetable change from Monday 27 November is available here: <a href="https://tfl.gov.uk/modes/tfl-rail/tfl-rail-timetables">https://tfl.gov.uk/modes/tfl-rail/tfl-rail-timetables</a></li>
    <li>TfL Rail services will resume on Tuesday 2 January after the Christmas closure.</li>
    <li>In June new, walk-through, air-conditioned trains began being introduced into passenger service on the TfL Rail route between Liverpool Street and Shenfield.</li>
    <li>All platforms and trains across the Elizabeth line will be fully accessible by 2019 with step-free access and manual boarding ramps at stations where it is not possible to provide level boarding.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-October-Work to improve TfL Rail stations and tracks continues -->

 
 
        
        
            @{ViewBag.Description = "TfL Rail work to improve stations and tracks continues this autumn";}
        
        


 