


@{ViewBag.Title = "October";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2008">2008</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">October</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>October</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/october/new-work-of-art-for-tube-map-cover-by-pae-white">New work of art for Tube map cover by Pae White<br />27 Oct 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/october/mayor-fulfils-pledge-to-let-motorcycles-in-bus-lanes">Mayor fulfils pledge to let motorcycles in bus lanes <br />26 Oct 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/october/together-for-londonorg">Together for London.org<br />24 Oct 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/october/victoria-line-online-question-time">Victoria line online question time<br />17 Oct 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/october/motorists-advised-to-avoid-a4-cromwell-road-eastbound-due-to-gas-mains-renewal-works-by-national-grid">Motorists advised to avoid A4 Cromwell Road eastbound due to gas mains renewal works by National Grid<br />17 Oct 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/october/mbe-for-tube-station-manager">MBE for Tube Station Manager<br />16 Oct 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/october/olympic-and-paralympic-heroes-on-parade">Olympic and Paralympic heroes on parade<br />15 Oct 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/october/childrens-magical-taxi-tour-sets-off-from-london">Children's Magical Taxi Tour sets off from London<br />15 Oct 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/october/art-of-the-poster">Art of the poster<br />15 Oct 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/october/new-wood-lane-underground-station-opens">New Wood Lane Underground station opens  <br />14 Oct 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/october/bus-diversions-as-access-roads-to-queen-elizabeth-hospital-are-improved">Bus diversions as access roads to Queen Elizabeth Hospital are improved<br />13 Oct 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/october/tfl-penalty-fare-to-rise-to-andpound50">TfL penalty fare to rise to &pound;50 <br />10 Oct 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/october/operators-accredited-for-helping-to-shape-the-future-of-freight-in-london">Operators accredited for helping to shape the future of freight in London<br />09 Oct 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/october/travel-to-olympic-and-paralympic-heroes-parade">Travel to Olympic and Paralympic Heroes Parade <br />09 Oct 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/october/update-on-planned-bus-strikes-tomorrow-friday-10-october-2008">Update on planned bus strikes tomorrow, Friday 10 October 2008<br />09 Oct 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/october/planned-bus-strikes-on-friday-10-october-2008">Planned bus strikes on Friday 10 October 2008<br />09 Oct 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/october/oxford-street-bus-diversions-to-facilitate-crossrail-preparatory-works">Oxford Street bus diversions to facilitate Crossrail preparatory works<br />09 Oct 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/october/tfl-launches-latest-cycling-safety-campaign">TfL launches latest Cycling Safety campaign<br />09 Oct 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/october/easier-journeys-as-mayor-announces-the-installation-of-new-wide-aisle-gates-at-tube-stations">Easier journeys as Mayor announces the installation of new wide aisle gates at Gants Hill, Upney, Elm Park,  East Ham and Dagenham Heathway Tube stations<br />08 Oct 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/october/delay-to-dagenham-dock-inquiry">Delay to Dagenham Dock inquiry<br />08 Oct 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/october/modernisation-complete-as-shepherds-bush-tube-station-reopens">Modernisation complete as Shepherd's Bush Tube station re-opens<br />07 Oct 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/october/tx4-taxi-licences-to-be-reinstated">TX4 taxi licences to be re-instated<br />06 Oct 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/october/putting-the-brakes-on-the-school-run">Putting the brakes on the school run<br />01 Oct 2008</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/22840">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/22924">November</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23344">October</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23440">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23556">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23680">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23752">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23872">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23988">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/24108">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/24228">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/24308">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 