


@{ViewBag.Title = "September";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2008">2008</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">September</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>September</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/september/shepherds-bush-overground-station-welcomes-passengers">Shepherd's Bush Overground station welcomes passengers <br />29 Sep 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/september/one-week-left-to-have-your-say-on-future-of-congestion-charge-western-extension">One week left to have your say on future of Congestion Charge Western Extension <br />29 Sep 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/september/transport-for-london-unveils-new-airconditioned-tube-trains">Transport for London unveils new air-conditioned Tube trains<br />25 Sep 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/september/oyster-pay-as-you-go-now-accepted-at-all-first-great-western-stations-in-london">Oyster pay as you go now accepted at all First Great Western stations in London<br />25 Sep 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/september/transport-for-london-awarded-highest-equality-rating">Transport for London awarded highest equality rating<br />23 Sep 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/september/latest-safer-travel-at-night-campaign-to-tackle-illegal-cabs-and-touting">Latest 'Safer Travel at Night' campaign to tackle illegal cabs and touting<br />23 Sep 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/september/hackney-carriage-licence-for-all-tx4-taxis-with-a-56-registration-suspended">Hackney Carriage licence for all TX4 taxis with a 56 registration suspended<br />19 Sep 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/september/bus-diversions-continue-as-crossway-bridge-maintenance-enters-third-phase">Bus diversions continue as Crossway bridge maintenance enters third phase<br />19 Sep 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/september/poems-for-peace-go-on-display-on-the-tube">Poems for peace go on display on the Tube<br />19 Sep 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/september/route-365-runs-247">Route 365 runs 24-7<br />19 Sep 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/september/transport-for-london-receives-government-approval-for-a406-bounds-green-improvement-scheme">Transport for London receives Government approval for A406 Bounds Green Improvement Scheme<br />17 Sep 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/september/london-buses-consults-on-extension-to-route-r7">London Buses consults on extension to route R7<br />15 Sep 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/september/exhibition-showcases-plans-for-woolwich-town-centre-bus-routes">Exhibition showcases plans for Woolwich town centre bus routes<br />15 Sep 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/september/transport-for-london-appoints-serco-to-operate-the-woolwich-ferry-service">Transport for London appoints Serco to operate the Woolwich Ferry service<br />12 Sep 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/september/roads-to-close-as-the-capital-opens-up-for-the-sky-sports-london-freewheel-mass-cycle-ride">Roads to close as the Capital opens up for the Sky Sports London Freewheel mass cycle ride<br />12 Sep 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/september/hanger-lane-bridges-to-be-given-a-revamp">Hanger Lane bridges to be given a revamp<br />12 Sep 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/september/planned-bus-strikes-on-friday-12-and-saturday-13-september-2008">Planned bus strikes on Friday 12 and Saturday 13 September 2008<br />11 Sep 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/september/all-aboard-london-river-services-to-the-thames-festival">All aboard London River Services to the Thames Festival<br />11 Sep 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/september/sutton-residents-urged-to-take-active-steps-to-improve-their-health">Sutton residents urged to take active steps to improve their health<br />10 Sep 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/september/transport-for-london-responds-to-ppp-arbiters-guidance-on-tube-lines-second-period-funding">Transport for London responds to PPP Arbiter's Guidance on Tube Lines second period funding<br />09 Sep 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/september/thousands-of-older-and-disabled-londoners-to-gain-as-mayor-introduces-new-dialaride-vehicles">Thousands of older and disabled Londoners to gain as Mayor introduces new Dial-a-Ride vehicles<br />05 Sep 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/september/100-artists-celebrate-100-years-of-tube-logo">100 artists celebrate 100 years of Tube logo<br />04 Sep 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/september/are-you-sitting-comfortably">Are you sitting comfortably?<br />04 Sep 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/september/mayor-announces-fair-and-affordable-fares-package-to-sustain-massive-investment-in-londons-transport">Mayor announces fair and affordable fares package to sustain massive investment in London's transport<br />04 Sep 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/september/docklands-light-railway-regenerates-north-woolwich">Docklands Light Railway regenerates North Woolwich<br />02 Sep 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/september/only-three-weeks-left-to-design-a-new-bus-for-london">Only three weeks left to design a new bus for London<br />01 Sep 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/september/special-needs-cycling-exhibition-and-seminar">Special Needs Cycling Exhibition and Seminar<br />01 Sep 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/september/back-to-school--but-will-you-be-getting-free-travel">Back to school - but will you be getting free travel?<br />01 Sep 2008</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/22840">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/22924">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23344">October</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23440">September</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23556">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23680">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23752">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23872">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23988">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/24108">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/24228">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/24308">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 