


@{ViewBag.Title = "August";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2008">2008</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">August</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>August</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/august/planned-first-bus-strike-on-friday-29-august-2008">Planned First bus strike on Friday 29 August 2008<br />28 Aug 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/august/only-three-weeks-left-to-design-a-new-bus-for-london">Only three weeks left to design a new bus for London<br />28 Aug 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/august/talent-lives-has-found-its-young-and-talented-winner">'Talent Lives' has found its young and talented winner<br />27 Aug 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/august/easier-journeys-as-mayor-announces-the-installation-of-two-wide-aisle-gates-at-sudbury-town-tube-station">Easier journeys as Mayor announces the installation of two wide aisle gates at Sudbury Town Tube station<br />26 Aug 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/august/engineering-works-on-london-overground-begin">Engineering works on London Overground begin<br />26 Aug 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/august/been-inspired-by-great-britains-olympic-cyclists-then-get-down-to-bikejam-at-the-tour-of-britain">Been inspired by Great Britain's Olympic cyclists? Then get down to BikeJam at the Tour of Britain<br />26 Aug 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/august/night-buses-n550-and-n551-to-replace-the-n50">Night buses N550 and N551 to replace the N50<br />22 Aug 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/august/tfl-and-kingston-police-obtain-asbo-against-abusive-teenager">TfL and Kingston Police obtain ASBO against abusive teenager<br />22 Aug 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/august/changes-to-bus-routes-50-249-and-255">Changes to bus routes 50, 249 and 255<br />22 Aug 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/august/euston-bus-station-closure-friday-29-to-sunday-31-august-2008">Euston Bus Station closure: Friday 29 to Sunday 31 August 2008<br />22 Aug 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/august/a-bikes-eye-view">A bike's eye view  <br />20 Aug 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/august/all-london-overground-managed-stations-are-deep-cleaned">All London Overground managed stations are deep cleaned<br />19 Aug 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/august/tfl-advice-to-passengers-in-the-event-of-planned-rmt-tube-lines-strike">TfL advice to passengers in the event of planned RMT Tube Lines strike <br />19 Aug 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/august/visit-the-new-online-destination-for-londons-cyclists">Visit the new on-line destination for London's cyclists<br />18 Aug 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/august/green-park-tube-station-to-be-upgraded-ahead-of-london-2012-games">Green Park Tube station to be upgraded ahead of London 2012 Games<br />18 Aug 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/august/report-into-east-london-line-bridge-incident-released">Report into East London Line bridge incident released<br />15 Aug 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/august/mayor-announces-a-board-to-take-transport-forward">Mayor announces a board to take transport forward<br />14 Aug 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/august/initial-low-emission-zone-results-prove-positive">Initial Low Emission Zone results prove positive  <br />13 Aug 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/august/parking-temporarily-suspended-on-talgarth-road-for-footway-investigation-works">Parking temporarily suspended on Talgarth Road for footway investigation works<br />12 Aug 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/august/the-crimebusting-station-on-the-dlr">The crime-busting station on the DLR<br />11 Aug 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/august/euston-bus-station-closure-friday-15-to-sunday-17-august-2008">Euston Bus Station closure: Friday 15 to Sunday 17 August 2008<br />08 Aug 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/august/changes-to-route-488-at-bromley-by-bow-tesco">Changes to route 488 at Bromley By Bow Tesco<br />08 Aug 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/august/transport-for-london-to-terminate-andpound100m-a-year-oyster-contract">Transport for London to terminate &pound;100m a year Oyster contract<br />08 Aug 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/august/the-best-way-to-get-to-notting-hill-carnival-sunday-24-and-monday-25-august-2008">The best way to get to Notting Hill Carnival: Sunday 24 and Monday 25 August 2008<br />07 Aug 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/august/congestion-charging-five-years-on--traffic-levels-still-down-but-congestion-rises-back-to-precharging-levels">Congestion Charging five years on - traffic levels still down but congestion rises back to pre-charging levels <br />06 Aug 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/august/consultation-on-london-taxi-and-private-hire-vehicle-licensing-inspections">Consultation on London taxi and private hire vehicle licensing inspections<br />05 Aug 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/august/blackfriars-underground-station-to-close-for-redevelopment">Blackfriars Underground station to close for redevelopment<br />05 Aug 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/august/westbourne-grove-reopens-to-buses">Westbourne Grove re-opens to buses<br />04 Aug 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/august/last-chance-for-young-londoners-to-get-creative-online-this-summer">Last chance for young Londoners to get creative online this summer<br />01 Aug 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/august/british-transport-police-launches-new-london-underground-neighbourhood-policing-teams">British Transport Police launches new London Underground Neighbourhood Policing Teams <br />01 Aug 2008</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/22840">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/22924">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23344">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23440">September</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23556">August</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23680">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23752">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23872">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23988">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/24108">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/24228">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/24308">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 