


@{ViewBag.Title = "July";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2008">2008</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">July</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>July</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/july/london-taxi-fares-to-increase-if-fuel-prices-reach-154p-per-litre">London taxi fares to increase if fuel prices reach 154p per litre <br />31 Jul 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/july/have-a-great-family-day-out-at-the-tour-of-britain">Have a great family day out at the Tour of Britain<br />30 Jul 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/july/oxford-street-bus-diversions--works-to-enable-tottenham-court-road-station-redevelopment">Oxford Street bus diversions - Works to enable Tottenham Court Road station redevelopment<br />25 Jul 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/july/oyster-cards">Oyster cards<br />25 Jul 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/july/public-exhibition-to-showcase-future-redevelopment-of-tottenham-court-road-station">Public exhibition to showcase future redevelopment of Tottenham Court Road station<br />23 Jul 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/july/diversity-boost-for-licensed-taxi-drivers">Diversity boost for licensed taxi drivers<br />22 Jul 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/july/clements-road-reopens-to-buses">Clements Road re-opens to buses<br />22 Jul 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/july/bakerloo-line-changes-benefit-over-7000-passengers">Bakerloo line changes benefit over 7,000 passengers<br />18 Jul 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/july/the-hoard-and-the-grapevine-at-stratford-tube-station">The Hoard and the Grapevine at Stratford Tube station<br />14 Jul 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/july/transport-for-london-begins-improvement-of-croydon-tramlink">Transport for London begins improvement of Croydon Tramlink<br />14 Jul 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/july/new-signage-guidelines-introduced-for-londons-licensed-private-hire-vehicles">New signage guidelines introduced for London's licensed private hire vehicles<br />11 Jul 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/july/children-thanked-for-taking-the-lead-on-road-safety">Children thanked for taking the lead on road safety<br />11 Jul 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/july/bride-and-groom-to-travel-to-their-wedding-by-tube">Bride and groom to travel to their wedding by Tube<br />08 Jul 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/july/second-phase-of-london-low-emission-zone-has-started">Second phase of London Low Emission Zone has started <br />07 Jul 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/july/could-you-create-a-new-iconic-bus-for-london">Could you create a new iconic bus for London?<br />04 Jul 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/july/twickenham-bridge-at-75">Twickenham Bridge at 75<br />02 Jul 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/july/improved-bus-services-in-stratford-clapton-and-bow">Improved bus services in Stratford, Clapton and Bow<br />01 Jul 2008</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/22840">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/22924">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23344">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23440">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23556">August</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23680">July</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23752">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23872">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23988">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/24108">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/24228">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/24308">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 