


@{ViewBag.Title = "April";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2008">2008</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">April</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>April</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/april/liverpool-street-station-closure-on-may-bank-holiday">Liverpool Street station closure on May Bank Holiday<br />30 Apr 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/april/extension-to-route-u1-provides-additional-links-for-hillingdon">Extension to route U1 provides additional links for Hillingdon<br />28 Apr 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/april/stage-two-of-work-to-improve-brixton-town-centre-gets-underway">Stage two of work to improve Brixton Town Centre gets underway<br />25 Apr 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/april/old-trains-made-new">Old trains made new  <br />25 Apr 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/april/three-bridges-in-a-row-for-east-london-line-extension">Three bridges in a row for East London line extension<br />23 Apr 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/april/high-court-upholds-pcos-decision-to-withdraw-approval-for-modified-ecopower-system">High Court upholds PCO's decision to withdraw approval for modified Eco-Power system<br />23 Apr 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/april/metronet-about-to-be-transferred-to-transport-for-london">Metronet about to be transferred to Transport for London<br />23 Apr 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/april/docklands-pier-reopened-for-commuters">Docklands Pier re-opened for commuters<br />22 Apr 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/april/victoria-bus-station-closure-saturday-26-and-sunday-27-april">Victoria bus station closure Saturday 26 and Sunday 27 April<br />21 Apr 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/april/london-river-services-unveils-springsummer-timetable">London River Services unveils spring/summer timetable<br />21 Apr 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/april/tfl-tributes-to-the-hon-gwyneth-dunwoody-mp">TfL tributes to The Hon. Gwyneth Dunwoody MP<br />18 Apr 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/april/clean-sweep-for-passengers-using-kentish-town-west-finchley-road-and-frognal-and-kilburn-high-road-stations">Clean sweep for passengers using Kentish Town West, Finchley Road & Frognal and Kilburn High Road stations<br />18 Apr 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/april/clean-sweep-for-passengers-using-brondesbury-park-and-kensal-rise-stations">Clean sweep for passengers using Brondesbury Park and Kensal Rise stations<br />18 Apr 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/april/clean-sweep-for-passengers-using-homerton-station">Clean sweep for passengers using Homerton station<br />18 Apr 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/april/community-groups-urged-to-get-on-their-bikes">Community groups urged to get on their bikes<br />18 Apr 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/april/clean-sweep-for-passengers-using-hatch-end-station">Clean sweep for passengers using Hatch End station<br />18 Apr 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/april/clean-sweep-for-passengers-using-canonbury-upper-holloway-and-caledonian-road-and-barnsbury-stations">Clean sweep for passengers using Canonbury, Upper Holloway and Caledonian Road & Barnsbury stations<br />18 Apr 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/april/fors-introduced-to-the-freight-industry-at-trade-show">FORS introduced to the freight industry at trade show<br />15 Apr 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/april/route-195-gets-an-extended-service-from-ealing-hospital-to-brentford-county-court">Route 195 gets an extended service from Ealing Hospital to Brentford County Court<br />14 Apr 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/april/liverpool-street-station-closure-on-may-bank-holiday">Liverpool Street station closure on May Bank Holiday<br />14 Apr 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/april/tfl-rejects-porsches-claims-on-co2-emissions">TfL rejects Porsche's claims on CO2 emissions<br />10 Apr 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/april/closure-of-new-oxford-street-and-charing-cross-road-bus-lanes">Closure of New Oxford Street and Charing Cross Road bus lanes<br />10 Apr 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/april/keep-on-running-with-tfl-on-marathon-sunday">Keep on running with TfL on Marathon Sunday<br />08 Apr 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/april/dlr-limehouse-station-link-on-the-way">DLR Limehouse station link on the way<br />08 Apr 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/april/bus-route-u9-between-uxbridge-station-and-harefield-hospital-gets-a-new-sunday-service">Bus route U9 between Uxbridge Station and Harefield Hospital gets a new Sunday service<br />07 Apr 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/april/tour-of-britain-cycle-race-returns-to-central-london">Tour of Britain cycle race returns to Central London<br />02 Apr 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/april/tfl-to-vigorously-contest-porsche-move-to-scrap-co2-charge-for-gas-guzzlers">TfL to 'vigorously contest' Porsche move to scrap CO2 Charge for gas guzzlers<br />02 Apr 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/april/even-more-trains-for-london-overground">Even more trains for London Overground<br />01 Apr 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/april/tfl-welcomes-successful-conclusion-of-metronet-subsurface-lines-contract-negotiations">TfL welcomes successful conclusion of Metronet Sub-Surface Lines contract negotiations<br />01 Apr 2008</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/22840">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/22924">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23344">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23440">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23556">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23680">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23752">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23872">May</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23988">April</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/24108">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/24228">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/24308">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 