


@{ViewBag.Title = "March";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2008">2008</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">March</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>March</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/march/transport-for-londons-ibus-wins-innovation-award">Transport for London's iBus wins innovation award<br />28 Mar 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/march/britains-biggest-mobile-crane-helps-build-the-new-east-london-line">Britain's biggest mobile crane helps build the new East London line<br />28 Mar 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/march/new-direct-bus-link-to-the-south-kensington-museums">New direct bus link to the South Kensington museums<br />28 Mar 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/march/london-underground-brands-strike-action-unnecessary">London Underground brands strike action unnecessary<br />28 Mar 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/march/first-piccadilly-line-passengers-travel-to-heathrow-terminal-5">First Piccadilly line passengers travel to Heathrow Terminal 5 <br />27 Mar 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/march/tfl-recognised-for-challenging-gender-pay-gap">TfL recognised for challenging gender pay gap<br />26 Mar 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/march/no-interchange-between-bank-and-monument-stations">No interchange between Bank and Monument stations<br />20 Mar 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/march/five-bus-routes-to-the-new-terminal-5">Five bus routes to the new Terminal 5<br />18 Mar 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/march/tfl-announces-plans-to-take-over-tramlink-services">TfL announces plans to take over Tramlink services<br />17 Mar 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/march/black-children-far-more-likely-to-be-injured-on-roads">Black children far more likely to be injured on roads<br />17 Mar 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/march/double-oyster-boost-to-benefit-passengers-from-home-and-abroad">Double Oyster boost to benefit passengers from home and abroad<br />14 Mar 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/march/traffic-disruption-expected-on-a40-eastbound-due-to-urgent-repair-works-by-thames-water">Traffic disruption expected on A40 eastbound due to urgent repair works by Thames Water<br />14 Mar 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/march/board-backs-andpound78bn-budget-as-transport-for-london-steps-up-delivery-of-major-transport-projects">Board backs &pound;7.8bn budget as Transport for London steps up delivery of major transport projects <br />13 Mar 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/march/transport-for-london-awards-contract-to-improve-brixton-town-centre">Transport for London awards contract to improve Brixton Town Centre<br />13 Mar 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/march/transport-for-london-is-helping-the-capital-to-tackle-climate-change">Transport for London is helping the Capital to tackle climate change<br />13 Mar 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/march/transport-for-london-to-license-the-youngest-taxi-driver">Transport for London to license the youngest taxi driver<br />13 Mar 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/march/games-transport-legacy-put-in-place-as-mayor-unveils-new-docklands-light-railway-carriages">Games transport legacy put in place as Mayor unveils new Docklands Light Railway carriages <br />13 Mar 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/march/mark-wallinger-going-underground">Mark Wallinger: Going Underground <br />12 Mar 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/march/wide-aisle-ticket-gates-will-make-tube-journeys-more-accessible">Wide aisle ticket gates will make Tube journeys more accessible <br />12 Mar 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/march/mayor-rejects-porsches-demand-to-scrap-gas-guzzlers-co2-charge">Mayor rejects Porsche's demand to scrap gas guzzlers CO2 Charge<br />11 Mar 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/march/the-green-travel-revolution-comes-to-richmond">The green travel revolution comes to Richmond<br />11 Mar 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/march/cyclist-safety-boosted-by-new-campaign">Cyclist safety boosted by new campaign<br />11 Mar 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/march/hello-yes-im-on-the-bus">Hello, yes I'm on the bus!<br />10 Mar 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/march/lifting-the-lid-on-what-lurks-in-londoners-boots">Lifting the lid on what lurks in Londoners' boots<br />07 Mar 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/march/mayor-launches-priority-seating-for-pregnant-women-on-tube">Mayor launches priority seating for pregnant women on Tube <br />06 Mar 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/march/new-route-for-certifying-pollution-abatement-equipment">New route for certifying pollution abatement equipment<br />04 Mar 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/march/11-new-borough-policing-teams-for-central-london-buses">11 new borough policing teams for central London buses<br />04 Mar 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/march/new-bus-route-415-for-lambeth">New bus route 415 for Lambeth<br />04 Mar 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/march/bus-diversions-in-thamesmead-due-to-crossway-bridge-maintenance">Bus diversions in Thamesmead due to Crossway bridge maintenance<br />04 Mar 2008</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/22840">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/22924">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23344">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23440">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23556">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23680">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23752">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23872">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23988">April</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/24108">March</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/24228">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/24308">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 