


@{ViewBag.Title = "January";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2008">2008</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">January</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>January</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/january/consider-your-fellow-passengers">Consider your fellow passengers <br />29 Jan 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/january/traffic-disruption-expected-on-a40-eastbound-due-to-emergency-utility-works-by-edf-energy">Traffic disruption expected on A40 Eastbound due to emergency utility works by EDF Energy<br />25 Jan 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/january/24hour-service-for-route-36-and-new-night-route-n136-for-chislehurst">24-hour service for route 36 and new night route N136 for Chislehurst<br />25 Jan 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/january/high-rate-of-crashes-involving-young-drivers-tackled">High rate of crashes involving young drivers tackled<br />24 Jan 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/january/two-weeks-to-go-until-london-low-emission-starts-for-lorries">Two weeks to go until London Low Emission starts for lorries <br />21 Jan 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/january/central-london-traffic-disruption-expected-on-23-january-due-to-police-federation-march">Central London traffic disruption expected on 23 January due to Police Federation march<br />21 Jan 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/january/bus-routes-diverted-due-to-carriageway-resurfacing-works-on-dagenham-heathway">Bus routes diverted due to carriageway resurfacing works on Dagenham Heathway<br />18 Jan 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/january/early-closing-mondays-to-thursdays-for-more-improvement-work-on-victoria-line">Early closing Mondays to Thursdays for more improvement work on Victoria line <br />16 Jan 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/january/low-emission-zone-operators-reminded-to-get-emissions-equipment-now">Low Emission Zone: Operators reminded to get emissions equipment now <br />15 Jan 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/january/tfl-statement-on-the-london-assembly-report-into-crime-and-disorder-on-londons-buses">TfL statement on the London Assembly report into crime and disorder on London's buses<br />11 Jan 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/january/early-sunday-morning-closure-is-best-option-for-blackwall-tunnel-maintenance">Early Sunday morning closure is best option for Blackwall Tunnel maintenance<br />10 Jan 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/january/transport-for-london-sixth-in-national-equality-rating">Transport for London sixth in national equality rating<br />10 Jan 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/january/new-plan-launched-to-help-londons-freight-industry">New plan launched to help London's freight industry <br />09 Jan 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/january/zip-on-board-with-oyster">Zip on board with Oyster<br />07 Jan 2008</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/january/train-operators-oyster-acceptance-welcomed">Train operators Oyster acceptance welcomed<br />31 Jan 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/january/dlr-takes-first-steps-toward-dagenham">DLR takes first steps toward Dagenham<br />29 Jan 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/january/mayor-welcomes-oyster-deal-with-chiltern-railways">Mayor welcomes Oyster deal with Chiltern Railways<br />23 Jan 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/january/transport-for-london-services-this-evening">Transport for London services this evening<br />18 Jan 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/january/guide-dog-owners-award-for-wembley-park-station">Guide dog owners award for Wembley Park Station<br />17 Jan 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/january/pco-licensing-officers-gain-btec-qualification">PCO Licensing Officers gain BTEC qualification<br />17 Jan 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/january/lu-becomes-first-public-body-to-join-ethical-trading-initiative">LU becomes first public body to join Ethical Trading Initiative<br />17 Jan 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/january/mayor-welcomes-oyster-deal-with-train-operator-c2c">Mayor welcomes Oyster deal with train operator c2c<br />16 Jan 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/january/tour-de-france-to-turn-capitals-streets-into-international-sports-arena">Tour de France to turn Capitals streets into international sports arena<br />15 Jan 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/january/new-front-facing-cameras-to-halt-speeding-motorists">New front facing cameras to halt speeding motorists<br />12 Jan 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/january/london-underground-busking-scheme-seeks-new-sponsor-in-2007">London Underground busking scheme seeks new sponsor in 2007<br />12 Jan 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/january/transport-for-london-arrives-in-stonewall-equalities-top-10">Transport for London arrives in Stonewall equalities top 10<br />11 Jan 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/january/platform-for-art-unveils-new-pocket-tube-map-cover">Platform for Art unveils new pocket Tube Map cover<br />11 Jan 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/january/major-contract-award-signals-start-of-work-on-dlr-stratford-international-extension">Major contract award signals start of work on DLR Stratford International Extension<br />10 Jan 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/january/ten-millionth-oyster-card-issued--mayor-urges-train-operators-to-join-system-by-31-january">Ten millionth Oyster card issued - Mayor urges train operators to join system by 31 January<br />09 Jan 2007</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2008/january/two-tfl-july-7-heroes-honoured-in-new-years-list">Two TfL July 7 heroes honoured in New Years List<br />02 Jan 2007</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/22840">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/22924">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23344">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23440">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23556">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23680">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23752">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23872">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/23988">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/24108">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/24228">February</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008/24308">January</a></div>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 