


@{ViewBag.Title = " Transport for London and Barratt London get the green light to build affordable homes in Blackhorse Road";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb"> Transport for London and Barratt London get the green light to build affordable homes in Blackhorse Road</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1> Transport for London and Barratt London get the green light to build affordable homes in Blackhorse Road</h1>
        <div class="content-page-press-release">
        05 December 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p class="x" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="font-size:12.0pt">Transport for London (TfL) has announced today that it has been given the go ahead to start building hundreds of new homes &#45; 50 per cent of which will be at social rent levels or for shared ownership&nbsp;&#45; working with Barratt London as part of its Property Partnership Framework.</span></span></p>

<p class="x" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt">&nbsp;</span></p>

<p class="x" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="font-size:12.0pt">The development, named Blackhorse Point, will be built on a 1.8 acre site and will deliver 350 new homes in Waltham Forest across six new buildings. The new homes will provide a mixture of studio, 1, 2 and 3 bedroom properties.</span></span></p>

<p class="x" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">&nbsp;</p>

<p class="x" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="font-size:12.0pt">The development is situated opposite Blackhorse Road station, which is serviced by both the Victoria line and London Overground. The site will also make it easier for residents to cycle with 650 cycle parking spaces.</span></span></p>

<p class="x" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt">&nbsp;</span></p>

<p class="x" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="font-size:12.0pt">Designed by RMA Architects, the development is a key element of the wider masterplan of the Blackhorse Lane regeneration area, which falls under part of the Greater London Authority's Blackhorse Road and Northern Olympic Park Housing zone as well as the London Borough of Waltham Forest's Blackhorse Lane Area Action Plan. It will ensure that those living and working in the area continue to benefit from the changes taking place by improving public amenities &#45; including new public pedestrian links, new trees and new children's play areas.</span></span></p>

<p class="x" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt">&nbsp;</span></p>

<p class="x" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="font-size:12.0pt">Blackhorse Point will deliver 17,000 square feet of retail and commercial space, which will include opportunities for small and independent businesses. This includes a new co-working hub and creative workspaces, which will further support the Blackhorse Lane Creative Enterprise Zone. The construction of the site will create up to 300 jobs and local apprenticeships.</span></span></p>

<p class="x" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt">&nbsp;</span></p>

<p class="x" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="font-size:12.0pt"><strong>Graeme Craig, Director of Commercial Development at Transport for London, said: </strong>'Blackhorse Point is a really exciting development and we are thrilled to be taking it forward with Barratt London. It will have a huge, positive impact on Waltham Forest, supporting the regeneration already taking place. It will be providing the housing that the borough and London desperately need, while generating vital revenue to reinvest back into the transport network.</span></span></p>

<p class="x" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt">&nbsp;</span></p>

<p class="x" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="font-size:12.0pt">'The development will enable the local economy to continue to flourish with even better public amenities and new job and local apprenticeship opportunities. The additional retail and work spaces will provide a fantastic offering for those looking to start or expand their businesses in a brilliant location.'</span></span></p>

<p class="x" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt">&nbsp;</span></p>

<p class="x" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="font-size:12.0pt"><strong>Matt Calladine, Regional Land and Development Director, Barratt London, said: </strong>'We are delighted with London Borough of Waltham Forest's resolution to grant planning permission for Blackhorse Point. This is an exciting project for us and we are particularly pleased to be able to deliver such a high percentage of much needed affordable homes for the borough, alongside retail and co-working space.</span></span></p>

<p class="x" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt">&nbsp;</span></p>

<p class="x" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="font-size:12.0pt">'It is a great privilege to be bringing forward this development in partnership with Transport for London, and we are looking forward to starting work on the project subject to Mayoral approval.'</span></span></p>

<p class="x" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt">&nbsp;</span></p>

<p class="x" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="font-size:12.0pt">Cllr Simon Miller, Cabinet Member for Economic Growth and High Streets, said: &quot;We're delighted to work with TfL and Barratt London on this exciting project, which will deliver much-needed new housing alongside retail and commercial outlets in the up-and-coming Blackhorse Road area. The council is committed to improving residents' life chances and providing them with a decent roof over their heads as we continue to create even more opportunities to succeed for those who live, work and study in Waltham Forest.&quot;</span></span></p>

<p class="x" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt">&nbsp;</span></p>

<p class="x" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><strong><span style="font-size:12.0pt">Additional Information</span></strong></span></p>

<p class="x" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><strong>&nbsp;</strong></span></p>

<ul>
	<li class="x" style="margin-top:0cm; margin-right:0cm; margin-bottom:10.0pt; margin:0cm 0cm 0.0001pt"><span style="font-size:11pt"><span style="line-height:115%"><span style="tab-stops:list 36.0pt"><span style="font-size:12.0pt"><span style="line-height:115%">In 2016, TfL launched the Property Partnership Framework. Following a competitive tender process, TfL approved the appointment of 13 leading property development companies and consortiums that it could work with to develop its sites. This provides a ready pool of partners eligible to bid to work with TfL in joint ventures as sites become available. This will ensure thousands of homes, offices and retail spaces across London can be delivered more efficiently and quickly. You can find out more by visiting: </span></span><a href="https://tfl.gov.uk/info-for/business-and-commercial/property-development" style="text-decoration: underline;"><span style="font-size:12.0pt"><span style="line-height:115%">https://tfl.gov.uk/info-for/business-and-commercial/property-development</span></span></a> </span></span></span></li>
	<li class="x" style="margin-top:0cm; margin-right:0cm; margin-bottom:10.0pt; margin:0cm 0cm 0.0001pt"><span style="font-size:11pt"><span style="line-height:115%"><span style="tab-stops:list 36.0pt"><span style="font-size:12.0pt"><span style="line-height:115%">Barratt London is the market-leading residential developer in the capital. They design, build and sell large, complex residential-led developments tailored to the needs of their customers and stakeholders, as well as local boroughs and communities. They are committed to delivering an exceptional quality development that creates real benefits for the local community. Barratt London is part of Barratt Developments PLC, the UK's largest housebuilder. For more information, visit </span></span><a href="http://www.barrattlondon.com" style="text-decoration: underline;"><span style="font-size:12.0pt"><span style="line-height:115%">www.barrattlondon.com</span></span></a></span></span></span></li>
</ul>

<ul>
	<li class="x" style="margin-top:0cm; margin-right:0cm; margin-bottom:10.0pt; margin:0cm 0cm 0.0001pt"><span style="font-size:11pt"><span style="line-height:115%"><span style="tab-stops:list 36.0pt"><span style="font-size:12.0pt"><span style="line-height:115%">Established in 1979 and based in Hampstead, RMA Architects are an award-winning architectural practice. They have significant experience working with Barratt London in delivering high-quality, mixed-use developments across London, including:</span></span></span></span></span>

	<ul>
		<li style="list-style-type:none">
		<ul style="list-style-type:circle">
			<li class="x" style="margin-top:0cm; margin-right:0cm; margin-bottom:10.0pt; margin:0cm 0cm 0.0001pt"><span style="font-size:11pt"><span style="line-height:115%"><span style="tab-stops:list 108.0pt"><span style="font-size:12.0pt"><span style="line-height:115%">Around 700 homes and 70,000 sq ft of commercial space at Greenland Place in Lewisham.</span></span></span></span></span></li>
			<li class="x" style="margin-top:0cm; margin-right:0cm; margin-bottom:10.0pt; margin:0cm 0cm 0.0001pt"><span style="font-size:11pt"><span style="line-height:115%"><span style="tab-stops:list 108.0pt"><span style="font-size:12.0pt"><span style="line-height:115%">Around 280 homes and 21,500 sq ft of retail space at East Ham's former market hall in Newham.</span></span></span></span></span></li>
		</ul>
		</li>
	</ul>
	</li>
</ul>

<ul>
	<li style="margin-bottom:10.0pt; margin:0cm 0cm 0.0001pt"><span style="font-size:11pt"><span style="line-height:115%"><span style="tab-stops:list 36.0pt"><span style="font-size:12.0pt"><span style="line-height:115%">The site is currently being used as a public car park comprising of 280 spaces, run by National Car Parks on behalf of TfL.</span></span></span></span></span></li>
	<li style="margin-bottom:10.0pt; margin:0cm 0cm 0.0001pt"><span style="font-size:11pt"><span style="line-height:115%"><span style="tab-stops:list 36.0pt"><span style="font-size:12.0pt"><span style="line-height:115%">Construction is expected to commence by summer 2019.</span></span></span></span></span></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-December- Transport for London and Barratt London get the green light to build affordable homes in Blackhorse Road -->

 
 
        
        
            @{ViewBag.Description = " Transport for London and Barratt London get the green light to build affordable homes in Blackhorse Road";}
        
        


 