


@{ViewBag.Title = "Are children key to a healthier London? TfL's STARS programme suggests so";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Are children key to a healthier London? TfL’s STARS programme suggests so</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Are children key to a healthier London? TfL’s STARS programme suggests so</h1>
        <div class="content-page-press-release">
        06 December 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Twenty eight schools from across London have been celebrated by Transport for London (TfL) for their work championing active and safe travel on the journey to school.</p>

<p>As part of TfL's STARS (Sustainable Travel: Active, Responsible, Safe) schools programme, the winners received awards for being the highest performing of around 1500 participating London primary and secondary schools in reducing car use, increasing walking and cycling and using public transport. All STARS schools ran initiatives that have led to an average of eight per cent reduction in car use on school journeys.</p>

<p>STARS is now in its twelfth year, and accreditation to STARS has grown from 180 schools in 2007 to 1,465 in 2018. Schools are judged on their success in changing travel behaviour with each school awarded a Bronze, Silver or Gold accreditation. This year 686 schools were awarded a Gold accreditation - more than ever before.</p>

<p>Certificates from the Mayor of London were presented to the top performing schools at the annual event at City Hall.</p>

<p><strong>Dr Will Norman, London's Walking &amp; Cycling Commissioner, said:</strong> 'We all want to build a healthier and safer future for our children so to have them involved in encouraging us all to be more active and safe is fantastic.&nbsp; The Mayor and I are particularly proud of the STARS programme. Every participating school deserves an award and should be proud of their achievements.&nbsp;These top 28 schools have shown particular innovation in their projects.</p>

<p>'Being physically active sets children up for success: active kids are healthier, happier and do better at school. Sadly, far too many children in London aren't as active as they should be. Walking, cycling and scooting to school are fun and easy ways to build more activity into the day.'</p>

<p><strong>Gareth Powell, TfL's Managing Director of Surface Transport, said: `</strong>TfL's STARS accreditation scheme inspires young Londoners to think differently about travel and its impact on their health, wellbeing and the environment. This year, we have awarded gold status to 686 schools, more than ever before. We are delighted that so many schools across London are part of the programme and we're determined to double that number, enabling more London children to enjoy the benefits of leading active lives.'</p>

<p>The overall best regional primary and secondary schools include:</p>

<p>Lordship Lane Primary &#45; for work to discourage parents from parking near the school&nbsp;including creating a five minute walking zone and holding two play street events outside school to show parents how it could be without cars (Haringey, north London)</p>

<p>Oakleigh School and Acorn Assessment Centre &#45; during Road Safety Week every class had a 20 minute presentation&nbsp;using travel related music, sensory objects and lights&nbsp;(Barnet, north London)</p>

<p>Gilbert Colvin Primary &#45; have worked incredibly hard this year with their 'Stripey Strider' campaign to get a zebra crossing outside their school (Redbridge, east London)</p>

<p>The Campion School &#45; have delivered a year-long three part campaign aiming to increase the numbers of those cycling to school (Havering, east London)</p>

<p>Herne Hill Primary &#45; for devising 'numerous fun and interactive travel initiatives' to promote local safe travel initiatives including a Clean Air Day&nbsp;and inviting external speakers to speak to pupils (Southwark, south London)</p>

<p>St Mary Magdalene School - for their innovative three-part Spokestars initiative that develops cycling skills from the bottom up.&nbsp;Level one focuses on balance bike training, level two - transitioning to pedal bike and level three - basic bike maintenance (Greenwich, south London)</p>

<p>St Mary's Bryanston Square CE Primary &#45; the school has undertaken an intensive programme of activity this year including a clean air project that including air quality lessons, removing car parking spaces, installing scooter parking and raising money to fund an eco-garden in a former school car park (Westminster, west London)</p>

<p>Guru Nanak Sikh Academy &#45; the Academy has undertaken an intensive campaign to improve road safety in Hayes which included creating 'More Than You', a powerful film highlighting the consequences of a road traffic incident. The film was premiered at a Road Safety Fair which included a road safety obstacle course, a smoothie bike as well as travel inspired games &amp; activities. 750 students attended the event. (Hillingdon, west London)</p>

<p>Prior to this event, other STARS accredited schools received Bronze, Silver and Gold grading for their initiatives at seven regional events held across London. They also shared best practice and pledged to increase their activities.</p>

<p>As well as TfL's work to encourage walking, cycling and scooting to school, councils like Camden and Hackney are also piloting schemes where streets around primary schools are closed at set times in the morning and afternoon, allowing people to walk and cycle safely in a pleasant environment. Waltham Forest is also discouraging motorists from idling their engines at drop off and pick up times.</p>

<p>The first Walking Action Plan was launched earlier this year. As part of this, TfL, the Mayor and others are delivering a number of projects that promote healthy, walkable school journeys and make it easier and more appealing for parents and children to walk or cycle to school. The Walking Action Plan includes the target to double the number of schools reaching the Gold standard under the STARS scheme, from 686 currently to 1,000 by 2024.</p>

<p>Research from TfL's Walking Action Plan, which aims to make London the world's most walkable city, shows that a quarter of weekday morning peak car trips are for school drop-offs, a total of 254,000 trips a day. Those cars would form a traffic jam more than 1,000km long if they were queuing in single file. This increased traffic has an impact on congestion, air quality, safety and the efficiency of London's roads.</p>

<p>The STARS scheme and the Walking Action Plan are part of the Mayor's Transport Strategy, which aims for 80 per cent of journeys to be made by walking, cycling or public transport.</p>

<p>For further details on the STARS accreditation scheme and the full range of programmes TfL offers to schools and young people, visit <a href="http://tfl.gov.uk/stars or tfl.gov.uk/younglondon">tfl.gov.uk/stars or tfl.gov.uk/younglondon</a>.</p>

<p>STARS accreditation scheme: in conjunction with the London boroughs, TfL supports primary and secondary schools (with over 46 per cent currently participating) with school travel plan activities that help young people and the whole school community adopt safer and more active travel behaviour. The scheme has three levels;</p>

<ul>
	<li>Bronze;</li>
	<li>Silver;</li>
	<li>Gold</li>
</ul>

<p>The more initiatives a school delivers and the greater the changes in behaviour, the higher the STARS Accreditation award.</p>

<p>Twenty four schools attended the 2018 City Hall event.</p>

<p>Top awards that were presented at the City Hall event were</p>

<ul>
	<li>School of the Region &#45; The 33 London boroughs are divided into four regions &#45; North, South, East, and West. In each region, one primary school and one secondary school were awarded School of the Region as they have demonstrated the highest level of commitment to active, safer and responsible school travel (8 awards)</li>
	<li>School of Excellence &#45; This award recognises schools that have demonstrated innovative and outstanding achievements in one of seven travel areas: walking, scootering, cycling, road safety, public transport, pupil led projects and partnership working. Pupil-led projects are those campaigns that have been initiated and delivered by pupils, demonstrating the best in peer-to-peer leadership.&nbsp; The Partnership Working award recognises the best efforts in bringing internal and external parties together to achieve change for the school community (20 awards)</li>
</ul>

<p>Other awards that were presented at the City Hall event were&nbsp;</p>

<ul>
	<li>Bike It Plus Exemplar award &#45; introduced in 2015 recognises schools that go above and beyond to promote cycling and run a number of cycling activities.</li>
	<li>School Travel Plan Champion&#45; This award recognises an individual's dedication to embed an active and safer travel ethos within their school and the wider community</li>
</ul>

<p>The Walking Action Plan can be found here: <a href="http://www.tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/the-mayors-transport-strategy">www.tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/the-mayors-transport-strategy&nbsp;&nbsp;&nbsp;</a></p>

<ul>
	<li>The Mayor's Transport Strategy can be found here: <a href="http://www.tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/the-mayors-transport-strategy">www.tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/the-mayors-transport-strategy</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-December-Are children key to a healthier London? TfL’s STARS programme suggests so -->

 
 
        
        
            @{ViewBag.Description = "Are children key to a healthier London? TfL’s STARS programme suggests so";}
        
        


 