


@{ViewBag.Title = "Contractor for Overground Barking Riverside extension ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Contractor for Overground Barking Riverside extension </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Contractor for Overground Barking Riverside extension </h1>
        <div class="content-page-press-release">
        21 December 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Contract awarded to joint venture of Morgan Sindall Construction & Infrastructure and VolkerFitzpatrick (MSVF)
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Awarding this contract to build the London Overground extension is the next exciting step in the Barking Riverside development, which will enable the delivery of up to 10,800 new homes and the creation of new healthcare and leisure facilities"</div>
        <div class="quote-footer">
            <div class="quotee-name">Gareth Powell</div>
            <div class="quotee-job-title">Managing Director of Surface Transport, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>The extension will unlock the building of up to 10,800 new homes</li>
	<li>Construction due to begin early 2019, with first train services expected in late 2021</li>
	<li>One of the major projects included in TfL's latest 5 year Business Plan</li>
</ul>

<p>The vital transport infrastructure needed to support the development of one of Europe's largest brownfield sites moved a step closer today, as Transport for London (TfL) awarded the contract to a joint venture of Morgan Sindall Construction &amp; Infrastructure and VolkerFitzpatrick (MSVF) to extend the London Overground to Barking Riverside.</p>

<p>The 4.5km extension of the Gospel Oak to Barking line, one of the major projects in TfL's Business Plan, is an intrinsic part of the Barking Riverside development, a 180-hectare site on the northern bank of the River Thames that will become home to one of London's most significant housing developments.</p>

<p>The delivery of the extension will support up to 10,800 new homes and will unlock a wide range of benefits in the local area, including a new school and healthcare facilities and the construction of a new district centre with commercial and leisure facilities. As many as 50 per cent of the new homes could be affordable, helping to tackle London's housing shortage crisis.</p>

<p>Preparation work for the extension will commence immediately, with main construction due to start in early 2019 and train services commencing from late 2021. Under the contract, MSVF will deliver:</p>

<ul>
	<li>A 4.5km extension to Barking Riverside, from the Tilbury Loop Line between Barking and Dagenham Dock stations to Barking Riverside</li>
	<li>Reconfiguration of Network Rail's Ripple Lane goods yard to allow the extension to connect to the Tilbury Loop</li>
	<li>Construction of a viaduct over the Ripple Lane yard.&nbsp; This will require the viaduct to be built over the Tilbury Loop and foundations constructed between the HS1 tunnels</li>
	<li>Continuation of the viaduct for a further 1.5km over Renwick Road and into the heart of Barking Riverside</li>
	<li>Construction of a new terminus station within the Barking Riverside town square. The station will have step-free access from street to train.</li>
</ul>

<p>Gareth Powell, TfL's Managing Director of Surface Transport, said:</p>

<p>'Investing in transport infrastructure unlocks and supports homes, jobs and economic growth. Awarding this contract to build the London Overground extension is the next exciting step in the Barking Riverside development, which will enable the delivery of up to 10,800 new homes and the creation of new healthcare and leisure facilities.'</p>

<p>Matthew Carpen, Managing Director for Barking Riverside Limited, said:</p>

<p>'This is another major milestone for the project, as we continue to steam ahead in the delivery of 10,800 homes for East London. The construction of the rail line and new London Overground station is the single most important part of unlocking the true potential of this amazing riverside site, allowing residents and visitors to go to and from central London in as little as 22 minutes and firmly putting Barking Riverside on the map as a Zone 4 destination. We look forward to working in partnership with TfL and MSVF to deliver this integral aspect of the project.'</p>

<p>Simon Smith, Morgan Sindall's Managing Director for Infrastructure, said:</p>

<p>'We have a strong history of delivering rail improvement projects of this scale and complexity and are looking forward to starting on site in order to ensure good transport links to serve this expanding community in East London.'</p>

<p>John Cox, Managing Director of VolkerFitzpatrick's Rail Division, said:</p>

<p>'We are very pleased to be appointed to deliver this significant piece of transport infrastructure. We, along with our joint venture partner Morgan Sindall, look forward to working closely with TfL, Barking Riverside Ltd and the local community to deliver this vital transport link.'</p>

<p>Cllr Darren Rodwell, Leader of Barking and Dagenham Council, said:</p>

<p>'This is great news. The extension is vital to the development of Barking Riverside and realising the potential of the whole area. It means our drive to deliver tens of thousands of affordable homes and jobs for local people is on track.'</p>

<p>The London Overground extension will deliver a sustainable public transport alternative to car travel and link Barking Riverside into London's wider public transport network through connections at Barking, with District and Hammersmith &amp; City services and c2c services to London Fenchurch Street and Essex.</p>

<p>The service will operate with four trains an hour and feature electric London Overground trains with air-conditioning and walk-through carriages, for customer comfort.</p>

<p>The London Overground extension to Barking Riverside is an important part of TfL's Business Plan and the Mayor's Transport Strategy which plans to create a fairer, greener, healthier and more prosperous city by improving public transport and encouraging active travel.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-December-Contractor for Overground Barking Riverside extension  -->

 
 
        
        
            @{ViewBag.Description = "Contractor for Overground Barking Riverside extension ";}
        
        


 