


@{ViewBag.Title = "Londoners encouraged to get home safely during the festive period";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Londoners encouraged to get home safely during the festive period</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Londoners encouraged to get home safely during the festive period</h1>
        <div class="content-page-press-release">
        13 December 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL launches its annual Safer Travel at Night campaign with the reminder that if a minicab is not booked, it's illegal and unsafe
        
    </div>



 <div class="on-this-page">
<p>As the festive party season approaches, TfL is stepping up its Safer Travel at Night (STaN) activity, reminding people of the dangers of unbooked minicabs and providing advice on how to safely get a taxi (black cab) or booked minicab home.</p>

<p>Working alongside the Metropolitan Police Service (MPS) and City of London Police (CoLP), TfL's Taxi and Private Hire Compliance team &#45; which has recently been given new powers to combat illegal taxi and private hire activity &#45; will be increasing their enforcement activity to deal with unbooked minicabs and other illegal activity by targeting priority locations across the capital.</p>

<p>Officers will also be engaging with revellers to remind them of the rules for booking a private hire vehicle or hailing a black taxi and to encourage people to report any incidents to TfL and the police.</p>

<p>Booking a minicab means that there is a record of the journey, the driver and vehicle used, so in the event of any problems the driver can be traced.</p>

<p><strong>Advice for using a black cab:</strong></p>

<ul>
	<li>Black cabs (taxis) are different to minicabs, they can be approached on the street or at taxi ranks</li>
	<li>Black cabs do not need to be pre-booked, but can be via app, phone or online</li>
</ul>

<p><strong>Advice for using a minicab:</strong></p>

<ul>
	<li>Book your minicab journey through a licensed minicab operator, via a booking app, phone, email or at a minicab office</li>
	<li>When booking a minicab, you should receive confirmation highlighting the driver and vehicle details as well as the driver's photo</li>
	<li>Private hire operators will have a record of the journey, the driver and the vehicle used so that, in the event of any problems, the driver can be traced</li>
</ul>

<h2>Engaging with revellers</h2>

<p>As well as reminding the public of how they can stay safe, TfL officers will be speaking directly to minicab operators, reminding them of their responsibilities towards passenger safety.</p>

<p><strong>Siwan Hayward, Director of Compliance and Policing at TfL, said</strong>: 'We want everyone to enjoy themselves and celebrate during the festive season, but also we want everyone to get home safely.</p>

<p>'Working alongside the police, our TfL enforcement teams will be out in numbers over the next few weeks to tackle illegal minicabs, and check that licensed drivers and vehicles meet our standards.</p>

<p>'Our message is that if you use a minicab, make sure it's booked with a licensed operator and check before getting in.</p>

<p>'Booking a minicab means that there is a record of the journey, the driver and vehicle used, so in the event of any problems the driver can be traced.'</p>

<p><strong>Chief Superintendent Colin Wingrove, from the MPS, said</strong>: 'The Roads and Transport Policing Command is committed to making travelling around London safer for everyone.</p>

<p>'We work with TfL, using overt and covert tactics to target illegal cab activity. Our officers will be engaging with the general public, minicab operators, drivers, licensed premises and further education establishments around how to keep safe whilst enjoying the festivities and London nightlife.'</p>

<p>'My advice is make sure you plan your journey home before you go out, whether by Tube, bus, black cab or minicab. Know the difference between a black cab and a minicab.</p>

<p>'You can only flag down black cabs, if you flag down a minicab you will not be insured. Both black cab and minicab drivers must have their ID showing their photograph and licence details visible.</p>

<p>'Look for the official licence plates and numbers on vehicles and ask to see the driver's badge if it is not visible. Remember if in doubt don't get in.'</p>

<p>'If you witness or are the victim of a crime, report it to the police. Call 999 if you or someone else is in immediate danger, or if the crime is in progress.</p>

<p>'Call 101 to contact the police if the crime is not an emergency. You can also use the online crime reporting tool.'</p>

<h2>Keep passengers safe</h2>

<p><strong>Inspector Paul Doyle, from the City of London Police said</strong>: 'Christmas is a busy time for everyone. Events in the nearby area or bad weather can sometimes affect your route home or perhaps you've gone for an impromptu drink after work with colleagues and can't drive or cycle home as intended.</p>

<p>'If you find yourself needing to get a taxi, make sure you get a black cab or pre-book a private hire car through a licensed minicab operator you've used before and trust.</p>

<p>'Always check that the minicab you ordered is the one you get into. If you have any problems with the driver of a black cab or minicab driver, report it to police.'</p>

<p><strong>Suky Bhaker, Head of Policy and Development, Suzy Lamplugh Trust, said</strong>: 'Taxi and minicab safety has long been a priority for Suzy Lamplugh Trust.</p>

<p>'We are calling for a single consolidated legislative framework throughout England and Wales outlining clear and specific minimum standards for licensing taxi and minicab drivers to ensure consistency across all licensing authorities.</p>

<p>'We fully support TfL's annual Safer Travel at Night campaign and advocate our safety tips to keep passengers safe.'</p>

<p>Suzy Lamplugh Trust's Safer Travel at Night campaign tips are:</p>

<p><strong>S</strong>HARE INFORMATION ABOUT YOUR JOURNEY and the vehicle you're using with someone you trust</p>

<p><strong>A</strong>SK THE DRIVER TO SHOW YOU THEIR BADGE before you start your journey</p>

<p><strong>F</strong>IND OUT WHICH LICENSED TAXIS AND PRIVATE HIRE VEHICLES OPERATE IN YOUR AREA and plan your journey in advance</p>

<p><strong>E</strong>XAMINE THE TAXI OR MINICAB before you get in &#45; is a licence displayed on the vehicle? Does the vehicle look roadworthy?</p>

<p><strong>T</strong>RUST YOUR INSTINCTS &#45; if you feel worried or threatened, ask the driver to stop in a busy area so you can get out</p>

<p><strong>Y</strong>OU CAN REPORT ANY CONCERNS about taxis or private hire vehicles to the police and your local licensing authority.&quot;</p>

<hr />
<p><strong>Notes to editors:</strong></p>

<ul>
	<li>Further information regarding the Safer Travel at Night campaign can be found here: <a href="https://tfl.gov.uk/campaign/safer-travel">tfl.gov.uk/campaign/safer-travel</a></li>
	<li>Customers can report issues or make comment on their journeys in London's taxi and private hire vehicles <a href="https://tfl.gov.uk/help-and-contact/contact-us-about-taxi-and-private-hire">online </a>at <a href="https://tfl.gov.uk/help-and-contact/contact-us-about-taxi-and-private-hire">tfl.gov.uk/forms/12396.aspx </a>or by calling 0343 222 4000 (08:00-18:00 Monday to Friday - closed on Bank Holidays)</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-December-Londoners encouraged to get home safely during the festive period -->

 
 
        
        
            @{ViewBag.Description = "Londoners encouraged to get home safely during the festive period";}
        
        


 