


@{ViewBag.Title = "New financing agreement confirmed for Crossrail project ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New financing agreement confirmed for Crossrail project </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New financing agreement confirmed for Crossrail project </h1>
        <div class="content-page-press-release">
        10 December 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"With London's population continuing to grow, our priority must be getting this monumental project completed as soon as possible, with Londoners enjoying all the benefits the Elizabeth Line will provide. This agreement means that, working with TfL and the Government, Crossrail's new leadership can get the job done"</div>
        <div class="quote-footer">
            <div class="quotee-name"> Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>The Mayor of London, the Greater London Authority (GLA), and Transport for London (TfL) have today [Monday 10th December] confirmed a financing package with the Government to deliver the final stages of the Crossrail project and open the Elizabeth line to passengers as quickly as possible.</p>

<p>Crossrail Ltd announced in August that it expected the Elizabeth line to open through central London in autumn 2019, rather than December 2018. It has now become clear that more work is required than had been envisaged to complete the infrastructure and then commence the extensive testing necessary to ensure the railway opens safely and reliably.</p>

<p>Today the new Chief Executive of Crossrail, Mark Wild, also confirmed that having reviewed the work still required to complete the project, an Autumn 2019 opening date could no longer be committed to at this stage, and his team was working on a robust and deliverable schedule.</p>

<p>Core elements of the infrastructure being delivered by Crossrail Ltd, including the stations and the fit out of the tunnels, are at varying stages of completion and more funding is therefore required to complete it, as well as the extensive safety and reliability testing needed for the new railway systems.&nbsp; The trains procured by TfL are already in operation between Liverpool Street and Shenfield, and Paddington and Hayes &amp; Harlington.</p>

<p>The Mayor asked TfL, on behalf of both joint sponsors, to commission independent reviews into Crossrail Ltd's financing and governance arrangements. These are being undertaken by KPMG and are nearing completion to ensure the right scrutiny and oversight are in place as the project enters its critical next phase, and that Crossrail Ltd's financial and schedule projections are robust.</p>

<p>The emerging findings of the KPMG review into Crossrail Ltd's finances indicate the likely capital cost impact of the delay to the project announced in August could be in the region of between &pound;1.6bn and &pound;2bn. That includes the &pound;300m already contributed by the Department for Transport (DfT) and TfL in July 2018, leaving an estimated &pound;1.3bn to &pound;1.7bn to complete the project.</p>

<p>The Mayor of London and the Government have agreed a financial package to cover this. The Greater London Authority (GLA) will borrow up to &pound;1.3bn from the DfT. The GLA will repay this loan from the existing Business Rate Supplement (BRS) and Mayoral Community Infrastructure Levy (MCIL). The GLA will also provide a &pound;100m cash contribution, taking its total contribution to &pound;1.4bn which it will provide as a grant to TfL for the Crossrail project.</p>

<p>Because the final costs of the Crossrail project are yet to be confirmed, a contingency arrangement has also been agreed between TfL and the Government. This will be in the form of a loan facility from the DfT of up to &pound;750m, should the higher end of the estimate be realised.</p>

<p>This combined financing deal will replace the need for the &pound;350 million interim financing package offered by the Government in October.</p>

<p>The Mayor and the Secretary of State for Transport also today confirmed they have nominated Tony Meggs as the new Chair of Crossrail Ltd, and if ratified by the Crossrail Ltd Board he will replace Sir Terry Morgan who resigned on 5 December.</p>

<p>Tony Meggs, who will step down from his role as CEO of the Infrastructure and Projects Authority (IPA), will oversee the final stages of delivering the Crossrail project. He brings a wealth of experience from his role at the IPA as well as a long career in leadership positions in the private sector. He has nurtured talent at both BP, where he set up their project leadership programme, and more recently at the Government's Major Projects Leadership Academy.</p>

<p>The Crossrail Ltd Board will be further strengthened with the nomination of former MP Nick Raynsford as Deputy Chair. Nick served as Minister for London on two occasions between 1997 and 2003.</p>

<p>Mayor of London, Sadiq Khan, said:</p>

<p>'When Crossrail is complete it will truly transform travel across the capital, with new state-of-the-art trains adding 10 per cent to central London's rail capacity and boosting the economy by billions of pounds.</p>

<p>'I haven't hidden my anger and frustration about the Crossrail project being delayed. This has a knock-on consequence of significant additional cost to the project.&nbsp; It has been increasingly clear that the previous Crossrail Ltd leadership painted a far too optimistic picture of the project's status.'</p>

<p>'I have ordered the release of all Crossrail Board minutes in the last five years to provide transparency to Londoners on their decision making, and working with the DfT, brought in a new leadership team.</p>

<p>'With London's population continuing to grow, our priority must be getting this monumental project completed as soon as possible, with Londoners enjoying all the benefits the Elizabeth Line will provide. This agreement means that, working with TfL and the Government, Crossrail's new leadership can get the job done.'</p>

<p>Mike Brown, London's Transport Commissioner, said:</p>

<p>'Crossrail Ltd's announcement of the delay to the Elizabeth line is extremely disappointing and, only now, is the scale of what is yet to be completed becoming clear.</p>

<p>'The confirmation of this funding agreement will now allow Crossrail Ltd and its new leadership to focus on finishing the remaining construction work on the stations and tunnels and then completing the vital safety testing in order to open the railway for passengers as quickly as possible.</p>

<p>'As this happens it's important not to lose sight of the huge benefits the Elizabeth line will bring. The railway will bring an extra 1.5 million people to within 45 minutes of central London, it will transform accessibility, boost housing and jobs and give better journeys to more than 200 million passengers who are expected to use it every year.'</p>

<p>Mark Wild, Chief Executive, Crossrail Ltd, said:</p>

<p>'Since I joined Crossrail Ltd in November I have been reviewing the work still required to complete the core stations and rail infrastructure and begin the critical safety testing. It is evident that there is a huge amount still to do. Stations are in varying stages of completion and we need time to test the complex railway systems. This means that I cannot at this stage commit to an autumn 2019 opening date. My team and I are working to establish a robust and deliverable schedule in order to give Londoners a credible plan to open the railway and provide a safe and reliable service.</p>

<p>Once that work is completed we will then be in a position to confirm a new opening date.'</p>

<p>Tony Meggs, said:</p>

<p>'It is a privilege to join the Crossrail team. My number one priority will be to work with the Board and Executive team to ensure this project is completed as soon and as safely as possible.</p>

<p>'The UK is renowned for its outstanding engineering and expertise in major projects and I'm confident that we will deliver a world class project that will benefit the country for generations to come.'</p>

<p>The Mayor has written to the National Audit Office (NAO) confirming his full support of its planned investigation into the Crossrail project. The independent KPMG reports into Crossrail Ltd's finances and governance will be made available to the NAO to help it with its conclusions and they will be published once finalised.</p>

<p>When fully open, the Elizabeth line will increase central London's rail capacity by 10 per cent, carrying over half a million passengers per day. It will enable TfL to keep pace with London's growing population, which is set to rise from 8.6 million today to around 10 million by 2030. The new railway is expected to support 180,000 new homes, over 360,000 new jobs and will boost the UK economy by &pound;42 billion. &nbsp;</p>

<hr />
<p>Notes to editors</p>

<ul>
	<li>The anticipated cost of the project was previously estimated at &pound;15.9 billion in 2007 and increased to &pound;17.8 billion in 2009, before the Coalition Government took steps to bring down the costs following the June 2010 Comprehensive Spending Review. The revised costs were budgeted at &pound;14.8bn, comprising &pound;12.5bn for central section and &pound;2.3bn for delivery by Network Rail of the Surface sections (the &quot;On Network Works&quot;).</li>
</ul>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The &pound;12.5bn central section is jointly funded by DfT (&pound;5.4bn) and TfL/GLA (&pound;7.1bn). The &pound;2.3bn for the On Network Works is being financed by Network Rail.</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The new trains and depot cost an additional &pound;1.1bn. This is being funded by TfL.</p>

<ul>
	<li>Crossrail Ltd is responsible for the delivery of the end-to-end railway, including rolling stock, signalling and systems integration, as set out in the Crossrail Delivery Strategy and the Project Delivery Agreement.</li>
	<li>Crossrail Ltd exceeded their portion of the &pound;14.8bn funding envelope earlier this year. In July 2018, DfT confirmed &pound;590m of additional funding was being made available for the project, with &pound;300m to Crossrail Ltd and &pound;290m for Network Rail works. The &pound;300m for Crossrail Ltd was jointly funded between the Government and TfL, with each contributing &pound;150m.</li>
	<li>Both the BRS and MCIL funding streams currently form part of London's proposal to fund 50% of the Crossrail 2 project. The Mayor remains fully committed to the Crossrail 2 project, and once the Government and the Mayor have agreed a route option for Crossrail 2 and there is a known cost for the scheme, further discussions will be needed around the delivery options in advance of the Government's Comprehensive Spending Review in 2019.</li>
	<li>The Mayor and TfL remain committed to modernising London's transport system and details of how any lost revenue will be mitigated will be provided as part of TfL's annual business planning process.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-December-New financing agreement confirmed for Crossrail project  -->

 
 
        
        
            @{ViewBag.Description = "New financing agreement confirmed for Crossrail project ";}
        
        


 