


@{ViewBag.Title = "New Waterloo & City line entrance relieves congestion at Bank station";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New Waterloo & City line entrance relieves congestion at Bank station</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New Waterloo & City line entrance relieves congestion at Bank station</h1>
        <div class="content-page-press-release">
        12 December 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New entrance, built as part of the Bloomberg development, is a major milestone in the Bank capacity upgrade
        
    </div>



 <div class="on-this-page">
<p>The Mayor of London, Sadiq Khan, and Michael R. Bloomberg, Founder, Bloomberg L.P. and Bloomberg Philanthropies and the 108th Mayor of New York City, today visited the new Walbrook entrance to Bank station, which will help relieve congestion for Waterloo &amp; City line customers.</p>

<p>The station entrance was built by Bloomberg for Transport for London as part of the development of the company's European headquarters and fitted out by London Underground. It is the first major milestone in the Bank upgrade programme that will see the station capacity increase by 40 per cent by 2022.</p>

<p>Bank and Monument comprise one of the busiest interchanges on the network, used by 120 million customers a year. Demand has risen by around a quarter since 2008 and its complex network of pedestrian tunnels and escalators between the Central, Northern, District, Circle and Waterloo &amp; City lines, as well as the DLR, regularly causes congestion and delays to customer journeys.</p>

<p>Waterloo &amp; City line customers will now enjoy quicker, easier and more comfortable journeys through the station. The Walbrook entrance, only three minutes' walk from Cannon Street mainline station, provides direct access to the Waterloo &amp; City line and a connection to the existing concourse.</p>

<p><strong>The Mayor of London, Sadiq Khan, said:</strong> `Bank is one of the busiest Tube stations in the capital so this new entrance will make a big difference in easing congestion, particularly during the morning and evening rush hours. Further improvements, including new lifts and escalators, combined with my fares freeze, will help ensure our transport network is accessible and affordable for everyone.'&nbsp;</p>

<p><strong>Michael R. Bloomberg said: `</strong>London is our company's second home and we are committed to doing our part to make it an even better place to live and work. This new station entrance is an investment in London's future and a celebration of its fascinating history.'</p>

<p>The spacious new entrance also incorporates a display of 24 historic glass panels by celebrated glass artist and muralist John Hutton. The panels, which were commissioned in 1960 for the post-war office building on this site, reflect the ancient Roman history of the area, including the discovery of the adjacent Roman Temple of Mithras.</p>

<p><strong>Chris Hayward, Planning &amp; Transportation Chairman at the City of London Corporation, said:</strong> `It is an honour to officially open this new station entrance after working with TfL colleagues to deliver further step-free access for City commuters. Bank junction is the City of London's busiest interchange, both underground and at street level. Therefore it is vital that we serve the needs of businesses such as Bloomberg in this iconic and forever-evolving corner of the City.'</p>

<p>Customers using the new entrance - which opens onto the pedestrianised Walbrook thoroughfare - will pass through a new ticket hall and gate line to use two banks of escalators (or a fixed stair) via an intermediate landing to continue down to the Waterloo &amp; City line platforms. Two lifts also connect customers from the street to the platforms enabling those with heavy luggage and pushchairs to access the platform step-free.</p>

<p><strong>Notes to Editors</strong></p>

<p><strong>Station entrance:</strong></p>

<p>Bank Monument station is a strategic network interchange and the busiest in the City. It is used by 120 million customers a year (2017).</p>

<p>The new entrance complements further works underway at the main Bank station. These works include a new Northern line southbound tunnel and a new station entrance on Cannon Street, step-free access to the Northern and DLR platforms,&nbsp; the installation of 12 new escalators and two moving walkways. The upgrade is targeted for completion in 2022.<br />
&nbsp;<br />
<strong>Site history:</strong></p>

<p>The Walbrook entrance is located on one of the UK's most significant archaeological sites, home to the ancient Temple of Mithras and at the heart of what was Roman London's commercial centre. The Temple of Mithras was uncovered on the site in 1954 and has been restored at London Mithraeum Bloomberg SPACE, a free cultural hub adjacent to the new Walbrook entrance that is home the reconstructed temple, a selection of remarkable Roman artefacts found during recent excavations and a series of rotating contemporary art commissions responding to the site's history. London Mithraeum has welcomed more than 100,000 visitors in its first year.</p>

<p>The entrance is housed within Bloomberg's award-winning European headquarters in the City of London. The building is designed to fit respectfully into the historic City while adding to its character and giving back to the local community. In addition to London Mithraeum Bloomberg SPACE and the new station entrance, the 3.2 acre site encompasses three public plazas, a dining arcade and pedestrian thoroughfare - Bloomberg Arcade - that restores an ancient road back to the City grid, and a major public artwork by Christina Iglesias.</p>

<p><strong>John Hutton and panels:</strong></p>

<p>Born in New Zealand in 1906, John Hutton moved to England in 1936 and began an illustrious career perfecting both the technical and artistic aspects of glass engraving.&nbsp; His works for civic and religious buildings in the United&nbsp; Kingdom and abroad stand as memorable examples of his mastery of glass-engraving techniques. Among his best known works is the soaring glass Screen of Saints and Angels that Hutton created for Coventry Cathedral. Completed in 1962 and depicting 66 larger-than-life figures, this enormous glass wall took the artist ten years to create.</p>

<p>In accordance with planning conditions for the new Bloomberg building, the historic panels were carefully removed and preserved with the intent of finding a new public home for their display. In consultation with the City of London Corporation, Bloomberg gifted them to London Underground to be integrated within the new station entrance on Walbrook.</p>

<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-December-New Waterloo & City line entrance relieves congestion at Bank station -->

 
 
        
        
            @{ViewBag.Description = "New Waterloo & City line entrance relieves congestion at Bank station ";}
        
        


 