


@{ViewBag.Title = "Recognition for TfL and London Transport Museum staff ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Recognition for TfL and London Transport Museum staff </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Recognition for TfL and London Transport Museum staff </h1>
        <div class="content-page-press-release">
        28 December 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Director of London Transport Museum and a Transport for London (TfL) employee have been recognised in the New Year's Honours
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Huge congratulations to Sam and Alan on their awards in the New Year's Honours. All of them are deserving of their recognitions and their efforts have had a positive effect on many people, both within and outside TfL and the London Transport Museum
"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown MVO</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<p>Sam Mullins has been recognised with an OBE for services to the London Transport Museum and Alan Johnson has been recognised with a BEM for services to transport and the community in London.</p>

<p>Sam, who is from Salisbury and now lives in Dalston, was appointed the Director of London Transport Museum (LTM) in 1994 and since then, he has transformed the Museum into the world's premier urban transport museum. Under his leadership, LTM has engaged and delighted millions of visitors as well as reaching out to young people in every London borough through its outreach programmes, encouraging them to travel safely and to pursue careers in the transport and cultural industries. LTM became a charity in 2008 and Sam played a key part in leading the development of an enterprising culture in service of its educational and cultural values. He also opened the Museum Depot at Acton, the UK's first publicly accessible museum storehouse which houses TfL's outstanding and nationally designated heritage collection, from trains, trams and buses to the design archive of signs, maps and posters.</p>

<p>Sam has made a significant contribution to the museum sector as past chairman of the Association of Independent Museums (AIM), editor of the Social History Curators Group, board member and professional development mentor for the Museums Association and trustee of the Royal Logistics Corps Museum. He is currently a trustee of SS Great Britain in Bristol, the Museum Prize Trust and Chair of the Museum Advisory Board of the Canal &amp; River Trust and will later this year become President of the International Association of Transport Museums.</p>

<p>Alan Johnson, from Bexleyheath, is a Programme Manager at TfL, leading a team of project managers with drive, determination and commitment every day, regularly going above and beyond to serve and protect the travelling public. He has been commended for his role and enthusiasm when taking charge of the essential work needed to maintain the A406 Staples Corner Flyover in the summer of 2017. A strategically important part of London's road network, Alan used his passion and skill to manage stakeholders and challenge existing practice, ensuring that innovative methods were used to reduce the impact from disruption in a cost-effective way.</p>

<p>Alan is also recognised for his role in the community, where he has long been involved in the Greater London South East Scouts, arranging activities and fundraising and helping to combat youth crime by supporting several award-winning sports programmes. He has also been a keen advocate for wounded, injured and sick ex-forces personnel and their families, raising thousands of pounds through fundraising.</p>

<p>London's Transport Commissioner, Mike Brown MVO, said:</p>

<p>'Huge congratulations to Sam and Alan on their awards in the New Year's Honours. All of them are deserving of their recognitions and their efforts have had a positive effect on many people, both within and outside TfL and the London Transport Museum.'</p>

<p>Sam Mullins, Director of London Transport Museum, said:</p>

<p>'It's fantastic to be recognised in the New Year's Honours and a privilege to be the Director of London Transport Museum. It is now the world's leading museum of urban transport and brings so much joy and learning to so many people. Museums play a huge part in London's reputation, as the cultural capital of the world, and I want to thank everybody at London Transport Museum for their long-term dedication and creativity in making it such an enjoyable experience for visitors. I look forward to seeing our outreach programmes across the Capital continue to shape tomorrow's citizens and our museum exhibitions and events engage and spark our visitors' curiosity.'</p>

<p>Alan Johnson, Programme Manager at TfL, said:</p>

<p>'I am delighted to receive this honour and am passionate about the work I do to ensure that we keep everybody moving in the capital in the most effective way. Alongside my involvement with the Scouts, youth crime prevention charities and championing wounded, injured and sick ex-forces personnel, it's a privilege to be able to make a difference to people's lives every day.'</p>

<hr />
<p>Notes to editors</p>

<ul>
	<li>Sam Mullins has worked for London Transport Museum for 24 years.</li>
	<li>Alan Johnson has worked for TfL since the organisation was formed, having previously started his career at the Department for Transport.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-December-Recognition for TfL and London Transport Museum staff  -->

 
 
        
        
            @{ViewBag.Description = "New Year’s Honours recognition for Transport for London and London Transport Museum staff ";}
        
        


 