


@{ViewBag.Title = "TfL sets out plan to deliver vital improvements";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL sets out plan to deliver vital improvements</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL sets out plan to deliver vital improvements</h1>
        <div class="content-page-press-release">
        11 December 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Despite an average &pound;700m per year reduction in government funding, the subdued economy and the impact from Crossrail delay, TfL is investing in modernising transport, making London's roads safer and healthier and supporting new homes, jobs and growth
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are pushing ahead with our ambitious plans to make London a cleaner, safer, healthier city with more affordable and accessible public transport"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Major progress as TfL efficiency savings are ahead of target, with the net cost of operations for this financial year on track to be at least 20 per cent better than budget, reducing the current operating deficit by more than &pound;200m</li>
	<li>Continued focus on efficient working, reduced operating costs and drive to increase revenue central to the plan</li>
</ul>

<p>Transport for London (TfL) has today published its updated draft Business Plan, which covers the period from 2018/19 to 2023/24.</p>

<p><br />
The Business Plan, which fully aligns with the Mayor's Transport Strategy, outlines how TfL will continue to invest in the vital transport improvements London needs, despite an average &pound;700m per year reduction in government funding, the subdued economy and the financial impact from the delay to the Crossrail project.&nbsp; It also demonstrates that TfL's budgeted operating deficit of &pound;968m in 2018/19 is forecast to have been reduced by more than &pound;200m by the end of 2018/19 as a result of tight financial management.</p>

<p><br />
TfL is managing a number of financial challenges.&nbsp; A subdued economy across the UK has slowed down ridership across the country and reduced fare revenue. Evidence over several years shows that Londoners are making &#45; on average &#45; slightly fewer trips per day each year. This is paralleled across the UK and in other major cities worldwide. To some extent, this trend had been masked by historic growth in London's population.</p>

<p><br />
TfL continues to reduce operating costs across the organisation and will continue to forge ahead with its work to make the organisation more efficient over the coming five years. TfL has a proven track record of delivering against its savings targets &#45; its over-delivery of savings in 2016/17 meant it reduced year-on-year operating costs by more than &pound;150m further reduced like-for-like costs in 2017/18 and is on track to over-deliver in terms of savings again in 2018/19. Prior to 2016/17, TfL's operating costs had increased every year.</p>

<p><br />
To achieve these savings, more than 30 business areas have been redesigned, creating a leaner, simpler structure, including single Engineering and Major Projects functions. TfL has also cut the number of senior managers by 13 per cent since 2016, with total headcount reduced by 2,700 over the last two years. Further changes will be made to ensure the organisation is delivering as efficiently as possible, cutting back on back and middle office costs by 30 per cent which will see a reduction of job roles in some areas. As always, where any headcount reduction is necessary, TfL will engage in full and meaningful consultation with its employees and trade unions.</p>

<p><br />
Evidence suggests that the benefits of the Mayor's freeze of TfL fares has helped cushion London from the severity of impacts seen elsewhere around the country.&nbsp; Despite a recent upturn in Tube ridership, passenger numbers have been down, particularly on buses. However, a reduction in bus passengers is being seen more generally across the UK, with year ending June 2018 figures from the DfT showing a 1.5 per cent decrease across England.</p>

<p>Latest figures from TfL also show that, against a cautious set of forecasts in its last annual budget, overall fare revenue is up two per cent compared to last year, just above expectations. However since TfL's Business Plan in December 2016, its predicted fares income for the next five years has been re-forecast to be around &pound;2.1bn lower than originally expected, due to the state of the wider economy. This is a reduction of seven per cent.</p>

<p>TfL expects many customers to continue using existing Tube and DLR services until the Elizabeth line opens. Until the new management of Crossrail Ltd have completed their work to deliver a credible and robust delivery schedule for the opening of the line, a cautious planning assumption is being made that revenue will be approximately &pound;600m lower over the full five year plan period. This will be offset by our continuing savings and revenue growth programmes and allocating a small proportion of our business rates funding to operating account.</p>

<p>TfL is also exploring with the DfT the possibility of beginning to operate Reading to Paddington services ahead of the completion of the Elizabeth line. This assumption will be revised once Crossrail Ltd has delivered a robust programme for opening the Elizabeth line.</p>

<p>TfL has also experienced unprecedented cuts to its operational funding from the Government over the last five years, with a reduction in the average &pound;700m per year. Since March 2018, TfL has become one of the only transport authorities in the world not to receive a direct Government operational grant for day-to-day running costs. The recent announcement by Crossrail Ltd that there will be a delay to the opening of the Elizabeth line has also meant that TfL needs to pay for the additional capital investment to fund the completion of the line and also absorb the impact of lost fare revenue.</p>

<p>Yesterday, the Mayor of London and Government agreed a financial package to cover the additional capital investment required to complete the Crossrail project, which will be repaid via London's Business Rate Supplement (BRS) and from the Mayoral Community Infrastructure Levy (MCIL).</p>

<p>TfL's capital investment funding includes business rates allocated to the Mayor and it is maintaining the levels of non-Crossrail capital investment over the next three years, as set out in its Business Plan last year. Changes to business rates allocated to the Mayor could be made as part of the Government's comprehensive spending review planned during 2019 and, therefore, there is no certainty of Government capital funding beyond this point. While TfL is planning to follow the introduction of new trains on the Piccadilly line with new signalling, and then to upgrade the rest of the deep Tube lines, such large-scale investment will not be possible without capital funding from the Government. This is also true for major station projects, including the work to transform Camden Town station.</p>

<p>Ahead of next year's Comprehensive Spending Review, TfL will be making the case for long-term steady and sustained investment to ensure critical infrastructure projects can continue and London's transport network can support the demands of all those who live and work in, or visit, the city. The Mayor has also renewed his call on the Government to quickly accept that London gets its fair share of the National Infrastructure Commission's recommended spend on infrastructure of 1.2 per cent of total gross domestic product, which would provide long-term funding to step-up the modernisation of its public transport network.</p>

<p>The absence of adequate central Government funding for London's road network has meant that, since April, TfL has had to pause non safety-critical renewal work. In addition, the timing of some transport schemes will need to be confirmed once the level of capital investment available is known and a prudent view has to be taken in the interim.</p>

<p>Over the next five years TfL's Business Plan will manage these risks, while continuing to protect vital transport investment through continued efficiency savings, which have exceeded more than &pound;500 million in 2017/18. In TfL's Business Plans prior to December 2016, there were no plans to turn its operating deficit into a surplus. Since then, thanks to TfL's efficiency plans under the current Mayoralty, TfL has been reducing operating costs while absorbing the loss of direct Government operating grant with a plan to achieve a net operating surplus for the first time. However, because of the delay to the opening of the Elizabeth line and the continued reduction in bus passenger numbers, TfL is now forecasting to achieve a surplus on its net cost of operations in 2022/23, one year later than planned.</p>

<p>TfL will continue to invest significantly in making London a cleaner, safer and healthier place by reducing reliance on the car, tackling air pollution and supporting changes to travel in London so that 80 per cent of journeys are made by public transport, cycling or walking, and deaths or serious injuries on the transport network will be eliminated by 2041. Projects to modernise the transport network, ease crowding and to make travelling easier and more accessible for all Londoners, are being protected wherever possible.</p>

<p>Across the five year plan, TfL will invest in vital improvements including:</p>

<ul>
	<li>Completion of the signalling upgrade on the Circle, District, Hammersmith &amp; City and Metropolitan lines, which will add 33 per cent capacity across the four lines by the end of 2023.&nbsp; This will increase the service to 32 trains per hour through the central London sections, meaning customers will wait less than two minutes for a train during peak times. TfL will also begin the modernisation of the deep Tube lines, beginning with the introduction of new longer, more spacious and comfortable walkthrough trains on the Piccadilly line from 2024.</li>
	<li>Continuing to progress major station upgrades to the Tube network, such as at Elephant &amp; Castle and Holborn stations, completing work at Bank station, as well as opening the Northern Line extension to Battersea, which will support 25,000 jobs and 20,000 new homes.</li>
	<li>Making more stations fully accessible across London, including Finsbury Park, Hanger Lane and Wimbledon Park - meaning that more than a third of the Tube network will be step-free by 2020. TfL has also recommended 21 London Overground and National Rail stations across London to receive Access for All funding from Government to improve connectivity for customers with accessibility needs.</li>
	<li>Investing &pound;2.3bn on transformative projects to make London's streets safer, better places for everyone. Junctions like Old Street, Vauxhall Gyratory and Highbury Corner will be made safer for all road users and new Liveable Neighbourhoods will be created in local areas across outer London, helping cut polluting car use and encouraging walking and cycling. New high-quality cycle routes in Greenwich, Hackney and Hounslow will also be accelerated to connect communities and help Londoners to live active, healthier lives.</li>
	<li>Sustained investment for key transport improvements across London's boroughs to help them deliver the Mayor's Transport Strategy, including actions to reduce traffic, boost safety and increase active travel in their local areas.</li>
	<li>Continuing to make vital radical air quality and environmental improvements across London, including the implementation of the Ultra Low Emission Zone from April 2019 and making the entire bus fleet Euro VI compliant by September 2020. From October 2020, the Low Emission Zone, which covers the whole of London, will also be strengthened to Euro VI &#45; meaning that all buses, coaches and lorries across the capital will need to meet this standard to avoid paying the daily charge. In October 2021 the Ultra Low Emission Zone will be extended to the North and South Circular roads for all vehicles.&nbsp; By the end of 2019 TfL will introduce a further five Low Emission Bus Zones, bringing the total number to 12 and cleaning up the air in high streets across the capital.&nbsp; Through these and other far-reaching measures TfL will continue to play a key role in cleaning up London's toxic air and addressing the public health crisis that it has caused.</li>
	<li>Introducing fleets of new trains on the London Overground and Docklands Light Railway (DLR), which will increase capacity and support jobs, homes and economic growth across swathes of London. From next year, construction will also begin on building an extension of the London Overground to Barking Riverside, which will support 10,800 new homes being created on one of Europe's largest brownfield sites.</li>
	<li>Continuing to develop plans to build Crossrail 2 and extend the Bakerloo line, the DLR and tram networks in the next 20 years, which will support the creation of thousands of new homes and jobs across London and the south east.</li>
	<li>Bringing into service the Elizabeth line, which will transform journeys across London and out to Reading and Shenfield, with quicker and easier journeys and mark a step-change in accessibility with 41 step-free stations.</li>
	<li>Unlocking land for the development of new homes and actively making smarter use of TfL assets - including improved retail units and innovative digital advertising - to generate greater long-term revenue.</li>
</ul>

<p>In addition, through its commercial development arm, TfL will look to grow long-term sustainable income through increasing revenue from advertising, property, telecoms and international consultancy. As one of the capital's largest landowners, by April 2019, partners will be in place for work to start on 10,000 new homes by March 2021, around 50 per cent of which will be affordable housing. This revenue will be reinvested back to support the modernisation of the transport network.</p>

<p>The Mayor of London, Sadiq Khan, said:</p>

<p>'We are pushing ahead with our ambitious plans to make London a cleaner, safer, healthier city with more affordable and accessible public transport. This is despite an average reduction of &pound;700M per year in TfL's funding from Government, and the financial challenges of uncertainty in the economy and the delay to the Crossrail project.</p>

<p>'Through our work to make TfL more efficient, including reducing its costs by &pound;500m per year, we are continuing to transform the Tube network and taking radical action to clean up our toxic air. I'm proud that TfL fares will be frozen once again from next January, continuing to make transport more affordable for millions of Londoners.'</p>

<p>Mike Brown MVO, London's Transport Commissioner, said:</p>

<p>'Safe, efficient and affordable transport is central to the future economic and social development of London and the country as a whole. Delivering the Mayor's ambitious Transport Strategy will help create new homes and jobs.</p>

<p>'This first year without a direct Government grant for the day-to-day operating costs of running transport services has coincided with tough external economic conditions that has meant lower overall passenger numbers than previously forecast. That financial pressure has been compounded by the extremely disappointing news about the delay to the opening of the Elizabeth line.&nbsp; A new Crossrail Ltd management team under Mark Wild's leadership is now working to establish a robust, deliverable schedule before committing to an opening date.&nbsp; We will, of course, be working closely with Mark and his team to bring this transformational addition to London's transport network into passenger service as soon as possible.</p>

<p>'To manage these significant challenges, we have accelerated our cost reduction programme to over deliver against budget and continued to develop other commercial revenue streams through our property and other assets. This has been successful in reducing our operating deficit as we work towards creating a surplus over the next five years. This will remain an intense area of focus over this next period.&nbsp; We will also be making the case to Government for continued steady and sustained capital investment to make the improvements London needs to remain an attractive place in which to live and invest.'</p>

<p>TfL's Business Plan will be considered by its Finance Committee and can be viewed here <a href="http://content.tfl.gov.uk/fc-20181213-item07-tfl-business-plan-approval.pdf">http://content.tfl.gov.uk/fc-20181213-item07-tfl-business-plan-approval.pdf</a></p>

<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-December-TfL sets out plan to deliver vital improvements -->

 
 
        
        
            @{ViewBag.Description = "TfL sets out plan to deliver vital improvements";}
        
        


 