


@{ViewBag.Title = "TfL marks the 150th anniversary of the traffic light";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL marks the 150th anniversary of the traffic light</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL marks the 150th anniversary of the traffic light</h1>
        <div class="content-page-press-release">
        10 December 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than 6,000 traffic lights in London, with TfL working towards saving 15,000 hours for people each day by retiming signals
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'm really pleased that we are working with Living Streets and other community groups to identify the crossings where improvements are needed most &#45;  making it easier, safer and more enjoyable to get around by bike or on foot



 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>This week marks 150 years since the world's first traffic light was installed, located outside the Houses of Parliament</li>
</ul>

<p>Transport for London (TfL) is marking the 150th anniversary of the world's first traffic light this week, highlighting the huge improvements that effective signalling has brought for the millions of people using the roads each day and announcing the next generation of traffic light improvements.</p>

<p>The world's first traffic light was installed outside the Houses of Parliament in 1868 to counteract the high numbers of people being killed on the roads. Despite there being no cars at that time, more than 1,000 people were dying on London's roads every year.</p>

<p>Towering six metres (20 feet) above the carriageway, the first traffic light resembled a railway signal with waving arms to indicate stop. It included the familiar red and green lights, but not amber, was powered by gas and required police constables to change the light manually using switches. The huge signal was removed after a month, when a policeman was seriously injured in a gas explosion and traffic lights did not return to the capital until 1926.</p>

<p>Since then they have become an absolutely vital part of the transport network, with TfL responsible for 6000 traffic signals in London, which are optimised to help traffic flow as smoothly and safely as possible, whilst balancing the needs of all road users. The extensive SCOOT-controlled system uses sensors to detect traffic and adjust the signal timings to manage queues, tackle congestion and give buses priority if they are running late. This alone keeps traffic delays 13 per cent lower than they would be otherwise.</p>

<p>In the latest improvements to the traffic light system, TfL is working to save 15,000 hours every day for people walking, cycling and taking the bus by reducing wait times and giving them more opportunities to cross London's roads. This world-leading work includes reducing pedestrian wait times at crossings where people are moving along the roads most &#45; close to schools, shopping centres and transport hubs.</p>

<p>Reducing wait times in this way will also help reduce road collisions as part of the Mayor and TfL's 'Vision Zero' work to eradicate death and serious injury from the roads. Around 85 per cent of pedestrians cross within 30 seconds of arriving at a crossing, so reducing pedestrian wait times where possible encourages people to wait for the green man, which is the safe invitation to cross.</p>

<p>At busy locations, like Marylebone Road, where the crossings are split into two, TfL is improving the link between the timings to avoid pedestrians having to wait in the middle island. The improvements that TfL has made to traffic signals this year means it already takes two minutes less to cross York Road in Wandsworth, a minute less to cross parts of Oxford Street and fifty seconds less to cross the High Road in North Finchley.</p>

<p>Will Norman, London's Walking and Cycling Commissioner, said:</p>

<p>'London's innovation led the world 150 years ago and we're continuing to do so, by developing new signal technology to reduce road danger. I'm really pleased that we are working with Living Streets and other community groups to identify the crossings where improvements are needed most &#45;&nbsp; making it easier, safer and more enjoyable to get around by bike or on foot.'</p>

<p>Glynn Barton, Director of Network Management at TfL, said:</p>

<p>'Traffic lights have played a big role on London's streets for 150 years and we're pleased that we can extend the benefits to people walking and cycling. Our world-leading retiming work has already saved 13,000 hours of journey time every day for people using sustainable travel since we began in April and we expect to save thousands more in the coming months. This work involves balancing the needs of all road users, including people walking and cycling.'</p>

<p>TfL recently worked with Living Streets to review 12 crossings in London, saving people crossing an average 29 seconds each time. Following the retiming work, volunteers from Living Streets spoke to nearly 4,000 people crossing and found that most people had noticed the change and gave positive feedback. Quotes from people walking included &quot;lights have changed in favour of pedestrians&quot;, &quot;can now cross in one go without waiting&quot; and &quot;change means not waiting for ages with three children. Speeding it up is safer.&quot;</p>

<p>Richard Lambert, London Manager at Living Streets, said:</p>

<p>'More time to cross at light-controlled crossings and shorter waiting times can help people walking feel safer on our streets and not like they come second best to traffic.<br />
'It's hard to know which places need better crossings, that's why it's important to engage with local residents to identify issues. By working with our local volunteers, TfL is able to identify and correct issues which will enable and encourage people to walk more.'</p>

<p>In line with the Mayor's Transport Strategy and the Healthy Streets Approach, TfL reviews 1,200 traffic lights across London each year. The Healthy Streets Approach aims to make London greener, healthier and better for people working, playing, walking, cycling and doing business. The Mayor and TfL published their Walking Action Plan earlier this year, which outlines how London will become the world's most walkable city. This includes green man authority, a signalling technique that gives pedestrians priority over vehicles.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-December-TfL marks the 150th anniversary of the traffic light -->

 
 
        
        
            @{ViewBag.Description = "TfL marks the 150th anniversary of the traffic light";}
        
        


 