
    
  



@{ViewBag.Title = "Driving at safe speeds";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/travel-information/safety/road-safety-advice/driving-at-safe-speeds";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/safety/index">Safety</a></li>
                
            
                 <li><a href="/travel-information/safety/road-safety-advice">Road safety advice</a></li>
                
            
            
                <li><span class="last-breadcrumb">Driving at safe speeds</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Driving at safe speeds</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Every day, two people are killed or seriously injured on London's streets by vehicles travelling at inappropriate speeds. Whether you're pulling away too quickly, accelerating too hard or not giving yourself enough time to brake, the higher the speed, the higher the risk.
        
      </div>
    
    
      <h2>What is inappropriate speed?</h2>
<p>Inappropriate speed is a term used to describe a speed that either exceeds the limit or that is inappropriate for the conditions of the road, such as slippery road surfaces, poor visibility or high numbers of people walking or cycling.</p>
      
           
      

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/rdr-shopping-square-gallery.jpg" alt="'Risk Up!' advertising campaign: Shopping" />
                <figcaption>
<span class="figure-title">'Risk Up!' advertising campaign: Shopping</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/rdr-bike-gallery.jpg" alt="'Risk Up!' advertising campaign: Bike" />
                <figcaption>
<span class="figure-title">'Risk Up!' advertising campaign: Bike</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/rdr-pram-gallery.jpg" alt="'Risk Up!' advertising campaign: Pram" />
                <figcaption>
<span class="figure-title">'Risk Up!' advertising campaign: Pram</span>

                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 <div>

<h2>The dangers of inappropriate speed</h2>
<p>In London, inappropriate speed is a factor in up to 37% of collisions resulting in death or serious injury. This is the case for all road users, regardless of how they are travelling.</p>
<p>The speed people drive or ride is the single most important factor which influences how likely a collision is to happen and how severe the outcome will be.</p>
<p>The impact of a collision increases dramatically as vehicle speed increases. If someone who is walking is hit by a vehicle at 20mph, they are four times less likely to be killed than if they were hit at 30mph.</p>
</div>
 <div>

<p>Inappropriate speed also magnifies other driver errors, such as driving too close or driving when tired or distracted, multiplying the chances of causing a collision.</p>

<h2>Driving at appropriate speeds</h2>

<p>The Highway Code states that driving at speeds too fast for the road and traffic conditions is dangerous. It is often not appropriate or safe to drive at the maximum speed limit and drivers should be prepared for unexpected or difficult situations.</p>

<p>The Highway Code recommends reducing speed when:</p>

<ul>
	<li>Sharing the road with other road users such as pedestrians, cyclists or motorcyclists</li>
	<li>Driving near schools where there may be young cyclists and a risk of children stepping into the road unexpectedly</li>
	<li>The road layout or condition presents hazards, such as bends</li>
	<li>Weather conditions make it safer to do so</li>
	<li>Driving at night as it is more difficult to judge speed and see other road users</li>
	<li>Driving in built up areas where there are traffic lights, potential road works or pedestrian crossings</li>
</ul>

<p>The code also highlights other factors that increase the likelihood of speeding and speed-related collisions such as being in a hurry or driving too close to the car in front. It recommends allowing plenty of time for your journey and ensuring a stopping distance of 23 metres from the car in front when travelling at 30mph.</p>

<h2>Vision Zero for London</h2>

<p>Transport for London is committed to reducing road danger, by working in partnership with the police, London boroughs and stakeholders to achieve the Vision Zero ambition of creating a road network free from death and serious injury by 2041.</p>

<p>This includes the widespread introduction of new lower speed limits, investing in safer junctions, removing the most dangerous Heavy Goods Vehicles from London's roads and supporting boroughs to transform their roads with funding such as Transport for London's multi-million pound Liveable Neighbourhoods scheme. <a href="/corporate/safety-and-security/road-safety/vision-zero-for-london">Read more information on Vision Zero.</a></p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
                <a href="/travel-information/safety/index" class="heading">
                    <h2 id="sub-menu-heading">Safety<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/safety/staying-safe">Staying safe</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/safety/report-a-crime-or-incident">Report a crime or incident</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/travel-information/safety/road-safety-advice">Road safety advice</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/travel-information/safety/road-safety-advice/motorcycling-in-london">Motorcycling in London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/safety/road-safety-advice/driving-and-cycling-safety">Driving & cycling safety</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/travel-information/safety/road-safety-advice/driving-at-safe-speeds">Driving at safe speeds</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/safety" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/safety" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://www.rospa.com/rospaweb/docs/advice-services/road-safety/drivers/inappropriate-speed.pdf" class="plain-button">RoSPA's Inappropriate Speed Factsheet</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "TfL explain inappropriate speeds and make the case for safer speeds";}
        
            
        


 