
    
  



@{ViewBag.Title = "Driving & cycling safety";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/travel-information/safety/road-safety-advice/driving-and-cycling-safety";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/safety/index">Safety</a></li>
                
            
                 <li><a href="/travel-information/safety/road-safety-advice">Road safety advice</a></li>
                
            
            
                <li><span class="last-breadcrumb">Driving & cycling safety</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Driving & cycling safety</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    <div class="on-this-page">
      
      
           
      <div>

<h2 style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:2pt"><span style="line-height:107%"><span>Electric scooters and powered transporters</span></span></h2>

<p>It is illegal to use electric scooters (e-scooters) and powered transporters on public roads and pavements in London. This includes cycle routes and pedestrian-only areas.</p>

<p>The Department for Transport decides which vehicles are legal to use, and it is currently illegal to use electric scooters and other powered transporters in most public spaces.</p>

<p>Specifically, the law says that:</p>

<ul>
	<li>On roads, anyone that uses an electric scooter or other powered transporter is committing the offence of driving a motor vehicle with no insurance. You could be liable for a fixed penalty of &pound;300 and six points on your driving licence</li>
	<li>On pavements, it is an offence to drive a motor vehicle, and this applies to electric scooters and powered transporters. There are also separate laws that forbid them from footpaths and cycle routes</li>
	<li>Electric scooters and powered transporters can be used on private land. However you must have permission from the landowner or occupier</li>
</ul>

<p>Some of these laws do not apply to mobility scooters or e-bikes (electrically-assisted pedal cycles), which are not treated as motor vehicles.</p>

<p><a href="https://www.gov.uk/government/publications/powered-transporters">The law on powered transporters on the Department for Transport website.</a></p>

<h2>Advice for drivers</h2>

<p>Remember to:</p>

<ul>
	<li><strong>Leave room for cyclists at traffic lights</strong>. Drivers shouldn't enter the advanced stop line box when the light is red. This space is reserved for the safety of cyclists and you maybe liable for a &pound;100 fixed penalty and three points on your licence</li>
	<li><strong>Give cyclists room</strong>. Keep a safe distance from cyclists and don't attempt to overtake when there is not enough space. Give as much space as you might for another car. Cyclists might use the middle of the lane if they feel it's too narrow for cars to overtake, so hang back if you can't pass safely.</li>
	<li><strong>Look when you leave the car or lorry</strong>. Make sure you check to see if there is anything coming before opening your car door or before turning left or right - they might be filtering through slow moving or stationary traffic</li>
	<li><strong>Be careful at junctions</strong>. Be aware of cyclists when approaching junctions. Some junctions have advanced stop lines to allow cycles to be safely positioned ahead of other traffic. Keep this space free for cyclists. Motorists could be fined &pound;100 and receive three points on their licence for crossing the advanced stop line on a red light</li>
	<li><strong>Driving in&nbsp;tunnels</strong>. Don't overtake or change lanes unless directed to do so by a road sign. Don't stop in the tunnel unless instructed to do so or in an emergency. If you break down, get to the walkway and use the emergency phone. Don't attempt to change a wheel or push your vehicle - wait for assistance</li>
</ul>

<h2>Using a mobile device while driving</h2>

<p>It has been illegal to use a handheld mobile phone or electronic device while driving, or while stopped with the engine on, since 2003.</p>

<p>The law says:</p>

<ul>
	<li>It's illegal to use a <strong>handheld</strong> mobile phone or electronic device when driving. This includes using your device to follow a map, read a text or check social media. This applies even if you're stopped at traffic lights or queuing in traffic</li>
	<li>You can only use a handheld phone if you are safely parked with the engine switched off or need to call 999 or 112 in an emergency, and it's unsafe or impractical to stop</li>
	<li>Using <strong>hands-free</strong> (where the phone is in a cradle or you are using earphones or a Bluetooth connection) is not illegal. However, if this distracts you and affects your ability to drive safely, you can still be prosecuted by the police</li>
	<li>It is illegal to use handheld microphones or to hold your phone out on loudspeaker</li>
</ul>

<p>The use of apps, for example for navigation, on a cradle-mounted phone is lawful if done with common sense and good judgement. The government offers further guidance on <a href="http://think.direct.gov.uk/mobile-phones.html">this web page</a>.</p>

<p>Between 6 April 2016 and 27 February 2017 there were 9,560 mobile phone offences in London, while in 2015, 2 people were killed and 5 seriously injured in collisions where a mobile phone was a contributory factor.</p>

<p>Since 1 March 2017, the penalties for the use of handheld mobile devices while driving have increased to six penalty points on your licence and a &pound;200 fine. Having points on your licence could increase the cost of your insurance and you can be banned from driving if you get 12 points in three years. If you get 6 points in the first two years after passing your test, you will lose your licence.</p>

<h2>Mounting your device</h2>

<p>Many drivers use their phones hands-free as navigation devices. It's important to understand the rules about where they can be safely mounted.</p>

<p>You shouldn't put or fix anything on your windscreen that will obscure your view of the road ahead.</p>
</div>
 <div class="clearfix">
    <div class="image-box light-box left-float">
    
        
        
        <a href="/cdn/static/cms/images/swept-area.jpg" class="modal-launch" target="_blank">
             <img src="/cdn/static/cms/images/swept-area3_rdax_400x250.jpg" alt="Windscreen swept area" />
             
        </a>
        
        
    </div>
    <p>If you place a cradled device on the area on your windscreen that is covered by your wipers (also known as the 'swept area'), you are committing an offence. At present, if you're prosecuted, you face a fine of up to &pound;100 and three points on your licence.</p>

<p>Driving conditions can change rapidly, and hazards such as pedestrians suddenly stepping in front of you mean you need to have a clear view of the road. Having a cluttered windscreen increases your likelihood of becoming distracted or not spotting potential dangers.</p>

<p>In Great Britain, if you use a suction-mounted cradle that intrudes more than 4cm into the secondary (blue) wiper clearance zone, or more than 1cm into the primary (red) zone, you are committing a serious traffic offence (Road Traffic Act 1988). Your vehicle would not be considered roadworthy and would fail an MOT.</p>

<h2>Cycling safety tips</h2>

<ul>
	<li><strong>Stop at red lights</strong>. Don't ride through red traffic lights. You may be fined &pound;50</li>
	<li><strong>Stay central on narrow roads</strong>. Try to ride away from the gutter. If the road is too narrow for vehicles to pass you safely, it might be safer to ride towards the middle of the lane to prevent dangerous overtaking by other vehicles</li>
	<li><strong>Stay away from parked cars</strong>. Ideally, keep a door's width away in case the door opens suddenly. Also, try to ride in a straight line past parked cars rather than dodging between them</li>
	<li><strong>Stay back from HGVs</strong>. Lorries and other large vehicles might not be able to see you clearly, so stay well back behind them</li>
	<li><strong>Always pay attention</strong>. Stay focused on what's going on around you so you can see what other road users might do</li>
	<li><strong>Make eye contact</strong>. Try to make eye contact with drivers so you're sure that they have seen you</li>
	<li><strong>Don't pavement cycle</strong>. Don't cycle on the pavement or up a one-way street (unless clearly marked for cyclists)</li>
	<li><strong>Wear bright clothes</strong>. Stay safe by wearing bright clothes during the day and reflective clothing/accessories at night</li>
	<li><strong>Night lights</strong>. Use lights after dark - white at the front and red at the rear. You may be fined &pound;50 if you don't have them</li>
	<li><strong>Signal</strong>. Use appropriate hand signals to indicate that you're turning left or right</li>
	<li><strong>No phones or devices</strong>. Don't use a mobile phone or earphones</li>
	<li><strong>Helmet</strong>. Consider wearing a helmet</li>
	<li><strong>Protect your bike</strong>. Follow these tips to keep your bike secure.</li>
	<li><strong>Cycle training</strong>. <a href="/modes/cycling/cycle-skills">Find out more about&nbsp;free or subsidised cycle training, including commuter skills,&nbsp;offered to&nbsp;adults and children in most London boroughs</a></li>
</ul>

<h2>Cycling near trams</h2>

<p>If you cycle in Croydon you share the road with trams or cross tram tracks. It's safe but keep these tips in mind:</p>

<ul>
	<li>Trams are quiet so you may not hear them until they're very close</li>
	<li>Trams are wider than the tracks they run on, so give them room</li>
	<li>Take extra care when cycling close to, or crossing the tracks, especially if the rails are wet as they can be slippery</li>
	<li>Cross the tracks at a right angle where you can so your wheel doesn't go into the gap</li>
	<li>Keep a sensible distance between you and the tram so you've got time to stop</li>
	<li>Don't try to overtake a tram</li>
</ul>

<h2>Buying bike lights</h2>

<p>If you're going to ride in the dark, you'll need a light that shows you where you're going, and to make you visible to other road users. Before you buy one, you should consider:</p>

<ul>
	<li><strong>Where, and how fast, do you ride? </strong>The faster you ride, the more powerful your light will need to be, although roads lit by street lamps will require lights with less power than unlit roads. Lights of around 800 lumens are generally considered appropriate for road riding at night. However, clever lens and reflector designs in some models make it possible to light the road more effectively with less power.</li>
	<li><strong>Battery life. </strong>Pay close attention to the burn times of the lights you are looking to buy, and think about the lengths of rides you are likely to be undertaking. To be safe, add on extra time for unexpected delays like punctures or getting lost.</li>
	<li><strong>Beam pattern. </strong>Your front light should light the road ahead and the verges to the sides, but not blind oncoming traffic.</li>
	<li><strong>Mounting. </strong>Think about where you are going to position your light on your bike, and check that you have enough space to mount it without obstruction.</li>
</ul>

<h2>Pedicab safety</h2>

<p>Pedicabs, or cycle rickshaws, are not regulated by us and can cause disruption to other road users.</p>

<p>Pedicabs may be a common sight in London's West End, but their riders do not need to be licensed, have insurance or be checked by the Criminal Records Bureau.</p>

<p>If taking a pedicab, the <a href="http://www.lpoa.org.uk/">London Pedicab Operators Association</a> recommend that you agree a fare before setting off.</p>

<p>They also encourage that you check the rider and pedicab have identification.</p>
 </div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
                <a href="/travel-information/safety/index" class="heading">
                    <h2 id="sub-menu-heading">Safety<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/safety/staying-safe">Staying safe</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/safety/report-a-crime-or-incident">Report a crime or incident</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/travel-information/safety/road-safety-advice">Road safety advice</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/travel-information/safety/road-safety-advice/motorcycling-in-london">Motorcycling in London</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/travel-information/safety/road-safety-advice/driving-and-cycling-safety">Driving & cycling safety</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/travel-information/safety/road-safety-advice/driving-at-safe-speeds">Driving at safe speeds</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/safety" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/safety" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.bhs.org.uk/safety-and-accidents/dead-slow" class="plain-button">Driving near horses</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Road safety advice for cyclists";}
        
            
        


 