


@{ViewBag.Title = "150 million year old stone for new Green Park Tube station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>150 million year old stone for new Green Park Tube station</h1>
        <div class="content-page-press-release">
        05 October 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new permanent art work for the Tube by artist John Maine RA can now be enjoyed by customers at Green Park Tube station.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"John has been involved in the look and feel of [Green Park] station from the beginning of design, with everything down to the curve of the walls and the mouldings of the balustrades being part of his concept."</div>
        <div class="quote-footer">
            <div class="quotee-name">Tamsin Dillon</div>
            <div class="quotee-job-title">Head of Art on the Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            John has been involved in the look and feel of [Green Park] station from the beginning of design, with everything down to the curve of the walls and the mouldings of the balustrades being part of his concept.
                            
                        </p>
                    </div>
                
            
            
            <p>Working with 150 million year old Portland stone, Maine, who was commissioned by Art on the Underground, has created an intricate, fossil clad surface for the station's new Green Park side buildings, as well as fossil inspired spiral designs in the paving for the street level access to the Tube.</p>
<p>The artwork is an integral part of the station upgrade, which already includes: three new lifts which have boosted accessibility to the Victoria, Jubilee and Piccadilly lines well ahead of the London 2012 Olympic and Paralympic Games; a new attractive ramped entrance with views of the park; a new canopy and staircase on the south side of Piccadilly that opens from ticket hall to street level. </p>
<p>The upgrade is being completed in time for the 2012 Games. </p>
<p>Maine has been working on the Isle of Portland in Dorset for twenty years, fascinated by the natural stratification of its stone.&nbsp;</p>
<p>Often seen as a neutral cladding for London buildings, here the limestone is given centre stage, with attention being drawn to its distinctive characteristic - a stone that carries so much history within it, acting as a repository for ancient life forms.&nbsp;&nbsp; </p>
<p>The cladding has been applied in bands with a 300mm band of stone where the natural hollows left by sea creatures remain exposed, and a 900mm, eye-level band in which the artist has carved enlarged versions of the typical fossilized shapes.&nbsp;</p>
<p>The last pieces of granite from a now extinct quarry in Scotland and mouldings and cornicing made from different gradients of Portland stone complete the work.</p>
<p>'I wanted to bring the station surface to life with these remarkable, preserved life forms', said Maine.&nbsp;'It is as though I am transforming the inanimate buildings into an outcrop of nature.'</p>
<p>Located next to the natural setting of Green Park, Maine's work draws attention to the interface of road and park.&nbsp;</p>
<p>The artist is known for his works that set sculpture in the context of landscape and architecture. </p>
<p>Most recently he was part of the interdisciplinary team that oversaw the restoration of the thirteenth-century Cosmati pavement in Westminster Abbey. </p>
<p>An exhibition of his work will run at Royal Academy of Arts as part of their Artists' Laboratory series, from 9 November to 18 December 2011.</p>
<p>Tamsin Dillon, Head of Art on the Underground, said: 'It has been very exciting working with Royal Academician John Maine on the creation of a new permanent work for Art on the Underground.&nbsp; </p>
<p>'John has been involved in the look and feel of the station from the beginning of design, with everything down to the curve of the walls and the mouldings of the balustrades being part of his concept.</p>
<p>'This truly collaborative effort with LU, Tube Lines and the architects Capita Architecture and Feilden + Mawson has been a great team experience.'</p>
<p>Green Park is also an interchange for travellers heading to Heathrow airport and other key transport hubs such as St.Pancras International rail station, meaning the John Maine's artwork will be viewed by both international visitors to the capital and commuters. </p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Art on the Underground is London Underground's art programme, producing high calibre artworks throughout the network, enhancing the millions of journeys made every day. It aims to promote a greater understanding of the Tube as a cultural and social environment through the creative commissioning of artworks. With between three and a half to four million passengers using the network per day, Art on the Underground projects are exposed to one of the largest and most diverse audiences in Europe.&nbsp;For more information about Art on the Underground, please visit <a href="http://www.tfl.gov.uk/art">tfl.gov.uk/art</a> </li>
<li>John Maine (b.1942) studied at the West of England College of Art from 1960 to 1964 before moving to London to attend the Royal College of Art for a further three years until 1967. After graduating, he became the first fellow at Gloucestershire College of Art, a two-year appointment. He then set up a sculpture studio in Shoreditch, London. He was awarded the first fellowship at the Yorkshire Sculpture Park, where he developed these ideas over two years from 1979 to 1980. He has been a Commissioner at the Cathedrals Fabric Commission for England since 1996. He is a member of the Westminster Abbey Fabric Commission and the Fabric Advisory Committee of St. George's Windsor. Maine showed solo at the Serpentine Gallery (1972) and group exhibitions include: 'The Condition of Sculpture', Hayward Gallery, London (1975); 'A Silver Jubilee Exhibition of Contemporary British Sculpture', Battersea Park, London (1977); 'From Art to Archaeology', South Bank Centre, London (1991).&nbsp;In 1983 he worked in situ to carve 'Arena' outside the National Theatre, London and recently Maine completed a 10m high granite monument to commemorate the completion of the Ryugasaki New Town Development in Iberaki, Japan and an 8m high granite sculpture at the Royal Bank of Scotland in Edinburgh</li>
<li>This autumn the Royal Academy of Arts will present Artists' Laboratory 04, After Cosmati, an environmental sculpture installation by John Maine RA. Maine is best known for making large outdoor sculpture in stone which relates to the surrounding landscape. Maine's work utilises simple forms such as rings, columns and cones. Physical weight and texture also characterise his work which encourages contemplation and a celebration of the elements. His extensive travels have informed his sculpture and he has created monumental installations over the world. Maine's piece will highlight his current interest with bringing the outside into an interior space and creating a greater space within it. The exhibition is open to the public from Wednesday 9 November - Sunday 18 December 2011, 10 am - 6 pm daily, Fridays until 10 pm. Complimentary entry with a valid Royal Academy exhibition ticket. &pound;3 without an exhibition ticket</li>
<li>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. By the end of the current programme there will be 30 per cent&nbsp;more capacity. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk/check">www.tfl.gov.uk/check</a> </li>
<li>Images available on request</li>
<li>Tube Lines is continuing the work at the station and surrounding area and will complete it in Spring 2012. Tube Lines is a fully owned subsidiary of Transport for London</li>
<li>Capita Symonds were the lead designers for Green Park station. Architects Feilden + Mawson were responsible for the planning and conservation within Green Park. Tube Lines then carried out the detailed design</li>
<li>Passengers with restricted mobility, as well as people with heavy luggage or buggies, are now able to use the new lifts at Green Park Tube station to access the Piccadilly, Victoria and Jubilee line platforms. Other work includes new flooring, ceiling, lighting, tiling and signage in the ticket hall plus new entrances and lift lobbies<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Working with 150 million year old Portland stone, Maine, who was commissioned by Art on the Underground, has created an intricate, fossil clad surface for the station's new Green Park side buildings, as well as fossil inspired spiral designs in the paving";}
        
        


 