


@{ViewBag.Title = "250 London schools take part in London 2012 Olympic and Paralympic torch walking relay";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>250 London schools take part in London 2012 Olympic and Paralympic torch walking relay</h1>
        <div class="content-page-press-release">
        03 October 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A total of 30,000 primary school children from 250 schools across every London borough will take part.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We hope that by instilling the Olympic and Paralympic spirit in this mass walking relay, many schoolchildren will be inspired to get active in the build up to the Games."</div>
        <div class="quote-footer">
            <div class="quotee-name">Ben Plowden</div>
            <div class="quotee-job-title">Director of Better Routes & Places at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We hope that by instilling the Olympic and Paralympic spirit in this mass walking relay, many schoolchildren will be inspired to get active in the build up to the Games.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>1948 London and 1956 Melbourne Olympic Torches will be carried through every London borough over the next four weeks </li>
<li>Mark Hunter MBE and Victoria Ohuruogu will also take part</li></ul>
<p>Primary school children in Newham today launched a month-long walking relay to carry the 1948 London and 1956 Melbourne Olympic Torches through every London borough in the lead up to the London 2012 Games.</p>
<p>Over the next four weeks around 30,000 children as well as Olympic Gold Medallist and double World Champion rower Mark Hunter MBE and Victoria Ohuruogu, GB youth athlete from Havering, will take part in the walking event.&nbsp; </p>
<h2>Part of their lifestyle</h2>
<p>The event is part of a month of 2012 Games-themed walking activity and forms this year's annual Big WoW walking event for primary school children. </p>
<p>The TfL-sponsored annual Big WoW aims to encourage children to walk to school and to make walking part of their lifestyle from an early age. </p>
<p>The relay starts on Monday 3 October in Newham with 300 pupils from 10 schools taking part along the relay route. </p>
<p>The pupils walk with the torch through the borough and then hand it to pupils in Barking &amp; Dagenham on Tuesday 4 October. </p>
<h2>Local landmarks</h2>
<p>This relay from borough to borough will continue through all 33 London boroughs with the final leg ending in Greenwich on 4 November. </p>
<p>A competition called 'Welcome to my Borough' will also run throughout October as part of the Big WoW. </p>
<p>Each participating school will encourage their pupils to enter a factual story inspired by local landmarks they encounter during their relay walk. </p>
<p>Winning entries from will be put on display in City Hall. </p>
<h2>Encourage walking</h2>
<p>Ben Plowden, Director of Better Routes &amp; Places at Transport for London (TfL), said: 'The Big WoW gives children the perfect opportunity to enjoy walking in their borough. </p>
<p>'We hope that this in turn will encourage more children and parents to walk to school more regularly. </p>
<p>'We are also working hard to improve the network of signed walking routes in London and to encourage walking journeys in the Capital. </p>
<p>'We hope that by instilling the Olympic and Paralympic spirit in this mass walking relay, many schoolchildren will be inspired to get active in the build up to the Games.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Big WoW was launched in 2006.&nbsp;In 2008, lesson plans and resources were developed to assist schools to incorporate key walking messages into their classroom activities </li>
<li>The Big WoW is coordinated by TfL with boroughs providing funding for their local events </li>
<li>The 2010 Big WoW walking relay attracted 4,043 pupils from 271 schools who walked more than 100 miles and saved almost 35 tonnes of carbon dioxide </li>
<li>The Big Wow has the InspireMark which enables it to be linked to the Games. The Olympic and Paralympic Games are the largest sporting events in the world. Alongside the Games, events and celebrations will be taking place across London, offering real opportunities for business and a once-in-a-generation opportunity to showcase London and the UK to the world </li>
<li>There are seven main walking routes across London which connects some of the Capital's best attractions, parks, rivers, canals and open spaces. For more information see <a href="http://www.tfl.gov.uk/tfl/gettingaround/walkfinder">http://www.tfl.gov.uk/tfl/gettingaround/walkfinder</a> </li>
<li>Relay timetable: The Big Wow school walking relay will pass through all 33 boroughswith the following timetable:</li></ul>
<blockquote><strong>North East region</strong></blockquote>
<blockquote>3 October - Newham<br>4&nbsp;October - Barking &amp; Dagenham<br>5 October am - Havering, pm - Redbridge<br>6 October am - Waltham Forest, pm - Haringey<br>7 October am - Enfield</blockquote>
<blockquote><strong>North West region</strong></blockquote>
<blockquote>7 October pm - Barnet<br>10 October - Harrow<br>11 October - Hillingdon<br>12 October am - Ealing, pm - Brent</blockquote>
<blockquote><strong>Central region</strong></blockquote>
<blockquote>13 October am - Camden, pm - Islington<br>14 October am - Hackney, pm - Tower Hamlets<br>17 October am - City of London, pm - Westminster<br>18 October am - Kensington&nbsp;&amp; Chelsea, pm - Hammersmith &amp; Fulham </blockquote>
<blockquote><strong>South West region</strong></blockquote>
<blockquote>19 October - Hounslow<br>20 October am - Richmond, pm - Kingston<br>21 October am - Wandsworth, pm - Merton</blockquote>
<blockquote><strong>Half-term holiday</strong></blockquote>
<blockquote>31 October am - Sutton, pm - Croydon</blockquote>
<blockquote><strong>South East region</strong></blockquote>
<blockquote>1 November am - Lambeth, pm - Southwark<br>2 November am - Lewisham, pm&nbsp;- Bromley<br>3 November am - Bromley, pm - Bexley<br>4 November - Greenwich</blockquote>
<blockquote>&nbsp;</blockquote>
<blockquote>&nbsp;</blockquote>
<blockquote><br><br>&nbsp;</blockquote>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "1948 London and 1956 Melbourne Olympic Torches will be carried through every London borough over the next four weeks Mark Hunter MBE and Victoria Ohuruogu will also take partPrimary school children in Newham today launched a month-long walking relay to";}
        
        


 