


@{ViewBag.Title = "Greenwich Pier gets roof and lighting in time for London 2012 Games";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Greenwich Pier gets roof and lighting in time for London 2012 Games</h1>
        <div class="content-page-press-release">
        14 October 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London River Services has started work to build a roof and install a lighting system, to improve Greenwich Pier in time to welcome visitors to the London 2012 Games events which are being held in Greenwich.
        
    </div>



 <div class="on-this-page">
<p>The brand new roofing system is being designed and built in the UK, while the new lighting system will use the latest low energy technology and offer passengers a safer environment when it is dark.</p>
<p>These improvements, which are being funded by the Olympic Delivery Authority (ODA), recognise what an important part Greenwich Pier and the River Thames will play in giving spectators easy access to events in Greenwich Park which include Olympic Equestrian, Modern Pentathlon and Paralympics Dressage events.</p>
<h2>Work to finish by November 2011</h2>
<p>The Pier will not be closed while the improvement work takes place.</p>

<p>The work is expected to cause minimal disruption to passengers and to be completed by the end of November 2011.</p>
<p>Greenwich Pier has a regular River Bus service calling every 20-30 minutes throughout the day giving easy access to points from Embankment in the west to Woolwich Arsenal in the east.</p>
<p>A number of River Tours services also operate from Greenwich Pier offering a more leisurely river experience.</p>
<hr>

<p><strong>Notes to editors:</strong></p>
<ul>
<li>More information about London River Services is available at: <a href="http://www.tfl.gov.uk/rivers">www.tfl.gov.uk/rivers</a> </li>
<li>Around &pound;6.5bn has been invested in upgrading and extending transport links and this will enable spectators to get to and from the Games each day and ensure we will keep London moving </li>
<li>This is already providing an early legacy of better transport options, particularly for people living in east London, which will continue long after the 2012 Games</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The brand new roofing system is being designed and built in the UK, while the new lighting system will use the latest low energy technology and offer passengers a safer environment when it is dark.These improvements, which are being funded by the Olympic";}
        
        


 