


@{ViewBag.Title = "Guide dogs to be allowed to use moving escalators for the first time ever";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Guide dogs to be allowed to use moving escalators for the first time ever</h1>
        <div class="content-page-press-release">
        03 October 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Outdated byelaw requiring all dogs to be carried on escalators finally changed for guide dogs. The result of research and collaboration between Transport for London (TfL) and the Guide Dogs for the Blind Association.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our aim is to help guide dog owners live independently, and this change is another step towards helping blind and partially sighted people enjoy the same freedom as everyone else."</div>
        <div class="quote-footer">
            <div class="quotee-name">Oliver Barton</div>
            <div class="quotee-job-title">Client Services Manager at Guide Dogs for the Blind Association</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our aim is to help guide dog owners live independently, and this change is another step towards helping blind and partially sighted people enjoy the same freedom as everyone else.
                            
                        </p>
                    </div>
                
            
            
            <p>Visually impaired and other disabled people with trained assistance dogs will be able to use moving escalators legally for the first time on the Tube, Docklands Light Railway and London Overground thanks to the revision of a dated byelaw.</p>
<p>TfL has worked with the Guide Dogs for the Blind Association to devise a training course that means the byelaw can be updated and all trained assistance and police dogs will be allowed to use moving escalators. </p>
<p>The Government has now approved the byelaws and they will come into force on 5 October 2011.</p>
<p>For many years TfL was advised dogs should not be allowed to use moving escalators to prevent injuries, so under TfL's byelaws all passengers with dogs were required to carry them on escalators or use lifts or stairs instead. </p>
<h2>Modernisation and training&nbsp;</h2>
<p>However recent research carried out by the <a href="http://www.guidedogs.org. uk">Guide Dogs for the Blind Association</a> proved that dogs can be trained to use a moving escalator. </p>
<p>The Guide Dogs for the Blind Association researched the safest methods for taking dogs on and off escalators and worked with TfL to test the techniques. </p>
<p>Now guide dog owners who undertake special training developed and delivered by the Guide Dogs for the Blind Association will be able to use escalators at TfL stations.</p>
<p>The Mayor of London, Boris Johnson, said: 'The modernisation of this antiquated byelaw helps make the Tube more accessible for all and is the fruit of some excellent collaborative work between Transport for London and the Guide Dogs for the Blind Association.'</p>
<p>Wayne Trevor, London Underground's Accessibility &amp; Inclusion Manager, said: 'It was not always practical for disabled passengers with an assistance dog to carry them on escalators, particularly if the person was visually impaired. </p>
<p>'So we have worked with the Guide Dogs for the Blind charity for some years to find a solution. </p>
<p>'The training course will make it far easier for people with guide dogs to use the Tube.'</p>
<p>Oliver Barton, Client Services Manager at Guide Dogs for the Blind Association said: 'We're pleased to have worked with TfL to make it possible for guide dog owners to use escalators in their stations. </p>
<p>'Once guide dog owners are trained, they will be able to safely use escalators if they provide the only means of accessing TfL-managed stations. </p>
<p>'Our aim is to help guide dog owners live independently, and this change is another step towards helping blind and partially sighted people enjoy the same freedom as everyone else.'</p>
<p>
<hr>
<strong>Note to editors: 
<ul>
<li></li></ul></strong>Travellers with existing assistance dogs should check that their dog is trained in using escalators. They will be issued with a pass which will show that their dog has been trained as well as given guidance by the training organisation. Some dogs may not be suitable to be trained in this technique, as it depends on the temperament of the animal 
<li>All passengers with dogs can of course use stairs and lifts </li>
<li>LU staff will still assist disabled passengers with assistance dogs in the event that they are unable to use an escalator. But as this involves stopping an escalator and allowing the person to walk down it as a fixed staircase, they can only do this when it is safe and the station is not too crowded</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Visually impaired and other disabled people with trained assistance dogs will be able to use moving escalators legally for the first time on the Tube, Docklands Light Railway and London Overground thanks to the revision of a dated byelaw.TfL has worked";}
        
        


 