


@{ViewBag.Title = "Half a million London employees now signed up for 2012 travel advice, TfL tells Assembly and borough leaders";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Half a million London employees now signed up for 2012 travel advice, TfL tells Assembly and borough leaders</h1>
        <div class="content-page-press-release">
        11 October 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport Commissioner tells Assembly Transport Committee that detailed transport plans are in place to support a great Games.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"No two days will be the same during the London 2012 Games and we need London's borough councils to work together - and with us - to ensure we host a great Games and keep our city moving next summer"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            No two days will be the same during the London 2012 Games and we need London's borough councils to work together - and with us - to ensure we host a great Games and keep our city moving next summer
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) calls on London's borough leaders to work with them to ensure the Games are a success for all Londoners.</p>
<p>Almost 400 London businesses employing more than half a million staff have signed up for bespoke 2012 Games travel advice, with hundreds more organisations attending special Games transport workshops.</p>
<p>The figures were revealed by London's Transport Commissioner, Peter Hendy as he set out to the London Assembly's Transport Committee how detailed transport planning by TfL and all London 2012 partners will support a great 2012 Games, getting all athletes, officials and spectators to their events on time and keeping the Capital moving.<br>&nbsp;<br>TfL also today met with the leaders of London's 33 borough councils to brief them on the detailed transport plans and seek their support to ensure the Games are a success for all Londoners and that businesses can make the most of the financial opportunities offered by the Games. <br>&nbsp;<br>With nine months to go until the start of the Games, TfL and London 2012 remain confident that they are on track to deliver the necessary reductions required in demand at certain times and certain locations on the transport network.<br>&nbsp;<br>London's Transport Commissioner, Peter Hendy said: 'These new figures show that we are on track to get all athletes, officials and spectators to their events on time and keep London moving.<br>&nbsp;<br>'I am confident London will provide the stage for the greatest Games we've ever seen, but I also know that this is a huge logistical challenge that will rely on everyone working together. </p>
<p>'No two days will be the same during the London 2012 Games and we need London's borough councils to work together - and with us - to ensure we host a great Games and keep our city moving next summer.<br>&nbsp;<br>'We're listening to and working with London's boroughs and the business community and we're responding to their concerns.&nbsp;</p>
<p>'That's why we've recently provided more detailed transport information and have promised more to come, all available on our new one-stop-shop online to make it as easy as possible to find and use.'<br>&nbsp;<br>A huge amount of work is already under way to ensure businesses and other organisations have the detailed information they need to enable them to plan ahead and keep on running during the summer of 2012.&nbsp; </p>
<p>Meeting with the borough leaders, TfL representatives set out how TfL and the London boroughs can work in partnership to collectively meet the 2012 Games transport challenges.</p>
<h2>One-stop-shop</h2>At a recent conference to brief businesses on the plans, Peter Hendy set out detailed information showing how the busiest stations and locations across the Tube and road networks will be affected during the 2012 Games. 
<p>He also launched <a href="http://www.tfl.gov.uk/2012">tfl.gov.uk/2012</a>, a one-stop-shop website which brings together a combination of new and existing transport information in one easy to access location.<br>&nbsp;<br>Further information, including detailed but easy to understand transport modelling, will be made available on the website over the coming weeks (see notes to editors), including:</p>
<ul>
<li>Detailed 'hot spot' maps, postcode information and case studies to help businesses plan how they will manage the impact of the Olympic and Paralympic Route Networks (ORN and PRN), road events and the Central London Zone </li>
<li>The release of a timetable laying out when additional data and business support will become available - including the launch of a new, free programme of advice on how to manage deliveries and freight&nbsp;and the results of an ongoing TfL-funded overnight delivery trial (November) </li>
<li>A transport planning milestone calendar </li>
<li>The public transport and road modelling 'hot spot' data previewed at today's event will also be published on the TfL website later&nbsp;in November.</li></ul>
<p>The new TfL website complements the advice and information already available to help businesses plan ahead at <a href="http://www.london2012.com/traveladviceforbusiness">www.london2012.com/traveladviceforbusiness</a>.<br>&nbsp;<br>Public transport data, which is due to be released in November, will show how services on all Tube, DLR, London Overground and key National Rail stations are expected to be affected on a line-by-line, day-by-day basis during the Games, in intervals of 30 minutes.&nbsp;</p>
<p>Preliminary information for London's road hot spots, based on recent highways modelling, is also due to be released in November.</p>
<p>
<hr>

<p>
<p>&nbsp;<strong>Notes to editors:</strong><br></p>
<ul>
<li>A total of 384 businesses, covering 507,172 staff, are now signed up to TfL's free Site Specific Advice programme, aimed at businesses with more than 200 employees. In addition, more than 250 small and medium enterprises have already benefited from free travel advice workshops </li>
<li>London 2012 and TfL are offering free travel advice to businesses to ensure their staff, customers and suppliers can get around and they can make and receive important deliveries during the Games. As part of this advice they are asking businesses to consider ways which will help reduce their overall need to travel including: 
<ul>
<li>Staggering the start and finish times of working days </li>
<li>Providing the facilities for staff to work from home </li>
<li>Stocking up on non-perishable materials well before the Games </li>
<li>Arranging earlier or later deliveries </li>
<li>Managing annual leave </li>
<li>Temporarily relocating employees or altering their working hours </li>
<li>Helping staff re-plan their travel </li>
<li>Using conference/video/web calls </li>
<li>Encouraging and enabling staff to cycle and walk </li>
<li>Businesses can email the team on&nbsp;<a href="mailto:keeponrunning&#64;london2012.com">keeponrunning&#64;london2012.com</a> to register for the workshops, and to find out more</li></ul></li>
<li>&nbsp;The timetable for release of further information can be found at <a href="http://www.tfl.gov.uk/2012">tfl.gov.uk/2012</a>. It includes: 
<ul>
<li>Later this month (October 2011) 
<ul>
<li>Free advice on how to manage freight and deliveries </li>
<li>Traffic Commissioner guidance to key freight operators </li>
<li>Monthly 2012 Freight seminars for Freight Operator Recognition Scheme (FORS) member</li></ul></li>
<li>November 2011 
<ul>
<li>Freight Key Stakeholder Summit </li>
<li>Road network hot spot maps </li>
<li>Overnight delivery trial results published </li>
<li>Overnight delivery Code of Practice launched </li>
<li>Public transport hot spots published</li></ul></li>
<li>December 2011/January 2012 
<ul>
<li>Freight web toolkit </li>
<li>Bus service changes published</li></ul></li>
<li>February 2012 
<ul>
<li>Freight Key Stakeholder Summit</li></ul></li></ul></li>
<li>There are more than 12 million public transport journeys in the Capital daily and Londoners are already benefiting from a transport legacy before the Games, delivered by all 2012 transport partners - the London 2012 Organising Committee,&nbsp;the Olympic Delivery Authority, TfL, Network Rail, the Highways Agency, the Mayor and the Department for Transport - working in partnership, including:&nbsp; 
<ul>
<li>A 50 per cent increase in DLR capacity with the line extended to Woolwich and Stratford International </li>
<li>Extra capacity on the Jubilee and Central lines </li>
<li>Refurbished and extended London Overground services on the East London and North London lines </li>
<li>Upgrades to national rail services on the Lea Valley and Great Eastern lines </li>
<li>Upgraded traffic signals and junctions on the ORN, so traffic runs smoothly </li>
<li>A rebuilt and expanded King's Cross-St Pancras and Stratford stations, with step-free access and extra capacity </li>
<li>Step-free access at Southfields free, Green Park will be step-free before the Games </li>
<li>Improved walking and cycling routes serving the Olympic Park </li>
<li>Extended Barclays Cycle Hire scheme area which will reach Stratford by 2012</li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) calls on London's borough leaders to work with them to ensure the Games are a success for all Londoners.Almost 400 London businesses employing more than half a million staff have signed up for bespoke 2012 Games travel advice,";}
        
        


 