


@{ViewBag.Title = "Last chance to add your thoughts on South Kensington Tube station redevelopment";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Last chance to add your thoughts on South Kensington Tube station redevelopment</h1>
        <div class="content-page-press-release">
        03 October 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Londoners who wish to share their views on plans to redevelop South Kensington station are being urged to get involved before the public consultation closes on Friday.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Without this development we do not have the funds to carry out the works which will help to reduce congestion and provide step-free access to the District and Circle lines at South Kensington station."</div>
        <div class="quote-footer">
            <div class="quotee-name">David Waboso</div>
            <div class="quotee-job-title">London Underground's Capital Programmes Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Without this development we do not have the funds to carry out the works which will help to reduce congestion and provide step-free access to the District and Circle lines at South Kensington station.
                            
                        </p>
                    </div>
                
            
            
            <p>Local residents and stakeholders have been giving their thoughts on the proposal to London Underground for the past 6 weeks.</p>
<p>The proposal details plans for a modest development that would help fund key station improvements.</p>
<p>The plans, which have been created with input from the Royal Borough of Kensington and Chelsea, reflect local residents' concerns by aiming to enhance the listed elements of the station and the surrounding neighbourhood. </p>
<p>As such, the existing arcade, listed shop fronts and northern and southern entrances would all be retained, as would the facade of the Thurloe Street terrace. </p>
<p>The 'Ox-blood' station building would also be retained and integrated with the residential development over the station ticket office.</p>
<p>A study has been carried out in order to establish how best to address a problem at the station where the narrow flight of stairs from the District and Circle lines platforms is causing congestion problems. </p>
<p>In addition, some customers find the station difficult to use because it can only be accessed via stairs.</p>
<p><a href="/corporate/projectsandschemes/20735.aspx">See the study and comment on the proposal</a>.</p>
<p>The results of the study have shown that the best option would be a lift from a new Thurloe Street entrance into an enlarged ticket hall, as well as new stairs and a lift to the District and Circle line platforms.</p>
<p>David Waboso, LU's Capital Programmes Director, said: 'We would like to thank everyone who has shared their thoughts with us over the last few weeks and urge anyone else who wants to have their say to do so before Friday.</p>
<p>'This development has been designed with local concerns in mind and we feel that this is the best option for the community whilst also providing us with an opportunity to implement a number of key station improvements.</p>
<p>'Without this development we do not have the funds to carry out the works which will help to reduce congestion and provide step-free access to the District and Circle lines at South Kensington station.'</p>
<p>
<hr>
<strong>Notes to Editors</strong>:
<ul>
<li>Step-free access to the Piccadilly line platforms cannot be installed as part of this proposed scheme, but its future provision is made easier by the scheme and will be safeguarded </li>
<li>A public meeting on the issue took place at Kensington Town Hall on Wednesday 21 September </li>
<li>See <a href="http://www.tfl.gov.uk/corporate/projectsandschemes/20735.aspx">the&nbsp;study</a>, along with information on how to comment on this proposal, or request further details <a href="http://www.tfl.gov.uk/corporate/projectsandschemes/20735.aspx"></a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Local residents and stakeholders have been giving their thoughts on the proposal to London Underground for the past 6 weeks.The proposal details plans for a modest development that would help fund key station improvements.The plans, which have been";}
        
        


 