


@{ViewBag.Title = "London Overground upgrade named project of the year at Rail Awards";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Overground upgrade named project of the year at Rail Awards</h1>
        <div class="content-page-press-release">
        04 October 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The recently upgraded and expanded North London railway, part of the London Overground network, has been awarded the prestigious Project of the Year gong at the National Rail Awards 2011.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The London Overground network is a perfect example of how investment in rail can boost services for passengers and leave a lasting legacy for London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Andrew Munden</div>
            <div class="quotee-job-title">Network Rail Route Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The London Overground network is a perfect example of how investment in rail can boost services for passengers and leave a lasting legacy for London
                            
                        </p>
                    </div>
                
            
            
            <p>The three-year, &pound;550m upgrade has delivered more services, longer platforms, a new fleet of longer trains and increased capacity on a key 2012 Games rail route.</p>
<p>It was funded by Transport for London (TfL), the Olympic Delivery Authority (ODA), the Department for Transport, Network Rail and the Stratford Transport Implementation Group.</p>
<p>London Overground services from Richmond and Clapham Junction to Stratford now run four times an hour every day, which has increased services between Willesden Junction and Stratford from four to eight trains per hour at peak times. </p>
<p>Passenger levels on the Richmond and Clapham Junction routes are at a record high, at more than one million journeys a week, up from 600,000 before December 2010 according to latest TfL figures. </p>
<p>On the London Overground network as a whole, there are now two million passenger journeys a week, an increase of 1.4 million journeys since TfL took over the network at the end of 2007.&nbsp;</p>
<p>&nbsp;In 2011/12 the Overground is projected to carry 100 million passengers up from 33 million in the first full year of TfL operation.</p>
<p>Judges described the project as 'an extremely worthy winner' recognising the complexity of the challenge and the improved service it has delivered.</p>
<p>Awarding the prize to TfL, Network Rail, Carillion and Atkins, the judges stated: 'The effectiveness of the joint project sponsorship and management ensured its successful delivery to time and budget.'</p>
<p>Mike Brown, Managing Director of London Rail, said: 'I am delighted that the hard work and joint effort that went into delivering the upgrade has been recognised in this way. </p>
<p>'The upgrade is now delivering real and tangible benefits for passengers and has created a legacy far in advance of the 2012 London Olympic and Paralympics Games, which will boost the area for many years to come.'</p>
<p>Andrew Munden, Network Rail Route Director, said: 'The London Overground network is a perfect example of how investment in rail can boost services for passengers and leave a lasting legacy for London. </p>
<p>'The partnership we have in place with TfL is delivering great results and we will continue working together to provide a&nbsp; high performing, reliable railway in the Capital, every day.'</p>
<p>As part of the upgrade TfL also funded a fleet of 57 brand new air-conditioned trains, and a station refurbishment programme that has delivered cleaner, safer and well-staffed stations with better access, new information, help points, lighting and CCTV.</p>
<p>The new timetable introduced in May 2011 is the result of the first major revamp of the line since 1869, which saw intensive civil engineering and complex signalling work take place in more than half of London's boroughs. </p>
<p>Network Rail upgraded and replaced more than 200 signals, renewed more than seven kilometres of track and 69 sets of points, lengthened 30 station platforms and carried out additional improvements at seven other stations.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The three-year, &pound;550m upgrade has delivered more services, longer platforms, a new fleet of longer trains and increased capacity on a key 2012 Games rail route.It was funded by Transport for London (TfL), the Olympic Delivery Authority (ODA), the";}
        
        


 