


@{ViewBag.Title = "London Underground bridge wins national award";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground bridge wins national award</h1>
        <div class="content-page-press-release">
        21 October 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) stole the top prize in the Small Civil Engineering Project category at the British Construction Industry Awards for its rail bridge replacement project on the District line.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Installing this District line bridge in one weekend was a huge engineering challenge."</div>
        <div class="quote-footer">
            <div class="quotee-name">Kirit Patel</div>
            <div class="quotee-job-title">LU Project Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Installing this District line bridge in one weekend was a huge engineering challenge.
                            
                        </p>
                    </div>
                
            
            
            <p>The awards, which were held at the prestigious Grosvenor House Hotel in Park Lane last week, recognise excellence in the building and civil engineering industry.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
<p>Hosted by BBC News presenter, Huw Edwards, the BCI Awards attract around 200 entries each year representing the best buildings and civil engineering schemes throughout the UK - ranging in size from very small to major.</p>
<p>The judges were very impressed with the way this project was meticulously managed as well as its timely execution. </p>
<h2>Huge logistical challenge</h2>
<p>In just one single weekend, the existing 80-year-old District line bridge was removed and replaced with a brand new one. </p>
<p>Bridge D83A is located between Ravenscourt Park and Hammersmith Tube stations. </p>
<p>This huge logistical challenge also involved the fabrication of a new 90 tonne steel bridge off site in a factory in Newport, Wales.</p>
<p>Once the new bridge was installed, new track was laid during the same weekend. </p>
<h2>Special lifting equipment</h2>
<p>This mammoth task was very complex and required much planning and shows how much valuable upgrade work LU carries out in a single weekend. </p>
<p>The tight physical constraints of the site and the close proximity of residents in this urban environment was a critical consideration. </p>
<p>Special lifting equipment was needed for the job. </p>
<p>These machines had to be brought in from Holland by London Underground's (LU's)&nbsp;principal contractor Vinci Construction.</p>
<h2>Investment</h2>
<p>LU Project Manager Kirit Patel said: 'Installing this District line bridge in one weekend was a huge engineering challenge. </p>
<p>'Winning this award recognises the commitment everybody at London Underground and Vinci put in over many months to make this project a success. </p>
<p>'This kind of investment work is part of our plan to upgrade the Tube and will help improve journeys for the three-and-a-half to four million customers that use the network every day.'<br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the Capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. By the end of the current programme there will be 30 per cent more capacity. The upgrades will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and Docklands Light Railways passengers to check before they you travel at weekends, allowing extra time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk/check">tfl.gov.uk/check</a> </li>
<li>Images and further information is available on request <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The awards, which were held at the prestigious Grosvenor House Hotel in Park Lane last week, recognise excellence in the building and civil engineering industry.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hosted by BBC News presenter, Huw Edwards, the BCI Awards";}
        
        


 