


@{ViewBag.Title = "Mayor secures Emirates Airline as private sponsor for pioneering new Thames crossing";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor secures Emirates Airline as private sponsor for pioneering new Thames crossing</h1>
        <div class="content-page-press-release">
        07 October 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Emirates Airline signs multi-million pound sponsorship for new cable car. &pound;36m deal sees cable car named Emirates Air Line. London's first new urban cable car to appear on iconic Tube map.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Emirates Air Line will be an exciting and innovative mode of transport
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London, Boris Johnson, today announced that global airline Emirates will sponsor London's exciting new cable car river crossing, to be known as the Emirates Air Line, in a ten-year deal worth &pound;36m.</p>
<p>The Emirates Air Line will connect north and south London, travelling between two new stations set to be named Emirates Greenwich Peninsula and Emirates Royal Docks. </p>
<p>Scheduled for completion in summer 2012 the Emirates Air Line will offer commuters and visitors majestic aerial views as they travel across the Thames and provide a much needed additional river crossing. </p>
<p>With capacity to carry up to 2,500 people per hour in each direction in the peak, equivalent to 30 buses per hour, the Emirates Air Line will be the first of a package of measures to improve river crossings in east London. </p>
<p>It is anticipated it will carry two million passengers per year.</p>
<p>The sponsorship deal secured by the Mayor and TfL will see Emirates provide significant private sector investment to this new transport scheme totaling &pound;36m. </p>
<p>The Emirates Air Line will be a key element of the Mayor's vision to transform east London into a bustling metropolitan quarter teeming with new businesses, entertainment and leisure facilities supported by world-class transportation.</p>
<h2>New addition to the skyline</h2>
<p>Boris Johnson, the Mayor of London, said: 'This multi-million pound deal is tremendous news for London, helping us to deliver a new addition to the city's skyline. </p>
<p>'The Emirates Air Line will be an exciting and innovative mode of transport easing travel for thousands and offering spectacular bird's eye vistas of our majestic Thames. </p>
<p>'The UK's first urban cable car will also act as a vibrant catalyst for the further regeneration of east London helping to attract jobs and investment for the benefit of Londoners.'</p>
<p>Creating a direct link between the O2, Europe's biggest entertainment venue, and ExCeL, the UK's largest exhibition centre, the Emirates Air Line will also provide an additional interchange between the Docklands Light Railway and Jubilee line. </p>
<p>Both areas surrounding the Emirates Air Line have been earmarked for a number of regeneration projects with the Royal Victoria Docks selected as one of the new Local Enterprise Zones. </p>
<p>The Emirates Air Line will play a key role in supporting these regeneration projects by providing a faster and more direct link, taking just five minutes to cross the river. </p>
<p>It will also provide local communities access to a range of entertainment, job and leisure opportunities that are set to become available as part of the regeneration. </p>
<p>The Mayor was joined by Tim Clark, President, Emirates Airline, and Mike Brown, Managing Director of London Underground and Rail, to announce the sponsorship deal.&nbsp; </p>
<p>The Emirates Air Line will feature on the iconic Tube map and be included in Transport for London's (TfL's) travel information. </p>
<p>As title sponsor, Emirates will receive a range of naming and branding rights, including the right to name the scheme, its stations and the creation of a joint logo.&nbsp;&nbsp; </p>
<h2>Iconic landmark</h2>
<p>Tim Clark, President, Emirates Airline, said: 'As one of the world's most innovative airlines, the link with this new form of air travel in London is a perfect fit for us.&nbsp; </p>
<p>'The Emirates Air Line will take off as an iconic landmark for London. </p>
<p>'We are always looking for new ways to support the communities we serve and what better way than to bring this ground-breaking transport scheme to residents and visitors alike.'</p>
<p>The announcement of the sponsorship agreement comes after an open and competitive process led by TfL. </p>
<p>The &pound;36m sponsorship deal with Emirates forms part of the funding strategy to recoup the upfront construction costs provided for the link and provides 80 per cent of the overall construction cost. </p>
<p>TfL continues to progress a funding strategy for the cable car including an application to a grant to the European Regional Development Fund (ERDF), additional sponsor agreements, retail space rental and fare revenue.&nbsp;</p>
<p>A&nbsp;final decision on the ERDF application is expected in spring 2012. </p>
<p>Work to construct the Emirates Air Line continues apace with the foundations to build the two stations, Emirates Greenwich Peninsula and Emirates Royal Docks, now complete. </p>
<p>The steel towers which will hold up the cable line are currently being fabricated into giant helix components ready for installation on site. </p>
<h2>Breaking ground</h2>
<p>Over the next few weeks building of the stations sub-structures will start to form the shell of the new stations that will welcome passengers once the Emirates Air Line opens for business next year. </p>
<p>This will coincide with the piling to install the towers that will support the cable line. </p>
<p>The Emirates Air Line is already providing a real boost to the UK economy by creating work for the British manufacturing and construction industry. </p>
<p>Factories across the UK are involved in the construction of this innovative transport project, from the steel towers to the moquette on passenger seats. </p>
<p>Mike Brown, Managing Director of London Underground and London Rail, said: 'This marks the start of an exciting new partnership. </p>
<p>'It's great that Emirates shares the Mayor and TfL's vision to create this innovative transport link across the Thames and boost regeneration in the area, the first urban cable car in the UK. </p>
<p>'Main construction works began in July and we are on track to open next summer. </p>
<p>'Much of the manufacture, including the steel towers, is being built in the UK, boosting companies across the country.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>See an <a href="http://www.youtube.com/watch?v=tKLeeXmnjnI ">animated fly-through</a> simulating the experience of using the Emirates Air Line. Stills from this video are also available - please contact the TfL Press Office for footage and/or stills </li>
<li>To recognise this momentous multi-million pound partnership Emirates will be granted a number of unique rights. This includes the renaming of the link to the Emirates Air Line, a specially designed iconic roundel, a joint logo incorporating the Air Line roundel and Emirates branding and inclusion of the name of Air Line and its two stations Emirates Greenwich Peninsula and Emirates Royal Victoria on the internationally renowned London Tube map </li>
<li>Providing a direct connection between the Greenwich Peninsula and Royal Victoria Docks, Emirates Air Line will cut journey times and link the O2 Arena Europe's biggest entertainment venue with the ExCeL, the UK's largest exhibition venue </li>
<li>Emirates currently operates eight flights a day from London to Dubai with five daily services from Heathrow and three daily from London Gatwick.&nbsp;The airline also operates flights from Birmingham (twice daily), Manchester (three times daily), Newcastle and Glasgow (both daily). It is estimated that annually the airline contributes more than $400m to UK tourism </li>
<li>Carrying up to 2,500 passengers per hour in each direction across the river the Emirates Air Line will provide additional resilience to the transport network in this part of London and capacity for alternative for local journeys. The number of people travelling on the link will be equivalent to the hourly number of people travelling through the Blackwall Tunnel by car </li>
<li>Mace has been selected as principal contractor to build the cable car and operate it for three years. Mace will lead a consortium of experts, including the cable car specialists, Dopplemayr, and Watson Steel, URS Scott Wilson, Buro Happold and Aedas. The cable car has been designed to the highest standards by Wilkinson Eyre</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Boris Johnson, today announced that global airline Emirates will sponsor London's exciting new cable car river crossing, to be known as the Emirates Air Line, in a ten-year deal worth &pound;36m.The Emirates Air Line will connect";}
        
        


 