


@{ViewBag.Title = "More services on TfL's London Overground from December";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>More services on TfL's London Overground from December</h1>
        <div class="content-page-press-release">
        26 October 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passengers using London Overground are set to benefit from an increase in services that will be introduced from December.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We have been working closely with our operator, London Overground Rail Operations Ltd (LOROL), and Network Rail to find a way to ease crowding and I am delighted that we have been able to implement these additional services so soon"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Smith</div>
            <div class="quotee-job-title">Chief Operating Officer at London Rail</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We have been working closely with our operator, London Overground Rail Operations Ltd (LOROL), and Network Rail to find a way to ease crowding and I am delighted that we have been able to implement these additional services so soon
                            
                        </p>
                    </div>
                
            
            
            <p>Trains on several routes across the network will run more frequently at peak times, evenings and weekends. </p>
<p>Services on London Overground were increased in May and since then the new timetable has been closely monitored. </p>
<p>It has been established it would be possible to add extra trains and increase the capacity of the network further. </p>
<p>The following routes will see an increase in services: </p>
<ul>
<li>Two extra morning peak trains from Surrey Quays to Dalston Junction, Monday to Saturday</li>
<li>Four extra trains will run every hour between Dalston Junction and Highbury &amp; Islington on Sunday mornings</li>
<li>One extra morning train per weekday will run between Willesden Junction and Stratford, extending the current service from Clapham Junction</li>
<li>Two extra trains will run in the late evening from Stratford to Camden Road every Monday to Saturday</li>
<li>Two extra trains will run in the late evening from Clapham Junction to Willesden Junction every Monday to Saturday</li>
<li>One extra train will run from Willesden Junction to Clapham Junction on Sunday mornings</li>
<li>On Sunday one extra train will run between Willesden Junction and Stratford in the morning and one extra train will run in the evening, extending the current services to and from Clapham Junction </li></ul>
<p>Where possible there will also be an extra service at 0759 between Woodgrange Park and Upper Holloway, on the Gospel Oak to Barking line to relieve peak time pressure. </p>
<p>This service has already been trialled, however it cannot be guaranteed to run every day because it relies on using a spare train, which may occasionally be needed elsewhere. </p>
<p>Train frequency on this line was already increased to four per hour last May in the last timetable boost. </p>
<p>Howard Smith, Chief Operating Officer at London Rail, said: 'This is great news for London Overground passengers who will really benefit from the increase in services created by these extra trains. </p>
<p>'We have been working closely with our operator, London Overground Rail Operations Ltd (LOROL), and Network Rail to find a way to ease crowding and I am delighted that we have been able to implement these additional services so soon. This positive news is a great way to see out 2011.'</p>
<p>Steve Murphy - Managing Director at LOROL, said: 'Working with Transport for London (TfL), LOROL are delighted to respond promptly to an increase in demand for additional capacity by delivering extra services for customers travelling on the London Overground network. </p>
<p>'We look forward to making further improvements that will benefit Overground customers in the future as we continue to transform our railway.'</p>
<p>
<hr>
</p>
<p><strong>Notes to Editors:</strong></p>
<ul>
<li>Additional services will run on the East London Line at 08:19 and 08:34 from Surrey Quays to Dalston Junction, Monday to Saturday </li>
<li>The existing 08.09 train from Clapham Junction to Willesden Junction will become a through service to Stratford, departing Willesden Junction at 08:34</li>
<li>&nbsp;Extra services will run from Stratford to Camden Road at 22:25 and 22:55, Monday to Saturday ; and from Clapham Junction to Willesden Junction at 22:15 and 22:45 Monday to Saturday</li>
<li>There will also be additional trains on Sundays at 08:32 from Willesden Junction to Clapham Junction. The existing 19:45 service between Clapham Junction to Willesden Junction will be extended through to Stratford. The 21:49 Willesden Junction to Clapham Junction service will start from Stratford at 21:05 </li>
<li>The extra morning service on the Barking and Gospel Oak line, which departs from Woodgrange Park at 07:59 and runs to Upper Holloway cannot serve Barking and Gospel Oak stations due to the single track arrangements that constrains the number of trains able to run in and out of the stations platforms</li>
<li>LOROL will be working to improve signage at stations along the Gospel Oak to Barking line by the end of the year. The existing signs will be replaced by vitreous enamel signs in line with the TfL standard roundels with the name inside, as per the rest of the network.</li>
<li>TfL has recently won the Rail Awards 'Project of the Year' together with Network Rail, Carillion and Atkins, for the work completed to upgrade the London Overground infrastructure.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Trains on several routes across the network will run more frequently at peak times, evenings and weekends. Services on London Overground were increased in May and since then the new timetable has been closely monitored. It has been established it would be";}
        
        


 