


@{ViewBag.Title = "New Tube Poems remember war dead and reflect on quest for peace";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New Tube Poems remember war dead and reflect on quest for peace</h1>
        <div class="content-page-press-release">
        25 October 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A set of poems, which commemorates lives lost in war and celebrates the universal desire for peace, is now on display on Tube trains.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Loss of life, grief, war and the pursuit of peace have inspired poets for centuries. I hope that passengers will find the poems moving as they journey across the city."</div>
        <div class="quote-footer">
            <div class="quotee-name">Judith Chernaik</div>
            <div class="quotee-job-title">Founder of Poems on the Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Loss of life, grief, war and the pursuit of peace have inspired poets for centuries. I hope that passengers will find the poems moving as they journey across the city.
                            
                        </p>
                    </div>
                
            
            
            <p>The poems, which are part of the Poems on the Underground programme, also draw attention to the grief suffered by those who survived and will coincide with the sale of poppies ahead of Remembrance Sunday. </p>
<p>The collection includes six poems. 'The Morning After' by Tony Harrison is a vivid personal memory of VJ Day in Leeds and includes the following contradictory line 'joy though banked with grief'.</p>
<p>'Passing-Bells' has the first 14 lines of a new poem by the poet laureate Carol Ann Duffy. </p>
<p>She writes in memory of soldiers lost in wars that continue to this day.</p>
<p>'Song in Space' is by Adrian Mitchell, who was a powerful advocate for poetry and a major anti-war activist. </p>
<p>'Lost in France' by Ernest Rhys, the founder of Everyman's Library, is in memory of a young man killed in the First World War.&nbsp; </p>
<p>'Futility' by Wilfred Owen, one of the most famous war writers, who died in France seven days before the Armistice ending the First World War, is about the senselessness of the slaughter that marked trench fighting.</p>
<p>The final poem 'Lines from Isaiah', with an image from the British Library copy of the King James Bible (1611) marking the 400th anniversary of the work, expresses the timeless hope for peace. </p>
<p>Judith Chernaik, Founder of Poems on the Underground, said: 'Loss of life, grief, war and the pursuit of peace have inspired poets for centuries. I hope that passengers will find the poems moving as they journey across the city.'</p>
<p>
<hr>
</p>
<p><strong>Notes to Editors:</strong></p>
<ul>
<li>Poems on the Underground was founded in 1986</li>
<li>Passing-Bells, a Concert of Remembrance will take place on Saturday 12 November at 7.30pm at LSO St Luke's, 161 Old Street, EC1 9NG. <br>Poems about war and peace will be read by Gerard Benson and Cicely Herbert and guest poets Tony Harrison, George Szirtes and Carole Satyamurti. Music will be performed by the Apollo Chamber Orchestra and conducted by David Chernaik. Tickets &pound;15 (&pound;10 concessions) are available from Barbican Box Office 0845 120 7552 or book online at lso.co.uk/lsostlukes Group bookings 020 7382 7211, code 12112. </li>
<li>The programme is supported by London Underground (Art on the Underground), Arts Council England and the British Council</li>
<li>Poems are selected and the programme administered by Judith Chernaik and poets Gerard Benson and Cicely Herbert</li>
<li>Praised for their elegance, clarity and simplicity, Poems on the Underground have inspired similar programmes on public transport in Dublin, Paris, New York, Vienna, Stockholm, Helsinki, Athens, Barcelona, Moscow, St Petersburg and, most recently, Shanghai and Warsaw</li>
<li>Best Poems on the Underground, the latest book from Poems on the Underground published by Phoenix paperback 2010 is available from all bookshops and directly from Orion Books at <a href="http://www.orionbooks.co.uk">www.orionbooks.co.uk</a> </li>
<li>London Underground (LU) is undertaking a major programme of renewal as part of Transport for London's (TfL's) multi-billion Tube upgrade. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;TfL is urging all Londoners and Tube, London Overground and DLR passengers to "check before you travel" at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a></li>
<li>Images available on request. <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The poems, which are part of the Poems on the Underground programme, also draw attention to the grief suffered by those who survived and will coincide with the sale of poppies ahead of Remembrance Sunday. The collection includes six poems. 'The Morning";}
        
        


 