


@{ViewBag.Title = "Oyster pay as you go to be extended to national rail stations between Liverpool Street and Hertford East ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Oyster pay as you go to be extended to national rail stations between Liverpool Street and Hertford East </h1>
        <div class="content-page-press-release">
        21 October 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has welcomed the news that as part of the franchise award to Abellio of the Greater Anglia national rail service Oyster pay as you go acceptance will be extended to key stations along the line.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Instead of swapping between tickets once they arrive in London, Greater Anglia commuters will be able to pay for all of their travel using the ease and convenience of Oyster."</div>
        <div class="quote-footer">
            <div class="quotee-name">Shashi Verma</div>
            <div class="quotee-job-title">TfL's Director of Customer Experience</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Instead of swapping between tickets once they arrive in London, Greater Anglia commuters will be able to pay for all of their travel using the ease and convenience of Oyster. 
                            
                        </p>
                    </div>
                
            
            
            <p>This includes: Theobalds Grove, Waltham Cross, Cheshunt, Brentwood, Shenfield, Broxbourne, Rye House, St Margarets, Ware and Hertford East. </p>
<p>The franchise, announced by the Department for Transport, is due to begin in February 2012.</p>
<p>The roll-out of Oyster pay as you go to all commuter rail services within Greater London in 2010 was a huge success and over 2.5 million journeys a week are now made using Oyster on National Rail. </p>
<p>Discussions have been ongoing with all of the train operating companies about extending the acceptance of Oyster beyond the Greater London Travelcard area where it makes sense to do so, and the Greater Anglia service is the first of these to be confirmed.</p>
<p>Shashi Verma, TfL's Director of Customer Experience, said: 'This is great news for commuters coming in to London from further out along the national rail network. Instead of swapping between tickets once they arrive in London, Greater Anglia commuters will be able to pay for all of their travel using the ease and convenience of Oyster. </p>
<p>'We look forward to working with Abellio on getting Oyster up and running at their key stations in the new year.'</p>
<p>Pay as you go with Oyster not only charges the lowest fares in nearly every case but also saves time, as there is no need to queue to buy a ticket, passengers simply top up their card at any suitable ticket machine or online. </p>
<p>TfL is only responsible for setting the Oyster pay as you go fares on its own services. </p>
<p>The fares for using Oyster on national rail, both in London and beyond the London borders, will continue to be the responsibility of the train company. </p>
<p>The costs of extending Oyster, including the installation of readers, will be met by Abellio.</p>
<p>TfL has also welcomed the additional improvements that the new franchise deal will deliver for London rail commuters along the Greater Anglia line, including station refurbishments with upgrades to CCTV and help points, additional cycle racks to encourage commuters to continue their journeys on two wheels, and new service status boards. </p>
<p>These improvements will deliver the same great benefits that customers have seen on the London Overground network since TfL took it over in 2007, a line which has seen ridership and performance increase significantly and was recently given an 89 per cent satisfaction rating in the national Passenger Focus survey. </p>
<p>
<hr>
</p>
<p><strong>Notes to Editors</strong></p>
<ul>
<li>'London Overground gets better and better say passengers' 29 June 2011 <a href="http://www.tfl.gov.uk/corporate/media/newscentre/archive/20393.html">www.tfl.gov.uk/corporate/media/newscentre/archive/20393.aspx</a></li>
<li>'Better services for East Anglian passengers under new franchise' 20 October 2011 <a href="http://www.dft.gov.uk/news/press-releases/dft-press-20111020">www.dft.gov.uk/news/press-releases/dft-press-20111020</a> <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This includes: Theobalds Grove, Waltham Cross, Cheshunt, Brentwood, Shenfield, Broxbourne, Rye House, St Margarets, Ware and Hertford East. The franchise, announced by the Department for Transport, is due to begin in February 2012.The roll-out of Oyster";}
        
        


 