


@{ViewBag.Title = "Real-time bus information now available anytime and anywhere";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Real-time bus information now available anytime and anywhere</h1>
        <div class="content-page-press-release">
        17 October 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Real-time bus service information for every London bus stop online and on your phone.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This technological step forward will revolutionise the way people use London's buses and will banish the need for them to ever wait at a bus stop again."</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">Director of Digital London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This technological step forward will revolutionise the way people use London's buses and will banish the need for them to ever wait at a bus stop again.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Largest and most advanced system in the UK </li>
<li>New and improved Countdown signs</li></ul>
<p>Londoners never need to run for a bus again from today, with the introduction of a new up-to-the-minute bus information service that can be accessed online, on a smart phone, and via text message and new improved Countdown signs at bus stops.</p>
<p>Whether you are at home wondering it you have time to finish that cup of coffee, or need to maximise time in the office or between meetings, you won't have to waste time or get cold waiting at a bus stop again.</p>
<p>Buses are one of the most convenient ways to travel in London with over 8,000 buses operating across 700 routes, many of them running 24 hours a day. </p>
<p>The new service provides live bus information for all 19,500 bus stops in the Capital. </p>
<h2>The power</h2>
<p>Director of Digital London, Kulveer Ranger, said 'Over six million bus journeys are made every day in London and this fantastic application of bus data will now enable people, wherever they are, whatever they are doing, to have at their fingertips the power to know exactly when their bus will reach any one of the Capital's 19,500 bus stops they want to use, at any time of day or night.&nbsp; </p>
<p>'This technological step forward will revolutionise the way people use London's buses and will banish the need for them to ever wait at a bus stop again.'</p>
<p>Access via the Transport for London (TfL) website, from a fixed computer or web enabled smart phone involves three simple steps:</p>
<ul>
<li>Go to the TfL Travel Tools webpage for live bus information </li>
<li>Enter a postcode, street name or bus stop code (these are clearly displayed at all bus stops or available on the TfL website) into the travel tool </li>
<li>View live bus arrival times, including bus destinations, for the next 30 minutes</li></ul>
<p>Passengers can search for their bus stops on the TfL website by using a bus route number, a street name or postcode. </p>
<p>A map will display all the bus stops in the local area from which passengers can select the stop they need. </p>
<p>This information can be filtered by route number and bus stop numbers can be bookmarked for easy future reference. </p>
<h2>New and improved </h2>
<p>Passengers without a Smartphone or access to the web can simply text the bus stop code to 87287 to get detailed bus information at a small charge.</p>
<p>New and improved Countdown signs will also replace all the existing 2,000 signs at bus stops, with an additional 500 new signs at selected key stops. </p>
<p>The new signs have improved visibility for visually impaired passengers and will display more travel information than the old signs.</p>
<p>Later this year all the data will be made freely available for developers to design specific smart phones applications around it, making it even easier for Londoners to find out exactly where their bus is.</p>
<p>
<hr>
<br><strong>Notes to editors:</strong> 
<p>
<ul>
<li>The SMS service costs 12p plus the network operator's standard SMS charge </li>
<li>All existing Countdown signs will be replaced as part of a rolling programme.&nbsp;Around an extra 500 will be fitted at key locations as part of this programme<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Largest and most advanced system in the UK New and improved Countdown signsLondoners never need to run for a bus again from today, with the introduction of a new up-to-the-minute bus information service that can be accessed online, on a smart phone, and";}
        
        


 