


@{ViewBag.Title = "Tramlink rewarded for helping restore Croydon";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tramlink rewarded for helping restore Croydon</h1>
        <div class="content-page-press-release">
        21 October 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Special prize awarded to Tramlink for outstanding achievement.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is a truly remarkable achievement and a worthy winner in this category"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Johnston</div>
            <div class="quotee-job-title">Publisher of Tramways and Urban Transit</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is a truly remarkable achievement and a worthy winner in this category
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Highest passenger numbers recorded on Tramlink network</li></ul>
<p>Tramlink has won the Judges' Special Award for Outstanding Achievement at the National Light Rail Awards. </p>
<p>The prize was given in recognition of the dedication and effort of the London Tramlink recovery team in response to the disruption caused by the civil disturbances in August.</p>
<p>London Tramlink worked quickly and effectively to restore a full service on the tram network, just two days after looters and arsonists had caused extensive damage to the tracks and cabling on which the tram network relies.</p>

<h2>Continued growth</h2>

<p>Howard Johnston, Publisher of Tramways and Urban Transit and one of the judges at the awards ceremony, said: 'Within just 48 hours, the clearly well organised Tramlink team had re-erected the overhead lines, made safe the damaged masts, cleared the clogged tracks, isolated the melted signals and had services back up and running under immensely difficult circumstances. This is a truly remarkable achievement and a worthy winner in this category.' </p>
<p>Councillor Jason Perry, Croydon Council's cabinet member for planning, transport and sustainability, said: 'This terrific one-day passenger figure is further evidence of the continued growth of the popularity of Tramlink, and of the council's dedication to providing an integrated and user-friendly transport network for the people who live and work in and around Croydon.</p>
<p>'The August disturbances were an example of the worst of human nature, but the way everybody responded to the call to help in the aftermath was a testament to the best of human nature. </p>
<p>'The London Rail Awards' recognition of Tramlink's efforts to get the network up and running is tangible evidence of all the hard work that was done after the trouble.' </p>
<h2>Record breaking</h2>
<p>Only one month after the disturbances in Croydon, the area and transport system are not only back on their feet, but fighting fit - with Tramlink recording its busiest day during normal transport operation.</p>
<p>On 23 September 2011 102,000 passengers boarded Transport for London's (TfL's) trams to make their journeys around the south east of the Capital. </p>
<p>The record breaking figure marks an almost 20 per cent increase on average daily passenger numbers. </p>
<p>A range of initiatives put in place by London Tramlink have boosted numbers of people using the trams. </p>
<h2>Commercial centre</h2>
<p>In the immediate aftermath of the civil disturbances, London Tramlink offered free travel on the tram network over the first weekend after the events&nbsp;-&nbsp;encouraging people back into Croydon's commercial centre and helping bring normality to local businesses. </p>
<p>In addition, TfL has increased the frequency of evening trams on the Wimbledon to New Addington line. </p>
<p>TfL has doubled the Tramlink service between 19:00 and 21:00 on weekdays, running a tram every seven minutes. </p>
<p>This increase in frequency has seen a seven per cent rise in passenger numbers on this route. </p>
<h2>Commitment </h2>
<p>TfL's Managing Director of London Underground and Rail, Mike Brown, said: 'TfL and London Tramlink are pleased to have registered such a vast increase in passenger numbers on a single day, securing our place firmly within Croydon's community as a key transport provider. </p>
<p>'We will continue our commitment to the area, and look to provide extra capacity on the Tramlink network ahead of the London 2012 Games.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The passenger figures reached on 23 September 2011 mark the second busiest day the service provider has seen. The busiest day was registered in November 2010 during the snow disruption when the tram reached an exceptionally high number of users, compensating for other transport providers being affected by the severe weather conditions&nbsp; </li>
<li>Average daily use on weekdays so far this year, stands at 87,000 passengers. The peak number of 102,000 passengers reached on (Friday) 23 September 2011 indicates a 17 per cent increase on the daily weekday average </li>
<li>Tramlink services are scheduled to increase in frequency when the six new trams commissioned this year, enter into service from spring 2012 </li>
<li>The 2011 National Light Rail Awards ceremony took place on Wednesday 5 October </li>
<li>A photograph of the award winning team is available</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Highest passenger numbers recorded on Tramlink networkTramlink has won the Judges' Special Award for Outstanding Achievement at the National Light Rail Awards. The prize was given in recognition of the dedication and effort of the London Tramlink recovery";}
        
        


 