


@{ViewBag.Title = "Transport for London leads the way with new Quantity Surveying apprenticeships";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London leads the way with new Quantity Surveying apprenticeships</h1>
        <div class="content-page-press-release">
        31 October 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is working with five suppliers to create a programme offering 12 new apprenticeship opportunities in quantity surveying.
        
    </div>



 <div class="on-this-page">
<p>The Greater London Authority (GLA) Group's Supplier Skills Team has assisted in developing a programme tailored to the skills needs of TfL and its supply chain, as well as supporting the opportunity to bring young talent into the industry.&nbsp; </p>
<p>The Mayor of London has set a target of 100,000 apprenticeships in London by the end of next year and this apprenticeship programme forms part of TfL's commitment to deliver more than 2,500 positions internally and through its suppliers by 2012.</p>
<p>Working in partnership with the <a href="http://www.cstt.org.uk">Chartered Surveyors Training Trust </a>(CSTT), TfL, Balfour Beatty, EC Harris, Morgan Sindall, Franklin+Andrews and Wates have given 12 young people the chance to train as a quantity surveyor while working on a range of projects across London including the upgrade of stations such as Tottenham Court Road and Bond Street, the sub-surface rail upgrade and Crossrail.</p>
<p>Recognising the industry and business benefits of recruiting apprentices in quantity surveying, TfL suppliers and London Underground have joined together to create the 12 positions. </p>
<h2>Helping young Londoners</h2>
<p>The CSTT specifically target young Londoners from disadvantaged communities.&nbsp; </p>
<p>As a result, these apprenticeships have been made available to young people who would otherwise have struggled to access employment.&nbsp; </p>
<p>The apprenticeships began in September and will last two years. </p>
<p>Apprentices attend college one day a week and then spend the rest of the time getting hands on experience with their employer.&nbsp;&nbsp; </p>
<p>On completion of the two-year apprenticeship programme, apprentices will be able to achieve Associate membership of the Royal Institution of Chartered Surveyors giving them a clear progression pathway to full chartered status. </p>
<p>The Mayor of London, Boris Johnson, said: 'To reach our target of 100,000 apprenticeships in London, we will need to work with a really broad cross section of employers to make sure there are as many routes as possible for apprentices to find their way into professional jobs. </p>
<p>'This new apprenticeship scheme, developed by TfL in partnership with business, is great news for budding quantity surveyors and a fantastic example for us to follow in the future.'</p>
<h2>Invaluable experience</h2>
<p>Junaid Oughradar, a TfL quantity surveying apprentice said: 'As an experience-based learner I researched apprenticeship schemes that would be suitable for me and this was perfect. </p>
<p>'I started in September, and I've already learnt so much. </p>
<p>'Over the next two years, I know that the skills and knowledge I will gain will be invaluable. </p>
<p>'The TfL apprenticeship scheme is the ideal stepping stone for anyone who aspires to become a fully qualified quantity surveyor and I fully recommend it.'</p>
<p>Martyn Brocks, Programme Commercial Manager at TfL said: 'We have worked closely with the Supplier Skills Team, CSTT and our suppliers, to develop this unique apprenticeship in quantity surveying. </p>
<p>'I'm delighted with the progress so far and the commitment from our suppliers and am sure this scheme can be rolled out further in the future. </p>
<p>'This apprenticeship provides a great opportunity for young Londoners to get into a profession that offers real career progression. </p>
<p>'The range of projects they are involved in across London also means they have the chance to play a part in the growth of the city.'</p>
<p>TfL was recently recognised for its work on developing skills in its supply chain at the Race for Opportunity awards help at the beginning of October. </p>
<p>The award acknowledged the efforts TfL has made and continues to make to deliver a huge number of apprenticeships and other skills in its supply chain. </p>
<p>
<hr>
</p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>The GLA Group's Supplier Skills Team is dedicated to <a href="http://www.london.gov.uk/rp/skills-employment">working with suppliers </a>across the GLA Group to maximise training, apprenticeship and employment opportunities arising from its contracts. This activity helps to ensure suppliers have capable and competent workforces, and increases the levels of opportunity for Londoners facing barriers to employment
<li><a href="http://www.cstt.org.uk">CSTT</a></li>
<ul>
<li>Established in 1984, the CSTT has been creating opportunities for young people to start a career in surveying for more than 25 years</li>
<li>As an independent charity, CSTT supports young people from deprived areas,&nbsp;or those who face a disadvantage to gaining employment as surveyors, to become qualified regardless of their academic, social or financial circumstances. Its programme of support runs from application to qualification</li>
<li>CSTT's training programmes are funded by the Skills Funding Agency, the Trust's employer partnerships, donations and grants</li>
<li>CSTT currently supports 28 students from first year to the final sixth year, with 15 students still available to appoint for a work placement in a variety of disciplines. To register interest to take on a student please contact <a href="mailto:lizzie.cooke&#64;cstt.org.uk">lizzie.cooke&#64;cstt.org.uk</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Greater London Authority (GLA) Group's Supplier Skills Team has assisted in developing a programme tailored to the skills needs of TfL and its supply chain, as well as supporting the opportunity to bring young talent into the industry.&nbsp; The Mayor";}
        
        


 