


@{ViewBag.Title = "Transport for London acquires Tube Lines' bonds";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London acquires Tube Lines' bonds</h1>
        <div class="content-page-press-release">
        19 October 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has announced that it has acquired approximately &pound;1bn of Tube Lines' debt, one of the latest steps in winding up the expensive, inefficient and flawed London Underground PPP.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"As we deliver more frequent and reliable services and protect the frontline, we are ensuring that we are getting the maximum value for every single pound of taxpayers' and fare payers' money"</div>
        <div class="quote-footer">
            <div class="quotee-name">Steve Allen</div>
            <div class="quotee-job-title">TfL's Managing Director Finance</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            As we deliver more frequent and reliable services and protect the frontline, we are ensuring that we are getting the maximum value for every single pound of taxpayers' and fare payers' money
                            
                        </p>
                    </div>
                
            
            
            <p>The debt acquisition means that TfL has bought back the majority of Tube Lines' overly complex and expensive &pound;1.6bn debt structure, following the acquisition of &pound;0.3bn of Tube Lines debt between August and September 2011.&nbsp; </p>
<p>TfL's AA+ rating means the organisation will be able to achieve more competitive borrowing rates than those secured by Tube Lines, delivering significant savings over the long-term.</p>
<p>TfL's Managing Director Finance, Steve Allen said: 'TfL is investing billions to upgrade and improve London's transport network.&nbsp; </p>
<p>'As we deliver more frequent and reliable services and protect the frontline, we are ensuring that we are getting the maximum value for every single pound of taxpayers' and fare payers' money.</p>
<p>'Following the transfer of Tube Lines to TfL in June 2010, we inherited debt that was more expensive than TfL is able to secure.&nbsp; </p>
<p>'Thanks to our AA+ rating, which is the result of the critical nature of transport infrastructure we provide, sound financial management and delivery against our upgrade and improvement programmes, we are able to achieve more attractive rates than those available to Tube Lines.'</p>
<p>Since acquiring Tube Lines TfL has completed the Jubilee line upgrade which was late and significantly over budget under Tube Lines' stewardship.&nbsp; </p>
<p>TfL is also ensuring that the next major upgrade, on the Northern line, will be delivered in a more efficient, economic and far less disruptive way to Londoners and businesses.&nbsp;</p>
<p>TfL has overhauled the closure programme for the Northern line upgrade, originally set out under the PPP, cutting the number of closures and reducing by over 60 per cent the disruption to customer journeys.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The debt acquisition means that TfL has bought back the majority of Tube Lines' overly complex and expensive &pound;1.6bn debt structure, following the acquisition of &pound;0.3bn of Tube Lines debt between August and September 2011.&nbsp; TfL's AA+";}
        
        


 