


@{ViewBag.Title = "Tube Lines sets green standard as double winner ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube Lines sets green standard as double winner </h1>
        <div class="content-page-press-release">
        28 October 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The environmental credentials of Tube Lines, a subsidiary of Transport for London, and the way it develops its employees - including apprentices - have been recognised by the Chartered Management Institute (CMI).
        
    </div>



 <div class="on-this-page">
<p>Tube Lines was a double winner in two new categories at the national Management and Leadership Awards organised by the CMI.</p>
<p>Tube Lines won the Training and Development Management award for its development schemes which target groups of employees like apprentices. </p>
<p>The apprentice scheme, which has previously won other awards, is a key way to bring new talent into the business and fill skills gaps in a cost-effective manner.</p>
<p>Hugely popular with those on the scheme, it enjoys a retention rate of 98 per cent. </p>
<h2>Ambitious targets</h2>
<p>Last month 20 new apprentices joined Tube Lines, supporting the Mayor of London's successful drive to increase the number of apprenticeships offered in London.</p>
<p>Mostly school leavers, the Tube Lines apprentices have completed inductions and are now doing two five-week training courses before starting on a series of work placements.</p>
<p>They will work towards NVQ certification.</p>
<p>Tube Lines also won the Social Responsibility Management (large enterprises) category for its Go Green environmental programme which has reduced the company's carbon footprint by thousands of tonnes and led the organisation to recycle an impressive 93 per cent of its waste - far in excess of national directives and even substantially exceeding the ambitious targets set by the London Mayor. </p>
<h2>Developing potential</h2>
<p>The CMI Management and Leadership Awards, incorporating the Institute of Consulting Awards, is the key annual event for recognising strong leadership, innovative management and continuous improvement and learning. </p>
<p>The awards are a benchmark against which organisations can measure their capabilities in these areas. </p>
<p>This year it introduced new categories including the two won by Tube Lines.</p>
<p>Tube Lines Chief Executive Jon Lamonte said: 'It's not just good practice to pay attention to how you develop people and to consider your impact on the environment - it's good business sense and is helping us to improve the way our Underground lines run.</p>
<p>'I'm delighted that teams at Tube Lines who work hard and live our values of delivery through our people and excellence through continuous improvement have received this recognition.'</p>
<p>
</p>
<hr />
<p>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
    <li>Tube Lines is a subsidiary of TfL and responsible for maintaining and upgrading the Jubilee, Northern and Piccadilly lines on the London Underground </li>
    <li>Visit <a href="http://www.makeyourmarkonlondon.com">www.makeyourmarkonlondon.com</a> for details of the Tube Lines apprentice and graduate development programmes</li>
    <li>Images and further information are available on request<br /></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Tube Lines was a double winner in two new categories at the national Management and Leadership Awards organised by the CMI.Tube Lines won the Training and Development Management award for its development schemes which target groups of employees like";}
        
        


 