


@{ViewBag.Title = "Two thirds of bendy buses converted and major savings being made ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Two thirds of bendy buses converted and major savings being made </h1>
        <div class="content-page-press-release">
        06 October 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor is more than two thirds of the way towards fulfilling his pledge to rid the Capital of bendy buses.
        
    </div>



 <div class="on-this-page">
<p>The final bus will leave London in December and now Transport for London (TfL) has revealed its latest financial calculations estimate that when all 12 routes are converted it will save more than &pound;7m a year thanks to the anticipated reduction in fare evasion. </p>
<p>When every route is converted passengers will also be able to travel on almost 500 new vehicles that boast the latest clean engine technology. </p>
<p>More than 50 of those buses will be hybrid double deck buses with the first 20 already on the Capital's roads. </p>
<p>When compared to standard diesel vehicles the new hybrid buses are cleaner, quieter and more efficient, delivering a minimum 30 per cent reduction in carbon dioxide and 30 per cent better fuel economy. </p>
<p>Introducing this technology will deliver immediate and long term benefits to quality of life by reducing pollution and CO2 emissions.&nbsp; </p>
<p>TfL has also reviewed service patterns on the 12 routes being converted to ensure that they best match passenger demand. </p>
<p>Every route has had, or will have when converted, an increase in frequency of buses at peak time. </p>
<p>Plus the vast majority of passengers will see either the same or an increased frequency across the week. </p>
<p>Boris Johnson, the Mayor of London, said: 'More than two thirds of these cumbersome machines have now been banished from the Capital with the remainder departing by the end of the year. </p>
<p>'They were never suited to London's narrow thoroughfares and with their departure fare dodgers are now left with no place to hide. </p>
<p>'Even better we are getting some truly clean, green machines out there that are less polluting than their predecessors.'</p>
<p>A breakdown of the financial impact of removing bendy buses from London released today shows that when every bendy bus route has been converted there will be an annual saving of around &pound;7.1m due to a vastly reduced rate of fare evasion on these routes.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Routes 38, 507 and 521 were converted in 2009, routes 18 and 149 in 2010, route 25 in June 2011, route 73 and 453 in September 2011 </li>
<li>The remaining routes - 12, 29, 207, and 436 - will have their bendy buses replaced with double-decker buses by the end of 2011 </li>
<li>A one-off cost of &pound;2.2m will be incurred this year in respect of routes 29 and 207, where the conversions are happening in advance of the operating contracts being retendered. However there is a substantial overall saving to TfL because as a slight increase in contract costs is more than offset by an expected reduction in fare evasion, following the conversion of all 12 articulated routes, of &pound;7.4m per year </li>
<li>Service patterns on all the routes were fully reviewed prior to conversion, to ensure that service levels continue to be well matched to passenger demand. All routes have, or will have increases in peak-time frequencies and the vast majority of passengers will have the same or increased frequency across the day and week </li>
<li>Change in costs:</li></ul>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="100%" border="1">
<tbody>
<tr>
<td>&nbsp;<strong>Route</strong></td>
<td><strong>&nbsp;Cost before (&pound;thousand per year)</strong></td>
<td><strong>&nbsp;Cost after (&pound;thousand per year)</strong></td>
<td><strong>&nbsp;Change (&pound;thousand per year)*</strong></td></tr>
<tr>
<td><strong>&nbsp;12</strong></td>
<td>&nbsp;8,784</td>
<td>&nbsp;8,781</td>
<td>&nbsp;-4</td></tr>
<tr>
<td>&nbsp;<strong>18</strong></td>
<td>&nbsp;11,372</td>
<td>&nbsp;12,032</td>
<td>&nbsp;660</td></tr>
<tr>
<td>&nbsp;<strong>25</strong></td>
<td>&nbsp;13,955</td>
<td>&nbsp;13,832</td>
<td>&nbsp;-123</td></tr>
<tr>
<td>&nbsp;<strong>29</strong></td>
<td>&nbsp;10,204</td>
<td>&nbsp;10,780</td>
<td>&nbsp;576</td></tr>
<tr>
<td>&nbsp;<strong>38</strong></td>
<td>&nbsp;13,071</td>
<td>&nbsp;14,848</td>
<td>&nbsp;777</td></tr>
<tr>
<td>&nbsp;<strong>73</strong></td>
<td>&nbsp;13,622</td>
<td>&nbsp;11,830</td>
<td>&nbsp;-1,792</td></tr>
<tr>
<td>&nbsp;<strong>149</strong></td>
<td>&nbsp;9,102</td>
<td>&nbsp;8,136</td>
<td>&nbsp;-996</td></tr>
<tr>
<td>&nbsp;<strong>207</strong></td>
<td>&nbsp;9,835</td>
<td>&nbsp;9,513</td>
<td>&nbsp;-321</td></tr>
<tr>
<td>&nbsp;<strong>436</strong></td>
<td>&nbsp;6,879</td>
<td>&nbsp;6,948</td>
<td>&nbsp;69</td></tr>
<tr>
<td>&nbsp;<strong>453</strong></td>
<td>&nbsp;6,938</td>
<td>&nbsp;7,652</td>
<td>&nbsp;714</td></tr>
<tr>
<td>&nbsp;<strong>507</strong></td>
<td>&nbsp;1,853</td>
<td>&nbsp;2,275</td>
<td>&nbsp;423</td></tr>
<tr>
<td>&nbsp;<strong>521</strong></td>
<td>&nbsp;3,144</td>
<td>&nbsp;3,431</td>
<td>&nbsp;287</td></tr>
<tr>
<td>&nbsp;<strong>Total</strong></td>
<td>&nbsp;109,757</td>
<td>&nbsp;110,059</td>
<td>&nbsp;302</td></tr></tbody></table></div></p>
<p>*Figures in this column are rounded to the nearest &pound;thousand</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The final bus will leave London in December and now Transport for London (TfL) has revealed its latest financial calculations estimate that when all 12 routes are converted it will save more than &pound;7m a year thanks to the anticipated reduction in";}
        
        


 