


@{ViewBag.Title = "Victoria Tube station escalator work completed three months early";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Victoria Tube station escalator work completed three months early</h1>
        <div class="content-page-press-release">
        18 October 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Engineers worked flat out to give customers full station access again three months ahead of schedule.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This work was crucial as part of modernising and enlarging Victoria Tube station."</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">LU's Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This work was crucial as part of modernising and enlarging Victoria Tube station.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Essential work to meet growing demand at one of London's busiest stations</li></ul>
<p>Tube customers at Victoria station have full use of the busy interchange again after London Underground (LU) completed refurbishing the 42-year-old escalators in the main ticket hall three months ahead of schedule.</p>
<p>The station is undergoing a &pound;700m redevelopment, which will dramatically increase its size as well as improving accessibility for all.&nbsp;&nbsp;</p>
<p>A new ticket hall, interchange passage, escalators and lifts will be completed by 2018 to enable the station to cope with increasing numbers of customers. </p>
<h2>21 million customers</h2>
<p>The escalator work that has just been completed will mean more reliable operation of the station in the meantime as well as returning capacity for customers getting on and off the Victoria line.</p>
<p>The three escalators which run down to the Victoria line platforms and which include the second most-used escalator in the world with 21 million customers hopping on each year, were out of service one at a time, in sequence, while they were being worked on. </p>
<p>LU engineers worked around the clock to complete the work as quickly as possible to minimise disruption for customers, who were asked to use other stations as much as possible during the works.</p>
<p>While the works were carried out LU staff worked hard to help all customers including disabled passengers get to their destinations as quickly and easily as possible, arranging alternative routes or transport where necessary. </p>
<h2>Extra station staff</h2>
<p>Howard Collins, LU's Chief Operating Officer, said: 'We have worked flat out to get all the escalators refurbished and back in customer service early - and over three months ahead of schedule - well ahead of the London 2012 Games when there will be increased demand.</p>
<p>'This work was crucial as part of modernising and enlarging Victoria Tube station, which&nbsp; is one of the busiest stations on London Underground, with 80 million passengers a year, expected to reach nearly 100 million a year by 2016.</p>
<p>'While the works were carried out we brought in extra station staff to assist and all our staff did an excellent job helping all customers, including disabled customers get to their destinations as quickly and easily as possible, arranging alternative routes or transport where necessary. </p>
<p>'We would like to thank customers for their patience during these works which we carried out in this way to avoid completely shutting the station or non-stopping trains.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the capital and the UK. The benefits for Londoners will be great, with more trains - many with air conditioning - delivering faster, more frequent and reliable journeys. The Tube upgrade will mean a big increase in capacity of around 30 per cent </li>
<li>Around &pound;6.5bn has been invested in upgrading and extending transport links and this will enable spectators to get to and from the Games each day and ensure we will keep London moving </li>
<li>This is already providing an early legacy of better transport options, particularly for people living in east London, which will continue long after the 2012 Games<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Essential work to meet growing demand at one of London's busiest stationsTube customers at Victoria station have full use of the busy interchange again after London Underground (LU) completed refurbishing the 42-year-old escalators in the main ticket hall";}
        
        


 