


@{ViewBag.Title = "Application fee to be introduced for new Zip Oyster photocard applications from 1 September ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Application fee to be introduced for new Zip Oyster photocard applications from 1 September </h1>
        <div class="content-page-press-release">
        23 July 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The fee will help with the administrative costs of the generous child and student concessionary travel scheme.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Young Londoners have the Capital at their finger tips thanks to one of the most generous concessionary travel schemes in the country"</div>
        <div class="quote-footer">
            <div class="quotee-name">Shashi Verma</div>
            <div class="quotee-job-title">TfL's Director of Fares and Ticketing</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Young Londoners have the Capital at their finger tips thanks to one of the most generous concessionary travel schemes in the country
                            
                        </p>
                    </div>
                
            
            
            <p>The 18+Student Oyster photocards are now valid for up to three years and cardholders get access to enhanced online accounts to make renewals faster and easier.</p>
<p>Transport for London (TfL) has announced that from 1 September, a &pound;10 fee will be applied to new applications for Zip Oyster photocards, which provide school children with free London bus and tram travel and discounted Tube travel. </p>
<p>For 18+ Student Oyster concessionary travel, the application fee will be increased from &pound;5 to &pound;10.</p>
<p>More than half a million school children in London currently benefit from concessionary travel through the Zip Oyster photocard schemes and the Mayor is committed to protecting this incredibly valuable concession despite tough financial times. </p>
<p>However a one-off &pound;10 fee for new Zip photocards has been introduced to help cover the costs of administering the scheme, which includes processing application forms, photocard production and postage. </p>
<p>Oyster Zip photocards for 5 to 10-year-olds and 11 to 15-year-old school children are valid for up to five years. </p>
<p>New applications for the cards can be made at any time at any post office in Greater London.</p>
<p>Applications for new 16+ Oyster Zip photocards will open on 1 September to coincide with the beginning of the new school year.</p>
<h2>Value for money</h2>
<p>Shashi Verma, TfL's Director of Fares and Ticketing, said: 'Young Londoners have the Capital at their finger tips thanks to one of the most generous concessionary travel schemes in the country, which saves thousands of pounds for parents. </p>
<p>'It enables over a million children and students to travel on London's buses, trams and the Tube for free or at a significant discount.</p>
<p>'The &pound;10 application fee being brought in will help to cover the administrative costs associated with providing the various concession schemes and still represents fantastic value for money considering it would be recouped for many in only one school week of bus use. </p>
<p>'We also hope the fee will help increase the sense of responsibility that users have for their cards.'</p>
<p>New applications for 18+ Student Oyster photocards, which give 30 per cent off adult-rate Travelcards and Bus &amp; Tram Passes, will also be accepted from 1 September 2010 to coincide with the start of the new academic year for colleges and schools. </p>
<p>From September, 18+ Student Oyster photocards will now be valid for up to three years depending on the duration of the full-time course the student is enrolled on. </p>
<p>Students with an 18+ Student Oyster photocard will also have access to an enhanced online application and renewal service making it even easier for them to get around.</p>
<p>Students on courses of more than one year will be able to use their new online account to confirm their continued eligibility at the start of the next academic year, without needing to reapply and pay an additional application fee. </p>
<p>The enhanced online application and renewal process will make it quicker and easier for students to check the progress of their applications and if it has been rejected correct any mistakes online. </p>
<p>Over 600 schools, colleges and universities currently participate in the 18+ Student Oyster photocard scheme and TfL issues around 300,000 18+ Oyster Photocards each academic year.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Non-London residents are also able to apply for a Zip Oyster photocard (for school children between 5 and 18-years-old) and are also subject to the &pound;10 administration fee. Previously this payment was converted to credit for travel, however it will now be used towards the costs of producing the card </li>
<li>Application forms for Zip Oyster and 18+ Student Oyster photocards can be obtained from post offices in Greater London and via participating schools and colleges</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The 18+Student Oyster photocards are now valid for up to three years and cardholders get access to enhanced online accounts to make renewals faster and easier.Transport for London (TfL) has announced that from 1 September, a &pound;10 fee will be applied";}
        
        


 