


@{ViewBag.Title = "Bicycles in place for Mayor's flagship Barclays Cycle Hire scheme";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bicycles in place for Mayor's flagship Barclays Cycle Hire scheme</h1>
        <div class="content-page-press-release">
        29 July 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than 11,000 members now signed up, but members urged to activate their keys.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"For as little as 12p a day members of the public who have signed up to this fantastic new addition to our transport system will have the freedom of central London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            For as little as 12p a day members of the public who have signed up to this fantastic new addition to our transport system will have the freedom of central London
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Scheme to go live at&nbsp;06:00 tomorrow </li>
<li>5,000 thousand cycles and more than 300 docking stations available</li></ul>
<p>Thousands of bicycles are being moved into position today for tomorrow's eagerly awaited launch of the Mayor of London, Boris Johnson's cycling scheme.</p>
<p>The bicycles are being brought to docking stations throughout the afternoon and evening, where they can be hired and returned once the flagship scheme goes live from&nbsp;06:00 tomorrow morning. </p>
<h2>Activate keys</h2>
<p>When London's latest transport system is fully rolled out there will be around 6,000 bikes in the Capital, at some 400 docking stations.</p>
<p>Londoners or visitors to the Capital who want to use the brand new system during its first month of operation will need to be a member of Barclays Cycle Hire, and are being urged to activate the keys they receive.</p>
<p>The Mayor of London, Boris Johnson, said:&nbsp; 'It is thrilling to see the first bikes being rolled into position for this wonderful event.&nbsp;</p>

<p>'For as little as 12p a day members of the public who have signed up to this fantastic new addition to our transport system will have the freedom of central London. </p>

<p>'The priority now for the thousands who have registered must be to activate their keys to ensure they can take to two wheels tomorrow morning.' </p>
<h2>Cycling revolution</h2>
<p>David Brown, the Managing Director of Surface Transport at TfL, said, 'Barclays Cycle Hire will revolutionise how we get around central London. </p>

<p>'And if you want to be at the front of that revolution, don't forget to activate your key before you try to hire a bicycle. Thousands of people have now signed up, and we want them to be as ready as the bikes.'</p>
<p>The bicycles are being put into more than 300 docking stations across central London by Serco, who are operating the scheme for the Mayor and Transport for London.<br>
<hr>

<p>
<p><strong>Notes to editors </strong></p><strong></strong>
<ul>
<li>Barclays Cycle Hire will initially be available to people who sign up for membership </li>
<li>A membership key costs &pound;3 with membership costs at &pound;1 for a 24 hour membership, &pound;5 for seven days and &pound;45 for an annual membership. The first 30 minutes of any journey will be free. For more information on how to become a member of Barclays Cycle Hire and advice on how to use the scheme visit <a href="http://www.tfl.gov.uk/barclayscyclehire">www.tfl.gov.uk/barclayscyclehire</a><br></li>
<li>Members of the scheme must be at least 18 years old, and you will need to be at least 14 years old to use the scheme </li>
<li>Barclays Cycle Hire, which will be operated by Serco Limited on behalf of TfL, will be the most sustainable and environmentally friendly form of public transport ever seen in the Capital </li>
<li>Barclays Cycle Hire and Barclays Cycle Superhighways will build on the massive 117 per cent growth in cycle journeys on London's major roads since TfL was created in 2000 </li>
<li>Barclays Cycle Hire is expected to generate up to 40,000 extra cycle trips a day in central London </li>
<li>Barclays Cycle Hire will operate across central London. Docking stations and hire bicycles will be available in Camden, City of London, Hackney, Islington, Lambeth, Kensington &amp; Chelsea, Southwark, Tower Hamlets, Westminster and several of the Royal Parks </li>
<li>Follow us on Twitter at&nbsp; <a href="http://www.twitter.com/BarclaysCycle">www.twitter.com/BarclaysCycle</a>&nbsp; </li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Scheme to go live at&nbsp;06:00 tomorrow 5,000 thousand cycles and more than 300 docking stations availableThousands of bicycles are being moved into position today for tomorrow's eagerly awaited launch of the Mayor of London, Boris Johnson's cycling";}
        
        


 