


@{ViewBag.Title = "Bike convoys lead the way as London gears up for Mayor's Barclays Cycle Superhighways ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bike convoys lead the way as London gears up for Mayor's Barclays Cycle Superhighways </h1>
        <div class="content-page-press-release">
        13 July 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor and Transport for London (TfL) today announced a programme of guided cycle rides that will be available this summer to support Londoners who want to start commuting on the Mayor's new Barclays Cycle Superhighways.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"More and more Londoners are switching to the joys of pedal power"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's Transport Adviser</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            More and more Londoners are switching to the joys of pedal power
                            
                        </p>
                    </div>
                
            
            
            <p>Two pilot routes, part of the Mayor's commitment to bring a cycling revolution to London, launch on Monday 19 July and run from Merton to the City and from Barking to Tower Gateway.</p>
<p>The first rides will take place on launch day, and then be available on Tuesdays and Wednesdays for four subsequent weeks. </p>
<p>Subject to demand, the rides will depart from eight different locations along&nbsp;- or in close proximity to&nbsp;- the Superhighways. </p>
<p>Those taking part will be greeted by trained marshals from the London Cycling Campaign, who will give each bicycle a basic check before leading the riders into central London, arriving before 9:00.</p>
<p><a href=" http://www.tfl.gov.uk/guidedcyclerides">Full details </a>of these guided rides, including departure points, are available online.</p>

<h2>Take to two wheels</h2>
<p>Kulveer Ranger, the Mayor of London's Transport Adviser, said: 'With the Capital's two flagship cycling schemes just around the corner, more and more Londoners are switching to the joys of pedal power. </p>
<p>'These guided cycle rides, launching alongside the start of our Superhighways, are a simple way of offering support to new cyclists who would like a little extra help to gain the confidence they need to get onto two wheels.'</p>
<p>Ben Plowden, Director of Better Routes and Places at TfL, said: 'Cycling has soared in popularity in London in recent years but swapping to a pedal powered commute can be daunting. </p>
<p>'For this reason, TfL is offering guided cycle rides with the aim of encouraging as many Londoners as possible to reap the benefits of getting to work or college by bike.'</p>
<p>Guided cycle rides are just one of the initiatives being introduced in London's year of cycling by the Mayor and TfL to further boost the number of people travelling by bike, following a 117 per cent increase in cycling on London's major roads in the past decade. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li><a href="http://www.tfl.gov.uk/guidedcyclerides">Full details </a>of the guided cycle rides that start on Monday 19 July are available online. Those wanting to join one of the rides must register their interest in advance by emailing <a href="mailto:smartertravel&#64;tfl.gov.uk">smartertravel&#64;tfl.gov.uk</a> and will be sent a confirmation email with information on the ride start points and times. Subject to demand, rides will depart from the following locations at the following times: 
<ul>
<li>Colliers Wood to the City, departing from Baltic Close/Colliers Wood High Street at 07:30 </li>
<li>Wandsworth to the City, departing from Nightingale Lane/Bolingbroke Grove&nbsp;at 07:45 </li>
<li>Tooting Bec to the City, departing from Balham High Road/Trinity Road at 07:45 </li>
<li>Brixton to the City, departing from Brixton Road (opposite Brixton Tube station) at 07:45 </li>
<li>Clapham to the City, departing from Bus Stop E at Clapham Common at 07:45 </li>
<li>Barking to the West End via the City, departing from the Docklands Light Railway station forecourt at 07:30 </li>
<li>Beckton to the West End via the City, departing from the Docklands Light Railway station forecourt at 07:30 </li>
<li>Poplar to the West End via the City, departing from Tower Hamlets College, 112 Poplar High Street at 07:45</li></ul></li>
<li>Barclays Cycle Superhighways are clearly marked cycle routes designed to make it quicker, easier and safer for Londoners to commute by bicycle between outer and inner London. A key part of the Mayor's commitment to stimulate a cycling revolution in the Capital, the <a href="http://www.tfl.gov.uk/barclayscyclesuperhighways">Barclays Cycle Superhighways </a>will provide highly visible, direct and continuous routes for cyclists. The two pilot routes will run from Merton to the City, and Barking to Tower Gateway, and will launch on Monday 19 July </li>
<li>The Mayor and TfL are working towards a target of increasing the number of cycle journeys made in London by 400 per cent by 2026 (compared to 2000 levels)<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Two pilot routes, part of the Mayor's commitment to bring a cycling revolution to London, launch on Monday 19 July and run from Merton to the City and from Barking to Tower Gateway.The first rides will take place on launch day, and then be available on";}
        
        


 