


@{ViewBag.Title = "Blackwall Tunnel closed to southbound traffic this weekend";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Blackwall Tunnel closed to southbound traffic this weekend</h1>
        <div class="content-page-press-release">
        15 July 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Drivers advised to avoid the area if at all possible.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our contractor will be working 24 hours a day to ensure that these works are completed as soon as possible
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Southbound traffic to be diverted from 21.00 Friday to 05.00 Monday on 16-19 July </li>
<li>Rotherhithe Tunnel to be southbound only during closures to provide additional southbound capacity</li></ul>
<p>The Blackwall Tunnel will be closed to southbound traffic this weekend as part of the ongoing refurbishment and safety upgrade of the 113 year old tunnel. </p>
<p>This will allow Transport for London's (TfL's) contractor, BAM Nuttall, to carry out vital improvement works to the tunnel that can't be carried out during the weeknight closure programme. </p>
<h2>Southbound traffic diverted</h2>
<p>During the weekend closure, the Rotherhithe Tunnel will be converted to only carry southbound traffic across the weekend, while the Blackwall Tunnel will only carry northbound traffic. </p>
<p>Drivers who would usually use the Rotherhithe or Blackwall Tunnel will also be able to use alternative river crossings such as Tower Bridge, the Woolwich Ferry or the Dartford Crossing to complete their journey.</p>
<p>The Woolwich Ferry will run additional services between 06.10 - 22.00 on Saturday and 09.00 - 21.30 on Sunday to help reduce congestion and provide an alternative river crossing during the closures. </p>
<p>Garrett Emmerson, Chief Operating Officer for London Streets, TfL, said: 'We apologise for the inconvenience this weekend closure may cause while these essential works are being carried out. </p>
<p>'Our contractor will be working 24 hours a day to ensure that these works are completed as soon as possible. </p>
<h2>Avoid the area</h2>
<p><br>&nbsp;'We are endeavouring to provide a better balance between northbound and southbound traffic by making the Rotherhithe Tunnel operate two southbound lanes while the Blackwall Tunnel is closed. </p>
<p>'However, given the levels of traffic congestion experienced during the last two weekend closures, we do advise drivers to avoid the area during this weekend if at all possible.'</p>
<p>TfL expects to need up to 10 weekend closures during the three year Blackwall Tunnel refurbishment programme. The remaining dates will be announced in advance of the closures as work progresses.</p>
<p>Work on the refurbishment will be completed by December 2012. For more information, visit <a href="http://www.tfl.gov.uk/blackwalltunnelrefurbishment">www.tfl.gov.uk/blackwalltunnelrefurbishment</a>.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p><strong></strong>
<ul>
<li>This will be the third of five planned weekend closures for the Blackwall Tunnel this year.&nbsp;They are needed to complete essential improvement works to bring the northbound tunnel up to modern safety standards and cannot be completed during the normal overnight closures </li>
<li>TfL announced the dates of the five weekend closures that are required in May 2010, see our <a title="Blackwall Tunnel press release" href="/static/corporate/media/newscentre/archive/15484.html">press release&nbsp;</a> </li>
<li>TfL agreed the dates for the weekend closures following discussion with a number of key stakeholders including surrounding local boroughs, Canary Wharf Group, The O2 and Connect Plus, and have been timed to avoid weekend closures of the Jubilee line and major events in the area </li>
<li>Variable Message Signs will be located on key approach roads to both Blackwall Tunnel and Rotherhithe Tunnel to divert traffic to an appropriate river crossing </li>
<li>The Rotherhithe Tunnel will continue to operate two-way traffic during the ongoing weekday overnight closures of the Blackwall Tunnel </li>
<li>While the refurbishment works are carried out, northbound traffic is diverted through the southbound tunnel. Because the diversion involves chicanes, a 20mph speed limit is put in place each night and enforced by average speed cameras. Southbound traffic uses other river crossings </li>
<li>There is no toll for using the Dartford - Thurrock river crossing between 22:00 and 06:00 </li>
<li>While the northbound tunnel is closed for refurbishment works, the Route 108 (which is the only bus to use the Blackwall Tunnel) is affected. For more details, please visit <a title="Blackwall Tunnel" href="/corporate/projectsandschemes/14072.aspx">Blackwall Tunnel refurbishment</a> or check local information at bus stops </li>
<li>The three year, &pound;70 million refurbishment programme of the northbound Blackwall Tunnel will include the installation of new fire and incident detection systems and a new CCTV camera system, along with better access for emergency services. These improvements will make the tunnel meet the latest safety standards and will help to ensure the safe continued use of the tunnel, which was built in 1897 and carries 50,000 vehicles a day<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Southbound traffic to be diverted from 21.00 Friday to 05.00 Monday on 16-19 July Rotherhithe Tunnel to be southbound only during closures to provide additional southbound capacityThe Blackwall Tunnel will be closed to southbound traffic this weekend as";}
        
        


 