


@{ViewBag.Title = "Customers are reminded that the Hammersmith & City and Circle lines between Hammersmith and Edgware Road are set for three-week upgrade closure ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Customers are reminded that the Hammersmith & City and Circle lines between Hammersmith and Edgware Road are set for three-week upgrade closure </h1>
        <div class="content-page-press-release">
        21 July 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Block closure between 24 July and 15 August due to Crossrail and London Underground (LU) station upgrade works at Paddington
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We apologise for any inconvenience this may cause, and would advise passengers to check for alternatives routes by visiting www.tfl.gov.uk"</div>
        <div class="quote-footer">
            <div class="quotee-name">Nigel Holness</div>
            <div class="quotee-job-title">LU's Service Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We apologise for any inconvenience this may cause, and would advise passengers to check for alternatives routes by visiting www.tfl.gov.uk
                            
                        </p>
                    </div>
                
            
            
            <p>LU will take advantage of closure to carry out additional upgrade work.</p>
<p>Work at Paddington to help deliver Crossrail and an upgrade of the Tube station will mean LU Circle and Hammersmith &amp; City line services will be suspended between Hammersmith and Edgware Road for three weeks this summer.</p>
<p>The works at Paddington will involve the demolition of a disused taxi ramp and canopy that sit above the Hammersmith &amp; City platforms and means that trains will not be able to operate in that area.</p>
<p>LU will also take advantage of the blockade to carry out essential renewal and upgrade works, which otherwise could have required weekend closures. </p>
<p>These include: </p>
<ul>
<li>Platform extension works to accommodate the new longer air-conditioned trains </li>
<li>Installing energy efficient conductor rails </li>
<li>Track replacement and drainage works</li></ul>
<p>The closure will commence this Saturday (24 July) and services will resume on Monday 16 August. </p>
<p>Hammersmith &amp; City services will operate from Edgware Road to Whitechapel while Circle line services will operate the old route. </p>
<p>Rail replacement services will operate between Hammersmith and Edgware Road and there will be ticket acceptance on local bus and Tube services. </p>
<p>Nigel Holness, LU's Service Director, said: 'Due to nature of the works at Paddington we will not be able to operate services between Hammersmith and Edgware Road. </p>
<p>'We are taking advantage of this to accelerate additional upgrade works including platform extension essential for the new longer air-conditioned trains. </p>
<p>'We apologise for any inconvenience this may cause, and would advise passengers to check for alternatives routes by visiting <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a>&nbsp;</p>
<h2>Vital to future growth</h2>
<p>TfL is delivering a multi-billion pound Investment Programme to improve and expand the transport network. </p>
<p>Between now and 2018, TfL will be upgrading the Tube network, build Crossrail, and expand the Docklands Light Railway&nbsp;and London Overground networks, as well as delivering other major improvements. </p>
<p>Such investment is vital to the future growth, prosperity and the competitiveness of London and the UK, particularly for creating new jobs and opportunities.</p>
<p>
<hr>
&nbsp; <strong>Notes to editors:</strong> 
<ul>
<li>New trains (SSR upgrade) - New trains equipped with air cooling will be delivered for the sub-surface network from 2010 onwards. Metropolitan from summer 2010, Circle and Hammersmith &amp; City lines&nbsp;from 2012 and District line from 2013 </li></ul>
<p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "LU will take advantage of closure to carry out additional upgrade work.Work at Paddington to help deliver Crossrail and an upgrade of the Tube station will mean LU Circle and Hammersmith &amp; City line services will be suspended between Hammersmith and";}
        
        


 