


@{ViewBag.Title = "Cycle safety video launched for Mayor's flagship cycling scheme";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Cycle safety video launched for Mayor's flagship cycling scheme</h1>
        <div class="content-page-press-release">
        26 July 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        'Code of conduct' sets out rules of the road
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'The film is quirky and fun, but also packed full of important hints and tops about staying safe and taking a common sense approach to cycling in London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's Transport Advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'The film is quirky and fun, but also packed full of important hints and tops about staying safe and taking a common sense approach to cycling in London
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>4,500 signed up for membership </li>
<li>Londoners called to register for membership ahead of the launch of Barclays Cycle Hire on Friday</li></ul>
<p>With the Mayor's flagship cycling scheme Barclays Cycle Hire just days away from launch, a new film has been released online packed with essential advice to help new, rusty or current cyclists to polish up their on-the-road skills.&nbsp; </p>
<p>To help people get the most out of cycling in London and Barclays Cycle Hire, the short animated video produced by Transport for London (TfL) provides tips for new cyclists such as finding the ideal road position and staying visible by avoiding blind spots of larger vehicles. </p>
<p>The film also highlights TfL's common sense 'Code of Conduct' that all Barclays Cycle Hire users are expected to adhere to. </p>
<p>It can be viewed along with a short film explaining how Barclays Cycle Hire works at <a href="http://www.youtube.com/user/BarclaysCycle">www.youtube.com/user/BarclaysCycle</a>.</p>
<p>Kulveer Ranger, the Mayor of London's Transport Advisor, said: 'The film is quirky and fun, but also packed full of important hints and tops about staying safe and taking a common sense approach to cycling in London. </p>
<h2>Encourage an increase</h2>
<p>'The top priority of the cycling revolution we're bringing to London is safety and I hope as many new cyclists as possible will see this film and it becomes a YouTube sensation.'</p>
<p>David Brown, Managing Director of Surface Transport at TfL, said: 'Barclays Cycle Hire will encourage a massive increase in cycle usage in the Capital and TfL is dedicated to ensuring those who choose to cycle in London are as confident and assured as possible so that they can make the most of London's new public transport system. </p>
<p>'We know that it will take time for the scheme to bed in, however TfL is keen to use every means at its disposal to help people get accustomed to cycling in the city.'</p>
<p>People using the bikes will be able to pick up and drop off one of the 6,000 hire bicycles at around 400 locations across central London once complete. This means that there will be a docking station every 300 metres or so.</p>
<p>Anyone wanting to find out more about the scheme can visit one of the Barclays Cycle Hire roadshows currently touring central London until October and it is possible to get an early taste of the cycles by signing up for TfL-subsidised safety training across any of the nine inner London boroughs that are home to the scheme.</p>
<p>More information about these activities and how to sign up as a member is available at <a href="http://www.tfl.gov.uk/barclayscyclehire">www.tfl.gov.uk/barclayscyclehire</a></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Mayor's Barclays Cycle Hire launches on 30 July 2010 </li>
<li>For more information about Barclays Cycle Hire, and to register your interest in the scheme, visit <a href="http://www.tfl.gov.uk/barclayscyclehire">www.tfl.gov.uk/barclayscyclehire</a> </li>
<li>To use hire bicycles you will need to buy access as a member. Once a &pound;1 daily or &pound;5 weekly access fee has been paid or when annual membership has been purchased at a cost of &pound;45, all journeys under 30 minutes are free of usage charges. Usage charges for longer journeys will be debited from your payment card at the end of your access period </li>
<li>A full schedule of the 45 Barclays Cycle Hire roadshow events is available at <a href="http://www.tfl.gov.uk/barclayscyclehire">www.tfl.gov.uk/barclayscyclehire</a>. The roadshows, which run until October, will provide practical demonstrations, hints and tips - including how to register for the scheme, how much it will cost to use, and how to pick up and drop off hire bicycles from the docking stations. Existing or potential cyclists will also be given safety tips, details of cycle routes and will be encouraged to sign up for TfL-funded cycle training through their local borough council. Visit <a href="http://www.tfl.gov.uk/cycling">www.tfl.gov.uk/cycling</a> for information on how to set up your cycle training session </li>
<li>Barclays Cycle Hire will operate across central London. Docking stations and hire bicycles will be available in Camden, City of London, City of Westminster, Hackney, Islington, Lambeth, Royal Borough of Kensington &amp; Chelsea, Southwark, Tower Hamlets, and several of the Royal Parks </li>
<li>Barclays Cycle Hire aims to build on the massive 117 per cent growth in cycle journeys on London's major roads since TfL was created in 2000 and is expected to generate up to 40,000 extra cycle trips a day in Central London </li>
<li>Follow Barclays Cycle Hire on Twitter at <a href="http://www.twitter.com/BarclaysCycle">www.twitter.com/BarclaysCycle</a> </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "4,500 signed up for membership Londoners called to register for membership ahead of the launch of Barclays Cycle Hire on FridayWith the Mayor's flagship cycling scheme Barclays Cycle Hire just days away from launch, a new film has been released online";}
        
        


 