


@{ViewBag.Title = "Disruption to District and Hammersmith & City line services";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Disruption to District and Hammersmith & City line services</h1>
        <div class="content-page-press-release">
        04 July 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        No Underground service between Plaistow and Dagenham East. Reduced service on District and Hammersmith & City lines. Full services expected to resume from Wednesday.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our engineers have been working around the clock to get as many services as possible back up and running"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">LU's Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our engineers have been working around the clock to get as many services as possible back up and running
                            
                        </p>
                    </div>
                
            
            
            <p>Following a cable fire and power outage at Barking station on Friday, District line services between Dagenham East and Plaistow, and Hammersmith &amp; City line services between Whitechapel and Barking are currently suspended.&nbsp; </p>
<p>The fire destroyed dozens of 50 year old cables affecting signals and traction on District line and Hammersmith &amp; City line services east of Whitechapel.&nbsp; </p>
<p>The heat was so intense that cables and equipment melted. </p>
<p>Specialist London Undergound (LU) in-house engineers were called in to hand trace the routes and splice in hundreds of metres of new cabling.</p>
<p>LU's engineers have been working around the clock over the weekend to restore services as quickly as possible and have been able to reinstate a reduced service between Whitechapel and Plaistow, and Upminster and Dagenham East on the District line.</p>
<p>A bus replacement service is operating between Plaistow and Dagenham East.&nbsp; </p>
<p>However, all services on the District line are affected and are operating at a reduced capacity.&nbsp; </p>
<h2>Check before you travel</h2>
<p>Services on the Circle line are also currently affected and are operating without the branch between Hammersmith and Edgware Road.&nbsp; </p>
<p>LU's engineers are continuing to work to restore full services as soon as possible and it is anticipated that a normal service will resume on Wednesday. </p>
<p>Passengers are advised to use alternative Tube lines and the Docklands Light Railway.&nbsp; </p>
<p>LU tickets are also being accepted on local buses, National Express East Anglia and C2C services.</p>
<p>Howard Collins, LU's Chief Operating Officer, said: 'On behalf of London Underground I would like to apologise for the disruption caused by this incident. </p>
<p>'Our engineers have been working around the clock to get as many services as possible back up and running, and we are now in a position where the majority of stations affected on Friday now have some service. </p>
<p>'We are providing replacement bus services between those stations where it has not been possible to resume services, and LU tickets are being accepted on several alternative routes serving east London.</p>
<p>'There will be some disruption through the early part of this week, but we are doing everything we can to resume normal services as soon as possible.'<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Following a cable fire and power outage at Barking station on Friday, District line services between Dagenham East and Plaistow, and Hammersmith &amp; City line services between Whitechapel and Barking are currently suspended.&nbsp; The fire destroyed";}
        
        


 