


@{ViewBag.Title = "Full District and Hammersmith & City line services restored";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Full District and Hammersmith & City line services restored</h1>
        <div class="content-page-press-release">
        07 July 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        District line and Hammersmith & City line services in east London have now been restored after London Underground (LU) engineers worked around the clock to repair damage caused by a trackside fire in Barking last Friday.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I would like to thank all our customers for their patience during this disruption"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">LU's Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I would like to thank all our customers for their patience during this disruption
                            
                        </p>
                    </div>
                
            
            
            <p>The 50-year-old signal cables, and others that supply traction power in the area, were destroyed during the fire. </p>
<p>This led to a suspension of services between Plaistow and Dagenham East, and further disruption on other parts of the District and Hammersmith &amp; City lines.</p>
<p>The heat was so intense that cables and equipment melted and specialist in house engineers, some apprenticed nearly 40 years ago, were called in to form a 24-hour engineering team, tracing the old cable routes by hand and splicing in hundreds of metres of new cabling. </p>
<p>They were joined by engineers from EDF Powerlink and Thales, who carried out crucial and complicated electrical work.</p>
<p>All signalling and power is now restored and operating as normal.</p>
<p>Howard Collins, LU's Chief Operating Officer, said: 'On behalf of London Underground I would like to thank all our customers for their patience during this disruption. </p>
<p>'Rebuilding the remnants of the 50-year-old cable system with new materials is a difficult surgical job that would usually have taken over a month to complete. </p>
<p>'Our engineers have been working around the clock to restore services as quickly as possible and we are pleased to say that full services are now operating on the District and Hammersmith &amp; City lines.'</p>
<p>&nbsp;</p>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The 50-year-old signal cables, and others that supply traction power in the area, were destroyed during the fire. This led to a suspension of services between Plaistow and Dagenham East, and further disruption on other parts of the District and";}
        
        


 