


@{ViewBag.Title = "Further improvements to Dial-a-Ride services in Kingston";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Further improvements to Dial-a-Ride services in Kingston</h1>
        <div class="content-page-press-release">
        07 July 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Partnership with Richmond and Kingston Accessible Transport delivers bespoke shopper service.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Working in partnership at a local level in Kingston means we are able to reach elderly and disabled people who may be living in isolation"</div>
        <div class="quote-footer">
            <div class="quotee-name">Paul Blackwell</div>
            <div class="quotee-job-title">General Manager of Dial-a-Ride</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Working in partnership at a local level in Kingston means we are able to reach elderly and disabled people who may be living in isolation
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London's Dial-a-Ride service has entered into a unique partnership with local community transport organisation, Richmond and Kingston Accessible Transport (RaKAT), to provide a bespoke shopper service to elderly and disabled Kingston residents. </p>
<p>The service will help to reduce social isolation and raise the profile of this vital door to door service. </p>
<h2>Free&nbsp;service</h2>
<p>Dial-a-Ride is a lifeline to many Kingston residents who cannot easily use other forms of public transport.&nbsp;</p>
<p>There are already 625 registered Dial-a-Ride members in Kingston who use the service however Dial-a-Ride is keen to ensure that all those who may need its services are aware of what it can offer them.&nbsp;</p>
<p>Local publicity initiatives in Kingston have already borne fruit with the number of Dial-a-Ride journeys in Kingston increasing by 21 per cent in the last year (from 12,963 in 2008/09 to 15,745 in 2009/10). </p>
<p>Dial-a-Ride has been able to cater for this increased demand - the service accommodated 92 per cent of all journey requests it received from Kingston residents last year - and the aim is to do even more. </p>
<h2>Benefits</h2>
<p>The unique partnership with RaKAT will help Dial-a-Ride to identify 'hard to reach' groups and offer them a bespoke shopping service to introduce them to the benefits of Dial-a-Ride membership. </p>
<p>RaKAT are promoting the shopping service locally through their community contacts and registering the new members for regular shopping trips, provided by Dial-a-Ride.&nbsp; </p>
<p>Paul Blackwell, General Manager of Dial-a-Ride, said: 'Working in partnership at a local level in Kingston means we are able to reach elderly and disabled people who may be living in isolation and make them aware of the service that Dial-a-Ride can provide for them, helping them to get out for a once a week local shopping trip. </p>
<p>'Once they build their confidence in using us, we hope that the new members identified with the help of RaKAT will go on to use Dial-a-Ride for other local journeys, such as visiting family and friends. </p>
<p>'We are keen to work with other local groups who have contact with elderly and disabled people to help promote the Dial-a-Ride service amongst these often very socially isolated members of our community.' </p>
<h2>Improving lives</h2>
<p>Nigel Newby, CEO of RaKAT, said: 'We are very pleased to enter this partnership, developing an exciting pilot project which will greatly enhance the lives of the frail, elderly and those with disabilities living within the Kingston area. </p>
<p>'It is extremely important that it is recognised that there is no 'one size fits all' solution for the provision of door to door transport. </p>
<p>'It is quite clear that the need for this type of service will only increase in the future and that a creative integrated approach to maximise local knowledge and all available resources will be required in order to satisfy demand.'</p>
<p>Dial-a-Ride is a free door-to-door service for disabled people who can't use buses, trains or the Tube.&nbsp;</p>
<p>Dial-a-Ride can be used for all sorts of journeys, making it easier to visit friends and family, to travel to other recreational activities as well as shopping trips.</p>
<p>
<hr>
<strong>Notes to editors</strong> 
<ul>
<li>For general information on Dial-a-Ride in other areas please contact: 0845 9991999 (option 3)</li>
<li>The Kingston Partnership shopper service runs on Tuesdays and Wednesdays to designated shops. To enquire about available places on this service existing or potential members can contact RaKAT on 020 8549 6000<br><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London's Dial-a-Ride service has entered into a unique partnership with local community transport organisation, Richmond and Kingston Accessible Transport (RaKAT), to provide a bespoke shopper service to elderly and disabled Kingston";}
        
        


 