


@{ViewBag.Title = "London Buses wins Low Carbon Champions Award for green buses";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Buses wins Low Carbon Champions Award for green buses</h1>
        <div class="content-page-press-release">
        16 July 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Buses has won a prestigious award for cleaner and greener travel.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Mayor is committed to giving Londoner's cleaner, greener transport"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's Transport Adviser</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Mayor is committed to giving Londoner's cleaner, greener transport 
                            
                        </p>
                    </div>
                
            
            
            <p>The company has won the inaugural <a href="http://www.lowcvp.org.uk/">Low Carbon Vehicle Partnership's </a>(LowCVP's) Low Carbon Champion Award for Buses, recognising the commitment to reducing CO2 emissions in the London bus fleet. </p>
<p>Judges praised Transport for London (TfL) for ground-breaking work in getting low carbon buses used nationally.</p>
<p>TfL is leading the way in reducing the environmental impact of its bus fleet and already has one of the cleanest fleets in the UK. </p>
<p>It is implementing a low-carbon bus programme to reduce its carbon footprint in line with the Mayor's ambition to cut London's CO2 emissions by 60 per cent on 1990 levels by 2025, by rapidly introducing fuel efficient, cleaner and quieter hybrid buses in the short and medium term. </p>
<p>In the longer term TfL will continue to monitor other technologies that may be able to provide even greater benefits.</p>
<p>There are currently 56 hybrid buses operating in London, with the first introduced in February 2006 on route 360. </p>
<h2>Making the fleet greener </h2>
<p>A further 56 hybrid buses will be entering service by the end of this year. </p>
<p>There will be 300 hybrid buses in service by 2012 and from then all new buses entering the fleet are expected to be hybrid. </p>
<p>The New Bus for London which will be delivered in 2012, will also be a hybrid bus and will be 40 per cent less polluting than diesel equivalents.&nbsp; </p>
<p>Eight different types of hybrid bus are on the streets with the aim being to allow TfL, the bus operators and manufacturers to assess their performance and see what works best for the Capital. </p>
<p>Mike Weston, London Buses Operations Director, said: 'It is great to be recognised for the work we have already done in greening London's bus fleet and we remain committed to progressing this further.&nbsp; </p>
<p>'We will shortly be adding to the hybrid diesel buses fleet and look forward to introducing five hydrogen hybrid fuel cell buses later this year that will emit nothing but water vapour from their tailpipes.'</p>
<h2>Championing hybrid technology</h2>
<p>Kulveer Ranger, the Mayor of London's Transport Adviser, said: 'The Mayor is committed to giving Londoner's cleaner, greener transport and that is why he has continued to champion hybrid technology being introduced to London's bus fleet.</p>
<p>'As the number of hybrid buses in London increases, more people across the Capital will be able to see at first hand the future of the bus fleet - cleaner, quieter and more pleasant for passengers and Londoners on the whole, but also more efficient and environmentally friendly.'</p>
<p>The Mayor and TfL are committed to tackling climate change through cutting London's contribution to CO2 and other emissions.&nbsp; </p>
<p>The LowCVP Low Carbon Champion Awards recognise best practice in vehicle manufacturers, fuel suppliers, fleet operators and developers of products and services that reduce greenhouse gases from the road transport sector. </p>
<p>London Buses won the 'Buses Award' for the positive influence they have had on the industry for low carbon buses.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Hybrid buses currently operate on routes; 16, 24, 42, 129, 141, 276, 328, 360, 482 and E8 </li>
<li>The five hydrogen hybrid fuel cell buses will operate on route RV1 (Covent Garden - Tower Gateway) </li>
<li>Earlier this year TfL was awarded &pound;5m from the Department for Transport's Green Bus Fund, this has provided funding for 50 hybrid buses which will enter service later this year<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The company has won the inaugural Low Carbon Vehicle Partnership's (LowCVP's) Low Carbon Champion Award for Buses, recognising the commitment to reducing CO2 emissions in the London bus fleet. Judges praised Transport for London (TfL) for ground-breaking";}
        
        


 