


@{ViewBag.Title = "London Underground responds to RMT leadership ballot over staffing proposals";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground responds to RMT leadership ballot over staffing proposals</h1>
        <div class="content-page-press-release">
        16 July 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) today responded to the announcement by the RMT leadership that members will be balloted over staffing proposals for LU station staff.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are committed to delivering these changes with no compulsory redundancies"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">LU's Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are committed to delivering these changes with no compulsory redundancies
                            
                        </p>
                    </div>
                
            
            
            <p>LU has made it clear that under new staffing proposals set out earlier this year:</p>
<ul>
<li>Safety and customer service remain the top priorities</li>
<li>There will always be staff present at every station to help customers</li>
<li>All stations that currently have a ticket office service will continue to have one with opening hours that meet customer demand</li>
<li>LU has given unions the greatest possible assurance on jobs in its commitment that there will be no compulsory redundancies</li></ul>
<p>Howard Collins, LU's Chief Operating Officer, said: 'Consultation continues with the unions on proposed changes to how and where staff work on stations. </p>
<p>'We have assured staff and customers that all of our stations will continue to be staffed at all times while trains are operating and all stations with a ticket office will continue to have one. </p>
<p>'However in the same way that people no longer use their bank branch to cash cheques, the Oyster technology rolled out across Transport for London means that only&nbsp;one in 20 journeys involve any interaction at a ticket office window.&nbsp; </p>
<p>'What we are seeking to do is deploy staff more visibly in stations where they can more easily assist passengers.</p>
<h2>No compulsory redundancies</h2>
<p>'We are committed to delivering these changes with no compulsory redundancies. </p>
<p>'The safe operations of our network remains at the top of our priorities and these changes will improve our performance still further. </p>
<p>'We are available at all times to speak with unions about the details of our proposals.'</p>
<p>The changes would not affect Tube drivers, and the majority of the 700-800 posts that are identified for reduction are ticket office staff; this also includes a saving of around 100 posts from reductions in management and administrative staff. </p>
<p>This is out of a total of around 19,000 LUstaff, so represents less than&nbsp;five per cent of the workforce. </p>
<p>Some 175 posts are already vacant, so would merely not be filled.</p>
<p>Some 80 per cent of all Tube journeys are now made using Oyster and, as the numbers using ticket offices decline, there is growing use of internet sales and automatic top-ups. </p>
<h2>Reducing crime</h2>
<p>On stations, there is now much greater provision of self-service ticket machines, and a network of 4,000 ticket stops now also exists at shops and retail outlets across the Capital.</p>
<p>Instead of having staff stationed in under-used ticket offices, LU wants them out on the stations where customers need them - on platforms, in ticket halls and at gate lines where they can assist passengers. </p>
<p>In addition to LU's ongoing commitment to having staff where customers need them most, there are also more police patrolling the Tube network - 700 officers - than ever before.</p>
<p>This helped to reduce crime by eight per cent last year.&nbsp; </p>
<p>While one crime is always too many, there are now just 12 crimes per million Tube customer journeys.</p>
<p>&nbsp;LU is also installing more and improved CCTV cameras to add to the 12,000 already on stations and trains. <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "LU has made it clear that under new staffing proposals set out earlier this year:Safety and customer service remain the top prioritiesThere will always be staff present at every station to help customersAll stations that currently have a ticket office";}
        
        


 