


@{ViewBag.Title = "Londoners to face fewer delays at traffic signals ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Londoners to face fewer delays at traffic signals </h1>
        <div class="content-page-press-release">
        01 July 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        - Almost six per cent reduction in traffic delays for drivers without holding up pedestrians<BR>- Drivers now spend less time at red lights following more than 1,000 traffic signal reviews in 2009/10
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We've now identified 145 sites where we think the signals may no longer be doing a useful job"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor's Transport Advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We've now identified 145 sites where we think the signals may no longer be doing a useful job
                            
                        </p>
                    </div>
                
            
            
            <p>-&nbsp;145 traffic signal sites across London considered for removal to help smooth traffic flow</p>
<p>Drivers are spending less time sitting at traffic lights, after Transport for London (TfL) reviewed the timings of more than 1,000 sets of lights in the Capital last year.</p>
<p>As part of the Mayor's pledge to smooth traffic flow, TfL reviewed timings at 1,003 signals last year to ensure they were operating as efficiently as possible.</p>
<p>Changes made to the signals as a result of the reviews have delivered a six per cent reduction in unnecessary delays at traffic signals, without negatively impacting on pedestrians.</p>
<p>TfL will review timings of a further 1,000 traffic signals this year and for the next four years to ensure that the Capital's signals are operating in the best possible way for both drivers and pedestrians.&nbsp;&nbsp;</p>
<h2>Smooth traffic flow</h2>
<p>TfL has also identified 145 sites where traffic signals could be causing unnecessary delays.&nbsp;</p>
<p>They will be holding discussions with local boroughs and stakeholders about whether these traffic signals could be removed or replaced with alternative measures, to further smooth traffic flow in the Capital. </p>
<p>Kulveer Ranger, the Mayor's Transport Advisor, said: 'There are few things more annoying than sitting at a traffic light on red for no apparent reason and we've now identified 145 sites where we think the signals may no longer be doing a useful job. </p>
<p>'By getting rid of them, we hope we can smooth traffic flow across London and deliver real improvements for all road users.' </p>
<h2>Key commitments</h2>
<p>Garrett Emmerson, Chief Operating Officer for London Streets, TfL, said: 'Re-timing traffic signals to get London moving is one of the Mayor and TfL's key commitments. </p>
<p>'I am delighted that we have been able to significantly cut down on delays at traffic signals, without impacting negatively on pedestrians.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>For further information on TfL's signal timing review programme for 2010/11 and a list of the 145 sites identified for potential removal please contact the TfL Press Office </li>
<li>TfL is working hard to deliver the Mayor's Smoothing Traffic Flow agenda, which aims to improve the reliability and predictability of journeys on London's roads, tackle stop-start traffic conditions and ensure there is space and improved safety for both cyclists and pedestrians </li>
<li>TfL is seeking to deliver the Smoothing Traffic Flow agenda through a number of initiatives:&nbsp; 
<ul type="circle">
<li>Maximising the efficient and reliable operation of the road network </li>
<li>Minimising the impact of planned interventions </li>
<li>Minimising disruption from unplanned events </li>
<li>Achieving modal shift </li>
<li>Developing the road network </li>
<li>Maintaining road network assets in a good state of repair </li></ul></li>
<li>During 2009/10, TfL reviewed 1,003 traffic signal sites, which resulted in the following changes to traffic and pedestrian flow:</li></ul>
<p>Number of occasions when queued traffic will have cleared through the first green phase (2009/10): </p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;Before %</td>
<td>&nbsp;After %</td>
<td>Change %</td></tr>
<tr>
<td>&nbsp;Overall</td>
<td>&nbsp;71.70</td>
<td>&nbsp;77.60</td>
<td>&nbsp;5.90</td></tr>
<tr>
<td>&nbsp;AM period</td>
<td>&nbsp;53.56</td>
<td>&nbsp;61.62</td>
<td>&nbsp;8.06</td></tr>
<tr>
<td>&nbsp;Off-peak</td>
<td>&nbsp;66.88</td>
<td>&nbsp;75.40</td>
<td>&nbsp;8.52</td></tr>
<tr>
<td>&nbsp;PM peak</td>
<td>&nbsp;51.10</td>
<td>&nbsp;59.64</td>
<td>&nbsp;8.54</td></tr>
<tr>
<td>&nbsp;Late evening</td>
<td>&nbsp;85.75</td>
<td>&nbsp;90.78</td>
<td>&nbsp;5.03</td></tr>
<tr>
<td>&nbsp;Weekend period</td>
<td>&nbsp;69.45</td>
<td>&nbsp;74.86</td>
<td>&nbsp;5.41</td></tr>
<tr>
<td>&nbsp;Overnight</td>
<td>
<p>&nbsp;97.60</p></td>
<td>&nbsp;98.28</td>
<td>&nbsp;0.68</td></tr></tbody></table></div></p>
<p>&nbsp;</p>
<p>&nbsp;Number of occasions when pedestrians waiting to cross the road, easily clear the kerb during the first green man/blackout period (2009/10):</p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;Before %</td>
<td>&nbsp;After %</td>
<td>Change %</td></tr>
<tr>
<td>&nbsp;Overall</td>
<td>94.30</td>
<td>94.60</td>
<td>0.30</td></tr>
<tr>
<td>&nbsp;AM period</td>
<td>91.64</td>
<td>92.30</td>
<td>0.66</td></tr>
<tr>
<td>&nbsp;Off-peak</td>
<td>92.63</td>
<td>93.15</td>
<td>0.51</td></tr>
<tr>
<td>&nbsp;PM peak</td>
<td>90.19</td>
<td>90.59</td>
<td>0.40</td></tr>
<tr>
<td>&nbsp;Late evening</td>
<td>98.10</td>
<td>97.94</td>
<td>0.16</td></tr>
<tr>
<td>&nbsp;Weekend period</td>
<td>92.37</td>
<td>93.18</td>
<td>0.81</td></tr>
<tr>
<td>&nbsp;Overnight</td>
<td>99.62</td>
<td>99.63</td>
<td>0.02</td></tr></tbody></table></div></p>
<p>&nbsp;</p>
<ul>
<li>TfL will carry out reviews at a further 1,000 traffic signal locations across London during 2010/11, including traffic signals along Tottenham Court Road, Parliament Square, A40 Western Avenue, and around the Hanger Lane Gyratory, and will continue to do so until 2015/16 </li>
<li>Although TfL controls only five per cent of the road network (the 580km of Red Routes in London), this carries over 30 per cent of London's traffic</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "-&nbsp;145 traffic signal sites across London considered for removal to help smooth traffic flowDrivers are spending less time sitting at traffic lights, after Transport for London (TfL) reviewed the timings of more than 1,000 sets of lights in the";}
        
        


 