


@{ViewBag.Title = "London's business needs an upgraded Tube and Crossrail, says Mayor";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London's business needs an upgraded Tube and Crossrail, says Mayor</h1>
        <div class="content-page-press-release">
        08 July 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        While speaking at the Confederation of British Industry (CBI) today the Mayor of London warned that cutting vital investment in London's transport system would hurt London's business and damage the UK economy.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Cutting investment in London's transport network is a false economy and will be a body blow to the UK's recovery"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Cutting investment in London's transport network is a false economy and will be a body blow to the UK's recovery
                            
                        </p>
                    </div>
                
            
            
            <p>Addressing an audience of the Capital's top business leaders, the Mayor reiterated the message to the new Government that vital improvements to the London's transport system must be protected, not only to increase transport capacity but also to ensure the Capital's future ability to attract investment and jobs. </p>
<p>London is the engine room of the UK economy and cutting investment in London's transport network would put the UK at a global competitive disadvantage and undermine the recovery. </p>
<p>A recent CBI survey of London's businesses showed that almost all businesses (97 per cent) believe that the continued development of London's transport network is important - including schemes like the Tube upgrade and Crossrail that are already in the pipeline. </p>
<p>The Mayor of London, Boris Johnson, said: 'London is the economic powerhouse of the UK and our economic recovery and global competitiveness will be devastated if we fail to invest in our transport infrastructure. </p>
<p>'London needs both an upgraded Tube and Crossrail. Cutting investment in London's transport network is a false economy and will be a body blow to the UK's recovery - the longer it takes to upgrade the Tube and deliver Crossrail the more it will cost and the less competitive our great city will be.'<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Addressing an audience of the Capital's top business leaders, the Mayor reiterated the message to the new Government that vital improvements to the London's transport system must be protected, not only to increase transport capacity but also to ensure the";}
        
        


 