


@{ViewBag.Title = "London Underground urges ASLEF leadership to call off unnecessary strike action";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground urges ASLEF leadership to call off unnecessary strike action</h1>
        <div class="content-page-press-release">
        20 July 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) has called on ASLEF's leadership to call off their threatened strike on the Metropolitan line, which could cause unnecessary disruption to Londoners.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Any issues that ASLEF have can be and should be resolved through discussions and agreed procedures"</div>
        <div class="quote-footer">
            <div class="quotee-name">Nigel Holness</div>
            <div class="quotee-job-title">LU Service Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Any issues that ASLEF have can be and should be resolved through discussions and agreed procedures
                            
                        </p>
                    </div>
                
            
            
            <p>The union has claimed that the 24-hour strike, due to commence on Wednesday 21 July at 00:01, is over a breakdown in industrial relations at Rickmansworth depot, but union representatives have raised nothing of note with LU management.&nbsp;</p>
<p>LU believes that the dispute is actually over a driver from Rickmansworth depot who has been temporarily re-graded after a safety related incident.</p>
<p>LU will endeavour to run the best possible service, however, customers are advised to check before they travel by visiting <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a></p>
<p>Nigel Holness, LU Service Director, said: 'We are disappointed that ASLEF has balloted for strike action. </p>
<p>'Any issues that ASLEF have can be and should be resolved through discussions and agreed procedures.</p>
<p>'They have stated this is over a breakdown on industrial relations but have provided no evidence to support this, nor have they raised any issues. </p>
<h2>Unnecessary strike action</h2>
<p>'We are at a loss to know what has led to the strike other than a disciplinary case of one driver who has been temporarily re-graded following&nbsp;an incident in which his failure to follow safety procedures led to a customer being injured. </p>
<p>'We will not compromise on safety, and we would urge ASLEF to call off this completely unnecessary strike action immediately.'</p>
<p>During the course of any strike action LU will be operating a special timetable, which will be advertised at stations. </p>
<p>Services on other lines, such as the Jubilee and Piccadilly, will be increased wherever possible, and LU has worked closely with National Rail providers to ensure they are prepared for additional passengers. </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The union has claimed that the 24-hour strike, due to commence on Wednesday 21 July at 00:01, is over a breakdown in industrial relations at Rickmansworth depot, but union representatives have raised nothing of note with LU management.&nbsp;LU believes";}
        
        


 