


@{ViewBag.Title = "Mayor calls on Londoners to join cycling revolution as over 3,500 sign up for Barclays Cycle Hire";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor calls on Londoners to join cycling revolution as over 3,500 sign up for Barclays Cycle Hire</h1>
        <div class="content-page-press-release">
        25 July 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Londoners urged to sign up today to be sure of receiving keys ahead of 30 July launch.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I hope thousands more will sign up ahead of launch day next Friday"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I hope thousands more will sign up ahead of launch day next Friday
                            
                        </p>
                    </div>
                
            
            
            <p>Since membership applications for the Mayor's flagship Barclays Cycle Hire scheme opened on Friday morning, more than 3,500 people have signed up to use London's newest public transport system.</p>
<p>People can now sign up for 24-hour, seven day or annual memberships for the Mayor and Transport for London's (TfL's) Barclays Cycle Hire scheme, at <a href="http://www.tfl.gov.uk/barclayscyclehire">www.tfl.gov.uk/barclayscyclehire</a>.&nbsp;</p>
<p>People planning to use Barclays Cycle Hire from its launch this Friday, 30 July are being urged to sign up now, in order to ensure their membership keys arrive on time.</p>
<h2>Keys to the city</h2>
<p>Membership will entitle them to an electronic key, which they will be able to use to take a hire cycle from one of hundreds of locations across central London this Friday.</p>
<p>The Mayor of London, Boris Johnson said: 'I'm thrilled that in the first few days of registration over 3,500 Londoners have already signed up for their very own keys to the city, in the guise of Barclays Cycle Hire membership.&nbsp; </p>
<p>'And I hope thousands more will sign up ahead of launch day next Friday. </p>
<p>'For as little as 12p a day, members of this fantastic new addition to our transport system will have the freedom of central London. </p>
<p>'This scheme is set to become a new icon of the Capital and will enable thousands more people to cycle in our magnificent city.' </p>
<h2>Sign up now</h2>
<p>Londoners or visitors to the Capital who want to use central London's brand new system during its first month of operation will need to be a member of Barclays Cycle Hire. </p>
<p>This will enable TfL and its contractor, Serco, to understand and learn from how members engage with the scheme, including patterns of bicycle usage. </p>
<p>To use the scheme on 30 July, members will need to have received and activated their key, so people are urged to sign up as soon as possible.</p>
<p>TfL's Managing Director of Surface Transport, David Brown, said: 'Barclays Cycle Hire will revolutionise how we get around central London.&nbsp; </p>
<p>'Building on the experience of other cities who have launched similar schemes, we and Serco will use the first month of operation to learn more about how Londoners engage with the scheme, including patterns of use, how we can best support customers and to enable the scheme to bed down.' </p>
<h2>Iconic addition</h2>
<p>Chief Executive of Serco Civil Government, Tom Riall, said: 'We are pleased that so many Barclays Cycle Hire pioneers have signed up in the first few days, enabling them to hire a cycle from Friday 30 July.</p>
<p>'We are working hard to ensure a successful launch for this unique scheme. </p>
<p>'The cycles and docking stations of Barclays Cycle Hire are already becoming an attractive and iconic addition to the streets of London.'</p>
<p>A membership key costs &pound;3 with access costs at &pound;1 for a 24-hour membership, &pound;5 for seven days and &pound;45 for annual access.&nbsp; </p>
<p>The first 30 minutes of any journey will be free. </p>
<p>For more information on how to become a member of Barclays Cycle Hire and advice on how to use the scheme visit <a href="http://www.tfl.gov.uk/barclayscyclehire">www.tfl.gov.uk/barclayscyclehire</a></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Casual users will be able to hire bicycles from terminals at docking stations around four weeks after Barclays Cycle Hire launches to members </li>
<li>Members of the scheme must be at least 18 years old, and you will need to be at least 14 years old to use the scheme </li>
<li>Barclays Cycle Hire, which will be operated by Serco Limited on behalf of TfL, will be the most sustainable and environmentally friendly form of public transport ever seen in the Capital </li>
<li>Barclays Cycle Hire and Barclays Cycle Superhighways will build on the massive 117 per cent growth in cycle journeys on London's major roads since TfL was created in 2000. Barclays Cycle Hire is expected to generate up to 40,000 extra cycle trips a day in central London. There are currently 5,000 cycle journeys a day on both pilot Barclays Cycle Superhighways routes; TfL's target is to increase this by 22,000 cycle trips per day by 2013 </li>
<li>Barclays Cycle Hire will operate across central London. Docking stations and hire bicycles will be available in Camden, City of London, Hackney, Islington, Lambeth, Kensington &amp; Chelsea, Southwark, Tower Hamlets, Westminster and several of the Royal Parks </li>
<li>Follow us on Twitter at&nbsp; <a href="http://www.twitter.com/BarclaysCycle">www.twitter.com/BarclaysCycle</a>&nbsp; <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Since membership applications for the Mayor's flagship Barclays Cycle Hire scheme opened on Friday morning, more than 3,500 people have signed up to use London's newest public transport system.People can now sign up for 24-hour, seven day or annual";}
        
        


 