


@{ViewBag.Title = "Mayor launches London's first two Barclays Cycle Superhighway routes ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor launches London's first two Barclays Cycle Superhighway routes </h1>
        <div class="content-page-press-release">
        19 July 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The first of the Mayor's flagship cycling schemes to launch this summer gives cyclists clearly marked, direct and continuous cycle routes into central London.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Encouraging more people to commute to work by bike will in turn help us improve air quality, cut carbon emissions and reduce congestion on the transport network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Encouraging more people to commute to work by bike will in turn help us improve air quality, cut carbon emissions and reduce congestion on the transport network
                            
                        </p>
                    </div>
                
            
            
            <p>The two pilot routes are the first of 12 planned superhighways that aim to make it quicker, safer and easier for Londoners to commute to work by bicycle.</p>
<p>The Mayor, Barclays and Transport for London (TfL) today launched the first two Barclays Cycle Superhighways, which aim to help significantly increase the number of Londoners choosing pedal power for their daily commute.</p>
<p>A key part of the Mayor's commitment to stimulate a cycling revolution in the Capital, the two pilot routes run from Merton to the City via the A24 and A3, and Barking to Tower Gateway via the A13 and Cable Street.</p>
<p>Around 5,000 cycle journeys are currently made every day on both pilot routes, with TfL aiming to increase this to 27,000 cycle trips a day by 2013.</p>
<p>As well as installing distinctive and highly-visible blue cycle lanes along both pilot routes, at a minimum of 1.5m wide, works completed to make it safer and easier to commute by bike along these routes include:</p>
<ul>
<li>Trialing 37 cycle safety (Trixi) mirrors at junctions along both pilot routes. These mirrors give drivers of large vehicles better visibility of cyclists when preparing to turn left </li>
<li>Introducing 84 new Advanced Stop Lines at least 5m deep at junctions along both routes, providing a space for cyclists to wait at lights ahead of the queue of traffic </li>
<li>Installing new segregated cycle lanes at the Stockwell Gyratory on the Merton to the City route, and upgrading existing segregated lanes at the Elephant and Castle bypass and on Southwark Bridge, Cable Street and the A13 </li>
<li>Re-aligning traffic and bus lanes to create more space for cyclists on busy stretches of the superhighways, for example on the southbound section of the A24 at the junction of Kennington Road and Brixton Road</li></ul>
<h2>Pedal-powered commuting</h2>
<p>As part of Barclays Cycle Superhighways, TfL is also providing funding for the eight London boroughs and local businesses along the pilot routes. </p>
<p>The money will be used to fund around 5,000 cycle parking spaces, over 17,000 hours of cycle training and more than 3,000 hours of cycle maintenance sessions. </p>
<p>TfL has already installed 300 new cycle parking spaces along both pilot routes to cater for the anticipated increased demand from cyclists using Barclays Cycle Superhighways.</p>
<p>The Mayor of London, Boris Johnson, said: 'You have got to have a powerful and visible statement on the roads that asserts to every Londoner, whether on two wheels or four, that the Capital is a cycling city. </p>
<p>'The road space is there for everyone and I am confident that our superhighways will help switch legions of Londoners on to the pleasures of a pedal-powered commute. </p>
<p>'Alongside Barclays Cycle Hire, these radial routes are set to transform our great city into one where cycling is the first choice for many thousands of Londoners. </p>
<p>'As well as being good for your health and wallet, encouraging more people to commute to work by bike will in turn help us improve air quality, cut carbon emissions and reduce congestion on the transport network.'</p>
<p>Cathy Turner, Barclays Human Resources Director said: 'We are delighted that the first two Barclays Cycle Superhighways are now up and running and we look forward to seeing thousands of Londoners use them every day. </p>
<h2>Making a cycling city</h2>
<p>Together with Barclays Cycle Hire, Londoners and visitors to the Capital will now have more transport options that are both environmentally friendly and a healthy means of getting around the Capital, and we are confident that they will have a lasting positive impact on London and the lives of Londoners.'</p>
<p>David Brown, Managing Director of Surface Transport at TfL, said: 'The Barclays Cycle Superhighways aim to offer a comprehensive package to improve the commute for those already cycling to work and encourage many thousands more to join them, with guided cycle rides and cycle training on offer for those wanting a little extra support.&nbsp; </p>
<p>'While the most visible aspect of this flagship cycling scheme is the introduction of blue cycle lanes, TfL has made significant improvements to the infrastructure for cyclists along both routes to make it safer and easier to commute by bike. </p>
<p>'Through cycle superhighways funding, we will deliver around 5,000 new cycle parking spaces, over 17,000 hours of cycle training and 3,000 hours of cycle maintenance in partnership with local boroughs and businesses along the routes, thereby improving access to cycling for all.'</p>
<p>The two pilot routes will allow TfL to test all of the measures for their effectiveness, helping to determine the scope and detailed design of the remaining 10 routes, which will be up and running by the end of 2015. </p>
<p>Work is underway on the design of the next two routes, which will launch in summer 2011 and run from Bow to Aldgate, and Wandsworth to Westminster.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The two pilot <a href="http://www.tfl.gov.uk/barclayscyclesuperhighways">Barclays Cycle Superhighway </a>routes from Merton to the City (CS7) and Barking to Tower Gateway (CS3) will launch on Monday 19 July. Both routes are around 12.5km in length </li>
<li>Images of both pilot routes are available from TfL's press office on 0845 604 4141 </li>
<li>A programme of <a href="http://www.tfl.gov.uk/guidedcyclerides ">guided cycle rides </a>are supporting the launch of the Barclays Cycle Superhighways </li>
<li>Businesses within 1.5km of the two pilot routes which have more than 50 employees on one site can <a href="http://www.tfl.gov.uk/cyclingworkplaces">bid to TfL for f</a>unding for cycle parking, cycle training and cycle maintenance sessions for staff. This is in addition to the &pound;1.49m of funding for the eight boroughs benefitting from the two pilot Barclays Cycle Superhighways, which TfL has allocated to provide the appropriate cycle training, parking and maintenance to address the increase in demand from residents living near the new cycling infrastructure </li>
<li>The Barclays Cycle Superhighways will build on the massive 117 per cent growth in cycle journeys that London has seen since TfL was created in 2000. The Mayor and TfL have a target to increase cycling by 400 per cent by 2026 (compared to 2000 levels) </li>
<li>The Mayor and TfL are investing a record &pound;116m in cycling in 2010/11 with the money spent on Barclays Cycle Superhighways, Barclays Cycle Hire, infrastructure, training, promotion and education</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The two pilot routes are the first of 12 planned superhighways that aim to make it quicker, safer and easier for Londoners to commute to work by bicycle.The Mayor, Barclays and Transport for London (TfL) today launched the first two Barclays Cycle";}
        
        


 