


@{ViewBag.Title = "Mayor and TfL announce major initiatives to improve cycle safety around lorries ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor and TfL announce major initiatives to improve cycle safety around lorries </h1>
        <div class="content-page-press-release">
        06 July 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London first city in UK to trial on-street cycle safety mirrors. New awareness campaign warns cyclists that undertaking lorries at junctions can be fatal. Agreement signed with the Freight Transport Association (FTA) to improve cycle safety in London.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Safety is the top priority of the cycle revolution that we're bringing to London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Safety is the top priority of the cycle revolution that we're bringing to London
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor and Transport for London (TfL) today unveiled three important new measures to tackle collisions between cyclists and lorries on London's roads.</p>
<p>The first Trixi (cycle safety) mirror to be trialed in a UK city has been installed on a traffic signal at a junction in Tooting. </p>
<p>Trixi mirrors give drivers of large vehicles better visibility of cyclists at junctions, and 39 of them will be installed at traffic signals on London's roads for a six-month trial period. </p>
<p>The mirrors aim to reduce the number of cyclists killed or seriously injured in collisions with lorries. </p>
<p>Thirty seven of them will be installed on the Barclays Cycle Superhighways pilot routes, with 31 in place before the scheme launches on 19 July.</p>
<p>The trial coincides with a thought-provoking new TfL poster campaign that illustrates the potentially deadly situation cyclists put themselves in if they ride up the left hand side of lorries at junctions. </p>
<p>It carries the stark warning that undertaking at junctions can be fatal. </p>
<p>And a <a title="Memorendam of understanding" href="/assets/downloads/memorandum-of-understanding-on-cycling.pdf">Memorandum of Understanding (PDF 20KB)&nbsp;</a>has also been signed that commits the Mayor, TfL and the FTA to working together to improve cycle safety in London. </p>
<h2>Improving visibility</h2>
<p>The Mayor of London, Boris Johnson, said: 'Safety is the top priority of the cycle revolution that we're bringing to London. </p>
<p>'That is why we are taking direct action to do everything we can to give cyclists and HGV (Heavy Goods Vehicle) drivers the tools and information they need to navigate our roads, and each other, safely. </p>
<p>'The Trixi mirrors will improve the visibility of cyclists and our poster campaign will increase their awareness of the danger of being on the inside of heavy vehicles at junctions. </p>
<p>'But I am especially pleased that the HGV industry has responded and is ready to act on this issue. </p>
<p>'Their commitment is important for us to be able to make the Capital's roads even safer to cycle on.'</p>
<p>A seven-point agreement that forms a Memorandum of Understanding will be managed by a working group made up of TfL and London's key freight operators, and includes the following actions:</p>
<ul>
<li>To identify specific locations and times of the day where loading and unloading activity or commercial vehicle routing might conflict with cycle routes </li>
<li>To identify training needs for all road users, particularly cyclists and drivers of large vehicles </li>
<li>To examine road traffic enforcement and engineering measures to find a balance between their enforceability and practicality</li></ul>
<h2>Better cycle safety</h2>
<p>Gordon Telling, Head of Urban Logistics Policy at the FTA, said: 'The FTA and its members have a culture of health and safety at the heart of their businesses and are delighted to be marking a commitment to greater cooperation and safer roads by the signing of this agreement.&nbsp; </p>
<p>'FTA members have invested heavily to make their vehicles safer for other road users and the agreement determines the best solutions to reduce casualties further, the Trixi mirrors pilot being an excellent example.'</p>
<p>TfL is also encouraging existing cyclists or anyone planning to start when Barclays Cycle Hire and the Barclays Cycle Superhighways pilot routes launch later this month, to watch a two minute film on <a href="http://www.youtube.com/user/BarclaysCycle">how to cycle safely around the Capital</a>. </p>
<p>Ben Plowden, Director of Better Routes and Places at TfL, said: 'Cycling is a wonderful way to get around London and the vast majority of cycle journeys are completed safely. </p>
<p>'Cycle safety has improved significantly in the last decade, despite the number of journeys more than doubling in that time. </p>
<p>'While the new Trixi mirror trial is an important tool in our ongoing work to tackle collisions between cyclists and HGVs, cyclists can also help themselves to stay safe on London's roads. </p>
<p>'As our new awareness campaign makes clear, cycling in a lorry's blind spot can, and tragically sometimes does, have fatal consequences.&nbsp; </p>
<p>'We hope this campaign will help inform London's cyclists on how to position themselves safely on the road.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>The Department for Transport (DfT) has approved a six-month trial of 39 cycle safety mirrors, known as Trixi mirrors, on London's road network. Thirty seven of these mirrors will be installed by TfL on the two Barclays Cycle Superhighways pilot routes, with 31 in place before the two routes launch on 19 July 
<li>The Mayor and TfL published a <a href="http://www.tfl.gov.uk/cycling">Cycle Safety Action Plan </a>earlier this year to improve the safety of cyclists in the Capital </li>
<li>The number of cyclists killed or seriously injured on London's roads has fallen by 24 per cent compared with the Government's baseline figures from the mid to late-1990s. This is despite the fact that the number of cycle journeys made on London's major roads has increased by 117 per cent since 2000. The Mayor and TfL have a target to increase cycling by 400 per cent by 2026 (compared to 2000 levels) </li>
<li>The Mayor and TfL are investing a record &pound;116m in cycling in 2010/11. That money is being spent on improving safety for cyclists, Barclays Cycle Hire, Barclays Cycle Superhighways, infrastructure, promotion and education </li>
<li>To help tackle the serious issue of collisions between cyclists and goods vehicles, TfL has already distributed 20,000 cycle safety lenses (known as Fresnel lenses) to freight companies operating in London and contacted 300 operators that have construction vehicles in their fleet, urging them to install side-bars or other safety devices on HGVs that are currently exempt. TfL has also contacted around 7,000 freight companies to encourage them to join TfL's Freight Operators Recognition Scheme (FORS). Last year, TfL provided a record &pound;3m funding for cycle training for Londoners of all ages </li>
<li>Since 2008 freight operators have spent over &pound;75m retrofitting mirrors to HGVs to improve visibility as well as supporting campaigns to promote the use of Fresnel lenses </li>
<li>The Mayor and TfL are calling for more people to sign up for <a href="http://www.tfl.gov.uk/cycling">TfL-funded cycle training </a>available from London's borough councils </li>
<li>TfL is also investing additional funds into cycle training specifically related to Barclays Cycle Hire and Barclays Cycle Superhighways to supplement the programme of cycle training in London and provide support for new cyclists on the Capital's roads </li>
<li><a href="http://www.tfl.gov.uk/barclayscyclesuperhighways">Barclays Cycle Superhighways </a>are clearly marked cycle routes designed to make it quicker, easier and safer for Londoners to commute by bicycle between outer and inner London. A key part of the Mayor's commitment to stimulate a cycling revolution in the Capital, the Barclays Cycle Superhighways will provide highly visible, direct and continuous routes for cyclists. The two pilot routes will run from Merton to the City, and Barking to Tower Gateway, and will launch on 19 July 2010 </li>
<li><a href="http://www.tfl.gov.uk/barclayscyclehire">Barclays Cycle Hire </a>will launch in the Capital on 30 July 2010. Once complete, people using the scheme will be able to pick up and drop off one of the 6,000 hire bicycles at around 400 locations across London's zone one travel area</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor and Transport for London (TfL) today unveiled three important new measures to tackle collisions between cyclists and lorries on London's roads.The first Trixi (cycle safety) mirror to be trialed in a UK city has been installed on a traffic";}
        
        


 