


@{ViewBag.Title = "More than 1,700 people already Cycle Hire members";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>More than 1,700 people already Cycle Hire members</h1>
        <div class="content-page-press-release">
        23 July 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Just hours after membership applications for the Mayor's flagship Barclays Cycle Hire scheme opened this morning, more than 1,700 people have already signed up to use London's newest public transport system.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"From today, we're offering Londoners their very own keys to the city, in the guise of Barclays Cycle Hire membership"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            From today, we're offering Londoners their very own keys to the city, in the guise of Barclays Cycle Hire membership
                            
                        </p>
                    </div>
                
            
            
            <p>People can now sign up for daily, weekly or annual memberships for the Mayor and Transport for London's cycle hire scheme, at <a href="http://www.tfl.gov.uk/barclayscyclehire">tfl.gov.uk/barclayscyclehire</a>. </p>
<p>Membership will entitle them to an electronic key, which they will be able to use to take a hire cycle from one of hundreds of locations across central London from next Friday (30 July).</p>
<p>The Mayor of London, Boris Johnson, said: 'From today, we're offering Londoners their very own keys to the city, in the guise of Barclays Cycle Hire membership. </p>
<h2>New icon of the Capital</h2>
<p>'For as little as 12p a day, members of this fantastic new addition to our transport system will have the freedom of central London. </p>
<p>'This scheme is set to become a new icon of the Capital and will enable thousands more people to cycle in our magnificent city.'</p>
<p>Londoners or visitors to the Capital who want to use central London's brand new system during its first month of operation will need to be a member of the cycle hire scheme. </p>
<p>This will enable TfL and its contractor, Serco, to understand and learn from how members engage with the scheme, including patterns of bicycle usage. </p>
<p>To use the scheme on 30 July, members will need to have received and activated their key, so people are urged to sign up as soon as possible.</p>
<p>TfL's Managing Director of Surface Transport, David Brown, said: 'Barclays Cycle Hire will revolutionise how we get around central London.&nbsp; </p>
<h2>So much anticipation</h2>
<p>'Building on the experience of other cities who have launched similar schemes, we and Serco will use the first month of operation to learn more about how Londoners engage with the scheme, including patterns of use, how we can best support customers and to enable the scheme to bed down.'</p>
<p>Chief Executive of Serco Civil Government, Tom Riall, said: 'After so much anticipation, we're proud to be delivering Barclays Cycle Hire for the Mayor and Londoners.&nbsp; </p>
<p>'Pioneer members can now register for this unique scheme, enabling them to hire a cycle from next Friday, 30 July.&nbsp; </p>
<p>'We will continue to take registrations throughout August and then open the scheme up to casual users. We urge all users to cycle safely.'</p>
<p>A membership key costs &pound;3 with membership costs at &pound;1 for a 24-hour membership, &pound;5 for seven days and &pound;45 for an annual membership.&nbsp; </p>
<p>The first 30 minutes of any journey will be free. </p>
<p>For more information on how to become a member of Barclays Cycle Hire and advice on how to use the scheme visit <a href="http://www.tfl.gov.uk/barclayscyclehire">tfl.gov.uk/barclayscyclehire</a></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Casual users will be able to hire bicycles from terminals at docking stations around four weeks after Barclays Cycle Hire launches to members </li>
<li>Members of the scheme must be at least 18 years old, and you will need to be at least 14 years old to use the scheme </li>
<li>Barclays Cycle Hire, which will be operated by Serco Limited on behalf of TfL, will be the most sustainable and environmentally friendly form of public transport ever seen in the Capital </li>
<li>Barclays Cycle Hire and Barclays Cycle Superhighways will build on the massive 117 per cent growth in cycle journeys on London's major roads since TfL was created in 2000. Barclays Cycle Hire is expected to generate up to 40,000 extra cycle trips a day in central London. There are currently 5,000 cycle journeys a day on both pilot Barclays Cycle Superhighways routes; TfL's target is to increase this by 22,000 cycle trips per day by 2013 </li>
<li>Barclays Cycle Hire will operate across central London. Docking stations and hire bicycles will be available in Camden, City of London, Hackney, Islington, Lambeth, Kensington &amp; Chelsea, Southwark, Tower Hamlets, Westminster and several of the Royal Parks </li>
<li>Follow us on Twitter at&nbsp; <a href="http://www.twitter.com/BarclaysCycle">www.twitter.com/BarclaysCycle</a>&nbsp; </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "People can now sign up for daily, weekly or annual memberships for the Mayor and Transport for London's cycle hire scheme, at tfl.gov.uk/barclayscyclehire. Membership will entitle them to an electronic key, which they will be able to use to take a hire";}
        
        


 