


@{ViewBag.Title = "New DLR timetable delivers 11 per cent capacity increase ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New DLR timetable delivers 11 per cent capacity increase </h1>
        <div class="content-page-press-release">
        13 July 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Three year, &pound;325m upgrade programme and 55 new carriages sets network up for 2012.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Passengers will see increasing benefits delivered by our upgrade and new carriages"</div>
        <div class="quote-footer">
            <div class="quotee-name">Jonathan Fox</div>
            <div class="quotee-job-title">Director of DLR</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Passengers will see increasing benefits delivered by our upgrade and new carriages
                            
                        </p>
                    </div>
                
            
            
            <p>Trains on the Docklands Light Railway (DLR) are now running more often during the morning peak, giving passengers an 11 per cent increase in capacity following the completion of this crucial investment. <br>&nbsp;<br>Earlier this year, the Bank to Lewisham route saw the introduction of three carriage trains, giving an additional 50 per cent capacity. <br>&nbsp;<br>A new morning peak timetable means that passengers now benefit from more frequent services - with a rise from 13.3 trains per hour to 15 trains per hour - giving the route the ability to carry an extra 1,100 passengers per hour. </p>
<h2>Playing a key role</h2>
<p>On other principal routes there is also an 11 per cent increases in capacity.<br>&nbsp;<br>In addition, during the evening peak, there is an 11 per cent increase in capacity on the busy Stratford to Canary Wharf route, with a train frequency of 10 trains per hour giving the ability to carry an extra 490 passengers per hour.&nbsp; </p>
<p>Kulveer Ranger, the Mayor's transport adviser, said: 'Increasing the capacity of the DLR is vital ahead of the 2012 Games when it will play a key role in getting people to the venues.&nbsp;&nbsp; </p>
<p>'Delivering these improvements now is a good example of the Mayor's commitment to delivering the legacy of the Games early for people who live and work along the route of the DLR.' </p>
<h2>Network capacity improvement</h2>
<p>Director of the DLR, Jonathan Fox, said: 'We are pleased to be able to deliver this service improvement to our passengers. </p>
<p>'This is the second network capacity improvement step following on from our upgrade programme and there will be more to come as our passenger numbers continue to increase.<br>&nbsp;<br>'Passengers will see increasing benefits delivered by our upgrade and new carriages. </p>
<p>'Again I'd like to thank them for their patience and cooperation during the last three years.'<br>&nbsp;<br>As part of this &pound;325m upgrade three-carriage trains now operate on the Bank-Lewisham route, and will be rolled out across the network as demand requires. </p>
<p>Construction work is now under way so that all parts of the line are able to operate three-carriage trains by the time of the 2012 Olympic and Paralympic Games, when&nbsp; it is expected that 500,000 people a day will use the DLR.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The new timetable began on Monday 12 July </li>
<li>Morning peak services between Canary Wharf and Lewisham are operating a combined 20 trains per hour instead of the current 22. However, the new service provides 25 per cent more capacity on this section than the service which ran immediately prior to the introduction of three-car trains, in February 2010 </li>
<li>The Bank to Lewisham route sees an increase from 13.3 to 15 tph or an extra 1100 passengers per hour. Stratford to Lewisham services are reduced in frequency (8.9 to 5 tph) in order to allow an 11 per cent increase in capacity between Stratford and Canary Wharf (8.9 to 10 tph) the equivalent of an extra 490 passengers per hour </li>
<li>The evening peak timetable on routes other than Stratford to Canary Wharf&nbsp; remains unchanged although to make the Stratford service improvement possible all Stratford services are terminating at Canary Wharf rather than at Lewisham. This is to meet current demand on the Canary Wharf to Lewisham route and should the need arise, further capacity can be added in the future </li>
<li>Midday off-peak services between Stratford and Canary Wharf are slightly reduced in frequency, from every five to every seven minutes </li>
<li>Photographs of the last of the new DLR carriages on its first run in public service are available on request</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Trains on the Docklands Light Railway (DLR) are now running more often during the morning peak, giving passengers an 11 per cent increase in capacity following the completion of this crucial investment. &nbsp;Earlier this year, the Bank to Lewisham route";}
        
        


 