


@{ViewBag.Title = "New Tube seating fabric captures the spirit of London ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New Tube seating fabric captures the spirit of London </h1>
        <div class="content-page-press-release">
        09 July 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) today revealed the winner of a public competition to design a brand new Tube seating fabric.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The standard was extremely high but this unusual seating fabric - which is practical, attractive and economical - met the very tight design brief on every level"</div>
        <div class="quote-footer">
            <div class="quotee-name">Richard Parry</div>
            <div class="quotee-job-title">LU's Strategy and Commercial Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The standard was extremely high but this unusual seating fabric - which is practical, attractive and economical - met the very tight design brief on every level
                            
                        </p>
                    </div>
                
            
            
            <p>A London-based company called WallaceSewell, famous for their patterned woven scarves, beat over 350 entries from around the world to win. </p>
<p>Their bold design was chosen because it captured the spirit of London as well as meeting the judges' demanding technical brief. </p>
<p>With around three-and-a-half million customers using the Tube every day, entrants were asked to create a fabric design that would be practical and contemporary. </p>
<p>Innovative design is part of the Tube's identity and history. </p>
<h2>Shades of blue and red</h2>
<p>The Tube seat fabric, also known as moquette, needed to be something that according to the brief, translated well into a woven material. </p>
<p>Designers were told that it should not be too jazzy or complicated and that it should not have too large a repeat pattern - as this would help to economise on materials when cut to fit the seats.&nbsp; </p>
<p>The winning design is based on shades of blue with red highlights. </p>
<p>WallaceSewell's starting point was London landmarks which were turned into abstract primary shapes like circles, triangles and squares allowing customers to interpret the pattern as they wish. </p>
<h2>Soft and comfortable</h2>
<p>As part of the TfL Investment Programme the fabric will be used on refurbished Central line trains from the middle of 2011 and on other new trains where possible. </p>
<p>The colours and design reflect the iconic LU brand. </p>
<p>LU is one of the few Metro operators which has not changed to plastic or metal seating. </p>
<p>It is hoped that this high-quality moquette, which is soft and comfortable, will enhance customers' journeys. </p>
<h2>Distinctive pattern</h2>
<p>Richard Parry, Strategy and Commercial Director for LU, said: 'We chose the WallaceSewell entry because it captures the spirit of London. </p>
<p>'Quality design has always played a very important role at London Underground and this distinctive pattern reflects our corporate brand perfectly. </p>
<p>'The standard was extremely high but this unusual seating fabric - which is practical, attractive and economical - met the very tight design brief on every level.'</p>
<p>The WallaceSewell two-woman team also created the moquette for the new London Overground trains, Croydon trams and the East London Transit.</p>
<p>Emma Sewell, WallaceSewell, said: 'It's a real honour to win this competition. </p>
<h2>Rich design heritage</h2>
<p>'We can't wait to see our creation on Tube trains and see how passengers react to our design.'</p>
<p>Co-designer Harriet Wallace-Jones, WallaceSewell, said: 'We've always admired the world famous London Underground seating fabrics and colours.&nbsp; </p>
<p>'Nothing beats the feeling that you are going to be part of the Tube's rich design heritage.'</p>
<p>The judges included Lynda Relph-Knight, editor for Design Week, Rachel Halliburton, deputy editor for Time Out magazine and Robert Elms, BBC London radio broadcaster. </p>
<p>
<hr>
&nbsp;<br><strong>Notes to editors:</strong> 
<ul>
<li>The new moquette will be known, officially, as 'Barman' after Christian Barman, Royal Designer for Industry (1898 - 1980) who was London Transport's publicity manager, in charge of many elements of Underground design, from 1935 until 1941. It was Barman who oversaw the first deliberate commissioning of moquette for the system in 1936. This included such famous designers as Enid Marx, Marion Dorn, Paul Nash and Norbert Dutton and forms part of our long heritage of industrial design and customer comfort </li>
<li>LU is undertaking a major programme of renewal as part of Transport for London's Investment Programme. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future.&nbsp; TfL is urging all Londoners and Tube, London Overground and Docklands Light Railway passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> </li>
<li>Images available on request<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A London-based company called WallaceSewell, famous for their patterned woven scarves, beat over 350 entries from around the world to win. Their bold design was chosen because it captured the spirit of London as well as meeting the judges' demanding";}
        
        


 