


@{ViewBag.Title = "New Motorcycles in Bus Lanes trial begins this weekend";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New Motorcycles in Bus Lanes trial begins this weekend</h1>
        <div class="content-page-press-release">
        23 July 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Motorcyclists in London will be permitted to use the Capital's red route bus lanes under a new 18-month Motorcycles in Bus Lanes trial that begins tomorrow.
        
    </div>



 <div class="on-this-page">
<p>The new trial will allow motorcyclists to ride in the 418 bus lanes on the Transport for London Road Network (TLRN) that were used in the previous 18-month trial, which ended on 5 July. </p>
<p>However, the new trial will also include the following additional elements:</p>
<ul>
<li>A new road safety awareness campaign aimed at improving drivers' awareness of motorbikes and cyclists in bus lanes </li>
<li>Motorcyclists on BikeSafe training will have their courses updated to include extra training on awareness of vehicles crossing their path at junctions </li>
<li>There will be strict enforcement of speeding by motorcyclists, in order to improve safety</li></ul>
<p>A report into the previous trial examined the 418 TLRN bus lanes that the trial covered, and looked in detail at 28 of those trial sites, comparing them with 28 control sites on parallel routes where motorcyclists did not have access to bus lanes.</p>

<h2>A new trial</h2>
<p>It found that:</p>
<ul>
<li>Fears of an increase in cyclist collisions with motorcyclists were unfounded </li>
<li>There was a fall in the cyclist collision rate across trial bus lanes and the control lanes, with a smaller decrease in the trial lanes, and there were no fatal accidents over the period of the trial </li>
<li>More than half (51 per cent) of motorcyclists switched from riding on the outside of the road to the bus lanes </li>
<li>In addition, a separate study by TfL that used police traffic officers to study journey times in bus lanes indicated that journeys made by motorcycles using bus lanes were, on average, more than 10 per cent quicker than those not using bus lanes and 36 per cent quicker than cars</li></ul>
<p>Road user surveys of more than 2,000 Londoners also found that:</p>
<ul>
<li>Ninety-three&nbsp;per cent of motorcyclists and 51 per cent of cyclists and car and van drivers who were aware of the Motorcycles in Bus Lanes trial supported it </li>
<li>Fifty-four per cent of motorcyclists said they now use&nbsp;the TLRN more often following the start of the trial</li></ul>
<p>However, the independent report found that some questions remain about the way in which motorcycle riders use bus lanes. </p>
<p>It identified that there was an increase in the rate of motorcyclist collisions, predominantly with cars turning into or out of side roads on routes where motorcyclists had access to bus lanes. </p>

<h2>Safety findings</h2>
<p>At the trial sites there was an increase from 30 to 41 collisions, whereas there was a reduction from 16 to&nbsp;eight collisions on the control sites. </p>
<p>In light of those findings, the decision was made to introduce the new trial, which starts this weekend and will run for 18 months.</p>
<p>Ben Plowden, Director of Better Routes and Places at Transport for London (TfL), said: 'As part of this new trial, we'll be introducing a focused road safety awareness campaign aimed at making drivers more aware of the need to look out for motorcyclists' and cyclists' presence in bus lanes.</p>
<p>'Motorcyclists undertaking BikeSafe training will also receive additional information on the need to watch out for vehicles turning across their path at junctions.</p>
<p>'Stricter enforcement of speeding by motorcyclists will also be a priority to improve safety. </p>
<p>'Taken together, these campaigns will be part of our wider effort to help reduce the number of motorcyclist collisions taking place on London's major roads.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Transport Research Laboratory monitoring report of the trial '<a href="http://www.tfl.gov.uk/roadusers/finesandregulations/10151.aspx">Assessment of TfL's experimental scheme to allow motorcycles onto with-flow bus lanes on the TLRN'</a> </li>
<li>The attitudinal survey report is available: <a href="http://www.tfl.gov.uk/assets/downloads/motorcycles-in-bus-lanes-final-customer-research-report.pdf">Wave 1 research</a>,&nbsp;<a href="http://www.tfl.gov.uk/assets/downloads/Attitudes_to_Trial_of_P2W_use_of_Bus_Lanes_-_Wave_2_Report.pdf">Wave 2 research</a> </li>
<li>The report carried out by Police Traffic Officers into motorcycle journey times in bus lanes - <a href="http://www.tfl.gov.uk/roadusers/finesandregulations/10151.aspx ">Evaluation of Journey Times and Emissions of Powered Two-Wheelers in Bus Lanes report</a>, is produced by Local Transport Projects </li>
<li>The&nbsp; objectives of the previous trial, which ran from 5 January 2009 to 5 July 2010 were: 
<ul>
<li>To facilitate the safe, efficient and effective movement of motorcyclists, without an adverse effect on other traffic </li>
<li>To fully assess the impact of all traffic, in particular cyclists, in order to facilitate an informed decision about whether to permanently allow motorcyclists to use bus lanes </li>
<li>To fully consider and respond to representations made by road user groups, organisations representing people with disabilities, key stakeholders and members of the public</li></ul></li>
<li>The Transport Research Laboratory report compared the 10-month period between January 2008&nbsp;and October 2008, prior to the start of the trial in January 2009, with the 10-month period between January 2009 and October 2009 </li>
<li>Red routes, also known as the TLRN are the roads in London that are owned and maintained by TfL. Five per cent of the roads in London are red routes, but they carry about a third (approximately 33 per cent) of the city's traffic. These are the key routes or major arterial roads in London </li>
<li>TfL have implemented a new experimental traffic order on the TLRN. This traffic order allows traffic control schemes to be implemented temporarily. Schemes are implemented by the local traffic authority (TfL in this case) and must remain in place for a minimum of six months and a maximum of 18 months. They are effective under Section 9 of the Road Traffic Regulation Act 1984</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new trial will allow motorcyclists to ride in the 418 bus lanes on the Transport for London Road Network (TLRN) that were used in the previous 18-month trial, which ended on 5 July. However, the new trial will also include the following additional";}
        
        


 