


@{ViewBag.Title = "One million extra journeys with Oyster pay as you go on National Rail";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>One million extra journeys with Oyster pay as you go on National Rail</h1>
        <div class="content-page-press-release">
        15 July 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A million extra journeys are being made each week using Oyster pay as you go on National Rail after it was extended to all 350 National Rail stations in Greater London at the start of the year.
        
    </div>



 <div class="on-this-page">
<p>The roll-out doubled the number of stations where Transport for London's (TfL) Oyster is accepted and increased the number of National Rail journeys using Oyster pay as you go from 800,000 to 1.8 million each week.</p>
<p>Using Oyster pay as you go gives many passengers a cheaper option than buying a normal cash single on National Rail. </p>
<p>Passengers living across south and northeast London have had the most noticeable improvement as Oyster pay as you go was not previously accepted in those areas. </p>
<p>Oyster can now be used on all commuter rail, Tube, Docklands Light Railway (DLR), London Overground, London Buses and Tramlink services in the Capital and is also accepted on Thames Clippers river services. </p>
<h2>Cheapest possible fare</h2>
<p>Kulveer Ranger, the Mayor of London's Transport Advisor, said: 'The Mayor was determined that the thousands of Londoners who use National Rail services should be able to benefit from the ease and convenience of Oyster. </p>
<p>'He made that a priority and we're pleased to see that it has been a huge success. </p>
<p>'An astonishing number of Londoners, particularly in the south and northeast of the Capital, are using Oyster and benefiting from the cheapest possible fare.'</p>
<p>Pay as you go with Oyster not only charges the lowest fares in nearly every case but also saves time, as there is no need to queue to buy a ticket, passengers simply top up their card at any suitable ticket machine or online. </p>
<p>The Oyster system then ensures that the correct fare is charged taking into account any applicable discounts. </p>
<p>Oyster cards and pay as you go top-up can now be bought from all 270 Tube stations, from 4,000 Ticket Stops across Greater London, at TfL Travel Information Centres and online via the TfL website. </p>
<h2>Touch in and out</h2>
<p>Oyster cards can also be bought from ticket offices at 202 National Rail station stations including London Overground and can be topped up at 238 stations. </p>
<p>Top-up can also be bought from ticket machines at all DLR stations.</p>
<p>Extending Oyster pay as you go was achieved by close working between TfL, Department for Transport (DfT), the Association of Train Operating Companies (ATOC) and train companies which run commuter services in Greater London: Chiltern, National Express East Anglia, London Midland, First Great Western, First Capital Connect, Southern, Southeastern, South West Trains and c2c.</p>
<p>To ensure that National Rail passengers using Oyster pay the correct fare and to avoid incurring a maximum fare, they must always touch in and out at the start and end of every journey when using Oyster pay as you go.</p>
<p>Shashi Verma, TfL's Director of Fares and Ticketing, said: 'The roll-out of Oyster pay as you go to National Rail has been a huge success with 1.8 million journeys now being made each week. </p>
<p>'Oyster pay as you go will almost always offer the cheapest single rail fare compared to traditional cash single tickets. </p>
<p>'With Oyster you only need one ticket to travel on public transport across the Capital and with seven million cards in regular use it is now the world's most successful and popular travel smartcard.' </p>
<h2>Save money</h2>
<p>David Mapp, ATOC Commercial Director, said: 'Six months on from the launch, everyone involved has been very pleased with how well the Oyster pay as you go roll-out has worked. </p>
<p>'The aim was to make public transport around the Capital easier and quicker for thousands of rail passengers every day. </p>

<p>'An added bonus for many passengers is that they save money too. </p>
<p>'This was a project that took a great deal of joint work between train companies, TfL and DfT, and it is great news that it has proved to be so successful.'</p>
<p>The benefits of Oyster have also now been extended to holders of National Rail season ticket Gold Cards, who are now able to load their discount onto Oyster pay as you go cards. </p>
<p>With the 34 per cent discount on all National Rail services in London and the South East this provides, customers are now able to travel further, and for cheaper, using just one card. </p>
<p>This means that Gold Card holders will no longer need to queue to purchase discounted paper tickets from ticket offices or machines for National Rail journeys within Greater London. </p>

<p>&nbsp;
<hr>
<br><strong>Notes to editors:</strong>
<p>
<ul>
<li>At the recent Mayoral rail summit it was agreed that TfL would work with ATOC and train operators to review extending the acceptance of Oyster pay as you go to stations beyond the Greater London Travelcard area where it makes sense to do so </li>
<li>In the majority of cases, Oyster pay as you go offers the cheapest single rail fare applicable to that particular route. The only exceptions are holders of certain national Railcards ie Network, Family, for whom cheaper paper tickets for travel on National Rail may be available. Passengers are advised to check the best fare before travelling with the relevant train operator </li>
<li>Oyster pay as you go is not accepted on Heathrow Express, on Heathrow Connect services between Hayes and Harlington and Heathrow Terminals, or on Southeastern High Speed services between Stratford and St. Pancras International </li>
<li>The train companies set Oyster pay as you go fares on the National Rail network. These are zonally based, but are different from fares on TfL services. TfL fares apply on the Tube, DLR, London Overground and National Rail services that accepted Oyster pay as you go prior to 2 January 2010 </li>
<li>An additional combined TfL/National Rail fare has been introduced for journeys that incorporate both TfL and National Rail services </li>
<li>Passengers can access the online TfL Single Fares Finder to find out the best value fare for their journey. It provides a choice of information on single journey fares for Tube, DLR, Overground and some National Rail services. The TfL Single Fares Finder can be found at: <a href="http://www.tfl.gov.uk/fares">www.tfl.gov.uk/fares</a> </li>
<li>TfL has invested &pound;40m to install or upgrade equipment at every train station in London to bring about the Oysterisation of the Capital's transport system </li>
<li>More than&nbsp;seven million Oyster cards are regularly used in London and Oyster accounted for more than&nbsp;three billion passenger journeys last year </li>
<li>Oyster is available: <br>-&nbsp; Online at: <a href="http://www.tfl.gov.uk/oyster">www.tfl.gov.uk/oyster</a><br>-&nbsp; Over the phone at 0845 330 9876 <br>-&nbsp; At one of 4,000 Oyster Ticket Stops across London<br>-&nbsp; At Tube and London Overground station ticket machines and ticket offices<br>-&nbsp; From the majority of ticket machines and ticket offices at National Rail stations<br>-&nbsp; At six London Travel Information Centres, open seven days a week at Liverpool Street Tube station, Piccadilly Circus Tube station, Euston Mainline station, Victoria Mainline station, Heathrow Terminals 1,2,3 Tube station and King's Cross St. Pancras Tube station - Western Ticket Hall.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The roll-out doubled the number of stations where Transport for London's (TfL) Oyster is accepted and increased the number of National Rail journeys using Oyster pay as you go from 800,000 to 1.8 million each week.Using Oyster pay as you go gives many";}
        
        


 