


@{ViewBag.Title = "Plans unveiled for a new Thames crossing with London`s first cable car system";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Plans unveiled for a new Thames crossing with London`s first cable car system</h1>
        <div class="content-page-press-release">
        04 July 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Consultation to start on a privately funded cable car link. Provide a low-emission, quick, direct and fully accessible link between Greenwich Peninsula and Royal Docks.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Passengers would be able to drink in the truly spectacular views of the Olympic Park and iconic London landmarks"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Passengers would be able to drink in the truly spectacular views of the Olympic Park and iconic London landmarks
                            
                        </p>
                    </div>
                
            
            
            <p>&nbsp;New link would further boost economic regeneration and could be open ahead of the 2012 Games. </p>
<p>UK's first urban cable car.</p>
<p>Plans for the UK's first urban cable car were unveiled today, which could provide a much needed new river crossing between the Greenwich Peninsula and the Royal Docks, offering spectacular views along the Thames.</p>
<p>The proposals being developed by Transport for London (TfL) would provide a privately-funded, fully accessible cable car for pedestrians and cyclists which would cut travel times between the O2 and ExCeL, two major Olympic and Paralympic venues. </p>
<p>The cable car would cross the river at a height of over 50 metres, similar to that of the Dome offering spectacular aerial views of the Olympic Park. </p>
<p>It would take around five minutes to travel between the O2 and ExCeL cutting current travel times. </p>
<p>The cable car could provide a crossing every 30 seconds carrying up to 2,500 passengers per hour in each direction, equivalent to the capacity of 50 buses per hour. </p>
<h2>Ease congestion</h2>
<p>The scheme is being proposed in response to the Mayor of London, Boris Johnson's desire to increase the number of river crossings east of Tower Bridge. </p>
<p>It is one of a number of initiatives being considered and could open ahead of the 2012 Games, subject to funding and planning permission being secured; thereby providing much needed additional capacity to the transport network in this area.</p>
<p>The cable car would be a first for the Capital, and the only urban system in the UK, seeking to replicate the success of cable cars in many cities across the world such as Lisbon and Barcelona.</p>
<p>Mayor of London, Boris Johnson, said: 'A cable car spanning the majestic Thames would not only provide a unique and pioneering addition to London's skyline, but also offer a serene and joyful journey across the river. </p>
<p>'Passengers would be able to drink in the truly spectacular views of the Olympic Park and iconic London landmarks whilst shaving valuable minutes from their travelling time. </p>
<p>'It would also provide a much needed enhancement of cross river options to the east of the city.</p>
<p>'The aim is to fund the construction of the scheme entirely from private finance and discussions are ongoing with a number of private sector organisations that have expressed interest in the project. </p>
<p>The Mayor has asked TfL in collaboration with the London Development Agency (LDA) to run a public consultation on the proposal in order to understand local views on the idea.</p>
<h2>Your view</h2>
<p>A cable car would bring significant benefits to the local area:</p>
<ul>
<li>Cut journey times to around five minutes between the Greenwich Peninsula and Royal Docks, linking the world's busiest music venue, O2, with the UK's busiest exhibition centre, ExCeL, both of which are major Olympic&nbsp;and Paralympic venues set to host sports such as boxing, table tennis, trampoline, basketball, wheelchair basketball</li>
<li>Carry up to 2,500 passengers per hour in each direction across the river, providing much needed additional capacity and an alternative for local journeys, equivalent to the hourly numbers of people travelling through the Blackwall Tunnel by car</li>
<li>This would provide pedestrians and cyclists with a frequent and regular service</li>
<li>Increase the capacity of the transport network in this area</li>
<li>It would be fully accessible and will be designed so it can be used by those with reduced mobility including wheelchair users and people with pushchairs</li>
<li>Provide people in North Greenwich with additional access to the Docklands Light Railway and in the future Crossrail at Custom House. It will provide residents in Royal Docks with direct access to the bars, restaurants and cinemas in North Greenwich</li>
<li>A low emission mode of public transport allowing the river to be crossed with no impact on air quality</li>
<li>Attracting new visitors to east London with spectacular views along the Thames from the cabins</li>
<li>Promote economic regeneration by creating new access to the employment, leisure and enterprise opportunities on both sides of the river including the Royal Docks</li></ul>
<p>Peter Hendy, TfL's Transport Commissioner said: 'We recognise the need for additional river crossings east of Tower Bridge and a range of options are currently being examined including how they will be funded.</p>
<p>'However, many of these measures such as a new vehicle crossing at Silvertown will take years to deliver. </p>
<p>'A privately funded cable car system offers a relatively quick and cost effective way of improving connections across the river for pedestrians and cyclists while road links are progressed in parallel. </p>
<p>'It would be frequent, with cable cars every 30 seconds carrying up to 2,500 passengers per hour in each direction, equivalent to the capacity of 50 buses per hour.'</p>
<h2>Extra capacity</h2>
<p>The project is still in the early stages of development and there is still detailed work to do in finalising the design, the operating hours and the fares structure but TfL would require any chosen operator to accept Oyster pay as you go. </p>
<p>A cable car system can be built relatively quickly and cheaply to provide a much needed additional crossing while also supporting the local economy by attracting visitors and new businesses to the area. </p>
<p>The estimated construction cost is likely to be around &pound;25m. </p>
<p>East London and the Royal Docks is the focus of a raft of regeneration projects whilst developments such as Canary Wharf have increased the overall demand for travel across the river. </p>
<p>The Mayor wants to transform this area of London into a vibrant new metropolitan quarter hosting new tourist attractions, new businesses and homes and creating job opportunities. </p>
<p>A particular need has been identified for new links between the Greenwich Peninsula and the Royal Docks, linking the world's busiest music venue, O2, with the UK's busiest exhibition centre, ExCeL.</p>
<p>Much of the land in the Royal Docks is in public ownership and the LDA ,on behalf of the Mayor of London and Newham Council, are developing ambitious plans to regenerate the whole area. </p>
<p>Improving transport connections across the Thames to the Greenwich Peninsula will provide a significant boost to these plans. </p>
<p>These include the Mayor's recently announced Green Enterprise District in east London, spearheaded by a &pound;30m Siemens Pavilion.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Cities operating cable car systems include Barcelona, Cologne, Hong Kong, Lisbon, New York and Singapore</li>
<li>An image of the proposed cable car route can be obtained from the TfL press office</li>
<li><a href="http://www.tfl.gov.uk/cablecar">Further information about the Royal Docks cable car consultation and how to submit a response</a></li>
<li>The consultation begins on 5 July and closes on 2 August. As design work on the project is not yet finalised, there will be a further opportunity to comment when an outline planning application is submitted later this year</li>
<li>The proposed cable car route crosses below the approach to London City Airport. There are strict Civil Aviation Authority guidelines about intrusion by buildings and other structures into the flight approach area. Options for crossing the river east of Tower Bridge have improved significantly in recent years with the opening of the Jubilee line Extension, the expansion of the DLR network, the introduction of passenger ferry services and the recently reopened East London line. The opening of Crossrail in 2017 will provide new links but further improvements are required particularly for vehicle travel across the river. The Mayor asked TfL to investigate a package of river crossing options across east London to address a number of problems. TfL published its initial report in July 2009 with options outlined in the recently published Mayor's Transport Strategy which notes that a new road crossing at Silvertown would be better placed to relieve south and east London of the congestion at Blackwall and provide the resilience that is needed. TfL is continuing to investigate the best means of providing this. Other options being considered include improvements for pedestrians and cyclists and the potential for new links in areas further east<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "&nbsp;New link would further boost economic regeneration and could be open ahead of the 2012 Games. UK's first urban cable car.Plans for the UK's first urban cable car were unveiled today, which could provide a much needed new river crossing between the";}
        
        


 