


@{ViewBag.Title = "Street stencils support teens road safety campaign";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Street stencils support teens road safety campaign</h1>
        <div class="content-page-press-release">
        27 July 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is reaching out to the Capital's teens as part of its summer road safety campaign by placing thought provoking stencils in parks across London.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It is vital that, while the number of teenagers being killed or badly hurt on London's roads is falling, we keep working hard to get the message across"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor's Transport Adviser</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It is vital that, while the number of teenagers being killed or badly hurt on London's roads is falling, we keep working hard to get the message across
                            
                        </p>
                    </div>
                
            
            
            <p>The initiative has been taken to areas such as skate parks popular with young people to reach teenagers while they socialise with friends. </p>
<p>The strapline 'Think! Look out for your mates' has been situated in popular meeting places from 20 July and aims to get teens actively thinking about the issue of road safety. </p>
<h2>Reduce teen deaths</h2>
<p>The stencils are part of a road safety campaign being promoted across London this summer, as TfL aims to reduce the number of teens killed or seriously injured on the Capital's roads. </p>
<p>Posters have been up across the Capital since mid June and TfL has been working with a number of pop artists as well as Premiership football clubs to promote the campaign's key messages.</p>
<p>'Think! Look out for your mates' can be seen in Parsloes Park, Biggin Hill Recreation Ground, Finsbury Park and Hammersmith Park.</p>
<p>Kulveer Ranger, the Mayor's Transport Adviser, said: 'It is crucial we keep coming up with new innovative approaches to highlight to young people the need to keep safe on our roads, and this projects is just one of a whole range of ways in which we are aiming to do that.</p>
<p>'It is vital that, while the number of teenagers being killed or badly hurt on London's roads is falling, we keep working hard to get the message across.' </p>
<h2>Accidents falling</h2>
<p>Lilli Matson, Head of Modal Policy at TfL, says: 'These stencils really bring the campaign to life in the Capital's play areas, where teens congregate naturally. </p>
<p>'We hope that the 'Look out for your mates' message reaches them loud and clear, that it spreads through word of mouth and that it helps to reduce the number of teens killed or seriously injured.'</p>
<p>Teenagers are the most vulnerable age group when it comes to road accidents in the Capital. This is largely because of the growing independence young people have as they start travelling on their own to secondary school and spending more time with their friends. </p>
<p>Last year's road casualty figures show that 301 teenagers (aged 13-19) were killed or seriously injured on London's roads last year, compared with 367 in 2008. Overall the number of teenagers killed or seriously injured has fallen by almost 55 per cent since 2000. <br><br>
<hr>
<strong>Notes to editors</strong> <strong></strong>
<ul>
<li>In March 2000 the previous Government announced a new national road safety strategy and casualty reduction targets for 2010 in 'Tomorrow's roads - safer for everyone'.&nbsp;The casualty reduction targets are to be achieved by end 2010.<br>They are: </li>
<li>All KSIs reduced by 40 per cent </li>
<li>Pedestrian KSIs reduced by 40 per cent </li>
<li>Cyclist KSIs reduced by 40 per cent </li>
<li>Powered two wheeler KSIs reduced by 40 per cent </li>
<li>Child KSIs reduced by 50 per cent </li>
<li>All slight injuries reduced by 10 per cent </li></ul>
<p>&nbsp;</p>
<ul>
<li>In addition, a Road Safety Plan for London was produced by TfL in 2006, which supported the national targets and set further targets for reducing the numbers of pedestrians, pedal cyclists and powered two-wheeler riders killed or seriously injured by 2010 against the same baseline.<br>They are: </li>
<li>All KSIs reduced by 50 per cent&nbsp; </li>
<li>People KSIs reduced by 50 per cent </li>
<li>Cyclist KSIs reduced by 50 per cent P2W KSIs reduced by 40 per cent </li>
<li>Child KSIs reduced by 60 per cent </li>
<li>All slight injuries reduced by 25 per cent </li></ul>
<p>&nbsp;</p>
<ul>
<li>London has already exceeded the 2010 targets set by the Government for the number of children killed or seriously injured and the total number of people killed or seriously injured three years early.&nbsp;London has also met the more stringent London target of a 60 per cent reduction in the number of children (age 15 years and younger) killed or seriously injured on our roads and is working to further reduce the number of casualties </li>
<li>The Casualties in Greater London during 2009 report is available at <a href="http://londonroadsafety.tfl.gov.uk/data-research_publications.php">http://londonroadsafety.tfl.gov.uk/data-research_publications.php</a> </li>
<li>Images available upon request</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The initiative has been taken to areas such as skate parks popular with young people to reach teenagers while they socialise with friends. The strapline 'Think! Look out for your mates' has been situated in popular meeting places from 20 July and aims to";}
        
        


 