


@{ViewBag.Title = "TfL and Network Rail to suspend engineering works in summer 2012";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL and Network Rail to suspend engineering works in summer 2012</h1>
        <div class="content-page-press-release">
        20 July 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        With two years to go, TfL is on track to deliver transport projects in support of the 2012 Olympic and Paralympic Games.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"All non-essential engineering upgrade work on London Underground, DLR and Tramlink will be suspended"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            All non-essential engineering upgrade work on London Underground, DLR and Tramlink will be suspended 
                            
                        </p>
                    </div>
                
            
            
            <p>No planned closures on the Tube, Docklands Light Railway (DLR), London Overground, Tramlink or National Rail for 10 days before the Olympics until the end of the Paralympics, with closures also minimised in the weeks before.</p>
<p>Two years out from the biggest event that the Capital has ever staged, Transport for London (TfL) is on track with preparations for the London 2012 Olympic and Paralympic Games. </p>
<p>Many transport projects have been completed or are nearing completion and Londoners are already benefitting from the legacy of better connected trains and Tubes with greater capacity, including new longer trains on the DLR, plus new and higher frequency trains on London Overground.</p>
<p>With the extensive amount of work that is being put into upgrading the network ahead of the Olympic and Paralympic Games, TfL has been able to plan its ongoing investment programme engineering schedule so that there will be no planned line closures over the Games period, with closures also minimised in the weeks before. </p>
<p>Network Rail will also be suspending their engineering works during this time. </p>
<p>The suspension of non-essential works, particularly at weekends in London, will maximise the efficiency of London's Tube and train network during what will be a very busy time for the Capital - and will help to make visitors' 'London experience' the best it can be, promoting London as one of the world's leading cities.</p>
<h2>Engineering works suspended</h2>
<p>Mayor of London, Boris Johnson, said: 'I want London to be the best big city on earth and we look forward to welcoming the world in summer 2012.&nbsp; </p>
<p>'Alongside the Games themselves, there will be a feast of fun and festivities and while it certainly will be 'business as unusual', we want to do all we can to ensure people can get around on the Tube and trains as easily, reliably and efficiently as possible.'</p>
<p>All non-essential engineering upgrade work on London Underground, DLR and Tramlink will be suspended from 17 July 2012 until the conclusion of the Paralympics on 14 September 2012. </p>
<p>Overnight maintenance work will continue as usual during this time but there will not be any planned station or line closures for the duration in Greater London.</p>
<p>On the central section of the East London Line, where TfL has maintenance responsibility, planned engineering work will also be suspended. </p>
<p>Network Rail is responsible for maintenance on the remainder of the London Overground network, which will be included in their suspension plans.</p>
<p>Network Rail will be suspending all of their disruptive improvement work from four weeks prior to the Games until the conclusion of the London Olympics on key routes serving the venues as well as all metro and suburban routes across London. </p>
<h2>Transport improvements</h2>
<p>Mainline rail routes across the country will also be free from planned signalling and track upgrade work. </p>
<p>Overnight maintenance work will continue as normal.</p>
<p>Peter Hendy, London's Transport Commissioner, said: 'We're looking forward to helping London deliver a fantastic Games and summer in 2012.&nbsp; </p>
<p>'We want to show that London is a city that works, and enable all Londoners and visitors to enjoy it to the full.&nbsp; </p>
<p>'That's why we're suspending our engineering upgrade works just prior to the start of the London 2012 Olympics until the conclusion of the Games.</p>
<p>We're also on track to deliver all our 2012 transport upgrades and projects well ahead of the Games, including improvements to the Tube, the upgrade of the North London Line, the re-opening of the extended East London Line and the DLR extension to Stratford International.'</p>
<p>Robin Gisby, Network Rail's Director of Operations and Customer Services, said: 'With an estimated 500,000 spectators from across the UK and overseas travelling to and from Games venues each day, Network Rail will play an important role in delivering the first 'public transport' Games.</p>
<h2>Completing projects</h2>
<p>'By re-phasing our work during 2012 we've been able to provide a clear window around the Olympics, opening opportunities for trains to run later and more often. </p>
<p>'Together with rapid response teams on the ground at key locations to fix any problems should they occur, this is another sign that with two years to go London is well on its way to being ready.'</p>
<p>Key 2012 transport projects completed or nearing completion ahead of the Games include:</p>
<ul>
<li>Major upgrade to Stratford Regional Station - the main transport hub for London 2012 spectators - will accommodate 120,000 passengers and enable over 200 trains to call there during the Games</li>
<li>Upgrades to the Jubilee line to boost capacity to Wembley Stadium, the Olympic Park and Canning Town for connections with the DLR by 5,000 passengers per hour</li>
<li>DLR extensions to London City Airport, Woolwich Arsenal and Stratford International - which will serve the heart of the Olympic Park and form a crucial travel link during the 2012 Games</li>
<li>Introduction of 55 new carriages on the DLR to create three-car trains which will increase capacity by 50 per cent</li>
<li>Upgrade of the North London Line and opening of the extended East London Line - which will eventually form part of the orbital rail link around London</li>
<li>Expansion and modernisation of key London Underground stations including King's Cross - which has quadrupled in size - North Greenwich, West Ham and Wembley Park</li>
<li>Step-free access at both Green Park and Southfields stations - enabling access to Olympic events at Hyde Park and Olympic tennis matches at Wimbledon</li>
<li>Introduction of 54 new London Overground trains with air conditioning, CCTV, wheelchair bays and energy-efficient braking</li>
<li>Tower Pier modernisation, delivering improved facilities and capacity at this key river pier, making the river an easier and more accessible transport option</li>
<li>Improvements to cycling and walking networks, including those directly accessing the Olympic Park area</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "No planned closures on the Tube, Docklands Light Railway (DLR), London Overground, Tramlink or National Rail for 10 days before the Olympics until the end of the Paralympics, with closures also minimised in the weeks before.Two years out from the biggest";}
        
        


 