


@{ViewBag.Title = "TfL Annual report - Transport improvements delivered, salary freeze continues and performance awards declined";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL Annual report - Transport improvements delivered, salary freeze continues and performance awards declined</h1>
        <div class="content-page-press-release">
        02 July 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Report sets out major improvements delivered to London's transport services and infrastructure
        
    </div>



 <div class="on-this-page">
<p>-&nbsp;Ongoing investment in transport infrastructure 'essential for London and UK economy'</p>
<p>-&nbsp;TfL freezes salaries of senior staff for second year running as underlying number of TfL staff with total remuneration over &pound;100,000 falls by 8.5 per cent</p>
<p>-&nbsp;Commissioner of Transport declines &pound;132,409 performance award, TfL Chief Officers also decline performance awards</p>
<p>Transport for London's (TfL) Annual Report and Statement of Accounts for the year ended 31 March 2010 will be published shortly.&nbsp; </p>
<p>The report will show that, under the Mayor's leadership, major benefits are being delivered to customers and the London and wider UK economy from sustained investment in public transport, while also providing value for money for London's fare and taxpayers from one of the world's largest integrated transport systems.&nbsp; </p>
<p>In recognition of the continuing difficult economic climate, TfL has frozen the salaries of all senior staff for a second consecutive year, the Commissioner of Transport, Peter Hendy, has declined a performance award of &pound;132,409 for achievements in 2009/10 and TfL Chief Officers have also declined to take their performance awards.<br>&nbsp; <br>TfL's approach to its &pound;5bn savings programme is now being replicated by national Government as part of the programme to reduce the UK's budget deficit.&nbsp;</p>
<p>The TfL programme has involved tough decisions on job reductions, increases to fares and stopping projects for which no money was available, while doing everything possible to protect the front line transport services essential to the London and UK economy.&nbsp; </p>
<p>Delivery during the past year includes:</p>
<ul>
<li>A total of &pound;306m in savings and efficiencies delivered, as part of TfL's programme to make over &pound;5bn in savings over the course of its Business Plan, to protect front line services and record levels of customer satisfaction </li>
<li>A reduction of over 1,300 posts across TfL with proposals for hundreds of further role reductions as part of wider service improvements for customers </li>
<li>The new &pound;1bn East London line, opened ahead of schedule and on budget and 32 brand new air-conditioned trains introduced on London Overground </li>
<li>Victoria line upgrade running on time and on budget as new trains join the fleet every month </li>
<li>Redevelopment of King's Cross station completed with station fully accessible for passengers and capacity quadrupled </li>
<li>Increased capacity by 50 per cent on large parts of the Docklands Light Railway (DLR)&nbsp; </li>
<li>Oyster on National Rail in Greater London and river services, saving money and improving convenience for thousands of customers </li>
<li>New permit scheme to reduce traffic congestion </li>
<li>London's Road's made safer with eight per cent fall in deaths and serious injuries </li>
<li>Crime on the Tube and DLR reduced by four per cent, and by eight per cent across London's bus network </li>
<li>Maintained one of the most extensive, reliable, frequent and accessible bus networks in the world</li></ul>
<p>TfL has also recently acquired Tube Lines, which will enable further significant savings and reduced disruption to Londoners and businesses. </p>
<p>The Mayor of London and Chairman of Transport for London, Boris Johnson, said: 'I am grateful to my top team at TfL for their self-restraint in these difficult economic times by deciding to waive their performance awards and freeze pay for a second consecutive year.&nbsp;</p>
<p>'I am also extremely proud of their professional achievements in delivering new trains, new lines, the first cycle superhighways, gearing London up for a wonderful cycle hire scheme and plenty more.&nbsp; </p>
<p>'They have delivered these vital improvements whilst simultaneously cutting waste and leading the way on pioneering reforms that channel precious taxpayers money at the front line services where it is needed most.&nbsp;&nbsp;</p>
<p>'We will now save many more millions by dismantling the wasteful Public Private Partnership that has punished travellers and taxpayers alike and we need to attract and retain high calibre staff to deliver the massive further improvements vital to the economic growth and development of London and the UK.'</p>
<p>Two-hundred-and-fifty-one staff across the TfL group received total remuneration of over &pound;100,000 in 2009/10.&nbsp;</p>
<p>&nbsp;As a result of the first year of the pay freeze and taking into account the impacts of senior staff being hired to deliver the &pound;15.9bn Crossrail project and higher numbers of redundancy payments, there has been a fall of 8.5 per cent (from 212 to 194) in the underlying number of TfL staff earning total remuneration of more than &pound;100,000 (see notes below).</p>
<p>TfL manages 27 million journeys a day to keep London's economy and business moving while also delivering the biggest investment in London's transport since the Second World War.&nbsp; </p>
<p>
<hr>

<p>
<p>Notes to editors:</p>
<ul>
<li>TfL's policy is to provide remuneration packages for senior staff which attract, retain and motivate the high calibre people required to run such a large and complex organisation.&nbsp; Remuneration arrangements for all employees are regularly reviewed to ensure that they remain appropriate </li>
<li>In recognition of the continuing difficult economic climate, TfL has frozen the salaries of senior staff for a second consecutive year.&nbsp;The Commissioner of Transport, Peter Hendy, has declined a performance award of &pound;132,409 for achievements in 2009/10 and TfL Chief Officers have also declined to take their performance awards </li>
<li>The total number of TfL staff who received total remuneration of more than &pound;100,000 in 2009/10 was 251 (less than one per&nbsp;cent of the total workforce of over 25,000), with a fall of 8.5 per cent in the underlying number of TfL staff paid at this level as a result of an ongoing salary freeze and reductions in performance awards: 
<ul type="circle">
<li>The underlying number of staff at TfL earning more than &pound;100,000 fell from 212 to 194 </li>
<li>There has been an increase in the number of staff at Crossrail earning more than &pound;100,000 (from 8 to 23) due to the planned recruitment of skilled senior personnel to take this vital &pound;15.9bn project into its delivery phase </li>
<li>There was an increase in the number of severance payments (from 11 to 34) made to those who actually earned less than &pound;100,000, the effect of which was to push their total remuneration in the year to more than &pound;100,000</li></ul></li>
<li>The maximum performance award against the achievement of performance targets is 50 per cent of base salary for the Commissioner and 30 per cent of base salary for Chief Officers</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "-&nbsp;Ongoing investment in transport infrastructure 'essential for London and UK economy'-&nbsp;TfL freezes salaries of senior staff for second year running as underlying number of TfL staff with total remuneration over &pound;100,000 falls by 8.5 per";}
        
        


 