


@{ViewBag.Title = "Warm welcome for tennis fans as 60th Tube station goes step-free ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Warm welcome for tennis fans as 60th Tube station goes step-free </h1>
        <div class="content-page-press-release">
        02 July 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        - Southfields Station made accessible to all in time for thousands of tennis fans <BR>- Paralympics' gold medal winner, Baroness Grey-Thompson, welcomes step-free station in run up to 2012 Games
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Public transport is the best way to get around London, this may be a commitment to disabled people but it also makes the experience better for everyone
                            
                        </p>
                    </div>
                
            
            
            <p>Spectators heading to the Wimbledon finals this weekend will find it even easier to get to the headquarters of British tennis. </p>
<p>The Mayor is determined to make the Capital more accessible and the upgrade of Wimbledon's closest Tube station meant it was step-free in time for the tournament.</p>
<p>Today the gold medal winning Paralympian, Tanni Grey-Thompson and Kulveer Ranger, Transport Adviser to the Mayor of London, visited Southfields Tube station to see the improvements. </p>
<h2>Full improvement programme</h2>
<p>During Wimbledon fortnight, around 30,000 people a day, three times the usual number, pass through Southfields on their way to cheer on Andy Murray and the other top names at Wimbledon and thousands more are expected to use the station when Wimbledon hosts tennis events during the 2012 Games. </p>
<p>Southfields has become the 60th Tube station in the Capital to go step-free. </p>
<p>Its &pound;14.54m upgrade is part of the Mayor, Boris Johnson, and TfL's multi-billion pound Tube investment programme. </p>
<p>The full improvement programme at Southfields Tube will be completed by the autumn but passengers can already use the new lift which was in place from the start of Wimbledon last week and the new entrance, with a more spacious booking hall to allow more people to use the station.</p>
<p>When completed Southfields will have a new ticket office, new ticket barriers, CCTV, help information points, improved signage and new electronic display boards. </p>
<h2>Better for everyone</h2>
<p>Paralympics' gold medal winner and former world record holder Tanni Grey-Thompson welcomed the improvements to the station which have meant wheelchair users, parents with buggies and passengers with heavy luggage can all now get from street level to platform by lift rather than stairs. </p>
<p>Tanni Grey-Thompson, who sits on the Transport for London (TfL) Board which sets the agenda for transport in London, said: 'I am delighted to see ongoing improvements in London's transport system, and it is brilliant that in the lead up to the Olympic Games everyone will be able to get to Wimbledon for the tennis. </p>
<p>'Public transport is the best way to get around London, this may be a commitment to disabled people but it also makes the experience better for everyone.'</p>
<p>The station upgrade will support the new District line trains due in passenger service in 2013 and the two together will result in quicker, easier and less congested journeys for thousands of Londoners. </p>
<p>Between now and 2018 TfL will upgrade eight Tube lines, build Crossrail, and expand the Docklands Light Railway (DLR) and London Overground networks, as well as delivering other major improvements. </p>
<h2>More accessible, safer and easier</h2>
<p>Such investment is vital to the future growth, prosperity and the competitiveness of London and the UK, particularly to creating new jobs and opportunities.</p>
<p>Kulveer Ranger, the Mayor of London's Transport Adviser, said: 'The Mayor is determined to make our Tube stations more accessible, safer and easier to use for the thousands of people that rely on them every week. </p>
<p>'With visitors and Londoners flooding through Southfields station for the tennis we wanted to make sure nobody struggled to get to a vital match. </p>
<p>'Southfields will be a key station for the Olympic Games when we will be welcoming the world to London and we want to ensure our thousands of visitors find it easy and safe to get around our city.'</p>
<p>Mike Challis, the District line Manager, said: 'Making Southfields station step-free with the new lift installed for the start of Wimbledon Tennis has been a great help for tennis fans and local residents, particularly for wheelchair users, parents with buggies and passengers with heavy luggage. </p>
<p>'Customers will see that the station has been refurbished sensitively to respect the history of the building, which dates back to 1889. </p>
<p>'The lift shaft has been constructed to match the existing brick work and the station has been repainted using a heritage palette of colours of green and beige. When completed customers will also see a new brick facade that has been built to match the existing station entrance.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>London Underground (LU) is undertaking a major programme of renewal as part of TfL's Investment Programme. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to check before they travel at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> </li>
<li>There are currently 60 Tube stations which are step-free. This will increase to 62 Tube stations by the end of 2010, and a total 65 stations by 2012 </li>
<li>Step-free access work at key interchange stations, including King's Cross St. Pancras, Victoria, Tottenham Court Road, Blackfriars, Farringdon and Bond Street, will continue, in tandem with major redevelopment work to increase capacity and relieve congestion. Step-free access will also be delivered before 2012 at Green Park station, which will have a key role in the transport plan for the 2012 Olympic and Paralympic Games </li>
<li>There is a step-free Tube guide, which not only shows stations that are step-free between the street and platform, it also gives information about the distance of the gap between the train and platform and if there is a step </li>
<li>Two hundred wide-aisle gates have been installed on Underground stations to provide easier access for wheelchair users, assistance dog owners, parents with buggies and passengers with luggage </li>
<li>Passengers who need to avoid stairs can plan their journey on the TfL website on the Journey Planner page using the advanced options putting in the mode and that they can't use stairs </li>
<li>Alternatively they can use <a href="http://www.directenquiries.com">www.directenquiries.com</a> which also shows in detail the best route to take on the Tube which avoids long walks and steps. The 24 hour Travel Help Line 020 7222 1234 can also be used to plan a journey </li>
<li>All DLR stations are step-free </li>
<li>All 8,500 buses (with the exception of heritage Routemasters on route 9 and 15) are low-floor, have wheelchair ramps and have an allocated space for wheelchair users and those travelling with buggies, as well as priority seats for passengers who need them </li>
<li>Information points are being installed at every station as it undergoes refurbishment, with as many as 26 installed at some of the busiest stations. The Information points give passengers and staff access to speak to the station control room at the touch of a button </li>
<li>Baroness Grey-Thompson of Eaglescliffe has competed in five Paralympic Games, winning 11 gold, four silver and one bronze medal. She has held 30 world records. She is Non-Executive Director of UK Athletics, Vice Chair of the Athlete's Committee, London Organising Committee of the Olympic Games, Director of the London Marathon and Pro-Chancellor of Staffordshire University, as well as holding other prominent positions in sports bodies. She has been a member of the National Disability Council and Senior Deputy Chair of the UK Lottery Award Panel. She was made a Dame of the British Empire in 2005 and was appointed to the House of Lords as a cross-bench peer in March 2010</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Spectators heading to the Wimbledon finals this weekend will find it even easier to get to the headquarters of British tennis. The Mayor is determined to make the Capital more accessible and the upgrade of Wimbledon's closest Tube station meant it was";}
        
        


 