


@{ViewBag.Title = "With over 9,000 people already signed up for Mayor's Barclays Cycle Hire scheme, pioneers are urged to activate their keys ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>With over 9,000 people already signed up for Mayor's Barclays Cycle Hire scheme, pioneers are urged to activate their keys </h1>
        <div class="content-page-press-release">
        28 July 2010
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Almost 10,000 membership keys have been sent out, and more than 2,000 have been activated. The Mayor's flagship cycle scheme goes live on Friday, 30 July.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I urge people to activate their keys before the scheme opens for business on 30 July"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I urge people to activate their keys before the scheme opens for business on 30 July
                            
                        </p>
                    </div>
                
            
            
            <p>As membership keys for the Mayor's flagship Barclays Cycle Hire Scheme are landing on doormats all over the Capital, pioneer members are being urged to ensure they activate their key in order to be able to use the scheme from when it goes live on Friday morning. </p>
<p>Since membership applications opened on 23 July, more than 9,000 people have now signed up to use London's newest public transport system.</p>
<p>To be able to use the system from 30 July members will need to have received and activated their key by <a href="http://www.tfl.gov.uk/barclayscyclehire ">signing in to their account</a>; or calling the Barclays Cycle Hire contact centre on 0845 026 3630.<br>&nbsp;<br>More than 2,000 members have already activated their keys, and we're calling on all other members to active theirs today to be sure they can use the scheme from Friday.</p>
<p>If a membership key hasn't been activated then the key will not work in the docking station and members won't be able to take a cycle.</p>
<p>People can <a href="http://www.tfl.gov.uk/barclayscyclehire">sign up </a>for 24-hour, seven-day or annual membership.&nbsp; </p>
<h2>Cycling revolution</h2>
<p>Using the scheme as a member couldn't be easier:</p>
<ul>
<li>Check that the docking point has no lights illuminated</li>
<li>Before taking a cycle from a docking point, check that it is roadworthy (tyres, brakes, saddle, lights, bell)</li>
<li>Insert your key into the docking point key slot</li>
<li>The amber light will illuminate while your account is being verified</li>
<li>As soon as the light turns green, undock your cycle by placing one hand on each of the handle bars and firmly pulling it out of the docking point</li>
<li>Remove your key from the key slot before you set off</li>
<li>When re-docking your cycle, return it to any empty docking point which has no lights illuminated by pushing it firmly into place</li>
<li>Wait until the light turns green to ensure you have successfully docked your cycle and completed your journey</li></ul>
<p>The Mayor of London, Boris Johnson, said: 'The excitement and enthusiasm for my flagship Barclays Cycle Hire scheme is proving infectious and already almost 9,000 pioneers have caught the bug.&nbsp; </p>
<p>'I don't want those who have led the charge for London's newest public transport system to be unable to get on to these two wheel icons - so I urge people to activate their keys before the scheme opens for business on 30 July.'</p>
<p>David Brown, Managing Director&nbsp;of&nbsp;Surface Transport, Transport for London (TfL), said: 'Barclays Cycle Hire will revolutionise how we get around central London.&nbsp; </p>
<p>'Building on the experience of other cities who have launched similar schemes, we and Serco will use the first month of operation to learn more about how Londoners engage with the scheme, including patterns of use, how we can best support customers and to enable the scheme to bed down. </p>
<p>'We're delighted that so many people have already signed up for membership and we are now urging them to activate their keys before Friday.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Casual users will be able to hire bicycles from terminals at docking stations around four weeks after Barclays Cycle Hire launches to members</li>
<li>Members of the scheme must be at least 18 years old, and you will need to be at least 14 years old to use the scheme</li>
<li>Barclays Cycle Hire, which will be operated by Serco Limited on behalf of TfL, will be the most sustainable and environmentally friendly form of public transport ever seen in the Capital</li>
<li>Barclays Cycle Hire and Barclays Cycle Superhighways will build on the massive 117 per cent growth in cycle journeys on London's major roads since TfL was created in 2000. Barclays Cycle Hire is expected to generate up to 40,000 extra cycle trips a day in central London. There are currently 5,000 cycle journeys a day on both pilot Barclays Cycle Superhighways routes; TfL's target is to increase this by 22,000 cycle trips per day by 2013</li>
<li>Barclays Cycle Hire will operate across central London. Docking stations and hire bicycles will be available in Camden, City of London, Hackney, Islington, Lambeth, Kensington &amp; Chelsea, Southwark, Tower Hamlets, Westminster and several of the Royal Parks</li>
<li>Follow us on <a href="http://www.twitter.com/BarclaysCycle  ">Twitter</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "As membership keys for the Mayor's flagship Barclays Cycle Hire Scheme are landing on doormats all over the Capital, pioneer members are being urged to ensure they activate their key in order to be able to use the scheme from when it goes live on Friday";}
        
        


 