
    
  



@{ViewBag.Title = "55 Broadway";}
@{ViewBag.Keywords = "B,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/55-broadway";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">55 Broadway</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>55 Broadway</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        These documents relate to a previous plan for the redevelopment of 55 Broadway. They are not current.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/introduction-55broadway-plans.pdf">
    <div class="document-download-text">
        <p>Introduction to plans for 55 Broadway</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.47MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.47 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/public-realm.pdf">
    <div class="document-download-text">
        <p>Public Realm</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 9.74MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 9.74 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/access-and-retail.pdf">
    <div class="document-download-text">
        <p>Access and Retail</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 11.22MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 11.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/broadway-residential-plans.pdf">
    <div class="document-download-text">
        <p>Broadway Residential Plans</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 15.38MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 15.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/wing-over-station-sustainability-construction-contacts.pdf">
    <div class="document-download-text">
        <p>Wing-Over-Station, Sustainabiltiy, Construction and Contacts</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.04MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/statement-of-community-involvement-55-broadway.pdf">
    <div class="document-download-text">
        <p>Statement of community involvement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.12MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.12 -->
 
</div>

    
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Archive plans for the redevelopment of 55 Broadway. These plans are not current";}
        
            
        


 