
    
  


<!-- rhroot -->
@{ViewBag.Title = "Annual Report";}
@{ViewBag.Keywords = "Investors,Media,Public,A,Corporate information,Finance,Performance,Regular reports,Research,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/annual-report";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Annual Report</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Annual Report</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Our Annual Report summarises our achievements over the last financial year and the work we have done to improve your transport network.
        
      </div>
    
    
      
      
           
      <div>

<h2>Year at a glance - 2018/19</h2>
</div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/offer-me-a-seat.jpg" alt="April 2018" />
                <figcaption>
<span class="figure-title">April 2018</span>
<span class="figure-description">Priority Seating Week marks the one-year anniversary of Please offer me a seat </span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/risk-up-campaign-image.jpg" alt="May 2018" />
                <figcaption>
<span class="figure-title">May 2018</span>
<span class="figure-description">Risk Up campaign reminds motorists - when driving speed goes up, so do the risks</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/highbury-corner-cgi.jpg" alt="June 2018" />
                <figcaption>
<span class="figure-title">June 2018</span>
<span class="figure-description">Work gets underway to make Highbury Corner junction safer</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/vision-zero-street-cgi.jpg" alt="July 2018" />
                <figcaption>
<span class="figure-title">July 2018</span>
<span class="figure-description">Our Vision Zero plan shows how we will eliminate deaths/serious injuries on our roads</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/crossrail-station-pedestrian-tunnel.jpg" alt="August 2018" />
                <figcaption>
<span class="figure-title">August 2018</span>
<span class="figure-description">Crossrail Ltd announces the delay to the opening of the Elizabeth line</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/bus-hopper-fare.jpg" alt="September 2018" />
                <figcaption>
<span class="figure-title">September 2018</span>
<span class="figure-description">The Hopper fare marks its second anniversary after more than 220 million journeys</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/cyclist-on-quietway.jpg" alt="October 2018" />
                <figcaption>
<span class="figure-title">October 2018</span>
<span class="figure-description">Three new Quietways, adding 15km to the network of safer, less busy cycling routes</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/ulez-sign-installed.jpg" alt="November 2018" />
                <figcaption>
<span class="figure-title">November 2018</span>
<span class="figure-description">The first Ultra Low Emission Zone (ULEZ) signs installed across London</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/children-cycling.jpg" alt="December 2018" />
                <figcaption>
<span class="figure-title">December 2018</span>
<span class="figure-description">Cycling action plan reveals how we will improve the quality of cycling infrastructure</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/london-overground-new-train.jpg" alt="January 2019" />
                <figcaption>
<span class="figure-title">January 2019</span>
<span class="figure-description">Bombardier announces a delay in the delivery of new London Overground trains</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/electric-taxis.jpg" alt="February 2019" />
                <figcaption>
<span class="figure-title">February 2019</span>
<span class="figure-description">An additional &pound;24m fund to help black cab drivers convert to electric vehicles</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/access-all-areas.jpg" alt="March 2019" />
                <figcaption>
<span class="figure-title">March 2019</span>
<span class="figure-description">Access All Areas event showcases accessible transport, design and services</span>
                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 
<div>



<h2>2018/19 Annual Report and statement of accounts</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/tfl-annual-report-and-statement-of-accounts-2018-19.pdf">
    <div class="document-download-text">
        <p>Annual Report and statement of accounts 2018/19</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 17.19MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/annual-report-2018-19-thumb.jpg" alt="annual report 2018-19 cover" />
    </div>

</a>

<!-- 17.19 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/annual-report" class="heading">
                    <h2 id="sub-menu-heading">Annual Report<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/annual-reports-past-years">Annual Reports - past years</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/about-tfl/index" class="plain-button">About TfL</a>
<a href="/corporate/transparency/audit-of-accounts---notice-of-public-rights" class="plain-button">Audit of accounts - Notice of public rights</a>
<a href="/corporate/publications-and-reports/business-plan" class="plain-button">Budget and Business Plan</a>
<a href="/corporate/publications-and-reports/audit-and-assurance-committee" class="plain-button">Audit &amp; Assurance committee</a>
<a href="/corporate/about-tfl/the-mayors-transport-strategy" class="plain-button">The Mayor's Transport Strategy</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "These reports summarise the work we have done to improve London's transport network";}
        
            
        


 