
    
  



@{ViewBag.Title = "Annual Reports - past years";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/annual-reports-past-years";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/annual-report">Annual Report</a></li>
                
            
            
                <li><span class="last-breadcrumb">Annual Reports - past years</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Annual Reports - past years</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Annual Reports and statements of accounts from before the current year. 
        
      </div>
    
    
      
    
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/tfl-annual-report-and-statement-of-accounts-2017-18.pdf">
    <div class="document-download-text">
        <p>Annual Report and statement of accounts 2017/2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.05MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/tfl-annual-report-17-18-thumb.jpg" alt="Cover of TfL Annual Report 2017/18" />
    </div>

</a>

<!-- 5.05 -->
 

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/tfl-annual-report-and-statement-of-accounts-2016-17.pdf">
    <div class="document-download-text">
        <p>Annual Report and statement of accounts 2016/17</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.17MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/cover-tfl-annual-report-and-statement-of-accounts-2016-17vsm.jpg" alt="Annual report" />
    </div>

</a>

<!-- 4.17 -->
 

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/tfl-annual-report-2015-16.pdf">
    <div class="document-download-text">
        <p>Annual Report and statement of accounts 2015/16</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.00MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/annual-report-cover-2015-16-1.jpg" alt="annual-report-cover-2015-16" />
    </div>

</a>

<!-- 6.00 -->
 

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/annual-report-2014-15.pdf">
    <div class="document-download-text">
        <p>Annual Report and statement of accounts 2014/15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.85MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/annual-report-2014-15-thumbnail.gif" alt="Annual Report 2014/15 thumbnail image" />
    </div>

</a>

<!-- 8.85 -->
 

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/annual-report-2013-14.pdf">
    <div class="document-download-text">
        <p>Annual Report and statement of accounts 2013/14</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.55MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/annual-report-image-2014.jpg" alt="Annual report 2014" />
    </div>

</a>

<!-- 3.55 -->
 

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/annual-report-and-statement-of-accounts-2013.pdf">
    <div class="document-download-text">
        <p>Annual Report and statement of accounts 2012/13</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.93MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/annual-report-2013.jpg" alt="Annual Report 2013" />
    </div>

</a>

<!-- 4.93 -->
 

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/tfl-annualreport-2012.pdf">
    <div class="document-download-text">
        <p>Annual Report and statement of accounts for 2011/12</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.60MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/tfl-annualreport-2012-thumb.jpg" alt="Annual Report 2011/2012 cover" />
    </div>

</a>

<!-- 4.60 -->
 

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/annual-report-2010-11.pdf">
    <div class="document-download-text">
        <p>Annual Report and statement of accounts for 2010/11</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.49MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/tfl-annual-report-2010-11-final-interactive-thumb.jpg" alt="Annual Report 2010/2011 cover" />
    </div>

</a>

<!-- 2.49 -->
 

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/annual-report-2010.pdf">
    <div class="document-download-text">
        <p>Annual Report and statement of accounts for 2009/10</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.41MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/annual-report-2010-thumb.jpg" alt="Annual Report 2009/2010 cover" />
    </div>

</a>

<!-- 3.41 -->
 

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/annual-report-and-statement-of-accounts-2008-09.pdf">
    <div class="document-download-text">
        <p>Annual Report and statement of accounts for 2008/09</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.92MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/annual-report-and-statement-of-accounts-2008-09-thumb.jpg" alt="Annual Report 2008/2009 cover" />
    </div>

</a>

<!-- 2.92 -->
 

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/tfl-annual-report-07-08.pdf">
    <div class="document-download-text">
        <p>Annual Report and statement of accounts for 2007/08</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.90MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/tfl-annual-report-07-08-thumb.jpg" alt="Annual Report 2007/2008 cover" />
    </div>

</a>

<!-- 6.90 -->
 

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/annual-report-and-statement-of-accounts-06-07.pdf">
    <div class="document-download-text">
        <p>Annual Report and statement of accounts for 2006/07</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.18MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/annual-report-and-statement-of-accounts-06-07-thumb.jpg" alt="Annual Report 2006/2007 cover" />
    </div>

</a>

<!-- 2.18 -->
 

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/annrep-05-06.pdf">
    <div class="document-download-text">
        <p>Annual Report for 2005/06</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 722KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/annrep-05-06-thumb.jpg" alt="Annual Report 2005/2006 cover" />
    </div>

</a>

<!-- 0.70 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/statement-of-accounts-2006.pdf">
    <div class="document-download-text">
        <p>Statement of accounts for 2006</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 398KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/annrep-04-05.pdf">
    <div class="document-download-text">
        <p>Annual Report for 2004/05</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.56MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/annrep-04-05-thumb.jpg" alt="Annual Report 2004/2005 cover" />
    </div>

</a>

<!-- 1.56 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/statement-accounts-2005.pdf">
    <div class="document-download-text">
        <p>Statement of accounts for 2005</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.28MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.28 -->
 

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/annrep-03-04.pdf">
    <div class="document-download-text">
        <p>Annual Report for 2003/04</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.20MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/annrep-03-04-thumb.jpg" alt="Annual Report 2003/2004 cover" />
    </div>

</a>

<!-- 1.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/statement-of-accounts-for-2004.pdf">
    <div class="document-download-text">
        <p>Statement of accounts for 2004</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 278KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/annrep-02-03.pdf">
    <div class="document-download-text">
        <p>Annual Report for 2002/03</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.19MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/annrep-02-03-thumb.jpg" alt="Annual Report 2002/2003 cover" />
    </div>

</a>

<!-- 1.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/statement-of-accounts-2003.pdf">
    <div class="document-download-text">
        <p>Statement of accounts for 2003</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 189KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/annual-report" class="heading">
                    <h2 id="sub-menu-heading">Annual Report<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/publications-and-reports/annual-reports-past-years">Annual Reports - past years</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Annual Reports and statements of accounts from before the current year. ";}
        
            
        


 