
    
  



@{ViewBag.Title = "Aviation - past documents";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/aviation---past-documents";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/aviation">Aviation</a></li>
                
            
            
                <li><span class="last-breadcrumb">Aviation - past documents</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Aviation - past documents</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Historical documents relating to London aviation policy, done for and by us under the previous Mayor, include reports and analysis as well as correspondence. Most of these cover the debate over airport capacity.
        
      </div>
    
    <div class="on-this-page">
      <p>The content in many of the documents is still relevant because the Government draws heavily on the work of the Airports Commission in its current case for Heathrow expansion.</p>
<p>Some documents refer to options for new London airports which were supported by the previous Mayor, but are no longer London policy. Read more about Mayor Sadiq Khan's position on the <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/london-airports">London's airports page</a>.</p>
      
           
      
<div>



<h2>Airports Commission evidence</h2>


<p>This report from early 2016 reviews the evidence presented by the Airports Commission Final Report, examines the arguments against an expanded Heathrow making the necessary hub airport and presents the option of a new hub airport located to the East of London.&nbsp;</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap landscape-download-image with-image pdfpdf" href="/cdn/static/cms/documents/landing-the-right-airport.pdf">
    <div class="document-download-text">
        <p>Landing the right airport</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.66MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/landing-the-right-airport-cover.jpg" alt="Cover of Landing the right airport" />
    </div>

</a>

<!-- 8.66 -->
 
</div>

</div>
 
<div>



<h2>Further technical evidence</h2>


<p>Further technical work was done as a follow-up to the Airports Commission Final Report and to feed into the 'Landing at the right airport' document.&nbsp;</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/monetisation-of-aviation-noise-impacts.pdf">
    <div class="document-download-text">
        <p>Monetisation of aviation noise impacts - April 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 190KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/noise-modelling-alternative-future-baseline.pdf">
    <div class="document-download-text">
        <p>Noise modelling: Alternative future baseline &#45; March 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.80MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.80 -->
 
</div>

</div>
 
<div>



<h2>Responses to Parliamentary committees</h2>


<h3>Response to the Transport Select Committee</h3>
<p>The Transport Select Committee held an inquiry into surface transport at airports. The inquiry examined whether strategic connections to airports fulfil current and future requirements. The then-Mayor submitted evidence to this inquiry.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mayoral-response-transport-select-committee-surface-access-to-airports-2015.pdf">
    <div class="document-download-text">
        <p>Mayor of London response to the Transport Select Committee - October 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 122KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 
</div>

</div>
 
<div>




<h3>Response to the Environmental Audit Committee</h3>
<p>The Environmental Audit Committee held an inquiry into the implications for Government commitments on carbon emissions, air quality and noise should the Airports Commission's recommendation of Heathrow expansion be adopted. The then-Mayor submitted evidence to this inquiry.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/follow-up-letter-to-eac-18-nov-2015.pdf">
    <div class="document-download-text">
        <p>TfL follow up letter to the Environmental Audit Committee - 18 November 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 444KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.43 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/follow-up-letter-to-eac-04-nov-2015.pdf">
    <div class="document-download-text">
        <p>TfL follow up letter to the Environmental Audit Committee  - 4 November 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.49MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.49 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mayoral-response-to-eac-on-ac-sep-2015.pdf">
    <div class="document-download-text">
        <p>Mayor of London response to the Environmental Audit Committee &#45; September 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 270KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 
</div>

</div>
 
<div>



<h2>Response to final recommendation</h2>


<p>In July 2015, the Airports Commission published its final report, recommending the expansion of Heathrow airport. The then-Mayor and TfL issued a rebuttal of the Commission's recommendation.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-response-to-airports-commissions-final-recommendation.pdf">
    <div class="document-download-text">
        <p>The Mayor's response to the Airports Commission's recommendation for a three-runway Heathrow (October 2015)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.84MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.84 -->
 
</div>

</div>
 
<div>



<h2>Airport options shortlist response</h2>


<p>The then-Mayor responded to the Airports Commission consultation on the shortlisted three airport expansion options. Included is a series topic-specific supplementary papers that assessed the Commission's consultation. </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ac-supplementary-consultation-air-quality-response.pdf">
    <div class="document-download-text">
        <p>Mayor of London's response to the second Airports Commission consultation on air quality for the shortlisted options (May 2015)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 170KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ac-consult-main-response.pdf">
    <div class="document-download-text">
        <p>Mayor of London's response to the Airports Commission consultation on shortlisted options (February 2015)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 255KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ac-consult-01a-strategic-fit-spatial.pdf">
    <div class="document-download-text">
        <p>Supplementary Note 01a: Strategic fit: spatial and socio-economic</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 107KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ac-consult-01b-strategic-fit-competition.pdf">
    <div class="document-download-text">
        <p>Supplementary Note 01b: Strategic Fit: competition and connectivity</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 97KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ac-consult-02-wider-economy.pdf">
    <div class="document-download-text">
        <p>Supplementary Note 02: Wider Economy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 117KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ac-consult-03-local-economy.pdf">
    <div class="document-download-text">
        <p>Supplementary Note 03: Local Economy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 97KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ac-consult-04-surface-access-road-rail.pdf">
    <div class="document-download-text">
        <p>Supplementary Note 04: Surface Access</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 114KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ac-consult-05-noise.pdf">
    <div class="document-download-text">
        <p>Supplementary Note 05: Noise</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 100KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ac-consult-06-air-quality.pdf">
    <div class="document-download-text">
        <p>Supplementary Note 06: Air Quality</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 113KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ac-consult-07-biodiversity.pdf">
    <div class="document-download-text">
        <p>Supplementary Note 07: Biodiversity</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 109KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ac-consult-08-carbon.pdf">
    <div class="document-download-text">
        <p>Supplementary Note 08: Carbon</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 93KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ac-consult-09-water-and-flood-risk.pdf">
    <div class="document-download-text">
        <p>Supplementary Note 09: Water and flood risk</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 93KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ac-consult-10-place.pdf">
    <div class="document-download-text">
        <p>Supplementary Note 10: Place</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 93KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ac-consult-11-quality-of-life.pdf">
    <div class="document-download-text">
        <p>Supplementary Note 11: Quality of Life</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 106KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ac-consult-12-community.pdf">
    <div class="document-download-text">
        <p>Supplementary Note 12: Community</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 95KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ac-consult-13-cost-and-commercial-viability.pdf">
    <div class="document-download-text">
        <p>Supplementary Note 13: Cost and commercial viability</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 99KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ac-consult-14-operational-efficiency.pdf">
    <div class="document-download-text">
        <p>Supplementary Note 14: Operational efficiency</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 96KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ac-consult-15-operational-risk.pdf">
    <div class="document-download-text">
        <p>Supplementary Note 15: Operational risk</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 93KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ac-consult-16-delivery.pdf">
    <div class="document-download-text">
        <p>Supplementary Note 16: Delivery</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 105KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ac-consult-consistency-with-appraisal-framework.pdf">
    <div class="document-download-text">
        <p>Review Note: Assessment of consistency with Appraisal Framework</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 279KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/air-freight-implications-from-new-capacity.pdf">
    <div class="document-download-text">
        <p>Implications for the air freight sector of different airport capacity options</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 836KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.82 -->
 
</div>

</div>
 
<div>



<h2>Gateway to our future</h2>


<p>This report looks at the possible impact of a new hub airport on London and the South East.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/gateway-to-our-future.pdf">
    <div class="document-download-text">
        <p>Gateway to our future - August 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.38MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/gateway-to-our-future-1.gif" alt="Gateway to our future report cover" />
    </div>

</a>

<!-- 3.38 -->
 
</div>

</div>
 
<div>



<h2>TfL's rebuttal of airport decision</h2>


<p>In December 2013, the <a href="https://www.gov.uk/government/publications/airports-commission-interim-report">Airports Commission published a report on airport capacity</a>. The then-Mayor and TfL issued rebuttals of the Commission's decision not to shortlist the proposal for an airport hub on the Inner Thames Estuary.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-rebuttal-response.pdf">
    <div class="document-download-text">
        <p>TfL's rebuttal of the Airports Commission's decision not to shortlist an Inner Thames Estuary option</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 227KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 
</div>

</div>
 
<div>



<h2>Airports Commission Interim Report</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ac-interim-report-key-issues.pdf">
    <div class="document-download-text">
        <p>Mayor's response to the key issues from the Airports Commission Interim Report - May 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 397KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 
</div>

</div>
 <div>

<h2><a name="the-mayors-hub-airport-proposals"></a>The then-Mayor's hub airport proposals</h2>
<p>When he was Mayor, Boris Johnson promoted three options for a new hub airport serving London located to the east of the Capital.</p>
<p>In July 2013, he submitted detailed technical proposals for each of these three sites to the <a href="https://www.gov.uk/government/organisations/airports-commission">Airports Commission</a>.</p>
</div>
 
<div>





    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/new-hub-airport-stansted-mayor-of-london-july-2013.pdf">
    <div class="document-download-text">
        <p>Enlarging Stansted Airport - July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.06MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/outer-thames-estuary-hub-plan-2013.pdf">
    <div class="document-download-text">
        <p>New outer Thames estuary hub - July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.06MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/isle-of-grain-hub-plan-summer-2013.pdf">
    <div class="document-download-text">
        <p>New Isle of Grain (inner Thames estuary) hub - July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.10MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.10 -->
 
</div>

</div>
 
<div>



<h2>Inner Thames Estuary</h2>


<h3>Inner Thames Estuary study</h3>
<p>The then-Mayor's response to the decision by
the Airports Commission to keep an Inner Thames
Estuary (ITE) airport option on the list of options under consideration.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mayoroflondon-inner-thames-estuary-fs-reponse.pdf">
    <div class="document-download-text">
        <p>The Mayor's response to Inner Thames Estuary Feasibility study - May 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.11MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.11 -->
 
</div>

    
</div>
 
<div>




<h3>Inner Thames Estuary reports</h3>
<p>An Inner Thames Estuary airport option on the list of options under consideration.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/a-abpmer-waders-and-waterfowl.pdf">
    <div class="document-download-text">
        <p>Inner Thames Estuary airport option: Waders and Waterfowl - ABP Marine Environmental Research Ltd - May 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 11.62MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 11.62 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/b-abpmer-impact-appraisal.pdf">
    <div class="document-download-text">
        <p>Inner Thames Estuary airport option: Impact appraisal - ABP Marine Environmental Research Ltd - May 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.40MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.40 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/c-abpmer-envionmental-review.pdf">
    <div class="document-download-text">
        <p>Inner Thames Estuary airport option: Environmental review - ABP Marine Environmental Research Ltd - May 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.68MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.68 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/d-abpmer-compensation-and-mitigation.pdf">
    <div class="document-download-text">
        <p>Compensation and mitigation measures in relation to Natura 2000 sites (2013) - ABP Marine Environmental Research Ltd - May 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.09MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/e-atkins-desk-study-part-a.pdf">
    <div class="document-download-text">
        <p>Ecology desk study part A: Designated sites (2013) - Atkins - May 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.74MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.74 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/f-abpmer-marine-baseline.pdf">
    <div class="document-download-text">
        <p>Ecology desk study part B: Marine and coastal baseline (2013) - May 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 28.80MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 28.80 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/g-atkins-cultural-heritage.pdf">
    <div class="document-download-text">
        <p>Cultural heritage (2013) - Atkins - May 2014 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.34MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.34 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/h-atkins-tn-a-flood-resilient-airport-hub-for-london.pdf">
    <div class="document-download-text">
        <p>A flood resilient airport hub for London - Atkins - May 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 402KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/i-atkins-tn-low-visibility-procedures-cover-sheet.pdf">
    <div class="document-download-text">
        <p>Low visibility procedures - Atkins - May 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 423KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.41 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/j-atkins-wildlife-hazards-good-practice.pdf">
    <div class="document-download-text">
        <p>Wildlife hazards good practice (2013) - Atkins - May 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 513KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.50 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/k-potential-airspace-impacts-of-a-new-hub-airport-issue.pdf">
    <div class="document-download-text">
        <p>Potential airspace impacts of a new hub airport - Atkins - May 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.03MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/l-atkins-tn-planning-for-transition-to-a-new-hub-airport.pdf">
    <div class="document-download-text">
        <p>Planning for transition to a new hub airport - Atkins - May 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 564KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.55 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/m-attitudes-to-airport-relocation-cover-sheet.pdf">
    <div class="document-download-text">
        <p>Attitudes to relocating hub airports - York Aviation - May 2014 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 248KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.24 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/n-the-strategic-planning-case-for-a-new-hub-airport-for-london.pdf">
    <div class="document-download-text">
        <p>The strategic planning case for a new hub airport in the Inner Thames Estuary - Atkins - May 2014 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.04MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/impacts-of-improved-connectivity.pdf">
    <div class="document-download-text">
        <p>Impacts of improved connectivity - May 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.89MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.89 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/p-jll-heathrow-redevelopment-scenarios-final-report.pdf">
    <div class="document-download-text">
        <p>Heathrow redevelopment scenarios -  Jones Lang LaSalle (JLL) with Peter Brett Associates (PBA) - May 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.64MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.64 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/q-extract-ac-discussion-paper-four-airport-op-models.pdf">
    <div class="document-download-text">
        <p>Competition and Airline needs (Extract from responses to Airports Commission Discussion Paper 04) - TFL - May 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 373KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/r-atkins-tn-surface-access-additional-info.pdf">
    <div class="document-download-text">
        <p>Airport surface access demand and impacts - Atkins - May 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 787KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.77 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/s-surface-access-cost-comparison.pdf">
    <div class="document-download-text">
        <p>Supplementary information for low, medium, high and optimal performance and cost appraisal - TFL - May 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 300KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/t-aviation-noise-modelling-heathrow-options.pdf">
    <div class="document-download-text">
        <p>Aviation Noise Modelling: Heathrow options - CAA ERCD - May 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.74MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.74 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/u-runway-utilisation.pdf">
    <div class="document-download-text">
        <p>Runway utilisation - Atkins - May 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.93MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.93 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/v-technical-note-hub-airport-capacity.pdf">
    <div class="document-download-text">
        <p>Hub airport capacity - Atkins - May 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 450KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.44 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/w-hub-phase-three-report.pdf">
    <div class="document-download-text">
        <p>Supplementary report: Commercial and financial analysis of the IoG option based on KPMG's analysis - Ernst and Young - May 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 353KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.34 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/x-comparison-of-options.pdf">
    <div class="document-download-text">
        <p>Performance of Options against Commission's Assessment Framework Objectives - TfL - May 2014 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 128KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 
</div>

</div>
 
<div>




<h2><a name="supporting-technical-evidence"></a>Supporting technical evidence</h2>
<p>Technical reports provided details about the then-Mayor's three submissions to the Airports Commission for a new airport.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/shortlisting-report.pdf">
    <div class="document-download-text">
        <p>Shortlisting report - July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.16MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/impacts-to-the-local-and-national-economy.pdf">
    <div class="document-download-text">
        <p>Impacts of a new hub airport upon the local and national economy - Oxford Economics - July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 794KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.78 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/impacts-of-closure-and-redevelopment-of-heathrow-airport.pdf">
    <div class="document-download-text">
        <p>Impacts of the closure and redevelopment of Heathrow airport - Oxford Economics - July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 814KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.80 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/impacts-of-a-new-hub-airport-on-air-freight-industry.pdf">
    <div class="document-download-text">
        <p>Impacts of a new hub airport on the air freight industry - Oxford Economics - July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 789KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.77 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/impacts-on-the-uk-economy-through-the-provision-of-international-connectivity.pdf">
    <div class="document-download-text">
        <p>Impact on the UK economy through the provision of international connectivity - July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 678KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.66 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/land-and-housing-technical-note.pdf">
    <div class="document-download-text">
        <p>Land and housing technical note - Atkins - July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 439KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.43 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stansted-a.pdf">
    <div class="document-download-text">
        <p>Stansted - planned residential development - A - July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.43MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.43 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stansted-b.pdf">
    <div class="document-download-text">
        <p>Stansted - planned residential development - B - July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.82MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.82 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/innerestuary-isleofgrain-c.pdf">
    <div class="document-download-text">
        <p>Inner Estuary Isle of Grain - planned residential development - C - July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.98MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.98 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/outerestuary-d.pdf">
    <div class="document-download-text">
        <p>Outer Estuary - planned residential development - D - July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.65MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.65 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/outerestuary-e.pdf">
    <div class="document-download-text">
        <p>Outer Estuary - planned residential development - E - July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.56MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.56 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/innerestuary-isleofgrain-a.pdf">
    <div class="document-download-text">
        <p>Inner Estuary Isle of Grain - planning residential development - A - July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.68MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.68 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/innerestuary-isleofgrain-b.pdf">
    <div class="document-download-text">
        <p>Inner Estuary Isle of Grain - planned residential development - B - July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.01MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/impact-on-business-location-fdi.pdf">
    <div class="document-download-text">
        <p>Impact of a new hub airport on business location and foreign direct investment - Ramboll - July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.70MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.70 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/impact-of-a-new-hub-on-airport-tourism-and-non-business-travel.pdf">
    <div class="document-download-text">
        <p>Impact of a new hub airport on tourism and non-business travel - Ramboll - July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.28MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/economic-value-of-connectivity-oxford-economics-york-aviation.pdf">
    <div class="document-download-text">
        <p>Economic value of connectivity - July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.41MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.41 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-workshop-notes-nats.pdf">
    <div class="document-download-text">
        <p>Our workshop notes, National Air Traffic Services - July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.75MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.75 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stansted-master-plan.pdf">
    <div class="document-download-text">
        <p>Stansted hub airport masterplan, Atkins - July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.85MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.85 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/outer-estuary-master-plan.pdf">
    <div class="document-download-text">
        <p>Outer Estuary hub airport masterplan, Atkins - July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.64MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.64 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/isle-of-grain-master-plan.pdf">
    <div class="document-download-text">
        <p>Isle of Grain hub airport masterplan, Atkins - July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.69MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.69 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/the-mayors-aviation-work-programme-surface-access-technical-report.pdf">
    <div class="document-download-text">
        <p>Surface access technical note - July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.42MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.42 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/financial-and-commercial-considerations.pdf">
    <div class="document-download-text">
        <p>Summary note of key commercial considerations - Ernst and Young - September 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 11.07MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 11.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/isle-of-grain-air-quality-compliance.pdf">
    <div class="document-download-text">
        <p>Isle of Grain, air quality compliance risks, Atkins - September 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.41MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.41 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/isle-of-grain-noise-analysis.pdf">
    <div class="document-download-text">
        <p>Isle of Grain airport, noise analysis report, ERCD - September 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 552KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.54 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/outer-estuary-air-quality-compliance.pdf">
    <div class="document-download-text">
        <p>Outer Estuary hub airport, air quality compliance risks - Atkins - September 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.21MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/outer-estuary-noise-analysis.pdf">
    <div class="document-download-text">
        <p>Outer Estuary hub airport, noise analysis report, ERCD - September 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 438KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.43 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stansted-air-quality-compliance.pdf">
    <div class="document-download-text">
        <p>Stansted hub airport, air quality compliance risks - Atkins - September 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.74MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.74 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stansted-noise-analysis.pdf">
    <div class="document-download-text">
        <p>Stansted hub airport, noise analysis report - ERCD - September 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 475KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.46 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/climate-change-technical-notes.pdf">
    <div class="document-download-text">
        <p>Climate change technical note - Atkins - September 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.05MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.05 -->
 
</div>

</div>
 
<div>





        <h2>Airports Commission submissions<a name="airports-commission-submissions"></a></h2>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/delivery-of-new-runway-capacity.pdf">
    <div class="document-download-text">
        <p>Discussion Paper 07 - Delivery of New Runway Capacity - August 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 343KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.34 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/feasibility-studies-summary-of-responses.pdf">
    <div class="document-download-text">
        <p>Inner Thames Estuary: Feasibility Studies Summary of responses August 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 348KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.34 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/feasibility-studies-environmental-impacts.pdf">
    <div class="document-download-text">
        <p>Inner Thames Estuary: Feasibility Study 1 Environmental impacts August 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.50MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.50 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/feasibility-studies-operational-feasibility.pdf">
    <div class="document-download-text">
        <p>Inner Thames Estuary: Feasibility Study 2 Operational feasibility August 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 216KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/feasibility-studies-socio-economic-impacts.pdf">
    <div class="document-download-text">
        <p>Inner Thames Estuary: Feasibility Study 3 Socio-economic impacts August 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 551KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.54 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/feasibility-studies-surface-access.pdf">
    <div class="document-download-text">
        <p>Inner Thames Estuary: Feasibility Study 4 Surface access August 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 451KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.44 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ac-discussion-paper-6-regional-connectivity.pdf">
    <div class="document-download-text">
        <p>Discussion Paper 06 - Regional Connectivity and Existing Airport Capacity - July 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 259KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mayoroflondon-inner-thames-estuary-fs-reponse.pdf">
    <div class="document-download-text">
        <p>The Mayor's response to Inner Thames Estuary Feasibility study - May 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.11MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/airports-commission-response-terms-of-reference.pdf">
    <div class="document-download-text">
        <p>Airports Commission Response - terms of reference - April 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 96KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/airports-commission-response-appraisal-framework.pdf">
    <div class="document-download-text">
        <p>Airports Commission Response - appraisal framework - April 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 116KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sir-howard-davies-letter.pdf">
    <div class="document-download-text">
        <p>Sir Howard Davies letter from the Mayor of London - April 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 201KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sir-howard-davies-enc-3-doc.pdf">
    <div class="document-download-text">
        <p>Sir Howard Davies letter from the Mayor of London - February 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.87MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.87 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mayor-of-london-response-to-ac-appraisal-framework-consultation.pdf">
    <div class="document-download-text">
        <p>Mayor of London's response to the Airport Commissions Appraisal Framework Consultation - February 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 246KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.24 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/response-to-study-scope-for-isle-of-grain.pdf">
    <div class="document-download-text">
        <p>Inner Thames Estuary Feasibility Studies - February 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 302KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/airport-commission-short-and-medium-term-proposals-tfl-response-may-2013.pdf">
    <div class="document-download-text">
        <p>Proposals for making best use of existing capacity in the short and medium term - May 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 116KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/airport-commission-discussion-paper-01-demand.pdf">
    <div class="document-download-text">
        <p>Discussion Paper 01 - Aviation demand - March 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 101KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/aviation-connectivity-and-the-economy-april-2013.pdf">
    <div class="document-download-text">
        <p>Discussion Paper 02 - Aviation connectivity and the economy - April 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 332KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/discussion-paper-03-climate-change-tfl-response.pdf">
    <div class="document-download-text">
        <p>Discussion Paper 03 - Aviation and Climate Change - May 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 131KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/airports-commission-discussion-paper--04-operational-models-tfl-response.pdf">
    <div class="document-download-text">
        <p>Discussion Paper 04 - Airport Operational Models - July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 337KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/airports-commission-discussion-paper-04-operational-models-tfl-response-with-evidence-base.pdf">
    <div class="document-download-text">
        <p>Discussion Paper 04 - Airport Operational Models - response with evidence base - July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 365KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/airport-commission-discussion-paper-05-noise-mayor-of-london-response.pdf">
    <div class="document-download-text">
        <p>Discussion Paper 05 - Noise: the Mayor of London's response - September 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 129KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mayor-london-response-to-long-and-short-to-medium-term-proposal.pdf">
    <div class="document-download-text">
        <p>Long and short to medium term proposals - Spetember 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 241KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.24 -->
 
</div>

</div>
 
<div>





        <h2>Socio-economic impacts<a name="socio-economic-impacts"></a>&nbsp;</h2>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/heathrow-redevelopment-scenarios.pdf">
    <div class="document-download-text">
        <p>Heathrow Redevelopment Scenarios - February 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.50MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.50 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/review-of-heathrow-employment-study.pdf">
    <div class="document-download-text">
        <p>Review of Heathrow Employment Impact Study - January 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 227KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 
</div>

</div>
 
<div>



<h2>Other documents</h2>



    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/summary-of-mayoral-aviation-programme-spend.pdf">
    <div class="document-download-text">
        <p>Summary of Mayoral Aviation Programme Spend 2010-14</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 46KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/michele-dix--transport-as-driver-of-development.pdf">
    <div class="document-download-text">
        <p>Transport &#45; a driver of housing development and facilitator of Opportunity Areas (Shaping a growing London conference 18 June 2014) &#45; July 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.21MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sir-peter-hall--key-to-londons-growth-strategy.pdf">
    <div class="document-download-text">
        <p>Key to London's Growth Strategy (Shaping a growing London conference 18 June 2014) &#45; July 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.01MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/steve-howlett-challenge-of-housing-londons-growing-population.pdf">
    <div class="document-download-text">
        <p>The Challenge of Housing London's Growing Population (Shaping a growing London conference 18 June 2014) &#45; July 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 791KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.77 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dr-alain-thierstein--learning-from-munich.pdf">
    <div class="document-download-text">
        <p>Learning from Munich? Moving a city airport then and now (Shaping a growing London conference 18 June 2014) &#45; July 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.37MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/edward-lister-londons-growth-to-2050.pdf">
    <div class="document-download-text">
        <p>Challenges and Opportunities: London's Growth to 2050 (Shaping a growing London conference 18 June 2014) - July 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.67MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.67 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/making-connections.pdf">
    <div class="document-download-text">
        <p>Making Connections: Improving the UK's Domestic Aviation Connectivity with a New Four Runway Hub Airport - York Aviation - June 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.36MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ac-interim-report-key-issues.pdf">
    <div class="document-download-text">
        <p>The Airports Commission Interim Report: Key Issues - January 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 397KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/daniel-moylan-runways-uk-speech.pdf">
    <div class="document-download-text">
        <p>Daniel Moylan speech to Runways UK Conference - 16 January 2014 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 20KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/new-hub-airport-booklet.pdf">
    <div class="document-download-text">
        <p>A new hub airport for London and the UK booklet - July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.12MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/why-the-uk-needs-a-new-hub-airport.pdf">
    <div class="document-download-text">
        <p>Why the UK needs a new hub airport factsheet - July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 178KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/york-aviation-london-airports-route-networks-2050.pdf">
    <div class="document-download-text">
        <p>London airports route networks in 2050 - York Aviation - July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 148KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mayors-response-night-flying-consultation.pdf">
    <div class="document-download-text">
        <p>Night flying restrictions at Heathrow, Gatwick and Stansted - stage 1 consultation - April 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 187KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/aviation-criteria-consultation-report-final.pdf">
    <div class="document-download-text">
        <p>2013 consultation results - March 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 262KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/new-airport-capacity-options-assessment-criteria-consultation-results-march-2013.pdf">
    <div class="document-download-text">
        <p>New airport capacity options - assessment criteria - March 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 262KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/daf-consultation-response-2012.pdf">
    <div class="document-download-text">
        <p>The Mayor's response to the Government's draft aviation policy framework - October 2012</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 347KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.34 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/developing-a-sustainable-framework-for-uk-aviation-scoping-document-full.pdf">
    <div class="document-download-text">
        <p>Developing a sustainable framework for UK aviation - full response - October 2011</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.91MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.91 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/developing-a-sustainable-framework-for-uk-aviation-scoping-document-summary.pdf">
    <div class="document-download-text">
        <p>Developing a sustainable framework for UK aviation - summary response - October 2011</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.86MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.86 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/a-new-airport-for-london-part1-the-case-for-new-capacity.pdf">
    <div class="document-download-text">
        <p>A new airport for London part 1 - the case for new capacity - January 2011</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.56MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.56 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/a-new-airport-for-london-part2-the-economic-benefits-of-a-new-hub-airport.pdf">
    <div class="document-download-text">
        <p>A new airport for London part 2 - the economic benefits of a new hub airport - November 2011</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.49MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.49 -->
 
</div>

</div>
 
<div>




<h2><a name="letters"></a>Colin Matthews letters</h2>
<p>This series of letters is between the then-Mayor and the Chief Executive
Officer of Heathrow Airport Holdings Ltd, Colin Matthews. &nbsp;</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mayor-to-colin-matthews-271113.pdf">
    <div class="document-download-text">
        <p>Letter from the Mayor to Colin Matthews 27 November 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 40KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/colin-matthews-to-mayor-061213.pdf">
    <div class="document-download-text">
        <p>Letter from Colin Matthews 6 December 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.13MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mayor-to-colin-matthews-120214.pdf">
    <div class="document-download-text">
        <p>Letter from the Mayor to Colin Matthews 12 February 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 60KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/colin-matthews-to-mayor-250214.pdf">
    <div class="document-download-text">
        <p>Letter from Colin Matthews 25 February 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 165KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mayor-to-colin-matthews-100314.pdf">
    <div class="document-download-text">
        <p>Letter from the Mayor to Colin Matthews 10 March 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 59KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/colin-matthews-to-mayor-170314.pdf">
    <div class="document-download-text">
        <p>Letter from Colin Matthews 17 March 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/aviation" class="heading">
                    <h2 id="sub-menu-heading">Aviation<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/publications-and-reports/aviation---past-documents">Aviation - past documents</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Documents and research on airport options for London and the Southeast generated under the mayoralty of Boris Johnson";}
        
            
        


 