
    
  


<!-- rhroot -->
@{ViewBag.Title = "Aviation";}
@{ViewBag.Keywords = "Businesses,Media,Public,A,Aviation,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/aviation";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Aviation</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Aviation</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The Mayor of London, Sadiq Khan, and TfL are actively engaging with and responding to consultations related to UK aviation in general, and Heathrow expansion in particular, to ensure that the views of London and Londoners are represented.
        
      </div>
    
    <div class="on-this-page">
      <p>See more about the Mayor's views in this area on the <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/london-airports">London's airports page</a>.</p>
      
           
      <div>

<h2>Heathrow expansion: Development Consent Order</h2>

<p>Heathrow Airport Limited (HAL) plans to take forward its expansion plans through a Development Consent Order (DCO) application. HAL launched a first non-statutory consultation in January 2018. This consultation outlined HAL's emerging plans for building and operating a new northwest runway.</p>

<p>In January 2019, HAL launched another non-statutory consultation, 'Airspace and Future Operations', about both to its DCO application and its associated airspace change process.</p>

<p>On 18 June 2019, HAL published its statutory DCO consultation, which was required to set out its detailed plans and assessment and mitigation of the impacts. Responses were submitted on behalf of the Mayor to all three consultations.</p>
</div>
 
<div>




<h3>Statutory consultation - Mayoral response</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dco-overarching-mayoral-letter.pdf">
    <div class="document-download-text">
        <p>Overarching Mayoral letter</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 546KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.53 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dco-adequacy-of-consultation.pdf">
    <div class="document-download-text">
        <p>Adequacy of consultation paper</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 70KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dco-air-quality-strategic.pdf">
    <div class="document-download-text">
        <p>Air quality (strategic) paper</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 88KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dco-biodiversity-ecology.pdf">
    <div class="document-download-text">
        <p>Biodiversity and ecology paper</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 72KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dco-carbon-climate-change.pdf">
    <div class="document-download-text">
        <p>Carbon and climate change paper</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 93KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dco-early-growth.pdf">
    <div class="document-download-text">
        <p>Early growth paper</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 61KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dco-environmentally-managed-growth.pdf">
    <div class="document-download-text">
        <p>Environmentally managed growth paper</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 96KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dco-economics-employment.pdf">
    <div class="document-download-text">
        <p>Economics and employment paper</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 82KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dco-equalities-impact-assessment.pdf">
    <div class="document-download-text">
        <p>Equalities impact assessment paper</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 84KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dco-health.pdf">
    <div class="document-download-text">
        <p>Health paper</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 90KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dco-historic-environment.pdf">
    <div class="document-download-text">
        <p>Historic environment paper</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 86KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dco-housing-land-use.pdf">
    <div class="document-download-text">
        <p>Housing and land use paper</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 85KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dco-in-combination-cumulative-effects.pdf">
    <div class="document-download-text">
        <p>In combination and cumulative effects paper</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 44KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dco-landscape-visual-amenity.pdf">
    <div class="document-download-text">
        <p>Landscape and visual amenity paper</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 62KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dco-noise.pdf">
    <div class="document-download-text">
        <p>Noise paper</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 184KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dco-waste.pdf">
    <div class="document-download-text">
        <p>Waste paper</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 68KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dco-water-flooding.pdf">
    <div class="document-download-text">
        <p>Water and flooding paper</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 87KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
</div>

</div>
 
<div>




<h3>Statutory consultation - TfL response</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dco-overarching-tfl-letter.pdf">
    <div class="document-download-text">
        <p>Overarching TfL letter</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 160KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dco-surface-access.pdf">
    <div class="document-download-text">
        <p>Surface access paper</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 271KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dco-air-quality-technical.pdf">
    <div class="document-download-text">
        <p>Air quality (technical) paper</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 142KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 
</div>

</div>
 
<div>




<h3>Response to initial consultations</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dco-consultation1-mayoral-response.pdf">
    <div class="document-download-text">
        <p>Response to HAL DCO consultation 1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 370KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/response-to-hal-airspace-and-operations-consultation.pdf">
    <div class="document-download-text">
        <p>Response to HAL Airspace and Future Operations consultation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 86KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
</div>

</div>
 <div>

<h2>National Policy Statement on Heathrow expansion</h2>

<p>The Department for Transport (DfT) held a consultation from 2 February to 25 May 2017 on the National Policy Statement (NPS) for additional airport capacity in the South East and what requirements need to be met for Heathrow to expand. The Mayor of London made a detailed submission to this consultation.</p>

<p>The DfT held a supplementary consultation between 24 October and 19 December 2017 after the NPS was revised in light of updated Passenger Demand Forecasts and the publication of the national Air Quality Plan. The Mayor made a further detailed submission to this consultation.</p>

<p>The Secretary of State for Transport laid the final NPS before Parliament on 5 June 2018. Alongside the final NPS, the Government also published its response to the Transport Select Committee (TSC) report on the NPS and the two public consultations.</p>

<p>Our review of the final NPS indicates that the Government has largely ignored the comprehensive recommendations of the Transport Select Committee. Whether or not one accepts the case for Heathrow expansion, the result is that the final NPS is simply not fit for purpose.</p>
</div>
 
<div>




<h3>Review of the final NPS</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mayor-of-london-briefing-house-of-commons-vote.pdf">
    <div class="document-download-text">
        <p>Mayor of London briefing for House of Commons vote</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 82KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/review-of-nps-response-to-tsc-response.pdf">
    <div class="document-download-text">
        <p>Review of NPS response to TSC report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 121KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/air-quality-factsheet.pdf">
    <div class="document-download-text">
        <p>Air quality factsheet</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 75KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cost-financing-factsheet.pdf">
    <div class="document-download-text">
        <p>Cost and financing factsheet </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 94KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/domestic-connectivity-factsheet.pdf">
    <div class="document-download-text">
        <p>Domestic connectivity factsheet</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 116KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/noise-factsheet.pdf">
    <div class="document-download-text">
        <p>Noise factsheet </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 84KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/surface-access-factsheet.pdf">
    <div class="document-download-text">
        <p>Surface access factsheet </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 123KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-final-heathrow-nps-initial-review-june18.pdf">
    <div class="document-download-text">
        <p>Initial review of the final NPS</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 91KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 
</div>

</div>
 
<div>




<h3>Submission to the revised NPS consultation</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mayoral-response-to-revised-nps-consultation-letter-171219.pdf">
    <div class="document-download-text">
        <p>Overarching Mayoral letter</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 261KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mayoral-response-to-revised-nps-consultation-technical-note-171219.pdf">
    <div class="document-download-text">
        <p>Detailed technical note</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 798KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.78 -->
 
</div>

</div>
 
<div>




<h3>Submission to the original NPS consultation</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/response-to-the-nps-consultation.pdf">
    <div class="document-download-text">
        <p>Overarching Mayoral letter</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 70KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/nps-01-overview-of-questions.pdf">
    <div class="document-download-text">
        <p>Overview of the consultation questions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 40KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/nps-02-air-quality.pdf">
    <div class="document-download-text">
        <p>Air quality paper</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 702KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.69 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/nps-03-noise.pdf">
    <div class="document-download-text">
        <p>Noise paper</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 73KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/nps-04-surface-access.pdf">
    <div class="document-download-text">
        <p>Surface access paper</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.65MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.65 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/nps-05-climate-change.pdf">
    <div class="document-download-text">
        <p>Climate change paper</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 82KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/nps-06-economic-impacts-and-financeability.pdf">
    <div class="document-download-text">
        <p>Economic impacts and financeability paper</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 106KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/nps-07-domestic-connectivity.pdf">
    <div class="document-download-text">
        <p>Domestic connectivity paper</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 41KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/nps-08-impact-assessments.pdf">
    <div class="document-download-text">
        <p>Impact assessments paper</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 50KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/nps-09-requirements.pdf">
    <div class="document-download-text">
        <p>Requirements paper</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 59KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/nps-10-consulation-process.pdf">
    <div class="document-download-text">
        <p>Consultation process paper</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 41KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 
<div>




<p>In January 2018, shortly after our submission to the consultation on the revised NPS, we published a paper summarising the results of our surface access analysis to date.&nbsp;</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-surface-access-analysis-note-17-01-15.pdf">
    <div class="document-download-text">
        <p>TfL surface access analysis note</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.31MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.31 -->
 
</div>

</div>
 
<div>




<a name="heathrownps"></a>
<h3>Submissions to the Transport Select Committee</h3>
<p>The House of Commons Transport Select Committee launched a call for evidence between 22 February and 24 March 2017 into the NPS for expansion at Heathrow. This was followed by a further call for evidence between 1 November and 30 November 2017. Responses were submitted by the Mayor of London and the Deputy Mayor for Transport respectively.</p>
<p>A further response was submitted from the Deputy Mayor to clarify points raised by the DfT and Heathrow Airport Limited (HAL) during the Transport Select Committee hearings held in February 2018.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mayoral-response-to-the-transport-select-commitee-on-heathrow-nps.pdf">
    <div class="document-download-text">
        <p>Submission to the first Transport Select Committee call for evidence on the NPS</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 23KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/second-submission-to-the-transport-select-committee-call-for-evidence-on-the-nps.pdf">
    <div class="document-download-text">
        <p>Submission to the second Transport Select Committee call for evidence on the NPS</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 46KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tsc-rebuttal-letter.pdf">
    <div class="document-download-text">
        <p>Supplementary submission to Transport Select Committee letter</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 52KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tsc-rebuttal-submission.pdf">
    <div class="document-download-text">
        <p>Supplementary submission to Transport Select Committee</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 458KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.45 -->
 
</div>

</div>
 
<div>



<h2>London City Airport engagement</h2>


<p>In June 2019 London City Airport published a consultation on a draft Master Plan for the period 2020-2035. Additional background material was published in August 2019. The Mayor submitted a response to this consultation.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mayoral-letter-london-city-masterplan-consultation-accessible.pdf">
    <div class="document-download-text">
        <p>Response to London City Airport Master Plan consultation - letter</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 74KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/technical-response-london-city-masterplan-accessible.pdf">
    <div class="document-download-text">
        <p>Response to London City Airport Master Plan consultation - detailed response</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 195KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 
</div>

</div>
 
<div>




<p>Also in June 2019, London City Airport sought to engage with select stakeholders on the first stage of its airspace modernisation process, with regard to airspace design principles. The Deputy Mayor for Transport submitted a response.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-city-future-airspace-design-principles-submission.pdf">
    <div class="document-download-text">
        <p>Submission on airspace modernisation design principles</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 40KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 
<div>



<h2>UK aviation strategy</h2>


<p>The DfT is developing a new aviation strategy for the UK which will set the long-term vision for the sector. This consultation process was launched with an initial call for evidence in July 2017.</p>

<p>In April 2018, an update and next steps report was published by the DfT.</p>

<p>In December 2018, the DfT published an updated draft aviation strategy consultation, 'Aviation 2050 &#45; the future of UK aviation'. The Mayor responded to both consultations.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/submission-to-the-aviation-strategy-call-for-evidence.pdf">
    <div class="document-download-text">
        <p>Submission to the aviation strategy call for evidence</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 67KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mayoral-letter-aviation-2050-consultation.pdf">
    <div class="document-download-text">
        <p>Response to Aviation 2050 consultation - letter</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 293KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/supporting-document-aviation-2050-consultation.pdf">
    <div class="document-download-text">
        <p>Response to Aviation 2050 consultation - supporting document</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 227KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 
</div>

</div>
 
<div>




<h2>UK airspace and noise policy</h2>

<p>The DfT held a consultation on UK airspace policy in 2017 which included proposals to modernise airspace. The Deputy Mayor for Transport submitted a response to this consultation.</p>

<p>The Independent Commission on Civil Aviation Noise (ICCAN), an advisory non-departmental body sponsored by the DfT, held an initial consultation on its strategy. Transport for London responded to this consultation on behalf of the Mayor.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/submission-to-the-uk-airspace-policy-consultation.pdf">
    <div class="document-download-text">
        <p>Submission to the UK Airspace Policy consultation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 37KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/iccan-strategy-consultation-response.pdf">
    <div class="document-download-text">
        <p>Submission to ICCAN strategy consultation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 161KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 
</div>

</div>
 
<div>



<h2>Economic regulation of Heathrow</h2>


<p>The CAA has held a number of consultations on the economic regulation of Heathrow, to determine the appropriate regulatory framework for the expansion of Heathrow. The first, held at the start of 2017, identified the key principles and timetable.</p>

<p>The second, in the summer 2017, explored the core elements. The third, held at the end of 2017, was a policy update. Further consultations were held in April 2018, October 2018 and July 2019.</p>

<p>We submitted responses to the first, second, fourth and fifth consultations.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-response-to-caa-economic-regulation-consultation-170314.pdf">
    <div class="document-download-text">
        <p>Response to the first CAA consultation on the economic regulation of Heathrow</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 124KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/response-to-the-second-caa-consultation-on-the-economic-regulation-of-heathrow.pdf">
    <div class="document-download-text">
        <p>Response to the second CAA consultation on the economic regulation of Heathrow</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 148KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/response-to-fourth-caa-economic-regulation-consultation.pdf">
    <div class="document-download-text">
        <p> Response to the fourth CAA consultation on the economic regulation of Heathrow</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 159KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/response-to-fifth-caa-economic-regulation-consultation.pdf">
    <div class="document-download-text">
        <p> Response to the fifth CAA consultation on the economic regulation of Heathrow</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 158KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 
</div>

</div>
 
<div>



<h2>Night flights</h2>


<p>The Government held a consultation on night flights which outlined the night flight rules for UK airports for a period of 5 years to 2022. The Mayor submitted a response to this consultation.&nbsp;</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mayoral-response-to-night-flights-consultation-170227.pdf">
    <div class="document-download-text">
        <p>Response to the Government consultation on night flights </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 239KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 
</div>

</div>
 
<div>



<h2>Environmental Audit Committee on Heathrow expansion</h2>


<p>The Environmental Audit Committee held an inquiry into the implications of an expanded Heathrow. The Deputy Mayor for Transport submitted evidence to this inquiry.&nbsp;</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mayoral-response-to-the-environmental-audit-committee-161123.pdf">
    <div class="document-download-text">
        <p>Submission to the Environmental Audit Committee on Heathrow expansion</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 93KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 
</div>
<p>You can also see <a href="/corporate/publications-and-reports/aviation---past-documents">older documents related to London aviation policy</a> under the previous Mayor. Most of these cover the debate over airport capacity.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/aviation" class="heading">
                    <h2 id="sub-menu-heading">Aviation<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/aviation---past-documents">Aviation - past documents</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Airport policy documents include submissions to Parliament by Mayor of London Sadiq Khan";}
        
            
        


 