
    
  



@{ViewBag.Title = "Bank station capacity upgrade";}
@{ViewBag.Keywords = "Tube passengers,B,City of London,Tube improvement,Tube,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/bank-station-capacity-upgrade";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Bank station capacity upgrade</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Bank station capacity upgrade</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        In December 2015 we were granted a Transport & Works Act Order (TWAO) for the Bank station capacity upgrade (BSCU). The TWAO gives us powers to construct and operate the new section of railway.
        
      </div>
    
    <div class="on-this-page">
      <p>The Secretary of State for Transport held a public inquiry into our TWAO application in April/May 2015.</p>

<p>On the Government's legislative website you can see the full&nbsp;<a href="http://www.legislation.gov.uk/uksi/2015/2044/contents/made">London Underground (Bank Station Capacity Upgrade) Order 2015</a>. This includes sections on work provisions, acquisition and possession of land and various schedules related to the Order.</p>

<p>Below you will find our TWAO application documents, our applications for Listed buildings consents, factsheets about aspects of the project, and our Statement of case.</p>
      
           
      <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="statement-of-case-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bank station capacity upgrade-Statement of case"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="statement-of-case-heading" class="accordion-heading">Statement of case</div>
            </div>
            <div id="statement-of-case-content" class="start-hidden" role="region" aria-labelledby="statement-of-case-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/statement-of-case-of-london-underground-limited.pdf">
    <div class="document-download-text">
        <p>Statement of Case of London Underground Limited</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.74MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.74 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="main-application-documents-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bank station capacity upgrade-Main application documents"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="main-application-documents-heading" class="accordion-heading">Main application documents</div>
            </div>
            <div id="main-application-documents-content" class="start-hidden" role="region" aria-labelledby="main-application-documents-heading">

    

<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-twao-applicationindex.pdf">
    <div class="document-download-text">
        <p>Index</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 14KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-twao-mainappdoc-application.pdf">
    <div class="document-download-text">
        <p>Application</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 51KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-twao-mainappdoc-draftorder.pdf">
    <div class="document-download-text">
        <p>Draft order</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 450KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.44 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-twao-mainappdoc-explanatorymemorandum.pdf">
    <div class="document-download-text">
        <p>Explanatory memorandum</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 123KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-twao-mainappdoc-statementofaims.pdf">
    <div class="document-download-text">
        <p>Statement of aims</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 41KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-twao-mainappdoc-statementofconsultation.pdf">
    <div class="document-download-text">
        <p>Statement of consultation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.72MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.72 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-twao-mainappdoc-declarationastostatusofapplicant.pdf">
    <div class="document-download-text">
        <p>Declaration as to status of applicant</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 37KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-twao-mainappdoc-listofallconsentspermissionsorlicencesrequired.pdf">
    <div class="document-download-text">
        <p>List of all consents, permissions or licences required</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-twao-mainappdoc-fundingstatement.pdf">
    <div class="document-download-text">
        <p>Funding statement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 16KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-twao-mainappdoc-estimateofcosts.pdf">
    <div class="document-download-text">
        <p>Estimate of costs</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 12KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-twao-mainappdoc-requestfordirection.pdf">
    <div class="document-download-text">
        <p>Request for direction</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 155KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-twao-mainappdoc-supportingstatement.pdf">
    <div class="document-download-text">
        <p>Supporting statement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.97MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.97 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="order-plans-and-sections-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bank station capacity upgrade-Order plans and sections"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="order-plans-and-sections-heading" class="accordion-heading">Order plans and sections</div>
            </div>
            <div id="order-plans-and-sections-content" class="start-hidden" role="region" aria-labelledby="order-plans-and-sections-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-twao-worksplanslandplanssectionsandotherorderplans.pdf">
    <div class="document-download-text">
        <p>Works plans, land plans, sections and other order plans</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 15.68MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 15.68 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-twao-planningdirectiondrawings.pdf">
    <div class="document-download-text">
        <p>Planning direction drawings</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 19.58MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 19.58 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-twao-planningdirectiondrawingsandotherillustrativematerial.pdf">
    <div class="document-download-text">
        <p>Planning direction drawings and other illustrative material</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 19.54MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 19.54 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="environmental-statement-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bank station capacity upgrade-Environmental statement"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="environmental-statement-heading" class="accordion-heading">Environmental statement</div>
            </div>
            <div id="environmental-statement-content" class="start-hidden" role="region" aria-labelledby="environmental-statement-heading">
<p><a href="/cdn/static/cms/documents/bscu-twao-nontechnicalsummary.pdf">Non technical summary (PDF 2.0MB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-contentsandglossary.pdf">Contents and glossary (PDF 830KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-ch1introduction.pdf">Chapter 1 Introduction (PDF 234KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-ch2planningpolicy.pdf">Chapter 2 Planning policy (PDF 235KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-ch3siteandsurroundings.pdf">Chapter 3 Site and surroundings (PDF 844KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-ch4proposeddevelopment.pdf">Chapter 4 Proposed development (PDF 206KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-ch5considerationofalternatives.pdf">Chapter 5 Consideration of alternatives (PDF 486KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-ch6methodofassessment.pdf">Chapter 6 Method of assessment (PDF 348KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-ch7townscapeandvisualimpact.pdf">Chapter 7 Townscape and visual effects (PDF 775KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-ch8transportandmovement.pdf">Chapter 8 Transport and movement (PDF 7.3MB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-ch9noiseandvibration.pdf">Chapter 9 Noise and vibration (PDF 953KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-ch10builtheritage.pdf">Chapter 10 Built heritage (PDF 418KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-ch11archaeology.pdf">Chapter 11 Archaeology (PDF 474KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-ch12airquality.pdf">Chapter 12 Air quality (PDF 563KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-ch13waterresourcesandfloodrisk.pdf">Chapter 13 Water resources and flood risk (PDF 721KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-ch14landcontamination.pdf">Chapter 14 Land contamination (PDF 395KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-ch15wastemanagementandresourceuse.pdf">Chapter 15 Waste management and resource use (PDF 417KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-ch16socioeconomics.pdf">Chapter 16 Socio-economics (PDF 486KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-ch17inter-relationshipsandcumulativeeffects.pdf">Chapter 17 Inter-relationships and cumulative effects (PDF 326KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-ch18summaryofmitigationmeasures.pdf">Chapter 18 Summary of mitigation measures (PDF 442KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-esfiguresvolume.pdf">Environmental statement figures volume (PDF 11.6MB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix1-1-scopingreport.pdf">Appendix 1.1 Scoping report (PDF 3.3MB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix1-2-scopingresponses.pdf">Appendix 1.2 Scoping responses (PDF 2.3MB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix1-3-scopingopinioncommentssummary.pdf">Appendix 1.3 Scoping opinion comments (PDF 127KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix2-1-policymatrix.pdf">Appendix 2.1 Policy matrix (PDF 929KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix3-noassociatedappendix.pdf">Appendix 3 No associated appendix (PDF 55KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix4-1-draftcocp.pdf">Appendix 4.1 Draft CoCP (PDF 2.9MB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix5-noassociatedappendix.pdf">Appendix 5 No associated appendix (PDF 55KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix6-1-healthimpactassessment.pdf">Appendix 6.1 Health impact assessment (PDF 2.0MB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix6-2-sustainabilitystatement.pdf">Appendix 6.2 Sustainability statement (PDF 2.8MB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix6-3-energystatement.pdf">Appendix 6.3 Energy statement (PDF 1.4MB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix7-1-visualimpactstudy.pdf">Appendix 7.1 Visual impact study (PDF 7.0MB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix7-2-photographsand3dimages.pdf">Appendix 7.2 Photographs and 3D images (PDF 2.6MB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix8-1-transportassessment.pdf">Appendix 8.1 Transport assessment (PDF 21.4MB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix8-2-outlineclp.pdf">Appendix 8.2 Outline CLP (PDF 4.6MB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix8-3-utilitieseshighwaysassessment.pdf">Appendix 8.3 Utilities ES highway assessment (PDF 1.8MB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix9-1-noiseandvibrationperceptionandterminolgy.pdf">Appendix 9.1 N&amp;V perceptions and terminology (PDF 168KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix9-2-noiseandvibrationsurveys.pdf">Appendix 9.2 N&amp;V surveys (PDF 206KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix9-3-andersonacousticsreport.pdf">Appendix 9.3 Anderson acoustics report (PDF 7.6MB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix9-4-demolitionconstructionassessment.pdf">Appendix 9.4 Demolition and construction assessment (PDF 427KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix9-5-noiseandvibrationfromundergroundconst.pdf">Appendix 9.5 N&amp;V from underground construction (PDF 117KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix9-6-roadtrafficflows.pdf">Appendix 9.6 Road traffic flows (PDF 590KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix9-7-fixedplantnoiseassessment.pdf">Appendix 9.7 Fixed plant noise assessment (PDF 215KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix9-8-operationalgroundebournenandv.pdf">Appendix 9.8 Operational groundborne N&amp;V (PDF 1.3MB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix10-1-gazetteerofhss.pdf">Appendix 10.1 Gazetteer of built heritage assets (PDF 174KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix10-2-buildingdamageassessments.pdf">Appendix 10.2 Building damage assessment reports (PDF 14.7MB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix10-3-10kwsheritagestataddendum.pdf">Appendix 10.3 10 KWS heritage statement addendum (PDF 2.0MB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix11-1-archaeologybaselineassessment.pdf">Appendix 11.1 Archaeology baseline assessment (PDF 25.1MB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix12-1-constdustassessmentmethodology.pdf">Appendix 12.1 Construction dust assessment methodology (PDF 236KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix12-2-roadtrafficemissions.pdf">Appendix 12.2 Road traffic emissions assessment methodology (PDF 324KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix12-3-monitoringandmeasurementdata.pdf">Appendix 12.3 Local authority monitoring and measurement data (PDF 112KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix12-4-sensitivityanalysis.pdf">Appendix 12.4 Sensitivity analysis (PDF 230KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix13-1-floodriskassessment.pdf">Appendix 13.1 Flood risk assessment (PDF 1.4MB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix13-2-waterresourcesbaselinereport.pdf">Appendix 13.2 Water resources baseline report (PDF 1.8MB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix14-1-geotechnicalbaselinereport.pdf">Appendix 14.1 Geotechnical baseline report (PDF 6.7MB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix14-2-geotechnicaldeskstudy-part1of2.pdf">Appendix 14.2 Geotechnical desk study - Part 1 (PDF 26.8MB)</a></p>
<p><a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix14-2-geotechnicaldeskstudy-part2of2.pdf">Appendix 14.2 Geotechnical desk study - Part 2 (PDF 23.0MB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix14-3-unexplodedordnancedeskstudy.pdf">Appendix 14.3 Unexploded ordnance desk study (PDF 8.6MB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix14-4-81kwssiteinvestigationreportwembley.pdf">Appendix 14.4 81 KWS site investigation report (PDF 3.0MB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix14-5-10kwsboreholewimpey.pdf">Appendix 14.5 10 KWS borehole records (PDF 1.1MB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix14-6-walbrooksiteinvestigation.pdf">Appendix 14.6 The Walbrook site investigation (PDF 6.0MB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix14-7-nmrothschildgroundinvestigation.pdf">Appendix 14.7 NM Rothschild ground investigation (PDF 3.7MB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix14-8-walbrooksqboreholedata.pdf">Appendix 14.8 The Walbrook Square borehole information (PDF 1.1MB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix14-9-abstractionandhistoricwells.pdf">Appendix 14.9 Abstraction and historic wells current status (PDF 2.6MB)</a></p>
<p><a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix14-10-envirocheckreport-part1of3.pdf">Appendix 14.10 Envirocheck report Part 1 (PDF 5.6MB)</a> </p>
<p><a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix14-10-envirocheckreport-part2of3.pdf">Appendix 14.10 Envirocheck report Part 2 (PDF 24.4MB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix14-10-envirocheckreport-part3of3.pdf">Appendix 14.10 Envirocheck report Part 3 (PDF 23.6MB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix15-noassociatedappendix.pdf">Appendix 15 No associated appendix (PDF 57KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix16-noassociatedappendix.pdf">Appendix 16 No associated appendix (PDF 55KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix17-noassociatedappendix.pdf">Appendix 17 No associated appendix (PDF 57KB)</a></p>
<p>  <a href="/cdn/static/cms/documents/bscu-twao-envstatement-appendix18-noassociatedappendix.pdf">Appendix 18 No associated appendix (PDF 58KB)</a></p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="design-and-access-statement-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bank station capacity upgrade-Design & access statement"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="design-and-access-statement-heading" class="accordion-heading">Design & access statement</div>
            </div>
            <div id="design-and-access-statement-content" class="start-hidden" role="region" aria-labelledby="design-and-access-statement-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-twao-designandaccessstatement-part1of2.pdf">
    <div class="document-download-text">
        <p>Design and access statement - Part 1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 22.10MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 22.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-twao-designandaccessstatement-part2of2.pdf">
    <div class="document-download-text">
        <p>Design and access statement - Part 2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 12.89MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 12.89 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="listed-building-consents-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bank station capacity upgrade-Listed building consents"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="listed-building-consents-heading" class="accordion-heading">Listed building consents</div>
            </div>
            <div id="listed-building-consents-content" class="start-hidden" role="region" aria-labelledby="listed-building-consents-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-lbc-contentsandcoverletter.pdf">
    <div class="document-download-text">
        <p>Contents and cover letter</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 653KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.64 -->
 
</div>

</div>
 
<div>





        <h3>Mansion House</h3>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-lbc-mansionhouse-applicationform.pdf">
    <div class="document-download-text">
        <p>Application form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 130KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-lbc-mansionhouse-noticeandscheduleofrecipients.pdf">
    <div class="document-download-text">
        <p>Notice and schedule of recipients</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 79KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-lbc-mansionhouse-locationplan.pdf">
    <div class="document-download-text">
        <p>Location plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 325KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-lbc-mansionhouse-heritagestatement.pdf">
    <div class="document-download-text">
        <p>Heritage statement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 22.70MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 22.70 -->
 
</div>

</div>
 
<div>





        <h3>1 Princes Street</h3>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-lbc-1princesstreet-applicationform.pdf">
    <div class="document-download-text">
        <p>Application form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 125KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-lbc-1princesstreet-noticeandscheduleofrecipients.pdf">
    <div class="document-download-text">
        <p>Notice and schedule of recipients</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 82KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-lbc-1princesstreet-locationplan.pdf">
    <div class="document-download-text">
        <p>Location plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 316KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-lbc-1princesstreet-heritagestatement.pdf">
    <div class="document-download-text">
        <p>Heritage statement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 11.06MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 11.06 -->
 
</div>

</div>
 
<div>





        <h3>1-6 Lombard Street</h3>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-lbc-1to6lombardstreet-applicationform.pdf">
    <div class="document-download-text">
        <p>Application form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 134KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-lbc-1to6lombardstreet-noticeandscheduleofecipients.pdf">
    <div class="document-download-text">
        <p>Notice and schedule of recipients</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 80KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-lbc-1to6lombardstreet-locationplan.pdf">
    <div class="document-download-text">
        <p>Location plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 342KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-lbc-1to6lombardstreet-heritagestatement.pdf">
    <div class="document-download-text">
        <p>Heritage statement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 11.97MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 11.97 -->
 
</div>

</div>
 
<div>





        <h3>1 King William Street&nbsp;</h3>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-lbc-1kingwilliamstreet-applicationform.pdf">
    <div class="document-download-text">
        <p>Application form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 125KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-lbc-1kingwilliamstreet-noticeandscheduleofrecipients.pdf">
    <div class="document-download-text">
        <p>Notice and schedule of recipients</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 80KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-lbc-1kingwilliamstreet-locationplan.pdf">
    <div class="document-download-text">
        <p>Location plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 372KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-lbc-1kingwilliamstreet-heritagestatement.pdf">
    <div class="document-download-text">
        <p>Heritage statement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.36MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.36 -->
 
</div>

</div>
 
<div>





        <h3>5 King William Street&nbsp;</h3>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-lbc-5kingwilliamstreet-applicationform.pdf">
    <div class="document-download-text">
        <p>Application form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 125KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-lbc-5kingwilliamstreet-noticeandscheduleofrecipients.pdf">
    <div class="document-download-text">
        <p>Notice and schedule of recipients</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 81KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-lbc-5kingwilliamstreet-locationplan.pdf">
    <div class="document-download-text">
        <p>Location plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 366KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-lbc-5kingwilliamstreet-heritagestatement.pdf">
    <div class="document-download-text">
        <p>Heritage statement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 14.14MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 14.14 -->
 
</div>

</div>
 
<div>





        <h3>15 Abchurch Lane </h3>
         
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-lbc-15abchurchlane-applicationform.pdf">
    <div class="document-download-text">
        <p>Application form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 125KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-lbc-15abchurchlane-noticeandscheduleofrecipients.pdf">
    <div class="document-download-text">
        <p>Notice and schedule of recipients</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 52KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-lbc-15abchurchlane-locationplan.pdf">
    <div class="document-download-text">
        <p>Location plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 365KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-lbc-15abchurchlane-heritagestatement.pdf">
    <div class="document-download-text">
        <p>Heritage statement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 10.89MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 10.89 -->
 
</div>

</div>
 
<div>





        <h3>29 Martin Lane</h3>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-lbc-29martinlane-applicationform.pdf">
    <div class="document-download-text">
        <p>Application form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 125KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-lbc-29martinlane-noticeandscheduleofrecipients.pdf">
    <div class="document-download-text">
        <p>Notice and schedule of recipients</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 84KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-lbc-29martinlane-locationplan.pdf">
    <div class="document-download-text">
        <p>Location plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 334KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-lbc-29martinlane-heritagestatement.pdf">
    <div class="document-download-text">
        <p>Heritage statement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 10.88MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 10.88 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="factsheets-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bank station capacity upgrade-Factsheets"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="factsheets-heading" class="accordion-heading">Factsheets</div>
            </div>
            <div id="factsheets-content" class="start-hidden" role="region" aria-labelledby="factsheets-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bcsu-factsheet1-project-overview.pdf">
    <div class="document-download-text">
        <p>1: Project overview</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 201KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bcsu-factsheet2-cannon-street-worksite.pdf">
    <div class="document-download-text">
        <p>2: Cannon Street worksite</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 190KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bcsu-factsheet3-arthur-street-worksite.pdf">
    <div class="document-download-text">
        <p>3: Arthur Street worksite</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 191KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bcsu-factsheet4-construction-traffic-and-traffic-management.pdf">
    <div class="document-download-text">
        <p>4: Management of construction traffic</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 236KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bcsu-factsheet5-consultation-and-stakeholder-engagement.pdf">
    <div class="document-download-text">
        <p>5: Consultation and stakeholder engagement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 192KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bcsu-factsheet6-code-of-construction-practice.pdf">
    <div class="document-download-text">
        <p>6: Code of Construction Practice</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 187KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bcsu-factsheet7-noise-and-vibration-construction.pdf">
    <div class="document-download-text">
        <p>7: Noise and vibration (construction)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 197KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bcsu-factsheet8-noise-and-vibration-operational.pdf">
    <div class="document-download-text">
        <p>8: Noise and vibration (operational)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 186KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bcsu-factsheet9-tunnelling-and-ground-movement.pdf">
    <div class="document-download-text">
        <p>9: Tunnelling and ground movement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 196KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bcsu-factsheet10-listed-buildings-heritage.pdf">
    <div class="document-download-text">
        <p>10: Listed buildings and heritage</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 189KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap not-for-beta placeholder-image" href="/shared/DocumentComingSoon" data-pull-content="#body">
    <div class="document-download-text">
        <p>11: Temporary closure of part of the Northern line City branch - currently being updated</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!--  -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bcsu-factsheet12-timescales.pdf">
    <div class="document-download-text">
        <p>12: Timescales</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 188KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bcsu-factsheet13-transport-and-works-act-order-process.pdf">
    <div class="document-download-text">
        <p>13: Transport and Works Act Order process</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 196KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bcsu-factsheet14-funding-and-finance.pdf">
    <div class="document-download-text">
        <p>14: Funding and finance</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 192KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bcsu-factsheet15-public-safety-security-and-crime-prevention.pdf">
    <div class="document-download-text">
        <p>15: Public safety, security and crime prevention</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 188KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bcsu-factsheet16-management-of-excavated-material-and-waste.pdf">
    <div class="document-download-text">
        <p>16: Management of excavated material and waste</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 189KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bcsu-factsheet17-responsible-procurement.pdf">
    <div class="document-download-text">
        <p>17: Responsible procurement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 197KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="settlement-deed-procedure-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bank station capacity upgrade-Settlement deed procedure"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="settlement-deed-procedure-heading" class="accordion-heading">Settlement deed procedure</div>
            </div>
            <div id="settlement-deed-procedure-content" class="start-hidden" role="region" aria-labelledby="settlement-deed-procedure-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bscu-settlement-deed-procedure.pdf">
    <div class="document-download-text">
        <p>Settlement deed procedure</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 158KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact the Bank team</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:bankscu&#64;tfl.gov.uk">bankscu&#64;tfl.gov.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                <abbr title="Telephone number">Phone</abbr>: 0844 332 8967 (24 hour helpdesk)<br />
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            
        </div>
        
        
    </div>
</div>
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/travel-information/improvements-and-projects/bank-and-monument" class="plain-button">Bank and Monument</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Our plans should ease congestion in Bank and Monument stations by 2022";}
        
            
        


 