
    
  



@{ViewBag.Title = "Bus operator league tables";}
@{ViewBag.Keywords = "Bus operators,B,Performance,Buses,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/bus-operator-league-tables";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Bus operator league tables</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Bus operator league tables</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Our league tables will help bus operators measure their performance against other operators.<BR>
        
      </div>
    
    
      
        <p>Our league tables show how our operators have been performing against a number of&nbsp;measures. There's also a network average for further comparisons.<strong> </strong>They are distributed internally, as well as to&nbsp;operators.</p>
        <p>The reports give operators the data to measure performance against their own track record&nbsp;and that of other bus companies.</p>
        <p>Data comes from electronic systems that hold bus mileage by day and route and also from our <a href="/corporate/publications-and-reports/bus-route-and-borough-reports">quality service indicator (QSI) results</a>.</p>
    
      
           
      
<div>



<h2>High frequency - excess waiting time</h2>



        <p>Routes with five or more buses scheduled every hour are called 'high
        frequency' routes. The table below shows how long passengers have to
        wait for a bus above the average scheduled waiting time. This is based
        on how performance varies from minimum standards.</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/2019-20-q3-ewt-day.pdf">
    <div class="document-download-text">
        <p>High Frequency Day Routes: Excess Waiting Time - Q3 2019-20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 
</div>

</div>
 
<div>



<h2>High frequency - long gaps</h2>



        <p>This table shows the likelihood of waiting twice the scheduled interval
        between buses. This is based on how performance varies from minimum
        standards.</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/2019-20-q3-lg-day.pdf">
    <div class="document-download-text">
        <p>High Frequency Day Routes: Long Gaps occurring in service - Q3 2019-20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 
</div>

</div>
 
<div>



<h2>High frequency night buses - excess waiting time</h2>



        <p>The table below shows how long passengers have to wait for a bus above the average scheduled waiting time. This is based on how performance varies from minimum standards.&nbsp;</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/2019-20-q3-ewt-night.pdf">
    <div class="document-download-text">
        <p>High Frequency Night Routes: Excess Waiting Time - Q3 2019-20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 28KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 
</div>

</div>
 
<div>



<h2>Low frequency - on time</h2>



        <p>Routes with up to four buses an hour are called 'low frequency'. This
        table shows the likelihood of a bus arriving on time, based on how
        performance varies from minimum standards.</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/2019-20-q3-ot-day.pdf">
    <div class="document-download-text">
        <p>Low Frequency Day Routes: departing On Time - Q3 2019-20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 33KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 
</div>

</div>
 
<div>



<h2>Low frequency - early</h2>



        <p>This table shows the likelihood of a bus running early, based on how performance varies from minimum standards.</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/2019-20-q3-early-day.pdf">
    <div class="document-download-text">
        <p>Low Frequency Day Routes: departing Early - Q3 2019-20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 
</div>

</div>
 
<div>



<h2>Night buses - on time</h2>



        <p>This table shows the likelihood of a night bus arriving on time.</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/2019-20-q3-ot-night.pdf">
    <div class="document-download-text">
        <p>Low Frequency Night Routes: departing On Time - Q3 2019-20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 
</div>

</div>
 
<div>



<h2>Mileage before losses due to traffic delays</h2>



        <p>This table shows the amount of mileage operated against a schedule, before taking into account mileage lost due to traffic.</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/2019-20-q3-mileage-op-before-nd.pdf">
    <div class="document-download-text">
        <p>Mileage operated before Traffic and Other Non-deductible Losses - Q3 2019-20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 33KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 
</div>

</div>
 
<div>



<h2>Actual mileage operated</h2>



        <p>This table shows the amount of mileage operated against a schedule, taking into account all losses.</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/2019-20-q3-mileage-operated.pdf">
    <div class="document-download-text">
        <p>Mileage operated - Q3 2019-20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 33KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 
</div>

</div>
 
<div>



<h2>Mileage lost due to traffic delays</h2>



        <p>This table shows the amount of mileage lost due to traffic.</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/2019-20-q3-tr-ond-lost-mileage.pdf">
    <div class="document-download-text">
        <p>Traffic and Other Non-deductible Losses - Q3 2019-20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="vertical-button-container">



<a href="https://tfl.gov.uk/corporate/publications-and-reports/?Mode=Buses"  class="plain-button">Find all Buses publications and reports</a>

</div>
<div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/info-for/bus-operators/index" class="plain-button">Bus operators</a>
<a href="/corporate/publications-and-reports/buses-performance-data" class="plain-button">Buses performance data</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "League tables showing how bus operators compare against each other ";}
        
            
        


 