
    
  



@{ViewBag.Title = "Bus fleet data & audits";}
@{ViewBag.Keywords = "Bus operators,Bus passengers,B,Regular reports,Buses,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/bus-fleet-data-and-audits";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Bus fleet data & audits</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Bus fleet data & audits</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        An audit of the London bus contracted fleet is carried out once a year. The data provides the fleet size, respective percentage of the fleet and average age by operator for comparison with previous audits.
        
      </div>
    
    
      <ul>
	<li>The current fleet size of 9,142 buses represents a decrease of&nbsp;254 buses compared to the last fleet audit (31 March 2018) total of 9,396. This total includes:&nbsp;1000 new Routemasters,&nbsp;155 electric buses,&nbsp;10 fuel cell buses and 3,669 hybrid buses (including new Routemasters)</li>
	<li>Apart from 10 vintage Routemasters running on one heritage route in central London, the Capital's entire bus fleet is low-floor and wheelchair accessible</li>
</ul>
      
           
      
<div>



<h2>Read the full report</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fleet-audit-report-31-march-2019.pdf">
    <div class="document-download-text">
        <p>Bus fleet audit 31 March 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 161KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 
</div>

</div>
 
<div>



<h2>Operational vehicle data</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fleet-list-annual-audit-report-31-march-2019.pdf">
    <div class="document-download-text">
        <p>Fleet online operational vehicle data - 31 March 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.09MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.09 -->
 
</div>
<ul>
	<li>Transport for London (TfL) is committed to transparency in its operational information and as part of this policy is publishing the details of the contracted London Bus Fleet</li>
	<li>The data includes the make and model, basic attributes, age and the fuel and emission standards of the vehicle</li>
	<li>The data is used in summary form by TfL to document how modern and clean the fleet is and how we have adapted purchasing policy to harness the best and most appropriate emission reducing technologies for London</li>
	<li>This is a snapshot of the contracted bus fleet at the time of publication, based on information provided to us by contracted bus operators</li>
	<li>Data can be subject to change as we continually strive to improve quality and comprehensiveness, and enhance our internal systems</li>
	<li>Where a bus route is shown, this is the route the bus was contracted to operate on. As bus operators can (and do) move buses between routes to maintain an effective service, the information cannot be used to work out which buses are operating on a route at any particular date or time</li>
	<li>There are no plans to provide this data in other formats or more frequently than at the&nbsp;annual fleet audit review</li>
	<li>Where 'Unknown' is shown in the data set, the value has not been supplied to us or has not been validated</li>
</ul>
</div>
 
<div>



<h2>Historic reports</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bus-fleet-audit-31-march-2018.pdf">
    <div class="document-download-text">
        <p>Bus fleet audit 31 March 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 376KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fleet-audit-30-june-2017-final.pdf">
    <div class="document-download-text">
        <p>Bus fleet audit 30 June 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 301KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fleet-audit-31-march-2017-final.pdf">
    <div class="document-download-text">
        <p>Bus fleet audit 31 March 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 383KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bus-fleet-audit-130117.pdf">
    <div class="document-download-text">
        <p>Bus fleet audit 13 January 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 237KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fleet-audit-30-september-2016-final.pdf">
    <div class="document-download-text">
        <p>Bus fleet audit 30 September 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 241KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.24 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fleet-audit-30-june-2016-online-final.pdf">
    <div class="document-download-text">
        <p>Bus fleet audit - 30 June 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 231KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bus-fleet-audit-mar-2016.pdf">
    <div class="document-download-text">
        <p>Bus fleet audit - 31 March 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 228KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="vertical-button-container">



<a href="https://tfl.gov.uk/corporate/publications-and-reports/?Mode=Buses"  class="plain-button">Find all Buses publications and reports</a>

</div>

      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "An audit of the LBSL contracted fleet is carried out once a year. The  data provides the fleet size, respective percentage of the fleet and average age by operator.";}
        
            
        


 