
    
  



@{ViewBag.Title = "Bus network development papers";}
@{ViewBag.Keywords = "Bus operators,Bus passengers,B,Performance,Buses,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/bus-network-development-papers";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Bus network development papers</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Bus network development papers</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        How new developments in London might require changes to the bus network.
        
      </div>
    
    <div class="on-this-page">
      <p>These documents deal with specific locations. The strategic background for the work can be found in the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a> and in our <a href="/corporate/publications-and-reports/buses">Bus service planning guidelines</a>. The financial background can be found in&nbsp;<a href="/corporate/publications-and-reports/business-plan">TfL's Business Plan</a>.</p>

<p>Bus route ideas are indicative and subject to further development.&nbsp;Any definitive proposals can be found on our <a href="https://consultations.tfl.gov.uk/">consultations website</a>.</p>

<p>We regularly publish summaries of temporary bus route changes and <a href="/modes/buses/bus-changes">permanent bus route changes</a>. Statistics on the wider transport network are provided in the annual <a href="/corporate/publications-and-reports/travel-in-london-reports">Travel in London report</a>.</p>
      
           
      
<div>



<h2>London-wide</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/changes-to-suburban-bus-services-to-support-the-elizabeth-line.pdf">
    <div class="document-download-text">
        <p>Changes to suburban bus services to support the Elizabeth line</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.67MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.67 -->
 
</div>

</div>
 
<div>



<h2>Central</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/west-end-bus-services-review.pdf">
    <div class="document-download-text">
        <p>West End bus services review</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 747KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.73 -->
 
</div>

</div>
 
<div>



<h2>North east</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/review-of-south-tower-hamlets-restructuring.pdf">
    <div class="document-download-text">
        <p>Review of South Tower Hamlets Restructuring</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.79MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.79 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/review-of-bus-services-in-london-riverside-east.pdf">
    <div class="document-download-text">
        <p>Review of Bus Services in London Riverside East</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.80MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.80 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/responding-to-the-transformation-of-the-royal-docks.pdf">
    <div class="document-download-text">
        <p>Responding to the transformation of the Royal Docks</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.60MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.60 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bus-services-in-barking-riverside.pdf">
    <div class="document-download-text">
        <p>Bus services in Barking Riverside</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.38MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/review-of-bus-services-in-harold-hill.pdf">
    <div class="document-download-text">
        <p>Review of bus services in Harold Hill</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.90MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.90 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/review-bus-access-queens-and-king-george-hospitals.pdf">
    <div class="document-download-text">
        <p>Review of bus access to Queen's and King George Hospitals</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.69MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.69 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bus-services-in-south-newham.pdf">
    <div class="document-download-text">
        <p>Bus services in South Newham</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.41MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.41 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bus-services-in-south-tower-hamlets.pdf">
    <div class="document-download-text">
        <p>Bus services in south Tower Hamlets</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.50MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.50 -->
 
</div>

</div>
 
<div>



<h2>South east</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/southeast-riverside-area-review.pdf">
    <div class="document-download-text">
        <p>Review of bus services in the Southeast Riverside area</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.26MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.26 -->
 
</div>

</div>
 
<div>



<h2>South west</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sutton-network-study.pdf">
    <div class="document-download-text">
        <p>Sutton network study</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.58MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.58 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/future-bus-demand-in-the-vauxhall-nine-elms-battersea-opportunity-area.pdf">
    <div class="document-download-text">
        <p>Future bus demand in the Vauxhall-Nine Elms-Battersea opportunity area</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.97MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.97 -->
 
</div>

</div>
 
<div>



<h2>North west</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/colindale-bus-network.pdf">
    <div class="document-download-text">
        <p>Colindale bus network</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.10MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.10 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="vertical-button-container">



<a href="https://tfl.gov.uk/corporate/publications-and-reports/?Mode=Buses"  class="plain-button">Find all Buses publications and reports</a>

</div>

      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Information on how new developments in London might require changes to TfL's bus network";}
        
            
        


 