
    
  



@{ViewBag.Title = "Bus route & borough reports";}
@{ViewBag.Keywords = "Boroughs,Bus operators,Bus passengers,Public,B,Performance,Buses,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/bus-route-and-borough-reports";}
@{ViewBag.Language = "en";}
        
        
        

@{
    Response.Status = "301 Moved permanently";
    Response.AddHeader("Location", "http://www.tfl.gov.uk/forms/14144.aspx");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Bus route & borough reports</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Bus route & borough reports</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find performance tables below for all of London's bus routes, based on route number and the boroughs they operate in. Bus route information is based on up to two years data.
        
      </div>
    
    <div class="on-this-page">
      
        <p>Put a route number in the <a href="http://www.tfl.gov.uk/tfl/businessandpartners/buses/boroughreports/">Performance reports search box</a> to get individual route reports. You may find it useful to read the Common questions below first.</p>
         
        <p><strong>[Performance reports search box goes here.]</strong></p>
    
      
           
      

        <h2>Quality of service indicators (QSI)</h2>
         
        <p>Use the map or list below to download the most recent reports for London boroughs in PDF format. You will also be able to see which routes operate in that borough, and download their individual performance reports. Alternatively, you can download the QSI results.</p>
    
<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bus-qsi-current-quarter.pdf">
    <div class="document-download-text">
        <p>QSI results for all bus routes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 536KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<div>

         
        <p>Please read the Common Questions below before <a href="http://www.tfl.gov.uk/tfl/businessandpartners/buses/boroughreports/">downloading the reports</a>.</p>
         
        <p><strong>[Database goes here.]</strong></p>
         
    
</div>

<!-- 0.52 -->
 <div>


         
        <h2>Quality of Service Indicators (QSIs)</h2>
        <p>Bus QSIs show how reliable the bus service is and how much extra time, compared to that scheduled, passengers have to wait because of irregularity.</p>
        <p>QSIs are a valuable source of information. They identify poorly performing routes and allow improvements to be made where they're needed.</p>
        <h2>High and low frequency routes</h2>
        <p>A high frequency route has five or more buses an hour. It's a route where passengers tend not to look at the timetable before arriving at the stop.</p>
        <p>For this reason we are more interested in how reliable and evenly spaced the service is. Scheduled arrival times are less important. We aim to ensure buses run at evenly spaced intervals and do not 'bunch'.</p>
        <p>A low frequency bus route generally runs four or fewer buses an hour. A passenger using this service is more likely to use a timetable. This means it's more important that services run on schedule.</p>
        <p>A more detailed explanation of reliability statistics can be found with each of the reports.</p>
        <h2>How information is collected </h2>
        <p>iBus keeps track of where London's buses are, allowing controllers to regulate services and make them more reliable. For every trip, a record is kept of the time the bus arrived at and departed from each stop. The data is transferred daily from every bus to the central iBus system.</p>
        <p>For high and low frequency routes, QSI statistics are calculated from iBus data for a representative sample of scheduled timing points (QSI points) in both directions. Monitoring takes place all day, every day. Results show performance of routes operating between the hours of 05:00 and 23:59. Reports for services operating at night between the hours of 00:00 and 04:59 are reported separately.</p>
        <p>The data is compared against the timetable. We can then see how long a passenger actually waits, compared to the wait if the bus service ran exactly on time.</p>
        <p>We measure bus service reliability from a passenger point of view. This may mean - for example - that a bus running late may be treated as the next bus running early, because that is how passengers would see it.</p>
        <p>We monitor each bus route throughout the course of its journey, not just from where it started.</p>
        <h2>Understanding the reports</h2>
        <h3>For high frequency (non-timetabled) services, the statistics reported are:</h3>
         
        <div class="table-container"><table>
            <tbody>
                <tr>
                    <td>Average scheduled waiting time (SWT)&nbsp; <br />
                    </td>
                    <td>&nbsp;The average time passengers would wait if the service ran exactly as scheduled. </td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;Average excess waiting time (EWT) </td>
                    <td>
                    <p>&nbsp;This is the difference between SWT (above) and AWT (below). It shows how
                    long passengers wait because of irregular buses or buses not running at
                    all.This excess waiting time is a key indicator of good performance.</p>
                    <p>It
                    shows how much time passengers had to wait above the time we expected
                    them to wait.</p>
                    </td>
                </tr>
                <tr>
                    <td>Average actual wait (AWT) </td>
                    <td>&nbsp;<br />
                    The average time that passengers actually waited. </td>
                </tr>
                <tr>
                    <td>&nbsp;Average wait divided by scheduled wait (AWT:SWT ratio) </td>
                    <td>&nbsp;This indicates how much longer, on average, passengers are waiting than
                    intended. For example, 1.5 would mean passengers waited 50 percent
                    longer than intended.</td>
                </tr>
                <tr>
                    <td>&nbsp;Percentage chance of waiting less than 10 minutes, 10-20 minutes, 20-30 minutes and more than 30 minutes</td>
                    <td>&nbsp;This gives an indication of how individual waiting times vary. </td>
                </tr>
            </tbody>
        </table></div>
         
        <h3>For low frequency (timetabled) services, the statistics reported are:
        </h3>
         
        <div class="table-container"><table>
            <tbody>
                <tr>
                    <td>&nbsp;Percentage chance of a bus departing on time </td>
                    <td>&nbsp;The chance that a bus runs 1) at the advertised time or 2) between two minutes early and up to five minutes late.</td>
                </tr>
                <tr>
                    <td>&nbsp;Percentage chance of a bus not running </td>
                    <td>&nbsp;The chance that a bus does not run at all (see note on late running). </td>
                </tr>
                <tr>
                    <td>&nbsp;Percentage chance of a bus running early</td>
                    <td>&nbsp;The chance of a bus running more than 2.5 minutes before the advertised
                    time. This category may sometimes include late running buses, which
                    passengers would see as the next bus running early. </td>
                </tr>
                <tr>
                    <td>&nbsp;<br />
                    Percentage chance of a bus running late </td>
                    <td>&nbsp;The chance of a bus running between 5 and 15 minutes late. This category
                    may sometimes include early running buses, which passengers would see
                    as the preceding bus running late. Buses running more than 15 minutes
                    late are classed as non-arrivals.</td>
                </tr>
            </tbody>
        </table></div>
         
        <h3>Night bus services</h3>
        <p>Results for night bus services are shown separately. Most night bus services are monitored. All night buses serving the West End are covered. Night bus services are treated as low frequency for monitoring purposes.</p>
        <h2>Why buses 'bunch'</h2>
        <p>'Bunching' often happens as follows:</p>
        <p>Bus 1 is delayed by an unexpected incident. Just behind is bus 2 - which also gets delayed. Behind them, bus 3 runs without delay. After a while, buses running on time start to catch up with the delayed buses. The buses closest to the incident get delayed as they're picking up more and more passengers. This means their journey takes longer. At the same time, the buses running behind have fewer passengers to pick up. The iBus system allows service controllers to identify this happening and take action.</p>
        <h2>How the data is published</h2>
        <p>Reports are published quarterly to the London boroughs, Department for Transport and London Travelwatch. The data is also published on this website.</p>
        <h2>What the route graphs show </h2>
        <p>The route graphs show up to two years of data providing information on service 'reliability' and 'kilometres operated'. Kilometres operated data is based on four-week periods.</p>
        <h2>How to read the graphs</h2>
        <p>The data table below the graph shows:</p>
        <ul>
            <li>Top line - data for this year </li>
            <li>
            Middle line - data for last year </li>
            <li>
            Bottom line - a minimum standard </li>
        </ul>
        <p>
        The date range covers a year broken into four-weekly reporting periods. Period 1 starts on 1 April and period 13 ends on 31 March.</p>
        <h2>Why the graphs show different measures </h2>
        <p>There are different reliability measures for high and low frequency routes.</p>
        <h2>Key route performance indicators</h2>
        <p>Excess Waiting Time (EWT): this is the average time passengers wait over and above what would have been expected if the service was running exactly as scheduled.</p>
        <p>Departing On Time is the percentage of buses running between two minutes earlier and up to five minutes later than the scheduled departure.</p>
        <p>Kilometres operated performance information is available for all routes regardless of frequency. It is the amount of kilometres run in relation to a route's schedule. For example, a route that runs 98 miles out of a scheduled 100 miles has run 98 percent of its schedule.</p>
        <h2>Information missing for some routes</h2>
        <p>Information may not be available for certain routes. These include mobility buses, school and some night buses. Performance data is shown for current routes and operators only.</p>
        <h2>Minimum standard or benchmark</h2>
        <p>We measure the performance of each route against minimum standards. These vary between routes in order to reflect London's different operating environments.</p>
        <p>Factors taken into account include:</p>
        <ul>
            <li>The number of major centres </li>
            <li>
            Congested corridors </li>
            <li>
            Other traffic hotspots </li>
            <li>
            The length of the route </li>
        </ul>
        <p>
        We also take past performance into consideration when we advertise contracts for re-tender. If the performance lines are above the minimum standard line, then the route has achieved or exceeded its set target.</p>
         
    
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Performance tables for all London's bus routes and quality of bus service reports for each borough";}
        
            
        


 