
    
  



@{ViewBag.Title = "Bus crime statistics";}
@{ViewBag.Keywords = "Bus operators,Bus passengers,Public,B,Performance,Safety and security,Buses,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/bus-crime-statistics";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Bus crime statistics</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Bus crime statistics</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We publish bus-related crime data by borough, based on figures provided by the Metropolitan Police Service which polices the bus network.
        
      </div>
    
    <div class="on-this-page">
      
        <p>Bus-related crime data is extracted from the Metropolitan Police Service crime reporting system, using a query that searches for the word bus, bus stop etc. For this reason, it may include some crimes that did not occur on the network. Checks of the data have showed it to be over 90% accurate.</p>
        <p>The figures do not include crimes that have not been reported to the police or those that the police decide not to record. Crime figures reported here are based on monthly snapshot figures and may be subject to revision in future updates.</p>
        <p>Open the panels below for a table of crime statistics by borough.</p>
    
      
           
      <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="barking-and-dagenham-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bus crime statistics-Barking & Dagenham"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="barking-and-dagenham-heading" class="accordion-heading">Barking & Dagenham</div>
            </div>
            <div id="barking-and-dagenham-content" class="start-hidden" role="region" aria-labelledby="barking-and-dagenham-heading">
<div>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Crime Type</th>
			<th>June 2019</th>
			<th>Apr 19 -June 2019</th>
			<th>Apr 18 -June 2018</th>
			<th>Change</th>
		</tr>
		<tr>
			<th>Criminal Damage</th>
			<td>1</td>
			<td>4</td>
			<td>6</td>
			<td>-2</td>
		</tr>
		<tr>
			<th>Drugs</th>
			<td>0</td>
			<td>1</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Fraud/Forgery</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Other Notifiable Offences</th>
			<td>0</td>
			<td>0</td>
			<td>2</td>
			<td>-2</td>
		</tr>
		<tr>
			<th>Robbery</th>
			<td>9</td>
			<td>34</td>
			<td>4</td>
			<td>30</td>
		</tr>
		<tr>
			<th>Sexual Offences</th>
			<td>0</td>
			<td>4</td>
			<td>2</td>
			<td>2</td>
		</tr>
		<tr>
			<th>Theft and Handling</th>
			<td>12</td>
			<td>66</td>
			<td>21</td>
			<td>45</td>
		</tr>
		<tr>
			<th>Violence against the Person</th>
			<td>3</td>
			<td>23</td>
			<td>25</td>
			<td>-2</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>25</td>
			<td>132</td>
			<td>61</td>
			<td>71</td>
		</tr>
	</tbody>
</table></div>

<div>&nbsp;</div>
</div>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="barnet-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bus crime statistics-Barnet"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="barnet-heading" class="accordion-heading">Barnet</div>
            </div>
            <div id="barnet-content" class="start-hidden" role="region" aria-labelledby="barnet-heading">
<div>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Crime Type</th>
			<th>June 2019</th>
			<th>Apr 19 -June 2019</th>
			<th>Apr 18 -June 2018</th>
			<th>Change</th>
		</tr>
		<tr>
			<th>Criminal Damage</th>
			<td>2</td>
			<td>7</td>
			<td>7</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Drugs</th>
			<td>0</td>
			<td>0</td>
			<td>1</td>
			<td>-1</td>
		</tr>
		<tr>
			<th>Fraud/Forgery</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Other Notifiable Offences</th>
			<td>0</td>
			<td>4</td>
			<td>1</td>
			<td>3</td>
		</tr>
		<tr>
			<th>Robbery</th>
			<td>5</td>
			<td>13</td>
			<td>6</td>
			<td>7</td>
		</tr>
		<tr>
			<th>Sexual Offences</th>
			<td>1</td>
			<td>4</td>
			<td>1</td>
			<td>3</td>
		</tr>
		<tr>
			<th>Theft and Handling</th>
			<td>22</td>
			<td>61</td>
			<td>45</td>
			<td>16</td>
		</tr>
		<tr>
			<th>Violence against the Person</th>
			<td>15</td>
			<td>54</td>
			<td>62</td>
			<td>-8</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>45</td>
			<td>143</td>
			<td>123</td>
			<td>20</td>
		</tr>
	</tbody>
</table></div>

<div>&nbsp;</div>
</div>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="bexley-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bus crime statistics-Bexley"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="bexley-heading" class="accordion-heading">Bexley</div>
            </div>
            <div id="bexley-content" class="start-hidden" role="region" aria-labelledby="bexley-heading">
<div>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Crime Type</th>
			<th>June 2019</th>
			<th>Apr 19 -June 2019</th>
			<th>Apr 18 -June 2018</th>
			<th>Change</th>
		</tr>
		<tr>
			<th>Criminal Damage</th>
			<td>1</td>
			<td>2</td>
			<td>11</td>
			<td>-9</td>
		</tr>
		<tr>
			<th>Drugs</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Fraud/Forgery</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Other Notifiable Offences</th>
			<td>1</td>
			<td>1</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Robbery</th>
			<td>4</td>
			<td>5</td>
			<td>4</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Sexual Offences</th>
			<td>0</td>
			<td>4</td>
			<td>1</td>
			<td>3</td>
		</tr>
		<tr>
			<th>Theft and Handling</th>
			<td>2</td>
			<td>10</td>
			<td>9</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Violence against the Person</th>
			<td>25</td>
			<td>49</td>
			<td>32</td>
			<td>17</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>33</td>
			<td>71</td>
			<td>57</td>
			<td>14</td>
		</tr>
	</tbody>
</table></div>

<div>&nbsp;</div>
</div>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="brent-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bus crime statistics-Brent"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="brent-heading" class="accordion-heading">Brent</div>
            </div>
            <div id="brent-content" class="start-hidden" role="region" aria-labelledby="brent-heading">
<div>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Crime Type</th>
			<th>June 2019</th>
			<th>Apr 19 -June 2019</th>
			<th>Apr 18 -June 2018</th>
			<th>Change</th>
		</tr>
		<tr>
			<th>Criminal Damage</th>
			<td>2</td>
			<td>4</td>
			<td>5</td>
			<td>-1</td>
		</tr>
		<tr>
			<th>Drugs</th>
			<td>0</td>
			<td>0</td>
			<td>3</td>
			<td>-3</td>
		</tr>
		<tr>
			<th>Fraud/Forgery</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Other Notifiable Offences</th>
			<td>0</td>
			<td>2</td>
			<td>2</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Robbery</th>
			<td>2</td>
			<td>7</td>
			<td>9</td>
			<td>-2</td>
		</tr>
		<tr>
			<th>Sexual Offences</th>
			<td>3</td>
			<td>10</td>
			<td>9</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Theft and Handling</th>
			<td>34</td>
			<td>87</td>
			<td>49</td>
			<td>38</td>
		</tr>
		<tr>
			<th>Violence against the Person</th>
			<td>19</td>
			<td>50</td>
			<td>67</td>
			<td>-17</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>60</td>
			<td>160</td>
			<td>144</td>
			<td>16</td>
		</tr>
	</tbody>
</table></div>

<div>&nbsp;</div>
</div>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="bromley-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bus crime statistics-Bromley"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="bromley-heading" class="accordion-heading">Bromley</div>
            </div>
            <div id="bromley-content" class="start-hidden" role="region" aria-labelledby="bromley-heading">
<div>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Crime Type</th>
			<th>June 2019</th>
			<th>Apr 19 -June 2019</th>
			<th>Apr 18 -June 2018</th>
			<th>Change</th>
		</tr>
		<tr>
			<th>Criminal Damage</th>
			<td>0</td>
			<td>1</td>
			<td>6</td>
			<td>-5</td>
		</tr>
		<tr>
			<th>Drugs</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Fraud/Forgery</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Other Notifiable Offences</th>
			<td>2</td>
			<td>3</td>
			<td>2</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Robbery</th>
			<td>3</td>
			<td>6</td>
			<td>2</td>
			<td>4</td>
		</tr>
		<tr>
			<th>Sexual Offences</th>
			<td>1</td>
			<td>2</td>
			<td>4</td>
			<td>-2</td>
		</tr>
		<tr>
			<th>Theft and Handling</th>
			<td>9</td>
			<td>22</td>
			<td>15</td>
			<td>7</td>
		</tr>
		<tr>
			<th>Violence against the Person</th>
			<td>10</td>
			<td>35</td>
			<td>35</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>25</td>
			<td>69</td>
			<td>64</td>
			<td>5</td>
		</tr>
	</tbody>
</table></div>

<div>&nbsp;</div>
</div>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="camden-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bus crime statistics-Camden"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="camden-heading" class="accordion-heading">Camden</div>
            </div>
            <div id="camden-content" class="start-hidden" role="region" aria-labelledby="camden-heading">
<div>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Crime Type</th>
			<th>June 2019</th>
			<th>Apr 19 -June 2019</th>
			<th>Apr 18 -June 2018</th>
			<th>Change</th>
		</tr>
		<tr>
			<th>Criminal Damage</th>
			<td>1</td>
			<td>5</td>
			<td>2</td>
			<td>3</td>
		</tr>
		<tr>
			<th>Drugs</th>
			<td>2</td>
			<td>3</td>
			<td>1</td>
			<td>2</td>
		</tr>
		<tr>
			<th>Fraud/Forgery</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Other Notifiable Offences</th>
			<td>0</td>
			<td>0</td>
			<td>1</td>
			<td>-1</td>
		</tr>
		<tr>
			<th>Robbery</th>
			<td>4</td>
			<td>14</td>
			<td>14</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Sexual Offences</th>
			<td>1</td>
			<td>5</td>
			<td>6</td>
			<td>-1</td>
		</tr>
		<tr>
			<th>Theft and Handling</th>
			<td>34</td>
			<td>79</td>
			<td>88</td>
			<td>-9</td>
		</tr>
		<tr>
			<th>Violence against the Person</th>
			<td>20</td>
			<td>45</td>
			<td>43</td>
			<td>2</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>62</td>
			<td>151</td>
			<td>155</td>
			<td>-4</td>
		</tr>
	</tbody>
</table></div>

<div>&nbsp;</div>
</div>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="croydon-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bus crime statistics-Croydon"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="croydon-heading" class="accordion-heading">Croydon</div>
            </div>
            <div id="croydon-content" class="start-hidden" role="region" aria-labelledby="croydon-heading">
<div>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Crime Type</th>
			<th>June 2019</th>
			<th>Apr 19 -June 2019</th>
			<th>Apr 18 -June 2018</th>
			<th>Change</th>
		</tr>
		<tr>
			<th>Criminal Damage</th>
			<td>1</td>
			<td>2</td>
			<td>6</td>
			<td>-4</td>
		</tr>
		<tr>
			<th>Drugs</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Fraud/Forgery</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Other Notifiable Offences</th>
			<td>2</td>
			<td>4</td>
			<td>4</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Robbery</th>
			<td>7</td>
			<td>29</td>
			<td>12</td>
			<td>17</td>
		</tr>
		<tr>
			<th>Sexual Offences</th>
			<td>5</td>
			<td>7</td>
			<td>9</td>
			<td>-2</td>
		</tr>
		<tr>
			<th>Theft and Handling</th>
			<td>14</td>
			<td>39</td>
			<td>36</td>
			<td>3</td>
		</tr>
		<tr>
			<th>Violence against the Person</th>
			<td>27</td>
			<td>57</td>
			<td>66</td>
			<td>-9</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>56</td>
			<td>138</td>
			<td>133</td>
			<td>5</td>
		</tr>
	</tbody>
</table></div>

<div>&nbsp;</div>
</div>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="ealing-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bus crime statistics-Ealing"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="ealing-heading" class="accordion-heading">Ealing</div>
            </div>
            <div id="ealing-content" class="start-hidden" role="region" aria-labelledby="ealing-heading">
<div>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Crime Type</th>
			<th>June 2019</th>
			<th>Apr 19 -June 2019</th>
			<th>Apr 18 -June 2018</th>
			<th>Change</th>
		</tr>
		<tr>
			<th>Criminal Damage</th>
			<td>0</td>
			<td>2</td>
			<td>2</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Drugs</th>
			<td>0</td>
			<td>2</td>
			<td>2</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Fraud/Forgery</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Other Notifiable Offences</th>
			<td>2</td>
			<td>4</td>
			<td>1</td>
			<td>3</td>
		</tr>
		<tr>
			<th>Robbery</th>
			<td>9</td>
			<td>26</td>
			<td>4</td>
			<td>22</td>
		</tr>
		<tr>
			<th>Sexual Offences</th>
			<td>7</td>
			<td>12</td>
			<td>7</td>
			<td>5</td>
		</tr>
		<tr>
			<th>Theft and Handling</th>
			<td>28</td>
			<td>57</td>
			<td>42</td>
			<td>15</td>
		</tr>
		<tr>
			<th>Violence against the Person</th>
			<td>19</td>
			<td>52</td>
			<td>38</td>
			<td>14</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>65</td>
			<td>155</td>
			<td>96</td>
			<td>59</td>
		</tr>
	</tbody>
</table></div>

<div>&nbsp;</div>
</div>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="enfield-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bus crime statistics-Enfield"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="enfield-heading" class="accordion-heading">Enfield</div>
            </div>
            <div id="enfield-content" class="start-hidden" role="region" aria-labelledby="enfield-heading">
<div>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Crime Type</th>
			<th>June 2019</th>
			<th>Apr 19 -June 2019</th>
			<th>Apr 18 -June 2018</th>
			<th>Change</th>
		</tr>
		<tr>
			<th>Criminal Damage</th>
			<td>1</td>
			<td>2</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Drugs</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Fraud/Forgery</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Other Notifiable Offences</th>
			<td>0</td>
			<td>2</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Robbery</th>
			<td>14</td>
			<td>45</td>
			<td>20</td>
			<td>25</td>
		</tr>
		<tr>
			<th>Sexual Offences</th>
			<td>2</td>
			<td>6</td>
			<td>6</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Theft and Handling</th>
			<td>28</td>
			<td>72</td>
			<td>48</td>
			<td>24</td>
		</tr>
		<tr>
			<th>Violence against the Person</th>
			<td>25</td>
			<td>51</td>
			<td>34</td>
			<td>17</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>70</td>
			<td>178</td>
			<td>110</td>
			<td>68</td>
		</tr>
	</tbody>
</table></div>

<div>&nbsp;</div>
</div>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="greenwich-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bus crime statistics-Greenwich"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="greenwich-heading" class="accordion-heading">Greenwich</div>
            </div>
            <div id="greenwich-content" class="start-hidden" role="region" aria-labelledby="greenwich-heading">
<div>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Crime Type</th>
			<th>June 2019</th>
			<th>Apr 19 -June 2019</th>
			<th>Apr 18 -June 2018</th>
			<th>Change</th>
		</tr>
		<tr>
			<th>Criminal Damage</th>
			<td>0</td>
			<td>2</td>
			<td>11</td>
			<td>-9</td>
		</tr>
		<tr>
			<th>Drugs</th>
			<td>0</td>
			<td>0</td>
			<td>1</td>
			<td>-1</td>
		</tr>
		<tr>
			<th>Fraud/Forgery</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Other Notifiable Offences</th>
			<td>0</td>
			<td>2</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Robbery</th>
			<td>4</td>
			<td>7</td>
			<td>10</td>
			<td>-3</td>
		</tr>
		<tr>
			<th>Sexual Offences</th>
			<td>5</td>
			<td>9</td>
			<td>10</td>
			<td>-1</td>
		</tr>
		<tr>
			<th>Theft and Handling</th>
			<td>11</td>
			<td>53</td>
			<td>35</td>
			<td>18</td>
		</tr>
		<tr>
			<th>Violence against the Person</th>
			<td>16</td>
			<td>44</td>
			<td>52</td>
			<td>-8</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>36</td>
			<td>117</td>
			<td>120</td>
			<td>-3</td>
		</tr>
	</tbody>
</table></div>

<div>&nbsp;</div>
</div>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="hackney-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bus crime statistics-Hackney"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="hackney-heading" class="accordion-heading">Hackney</div>
            </div>
            <div id="hackney-content" class="start-hidden" role="region" aria-labelledby="hackney-heading">
<div>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Crime Type</th>
			<th>June 2019</th>
			<th>Apr 19 -June 2019</th>
			<th>Apr 18 -June 2018</th>
			<th>Change</th>
		</tr>
		<tr>
			<th>Criminal Damage</th>
			<td>0</td>
			<td>2</td>
			<td>5</td>
			<td>-3</td>
		</tr>
		<tr>
			<th>Drugs</th>
			<td>0</td>
			<td>0</td>
			<td>1</td>
			<td>-1</td>
		</tr>
		<tr>
			<th>Fraud/Forgery</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Other Notifiable Offences</th>
			<td>1</td>
			<td>2</td>
			<td>4</td>
			<td>-2</td>
		</tr>
		<tr>
			<th>Robbery</th>
			<td>12</td>
			<td>23</td>
			<td>9</td>
			<td>14</td>
		</tr>
		<tr>
			<th>Sexual Offences</th>
			<td>3</td>
			<td>8</td>
			<td>7</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Theft and Handling</th>
			<td>60</td>
			<td>154</td>
			<td>89</td>
			<td>65</td>
		</tr>
		<tr>
			<th>Violence against the Person</th>
			<td>13</td>
			<td>64</td>
			<td>76</td>
			<td>-12</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>89</td>
			<td>253</td>
			<td>191</td>
			<td>62</td>
		</tr>
	</tbody>
</table></div>

<div>&nbsp;</div>
</div>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="hammersmith-and-fulham-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bus crime statistics-Hammersmith & Fulham"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="hammersmith-and-fulham-heading" class="accordion-heading">Hammersmith & Fulham</div>
            </div>
            <div id="hammersmith-and-fulham-content" class="start-hidden" role="region" aria-labelledby="hammersmith-and-fulham-heading">
<div>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Crime Type</th>
			<th>June 2019</th>
			<th>Apr 19 -June 2019</th>
			<th>Apr 18 -June 2018</th>
			<th>Change</th>
		</tr>
		<tr>
			<th>Criminal Damage</th>
			<td>1</td>
			<td>2</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Drugs</th>
			<td>0</td>
			<td>0</td>
			<td>1</td>
			<td>-1</td>
		</tr>
		<tr>
			<th>Fraud/Forgery</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Other Notifiable Offences</th>
			<td>0</td>
			<td>0</td>
			<td>1</td>
			<td>-1</td>
		</tr>
		<tr>
			<th>Robbery</th>
			<td>2</td>
			<td>8</td>
			<td>1</td>
			<td>7</td>
		</tr>
		<tr>
			<th>Sexual Offences</th>
			<td>1</td>
			<td>1</td>
			<td>3</td>
			<td>-2</td>
		</tr>
		<tr>
			<th>Theft and Handling</th>
			<td>13</td>
			<td>43</td>
			<td>37</td>
			<td>6</td>
		</tr>
		<tr>
			<th>Violence against the Person</th>
			<td>12</td>
			<td>40</td>
			<td>33</td>
			<td>7</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>29</td>
			<td>94</td>
			<td>77</td>
			<td>17</td>
		</tr>
	</tbody>
</table></div>

<div>&nbsp;</div>
</div>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="haringey-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bus crime statistics-Haringey"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="haringey-heading" class="accordion-heading">Haringey</div>
            </div>
            <div id="haringey-content" class="start-hidden" role="region" aria-labelledby="haringey-heading">
<div>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Crime Type</th>
			<th>June 2019</th>
			<th>Apr 19 -June 2019</th>
			<th>Apr 18 -June 2018</th>
			<th>Change</th>
		</tr>
		<tr>
			<th>Criminal Damage</th>
			<td>6</td>
			<td>7</td>
			<td>4</td>
			<td>3</td>
		</tr>
		<tr>
			<th>Drugs</th>
			<td>0</td>
			<td>1</td>
			<td>2</td>
			<td>-1</td>
		</tr>
		<tr>
			<th>Fraud/Forgery</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Other Notifiable Offences</th>
			<td>0</td>
			<td>1</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Robbery</th>
			<td>11</td>
			<td>42</td>
			<td>18</td>
			<td>24</td>
		</tr>
		<tr>
			<th>Sexual Offences</th>
			<td>6</td>
			<td>8</td>
			<td>8</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Theft and Handling</th>
			<td>71</td>
			<td>184</td>
			<td>85</td>
			<td>99</td>
		</tr>
		<tr>
			<th>Violence against the Person</th>
			<td>22</td>
			<td>60</td>
			<td>63</td>
			<td>-3</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>116</td>
			<td>303</td>
			<td>181</td>
			<td>122</td>
		</tr>
	</tbody>
</table></div>

<div>&nbsp;</div>
</div>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="harrow-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bus crime statistics-Harrow"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="harrow-heading" class="accordion-heading">Harrow</div>
            </div>
            <div id="harrow-content" class="start-hidden" role="region" aria-labelledby="harrow-heading">
<div>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Crime Type</th>
			<th>June 2019</th>
			<th>Apr 19 -June 2019</th>
			<th>Apr 18 -June 2018</th>
			<th>Change</th>
		</tr>
		<tr>
			<th>Criminal Damage</th>
			<td>0</td>
			<td>1</td>
			<td>3</td>
			<td>-2</td>
		</tr>
		<tr>
			<th>Drugs</th>
			<td>0</td>
			<td>0</td>
			<td>1</td>
			<td>-1</td>
		</tr>
		<tr>
			<th>Fraud/Forgery</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Other Notifiable Offences</th>
			<td>0</td>
			<td>0</td>
			<td>1</td>
			<td>-1</td>
		</tr>
		<tr>
			<th>Robbery</th>
			<td>2</td>
			<td>8</td>
			<td>4</td>
			<td>4</td>
		</tr>
		<tr>
			<th>Sexual Offences</th>
			<td>2</td>
			<td>5</td>
			<td>9</td>
			<td>-4</td>
		</tr>
		<tr>
			<th>Theft and Handling</th>
			<td>18</td>
			<td>37</td>
			<td>22</td>
			<td>15</td>
		</tr>
		<tr>
			<th>Violence against the Person</th>
			<td>7</td>
			<td>24</td>
			<td>29</td>
			<td>-5</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>29</td>
			<td>75</td>
			<td>69</td>
			<td>6</td>
		</tr>
	</tbody>
</table></div>

<div>&nbsp;</div>
</div>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="havering-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bus crime statistics-Havering"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="havering-heading" class="accordion-heading">Havering</div>
            </div>
            <div id="havering-content" class="start-hidden" role="region" aria-labelledby="havering-heading">
<div>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Crime Type</th>
			<th>June 2019</th>
			<th>Apr 19 -June 2019</th>
			<th>Apr 18 -June 2018</th>
			<th>Change</th>
		</tr>
		<tr>
			<th>Criminal Damage</th>
			<td>0</td>
			<td>2</td>
			<td>7</td>
			<td>-5</td>
		</tr>
		<tr>
			<th>Drugs</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Fraud/Forgery</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Other Notifiable Offences</th>
			<td>2</td>
			<td>4</td>
			<td>3</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Robbery</th>
			<td>1</td>
			<td>8</td>
			<td>3</td>
			<td>5</td>
		</tr>
		<tr>
			<th>Sexual Offences</th>
			<td>0</td>
			<td>2</td>
			<td>0</td>
			<td>2</td>
		</tr>
		<tr>
			<th>Theft and Handling</th>
			<td>4</td>
			<td>19</td>
			<td>14</td>
			<td>5</td>
		</tr>
		<tr>
			<th>Violence against the Person</th>
			<td>2</td>
			<td>19</td>
			<td>26</td>
			<td>-7</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>9</td>
			<td>54</td>
			<td>53</td>
			<td>1</td>
		</tr>
	</tbody>
</table></div>

<div>&nbsp;</div>
</div>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="hillingdon-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bus crime statistics-Hillingdon"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="hillingdon-heading" class="accordion-heading">Hillingdon</div>
            </div>
            <div id="hillingdon-content" class="start-hidden" role="region" aria-labelledby="hillingdon-heading">
<div>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Crime Type</th>
			<th>June 2019</th>
			<th>Apr 19 -June 2019</th>
			<th>Apr 18 -June 2018</th>
			<th>Change</th>
		</tr>
		<tr>
			<th>Criminal Damage</th>
			<td>1</td>
			<td>2</td>
			<td>12</td>
			<td>-10</td>
		</tr>
		<tr>
			<th>Drugs</th>
			<td>2</td>
			<td>6</td>
			<td>4</td>
			<td>2</td>
		</tr>
		<tr>
			<th>Fraud/Forgery</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Other Notifiable Offences</th>
			<td>2</td>
			<td>2</td>
			<td>4</td>
			<td>-2</td>
		</tr>
		<tr>
			<th>Robbery</th>
			<td>6</td>
			<td>11</td>
			<td>4</td>
			<td>7</td>
		</tr>
		<tr>
			<th>Sexual Offences</th>
			<td>5</td>
			<td>8</td>
			<td>2</td>
			<td>6</td>
		</tr>
		<tr>
			<th>Theft and Handling</th>
			<td>10</td>
			<td>21</td>
			<td>36</td>
			<td>-15</td>
		</tr>
		<tr>
			<th>Violence against the Person</th>
			<td>10</td>
			<td>43</td>
			<td>32</td>
			<td>11</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>36</td>
			<td>93</td>
			<td>94</td>
			<td>-1</td>
		</tr>
	</tbody>
</table></div>

<div>&nbsp;</div>
</div>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="hounslow-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bus crime statistics-Hounslow"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="hounslow-heading" class="accordion-heading">Hounslow</div>
            </div>
            <div id="hounslow-content" class="start-hidden" role="region" aria-labelledby="hounslow-heading">
<div>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Crime Type</th>
			<th>June 2019</th>
			<th>Apr 19 -June 2019</th>
			<th>Apr 18 -June 2018</th>
			<th>Change</th>
		</tr>
		<tr>
			<th>Criminal Damage</th>
			<td>0</td>
			<td>1</td>
			<td>3</td>
			<td>-2</td>
		</tr>
		<tr>
			<th>Drugs</th>
			<td>0</td>
			<td>2</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Fraud/Forgery</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Other Notifiable Offences</th>
			<td>0</td>
			<td>0</td>
			<td>1</td>
			<td>-1</td>
		</tr>
		<tr>
			<th>Robbery</th>
			<td>2</td>
			<td>5</td>
			<td>3</td>
			<td>2</td>
		</tr>
		<tr>
			<th>Sexual Offences</th>
			<td>2</td>
			<td>3</td>
			<td>8</td>
			<td>-5</td>
		</tr>
		<tr>
			<th>Theft and Handling</th>
			<td>12</td>
			<td>33</td>
			<td>24</td>
			<td>9</td>
		</tr>
		<tr>
			<th>Violence against the Person</th>
			<td>22</td>
			<td>49</td>
			<td>40</td>
			<td>9</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>38</td>
			<td>93</td>
			<td>80</td>
			<td>13</td>
		</tr>
	</tbody>
</table></div>

<div>&nbsp;</div>
</div>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="islington-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bus crime statistics-Islington"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="islington-heading" class="accordion-heading">Islington</div>
            </div>
            <div id="islington-content" class="start-hidden" role="region" aria-labelledby="islington-heading">
<div>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Crime Type</th>
			<th>June 2019</th>
			<th>Apr 19 -June 2019</th>
			<th>Apr 18 -June 2018</th>
			<th>Change</th>
		</tr>
		<tr>
			<th>Criminal Damage</th>
			<td>1</td>
			<td>6</td>
			<td>0</td>
			<td>6</td>
		</tr>
		<tr>
			<th>Drugs</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Fraud/Forgery</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Other Notifiable Offences</th>
			<td>2</td>
			<td>2</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Robbery</th>
			<td>6</td>
			<td>13</td>
			<td>9</td>
			<td>4</td>
		</tr>
		<tr>
			<th>Sexual Offences</th>
			<td>2</td>
			<td>7</td>
			<td>4</td>
			<td>3</td>
		</tr>
		<tr>
			<th>Theft and Handling</th>
			<td>37</td>
			<td>97</td>
			<td>80</td>
			<td>17</td>
		</tr>
		<tr>
			<th>Violence against the Person</th>
			<td>14</td>
			<td>42</td>
			<td>44</td>
			<td>-2</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>62</td>
			<td>167</td>
			<td>138</td>
			<td>29</td>
		</tr>
	</tbody>
</table></div>

<div>&nbsp;</div>
</div>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="kensington-and-chelsea-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bus crime statistics-Kensington & Chelsea"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="kensington-and-chelsea-heading" class="accordion-heading">Kensington & Chelsea</div>
            </div>
            <div id="kensington-and-chelsea-content" class="start-hidden" role="region" aria-labelledby="kensington-and-chelsea-heading">
<div>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Crime Type</th>
			<th>June 2019</th>
			<th>Apr 19 -June 2019</th>
			<th>Apr 18 -June 2018</th>
			<th>Change</th>
		</tr>
		<tr>
			<th>Criminal Damage</th>
			<td>1</td>
			<td>3</td>
			<td>0</td>
			<td>3</td>
		</tr>
		<tr>
			<th>Drugs</th>
			<td>0</td>
			<td>1</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Fraud/Forgery</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Other Notifiable Offences</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Robbery</th>
			<td>0</td>
			<td>5</td>
			<td>4</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Sexual Offences</th>
			<td>2</td>
			<td>3</td>
			<td>2</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Theft and Handling</th>
			<td>13</td>
			<td>29</td>
			<td>23</td>
			<td>6</td>
		</tr>
		<tr>
			<th>Violence against the Person</th>
			<td>10</td>
			<td>28</td>
			<td>20</td>
			<td>8</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>26</td>
			<td>69</td>
			<td>49</td>
			<td>20</td>
		</tr>
	</tbody>
</table></div>

<div>&nbsp;</div>
</div>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="kingston-upon-thames-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bus crime statistics-Kingston upon Thames"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="kingston-upon-thames-heading" class="accordion-heading">Kingston upon Thames</div>
            </div>
            <div id="kingston-upon-thames-content" class="start-hidden" role="region" aria-labelledby="kingston-upon-thames-heading">
<div>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Crime Type</th>
			<th>June 2019</th>
			<th>Apr 19 -June 2019</th>
			<th>Apr 18 -June 2018</th>
			<th>Change</th>
		</tr>
		<tr>
			<th>Criminal Damage</th>
			<td>2</td>
			<td>2</td>
			<td>4</td>
			<td>-2</td>
		</tr>
		<tr>
			<th>Drugs</th>
			<td>1</td>
			<td>3</td>
			<td>1</td>
			<td>2</td>
		</tr>
		<tr>
			<th>Fraud/Forgery</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Other Notifiable Offences</th>
			<td>0</td>
			<td>1</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Robbery</th>
			<td>0</td>
			<td>3</td>
			<td>3</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Sexual Offences</th>
			<td>1</td>
			<td>3</td>
			<td>8</td>
			<td>-5</td>
		</tr>
		<tr>
			<th>Theft and Handling</th>
			<td>9</td>
			<td>16</td>
			<td>22</td>
			<td>-6</td>
		</tr>
		<tr>
			<th>Violence against the Person</th>
			<td>6</td>
			<td>38</td>
			<td>36</td>
			<td>2</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>19</td>
			<td>66</td>
			<td>74</td>
			<td>-8</td>
		</tr>
	</tbody>
</table></div>

<div>&nbsp;</div>
</div>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="lambeth-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bus crime statistics-Lambeth"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="lambeth-heading" class="accordion-heading">Lambeth</div>
            </div>
            <div id="lambeth-content" class="start-hidden" role="region" aria-labelledby="lambeth-heading">
<div>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Crime Type</th>
			<th>June 2019</th>
			<th>Apr 19 -June 2019</th>
			<th>Apr 18 -June 2018</th>
			<th>Change</th>
		</tr>
		<tr>
			<th>Criminal Damage</th>
			<td>3</td>
			<td>5</td>
			<td>11</td>
			<td>-6</td>
		</tr>
		<tr>
			<th>Drugs</th>
			<td>1</td>
			<td>2</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Fraud/Forgery</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Other Notifiable Offences</th>
			<td>1</td>
			<td>3</td>
			<td>3</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Robbery</th>
			<td>7</td>
			<td>17</td>
			<td>14</td>
			<td>3</td>
		</tr>
		<tr>
			<th>Sexual Offences</th>
			<td>4</td>
			<td>9</td>
			<td>11</td>
			<td>-2</td>
		</tr>
		<tr>
			<th>Theft and Handling</th>
			<td>39</td>
			<td>123</td>
			<td>100</td>
			<td>23</td>
		</tr>
		<tr>
			<th>Violence against the Person</th>
			<td>36</td>
			<td>101</td>
			<td>78</td>
			<td>23</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>91</td>
			<td>260</td>
			<td>218</td>
			<td>42</td>
		</tr>
	</tbody>
</table></div>

<div>&nbsp;</div>
</div>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="lewisham-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bus crime statistics-Lewisham"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="lewisham-heading" class="accordion-heading">Lewisham</div>
            </div>
            <div id="lewisham-content" class="start-hidden" role="region" aria-labelledby="lewisham-heading">
<div>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Crime Type</th>
			<th>June 2019</th>
			<th>Apr 19 -June 2019</th>
			<th>Apr 18 -June 2018</th>
			<th>Change</th>
		</tr>
		<tr>
			<th>Criminal Damage</th>
			<td>4</td>
			<td>6</td>
			<td>1</td>
			<td>5</td>
		</tr>
		<tr>
			<th>Drugs</th>
			<td>0</td>
			<td>2</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Fraud/Forgery</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Other Notifiable Offences</th>
			<td>1</td>
			<td>3</td>
			<td>3</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Robbery</th>
			<td>8</td>
			<td>15</td>
			<td>11</td>
			<td>4</td>
		</tr>
		<tr>
			<th>Sexual Offences</th>
			<td>0</td>
			<td>5</td>
			<td>9</td>
			<td>-4</td>
		</tr>
		<tr>
			<th>Theft and Handling</th>
			<td>22</td>
			<td>66</td>
			<td>44</td>
			<td>22</td>
		</tr>
		<tr>
			<th>Violence against the Person</th>
			<td>16</td>
			<td>62</td>
			<td>48</td>
			<td>14</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>51</td>
			<td>159</td>
			<td>117</td>
			<td>42</td>
		</tr>
	</tbody>
</table></div>

<div>&nbsp;</div>
</div>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="merton-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bus crime statistics-Merton"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="merton-heading" class="accordion-heading">Merton</div>
            </div>
            <div id="merton-content" class="start-hidden" role="region" aria-labelledby="merton-heading">
<div>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Crime Type</th>
			<th>June 2019</th>
			<th>Apr 19 -June 2019</th>
			<th>Apr 18 -June 2018</th>
			<th>Change</th>
		</tr>
		<tr>
			<th>Criminal Damage</th>
			<td>0</td>
			<td>1</td>
			<td>2</td>
			<td>-1</td>
		</tr>
		<tr>
			<th>Drugs</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Fraud/Forgery</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Other Notifiable Offences</th>
			<td>1</td>
			<td>2</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Robbery</th>
			<td>0</td>
			<td>4</td>
			<td>2</td>
			<td>2</td>
		</tr>
		<tr>
			<th>Sexual Offences</th>
			<td>1</td>
			<td>3</td>
			<td>5</td>
			<td>-2</td>
		</tr>
		<tr>
			<th>Theft and Handling</th>
			<td>7</td>
			<td>20</td>
			<td>18</td>
			<td>2</td>
		</tr>
		<tr>
			<th>Violence against the Person</th>
			<td>11</td>
			<td>23</td>
			<td>25</td>
			<td>-2</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>20</td>
			<td>53</td>
			<td>53</td>
			<td>0</td>
		</tr>
	</tbody>
</table></div>

<div>&nbsp;</div>
</div>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="newham-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bus crime statistics-Newham"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="newham-heading" class="accordion-heading">Newham</div>
            </div>
            <div id="newham-content" class="start-hidden" role="region" aria-labelledby="newham-heading">
<div>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Crime Type</th>
			<th>June 2019</th>
			<th>Apr 19 -June 2019</th>
			<th>Apr 18 -June 2018</th>
			<th>Change</th>
		</tr>
		<tr>
			<th>Criminal Damage</th>
			<td>0</td>
			<td>4</td>
			<td>12</td>
			<td>-8</td>
		</tr>
		<tr>
			<th>Drugs</th>
			<td>6</td>
			<td>8</td>
			<td>4</td>
			<td>4</td>
		</tr>
		<tr>
			<th>Fraud/Forgery</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Other Notifiable Offences</th>
			<td>2</td>
			<td>4</td>
			<td>2</td>
			<td>2</td>
		</tr>
		<tr>
			<th>Robbery</th>
			<td>10</td>
			<td>27</td>
			<td>14</td>
			<td>13</td>
		</tr>
		<tr>
			<th>Sexual Offences</th>
			<td>2</td>
			<td>7</td>
			<td>6</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Theft and Handling</th>
			<td>47</td>
			<td>133</td>
			<td>96</td>
			<td>37</td>
		</tr>
		<tr>
			<th>Violence against the Person</th>
			<td>22</td>
			<td>60</td>
			<td>62</td>
			<td>-2</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>89</td>
			<td>243</td>
			<td>196</td>
			<td>47</td>
		</tr>
	</tbody>
</table></div>

<div>&nbsp;</div>
</div>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="redbridge-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bus crime statistics-Redbridge"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="redbridge-heading" class="accordion-heading">Redbridge</div>
            </div>
            <div id="redbridge-content" class="start-hidden" role="region" aria-labelledby="redbridge-heading">
<div>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Crime Type</th>
			<th>June 2019</th>
			<th>Apr 19 -June 2019</th>
			<th>Apr 18 -June 2018</th>
			<th>Change</th>
		</tr>
		<tr>
			<th>Criminal Damage</th>
			<td>1</td>
			<td>4</td>
			<td>3</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Drugs</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Fraud/Forgery</th>
			<td>0</td>
			<td>1</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Other Notifiable Offences</th>
			<td>0</td>
			<td>1</td>
			<td>3</td>
			<td>-2</td>
		</tr>
		<tr>
			<th>Robbery</th>
			<td>2</td>
			<td>13</td>
			<td>5</td>
			<td>8</td>
		</tr>
		<tr>
			<th>Sexual Offences</th>
			<td>2</td>
			<td>7</td>
			<td>4</td>
			<td>3</td>
		</tr>
		<tr>
			<th>Theft and Handling</th>
			<td>12</td>
			<td>49</td>
			<td>30</td>
			<td>19</td>
		</tr>
		<tr>
			<th>Violence against the Person</th>
			<td>15</td>
			<td>31</td>
			<td>18</td>
			<td>13</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>32</td>
			<td>106</td>
			<td>63</td>
			<td>43</td>
		</tr>
	</tbody>
</table></div>

<div>&nbsp;</div>
</div>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="richmond-upon-thames-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bus crime statistics-Richmond upon Thames"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="richmond-upon-thames-heading" class="accordion-heading">Richmond upon Thames</div>
            </div>
            <div id="richmond-upon-thames-content" class="start-hidden" role="region" aria-labelledby="richmond-upon-thames-heading">
<div>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Crime Type</th>
			<th>June 2019</th>
			<th>Apr 19 -June 2019</th>
			<th>Apr 18 -June 2018</th>
			<th>Change</th>
		</tr>
		<tr>
			<th>Criminal Damage</th>
			<td>1</td>
			<td>3</td>
			<td>7</td>
			<td>-4</td>
		</tr>
		<tr>
			<th>Drugs</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Fraud/Forgery</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Other Notifiable Offences</th>
			<td>0</td>
			<td>1</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Robbery</th>
			<td>1</td>
			<td>3</td>
			<td>2</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Sexual Offences</th>
			<td>1</td>
			<td>2</td>
			<td>2</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Theft and Handling</th>
			<td>6</td>
			<td>13</td>
			<td>12</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Violence against the Person</th>
			<td>7</td>
			<td>18</td>
			<td>20</td>
			<td>-2</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>16</td>
			<td>40</td>
			<td>43</td>
			<td>-3</td>
		</tr>
	</tbody>
</table></div>

<div>&nbsp;</div>
</div>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="southwark-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bus crime statistics-Southwark"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="southwark-heading" class="accordion-heading">Southwark</div>
            </div>
            <div id="southwark-content" class="start-hidden" role="region" aria-labelledby="southwark-heading">
<div>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Crime Type</th>
			<th>June 2019</th>
			<th>Apr 19 -June 2019</th>
			<th>Apr 18 -June 2018</th>
			<th>Change</th>
		</tr>
		<tr>
			<th>Criminal Damage</th>
			<td>2</td>
			<td>9</td>
			<td>8</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Drugs</th>
			<td>0</td>
			<td>2</td>
			<td>2</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Fraud/Forgery</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Other Notifiable Offences</th>
			<td>0</td>
			<td>3</td>
			<td>2</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Robbery</th>
			<td>16</td>
			<td>36</td>
			<td>16</td>
			<td>20</td>
		</tr>
		<tr>
			<th>Sexual Offences</th>
			<td>6</td>
			<td>7</td>
			<td>12</td>
			<td>-5</td>
		</tr>
		<tr>
			<th>Theft and Handling</th>
			<td>44</td>
			<td>114</td>
			<td>80</td>
			<td>34</td>
		</tr>
		<tr>
			<th>Violence against the Person</th>
			<td>31</td>
			<td>72</td>
			<td>77</td>
			<td>-5</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>99</td>
			<td>243</td>
			<td>197</td>
			<td>46</td>
		</tr>
	</tbody>
</table></div>

<div>&nbsp;</div>
</div>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="sutton-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bus crime statistics-Sutton"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="sutton-heading" class="accordion-heading">Sutton</div>
            </div>
            <div id="sutton-content" class="start-hidden" role="region" aria-labelledby="sutton-heading">
<div>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Crime Type</th>
			<th>June 2019</th>
			<th>Apr 19 -June 2019</th>
			<th>Apr 18 -June 2018</th>
			<th>Change</th>
		</tr>
		<tr>
			<th>Criminal Damage</th>
			<td>1</td>
			<td>2</td>
			<td>6</td>
			<td>-4</td>
		</tr>
		<tr>
			<th>Drugs</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Fraud/Forgery</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Other Notifiable Offences</th>
			<td>0</td>
			<td>1</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Robbery</th>
			<td>1</td>
			<td>2</td>
			<td>5</td>
			<td>-3</td>
		</tr>
		<tr>
			<th>Sexual Offences</th>
			<td>4</td>
			<td>5</td>
			<td>2</td>
			<td>3</td>
		</tr>
		<tr>
			<th>Theft and Handling</th>
			<td>3</td>
			<td>11</td>
			<td>9</td>
			<td>2</td>
		</tr>
		<tr>
			<th>Violence against the Person</th>
			<td>4</td>
			<td>19</td>
			<td>22</td>
			<td>-3</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>13</td>
			<td>40</td>
			<td>44</td>
			<td>-4</td>
		</tr>
	</tbody>
</table></div>

<div>&nbsp;</div>
</div>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="tower-hamlets-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bus crime statistics-Tower Hamlets"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="tower-hamlets-heading" class="accordion-heading">Tower Hamlets</div>
            </div>
            <div id="tower-hamlets-content" class="start-hidden" role="region" aria-labelledby="tower-hamlets-heading">
<div>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Crime Type</th>
			<th>June 2019</th>
			<th>Apr 19 -June 2019</th>
			<th>Apr 18 -June 2018</th>
			<th>Change</th>
		</tr>
		<tr>
			<th>Criminal Damage</th>
			<td>2</td>
			<td>4</td>
			<td>5</td>
			<td>-1</td>
		</tr>
		<tr>
			<th>Drugs</th>
			<td>0</td>
			<td>2</td>
			<td>0</td>
			<td>2</td>
		</tr>
		<tr>
			<th>Fraud/Forgery</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Other Notifiable Offences</th>
			<td>0</td>
			<td>2</td>
			<td>3</td>
			<td>-1</td>
		</tr>
		<tr>
			<th>Robbery</th>
			<td>1</td>
			<td>5</td>
			<td>9</td>
			<td>-4</td>
		</tr>
		<tr>
			<th>Sexual Offences</th>
			<td>3</td>
			<td>5</td>
			<td>4</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Theft and Handling</th>
			<td>20</td>
			<td>55</td>
			<td>62</td>
			<td>-7</td>
		</tr>
		<tr>
			<th>Violence against the Person</th>
			<td>15</td>
			<td>38</td>
			<td>35</td>
			<td>3</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>41</td>
			<td>111</td>
			<td>118</td>
			<td>-7</td>
		</tr>
	</tbody>
</table></div>

<div>&nbsp;</div>
</div>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="waltham-forest-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bus crime statistics-Waltham Forest"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="waltham-forest-heading" class="accordion-heading">Waltham Forest</div>
            </div>
            <div id="waltham-forest-content" class="start-hidden" role="region" aria-labelledby="waltham-forest-heading">
<div>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Crime Type</th>
			<th>June 2019</th>
			<th>Apr 19 -June 2019</th>
			<th>Apr 18 -June 2018</th>
			<th>Change</th>
		</tr>
		<tr>
			<th>Criminal Damage</th>
			<td>1</td>
			<td>2</td>
			<td>4</td>
			<td>-2</td>
		</tr>
		<tr>
			<th>Drugs</th>
			<td>2</td>
			<td>4</td>
			<td>1</td>
			<td>3</td>
		</tr>
		<tr>
			<th>Fraud/Forgery</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Other Notifiable Offences</th>
			<td>0</td>
			<td>1</td>
			<td>2</td>
			<td>-1</td>
		</tr>
		<tr>
			<th>Robbery</th>
			<td>8</td>
			<td>16</td>
			<td>7</td>
			<td>9</td>
		</tr>
		<tr>
			<th>Sexual Offences</th>
			<td>1</td>
			<td>8</td>
			<td>1</td>
			<td>7</td>
		</tr>
		<tr>
			<th>Theft and Handling</th>
			<td>24</td>
			<td>56</td>
			<td>40</td>
			<td>16</td>
		</tr>
		<tr>
			<th>Violence against the Person</th>
			<td>11</td>
			<td>39</td>
			<td>50</td>
			<td>-11</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>47</td>
			<td>126</td>
			<td>105</td>
			<td>21</td>
		</tr>
	</tbody>
</table></div>

<div>&nbsp;</div>
</div>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="wandsworth-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bus crime statistics-Wandsworth"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="wandsworth-heading" class="accordion-heading">Wandsworth</div>
            </div>
            <div id="wandsworth-content" class="start-hidden" role="region" aria-labelledby="wandsworth-heading">
<div>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Crime Type</th>
			<th>June 2019</th>
			<th>Apr 19 -June 2019</th>
			<th>Apr 18 -June 2018</th>
			<th>Change</th>
		</tr>
		<tr>
			<th>Criminal Damage</th>
			<td>0</td>
			<td>3</td>
			<td>4</td>
			<td>-1</td>
		</tr>
		<tr>
			<th>Drugs</th>
			<td>2</td>
			<td>3</td>
			<td>0</td>
			<td>3</td>
		</tr>
		<tr>
			<th>Fraud/Forgery</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Other Notifiable Offences</th>
			<td>3</td>
			<td>4</td>
			<td>0</td>
			<td>4</td>
		</tr>
		<tr>
			<th>Robbery</th>
			<td>4</td>
			<td>6</td>
			<td>2</td>
			<td>4</td>
		</tr>
		<tr>
			<th>Sexual Offences</th>
			<td>1</td>
			<td>4</td>
			<td>8</td>
			<td>-4</td>
		</tr>
		<tr>
			<th>Theft and Handling</th>
			<td>17</td>
			<td>47</td>
			<td>37</td>
			<td>10</td>
		</tr>
		<tr>
			<th>Violence against the Person</th>
			<td>9</td>
			<td>29</td>
			<td>44</td>
			<td>-15</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>36</td>
			<td>96</td>
			<td>95</td>
			<td>1</td>
		</tr>
	</tbody>
</table></div>

<div>&nbsp;</div>
</div>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="westminster-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Bus crime statistics-Westminster"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="westminster-heading" class="accordion-heading">Westminster</div>
            </div>
            <div id="westminster-content" class="start-hidden" role="region" aria-labelledby="westminster-heading">
<div>
<div class="table-container"><table>
	<tbody>
		<tr>
			<th>Crime Type</th>
			<th>June 2019</th>
			<th>Apr 19 -June 2019</th>
			<th>Apr 18 -June 2018</th>
			<th>Change</th>
		</tr>
		<tr>
			<th>Criminal Damage</th>
			<td>2</td>
			<td>5</td>
			<td>2</td>
			<td>3</td>
		</tr>
		<tr>
			<th>Drugs</th>
			<td>0</td>
			<td>7</td>
			<td>5</td>
			<td>2</td>
		</tr>
		<tr>
			<th>Fraud/Forgery</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Other Notifiable Offences</th>
			<td>0</td>
			<td>3</td>
			<td>0</td>
			<td>3</td>
		</tr>
		<tr>
			<th>Robbery</th>
			<td>5</td>
			<td>23</td>
			<td>18</td>
			<td>5</td>
		</tr>
		<tr>
			<th>Sexual Offences</th>
			<td>1</td>
			<td>8</td>
			<td>3</td>
			<td>5</td>
		</tr>
		<tr>
			<th>Theft and Handling</th>
			<td>80</td>
			<td>194</td>
			<td>94</td>
			<td>100</td>
		</tr>
		<tr>
			<th>Violence against the Person</th>
			<td>22</td>
			<td>62</td>
			<td>55</td>
			<td>7</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>110</td>
			<td>302</td>
			<td>177</td>
			<td>125</td>
		</tr>
	</tbody>
</table></div>

<div>&nbsp;</div>
</div>

            </div>
        </div>
    </div>
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="vertical-button-container">



<a href="https://tfl.gov.uk/corporate/publications-and-reports/?Mode=Buses"  class="plain-button">Find all Buses publications and reports</a>

</div>
<div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/safety-and-security/security-on-the-network" class="plain-button">Security on the network</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://crimemaps.btp.police.uk/" class="plain-button">British Transport Police statistics</a>
<a href="https://maps.met.police.uk/sd/stats-and-data/met/year-end-crime-statistics/" class="plain-button">Metropolitan Police crime statistics</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Bus-related crime statistics by borough";}
        
            
        


 