
    
  



@{ViewBag.Title = "Buses performance data";}
@{ViewBag.Keywords = "Bus operators,Public,B,Performance,Buses,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/buses-performance-data";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Buses performance data</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Buses performance data</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Network performance statistics and customer feedback can tell us a lot about how well our bus services are operating - and what we can do to improve them.
        
      </div>
    
    <div class="on-this-page">
      <h2>Measuring performance</h2>
<p>We measure network performance by comparing the number of kilometres a route has done in the last quarter. </p>
<p>We compare each quarter to the same quarter of the previous year,
rather than the last quarter of the same year. This is because factors
affecting performance, like traffic conditions, can vary depending on
the time of year, so this system makes it possible to identify
underlying trends.</p>
<p>Scheduled kilometres may not be met because journeys are cancelled or suspended due to:</p>
<ul>
    <li>Traffic congestion</li>
    <li>Staff availability</li>
    <li>Engineering problems or mechanical breakdown</li>
</ul>
<p>Quality of service indicators (QSI) are used to monitor service reliability.</p>
<h2>Customer satisfaction</h2>
<p>We ask a sample of passengers to give a score out of 100 on a wide
range of bus service features, based on the journey they have just made. Passengers are carefully selected each quarter to represent all bus passengers in London.</p>
<p>Recent figures can be found in the latest quarter summary document below.
</p>
<h2>Defining the passenger journey</h2>
<p>A passenger journey is defined as one ride on a single vehicle - not a bus trip from A to B as this may include more than one bus ride.</p>
<p>Statistics include all London Buses' contracted services but exclude
any non-scheduled kilometres, London Service Permit routes and other
special services.</p>
      
           
      
<div>



<h2>Latest reports</h2>



        <p>The following reports summarise performance statistics (based on a variety of criteria):</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/2018-19-annual-performance-summary.pdf">
    <div class="document-download-text">
        <p>Annual Network Performance Summary - 2018-19 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 36KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/2019-20-q3-network-performance-summary.pdf">
    <div class="document-download-text">
        <p>Quarterly Network Performance Summary - Quarter 3 2019-20 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/2018-19-bus-performance-long-term-trends.pdf">
    <div class="document-download-text">
        <p>Long Term Trend Performance Graphs (to end of 2018-19) </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 131KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/bus-service-usage-18-19.xlsx">
    <div class="document-download-text">
        <p>Bus service usage: passengers and kilometres operated by route, 2018/19</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 210KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-bus-users-survey.pdf">
    <div class="document-download-text">
        <p>Bus User Survey (2014)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.68MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.68 -->
 

<a class="document-download-wrap not-for-beta placeholder-image" href="/shared/DocumentComingSoon" data-pull-content="#body">
    <div class="document-download-text">
        <p>Good and Improved routes by Borough - (No longer being produced)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!--  -->
 
</div>

</div>
 
<div>



<h2>Bus speeds reports</h2>


<p>We monitor the speeds of buses to understand the impacts of changing road network conditions. Bus speeds include time spent stationary (for example at traffic lights and at bus stops). Bus speeds are available for the entire network, by borough, and by route.</p>
<ul>
    <li>All data is in miles per hour</li>
    <li>All AM data is taken for Mondays to Fridays, School and Non School days, between 07:00 and 10:00</li>
    <li>At Route level, some routes may be appear twice. This is because a service change happened during a period. A service change may include a change to a route structure, contract or operator</li>
</ul>
<div class="multi-document-download-container">
    

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/network-all-bus-speeds-to-p11-2019.xlsx">
    <div class="document-download-text">
        <p>Network All (to P11 2019-20)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 28KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/network-am-bus-speeds-to-p11-2019.xlsx">
    <div class="document-download-text">
        <p>Network - Mon to Fri AM (07.00 to 10.00) - data to P11 2019-20 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 21KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/borough-all-bus-speeds-to-p11-2019.xlsx">
    <div class="document-download-text">
        <p>Borough All (to P11 2019-20)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 81KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/borough-am-bus-speeds-to-p11-2019.xlsx">
    <div class="document-download-text">
        <p>Borough - Mon to Fri AM (07.00 to 10.00) - data to P11 2019-20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 71KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/route-all-bus-speeds-to-p11-2019.xlsx">
    <div class="document-download-text">
        <p>Route All (to P11 2019-20)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 1.07MB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 1.07 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/route-am-bus-speeds-to-p11-2019.xlsx">
    <div class="document-download-text">
        <p>Route - Mon to Fri AM (07.00 to 10.00) - data to P11 2019-20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 777KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.76 -->
 
</div>

</div>
 <div>

<h2>Factors affecting performance</h2>

<h3>Quarter 3 2019/20:&nbsp;&nbsp; 14 September 2019 to 03 January 2020</h3>

<p>Operated mileage results were worse than Q3 a year ago, with an increase in all categories of lost mileage. Losses due to traffic delays increased slightly from a level that had been the lowest seen for twenty years, driven by a reduction in roadworks, improved signal timings and a slowing of economic growth. Events causing significant delays to buses included Extinction Rebellion protests in the autumn, various other marches and demonstration, a serious incident on London Bridge and a NATO Summit. Heavy rain and burst water mains also had an impact. Lost kilometres due to mechanical and staff reasons were also higher compared with a year ago with several bus operators experiencing problems retaining and recruiting staff.</p>

<p>Until 2017/18, average bus speeds had been in consistent decline. The deterioration has been reversing over the past 2 years, although speeds remain much slower than in 2014. Overall bus speeds in Q3 were slightly slower than a year ago being impacted by the higher level of disruption affecting operated mileage. Speeds declined slightly in all inner London areas and there was a higher level of decline in all outer London areas.</p>

<p>Compared with Q3 a year ago, EWT has increased slightly although in general terms is still achieving some of the best ever results. Both inner and outer London were worse than the same quarter last year but the outer SE area showed an improvement.&nbsp; Punctuality of low frequency services was better than the same quarter a year ago but night buses departing on time deteriorated.</p>
</div>
 
<div>



<h2>International Bus Benchmarking Group</h2>


<p>London is a member of the International Bus Benchmarking Group (IBBG), an international knowledge sharing network of bus companies. It was established in 2004 and is facilitated by Imperial College London.</p>
<p>Benchmarking is a continuous systematic process for evaluating the products, services, processes or organisations that are recognised as representing best practice for the purpose of organisational improvement. A blend of operational and customer metrics are used to track the performance of the bus network.</p>
<p>Every year, a review of buses performance monitoring is evaluated internally and presented to TfL's Independent Investment Programme Advisory Group (IIPAG) by Imperial College London to justify expenditure and ensure quality of service provided to passengers.
</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/performance-of-london-buses-2018.pdf">
    <div class="document-download-text">
        <p>The Performance of London Buses Compared to Other World Cities 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 614KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.60 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ibbg-london-buses-2017.pdf">
    <div class="document-download-text">
        <p>The Performance of London Buses Compared to Other World Cities 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 874KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.85 -->
 
</div>

</div>
 
<div>



<h2>Demand-responsive bus performance</h2>


<p>Reports on TfL <a href="/modes/buses/demand-responsive-bus-service">trials of demand-responsive bus services</a>.&nbsp;&nbsp;</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/gosutton-trips-by-month.pdf">
    <div class="document-download-text">
        <p>GoSutton trips by month (six-monthly report on passenger numbers)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 11KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="vertical-button-container">



<a href="https://tfl.gov.uk/corporate/publications-and-reports/?Mode=Buses"  class="plain-button">Find all Buses publications and reports</a>

</div>
<div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/info-for/bus-operators/index" class="plain-button">Bus operators</a>
<a href="/corporate/publications-and-reports/bus-operator-league-tables" class="plain-button">Bus operator league tables</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Network performance statistics and customer feedback can tell us a lot about how well our bus services are operating - and what we can do to improve them";}
        
            
        


 