
    
  



@{ViewBag.Title = "Buses";}
@{ViewBag.Keywords = "Bus operators,Bus passengers,Public,B,Streetscape,Buses,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/buses";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Buses</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Buses</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The documents below provide useful information on a range of bus-related issues.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div>



<h2>Bus service planning guidelines</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bus-service-planning-guidelines.pdf">
    <div class="document-download-text">
        <p>Guidelines for planning bus services</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 65KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 
<div>



<h2>Buses, signals and road crossings</h2>



        <p>This report is a worldwide study into the interaction of buses and signals at road crossings and has been produced for the International  Association of Public Transport (UITP).</p>
        <p>Phase 1 of the work, led by TfL, has involved a worldwide review of the topic, identification of lessons learnt from different cities and
        applications and developing recommendations for further work.</p>
        <p>The main focus of the study has been on bus priority at traffic signals.</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/interaction-of-buses-and-signals-at-road-crossings.pdf">
    <div class="document-download-text">
        <p>Review of bus priority at traffic signals around the world</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.84MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.84 -->
 
</div>

</div>
 
<div>



<h2>Buses and traffic signals</h2>



        <p>This report explains how prioritising buses at traffic signals improves their punctuality:</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/svd-brochure.pdf">
    <div class="document-download-text">
        <p>Bus priority at traffic signals keeps London's buses moving</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 256KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/streets-toolkit" class="plain-button">Streets toolkit</a>
<a href="https://tfl.gov.uk/corporate/publications-and-reports/?Mode=Buses" class="plain-button">All buses publications &amp; reports</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "These documents provide useful background on a range of bus-related issues ";}
        
            
        


 