
    
  



@{ViewBag.Title = "Chief Officers' expenses and mobile phone expenditure";}
@{ViewBag.Keywords = "Media,C,Corporate information,Finance,Regular reports,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/chief-officers-expenses";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Chief Officers' expenses and mobile phone expenditure</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Chief Officers' expenses and mobile phone expenditure</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We proactively publish all expenses claimed by Chief Officers, including London's Transport Commissioner and expenditure on their use of mobile phones. Chief Officers' expense claim reports and data on mobile phone expenditure are published quarterly.
        
      </div>
    
    
      
        <p>The publication of expense claims allows customers to see how money is spent within the organisation and is a part of a wider transparency programme which includes the publication of any item of <a href="/corporate/publications-and-reports/expenditure-over-250">expenditure over &pound;250</a>. A huge cost savings exercise has been undertaken across the organisation over recent years to reduce expenditure and make sure we deliver value for money for London's fare and tax payers from large scale engineering projects down to small expenses claims.</p>
        <p>All expenditure within the organisation is carefully assessed to ensure it is essential to providing a safe, efficient, extensive and reliable transport network including expenses incurred by Chief Officers who often are called upon to travel out of the capital on business and attend conferences and other out of hours business related activities. </p>
        <p>The most senior member of TfL staff present at functions attended by other staff will generally settle the bill on those occasions when it is appropriate for the expenditure to be reclaimed in accordance with our business expenses policy.</p>
    
      
           
      <div>

<h2>Chief officers' expenses</h2>
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2019-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Chief Officers' expenses and mobile phone expenditure-2019"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2019-heading" class="accordion-heading">2019</div>
            </div>
            <div id="2019-content" class="start-hidden" role="region" aria-labelledby="2019-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/chief-officers-expenses-q3-1920.xls">
    <div class="document-download-text">
        <p>October - December 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/chief-officers-expenses-q2-1920.xls">
    <div class="document-download-text">
        <p>July - September 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/chief-officers-expenses-q1-1920.xls">
    <div class="document-download-text">
        <p>April - June 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/chief-officers-expenses-q4-1819.xls">
    <div class="document-download-text">
        <p>January - March 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.03 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2018-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Chief Officers' expenses and mobile phone expenditure-2018"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2018-heading" class="accordion-heading">2018</div>
            </div>
            <div id="2018-content" class="start-hidden" role="region" aria-labelledby="2018-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/chief-officers-expenses-q3-1819.xls">
    <div class="document-download-text">
        <p>October - December 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap not-for-beta placeholder-image" href="/shared/DocumentComingSoon" data-pull-content="#body">
    <div class="document-download-text">
        <p>July - September 2018 - No expenses were claimed</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!--  -->
 

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/chief-officers-expenses-q1-1819.xls">
    <div class="document-download-text">
        <p>April - June 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/chief-officers-expenses-q4-1718.xls">
    <div class="document-download-text">
        <p>January - March 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 34KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.03 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2017-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Chief Officers' expenses and mobile phone expenditure-2017"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2017-heading" class="accordion-heading">2017</div>
            </div>
            <div id="2017-content" class="start-hidden" role="region" aria-labelledby="2017-heading">



<a class="document-download-wrap xls" href="/cdn/static/cms/documents/chief-officers-expenses-q3-1718.xls">
    <div class="document-download-text">
        <p>October - December 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 33KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/chief-officers-expenses-q2-1718.xls">
    <div class="document-download-text">
        <p>July - September 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 34KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/chief-officers-expenses-q1-1718.xls">
    <div class="document-download-text">
        <p>April - June 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/chief-officers-expenses-q4-1617.pdf">
    <div class="document-download-text">
        <p>January - March 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 17KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 
            </div>
        </div>
    </div>
 
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2016-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Chief Officers' expenses and mobile phone expenditure-2016"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2016-heading" class="accordion-heading">2016</div>
            </div>
            <div id="2016-content" class="start-hidden" role="region" aria-labelledby="2016-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/chief-officers-expenses-q3-1617.pdf">
    <div class="document-download-text">
        <p>October - December 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 20KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 
</div>

</div>
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/chief-officers-expenses-q2-1617.pdf">
    <div class="document-download-text">
        <p>July - September 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 16KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/chief-officers-expenses-q1-1617.pdf">
    <div class="document-download-text">
        <p>April - June 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 17KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/chief-officers-expenses-q4-15-16.pdf">
    <div class="document-download-text">
        <p>January - March 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 20KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 
            </div>
        </div>
    </div>
 
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2015-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Chief Officers' expenses and mobile phone expenditure-2015"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2015-heading" class="accordion-heading">2015</div>
            </div>
            <div id="2015-content" class="start-hidden" role="region" aria-labelledby="2015-heading">



<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/chief-officers-expenses-q3-15-16.pdf">
    <div class="document-download-text">
        <p>October - December 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 22KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/chief-officers-expenses-q2-1516.pdf">
    <div class="document-download-text">
        <p>July - September 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 21KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/chief-officers-expenses-q1-1516.pdf">
    <div class="document-download-text">
        <p>April  - June 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 29KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 
</div>

</div>
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/chief-officer-expenses-q4-1415.pdf">
    <div class="document-download-text">
        <p>January - March 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 11KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 
            </div>
        </div>
    </div>
 
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2014-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Chief Officers' expenses and mobile phone expenditure-2014"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2014-heading" class="accordion-heading">2014</div>
            </div>
            <div id="2014-content" class="start-hidden" role="region" aria-labelledby="2014-heading">



<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/chief-officer-expenses-q3-1415.pdf">
    <div class="document-download-text">
        <p>October - December 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 150KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/chief-officer-expenses-q3-2014.pdf">
    <div class="document-download-text">
        <p>July - September 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 25KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/chief-officer-expenses-q2-2014.pdf">
    <div class="document-download-text">
        <p>April - June 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 23KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/co-quarterly-exp-jan-2014.pdf">
    <div class="document-download-text">
        <p>January - March 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 26KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 
            </div>
        </div>
    </div>
 
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2013-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Chief Officers' expenses and mobile phone expenditure-2013"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2013-heading" class="accordion-heading">2013</div>
            </div>
            <div id="2013-content" class="start-hidden" role="region" aria-labelledby="2013-heading">



<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/chief-officers-expenses-october-december-2013.pdf">
    <div class="document-download-text">
        <p>October - December 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 10KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/chief-officers-expenses-july-september-13.pdf">
    <div class="document-download-text">
        <p>July - September 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 23KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap 1.pdf" href="/cdn/static/cms/documents/chief-officers-expenses-april-june-2013-1.1.pdf">
    <div class="document-download-text">
        <p>April - June 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            1.PDF 26KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/chief-officers-expenses-jan-march-13.pdf">
    <div class="document-download-text">
        <p>January - March 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 10KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 
            </div>
        </div>
    </div>
 
</div>
 
<div>



<h2>Chief officers' mobile phone expenditure</h2>



<div class="multi-document-download-container">
    
</div>

</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2019-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Chief Officers' expenses and mobile phone expenditure-2019"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2019-heading" class="accordion-heading">2019</div>
            </div>
            <div id="2019-content" class="start-hidden" role="region" aria-labelledby="2019-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/chief-officers-mobile-phone-q3-1920.xls">
    <div class="document-download-text">
        <p>October - December 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 34KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/chief-officers-mobile-phone-q2.xls">
    <div class="document-download-text">
        <p>July - September 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 34KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/chief-officers-mobile-phone-q1-1920.xls">
    <div class="document-download-text">
        <p>April - June 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 26KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/chief-officers-mobile-phone-q4-1819.xls">
    <div class="document-download-text">
        <p>January - March 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 25KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.02 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2018-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Chief Officers' expenses and mobile phone expenditure-2018"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2018-heading" class="accordion-heading">2018</div>
            </div>
            <div id="2018-content" class="start-hidden" role="region" aria-labelledby="2018-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/chief-officers-mobile-phone-q3-1819.xls">
    <div class="document-download-text">
        <p>October - December 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 27KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/chief-officers-mobile-phone-q2-1819.xls">
    <div class="document-download-text">
        <p>July - September 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 24KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/chief-officers-mobile-phone-q1-1819.xls">
    <div class="document-download-text">
        <p>April - June 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 24KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/chief-officers-mobile-phone-q4-1718.xls">
    <div class="document-download-text">
        <p>January - March 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 24KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.02 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2017-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Chief Officers' expenses and mobile phone expenditure-2017"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2017-heading" class="accordion-heading">2017</div>
            </div>
            <div id="2017-content" class="start-hidden" role="region" aria-labelledby="2017-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/chief-officers-mobile-phone-q3-1718.xls">
    <div class="document-download-text">
        <p>October - December 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 24KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/chief-officers-mobile-phone-q2-1718.xls">
    <div class="document-download-text">
        <p>July - September 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 24KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/chief-officers-mobile-phone-q1-1718.xls">
    <div class="document-download-text">
        <p>April  - June 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 24KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.02 -->
 
</div>

</div>
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/chief-officers-mobile-phone-q4-1617.pdf">
    <div class="document-download-text">
        <p>January - March 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 19KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 
            </div>
        </div>
    </div>
 
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2016-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Chief Officers' expenses and mobile phone expenditure-2016"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2016-heading" class="accordion-heading">2016</div>
            </div>
            <div id="2016-content" class="start-hidden" role="region" aria-labelledby="2016-heading">



<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/chief-officers-mobile-phone-q3-1617.pdf">
    <div class="document-download-text">
        <p>October - December 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 14KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/chief-officers-mobile-phone-q2-1617.pdf">
    <div class="document-download-text">
        <p>July - September 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 14KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/chief-officers-mobile-phone-q1-1617.pdf">
    <div class="document-download-text">
        <p>April - June 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 14KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/chief-officers-mobile-phone-q4-15-16.pdf">
    <div class="document-download-text">
        <p>January - March 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 15KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 
            </div>
        </div>
    </div>
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/about-tfl/how-we-work/corporate-governance/chief-officers" class="plain-button">Chief Officers</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We proactively publish all expenses claimed by Chief Officers and expenditure on their use of mobile phones";}
        
            
        


 