
    
  



@{ViewBag.Title = "Congestion Charge";}
@{ViewBag.Keywords = "Coach drivers,Drivers,Freight industry,Taxi and private hire,Taxi passengers,C,Congestion Charge,Consultation,Performance,Research,Deliveries,Driving,Taxis and minicabs,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/congestion-charge";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Congestion Charge</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Congestion Charge</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Consultation documents and reports related to the Congestion Charge.
        
      </div>
    
    
      
    
      
           
      <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="consultations-and-scheme-order-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Congestion Charge-Consultations and Scheme Order"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="consultations-and-scheme-order-heading" class="accordion-heading">Consultations and Scheme Order</div>
            </div>
            <div id="consultations-and-scheme-order-content" class="start-hidden" role="region" aria-labelledby="consultations-and-scheme-order-heading">

    

<div>




<p><strong>May 2019</strong></p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/consolidated-scheme-order-may2019.pdf">
    <div class="document-download-text">
        <p>Consolidated Scheme Order - May 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 472KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.46 -->
 
</div>

</div>
 
<div>




<p><strong>December 2018</strong></p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/report-to-mayor-on-congestion-charge-changes.pdf">
    <div class="document-download-text">
        <p>Report to the Mayor on the Congestion Charging consultation - December 2018 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.18MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/notice-of-confirmation-for-congestion-charge-changes.pdf">
    <div class="document-download-text">
        <p>Notice of confirmation - December 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 27KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/signed-instrument-of-confirmation-for-congestion-charge-changes.pdf">
    <div class="document-download-text">
        <p>Instrument of confirmation - December 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 49KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/congestion-charging-zone-variation-order-2018.pdf">
    <div class="document-download-text">
        <p>Variation Order - June 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.98MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.98 -->
 
</div>

</div>
 
<div>




<p><strong>January 2018</strong></p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/consolidated-scheme-order-january-2018.pdf">
    <div class="document-download-text">
        <p>Consolidated Scheme Order - January 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 403KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 
</div>

</div>
 
<div>




<p><strong>December 2017</strong></p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/report-to-the-mayor-on-the-congestion-charging-and-traffic-enforcement-pcn-consultation-dec-2017.pdf">
    <div class="document-download-text">
        <p>Report to the Mayor on the Congestion Charging and Traffic Enforcement Penalty Charge Notice Consultation - December 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 703KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.69 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/notice-of-confirmation-december-2017.pdf">
    <div class="document-download-text">
        <p>Notice of Confirmation - December 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 40KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/instrument-of-confirmation-december-2017.pdf">
    <div class="document-download-text">
        <p>Instrument of Confirmation - December 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 62KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/variation-order-august-2017.pdf">
    <div class="document-download-text">
        <p>Variation Order - August 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 822KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.80 -->
 
</div>

</div>
 
<div>




<p><strong>August 2017</strong> </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/consolidated-ccz-scheme-order-aug2017.pdf">
    <div class="document-download-text">
        <p>Consolidated Scheme Order - August 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 464KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.45 -->
 
</div>

</div>
 
<div>




<h4>August 2014</h4>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/consolidated-congestion-charging-scheme-order.pdf">
    <div class="document-download-text">
        <p>Consolidated Scheme Order - December 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 260KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/report-to-the-mayor.pdf">
    <div class="document-download-text">
        <p>Report to the Mayor on the Congestion Charging Scheme Variation Order Consultation - November 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 271KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/unauthorised-websites-policy.pdf">
    <div class="document-download-text">
        <p>Unauthorised Websites Policy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 115KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/instrument-of-confirmation-and-variation-order.pdf">
    <div class="document-download-text">
        <p>Instrument of Confirmation 2014 - Variation Order 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 31KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 
</div>

</div>
 
<div>




<h4>May 2014</h4>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cc-changes-consultation-2014-mayors-report.pdf">
    <div class="document-download-text">
        <p>TfL's Report to the Mayor on the Congestion Charging Scheme Variation Order Consultation - 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 710KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.69 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/notice-of-confirmation-2014.pdf">
    <div class="document-download-text">
        <p>Notice of Confirmation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 183KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/variation-order-2013-instrument-of-confirmation-2014.pdf">
    <div class="document-download-text">
        <p>Variation Order 2013 - Instrument of Confirmation 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 26KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/consolidated-scheme-order-with-amendments.pdf">
    <div class="document-download-text">
        <p>Consolidated scheme order</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 258KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 
</div>

</div>
 
<div>





        <h4>May 2013</h4>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cc-changes-consultation-2014-report-to-mayor.pdf">
    <div class="document-download-text">
        <p>TfL's Report to the Mayor on the Congestion Charging Scheme Variation Order Consultation - 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 810KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.79 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/the-central-london-congestion-charging-scheme-the-consolidated-scheme-order.pdf">
    <div class="document-download-text">
        <p>The Central London Congestion Charge Scheme - The Consolidated Scheme Order </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 258KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 
</div>

</div>
 
<div>





        <h4>April 2013 </h4>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/the-central-london-congestion-charging-scheme-the-consolidated-scheme-order.pdf">
    <div class="document-download-text">
        <p>Report to the Mayor on the Variation Orders Consultation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 258KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/24802-congestion-charge-confirmation-notice-vo-2012.pdf">
    <div class="document-download-text">
        <p>Notice of Confirmation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 23KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/24802-congestion-charge-variation-and-transitional-provisions-order-2012-ioc.pdf">
    <div class="document-download-text">
        <p>The Greater London (central zone) (variation and transitional provisions) Order 2012 instrument of confirmation </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 17KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 
</div>

</div>
 
<div>





        <h4>November 2013</h4>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/congestion-charging-variation-order-2012.pdf">
    <div class="document-download-text">
        <p>Annex A - The Greater London (central zone) (variation and transitional provisions) Order 2012 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cc-vo-scheme-description-and-supplementary-information-2012.pdf">
    <div class="document-download-text">
        <p>Supplementary information</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 152KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cc-vo-impact-assessment-2012.pdf">
    <div class="document-download-text">
        <p>Impact assessment</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 224KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 
</div>

</div>
 
<div>





        <h3>Congestion Charge consultation 2010-2011</h3>
        <h4>October 2010 </h4>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-report-to-mayor-on-wez-and-ccz-vos-october-2010.pdf">
    <div class="document-download-text">
        <p>Report to the Mayor on the variation orders consultation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 451KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.44 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/appendix-1-list-of-respondents.pdf">
    <div class="document-download-text">
        <p>Appendix 1 &#45; List of stakeholder respondents to the consultation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 18KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/appendix-2-tfls-analysis-of-late-responses.pdf">
    <div class="document-download-text">
        <p>Appendix 2 &#45; Summary of responses received after 9 August 2010 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 17KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/appendix-3-information-provided-foi-eir.pdf">
    <div class="document-download-text">
        <p>Appendix 3 &#45; Information provided for FOI/EIR</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 18.70MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 18.70 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/appendix-4-vo1.pdf">
    <div class="document-download-text">
        <p>Appendix 4 &#45; The Greater London (central zone) (variation and transitional provisions) Order 2010</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 43KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/appendix-5-vo2.pdf">
    <div class="document-download-text">
        <p>Appendix 5 &#45; Greater London (central zone) (variation and transitional provisions) (No.2) Order 2010</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 92KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/annex-a-accent-report-on-the-public-consultation.pdf">
    <div class="document-download-text">
        <p>Annex A &#45; Public consultation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.84MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.84 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/annex-b-vo1-iia-report.pdf">
    <div class="document-download-text">
        <p>Annex B &#45; integrated impact assessment</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.82MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.82 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/annex-c-vo2-iia-report.pdf">
    <div class="document-download-text">
        <p>Annex C &#45; integrated impact assessment</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 289KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="removal-of-western-extension-zone-2008-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Congestion Charge-Removal of Western Extension Zone 2008"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="removal-of-western-extension-zone-2008-heading" class="accordion-heading">Removal of Western Extension Zone 2008</div>
            </div>
            <div id="removal-of-western-extension-zone-2008-content" class="start-hidden" role="region" aria-labelledby="removal-of-western-extension-zone-2008-heading">

    

<div>





        <h3>November 2008</h3>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/executive-summary-western-extension-consultation-report.pdf">
    <div class="document-download-text">
        <p>Executive summary report to the Mayor on the Western Extension</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 164KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/western-extension-non-statutory-consultation-report-to-mayor.pdf">
    <div class="document-download-text">
        <p>Report on non-statutory consultation on the future of the Western Extension</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 562KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.55 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/appendices-to-the-report-to-the-mayor.pdf">
    <div class="document-download-text">
        <p>The appendices to the report to the Mayor</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.00MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.00 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/annex-1-analysis-of-consultation-responses.pdf">
    <div class="document-download-text">
        <p>The annex 1 analysis of consultation responses</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.37MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/annex-2-report-on-the-attitudinal-survey-of-londoners.pdf">
    <div class="document-download-text">
        <p>The annex 2 report on the attitudinal survey of Londoners </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.22MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/annex-3-report-on-attitudinal-survey-of-london-businesses.pdf">
    <div class="document-download-text">
        <p>The annex 3 report on attitudinal survey of London businesses </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.42MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.42 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="public-information-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Congestion Charge-Public information"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="public-information-heading" class="accordion-heading">Public information</div>
            </div>
            <div id="public-information-content" class="start-hidden" role="region" aria-labelledby="public-information-heading">

    

<div>




<h3>April 2019</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf.pdf" href="/cdn/static/cms/documents/congestion-charge-factsheet.pdf.pdf">
    <div class="document-download-text">
        <p>Congestion Charge factsheet</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF.PDF 307KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 
</div>

</div>
 
<div>





        <h3>July 2013</h3>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/helping-you-with-your-cc-penalty-charge-notice.pdf">
    <div class="document-download-text">
        <p>Helping you with your Penalty Charge Notice</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 491KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.48 -->
 
</div>

</div>
 
<div>





        <h3>January 2011</h3>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cc-cameras.pdf">
    <div class="document-download-text">
        <p>What do I need to know about the Congestion Charge camera system?</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 282KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 
</div>

</div>
 
<div>





        <h3>November 2009</h3>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bailiffs-what-you-need-to-know.pdf">
    <div class="document-download-text">
        <p>Bailiffs: what you need to know</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 82KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/road-user-charging-subject-access-request-form.pdf">
    <div class="document-download-text">
        <p>How to request a copy of your information (including vehicle images)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 204KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="monitoring-and-research-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Congestion Charge-Monitoring and research"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="monitoring-and-research-heading" class="accordion-heading">Monitoring and research</div>
            </div>
            <div id="monitoring-and-research-content" class="start-hidden" role="region" aria-labelledby="monitoring-and-research-heading">

    

<div>





        <h3>September 2008</h3>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/demand-elasticities-for-car-trips-to-central-london.pdf">
    <div class="document-download-text">
        <p>Demand elasticities for car trips to Central London </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 457KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.45 -->
 
</div>

</div>
 
<div>



<h2>July 2008</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/central-london-congestion-charging-impacts-monitoring-sixth-annual-report.pdf">
    <div class="document-download-text">
        <p>Impacts monitoring - sixth annual report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.63MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.63 -->
 
</div>

</div>
 
<div>





        <h3>July 2007</h3>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fifth-annual-impacts-monitoring-report-2007-07-07.pdf">
    <div class="document-download-text">
        <p>Impacts monitoring - fifth annual report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.25MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.25 -->
 
</div>

</div>
 
<div>





        <h3>June 2007</h3>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ex-post-evaluation-of-quantified-impacts-of-original-scheme.pdf">
    <div class="document-download-text">
        <p>Ex-post evaluation of the quantified impacts of the original scheme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.91MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.91 -->
 
</div>

</div>
 
<div>





        <h3>December 2006</h3>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/four-year-programme-2006.pdf">
    <div class="document-download-text">
        <p>Congestion Charge four year programme 2006</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 116KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 
</div>

</div>
 
<div>





        <h3>June 2006</h3>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fourth-annual-report-overview.pdf">
    <div class="document-download-text">
        <p>Impacts monitoring - fourth annual report overview </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 104KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fourthannualreportfinal.pdf">
    <div class="document-download-text">
        <p>Impacts monitoring - fourth annual report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.01MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.01 -->
 
</div>

</div>
 
<div>





        <h3>November 2005</h3>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/social-impacts-report-tfl-cover-note-1.pdf">
    <div class="document-download-text">
        <p>Social impacts report - TfL cover note</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 58KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/social-impacts-survey-report-2002-2003.pdf">
    <div class="document-download-text">
        <p>Social impacts survey report 2002, 2003 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.67MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.67 -->
 
</div>

</div>
 
<div>



<h2>April 2005</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/central-london-congestion-charging-impacts-monitoring-third-annual-report.pdf">
    <div class="document-download-text">
        <p>Impacts monitoring - third annual report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.08MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.08 -->
 
</div>

</div>
 
<div>





        <h3>January 2005</h3>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/impacts-monitoring-report-january-2005.pdf">
    <div class="document-download-text">
        <p>Impacts monitoring (update)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 577KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.56 -->
 
</div>

</div>
 
<div>





        <h3>April 2004</h3>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/impacts-monitoring-report-2.pdf">
    <div class="document-download-text">
        <p>Impacts monitoring - second annual report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 695KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.68 -->
 
</div>

</div>
 
<div>





        <h3>June 2003</h3>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/impacts-monitoring-report1.pdf">
    <div class="document-download-text">
        <p>Impacts monitoring - First annual report </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.92MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.92 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="finance,-operations-and-performance-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Congestion Charge-Finance, operations & performance"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="finance,-operations-and-performance-heading" class="accordion-heading">Finance, operations & performance</div>
            </div>
            <div id="finance,-operations-and-performance-content" class="start-hidden" role="region" aria-labelledby="finance,-operations-and-performance-heading">


<div>





        <h3>Congestion Charge and Low Emissions Zone factsheets</h3>
        <p>These factsheets include information about how many people pay the
        Congestion Charge (CC) and the Low Emission Zone (LEZ) charge and the number of
        Penalty Charge Notices that are issued. </p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cclez-online-factsheet-jul19-sep19.pdf">
    <div class="document-download-text">
        <p>CC and LEZ factsheet July 2019 - September 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 55KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cclez-online-factsheet-apr19-jun19.pdf">
    <div class="document-download-text">
        <p>CC and LEZ factsheet April 2019 - June 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 84KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cclez-online-factsheet-jan-19-mar-19.pdf">
    <div class="document-download-text">
        <p>CC and LEZ factsheet January 2019 - March 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 29KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cclez-online-factsheet-oct18-dec18.pdf">
    <div class="document-download-text">
        <p>CC and LEZ factsheet October 2018 - December 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 151KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cclez-online-factsheet-jul18-sep18.pdf">
    <div class="document-download-text">
        <p>CC and LEZ factsheet July 2018 to September 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 60KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cclez-online-factsheet-april-2018-to-june-2018.pdf">
    <div class="document-download-text">
        <p>CC and LEZ factsheet April 2018 to June 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 29KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cclez-online-factsheet-january-2018-to-march-2018.pdf">
    <div class="document-download-text">
        <p>CC and LEZ factsheet January 2018 to March 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 147KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cclez-online-factsheet-october-2017-to-december-2017.pdf">
    <div class="document-download-text">
        <p>CC and LEZ factsheet October 2017 to December 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 29KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cclez-online-factsheet-jul-17.pdf">
    <div class="document-download-text">
        <p>CC and LEZ factsheet July 2017 to September 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 28KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cclez-online-factsheet-apr17.pdf">
    <div class="document-download-text">
        <p>CC and LEZ factsheet April 2017 to June 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 55KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cclez-online-factsheet-jan17.pdf">
    <div class="document-download-text">
        <p>CC and LEZ factsheet January 2017 to March 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 27KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cclez-online-factsheet-october-2016-to-december-2016.pdf">
    <div class="document-download-text">
        <p>CC and LEZ factsheet October 2016 to December 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 55KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cclez-online-factsheet-jul-16.pdf">
    <div class="document-download-text">
        <p>CC and LEZ factsheet 1 July 2016 to 25 September 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 58KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cclez-online-factsheet-apr-16.pdf">
    <div class="document-download-text">
        <p>CC and LEZ factsheet 1 April to 30 June 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 27KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cclez-online-factsheet-jan16.pdf">
    <div class="document-download-text">
        <p>CC and LEZ factsheet 1 January 2016 to 31 March 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 27KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cclez-online-factsheet-oct15.pdf">
    <div class="document-download-text">
        <p>CC and LEZ factsheet 1 October 2015 to 31 December 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 28KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cclez-online-factsheet-jul15.pdf">
    <div class="document-download-text">
        <p>CC and LEZ factsheet 1 July 2015 to 30 September 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 27KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cclez-online-factsheet-apr15.pdf">
    <div class="document-download-text">
        <p>CC and LEZ factsheet 1 April 2015 to 30 June 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 27KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cclez-online-factsheet-jan-mar-2015.pdf">
    <div class="document-download-text">
        <p>CC and LEZ factsheet 1 January 2015 to 31 March 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 27KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cclez-online-factsheet-oct-dec-2014.pdf">
    <div class="document-download-text">
        <p>CC and LEZ factsheet 1 October 2014 to 31 December 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 27KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cclez-online-factsheet-jul-sep-2014.pdf">
    <div class="document-download-text">
        <p>CC and LEZ factsheet 1 July 2014 to 30 September 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 27KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cclez-online-factsheet-apr-jun-2014.pdf">
    <div class="document-download-text">
        <p>CC and LEZ factsheet 1 April 2014 to 30 June 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 27KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cclez-online-factsheet-jan-mar-2014.pdf">
    <div class="document-download-text">
        <p>CC and LEZ factsheet 1 January 2014 to 31 March 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 69KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cclez-online-factsheet-oct-dec-2013.pdf">
    <div class="document-download-text">
        <p>CC and LEZ factsheet 1 October 2013 to 31 December 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 71KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cclez-online-factsheet-jul-sep-2013.pdf">
    <div class="document-download-text">
        <p>CC and LEZ factsheet 1 July 2013  to 30 September 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 70KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cclez-online-factsheet-apr-jun-2013.pdf">
    <div class="document-download-text">
        <p>CC and LEZ factsheet 1 April 2013 to 30 June 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 21KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 
</div>

</div>
 
<div>




<h3>Congestion Charge outstanding debt by embassies</h3>

<p>We and the UK Government are clear that the Congestion Charge is a charge for a service and not a tax. This means that diplomats are not exempt from paying it. The majority of embassies in London do pay the charge, but there remains a&nbsp;minority who refuse to do so, despite our representations through diplomatic channels.</p>

<p>We will continue to pursue all unpaid Congestion Charge fees and related penalty charge notices and are pushing for the matter to be taken up at the International Court of Justice.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cclez-online-factsheet-embassy-debt-sep19.pdf">
    <div class="document-download-text">
        <p>Congestion Charging outstanding embassy debt (from February 2003 to September 2019)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 85KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 
</div>
 <div>


        <p>If you need copies of previous consultation documents and Reports to the Mayor, please contact us at <a href="mailto:cccorrespondence&#64;tfl.gov.uk">cccorrespondence&#64;tfl.gov.uk</a> </p>
    
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="https://tfl.gov.uk/modes/driving/congestion-charge" class="plain-button">Congestion Charge</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Consultation documents and reports related to the Congestion Charging scheme";}
        
            
        


 