
    
  



@{ViewBag.Title = "Connected and Autonomous Vehicles";}
@{ViewBag.Keywords = "Boroughs,Drivers,Investors,A,C,V,Roads,Driving,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/connected-and-autonomous-vehicles";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Connected and Autonomous Vehicles</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Connected and Autonomous Vehicles</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        You must follow our guidance if you're planning trials of Connected and Autonomous Vehicles (CAV) in London.
        
      </div>
    
    
      <p>Developed with London Councils and London boroughs, our guidance tells you what we expect for CAV trials including working with us from the start, using a safety first approach and regular reporting.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/connected-and-autonomous-vehicles-guidance-for-london-trials.pdf">
    <div class="document-download-text">
        <p>Connected and Autonomous Vehicles: guidance for London trials</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.58MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.58 -->
 
</div>
<p>You must also follow the Centre for Connected and Autonomous Vehicles' (CCAV's) <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/776511/code-of-practice-automated-vehicle-trialling.pdf">Code of Practice: Automated vehicle trialling</a>.</p>
</div>
 <div>

<h2>Why we're working on CAVs</h2>

<p>Along with our commitments in the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a>, we have legal duties and responsibilities to keep London moving. So, we work with all organisations planning to run CAV trials in London to understand the opportunities, risks and challenges they present.</p>

<p>We're also thinking about areas of future policy and will work with the Department for Transport and the Law Commission where changes to the law are required.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/connected-and-autonomous-vehicle-statement.pdf">
    <div class="document-download-text">
        <p>Connected and Autonomous Vehicles statement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 75KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 
</div>

</div>
 <div>

<h2>What are CAVs?</h2>

<p>Connected and Autonomous Vehicles (CAVs) can also be known as driverless cars. They can be connected, autonomous, or both:</p>

<ul>
	<li>Connected vehicles can communicate information, such as traffic alerts, wirelessly with other vehicles, infrastructure and devices</li>
	<li>Autonomous vehicles can perform driving tasks without a human, such as braking, steering and even driving themselves&nbsp;</li>
</ul>

<h2>London trials</h2>

<p>CAVs have attracted investment worldwide and small scale trials are already taking place in London. Many trials are part funded through the Government and others are privately funded.</p>

<h3>Previous trials</h3>

<ul>
	<li><a href="https://gateway-project.org.uk/">GATEway</a> (Transport Research Laboratory)</li>
	<li><a href="https://uk.nissannews.com/en-GB/releases/release-426183293-nissan-conducts-on-road-autonomous-vehicle-testing-in-europe">Nissan</a> (Nissan)</li>
</ul>

<h3>Current trials</h3>

<ul>
	<li><a href="https://caprimobility.com/">CAPRI</a> (AECOM)</li>
	<li><a href="https://drivenby.ai/">DRIVEN</a> (Oxbotica)</li>
	<li><a href="https://algmventures.com/projects/endeavour/">Endeavour</a> (Addison Lee)</li>
	<li><a href="http://www.smartmobility.london/">Smart Mobility Living Lab London</a> (Transport Research Laboratory)</li>
	<li><a href="https://five.ai/">Streetwise</a> (FiveAI)</li>
	<li><a href="https://wayve.ai/">Wayve</a> (Wayve)</li>
</ul>

<h3>Planned trials</h3>

<ul>
	<li><a href="https://algmventures.com/projects/servcity/">ServeCity</a> (Addison Lee)</li>
</ul>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out about using Connected and Autonomous Vehicles (also known as driverless cars) in London";}
        
            
        


 