
    
  



@{ViewBag.Title = "Contracts released under FOI";}
@{ViewBag.Keywords = "Businesses,Media,Suppliers,C,Contract,Corporate information,Finance,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/contracts-released-under-foi";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Contracts released under FOI</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Contracts released under FOI</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This page lists contracts that we have released in response to Freedom of Information (FOI) requests.
        
      </div>
    
    
      <p>Contracts provided in response to FOI requests made since 1 January 2017 are published at in <a href="/corporate/transparency/freedom-of-information">Freedom of Information section</a>.</p>
<h2>Published contracts </h2>
      
           
      

<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" id="table_heading_0" rowspan="1">
			<p><strong>Service</strong></p>
			</th>
			<th colspan="1" id="table_heading_1" rowspan="1">
			<p><strong>Contractor</strong></p>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td headers="table_heading_0"><a href="/corporate/publications-and-reports/cycle-hire-contracts">London Cycle Hire Scheme agreement</a> (page)</td>
			<td headers="table_heading_1">Serco</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="/cdn/static/cms/documents/contract-for-real-time-passenger-information-system.pdf">Real Time Passenger Information System (PDF 2.9MB)</a></td>
			<td headers="table_heading_1">Telent Technology Services Ltd</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="/cdn/static/cms/documents/enforcement-infrastructure-service-agreement.pdf">Enforcement infrastructure service agreement (PDF 547KB)</a></td>
			<td headers="table_heading_1">Siemens Plc</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="/cdn/static/cms/documents/rolling-stock-manufacture-and-supply-agreement-msa.pdf">East London Line manufacture and supply agreement (PDF 6.0MB)</a></td>
			<td headers="table_heading_1">Bombardier Transportation UK Limited</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="/cdn/static/cms/documents/rolling-stock-train-services-agreement-tsa.pdf">East London Line train services agreement (PDF 5.0MB)</a></td>
			<td headers="table_heading_1">Bombardier Transportation UK Limited</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="/cdn/static/cms/documents/wifi-enabling-agreement.pdf">WiFi enabling agreement (PDF 546KB)</a></td>
			<td headers="table_heading_1">Virgin Media Business Limited</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="/cdn/static/cms/documents/wifi-enabling-agreement-appendix-1.pdf">WiFi enabling agreement appendix 1 (PDF 224KB)</a></td>
			<td headers="table_heading_1">Virgin Media Business Limited</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Neasden depot signalling agreement*</td>
			<td headers="table_heading_1">Thales Rail Signalling Solutions Ltd</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Central line service control centre - communication control systems upgrade*</td>
			<td headers="table_heading_1">Hima-Salla Limited</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="/cdn/static/cms/documents/bailiff-contract.pdf">Bailiff services agreement (PDF 2.0MB)</a></td>
			<td headers="table_heading_1">Equita Limited</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="/cdn/static/cms/documents/east-london-line-extension-contract.pdf">East London Line extension contract (PDF 4.4MB)</a></td>
			<td headers="table_heading_1">Parsons Brinckerhoff Limited</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="/cdn/static/cms/documents/emirates-airline-contract.pdf">Emirates Air Line contract (PDF 4.2MB)</a></td>
			<td headers="table_heading_1">Emirates Air Line</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="/cdn/static/cms/documents/emirates-air-line-contract-amendment-2013.pdf">Emirates Air Line contract - amendment (PDF 293KB)</a></td>
			<td headers="table_heading_1">Emirates Air Line</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="/cdn/static/cms/documents/lu-power-service-contract.pdf">Power service contract (PDF 1.5MB)</a></td>
			<td headers="table_heading_1">EDF Energy</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="/cdn/static/cms/documents/metroline-bus-contract.pdf">Metroline bus contract (PDF 2.7MB)</a></td>
			<td headers="table_heading_1">Metroline Travel Limited</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Barclays Cycle Hire and Superhighways sponsorship (page)</td>
			<td headers="table_heading_1">Barclays Bank plc</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="/cdn/static/cms/documents/bank-station-upgrade-contract.pdf">Bank station upgrade (PDF 4.3MB)</a></td>
			<td headers="table_heading_1">Dragados SA</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="/cdn/static/cms/documents/matchtech-temporary-worker-contract.pdf">Temporary worker contract (PDF 668KB)</a></td>
			<td headers="table_heading_1">Matchtech Group PLC</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="/cdn/static/cms/documents/morson-temporary-worker-contract.pdf">Temporary worker contract (PDF 658KB)</a></td>
			<td headers="table_heading_1">Morson International</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="/cdn/static/cms/documents/rullion-temporary-worker-contract.pdf">Temporary worker contract (PDF 649KB)</a></td>
			<td headers="table_heading_1">Rullion Engineering Personnel Ltd</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="/cdn/static/cms/documents/step-ahead-temporary-worker-contract.pdf">Temporary worker contract (PDF 678B)</a></td>
			<td headers="table_heading_1">Step Ahead</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="/cdn/static/cms/documents/new-bus-for-london-design-supply-and-maintenance-contract.pdf">New Bus for London design supply and maintenance contract (PDF 2.2MB)</a></td>
			<td headers="table_heading_1">Wrightbus Ltd</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="/cdn/static/cms/documents/new-bus-for-london-lease-agreement.pdf">New Bus for London lease agreement (PDF 10.7MB)</a></td>
			<td headers="table_heading_1">n/a</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="/cdn/static/cms/documents/new-bus-for-london-design-contract.pdf">New Bus for London design contract (PDF 1.5MB)</a></td>
			<td headers="table_heading_1">Heatherwick Studio Ltd</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="/cdn/static/cms/documents/paddington-premises-and-paving-contract.pdf">Paddington premises and paving (PDF 23.0MB)</a></td>
			<td headers="table_heading_1">Cleshar Contract Services Ltd</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="/cdn/static/cms/documents/the-routemasters-filming-agreement.pdf">The Routemasters filming agreement (PDF 868KB)</a></td>
			<td headers="table_heading_1">Blast! Films</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="/cdn/static/cms/documents/tottenham-court-road-upgrade-contract.pdf">Tottenham Court Road station upgrade (PDF 124KB)</a></td>
			<td headers="table_heading_1">Taylor Woodrow Construction/BAM Nuttall</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="/cdn/static/cms/documents/vauhall-station-upgrade-contract.pdf">Vauxhall station upgrade (PDF 7.2MB)</a></td>
			<td headers="table_heading_1">Bechtel Ltd</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Car Parks Outsourcing Contract*</td>
			<td headers="table_heading_1">National Car Parks Limited</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="/cdn/static/cms/documents/a13-thames-gateway-dbfo-contract.pdf">A13 Thames Gateway DBFO Contract (PDF 1.34MB)</a></td>
			<td headers="table_heading_1">Road Management Services plc</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="/cdn/static/cms/documents/provision-of-wireless-communications-o2-mobile-services.pdf">Provision of Wireless Communications (PDF 1.14MB)</a></td>
			<td headers="table_heading_1">Telefonica O2 UK Limited</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="/cdn/static/cms/documents/vinci-facilities-contract-lul-signed-copy.pdf">Contract for Services to London Underground (PDF 10.6MB)</a></td>
			<td headers="table_heading_1">Vinci Construction UK</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="/cdn/static/cms/documents/vinci-facilities-contract-tfl-signed-copy.pdf">Contract for Services to TfL (PDF 11.9MB)</a>&nbsp;</td>
			<td headers="table_heading_1">Vinci Construction UK</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><a href="/cdn/static/cms/documents/lorol-concession-agreement-redacted-version.pdf">Concession Agreement between TfL and LOROL (PDF 1.74MB)</a>&nbsp;</td>
			<td headers="table_heading_1">London Overground Rail Operations Limited</td>
		</tr>
	</tbody>
</table></div>

        <p>* Contact us to request these large documents.</p>
    

 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact FOI Case Management</h3>
        </div>
        
        
        
        
        <div class="content-group">
            
        
        <a href="mailto:foi&#64;tfl.gov.uk">foi&#64;tfl.gov.uk</a>
            
        
        </div>
            
                
                 
        
        
        
        
        
        
        <div class="content-group">
            Information Governance<br />
Transport for London<br />
Room 291<br />
2nd Floor, Petty France<br />
London SW1H 0BD
        </div>
        
    </div>
</div>
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/transparency/index" class="plain-button">Transparency</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Contracts published because of Freedom of Information requests";}
        
            
        


 