
    
  



@{ViewBag.Title = "Contactless payment";}
@{ViewBag.Keywords = "Bus operators,Bus passengers,DLR passengers,London Overground passengers,Media,Tram passengers,Tube passengers,C,Research,Ticketing,Buses,DLR,London Overground,Trams,Tube,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/contactless-payment";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Contactless payment</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Contactless payment</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Contactless payment cards can be used to pay for single journeys across the TfL network. This information shows the number of cards that have been used since we launched the system.
        
      </div>
    
    
      
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/analysis-of-contactless-pay-as-you-go-journeys.xlsx">
    <div class="document-download-text">
        <p>Analysis of contactless pay as you go journeys</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 48KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/trend-of-contactless-payment-card-usage-graph.pdf">
    <div class="document-download-text">
        <p>Trend of contactless payment card usage (graph)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 243KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.24 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/daily-breakdown-of-contactless-payment-card-usage.xlsx">
    <div class="document-download-text">
        <p>Daily breakdown of contactless payment card usage</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 304KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/number-of-cpc-validations-by-bus-route.xlsx">
    <div class="document-download-text">
        <p>Contactless payment card usage by bus route</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 464KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.45 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/contactless-incomplete-pay-as-you-go-journeys-by-station.xlsx">
    <div class="document-download-text">
        <p>Contactless incomplete pay as you go journeys by station</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 96KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.09 -->
 
</div>
<p>We publish statistics relating to pay as you go journeys made using contactless payment cards. The information is presented by four-weekly accounting periods starting in April 2014 and includes:</p>
<ul>
    <li>Numbers of bus and tram journeys; London Underground/DLR journeys; National Rail journeys</li>
    <li>The revenue associated with these journeys</li>
    <li>The number of incomplete rail journeys (ie journeys where a customer has only touched in or touched out) and associated revenue, for which a maximum fare is typically charged</li>
    <li>Details relating to the various means by which incomplete journeys are corrected and/or refunded when a customer has been charged a maximum fare. This includes <strong>automatic completion</strong>, whereby the TfL automatically corrects and/or refunds a maximum fare in certain circumstances and <strong>self-serve refunds</strong>, where customers have applied for a refund through their TfL online account or via the TfL Customer Services helpline</li>
    <li>Further information on incomplete journeys and maximum fares is included within the spreadsheet</li>
</ul>
<br />
<br />
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="vertical-button-container">



<a href="/corporate/publications-and-reports/oyster-card"  class="plain-button">Oyster card reports</a>


<a href="/corporate/publications-and-reports/refunds"  class="plain-button">Service delay refunds</a>

</div>

      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = " This page shows the number of contactless payment cards that have been used since we launched the system";}
        
            
        


 