
    
  



@{ViewBag.Title = "Contracts - Crossrail";}
@{ViewBag.Keywords = "Boroughs,Businesses,Elizabeth line,Planning and construction,Suppliers,TfL Rail,C,Contract,Crossrail,Rail,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/contracts-crossrail";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Contracts - Crossrail</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Contracts - Crossrail</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Here we publish information about contracts for the operation of Crossrail
        
      </div>
    
    
      <p>Information on contracts for the construction of Crossrail can be found on the <a href="http://www.crossrail.co.uk/sustainability/economic-sustainability/direct-crossrail-contract-opportunities">Crossrail website</a>.</p>
      
           
      
<div>



<h2>Crossrail services</h2>


<p>We have awarded the contract to operate Crossrail services to MTR Corporation (Crossrail) Limited (MTR).</p>

<p>The contract is for eight years with an option to extend to ten years. The nominal value of concession payments payable to MTR over the base eight-year term is &pound;1.4bn before performance adjustments (bonuses and penalties).</p>

<p>MTR will start running the services from 31 May 2015 between Liverpool Street and Shenfield, taking over the stopping services currently operated by Abellio Greater Anglia.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ctoc-concession-agreement.pdf">
    <div class="document-download-text">
        <p>CTOC concession agreement (redacted)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.94MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.94 -->
 
</div>

</div>
 <div>

<h2>Rolling stock and depot</h2>
<p>The contract for the provision of the rolling stock and depot for the Crossrail Project, the Rolling Stock and Depot Provision Agreement (RSPA), has been awarded by Transport for London (TfL) to Bombardier Transportation UK Ltd. </p>
<p>The Agreement will be managed by Rail for London Ltd (RfL) and covers the supply, delivery and maintenance of 65 new trains and the depot at Old Oak Common.</p>
<p>The documents comprising the Agreement are listed below. The file format is not suitable for online publication but they are available on request by emailing: <a href="mailto:foi&#64;tfl.gov.uk">foi&#64;tfl.gov.uk</a>.</p>
<ul>
    <li>RSPA Contents List</li>
    <li>RSPA Volume 1 - Clauses 1 to 64</li>
    <li>RSPA Volume 2 - General Schedules A1 to A4</li>
    <li>RSPA Volume 3 - General Schedules A5 to A16</li>
    <li>RSPA Volume 4 - Units Schedule B1</li>
    <li>RSPA Volume 9 - Units Schedules B3 to B5</li>
    <li>RSPA Volume 10 - Depot Schedules C1 to C2</li>
    <li>RSPA Volume 11 - Depot Schedules C3 to C9</li>
    <li>RSPA Volume 12 - Operations Schedules D1 to D3</li>
    <li>RSPA Volume 13 - Finance Schedules E1 to E13</li>
</ul>
<p>Volumes 5, 6, 7, and 8 contain Schedule B2, the proposal from Bombardier Transportation in response to the Invitation to Tender. This schedule, together with certain information in the other volumes, is considered by RfL to comprise commercially confidential and proprietary information the disclosure of which is considered likely to prejudice the commercial interests of Bombardier Transportation and is exempt from disclosure in accordance with Section 43(2) of the Freedom of Information Act.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Crossrail contract for operating services";}
        
            
        


 