
    
  



@{ViewBag.Title = "Crime & incident bulletins";}
@{ViewBag.Keywords = "Boroughs,Businesses,Public,C,Performance,Regular reports,Safety and security,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/crime-and-incident-bulletins";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Crime & incident bulletins</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Crime & incident bulletins</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We produce a quarterly bulletin of crime and incident statistics which provides a summary of crime and antisocial behaviour on our services.
        
      </div>
    
    
      
        <p>The bulletin focuses on the London bus network, London Underground, Docklands Light Railway and our London Overground service.</p>
    
      
           
      <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2019/20-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Crime & incident bulletins-2019/20"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2019/20-heading" class="accordion-heading">2019/20</div>
            </div>
            <div id="2019/20-content" class="start-hidden" role="region" aria-labelledby="2019/20-heading">


<div>



<h2>2019/20 documents</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/quarterly-crime-bulletin-q2.pdf">
    <div class="document-download-text">
        <p>2019/20 Crime and antisocial behaviour bulletin Q2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.76MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.76 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-crime-and-antisocial-behaviour-bulletin-q1-1920.pdf">
    <div class="document-download-text">
        <p>2019/20 Crime and antisocial behaviour bulletin Q1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.08MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.08 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2018/19-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Crime & incident bulletins-2018/19"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2018/19-heading" class="accordion-heading">2018/19</div>
            </div>
            <div id="2018/19-content" class="start-hidden" role="region" aria-labelledby="2018/19-heading">


<div>



<h2>2018/19 documents</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-crime-and-antisocial-behaviour-bulletin-q1-1920.pdf">
    <div class="document-download-text">
        <p>2019/20 Crime and antisocial behaviour bulletin Q1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.08MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-statistics-bulletin-1819.pdf">
    <div class="document-download-text">
        <p>Crime statistics bulletin 2018/19</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 318KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-antisocial-behaviour-bulletin-q41819.pdf">
    <div class="document-download-text">
        <p>2018/19 Crime and antisocial behaviour bulletin Q4</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 300KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-antisocial-behaviour-bulletin-q31819.pdf">
    <div class="document-download-text">
        <p>2018/19 Crime and antisocial behaviour bulletin Q3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 345KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.34 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-antisocial-behaviour-bulletin-q21819.pdf">
    <div class="document-download-text">
        <p>2018/19 Crime and antisocial behaviour bulletin Q2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 337KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-antisocial-behaviour-bulletin-q11819.pdf">
    <div class="document-download-text">
        <p>2018/19 Crime and antisocial behaviour bulletin Q1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 226KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2017/18-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Crime & incident bulletins-2017/18"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2017/18-heading" class="accordion-heading">2017/18</div>
            </div>
            <div id="2017/18-content" class="start-hidden" role="region" aria-labelledby="2017/18-heading">


<div>



<h2>2017/18 documents</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-statistics-bulletin-1718.pdf">
    <div class="document-download-text">
        <p>Crime statistics bulletin 2017/18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 257KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-antisocial-behaviour-bulletin-q41718.pdf">
    <div class="document-download-text">
        <p>2017/18 Crime and antisocial behaviour bulletin Q4</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 501KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.49 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-antisocial-behaviour-bulletin-q31718.pdf">
    <div class="document-download-text">
        <p>2017/18 Crime and antisocial behaviour bulletin Q3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 218KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-antisocial-behaviour-bulletin-q21718.pdf">
    <div class="document-download-text">
        <p>2017/18 Crime and antisocial behaviour bulletin Q2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 122KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-antisocial-behaviour-bulletin-q11718.pdf">
    <div class="document-download-text">
        <p>2017/18 Crime and antisocial behaviour bulletin Q1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 470KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.46 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2016/17-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Crime & incident bulletins-2016/17"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2016/17-heading" class="accordion-heading">2016/17</div>
            </div>
            <div id="2016/17-content" class="start-hidden" role="region" aria-labelledby="2016/17-heading">


<div>



<h2>2016/17 documents</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-statistics-bulletin-1617.pdf">
    <div class="document-download-text">
        <p>Crime statistics bulletin 2016/17</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 310KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-antisocial-behaviour-bulletin-q41617.pdf">
    <div class="document-download-text">
        <p>2016/17 Crime and antisocial behaviour bulletin Q4</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 397KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-antisocial-behaviour-bulletin-q31617.pdf">
    <div class="document-download-text">
        <p>2016/17 Crime and antisocial behaviour statistics Q3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 335KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-antisocial-behaviour-bulletin-q21617.pdf">
    <div class="document-download-text">
        <p>2016/17 Crime and antisocial behaviour statistics Q2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 312KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-antisocial-behaviour-bulletin-q11617.pdf">
    <div class="document-download-text">
        <p>2016/17 Crime and antisocial behaviour statistics bulletin Q1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 332KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2015/16-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Crime & incident bulletins-2015/16"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2015/16-heading" class="accordion-heading">2015/16</div>
            </div>
            <div id="2015/16-content" class="start-hidden" role="region" aria-labelledby="2015/16-heading">


<div>



<h2>2015/16 documents</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-statistics-bulletin-1516.pdf">
    <div class="document-download-text">
        <p>2015/16 Crime and antisocial behaviour statistics bulletin full year</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 318KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-antisocial-behaviour-bulletin-q41516.pdf">
    <div class="document-download-text">
        <p>2015/16 Crime and antisocial behaviour statistics bulletin Q4</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 334KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-antisocial-behaviour-bulletin-q31516.pdf">
    <div class="document-download-text">
        <p>2015/16 Crime and antisocial behaviour statistics bulletin Q3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 336KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-antisocial-behaviour-bulletin-q2-1516.pdf">
    <div class="document-download-text">
        <p>2015/16 Crime and antisocial behaviour statistics bulletin Q2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 305KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-antisocial-behaviour-web-bulletin-q11516.pdf">
    <div class="document-download-text">
        <p>2015/16 Crime and antisocial behaviour statistics bulletin Q1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 694KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.68 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2014/15-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Crime & incident bulletins-2014/15"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2014/15-heading" class="accordion-heading">2014/15</div>
            </div>
            <div id="2014/15-content" class="start-hidden" role="region" aria-labelledby="2014/15-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-statistics-bulletin-1415.pdf">
    <div class="document-download-text">
        <p>2014/15 Crime and antisocial behaviour statistics bulletin full year</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 633KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.62 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-antisocial-behaviour-bulletin-q3.pdf">
    <div class="document-download-text">
        <p>2014/15 Crime and antisocial behaviour statistics bulletin Q3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 827KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.81 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-antisocial-behaviour-web-bulletin-q21415.pdf">
    <div class="document-download-text">
        <p>2014/15 Crime and antisocial behaviour statistics bulletin Q2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 341KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-antisocial-behaviour-web-bulletin-q11415.pdf">
    <div class="document-download-text">
        <p>2014/2015 Crime and antisocial behaviour statistics bulletin Q1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 308KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2013/14-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Crime & incident bulletins-2013/14"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2013/14-heading" class="accordion-heading">2013/14</div>
            </div>
            <div id="2013/14-content" class="start-hidden" role="region" aria-labelledby="2013/14-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-statistics-bulletin-2013-14.pdf">
    <div class="document-download-text">
        <p>Crime and antisocial behaviour statistics bulletin full year 2013-2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 280KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-antisocial-behaviour-web-bulletin-q41314.pdf">
    <div class="document-download-text">
        <p>Crime and antisocial behaviour statistics bulletin Q4</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 302KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-antisocial-behaviour.pdf">
    <div class="document-download-text">
        <p>Crime and antisocial behaviour statistics bulletin Q3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 302KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-antisocial-behaviour-web-bulletin-q21314.pdf">
    <div class="document-download-text">
        <p>Crime and antisocial behaviour statistics bulletin Q2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 302KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-antisocial-behaviour-web-bulletin-q1-2013-14.pdf">
    <div class="document-download-text">
        <p>Crime and antisocial behaviour statistics bulletin Q1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 299KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.29 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2012/13-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Crime & incident bulletins-2012/13"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2012/13-heading" class="accordion-heading">2012/13</div>
            </div>
            <div id="2012/13-content" class="start-hidden" role="region" aria-labelledby="2012/13-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-statistic-bulletin-2012-13.pdf">
    <div class="document-download-text">
        <p>Crime and antisocial behaviour statistics bulletin full year 2012-2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 613KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.60 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-antisocial-behaviour-web-bulletin-q4-2012-13.pdf">
    <div class="document-download-text">
        <p>Crime and antisocial behaviour statistics bulletin Q4</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 646KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.63 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-antisocial-behaviour-web-bulletin-q3-2012-13.pdf">
    <div class="document-download-text">
        <p>Crime and antisocial behaviour statistics bulletin Q3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 753KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.74 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-antisocial-behaviour-web-bulletin-q2-2012-13.pdf">
    <div class="document-download-text">
        <p>Crime and antisocial behaviour statistics bulletin Q2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 349KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.34 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-antisocial-behaviour-web-bulletin-q1-2012-13.pdf">
    <div class="document-download-text">
        <p>Crime and antisocial behaviour statistics bulletin Q1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 310KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2011/12-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Crime & incident bulletins-2011/12"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2011/12-heading" class="accordion-heading">2011/12</div>
            </div>
            <div id="2011/12-content" class="start-hidden" role="region" aria-labelledby="2011/12-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-statistic-bulletin-201112.pdf">
    <div class="document-download-text">
        <p>Crime and antisocial behaviour statistics bulletin full year 2011-2012</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 708KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.69 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-antisocial-behaviour-web-bulletin-q41112.pdf">
    <div class="document-download-text">
        <p>Crime and antisocial behaviour statistics bulletin Q4</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 679KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.66 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-antisocial-behaviour-web-bulletin-q31112.pdf">
    <div class="document-download-text">
        <p>Crime and antisocial behaviour statistics bulletin Q3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 323KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-antisocial-behaviour-web-bulletin-q21112.pdf">
    <div class="document-download-text">
        <p>Crime and antisocial behaviour statistics bulletin Q2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.11MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-antisocial-bulletin-q1-2011.pdf">
    <div class="document-download-text">
        <p>Crime and antisocial behaviour statistics bulletin Q1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 486KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.47 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2010/11-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Crime & incident bulletins-2010/11"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2010/11-heading" class="accordion-heading">2010/11</div>
            </div>
            <div id="2010/11-content" class="start-hidden" role="region" aria-labelledby="2010/11-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-statistic-bulletin-201011.pdf">
    <div class="document-download-text">
        <p>Crime and antisocial behaviour statistics bulletin full year 2010-2011</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 117KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-antisocial-behaviour-stats-bulletin-q4.pdf">
    <div class="document-download-text">
        <p>Crime and antisocial behaviour statistics bulletin Q4</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 806KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.79 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-anti-social-behaviour-statistics-bulletin-q3.pdf">
    <div class="document-download-text">
        <p>Crime and antisocial behaviour statistics bulletin Q3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 648KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.63 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-antisocial-behaviour-qu-2-2010-11.pdf">
    <div class="document-download-text">
        <p>Crime and antisocial behaviour statistics bulletin Q2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 318KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-antisocial-statistics-bulletin-june-2010.pdf">
    <div class="document-download-text">
        <p>Crime and antisocial behaviour statistics bulletin Q1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.04MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.04 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2009/10-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Crime & incident bulletins-2009/10"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2009/10-heading" class="accordion-heading">2009/10</div>
            </div>
            <div id="2009/10-content" class="start-hidden" role="region" aria-labelledby="2009/10-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/published-crime-stats-report-q4.pdf">
    <div class="document-download-text">
        <p>Crime and antisocial behaviour statistics bulletin Q4</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.36MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-anti-social-behaviour-statistics-q3-0910.pdf">
    <div class="document-download-text">
        <p>Crime and antisocial behaviour statistics bulletin Q3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.59MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.59 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-anti-social-behaviour-statistics-bulletin-q2-200910.pdf">
    <div class="document-download-text">
        <p>Crime and antisocial behaviour statistics bulletin Q2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 578KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.56 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-anti-social-behaviour-statistics-bulletin-q1-200910.pdf">
    <div class="document-download-text">
        <p>Crime and antisocial behaviour statistics bulletin Q1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 576KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.56 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2008/09-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Crime & incident bulletins-2008/09"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2008/09-heading" class="accordion-heading">2008/09</div>
            </div>
            <div id="2008/09-content" class="start-hidden" role="region" aria-labelledby="2008/09-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-anti-social-behaviour-statistics-bulletin-q4-200809.pdf">
    <div class="document-download-text">
        <p>Crime and antisocial behaviour statistics bulletin Q4</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.23MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-anti-social-behaviour-statistics-bulletin-q3-2008-09.pdf">
    <div class="document-download-text">
        <p>Crime and antisocial behaviour statistics bulletin Q3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.23MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-anti-social-behaviour-statistics-bulletin-q2-2008-09.pdf">
    <div class="document-download-text">
        <p>Crime and antisocial behaviour statistics bulletin Q2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.23MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-anti-social-behaviour-statistics-bulletin-q1-2008-09.pdf">
    <div class="document-download-text">
        <p>Crime and antisocial behaviour statistics bulletin Q1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 582KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.57 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2007/08-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Crime & incident bulletins-2007/08"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2007/08-heading" class="accordion-heading">2007/08</div>
            </div>
            <div id="2007/08-content" class="start-hidden" role="region" aria-labelledby="2007/08-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-anti-social-behaviour-statistics-bulletin-q4-200708.pdf">
    <div class="document-download-text">
        <p>Crime and antisocial behaviour statistics bulletin Q4</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 549KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.54 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-anti-social-behaviour-statistics-bulletin-q3-2007-08.pdf">
    <div class="document-download-text">
        <p>Crime and antisocial behaviour statistics bulletin Q3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 546KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.53 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-anti-social-behaviour-statistics-bulletin-q2-2007-08.pdf">
    <div class="document-download-text">
        <p>Crime and antisocial behaviour statistics bulletin Q2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 563KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.55 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crime-and-anti-social-behaviour-statistics-bulletin-q1-2007-08.pdf">
    <div class="document-download-text">
        <p>Crime and antisocial behaviour statistics bulletin Q1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 548KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.53 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/safety-and-security/index" class="plain-button">Safety &amp; security</a>
<a href="/corporate/publications-and-reports/safety-and-security" class="plain-button">Safety &amp; security reports</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Crime and incident statistics includes information on antisocial behaviour on our networks";}
        
            
        


 