
    
  



@{ViewBag.Title = "Crossrail project updates";}
@{ViewBag.Keywords = "Elizabeth line,Public,TfL Rail,C,Crossrail,Regular reports,Rail,TfL Rail ,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/crossrail-project-updates";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Crossrail project updates</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Crossrail project updates</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        These are independent reviews, general project updates and papers to the Mayor on Crossrail and the Elizabeth line. Appropriate redactions have been applied where necessary in line with FOI requirements.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div>



<h2>Mayoral and TfL response to London Assembly Transport Committee report</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mayor-and-tfl-response-to-transport-committee-crossrail-delay-report.pdf">
    <div class="document-download-text">
        <p>Response to London Assembly Transport Committee report &#45; 4 July 2019.</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 291KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 
</div>

</div>
 
<div>



<h2>Crossrail monthly updates for the London Assembly</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/navin-shah-montly-update-feb-2020.pdf">
    <div class="document-download-text">
        <p>February 2020</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 363KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.35 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/florence-eshalomi-monthly-update-december-2019.pdf">
    <div class="document-download-text">
        <p>December 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 304KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/florence-eshalomi-monthly-update-november-2019.pdf">
    <div class="document-download-text">
        <p>November 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 307KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/florence-eshalomi-monthly-update-october-2019.pdf">
    <div class="document-download-text">
        <p>October 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 316KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/florence-eshalomi-monthly-update-september-2019.pdf">
    <div class="document-download-text">
        <p>September 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 402KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/florence-eshalomi-monthly-update-august-2019.pdf">
    <div class="document-download-text">
        <p>August 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 301KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/florence-eshalomi-monthly-update-july-2019.pdf">
    <div class="document-download-text">
        <p>July 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 364KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/florence-eshalomi-monthly-update-june-19.pdf">
    <div class="document-download-text">
        <p>June 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 264KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/florence-eshalomi-monthly-update-may-19.pdf">
    <div class="document-download-text">
        <p>May 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 372KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/caroline-pidgeon-monthly-update-apr-19.pdf">
    <div class="document-download-text">
        <p>April 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 304KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/caroline-pidgeon-monthly-update-mar-19.pdf">
    <div class="document-download-text">
        <p>March 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 92KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/caroline-pidgeon-montly-update-feb-2019.pdf">
    <div class="document-download-text">
        <p>February 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 517KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.51 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/caroline-pidgeon-monthly-update-january-2019.pdf">
    <div class="document-download-text">
        <p>January 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 258KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/caroline-pidgeon-montly-update-nov-2018.pdf">
    <div class="document-download-text">
        <p>November 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 268KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 
</div>

</div>
 
<div>



<h2>Jacobs Project Representative reports</h2>


<p>Independent assessment of project issues and response from Crossrail Limited</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/project-representative-periodic-report-period-10-2019.pdf">
    <div class="document-download-text">
        <p>Project Status Report 133 Period 10 FY2019-20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 581KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.57 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/project-representative-crossrail-response-to-sponsors-period-9-2019.pdf">
    <div class="document-download-text">
        <p>Crossrail Ltd response to Sponsors on the Project Representative Sponsor Summary Report Period 9 FY2019-20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 124KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/project-representative-periodic-report-period-9-2019.pdf">
    <div class="document-download-text">
        <p>Project Status Report 132 Period 9 FY2019-20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 279KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/project-representative-crossrail-response-to-sponsors-period-8-2019.pdf">
    <div class="document-download-text">
        <p>Crossrail Ltd response to Sponsors on the Project Representative Sponsor Summary Report Period 8 FY2019-20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 75KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/project-representative-periodic-report-period-8-2019.pdf">
    <div class="document-download-text">
        <p>Project Status Report 131 Period 8 FY2019-20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 502KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.49 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/project-representative-crossrail-response-to-sponsors-period-7-2019.pdf">
    <div class="document-download-text">
        <p>Crossrail Ltd response to Sponsors on the Project Representative Sponsor Summary Report Period 7 FY2019-20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 38KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/project-representative-periodic-report-period-7-2019.pdf">
    <div class="document-download-text">
        <p>Project Status Report 130 Period 7 FY2019-20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 409KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.40 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/project-representative-crossrail-response-to-sponsors-period-6-2019.pdf">
    <div class="document-download-text">
        <p>Crossrail Ltd response to Sponsors on the Project Representative Sponsor Summary Report Period 6 FY2019-20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 188KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/project-representative-periodic-reports-period-6-2019.pdf">
    <div class="document-download-text">
        <p>Project Status Report 129 Period 6 FY2019-20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 911KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.89 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/project-representative-crossrail-response-to-sponsors-period-5-2019.pdf">
    <div class="document-download-text">
        <p>Crossrail Ltd response to Sponsors on the Project Representative Sponsor Summary Report Period 5 FY2019-20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 530KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.52 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/project-representative-periodic-report-period-5-2019.pdf">
    <div class="document-download-text">
        <p>Project Status Report 128 Period 5 FY2019-20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 305KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/project-representative-crossrail-response-to-sponsors-period-4-2019.pdf">
    <div class="document-download-text">
        <p>Crossrail Ltd response to Sponsors on the Project Representative Sponsor Summary Report Period 4 FY2019-20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.21MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/project-representative-periodic-report-period-4-2019.pdf">
    <div class="document-download-text">
        <p>Project Status Report 127 Period 4 FY2019-20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 709KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.69 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/project-representative-periodic-report-period-3-2019.pdf">
    <div class="document-download-text">
        <p>Project Status Report 126 Period 3 FY2019-20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 396KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/project-representative-letter-to-sponsors-period-2-2019.pdf">
    <div class="document-download-text">
        <p>Crossrail Ltd response to Sponsors on the Project Representative Sponsor Summary Report Period 2 FY2019-20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.44MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.44 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/project-representative-periodic-reports-period-2-2019.pdf">
    <div class="document-download-text">
        <p>Project Status Report 125 Period 2 FY2019-20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.21MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/project-representative-periodic-reports-period-1-2019.pdf">
    <div class="document-download-text">
        <p>Project Status Report 124 Period 1 FY2019-20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.18MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/project-representative-periodic-reports-period-1-to-8.pdf">
    <div class="document-download-text">
        <p>Project Status Report 1-8 FY2018-19</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 25.42MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 25.42 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/project-representative-periodic-reports-period-9-to-13.pdf">
    <div class="document-download-text">
        <p>Project Status Report 9-13 FY2017-18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 24.58MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 24.58 -->
 
</div>

</div>
 
<div>



<h2>KPMG reviews</h2>


<p>In September 2018, the joint sponsors of the Crossrail project &#45; TfL and the Department for Transport (DfT) &#45; commissioned independent reviews into Crossrail Limited's governance and financial and commercial arrangements. Sponsors also requested an independent review to record the key events and decisions made prior to the announcement of the schedule delay by Crossrail Limited in August 2018.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/kpmg-chronology-of-events.pdf">
    <div class="document-download-text">
        <p>Independent review of Crossrail &#45; Chronology of events</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 711KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.69 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/financial-and-commercial-redacted.pdf">
    <div class="document-download-text">
        <p>Independent review of Crossrail - Finance and Commercial</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.10MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/governance-redacted.pdf">
    <div class="document-download-text">
        <p>Independent review of Crossrail - Governance</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.64MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.64 -->
 
</div>

</div>
 
<div>



<h2>Independent schedule assurance reviews</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sar-tor-for-boss-and-rannachan.pdf">
    <div class="document-download-text">
        <p>Terms of reference</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 33KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cr-sar-report-v1-1-redacted.pdf">
    <div class="document-download-text">
        <p>Independent Crossrail schedule assurance review</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.34MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.34 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crossrail-peer-review-mosh-issued-for-use-final.pdf">
    <div class="document-download-text">
        <p>Crossrail MOHS schedule peer review</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.38MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.38 -->
 
</div>

</div>
 
<div>



<h2>Jacobs Review of Crossrail cost forecast</h2>


<p>Independent review undertaken by Jacobs in June 2018, on behalf of the Crossrail Joint Sponsor Team.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/terms-of-reference-cost-scenario-review.pdf">
    <div class="document-download-text">
        <p>Terms of reference</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 26KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sb-02-crl-cost-scenario-review-report-rev-a-redacted.pdf">
    <div class="document-download-text">
        <p>Crossrail cost scenario review</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.41MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.41 -->
 
</div>

</div>
 
<div>



<h2>Jacobs Reviews of Crossrail Ltd's Semi-Annual Construction Reports</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/semi-annual-construction-report-20.pdf">
    <div class="document-download-text">
        <p>Review of Crossrail Ltd Semi-Annual Construction Report 20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.86MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.86 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/semi-annual-construction-report-19.pdf">
    <div class="document-download-text">
        <p>Review of Crossrail Ltd Semi-Annual Construction Report 19</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.46MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.46 -->
 
</div>

</div>
 
<div>



<h2>Jacobs Review of Crossrail Master Operational Handover Schedule</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/review-crossrail-master-operational-handover-schedule.pdf">
    <div class="document-download-text">
        <p>Review of Crossrail Ltd Master Operational Handover Schedule (MOHS)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 696KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.68 -->
 
</div>

</div>
 
<div>



<h2>Weekly Mayor updates</h2>


<p>Weekly briefing notes provided to the Mayor outlining progress ahead of the launch of the Elizabeth line.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-191218-redacted.pdf">
    <div class="document-download-text">
        <p>19 December 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 133KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-061218-redacted.pdf">
    <div class="document-download-text">
        <p>6 December 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 99KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-261118-redacted.pdf">
    <div class="document-download-text">
        <p>26 November 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 142KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-091118-redacted.pdf">
    <div class="document-download-text">
        <p>9 November 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 154KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-301018-redacted.pdf">
    <div class="document-download-text">
        <p>30 October 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 162KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-161018-redacted.pdf">
    <div class="document-download-text">
        <p>16 October 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 136KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-081018-redacted.pdf">
    <div class="document-download-text">
        <p>8 October 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 126KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-031018-redacted.pdf">
    <div class="document-download-text">
        <p>3 October 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 132KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-240918.pdf">
    <div class="document-download-text">
        <p>24 September 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 261KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-200918.pdf">
    <div class="document-download-text">
        <p>20 September 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 277KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-110918.pdf">
    <div class="document-download-text">
        <p>11 September 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 268KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-280818-redacted.pdf">
    <div class="document-download-text">
        <p>28 August 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 239KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-210818-redacted.pdf">
    <div class="document-download-text">
        <p>21 August 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 133KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-130818-redacted.pdf">
    <div class="document-download-text">
        <p>13 August 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 253KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-070818-redacted.pdf">
    <div class="document-download-text">
        <p>7 August 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 277KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-120718-redacted.pdf">
    <div class="document-download-text">
        <p>12 July 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 793KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.77 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-040718-redacted.pdf">
    <div class="document-download-text">
        <p>4 July 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 803KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.78 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-270618-redacted.pdf">
    <div class="document-download-text">
        <p>27 June 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 803KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.78 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-190618-redacted.pdf">
    <div class="document-download-text">
        <p>19 June 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 838KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.82 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-110618-redacted.pdf">
    <div class="document-download-text">
        <p>11 June 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 867KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.85 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-050618-redacted.pdf">
    <div class="document-download-text">
        <p>5 June 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 870KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.85 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-210518-redacted.pdf">
    <div class="document-download-text">
        <p>21 May 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 825KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.81 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-150518-redacted.pdf">
    <div class="document-download-text">
        <p>15 May 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 885KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.86 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-080518-redacted.pdf">
    <div class="document-download-text">
        <p>8 May 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 853KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.83 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-010518-redacted.pdf">
    <div class="document-download-text">
        <p>1 May 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 854KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.83 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-240418.pdf">
    <div class="document-download-text">
        <p>24 April 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 169KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-160418.pdf">
    <div class="document-download-text">
        <p>16 April 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 165KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-090418.pdf">
    <div class="document-download-text">
        <p>9 April 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 157KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-260318.pdf">
    <div class="document-download-text">
        <p>26 March 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 154KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-190318.pdf">
    <div class="document-download-text">
        <p>19 March 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 277KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-080318.pdf">
    <div class="document-download-text">
        <p>8 March 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 143KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-010318.pdf">
    <div class="document-download-text">
        <p>1 March 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 199KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-220218-redacted.pdf">
    <div class="document-download-text">
        <p>22 February 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 253KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/weekly-mayor-update-150218.pdf">
    <div class="document-download-text">
        <p>15 February 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 134KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 
</div>

</div>
 
<div>



<h2>Emails on Weekly Mayor updates</h2>


<p>Correspondence and draft versions of weekly mayoral updates including input from Crossrail Limited and London Underground's Elizabeth line team.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/december-emails-redacted.pdf">
    <div class="document-download-text">
        <p>December 2018 correspondence</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.59MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.59 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/november-emails-redacted.pdf">
    <div class="document-download-text">
        <p>November 2018 correspondence</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.45MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.45 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/october-emails-redacted.pdf">
    <div class="document-download-text">
        <p>October 2018 correspondence</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.12MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/september-emails-redacted.pdf">
    <div class="document-download-text">
        <p>September 2018 correspondence</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.11MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/august-emails-redacted.pdf">
    <div class="document-download-text">
        <p>August 2018 correspondence</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.82MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.82 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/july-2018-correspondence.pdf">
    <div class="document-download-text">
        <p>July 2018 correspondence</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.77MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.77 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/june-2018-correspondence.pdf">
    <div class="document-download-text">
        <p>June 2018 correspondence</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 10.34MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 10.34 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/may-emails-redacted.pdf">
    <div class="document-download-text">
        <p>May 2018 correspondence</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.61MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.61 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/april-emails-redacted.pdf">
    <div class="document-download-text">
        <p>April 2018 correspondence</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.72MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.72 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/march-emails-redacted.pdf">
    <div class="document-download-text">
        <p>March 2018 correspondence</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 10.85MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 10.85 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/february-emails-redacted.pdf">
    <div class="document-download-text">
        <p>February 2018 correspondence</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.30MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.30 -->
 
</div>

</div>
 
<div>



<h2>Adverse event notices</h2>


<p>Adverse event notices issued by Crossrail Limited to sponsors; Department for Transport and Transport&nbsp;for London and additional related correspondence.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/adverse-event-notice-30-august-2018.pdf">
    <div class="document-download-text">
        <p>Adverse event notice - 30 August 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 960KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.94 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/response-from-crl-24-oct-2017.pdf">
    <div class="document-download-text">
        <p>Response from Crossrail Limited - 24 October 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.19MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/response-from-jst-29-september-2017.pdf">
    <div class="document-download-text">
        <p>Response from joint sponsor team - 29 September 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 49KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/update-from-crl-31-july-2017.pdf">
    <div class="document-download-text">
        <p>Update from Crossrail Limited - 31 July 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/adverse-event-notice-7-july-2017.pdf">
    <div class="document-download-text">
        <p>Adverse event notice - 7 July 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 40KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/adverse-event-notice-23-june-2016.pdf">
    <div class="document-download-text">
        <p>Adverse event notice - 23 June 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 22KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 
</div>

</div>
 
<div>



<h2>Additional information</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/elizabeth-line-20-july-slides-redacted.pdf">
    <div class="document-download-text">
        <p>Update from TfL to Deputy Mayor for Transport and Mayor's Chief of Staff - 20 July 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 290KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crossrail-mayoral-update-260718.pdf">
    <div class="document-download-text">
        <p>Crossrail update schedule - Mayoral meeting - 26 July 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 327KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/draft-communications-plan.pdf">
    <div class="document-download-text">
        <p>Draft communications plans</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.37MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/letters-with-siemens.pdf">
    <div class="document-download-text">
        <p>Letters between TfL and Siemens</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.67MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.67 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crossrail-strategic-risk-register.pdf">
    <div class="document-download-text">
        <p>Crossrail strategic risk register</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 163KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/agenda-siemens-tfl-meeting-30-april-2018.pdf">
    <div class="document-download-text">
        <p>TfL meeting with Siemens 30 April 2018 - agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 244KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.24 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/elrb-jan-sept-2018-combined.pdf">
    <div class="document-download-text">
        <p>Elizabeth line readiness board - agenda, minutes and papers - Jan to Sept 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.24MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.24 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/agenda-and-minutes-elizabeth-line-readiness-board.pdf">
    <div class="document-download-text">
        <p>Elizabeth line readiness board - agenda and minutes - Sept 2017 to Nov 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 881KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.86 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/26-july-2018-meeting-notes.pdf">
    <div class="document-download-text">
        <p>Meeting notes - 26 July 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 240KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        
<div class="fact-box-wrapper">
    <span class="blue-span">Also on this site</span>
    <div class="fact-box-content">
        
        <div class="vertical-button-container">
        
        <a href="/corporate/publications-and-reports/crossrail-board-minutes"  class="plain-button">Crossrail board minutes</a> 
        <a href="/corporate/publications-and-reports/crossrail-sponsor-board-minutes"  class="plain-button">Crossrail sponsor board minutes</a> 
        </div>
    </div>
</div>
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "These are independent reviews, general project updates and papers to the Mayor on Crossrail and the Elizabeth line.";}
        
            
        


 