
    
  



@{ViewBag.Title = "Crossrail sponsor board minutes";}
@{ViewBag.Keywords = "Elizabeth line,TfL Rail,C,Crossrail,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/crossrail-sponsor-board-minutes";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Crossrail sponsor board minutes</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Crossrail sponsor board minutes</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Minutes of meetings with sponsors: Department for Transport and Transport for London. Part A meetings are held with sponsors only, Part B have Crossrail Limited attendees. Appropriate redactions have been applied where necessary in line with FOI requirements.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div>



<h2>2019</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sponsor-board-minutes-part-a-13-december-2019.pdf">
    <div class="document-download-text">
        <p>Sponsor board minutes Part A - 13 December 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 98KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sponsor-board-minutes-part-b-13-december-2019.pdf">
    <div class="document-download-text">
        <p>Sponsor board minutes Part B - 13 December 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 148KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sponsor-board-minutes-part-a-15-november-2019.pdf">
    <div class="document-download-text">
        <p>Sponsor board minutes Part A - 15 November 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 285KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sponsor-board-minutes-part-b-15-november-2019.pdf">
    <div class="document-download-text">
        <p>Sponsor board minutes Part B - 15 November 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 282KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sponsor-board-minutes-part-a-17-october-2019.pdf">
    <div class="document-download-text">
        <p>Sponsor board minutes Part A - 17 October 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 104KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sponsor-board-minutes-part-b-17-october-2019.pdf">
    <div class="document-download-text">
        <p>Sponsor board minutes Part B - 17 October 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 97KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sponsor-board-minutes-part-a-20-september-2019.pdf">
    <div class="document-download-text">
        <p>Sponsor board minutes Part A - 20 September 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 96KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sponsor-board-minutes-part-b-20-september-2019.pdf">
    <div class="document-download-text">
        <p>Sponsor board minutes Part B - 20 September 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 79KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sponsor-board-minutes-part-a-23-august-2019.pdf">
    <div class="document-download-text">
        <p>Sponsor board minutes Part A - 23 August 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 15KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sponsor-board-minutes-part-b-23-august-2019.pdf">
    <div class="document-download-text">
        <p>Sponsor board minutes Part B - 23 August 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 33KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sponsor-board-minutes-part-a-25-july-2019.pdf">
    <div class="document-download-text">
        <p>Sponsor board minutes Part A - 25 July 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sponsor-board-minutes-part-b-25-july-2019.pdf">
    <div class="document-download-text">
        <p>Sponsor board minutes Part B - 25 July 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 40KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sponsor-board-minutes-part-a-28-june-2019.pdf">
    <div class="document-download-text">
        <p>Sponsor board minutes Part A - 28 June 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 33KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sponsor-board-minutes-part-b-28-june-2019.pdf">
    <div class="document-download-text">
        <p>Sponsor board minutes Part B - 28 June 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sponsor-board-minutes-part-b-07-june-2019.pdf">
    <div class="document-download-text">
        <p>Sponsor board minutes Part A - 7 June 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 53KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sponsor-board-minutes-part-b-07-june-2019.pdf">
    <div class="document-download-text">
        <p>Sponsor board minutes Part B - 7 June 2019 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 53KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sponsor-board-minutes-part-a-03-may-2019.pdf">
    <div class="document-download-text">
        <p>Sponsor board minutes Part A - 3 May 2019 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 47KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sponsor-board-minutes-part-b-03-may-2019.pdf">
    <div class="document-download-text">
        <p>Sponsor board minutes Part B - 3 May 2019 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 55KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sponsor-board-minutes-part-a-05-april-2019.pdf">
    <div class="document-download-text">
        <p>Sponsor board minutes Part A - 5 April 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 28KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sponsor-board-minutes-part-b-05-april-2019.pdf">
    <div class="document-download-text">
        <p>Sponsor board minutes Part B - 5 April 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 69KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sponsor-board-minutes-part-a-08-march-2019.pdf">
    <div class="document-download-text">
        <p>Sponsor board minutes Part A - 8 March 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 33KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sponsor-board-minutes-part-b-08-march-2019.pdf">
    <div class="document-download-text">
        <p>Sponsor board minutes Part B - 8 March 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 55KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sponsor-board-minutes-part-a-15-february-2019.pdf">
    <div class="document-download-text">
        <p>Sponsor board minutes Part A - 15 February 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 36KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sponsor-board-minutes-part-b-15-february-2019.pdf">
    <div class="document-download-text">
        <p>Sponsor board minutes Part B - 15 February 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 67KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sponsor-board-minutes-part-a-18-january-2019.pdf">
    <div class="document-download-text">
        <p>Sponsor board minutes Part A - 18 January 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 34KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sponsor-board-minutes-part-b-18-january-2019.pdf">
    <div class="document-download-text">
        <p>Sponsor board minutes Part B - 18 January 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 74KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 
</div>

</div>
 
<div>



<h2>2018 - 2013</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sponsor-board-minutes-part-a-10-december-2018.pdf">
    <div class="document-download-text">
        <p>Sponsor board minutes Part A - 10 December 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sponsor-board-minutes-part-b-10-december-2018.pdf">
    <div class="document-download-text">
        <p>Sponsor board minutes Part B - 10 December 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 63KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/part-a-sponsor-board-2013-to-2018.pdf">
    <div class="document-download-text">
        <p>Sponsor board minutes Part A - 2018 - 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.74MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.74 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/part-b-sponsor-board-2013-to-2018.pdf">
    <div class="document-download-text">
        <p>Sponsor board minutes Part B - 2018 - 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.46MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.46 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/crossrail-board-minutes" class="plain-button">Crossrail board minutes</a>
<a href="/corporate/publications-and-reports/crossrail-project-updates" class="plain-button">Crossrail project updates</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Crossrail sponsor board minutes";}
        
            
        


 